[2016-12-10 03:54] #4110 closed

[2016-12-10 07:06] sherm1 commented on #4452
Thanks, @jwnimmer-tri. I believe this is exactly what @amcastro-tri was referring to in #2710 -- is that right, Alejandro? I reassigned both of these to @SeanCurtis-TRI.

[2016-12-10 11:30] #3976 closed

[2016-12-10 11:49] RussTedrake commented on #4448
Here's a link (from @jwnimmer-tri) for folks to view the proposed API:
https://github.com/jwnimmer-tri/drake/blob/systems-single-base/drake/systems/framework/primitives/siso_vector_system.h#L109

@mposa -- this is what I was telling you about last night.  @jwnimmer-tri -- there is a lot of interest from the matlab users of drake that are considering the move to c++.  I think it will be a great thi

[2016-12-10 18:21] jwnimmer-tri commented on #4448
I've rebased to latest master API changes and added a bit more implementation.  Unclear how quickly I'll make progress to wrap this up, but I'll keep it on deck.

[2016-12-10 21:27] jwnimmer-tri commented on #4305
... and now, it's the _only_ code using System 1.0.

[2016-12-10 21:59] liangfok opened #4454 "rbtree.py Is Not Automatically Regenerated When A New Header Is Included In rbtree.i"
# Problem Definition

When a new header file is included in `drake-distro/drake/bindings/swig/rbtree.i`, the classes that are defined within this header file do not appear in the automatically-generated `drake-distro/drake/bindings/python/pydrake/rbtree.py` even after rebuilding `drake`. Oddly, the new classes' symbols _do_ appear in `drake-distro/build/drake/bindings/swig/_rbtree.so`, meaning the

[2016-12-11 03:41] liangfok opened #4456 "Should valkyrie_pd_ff_controller Be Added As A Unit Test?"
The `valkyrie_pd_ff_controller` executable is currently not being executed as a unit test. Should it be?

[2016-12-11 03:46] siyuanfeng-tri commented on #4456
short answer is no. the feedforward part is computed offline, and will be off pretty substentialy during sim, so it's not a stable test case yet.

[2016-12-11 04:46] liangfok commented on #4456
OK thanks. I'm messing with the parsers and got it to compile but noticed I wasn't actually testing whether it ran.

[2016-12-11 04:46] #4456 closed

[2016-12-11 05:58] liangfok commented on #4451
Again: https://drake-jenkins.csail.mit.edu/job/linux-gcc-experimental-open-source/1513/

[2016-12-11 13:32] jwnimmer-tri opened #4457 "Update BUILD files for test-declaration consistency"
Before using Bazel with a wider audience, we should be internally consistent.  One big divergence is declaring tests, e.g., in foo/BUILD vs foo/test/BUILD.  We've agreed to use foo/BUILD, so fix the tree to be consistent.

This is part of #3129.

[2016-12-11 14:36] jwnimmer-tri commented on #4457
Code is ready at https://github.com/jwnimmer-tri/drake/tree/bazel-refactor_test_rules but needs #4453 to merge first.

[2016-12-12 03:08] siyuanfeng-tri opened #4460 "cleanup piecewise function / polynomial"
mostly make them comply with style guide, also add some documentation.

[2016-12-12 13:32] jwnimmer-tri commented on #4146
@BetsyMcPhail how do we observe or reproduce the error, in order to fix it?

[2016-12-12 13:33] jwnimmer-tri opened #4462 "Move systems/framework/primitives to systems/primitives"
I recall @RussTedrake suggesting this in the hallway.  Is that correct?

[2016-12-12 13:49] jwnimmer-tri commented on #4448
From a survey of existing systems in-tree, there seem to be common cases worth adding sugar for:
 1. `SingleOutputVectorSource`: 0 input, 0 state, 1 output vector
 2. `SisoFeedthroughVectorSystem`: 1 input vector, 0 state, 1 output vector, direct-feedthrough
 3. `SisoNonfeedthroughVectorSystem`: 1 input vector, 1 continuous state vector, 1 output vector identical to continuous state, not direct-fe

[2016-12-12 14:46] jwnimmer-tri opened #4463 "Add buildifier tool and docs"
Buildifier is clang-format for BUILD files.  We should have Drake developers use it on the BUILD files.  This is a portion of #3129.

WIP at https://github.com/jwnimmer-tri/drake/tree/bazel-buildifier-in-workspace ~but we should wait for bazelbuild/buildifier#21 to merge before pushing my WIP to master~.  I can work on docs in the meantime.

[2016-12-12 14:55] jwnimmer-tri opened #4464 "Deal with ccache in PATH for bazel builds"
When a user has the magic `ccache` directory in their `$PATH`, bazel shows weird error messages that don't indicate the root cause of the problem and then fails.

Given that `ccache` is essentially required to have a good experience when using the CMake backends (ninja, make, etc.), and we can't (or at least shouldn't) have CMake inject ccache onto the path for us, we should do our best to accommo

[2016-12-12 15:02] jwnimmer-tri opened #4465 "Bring yaml-cpp support into WORKSPACE"
I'll want this to support `automotive/maliput`.

Probably using `bullet` as a cargo-cult example should work well.

Part of #3129.

[2016-12-12 15:14] david-german-tri commented on #4454
I think @jamiesnape knows more than anyone else about the SWIG mess currently, so he may have some thoughts.

[2016-12-12 15:16] jwnimmer-tri opened #4467 "Add LCM python support to lcm.BUILD"
I think this is the last thing remaining to get `drake/automotive` fully into Bazel.

Part of #3129.

[2016-12-12 15:16] RussTedrake commented on #4462
Correct!

[2016-12-12 15:17] jwnimmer-tri commented on #4462
@david-german-tri @sherm1 or anyone else: any objections?

[2016-12-12 15:32] RussTedrake commented on #4448
The list of three looks good.

- The first seems like the least important (the current implementations probably cover most of the use cases, and the full syntax is not so cumbersome)
- the emphasis on feedthrough is not the most important distinction between 2 and 3, so i would tweak the names.  The bigger distinction is whether they have any state.  Declaring feedthrough is also not much of a bur

[2016-12-12 15:41] david-german-tri commented on #4462
Makes sense to me now that we have entered the post-System1, post-MATLAB era.  Feel free to reassign to me if you haven't already started.

[2016-12-12 15:47] jwnimmer-tri commented on #4462
Sure, thanks!  Beware the conflicting PR #4459 still in flight.

[2016-12-12 15:50] RussTedrake commented on #4448
More quick thoughts:
- your wrapper could call is_direct_feedthrough itself and dispatch to EvalOutputs with or without the input available (or throw).

- you could templte eg SisoContinuousSystem on input type, state type, and output type.  Those types must derive from basicvector, and basicvector would be the default.  But you could handle the downcast for people. This would cover eg pendulum/ac

[2016-12-12 15:51] RussTedrake commented on #4448
Even better would be to have a mandatory feedthrough constructor argument.

[2016-12-12 16:00] liangfok opened #4468 "Mysterious CI Error: Could NOT extract MOSEK from archive"
# The Error

[code]

# Example Logs

* https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-clang-nightly-ros-release/139/

# Prognosis

Maybe the HTTP server hosting MOSEK went down? I also see the following lines from the console log, which indicate MOSEK is being downloaded as a tarball:

[code]

[2016-12-12 16:01] liangfok commented on #3752
Again: https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/mac-clang-ninja-nightly-matlab-release/206/

[2016-12-12 16:08] liangfok opened #4469 "Warning - SWIG / Python Detected a Memory Leak"
# Problem Definition

The following warning occurs when the SWIG / Python unit test `test_python_pydrake.test.testPR2IK` or `test_python_pydrake.test.test_urdf_parser` are run:

[code]

# Examples:
* https://drake-cdash.csail.mit.edu/testDetails.php?test=5480982&build=251903
* https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-clang-continuous-debug/1387/

[2016-12-12 16:09] sherm1 commented on #4462
Seems like a good idea to me.

[2016-12-12 16:14] naveenoid commented on #4462
+1

On Mon, Dec 12, 2016 at 5:09 PM, Michael Sherman <notifications@github.com>
wrote:

[2016-12-12 16:15] #3435 closed

[2016-12-12 17:12] liangfok opened #4471 "steering_command_driver.py Should Be Updated To Support Two Modes (Velocity vs. Acceleration) Use Realistic Acceleration / Jerk Profiles"
# Problem Definition

`drake/automotive/steering_command_driver.py` is currently being used by both physics-based simulations (e.g., `car_sim_lcm`) and non-physics-based simulations (e.g., the `simple_car` within `automotive_demo`). This is problematic because the two types of simulations expect different input types. Specifically, the physics-based demo wraps a dynamics-based plant in a PID contr

[2016-12-12 17:18] jwnimmer-tri commented on #4471
I mean, the throttle message is batshit anyway.  Sometimes it means target velocity, sometimes it means acceleration.  I feel like we should fix the system models before we fix the key/joy input tool.

[2016-12-12 17:25] liangfok opened #4472 "lcmt_driving_command_t Should Document the Semantics of Throttle / Brake"
# Problem Definition

`drake/lcmtypes/lcmt_driving_command_t.lcm` includes `throttle` and `brake` reference values, as shown below:

[code]

The semantics of these two variables is subtle and there is currently no documentation included in the message definition.

# Proposed Solution

Let's add the following documentation to `throttle` and `brake`:

[code]

Given the above documentation, the simul

[2016-12-12 17:26] liangfok commented on #4471
Good point. I created #4472 and gave it a higher priority.

[2016-12-12 17:30] jwnimmer-tri commented on #4472
Careful.  The `SimpleCar` model uses this message as true throttle & brake; see https://github.com/RobotLocomotion/drake/blob/21c72d82e859e9367c5f1dd75b39673af93d1ff2/drake/automotive/simple_car.cc#L117.

IIRC @RussTedrake was going to rewrite the xdot algebra, but I can't quite recall if the input remains `a` or `v_desired`.

[2016-12-12 17:34] liangfok commented on #4472
I believe the SimpleCar code can be simplified to just use a single "desired velocity" value. Here is the original code:

[code]

Is the following code identical?

[code]

_Disclaimer: The above may be completely wrong b/c I just quickly skimmed the code and didn't test anything._

[2016-12-12 17:53] liangfok commented on #4471
Looking at `SimpleCar`'s usage of `lcmt_driving_command_t`  (per @jwnimmer-tri's comment here: https://github.com/RobotLocomotion/drake/issues/4472#issuecomment-266495303), I now see that its `throttle` and `brake` values are actually gains applied to the maximum acceleration / deceleration of the vehicle. Thus, their units are "change in the acceleration per simulation cycle". Thus, the linear in

[2016-12-12 18:00] liangfok commented on #4472
Upon further inspection, `lcmt_driving_command_t`'s `brake` and `throttle` fields should simply be interpreted as gain for selecting the desired change in acceleration / deceleration of a vehicle. In other words, they are currently being interpreted as a "normalized jerk". In this case, perhaps we should replace the `brake` and `throttle` fields with a single `normalized_jerk` field. I've updated

[2016-12-12 18:01] david-german-tri commented on #4325
I believe we determined this was actually fixed by #4331 and #4372, so I'm closing again.  @RussTedrake feel free to reopen if we've still missed something here.

[2016-12-12 18:01] #4325 closed

[2016-12-12 18:31] RussTedrake commented on #4472
my version is here:
https://github.com/RussTedrake/drake/blob/simplecar/drake/automotive/simple_car.cc#L112

I could actually PR it today/tomorrow... now that the if_then_else work has landed.

[2016-12-12 18:39] #4457 closed

[2016-12-12 18:53] david-german-tri commented on #4454
BTW it might be useful to check this assumption.  We've seen some indications recently that if your CMake isn't perfectly crafted, it will produce `ninja` that ignores file dependencies like this but `make` that respects them.  (See for instance #4303, which isn't a perfect analogue - and which I still don't fully understand - but still.)

[2016-12-12 20:25] jamiesnape commented on #4454
There is an issue with the logic, I think. I do not think this one is a general CMake issue, as much as it an unconventional way of using it. You definitely should not have to nuke your whole build. At worst, you would remove the drake build directory and the configure, build, and install stamp files.

[2016-12-12 20:27] jamiesnape commented on #4454
The fix is to rewrite the code, which would not take especially long, but it could well be time better spent looking at SWIG alternatives.

[2016-12-12 21:04] ljarin opened #4478 "Octomap library linking problem"
I'm trying to build DRAKE using ROS indigo on ubuntu 14.04. The build fails in the drake package due to some sort of linking problem with an octomap library. Here is the most relevant portion of the terminal output:

[code]

There were some other warnings that did not seem too related. The files in my /opt/ros/indigo/include/octomap look to be alright, and I have used octomap in my own ros package

[2016-12-12 21:06] jwnimmer-tri commented on #4478
Possibly a duplicate of #3814?

[2016-12-12 21:08] ljarin commented on #4478
Oops, yeah looks like it.

[2016-12-12 21:09] jwnimmer-tri commented on #4478
No problem.  It looks like that discussion has much more content, so I'll close this one.

[2016-12-12 21:09] #4478 closed

[2016-12-13 04:51] amcastro-tri commented on #4452
That is exactly right. Resolution of #2710 will take care of this and I know @SeanCurtis-TRI is already working on this.

[2016-12-13 11:37] ashutosh-devel commented on #1149
To solve this:

go to the glnxa64/ directory inside the MATLAB/R20XXa/bin folder and replace all occurrences of c++11 with c++0x in the g++_glnax64.xml file present there. It worked for me.

[2016-12-13 11:54] RussTedrake opened #4484 "bazel-bin/external and bazel-bin/externals?"
looks like there might be some inconsistency in the BUILD files, since I get both directories appearing in my build output?

[2016-12-13 12:15] BetsyMcPhail commented on #4146
Thanks for the reminder - I will try to get some more information on this error.

[2016-12-13 15:00] jwnimmer-tri commented on #4484
The distinction here is whether the external has native Bazel support (gflags), or whether Drake adds the BUILD recipes for it (everything else).  I think "working as designed" though re-open if there's some more specific problem or request to fix.

[2016-12-13 15:00] #4484 closed

[2016-12-13 15:01] jwnimmer-tri commented on #4469
I'm not sure why we care?

[2016-12-13 15:01] mwoehlke-kitware commented on #4383
So... it turns out a bug managed to sneak into CMake master that broke launchers with the `make` generator. This caused ctest/cdash to be unable to recognize errors when building C++ sources. This affected the bleeding-edge CMake we were using on the CI machines (the bug is not present in any released version). It's been fixed now and the AMI's updated.

[2016-12-13 15:01] #4383 closed

[2016-12-13 15:03] jwnimmer-tri opened #4485 "Investigate Bazel support for CLion"
Many Drake developers use CLion.  We should figure out what works and doesn't with Bazel BUILD and WORKSPACE files, consider what improvements we can make, and document the results.

Part of #3129.

[2016-12-13 15:21] liangfok opened #4486 "Reconsider the use of SWIG"
# Problem Definition

Numerous oddities involving SWIG have cropped up:

* #4469
* #4454
* #4243
* #2646

# Action Item

We should reconsider whether to continue using SWIG or switch to something else that is perhaps more target language specific. For example, for Python bindings, @jwnimmer-tri recommended [Boost::Python](http://www.boost.org/doc/libs/1_62_0/libs/python/doc/html/index.html) and @j

[2016-12-13 15:22] liangfok commented on #4469
We might not care depending on whether we decide to switch away from SWIG: https://github.com/RobotLocomotion/drake/issues/4486.

[2016-12-13 15:24] jwnimmer-tri commented on #4469
I mean, say the pydrake bindings leak a little memory.  Do we even care about that?  This is just a console message, not a memcheck warning, not an anything.  I guess it's confusing in the build output, but beyond that I don't see why we care.

[2016-12-13 15:25] liangfok commented on #4469
Are you saying this warning is not indicative of a defect in C++ Drake?

[2016-12-13 15:27] jwnimmer-tri commented on #4469
Right.  It's specific to SWIG.

[2016-12-13 15:28] liangfok commented on #4469
Oh great. That's good to know. I'll close this issue for now pending the resolution of #4486.

[2016-12-13 15:28] #4469 closed

[2016-12-13 15:43] jamiesnape commented on #4469
Note that memcheck screams so much when testing the Python bindings that we just switched them off.

[2016-12-13 15:51] jamiesnape commented on #4486
If we use Boost for anything else, we should use Boost::Python without hesitation. The two options above are very, very similar otherwise, so I have no real preference.

We have the long-standing Boost and MATLAB issues to consider, of course.

[2016-12-13 16:10] jwnimmer-tri commented on #4464
FTR idea from another dev: if there's a good `ccache` env var to turn it off, that would be the easiest solution.  That would depend on the failure being at runtime not sandbox time, though.

[2016-12-13 16:36] liangfok opened #4487 "Need a DiscretePidController"
# Problem Definition

Per F2F discussion with @sammy-tri and @naveenoid, the existing `drake::systems::PidController` (implemented in `drake-distro/drake/systems/controllers/pid_controller.h`) runs at the same update frequency as the plant that it is controlling. This is problematic because it prevents us from increasing the damping (i.e., derivative / Kd) gains by any meaningful amount without th

[2016-12-13 16:40] david-german-tri commented on #4487
FWIW I think `DiscretePidController` is both much less work and more conceptually sound, but I believe either approach is viable from a System2 standpoint.

[2016-12-13 16:43] liangfok opened #4488 "Move WorldSimTreebuilder into General Location"
During a F2F meeting with @sammy-tri and @naveenoid, we decided that the C++ class `drake::examples::kuka_iiwa_arm::WorldSimTreeBuilder` is of general use and should thus be moved into a more general location. Functionally, it is similar to `AddFlatTerrainToWorld()`, which is defined in `drake-distro/drake/multibody/rigid_body_tree_construction.h`. One option would be to move `WorldSimTreeBuilder`

[2016-12-13 17:06] jwnimmer-tri commented on #4488
Generalize at the rule of three (or possibly two with a good argument for what the third is).  What other two portions of Drake want this utility?

[2016-12-13 17:09] liangfok commented on #4488
It's currently being used by @naveenoid's KUKA world demo, and @sammy-tri's KUKA + Gripper demo. I would like to use in the HSRb demos soon.

[2016-12-13 17:10] liangfok commented on #4488
It will likely be used by the automotive demos once we start simulating more complex environments.

[2016-12-13 17:16] jwnimmer-tri commented on #4488
So it sounds like "KUKA" and "HSRb" are the two uses, so that's a good start.  But I'm surprised the HSRb stuff wants programmatic building of scenes -- I thought it was mostly ROS, which means using an SDF to specify the world.

[2016-12-13 17:23] liangfok commented on #4488
For the HSRb, I'd like to cherry-pick the best of both worlds (Drake vs. ROS). For example, I'm hoping we can support programmatic world creation, then provide a method like `std::vector<std::string> RigidBodyTree::GenerateUrdfs()`, which returns a set of URDFs representing the world. These URDFs can then be loaded onto the ROS parameter server for use by all of the other sibling ROS nodes.

FTR,

[2016-12-13 18:26] #4462 closed

[2016-12-13 18:57] mwoehlke-kitware commented on #4034
RobotLocomotion/drake-ci#62 will hopefully give us some information if it happens again, and should also work around the problem by retrying the failed git command. Builds that have git errors should show as 'unstable'. (For build-cop purposes, these can be treated as "clean", but the strace output should be inspected for clues.)

[2016-12-13 19:49] rdeits commented on #4469
This is a symptom of swig being asked to return a type that it hasn't created a destructor for. It's easy to fix on a case-by-case basis, but only if we care enough about making swig work.

[2016-12-13 19:50] rdeits commented on #4454
I am almost entirely certain that this error was not present when I developed the swig bindings, which would support the hypothesis that it's not present when using `make`.

[2016-12-13 19:51] rdeits commented on #4486
The additional issue is whether you want the Matlab bindings to be identical to the Python bindings and how much work you want to do to make that happen.

[2016-12-13 21:12] #4463 closed

[2016-12-13 21:53] RussTedrake commented on #3053
Absolutely agree.  We should also modify the lcm_viewer_load_robot message to send over those model names, so that it can be displayed properly in the scene graph.  discussed quickly w/ @patmarion

[2016-12-13 22:31] #3622 closed

[2016-12-13 22:32] #3332 closed

[2016-12-13 22:32] #2921 closed

[2016-12-13 23:33] david-german-tri commented on #2013
`priority: high` is clearly not accurate; it seems unlikely this will ever get TRI attention, so I'm going to move it to the RLG backlog.

[2016-12-13 23:41] david-german-tri commented on #3363
This got done in #4031.

[2016-12-13 23:41] #3363 closed

[2016-12-13 23:44] david-german-tri commented on #3308
I think the emerging consensus across a bunch of examples in `systems/framework` and `systems/analysis` is that users of Systems should generally only have to pass the Context, _and_ implementers of Systems should implement methods where the only mutable arguments are the things that are allowed to change.   NVI is useful for achieving this.

[2016-12-13 23:44] #3308 closed

[2016-12-13 23:47] david-german-tri commented on #2813
It sounds to me like there are no action items left in this issue (and it hasn't been a pain point in the past five months, to the best of my knowledge), so I'll close it.

[2016-12-13 23:47] #2813 closed

[2016-12-13 23:49] david-german-tri commented on #2467
(cleaning up old issues)  This was useful, thanks @sherm1!  It sounds like the answer is yes, abstract state will be coming to RigidBodyPlant eventually.

[2016-12-13 23:49] #2467 closed

[2016-12-13 23:50] david-german-tri commented on #1987
Agree with @jwnimmer-tri, closing as wontfix.

[2016-12-13 23:50] #1987 closed

[2016-12-13 23:52] david-german-tri commented on #1732
I think the current System2 design allows and encourages this sort of thing, so I'm going to close this as resolved.

[2016-12-13 23:52] #1732 closed

[2016-12-14 03:12] liangfok commented on #4487
@david-german-tri: Do you think we should _replace_ the existing PidController with one that is discrete?

[2016-12-14 15:00] david-german-tri commented on #3662
It is possible that #2710 will address (109) above.

[2016-12-14 15:03] david-german-tri commented on #3662
(46) above was fixed in https://github.com/stevengj/nlopt/pull/89 and #3909

[2016-12-14 15:03] david-german-tri commented on #3662
(150) above was fixed in #3664

[2016-12-14 15:23] rpoyner-tri commented on #4465
resolved by #4494.

[2016-12-14 15:23] #4465 closed

[2016-12-14 15:46] david-german-tri opened #4496 "Unprovisioned nightly Bazel build on Xenial"

[2016-12-14 15:48] david-german-tri opened #4497 "Mac Bazel build in CI"
Should be pinned to the 0.4.2 release: https://github.com/bazelbuild/bazel/releases/tag/0.4.2

[2016-12-14 15:59] jamiesnape commented on #4496
@BetsyMcPhail Clone `linux-xenial-gcc-bazel-experimental` and set the extra environment variables to trigger the provisioning.

[2016-12-14 16:02] jamiesnape commented on #4497
@BetsyMcPhail Double check the version of Bazel on the image. If we are lucky and it is 0.4.2, run `brew pin bazel` to pin the version. After that, the logic in the Linux builds should be largely applicable to Mac.

[2016-12-14 16:10] jwnimmer-tri commented on #4467
WIP will be at https://github.com/jwnimmer-tri/drake/tree/bazel-lcm-python
 - [x] `_lcm.so`
 - [ ] lcmgen python output
 - [ ] put everything in the right directories
 - [ ] update (or write new) instructions

[2016-12-14 16:18] #4385 closed

[2016-12-14 16:22] liangfok commented on #4487
@sammy-tri at what discrete frequency were you running the controller?

[2016-12-14 16:26] sammy-tri commented on #4487
200hz, 100hz, 50hz.  Haven't spent much time on it yet.

[2016-12-14 16:29] soonho-tri commented on #3752
Again: https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/mac-clang-ninja-continuous-debug/1055

[2016-12-14 16:29] liangfok commented on #3752
Again: https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/mac-clang-ninja-continuous-debug/1055/

[2016-12-14 16:29] soonho-tri commented on #3752
@liangfok :-)

[2016-12-14 16:29] liangfok commented on #3752
:+1: :smile:

[2016-12-14 16:33] david-german-tri commented on #4487
Continuous PID controllers are a real thing people like to build, so I think we should continue to have a model of them, no?  (And if the model is wrong, it should be fixed as and when there's a need.)

[2016-12-14 17:42] liangfok opened #4500 "Generalize RigidBodyPlant's Input and Output Ports To be Model Instance Specific"
# Problem Definition

Currently, the `RigidBodyPlant` has one input port containing the effort command for _all_ actuators in the plant's `RigidBodyTree`, and one output port containing the _entire tree's_ configuration. This design is cumbersome when there are numerous model instances within the `RigidBodyTree` and each model instance needs to be controlled by a different controller. Using the cu

[2016-12-14 17:53] liangfok commented on #4487
During a F2F meeting with @RussTedrake, we've decided to wrap the current `PidController` in a zero-order-hold system to mimic a controller that's updating slower than the plant. The reason we want to keep the "continuous" version of the `PidController` is because it will allow more powerful analysis to be performed on the overall system. Because of this, I shall close this issue.

[2016-12-14 17:53] #4487 closed

[2016-12-14 17:53] SeanCurtis-TRI commented on #4500
Philosophically, this makes sense.  Practically, is this arising now because we're abusing the rigid body plant to move non-physics cars?  (And feel free to ignore this if I'm way off base.)

[2016-12-14 17:53] sherm1 commented on #4500
This sounds very reasonable but needs @amcastro-tri to comment -- delay likely due to conference attendance.

[2016-12-14 17:58] RussTedrake commented on #4487
just to be clear, I commented that
1) we are likely to make some generic tools for creating sampled-data approximation of systems (e.g. wire up zero-order-hold outputs, etc.  and the PID doesn't feel like a special enough case to go around the more general approach.
2) the continuous time abstraction is much simpler to reason about, and that we don't want to add the modeling complexity of the samp

[2016-12-14 18:04] liangfok commented on #4500
In the above-linked #4475, it's because we're using two separate controllers on a single `RigidBodyPlant`: one for the IIWA and one for the gripper. Both are physics-based.

@RussTedrake has a WIP project where numerous `SimpleCar` vehicles are loaded into a `RigidBodyTree` and each vehicle needs to be controlled separately. This one uses non-physics cars.

From the above, the need for model-insta

[2016-12-14 18:10] SeanCurtis-TRI commented on #4500
Groovy.  I have no concerns.

[2016-12-14 19:02] david-german-tri opened #4502 "LcmPublisherSystem should only publish at a fixed rate"
This is now possible in System2/Simulator2 using `CalcNextUpdateTime`.

[2016-12-14 19:04] david-german-tri commented on #4502
Ditto for DrakeVisualizer.

[2016-12-14 20:46] #4091 closed

[2016-12-14 20:53] SeanCurtis-TRI opened #4504 "Building against deleted header files"
Take this issue modulo the actual answer.

We've encountered an inconvenient build artifact.  The problem is as follows:

  - Drake is built, populating `install` directory.
  - Upstream changes remove a referenced header file from repository.
  - I update my local repo to match the upstream repo (the header disappears from source branch).
  - I can still build because, apparently, the `install` p

[2016-12-14 20:58] liangfok commented on #4504
Does this problem occur using both CLion and command line?

[2016-12-14 21:07] jwnimmer-tri commented on #4504
FTR, I have been bitten by this too.  I have chosen to use Bazel to get correctness, rather than fix our use of CMake.

[2016-12-14 21:10] BetsyMcPhail commented on #4496
Let's give the experimental build a try

@drake-jenkins-bot linux-xenial-unprovisioned-gcc-bazel-experimental please

[2016-12-14 21:12] david-german-tri commented on #4496
Whoa, does that notation do something on GitHub issues as well as PRs?

[2016-12-14 21:13] BetsyMcPhail commented on #4496
No, @david-german-tri :( wishful thinking on my part. I'm going to launch it manually.

[2016-12-14 21:24] SeanCurtis-TRI opened #4505 "Can't apply RK3 integrator to iiwa_world_demo"
Attempted to swap integrators in the `iiwa_world_demo` to RK3 and failed.

Modifications:

Original code
[code]

New code
[code]

Error message:
[code]

[2016-12-14 21:26] jwnimmer-tri commented on #4464
Related:
- bazelbuild/bazel#1164
- bazelbuild/bazel#1139
- bazelbuild/bazel#1322

I am trying a few things locally to discover the best motivation.

[2016-12-14 21:28] SeanCurtis-TRI commented on #4504
@liangfok Yep.  Definitely CLion -- can't definitively state command line, but I suspect so.  I can't imagine that CLion would unilaterally extend its include paths.  (And as @jwnimmer-tri has been bitten...it seems to be a very democratic issue; everyone gets some, regardless of IDE.)

[2016-12-14 21:46] sherm1 commented on #4505
@edrumwri, this model has a robot arm (all pin joints with qdot=v) but also has some free bodies that have quaternions. Presumably something didn't override the map qdot to velocity method.

[2016-12-14 21:47] jwnimmer-tri commented on #4464
Okay, while I think there may be `cc_toolchain` fixes to make this fail-fast or self-repair better, there doesn't seem to be a one-liner fix.  I'm going to FAQ it and return later.

[2016-12-14 21:48] sherm1 commented on #4505
@amcastro-tri, I think this means RBPlant didn't override properly?

[2016-12-14 21:58] sammy-tri commented on #4500
Candidate proposal in #4506

[2016-12-14 22:29] amcastro-tri commented on #4500
This sounds reasonable to me. #4506 also makes sense to me. Still reviewing.

[2016-12-14 22:43] BetsyMcPhail commented on #4496
Unprovisioned nightly Bazel Xenial build is should run tonight.

[2016-12-15 00:02] hongkai-dai opened #4508 "Cleanup MathematicalProgram"
I like the current structure of `MathematicalProgram` object, that it is flat without any derived class. Also I think it makes a lot of sense to have a separate `MathematicalProgramSolverInterface`, that we can explicitly use a specific solver (SNOPT, Mosek, Gurobi, etc) to solve a problem. I like to keep this structure untouched.

I imagine the user can solve an optimization problem in two ways

[2016-12-15 05:34] hongkai-dai commented on #4508
@sammy-tri and @RussTedrake, would love to hear your opinion.

[2016-12-15 14:49] BetsyMcPhail commented on #4496
Job ran successfully last night.

[2016-12-15 14:49] #4496 closed

[2016-12-15 14:51] jamiesnape opened #4513 "runAtlasDynamics fails after updating Eigen"

[2016-12-15 16:01] david-german-tri commented on #2681
It's possible this is gone now, will check today.

[2016-12-15 16:02] david-german-tri commented on #2817
from f2f conversation with @jamiesnape, this is fixed and live in CI.

[2016-12-15 16:03] david-german-tri commented on #4259
@RussTedrake Is this fixed?

[2016-12-15 16:12] soonho-tri commented on #2087
FWIW, I had the same issue today. Thanks @liangfok for the solution!

[2016-12-15 16:36] sammy-tri commented on #4508
I like most of the above, but I do have one thought, and that's that there could be cases where multiple solvers could be used, and the calling code knows things about more than one.  Specifically, consider the IPOPT vs. SNOPT case, where IPOPT is always available and SNOPT requires a license.

In DirectTrajectoryOptimization::SolveTraj(), we set IPOPT options even though we'd prefer SNOPT as a so

[2016-12-15 17:04] #4434 closed

[2016-12-15 17:25] jamiesnape commented on #2681
Looks like `bot_core_lcmtypes` and `robotlocomotion_lcmtypes` are causing `-isystem` to be added, so not quite there yet.

[2016-12-15 17:46] liangfok commented on #4472
Problem: `lcmt_driving_command_t` is an auto-generated file and the generator, `drake-distro/drake/tools/lcm_vector_gen.sh` does not support adding comments for each field in the message. We're going to need to modify the generator to support comments to resolve this issue.

[2016-12-15 18:11] hongkai-dai commented on #4508
@sammy-tri that is a good point. I will change the second bullet point, that we still have `SetSolverOption` in `MathematicalProgram`, but the type for `solver_option` is templated, so that we can use either string or enum.

[2016-12-15 19:49] jwnimmer-tri commented on #3126
The name `drake/math/autodiff_test` would most closely match what we've done in Bazel, so would be my suggestion.  If we have to do `drake/math/test/autodiff_test` instead that's okay too.

[2016-12-15 19:53] jwnimmer-tri commented on #4485
Possibly relevant bazelbuild/bazel#1029 which pointed me to bazelbuild/intellij#26 :confetti_ball:.

[2016-12-16 00:58] hongkai-dai opened #4519 "MathematicalProgramSolverInterface wastes time parsing unchanged constraints, for model predictive control."
<h1> Current implementation </h1>
Currently there are two main components for an optimization problem, a class `MathematicalProgram`, which stores the constraints/costs (`LinearConstraint`, `QuadraticConstraint`, etc), and a virtual class `MathematicalProgramSolverInterface`, with the derived class (`SnoptSolver, IpoptSolver, MosekSolver`, etc) for each solver.

The usage is like
[code]

We design

[2016-12-16 01:06] jwnimmer-tri commented on #4519
How much of a performance hit is this (what fraction of time is spent reparsing vs solving)?  What do the profiler results say?

[2016-12-16 03:49] hongkai-dai commented on #4508
Creating `MathematicalProgramSolverResult` does not work. I tried the following steps:

1. Create a Base class `MathematicalProgramSolverResult`.
2. Derive a new class `MosekSolverResult` from `MathematicProgramSolverResult`.
[code]

The problem is that I want `MathematicalProgramSolverInterface::Solve()` to return an instance of `MathematicalProgramSolverResult`. But this `Solve()` function is vi

[2016-12-16 04:13] sherm1 commented on #4508
I can show you how to get the unique_ptr option to work as you wrote it, Hongkai -- ask me tomorrow. But it will still be allocating on the heap.

[2016-12-16 11:03] #4344 closed

[2016-12-16 13:40] RussTedrake commented on #2467
@david-german-tri , @sherm1 -- fwiw, I'd like to be involved in this when it happens.  we want to be careful to avoid making rigid body systems impenetrable for synthesis/verification.  In matlab, we differentiated between hybridrigidbodymanipulators and rigidbodymanipulators.  i think having hybrid state in the main rigid body plant is better, but we just need to walk through a few use cases to m

[2016-12-16 13:47] RussTedrake commented on #4502
I agree it should be an option, but I’m not sure that this is obviously the right default behavior.  Use the default publish (e.g. any major timestep of the simulator) has the advantage that we publish anytime the simulation decides something.  It’s the best way to keep a downstream lcm subscriber “in step” with the simulation… no?

[2016-12-16 13:49] RussTedrake commented on #4504
I can confirm that this has been a known issue for a long, long time.

[2016-12-16 14:16] jamiesnape commented on #4486
@mwoehlke-kitware is going to investigate this and post a proposal here for @david-german-tri, @rdeits, and others to review.

Initial thoughts are that MATLAB bindings remaining SWIG are fine, and whether we use Boost::Python depends on whether MATLAB needs to be simultaneously enabled with the Python bindings, and whether we bring in Boost for other reasons, e.g., OMPL.

[2016-12-16 14:46] liangfok opened #4525 "Mysterious LCM Error: Error copying file"
# The Error

[code]

# Example Logs

* https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/mac-clang-nightly-matlab-open-source-release/227/

[2016-12-16 14:56] jwnimmer-tri opened #4526 "Upgrade Bazel in CI to 0.4.2"
Upgrade Bazel in CI to 0.4.2 to match http://drake.mit.edu/developers.html#supported-configurations.  Right now we appear to have e.g. `  BAZEL_VERSION                  = 0.4.0-jdk7`.

Also required for #4518 to pass CI.

[2016-12-16 15:08] david-german-tri commented on #4502
@RussTedrake Sounds good to me.  I have no particular intuition about which is better.  As a bonus, your proposal is a little easier to implement, since it won't require custom [do_publish](https://github.com/RobotLocomotion/drake/blob/master/drake/systems/framework/system.h#L40) callbacks.

[2016-12-16 15:11] david-german-tri commented on #4526
@jamiesnape @BetsyMcPhail any chance you could knock this out quickly today?  I think it's a prerequisite for turning on Bazel builds in pre-merge, which I'd also like to see happen today if possible.

[2016-12-16 15:12] BetsyMcPhail commented on #4526
Logging in to get this done now - should be a quick update.

[2016-12-16 15:35] sammy-tri commented on #4519
Is this (to some extent) what the largely unutilized MathematicalProgram::GetSolverData() was intended for?

[2016-12-16 15:55] BetsyMcPhail commented on #4526
The trusy and xenial AMIs have been updated to Bazel 0.4.2.

The unprovisioned xenial script already installs Bazel 0.4.2.

See #4497 for Mac Bazel builds.

[2016-12-16 16:46] BetsyMcPhail commented on #4526
I installed Bazel using JDK8 on Trusty and this is making the builds not happy (e.g. https://drake-jenkins.csail.mit.edu/view/Bazel/job/linux-gcc-bazel-experimental/56/console). It looks like a JDK7 version is available (although [deprecated]( https://bazel.build/versions/master/docs/install.html#ubuntu)).

Unless I hear any objections I am going to go back and install the JDK7 version on the Trus

[2016-12-16 17:35] jamiesnape commented on #4526
It was JDK 7 before. The JDK 8 version will break Jenkins.

[2016-12-16 17:40] BetsyMcPhail commented on #4526
Waiting for the Bazel experimental build but the trusty AMI should be good now.

[2016-12-16 18:11] david-german-tri commented on #4526
https://drake-jenkins.csail.mit.edu/job/linux-gcc-bazel-experimental/61/console

[2016-12-16 18:12] BetsyMcPhail commented on #4526
Looking into it now

[2016-12-16 18:13] liangfok commented on #4525
This appears to be a transient bug. I shall thus close it.

[2016-12-16 19:24] jamiesnape commented on #4526
Both 0.4.1 and 0.4.2 are exiting with BLAZE_INTERNAL_ERROR even when calling `bazel help` and `bazel version`. Something is pretty broken somewhere.

[2016-12-16 19:30] jamiesnape commented on #4526
We are having the same issue on local machines too.

[2016-12-16 19:41] BetsyMcPhail commented on #4526
Changed back to the previous Trusty AMI (Bazel 0.4.0) in Jenkins for now.

[2016-12-16 22:34] edrumwri opened #4532 "qdot to angular velocity conversion (and back) is broken"
About to work on making an issue. My semi-explicit integrator PR (#4340) specifically illustrates this bug in drake. Additionally, my rb to avel conversion PR (#4214) should fix this problem. I am awaiting Paul Mitiguy's PR #4379 to provide a unit test for PR #4214.

[2016-12-16 22:35] jwnimmer-tri commented on #4526
TTBOMK @david-german-tri is testing on Trusty on his workstation, so I'm not sure what's going on here.

[2016-12-16 22:36] jamiesnape commented on #4526
Using JDK 7?

[2016-12-16 22:46] david-german-tri commented on #4526
No, using JDK 8.

[2016-12-16 22:48] david-german-tri commented on #4526
I'm pretty willing to drop official support for Bazel on Trusty if that gets us out of this fix, but we should take public comments on that.  I'll poll on slack.

[2016-12-16 23:01] jwnimmer-tri commented on #4452
I guess in the meantime, I will add a suppression with a TODO citing this issue.

[2016-12-17 23:38] RussTedrake commented on #4485
fwiw, just lost a few hours trying Tulsi with bazel to work with Xcode.  Long story short, I think it's not going to support our workflow without some work.  I made some local edits to the tulsi code to get fairly far along (https://github.com/RussTedrake/tulsi), but it is not able to understand the "@glib://" deps, which apparently comes in through pkg-config (which comes in through the thirdpart

[2016-12-17 23:56] RussTedrake opened #4534 "Investigate bazel support for Xcode"
posted initially in #4485, but it deserves it's own issue.

fwiw, just lost a few hours trying Tulsi with bazel to work with Xcode. Long story short, I think it's not going to support our workflow without some work. I made some local edits to the tulsi code to get fairly far along (https://github.com/RussTedrake/tulsi), but it is not able to understand the "@glib://" deps, which apparently comes i

[2016-12-18 00:54] RussTedrake commented on #4534
looking a little more, I think that the pkg config scripts in tools/kythe, etc write temporary BUILD files, which disappear (shortly?) after bazel runs.  my best guess is that tulsi is trying to parse those files after they fail to exist.  Played a bit with making a local version of the glib-2.0 BUILD file (that could work), but have to give up for now.

[2016-12-18 01:19] edrumwri opened #4535 "Issue copying state of type State<AutoDiffX>"
I am attempting to do the following:

If I add the following function to ContinuousState:

[code]
and the following function to State:
[code]

I get the following syntax error when attempting to compile a Simulator<AutoDiffXd>:

[code]

This issue will cause the Simulator<AutoDiffXd> instantiation to be disabled on the unrestricted updates PR (#4382).

[2016-12-18 07:19] edrumwri commented on #4505
Thanks for providing such a clear, fast way for me to reproduce the bug, @SeanCurtis-TRI.

I verified that there is indeed a subclass in there that isn't overriding properly (I was worried that this issue might be due to PR #4532). PassiveVisualizedPlant derives from Diagram, and it appears that one of the two (either the diagram abstract class or PassiveVisualizedPlant) *should* be overriding the

[2016-12-18 12:51] RussTedrake commented on #4535
looks like you are trying to set a VectorBase<double> from a VectorBase<AutoDiffXd> (which won't work).  But i don't think there is enough in your post for me to diagnose why you're getting there...?

[2016-12-18 13:13] RussTedrake commented on #4505
The problem is that Diagram implements DoMapVelocityToQDot but does not yet implement DoMapQDotToVelocity.  My guess is that it would be trivial to implement because at the diagram level it should be identical to the existing DoMapVelocityToQDot .  Cc @david-german-tri .

[2016-12-18 14:37] jwnimmer-tri commented on #4535
The (abbreviated) error says that it wants a method `VectorBase<double>::SetFromVector(VectorX<AutoDiffScalar>)` but that method doesn't exist.  Someone needs to explicitly slice the doubles out of the AutoDiff vector into a double vector.  See for example https://github.com/RobotLocomotion/drake/blob/53b88aa3fee4c9a14dfd3091416217811b8952b4/drake/systems/framework/continuous_state.h#L156 for goin

[2016-12-18 14:43] jwnimmer-tri commented on #4535
I find it odd that `State<T>::SetFrom(const State<AutoDiffXd>&)` would be required in that PR, though I haven't looked closely.  It is possible that `State<T>::Set(const State<T>&)` is actually what's desired?

TTBOMK `SetFrom` (with hard-coded `double` type) is a transmogrification-specific hook, not general-purposed code for use by e.g. scalartype-generic integrators.

[2016-12-18 14:52] jwnimmer-tri commented on #4535
... and another idea that just occurred to me.  Do we really want `Set`, or would we rather `swap`, either the `unique_ptr<State>`, or the `State`-by-value?

[2016-12-18 16:22] edrumwri commented on #4505
Thanks for the hint, Russ- that indeed does not look challenging to
implement and test. I'll work on this unless @david-german-tri really wants
to.

On Sun, Dec 18, 2016 at 5:13 AM, Russ Tedrake <notifications@github.com>
wrote:

[2016-12-18 16:34] edrumwri commented on #4535
Frankly, I felt like I was fighting with the API to do something relatively
simple: I wanted to make a copy of the full state (continuous, discrete,
abstract), allow the user to modify that copy, and then copy the contents
back to the original.

Swapping pointers or values would be ok in my case, but I could feel the
API funneling me down a particular use-path (by eliminating copy
constructors, as

[2016-12-19 15:00] david-german-tri commented on #4505
Sounds right to me.

It's all yours!

[2016-12-19 15:10] david-german-tri commented on #4535
@jwnimmer-tri is right on all counts.  The code in the OP is a misuse/mis-generalization of SetFrom, which is my fault for not providing a comment.  I'll PR a fix right now, as well as some other convenience functions for assignment.

[2016-12-19 15:43] liangfok opened #4542 "Maliput Should Be Updated To Use Eigen Where Possible"
# Problem Definition

In #4227 and #4389, custom logic was used to implement basic mathematical concepts like:

* `class Rot3` in `maliput/monolane/lane.h`
* `Rotate()` and `Distance()` in `maliput/api/road_geometry.c`
* numerous structs in `maliput/api/lane_data.h`
* `W_prime_of_prh()` in `maliput/monolane/lane.cc` should use `drake::math::drpy2rotmat()`.
* `CubicPolynomial` in `maliput/monolane/

[2016-12-19 16:54] #4535 closed

[2016-12-19 23:10] david-german-tri commented on #4526
@jamiesnape Could you elaborate on why this is so?

@BetsyMcPhail In that log, Bazel (?) complains `Java version is 1.7.0_111 while at least 1.8 is needed.`, which doesn't square with your comment.  Did you mean to post a different link?

[2016-12-19 23:13] jamiesnape commented on #4526
We cannot have two different JVM versions. We can switch everything to JDK 8, but mixed will not work.

[2016-12-19 23:16] jamiesnape commented on #4526
Though Jenkins recommends OpenJDK over Oracle, and there is no OpenJDK 8 for 14.04.

[2016-12-19 23:17] david-german-tri commented on #4526
Got it.  Do you know of any reason we should hesitate to bump to JDK 8?

[2016-12-19 23:18] david-german-tri commented on #4526
Oh, are we talking about Jenkins itself?  I didn't realize Jenkins and Drake tests actually ever ran on the same machine.

[2016-12-19 23:18] jamiesnape commented on #4526
The Jenkins slave.

[2016-12-19 23:19] jamiesnape commented on #4526
Other than the above, I guess there will be a mismatch with the MATLAB Java version, but we are already living with that for OS X.

So really, we should be fine bumping the version. It is not perfect, but I do not see huge issues.

[2016-12-19 23:28] david-german-tri commented on #3873
#3920 checked off a number of boxes here.

[2016-12-20 00:47] SeanCurtis-TRI opened #4548 "Collision model algorithms assume convexity"
We have a number of methods implemented in `bullet_model.cc` which inherently assume that the meshes involved are convex:

  - `BulletModel::collisionDetectFromPoints`
  - `BulletModel::findClosestPointsBetweenElements`

We want to support non-convex meshes.  Initially, the intent is to support them as *anchored* meshes.  However, until these algorithms are made smarter to account for convex/non-c

[2016-12-20 02:54] jwnimmer-tri opened #4551 "Document CMake build "comprehensive nuke""
Sometimes, a CMake-generated build gets confused or produces wrong results.  There's various lore floating around in slack land about how to fix it, especially with the case of `git submodules` being used.

Perhaps we should curate and document one good set of instructions for this, and post it into our sphinx docs.  Then we can always point devs at that best advice, instead of some good-but-not-q

[2016-12-20 02:55] jwnimmer-tri commented on #4551
@sammy-tri would you like to take a crack at this (or assigning it)?  The manipulation subteam is perhaps the primary user of the CMake build, and does the most playing with externals and such that breaks this?

[2016-12-20 02:56] jwnimmer-tri commented on #4551
Slightly related #4454 and #4504.

[2016-12-20 02:57] jwnimmer-tri commented on #1973
Everything in this list is either (1) done or (2) moved to a specific issue or (3) only applies when using CMake.  I will close this.  Folks should feel free to contribute helpful PRs or file new issues as appropriate, but I'm not sure the meta-issue is helping anything here.

[2016-12-20 02:57] #1973 closed

[2016-12-20 03:03] jwnimmer-tri opened #4552 "Rename robotInterfaces, QP, ZMP stuff to follow cppguide"
Broken out from #1965: we should rename the remaining C++ files to match the C++ coding standard.

Checklist, per `drake-distro$ find drake ros -name thirdParty -prune -o -name examples -prune -o -name '*system1' -prune -o -name matlab -prune -o -name util -prune -o -name '*[A-Z]*.h' -print -o -name '*[A-Z]*.cc' -print -o -name '*.cpp' -print`:
- [ ] drake/systems/robotInterfaces/QPLocomotionPlan.

[2016-12-20 03:05] jwnimmer-tri commented on #4552
@siyuanfeng-tri I think these are heavily related to your current work.  Any advice on what we should summarily rename now (or delete now?), versus waiting for some near-term walking PRs to improve on or replace the files or functionality?

I know at least most of `robotInterfaces` for example is only used by Matlab code (with the exception being the famous `Side.h` that is widely used in our C++

[2016-12-20 03:06] jwnimmer-tri commented on #1965
Moved the small remaining work to #4552 to track separately.

[2016-12-20 03:06] #1965 closed

[2016-12-20 03:35] siyuanfeng-tri commented on #4552
I have deliberately avoided having any dependency on these files with the exception of Side. And my intention was to eliminate them all together at the end. The humanoids stack have a strong dependency on these, but I think most tests are disabled at the moment anyway. The manip IK stack might have some dependency on these, @sammy-tri / @hongkai-dai probably know better.
I could try to just remove

[2016-12-20 03:54] jwnimmer-tri commented on #4305
When working through #4553, it became clear that the entire RBS 1.0 needs a sanity sweep for what should be deleted, so I've broadened this title.

[2016-12-20 11:08] liangfok commented on #4551
This is a great idea. At @naveenoid's suggestion, we placed the "comprehensive nuke" recipe for Drake + ROS here: http://drake.mit.edu/from_source_ros.html#how-to-perform-a-clean-build. It would be great to document the Drake-only recipe.

[2016-12-20 11:35] jwnimmer-tri commented on #4551
Ah yes.  I thought I remembered being discussed, but failed to find that write-up.

[2016-12-20 13:25] jwnimmer-tri commented on #4464
For now at least, I'll call the doc fix good enough.  I think a toolchain fix is likely to be better done in a PR to upstream code that in our project.

We can revisit if we find lots of Drake Developers complaining.

[2016-12-20 15:05] edrumwri commented on #4548
Is there indeed such a plan for nonconvex support? Would you share? Do
these meshes represent solids, or are they non structured?

On Mon, Dec 19, 2016 at 4:47 PM Sean Curtis <notifications@github.com>
wrote:

[2016-12-20 15:11] SeanCurtis-TRI commented on #4548
There is indeed a current plan for *limited* non-convex support.  Specifically, for *anchored* geometry (e.g., terrain.)  We don't have a concrete plan for non-convex, dynamic collision geometry.  Currently, we rely on convex decomposition in these cases.

[2016-12-20 16:14] manuelli commented on #3231
Has there been any progress on this? Being able to run a bot-spy to inspect LCM traffic is a very basic and necessary functionality if you want to use Drake on an actual robot. I think it will end up being blocking for lots of people, or they will all have to implement this workaround. I have implemented the workaround for the moment but I am hoping this can be fixed in master soon.

[2016-12-20 16:17] jwnimmer-tri commented on #3231
I bumped up Drake's LCM sha recently.  It's possible that everything just works now.  @liangfok do you want to retest and report back?

[2016-12-20 16:22] manuelli commented on #3231
I built drake master yesterday and it still didn't work. The bot-spy launches but you aren't able to actually inspect the messages.

[2016-12-20 16:25] david-german-tri commented on #3231
@mwoehlke-kitware, sounds like the ball is still in your court on this one.

[2016-12-20 16:44] SeanCurtis-TRI opened #4555 "Grab bag of collision geometry artifacts - spheres and boxes"
There are some undocumented "quirks" in the current state of the drake code.  Assuming that they exist for  a reason and that the answers are out there in people's heads, I'm posing some questions so that the answers can be captured and put in the code.

1. When we define a *box* collision element, we change it from a `btBoxShape` to an equivalent `btConvexHull`.  Why?
2. All zero-radius collision

[2016-12-20 16:48] liangfok opened #4556 "Unit Tests Are Dynamically Linking Against Installed Libraries Rather Than The Newest Libraries"
# Problem Definition

When running a unit test, we often want it to dynamically linked against the _latest_ version of Drake's libraries (located in `drake-distro/build/drake/...`) as opposed to the _installed_ version (located in `drake-distro/build/install/...`) since the installed versions are typically older. A common use case is we want to instrument the Device Under Test (DUT) with temporary

[2016-12-20 16:50] jwnimmer-tri commented on #3960
The only remaining issue is 4305, so I'll close the meta-issue.

[2016-12-20 16:50] #3960 closed

[2016-12-20 17:32] mwoehlke-kitware commented on #3231
See RobotLocomotion/libbot2#2

[2016-12-20 17:59] #4500 closed

[2016-12-20 20:03] hongkai-dai opened #4559 "Refactor MathematicalProgramSolverInterface"
<h1> Current implementation </h1>

Currently we have two classes: `MathematicalProgram` and `MathematicalProgramSolverInterface`. Their structure are as follows

1. A flat class `MathematicalProgram` that stores the constraints, costs and decision variables.
   ![mathematicalprogram](https://cloud.githubusercontent.com/assets/6314000/21362661/3e3c5ca4-c69e-11e6-9513-5096909ba9f0.png)

2. A base cl

[2016-12-20 20:03] hongkai-dai commented on #4559
@RussTedrake and @sammy-tri what do you think of this?

[2016-12-20 20:08] liangfok opened #4560 "Doxygen File Descriptions Do Not Have Automatically-Generated Links"
# Problem Definition

Doxygen's [automatic link generation feature](https://www.stack.nl/~dimitri/doxygen/manual/autolink.html) is not working on file descriptions. This became a problem in #4389, which contains file descriptions in `drake-distro/drake/automotive/maliput/monolane/builder.h` and `drake-distro/drake/automotive/maliput/monolane/loader.h` that references numerous classes, structs, etc

[2016-12-20 22:26] jamiesnape commented on #2817
Unfortunately.

[2016-12-20 22:27] jamiesnape commented on #2817
No longer live.

[2016-12-20 22:29] jamiesnape commented on #2817
@billhoffman `CMAKE_CAPTURE_ERROR` appears to be giving different results to `RETURN_VALUE` for at least `ctest_build()` and `ctest_test()`.

[2016-12-20 22:30] jamiesnape commented on #2817
Polar-opposite results in some cases.

[2016-12-20 22:34] david-german-tri opened #4566 "Support unrestricted events on Diagrams"
Follow-up from #4382.  cc @edrumwri FYI.

[2016-12-20 23:14] david-german-tri commented on #4305
FWIW, `compareRigidBodySystems.cpp` appears to use System1 RigidBodySystem to compare two RigidBodyTrees to each other, by evaluating their dynamics in a bunch of random configurations.  It keeps the SDF and URDF versions of an Acrobot model and a Prius model in sync.

I think that's a good candidate for deletion, although it also wouldn't be so hard to port to System2/RigidBodyPlant, or replace w

[2016-12-20 23:19] jwnimmer-tri commented on #4305
Yes.  Before deleting _more_ files, we should that ensure their test coverage is adequately captured elsewhere.  I confirmed this for the stuff I deleted in #4553, but there's definitely more than just the RBP comparison test that this issue was originally filed as (thus the issue rename).

[2016-12-20 23:21] david-german-tri commented on #4305
Sure, I just think it's not obvious that we need coverage for `prius.sdf == prius.urdf`.  The proposed alternative would be to delete one of those model files (presumably the URDF) as well as the test itself.

[2016-12-21 00:32] liangfok opened #4569 "Doxygen Website Incorrectly Renders Inheritance Diagram for Maliput / Monolane Classes"
# Problem Definition

Doxygen generates inheritance diagrams for classes in [Drake's documentation website](http://drake.mit.edu/doxygen_cxx/index.html). The inheritance diagrams for all of `drake-distro/drake/automotive/maliput/monolane/` are broken. See, for example, the inheritance diagram for `drake::maliput::monolane::RoadGeometry`:

![broken_inheritance_diagram](https://cloud.githubuserconte

[2016-12-21 05:06] #4400 closed

[2016-12-21 05:56] hongkai-dai commented on #4559
Unfortunately there is a bad problem coming out from the design above, shown in the following example
[code]
Namely, mosek_solver does not know if the program that has been parsed into the Mosek format, is the same as the program that `mosek_solver.prog_` points to.

[2016-12-21 14:33] siyuanfeng-tri commented on #4559
prog.updateconstarints also suffers the same problem you mentioned.
you could have a dirty flag in the prog for all the constaints / costs. whenever you call solve, the solver can update / add the new stuff.

[2016-12-21 15:32] edrumwri commented on #4548
Ok, sounds very reasonable!

On Tue, Dec 20, 2016 at 7:11 AM, Sean Curtis <notifications@github.com>
wrote:

[2016-12-21 15:45] hongkai-dai commented on #4559
Thanks for the comments, but that does not really solve the problem, consider the following example with two `MosekSolver` objects
[code]

[2016-12-21 15:47] Lucy-tri commented on #3734
@RussTedrake Is there more work here to do? If so, can you specify? (Or can we close this issue?). Thanks.

[2016-12-21 15:50] siyuanfeng-tri commented on #4559
hmm, this is getting more and more complicated. so the prog needs separate dirty flags for each solver... and that probably requires the solver constructor to take non const ptr to the prog, so that the solver can register itself in prog's list of solvers... this is getting very ugly.

[2016-12-21 16:01] RussTedrake commented on #3734
Definitely not resolved IMHO.  The ask was that I could call "StepTo" on the simulator and get back (or somehow have access to) a trajectory object representing the state and/or outputs, with the interpolation scheme being set properly by the integrator.

[2016-12-21 17:57] jamiesnape commented on #4556
Aside: We are almost at a stage where an install should not be required. That would be punting on this issue, of course.

[2016-12-21 18:02] jamiesnape commented on #4551
Level 1 nuke for non-MATLAB and non-Python users:
[code]

Level 2 nuke:
[code]

Level 3 nuke:
[code]

[2016-12-21 18:10] david-german-tri commented on #4556
@liangfok The instructions do not guarantee correctness for any build other than the superbuild, so I'm going to downgrade this to medium priority.  That said, I agree it's annoying and I don't totally understand why it's happening.

I'm absolutely on board with removing the install step, and considering that a good-enough resolution.  What are the remaining obstacles?

[2016-12-21 18:14] jamiesnape commented on #4556
Removing pods.cmake and SWIG, I think. The removing pods.cmake is mostly done. The SWIG part, I have not thought about yet. I doubt it would be difficult.

[2016-12-21 18:17] david-german-tri commented on #4556
Right, I believe SWIG belongs to @mwoehlke-kitware on #4486.

[2016-12-21 18:18] jamiesnape commented on #4556
Yes, though I think MATLAB would probably have to stay with SWIG and the logic changed not to require an install.

[2016-12-21 18:19] david-german-tri commented on #4526
OK, let's go ahead and bump to JDK 8 then.  It would be nice to get that done today if possible, so that we can unblock some Bazel PRs.  @BetsyMcPhail do you have some time to work on it?

[2016-12-21 18:20] jamiesnape commented on #4556
The only caveat, is that for now Director may need an install of Drake. That can be fixed.

[2016-12-21 18:38] david-german-tri commented on #4556
Actually, I can't reproduce the original problem.  My `ninja` build is linking the `package_map_test` against `multibody/parsers/libdrakeMultibodyParsers.so`, not the one in `install/lib`.

That said, we've had all sorts of non-hermetic `install` related nightmares in the past, so this is probably another of those, and all the more reason to burn it.

[2016-12-21 18:40] BetsyMcPhail commented on #4526
I'll work on it this afternoon.

[2016-12-21 18:53] #4269 closed

[2016-12-21 19:01] jwnimmer-tri opened #4574 "Consider limiting drake/automotive CMake integration"
Can anyone think of a good reason to keep the `CMakeLists.txt` support for `drake/automotive`?

I think I'm one PR from having all of `drake/automotive` tested and demo-able under the Bazel instructions.  In the future, once #4131 and #4303 are done we would end up shipping the library and message portions of `drake/automotive` as part of an overall `libDrake`.  Still, many demos would be document

[2016-12-21 19:14] liangfok commented on #4556
After a F2F meeting with @david-german-tri, using `ninja -v`, we isolated the problem to be in the build command's `rpath` argument.

Here is @david-german-tri's command:

[code]

Here is my command:

[code]

Using `meld`, we can see the differences:

![screenshot from 2016-12-21 14 13 25](https://cloud.githubusercontent.com/assets/1388098/21402684/ae193e22-c787-11e6-8fc0-1e6030868fae.png)

Basica

[2016-12-21 19:19] david-german-tri commented on #4556
^ Which is some kind of super weird CMake behavior, I guess?

[2016-12-21 19:21] liangfok commented on #4574
I suppose the question of "what bugs will Bazel let through that CMake will not let through" is relevant to this discussion.

Another question is: how easily will it be to add `CMakeLists.txt` back to `drake/automotive` should we, at some point in the future, encounter a customer that demands it?

[2016-12-21 19:30] jamiesnape commented on #4556
CMake is ultimately responsible, but the RPATH is apparently being "[abused](https://github.com/RobotLocomotion/drake/blob/master/cmake/pods.cmake#L31)" by PODs.

[2016-12-21 20:37] jwnimmer-tri opened #4578 "system_identification_test is slow"
The `drake/solvers/system_identification_test` is slow -- approx 40 seconds on a release build on modern hardware.  When running in debug mode or under valgrind, it takes minutes.

My understanding is that the slowness is due to perhaps only some of the cases, as if one of them is some kind of acceptance test, instead of a unit test.  I also recall hearing that the test code uses brute-force imple

[2016-12-21 20:50] ggould-tri commented on #4578
The sysid test is indeed slow, because it implements a practical sysid problem (quadratic cost function over two hundred or so linear equations).  I believe that profiling will show that the time is spent in the optimizer.

The hand-coded spring-mass system simulation is a lot of lines of code that could probably be replaced, and probably should be, but don't expect this to cause a speedup (I doub

[2016-12-21 20:53] RussTedrake commented on #4555
@avalenzu and @gizatt are the experts on these.

[2016-12-21 20:55] jwnimmer-tri commented on #4578
Alright, it sounds like I didn't entirely have the right picture.  Having the acceptance test (tests?) in a different file (files?) than the unit tests, marked `size="medium"`, sounds like a fine solution.

[2016-12-21 21:28] BetsyMcPhail commented on #4526
Trusty AMI has been update to JDK 8 and Bazel 0.4.2. Jenkins has been updated to use the new AMI.

Experimental build looks good: https://drake-jenkins.csail.mit.edu/view/Bazel/job/linux-gcc-bazel-experimental/84/

[2016-12-21 21:47] amcastro-tri commented on #4407
cc'ing @siyuanfeng-tri since he will be providing very soon the first RBT methods using a `RigidBodyFrame` based API instead of `body_or_frame_id` logic.

[2016-12-21 22:03] david-german-tri commented on #4526
https://drake-jenkins.csail.mit.edu/job/linux-gcc-bazel-experimental/85/console still says 0.4.0-jdk7?

[2016-12-21 22:04] jamiesnape commented on #4526
It will take a while for all the instances to switch over.

[2016-12-21 22:12] david-german-tri commented on #4026
I've taken this as a Q1 KR, so upping the priority to medium.

[2016-12-21 22:15] david-german-tri commented on #3750
This behavior now exists in LeafSystem (and has been subject to a fair amount of scrutiny over floating-point accuracy).  I'll look at switching it over.

[2016-12-21 23:12] #3750 closed

[2016-12-22 00:43] liangfok opened #4584 "Ubuntu 16.04 Installation Does Not Install clang-format"
I needed to execute:

[code]

Perhaps this needs to be added to `drake-distro/setup/ubuntu/16.04/install_prereqs.sh`?

[2016-12-22 01:18] #4472 closed

[2016-12-22 03:19] jwnimmer-tri commented on #4467
Fixed in #4571.

It would be nice to use Bazel aspects for this, but for now it's plausible to list our `cc` and `py` targets separately.

[2016-12-22 03:19] #4467 closed

[2016-12-22 03:29] liangfok commented on #1586
I have a WIP branch that's porting System 1.0's `RigidBodyDepthSensor` to System 2.0. I'll go ahead and attempt using `bot_core.planar_lidar_t` and `bot_core.pointcloud_t` to visualize the simulated sensor data.

[2016-12-22 04:01] jwnimmer-tri commented on #4449
Seems like this is either a 10-minute fix or a WONTFIX, not something to keep open for a long time.

[2016-12-22 04:20] jwnimmer-tri commented on #3641
I believe this was fixed in #3697.

[2016-12-22 04:20] #3641 closed

[2016-12-22 04:23] jwnimmer-tri commented on #3170
Seems like this should be either assigned to @david-german-tri or closed?

[2016-12-22 04:33] jwnimmer-tri commented on #4502
So #4111 seems to cover (duplicate) the Drake Visualizer System portion of this.

[2016-12-22 04:39] jwnimmer-tri commented on #3867
https://github.com/RobotLocomotion/drake/tree/master/drake/systems/estimators already has lots.  Update the issue with next steps, or close it?

[2016-12-22 04:47] jwnimmer-tri commented on #3289
Pretty sure this is fixed now...

[2016-12-22 05:06] sherm1 commented on #3289
Yup.

[2016-12-22 05:06] #3289 closed

[2016-12-22 05:23] sherm1 commented on #3170
We will be able to calculate the OutputPort-to-InputPort dependency matrix automatically when the cache is fully functional per #4364. We will have explicit dependencies for all cached quantities including OutputPorts, because those dependencies are needed for cache invalidation. (If InputPort i directly or indirectly invalidates OutputPort o then there is direct feedthrough from i to o.) The meth

[2016-12-22 05:23] #3170 closed

[2016-12-22 14:36] amcastro-tri commented on #4381
This was resolved by #4378 and I will therefore close this issue.

[2016-12-22 14:36] #4381 closed

[2016-12-22 16:02] Lucy-tri commented on #3787
https://reviewable.io/reviews/RobotLocomotion/drake/4575#-

[2016-12-22 18:04] jwnimmer-tri commented on #4424
We don't need this _yet_ in any of our exiting models.  We can reconsider if we do need it later.

[2016-12-22 18:04] #4424 closed

[2016-12-22 18:05] jwnimmer-tri commented on #4417
Can reopen if/when needed.

[2016-12-22 18:05] #4417 closed

[2016-12-22 18:08] jwnimmer-tri commented on #4342
FYI this arose our of discussions with @siyuanfeng-tri.  Assigning to @RussTedrake for prioritization / OKR assignment.

[2016-12-22 18:11] jwnimmer-tri commented on #4155
Over to @sammy-tri for triage / measurements.

[2016-12-22 18:13] jwnimmer-tri commented on #3543
Gazebo should be able to do this now / soon.

[2016-12-22 18:13] #3543 closed

[2016-12-22 18:14] jwnimmer-tri commented on #3492
Wontfix.

[2016-12-22 18:14] #3492 closed

[2016-12-22 18:18] jwnimmer-tri commented on #3088
@RussTedrake are you working on this?  Is it done?

[2016-12-22 18:21] jwnimmer-tri commented on #2624
Mission accomplished.

[2016-12-22 18:21] #2624 closed

[2016-12-22 18:21] jwnimmer-tri commented on #2623
Defer until later.

[2016-12-22 18:21] #2623 closed

[2016-12-22 18:22] jwnimmer-tri commented on #2583
Done per the linked PR.

[2016-12-22 18:22] #2583 closed

[2016-12-22 18:23] jwnimmer-tri commented on #2393
Possibly fixed?

[2016-12-22 18:24] jwnimmer-tri commented on #2266
Done.

[2016-12-22 18:24] #2266 closed

[2016-12-22 18:26] jwnimmer-tri commented on #2249
Fix only later once needed.

[2016-12-22 18:26] #2249 closed

[2016-12-22 18:26] jwnimmer-tri commented on #2211
Done.

[2016-12-22 18:26] #2211 closed

[2016-12-22 18:26] jwnimmer-tri commented on #2173
Done.

[2016-12-22 18:26] #2173 closed

[2016-12-22 18:28] jwnimmer-tri commented on #459
@RussTedrake is this still relevant / keep it open?

[2016-12-22 18:29] jwnimmer-tri commented on #1654
@liangfok Done?

[2016-12-22 18:32] jwnimmer-tri commented on #2034
Over to @sherm1 to decide if we care / reassign within his team / close?

[2016-12-22 18:33] jwnimmer-tri commented on #2640
Good enough?  Sure.

[2016-12-22 18:33] #2640 closed

[2016-12-22 18:34] jwnimmer-tri commented on #2646
No extra docs needed.

[2016-12-22 18:34] #2646 closed

[2016-12-22 18:35] jwnimmer-tri commented on #2733
CMake changes already done are good enough.

[2016-12-22 18:35] #2733 closed

[2016-12-22 18:35] #2760 closed

[2016-12-22 18:36] jwnimmer-tri commented on #2802
System 1.0.  Not relevant.

[2016-12-22 18:36] #2802 closed

[2016-12-22 18:38] jwnimmer-tri commented on #3761
Can fix later if / when we care.

[2016-12-22 18:38] #3761 closed

[2016-12-22 19:28] liangfok opened #4592 "RigidBodyTree::collisionRaycast() Needs To Be Made const."
In System 2.0, we need to call `RigidBodyTree::collisionRaycast()` from a `const` context, like from within the bodies of `System::DoCalcUpdate()` and `System::DoPublish()`. Currently, we cannot do this without resorting to using `const_cast`.

[2016-12-22 19:30] sammy-tri commented on #3778
Closing, I'm not planning on fixing MATLAB debugging issues.

[2016-12-22 19:30] #3778 closed

[2016-12-22 19:48] sammy-tri commented on #4155
Depending on where I run the sim, I'm seeing 2500-3200hz out of kuka_simulation on current drake master.  That'll do for now.  I don't believe this ticket needs to be kept around to track caching and targeted output evaluation.

[2016-12-22 19:48] #4155 closed

[2016-12-22 19:55] Lucy-tri commented on #3787
PR #4575 is merged, so this is done.

[2016-12-22 19:55] #3787 closed

[2016-12-22 19:57] jwnimmer-tri opened #4593 "Fix Bazel python on OSX"
Regression as of #4571.

OSX `pkg-config python2` has `-framework CoreFoundation`.
[code]

The issue is that kythe's `bazel-pkg-config` script chops up the return value from `pkg-config` using spaces as a delimiter.

- Possible solution: https://github.com/tensorflow/tensorflow/tree/master/util/python.
- Or else: `$(brew --prefix python)/bin/python-config --exec-prefix` or similar, perhaps.
- FYI

[2016-12-22 20:20] jamiesnape commented on #4574
Technically, this an open-source project, so there may be other users now or in future (whether customers or otherwise).

[2016-12-22 20:58] sherm1 commented on #2890
I'm working on this now as part of getting the cache working per #4364 and would like some feedback on the following approach:

OutputPorts need to be treated individually rather than as a group as we are doing now. Typically, each OutputPort will be backed by a cache entry that is evaluated when that port's value is requested, and brought up to date if necessary. The following per-port informatio

[2016-12-22 21:02] sherm1 commented on #2316
@amcastro-tri, I'm assigning this to you since you are modifying RigidBody.

[2016-12-22 21:09] sherm1 commented on #2034
Punting to @SeanCurtis-TRI. Sean, is there anything worth pursuing here? Should these Matlab tests be ported to C++ and nuked? Please feel free to close if this is no longer relevant.

[2016-12-22 21:17] sherm1 commented on #2968
@edrumwri, assigning to you to decide whether to keep this around or maybe replace it with something more specific. I interpret this as a general request for the Simulator to attempt to provide useful information about systems that blow up, which does seem like a good idea where possible. Some general things could be done like catching NaNs, determining which state drove the stepsize to epsilon, a

[2016-12-22 21:20] sherm1 commented on #4592
While you're in the neighborhood, @SeanCurtis-TRI ...

[2016-12-23 01:55] sherm1 commented on #4407
@amcastro-tri, I'm assigning this to you. Please feel free to close it if this is done.

[2016-12-23 04:14] liangfok opened #4595 "boxcar.sdf Is Missing Visual Elements - Need to improve automotive_simulator_test.cc to check for visual element of SimpleCar"
I didn't try to load it but from a quick glance, it appears to be missing any visual element:

https://github.com/RobotLocomotion/drake/blob/09d818b81f79cd054262605ddbe2c6959bae28a8/drake/automotive/models/boxcar.sdf

Is this true? Is this expected?

[2016-12-23 14:18] RussTedrake commented on #2393
yes.  examples are built in the main documentation.

[2016-12-23 14:18] #2393 closed

[2016-12-23 14:19] RussTedrake commented on #3867
i think it's safe to close.

[2016-12-23 14:19] #3867 closed

[2016-12-23 14:51] RussTedrake commented on #67
may definitely still consider in the future, but closing for now.

[2016-12-23 14:51] #67 closed

[2016-12-23 14:52] RussTedrake commented on #107
may revisit in the future, but not immediately relevant in the c++ code.

[2016-12-23 14:52] #107 closed

[2016-12-23 14:52] RussTedrake commented on #281
won’t fix

[2016-12-23 14:52] #281 closed

[2016-12-23 14:52] RussTedrake commented on #313
won’t fix

[2016-12-23 14:53] #313 closed

[2016-12-23 14:53] RussTedrake commented on #374
won’t fix (matlab only)

[2016-12-23 14:53] #374 closed

[2016-12-23 14:55] jwnimmer-tri commented on #4595
@liangfok You added this model to the repo, for use by unit tests (only).  Probably you are the best person to answer whether its content is as-expected or not.

[2016-12-23 15:03] liangfok commented on #4595
Oh yeah, you're right. Looks like the unit test (`automotive_simulator_test.cc`) doesn't check the model instance's visualization. It only checks the existence of a link in the model instance. I'll update this issue to reflect the need to improve the unit test.

[2016-12-23 15:11] jwnimmer-tri commented on #1896
I re-read #1714.  That was an adventure.  I believe its conclusion is that the car's wheels are asymmetric by 13 microns.  I'm going to call that wont-fix.

[2016-12-23 15:11] #1896 closed

[2016-12-23 15:12] jwnimmer-tri commented on #4595
We could also just delete the boxcar(s)?

[2016-12-23 15:14] jwnimmer-tri commented on #2611
So between (1) a revised understanding of what's allowed to depend on what (tests may in general depend on anything anywhere), and (2) its pydrake (so who cares), I think that this is no longer an issue.  Resolved-invalid.

[2016-12-23 15:14] #2611 closed

[2016-12-23 15:15] liangfok commented on #4595
SGTM. Either way is OK. In the past, having BoxCars was helpful for detecting excessive overhead of using models with multiple articulated bodies and mesh visualizations.

[2016-12-23 15:15] jwnimmer-tri commented on #3162
I think it's been going pretty well.  I'm not sure what beyond cppguide we need here.  Resolved-invalid.

[2016-12-23 15:15] #3162 closed

[2016-12-23 15:23] jwnimmer-tri commented on #4074
The linked examples show how to de-duplicate information within an SDF using ERuby (i.e., support named variables within a file, so that literal data isn't monotonously / brittlely repeated).  I don't (yet?) see an example of ERuby that allows for an ensemble of SDFs to be created from a single description file plus parameters and/or config knobs.

How important is it to have the ensemble of separ

[2016-12-23 15:29] liangfok commented on #4074
I think it's very desirable to consolidate all of the disparate Prius SDF models in `master` into something that's automatically generated. I'm not yet sure what the best approach for this will be. Programmatically modifying a model instance within a `RigidBodyTree` after a generic model specification is loaded also seems to suffer maintainability problems since we won't be able to determine what

[2016-12-23 15:37] jwnimmer-tri commented on #4074
What if for now we just delete all Prius SDFs and URDFs from the repo that are not `prius_with_lidar.sdf`?  They don't appear to be used for anything.

[2016-12-23 15:40] liangfok commented on #4074
Sure, SGTM.

[2016-12-23 15:42] liangfok commented on #4074
Actually, `drake-distro/drake/multibody/rigid_body_system1/test/CMakeLists.txt` uses "prius.sdf" and "prius.urdf":

https://github.com/RobotLocomotion/drake/blob/f6ac89600b28234b47047e3a8757a0c9473d2790/drake/multibody/rigid_body_system1/test/CMakeLists.txt#L24

We will need to make a `prius_with_lidar.urdf` if we want to remove `prius.sdf` and `prius.urdf`. Or we can delete the unit test. Or port

[2016-12-23 15:43] jwnimmer-tri commented on #4074
If we have two models of the same thing, a regression test to keep them sync'd makes sense.  If we only need one copy of a model, probably we shouldn't a second copy in order to test that two copies stay in sync.

[2016-12-23 15:46] liangfok commented on #4074
I believe the original goal of that unit test was to check whether the SDF parser, which was newer and more buggy at the time, produced the same model instance as the URDF parser, which was older and more-mature at the time. Maybe we can conclude that this motivation is no longer present and remove this unit test.

[2016-12-23 15:48] #1100 closed

[2016-12-23 15:49] RussTedrake commented on #1415
mathematical program has this soundly resolved going forward (would fallback to snopt).  still have to finish porting fastQP, but will close this particular issue.

[2016-12-23 15:49] #1415 closed

[2016-12-23 15:50] RussTedrake commented on #1459
won’t fix.  (moving to c++)

[2016-12-23 15:50] #1459 closed

[2016-12-23 15:50] RussTedrake commented on #1509
won’t fix

[2016-12-23 15:50] #1509 closed

[2016-12-23 15:51] RussTedrake commented on #1710
won’t fix.  (focused on c++ version for now)

[2016-12-23 15:51] #1710 closed

[2016-12-23 15:52] #2012 closed

[2016-12-23 15:52] RussTedrake commented on #2100
won’t fix

[2016-12-23 15:52] #2100 closed

[2016-12-23 15:52] RussTedrake commented on #2101
won’t fix

[2016-12-23 15:53] #2101 closed

[2016-12-23 15:54] RussTedrake commented on #2336
won’t fix.

[2016-12-23 15:54] #2336 closed

[2016-12-23 15:54] jwnimmer-tri commented on #4560
I looked at what Doxygen was giving us for Builder.  The missing links were annoying, but not worth an issue.  However, having to click through into `builder.h` to find the Builder's overview write-up was a real problem.  I've PR'd that fix (which happens to also add the hyperlinks requested in OP).

[2016-12-23 15:55] RussTedrake commented on #2337
yes, it was done intentionally.  (the optimization takes a long time, and this test was to evaluate the stabilization).  we might revisit on further cleanup, but will close this for now.

[2016-12-23 15:55] #2337 closed

[2016-12-23 15:58] jwnimmer-tri commented on #4569
http://drake.mit.edu/doxygen_cxx/classdrake_1_1maliput_1_1monolane_1_1_road_geometry.html

In the code that went into master, the class overview now has `api::RoadGeometry` hyperlinked, very nearby to the figure.  I think that's good enough.

[2016-12-23 15:58] #4569 closed

[2016-12-23 17:42] RussTedrake commented on #4279
moved this to my personal todo list (github now feels like the wrong place for it)

[2016-12-23 17:42] #4279 closed

[2016-12-23 17:42] RussTedrake commented on #4280
moved this to my personal todo list (github now feels like the wrong place for it)

[2016-12-23 17:42] #4280 closed

[2016-12-23 17:42] RussTedrake commented on #4281
moved this to my personal todo list (github now feels like the wrong place for it)

[2016-12-23 17:43] #4281 closed

[2016-12-24 03:29] gizatt commented on #4555
I'm not going to be super useful here: (1) and (2) aren't something I know anything about. When I added the no-margin version of various collision elements, I believe I set it to have nonzero-but-tiny margin to line up with the zero-radius collision spheres case (but I don't remember why I would have chosen 1E-9). I am thus totally unopposed to those things being changed and improved!

[2016-12-24 14:25] jwnimmer-tri commented on #4574
I don't think we know, but I haven't been able to think of any meaningful examples.

The biggest related risk is that when #4303 integration happens, we will be publishing our `automotive` library into CMake land, but the `automotive` developers will not be using CMake regularly.  Thus, bugs in the Bazel -> CMake library integration may go undetected for longer.  I hope we can mitigate that by (1)

[2016-12-24 14:28] jwnimmer-tri commented on #4112
I've renamed the issue to make it clear what the point is: do we want to stand up a temporary `lcmt_viewer` publisher that can operate without using RigidBodyTree, prior to GeometryWorld coming online, so that the `automotive` library and demos are easier to develop in the meantime?

[2016-12-24 14:32] jwnimmer-tri commented on #4074
Well, if we want to sanity-check the two parser implementations against each other, that's fine, but doing so using the `automotive` models is a drag on `automotive` development (it makes it difficult to edit the models).

We should remove the unwanted models, and if necessary file an issue that the parsers need better regression tests, using models that are curated for that purpose specifically.

[2016-12-24 14:35] jwnimmer-tri commented on #4337
For the record: it's pretty obvious to me that this the correct thing to do.  The question now is the urgency, and how it inter-relates to other concurrent tasks.  I've assigned it to myself while I help sort out that answer.

/CC @nkoenig

[2016-12-24 15:49] jamiesnape commented on #4574
That is not the usual practice for building an open-source community, and especially in the early days people will not trust this project and move on. A vibrant open-source project is to an extent always "under construction", so it is not a good argument. There are always accommodations that have to be made when deciding that a project should be open-source. We already have people forking the proj

[2016-12-24 19:37] amcastro-tri commented on #2890
I really like this idea, I think it is pretty elegant. I do see how not only it'll help solve the problem of having some sort of `switch` in `EvalOutputPort()` but also it could help for a more intuitive way to declare ports by users. +1

[2016-12-24 20:48] RussTedrake commented on #2890
I like the concept file, but do feel that code describing e.g. the derivative and output methods of the system should be conceptually close to each other in the code.  Of course, syntactic sugar like #4448 could be done in either case.  But it would be good to avoid having to define many classes to implement a simple input/output system.

[2016-12-24 23:09] amcastro-tri commented on #2890
@sherm1, does your proposed design consider cases like `RigidBodyPlant`? `RigidBodyPlant` defines now input and output ports per model instance. At runtime, those outputs do different things depending on the port number. Would there be a single `OutputPort` class for all model instance input/output ports? how would the `OutputPort` decide what model instance it is supposed to evaluate?

[2016-12-24 23:43] sherm1 commented on #2890
@amcastro-tri, I would imagine a single class derived from OutputPort, say `InstanceOutputPort` that defines the information in a model instance output port. Then there would be `output_port` objects of concrete type `InstanceOutputPort` for each model instance. All the information needed to pick out the particular model instance (like its instance id) would have been supplied in the `InstanceOutp

[2016-12-25 02:56] edrumwri commented on #4505
Fixed in PRs #4536 and #4537.

[2016-12-25 02:56] #4505 closed

[2016-12-25 16:12] amcastro-tri commented on #2890
I see, that makes sense. Thanks.

[2016-12-25 23:15] #3189 closed

[2016-12-26 00:52] RussTedrake opened #4606 "mosek and gurobi don't work with xcode generator"
both fail on the configure step in drake, with almost identical errors.

[code]

[2016-12-26 02:53] liangfok commented on #4574
If we remove `CMakeLists.txt` from `drake/automotive`, will the libraries and header files within `drake/automotive` still be accessible to other ROS packages via Catkin? I ask because there are potential users who are patiently waiting for Drake automotive simulations with ROS bindings.

[2016-12-26 05:00] jamiesnape commented on #4574
No, they will not. We build Drake for ROS with Catkin itself, which requires CMake.

[2016-12-26 13:35] jwnimmer-tri commented on #4574
Jamie's message a couple days ago made me revisit what I'm trying to accomplish here, and thus revise my proposal.  My goal is to remove friction from development velocity.  In that light, I think that keeping the vanilla CMake rules around (declare a library; declare some C++ unit tests) is not a big deal.  Updating the list of source files only takes a moment.  The other occasional pain is addin

[2016-12-26 13:41] liangfok commented on #4337
In #4597 I added a `DepthSensor` but did not port System 1.0's custom SDF parser (it's located in `RigidBodySystem`). I'm thinking about going ahead and adding OSRF's SDF parser as a Drake external and using it to instantiate a `DepthSensor` based on an SDF specification. In other words, this would incrementally replace Drake's current custom SDF parser with OSRF's.

[2016-12-26 23:28] amcastro-tri commented on #2316
This is actually solved. @liangfok renamed it to a private member `RigidBody::name_` with public setter `set_name()` and getter `get_name()`.

[2016-12-26 23:28] #2316 closed

[2016-12-27 00:53] jwnimmer-tri commented on #4593
This could be a last resort, but I don't like it on first read.  The approach seems to be: the user manually runs a [configure](https://github.com/tensorflow/tensorflow/blob/master/configure) script that they interact with to choose the python to use; the script makes symlinks and rc files that capture this result into the source tree; the BUILD file globs up the python choice with a touch-rule.

[2016-12-27 01:02] jwnimmer-tri commented on #4593
To clarify the OP: the fundamental issue is `pkg-config --libs --static python2` is split on whitespace and fed into [cc_binary linkopts](https://bazel.build/versions/master/docs/be/c-cpp.html#cc_binary.linkopts) which has a meaning of _"Each element of this list that does not start with $ or - is assumed to be the label of a target in deps._".  By splitting on whitespace, we break `-framework Cor

[2016-12-27 02:36] jwnimmer-tri commented on #4574
... and a quick reply to a side discussion as well:

First, let's be clear that we're already open-sourcing our nascent `otherlibrary.BUILD` files, but we're hosting them in our tree.  Someone who wants to use Bazel with one of our externals has a license grant to use the `BUILD` files we've written.  Other projects that use Bazel as a tool aren't even doing that much for their open-source externa

[2016-12-27 03:21] jwnimmer-tri commented on #4074
I took over this issue to understand it and assess whether we should close it.  I'm convinced the model file duplication is real issue and relatively trivially fixed, so this should stay open, and reassign over to @liangfok again as the responsible party again.

[2016-12-27 03:36] jwnimmer-tri commented on #4559
How much of a performance hit is the re-setup of the constraints for every new solve?

This is just an "incremental recompilation" style of problem.  I can think of a few designs that help with either memoizing repeated setup computations, or handling a "recompile only what changed" ripple.  (Without the slicing / manual dirty bit errors shown in the upthread designs.)  But they will all make the

[2016-12-27 03:57] liangfok opened #4610 "Spruce Reports Incorrect Working Directory in Bazel-based Unit Test"
# Problem Definition

The following code is used to obtain the current working directory using `spruce`:

[code]

The resulting print statement shows the current working directory returned by `spruce`:

[code]

The above-mentioned directory does not exist:

[code]

[2016-12-27 04:00] jwnimmer-tri commented on #4610
I suspect that at the time the test was running, such a directory _did_ exist.

Is the issue here just a request to get the new unit test working under Bazel?

[2016-12-27 04:12] jwnimmer-tri commented on #2890
To help frame the discussion, let's observe that `EvalOutputs` (now called `CalcOutput`) is called from _very few places_.  The main call comes from Digram; there's also one call coming from `Linearize` and one call coming from `LuenbergerObserver`.  So I think 3 in total now, so perhaps on the order of 10 call sites forever.

In contrast, there are dozens (if not hundreds) of _implementations_ of

[2016-12-27 04:34] RussTedrake commented on #2890
I'm not sure that I agree.  You're extrapolating from very little data.  There are more implementations now because we're adding dynamical systems.  But I expect that the shift of our work will tend towards writing more algorithms (call sites forever >> 10).

[2016-12-27 04:40] jwnimmer-tri commented on #2890
Fair enough.

So the proposal has to adequately address both caller and callee, instead of just the callee.

[2016-12-27 06:44] jefesaurus opened #4611 "snopt.hh const correctness and snopt BUILD file"
It seems `snopt_solver.cc` uses `snopt.hh`, which at least in my unmodified copy of 7.2-8 has non-const pointers for the first arg of `snseti` and `snsetr`, which requires me to change your `snopt_solver.cc` to const cast. I'd rather make as few modifications to drake and snopt as possible. How did you get around this? Modifying the snopt signatures or some other loophole?

Also, I noticed you fol

[2016-12-27 12:04] liangfok commented on #4610
Yes, I was trying to get `parser_common_test`  to run in #4576. Is there a way to pause or abort a Bazel build in such a way where all directories created by Bazel are kept intact?

[2016-12-27 12:10] liangfok commented on #4610
Here is my WIP feature branch with instrumentation that replicates the above-mentioned error:

https://github.com/liangfok/drake/commit/179722dad661844a84987effcb479343417927b7

[2016-12-27 12:28] liangfok commented on #3429
Again: https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-gcc-continuous-ros-debug/846/consoleFull

[2016-12-27 12:54] RussTedrake commented on #4611
awesome.  assigning to the most relevant folks.  thanks!

[2016-12-27 14:13] RussTedrake opened #4612 "revisit LinearSystemSolver api"
Thinking more about it, I think we need to improve the consistency of the LinearSystemSolver with the rest of MathematicalProgram.  I think that if one were to add (only) a bunch of linear constraints and call solve, then it should return infeasible if that system cannot be solved to tolerance.  In order to use the api as it’s currently implemented (which returns the minimum norm solution to Ax =

[2016-12-27 15:07] jamiesnape commented on #4611
Can you update the documentation to add `libf2c2-dev` and [install_prereqs.sh](https://github.com/RobotLocomotion/drake/blob/master/setup/ubuntu/16.04/install_prereqs.sh) script? This will need changes to the CI images.

[2016-12-27 15:08] jamiesnape commented on #4611
Also, we maintain the build system for SNOPT, so this could go into the SNOPT repo itself.

[2016-12-27 15:13] jamiesnape commented on #4606
They are working on the CI Xcode jobs: https://drake-jenkins.csail.mit.edu/view/Xcode/

Try
[code]

[2016-12-27 15:19] jamiesnape commented on #4574
I am kind of thinking we should skip #4303, get everything ready and then make one switch, but that is discussion for elsewhere.

Sounds good.

[2016-12-27 15:33] edrumwri commented on #4612
Since you're revisiting the API, do you want to consider a user-provided matrix structure description? Like saying that the matrix is symmetric, positive definite or triangular? The structure wouldn't even have to be guaranteed, but could provide a good starting point for a solution algorithm.

[2016-12-27 15:36] RussTedrake commented on #4606
same error.

only difference I can see is that my `build` folder is named `xcode` here (since I also have a make build)

[2016-12-27 15:37] RussTedrake commented on #4612
also a good idea.

[2016-12-27 15:39] jamiesnape commented on #4606
Try removing `xcode/drake-prefix` and `xcode/drake` also.

[2016-12-27 16:11] #4593 closed

[2016-12-27 16:23] liangfok commented on #4610
I received and applied @jwnimmer-tri's patch in #4576. Since the patch worked, I shall close this issue.

[2016-12-27 16:23] #4610 closed

[2016-12-27 16:25] jamiesnape commented on #4606
I just reproduced the error with a build folder called `xcode`. I will work on a fix.

[2016-12-27 16:30] RussTedrake commented on #4606
it's strange that the cmake config files are clearly found (and parsed), but somehow WITH_* does not get set.

[2016-12-27 17:12] jamiesnape commented on #4606
@RussTedrake can you check that `libmosek64.dylib` and `libgurobi60.so` are installed to `xcode/install/lib`?

[2016-12-27 17:57] RussTedrake commented on #4606
yes.  both are present.

[2016-12-27 17:57] RussTedrake commented on #4606
also just confirmed that it built ok when i made `build` the xcode build.

[2016-12-27 17:59] jamiesnape commented on #4606
Can you send me the contents of the `xcode/install/lib/gurobi` and `xcode/install/lib/mosek` folders?

[2016-12-27 18:08] sherm1 commented on #2890
The caller side won't be much of a problem however this is done -- basically `port.Eval(context)` vs. `EvalOutputPort(context, port.get_port_number())`. The callee implementation side is very important but I don't think it is improved by using port numbers rather than ports, which is the question at hand. The interface for common cases (e.g. leaf system with a single vector output port) can be mad

[2016-12-27 18:19] RussTedrake commented on #4606
no gurobi folder in install lib.

[code]

[code]

[for_jamie.txt](https://github.com/RobotLocomotion/drake/files/674497/for_jamie.txt)

[2016-12-27 18:27] jamiesnape commented on #4606
Everything looks good for mosek from those files. Can you add the `NO_QUIET` argument to `drake_find_package()` here

https://github.com/RobotLocomotion/drake/blob/master/cmake/packages.cmake#L148

and send me any output relating to mosek?

[2016-12-27 18:30] RussTedrake commented on #4606
gurobi get's hit first:
[code]

[2016-12-27 18:31] RussTedrake commented on #4606
same for mosek (after moving it ahead of gurobi in that list)
[code]

[2016-12-27 18:36] RussTedrake commented on #4606
also confirmed that I get to the end of gurobi-config.cmake (a status message prints fine there).

[2016-12-27 18:52] jwnimmer-tri opened #4614 "InputPortDescriptor and OutputPortDescriptor are virtual and copyable"
InputPortDescriptor and OutputPortDescriptor are virtual and copyable.  One or the other choice is wrong -- types shouldn't be both at once (at least not without private clone fanciness), because of the slicing problem.

[2016-12-27 18:53] jwnimmer-tri commented on #4614
... and if they remain copyable, that should be documented as part of the API overview and/or `= default` methods, so users clearly know they can rely on it.

[2016-12-27 19:01] sherm1 commented on #4614
Related: discussion in #2890.

[2016-12-27 19:15] sammy-tri commented on #3865
Reassigning to @naveenoid since I think #4521 may accomplish most/all of this.

[2016-12-27 19:59] naveenoid commented on #3865
Since #4521 has landed the only thing needed is to get KukaIiwaArmDynamicsSim to use the plant model. I will submit a fix PR ASAP.

[2016-12-27 20:20] jwnimmer-tri commented on #3129
Starting from the wonderful list in #4045, here's a checklist of our externals, to be ticked off once Bazel support for them is complete for Drake's use.  I will keep this updated as we make progress.

- [ ] `bot_core_lcmtypes` #4608
- [x] `bullet` #4394
- [ ] `ccd` #4600
- [ ] `director`
- [ ] `dreal`
- [x] `eigen` #3819
- [ ] `fcl` #4600
- [x] `gflags`
- [ ] `google_styleguide`
- [x] `googletest

[2016-12-27 21:04] Lucy-tri commented on #3869
I think this got renamed to controlled_kuka_demo.cc

[2016-12-27 21:16] jwnimmer-tri commented on #4614
FTR from grepping for similar problems in `framework` the `LeafSystemOutput` and `Context` are both `virtual` (with good purpose) but lack `= delete` of their copy & assign.

[2016-12-27 21:21] hongkai-dai commented on #4559
@jwnimmer-tri , I have not run the profile to check the time spent on each constraint. But we want to remove any redundant computation in optimization, since when controlling the robot, the optimization should run as fast as possible (~1000Hz).

The purpose of this cleanup is not only to speed up parsing the constraints, but also to store solver result inside each `MathematicalProgramSolverInterfa

[2016-12-27 21:30] jwnimmer-tri commented on #4559
Yes, I fully support offering extra data after a Solve.  It seems like we could solve that relatively separately from the re-parsing optimizations.

For reference, the rigid body plant has a `contact_detail` concept that solves a similar problem of offering supplemental data after a computation, depending on which backend was used.

[2016-12-27 22:10] hongkai-dai opened #4619 "Replace DecisionVariableScalar with symbolic::Variable"
Based on a f2f discussion with @soonho-tri @jwnimmer-tri and @RussTedrake , we decide to replace `DecisionVariableScalar` with `symbolic::Variable`. The goal is to allow the user to write program like
[code]
So we can support symbolic expression in our optimization.

This requires the following changes

1. [x] 1. `symbolic::Variable` can be used as a scalar type in Eigen::Matrix. Namely it should

[2016-12-27 22:17] hongkai-dai commented on #4611
@jefesaurus in https://github.com/RobotLocomotion/drake/blob/master/drake/solvers/snopt_solver.cc#L368, we created a struct `SNOPTRun` to call `snseti` and `snsetr`. That struct is not stored inside `SnoptSolver`, so `SnoptSolver` is still const.

[2016-12-27 22:18] amcastro-tri opened #4621 "Formulate CRB's in RBT as computed about Bo rather than Wo."
Per [this comment](https://reviewable.io/reviews/robotlocomotion/drake/4591#-KZc_Rz1guWcu2PtH3Uz) we'd like a formulation for composite body inertias in which the CRB inertia `Rk` for body `k` is computed about the origin of the body-k origin.
Currently Drake computes CRB's about the world's origin and this might result in numerical issues in situations with many small components forming a multibo

[2016-12-27 22:36] soonho-tri opened #4623 "Add operator overloading for symbolic::Variable"
This is for https://github.com/RobotLocomotion/drake/issues/4619. We need operator overloading `+`, `-`, `*`, `/` between `symbolic::Variable`s. For example,

[code]

[2016-12-27 22:37] soonho-tri commented on #4623
/cc @hongkai-dai

[2016-12-27 22:38] soonho-tri opened #4624 "make symbolic::Variable compatible with Eigen::Matrix"
This is for https://github.com/RobotLocomotion/drake/issues/4619.

/cc @hongkai-dai

[2016-12-27 22:58] jwnimmer-tri commented on #4623
The cppguide says not do that, except when _Implicit conversions can sometimes be necessary and appropriate for types that are designed to transparently wrap other types. In that case, contact your project leads to request a waiver of this rule._

So in this case its borderline.  Likely a conversion from Variable to Expression is always desirable when demanded by the C++ expression.  But it's not

[2016-12-28 00:30] sherm1 opened #4625 "Styleguide should permit copy construction w/o assignment when assignment is impossible"
Per [discussion](https://reviewable.io/reviews/robotlocomotion/drake/4616#-K_16R5tgir23Hdvk27K) in PR #4616: Our style guide Clarifications section requires use of const data members when possible, and the [Google style guide](https://google.github.io/styleguide/cppguide.html#Use_of_const) also encourages that discipline. Classes with const data members are suitable for copy & move construction, b

[2016-12-28 01:35] #4614 closed

[2016-12-28 02:42] soonho-tri commented on #4623
@jwnimmer-tri , thanks for the comment. I'll write operator overloading. I think, thanks to today's discussion, we won't have different kinds of variables, and as a result, we don't need to worry about too-many overloadings..

[2016-12-28 14:51] soonho-tri commented on #4623
@hongkai-dai , I'm working on it now.

If this is blocking your workflow, please remove the `explicit` keyword at [drake/common/symbolic_expression.h#L143-L144]( https://github.com/RobotLocomotion/drake/blob/master/drake/common/symbolic_expression.h#L143-L144). It should work as if this issue is resolved.

[2016-12-28 15:20] SeanCurtis-TRI commented on #2034
I'll take a look.

[2016-12-28 15:22] SeanCurtis-TRI commented on #4592
This is part of a larger problem; that being the process of querying the tree updates the tree.  We have the same issues when doing contact computation.  This will probably be deferred until `GeometryWorld` takes over these responsibilities and `GeometryQuery` provides an appropriate `const` interface.

[2016-12-28 15:23] liangfok commented on #4592
Thanks for investigating. I will close this issue and trust that it will be eventually resolved once GeometryWorld and GeometryQuery are introduced.

[2016-12-28 15:23] #4592 closed

[2016-12-28 15:40] SeanCurtis-TRI commented on #3088
I would be sorely surprised if this is *not* the case.  [this code](https://github.com/RobotLocomotion/drake/blob/master/drake/multibody/rigid_body_tree.cc#L109) initializes the tree with the world body at zero.  Both parsers treat "world" special.  And, hardly a proof, my code relies on this being true.  :)

I strongly suspect this can be closed.

[2016-12-28 15:54] liangfok commented on #3088
Actually, I believe this is still a WIP. @RussTedrake has PR #4492, which will address this issue once it's merged.

Note that this issue requires that the first model instance added to the tree not have a model instance ID of zero. Instead, it should have a model instance ID of 1.

[2016-12-28 16:02] jwnimmer-tri commented on #4574
So far, it sounds like consensus.

Next steps: I have a feature branch with `automotive_demo.py` in Bazel, I'll work on getting that PR'd in chunks.  We can live with it for a couple weeks and if we're still happy, commit a `README.md` update that resolves this issue.

[2016-12-28 16:13] SeanCurtis-TRI commented on #3088
Ahhhh...my brain filled in words that weren't there.  I interpreted everything w.r.t. body ids and not model instance ids.  My bad.

[2016-12-28 17:45] #4624 closed

[2016-12-28 20:33] #4623 closed

[2016-12-28 21:42] soonho-tri commented on #4415
@hongkai-dai , When https://github.com/RobotLocomotion/drake/pull/4562 is merged, I'll continue working on this issue. Could you confirm that we still need the following methods in the item3?

[code]

[2016-12-28 21:46] hongkai-dai commented on #4415
@soonho-tri , yes we still need this. I just replaced `DecisionVariableScalar` with `symbolic::Variable`, I will send a PR today.

[2016-12-28 22:13] soonho-tri commented on #4415
I see.

Sounds good!

[2016-12-28 23:42] sherm1 opened #4633 "Need minimalist high-confidence MultibodyTree/Plant"
Per discussion with Russ and Dynamics team, we need to migrate Drake to a version of `RigidBodyTree` in which we can have high confidence. (Some [issues](https://docs.google.com/a/trinst.com/document/d/1mX8vvhC1grLy-BFTfUP51rvyO5I5TMtCMrE2p4D2hoY/edit?usp=sharing) we encountered with RBTree.) Call that `MultibodyTree` (MBTree) for discussion purposes, with `MultibodyPlant` the compatible System 2

[2016-12-29 01:48] RussTedrake opened #4635 "lcm.bzl needs to parse .lcm files to discover the generated output file name"
the current implementation assumes that the lcm filename corresponds to the structure name.  it need not (and does not in bot_core_lcmtypes).

see discussion at:
https://github.com/mwoehlke-kitware/bot_core_lcmtypes/pull/1

and https://github.com/RobotLocomotion/drake/pull/4608

[2016-12-29 02:33] jwnimmer-tri commented on #4635
I believe the fast path to getting a build up and running would be to do like https://bazel.build/versions/master/docs/skylark/cookbook.html#custom-outputs and allow the `BUILD` file that invokes the `lcm_cc_library` macro to supply the `outs=[...]` list directly, overriding the default computation from `lcm.bzl`'s [_lcm_srcs_to_outs](https://github.com/RobotLocomotion/drake/blob/b8afe52b4aa5eb542

[2016-12-29 02:51] jwnimmer-tri commented on #4633
For `automotive`, as I understand it most of our models do not and will not soon use MBTree or MBPlant.  (As discussed elsewhere, the main things we want initially are System2 & Simulator2, GeometryWorld, and Visualization APIs.)

For MBPlant specifically, what we are simulating right now with RBPlant is [prius.sdf](https://github.com/RobotLocomotion/drake/blob/master/drake/automotive/models/prius

[2016-12-29 02:53] jwnimmer-tri commented on #4337
@sherm1 In #4633 you say _"Build an MBTree from urdf and sdf, with fully-documented mapping from files to internal frames"_.  Do you know how much that touches or doesn't the current XML-level parsing goop?  If it's a lot, would it make sense for you to take over steering this issue?

[2016-12-29 03:20] liangfok commented on #3814
I believe a quick workaround is _not_ sourcing your ROS workspace prior to building Drake (by "sourcing" I mean executing `source $HOME/dev/drake_catkin_workspace/devel/setup.bash` or ` source /opt/ros/indigo/setup.bash`). Once Drake is built, you can source your ROS workspace.

[2016-12-29 04:53] sherm1 commented on #4337
Yes, I think it makes great sense to do this for MBTree and not attempt an RBTree retrofit. I'll reassign to dynamics but it would be great to work with @liangfok on this.

[2016-12-29 11:10] RussTedrake commented on #4633
on quick inspection, i think the schunk gripper (https://github.com/RobotLocomotion/drake/blob/master/drake/examples/schunk_wsg/models/schunk_wsg_50.sdf) has kinematic loops. The prius model steering column does, too, but @jwnimmer-tri  articulated that that particular model is not a priority.

The reporting (via output ports) of contact forces and potentially the acceptance of external wrenches (

[2016-12-29 13:14] RussTedrake commented on #2034
without looking at the details, it seems like a very reasonable action to take here would be to remove the `compareParsers` test.  We should just admit that the parsers are going to move forward in c++ and not in matlab (therefore the two will diverge).

[2016-12-29 14:10] siyuanfeng-tri commented on #4633
I just want to make sure that the Jacobian stuff are in the list somewhere (probably covered by the forward kinematics part). I'd like to compute J, and Jdot, where xdot = J * v. Forward dynamics probably covers the mass matrix and the nonlinear term. It would be really nice to have the centroidal momentum matrix and its dot as well, but I can live without it. Also in the current RBT, computing th

[2016-12-29 14:40] amcastro-tri commented on #4337
@sherm1, I think that makes the most sense. Looking into the parsers' source I just see a [very basic example](https://bitbucket.org/osrf/sdformat/src/a3fa3d1163cc2fe991ac106e51695b99f8b119ca/examples/simple.cc?at=default&fileviewer=file-view-default). @liangfok, do  you know of more complex usages cases to learn how that library works? is its API documented/used anywhere?
What about URDF files, i

[2016-12-29 15:21] edrumwri commented on #4633
Siyuan, contact constraints are compliant, which is somewhat like Baumgarte
stabilization. There is otherwise *no* stabilization being done (no rigid
contact, no sticking contact, no quaternion normalization, no loop joint
stabilization).

--------------------------------
Evan Drumwright
Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Thu, Dec 29, 201

[2016-12-29 15:50] mwoehlke-kitware commented on #4635
JFTR, this sounds scarier than it needs to be. The "parser" I implemented for CMake (i.e. what LCM ships) is fairly simple-minded, which seems to be okay 99% of the time. This should be sufficient:

- Read the whole file into a string.
- Remove C and C++ comments (can do with a pair of regular expressions).
- Remove content in `{}`s (again, regular expression).
- Split the remainder at `;`s.
- Sca

[2016-12-29 15:57] siyuanfeng-tri opened #4639 "Soliciting comments for a LCM tunable variable."
We want to add a mechanism to enable online tunable variables. This is especially useful for tuning gain / parameter interactively.

The current proposal is to have a LCM handler class that stores a list of variables (e.g. double) and their memory addresses. For each incoming LCM message, the handler updates all the variables in that message by writing the values in the message directly to the cor

[2016-12-29 15:59] siyuanfeng-tri commented on #4633
@edrumwri cool, that matches what I thought.

[2016-12-29 16:03] sammy-tri commented on #4633
I think that looks good for what manipulation will need in the short term, minding @RussTedrake 's comments about the mechanics of the gripper model (I'm open to changing the model if we can find an effective alternate method of enforcing the motion of the fingers).

We also should make sure we don't do anything which would break GravityCompensator (I don't think this will be a problem but it wasn

[2016-12-29 16:05] siyuanfeng-tri commented on #4633
@sammy-tri @naveenoid I think grav comp should be fine as long as we still have the nonlinear term from forward dynamics.

[2016-12-29 16:10] siyuanfeng-tri commented on #4639
I suppose another big problem is that the stored memory address points to some dynamic thing which can be reallocated (e.g. Eigen::VectorXd).

[2016-12-29 16:32] mwoehlke-kitware commented on #4635
In particular, see [this](https://gist.github.com/mwoehlke-kitware/a0e58920a1c0bb148df8cf91c5839d63) sample Python parser. The actual parsing is only about 10 LOC using nothing more complicated than a few regular expressions.

[2016-12-29 17:41] SeanCurtis-TRI commented on #3293
Closed via PR #4632

[2016-12-29 17:41] #3293 closed

[2016-12-29 18:18] sammy-tri commented on #3734
@RussTedrake I was brainstorming the other day while talking to @Lucy-tri as to what the results of this would look like.  I was thinking something like running a simulation with SignalLogger connected to the output, and then passing the SignalLogger to a class which looks something like:
`
class ReplayTrajectory : public Trajectory {

  ReplayTrajectory(const SignalLogger& logged_data, enum Inter

[2016-12-29 20:15] liangfok opened #4641 "Update Drake To Support Various Combinations of SDF Pose Specifications"
# Problem Definition

In #4615, several combinations of joint outboard frame, link frame, inertia frame, and body frame values were identified as being inconsistently supported or interpreted between Drake vs. Gazebo. This issue tracks the resolution of these discrepancies.

EDIT (eric): This is now geared towards ensuring that we have parity for `MultibodyPlant`; no changes will be made for `Rigi

[2016-12-29 21:08] amcastro-tri commented on #4548
Please take a look at related #2004.
Also notice concave terrains were supported in #2697.

[2016-12-29 21:16] sherm1 commented on #3734
We can easily add a method to Simulator that reports the appropriate interpolant order for the trajectory being generated, which is the order of the integrator that was used to advance the continuous intervals. Better would be to have the Simulator provide the interpolators since some integrators have built-in optimal interpolants. But for now I think just the order would be enough if you already

[2016-12-29 21:45] edrumwri commented on #3734
What kind of interpolators will you be using, Sam?

--------------------------------
Evan Drumwright
Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Thu, Dec 29, 2016 at 3:16 PM, Michael Sherman <notifications@github.com>
wrote:

[2016-12-29 21:59] sammy-tri commented on #3734
The simplest thing currently available is to create a PiecewisePolynomial using one of its existing interpolation methods (ZOH, FOH, Pchip, or Cubic).  I'll defer to the Simulator2 crew for what the correct answer is (which may be a different means of constructing the PiecewisePolynomial or not using PiecewisePolynomial to do the interpolation at all).

[2016-12-29 22:16] RussTedrake commented on #3734
The signal logger was a stop-gap measure; I'm not sure if it's the long-term solution.  I think that (fundamentally), the leaf systems don't have access to as much information as the actual simulator --- for instance about event detection in addition to the type of interpolation.  But this discussion is going in the right direction.  I think that there should be a "correct" interpolation scheme fo

[2016-12-30 07:03] hongkai-dai opened #4642 "Benchmark parsing MathematicalProgram to solvers through SolverInterface::DoSolve()"
@RussTedrake mentions in the pose estimation problem, it takes longer to setup the problem, than solving the problem.

[2016-12-30 07:07] hongkai-dai commented on #3367
The last piece missing is the sum-of-squares optimization, which is described in #4421

[2016-12-30 07:07] #3367 closed

[2016-12-30 07:43] hongkai-dai commented on #3500
I tried to add a constant term in `QuadraticConstraint`, such that it means
[code]
Unfortunately some solvers (e.g. Gurobi) does NOT accept a constant term in the objective function. That means the objective value computed by the solver will be different from calling `quadratic_cost.Eval(x)`, if there is a constant term.

[2016-12-30 09:14] jefesaurus commented on #4611
@hongkai-dai The specific issue I'm having is the `SNOPTRun` to snopt interface at
https://github.com/RobotLocomotion/drake/blob/master/drake/solvers/snopt_solver.cc#L151
https://github.com/RobotLocomotion/drake/blob/master/drake/solvers/snopt_solver.cc#L160

[code]

The `SNOPTRun` function takes a const reference to the string `opt` and then passes it to the snopt function with `c_str()`, but at

[2016-12-30 09:22] hongkai-dai commented on #4611
I see, Drake is using SNOPT 7.2-12, and the snseti_ takes a const char*. The signature in our version of SNOPT is
[code]

[2016-12-30 12:48] liangfok opened #4643 "Add Suite of Parsers Frames Unit Test With All Non-Zero Pose Values"
# Problem Definition

In #4615, @amcastro-tri added a suite of unit tests for evaluating various model frame configurations, which resulted in several bugs being identified (#4641). @sherm1 pointed out that numerous frames employed in that suite were defined using `<pose>0 0 0 0 0 0</pose>`, which may result in additional bugs being hidden.

Here is @sherm1's comment:

# Action Item

Add another s

[2016-12-30 13:21] amcastro-tri commented on #4643
Great idea @liangfok. Maybe this or another issue, but I think it'd also be a good idea to test the effect of `<use_parent_model_frame>` in `<joint>/<axis>`. The logic inside the SDF parser for this entry is quite obscure and I think we should cover its usage.

[2016-12-30 16:15] RussTedrake commented on #4642
yes, for large numbers of samples.  (e.g. 5000, but 1000 might be enough).  it's probably not surprising since the process also consumes 12 GB of memory (presumably all being allocated dynamically!) through that setup time.  I think the amount of copying/allocating we do could potentially be substantially reduced -- for example, to add constant element-wise bounds to a big decision matrix variable

[2016-12-30 16:17] RussTedrake commented on #3500
thanks for looking at it.  could we potentially add it back in after the call to the solver?

[2016-12-30 19:12] sherm1 opened #4646 "Add interpolation capability to the Simulator"
(Per dicussion in #3734) Given a recorded trajectory containing continuous state values and derivatives retained at each integration time step, it is possible to interpolate between steps with no loss of accuracy, provided that the interpolation method is suitable for the integrator that was originally used to produce the trajectory. Any interpolant of matching order is tolerable, however the best

[2016-12-30 19:14] sherm1 commented on #3734
I added issue #4646 for adding interpolation capability to the Simulator.

[2016-12-30 20:40] hongkai-dai commented on #3500
Yes, I believe that is the solution.

We do not have a method to get the solution from the solver directly. If we are going to implement this method (which I think we should), we need to be cautious that the objective value coming out from the solver (Gurobi) can be different from evaluating the cost by a constant term.

[2016-12-31 20:15] hongkai-dai opened #4649 "MathematicalProgram needs unit testing for each method"
Currently `MathematicalProgram` does not have a unit test for each of its method. The tests in `mathematical_program_test.cc` are actually testing each solvers (SNOPT, IPOPT, NLOPT); but the method such as `NewDecisionVariables` in `MathematicalProgram` does not have a unit test.

I think we should take the test examples on snopt/ipopt/nlopt solvers out from the `mathematical_program_test.cc`, to

[2017-01-01 20:26] edrumwri commented on #4646
@sherm1, your citations above seem to point to very specific interpolation mechanisms for individual integrators. Is it feasible to use a generic interpolation capability with some helper functions on the integrator side? Asked another way, does the interpolation capability need to exist within the individual integrators?

[2017-01-01 21:34] sherm1 commented on #4646
@edrumwri, in general interpolation should be built into the integrator for best performance and we should allow for that possibility. However, generic interpolation is also possible and will produce results with the right error *order*, but not necessarily with the same accuracy as the step end points. So I think we should provide some handy static methods in the IntegratorBase class, then delega

[2017-01-02 04:09] edrumwri opened #4651 "Remove dv_to_dqdot parameter from `DrakeJointImpl::v2qdot()` and dqdot_to_v parameter from `DrakeJointImpl::qdot2v`, if possible."
These parameters seem to be unused. Per @sherm1's  Reviewable request in PR #4604, adding this issue.

[2017-01-02 20:15] liangfok commented on #3752
Again: https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/mac-clang-ninja-continuous-release/1150/

[2017-01-03 00:12] liangfok opened #4654 "Mysterious CI Error: iiwa_wsg_simulation TIMEOUT"
# The Error

[code]

# Example Logs

https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-gcc-continuous-ros-debug/876/

[2017-01-03 00:12] liangfok commented on #4654
I created this issue for historical tracking purposes. If it becomes more frequently, I'll re-open it.

[2017-01-03 00:12] #4654 closed

[2017-01-03 00:47] hongkai-dai commented on #4642
There are many dynamic memory allocation / copying in current optimization. I list some of them here

1. In each `Constraint` object, such as `LinearConstraint` which imposes `lb<=A_*x<=ub`, the matrix `A_, lb, ub` stored inside the constraint are all dynamic size, and copied from the constructor.
2. In `Binding` class, it binds a constraint with a **list** of decision variables. The decision vari

[2017-01-03 15:02] SeanCurtis-TRI commented on #4548
I would suggest that #2697 is inherently flawed.  Exactly because of the two queries listed above.

If those queries had ever been run on a scene with static geometry, the bug would have already been revealed.  But we were saved by the fact that static geometry wasn't being properly recognized.  So, while it's true, #2697 offered support for concave terrains, that support is limited and has intrin

[2017-01-03 15:04] david-german-tri commented on #4584
Sounds reasonable to me.  Go for it.

[2017-01-03 15:40] david-german-tri commented on #2250
I'm going to close this as wontfix because it doesn't seem to be an actual pain point for anyone.  (No comments since May 2016.)

[2017-01-03 15:40] #2250 closed

[2017-01-03 15:42] david-german-tri commented on #2723
Not going to spend cycles on MATLAB.  Closing.

[2017-01-03 15:42] #2723 closed

[2017-01-03 15:43] david-german-tri commented on #2936
Closing as wontfix in keeping with #2336.

[2017-01-03 15:43] #2936 closed

[2017-01-03 15:43] jwnimmer-tri commented on #2250
I agree with closing it, because Bazel doesn't have this problem.  FYI its still a terrible hazard in CMake land, where there are multiple copies of built artifacts and you can easily end up using the wrong one (unless you are `drake/automotive/drake_paths.py` which carefully sets up the paths).

[2017-01-03 15:44] david-german-tri commented on #3713
I'm going to presume this fixed in https://github.com/RobotLocomotion/drake-ci/pull/47.

[2017-01-03 15:44] #3713 closed

[2017-01-03 15:55] david-german-tri commented on #3953
so, IPOPT depends on MUMPS, and MUMPS has some code for which the OS X linker can't create a compact unwind (I'm not going to try to figure out why not).  We could maybe pass `-Wl,-no_compact_unwind` to clang, but I actually suspect it's better to have compact unwinding, and this one warning, than to have DWARF unwinding and no warning.  Closing as wontfix.

[2017-01-03 15:55] #3953 closed

[2017-01-03 15:58] david-german-tri commented on #2968
Which makes me wonder whether this issue is also a feature request for RigidBodyPlant in particular.

[2017-01-03 16:24] jwnimmer-tri opened #4658 "Stop implying support for ScalarType = int"
Some of our `systems/framework` code (and more?) implies support for using a `ScalarType` of `int`, due to its unit tests or otherwise.  We don't want to support `int`, because it mostly doesn't make sense for our framework.

We should replace that code (whose purpose is often to test a variety of types) with a different type that better represents what we actually want to support.

Note that inte

[2017-01-03 17:16] david-german-tri commented on #2890
+1, for values of "basic" that include MIMO systems.  I also hope the code-to-argue-over preserves the const-Context, non-const-Output distinction.

[2017-01-03 17:39] #3023 closed

[2017-01-03 17:41] mwoehlke-kitware commented on #3429
https://drake-jenkins.csail.mit.edu/job/linux-gcc-continuous-ros-release/881/

[2017-01-03 17:51] soonho-tri opened #4660 "Add NaN cell type to symbolic expression"
See https://github.com/RobotLocomotion/drake/pull/4657#issuecomment-270169722 and https://github.com/RobotLocomotion/drake/pull/4657#issuecomment-270176556

[2017-01-03 17:51] soonho-tri commented on #4660
/cc @jwnimmer-tri

[2017-01-03 18:14] #4560 closed

[2017-01-03 19:16] SeanCurtis-TRI commented on #4548
When this is addressed, it is important to modify the tests in [model_test.cc](https://github.com/RobotLocomotion/drake/blob/master/drake/multibody/collision/test/model_test.cc) so that it more robustly tests the execution of static geometry code path.

Specifically, the geometry being made static should be explicitly non-convex so that it is clear that there is a different answer when properly co

[2017-01-03 20:48] jwnimmer-tri commented on #4625
I am skeptical of losing the "both" (in tandem) rule for copying.  I would like to see an example (or three) where this is needed before changing the guide.  I went back and the "define both in tandem" for copying dates back through at least 2008 in the cppguide, with various affirmative phrasings over time.  I don't think it's as simple as an oversight.

One reason I am hesitant is that it's poss

[2017-01-03 21:12] sherm1 commented on #4625
Wait, didn't you just do move-ctor-but-not-move-assignment in #4626? (Code in master is [here](https://github.com/RobotLocomotion/drake/blob/master/drake/systems/framework/system_port_descriptor.h#L62).) That is equally styleguide-nonconformant, but I think it was fine.

The compiler will be very upset if it depends on a method that didn't get generated. Are you worried that there is some undetect

[2017-01-03 22:29] jwnimmer-tri commented on #4625
Yes.  I think Copy and Move could arguably be treated differently.  They take effect in different kinds of code, and I think Copy's much more broad applicability holds it to a higher standard.

I also think #4626 isn't the final answer either -- I think the port descriptor should either be fully copyable (without `const`s), or else fully noncopyable and or stored otherwise than an incrementally-as

[2017-01-03 23:09] liangfok commented on #4654
Again: https://drake-jenkins.csail.mit.edu/job/linux-gcc-continuous-ros-debug/887

[2017-01-04 00:03] sherm1 commented on #4625
Well, we kind of created this problem by requiring `const` for never-modified members. Assignment is always modification; construction is not.

I don't understand your distinction between copy and move -- they are treated identically in the style guide as best I can tell. Currently I think you are trying to solve an imaginary problem. Is there anything actually wrong with a class that can be copie

[2017-01-04 00:25] jwnimmer-tri commented on #4625
Careful: "requiring" could be misleading in that statement.  A `const` is only required when the member isn't changed after construction.  With an assignment operator present, the members can be changed after construction, so `const` is not required, even when the only post-construction change it ever sees is through assignment.

Thus, one internally consistent proposal is that:
- copy-constructab

[2017-01-04 04:44] sherm1 commented on #4625
The example that immediately comes to mind is the one you wrote which is movable-but-not-move-assignable because it has const data members. I reject the idea that that is somehow distinct from copyable-but-not-copy-assignable for purposes of deciding what to do about the style guide, since they are treated identically there. But, since you ask [here](https://simbody.github.io/simbody-3.5-doxygen/a

[2017-01-04 05:10] jwnimmer-tri commented on #4625
On first read, I find the ArrayViewConst link unconvincing on the general point.  Its fields do not appear to be const, so default-copy-assignment would work, and I see no reason why assignment is prima facie silly.  The class seems to have pointer semantics, so why not allow rebinding what the "pointer" refers to?

In any case, like everything in cppguide, the either-both-or-none is a guideline t

[2017-01-04 06:01] sherm1 commented on #4625
I only filed this issue because first *I* violated the style guide in PR #4616 (with copy), then *you* broke the style guide in PR #4626 (with move), each modifying the Input/OutputPortDescriptors. If you are happy leaving it that way with no style guide clarification, so am I. But the cat is already out of the bag.

[2017-01-04 06:09] jwnimmer-tri commented on #4625
As I said upthread, I don't think #4286 should be the final answer.  It was an improvement, but still defective, as you say.

I would be content with an issue "PortDescriptor being move-constructable and not move-assignable is silently inconsistent with cppguide".  If it were up to me, I'd resolve that by fixing the code, not changing the guide.

[2017-01-04 06:35] sherm1 commented on #4625
I like what you did in #4626 and don't think it is defective. But I think we've beat the current issue to death and I'm happy to leave the style guide as is! Plus it is keeping you up too late :). Goodnight to you, and to this issue.

[2017-01-04 06:35] #4625 closed

[2017-01-04 15:07] jonathan-owens commented on #4525
It's back. See, e.g.: https://drake-cdash.csail.mit.edu/viewBuildError.php?buildid=291390

[2017-01-04 15:09] jwnimmer-tri commented on #4525
Definitely not Liang's reponsibility, though.

[2017-01-04 15:24] liangfok opened #4675 "Consider Making DepthSensorSpecification Copyable"
# The Issue

In #4597, `DepthSensorSpecification` was made a non-copyable and non-movable based on this  comment:

https://reviewable.io/reviews/robotlocomotion/drake/4597#-K_aCdiWcUtE4UaeOHaj

However, this class is so simple that maybe we should consider making it copyable based on this comment:

https://reviewable.io/reviews/robotlocomotion/drake/4597#-K_aEJeNRL5hLebErlyO

This issue tracks a d

[2017-01-04 15:56] amcastro-tri commented on #2661
I believe #4554 addresses this? if so, please @SeanCurtis-TRI close this issue once #4554 is merged.

[2017-01-04 20:21] jwnimmer-tri commented on #4635
FYI, I have _"I believe the fast path to getting a build up and running would be to [use] the mapping from filename to struct name ..."_ on a WIP branch, because libbot needed it.  I will likely get it into a PR sometime this week.

[2017-01-04 23:01] edrumwri commented on #4336
Addressed by #4347.

[2017-01-04 23:01] #4336 closed

[2017-01-04 23:07] edrumwri commented on #2968
I'm closing this issue because the robustness of the integration mechanisms are under active improvement, and I suspect that some of these instability issues will naturally disappear as error controlled integration becomes the default. I'm happy to re-open it if this problem becomes more prevalent or remains critical.

[2017-01-04 23:07] #2968 closed

[2017-01-05 02:25] jwnimmer-tri commented on #4635
#4684 adds support for `lcm_structs=[]` overrides in our `BUILD` files, so you can do stuff like (for `tools/libbot2.BUILD`):
[code]

[2017-01-05 15:02] #3231 closed

[2017-01-05 15:18] mwoehlke-kitware commented on #4635
Is it possible to modify `lcm_java_library` (and friends? I assume there are similar functions for C/C++/Python bindings?) to expect fully qualified struct names instead of assuming a single package for everything?

[2017-01-05 15:22] jwnimmer-tri commented on #4635
Yes, I think that's possible.  But what's the use case for having different packages in the same library?  Bazel leaf libraries are supposed to be tiny, and then aggregated into larger named units as needed.  So far, I haven't seen a Drake external that would want to mix multiple packages like that.  Is there an example to look at?

[2017-01-05 15:23] sammy-tri commented on #4646
The description above says "Given a recorded trajectory containing continuous state values and derivatives retained at each integration time step..."  Does this mean part of the work for this ticket is to create a means to log the continuous state and the derivatives?  (I can see some ways to do this for state without changes to the simulator, but not for derivatives (well, not easily/cheaply/poss

[2017-01-05 15:25] david-german-tri commented on #4526
This is done!  :confetti_ball: Thanks @BetsyMcPhail and @jamiesnape

[2017-01-05 15:25] #4526 closed

[2017-01-05 15:26] david-german-tri commented on #4497
I think we're about ready for this, so I'm bumping the priority to medium.

[2017-01-05 15:27] david-german-tri commented on #4259
Pretty sure this is fixed, since I haven't heard ongoing complaints about it.  Closing.

[2017-01-05 15:27] #4259 closed

[2017-01-05 15:28] david-german-tri commented on #3924
@jamiesnape @billhoffman Can one of you write down here what it will take to upgrade the warnings to errors?  (My best recollection is that there are upstream CMake changes which have already landed, but have not been released.)

[2017-01-05 15:29] david-german-tri commented on #3842
@jamiesnape This is done, right?

[2017-01-05 15:29] jamiesnape commented on #3842
Yes.

[2017-01-05 15:29] #3842 closed

[2017-01-05 15:32] sammy-tri commented on #3734
Do we think it's worth creating a temporary solution involving something like SignalLogger and PiecewisePolynomial where we get reduced accuracy playback until #4646 is done?  I'm not sure I know the answer without knowing what the application for such a stop-gap would be.

[2017-01-05 15:41] liangfok commented on #4633
Once a PR containing `MultiBodyTree` and `MultiBodyPlant` exists, should that be an indicator to all other developers to stop improving `RigidBodyTree` and `RigidBodyPlant` since any effort spent will need to later be ported?  Or, should I stop working on it now given the existence of this issue? (This thought came up while I was working on #4685.)

[2017-01-05 15:49] david-german-tri commented on #4486
Bumping to high priority because it's blocking #2482.

From f2f discussion: We believe that `Boost::Python` only needs to be linked into the Python bindings at the leaf of the build, and thus won't wind up linked into mex files.  If that turns out to be incorrect, we can require that users build MATLAB or Python bindings but not both simultaneously.  Thus, this is unblocked.

[2017-01-05 15:54] david-german-tri commented on #3287
From f2f: This is nearly ready.  Once it is, we should try to consider convincing OpenHumanoids to switch to it, so that we could drop pkg-config.

[2017-01-05 15:56] david-german-tri commented on #3287
(However, Director also needs to build against older SHAs of Drake.)

[2017-01-05 16:08] SeanCurtis-TRI commented on #4548
#4554 provides a tentative and incomplete solution. For the two queries, distance between point-object and object-object are, in some sense, "ignored" if the object is non-convex.  This allows non-convex geometry to be introduced into the system where it behaves will in contact computation.

It became quickly apparent that there is *no* meaningful way to perform this query using Bullet.  Bullet's

[2017-01-05 16:12] mwoehlke-kitware commented on #4635
It's more a matter of a) paranoia, and b) parsing the `.lcm`s gives you fully qualified names anyway. What I'm thinking is if one of us can make that change, I can probably also add a function that takes the `.lcm` names and returns the list of fully qualified names. Then we can use that instead of making assumptions about the file name → struct name mapping, and won't need to specify the package

[2017-01-05 16:17] sherm1 commented on #4646
@sammy-tri, given a System and a Context it is always possible to recalculate the derivatives by calling `system.CalcTimeDerivatives(context, &derivs)`. So a trajectory that records the contexts as they come out of the Simulator can make use of derivatives for interpolation, even if they weren't saved.

[2017-01-05 16:20] jwnimmer-tri commented on #4635
If we go the route of parsing `*.lcm`s to discover struct and package name, then we can drop `lcm_package` and `lcm_structs` from the macro.  I'm still sure that doing that parsing is wise, or even possible in Bazel.

In the meantime, I don't see a reason to change the current macro signatures, since I believe they work well for all of the Drake-related cases I've seen.

[2017-01-05 16:22] david-german-tri opened #4686 "Run Director Tests on Drake CI"
We want to run Director tests on Drake PRs.  Since Director itself is a superbuild, there is no means to export tests from the subproject, through the superbuild, into the Drake superbuild.  The current plan (work in progress on #4527) is to add Director's externals to Drake's own superbuild, and build Director directly.

There are also some unresolved challenges with running Director tests under

[2017-01-05 16:31] sherm1 commented on #4633
@liangfok, I would suggest coordinating with @amcastro-tri on RBTree improvements, and @SeanCurtis-TRI if the changes are geometry or contact related. RBTree will continue to be used heavily for some time and it will be the initial source and inspiration for both MBTree and GeometryWorld. There will come a time in the not-too-distant future when effort should move to MBTree & GW instead, but we're

[2017-01-05 18:45] liangfok opened #4687 "Need a Suite of Tests to Quantify Depth Sensor Performance"
# Problem Definition

A simulated depth sensor may not have infinite performance due to its reliance on external software packages like [OpenGL](https://www.opengl.org/), [Bullet](http://bulletphysics.org/wordpress/), [OGRE](http://www.ogre3d.org/), and [VTK](http://www.vtk.org/). Another reason limiting performance is finite computational resources and wall-clock time. Since performance is finite

[2017-01-05 18:46] liangfok commented on #4687
@hongkai-dai and @sherm1, I heard you previously discussed this. What other performance benchmarks should we implement?

[2017-01-05 18:50] rdeits commented on #4486
@david-german-tri can you explain how it's blocking #2482? It's not obvious to me, since SWIG is unrelated to Pods.

[2017-01-05 18:56] SeanCurtis-TRI opened #4688 "Update tinyxml-2"
TinyXML has recently been updated so that `XMLElement` instances know what line they came from.  This would be *immensely* helpful in parsing to print better error messages (e.g., "Your XML is crap on line 37.")  Should we update tinyxml so we can benefit from this?

[2017-01-05 19:00] jwnimmer-tri commented on #4688
If its an easy port, then it sounds great!  If it's real work, then #4337 may be a better investment.

[2017-01-05 19:04] david-german-tri commented on #4486
@jamiesnape's belief is that the remaining few lines of https://github.com/RobotLocomotion/drake/blob/master/cmake/pods.cmake, which fiddle with `RPATH`, are necessary only to support the current SWIG approach.  (I haven't actually tested that.)

[2017-01-05 19:04] SeanCurtis-TRI commented on #4688
Does OSRF's SDF parser handle our URDF parsing needs as well?  @amcastro-tri had asked the question in #4688.

[2017-01-05 19:11] liangfok commented on #4688
It looks like OSRF's SDF parser has a way to convert URDF to SDF:

https://bitbucket.org/osrf/sdformat/src/a3fa3d1163cc2fe991ac106e51695b99f8b119ca/include/sdf/parser_urdf.hh?at=default&fileviewer=file-view-default

[2017-01-05 19:16] rdeits commented on #4486
I see. But surely SWIG can be used just fine without pods, since that's widely done in practice.

[2017-01-05 19:17] jamiesnape commented on #4486
There are other issues. That is just the most pressing.

[2017-01-05 19:21] liangfok commented on #3257
Note that in #4634, @RussTedrake created a new directory called [drake-distro/drake/multibody/models/](https://github.com/RobotLocomotion/drake/tree/b04c525aebe3fb013f701b7ba9a9031fe6fce1c4/drake/multibody/models) for storing commonly used models.

[2017-01-05 19:22] SeanCurtis-TRI commented on #4688
And that would make the `sdf::SDF` class our intermediate representation for both URDF and SDF?

[2017-01-05 19:24] jwnimmer-tri commented on #4688
Maybe?  I had a TODO to discuss this with relevant folks in the next week or two.  I think it would be at least the first IR.  Whether we have another IR between it and the multibody runtime would be up for discussion.

[2017-01-05 19:41] SeanCurtis-TRI commented on #4688
At first blush, I would imagine there could easily be another IR.  Essentially, everything that happens in `RBT::compile` would need to be represented in whatever IR we use.

[2017-01-05 19:44] liangfok commented on #4688
It looks like the TinyXML2 was updated to support line numbers only 12 days ago: https://github.com/leethomason/tinyxml2/commit/c3a19156ffe05f793831d76dbe0183ab8d1e1846

Thus, `libsdformat`'s [built-in copy of TinyXML](https://bitbucket.org/osrf/sdformat/src/a3fa3d1163cc2fe991ac106e51695b99f8b119ca/src/win/tinyxml/?at=default) will need to be updated to get it.

[2017-01-05 19:45] SeanCurtis-TRI commented on #4688
Which also implies that `libsdfformat` doesn't provide error messages with line numbers either.

[2017-01-05 19:47] liangfok commented on #4688
Yes, that is true. I'm currently thinking updating which version of TinyXML2 Drake is using will be a relatively trivial change relative to replacing Drake's parsers with OSRF's parser.

[2017-01-05 19:50] sherm1 commented on #4688
+@nkoenig for questions above about libsdfformat ...

[2017-01-05 19:50] jwnimmer-tri commented on #4688
No, that's only for Windows.

No, Drake uses its own copy of tinyxml, not the system one.

[2017-01-05 19:59] #2481 closed

[2017-01-05 19:59] SeanCurtis-TRI commented on #2661
Closed by #4554

[2017-01-05 19:59] #2661 closed

[2017-01-05 20:00] liangfok commented on #4688
I see, `libsdformat` uses the system version of TinyXML when built on Linux:

https://bitbucket.org/osrf/sdformat/src/a3fa3d1163cc2fe991ac106e51695b99f8b119ca/CMakeLists.txt?at=default&fileviewer=file-view-default#CMakeLists.txt-97

I wonder if that means it'll find the version Drake is using.

[2017-01-05 20:01] SeanCurtis-TRI commented on #4348
Initial proposal addressed in #4554.

Still need to resolve sdf semantics.

[2017-01-05 20:05] jwnimmer-tri commented on #4688
This is about two derivatives away from the actual topic at hand.

[2017-01-05 20:19] liangfok commented on #4688
+1 for updating Drake's version of TinyXML.

[2017-01-05 21:05] sammy-tri commented on #4646
Right, but where do you get access to the full context of the system being simulated?

Possibly this would need a wrapper system around the System/Diagram being simulated to cache the simulation context somewhere...  (passthrough functions with extra code in the passthrough Publish to log the context?  I might be missing something obvious though.)

[2017-01-05 21:06] liangfok opened #4691 "Unable to Add Simple Debug Statements Due to AutoDiffScalar Template Type"
# Problem Definition

When a class is templated on `Eigen::AutoDiffScalar` among other types, we cannot instrument its methods with simple print statements. For example, try adding the following log statement to `kinematics_cache-inl.h`, in `KinematicCacheElement`'s constructor's body:

[code]

You will experience the following compile-time error:

[code]

This is unfortunate since having the abil

[2017-01-05 21:19] david-german-tri commented on #4691
One possible solution: we could provide a to-string function for supported scalar types, which selects an implementation using SFINAE.

[2017-01-05 21:22] jwnimmer-tri commented on #4691
I don't even think we need that fancy, we just need to define one of the standard stringizer free functions for each of our scalar types.

[2017-01-05 21:42] amcastro-tri commented on #4691
you mean `operator<<`?  that'd be awesome. However in this case I think the problem is that we do not have `operator<<` defined for `Isometry3`.

[2017-01-05 21:46] jwnimmer-tri commented on #4691
Or an ADL version of `std::to_string`, which IIRC spdlog would also use?

[2017-01-05 22:03] sherm1 commented on #4646
Yes, that was my first thought too -- make an "every time step" Publish() method for the Diagram as a whole and use it to collect copies of the Context it receives. Currently we don't have a diagram-level Publish but it would be easy enough to add.

[2017-01-05 22:10] RussTedrake commented on #3734
The signal logger (by itself) was my sufficient as a stop-gap solution for me.

[2017-01-05 22:18] david-german-tri commented on #4646
Why not just log Contexts from the Simulator, which naturally has access to them, and is already responsible for defining the timestep?

[2017-01-05 22:20] RussTedrake opened #4693 "BUILD file in drake-distro root conflicts with "from source" instructions"
Just went to make a fresh build from master on a different (mac) laptop, and hit this one.

[code]

nice.  i can't actually create a build directory right now.  and given some assumptions in our cmake files (#4606), I can't name it something else.

[2017-01-05 22:29] SeanCurtis-TRI commented on #4693
Hard to imagine where the build folder came from; it doesn't appear in master.

[2017-01-05 22:47] sherm1 commented on #4693
There is, OTOH, a *file* named `BUILD` in master. Is this possibly a platform where file names are case-insensitive so that `BUILD` and `build` name the same file?

[2017-01-05 22:52] RussTedrake commented on #4693
I'm sorry.  I thought all of that was implied.  Yes -- on mac the filenames are case insensitive, so the existence of the BUILD file in drake-distro disallows the creation of a build directory.

[2017-01-05 23:10] jamiesnape commented on #4693
Just hit that myself today. All our infrastructure uses a directory called `build` so it is somewhat of an issue. OS X CI builds delete `BUILD` (they assume it was a left over `build` directory).

[2017-01-05 23:13] jamiesnape commented on #4693
This may also be what is caused the update column of CDash to turn red for OS X builds.

[2017-01-05 23:20] jamiesnape commented on #4606
Can you try the setup I am using at the moment?
[code]

If that does not work, can you check out a fresh clone of drake and try the same there?

[2017-01-05 23:21] jwnimmer-tri commented on #4693
Understood.  I should be able to get a work-around PR in tonight.  Local work-around would be to build using CMake (with rm BUILD; mkdir build) xor Bazel.

[2017-01-06 01:08] jwnimmer-tri commented on #4693
Directly on point: bazelbuild/bazel#552.

[2017-01-06 02:11] #4693 closed

[2017-01-06 05:06] sherm1 commented on #4646
That would be nicer, I agree. If we could get away with just an `std::vector<Context>` it would be very easy to do. I'm not sure that's adequate as a trajectory though since it wouldn't contain interpolation information. Also I think people will also want to save regularly-sampled trajectories rather than the irregularly-spaced and potentially huge variable ones. So we probably ought to design a S

[2017-01-06 05:23] hongkai-dai commented on #4687
@sherm1 and @SeanCurtis-TRI were discussing the performance of Bullet in general, about how accurate it is.

[2017-01-06 11:52] liangfok opened #4697 "RigidBodyTree::computePositionNameToIndexMap() Does Not Support Multiple Model Instances"
# Problem Definition

`RigidBodyTree::computePositionNameToIndexMap()` returns a `std::map` where the key is a joint position's name and the value is its index within the `RigidBodyTree`'s output state vector. Problems arise when the `RigidBodyTree` contains multiple instances of the same model since there will be duplicate joint position names, meaning there will be a key collision in the returne

[2017-01-06 11:55] liangfok commented on #4697
@sherm1 I assigned you as the dynamics team lead. Please confirm that this is indeed an issue that needs fixing, and whether the suggested solutions are valid; feel free to delegate back to me to implement the fix.

@sammy-tri I assigned you since you were the author of the aforementioned unit test. Feel free to unassign yourself once you've confirmed my comments above about how the unit test happ

[2017-01-06 14:18] jwnimmer-tri commented on #3129
Relatedly, here's a checklist of tooling needs, to be ticked off for Bazel support.  I will keep this updated as we make progress:
 - [ ] cpplint
 - [ ] doxygen
 - [ ] sphinx
 - [ ] valgrind
 - [ ] kcov

The goal is only that they can be used without having to run CMake first.  Things like, e.g. doxygen don't necessarily have to be a Bazel target -- a shell script called by CMake than can also be

[2017-01-06 14:57] jamiesnape commented on #4693
It is tricky because cleaning the `build` directory was itself a safety feature in case removal of the workspace from the previous build failed. CDash did pick up that something was wrong, but we do not currently consider failures computing the change log an error. I will give it some thought.

[2017-01-06 15:07] david-german-tri commented on #4646
Sounds right to me.  In particular:

This shouldn't be a difficult feature to add as a setting on Simulator, since we already have logic to evaluate which of several upcoming stop points is in force.

[2017-01-06 15:13] amcastro-tri commented on #4697
why would a user need this method in the first place? users should not know about indexes at all. The API should hide these implementation details.

[2017-01-06 15:20] liangfok commented on #4697
See usage in `schunk_wsg/schunk_wsg_simulation.cc` where it is used to derive a feedback selection matrix, which is index-based. It's also used in several other files to verify that the tree's structure is correct.

[2017-01-06 16:26] liangfok opened #4700 "Consider Storing State Vector Index Information in DrakeJoint"
# Problem Definition

Currently, state vector index information is stored in `RigidBody`. This complicates the process by which users obtain a joint's state within a `RigidBodyPlant`'s state vector since it forces the user to either first obtain the joint's outboard `RigidBody`, or use a method like the currently-buggy `RigidBodyTree::computePositionNameToIndexMap()` (see #4697).

# Suggested Cour

[2017-01-06 17:28] jwnimmer-tri commented on #4700
RBT is dead.  Why do we care to document its deficiencies?

[2017-01-06 18:14] liangfok commented on #4700
I suppose this goes back to the question raised here: https://github.com/RobotLocomotion/drake/issues/4633#issuecomment-270674395. It sounds like improvements made to RBT _could potentially_ find its way into the new MBT since RBT is being used as a source of inspiration for MBT.

[2017-01-06 18:30] sherm1 commented on #4700
My inclination would be to not fix this in RBT unless it is blocking. If not blocking I think it will be more productive to lobby @amcastro-tri to make sure it is considered early in MBTree.

[2017-01-06 18:33] liangfok commented on #4700
Great! Since @amcastro-tri was the original source of inspiration for this issue (see [this comment](https://reviewable.io/reviews/robotlocomotion/drake/4698#-K_oPTpX0D-CRYeqv9A-)), I will assume that he will definitely take it into consideration early in MBTree's design.

[2017-01-06 18:33] #4700 closed

[2017-01-06 19:40] liangfok commented on #2397
I just encountered this problem; first time not on an OSX CI instance:

[code]
https://drake-jenkins.csail.mit.edu/job/linux-gcc-ninja-experimental-open-source-debug/2161/

[2017-01-06 19:46] jamiesnape commented on #2397
Even Amazon cannot guarantee 100% uptime on instances.

[2017-01-06 19:50] sammy-tri commented on #4646
I think this is a serialization question  If you're implementing SimulatorTrajectory and value() does the right thing for a given value of t, then I don't see a benefit to resampling.  I think I only see value to resampling if you want to export fixed-step data to some other tool (and I suspect you'd lose the integration information in the process if you did that?)

Another thought is that if you

[2017-01-06 20:03] liangfok commented on #2397
Yeah, I suppose expecting 100% server reliability is too much. I will close this issue for now.

[2017-01-06 20:03] #2397 closed

[2017-01-06 21:43] liangfok commented on #3814
I'm going to bump the priority of this because I just learned of another TRI researcher encountering this problem.

[2017-01-06 21:52] liangfok commented on #3814
BTW, the above-mentioned problem was also encountered when compiling Drake using `catkin`. This, I believe, is a new issue. However, I'll withhold creating a new issue until I'm certain both can't be resolved simultaneously.

[2017-01-06 22:28] rdeits commented on #4112
BTW, this is exactly what I've done with https://github.com/rdeits/DrakeVisualizer.jl/ which wraps the interface to the visualizer and https://github.com/rdeits/RigidBodyTreeInspector.jl which uses that interface to draw rigid body tree robots.

Also, FYI, there's a major redesign of the drake visualizer interface underway: https://github.com/RobotLocomotion/director/pull/420 with the goal of supp

[2017-01-06 23:05] sherm1 commented on #4646
I've seen it for visualization purposes where you only need 60Hz or whatever for later display. A variable step integrator can sometimes produce a *lot* of steps between 60Hz frames. But for now if we can capture all the steps we can always resample later.

[2017-01-06 23:22] david-german-tri commented on #4112
Yes (in part because it's a useful prototyping step for GeometryWorld).  I'll work on it.

[2017-01-06 23:25] david-german-tri commented on #4112
@rdeits Thanks for the pointers.  I agree, this ticket proposes to do something similar (in C++ System2 diagrams) to what you've done (in a separate Julia app).  I have a couple of comments that I'll add to RobotLocomotion/director#420.

[2017-01-07 01:45] liangfok commented on #3814
Here is the error I'm observing when building Drake using `catkin` on Ubuntu 14.04 + ROS Indigo:

[code]
When building `drake/externals/fcl`, the build system is apparently finding ROS Indigo's older version of `octomap` rather than Drake's newer version. ROS' version of `octomap` is part of Debian package `ros-indigo-octomap`:

[code]

Drake's version of `octomap` is in `drake-distro/externals/oc

[2017-01-07 04:02] liangfok commented on #3429
https://drake-jenkins.csail.mit.edu/job/linux-clang-continuous-ros-debug/954/

[2017-01-07 04:18] liangfok commented on #3814
Another idea is to disable Drake's version of FCL and Octomap, which will cause the build system to use ROS' version. To do this, I use the following configure command:

[code]

Unfortunately, the build fails because ROS' `ros-indigo-fcl` Debian package does not include `<fcl/fcl.h>`, which is used by `drake-distro/drake/multibody/collision/fcl_model.cc`. This might be another reason do not use `<

[2017-01-07 17:15] edrumwri commented on #4646
Producing dense outputs (or, at least, starting down the path to doing
this) is on my OKRs for this quarter- I'm watching this discussion closely.
I agree, Sam, that there does seem to be some significant intersection with
#3734.

--------------------------------
Evan Drumwright
Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Fri, Jan 6, 2017 at 1:50

[2017-01-07 17:43] liangfok commented on #3814
I posted the following question to see if anybody has any intuition why executing a compiler command via Catkin would differ from executing the same command directly in the command line:

http://answers.ros.org/question/251449/compiler-behavior-differs-when-executed-by-catkin-vs-command-line/

[2017-01-08 04:24] liangfok commented on #3814
Switching from using:

[code]

to:

[code]

results in a successful command-line build even when `CPATH=/opt/ros/indigo/include`.

Apparently, `-isystem` is lower priority than `CPATH`. I have not tested whether this works using `catkin`.

[2017-01-08 04:33] liangfok commented on #3814
Adding the following flag also works when executing the build command in the command line:

[code]

I was inspired to try this because Drake's FCL's header files were included in a similar manner:

[code]

I'll next see whether I can get Catkin to include the `-I.../octomap/octomap/include` parameter.

[2017-01-09 00:57] liangfok commented on #3814
I attempted to prioritize Drake's version of FCL and Octomap by using the `CMAKE_CXX_FLAGS` flag. For example:

[code]

Unfortunately, I couldn't get it to work after trying various combination of paths in the set [src/, build/, install/]. For example, one error was:

[code]

[2017-01-09 01:02] liangfok commented on #3814
I was able to get Drake to build using `catkin` by uninstalling `ros-indigo-octomap` and `ros-indigo-fcl`:

[code]

Since the above command uses only one thread (`-j1`), it took a _very long time_ to build, but at least it was successful, and I assume it will also work using a multi-threaded build.

[code]

[2017-01-09 15:33] liangfok opened #4711 "Need to Restrict Drake Build To Use Super-build Versions of Octomap and FCL"
# Problem Definition

When building Drake using ROS Indigo's `catkin`, the build will fail if ROS packages `ros-indigo-fcl` and `ros-indigo-octomap` are installed. Here is the error, which was first reported in #3814:

[code]

The problem appears to be that Drake's build system is finding ROS Indigo's version of `octomap`, which is located in `/opt/ros/indigo/include/octomap/` instead of its own v

[2017-01-09 16:30] jwnimmer-tri commented on #4635
My #4684 approach is merged; de-assigning myself again.

[2017-01-09 16:49] #3814 closed

[2017-01-09 18:53] liangfok commented on #4711
Here are the locations of the FCL and Octomap `-config files:

[code]

I instrumented `drake_catkin_workspace/src/drake/CMakeLists.txt` with the following print statement:

[code]

Here is the result:

[code]

I then tried to add the following line to `drake_catkin_workspace/src/drake/CMakeLists.txt`:

[code]

Here is the commit: https://github.com/liangfok/drake/commit/84a2a2b41128250f67ce1d0082a

[2017-01-09 18:56] jamiesnape commented on #4711
When you say the problem persisted after you made the changes, was that with a clean build?

[2017-01-09 19:02] liangfok commented on #4711
Oops. No, I will try a clean build now. Thanks!

[2017-01-09 19:29] liangfok commented on #4711
I did a [clean build](http://drake.mit.edu/from_source_ros.html#how-to-perform-a-clean-build) using the modified `CMakeLists.txt` file as described in https://github.com/liangfok/drake/commit/84a2a2b41128250f67ce1d0082adf90c50026e27 and the problem persisted. Here is the first error indicating that the ROS Indigo version of Octomap was being found:

[code]
I also tried using the following command

[2017-01-09 19:50] rdeits opened #4715 "OSX instructions should be updated to work around broken valgrind formula"
The OSX (with homebrew) instructions ask the user to install, among other things, `valgrind`, but it looks like the `valgrind` formula is currently broken on Sierra (OS X 10.12):

https://github.com/Homebrew/homebrew-core/issues/4841#issuecomment-254217338
https://github.com/Homebrew/homebrew-core/issues/4841#issuecomment-254217338

the instructions should be updated to mention that for Sierra use

[2017-01-09 21:58] david-german-tri opened #4719 "Tracking issue for OS X-specific development cost"
This issue is for gathering data on PRs that incur OS X-specific development cost. It is not a forum for discussing the implications. Examples of "cost" include:

Developer effort spent resolving OS X-specific issues.
Delayed merge due to discussing or resolving OS X-specific issues.
OS X-specific flakes in pre-merge continuous integration.
Rollbacks or forward fixes due to failures in OS X post-m

[2017-01-09 22:00] david-german-tri commented on #4719
#4717 has demonstrated that we need to reproduce in Bazel the platform-specific compiler flag selection logic that we've had in CMake for a while.  Specifically, we need to add flags with clang/OS X spellings and gcc/Linux spellings into respective CROSSTOOL stanzas, where if we only supported one platform we could just `.bazelrc` them.

Two hours so far today.

[2017-01-09 22:06] rpoyner-tri commented on #4719
Spent maybe 2 hours working out OSX details for #4701.

[2017-01-09 23:24] sherm1 commented on #4697
@amcastro-tri, @liangfok: can we live with this as-is and deal with it properly in MultibodyTree or do we need an RBTree retrofit?

[2017-01-10 00:11] liangfok commented on #4697
It is not blocking me right now. I will be OK leaving this unresolved given that there is a TODO comment in place.

[2017-01-10 00:12] liangfok commented on #4697
Here is the TODO comment:

https://github.com/liangfok/drake/blob/8c97437919d0b96bb1493d81feb2ee3f44146dab/drake/multibody/rigid_body_plant/test/rigid_body_plant_test.cc#L504

I will submit a PR that adds a TODO to the method's documentation itself.

[2017-01-10 01:48] jwnimmer-tri commented on #4319
Ping, /CC @david-german-tri.

The http://drake.mit.edu/urdf/drakeURDF.html#:// is still broken.

[2017-01-10 03:08] liangfok opened #4726 "Mysterious Octomap Build Error: Vector3.cpp.o: relocation R_X86_64_32 against `.rodata' can not be used when making a shared object"
# The Error:

[code]

# Example Instances

* https://drake-jenkins.csail.mit.edu/job/linux-gcc-experimental-ros/2461/

[2017-01-10 04:37] #4584 closed

[2017-01-10 05:27] #4697 closed

[2017-01-10 11:21] liangfok commented on #4726
I shall close this issue unless this error starts presenting itself more frequently.

[2017-01-10 11:21] #4726 closed

[2017-01-10 11:32] naveenoid commented on #2638
Closing this for now : @hongkai-dai reopen if you feel the need.

[2017-01-10 11:32] #2638 closed

[2017-01-10 14:16] liangfok commented on #4711
Here is the result:

https://gist.githubusercontent.com/liangfok/5af7eb224683743e36613c84f8576150/raw/0530985896e2177dd84ca2b62707139c7e6b0307/drake_build_trace_debug_fcl_using_ros_octomap.txt

Line 18 shows the use of CMake flag `--trace`.

Line 71211 shows the addition of `fcl` as an external. It does **not** include the flag `-Doctomap_DIR:PATH=${{CMAKE_INSTALL_PREFIX}}/share/`. I believe this

[2017-01-10 14:21] liangfok commented on #4711
I am now trying a [clean build](http://drake.mit.edu/from_source_ros.html#how-to-perform-a-clean-build) using the `--trace` flag and the following modification:

https://github.com/liangfok/drake/commit/b9be9caf2bab6c61b4b41850d0db46cb8cf7abef

Hopefully this'll do the trick!

[2017-01-10 14:45] liangfok commented on #4711
Here is the result:

https://gist.github.com/liangfok/061dbef16fc93c00de68de7009be8693

Line 71210 shows the addition of `fcl` as an external using the correct `-Doctomap_DIR` flag:

[code]

Line 130797 shows the command for running `cmake` on `fcl` using the correct `-Doctomap-DIR` flag:

[code]

Looking in `/home/liang/dev/drake_catkin_workspace/build/drake/externals/fcl/CMakeCache.txt`, I see t

[2017-01-10 14:51] SeanCurtis-TRI commented on #4034
This cropped up [again](https://drake-cdash.csail.mit.edu/viewBuildError.php?onlydeltap&buildid=301801).  This time affecting `libccd`.  Per @jamiesnape's request, this is in a mac build.

[2017-01-10 15:11] liangfok commented on #4034
@SeanCurtis-TRI can you provide a link to the console log or CI build page?

[2017-01-10 15:12] SeanCurtis-TRI commented on #4034
Sorry, here you go: https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/mac-clang-ninja-nightly-minimal-debug/160/

[2017-01-10 15:13] jamiesnape commented on #4034
(Aside: CDash links persist longer than Jenkins links)

[2017-01-10 15:22] SeanCurtis-TRI commented on #4034
I suspected that might be the case, which is why the original posting used a cdash link.

[2017-01-10 15:58] #4169 closed

[2017-01-10 16:18] SeanCurtis-TRI opened #4729 "Semantics of collision filter groups (custom URDF tag)"
Collsion Filter Groups
--------------------------
Drake has introduced a custom tag into the URDF file: `collision_filter_group`.  The tag takes the following form:

[code]

This is a compact way of representing *classes* of links and the relationships between them.  I.e., I can define two groups, assign large sets of links to them and say, nothing in one group collides with the other group.  It c

[2017-01-10 16:24] liangfok commented on #4729
The following is my humble opinion.

+1 for containing it within a single model instance.

No.

Yes, multiple "parallel" groups, some of which could then be merged via post-processing either programmatically or via another configuration file like one written in YAML.

The lifetime should be equal to the lifetime of the model instance.

Yes, either programmatically or via another configuration file

[2017-01-10 17:24] sherm1 commented on #4729
If every model has a name, and every model instance has a unique index, then we could use a pathname to uniquely identify every collision group, like `atlas_14/left_leg`. Maybe we should plan for that in MultibodyTree, @amcastro-tri ?

[2017-01-10 17:32] SeanCurtis-TRI commented on #4729
This is exactly why I started investigating this topic before `GeometryWorld`.  It exposes design questions that we can consider going into `MultiBodyTree` and `GeometryWorld`.  So, huzzah!

[2017-01-10 18:17] mwoehlke-kitware commented on #4034
The build should not have failed outright, however. Looking closer, there are issues *other than* the "could not lock config file" problem:

[code]

The failure despite succeeding on retry is due to a stupid logic error in the wrapper, fixed by RobotLocomotion/drake-ci#70. What is interesting however are the errors from the `submodule sync` attempt, which makes me wonder if *all* the "could not lo

[2017-01-10 18:21] siyuanfeng-tri commented on #4729
I agree with Liang. Being able to modify the groups after parsing is useful.
I am trying to add another conceptually similar abstraction for grouping bodies / joints through a YAML config file.

[2017-01-10 18:22] liangfok commented on #4034
Great job sleuthing!

[2017-01-10 18:41] sammy-tri commented on #3734
Ok, then I'm going to vote that we don't do anything else here #4646 is producing dense outputs and enhanced interpolation capabilities.  Reducing priority/assignment scope.

[2017-01-10 19:35] siyuanfeng-tri opened #4730 "Adding Protocol Buffers to drake"
After having a conversation with @david-german-tri, we think it's about time to switch from yaml to Protocol Buffer for parsing config files. https://developers.google.com/protocol-buffers/docs/cpptutorial
This is new to me, but from what I understand, the biggest benefit we get is that the library validates the config file's format for us before we write any custom parsing code.

[2017-01-10 19:39] amcastro-tri commented on #4729
I am still at the basic functional stage of the MBT design. I do agree however that we should start discussing this topic early especially if that would have a certain impact on API and internal structure.
Questions I personally have are:
- How should we represent model instances? simply as id's as RBT does?
- Would that be all we need or would it be useful to have a separate abstraction or bookke

[2017-01-10 19:44] liangfok commented on #4729
I think having a `Model` abstraction that encapsulates a set of bodies / joints would be useful. Note that in my mind a particular body or joint can be part of numerous models, which is analogous to @siyuanfeng-tri's group alias concept in #4638.

[2017-01-10 19:47] liangfok commented on #4730
I'm intrigued and supportive of this idea, but am a little apprehensive because this feels like taking a sledgehammer to a small tack. :smile:

[2017-01-10 19:47] amcastro-tri commented on #4729
@liangfok, what do you mean with "Model abstractions"?

[2017-01-10 19:50] SeanCurtis-TRI commented on #4729
Does RBT currently do this?  I certainly wouldn't want an "id" that is a literal position in a vector such that it would change as the composition of the tree changed.  I'd want it to be a fixed value that has the same span as the body itself.

As long as we have some reliable, stable handle to bodies, I'd be content.  Then any operations, aggregations, etc., on bodies could fundamentally operate

[2017-01-10 19:51] SeanCurtis-TRI commented on #4729
And FTR, it seems that a discussion of how bodies are represented lies outside the scope of this issue.  Perhaps create its own issue?  Or redirect to a pre-existing issue?

[2017-01-10 20:05] david-german-tri commented on #4730
I'm drafting a somewhat longer manifesto at https://docs.google.com/document/d/1gGSKUZzBgn25TVNYEeDOR9VP-edljcGbrc8Im1ZkcWk/edit.  Interested Drake developers outside of TRI will hit an access wall, but I'll try to grant access requests as quickly as I can.  Let's start with discussion there; once it quiesces, I'll serialize it out to this issue, hopefully by the end of the week.

[2017-01-10 20:09] liangfok commented on #4729
Yes, RBT currently has a "model_instance_id" to represent model instances within the tree. See [RigidBodyTree::add_model_instance()](https://github.com/RobotLocomotion/drake/blob/6cae3e4c08a0b078d52a6cf31d0fe6fd06b0d277/drake/multibody/rigid_body_tree.h#L115), which returns a unique ID. Note that there's currently no way to remove model instances from the tree.

[2017-01-10 20:11] liangfok commented on #4729
By "model abstraction", I basically mean a "view" into the RBT. It differs from "model instance" in that model abstractions may overlap each other.

[2017-01-10 20:21] siyuanfeng-tri commented on #4729
More to Liang's last comment,
Imaging you have a humanoid robot, and someone (like me) are very interested in a subset of the joints. I'd like to have a group of leg joints [left_hip_x, left_hip_y, left_knee, left_ankle, right_hip_x, right_hip_y, right_knee, right_ankle], a group of knee joints [left_knee, right_knee], and more. I can then do special logic for different groups.
These groups are al

[2017-01-10 20:54] SeanCurtis-TRI commented on #4729
Again...please redirect to another issue.  What I really want to see is use cases to alluded by @patmarion.

[2017-01-10 21:03] hongkai-dai opened #4733 "Check if constraint is violated at some solution value"
The API should be
[code]

[2017-01-10 21:03] hongkai-dai commented on #4733
@RussTedrake

[2017-01-10 21:05] liangfok commented on #4729
How about this?

1. I instantiate a RBT, which represents the world.
2. I add a ground to the world and add it to the "world" collision group.
3. I add a building to the world and add it to the "world" collision group.
4. I add a car to the world and define a collision group called "car".
5. I add an airplane to the world, and define a collision group called "airplane".
6. I add a human and define

[2017-01-10 21:10] sherm1 commented on #4729
Let's stick to "groups" for discussing arbitrary collections of things. "model abstraction" is too close to "model" and "model instance" IMO, which have well-defined narrow meanings.

No worries having multiple MBPlants in the same *Diagram* since they'll be able to share the same GeometryWorld. Gentle interaction is also fine, like robot1 senses robot2 and *then* reacts. But anything requiring th

[2017-01-10 21:21] sherm1 commented on #4729
I don't understand the example. The purpose of a "collision group" is to define things that *don't* interact. A "car" group presumably would be there because we don't want components of the car bumping into one another. A human getting into a car needs to interact with the door and with the seat so why would they become part of the car group?

Making changes like that seems coupled with making oth

[2017-01-10 21:24] liangfok commented on #4729
I am thinking about the time after the human is inside the car. Yes, I agree they should be part of different collision groups during the process of getting in the car.

[2017-01-10 21:28] liangfok commented on #4729
Perhaps as a first pass we can omit the ability to change the world min-simulation. I think it'll be something nice to support eventually though. One use case is to randomly introduce and remove cars from a traffic simulation.

[2017-01-10 21:41] SeanCurtis-TRI commented on #4729
@liangfok An evocative example.

Like @sherm1, I recognize that there are huge obstacles above and beyond collision filters between now and running that scenario.  However, I do appreciate the discussion as a sense of where we might be headed and making sure we don't paint ourselves into a corner.

If we put the "dynamic" nature of your example aside, there's still some more immediate ideas to dis

[2017-01-10 22:03] patmarion commented on #4729
use case 1: use filter groups to prevent collision between two groups of bodies on the same robot.  The filter groups are defined in urdf.  I can also programmatically add new groups, or access/modify the existing groups that were defined by the urdf and initialized by the parser.

use case 2: i can programmatically add bodies or load additional urdf files into the RBT, and programmatically create

[2017-01-10 22:19] SeanCurtis-TRI commented on #4729
So, putting aside implementation discussion for a second, you're looking at the following functionality.

1) Load all collision filter groups (CFG) defined in URDF (referred to as URDF-CFG).
2) Create runtime CFG (programmatically) that can ignore other runtime CFG or URDF-CFG.
3) A single URDF with `k` URDF-CFG, read `m` times would end introducing `km` URDF-CFG in the set.
4) Given a URDF-CFG an

[2017-01-10 22:32] patmarion commented on #4729
Looks pretty good.

But, let's not even distinguish between CFG and URDF-CFG.  There is only CFG.  As a result of loading a URDF, one or more new CFGs may be created.  If I just loaded foo.urdf, and that urdf defined a group named "bar", I want the parser to output some information so that my code can locate the CFG named "bar" that was constructed during the nth loading of foo.urdf.  Code example

[2017-01-10 22:35] patmarion commented on #4729
In other words- the parser should do some bookkeeping so that I can find named CFGs initialized while loading the URDF.  But the bookkeeping data need not be stored on/inside the CFG itself, it can be some mapping returned by the parser (probably stored on the RBT for convenience).

[2017-01-10 23:12] SeanCurtis-TRI commented on #4729
The distinction exists to acknowledge they come from different origins.  Point 4 was supposed to communicate that from the outside, there is a common interface that hides that distinction come program manipulation (although, when acquiring a URDF-CFG, you would have to specify name *and* model instance id as you pointed out.)

Short point: it seems we're 100% on the same page.

[2017-01-10 23:23] sherm1 commented on #4729
Probably not relevant for this discussion but I want to remind everyone that the basic unit of contact is "collision geometry", not "body". A body is a natural CFG of non-interacting collision geometry objects fixed to that body.

[2017-01-10 23:48] liangfok commented on #4729
Can we push the notion of a CFG "identifier" to the user and thus not have to maintain it inside of Drake proper? Drake can simply provide a CFG class that contains references to collision geometries that are part of the group. The user can then attach higher-level semantics like "model instance id" or "robot limb name" to the groups, and modify / destroy / create groups in a manner that the user

[2017-01-11 00:10] jwnimmer-tri opened #4735 "Bad UX with --config gurobi as GUROBI_PATH changes"
Per `#build` slack, if `$GUROBI_PATH` is unset or changes over time, `--config gurobi` builds can become permanently confused, are are unrecoverable until `bazel clean`.

The correct fix is bazelbuild/bazel#1595, but in the meantime we should try to report better messages to the developer and/or improve `doc/bazel.rst` with better tips.

[2017-01-11 00:26] jamiesnape commented on #4711
Catkin is doing bad things to `CMAKE_PREFIX_PATH` it seems. I am assuming if you source `/opt/ros/indigo/setup.bash`, but then do a regular build (using pure CMake, no Catkin) everything works out fine.

[2017-01-11 00:31] sherm1 commented on #4729
BTW, I see sdf's "collide_without_contact" and some bitmasks there. I know it also has some implicit groups (at least when used by Gazebo) -- by default all the collision geometry in a given model is in a self-ignore group. There is some way to override that but I'm not sure how it's done.

[2017-01-11 02:13] athackst opened #4738 "VTK issues with drake_visualizer when ros-indigo-tmc-desktop-full installed"
When trying to run the drake_visualizer via
[code]
The following error appears:
[code]

[2017-01-11 02:15] athackst commented on #4738
It appears the correct version (5.8) should be linked:
`bash
ldd ./install/bin/drake-visualizer | grep libvtkCommon
	libvtkCommon.so.5.8 => /usr/lib/libvtkCommon.so.5.8 (0x00007f44fe8b6000)
`

However it looks like ros-indigo-tmc-desktop-full also installs version 6$ dpkg -l | grep vtk
ii  libvtk-java                                           5.8.0-14.1ubuntu3                                   amd

[2017-01-11 02:18] athackst commented on #4738
Temporary solution: uninstall tmc's versions of vtc
[code]

However, this seems to remove a significant portion of HSR code
[code]

[2017-01-11 02:25] jwnimmer-tri commented on #4738
/CC @david-german-tri @jamiesnape @mwoehlke-kitware Is this something we can make improvements on?

[2017-01-11 03:07] liangfok commented on #4738
One thing worth trying is to re-install TMC's HSR packages then configure Director to build it's own VTK5 from source: http://drake.mit.edu/from_source_ros_kinetic.html#step-5-build-the-workspace

[2017-01-11 04:32] kunimatsu-tri commented on #4738
I ran into this problem before. The problem is the conflict between python-vtk6 and tmc-python-vtk6, and due to the TMC side. As @liangfok suggested, as long as you don't use python-vtk6, it works.

I've already reported this to TMC.

[2017-01-11 04:35] liangfok commented on #4738
Also see Step 6 in the webpage linked to below, which manually tweaks the paths to find VTK5:

http://drake.mit.edu/from_source_ros_kinetic.html#step-6-modify-environment-variables-to-allow-vtk5-libraries-to-be-found

[2017-01-11 05:18] RussTedrake commented on #4733
My original request was for use in unit tests.  Might this also pave the way for one of the most important features that we're still missing in mathematical program -- the solver reporting out which constraints are infeasible?  We could obviously do it for snopt (and presumably all of the nonlinear solvers which carry around a "best" solution).  Are the APIs sufficient so we could also do it for g

[2017-01-11 06:59] hongkai-dai commented on #4733
In Gurobi, it can return the set of self-contradicting constraints, they explain the API here
https://nathanbrixius.wordpress.com/2012/09/28/detecting-the-sources-of-model-infeasibility-using-gurobi/
http://www.gurobi.com/documentation/6.5/examples/diagnose_and_cope_with_inf.html

Mosek has some procedure to automatically repair an infeasible problem, by relaxing each constraints, and penalizing t

[2017-01-11 13:02] RussTedrake commented on #4733
that would be amazing.  thanks hongkai!  (i know your list keeps getting longer!)

[2017-01-11 13:46] naveenoid opened #4744 "Drake needs witness functions for events"
Following the merging of Saturation primitive (#4708) Drake has a requirement for witness functions.

[2017-01-11 13:57] liangfok opened #4745 "Need Documentation On When It's Safe To Call LeafSystem::DeclareFoo()."
The documentation for the following `LeafSystem` methods should be updated to indicate when it's safe to call them:

* DeclareUpdatePeriodSec()
* DeclarePeriodicUpdate()
* DeclarePublishPeriodSec()
* DeclareContinuousState()
* DeclareDiscreteState()

For example, I think there may be a requirement that these methods only be called prior to the start of the simulation. If this is true, this fact sh

[2017-01-11 13:58] liangfok commented on #4745
Assuming the above methods should not be called after the simulation starts, can this be enforced via exception throwing?

[2017-01-11 14:10] liangfok commented on #4745
Oh, I just realized that `LeafSystem` is a System 2.0 construct and shall thus reassign this issue.

[2017-01-11 14:10] liangfok opened #4746 "Can LeafSystem Provide Corresponding Accessors to the Various DeclareFoo() Methods?"
`LeafSystem` provides the following methods for use by sub-classes:

* DeclareUpdatePeriodSec()
* DeclarePeriodicUpdate()
* DeclarePublishPeriodSec()
* DeclareContinuousState()
* DeclareDiscreteState()

I've just encountered a use-case where I'd like to get the current state that's being set by these methods. For example:

* GetUpdatePeriodSec()
* GetPeriodicUpdate()
* GetPublishPeriodSec()
* GetC

[2017-01-11 14:18] liangfok opened #4747 "Consider Making 0 Instead of +Inf Signify "Update Every Sim Time Step""
Currently, `std::numeric_limits<T>::infinity()` is used to signify to the simulator that a system wants to be updated every major time step of the simulation. This is awkward since it could also be interpreted to mean "never update me" or "update me at time infinity". Consider using a value of 0 to signify the need to update a system every major time step of the simulation. It would be less confus

[2017-01-11 14:22] jwnimmer-tri commented on #4747
@liangfok Which method in particular?  I seem to recall that the infinity-semantics in System2 were okay, and only the PR draft was confusing.

[2017-01-11 14:23] liangfok commented on #4747
Sorry, the method I'm referring to is `System::DoCalcNextUpdateTime()`:

https://github.com/RobotLocomotion/drake/blob/0210c74af7a5b8129388ab92e04c856fefcfe61f/drake/systems/framework/system.h#L851

[2017-01-11 14:51] jwnimmer-tri commented on #4747
Yeah, that one is no problem IMO.  When the question is "When should I be next updated?" the answer "Never" is perfect.

[2017-01-11 14:52] liangfok commented on #4747
But does "Never" imply "Update at the next major time step"?

[2017-01-11 14:56] jwnimmer-tri commented on #4747
Nope.  Updates only happen when you ask.

Note that "Publish every major timestep" is an entirely different concept.

[2017-01-11 14:58] liangfok commented on #4747
Oh I see. OK. I suppose I'm still getting mixed up between the use of `System<T>::DoCalcNextUpdateTime()` vs. `LeafSystem<T>::DeclarePublishPeriodSec()` to throttle the publishing of LCM messages.

[2017-01-11 14:58] #4747 closed

[2017-01-11 15:00] SeanCurtis-TRI opened #4748 "Errors provisioning LLVM on Xenial (Ubuntu 16.04)"
For a sequence of nights, starting 1/5/17, two nightly builds failed to run successfully:

   - [linux-xenial-unprovisioned-gcc-nightly-release](https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-xenial-unprovisioned-gcc-nightly-release/)
   - [linux-xenial-unprovisioned-clang-nightly-release](https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-xenial-unpro

[2017-01-11 15:04] david-german-tri commented on #4745
These methods aren't `const`.  They should be safe to call whenever you have a mutable handle on a `LeafSystem`.  If that's not true, it's a bug.

No, absolutely not!  `System`s are models.  They compute outputs as a function of contexts.  They do not store application state, and indeed are usable for applications other than simulation.  The phrase "after the simulation starts" is meaningless to a

[2017-01-11 15:04] #4745 closed

[2017-01-11 15:05] jamiesnape commented on #4748
Possibly
https://github.com/RobotLocomotion/drake/blob/master/setup/ubuntu/16.04/install_prereqs.sh#L25
https://github.com/RobotLocomotion/drake/blob/master/setup/ubuntu/16.04/install_prereqs.sh#L31
need to be updated to
[code]
See http://apt.llvm.org.

[2017-01-11 15:15] SeanCurtis-TRI commented on #4729
@liangfok I haven't thought through all the full implications of this CFG discussion and your statement, but my initial, gut reaction is that, no, we can't push it off on the user.

Several (pseudo-)random thoughts:

1. Drake providing and tracking CFG identifiers is what would allow us to blur the distinction between a CFG instantiated in a URDF file and associated with a particular model instanc

[2017-01-11 15:16] jamiesnape commented on #4748
Also https://github.com/RobotLocomotion/drake/blob/master/drake/doc/ubuntu_trusty.rst#c-compiler would need updating.

[2017-01-11 15:26] #4735 closed

[2017-01-11 15:38] liangfok commented on #4729
Alright, I think we're on the same page -- the value of the CFG's identifier doesn't convey any additional semantics that are useful to `CollisionWorld`. It is useful purely to the user of `CollisionWorld`. Correct?

Regarding:

I assume you're referring to informal discussion and not actual implementation right? Isn't is true that a body could have a super-complex collision specification consisti

[2017-01-11 15:58] liangfok commented on #4711
@jamiesnape: Thanks for the suggestion. I'm now trying what you suggest (source ROS, then build using CMake):

[code]
I'll update this post with the results!

[2017-01-11 16:09] SeanCurtis-TRI commented on #4729
As for CFGs discussed in terms of bodies, I meant in actual implementation. The primary motivation for that is that it is how they are defined in the URDF.

It *is* true that a body can be represented in collision with a union of arbitrary collision elements.  ANd this is where I no longer quite follow your point.

This seems to miss the point of CFG (aka a collision filter group).  These *filters

[2017-01-11 16:16] jamiesnape commented on #4711
Yes, so after some more digging, CMake is choosing the correct version of OctoMap and does not have `/opt/ros/indigo` in any of its configuration files. Why the compiler insists on using the ROS version, I am still investigating.

[2017-01-11 17:27] sherm1 commented on #4746
Seems reasonable. I'd use the "cheap" syntax, like `get_update_period_sec()` for accessors.

[2017-01-11 17:33] david-german-tri commented on #4746
@liangfok It's possible, but can you be more specific about the problem you're actually trying to solve?

There might be more than one, so the return structure would have to describe that.

Again, the return structure would have to be fairly descriptive: q/v/z dimensions, vector type, etc.

[2017-01-11 17:33] jwnimmer-tri opened #4749 "CI spuriously declares build failure in Bazel builds"
The Bazel CI builds appear to be using CTest's default error regexps and fail the build when one of those matches, even if Bazel returned success (0) exitcode.

If I'm understanding correctly, it looks like `CTEST_CUSTOM_ERROR_MATCH`'s default value at https://cmake.org/gitweb?p=cmake.git;a=blob;f=Source/CTest/cmCTestBuildHandler.cxx;h=3bf54f0f455f23b341dc4806c74fce32c491b8a6;hb=HEAD#l26 is breaki

[2017-01-11 17:36] jwnimmer-tri commented on #4749
I expect that #4750 will demonstrate the failure once it finishes building.

[2017-01-11 17:39] sherm1 commented on #4729
Should be though IMO. Certainly "world" is an example of a body with lots of independent collision geometry. Are you saying we won't have collision geometry as the underlying unit of collision? That seems odd.

[2017-01-11 17:41] edrumwri commented on #4744
This is under active development. Stay tuned!

[2017-01-11 17:42] jwnimmer-tri commented on #4749
For reference, I first discovered this in #4737 and worked around it with ce129e3.

[2017-01-11 17:45] #2465 closed

[2017-01-11 17:53] sherm1 commented on #3829
Fixed in #4035.

[2017-01-11 17:53] #3829 closed

[2017-01-11 18:31] jwnimmer-tri commented on #4748
Yes, the new URL works.  Patch forthcoming.

[2017-01-11 18:38] jwnimmer-tri commented on #4748
Spoke too soon, not actually working yet.

[2017-01-11 18:51] jwnimmer-tri commented on #4748
Yeah, http://apt-origin.llvm.org/xenial/dists/llvm-toolchain-xenial/InRelease exists but http://apt-origin.llvm.org/xenial/dists/llvm-toolchain-xenial-3.9/InRelease is missing.  I guess LLVM is just broken?

I'm punting on this.

[2017-01-11 18:53] liangfok opened #4752 "Bazel build error using Ubuntu Trusty - unsupported option '-pass-exit-codes'"
I know Ubuntu Trusty is not (may never be) officially supported, but I thought I'd document this in the hope that someone will know a fix or workaround.

# The Error

[code]

 I am using Bazel 0.4.3 and clang-3.9.

[2017-01-11 18:54] jwnimmer-tri commented on #4752
Why is `clang` appearing there in the output?  Was your `CXX` set to clang for some reason?

[2017-01-11 18:55] liangfok commented on #4752
Yes, I had the following in my `~/.bashrc`:

[code]

I will change it to the following and try again:

[code]

[2017-01-11 19:07] liangfok commented on #4752
After switching to `gcc`, I get the following error:

[code]

[2017-01-11 19:11] david-german-tri commented on #4752
Regarding the gcc error, is `ccache` on your path?   http://drake.mit.edu/bazel.html

Regarding the clang error, it's very possible that affects Xenial as well.  I'm working in the area today anyway, so I'll take a look.

[2017-01-11 19:13] liangfok commented on #4752
Thanks. Yes, `ccache` was in my path. Will try again with it removed. Thanks!

[2017-01-11 19:30] liangfok commented on #4752
The build completed. Thanks again for the help!

[2017-01-11 19:30] #4752 closed

[2017-01-11 19:40] liangfok commented on #2347
Again: https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-gcc-continuous-matlab-open-source-debug/482/

[2017-01-11 20:21] liangfok commented on #4746
When unit testing `LcmPublisherSystem`'s ability to , I'd like to verify that the desired next update time is correct. See #4731, lcm_publisher_system_publish_rate_test.cc.

[2017-01-11 20:52] liangfok commented on #4711
I believe we've finally root-caused the problem. It relates to this comment: https://github.com/RobotLocomotion/drake/issues/3814#issuecomment-271128929. Drake's version of FCL and Octomap are being included using `-isystem` instead of `-I` to get around the fact that at least one FCL header contains code that violates the `-Wshadow` error. When ROS is sourced, it sets environment variable `CPATH`

[2017-01-11 21:07] liangfok commented on #4746
I decided to remove the aforementioned check from #4731 and shall thus close this issue.

[2017-01-11 21:07] #4746 closed

[2017-01-11 21:51] soonho-tri opened #4755 "Add ToPolynomial/IsPolynomial methods to symbolic expression class"
Example : `pow((x + y), 2).Expand()` -> `pow(x, 2) + 2 * x * y + pow(y, 2)`

/cc @hongkai-dai

[2017-01-11 21:57] jwnimmer-tri commented on #4755
This is just to produce something in polynomial form (like https://github.com/RobotLocomotion/drake/blob/master/drake/common/polynomial.h#L16), or are there other kinds of Expansions beyond a spotless polynomial that we want to Expand to?

Because if only the former, having a "ToPolynomial()" method that either returns a Polynomial or fails-fast might be better?  (I'm reading between the lines her

[2017-01-11 21:58] hongkai-dai commented on #4755
@jwnimmer-tri , `ToPolynomial()` will be great!

[2017-01-11 22:00] soonho-tri commented on #4755
OK, I'll add the following function in `symbolic::Expression` class:

[code]

[2017-01-11 22:04] jwnimmer-tri commented on #4755
Sounds nice.  Though I wonder if calling code can be sure it's supposed to pass?  If not, we might need `bool IsPolynomial` and/or have it return `optional<Polynomial>`.

[2017-01-11 22:17] soonho-tri commented on #4755
@jwnimmer-tri , good point! I'll add the following one as well:

[code]

[2017-01-11 22:23] SeanCurtis-TRI commented on #4729
Not at all.  Two things:

1) This isn't about whether collision elements are visible to the programmer. The intent of this issue was to strictly discuss one facet of collision: collision filter groups.  It doesn't even span the whole subject of collision filtering.
2) Furthermore, I just made a statement of fact. We currently have no interfaces for picking and choosing filters programmatically in

[2017-01-11 23:25] athackst commented on #4738
OK, that seems to have worked.  I recommend adding it to the indigo install steps as well.

[2017-01-11 23:57] liangfok commented on #4738
Great! Will do ASAP.

[2017-01-12 00:59] #4619 closed

[2017-01-12 11:11] liangfok opened #4760 "Consider Adding DrakeMockLcm::DecodeLastPublishedMessageAs<T>()."
It'll be nice to add this method to simplify call sites. Instead of:

[code]

call sites will have:

[code]

This issue was extracted from @jwnimmer-tri's here:
https://reviewable.io/reviews/robotlocomotion/drake/4731#-KaFflRdzSJhvDvZw963

[2017-01-12 15:13] kunimatsu-tri commented on #4738
Update:

I found that this was not due to the conflict between tmc-python-vtk6 and python-vtk6, but this is python-vtk6's bug.

Yes, tmc-python-vtk6 introduces the error:
[code]
as @athackst reported, but if I install python-vtk6 via apt-get, it produces the same error when I import vtk.

[code]

The some people have found this bug already:
https://bugs.launchpad.net/ubuntu/+source/vtk6/+bug/14040

[2017-01-12 15:29] david-german-tri commented on #4738
@kunimatsu-tri If I'm understanding those links correctly, the problem is coming from Ubuntu packaging, not from VTK itself.  Is that right?

[2017-01-12 15:33] david-german-tri commented on #4738
@liangfok @athackst if fiddling the environment variables to prefer VTK5 over VTK6 is an adequate workaround for the Ubuntu packaging problem, is the only task left on this issue a documentation one?

[2017-01-12 15:55] liangfok commented on #4738
Yes, I believe the only task left for this issue is to document the need to modify a couple environment variables. I will submit a PR shortly.

@kunimatsu-tri, are you unable to work around the "ImportError: No module named vtkCommonCorePython" error using the following two environment variable changes:

[code]

[2017-01-12 15:56] #4502 closed

[2017-01-12 15:58] athackst commented on #4738
That's not entirely true. Just setting the environment variable didn't work for me. I also had to set the flag to compile vtk from source.

[2017-01-12 15:59] kunimatsu-tri commented on #4738
@david-german-tri It seems you're right, but I'm still not sure if it's ONLY the packaging problem.

I can't find vtkCommonCorePython.py anywhere. I don't know if this is packaging problem or build configuration problem.

[2017-01-12 16:02] liangfok commented on #4738
@athackst: Got it, thanks. I'll include both the flag and the environment variable changes in the PR that resolves this issue.

[2017-01-12 16:20] kunimatsu-tri commented on #4738
@liangfok I'm not building drake as a catkin package. Do you know the workaround for such users?

[2017-01-12 16:26] liangfok commented on #4738
@kunimatsu-tri, I believe the workaround is the same, but the paths need to be modified. For example, something like:

[code]

[2017-01-12 16:33] SeanCurtis-TRI commented on #4729
After doing some tinkering with the matlab code, I've concluded two things:

1. Matlab precludes adding a URDF with collision filter groups multiple times.  The attempt throws an error with the following message:  `A collision filter group with the collision_fg_name self_group already exists in this RigidBodyManipulator`
2. The only functionality matlab offers is the ability to parse and make use

[2017-01-12 16:39] patmarion commented on #4729
That sounds right.  I have not used the matlab api to programmatically inspect or modify collision filter groups.  The only programmatic work I've done was that c++ code I linked to you, which required using bit masks to define groups.

[2017-01-12 16:41] jwnimmer-tri commented on #4337
Keyword search help: libsdformat

[2017-01-12 16:58] kunimatsu-tri commented on #4738
@liangfok That worked for me, I needed to modify the last line though:

export PYTHONPATH=`pwd`/build/externals/director/src/vtk-build/Wrapping/Python:`pwd`/build/externals/director/src/vtk-build/bin:$PYTHONPATH

[2017-01-12 17:04] rdeits opened #4767 "Drake build failed with `source directory already configured` in ipopt configure"
I wasn't able to build drake master on Ubuntu 14.04 because configuration of ipopt failed with:

[code]

(this happened with the unix makefiles generator as well). Nuking the entire `build` folder was not sufficient to solve the problem.

Instead, I had to delete the entire `externals/ipopt` folder and re-checkout that path. I'm posting here so that the fix is searchable in the future.

[2017-01-12 17:28] liangfok commented on #4767
Any idea what state your `drake-distro` directory was in prior to this error occurring? For example, did it initially build OK but only start to fail after, for example, rebasing with `master`?

[2017-01-12 17:33] liangfok commented on #4738
@kunimatsu-tri: Thanks! I've updated my post and will also update #4765.

[2017-01-12 18:21] rdeits commented on #4767
I hadn't run a build in several weeks, and had just pulled the latest master.

[2017-01-12 18:26] jamiesnape commented on #4319
Closed via RobotLocomotion/drake-ci#72.

[2017-01-12 18:26] #4319 closed

[2017-01-12 18:26] jamiesnape commented on #4319
http://drake.mit.edu/urdf/drakeURDF.html

[2017-01-12 18:30] jamiesnape commented on #4767
Probably before ipopt became an out-of-source build. Running `make distclean`as the error suggested should be sufficient.

[2017-01-12 18:32] jamiesnape commented on #4767
Note that `ipopt` always uses `make` regardless of the generator as it is an Autotools project.

[2017-01-12 18:50] kunimatsu-tri commented on #4767
I ran into the same problem and the workaround deleting externals/ipopt didn't work for me.
I've also tried building from scratch and this didn't work neither.

[code]

Any suggestion?

[2017-01-12 18:57] jamiesnape commented on #4767
Not sure how a failure due to an already configured source directory would be possible on a build from a freshly cloned repo, especially as master does not actually configure the source directory anymore. What is the output of this?
[code]

[2017-01-12 18:58] liangfok commented on #4767
Just curious whether using `ninja` suffers the same problem:

[code]

[2017-01-12 19:02] jamiesnape commented on #4749
Closed via RobotLocomotion/drake-ci#71.

[2017-01-12 19:02] #4749 closed

[2017-01-12 19:05] kunimatsu-tri commented on #4767
git status output at drake/externals/ipopt is:
[code]

[2017-01-12 19:08] jamiesnape commented on #4767
It the source directory has not been configured then. If it had, you would see:
[code]
Are you sure that was the error?

[2017-01-12 19:13] rdeits opened #4769 "Drake build fails due to issues with string literals"
Building drake master on ubuntu 14.04 is failing for me with:

[code]

I have:

[code]

[2017-01-12 19:13] rdeits commented on #4769
It looks like the R-string literal isn't being handled correctly. Is this some feature that my compiler doesn't support?

[2017-01-12 19:20] liangfok commented on #4769
I believe this may be a duplicate of this: https://drakedevelopers.slack.com/archives/build/p1484167906000558

[2017-01-12 19:21] kunimatsu-tri commented on #4767
Sorry, I have misunderstood.
Building from scratch worked for me.
When I tried it from scratch, the problem was #4711, not this issue.

When I commented out source /opt/ros/indigo/setup.bash, it worked.

[2017-01-12 19:21] liangfok commented on #4769
Looks like that discussion recommends adding the following environment variable:

[code]

[2017-01-12 19:23] rdeits commented on #4769
Yup, agreed. Trying that now...

Thanks!

[2017-01-12 20:40] jwnimmer-tri commented on #4485
IIRC possibly David was going to try to look into this also.

[2017-01-12 20:55] #4767 closed

[2017-01-12 20:55] rdeits commented on #4769
That worked, thanks!

[2017-01-12 20:55] #4769 closed

[2017-01-12 20:56] #4574 closed

[2017-01-12 20:56] liangfok commented on #4767
Should this issue be added to the FAQ? http://drake.mit.edu/faq.html

[2017-01-12 20:58] rdeits opened #4771 "Python bindings for MathematicalProgram"
I was investigating today what it would take to make `MathematicalProgram` usable from Python/Matlab. So far, I haven't been able to wrap `decision_variable.h` because of its use of alias-`using` directives (like `template <int rows>
using VectorDecisionVariable = MatrixDecisionVariable<rows, 1>;`).

Mainline SWIG added support for these directives in 3.0.11, which came out in December 2016, but t