[2021-12-04 00:58] SeanCurtis-TRI commented on #16043
Here's the shape of the basic solution:

We currently support the `<drake:proximity_properties>` custom tag for both sdf and urdf. It has always been the intent of providing `<drake:illustration_properties>` and `<drake:perception_properties>` as well. Adding these missing tags is the crux of the solution.

Special notes:
  - The current default behavior is that a `<visual>` geometry is used for b

[2021-12-04 01:03] SeanCurtis-TRI commented on #15643
Closing in favor of #15796: "All relevant public APIs fully bound in python".

[2021-12-04 01:03] #15643 closed

[2021-12-04 01:09] #15080 closed

[2021-12-04 01:12] SeanCurtis-TRI commented on #14571
In retrospect, it seems unlikely this will work generally. Closing it as a pipe dream.

[2021-12-04 01:12] #14571 closed

[2021-12-04 01:14] SeanCurtis-TRI commented on #14562
Closing as won't fix. The remote rendering client/server will most likely supplant this need.

[2021-12-04 01:14] #14562 closed

[2021-12-04 01:15] SeanCurtis-TRI commented on #14423
Closing this as meshcat-python is an evolutionary dead end.

[2021-12-04 01:15] #14423 closed

[2021-12-04 01:15] SeanCurtis-TRI commented on #14407
Closing as having outgrown clarity/purpose.

[2021-12-04 01:15] #14407 closed

[2021-12-04 01:17] SeanCurtis-TRI commented on #14107
This should get resolved by writing the user guide specified in #15796. I'm leaving it open until then.

[2021-12-04 01:17] SeanCurtis-TRI commented on #13818
Closing because there's been no action for 1.5 years.

[2021-12-04 01:17] #13818 closed

[2021-12-04 01:19] RussTedrake opened #16178 "supported and custom tags for SDF proximity properties are undiscoverable"
I just got a perfectly reasonable question: "How do I set the friction coefficient in an SDF".  It was surprisingly hard to find the answer!

My answer was: For controlling the friction properties, you can add additional tags to the sdf:
https://github.com/RobotLocomotion/drake/blob/master/multibody/parsing/detail_scene_graph.h#L159
as seen in https://github.com/RobotLocomotion/drake/blob/62750b83

[2021-12-04 02:18] SeanCurtis-TRI commented on #16178
Closing as redundant of #13314.

[2021-12-04 02:33] SeanCurtis-TRI commented on #13688
As I transfer ownership of this issue, I wanted to make my (now stale) WIP branch available. If I get extra times, I'll see if I can't rebase it on a more current version of master.  No guarantees.

The branch is here: https://github.com/SeanCurtis-TRI/drake/tree/PR_streamline_property_interface_13688

[2021-12-04 02:34] SeanCurtis-TRI commented on #13627
Closed as no obvious fix.

[2021-12-04 02:34] #13627 closed

[2021-12-04 02:37] SeanCurtis-TRI commented on #13241
Closing as probably won't do.

[2021-12-04 02:37] #13241 closed

[2021-12-04 02:42] SeanCurtis-TRI commented on #12937
Close as won't do.

[2021-12-04 02:42] #12937 closed

[2021-12-04 02:50] #12478 closed

[2021-12-04 02:50] SeanCurtis-TRI commented on #11748
This is actively being pursued and doesn't need to be tracked here.

[2021-12-04 02:50] #11748 closed

[2021-12-04 02:51] SeanCurtis-TRI commented on #11746
The details here should be rolled into #16043 and then this closed.

[2021-12-04 02:55] SeanCurtis-TRI commented on #11247
Largely supplanted yes #10907.

[2021-12-04 02:55] #11247 closed

[2021-12-04 03:02] #10849 closed

[2021-12-04 03:24] RussTedrake commented on #16178
Fair.  #13314 suggests that it is only hydroelastic parameters that are hidden.  But this is a problem for all proximity parameters (including point contact); and really all parsing documentation.

[2021-12-04 04:46] SeanCurtis-TRI commented on #8942
Looks like 1.5 years since "speedups" have been tracked. I'm reassigning this to you @amcastro-tri and you can close it if you like.

[2021-12-04 04:50] SeanCurtis-TRI commented on #7377
I believe this was inadvertantly duplicated by #14727  and resolved by #15763.

[2021-12-04 04:50] #7377 closed

[2021-12-04 04:52] SeanCurtis-TRI commented on #6890
This is resolved our custom `@tparam_default_scalar` and `@tparam_non_symbolic_scalar`.

[2021-12-04 04:52] #6890 closed

[2021-12-04 04:59] SeanCurtis-TRI commented on #16178
Surely #13314 refers to many things that have nothing to do with hydroelastic:

  - textures not appearing in camera
  - collision filters
  - reflected inertia parameters

Other than the fact that two of the examples refer to hydroelastic, there is literally no language that refers to it. Still, if you're dying for this issue to remain open. I won't stand in the way.

[2021-12-04 12:44] RussTedrake opened #16179 "JointActuator::set_effort_limit()"
Simple request: Folks would like to be able to (re)set the effort limit after the actuator was created.  I *think* it should be trivial, but is just missing from our API?

https://drake.mit.edu/doxygen_cxx/classdrake_1_1multibody_1_1_joint_actuator.html

[2021-12-04 19:05] sherm1 commented on #16179
What do you think @joemasterjohn ?

[2021-12-05 00:26] RussTedrake opened #16180 "update effort limits in iiwa description files?"
Someone pointed out to me that the effort limits in our [sdf](https://github.com/RobotLocomotion/drake/blob/master/manipulation/models/iiwa_description/iiwa7/iiwa7_no_collision.sdf) don't match the torque limits in the [iiwa documentation](https://www.kuka.com/-/media/kuka-downloads/imported/9cb8e311bfd744b4b0eab25ca883f6d3/kuka_lbr_iiwa_brochure_en.pdf).  Is there any reason I should avoid updati

[2021-12-05 10:45] RussTedrake commented on #12598
I'd like to understand this a little better.  On the surface, I strongly disagree.

My perspective: I find myself very often explaining to people why the models that they find in another simulation engine/environment don't work correctly in Drake out of the box.  I believe Sherm's principle of least surprise would dictate that we can add custom tags for beautiful specification of contact parameter

[2021-12-05 11:43] RussTedrake opened #16181 "<mimic> tag in urdf is silently ignored; can lead to confusing TAMSI error messages with no justification"
Problem:
Someone grabs the default [franka_description](https://github.com/frankaemika/franka_ros/blob/develop/franka_description/robots/hand.xacro) from the web, and puts it in Drake.  The result is that TAMSI (reasonably) falls down, ironically at this line:
[code]
It doesn't exactly instill confidence, nor help someone see a path forward.

It turns out that the fingers in those models have no i

[2021-12-05 23:15] calderpg-tri commented on #16180
See #15613 for the existing discussion on changes to the IIWA models, and #16003 for an in-progress PR on updating limits.

[2021-12-05 23:18] RussTedrake commented on #16180
nice!  sorry I missed those.  I'll close this as redundant.

[2021-12-05 23:18] #16180 closed

[2021-12-06 00:23] sherm1 commented on #16181
cc @joemasterjohn @amcastro-tri constraints!

[2021-12-06 14:27] SeanCurtis-TRI opened #16183 "pydrake Visualization problems"
A user [has reported that a pydrake program isn't updating visualization state to match plant state](https://stackoverflow.com/questions/69950297/plant-setpositions-does-not-update-visualization/69951636?noredirect=1#comment124147042_69951636).

The discussion (and example code), such as it is, can be found at the stackoverflow link. An earlier error in specifying pose has apparently been reconcil

[2021-12-06 15:13] SeanCurtis-TRI commented on #12598
So, my arguments are as follows:

1. The behavior this issue addresses is hijacking *some* (but not remotely all), of settings that are explicitly targeted toward a particular software package: `ode`. By parsing *this* we imply support for `ode` but, we've never promised it and it's woefully incomplete.
    - For the record, we use `<mu>` and `<mu2>` to mean coefficients of static friction and dyn

[2021-12-06 16:33] sherm1 commented on #12598
Great points -- thanks!

[2021-12-06 16:45] jwnimmer-tri commented on #12598
My general ideas here would push us as follows:

When Drake receives an input file (SDFormat, in this case), then if there are parts of the file that we ignore (like the ode or bullet information), then _at minimum_ we must always warn the user that we are ignoring them.  Any extra junk in an input file _must never_ be silently ignored [1].  That would mitigate, for example, the `<bullet/>` elemen

[2021-12-06 16:55] jwnimmer-tri commented on #16183
There is a bug in the sample program.

The `plant_context` is the thing being mutated.  It is a view of the simulator's context.

The context being published from is `diagram_context`, which is completely unrelated to the simulator and plant context.

[code]

[2021-12-06 16:55] #16183 closed

[2021-12-06 16:56] RussTedrake commented on #12598
I think we should definitely warn / throw on some tags which we know about, and for which we know that ignoring them can lead to errors.  I'm less sure that I agree about warning/throwing on every unknown tag.  That seems against the guidelines of XML.  (I was trying to find a reference, but the "XML Elements are Extensible" section of [this](https://www.w3schools.com/xml/xml_elements.asp) is at l

[2021-12-06 17:01] jwnimmer-tri commented on #12598
Things in third-party namespaces should be silently ignored, yes.

Things declared the in sdformat namespace but that are not part of the sdformat schema should be errors.

Maybe for sdformat things like "actor" or "plugin" that are defined by the spec, but orthogonal to Drake, we can make the case for silently ignoring them, or at least have them be a different level of warning/error than the mec

[2021-12-06 18:51] amcastro-tri commented on #15233
anything you think we'd need to test @SeanCurtis-TRI that #14963 does not cover? the traction calculator is covered in that PR. I do agree however that we do not seem to have an end-to-end unit test.

[2021-12-06 18:56] amcastro-tri commented on #16181
I think that is the most reasonable thing to do. Probably we should have mechanism to give a warning for any of element that Drake ignores.

[2021-12-06 18:57] amcastro-tri commented on #8942
I think this reached the end of its lifetime. Thanks @SeanCurtis-TRI

[2021-12-06 18:57] #8942 closed

[2021-12-06 19:02] SeanCurtis-TRI commented on #15233
My best sense of this issue is that we should have confidence that the derivatives on the forces through hydroelastic contribution are "correct". The various tests on the geometry side:

  - [mesh-half space intersection](https://github.com/RobotLocomotion/drake/blob/master/geometry/proximity/test/mesh_half_space_intersection_test.cc#L986-L1560)
  - [mesh-mesh intersection](https://github.com/Robo

[2021-12-06 21:15] BetsyMcPhail commented on #15960
The experimental build, [linux-focal-unprovisioned-gcc-wheel-experimental-snopt-release](https://drake-jenkins.csail.mit.edu/view/Wheel/job/linux-focal-unprovisioned-gcc-wheel-experimental-snopt-release/) has been added to Jenkins and runs successfully. The pip build [always uses SNOPT](https://github.com/RobotLocomotion/drake/issues/15961), so we could create _linux-focal-unprovisioned-gcc-wheel-

[2021-12-06 21:20] jwnimmer-tri commented on #15960
I agree that we should always have "snopt" in the name for snopt-enabled builds.

The original ticket above requested one build per CPython version, so that they could all run in parallel.  If you are not going that route, please explain why in the ticket here.

[2021-12-06 21:24] BetsyMcPhail commented on #15960
@mwoehlke-kitware can you please comment on the all builds in one job decision

[2021-12-06 22:16] rpoyner-tri commented on #9496
For Diagrams that do not have explicit names set in Export{In,Out}put(), the generated names are unusable for Get{In,Out}putPort(str), since a pointer value in hex gets encoded into the name. Here are some possibilities for documenting them in schematics:

* don't bother creating a schematic (status quo for many Diagrams)
* create a schematic, and indicate by color/typography that the "port names"

[2021-12-06 22:20] jwnimmer-tri commented on #9496
I don't think that would be considered as a breaking change (at least, when the sub-systems did not have names assigned).  Can you link to a specific example or two, so we can consider the concrete examples?

[2021-12-06 22:24] rpoyner-tri commented on #9496
Immediate example is `PidControlledSystem` -- no schematic, and no names in current `master`.

[2021-12-06 22:32] jwnimmer-tri commented on #9496
In that case, if the `plant` was previously given a `set_name`, then the wrapped names would have been predictable (not hex), so the change would technically breaking.  Still probably worth making that change, though.  For that system, I think that the diagram's input and output port names should be identical to the wrapped plant's port names (with no extra prefix or suffix) -- except for the "des

[2021-12-07 15:48] mwoehlke-kitware commented on #15960
My understanding was that we wanted `build-wheels`, which CI wraps, to build everything, so that we aren't enumerating the possible wheels in multiple places. It shouldn't be difficult to tweak things so CI passes in arguments to select a single wheel, but my understanding was that that isn't desired?

[2021-12-07 16:28] mwoehlke-kitware commented on #14652
The most recent clang on Focal is 12. At this point, should this issue still be targeting 10? Do we still care about Bionic?

[2021-12-07 16:43] jwnimmer-tri commented on #14652
See #13391.  We need to support Bionic until April 1, 2022.

[2021-12-07 17:34] #16058 closed

[2021-12-07 21:20] samzapo opened #16189 "In SpatialVelocity, clarify operator +, +=, -, -= documentation. Perhaps create RELATIVE spatial velocity notation and/or methods."
Original title of this issue:
Function `frame_F.CalcSpatialVelocity(.., frame_M, frame_E)` computes `V_MfFo_E` not `V_MoFo_E` as documented.

See the following test:
https://gist.github.com/samzapo/d0b0e69a8c57bd5406f21dfdb56b01bb

The linked test indicates that, if a frame `M` and a frame `N` are both affixed to a frame `P`, then `V_MoFo_E` equals `V_NoFo_E`, according to `multibody::Frame::CalcS

[2021-12-07 23:12] sherm1 commented on #16189
@mitiguy Paul can you take a look at this?

[2021-12-07 23:12] mitiguy commented on #16189
I am looking at this now.

[2021-12-08 01:18] amcastro-tri commented on #16189
Since you are working on this @mitiguy, I'll unassign myself. Please feel free to reach out if I can be of any help.

[2021-12-08 15:55] jwnimmer-tri commented on #15960
@BetsyMcPhail

There are two spurious jobs defined currently:
- [linux-focal-unprovisioned-gcc-wheel-experimental-release](https://drake-jenkins.csail.mit.edu/view/Wheel/job/linux-focal-unprovisioned-gcc-wheel-experimental-release/)
- [linux-focal-unprovisioned-gcc-wheel-experimental-everything-release](https://drake-jenkins.csail.mit.edu/view/Wheel/job/linux-focal-unprovisioned-gcc-wheel-experime

[2021-12-08 18:12] BetsyMcPhail commented on #15960
We were on the same page regarding the experimental builds, I was hoping to to do one update to the jenkins jobs builder when the naming scheme was finalized.

drake-jenkins-jobs has been [updated](https://github.com/RobotLocomotion/drake-jenkins-jobs/commit/512fabac0d303d907761dffa782dd10ca76bf3ad) to create an experimental and nightly wheel build. Note the nightly build is _NOT_ production (yet)

[2021-12-08 18:12] #15960 closed

[2021-12-08 18:44] jwnimmer-tri commented on #15960
Thanks!

As we did with Monterey, we'll let the nightly Wheel build run for a while non-production (maybe through the weekend), and then next week we can promote it to Nightly Production.

[2021-12-08 20:49] jwnimmer-tri commented on #14555
Some additional context:

The goal of this issue is to report on the landscape of what is or isn't working / what the work plan will need to be for Drake to add official support for that hardware.  There is no need to submit patches to _fix_ a broken Drake on these platforms.  This is a "survey" ticket, not a "fix" ticket.

One important question is whether Drake's https://drake-packages.csail.mit

[2021-12-08 22:21] rpoyner-tri commented on #9496
Copying here for posterity some of the rules/goals agreed on during early PRs here.

 * list port names that can be used as arguments to Get{In,Out}putPort(str)
 * indicate with color ports that may not always be present
 * move other port annotations to the surrounding text
 * for classes that inherit ports:
   * make sure the base classes have diagrams
   * paste/rename diagrams into the derived

[2021-12-08 23:38] mitiguy commented on #16189
Notes from this morning video conference with Sam Zapolosky, Evan Drumwright, and Jess Moss as well as the slack discussion which also includes Alejandro Castro and Sherm.

Helpful extension to spatial velocity and spatial acceleration monogram notation for:
relative spatial and velocity, relative spatial acceleration,
relative translational velocity, relative translational acceleration.
Monogram

[2021-12-08 23:50] SeanCurtis-TRI commented on #16189
This struck me as a bit surprising. Here's why:

Consider the phrase:

I'd interpret it to be synonymous with the phrase:

(In other words. B's spatial velocity in W *is* the relative velocity of B relative to W, measured in W.)

If everything written so far is correct, I'll now point out the confusion.

The first sentence would be monogrammed as: `V_WB_E`. The second as `V_W_BW_E`. Note the rever

[2021-12-09 00:10] sherm1 commented on #16189
I agree with Sean. Looks like the "associated words" are backwards here?

Should be: "Frame A's spatial velocity relative to Frame B ..."
That seems more consistent with V_BA which is A's spatial velocity in B, which is equivalent to V_B_BA, A's velocity relative to B, measured in B.

[2021-12-09 02:07] mitiguy commented on #16189
@SeanCurtis-TRI  is correct in that:
V_WB_E is the same as V_W_BW_E.
As we probably agree, there is no reason to use V_W_BW_E when V_WB_E suffices.
V_WB_E is explicit, shorter, simpler, clearer, better.

However, in Sean's example the reversal of WB to BW does not refer to the same quantity (which is why an extra underscore is intentionally introduced).
Focusing attention on the WB In V_WB, the W

[2021-12-09 13:57] SeanCurtis-TRI commented on #16189
@mitiguy, mistake my concern.

I'm not suggesting that WB refers to the same thing as BW. I'm referring to the fact that `V_W_BW_E` and `V_WB_E` refer to the same quantity. And, given *that*, the fact that WB and BW are reversed in what should *otherwise* be equivalent statements is odd.

That is not true. In `V_W_BW E`, `W` is both being measured *and* the measured-in frame. Admittedly its measur

[2021-12-09 15:09] samzapo commented on #16189
TL;DR
The way `measured in` frames are currently annotated in drake violates the *principle of least astonishment*, as there are un-annotated shifts happening behind the scenes when I want to turn a `V_WF` and a `V_WM` into a `V_MF_W`

I don't think a new notation is needed, just a reinterpretation of the current notation.  The divergence between my understanding of the monogram notation and what

[2021-12-09 15:25] jwnimmer-tri commented on #14652
If this needs a lot of work on the macOS side (i.e., rolling a new bottle), then it probably makes sense to wait until April at which point we can go straight to 12.

[2021-12-09 17:26] sherm1 commented on #16189
@mitiguy re notation I think it is critical that we don't flip letters around for the same meaning. My thought would be to make sure that V_AB has the same meaning as V_A_AB.
- V_AB = the spatial velocity of B in A (that is, measured and expressed in A)
- V_A_AB = the relative spatial velocity of B and A, measured in A (and still expressed in A)

(those are the same quantities because A's velocity

[2021-12-09 17:32] sherm1 commented on #16189
A further note regarding the expressed-in frame if it is not given explicitly:
- we already define V_AB ≡ V_AB_A (expressed in frame is implicitly the same as the measured-in frame)
- so I think we should define V_F_AB ≡ V_F_AB_F (for consistency since F is the measured-in frame)

(Combined with the above, V_AB is actually short for V_A_AB_A!)

What do you think?

[2021-12-09 19:44] samzapo commented on #16189
I think this is a good new notation, as I have just determined that my solution above does not extend to `SpatialAcceleration`s.

Although, I believe `V_AB` would be short for `V_A_AbB_A` since:

[code]

[2021-12-09 20:46] mitiguy commented on #16189
There are many special cases being discussed.  Here is a proposal for the general case for:
M: "measured-in" frame.
F:   frame being measured.
B:  "relative-to" frame.
E:  "expressed-in" frame.

1.  Relative spatial velocity monogram notation is **_not_** used unless it is **essential**,
which occurs only when frames M, F, B are distinct.

2.  Relative spatial velocity notation, its definition, an

[2021-12-09 20:53] sherm1 commented on #16189
Paul, I like what you wrote above but I think the sign is backwards. When we write V_AB we mean "B's velocity in A". That is B-A if you think of A's velocity in A as zero. So when we write V_M_AB we should mean V_MB - V_MA for consistency. That way V_A_AB and V_AB mean the same thing as they should.

[2021-12-09 20:56] sherm1 commented on #16189
@samzapo per your comment above I agree except for the ≠

I claim: V_A_AB = V_A_AbB
proof:
V_AA = V_AAb = 0
V_A_AB = V_AB − V_AA = V_AB
V_A_AbB = V_AB − V_AAb = V_AB

[2021-12-09 22:57] amcastro-tri commented on #13754
@samzapo, until this lands, notice we have the API `MultibodyPlant::get_body_spatial_accelerations_output_port()` that puts per body spatial accelerations in an output port.

[2021-12-09 23:20] DamrongGuoy commented on #15260
@joemasterjohn is interested.  Add him to assignees.

[2021-12-09 23:42] samzapo commented on #16189
@sherm1 Yes, that's right!
Because, in this case, the "relative-to" frame `Ab` is not rotating in "measured-in" frame `A`.

[2021-12-11 13:11] RussTedrake opened #16206 "Apple silicon homebrew installs to `/opt/homebrew` instead of '/usr/local/opt`"
https://apple.stackexchange.com/questions/410825/apple-silicon-port-all-homebrew-packages-under-usr-local-opt-to-opt-homebrew

Unsurprisingly, `bazel` is not happy.  It starts with the `rules_python` failing to find `python3.9`.  Who knows what else...

I believe Drake is not useable on the new macbooks until this is resolved?  @BetsyMcPhail -- do you have the ability to test / own this?

[2021-12-11 15:04] jwnimmer-tri commented on #16206
We have #14555 presently underway to investigate Drake vs the new apple hardware.

[2021-12-11 16:50] RussTedrake commented on #16206
Ah.  I'm sorry I missed it.  A few simple changes get me pretty far into the build.  I might hammer on it a bit more to see if I can get at least a proof-of-life example.

[2021-12-11 19:26] RussTedrake commented on #16206
Ok, I've got most things working on [this branch](https://github.com/RobotLocomotion/drake/compare/master...RussTedrake:apple_silicon?expand=1).

The biggest paint point, I think, is the lack of SSE.  I decided to not resolve the issues in the FEM dir yet.  I disabled mosek and gurobi to get up and running, too, but don't have any particular reason yet to fear that they will be hard to get going.

[2021-12-12 17:48] hongkai-dai commented on #15685
Eigen actually computes the right solution, I made a mistake when setting up the eigen test.

[2021-12-12 17:48] #15685 closed

[2021-12-13 14:41] BetsyMcPhail commented on #16206
Thanks for working on this branch. @mwoehlke-kitware has also been looking into this issue. Tagging him here to keep him up-to-date.

[2021-12-13 15:42] rpoyner-tri commented on #7331
Unless someone else has work-in-progress on this, I will take a look.

[2021-12-13 17:55] xuchenhan-tri commented on #16206
@RussTedrake are the FEM issues high priority to fix? If not, I'll investigate a bit later (probably over the break).

[2021-12-13 17:56] jwnimmer-tri commented on #16206
@RussTedrake what is your overall objective here?  What is the bug or missing feature, in particular and specifically?

My current stance is that building Drake for native ARM is out of scope for our current platform matrix, and is tracked under #13514 already.  I don't see any particular need to support drake developers who use that hardware, since almost none of the developer team has it.

I _wo

[2021-12-13 17:56] jwnimmer-tri commented on #14555
For reference, #13514 is about ARM support (which is distinct from this issue's investigation of Rosetta's capabilities).

[2021-12-13 17:57] mwoehlke-kitware commented on #13514
So, I gave this a spin recently. Other than having to disable ibex (which required *removing* some test stuff; `--define=NO_DREAL=ON` was not sufficient) due to x86 assembly, and bludgeoning a whole lot of `/usr/local` paths that need to be `/opt/homebrew`, it mostly worked. There are 24 test failures, however. At least one of those I believe is a formatting issue and thus probably uninteresting,

[2021-12-13 17:59] jwnimmer-tri commented on #16206
@xuchenhan-tri this issue relates to an unsupported build configuration.  You are free to ignore it.  The build system team will deal with it as necessary.

[2021-12-13 20:55] jwnimmer-tri commented on #16105
Pasting some information from the PR review thread, to help focus and explain this issue:

---

---

---

---

[2021-12-13 22:50] DamrongGuoy commented on #16040
@hongkai-dai

I have to postpone compliant-compliant hydroelastic contact to CY22Q1 since #15796 has a higher priority.  This issue tracks the progress of compliant-compliant hydroelastics.

[2021-12-13 23:37] DamrongGuoy opened #16212 "[bindings] Bind public APIs for hydroelastics in python"
To make hydroelastic contact model useful for more users, we should have python bindings for relevant public APIs including:
- drake/bindings/pydrake/geometry_py_hydro.cc
  - PolygonSurfaceMesh
  - SurfacePolygon
- drake/bindings/pydrake/geometry_py_scene_graph.cc
  - QueryObject
    - ComputeContactSurfaces()
    - ComputeContactSurfacesWithFallback()
  - HydroelasticContactRepresentation
  - Con

[2021-12-14 13:57] jwnimmer-tri commented on #16212
@DamrongGuoy is there any API that is still planned to be changed under the #15796 roadmap?  From a quick skim of the issue, I don't see any.

[2021-12-14 15:06] jwnimmer-tri opened #16215 "Deprecation of drake-visualizer"
As our supported platforms continue to evolve (adding Ubuntu 22 per #16217 or adding Apple ARM support per #13514), it is becoming increasingly more difficult to keep patching the Director sources to operate correctly, given the base system churn.

At some point, I think Drake will need to withdraw support for `drake-visualizer`.  This issue exists to discuss that idea, and put a specific action p

[2021-12-14 15:11] jwnimmer-tri opened #16216 "Port examples away from drake-visualizer"
We should stop using `drake-vizualizer` in our examples (see #16215).  This issue maintains the checklist of programs that we'll need to port to use meshcat (or otherwise).

Add your username after any items you'd like to take on.

Examples:
- [x] examples/acrobot (#16263)
- [x] examples/allegro_hand (#16452)
- [x] examples/atlas (#16452)
- [x] examples/compass_gait (#16452)
- [x] examples/kinova_

[2021-12-14 15:12] jwnimmer-tri commented on #16215
Tasks:
- [ ] #16216
- [ ] More TBD

[2021-12-14 15:13] jwnimmer-tri commented on #8025
@EricCousineau-TRI I propose closing this as a"WONTFIX" per #16215.  What do you think?

[2021-12-14 15:13] jwnimmer-tri commented on #10780
@joemasterjohn @hongkai-dai I propose closing this as a"WONTFIX" per #16215. What do you think?

[2021-12-14 15:13] jwnimmer-tri commented on #11914
@EricCousineau-TRI I propose closing this as a"WONTFIX" per #16215. What do you think?

[2021-12-14 15:13] jwnimmer-tri commented on #14532
@joemasterjohn  I propose closing this as a"WONTFIX" per #16215. What do you think?

[2021-12-14 15:15] jwnimmer-tri commented on #14808
@joemasterjohn @edrumwri I propose closing this as a"WONTFIX" per #16215. What do you think?

@edrumwri For as long as we have the `DrakeVisualizer` system in Drake, we'd still be open to accepting PRs that improve it's user experience.  My thesis here is only that tracking the request as a Drake project issue is no longer valuable, since the core team would not plan to work on it.

[2021-12-14 15:16] jwnimmer-tri commented on #14692
See also #16215 for a discussion of platform support timelines, which dovetails with this issue.

[2021-12-14 15:19] jwnimmer-tri opened #16217 "Ubuntu 22.04 (Jammy Jellyfish) support"
This is an anchor issue for discussing goals and timelines for 22.04 support.

My starting bid for Drake's support timeline would be 22.04 release date (scheduled for late April 2022) + 60 days for having nighty binary releases ready. The mid-July Drake release would be the first candidate for supporting 22.04.

For reference, the Ubuntu 20 support ticket was #13102, and dropping Ubuntu 18 ticket

[2021-12-14 15:24] EricCousineau-TRI commented on #11914
SGTM!

[2021-12-14 15:24] #11914 closed

[2021-12-14 15:54] DamrongGuoy commented on #16212
@jwnimmer-tri Thanks for asking.  Most of the API should stay now with two variables:
- #16218
  - In the PR, I assume the reviewers will let me keep the name AddSoftHydroelasticProperties(), so there won't be changes in API.
 - @DamrongGuoy will extend the new API to let users choose between triangles and polygons and update MultibodyPlantConfig as needed. However, this is not a requirement for t

[2021-12-14 16:47] hongkai-dai commented on #10780
Agreed, we should close this issue

[2021-12-14 16:47] #10780 closed

[2021-12-14 16:48] SeanCurtis-TRI commented on #14532
I agree. The circumstance in which it came up was sufficiently rare. Perhaps the best short-term resolution is to document the problem scenario and give some guidance to resolve it.

[2021-12-14 16:49] SeanCurtis-TRI commented on #8025
As with #14532, perhaps the "solution" is to document it clearly. A compromise between "won't fix" and work which yields ever decreasing value.

[2021-12-14 16:51] SeanCurtis-TRI commented on #16216
Worth noting that *anything* using `ContactResultsToLcm` to visualize hydroleastic contact has no `drake_visualizer`-free substitute. Adding this missing functionality is one of the prereqs.

[2021-12-14 17:53] xuchenhan-tri commented on #16216
I'll take on one (the example I introduced) as an experiment. I may take on more in the future as I get more working knowledge of MeshCat.

[2021-12-14 21:21] jwnimmer-tri commented on #16212
I'll presume "no", for now.

[2021-12-14 23:22] jwnimmer-tri commented on #16212
In general I think that every public (non-internal, non-dev, etc.) class and function from C++ should be bound in pydrake.  Adding the binding only when people complain is an awkward development philosophy.  However, for the purpose of this issue and the #15796 milestone, I think the current pull request is sufficient to close this issue, even without adding more bindings.  Part of the post-milest

[2021-12-14 23:53] #16212 closed

[2021-12-15 00:56] BetsyMcPhail commented on #14928
Check-in with the current state on Focal. After running all of the sanitizer and valgrind jobs, the following have failures:

**asan**
- [linux-focal-clang-bazel-experimental-address-sanitizer](https://drake-jenkins.csail.mit.edu/view/Sanitizer/job/linux-focal-clang-bazel-experimental-address-sanitizer/2/) `//geometry/optimization:iris_test` Timeout
- [linux-focal-clang-bazel-experimental-gurobi-a

[2021-12-15 01:31] jwnimmer-tri commented on #14928
The TSan problems look like the `tsan.supp` file is ineffective because the symbolizer is broken on focal.

For the `vector_gen` test report that's yelling about `sed`, it's fine to disable the santizier configs for that `sh_test` rule.  It's not really adding any value.

For the `iris_test` timeouts, we'll need to attempt to isolate why it's so much slower on Focal.  My best guess is that some th

[2021-12-15 16:58] jwnimmer-tri commented on #15959
With #16199 merged, I believe that we're close to having 3.8 ready.  I'll open a WIP PR to discuss and evaluate.

[2021-12-15 17:47] mwoehlke-kitware commented on #15959
Um... I was going to mutter something about needing VTK 9, but... yeah, if we aren't building VTK with Python any more, that should cease being a blocker. Hopefully, then, it Just Works™ and just needs additional targets added to `build-wheels`.

I was tentatively planning to keep Bionic as the base image and just add 38 and 39 Python versions. I believe these should be usable on Focal and Colab.

[2021-12-15 18:22] jwnimmer-tri commented on #10590
@EricCousineau-TRI reading over this issue, I'm not sure about what any remaining call-to-action is supposed to be?  Could you clarify?

[2021-12-15 18:33] jwnimmer-tri opened #16229 "Diagnostics for unsupported SDFormat and URDF stanzas"
When Drake's multibody Parser is loading an SDFormat or URDF input file, if the file calls for features that Drake does not implement yet, we should not silently ignore that input.  Doing so leads to user confusion, where the user gave us a robot or scene that says one thing, but our code does something else.

One specific example is the failure mode in #16181.

We should fix Drake so that _at min

[2021-12-15 18:36] jwnimmer-tri commented on #16229
A related case is that the XML input is valid and supported, but resource files that it refers to (images or meshes) are not supported by our geometry back-end.  That would also be useful to warn about, but I'd like to scope this issue to _only_ the XML data.

[2021-12-15 18:36] jwnimmer-tri commented on #16181
Filed as #16229 now.

[2021-12-15 18:47] jwnimmer-tri commented on #16215
It's also worth noting that even though the work above is phrased in terms of `meshcat` as primary visualization, another option in the future will be https://github.com/RobotLocomotion/drake-ros which will connect Drake to RViz.

[2021-12-15 21:56] EricCousineau-TRI commented on #10590
Remaining action is to polish out composition (use Drake's URDF parsing for composition #15950, then plumbing it through #15948).

Closing this - thanks for the reminder!

[2021-12-15 21:56] #10590 closed

[2021-12-16 16:23] DamrongGuoy commented on #16229
I assume this issue includes tags from drake too? For example, I'm working on #16224 that will change the tag `drake:soft_hydroelastic` to `drake:compliant_hydroelastic`.

I'm testing my code on a client code (anzu) before merging my code into drake master, and I observe the following phenomena. If I keep the old tag in SDF file instead of updating to the new tag, it will ignore hydroelastic conta

[2021-12-16 16:26] DamrongGuoy commented on #16229
Just to be sure: the diagnostics will include the SDF/URDF file names, right?  I imagine a project uses so many SDF/URDF files, so identifying the problematic file could be challenging.

[2021-12-16 20:55] jwnimmer-tri commented on #15959
With #16226 merged, we have 3.8 now.  That only leaves 3.9 to wrap up.

I'm actually going to revise what I said this morning (which was that we should build the 3.9 wheels based on Ubuntu 18 inside Docker).  I think it would be fine to build the 3.9 wheels using Ubuntu 20 for the base build image (as well as the test image), if that makes it easier.  If users complain that the glibc is too new in

[2021-12-17 12:48] RussTedrake commented on #12214
@rpoyner-tri -- this seems not very hard to implement, and high value given your naming/renaming exercise.  Would it make sense for you to take this and take it on soon?  (perhaps even before any of the breaking renames land?)

[2021-12-17 17:42] jwnimmer-tri commented on #14858
\CC @xuchenhan-tri FYI as this might relate to FEM simulations in the future as well.

[2021-12-17 22:01] rpoyner-tri commented on #12214
Let's think about what is needed. Suppose we just go with roughly [Sherm's proposal](https://github.com/RobotLocomotion/drake/issues/12214#issuecomment-543845314), and update it with consequences from recent discussion in #16193.

So, what's on the table?

Get{In,Out}putPort("my_deprecated_name") returns a reference to the renamed port object, issues a deprecation warning (once per process), and t

[2021-12-17 22:07] rpoyner-tri commented on #12214
Right, and Has.*Port() needs to use the same search code as Get.*Port() (not true presently).

[2021-12-17 22:34] rpoyner-tri commented on #12214
More fun: does deprecating a default name (previously made with `kUseDefaultName`) on a multi-port system eventually destabilize other default names on that system? Starting with ("u0", "u1") and deprecating "u0" only, do we blunder into having ("newname", "u0") instead of ("newname", "u1")? Do we have to then un-default all input or output ports at once to stabilize names?

[2021-12-17 22:43] DamrongGuoy opened #16244 "[multibody] Hydroelastics with polygon contact surfaces crash continuous systems."
After PR #16238 was merged, users of hydroelastic contact models can freely mix-and-match {continuous, discrete} system with {triangle,polygon} contact surfaces by using this switch in MultibodyPlant:
[code]
I found a simple example that when I used a continuous system with hydroelastics and kPolygon, it crashed with this error message:
[code]

<h2>Reproduce: Continuous System Crash</h2>
Apply thi

[2021-12-17 22:45] DamrongGuoy commented on #16244
CC: @rpoyner-tri @amcastro-tri @sherm1

[2021-12-18 00:07] RussTedrake commented on #12214
My 2 cents: I would think we can require that changing one `UseDefaultName` => assigned name requires assigning all subsequent names (in platform review).  Even if the subsequent names are manually assigned to `u4`, `u5`, ...  I would not expect you to handle the cascading default names issue here.

I would also be willing to compromise on the idea that `UseDefaultName` => assigned name constitute

[2021-12-18 00:23] rpoyner-tri commented on #12214
Part of the difficulty in even talking about this is that kUseDefaultName for diagram ports leads to unspellable hex spam, but kUseDefaultName for leaf ports leads to the u0,u1,... or y0,y1,... sequences.

I'm all for retiring the leaf default names (slowly), and agree that adding some sort of review rule, or other step would probably prevent cascade disasters. I think the diagram default names ar

[2021-12-18 00:25] jwnimmer-tri commented on #12214
This is only true when the systems being added to the Diagram do not have any name set.  If the user has given names to their subsystems (which is not at all unusual), then the diagram port names do not have hex spam.

[2021-12-18 00:28] rpoyner-tri commented on #12214
Right, so that is another run-time case that would have to be handled to "deprecate" kUseDefaultName Diagram port names. I'd love to see an actual in-use program that would break on rename of a kUseDefaultName Diagram port.

[2021-12-18 00:41] sherm1 commented on #12214
And see the venerable issue #7128 for a proposal to fix the awful System naming!

[2021-12-18 00:57] rpoyner-tri commented on #12214
Well, anyway, I think I've gathered enough fresh opinions to start trying to craft a patch. It may not turn up until January, as time is short and hydro finish work takes precedence. Thanks for the comments all!

[2021-12-18 18:13] amcastro-tri commented on #16244
The error above was a clear indication we had NANs somewhere, especially for such simple case with just a sphere.
Following the trace of NANs took me to a bug in the computation of centroids.
Fixed in #16253, PTAL. I believe worth introducing the same fix for computations involving mesh of triangles as well.

[2021-12-19 00:09] DamrongGuoy commented on #16244
Thank you for the quick diagnostic.  I do not see the word `NAN` in `Encountered singular articulated body hinge inertia for body node index 1. Please ensure that this body has non-zero inertia along all axes of motion,` but I believe what you said.

It sounds like sometimes we got a zero-area or near-zero-area polygon in the plane vs. tetrahedral mesh intersection code, or the halfspace vs. trian

[2021-12-19 05:13] amcastro-tri commented on #16244
I know the answer: it will fix it. The problem with such a fix is that we won't be able to tell if it affect the numerics of our solvers. Thresholding usually leads to on/off in the numerics that causes very difficult to track problems. That is, things like integrators could have a harder time. Impossible to tell without trying it out, the kind of thing will go undetected for years until someone p

[2021-12-19 18:23] amcastro-tri commented on #16244
In #16255 I implemented a solution more in line with what we have in master. I think you'll like that better than #16253, @DamrongGuoy.

[2021-12-20 04:28] DamrongGuoy commented on #16244
Thank you @amcastro-tri .  We both work on Sunday because we care so much about hydroelastics.

I think we're converging now. Your #16255 is very similar to my #16257 + #16258.

Let's talk face to face in our coming meetings. I believe we're near the agreed solution now.

[2021-12-20 16:39] #14745 closed

[2021-12-20 16:39] jwnimmer-tri commented on #14745
I'm calling this good enough for now.  I only fixed the `drake_py_...` targets.  Any `py_...` targets from externals might still experience this warning, but _shrug_.

[2021-12-20 16:49] jwnimmer-tri commented on #10040
In general, tests should stay within the sandbox (the `memq://` LCM URL is the `LCM_DEFAULT_URL` during testing) and never publish LCM onto the wire, even if the publication is localhost-only.

In any case, given the pending deprecation in #16215, I wonder it we should close this issue as "won't fix"?

[2021-12-20 18:23] ggould-tri opened #16262 "pydrake yaml_dump() of a schema object fails"
The python expression `yaml_dump(UniformVectorX(min=[1.], max=[2.]))` surprisingly fails.
Per https://app.slack.com/client/T0JNB2DS4/C3YB3EV5W/thread/C3YB3EV5W-1640023403.047200 this is the intended behaviour (yaml_dump is not intended to be class-aware) but from a usability perspective it's a bit obnoxious because, correct construction of the tagged map for a schema object is typo-prone and can c

[2021-12-20 18:34] amcastro-tri commented on #16244
@DamrongGuoy, thanks for looking into this. Just notice that you assigned this to me with high priority. In the future please unassign others from an issue if you plan to work on it yourself to avoid duplicating work.

[2021-12-20 19:26] jwnimmer-tri commented on #16216
#16248 actually raises an interesting policy question that I failed to consider during review.  We _could_ have both visualizer options enabled for demos like these, even if we document / steer people towards meshcat as the preferred one.  In this example at least, it's only an extra line of code for each one.

[2021-12-20 19:29] xuchenhan-tri commented on #16216
What's the point of keeping the drake_visualizer option if we are not going to deprecate it in the coming months?

[2021-12-20 19:34] jwnimmer-tri commented on #16216
The current plan in #16215 says that for Ubuntu 20 (only), we'd continue to support `drake-visualizer` through early 2024.  For that, we should probably preserve at least _some_ examples that allow for demonstrating and regression testing it.  I suppose doing it for all of them would be pointless (or even misleading), though.

Maybe we nominate the `examples/kuka_iiwa_arm` as the one that should p

[2021-12-20 20:25] jwnimmer-tri commented on #7331
In #16252, I moved the `install.py.in` code into an `installer.py` binary, which automatically enabled our default linting checks for it.

What remains here is to refactor `installer.py` for maintainability and test coverage.

[2021-12-20 22:02] ggould-tri opened #16264 "Schemas have hidden (and deepcopy-preserved) aliasing"
Consider the following code and resulting output:
[code]
[code]

Observe that
* The write of the 3 affected both entries in the repr
* ... so the repr cannot possibly be true
* The dumped text contains a new reference name in the same place as the old reference
* This behaviour survives a deepcopy.

This means that yaml references are not merely syntactic but structural -- the reference and anchor

[2021-12-21 01:01] xuchenhan-tri opened #16265 "Firefox doesn't play well with MeshcatVisualizer when the number of objects is large"
In the review of #16248, @jwnimmer-tri discovered that when trying to visualize the mass spring example (with 400 spheres by default) with Firefox is excruciatingly slow and usually ends up crashing the browser. Chrome, on the other hand, doesn't suffer as much.

Admittedly, visualizing the cloth with hundreds of spheres is not ideal. In [this branch](https://github.com/xuchenhan-tri/drake/tree/me

[2021-12-21 02:35] RussTedrake commented on #16265
Just to be clear, `MeshcatVisualizer` would not provide API support for triangle meshes; it is simply a system that publishes using the `Meshcat` API with the contents of the `SceneGraph`.  Internally, if the `SceneGraph` has geometry that should be rendered with triangle meshes, then it would call that appropriate `Meshcat` API.

[2021-12-21 03:24] RussTedrake commented on #16265
Another thought: There is a mechanism in uWebsockets, which I haven't used yet, to do "corking".  Perhaps this example is a case that merits it, or something similar.  If the problem here is that we are killing the socket by sending a ton of small messages (with the RigidTransform for all of the spheres), we might want to cork and uncork to transmit one blob of messages instead.  But I have not tr

[2021-12-21 04:39] xuchenhan-tri commented on #16265
I don't really know anything about Websockets so I can't meaningfully comment on that. But the fact that the visualizer can take a single message of the entire mesh just fine seems to indicate that the problem here is caused by a ton of small messages.

[2021-12-21 06:04] rpoyner-tri commented on #12214
Adding this mechanism has consequences for both deprecation policy (#16159) and tools documentation (#10605).

[2021-12-21 07:45] rpoyner-tri commented on #12214
Note that the deprecation/breaking logic proposed [here](https://github.com/RobotLocomotion/drake/pull/16193#pullrequestreview-835196314) means that changing the name of a system within a diagram is a breaking change (because it could rename exported ports) and presumably requires deprecation.

[2021-12-21 13:25] RussTedrake commented on #16265
I reproduced the terrible performance with firefox.  yuck.

FTR -- sending an animation works well (since it sends all of the poses at once).  To try it, just use:
[code]

I also looked quickly at the corking support in uWebSockets.  I don't think it's going to accomplish our goal.  So I might recommend two resolutions:
1) add an option to MeshcatVisualizer to disable the nominal display while rec

[2021-12-21 17:30] RussTedrake commented on #15341
I've just hit this again.  CLP reports success, but gives a terrible answer:
[code]

[2021-12-21 17:45] jwnimmer-tri commented on #16264
For parity with our C++ yaml parsing, our pydrake `yaml_load` functions should immediately copy aliased nodes, not return the alias graph to the user.  We want `id()` to be unique for all of the compound types in the result.

[2021-12-21 17:57] hongkai-dai commented on #15341
@jwnimmer-tri I am trying to reproduce this using native CLP code, without the Drake MathematicalProgram interface. On ubuntu, does Drake use the system CLP? I see the pkg_config_paths is set to /usr/local/opt/clp/lib/pkgconfig (https://github.com/RobotLocomotion/drake/blob/6f602c3d57c787396e2560edefe17234ea33fc6b/tools/workspace/clp/repository.bzl#L15), but on my ubuntu machine, I don't have a fo

[2021-12-21 18:00] jwnimmer-tri commented on #15341
Yes.

https://github.com/RobotLocomotion/drake/blob/6f602c3d57c787396e2560edefe17234ea33fc6b/setup/ubuntu/source_distribution/packages-focal.txt#L3

The parameter name is slightly misleading.  These are _extra_ paths.  On Ubuntu, `pkg-config` will _always_ search for the OS-installed packages.

[2021-12-21 18:53] RussTedrake commented on #14928
When I just tried, I wasn't even able to successfully run an asan build on focal.
[code]
generated a spew of errors like
[code]

Not having focal asan on CI is one thing, but it seems more urgent if we can't run asan locally?

[2021-12-21 19:43] #16125 closed

[2021-12-21 19:58] RussTedrake commented on #16099
N.B. -- in #16273, I've removed any reference to IPython.  In fact, it's not even specific to Jupyter; it could be run from a Deepnote terminal in a python script.

[2021-12-21 21:05] BetsyMcPhail commented on #14928
@RussTedrake can you try to run asan again using clang?

[2021-12-21 21:07] DamrongGuoy commented on #16244
I close #16253 and #16255 since we'll replace them with #16257 + #16258.

@amcastro-tri  Sorry for the confusion.  At first, I set high priority because I didn't know how difficult/easy to get from that error message to the root cause (zero-area polygon).  Once you gave the insight of what's the root cause, I should have set it to low priority but forgot. I did assign the issue back to me when I k

[2021-12-21 21:08] jwnimmer-tri commented on #14928
Our https://drake.mit.edu/bazel.html cheat sheet has bitrotted somewhat.  To see how to run ASan, for now the best bet is to go to one of the recent https://drake-jenkins.csail.mit.edu/view/AddressSanitizer/ build outputs, and look at the bottom of the console log for how to re-run it, e.g.

https://drake-jenkins.csail.mit.edu/view/AddressSanitizer/ =>
https://drake-jenkins.csail.mit.edu/view/Addr

[2021-12-21 21:12] BetsyMcPhail commented on #14928
I have an update to this document to PR momentarily.

[2021-12-21 22:03] #16099 closed

[2021-12-22 00:36] rpoyner-tri commented on #9496
Another note toward some kind of schematic style guide: color, type style.

Many diagrams use gray to indicate ports that may not exist in some circumstance.
Mbp uses green to indicate ports used with SceneGraph.
Mbp uses gray+italic to indicate variable substitution to produce a group of names.
Manipulation station uses orange+bold to indicate ports that only exist in simulation, but not on a rea

[2021-12-22 01:22] sherm1 commented on #9496
For ports always present but that don't have to be connected, I'd be inclined just to render them black like other always-extant ports, but mention in the surrounding text that you aren't obligated to connect them. If you do use a different color I think you'll still have to say in the text what that color means -- I doubt many people will remember.

[2021-12-22 01:25] sherm1 commented on #16265
Assigned to @xuchenhan-tri for now -- please reassign if appropriate.

[2021-12-22 01:26] sherm1 commented on #16262
Assigning to @ggould-tri initially -- please feel free to reassign.

[2021-12-22 01:54] RussTedrake commented on #15508
My most up-to-date version is currently in https://github.com/RussTedrake/manipulation/blob/master/manipulation/gym.py , with the example I used in lecture in https://github.com/RussTedrake/manipulation/tree/master/manipulation/envs .

[2021-12-22 01:57] RussTedrake commented on #10073
This will be resolved via #14992.

[2021-12-22 01:57] #10073 closed

[2021-12-22 01:58] RussTedrake commented on #10022
This will be resolved via #14992

[2021-12-22 01:58] #10022 closed

[2021-12-22 02:01] RussTedrake commented on #6243
IRIS is now back and fully supported.  We have new and improved mi-convex planning algorithms.  All that is left here is to bring the quadrotor examples themselves back.

[2021-12-22 02:12] hongkai-dai opened #16278 "Support compliant convex geometry for hydroelastic contact"
See the slack discussion: https://drakedevelopers.slack.com/archives/C2WBPQDB7/p1640137283135300

Currently we don't support compliant convex geometry for hydroelastic contact. When we have a compliant convex geometry, it will incur the point contact query, which is not differentiable, causing issue with MBP<AutoDiffXd>

[2021-12-22 04:13] DamrongGuoy commented on #16278
@rcory needs it (for a different purpose) too.

[2021-12-22 04:45] hongkai-dai commented on #15341
@jwnimmer-tri sorry to bother you again, I tried to create the code using upstream CLP code
[code]
and I name this file as `clp_test.cc`

Then I tried to compile this file as
[code]
but I receive "undefined reference" error in the linker. I also tried to use `-lClp` and `-L/usr/lib/x86_64-linux-gnu/libClp.so`, but still got the same error.

I tried `dpkg -L coinor-libclp-dev` and got this
[code]

[2021-12-22 05:15] jwnimmer-tri commented on #15341
When linking, you must list the inputs in top-down, topological order.  So you should say `clp_test.cc -lClp` not `-lClp clp_test.cc`.  You also need `CoinUtils`.

[code]

[2021-12-22 05:24] hongkai-dai commented on #15341
Thanks @jwnimmer-tri for the help!

Now I believe the problem is in Drake's code, not in Clp upstream. I can solve this program using Clp, and the solution is
`alpha = [0.005, 0, 0.005, 0.99], z = 0`.
I think this is the right answer. I will try to look into why Drake's ClpSolver produces a different result.

[2021-12-22 06:56] hongkai-dai commented on #15341
OK, after more investigation, I think it is actually CLP's fault. I filed an issue to CLP in https://github.com/coin-or/Clp/issues/217

[2021-12-22 13:11] RussTedrake commented on #13683
I've got a project set up now: https://deepnote.com/project/Tutorials-K0_FCa7yQX2kDWBx3-2RmQ/%2Fdynamical_systems.ipynb

My proposal is that we, the drake maintainers, update this repo manually.  Binder always pulled from the `robotlocomotion/drake:latest` docker instance.  But with deepnote, I can imagine people copying the project to start their own work... I'd even encourage it.  I think it is

[2021-12-22 16:36] mwoehlke-kitware commented on #14555
`drake-visualizer` from the precompiled package starts up okay. What else would constitute a good functionality test?

[2021-12-22 19:19] RussTedrake commented on #13683
After #16279, I still need to:
- [ ] Add pyngrok to the drake dockerfile OR pip install it on-demand in StartMeshcat
- [ ] Touch up the existing tutorials (e.g. make equations render properly, and remove `%matplotlib notebook`).
- [ ] Add `!pip install drake pyngrok` preamble for colab.
- [ ] Update links in `doc` to deepnote instead of Binder.
- [ ] (maybe) Zap binder support?

[2021-12-22 19:35] mwoehlke-kitware commented on #14555
[code]

[2021-12-22 21:42] sherm1 commented on #14555
Oh, that's more over-sensitivity to number formatting as in #16188.
cc @mitiguy

[2021-12-22 23:18] rpoyner-tri commented on #9496
Given that we abandoned the idea of colorizing optional ports, I punted the proposed review pass (which was my main motivation for that). We will likely be back through these improving port names if various #12214 fixes land anyway.

Declaring victory. Thanks all, and happy holidays!

[2021-12-22 23:18] #9496 closed

[2021-12-22 23:37] RussTedrake commented on #9496
Woohoo!  Thank you!

[2021-12-23 01:11] #15341 closed

[2021-12-27 03:43] hongkai-dai opened #16284 "Document symbolic::Environment.insert when the key already exists"
When we call `env.insert(var, value)` and `var` already exists in `env`, this function doesn't change `var`'s value (same as in std::unordered_map). It would be good to document this behavior as one might not know that symbolic::Environment emulates std::unordered_map.

[2021-12-27 09:23] CWEzio opened #16285 "Error in tutorial dynamical_systems.ipynb"
It seems that there is one error in the tutorial dynamical_systems.ipynb.
[code]
However, `log` is not defined here. When running this notebook, the `log` from previous block will be used. One line code should be added to define the `log` here.
[code]

[2021-12-27 19:49] #16284 closed

[2021-12-28 18:48] mwoehlke-kitware commented on #15959
So, um... it appears that 3.9 is going to be stalled until a new version of audithweel is released. Support for GLIBC 2.31 was only *just* added by pypa/auditwheel@167c75dbddf3af2bc7a7eaf647f877fb33c29896.

[2021-12-29 16:09] akhilsathuluri commented on #12335
Cannot access `rotor_inertia` and `gear_ratio` through the `JointActuator` class in python. Looks like they are not yet available in python and hence no associated documentation too. Will these be available in python soon or am I missing something?

[2021-12-29 16:31] mwoehlke-kitware commented on #15695
This was (mostly) addressed by #16139. Although that requires passing the *complete* version when building the wheels, it is unclear if we have any intention of ever extracting partial version information from the repository, so perhaps this should be closed.

[2021-12-29 18:25] sherm1 commented on #12335
@joemasterjohn want to add these?

[2021-12-30 05:42] hongkai-dai opened #16292 "symbolic::Polynomial::DoAddProduct spends way too much time in Expand()"
I have a dev branch that does a lot of symbolic::Polynomial operations. The code is unnecessarily slow. When I run callgrind, I found that the program spends a lot of time on this block within `DoAddProduct` function
https://github.com/RobotLocomotion/drake/blob/2ad76f8ca579bc2883faf6d7331cae4bb57256fe/common/symbolic_polynomial.cc#L46-L50
Particularly calling `Expand()` function takes more than 7

[2021-12-31 13:31] RussTedrake opened #16294 "AbstractValueLog / AbstractValueLogSink"
We have VectorLog and VectorLogSink, but don't currently offer the ability to log abstract-valued ports.  This seems like an important missing feature, and one that shouldn't be too hard to implement?  Opening an issue to track it.

[2021-12-31 14:40] Mahdi-Javadi opened #16295 "Acceleration/Jerk level constraint for trajectory optimization using Direct collocation"
I wanted to know if there is an elegant way to impose acceleration/jerk level constraint on the trajectory optimization using the DirectCollocation class.
I am working with an Acrobot system, and I have already included the velocity level constraint, but I wanted to have a minimum/smooth jerk optimal trajectory.
This is also posted on https://stackoverflow.com/questions/70540739/acceleration-jerk-

[2022-01-03 20:33] RussTedrake opened #16300 "Simplify ngrok authentication in StartMeshcat"
Unfortunately, ngrok has changed their policies and broken my [current workflow](https://github.com/RobotLocomotion/drake/blob/a56634055b6192ad51ac03d9128e837b7ee10107/bindings/pydrake/_geometry_extra.py). See: https://github.com/RussTedrake/underactuated/issues/454
Now users must register, and supply their authtoken even to use the free service.
https://ngrok.com/docs#getting-started-authtoken

I

[2022-01-03 20:35] RussTedrake commented on #16300
FYI @alexdlaird , in case you hadn't hit the unregistered connection change yet.

[2022-01-03 23:53] alexdlaird commented on #16300
@RussTedrake Thanks for the heads up, I'll take a look!

[2022-01-04 16:59] BetsyMcPhail opened #16301 "Upgrade externals to latest - January 2022"
Follow [Semi-automated monthly upgrades](https://github.com/RobotLocomotion/drake/blob/master/tools/workspace/README.md#semi-automated-monthly-upgrades) documentation

[2022-01-04 17:28] #10679 closed

[2022-01-04 18:37] jwnimmer-tri commented on #16294
For consistency with other names in the framework, I suggest `AbstractLog` and `AbstractLogSink`.  We tend to omit the word `Value` when specifying the Vector vs Abstract flavor of functions or classes.

[2022-01-04 18:41] jwnimmer-tri commented on #15959
Looks like it was released yesterday.

[2022-01-04 18:43] jwnimmer-tri commented on #15695
Yes, this is good enough for now.  The version number is not hard-coded anymore.

[2022-01-04 18:43] #15695 closed

[2022-01-05 00:01] DamrongGuoy commented on #16244
#16257 is ready for review now.  Once it's merged, we can start #16258.

[2022-01-05 01:29] sherm1 commented on #16295
Thanks Mahdi. I'll close this in favor of the answer you got on StackOverflow.

[2022-01-05 01:29] #16295 closed

[2022-01-05 01:32] sherm1 commented on #16285
Assigned to @RussTedrake for disposition.

[2022-01-05 13:21] Mahdi-Javadi commented on #16295
Dear Michael,
Thank you so much

On Wed, Jan 5, 2022 at 2:29 AM Michael Sherman ***@***.***>
wrote:

[2022-01-05 14:17] EricCousineau-TRI commented on #6760
Yup, SGTM to close it - thanks for the analysis and related issues!

[2022-01-05 14:17] #6760 closed

[2022-01-05 16:58] hongkai-dai commented on #10779
As asked in the stackoverflow question https://stackoverflow.com/questions/70576914/how-to-obtain-centroidal-momentum-matrix-explicitly-for-momentum-based-control-p, there is a need to compute the centroidal momentum matrix A(q), together with the quantity Adot(q, v) * v.

[2022-01-05 17:05] sherm1 commented on #10779
@hongkai-dai can you open a separate issue for this and assign to @mitiguy for disposition?

[2022-01-05 17:30] hongkai-dai opened #16307 "Compute centroidal momentum matrix A(q) together with Adot(q, v) * v"
As requested in this stackoverflow question https://stackoverflow.com/questions/70576914/how-to-obtain-centroidal-momentum-matrix-explicitly-for-momentum-based-control-p

The centroidal momentum can be written as A(q) * v, where A(q) is called the centroidal momentum matrix. Currently we compute the centroidal momentum directly. But in controller design, it often needs to compute the matrix A(q) t

[2022-01-05 18:54] mwoehlke-kitware commented on #15959
See #16308. Not marking that as "fixes" because the summary implies we should wait until a release gets published?

[2022-01-05 20:02] rpoyner-tri opened #16310 "URDF parsing collsion_filter_group problems"
Motivated by slack conversation [here](https://drakedevelopers.slack.com/archives/C2CK4CWE7/p1640712669032600).

Users report no-effect of either collision_filter_group or drake:collision_filter_group elements, probably starting some time between v0.33.0 and v0.34.0.

I don't yet have a grasp of what's actually (not) happening yet -- there is clearly some parsing code, but it may be wrong or mis-i

[2022-01-05 21:34] DamrongGuoy commented on #15796
@joemasterjohn will take care of this roadmap now, so I can focus on compliant-compliant contact #16040.

I remove myself from the list of assignees.

[2022-01-05 22:46] jwnimmer-tri commented on #13391
Also note that in particular, until https://github.com/googlecolab/colabtools/issues/1880 gets resolved, dropping support for Ubuntu 18 also implies dropping support for Google Colab.  Hopefully Google can upgrade to Ubuntu 20 within the next few months.

[2022-01-06 00:33] jwnimmer-tri commented on #13391
Possibly also worth mentioning directly -- dropping Ubuntu 18 means that our minimum supported Python version will bump up to  3.8 or newer.  That means our wheel builds build drop 3.6 and 3.7 as of April.  I believe that this is consistent with [NEP 29](https://numpy.org/neps/nep-0029-deprecation_policy.html).

[2022-01-06 05:53] DamrongGuoy commented on #16244
Both #16257 and #16258 are merged into master now. I close this issue.

[2022-01-06 05:53] #16244 closed

[2022-01-06 13:52] RussTedrake opened #16313 "plot_system_graphviz should use ipython display with svg instead of matplotlib png in jupyter"
I've made this change in my course notes... it outputs and renders an svg instead of a grainy downsampled bitmap in matplotlib.
The diagram in dynamical_systems_tutorial is currently embarrasingly bad.

It would require adding `pydot` as a python requirement.
this may become obsolete if we fix #13874

[2022-01-06 14:06] RussTedrake opened #16316 "[tutorials] mathematical_program.ipynb does not render math properly in deepnote"
I'll fix most of these, but this one is going to take some work/creativity.

I've added a few notes about latex rendering in the readme in https://github.com/RobotLocomotion/drake/pull/16314.

@hongkai-dai -- can you take this one?

Notebook is here: https://deepnote.com/project/Tutorials-K0_FCa7yQX2kDWBx3-2RmQ/%2Fmathematical_program.ipynb

[2022-01-06 14:57] BetsyMcPhail commented on #16301
For the most part, the script ran smoothly. I have questions about a few packages:

- `petsc needs upgrade from v3.16.1 to xsdk-0.3.0-rc1` This should `v3.16.3` ([github repo](https://github.com/petsc/petsc) for reference). For this month, I was able to work around this and manually update to `v3.16.3`.

- `ignition_math needs upgrade from ignition-math6_6.9.2 to ignition-math6_6.9.3-pre1` Do we s

[2022-01-06 16:09] jwnimmer-tri commented on #16301
You're right that we should not upgrade to alpha, beta, rc, etc. releases.  To the extent practical, we should add special-case logic to the `new_release.py` to fix its suggestions for these cases.

Yes, qhull has two version schemes.  I wasn't able to tell whether / how they differ.  In `new_release` we could have a heuristic like "if the name is 'qhull', then ignore tags that start with 'v'" or

[2022-01-06 16:11] shensquared commented on #16316
Fwiw, [Mathpix](https://mathpix.com/) should help automate it somewhat (i.e. make it less tedious and errer-prone) if this is just a matter of complying with `$\begin{aligned}` KaTeX delimiters?

[2022-01-06 16:16] BetsyMcPhail commented on #16301
Both of those suggestions sound reasonable. I can take a pass at updating `new_release.py`. Should we make a similar change for petsc, only consider tags that start with 'v'?

[2022-01-06 16:38] jwnimmer-tri commented on #16301
Sure.  Any heuristics that make the tool give better answers sound great.

[2022-01-06 16:46] jwnimmer-tri opened #16320 "Promote deprecation warnings in notebook tests to errors"
In our in-tree bindings unit tests, deprecation warnings are promoted to errors.  This ensures that all of our tests use the correct spellings.  (We test deprecated spellings under a `catch_drake_warnings` guard.)

https://github.com/RobotLocomotion/drake/blob/ab94e3d45b9ff35bdd5affc73740a189e8f2c01f/common/test_utilities/drake_py_unittest_main.py#L63-L65

Given #16317, I suspect that our in-tree

[2022-01-06 16:48] jwnimmer-tri commented on #16320
Oh.  We _do_ enforce this already (#12005).  The PR in question was in only in documentation.

When deprecating, PR authors should grep the code for mentions of the old name, but I guess we didn't do that here.

[2022-01-06 16:48] #16320 closed

[2022-01-06 18:12] #16285 closed

[2022-01-06 19:20] jwnimmer-tri commented on #13683
When I open https://deepnote.com/project/Tutorials-K0_FCa7yQX2kDWBx3-2RmQ/%2Fdynamical_systems.ipynb to try out the tutorial, and then I click "Run notebook", the page asks me to create an account and sign in with either Google or GitHub.

Which authentication method should we be telling Drake Developers to use?  Does it matter?  That should be part of our developer documentation.

Similarly, I su

[2022-01-06 20:12] BetsyMcPhail commented on #16301
`stduuid needs upgrade from 4959d46eb494f8eddd4a37a1c8c6434b41d56ca8 to 9357e5280c1df9ad6f88ff9581464c8ae4bd7b50` resulted in build errors. For example, [linux-bionic-gcc-bazel-experimental-release](https://drake-jenkins.csail.mit.edu/view/Experimental/job/linux-bionic-gcc-bazel-experimental-release/13184/).

[2022-01-06 20:16] mitiguy commented on #16307
Related issue #10779.
Paul's notes from face-to-face meeting with @hongkai-dai .
L, a system's spatial momentum about its center of mass can be written as
L = A(q) * v  where A(q) is a 6 x nv matrix (not square) where nv is the number of velocities.
L̇ = Ȧ v + A v̇,  where L̇  denotes the time-derivative of L in world W.
Although L is useful for motion planning, the matrix A(q) is useful for cont

[2022-01-06 21:18] sherm1 commented on #16307
BTW assuming we can already calculate fast centroidal `L = A v` we can get any column of A by setting v to [1 0 0 ... 0], [0 1 0 0 ... 0], etc. and making multiple calls. That could be wrapped in a CalcCentroidalMomentumMatrix() API which could be implemented very easily. Later if it is a performance issue it could be reimplemented with a fancier algorithm.

[2022-01-06 21:25] sherm1 commented on #16307
Looks like we could use the same function to get `Ȧ v − L̇ = −A v̇` (supplying −v̇ to the L function instead of v). Then add L̇ calculated as Paul said above to get `Ȧ v`.

[2022-01-06 21:38] jwnimmer-tri commented on #15018
The date has passed, so I think we're ready to make the next PR in this train.  Is anyone already working on that?

[2022-01-06 22:10] marcoag commented on #15018
I can have a look.

[2022-01-06 22:18] sherm1 commented on #16307
FYI For a not-quite-the-same example of calculating a matrix one column at a time by repeated calls in Drake using a modified Context, see ImplicitIntegrator::CalcForwardDiffJacobian() in [systems/analysis/implicit_integrator.cc:104](https://github.com/RobotLocomotion/drake/blob/master/systems/analysis/implicit_integrator.cc#L104).

[2022-01-06 23:36] hongkai-dai commented on #13683
Echoing Jeremy's question, currently `tutorials/README` says
[code]
What happens when I work on the dev branch with a tutorial? Should I manually copy my notebook to that [maintainer's notebook](https://deepnote.com/project/Tutorials-K0_FCa7yQX2kDWBx3-2RmQ/%2F.for_maintainers.ipynb), and see how it renders?

[2022-01-07 01:18] jwnimmer-tri commented on #14745
It turns out that mkdoc frequently spews about this as well, so I've done another PR (above) to fix that as well.

[2022-01-07 01:54] RussTedrake commented on #13683
@jwnimmer-tri -- I asked the platform reviewers very specifically about putting OAuth in front of first time users.  The feeling at the time was that it was not ideal, but ok.  I use Google, but I don't think it matters (personal preference).  Note that this is true of using Colab as well.

(1) I've been using the tagged docker release method for class, and it has worked well.
Pros for tagged dock

[2022-01-09 03:03] RussTedrake commented on #9728
I'm going to close this one.  It's easy to do in meshcat without going through scenegraph  (i do it often in the manipulation notebook now)

[2022-01-09 03:03] #9728 closed

[2022-01-09 03:04] RussTedrake commented on #9801
I haven't needed this recently and don't currently intend to fix it.

[2022-01-09 03:04] #9801 closed

[2022-01-09 13:01] RussTedrake opened #16339 "proposal for batch (CPU/GPU) evaluation in the systems framework"
I took Eigen 3.4's tensor module for a [quick spin](https://github.com/RobotLocomotion/drake/compare/master...RussTedrake:acro_tensor?expand=1) to see what it might look like to support batch evaluation in the systems framework.  Short story: I'm highly encouraged by it, but I think Eigen alone will not be enough.  It has enough support for batch matrix multiplication, but anything more fancy (e.g

[2022-01-09 16:43] #16316 closed

[2022-01-09 21:14] EricCousineau-TRI commented on #15018
Excellent, thank you! I've added some additional bullet points to the top-level - I will need to help some on the Anzu side.

[2022-01-10 03:00] dmsj commented on #16339
This is great! Are you imagining that `EvalBodyPoseInWorld(BatchContext<T>, body)` would have a multi-threaded implementation under the hood, or run single-threaded?

Besides using Drake as a back-end for batch evaluations, we have a related, but slightly different use case where we would like Drake-native thread-safety for asynchronous calls by multiple threads for motion planning.

Currently we

[2022-01-10 03:09] RussTedrake commented on #16339
If we use `Eigen::Tensor`, then the same MultibodyPlant code could dispatch to evaluate serially, in parallel threads, or to the GPU, based on the way that the tensors are allocated to be passed in and the hardware available.

Using multiple `Context`s and a thread pool is exactly the right thing to do.  A good example of this in Drake right now is the monte-carlo code: https://github.com/RobotLoc

[2022-01-10 15:46] RussTedrake opened #16342 "`UnitInertia::SolidCapsule(...)`"
We support the Capsule shape, but don't offer the helper method for computing it's unit inertia.  I need it for the mujoco parser.
https://drake.mit.edu/doxygen_cxx/classdrake_1_1multibody_1_1_unit_inertia.html

I hope this is a quick request.  It should be simple!  @sherm1 -- could you please delegate so we can knock it out?

[2022-01-10 16:21] sherm1 commented on #16342
@xuchen, for a look at another part of the code can I interest you in adding the inertia properties for capsule and ellipsoid to UnitInertia? Russ would like this asap. LMK if you can't fit this in soon.

[2022-01-10 16:30] xuchenhan-tri commented on #16342
Sure. I'll take a stab today, but it might be tight with RTO stuff and meetings. Tuesday for sure.

[2022-01-10 17:16] jwnimmer-tri commented on #15929
@naveenoid wanted to keep this around, but we've stalled out on the rewrite timeline.  I'm going to deprecate the Isometry3 version now (#16343); we can add the RigidTransform version in the future (or asap) if anyone wants to do that work.

[2022-01-10 17:41] RussTedrake commented on #16342
Perfect.  Thank you!

[2022-01-10 17:50] rpoyner-tri commented on #16229
proposal: open a new ticket for mesh types and related diagnostics. Scope this ticket to just XML parsing.

[2022-01-10 18:24] jwnimmer-tri opened #16344 "sdformat messages should go through drake::log, not directly to cerr"
There are places where libsdformat complains into `sdferr`.  Ideally it should always use an exception and/or `sdformat::Error` instead, to pass along the error to the caller instead of immediately spamming about it.

However in the meantime, we should redirect `sdf::Console` into `drake::log` so at least the messages will be uniformly formatted for our users (and not lost during Jupyter notebooks

[2022-01-10 18:26] rpoyner-tri commented on #16229
notes from f2f with @jwnimmer-tri.

cases: completely wrong text, messed-up text (maybe stale spelling?), correct but unsupported (mimic for example).

approximate goal: total parse. caveat: ignition output makes that tricky. Additional case: foreign namespaces maybe we want to ignore silently. sdformat has some elements that we may want to also ignore silently. geometry properties may have some s

[2022-01-10 18:52] jwnimmer-tri commented on #12610
@rpoyner-tri I'll add this one onto the project board as well.

[2022-01-10 19:00] jwnimmer-tri commented on #15638
Searching Drake for "priority: high" and landed here.  This still seems like a serious problem, where the function is not doing what it claims to do?  What is the plan here?

\CC @sherm1

[2022-01-10 19:19] joemasterjohn commented on #15638
Sorry @jwnimmer-tri, missed the previous ping. I'll have a patch in for this shortly.

[2022-01-10 20:09] jwnimmer-tri commented on #16229
The [sdformat::Error](https://github.com/ignitionrobotics/sdformat/blob/sdf12/include/sdf/Error.hh) API might contain some useful subject matter background / ideas.

[2022-01-10 23:08] #15929 closed

[2022-01-11 00:41] jwnimmer-tri commented on #16301
Re: `stduuid`.  In general when upstream is broken, we should either file a bug report, or maybe even submit a pull request with the fix.  (This is one of the key outcomes of doing the monthly upgrade -- being able to keep pace with changes to upstream and offer feedback.)

[2022-01-11 14:33] #16138 closed

[2022-01-11 15:07] #13603 closed

[2022-01-11 16:30] mwoehlke-kitware commented on #14555
BTW, to test/use this:
- Use `arch -x86_64 /bin/bash` to obtain a shell.
- Make sure there is not an ARM version of brew (`/opt/homebrew/bin/brew`) in your `PATH`.
- Install as usual *from the "x86" shell*.

[2022-01-11 17:51] RussTedrake opened #16355 "Implement `CalcVolume` for mesh shapes"
#16354 adds a new API method for `drake::geometry::Shape` to calculate the volume.  We still need to implement the calculation for the `ConvexMesh` and `Mesh` types.

The immediate use case for this is to produce default inertial values for geometries specified in an xml file without having their inertias declared explicitly.  It is called from the parser, not a simulation control loop, so does no

[2022-01-11 18:12] sherm1 commented on #16355
cc @rpoyner-tri @joemasterjohn

[2022-01-12 00:24] EricCousineau-TRI commented on #8025
Will close for now, letting issue serve as documentation. Can hoist if a user hits snag again.

[2022-01-12 00:24] #8025 closed

[2022-01-12 00:37] EricCousineau-TRI opened #16362 "sdformat: Parsing errors provide less information than warnings?"
When exercising #16347 on Anzu, it changes SDFormat warnings to errors.

However, the errors are much less information than the warnings, and thus harder to trace out (e.g. requires `--spdlog_level=trace` or something else super noisy).

As example, warnings in Anzu provides very useful context:
[code]

But the same info as an error has much less useful information:
[code]

Ideally, we have the sa

[2022-01-12 00:38] EricCousineau-TRI commented on #16362
@marcoag @azeey Any chance y'all have an idea of a quick fix?

[2022-01-12 00:48] EricCousineau-TRI commented on #16362
Seems like we can copy+paste this code into `ThrowAnyErrors`:
https://github.com/ignitionrobotics/sdformat/blob/6404afdf959982f759526dea8700037b50fa7758/src/Utils.cc#L110-L134

[2022-01-12 13:26] aaronchongth commented on #15948
After some experiments with the tests in `multibody/parsing/test/process_model_directives_test`, there have been some findings,

* [explicitly resolving a frame by namespacing its name](https://github.com/aaronchongth/drake/blob/aaron/deprecate-model-directives/multibody/parsing/test/process_model_directives_test/add_scoped_sub.yaml#L19-L24) is not supported and not needed, hence they will be comm

[2022-01-12 13:28] aaronchongth commented on #15948
The key question here would be, how critical it is to support an unscoped include into a top level `world`?

[2022-01-12 15:56] EricCousineau-TRI commented on #15948
Sounds good!

Do you mean 2 model instances, not bodies?

For the unscoped include, is it possible to achieve this using SDFormat's `//include/@merge`?
https://github.com/ignitionrobotics/sdformat/pull/659

[2022-01-12 16:56] azeey commented on #15948
`//include/@merge` is currently only supported for `//model/include`, not `//world/include` because merging-including a model into a world is ill-defined since the model may contain links or joints, which are not valid children of `//world`.

[2022-01-12 17:16] EricCousineau-TRI commented on #15948
Gotcha. In this case, perhaps it's best to simply relax the `world` constraint (both in terms of the frame, and where it'll be included from).

[2022-01-12 17:46] #16362 closed

[2022-01-12 17:48] EricCousineau-TRI commented on #15018
Per discussion in #16347, reassigning to @rpoyner-tri (\cc @jwnimmer-tri).

[2022-01-12 17:52] marcoag commented on #15613
@EricCousineau-TRI I was looking to move forward and send a PR on task 2 of this issue but wanted to confirm: Are the values from https://odr.chalmers.se/bitstream/20.500.12380/256658/1/256658.pdf acceptable for now?

[2022-01-12 18:16] EricCousineau-TRI commented on #15613
Yup!

[2022-01-13 10:57] RussTedrake opened #16369 "[multibody] Provide basic support for MuJoCo MJCF xml format"
I've written a basic MJCF parser and am opening this issue to document my PR strategy and progress.  Reviewers will want to use the MuJoCo documentation, especially the XML scheme [here](https://mujoco.readthedocs.io/en/latest/XMLreference.html).

General strategy:
- I will incrementally add support for the essential aspects of the schema; the parser will log warnings for any unsupported tags, and

[2022-01-13 14:59] kunimatsu-tri commented on #15919
WIP PR submitted to #16234.

[2022-01-13 15:05] kunimatsu-tri commented on #15919
Concern arose that the choice of gltf serializer might become an information bottleneck for us. We should be cautious about this point when making our final decision. For more details, refer to [the slack thread](https://drakedevelopers.slack.com/archives/C02HMU7B15Y/p1641510759008900).

[2022-01-13 15:26] jwnimmer-tri commented on #14555
The remaining work here is to:
(1) weave this into the user documentation
(2) file follow-up tickets for next steps (e.g., adding apple silicon CI)

[2022-01-13 15:46] #14238 closed

[2022-01-13 20:28] #16344 closed

[2022-01-13 23:19] DamrongGuoy commented on #16369
Does this mean, in some examples, we'll have side-by-side comparisons of MuJoco and Drake?

[2022-01-14 01:21] RussTedrake commented on #16369
My goal here is to make models/environments/assets authored for MuJoCo available in Drake.

If it also enables side-by-side comparisons, that is of course fantastic. But that will require running MuJoCo separately.  This issue has nothing to do with connecting to the mujoco source code nor library, only parsing the description format.

[2022-01-14 03:22] jwnimmer-tri commented on #16301
On first glance, it looks like https://github.com/mariusbancila/stduuid/pull/56 is the fix that we'll need.

[2022-01-14 07:08] aaronchongth commented on #15948
Thanks for the updates!

Some other findings, I'm stuck on an error when parsing a world/model that is including another model with includes. I've created a minimal example to reproduce this, https://github.com/aaronchongth/drake/commit/004bb41af829b52febc61ac05635d5270461e369

With a model hierarchy like this
[code]

It can't seem to find the models `simple_robot1` or `simple_robot2`.

While pars

[2022-01-14 15:23] BetsyMcPhail commented on #16301
That looks promising. I'll give it a try.

[2022-01-14 16:50] jwnimmer-tri opened #16379 "Switch documentation and mirroring builds to Ubuntu 20.04 Focal"
Similar to #14928 -- with our Ubuntu 18.04 support drawing down soon, and most of the core Drake team using 20.04 locally now, we should switch our documentation pipeline to prefer 20.04 as the "active" build, i.e., the one that actually touches the outside world (vs just smoke-testing).

https://github.com/RobotLocomotion/drake-ci/blob/f7f9f0fc85d54edd4c8587418f1915fbed1595b7/driver/environment.c

[2022-01-14 17:10] jwnimmer-tri opened #16380 "Add CI builds for Apple silicon (ARM64)"
Eventually, we would like to offer support for building and running Drake on Apple's newer hardware that uses ARM64, instead of x86_64.  To that end, we should have CI machines available and build names and scripting defined such that we can run experimental builds in Jenkins.

Relates to #16206, #14555, #13514.

[2022-01-14 17:20] jwnimmer-tri commented on #16206
@mwoehlke-kitware observed the same, in the #14555 experiments.

Per #16215, we do not plan to support `drake-visualizer` on apple silicon.

Setting up CI (#16380) will be the first step toward addressing this.

The (soon to be forthcoming) final step of #14555 is for me to publish onto our website the instructions for running Drake under Rosetta.  That should unblock users with apple silicon -- t

[2022-01-14 17:20] #16206 closed

[2022-01-14 17:32] RussTedrake commented on #16206
sounds good.  just to report, I've continued to update the branch I posted above... it's sufficient for me to run pydrake on the arm64; though I had to disable mosek.

A number of the fixes on my patch would be harmless to PR now (basically adding a second "hint" directory for pkg-config).  Should I do that?  Or would you prefer to wait for CI?

[2022-01-14 17:38] jwnimmer-tri commented on #16206
For the pkg-config hints it's important that we have _exactly one_ mac hint, or else the Rosetta 2 users will be disrupted.  The repository logic will need to gain a variable or function that establishes the homebrew prefix to be used.

[2022-01-14 17:39] jwnimmer-tri commented on #16206
(If you have test tolerance patches, though, I think those are fine to submit now.)

[2022-01-14 17:55] jwnimmer-tri commented on #15959
As of today's v0.38.0 release, we have CPython 3.6 through CPython 3.9 available for manylinux (and _supported_ for Ubuntu).

[2022-01-14 17:55] #15959 closed

[2022-01-14 18:00] jwnimmer-tri opened #16383 "pip install's system prerequisites"
As it stands today (as of v0.38.0), Ubuntu 18 users must know to install `libpython3.6 python3-tk libx11-6 libsm6 libxt6 libglib2.0-0` by following our documentation at https://drake.mit.edu/pip.html.  Similarly for Ubuntu 20.  When they forget to do this, they get some obscure loader error.  Some people might not even read those docs.

To smooth that rough edge, we should make `import pydrake.all

[2022-01-14 18:48] mwoehlke-kitware commented on #16383
It's worth noting that, with the exception of Tk (which should already give a fairly reasonable error message), no one running outside of something like a Docker environment is likely to _not_ already have those packages...

[2022-01-14 18:52] jwnimmer-tri commented on #16383
Yes, this is fairly low-priority in terms of the error message for users.

The main win is for maintainability -- to de-brittle our unversioned website docs, and also de-duplicate the docs content vs wheel-test image code.

[2022-01-14 19:01] jwnimmer-tri commented on #16159
Idea: in Doxygen we should have `@experimental` magic keyword that inserts the standard boilerplate for "will not use deprecations".

[2022-01-14 19:29] jwnimmer-tri commented on #13391
Also worth a shout is #16215 -- related to drake-visualizer.

[2022-01-14 19:59] RussTedrake commented on #16355
Closed by #16354.

[2022-01-14 19:59] #16355 closed

[2022-01-14 20:44] jwnimmer-tri opened #16385 "Add MeshcatJointSliders"
Our upcoming tutorial related to MultibodyPlant wants to make use of the [MeshcatJointSliders](https://github.com/RussTedrake/manipulation/blob/008cec6343dd39063705287e6664a3fee71a43b8/manipulation/meshcat_cpp_utils.py#L236) leaf system from the https://github.com/RussTedrake/manipulation repository.

We should incorporate that class into Drake, porting it to C++ in the meantime (and binding into

[2022-01-14 21:13] jwnimmer-tri commented on #16105
Okay, the call to action here is as follows:

- Open a PR with a `drake/tools/wheel/README.md`:
  - ... with a brief summary of the purpose of this folder (to build pypi wheels for monthly releases)
  - ... with a link to https://drake.mit.edu/release_playbook.html as reminder of the release process.
  - ... with a best-effort, first pass at maintainer documentation for developers that will be mod

[2022-01-14 22:11] jwnimmer-tri commented on #16301
I _think_ everything here is finished now?  Or at least, I'm okay with calling it done and picking up any loose ends when the Feb 1st upgrades roll around.

[2022-01-14 22:18] #14555 closed

[2022-01-14 22:39] jwnimmer-tri commented on #14691
We have qhull linked as a dependency now, but AFAICT there are no Drake functions available that would let the planar_scenegraph_visualizer compute the convex hull in two dimensions.   I think we'll need to trench through some more kinds of call(s) to qhull in C++, before we can adjust the Python.

[2022-01-14 22:42] BetsyMcPhail commented on #16301
Everything has been updated. Closing issue for this month

[2022-01-14 22:42] #16301 closed

[2022-01-14 22:54] #16342 closed

[2022-01-15 02:08] jwnimmer-tri commented on #16116
Actually, a lot of the bookkeeping is dead code.  I remove the easy parts in my PR fix for this.

[2022-01-15 17:51] jwnimmer-tri opened #16393 "symbolic::IsAffine(m, vars) has false negatives"
The `symbolic::IsAffine(m, vars)` overload that takes a subset of the variables as indeterminates has false negatives.  Specifically, in cases where the expression _is_ affine in terms of `vars` but where the coefficients contain non-polynomial forms over variables that are not indeterminates.

This is because the short-circuit here is incorrect:

https://github.com/RobotLocomotion/drake/blob/335a

[2022-01-15 20:18] RussTedrake commented on #14691
Actually, the ergonomics could be a little better, but I think that
[code]
should do what you want (almost).  Unfortunately, it looks like the call site currently has the `inspector`, not the `query_object`, and it looks like `VPolytope` needs `ImplementGeometry(Mesh)` to delegate to `ImplementGeometry(Convex)` (actually, probably the other way around).  Those are minor changes, though, and should

[2022-01-15 20:22] jwnimmer-tri commented on #14691
We need both 3D hulls (during initialization) and 2D hulls (while drawing).  I think that API is 3D only?  Or maybe you're saying that we inflate it to 3D by filling in zeros for one of the dimensions?

[2022-01-15 20:32] RussTedrake commented on #14691
I agree it would be better to not do the padding. Then perhaps we could offer `VPolytope::MakeConvexHull` which works for arbitrary dimensions. Or just take the qhull calls inside the `VPolytope` and put them somewhere more central in the repo.  The qhull calls in `VPolytope::ImplementGeometry(const Convex& convex)` should do what we want, and be trivially adaptable to arbitrary dimensions (or 2d

[2022-01-18 22:08] jwnimmer-tri commented on #16385
In the Python code, all of the vectors are documented to be "of length robot.num_positions()", but some of them are implemented using "of length num_sliders" instead; the two cases differ when using a floating base.  In the C++, my plan is to use num_positions throughout -- in cases where some positions are not joints (and so, lack a slider for now), we will ignore the min/max/limit/etc for now.

[2022-01-19 00:00] jwnimmer-tri commented on #16385
In the Python code, we use the join name (only) as the slider name.  However, joint names are only guaranteed to be unique within one model instance.  If there are multiple model instances, I'll plan to incorporate the model instance name into slider name as well.

[2022-01-19 15:27] BetsyMcPhail opened #16403 "CI: Mac Debug jobs fail due to 'No space left on device'"
Currently, Big Sur Nightly Debug builds are failing:
https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/mac-big-sur-clang-bazel-nightly-debug/
https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/mac-big-sur-clang-bazel-nightly-everything-debug/

Monterey jobs are still passing but are at about 98% capacity when complete
https://drake-jenkins.csail.mit.edu/view/Nightly%

[2022-01-19 15:31] BetsyMcPhail commented on #16403
Proposed plan:
- [ ] Audit existing images and see if there's any cleanup that can be done
- [ ] Move some Mac nightly production jobs to weekly production. There are currently 26 Mac nightly jobs and they run until at least mid-morning.
- [ ] Reduce the number of Mac jobs that may be launched at once (it's currently 8)
- [ ] Increase disk space on Macs

@jwnimmer-tri  does this sound like a reaso

[2022-01-19 18:34] jwnimmer-tri commented on #16403
In particular, I would like to know:

(1) if the disk volume is the same (i.e., shared) for the OS stuff (homebrew files), versus the Drake build artifacts (typically, a cache folder in the user's home dir), and

(2) in a completed debug build, how much space is claimed by the OS files versus the Drake build artifacts.

In short, I'd like to understand profile where the space is going / what is th

[2022-01-19 20:01] BetsyMcPhail commented on #16403
The plan for weeklies vs. nightlies sounds good to me.

[2022-01-19 20:45] BetsyMcPhail opened #16404 "Mac: Homebrew AdoptOpenJDK has been deprecated"
https://github.com/AdoptOpenJDK/homebrew-openjdk

[2022-01-19 22:22] BetsyMcPhail commented on #16403
Mac Monterey Nightly jobs were moved to Weekly ([drake-jenkins-jobs script update](https://github.com/RobotLocomotion/drake-jenkins-jobs/commit/96965390c3b9a23e113c3bff04280e722f6f752c)) and the max number of VMs (Template Instance Cap in Jenkins) was reduced to 6. Let's see how long it takes everything to complete tonight to see if that's reasonable.

[2022-01-19 22:31] BetsyMcPhail commented on #16403
Starting with an unprovisioned image, we installed the packages listed in the [drake-ci Brewfile](https://github.com/RobotLocomotion/drake-ci/blob/main/setup/mac/Brewfile) and ran the [install_prereqs script](https://github.com/RobotLocomotion/drake/blob/master/setup/mac/install_prereqs.sh). We also did a `brew cleanup` and looked for any other files that could be deleted. At this point, the image

[2022-01-19 22:49] #13253 closed

[2022-01-19 22:50] #16116 closed

[2022-01-19 22:54] BetsyMcPhail commented on #16403
To note, the OpenJDK runtime on _provisioned_ images was updated from 1.8.0_292 to 16.0.1.

Previously, both the unprovisioned and provisioned images had only **adoptopenjdk8** installed. This is the version required by Jenkins to launch nodes. After they are launched, the unprovisioned images then [install adoptopenjdk](https://github.com/RobotLocomotion/drake/blob/25d27c9ae5201f51e63cfe9b93526a4

[2022-01-20 04:30] littleggghost opened #16408 "How to obtain access to the private RobotLocomotion/snopt GitHub repository?"
Hi there
I want to try with SNOPT, could I get your help?
https://drake.mit.edu/bazel.html#developing-drake-using-bazel

[2022-01-20 16:10] jwnimmer-tri commented on #16408
Thanks for your interest!

The easiest way to try Drake along with SNOPT is to use one of our binary releases, rather than building from source.  The https://drake.mit.edu/installation.html page has the details, but it could be as simple as `pip install drake` within a python venv, or else downloading a nightly build, etc.  All of our binary releases incorporate a compiled version of SNOPT, free o

[2022-01-20 16:24] ggould-tri commented on #14691
`examples/acrobot/optimizer_demo.py` is IMO important to *have* (it shows users how to rig an optimizer to a scenario) but is not essential to *run* -- the risk of the code invalidating the demo is low.  We could choose a stub fmin in the test or simply remove `optimizer_demo_smoke_test`.

[2022-01-20 16:34] jwnimmer-tri commented on #14691
First, I should remind us (including myself!) about the "runtime dependency" to "test / demo only dependency" above.  I'd forgotten about that detail.  Once we fix the `scipy.spatial` and `scipy.interpolate` problems, we can move the scipy dependency to be test-only, which would unburden our users.  We should focus on that milestone as the first priority.

Second, then for removing scipy entirely

[2022-01-20 17:12] jwnimmer-tri commented on #16215
For the record, our plan is to use "meshcat" as the preferred visualizer.  We'll have more demos of that up shortly (#16216).

[2022-01-21 19:22] rpoyner-tri commented on #13314
As a warmup, I searched for `@anchor` tags that are defined within a `namespace internal` block. Here are the results:

 * sdf_contact_material
   * ref in multibody_plant.h
 * urdf_contact_material
   * ref in multibody_plant.h

* point_contact_data_accessors
   * harmless; defined, never used.
 * forward_dynamics_notation
   * harmless; defined, never used.

* internal_forward_dynamics
   * all

[2022-01-21 21:03] BetsyMcPhail commented on #16403
The Monterey and Big Sur _provisioned_ images have been increased from 160GB to 200GB.

The max number of Mac jobs in Jenkins has been decreased to 4.

[2022-01-21 22:48] rpoyner-tri commented on #13314
Here are all of the potential element/attribute names found, within
multibody/parsing.

 * drake:acceleration
   * sdf element; urdf attribute
   * within joint/limit
   * not obviously documented anywhere?

 * drake:accepting_renderer
   * sdf element where name is contents
   * urdf element where name is an attribute
   * within visual element
   * multiple instances allowed
   * documentation a

[2022-01-22 06:08] hongkai-dai opened #16421 "AddBoundingBoxConstraint can perform incorrectly for matrix input."
If we call `AddBoundingBoxConstraint` for matrix input like below
[code]
the code will compile fine. I think it calls this overloaded function https://github.com/RobotLocomotion/drake/blob/7188def1d0a090325dece6ae7dfd179bc17f5166/solvers/mathematical_program.h#L1895-L1898
which supposedly should only work for vector input.

The code runs fine in release mode, but doesn't really impose the desired

[2022-01-22 16:18] jwnimmer-tri commented on #16421
The first question is whether we want to allow a Matrix instead of just a Vector in functions that currently accept only vectors (and then unwrap the matrix when adding the cost or constraint).  If we do so, then we should do it for _all_ of the functions, not just this one.  I think the full list might be:

- `AddConstraint(Expression, lb, ub)`
- `AddLinearConstraint(Expression, lb, ub)`
- `AddBo

[2022-01-22 16:44] jwnimmer-tri commented on #16408
I'll close this now, but please feel free to comment if you have more questions.

[2022-01-22 16:44] #16408 closed

[2022-01-22 17:24] hongkai-dai commented on #16421
For the moment, I would like to avoid making mistakes that I *think* I imposed constraint a matrix, and the compiler also compiles and the code runs fine, but it doesn't do what I want. One of such mistake occurs in AddBoundingBoxConstraint. As you point out, this mistake can occur for other functions, like AddLinearConstraint(Expression, lb, ub). I am perfectly happy with either options
1. Do not

[2022-01-22 20:35] jwnimmer-tri commented on #16421
If we like the new form (spelling with MatrixXd instead of VectorXd), then I think it would be just as easy to update the code to take a Matrix, versus trying to band-aid the current form.

I would be surprised if this fails at runtime.  I think `const Ref<const VectorXd>&` would always say `cols == 1`, since it would have no member field to store a dynamic number of cols in the first place?

I th

[2022-01-22 20:57] hongkai-dai commented on #16421
Agreed, I think we got the same conclusion on the slack channel https://drakedevelopers.slack.com/archives/C3L92BM2Q/p1642873187009800

I will file a PR to change `Eigen::VectorXd` to `Eigen::MatrixXd`.

[2022-01-22 21:00] hongkai-dai commented on #16421
I think what happens is that if we pass an actual matrix to an variable of type `const Ref<const VectorXd>`, it just takes the left-most column of that matrix, as shown in the example in https://github.com/RobotLocomotion/drake/issues/16421#issue-1111288000, where it only imposes the constraint on the left-most column of `X`.

[2022-01-23 01:00] hongkai-dai opened #16422 "MultibodyPlant should ignore collisions between two bodies welded to the same link"
Currently SceneGraph ignores collisions between two bodies both welded to the world. Following the same logic we should ignore the collision between two bodies both welded to the same link.

See slack discussion https://drakedevelopers.slack.com/archives/C2WBPQDB7/p1642886146051700

[2022-01-23 01:05] jwnimmer-tri commented on #16422
See also #13672.

[2022-01-24 15:38] #16105 closed

[2022-01-24 18:40] #12325 closed

[2022-01-25 00:37] rpoyner-tri commented on #13672
Perhaps adding some text to `multibody/plant/contact_model_doxygen.h` is the right way to resolve this.

[2022-01-25 02:30] RussTedrake commented on #13514
FTR -- My now extremely small patch to enable `bazel build //tools/install/libdrake:libdrake.so //bindings/pydrake` and install on apple silicon is [here](https://github.com/RussTedrake/drake/pull/new/apple_silicon2).

[2022-01-25 02:32] RussTedrake commented on #16206
I'll continue to post my patches at #13514.

[2022-01-25 16:23] mwoehlke-kitware opened #16432 "PETSc is broken on ARM64"
PETSc is explicitly using XMM intrinsics, which are not available on ARM, leading to build errors.

The following patch can "get past" the problems, but it's unclear how this file was generated, or whether these changes are "correct". They also probably should be conditional to ARM builds.

[code]

Relates to #16380, #13514.

[2022-01-25 16:33] jwnimmer-tri commented on #16432
(Blocked by #16380.)

[2022-01-25 17:22] hongkai-dai opened #16433 "Bring in libcmaes as a dependency"
Now that [libcmaes](https://github.com/CMA-ES/libcmaes) has the Apache 2.0 license, I think it is ready to bring it as a Drake dependency

[2022-01-25 20:21] #16385 closed

[2022-01-26 01:43] mitiguy commented on #16189
Opened PR #16415 to enhance documentation and notation for offset frames (need to converge on notation before proceeding with methods in SpatialVelocity and SpatialAcceleration.

[2022-01-26 01:54] jwnimmer-tri commented on #16433
@hongkai-dai will provide a small sample function (or program, or test) that calls cmaas, and then @jwnimmer-tri will open a PR with a sufficient BUILD file (+ releated) to get that working in Drake.

[2022-01-26 11:17] #13779 closed

[2022-01-26 11:28] RussTedrake opened #16439 "Redistribute mosek in Drake binary releases"
Related to #10804, but it deserves it own issue for tracking.

Problem: Currently no solver that is available in the Drake binary release supports mixed-integer optimization, which in increasingly important.  Mosek is also a superior solver relative to many of the open-source solvers we make available for a number of optimization classes.

Proposed solution: Drake binary packages include the mosek

[2022-01-26 17:03] #16421 closed

[2022-01-26 18:09] jwnimmer-tri commented on #16433
A good sample program to use would be https://github.com/CMA-ES/libcmaes/blob/master/examples/sample-code.cc.

[2022-01-26 20:24] jwnimmer-tri commented on #16433
@hongkai-dai for tracking purposes, could you document in this issue which Drake feature this dependency will be in service of?  Ideally, that new feature would have its own overall Drake tracking issue that you could just link to here.

[2022-01-26 20:43] hongkai-dai opened #16442 "Solve constrained optimization through augmented Lagrangian"
Currently Drake doesn't implement doing optimization with augmented Lagrangian method. We think this method can be very helpful for constrained optimization.

The tentative plan includes supporting the following features

- [ ] Compute the augmented Lagrangian for a given mathematical program.
     - [ ] Compute the non-smooth augmented Lagrangian.
     - [ ] Compute the smooth augmented Lagrangia

[2022-01-27 01:57] jwnimmer-tri commented on #16439
The Mosek EULA section 8 discusses re-hosting.  I only spent a few moments reading it, but it seems like there is not a blanket grant for us to redistribute.  It does seem like we would need to get some kind of special permission.  Or possibly there is a redistribution grant somewhere else, that I've overlooked.

Or possibly we could have a drake "installer" that downloads and installs Mosek, adja

[2022-01-27 03:34] jwnimmer-tri commented on #16403
This might be sufficiently improved to close this issue now?

[2022-01-27 03:51] jwnimmer-tri commented on #14702
Here's a plan.

Short-term wheel cleanup / work-arounds:

Tasks:
- [ ] Immediately remove the the Tk-using classes listed below from `import pydrake.all`.
- [ ] Remove the (documentation) dependency from the `pip install drake` wheels onto Tk.
- [ ] Remove the `./test/provision.sh\017:    python3-venv python3-tk \` dependency from the wheel image scripts.

---

The Tk-using class `pydrake.manipula

[2022-01-27 14:46] BetsyMcPhail commented on #16403
I agree, the nightly builds have been completing in the morning with no issues and continuous builds don't seem to be lagging.

[2022-01-27 15:16] jwnimmer-tri commented on #14691
For the record, we do **not** need to remove this usage (from a comment):
[code]

[2022-01-27 15:21] jwnimmer-tri commented on #10619
Another option: split the cache into even more, different servers (e.g., a dedicated LSan-only one).

[2022-01-27 15:23] jwnimmer-tri opened #16447 "Upgrade to Bazel 5.0 in Provisioned"

[2022-01-27 15:31] jwnimmer-tri commented on #14077
Big picture: we want our Documentation builds to be robust (reproducible) wrt the user's environment.  To the extent that the locale settings (LANG, LC_ALL, whatever) impact any documentation output, we should hard-code them to be `en_US.UTF-8` for any and all sub-processes that we launch.  I _think_ there is a single function in `build.py` that launches all docs subprocesses, so setting the envir

[2022-01-27 15:45] jwnimmer-tri opened #16448 "APT release improvements"
Our release process for APT is somewhat obscure and undocumented, uses a fork of drake at https://github.com/RobotLocomotion/debian-drake that must be manually maintained, and compiles Drake from scratch using different build flags but doesn't run the tests.

Overall, this is all way more complicated than we need, and adds friction to the release process.

We should explore using something more ak

[2022-01-27 16:29] jwnimmer-tri commented on #14702
Above, I say "immediately" which is a bit nebulous.  I just mean "when we begin work on this ticket, whenever that might be".

The idea is that we can add the deprecation annotation right away, without doing all of the porting work first as a prerequisite of adding the annotation -- we can suppress the warning at the (few) current call sites, until they get ported.

[2022-01-27 16:59] jwnimmer-tri commented on #16447
I have been running 5.0 locally since it was released, and I haven't seen any problems.  Our macOS unprovisioned is also running it without any problems.

FYI see #16405 for a fix (that's already landed) that is required for 5.0.  Users of older Drake releases that still want to use Bazel 5.0 should set `build --notrim_test_configuration` in the `drake/user.bazelrc` file to work around the problem

[2022-01-27 18:20] mwoehlke-kitware opened #16451 "pointcloud_voxelization_test memcheck failure on Focal"
There appears to be a memcheck failure on Focal (not present on Bionic?).

Raw output:

[code]

Related to #14928.

[2022-01-27 18:25] jwnimmer-tri commented on #16451
I am surprised to see `/usr/local/cuda-11.5` in the error message.  Is this message from CI, or locally?  Given the path, I suspect this is not from CI -- in which case, we should isolate CI's flavor of any errors like this, and then fix those.  Local user software is out-of-scope for Drake's valgrind support.

[2022-01-27 19:11] mwoehlke-kitware commented on #16451
If it's only on "my" machine (note, this is not my *personal* machine, but our TRI workstation, which ought to be comparable to what other TRI developers are using), then I am not (presently) able to reproduce any other memcheck failures.

We should probably do new CI runs on the latest code (@BetsyMcPhail?). Hopefully there are not failures that are reproducible *only* on CI...

[2022-01-27 19:13] EricCousineau-TRI commented on #15948
(accidental close from merge of https://github.com/ignitionrobotics/sdformat/pull/824)

[2022-01-27 19:17] jwnimmer-tri commented on #16451
Hmm, I have no idea why CUDA would have been installed on your TRI-specific workstation.  We should find whoever / however that happened, and undo it (and fix the process or documentation so that it doesn't happen again next time).

[2022-01-27 19:51] jwnimmer-tri commented on #14808
We can revisit / re-open if someone speaks up, but so far it sounds like WONTFIX is sufficient.

[2022-01-27 19:51] #14808 closed

[2022-01-27 21:29] BetsyMcPhail commented on #14928
View in Jenkins with all of the Focal Valgrind and Sanitizer jobs --> https://drake-jenkins.csail.mit.edu/view/Focal%20Sanitizer%20and%20Valgrind/

[2022-01-27 22:19] EricCousineau-TRI commented on #15948
For additional discussion (from above topics and more), see Aaron's overrview in #16431

[2022-01-28 16:00] svenevs opened #16455 "[geometry/dev] refactor client-server protocol to one curl transaction"
Ref #16234 discussion, combine `UploadScene` and `RetrieveRender` into one curl transaction, send the scene sha256 hash in the form fields.

[2022-01-28 16:02] svenevs opened #16456 "[geometry/dev] support 16bit unsigned millimeter range images from server"
Ref #16234, right now the client only supports TIFF images (range in meters), we are able to support the render server sending 16bit unsigned PNG images in units of millimeters as well (and convert to meters client side).

[2022-01-28 16:04] svenevs opened #16457 "[geometry/dev] refactor python server to not repeat logic for validating form parameters"
Ref #16234, current implementation is not DRY.  Refactor form validation logic after #16455.

[2022-01-28 17:38] mwoehlke-kitware commented on #16451
OpenCL appears to have the same problem? (Still only showing up on non-CI builds, though...)

[2022-01-28 18:00] jwnimmer-tri commented on #16451
If I'm reading this correctly, then the relevant CI build here is:

https://drake-jenkins.csail.mit.edu/view/Focal%20Sanitizer%20and%20Valgrind/job/linux-focal-clang-bazel-experimental-valgrind-memcheck/

It's only complaint is about `iris_test` (with a timeout), not the `pointcloud_voxelization_test` mentioned here.

The `@voxelized_geometry_tools` external (and its unit test which is the subject

[2022-01-28 18:00] #16451 closed

[2022-01-28 18:03] mwoehlke-kitware opened #16459 "iris_test times out on Focal"
`iris_test` is (sometimes?) timing out on focal at least when run under memcheck.

Raw output:
[code]
([complete log](https://drake-jenkins.csail.mit.edu/view/Focal%20Sanitizer%20and%20Valgrind/job/linux-focal-clang-bazel-experimental-gurobi-valgrind-memcheck/3/console))

[2022-01-28 18:31] rpoyner-tri opened #16460 "migrate non-standard URDF `capsule` tag to `drake:capsule`."
(Re-)discovrered while writing parsing docs. We support some non-standard legacy `capsule` tag in URDF, but the standard is unaware of it. Proposal: support `drake:capsule`, and maybe deprecate the made-up `capsule` tag. If URDF ever introduces `capsule`, at least we (hopefully by then) won't have old tags with potentially clashing syntax and semantics lying about.

FYI @EricCousineau-TRI @Damrong

[2022-01-28 18:34] jwnimmer-tri commented on #16460
Counter-proposal: add `<capsule>` to URDF using our current semantics, and change nothing in Drake.

[2022-01-28 18:46] jwnimmer-tri commented on #16460
Here is the TODO in the current code:

https://github.com/RobotLocomotion/drake/blob/504c6f182ccad3e01889a732e2550e3cb0c271eb/multibody/parsing/detail_urdf_geometry.cc#L291-L304

It mentions https://github.com/ros/urdfdom_headers/pull/24.

[2022-01-28 18:52] jwnimmer-tri commented on #16459
The timeout that we need to meet (1500 seconds within each test shard) is given here:

https://github.com/RobotLocomotion/drake/blob/504c6f182ccad3e01889a732e2550e3cb0c271eb/tools/dynamic_analysis/bazel.rc#L228

To diagnose this, I ran it locally in "one test case a time" mode, and scraped out the per-case timings:

[code]

In Jenkins the timings will vary somewhat due to the different hardware, b

[2022-01-28 20:37] mwoehlke-kitware commented on #14077
What is actually going wrong, here? How can this be reproduced?

I generated dox on a Docker image that appears to have no UTF8 locales installed, and with `LC_ALL=C`, and UTF-8 characters still seem to be rendered okay.

[2022-01-28 20:42] zachfang commented on #15919
The first pass of the client implementation is merged via #16234.

[2022-01-28 20:42] zachfang commented on #15920
The first pass of the VTK server implementation is merged via #16234.

[2022-01-28 20:45] jwnimmer-tri commented on #14077
There is no reproduction recipe required.  Change the code here [1] to set  `env["LC_ALL"] = "en_US.UTF-8"` when launching the subprocess (in both branches), so that our documentation builds are reproducible.  Check that the generated output has not regressed, by comparing the new output with either a build without that change, or the content of the deployed site (https://github.com/RobotLocomotio

[2022-01-28 21:02] rpoyner-tri commented on #16460
I read the TODO; that's how I got here. The consequences of your counter-proposal are: (1) delete the TODO, (2) document some set of non-prefixed community extensions to URDF that Drake honors, (3) maybe delete that documentation if the standard version ever merges.

[2022-01-28 21:08] jwnimmer-tri commented on #16460
Yes, that sounds correct to me.  I think our users are best served by keeping our current (quite reasonable) extension intact.

While the thoughts captured in the TODO make sense from a conformance perspective, I don't think they actually help users in any way.  If we had started with `<drake:capsule>` from day 1, perhaps there would be a case for keeping it, but rolling it back now doesn't help a

[2022-01-28 21:22] rpoyner-tri commented on #16460
Got it. I think I'll close the issue, and incorporate items 1 and 2 from above into #16444.

[2022-01-28 21:22] #16460 closed

[2022-01-28 21:58] jwnimmer-tri commented on #16459
In the original problem report above, I missed that the failure log was coming from `gurobi-valgrind-memcheck`.  The data I posed above was in the default configuration, not `-gurobi`.

[2022-01-28 22:07] jwnimmer-tri commented on #16459
I'll still keep this open to track the Mosek and/or Gurobi-specific fixes or work-arounds.

[2022-01-28 22:49] hongkai-dai opened #16463 "AddScaledDiagonallyDominantMatrixConstraint is horribly slow in repeated calling"
I have a program that calls `AddScaledDiagonallyDominantMatrixConstraint` for many times. This program takes 50 seconds to construct, but only 5 seconds to solve in Mosek.

One problem is that `AddScaledDiagonallyDominantMatrixConstraint` is too slow if I call it many times. This function has the dynamic memory allocation here https://github.com/RobotLocomotion/drake/blob/504c6f182ccad3e01889a732e

[2022-01-29 12:28] RussTedrake opened #16464 "ContactResultsToMeshcat deprecation does not properly deprecate AddToBuilder"
The deprecation in #16437 was not sufficient for the most common use case of this system.  All of my notebooks which used the system current throw an error:
[code]

[2022-01-29 17:11] jwnimmer-tri commented on #16464
Apologies, and thanks for reporting.

Of course, the one function that we point people to use was the one I missed.  A PR is up now with the fix.

[2022-01-29 19:38] #16464 closed

[2022-01-30 22:18] hongkai-dai opened #16470 "Change MathematicalProgram::decision_variables_ to type std::vector<Variable>"
Currently if we repeatedly calling `MathematicalProgram::NewVariables`, the speed is very slow, due to this line https://github.com/RobotLocomotion/drake/blob/e944bdb72cdd5235ed7896f42b6c34268b5ca124/solvers/mathematical_program.h#L3400-L3401

After discussing with @jwnimmer-tri on slack https://drakedevelopers.slack.com/archives/C2ETTRXT7/p1643567204908549, we think the performance would be much

[2022-01-30 22:21] jwnimmer-tri commented on #16470
I suggest directly changing the current function to return the `Map<...>`, and then see if any code in Drake or Anzu breaks.  It appears to be a fairly safe change, without a need for deprecation.  If we find some current code breaks, then we can take a closer look.

[2022-01-30 22:22] hongkai-dai commented on #16463
superseded by #16470

[2022-01-30 22:22] #16463 closed

[2022-01-31 15:08] jwnimmer-tri commented on #16447
@BetsyMcPhail could you take this on (or delegate it), as part of this week's "monthly dependency upgrades" work?

(For myself, I will check that Anzu is also happy with Bazel 5.)

[2022-01-31 16:13] BetsyMcPhail commented on #14702
@jwnimmer-tri can you point us towards the deprecation process documentation?

[2022-01-31 16:22] jwnimmer-tri commented on #14702
See #10605 -- there isn't an overall playbook yet.

For pydrake the general principle is to log a Drake-specific deprecation warning using our `pydrake.common.deprecation` module, see https://drake.mit.edu/pydrake/pydrake.common.deprecation.html for the module doc and https://drake.mit.edu/doxygen_cxx/group__python__bindings.html (under "Deprecation") for some tips.  Something like `@deprecated_ca

[2022-01-31 16:56] jwnimmer-tri commented on #7559
See #16473 for discussion of adding DDG search to the `pydrake` docs.  I also have a branch for adjusting the Doxygen search box, but it isn't quite ready yet.

[2022-01-31 18:44] BetsyMcPhail commented on #16447
Sounds good

[2022-02-01 00:31] jwnimmer-tri commented on #15943
A few months later now, we have several more examples of scratch use within Drake proper, so we should be able to evaluate the proposed API here against those call sites.

[2022-02-01 01:10] sherm1 commented on #16189
I like the relative velocity notation!

(Side discussion for the force notation) I wonder if the frames should be reversed for consistent ordering in the power computation. Currently you have power in W = F_BC ⋅ V_W_CB. At first glance seems a shame that we have BC and CB in that expression.

[2022-02-01 02:21] mitiguy commented on #16189
I look forward to talking to you about the force notation.
There are positives and negatives about each (pun intended).

[2022-02-01 04:36] #14077 closed

[2022-02-01 14:45] amcastro-tri commented on #16189
I still have a couple questions, sorry if too slow:

1. We use this all the time in our code: V_WB = V_WPb + V_PB, where Pb is frame P shifted to Bo and V_PB is the spatial velocity of B measure in P (I am omitting the expressed-in frames here). Is this a particular case of the "relative velocity" notation? because in the relative velocity notation it'd seem the three terms are all measured in the

[2022-02-01 15:43] BetsyMcPhail opened #16481 "Upgrade externals to latest - February 2022"
Follow [Semi-automated monthly upgrades](https://github.com/RobotLocomotion/drake/blob/master/tools/workspace/README.md#semi-automated-monthly-upgrades) documentation

[2022-02-01 16:52] jwnimmer-tri opened #16482 "Add search box to Jekyll site"
For motivation, see #7559.

I'm forking off a separate ticket for the Jekyll site (the landing page, `_pages` and `_release_notes`, etc) for better project tracking.

Contrast the main drake site (https://drake.mit.edu/) with the pytorch landing page (https://pytorch.org/).

The little searchglass [1] in the upper right of pytorch is nifty; we should do the same for Drake's site.

Possibly there i

[2022-02-01 16:57] jwnimmer-tri commented on #7559
The new pydrake dual-search is live now: https://drake.mit.edu/pydrake/.

The Doxygen dual-search is in progress with #16482 and the one more PR after that.

[2022-02-01 17:27] jwnimmer-tri commented on #16447
Yes, perfect!

To be clear -- in this case, though, I think we will **not** need to update the minimum required version.  We have no evidence that bazel 4.0 is incompatible with current Drake.  If you'd like to locally install 4.0 and try a Release build to confirm or refute,  that's fine too, but is not especially important.

[2022-02-01 20:56] rpoyner-tri commented on #14107
Another possibility is to link both of them to the drake:proximity_properties section in the parsing reference. Such a resolution would depend on #16444.

[2022-02-01 21:57] rpoyner-tri commented on #13672
Having looked at contact_model_doxygen, I am shying away from it for now. It is mostly point-contact-era theory, AFAICT, and may want a general revisiting. I think for now, I'll just add some doc to the description of Finalize(), which is where the magic collision filters are created.

[2022-02-01 21:58] jwnimmer-tri opened #16486 "Add simulation time and rate (ala show_time) to meshcat"
In our `drake_visualizer`, we have a little footer in the bottom of the window that shows the simulation clock, and its realtime rate (vs the wall clock).  We should offer the same in `MeshcatVisualizer` as well as `meldis`.

If I recall correctly, the challenge is that 2d text still needs to be anchored to a 3d point / pose in MeshCat.  We'll (probably?) need a way to anchor it to the viewport, i

[2022-02-01 21:59] rpoyner-tri commented on #16422
I think maybe the right place to land a fix is actually in MultibodyPlant, which is where the magic/implicit collision filtering is added now. Modifying the title to reflect this.

[2022-02-01 22:15] jwnimmer-tri commented on #9128
There's some name munging still going on, with a TODO citing this issue number, that wasn't removed:

https://github.com/RobotLocomotion/drake/blob/0e2767a06f40e16ceeb670079c6c63a7d2200c45/multibody/plant/multibody_plant.cc#L244-L256

[2022-02-01 22:25] jwnimmer-tri commented on #9128
Maybe \CC @EricCousineau-TRI has input to offer here, as well.

[2022-02-01 22:35] DamrongGuoy opened #16487 "Implement a compliant halfspace contacting another compliant hydroelastic object."
Move this feature request out of #16040 (ComputeContactSurfaceFromCompliantVolumes()), which deals with compliant-compliant hydroelastic contact between meshes of non-halfspace primitives.

#### ComputeContactSurfaceFromCompliantHalfspaceCompliantMesh()
  - [ ] Equilibrium plane between a tetrahedron's pressure field and the halfspace's pressure field.
  - [ ] Intersection of a plane and a tetrahe

[2022-02-01 23:17] EricCousineau-TRI commented on #9128
At first blush, I'm thinking I wrote the wrong issue number down...

[2022-02-01 23:19] jwnimmer-tri commented on #9128
See also #10406 (which added the TODO).

[2022-02-01 23:30] EricCousineau-TRI commented on #9128
Yup, read through that, but not sure why I mentioned this issue.

The analog issue mention in Python was removed by [#14292; ](https://github.com/RobotLocomotion/drake/pull/14292/files#diff-2797a64a51e7dfb4199df990ec1d6f4191a248a3de6a5cbe188d8c5c548d6e1d)
My guess is, I crossed wires in my head / didn't communicate well about leveraging names in that issue.

Perhaps #14043 is slightly more relevan

[2022-02-01 23:47] jwnimmer-tri commented on #9128
I admit to not fully researching (yet) or understanding the how and why of why the name mangling is happening.

My entry point into this thread was the fact that SDFormat input data with `<collision name="fred">` shows up in Scene Graph with an `Inspector::GetName(GeometryId)` of something other than "fred".  (It currently shows up as "model_instance_name::fred".)

That seems like a bug?  See #164

[2022-02-01 23:51] EricCousineau-TRI commented on #9128
Ah, good point.

Then yeah, undoing internal scope mangling and deferring to another mechanism for scoping makes more sense.
How do you envision `GeometryFrame` having qualifiers? (or is it just, "query body from frame, get model instance name, and scope it" ?)

[2022-02-02 00:28] jwnimmer-tri commented on #7559
I've forked off the Jekyll searchbox into a separate ticket (#16482).

That just leaves the Doxygen fix as part of this issue.  (I don't think we need to add a searchbox to the style guide.)

[2022-02-02 03:05] jwnimmer-tri commented on #7559
The Doxygen search is finally ready for commentary now, at #16491.

[2022-02-02 04:42] SeanCurtis-TRI commented on #9128
IIRC the only naming requirement SceneGraph has is that sibling geometries (those affixed to the same frame) with the same role must have unique names. MbP performs the prefixing when registering it. I'd been meaning to remove that for ages, but, for the life of me, I can't remember what the limiting factor is. But removing the mangling has my full, enthusiastic suppoprt.

[2022-02-02 14:58] amcastro-tri commented on #15782
If I scroll the video posted by @jwnimmer-tri in #15814 to 0.01 secs, I see some spurious contact forces between the legs and the hip. I believe those forces are responsible for the legs being pushed sideways in that video. They might actually also be responsible for the need to use a smaller time step.

Somehow these contacts do not show with current master, and the problem is no longer observed.

[2022-02-02 15:04] jwnimmer-tri commented on #15782
I don't know, but on the plus side, the failure is easy to observe (the program crashes) so you should be able to re-run it at any revision you like and see if it passes or not.

[2022-02-02 15:22] amcastro-tri commented on #15782
Thanks @jwnimmer-tri, I'll give that a try.

[2022-02-02 17:27] #16040 closed

[2022-02-02 17:37] sherm1 commented on #16040
Congratulations @DamrongGuoy & team! 👏👏👏

[2022-02-02 18:33] mwoehlke-kitware opened #16494 "tsan warning in RenderEngineVtk (Focal)"
On Focal, several tests are failing with warnings related to `RenderEngineVtk`. These may have a single source.

Here is the raw output from `render_engine_vtk_minimal_example_test`:
[code]

([Full console output](https://drake-jenkins.csail.mit.edu/view/Focal%20Sanitizer%20and%20Valgrind/job/linux-focal-clang-bazel-experimental-everything-thread-sanitizer/4/consoleFull))

[2022-02-02 18:39] jwnimmer-tri commented on #16494
Note the path `//geometry/render/dev`.  For dev code, our response should be to disable the test in that configuration `tags = no_tsan`.

[2022-02-02 18:43] jwnimmer-tri commented on #16494
Ah, in the full log we also have `//geometry/render:render_engine_vtk_test` and similar failures.  That's more relevant.

[2022-02-02 18:53] jwnimmer-tri commented on #16494
This error message is almost certainly a false positive from the mesa library.  If you can try installing `libgl1-mesa-dri-dbgsym` from `deb http://ddebs.ubuntu.com focal-updates main restricted universe multiverse` sources list, we might get more information.  In any case, our TSan suppression file will probably need to gain an entry to disable this report.

[2022-02-02 18:54] mwoehlke-kitware commented on #16494
Right; I picked `render_engine_vtk_minimal_example_test` somewhat arbitrarily (it was first, and some of the other reports are longer); there are similarities in the traces that make it look like there may well be a single issue appearing in multiple places. (Also why I'm not opening multiple issues yet.)

FTR, the tests with warnings are:
- `//examples/manipulation_station:manipulation_station_te

[2022-02-02 18:55] mwoehlke-kitware commented on #16494
I was wondering about that also.

@BetsyMcPhail ?

[2022-02-02 19:39] mwoehlke-kitware commented on #16494
BTW, installing that locally appears to have had no effect; I still get:
[code]

[2022-02-02 19:42] jwnimmer-tri commented on #16494
Possibly the symbolizer doesn't find these paths by default?
[code]

[2022-02-02 19:52] #7559 closed

[2022-02-02 20:03] #16470 closed

[2022-02-02 21:18] mwoehlke-kitware commented on #16494
...maybe not? I have no idea how `llvm-symbolizer` works. I *can* see that this:
[code]
...produces something "useful", while this:
[code]
...does not.

[2022-02-02 22:24] jakewelde commented on #13514
Hi folks. I've been trying to build Drake in Ubuntu 20.04.03 on a Raspberry Pi Compute Module 4 with 4GB ram + 8GB swap, using @gizatt's [diff](https://github.com/RobotLocomotion/drake/compare/master...gizatt:gizatt_builds_on_rbpi4?expand=1) above. The only differences I'm aware of between their setup and my own are that I'm in 20.04.03 (instead of 20.04.02), and I'm on a Compute Module 4 instead

[2022-02-02 22:40] DamrongGuoy commented on #16106
@amcastro-tri Could you link relevant PRs to this Issue, please? I'd like to understand what has been done for it.

CC: @rpoyner-tri

[2022-02-02 22:42] DamrongGuoy commented on #16106
Is TAMSI code going to stay where it is today? Or it will get refactored too, or it will be removed?

[2022-02-03 00:01] amcastro-tri commented on #16106
Sure thing. Here it goes:
The discrete update manger concept was introduced in #15033. Improvements in #15135, #15264, #15376.

Compliant contact manager introduced in #16047. Follow up PRs: #16119.

Implementation for deformable FEM models in #15088. Follow up PRs: #15123, #15128, #15262, #15661, #16311.

[2022-02-03 00:02] amcastro-tri commented on #16106
Short term answer (1 year): yes.
Long term answer (> 1 year): no.

[2022-02-03 00:21] DamrongGuoy commented on #16106
Thank you!  Now I see it's relevant to Deformables too.

[2022-02-03 01:30] jwnimmer-tri commented on #13514
I don't recognize those errors specifically, but I know that as of Bazel 5.0 there is https://github.com/bazelbuild/bazel/issues/14294 in play.  Try adding `--notrim_test_configuration` to the bazel command line to see if it helps.  Also be sure you have #16405 (from a couple of weeks ago) merged in your tree.

For now, you need to pass `--define=NO_DREAL=ON` on the bazel command line, on ARM64.

[2022-02-03 04:28] DamrongGuoy commented on #14858
I can see this is a big change, but I believe it will open Drake to new fruitful opportunities.  Cheers!

[2022-02-03 15:11] jwnimmer-tri commented on #14652
One way forward might be to switch Focal and macOS (only) to a newer Clang?  That would be OK by me.

[2022-02-03 15:21] jakewelde commented on #13514
Thanks very much @jwnimmer-tri for your prompt and helpful reply. I’m away from the hardware I was running this on today but I will try your suggestions as soon as I’m back in front of it. Appreciate your help!

[2022-02-03 16:10] BetsyMcPhail commented on #16380
A ticket has been filed with MacStadium support to get some more information.

[2022-02-03 16:13] jwnimmer-tri opened #16500 "Enable Fission (split debug symbols)"
If we add the below stanza to a bazel's settings, builds with debug symbols `-g` will probably be much smaller on disk.

[code]

We use this setting in Anzu to good effect.

For Drake, we'll need to make sure that it works well with all of our different tests, configurations, and extra CI.

For SNOPT builds, we'll also need to ensure that debug symbols are unavailable for SNOPT by default.  (We cu

[2022-02-03 17:03] jwnimmer-tri opened #16502 "Link VTK privately"
Per #7451, we don't allow `#include <vtk...>` in any headers, because we want to insulate our end-users from Drake's choice of VTK.

However, this doesn't fully protect users, because we dynamically link to VTK with public symbols and VTK does not version it's ABI symbols.  A user can only load one copy of VTK into their process, and because Drake loads it's own build of VTK (currently VTK 9), tha

[2022-02-03 17:07] jwnimmer-tri commented on #16502
One way to accomplish this would be to add a new feature to a future major version of VTK (e.g., VTK 10) so that all of its code is placed within an [inline namespace](https://en.cppreference.com/w/cpp/language/namespace#Inline_namespaces), e.g., `inline namespace VTK10 { /* ... */ }`.  This should be source-compatible with all existing code, but would add the namespace into the binary symbol name

[2022-02-03 19:49] #13672 closed

[2022-02-03 21:12] BetsyMcPhail commented on #16481
All upgrades have been merged. Closing this issue.

[2022-02-03 21:12] #16481 closed

[2022-02-05 13:18] RussTedrake opened #16524 "refactor RigidTransform IsIdentityToEpsilon => IsNearlyIdentity?"
Currently `RigidTransform` has
- `IsExactlyEqualTo`
- `IsNearlyEqualTo`
- `IsExactlyIdentity`, and...
- `IsIdentityToEpsilon`

I find myself often typing `IsNearlyIdentity` and getting reminded by the compiler.  Can we pick one and stick?

[2022-02-05 16:25] #14107 closed

[2022-02-06 13:31] RussTedrake commented on #8473
#16526 will resolve one more of these (SceneGraph support for Expression).

[2022-02-07 16:29] jwnimmer-tri commented on #13514
This looks like an out of memory (OOM) error.  Try running the build with reduced concurrency (e.g., `--jobs=1`), or else add more swap memory.

[2022-02-07 16:50] rpoyner-tri commented on #11949
Also related? #16143

[2022-02-07 17:01] #15969 closed

[2022-02-07 17:02] jakewelde commented on #13514
Thanks, I'll give that a shot! I think you're right, because my memory usage during the build is around 3.7GB out of 4GB and swap about 7GB out of 8GB. Appreciate the help!

[2022-02-07 18:03] BetsyMcPhail commented on #16447
Linux images have been updated.

[2022-02-07 18:28] BetsyMcPhail commented on #16447
Mac images are also updated

[2022-02-07 19:14] BetsyMcPhail commented on #14928
In drake-ci, remote caching is switched on for Bionic [leak-sanitizer](https://github.com/RobotLocomotion/drake-ci/blob/dada89b12ff3d3defe01b06854cb22e37aefec92/driver/environment.cmake#L255) and [debug](https://github.com/RobotLocomotion/drake-ci/blob/dada89b12ff3d3defe01b06854cb22e37aefec92/driver/environment.cmake#L260) jobs. This needs to be switched to Focal.

I couldn't find an issue related

[2022-02-07 19:41] mitiguy commented on #16524
@RussTedrake   I am starting work on this now.

[2022-02-07 20:59] rpoyner-tri commented on #13179
Reopening this, because I pretty much hate omnibus issues that can never be closed (#13314), and don't feel like the original resolution-by-delegation here was really adequate. #16531 will finish the job.

[2022-02-07 23:06] BetsyMcPhail commented on #16379
While looking into this I noticed that we have continuous _and_ nightly production mirroring builds:

[linux-bionic-unprovisioned-gcc-bazel-nightly-mirror-to-s3](https://drake-jenkins.csail.mit.edu/job/linux-bionic-unprovisioned-gcc-bazel-nightly-mirror-to-s3/)
[linux-focal-unprovisioned-gcc-bazel-nightly-mirror-to-s3](https://drake-jenkins.csail.mit.edu/job/linux-focal-unprovisioned-gcc-bazel-nig

[2022-02-08 01:41] DamrongGuoy opened #16538 "Consistent visualization of contact forces from hydroelastic contacts and from point contacts"
<h1> Introduction </h1>
The following two movies show the contact forces from hydroelastic contact (upward red arrows) and point contact (downward green arrows).  Since action = reaction, at each contact between Geometry M and Geometry N, we have two choices to draw the force: the force from M acting on N or the force from N acting on M.

It looks like the choices by the hydroelastic contact and t

[2022-02-08 02:23] BetsyMcPhail commented on #16379
Jenkins changes removing redundant jobs --> https://github.com/RobotLocomotion/drake-jenkins-jobs/commit/f5662c88dfe7f2ed01e4b174cca0077410aecca8

[2022-02-08 03:04] jwnimmer-tri commented on #16524
For the record, for some future `RotationMatrix` function renaming, I'd argue that the `-ToInternalTolerance` suffix is not helpful.  The function takes no arguments, obviously the tolerance is built-in.  Adding that detail to the function name just makes the call sites unreadable.

If we ever wanted to offer a the tolerance as argument in the future, we'd want to do `boolean<T> IsNearlyIdentity(d

[2022-02-08 03:51] rpoyner-tri commented on #15743
Likely endgame here is land #16449, then add xrefs among the hydro guide, parsing reference, and Add*Hydro*Properties() declarations.

[2022-02-08 17:30] BetsyMcPhail commented on #14928
To complete this issue we need to:

1. Disable any failing tsan tests
2. Finish #16223, including any documentation updates
3. In drake-ci, change remote caching to Focal [leak-sanitizer](https://github.com/RobotLocomotion/drake-ci/blob/dada89b12ff3d3defe01b06854cb22e37aefec92/driver/environment.cmake#L255)
4. In coordination with merging 2. and 3., update Jenkins. Specifically:
   - remove Bionic

[2022-02-08 17:36] jwnimmer-tri commented on #14928
I think we might as well just delete them (along with deleting the valgrind jobs)?

[2022-02-08 17:39] #15971 closed

[2022-02-08 17:40] jwnimmer-tri commented on #15971
FYI this fix will be shipped in the forthcoming `v0.39.0` wheel on PyPI.

[2022-02-08 19:08] DamrongGuoy opened #16545 "Study numerical corner cases of hydroelactic contact surfaces."
We'll release hydroelastics soon, so I'd like to study and document its numerical corner cases (perhaps in the users guide).

Right now, I know that:
  - two identical compliant boxes exactly on top of the other may have "unclean" contact surfaces,
  - hydroelastic contact lacks knowledge of history, so I can trick it to give an attractive force instead of a repulsive force in special circumstance

[2022-02-08 19:12] DamrongGuoy commented on #16545
Relevant to #16449

[2022-02-08 19:59] #13179 closed

[2022-02-08 22:03] jwnimmer-tri commented on #16502
@BetsyMcPhail or @svenevs or anyone else from Kitware here ... I think the next step here might be to submit this feature request into the VTK issue tracker, for broader circulation / discussion among the VTK development team?

If you agree, could I ask one of you to work on submitting that?  I assume there will be a lead time to make this happen, so getting the ball rolling now seems useful.

[2022-02-08 22:47] svenevs commented on #16502
I have a meeting with somebody tomorrow to get that going, there are a number of facets per internal discussions.  As a followup, there were two specific tension points.  Are we seeking

1. Linking two potential VTK instances in the same process?
2. Linking two potential VTK instances in the same translation unit?

We believe (1) could be achievable, but there was significant doubt about (2).  Bey

[2022-02-08 23:11] mitiguy commented on #16524
Thanks @jwnimmer-tri
Unless I hear otherwise from @RussTedrake, I'll proceed with that in a subsequent PR.

New method:
boolean<T> RotationMatrix::IsNearlyIdentity(double tolerance = get_internal_tolerance_for_orthonormality()) const;
will replace old method:
boolean<T> RotationMatrix::IsIdentityToInternalTolerance();

[2022-02-08 23:45] jwnimmer-tri commented on #16502
Yes, precisely.  Since no Drake headers ever include VTK, the option (2) "mixing different VTK within the same TU" is **not** relevant for Drake's use case.  We only need (1), so that any VTK library loading choices that Drake makes will not limit the choice-of-VTK for our users' independent code.

[2022-02-08 23:47] jwnimmer-tri commented on #16502
... and just to complete the landscape, the other path forward would be to have an option to compile VTK statically with PIC (which is already possible), but also with all symbols hidden (which I don't think is possible yet?).  That way, we could link it statically and privately, in which case the symbols' namespace doesn't matter.

[2022-02-09 00:28] #16524 closed

[2022-02-09 00:38] mitiguy opened #16551 "refactor RotationMatrix::IsIdentityToInternalTolerance() => IsNearlyIdentity()"
This follows issue #16524 that was resolved with PR #16541 which changed:

RigidTransform::IsIdentityToEpsilon(double translation_tolerance) to
RigidTransform::IsNearlyIdentity(double translation_tolerance);

Similarly, the related methods in RotationMatrix are:
Public methods:
RotationMatrix::IsExactlyIdentity();
RotationMatrix::IsIdentityToInternalTolerance();
RotationMatrix::IsNearlyEqualTo(con

[2022-02-09 02:01] #15743 closed

[2022-02-09 02:38] rpoyner-tri commented on #13314
Boxes are checked. Of course it's not all perfect, but I think good enough to declare victory here. Closing.

[2022-02-09 02:38] #13314 closed

[2022-02-09 16:47] #16455 closed

[2022-02-09 16:47] jwnimmer-tri opened #16554 "Don't redirect spdlog to Python logging when using embedded Python"
When a user imports any `pydrake` module that uses native C++ code, for convenience we switch Drake's text logging to route messages into the python [logging](https://docs.python.org/3/library/logging.html) module, instead of printing directly to `std::cerr`.

This is especially useful for online Python notebooks, where `std::cerr` often is not visible to the user anywhere.

For reference, this is

[2022-02-09 16:51] BetsyMcPhail commented on #16379
In `documentation_instructions.md`, the example using a bionic documentation job needs to be update (https://github.com/RobotLocomotion/drake/blob/504c6f182ccad3e01889a732e2550e3cb0c271eb/doc/_pages/documentation_instructions.md?plain=1#L84)

[2022-02-09 17:01] mwoehlke-kitware commented on #16459
It's now timing out in ASAN builds also 😢 .

[2022-02-09 17:14] jwnimmer-tri commented on #16554
One idea for a runtime mechanism -- if a C++ caller does any customization at all of the logging sink prior to loading `pydrake`, then the `RedirectPythonLogging` turns into a no-op.

[2022-02-09 18:32] rpoyner-tri commented on #16229
Summary of thoughts toward a first PR:

* Expose a simplified interface to parsing strictness
* Bury the machinery in `internal::`
* Do some partial integration with URDF
*  ---- below the line may get deferred ----
* Perhaps figure out structure for writing and managing lots of test cases

[2022-02-09 18:57] mwoehlke-kitware commented on #16500
[code]

I suppose you meant `--fission=yes` (which confusingly is not mentioned in the error message)?

[2022-02-09 18:58] rpoyner-tri opened #16558 "Tracking issue: migrate and/or retire docs trapped in `internal::` namespace"
As a follow-up to #13314 and friends, this issue proposes migrating documentation text out of C++ internal:: namespace scopes. Such texts can only be read by browsing the source code; they don't get rendered as Doxygen documentation.

Roughly, the steps should be:
* inventory the trapped documentation
* for each piece:
  * is it superseded by rendered doc? if so, delete.
  * should it migrate to r

[2022-02-09 19:00] jwnimmer-tri commented on #16500
Oops, yes.  I meant "yes".

https://docs.bazel.build/versions/main/command-line-reference.html#flag--fission

[2022-02-09 20:03] svenevs commented on #14691
Is somebody able to direct me to an example that actually calls `PyPlotVisualizer.animate` (for testing changes around `scipy.interpolate.interp1d`)?

[2022-02-09 21:02] jwnimmer-tri commented on #16181
Since #16229 has taken over the "diagnose unsupported elements during parsing" feature, should we re-purpose _this_ issue to be able the poor error message `Delta > 0` when a user forgets to add inertia to their links?  That happens quite frequently for new users, even without the particular `<mimic/>` failure mode.

[2022-02-10 16:32] sherm1 opened #16565 "The default "point" contact model currently ignores hydroelastics"
Per Slack thread [here](https://drakedevelopers.slack.com/archives/C2WBPQDB7/p1644462635505389?thread_ts=1644437000.738829&cid=C2WBPQDB7) a user was understandably surprised that after properly annotating geometry with hydroelastic properties his simulation used only point contact.

Changing the default contact model from Point to HydroelasticWithFallback would eliminate that surprise but still us

[2022-02-10 16:53] joemasterjohn commented on #16565
I would say that it is most definitely a breaking change. If a user had a model with `<drake:compliant_hydroelastic/>` defined yet used the default point contact mode (purposefully or inadvertently) would see big changes in their simulation.

[2022-02-10 16:59] jwnimmer-tri commented on #16565
We should definitely announce it carefully, because it might impact users, but recall that anything to do with hydroelastics is categorized as "experimental" and is subject to breaking changes without a deprecation period.  If we think the new default is better, we should land it, with suitable announcement text.

[2022-02-10 17:09] rpoyner-tri commented on #16565
@DamrongGuoy agreed to evaluate the change over drake and anzu, and help understand the impact.

[2022-02-10 18:23] jwnimmer-tri commented on #15738
Transcribing some notes from f2f discussions... hopefully I understood it correctly

The most important visualization is the contact patch mesh.
In the typical case, most users prefer to turn off pressure field visualization.

Thus, doing the patch mesh into MeshCat first would be the priority.

[2022-02-10 18:43] jwnimmer-tri commented on #13683
The discussions upthread imply that we would still advertise Colab as a supported venue for tutorials (e.g., the checklist item `Add !pip install drake pyngrok preamble for colab`).

However, I don't think we should do that.  As part of this Deepnote transition, I think we should officially withdraw the tutorials from Colab.  Due to https://github.com/googlecolab/colabtools/issues/1880, the Drake

[2022-02-10 19:32] DamrongGuoy commented on #16565
@sherm1 @rpoyner-tri
As the assignee of this issue, I tested the Draft PR #16569.  It already triggered 69 unit test failures (out of 788) in `multibody`.  I guess it won't be trivial to switch.

[code]

CC: @amcastro-tri

[2022-02-10 19:36] jwnimmer-tri commented on #16300
For Deepnote, I think we should change `StartMeshcat` to behave differently in case the easy-to-use 8080 default was already taken:

(1) Tell the user what's happening.  Explain how to close and/or restart the old notebooks that are camping on the port.  They might choose to do that, instead of fussing with ngrok.

(2) Then, also immediately prompt the user to paste in their ngrok token (along wit

[2022-02-10 21:24] DamrongGuoy commented on #16565
I agree that a few lines of change in `multibody` could have a significant impact on the user's code.  I'm testing Anzu-master-Drake-PR now.  I wonder what I should do next.

I'll need to talk to users more, I guess.

I wish we have some kind of Quality Assurance department. :thinking:

[2022-02-10 22:26] sherm1 commented on #16565
Damrong, can you explain what caused the MbP failures? I was thinking HydroWithFallback would be exactly equivalent to Point contact unless there was specifically-tagged hydro geometry. That seems unlikely in MbP tests unless they were specifically hydro tests or maybe tests that the model-selection feature is working properly (with those tests assuming point contact as the default).

[2022-02-10 22:28] jwnimmer-tri commented on #16565
@sherm1 If you look at the PR's pushes, I think the explanation is pretty clear.

[2022-02-10 22:34] jwnimmer-tri commented on #14691
@rpoyner-tri could you please answer the question immediately above?

[2022-02-10 22:46] DamrongGuoy commented on #16565
Sorry for the false alarms.  The unit test failures in Drake are easy to fix.  It's like there are two places in the code where we need to flip the two switches at the same time.

There is no more unit test failure in Drake #16569.  I do have one unit test failure in Anzu that I need to check.  Hopefully, it's just another simple fix.

[2022-02-11 14:17] amcastro-tri opened #16575 "Possibly extension of SapConstraint API to arbitrary number of cliques"
From discussion in #16553: (Xuchen) Is there anything that prevents a constraint from involving an arbitrary number of cliques? It seems to me like the API can be made cleaner if we make this generalization. For example, the constructor can take a std::vector of clique index and jacobians.

The proposed API would look like:
[code]
### Does the new API lead to clearer concepts and cleaner call site

[2022-02-11 16:25] rpoyner-tri commented on #16229
draft PR for design discussion: #16560

[2022-02-11 16:31] rpoyner-tri commented on #14691
Strictly speaking, VectorLog{,Sink} can't guarantee anything. When used with a Simulator in the typical way, I think we have the guarantee that time is non-decreasing. There might be duplicate-time records (I don't recall the details), but I don't think you'll see backwards time flow.

Of course, it's drake, so with even moderate Context/time abuse, you could construct an unsorted  log.

\cc @sher

[2022-02-11 17:06] mwoehlke-kitware commented on #16459
In light of #16567, maybe this can be closed?

[2022-02-11 17:07] amcastro-tri commented on #16181
I believe no. The demand for `Delta > 0` can be triggered due to many reasons. It only tells you there was a problem with the numerics somewhere, but it could be anywhere.

That is, IMO we should have explicit warnings at parsing when a user forgets to add inertia to their links. I'd imagine in the future if that link with no inertia was welded to another link in the model, we could assume the lin

[2022-02-11 17:10] jwnimmer-tri commented on #16181
That's exactly what I was trying to say -- when the user forgets to add inertia, we should fail-fast and tell them so, we should never give them the `Delta > 0` error in that specific case.  Other cases might still yell about Delta, just not the you-forgot-your-inertia case anymore.

[2022-02-11 17:11] jwnimmer-tri commented on #16181
Given the discussion history here, I suppose it would be clearest to file a new issue for that missing diagnostic.

[2022-02-11 17:13] DamrongGuoy commented on #16565
Update on Anzu side, I got one failed unit test with easy fix.

A simple fix (back to the past) is to restore the point contact:
[code]
A better fix (step into the future) is to improve definitions of collision hydroelastic geometries and to remove the many tiny collision spheres. Here I omit details from Anzu since it's not a part of Drake.

This raises an interesting question in hydroelastic ado

[2022-02-11 17:31] DamrongGuoy commented on #16565
Thank you @jwnimmer-tri .  I think that the unit test was set up with collision geometries for both point contact and hydroelastics.  In the past, by default, we use point contacts, so the hydroelastic parts didn't take effect. In the future, if we default to hydroelastics, the hydroelastic contact shows up and changed the behavior of the sim.

If users never set `<drake:rigid_hydroelastic>`,`<dra

[2022-02-11 17:39] sherm1 commented on #14691
Correct, the Simulator will produce only non-decreasing times. Duplicates can occur (at least in principle) due to a state-modifying Event coinciding with a logging event. In that case you may get two entries at time t -- t⁻ before the Event is handled and t⁺ afterwards.

[2022-02-11 17:41] sherm1 commented on #14691
But as @rpoyner-tri says, any other way of producing log entries won't automatically come with the same guarantee.

[2022-02-11 20:48] BetsyMcPhail commented on #16380
VMWare, which we are currently using, does not currently have a projected timeline for support of the M1 platform.

The alternative on MacStadium is to switch to Orka 2.0, which is set to be released in early March. With Orka 2.0 we would be able to have a mix of M1 and Intel machines.

AWS is currently offering preview M1 instances but still has the 24 hour minimum allocation period.

[2022-02-11 21:10] BetsyMcPhail commented on #14928
Changes to Jenkins are ready [here](https://github.com/RobotLocomotion/drake-jenkins-jobs/commit/f25e56ceb77f4d68ecd82543bed5012d3f6d53d7). They have NOT been deployed yet, waiting for #16557.

[2022-02-11 21:20] BetsyMcPhail commented on #14928
All pull requests have been merged and Jenkins is updated.

[2022-02-11 21:20] #14928 closed

[2022-02-11 23:09] calderpg-tri commented on #16565
Yes, the issue is a model in Anzu that mixes collision geometries using point-contact and hydroelastic-contact. I believe the ideal solution would be to return to the original model (just using boxes and cylinders, no additional collision spheres or tweaks) with all parts using hydroelastic contact.

[2022-02-11 23:48] sherm1 commented on #15943
Per [slack discussion](https://drakedevelopers.slack.com/archives/C2CHRT98E/p1644622933266889?thread_ts=1644621112.226229&cid=C2CHRT98E) it is always a mistake to `Eval()` a scratch entry. That causes the "up to date" bit to get set so that a later attempt to get mutable access will fail. @jwnimmer-tri suggested using an AlwaysThrowCalc() rather than a NoOpCalc() for those to catch ill-advised Eva

[2022-02-12 02:05] sherm1 opened #16579 "ContextBase::start_new_change_event() should be a const method"
When a cache entry with downstream dependents is manually updated (can occur in iterative computations, e.g.) the dependents need to be invalidated. That requires getting a unique "change event" integer, which is a service provided by ContextBase. However the method to do that is non-const, while cache entries are mutable within a const Context.

The change event counter should also be mutable.

A

[2022-02-12 07:15] hongkai-dai opened #16580 "LinearConstraint should store a sparse matrix"
I have a Drake MathematicalProgram object that takes 60GB of memory to construct.

One of the problem is that in LinearConstraint, it stores a dense matrix `A` for lb <= A*x <= ub https://github.com/RobotLocomotion/drake/blob/4d11342274394ad2d90f7cfdb12dc088b5bd55d0/solvers/constraint.h#L624. But in many cases `A` is a sparse matrix. For example, when we construct a BoundingBoxConstraint, which is

[2022-02-12 14:57] jwnimmer-tri commented on #16580
Would it make sense to change the storage for BoundingBoxConstraint, but leave LinearConstraint (and LinearEqualityConstraint) alone?  How sparse or dense is the typical non-bbox LinearConstraint?

[2022-02-12 15:31] jwnimmer-tri commented on #11303
The new grep is for `'env python3$'`.  As of v0.39.0, the list of problematic files remains only the same three as above.

[2022-02-12 22:47] jwnimmer-tri commented on #16580
My first bid would be to remove the implementation inheritance, and thus there is no `A_` in the first place.

[2022-02-14 18:37] mwoehlke-kitware commented on #16500
Note: AFAICT, this is going to have the effect of removing debug symbols from some installs. Do we want to push this through regardless and tackle that later, or hold off until that can be addressed?

[2022-02-14 18:44] jwnimmer-tri commented on #16500
None of our stable releases ship any debug symbols (they are all Release builds), so that aspect won't be a blocker.

Sometimes users will run a CMake Debug build to perform a local install, in order to debug some problem they are having.  One easy solution there might be to disable fission when invoked via CMake, with some configuration tweaks (adding `--fission=no`) near here:

https://github.co

[2022-02-14 19:04] jwnimmer-tri commented on #13571
If I'm reading the intention here correctly, then FYI in Anzu we have an implementation of this already.  We could post that code somewhere for someone to adapt it to Drake, if there was interest.

[2022-02-14 19:05] jwnimmer-tri commented on #9952
It's plausible that #16500 will be sufficient to resolve this.  We should re-test after that lands.

[2022-02-14 21:20] jwnimmer-tri commented on #13874
The recent https://github.blog/2022-02-14-include-diagrams-markdown-files-mermaid/ caught my eye.  Possibly its https://github.com/mermaid-js/mermaid#readme will be a winner in terms of a durable graph modeling language for us to build upon.

[2022-02-14 22:58] jwnimmer-tri commented on #10769
We have seen some increasing use of `EigenPtr` vs our bindings, so it would be nice to have this type_caster to remove some boilerplate.

For example, here is one recent use of the work-around:

https://github.com/RobotLocomotion/drake/blob/2f75971b66ca59dc2c1dee4acd78952474936a79/bindings/pydrake/systems/primitives_py.cc#L351-L359

[2022-02-14 23:29] #11303 closed

[2022-02-15 00:14] RussTedrake opened #16589 "this trivial linear program causes a core dump"
[code]
both on deepnote and my local machine i get a core dump.
[code]

[2022-02-15 00:17] RussTedrake commented on #16589
ChooseBestSolver returns CLP.  I'll see if I can reproduce it in C++.

[2022-02-15 00:22] rpoyner-tri commented on #16310
Our Dexai friends donated this example, which broke between v.033.0 and v.0.34.0: https://github.com/DexaiRobotics/collision_filter_breaking-example

[2022-02-15 00:23] rpoyner-tri commented on #16310
Bisect shows that the above example broke at PR #15477. Continuing to investigate.

[2022-02-15 00:40] RussTedrake commented on #16589
Adding this test to `clp_solver_test.cc` also reproduces the error:
[code]
and running under valgrid reports
[code]
That makes me think the problem is inside CLP, but I'll look some more when I'm back at the keys later.

[2022-02-15 02:44] jwnimmer-tri opened #16590 "Missing integrity checking during Diagram scalar conversion"
When a user a setting up a Diagram calls one of the Connect functions, we perform a bunch of fail-fast sanity checks to make sure that the connection makes sense -- not mixing vector vs abstract ports, matching vector sizes, matching types of abstract values, etc:

https://github.com/RobotLocomotion/drake/blob/d2b3c1021949e4db8d948fcf577a40acc1622f0e/systems/framework/diagram_builder.cc#L51-L93

H

[2022-02-15 03:12] RussTedrake commented on #16589
I believe the problem is [here](https://github.com/RobotLocomotion/drake/blob/d2b3c1021949e4db8d948fcf577a40acc1622f0e/solvers/clp_solver.cc#L31-L36): If we do not have any constraints, then we are passing null pointers into Clp.

@hongkai-dai -- can you take a look after your paper deadline?

[2022-02-15 03:35] hongkai-dai commented on #16589
Thanks for the investigation. I will fix it tomorrow.

[2022-02-15 08:13] jwnimmer-tri commented on #15815
@BetsyMcPhail @mwoehlke-kitware FYI there are some users who could immediately benefit from this, so I've upgraded its priority on the project board, to be the next ticket that's On Deck.

I think the best implementation strategy here might be to change Drake's CMakeLists to:

(1) Define a CMake option for a user to opt-out of Drake's default for Eigen; by default, we keep using the same Eigen as

[2022-02-15 12:17] RussTedrake commented on #13874
mermaid looks great, but it doesn't look to support collapsable subdiagrams.  I think that's a required feature for this.

[2022-02-15 16:29] rpoyner-tri commented on #16310
Problem isolated; working on a patch.

* thanks to typos (copy-paste errors?), the loop for multiple `drake:ignored_collision_filter` nodes only ever processes the first one.
* (of course) there are no tests in-tree for multiple nodes.

[2022-02-15 16:52] hongkai-dai commented on #16589
I am not completely sure if the null pointers (constraint_mat.innerIndexPtr(), constraint_mat.valuePtr(), constraint_lower.data(), constraint_upper.data()) in the block https://github.com/RobotLocomotion/drake/blob/d2b3c1021949e4db8d948fcf577a40acc1622f0e/solvers/clp_solver.cc#L31-L36 are the culprit here.

We also test CLP on a [QP](https://github.com/RobotLocomotion/drake/blob/02df22aa80659658ef

[2022-02-15 17:50] jwnimmer-tri commented on #12782
I am curious to hear from any macOS users who might want `cask install drake` as a C++ dependency?

My current thinking is that `pip install drake` (#15958) is much more important, and would meet the needs of many macOS users.  The option to download a [stable tar.gz archive](https://drake.mit.edu/from_binary.html#stable-releases) would remain for those who need C++.

[2022-02-15 18:11] jwnimmer-tri commented on #16379
There are still two stray mirroring jobs defined:

https://drake-jenkins.csail.mit.edu/job/linux-bionic-unprovisioned-gcc-bazel-continuous-mirror-to-s3/
https://drake-jenkins.csail.mit.edu/job/linux-bionic-unprovisioned-gcc-bazel-experimental-mirror-to-s3/

There are still three stray documentation jobs defined:

https://drake-jenkins.csail.mit.edu/view/Documentation/job/linux-bionic-unprovisioned

[2022-02-15 18:12] jwnimmer-tri commented on #16379
I might not have been totally clear (even to myself) about whether to disprefer, disable, or entirely remove these jobs.  I think removal is the right answer at this point.

[2022-02-15 18:14] jwnimmer-tri commented on #16379
I'll toss in a related task here as well, since it's probably easy to do in the same PR.

Please remove all of the bionic-based Coverage jobs (~20 of them):

https://drake-jenkins.csail.mit.edu/view/Coverage/

[2022-02-15 18:21] #16159 closed

[2022-02-15 18:29] mwoehlke-kitware commented on #16500
BTW, local testing suggests this may increase build memory usage by ~7GiB.

[2022-02-15 21:03] #16310 closed

[2022-02-15 23:54] DamrongGuoy commented on #16565
@sherm1 #16569 has merged.  If it passes Nightly CI tonight, could you please close this issue tomorrow?

[2022-02-16 00:11] sherm1 commented on #16565
I'll close it now -- we can reopen if it fails!

[2022-02-16 00:11] #16565 closed

[2022-02-16 01:03] jwnimmer-tri commented on #16448
Given the recurring glitches with apt builds, I've upgraded this to "high" priority.

I've filed #16602 with a first draft of the revised deb-making script.  It's not ready to take over production releases yet, but it should provide a solid starting point.

[2022-02-16 02:20] jwnimmer-tri commented on #14858
A few more notes from my digging...

For users who might use MKL's libblas (instead of Ubuntu libblas) at load-time, it seems like the obvious and good things will happen by default, and we can can rely on OpenMP to sort out the details, per the [MKL Developer Guide](https://www.intel.com/content/www/us/en/develop/documentation/onemkl-linux-developer-guide/top/managing-performance-and-memory/impro

[2022-02-16 02:36] jwnimmer-tri opened #16604 "Upgrade Gurobi to 9.5"
FYI see #12419 for the most recent update (which was to 9.0.2).

@hongkai-dai Do you have any vote for whether and/or when Drake should switch to using Gurobi 9.5?

[2022-02-16 16:59] BetsyMcPhail commented on #16379
Bionic mirroring and documentation jobs have been removed from CI. The following jobs are still available:

- [linux-focal-unprovisioned-gcc-bazel-continuous-mirror-to-s3](https://drake-jenkins.csail.mit.edu/job/linux-focal-unprovisioned-gcc-bazel-continuous-mirror-to-s3/) <-- Configured to publish
- [linux-focal-unprovisioned-gcc-bazel-experimental-mirror-to-s3](https://drake-jenkins.csail.mit.ed

[2022-02-16 17:44] vincekurtz opened #16607 "MultibodyPlant.GetBodiesWeldedTo() keep-alive failure"
This occurs in pydrake: I haven't tried in c++. Minimal reproduction example:

[code]

The last line fails with the following error:
[code]

This error also occurs when a weld joint is added manually, e.g.,
[code]

but does not occur when the model isn't loaded from urdf, e.g.,
[code]

Platform details:
- Ubuntu 20.04
- Python 3.8.10
- Built from source using cmake (as of commit `c95ac12807`)
- Sa

[2022-02-16 19:11] jwnimmer-tri commented on #16607
I can confirm:

[code]

[code]

[2022-02-16 19:29] jwnimmer-tri commented on #16607
@EricCousineau-TRI can you help us figure out where to choose `return_value_policy::reference` for the `return_value_policy::reference`?

https://github.com/RobotLocomotion/drake/blob/5a1d6c3ddb9fa08dae99387068669de34032a800/bindings/pydrake/multibody/plant_py.cc#L720-L727

[2022-02-16 20:45] jwnimmer-tri commented on #16607
I wonder if this is because the list of welded bodies is wrong (missing the non-world body), which could be a bug in the C++ multibody graph accounting @joemasterjohn @amcastro-tri FYI.

[2022-02-16 21:08] BetsyMcPhail commented on #16379
Bionic coverage jobs have also been removed.

[2022-02-16 21:08] #16379 closed

[2022-02-16 23:01] #13778 closed

[2022-02-17 16:07] hongkai-dai opened #16615 "Report the type of contact for the whole system."
I often find that I need to check the type of contact for each pair of collision geometries, as we support different types under different situations. Currently we have

1. compliant-to-compliant hydroelastic contact.
2. rigid-to-compliant hydroelastic contact.
3. point-to-point contact.

And depending on the scalar type (T = double versus T=autodifff), the same pair of geometries can incur differ

[2022-02-17 16:52] BetsyMcPhail commented on #10769
@jwnimmer-tri would a good demonstration of the failure for this be to replace a Eigen::Ref workaround with EigenPtr in the bindings and see what fails? Do you have a specific example that would be good to try?

[2022-02-17 23:07] jwnimmer-tri commented on #16607
Actually, the result is correct:

[code]

There is also a C++ unit test that checks this:

https://github.com/RobotLocomotion/drake/blob/73958436fb6d19649efc4b4350e43f16274b4a20/multibody/plant/test/multibody_plant_test.cc#L1478-L1488

So, not an MbP C++ bug, it's just some pydrake bindings issue.  I have no idea why one works in pydrake and the other doesn't.  Hopefully @EricCousineau-TRI can hel

[2022-02-17 23:10] jwnimmer-tri commented on #16607
Oh, I know why the final example works:
[code]

The base_link `Body<double>&` reference is returned by `plant.AddRigidBody` back into Python, so pybind11 knows that that reference is internal and already owned because Python added the body, so it knows not to copy it again.  So that mystery is solved, at least.

The overall bug remains though -- the `py_keep_alive_iterable<py::list>` binding is br

[2022-02-17 23:14] jwnimmer-tri commented on #16607
For now, here is a work-around ... if you fetch _all_ of the bodies prior to asking for what's welded, then we can avoid the exception:

[code]

[2022-02-18 00:31] #16579 closed

[2022-02-18 01:10] xuchenhan-tri opened #16620 "Geometry tests should use proper googletest spelling for type-parameterized test"
Many of our tests in the geometry namespace has the flavor:
[code]
We should use the TYPED_TEST from google test:

[code]

[2022-02-18 01:11] xuchenhan-tri commented on #16620
Assigned to @rpoyner-tri for delegation.

[2022-02-18 06:52] #16554 closed

[2022-02-18 18:29] jwnimmer-tri commented on #15815
It requires to touch an empty `WORKSPACE` file, yes.  That doesn't seem like a meaningful problem?

[2022-02-19 00:18] richardrl opened #16627 "Multiple contact forces between Box and larger Box below it"
For a small stacking demo, where the top box is initialized with a small orientation offset from the bottom box, there is this strange behavior where there are 2-4 contact forces reported by:

`        ConnectContactResultsToDrakeVisualizer(builder, plant, scene_graph, lcm)
`

when I assume there should only be 1.

https://user-images.githubusercontent.com/5181990/154777307-492a562b-e61f-41e3-9831

[2022-02-19 00:30] richardrl commented on #16627
lcm output:

![image](https://user-images.githubusercontent.com/5181990/154778089-4cf035de-a1f0-49c6-ad7f-4fe958116873.png)

[2022-02-20 04:21] richardrl opened #16634 "Compliant-compliant contact between simple box objects doesn't work"
https://user-images.githubusercontent.com/5181990/154828280-e2d422f4-86e3-4dae-80a7-2f187d9efbf7.mp4

Here is a minimum reproducible example that only requires pydrake and numpy.
[min_reproducible_hydroelastic_bug.zip](https://github.com/RobotLocomotion/drake/files/8103425/min_reproducible_hydroelastic_bug.zip)

I am using this binary: https://drake-packages.csail.mit.edu/drake/nightly/drake-lates

[2022-02-20 04:22] richardrl commented on #16634
@DamrongGuoy Hi Damrong, I saw you were managing this feature. Do you have any insight into what is happening?

[2022-02-20 05:53] DamrongGuoy commented on #16634
Embarrassingly I do not know how to run python.  Could you please tell me steps by steps on how to run your example?  In the past, I only work with C++ examples.  It's time for me to learn python. :smile:

I quickly looked at `min_reproducible_hydroelastic_bug.py` and do not see settings about hydroelastic modulus (to say how rigid or compliant the boxes are). Would you like it to be like water, p

[2022-02-20 07:37] jwnimmer-tri commented on #16634
See https://github.com/RussTedrake/manipulation/blob/master/manipulation/scenarios.py.

[2022-02-20 10:58] richardrl commented on #16634
Hi @DamrongGuoy, thanks for your detailed response!

Will spend more time looking into this later today, but my initial investigation of the setting I am using reveals:

AddCompliantHydroelasticProperties(resolution_hint=0.01, hydroelastic_modulus=1, properties=properties)

This is a function I am calling in pydrake.geometry. I’m not sure if the units are the same as you gave, but this is certainl

[2022-02-20 17:04] RussTedrake opened #16636 "Algebraic loop causes confusing "Recursion limit error""
Posted on Stack Overflow:
https://stackoverflow.com/questions/70910589/recursion-error-while-evaluating-contact-information
with a small notebook reproducing the error.

The diagram was constructed with MBP contact_results looping directly back to the MBP actuation_input_port as seen in this diagram:
![algebraic_loop](https://user-images.githubusercontent.com/6442292/154854491-9df11483-461c-4256-8

[2022-02-20 18:36] jwnimmer-tri commented on #16636
Possibly related to #12786?  If so, then there is a fail-fast diagnostic already in place, but possibly not when using point contact?

https://github.com/RobotLocomotion/drake/blob/6e0c78de480f9f6fec4d3ad0448d77f20259cf08/multibody/plant/compliant_contact_manager.cc#L443-L455

[2022-02-20 21:23] richardrl commented on #16634
@DamrongGuoy Yep, changing the modulus certainly helped, I guess the low hydroelastic modulus was treating the materials like water. It definitely looks much better than the point contact model in #16627

It's not perfect when the red box is near the edge of the blue box though. When you drop it, it looks like the red box creates a ball joint at one of the vertices and oscillates with respect to t

[2022-02-20 23:15] jwnimmer-tri commented on #13683
I have this working locally ([git branch is here](https://github.com/jwnimmer-tri/drake/commits/meshcat-proxy)).  I'll try it out on Colab now.

[2022-02-21 03:49] richardrl commented on #16634
Strangely, something I changed made things way better. If you look at the example script I posted, I set the initial poses with AddShape (from scenarios.py) which calls:
[code]

However, I noticed if I initialized the cube in identity orientation and at the origin position, _then_ set the poses, the hydroelastic simulation works much much better.

[2022-02-21 12:48] BetsyMcPhail opened #16640 "CI Mosek and Gurobi Licenses"
The Mosek and Gurobi licenses expire next month.

Mosek March 17
Gurobi March 28

@RussTedrake can you please help coordinate the license renewal? I can update CI when the updated licenses are available.

[2022-02-21 15:07] amcastro-tri commented on #16575
Per review comment in 16618.
Consider similar instance in future PRs, specifically the ones where the BlockSparseJacobian of the system is built.

[code]

[2022-02-21 15:30] DamrongGuoy commented on #16634
@richardrl Thank you for the update. I'm glad it's getting better.

I wonder whether `lcm-logger` would be helpful here. Use `lcm-logger` to record LCM messages. Then, use `lcm-logplayer-gui` to go one step at a time, so you can see what it is doing at each time step.
[code]
![image](https://user-images.githubusercontent.com/42557859/154984961-c3c42093-1e10-465f-9f79-a3c64c279bda.png)

If you can

[2022-02-21 17:55] #13362 closed

[2022-02-21 19:01] jwnimmer-tri opened #16642 "Update CI AMIs for Ubuntu"
Per #16622, the Ubuntu AMIs in CI should gain a new `libomp-9-dev` package installed.  Please push out this update.

[2022-02-21 21:29] xuchenhan-tri opened #16643 "MultibodyPlant Tutorial"
As discussed in #12912, we currently don't have tutorial covering how MbP works. Russ and I started a sketch tutorial in [deepnote](https://deepnote.com/project/Authoring-a-Multibody-Simulation-jnoKyVLkS5CYUgHG3ASsBA/%2Fauthor_multibody_sim.ipynb) that touches on the following aspects mentioned in #12912:

- Authoring and parsing an SDF file.
- Reading and writing a pose.
- Running a simulation wi

[2022-02-21 22:51] jwnimmer-tri commented on #13683
The #16639 should be close to its final form, now.  Still need to figure out how to manually test it thoroughly.

[2022-02-21 23:02] jwnimmer-tri commented on #16642
(Requested ETA: prior to next Monday, Feb 28th.)

[2022-02-22 02:19] DamrongGuoy commented on #16634
@richardrl Could you please close this issue?  Or do you still have questions?

[2022-02-22 16:01] BetsyMcPhail commented on #16380
Update from our contact at Mac Stadium - hopefully we'll be getting to test out M1s a bit sooner than anticipated:  "Orka 2.0 has been released.  If it’s ok with you I’ll go ahead and enter a ticket to get you in line to get a free test cluster."

[2022-02-22 16:54] mwoehlke-kitware commented on #15815
Okay... fun things I've found:
- Drake ***only*** works with fmt 6.1.2 (possibly with 6.2.x). Newer versions (fmt ≥ 7) result in build errors in Drake.
- fmt 6.x installs its headers to `include` by default, but Drake ***requires*** that they are installed in `include/fmt`. **Use `-DFMT_INC_DIR:PATH=include/fmt`.** (fmt ≥ 7 DTRT by default but aren't usable; see previous point.)
- spdlog should be

[2022-02-22 17:16] RussTedrake commented on #13683
This sounds awesome.  Just to confirm... this does not and can not address Colab, correct? (you got my hopes up when I saw you wrote "I'll try it on Colab now", but I see that it's been edited Colab=>Deepnote.). FTR -- I have a thread on ngrok alternatives here: https://github.com/RussTedrake/manipulation/issues/146 .

[2022-02-22 17:22] mwoehlke-kitware commented on #15815
I have no idea. There are static asserts thrown about no formatter being available. (I don't think I have logs any more.)

[2022-02-22 17:22] duanyutong commented on #15815
To clarify, we haven't built drake with fmt 8.0.1. We use the prebuilt drake release in an image with fmt 8.0.1 installed to the default system location.

https://github.com/DexaiRobotics/drake-torch/blob/master/drake-torch.dockerfile#L165-L173

[2022-02-22 17:32] jwnimmer-tri commented on #13683
In other news, I've dug into the Deepnote permission options, in terms of pinning and upgrading the environment (to provide a specific version of Drake, and our dependencies).  Rico helped me learn and explore some options.  Here's what I've learned:

The only pinning technology we _cannot_ use is the one currently being used -- where the "Environment Docker image" specifies a DockerHub tag.  Even

[2022-02-22 17:40] jwnimmer-tri commented on #13683
Right, the currently-proposed configuration (#16639) of the nginx daemon would not help with Colab.  It multiplexes all of the meshcat servers onto a single server port 8080, so that they all have an inbound route from the public internet.

The version of this tactic for Colab would be doing that and _also_ auto-configuring the ngrok outbound connection from nginx to the outside world, as part of

[2022-02-22 17:47] jwnimmer-tri commented on #15815
That's confusing because we use `fmt==8.1.1_1` on homebrew, with no problems.

In any case, I think it's fine to merge the current PR where only the backdated versions of spdlog & fmt appear to succeed.  Then separately, we can open a new issue to follow-up to make Drake forward-compatible with the latest spdlog & fmt.

[2022-02-22 18:06] mwoehlke-kitware commented on #15815
Okay, fmt=8.1.1 and spdlog=1.9.2 seems to work. I'm pretty sure I had problems with fmt 7 and fmt master.

[2022-02-22 18:09] RussTedrake commented on #13683
Re: colab.  Good point.  It might be still be an improvement over the current ngrok code, since there is a limit to the number of ports we can tunnel on the free ngrok account.

[2022-02-22 18:11] RussTedrake commented on #13683
Re: deepnote, you should definitely be able to update the docker instance.  I just looked at the settings, and see that by default you were added as "edit" access instead of "full access".  Moreover, you were added to the project, but not the team.  I've upgraded your status on the project and sent you an invite for the team.

[2022-02-22 18:23] jwnimmer-tri commented on #13683
The "full access" permissions appears to allow me to Delete the entire Tutorials project.  Is that a level of access we want to give out widely?

Whatever access level we choose for updating tutorials does need to be given out widely, e.g., to most people who have commit access to merge Drake PRs, who are regular contributors, etc.  It's not valid long-term for a select few of us to become a deplo

[2022-02-22 20:00] jwnimmer-tri commented on #15815
Hmm.  The `#include <fmt/ostream.h>` atop `symbolic_decompose.cc` is supposed to have the user-defined formatter come from `Expression::operator<<`.  Maybe something with the ostream compatibility API has changed in recent fmt.

[2022-02-22 20:04] ggould-tri opened #16648 "GeometrySet doxygen does not document any Add() methods"
If you read https://drake.mit.edu/doxygen_cxx/classdrake_1_1geometry_1_1_geometry_set.html you will see that it mentions methods called `Add()` and `add()` but neither appears in the documentation.

In fact the latter method does not exist and the former has solidly ten overloads none of which appears in the docs.  This makes it somewhat baffling to try to write code that manipulates geometry sets

[2022-02-22 20:09] sherm1 commented on #16648
Assigning to Rico for disposition.

[2022-02-22 22:02] DamrongGuoy commented on #16615
This is a relevant slack [conversation](https://drakedevelopers.slack.com/archives/C2WBPQDB7/p1645558851730439) that might be handy later.  It's about looking for all collision geometries of type compliant_hydroelastic.

This is @joemasterjohn's code that could be useful:
[code]
Thanks to @ggould-tri for asking the question in slack.

[2022-02-22 22:03] BetsyMcPhail commented on #16642
The Bionic and Focal images have been updated. As usual, it may take Jenkins awhile to cycle through and use the new images.

[2022-02-22 22:03] #16642 closed

[2022-02-23 00:15] #16648 closed

[2022-02-23 15:30] DamrongGuoy commented on #16634
I close this issue now because I do not hear from @richardrl for two days.  Please feel free to re-open this issue again with more questions.

[2022-02-23 15:30] #16634 closed

[2022-02-23 15:58] BetsyMcPhail commented on #16383
@alesgenova this may a good issue to look at next

[2022-02-23 16:50] jwnimmer-tri commented on #16627
+@sherm1 to assign someone to reply.

[2022-02-23 20:04] mwoehlke-kitware commented on #15815
As discussed on Bazel, spdlog/master is apparently ancient and crufty. So, probably not surprising it doesn't work.

It's also possible things fall apart if the fmt and spdlog versions are not matched (e.g. I'm not sure that 7.x/1.6 or 8.x/1.6 work).

[2022-02-24 16:03] TobiaMarcucci opened #16663 "Check boundedness of `Intersection` of convex sets"
As discussed with @RussTedrake and @mpetersen94, currently the boundedness check for the `Intersection` of convex sets throws unless any of the intersected sets are bounded. But it can be that even if all of the sets are unbounded the intersection is bounded. Here I report the math (might need some cleaning) that I believe we should implement for this check.

- The problem of determining if the in

[2022-02-24 16:15] EricCousineau-TRI commented on #16663
(Just assigning based on [Platform Reviewer Checklist](https://drake.mit.edu/platform_reviewer_checklist.html) - please change if need be!)

[2022-02-25 16:45] samzapo commented on #12757
@amcastro-tri I just stumbled upon this issue again.
`Body`
[code]
and then `Joint`
[code]

[2022-02-25 17:05] #10769 closed

[2022-02-25 18:02] jwnimmer-tri opened #16675 "Upgrade externals to latest - March 2022"
Follow [Semi-automated monthly upgrades](https://github.com/RobotLocomotion/drake/blob/master/tools/workspace/README.md#semi-automated-monthly-upgrades) documentation.

Prior issue: #16481.

With a 1.0 coming up, I'd like to do this sooner rather than later to give more time to smoke out any problems.

[2022-02-25 18:06] #14770 closed

[2022-02-25 18:17] jwnimmer-tri opened #16676 "Drake's realsense2_description is unused"
Per https://github.com/RobotLocomotion/drake/pull/14080#pullrequestreview-490046631:

As best I can tell, nowhere in Drake, underactuated, nor manipulation has started using the these realsense2_description files yet.

@RussTedrake is your plan still to add a realsense2 to the manipulation_station?

I ask because its `package.xml` is messed up (and we never noticed), so we're either going to need

[2022-02-25 18:25] jwnimmer-tri commented on #16482
Fixed by #16665.

[2022-02-25 18:25] #16482 closed

[2022-02-25 19:31] jwnimmer-tri commented on #14757
Several of the fixes have recently been deployed; I've checked them off in the list above.

[2022-02-25 20:28] jwnimmer-tri commented on #13058
I did a quick skim today.  On first look, it does seem possible to unfork ourselves, and return to upstream pybind11.

We have many functions that return a `unique_ptr`.  This is already supported upstream in the obvious way (they become shared).

The places where in our public API have `unique_ptr` as an input are where the challenge comes in.

There seem to be a few broad categories where `uniqu

[2022-02-25 20:38] EricCousineau-TRI commented on #13058
Re: upstream merging, there is also support for `unique_ptr<>` as input:
https://github.com/pybind/pybind11/blob/smart_holder/README_smart_holder.rst
It is not strictly upstream per se, going to be better than our current implementation.

Been meaning to integrate it, but has been low on my queue, e.g. https://github.com/RobotLocomotion/pybind11/pull/56

[2022-02-26 20:07] jwnimmer-tri commented on #16676
Hopefully not too difficult.  We'd need to:

(1) Remove `drake/manipulation/models/realsense2_description/package.xml` from our runfiles and installed files tree:

https://github.com/RobotLocomotion/drake/blob/246778b8d4124f689eb7b5eb2beaa8a130d38bba/tools/workspace/intel_realsense_ros/files.bzl#L10

(2) Replace `package://realsense2_description` to say `package://drake/manipulation/models/realsen

[2022-02-28 14:39] amcastro-tri commented on #12757
ok, lets fix this thing.
My only concern here is how to go about deprecation since clearly changing the behavior of this method would entail a breaking change.
Any recommendations @sherm1, @jwnimmer-tri  on how to go about this?
That is, if we want (and we do) to change the behavior of `Body::floating_velocities_start()` (to return a completely different index), what is the process to land such a

[2022-02-28 15:53] #14702 closed

[2022-02-28 16:39] jwnimmer-tri commented on #12757
I see.  The path forward is to add a new function name with the semantics you want, and deprecate the function with the old name.

[2022-02-28 16:46] amcastro-tri commented on #12757
The problem is that I think we'd like to keep the "old name".
Unless @samzapo or @sherm1  have other name suggestions in mind?

[2022-02-28 16:49] jwnimmer-tri commented on #12757
Using a slightly more awkward name is a low price to pay in order to avoid breaking your users.

[2022-02-28 18:24] sherm1 commented on #12757
I agree we should go with an awkward name first. For example we could do this:
- add `floating_velocities_start_in_v()` with the correct behavior
- deprecate `floating_velocities_start()`
- later, remove `floating_velocities_start()`

Then if we hate the new name:
- add `floating_velocities_start()` with the correct behavior, deprecate `floating_velocities_in_v()`
- later, remove `floating_velocit

[2022-03-01 00:09] sherm1 commented on #16627
I can't tell from this issue whether there is something wrong.
@DamrongGuoy can you take a quick look to see if you understand the complaint here? (You looked at a related one in #16634)

[2022-03-01 00:14] #10531 closed

[2022-03-01 00:24] #16675 closed

[2022-03-01 16:23] mwoehlke-kitware commented on #14570
Can someone briefly explain how these are generated? (As in, hints to someone trying to fix this where to go looking?)

[2022-03-01 16:33] jwnimmer-tri commented on #14570
First to set the stage, this ticket is not very important in the overall landscape of Drake.  Per a chat with @BetsyMcPhail it only got pulled onto the project board as an onboarding ticket for @alesgenova.  It's fine to have @alesgenova (or any other new onboarding Kitware contributor) work on it, but I'd prefer if we could have you (@mwoehlke-kitware) focus the more important tickets from the bo

[2022-03-01 17:02] jwnimmer-tri opened #16693 "CMake option to use user-provided Eigen"
Exactly like #15815, but this time for `Eigen`.

[2022-03-01 17:03] jwnimmer-tri commented on #15815
Upthread, I'd added "Eigen" into the requirements here, but perhaps most clear would be to keep this issue about fmt and spdlog only, and treat Eigen separately afterwards.  I've filed #16693 to that end.  Once #16652 merges, we can close out this issue.

[2022-03-02 13:51] RussTedrake commented on #12876
Note:  I tested whether setting `MSK_IPAR_INTPNT_SOLVE_FORM = MSK_SOLVE_PRIMAL` would resolve this issue (it has resolved many other numerical issues we've had with mosek).  Unfortunately, it does not.

[2022-03-02 17:38] #15815 closed

[2022-03-02 21:10] #16693 closed

[2022-03-02 23:36] jwnimmer-tri commented on #14670
At this point, perhaps the best option is to actually just wait for Ubuntu 22 ("Jammy") CI builds to appear, and then use C++17 on Focal and C++20 on Jammy, by default.  That way, CI configs and user configs could be just the same.

[2022-03-03 15:15] jwnimmer-tri commented on #16448
For clarity -- as part of this transition, we will no longer ship the `drake-doc` package.

[2022-03-03 15:21] jwnimmer-tri commented on #14652
New plan: wait until Bionic is gone and then switch to Focal's newest (probably 12).

[2022-03-03 15:38] jwnimmer-tri opened #16706 "Move YamlReadArchive and YamlWriteArchive to internal namespace"
As discussed in #15868.

The plan will be to deprecate the non-internal names, and then later move them to internal one that window expires.

The one thing we'll need to figure out is the `Options` struct which should _not_ move into internal.

[2022-03-03 18:19] BetsyMcPhail commented on #16640
A Slack notification reminded us that the Mosek license expires soon (2 weeks from today). @RussTedrake let me know if there's anything I can do to help.

[2022-03-03 18:36] jwnimmer-tri commented on #16676
I figured I would just go fix this since it should be easy, but I got stuck trying to find the box that should be replaced with this camera mesh.  Do you have any pointers to where I should change?

Or is the request that `ManipulationStation::Finalize` should add illustration geometry for the cameras in `camera_information_`?  It seems to only add the sensor modules, not any geometry.

[2022-03-03 18:59] #16459 closed

[2022-03-03 19:01] jwnimmer-tri opened #16708 "Drake v1.0.0 apt packages"
Follow-up from #16601:

Please manually tag docker images and upload the releases to S3.

Binary date: `20220303`
Commit SHA: `06e1deb12539f05eff968c5bd9e11d259916f268`
Release tag: `v1.0.0`

[2022-03-03 19:43] jwnimmer-tri opened #16709 "Investigate wheel build's Dockerfile clean-up"
For users who locally run our `drake/tools/wheel/build-wheels` tool, we should be careful ensure that we don't fill up the user's disk with cached layers.

Hopefully an automatic solution is available, but failing that some documentation for how to clean up manually, after you're done trying things, would also be fine.

See #16707 for a bit more discussion, especially the link to [`docker builder

[2022-03-04 08:04] Michael-collide commented on #15261
Hi, I have some questions. The library which drake used to collision detected is different from the FCL(https://github.com/flexible-collision-library/fcl)?Is Drake collision detection based on FCL? Or where can I find the difference?

I also have some questions about [test_fcl_sphere_box.cpp](https://github.com/flexible-collision-library/fcl/blob/master/test/test_fcl_sphere_box.cpp#:~:text=//%20TO

[2022-03-05 13:00] RussTedrake commented on #16640
I've supported the support request to renew gurobi, and will send the mosek update to you directly.

[2022-03-05 13:58] RussTedrake commented on #16676
Thanks.  I have a placeholder https://github.com/RussTedrake/manipulation/blob/master/manipulation/models/camera_box.sdf that gets loaded from a few places.  My aim is to replace that we the realsense geometry.

[2022-03-05 17:44] jwnimmer-tri commented on #16676
Is there anywhere inside of Drake itself where you'd like us to use this model?

Drake is not a model repository for other projects to use; any models in Drake's build system [must be referred to by some example or demo](https://drake.mit.edu/model_version_control.html).

If this model won't be used in Drake, then I'd rather focus our time on issues like #9498 or #15024 instead, so that you can po

[2022-03-05 20:06] RussTedrake commented on #16676
Right now the manipulation station has `MakeD415CameraModel` but does not actually add the camera geometry.  It should.

The reason I didn't recommend that immediately, is because it's not as drop in of a replacement and because of #14992.  I consider the ManipulationStation the manipulation repo the current best version.

[2022-03-07 07:13] odellus opened #16722 "OOM errors when building python bindings"
I'm using a MSI Laptop with an 8 core i7 and 16 Gb of RAM.

Steps to reproduce:

[code]
Error
[code]
I added build --verbose_failures --sandbox_debug to `tools/bazel.rc`. Running the command that fails when using --verbose_failures causes the terminal window to exit.

Looks like OOM errors from dmesg.

[2022-03-07 07:14] odellus commented on #16722
Changing the amount of host ram from 0.67 total amount to 0.9 of system total memory in addition to reducing the number of concurrent jobs from 8 to 4 allowed me to finally build drake w/python bindings from source.

Wanted to go ahead and open the issue because I struggled w/this and maybe putting it out there will help someone else. The problematic file causing the system to OOM was multibody_pl

[2022-03-07 07:14] #16722 closed

[2022-03-07 15:52] EricCousineau-TRI commented on #15613
Going to carve out "variant" stuff to separate issue.

[2022-03-07 15:52] EricCousineau-TRI commented on #15613
Closing this in lieu of #8946

[2022-03-07 15:52] #15613 closed

[2022-03-07 18:02] sherm1 commented on #15261
@Michael-collide please direct Drake questions to Stackoverflow with tag "drake" and fcl questions to its GitHub site.

[2022-03-07 19:34] jwnimmer-tri commented on #5842
Given that pybind11 upsteam just repaved over the entire universe with `clang-format` (https://github.com/pybind/pybind11/pull/3713), continuing to maintain our fork will be even more work.

[2022-03-07 20:42] EricCousineau-TRI commented on #5842
Agreed it will be more work, but I think reformatting our tree (hopefully idempotent with very small span of fixed points) will help PR merging. Planning to do another update in April.

[2022-03-07 21:00] shensquared commented on #13874
I was just searching for interactive (i.e. collapsable) mindmap/diagram libraries myself and came across this issue. https://github.com/gera2ld/markmap (their [demo](https://markmap.js.org/repl/)) fit my bill. Not too sure about the specific needs here, but sharing fwiw.

[2022-03-07 23:00] EricCousineau-TRI commented on #14485
For soothe - closing.

[2022-03-07 23:00] #14485 closed

[2022-03-08 17:24] BetsyMcPhail commented on #16380
We have an Orka 2.0 onboarding meeting with MacStadium on Thurs 3/10

[2022-03-08 19:23] aminya commented on #13705
Yes. Graphviz can perfectly do this.

[2022-03-08 19:45] zachfang commented on #15918
We have spent some time evaluating different options, and `glTF` is the most promising scene format for our needs. Thus, our initial prototype is designed to use `glTF` to communicate between a client and a server.

[2022-03-08 19:45] #15918 closed

[2022-03-08 19:51] zachfang commented on #15916
The project has decided to use the [curl library](https://curl.se/libcurl/) with the HTTP protocol to communicate between client/server.

[2022-03-08 20:18] zachfang commented on #15917
As the API for the prototype, we have one single function call between a render client and a server. `RenderOnServer()` takes `scene_path` for the 3D scene description with the other necessary camera parameters and returns a file path for the rendered image, which the client can load on Drake's side.

[code]

This API is subject to change, and we will mark it as `experimental` when the RenderRpc c

[2022-03-08 20:18] #15917 closed

[2022-03-08 20:29] zachfang commented on #15920
All the prototyping is done mainly in  #16234, and the subsequent PRs (#16556, #16595).

[2022-03-08 20:29] #15920 closed

[2022-03-08 20:34] zachfang commented on #15919
All the prototyping is done mainly in #16234, and the subsequent PRs (#16533, #16504, #16556, and #16609).

[2022-03-08 20:34] #15919 closed

[2022-03-08 21:09] #16676 closed

[2022-03-09 00:49] AlexandreAmice opened #16732 "Jupyter Kernel Dying when using AddSosConstraint"
Consider the following:

[code]

If this cell is run in a Jupyter notebook, the kernel simply dies and gives no error message.

When run as a standalone python script, the terminal prints out "Constraint 2 is empty"

There appears to be some sort of parsing error in the AddSosConstraint

[2022-03-09 01:06] jwnimmer-tri commented on #16732
I can reproduce the problem.  The CSDP library calls the C `exit()` function.

[code]

https://github.com/coin-or/Csdp/blob/0dcf187a159c365b6d4e4e0ed5849f7b706da408/lib/sortentries.c#L92

Obviously, we'll need to patch CSDP to report errors a different way, instead of quitting the entire program.

I haven't yet looked into whether the program / constraints are malformed or not.

[2022-03-09 01:16] AlexandreAmice commented on #16732
Can confirm that using Mosek to solve the program runs without crashing and returns that the program is infeasible.

[2022-03-09 01:29] hongkai-dai commented on #16732
Mathematically here is what happens:
1. since V_sym = x[0]**4 - 2 * x[0] * u[0], by calling AddSosConstraint(V_sym), we first compute the monomial basis for V_sym, which is x[0]**2. Hence we end up with a constraint
   `x[0]**4 - 2 * x[0]*u[0] = a * x[0]**4`
   ` a >= 0 `
2. By comparing the coefficients of `x[0]**4 - 2 *  x[0] * u[0]` and `a * x[0]**4`, we end up with the constraint
   `1 == a`

[2022-03-09 01:38] hongkai-dai opened #16735 "MathematicalProgram checks adding constraints without decision variables."
As mentioned in #16732. If we add constraint like `1 == 0` which doesn't involve any decision variables, some of the solvers will terminate unexpectedly.

We could check these when we add constraint through `MathematicalProgram::AddConstraint` (for linear constraints only). If a row of the constraint has coefficients for all variables being zero, then we can either remove that row (if the constrai

[2022-03-09 02:10] jwnimmer-tri commented on #16732
==> #16736

[2022-03-09 14:52] amcastro-tri opened #16738 "SAP Solver PR train"
This issue provides a sketch of the PR train needed to complete the [SAP solve project](https://github.com/RobotLocomotion/drake/projects/10). Refer to the project's description for more information.

Find [SapSolver project here](https://github.com/RobotLocomotion/drake/projects/10). Full working prototype in https://github.com/RobotLocomotion/drake/pull/16543.

- [x] [SapContactProblem](https://

[2022-03-09 16:55] sherm1 commented on #16738
Should we add "support joint locking" to this list?

[2022-03-09 17:50] zachfang opened #16744 "RenderRpc: promote HttpService to Drake master"
Finalize HttpService class implementation, its unit tests, and documentation. Go through the Drake platform review to merge the code to master.

Relates: #16702

[2022-03-09 17:52] zachfang opened #16745 "RenderRpc: promote HttpServiceCurl to Drake master"
Finalize HttpServiceCurl class implementation, its unit tests, and documentation. Go through the Drake platform review to merge the code to master.

Relates: #16723
Requires:
- [x] #16744

[2022-03-09 17:56] zachfang opened #16746 "RenderRpc: promote RenderClient to Drake master"
Finalize RenderClient class implementation, its unit tests, and documentation. Go through the Drake platform review to merge the code to master.

Relates: (TODO add PR number)

[2022-03-09 17:57] zachfang opened #16747 "RenderRpc: promote RenderEngineGltfClient to Drake master"
Finalize RenderEngineGltfClient class implementation, its unit tests, and documentation. Go through the Drake platform review to merge the code to master.

[2022-03-09 18:03] zachfang opened #16748 "RenderRpc: promote vtk_render_server_backend to Drake master"
Finalize vtk_render_server_backend implementation, its unit tests (if any), and documentation. Go through the Drake platform review to merge the code to master.

[2022-03-09 18:07] zachfang commented on #16748
The Vtk backend will serve as a working example and a facilitator for the client/server integration test. The current proposal is to have the code live in the `geometry/render/test` or `geometry/render/test/server_example` (or similar).

[2022-03-09 18:11] zachfang opened #16749 "RenderRpc: promote gltf_render_server script to Drake master"
Finalize gltf_render_server script and its documentation. Go through the Drake platform review to merge the code to master.

[2022-03-09 18:13] zachfang commented on #16749
The `gltf_render_server` will serve as a working example to launch a server implementation. The current proposal is to have the code live in the geometry/render/test or geometry/render/test/server_example (or similar).

[2022-03-09 18:20] zachfang opened #16750 "RenderRpc: documentation of the HTTP protocol"
Finalize the API documentation for the HTTP protocol between client/server communication.

[2022-03-09 18:54] BetsyMcPhail commented on #16708
Note that in #16678 and the follow-up  [drake-ci #135](https://github.com/RobotLocomotion/drake-ci/pull/139) **setup_drake_colab.py** was removed. The portion of the `push_release` script dealing with this file needed to be removed.

[2022-03-09 18:58] BetsyMcPhail commented on #16708
Docker images and S3 are all set.

Still working on apt packages.

[2022-03-09 20:15] #15916 closed

[2022-03-09 21:17] DamrongGuoy commented on #16738
It is so great to see the plan. Thank you!

[2022-03-09 21:56] BetsyMcPhail commented on #16708
Apt packages are also done

[2022-03-09 21:56] #16708 closed

[2022-03-09 22:37] jwnimmer-tri commented on #16043
See also #13689 and #11746.

[2022-03-09 22:37] jwnimmer-tri commented on #13689
See also #16043.

[2022-03-09 23:04] jwnimmer-tri commented on #13689
I think allowing for this in the SDFormat text is a nice win.

On another angle, maybe a nice way to support these use cases is when calling `Parser::AddModelFromFile` the user could choose whether `<visual>` geometry defaults into illustration, perception, or both.  That would allow using one model file for multiple purposes, without forking it into different copies.  Or alternatively, make it a

[2022-03-10 08:38] Michael-collide commented on #15261
I'm sorry ~Thanks for your reminder!

[2022-03-10 20:39] #15868 closed

[2022-03-10 21:04] BetsyMcPhail commented on #16380
MacStadium needs some more time to properly configure the Orka installation, they will be rescheduling the meeting.

[2022-03-11 10:51] RussTedrake commented on #13514
The cmake entry point is still the official entry point for running the install scripts that supports setting all of our documented options.

[2022-03-11 17:07] shensquared commented on #13874
Chatted with Russ a bit yesterday and I understand the needs better now. https://js.cytoscape.org/ and its plugin https://ivis-at-bilkent.github.io/cytoscape.js-expand-collapse/ looked promising.

Building on top of those (and some other auxiliary libs, all MIT license), I cobbled together https://shensquared.github.io/diagram-proto/demo.html. The interaction isn't intuitive yet, so here's a gif.

[2022-03-12 03:12] DamrongGuoy commented on #16278
@joemasterjohn is drafting PR #16753 that should fix this issue #16278.

[2022-03-12 04:14] DamrongGuoy commented on #9125
@rcory could we close this issue now?  I see drake_visualizer can report per-collision-pair contact results now.  This is what I saw in the scene browser. It reports contacts with chopper_1::blade_handle_{top, vertical, horizontal, bottom_rear}_collision.

![image](https://user-images.githubusercontent.com/42557859/158003178-e2a0f5f9-a684-4880-89c4-6dcd1f283d00.png)

[2022-03-12 04:46] DamrongGuoy commented on #13745
Fixed by #14664 a year ago.

[2022-03-12 04:46] #13745 closed

[2022-03-12 12:18] Neotriple commented on #12782
@jwnimmer-tri

Think this would b

Would love to have this option.

[2022-03-12 14:23] RussTedrake commented on #16442
I also think that we should provide a method that constructs a new program as the augmented Lagrangian of the original problem.  (e.g. `AddDecisionVariables` for the original decision variables, taking the current value for the multipliers as an argument, and then `AddCost` for the augmented Lagrangian cost), no?  I guess we also need to provide the updates for the multipliers.  But that way all o

[2022-03-13 00:41] SeanCurtis-TRI commented on #9125
It's worth noting that it's only *partially* resolved. If I recall correctly, point contact isn't resolved so nicely.