[2020-08-31 13:17] avalenzu commented on #11551
Now that the bushing element can be parsed from SDF, should we consider un-doing #8819 and seeing if we can live with the simulation speed of the closed-loop model?

[2020-08-31 13:27] SeanCurtis-TRI commented on #13934
FTR Given a frame id, you can always ask the `SceneGraphInspector` for its name. `MBP` cobbles together a frame name based on model instance and body name.

[2020-08-31 13:37] RussTedrake commented on #3109
@sherm1 -- i'm not sure there is anything left to do on this one?  consider closing it?

[2020-08-31 14:04] ggould-tri opened #13975 "plot_graphviz / GetTopologyGraphvizString generates too-small-to-read figures"
This notebook https://colab.research.google.com/github/RussTedrake/manipulation/blob/master/pick.ipynb#scrollTo=wSa5QcU0Piak in @RussTedrake 's course materials makes this stylish little kinematic tree graph:
![download](https://user-images.githubusercontent.com/17596413/91728246-d4f65780-eb70-11ea-8b32-646413754e07.png)
Emphasis on "little" -- that image is 350x218 pixels, and many of the letters

[2020-08-31 14:42] RussTedrake commented on #13975
Thanks Grant!  But I think the *right* solution is to render with javascript -- not png.  Would love help with that!

[2020-08-31 14:50] ggould-tri commented on #13975
Or svg perhaps, for us static content dead-enders :-) .  Labeling this as low-priority in case #13874 arrives sooner.

[2020-08-31 18:02] EricCousineau-TRI opened #13977 "Should provide means to model suction grippers"
@takuya-ikeda-tri is interested in seeing how he could have a simulated vacuum gripper in Drake (e.g. HSR's gripper).

Simplest case is working with manipulating 5-10 boxes, where suction could be modeled as affixing the object(s) to the gripper.
More complex case would be more adversarial shapes, but that is not in the near term.

Taku is fine with any set of workarounds (e.g. pre-described joint

[2020-08-31 18:02] EricCousineau-TRI commented on #13977
@takuya-ikeda-tri Would you be up for hashing out the initial prototype for your means? You can ask questions here, and we can field 'em.
Once you find a solution that works for you, then it could get assigned to one of us to upstream to Drake?

[2020-08-31 18:55] sherm1 commented on #3109
Yup, I think we've lived with this well enough to say it doesn't seem to be a problem. Closing as wontfix -- someone can open a new issue if a real use case arises.

[2020-08-31 18:55] #3109 closed

[2020-08-31 19:13] jwnimmer-tri commented on #3109
What about this kind of thing still sprinkled throughout the code?

https://github.com/RobotLocomotion/drake/blob/f789501e942ea2935a0d56c2bd42576b0df8589b/systems/framework/framework_common.h#L77-L80

Seems like we should remove that false hope.  Re-open the issue to track removing it?

[2020-08-31 20:24] sherm1 commented on #3109
Well, I don't think it would be impossible to do this. We just don't have a use case at the moment so I don't think we need an open issue. I'm OK with leaving the thought alive in the code.

[2020-08-31 21:22] IanTheEngineer commented on #13977
@EricCousineau-TRI, yes, you have found the plugin that I was referring to. It was originally developed for the Amazon Picking Challenge by the JSK lab. It doesn't appear the documentation is thorough, as you pointed out:

https://github.com/ros-simulation/gazebo_ros_pkgs/pull/389 and original JSK repo https://github.com/start-jsk/jsk_apc.

The winning team for the first year (2015) had a speciali

[2020-08-31 23:53] takuya-ikeda-tri commented on #13977
@Eric Cousineau (TRI) <eric.cousineau@tri.global> OK, thank you for all of
this information!
Once I find it or make our plan, I'll let you know.

On Tue, Sep 1, 2020 at 3:03 AM Eric Cousineau <notifications@github.com>
wrote:

--
*Takuya Ikeda*
Toyota Research Institute - Advanced Development
WovenCity Management, Robotics
takuya.ikeda@tri-ad.global
+81-80-9022-5182

[2020-09-01 04:00] #12158 closed

[2020-09-01 04:00] jwnimmer-tri commented on #12158
The last numbered release that still had attic code was [v0.22.0](https://github.com/RobotLocomotion/drake/releases/tag/v0.22.0) on 2020-08-17.
The last git sha on master that still had attic code was 408ebc121bbb281c09bca1fcdbd27e625d6ab39a on 2020-08-31.

[2020-09-01 15:11] amcastro-tri commented on #13977
This is a very interesting fluid dynamics problem. I wonder what could be found about its actual physics. What do we know about the suction pumps used? do we have parameters for those? It'd be interesting to know the pressure-flowrate characteristics of the pump in order to estimate the suction pressure.

The plugging metioned above seems to use an ad-hoc model for a [force inversely proportional

[2020-09-01 15:12] rpoyner-tri opened #13985 "move-aware implementation of drake's Eigen::AutoDiffScalar<VectorXd>"
Early experiments have shown that modernizing methods and math operations for drake's Eigen::AutoDiffScalar<VectorXd> can reduce heap allocations and provide some performance benefit. (I claimed elsewhere that 2x speedup was possible; I'm no longer sure that is available from this group of changes alone.)

This ticket is to track conversion of AutodiffScalar to move-awareness. I will also provide

[2020-09-01 15:24] SeanCurtis-TRI commented on #13977
Some thoughts on @amcastro-tri's suggestion.

Generally a good idea, but hanging on to a pointer to MBP has a bad smell. Can we get away from that?

As I see it, the MBP pointer is intended to serve several purposes.

1. Define suction cup point C relative to body B.
    - We have geometry frame F associated with geometry B (where X_BF = I). So, upon construction, pass the `geometry::FrameId` for

[2020-09-01 16:38] rpoyner-tri commented on #13985
Here are some early results. Comparison is from master at 1f51d66cb2f20b1248fe216f17943241a53a2797 to this tag in my fork: https://github.com/rpoyner-tri/drake/releases/tag/move-dev-benchmark0 .

Both experiments are done on my Puget workstation, using commands like this:
`$ examples/multibody/cassie_benchmark/conduct_experiment [DIRECTORY] --benchmark_repetitions=100`

Results from master:
[outpu

[2020-09-01 17:18] sherm1 commented on #13985
Great that the AutoDiff cases are significantly faster! But I'm mystified by the report on the other cases. Since they don't use AutoDiff at all, why were inverse & forward affected "with high confidence"? Also, the p-value for mass matrix was huge, yet the runtime changes were similar to inverse and forward whose p-values were 0! Those 0 p-values seem absurd to me.

[2020-09-01 17:30] jwnimmer-tri opened #13987 "pydrake doc's default arguments have memory hex addresses"
A few places in our generated docs have hex memory addresses from `__str__` or `__repr__` embedded in the API signature:
- [FiniteHorizonLinearQuadraticRegulator](https://drake.mit.edu/pydrake/pydrake.systems.controllers.html#pydrake.systems.controllers.FiniteHorizonLinearQuadraticRegulator)
- [RgbdSensor](https://drake.mit.edu/pydrake/pydrake.systems.sensors.html?r#pydrake.systems.sensors.RgbdSen

[2020-09-01 17:50] amcastro-tri commented on #13977
In this idea I sketched, there is no additional geometry. There is only a point Co on body B. That's a nice side effect of being able to use SignedDistanceToPoint() directly.

Ah! I do agree on that one. Yes, getting the QueryObject from its own input port is definitely a more `systems::` correct approach.

We have `MPG::GetBodyFromFrameId()`

[2020-09-01 17:57] SeanCurtis-TRI commented on #13977
Nor is there in my alternative. But it does assume that the MBP bodies do have registered geometry frames.

Exactly. And to call a method on an MBP instance, you need to have a pointer. Whereas an API that returns a map that can live independently of the instance is how you get rid of storing a pointer. The point of everything I'd written was to the express purpose of eliminating a stored pointer

[2020-09-01 18:05] rpoyner-tri commented on #13985
@sherm1 You are right -- the p-values for the double cases probably deserve more introspection. The various attached zip files have all the relevant raw data, so I could poke around in re-runs of the compare.py script to see what is going on. I do know that the script uses the Mann-Whitney implementation from `scipy`, so I probably am justified in trusting that. Not sure about other aspects of how

[2020-09-01 19:25] SeanCurtis-TRI opened #13989 "[geometry] Registering a new geometry makes best effort to pre-compute X_WG"
# Problem

The following workflow lies:
  - Register frames and geometries with `SceneGraph`
  - Evaluate a query.
  - Add a new geometry to an existing frame.
  - Evaluate the query again.

The second evaluation of the query is incorrect w.r.t. the newly added geometry.

# Diagnosis

The method `GeometryState::RegisterGeometry` assumed that there would always be a call to update frame poses betwe

[2020-09-01 19:49] amcastro-tri commented on #13977
Ah, I forgot about scalar conversion. In any case, I imagine that if scalar conversion is not a problem, I'd go that route for quick prototyping. The big thing is that we don't know if  a model like this will work in terms of numerical stability.

[2020-09-01 19:52] EricCousineau-TRI commented on #13987
Aye, thanks for the filing! Simplest is to see if there is a way to somehow express them in a `dataclass` type way. Then we can get `repr()` that is something like `MyStruct(my_param=...)`.

[2020-09-02 00:20] mitiguy commented on #12789
The inboard/outboard terminology and related issues (#12789 and #13040) arose in PR# 13961.
it would be helpful to first agree/converge on frame names for documentation and notation.
For example, we currently use Parent body P with frame F and Child body B with frame M.
Perhaps this should be Parent body P with frame Jp and Child body C with frame Jc.
For topology, perhaps we could use different w

[2020-09-02 00:22] mitiguy commented on #13040
The inboard/outboard terminology and related issues (#12789 and #13040) arose in PR# 13961.
it would be helpful to agree/converge on frame names for documentation and notation.
For example, we currently use Parent body P with frame F and Child body B with frame M.
Perhaps this should be Parent body P with frame Jp and Child body C with frame Jc.

[2020-09-02 01:19] jwnimmer-tri commented on #13251
I believe everything we need is now available on master, without restriction.  I still some a few clean-ups to follow up, but the feature should be fully operable now.

[2020-09-02 03:06] sherm1 commented on #13975
Assigning to @rpoyner-tri to see if Grant is right.

[2020-09-02 03:44] jwnimmer-tri commented on #13975
For example, https://dagrejs.github.io/project/dagre-d3/latest/demo/interactive-demo.html has click-to-pan and scrollwheel-to-zoom.

[2020-09-02 14:43] SeanCurtis-TRI commented on #13970
We want to stay away from the MBP API that knows about the geometry ids. That's an anachronism that is to be excised soon. The alternate spelling would be:

[code]

In that code, the line marked `## THIS LINE!!!` is the missing piece. It has been oft discussed and its absence frequently mourned. I'd much rather use this as the catalyst to finally add the missing API.

[2020-09-02 15:17] #13368 closed

[2020-09-02 16:48] #13209 closed

[2020-09-02 17:18] #13251 closed

[2020-09-02 20:09] jamiesnape commented on #13964
Everything is there for me with Doxygen 1.8.20 on Catalina. That only became available less than 7 days ago. I will check 1.8.19.

[2020-09-02 20:59] BetsyMcPhail commented on #13918
I can reproduce this on my machine. If I move `Untitled.ipynb` to the examples subdirectory, I don't get an error. Likewise, if I move `door_hinge_inspector.ipynb` up to the `multibody` directory, e.g.

[code]

I see the same mysterious error.

[2020-09-02 21:13] jwnimmer-tri commented on #13918
FWIW here's a comment that I made in the #buildcop slack thread about this:

[2020-09-03 00:08] soonho-tri opened #14002 "Emitting latex code from symbolic expression / formula"
Motivation: https://github.com/connorferster/handcalcs

Scope: throw an exception when an expression or a formula include `if_then_else` expressions in it.

@jwnimmer-tri 's suggestion: "I guess maybe nice (and simple enough) to have as a member method, though."

[2020-09-03 00:08] soonho-tri commented on #14002
/cc @RussTedrake as feature-requester.

[2020-09-03 04:30] jwnimmer-tri commented on #13924
Oh, I just noticed this.  You aren't using clang to compile your example, are you?  (Is CC or CXX set to clang?)

[2020-09-03 12:18] ggould-tri commented on #13282
https://github.com/ggould-tri/drake/pull/new/model_directives_undev moves model directives out of dev and brings all tests to passing.  Still needed:
 - [ ] Forward-port any changes from the anzu side eg anzu#5340
 - [ ] Wire into Parser so it can be triggered from python

[2020-09-03 12:31] amcastro-tri commented on #13040
I've been consistently using P/F with B/M at the "mobilizer" level (internal tree model of our world) and P/Jp and B/Jc at the "joint" level (physical representation of our world).
If somewhere in Drake you find an inconsistency, it should be fixed. But I believe we did like this in the past, given that mobilizers will eventually be reversible in order to enable the modeling of arbitrary loop kine

[2020-09-03 12:41] amcastro-tri commented on #12789
I've been consistently using P/F with B/M at the "mobilizer" level (internal tree model of our world) and P/Jp and B/Jc at the "joint" level (physical representation of our world).
If somewhere in Drake you find an inconsistency, it should be fixed. But I believe we did like this in the past, given that mobilizers will eventually be reversible in order to enable the modeling of arbitrary loop kine

[2020-09-03 13:49] RussTedrake commented on #13846
@gizatt -- fyi, if you are willing to take a look.

[2020-09-03 13:51] avalenzu opened #14006 "Missing guard in TimeVaryingAffineSystem::DoCalcTimeDerivatives()"
In `DoCalcDiscreteVariableUpdates()` we have the following check:
https://github.com/RobotLocomotion/drake/blob/8592c35bd05810323f9b7f46b42542cd53349168/systems/primitives/affine_system.cc#L150

In `DoCalcTimeDerivatives()` however, we don't check for `time_period_ > 0`:
https://github.com/RobotLocomotion/drake/blob/8592c35bd05810323f9b7f46b42542cd53349168/systems/primitives/affine_system.cc#L121

[2020-09-03 14:40] #13944 closed

[2020-09-03 14:52] EricCousineau-TRI commented on #8919
Got bit by this again. Debugging.

[2020-09-03 14:59] SeanCurtis-TRI commented on #13970
As noted [in this code review](https://github.com/RobotLocomotion/drake/pull/13999#pullrequestreview-481097010), the proposed code doesn't work as is. There are no bound copy-constructors for geometry properties. So,

[code]

Will not work.

There are a couple of options:
  - [https://github.com/RobotLocomotion/drake/pull/13999#pullrequestreview-481272629](Enabling copy/deep copy on the classes)

[2020-09-03 15:51] sherm1 commented on #12789
I'll assign this one to @mitiguy for now since he's currently working on joint terminology docs.

[2020-09-03 15:56] SeanCurtis-TRI commented on #13970
Note: #14010 fills the indicated hole, enabling:

[code]

[2020-09-03 16:20] ggould-tri opened #14011 "InverseDynamicsController should not alias plant"
A common pattern in our code is that we create two plants, one for simulation with oracular knowledge and complex dynamics, one with a simplified model (eg welding manipulands to end effectors) to hand to `InverseDynamicsController`.

Because `InverseDynamicsController` takes a non-owning alias of its plant, this means that its caller has to store that plant in some collateral storage with the sam

[2020-09-03 16:38] EricCousineau-TRI opened #14012 "pydrake: Should write docs to prescribe copy constructor stuff"
Relates #14010

[2020-09-03 17:04] jwnimmer-tri commented on #13168
Update f2f -- no real need to have provisioned AMIs for the multiple flavors, so we'll just to unprovisioned.

[2020-09-03 17:08] jwnimmer-tri commented on #12783
Current guess is nightlies will be 0.0.YYYYMMDD, and tagged builds can use the actual 0.23.0 or whatever.

[2020-09-03 17:38] ggould-tri commented on #14011
For reference, here is the workaround we used:
[code]
[code]

[2020-09-03 17:40] #14006 closed

[2020-09-03 17:45] gizatt commented on #13846
Problem seems to be the handling of zero-radius spheres (which is the visual geometry given to the base + some other placeholder bodies). Easy fix in both cases -- I'll open a PR.

[2020-09-03 18:12] #13989 closed

[2020-09-03 18:42] sherm1 commented on #14011
Since this requires work on InverseDynamicsController I'm thinking it's related to @huihuaTRI's issue #13718 which also proposes long-needed improvements to InverseDynamicsController. Assigning to @huihuaTRI for consideration.

[2020-09-03 18:52] BetsyMcPhail commented on #13918
Turns out we've run into this issue before, see #12960:

[code]

[2020-09-03 19:25] ggould-tri opened #14016 "Unhelpful pydrake error when reassigning a Simulator"
I ran a cell of @RussTedrake 's class notebook twice; the second time, reassigning the variable `simulator`, I got this error:

![image](https://user-images.githubusercontent.com/17596413/92157600-a2f72680-edf8-11ea-9c35-be1cb9ae60df.png)

I assume this is a keepalive problem on the Simulator or something closely related.

Here's the notebook https://colab.research.google.com/github/RussTedrake/ma

[2020-09-03 20:13] jwnimmer-tri commented on #13924
Can you re-confirm this is true with a completely clean / fresh image with no sign of clang-compiled code anywhere?

[2020-09-03 20:36] jwnimmer-tri commented on #14016
The context argument is passed as a `unique_ptr` (sole ownership), so passing it again is a violation of ownership.

[2020-09-03 20:37] #13970 closed

[2020-09-03 22:12] jwnimmer-tri commented on #13924
Yes, Drake's pre-compiled binary releases use the platform's default compiler.  For Ubuntu 18.04, that is gcc-7.  You cannot mix and match compilers, in general.

[2020-09-03 22:12] #13924 closed

[2020-09-03 23:20] #13846 closed

[2020-09-03 23:23] RussTedrake commented on #14016
I agree with @jwnimmer-tri that this is a fairly reasonable behavior.  I worried about presenting it that way to students... in most cases I try to keep the ownership of a system inside a single cell.  Today's notebook was the exception, because I was trying to introduce the different bits (system, context, etc) piece by piece.

BTW -- awesome that you are running the notebooks and helping like th

[2020-09-04 00:03] jwnimmer-tri commented on #14016
Ah, I should also clarify my comment.  My statement was just a diagnosis.  As far as the direction we should point to improve this -- taking the context by `unique_ptr` in `pydrake` is fraught -- we should probably bind a keep_alive bare pointer (or `shared_ptr`) overload instead.

[2020-09-04 03:16] jwnimmer-tri opened #14019 "Updated CI images for bazel 3.5"
Per #14005 we have a new bazel in the base image.  Please update at least the Ubuntu AMIs to match.  (The macOS unprovisioned are testing 3.5 already.)

[2020-09-04 15:30] mposa commented on #12335
Any updates/timeline on this issue? @yminchen and @yangwill are finding notable discrepancies between Cassie and sim, with more realistic performance out of MuJoCo which does capture this motor inertia.

We'd look at it ourselves, but I'm concerned that it's pretty far into the MBP weeds where we're not that familiar.

[2020-09-04 18:22] sherm1 commented on #12335
Its not on the schedule yet, @mposa. @joemasterjohn what do you think about tackling this smaller project before the joint locking stuff? @mitiguy could advise on unit tests.

[2020-09-05 11:49] RussTedrake commented on #12590
I've written the simple javascript version of the system yaml to html, and spent a little time this morning trying to integrate it into the drake sphinx autodoc as a directive.  But wow.  `pydrake_sphinx_extension.py` is almost impenetrable.  I'm afraid I'm going to need help, @EricCousineau-TRI and/or @jamiesnape, to make this land.

I've put a demo of the javascript here: https://observablehq.co

[2020-09-05 15:04] EricCousineau-TRI commented on #14016
High-level commentary also in #13058

If we have to have 2-3 overloads for each callsite (`T*`, `unique_ptr<T>`, `shared_ptr<T>`) and possibly containers that handle those three flavors, we should either (a) make a container that make it easy to handle these cases or (b) really reconsider our adherence to `unique_ptr` in GSG.

Sure, there aren't too many bindings of accepting `unique_ptr`, but it'

[2020-09-05 15:36] EricCousineau-TRI opened #14022 "vtk: RenderEngineVtk can cause Xorg server to crash on certain machines / GPUs / drivers"
Filed on Anzu initially (Anzu 5388), but was able to reproduce this in pure Drake unittests.

## Background

I had a test that would instantiate different `Diagram, Simulator` pairs, and in the diagram was a `SceneGraph` with a registered `RenderEngineVtk`. On the first instantiation, rendering and all that would be fine (I could render as many times as I wanted). However, on the second instantiat

[2020-09-05 15:43] EricCousineau-TRI commented on #14022
Output from runs:
[code]

[2020-09-05 17:17] EricCousineau-TRI commented on #12590
Yeah, I think going the Sphinx-proper route, and writing a custom reStructuredText directive parser + HTML emitter will be best.

Also, I'm not entirely sure if we need a JavaScript implementation if all it does is emit static HTML at this point?
We can update the emitter once we have a better solution for #13874?

[2020-09-05 17:32] RussTedrake commented on #12590
We already have a python implementation of this in doc/system_doxygen.py

I would like a javascript version of this to exist somewhere so i can
include systems easily in my course notes/ slides.  Maybe there is a better
place for it to live (that would be hosted on html)?

On Sat, Sep 5, 2020 at 1:17 PM Eric Cousineau <notifications@github.com>
wrote:

[2020-09-05 17:39] #8919 closed

[2020-09-05 17:40] EricCousineau-TRI commented on #12590
Gotcha. Yeah, that could be used the by sphinx extension, then. We should just move the comment-reformatting logic outside of that function.

Not sure what you really mean by this. Can you scribe out an explicit workflow?

Like, you call `pydrake_wrapped_help(my_system)` in a Jupyter notebook, and it renders HTML for you, rather than the Sphinx directive?

[2020-09-05 17:43] RussTedrake commented on #12590
If you look at the drake diagrams in my course notes right now, I’m copying over the html tables.  That is clunky, and harder to maintain.  I’d prefer to include eg https://drake.mit.edu/somepath/system_html.js in my header then just call system_html with my yaml instead.

[2020-09-05 17:46] RussTedrake commented on #12590
If we think i’m the only likely consumer, then i’ll just put the js file in my course notes for now.

[2020-09-05 17:47] EricCousineau-TRI commented on #12590
Gotcha. So not in Python at all; instead, you want to consolidate web (html) representations of systems in JavaScript, and then provide public API to that JavaScript, and incur the possible costs of backwards compatibility etc?

It'd be doable, but really, it'd be best if you just re-vendored that JavaScript code in `underactuated` / `manipulation`. (Er, typed this out, and you just stated as much

[2020-09-05 21:09] RussTedrake commented on #12590
Let's stick with "render nice stuff in pydrake docs".  I merely thought js would be useful in that regard.  But you're right that sphinx can just use a very slightly modified version of the python method.

[2020-09-06 02:24] RussTedrake commented on #13975
I think SVG goes a long way for now.  I've updated my notebook to use:
[code]

I'll mark this as resolved for now, but would love to continue improving this!

PS - @jwnimmer -- I've been looking at dagre.js, too..  I would have started using it for the diagram workflow, if it only had collapsable subdiagrams!

[2020-09-06 02:24] #13975 closed

[2020-09-06 10:15] RussTedrake commented on #13874
I spent a little more time looking through the options yesterday, but haven't found one that is obviously good.

To address #13975, I realized pydot could create svg.  For moderate size diagrams, that is a reasonable solution for diagram visualization, too.

I went through the entire list of javascript packages in https://codefreezr.github.io/awesome-graphviz/#language-bindings , as recommended by

[2020-09-06 13:57] pvonmoradi opened #14026 "Why python packages are installed at system level in installation scripts?"
Following the instructions [here](http://manipulation.csail.mit.edu/drake.html#section3) to install drake locally, there are 2 installation scripts which we are asked to run at `sudo` level.
However, inspecting those scripts, we see commands for `pip install`ing some packages like ([here](https://github.com/RussTedrake/manipulation/blob/1fbec6b9995bcdc30abe28632f66109afdebf783/scripts/setup/ubuntu

[2020-09-06 14:05] jwnimmer-tri commented on #14026
The links you post are actually for Russ's manipulation course (https://github.com/RussTedrake/manipulation), not Drake itself (https://drake.mit.edu/installation.html).

[2020-09-06 14:13] pvonmoradi commented on #14026
@jwnimmer-tri Thanks for your response.
Yes, after inspecting drake installation script itself [https://github.com/RobotLocomotion/drake/tree/master/setup/ubuntu](https://github.com/RobotLocomotion/drake/tree/master/setup/ubuntu) it seems that course's first command (`sudo /opt/drake/share/drake/setup/install_prereqs`), doesn't pip install anything (the second command does).

Should I move this is

[2020-09-06 15:48] #13918 closed

[2020-09-06 19:00] jwnimmer-tri commented on #14026
@pvonmoradi For my part, I don't mind either way.  I'll let @RussTedrake decide what to do here.

[2020-09-06 21:31] cjds opened #14029 "drake-lcm-spy gives NoClassDefFoundError in Docker"
When I try to use `drake-lcm-spy` from within the Drake Docker I get

[code]

and a blank white screen.
The hash of the Docker I am using is 6c5f8f3d5f28.

Reproduce (on Ubuntu 20.04 host):

[code]

[2020-09-07 02:35] EricCousineau-TRI commented on #13800
Ended up being easier than I thought. I just enabled a placeholder action, then subsequent upstream-merge PRs can modify those actions.

[2020-09-07 17:19] RussTedrake opened #14032 "Package "wsg_50_description" was found more than once in the search space."
@hjsuh94 -- I think perhaps the files you added are causing new debugging spews to the console?

[code]

https://colab.research.google.com/github/RussTedrake/manipulation/blob/master/pick.ipynb#scrollTo=oXh50Cf1hU6N

[2020-09-07 19:44] hjsuh94 commented on #14032
I think I know what the reason is, but the issue is probably not specific to the package `wsg_50_description`.

There seems to be a package namespace overlap between the [models repo](https://github.com/RobotLocomotion/models) and Drake's model package.
`@drake//manipulation/models/wsg_50_description`
`@models//wsg_50_description`

I've confirmed the same happens when loading `franka_description`.

[2020-09-08 02:38] jwnimmer-tri commented on #14032
The word "package" here is not bazel packages like ` @models//wsg_50_description`.  It means ROS packages ala `package.xml` files.  I don't think the models repository has a `package.xml` file.  Something else must be going on.

[2020-09-08 02:54] hjsuh94 commented on #14032
As always, thanks for the input @jwnimmer-tri - I tried messing with bazel settings but haven't been successful, so I was kind of lost on what the issue was.

As you pointed out, it turned out that some models like `franka_description` and `wsg_50_description` has `package.xml` files in them in Drake, loading these `sdf` files from these folders cause errors. Other models (`ycb`, `jaco_description

[2020-09-08 04:40] jwnimmer-tri commented on #14032
To debug this, I'd suggest improving the error message to elaborate on what the "duplicate" paths were.

[2020-09-08 12:59] RussTedrake opened #14033 "multibody: `ModelInstanceIndex` as an optional argument to the Jacobian methods."
Working with Jacobians in a MBP that has multiple instances is a pain -- it's up the user to pull out the elements of the jacobian that they actually need.  ([here is an example](https://colab.research.google.com/github/RussTedrake/manipulation/blob/master/pick.ipynb#scrollTo=ue9ofS7GHpXr))

It seems quite reasonable to support an optional argument for `ModelInstanceIndex` that would just compute/

[2020-09-08 14:45] soonho-tri commented on #13833
Also check, https://drake.mit.edu/styleguide/cppguide.html#Self_contained_Headers.

[2020-09-08 14:51] jamiesnape opened #14034 "_collect_cc_header_info does not distinguish between headers that appear in hdrs, textual_hdrs, and srcs"
Relates https://github.com/RobotLocomotion/drake/pull/14003#pullrequestreview-484190779. Relevant to `//common:symbolic`.

[2020-09-08 14:55] EricCousineau-TRI commented on #13843
Sorry for the delay, but yes, these discussion points sound reasonable; bushing parsing should remain as a "non-joint" for simplifying API expectations (don't mislead users). Closing.

Thanks!

[2020-09-08 14:55] #13843 closed

[2020-09-08 15:18] jamiesnape commented on #14029
Best path to fixing this would be https://github.com/RobotLocomotion/drake/issues/13778, I think. As with `drake-visualizer` this is not a configuration we test, so we should be clearer about that in the documentation also.

[2020-09-08 15:22] EricCousineau-TRI commented on #12775
I believe this was asked again on StackOverflow: https://stackoverflow.com/questions/63769864/is-drake-obeying-joint-limits-in-this-case-and-how-can-i-check (\cc @hongkai-dai)

[2020-09-08 15:26] jamiesnape commented on #13539
I would add the following (feel free to merge up top):

- [ ] #14029 drake-lcm-spy gives NoClassDefFoundError in Docker
- [ ] #13924 cart-pole example throws exception in cmake project

[2020-09-08 15:43] jamiesnape commented on #14029
(the `apt` packages apply a patch `debian/patches/AquaJidePopupMenuUI.java.patch` to fix this)

[2020-09-08 16:17] #13800 closed

[2020-09-08 17:39] jamiesnape commented on #14022
Have you tried a P2 or P3 instance at all?

[2020-09-08 20:02] BetsyMcPhail commented on #14019
Ubuntu (focal and bionic) and Mac (catalina and mojave) AMIs have been updated. Jenkins is using the new AMIS

[2020-09-08 20:02] #14019 closed

[2020-09-08 20:09] rpoyner-tri commented on #14016
Assigning to @EricCousineau-TRI -- my guess from reading related tickets is that he has the most context. Feel free to bounce this @EricCousineau-TRI if I'm mistaken.

[2020-09-08 21:02] EricCousineau-TRI commented on #14016
I see three issues:

1. A workflow where a context is allocated in a separate cell, and there's expectation that re-running a cell should work. That expectation is broken, and IMO you shouldn't allocate a context separate from where you pass it to a `Simulator` - that's an `underactuated` problem, so should not be relevant to Drake. (Solution: leave it as-is, allocate context in same cell, or use

[2020-09-08 23:15] hjsuh94 commented on #14032
Some updates on debugging - I've confirmed there are no duplicate paths and they are always pointing to the right path, but simply trying to add the same model twice through `Parser` causes the error if that model has a `package.xml` file inside.

I've managed to reproduce the error in a very minimal setting in this notebook:
https://colab.research.google.com/drive/1oUrHlB4HJUngbM_b5Kdoz9BDkqzrw6o

[2020-09-08 23:33] sherm1 commented on #13902
Performance snapshot after faster inertia rotation PR #13962 and move-aware AutoDiff PR #13988:

- Drake master at 71dbe45d6f4a58d27a3b34d18e27388ab42ae011.
- Sherm's Puget, Ubuntu 18.04, gcc 7.5, 2.9MHz max but run in no_turbo/powersave/cpu1 using `conduct_experiment`.
- see [above comment](https://github.com/RobotLocomotion/drake/issues/13902#issuecomment-679301128) for test conditions.

|  test

[2020-09-09 20:52] DamrongGuoy commented on #13321
Two PRs are in flight: [13808](https://github.com/RobotLocomotion/drake/pull/13808) for Obb and [13978](https://github.com/RobotLocomotion/drake/pull/13978) for Bvh using Obb.

The unit tests show that my code does not always find the optimal oriented bounding box, which is consistent with what @hongkai-dai and @avalenzu mentioned before. I'll file another issue to improve the algorithm in the fut

[2020-09-09 22:33] rpoyner-tri opened #14039 "complete move-aware AutoDiffXd likely requires changes in or wholesale replacement of Eigen::AutoDiffScalar"
Noticed when working on the implementation of autodiff atan2() for #13985.

It is possible in an uncluttered type environment to overload a two-parameter function so that either the left or right parameter's storage can be reused. See for example https://stackoverflow.com/questions/16136461/move-semantics-and-operator-overloading .

However, the situation with autodiffscalar is fraught. We have a

[2020-09-09 22:35] rpoyner-tri commented on #14039
I expect the above story will replay verbatim for some of the other 2-parameter overloads we provide.

[2020-09-09 22:42] rpoyner-tri commented on #14039
There is another issue here. Several of our drake overloads replace unsound implementations in Eigen, for derivative handling, determinism, etc. Any attempt to overload those in drake has to win all overload resolutions in order to preserve soundness. It may be possible to do both (soundness, optimizations), but it will require some care.

[2020-09-10 14:56] EricCousineau-TRI commented on #14026
My 2 cents: It'd be best to open the issue in `manipulation` - and agreed that `sudo pip install` should be avoided!!!

Perhaps even better would be to suggest a fix in that repository, via a PR, that you can test in Colab and ensure it works from scratch (if you have time)?

(Minor relation to #1183 in terms of Colab provisioning)

[2020-09-10 14:58] EricCousineau-TRI commented on #13034
Er, I'm not sure if we've actually run into this as a pain point. I'm going to close this for now.

[2020-09-10 14:58] #13034 closed

[2020-09-10 15:07] EricCousineau-TRI commented on #12590
Queuing up for next 2 weeks.

[2020-09-10 16:40] jwnimmer-tri commented on #14032
If the user _directly_ makes package-path-related API calls that are silly, then yes we could warn them about it.  However, merely asking adding the same SDFormat model to a plant twice in a row should not warn.

(I think a relevant factor here is re-using the Parser for both additions.  Making a new Parser every time would be a work-around.)

It sounds like (1) we should fix the Parser logic to a

[2020-09-10 17:05] hjsuh94 commented on #14032
Unless the fix is to delete the line that warns, I would prefer not going through parser logic.

[2020-09-10 17:35] EricCousineau-TRI opened #14043 "mbp: Should have a way to denote "hierarchy" for models? (not just ModelInstance name scope hacks?)"
Can expand on this later; for now, please see this comment:
https://github.com/RobotLocomotion/drake/issues/12270#issuecomment-606757766

Assigning myself for now, but no plan to work on this any time in the near future, as the scoped-name hack works fine for now.

[2020-09-10 20:15] jamiesnape opened #14044 "Relocate example binaries in binary packages"
Basically everything goes into `/opt/drake/share/drake/examples/<example_directory>` at present.

<s>A *preferable* situation (since `share` is conventionally for platform independent files) would be binaries in `/opt/drake/lib[/x86_64-linux-gnu]/drake/examples/<example_directory>` for binaries, `/opt/drake/share/drake/examples/<example_directory>` for data (unchanged), and `/opt/drake/share/doc/d

[2020-09-10 20:23] jamiesnape commented on #14044
Note in Debian packaging terms, examples typically refers to source code examples, so our compiled examples do trigger warnings, but those are trivial to squash. Also, we have specific reasons for not throwing the binaries into `/opt/drake/bin` (mostly because we may have filename conflicts without the directory tree).

[2020-09-10 21:00] huihuaTRI commented on #14011
Closing this request as [PR 14037](https://reviewable.io/reviews/robotlocomotion/drake/14037#-) merged.

[2020-09-10 21:00] #14011 closed

[2020-09-11 12:25] EricCousineau-TRI opened #14047 "pybind: Should restore fork's latest commit in workspace pending mac fix"
See: https://github.com/RobotLocomotion/drake/pull/14046#issuecomment-690834436

This was reproducible on our `macsim` machine.

@jamiesnape I will try this briefly. If I can't make this work today, can I ask you to put this at the top of your `pydrake` queue for the next two weeks?

---

UPDATE: Plan of attack:

- [x] https://github.com/robotlocomotion/drake-external-examples/pull/187 File drake-

[2020-09-11 13:18] jamiesnape commented on #14047
So this issue is restoring the fork or fixing the underlying Mac issue?

[2020-09-11 13:27] EricCousineau-TRI commented on #14047
Fixing the underlying Mac issue for building in CMake that causes the RTTI mismatch, most likely due to some visibility changes that came from the fork updates.
Not sure if it requires a change to our fork, or just a change in downstream.

(RobotLocomotion/pybind11 itself is unchanged at present, and I don't think we should revert anything there)

[2020-09-11 13:32] EricCousineau-TRI commented on #14047
FTR On `macsim`, I am using this `drake-external-examples` setup:
https://github.com/RobotLocomotion/drake-external-examples/blob/8a53b4c8df534fcc02f557d1579636dd16795151/drake_cmake_installed/src/simple_bindings/CMakeLists.txt

I confirmed that drake @ 690a7eacd1 works (post-revert), and drake @ 0cc01f0c7 reprodues the error:

[code]

[2020-09-11 13:34] jamiesnape commented on #14047
Ok, can you update the title to match?

[2020-09-11 13:37] EricCousineau-TRI commented on #14047
Done.

My money's on some change from upstream's CMake in `pybind11Tools` or `pybind11Config`:
https://github.com/RobotLocomotion/pybind11/commit/58a368ea8#diff-8cb32abb960df57289d52b400092e31d

[2020-09-11 13:55] EricCousineau-TRI commented on #14047
Yuppers. It looks like https://github.com/pybind/pybind11/commit/97aa54fefa is the culprit.
I had stripped it out (accidentally?) before, and restored it when I carte-blanch took in upstream's changes.

Here's the patch-fix for `drake-external-examples`:
[code]

My desire is to leave upstream's CMake logic as untouched as possible. I think just propogating this specific `CXX_VISIBILITY_PRESET` pos

[2020-09-11 13:57] EricCousineau-TRI commented on #14047
Confirmed that this patch works on both drake @ 690a7ea and drake @ 0cc01f0. Will update overview with plan of attack.

[2020-09-11 14:43] EricCousineau-TRI commented on #14047
Filed upstream issue to pybind11: https://github.com/pybind/pybind11/issues/2479

[2020-09-11 15:14] #14047 closed

[2020-09-11 15:33] jamiesnape opened #14050 "Python binary extensions should use full suffix including ABI"
So instead of simply `.so`, we would have (at the time of last edit):

* macOS: `.cpython-39-darwin.so`
* Ubuntu 18.04: `.cpython-36m-x86_64-linux-gnu.so`
* Ubuntu 20.04: `.cpython-38-x86_64-linux-gnu.so`

(call `python3-config --extension-suffix`)

Relates in part #12783 so we can simply package into `/opt/drake/lib/x86_64-linux-gnu/python3/{dist|site}-packages` for both Ubuntu versions.

[2020-09-11 19:38] rpoyner-tri opened #14051 "fishy-looking math in AutoDiffScalar atan()"
Questions were raised in the context of #14045 about the details of the math implementing atan() for AutoDiffXd. I couldn't answer without a bit of history, and some way to evaluate the alternatives. This issue is to track that follow-up.

Comments:
https://github.com/RobotLocomotion/drake/pull/14045#pullrequestreview-487016357
and
https://github.com/RobotLocomotion/drake/pull/14045#pullrequestrev

[2020-09-11 20:46] sherm1 commented on #14051
Assigned to @mitiguy for a look. Can you tell if the Eigen atan/asin/etc derivatives are correct for all scalar types? The implementations seem inconsistent.

[2020-09-11 21:00] rpoyner-tri opened #14052 "fishy math in AutoDiffScalar pow()"
Noticed in this PR: #14045

pow()'s math implementation is probably not as fast as it could be. This ticket is to track the follow-up on that observation.

See comment thread here: https://reviewable.io/reviews/robotlocomotion/drake/14045#-MGyJSDR1w6N05T5ODEE:-MGyvlrPAmEoRtQ_rqec:b2pgy9o

[2020-09-11 21:12] jwnimmer-tri commented on #14051
The file in that review is only used with `Scalar = double`.  Was the code suspicious in even with doubles?

[2020-09-11 22:02] sherm1 commented on #14051
No, I think it is just inconsistently implemented in that case.

[2020-09-11 22:06] sherm1 commented on #14052
Here the issue is just performance (not yet of proven significance though). We're not saying this produces the wrong answer -- it just invokes pow() twice when it could do it once.

[2020-09-12 22:27] RussTedrake commented on #9773
I've finally taken some time to think through the diff IK formulations we are using.  My notes (relatively complete, but still in need of spit and polish) are here: http://manipulation.csail.mit.edu/pick.html#section10

I'd like to get consensus on the formulation, and then (if necessary) move forward with changing drake's implementation.  @siyuanfeng-tri , @hongkai-dai -- might you be willing to

[2020-09-12 23:29] RussTedrake commented on #14026
I’ve pulled out the sudo pip install.  Thanks for catching; that was sloppy of me.

[2020-09-12 23:29] #14026 closed

[2020-09-13 02:51] jamiesnape opened #14054 "Broken links in MultibodyPlant documentation"
Note the local build path `/media/ephemeral0/ubuntu/workspace/linux-bionic-gcc-bazel-nightly-documentation` of the documentation job in the links on this line:

https://github.com/RobotLocomotion/RobotLocomotion.github.io/blob/9856f98a652ad72d4aa9649c144d846d48911d7d/doxygen_cxx/classdrake_1_1multibody_1_1_multibody_plant.html#L419

Generated from https://github.com/RobotLocomotion/drake/blob/6bd5

[2020-09-13 02:54] jamiesnape commented on #14054
Note that this triggers the following lintian warning when packaging drake:

`I: drake-doc: file-references-package-build-path opt/drake/share/doc/libdrake-doc/html/classdrake_1_1multibody_1_1_multibody_plant.html`

[2020-09-13 03:56] siyuanfeng-tri commented on #9773
I think both suggestions are great. I hacked the thing together one night and moved on without a second look (typical..) The unconstrained join velocity was a total hack in response to commanding to q_norm in one tick. Not sure why I didn't do a P control. Should definitely fix that...
I like how you made everything sounds so accessible in the text book :) Do you intend to add the collision avoida

[2020-09-13 04:19] hongkai-dai commented on #9773
BTW, if we want to solve an LP, then we need to investigate a good LP solver. Currently we don't have a good open-source LP solver in drake. OSQP sometimes don't solve LP nicely (it is designed for QP). We have SCS and CSDP, but neither of them is a nice LP solver.

[2020-09-13 05:46] hongkai-dai commented on #9773
I think the manipulation notes look great. A couple of minor thoughts

- In section 3.6.1, first paragraph, it should be `ℝ⁶ˣ⁷`, namely it should be `\times` instead the letter `x` between 6 and 7.
- Below equation 20, " but satisfy my joint limit constraints" should be "but satisfy my **velocity** limit constraints"? I think joint limit constraints can regarded as the joint angle limits.
- In equ

[2020-09-13 11:15] RussTedrake commented on #9773
@hongkai-dai --
Re: typos... thanks.
Re: alpha <= 1.  This seems sensible to me from an applications standpoint (don't want the robot moving faster than we command).  But in the case where the other constraints we add are joint, velocity, and acceleration limits (all including zero as a feasible solution), I also think that one could show that having those constraints active would never cause the

[2020-09-13 11:19] RussTedrake commented on #9773
@siyuanfeng-tri -- thanks.  i haven't talked about collision avoidance yet.  will definitely do that when we get to motion planning.  (I also ended up pulling IK out of this chapter... it's really turning into an exercise on stripping out the non-essentials).  But it's a really good point, so I have added a breadcrumb in the text source to remind myself to link forward to that part of the solution

[2020-09-13 13:58] siyuanfeng-tri commented on #9773
I second alpha <= 1 for the same reason. Don't run faster than what was commanded.
For the cost part, I might have done |V| to avoid LP.
Maybe not fully expanding the collision avoidance part, but I think it's worth mentioning that we can formulate it as linear constraints.

[2020-09-13 16:50] hongkai-dai commented on #9773
I see, it makes sense to constraint alpha <= 1.

For LP part, sorry I don't mean we should change to the quadratic cost. I think the LP formulation is great. Just want to say currently we don't have a good open source LP solver in Drake, and I should add one.

[2020-09-13 17:20] hongkai-dai opened #14055 "Support open-source Linear Programming solver"
Currently we don't have a very good open-source LP solver in drake.

Some candidates are

- CLP https://github.com/coin-or/Clp, this uses EPL-2. I don't know if we support EPL-2. In https://github.com/RobotLocomotion/drake/issues/4045 we support EPL-1.
- GLOP from google https://github.com/google/or-tools/tree/stable/ortools/glop. It uses Apache License.

@jamiesnape and @jeremyma-tri , do we supp

[2020-09-13 18:35] RussTedrake opened #14056 "Cannot (yet) use RenderEngineVTK on Colab"
My simple test notebook
https://colab.research.google.com/github/RussTedrake/manipulation/blob/master/pose.ipynb
is crashing... seemingly because it is trying to open a window with a bad X server connection?

![image](https://user-images.githubusercontent.com/6442292/93025659-bb6ff980-f5cd-11ea-9ff1-16751009082a.png)

Note that I *am* passing `show_window=False` into the `RgbdSensor` constructor,

[2020-09-13 20:41] jwnimmer-tri commented on #14056
For reference, both Drake CI and Anzu CI provide a `DISPLAY` variable that works.

Anzu CI uses a real xorg server with GPU hardware.

Drake CI does this:
- https://github.com/RobotLocomotion/drake-ci/blob/f34fb0054aa50edc40fbae3a907c85651d6da8ce/setup/ubuntu/install_prereqs#L78-L87
- https://github.com/RobotLocomotion/drake-ci/blob/f34fb0054aa50edc40fbae3a907c85651d6da8ce/driver/platform.cmake#L5

[2020-09-13 22:46] sherm1 commented on #14054
That `@ref urdf_contact_material` in `multibody/plant/multibody_plant.h` is intended to reference `@anchor urdf_contact_material` in `multibody/parsing/detail_urdf_geometry.h:137`. Any idea why that would generate a local URL?

Right in the same spot is `@ref sdf_contact_material` referencing `@anchor sdf_contact_material` in `multibody/parsing/detail_scene_graph.h:124`. Does that have the same pr

[2020-09-13 23:22] RussTedrake commented on #14056
This looks promising.  https://colab.research.google.com/github/tensorflow/lucid/blob/master/notebooks/differentiable-parameterizations/appendix/colab_gl.ipynb

[2020-09-13 23:29] guzhaoyuan opened #14058 "drake::math::expmap2quat() should use std::pow()."
After upgrading to Drake v0.16.0, my drake::math::expmap2quat() function call fails in compilation stage. Under this drake::math::expmap2quat() function, the [pow() function](https://github.com/RobotLocomotion/drake/blob/6bd5f8c25cdcbb4049e57ec0f49f6e2c136d864a/math/expmap.h#L68) should be std::pow().
After some look up, I think the cause is: the implementation of another pow() function (https://g

[2020-09-14 01:20] RussTedrake commented on #14056
It looks like I should be able to use xvfb.  https://colab.research.google.com/drive/1flu31ulJlgiRL1dnN2ir8wGh9p7Zij2t .  Am giving that a spin now.

[2020-09-14 01:23] RussTedrake commented on #14056
Woot!  That's solved it.  Thanks @jwnimmer-tri !

[2020-09-14 01:23] #14056 closed

[2020-09-14 01:37] jwnimmer-tri commented on #14058
For a fix, within the `expmap2quat` function body the code should say `using std::pow;`.

@hongkai-dai No code within Drake itself uses `expmap.h` anymore.  Do you have a sense of how useful it is to keep around?  If nobody is maintaining it, and it's not useful for the future, perhaps we should consider deprecating and then removing it.

[2020-09-14 01:42] hongkai-dai commented on #14058
I think we should zap it. I wrote that code from 5 years ago, and never visited it again.

[2020-09-14 01:49] jwnimmer-tri commented on #14058
@guzhaoyuan FYI If the functions are still useful for your work, then Drake's license permits you to copy the sources into your own project to keep them around and/or fix them.

[2020-09-14 03:16] guzhaoyuan commented on #14058
Thanks for letting me know!

[2020-09-14 14:21] jamiesnape commented on #14055
Yes.

[2020-09-14 14:22] jamiesnape commented on #14055
And we already use `Clp` as a transitive dependency.

[2020-09-14 14:35] EricCousineau-TRI commented on #14058
Per checklist (and our issue management policies), all issues must have owners:
https://drake.mit.edu/platform_reviewer_checklist.html

Assigning @hongkai-dai for now; please delegate if you need help!

[2020-09-14 14:35] jamiesnape commented on #14054
Not yet. We do have many examples of `@ref` working correctly, so need to work out what is different here.

Yes.

[2020-09-14 14:36] RussTedrake commented on #13779
Where do we stand on this?  Are the binaries from today's release available on drake-packages.csail?

[2020-09-14 16:14] sherm1 commented on #11341
That's a good question. port.FixValue() is implemented via the context_base.FixInputPort(port, AbstractValue) method so that has to survive (though could be hidden from doxygen or even made private with a loophole for InputPort access). Could be worthwhile to deprecate the `Context<T>` sugar signatures of FixInputPort -- FixValue handles the sugar better. (We could just leave the public ContextBas

[2020-09-14 18:06] hongkai-dai commented on #11085
in #13921 in order to implement global inverse kinematics, I have to use some functions in MultibodyTree. The reason is that I need to go through the whole tree, and parse the kinematics relationship between adjacent links. The functions I called include
- get_mobilizer()
- get_topology()

[2020-09-14 18:28] EricCousineau-TRI commented on #11085
I don't think `get_topology()` nor `get_mobilizer` are at all necessary in the PR. See review comments:
https://github.com/RobotLocomotion/drake/pull/13921#pullrequestreview-488032873

It should be easy to upgrade their usages?

[2020-09-14 20:07] BetsyMcPhail commented on #13964
Thanks for the hint @soonho-tri, I'm able to reproduce on my system now. If I build the docs _before_  #13939 (_Remove deprecated code (2020-09)_), `CalcJacobianSpatialVelocity` and friends are missing. After that commit, they are included.

[2020-09-15 02:17] DamrongGuoy opened #14067 "[geomtry] Improve CalcOrientationByPca() for covariance matrix with repeated eigenvalues."
In PR #13808, we use Principal Component Analysis (PCA) to calculate initial orientation of an oriented bounding box (OBB) of a point set. However, when the covariance matrix has repeated eigenvalues, there are infinite solutions of PCA, and ObbMaker::CalcOrientationByPca() does not always pick a good solution.  These two examples illustrate the problem:

- The set of vertices of a regular octahed

[2020-09-15 03:58] cjds opened #14068 "Issue with drake_werror and drake_cc_vector_gen_library"
Trying to use `drake_cc_vector_gen_library`  in an external Drake project and I run into the following error

[code]

When I create the folder tools and the BUILD file

[code]
Probably coming from

https://github.com/RobotLocomotion/drake/blob/7c06b9127077e10aa8444ba61aacae687408d3b6/tools/skylark/drake_cc.bzl#L66

I think

Repro using

[code]

and `pendulum_state_named_vector.yaml`
[code]

[2020-09-15 13:54] jwnimmer-tri commented on #14068
My (probably completely undocumented) intent for bazel macros is that `drake_foo_bar` macros are reserved solely for use within Drake, and just plain `foo_bar` is what downstream projects should use.  However, in the case of `vector_gen` we don't offer a sufficient variety of macros to make the alternatives possible.  I'll work on adding those.

[2020-09-15 15:53] hongkai-dai commented on #10375
`RevoluteJoint` has `frame_on_child` and `frame_on_parent`.

[2020-09-15 15:53] #10375 closed

[2020-09-15 17:22] #13819 closed

[2020-09-15 19:45] EricCousineau-TRI opened #14071 "pydrake: multibody.math should import `pydrake.math`"
See StackOverflow:
https://stackoverflow.com/questions/63904666/import-error-on-importing-pydrake-multibody-math

I can repro on latest, `drake-20200915-bionic.tar.gz`, using `virtualenv` instructions:
[code]

[2020-09-15 21:48] SeanCurtis-TRI opened #14073 "[geometry] BVH structs lack explicit move/copy semantics"
From [a discussion](https://github.com/RobotLocomotion/drake/pull/13978#pullrequestreview-487874765) that came up in #13978.

## Summary

We've exercised `DRAKE_DEFAULT_COPY_AND_MOVE_AND_ASSIGN(BvNode)`. We have no tests supporting that declaration and it has members with types drawn from a) a nested class and b) an external struct which don't have explicit move and copy semantics addressed. This

[2020-09-15 21:49] EricCousineau-TRI commented on #13289
I forgot - was changing frame offsets part of this too?

Asking b/c I was wondering about changing the "setpoint" (grounded pose of `frameA`) of `LinearBushingRollPitchYaw` as enabled by #14000

[2020-09-15 22:02] joemasterjohn commented on #13289
Yes that's the next thing I'm currently working on (changing `X_PF` for a `FixedOffsetFrame`). I'll let you know when I have a PR up for that.

[2020-09-15 22:28] EricCousineau-TRI commented on #13289
Thanks! I was able to workaround it for now by checking when I set the diagram state, but it'd be awesome to use it as a parameter!

[2020-09-15 23:41] EricCousineau-TRI opened #14075 "pydrake: `matplotlib.animation` import causes freezing?"
On both my laptop and my desktop, drake @ c16eeeaea8 with the following test seems to freeze (at the last trace statement):
[code]

No idea what changed to make this happen, and not sure if this on my machine or other's too.
Ran into this while working on #14072

I worked around it (for the sake of doing the PR) by just commenting out the import of `matplotlib.animation`.

If I import it in isolat

[2020-09-15 23:41] EricCousineau-TRI commented on #14075
I'm wondering if it has something to do with Jupyter stuff being imported too...

[2020-09-16 00:19] jwnimmer-tri commented on #14075
It passes under `bazel test`.  It's only `bazel run` that fails.  Here's some diffs from the trace of where those two executions start to differ:

`diff -u bazel-test.log bazel-run.log`

[code]

Current guess: `matplotlib.get_backend()` returns extra stuff when sandboxing is disabled.  The `/etc/matplotlibrc` file says `backend      : TkAgg` by default on Ubuntu, and I assume in the test sandbox t

[2020-09-16 00:22] jwnimmer-tri commented on #14075
Oh, and `bazel-bin/bindings/pydrake/py/all_test --trace=user` also passes.  Once again proving that _**bazel run** is the devil_ and why are you trying to use it?

[2020-09-16 01:26] jwnimmer-tri commented on #14044
In theory, I would love to follow the FHS and keep "share" as platform-independent only, with the binaries in "lib".  However, our use of data resources (and resource finding) does not distinguish whether the resource being sought is platform independent or not.  If I want to call `drake::FindResource` on `common/resource_tool`, that still needs to work.  Shuffling around the installation paths to

[2020-09-16 01:41] jwnimmer-tri commented on #13832
Updates:
- The new website style was created using Jekyll.
- The redesign ate the whole site, not just the landing page.

For reference, docs.bazel.build also uses Jekyll via Dockerfile; their code is at https://github.com/bazelbuild/bazel/tree/master/scripts/docs.

Drake's python styleguide also uses Jekyll (since it's based on the Google guide which does so), our preview tool for that is https:/

[2020-09-16 02:44] jamiesnape commented on #14044
`resource_tool` is not under `examples`, surely? No linter placating, we already suppress several thousand complaints and would make the same comment for the Mac packages. All our other licenses are under `share/doc`, so seems logical enough the others should be there, but if it is too much churn, it is really not that important.

[2020-09-16 02:49] jwnimmer-tri commented on #14044
I have no objection to reorganizing where the license texts end up.

I think my statement still applies to moving the example binaries, though.  The example binaries can be sensible `FindResource` targets.  Is there any tangible benefit to changing the installation paths of our programs?  Is there any practical downside to leaving things alone (and so diverging from the "platform independent `shar

[2020-09-16 03:03] #14071 closed

[2020-09-16 03:09] jamiesnape commented on #14044
Just to summarize Slack here: data and binaries need to stay in the same tree for resource finding to work; moving everything to `lib/<arch>` may be helpful if/when we support multiple architectures; data in `lib/<arch>` may be as confusing as binaries in `share`, so probably not a big win there.

Save for the license fix up, assuming it is easy, probably should send this issue to the backlog or c

[2020-09-16 03:15] jwnimmer-tri commented on #4224
We don't seem to be suffering for not having this since the past four years, and adding more C++ binaries would only increase the image footprint when most users just want the library, not the demos.  Using online notebooks for the demos seems to be the way of the future.

Unless anyone speaks up about this in the next month or two, we'll plan to close this as "won't fix".

[2020-09-16 03:18] jamiesnape commented on #14044
https://github.com/RobotLocomotion/drake/issues/4224#issuecomment-693144801 is probably the future, so let's just close this for now.

[2020-09-16 03:30] jamiesnape opened #14077 "doc/system_doxygen.py assumes locale supports UTF-8"
We do ensure that `en_US.UTF-8` is available, but for Doxygen we do not actually enforce that the selected locale is `en_US.UTF-8`. Most people would not notice (people using Docker or a minimal chroot would), but we do cover the eventuality when using Sphinx, so would be best to do so here as well.

(Aside: Really we only need `something.UTF-8` and `C.UTF-8` may even be good enough. Not a great h

[2020-09-16 03:41] jamiesnape commented on #14075
Since `python3 -c 'import matplotlib.animation`` works and `bazel test` works, not sure this is medium priority. Do we (or Bazel) really support `bazel run <test>` and/or expect the behavior to be the same as `bazel test <test>`?

[2020-09-16 03:46] jwnimmer-tri commented on #14075
Oh, I hadn't even looked at the issue assignee!  I assumed that it was another self-assigned ticket for brain dumping.

There might be something useful to learn here about non-hermetic matplotlib quicksand for other purposes, but I'm not sure this repro is the best way to explore that, and I definitely agree that `bazel run <mytest>` problems are "priority: backlog" at best.

[2020-09-16 15:31] mpetersen94 commented on #11341
Would a slack poll be more effective at soliciting public comment? I don't know how many people are tracking this issue but many downstream users seem to use this workflow.

[2020-09-16 15:52] sherm1 commented on #11341
Worth a try -- do you want to try one? DrakeDevelopers #general channel would be a good spot I think.

[2020-09-16 15:52] jamiesnape commented on #13779
Binaries are available, but it is a manual upload at present. I am working on it.

`https://drake-packages.csail.mit.edu/drake/releases/drake-X.Y.Z-{bionic|focal|mac|src}.tar.gz` where `X.Y.Z` ranges from 0.10.0 through 0.23.0.

The challenge is that there is nothing in the repo when it is tagged that says what the binary will be called. Searching for text in the changelog or using the GitHub API

[2020-09-16 15:55] jamiesnape commented on #13779
I guess the date of the last commit is an indicator, but we sometimes have multiple builds per date, especially if there is a failure, so it is not authoritative.

[2020-09-16 21:16] EricCousineau-TRI commented on #14075
I guess I use `bazel run` because we have examples that state it, and we don't explicitly have any directives not to use it aside from things like this.

If it's really a policy we should encode, should we write docs and purge it's existence? Perhaps even actively disable it?
(and if just for unittests, at least the same?)

It'd be *super* easy with a wrapper Bazel script.

[2020-09-16 21:18] EricCousineau-TRI commented on #14075
[code]

[2020-09-16 21:18] jwnimmer-tri commented on #14075
Do we have examples that instruct anyone to execute _tests_ using `bazel run`?  At minimum, we should change those instructions.  Executing non-test binaries using `bazel run` is much less suspicious.

[2020-09-16 21:21] EricCousineau-TRI commented on #14075
Yes:
[code]

[2020-09-16 22:21] DamrongGuoy opened #14081 "[geometry] Improve ObbMaker::OptimizeObbVolume()."
<h1>Introduction</h1>

<p>The optimization of a given oriented bounding box of a point set is done by a single step of gradient descent with line search (it is not Newton's method). The iterative step:

[code]
uses R_MB0 of the initial box, not the current box.</p>

It is a low-cost optimization, but it has these drawbacks or limitations:

1. It could produce singularity if the pitch angle reaches

[2020-09-17 01:50] #13168 closed

[2020-09-17 05:04] cjds commented on #14068
So looking at it , the thing that I'm struggling with is because these macros are used in the examples and because I'm trying to copy the example as an external bazel repository it makes it hard for me to run them.

Would you recommend me making a copy of the `gen` rule in my repository or is there a way to view the C++ that it produces so I can run it in `drake` and copy into mine

[2020-09-17 12:38] EricCousineau-TRI commented on #8392
Ran into another case of desiring this: Better `ipywidgets` support in #14082

[2020-09-17 14:22] BetsyMcPhail commented on #13964
It turns out all macros, not just ``DRAKE_DEPRECATED``, aren't being handled correctly on Mac. For example:

Mac generated documentation:

![image (1)](https://user-images.githubusercontent.com/8505893/93483876-4bb08600-f8cf-11ea-972f-2e137c3cbd51.png)

From https://drake.mit.edu/doxygen_cxx/classdrake_1_1symbolic_1_1_expression_add_factory.html

![image (2)](https://user-images.githubusercontent.

[2020-09-17 16:58] jwnimmer-tri commented on #13964
@BetsyMcPhail can you try to find more details about the regression?  For example, check if `PREDEFINED` meaning or spelling changed, or if ...

[code]

... are somehow different, or if the quoting rules changed, or etc?  Hopefully we can resolve this through a configuration edit, or if not be able to report a concise bug upstream about what broke.

[2020-09-17 17:13] jwnimmer-tri commented on #13964
To be clear though, I am more than happy to have us unify on a single version of Doxygen on all platforms -- I just also want to look into the deeper problem.

[2020-09-17 17:31] jwnimmer-tri commented on #13964
FYI https://github.com/RobotLocomotion/drake/pull/13266#pullrequestreview-410132243 might be related (that the macros stopped working).  It mentions that 1.8.17 was a known-broken revision.

[2020-09-17 17:37] jwnimmer-tri commented on #14068
Yes, if you copy https://github.com/RobotLocomotion/drake/blob/master/tools/vector_gen/vector_gen.bzl and change its call of `drake_cc_library` into just `cc_library`, that's all you'll need.

[2020-09-17 17:43] ggould-tri opened #14084 "Model Directives error function mechanism should be a post-loading transform"
(this code was in dev at the time this issue was filed but is moving out shortly; this issue is to tag a TODO in that process)

The model directives mechanism for incorporating user-provided error is ugly (the caller supplies an error function which is invoked by AddWeld on each invocation).

Simply removing the error function mechanism would be incorrect:  Modeling error is a core source of error

[2020-09-17 17:46] ggould-tri commented on #14084
Note that the `ModelInstanceInfo` structure might subsume some part of this mechanism.  They serve related purposes, although that structure lacks the frame-level convenience of handling this in `AddWeld`.

[2020-09-17 17:50] jwnimmer-tri commented on #14084
FYI It's also possible that the ongoing work to use System Parameters on the plant would allow us to update weld joint offsets within the Context, which is even better and so the directives-time syntax for it would be unnecessary (or would simply feed into the default Parameter).

[2020-09-17 17:50] jamiesnape opened #14085 "Xcode 12 support"
[Xcode 12 is out now](https://developer.apple.com/news/?id=qbomldbb), and will be the minimum supported version for macOS Big Sur 11.0 as well as the version most macOS Catalina 10.15 users have due to Apple's aggressive update settings. Apple Clang 12 appears to descent from mainline Clang 10, which is newer than our present supported version 9 on Ubuntu. This means, mostly, more warnings (and th

[2020-09-17 18:55] jwnimmer-tri commented on #14085
It doesn't seem too difficult to expand `load("@cc//:compiler.bzl", "COMPILER_ID")` as used by `drake_cc.bzl` to also propagate the major + minor versions that `identify_compiler` already computes to be part of the bzl constants, so that we can have vendor- and version-specific `CLANG_FLAGS`.  That's what I would try first -- hopefully a 30 line PR that unblocks other work.

After that, though, I

[2020-09-17 19:05] jamiesnape commented on #14085
True, forgot we had a version check.

[2020-09-17 20:23] sherm1 commented on #14084
Yes, I believe @joemasterjohn is working on that as we type.

[2020-09-17 21:21] EricCousineau-TRI opened #14086 "py mbp: SpatialVelocity() default ctor should initialize with zeros"
Ran into an issue on Anzu where I messed up our `--config=assertions` CI job (see Anzu Issue 5362).

Issue was that I was using `SpatialVelocity()` instead of `SpatialVelocity.Zero()`.

FTR I was expecting that the default ctor would be all zeros, b/c the surround code looked like this:
[code]

[2020-09-17 21:38] jwnimmer-tri commented on #14086
\CC @amcastro-tri as original author.

[2020-09-17 22:14] EricCousineau-TRI commented on #7889
Updated overview with a brief motivational statement.

Also, @wlav: Sorry for the delay, but thank you for following up!
I'll make sure to include the mention about API coverage (e.g. "pay only for what you use").

And yeah, the annotations in `genpybind11` look awesome. Basically, seems like one of the better forms of Python-binding attribute association out there (e.g. "ignore", "add keep alive"

[2020-09-17 22:18] sherm1 commented on #14086
RigidTransform and RotationMatrix are _not_ initialized to zeros, they are initialized to their respective identities. SpatialVelocity is just a SpatialVector and (like Eigen's vector types) should not be initialized in Release builds. Would be great to have them initialized to NaNs in Debug builds though.

I am currently struggling to remove the many hidden computational costs we've built into MB

[2020-09-17 22:25] jwnimmer-tri commented on #14086
I wonder if we could have the garbage be opt-in, so in inner loops we can do `my_velocities.resize(nv, SpatialVelocity::Uninitialized());`, which is both very clear and allows us to make the default be on the side of safety and reproducibility.  Expecting users to know which of Drake's types are ticking bombs is unfriendly.

[2020-09-17 22:36] EricCousineau-TRI commented on #14086
I agree with @jwnimmer-tri:
If you're expert and want to tune performance, take the performance-tuning route.
If you're a dev wanting to catch dumb uninitialized data, also opt-in.
Otherwise, expect stuff to not explode?

And yeah, sorry, by "zero" I meant "identity" for SO(3) / SE(3) - oops!

[2020-09-18 01:07] sherm1 commented on #14086
Drake's SpatialVector is a raw numerical type just like Eigen's Vector6 and as numerical programmers we are using it that way. Initializing memory to zero is considered bad practice among numerical programmers, and I agree with that sentiment. Initializing to NaN in Debug is excellent practice and extremely helpful in revealing uninitialized junk. We're doing that intentionally here and you are pr

[2020-09-18 01:25] jwnimmer-tri commented on #14086
The challenge is, as a user, it is not easy to remind ourselves which classes' constructors provide reproducible defaults and which provide garbage.  We don't all have memorized which types in Drake are intended for use by numerical programmers, and which are safe for mere mortals.  It's easy to remember "Eigen doesn't initialize" because its a blanket statement.  But most types in Drake _do_ init

[2020-09-18 01:36] sherm1 commented on #14086
I don't disagree with you that there could be a better way. However we have had extensive discussions to identify real Drake user problems and MBPlant performance is right at the top of the list. Redesigning SpatialVector did not make the cut. I want to move forward with the plan we have. Please don't undercut my work. After we have MBPlant running at a reasonable speed, we can revisit changes whi

[2020-09-18 03:15] jwnimmer-tri commented on #13832
My proposal in a quick chat with @jamiesnape today was:

(1) demote the website out of `bazel build //...`;

(2) switch the default sense of `install_prereqs.sh --with-doc` to be opt-in instead of opt-out;

(3) add Ruby and Jekyll as a docs-only dependency on all platforms; on Ubuntu, if we can use the stock apt version of Jekyll, that would be superb;

(4) create a (shadow, non-hyperlinked) page

[2020-09-18 03:19] jwnimmer-tri commented on #12903
We have a bit of code in Anzu that helps with this.  We'll work on publishing it soon.

[2020-09-18 06:59] rcywongaa opened #14090 "Undefined reference to ghc::filesystem"
My build has been failing with the following error.
[code]

[2020-09-18 07:17] #14090 closed

[2020-09-18 08:25] rcywongaa commented on #14090
I solved it by making the following edit in [`tools/workspace/ghc_filesystem/package.BUILD.bazel`](https://github.com/RobotLocomotion/drake/blob/master/tools/workspace/ghc_filesystem/package.BUILD.bazel#L15)

Replace
[code]
with
[code]

[2020-09-18 15:17] jamiesnape commented on #13832
`jekyll-sitemap` might be an issue on bionic.

[2020-09-18 15:41] jwnimmer-tri commented on #13832
Yes, I figured we would remove the sitemap entirely until we can change the Documentation builds to Focal.

[2020-09-18 23:17] xuchenhan-tri commented on #12674
I'm going to take a stab at this issue. I'm currently learning more about the background, and any pointer/suggestion/opinion on how to proceed will be appreciated.

[2020-09-19 00:41] DamrongGuoy commented on #13321
PR #13808 has merged. PR #13978 should merge soon.

I created two issues to work in the future:

- issue #14067 [geomtry] Improve CalcOrientationByPca() for covariance matrix with repeated eigenvalues.
- issue #14081 [geometry] Improve ObbMaker::OptimizeObbVolume().

The code for visualizing Bvh and Obb is in my own branch (DamrongGuoy/drake/BvhToVtk). There's no plan to merge it into master yet.

[2020-09-19 15:01] EricCousineau-TRI commented on #14086
I've broadened this scope to general C++, but I'm going to address the acute Python portion because performance savings like this are nigh negligible in Python.

[2020-09-19 15:25] EricCousineau-TRI commented on #14086
For my own edification, is there a discussion, design doc, or something that motivates the difference between construction of `RigidTransform`, `RotationMatrix`, etc., vs. `SpatialVector`?

Er, but for the vectors that are present, acceleration, velocity, momentum, and force, zero seems physically relevant? I don't care who's responsible for the constructor, whether it's at the base with the assum

[2020-09-19 16:14] EricCousineau-TRI opened #14097 "spatial_algebra: `Class::dot` implementations cause dependency cycles"
From merge-base 9b7cae4c56e, when writing bindings for some of the `SpatialVector` derived classes, I got the following runtime error when running the Python unittest:
[code]

Looking into it, it's because the `::dot` definitions are defined in `spatial_algebra.h`???
https://github.com/RobotLocomotion/drake/blob/19a15cd364efe6ef8d23ece115375948b546810c/multibody/math/spatial_algebra.h

EDIT (2020-

[2020-09-19 16:15] EricCousineau-TRI commented on #14097
As a minor workaround, I'll just include `spatial_algebra.h` in the binding file itself.

[2020-09-19 16:19] jwnimmer-tri commented on #14086
I've been thinking about this more.

For my own intuitions at least, the important mnemonic for guiding my understanding is having something like "array" or "vector" or "matrix" in the class name.  When I see `ndarray` or `Vector3d` or the like, I know that the data type is akin to raw storage, so I know that by default the data is uninitialized.

The `SpatialVector` provides some sugar to have a

[2020-09-19 16:27] jwnimmer-tri commented on #14097
I agree that this violates GSG's rule about self-contained headers.

I don't think it is "configuration: python", though -- this is a problem for C++ users as well.

[2020-09-20 00:34] sherm1 commented on #14086
RigidTransform & RotationMatrix are _mathematical_ objects with certain properties invariant. SpatialVector is used to hold physical quantities (velocity, acceleration, force, momentum) that are supposed to be calculated in accordance with some set of equations. The proper initialization for SpatialVector objects is NaN -- indicating that they do not currently hold such a physical property. Zero h

[2020-09-21 13:00] amcastro-tri commented on #14086
I didn't add to this discussion since I believe my point of view has already been expressed. But, if it matters, I'd prefer we do not change the behavior of the default ctor so that @sherm1 can continue his work without surprises.
If we really really want a solution today, I'd advocate for a factory `SpatialVelocity::Uninitialized()`  for performant critical code, and deprecate the default constru

[2020-09-21 14:15] SeanCurtis-TRI commented on #14097
@amcastro-tri As platform reviewer of the day, I'm assigning this to you. I'll defer to you if it should be passed along.

[2020-09-21 14:50] #14058 closed

[2020-09-21 15:57] #14032 closed

[2020-09-21 16:43] SeanCurtis-TRI commented on #14084
Team assigned based on past assignment of the porting work (#13282). Feel free to change it if incorrect.

[2020-09-21 17:23] amcastro-tri commented on #14097
Ideally I'd like those inline. What should be done here? place explicit instantiations by hand in a source file?

[2020-09-21 17:28] jwnimmer-tri commented on #14097
It's a dependency cycle, not easily cured.  Ask @rpoyner-tri to help talk you through it.

With only a quick look, to me the only solution is to present a single header for all users (even internal users) to include, for the whole package.  That's the only way you can be sure that all callers receive the inline method bodies -- all callers must have all headers fully included.  The explicit instan

[2020-09-21 18:05] EricCousineau-TRI commented on #14097
This issue is specifically about linking from `//:drake_shared_library`, so just adding them in something like `spatial_algebra.cc` would resolve this issue (IMO).

If y'all feel that the scope should be broadened to all linking cases, then should we expand the scope? (I can edit the title to reflect that if appropriate.)

[2020-09-21 18:38] jwnimmer-tri commented on #14097
Or maybe... it might be enough to add a simple `#include "spatial_algebra.h"` to `spatial_{force,momentum,velocity}.cc` along with adding that header to `srcs` for those rules.  Then the definition is available at the time of explicit template instantiation.

That would at least fix the problems with unmet linking promises.  The inlining design is still broken, though.

[2020-09-21 21:56] #14068 closed

[2020-09-22 16:07] jwnimmer-tri commented on #13832
@jamiesnape I'm going to put (1..4) above on the To Do board at https://github.com/RobotLocomotion/drake/projects/2 for your queue.

[2020-09-22 17:22] EricCousineau-TRI opened #14107 "hydroelastic: Links to SDFormat and URDF specification are broken?"
As of master @ 598ab9c303, I tried to click on the following links:
https://drake.mit.edu/doxygen_cxx/classdrake_1_1multibody_1_1_multibody_plant.html#mbp_hydroelastic_materials_properties

But those links appear to be broken; here's the HTML from the rendered Doxygen:
[code]

[2020-09-22 17:26] EricCousineau-TRI commented on #14107
Here's that text in source:
https://github.com/RobotLocomotion/drake/blob/598ab9c303b9fb1782b86295c03af882fd098e4f/multibody/plant/multibody_plant.h#L1412-L1413

And here're the two anchors that are referred to:
https://github.com/RobotLocomotion/drake/blob/598ab9c303b9fb1782b86295c03af882fd098e4f/multibody/parsing/detail_urdf_geometry.h#L137
https://github.com/RobotLocomotion/drake/blob/598ab9c30

[2020-09-22 17:26] SeanCurtis-TRI commented on #14107
I'm surprised they render as links. They end up linking into internal code. In my mind, this is part of #13314 (although it's not explicitly enumerated there).

[2020-09-22 17:27] jwnimmer-tri commented on #14107
Is this a duplicate of #14054?

[2020-09-22 17:27] EricCousineau-TRI commented on #14107
Ah, makes sense. Reassigning, as it's just a "What's documented publicly" question.

[2020-09-22 17:28] EricCousineau-TRI commented on #14107
@jwnimmer-tri Yup, seems so. Though this issue, with Sean's reference to #13314, I'd say the root-cause is a bit more clear?

[2020-09-22 17:29] EricCousineau-TRI commented on #14054
#14107 is a duplicate of this issue, but @SeanCurtis-TRI I think has identified the root cause in that one. Will close this for now.

[2020-09-22 17:29] #14054 closed

[2020-09-22 18:47] DamrongGuoy commented on #13321
PR #13978 was merged. Close this issue now.

[2020-09-22 18:47] #13321 closed

[2020-09-22 20:28] rpoyner-tri commented on #14097
Had an initial look. From a physical-design POV, ewww. From the GSG perspective, the code flouts advice about forward declarations. From a module dependency perspective (module being a .cc/.h pair, roughly), there are dependency cycles for each dot() method.

Looks like we want to preserve the `X.dot(Y)` syntax to imitate an infix operator, and have the client sites look somewhat notationally plea

[2020-09-22 23:35] rpoyner-tri commented on #14097
My dev branch here https://github.com/rpoyner-tri/drake/tree/spaghetti-algebra has a proposal that breaks the dependency cycles. I haven't checked to see if inlining works in representative cases yet. Also, the documentation probably needs a lot more work. Shout-outs to interested parties not yet seen in this issue: @sherm1 @mitiguy

[2020-09-23 00:04] EricCousineau-TRI commented on #14097
Hm... I think that solution (ensure all declarations are present in one bundle) goes beyond the scope of this issue (make sure stuff is present in `//:drake_shared_library`).

I'll expand the scope, but FWIW I'd be happy w/ Jeremy's solution for now.

[2020-09-23 00:10] EricCousineau-TRI commented on #14097
@rpoyner-tri I think your current approach may still hurt users if headers aren't bundled together.

e.g. if I don't include `spatial_algebra.h`, then my linker error now turns into a `DotProductNotPermitted`, and now I'm scratching my head why a valid dot product is explicitly disabled.

I think the most robust solution (in this case) would be to either bundle the headers (as is done with `symbol

[2020-09-23 00:26] EricCousineau-TRI commented on #14097
I've filed one possible implementation of Jeremy's suggestion: #14113

[2020-09-23 00:47] sherm1 commented on #14097
Clever! That looks like it would inline nicely. I do worry that the switch from ordinary function to many-layered template meta function could produce some horrifying error messages.

[2020-09-23 00:50] jwnimmer-tri commented on #14097
FYI I'm with @EricCousineau-TRI on this one.  The headers are all super tiny; the compile time cost of parsing all of them is unlikely to matter.  Thus, they should be (effectively) a single header.  That would fix all of the forward-decl, inlining, and explicit template instantiation problems in one fell swoop, with low complexity.

[2020-09-23 00:55] EricCousineau-TRI commented on #14097
I think #14113 could close this issue out without needing to resort to `symbolic.h`-style gluing -- yes, it does have forward declarations, so users would get a weird error message if they try to instantiate say `SpatialForce` if they only included `spatial_vector.h`, but if the user includes `spatial_force.h`, then they'd be good.

Is it super important to put those under one roof? (I'm kinda amb

[2020-09-23 01:04] jwnimmer-tri commented on #14097
The current component design is an abuse of C++ and violates the GSG.  I think we should have an issue or TODO to track that, or at least a disclaimer in the code not to replicate the pattern.  I don't care if it's under this issue number's umbrella or not.

The most important consequence of the abuse is that it's _way too easy_ to accidentally end up with out-of-line dot products simply by forget

[2020-09-23 02:29] EricCousineau-TRI opened #14114 "linear_bushing_roll_pitch_yaw: Users can encounter gimbal lock; should add better error message with suggested fixes?"
@sherm1 noted in an email that this is obvious, but that it'd still be good to file an issue.
Here's the repro script:
https://gist.github.com/EricCousineau-TRI/57cfaa3455d1e10255897a4253c0f2fc/884639c8e2f8cd03d15381d23a1972514d940357

The error message:
[code]

I was able to reproduce this on Anzu's latest master (as of time of writing), as well as drake @ ec5de34e0b75ff8e9ed80d0207020c11e26ec7ae

[2020-09-23 02:34] EricCousineau-TRI commented on #14114
FWIW This can be encountered if the linear bushing's setpoint is also at a singularity (e.g. you attach the bushing between the world frame and a rotated frame of the body). I had encountered this in Anzu (issue 5446) as well.

[2020-09-23 02:44] EricCousineau-TRI commented on #14114
Ah, to add to that - it's a bit painful b/c I need to now rotate the body+visual of the model itself so that the linear bushing itself is happy with the relative pose.

[2020-09-23 03:10] sherm1 commented on #14114
It should always be possible to provide an additional frame for the purpose of attaching a bushing. That frame should be oriented so that the pitch angle starts out near zero. You shouldn't have to rotate any physical objects to accommodate that -- it is really just a matter of how the bushing motion gets parameterized. Could you add another frame?

[2020-09-23 03:46] EricCousineau-TRI commented on #14114
In my original usage in Anzu, I originally encountered this due to attaching that intermediate frame.

I've updated the repro, and you can see the diff here:
https://gist.github.com/EricCousineau-TRI/57cfaa3455d1e10255897a4253c0f2fc/revisions#diff-8db96eb2d46ecd776f16aa6b9a6661fd

This just sets `frameC` to incorporate the gimbal-locked pose; it still triggers the same error.

[2020-09-23 03:51] EricCousineau-TRI commented on #14114
Ah, should I have offset frameA and frameC?

[2020-09-23 03:52] EricCousineau-TRI commented on #14114
And nuts, my update was wrong. Lemme fix that right quick.

[2020-09-23 03:57] EricCousineau-TRI commented on #14114
Yeah, this makes it work:
https://gist.github.com/EricCousineau-TRI/57cfaa3455d1e10255897a4253c0f2fc/revisions#diff-8db96eb2d46ecd776f16aa6b9a6661fd

Which is effectively what I had in Anzu.
I think my issue in Anzu was that I also had a contact-visualizer, which tickled this codepath when computing contact. At that point, I hadn't initialized `X_WO` to be at the setpoint, hence why I would get th

[2020-09-23 04:06] EricCousineau-TRI commented on #14114
Hm... Sorry to throw a wrench in that, but I'm still observing that `X_WO` is actually sensitive to what frame `frameC` is set to (either offset from the body or not).

[2020-09-23 16:33] rpoyner-tri commented on #14097
FTR, my branch above still has the module slicing defect. It just converts a link error to a compiler error at considerable cost in source complexity.

[2020-09-23 17:00] sherm1 commented on #14114
Not sure I'm following this yet. Looks like the bushing is between the World frame and a body frame. Better to set it up so that the bushing angles start out near zero by providing an offset frame for that purpose. One thing to check is to convert **back** from RotationMatrix to RollPitchYaw -- the mapping is not unique so you might not get back what you put in for extreme angles.

[2020-09-23 17:14] EricCousineau-TRI commented on #14097
Given merge of #14113, do we still think this issue is useful as it's scoped?

IMO, nah, not really in the grand scheme of things (for my purposes).

[2020-09-23 17:21] jwnimmer-tri commented on #14097
@EricCousineau-TRI you can just unsubscribe.  I care about fixing this code, so I'll take it over.

[2020-09-23 20:47] jwnimmer-tri commented on #14097
For the record, I think the bug was introduced as of #5365.

[2020-09-23 21:17] jwnimmer-tri commented on #14097
My proposed solution will be:
- deprecate direct inclusion of the headers other than `spatial_algebra.h`
- deprecate direct use of the cc_library names than `:spatial_algebra`
- consolidate the cc files into just a single one `spatial_algebra.cc`

[2020-09-23 23:07] BenBurchfiel-TRI commented on #13945
What about supporting just conda? We could support conda installing drake into a new environment, but not into a full anaconda environment. This would let both miniconda and anaconda trivially install Drake but still ensure that there wasn't a bunch of other junk conflicting with it.

[2020-09-23 23:42] EricCousineau-TRI commented on #14114
So digging into it a bit further, it looks like the gimbal lock error was actually caused by my simulation going unstable; occasionally, it would graze against other errors (`fn >= 0` assertions, or just spitting out NaNs). This error was sensitive to how I postured the object, which is why I was a bit confused about the behavior.

If I turn down the force/torque stiffness/damping, or increase the

[2020-09-23 23:58] EricCousineau-TRI commented on #14114
Here's the repro:
https://gist.github.com/EricCousineau-TRI/57cfaa3455d1e10255897a4253c0f2fc/a92019d9bc486f75eba62171203d1edeb55149b1
[code]

Yeah, this may just be chalked up to PEBKAC - should've checked inertias / stiffness, etc.
The error message was a bit confusing, but it's simulation instability, so dunno what can be clarified there.

Is there anything worth salvaging in this issue, or shou

[2020-09-24 01:15] sherm1 commented on #14114
I would have liked the message to note that the error was reported by a bushing -- currently the low-level method that detected the error doesn't know who's asking. @mitiguy is back tomorrow maybe he can take a look to see if it would be feasible to get some more info squeezed into that message.

[2020-09-24 03:47] jwnimmer-tri commented on #13945
My point was more about the formulation -- "add testing for an unsupported platform" (per the original issue title) is not my preference.

I'm not well informed on the difficulty of doing "just conda" or the related ecosystem.  Someone who is interested and informed could use this issue to discuss.

The difficulties with pip (#1183) related to the C++ side of the dependencies.  It would be interes

[2020-09-24 16:25] #8544 closed

[2020-09-24 18:28] jamiesnape opened #14118 "__init__.py installed directly into /opt/drake/lib/pythonX.Y/site-packages"
Does not seem right... Contents are `# Empty Python module __init__, required to make this a module.` which narrows the possibilities down to seven files, I think.

FYI @EricCousineau-TRI

[2020-09-24 18:41] EricCousineau-TRI commented on #14118
Aye. Perhaps an easy debugging step is to teach `install.py.in` to annotate the files somehow.
e.g. "if it ends with `.py`, inject source location", or just "add `{file}.meta.txt` which indicates where it comes from".

[2020-09-24 18:50] jamiesnape commented on #14118
I would put a fair amount of money on it being `lcmtypes/__init__.py`.

[2020-09-24 19:42] EricCousineau-TRI commented on #14114
Per VC w/ @mitiguy, we briefly discussed that the error message could be implemented by checking for singularity in the linear bushing code itself, and then adding some additional semi-vague advice about checking your configuration as well as parameters affecting stability (stiffness, damping, mass / inertia, etc.).

[2020-09-24 22:42] #14097 closed

[2020-09-25 01:04] hongkai-dai opened #14121 "Support an open source SOCP solver"
Currently I found open-source solvers

- [ecos](https://github.com/embotech/ecos) This uses GPL license, hence not usable for us.
- [socp](https://web.stanford.edu/~boyd/old_software/socp/). This solver is >20 years old and hasn't been maintained/updated. @jwnimmer-tri and @jamiesnape , could you check if this solver has a license issue?
- SCS. It is already supported in drake, but SCS doesn't alw

[2020-09-25 15:02] jwnimmer-tri commented on #14121
I was initially confused about the link, since it was only matlab code; but then later I found that tarball had a h/c file inside of it.  Are those the files you'd want to use?

Its license looks like an ancient version the MIT license.  It's probably okay -- it forces the notice into the _documentation_ specifically, which is a bit more strict than normal.  Modern licenses talk about notice along

[2020-09-25 16:54] SeanCurtis-TRI commented on #12843
Resolved by #13680.

[2020-09-25 16:54] #12843 closed

[2020-09-25 18:20] SeanCurtis-TRI opened #14123 "[sensors] Accelerometer and gyroscope need header deprecation"
PRs #13501 and #13604 introduced an acclerometer and gyroscope, respectively. These sensor types had existed in the previous `RigidBodyPlant` regime. As such, to avoid file name collisions in includes, their header files had to be named `accelerometer_sensor.h` and `gyroscope_sensor.h` (even though the classes are simply called `Accelerometer` and `Gyroscope`.

With the conclusion of #13889, the c

[2020-09-25 20:10] EricCousineau-TRI commented on #13445
This came up in Anzu 5510. I'll try to circle back to the test which failed due to the doubly-tracked geometry.

In that Anzu PR, it came up with what happens to `MultibodyPlant::collision_geometries_` when those geometries are changed (e.g. a geometry removed) by SceneGraph, not MBP:
https://github.com/RobotLocomotion/drake/blob/868c758afb89c0e25802a99335688d9cf617dd72/multibody/plant/multibody_p

[2020-09-25 20:21] EricCousineau-TRI commented on #13445
Er, re-reading the convos and re-inspecting things, I'm not yet convinced... Also, I'm a bit uncomfortable with the fact that #13545 introduces even more method-forwarding on top of what MBP already does...

AFAICT It's because "we don't expose the plant.scene_graph() b/c transmogrification / the Systems framework", but egad. I wish there some way around that at some point, but I don't have a good

[2020-09-25 21:01] SeanCurtis-TRI commented on #13493
@EricCousineau-TRI The main core of this PR has been resolved by #13999, I believe.

I vote we close this issue and split out the second part into its own issue. Thoughts?

[2020-09-25 21:02] SeanCurtis-TRI commented on #13493
Alternatively, the second part would be *trivial* to provide, so I might just knock it out to close this issue.

[2020-09-25 21:17] SeanCurtis-TRI commented on #12798
Closing in favor of #13314.

[2020-09-25 21:17] #12798 closed

[2020-09-25 21:38] EricCousineau-TRI commented on #13493
I'm fine either way!

[2020-09-25 21:44] SeanCurtis-TRI commented on #10984
There hasn't been much clamoring for the batch API. The cost of calling multiple queries (needlessly duplicating the work of updating poses) was eliminated as of #11019. So, I'm closing this for now. If we want the batch API, we can resurrect this (or create a new issue).

[2020-09-25 21:44] #10984 closed

[2020-09-25 21:47] SeanCurtis-TRI commented on #12230
Closing this in favor of #10907.

[2020-09-25 21:47] #12230 closed

[2020-09-25 22:16] SeanCurtis-TRI commented on #13445
So, the "forwarding" is only happening to provide support to the API that by rights should not exist. The work flow should be: ask MBP for body -> ask MBP for frame id from body ->  ask SG for geometries for frame id. However, we've got these long-lived APIs that are used.

We've started whittling away at MBP's dependence on its `collision_geometriers_`, but as long as it is there, there are land

[2020-09-25 22:28] SeanCurtis-TRI commented on #10329
I'm inclined to close this.

1. I'm against leaking `GeometryState` into the public API.
2. I can't make `Context` optional because we have a convention that when a `Context` is provided its the first parameter.

So, other than noting a doubling, I don't anticipate this getting resolved any time in the foreseeable future.

[2020-09-25 22:28] #10329 closed

[2020-09-25 22:35] SeanCurtis-TRI commented on #9274
Closing this as an `attic` artifact that no longer matters.

[2020-09-25 22:35] #9274 closed

[2020-09-25 22:35] SeanCurtis-TRI commented on #9179
Closed as being an attic artifact.

[2020-09-25 22:35] #9179 closed

[2020-09-25 22:37] EricCousineau-TRI commented on #10329
1. I mean, it can be whatever interface that publicly pipes `GeometryState`, if you're concerned about things that `GeometryState` may want to expose internally.
2. That could be worked around with pointers? I don't see that as a valid objection.

That being said, in terms of "what's important and when will it get done?", I'm OK with this being closed.
I just forsee it will beget additional work,

[2020-09-25 22:39] SeanCurtis-TRI commented on #8978
This is about `RgbdRendererOspray`, that class is no no more. I propose we close this. We haven't encountered the same issues with `RenderEngineOspray`, yes?

[2020-09-25 22:47] SeanCurtis-TRI opened #14124 "[geometry] Specify collision filter groups in SDF"
Called out in a discussion in #4729. Although we support declaring collision filter groups in urdf files (as of #12495) we don't yet support it for SDF. We should bring the `<drake:collision_filter_group>` (and family) xml tags into the SDF space as well.

[2020-09-25 22:49] SeanCurtis-TRI commented on #4729
This issue has two topics:

1. Abstract discussion of filter group semantics.
2. Request that the functionality in URDFs be available in SDFs. I've created the issue #14124 to capture that particular feature.

As such, I'm closing *this* in favor of the new issue.

[2020-09-25 22:49] #4729 closed

[2020-09-25 22:51] SeanCurtis-TRI commented on #2941
I'm closing for now. We're up to our ears in OBJ without any plan in the forseeable future to branch out. When it's a concrete need, we can revisit this.

[2020-09-25 23:02] SeanCurtis-TRI commented on #10329
I'm not entirely sure I understand your statements.

1. "whatever interface that publicly pipes `GeometryState`"? So, you're suggesting a *third* class? Something that sits between SceneGraph and GeometryState? That's returned by the putative `state()` method? That could work. All of `SceneGraph`'s forwarding APIs get passed to the new class, and that class only has to have one variant on each cal

[2020-09-25 23:24] EricCousineau-TRI commented on #8978
I think this apply would apply equally to `RenderEngineOspray` due to the singleton bits.
I would say this would be 100% closable if this `flaky` tag were removed:
https://github.com/RobotLocomotion/drake/blob/868c758afb89c0e25802a99335688d9cf617dd72/geometry/render/BUILD.bazel#L211-L212

[2020-09-26 04:03] mitiguy commented on #14114
Opened PR #14126 to initiate progress on a better error message.

[2020-09-26 23:23] hongkai-dai commented on #14121
Yes that tarball h/c file is what I want to use.

[2020-09-27 21:18] cjds commented on #14068
@jwnimmer-tri is there a good reason not to make it something usable outside of drake?

The reason I'm asking is it is used in quite a few of the examples eg.

https://github.com/RobotLocomotion/drake/blob/master/examples/pendulum/pendulum_params_named_vector.yaml#L1

among other places

but that means I can't easily port any of these examples into the external project examples

https://github.com

[2020-09-27 22:33] jwnimmer-tri commented on #14068
As I understand it, there is no meaningful impediment to using named vector yamls in downstream projects.  I believe the `vector_gen` binary and the `cc_vector_gen` macro are directly usable by downstream projects, so there is no need to copy the tool.

The only thing downstream projects might need to re-implement is the `drake_cc_vector_gen_library` macro.  Almost every line in that macro would c

[2020-09-28 13:07] SeanCurtis-TRI commented on #8978
Yep. You're right. It stays open.

[2020-09-28 13:12] avalenzu opened #14132 "Add bindings for Bspline{Basis,Trajectory}"

[2020-09-28 14:05] jamiesnape commented on #14121
The license seems fine, though obviously the documentation clause is a little annoying. The MIT license is not really standardized, so there are lots of variations (though most people use the Expat variation). Looks like similar licenses made it into Debian, and they are usually pretty strict.

[2020-09-28 15:11] RussTedrake opened #14133 "Upgrade MeshcatVisualizer to use QueryObject"
I keep running into small changes I'd like to make that would be trivial given the QueryObject interface to SceneGraph, but are difficult/impossible using the current lcm draw message communication.  For instance, I want to visualize the collision geometry instead of the visual geometry, but cannot.

This shouldn't be a hard change, but I don't quite have the cycles to do it myself yet.  Any volun

[2020-09-28 19:48] jwnimmer-tri commented on #5408
Re-assigning to @mitiguy to resolve.  In #13593 we're apparently adding yet another acrobot, buried inline in a unit test.  That's beyond what I can retrofit.

[2020-09-28 19:48] jwnimmer-tri commented on #6619
Re-assigning to @mitiguy to resolve.  In #13593 we're apparently adding yet another acrobot, buried inline in a unit test.  That's beyond what I can retrofit.

[2020-09-28 19:48] jwnimmer-tri commented on #10294
Re-assigning to @mitiguy to resolve.  In #13593 we're apparently adding yet another acrobot, buried inline in a unit test.  That's beyond what I can retrofit.

[2020-09-28 20:27] xuchenhan-tri commented on #12674
There are two things that prevent Context to copy fixed input port values in SetTimeStateAndParametersFrom() without the help of the corresponding System:

(1) The Context is ignorant of the PortDataType of the input port, so it doesn't know whether to copy the fixed input port values over as numerical values or abstract values.
(2) If the fixed input port value being copied over is abstract and s

[2020-09-28 20:38] SeanCurtis-TRI opened #14136 "[geometry] AutoDiff support for hydroelastic contact"
Although, much of the hydroelastic contact infrastructure has been coded with a templated scalar, it is not yet ready for computing contact with AutoDiff calculations. The primary reason for this is because the scalars haven't been properly applied.

For example, one [long-lived comment](https://github.com/SeanCurtis-TRI/drake/blob/88c2e5f3a2b92b1c5ce8f3625472baf6628ed8bc/geometry/proximity/mesh_i

[2020-09-28 21:28] xuchenhan-tri opened #14138 "Add Context::SetStateAndParametersFrom() so that a non-root context can set state and parameters from another context."
Currently, we cannot call Context:SetTimeStateAndParametersFrom() on non-root context because time (and accuracy) can only be set from root context. But it is sometimes convenient to have the ability to set just the state and parameters of a non-root context (and all of its subcontexts) from another context.

Per the discussion below, we will:
-  Add new Context::SetStateAndParametersFrom method.

[2020-09-28 21:38] wlav commented on #7889
Yes, you're right and I don't know the complexity of Drake, but am currently dealing with two very complex (modern) C++ libraries where annotations would not be straightforward. For example, `using template` syntax to pick different types from different namespaces. This is, post-template instantiation, completely unambiguous, but not while parsing the source.

But anyway, there recently was a kick

[2020-09-28 22:11] #13861 closed

[2020-09-28 22:14] sherm1 commented on #14138
This was motivated by a @siyuanfeng-tri use case: he had a diagram ("old") and wanted to make a change to _one_ of its subsystems in an otherwise identical diagram ("new"), then transfer the state from old to new. He couldn't use SetTimeStateAndParametersFrom() at the root level because of the changed subsystem. But he could use it for each subsystem _except_ the changed one, which he could transf

[2020-09-28 22:28] jwnimmer-tri commented on #14138
The `SetTimeStateAndParametersFrom` is just sugar (with epsilon-more-efficient ticket invalidation).  If the user wants to opt-out of some parts of the sugar, isn't this clearer anyway?
[code]
If we're not going to copy the time or accuracy anyway, maybe we shouldn't be trying to call a method that claims to do so?

I'm skeptical about adding more complexity to the contracts of SetTime, SetAccurac

[2020-09-28 23:10] sherm1 commented on #14138
The proposal would still meet the contract for the API -- the resulting time & accuracy would be "as if" the copy had occurred. Any attempt to actually make a change would fail if not done at the root level. Also the contracts for [SetTime()](https://drake.mit.edu/doxygen_cxx/classdrake_1_1systems_1_1_context.html#a3d5dddf9b2bb3283f9cd74c7a77517fc) and [SetAccuracy()](https://drake.mit.edu/doxygen

[2020-09-28 23:55] jwnimmer-tri commented on #14138
If I call `Context<AutoDiffXd>::SetTimeStateAndParametersFrom` on a subcontext with a current time of `{.value = 10, .derivatives = [1]}` passing in a subcontext with a new time value of `{.value = 10, .derivatives = empty}`, what should happen?

[2020-09-29 00:16] sherm1 commented on #14138
That should fail. But I see your point -- `{10,[1]} == {10,[]}` would return true since it depends only on the value part of an AutoDiffXd. We would need an `is_exactly_the_same(t1, t2)` that can work for double, AutoDiffXd, and symbolic. The distributed time in a Context has to behave as though there was exactly one time entry shared by all subcontexts. Does such a method currently exist?

(This

[2020-09-29 00:31] jwnimmer-tri commented on #14138
No, I don't think we have a generic "are two scalars structurally equal" checker yet.  We have [EqualTo](https://drake.mit.edu/doxygen_cxx/classdrake_1_1symbolic_1_1_expression.html#abb771e5bf5c37eb4753daf77f77adab0) for symbolic, and would have to write our own for `AutoDiffXd` (I think).

Note that `SetTimeStateAndParametersFrom` promises to discard all derivatives (including of the `get_time`)

[2020-09-29 00:42] sherm1 commented on #14138
Where is that promise made? I don't see it in [doxygen](https://drake.mit.edu/doxygen_cxx/classdrake_1_1systems_1_1_context.html#ae55845b172939052d02ea437df63cfbc). I see that [ValueConverter](https://drake.mit.edu/doxygen_cxx/structdrake_1_1systems_1_1scalar__conversion_1_1_value_converter.html) says it might discard derivatives, but it also says the scalar is unchanged if type U == T.

[2020-09-29 00:45] sherm1 commented on #14138
Are you interpreting "Sets this context's time, accuracy, state, and parameters from the double values in source ..." to mean _only_ the double values in source? I suspect when that was written we were assuming that the source would always be U==double.

[2020-09-29 00:58] jwnimmer-tri commented on #14138
Oh, you're right.  I took that documentation at its word today, but it looks like I left the documentation a bit of a mess when I added `typename U` there (and elsewhere), so it was lying.  (The method _previously_ only accepted `Context<double>`.)

So it would be slightly less arcane than I'd been anticipating to adopt this short-circuit in the three methods in question.

Here's an alternative an

[2020-09-29 01:23] mitiguy commented on #5408
@jwnimmer-tri   I am _not_ creating another acrobot in PR #13593.   I think it important to be able to create small hand-crafted fixtures/models (e.g., a kinematic-only double pendulum) for testing purposes without reliance on other models that have other dependencies.

To make this point clearer, I am adding the following comment to the test fixture (model):
// Note: The applied forces (such as g

[2020-09-29 01:27] sherm1 commented on #14138
That does seem nicer!

[2020-09-29 01:33] jwnimmer-tri commented on #5408
I'll just close this as a duplicate of #10294.  I'm not sure that the SDF vs URDF sync is the big deal, vs the C++ implementations.  If we do care about the files in particular, we can have it as a subtask of #10294.

[2020-09-29 01:33] #5408 closed

[2020-09-29 01:40] jwnimmer-tri commented on #6619
In b43bf44d7148ad4a8ab919ddcc502aa1168b08a4 we changed parameters to the framework, so the particular regression bug that lacked a unit test is now moot -- we can rely on the framework to handle it properly.  There might be additional missing tests, but we'll only add them as we find _new_ bugs.

[2020-09-29 01:40] #6619 closed

[2020-09-29 01:46] jwnimmer-tri commented on #10294
Per https://github.com/RobotLocomotion/drake/issues/5408#issuecomment-700368685, I guess the new model is different (simpler), not identical.  I'll still keep this issue assigned to @mitiguy though, as "benchmarks czar".  The original reasons why I took it over for myself no longer apply.

Aside: In #5408 we talked about regression testing that the sdf and urdf data are interchangeable / identical

[2020-09-29 01:46] jwnimmer-tri commented on #11009
Ping @EricCousineau-TRI can we close this now?  Or else can you clarify what's needed?

[2020-09-29 03:32] xuchenhan-tri commented on #14138
Thanks for the discussion and suggestions! I agree that adding `Context::SetStateAndParametersFrom` method is indeed cleaner. I will do that instead.

What is the standard procedure to reflect the result of this discussion? Should I modify this issue or close it and open a new one?

[2020-09-29 05:00] sherm1 commented on #14138
The best thing to do is edit the title and description if necessary but otherwise keep the issue. The discussion here is valuable and worth keeping around. The description for the PR for SetStateAndParametersFrom() should say it "Resolves #this_issue_number" which is GitHub magic that will cause this to close automatically when the PR merges. (You can also say "Fixes" or "Closes".) That links the

[2020-09-29 08:49] siyuanfeng-tri commented on #14138
I like @jeremyma-tri 's proposal. That's essentially what I am doing now. Thanks guys.

[2020-09-29 12:51] EricCousineau-TRI commented on #11009
Closing. #10531 is the other more general thing that needs fixing, but that's already tracked. The acrobot-specific bits are also tracked.

Thanks for the ping!

[2020-09-29 12:51] #11009 closed

[2020-09-30 14:19] jamiesnape commented on #12782
`brew install --cask robotlocomotion/director/drake` is not available for the monthly releases. The cask does includes SNOPT support and installs both Homebrew and pip dependencies. Drake and pip dependencies are in `/opt/drake`, while Homebrew dependencies are in `/usr/local`.

[2020-09-30 15:02] jamiesnape commented on #12782
Oh dear,
[code]

[2020-09-30 15:09] jamiesnape commented on #12782
`brew install --cask --no-quarantine robotlocomotion/director/drake` is a workaround, but certainly not a desirable workaround.

[2020-09-30 17:52] dmcconachie-tri commented on #12903
For the integrator defaults, there appear to be 3 locations that these are currently stored:
- https://github.com/RobotLocomotion/drake/blob/5b7efad9ae369c82becec75ac2c820cb30d93f06/systems/analysis/simulator_gflags.cc#L44
- https://github.com/RobotLocomotion/drake/blob/5b7efad9ae369c82becec75ac2c820cb30d93f06/systems/analysis/simulator_config.h#L31
- https://github.com/RobotLocomotion/drake/blob/

[2020-09-30 18:11] sherm1 commented on #12903
Hmmm. It does seem like those should be synchronized but it's disturbing that they exist in multiple places. What do you think about these defaults @edrumwri ?

[2020-09-30 18:24] amcastro-tri commented on #12903
definitely 1.0e-3 secs is a bad value for max step size if using error control. I'd prefer it to be more like 0.1 secs.
I think 1.0e-3 secs might have made it into `simulator_gflags.cc` so that fixed step integrators had  a more or less fair chance to deal with some of our problems. However, mostly they fail, so I IMO the max step size should be set to something sensible for error-controlled integ

[2020-09-30 18:50] sherm1 commented on #12903
Yeah, that's my thought also. And the default integrator is RK3, which is error controlled. I believe we thought hard long ago about the defaults in Simulator (or at least @edrumwri did) -- my inclination is to leave those as the defaults. Best I think would be if the Simulator could be asked for its defaults and then those could be used by simulator_gflags.

[2020-09-30 19:00] jwnimmer-tri commented on #12903
@sherm1 we have "Ensure congruence between Simulator default configuration and struct SimulatorConfig defaults" as a task noted above, so yes we're going to make them all align.  However, we're not going to refactor the config struct to ask the simulator, because then the build footprint of the simple schema is the hugeness of all of the simulator, framework, etc.  Instead, the plan is to add a re

[2020-09-30 19:12] sherm1 commented on #12903
That makes sense. Let's adopt the existing Simulator defaults then rather than trying to match the older adhoc gflags stuff. There might be some fallout from that in a few of the simulator_gflags use cases but those should be easily fixed.

[2020-09-30 20:35] dmcconachie-tri commented on #12903
I found additional (conflicting with `simulator.cc`) defaults here:
https://github.com/RobotLocomotion/drake/blob/5b7efad9ae369c82becec75ac2c820cb30d93f06/systems/analysis/simulator.h#L789
Given that the values in use are the ones in `simulator.cc` I'll use those values and update all the others to match/replace with a single source where reasonable.

[2020-09-30 20:49] sherm1 commented on #12903
Looks like the original intent was to have simulator.h define constants for the defaults and simulator.cc use them. So updating the simulator.h constants to the currently in-use values and then making simulator.cc use them seems like the right thing to do!

The integrators all have their own defaults. Simulator isn't obligated to use those, though it probably should.

[2020-09-30 21:08] DamrongGuoy commented on #13033
I added label `component: geometry general`.  Please feel free to change it. I'm not sure whether it's `component: geometry proximity` or `component: multibody plant` too?

[2020-09-30 21:42] DamrongGuoy commented on #11154
We already had rigid-soft case working. I'll close this issue now. In the future, we can create another issue for soft-soft case.

[2020-09-30 21:42] #11154 closed

[2020-09-30 21:43] rpoyner-tri commented on #13902
I have a PR open to improve the focus of benchmarks on actual code of interest -- #14146. Since it changes the measurement of the autodiff cases, we'll have to back-fill some measurements of older code to have valid comparisons.

As a downpayment, I'm offering here a comparison of just the #14146 patch (reviewable r1) against contemporary master.

* Drake master at 5b7efad9a
  * full conduct_exper

[2020-09-30 21:48] DamrongGuoy commented on #9512
Not needed anymore. Close.

[2020-09-30 21:51] DamrongGuoy commented on #10833
This is not needed anymore. Close.

[2020-09-30 21:51] #10833 closed

[2020-09-30 23:08] rpoyner-tri commented on #13902
Here is the result of back-porting the current `cassie_benchmark` code to a branch from an earlier point on master, and re-measuring.

* Historical branch point (used in early measurements shown above): bc8daa4dd9f8e11d9ea28d21351ffb411efb4872
* My dev branch with back-ported benchmark: https://github.com/rpoyner-tri/drake/commit/7d170856e5ba729a45bf7da1bb10ffc6528f5654
  * full conduct_experiment

[2020-10-01 14:37] SeanCurtis-TRI commented on #9512
@DamrongGuoy Can you indicate why it's not needed anymore? The answer isn't clear to me.

[2020-10-01 14:59] EricCousineau-TRI commented on #7889
Ooh, all of that looks absolutely awesome!!! Is there a website / project / mailing list that I can subscribe to if I wanna keep tabs on this as well?

[2020-10-01 15:47] #14085 closed

[2020-10-01 15:50] dmcconachie-tri opened #14151 "#warning that have not been squelched bypass CI"
For example https://github.com/RobotLocomotion/drake/pull/14135 introduced a `#warning` for deprecation purposes, but that warning shows up when building Drake from source, not just downstream when used in external projects:
[code]
https://github.com/RobotLocomotion/drake/pull/14149 fixes the issue for this particular `#warning`, but CI/bazel should (presumably) catch these warnings and prevent th

[2020-10-01 15:50] dmcconachie-tri commented on #14151
Per @jwnimmer-tri the solution is to add something like `-Werror=#warnings` here: https://github.com/RobotLocomotion/drake/blob/dfd04fc29a049366a26345df0663160238daa48b/tools/skylark/drake_cc.bzl#L7-L16

[2020-10-01 16:17] wlav commented on #7889
The original RFC, and its follow-up thread, is here (among many other places):
  http://www.tuxmachines.org/node/139759

At the bottom is the Google group they intend to use, but it hasn't seen much activity yet (except for the initial kick-off meeting). The current focus of the main upstream devs is still Clang9, which is close to be released (I tried a port of cppyy already, and other then some

[2020-10-01 17:12] jwnimmer-tri commented on #13964
Update from f2f: Jamie compiled an older revision of Doxygen and staged into mac CI with latest images, but it's not in production use yet.  We're going to work on switching macOS to use that in the interim until we can diagnose the upstream issues.

[2020-10-01 17:15] DamrongGuoy commented on #9512
The reason is no users of drake complained about it. If you'd like it investigated, I'll be happy to reopen.

[2020-10-01 17:24] sherm1 commented on #9512
It's not clear to me that users would notice if this caused problems. For example, their simulations might just run slowly because of instability caused by noise in the contact results. But they wouldn't know that this was the cause. I still think we should understand (and ideally fix) the low accuracy here. But I agree the priority could be low since we don't have _obvious_ consequences for this

[2020-10-01 17:28] jwnimmer-tri commented on #13832
Related to (1) -- would be good to keep `doc/**` text under pre-merge CI.  So either add a new Publication (without pushing anywhere) build to pre-merge, or add `doc/**` to "everything".  Probably the former.

[2020-10-01 17:29] DamrongGuoy commented on #9512
Thank you. I reopen now.

[2020-10-01 17:41] SeanCurtis-TRI commented on #9512
As I've pondered this, it seems that there are three sub-issues at play here:

1. Publishing the fact that tolerance sucks such that customers can make informed decisions. This is part of issue #10907 -- part of my Q4 OKRs to resolve.
2. Investigating *why* the tolerance is bad as it appears to be. That seems to be what the language of this issue is about.
3. Improving precision. Some unknown blob

[2020-10-01 17:57] dmsj commented on #11580
To help with this API discussion, [here's an example](https://github.com/DexaiRobotics/drake-torch/blob/master/examples/drake-ompl/src/drake_ompl_demo.cc) of how we have used this feature for collision checking.

We use a [lambda function](https://github.com/DexaiRobotics/drake-torch/blob/0130126fdb9e067fba9c61677de6def7d72ff0ee/examples/drake-ompl/src/drake_ompl_demo.cc#L209-L249) to return wheth

[2020-10-01 19:11] sherm1 commented on #13902
Restated performance snapshot due to PR #14146 modifications to the AutoDiff part of the cassie benchmark. The AutoDiff timings no longer include the malloc counting overhead. These times also include #14137 which parameterized joint frames with a small performance penalty affecting the double-valued tests.

- Drake master at dd1c83bfc575ca3d3f344f6cfdb2360dec69001c.
- Sherm's Puget, Ubuntu 18.04,

[2020-10-01 19:21] SeanCurtis-TRI commented on #11580
@dmsj Help me understand what I'm seeing in your link.

In the example, I see [this code](https://github.com/DexaiRobotics/drake-torch/blob/0130126fdb9e067fba9c61677de6def7d72ff0ee/examples/drake-ompl/src/drake_ompl_demo.cc#L209-L249) -- a lambda function that reports if any unfiltered geometry pair is closer than a threshold.

Questions:

1. Your still operating on the full world -- not trying to

[2020-10-01 19:55] jwnimmer-tri commented on #13942
Note that this might have implications for #10531.  It might mean that for things like `iiwa_description`, we should have its _own_ package.xml file and not bake it into the all-drake package.  Even if we call it `drake_iiwa_description` to set it apart from upstream.

[2020-10-01 20:20] jwnimmer-tri commented on #13624
Fixed by #14134 perhaps?

[2020-10-01 20:32] EricCousineau-TRI commented on #13624
Oh yeah, oops!

[2020-10-01 20:32] #13624 closed

[2020-10-02 02:40] jwnimmer-tri opened #14157 "Accept patch-level variation for GUROBI_HOME automatically"
As of today, Drake is hardcoded to use _only_ Gurobi version 9.0.2 (when enabled), but not all users will be able to easily obtain that exact version match.  The download link from Gurobi's website is currently for 9.0.3.

Because Gurobi is commercially licensed software, users will typically bring their own copy (we can't provide one -- though see #10804 for related), so therefore it is difficult

[2020-10-02 02:43] jwnimmer-tri commented on #14157
This is conceptually easy, but a lot of boilerplate to wade through.  The gurobi library's filename, packaged install location, etc. all incorporate the version number and are referred to in dozens of place by our CMake and Bazel integration alike.

[2020-10-02 03:06] dmsj commented on #11580
Sean - sorry that was a bit of a rushed comment - I appreciated the thinking aloud!

Answers to your points above:
1. Correct - however this latest issue I was tracking on this and related to my more complex desire of setting per object pair collision tolerances

2. Good point! This some confusion on my part combined with copying code into an example, when in practice we do the more complicated th

[2020-10-02 12:27] RussTedrake commented on #9138
Marking this one as "I just looked it up again to make sure we're still tracking it".  It feels like an important missing feature for completeness.  I am not asking that we increase the priority on it now.  I'm just guarding against "closed due to inactivity".

[2020-10-02 14:31] RussTedrake opened #14160 "clarify the impact that max_distance has on runtime performance of ComputeSignedDistancePairwiseClosestPoints"
per discussion on slack, i now believe that setting a max distance can allow the broadphase collision checker to cull many of the n^2 distance computations.  As such, the performance hit for properly using the SignedDistance methods vs the HasCollision methods might not be as severe as I expected.  Can we clarify please clarify that point [here]( https://drake.mit.edu/doxygen_cxx/classdrake_1_1geo

[2020-10-02 19:36] sherm1 commented on #11341
Done -- thanks, @mpetersen94!

[2020-10-02 19:36] #11341 closed

[2020-10-02 20:18] #14151 closed

[2020-10-02 20:27] #14114 closed

[2020-10-02 21:06] mitiguy commented on #10779
PR #12839 was merge a few months ago and addressed calculations of center of mass.
PR #13916 was merged today and resolves the remaining parts of issue #10779 (spatial momentum).
An update note was added to the Stack Exchange question:  https://stackoverflow.com/questions/63454077/

[2020-10-02 21:06] #10779 closed

[2020-10-03 01:39] RussTedrake commented on #9138
@SeanCurtis-TRI -- how would you feel about if we added a `QueryObject<T>::HasCollisionsWith(PointCloud )` or similar?  Of course it would need to be properly piped through the geometry state, proximity engine, lions, tigers, and bears.  I think it could be immensely useful, even if it just made lots of queries using `fcl::Sphered`.  We could test the fcl codepaths for "point cloud as a degraded m

[2020-10-03 02:01] calderpg-tri commented on #9138
I have some concerns with such an implementation. I think the behavior of signed distances and gradients would either be unintuitive/borderline useless, or we'd be have to make strong assumptions about the nature and structure of the point cloud(s).

A number of concerns:

- When using a point cloud for collisions, about 99.9% of the time, you don't want collisions with the point cloud, you want c

[2020-10-03 16:59] poonhoilamlovegill commented on #10680
你們最初用這數，在美國找定點找不到，是我說出三個地點，第一灣仔，第二獅子山，第三鳳凰山，第四，維多利亞港中心。When you first used this number, you could not find a spot in the United States. I named three locations: Wan Chai, Lion Rock, Phoenix Mountain, and Victoria Harbor Center

[2020-10-03 17:03] poonhoilamlovegill commented on #10680
我比你們任何一個都更清楚，我自殺了幾次，他們I know better than any of you. I have committed suicide several times. They know that they have inheritance for me, but I don’t know. They all have money. I was violently attacked for 24 hours, but this is the best I know. Opportunity, the general Hong Kong underworld would not dare to approach me, including them. I also told her that your ex-boyfriend sold drugs and someone

[2020-10-03 17:06] poonhoilamlovegill commented on #10680
你們在我照片，都會看到，特也可給你們看另一部，我有方法更快，就是找馬雲，找臉書主人，直接問他，給他照片給我答案，我知道他們願意，馬雲一年罵不少人，他一整年，看住我被網暴，連我大聲罵一晚也沒阻止，You can see all of you in my photos, and I can show you another one. I have a way faster, which is to find Jack Ma, find the owner of Facebook, ask him directly, and give me the answer to his photo. I know they are willing. Ma Yun scolded many people throughout the year. He watched me being violently a

[2020-10-03 17:12] poonhoilamlovegill commented on #10680
如果你們還在尋找兇手，我給你一樣東西你可以找到所有答案，第一我電話，信任裝置，她的平板是我信任裝置，現在有一部MAC及平板在用，我有心被他們連住，第二，一張她留下給我的東西，給你們就好，有一個反黑客程式，是一直在2014年開始追蹤她，我忽你們任何一個，都清楚，因為我好多，都是在網上，用她思想，再去看，然後記下來。If you are still looking for a murderer, I will give you one thing you can find all the answers, the first my phone, the trust device, her tablet is my trust device, now there is a MAC and tablet in use, I am deliberately connected by them, Se

[2020-10-03 17:17] poonhoilamlovegill commented on #10680
我剛寄出，因為有程式，會有一點毒，的習慣了。是她死後叫人放在我電話內。I just sent it, because there is a program, it will be a bit poisonous, and I am used to it. She asked someone to put it on my phone after she I gave the died program to the government and caught a few hackers, all of them hacking me

[2020-10-04 22:27] SeanCurtis-TRI commented on #10680
Thanks @soonho-tri for the clean up. :)

[2020-10-04 23:31] RussTedrake commented on #9138
@calderpg-tri -- I should have said that I am completely in agreement with you that using voxels / octrees for this is far better in most cases.  I would hope we could have `HasCollisionWith(Octree)` etc too.  I was simply offering this as a first low barrier to entry.

Re: your concerns about signed distances and gradients.  `HasCollisionWith` returns a boolean.  That's why I suggested it.

I'm a

[2020-10-05 00:04] calderpg-tri commented on #9138
Our experience in anzu has been that features supported by only one type of collision query are basically useless - they can't be used in any behavior that requires multiple collision query types (for example, the simplest pick and place that uses grasp search, collision-aware IK, and a sampling-based planner requires both binary and gradient checks).

While the basic binary collision check does o

[2020-10-05 00:37] cjds commented on #14068
I see I think I don't quite understand why `Almost every line in that macro would change for downstream use` but I suspect as I use it I might understand more

[2020-10-05 12:30] poonhoilamlovegill commented on #10680
我電話已不能寄出信息

[2020-10-05 12:34] poonhoilamlovegill commented on #10680
沒有金錢，我已向他們表示，他們自己有自己做，到今天我已沒有食物，他們做了等同沒有做過，一直用官腔，我三天前表示沒有金錢，最簡單的表格，問誰是聯絡人，沒有回答我，連基本的表格美國聯絡人資料都沒有，去什麼美國，沒機票什麼都沒有，我不知道他們300人做什麼，我可以放棄嗎，我好想去死，死了不用再被他們戲弄我

[2020-10-05 12:36] poonhoilamlovegill commented on #10680
我應該只能捱過今晚，我已沒有精神聽他們的癈話，做一堆事，搶完錢，我要錢，他們說問我知不知道160億元，但反問我歐洲有沒有朋友可以轉金錢給我，他們就是癈物

[2020-10-05 12:37] poonhoilamlovegill commented on #10680
我不想跟他們再聯絡，一堆癈物

[2020-10-05 12:39] poonhoilamlovegill commented on #10680
我明知道也說了他們不會讓我可以順利，他們不相信，好了，現在跟之前一樣，我也沒有金錢，也沒有簽證，他們全都是癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物

[2020-10-05 12:40] poonhoilamlovegill commented on #10680
癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈物癈癈物癈物癈物癈物癈物癈物癈

[2020-10-05 12:41] poonhoilamlovegill commented on #10680
他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他們全都是癈物他

[2020-10-05 12:42] poonhoilamlovegill commented on #10680
滿腦子利益，不知道發生什麼事，他們全是癈物滿腦子利益，不知道發生什麼事，他們全是癈物滿腦子利益，不知道發生什麼事，他們全是癈物滿腦子利益，不知道發生什麼事，他們全是癈物滿腦子利益，不知道發生什麼事，他們全是癈物滿腦子利益，不知道發生什麼事，他們全是癈物滿腦子利益，不知道發生什麼事，他們全是癈物滿腦子利益，不知道發生什麼事，他們全是癈物滿腦子利益，不知道發生什麼事，他們全是癈物滿腦子利益，不知道發生什麼事，他們全是癈物滿腦子利益，不知道發生什麼事，他們全是癈物滿腦子利益，不知道發生什麼事，他們全是癈物滿腦子利益，不知道發生什麼事，他們全是癈物滿腦子利益，不知道發生什麼事，他們全是癈物滿腦子利益，不知道發生什麼事，他們全是癈物滿腦子利益，不知道發生什麼事，他們全是癈物滿腦子利益，不知道發生什麼事，他們全是癈物滿腦子利益，不知道發生什麼事，他們全是癈物滿腦子利益，不知道發生什麼事，他們全是癈物

[2020-10-05 12:43] poonhoilamlovegill commented on #10680
他媽的他媽的他媽的他媽的他媽的他媽的他媽的

[2020-10-05 12:43] poonhoilamlovegill commented on #10680
他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的他媽的

[2020-10-05 12:45] poonhoilamlovegill commented on #10680
他們應該快點去死，全都是沒有用的癈物，到美國就可以，我死了說可以飛去，他媽的癈物他們應該快點去死，全都是沒有用的癈物，到美國就可以，我死了說可以飛去，他媽的癈物他們應該快點去死，全都是沒有用的癈物，到美國就可以，我死了說可以飛去，他媽的癈物他們應該快點去死，全都是沒有用的癈物，到美國就可以，我死了說可以飛去，他媽的癈物他們應該快點去死，全都是沒有用的癈物，到美國就可以，我死了說可以飛去，他媽的癈物他們應該快點去死，全都是沒有用的癈物，到美國就可以，我死了說可以飛去，他媽的癈物他們應該快點去死，全都是沒有用的癈物，到美國就可以，我死了說可以飛去，他媽的癈物他們應該快點去死，全都是沒有用的癈物，到美國就可以，我死了說可以飛去，他媽的癈物他們應該快點去死，全都是沒有用的癈物，到美國就可以，我死了說可以飛去，他媽的癈物他們應該快點去死，全都是沒有用的癈物，到美國就可以，我死了說可以飛去，他媽的癈物

[2020-10-05 13:14] #12903 closed

[2020-10-05 15:14] SeanCurtis-TRI commented on #10680
Is it possible to simply block a user?

[2020-10-05 15:18] jwnimmer-tri commented on #10680
Done.

[2020-10-05 22:20] #14138 closed

[2020-10-05 22:57] rpoyner-tri commented on #13985
I'm reasonably certain that all the low-hanging fruit from this strategy has been harvested. There might be more at the margins, but see #14039 for obstacles. Closing.

[2020-10-05 22:57] #13985 closed

[2020-10-05 23:19] rpoyner-tri commented on #13902
In support of PR #14171, here are some comparison numbers from master to branch as of PR `r1`:

* master at ~/.cache/bazel/_bazel_rico/7f8997f28c9253517a55d673c67a6c74
  * full `conduct_experiment` output: [outputs.zip](https://github.com/RobotLocomotion/drake/files/5330558/outputs.zip)
* PR branch `r1` at https://github.com/RobotLocomotion/drake/pull/14171/commits/0176106034a587c943b07db63dec5d46

[2020-10-06 02:13] RussTedrake commented on #13688
Can I add to the list the fact that the varios GeometryProperties seem to not be documented (that I can find) in doxygen?  The only way that I've been able to find out which properties to set is by crawling through the code...

Tonight example was reading the nice documentation for RenderLabel, but not being able to find anywhere (til I dug into the code) how/where I would set the RenderLabel.  I

[2020-10-06 14:35] #13282 closed

[2020-10-06 18:37] DamrongGuoy commented on #12468
This issue #12468 is similar to #10907.  May I add the content of this issue into #10907 and close this issue?  Or we prefer to keep them apart and fix one issue at a time?

[2020-10-06 18:43] DamrongGuoy commented on #10907
I'm just curious.  This documentation issue is for all of these queries, right?
- Collision Queries
  - ComputePointPairPenetration()
  - ComputeContactSurfaces ()
  - ComputeContactSurfacesWithFallback()
  - FindCollisionCandidates ()
  - HasCollisions ()
- Signed Distance Queries
  - ComputeSignedDistancePairwiseClosestPoints()
  - ComputeSignedDistancePairClosestPoints()
  - ComputeSignedDistan

[2020-10-06 19:44] SeanCurtis-TRI commented on #12468
I like rolling them in together.  Good catch!

[2020-10-06 19:45] SeanCurtis-TRI commented on #10907
That's my intent.

[2020-10-06 20:08] DamrongGuoy commented on #9512
I agree with Sean.  Close this issue in favor of #10907.

[2020-10-06 20:08] #9512 closed

[2020-10-06 20:13] jwnimmer-tri commented on #14022
Not to my knowledge, no.  We do use P3 for deep learning stuff, but for basic image rendering we'd prefer if the G3 family works -- much more cost-effective.

[2020-10-06 20:18] DamrongGuoy commented on #10907
This is the content from #12468 "*Support shape permutations across scalar types in ComputeSignedDistancePairwiseClosestPoints*", which will be resolved as part of this issue #10907.

Following up from #10153, there is still more work required for full proximity engine support. Currently only certain shape permutations are supported and only with certain scalars. Even for doubles, there are varyin

[2020-10-06 20:19] DamrongGuoy commented on #12468
Thank you.  I close this issue in favor of #10907.

[2020-10-06 20:19] #12468 closed

[2020-10-07 14:30] ggould-tri commented on #10531
FYI:  This is in effect a prerequisite to remove the much-disliked AddPackage model directive from the model directive language.  The AddPackage directive is used exclusively to handle the large number of miscellaneous drake packages.

[2020-10-08 15:32] SeanCurtis-TRI opened #14183 "[hydroelastic] Remove `contact_surface_from_level_set.h`"
In an early incarnation, `MultibodyPlant` code had implemented a representation and algorithm for computing a contact surface. It used a level set representation. The implementation has since been supplanted with all `ContactSurface` calculation taking place in `SceneGraph` infrastructure.

The code in `contact_surface_from_level_set.h` is no longer referred to anywhere and is located in an intern

[2020-10-08 15:34] SeanCurtis-TRI commented on #12113
Closing this issue.

 - mesh-half space intersection was resolved by #12935
 - I've just created issue #14183 for removing the now unused contact surface from level set functionality.

[2020-10-08 15:34] #12113 closed

[2020-10-08 15:54] SeanCurtis-TRI commented on #14067
Several thoughts in passing:

1. Ultimately, this is in service to producing tighter-fitting Obbs. Currently, we use PCA to create an initial guess and then apply a refinement step to improve that guess. There are *two* levers to pull on: a better guess or better refinement. This focuses solely on the first part. It may be that better refinement renders the better guess moot.
2. While the issue de

[2020-10-08 19:28] #14183 closed

[2020-10-08 20:42] #14123 closed

[2020-10-09 20:28] BetsyMcPhail commented on #13964
I confirmed that 1.8.16 parses macros as expected and 1.8.17 shows the errors.

[2020-10-09 21:34] BetsyMcPhail commented on #13964
git bisect tells me that commit [dbd8ceb8e](https://github.com/doxygen/doxygen/commit/dbd8ceb8efa2e7b413780a43e74b30f039670a72) is the origin of the problem.

Doxygen issues [7527](https://github.com/doxygen/doxygen/issues/7527) and [7509](https://github.com/doxygen/doxygen/issues/7509) seem to describe the issue we're seeing.

[2020-10-09 21:55] BetsyMcPhail commented on #13964
Also confirmed that [commit 938b6dfd](https://github.com/doxygen/doxygen/commit/938b6dfd1cb5173aa6ab19aa848ae266dba0afff) (proposed fix for issue 7527) did not fix the issue.

[2020-10-10 01:58] jwnimmer-tri commented on #13964
In terms of work-arounds, perhaps our `doc/doxygen_main.py` could call into https://github.com/ned14/pcpp to pre-process the `DRAKE_DEPRECATED` (and the other PREDEFINED macros) and rewrite all of the files, so that we don't have to rely on Doxygen's broken pre-processing.

[2020-10-10 18:29] joshuagruenstein commented on #13514
I think this would be especially useful for people running lots of cloud experiments (eg RL people), given AWS EC2 now offers low-cost ARM compute.

[2020-10-12 12:24] RussTedrake opened #14197 "Use convex hull approximation as default collision geometry for mesh files"
I am following up on the discussion from [stackoverflow](https://stackoverflow.com/questions/64196799/mesh-based-collision-geometry-in-drake).  I believe that the fact that, by default, specifying a mesh file as a collision geometry results in NO collision geometry represents a *major* usability issue.  For newcomers, they immediately get a bad impression of our dynamics engine.  For experts, it’s

[2020-10-12 12:35] avalenzu commented on #14197
+1 from me. That's the behavior we used to have when we used Bullet.

[2020-10-12 14:13] SeanCurtis-TRI opened #14198 "[render] SceneGraph::AddRenderer doesn't respect ("renderer", "accepting") property"
We've introduced a property such that a geometry with the `PerceptionRole` can be made compatible with a subset of instantiated `RenderEngine` instances. It's the ("renderer", "accepting") property. When `RenderEngine` implementations have already been made, subsequent assignment of the perception role to geometries works as expected.

However, when a `RenderEngine` gets added *after* some geometr

[2020-10-12 14:16] SeanCurtis-TRI commented on #14197
Agreed. W.r.t. bullet, we got the convex hull for free (buried inside the Bullet API). We don't have that anymore. Now we need to compute the hull ourselves in Drake.

Suggestions for libraries with compatible licenses? Qhull?

[2020-10-12 14:33] SeanCurtis-TRI commented on #14197
Actually, if we're willing to take a performance hit, I believe there's a way in which we *could* move forward without increasing our external dependencies. I'll have to ponder it.

[2020-10-12 15:37] sherm1 commented on #14197
The Bullet license is compatible with Drake's so we could extract the convex hull code from there if that makes sense.

[2020-10-12 15:39] SeanCurtis-TRI commented on #14197
It may not compute the convex hull directly. It may have an on-the-fly representation of the convex hull based on the set of vertices that are compatible with its GJK representation.

[2020-10-12 17:17] rpoyner-tri commented on #14039
Given that I don't think the proposed changes here will win any measurable improvement in performance, closing this issue.

[2020-10-12 17:18] #14039 closed

[2020-10-12 18:13] rpoyner-tri commented on #13902
Here is a dataset that is off the main sequence, but indicates (1) we're probably pretty close to done with easy improvements to AutoDiffXd, and (2) trying to get back to a worlds of fixed-size AutoDiff may not be worth it.

I wrote a profoundly hacky development branch to try to get any measurements of fixed-size autodiff types for comparison with existing AutoDiffXd benchmark cases in cassie_ben

[2020-10-12 18:13] avalenzu commented on #14197
@SeanCurtis-TRI is correct. We just fed the vertices of the mesh into their GJK API, which gave us signed distances to the convex hull of those points.

[2020-10-12 18:39] sherm1 commented on #13902
Thanks @rpoyner-tri. That's disappointing but good to know. It's still surprising to me that eliminating the first batch of heap allocations was so effective but then getting rid of the rest did nothing. I think there must be a hint there?

[2020-10-12 19:01] sherm1 commented on #9865
In Drake I think the only Isometrys that ought to be RigidTransforms are just a couple of simple uses in optitrack_sender.cc and in symbolic_expression_transform_test.cc. @mitiguy do you want to fix those and then call this done? Or did I miss some?

[2020-10-12 19:04] jwnimmer-tri commented on #9865
The symbolic_expression_transform_test is a unit test for #6604.  You should not change or remove the test unless you also change or remove the `operator*` overloads.

[2020-10-12 19:12] amcastro-tri commented on #13902
To be honest it is difficult for me to find the data I need to understand the improvements in some sort of timeline within this issue. I wonder if you happen to have some sort of spreadsheet @rpoyner-tri ?

Also surprised by these latest results. Questions in my mind are:
 1. How many allocations did we get rid of since you started working on this? what was the speedup improvement?
 2. How many al

[2020-10-12 19:13] sherm1 opened #14200 "Add runtime lock/unlock joint capability to MultibodyPlant"
(Users have strongly requested the ability to make modeling changes on the fly during simulation (we call that "Remodeling"). This is a step along that path.)

Add the ability to lock and unlock MultibodyPlant joints by writing to the Context only (no System changes). Rough sketch:
- Add a boolean Parameter for each joint.
- Locking causes the joint to freeze in its current configuration.
- Need A

[2020-10-12 19:14] jwnimmer-tri commented on #9865
I think Global IK also has uses that should be changed \CC @hongkai-dai ?

https://github.com/RobotLocomotion/drake/blob/7ce35ee63c8c26813b0ad80d65febf482cac215a/multibody/inverse_kinematics/global_inverse_kinematics.h#L149-L152

---

The `PoseSmoother` class under `manipulation/perception` has `Value<Isometry3>` on input and output ports.  We should also fix that?

[2020-10-12 20:34] rpoyner-tri commented on #13902
@amcastro-tri things are definitely not linear. What I'm seeing now is that the remaining hot spots are within Eigen, and (based on our current build settings) not very effectively vectorized. We could perhaps work on vectorization more, but all of that work will likely be very platform-specific.

I'll have to do some digging to give a complete history, but here are some highlights. I'll be using

[2020-10-12 23:15] sherm1 commented on #13902
This is still surprising and not easily explained by diminishing returns. Here is a quick analysis:

Assumptions:
(1) each operation `i ∈ {mass, inverse, forward}` consists of: time to do heap allocations plus time for other work.
(2) average heap allocation time h is the same for all operations.
(3) eliminating heap allocations doesn't change the amount of other work.

For each operation i, we ca

[2020-10-12 23:28] rpoyner-tri commented on #13902
I could be wrong, but here's my hot take: you can't do continuous-domain physics with computation steps like you are trying to do above. Most likely, not every allocation has uniform cost, based on heap state, cache states, etc. Certainly, not every free (likely the more costly) has uniform cost, for the same reasons.

Just for completeness, there is another possibility worth exploring: perhaps me

[2020-10-12 23:40] sherm1 commented on #13902
Although I agree about the likely time variations, I think when we're talking about 30,000 heap allocations those should wash out. I think there is a mystery here that bears investigating.

[2020-10-13 00:01] sherm1 commented on #13902
BTW it occurs to me that (unless we're leaking) each heap allocation is really a malloc/free pair. So that 37ns should include one of each.

[2020-10-13 01:02] mitiguy commented on #9865
I'll take a look and see what simple ones that I can change.

[2020-10-13 12:57] amcastro-tri commented on #13902
Thank you for the very detailed data @rpoyner-tri and great analysis @sherm1.

I actually run the benchmark locally and did a very lil math. I simply computed the quotient
[code]

The reason I computed this number is because if, for instance, if I use simple forward differences, I'd expect the cost of the derivatives to be "(number of derivatives) x (cost of operation (double))". Therefore with th

[2020-10-13 15:26] sherm1 commented on #13902
Thanks for that insightful analysis, Alejandro! I do think we should be able to get closer to S=1 than we are, though. In theory at least, we should be able to squeeze this down towards S=0.25 using SIMD instructions since the derivative part consists of repetitive calculations. All the machines we currently use support AVX2 and FMA instructions that allow for 4 double operations per cycle, with F

[2020-10-13 15:58] rpoyner-tri commented on #13902
FWIW, the Autodiff67d benchmark case spends a large fraction of its time in the Eigen `dense_assignment_loop` code, which makes me wonder if the fixed-size implementation is just somehow trading allocation for more copying.

Here are some snapshots from `perf record [command]; perf report`, isolating just the 67d inverse dynamics and the Xd inverse dynamics.

Xd inverse dynamics hotspots, as found

[2020-10-13 16:03] jwnimmer-tri commented on #13902
Just in case anyone is unclear -- #14171 was not relevant for 67d.  All of the changes to `autodiffxd.h` are only for the Xd specialization.  The 67d code is using only upstream's code.

Also note that in the Xd benchmark, there could be some scalars with zero derivatives (when you have constants) which would short-circuit the chain rule.  Because the 67d benchmark used RowsAtCompileTime instead o

[2020-10-13 16:09] rpoyner-tri commented on #13902
@jwnimmer-tri agreed on 67d using only upstream code.

I don't understand your comment about RowsAtCompileTime() -- can you clarify?

[2020-10-13 16:12] jwnimmer-tri commented on #13902
I'm referring to the distinction between
- fixed size of 67 (RowsAtCompileTime == MaxRowsAtCompileTime == 67) vs
- dynamic size with max of 67 (RowsAtCompileTime == Dynamic, MaxRowsAtCompileTime == 67).

In both cases, we never allocate the derivatives on the heap.

But in the latter case, we still check `.derivatives().size()` during the chain rule and short-circuit when empty.

In most of the pr

[2020-10-13 16:20] amcastro-tri commented on #13902
@jwnimmer-tri, I haven't seen the upstream implementation for 67d. So you believe that the upstream implementation is only provided for fixed-sizes but not optimized for fixed-max-sizes?(by checking .derivatives().size() to short circuit computations).

[2020-10-13 16:40] sherm1 commented on #13902
@amcastro-tri for `AutoDiffScalar<Vector67d>`, derivatives().size() is always 67.

[2020-10-13 17:28] amcastro-tri commented on #13902
oh, I see! I thought the whole time @rpoyner-tri was using UpTo67d. My bad. Yes, we should be using UpTo67d instead I believe.

[2020-10-13 18:06] DamrongGuoy opened #14205 "Refactor code for verifying conformity of VolumeMesh from make_cylinder_mesh_test to proximity_utilities."
@joemasterjohn has written very nice utilities to verify conformity of VolumeMesh<> like these:

- ComputeEulerCharacteristic(const VolumeMesh<>&)
- CountEdges(const VolumeMesh<>&)
- CountFaces(const VolumeMesh<>&)

They are in `drake::geometry::internal::<unnamed>` namespace in `drake/geometry/proximity/test/make_cylinder_mesh_test.cc` file.

If we can promote them to `drake/geometry/proximity:pr

[2020-10-13 20:08] #14132 closed

[2020-10-13 20:17] jamiesnape opened #14206 "vtk@8.2 formula revision 5 is broken"
Looks to be due to a change in either `freetype` or `glew`.

[2020-10-13 22:48] EricCousineau-TRI commented on #14133
Relates https://github.com/RobotLocomotion/drake/issues/10482

[2020-10-13 23:44] rpoyner-tri commented on #13902
Initial experiments with UpTo67d show maybe a 20% speedup over Xd, but are more painful to work with. I still haven't got the forward dynamics case working; it dies trying to evaluate an expression tree containing an empty derivative deep inside Eigen.

I'll have more to show from those experiments tomorrow.

[2020-10-14 13:31] jamiesnape commented on #13964
I think we are going to get a minimal repro and file a bug with doxygen first. If we can get a fix in easily too, that might be a little easier than adding a different preprocessor, since we this is only a tool and we already build packages for two of three platforms. @BetsyMcPhail will post when we have an update from upstream.

[2020-10-14 13:36] jamiesnape commented on #14206
Also `qt` incompatibilities that need patching. We can temporarily punt on `freetype` and even `glew` if really necessary, but we do not have a vendored Qt to fall back on.

[2020-10-14 18:35] rpoyner-tri commented on #13902
In order to get all the cassie_bench cases working with UpTo67d autodiff, I had to locally install and use eigen 3.3.8, which has a fix for its `make_coherent` mechanism in the presence of 0-size derivative vectors. Bottom line, we remove essentially all memory allocation and gain ~20% over the AutoDiffXd currently in master.

* source code (very grubby):  https://github.com/rpoyner-tri/drake/rele

[2020-10-14 20:17] EricCousineau-TRI opened #14212 "common: Should define clear convention on how to handle paths"
Namely, should directories always end with slashes, or never. It should never be "in between".

Example: `PackageMap::GetPath()` should either always have a trailing slash, or never. Period.
It should either fail if `Add()` is called poorly, or it should strip it.

See:
https://github.com/robotlocomotion/drake/pull/14211#pullrequestreview-508375268

FYI @ggould-tri

[2020-10-14 21:37] DamrongGuoy commented on #14205
Close now. Thank you @joemasterjohn !

[2020-10-15 21:59] rpoyner-tri opened #14215 "autodiff speedups via pool allocator"
As of this [writing](https://github.com/RobotLocomotion/drake/issues/13902#issuecomment-707332636), AutoDiffXd operations on master are still thrashing the heap too much. This issue is to track solution(s) to that specific problem.

Two approaches are currently under investigation:
 * Use a VectorXd-compatible type with internal storage allocated via pool (Sherm's pool_vector_autodiff_hacks branch

[2020-10-15 22:49] DamrongGuoy commented on #11906
I have PR #14216 is in review now. It will allow us to have these meshes and pressure fields.

![image](https://user-images.githubusercontent.com/42557859/96193861-fe3f2d00-0efd-11eb-9f38-bc7913d67f55.png)

[2020-10-15 23:04] jwnimmer-tri commented on #13253
Food for thought -- on macOS, if we disabled Drake's ospray support (since it's going to go away when we switch to ARM anyway),  could we then use homebrew's own vtk 9 packages, instead of rolling our own?

[2020-10-15 23:31] DamrongGuoy commented on #13745
I haven't done anything for Capsule mesh and @joemasterjohn is kindly enough to add it to his plan. I switched the assignee to Joe.  Of course, we will collaborate.

CC: @sherm1 @rpoyner-tri @SeanCurtis-TRI

[2020-10-16 19:52] hidmic opened #14220 "Compatibility with ROS2 version of spdlog"
Likely related to https://github.com/RobotLocomotion/drake/issues/7451. Not much of an issue until one tries to use `drake::log()` on a binary that depends on another library that uses a different `spdlog` version.

### Context
Using [ROS 2 Eloquent](https://index.ros.org/doc/ros2/Installation/Eloquent/) and latest Drake binaries on Ubuntu Bionic 18.04, (strong) `spdlog` symbols brought by `libdra

[2020-10-16 19:52] hidmic commented on #14220
CC @IanTheEngineer @EricCousineau-TRI

[2020-10-16 21:03] jwnimmer-tri commented on #14220
Right, it's not supported nor possible to mix and match binary compilations of two different versions spdlog in the same program.  You need to compile everything using the same source version.  The pre-compiled Drake images are probably not suitable for your use case.

[2020-10-16 21:24] jwnimmer-tri commented on #7451
Here's a brief update as of v0.23.0:

[code]

[2020-10-17 20:07] RussTedrake opened #14223 "Missing python bindings for core systems API"
We are still missing a number of bindings in our core systems API.  Almost always there is a way to work around them, but it's frustrating to write that code.  Someone should do a clean sweep through the API and get them covered, but I will list a few as I hit them here.

- [x] ContinuousState [c++](https://drake.mit.edu/doxygen_cxx/classdrake_1_1systems_1_1_continuous_state.html) vs [python](http

[2020-10-18 14:27] edrumwri opened #14224 "CMake build loses rpath when re-running "make install""
_Edit: See https://github.com/RobotLocomotion/drake/issues/14224#issuecomment-712384386 for the root cause off this bug._

---
If I run `cmake -DCMAKE_BUILD_TYPE=Debug $DRAKE_DIR` and then build with `make`, my libraries' rpaths will be set correctly: I run `lcm-gen` from my local install binary directory and it works properly. If I instead build with `make install`, my libraries' rpaths are not s

[2020-10-19 17:00] jwnimmer-tri commented on #14220
From #7451, there are three public libraries that we compile from source within Drake: `fmt`, `lcm`, and `spdlog`.  Allowing a CMake user to rebuild Drake while supplying their own compiled versions of those libraries would resolve this request, I think.

[2020-10-19 17:19] jwnimmer-tri commented on #14224
Can you provide instructions on how to reproduce the bug?

It seems to work fine for me:

[code]

[2020-10-19 17:27] jwnimmer-tri commented on #14224
I also tried the same using Debug build in the repro script (i.e., `cmake ../drake-0.23.0 -DCMAKE_BUILD_TYPE=Debug -DCMAKE_INSTALL_PREFIX=/home/jwnimmer/tmp/install`), with the same result.

[2020-10-19 17:31] hidmic commented on #14220
@jwnimmer-tri would this also be possible when Drake is an external dependency of a Bazel workspace? For a scenario where a binary ROS 2 distribution is pulled into that Bazel workspace as an external dependency.

[2020-10-19 17:41] jwnimmer-tri commented on #14220
In Bazel, the user already has full control of externals:

When calling Drake's `add_default_repositories` users can **opt-out** of any dependencies that they have already provided in their own `WORKSPACE`, by using, e.g., `excludes = ["spdlog"`]:

https://github.com/RobotLocomotion/drake/blob/7b7bf9e95a88f4b03aca4905f1335625228a60ce/tools/workspace/default.bzl#L88-L96

Alternatively, if the user

[2020-10-19 18:04] EricCousineau-TRI commented on #14220
To clarify, this use case is actually Anzu consuming ROS2. Would that change the considerations here?

(Jeremy, I can page you in on more details if you want.)

[2020-10-19 18:18] jwnimmer-tri commented on #14220
Yes.

To obtain compatibility of Anzu with the ROS2 ...

Option 1 is to consume ROS2 as source and compile it ourselves.  This could be a lot of work, but could also be the best way to go.  In general, building from source will always be the most robust option when dealing with C++ code we intend to link into the same binary as our own source code.  We've shirked this with our ROS1 integration bec

[2020-10-19 18:22] EricCousineau-TRI commented on #14220
Aye. Mich and @sloretz have an Option 3 as well, where we leverage the `rcl_logging` C interface, intercept it at flag-parsing time, and can tell to it to use Drake's version of `spdlog` (or just disable logging entirely).

I think we'll try out Option 3 for prototyping, but will keep in mind the above alternatives you mentioned.

[2020-10-19 18:26] edrumwri commented on #14224
Looks like `make` before `make install` is what does it.

I did this:

[code]

And got this from readelf:
[code]

[2020-10-19 19:11] jwnimmer-tri commented on #14224
Note that "make" actually does "make install" -- there is no difference.  I can confirm that this repro script shows the problem:

[code]

The bug is that Drake's `install.py.in` logic for rewriting rpaths fails to detect that `libdrake_lcm.so` is a candidate for rpath fixing, if we are _re-installing_ atop a prior install, and if we have _no changes_.  In release mode, there are always changes, s

[2020-10-19 19:13] jwnimmer-tri commented on #14224
Specifically, the issue is the early return on L168, so that the assignment on L183 never happens, so the repair on L298 never happens.

https://github.com/RobotLocomotion/drake/blob/7b7bf9e95a88f4b03aca4905f1335625228a60ce/tools/install/install.py.in#L158-L183

https://github.com/RobotLocomotion/drake/blob/7b7bf9e95a88f4b03aca4905f1335625228a60ce/tools/install/install.py.in#L292-L298

[2020-10-19 19:15] jwnimmer-tri commented on #14224
To @jamiesnape for delegation.  This shouldn't preempt your current board, but if there is anyone else at Kitware who has time to fix this and add an automatic regression test, that'd be helpful.

[2020-10-19 19:31] jwnimmer-tri commented on #14224
Related to #7331.

[2020-10-19 21:47] jwnimmer-tri commented on #13473
Isn't that what #14140 did, though (which you approved)?  Is the issue summary above stale, maybe?

[2020-10-20 00:18] BetsyMcPhail commented on #13964
Filed Doxygen issue [#8119 ](https://github.com/doxygen/doxygen/issues/8119)and PR [#8120](https://github.com/doxygen/doxygen/pull/8120)

[2020-10-20 02:56] jwnimmer-tri commented on #13964
Super!

[2020-10-20 13:24] BetsyMcPhail commented on #13964
Fix has been merged into Doxygen master.

[2020-10-20 13:57] jamiesnape commented on #14224
#7331 is definitely overdue. My fantasy is that `cmake -P cmake_install.cmake` would work and/or CMake could (optionally) do the heavy lifting, but that probably will remain a dream.

[2020-10-20 14:20] BetsyMcPhail commented on #13964
Yes, I think we can call this closed

[2020-10-20 14:20] #13964 closed

[2020-10-20 17:01] edrumwri opened #14227 "State should have its own Clone(.) method."
To clone State, it is presently required to get the State from the Context via Context::CloneState(.). It would seem to be more appropriate to move, or at least add, the cloning method into State.

[2020-10-20 17:29] sherm1 commented on #14227
Could be a good mini-project for someone who wants to learn about the System Framework -- any volunteers?

[2020-10-20 18:55] EricCousineau-TRI commented on #13058
Keep on forgetting where this is: #7715 is the snowflake `unique_ptr_tracked` thing

[2020-10-20 20:57] sherm1 opened #14230 "Modify discrete solver in MultibodyPlant to support mixed hydroelastic and point contact"
Drake applications which use hydroelastics for rigid/soft contact currently need to use point contact for rigid/rigid contact. For good performance, point contact requires use of the TAMSI discrete solver in MBPlant. However, TAMSI does not currently support hydroelastic contact effectively. The discrete solver should be modified so that it can handle hydroelastic contact as well as point contact.

[2020-10-20 21:00] sherm1 commented on #14230
cc @calderpg-tri

[2020-10-21 13:52] jamiesnape commented on #14220
Some of the discussion in #13698 partially relates this, but the conclusion there was, I think I am correct in saying, that we knew this was going to bite us at some point.

[2020-10-21 15:36] jwnimmer-tri commented on #2941
In #14219, I started us on a path to resolve this.

We have many geometry-related mesh tools in play, mostly as a large suite of different visualizers.  They all speak obj, but beyond that have mixed support for other formats.  Instead of teaching them all about all formats, we'll consolidate on obj as the lingua franca, by converting other formats to obj before use.  At the moment, we're doing th

[2020-10-21 15:45] SeanCurtis-TRI commented on #2941
@jamiesnape We'll want to spin this up.

Actions:

 - [ ] Triage the examples above and enumerate the DAE features we want supported in a requirements document. (@SeanCurtis-TRI)
 - [ ] Review requirements document and produce estimate/bid (@jamiesnape and @SeanCurtis-TRI and @ToffeeAlbina-TRI)
 - [ ] Schedule work (@jamiesnape and @SeanCurtis-TRI and @ToffeeAlbina-TRI)
 - [ ] Schedule Drake VTK u

[2020-10-21 19:57] EricCousineau-TRI opened #14234 "pydrake lint: Should add and fix `flake8 --select=F` checks"
On 6fa365e502, we gots a few:
[code]

Relates ye olde #2465

[2020-10-21 20:20] jamiesnape commented on #2941
Yes, seems good to me.

[2020-10-21 20:28] #9501 closed

[2020-10-21 22:24] #13834 closed

[2020-10-21 22:38] RussTedrake commented on #9501
Hoorah!!

[2020-10-21 23:39] DamrongGuoy opened #14235 "Create a helper function to verify a mesh of a shape primitive that uses medial axis"
We plan to generate tetrahedral meshes of a number of shape primitives (e.g., Box, Capsule, Cylinder). It would be helpful to have a helper function for verification that a mesh conforms to the medial axis of a shape primitive. We can use it in our unit tests or verifying user-supplied meshes.

Most of the idea came from @joemasterjohn .

A possible function declaration is:

[code]
A possible algo

[2020-10-22 14:37] edrumwri opened #14238 "cmake build type is needlessly case sensitive"
Drake is the only library I have seen do this: if the build type is not "Debug", "Release", "RelWithDebInfo", etc., the build fails, e.g.:

[code]

[2020-10-22 19:25] mitiguy commented on #13618
After looking at  issue #12650 and PR #13003, my current plan employs functions with signatures such as:
const RotationMatrix<double>& ExtractDoubleOrThrow(const RotationMatrix<double>&);
const RigidTransform<double>& ExtractDoubleOrThrow(const RigidTransform<double>&);
RotationMatrix<double>  ExtractDoubleOrThrow(const RotationMatrix<AutoDiffXd>&);
RigidTransform<double>  ExtractDoubleOrThrow(con

[2020-10-22 19:55] SeanCurtis-TRI commented on #13618
I may be misunderstanding your proposal, but it *looks* like you're proposing overloads that only differ by return value type. C++ is going to get pretty angry about that.

[2020-10-22 20:42] sherm1 commented on #13618
I presume those would be distinguished by template type with the ref-returning ones being `RotationMatrix<double>`, etc.?

[2020-10-22 20:52] jwnimmer-tri commented on #13618
FYI Paul wrote template `<>`s, but markdown ate them.  You can view the comment source to see them.

Anyway, all of the returns should be by-value.  Chain-returning const references from arguments to return values will defeat lifetime extension.  Maybe use https://drake.mit.edu/styleguide/cppguide.html#Pass_By_Value to elide the copy, though that might lead to ambiguous overloads.

Since RotationM

[2020-10-22 21:48] SeanCurtis-TRI commented on #13618
How widespread would this usage be? I presume we expect the need to arbitrarily project down to `double` (regardless of `T`) is not something that would appear with any great frequency in Drake?

However, it appears with *great* frequency (from an inner-loop execution measure if not a grep count measure) in geometry. We interface with a lot of black boxes that can't accept AutoDiff. In those case,

[2020-10-22 22:02] jwnimmer-tri commented on #13618
Use "Edit..."

![image](https://user-images.githubusercontent.com/17596505/96934588-4ff43400-1477-11eb-8717-eee247d89d0f.png)

[2020-10-22 23:06] DamrongGuoy commented on #11906
PR #14216 is merged now. Next I'll enable usage of this mesh in hydroelastics_internal and we'll finish.

[2020-10-22 23:18] DamrongGuoy commented on #12128
PR #14216 is merged now. I'll enable the box mesh in hydroelastics. After that, I'll check the cylinder.

[2020-10-22 23:39] rpoyner-tri commented on #14215
Here's some performance data for my experimental pool PR at #14242.

Comparing master (341b6a7f6) to `r1` of the PR (https://github.com/rpoyner-tri/drake/commit/0e4e00e63baf7b8263a7c01adda02a0ebe5f2085), on my Puget:
![ads-pool-speedup0](https://user-images.githubusercontent.com/17582368/96940472-d0c62680-149d-11eb-99f9-4f66a4cdad3f.png)

So, we can see `r1` gives ~15-20% speed-up compared to cont

[2020-10-23 00:03] jwnimmer-tri commented on #13618
This raises a good point.  The post that opens this issue doesn't explain why any of this is relevant.  Possibly this was intended to help make unit tests more concise?

[2020-10-23 09:07] RussTedrake commented on #14223
#14231 addressed the ones I'd listed.  Will reopen if needed.

[2020-10-23 09:07] #14223 closed

[2020-10-23 09:09] RussTedrake opened #14243 "macOS python upgrade from 3.8 to 3.9"
_(Old title: missing scipy dependency on mac)_

I don't love that we have that dependency, but it appears that we do, and that it's suddenly not being installed by our mac setup scripts.

[code]

(full output here: https://github.com/RussTedrake/manipulation/runs/1296900627?check_suite_focus=true)

The dependency appears to come in from our use of `spatial.ConvexHull` in `planar_scenegraph_visuali

[2020-10-23 15:10] jwnimmer-tri commented on #14243
The `scipy` dependency _is_ there in

https://github.com/RobotLocomotion/drake/blob/63691155d04cce67c3c333e609b4b2a6207dd2f8/setup/mac/binary_distribution/Brewfile#L25

It looks like homebrew has started into the python3.9 transition to some extent.  Perhaps some paths are wrong now?

Indeed, from https://formulae.brew.sh/formula/scipy it looks like scipy is 3.9-only now.  So we're back to the sam

[2020-10-23 15:15] jwnimmer-tri commented on #14243
From a quick skim of https://github.com/Homebrew/homebrew-core/issues/62201, perhaps most of what we need is already in homebrew for python3.9, so the answer might be to switch Drake's pinned python on macOS to be 3.9 instead of 3.8?

[2020-10-23 16:14] rpoyner-tri commented on #14215
At @jwnimmer-tri 's excellent suggestion, I measured the memory use of the experimental branch vs. master for `cassie_bench`. Oh the hilarity.

Here's a plot of memory use from master:
![cassie-bench-mprof-master](https://user-images.githubusercontent.com/17582368/97026721-c486ab80-1527-11eb-919a-8ab42cef95b1.png)

And here's from `r1` of the PR at #14242:
![cassie-bench-mprof-ads-pool](https://us

[2020-10-23 17:48] #14205 closed

[2020-10-23 18:27] jwnimmer-tri commented on #14012
Maybe the answer is that `DefCopyAndDeepCopy` should _also_ bind `__init__(other: Class)` unconditionally?  It seems like something we should de-boilerplate.  Or at least, skipping the binding of the constructor should be opt-out?

[2020-10-23 19:09] #13176 closed

[2020-10-24 22:18] RussTedrake opened #14250 "matplotlib>3.1.3 on ubuntu 18.04 does not play well with rules_python"
the ubuntu 18.04 package manager serves up matplotlib 2.1.1 (very old)
it's very easy to accidentally install matplotlib via pip, e.g. by `pip3 install mpld3` (as we do in the manipulation repo), because it wants a newer version of matplotlib.

that should be fine.  But for some reason I can't quite figure out, it breaks bazel.  specifically, python bazel tests find the new (pip installed) version

[2020-10-26 14:43] jwnimmer-tri commented on #14250
I haven't tried to check the output above in detail, but on Ubuntu our goal is to ignore `~/.local` entirely via these lines:

https://github.com/RobotLocomotion/drake/blob/6bd5f8c25cdcbb4049e57ec0f49f6e2c136d864a/tools/ubuntu-bionic.bazelrc#L11-L15

I wonder why they are not working?  Can you check that your prereqs are set up correctly?
[code]

[2020-10-26 17:01] RussTedrake commented on #14250
That much looks ok:
[code]

[2020-10-26 22:50] SeanCurtis-TRI commented on #9501
Note follow upp PR #14245 -- it explicitly deprecated the old behavior and changed the default behavior to be `Parameter`.

[2020-10-26 23:07] EricCousineau-TRI commented on #5752
Closing this for now. This is a low-level incantation of trying to address #6760; best handled by that issue.

[2020-10-26 23:07] #5752 closed

[2020-10-26 23:07] EricCousineau-TRI commented on #5752
Er, I guess also for size optimization, but it has not been readily cited as an acute pain point yet.

[2020-10-26 23:13] EricCousineau-TRI commented on #11802
Updated to this address latest Drake Dev meeting notes.

FYI @jwnimmer-tri @ludwigschmidt-tri @RussTedrake

[2020-10-27 00:02] jamiesnape commented on #14250
My initial reaction was that a matplotlib-installed *.pth file was involved. I will look into that tomorrow.

[2020-10-27 14:00] EricCousineau-TRI commented on #10780
Relates #12702

[2020-10-27 15:03] EricCousineau-TRI commented on #10482
Note that @SeanCurtis-TRI has a rendition of `QueryObject`-based Drake Visualizer in #14247

[2020-10-27 21:45] SeanCurtis-TRI opened #14254 "[render] RenderEngine::Render*Image show_window feature is flawed"
## Problem statement

The `RenderEngine` API for rendering color and label images provides an argument by which the rendered image can be immediately displayed (i.e., the `show_window` parameter). For the VTK-based render engines, the display is oriented "correctly". I.e., the top of the camera is aligned with the top of the image. When this feature was added to `RenderEngineGl`, a very low-level

[2020-10-28 10:00] RussTedrake opened #14258 "geometry_py bindings for SceneGraphInspector variables names don't match c++ variable names"
we have a lot of instances of e.g. bindings of the form
[code]
when the c++ is
[code]
Might require some annoying deprecation gymnastics.  :-(  marked as low priority.

cc @EricCousineau-TRI , @mpetersen94

[2020-10-28 11:01] RussTedrake commented on #14250
The same(?) issue is biting me in my manipulation repo, but in a different way.  This time I have not installed anything to my user pip.  bazel is pulling down a newer version of pip from the requirements.txt, and is (again) finding the bazel-installed new version of matlab, but finding the system installed old version of mpl_toolkit.

[code]

Currently the only way I can successfully run tests on

[2020-10-28 13:51] SeanCurtis-TRI commented on #14258
[I noticed the same yesterday in a current PR](https://github.com/RobotLocomotion/drake/pull/14247#pullrequestreview-517887987) when I was updating bindings.

The solution I took was to simply change the name of the C++ to match the python. There's zero cost to do that in C++. It's not my *favorite* solution as I favor the terser `id` when there is only a single `id`. However, in python, it makes

[2020-10-28 13:55] SeanCurtis-TRI commented on #14258
The distinction in the parameter name has particular importance when you have two methods `GetName()` where one takes a `FrameId`, the other a `GeometryId`, and in C++, the parameters are both called `id`. That simply collapses in python bindings. So, I'll go ahead and make sure that the public API uses `frame_id` and `geometry_id` so that there are reasonable handles for python invocation.

[2020-10-28 15:02] RussTedrake commented on #14258
I thought that might be true, but my PR #14259 uses the names "id", and seems to work just fine.

[2020-10-28 15:07] SeanCurtis-TRI commented on #14258
I looked there. And I didn't see any instances where you had an overloaded method with different id types but same names. Was there a particular method overload you had in mind?

[2020-10-28 15:32] SeanCurtis-TRI commented on #14258
Ah....nice to know.

That said, I still suspect that being more verbose should be preferred. Given the overload and the whole point of named parameters, it seems that it helps code readability if the parameter names are actually distinct. And it's much easier to change C++ parameter names to match the python names.

[2020-10-28 15:37] RussTedrake commented on #14258
both `BelongsToSource` and `GetOwningSourceName` in my PR have that feature, too.  (it's like half the PR ;-)

[2020-10-28 15:47] SeanCurtis-TRI commented on #14258
`BelongsToSource` is using parameter names `geometry_id` and `frame_id`. But `GetOwningSourceName` definitely uses `id` in both cases. My eyes must have skimmed over that one because it immediately followed `BelongsToSource`.

So, the key part of this conversation is, what do we want the solution to be?

1. What should the final state look like?
   - I'd advocate using `geometry_id`, `source_id`,

[2020-10-28 15:53] jwnimmer-tri commented on #14258
When the user wants terse, they can just pass the argument as a positional value `GetOwningSourceName(some_thing)`.  Calls that choose to use named for the argument do so for clarity or robustness, which to me argues for the more specific names.  It might make the docs read more easily to use the longer names, depending on your point of view.

[2020-10-28 16:16] jwnimmer-tri commented on #14250
For the original issue (Drake tests failing), I am unable to repro, at least not with a simple recipe.

My test case is `bazel test //bindings/pydrake/systems:py/planar_scenegraph_visualizer_test --nocache_test_results --test_output=streamed`.

Even after `pip3 install matplotlib`, it still passes.
Even then doing `python3 -c 'import matplotlib.pyplot'`, it still passes.

I suspect there must be s

[2020-10-28 16:21] jwnimmer-tri commented on #14250
If it _is_ the config folder leaking, then maybe setting `build --test_env=MPLCONFIGDIR=` or `build --test_env=MPLCONFIGDIR=/does/not/exist` in `tools/bazel.rc` would resolve it.

[2020-10-28 21:09] EricCousineau-TRI commented on #14258
I agree with Jeremy's assessment, esp. given that using `geometry_id`, `frame_id` doesn't seem to incur deprecation overhead?

[2020-10-28 21:29] SeanCurtis-TRI commented on #14258
I've got a plan:

## The end goal

For the public API of both `SceneGraphInspector` and `QueryObject`, parameters that are of `FooId` type will all be named `foo_id`. It'll be nicely uniform, clearly communicate state and, if it is too verbose, as @jwnimmer-tri pointed out, the python user can always just omit the keyword.

## The plan

As we survey the APIs and consider those that don't already m

[2020-10-29 02:30] renanmb opened #14262 "URDF files from Solidworks cause trouble like on Gazebo?"
Exporting URDFs Directly From Solidworks
https://youtu.be/Uz6KPJBfM1s

My question is to know if this does apply to 100% of the cases?
Is there any perspective into working closer to Solidworks so we can import complex designs without having to polish every URDF files one by one?

This is the major draw back trying to increase productivity in ROS.

[2020-10-29 02:53] jwnimmer-tri commented on #14262
Hi @renanmb.  We use our issues database for bug reports and feature requests.  For assistance and questions, please post your topic to StackOverflow instead [1].  (The Drake new-issue template cites https://drake.mit.edu/getting_help.html#asking-your-question, which has more details.)

[1] https://stackoverflow.com/questions/ask?tags=drake

[2020-10-29 02:53] #14262 closed

[2020-10-29 21:03] EricCousineau-TRI opened #14264 "py math: Should support analog to `np.linalg.solve` for AutoDiffXd / Expression"
Encountered on StackOverflow:
https://stackoverflow.com/questions/64593813/is-np-linalg-solve-not-working-for-autodiff

FYI @hongkai-dai

[2020-10-29 21:31] EricCousineau-TRI commented on #14264
TTBOMK, NumPy uses `dgesv` for double-precision `np.linalg.solve`:
http://www.netlib.org/lapack/explore-html/d7/d3b/group__double_g_esolve_ga5ee879032a8365897c3ba91e3dc8d512.html#ga5ee879032a8365897c3ba91e3dc8d512

It requires invertible / full-rank MxM, so I'll just reflect that (no pseduo-inverse). For now, I'll just try `PartialPivLU`, as mentioned here (assuming `AutoDiffXd` is OK with it):
ht

[2020-10-29 23:35] jwnimmer-tri commented on #13776
Note that the new #14247 does this correctly, with no initialization event.

[2020-10-29 23:51] EricCousineau-TRI commented on #13776
^ FYI @sloretz regarding rviz prototype

[2020-10-30 01:23] mitiguy opened #14268 "Create missing method Multibody::CalcCenterOfMassTranslationalVelocity()"
Vector3\<T\> CalcCenterOfMassTranslationalVelocityInWorld(const systems::Context\<T\>& context) const;  and/or
Vector3\<T\> CalcCenterOfMassTranslationalVelocity(const systems::Context\<T\>& context,
                                                   const Frame\<T\>& frame_A, const Frame\<T\>& frame_E) const;
----------------------------------------------------------------------------------------

[2020-10-30 01:32] mitiguy opened #14269 "Create missing method Multibody::CalcCenterOfMassTranslationalAcceleration()"
[code]

[2020-10-30 16:25] edrumwri commented on #12335
I see the reflected inertia being implemented (great!)  Our robot has significant motor inertias and low gear ratios (10:1) but we still want to be able to model both more accurately than is capable at present in sim. So you have another eager customer!

Are you yet able to provide a timeline @joemasterjohn?

[2020-10-30 21:08] mitiguy commented on #12335
Hi Evan. @edrumwri.  Joe is doing great -- and he is in front of this (I am lagging).I am currently on the critical path -- as a reviewer.
 Thank you for voting in as an important issue.  I will get to it ASAP and make it a top priority.

[2020-11-01 11:45] RussTedrake commented on #14250
thanks jeremy.  your test case is good.  i can reproduce the failure using that test.
I do have a `$HOME/.config/matplotlib`, but it is empty.  `$HOME/.cache/matplotlib` looks similarly benign (just some font cache).  I tried setting the `MPLCONFIGDIR=` and `MPLCONFIGDIR=blah` in various places, but nothing resolved the issue.

[2020-11-01 15:10] RussTedrake commented on #14250
I definitely have `~/.local` leaking into my path... even when I do
[code]
it doesn't *appear* to be matplotlib's fault, really?

[2020-11-01 15:23] jwnimmer-tri commented on #14250
Here's what I see -- PYTHONNOUSERSITE is respected:
[code]

Note this text from the `site` docs:

Can you check around your drive for pth files?

[2020-11-01 15:27] RussTedrake commented on #14250
will look.  also i've learned that...
[code]

[2020-11-01 15:30] RussTedrake commented on #14250
I have loads of `.pth` files in my bazel cache (from numerous projects), and then
[code]

[2020-11-01 15:33] jwnimmer-tri commented on #14250
Anything in `/usr/...`?

[2020-11-01 15:33] RussTedrake commented on #14250
[code]
that `.pth` file might be related to the mpl_toolkits issue, but i *think* the root problem is happening before this.. .that my PYTHONNOUSERSITE is not being respected...

[2020-11-01 15:34] RussTedrake commented on #14250
[code]

[2020-11-01 15:35] RussTedrake commented on #14250
[code]
that must be the culprit!

[2020-11-01 15:36] RussTedrake commented on #14250
confirmed.
[code]

[2020-11-01 15:36] RussTedrake commented on #14250
now.. the question is... is simply leaving it removed going to screw up something else?

[2020-11-01 15:40] RussTedrake commented on #14250
My original two use cases now pass (I believe)
[code]
and I can run tests in both the manipulation and drake repos without any pip installing/uninstalling.  hoorah!  thanks @jwnimmer-tri .

[2020-11-01 15:41] jwnimmer-tri commented on #14250
It's unusual to have meaningful python files within `/usr/local`.  A `pip3 install` as a _user_ account would be in `~/.local`.  Is there any workflow you use that requires `sudo pip3 install`?  I think that's where the problem came from.

[2020-11-01 15:45] RussTedrake commented on #14250
i see.  i had that happening on accident in transition for my `manipulation` files (I had added the pip call to the installation script for CI, and run it locally to test).  i've purged that, but this machine did run it once.  is there a recommended way to disinfect?

[2020-11-01 15:54] RussTedrake commented on #14250
i've purged them all manually with `sudo pip3 uninstall` and then `rm`ing the fragments left over in `/usr/local/lib/python3.6/dist-packages/`.  That directory is now empty for me (but it still exists).  Seem reasonable?

[2020-11-01 15:56] jwnimmer-tri commented on #14250
TRI has internal advice for cleanup.  I've emailed you the link.

[2020-11-01 17:48] jwnimmer-tri commented on #14075
Kicking this back to @EricCousineau-TRI as the only interested party.  IIRC when I looked last month, all of the examples in the prior post were authored by Eric anyway.  So really, the only action here is to rewrite the test docs to always use `bazel test` for running tests.

[2020-11-02 17:15] jwnimmer-tri commented on #13832
Update on (3) -- my new advice is to drop macOS from the platforms we support for local documentation preview.  There are very few contributors who do not have access to Ubuntu.  For Doxygen, Jekyll, and Sphinx, we should only support Ubuntu from now on.

[2020-11-02 17:45] RussTedrake commented on #10777
This was resolved by @gizatt long ago.

[2020-11-02 17:45] #10777 closed

[2020-11-02 17:53] RussTedrake commented on #14133
Also related to #13038 and #13934.  I think the right solution for all of these is to write a shiny new MeshcatVisualizer in C++.

If we do rearchitect, then another pain point of the current architecture is that meshcat animations do not include any meshcat visualizations that are performed outside of MeshcatVisualizer.  For instance, MeshcatContactVisualizer is a separate system, and we cannot i

[2020-11-02 21:37] jwnimmer-tri commented on #14133
If I were working on this, I'd first want to do the feature port to QueryObject in Python, just to change as little as possible as an aid for debugging.

At that point, it would be fairly rote to copy the implementation into C++ and work on the zmq build dependencies, etc.  We could ask Kitware to take the porting part, for example, but probably not the QueryObject rewrite part.

For recording ani

[2020-11-02 22:30] jwnimmer-tri commented on #10531
I've come around to prefer `package://drake/` and have just a single `package.xml` within Drake (+ the Drake install), to keep things simple and best reflect the monorepo / monoreleate nature of our current stack.

If in the future we start to split descriptions into their own small packages, then at that point we can give their own `package.xml` files.

I gave @IanTheEngineer a longer f2f debrief

[2020-11-02 23:27] EricCousineau-TRI commented on #13187
With @hongkai-dai, another form of testing to ensure nothing in the system is messed up:

[code]

[2020-11-03 18:03] hongkai-dai opened #14281 "GetDualSolution returns 0 for Gurobi when QCPDual=0"
The dual solution for all constraints are 0 in Gurobi if the option `QCPDual=0`. Currently we only throw an error if the user wants to retrieve the dual solution for (rotated) Lorentz cone constraint if QCPDual=0. https://github.com/RobotLocomotion/drake/blob/886bd27e3dadae613c4d599490063f4b595b93d7/solvers/mathematical_program_result.h#L310-L320 For other constraints (like linear constraints), Gu

[2020-11-03 20:23] #14258 closed

[2020-11-03 20:51] EricCousineau-TRI commented on #13597
See also: #10482

[2020-11-03 22:41] jwnimmer-tri commented on #10617
We're starting to trip the 12h time limit on CI.  We'll have to either bump the limit, or make it faster.

I wonder if we could write kcov output to `TEST_UNDECLARED_OUTPUTS_DIR`, and then `kcov --merge` it after the fact.  That would let us run tests in parallel (--jobs=12) in CI, instead of one-at-a-time like we do now:

https://github.com/RobotLocomotion/drake/blob/96e0cc0b94926f0725ba69f544fda

[2020-11-03 22:49] rpoyner-tri commented on #10617
I'll have a look.

[2020-11-04 02:17] mfry90 opened #14286 "Testing MOSEK intermittently has license failures when using MOSEK floating license"
It appears that running Bazel MOSEK tests provide spotty results when using a MOSEK floating license. I'm guessing because the MOSEK floating license uses a license server to checkout a license when the MOSEK solver is called. This behaviour won't be seen when relying on personal academic or node-locked MOSEK licenses, but it's happening on my commercial floating license.

To reproduce, replace mo

[2020-11-04 02:33] jwnimmer-tri commented on #14286
If there are fewer license seats available than full test concurrency would require, then you can set `--local_test_jobs=1` (or 2, or ...) to limit how many tests are run concurrently.  The max `--jobs` you've configured will still be used during compilation, but fewer _tests_ will be run concurrently.

https://docs.bazel.build/versions/master/command-line-reference.html

[2020-11-04 05:19] mfry90 commented on #14286
Great, now all the tests are passing, thanks!

[2020-11-04 05:22] #14286 closed

[2020-11-04 11:09] RussTedrake commented on #14133
Agreed on both.  I will take the token on this, and hope to have the QueryObject upgrade in python soon.

[2020-11-04 12:05] RussTedrake opened #14287 "Cannot declare a cache entry from python"
I don't *think* there are any real impediments to this, since we have nice ways of creating `AbstractValue`s already in python?  Someone just need to bind `DeclareCacheEntry`.

I am currently wishing that I had this so that `MeshcatVisualizer` could use the same workflow as `DrakeVisualizer` for storing the `DynamicFrameData` in the cache.  For now, even though it should be dependent on the `Conte

[2020-11-04 16:36] rpoyner-tri commented on #10617
What happens to the coverage reports now? Are they accessible anywhere, or do they just go down the memory hole when the workspace is wiped?

[2020-11-04 16:40] jwnimmer-tri commented on #10617
Our builds upload them to CDash:

https://github.com/RobotLocomotion/drake-ci/blob/b5a67a456e69c660560a971822a9fd37c80d43d8/driver/configurations/bazel/step-build.cmake#L162-L183

See https://drake-jenkins.csail.mit.edu/view/Coverage/ for the builds.
See https://drake-cdash.csail.mit.edu/viewCoverage.php?buildid=1353190 for one example report.

[2020-11-04 18:29] rpoyner-tri commented on #10617
From local experiments, the merge strategy should work fine. I have some questions still about CI integration and advice for local/developer use.

Given this patch to drake:
[code]
All that would remain is to document the merge step for developer use and integrate it into CI. The merge step looks like this:
[code]
kcov will create the output directory if it doesn't exist. The developer steps could

[2020-11-04 18:37] jwnimmer-tri commented on #10617
For `drake-ci` changes, I think once we have a `drake` PR reviewed with all of the other changes (to settings, developer docs, etc.) we can ping Jamie and provide the recipe for the new `execute_process(COMMAND ...)` that we want inserted into `drake-ci`.  We can even open a `drake-ci` PR with that change, but I don't think there's an easy way to test when combined with the `drake` PR.

Aside: I t

[2020-11-04 18:48] rpoyner-tri commented on #10617
Corner cases:
* I haven't gamed out what bazel does with undeclared-outputs data from *prior* build cycles; do we risk merging stale data?
* I haven't gamed out what kcov does with coverage data that may already be in the destination directory. I assume it merges when it finds compatibility, and overwrites otherwise. I haven't verified that assumption.

[2020-11-04 19:12] rpoyner-tri commented on #10617
Running a larger scale test on my puget, I'm seeing massive widespread occurrence of test timeouts; needs more investigation.

[2020-11-04 19:37] rpoyner-tri commented on #10617
Yes the test timeouts effect is real. Likely cause is that each kcov-instrumented test runs as two communicating processes: a kcov parent and the test program as a child process.

Will recommend something like --localtest_jobs=HOST_CPUS*0.5 (which is a totally legal input -- nice work, bazel).

[2020-11-04 19:58] rpoyner-tri commented on #10617
Nope, even half the cpus on a puget still leads to a rash of timeouts. Will look at this all more closely.

[2020-11-04 21:08] EricCousineau-TRI opened #14290 "old ConnectDrakeVisualizer: panda_link8 is detached from arm?"
UPDATE: This isn't worth root-causing, as #13597 will delete the broken code.

---

On drake @ 96e0cc0b94926f0725ba69f544fda6e9200b216c (was from Anzu):

[code]

Output:

@sammy-tri or @calderpg-tri - y'all seen this?

[2020-11-04 21:09] EricCousineau-TRI commented on #14290
Er, it looks like it should be fine???
https://github.com/RobotLocomotion/drake/blob/96e0cc0b94926f0725ba69f544fda6e9200b216c/manipulation/models/franka_description/urdf/panda_arm.urdf#L509-L521

[2020-11-04 21:15] jwnimmer-tri commented on #10617
The empirical numbers here presumably need adjusting given the newly-introduced overhead from multi-process scheduling:
https://github.com/RobotLocomotion/drake/blob/4cdc13180de5fb323ef97310704950648d4bfa05/tools/dynamic_analysis/bazel.rc#L13-L17

[2020-11-04 21:20] rpoyner-tri commented on #10617
Agreed. fiddling with that now.

[2020-11-04 21:33] EricCousineau-TRI commented on #14290
While on the phone w/ @SeanCurtis-TRI, we see that `DrakeVisualizer` has different output:
[code]

[2020-11-04 22:07] EricCousineau-TRI commented on #14290
Per convo, this seems like it's not a huge problem - only the soon-to-be-deprecated `ConnectDrakeVisualizer` encounters this, so whatevs. That function / setup is deprecated (and we all use `QueryObject`-based visualization), this issue can be closed.

[2020-11-04 22:10] DamrongGuoy commented on #11906
PR #14251 has been merged, so we can close this issue now.

[2020-11-04 22:10] #11906 closed

[2020-11-04 22:16] EricCousineau-TRI commented on #14012
Came up again in Slack: https://drakedevelopers.slack.com/archives/C3YB3EV5W/p1604527861050100

[2020-11-04 22:17] EricCousineau-TRI commented on #11906
Sweet - thanks!!!

[2020-11-04 22:35] SeanCurtis-TRI commented on #14290
I don't see why this is still open. This is a combination of "won't fix" (re: `ConnectDrakeVisualizer`) and replace with code that is already available that *does* work. The only thing missing is the sugar that is currently in flight (#14282): `DrakeVisualizer::AddToBuilder(&builder, &lcm)`. What's the point of keeping this open?

[2020-11-04 22:38] EricCousineau-TRI commented on #14290
To let people know it's something to not be worried about if they stumble across it? But yeah, I'm fine w/ closing it for now.

[2020-11-04 22:38] #14290 closed

[2020-11-04 22:56] mitiguy opened #14291 "Is it possible to organize/compact documentation for setter/getter methods for parameters?"
During review of reflected inertia PR# [14167](https://reviewable.io/reviews/RobotLocomotion/drake/14167).  This issue was initially discussed with @joemasterjohn  and @SeanCurtis-TRI who encouraged making a Github issue.

The example code below shows gear ratio methods (2 setter and 2 getter methods).  In this PR, there is another setter/getter method for rotor inertia.  Hence for the two paramet

[2020-11-04 23:43] EricCousineau-TRI commented on #7820
Reopening; @SeanCurtis-TRI ran into this when reworking #14282 to do build-message API (rather than publish-message API) for `DrakeVisualizer`.

This issue should be resolved when users / devs can easily deal with bindings from C++ (either explicitly, or via `type_caster`).

[2020-11-05 06:57] dxyang commented on #13187
I'm trying to follow the steps here and installing drake on Ubuntu 18.04 - https://drake.mit.edu/python_bindings.html#python-bindings-binary. I've run into the same issue with `lcmt_contact_results_for_viz`.

[code]

I'm using pyenv + poetry for python management, so I believe this should be a clean, unpolluted copy of python. I unzipped the drake nightly tar file contents into the environment fol

[2020-11-05 15:06] jwnimmer-tri commented on #13187
When the error message is "module 'drake' has no attribute...", the investigation should be `import drake; print(drake.__file__)` to see where the drake module is coming from.  It should be some "lib/python3.6/site-packages" folder where Drake is installed, not a Drake source tree.

Here's an example using the precompiled Drake binaries:
[code]

[2020-11-05 16:52] jwnimmer-tri commented on #10531
The next question here is exactly how to make the transition.  I'll work on writing up some longer thoughts on that topic, but @IanTheEngineer in the meantime as a first step, I know that we're going to need a `PackageMap::Remove(const std::string& package_name)` method as part of the new story.  If you're game, you could PR that to get us started.

[2020-11-05 16:56] dxyang commented on #13187
Ahh thanks! I had a copy of the repo checked out that was causing those import issues.

[2020-11-05 17:12] IanTheEngineer commented on #10531
That sounds like a good plan. I'll look into adding a `PackageMap::Remove` function with that signature.

[2020-11-05 20:00] jwnimmer-tri commented on #14220
I don't disagree with any of the above.

Given how release schedules work though, I would like to advocate for investing in getting Ubuntu and ROS cleaned up as much as possible before their next release(s) start the process freezing things and locking in versions.

If ROS could use the Ubuntu versions of spdlog and fmt, that would go a long way towards everyone agreeing on what version (ABI) to u

[2020-11-05 20:16] EricCousineau-TRI opened #14295 "Upgrade Drake SDFormat 1.8 (for Model Composition)"
Proposal: [SDFormat: Model Composition](http://sdformat.org/tutorials?tut=composition_proposal)
Towards: https://github.com/osrf/sdformat/issues/278

Assigned to me, but will reassign to @azeey once permissions are setup

Suggested PR train:

- [x] #14705 Upgrade to `libsdformat10`
- [x] #14848 Upgrade to `libsdformat11` w/ minimal changes
- [x] ~#14401~ Upgrade to use SDFormat 1.8, without interf

[2020-11-05 20:18] EricCousineau-TRI commented on #14295
Example PRs to examine:
- #13128
- WIP for phantom: https://github.com/RobotLocomotion/drake/pull/13758
- WIP for developing: https://github.com/RobotLocomotion/drake/pull/12061
- https://github.com/RobotLocomotion/drake/pull/12505

Files:
- https://github.com/RobotLocomotion/drake/blob/0c5affa7f913d104d8f10559f0fd012fd8bf8797/multibody/parsing/detail_sdf_parser.cc + unittest + header
- https://gi

[2020-11-05 21:00] EricCousineau-TRI commented on #7820
\cc @sloretz given convos about #9500

[2020-11-05 21:09] EricCousineau-TRI commented on #9939
@hongkai-dai ran into this recently:
Slack: https://drakedevelopers.slack.com/archives/C2WBPQDB7/p1604601033080200

Error message:
[code]
(less verbose, but still a bit obtuse for world welding / parent-child mismatch?)

I won't be able to address this - @amcastro-tri I'm assigning to ya, but if you don't think it's actionable, feel free to close!

[2020-11-05 21:34] EricCousineau-TRI commented on #14220
Not sure if I understand this part - why even consider a non-LTS release? Do we have plans of having Drake support non-LTS?
Or are you saying for the ROS ecosystem in isolation?

[2020-11-05 21:40] jamiesnape commented on #14220
The sooner you get it into an Ubuntu release, the better. You have to working with upstream, Debian, and Ubuntu developers. If you wait until 22.04 there is a good chance you will miss it.

[2020-11-05 21:45] EricCousineau-TRI commented on #14220
Gotcha! Makes sense in terms of focusing non-LTS work on ROS, nothing directly on Drake (for non-LTS).

[2020-11-05 21:53] jamiesnape commented on #14220
Note as It happens, one of the issues, the vendored `libfmt` has finally been picked up from Debian and will be in groovy.

Sooner is always better, even for Drake, it just depends on the scale of what is needed. If something new needs packaging, it can sometimes take a year to do so. Fixes are a little less time sensitive, but maintainers are volunteers, and sometimes the same version just rolls

[2020-11-05 22:50] #14281 closed

[2020-11-06 00:49] mitiguy commented on #14268
PR #14297 should resolve issue #14268.

[2020-11-06 18:04] sherm1 commented on #9939
Related: #13040

[2020-11-06 18:05] sherm1 commented on #13040
Related: #9939

[2020-11-06 18:17] #13597 closed

[2020-11-06 18:31] sherm1 commented on #14291
We should standardize the naming conventions for methods dealing with default & in-context parameters. I like the names used above and propose that we follow that conventions for all parameters. An audit to bring all the names into compliance should be part of this project.

[2020-11-06 20:32] joemasterjohn commented on #14291
I'll take inventory. So far the classes that have been parameterized are:
- `RigidBody`
- `FixedOffsetFrame`
- `LinearBushingRollPitchYaw`
- `JointActuator`

`MultibodyPlant` already has a section titled [Parameters](https://drake.mit.edu/doxygen_cxx/classdrake_1_1multibody_1_1_multibody_plant.html#mbp_parameters). I think it would be ideal to make that the centralized place for the discussion on

[2020-11-07 00:05] xuchenhan-tri opened #14302 "Extend FemElement to allow compile-time sizes"
Currently, multibody::fem::FemElement is only templated on the scalar type. Its derived class, multibody::fem::ElasticityElement is templated on shape function and quadrature rules to take advantage of compile-time sizes of the number of nodes and quadrature points. Shape functions and quadrature rules are, however, concepts related to FemElement in general. So it would be nice to have a layer of

[2020-11-09 16:09] jwnimmer-tri commented on #14291
I'd also like to advocate for scoping the SetRandomContext affordance into this consolidation as well -- at least for the design, even if we don't implement it right away.

See, for example,
[code]

We should plan for things like the `mass` parameters to similarly allow for Expression to populate a random value.

[2020-11-09 16:21] sherm1 commented on #14291
Do you mean something like this?
[code]

[2020-11-09 16:38] jwnimmer-tri commented on #14291
I'm not trying to specify a solution (the snippet I posed was an existing method).  I'm asking that any design proposal account for both the default _and random_ cases.

[2020-11-09 16:41] jwnimmer-tri commented on #10531
To elaborate...

My proposal is that a default-constructed `PackageMap` begins life with `package://drake` pre-populated.  If a user did not want this, we should offer a way to remove it.

[2020-11-09 16:54] sherm1 commented on #14291
I haven't thought much about the random feature. I'm unclear whether we should logically have default/context _numerical_ and default/context _random_, i.e. 4 cases or default/random/context, i.e. 3 cases. (Your last comment sounds like the latter?)

[2020-11-09 17:02] jwnimmer-tri commented on #14291
To sample the random distribution into a Context, I think we should have the user call `System::SetRandomContext` on the whole diagram.  We don't need a public API for the user to just sample one element at a time.  The per-element API only needs to allow for configuring the distribution, not sampling it.

[2020-11-09 17:25] sherm1 commented on #14291
How does that relate to the in-system (default) vs in-context naming convention here? Do we still need a default distribution and an in-context distribution?

[2020-11-09 17:29] jwnimmer-tri commented on #14291
We definitely need the in-system storage (and therefore a method naming choice) for a random `Expression`.

I don't even know what it would mean to try to store a symbolic distribution for a parameter into a `Context<double>`.  I don't think you need to design for that.

[2020-11-09 17:45] EricCousineau-TRI commented on #10531
Sweet, that's what I was missing!

[2020-11-09 20:08] EricCousineau-TRI opened #14305 "pydrake: Should figure out how to interact with NumPy "scalar arrays", esp. with `np.vectorize`"
See post here:
https://stackoverflow.com/a/64758521/7829525

For terminology's sake, relates:
https://github.com/numpy/numpy/issues/17744

In Drake, simplest solution would be to teach the vectorized operators to "squeeze" their output if they have 0-dim / scalar arrays in their output, e.g.:

[code]

FYI @soonho-tri @RussTedrake

[2020-11-09 20:59] soonho-tri commented on #14305
Thanks for the investigation, Eric! Here is my 2C.

It's unfortunate that numpy has this idiosyncrasy. Having said that, in general, I want to make sure that `float` and symbolic expression/variable work similarly (e.g. returning the same type). From that standpoint, I think "Easy, acute Python-only solution" is not so good because: `np.vectorize(operator.le)(1, 2)` still create a "0-dim" array wh

[2020-11-09 21:41] avalenzu opened #14306 "Support collision filtering in SDF parsing"
#9220 made sure that the `MultibodyPlant` parser for SDF-files doesn't fall over when it encounters a `collision_filter_group` tag, but those tags still aren't parsed. We should have some mechanism for indicating filtered collisions in SDF files. We're currently adding these in bespoke C++ code in downstream projects.

[2020-11-09 21:41] rpoyner-tri commented on #10617
Checklist for integration:

- [ ] merge the drake-ci changes: https://github.com/RobotLocomotion/drake-ci/pull/116. Should not yet affect execution.
- [ ] merge the drake changes: #14294. Should enable the new execution schedule.
- [ ] tighten up `kcov_tool ci_merge` error checking to fail if it finds no data. This was deliberately relaxed to smooth the multi-repo transition.

[2020-11-09 21:47] avalenzu commented on #14306
My opening bid is that we should raise `ParseCollisionFilterGroup()` into `parsing/detail_common` and call it in the SDF parser. Any counter-offers @amcastro-tri or @SeanCurtis-TRI ?

[2020-11-09 21:59] SeanCurtis-TRI commented on #14306
In principle, I'm in favor. However, the name `collision_filter_group` is anachronistic. We'd need to create the `drake:` prefixed set of tags. It should definitely be that way in SDF, and it would be better to update URDF to be the same. But other than that minor detail, 100%, yes.

[2020-11-09 22:02] avalenzu commented on #14306
The URDF version is already using `drake::collision_filter_group`, so that should be ok:
https://github.com/RobotLocomotion/drake/blob/044b908dbde42c28bf04582f01e61ce3bb5ddce8/multibody/parsing/detail_urdf_parser.cc#L224-L227

[2020-11-09 22:11] SeanCurtis-TRI commented on #14306
Oh, yeah!  Wasn't paying enough attention. Huzzah!

[2020-11-09 22:17] amcastro-tri commented on #14306
In favor, great capability to have.

[2020-11-09 22:26] calderpg-tri commented on #14306
@EricCousineau-TRI and I recently encountered a problematic corner case of the existing `collision_filter_group` parsing - collision filtering via `collision_filter_group` happens separately from the other collision filtering, so if you add additional collision geometry post-parsing to a body involved in a collision filter group, it's difficult to ensure the new geometry inherits the same collisio