[2016-11-10 21:45] #4069 closed

[2016-11-11 00:16] liangfok opened #4113 "Proliferation of Shared Libraries in KUKA IIWA Example Needs Consolidation"
# Problem Definition

There is a proliferation of libraries in `drake-distro/drake/examples/kuka_iiwa_arm/`:

* `drakeKukaIiwaArmCommon`
* `drakeKukaIiwaArm`
* `drakeKukaIiwaWorld` (pending #4107)

We should reconsider whether having so many libraries is reasonable. For example, maybe all three can be consolidated into one library after System 1.0 is removed.

[2016-11-11 05:07] sherm1 opened #4114 "Attach publish handler to diagram"
@RussTedrake asked me how to capture a trajectory during a simulation. I said, you just need to capture a copy of the Context at each simulation step, or at periodic intervals. You can do that with the Publish() method since it gets called with a const Context at specified sampling times. Russ said, but that only provides the local LeafSystem's subcontext. I said, no, capture it in the Diagram's P

[2016-11-11 08:45] naveenoid commented on #4113
Very good point. I will consolidate as soon as #4107 lands.

[2016-11-11 11:09] RussTedrake commented on #4114
But I still don't think this adequately addresses #3734.  The request is that the simulator not only returns the data as evaluated at each time step (in a trajectory object), but that it returns the correct interpolation scheme given the integration method that was used.  E.g., if ode45 gives 4th order accuracy, then perhaps it returns a fourth order spline trajectory.

[2016-11-11 12:56] soonho-tri opened #4115 "Add if_then_else and cond expressions for AutoDiff, FunctionalForm, double."
Suggested from https://github.com/RobotLocomotion/drake/pull/4104#issuecomment-259947593.

[2016-11-11 13:00] soonho-tri opened #4116 "Remove DRAKE_EXPORT from symbolic classes"

[2016-11-11 14:51] soonho-tri commented on #4116
This is part of #3973.

[2016-11-11 15:16] david-german-tri commented on #4114
Yeah, I always assumed this would be implemented in general form in the Simulator, not in user-specific Diagram code.  However, if whole-Diagram Publish is the right thing to do, it would be easy enough to add hooks for that post #4031.

[2016-11-11 15:23] Lucy-tri commented on #3734
Part 2 of the new Trajectory class is in https://reviewable.io/reviews/RobotLocomotion/drake/4100#-

[2016-11-11 15:27] patmarion commented on #3647
The application in the above link, PlotJuggler, looks quite full featured.  It seems you could build that without the ROS support and add an LCM source to it.

[2016-11-11 16:09] sherm1 commented on #4114
I agree. That's a bigger project. But it should be possible to publish whole-Context results from a Diagram; we didn't have a use case before.

[2016-11-11 16:18] #4116 closed

[2016-11-11 17:03] edrumwri opened #4121 "quaternion_floating_joint.h gives up four digits of accuracy on forward / backward conversion"
This issue concerns QuaternionFloatingJoint::v2qdot() and QuaternionFloatingJoint::qdot2v(). Over various orientations, converting an angular velocity to a time derivative of a unit quaternion and back can lose between four and five digits of precision.

This code is also doing much far computation than is necessary. Multiplications between a 4x3 matrix and 3x1 / 4x1 vectors is all that is require

[2016-11-11 20:10] aespielberg opened #4125 "Windows install guide"
Hi all,

I know that Windows is no longer supported, but would it be possible to get the Windows installation guide back on the webpage (perhaps with an [unsupported] label or something)?  This would be useful for those looking to install with the "Last Windows SHA."

[2016-11-11 21:18] #3978 closed

[2016-11-11 22:37] SeanCurtis-TRI opened #4126 "Contact model numerical issues"
The contact model in `RigidBodyPlant` has some issues:

   1) It uses an arbitrary value of EPSILON which doesn't follow style guide and is very _ad hoc_.
   2) This same code computes a frame aligned with a normal.  The actual code seems suspect and may not be numerically robust.  This should be revisited.

See `RigidBodyPlant::ComputeContactForce()`.

[2016-11-11 23:45] sherm1 commented on #4126
In case a better frame-making method is needed, here is one that I believe to be numerically robust. This one assumes that `this` is already a unit vector u, and returns a perpendicular unit vector. One more cross product yields a complete frame.
[code]
(Code is from Simbody.)

[2016-11-12 00:49] david-german-tri opened #4127 "Cache intermediate outputs within a Diagram"
### Problem Statement

Since #3455, Systems within a Diagram "pull" on their input ports instead of reading a precomputed value.  As a result, upstream outputs are frequently recomputed with the exact same Context.  This is the most pressing System2 framework performance issue right now.

### Background

We would like only to compute an upstream output if that computation will produce a different

[2016-11-14 12:46] siyuanfeng-tri commented on #4076
For actuator dynamics, I believe @tkoolen's plan is to compute all the messy actuator stuff outside of RBT, the only input for RBT will be torque. Since actuator dynamics will require additional states and so on, and before we get into coupled joints, it's reasonable to assume independence between joints. #4004 has a sketch of the setup in sys2.

[2016-11-14 12:57] liangfok commented on #4076
+1 for keeping the messy actuator stuff outside of the RBT.

[2016-11-14 16:21] david-german-tri opened #4131 "Clean up Drake linking to support nightly builds"
From discussion on Slack today: All fine-grained Drake-internal libraries should be static.  These static libraries should be used as building blocks for a small number of dynamic libraries that are release products.  We can get a good start with just one such dynamic library, `libDrake`, and add smaller libraries as needed.

This issue contributes to #1766

[2016-11-14 16:29] david-german-tri commented on #4131
From further discussion on drake: Examples and regression tests should link to libDrake.  Unit tests, and utility executables that don't represent code a user might write, should just link to the particular static libraries they need.

[2016-11-14 17:27] soonho-tri opened #4132 "Instantiating Diagram with symbolic::Expression generates build errors"
Originally reported by @jadecastro.

Adding `template class SingleLaneEgoAndAgent<symbolic::Expression>;` to `drake/automotive/single_lane_ego_and_agent.cc` generates the following errors:

[code]

Just did f2f with @david-german-tri and @jadecastro: Basically we need a patch similar to the one that we applied to `LeafSystem`.

[2016-11-14 17:42] aespielberg opened #4133 "Adding functionality to Drake"
Hi all,

We have been developing some (what I think is) useful code for soft body simulation that I'd like to push back to drake.  Right now it works almost completely separately, but we are developing an interface to let it interface easily with rigid body dynamics.

What is the best way to go about integrating this into Drake?  Are there any guides for integration and testing, other than the for

[2016-11-14 17:51] david-german-tri commented on #4132
Specifically, to use SFINAE to remove the discrete-time behaviors from the build for scalar types that aren't on the real line.

[2016-11-14 18:00] liangfok commented on #4133
Thanks for contributing back to Drake! Yes, being familiar with the [code review process]() is a must. Other than that, one idea is to incrementally to do the integration by defining a sequence of spirals. See some examples below:

* https://github.com/RobotLocomotion/drake/issues/3994
* https://github.com/RobotLocomotion/drake/issues/3919
* https://github.com/RobotLocomotion/drake/issues/3910

By

[2016-11-14 18:14] david-german-tri commented on #4133
As @liangfok said, please open an issue that describes the design, and explains the spiral of PRs necessary to implement it.  You'll probably get some important feedback from @amcastro-tri, among others.

Once that's done and you're ready to start creating PRs, check out http://drake.mit.edu/developers.html#review-process.  Regarding testing in particular, reviewers will ask that your new code has

[2016-11-14 21:43] #4132 closed

[2016-11-15 04:20] aespielberg commented on #4133
Thank you guys for the advice.  This is really good to know for how to get
something tested and integrated long-term in Drake.

Playing around today, though, I think I can hone my question a little
better (and perhaps I should make a new thread?).  I have an external that
I want to add to Drake, which I then want to wrap inside Drake to be used
there.  However, the main problem is adding the exter

[2016-11-15 06:14] liangfok commented on #4133
To my knowledge, there's currently no written documentation on how to add an external. It'll probably be easiest if your external is a git repository because then it can be added as a submodule in `drake-distro/externals`. Then use [drake_add_external](https://github.com/RobotLocomotion/drake/blob/master/cmake/externals.cmake#L364) to include it in the superbuild.

[2016-11-15 12:27] RussTedrake commented on #4076
to clarify, i think the proposed input to rigidbodyplant is the generalized forces (torques) + wrenches that can be applied to particular frames.  The list of these inputs (e.g. which joints have actuators, which points on which bodies can take external wrenches) would be built up programmatically.

[2016-11-15 14:50] jamiesnape commented on #4125
https://github.com/RobotLocomotion/drake/blob/last_sha_with_windows_support/drake/doc/windows.rst

[2016-11-15 18:31] siyuanfeng-tri commented on #4127
Hey David,
What about LCM subscribers?
I see two problems with them, they don't currently have a notion of when a new message arrives, and they are threaded.
The first one is probably not that hard to handle. I am not sure what's the best way to deal with the threading part. What happens when you get a new message half way through evaluation? It's probably not the best idea to through everything a

[2016-11-15 19:02] aespielberg commented on #4125
Thanks!

[2016-11-15 19:02] #4125 closed

[2016-11-15 19:08] sherm1 commented on #4127
@siyuanfeng-tri, we have to think about message arrival in the larger context of a time-advancing simulation, where they appear as randomly-timed events. The timing has to be discretized properly so that the message's influence occurs between, rather than during, a continuous integration interval. That can be done by sampling or via the simulator's event handling mechanism, but should never be all

[2016-11-15 19:10] aespielberg commented on #4133
Hmm, this is exactly what I had tried.  I have a solution which builds
completely fine in isolation, but when I try to include it, I'm getting
errors.  I should note that I am trying to build on Windows (checkout from
before last windows SHA), and I know this is unsupported so I shouldn't
expect a ton of help here, but I don't think this is necessarily the source
of the error.

Is there an issue w

[2016-11-15 19:13] SeanCurtis-TRI commented on #4127
The problem statement doesn't make it clear why "ids" are specifically necessary.  Why not just a dirty bit?  This id mechanism suggests that a system whose state is invalidated by one event, and never updates its values, could be invalidated *again* by another event, even though it was already marked as "dirty".

[2016-11-15 20:18] david-german-tri commented on #4133
subprojects?  Do I essentially need to unfold those subprojects?

You shouldn't need to do that, no.  The Drake superbuild initializes submodules recursively.

before last windows SHA), and I know this is unsupported so I shouldn't
expect a ton of help here...

I personally am not up for unwinding a CMake failure from an old SHA on Windows, but if you post your error messages you might possibly ge

[2016-11-15 20:21] siyuanfeng-tri commented on #4127
@sherm1 I agree with you that there should be some atomic access per simulation / control tick, but I don't think that's the case at the moment.
Independent of simulation, the controller is triggered essentially whenever there is a new incoming state (msg), and I am not sure how that interacts with the event handling (I am not running a simulator, but I suppose I could).

[2016-11-15 20:26] david-german-tri commented on #4127
@SeanCurtis-TRI  Yes, exactly.  Abstracting away inputs and outputs for the moment, suppose cache value `C` depends on cache value `B`, which depends on cache value `A`, and all three cache values are valid.  Then the following sequence of events occurs:

1. The value of `A` changes (invalidation event 1), so `B` becomes invalid.  Because `B` becomes invalid, `C` becomes invalid.
2. The value of `

[2016-11-15 20:28] liangfok commented on #4133
One strategy for solving this problem is to build in verbose mode and compare the build commands when building your solution in isolation versus as a Drake external.

Using make:

[code]

Using ninja:

[code]

[2016-11-15 20:38] SeanCurtis-TRI commented on #3362
#3821 merged.

[2016-11-15 20:38] #3362 closed

[2016-11-15 20:53] aespielberg commented on #4133
Yes, I will absolutely make sure this is up to date and compiling with Ubuntu come the time I push it back.  For now, for various reasons, it's easiest I work on the Windows build.

For a minimal-ish example of what's wrong, here's my current situation.

I have an external called "robot" that I wish to add (poorly named).  The file structure looks like this:

[code]

So the main CMakeLists.txt in

[2016-11-15 20:59] david-german-tri commented on #4127
@siyuanfeng-tri Wow, thanks for calling that out. I hadn't considered out-of-thread invalidation events, and LCM subscribers are a perfect motivating example. I think you and @sherm1 are right that those invalidations need to be synced to the timestep; event handling seems like a reasonable way to do it.  Basically:

1. LCM message arrives and gets written to hidden state out-of-thread.
2. The nex

[2016-11-15 21:08] aespielberg commented on #4133
For reference, this is how I edited the main CMakeLists.txt to be:

[code]

[2016-11-16 01:29] samkhal opened #4137 "Expected control rate for atlas examples"
When I run `runAtlasWalking` (from the last matlab-supported SHA) and time the plan and control steps, I get rates on the order of 20 Hz (0.01s for plan, 0.04s for control). I haven't started benchmarking everything yet, but in the relevant papers there were rates of 333 Hz or 1 kHz mentioned (though I don't recall the computer specs).

I'm running on a 2.8 GHz i7-4700MQ on a laptop, with one core

[2016-11-16 02:36] sherm1 commented on #4127
I'm sad to be revisiting this at this late date, since we already made this decision months ago. To dredge up some earlier discussions regarding push vs pull:
- Push does not replace pull. We have always agreed that pull is required to correctly handle the cache that lives within a leaf system (e.g. acceleration depends on articulated body inertias which depend on position kinematics but not time,

[2016-11-16 14:41] sherm1 commented on #4127
Also I am unclear about how push would deal with multirate Diagrams. The 1ms update and 100ms update would use different subsets of the inputs (both discrete and continuous); how does push know which ones? What about irregular (calculated next sample time) computations? Pull handles these automatically because evaluations occur as a result of the sampling action.

[2016-11-16 17:09] aespielberg opened #4142 "SNOPT download failure"
On Ubuntu during make.  What could cause this error?

[code]

[2016-11-16 20:49] jamiesnape commented on #4142
SNOPT precompiled is no longer supported.

[2016-11-16 20:49] #4142 closed

[2016-11-17 00:42] sherm1 commented on #4127
FTR, [here](https://docs.google.com/a/trinst.com/document/d/13TYdD1FVYVhRw5kMaqyVjZaotNmXiDhIGuR8rId1YAE/edit?usp=sharing) are the arguments David and I wrote when we decided on pull a few months back. I don't think anything has changed since then.

[2016-11-17 01:02] sherm1 commented on #4121
In case this is useful, here is the near-trivial code for producing the v2qdot matrix N(q) for a quaternion q such that `qdot=N*v`:
[code]
(found lurking in Simbody). Note that the normalization status of the quaternion must be carefully considered; usually they are not normalized when this is needed so a scaled qdot is required for correctness.

[2016-11-17 14:40] amcastro-tri commented on #4133
Hello @aespielberg, glad to hear you are working on this!. I am actually doing some research myself on how to do soft body simulation within Drake. I am curious to know what approach you used, if applicable to general 3D configurations and about its integration with rigid body dynamics.
As the guys told you above probably a good way to start would be opening and issue where we could spiral a discu

[2016-11-17 14:58] SeanCurtis-TRI commented on #4126
Because I'm too lazy to look myself; `UnitVec<P,1>(int i)` produces a unit vector along either the x, y, or z axes based on i = 0, 1, or 2, respectively?

[2016-11-17 15:29] SeanCurtis-TRI commented on #4127
@sherm1 FWIW, I agree with you.  The question of making sure messages get published in a meaningful sequence is independent on whether dependency evaluation is pushed or pulled.  It is about making sure messages get interleaved with time advancement in a sane and reasonable manner.

@david-german-tri I find your example a bit disconcerting.  It seems you're trying to capture a sense of "weak" depe

[2016-11-17 16:29] BetsyMcPhail opened #4146 "uninitialized warning on gcc 5.4 -m32"
[code]

[2016-11-17 16:37] sherm1 opened #4147 "Add stiction model to RigidBodyPlant"
Per discussion with @siyuanfeng-tri at the Utah offsite, he has an urgent need for stiction (static friction) for his foot-contact application. The current friction model isn't providing the expected behavior.

Ultimately stiction should be modeled by adding and removing a no-slip constraint. However, we can get a fair approximation now using a continuous "creep" model that limits slip velocity to

[2016-11-17 16:40] sherm1 commented on #3952
Although the SlowDownSystem is kind of cool, I think we should do this by adding  a "real time governor" option to the Simulator.

[2016-11-17 17:44] sherm1 commented on #4126
Right!

[2016-11-17 17:51] amcastro-tri commented on #4147
I can give this a try once #4033 lands. Probably worth defining now the "materials library"?

[2016-11-17 17:52] sherm1 commented on #4127
@SeanCurtis-TRI: the alternative to using an "invalidation tag" is to ensure that any computation that is requested always validates its registered prerequisites, even if it doesn't need them in a particular circumstance. Then invalidation can stop as soon as an already-invalid downstream entry is seen. Either of those approaches is fine with me because we can automatically ensure prerequisite val

[2016-11-17 17:53] jamiesnape commented on #3924
`--warn-uninitialized` is enabled on CI.

[2016-11-17 18:11] edrumwri opened #4149 "Documentation update to kinematics_cache"
Documentation needs to be improved for variable definition of `qdot_to_v` and `v_to_qdot` and for `transformQDotMappingToVelocityMapping()` and `transformVelocityMappingToQDotMapping()` in `kinematics_cache.h`. See Reviewable comments for PR #4109.

[2016-11-17 19:30] jadecastro opened #4151 "Add ability to specify equality-constrained systems."
There are some systems of interest that that are expressible only with additional equality constraints.

For instance, a unicycle model may be written in terms of the state vector `(x, y, theta)` (where `x` and `y` are the Cartesian coordinates and `theta` is the heading) as follows:

[code]
where `u` and `v` are inputs. It may be equivalently written out in polynomial form by choosing the state s

[2016-11-17 19:35] SeanCurtis-TRI commented on #4127
I had a chat with @sherm1 and he clarified some things (I'd gotten something in my mind pushed around a bit.)  So, I'm going to summarize our conversation.

The problem (at its core) is that we have a pull system with cached values and we need to know when we can use the cached value and when we need to recompute it.  If a node is "dirty", it needs to be recomputed (and set itself to be "clean").

[2016-11-17 19:40] amcastro-tri commented on #4151
@jadecastro, I just had a discussion with @sherm1 about this. While it is true that the general long term approach would involve some sort of projection, you can still with the functionality in master right now, give a solution to this problem.

An example of a case like this is `RigidBodyPlant`. `RigidBodyPlant` implements `LoopJoint`'s as constraints and uses Baumgarte's stabilization to avoid d

[2016-11-17 19:42] amcastro-tri commented on #4147
Excellent. @siyuanfeng-tri will provide us with a cleaner PR from #4004 for us to play with.

[2016-11-17 19:50] sherm1 commented on #4151
@jadecastro, the form of these constraints is analogous to the use of quaternions in Drake now (those also have a normalization constraint). So I'm not sure any additional support is required, but I'm not certain. Please talk with @amcastro-tri to clarify.

[2016-11-17 20:15] siyuanfeng-tri commented on #4147
#4152 is that pr.

[2016-11-17 20:35] liangfok opened #4153 "RigidBodyActuator Only Actuates One-DOF"
[RigidBodyActuator](https://github.com/RobotLocomotion/drake/blob/master/drake/multibody/rigid_body_actuator.h) only actuates upon a single DOF. Is this fact final? Will we be generalizing it to support multi-DOF actuators (i.e., actuators that span multiple joints, or actuators that actuate multi-DOF joints)?

[2016-11-17 21:13] liangfok opened #4155 "Possible kuka_simulation Performance Regression Between 2016/11/11 and 2016/11/17"
# Problem Definition
@patmarion reports a possible performance regression of [kuka_simulation.cc](https://github.com/RobotLocomotion/drake/blob/master/drake/examples/kuka_iiwa_arm/kuka_simulation.cc) between the current head of master and version 0eff10cf28f7bc305a03bbd8fac5a449ed311f82. The former is cycling at 200Hz whereas the latter was cycling at around 700-800Hz.

# Action Item

Verify that

[2016-11-17 21:16] amcastro-tri commented on #4153
I think that is correct. Could you please be more specific with an example of application?

[2016-11-17 21:23] sherm1 commented on #4147
@amcastro-tri, some notes on a creep stiction model:
For a compliant contact we have a normal force model `Fn=Fn(x,xdot)` and a tangential force model `Ft=mu(v)*Fn`. Here Fn and Ft are scalars, with Fn >= 0; x is penetration depth, v is slip speed. The friction model is mu(v), and we want it to look something like this:
![image](https://cloud.githubusercontent.com/assets/4088016/20407725/68ac84f0-

[2016-11-17 21:32] jwnimmer-tri commented on #4155
Shot in the dark: the new plant output port in #3821, which if I understand correctly is computed even if not connected.

[2016-11-17 21:38] liangfok commented on #4153
Consider the four-bar linkage at the bucket-end of the backhoe:

http://www.iowafarmequipment.com/bradco_backhoes.html

Notice how the hydraulic cylinder goes across four joints. How can I model this?

[2016-11-17 21:44] amcastro-tri commented on #4153
Let's see if I understand. What you would do in this case is to model the hydraulic piston as a prismatic joint (still a 1 dof joint). Then a 1dof actuator would actuate that joint by appling a forcing term that, in this case, would be the force in the axial direction (similarly to an actuator on a revolute joint applying a 1dof torque). Does this answer your question?

[2016-11-17 21:45] amcastro-tri commented on #4147
Thank you @sherm1, I will study that code and I'll get back to you.

[2016-11-17 21:47] liangfok commented on #4153
Ah yes, I believe this answers my question. Thanks. I think this issue can be closed once we add an assertion enforcing the requirement that actuators are only constructed for one-DOF joints.

[2016-11-17 21:53] patmarion commented on #4155
Interesting.  That means that previously collision checking was not enable, but now it is?

Maybe that could also explain a new crash I am seeing in the kuka_sim under certain control inputs:

<pre>
terminate called after throwing an instance of 'std::runtime_error'
  what():  In BulletModel::findClosestPointsBetweenElements: No closest point found between 30920272 and 30933200
Aborted
Core dumped

[2016-11-17 21:56] david-german-tri commented on #4155
This is true - #2890.

[2016-11-17 22:03] sherm1 commented on #4147
P.S. Simbody actually uses a smoother function called `stribeck()`.

[2016-11-17 22:36] SeanCurtis-TRI commented on #4155
I just did a test that painfully confirms that the computation of the `ContactResults` is *definitely* the culprit.  I'll change the assignee to me and look into it.

[2016-11-17 22:38] patmarion commented on #4155
fyi, the urdf loaded by the kuka sim is the "no collision" version of the urdf, but in fact that urdf *does* have some collision geometry.

[2016-11-17 22:51] amcastro-tri commented on #4147
Thank you. Do you recommend then implementing this `stribeck()` function instead? is it more computationally intensive than `hollars()`?

[2016-11-17 23:05] jadecastro commented on #4151
Thanks @amcastro-tri and @sherm1, that helps. Based on a f2f with @amcastro-tri, I see now that System 2 has the capability to use take advantage of constraints within the system model by augmenting the system with a state-dependent function `lambda`. For sums-of-squares optimization, we would need this augmented system to be in polynomial form. @amcastro-tri and I whiteboarded how this augmented

[2016-11-17 23:17] amcastro-tri commented on #4151
Basically with @jadecastro we added a Lagrange multiplier (`lambda`) to impose the constraint `c^2 + s^2 = 1`. As @jadecastro mentioned, we need to re-check the math to see if we can formulate it in polynomial form. Fun discussion @jadecastro!

[2016-11-17 23:32] SeanCurtis-TRI commented on #4155
So, initial testing has revealed the cause for the slow down (and points towards the issues that need to be addressed.)

tl;dr
1) Values are not being cached.
2) We're using a horrible method for detecting contacts.

Initial details
To perform a single step, `EvalOutput` is getting called >10 times.  Part of this is due to the fact that the `Simulator` uses RK2 integration and part of it is due to

[2016-11-17 23:40] sherm1 commented on #4151
@amcastro-tri, is lambda actually enforcing the time derivative of the constraint? If so there may still be some drift off the position constraint manifold.

[2016-11-17 23:47] amcastro-tri commented on #4151
@sherm1, yes. I was thinking that if we take this route (depending on whether we can put it in polynomial form or not) we could either apply Baumgarte's stabilization or either project after each time step. Any other options?
However, from f2f with @jadecastro it doesn't seem they'd need to numerically integrate this system (and hence have numerical drift errors) but rather they need to analyze it

[2016-11-18 00:22] sherm1 commented on #4151
Projection is probably the only good option here because there is room for only one Baumgarte term and hence no damping.

[2016-11-18 00:30] sherm1 commented on #4147
They are both very cheap. stribeck() takes a little more code but runs faster overall (typically 10-20% faster) because its smooth profile lets larger integration step sizes be used during stiction<->sliding transitions. So I do recommend stribeck().

[2016-11-18 02:39] RussTedrake commented on #4080
fwiw -- @tkoolen and I have talked about this, too and had some plans for a more general robot state and robot command.

[2016-11-18 03:00] RussTedrake commented on #4137
on the robot, we run each component as a separate executable (communicating over LCM), and of course on a fairly beefy desktop.

[2016-11-18 03:00] #4137 closed

[2016-11-18 03:01] RussTedrake commented on #4142
i guess that means our peg revisions are unable to use this now, too?

[2016-11-18 03:06] RussTedrake commented on #4133
Thanks @aespielberg .  but, uh.  Can we not call the new external WITH_ROBOT?  :)  What external package is it exactly?

[2016-11-18 03:13] aespielberg commented on #4133
Hahaha, yes, WITH_ROBOT is a terrible, terrible name.  We're going to fix it once we fix the cmake stuff.  I will provide more details about it on slack tomorrow for you and @amcastro-tri .

[2016-11-18 03:18] RussTedrake commented on #4153
a differential drive might be a better example where a single actuator might be used for multiple joints.  or perhaps even the schunk parallel gripper that @sammy-tri was working with?

[2016-11-18 03:20] jadecastro commented on #4151
There is another important reason I think the projection method may not work that I did not mention in our f2f. In particular, one way to solve for the equality constraint is to add constraints that look like this:
[code]
where `x` is the state vector, `g(x) = s^2 + c^2 - 1` in our example, `p(x)` is a given polynomial that is `>0` for all `x` in our domain, and `lambda` is a decision variable. Th

[2016-11-18 03:20] RussTedrake commented on #4155
fwiw -- the crash you are seeing looks like the standard (but misleading) message that we see when a simulation goes unstable (e.g. state contains NaNs).  Probably not bullet's fault.

[2016-11-18 03:22] RussTedrake commented on #4147
fwiw -- @mposa used stribeck with some success when examining static friction experimentally on Atlas.

[2016-11-18 03:35] RussTedrake commented on #4151
fwiw -- we definitely had the notion of state constraints for general systems in the matlab stack
https://github.com/RobotLocomotion/drake/blob/master/drake/matlab/systems/%40DrakeSystem/DrakeSystem.m#L435
i remember documenting somewhere (but am embarassed now that i can't find that documentation on a quick search) that announcing phi(x)=0 would simply be providing extra information to the solver

[2016-11-18 03:51] RussTedrake commented on #4151
hah.  the documentation is here:
http://underactuated.csail.mit.edu/underactuated.html?chapter=26
with the relevant excerpt below:

State constraints are additional information that you are providing to the solver and analysis routines. They should be read as "this dynamical system will only ever visit states described by ϕ(x)=0". Evaluating the dynamics at a vector x for which ϕ(x)≠0 may lead to

[2016-11-18 05:54] sherm1 commented on #4151
@RussTedrake, I think I understand what you're saying about state constraints above but want to check. In simulation, the state constraint ϕ(x)=0 will be satisfied by the initial conditions x0, and the system equations will satisfy exactly some differentiated version of that constraint. Under perfect solution conditions the original constraint would remain satisfied, but due to numerical errors it

[2016-11-18 10:23] RussTedrake commented on #4151
Everything you say is correct, but in the matlab version, the responsibility for the stabilization of the numerical drift fell on the author of each individual system.  It would be much nicer to have stabilization happen at the simulator level, and it would have been possible to accomplish that with some of the simulink solvers, but I never got around to implementing it.

[2016-11-18 15:05] SeanCurtis-TRI commented on #4155
@RussTedrake What crash?

Another solution to this would be #2890: don't evaluate an output if it's not actually used.  In the long run, all three solutions should be combined.

[2016-11-18 15:16] jamiesnape commented on #4142
True. Would you like me to back-port a patch and tag the repo?

[2016-11-18 15:24] soonho-tri commented on #4090
I couldn't find a way to reproduce the problem. Apparently, re-triggering build worked. Let me close this for now.

FYI, the use of CAPD in dReal is disabled for drake due to some possible auto-hell issues. @mwoehlke-kitware and I are working on a fix.

[2016-11-18 15:24] #4090 closed

[2016-11-18 15:25] patmarion commented on #4155
I think @RussTedrake was referencing the crash I posted here: https://github.com/RobotLocomotion/drake/issues/4155#issuecomment-261381542

[2016-11-18 15:33] SeanCurtis-TRI commented on #4155
Oh, yeah.  Thanks @patmarion.  I'd lost sight of that in the painful performance issues.

[2016-11-18 15:46] mwoehlke-kitware commented on #4090
This... *might* actually be caused by an XCode update, where it wants to ask the user to accept the license. From the log, it appears that `make` failed but produced no output, which should not happen under normal circumstances, but ISTR that you do actually see similar symptoms when XCode is balking as described. At any rate, it doesn't seem reproducible; I don't believe it has occurred again in

[2016-11-18 15:48] soonho-tri commented on #4090
@mwoehlke-kitware, thanks for the clarification!

[2016-11-18 15:54] edrumwri opened #4163 "Additional unit testing for RK3 integrator"
From Reviewable comments for PR #4033, we need to add the following to the RK3 integrator unit test source:

1. A system composed from two independent mass-spring systems using a Diagram. The inclusion of this system will better stress the vector-based weighting approach used in the error controlled integrator. The two outputs from the independent mass-spring dampers can be checked for accuracy us

[2016-11-18 16:06] amcastro-tri commented on #4153
Those are great examples @RussTedrake!. I guess what I was trying to say is that right now Drake only seems to support 1DOF actuators (and therefore I think it is probably a good idea that @liangfok adds a check enforcing this for now). Of course we want to support these models you mention. Probably if a need for the schunk parallel gripper, we can push the implementation of a model for that parti

[2016-11-18 16:21] sherm1 commented on #4163
We also need to try RK3 as the default and see what breaks.

[2016-11-18 16:31] edrumwri commented on #4163
You mean as the default integrator for Simulator?

[2016-11-18 18:19] sherm1 commented on #4163
Yes. For now I mean just to test it (it would have segfaulted with the non-conformant multiplies). I would like a variable step integrator to be the actual default but we need to make sure it works for the existing applications first!

[2016-11-18 18:28] sherm1 commented on #4121
@mitiguy volunteered to fix this. Paul, please take a look at the inverse method also since it should be similarly trivial and lossless but may be similarly baroque.

[2016-11-18 18:34] aespielberg opened #4168 "Manipulator Equations and dynamics Jacobian in C++"
Is there any Manipulator Equation and/or dynamics Jacobian support in C++?

[2016-11-18 18:52] jamiesnape commented on #4090
No updates recently and auto-updating is disabled.

[2016-11-18 19:45] liangfok opened #4169 "Warning Related to default_model_instance_id"
# The Warning

The following was observed on an Ubuntu 14.04 system using clang-3.9.

[code]

[2016-11-18 23:54] jwnimmer-tri commented on #4146
What's the recipe to repro?

[2016-11-19 00:46] jwnimmer-tri commented on #3741
http://stackoverflow.com/questions/14256726/default-constructor-destructor-outside-the-class appears to successfully work around the GCC bug.

[2016-11-19 01:44] sherm1 commented on #3741
Yay! Great find, Jeremy. Check it out @SeanCurtis-TRI.

[2016-11-19 03:14] jwnimmer-tri commented on #3741
I've been rethinking through this ticket a bit today.

I think I would like to see `extern template class Foo<double>;` used pervasively throughout our templated headers.  It would be a sanity check on two kinds of correctness -- (1) for method definitions, by making sure that we explicitly instantiate them to catch compilation-error bugs early, and (2) for linker rules, by making sure that all of

[2016-11-19 07:42] aash29 opened #4177 "Is it possible to use TimeSteppingRigidBodyManipulator with DircolTrajectoryOptimization?"
Or some other kind of trajectory planning?
thanks in advance

[2016-11-19 08:15] hongkai-dai commented on #4177
`DircolTrajectoryOptimization` assumes that the system has a `dynamics` function, as in https://github.com/RobotLocomotion/drake/blob/master/drake/matlab/solvers/trajectoryOptimization/DircolTrajectoryOptimization.m#L84. The `dynamics` function is in the form
[code]

You cannot use it directly.

For a `TimeSteppingRigidBodyManipulator`, the dynamics depends not only on `t, x, u` (time, state, cont

[2016-11-19 10:41] RussTedrake commented on #4168
yes.  you can use autodiff for gradients, and call e.g. getMassMatrix and inverseDynamics to get the components.  look at the manipulator equations mex entry function for an example.

[2016-11-19 10:41] #4168 closed

[2016-11-19 10:43] RussTedrake commented on #4142
if it's not too difficult to maintain, yes.  the "last windows" sha is probably the most notable reason.

[2016-11-19 19:41] aespielberg commented on #4168
Thanks for the reply.  Would it be possible to give a direct pointer to which file to look at?  There are a lot of mex functions and I'm not sure which one you are referring to.

[2016-11-20 01:32] jwnimmer-tri commented on #3679
Reping @jadecastro for this quick fix.

[2016-11-20 01:35] jwnimmer-tri commented on #3397
I will look into pushing this to a conclusion.

[2016-11-20 01:37] jwnimmer-tri commented on #3973
Dropping priority; the only remaining task is to `rm` the header file at some unspecified future date.  (For example, once feature branches that depend on it get updated to account for the new deprecation warning that will show up.)

[2016-11-20 01:42] jwnimmer-tri commented on #1965
New checklist, per `drake-distro$ find drake ros -name thirdParty -prune -o -name examples -prune -o -name '*system1' -prune -o -name matlab -prune -o -name util -prune -o -name '*[A-Z]*.h' -print -o -name '*[A-Z]*.cc' -print -o -name '*.cpp' -print`:

- [ ] drake/multibody/xmlUtil.h
- [ ] drake/multibody/xmlUtil.cpp
- [ ] drake/multibody/constraint/test/testConstraintConstructor.cpp
- [ ] drake/m

[2016-11-20 03:15] liangfok commented on #3435
@jwnimmer-tri informs me that he ran into a seemingly infinite loop when executing `ctest -VV -R rigid_body_constraint` after performing a Bazel build. I suspect this may be caused by `populatePackageMap()`, but haven't verified this.

[2016-11-20 09:41] RussTedrake commented on #4168
https://github.com/RobotLocomotion/drake/blob/master/drake/matlab/systems/plants/%40RigidBodyManipulator/manipulatorDynamics.m#L42

[2016-11-20 12:09] jadecastro commented on #3679
just to be clear,
`#include "drake/examples/bouncing_ball/ball-inl.h"` should not be removed but replaced by `#include "drake/examples/bouncing_ball/ball.h"`, yes?

[2016-11-20 12:14] jwnimmer-tri commented on #3679
Ah, yes.

[2016-11-20 12:23] RussTedrake opened #4184 "requests/questions about discrete time systems syntax"
following #4183, there are a bunch of small issues/questions/requests that I have about the discrete time logic in system2.0

- [x] can we make DifferenceState -> DiscreteState everywhere?  and of course get_difference_state(), etc to get_discrete_state()? while I appreciate that modal state is also discrete in a sense, I think that the current naming is inconsistent with the continuous time versi

[2016-11-20 12:50] jadecastro commented on #3679
I'm on it..

[2016-11-20 13:37] #3679 closed

[2016-11-20 17:20] RussTedrake opened #4187 "need DoToAutoDiff for RigidBodyPlant"
Given the new paradigm, we can't actually do control design or planning on multibody systems until this gets implemented.  That's pretty painful.

[2016-11-20 17:24] RussTedrake commented on #4177
fwiw -- we often do the plan on the RigidBodyManipulator, then play it back with the TimeSteppingRigidBodyManipulator.  The time-stepping models are good for simulation and for some forms of control design, but it's not always the appropriate abstraction for planning.

[2016-11-20 17:24] #4177 closed

[2016-11-20 20:34] sherm1 commented on #4184
Most of these oddities are my fault, Russ. As you surmised, I suggested DifferenceState because modal is also discrete but also to emphasize that the update should be done via difference equations and be limited to updating the xd variables. The API enforces that by providing only xd as mutable, with the rest of the Context const. OTOH, the plan for modal updates is to have them done via the gener

[2016-11-20 21:05] RussTedrake opened #4188 "lcm vector gen scripts do not run on mac"
for many reasons, in fact.

First, because the readlink command takes different arguments.
[code]
the best solution, I think is `greadlink` which I did have installed:
http://stackoverflow.com/questions/1055671/how-can-i-get-the-behavior-of-gnus-readlink-f-on-a-mac

second, they assume clang-format-3.7 (version hard-coded).  homebrew provides 3.8 (and the executable is only named clang-format)

ev

[2016-11-20 21:10] RussTedrake commented on #4184
I'm afraid I definitely prefer DiscreteState to DifferenceState.  Otherwise we should change ContinuousState to DifferentiableState or something.  I worry that the syntactical oddities have been building up to a burden on developers who don't spend every day with the code.

Sorry if I'm slow, but I don't understand why xd has to be mutable.  Shouldn't it only be set through the simulator the same

[2016-11-20 21:19] RussTedrake commented on #4188
update: the last error above was resolved by manually creating the gen directory.  now everything runs, with everything installed, and local edits to make clang-format-3.7 point to clang-format in lcm_vector_gen.sh and readlink changed to greadlink.

[2016-11-20 21:34] sherm1 commented on #4184
Sorry, it's not the xd state that's mutable -- the mutable output of EvalDifferenceUpdates() is the update vector. The actual update is performed in the simulator, analogously to the xc update. But for general event handling it is open season on Context changes.

I think we can make xc/xd consistent enough in the case where there is only a single xd grouping, while still retaining the ability to h

[2016-11-20 21:49] RussTedrake commented on #4184
all great.  thanks sherm.

[2016-11-20 23:13] jwnimmer-tri commented on #4188
Re: clang-format... since the install instructions on Ubuntu suggest symlinking `clang-format-##` to be available as `clang-format`, I suspect our scripts should make that the default (there's already an environment variable a user can set to use a different name).

Re: pyyaml -- both 14.04 and 16.04 have `python-yaml`, which I think works?  Maybe only OSX instructions are missing it?

[2016-11-20 23:19] aespielberg commented on #4168
I'm sorry to be a real pain, but this is not making a lot of sense to me.  I'm less interested in how to mex it up into matlab, and more interested in how I can just access the autodiff in C++ directly.

Trying to make a simple example here,

[code]

Of course this Jacobian making sense would surprise me, because I haven't explicitly autodiff'd the t, or u or anything.  And, as expected, this does

[2016-11-21 01:52] RussTedrake commented on #3952
fwiw -- am now blocked on this for the acrobot work.

[2016-11-21 02:07] jwnimmer-tri opened #4190 "Cleanup of trajectories-related source paths"
(Per discussion on slack...)

We should clean up the scattered nature of our trajectories-related C++ code.  Currently, we have:
- `drake/systems/trajectories`
- `drake/solvers/qpSpline`
- `drake/solvers/trajectoryOptimization`

The strong consensus was that:
- (1) these should all move to the same subdirectory (or siblings of a common parent) -- which is captured in this issue;
  - (a) the `drake

[2016-11-21 02:07] jwnimmer-tri commented on #4190
/CC @siyuanfeng-tri @manuelli @sammy-tri @Lucy-tri

[2016-11-21 02:14] rpoyner-tri commented on #4188
I'll contact Soonho to get an account on the shared Mac, and have a look. Could happen tomorrow or so.

[2016-11-21 02:22] sherm1 commented on #3952
on my list for this week

[2016-11-21 02:35] manuelli commented on #4190
I am a little late to the discussion but I tend to agree with Siyuan that the trajectories are just simple utilities. I have never used qpSpline, and I don't think it is currently used in anything we do on the robot. I guess I am unclear on the logic behind putting drake/solvers/trajectoryOptimization in the same place as trajectories. One is really an optimization, the other is just a container f

[2016-11-21 03:27] RussTedrake commented on #4190
I'm sorry... i was unclear on slack.  I think that trajectoryOptimization still belongs under solvers.  I think that qpSpline does not.

[2016-11-21 03:38] jwnimmer-tri commented on #4190
Oh, I like that better also.  So I think the proposal is now:
- `drake/systems/trajectories` renames to `drake/common/trajectories`.
  - This rename breaks the weird systems-vs-solvers loop.
  - The new directory contains only datatypes (representations of trajectories) and possibly factory methods for creating them (e.g., a bunch of Eigen code to do some math); it specifically may _not_ call the

[2016-11-21 14:01] aash29 commented on #4177
Thank you for answering!
I tried to use ContactImplicitTrajectoryOptimization,

And got this error

getNumJointLimitConstraints method is present in Manipulator class, but not in TimeSteppingRigidBodyManipulator.

[2016-11-21 15:16] liangfok opened #4191 "System 2.0 API Requires SetZeroConfiguration Boilerplate"
There's presently a need to set the zero configuration of a plant after the instantiation of a `Simulation` to avoid feeding `NaN` values through the plant's controller. It looks something like the following (the following code was taken from `car_sim_lcm`):

[code]

Similar code is being added in #4107.

We should modify System 2.0's API to not require this boilerplate.

[2016-11-21 15:16] jwnimmer-tri opened #4192 "AffineSystem direct-feedthrough check is too lenient"
`AffineSystem::has_any_direct_feedthrough` returns `false` iff all of the `D` matrix feedthrough coefficients are less than `1e-12` (and so allows an epsilon amount of feedthrough).  It should only return false if the coefficient matrix is exactly zero, not almost zero.

[2016-11-21 15:20] tkoolen commented on #4080
From an email I sent to Russ:

[2016-11-21 15:21] jwnimmer-tri commented on #4191
FWIW, I think I was the one who defected this and asked for the TODO.  My hope is that the `System` abstraction will offer a "starting sim now, please populate your t=0 values into this Context param", and that the `Simulator` would invoke that without main-program boilerplate in the common case.

[2016-11-21 15:21] david-german-tri commented on #4191
@jwnimmer-tri Thanks for the clarification.  Seems reasonable to me.

[2016-11-21 15:56] pvarin commented on #3951
The latest instructions are kind of ambiguous for Mac users. The Gurobi site (https://git.io/vXVsE) suggests that Mac users download the .pkg file, but the error message in the build system says
```Please download the Gurobi 6.0.5 archive (.tar.gz) and set ...```

I've tried both downloading the .pkg file and the .tar.gz file and I continue to get errors.

[2016-11-21 16:04] david-german-tri commented on #3951
@pvarin Yep, those directions were only tested on Linux.  When you figure it out on Mac, please submit a PR to update the documentation!  (Also, @jamiesnape and @BetsyMcPhail may have some hints, since this works on CI somehow...)

[2016-11-21 16:10] jamiesnape commented on #3951
`export GUROBI_DISTRO=/path/to/gurobi6.0.5a_mac64.pkg`

[2016-11-21 18:08] sherm1 commented on #4191
We are planning to add an Initialize() call from the Simulator at simulation start.

[2016-11-21 18:21] jwnimmer-tri commented on #4169
This came from @amcastro-tri adding class-templating, and should definitely be fixed.

[2016-11-21 18:45] rpoyner-tri commented on #4188
Observations so far:

 * greadlink is part of 'coreutils' under homebrew ; I'll add it to the 'brew install' list.
 * PyYAML is installed via pip already in the homebrew instructions.
 * I can see no good reason for the default spelling of clang-format to have a version number

Having reviewed/patched the above issues, I now see identical yaml parser failures on both mac and ubuntu. I suspect thes

[2016-11-21 19:10] amcastro-tri commented on #4187
This is very related to the implementation of `RBT::DoToAutoDiff()`, issue #4044 definitely already on my radar. However before getting here this was my proposed line of action:

- Finish templatization of RBT on `<T>`, #3987. This right now requires at least the templatization of joints, followed by
- making template methods on `<Scalar>`  class methods on `<T>` (getting rid of per-case explicit

[2016-11-21 19:13] amcastro-tri commented on #4169
Hopefully these warning will go away once #3987 is fully resolved. If after #3987 these warning are still in place I will take another look.

[2016-11-21 19:51] rpoyner-tri commented on #4188
See prerequisite PR #4196.

[2016-11-21 20:40] liangfok commented on #4034
@hongkai-dai experienced this here:
https://drake-jenkins.csail.mit.edu/job/linux-gcc-ninja-experimental-open-source-debug/804/console

[2016-11-21 20:52] RussTedrake commented on #4187
All sounds good.  In some other discussions I raised the possibility of having a second scalartype for parameters (in the context) as being something to consider.  We should decide on that one way or another before you get to bullet 3 above.  +@david-german-tri @sherm1

[2016-11-21 20:55] amcastro-tri commented on #4187
@RussTedrake, what was the context of those discussions? why would we need to have a second scalar type?

[2016-11-21 22:37] SeanCurtis-TRI opened #4204 "Bullet collision detection does not support drake collision filters"
Collision Filtering
-----------------------
During collision detection, pairs of bodies are tested to see if they are in collision.  At the limit, there are potentially O(N^2) colliding pairs.  In practice, this is seldom the case.  Collision filtering is a mechanism for excluding pairs from the set of O(N^2) *candidate* pairs such that collision between the pair isn't even considered.  Drake offe

[2016-11-21 23:07] sherm1 commented on #4204
Ongoing nag: this is further evidence that we should parse to an intermediate format, then build data structures once we have the full model available.

[2016-11-22 01:39] david-german-tri commented on #2840
Linking this to #3967

[2016-11-22 01:39] david-german-tri commented on #3956
Tentatively closing this as superseded by #2840 and #3967.

[2016-11-22 01:39] #3956 closed

[2016-11-22 02:11] mitiguy commented on #4121
I'll enjoy working on this.

Paul

On Fri, Nov 18, 2016 at 10:28 AM, Michael Sherman <notifications@github.com>
wrote:

[2016-11-22 02:20] edrumwri commented on #4121
Ah, didn't realize that Paul already volunteered to fix it. Paul, I've got a working fix for this already that loses 2.2 digits of precision instead of 5. It needs a little more documentation but is 90% complete. Do you think you can get more precision than that?

[2016-11-22 02:28] jwnimmer-tri opened #4212 "spring_mass_system directory doesn't match its unit test directory"
Right now, we have:
- drake/systems/plants/spring_mass_system/spring_mass_system.h
- drake/systems/plants/spring_mass_system/spring_mass_system.cc
- drake/systems/plants/test/spring_mass_system_test.cc

The unit test should be in a subdirectory of the tested class, so either:
- drake/systems/plants/spring_mass_system.h
- drake/systems/plants/spring_mass_system.cc
- drake/systems/plants/test/spring

[2016-11-22 02:33] RussTedrake commented on #4212
i'm not sure that it even belongs in systems/plants .  i think drake/examples/spring_mass_system ?

[2016-11-22 02:36] jwnimmer-tri commented on #4212
It started off line in `drake/examples`, but then see #3254 and #3653 where it moved homes twice already.

[2016-11-22 02:41] RussTedrake commented on #4212
i think that this is a systemic problem.  examples are useful as tests.  not being able to reference them is a real pain.

[2016-11-22 02:51] jwnimmer-tri commented on #4212
The debate there is whether the file structure of the source tree should be organized by
- (1) dependencies, which means that cross-cutting semantic classifications like "list of example systems" have to be solved via documentation tags instead, or
- (2) semantic classification, which means that dependencies are tracked via annotations in the build systems instead.

To me (1) is a superior choice,

[2016-11-22 02:58] RussTedrake commented on #4212
While I appreciate that view, the examples (if they are good) will have many dependencies into the code.  They are effectively tests.  But some of the files/classes associated with those tests might be useful in other, smaller tests.  For example, the urdf files associated with an example (acrobot, etc) could be useful in a test for inverse kinematics.

in your model, perhaps you would propose tha

[2016-11-22 03:11] jwnimmer-tri commented on #4212
I think promoting broadly useful and stable SDFs to lower in the dependency stack is great (e.g., systems/plants/models).

I also think that having several (possibly even divergent) copies of, e.g., an Acrobot SDF in the tree (for different purposes) is also fine.

Taking the "Acrobot SDF is used in IK unit testing" scenario -- the SDF used in IK should be appropriately curated for that purpose (m

[2016-11-22 08:59] naveenoid commented on #4212
Whats the conclusion? Im personally in favour of reverting #3254 and #3653 to return this basic system into examples. In either case the test nesting required by this issue can be done.

[2016-11-22 10:51] RussTedrake commented on #4212
i would vote against having divergent sdfs.  for something as simple as the acrobot, it seems benign, but even there it seems like a short path to confusion and errors.  we have been burned with multiple versions of urdfs for other projects.

taking the urdf/sdf example further, a number of the examples have base classes (like pendulum_plant.h/.cc) which would be useful in tests.  your model would

[2016-11-22 11:44] RussTedrake opened #4216 "parameters should not be protected"
I believe that external methods should be allow to set/get the parameters of a system.  For example, I'm writing a test code for an encoder block which tries to set the calibration offsets (from outside the class).  I would expect something similar to happen with system identification using parameters.

potentially related: it feels inconsistent to access state, etc, via e.g.
`context->get_mutable

[2016-11-22 11:57] liangfok commented on #4212
I think models should be promoted to a dependency of Drake so they can be referenced from anywhere within Drake. This is because programmatically instantiating a model is tedious, error prone, and verbose. In #3257, I proposed storing models in separate repositories, which are then configured as submodules in `drake-distro/externals`. In #3986 I added the HSRb model as a submodule in `drake-distro

[2016-11-22 12:16] jwnimmer-tri commented on #4212
@naveenoid Regardless of the final choice of home, moving the test to match the device-under-test is obvious and well-agreed, and would solve the issue in the OP.

[2016-11-22 12:32] RussTedrake commented on #4216
edit: i found how to set the parameters on a LeafContext<T>.  perhaps this just means that parameters have not been implemented up to the full System<T> level yet?

[2016-11-22 14:54] #4212 closed

[2016-11-22 15:38] naveenoid opened #4220 "AffineSystem component matrices should be parameters"
Would be useful towards linear sysID. Any opinions? I can work on the fix.

[2016-11-22 16:12] david-german-tri commented on #4216
Discussed f2f: I'd made a design decision not to expose Parameters on Diagrams, because I couldn't  come up with a reason that a "bag of anonymous parameters" would be useful.  As @RussTedrake pointed out above, it's useful for system identification, so I agree we should do it.  Not too difficult.

[2016-11-22 16:22] david-german-tri commented on #4074
?! :running_man: :fire: :no_entry_sign: :scream:

Joking aside, code generation for SDF is an OK idea, and if ERuby is an official recommendation from OSRF, I agree we should follow it.  Please aim for a pattern similar to `lcm_vector_gen`, though, where the generated outputs go in a `gen/` directory, and the generator tool is in-tree.  That makes it easy to migrate to a Bazel genrule in the futur

[2016-11-22 16:25] david-german-tri commented on #4220
Seems reasonable to me, and all the framework support you need should already exist.  What sort of opinions are you looking for?

[2016-11-22 16:27] david-german-tri commented on #4220
After a moment's reflection, here's one opinion: I'd suggest keeping the constructor signature as-is, and using the inputs as default parameter values in `AllocateParameters`.

[2016-11-22 16:28] david-german-tri commented on #4220
Also a question: does this suggest we want a subclass of `BasicVector` with matrix semantics?

[2016-11-22 16:30] david-german-tri commented on #4220
(I presume there are Eigen ways to interpret a VectorXd as a MatrixXd with no copies or anything, right?)

[2016-11-22 16:37] david-german-tri commented on #3873
https://github.com/RobotLocomotion/drake-ci/pull/45

[2016-11-22 19:23] david-german-tri commented on #3126
(accidentally) fixed in #4162

[2016-11-22 19:24] david-german-tri opened #4224 "Include all example binaries in the Drake install"
This matters, for instance, to KUKA users.

cc @patmarion

[2016-11-22 19:25] david-german-tri opened #4225 "Build libraries in a location that mirrors the source tree"
Libraries are built in `build/lib`, but should be built in `drake/path/to/my/lib.so` by analogy to binaries (post #4162).

[2016-11-22 19:25] SeanCurtis-TRI commented on #4155
This is addressed by #4206.  That PR attacks the inefficient contact force computation problem by improving the O(N^2) collision detection leading to a significant performance improvement.  Feel free to take a look.

The issues of caching and targeted output evaluation are still on the table.

[2016-11-22 19:26] jwnimmer-tri commented on #3126
Are we sure?  I think yes the binary paths are different now, but are the test names known to ctest still in conflict?

[2016-11-22 19:26] jamiesnape commented on #4224
Also useful for #1766.

[2016-11-22 19:27] jwnimmer-tri commented on #4225
Is this worth solving in CMake?  Maybe just wait for Bazel?

[2016-11-22 19:28] david-german-tri commented on #3126
Oh.  You're right.  :-(  Reopening.

(I never actually invoke ctest locally.)

[2016-11-22 19:31] jamiesnape commented on #3126
So this ticket is basically namespacing the test names based on subdirectory?

[2016-11-22 19:34] jamiesnape commented on #3126
So `autodiff_test` would become `math/autodiff_test` or `math/test/autodiff_test` or `drake/math/test/autodiff_test`?

[2016-11-22 19:34] mwoehlke-kitware commented on #3126
Also, the original problem I think also had to do with the *target* names...

[2016-11-22 19:36] david-german-tri commented on #4225
Based on Slack conversation, it sounded pretty trivial to solve.  If it's more than a 30min investment we should rethink.

[2016-11-22 19:40] jamiesnape commented on #4225
It should just be removing one line from `pods.cmake`.

[2016-11-22 20:16] jwnimmer-tri commented on #4034
Again
https://drake-jenkins.csail.mit.edu/job/linux-gcc-ninja-continuous-matlab-debug/494/

[2016-11-22 20:24] jamiesnape commented on #4034
Has anyone observed this on a non-Ninja build?

[2016-11-22 20:37] sherm1 commented on #3952
@edrumwri is concerned that this feature could be confused with an *actual* realtime simulation, which can't really be achieved with a non-realtime OS like Ubuntu or OSX. So far I've only seen it used for visualization, but from @RussTedrake's comment above I wonder if it will be used in other ways. If so, is the fuzzy-realtime capability provided here adequate for those purposes?

[2016-11-22 21:35] liangfok opened #4231 "Update Gravity Compensation Unit Test To Not Repeat Code Logic"
From @naveenoid's comment in #4099:

Another idea is to simply manually derive the expected gravity comp vector and verify that the output of the `GravityCompensatorSystem` matches this vector.

[2016-11-22 21:42] RussTedrake commented on #3952
I'm not particularly worried about that, but it's a fair point.  Perhaps a different name, like "system_clock_factor" (i don't particularly like that one) could be better?  I'm ok either way.

[2016-11-22 21:51] amcastro-tri opened #4232 "Simulation of Valkyrie: Feet move inwards due to unprocessed collision groups."
I found out the reason why the feet in the Valkyrie simulation move inwards.
The reason is that the `urdf` model for Valkyrie in [`valkyrie_A_sim_drake_one_neck_dof_wide_ankle_rom.urdf`](https://github.com/RobotLocomotion/drake/blob/master/drake/examples/Valkyrie/urdf/urdf/valkyrie_A_sim_drake_one_neck_dof_wide_ankle_rom.urdf) contains all the detailed collision geometry using the same grids used

[2016-11-22 21:53] RussTedrake commented on #4220
while i agree, maybe i would wait for a use case instead of inventing one?

[2016-11-22 21:53] amcastro-tri commented on #4232
How to solve this? it seems that the right thing to do is to parse `<collision_filter_group>` entries as I think is already done in Matlab ( @RussTedrake and @tkoolen might be able to confirm). This parsing then should generate the proper "collision cliques" withing Drake.

[2016-11-22 22:13] amcastro-tri commented on #4147
I just found out in #4232 that the problem with the Valkyrie simulation is not the contact model (which of course can be improved) but a number of collision elements not being filtered out.

[2016-11-22 22:15] siyuanfeng-tri commented on #4232
Yeah, i guessed that today as well.
I think this is also related to #4204.

[2016-11-22 22:21] #3952 closed

[2016-11-22 22:23] sherm1 commented on #3952
Left the name as `Simulator::set_target_realtime_rate()` but added weaselly warning comments in #4209.

[2016-11-22 22:32] RussTedrake commented on #4220
i would imagine a potentially better approach to linear system ID is to suck in the data, then write out a new Affine/Linear system.  The order (matrix sizes) is typically an option that the system ID methods would accept.

The case where this would help is if we want to ID some elements of an affine system as a part of a larger diagram.

But it would also change a lot of the signatures of the exi

[2016-11-22 22:34] SeanCurtis-TRI commented on #4232
It is.  In fact, I'm moved this on my plate next.  It's one of my OKR's and will alleviate a number of collision headaches.

[2016-11-22 22:35] SeanCurtis-TRI commented on #4147
Yep.

[2016-11-23 01:51] sherm1 commented on #4121
One issue to consider carefully is the expressed-in frame for both the angular velocity and the vector portion of the quaternion. A quaternion gives the orientation of frame B in A, equivalent to the rotation matrix R_AB, but stored (roughly speaking) in an (angle,axis) format, likely with the axis expressed in A. Given an angular velocity vector w_AB representing the angular velocity of B in A, t

[2016-11-23 02:06] liangfok commented on #4091
Consider renaming `parser_urdf` and `parser_sdf` to be `urdf_parser` and `sdf_parser`, respectively, along with their relocation.

[2016-11-23 02:16] liangfok commented on #4091
How about let's place all parsers in `drake-distro/parsers`?

[2016-11-23 10:06] liangfok commented on #3429
https://drake-jenkins.csail.mit.edu/job/linux-gcc-experimental-ros/1116/consoleFull

[2016-11-23 10:26] naveenoid commented on #4231
I think there is also a genuine use case for a single pass (single time step) input to output integration  to verify things like the derivative and output function of systems. For instance, for the gravity compensator (to use the original context of my comment), it might make sense to plug in gravity compensators output in a diagram to a system and then simply evaluate if the system has near zero

[2016-11-23 11:21] liangfok commented on #4231
I like the idea of feeding the `GravityCompensator`'s output into a `RigidBodyPlant` and verifying that the `RigidBodyPlant`'s configuration after a single integrator cycle has near zero velocity and acceleration.

Here's one implementation idea: Create a `GravityCompensatedPlant` class, which extends `Diagram`, and has a constructor that takes as input the model to be gravity-compensated. Provide

[2016-11-23 13:44] avalenzu commented on #4232
@amcastro-tri, yes those tags are being parsed in MATLAB. The parsing occurs in `addRobotFromURDF.m` ([here](https://github.com/RobotLocomotion/drake/blob/53fd360a6b5c4ae5b225b4d4394845de4bd62dfe/drake/matlab/systems/plants/%40RigidBodyManipulator/addRobotFromURDF.m#L226)) and the information is transferred to the C++ `RigidBodyTree` in `constructModelMex.cpp` ([here](https://github.com/RobotLocom

[2016-11-23 14:13] aash29 opened #4236 "How can I set an external torque acting on body?"
I'm trying to create a box-shaped body on which an external torque is acting as a control. The closest thing I found so far is propellor tag. What is the recommended way?
thanks in advance

[2016-11-23 14:19] amcastro-tri commented on #4232
Thank you @avalenzu!. I guess what we need is a similar capability in the C++ implementation. As @SeanCurtis-TRI mentioned, he will be implementing this capability soon. He is now the "all collision related things" guy in our team.

[2016-11-23 14:19] naveenoid commented on #4231
Compute the state derivatives and check the top half to be near zero. I can take a swing at this if you would like. It will make a good additional unit test.

[2016-11-23 14:24] liangfok commented on #4231
Yes, by all means take a swing at it! :smile: !

[2016-11-23 14:39] amcastro-tri commented on #4091
The parsers no in `drake/multibody` are very RBT specific. I would therefore put those in `drake/multibody/parsers`.

[2016-11-23 14:43] SeanCurtis-TRI commented on #4232
@amcastro-tri Now I want that on a t-shirt.

[2016-11-23 14:46] liangfok commented on #4091
Sorry, I meant to say `drake-distro/drake/parsers`.

OK we can put them in `drake-distro/drake/multibody/parsers` for now, and then move them into a more general location in case they eventually become not multibody specific.

[2016-11-23 15:22] amcastro-tri commented on #4204
Since relevant I will post here the [comment made here](https://reviewable.io/reviews/robotlocomotion/drake/4206#-KXCdJhfZ7vvFF5hEySm).

Interestingly, Bullet also calls the broadphase callback when using AllPairsClosestPoints (I guess triggred by BulletModel::updateModel()) reporting this time 2853 (N^2) contact pairs.
Another interesting point is that Bullet is not calling the braoadphse callbac

[2016-11-23 16:15] tkoolen commented on #4232
Are you aware of `RigidBodyTree::removeCollisionGroupsIf`?

[2016-11-23 16:42] tkoolen commented on #4121
@sherm1, good call, that is indeed a mistake in the PR.

[2016-11-23 17:08] #4192 closed

[2016-11-23 17:23] jonathan-owens opened #4243 "Mysterious SWIG-related error"
@jamiesnape reports that it has happened before. Two of the more recent incidents:

https://drake-cdash.csail.mit.edu/viewBuildError.php?buildid=214150
https://drake-cdash.csail.mit.edu/viewBuildError.php?buildid=214070

Error message is not useful, unsure of who exactly to assign this to, which is why I did software core.

[2016-11-23 17:35] SeanCurtis-TRI commented on #4232
I wasn't specifically, but thanks for pointing it out.  I'll definitely factor it in when I'm working on this.

[2016-11-23 17:38] SeanCurtis-TRI commented on #4204
To summarize my response:

We are both right.  My comments are predicated on our initial conditions being wrong.  You are pointing out that over the course of simulation, circumstances can arise that *may* correct the initial conditions.  However, there are no guarantees that the initial conditions will be completely corrected.  So, at the end of the day, we are responsible to make sure the time s

[2016-11-23 18:30] #4190 closed

[2016-11-23 18:45] naveenoid commented on #4220
ok I will close this for now. I agree a good use-case doesnt exist yet.

[2016-11-23 19:22] SeanCurtis-TRI commented on #4204
See issue [871](https://github.com/bulletphysics/bullet3/issues/871) in the bullet repo for conversation on the underlying issue.

[2016-11-23 21:48] sherm1 commented on #4121
After discussion with @mitiguy, here is a clarification:

When converting rotation R_AB to angle/axis or quaternion, by construction the resulting axis vector has the same representation when expressed in *either* frame A or B! So the conversion to quaternion is unambiguous. However, the conversion from angular velocity w_AB to quaternion derivative does depend on the expressed-in frame for w.

[2016-11-23 21:59] #4188 closed

[2016-11-23 22:00] RussTedrake commented on #1595
I believe this has been resolved.  @tkoolen -- correct me if I'm wrong.

[2016-11-23 22:00] #1595 closed

[2016-11-23 22:09] sherm1 commented on #4121
While I have it handy, here are the angular velocity-to-quaternion derivative conversion matrices for angular velocity in either frame. Say we have a rotation matrix R_AB represented as a quaternion `q=[q0 q1 q2 q3]` where q0 is the scalar element. We are given the angular velocity of B in A as a vector w_AB, expressed in A (w_AB_A) or expressed in B (w_AB_B). Then:
[code]
and
[code]

[2016-11-24 00:11] mitiguy commented on #4121
I think we should get very high precision (near 1E-15) if the tests is::
a.  Calculate qdot from q, w.
b.  Calculate w from q, qdot.
c.  Compare  calculated w with initial w converting from w to qdot
Perhaps I can review with Evan to see if I can understand code in-situ.

[2016-11-24 11:12] GitMunF122 opened #4250 "Error in the function createFunnelLibrary.m"
Recently I tried to executed the function "createFunnelLibrary.m" in the folder /drake/examples/Quadrotor.

Unfortunately, the execution of the function stops with an error (see below), when the program tries to execute line 50 in the file "FunnelLibrary" (which can be found in the folder /drake/systems/trajectories).

The complete error message is as follows:

Undefined function 'taylorApprox' fo

[2016-11-24 13:45] naveenoid commented on #3977
I think the following can be removed without any problems in the first phase:
run_kuka_iiwa_gravity_compensated_torque_control.cc
run_kuka_iiwa_gravity_compensated_position_control.cc
test/kuka_iiwa_dynamics_test.cc
test/kuka_iiwa_gravity_compensated_position_control_test.cc
test/kuka_kuka_iiwa_gravity_compensated_torque_control_test.cc
test/kuka_iiwa_pd_control_test.cc
Im addressing it in the nex

[2016-11-24 17:14] RussTedrake commented on #4250
I'm afraid we're not likely to fix this quickly (because it is in matlab), but rather provide a c++ implementation soon.  Will let @psiorx comment if he sees an easy fix.

[2016-11-24 17:15] RussTedrake commented on #4236
in matlab we have a RigidBodyForce element.  in c++, we'll have a more general way very soon.  I'm afraid that all of our effort is on the c++ code right now.

[2016-11-24 17:15] #4236 closed

[2016-11-25 03:48] RussTedrake opened #4253 "doxygen for systems::System<T> is essentially missing"
it's currently being generated from the forward declaration in `system_port_description.h`

http://drake.mit.edu/doxygen_cxx/classdrake_1_1systems_1_1_system.html

[2016-11-25 09:18] andy-yangz opened #4255 "Windows Binary Installation constructModelmex.mexw64 specified module could not be found."
It seems I met similar problem as #1379. I tried its solution, but it doesn't work.
At first, I downloaded the drake win64 version on my win10 computer, I can run some examples well, like the rimless wheel, however, when I run some examples, it will raise some error like.

    Invalid MEX-file 'C:\Users\Andy\Documents\MATLAB\drake-v0.9.11-win64\drake\systems\plants\constructModelmex.mexw64': The s

[2016-11-25 09:23] RussTedrake commented on #4255
my guess is that, at least for dependency walker, the library directory which contains DrakeRBM.dll, etc is not in your PATH.

[2016-11-25 10:10] andy-yangz commented on #4255
Solved it.
It seems like I saved path in matlab before, so some examples can work well.
However, I make few mistakes in my startup.m file, library directory contain DrakeRBM.dll is not in my PATH.
Now it can work well, some animation can be seen, even it goes crazy quickly.
Thank you very much.

BTW, how to detect problem from dependency walker? it really make me confused.
Now I run dependency wal

[2016-11-25 10:22] RussTedrake commented on #4255
you would have to launch dependency walker with the same path as matlab (e.g. i have instructions somewhere on github for launching it directly from the matlab window).

[2016-11-25 10:22] #4255 closed

[2016-11-25 18:23] RussTedrake commented on #3734
Note that simulink provides a few options:
https://www.mathworks.com/help/simulink/export-runtime-information.html

Blocks which logs signals (which I just implemented) is one of them.  Exporting the data directly from the simulator is another.  I figured it wouldn’t hurt to have the SignalLogger block, as everyone has suggested, which gets me unstuck for now.

[2016-11-26 00:29] weiqiao opened #4258 "'QVTKWidget.h' file not found"
I'm trying to install drake on macOS 10.12. When I ran "make", I always got error: 'QVTKWidget.h' file not found. The header file 'QVTKWidget.h' should be inside the vtk package if vtk was installed correctly. I installed vtk by first running "brew install cartr/qt4/qt" to install qt4 and then running "brew install vtk5". Is it correct? How to fix the error?

Error message:

[ 81%] Performing buil

[2016-11-26 01:13] RussTedrake commented on #4258
per http://drake.mit.edu/homebrew.html , you need to use `brew install vtk5 --with-qt`

[2016-11-26 01:33] weiqiao commented on #4258
When I did "brew install vtk5 --with-qt", I got error even after I reboot the mac:

Error: Operation already in progress for qt
Another active Homebrew process is already using qt.
Please wait for it to finish or terminate it to continue.

[2016-11-26 01:53] RussTedrake commented on #4258
`brew uninstall vtk5` then retry?

[2016-11-26 01:58] weiqiao commented on #4258
I tried uninstalling and reinstalling many times, but it doesn't work.

[2016-11-26 02:22] hongkai-dai commented on #4258
Not sure if it is related, but @patmarion mentioned that the system vtk may be different from the director's version. He recommended me to set the vtk folder by doing
[code]
And then change the VTK_DIR option.

[2016-11-26 02:58] weiqiao commented on #4258
I'm able to build drake by turning off the "director" option before "make".

[2016-11-26 03:06] RussTedrake commented on #4258
that’s good to hear, but you’ll want to have the visualizer soon enough.

i think you should try to resolve the homebrew issue (it’s not director’s fault if you can’t install vtk5 properly on homebrew).  it looks like perhaps you need to zap a lock file, as in: https://github.com/Homebrew/legacy-homebrew/issues/17730 <https://github.com/Homebrew/legacy-homebrew/issues/17730>

[2016-11-26 14:15] RussTedrake opened #4259 "fortran support just broke on mac?"
symptom:
- running cmake fresh on drake-distro right now fails to find a fortran compiler.  (gfortran is still located in /usr/local/bin/gfortran).
- calling cmake with `-DCMAKE_Fortran_COMPILER=/usr/local/bin/gfortran` got farther, but now reports
[code]
(note the missing detected version)
- disabling fortran with `-DDISABLE_FORTRAN=ON` gets me unstuck, but is obviously not ideal.

cause??
- I *b

[2016-11-26 14:18] RussTedrake commented on #4259
N.B. - it looks like DISABLE_FORTRAN is not passed forward to drake?

[2016-11-26 17:24] weiqiao commented on #4258
Hongkai's suggestion works for me. Thanks!

[2016-11-26 18:00] #4258 closed

[2016-11-26 18:26] jwnimmer-tri commented on #4259
I would have blamed #4244, but it didn't merge yet.  It looks like #4143 changed when Fortran was passed.  Maybe #4244 is required for #4143 to be correct?

[2016-11-26 18:46] RussTedrake commented on #4259
Thanks.  I think #4244 will help with the second issue (not passing DISABLE_FORTRAN to drake), but the fundamental problem is that cmake is not able to find a fortran compiler.  I don’t think either of these issues would contribute to that.

[2016-11-26 23:34] RussTedrake opened #4260 "API Design for LQR and Kalman Filters"
There are a number of variants of the linear quadratic regulator and Kalman filter that we want to support in Drake.  This is a quick design doc to discuss the API.  Unfortunately, although LQR and Kalman filters are extremely analogous, their use and the terminology of their variants is a bit inconsistent.  I'd like to make the API as consistent and clear as possible, so I've started a design doc

[2016-11-27 13:18] RussTedrake opened #4262 "Need IsContinuousTimeOnly and IsDiscreteTimeOnly for Context<T>"
IsContinuousTimeOnly should return true iff there is continuous state but no discrete nor modal state.

IsDiscreteTimeOnly should return true iff there is discrete state but no continuous nor modal state.

These will be used, eg, in Linearize/LQR/Kalman/... to justify only examining the Derivatives and making an approximation of xdot, or only discrete analysis.

[2016-11-27 16:04] naveenoid commented on #4220
Getting relevant again in the light of the discussion on Filter/Estimator design

[2016-11-27 20:35] RussTedrake opened #4263 "Xcode generator produces warnings on every linking unit due to a bad library include path"
e.g.

[code]

Indeed, there is no `Debug` subdirectory in `install/lib`.   This was generated by running `cmake -GXcode -DDISABLE_FORTRAN ..`.

I don't see the same warning when running the standard makefile generator.

[2016-11-27 20:44] patmarion commented on #3435
Quick proposal: the call to populatePackageMap() should be removed from the urdf parser.  Instead, an application could manually call populatePackageMap("ROS_PACKAGE_PATH") if it needed to populate a package map with that environment variable, then pass the result to the urdf parser.  This is how Director functions, it populates a package map in its own application specific way, then passes the da

[2016-11-27 20:45] patmarion commented on #3435
Note, drake's examples will still need to call populatePackageMap() in order to maintain their functionality, but at least they would have the option to restrict the search to a specific location (like a path given on the command line).

[2016-11-27 22:27] RussTedrake commented on #1312
i believe that this issue has been resolved in the newer versions of Eigen.  There might still be explicit casts sprinkled through the code (especially in RBT, @amcastro-tri) that could now be removed.  But I think it's safe to close this issue.

[2016-11-27 22:27] #1312 closed

[2016-11-27 22:28] RussTedrake commented on #1476
I think we should merge this with @amcastro-tri's list (and probably close this issue).

[2016-11-27 22:29] RussTedrake commented on #1763
@amcastro-tri has made a first PR on this.  will assign this to him to close when appropriate.

[2016-11-27 22:32] RussTedrake commented on #2043
i think this once is safely resolved.  decision is that the systems classes should support only
`double`, `AutoDiffXd` (to be replaced asap by the chunked version), and `SymbolicExpression`.

[2016-11-27 22:32] #2043 closed

[2016-11-27 22:40] RussTedrake commented on #3975
Pendulum and Acrobot are done.  Quadrotor still has a little purging to do.

[2016-11-27 22:43] RussTedrake opened #4266 "sphinx warning about bazel.rst"
[code]

[2016-11-27 22:44] #2796 closed

[2016-11-27 22:46] #2528 closed

[2016-11-27 22:46] RussTedrake commented on #2519
The LQRTree code in matlab needs updating, but will be matured into c++ implementations soon.

[2016-11-27 22:47] #2519 closed

[2016-11-27 22:48] #1851 closed

[2016-11-27 22:49] RussTedrake commented on #1100
The LQRTree code in matlab needs updating, but will be replaced with a mature c++ implementation soon.

[2016-11-27 22:51] RussTedrake commented on #2881
i believe we have now purged all references to drake002 (searching through the documentation after making it locally confirms this).

[2016-11-27 22:51] #2881 closed

[2016-11-27 22:54] RussTedrake commented on #3571
@seancurtis-tri has updated the instructions recently and seems to have taken on the role of local clion guru.  assigning this to him (possibly to close as “done”)

[2016-11-27 22:56] #3709 closed

[2016-11-27 22:57] #3811 closed

[2016-11-27 22:58] RussTedrake commented on #4133
This discussion simmered.  Will close this for now.

[2016-11-27 22:59] #4133 closed

[2016-11-28 01:03] RussTedrake opened #4267 "Provide gradients of a MathematicalProgram solution"
This came up in a discussion with @hongkai-dai about how to template the RigidBodyPlant dynamics method on AutoDiffXd.  Right now, we cannot, because the call to MathematicalProgram in the middle only makes sense for doubles.

But most mathematical programs have well defined gradients.  We should be able to provide them.  For instance, for the constrained optimization in with f(vdot, q, v) = 0, on

[2016-11-28 02:01] hongkai-dai commented on #3658
I would love to work on this issue, but I think I cannot start until the end of this year, hope nobody is really blocked on this now.

[2016-11-28 02:33] #4253 closed

[2016-11-28 03:35] samkhal commented on #4137
Can you share the specs of the computer it was running on? I don't imagine separating the process would affect this question since I'm benchmarking the control process individually. I'm just curious as to why I'm running an order of magnitude slower than you guys were.

[2016-11-28 04:30] hongkai-dai commented on #4137
Are you compiling in debug mode?

[2016-11-28 05:58] #2850 closed

[2016-11-28 06:01] #3412 closed

[2016-11-28 11:46] liangfok commented on #2940
@hongkai-dai: Just wondering, was this was closed because it was addressed by a recently merged PR?

[2016-11-28 14:02] amcastro-tri commented on #2940
I will reopen this since we still do not have support for transmissions. The plan is that once the RBT templatization is finalized (#3987) I will implement a general framework for constraints that will allow us, among other things, to add transmissions.
The templatization work needs to be over to avoid having to work around template methods or CRTP in RBT.
I will therefore re-open this.

[2016-11-28 14:08] jamiesnape commented on #4263
If I recall correctly, this happens with all projects generated by CMake for Xcode. I will look into it.

[2016-11-28 14:10] amcastro-tri commented on #1763
Thank you @RussTedrake. #3987 is tracking the progress of this work which is exactly the same as proposed at the very beginning of this thread, templating RBT on `<T>`.
I believe then this is a duplicate of #3987 and since #3987 provides a detailed tracking of progress I will close this issue.

[2016-11-28 14:10] #1763 closed

[2016-11-28 14:14] amcastro-tri commented on #1476
This is a great summary @tkoolen. I think, correct me if I am wrong, our long term goal is to provide a fully capable RBT (or its system 2.0 counterpart RigidBodyPlant) in C++ with a thin wrapper around it in Matlab.

[2016-11-28 14:18] jamiesnape commented on #4259
I certainly need #4244 merged quickly. There was really nothing complicated there that needed such deep review.

[2016-11-28 14:19] jamiesnape commented on #4259
Did you configure after updating the compiler? CMake will look at the old location (it resolves symlinks) and that no longer exists.

[2016-11-28 14:22] jamiesnape commented on #4259
#4143 is also unrelated. Your build would have failed before that regardless.

[2016-11-28 14:46] amcastro-tri commented on #4121
@sherm1, the equations above for the angular velocity expressed in different frames seem to be the same? if `q` represents `R_AB` then the first version and the second one is missing a multiply on the right o f the 4x3 matrix by `R_AB`?

[2016-11-28 14:48] jonathan-owens commented on #2410
It seems that this is still happening, as well as with a (I believe) similar error, cell2mat:

https://drake-cdash.csail.mit.edu/viewTest.php?onlyfailed&buildid=218965

[2016-11-28 14:49] jonathan-owens commented on #4243
Again, e.g.: https://drake-cdash.csail.mit.edu/viewBuildError.php?buildid=218322

[2016-11-28 15:04] samkhal commented on #4137
No, my build type is Release.

[2016-11-28 15:09] jamiesnape commented on #4263
From @bradking and @billhoffman, the Xcode generator adds the `-L` flag because unfortunately we have no way to know which `link_directories` are part of the build and which are external. #4245 may help.

[2016-11-28 15:11] liangfok commented on #2410
Normally, I would think that these errors are due to MATLAB toolbox license issues except `num2cell` and `cell2mat` appear to be functions that are part of MATLAB itself (and not part of toolbox)!

[2016-11-28 15:47] RussTedrake commented on #1476
That’s correct.

[2016-11-28 15:52] RussTedrake commented on #4259
this happens even on a clean checkout / build

[2016-11-28 15:52] hongkai-dai commented on #2940
@liangfok I closed it because I think in system 2.0, we will have a more general solution, to handle the general case of position/velocity constraint, instead of hard-coding a transmission constraint as I did in system 1.0

[2016-11-28 15:52] david-german-tri opened #4269 "Introduce an EigenAllocLocker"
From discussion on #4265: it would be useful to have a little utility in `drake/common` that provides an RAII push/pop wrapper around the `EIGEN_RUNTIME_NO_MALLOC` tool, in Debug mode only.

(This is philosophically similar to our long-pending plan to downgrade `dynamic_cast` to `static_cast` in Release mode.)

[2016-11-28 15:54] david-german-tri commented on #4269
Thread safety ought to be a requirement, though, and is kind of hard to achieve.

[2016-11-28 15:58] david-german-tri commented on #4269
Eigen is definitely not providing thread safety: https://eigen.tuxfamily.org/dox/Memory_8h_source.html

[2016-11-28 16:01] jamiesnape commented on #4259
Create this `CMakeLists.txt` in a clean directory and run `cmake`:
[code]
What is the output? You should see something like
[code]

[2016-11-28 16:06] david-german-tri commented on #4269
@jwnimmer-tri points out this would require patching Eigen, since there's no seam to change the behavior of `check_that_malloc_is_allowed`.

[2016-11-28 16:10] liangfok commented on #2940
I see. I suppose even if System 2.0 supports a more general solution, API sugar should be provided to allow one to add mechanical transmissions.

[2016-11-28 16:14] #4266 closed

[2016-11-28 16:27] amcastro-tri opened #4270 "Tracking peformance issues with Valkyrie simulation"
See related issue to Atlas simulation #2287.
This issue is opened to track the evolution of computational cost in the Valkyrie simulation as we fix issues in the dynamics engine.
Related, closed PR #4249 on poor man's caching for RBP.

These times are measured for 1.0 second of simulated time in my P50. Profiling performed with:
 `valgrind --tool=callgrind ./valkyrie_simulation` and visualized wit

[2016-11-28 16:38] naveenoid commented on #4113
Status update : The result of #4107 can easily be merged with `drakeKukaIiwaArmCommon` which in turn can be renamed to `drakeKukaIiwaArm` once issue #3977 is resolved. That is currently blocked by the status of `kuka_plan_runner.cc and `kuka_lcm_visualizer`.

[2016-11-28 16:40] sherm1 commented on #4121
No, the off-diagonal signs are flipped in the lower 3x3 part of the matrix. That's all it takes!

[2016-11-28 17:49] jwnimmer-tri commented on #3231
@liangfok This is high priority, but apparently not getting any attention.  I just rested and it's still broken.  Should we reassign this to @mwoehlke-kitware or are you working on it?

[2016-11-28 18:00] liangfok commented on #3231
I haven't started to work on it yet. I'll go ahead and assign it to @mwoehlke-kitware.

[2016-11-28 18:12] SeanCurtis-TRI commented on #3571
The documentation for this step says:

I'm content that it should be sufficiently clear for mac users.  I'm closing this.

[2016-11-28 18:12] #3571 closed

[2016-11-28 18:22] RussTedrake commented on #4259
interestingly, cmake generation is also failing now on my work laptop (without any changes to homebrew).  so the fortran error happened in drake, not on that one machine.

Running your test file works, and results in:
[code]

[2016-11-28 18:26] jamiesnape commented on #4259
I am having trouble reproducing it. My setup should be pretty similar to yours. Which version of CMake, Xcode, OS X?

[2016-11-28 18:26] mwoehlke-kitware commented on #3231
My guess is this is blocked / fixed by lcm-proj/lcm#143 and corresponding changes to libbot which I believe @wxmerkt was working on...

[2016-11-28 18:27] RussTedrake commented on #4259
osx 10.11.6
30-27-187% cmake --version
cmake version 3.6.0

CMake suite maintained and supported by Kitware (kitware.com/cmake).

30-27-187% clang --version
Apple LLVM version 8.0.0 (clang-800.0.42.1)
Target: x86_64-apple-darwin15.6.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin

[2016-11-28 18:29] wxmerkt commented on #3231
I've tested your fixes and fed back that they didn't work including output for both CMake-LCM and Autoconf-LCM(v1.3-lts), cf. https://github.com/lcm-proj/lcm/pull/143#issuecomment-259695016. I'm not working on it/not blocking it. As far as I can tell it, @patmarion's hunch in https://github.com/lcm-proj/lcm/pull/143#issuecomment-259506700 might have identified the issue that's causing this problem

[2016-11-28 18:29] jamiesnape commented on #4259
I am the same except for using CMake 3.7 and gfortran 6.2. I will downgrade and see if I can reproduce.

[2016-11-28 18:30] jwnimmer-tri commented on #3231
@mwoehlke-kitware I agree that finishing that PR is the answer (and then just bumping Drake's sha).  Could I ask you to help push it through to a resolution?

[2016-11-28 18:38] jamiesnape commented on #4259
The error on your work laptop laptop is identical (warning about the Fortran version, with the detected version missing)?

[2016-11-28 18:39] jamiesnape commented on #4259
Also `make` or `ninja`?

[2016-11-28 18:50] RussTedrake commented on #4259
Him.  Maybe it’s actually particular to the Xcode generator.

[code]

[2016-11-28 18:59] jamiesnape commented on #4259
Can you run the `fortran-test` project from before with `cmake -GXcode`? I am seeing the following:
[code]

[2016-11-28 19:40] jamiesnape commented on #4259
@RussTedrake Can you try #4273 and let me know if it helps?

[2016-11-28 21:29] RussTedrake commented on #4259
The two line CMakeLists.txt also fails with -GXcode:

[code]

that's the same error I was seeing in drake.

[2016-11-28 21:47] RussTedrake opened #4279 "implement a particle filter example"
or at least a particle simulation.  to spike test running many (parallel??) sims.

[2016-11-28 21:48] RussTedrake opened #4280 "implement dynamic programming for a few simple examples"
This is another important, and fairly different use case to spike test the systems classes (the MDP transition matrix will be built by evaluating the dynamics for one step many times).

[2016-11-28 21:50] RussTedrake opened #4281 "implement stochastic systems (even stochastic linear systems)."
another super important spike test for System 2.0.

[2016-11-28 22:49] GitMunF122 commented on #4250
I should probably mention that this error also occurs with the current stable release.

[2016-11-28 22:58] #3397 closed

[2016-11-28 23:08] siyuanfeng-tri commented on #4018
siyuanfeng-tri
Just so that I understand clearly, when you say wrench, you mean [r x f, f], and it doesn't contain a "pure" torque part. The torque is coming from reference point being different from the force is applied?
And we are using spatial force for everything else, which is generally concatenation of some torque and force?

------------------------------------------------------------------

[2016-11-28 23:38] SeanCurtis-TRI commented on #4018
I think there may be a misunderstanding here.  Twan made a comment:

No one is advocating this.  The difference between the `WrenchVector` and `SpatialForce` is that the `WrenchVector` guarantees that the relationship between the torque and the force is `r X f`.  The point `r` is now gone, and it's only meaningful w.r.t. to a particular origin (or as definition 2.13 defines it the origin of coordi

[2016-11-29 00:44] tkoolen commented on #4018
OK, great!

and

For me, r x f is the very definition of torque, so the distinction disappears. A pure torque can *only* arise when there are two or more forces acting at different points in such a way that the sum of the f_i's is zero, but the sum of the (r_i x f_i)'s is nonzero. This is what I meant with https://github.com/RobotLocomotion/drake/pull/3821#issuecomment-254897180 and https://github

[2016-11-29 01:26] jonathan-owens commented on #3429
https://drake-cdash.csail.mit.edu/testDetails.php?test=5050820&build=221987

[2016-11-29 01:43] siyuanfeng-tri commented on #4018
I guess I don't see what the concrete implementation differences between a WrenchVector class and a SpatialForce class would be (i.e. differences between their methods). Could you elaborate on this?

I am more interested in this as well

[2016-11-29 05:51] sherm1 commented on #4018
There are no concrete differences, just as there aren't for any other uses of 6-Vectors in general. The difference is in the interpretation. A wrench results from a system of forces applied at points, that generate moments about some other point. A spatial force is more general in that it may include arbitrary torques of unknown provenance. While one may argue whether pure torques are possible in

[2016-11-29 11:36] liangfok commented on #4034
I just experienced this issue here:
https://drake-jenkins.csail.mit.edu/job/linux-gcc-ninja-experimental/1170/

[2016-11-29 13:17] jonathan-owens commented on #3429
https://drake-cdash.csail.mit.edu/testDetails.php?test=5068729&build=222847

[2016-11-29 13:18] jonathan-owens commented on #4243
https://drake-cdash.csail.mit.edu/viewBuildError.php?buildid=222670

[2016-11-29 14:40] mshalm opened #4287 "HybridTrajectoryOptimization fails for systems with zero inputs"
Recently, when attempting to find limit cycles for a passive, hybrid dynamical system, I cam across an issue with HybridTrajectoryOptimization.m: HybridTrajectoryOptimization.solveTraj assumes that for all modes, the number of inputs is at least one. If you have modes with 0 inputs, you'll get the following error, which is due to the lines starting at 311:

[code]

[2016-11-29 14:49] SeanCurtis-TRI commented on #4018
Just to echo @sherm1.

In the physical world there are no moments without forces being applied at the end of moment arms.  In the simulated world, where we fudge things, there *are* torques without forces.  So, although we're modeling the real world, our model introduces abstractions which only exist in the model.  Our code must reflect the model.

[2016-11-29 14:52] david-german-tri commented on #4262
Why on the System, instead of the Context?

[2016-11-29 16:33] hongkai-dai commented on #4287
As a hack, could you make your system to accept one input, and add a constraint that this input is zero? I am afraid we are not going to fix this MATLAB bug any more, but we are implementing a C++ trajectory optimization framework.

[2016-11-29 16:34] #4287 closed

[2016-11-29 17:18] mshalm commented on #4287
I made a (somewhat sloppy) edit to HybridTrajectoryOptimization.m for personal use so it's no issue to me.

[2016-11-29 17:50] tkoolen commented on #4018
I'd just like to stress that according to definition 2.13, a wrench is not just [tau; f] = [r x f; f] (from the issue description), but **[tau; f] = [sum over i of r_i x f_i; sum over i of f_i]**. The **sum** is what makes it possible to represent a pure torque (where the linear component of the wrench is zero) as a wrench. For example, you could have f_1 = [1; 0; 0], f_2 = [-1; 0; 0], r_1 = [0; 1

[2016-11-29 18:15] liangfok commented on #3429
@SeanCurtis-TRI experienced this here:
https://drake-jenkins.csail.mit.edu/job/linux-gcc-experimental-ros/1293/console

[2016-11-29 18:40] amcastro-tri opened #4291 "RigidBody::body_index_ is not a good unique identifier in RBT"
`RigidBody::body_index_` changes with calls to `compile()` or more specifically `RBT::SortTree()`. We need a unique identifier for `RigidBody`'s to, for instance, reference them properly in the `KinematicsCache` without creating undesired circular dependencies ([see comment here](https://github.com/RobotLocomotion/drake/pull/4278#issuecomment-263452646)).
Also we should be able to guarantee the us

[2016-11-29 18:45] liangfok commented on #4291
I can also imagine that the body indices will change when we add and remove parts of a tree (like when we tile in and out different parts of the world based on the player character's location).

I suggest adding a `body_id` that's created and applied in a manner similar to `model_instance_id`.

[2016-11-29 18:51] amcastro-tri commented on #4291
Implementation detail body indices will change, yes. However unique body id's will not. The PR I am working on right now introduces `RigidBodyId` (simply a typedef to int) and `RigidBody::get_id()`.
That change alone is helping me removing dependencies in the cache and also helping with the template madness in RBT.

[2016-11-29 18:54] jwnimmer-tri commented on #4291
FWIW, I think semantic typedefs to PODs are really hard to maintain.  If it's just an `int`, either call it an `int`, or make it a `struct BodyId { int value; }` so that the typechecker helps you.  Having types that look like the typechecker will help but don't are frustrating for maintainers.

[2016-11-29 19:09] edrumwri opened #4294 "Rigid body tests fail on minimal build for rigid bodies without geometries"
Getting test failure message `unusable_model.cc:9 in updateModel(): assertion 'Compile Drake with a collision library backend for collision support!' failed.` in runge_kutta3_integrator_test.cc on minimal build _even though that test uses a rigid body without geometry_.

Per @SeanCurtis-TRI, there is currently no means for RigidBodyPlant to query whether it contains any geometry (which could be us

[2016-11-29 19:36] SeanCurtis-TRI commented on #4294
Problem
======
The problem here is a chain of events:

   1) Minimal builds exclude bullet.
   2) Exclusion of bullet means the `RigidBodyTree` has an `UnusableModel` for its collision model.  All invocations of this model invoke `DRAKE_ABORT`.
   3) Computing the time derivatives of a `RigidBodyPlant` will compute contact forces which, in turn, invoke a method on the `UnusableModel`.

So, even if

[2016-11-29 19:38] sherm1 commented on #4291
I agree with @jwnimmer-tri that type-safe integers should be used rather than plain typedefs. I would also distinguish general Ids ("handles") from those that are suitable for use as indexes (i.e. they are guaranteed to be small integers in a range 0..n-1 or whatever).

If we use them, type safe integers should be standardized since we are likely to need lots of them. Ideally they have an implicit

[2016-11-29 19:53] jwnimmer-tri commented on #4294
Another option would be to add some collision engine (whether bullet, hand-written, xor FCL, whatever) into the "minimal" configuration.

[2016-11-29 20:26] david-german-tri commented on #4262
Updated description from f2f.

[2016-11-29 21:09] edrumwri opened #4299 "Change simulator to use an error controlled integrator by default"
Following up on PR #4033, we now want an error controlled integrator to be the default type in Simulator.

For this to be possible we need defaults or heuristics for
- accuracy
- initial step size
- maximum step size
- minimum step size

so that a non-expert user can just create a Simulator and run it (as they are doing today with the fixed step integrators). Even if the variable step methods aren

[2016-11-29 23:16] hongkai-dai commented on #4137
When you time the control cycle, do you include the simulation time, or only solving the QP?

[2016-11-29 23:33] SeanCurtis-TRI opened #4302 "RigidBody::collision_element_groups_ zombie code to be removed"
I've got some code in C++ that appears to *not* be used and is cluttering up the place.

Specifically, it is the concept of "collision element groups".  It is important to note these groups are *not* the collision filter groups defined in a URDF file.  These are a *different* set of groups.

The documentation for the underlying member is as follows:

This map is almost *unused* in the C++ code.  T

[2016-11-30 02:38] patmarion commented on #4302
Yes, this API is used for getting named contact points, for example the toe and heel points of our walking robots.  We store contact point information in URDF files by defining zero radius spheres under named collision groups.  Perhaps that's a weird convention, but that's how we do it right now :)

There are downstream projects using this API from C++ and Python.  There is also Matlab code, but p

[2016-11-30 02:40] jwnimmer-tri commented on #4302
@patmarion I can see that this part of the RBT API is exported through the pydrake rbtree.i wrapper, but I didn't immediately find any RobotLocomotion search hits for python code that is calling it.  Do you have a link or two with sample call sites?

[2016-11-30 02:48] patmarion commented on #4302
Here's a C++ example in the Atlas fall detector:

https://github.com/openhumanoids/oh-distro/blob/master/software/control/src/AtlasFallDetector.cpp#L161

And here's a Python example in the pydrake IK server:

https://github.com/RobotLocomotion/director/blob/master/src/python/director/pydrakeik.py#L348

Both of these call sites are covered by the openhumanoids dashboard, but note that openhumanoids

[2016-11-30 02:57] jwnimmer-tri commented on #4302
Yup, I see it in the IK server now at least.  Thanks!

[2016-11-30 03:20] jwnimmer-tri commented on #3973
Apparently my #4292 magic phrase didn't auto-close this, but this issue is resolved now.

[2016-11-30 03:20] #3973 closed

[2016-11-30 03:27] liangfok commented on #3973
Looks like the magic phrase only works when it's in the OP.

[2016-11-30 03:36] jwnimmer-tri commented on #3977
It looks like only `kuka_lcm_visualizer.cc` remains to be purged (at which point `kuka_simulation` can go away also), is that correct?

[2016-11-30 03:37] jwnimmer-tri opened #4305 "Remove drake/multibody/rigid_body_system1"
_Edit: When originally filed, this title read "Remove rigid_body_plant_system1_test".  Since then, the scope has expanded; see downthread._

Original task: Remove rigid_body_plant_system1_test.  Part of #3960.  We will purge System 1.0 code, so we can't rely on it for this unit test.  I guess we can keep this around until it's the last System 1.0 code remaining, but expect that within a month or s

[2016-11-30 03:43] jwnimmer-tri commented on #2465
I wonder if @rpoyner-tri would be interested in taking a stab at this, and perhaps relating it to TRI python style?

[2016-11-30 06:08] sherm1 commented on #4302
I'm unclear about the implications of these uses. Are there any drake repo uses or unit tests for this code? RigidBodyTree and collision handling are undergoing major remodeling -- this code is unlikely to survive unscathed. What should be done with it?

[2016-11-30 14:16] amcastro-tri opened #4310 "RBT::transformCollisionFrame only used to parse files modifies collision model"
This method is defined [here](https://github.com/RobotLocomotion/drake/blob/master/drake/multibody/rigid_body_tree.h#L184) and it is only used [here](https://github.com/RobotLocomotion/drake/blob/master/drake/multibody/parser_sdf.cc#L600).
In that regard the collision model itself is used as the IR for parsing. That seems like the wrong thing to do to me. That method should probably not even exist

[2016-11-30 14:54] SeanCurtis-TRI commented on #4126
#4272 is merged and solves this problem.

[2016-11-30 14:54] #4126 closed

[2016-11-30 15:00] patmarion commented on #4302
I would propose that you keep the functionality, as it is pretty important and widely used.  If you come up with a better way to provide the functionality, I think downstream user can adapt to the new API.

For most of Drake's history Matlab was the primary interface.  You'll find tons of usage of `getTerrainContactPoints` in Matlab in the drake repo.  But it sounds like most or all of the uses of

[2016-11-30 15:24] rpoyner-tri commented on #2465
Sure.

[2016-11-30 16:21] siyuanfeng-tri commented on #4232
just for the laughs, i removed all the collisions in the urdf except the balls on the feet, and the feet still want to move inward. (the sim is a lot faster) i didn't investigate it much further.

[2016-11-30 16:34] amcastro-tri commented on #4232
@siyuanfeng-tri, Could you share the urdf file you are using?

[2016-11-30 17:05] SeanCurtis-TRI commented on #4310
Thanks @amcastro-tri.  I would've missed this and, yet, is is very important to what I'm currently working on.

This will get addressed as part of my next PR.

[2016-11-30 17:15] SeanCurtis-TRI commented on #4302
This has been helpful.  In the PR I'm currently working on, I'll preserve the current functionality.  However, a better insight into its current/historical usage will allow us to make better decisions going forward.

   1) When this interface is used (i.e., grab collision elements by group name), what does the calling code do with those elements?
   2) Certainly, the C++ doesn't actually *use* the

[2016-11-30 17:20] SeanCurtis-TRI commented on #4305
Good to know; the `RigidBodyPlant` has relied on it to confirm a form of correctness.  The test that currently tests against System1 should be moved and recast to compare against a different authority (probably a hard-coded value.)  The test is related to contact but more fully the domain of dynamics.  I'd recommend either me or @amcastro-tri as assignees; we can fight among ourselves.

[2016-11-30 18:13] sammy-tri commented on #3977
I don't think kuka_simulation is planned for removal...  it's System2.

[2016-11-30 18:15] jwnimmer-tri commented on #3977
Sorry, I meant `iiwa_simulation`.

[2016-11-30 18:27] #4115 closed

[2016-11-30 18:55] Lucy-tri commented on #2410
Undefined function 'num2cell' for input arguments of type 'double' happened here: https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-gcc-continuous-matlab-open-source-debug/236/
I'm not sure which link is best:
https://drake-cdash.csail.mit.edu/index.php?project=Drake&showfilters=1&filtercount=2&showfilters=1&filtercombine=and&field1=label&compare1=61&value1=jenkins-linux-g

[2016-11-30 19:13] hongkai-dai commented on #2410
The error happens in this line

Error in RigidBodyManipulator/adjustCollisionGeometry (line 2374)

[num2cell(find(body_changed))';getLinkName(model,body_changed)];

The reason is that num2cell expect a vector (not a scalar). So previously
after we compile the collision geometry, multiple bodies are changed. Now
for some reason only one body is changed.

On Wed, Nov 30, 2016 at 10:55 AM, Lucy <noti

[2016-11-30 19:51] #4225 closed

[2016-11-30 20:05] mitiguy commented on #4018
The word "wrench" has been used in mechanics for hundreds of years
as a special type of replacement of forces.
Although some modern roboticists use Wrench as a general force/torque,
(per the Ph.D. definition quoted), its classic meaning is more specific.
I am uncomfortable with using Wrench instead of SpatialForce.

Definition from: Chirgwin & Plumpton,
Advanced Theoretical Mechanics:
[In general,

[2016-11-30 20:17] amcastro-tri commented on #4305
Probably @mitiguy can provide analytical solutions to test against with?

[2016-11-30 20:37] Lucy-tri commented on #2410
@hongkai-dai  I looked for possible source code changes, but I didn't see code changes in that build, and no recent code changes in Matlab (the code you mention is in RigidBodyManipulator.m). And the next build passed the test. So I can't understand how the Matlab code could be doing something different than it used to.

[2016-11-30 20:50] RussTedrake opened #4318 "signed/unsigned error caught in xcode (but not in gnu make build!)"
OK.  I think the error is real (and easy to fix).

What's got me confused is why on the same machine, same checkout, my gnu make build is ok, but my xcode build is failing.  Something in the sea of compiler flags is different.

Why didn't the build server trip on this?

[code]

[2016-11-30 20:52] RussTedrake opened #4319 "urdf reference link on drake main sphinx documentation page is broken"

[2016-11-30 21:01] tkoolen commented on #4018
OK, that's a valid argument for having there be a distinction. The original issue description and the subsequent discussion caused some confusion on my part; now I see that's what Sherm meant.

Murray calls that representation a 'wrench along a screw' or 'wrench in screw coordinates' (so a special kind of wrench). But I understand now if you're uncomfortable with that terminology.

[2016-11-30 21:10] Lucy-tri commented on #4034
Failing with snopt: linux-clang-ninja-continuous-debug-pre-drake
Cloning into 'externals/snopt'...
error: could not lock config file /home/ubuntu/workspace/linux-clang-ninja-continuous-debug/.git/modules/externals/snopt/config: File exists
(https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-clang-ninja-continuous-debug/1061/ )

[2016-11-30 21:22] jwnimmer-tri commented on #4318
Is `ccache` or `CCACHE_CPP2` involved?  As it turns out, clang warnings are different depending on whether the source code has been pre-processed yet.

We have also seen where @mwoehlke-kitware has signed-unsigned warnings that we don't; we suspected some kind `-I` vs `-isystem` difference perhaps?  I don't recall if we ever root-caused that one.

[2016-11-30 21:24] SeanCurtis-TRI opened #4321 "Repeated calls to RigidBodyTree::compile can lead to redundant collision cliques"
Problem
======

Collision cliques are created without being aware of the state of the `RigidBodyTree`.  When the logic is invoked (by calling `RigidBodyTree::compile`) it processes collision cliques for *all* bodies.  If `compile` is called multiple times, then for an adjacent pair of `RigidBody` instances, they will be assigned a unique clique identifier each time.

The redundancy is undesirable

[2016-11-30 21:26] jamiesnape commented on #4318
IIRC, Xcode also has its own set of default flags.

[2016-11-30 21:31] jamiesnape commented on #4318
Also, you are using a newer compiler, if the configuration of the machine is the same as the one in #4259.

[2016-11-30 21:48] mwoehlke-kitware commented on #4318
Yeah, that looks almost *exactly* like the sorts of errors I've seen (where *only* I see them). Possible data point: I do use ccache.

[2016-11-30 21:50] jwnimmer-tri commented on #4318
@mwoehlke-kitware Do you have `CCACHE_CPP2=1` set in your environment (you should).

[2016-11-30 21:50] jamiesnape commented on #4318
The compiler is `/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang`.

[2016-11-30 21:51] jamiesnape commented on #4318
Not sure Xcode would use `ccache` in that case.

[2016-11-30 21:54] pvarin commented on #4267
This would be awesome. We're trying to run dircol on the Kuka arm right now, and this would let us use the dircol solver that's already implemented in Drake. cc @kuindersma

[2016-11-30 21:56] mwoehlke-kitware commented on #4318
No. According to the manpage it disables an optimization and "is primarily a debugging option". Can you explain why you believe I should have it set?

[2016-11-30 22:00] jamiesnape commented on #4318
You tend to get errors about unexpanded macros and other craziness when using `clang` and `ccache` together otherwise.

[2016-11-30 22:15] pvarin commented on #4267
Actually, @hongkai-dai, where does this fall on your list of priorities? This is pretty high-pri for Draper project, so let me know if there's anything I can do to help push this through.

[2016-11-30 23:50] SeanCurtis-TRI commented on #3673
@ggould-tri I have a question for you on this.

I'm mucking around in `parser_sdf.cc` and saw this [line](https://github.com/RobotLocomotion/drake/blob/master/drake/multibody/parser_sdf.cc#L610) of code and the corresponding note pointing to this issue.

It appears the logging statement is in the wrong place; it is set to print out if the child body of a joint has a collision element.  If the body

[2016-12-01 02:45] jwnimmer-tri commented on #4034
Again
https://drake-jenkins.csail.mit.edu/job/linux-clang-ninja-experimental-open-source/1166/

[2016-12-01 03:02] RussTedrake opened #4325 "infinite loop simulating discrete systems"
Here's a fun one.
Try evaluating LeafSystem's GetNextSampleTime: https://github.com/RobotLocomotion/drake/blob/master/drake/systems/framework/leaf_system.h#L302

with a period set to 0.015.  At time ~0.165, time stops.  :)  why?
that's timestep 11.  but due to floating point fun, we get:
[code]
since `prev_k != next_k`, therefore `next_k = 11`.  Which is the same time that we started.  And round a

[2016-12-01 03:11] RussTedrake commented on #4325
fwiw... changing to
`const int64_t prev_k = static_cast<int64_t>(floor((offset_time + std::numeric_limits<T>::epsilon())/ period));` resolves it, but I didn't think long about what the right solution is.

[2016-12-01 03:36] RussTedrake commented on #4325
there are some more haunts in there, too.  with that fixed and using a period of 0.001, time keeps moving forward, but my update method gets called less and less frequently:
[code]

[2016-12-01 04:16] RussTedrake commented on #4325
fwiw -- simulating with period .0025 or 0.003 for 3 seconds still gets stuck in an infinite loop using my quick fix.

[2016-12-01 04:18] hongkai-dai commented on #4325
Should the epsilon be multiplied by T?

On Wed, Nov 30, 2016 at 8:16 PM, Russ Tedrake <notifications@github.com>
wrote:

[2016-12-01 04:26] edrumwri commented on #4325
Oooh! A floating point challenge- I accept.

On Wed, Nov 30, 2016 at 8:18 PM, Hongkai Dai <notifications@github.com>
wrote:

[2016-12-01 04:36] hongkai-dai commented on #4267
@pvarin OK, I will try to work on this issue this week.

Drake's dircol solver already works. This issue is to find the gradients of the optimal solution, w.r.t some parameters of the optimization problem. For example, a linear program
[code]
we want to know how the optimal solution `x*` would change, if the parameters `A, b` are changed.

Could you explain why you need this feature?

[2016-12-01 04:45] pvarin commented on #4267
Awesome! Thanks!

We'd like to do some dynamic planning on the Kuka arm, which is a RigidBodyTree that loads it's model from a URDF. I've been following the Pendulum example to try to use Drake's dircol solver, and from what I can tell we need the RigidBodyPlant to be templated for AutoDiff types.

If you have any other ideas on how to accomplish this I'd love to know. Thanks!

[2016-12-01 04:55] hongkai-dai commented on #4267
Hmm, if that is the case, could you just comment out https://github.com/RobotLocomotion/drake/blob/master/drake/multibody/rigid_body_plant/rigid_body_plant.cc#L242~L313, and compute `vdot` directly as
[code]
If you do not hit the joint limits (which you can impose a constraint in your optimization, to see the bounds on each joint is tighter than the joint limits.), then you do not have any constra

[2016-12-01 05:16] sherm1 commented on #4325
Crap. I think I'm to blame for that code. I believe it got promoted from a hack in a test case I wrote.

[2016-12-01 05:45] sherm1 commented on #4325
Using epsilons makes me nervous as being vaguely nondeterministic. Better if the algorithm can be expressed with only large numbers. How about:
[code]
(Sorry, didn't actually try it.)

[2016-12-01 13:45] amcastro-tri commented on #4267
I agree with @hongkai-dai here. One important reason you cannot take gradients in `RigidBodyPlant` is because everything related to collisions only works for double's right now. See the call to [ComputeMaximumDepthCollisionPoints](https://github.com/RobotLocomotion/drake/blob/master/drake/multibody/rigid_body_plant/rigid_body_plant.cc#L465) which you can see [here in the RBT code](https://github.c

[2016-12-01 13:51] liangfok opened #4326 "Add Xacro as build-dependency"
_Edit: This issue was originally titled "Update Drake's version of Xacro"._

In #4218, the HSRb model is not being used in `hsrb_system_factories_test` because it is unable to generate the URDF model of the HSRb due to lack of a modern version of ROS `xacro`. This issue tracks the updating and integration of the latest version of `ROS xacro` with C++ Drake.

[2016-12-01 14:18] amcastro-tri commented on #3673
I agree with @sherm1 solution here. But also, should the user know about the generalized coordinates and their mappings at all? My plan is to provide an API that looks like (or similar variations):

[code]

[2016-12-01 14:19] liangfok commented on #4326
An alternative approach is to use the latest version of ROS `xacro` to generate the URDF and save the URDF into a file that's committed to this repository. I'd prefer local on-demand generation rather than version controlling generated code, but this might be an easier short term solution.

[2016-12-01 14:21] naveenoid opened #4327 "Standardising manipulation example / demo names"
With the KUKA IIWA and Schunk examples getting populated and Toyota HSR on the pipeline, it might make sense to start standardizing on a naming style.

I propose the following

/example/brand-name_robot-name_model-name-or-type<if any>/brand-name_robot-name_demo-name

For instance
/example/kuka_iiwa_arm/kuka_iiwa_passive_control_demo.cc

Opinions?

[2016-12-01 14:26] amcastro-tri opened #4328 "Provide simple API to RBT users"
This is something that has been requested by several people in the past months.
Once the work on templating RBT on `<T>` ( #3987) is done, I'd like to provide a simple API like so:

[code]

Users then don't even need to know the specifics of the context or even the specifics about what generalized coordinates are in use. The user just focus on making physically meaningful questions to the RBT and

[2016-12-01 14:30] amcastro-tri commented on #4328
Notice that in the snippet above I am making the following implicit proposals:
 - Users do not instantiate n `RigidBodyTree` directly but rather instantiate a `RigidBodyPlant` which provides `CreateDefaultContext()`.
- `RigidBodyTree` components such as joints and bodies now would have query methods taking a `Context<T>` by argument (coupling with System 2.0, or actually just its context).

This i

[2016-12-01 14:31] amcastro-tri commented on #3673
I created #4328 to track the development of our multibody engine's API to users.

[2016-12-01 14:36] liangfok commented on #4327
Oops. I just changed all of the HSR demos to be [demo name]_[brand name]_[model_name], per [this comment](https://reviewable.io/reviews/robotlocomotion/drake/4218#-KXoltVB_8WJi_sMDHXd). Either way is OK with me though; I don't strongly favor one over the other.

[2016-12-01 14:36] #4262 closed

[2016-12-01 14:40] naveenoid commented on #4327
I think you can proceed with landing that PR..we can easily make a followup PR with renaming once we finish bike-shedding.. Its just worth considering it as we start supporting more and more commercial robot platforms as opposed to the "traditional" drake (brand)nameless example systems.

[2016-12-01 14:40] liangfok commented on #4327
Thinking about this some more, I think I prefer `[brand name]_[model name]_[demo name]`. I'll go ahead and apply this to the HSRb demo.

[2016-12-01 14:42] jwnimmer-tri commented on #4327
Remember that soon you won't have to repeat the directory name in the program name.  So `/examples/kuka_iiwa_arm/passive_control_demo` will never programmatically conflict with `/examples/hsrb/passive_control_demo`.  If you want to add more to the name for developer readability fine, but nothing in the compilation, test, or release process will force you to uniqueify the basenames.

[2016-12-01 14:43] naveenoid commented on #4327
just nice to have some standard example naming styles..

[2016-12-01 14:50] SeanCurtis-TRI commented on #4305
At the very least, we can bake out the current answers that RBS produces and code them up.  Not necessarily well principled, but very much preserves the exact functionality of the current test.

[2016-12-01 14:52] liangfok commented on #4327
Sorry for the constant changes... for the HSRb's ROS demos. I'm now using `drake_examples_[brand name]_[model name]` as the ROS package name. Then, for the actual files within this package that constitute a demo, I'm just using `[demo name]`.

[2016-12-01 14:57] david-german-tri commented on #4325
I think this is my new favorite Drake bug.  I'm not totally convinced by @sherm1's approach above, since the integrator could legitimately stop within a sliver of a sampling moment, and we wouldn't want to just skip that sample...

I will mull it more in the hopes of PRing a candidate fix before the PST crowd wakes up.

[2016-12-01 14:58] david-german-tri commented on #4325
(Also, this is a prime candidate for TDD.)

[2016-12-01 15:03] david-german-tri commented on #4328
At a high level, this sounds awesome.

At a low level, I'd like to avoid that coupling.  Would it suffice to have a `RigidBodyState<T> : public BasicVector<T>` as the `ContinuousState` in the Context, and then do something like this?

[code]

[2016-12-01 15:09] david-german-tri commented on #4328
Thinking for five more minutes, you probably also need Parameters and some data from the Cache.  So, put more generally: Could we have an accessor on `RigidBodyPlant` that takes a `Context` and returns a struct of const references to just the particular data that's needed to ask questions of RBT components?

[code]

I think this indirection is useful to avoid linking RBT components to the System f

[2016-12-01 15:22] edrumwri commented on #4325
I don't know what TDD is.

Russ, what floating point value is returned by the function in this case?
Is it zero? A (small) negative number?

On Thu, Dec 1, 2016 at 6:58 AM, David German <notifications@github.com>
wrote:

[2016-12-01 15:26] david-german-tri commented on #4325
Test-driven development (which would probably answer your question to Russ...in the process of writing a repro test case myself right now)

[2016-12-01 15:28] amcastro-tri commented on #4328
No, it wouldn't. A method like `RigidBody::get_center_of_mass(of some sort of context)` needs access to the `Cache<T>`, which could simply be wrapping a `KinematicsCache<T>` on a first cut. It'd look something like:
[code]
where `kc_ticket` was intialized by `RBP::CreateDefaultContext()`. That ticket could live in `RBT` and we could query the parent `RBT` for the cache entry, but the above is just

[2016-12-01 15:31] david-german-tri commented on #4328
Makes sense...see my second post above.  https://github.com/RobotLocomotion/drake/issues/4328#issuecomment-264197594

[2016-12-01 15:32] amcastro-tri commented on #4328
Ah! I just see your reply right after I pressed the "Comment" button. Yes, you got it right, I need access to the cache!. Your `RigidBodyFacts<T>` class I think will look much like `Context<T>` and I think it'd be nicer to provide users with a uniform API across Drake. Having users to separately think about `Context<T>` and `RigidBodyFacts<T>` when they are pretty much the same concept seems to co

[2016-12-01 15:33] sammy-tri commented on #4327
I'm for drake/examples/[brand_name]_[model_name] (which I think is just agreement with @liangfok) for the directory name.  I'm not sure I like constantly writing "arm" or "gripper" or whatever.  Do we then get drake/examples/valkyrie_humanoid?  (now that I've written that, I'm not sure we should be too rigid about this.  drake/examples/boston_dynamics_atlas_humanoid doesn't exactly seem like a won

[2016-12-01 15:46] liangfok commented on #4327
I would recommend `drake/examples/nasa_valkyrie_[version]` and `drake_examples/bd_atlas_[version]` (note acronym abbreviation and optional version indicator).

[2016-12-01 16:02] RussTedrake commented on #4325
I believe you can reproduce it by simply changing the sampling time on
https://github.com/RobotLocomotion/drake/blob/master/drake/examples/simple_discrete_time_system.cc

fwiw -- I caught the missed time samples quickly because I was programming/debugging graphically with the matlab plotting tool.

[2016-12-01 16:02] Lucy-tri commented on #2410
Undefined function 'num2cell' for input arguments of type 'double'.
https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-gcc-ninja-nightly-matlab-debug/121/

[2016-12-01 16:03] Lucy-tri commented on #2410
Undefined function 'sub2ind' for input arguments of type 'double'.
https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-gcc-ninja-nightly-matlab-release/194/

[2016-12-01 16:06] david-german-tri commented on #4328
A critical difference (I think) is that it needn't include the whole Cache.  It would be something like:

[code]

Sure, but perhaps we can more naturally fulfill that responsibility with some encapsulation.

[2016-12-01 16:08] edrumwri commented on #4328
So you would have to have a method for every single type of joint that
might be present in the model? If I add a new joint it would have to be
updated?

On Thu, Dec 1, 2016 at 6:26 AM, Alejandro Castro <notifications@github.com>
wrote:

[2016-12-01 16:11] RussTedrake opened #4330 "bool System<T>::has_undeclared_state() ?"
We've talked about this a few times, but I think it's time that we should introduce a method / trait / or some other attribute that can be used to declare systems to have limited implementations.  My draft RandomSource has this property.  But other systems will, too (@manuelli asked for it, driving has asked too).

The implications of having undeclared state are e.g., that (a) we should only use f

[2016-12-01 16:15] SeanCurtis-TRI commented on #4325
I'm going to throw something in.  I *think* there's a simple answer, but given that it isn't what is implemented, I would love for someone to tell me what its problem is. I figured I'd crowd source the analysis.  :)

(I apologize for the interface change.  It's a quick and dirty hacked proof-of-concept.  After a simple test, I was able to confirm that, at least in a simple case, the problem was al

[2016-12-01 16:29] amcastro-tri commented on #4328
@edrumwri, are you referring to `GetRevoluteJointByName()`? the answer would be yes. Of course you can let users also do `dynamic_cast<MyJointType>(GetJointByName());`.

[2016-12-01 16:31] david-german-tri commented on #4325
@SeanCurtis-TRI kudos, that seems right to me.  #4331

[2016-12-01 16:31] amcastro-tri commented on #4328
@david-german-tri. Cleary this needs more discussion (and hence this issue) but another reason to want `Context<T>` (and `Cache<T>`) here is for future improvements to our caching mechanism. Those improvements could make use of our general `Cache<T>` capability while in the `KinematicsCache<T>` world everything is set on stone.

[2016-12-01 16:40] SeanCurtis-TRI commented on #4325
Obviously, we can replace the `while` loop with a single if (based on the assertion that the ceil function can never be off by more than a single step.)

[2016-12-01 16:41] manuelli commented on #4330
In particular my use case is as follows. I often need to write a controller that has lots of "state," i.e. `if` statements and the like, popping off queues of footsteps etc. This is kind of logic is hard to put into what we traditionally think of as state in a system. In order for this to work in a simulation context I need to ensure that this controller is called at times that are always increasi

[2016-12-01 16:48] david-german-tri commented on #4330
@manuelli Have you taken a look at https://github.com/RobotLocomotion/drake/blob/master/drake/examples/simple_discrete_time_system.cc?  Combined with abstract state, I think that approach would meet your needs as described without resorting to hidden state.  (All your substantive work would be in the state update, not in `EvalOutput`.)

[2016-12-01 16:50] liangfok commented on #4328
Instead of:

[code]

In the long term, based on the conversation in #4317, I believe it should take as input some Intermediate Representation:

[code]

In the short term, I think it should just take a `unique_ptr<RigidBodyTree<T>>` as an input parameter, and the `RigidBodyTree<T>` can be instantiated using a parser.

[2016-12-01 16:53] david-german-tri commented on #4328
@liangfok - I agree, and I think that was implied in @amcastro-tri's original post when he called the constructor pseudo-code.

Possibly there should be a factory function `MakeRigidBodyPlant("my_model.sdf")` that handles the parse->IR->constructor, but that's a minor detail.

[2016-12-01 17:08] jwnimmer-tri commented on #4330
I think in my (conceptual) `UndeclaredStateSystem` base class that I use to shell out to third-pary black-box code, I can already do Russ's item (a) by declaring event timing and not declaring any continuously-differentiable state.  So for that, I don't think we need a separate attribute method.

I guess if Russ's item (c) requires something beyond that, we'd need to add a getter.  But wouldn't it

[2016-12-01 17:10] david-german-tri commented on #4325
Uh, looks to me like https://github.com/RobotLocomotion/drake/issues/4325#issuecomment-264070247 is another bug unrelated to the OP, somewhere in `systems/analysis`...digging into that now.

[2016-12-01 17:17] david-german-tri commented on #4325
Suspicious: https://github.com/RobotLocomotion/drake/blob/master/drake/systems/analysis/runge_kutta3_integrator-inl.h#L74

Adding some debug instrumentation to `IntegratorBase<T>::StepOnceAtMost`:

[code]

[2016-12-01 17:19] manuelli commented on #4330
I couldn't find a header file for abstract_state.h but I am guessing it can be any object/struct. The context contains this abstract state. It is passed in as a const to the the `DoEvalDifferenceUpdates` and then I encode what I want to change in the `updates` pointer, is this correct?

Is it possible to just get a pointer/reference to the Abstract state and be able to modify it myself in the `DoE

[2016-12-01 17:36] david-german-tri commented on #4325
Sometimes `max_step_size` is smaller than `update_dt` in `IntegratorBase<T>::StepOnceAtMost`.

[2016-12-01 17:43] david-german-tri commented on #4325
Ah - the default maximum step size in simulator.h is 0.001, so when the update period configured in our system leads to a sampling time that is a multiple of 0.001, there is floating-point instability.

This will happen a lot with a period of 0.001 in particular, but not so much with a period of 0.015.

[2016-12-01 18:04] amcastro-tri commented on #4328
Exaclty right @david-german-tri. @liangfok look at the comment right next to that line that says "This is pseudo-code, in reality we'd use a parser.". The question I am trying to answer here is not about parsers but about how exactly to pass `Context`/`Cache` info to multibody code should it be actual System 2.0 objects or some other proxy.

[2016-12-01 19:02] sherm1 commented on #4328
Sorry I'm late on this -- I was at the dentist! I do like what @amcastro-tri proposed above a lot. We should plan on using the Context as the source of state and cached info for RBtree, and initially stuff the whole kinematics cache there until we can make better use of the new caching capabilities.

[2016-12-01 19:10] liangfok commented on #4328
Sorry, I did not see the pseudo comment above.

Regarding the subsequent API proposal, it appears to assume that there is only one model instance inside the tree. Let's not forget the need for a `model_instance_id` parameter to distinguish between multiple model instances when more than one instance of the same model are in the tree.

[2016-12-01 20:01] SeanCurtis-TRI opened #4333 "SDF Parser and links named "world"."
Problem
======

There appears to be a design inconsistency in the sdf parser.

When parsing a link specification, if the link is named "world", the code throws an exception as seen [here](https://github.com/RobotLocomotion/drake/blob/master/drake/multibody/parser_sdf.cc#L322).  Clearly, drake strongly disallows links named "world".  However, if the link is *not* named "world", a body is instantiat

[2016-12-01 20:37] david-german-tri opened #4335 "IntegratorBase::StepResult seems superfluous"
`StepResult` is the enum return type from `IntegratorBase<T>::StepOnceAtMost` to the `Simulator<T>::StepTo` loop.  The return value is computed as follows:

- The dt constraints (next publish time, next update time, and max step size) are sorted by floating-point comparison.
- The smallest is passed to `DoStepOnceAtMost` as a hard limit on step size.
- If the integrator declines to step that far,

[2016-12-01 21:02] sherm1 commented on #4335
The fundamental motivation for the discrete return values is to avoid making critical simulation decisions based on unreliable floating point math. This will get much worse with witness functions included since the theory requires a "zero crossing" which must be isolated and in fact never actually gets to zero. The goal is to isolate the floating point nastiness to as small a piece of code as poss

[2016-12-01 21:05] david-german-tri commented on #4335
Yes - my point in brief is that we're making decisions based on floating point comparison regardless in `LeafSystem<T>::DoCalcNextUpdateTimeImpl` (self-explanatory) and `IntegratorBase<T>::StepOnceAtMost` (the sort).

[2016-12-01 21:06] liangfok commented on #4333
Looking at the aforementioned extensive comment and the two proposed solutions it mentions, I would go with option (2): "Load collision elements on a separate pass after links and joints were already loaded." Maybe this can be done by switching to [OSRF's SDF parser](https://bitbucket.org/osrf/sdformat) and using the [sdf::SDF](http://osrf-distributions.s3.amazonaws.com/sdformat/api/4.0.0/classsdf

[2016-12-01 21:11] sherm1 opened #4336 "UpdateStatistics call is using the wrong step size"
In `IntegratorBase::StepOnceAtMost()` the `UpdateStatistics` call is being fed the maximum allowable step size rather than the one that was actually taken by `DoStepOnceAtMost()`.

Likely DoStepOnceAtMost() needs to return the step it actually took as well as some kind of status return (took whole step, stopped due to zero crossing, ...). (I wouldn't use the floating point time value return to dec

[2016-12-01 21:19] sherm1 commented on #4330
@manuelli, we haven't yet added the method for updating abstract state variables (we're calling those "mode variables"). As soon as we do (probably a few weeks) you will be able to do exactly what you wanted to do above. There will be an update method that is passed a mutable Context so that you can get write access to your mode variables and modify them safely.

[2016-12-01 21:21] liangfok opened #4337 "Replace Drake's SDF Parser with OSRF's SDF Parser"
# Problem Definition

Drake currently implements its [own SDF parser](https://github.com/RobotLocomotion/drake/blob/2da009a44b91c1ba24d9cf4c89031e2afc6d0931/drake/multibody/parser_sdf.h). Having and maintaining its own parser makes it difficult for Drake to remain in sync with changes in the official SDF specification.

# Action Items

Let's replace this custom parser with [OSRF's SDF parser](http

[2016-12-01 21:24] rdeits commented on #4267
@amcastro-tri I've actually been working on a related problem in my work outside of Drake, where I'm taking the gradients of closest-point computations. I ended up implementing the GJK algorithm for generic types, which makes it easy to autodiff all the way through my collision detection code: https://github.com/rdeits/EnhancedGJK.jl

I imagine this code won't actually be helpful to you, but I'm h

[2016-12-01 21:28] liangfok commented on #4337
#4333 is relevant since its resolution involves some level of work maintaining / fixing the current SDF parser.

[2016-12-01 21:28] SeanCurtis-TRI commented on #4333
By a happy coincidence, that is *exactly* what I'm working on now: deferring registration of collision elements with the collision model until the RBT has been otherwise processed.

The short term solution basically leaves the sdf parser alone.  (Although we have related issues with the urdf parser.)  Which is why I'm doing the fix on the RBT side instead of the parsing side.

[2016-12-01 21:33] edrumwri commented on #4267
Robin, just FYI- I have yet to meet anyone who has coded a numerically
robust GJK implementation. We've had better mileage with v-clip.

On Thu, Dec 1, 2016 at 1:24 PM, Robin Deits <notifications@github.com>
wrote:

[2016-12-01 21:38] sherm1 commented on #4330
@RussTedrake, if we provide active support for unsafe systems I'm worried that it will encourage people to use those rather than to think about how to structure their computations using the tools we provide for high-accuracy simulation of hybrid systems; that is more difficult so I think the default will be that people won't do it. I do think it's a good idea to have a runtime method to convey tha

[2016-12-01 21:44] rdeits commented on #4267
@edrumwri understood, and I haven't even begun to test for numerical robustness. My particular problem is relatively forgiving of errors in individual distance computations, but I am running into issues extracting stable penetration distances when the objects are in collision. Maybe it's time to give V-clip another look...

[2016-12-02 02:32] RussTedrake opened #4339 "set_minimum_step_size > set_maximum_step_size"
I just lost some time frustrated that the simulator was ignoring my request to set the minimum_step_size.  Turns out the maximum_step_size had already been set (by the defaults, not by me), and was smaller than my minimum_step_size.  This failed silently.

[2016-12-02 04:21] sherm1 commented on #4339
Sorry, Russ. The default handling needs some more refinement. It should wait until all the user-requested settings have been made, then set defaults for unspecified parameters based on those. The default max should definitely be larger than a user-set min!

[2016-12-02 04:34] edrumwri commented on #4339
I'm preparing to submit a PR to throw an exception if the maximum step size
is less than the minimum step size when the integrator is initialized.

We've struggled with the issue of setting good defaults for the simulator.
Even with the error controlled integrator, it's not foolproof.

@sherm1- we should use the characteristic time (and other system info) to
help us set the integration parameters

[2016-12-02 11:02] liangfok opened #4342 "Create an Example of Asynchrony Between Controller and Plant"
# Problem Definition

TTBOMK, as of December 2, 2016, all demonstrations of a controller and plant using System 2.0 enforces synchrony between the controller and the plant by co-locating both within a single `drake::systems::Diagram` that's executed by a `drake::systems::Simulator`. While this is useful for certain types of analysis, debugging, and testing, it does not reflect reality where the pl

[2016-12-02 11:11] liangfok opened #4343 "Refine DrakeVisualizer and AutomotiveSimulator to use Remote Tree Viewer Interface"
# Problem Definition

Currently, `drake::systems::DrakeVisualizer` and `drake::automotive::AutomotiveSimulator` loads and updates the Drake Visualizer at the granularity of the _entire_ `RigidBodyTree`. ~As of https://github.com/RobotLocomotion/director/pull/393,~ Drake Visualizer can now update at a granularity of an individual model instance within a `RigidBodyTree` given the introduction of the

[2016-12-02 11:11] liangfok commented on #4343
@patmarion, does the above make sense?

[2016-12-02 13:44] RussTedrake commented on #4342
fwiw - I'm working on examples which run the plant in one exe and the control in another (starting with the acrobot).  but i agree it would be good to figure out how to add these to the testing framework.

[2016-12-02 14:14] patmarion commented on #4343
By the way, the draw update message already has support for updating only individual models, or only individual links.  It will update only the links you put in the message.

I'm not sure how `drake::systems::DrakeVisualizer` can be made aware of which models or links were modified since the last publish.

I think the message already has this information, and it is reflected in the tree in the dra

[2016-12-02 14:46] liangfok commented on #4343
`drake::systems::DrakeVisualizer`'s constructor is provided a `const` reference to a `RigidBodyTree`. If it maintains a local alias of this tree as a class member variable, it can get the `model_instance_id` information, allowing it to distinguish between model instances within the tree.

Each time `drake::systems::DrakeVisualizer::DoPublish()` is called, it is provided with a `drake::systems::Con

[2016-12-02 14:50] jwnimmer-tri commented on #4343
So this is a performance improvement in terms of reducing the breadth of draw updates?  Why do we believe that the breadth of draw messages is the bottleneck is visualizing large scenes?

[2016-12-02 14:55] liangfok commented on #4343
Yes, as of now, this is just a performance improvement. I don't believe it's a bottleneck given the complexity of our current simulations. Maybe it'll become a problem as we scale to more model instances. I'll label this as "priority: backlog" until we determine the breadth of the model instances is causing visualization problems.

The ability to dynamically load and unload model instances may bec

[2016-12-02 15:59] liangfok opened #4344 "Create a System 2.0 ROS Clock Server"
# Problem Definition

When running a simulation that spans both Drake and ROS, it is important that both Drake and ROS processes remain in sync in terms of their notion of time. Currently, Drake's notion of time is stored within a `systems::Context` object whereas ROS' notion of time is dependent on a [ROS Clock Server](http://wiki.ros.org/Clock#Running_a_Clock_Server).

# Action Items

Synchroniz

[2016-12-02 16:47] RussTedrake commented on #4267
Huge number of topics discussed here... almost none of them related to this issue.  :)

@pvarin - you need autodiff for rigidbodyplant.  That is issue #4187 , and is not related to this issue.  @amcastro-tri - we should move your discussion there, too.

[2016-12-02 16:49] RussTedrake commented on #4187
@amcastro-tri asked about autodiff through collision.  Short answer -- getting autodiff for systems that don't have any collision constraints would already be a great start.  We manually specified (approximate) collision gradients before and could do that again.

[2016-12-02 19:47] amcastro-tri commented on #4328
The solution to that is having methods (that we do now) like so:
[code]

[2016-12-02 19:57] Lucy-tri commented on #2410
It's true that a problem with Matlab (licensing?) can result in undefined functions, but then there will be dozens of such failures, as in this build which as 62 failures:  https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-gcc-ninja-continuous-matlab-open-source-debug/238/
Is it possible to have a Matlab licensing failure just for a second or so?

[2016-12-02 20:00] jwnimmer-tri commented on #2410
Yes, sure.

[2016-12-02 21:21] edrumwri commented on #4339
Fixed with PR #4341.

[2016-12-02 21:21] #4339 closed

[2016-12-02 21:23] hongkai-dai commented on #3773
@RussTedrake , do you need C++ Drake for your class next semester? If so, we will probably need to bring SCS into Drake, as a non-commercial solver for the students.

[2016-12-02 21:31] jwnimmer-tri commented on #3414
Was this close intentional?  There's a bunch of non-forwarding-methods still left in drakeGeometryUtil.  Should we just delete them?

[2016-12-02 21:35] hongkai-dai commented on #3414
@jwnimmer-tri you are right. I thought many of these functions can be replaced by using AutoDiffScalar, but we have not implemented the template version with AutoDiffScalar yet.

[2016-12-02 23:28] SeanCurtis-TRI opened #4348 "Treatment of non-moving ("static") geometry in Drake"
Problem
======

There are several advantages in being able to partition the geometry (collision/visual/whatever) in the simulation between those that *can* move and those that *can't*.  There are a number of issues to resolve here.

1) While non-moving geometry is typically referred to as "static" in the literature, from a code-base perspective it is a nightmare.  The word "static" is horribly ove

[2016-12-02 23:40] david-german-tri commented on #4348
I don't have anything to add; I think this is spot-on.  Although you didn't stick to your nomenclature in (3).  ;-)

[2016-12-02 23:55] SeanCurtis-TRI commented on #4348
Edited in place; sorry it makes your comment look outdated. :)

[2016-12-03 00:03] SeanCurtis-TRI commented on #4302
NOTE: This was introduced due to issue #3732 and added with PR #3830.

[2016-12-03 14:09] liangfok opened #4351 "Linker Error Involving RigidBodyTree<double>::transformQDotMappingToVelocityMapping"
# The Error

Using OSX 10.11.6, `clang` version Apple LLVM version 7.3.0 (clang-703.0.29), and SHA cf90c22718c3740617c9702686f28389c692f8f4:

[code]
So far, I've tried doing a clean build, which did not resolve the problem.

[2016-12-03 14:25] RussTedrake opened #4352 "refactor CreateDefaultContext"
Currently `System<T>::CreateDefaultContext()` does a few things:
- Allocates memory (which also defines the derived types of the context elements, e.g. AcrobotState)
- Sets the state to the default values.
- Sets the parameters to the default values.

For many applications, I think we need to be able to call these individually.  For instance, I need to be able to get the default state values witho

[2016-12-03 14:32] RussTedrake commented on #4352
fwiw - I'm also planning to add `System<T>::SetRandomState(Context*, std::RandomNumberEngine*)` which, by default, sets the default state + some Gaussian random numbers, and `System<T>::SetRandomParameters(Context*, std::RandomNumberEngine*)` which, by default, sets the default parameters + some Uniform random numbers.

[2016-12-03 14:51] jwnimmer-tri commented on #4352
My understanding is that Alllocate is only _supposed_ to be the first part (reserving memory and subtypes), and something like #4191 is supposed to establish the defaults.  PRs have been defected that they rely on "CreateDefaultContext"'s established values to set up `t=0` values for simulation.

[2016-12-03 15:18] liangfok commented on #4351
This error is not reproducible on an Ubuntu 16.04 machine.

[2016-12-03 16:02] patmarion commented on #4302
#3830 made the Python API match the Matlab API.  The `getTerrainContactPoints` function has been in C++ since #901 perhaps?  And the `RigidBody::collision_element_groups_` member has been around even longer, probably since the first implementation of collision elements in c++.

For example, I may ask for the heel and toe contact points for each foot in order to determine the shape of the support p

[2016-12-03 20:24] RussTedrake commented on #4352
@jwnimmer-tri - Agreed on Allocate.  But the term CreateDefault implies more.  It sounds like you support the propsal.

[2016-12-03 20:29] sherm1 commented on #4352
I think it is appropriate that the default context contain user-specified default values for state & parameters.  That allows for immediate simulation with a new Context and makes for nice examples. In the RAII spirit the Allocate methods do need to set *some* defaults though. If we have separate SetDefault methods, the Allocate methods could end by invoking the corresponding SetDefault.

But if y

[2016-12-03 20:37] tarquasso opened #4354 "Drake submodules when using git-worktree: error-prone admin area configuration"
The .git-admin directories of all drake submodules are within the submodules, but not at the main repository level. According to SmartGit, this is an "error-prone admin area configuration".

To be specific, when I add an additional worktree to my drake-distro, my git IDE SmartGit (http://www.syntevo.com/smartgit/) displays the following error in regards to 23 of the drake submodules:

[code]

It t

[2016-12-03 21:05] RussTedrake commented on #4352
I think having the default values typed in twice is incorrect.  So allocatecontext should only (need to) allocate.  And because those default values need to be obtainable without allocation, i think we have to pull them out.

Allowing people the possibility of setting default values in a override on creatdefaultcontext would only lead to misuse.

[2016-12-03 23:02] rdeits commented on #4302
@patmarion yes, you're exactly right about removing the other collision groups being done to speed up simulation.

[2016-12-03 23:18] sherm1 commented on #4352
Me too. I wasn't proposing that. After allocation there will be numbers occupying the allocated memory. I don't think they should be garbage but they could be NaNs or zeroes. I was suggesting that since you propose a method for computing the default values, the allocation methods could call that method when they are finished (automatically, not at user discretion).

That doesn't appear to match yo

[2016-12-03 23:46] liangfok opened #4355 "schunk_wsg_50.sdf is Referencing gazebo.material"
# Problem Definition

The model for the Schunk gripper (`drake-distro/drake/examples/schunk_gripper/models/schunk_gripper.sdf`) is referencing `file://media/materials/scripts/gazebo.material`. There are two problems with this:

1. This file does not exist on machines that do not have the Gazebo simulator installed. This is possible since Gazebo is not a dependency of Drake.
2. The current SDF pars

[2016-12-03 23:50] RussTedrake commented on #4355
Can you explain why this is actually a problem.  What's wrong with us simply ignoring the tag (which, as far as I know, is the correct behavior for unsupported tags given the xml standard)

[2016-12-03 23:52] liangfok commented on #4355
The visualization will be wrong, which may become a problem when we start to simulate cameras that need to see the gripper and the objects being gripped.

[2016-12-04 00:36] RussTedrake commented on #4351
i'm seeing it, too.  as far as I'm concerned, master is broken.  we need to figure out why the build servers aren't catching it.
[code]

[2016-12-04 00:46] liangfok commented on #4354
This is the first time I've heard of this issue. I'm wondering if @mwoehlke-kitware has an opinion since I believe he set up Drake's git submodules (apologies if I'm wrong).

[2016-12-04 00:50] liangfok commented on #4351
Looks like the build servers _did_ catch the error, but that it started to occur after everyone left the office on Friday (first error detected around 6:45pm Friday evening):

https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/

[2016-12-04 00:51] liangfok commented on #4351
I wonder if OSX should be made pre-merge again? Here's why we disabled it originally: #2793.

[2016-12-04 01:40] #4351 closed

[2016-12-04 12:22] RussTedrake commented on #4325
simulating with timestep 0.001 for 2 seconds still results in my system being called only twice.

[2016-12-04 18:53] RussTedrake opened #4359 "Mysterious sample times"
This is potentially related to #4325 (which was reopened because the sensitivity to floating point errors persists), but i'm opening this issue to address a bigger API question about sample times.

In the unit tests in #4358, I'm registering two systems: a random source which declares a periodic update at 0.0025, an output port with discrete sampling, and a signal logger which declares it's input

[2016-12-04 19:19] edrumwri commented on #4325
Several of us that worked on issue #4325 were worried that it wasn't going
to address this second problem you experienced. I expected and continue to
expect to encounter further bugs as we continue to stress the simulator.

On Sun, Dec 4, 2016 at 4:22 AM, Russ Tedrake <notifications@github.com>
wrote:

[2016-12-04 21:23] RussTedrake opened #4361 "std::normal_distribution produces different numbers on mac clang vs ubuntu"
Based on quick testing in #4358, it appears that the uniform distribution produces consistent results across the platforms, but that I'm seeing different results from std::normal_distribution on mac and linux (the linux builds are all consistent with each other though).

That would be consistent with the observation reported here:
http://stackoverflow.com/questions/34903356/c11-random-number-distr

[2016-12-05 03:01] sherm1 opened #4364 "Implement caching in System 2"
The preliminaries of the caching system are present in System 2 but the internals are not yet functional. Per discussion with David and Russ (see #4127) I will implement the all-pull architecture. I will attempt to do this in a series of smallish narrowly-focused PRs. Here is some background and an initial implementation plan. A more extensive design document is [here](https://docs.google.com/a/tr

[2016-12-05 03:03] sherm1 commented on #4127
Per discussion with David and Russ I am going to tackle this implementation. Please see #4364 for plan and status updates.

[2016-12-05 03:59] liangfok commented on #4034
Again: https://drake-jenkins.csail.mit.edu/job/linux-gcc-ninja-experimental/1365/console

[2016-12-05 11:10] liangfok commented on #4034
Again: https://drake-jenkins.csail.mit.edu/job/linux-gcc-ninja-experimental/1368/console

[2016-12-05 12:02] liangfok commented on #4355
I'm now beginning to recall that @ggould-tri may have created this model by hand using Gazebo's model editor, which may explain why Gazebo's material scripts are being referenced. In this case, it would be nice if Drake's SDF parser could be made compatible with the SDFs outputted by Gazebo's model editor.

[2016-12-05 13:57] liangfok commented on #4034
Again: https://drake-jenkins.csail.mit.edu/job/linux-gcc-ninja-experimental/1372/

[2016-12-05 14:35] ggould-tri commented on #4355
Your recollection is correct.

The Gazebo model editor is the only gui SDF editor that I am aware of, so I think supporting it is pretty much mandatory for any wide adoption of Drake as a general-purpose tool.  That said, it's painful to use, unpredictable in effect, and as you note highly idiomatic in its output.  Probably getting a reliable and pleasant gui for SDF should be on Drake's product r

[2016-12-05 14:48] SeanCurtis-TRI commented on #4302
When a `RigidBodyTree` is "finalized" (via calling the `compile` method), one of the actions it takes is to compute and cache the "contact points" per body.  It does this by calling the so-called `getTerrainContactPoints` method.  However, it does so without passing any specific parameter for "group name", which means the body's contact points are initialized without regard to group names.  It con

[2016-12-05 15:05] SeanCurtis-TRI commented on #4348
Additional Topics
=============

SDF
------
The SDF file format supports flagging a `model` as being static.  The tag is assigned to the root `model` tag.  However, an arbitrary construction of `link`s and `joints` can be hung underneath that `model`.  The assumption is that if this is the case, all joints should be replaced (at parse time) with equivalent *fixed* joints such that the entire sub-t

[2016-12-05 15:12] david-german-tri commented on #4351
Yep.  For the archives, the failure appears here, and is fixed in the next build: https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/mac-clang-continuous-release/1181/

I'd argue against.  Episodes like this one are rare, and the OS X builders were unreliable in part because pre-merge builds were overloading them.

[2016-12-05 15:20] david-german-tri commented on #4325
I can't reproduce this.  Are we still talking about `simple_discrete_time_system.cc` (https://github.com/RobotLocomotion/drake/issues/4325#issuecomment-264213109)?

[2016-12-05 15:37] patmarion commented on #4302
I'm not sure the history of it.  It seems possible that those points used to be assumed to be terrain contact points, and then someone added the concept of groups, and now those points include non-terrain contact points and old code is making a false assumption.  I just asked @manuelli and he thinks they do not use the get_contact_points() method in the controller right now.

[2016-12-05 15:44] Lucy-tri commented on #3752
Here is another example:
https://drake-cdash.csail.mit.edu/viewBuildError.php?buildid=235736

[2016-12-05 16:45] david-german-tri commented on #4359
When I patch your branch onto master, I can't reproduce the numbers you gave above.  I get:

[code]
and so on...

[2016-12-05 16:51] liangfok opened #4371 "DiagramBuilder's ExportInput() and ExportOutput() Methods Do Not Provide Port Number Information"
# Problem Definition

When constructing a `Diagram` that exports more than one input and/or output ports, it is often necessary to know the index of a particular port. This is currently not possible because `drake::systems::DiagramBuilder::ExportInput()` and `drake::systems::DiagramBuilder::ExportOutput()` do not tell the calling code the indices of the ports that were just exported.

In #4296, th

[2016-12-05 16:53] david-german-tri commented on #4371
Good point!  The fix SGTM, feel free to PR it (or I'll get to it eventually)

[2016-12-05 16:54] liangfok commented on #4371
OK thanks. Will do.

[2016-12-05 16:54] david-german-tri commented on #4359
Contrary to earlier post, I _can_ reproduce this one.  Investigating now.

[2016-12-05 17:03] david-german-tri commented on #4359
OK, I see what's going on.

[code]

I agree this probably isn't what we want.  If the simulator is to publish after every step, it should publish after _every_ step, not just the ones that hit the max step size.

[2016-12-05 17:21] Lucy-tri commented on #3429
https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-gcc-nightly-matlab-ros/130/console

[2016-12-05 17:26] sherm1 commented on #4359
It looks as though the current event-detecting algorithm doesn't yet handle simulataneous events correctly. When update & publish occur at the same time (to be determined unambiguously by the integrator), the update should be performed followed by the publish call. This will be a good warm up for zero crossing-triggered events which also have the possibility of occurring simultaneously with update

[2016-12-05 17:29] edrumwri commented on #4359
Gotcha

On Mon, Dec 5, 2016 at 9:26 AM Michael Sherman <notifications@github.com>
wrote:

[2016-12-05 17:31] david-german-tri commented on #4359
OK, #4372 will give you publishes at `0.001, 0.002, 0.0025, 0.0035, 0.0045, 0.005, 0.006..`.  It will also enable you to register your own Publish frequency in SignalLogger with `DeclarePublishPeriodSec`, and turn off per-timestep publishing, if you strictly want 400Hz publishes.

[2016-12-05 17:59] david-german-tri commented on #4359
`System<T>::CalcNextUpdateTime` may return an update time that invokes discrete updates, publishes, or both, but it can't return update and publish events that have different times.  So, the logic to distinguish update and publish times in the Integrator was redundant and #4372 proposes to remove it.

[2016-12-05 18:01] david-german-tri commented on #4359
(Ignore my comment above, see discussion on #4372)

[2016-12-05 18:33] RussTedrake commented on #4359
Thanks David.  That at least makes sense.  But I would think that if there is no continuous state in the system then the integrator should not do any updates in between the registered discrete events.   Right?

[2016-12-05 18:35] Lucy-tri commented on #3752
https://drake-cdash.csail.mit.edu/viewBuildError.php?buildid=236267
https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/mac-clang-ninja-continuous-debug/993/

[2016-12-05 18:38] david-german-tri commented on #4359
That sounds reasonable to me, but the Simulator doesn't do any such check for continuous state right now.  I think that's a separate PR from #4372, and one I'm inclined to leave to @sherm1 and/or @edrumwri if that's OK?

[2016-12-05 20:25] sherm1 opened #4373 "System 2 state variable name changes: Modal -> Abstract, Difference -> Discrete"
Per f2f with @RussTedrake (and general agreement) let's clean up the naming of state variables to use:
- Continuous (numerical, governed by differential equations)
- Discrete (numerical, governed by difference equations)
- Abstract (general type, general update scheme)

The second two replace Difference and Modal, resp. I'm making this high priority since it will require API changes. Existing docu

[2016-12-05 20:55] jwnimmer-tri commented on #4361
I guess the way I think about it is the best way to minimize effort to reach the end goal.  Having platform-varying behavior is probably a meaningful cost, but so is writing and/or optimizing our own normal distribution.

Would it make sense to write the code in terms of a Drake normal distribution, but for now have it call the system C++11 normal distribution?  If that mostly works, it seems like

[2016-12-05 21:35] liangfok commented on #3429
Again: https://drake-jenkins.csail.mit.edu/job/linux-gcc-continuous-ros-debug/722/console

[2016-12-05 23:42] #4359 closed

[2016-12-06 00:08] RussTedrake opened #4376 "simulator should not evaluate at the continuous sampling intervals (as defined by the integrator) if there is no continuous state"
follow-up from #4359.  discussed f2f w/ @sherm1 @david-german-tri et al.

for example, in the current implementation, if I added a DoPublish to https://github.com/RobotLocomotion/drake/blob/0ae4b48/drake/examples/simple_discrete_time_system.cc , it would get called at every 0.001sec (because that's the default integrator timestep), when it should only be called every 1sec.

EDIT (eric): Estimated

[2016-12-06 00:17] RussTedrake opened #4377 "Design discussion: Sample Times in System 2.0"
See [this google doc](https://docs.google.com/document/d/1NRg5E1ziZ27nnOCppZ7m-E3lXFE6a84IN-QCzlVJTo4) for my current understanding.  Let's iterate and implement.

[2016-12-06 00:44] liangfok commented on #3429
Again: https://drake-jenkins.csail.mit.edu/job/linux-gcc-experimental-ros/1522/

[2016-12-06 01:22] RussTedrake commented on #4351
plus, the mac developers are powerful and able to resolve strange errors in a single bound (even on a friday night).

[2016-12-06 02:49] amcastro-tri opened #4380 "RBT: Transition from template methods (templated on `Scalar`) to class methods (templated on `T`)"
Templating RBT on `T` (#3987) will require the transition form template methods on a template parameter `Scalar` (which can be different from the class parameter `T`) to class method templated on the class parameter `T`.

## The Current State of the Code

Consider  as an example the work for `doKinematics()` and the simplified snippet below:
[code]

Until now the parametrization on `T` has been du

[2016-12-06 03:11] amcastro-tri opened #4381 "Explicit instantiation of RBT on scalar types other than double class with collision queries"
Consider the simplified snippet below (see [here](https://github.com/RobotLocomotion/drake/blob/master/drake/multibody/rigid_body_tree.cc#L755) for an actual collision query):
[code]

The resolution of #3987 will require the explicit instantiation of `RBT` on a variety of scalar types (similarly to System 2.0 components).
However, the fact that cache entries are referenced by `RigidBody<double>*`

[2016-12-06 06:56] samkhal commented on #4137
I'm not including simulation; I'm just timing the function `InstantaneousQPController.updateAndOutput`.

The timing code is already there; I'm just unsuppressing output by setting `quiet = false` in `BipedPlanEvalAndControlSystem.m`

[2016-12-06 11:51] liangfok opened #4383 "Python-based Unit Tests Continue to Run Despite C++ Build Error"
When a C++ build fails, the Python-based unit tests are still being run. This results in the confusing GUI shown below.

![screen shot 2016-12-06 at 6 49 02 am](https://cloud.githubusercontent.com/assets/1388098/20924596/3c80423c-bb80-11e6-8907-baa74972ad5e.png)

When we click on a unit test, we see:

[code]

To get the actual error, we need to check the full console log, which in this case is:

[

[2016-12-06 13:25] RussTedrake opened #4385 "SetDefaultState(Context*) should be SetDefaultState(const Context&, State*)"
same for SetDefaultParameters()

requires a little implementation work to deal with diagrams.  this is a followup to the discussion here:
https://reviewable.io/reviews/robotlocomotion/drake/4357#-KYEg0EsZ88XJCHnJgVB

[2016-12-06 14:13] liangfok commented on #4034
Again: https://drake-jenkins.csail.mit.edu/job/linux-gcc-ninja-experimental/1431/

[2016-12-06 14:43] jamiesnape commented on #4034
We have enough information now and are trying to reproduce. Post if there is a failure that is not Linux and Ninja.

[2016-12-06 15:07] david-german-tri opened #4387 "Add LeafSystem<T>::GetMutableNumericParameter"
From #4357

[2016-12-06 15:08] SeanCurtis-TRI opened #4388 "Enumerate Geometry dependencies"
GeometryWorld (or whatever it will eventually be called) is coming.  In short, this is the encapsulation with all things geometric; the data and operations on it.  This will allow us to integrate disparate systems which share underlying geometry (e.g., the static world.)  It will also allow us to simulate sensors on worlds where moving geometry is being driven by different systems (e.g., a dynamic

[2016-12-06 15:45] david-german-tri commented on #4383
@liangfok could you provide a link to the instance in your screenshot?

I agree this is annoying, but I don't have a sense of how hard it would be to resolve.  Could some Kitware folks weigh in?

[2016-12-06 15:51] liangfok commented on #4383
@david-german-tri: Yes, here are some examples:

* https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-clang-continuous-debug/1336/
* https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-clang-continuous-debug/1335/
* https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-clang-continuous-open-source-debug/286/
* https://drake-jenkin

[2016-12-06 15:54] david-german-tri commented on #4388
As we've previously discussed f2f, I think renderers generally (including but not limited to `DrakeVisualizer`) just need to be able to obtain a pose (and eventually derivatives of pose) per object/model-instance.

[2016-12-06 16:01] mwoehlke-kitware commented on #4383
...why doesn't the build error show up as an *error*?

[2016-12-06 16:06] RussTedrake commented on #4383
agreed.  the non-reporting of the build errors are the bigger problem.  i'm going to bump the priority.

[2016-12-06 17:53] #4352 closed

[2016-12-06 17:53] #4191 closed

[2016-12-06 18:18] jwnimmer-tri commented on #4388
A slightly different use case is for something like an oracular object-level (aka target-level) sensor.  For that System, it will take as input the poses (and eventually derivatives of pose) of geometry, and produce a output that represents the body-relative position of (and eventually derivatives of position) the geometry with respect to the sensor's pose.  However, I believe that any solution th

[2016-12-06 18:30] SeanCurtis-TRI commented on #4388
@jwnimmer-tri This case doesn't seem sufficiently detailed.  It implies that the sensor has access to the geometry (and the intent of `GeometryWorld` is that such is not the case.)  Secondly, the scenario you've described suggests the point is to "position" geometry.  Surely, that's the first step of an actual query?  Once positioned, then what?  I suspect that the case you have formulating in you

[2016-12-06 18:59] david-german-tri commented on #4383
Wait, so Drake build errors don't show up in CDash at all anymore?  I agree with `priority: high` in that case!

[2016-12-06 19:34] mwoehlke-kitware commented on #4383
That would be horrible... but it seems only a few builds are affected. I can't reproduce so far, and we've obviously had failing builds recently... for example, [linux-gcc-ninja-continuous-release/1053](https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-gcc-ninja-continuous-release/1053/) seems to have the exact same error, and was built at almost the same time and probably

[2016-12-06 19:41] liangfok commented on #4383
Yeah, the problem appears to be transient, though I'm noticing it happen more frequently recently. I'll update this issue as I encounter it.

[2016-12-06 19:45] mwoehlke-kitware commented on #4383
Please note also if you see it happening on builds that are not linux+make+clang+debug...

This is really screwy; `make` *clearly* failed, but somehow the failure disappeared between when `make` bailed out of a few levels of build tree and the `ctest_build(...)` that invoked `make` in the first place.

[2016-12-06 20:35] jwnimmer-tri commented on #3977
Is there anything I can do to help `kuka_lcm_visualizer` go away?  Is it just a matter of rm'ing in a PR, or is it under active use?

[2016-12-06 20:37] jwnimmer-tri commented on #3975
@RussTedrake Any timeline on Quadrotor purging / porting?  I can just `rm` and "git remembers" if we want (possibly with a README with the last sha or something)?

[2016-12-06 20:37] jwnimmer-tri commented on #3975
Ah.  Is this just a duplicate of #3994 now?

[2016-12-06 20:39] jwnimmer-tri commented on #3979
@liangfok It seems like with the HSR ROS demos coming online, that's a good example of System 2.0 use within ROS.  What's a smart plan for removing System 1.0 support from ROS demos?  Do we need to port any more code, or can we just remove anything that depends on System 1.0?

[2016-12-06 20:48] Lucy-tri commented on #3787
@siyuanfeng-tri I see you have implemented a Pchip interpolation method in piecewise_polynomial.cc (in PR #4334 in progress).  We have been wanting to finish dircol_trajectory_optimization.cc by using a Pchip method in ReconstructStateTrajectory().  If you look in DircolTrajectoryOptimization.m, the call to pchipDeriv() (which is in pchipDeriv.m).  It's like your spline() function, but takes the d

[2016-12-06 20:48] liangfok commented on #3979
I will purge all remaining System 1.0 code and rely on Git history for reference as I port the System 1.0 code to System 2.0. A PR for this will be coming soon.

[2016-12-06 21:25] siyuanfeng-tri commented on #3787
i didn't look at it super carefully, but at a glance it seems to be doing exactly what my spline(T, Y, Ydot) is doing in #4334 except the matlab code has some shifting about the velocities if it's length doesn't match Ts. @hongkai-dai can you take a quick look when you have a chance.

[2016-12-06 21:52] #3979 closed

[2016-12-07 00:39] SeanCurtis-TRI opened #4397 "On-the-fly mesh triangulation"
Problem
======

Most geometric algorithms which operate on meshes require triangulated meshes.  Our robot models may or may not be triangulated.  Rather than manipulating all of the data to make sure it is triangulated, we can introduce a mechanism by which mesh definitions can be triangulated in memory so it is always compatible with triangle mesh algorithms.

Why should I care?
-----------------

[2016-12-07 00:58] liangfok commented on #4397
I'm very nervous about having what's in memory differ from what's in the file since it may complicate debugging. Thus, I vote for failing hard but providing a tool (or pointers instructions using, for example, MeshLab) that allows users to convert their non-triangulated meshes into triangulated meshes.

[2016-12-07 01:39] hongkai-dai opened #4398 "Order the state for a floating-base body as [quaternion; translation; angular_velocity; linear_velocity] when using kQuaternion"
Moved the discussion from #4379. Currently the order is
[code]
This can cause confusing to users, since it puts translational part first in the generalized position, but switch the order in the generalized velocity, that the angular velocity comes first.

[2016-12-07 04:47] sherm1 commented on #4377
How I think about discrete events in general: there are *triggers* and *event handlers*. In principal any kind of trigger can can invoke any kind of event handler. We currently distinguish three kinds of event handlers:
- "publish" events (can't affect the trajectory)
- "discrete" events (can only modify numerical "difference" variables xd)
- "unrestricted" events (can modify anything in the Conte

[2016-12-07 09:59] naveenoid commented on #4398
+1

[2016-12-07 10:43] RussTedrake opened #4400 "Systems implement EvalTimeDerivatives but DoEvalDifferenceUpdates and DoPublish"
... because e.g. there is a little bit of wrapper logic in EvalDifferenceUpdates in System.

Can we make the naming more consistent at the (Leaf)System implementation level?  I would prefer, e.g., for systems to implement EvalDifferenceUpdates, and to change EvalDifferenceUpdates at the System level to something more like EvalDifferenceUpdatesWrapper.

pinging @david-german-tri , @sherm1 for their

[2016-12-07 15:02] david-german-tri opened #4402 "Add unit tests for `continuous_algebraic_ricatti_equation.cc`"
There is currently indirect test coverage through the LQR code, but we should have direct test coverage.  See #4360.

[2016-12-07 15:20] sammy-tri commented on #3977
I suppose rm'ing it would be one way of forcing me to recreate it differently the next time I need it.

More seriously, I think the need for it is reduced now that kuka_iiwa_arm has it's own director app and robot state translator.  I think I'd approve of a PR deleting it.

[2016-12-07 16:18] sherm1 commented on #4400
I'm planning to make a naming-consistency pass for the caching project in #4364. We have been using the NVI pattern inconsistently so far but should do it uniformly. That always involves a non-virtual public interface like `Publish()` that can do some common error checking, instrumentation and the like and then invoke a protected virtual like `DoPublish()`. I've never found a particularly nice con

[2016-12-07 16:42] amcastro-tri opened #4407 "Simplify RigidBodyFrame API"
`RigidBodyFrame`'s should represent exactly what they are:

1. A reference to the body they are attached to.
2. A transformation `X_BF` that gives the pose of the frame in the frame of the body to which it is attached.

However, a number of constructors break this abstraction right now, namely the ones not taking a RigidBody or even the default constructor.

There should only be a single construct

[2016-12-07 16:54] sherm1 commented on #4407
To keep in mind for later: If we will use RBFrames for important things like joint, geometry, or force-element placement we will likely want to parameterize their poses, with the parameter values in the Context.

[2016-12-07 16:59] amcastro-tri commented on #4407
@sherm1, I am working on #4406 right now. We will coordinate to merge that PR first.

[2016-12-07 17:52] amcastro-tri commented on #4407
After fixing the TODO's introduced in #4406 this class will simplify to:

[code]

[2016-12-07 18:14] amcastro-tri commented on #4380
The problem described in this issue was solved in #4378 and therefore I will close it.

[2016-12-07 18:14] #4380 closed

[2016-12-07 18:44] liangfok commented on #4361
Per the manipulation subgroup meeting this morning, I just wanted to clarify that the differences in `std::normal_distribution` are likely due to differences in the implementations of the standard C++ libraries on OSX vs. Ubuntu and not due to `clang` vs. `gcc`.

_(The above statement is a conjecture that needs to be verified.)_

[2016-12-07 19:20] #3977 closed

[2016-12-07 19:39] hongkai-dai commented on #3787
@siyuanfeng-tri I think the pchipDeriv.m in MATLAB is `Cubic(T, Y, Ydot)` in your PR? The Matlab pchipDeriv.m also allows the time derivative to be dis-continuous at the knot point (namely `ydot_minus` and `ydot_plus` can be different).

I do not think in DircolTrajectoryOptimization we want to use discontinuous time derivative. So my understanding is that we should use `Cubic(T, Y, Ydot)` in Dirc

[2016-12-07 19:41] siyuanfeng-tri commented on #3787
that's what i thought. i'd say we proceed with Cubic(T, Y, Ydot). we can take a closer look when something blows up.

[2016-12-07 20:13] liangfok commented on #4407
Have you considered using an `int rigid_body_index` instead of a `const RigidBody<T>& body`?

[2016-12-07 20:15] liangfok commented on #4407
Have you thought about making `RigidBodyFrame` a `struct`? Here are the rules:

https://google.github.io/styleguide/cppguide.html#Structs_vs._Classes

[2016-12-07 20:15] amcastro-tri commented on #4407
Yes, I have and that actually was my first proposal. But @sherm1's concern above made us think that for future development it might be useful to have this class fully templated on T.

[2016-12-07 20:17] liangfok commented on #4407
I see. Interesting. Maybe it should be a goal, then, eliminate the use of `rigid_body_index` through out `drake/multibody` in favor of `const RigidBody<T>&`?

[2016-12-07 20:18] liangfok commented on #4407
BTW, I think:

[code]
should be:

[code]

[2016-12-07 20:26] amcastro-tri commented on #4407
This statement is probably too strong at this point. What actually worries me more is to have things like `rigid_or_frame_id`. Once I have a nicer API for methods needing these "frame_or_body_id"'s we can get rid of them, but not till then. You can see an example of where I'm moving towards to [here](https://github.com/RobotLocomotion/drake/blob/bb312d3428551bd94b6c3710b2bbac09047c65b5/drake/multi

[2016-12-07 20:28] liangfok commented on #4407
BTW, have you thought about making `RigidBody` a child class of `RigidBodyFrame`? Doesn't this make some level of sense since `RigidBody` _is_ a frame plus things like dimensions / mass / inertia?

[2016-12-07 20:30] amcastro-tri commented on #4407
I would keep things simple.

[2016-12-07 20:32] hongkai-dai opened #4415 "Support symbolic expression constraints in MathematicalProgram."
<h1> Goal </h1>
To support symbolic constraints/costs in conic programming problems.

Example (how user will write the code):
[code]

<h1> Proposed Solution </h1>
Based on the discussion between @soonho-tri and I, we decide to take the following steps.

1. [x] 1. Derive `symbolic::DecisionVariable` from `symbolic::Variable`, this `symbolic::DecisionVariable` contains a `solvers::DecisionVariableSc

[2016-12-07 20:32] liangfok commented on #4407
FTR, the reason I ask is because there currently exists "rigid_body_or_frame_id_foo`, which implies to me that if one were to inherit from another, the odd `bar_or_baz` logic would disappear.

[2016-12-07 20:36] amcastro-tri commented on #4407
where that points to the implementation [already here in one of my branches](https://github.com/RobotLocomotion/drake/blob/bb312d3428551bd94b6c3710b2bbac09047c65b5/drake/multibody/rigid_body_tree.cc#L1653), I just don't have a clean infrastructure or the unit tests for it.

[2016-12-07 20:38] liangfok commented on #4407
:shipit:

[2016-12-07 20:45] RussTedrake commented on #4400
As an author of systems, I'd be fine if we implemented a bunch of Do___ methods.  And as an author of algorithms, we call a bunch of ___ methods.  (I think that's what we're saying).  My request is primarily for consistency!

[2016-12-07 20:53] liangfok opened #4417 "DrakeLcm Needs to Allow User To Select Custom UDP Multicast Address"
This is in anticipation of simulating or controlling multiple robots each communicating using a different UDP multicast address.

[2016-12-07 21:19] hongkai-dai commented on #3906
close this issue. #4415 is our updated roadmap.

[2016-12-07 21:19] #3906 closed

[2016-12-07 21:26] #3888 closed

[2016-12-07 22:14] sherm1 commented on #4415
BTW if you are looking for a nice operator in C++ to mean transpose in symbolic expressions, you can't overload `'` like in Matlab, but consider `operator~()`. Then the Matlab `A'*P + P*A` looks like `~A*P + P*A` which is pretty close once you get used to it. It also has the right precedence and has kind of a "transposey" look to its wiggly shape.

[2016-12-07 22:17] hongkai-dai commented on #4415
@sherm, thanks for the suggestion. I think our `A` matrix or `P` matrix are both Eigen::Matrix, we just put different scalar types in the Eigen::Matrix. So we can use the `transpose()` function in Eigen. I was sloppy when I wrote that code, it should be
[code]

[2016-12-07 22:20] edrumwri commented on #4415
I vote against overloading that operator. I pity the poor user/maintainer
that has to figure out what it does.

On Wed, Dec 7, 2016 at 2:17 PM, Hongkai Dai <notifications@github.com>
wrote:

[2016-12-07 22:34] jadecastro commented on #4415
SGTM. I could imagine that it would be somewhat trivial to create a special case encompassing equality constraints, for convenience to the user, and perhaps allow the user to specify an optional tolerance, like so: `AddLinearInequalityConstraint(symbolic_expr, epsilon)`.

Out of curiosity, could you say something like `AddLinearInequalityConstraint(A, b, lb, ub)`, where `A` is some `m`-by-`n` matr

[2016-12-07 22:43] hongkai-dai commented on #4415
@jadecastro you are right, I used the wrong function signature. I just updated my proposal above. We should use `AddLinearConstraint(A, lb-b, ub-b, {x})`. Adding linear equality constraint with symbolic expression should be very much the same as adding linear inequality constraint. BTW, what is the tolerance `epsilon` used for a linear inequality constraint?

@soonho-tri To keep it consistent with

[2016-12-07 22:52] jadecastro commented on #4415
Sorry, I was off slightly with my function signature in my last post (I meant to say "equality" constraint). I've updated that -- see if that makes the difference. `epsilon` would relax the constraint symmetrically about zero. So, `-epsilon <= <expression> <= epsilon`.  You could just write out two expressions also, so it's really not a bummer if it's not there.

[2016-12-07 23:03] david-german-tri commented on #4377
I'm generally on board with @sherm1's framework.  I do hope there are intermediate waypoints that will let us update abstract state on a time trigger, though!  There's a lot of demand for that capability.

[2016-12-07 23:04] david-german-tri commented on #4377
(And from an implementation standpoint, it would be pretty trivial to add to EvalDifferenceUpdates)

[2016-12-07 23:04] liangfok commented on #4383
Again: https://drake-jenkins.csail.mit.edu/job/linux-clang-experimental-debug/1394/

[2016-12-07 23:08] hongkai-dai commented on #4415
@jadecastro I think since we already have `AddLinearConstraint` for linear inequality constraint, then `AddLinearEqualityConstraint` should really mean equality constraint. The reason why we want to make that distinction, is that linear equality constraint and linear inequality constraint can incur different solvers. If we have a quadratic program with only linear equality constraints, then we can

[2016-12-07 23:17] jadecastro commented on #4415
Thanks! I meant the former. In that case I agree we should get rid of the
epsilon.

On Wed, Dec 7, 2016 at 6:08 PM Hongkai Dai <notifications@github.com> wrote:

[2016-12-08 00:40] sherm1 commented on #4377
Glad you said that! See @edrumwri's PR #4382.

[2016-12-08 01:55] hongkai-dai opened #4421 "Add sum-of-squares to MathematicalProgram"
<h1>Goal</h1>

To solve sum-of-squares programming through `MathematicalProgram`. The user can write the code like
[code]

<h1> Proposed Solution </h1>

1. [x] 1. Derive a class `symbolic::Indeterminate` from class `symbolic::Expression`, to differentiate this variable from the decision variable of type `symbolic::DecisionVariable`.
2. [x] 2. Add function
[code]
   to return all the monomials of `

[2016-12-08 02:56] jwnimmer-tri commented on #3994
How inconvenient would it be to have the System 1.0 version removed from the source tree before the System 2.0 version is added?  (I'm thinking of e.g. running the old version while developing the new one.)

This issue is about adding the new feature, but we could still remove the old code and close out #3975, if that didn't disrupt this work too much.

[2016-12-08 03:00] jwnimmer-tri commented on #4305
Under the hood, the RBS1 implementation is calling the same RBT code as the RBP2 implementation is calling now, so the window of divergence seems to be minimal.  IIRC, this test code was added to confirm that things like the default value for gravity or something was correctly set in RBP2, or maybe that the order of positions in the output vector are correct or something?

In any case, it's manife

[2016-12-08 03:04] jwnimmer-tri commented on #3976
@RussTedrake If this is just a `git rm` of the System1 prototype of an Atlas plant (`atlas_dynamics_demo`), then I'm happy to volunteer.

[2016-12-08 04:17] sherm1 commented on #4407
This is technically correct, but I've seen it be somewhat awkward to work out in practice because RBFrame has an offset from a "parent" frame to which it is rigidly attached, while RigidBody (allegedly is-a RigidBodyFrame) has no such parent frame. It usually ends up requiring a more complicated hierarchy. If you do want to do something like that I suggested discussing with @mitiguy first -- he ha

[2016-12-08 05:50] liangfok opened #4424 "model.config and model:// are Unsupported"
Many SDF files and associated resources (e.g., mesh files) are stored in directories with the following structure:

1. The directory name is the name of the model.
2. The directory contains a `model.config` file that contains details about the SDF file(s).
3. The SDF file references resources using `model://` syntax.

Examples: http://models.gazebosim.org/

If we want to use these models, we shoul

[2016-12-08 06:33] soonho-tri commented on #4415
No problem.

[2016-12-08 10:08] RussTedrake commented on #3994
I strongly support this.  I think we should zap the system1 folder now.  The atlas example is also using it, but can be removed too.

[2016-12-08 10:41] naveenoid commented on #3994
Zapping system1 wont affect my groups work. Lets go ahead..I can review your zapping PR if needed. (Tagging @foehnph)

[2016-12-08 10:45] RussTedrake commented on #3994
also tagging @psiorx .  He is the author, and still a user of the system1 quadrotor sim.  But I think not on master.  And @psiorx -- it's an easy port to system2 at this point.

[2016-12-08 12:10] RussTedrake commented on #4421
Can we flip your first few lines into, e.g.,
[code]
and presumably, we could have also done
[code]
but I like that we can use the initializer lists, too.

The "AddSumsOfSquaresPolynomial" is consistent with our other "AddVariable" naming, but feels confusing here (seems like you are adding a constraint).  And it's not actually adding anything to the mathematical program, is it?  Maybe "MakeSumsOfS

[2016-12-08 12:11] RussTedrake commented on #4421
also, could AddSumsOfSquaresPolynomial and Jacobian have taken x? (instead of {x0,x1})?

[2016-12-08 12:16] RussTedrake commented on #4415
Sorry I'm late to the party.  I thought the original decision was to derive DecisionVariableScalar from Symbolic?

[2016-12-08 12:33] RussTedrake commented on #4421
scratch that.  after thinking a little more, I see that you ARE adding the SOS constraint to the program.  got it.

[2016-12-08 14:21] jwnimmer-tri opened #4427 "Simulator<AutoDiffXd>::StepTo assertion"
In #4422, we discovered that `Simulator<AutoDiffXd>::StepTo` fails an assertion.  We should enhance the `Simulator<AutoDiffXd>` unit testing to call StepTo, observe that the assertion trips, and then repair the code to work (and possibly adding addition tests).

[2016-12-08 14:32] liangfok commented on #1471
I'm going to self-assign this since it's a natural follow-up to #4363.

[2016-12-08 15:00] soonho-tri commented on #4415
That was the original plan. But I realize that there is an important difference between `symbolic::Variable` and `solvers::DecisionVariableScalar`, which requires changes in the original plan.

 1.  `solvers::DecisionVariableScalar` is *mutable* mainly because it includes a value assignment (`double *`) inside.
 2. `symbolic::Variable` is immutable -- it has `const` members and its copy/move-assig

[2016-12-08 15:15] soonho-tri commented on #4415
@hongkai-dai, I'd love to have your opinion on my comment above regarding adding operator overloadings for `solvers::DecisionVariableScalar`. For example, we can have:

[code]

My current plan is to provide these overloading in the `drake/common/symbolic_expression.h` header so that these overloadings are enabled only if the symbolic header is included.

[2016-12-08 15:30] liangfok commented on #1471
The problem with this approach is it is incompatible with Drake binary releases (once we have them). To be compatible with binary releases, we cannot rely on any build-time relative path information. Having / using this build-time relative-path-information is super convenient, however, when it works and thus think it can be offered as a default value but allow users to override the path informatio

[2016-12-08 16:11] sherm1 commented on #4427
/cc @edrumwri

[2016-12-08 16:13] sherm1 commented on #4427
Also likely upgrade that assertion to a DRAKE_DEMAND.

[2016-12-08 17:15] SeanCurtis-TRI commented on #4305
And yet, in my current PR this test fails in some builds....grrr...

Generally, this test is brittle anyways.  If we change our contact model, the results of this test would change (because the model is currently hard-coded in RBP.)  My self-serving voice says, "kill the test"....  As part of finding out why it seems to intermittently dying, I may end up submitting a PR removing the System1 depend

[2016-12-08 17:39] jwnimmer-tri commented on #4305
That would be great!  It's epsilon away from becoming the only remaining user of System 1.0.

[2016-12-08 17:57] siyuanfeng-tri commented on #4398
for euler angles, i believe the current layout is pos, rpy, posd, rpyd.
so we are sticking to "everything rotation comes first"?

[2016-12-08 18:08] hongkai-dai commented on #4415
Based on f2f discussion with @soonho-tri , @RussTedrake  and @sammy-tri , I updated the proposal on top. @soonho-tri 's suggestion is great, we should overload some operators for DecisionVariableScalar.

[2016-12-08 18:11] hongkai-dai commented on #4398
@siyuanfeng-tri I think only the drone people are using euler angles. @peteflorence @psiorx , do you have a preference to the ordering of the state for your drone?

[2016-12-08 18:11] sherm1 commented on #4398
At least the RPY floating joint is self-consistent between coordinates and velocities! I do think we should be consistent and always use orientation followed by translation for q and v. As a practical matter, the first step ought to be fixing the API so that user code doesn't have to be so brittle with respect to coordinate ordering. Then find and remove the brittle parts, then finally make the or

[2016-12-08 18:19] siyuanfeng-tri commented on #4398
i can see this creating relatively large confusions to the current user base if we want to fix it.. (i got bitten by this a couple times already). on the other hand, i am strongly in favor of moving towards a consistent convention.

[2016-12-08 18:20] siyuanfeng-tri commented on #4398
@hongkai-dai we are as well unfortunately, i am not exactly sure for what reason. probably just history.

[2016-12-08 18:21] siyuanfeng-tri commented on #4398
i would guess most people want [pos, rotation]

[2016-12-08 18:33] hongkai-dai commented on #4421
@RussTedrake . I do not think we should have a function `AddIndeterminate` in `MathematicalProgram`. `Indeterminate` is not a decision variable, nor a constraint, so conceptually it does not have to be part of `MathematicalProgram`. In spotless we have the `newIndeterminate` function because spotless makes not distinction between indeterminates and decision variables, both are of type `msspoly`, s

[2016-12-08 19:52] RussTedrake commented on #4421
i agree that "AddIndeterminate" is the wrong name if the variable is not added to the mathematical program.  I'd still like the creation to be as consistent as possible.  For instance, could we at least have a IndeterminateVectorX, etc?

[2016-12-08 21:21] #3975 closed

[2016-12-08 21:51] sherm1 commented on #4427
I traced this to some code in LeafSystem that looked like this:
[code]
where T was an AutoDiffScalar. The problem is that `::Real` here doesn't mean "underlying floating point type", rather it means "real part" vs. "imaginary part". Since T wasn't complex, Real is simply T. `numeric_limits` has no instantiation for that so uses its default which is to return a `T()`, garbage in this case.

Replaci

[2016-12-09 00:25] #4427 closed

[2016-12-09 00:43] sherm1 commented on #4398
/cc @mitiguy

[2016-12-09 03:53] liangfok opened #4434 "SteeringCommandDriver.py Throttle Can Only Increase"
# Problem Definition

When running `drake-distro/drake/automotive/steering_command_driver.py`, the throttle value can only be increased, not decreased.

[2016-12-09 03:55] liangfok commented on #4434
@shensquared do you have any insights into this?

[2016-12-09 13:08] shensquared commented on #4434
Yes, I think it used to be binary, pressing the up arrow sends throttle value 1, and releasing the up arrow sends throttle value 0. My PR changes pressing the up arrow to gradually increase the throttle, up to ~26, but broke the releasing up arrow key part: the throttle now keeps the value when the key was released. I'll fix it, will set releasing the up arrow to decrease the throttle to 0 at the

[2016-12-09 21:21] liangfok opened #4442 "Create a Parser Loader Class To Simplify API While Making It More Expressive"
# Problem Definition

Per @jwnimmer-tri's review comments in #4363, there's currently a bajillion parser functions in the parsers and some have 70+-character function names. Let's simplify things.

# Proposed Solution

Let's provide only four methods:

1. Add from file.
2. Add from file while searching in ROS packages.
3. Add from string.
4. Add from string while searching in ROS packages.

If we

[2016-12-09 21:36] jwnimmer-tri commented on #4442
Perhaps making the loader a class would make it even terser.  "Make a loader; tell it the package name (and other loading settings); call load on a filename".

[2016-12-09 21:55] liangfok commented on #4442
Good point. TTBOMK, there are now three valid reasons to use a `class` instead of stand-alone methods:

1. To avoid a bunch of methods that all operate on the same output parameter object.
2. To avoid stand-alone methods that have super long names.
3. To maintain persistent state across method calls through member variables.

[2016-12-09 23:30] liangfok opened #4445 "Drake Contains Nested Packages That are Invisible to Other ROS Nodes."
# Problem Definition

Drake currently contains numerous packages that are nested within Drake's top-level package, which is `drake-distro/`:

[code]

While these nested packages are visible to Drake's parsers, they are _not_ visible to other ROS nodes since ROS does not support nested packages. This can be problematic when Drake is collaborating with other ROS nodes since Drake may refer to a pack

[2016-12-09 23:49] sherm1 opened #4446 "Simulator AdvanceTo() status return needed"
The Simulator's AdvanceTo() method can return early for a variety of reasons. At times it is important for the caller to be able to ask what happened:
- reached the final time
- an event handler requested termination
- an event handler detected a condition that requires a high-level reinitialization (like adding/removing new objects from a simulation)

Most of the time no one is interested in the

[2016-12-10 00:09] edrumwri commented on #4373
Addressed by PR #4430.

[2016-12-10 00:09] #4373 closed

[2016-12-10 00:40] jwnimmer-tri commented on #4445
I would prefer not perverting Drake's source tree layout to satisfy ROS weirdness.  Could we instead (offer an option to) _install_ our files to a ROS-compatible layout?

[2016-12-10 00:59] liangfok commented on #4445
I believe the above-proposed layout will allow Drake to comply with ROS wierdness without needing a separate ROS-specific install step. Specifically, here is the proposed layout:

[code]

[2016-12-10 01:06] jwnimmer-tri commented on #4445
Moving stuff from `drake-distro/drake` back up into `drake-distro` is a big change, that we should be deliberative about.  Maybe we can fix ROS instead?

[2016-12-10 01:26] liangfok commented on #4445
One way to make Drake compatible with ROS would be to use symbolic links that go from a sibling of `drake-distro` to the various nested-packages that are currently within `drake-distro/drake/`. This is similar to how we're currently using a symbolic link for `drake-distro/ros/`.

[2016-12-10 01:42] mitiguy commented on #4407
@amcastro-tri  I think it would be helpful to have a conversation about this when you are here.

[2016-12-10 01:45] sherm1 opened #4447 "EvalUnrestrictedUpdate() should be able to terminate simulation"
PR #4382 introduces a general-purpose event handler that can update any state variables. It should also be able to halt the simulation (end condition reached, robot fell down, sanity check failed, etc.).

This can be as simple as adding a bool functional return.

[2016-12-10 01:57] jwnimmer-tri opened #4448 "Add SisoVectorSystem (and related)"
We can add even more System 2.0 sugar for the common case of `LeafSystem`s that have at most one input port, one output port, and optionally continuous-only state.

WIP at https://github.com/jwnimmer-tri/drake/tree/systems-single-base though I probably won't return to it for a while.

I have separate base classes for output-only and input-and-output systems.  I've tentatively named this single-inp

[2016-12-10 01:58] jwnimmer-tri commented on #4448
If anyone has an acute need for this, I'd be happy to give my branch to someone else to finish if you wish.

[2016-12-10 01:58] liangfok opened #4449 "PidControlledSystem::get_control_input_port()'s Name is Confusing"
The name `get_control_input_port()` is confusing because the reader may not understand what it means. Consider renaming it to be `get_feedforward_control_input_port()`. This is longer but less confusing because the reader will know that any signals inputted into this port will simply be fed through as part of the PID controller's output control signal.

[2016-12-10 02:34] liangfok opened #4451 "Mysterious CI Error: fatal: Not a git repository"
# The Error:

[code]

# Example Logs

https://drake-jenkins.csail.mit.edu/job/linux-clang-ninja-experimental-open-source/1476/

[2016-12-10 03:00] jwnimmer-tri opened #4452 "BulletModel::newBulletStaticMeshShape leaks"
The code, roughly:
[code]

This would appear to pass ownership of the `mesh_interface` memory to `bvh_mesh_shape`, but the `btBvhTriangleMeshShape` does not `delete` the `mesh_interface` upon description -- it is borrowing the pointer, not owning it.

Thus sayeth Bazel valgrind, roughly:
[code]

[2016-12-10 03:01] jwnimmer-tri commented on #4452
#2710 is possibly related, where it mentions that leaking memory is a consequence of our collision library design deficiencies.