[2019-02-08 14:11] jamiesnape commented on #10631
Does http://doxygen.nl/files/doxygen-1.8.15.linux.bin.tar.gz work on 18.04? If not, I guess I can build binaries and host them in S3 like VTK.

[2019-02-08 14:16] jwnimmer-tri commented on #10631
I will try to check today.  When I tried to fetch it last night, the download was going to take hours.

[2019-02-08 14:20] jamiesnape commented on #10631
I will start a download here and upload to S3, but I guess I could probably build it quicker than the download takes.

[2019-02-08 14:32] jamiesnape commented on #10631
Do we need clang-assisted parsing? The Homebrew versions don't support it by default.

[2019-02-08 14:41] jwnimmer-tri commented on #10631
Nope.  It's currently set to OFF in our Doxyfile, and in my local testing it seems fine to keep it that way.

[2019-02-08 15:06] amcastro-tri opened #10636 "`MbP::GetMutableFoo()` methods can dangerously bypass cache invalidation"
For instance, if I do `auto my_qs = MBP::GetMutablePositions(context)` to retrieve a reference to the positions vector, everything depending on q's will get invalidated. Say I compute a pose and therefore position kinematics gets validated. If I later do `my_qs.setZero()`, nothing depending on qs will get invalidated leading to very obscure and difficult to track faulty computations.

The proposed

[2019-02-08 15:06] amcastro-tri commented on #10636
@edrumwri, you worked on these in the past, what do you think?

[2019-02-08 15:13] jwnimmer-tri commented on #10636
The method already has [pretty scary doxygen](https://drake.mit.edu/doxygen_cxx/classdrake_1_1multibody_1_1_multibody_plant.html#ace2984079483027345739f5e1bc8a19c).  Did you happen to step on a landmine anyway, and that's why this is coming up now?

[2019-02-08 15:40] amcastro-tri commented on #10636
True, thanks for pointing that out @jwnimmer-tri. Yes, I did step on the landmine of finding this method before its sibling (precisely and oddly when adding more MBP cache entries).
Why do we even have this method in there if its so dangerous then? why not just only provide `SetFoo()`?

[2019-02-08 15:53] jamiesnape commented on #10631
Try these:

* https://drake-packages.csail.mit.edu/doxygen/doxygen-1.8.15-bionic-x86_64.tar.gz
* https://drake-packages.csail.mit.edu/doxygen/doxygen-1.8.15-xenial-x86_64.tar.gz

I will PR the build scripts if/when we use them.

[2019-02-08 15:57] EricCousineau-TRI opened #10637 "py systems lcm: `test_lcm_driven_loop` intermittently fails (just on Mac?)"
@jamiesnape mentioned that on Python 2 on his Mac machine, `test_lcm_drive_loop` intermittently fails on c48f00781e77fddd127c62389d104c2c6cf3ab4d:

[code]

Most likely, it's due to some small race condition with the `multiprocessing` setup.

One option is to set this test as flaky, just in case.

(N.B. I believe this does not relate #10443 .)

[2019-02-08 15:59] jamiesnape commented on #10631
I probably should add a license file to archive, so the SHA's may change when I fix that.

[2019-02-08 16:02] jwnimmer-tri commented on #10636
Well, at least right now its useful because `Set` forces an allocation or copy (because it's argument is a a `const Eigen::Vector&` not an `Eigen::Ref`).  Even if that's repaired, I could imagine Mutable still being useful if the user wants to invalidate the entire position state at once, and then populate it model-by-model or body-by-body piecewise (possibly for just a few bodies) -- so you're no

[2019-02-08 16:03] jwnimmer-tri commented on #10636
It's possible that in addition to the scary doxygen, we should make the method names even scarier also.  But this question applies to _all_ of the GetMutable methods such as the Context, State, etc.  I thought that @sherm1 already had an issue about that, but I'm not immediately seeing it.  We should probably take a consistent solution throughout.

[2019-02-08 16:29] sherm1 commented on #10636
These are primarily useful for writing integrators where making state copies every substep is a bad idea. In my upcoming PR for cache-friendly integrators you can see how they are supposed to be used. They are super dangerous though and should all be marked advanced (if they aren't already) and get CamelCaseNames rather than the friendly_names_they_have_now. (#9205 has that has a checkbox item.)

[2019-02-08 16:33] sherm1 commented on #10636
Oh, actually I thought you were talking about the similar methods on Context. Now I see these are MultibodyPlant methods and I do wonder why we should have them at all.

[2019-02-08 16:50] #10537 closed

[2019-02-08 17:16] EricCousineau-TRI commented on #10637
Just ran this binary 100x on our `macsim` instance, 10.14, in serial, 'cause parallel would cause interference; did not encounter any issue:
[code]

So it seems to be site-specific?

[2019-02-08 21:24] amcastro-tri opened #10639 "Inverse dynamics profiling reveals cost of dynamic_cast"
Recent profiling of Inverse Dynamics reveals that over 9% of the cost is lost with `dynamic_cast`.
Many of these are spread throughout the `system::` framework.
Inverse dynamics is a fundamental component of our multibody engine and is used in many other ways than just of ID calculations. Currently for instance, we use it to also compute the mass matrix.

The proposal is to switch to `static_cast`

[2019-02-08 21:32] sherm1 commented on #10639
I would prefer to call this something like `fast_dynamic_cast`. The original `dynamic_cast` is the safe one -- we're looking for one that is _less_ safe.

BTW note that this _is_ still a dynamic cast -- in Debug it will only work where dynamic_cast is allowed. In Release we just give up the runtime checking.

[2019-02-08 21:37] sherm1 commented on #10639
The easiest implementation is a macro:
[code]
Does anyone object to that or have a better idea?

[2019-02-08 21:47] amcastro-tri opened #10641 "Write unit tests that ensure multibody code does not do any dynamic memory allocation"
We want to ensure that many of our building blocks in the multibody engine do not do any dynamic memory allocation after a context is created, for performance reasons.
For now this issue tracks:
1. Inverse dynamics doesn't do any dynamic memory allocation. Unit tested.
1. Mass matrix doesn't do any dynamic memory allocation. Unit tested.

from f2f @jwnimmer-tri, you mentioned you have ideas and ev

[2019-02-08 21:47] jwnimmer-tri commented on #10639
From similar ABSL functions https://github.com/abseil/abseil-cpp/blob/master/absl/base/casts.h, it doesn't look _that_ hard to write it as a function, does it?  We could imagine improving the error reporting in the debug case.  Are you saying you've done it before and the template function ends up being difficult?

[2019-02-08 21:48] amcastro-tri commented on #10641
FYI, for inverse dynamics only 5% of the cost goes to malloc/free calls, so not a real bottleneck but definitely nice fixing.

[2019-02-08 22:09] sherm1 commented on #10639
Nope, I've only done it as a macro. A template function would be prettier, though I'm not sure it would be better. The Abseil ones are actually new casts so do useful compile-time checks on the operation -- we would likely still have to depend on dynamic_cast to do the checking for us.

[2019-02-08 22:13] amcastro-tri opened #10642 "SpatialInertia constructors check invariants in release builds"
`SpatialInertia::CheckInvariants()` is called from within constructors even during release builds. This is an expensive operation we cannot afford doing within performance critical multibody computations.
However, there is value on checking those invariants considering that within Drake this is probably the only place where anyone checks if inertias coming from say, an SDF model, do actually make

[2019-02-08 22:23] jwnimmer-tri commented on #10639
Well, a function would let us call it `fast_dynamic_cast<T&>` at least, instead of screaming all the time.

[2019-02-08 22:24] jwnimmer-tri commented on #10639
I seem to recall reading recently too about a faster dynamic-ish cast.  Something like that because C++ dynamic_cast has to do lots of work to account for possible type lattices, but if you are just going from MyBase to MyFinal then you can do faster things that still fail fast(er) than static_cast.  I don't remember if that was just `DRAKE_DEMAND(&typeid(from) == &type(MyFinal))` + static_cast, o

[2019-02-08 22:29] jwnimmer-tri commented on #10642
Maybe you can point to some uses where it's slow in practice?  Be more specific?

If the problem is, say, converting one exiting Drake type to a SpatialInertia, where we know the invariants will hold across the conversion because they were already true in the originating type, then we can make release builds _always_ skip the check during that conversion, without us having to annotate unsafe=true

[2019-02-08 22:35] amcastro-tri commented on #10642
Yes, MBP calls `SpatialInertia::cast()` to retrieve the default value of an inertia matrix. `cast()` is calling one of the ctors which do the invariant check. That's why I proposed the extra boolean. It'd allow us to call it from within `cast()` (and maybe others) without changing the contract we have right now.

true, but someone has to do it, while right now those already happen.

[2019-02-08 22:36] sherm1 commented on #10639
I'm on the fence about whether _not_ screaming about an unchecked dynamic cast is actually better.

[2019-02-08 22:40] jwnimmer-tri commented on #10642
Oh.  Yes, we already have several examples of private constructors that skip the invariants when it's a self-call.  See, for example, `private: RotationMatrix(const Matrix3<T>& R, bool)`.  It's an absolutely good and uncontroversial to change intra-class calls to skip redundant checks.  I thought you meant that, say, the MBT or MBP code would add bools to their call sites, to opt-out of checking.

[2019-02-08 22:41] sherm1 commented on #10642
Per Slack discussion, my preference would just be to make this `DRAKE_ASSERT_VOID(CheckInvariants());` like many other checks in that class. Can you explain why you don't like that, Alejandro?

[2019-02-08 22:42] sherm1 commented on #10642
OTOH if you are proposing just to add a private constructor with an extra bool, I'm totally happy with that. Since you mentioned (on Slack) the "contract" I assumed you were talking about a user-visible API.

[2019-02-08 22:43] jwnimmer-tri commented on #10639
What about `debug_checked_static_cast`?  It's basically a static_cast + assert, so we shouldn't be calling it `dynamic_cast` anyway.

[2019-02-08 22:47] sherm1 commented on #10642
BTW we could make the sdf parser explicitly check for bad inertias using the APIs that just do that. We could likely produce a better error message that way than just having it blow up in SpatialInertia's constructor. For example, we could report the body whose inertia was bad.

[2019-02-08 22:53] sherm1 commented on #10639
I don't like that because this is really a dynamic cast (only applicable to polymorphic classes). static_cast can be used in more circumstances and most of those _cannot_ be checked by dynamic_cast.

[2019-02-08 23:00] jwnimmer-tri commented on #10639
`unchecked_dynamic_cast`?

[2019-02-08 23:01] amcastro-tri commented on #10642
Because IMO is changing a contract that apparently we've been giving to users for a while. IMO that would require some deprecation process, no?

[2019-02-08 23:23] amcastro-tri opened #10644 "Caching performance overhead."
I am in the process of adding new cache entries to speed up the computation of the mass matrix. Lo and behold, I do get a nice performance boost as expected. However, the performance of our inverse dynamics gets affected! That is, caching has measurable overhead. I was careful not to do `EvalFoo()` within performance critical loops but instead to `Eval()` outside loops and pass the updated cache e

[2019-02-09 00:09] sherm1 commented on #10639
I like `unchecked_dynamic_cast`! Still not sure it shouldn't scream DRAKE_UNCHECKED_DYNAMIC_CAST but I don't think I can resist the elegance of the template function.

[2019-02-09 00:13] sherm1 commented on #10644
Oh, you probably won't be surprised to see MaybeGetValue()'s first line:
[code]

Switching that to `unchecked_dynamic_cast` should make that very cheap (in Release builds).

[2019-02-09 00:16] sherm1 commented on #10639
Does anyone want to volunteer to write `unchecked_dynamic_cast<T>()` ?

[2019-02-09 00:20] sherm1 commented on #10642
I don't think so. All that would happen is some things that used to throw in Release would only throw in Debug. No one would have to change their program unless they were putting a try/catch around that and doing something with it. Seems very unlikely!

[2019-02-09 00:34] jwnimmer-tri commented on #10639
@amcastro-tri Can you cite one or a few specific examples of the casts that are slow?  If we can keep the typechecking but make it fast, it seems nice to have good error messages, even in release mode.

[2019-02-09 01:55] EricCousineau-TRI opened #10645 "geometry, usability: Permit using `QueryObject` via `FixInputPort`"
Relates #10592

For some of my workflows, it's nice to have a non-Diagram built System, and just mock the inputs to quickly test the input, then throw the system away (or leave it completely decoupled).

This is nice because for MBP+SG workflows, adding any system to the diagram requires exclusive ownership transfer, meaning you can only do it once. It's nice to quickly test stuff without having t

[2019-02-09 01:59] EricCousineau-TRI opened #10646 "pydrake, downstream: Add hacking tips"
I'm finding it useful to sometimes hack `pydrake` from Anzu. Some random stuff:

---
If a method isn't bound, and you don't want to upstream it just yet:
[code]
Don't use `py::module_local()`! (see pybind/pybind11#1689 - possibly an issue with our fork)

---
Using `trace` + direct console output due to C++ segfaults in a Jupyter notebook:
[code]
[code]
---
Jupyter, `autoreload`, ex:
[code]

---
Ju

[2019-02-09 02:05] jwnimmer-tri commented on #10645
I don't understand the problem yet.  In C++, we have `ContextBase::FixInputPort(int index, const AbstractValue& value)` which copies the AbstractValue -- no lifetime issues at all.  Is this just that some pydrake binding is broken?

An AbstractValue _must always be cloneable_ full stop.  It sounds to me like either QueryObject is broken, or the SceneGraph is broken, or the pydrake bindings for the

[2019-02-09 02:06] EricCousineau-TRI opened #10647 "systems: Move API to use `InputPort`, `OutputPort`, instead of indices?"
At present, things like `Context.FixInputPort()` ~and `DiagramBuilder.ExportInput()`~ interface with indices.

It'd be nice if they all just used the first-class objects, consistently. That way, it'd motivate users to more closely inspect their methods, and learn about `Eval()` as it'd be introduced in #10592.

\cc @sherm1 @jwnimmer-tri

[2019-02-09 02:11] EricCousineau-TRI commented on #10645
I guess in this case, then, it's the fact that `QueryObject` is not cloneable. I can't pass it to `FixInputPort(const AbstractValue&)`, because `QueryObject::Clone()` will invalidate it's state:
https://github.com/RobotLocomotion/drake/blob/3dead00cf096389dd8473f7d9ef576f3d802ef9f/geometry/dev/query_object.h#L286-L287

Will rephrase title.

[2019-02-09 02:14] jwnimmer-tri commented on #10647
There a question of whether Context is supposed to know about System (or InputPort etc).  I think so far it does not -- the layering is that Systems depend on Contexts, but not the other way around.  Maybe we should change that, but should be careful if we do.

For this specific request though, we could offer a

[code]

instead, perhaps?  (And of course the Eigen sugar as well.)  So it would be us

[2019-02-09 02:24] EricCousineau-TRI commented on #10647
Yup, that'd look better!

What might it look like for `DiagramBuilder::Export*`?

[2019-02-09 02:31] jwnimmer-tri commented on #10647
Those already take Port objects, so are good?  Oh, I see -- you mean the return type, since we don't have a System yet we can't return an InputPort.  So the question you're asking is how do you get, say, an InputPort object for a Diagram once it's built.

I guess the answer for now is that you can just grab them by name once you're done?  (Or that you are is-a Diagram, in which case you can make m

[2019-02-09 02:55] jwnimmer-tri commented on #10644
@amcastro-tri Could you check what difference #10649 makes to your numbers?

[2019-02-09 02:56] jwnimmer-tri commented on #10639
(See, for example, #10649.)

[2019-02-09 04:11] SeanCurtis-TRI commented on #10645
`QueryObject`  is incomplete. The *actual* copy logic hasn't been implemented yet. It has a cloneable interface but it's one of those "I  promise to give you a clone interface if you promise not to call it." It wouldn't be too hard to implement it -- it, essentially, creates a copy of all of the state with fully updated poses so that it is no longer connected to the original context/system.

So, t

[2019-02-09 04:32] EricCousineau-TRI commented on #10645
That'd be excellent!
Can share more about this use case either on Monday or Tuesday.

[2019-02-09 04:48] EricCousineau-TRI commented on #9398
Just got bit by this again in Anzu, when tinkering with `FixedInputPortValue::GetMutableData`.

Going to move up in my work queue, may raise in priority, as I've lost a bit of time to this.

[2019-02-09 04:50] EricCousineau-TRI commented on #8919
Possibly relates #9398.

[2019-02-10 12:07] Athanaze commented on #2087
Thanks @liangfok ! This solution worked  for me, on Linux Mint.

[2019-02-10 14:42] jwnimmer-tri commented on #10641
@amcastro-tri please try out #10650 and see if it's useful for this purpose.

[2019-02-11 14:27] jwnimmer-tri opened #10651 "Support for unprovisioned python3 builds"
In https://drake-jenkins.csail.mit.edu/view/Unprovisioned/, I don't see any `-python3` options.  Could we add some?  We probably don't need them all, but at should have at least the one pre-merge required build (`linux-bionic-gcc-bazel-experimental-python3-release`) in unprovisioned form.

Every once in a while, a PR might need to add some python3-specific new dependency (see, e.g., #10632 recentl

[2019-02-11 14:30] jamiesnape commented on #10651
We don't actually have unprovisioned builds for most configurations. I am not saying we shouldn't, but it was a deliberate omission since we are actually constrained on the number of experimental jobs courtesy of some design decisions in the Jenkins plugin and the GitHub rate limit.

[2019-02-11 14:31] jamiesnape commented on #10651
(But anyway, I will work on getting at least one in)

[2019-02-11 15:27] SeanCurtis-TRI commented on #10387
Given the recommended example, I'm moving this discussion to [anzu](https://github.awsinternal.tri.global/robotics/enabling-anzu/issues/1772). I'm not going to close this yet as it helps to keep a hook into drake.

[2019-02-11 15:48] SeanCurtis-TRI commented on #10387
tl;dr I've played with the clutter demo and seen similar issues. I'm sufficiently convinced that things can be better that I'm going to spend some time doing direct OpenGL rendering (cutting VTK out of the loop).

## Results of clutter simulation performance analysis

In my investigation, I decided to add some **high-resolution profiling instrumentation** to my render pipeline. Previous experiment

[2019-02-11 15:49] SeanCurtis-TRI commented on #10387
For all interested players -- this is your chance to declare, "No! Don't spend time writing a simple OpenGL renderer!"

[2019-02-11 15:54] jwnimmer-tri commented on #10387
My rough view of current priorities is that we care only about performance of the depth simulation.  If the clutter benchmark has the color channels enabled, we should probably revise it to disable them.

[2019-02-11 16:05] SeanCurtis-TRI commented on #10387
That'll certainly reduce the cost.  :) Won't quite double performance, but it'll bump it by a good ~75%.

[2019-02-11 16:41] avalenzu commented on #10387
I concur with @jwnimmer-tri.

[2019-02-11 16:43] avalenzu commented on #10387
@siyuanfeng-tri can you comment this?

[2019-02-11 19:00] EricCousineau-TRI opened #10653 "py mp: Ensure SNOPT can solve toy Lorentz Cone Constraint"
Follow-up issue for discussion in #10652

\cc @hongkai-dai

[2019-02-11 19:02] hongkai-dai opened #10654 "MBP::CalcJacobianSpatialVelocity doesn't compute the gradient ∂ ᴬṗᶜ / ∂ q̇ when the quaternion is unnormalized"
If I want to compute the partial gradient `∂ ᴬpᶜ / ∂ q = ∂ ᴬṗᶜ / ∂ q̇` for a point `C`'s spatial velocity measured and expressed in `A`'s frame, w.r.t `q̇`, I would like to call In `MBP::CalcJacobianSpatialVelocity`. This function gives me the right gradient when the quaternion in `q` is normalized. But when it is not normalized, this function doesn't compute the partial gradient. Internally in t

[2019-02-11 19:23] amcastro-tri commented on #10644
Thanks @jwnimmer-tri, I'll rerun the tests.

[2019-02-11 19:50] EricCousineau-TRI opened #10656 "rbp: Failures in LCP solve with closed-loop joints (C++, Python)"
@mpetersen94 and @neeld are running into an issue where RBP's LCP solve is failing in C++, and sometimes in Python (depending on which commit they're using).

Working to generate min repro.

[2019-02-11 20:06] amcastro-tri commented on #10639
I'd need to run the profiling again @jwnimmer-tri, what I reported were results including all dynamic casting in Drake. #10644 seems to reveal a particular one. I'll investigate more.

[2019-02-11 20:17] jamiesnape commented on #10651
Bionic Unprovisioned Python 3 builds have been created.

[2019-02-11 20:17] #10651 closed

[2019-02-11 20:30] EricCousineau-TRI commented on #10656
Min repro (for failure in C++ and Python):
https://github.com/EricCousineau-TRI/drake/blob/issue/10656_repro-wip/tmp/BUILD.bazel

[2019-02-11 20:49] EricCousineau-TRI opened #10657 "py sensors: Maintain C++ API parity for DepthImageToPointCloud"
Follow-up to this discussion item: https://github.com/robotlocomotion/drake/pull/10601#pullrequestreview-202320391

[2019-02-11 21:38] #9467 closed

[2019-02-11 21:38] #10615 closed

[2019-02-11 21:56] sherm1 commented on #10654
Per f2f with @hongkai-dai @mitiguy @amcastro-tri:

The problem here appears to be that the kinematic calculation of point location from q (or velocity from q and qdot) is not consistent with the Jacobian calculation, with respect to treatment of unnormalized quaternions.

I feel strongly that the correct behavior when given unnormalized quaternions is to normalize them _internally_ (so that we don

[2019-02-11 22:10] #10024 closed

[2019-02-11 23:04] hongkai-dai commented on #10654
That is right, we have two functions. `CalcPointsPosition`, which computes the position `ᴬpᶜ` of a point `C`, attached to a body `B`, measured in a frame A; and a function `CalcJacobianSpatialVelocity`, which I think should compute the gradient `∂ ᴬpᶜ / ∂ q`.

What these two functions currently do in Drake is this:

1. For `CalcPointsPosition`, it first normalizes the quaternion `q` *internally* t

[2019-02-11 23:57] sherm1 commented on #10654
With @hongkai-dai's clarification I _think_ this is just a bug -- the Jacobian function is not actually returning exactly the derivative of the kinematic function we're actually using. BTW if `q̃ ≜ q / ‖q‖`, then
[code]

[2019-02-12 00:04] EricCousineau-TRI opened #10661 "mkdoc: Permit leading whitespace for code snippets"
At present, `RollPitchYaw` has the following docstring snippet:
[code]

Howevever, with #10660, the doc looks like this:

The related snippet in the generated docstring in `documentation_pybind.h` is:
[code]
This implies that it's an issue with how `mkdoc.py` processes the code.

[2019-02-12 00:23] jwnimmer-tri commented on #10625
The ETA for this to land is mid-/late- day tomorrow (Tue 2019-02-12).

[2019-02-12 01:38] hongkai-dai commented on #10654
I have a [dev branch](https://github.com/hongkai-dai/drake/tree/unnormalized_quaternion_jacobian) to reproduce the problem. In this [test](https://github.com/hongkai-dai/drake/blob/unnormalized_quaternion_jacobian/multibody/inverse_kinematics/test/jacobian_test.cc) , it computes the Jacobian for two different configurations, one with a normalized quaternion, the other configuration is the same as

[2019-02-12 13:49] jwnimmer-tri commented on #10542
@jamiesnape For #10422, soon I would like to start asking users to test-drive the Fortran build of snopt.  Could I advocate for step (1) above (adding a choice to CMakeLists) to happen in the next week or so?

[2019-02-12 15:06] #7314 closed

[2019-02-12 15:06] #7321 closed

[2019-02-12 15:36] jamiesnape commented on #10542
Yes.

[2019-02-12 16:37] amcastro-tri opened #10664 "The documentation for Jacobian methods can be difficult to parse on a first pass."
The current documentation for Jacobians has caused some headaches to expert roboticists not yet familiar with notation for frames used within Drake. Though complete, users looking for a quick answers to their needs struggle to find the bits of information they need from this complete description of frames.

For instance, a user might want to compute `Jdot`. Typically this is a Jacobian for a given

[2019-02-12 17:49] sherm1 commented on #10664
:+1: great idea, @amcastro-tri . @mitiguy can you incorporate this in your current Jacobian doc revamp?

[2019-02-12 19:36] jwnimmer-tri commented on #10641
The usual complaint with mallocs is less that they degrade the mean throughput, but rather that they can introduce relatively high jitter for operations' latency, especially as system load increases.  Code in Drake that is going to be used for real-time control should (ideally) be written to avoid allocations after some start-up phase.

[2019-02-12 19:59] jwnimmer-tri commented on #10625
Fixed in #10592.

[2019-02-12 19:59] #10625 closed

[2019-02-12 20:01] jwnimmer-tri commented on #10625
For pydrake users that want to make similar updates, and good example is [this diff](https://github.com/RobotLocomotion/drake/commit/57a301889960b8d5fce4b9d2d838f2e12a763d43#diff-8d0e43adb57170eddda336a62e5ac996) to joint_teleop.py.

[2019-02-12 20:28] #10631 closed

[2019-02-12 20:30] jwnimmer-tri opened #10666 "Documentation for how to create Doxygen binary release on Ubuntu"
We should document how the binary release archive downloaded by Drake's //tools/workspace/doxygen (when on Ubuntu) can be re-created (if / when necessary).

Follow-up from #10659.

[2019-02-12 22:16] #10561 closed

[2019-02-12 22:22] #10516 closed

[2019-02-13 01:14] #10600 closed

[2019-02-13 01:55] jwnimmer-tri commented on #9633
@hongkai-dai What should we do about `MathematicalProgram::SubstituteSolution`?  I think it will have to be deprecated, since it uses the solution.  Should we add it to `MathematicalProgramResult` instead?

[2019-02-13 02:56] amcastro-tri commented on #10664
from f2f discussion with @mitiguy. He's working on a great pdf document with notation and equations. Probably something really good to incorporate to our Drake notation Doxygen page. Then it'd be a matter of referencing that section from the Jacobian methods.

[2019-02-13 05:36] jwnimmer-tri opened #10675 "Unfork the SceneGraph"
I spent a few minutes searching the issues database, but I didn't find a tracking issue opened for this yet.  Please feel free to resolve this as a duplicate if I missed it.

We have some code in `geometry/` and a fork of that code in `geometry/dev/`.  There should be only a single copy of our latest-and-greatest software (on master), both so that users have a single thing that just works, so that

[2019-02-13 10:05] enriquetrucios opened #10676 "Error in building drake from source via Cmake in Ubuntu 18.04 Bionic Beaver"
### Description
I have installed all packages by running:
`./setup/ubuntu/install_prereqs.sh`
and execute `cmake -DWITH_MATLAB=ON ../drake` && `make`
The procedure was interrupted by an error:
`ERROR: /home/luistru/drake/bindings/pydrake/systems/BUILD.bazel:58:1: C++ compilation of rule '//bindings/pydrake/systems:framework.so' failed (Exit 4) cc failed: error executing command /usr/bin/cc -U_FORT

[2019-02-13 13:00] jwnimmer-tri commented on #10676
Were there any other parts of the error output that were interesting?

My best guess at the moment is that kernel killed the compiler due to memory pressure, or that the computer ran out of disk space.  How many cores and how much RAM does this computer have?

To reduce memory pressure, you can reduce the number of jobs the build tries to run at once -- create the file `$HOME/.bazelrc` and with th

[2019-02-13 14:11] SeanCurtis-TRI commented on #10675
Several thoughts:

1. I've updated #9540 to explicitly include removing `geometry/dev`. That also outlines the prerequisites for that happening.
2. I think your opening bid is not practical in the current environment (although it has long been my preference). Given the contents of #9540 there are still multiple PRs before `geometry/dev` can go away. and there are numerous of high-priority interrup

[2019-02-13 14:24] jwnimmer-tri commented on #10675
Right.  My reasoning was more about staffing than code dependencies -- an "all hands on deck" or "fire drill" mentality.  If we can put six people on this and get it done in two weeks, we should.  (Though of course it _probably_ doesn't parallelize to six people, but we should see how high it can get.)  I'd be willing to sacrifice efficiency to get more people doing these PRs in the name of latenc

[2019-02-13 14:28] SeanCurtis-TRI commented on #10675
We should probably talk briefly f2f. I think there are some assumptions we're not sharing. In principle I'm fully on board and greatly appreciative and I think this is a push in the right direction. In practice, the ideas of highly-parallelizing #9540 or whether or that items on the list are not actually pre-requisites is a total disconnect for me.

[2019-02-13 14:33] jwnimmer-tri commented on #10675
Sure, I am happy to wait until the scrub meeting, or else to do a VTC earlier if that helps.

Maybe my TL;DR to your question is that I think we should **not** implement rendering **at all** right now in Drake other than a minimal API hook to write an offline dataset renderer in Anzu, and that we should lobotomize the manipulation station so that it doesn't have RGB cameras anymore so that we can

[2019-02-13 14:59] SeanCurtis-TRI commented on #10675
I'm available for chatting whenever. If you think it will contribute to the scrub meeting, then before. If not, whenever.

[2019-02-13 15:12] EricCousineau-TRI commented on #9398
@avalenzu may have ran into some form of this...

[2019-02-13 15:46] hongkai-dai commented on #9633
I agree, I think we will need to remove `MP::SubstituteSolution`, and add `MPResult::SubstituteSolution` when we need it. For the moment, I don't think we actually need `MPResult::SubstitueSolution`.

[2019-02-13 18:41] #10286 closed

[2019-02-13 19:10] EricCousineau-TRI commented on #8711
@jamiesnape Given that you've merged this in, how hard would it be to resolve this?

Perhaps we can consolidate these references to just point to them on the front page?

[2019-02-13 19:14] jamiesnape commented on #8711
Merged what? Resolve what? To what this issue is pertaining seems to be different in almost every comment.

[2019-02-13 19:19] EricCousineau-TRI commented on #8711
Sorry, meant the rename. Updated comment.

[2019-02-13 20:51] edrumwri opened #10679 "LQR system test not located in linear_quadratic_regulator_test.cc"
Per discussion in #10614, example/multibody/acrobot/run_lqr.cc is effectively serving as the unit test for the function:

    std::unique_ptr<AffineSystem<double>> LinearQuadraticRegulator(
    const System<double>& system, const Context<double>& context,
    const Eigen::Ref<const Eigen::MatrixXd>& Q,
    const Eigen::Ref<const Eigen::MatrixXd>& R,
    const Eigen::Ref<const Eigen::MatrixXd>& N =

[2019-02-13 21:01] #10654 closed

[2019-02-13 21:07] edrumwri opened #10680 "Need functions in MultibodyPlant for setting/getting generalized forces from arrays"
Per discussion in #10614, it would be good to provide functions analogous to GetVelocitiesFromArray(.), SetVelocitiesInArray(.) for getting/setting generalized  forces for input through MBP's new applied generalized force input. Documentation for that port currently indicates that the user should use SetVelocitiesInArray(.) for ordering the forces, but adding GetGeneralizedForcesFromArray(.) and S

[2019-02-13 22:01] jwnimmer-tri commented on #9633
FYI I've posted #10681 as a CI test, where I mark the old methods deprecated, and see what breaks.  We can use its build-error log (or compile it locally) to help confirm what work still remains.

[2019-02-14 04:25] jwnimmer-tri commented on #10288
If we ever pick this up again, we should try https://github.com/google/bloaty, e.g.,

  `bloaty -C full -d segments,sections,shortsymbols,symbols $(find bazel-bin/bindings/pydrake -name \*.runfiles -prune -o -name _objs -prune -o -name \*.so -print)`

[2019-02-14 05:04] enriquetrucios commented on #10676
Effectively, the kernel had killed the compiler.
The procedure increased by 2 hours but It didn't make any mistakes.
Thanks a lot.

[2019-02-14 05:04] #10676 closed

[2019-02-14 14:37] jamiesnape opened #10686 "CI should send emails if git retries fails after retries are exhausted"
For example in https://drake-jenkins.csail.mit.edu/view/Production/job/linux-xenial-gcc-cmake-nightly-everything-release/87.

[2019-02-14 14:40] jamiesnape commented on #10686
Also looks like failure emails were not sent in that instance.

[2019-02-14 15:15] jamiesnape commented on #10686
FTR https://issues.jenkins-ci.org/browse/JENKINS-34376 actually makes robustly sending the failure emails unnecessarily difficult.

[2019-02-14 15:39] EricCousineau-TRI commented on #10606
Per f2f, should define a date to make `python2` the explicitly needed call-out in build jobs, and make `python3` the default. For now, on or before June 15, 2019.

Should also consider when to make platforms default to using Python 3. Could happen before or at the same time as build job switch. Min. 3 months before removing Python 2 support.

[2019-02-14 16:00] EricCousineau-TRI commented on #6315
Closing as dup of #10554

[2019-02-14 16:00] #6315 closed

[2019-02-14 17:48] jamiesnape commented on #10288
Aside: Running the aforementioned McBloatface on `libdrake.so` is kind of interesting too (`drake::math::GrayCodeToInteger()` comes in at almost 20% of the size of the binary on Mac, next highest is 3%).

[2019-02-14 18:06] sherm1 opened #10688 "Add docs for when and how to purge very old bazel build caches"
Trying to verify Jamie's fix #10628 for Mac Unicode troubles I needed to build Drake on a Mac. We have a not-too-old Mac in a drawer here for that purpose. It had been used last year successfully to build Drake so had a git clone already. I updated that clone from upstream, pulled Jamie's pr, ran install_prereqs which complained about the Mac OS version. So I updated to Mohave and retried. Got man

[2019-02-14 18:17] jamiesnape commented on #10688
`drake/bazel-*` are symlinks, so nuking those was a no-op. For the rest, `bazel clean --expunge` should really have been sufficient (and probably necessary after than OS and/or Xcode update). We can't really advise people to delete `/private/var/tmp/_bazel_<user>` without the risk deleting builds of other unrelated `bazel` projects.

[2019-02-14 18:52] sherm1 commented on #10688
Maybe just modify the install-from-source-on-Mac instructions to mention `bazel clean --expunge`? I don't know whether the `tmp/_bazel_sherm` removal was required since I did the expunge at the same time.

I'm embarassed that I didn't realize that `rm -rf bazel-*` was a no-op! Sure felt good to do it :)

[2019-02-14 19:01] jwnimmer-tri opened #10689 "Context SetTimeStateAndParametersFrom should work more T x U combinations"
In the same way that a System can transmogrify between certain pairs of scalar types, the ability to copy the data from one Context into another Context should do the same.

Copying a context is currently done via Context::SetTimeStateAndParametersFrom.  Right now, we can copy from double -> U (promotion), but not U -> double (demotion).  For things like extracting nonlinear system constraints sym

[2019-02-14 19:08] jwnimmer-tri commented on #10688
I would actually suspect the problem was less about the macOS upgrade, and more that the immediately prior build was done using an ancient version of Bazel from a year ago.  There was a particular transition of Bazel `outputBase` layout nine(?) months ago where newer bazel would hork if the outputBase was from too many versions prior, without having been upgrading + rebuilding regularly in the mea

[2019-02-14 19:10] jamiesnape commented on #10688
I think it was probably both. Either are going to cause toolchain issues on Mac.

[2019-02-14 19:29] sherm1 commented on #10688
TIL "hork" !! Thanks, Jeremy.

[2019-02-14 19:46] sherm1 opened #10692 "Add sugar for fixing input port value"
(From discussion with @mposa in PR #10685.) For the use case where actuation inputs u are to be provided directly rather than via connected port, the current FixInputPort incantations were confusing. Proposal:

- Make sure the MBP actuation ports are always present, even when there are zero actuators (#10694).
- Add a method like `InputPort::FixValue(context, value)`.

This would allow
[code]

To

[2019-02-14 19:48] sherm1 commented on #10692
/cc @rcory due to your recent battles with FixInputPort.

[2019-02-14 19:52] edrumwri commented on #10692
I like both of these proposals, but would propose separating the issues.

[2019-02-14 20:42] #10352 closed

[2019-02-14 20:45] sherm1 opened #10694 "MBPlant should create actuator ports even for zero actuators"
Having to check whether the ports exist makes the API cumbersome, while allowing the ports to return a zero-length Vector (which Eigen deals with nicely) is more natural (per @mposa).

See discussion in #10685 and #10692.

[2019-02-14 20:46] sherm1 commented on #10692
Good idea - #10694 for zero-length ports. Will leave this issue for the InputPort API addition.

[2019-02-14 20:55] sammy-tri commented on #6082
Closing because #10591 deleted the relevant code.

[2019-02-14 20:55] #6082 closed

[2019-02-14 20:57] sammy-tri commented on #4327
Closing since the current set of examples along with our usage in the bazel build doesn't seem to be causing any confusion.

[2019-02-14 20:57] #4327 closed

[2019-02-14 20:57] sammy-tri commented on #6811
Closing because #10591 deleted the code this refers to.

[2019-02-14 20:57] #6811 closed

[2019-02-14 20:59] sammy-tri commented on #6350
Fixed in #10345

[2019-02-14 20:59] #6350 closed

[2019-02-14 21:04] sammy-tri commented on #4080
Closing because I think the current messages (particularly status) are specifically tied to the iiwa's FRI API.  The Jaco arm was pretty similar to an iiwa, but the APIs were still different enough that I felt different low-level control messages were appropriate.

[2019-02-14 21:04] #4080 closed

[2019-02-14 21:11] jwnimmer-tri commented on #9633
FYI I'm going to work on (finishing) adding the pydrake bindings for the new APIs now.

[2019-02-14 21:20] rcory commented on #10692
I think this is a great proposal. My one request is to make sure that the documentation for `InputPort::FixValue` calls out the "stomping" effect it will have on existing connections (via the underlying call to `FixInputPort`). Easiest thing would be to copy the comment from `Context::FixInputPort` (see #10665).

[2019-02-14 21:32] mitiguy opened #10695 "Improve documentation for systems::Context class"
Since Context is a parameter in many multibody methods,
it would be helpful to improve the information for the Context class,
ideally using some of the information in:

https://drake.mit.edu/doxygen_cxx/group__cache__design__notes.html

[2019-02-14 21:36] jwnimmer-tri commented on #10692
My one request is to avoid some of the poor argtype choices of Context::FixInputPort, and instead only offer three options that mirror what `InputPort::Eval` offers:
[code]

Remember that the argument names are important in pydrake to force a sensible overload using kwargs when necessary.  (I took my best shot above.)

[2019-02-14 22:37] EricCousineau-TRI commented on #10688
Just to follow-up, is this actionable (e.g. adding a tip in the docs), or closable as-is?

[2019-02-14 23:36] sherm1 commented on #10688
Yes, needs a doc update.

[2019-02-15 10:52] RussTedrake opened #10700 "implement "static stability" constraint for MBP"
and use it in the manipulation station clutter clearing demo to project the random initial conditions out of penetration and into (approximate) contact solutions.

My proposal is to write, e.g.:

[code]
which would have a gradient everywhere. (note: the complementarity condition is normally written with =0; not sure if it's actually helpful to observe that it also works with the inequality).

thou

[2019-02-15 16:00] hongkai-dai commented on #10700
May I ask how the user should call this "static equilibrium solver"?  I suppose the author has an MBP and a SceneGraph for the collision query. Do the authors know what are the candidate contact bodies? Otherwise for each pair of bodies in the collision geometry, we need to assign decision variable lambda to represent the contact wrench.

[2019-02-15 18:02] jwnimmer-tri commented on #8997
FYI At TRI I'm experimenting with turning on Fission for Anzu.  Fission should work fine on Bionic at least, and it's on the order of 5x reduction in debug build footprints (80% smaller).  I think upstream https://github.com/bazelbuild/bazel/pull/6606 would enable Fission by default on all of our platforms, but it's stalled in review.  I wonder if we could help nudge that along, or if there is a 3

[2019-02-15 18:24] jamiesnape commented on #8997
(My understanding is that debug fission would not work with the Apple compiler at present, but the compiler test in the Bazel PR may erroneously indicate that it is.)

[2019-02-15 18:30] jamiesnape commented on #8997
https://github.com/bazelbuild/bazel/issues/327 is relevant for Mac.

[2019-02-15 18:33] jwnimmer-tri commented on #8997
Fair enough.  Sounds like the low-hanging fruit might be a bionic debug build that is included in the pre-merge set, depending on the crosstool hijinks that we'd need.  How about I take a bit more time to see how Anzu fares once I turn this on there, and then we can revisit the question for Drake?

[2019-02-15 18:34] jamiesnape commented on #8997
Sounds good.

[2019-02-15 19:30] tri-ltyyu commented on #10387
Working on OpenGL renderer to see if performance improves. We can turn off RGB in manipulation station to see if that helps.

[2019-02-15 21:00] RussTedrake commented on #10700
My use case is here: https://github.com/RobotLocomotion/drake/blob/master/examples/manipulation_station/manipulation_station.cc#L397

Yes -- I know the candidate contact bodies.

[2019-02-15 23:42] hongkai-dai commented on #10700
I had a discussion with @sherm1, and here is a tentative plan

1. For each pair of contact geometries, create decision variables to represent the tangential friction forces. Here I assume each pair of contact geometries has only one pair of contact points (which is true when we only use sphere for contact, but would not be true in the future if we use box-box contact or mesh-mesh contact). The con

[2019-02-16 00:29] EricCousineau-TRI opened #10704 "ycb: Update inertias to use constant-density estimations from meshes"
Follow-up from: #10702

We should update the models to use an estimation from the mesh (if possible).

This may involve:
* Simplifying / separating the inertial estimation from the current `//manipulation/util:meshlab_to_sdf` binary (e.g. just give it an OBJ, and it'll give you an `<inertial/>` with no frame adjustment)
* Ensuring that the center of mass is accurate given the inertial adjustments.

[2019-02-18 17:39] mpetersen94 commented on #10656
I think the problem appeared as a result of commit [e976861](https://github.com/mpetersen94/drake/commit/e976861021979fa576a8560e29775c1f5d5688de) because running a null simulation of my RigidBodyPlant with closed loop works when using a commit of drake right before it ([mpetersen94/m-328](https://github.com/mpetersen94/drake/tree/m-328)) but fails when using a commit of drake right after it ([mpe

[2019-02-18 20:06] sherm1 commented on #10656
cc @edrumwri -- that commit is the infamous #9766 to handle events at initial time step. Not clear how that could be related to an LCP failure though?

[2019-02-18 20:20] jwnimmer-tri commented on #10656
@sherm1 Recall that #9766 broke master pydrake on macOS when it landed, because of floating point denormalization.  One question is whether cherry-picking the repair in #10260 (598e3bb93b7263e5185a637025a8cbd048127794) on top of m-328 resolves this problem.  Also of interest is whether `simulator.set_publish_at_initialization(false)` (to opt-out) would also resolve it, or whether perhaps solving t

[2019-02-18 20:54] mpetersen94 commented on #10656
Cherry-picking the repair from #10260 on top of m-237 (the failing branch) did not fix the problem.  I also tried using `simulator.set_publish_at_initialization(false)` as well as commenting out simulator.Initialize() and neither of these resolved the problem.

[2019-02-19 01:56] RussTedrake commented on #10700
it all sounds great.

my suggestion to use the normal force as an explicit decision variable was only to "help" the solver by showing it a way to achieve force even if the nonlinear constraint coming from the penetration depth has no gradient.  (I wasn't happy with my formulation above in this regard yet, but wanted to put something down to start the discussion).

sort of interesting to consider
[

[2019-02-19 15:08] sammy-tri opened #10713 "MultibodyPlant doesn't have a way to set the default pose for free bodies"
While some joints provide a way to set the default position for newly created contexts (`RevoluteJoint::set_default_angle`, `PrismaticJoint:: set_default_translation`) there is no equivalent facility for setting the default pose for a free body (as `SetFreeBodyPose` only works after the context has been created).

This facility does exist for setting distributions for use in `SetRandomState`, but

[2019-02-19 16:13] sammy-tri commented on #2517
Reassigning to @sherm1 to triage/assign within the dynamics team.  cc @amcastro-tri

[2019-02-19 16:20] sammy-tri commented on #2517
(In case it wasn't clear, I removed myself because #10691 merged so the URDF/SDF parser part is done)

[2019-02-19 16:24] hongkai-dai commented on #10700
Thanks @RussTedrake

I am not sure if I completely follow the formulation above. Particularly these constraints
[code]
From the first constraint `0 ≤ λ_{n,i}` and the third one `λ_{n,i} (λ_{n,i} - stiffness * sdfᵢ(q)) ≤ 0`, we know that  `λ_{n,i} - stiffness * sdfᵢ(q) ≤ 0` (when `λ_{n,i} > 0`), namely `λ_{n,i} ≤ stiffness * sdfᵢ(q))`. Combining this with the second constraint we get
[code]
To make

[2019-02-19 16:25] sammy-tri commented on #10692
Assigning to @sherm1 as default owner.

[2019-02-19 16:34] sherm1 commented on #2517
To actually _enforce_  joint velocity limits in a physical simulation requires a model of a physical mechanism for doing so. For example, the limits could be enforced by an active controller that generates velocity-opposing motor torques, or a passive mechanism like a nonlinear damper. A nonholonomic unilateral constraint could conceivably be used.

Is it reasonable to pick a mechanism and automat

[2019-02-19 17:09] EricCousineau-TRI opened #10714 "lcm_driven_loop: Simplify contract to permit more flexibility"
At present, `LcmDrivenLoop`'s public contract is heavily bound to using a `LcmSubscriberSystem` to get its next update time.

This interface should be simplified to where the next update time is polled via something like a stateful `std::function<double ()> get_next_time_blocking`, s.t. you could then implement this for something like @mposa's use case (multiple LCM channels + non-LCM data), or ot

[2019-02-19 17:12] jwnimmer-tri commented on #10714
I would rather us remove `LcmDrivenLoop` entirely, than try to generalize it.  IMO it's too application-specific and too immature of a design to try to develop as part of the core library releases.

[2019-02-19 17:17] EricCousineau-TRI commented on #10714
I'd be on board with that, but we should have something to capture that workflow (interfacing a diagram with externally driven time source).

[2019-02-19 17:38] sherm1 commented on #10714
@mposa is using LcmDrivenLoop currently -- although limited, I think it provides some useful functionality and we should be careful about replacing it to make sure it addresses actual user needs.

[2019-02-19 17:39] mposa commented on #10714
I don't think it should be removed without being replaced--it represents pretty core functionality for synchronized code execution.

[2019-02-19 17:51] jwnimmer-tri commented on #10714
But it's a bad design.  A user should be able to add an LcmSubscriberSystem to a diagram (marking it as a time source when creating the subscriber), as well as as many LcmPublisherSystems as they want, and then just call `Simulator::StepTo(infinity)` and it should all just work.  Trying to shoehorn that into a weird loop API that leads to weird bootstrapping copypasta at every call site is no good

[2019-02-19 18:08] edrumwri opened #10716 "Additional publishing options for LCMPublisherSystem"
Based on slack discussion with @mposa, LCMPublisherSystem should offer fine grained control of publishing options: forced publish is always enabled at the moment, and user must select either periodic or per-step publish.

[2019-02-19 18:28] EricCousineau-TRI commented on #6828
@siyuanfeng-tri Have we felt any pain from this? I don't think we have, so I'd say we could prolly close this issue?

[2019-02-19 18:30] EricCousineau-TRI commented on #5918
I'm not sure if we've felt any significant pain points due to this specific issue. Other issues related to `LcmDrivenLoop` are better captured by #10714.

[2019-02-19 18:30] #5918 closed

[2019-02-19 18:38] EricCousineau-TRI commented on #10714
Hm... I'm not sure if I'm a fan of marking a system as a time source, as that would leak into the rest of the execution semantics and lead to even weirder edge cases in the event system than we already have. (I guess I'd be fine with this approach if we could eliminate *all* redundant event mechanisms, s.t. there's only one correct way to do a particular type of event.)

I'd much rather prefer som

[2019-02-19 18:40] jwnimmer-tri commented on #10714
I think trying to weave the "many possible sources of time that the loop consolidates" is much harder to get right than you are anticipating, and much much lower priority for our end-users than dozens of other enhancements that we could be pursuing in the meantime.

[2019-02-19 18:49] EricCousineau-TRI commented on #10714
I really don't think it will be difficult; it really is just `std::function<double()>`. Lifetime will be the user's problem, not this interface's.

I set this time period b/c I think it should be easy; however, I am definitely up for timeboxing it, s.t. if it takes more than 30min, I punt on it and provide a non-`master` workaround.

[2019-02-19 20:20] EricCousineau-TRI opened #10719 "gallery: Incoporate `drake-pytorch`"
See: https://github.com/robert-verkuil/drake-pytorch

Suggested steps:
- [ ] Do some cleanup passes on the repo (e.g. clear out unused / prototype code, etc.)
- [ ] Consider refining Python code for use in `underactuated` - either putting code in `underactuated` for ease of use, or consuming from `drake-pytorch`
- [ ] Make Drake PR to put in Gallery

\cc @robert-verkuil @pvarin @RussTedrake

[2019-02-19 21:17] edrumwri commented on #10656
@mpetersen94 investigating this is in my queue but might not happen until tomorrow. Thanks for your patience!

[2019-02-19 21:31] hongkai-dai opened #10720 "Add EvalBinding to MathematicalProgramResult"
As part of #9633. Since #10681 deprecates `MathematicalProgram::EvalBindingAtSolution`

[2019-02-19 22:14] edrumwri commented on #7834
Note that this comment is now present only in attic files (drake_visualizer.h and frame_visualizer.h)

[2019-02-19 22:23] jwnimmer-tri opened #10722 "Add const MathematicalProgram::SetInitialGuess"
As discussed in #10681, we should let multi-threaded users (who want to set a guess differently in each thread) conveniently populate an x_init vector.  The `SetInitialGuess` sugars in MathematicalProgram that subset certain variables (`decision_variable_mat`) right now are _mutable_ methods -- they modify the guess in the program.  We should also offer a version where the user can pass an x_init

[2019-02-19 23:09] jwnimmer-tri opened #10724 "Port GlobalInverseKinematics to use MultibodyPlant"
As discussed in #10681, @hongkai-dai writes:

The current deprecation marker puts its removal on 2019-06-01 as this deadline.

[2019-02-19 23:20] jwnimmer-tri commented on #9633
Placeholder for porting advice.  To be written.

[2019-02-19 23:43] sherm1 commented on #8636
This isn't actionable now. We're profiling and fixing things as they come up.

[2019-02-19 23:43] #8636 closed

[2019-02-20 00:09] hongkai-dai opened #10725 "Stores actuator effort limits in MultibodyPlant"
In both URDF and SDF, it has a tag `effort` for the joint, which stores the maximal effort for the joint actuator. This information is not stored in MultibodyPlant. There is actually a TODO to store this maximal effort https://github.com/RobotLocomotion/drake/blob/ffaa0136bed506027d10487b414fa9ba113a8e55/multibody/parsing/detail_sdf_parser.cc#L203-L207

cc @sammy-tri @amcastro-tri

[2019-02-20 03:31] RussTedrake commented on #10700
i agree.  i had a typo.  thx.

[2019-02-20 18:44] jwnimmer-tri opened #10728 "pydrake unit tests for deprecation are too boilerplatey"
We currently have many stanzas that look like this:
[code]

That's a lot of boilerplate.  We should condense it somehow, maybe:
[code]

Noted in #10681 code review.

[2019-02-20 20:38] jamiesnape opened #10729 "Add scripts for building Drake Visualizer binary releases"

[2019-02-20 21:26] SeanCurtis-TRI commented on #10387
I've got a working close-to-OpenGL renderer working sufficiently to determine the partial cost of VTK's overhead.

## Results
I ran the clutter simulation in several variations (for 10 seconds of simulation). The time results are the average result of three iterations:

Variant | Camera Count | Sim Time (s) | Realtime Factor | Render Time (s)
-- | -- | -- | -- | --
baseline | 0 | 3.62 | 2.76 | 0.0

[2019-02-20 21:33] hongkai-dai opened #10730 "Query the maximal possible number of collision pairs from SceneGraph"
Currently given a MBP and a SceneGraph, I want to know what is the maximal number of possible pairs of contact. This number should be smaller than N * (N-1) / 2, where N is the number of collision geometries. (If we put spheres on the robot as collisions, then N = number of spheres). The pair between geometries on the same body, or geometry between adjacent bodies, should be ignored.

[2019-02-20 21:49] siyuanfeng-tri commented on #10387
This is pretty awesome!
I am more concerned about the time lost to piping / system overhead / whatever it is. Even as is, I think 0.7rt is pretty tolerable for dev without the parallel execution addon.

loping in @calderpg-tri @thduynguyen as well.

[2019-02-20 22:02] SeanCurtis-TRI commented on #10387
I agree -- tackling the infrastructure cost is the next optimization pain point. But first, I'll need to finish off the prototype to make it available.

[2019-02-20 23:06] gizatt opened #10734 "MBP IK minimum distance constraint gradients incorrect for box-sphere collision"
(Opening for tracking -- Hongkai and I have been going back and forth on this for a bit.)

In [this example](https://github.com/RobotLocomotion/drake/files/2886840/mbp_ik_collision_bug.zip), I add a fixed 10x10x10 box as the ground at translation [0, 0, -5], and a free unit-radius sphere at translation [0, 0, 0] with an off-axis rotation. In this configuration, the SignedDistancePair query seems t

[2019-02-20 23:09] edrumwri commented on #10656
@mpetersen94 using @EricCousineau-TRI's reproduction code (thanks Eric!) and git bisection, PR #10262 (2a0d9a2) which disabled the -ffast-math option for Ospray, was the responsible party. This is not surprising, as my analysis of your problem indicated a floating point problem and -ffast-math mucks with the FPU state  _just by being present in the shared library_!

The code is actually correct no

[2019-02-20 23:43] #10656 closed

[2019-02-20 23:47] hongkai-dai commented on #10734
Found the bug in the code,
https://github.com/RobotLocomotion/drake/blob/1d7f9eaf9d4daf6c10368de0f60bc8e976a58b9e/multibody/inverse_kinematics/minimum_distance_constraint.cc#L113-L115
when we compute the Jacobian of point Ca in frame A, measured in frame B, this Jacobian should be expressed in the *world* frame. I incorrectly expressed it in the body frame. I will send a PR to fix this. Thanks @gi

[2019-02-20 23:49] sherm1 commented on #10656
@mpetersen94, if you want to debug this I'd suggest taking your big model and chopping it down to something small until it functions correctly, then add elements back piecewise until you can find the piece that creates a dependency on the behavior of denormalized numbers. Most likely this is due to some uninitialized data being referenced ... somewhere :( Conceivably a valgrind run could also reve

[2019-02-20 23:54] gizatt commented on #10734
Thanks for the super-quick turnaround, Hongkai!

[2019-02-20 23:55] edrumwri commented on #10656
Just to clarify: we're not saying that this is a problem in your code. But
if you need to debug the Drake code, @sherm1's suggestion is where I'd
start.

--------------------------------
Evan Drumwright
Senior Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Wed, Feb 20, 2019 at 3:49 PM Michael Sherman <notifications@github.com>
wrote:

--

Confidentia

[2019-02-21 00:10] hongkai-dai commented on #10734
@gizatt could you run your test on top of #10735, to make sure the problem is gone? Thanks!

[2019-02-21 00:33] gizatt commented on #10734
Can confirm that resolved it! New output is

[code]

[2019-02-21 01:20] jwnimmer-tri commented on #10387
Just a small nitpick: when measuring the effect of changes of code or configs on performance, in general we should use the _best_ result across several trials, not the mean.  The best result reflects what the code is capable of.  To the extent other trials are slower, it means your computer did something wrong, not that the code got slower.

[2019-02-21 01:25] jwnimmer-tri commented on #10387
I would be interested to see a plot for the Depth and Fast Depth series for Sim Time and RenderTime (stackbar) where num_camera is swept from 0 to 20 by 1-camera increments.  Knowing how the line trends would probably help us choose which facets we care about, and a path forward.  It would also help if you could publish a benchmarking branch (even if just for Depth) so others could confirm your re

[2019-02-21 01:26] jwnimmer-tri commented on #10387
Have you de-risked this technology with a macOS unit test yet?

[2019-02-21 05:08] SeanCurtis-TRI commented on #10387
To address your issues:

1. Mean vs Min: in this case the standard deviation is so laughably small, I don't think we've lost any information here.
2. I've done the data for cameras: 0, 1, 2, 4, and 8. The cost grows linearly with the number of cameras.
3. Nope. Not yet. And that's a good call. Part of the "finalizing" would've been to add the the depth-subset of standard unit tests we have for the

[2019-02-21 15:29] jwnimmer-tri commented on #10387
(On 1, that's not surprising, but all of the Q1 "improve performance" benchmarks that people are publishing are averages, and it's just bothering me.  The statistics are not meaningful, unless are are randomizing something meaningful across trials.  I'd be happier if we did it right, even if in this experiment it doesn't end up being different.)

Another thing to keep in mind: 8-12 cameras with a

[2019-02-21 15:57] edrumwri commented on #10716
Addressed by #10721

[2019-02-21 15:57] #10716 closed

[2019-02-21 16:47] SeanCurtis-TRI commented on #10387
There's a lot to unpack there.

(On 1, while I'm perfectly willing to report best observed times as a measure of performance improvement (assuming consumers of such report interpret it as such), it's difficult to see that one is any "righter" than the other. They both require context to understand the number.)

I read and pondered your proposal multiple times. Ultimately, I came to the following c

[2019-02-21 17:51] sherm1 commented on #10387
FWIW I think it is _not_ a good idea in Drake to attempt to exploit real-world delays to reduce runtime latency. That requires that the simulated system is intentionally different from the physical system and requires an awkward mix of simulated and wallclock times. Drake should stick to modeling the real system, including the real delays, but always operating in virtual time. The "exploit real de

[2019-02-21 18:20] SeanCurtis-TRI commented on #10387
Let me clarify what I meant.

We're not exploiting real delays. We're exploiting the fact that we want to model things with real delays and make sure we model that in a computationally advantageous way.

[2019-02-21 18:50] jwnimmer-tri commented on #10387
Reporting a statistic (mean) is more wrong, because _the experiment is not designed to be a statistical measure_.  It misleading readers into thinking the variance (or percentiles, or error bars) are important, but really they are only things like "Google Chrome decided to steal your CPU to show some ads", not useful statistics.

I agree the reader has to understand the experiment anyway in the fi

[2019-02-21 19:05] jwnimmer-tri commented on #10387
(Well, hopefully it goes without saying, but correctness as usual is still the _most_ important.  I'm kind of taking that a as given at this point.)

[2019-02-21 19:46] amcastro-tri opened #10736 "MbP introspection"
A number of user requests regarding topology and state introspection for an MBP model have been made. These include:

- [x] Retrieve the floating base bodies in an MBP. Proposed API: **std::vector\<BodyIndex\> GetFloatingBaseBodies().**
- [x] Free body state introspection. Proposed API: **Body::is_floating_base()**, **Body::is_quaternion_floating_base()**, **Body::get_position_start()**, **Body::g

[2019-02-21 21:06] SeanCurtis-TRI commented on #10387
I agree with all your points that matter for me to agree with. Some remaining thoughts:

1. Finishing off an low-level OpenGL renderer to replace VTK is not difficult. It's not a game engine. It's geometry with phong lighting. A very tractable piece of work. My gut says the VTK overhead justifies finishing it.

2. One of the big questions for me inherent in this issue is "how much improvement do w

[2019-02-21 21:08] #10730 closed

[2019-02-21 21:43] #10734 closed

[2019-02-21 22:51] maddog-tri opened #10739 "maliput::utility::GenerateObj() is fragile with respect to lane width"
`maliput::utility::GenerateObj()` hangs, or gives the appearance of hanging, when working on a `RoadGeometry` with a lane with a very narrow width.

This might be simply due to a defect in the `PickGridUnit()` method, which has no lower bound for the value it returns.  If the grid unit is very small compared to the overall extent of the lane, `GenerateObj()` will produce (or try to produce) a ridi

[2019-02-21 23:19] edrumwri opened #10741 "MultibodyPlant does not properly calculate the output from the generalized contact forces port"
The output port is only returning the last results from the contact solve in DoCalcDiscreteVariableUpdates(.) which means that if you have not called that method, you inexplicably get zero contact forces. There's a TODO regarding this problem in the output port calculation method, but it only says that the method should be cached (this method should have been doing the full computation in the mean

[2019-02-21 23:23] mitiguy opened #10742 "Upgrade Eigen::Matrix3 to Drake RotationMatrix class"
In many locations in Drake's C++ source code, an Eigen Matrix3 is currently being used to store a 3x3 rotation matrix (orientation of two frames).

This has has the following defects:

1. The name of the class (Matrix3) is not specific to its task.  A Matrix3 has a multitude of purposes completely unrelated to a RotationMatrix.  For example, adding two Matrix3 is sensible whereas adding two rotati

[2019-02-22 01:34] mitiguy commented on #8681
This has been cleaned up through a series of PRs, namely:
8778, 8818, 8822, 8829, 8875.

[2019-02-22 01:34] #8681 closed

[2019-02-22 02:06] mitiguy opened #10744 "Add tests for JacobianWrtVariable::kV in multibody_plant_jacobians_test.cc"
Currently, the test KukaIiwaModelTests in file multibody_plant_jacobians_test.cc only tests for JacobianWrtVariables::kQDot.  This test was overlooked with more than one developer in previous PRs.

One possible solution involves adding a method that leverages MapVelocityToQDot() in file multibody_tree.h to form the "N" matrix that relates qDot to v and use this method inAdd a method in conjunction

[2019-02-22 13:31] jwnimmer-tri commented on #10387
(2) My 2c is that with some urgency we should finish the minimum numbers requested (8-12 depth cameras at 0.5x realtime).  "Turn off color" get us to 8 at 0.5x.  It sounds like the GL renderer is the best way to get up to 12 at 0.5x.  Once that's ready, I would say we focus on features and usability instead of performance, so more like #10675, geometry queries, removing false SceneGraph state, or

[2019-02-22 15:30] EricCousineau-TRI commented on #10728
My request is that this expose the warnings `w` still, and not try to encode too much about what's to be expected, e.g.
[code]

Could be done relatively easily with a `contextmanager`:
https://docs.python.org/3/library/contextlib.html#contextlib.contextmanager

[2019-02-22 15:45] EricCousineau-TRI opened #10745 "py systems: Enable / show example of doing convertible VectorSystem"
From @RussTedrake's pain points:

There are examples of doing scalar convertible types here:
https://github.com/RobotLocomotion/drake/tree/ffaa013/bindings/pydrake/systems/test/scalar_conversion_test.py#L12

However, I should inspect how hard it is to allow intermediate C++ base classes (e.g. `VectorSystem`) to do scalar conversion through this shindig. If it's messy / boilerplatey, will consider

[2019-02-22 16:59] rcory commented on #10517
PR #10614 resolves this issue.

[2019-02-22 16:59] #10517 closed

[2019-02-22 17:13] hongkai-dai opened #10747 "return the normal direction when query the signed distance"
Currently when we query the SignedDistancePair, it only returns the geometry ID and the contact points on the body. It doesn't return the normals (The normal can be understood as the gradient of the signed distance field). When the two geometries are not touching, we can compute the contact normal as `(p1 - p2).normalized()`, where `p1, p2` are the contact points on the two bodies. But when the tw

[2019-02-22 20:38] DamrongGuoy commented on #10747
Could we prioritize the kinds of pairs of geometries?  If it's sphere v.s. {sphere, box, cylinder}, it could be done quickly.  If it's box v.s. box, it might take a bit longer.  If it's all v.s. all, I'll need to check the code to estimate.

[2019-02-23 01:57] sherm1 commented on #10747
Per f2f w @DamrongGuoy and @hongkai-dai: the intent of this is just to expose the normals that Damrong is _already_ calculating in the point-based distance queries, when executing the pairwise method that expands the points into spheres. This will require either a new API, or (better, if we can get away with it) just enhance the returned struct to include the normal, with TODOs about any cases whe

[2019-02-23 11:20] RussTedrake opened #10751 "offer LeafSystem::DeclareVectorInput(name, size, random_type)"
We have `System::DeclareInputPort(name, PortDataType::kVectorValued, int)` and `LeafSystem::DeclareVectorInput(name, BasicVector(size), random_type)`.  In both cases, the unfortunate user has to understand something about the systems framework that they should not absolutely need (`PortDataType` or `BasicVector`).  It would be trivial to offer the default `BasicVector` option, and I think it would

[2019-02-23 20:26] RussTedrake opened #10752 "mathematicalprogram::solve() is still used in the solvers doxygen"
https://drake.mit.edu/doxygen_cxx/group__solvers.html

should be updated to the new const Solve() method.

[2019-02-24 10:01] RussTedrake commented on #10745
Thanks!  My "pain point" request has two parts.  (1) just being able to convert subclasses of VectorSystem... which I think is just a matter of declaring the ScalarConverter versions of the constructor, etc(?), and (2) getting rid of the boilerplate around the python system conversion.

To be concrete, I was hoping to write this:
[code]

but had to (i think) instead write this
[code]

BTW -- love

[2019-02-24 18:16] hongkai-dai opened #10753 "compute signed distance function between a sphere (point) to a cylinder"

[2019-02-24 21:48] sherm1 commented on #10753
(The request here is for a fast, high precision distance function like we have for sphere-sphere & sphere-box.)

[2019-02-25 15:16] EricCousineau-TRI commented on #10745
I would like this issue to focus on the first pain point, will create a separate one for the second. Thanks!

[2019-02-25 15:20] EricCousineau-TRI opened #10755 "py systems: Add sugar for scalar-convertible Python systems"
Moved from #10745:

---

@RussTedrake wrote:

---

I would still like to maintain the design philosophy that the Python bindings shouldn't diverge too far from the C++ bits, unless there is meaningful sugar (in which case, there should be minimal interface coupling via forwarding).

To that end, possible solution routes:

* Write a Python wrapper class that will own the user's implementation detai

[2019-02-25 15:27] jwnimmer-tri commented on #10755
I think it would be fine to invent a totally new Python API for "I want to write a simple, pure-python System with as little boilerplate as possible" that diverges from the C++ VectorSystem API.  (Keeping around the APIs that still make sense is fine, to avoid user-code churn.)

For one, because that there is some debate that C++ VectorSystem should live on in the first place (#10348).

But really

[2019-02-25 18:26] jwnimmer-tri commented on #10728
That turns 3 lines of boilerplate into 2.  I suspect @ggould-tri would still object (as would I).

What about this?
[code]

... where the kwargs to the context are optional (defaulting to 'always', None), and so you can still do `self.assertEqual(len(w), 2)` or whatever to cover irregular conditions might occur?

[2019-02-25 19:53] EricCousineau-TRI commented on #10728
Sounds good to me!

[2019-02-25 22:41] #10577 closed

[2019-02-26 00:48] jwnimmer-tri commented on #10689
WIP Posted at #10757.

[2019-02-26 15:05] EricCousineau-TRI commented on #7793
Follow-up slack convo: https://drakedevelopers.slack.com/archives/C3YB3EV5W/p1549562118060400

Discussion is about on par with prior discussion: Either use getters / setters, or propagate `const` access.

At some point in the future, I need to draw up a minor usability doc and all edge cases to more explicitly capture pain points with both solutions.

[2019-02-26 15:48] jwnimmer-tri opened #10761 "Relocate //systems/analysis:lyapunov?"
To avoid unwanted accidental dependencies like #10705, I wonder if `//systems/analysis:lyapunov` should be relocated?  Would `//systems/optimization:lyapunov` be a more meaningful home?  As it stands now, it's the only thing in `analysis` that brings in any solvers, and the solvers package is a major subsystem, where we should be careful about spuriously adding into build targets.

WDYT @RussTedra

[2019-02-26 15:50] avalenzu commented on #10761
Hmm. I'm not sure I agree with that move. Yes, `SampleBasedLyapunovAnalysis()` solves an optimization problem, but it *is* a way of analyzing a system. I don't think that we should let the simulator push all usage of `solvers` out of `analysis`.

[2019-02-26 16:36] jamiesnape commented on #9274
This is really coupled with #8978, so maybe this should be assigned to me also?

[2019-02-26 16:39] jamiesnape commented on #9782
Do you want to assign this to me since it needs VTK changes?

[2019-02-26 16:41] jamiesnape commented on #10253
Did #10262 effectively fix this?

[2019-02-26 16:56] jwnimmer-tri commented on #10739
All issues must have an owner.  I've set @maddog-tri for now, but you may reassign.

[2019-02-26 16:56] RussTedrake opened #10763 "Simulator's real time rate API"
I've been using a simple pattern, e.g.:
https://github.com/RussTedrake/underactuated/blob/547b39b41/src/acrobot/balancing_lqr.py#L83
to run multiple simulations.

I only just now realized that the realtime rate was doing nothing after the first trial (since the initialization time wasn't being reset).

minimal request: add Simulator::ResetStatistics to the python bindings.  I don't think it's ther

[2019-02-26 16:58] sherm1 commented on #10253
Yes, between #10260 and #10262 I think this has been fully resolved. Any objections to closing it?
@EricCousineau-TRI ?

[2019-02-26 16:58] EricCousineau-TRI commented on #10253
Yes; however, it'd be nice to have a small test that links against `//:drake_shared_library` and checks sub-normal numbers. Will PR a small test.

[2019-02-26 17:00] jwnimmer-tri commented on #10763
IIRC the Simulator API expectation is that you _must_ call `Simulator::Initialize` again, between trials.  If so, that seems like a fine place to reset the time (and indeed, it already does so).

[2019-02-26 17:07] RussTedrake commented on #10763
i see.  this works:
[code]
but this (which I had tried) does not:
[code]

[2019-02-26 17:11] jwnimmer-tri commented on #10763
Yes, the manual Initialize should immediately precede the StepTo.

[2019-02-26 17:14] EricCousineau-TRI commented on #9274
Sounds good to me! (I'm sure @kunimatsu-tri won't complain :P)

[2019-02-26 17:14] SeanCurtis-TRI commented on #9274
I agree. It looks like this reported issue is the product of the proposed solution to the issues encountered in the original PR. Putting these issues into a single basket makes sense to me.

[2019-02-26 18:13] SeanCurtis-TRI commented on #9782
You're welcome to it.  :)  I'm going to keep my name affixed to it as well for bookkeeping, but I appreciate you tackling this.

[2019-02-26 19:18] #10689 closed

[2019-02-26 20:15] #10253 closed

[2019-02-26 21:13] sherm1 commented on #10763
I'm trying to figure out what would be the right fix for this, which I feel didn't work as the user (Russ) expected. The [current documentation for Initialize()](https://drake.mit.edu/doxygen_cxx/classdrake_1_1systems_1_1_simulator.html#a98b1050f09da390896f964fb7a892391) has this note:

If you make a change to the Context or to Simulator options between StepTo() calls you should consider whether t

[2019-02-26 21:39] edrumwri commented on #10763
@sherm1 and I discussed. Here are our thoughts:

Simulator::StepTo(.) should warn the user (message to stderr or an exception) when time has gone backwards, because Initialize(.) should almost always be called in such cases. We decided against silently doing this operation automatically because certain side effects (like publishing through initialization events) could get triggered.

We could fix

[2019-02-26 21:47] jwnimmer-tri commented on #10763
I think data-dependent printing to the console is one of the least desirable solutions to any kind of problem, including this one.  (Warn-once prints about deprecated codepaths are sad, but I can live with them.)  You end up needing to rate-limit the message, so that the user doesn't overwhelm either their log tolerance or their CPU throughput, in case they hit the logging condition too often.

If

[2019-02-26 21:51] sherm1 commented on #10763
I'm not in favor of printing a message because I don't think we have a mechanism in Drake to guarantee that the user will see it. Do we have any precedent for that?

[2019-02-26 21:53] edrumwri commented on #10763
It's a separate issue that I noticed when @RussTedrake noticed that one sequence worked and one didn't.

I'd be just fine with throwing an exception here. I can't imagine a case where someone would want to reset the time and not Initialize(.), but they could catch the exception if they really, really need to do that.

[2019-02-26 21:56] jwnimmer-tri commented on #10763
I added a at-most-once warning printout at

https://github.com/RobotLocomotion/drake/blob/6a8b847e3c2556156d38ee76d84ed5a3ea577759/manipulation/kuka_iiwa/iiwa_command_receiver.cc#L119-L121

because there was a public API with no C++ symbols, but I wanted to warn the user that it was deprecated.  I'm not sure if we have any/many more examples of such printing.  In a pinch I think it's better than n

[2019-02-26 21:59] jwnimmer-tri commented on #10763
We can't rely on catching exceptions (since we're not allowed to do that in Drake itself anyway).

I think for that larger issue, I'll continue to maintain that Initialize should be burned to the ground, and thus will never need by-hand curation by a user again.  I think I've been clear from the start that Initialize is a terrible idea.  StepTo should just work, always.  It has everything it needs

[2019-02-26 22:04] edrumwri commented on #10763
The user can catch the exception, no? StepTo(.) always lives in user-level code.

[2019-02-26 22:07] jwnimmer-tri commented on #10763
Some users may also have a coding convention that they cannot catch exceptions, in which case "the user may catch the exception if they want to" is not an admissible compromise.

Anyway, it would also be weird to have StepTo both take the step _and then_ throw.  (Otherwise, how could the user make progress, even by calling StepTo + catch?)

[2019-02-26 22:13] #10728 closed

[2019-02-26 22:14] edrumwri commented on #10763
Fair enough. I don't know how we can warn in any reasonable manner that forces the user to be aware of the message.

[2019-02-26 22:50] RussTedrake commented on #10761
I agree with andres.  I’d be more inclined to move simulator out of analysis, since it feels more out of place than the optimization approaches (for which there will be many more).

[2019-02-26 23:11] EricCousineau-TRI opened #10769 "pybind: Add `type_caster` for EigenPtr"
From Slack convo: https://drakedevelopers.slack.com/archives/C3YB3EV5W/p1551220325006300

\cc @jwnimmer-tri

[2019-02-26 23:13] EricCousineau-TRI opened #10770 "py systems: Bind unrestricted update"
@avalenzu mentioned that he's not blocked by this, but would find it useful.

I also would've found it useful when prototyping a pure `rospy` subscriber block in `pydrake`.

[2019-02-27 03:38] jwnimmer-tri commented on #10769
For the record, the easy work-around for now is to bind as `Eigen::Ref<...> arg`, as long as nullptr is not relevant (and then pass `&arg` to the C++ function).

[2019-02-27 10:15] RussTedrake opened #10775 "Parse urdf/sdf into SceneGraph (only)"
I'm finding myself with several use cases where I would like to add content from a urdf/sdf directly into a SceneGraph.  Right now, I'm parsing into an MBP, then throwing that MBP away.

There is an existing example from @jwnimmer-tri (with a TODO) here:
https://github.com/RobotLocomotion/drake/blob/master/automotive/automotive_simulator.cc#L194

The example I'm working on right now (PR coming sho

[2019-02-27 10:18] nemo8130 commented on #3592
Same Error !

MATLAB killed because the Java VM could not be terminated for 30 seconds.
This could be due to a thread or timer that started right before shutdown,
or a finalizer or shutdown hook that took too long to run.

I have a 4 GB RAM in Ubuntu 18.04

[2019-02-27 11:30] RussTedrake opened #10777 "MeshcatVisualizer doesn't handle mesh scale"
leading to a comically large quadrotor in meshcat:
https://github.com/RussTedrake/underactuated/blob/master/src/quadrotor/lqr.py
https://github.com/RobotLocomotion/drake/blob/master/examples/quadrotor/quadrotor.urdf#L17

the information is available to the MeshcatVisualizer class in the lcm message
https://github.com/RobotLocomotion/drake/blob/master/geometry/geometry_visualization.cc#L106

but I

[2019-02-27 14:45] BetsyMcPhail opened #10778 "cdash: Investigate why some entries only have the 'Update' column"

[2019-02-27 16:25] sherm1 commented on #10775
I believe everyone is tired of hearing me say this, but I think it is a mistake to entangle file parsing with the objects that need the parsed information. If we parse into an intermediate format rather than directly into MBP and SG, then those objects can be asked to extract what they want from the intermediate format.

[2019-02-27 16:40] siyuanfeng-tri opened #10779 "Missing mass / CoM / maybe centroidal momentum related methods in MBP"
We should probably add these back...

[2019-02-27 16:40] jwnimmer-tri commented on #10775
If you whiteboard out how that looks in this use case, I don't think it actually ends up any better.

[2019-02-27 16:41] hongkai-dai opened #10780 "Visualize multiple postures for the same MbP in the drake_visualizer"
Currently we can only visualize a single posture of the robot. If we want to visualize multiple postures of the same robot simultaneously (like I want to visualize the way points of a planned motion), there is not a clean solution to that.

Per f2f discussion with @SeanCurtis-TRI , we need to define a new LCM message to wrap the multiple postures, and drake-visualize need to parse that LCM message

[2019-02-27 16:45] jwnimmer-tri commented on #10780
By "drake-visuaslizer needs to parse that message", I hope you mean that we write a https://github.com/RobotLocomotion/drake/blob/master/tools/workspace/drake_visualizer/plugin/ that does this?

I suspect if you talk to @avalenzu or @calderpg-tri maybe we already have a solution for this?  I think we are moving to use rvis more and more anyway.  Not sure how much we really should sink cost into dr

[2019-02-27 17:46] gizatt commented on #10777
What you tried was really close to a solution -- didn't work for me either. ```element_local_tf[:3, :3] = element_local_tf[:3, :3].dot(np.diag(geom.float_data[:3]))``` did, though.

It doesn't look like `meshcat-python` supports the real three.js scale interface yet (mentioned [here](https://github.com/mrdoob/three.js/issues/991)), though I think it'd be a trivial addition. I can open a PR with th

[2019-02-27 18:27] SeanCurtis-TRI commented on #10775
@EricCousineau-TRI and I have had preliminary discussions on this very topic. The seed to our initial meeting is [here](https://docs.google.com/document/d/1zs5Byy_BBB8NqtTYhsQzva9Upk16zVxlKei9g8U6UJ0/edit#heading=h.zeprpi6ddq8r).

I still need to write up some pseudocode outlining the API and discuss this particular type of use case. This might finally be the stick to get me moving on this.

[2019-02-27 18:40] SeanCurtis-TRI opened #10786 "Advanced (or requested) visualization features & discussions"
This is an epic issue that tracks various "advanced" visualization requests. In this case, "advanced" means anything that is not a simple, literal visualization of the instantaneous state of the registered geometries. The preferred use of this issue is to create a *separate* issue with the detailed feature request (which will also serve as the platform for discussing the issue) and only link to it

[2019-02-27 21:31] RussTedrake commented on #10777
sounds perfect.  thanks Greg.

[2019-02-27 22:54] amcastro-tri opened #10787 "Enhance ports viz with System::GetGraphvizString()"
I was trying to debug the manipulation station today using `System::GetGraphvizString()`. In particular, I was trying to figure out if any of the exported input ports were left unconnected in one of the unit tests.

This is what the input ports to `ManipulationStation` look like in the generated `dot` file:
![image](https://user-images.githubusercontent.com/17601461/53528609-1d364480-3ab8-11e9-8cb

[2019-02-27 22:59] #10694 closed

[2019-02-27 23:06] sherm1 commented on #10779
@amcastro-tri a few missing methods from MBP.  Do you have a sense for the priority of these, @siyuanfeng-tri ?

[2019-02-27 23:22] liangfok opened #10788 "fast_math_test coverage test times out"
Coverage unit test `//tools/install/libdrake:fast_math_test` times out:

* https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-bionic-clang-bazel-nightly-everything-coverage/107/
* https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-bionic-clang-bazel-nightly-coverage/104/
* https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-bionic-clang

[2019-02-27 23:40] siyuanfeng-tri commented on #10779
no immediate use at the moment, i had some one shot use case, and got what i want from rbt. just figured that we should have a issue tracking this.

[2019-02-28 13:59] avalenzu commented on #10787
FWIW, if you call `diagram.GetGraphvizString(1)`for the diagram containing the `ManipulationStation` you can see the port names and it's obvious which ports are connected/disconnected. You're right though, that you wouldn't be able to tell if a port were fixed in any particular Context.

That being said, I agree that showing the port names at the System level would be good too.

[2019-02-28 17:52] edrumwri commented on #10780
On a related note, we need to visualize multiple things from the
hydrostatic contact model. I'd hate to invest time into
LCM/drake-visualizer if we're moving toward rviz. How long until Drake has
ROS support?

--------------------------------
Evan Drumwright
Senior Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Wed, Feb 27, 2019 at 8:45 AM Jeremy Nim

[2019-02-28 18:26] SeanCurtis-TRI commented on #10780
@edrumwri Please create a new issue outlining the features you want and then please append it to the list in #10786. I'd like to keep different features in different issues so the conversations don't get muddied.

[2019-02-28 18:35] pangtao22 opened #10791 "Avoid creating scalar variables when creating new symmetric matrix variables"
Consider the following SDP:
[code]

Solving it with Mosek takes a couple of minutes, but it should not take more than a second. The cause is probably that `MathematicalProgram` creates scalar variables in additional to a Mosek "matrix variable", and constrains the scalars to be equal to the entries of the matrix.

This is a known issue in JuMP: https://github.com/JuliaOpt/MosekTools.jl/issues/11 .

[2019-02-28 18:36] calderpg-tri commented on #10780
Visualizing multiple postures is already supported in the RViz interface in anzu, and my guess is that the things @edrumwri wants to visualize for the hydrostatic model are easy to visualize via [RViz markers](http://wiki.ros.org/rviz/DisplayTypes/Marker).

Anzu has some ROS support already; Drake ROS support is waiting on testing of ROS2. ROS2 has much better Mac support than ROS1 so if we can av

[2019-02-28 19:36] #10722 closed

[2019-02-28 19:40] hongkai-dai commented on #10791
@avalenzu this might have a big impact on the computation time for our SOS project. I will work on this before continuing pushing our SOS verification project.

[2019-02-28 21:35] pangtao22 commented on #10791
Thanks to @hongkai-dai for binding the terminal output for Mosek. Here's the output for the problem above:
[code]

[2019-02-28 21:36] pangtao22 commented on #10791
But if done right, the output should look more like this:
[code]

[2019-02-28 22:55] hongkai-dai commented on #10791
## Problem
The problem is that Mosek solver treats "Matrix variable" in a special manner, while in MathematicalProgram we treat "Matrix variable" as other ordinary variable.

According to https://docs.mosek.com/8.1/capi/tutorial-sdo-shared.html?highlight=msk_appendbarvars, Mosek solves SDP in this primal form
[code]
where `X̅` is the matrix variable, being positive semidefinite.

On the other hand

[2019-03-01 00:19] jwnimmer-tri commented on #10761
OK, I'll definitely keep `:lyapunov` where it is.  Next time I come back to this question, I'll try to figure out the most sensible way to help control / reduce dependency waste.

[2019-03-01 01:20] jwnimmer-tri commented on #10435
For anyone coming here from a search engine, I'm happy to take more comments and suggestions, but for now (with the documentation updates noting x86_64), I'll close this out for now.

[2019-03-01 01:20] #10435 closed

[2019-03-01 01:21] #10761 closed

[2019-03-01 01:22] jwnimmer-tri commented on #10788
@EricCousineau-TRI worth fixing?  I'd vote no -- we don't really need coverage reports for this (tiny) test case.

[2019-03-01 01:22] jwnimmer-tri commented on #10752
Relates #9633.

[2019-03-01 01:48] jwnimmer-tri commented on #10606
@EricCousineau-TRI notable for the TRI side, we should endeavor to move past GCC-6 on Bionic internally, prior to GCC-5 (Xenial) disappearing from Drake's CI.  In Drake CI only has GCC-7, we don't want to be firefighting GCC-6 issues in our internal CI.  GCC-7 had major C++17 improvements, so GCC-6 and GCC-7 are relatively dissimilar.

[2019-03-01 13:21] RussTedrake commented on #4460
Looks like this has been cleaned up since I raised the issue.  Great!

[2019-03-01 13:21] #4460 closed

[2019-03-01 14:26] tri-ltyyu commented on #10387
Based on meeting, we determined we would like to finish low level OpenGL renderer work to get the required performance.

[2019-03-01 15:24] EricCousineau-TRI commented on #10788
I'd say not for now, as it is really small. Can re-open if it becomes a future.

Thanks @liangfok for the kcov tag fix!

[2019-03-01 15:24] #10788 closed

[2019-03-01 15:33] EricCousineau-TRI commented on #3320
Given that we've now adopted usage of `MultibodyPlant` and have hashed most terminology debates there, is this issue still alive?
(I believe more specific debates have their own issue, like Jacobians?)

[2019-03-01 16:25] sherm1 commented on #3320
Let's close this fine discussion and open new ones as specific needs arise in MBPlant.

[2019-03-01 16:25] #3320 closed

[2019-03-01 19:11] tri-ltyyu commented on #9905
Prototype API to be reviewed.

[2019-03-01 19:26] tri-ltyyu commented on #10322
Plan to PR MBP benchmark reporting to master

[2019-03-01 21:24] EricCousineau-TRI opened #10798 "doc multibody: Call out nuances on spatial inertia monogram; add explicit "express-in" column"
I was implementing a quick, but generalized, `ComputeCompositeInertia` algorithm in Anzu to replace the hacky specific version (copied from ManipulationStation, etc.).

To validate the computation, I wanted to compute the kinetic energy of two floating models (w/ non-trivial pose and spatial velocity): (a) an articulated model and (b) a composite non-articulated version of the same model.

When do

[2019-03-01 21:50] sherm1 commented on #10798
Thanks, @EricCousineau-TRI! @mitiguy, can you take a look at this please to see if we can improve the notation & doc to avoid future trouble?

[2019-03-01 23:23] SeanCurtis-TRI commented on #10387
Update: The PR didn't go in today. I hit some subtleties for making multiple instances play nicely together. However, the PR should go in early next week.

[2019-03-04 00:32] RussTedrake opened #10804 "Re-distribute Gurobi in Drake binary releases"
_Edit: The original issue title was "Can users with a gurobi license (and no snopt license) use gurobi AND snopt?".  We've retitled to reflect a new consensus now._

I wasn't able to find any documentation about this on our site.  perhaps we can add it?

Can (or does) the binary distribution include gurobi bindings, but fail if the gurobi libraries aren't found?

I believe the alternative (having

[2019-03-04 14:20] amcastro-tri commented on #10322
Yeap, working on it. @sherm1 even showed me a cool example on have to estimate FLOPS as a useful statistics to report :-)

[2019-03-04 14:51] jamiesnape commented on #10804
No, we don't support providing your own commercial solver licenses or libraries at present. Enabling Gurobi support is currently a compile-time decision. We could add support for loading commercial solvers at runtime if available, but it would be an architectural change.

[2019-03-04 15:00] jwnimmer-tri commented on #10804
... and to further clarify the _"add support for loading commercial solvers at runtime if available"_:

That would entail loading `solvers/gurobi_solver.o` (wrapped in a shared library) at runtime, not just `libgurobi80.so`.  Even with the delayed load of gurobi, we cannnot ship `solvers/gurobi_solver.o` in any binary release, because it is a derived work from of `gurobi_c.h` and we do not have (t

[2019-03-04 15:03] RussTedrake commented on #10804
i understand.  thanks.

just to collect all of these thoughts in one place... the other alternative, I would think, is to have gurobi_solver.o always in the binary release, and have it check the license file (instead of loading the obj file) to confirm availability.  would this be better?  (conditional on us obtaining permission for redistributing it)

[2019-03-04 15:08] jamiesnape commented on #10804
My reading of EULA suggests that part would not necessarily be a problem, but someone would need to check for any (other) constraints.

[2019-03-04 15:09] jamiesnape commented on #10804
I think we probably want a license check as well regardless to be nice to the end-user.

[2019-03-04 15:13] jwnimmer-tri commented on #10804
@RussTedrake The easiest solution along those lines would be if we have permission to redistribute _both_ the `gurobi80.so` library _as well as_ our object code derived works of `gurobi_c.h` such as `solvers/gurobi_solver.pic.o`, subject to Gurobi's default built-in license-checking.  In that case, we can just enable it in binary releases by default with minimal code changes -- I guess just check

[2019-03-04 15:16] jamiesnape commented on #10804
My thoughts were along the lines of a `dlopen` of `gurobi80.so`, but certainly plenty of reasons to want to avoid that, if at all possible.

[2019-03-04 17:09] EricCousineau-TRI opened #10806 "doxygen: Explicitly cf. + disambiguate `TypeSafeIndex`, `Identifier`, and `TypeSpecificIdentifier`"
I knew about `TypeSafeIndex` + `Identifier`, but #10796 showed me that we also have `TypeSpecificIdentifier`.

They all serve distinct purposes, but it'd be nice to ensure that these class have `@see` cross-references with a minor text discussing differences.

\cc @liangfok @SeanCurtis-TRI

[2019-03-04 17:12] jwnimmer-tri commented on #10806
I would support the automotive one (TypeSpecificIdentifier) having a comment contrasting it with the others.  But I would not want to see the common context (TypeSafeIndex, Identifier) cite the automotive one -- since users of the common ones couldn't / shouldn't typically use the automotive one anyway.

[2019-03-04 17:20] SeanCurtis-TRI commented on #10806
`Identifier` explicitly does that analysis [here](https://github.com/RobotLocomotion/drake/blob/master/geometry/identifier.h#L103) and draws the readers attention to `TypeSafeIndex` [right up front](https://github.com/RobotLocomotion/drake/blob/master/geometry/identifier.h#L18).

`TypeSafeIndex` has the [attention call](https://github.com/RobotLocomotion/drake/blob/master/common/type_safe_index.h#

[2019-03-04 17:47] SeanCurtis-TRI opened #10808 "Proximity Engine will fail loading an obj file with a .mtl file"
In `ProximityEngine::ImplementGeometry(const Convex&...)`, `tinyobj::LoadObj` is called with a nullptr for the material library base directory. In fact, it is [documented](https://github.com/RobotLocomotion/drake/blob/master/geometry/proximity_engine.cc#L1190) to suggest that it is null "so it will be searched from the working directory." This is not correct. TinyObj has [documented that parameter

[2019-03-04 17:54] edrumwri opened #10809 "Visualize hydroelastic slip velocity and traction vectors"
Per @SeanCurtis-TRI's request, creating this issue to call out the need for visualizing the contact surface, pressure distribution, slip velocities over the contact surface, and traction over the contact surface.

The current plan for this is to craft LCM messages for each of these needs and drake visualizer plugins to display them. It would be preferable to do this with ROS/RViz instead, dependin

[2019-03-04 18:33] jwnimmer-tri commented on #10639
Having had more time to think about this, I am not super keen on the idea of `unchecked_dynamic_cast` anymore.  We might eventually want it, but I would like to defer as long as possible.

I think two cases will cover us for _most_ uses of `dynamic_cast`:

(1) In certain methods, we can change to `static_cast`, even in Debug builds.  For example, if there is a private class invariant where we _kno

[2019-03-04 19:46] jwnimmer-tri commented on #2549
Kicking this over to @hongkai-dai for a decision / resolution.  I don't think @naveenoid is working on it.

[2019-03-04 19:49] jwnimmer-tri commented on #1577
@RussTedrake I think you have been working on this?  Should this issue be reassigned to you?

[2019-03-04 19:51] jwnimmer-tri commented on #4220
Given that the reason for re-opening this was "getting relevant again" (and not "Drake is broken"), and that "again" was several years ago, I think it's fair to close this.  Please re-open with a more detailed request, if actually needed.

[2019-03-04 19:51] #4220 closed

[2019-03-04 19:52] hongkai-dai commented on #1577
There is a new issue #10700 , which add the non-penetration constraint for initial condition. I think we can close this commit?

[2019-03-04 19:52] #1577 closed

[2019-03-04 19:53] jwnimmer-tri commented on #5516
I think either this is fixed by now, or we don't really care.  If we want to insist on model-based declarations, we should deprecate the non-model-based ones (we may have already done so, IIRC).

[2019-03-04 19:53] #5516 closed

[2019-03-04 19:53] hongkai-dai commented on #2549
I will close this issue, as we already have a lot of examples, and I added a bunch of documentation for each of the example.

[2019-03-04 19:53] #2549 closed

[2019-03-04 19:55] hongkai-dai commented on #2930
Close this as we will deprecate RigidBodyConstraint.

[2019-03-04 19:55] #2930 closed

[2019-03-04 19:57] hongkai-dai commented on #4909
I believe "functional_form" is gone in drake.

[2019-03-04 19:57] #4909 closed

[2019-03-04 19:58] hongkai-dai commented on #4856
I think we will stick to using shared pointer in MathematicalProgram.

[2019-03-04 19:58] #4856 closed

[2019-03-04 19:59] hongkai-dai commented on #3658
I don't think we are going to do this.

[2019-03-04 19:59] #3658 closed

[2019-03-04 19:59] sammy-tri commented on #5092
The demo has been deleted, along with the associated comment.  The functionality does not appear to have been reproduced anywhere else.  Closing as there's nothing left to do.

[2019-03-04 19:59] #5092 closed

[2019-03-04 19:59] jwnimmer-tri commented on #10167
@naveenoid Please provide guidance here to help us understand what the code is doing / trying to do, per @mitiguy's questions above.  That would at least let another developer help resolve this issue in a timely fashion.

[2019-03-04 20:00] jwnimmer-tri commented on #6827
@siyuanfeng-tri What's your plan for this?  Did it merge already?  Should we close this?

[2019-03-04 20:00] sammy-tri commented on #6086
The pick and place demo has been removed.  I think it's safe to say there's no further outstanding work we're planning to do for it.

[2019-03-04 20:00] #6086 closed

[2019-03-04 20:01] #7173 closed

[2019-03-04 20:09] jwnimmer-tri commented on #4639
@siyuanfeng-tri Consider closing this?  Is it still relevant?

[2019-03-04 20:11] jwnimmer-tri commented on #4911
@siyuanfeng-tri Want to take a crack at solving this?  Or else re-assign?

[2019-03-04 20:12] jwnimmer-tri commented on #7399
@edrumwri Maybe you can PR some suggested documentation that would have preempted your confusion?

[2019-03-04 20:15] jwnimmer-tri commented on #7045
@sammy-tri Can I nominate you to drive this issue home to completion?  Either resolving what is still painful with PRs or documentation, or deciding that it's not painful and closing the issue?

[2019-03-04 20:37] sammy-tri commented on #7045
Ok, I'll come up with something or close.

[2019-03-04 20:40] jwnimmer-tri commented on #3067
It's in the attic, and we're no longer enhancing it.  Closing now.

[2019-03-04 20:40] #3067 closed

[2019-03-04 20:44] jwnimmer-tri commented on #7536
Fixed by #10535 and #10439.

[2019-03-04 20:44] #7536 closed

[2019-03-04 20:46] jwnimmer-tri commented on #9039
Fixed by #10591 (removing all of pick_and_place).

[2019-03-04 20:46] #9039 closed

[2019-03-04 20:47] jwnimmer-tri commented on #8714
Absent any additional info, we will close for now.  If it comes up again with more info, we can repair it then.

[2019-03-04 20:47] #8714 closed

[2019-03-04 21:19] sherm1 commented on #10639
Sounds reasonable. We can deal with this case by case to see whether we have any actual problems left. I'm not wild about changing dynamic_cast to static_cast even when we "know" we've got the right type. Would be good to have an extra assertion there, at least in Debug. Although I agree if the reasoning is local enough it's fine (though that's not super common).

[2019-03-04 21:20] siyuanfeng-tri commented on #4639
still relevant, but closing anyhow due to lack of general interest.

[2019-03-04 21:20] #4639 closed

[2019-03-04 21:26] jwnimmer-tri commented on #10639
I agree that (1) is likely to be rare.  I'd also argue that if the purpose is an assertion, there is a chance that writing it down as a `DRAKE_ASSERT` ends up being clearer than writing it as `unchecked_dynamic_cast`.

[2019-03-04 22:09] sherm1 commented on #10639
I like that -- we could just do that everywhere when we're worried about performance.
[code]

[2019-03-05 00:26] #10621 closed

[2019-03-05 06:22] hongkai-dai opened #10816 "RigidTransform * Matrix3Xd returns Vector3d"
There is something incorrect in using operator* with RigidTransform. I tried `X_AB * p_BV`, where `X_AB` is a RigidTransform, and `p_BV` is Eigen::Matrix3Xd with 4 columns. It returns me a Vector3d, only the result of `X_AB * p_BV.col(0)`. I think we should either throw a compilation error or returns a Matrix3Xd. I prefer to returning a Matrix3Xd

[2019-03-05 13:53] RussTedrake opened #10818 "ipython kernel crashes (with no diagnostics) when input port is not connected"
running this trivial example in a notebook brings down the kernel:
[code]
uncommenting the FixInputPort line fixes it, of course.

this particular example requires #10817

[2019-03-05 15:55] RussTedrake opened #10824 "bind symbolic::Evaluate in python please?"
@sadraddini started using pydrake.symbolic (converting from sympy) and said it's MUCH faster for most things.  But we don't offer the matrix version of `Evaluate` yet.

https://drake.mit.edu/doxygen_cxx/namespacedrake_1_1symbolic.html#a189f3085c95a362da3dafdc788be3302

Perhaps other `MatrixBase<symbolic::Expression>` bindings are missing, too?

[2019-03-05 16:01] sherm1 commented on #10816
I marked this high priority -- multiplication is supposed to work right! (attn @mitiguy to investigate please)

[2019-03-05 16:35] amcastro-tri opened #10826 "Buggy configuration for a Box vs HalfSpace penetration test"
While debugging #10758 I found a configuration for which the box vs half-space penetration query fails.
You can find a unit test for the `ProximityEngine` [here in my Drake fork](https://github.com/amcastro-tri/drake/blob/19061cebf2fd084db3e38cdf80c8f4ca87e686f7/geometry/test/proximity_engine_test.cc#L2494). You can fetch and compile that for testing with: `bazel run geometry:proximity_engine_test

[2019-03-05 16:46] #10666 closed

[2019-03-05 16:54] SeanCurtis-TRI commented on #10826
Outstanding! Thanks @amcastro-tri we'll take a look at this. One would presume this is affecting @mitiguy sliding box efforts, yes?

[2019-03-05 17:16] amcastro-tri commented on #10826
Yes, @mitiguy and @sherm1 asked me to debug #10758.

[2019-03-05 17:20] SeanCurtis-TRI commented on #10826
Tangentially related to this: how did you end up noticing the bug, and do you think there's things we can do in the future to help people recognize when these types of bugs crop up?

The first idea that comes to my mind is contact force visualization. Your thoughts?

[2019-03-05 18:25] EricCousineau-TRI commented on #10816
BTW Does it throw an error in debug mode? I'd assume that it would.

[2019-03-05 18:28] EricCousineau-TRI opened #10829 "py systems: Discourage Allocate + Calc patterns; encourage Eval patterns"
`Eval` is *extremely* useful; any old `Allocate` + `Calc` patterns should either be removed in Python unittests, or there should be a big warning text that says this is not useful (unless there's a bottleneck, which is highly unlikely).

Follow-up from this convo:
https://github.com/robotlocomotion/drake/pull/10817#pullrequestreview-210839718

[2019-03-05 19:25] DamrongGuoy opened #10833 "Consider merging of geometry::PenetrationAsPointPair and geometry::SignedDistancePair."
After fixing #10747, the two struct PenetrationAsPointPair and SignedDistancePair will be almost identical.  We should consider merging them and reduce code duplication.

Cc: @sherm1, @SeanCurtis-TRI, @hongkai-dai.

[2019-03-05 20:18] amcastro-tri commented on #10826
The only way I know for this kind of thing that works; dump files with the actual data time step by time step, non-linear iteration by non-linear iteration.

I was telling @sherm1 and @edrumwri today about this today. For some time I actually thought it was a viz problem, simply because I don't trust the visualizer to render the first few time steps of my sim!! So I do not think the LCM+viz (whate

[2019-03-05 21:22] #10460 closed

[2019-03-06 05:13] hongkai-dai commented on #5568
Sorry for not working on this for a long time. I just created the same test in C++. Now this program takes 1.2ms to call `mosek_solver.Solve(prog, {}, {}, &result)`. Out of that 1.2 ms, Mosek spends 1.03ms to actually solve the problem, the rest are the overhead. So I think the overhead is small.

My test is in https://github.com/hongkai-dai/drake/blob/mosek_lp_profile/solvers/test/mosek_lp_profil

[2019-03-06 13:12] RussTedrake commented on #7576
Related to this, I found it surprising that `Expression::ToPolynomial` returns a `Polynomiald` (not `symbolic::Polynomial`).  Could we add a bread-crumb in the documentation of that method to tell people they can convert to `symbolic::Polynomial` using the `symbolic::Polynomial` constructor?

[2019-03-06 13:19] RussTedrake opened #10839 "clean up / sugar needed for mathematical program's use of symbolic::Polynomial"
See, for example:
https://github.com/RussTedrake/underactuated/blob/pend_global_sos/src/pendulum/global_sums_of_squares.ipynb

Our `prog.New__Polynomial` methods return `Polynomial` objects.  But these objects don't play well with other symbolic variables, etc.  So I end up calling `.ToExpression()` on them almost immediately almost always.  I've found this confusing to students/collaborators as w

[2019-03-06 15:58] rcory opened #10840 "Implement contact-implicit direct transcription using MultibodyPlant<AutoDiff>"
and use it in a simple contact planning example (planar manipulation). The approach is outlined in:

Posa, M., Cantu, C., Tedrake, R.: A direct method for trajectory optimization of rigid
bodies through contact. International Journal of Robotics Research 33(1), 69–81 (2014)

[2019-03-06 16:44] hongkai-dai commented on #10839
I think there is a tradeoff between ease of use and speed. I guess you don't like to use the returned polynomial directly, because this polynomial will be used later in other symbolic operations, and it is easier to apply these operations to symbolic Expression, rather than on symbolic Polynomial. For example, in your code
[code]
On the other hand, after you apply these symbolic operations, eventu

[2019-03-06 18:35] sherm1 opened #10842 "Should we rename StepTo() -> AdvanceTimeTo() ?"
Because the Simulator advances time in lots of tiny steps of its own choosing, the method name "StepTo()" has created a lot of confusion when we talk about "steps" (most recently this morning with an advanced user). For example, we have "per-step" events and users often think we mean "once per StepTo() call", but that really means "once per trajectory-advancing substep".

What `StepTo()` actually

[2019-03-06 19:24] jamiesnape opened #10843 "Recreate monitoring scripts for queue length, etc. for new Jenkins"

[2019-03-06 23:44] sherm1 commented on #10692
Status: PRs #10759 and #10838 in review.

[2019-03-07 00:31] DamrongGuoy commented on #10753
Status: The PR #10813 to fix this issue is under code review.

[2019-03-07 00:44] DamrongGuoy commented on #10747
status: We will fix this issue in two PRs.  The first PR #10823 is to define API and unblock @hongkai-dai, and it is under code review.  The second PR will start after another in-flight PR #10813 landed to avoid code conflict.

[2019-03-07 01:42] sadraddini opened #10846 "pydrake.symbolic.Evaluate: Having an Array as Env"
Related to #10824 and #10835 and as @RussTedrake suggested.

Now we have the python bindings for Evaluate function for a matrix. It works as
`
pydrake.symbolic.Evaluate(X,E)
`
where `X` is a numpy array of `pydrake.symbolic.Expression` objects as entries, and `E` is the environment in the form of a dictionary `{pydrake.symbolic.Variable:float}`. This allows for fast evaluation of large matrices ar

[2019-03-07 15:38] EricCousineau-TRI commented on #9274
(FTR Resolution is coupled to #8978 b/c we want to de-singleton these bits.)

[2019-03-07 15:39] EricCousineau-TRI commented on #8978
Per f2f w/ Jamie, he's in the process of upgrading VTK + OSPRay + embree.

[2019-03-07 15:46] EricCousineau-TRI commented on #10606
Notes from f2f Kitware meeting:

Might also be able to push up Python 2 deprecation on Mac.
Would simplify Homebrew packaging, and lighten the load on Jamie for packaging.

Possibly just make Mojave images be Python 3 only?
Would relate Drake Visualizer upgrade, but that may not be too much overhead - all platforms should use Drake Visualizer on Python 3.

[2019-03-07 15:49] EricCousineau-TRI commented on #8940
Howdy Pat! Just to follow-up, can I ask if you have any leads on resolving this?
Is there anything that @jamiesnape or I can help with?

I'd really enjoy being able to use the fixes that you've got! (Been using the affordance markers for some workflows for camera placement + IK)

[2019-03-07 15:51] EricCousineau-TRI commented on #10385
BTW @jamiesnape has been hitting some pain points on this when provisioning. Significant (but not huge) pain point due to the latency.

[2019-03-07 15:53] EricCousineau-TRI commented on #10843
Per f2f, this is due to AWS infrastructure flakes that affects Jenkins throughput; AWS had tried spinning stuff up, then Jenkins got into a deadlock.

Workaround is to kill instances that are hanging.

Resolution is to email people, possibly ping `#buildcop` on Slack, when things get backed up.
cref: https://drakedevelopers.slack.com/archives/C270MN28G/p1551459612000400

[2019-03-07 15:59] EricCousineau-TRI opened #10847 "git: Ensure PRs don't add big files"
Can do it as a git hook, or a nag bot, or a Jenkins script.

Can use Kitware's GitHub App (pre-check) for doing Git linting.

[2019-03-07 16:01] zackgalbreath commented on #10847
We might be able to re-use or re-purpose a GitHub app we wrote for this purpose for another project.

https://github.com/apps/pppl-bot

[2019-03-07 17:05] soonho-tri commented on #10846
@sadraddini , thanks for the suggestion. I'll work on it.

[2019-03-07 17:06] andrewbest-tri opened #10848 "Maliput Needs a container class for the RoadGeometry, RightofWayRules, Etc."
We have discussed the need for a container class for relevant Maliput data beyond the RoadGeometry.

We envision a RoadNetwork class which would wrap the existing structures
RoadNetwork:
- RightOfWayRules
- RightOfWayStateProvider
- SpeedLimitRules
- RoadGeometry
- Intersection

Having such a structure will provide a more convenient access pattern for client code.

[2019-03-07 17:34] SeanCurtis-TRI opened #10849 "Test coverage of primitive-primitive signed distance code"
We've introduced a bunch of bespoke calculations for computing high-quality, fast primitive-primitive signed distance queries.

Up to this point the test strategy has been somewhat shotgun. Throw a lot of procedurally generated configurations at the test. My concern is that it leads to *a lot* of test code without any assurance that the kth configuration provides any more insight into the correctn

[2019-03-07 17:39] SeanCurtis-TRI opened #10850 "Technical Debt - proximity_engine.* have become monsters"
The `geometry/proximity_engine.*` files have grown out of control. As we support more and more geometry queries (with or without bespoke functionality), they cannot be continually added directly into `proximity_engine.*`. Its growth has led to multiple artifacts:

1. Reduced ability to separate tests and functionality,
2. Increased review cost as we slog through an ever-growing file.

Proposed sol

[2019-03-07 17:40] #7399 closed

[2019-03-07 17:40] avalenzu commented on #10842
`SimulateTo()`?

[2019-03-07 17:42] edrumwri opened #10851 "Manipulation station needs refactoring to be able to swap grippers readily..."
(for enabling a TRI-funded university researcher's project).

[2019-03-07 17:44] edrumwri commented on #10842
That loses some specificity, but does make me think that "AdvanceTimeTo"
might not communicate that state is being advanced.

--------------------------------
Evan Drumwright
Senior Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Thu, Mar 7, 2019 at 9:40 AM Andres Valenzuela <notifications@github.com>
wrote:

--

Confidential or protected information

[2019-03-07 19:46] SeanCurtis-TRI commented on #10387
This hit a speed bump: it has proven nigh on impossible to provide mac support for the OpenGL renderer.

The path forward is:

1. Modify `dev/SceneGraph` to reflect the future API in which renderers are externally instantiated and passed to `SceneGraph`. (This is about 90% done and will be PRd imminently).
  - @EricCousineau-TRI this should make your godot efforts *much* simpler.
2. Move the OpenG

[2019-03-07 20:34] amcastro-tri commented on #10842
`AdvanceTo()` (shorter) would do it also IMO.

[2019-03-07 20:51] #10826 closed

[2019-03-07 20:54] SeanCurtis-TRI commented on #10675
See #9540 for update

[2019-03-07 20:55] SeanCurtis-TRI commented on #9540
RenderEngine abstraction got stopped a few weeks ago -- requests for a design change on how RenderLabels are managed led to a rearchitecture that was interrupted by other issues. The RenderLabel rearchitecture is just about ready for a PR, so the chain will continue in the next day or so.

[2019-03-07 21:12] sherm1 commented on #10842
`SimulateTo()` does seem very clear, especially since this is a _Simulator_ method!

[2019-03-07 22:40] RussTedrake commented on #10387
I thought the plan was to fallback to vtk on mac and keep opengl rendered in drake for linux?

[2019-03-07 22:40] EricCousineau-TRI commented on #10851
(Peanut gallery comment) Please make this solution be decomposition + modularity, not more entry points or configurations switches!

[2019-03-07 22:41] EricCousineau-TRI opened #10859 "multibody: Upstream `ComputeCompositeInertia` from Anzu"
Follow-up from convos with @amcastro-tri and @RussTedrake

May relate #10851 (in that you have less book-keeping)

Question is:
Should this be a free function, or yet another method in MultibodyPlant, among 100s of others?

[2019-03-07 22:43] EricCousineau-TRI commented on #10859
Ultimately, the methods I wanna upstream (in some form) are here:
https://gist.github.com/EricCousineau-TRI/d32904bc29cb88d8594631f6e5167cda

[2019-03-07 23:12] sherm1 commented on #10859
`plant.ComputeCompositeInertia(context, bodies)` is better than a free function IMO. For optimal performance the free function would have to delegate to a plant method anyway, since only the plant has a deep understanding of the exploitable tree topology. It is very common for multibody system classes to have a huge API and I've never seen that cause a problem. Doxygen grouping should help users f

[2019-03-07 23:16] SeanCurtis-TRI commented on #10387
True; but the OpenGL renderer *can't* even build under Mac. So, rather than put contortions into the build system and `#ifdefs` all over the code to account for mac, @jwnimmer-tri felt that this direction was going to be saner.

On the plus side, it allows me to leak the actual API that'll land in mainstream geometry so @EricCousineau-TRI can work against that instead.

[2019-03-07 23:19] jwnimmer-tri commented on #10387
I think that once we have unforked SG and once we have baked the optimized GL depth renderer in Anzu for a while until it's stabilized, then we could look at moving it to Drake master as an Ubuntu-only module.

[2019-03-07 23:20] sherm1 opened #10860 "Contact results caching causes MBP slowdown?"
Apparently Drake PR #10783 (cache contact computations) caused a substantial slowdown. Please investigate!

(Observed in Anzu -- see issue `#1952` there.)

/cc @edrumwri

[2019-03-08 11:32] RussTedrake opened #10862 "Request: Need `SystemFunction`? (related to `SystemConstraint`)"
The `SystemConstraint` seems to be playing out nicely.

I've been waiting on this request, but my use cases keep building up.  I *think* we also need the notion of a `SystemFunction`?  (basically the same thing, but with no upper/lower bounds)  It should be transmogrifiable, too.

The simplest motivation for this is to be able to specify Costs for an optimization problem at a system/subsystem leve

[2019-03-08 11:36] RussTedrake commented on #6732
@weiqiao -- i just found this.

[2019-03-08 11:43] RussTedrake opened #10863 "Implement RegionOfAttraction(system, context, options)"
I've been updating all of the sums-of-squares code for underactuated.  While it's fresh in my head, I want to go ahead and knock this long-time missing feature out.

This will be an updated, modernized version of https://github.com/RobotLocomotion/drake/blob/last_sha_with_original_matlab/drake/matlab/systems/%40PolynomialSystem/regionOfAttraction.m

Depends on https://github.com/RobotLocomotion/dr

[2019-03-08 11:47] #10570 closed

[2019-03-08 11:49] RussTedrake commented on #9723
Addressed by https://github.com/RobotLocomotion/drake/pull/10748

[2019-03-08 11:49] #9723 closed

[2019-03-08 12:10] RussTedrake commented on #9891
@kmuhlrad -- might you be able to knock this out now?  I know you've got all of the pieces.

[2019-03-08 12:14] RussTedrake commented on #10022
I believe that the current plan of record for this is to port the yaml parsing from anzu into drake.  @sammy-tri -- perhaps I could put this onto your plate? (priority is marked as low)

[2019-03-08 12:18] jwnimmer-tri commented on #10022
@sammy-tri If you like, I could start moving the visitor/archive pattern over?  That seems to have stabilized by this point, even though the schemas that use it are still evolving.

[2019-03-08 12:40] RussTedrake commented on #9801
@kmuhlrad -- can you update me on what you consider to be the current status of the camera config in manip station?  (do we still need a better way to configure it?)

[2019-03-08 13:01] RussTedrake commented on #10863
First piece to land will be some visualization helpers.  Something like:

[code]
I also want to make sure it's easy to slice/project higher-dimensional elements here.  slice is just Substitute.  Projection needs more care/helpers.

[2019-03-08 13:06] avalenzu opened #10864 "Vector output ports with size = 0 have data type set to kAbstractValued"
# Problem:
In `CreateCachedLeafOutputPort()` we have the following logic for inferring data type from size:
https://github.com/RobotLocomotion/drake/blob/a7700d3592b72a23cd46e75c9841ae3844bffdb4/systems/framework/leaf_system.h#L2498
This makes it impossible to create 0-element vector output ports, which in turn makes it impossible to connect anything to 0-element vector input ports, for which `get

[2019-03-08 13:23] jwnimmer-tri commented on #10862
We have the SystemConstraintCalc typedef -- though it's only for a single scalar, not the ensemble of all scalars.  It's vector-valued, but I assume that's what you want here as well.

So if you just need, e.g., `std::function<void(const System<Expression>&, const Context<Expression>&, VectorX<Expression>* value)>` as a type, we have that.

Is the request here to merely have a class that denotes a

[2019-03-08 13:36] jwnimmer-tri commented on #10860
I also posted this in 1952 but FYI here also -- for now, we're working around this by keeping Anzu's pin of Drake set back prior to #10783, but we can't do that for long before it becomes too painful.

I'd say we either need to merge a fix or work-around today (Friday), or else we revert the Drake PR.  We could even just revert now, if you guys don't mind.  That would give you more breathing room

[2019-03-08 13:41] edrumwri commented on #10860
I don't think we should revert to code that was giving wrong answers but
faster.

--------------------------------
Evan Drumwright
Senior Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Fri, Mar 8, 2019 at 5:37 AM Jeremy Nimmer <notifications@github.com>
wrote:

--

Confidential or protected information may be contained in this email
and/or attachment

[2019-03-08 13:43] jwnimmer-tri commented on #10860
Hmm, ok.  I didn't realize that #10783 was both fixing correctness bugs _and_ trying to improve the performance.

[2019-03-08 13:44] jwnimmer-tri commented on #10860
I see now that the linked issue has more details.  So yes, I agree we should not re-introduce that bug.  I guess it's fire drill time, then.

[2019-03-08 14:00] jwnimmer-tri commented on #10860
Actually, no; on second thought -- the manipulation simulations have been surviving for months with this bug.  After a revert, we can survive for another week while Alejandro et al figures out how to make it both correct and still perform with an acceptable speed.

Anzu is literally unusable from this degree of performance regression.

So I'll return to my original premise -- either the speed gets

[2019-03-08 14:25] jwnimmer-tri commented on #10864
I have a fix for this in progress.

[2019-03-08 14:42] edrumwri commented on #10860
I oppose reverting to buggy code that will impact all of our users, Anzu
and otherwise.

--------------------------------
Evan Drumwright
Senior Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Fri, Mar 8, 2019 at 6:00 AM Jeremy Nimmer <notifications@github.com>
wrote:

--

Confidential or protected information may be contained in this email
and/or att

[2019-03-08 14:45] jwnimmer-tri commented on #10860
I agree with your in principle -- but to reiterate: the performance regression is so bad that the major simulations inside Anzu _are no longer usable_ and the team _cannot do any work_.

Let's see if someone can fix it today, in which case the question is moot anyway.

[2019-03-08 14:46] edrumwri commented on #10860
Immediate fix is necessary, agreed.

--------------------------------
Evan Drumwright
Senior Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Fri, Mar 8, 2019 at 6:45 AM Jeremy Nimmer <notifications@github.com>
wrote:

--

Confidential or protected information may be contained in this email
and/or attachment. Unless otherwise marked, all TRI email comm

[2019-03-08 15:20] EricCousineau-TRI commented on #10864
https://github.com/RobotLocomotion/drake/issues/10105 is a duplicate of this.

[2019-03-08 15:24] kmuhlrad commented on #9801
Right now the cameras are still added in the C++ via hardcoded transforms. I'm still using the custom config files for Python stuff, which repeats some of that information. No cameras exist in any .sdf files (although that makes less sense for the clutter clearing demo than for the class setup). Deciding a common format for configuring the cameras would be good.

[2019-03-08 15:45] jwnimmer-tri commented on #10022
And to clarify.. I think the YamlReadArchive is stable enough to move to Drake.  I don't think we can move many specific schemas (like model directives) yet -- they are some mix of too unstable, or too poorly designed, to upstream.

[2019-03-08 15:48] jwnimmer-tri commented on #10864
Would you marked #10105 as closed now (citing this issue), if indeed its a strict duplicate?

[2019-03-08 15:55] EricCousineau-TRI commented on #10022
+1000 to Jeremy's comment

Extra peanut gallery comment, parallel my other in #10851:
There's been quite a few PRs and issues that (to me, at least) indicate that `ManipulationStation` should be broken apart for applications that do not fit its design (which for simple tutorial uses is *absolutely* great, but over-encapsulated for anything else).

[2019-03-08 15:59] EricCousineau-TRI commented on #9801
Are y'all using ManipulationStation at all in C++?

If not, consider just adding the cameras through Python, which is rich enough language that you don't really need a config file? (just sugar functions, like `xyz_rpy_deg`?)

[2019-03-08 16:00] EricCousineau-TRI commented on #10105
This is dududududududuplicate of #10864.

[2019-03-08 16:00] #10105 closed

[2019-03-08 16:00] EricCousineau-TRI commented on #10864
Done.

[2019-03-08 16:02] sammy-tri commented on #10022
:+1: yeah, I think it's time to do this.  We can discuss further about the specific schemas.

[2019-03-08 16:10] hongkai-dai commented on #10291
Resolved by #10613 #10391

[2019-03-08 16:10] #10291 closed

[2019-03-08 16:17] kmuhlrad commented on #9801
All of my uses are in Python. I think the point of the config files is to make sure that values aren't being repeated in multiple places. For example, I need access to the camera pose when doing downstream point cloud processing so I can put the point cloud in world frame, which shouldn't live in ManipulationStation.

[2019-03-08 16:18] amcastro-tri commented on #10860
Looking!

[2019-03-08 16:23] hongkai-dai commented on #10290
Resolved by #10391 #10613 #10684

[2019-03-08 16:23] #10290 closed

[2019-03-08 16:27] jwnimmer-tri commented on #8821
Given the increasing number of python-driven test cases (including in Anzu), I think it would be nice if we could add this feature, even if it means blacklisting the math_overloads_test from xml reporting, for now.

@EricCousineau-TRI Can I ask for a priority bump here?

[2019-03-08 16:30] hongkai-dai commented on #10200
Updates, since #10201 calling NewSosPolynomial is fast, but the problem still pertains, that calling `const symbolic::Polynomial p{monomial_basis.dot(Q_poly * monomial_basis)}; ` is slow.

[2019-03-08 16:39] hongkai-dai commented on #10202
@RussTedrake since you are adding SOS examples to underactuated courses, this issue could be relevant.

Inside `AddSosConstraint(p)`, I first create a new SOS polynomial, and then equate the polynomial `p` to this newly created SOS polynomial. Then I return both the Hessian of this new SOS polynomial, together with the linear constraint that equates `p` to the sos polynomial. But to return that li

[2019-03-08 16:40] FischerGundlach commented on #6732
@weiqiao

I was pinged and saw that the [PR](https://github.com/RobotLocomotion/drake/pull/6795)  still needed some changes.

I am currently on holidays, but ask me if there is something I can help on with + if the code/ parts of it make it into the master I am very happy.  If I remember, both continouse and discrete were tested.

[2019-03-08 16:41] avalenzu commented on #9501
Just ran into this issue while trying use MbP + SG with `systems::trajectory_optimization::DirectCollocation`. I don't need to modify any geometry during the optimization, so the approach of having `GeometryState` be an abstract cache entry would be perfect for me here.

[2019-03-08 17:29] EricCousineau-TRI commented on #8821
Bumping priority (feel free to make it higher).

W.r.t. `math_overloads_test`, I can certainly de-stupify the test and see about using sharding (or something else that's less dumb).

@jamiesnape Do you think this might be doable with the next week or two?

[2019-03-08 17:33] EricCousineau-TRI commented on #9801
Hm... What is the point cloud processing written in? How are these things coordinated?
Can you point to the code in `underactuated`?

This can be resolved with either functions or middleware comms; I'd only be fine (and only marginally so) with config files in `ManipulationStation` as long as there are MASSIVE disclaimers stating they're only tailored to acute use cases within `pydrake.examples` a

[2019-03-08 17:36] EricCousineau-TRI commented on #10387
Yes, please!

+1 to this as well. I'm not a huge fan of conditional compilation, but we'll have to do it for ROS1 / ROS2 support at some point.

[2019-03-08 17:46] jamiesnape commented on #8821
If it is high priority, maybe within the next two weeks, otherwise I have a huge list of medium priority items with which it would need to fight for time.

[2019-03-08 18:41] kmuhlrad commented on #9801
All the processing I'm doing is in Python. Here's a slightly outdated version of the system: https://github.com/RobotLocomotion/6-881-examples/blob/master/perception/point_cloud_to_pose_system.py. Now that PointClouds support RGB, the RGB images would be connected elsewhere. The entire flow is in https://github.com/RobotLocomotion/6-881-examples/blob/master/perception/run_perception_system.py#L106

[2019-03-08 18:49] #10864 closed

[2019-03-08 19:16] #10791 closed

[2019-03-08 19:19] jwnimmer-tri opened #10869 "Add yaml_read_archive suport"
Anzu has a component named yaml_read_archive, which uses the visitor/archive pattern to easily load yaml data into C++ structures, without having to write boilerplate.

Its API and implmentation seem stable enough now that we should relocate this component to Drake, so it can be used where Drake needs to touch YAML data.

[2019-03-08 19:19] jwnimmer-tri commented on #10022
=> #10869

[2019-03-08 19:23] jwnimmer-tri commented on #10869
@sammy-tri My proposed plan would be thus: PR the Anzu files into a `dev` folder in Drake (tests and all) without any changes; this should be a rubber-stamp PR, since the code has already been feature-reviewed.  Then, use Drake PR(s) to finish any TODOs or warts, and then platform-review its move out of dev.  Does that sounds good, or too complicated?

[2019-03-08 19:26] jwnimmer-tri commented on #8821
@EricCousineau-TRI if you want to fix math_overloads_test, I could probably take on the xmlrunner change.  I think I might even just prototype it inside Anzu in the next week, anyway.

[2019-03-08 19:31] sammy-tri commented on #10869
Sounds reasonable.

[2019-03-09 00:05] EricCousineau-TRI commented on #9801
Ah, yeah, that discussion is very relevant. I was about to re-type the same response :)

We really should start modularizing `ManipulationStation` s.t. it's no longer a unifying (but highly conditional / multi-modal) interface, but rather a *very* compact and useful integration of useful elements that people can easily copy + paste to modify to their desire.

Truly, there should be a free function

[2019-03-09 00:08] EricCousineau-TRI opened #10872 "math_overloads_test: De-stupify test execution"
See discussion: https://github.com/RobotLocomotion/drake/issues/8821#issuecomment-471009992

[2019-03-09 00:45] RussTedrake commented on #10202
I do not use the binding that is returned.  It would be fine with me to not return that.

If you are changing the return types, can I make a request to sneak in during the same time?  The PSD matrix returned by `AddSosConstraint(p)` is effectively useless to me, because i don't know the monomial basis that is created behind the scenes.  I would recommend returning the `MonomialBasis` for that call

[2019-03-09 01:07] RussTedrake commented on #10202
fyi @pangtao22

[2019-03-09 03:33] hongkai-dai commented on #10202
Will send the PR to include MonomialBasis

[2019-03-09 04:55] weiqiao commented on #6732
@FischerGundlach
I think you code is good enough. If I must make some changes, I would
- replace the recursive call by an iterative function to save memory for large inputs
- write the function in template format

[2019-03-09 07:48] FischerGundlach commented on #6732
When would you need it running by?

On Sat, Mar 9, 2019, 05:55 weiqiao <notifications@github.com> wrote:

[2019-03-09 08:42] RussTedrake opened #10874 "MultibodyPlant gives a mysterious error if an sdf suddenly gains collision geometry"
Problem:
https://stackoverflow.com/questions/55075161/how-to-debug-inputporteval-required-inputport0-is-not-connected

Proposed solutions:
- update all multibody examples in drake to use the `AddMultibodyPlantSceneGraph` sugar.
- if possible, provide a better error message for this case.  (not sure if there is a convenient single point of entry for this call, though...)

[2019-03-09 12:36] RussTedrake commented on #10863
Variations to (potentially) implement:
- Fixed V, search for ρ
  - [ ] line search on ρ
  - [ ] Vdot > 0 => V > ρ
- Search for V
  - [ ] bilinear alternations on V, λ
  - [ ] convex outer approximation (e.g. Henrion)

Other options / variations:
- [ ] Trig-poly w/ s^2 + c^2 = 1
- [ ] Trig poly on the quotient ring
- [ ] Implicit dynamics for rational polynomial (trig/poly) vector fields (e.g. MBP)

[2019-03-09 14:21] jwnimmer-tri commented on #10860
@amcastro-tri Can you post a status update?  I have prepared #10875 as a work-around for next week, in case we need it.

[2019-03-09 17:15] weiqiao commented on #6732
@FischerGundlach No worries. I'll take care of it.

[2019-03-09 17:39] amcastro-tri opened #10878 "Simulator logic invalidates ALL discrete events in a diagram."
What happens is that when the simulator attempts to handle a single discrete update, all discrete value cache entries in the diagram being simulated get invalidated.

The problematic line of code in the simulator was identified to be within `Simulator<T>::HandleDiscreteUpdate()`, specifically in [this line](https://github.com/RobotLocomotion/drake/blob/109d0564603faf02c95c9e51ac670ab77923414a/syst

[2019-03-09 17:40] amcastro-tri commented on #10860
Two bugs so far:
 1. See #10878.
 2. A small PR that at least bumps Anzu speed up to 1.1X (our target now is 1.6X). I'll PR this soon.

[2019-03-09 18:16] amcastro-tri commented on #10860
Small fix promised in (2) in #10879. This of course does not fix all of the problems we have with discrete updates in #10878 and continuous updates from the integrators as explained in #10879.

[2019-03-09 18:20] amcastro-tri opened #10880 "Integrators invalidate the entire continuous state + propagate to kinematics values."
See description in #10879. I'll paste here for completeness:

[2019-03-09 18:49] jwnimmer-tri commented on #10860
Getting back to 1.1x is plenty good enough to avoid the revert.  Hopefully that can merge before Monday.

[2019-03-09 19:44] sherm1 commented on #10880
That's not a problem with the integrators. That's a result of the flawed way we declare state variables (see #9171) which makes it so the kinematics ticket can't tell which states affect kinematics so conservatively is dependent on everything. The workaround is to be more specific in specifying dependencies -- if a cache entry isn't dependent on continuous state variables it should say what it _is

[2019-03-09 20:58] edrumwri commented on #10880
Agreeing with @sherm1 here. Given that the description of the issue is exactly what the integrators are supposed to do, I believe this issue should be closed, @amcastro-tri. Do you think agree?

[2019-03-09 21:31] amcastro-tri commented on #10880
I agree, thank you for the second (and third) pair of eyes on this. I therefore bumped the priority for #9171. The "kinematics" state cache work around caused a very difficult to track bug (and maybe there is more?).

[2019-03-09 21:31] #10880 closed

[2019-03-09 21:33] amcastro-tri commented on #9171
Update: the kinematics cache work around to this caused a very difficult to track bug, see #10880 (closed since this issue tracks the problem, but still relevant to show the level of confusion).

[2019-03-09 21:49] sherm1 commented on #10860
I think the original Anzu complaint was a 6X slowdown (from 1.8x to 0.3x real time). 1.1x would still be almost a 4X slowdown -- is that really good enough for now?

[2019-03-09 21:54] sherm1 commented on #10874
Updating the examples to best practices seems like the right answer.

[2019-03-09 22:00] sherm1 commented on #10880
I want to capture the idea here of suppressing notifications in some cases as a way to be more relaxed about "all sources" dependencies. I'll file a separate issue.

[2019-03-09 22:12] jwnimmer-tri commented on #10860
Well, of course we'd _like_ to have >1x or even 1.8x, but in terms of a revert, I think our workflows and CI can tolerate sub-realtime.  The bar for keeping users happy is >0.5x worst case.  We can see how stable CI is at 1.1x but my guess is that it's fine.

[2019-03-09 22:13] sherm1 opened #10882 "Suppress diagram out-of-date notifications when we can prove they are no-ops"
Per discussion in #10880, it is easy for cached computations to end up declaring dependencies on more source values than they actually depend on, since that is the conservative default. That may cause unnecessary invalidations (and hence unnecessary recomputations).

In some cases the Framework could avoid those, without requiring more precise dependency lists. For example, if "all continuous vari

[2019-03-09 22:21] sherm1 commented on #10878
Great observation -- this is definitely inadequate as is. The problem is related to #10149 -- we need to be more discerning about what changed before writing everything back. This one's for you, Evan!

[2019-03-10 01:41] edrumwri commented on #10878
Excellent analysis, @amcastro-tri. Is this _the_ performance blocker or only _a_ performance blocker?

[2019-03-10 10:00] Abhinav-Muraleedharan opened #10883 "drake visualizer not connecting to display"
OS: Ubuntu 16.04

**Hi
After building double pendulum simulation using bazel ,I tried :**

bazel run //tools:drake_visualizer

but it is showing the following error:
//
INFO: Analysed target //tools:drake_visualizer (50 packages loaded).
INFO: Found 1 target...
Target //tools:drake_visualizer up-to-date:
  bazel-bin/tools/drake_visualizer
INFO: Elapsed time: 11.376s, Critical Path: 0.36s
INFO: 0 p

[2019-03-11 05:31] patmarion commented on #8940
hey, thanks for checking in!  I just merged the fixes into `master`

https://github.com/RobotLocomotion/director/pull/618

sorry i haven't been updating master more frequently, i've been putting my new work onto the python3 branch instead.  but most of it is easy to merge into `master`.  let me know if this has resolved everything for you.  I've been using this with vtk 8.2 and qt 5.12 and python3

[2019-03-11 10:36] RussTedrake commented on #10862
Thanks @jwnimmer-tri.
- Renaming it to not say "constraint" probably makes sense.
- Yes, I would expect each functor to have a descriptive name.
- The Lyapunov use case I need right now, like cost, would always be a map f: context -> scalar.  I'm happy to use the vector-valued version.
- I don't need the ensemble of them for lyapunov, but for cost it does make sense to be able to adorn a system wi

[2019-03-11 10:41] RussTedrake commented on #10862
Update: i realize now that by "ensemble" you probably meant "supporting multiple scalar types", and not "a list of functors for the same scalar type".  I do have need, basically immediately, of supporting both `double` and `Expression`, but from reading `system_constraint.h` I think it's likely that my needs can be met and we can discuss sugar when i have my initial PR.

[2019-03-11 12:54] jwnimmer-tri commented on #10883
Thanks for your interest in Drake!

Per our https://drake.mit.edu/getting_help.html#asking-your-question guidelines, we'd like to redirect this kind of question to our Stack Overflow forum, because this is probably not a bug in Drake itself, but rather some irregularity in your environment.

After diagnosis, if it ends up that Drake's documentation is lacking, then we can (re)open another issue or

[2019-03-11 12:54] #10883 closed

[2019-03-11 14:00] amcastro-tri commented on #8942
[off master](https://github.com/RobotLocomotion/drake) | [commit](https://github.com/RobotLocomotion/drake/commit/47987499486349ba47ece6f30519aaf8f868bbe9)

As a reference, in my HP Z640 this runs at (parameters described at the very top):

8.5 X: with **no** visualizer running.
7.0 X: **with** visualizer running.

There has been a significant speed bump for this case. I will update soon with the

[2019-03-11 14:43] amcastro-tri commented on #10878
This is `the` blocker. I'll PR a fix for MBP, but for our most complex sims this starts having a very noticeable impact. I'd push the priority of this issue to the very top of our stack.

[2019-03-11 14:58] EricCousineau-TRI commented on #8940
Sweet, thank you so much!

@jamiesnape - can I ask if you have time to submit a PR that I (and possibly @manuelli) could step through to see if these problems are resolved?

[2019-03-11 15:01] manuelli commented on #8940
I can test this out on `spartan` as well and see if it fixes the problem there. Pretty swamped this week but will get to it when I have some time.

[2019-03-11 15:15] jamiesnape commented on #8940
It will be up when I have resolved the OSPRay issues; so probably in the next day or two.

[2019-03-11 15:56] hongkai-dai commented on #10862
So `SystemConstraint` has a vector valued Calc function, together with bounds. `SystemCost` has a scalar valued Calc function, without bounds. Do we also need a middle ground, that has a vector valued Calc function without bounds?

In `solvers::Constraint`, we have a EvaluatorBase class, that is vector valued, but no bounds. Both `solvers::Cost` and `solvers::Constraint` inherits from this `Evalua

[2019-03-11 17:08] jwnimmer-tri commented on #10862
I read Russ's reply as to mean that it would be okay to only ever have a vector-valued cost (and so sometimes / often the cost vector size == 1).  Do you think we need a scalar-valued cost?

[2019-03-11 17:37] sherm1 commented on #8942
It took me some time to understand those numbers -- I thought you were reporting a slowdown! Most people have been reporting speed as `simtime / realtime` so _smaller_ is better. I _think_ you are reporting `realtime / simtime` so _larger_ is better. To avoid confusion, I'd suggest either reporting the reciprocal or always accompanying the reported number with something like `(realtime / simtime,

[2019-03-11 17:47] EricCousineau-TRI opened #10886 "cpplint: Incorrect parsing in `mathematicalprogram_py.cc`"
From this Slack post: https://drakedevelopers.slack.com/archives/C3YB3EV5W/p1552112275015500

It looks like `cpplint` struggles with parsing inner arguments to `static_cast<>`, perhaps...

The errors @ 2c92ee3f1:
[code]

This patch works around it for me:
[code]

Don't know the exact error, but filing this issue for traceability / resolution at some point in the future.

\cc @jwnimmer-tri

[2019-03-11 18:07] jwnimmer-tri commented on #10886
This is not the first (nor will be the last) time where a "function pointer type" triggers a false positive in cpplint.  There are already several `// NOLINTNEXTLINE(whitespace/parens)` in `mathematicalprogram_py.cc`.  I would vote for making the work-around more discoverable for @hongkai-dai (if anything), I don't think we should try to fix a regexp-based C++ front-end to avoid corner cases.

[2019-03-11 18:47] jwnimmer-tri commented on #10741
I believe that due to the revert in #10875, this issue is again unfixed.

[2019-03-11 19:38] amcastro-tri opened #10888 "Create a "discrete contact results" port once #10149 is resolved."
Blocked on #10149.

Problem
-----------

Contact results computed by the discrete MBP model should only be valid (and re-calculated) at the periodic time intervals the MBP does discrete updates. This makes sense. Those contact results should only be computed at each discrete update. Anyone looking at those results somewhere within the interval should only see the latest computed contact results, n

[2019-03-11 20:48] EricCousineau-TRI opened #10890 "ci: Turn off `xenial-valgrind-memcheck-weekly`"
See Slack convo:
https://drakedevelopers.slack.com/archives/C270MN28G/p1552336898014300?thread_ts=1552312717.012700&cid=C270MN28G

Summary: It's difficult to reproduce in Bionic, and not providing too much value as the Enabling team has moved primary development / usage to Bionic.

\cc @jwnimmer-tri

[2019-03-11 21:31] jamiesnape commented on #10890
They are manually disabled for now. It will take me slightly longer to update the scripts that are used to provision the Jenkins jobs.

[2019-03-11 22:38] #10202 closed

[2019-03-12 13:20] #10890 closed

[2019-03-12 13:20] jamiesnape commented on #10890
Removed.

[2019-03-12 13:23] jamiesnape commented on #8940
Try this branch: https://github.com/jamiesnape/drake/tree/vtk-8-2-0. It is not ready for PR yet, but it should be far enough along for you to try drake-visualizer.

[2019-03-12 14:01] pvarin opened #10894 "Feature request: Warn when LcmSubscriberSystem has a DrakeLcm object with no receive thread."
I've run into this bug a couple of times:
1. Setup a system with an LcmSubscriberSystem
2. Forget to call lcm.StartReceiveThread()
3. Wonder why messages contain all zeros

It would probably save a lot of debugging time for consumers of the LcmSubscriberSystem if it checked that the DrakeLcm object had a valid receive thread when the simulation is run and printed a useful warning message.

[2019-03-12 14:02] pvarin opened #10895 "Feature request: Warn when LcmSubscriberSystem has a DrakeLcm object with no receive thread."
I've run into this bug a couple of times:
1. Setup a system with an LcmSubscriberSystem
2. Forget to call lcm.StartReceiveThread()
3. Wonder why messages contain all zeros

My guess is that it's relatively common and would probably save a lot of debugging time for consumers of the LcmSubscriberSystem we checked that the DrakeLcm object had a valid receive thread when the simulation is run and prin

[2019-03-12 14:56] jwnimmer-tri commented on #10894
Duplicate of #10895.

[2019-03-12 14:56] #10894 closed

[2019-03-12 18:39] EricCousineau-TRI opened #10898 "pydrake: Rename {drawing => visualization.matplotlib_util}"
Per discussion in #10884.

[2019-03-12 18:54] jwnimmer-tri commented on #10895
I think the better fix is that LcmSubscriberSystem should not need a thread in the first place.  I will think about whether and how we should do that.

\CC @sammy-tri FYI

[2019-03-12 19:51] hongkai-dai opened #10900 "Computing product between two matrices (one containing symbolic::Expression) is very slow"
@pangtao22 has a problem that solves this problem
[code]
where `Q` is a big 200 x 200 matrix. The code is in https://github.com/hongkai-dai/drake/blob/mosek_psd_slow/solvers/test/mosek_psd_demo.cc

Mosek spends just 0.1s to solve this problem, but Drake takes 69s to compute the cost `trace(Q' * X)`. Here is the output of this code
[code]
The slow code is in this line
[code]
I also ran calgrind, he

[2019-03-12 19:57] pangtao22 commented on #10900
Twan mentioned that JuMP has a special symbolic class for affine functions. It's used to speed things up when polynomial expressions are not necessary. Maybe we could do something similar?

[2019-03-12 19:58] jwnimmer-tri commented on #10895
Proposal: add a new class to Drake:
[code]

Then, simulations look like so:
[code]

@pvarin Does this help for your use cases?

[2019-03-12 20:00] hongkai-dai commented on #10900
BTW, after I replace the symbolic computation
[code]
 with the following block
[code]
The computation time drops from 69s to 0.008s

[2019-03-12 20:04] jwnimmer-tri commented on #10900
Eigen offers ways to opt-in to "SIMD" approaches to matrix operations, using templates.  By default, it does the naive scalar-wise version; conceivably we could teach eigen how to do smarter "multiple-data" operations on Expression, which could reduce the heap pressure for temporary cells.  Certainly we'd like to be sure that it's only computing the trace elements, not the off-diagonal elements.

[2019-03-12 20:05] jwnimmer-tri commented on #10895
Oops, the new class would be like this, actually:
[code]

[2019-03-12 20:10] pangtao22 commented on #10900
I don't think the slowness is entirely the result of computing off-diagonal elements. Profiling result of the following code snippet
[code]
looks like
![image](https://user-images.githubusercontent.com/20274938/54232575-51126080-44e1-11e9-80ca-3cb9d5bdc254.png)

[2019-03-12 20:10] soonho-tri commented on #10900
I have investigated this issue. I think this is one of the root causes of the `*` is very slow issues.

Problem
--------

In the current implementation, we do not allow destructive updates on a symbolic expression because of the possible sharing. Let me first illustrate why we wanted the sharing. Consider this example:

[code]

In other words, symbolic `ExpressionCell` is immutable (`const`). Some

[2019-03-12 20:17] hongkai-dai commented on #10900
@jwnimmer-tri thanks for pointing out that "trace" issue. Now I replaced the code using trace as `Q * X.cast<symbolic::Expression>()).trace()` with the following block
[code]
which only computes the diagonal terms. This block takes 42s, shorter than the trace version (69s), but still quite slow.

I think as @soonho-tri pointed out, we should allow destructive update. I see a lot of dynamic memory

[2019-03-12 20:20] jwnimmer-tri commented on #10900
@soonho-tri Instead of (or in addition to?) destructive update, perhaps ExpressionAdd should not always be stored in SoP form?  If it was just an addend chain, you could lazily create (and store) SoP form as soon as some operation required it, but in this trace case it might not even be necessary at all.

[2019-03-12 20:25] soonho-tri commented on #10900
@jwnimmer-tri , that's an option. That will make things significantly faster. One consequence of that approach is that a user needs to explicitly call `Simplify` to cancel / merge terms. For example

[code]

For now, `e` is simplified to `2 * x` immediately. But, under the suggested approach, it will remain as it is, `5 * x + y - 3 * x - y`. I think this is fine, but want to get feedback from othe

[2019-03-12 20:31] hongkai-dai commented on #10900
Having an unsimplified symbolic::Expression as the input is fine with me. I think in MathematicalProgram, when we parse a linear symbolic Expression as `5 * x + y - 3 * x - y`, we always try to extract the coefficients of each variable, and then store the coefficients in MathematicalProgram constraints. So as long as we can extract the coefficients correctly (which I think we should), I am OK to h

[2019-03-12 20:35] soonho-tri commented on #10900
I see. I'll make a version where an addition is represented a pair of Expression (just like an LISP expression, `(+ e1 e2)`). I'll check how far we can go.

[2019-03-12 20:51] jwnimmer-tri commented on #10900
@soonho-tri We could still automatically simplify to SoP on operations like GetVariables, is_polynomial, etc.  In our case (adding a linear cost), it looks like we call GetVariables as we discern its shape, so that is an easy (and precisely correct) time to mutate the internal representation from cons-tree to SoP?

[2019-03-12 20:52] jwnimmer-tri commented on #10900
To be clear, I mean the current Expression semantics and API and unit tests can remain unchanged -- pretend to be simplified / cancellation.  I think we can just lazily defer the canonicalization until we have all of the terms.  MathematicalProgram wouldn't have to change at all.

[2019-03-12 21:06] soonho-tri commented on #10900
@jwnimmer-tri , I think we should keep the API's `symbolic::Expression` intact. But I am not sure if we can keep the unittests unchanged. For example, this test assumes that we do simplification at construction-time:

https://github.com/RobotLocomotion/drake/blob/111ae16cdf3917f253d5c977715d6d836f0b7dc2/common/test/symbolic_expression_test.cc#L1138-L1139

I also don't think that it's a good idea t

[2019-03-12 21:10] jwnimmer-tri commented on #10900
My proposal is that factory methods and void methods just cons-tree (do not simplify), but all observers (const getters) **do** internally simplify -- yes, by mutating (or possibly swapping the cell) on a const Expression object.  So because `Expression::EqualTo` simplifies (both terms) first, the test predicate ExprEqual would yield the same answers as it does currently.

[2019-03-12 21:19] jwnimmer-tri commented on #10900
FYI @soonho-tri I think your original "check the update() count" proposal is a lot like https://github.com/simbody/simbody/pull/327 method "detach".  There's every chance that ends up fairly fast.  If it's a more surgical fix that fully deferring the SoP simplification that I propose, and it ends up solving the performance problem, then maybe it's a good place to start from.

[2019-03-12 21:23] soonho-tri commented on #10900
@jwnimmer-tri , OK. I'll implement the destructive-update proposal first. Then, I'll check the example @hongkai-dai found to be slow.

[2019-03-12 22:28] #10848 closed

[2019-03-13 00:52] RussTedrake commented on #10862
@jwnimmer-tri -- i'm curious how you might architect a solution to the following.  the output returned from my region of attraction code is a newly allocated object: the lyapunov function... which is a symbolic::Expression.  But in order to connect the variables in the expression with the system's context, i was thinking of also using the `ContextConstraintCalc`.  would it make sense to have `Cont

[2019-03-13 02:38] mposa opened #10905 "Signed distance queries support for half spaces"
Trying to running a simple collision detection test between a point (sphere of radius 0) and the ground (modeled as a half space).

Code is available here:
https://github.com/mposa/dairlib-1/blob/collision-testing/examples/PointPlane/collision_detection_test.cc#L84

Note it's the last line that causes the seg fault.

And the output from valgrind:
[code]

As a secondary quesiton, from this stack tr

[2019-03-13 03:53] sherm1 commented on #10905
Assigned to @SeanCurtis-TRI, cc @DamrongGuoy for diagnosis.

[2019-03-13 13:03] SeanCurtis-TRI commented on #10905
So, this is the signed distance query.

It's *currently* the case that FCL doesn't have primitive-specific tests for the majority of the primitives for signed distance. We are in the process of rectifying this. As it so happens, you picked on one of the scenarios that falls through to the GJK/EPA implementation (go figure).

That said, a segfault is still quite surprising. We'll take a look.

Big

[2019-03-13 13:44] mposa commented on #10905
Thanks. Is there documentation for which FCL queries are supported in a primitive (differentiable a.e.) fashion? This would be very helpful to knowing when we can and cannot use it.

To your question re: threads, no, this was my attempt at putting together the simplest possible query to better understand the API.

[2019-03-13 14:02] SeanCurtis-TRI commented on #10905
No documentation yet. And, ideally, there never would be documentation. After all, the goal is to provide quality answers regardless. However, since this will probably be stalking us for a while, we'll need to do something.

I'm platform reviewer today, but I'll use my free cycles to look into the segfault -- the *worst* that should happen if you use the fall-through path is that you get an answer

[2019-03-13 14:22] mposa commented on #10905
It's great for the goal to be quality answers, but sometimes users need to know what's happening under the hood.

In this example, it'd be nice to know if the answer is an analytical solution or the result of an iterative algorithm.

[2019-03-13 14:29] SeanCurtis-TRI commented on #10905
The challenge of "knowing what's under the hood" is that it can be misleading. There are cases in which the result of an iterative algorithm *is* the correct answer (up to machine precision). So, in writing that documentation, it's important to capture *that* aspect of it rather than the implementation details. In other words, a table that says "for query A, shape B, and shape C, your answer will

[2019-03-13 14:38] SeanCurtis-TRI opened #10907 "Document geometry query result precision"
In the current master (as of 3/13/2019), the quality of the answers in geometric queries is accurate to machine precision in some cases, and approximate to within some threshold in others. Even as we improve the code so that more and more answers will be precise to machine precision, we know we can't guarantee that universally.

So, the module documentation should discuss this and document the cur

[2019-03-13 14:40] SeanCurtis-TRI commented on #10905
See #10907.

[2019-03-13 15:14] amcastro-tri commented on #10842
Reading the `Simulator` documentation I realize we already introduce the terminology [`AdvanceTo`](https://github.com/RobotLocomotion/drake/blob/01490c9dc0756ab4154430b61efc74534f4f454d/systems/analysis/simulator.h#L113) in the documentation's pseudocode. So right now that documentation has a mix of `Advance()`, `Step` and (the ugly) `SubStep`.
Another reason to like `AdvanceTo()` perhaps? that is

[2019-03-13 15:35] RussTedrake opened #10908 "Wanted: Context::SetDiscreteState()"
`Context::SetContinuousState()` is a wonderful thing.  It really cleans up the example code.  We need the comparable tool for discrete state.  Like `get_discrete_state_vector()`, it can throw if there are multiple discrete state groups.

[2019-03-13 15:37] RussTedrake opened #10909 "Wanted: EvalDiscreteVariableUpdates"
The recommendation now is to not call `CalcTimeDerivatives`, but to instead call `EvalTimeDerivatives`.  But there is no comparable API for discrete updates; I think we still call `CalcDiscreteVariableUpdates`.  The lack of parallelism is jarring.

[2019-03-13 16:29] sherm1 commented on #10908
Good idea -- will do.

[2019-03-13 16:52] sherm1 commented on #10909
Hmmm. This is much trickier than it sounds. `CalcDiscreteVariableUpdates()` is mostly useless at this point because it generates "Forced Event" triggers and then invokes the discrete variable event dispatcher. Unless the dispatcher has been overridden (not recommended) that's essentially a no-op. Most of our discrete event handlers respond to periodic event triggers (potentially with many differen

[2019-03-13 19:28] hongkai-dai opened #10912 "Feature request for contact rich planning"
As @mposa works on contact implicit trajectory optimization, he mentioned there are some features not available in Drake's MBP+SceneGraph. I put a [doc](https://colab.research.google.com/drive/1J0CxdV7xjHATaimfZLHuwsR8W2E0IOFA) to summarize the needs. It would be great if people could take a look at comment/edit on the doc directly. We will flesh out API design once we collect everybody's opinion

[2019-03-13 20:49] SeanCurtis-TRI commented on #10905
FTR I've been able to reproduce your bug and am currently working on flushing it out.

[2019-03-13 20:50] sherm1 opened #10914 "Need a non-symbolic way to report if a System is time-invariant."
(Requested by @RussTedrake)

Currently SystemSymbolicInspector can be used to determine whether a System is time-invariant, _provided_ (a) the system can be transmogrified to symbolic, and (b) you have time to wait for the answer. For other cases it would be useful to have a `System::IsTimeInvariant()` method analogous to the existing `System::HasDirectFeedthrough()` method, which can be overridde

[2019-03-13 21:21] RussTedrake commented on #10914
That's a perfect explanation, thanks.

The use case is that we have many algorithms that assume time-invariance.. they should be checking for it.  Here are a few examples I found quickly:
https://github.com/RobotLocomotion/drake/blob/master/systems/controllers/dynamic_programming.h#L62
https://github.com/RobotLocomotion/drake/blob/master/systems/analysis/lyapunov.h#L27
and there are more on the wa

[2019-03-13 21:21] sherm1 opened #10915 "Need to be able to force discrete variable update for periodic system"
(Requested by @RussTedrake)

In PR #6878 @edrumwri provided introspection capability to find out if a discrete System is driven by a single periodic update: [`GetUniquePeriodicDiscreteUpdateAttribute()`](https://drake.mit.edu/doxygen_cxx/classdrake_1_1systems_1_1_system.html#ae0f7d226abe6847e09248db0def0c746).

Next, Russ would like to be able to force that update to occur (see #10909). Calling `C

[2019-03-13 22:00] RussTedrake commented on #10915
Thanks @sherm1.  Low is ok, because I will continue authoring systems using the old event API for now.

Related: you point out that using `DeclarePeriodicDiscreteUpdate` is no longer the recommended practice. [But a search for it](https://github.com/RobotLocomotion/drake/search?p=2&q=DeclarePeriodicDiscreteUpdate&unscoped_q=DeclarePeriodicDiscreteUpdate)
turns up many more instances that the compa

[2019-03-13 23:03] andrewbest-tri opened #10917 "Maliput should support lane directivity."
This issue tracks the implementation of Maliput's DirectionUsageRule.

__Outline__
DirectionUsageRule should contain at-least the following information:
* ID
* LaneSRange
* severity? {Advisory, Strict}
* Direction {WithS, AgainstS, Undirected}

We will add these rules to the RoadRuleBook. This also involves

PR 1
1. Adding the DirectionUsageRule class
1. Adding Comparison methods
1. Adding tests
P

[2019-03-13 23:03] andrewbest-tri commented on #10917
@liangfok mind taking a look at this plan and giving feedback?

[2019-03-14 01:04] SeanCurtis-TRI commented on #10905
Quick update -- I've found the bug.

The signed distance queries seem to have been an afterthought in FCL. The segfault you experienced is an artifact of that design. I'm going to fix it, but, in the short term, if you replace the half space with an appropriately sized and translated box, you can proceed. After FCL is repaired, we'll update Drake's usage accordingly and then the half space will wo

[2019-03-14 02:38] SeanCurtis-TRI commented on #10915
I'll bang my QT-inspired drum for a moment to see if it inspires.

First, QT: it has functions that are, in some sense, declared to be event triggers and event handlers (called signals and slots, respectively). Those are defined as part of the class. But what an trigger kicks off, or what kicks off a handler are *not*.

It would be really nice if, in configuring a diagram, it would be possible to

[2019-03-14 04:23] sherm1 commented on #10915
I guess we can do that in this case. If a System has a (signal=periodic trigger, slot=event handler) pair (a.k.a. `Event` object) we need to dig out that pair and dispatch it.

[2019-03-14 04:38] sherm1 commented on #10912
Cool collab document! I added a small comment.

[2019-03-14 10:05] RussTedrake opened #10918 "snopt versions in name?"
Given the variability we are seeing in snopt version performance, is there a way to add more version information into the snopt name returned by MathematicalProgramResults?

Right now `print(result.get_solver_id().name())` just says `SNOPT` always.  But when students/users are getting different results, it would be nice to know which version of snopt they are using.

[2019-03-14 12:22] jwnimmer-tri commented on #10862
I'm not sure I understand well enough to make a suggestion.  Is there an example or WIP branch you could point to?

Because `ContextConstraintCalc` is a std::function, you can create one using a lambda, and the lambda can capture whatever extra expression (or etc) you need.  Or is the problem that the user needs to have a `get_expression()` method?

[2019-03-14 14:22] edrumwri commented on #10912
I added one too, into the text. Is it not possible to link comments to the
individual text?

--------------------------------
Evan Drumwright
Senior Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Wed, Mar 13, 2019 at 9:38 PM Michael Sherman <notifications@github.com>
wrote:

--

Confidential or protected information may be contained in this email
and

[2019-03-14 14:24] SeanCurtis-TRI commented on #10912
I have to say, I'm not a fan of `colab`. It seems to emphasize `lab` and deemphasize `collaboration`. I think @edrumwri's simultaneous editing with my commenting was interfering with my commenting. And the fact that the comments don't obviously link to text is also inexcusable. You'd expect them to use the google doc APIs. Sheesh...way to go Google.

[2019-03-14 14:27] edrumwri commented on #10842
Right. We introduced that term because of the ambiguities induced by
talking about "stepping".

--------------------------------
Evan Drumwright
Senior Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Wed, Mar 13, 2019 at 8:14 AM Alejandro Castro <notifications@github.com>
wrote:

--

Confidential or protected information may be contained in this email

[2019-03-14 14:29] #10741 closed

[2019-03-14 14:45] EricCousineau-TRI commented on #8978
Per f2f:

Have binaries for this; things working on Mac, but still needs to test on Ubuntu (Xenial + Bionic).

Summary of potential fix:
* VTK used to unconditionally call OSPRay's Init, but never shutdown.
* This changed in 8.2 to unconditionally shutdown.
  * Shutdown unconditionally causes issues.
  * VTK upstream has commit to do ref-counting. This hopefully will be upstreamed to OSPRay.
* Thi

[2019-03-14 14:48] EricCousineau-TRI commented on #8940
I will try this out on my machine within the next few days for testing the affordance markers.

[2019-03-14 14:57] EricCousineau-TRI commented on #10843
Per f2f: Still tidying up upgrade from old Jenkins => new Jenkins.

[2019-03-14 15:05] EricCousineau-TRI commented on #10804
Just to check: Can I ask what situation this accommodates, or what use case?
Is this to check alternatives against SNOPT (given the current version / config ping pong that we're playing)?

[2019-03-14 15:08] EricCousineau-TRI commented on #10542
Is the `high` priority still relevant?

Can I ask if there is someone heavily invested in this solution so that they can review using the releases and provide feedback on an `experimental` PR with a parameterized build so that we can test this specific release?

[2019-03-14 15:10] jwnimmer-tri commented on #10542
Yes, the fortran transition in general is high priority, so any issue that is still relevant / open is high priority.

I do not understand at all what you are asking in the second question.  I am happy to test any prototypes, if that's what you're asking?

[2019-03-14 15:10] EricCousineau-TRI commented on #10686
Per f2f, has paused work, but can resume later (w/in ~1 month?).

[2019-03-14 15:13] jwnimmer-tri commented on #10804
My impression of the user story was "Most people are happy to just use Drake binary releases.  If they have a (site) license to Gurobi, it would be nice if that Just Worked out of the box.  The need is especially acute for users _without_ a site license to SNOPT -- in that case, even if they compile from source in order to use Gurobi, they then lose the ability to use SNOPT".

[2019-03-14 15:18] #10720 closed

[2019-03-14 15:55] EricCousineau-TRI opened #10921 "doc: Discoverability of mutlibody notation is... suboptimal"
I love the multibody notation that we have; however, I always struggle hardcore to sift through Doxygen's esoteric arrangement to remember where they actually lie.

At present (edd1bac6f), it's here:

The fact that these notes are in a section that's next to something else called `Modeling Dynamical Systems` makes some sense, but still makes it hard to find the right bin to go to.

Is there some w

[2019-03-14 16:21] sherm1 commented on #10921
I have trouble finding it too and I wrote most of it!

[2019-03-14 16:33] RussTedrake commented on #10804
correct.  and that happens to account for most of the academic world, as gurobi is free for academics, but SNOPT is not.

[2019-03-14 16:50] tri-ltyyu commented on #10804
Use case understood. Is there a research group/class actively blocked by this to gauge timing? Wondering if there's a work around such as using Colab or asking the dept. to get a license for $600.

[2019-03-14 16:54] jwnimmer-tri commented on #10804
Since the next action on this issue is to see if MIT has the right to redistribute Gurobi stuff (per details above), maybe the easy answer is to reassign this issue to Russ, and he can pursue that question with MIT legal on whatever pace it requires?

[2019-03-14 16:59] jwnimmer-tri commented on #10918
I think it would be easy (and uncontroversial) to have `SNOPT/Fortran` and `SNOPT/f2c` names (do you agree @hongkai-dai?).  I am not sure that adding the version number is as easy.  Maybe we could do that in a follow-up, like `class SnoptSolver { public: static std::string version(); };`.

[2019-03-14 17:22] EricCousineau-TRI opened #10924 "py deprecation: Use of `finally` in `catch_drake_warnings` can mask real errors"
@avalenzu was debugging a CI failure, and found that `catch_drake_warnings` was obscuring an IPOpt failure message due to the check in `finally` executing before the real error bubbled up:
https://drake-cdash.csail.mit.edu/testDetails.php?test=26522072&build=1133430

Proposed solution is to relax the `finally` condition, just make it happen after the fact.

\cc @jwnimmer-tri

[2019-03-14 17:35] EricCousineau-TRI commented on #10542
SGTM.

And yup! Ultimately asking for someone who'll review the solution.

[2019-03-14 17:42] hongkai-dai commented on #10918
I think that is good. A follow-up with SnoptSolver::version() is better.

[2019-03-14 17:53] jwnimmer-tri commented on #10918
For version details, we could scrape `README.WhatsNew` to find the string like `Version 7.4-1.1 Elizabeth Wong & Philip E. Gill January 1, 2015.`  It would probably take about 2-4 hours of implementation + review time.  Is that worth it?

[2019-03-14 17:58] EricCousineau-TRI opened #10927 "py: Add convenience aliases for `np.array` (and relevant dtypes) to make math less... cluttered"
Tinkered with this in a notebook while helping with #10911 (to figure out how to use `np.tile`).

A simple prototype:
[code]

I think usages like this would make it a nice addition:
[code]

Thoughts?
@robert-verkuil @RussTedrake @naveenoid

[2019-03-14 18:06] hongkai-dai commented on #10918
Personally I won't trust that README.WhatsNew too much. As we know that the SNOPT 7.4 f2c actually uses SNOPT 7.2-12 under the hood.

[2019-03-14 18:12] jwnimmer-tri commented on #10918
I guess we'd be telling the user more about what source archive we used.  They would have to know that `SNOPT/f2c` sources are not described by the README.  Maybe in the f2c case, we should report an empty version string, but in the /fortran case we can report the README?

There isn't a get_version call in SNOPT itself, is there?  I didn't immediately see one.

[2019-03-14 18:20] hongkai-dai commented on #10918
I don't think SNOPT has a get_version call. Actually when I asked Elizabeth how to know the version, she told me to look at the source code to find out the version https://github.com/snopt/snopt-interface/issues/19#issuecomment-409367736

[2019-03-14 18:37] jwnimmer-tri commented on #10918
It looks like with SNOPT/fortran, the print file displays the version number.  Maybe that's good enough to close this issue for now?  WDYT @RussTedrake?

[2019-03-14 20:03] jwnimmer-tri commented on #10804
I guess @tri-ltyyu could also own it and chase down MIT legal.  All I'm really saying is that @jamiesnape isn't an appropriate assignee anymore.

[2019-03-14 20:05] #10924 closed

[2019-03-14 21:02] RussTedrake commented on #10918
could we summarize here the steps to having a pydrake user acquire that information (if it's from the print file)?

[2019-03-14 21:12] jwnimmer-tri commented on #10918
They would set an option on the program, like so:
https://github.com/RobotLocomotion/drake/blob/cb651db2aece9c9b24a4ea60e690701b0bc408a6/solvers/test/snopt_solver_test.cc#L141

... or specifically:
[code]

Then, after calling Solve(), the file `snopt.txt` has the SNOPT version printed out in the first few lines (and lots of other info, too):

[code]

This only works for SNOPT/fortran.  For SNOPT/f

[2019-03-14 21:15] jwnimmer-tri commented on #10895
Prototype in progress at https://github.com/jwnimmer-tri/drake/tree/lcm-interface-system.

[2019-03-14 21:54] RussTedrake commented on #10918
Thx!  Much appreciated!

[2019-03-14 21:54] #10918 closed

[2019-03-14 23:26] hongkai-dai opened #10932 "Compute the gradient of the signed distance / penetration depth normal w.r.t object poses"
In contact-rich trajectory optimization, we need the gradient of the normal w.r.t the robot configuration. This is because when we impose the friction cone constraint `|fₙ - fₙᵀn*n| ≤ μ fₙ`, (where fₙ is the normal contact force, and `n` is the unit length contact normal), we need to compute the gradient of this function, hence we need the gradient ∂ n / ∂ q. If SceneGraph can report the gradient

[2019-03-15 00:04] calderpg-tri opened #10934 "Signed distance query should support threshold for better performance"
Right now, collision checks using SceneGraph use one of two options:

- `ComputePointPairPenetration` for binary checks

- `ComputeSignedDistancePairwiseClosestPoints` when gradients or padding are required

Using `ComputeSignedDistancePairwiseClosestPoints` is significantly more expensive, since it performs N^2 checks, but is the only way to implement collision avoidance in controllers or variabl

[2019-03-15 00:06] calderpg-tri commented on #10934
Marked as high priority since this affects RobotBridge collision avoidance and the performance of all planners in anzu.

[2019-03-15 03:47] EricCousineau-TRI commented on #8940
Just tried it out on Anzu; seems that there may be a linking error, as when it tried to import `pydrake` (necessary for me checking my workflow), it reported `libdrake.so not found`.

Going into my `.runfiles`, these are the libs that seem to be awry:
[code]

[2019-03-15 04:01] EricCousineau-TRI commented on #8940
After hacking in those two, I still have odd mouse behavior :( Not yet sure if it's due to affordance markers, or another item.

Also, point-picking is still a bit off. If I select `Pick type: raycast nearest surface point`, I can get several points that are clearly not on the surface I was clicking. If I switch to `raycast nearest vertex`, that works fine. However, now, `hardware render` works li

[2019-03-15 04:31] sherm1 commented on #10934
This makes a lot of sense and seems like it would be easy to add? @DamrongGuoy built that feature
into the third available query:
[code]

Assigned to @DamrongGuoy and @SeanCurtis-TRI for investigation/discussion.

[2019-03-15 04:57] patmarion commented on #8940
hi eric, that sounds like it might be the same picking threshold issue I have been seeing.  I think it is an issue in vtk and not director, since the director code for picking is just using basic vtk operations, but i haven't had a chance to take a closer look :/

[2019-03-15 13:32] jamiesnape commented on #8940
Are the files physically missing. Does running from an install tree work?

[2019-03-15 13:47] liangfok commented on #10917
Maliput's design doc includes the following direction usage rules:
 * bidirectional (e.g., non-striped single-lane residential street)
 * unidirectional, s increasing
 * unidirectional, s decreasing
 * bidirectional, turning-only
 * no-traffic (e.g., median strip)
 * parking-lane

What is your reason for simplifying this down to just three?
 * WithS
 * AgainstS
 * Undirected

[2019-03-15 15:18] EricCousineau-TRI commented on #8940
The files are there; here's the hack patch: https://github.com/EricCousineau-TRI/drake/commit/0f4043267edf98ebc8e520d6017fff283fd32e25

Makes sense! Is there a flag I can flip to have it use the `hardware render` style picking?

[2019-03-15 15:43] jwnimmer-tri commented on #10886
@hongkai-dai Do you have any suggestions for how we could have made the fact more obvious that NOLINTNEXTLINE was a required & expected fix here?  Was there any documentation you looked at (pydrake_pybind.h?) while dealing with this problem?

[2019-03-15 15:44] jwnimmer-tri commented on #10886
Or I wonder... since we have clang-format required in all of pydrake, maybe this rule (or all of the whitespace rules) should be disabled in cpplint for this folder?  What do you think @EricCousineau-TRI?

[2019-03-15 17:07] patmarion commented on #8940
It depends what pick operation you are doing?  Most of the picking in the Python layer uses the function `pickProp` which does a hardware pick first.  If nothing is picked then it tries a ray cast pick with a tight tolerance and then another one with a bigger tolerance.  This operation is used, for example, when you double click or right-click on an object.

If you are talking about clicking on th

[2019-03-15 17:34] EricCousineau-TRI commented on #9891
Resolved by #10911
(Forgot to hoist this to the top-level descr. in the PR - that's the way things get auto-closed)

[2019-03-15 17:34] #9891 closed

[2019-03-15 17:35] EricCousineau-TRI commented on #10886
I'd like that solution!

[2019-03-15 18:10] tri-ltyyu commented on #10934
Important for dish demo. Have benchmark use cases for testing. Should be low amount of work.

[2019-03-15 18:11] tri-ltyyu commented on #10932
Required for Q2 (before Q3)

[2019-03-15 18:29] tri-ltyyu commented on #10322
Prioritizing Anzu benchmarking

[2019-03-15 18:42] avalenzu commented on #10909
The intended use here is *not* for simulation. It's for trajectory optimization (at least that's why I want it). Consider this portion of the dynamics constraint in `systems::trajectory_optimization::DirectTranscription`: https://github.com/RobotLocomotion/drake/blob/82ae060eea9c2f1e6b9fa79c8574e1464d6dff8e/systems/trajectory_optimization/direct_transcription.cc#L83-L86

[2019-03-18 13:51] jamiesnape commented on #10934
(As fundamental as collision checking is, this is surely high priority for a toolkit such as Drake regardless of Anzu.)

[2019-03-18 14:45] SeanCurtis-TRI commented on #10905
The segfault is no more (replaced with an exception with a meaningful message). However, I'm leaving this issue open as a reminder that we need to support signed distance with halfspaces.

[2019-03-18 15:03] SeanCurtis-TRI commented on #10934
@jamiesnape FTR the issue name is *slightly* misleading. This isn't strictly about performance of the collision checking system. It's about a paucity of options in the API. In other word, @calderpg-tri has been forced to swat flies with a sledge hammer. Adding the parameter won't affect users that do collision detection, or users that require O(N^2) signed distance results. So, it's not a general

[2019-03-18 15:08] jamiesnape commented on #10934
Would be good to fix that. Does not look so great on the first page of issues for someone looking at the toolkit for the first time...

[2019-03-18 15:27] sherm1 commented on #10934
Good idea @jamiesnape, done.

[2019-03-18 15:30] tri-ltyyu commented on #10804
Happy to chase someone down to find out, but want to confirm if it's MIT legal or Gurobi legal that we want to get permission from? From Gurobi's EULA, I see the following, which makes me think we need permission from them first?
"You may not use, copy, modify, or distribute the Product, or make any copy, adaptation, transcription, or merge any portion thereof, unless expressly authorized by Gurob

[2019-03-18 15:34] jamiesnape commented on #10804
Ultimately, it would need to be Gurobi. Whether it is you or Russ or MIT who makes the request to Gurobi is a slightly different question. The license on CI is officially assigned to MIT CSAIL with Russ as the administrator.

[2019-03-18 15:47] EricCousineau-TRI commented on #9865
In Anzu, I'm still using a heavy mixture of `Isometry3` and `RigidTransform` for my portion of the perception bits.

I want to use `RigidTransform` for the advantages mentioned above, but I still prefer `Isometry3` (esp. in Python code) as it's still used throughout `MultibodyPlant`, and I dislike having to do excessive conversions.

Is there a way we can accelerate fixing this by permitting tempo

[2019-03-18 16:01] sherm1 commented on #9865
@mitiguy and @amcastro-tri also proposed a temporary implicit conversion from RigidTransform to Isometry3. I've been resisting that because I thought it would entail hidden performance cost and delay the eventual conversion. But I'll change my mind if that's better -- can you say more? Are you proposing that the implicit conversion operator should issue a deprecated warning right away?

[2019-03-18 16:04] avalenzu opened #10942 "MultibodyPlant copy constructor does not copy default_coulomb_friction_."
This leads to segfaults when simulating the copied plant. PR to follow shortly.

[2019-03-18 16:15] amcastro-tri commented on #9865
My proposal was:
- Add to RigidTransform those methods from Isometry3 we don't like just for backwards compatibility: `::linear()`, `toIsometry3()`, etc.
- Add conversion operator.
- Implement construction/assignment from Isometry3 (those might be in actually).
- Start using RigidTransform in new code (even python).
- Make the internals transition from Isometry3 to RigidTransform.
- Deprecate thos

[2019-03-18 16:20] jwnimmer-tri commented on #9865
If the overall goal is to accelerate and finish the transition, then I think the most relevant factor is who is working on it, not the particular API details.  If we want to get it done more quickly, then we simply should assign developers besides @mitiguy to work on it.  For what conversions or overloads we offer, that should be judged based on their nature (are the correct, usable, compatible, e

[2019-03-18 16:26] sherm1 commented on #9865
I think the critical gating item is converting the APIs for MBP and SG from accepting and returning Isometry3s to RigidTransforms (and similary Matrix3 to RotationMatrix). If that were done would it still make sense to have implicit conversions?

[2019-03-18 16:32] jwnimmer-tri commented on #9865
Isn't the best way to answer "are implicit conversion operaions needed" to inspect our using-code and see if it would be improved by (/ would take advantage of) such conversions?  I'd rather trust a PR that adds conversions and by doing so cleans up the calling code, than trust some issue-comment hypotheticals without any basis in empirical reality.

[2019-03-18 16:46] #10942 closed

[2019-03-18 16:56] hongkai-dai commented on #10912
I agree with Sean, that colab is not good for shared editing. I put a summary on the requested feature in this [google doc](https://docs.google.com/document/d/1_WGatuLVUuzaMdApNkZN3Z8J1GSnTf2S5uYUj1_k18s/edit?usp=sharing), can @mposa, @SeanCurtis-TRI and @avalenzu  take a look?

[2019-03-18 20:35] jamiesnape opened #10948 "Refactor CI packaging scripts to support multiple configurations per platform"
At the moment, the scripts assume a configuration that enables only the F2C version of SNOPT of all the commercial solvers. As it looks like we moving toward offering binary packages in multiple configurations (e.g., #10542 and #10804), the CI scripts need to support that.

[2019-03-18 21:59] hongkai-dai commented on #9829
According to http://www.gurobi.com/products/whats-new/whats-new-in-the-latest-version, Gurobi 8.1 is significantly faster than Gurobi 8.0 for mixed integer problem. We should hence upgrade to this newer version.

[2019-03-18 22:19] EricCousineau-TRI commented on #10917
Per discussion in #10930, this design is captured in the maliput org-mode doc here:
https://github.com/RobotLocomotion/drake/blob/c40a01fb7/automotive/maliput/doc/maliput-design.org#L1225

[2019-03-18 22:50] andrewbest-tri opened #10950 "Maliput duplicates predicates in rules comparisons"
In Maliput's rules_*_comparisons.h, a specific predicate is given for each rule type and sub-comparison. Originally, @maddog-tri suggested replacing these with a generic predicate. See

[rules_speed_limit_compare.h](https://github.com/RobotLocomotion/drake/blob/c727021dee2b398a366e8b4be8f322354618b885/automotive/maliput/api/test_utilities/rules_speed_limit_compare.h#L15)
and [rules_right_of_way_co

[2019-03-18 23:18] mitiguy commented on #9865
We discussed this topic at our Monday morning meeting (March 18, 2019).
It seemed to me that the consensus (as of now) was to proceed as quickly as possible to change the Isometry3 arguments to public methods/functions to RigidTransform.
The utility of implicit conversions was unclear.  To be continued.
I'll return to cleaning these up in SceneGraph (with Sean) and Multibody soon.

[2019-03-19 13:02] EricCousineau-TRI opened #10953 "pkg_config: Make Homebrew paths only be applied on Mac"
See: https://github.com/robotlocomotion/drake/pull/10941#pullrequestreview-215918248

[2019-03-19 13:07] EricCousineau-TRI commented on #8940
Sorry for the late follow-up! I'll see if I can use the VTK versions in #10941, and try to port my example to a Drake branch (right now it's Anzu, TRI's version of Spartan).

[2019-03-19 13:44] #10886 closed

[2019-03-19 13:56] EricCousineau-TRI commented on #8940
Ah! Set the pick tolerance to `0` for adding measurement markers (using raycasting), and that fixed it! ([repro script](https://github.com/EricCousineau-TRI/drake/blob/8b9324162/tmp/director_marker_repro.py))
(Will see about making that default in Drake, probably through a plugin for now.)

However, I'm still struggling with the affordance markers (or rather, frame editing).
Here's a video of what

[2019-03-19 14:03] EricCousineau-TRI commented on #10818
First step will be to see if this happens in C++ too; if so, may pass the buck along :)

[2019-03-19 14:11] EricCousineau-TRI commented on #10818
Can repro in pure C++: https://github.com/EricCousineau-TRI/drake/commit/9c6ea46f52c2048232962357af1b3364db7b17fd
Probably just a port-checking thing.

[2019-03-19 14:14] jwnimmer-tri commented on #10818
Yup.  `this->EvalVectorInput(context, 0)->GetAtIndex(0);` is the old, bad Eval.  If the code used the new port.Eval, this would produce a proper diagnostic.

[2019-03-19 14:17] EricCousineau-TRI commented on #10818
Yup, doing so now.

[2019-03-19 14:29] EricCousineau-TRI commented on #10898
Could also start migrating stuff like the systems graphviz stuff here; also, if at some point we get Jupyter in Drake (pending Xenial + Bionic Python 2 dep shenanigans), then perhaps Juptyer widgets could go here too.

[2019-03-19 15:59] #10818 closed

[2019-03-19 16:10] hongkai-dai commented on #10700
#10944 adds the static stability constraint g(q) + B * u + J' * lambda = 0. It doesn't add the friction cone constraint, or the complementarity constraint, since the friction cone constraint depends on the computing the contact normal, and the gradient of the contact normal w.r.t q.

[2019-03-19 16:48] #10466 closed

[2019-03-19 16:49] amcastro-tri commented on #9865
See spike test in #10959.

[2019-03-19 17:24] hongkai-dai commented on #9341
I believe we can close this, as `multibody/inverse_kinematics` folder already contain these constraints.

[2019-03-19 17:24] #9341 closed

[2019-03-19 17:26] hongkai-dai commented on #6892
Since we are not going to use `IKtraj`, I will close this issue.

[2019-03-19 17:26] #6892 closed

[2019-03-19 17:37] patmarion commented on #8940
Thanks for sharing the video.  Yeah that's exactly the picking problem I had.  I resolved it by tuning the c++ code in vtkFrameWidgetRepresentation.cxx but I didn't put that change on `master` because it was hacky.  I think I understand the problem better now, so I'll try to update my change and put it on master.

I think the problem might be something similar to this older bug report-

https://pu

[2019-03-19 18:05] hongkai-dai commented on #5568
@TobiaMarcucci could you rerun the test in https://github.com/RobotLocomotion/drake/issues/5568#issue-215466286 on your machine? I cannot test it on mine because first I don't have a mac machine, and second we don't have a standalone license for TRI, so calling Mosek::Solve would incur contacting a TRI license server, and the time for probing that server is counted into the elapsed time when I exe

[2019-03-19 18:11] #10205 closed

[2019-03-19 18:37] patmarion commented on #8940
here's the PR.  waiting for CI...

https://github.com/RobotLocomotion/director/pull/620

[2019-03-19 19:45] patmarion commented on #8940
merged into `director/master` (`70c4925`)

[2019-03-19 20:11] EricCousineau-TRI commented on #8940
Awesome, thank you!

[2019-03-20 01:06] #10692 closed

[2019-03-20 02:00] jwnimmer-tri commented on #10550
\CC @tri-ltyyu This is a documentation issue we hit last week.

[2019-03-20 03:47] TobiaMarcucci commented on #5568
@hongkai-dai I recompiled drake and tried i, but it still takes around 10 ms on average.

[2019-03-20 03:57] hongkai-dai commented on #5568
Thanks @TobiaMarcucci for testing. Just to make sure that we are on the same page, is it OK if you could check out the branch https://github.com/hongkai-dai/drake/tree/mosek_lp_profile, and run the c++ test? The command is
[code]
It should print out the total time to call MosekSolver::Solve() in the first line (including passing data to Mosek), and the actual Mosek solver time on the second line.

[2019-03-20 04:08] sherm1 commented on #10692
@mposa, your idea for simplifying actuator-setting for MultibodyPlant (after much mutation and haggling and three PRs) is now in Drake. Please give it a try and let us know whether you think it simplifies the API enough to be reasonable. You can now write:
[code]
where `value` is a vector of the right size (and zero is OK). It's not quite as nice as `SetActuator()` would have been, but this is ful

[2019-03-20 11:55] RussTedrake opened #10965 "move mathematical program jupyter notebook to drake"
From https://github.com/RussTedrake/underactuated/blob/master/src/mathematical_program_examples.ipynb
I could imagine it living in `drake/tutorials` or `drake/doc/tutorials`.

Depends on #9650

[2019-03-20 11:57] RussTedrake opened #10966 "Finish/improve mathematical program overview/tutorial"
Related to #10965.

Just to get something off the ground, we are currently pointing to:
https://github.com/RussTedrake/underactuated/blob/master/src/mathematical_program_examples.ipynb

[2019-03-20 12:07] RussTedrake opened #10967 "artwork for features/tutorials portion of frontpage"
I've come up with some very preliminary images in #10963 , because I've been blocked pushing those changes.  But we should have some nice images here.

[2019-03-20 12:32] EricCousineau-TRI commented on #10965
My vote is that it go under either `drake/doc/tutorials`, or possibly even `drake/examples`?

We can always figure out the install story for notebooks 0then (which is still a bit murky pending resolution of stuff like #9645).
Absolutely, we should *never* vendor in `jupyter`. Any platform that doesn't have the deps to support it natively doesn't get to use it (which I think is only Xenial, and wil

[2019-03-20 12:38] RussTedrake commented on #10965
`drake/examples` is also fine for me.  I slightly prefer that over `drake/doc/tutorials`... I want these to be easily findable.
what exactly do you mean by "vendor" in jupyter?

[2019-03-20 13:00] EricCousineau-TRI commented on #10965
By "vendor", I mean that we install our own version of `jupyter`.

(I was / am still entertaining the idea of vendoring in `numpy` for #8116; even though it's a core package it seems to be excellent in terms of ABI backwards compatibility + minimal disruption, and has minimal disruptions. I have not seen this in Jupyter; I also haven't had to dig in either.)

[2019-03-20 13:22] jamiesnape commented on #8940
Seeing compile errors on Mac:
[code]

[2019-03-20 13:27] jamiesnape commented on #8940
[code]
where `/opt/drake` is an unpacked
https://drake-packages.csail.mit.edu/drake/nightly/drake-latest-mac.tar.gz and `/usr/local/opt/vtk@8.2` is from `brew install robotlocomotion/director/vtk@8.2`.

[2019-03-20 13:41] EricCousineau-TRI commented on #8940
Hm... `_PyModule_Create2` and `_PyUnicode_FromString` smell like Python version mismatch linker errors...

[2019-03-20 13:46] jamiesnape commented on #8940
They do, but not sure why they are occurring with this version and not the previous one.

[2019-03-20 13:55] EricCousineau-TRI commented on #8940
If you built VTK in Mac with Python 2 + Python 3 (in that order), perhaps it's due to some criss-crossing of install artifacts (maybe CMake config files?) that makes director partially pick up Python 3 modules when trying to compile as Python 2?

Not sure why it's new though...

[2019-03-20 14:09] RussTedrake commented on #8711
Ping on this.  Can we resolve it?

[2019-03-20 14:14] jamiesnape commented on #8940
Ok, I think it was user error. We should be good now.

[2019-03-20 14:39] TobiaMarcucci commented on #5568
I tried, but I got this error:
[code]
How can I solve it? Thanks!

[2019-03-20 14:52] amcastro-tri opened #10971 "AutoDiffXd implementation messes up with caching in odd ways."
Uff, this is a tough one, I'll try my best to explain. The buggy code is in #10959 (the two CI failures).
The failure can be reproduced when running one of the inverse kinematics tests with:
[code]

This fails with the internal Eigen error:
[code]

### Observation ###
A cached value that should never change after allocation (first entry in [this pool](https://github.com/RobotLocomotion/drake/blob/

[2019-03-20 15:07] #10908 closed

[2019-03-20 15:08] jwnimmer-tri commented on #10971
I am well-versed in `make_coherent`'s evil `const_cast` (see #6944).

I see two options:

(1) When the user changes the size of their derivatives vector, they need to CreateDefaultContext and start over.  Once tainted by any derivatives.size(), you can't change sizes for that context.

(2) Change drake/common/autodiffxd.h to not call `make_coherent` anymore, but instead add runtime checks for each

[2019-03-20 15:10] SeanCurtis-TRI commented on #10971
I was thinking a variation of the first option (I was thinking more of a "flush derivatives" method, but both lead to a "start afresh" state). I like the second option and would never have come up with it because I'm not so well versed with drake's autodiff fun.

[2019-03-20 15:16] jwnimmer-tri commented on #10971
I think (1) is a fair work-around for that unit test, if you have a MBP PR that's blocked on this @amcastro-tri.

@SeanCurtis-TRI Nice, we'll label "context.FlushDerivatives" as (3), then.  It's a fine choice in case (2) turns out to be more difficult then I imagine.

I'll also offer (4) -- entirely replace AutoDiffXd with our own implementation.  I have a half-baked one already in an old branch,

[2019-03-20 15:17] hongkai-dai commented on #5568
My bad, I just force push a new commit to the branch, could you compile and run it again?

(Since I did force push, you might need to remove the your local `mosek_lp_profile` branch, and then check out the branch from the remote again).

[2019-03-20 15:29] amcastro-tri commented on #10971
Thank you guys! yez, I think option (2) would be the quickest and offers some sort of correctness (modulo AutoDiffXd internal hacks).

I love option (4) @jwnimmer-tri! I was wondering how much of a big project would be getting that SSO in our `autodiffxd.h`, given we already have a Drake copy anyways.

[2019-03-20 15:34] amcastro-tri commented on #10971
Ok, I just verified this solves the problem:
[code]

how do you guys like it?

[2019-03-20 16:07] SeanCurtis-TRI commented on #10971
My mental model must be flawed. I don't see how this solves the problem. I see that it *does* make the implicit promotion cheaper (by not actually promoting for this particularly amenable operation). But if the two vectors still have different-sized derivatives, your'e still calling `make_coherent` and trying to add vectors of different sizes. How does that not still blow up in the case documented

[2019-03-20 16:11] amcastro-tri commented on #10971
As @jwnimmer-tri pointed in Slack, the `make_coherent` is a no-op for two non-empty vectors. That is, we don't even need it with this fix.
If you get into a situation where those two scalar types have different sized derivatives, then your bug is somewhere else in your setup. I updated the snippet by removing the `make_coherent` call.

[2019-03-20 17:02] amcastro-tri commented on #10971
when I run `bazel run -c dbg common:autodiffxd_test` with the proposed fix, some of the tests do not pass. I do realize however that they correspond to cases with non-existent derivatives.
For instance, the case `log(x - x) + (y - y)`, but the derivative of `log(x-x)` doesn't exist. Are those tests cases intentional?

[2019-03-20 17:11] TobiaMarcucci commented on #5568
Done. On average, I get something like:
[code]

[2019-03-20 17:13] jwnimmer-tri commented on #10971
How do they fail?  My first impression is that they should be valid.

One effect of this change might be that values used to have `.derivatives().size() > 0` but they were all zeros, but now they are empty.  Is the test case just overly constrictive?  Might be easier to use slack for debugging.

[2019-03-20 17:16] hongkai-dai commented on #5568
Thanks @TobiaMarcucci , that is interesting result
First the total time in the C++ code is about 1.1 ms on your machine, much less than the Python code with 10ms. Second the mosek solve time is just 0.3 ms. That's smaller than the time on my machine with XEON CPU (mine is about 1 ms). I will try to investigate into it.

[2019-03-20 18:00] #10752 closed

[2019-03-20 20:07] amcastro-tri commented on #10971
I pushed #10972 only for discussion. But as you can see, the tests in master were broken. Our friendly `make_coherent` was coupling all those tests since they "remembered" previous results.

[2019-03-20 21:05] SeanCurtis-TRI opened #10973 "[dynamics] MBP document relationship between multibody frame and scene graph frames"
## Problem statement

Given an MBP and SG instance populated with frames and geometries, downstream users can query an individual geometry's fixed pose relative to its SG frame (i.e., `X_FG`). There is *some* relationship between `F` (the geometry's parent SG frame) and `B` the body frame in MBP. However, this relationship isn't documented anywhere.

## Proposal

My current understanding is that t

[2019-03-20 21:30] sherm1 commented on #10909
@edrumwri and I currently favor the following solution to the problem of advancing a discrete system outside of Simulator (by force-triggering its event handlers):
- whenever a System declares an event `(trigger, handler)` pair, also register `(forced, handler)`.

This will have no effect under normal simulator operation, but manual triggering of forced events (which is what `CalcDiscreteVariableU