[2021-05-12 13:51] soonho-tri commented on #15038
@EricCousineau-TRI , what is the best way to add a new method `foo` to a class created `A` via PyBind? Is it OK to use `setattr`?

[code]

[2021-05-12 15:10] SeanCurtis-TRI commented on #14579
Just a reminder: there have been recent changes to hydroelastic code to enable auto-diffable contact. I'm not sure where you've branched from, but you should make sure that your changes are compatible with current state of master. (And, I believe I have one more PR that might create merge difficulties for you. I'll get that submitted today.)

[2021-05-12 15:58] EricCousineau-TRI commented on #15038
FWIW No need to use `setattr`; you can simply do `A.foo = foo` ;)

[2021-05-12 16:39] DamrongGuoy commented on #14579
Thanks @SeanCurtis-TRI .  Indeed I have been rebasing on master and resolving merge conflicts several times.

[2021-05-12 16:47] SeanCurtis-TRI commented on #14579
Excellent! Seems you're well on top of things. The last PR (at least that touches geometry) is in flight: #15040. That is the last one that might interfere with your efforts.

[2021-05-13 15:06] #4998 closed

[2021-05-15 11:56] RussTedrake opened #15049 "multibody: ManipulatorEquationConstraint should include force elements / damping"
I noticed that the `ManipulatorEquationConstraint` doesn't currently add in some elements of the dynamics, like damping and any contributions from force elements.

It would be simple enough to add, following the patterns like:
https://github.com/RobotLocomotion/drake/blob/master/multibody/tree/multibody_tree_system.cc#L324

Adding it would not only be useful, but would provide a more consistent in

[2021-05-16 21:01] soonho-tri commented on #15038
@EricCousineau-TRI , we still have a remaining issue here. The following code gives `TypeError`:

[code]

[code]

As @RussTedrake wrote above, one solution is to update `all.py`:

(I know that we're in the land of perhaps ill-advised pydrake.allness, but I believe that should be better for non-expert users).

To be specific, here is a patch:

[code]

What do you think about this approach?

[2021-05-16 21:34] jwnimmer-tri commented on #15038
I am not a huge fan of playing games with import order.  If we have multiple competing definitions of a name and we need a specific one of those definitions to win, then we should _explicitly disavow_ the unwanted implementations, i.e., we should not even _attempt_ to import the unwanted implementations.

In fact, it should be a test failure if any of the "all.py" files ever overwrites a previousl

[2021-05-16 22:56] RussTedrake commented on #15038
I'm not sure how hard that is to achieve.  But the `pydrake.math` variants are the ones that should be imported in `all.py`.  I'm all for doing things the right way, but perhaps we can land the small fix immediately and open an issue to track the double import defect?

[2021-05-17 11:12] EricCousineau-TRI commented on #15038
I'm onboard with polishing later, but #15052 looks like a great intermediate solution!

[2021-05-17 13:20] #15038 closed

[2021-05-17 18:16] SeanCurtis-TRI commented on #14136
@amcastro-tri You've got a checkbox up above for confirming derivatives on contact forces.

[2021-05-18 17:00] #15019 closed

[2021-05-18 18:31] #15008 closed

[2021-05-18 22:50] DamrongGuoy commented on #14579
As [mentioned above](https://github.com/RobotLocomotion/drake/issues/14579#issuecomment-829550816), rather than going straight to the final PolygonalContactSurface, we are providing an intermediate solution in CY2021 Q2. This will allow us to provide immediate performance improvements even without the fully designed system. Below, I’ve referred to the intermediate solution as the *representative t

[2021-05-18 23:27] sherm1 commented on #14579
Great plan -- very clear!

[2021-05-19 15:57] devesh1508 opened #15060 "AD in Drake"

[2021-05-19 16:47] SeanCurtis-TRI commented on #15060
This kind of question is far better suited to a stackoverflow question with the drake tag. Here's a recent question as an example: https://stackoverflow.com/questions/67604078/pydrake-about-penetration-in-discrete-time-simulation.

We strongly encourage these kind of questions to be asked in StackOverflow, because it's easier for the larger community to benefit from the question and answers. Drake

[2021-05-19 17:18] hongkai-dai opened #15061 "Templatize RandomSource LeafSystem, add a port for density"
Currently [RandomSource](https://github.com/RobotLocomotion/drake/blob/master/systems/primitives/random_source.h) system is only templated on double. It draws a sample from the Gaussian distribution and output that sample. I would like to add the two following features to this class

1. Templatize this class, such that it supports both double and AutoDiffXd. When it is templated with ADS, the samp

[2021-05-19 17:30] jwnimmer-tri commented on #15061
FYI Here's the starting point for how to immediately gain access to this feature, while not making any breaking changes.

This approach buys us four things:
1. Users with a `RandomSource` in their double-valued diagrams will be able to scalar-convert the diagram to AutoDiffXd without any new hassles.
2. Users will be able to call `AddRandomInputs` on an AutoDiffXd diagram directly, inserting AutoD

[2021-05-19 17:31] devesh1508 commented on #15060
Thanks, I posted it here https://stackoverflow.com/questions/67608144/automatic-differentiation-in-drake

[2021-05-19 17:53] jwnimmer-tri commented on #15061
We can start working on the code to add the template, and add the new port, (and I'd suggest making a separate PR for each of those changes, in that order), but I think the plan for gradients is not yet clear to me.

I understand that outcome, and it might be a valid one, but I don't yet understand the mechanism you'd want to use for it.

The selection of the autodiff's partials' indices is establ

[2021-05-19 18:14] SeanCurtis-TRI commented on #15060
Phenomenal. I'll close this in favor of that stack overflow.

[2021-05-19 18:14] #15060 closed

[2021-05-19 21:59] jwnimmer-tri commented on #15061
Hmm, introducing the partials only in the downstream system works for the random value, but not really conveniently for the density.  I have a few ideas for how to resolve this, but I need more information about where `d p(x) / dx` needs to end up before I could recommend one.

[2021-05-19 22:25] hongkai-dai commented on #15061
Sorry I wasn't clear, and I completely agree with you that the user can set the partial gradient w.r.t whatever variable they want, not necessarily the sample value.

How about we have 3 output ports in this RandomSource system
1. One output port for a sample
2. One output for the density (pdf) of that same sample from port 1.
3. One output for the gradient of the density w.r.t the sample.

The ou

[2021-05-19 22:29] jwnimmer-tri commented on #15061
I think that's a clear and unambiguous specification.  I wonder how awkward (or not) it is to use that formulation in your application's code.  Maybe we can look at your diagram / application offline.

[2021-05-19 23:03] hongkai-dai commented on #15061
Thinking more carefully about my use case, I think I made a mistake in my statement above.

The very common use case is that I will have a parameterized probability density function `p(x;θ)`, where θ is the parameter of this distribution, `x` is a sample drawn from this distribution. One example is that for a normal distribution x∼ N(μ, σ), where μ is the mean of this distribution, and σ is the va

[2021-05-20 02:54] RussTedrake commented on #15061
So I actually thought quite a bit about this when I first wrote `RandomSource`; and am remembering now why I decided not to implement the density output port.  It gets tricky fast!

Just to recall the original design decisions:
1) any random signals in a diagram originate at a `RandomSource`
2) `RandomSource` blocks output random variables in the trivial scaling (e.g. N(0,I)), but those outputs ca

[2021-05-20 04:19] hongkai-dai commented on #15061
I like the `LinearTransformDensity` idea! I think it well captures my use case.

Just one question, I am not sure if the linear transformation matrix `A` and `b` should be parameters. As far as I know, the parameters are fixed during the simulation. But in that linear controller example `u = K*x + w`, `A = I` and `b=K*x`, since the state `x` will change in time, now the matrix `b` will also change

[2021-05-20 09:17] RussTedrake commented on #15061
A and b could certainly be inputs to the system, instead of parameters.  But are you actually changing them during a single roll-out?  Are the things that you are going to modify using the gradient information (e.g. controller parameters) also `const` during a simulation?

Also, I realized (as I slept on it!): `RandomSource` does not need to output the density after all.  Since the `LinearTransfor

[2021-05-20 13:14] ggould-tri commented on #15061
This issue had no assigned team, so I am assigning Hongkai/manipulation; Hongkai, you can reassign either of those as you like.

[2021-05-20 14:37] edrumwri opened #15062 "Missing (linking) reference for RotationMatrix constructed with certain AutoDiff types"
We're using getting a linking error when attempting to implement some code that computes a Hessian matrix, FYI, using drake::math::hessian(.).

Seems to be a SFINAE failure (substitution failure is not an error, except when it is...)

Smallest example showing the failure is this diff to the rotation matrix test in 90af862:

[code]

Building yields this error:
[code]

[2021-05-20 14:47] SeanCurtis-TRI commented on #15062
You've run face first into Drake's very *designed*, very limited support of scalar types. More `RotationMatrix` code has moved from the .h file into the .cc file. That movement further cements the policy of which scalar types are supported. The function your linker can't find moved in #14860. Depending on how you exercise `RotationMatrix`, there would be other functions your linker would bark abou

[2021-05-20 15:04] jwnimmer-tri commented on #15062
Here's the doc citations:

https://drake.mit.edu/doxygen_cxx/classdrake_1_1math_1_1_rotation_matrix.html:

https://drake.mit.edu/doxygen_cxx/group__default__scalars.html:

The discussion at #12814 is related.

In #2619 and #10991 we looked into adding a fixed-size autodiff (or sbo-optimized autodiff) to the list of default scalars, but never crossed the finish line on proving it was worth the comp

[2021-05-20 15:43] edrumwri commented on #15062
Ha! I see that I was advocating this change in support of faster compile times in #12814!

We have a high performance application where we don't want the memory allocation, so I just solved the problem by using Matrix3 in place of RotationMatrix.

[2021-05-20 15:43] #15062 closed

[2021-05-20 18:43] jwnimmer-tri commented on #15061
This is what I came up with while reflecting on the above.

I buy Hongkai's case that there's a plausible reason for the `a` and `b` terms to be inputs, for example, because `b` might depend on `x`, and `x` or `Kx` might be most conveniently found on an output port, instead of the user writing code to repeatedly copy it into a system parameter.  I suspect it would also more easily pave the way for

[2021-05-20 22:26] RussTedrake commented on #15061
Looks mostly good to me.  To be clear, I think `A` should be a matrix (I'm ok with `Gain`) and `b` a vector, because the off-diagonal terms are important for capturing covariance.

It's slightly annoying to take that matrix through an input port (AbstractValue? vectorized matrix?), I guess.

I'm afraid don't love `ScaledRandomSource`, since it does more than scaling and since it's not actually the

[2021-05-20 22:37] jwnimmer-tri commented on #15061
Yes, I had `A` as a matrix and `b` as a vector in my head, but I didn't connect the dots that it meant `A` would come in on a vector input port.  That is annoying.  (We will probably need it to be a numeric port, not abstract, because we want double <=> autodiff conversions to operate correctly.)  This is another use case for multi-dimensional numeric ports (and parameters, and ...).

We could off

[2021-05-20 23:05] mitiguy commented on #14997
Resolved with PR #15054: Make CalcCenterOfMassPositionInWorld() and CalcCenterOfMassTranslationalVelocityInWorld() consistent with CalcTotalMass().

[2021-05-20 23:05] #14997 closed

[2021-05-21 18:40] #14792 closed

[2021-05-24 16:10] hongkai-dai commented on #15061
I agree that `ScaledRandomSource` might not be the best name, first we do more than scaling, but a linear transformation with potentially an offset term `b`. Second I think `Source` implies this system doesn't have an input.

How about `LinearTransformRandomSignal`? As Russ mentioned above, the system doesn't have to contain an output port for density (although I think that density output port wou

[2021-05-24 20:52] rpoyner-tri commented on #12560
I updated the checklist above with a few more System methods that are now checkable, thanks to more helper objects having labels.

A few helper types are not yet labeled: `Parameters`, `AbstractValues`, and perhaps some I haven't noticed yet.

[2021-05-24 22:13] SeanCurtis-TRI opened #15080 "[geometry - dev] Support Bvh support for deformable simulation"
## The problem

Current code for computing contact between a [deformable volume mesh and rigid surface mesh](https://github.com/RobotLocomotion/drake/blob/master/multibody/fixed_fem/dev/deformable_contact.cc#L57-L60) iterates through all tet-tri elements. This O(MN) algorithm is *highly* inefficient.

For the same reason hydroelastic contact makes use of bounding volume hierarhcies (Bvh) to accele

[2021-05-24 22:21] DamrongGuoy commented on #15080
It looks good.  Thanks for providing the plan.

[2021-05-24 23:44] RussTedrake commented on #15061
I like that name.  Fwiw, if you just want the density from the original distribution you could still use this block (with the identity transform).

[2021-05-25 22:08] jwnimmer-tri opened #15087 "Updated provisioned images for Bazel 4.1"
https://github.com/RobotLocomotion/drake/pull/15086 upgraded our Ubuntu-pinned bazel to 4.1.  Homebrew also has 4.1.0 available.  Please upgrade our provisioned images on both Ubuntu and macOS to use bazel 4.1.

[2021-05-25 22:45] SeanCurtis-TRI commented on #14124
Closed in lieu of #14306.

[2021-05-25 22:45] #14124 closed

[2021-05-25 23:05] SeanCurtis-TRI opened #15089 "[geometry] Modifiable collision filters"
## The problem

Drake has the concept of "collision filters". In short, a Drake user can declare that a pair of geometries (A, B) can be ignored in various pair-wise proximity queries (e.g., penetration, signed distance, etc.)

Currently, Drake can only *accumulate* collision filters. That is to say, once a pair has been declared as "filtered", it cannot be reversed. Furthermore, there are various

[2021-05-25 23:37] hongkai-dai commented on #15061
I am trying to add the feature in a two-step process:
1. Modify `RandomSource` class. As Jeremy mentioned in https://github.com/RobotLocomotion/drake/issues/15061#issuecomment-844317029, we can templatize `RandomSource` class. Also I think we need to add a `density` output port, that reports the pdf of that particular sample.
2. Add a templated `LinearTransformRandomSignal` class, whose input port

[2021-05-25 23:47] jwnimmer-tri commented on #15061
I thought we agreed that `LinearTransformRandomSignal` does not need to receive the density on an input port ([_RandomSource does not need to output the density after all_](https://github.com/RobotLocomotion/drake/issues/15061#issuecomment-844900340))?  It knows which `RandomDistribution` is being used (via constructor argument), and knows `x` from the input port.  Those alone are sufficient to co

[2021-05-25 23:54] hongkai-dai commented on #15061
Ah you are right, I somehow forgot that part. I have updated the plan in https://github.com/RobotLocomotion/drake/issues/15061#issuecomment-848339289

[2021-05-26 02:30] hongkai-dai commented on #15061
@jwnimmer-tri In the patch, I don't quite get why we put the new class `RandomSourceT` in the internal namespace. It seems to me that there is no harm to put it in the `systems` namespace? If I recall correctly, we don't add python bindings for object in the `internal` namespace, but I do want to bind `RandomSourceT<AutoDiffXd>`

[2021-05-26 02:34] jwnimmer-tri commented on #15061
The classname we want in the future will be `RandomSource<T>`.  If we introduced `RandomSourceT<T>` in a public namespace now, we'd have to deprecate it again a few months.  We _could_ certainly do that, but since _nobody should ever create this class by hand_, there is no point.  Everyone should use `AddRandomInputs`, which will support autodiff)

[2021-05-26 08:40] #13164 closed

[2021-05-26 08:45] RussTedrake commented on #10804
Just noticed this for the first time: https://www.gurobi.com/license-center/for-online-courses/ I wonder if that changes anything?

[2021-05-26 13:34] jamiesnape commented on #10804
Difficult to say for certain. Probably not, but it could give you a different avenue to talking to Gurobi. The redistribute part of the license is the problem, and I do not suppose the new license changes that. I doubt it changes anything for Colab, for example.

[2021-05-26 16:54] calderpg-tri commented on #15006
My understanding of the latest [update](https://shapeof.com/archives/2021/4/apple_april_2021_security_update_and_acorn.html) ([Security Update 2021-003](https://support.apple.com/en-us/HT212530)) is that Apple has fixed the bug in Catalina and we can reenable this test.

@jamiesnape How quickly are the mac CI machines updated?

[2021-05-26 17:00] jamiesnape commented on #15006
I am just (coincidentally) updating them, so later today.

[2021-05-26 17:08] calderpg-tri commented on #14688
Now that the relevant planning code in anzu has stopped needing to provide a non-zero timestep to suppress warnings, I consider this fixed.

[2021-05-26 17:08] #14688 closed

[2021-05-26 17:15] jamiesnape commented on #15087
macOS is updated. +@BetsyMcPhail for Ubuntu.

[2021-05-26 20:17] #15006 closed

[2021-05-26 20:40] sherm1 commented on #15089
SGTM!

[2021-05-27 15:34] BetsyMcPhail commented on #15087
Ubuntu images have been updated

[2021-05-27 15:34] #15087 closed

[2021-05-31 11:47] RussTedrake opened #15106 "solvers: `MosekSolver::enabled()` binding appears to be broken"
[code]
returns
[code]

Per slack convo, it would also be good to add a note to the docstring for `available` to remind users that they might also need to check `enabled`.  Or better, if it's true that checking `enabled` also confirms `available`, then can we document that?

[2021-05-31 13:19] jamiesnape commented on #15106
Does not appear to be bound for solvers implemented in C++. You can add `enabled` near here and in an analogous way: https://github.com/RobotLocomotion/drake/blob/a910475068a928e9ddaed1869c981f24a19c450c/bindings/pydrake/solvers/mathematicalprogram_py.cc#L309-L310

[2021-06-02 04:26] hongkai-dai commented on #15061
@RussTedrake when we compute the density of `w_out` as `w_out = A * w_in + b`, I think it is challenging if `A` is not invertible. In general to apply the idea in https://www.math.hkust.edu.hk/~maykwok/courses/ma246/246t2dnew.pdf I think `A` need to be an invertible matrix. For special case when `w_in` is from a Gaussian distribution, even if `A` is non-invertible, we know that `w_out` must also b

[2021-06-02 19:13] rpoyner-tri commented on #14543
Looks like all of the heap fixes I had are now merged. Closing.

[2021-06-02 19:13] #14543 closed

[2021-06-02 20:17] edrumwri commented on #14802
@rpoyner-tri it certainly wouldn't hurt though I'll explain my reasoning for why Systems with continuous state have not been on my radar.

Reiterating from elsewhere, we're using Drake to build our soft real-time perception and control systems. All of our Systems have discrete and/or abstract state; none have continuous state. This is mostly due to the functionality of these systems (e.g., an obje

[2021-06-02 23:59] RussTedrake opened #15121 "geometry: Retrieve oriented bounding box from SceneGraph"
I would like to be able to get an oriented bounding box (just the actual box, not the OBB tree) for a GeometryId given a SceneGraph and a Context.   Presumably this would go through the QueryObject, but I'll leave the design decision to you.

I would like to use this OBB as a simplified version of the collision geometry for a planning algorithm I am working on now (imagine avoiding collisions with

[2021-06-03 09:49] RussTedrake opened #15124 "solvers: Rename AddL2NormCost"
since the cost that gets added, |Ax-b|^2, is not the L2 norm.  It's the L2-norm squared?

[2021-06-03 10:41] RussTedrake commented on #15061
I took a few minutes to look, and yes, I agree with that assessment.  Nice.  Thanks!

[2021-06-03 13:14] SeanCurtis-TRI commented on #15121
This is certainly a reasonable request. The single biggest obstacle is that `Obb` is currently in `internal::` namespace. So, we'd either have to pull `Obb` out of `internal` or return the `Obb` information in some other means. Pulling `Obb` out implies pulling `Bvh` and `Aabb` out as well. So, I'll look more directly into the implications of doing that and get back to you.

The nice thing is, pro

[2021-06-03 13:46] RussTedrake commented on #15121
Thanks. Even for the primitives, this would be very useful to me.  I *could* write the OBBs myself, but I don't want to (in every application)!

[2021-06-03 14:03] RussTedrake commented on #15124
having an actual L2 norm cost would also be useful, but a bit more subtle (e.g. do we always want the conic version with a slack variable?  or would we just give the nonlinear version to e.g. snopt?).  Also, we probably need to deprecate this name so that people don't have the implementation changed out from under them.

[2021-06-03 14:21] vincekurtz opened #15125 "Need to document how to build Drake on non-AVX supporting Intel machines."
I'm trying to install drake on an older laptop (ThinkPad E420, Ubuntu 20.04, Intel i5-2430M CPU) and running into an `Illegal instruction (core dumped)` error. This occurs both with a binary installation and when building from source.

## What I've Tried

Installing Drake from binaries per [these instructions](https://drake.mit.edu/python_bindings.html#installation). I was then able to run the `dr

[2021-06-03 15:22] vincekurtz commented on #15125
Quick update: older versions of the Drake binaries (up to and including v.0.29.0) seem to work perfectly fine. The more recent binaries (corresponding to v.0.30.0 and onward) seem to have this issue.

[2021-06-03 15:23] #14802 closed

[2021-06-03 16:11] shensquared commented on #15124
Fwiw, in convex land, 2-norm is actually numerically preferred by solvers than quadratic forms (I think exactly due to that second-order cone reformulation). So e.g., http://cvxr.com/cvx/doc/advanced.html#eliminating-quadratic-forms encourages user to explicitly feed in norms whereas some other interfaces would take care of the conversion behind the scene. Not sure if the norm still has a win over

[2021-06-03 16:24] sherm1 commented on #15125
I agree this is likely due to the recently-introduced (by me) dependence on AVX2 & FMA instructions. `-march=native` build from source should fix that, but is likely being overridden by the Bazel instructions [here](https://github.com/RobotLocomotion/drake/blob/master/math/BUILD.bazel#L283) where the use of those instructions depends only on whether we are building for Apple machines:
[code]
I don

[2021-06-03 16:41] vincekurtz commented on #15125
Thanks for the quick reply! I'll give that a shot and will report back when it's finished (which may be as late as tomorrow, since the compilation process is pretty slow on this machine).

[2021-06-03 17:57] rpoyner-tri commented on #11252
@amcastro-tri do you have any work-in-progress on this? If not, I think i have a patch that should do the job.

[2021-06-03 21:04] jwnimmer-tri commented on #12783
With the final two PRs shown in the timeline above, I think all work here is done.  Let me know if I've forgotten anything.

[2021-06-03 21:04] #12783 closed

[2021-06-03 23:54] EricCousineau-TRI commented on #15018
Upstream:
- Addition of `EnforcementPolicy`: https://github.com/osrf/sdformat/pull/481
- Addition of deprecation policy: https://github.com/osrf/sdformat/pull/543

Notably, unrecognized elements are actually a separate code path from unrecognized attributes:
* Config flags: https://github.com/osrf/sdformat/blob/sdformat11_11.1.0/include/sdf/ParserConfig.hh#L131-L161
* Code handling unrecognized el

[2021-06-04 00:14] EricCousineau-TRI commented on #15018
Also, see: https://github.com/osrf/sdformat/issues/583

I'm not sure if I forgot the rationale for this, but it's a bit odd to have extra top-level elements be governed by `EnforcementPolicy` only when it's via `//include`, and not at a root level.
\cc @azeey

[2021-06-04 04:41] xuchenhan-tri opened #15133 "Sugar from declaring context resources from outside of a System"
#15033 introduces mechanism to declare context resources from outside of a `System`. For a contrived example, see [here](https://github.com/RobotLocomotion/drake/blob/8d48ff944f116112e4823d48481352f547b0364c/multibody/plant/test/dummy_model.h#L70).

Since these resources are declared from outside of the `System` that actually requests the resources, the sugar taking member methods as arguments (li

[2021-06-04 14:18] jwnimmer-tri commented on #15133
From the overview text, I can't tell if you're asking for this sugar to be added to `LeafSystem` or to `internal::DiscreteUpdateManger`.  Adding it to `LeafSystem` is insane, yet you've labeled the issue "system framework" and not "multibody plant".  Can you clarify your proposal?

[2021-06-04 15:16] amcastro-tri commented on #11252
Your patch is excellent. Thanks @rpoyner-tri!

[2021-06-04 15:50] sherm1 commented on #15133
Wait, why is that insane?

[2021-06-04 15:57] jwnimmer-tri commented on #15133
The Declare methods are protected.  The caller of them is necessarily `this` System, so in the typical case the Calc callback is on `this`.  Do we have a lot of System classes that want to delegate their Calc functions to helper instance objects?

[2021-06-04 16:02] vincekurtz commented on #15125
Yes, commenting out the `copts` line in `math/BUILD.bazel` and compiling with `-march=native` fixes the issue. I was able to compile successfully and everything seems to be working normally now. Thanks!

[2021-06-04 16:23] xuchenhan-tri commented on #15133
I originally meant adding the sugar to `LeafSystem`, but adding them to `PhysicalManager` (which is currently the only object needing extra state/ports) could also work.  `DiscreteUpdateManager` really only needs cache entries. What about a adding similar sugar to `SystemBase` for cache entries? Those declares are public. Does that make the request less insane?

[2021-06-04 16:26] sherm1 commented on #15133
I see. I think it could still make sense to make these static methods of LeafSystem for organizational and documentation purposes. I do think we will see more helper classes that need System resources, though maybe the need is most acute for the mega-System MultibodyPlant. The sugar methods need to be able to call the (currently protected) most-general Declare method; that could be easier with a L

[2021-06-04 16:30] sherm1 commented on #15125
I am leaving this open with a new title as a call for accessible documentation on how to get Drake compiled on older Intel machines.

[2021-06-04 16:38] jwnimmer-tri commented on #15125
Probably the ["Supported Configuration" documentation](https://github.com/RobotLocomotion/drake/blob/8d48ff944f116112e4823d48481352f547b0364c/doc/_pages/developers.md#supported-configurations) should mention that we require AVX2 and FMA when running on Ubuntu.  We seem to have missed that in the original batch of changes, though we did mention it in the [release notes](https://drake.mit.edu/releas

[2021-06-04 17:02] jwnimmer-tri commented on #15133
It is a defect that they are public.  Adding _more_ public framework `Declare...` methods is a non-starter, whether that be widening the overload set for `DeclareCacheEntry`, or promoting some other `DeclareFoo` elements from protected to public.

These methods allow external code to violate the invariants of current systems, so must be disallowed by default.  Any System that is still able to oper

[2021-06-04 19:13] hongkai-dai commented on #15124
I plan to do this in two steps
1. Rename `AddL2NormCost` function to `AddL2NormSquaredCost`. Also change our tutorials. Deprecate the old `AddL2NormCost` function.
2. After 3 month of deprecation notice, add back `AddL2NormCost`, which adds actually the L2 norm in the conic form (with slack variable and second order cone constraint).

@jwnimmer-tri , what do you think? Specifically, is it OK to ch

[2021-06-04 21:47] jwnimmer-tri commented on #15124
That's acceptable.

The new `AddL2NormSquaredCost` name, and deprecating the old name, are perfect.

However, it would be somewhat better if the forthcoming non-squared cost was added under a distinct signature.  That way (1) even a user who upgrades across a >3 month span would receive a diagnostic, and (2) you could add and experiment with the slack variable formulation right away, without waiti

[2021-06-04 21:53] hongkai-dai commented on #15124
I see, that makes sense.

Here is the new plan
1. Rename the old `AddL2NormCost` to `Add2NormSquaredCost`. People use "l2 norm" and "2-norm" interchangeably. Deprecate the old `AddL2NormCost` function.
2. Add a new method `Add2NormCost` for the alternative formulation.

[2021-06-07 19:28] EricCousineau-TRI commented on #15124
My attempt to summarize point here:
https://github.com/robotlocomotion/drake/pull/15134#pullrequestreview-677797782

We don't want to continue using `AddL2NormCost`, even if it were deprecated, removed, then restored. For that reason, we choose `Add2NormCost` for the future, and thus the intermediate `Add2NormSquaredCost`.

Beyond legacy and migration purposes within Drake, there is no defect with

[2021-06-07 19:30] #15124 closed

[2021-06-07 22:33] rpoyner-tri commented on #12560
Updated the checklist. Looks pretty done to me.

[2021-06-07 22:33] #12560 closed

[2021-06-08 14:10] BetsyMcPhail commented on #14968
PR #15142 was created to try out the release candidate (6/7/2021) on both Linux and Mac. A summary of results with relevant CDash links to full output  are listed below:

**Build Errors**

1. [ ERROR: .../multibody/tree/BUILD.bazel:99:17: Compiling multibody/tree/multibody_tree.cc failed](https://drake-cdash.csail.mit.edu/viewBuildError.php?buildid=1423080)
[code]
2. [ERROR: .../common/trajectorie

[2021-06-08 18:31] SeanCurtis-TRI opened #15147 "Correct examples that override DoPublish instead of declaring events"
The [end effector teleop slider](
https://github.com/RobotLocomotion/drake/blob/master/examples/manipulation_station/end_effector_teleop_sliders.py#L169) example updates the window artifacts via overriding `DoPublish()`. On the whole, `DoPublish()` should not be treated as the handler for `Publish` events. As [documented in the `LeafSystem` code](https://github.com/RobotLocomotion/drake/blob/maste

[2021-06-08 21:24] jwnimmer-tri commented on #13439
\CC @dmcconachie-tri and I were chatting today, and it came up that this might be a useful improvement for a certain use case.

The general idea is that we wanted to generate traces of state and/or outputs (via publish events into a logger) over some 10-second period of interest for offline analysis.  However, we also want to allow some settling time for the state to reach near-zero velocities, in

[2021-06-08 21:48] sherm1 commented on #13439
I think this would have been a better definition for periodic events -- missing those MbP steps during negative time is a real drag! There would be a little pain for a while after changing the behavior but it would be minor (unless someone didn't know to do it!).

[2021-06-09 00:19] #15106 closed

[2021-06-09 16:09] tombroi commented on #2000
retest this please

[2021-06-09 23:40] gizatt commented on #13514
As part of a side project, I just tried building Drake (arbitrarily, sha 9d5b2e from yesterday) on a Rasberry Pi 4b, which has a pretty dinky 1.5Mhz 4-core ARM64 CPU. I have the version with 4GB of RAM + added 8GB of swap. I'm running Ubuntu 20.04.2 on it.

Kudos to the build folks, it built with relatively superficial modifications! I just tested a 3D sim (simulating a simple point-foot quadruped

[2021-06-10 03:44] xuchenhan-tri opened #15168 "MultibodyPlant's scalar converting constructor needs better book-keeping"
This came up in the review for #15135.

Quoting the reviewer @jwnimmer-tri:

[2021-06-10 04:45] DamrongGuoy opened #15170 "Memory aliasing problem in MeshDeformer::set_mesh()"
<h1>Problem</h1>
After I reviewed PR #15117 and approved its merge into master, I played with unit tests to educate myself about memory management and found that the following function `geometry::internal::MeshDeformer::set_mesh()` is copying the **content** of `*mesh_M` not its **address** to the alias `mesh_`.

[code]

This is because `MeshType& mesh_` still refers to the original memory address

[2021-06-10 13:38] jamiesnape commented on #13514
You can open an issue about `drake-visualizer` if the `Dockerfile` was not working out for you, whether it is ARM-specific or not. My hope is that each `Dockerfile` is agnostic to the build architecture and will work on pretty much anything 64-bit that Ubuntu supports.

[2021-06-10 13:40] jamiesnape commented on #13514
Not great that we pass that unconditionally. Bazel does support passing flags specific to processor architecture.

[2021-06-10 14:10] SeanCurtis-TRI commented on #15170
This is some good initial analysis. It's very subtle, but I'd suggest it's even a bit more subtle.

I completely agree that `MeshDeformer` has some lying semantics and those lying semantics are bad. But, accidentally, the runtime code doesn't actually *do* anything "bad". Because when we call the mesh copy assignment, we're copying a mesh *onto itself*. One would presume that the default-defined a

[2021-06-10 14:25] jwnimmer-tri commented on #1183
Next step on deck, per chat with @jamiesnape:

In our prototyping repo `pip-drake`, we'll work out a 18.04-based Dockerfile that runs the Drake install, and then at the end we'll show a report with the problematic shared libraries, and then we can iterate to remove system dependencies and turn them into source dependencies.

[2021-06-10 15:06] jwnimmer-tri commented on #1183
Looking at a current binary release tarball in the `drake/lib/python3.6/site-packages` folder, anything that's _not_ part of the pydrake module could present a problem for a pydrake pip wheel.  (Everything in the wheel must be within the pydrake module).

Here's the ones that are easily resolved:
- A bunch of stuff from `drake-visualizer` (director, urdf_parser_py, ...).  No need for this to be in

[2021-06-10 15:53] amcastro-tri commented on #15170
Maybe a dumb question, but I use this pattern a lot and I'd like to learn what the good solution is. Why `Mesh& mesh_` instead of `Mesh* mesh_`? I tend to use the latter given that in my mind the `->` operator in the source communicates we are holding a reference.

[2021-06-10 18:13] DamrongGuoy commented on #15170
For @amcastro-tri , `Mesh& mesh_` and `Mesh* mesh_` are slightly different.

The `Mesh& mesh_` will refer to the same `Mesh` object to the end, so MeshDeformer will always deform the same mesh. Once a MeshDeformer is constructed, it is glued to the same `Mesh` object to the end of its lifetime.

If we use `Mesh* mesh_`, the pointer can point to a different Mesh object later, so the MeshDeformer ca

[2021-06-10 19:12] amcastro-tri commented on #15170
That makes sense @DamrongGuoy, thank you.

[2021-06-10 19:13] jwnimmer-tri commented on #13514
Thanks @gizatt for your experience report and posting the branch.  Feedback like this is super helpful for us to understand user's experiences.

[2021-06-11 10:32] RussTedrake opened #15177 "Passing the wrong context to OutputPort::Eval crashes the process"
_Edit: Originally titled **python: passing the wrong context to OutputPort::Eval crashes the python interpreter**._

I've seen this time and again (a user's juptyer server / colab notebook crashes because they passed the wrong context).  I just did it to myself, so decided to make a minimal repro.  I've seen it most often when the context is an `MultibodyPlant` or `SceneGraph`, but created an exam

[2021-06-11 16:06] jwnimmer-tri commented on #15177
\CC @rpoyner-tri because this is supposed to be caught by our #12560 work.

Later today, I'll see what I can find out from a debugger.

[2021-06-11 16:45] hongkai-dai opened #15178 "Change the decision variable type from binary to continuous after the variable has been created"
As @TobiaMarcucci mentioned, when using gurobi's python interface directly, one user scenario is to change the type of the variable after it has been created, something like
[code]
Tobia would like to emulate the similar workflow in Drake's MathematicalProgram.

To do so in Drake, the biggest problem is that Drake creates decision variables, that both stored inside MathematicalProgram, and returne

[2021-06-11 17:00] jwnimmer-tri commented on #15178
I think if you let go of the idea of mutating variables, and instead think more about replacing some variables with new variables, you might find more suitable answers.

We have `NewContinuousVariables` and `NewBinaryVariables` -- maybe you want something like `ReplaceVariables(list_of_existing_decision_variables, list_of_new_variables)`?  The number of decision variables doesn't change, but we go

[2021-06-11 17:18] hongkai-dai commented on #15178
I think that could work, but we need to warn the user that after calling `ReplaceVariables`, the old variables cannot be used. Moreover, the returned bindings from `AddCost` and `AddConstraint` won't be used, if these bindings are associated with the old variables. I am afraid it is too hard for the user to keep track of all the variables/cost_binding/constraint_binding that would become obsolete?

[2021-06-11 17:21] jwnimmer-tri commented on #15178
Oh, I see.  My expectation was that we'd mutate the Binding during `ReplaceVariables`, so that it would continue to work correctly, but I see now that we're returning copies of the binding (why?!), not references.  So, the idea is problematic, for the reason you note.

[2021-06-11 17:36] hongkai-dai commented on #15178
Binding has a shared_ptr to the constraint, and a copy of the bound variables. We thought we would change the constraint, but not the bound variables when we created MathematicalProgram::AddConstraint function.

Maybe the right approach is to change the return type of `AddConstraint` to reference (or pointers)?

[2021-06-11 18:15] jwnimmer-tri commented on #15177
It segfaults in Release builds but raises a nice exception in Debug builds.

This is the line that's helping us out in Debug builds.  It's guarded by `DRAKE_ASSERT_VOID`.
https://github.com/RobotLocomotion/drake/blob/v0.30.0/systems/framework/output_port.h#L118

Perhaps none of the calls to `ValidateContext` should ever be within `DRAKE_ASSERT_VOID`.  Most of them are not guarded (only 8 are turne

[2021-06-11 21:51] jwnimmer-tri commented on #10751
As I've been visiting many call sites as part of #15179, I'm also sad that we have to say `BasicVector` when declaring vector ports.  A _string name_ and _int size_ would help in very many places.

[2021-06-12 14:42] soonho-tri commented on #15178
@hongkai-dai and @jwnimmer-tri ,

I have another proposal which changes the type of `type_` member:

[code]

The idea is that all variable instance with the same ID share a single type value.

[2021-06-12 15:04] jwnimmer-tri commented on #15178
It's a bit of a delicate situation.  The MathematicalProgram has already updated its internal data structures based on the original type of the variable.  If we change the variable type out from under it, those structures will be incorrect and it will fail.  The same could be said for any other class in Drake that operates on variables; if they mutate out from under it, any checking it did when it

[2021-06-12 17:36] hongkai-dai commented on #15178
Thanks @jwnimmer-tri and @soonho-tri , I think I have a candidate plan

1. We change `symbolic::Variable::type_` to a shared pointer, so now all variables with the same ID would share the same variable type.
2. We add a **private** setter to change the variable type `void Variable::set_type(Type type)`. This private setter can only be used by some methods in MathematicalProgram.
3. In Mathematical

[2021-06-13 10:29] RussTedrake opened #15184 "solvers: API proposal for passing structured data to generic costs/constraints"
@weigao95 proposed to me that at little improvement here could make a dramatic improvement in the usability of MathematicalProgram.  After hearing his proposal and thinking about what we have currently and in the pipeline (#14971 and #14973), here is my opening suggestion.

Note: I recommended we make it nice in Python first, since we already have `namedview`, and have discussed making something s

[2021-06-14 13:16] weigao95 commented on #15184
I think that's a nice solution. Besides, I am considering the trade-off of including the time (knot) within the namedview index? For example we might write `vars.q.1 - vars.q.0`.

As mentioned by Russ, there might be a variety of different, but very similar decision variables (one for each time step). That's a good reason to include the knot as part of the index. Furthermore, including the knot al

[2021-06-14 15:38] hongkai-dai commented on #15184
I like the `namedview` idea, it would make the code much more clear.

I think the second approach (using variable name) is harder. As you point out, it requires the variables having unique names. This is never enforced in our code, and in some cases we don't provide the API for the user to set the variable name (For example, in NewSosPolynomial() function, it adds the polynomial Gram matrix as dec

[2021-06-14 15:55] RussTedrake commented on #15184
@hongkai-dai ... thanks.  i agree.
@weigao95.. awesome.  But we should definitely *not* write a new TrajectoryOptimization class.  I would rather pull the trigger and refactor MultipleShooting into the has-a relationship.  See the slack thread here: https://drakedevelopers.slack.com/archives/C2ETTRXT7/p1586869334012700

[2021-06-14 17:11] EricCousineau-TRI commented on #12125
From reviewing #14985, I believe the defect is as you mentioned; the depth image is *not* registered to same camera extrinsics and intrinsics, due to this code snippet:
https://github.com/RobotLocomotion/drake/blob/85525640efa7f40bb2f7abad6700d70e74c0d6b0/examples/manipulation_station/manipulation_station.cc#L167-L186

Possible solutions:
- Register color to depth, e.g. via something like [`cv2.re

[2021-06-14 18:32] #9447 closed

[2021-06-14 20:09] weigao95 commented on #15184
I am happy with that. Then I will take a look at the C++ code (which I am more familiar with).

[2021-06-15 01:37] RussTedrake commented on #15121
I've read through more of the code, and found aabb.h and obb.h.  I'm hoping to have access to both, please.  (will update the issue title)

[2021-06-15 01:58] jwnimmer-tri commented on #15121
Broadly, the QueryObject seems to offer functions that return results typed as `T` scalars, but the current Oobb and Aabb classes are hardcoded to double.  We should be clear about what scalars should be allowed for (at compile time) as part of this change.

I could see the case for the half_width remaining double, since our ShapeSpecification is double, but it seems like at least the pose (and ce

[2021-06-15 03:18] RussTedrake commented on #6341
Looks like Mosek supports them, too.  It seems that we have [QuadraticConstraint](https://drake.mit.edu/doxygen_cxx/classdrake_1_1solvers_1_1_quadratic_constraint.html) and the solvers declare if they support quadratic constraints, but we just don't have `AddQuadraticConstraint` nor `AddConstraint<Binding<QuadraticConstraint>>` on `MathematicalProgram`?

[2021-06-15 03:36] hongkai-dai commented on #6341
Yes, and that is intentional. Mosek strongly suggests the users to reformulate the quadratic constraints as Lorentz cone constraints, mentioned [here](https://docs.mosek.com/9.2/rmosek/prob-def-quadratic.html#a-recommendation).

[2021-06-15 03:43] hongkai-dai commented on #6341
If it helps, I think we could provide this function
[code]
which impose the constraint `quadratic_expr <= upper_bound`. And by default we enforce this constraint as a Lorentz cone constraint (with `lorentz_cone=true`).

[2021-06-15 12:27] RussTedrake commented on #6341
That could be nice, but it's certainly not urgent.

Should we perhaps delete [QuadraticConstraint](https://github.com/RobotLocomotion/drake/blob/master/solvers/constraint.h#L188) and [kQuadraticConstraint](https://github.com/RobotLocomotion/drake/blob/8fed7d2f716c5bb5f3eac1999b4786b484b26760/solvers/program_attribute.h#L18) if they are unused and if we have no intention of using them?

[2021-06-15 18:41] RussTedrake commented on #15121
Good point.  My use case only requires `double` for now, and if supporting `T` is a challenge, I'd be happy to see the double-only version land first.

[2021-06-15 19:08] #14985 closed

[2021-06-15 22:42] hongkai-dai commented on #6341
Currently QuadraticConstraint and kQuadraticConstraint are used in nonlinear optimization, for example by SnoptSolver. So I think it is useful to keep it around?

[2021-06-15 23:34] jwnimmer-tri commented on #15121
To be clear, I have no problem with throwing on AutoDiffXd.  My point is that if we foresee having `Aabb<T>` or `Oobb<T>` down the road, then we should make those into class templates _now_, because changing them once they are part of the the public API is a big hassle.

[2021-06-16 02:12] RussTedrake commented on #6341
How does a user create one of those constraints?

[2021-06-16 02:31] hongkai-dai commented on #6341
The user can do
[code]
as shown in snopt_solver_test.cc https://github.com/RobotLocomotion/drake/blob/6c5a106b1d3660a5e10c3667af4eddaf218a479c/solvers/test/snopt_solver_test.cc#L99-L102

Just curious, do you have a convex optimization problem with a convex quadratic constraint? I think that's a common use case, and I can add the function to parse the convex constraint to a lorentz cone constraint.

[2021-06-16 10:00] RussTedrake commented on #6341
I have one in my open PR: https://github.com/RobotLocomotion/drake/pull/15194/files#diff-eeb9eea73750e4da6b48cbda49815973217d01264b9ed577ea725ba477b2720bR95

[2021-06-16 17:55] soonho-tri commented on #15178
Sorry for the delay, @hongkai-dai.

I see what and how you want to achieve things. I think here we assume that we have a single MathematicalProgram instance which holds the variables that we want to change their types. However, it is possible that we have two (or more) MP instances (say `mp1` and `mp2`) which share common variables introduced via `MP::AddDecisionVariables` method. If we call `mp1.

[2021-06-16 19:38] #15177 closed

[2021-06-16 20:40] #15125 closed

[2021-06-17 15:25] jhu-gh opened #15206 "mixed integer rotation constraint test error"
After installing drake from source, tried to run mixed_integer_rotation_constraint_test, and got the following error:
`[==========] Running 244 tests from 3 test suites.
[----------] Global test environment set-up.
[----------] 48 tests from RotationTest/TestMixedIntegerRotationConstraintGenerator
[ RUN      ] RotationTest/TestMixedIntegerRotationConstraintGenerator.TestConstructor/0
[       OK ]

[2021-06-17 15:43] hongkai-dai commented on #15206
Your test incurs IPOPT solver. The optimization problem is convex. It seems that you don't run the test with Mosek/Gurobi enabled, and Drake falls back to IPOPT which doesn't perform nicely with this convex optimization problem.

What is the command you used for testing? I tried
[code]
and it works fine on my Ubuntu 18 machine. Note the flag `--config gurobi --config mosek --test_tag_filters=gurob

[2021-06-17 16:42] #14593 closed

[2021-06-17 18:33] hongkai-dai commented on #15178
Thanks Soonho.

Yes that is a very good example, great catch. Unfortunately I don't have a good solution. One solution is that before we check the required capabilities of a `MathematicalProgram` instance, we loop through all variables again to make sure if `ProgramAttribute::kBinaryVariable` is set correctly. Maybe in MathematicalProgram, instead of storing `required_capabilities_`, and having th

[2021-06-17 19:35] EricCousineau-TRI commented on #15089
FYI I unchecked the box for #15115, given that it was reverted in #15139.
Was confusing when writing release notes (#15207).

[2021-06-17 20:28] jhu-gh commented on #15206
Thanks for your quick reply.

You're correct, it is because of the solver, I was running the binary directly without any flags, tried your command and it worked! Thanks.

[2021-06-17 20:29] #15206 closed

[2021-06-17 22:34] soonho-tri commented on #15178
I see. Essentially, we need to update those code written on the assumption that `symbolic::Variable` is immutable. Then we can add `Variable::set_type` method which changes the type of the variables with the same ID.

I also would like to check if we have https://mywiki.wooledge.org/XyProblem here. In the original problem, there could be other solutions than providing `Variable::set_type`. As Jere

[2021-06-20 13:07] RussTedrake commented on #15184
Related to #9497

[2021-06-20 15:48] RussTedrake opened #15213 "We have `SolverType::kDReal`, solver class `DrealSolver`, and `solver.SolverName="dReal"`"
The capitalization is inconsistent.  Proposal: should we at least make `SolverType` into `kDreal` to match the class name?

(I'm writing the python bindings now, and will PR them soon)

[2021-06-20 16:20] soonho-tri commented on #15213
Yes, I agree.

[2021-06-20 16:25] jwnimmer-tri commented on #15213
Since SolverType only exists for backwards compatibility and should not be used in new code (#15214), renaming `SolverType::kDreal` without deprecation defeats the purpose, and going through deprecation seems like more work that it's worth.

If we find the naming conventions of SolverType distracting, then we should  deprecate and remove it entirely, not try to fix it.

[2021-06-20 23:09] #15213 closed

[2021-06-20 23:12] RussTedrake opened #15216 "pydrake: Segfault when using `RigidTransform_[Expression].multiply(VectorXDecisionVariables)`"
This one is a blocker for me.  Would really appreciate some help:
[code]
results in
[code]

[2021-06-20 23:18] RussTedrake commented on #15216
Update: It seems that it's a `Variable` vs `Expression` issue.  `X_WA.multiply(p_A+0)` works just fine.

[2021-06-21 17:01] SeanCurtis-TRI commented on #15121
I'm also in the midst of touching the BVH infrastructure (in support of deformable simulation) and would rather not have to thrash that PR train with these kinds of changes. That PR train is progressing nicely, and I'll come back to this when it's done.

[2021-06-21 17:22] jhu-gh opened #15217 "convexity of the quadratic cost"
Hello all,

I'm trying to implement the MILP formulation mentioned in: Global Inverse Kinematics via Mixed-integer Convex Optimization by Hongkai Dai, Gregory Izatt and Russ Tedrake, ISRR, 2017. Sometimes when I use different data points, the convexity of the cost function changes, and throws error saying "There is no available solver for the optimization program".  The following is code to reprod

[2021-06-21 21:28] hongkai-dai commented on #15217
When the solver complains that "There is no available solver for the optimization program", the line
[code]
returns False.

But your cost is actually convex (as it is the sum of squared norm). So  when Drake checks the convexity of the cost, it returns the wrong result. The easy fix is to change the line
[code]
to
[code]
where the flag `true` explicitly tells Drake that the cost is convex, and the

[2021-06-21 21:50] SeanCurtis-TRI commented on #15217
@jhu-gh This was a great question. We'd strongly encourage you to post this kind of thing in stackoverflow with the `drake` tag. In fact, it's probably worth taking your original post and adding it there specifically. More users will directly benefit from your question and @hongkai-dai's answer.

I'm going to close this issue as "solved" (based on @hongkai-dai's response). If you want to take the

[2021-06-21 21:50] #15217 closed

[2021-06-22 03:13] jwnimmer-tri commented on #15178
Still curious to hear the full work-up, but here's another way we could tackle it (tossing an idea out into the wind) ...

Instead of mutating the Variable, or swapping it out for another replacement (and teaching all of the Bindings about the swap), I wonder if we could always declare it as CONTINUOUS (the default), and then _later_ tell MathematicalProgram that certain continuous variables used

[2021-06-22 12:04] EricCousineau-TRI commented on #15216
Yup, can repro on simplified form: https://github.com/EricCousineau-TRI/drake/tree/issue-15216-wip
[code]

[2021-06-22 12:20] EricCousineau-TRI commented on #15216
Seems like there's an issue with implicit casting on the pybind11 side: 6b9d70b9db
Most likely, an error is raised, but something in our pybind11 fork fumbles with it, and it gets lost.

[2021-06-22 12:30] RussTedrake opened #15227 "geometry: ComputeSignedDistanceToPoint does not return distances to Ellipsoids"
I've managed to trip myself on this both in c++ (#15194) and in python (below).  The warning tells me to expect the signed distances to ellipsoids to be potentially inaccurate; but in fact no signed distances are returned.   Here is a minimal repro:
[code]

Results in
[code]
Because ComputeSignedDistanceToPoint returns an empty vector.

A bandaid resolution would be to update the warning.  But I'd

[2021-06-22 13:15] SeanCurtis-TRI commented on #15227
Thanks. The documentation is up to date, but the warning is not. Updating the warning will be quick and dirty. Updating the value will be longer. Let me take a quick peek to see if making the warning message is accurate. I'll get back to you later today.

[2021-06-22 14:34] jamiesnape commented on #4045
See inline in various `*.bazel` and `*.bzl` files and in https://github.com/RobotLocomotion/debian-drake/blob/debian/bionic/debian/copyright and https://github.com/RobotLocomotion/debian-drake/blob/debian/focal/debian/copyright.

[2021-06-22 14:34] #4045 closed

[2021-06-22 15:21] hongkai-dai commented on #15178
Thanks @soonho-tri and @jwnimmer-tri . I am working on a conference deadline. Would you mind if I come back to this issue later in the week?

[2021-06-22 15:32] soonho-tri commented on #15178
@hongkai-dai , no problem. Good luck on your submission!

[2021-06-22 17:37] ggould-tri opened #15229 "IPOPT solver test uses hard-coded constants"
See:

https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/mac-big-sur-unprovisioned-clang-bazel-nightly-release/133/console

This mac build failed because upstream ipopt has changed the values of its constants by adding a new constant ( https://github.com/coin-or/Ipopt/commit/5381b9a4908757dd54a2591d5f323e53814e888c#diff-96bd8208972238902c77b11d84b51981fbb4e4f2cdc73c057f5e8b9c21f29e0

[2021-06-23 13:28] SeanCurtis-TRI opened #15233 "[multibody] Add unit test for derivatives on hydroelastic contact forces"
Resolving issue #14136 included all of the work on the geometry side to get derivatives in hydroelastic contact. It included a token effort to give evidence that the derivatives propagate through to the computed forces. However, the test is only indicative and needs to be made more robust.

See the comments in #15219 for details on how to formulate a more detailed test that fully considers the exp

[2021-06-23 13:29] SeanCurtis-TRI commented on #14136
The initial effort (while still benefitting from some more elaborate tests -- see #15233), is basically complete. We have credible reason for someone to try working with the derivatives in hydroelastic contact.

fyi @hongkai-dai

[2021-06-23 13:29] #14136 closed

[2021-06-23 15:26] ggould-tri opened #15234 "DrakeLcm default queue behaviour is confusingly lossy"
Context: https://github.com/lcm-proj/lcm/issues/345 LCM queue overflow works the opposite of how you would expect, discarding the most recent rather than least recent message.

This is not usually especially problematic, because the LCM message queue size of 30 is seldom reached in practice.

However LCM *also* has per-subscriber queues, and we default those to size 1 (`result->native_subscription

[2021-06-23 15:44] ggould-tri commented on #15234
Another implication of this is that `drake::lcm::Subscriber::message()` never meets its documented behaviour ("returns the most recently received message") and, because `Subscriber` does not expose its underlying subscription, cannot be worked around to do so.

[2021-06-24 15:58] ggould-tri commented on #15234
Assigning this to the dynamics team because https://drake.mit.edu/issues.html#team doesn't list network/LCM and @sherm1 probably knows how this should actually be assigned.

[2021-06-24 16:10] sherm1 commented on #15234
Reassigning to @jwnimmer-tri for disposition.

[2021-06-24 20:58] chen-tianjian opened #15241 "Autodiff support for the mechanical parameters in force elements"
Thanks for providing this great robotics toolkit!
I wish to use Drake for optimal robot design and I need to calculated the gradients w.r.t mechanical parameters.
I am wondering if it's possible and if it makes sense to have Autodiff support for the mechanical parameters in the force elements?
For example, the spring stiffness and damping here:
https://github.com/RobotLocomotion/drake/blob/f72aecf

[2021-06-24 21:11] sherm1 commented on #15241
Can you comment on this, @joemasterjohn ?

[2021-06-24 23:44] RussTedrake opened #15242 "pydrake documentation: Derived classes "using" base class methods causes documentation to appear in doxygen, but not pydrake docs"
For example:
https://github.com/RobotLocomotion/drake/blob/master/solvers/dreal_solver.h#L94

Results in `Solve` appearing in doxygen:
https://drake.mit.edu/doxygen_cxx/classdrake_1_1solvers_1_1_dreal_solver.html

but not in pydrake docs:
https://drake.mit.edu/pydrake/pydrake.solvers.dreal.html?highlight=dreal#module-pydrake.solvers.dreal

[2021-06-28 11:25] yangL11 opened #15244 "DeclareVectorInputPort error"
hey, every one, i want to test the examples of pendulum and design a new plant.h in one team project, but as shown below, "this->DeclareVectorInputPort" runs wrong, but with the same code in my own test project, it runs all well, the difference of which is that cmakelist are different, team project's was written by someone else, i am not sure if cmakelist of exporting drake library is the cause, o

[2021-06-28 11:28] yangL11 commented on #15244
sorry, to correct one mistake: this->DeclareVectorInputPort("tau",systems::BasicVector<T>(1)); this is right one

[2021-06-28 12:01] Renxiem opened #15245 "Segmentation Fault when calling DeclareVectorInputPort"
[Getting Help](https://drake.mit.edu/getting_help.html)?

post reproduction steps and as much relevant output as possible. Consider
posting long snippets as a [Gist](https://gist.github.com/).

[2021-06-28 12:01] #15245 closed

[2021-06-28 14:22] jwnimmer-tri commented on #15229
@hongkai-dai would you like me to take over this issue?

[2021-06-28 15:16] SeanCurtis-TRI commented on #15244
Several thoughts for you to consider:

1. This question may really be better suited for stackoverflow. As you pointed out, the difference in the two efforts is code that isn't part of Drake. So, seeking help on configuring an external cmake project would be really well suited for stackoverflow so multiple users can benefit.
2. When presenting a problem, you should also include error messages. It's

[2021-06-28 15:16] #15244 closed

[2021-06-28 15:46] hongkai-dai commented on #15229
Thanks Jeremy, that would be great.

[2021-06-28 16:41] jwnimmer-tri commented on #15242
Per https://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html:

For Doxygen, the `using` syntax is how we control what inherited functions we slurp into the subclass's API reference.  It's valid to ask for a mechanism in Python to do the same, but I don't think it _needs_ to be by scraping the C++ `using` statements.  A python-specific syntax that we annotate onto the bindings files somew

[2021-06-28 16:51] jwnimmer-tri commented on #15234
I'll work on a more detailed reply later on, but let me ask for a little more information in the meantime:

A fundamental invariant of using LCM is that you call `handleTimeout` (which wrapped as `DrakeLcm::HandleSubscriptions`, which is wrapped as `CalcNextUpdateTime`) at least as frequently as your highest-frequency incoming message.  Can you provide any background on how it came to pass this th

[2021-06-28 17:15] ggould-tri commented on #15234
The incoming messages are status messages about the progress of process setup, similar to logging; they occur at the rate at which the other end (controller) makes progress through it setup procedure, which is not known to the receiver.

If the answer is that a process should not emit messages at more than a known-in-advance rate, we should probably put a rate limiter into DrakeLcm to fail fast if

[2021-06-28 17:43] yangL11 opened #15250 "DeclareVectorInputPort error"
Hello, together.
i created my own CMake-Project and linked the drake library. However, when I am trying to create my own LeafSystem I receive a segmentation fault from drake when calling DeclareVectorInputPort in the constructor.
  `this->DeclareVectorInputPort("test", drake::systems::BasicVector<T>(1));`
Everything else seems to work fine, for example using predefined LeafSystems or examples such

[2021-06-28 18:08] sherm1 commented on #15250
Please see Drake's [getting help](https://drake.mit.edu/getting_help.html) advice -- it would be better to use Stackoverflow (tag=drake) for this question.

[2021-06-28 18:08] #15250 closed

[2021-06-28 22:52] #15229 closed

[2021-06-29 16:57] sherm1 commented on #13902
Current cassie_bench performance snapshot. This includes the effects of the AVX transform composition functions.

- Drake master at c272fa4e719954a42b1b8abd826859b0276d124d.
- Sherm's Puget, Ubuntu 18.04, gcc 7.5, 2.9MHz max but run in no_turbo/powersave/cpu1 using `conduct_experiment`.
- see [above comment](https://github.com/RobotLocomotion/drake/issues/13902#issuecomment-679301128) for test con

[2021-06-29 22:30] SeanCurtis-TRI opened #15260 "Provide ray-casting query in QueryObject"
A lidar sensor is best simulated using ray casting. Furthermore, the ability to find out "what lies in *that* direction" is generally useful. Currently, `QueryObject` does not provide any such query. This would add such an API.

# Problem statement

In its simplest form, the query would take a given ray (point origin + direction vector) and report what the *first* geometry the ray would intersect

[2021-06-29 22:49] sherm1 commented on #15260
A `max_distance` or `threshold` parameter (as we have for some of the distance queries) would likely be useful for performance reasons here also. For robotics it's likely that objects beyond a certain distance are irrelevant and in a home environment there are probably a lot of those.

[2021-06-29 23:13] SeanCurtis-TRI opened #15261 "[geometry] Create Drake's own dynamic bounding volume hierarchy for *geometry*"
# Problem statement

Drake currently depends on FCL for its dynamic bounding volume hierarchy to do culling of geometries in various queries. This comes with a number of costs:

  1. FCL is generalized across BV types we don't care about, but we're paying that price.
  2. FCL's BVH update has some strange artifacts (reversing order of geometries when the hierarchy doesn't actually change). For Dra

[2021-06-29 23:14] SeanCurtis-TRI commented on #15260
Agreed.

[2021-06-29 23:25] SeanCurtis-TRI opened #15263 "[geometry] Mesh and Convex shape specification uses in-memory mesh"
# Problem

Currently, when specifying a shape for `SceneGraph` via [`Mesh`](https://github.com/RobotLocomotion/drake/blob/master/geometry/shape_specification.h#L258) or [`Convex`](https://github.com/RobotLocomotion/drake/blob/master/geometry/shape_specification.h#L280), the mesh data is solely specified by a path to a resource on disk.

For applications such as cutting or doing on-line decompositi

[2021-06-29 23:37] SeanCurtis-TRI commented on #14407
@EricCousineau-TRI You created this issue and the PR this is arose from.

I've been looking at both and I'm a bit flummoxed to figure out what "munging" is and what is actually be achieved. Even the link you've included doesn't inform me (and I wrote the text there).

So, as the author of all of these artifacts, I'd ask you to actually articulate what's the problem that needs to be solved.

[2021-06-29 23:43] SeanCurtis-TRI commented on #13818
@chenheamazon Did you ever have the chance to confirm that the problem has gone away?

[2021-06-30 19:51] RussTedrake opened #15272 "pybind: py::implicitly_convertible<> fails to convert Binding<LinearConstraint> to Binding<Constraint>"
Need to resolve, and then complete the bindings for MathematicalProgram::CheckSatisfied that are available here:
https://github.com/RussTedrake/drake/pull/new/py_check_satisfied

Discussed in this PR:
https://reviewable.io/reviews/RobotLocomotion/drake/15268#-MdRu9nfBC9ThX0StviB

@EricCousineau-TRI wrote "
Took a quick look and tried out a few things; I unfortunately don't have a quick solution:
E

[2021-06-30 22:21] azeey opened #15280 "parsing: Joint names should not collide if they are in different scopes"
Given the following SDFormat
[code]
Drake throws an exception with the message
[code]
This is because it's trying to add joint `J1` to the model instance, `M1`, of the child link `M1::L2`, but `M1::J1` already exists. A simple solution would be to keep the joint in the model instance it's defined, but that could be a breaking change.

/cc @EricCousineau-TRI

[2021-07-01 13:41] BetsyMcPhail commented on #14968
Fixes and workarounds are in PR #15142. There is currently one build error and 20 failing tests. Results are the same across all platforms and configurations.

To test locally, checkout branch from PR and revert referenced commit. To sanity check against Eigen 3.3, update `eigen/repository.bzl` to `branch = "3.3.9"` instead of specific commit.

- [x] Remove deprecated function ([1a3083f](https://g

[2021-07-01 13:44] BetsyMcPhail commented on #14968
@jwnimmer-tri it would be helpful to have some Eigen experts dig into these failures.

[2021-07-01 15:06] #15170 closed

[2021-07-01 18:22] EricCousineau-TRI commented on #15280
Closing for now, given that it's on record.

[2021-07-01 18:22] #15280 closed

[2021-07-01 19:11] EricCousineau-TRI opened #15294 "mac ci: Filesystem can be flaky?"
From Drake Slack: https://drakedevelopers.slack.com/archives/C270MN28G/p1625161505072200

Not sure if there's an issue already pointing to this, but we had a CI failure:
https://drake-jenkins.csail.mit.edu/view/Production/job/mac-big-sur-clang-bazel-nightly-everything-release/145/
[code]

Code in question:
https://github.com/RobotLocomotion/drake/blob/2d737e4b4251132d5a907da31f8f18a2b012abf7/multi

[2021-07-01 19:12] EricCousineau-TRI commented on #15294
Not assigning myself for acute problem. However, I'm submitting a small PR to workaround the issue which will close this issue.

[2021-07-01 19:27] jwnimmer-tri commented on #15133
I should have linked it here a couple weeks ago, but for the record -- the new features in #15161 are intended to make it easier for an attorney to forward along access to the Declare methods.  The details of callback sugar are encapsulated into a public class, so the only additional things that participate in forwarding are names, dependencies, etc., so in most cases a single forwarded method is

[2021-07-01 19:36] jwnimmer-tri commented on #14968
@BetsyMcPhail

These three completed checkbox commits seem like good fixes.  Could you PR each one to Drake individually, so that we can get them merged and out of the way to narrow down the branch?

You can assign these two to me for review.
- `Remove deprecated function (1a3083f)`
- `robot_plan_interpolator_test: Use EXPECT_NEAR instead of EXPECT_FLOAT_EQ (7b03907)`

This one _looks_ correct at

[2021-07-01 19:53] #15227 closed

[2021-07-01 20:05] jwnimmer-tri commented on #14968
I spent a few minutes investigating, and I don't think there is a good systemic fix.  I think a more polished version of your current work-around is the best way to go, as follows.

For lines like this, which fail because an `Eigen::Matrix` lookup uses a `TypeSaveIndex` (in this case, the `actuator.index()` ...

[code]

... we just need to guide the implicit conversion to int, like so ...

[code]

[2021-07-01 20:09] jwnimmer-tri commented on #14968
I suspect that our forked copy of `common/autodiffxd.h` might be incompatible with Eigen 3.4.  Maybe I can nominate @rpoyner-tri to root cause and fix these two failures.

[2021-07-01 21:00] xuchenhan-tri commented on #15133
Thanks for the link. Looking forward to the changes in #15161! The cache entry declaration for deformable sim is getting out of hand.

[2021-07-01 21:03] jwnimmer-tri opened #15298 "Eigen 3.4 memset vs Expression"
This is a sub-task of #14968.

In the Eigen 3.4 preview branch, it sometimes treats Expression as a primitive type that is safe to use for bitwise operations (`memset`, `memcpy`, bit_xor, etc.).  Since Expression is a class (and embeds shared_ptr), this is obviously not going to end well.

For example, with this snippet we have `Packet` set to `Expression`:
[code]
See https://gitlab.com/libeigen/e

[2021-07-01 21:05] jwnimmer-tri commented on #15298
Here is the ASan output, to give a sense of the call stack:
[code]

[2021-07-01 21:08] jwnimmer-tri commented on #15298
One work-around would be to specialize the internal packet functions to opt-out of the memset and bit casts.  This patch gets the test passing:

[code]

However, this doesn't seem like something we should need to opt-out of.

Our `Eigen::NumTraits<Expression>` clearly says `RequireInitialization = 1`.  It seems like a bug in Eigen for it to be ignoring that.

[2021-07-01 21:10] jwnimmer-tri commented on #15298
+@soonho-tri could I ask you to investigate further / confirm the above, and then help decide on next steps here?  It seems like we should make a min repro test case and submit upstream to Eigen?

[2021-07-01 21:11] jwnimmer-tri commented on #14968
Any tests that are failing related to `symbolic::Expression` are probably due to #15298.  We could apply that work-around to the branch for now, to help clear the deck of those errors until upstream gets fixed.

[2021-07-01 21:12] #15294 closed

[2021-07-01 21:18] BetsyMcPhail commented on #14968
Sounds good to me. I will apply the patch now.

[2021-07-01 21:20] sherm1 commented on #15298
Doesn't seem like this would work for Eigen's AutoDiffScalar either since the derivative part can be a VectorX.

[2021-07-01 21:26] jwnimmer-tri commented on #15298
There might be a trick already in play there -- a memset-to-zero is a valid AutoDiffXd (zero double value, zero num_derivs, null heap pointer), and a memset-the-first-byte-to-0xff is also valid (it only frobs the double value) and since we never heap allocate we never need to free, and it magically works.

[2021-07-01 21:33] jwnimmer-tri commented on #15298
To connect the dots, see also #12453 for related information.

[2021-07-01 22:37] soonho-tri commented on #15298
@jwnimmer-tri , I've started creating a small test case. But so far I couldn't reproduce the problem yet. I'll keep digging it.

[2021-07-02 04:18] EricCousineau-TRI commented on #15018
Just ran into a case where at least a warning here would've been useful.

@marcoag Any chance you'd have time to address this in next two weeks?

[2021-07-02 04:21] EricCousineau-TRI commented on #14306
@anubhav-tri just ran into this (see Anzu PR 7244).
@SeanCurtis-TRI Would you be heartbroken if I stole this from you over the next few weeks?

[2021-07-02 04:31] marcoag commented on #15018
Sure, I'll get into it asap!

[2021-07-02 04:38] EricCousineau-TRI commented on #14407
The goal of #14400 was to try to consolidate (or avoid) mutation and the use of `temp_props`, as it was confusing to reason about the mutation om #14396 (as a contributor, not an author). Also, I was concerned about the cost of copying properties if/when more data is ever stored in them (e.g. full textures?).

That being said, time has passed and it hasn't really been an issue, so if this articula

[2021-07-02 07:06] yangL11 opened #15305 "expression T cast to type double"
hi, everyone.
i want to use Directcollocation method to solve a boundary value problem, so i design a Plant.h and State.h files and have my own DoCalTimeDerivatives() function, the problem is shown as below:
`void DoCalcTimeDerivatives(const systems::Context<T>& context, systems::ContinuousState<T>* derivatives) const {
      const bvpstate<T>& state = get_state(context);
      bvpstate<T>& deriva

[2021-07-02 08:13] #15305 closed

[2021-07-05 02:25] RussTedrake opened #15316 "solvers: Ipopt segfaults when a problem has a quadratic objects + a Lorentz cone constraint"
This runs fine on Mosek, but causes IPOPT to segfault:
[code]

[2021-07-05 03:20] hongkai-dai commented on #15316
The problem in IPOPT solver handling Lorentz cone constraint. If I remove the quadratic cost I still see the seg fault. Looking into the bug.

[2021-07-05 04:09] hongkai-dai commented on #14956
Resolved already in #14960

[2021-07-05 04:09] #14956 closed

[2021-07-05 04:39] hongkai-dai commented on #15316
The reason why it segfault is due to how we impose Lorentz cone constraint `z₀ ≥ sqrt(z₁² + ... + zₙ₋₁²)` as generic nonlinear constraint. We provide 3 formulations in https://github.com/RobotLocomotion/drake/blob/dd7b1b81d45c502a0d09d03999fde5e43588c5a5/solvers/constraint.h#L306-L310
, and the default is the "Convex" formulation `z₀ - sqrt(z₁² + ... + zₙ₋₁²) ≥ 0`

There are issues with these form

[2021-07-05 09:02] marcoag commented on #15024
I faced and verified these bugs on the `bionic` and the `pip` versions of pyassimp:

https://github.com/assimp/assimp/issues/3704
https://github.com/assimp/assimp/issues/3705

These issues do not seem to happen when using the `c++` version of the library or a later version of the `python` wrapper. Also, I faced the issue where collada files get rotated by 90 degrees when imported:

https://github.

[2021-07-05 16:53] #15316 closed

[2021-07-05 22:32] jwnimmer-tri commented on #15298
Here is a single-file minimal repro:
https://github.com/jwnimmer-tri/drake/commits/eigen-34-debug-wip

[2021-07-06 05:40] hongkai-dai opened #15320 "More granular control on ChooseBestSolver"
Currently `ChooseBestSolver` has a linear decision chain, it mains a list of solvers, checks if the first solver in the list is available and satisfies the program requirement. If yes it calls the first solver, otherwise it moves to the second solver, and so on.

The issue is that between two solvers solverA and solverB, the order of choosing these solvers should not be fixed, they should depend o

[2021-07-06 12:41] RussTedrake commented on #15320
I agree with the need for more granular control.

In particular, I had the experience of writing a mathematical program which I knew was convex.  But after calling the `ChooseBestSolver` via `solvers::Solve`, the default solver got stuck in a local minima!  @hongkai-dai outlined the reasoning above, but let me just emphasize the detail:

For conic constraints in particular, some solvers handle the

[2021-07-06 13:07] SeanCurtis-TRI commented on #14306
@EricCousineau-TRI, if you want it, it's yours.

[2021-07-06 16:32] RussTedrake commented on #10786
Possibly related: #13038

[2021-07-06 20:25] jwnimmer-tri commented on #15320
In case it helps, I'll second the idea that `ChooseBestSolver` is permitted to become arbitrarily complex, by adding more rules or heuristics or whatever is needed to ensure that the "best" solver _is_ actually the best choice.

We will need to be sure that its unit test appropriately covers the new complexity, but that shouldn't be too difficult.

A different way to help the user be confident wou

[2021-07-07 07:00] hongkai-dai commented on #15320
There is some subtlety here. If we have a quadratic optimization problem (which is convex) and we set `program.set_required_convexity(true)`, we still would like to fall back to generic nonlinear solver like SNOPT or IPOPT, instead of using a convex solver (like SCS). For this type of convex optimization problem (QP), the generic nonlinear solvers SNOPT/IPOPT generally performs better than an inac

[2021-07-07 20:03] BetsyMcPhail commented on #14968
Using just the int constructor makes cpplint unhappy, For example, in multibody_plant.cc,

[code]

Results in style error:

[code]

[2021-07-07 20:06] jwnimmer-tri commented on #14968
Oops.  What about `int{actuator.index()}` with curlies instead?

[2021-07-08 10:23] RussTedrake opened #15341 "Clp gives the wrong answer (claiming success) for a trivial LP"
This one was tough to find!

[code]

gives
[code]

The answer from Ipopt is correct,.

Note that the small numerical values in the coefficients seem to have something to do with it.  If I set the two coefficients that are ~ `1e-21` to zero, then CLP once again gives the correct answer.

[2021-07-08 10:24] RussTedrake commented on #15341
And btw -- Clp is the default open-source solver chosen for this problem.

[2021-07-08 10:42] RussTedrake commented on #15341
I've updated the example above to print to console (n.b. it took me 20+ minutes to figure *that* out; i'll open a separate issue).

The output is now:
[code]

if I remove the 1e-20 term (only), then the output becomes:
[code]
which is correct.

[2021-07-08 10:56] RussTedrake opened #15342 "Usability of MathematicalProgram solver output features"
I was having problems with ClpSolver, and wanted to see it's output.  It took me 20+ minutes to figure out how, and involved reading a surprising amount of source code.
- The options are very hard to find.  In the end, the magic incantation was
[code]
this is as opposed to the `prog.SetSolverOption(foo)` I was suspecting.  This much was discoverable on doxygen, but with a bunch of clicks.  And it

[2021-07-08 10:59] RussTedrake commented on #15341
So I definitely don't think this is MathematicalProgram's fault, but i do think that if we put Clp as our default LP solver than we somehow need to address this.  I don't know if we should upstream an issue to Clp?  If we should ask Clp about the scaled objective range at the solution and not trust it when it's 1e-8?  If we should choose a different solver for the default LP solver?

[2021-07-08 12:15] vyas-shubham opened #15343 "Python Binding for TrajectoryLinearSystem"
Feature request to have python bindings for the `TrajectoryLinearSystem` class. This is useful for creating trajectory systems with custom linearizations.

[2021-07-08 13:46] RussTedrake opened #15344 "Make `drake::copyable_unique_ptr` const-correct"
Per a discussion on slack.  @jwnimmer-tri originally said "The `std::unique_ptr` has const-get that returns mutable-pointer, but `drake::copyable_unique_ptr` diverges from that pattern and stays const-correct."  But upon inspection:
[code]
fails the static assert.  To which Jeremy responded "Eww, I missed that `copyable_unique_ptr` inherits from `std::unique_ptr<T>` and fails to shadow `operator*`

[2021-07-08 14:24] jwnimmer-tri commented on #15344
@SeanCurtis-TRI and @sherm1 could you weigh in here on whether the _intention_ of `copyable_unique_ptr` was to have `operator*` propagate the const, like we have `.get()` vs `.get_mutable()` in its API?

And if that answer is "yes", could I convince one of you to take the issue and push forward on a fix?

[2021-07-08 14:32] jwnimmer-tri commented on #15342
See also #12867.

---
On the Jupyter front:

Ideally, all of our bound solvers would route their logs into `drake::log()` and then that output would end up in the obvious places for the user, with the conventional severity filtering, but many of them are so crusty that the _only_ thing they can do is print to file descriptor 1, which is useless in Jupyter.

Because the Jupyter console is an oddbal

[2021-07-08 14:37] RussTedrake commented on #15344
Can we also add
[code]
?? That makes constructing lists of `copyable_unique_ptr` much nicer.

[2021-07-08 15:00] RussTedrake commented on #15344
I've opened #15345 if you care to see my specific use case.

[2021-07-08 15:00] SeanCurtis-TRI commented on #15344
I'll take a look.

As to adding a `noexcept` on the constructor...I'd imagine that it transitively requires `noexcept` on `T::Clone()` as well, right?

[2021-07-08 15:04] hongkai-dai commented on #15341
Sorry for all the trouble you have to go through to locate the pitfall. I will create a program using only CLP code, without Drake's code, and file the issue on CLP upstream.

The easiest solution is probably to change the default solver to IPOPT. BTW I am working on #15320 , the first step is the PR #15340 to tell the type of the optimization program.

[2021-07-08 15:23] RussTedrake commented on #15344
I wasn't trying to make a statement about `noexcept`.  That part, I'm afraid, was just copy-pasta from the constructor above.  I figured you would make it perfect.

[2021-07-08 15:39] SeanCurtis-TRI commented on #15344
Ah, you'd just like to copy it from a reference.  :)  Whether it's `noexcept` or not is not something you care about.  Got it.

[2021-07-08 15:52] SeanCurtis-TRI commented on #15344
So, I'm convinced that distinguishing between `operator*()` and `operator*() const` is a good thing. Technically, the distinction has nothing to do with the concept of a copyable `unique_ptr`. The reason we added the distinction between `get()` and `get_mutable()` was so that we could swap `copyable_unique_ptr` with an eventual `copy_on_write_ptr` in the future. And by introducing the mutable-non-

[2021-07-08 15:55] jwnimmer-tri commented on #15344
The short-term fix can be shadowing the operator, so that _most_ code will behave as we want.

However, even with that, the user can still upcast to unique_ptr (and indeed, sometimes that will happen automatically) and drop the propagated const.  I believe the longer-term fix must be to replace the public inheritance with a conversion operator to unique_ptr instead.  That should fully seal the abs

[2021-07-08 16:08] SeanCurtis-TRI commented on #15344
I've submitted the PR with the short-term fix. I'm waiting to see how CI goes. There might be some usage somewhere where a `const copyable_unique_ptr` is having its value mutated. CI will let me know.

And, presumably, the conversion would itself create a copy so that the `unique_ptr` (with all of its `const` wackiness) would own its own copy as is right and proper. "Convert" in that context feels

[2021-07-08 16:11] jwnimmer-tri commented on #15344
I say "convert" only because its the term of art https://en.cppreference.com/w/cpp/language/cast_operator.

I suspect that the conversion operator could be overloaded on the value category of `*this` to avoid a copy/clone.

[2021-07-08 18:57] soonho-tri commented on #15298
I think there is an existing issue on this problem: https://gitlab.com/libeigen/eigen/-/issues/2245

[2021-07-08 20:45] cantonios commented on #15298
There are two related problems in Eigen with custom types:
- [#2245](https://gitlab.com/libeigen/eigen/-/issues/2245), which deals with zeroing-out large arrays and should now be fixed on master with [!555](https://gitlab.com/libeigen/eigen/-/merge_requests/555)
- [#2201](https://gitlab.com/libeigen/eigen/-/issues/2201), which deals with bitwise packet operations for custom types.

I re-opened the

[2021-07-08 20:59] jwnimmer-tri commented on #15298
I appreciate the response!  We'll work on adding the specializations.

The reason that I thought we were _not_ supposed to specialize the `ptrue` etc. was because they are in the `Eigen::internal` namespace.  I guess I misinterpreted the intention of what that meant.

[2021-07-08 21:40] mitiguy commented on #14699
This issue is being closed as:
operator<<(ostream, RollPitchYaw) was addressed in PR [#14910](https://github.com/RobotLocomotion/drake/pull/14910).
operator<<(ostream, RigidTransformd X) was addressed in PR [#14910](https://github.com/RobotLocomotion/drake/pull/14910).

operator<<(ostream, RotationMatrixd R) as just ostream << RollPitchYawd(R); was not addressed.
It was not addressed since it is e

[2021-07-08 21:40] #14699 closed

[2021-07-08 21:46] cantonios commented on #15298
Yeah... that has come up.  We don't really want people to be doing that, but we also don't provide an alternative when adding custom types.

If it can wait, we can put in bitwise functionals similar to `std::bit_and` that could be used.  I'm not sure that could make it into 3.4 though.

[2021-07-08 21:54] jwnimmer-tri commented on #15298
I'm happy to work with whatever we have available in 3.4.  We can `#ifdef` it into something else in 3.5 if it changes later on.

[2021-07-08 23:15] #15344 closed

[2021-07-09 00:28] xuchenhan-tri opened #15349 "Need tangent matrix with respect to velocities for deformable dofs"
### Background:
In the current FEM formulation for deformable bodies, we are solving for the equation

      Ma − f_d(x,v) − fₑ(x) = fₑₓₜ,   (1)

which then gets discretized as

     F(a) = M*a − f_d(x₀,v(a, v₀)) − fₑ(x(a, v₀, x₀)) - fₑₓₜ = 0,    (2)

with the Newmark scheme. We then use Newton's method to solve the discretized equations with `a` as the unknown variables. In that process, we produ

[2021-07-09 10:50] RussTedrake commented on #15272
I looked at this again and found the missing incantation.

[2021-07-09 15:56] jwnimmer-tri opened #15354 "Improve compatibility of TypeSafeIndex with Eigen 3.4"
Related to #14968.  Refer to https://github.com/RobotLocomotion/drake/pull/15335#pullrequestreview-702097433 for the motivating discussion.

In #15335, we added some `int{}` wrappers around uses of `TypeSafeIndex` to placate the compiler when using Eigen's 3.4 development branch.  The purpose of `TypeSafeIndex` is to easily serve as an index, so it's a bit awkward to need `int{}` now.

We should d

[2021-07-09 18:27] mwoehlke-kitware opened #15356 "Use pkg-config to find yaml-cpp"
Several externals are found using `pkg-config`. Unfortunately, yaml-cpp is not among them; the location is hard-coded.

This makes it impossible to use a yaml-cpp from any source other than `apt`, which is needed for #1183.

[2021-07-09 20:01] amcastro-tri commented on #15349
Question. I see you got `f_d(x₀, v)`. Shouldn't we generally have `f_d(x(a₀, v, x₀), v)`? that is, let the `Scheme` deal with the mapping from unknowns (in this case a) to FEM dofs (in this case x, v, a)

[2021-07-09 20:12] xuchenhan-tri commented on #15349
Technically yes, we should have `f_d(x(a₀, v, x₀), v)` instead. In practice, though, we force

    x(a₀, v, x₀) = x₀

at the model level so we don't need to take the derivative of the stiffness matrix.

[2021-07-09 22:58] RussTedrake opened #15359 "MosekSolver doesn't respect CommonSolverOptions"
Related to #15342.

Turning on printing for mosek requires a different path than the one advertised, and requires a special `MosekSolver` object and a call to `set_stream_logging()`.

@hongkai-dai -- I'm assigning these issues to you as I consider you the owner of this component.  But we need to find ways for you to recruit help.  You shouldn't have to address everything yourself!

[2021-07-10 00:41] hongkai-dai commented on #15359
I agree. I realize I can't resolve all issues in MathematicalProgram even I work really hard. Besides I need to spend time on the Anzu project, and my research on trajectory optimization or Lyapunov stable control design.

[2021-07-10 11:18] RussTedrake opened #15361 "Missing a constant term in ParseRotatedLorentzConeConstraint"
I think we are missing a constant term in the parsing of the quadratic form in the rotated Lorentz cone constraint....

See the parsing code [here](https://github.com/RobotLocomotion/drake/blob/e59b7fc18dbe80b827d07e4a3283a0c87eda7021/solvers/create_constraint.cc#L590), which calls [this decomposition method](https://github.com/RobotLocomotion/drake/blob/e59b7fc18dbe80b827d07e4a3283a0c87eda7021/ma

[2021-07-10 11:41] RussTedrake commented on #15361
NB -- it looks like https://gitlab.com/libeigen/eigen/-/issues/1479 is closed, so we could also resolve the TODO in quadratic_form.cc

[2021-07-10 15:43] hongkai-dai commented on #15361
I still find issues in using Eigen's `LDLT` decomposition, especially when detecting whether a matrix is positive semi-definite or not.

[2021-07-10 17:26] jwnimmer-tri commented on #15356
Issue #13335 and #13309 contain some related background information.  As of last year, pkg-config for yaml-cpp was broken on Focal.  I haven't checked whether or not it's still broken.

My current premise for #1183 is that we will use a different `WORKSPACE` file when compiling for pip / manylinux.  Jamie and I thought it would be implausible to incrementally tweak our current `WORKSPACE` to the p

[2021-07-10 19:57] RussTedrake commented on #15361
After much slack discussion, @hongkai-dai has figured it out.  And I was wrong.  There is no bug.  🤦   We are going to update the documentation slightly so that I don't confuse myself again in 6 months.

[2021-07-11 16:18] RussTedrake commented on #15361
Resolved by #15363.

[2021-07-11 16:18] #15361 closed

[2021-07-11 16:30] RussTedrake opened #15366 "Support L2-Norm costs in MathematicalProgram"
Proposed roadmap:
- [x] Introduce `class L2NormCost : public Cost` which implements the generic constraint.
- [x] Add `MathematicalProgram::AddL2NormCost(A,b,vars)` after [the old (incorrectly-named) version](https://github.com/RobotLocomotion/drake/blob/master/solvers/mathematical_program.h#L1084) clears deprecation.
- [x] Teach convex solvers to handle this cost by either:
   - Each solver could

[2021-07-12 11:58] RussTedrake commented on #13285
@hongkai-dai -- I think you've largely resolved this issue.  Should we close it?  Or should we still leave it open to track the SCS and CSDP work?

[2021-07-12 12:13] mudamuda-can commented on #14056
https://www.programmersought.com/article/42158925287/

[2021-07-12 12:15] mudamuda-can commented on #5227
https://www.programmersought.com/article/42158925287/

[2021-07-12 14:51] mwoehlke-kitware commented on #15356
@jwnimmer-tri, how does one do that?

[2021-07-12 17:26] jwnimmer-tri commented on #15356
For starters, the I'll bet the boring thing would work: have a `workspace-pip.bzl` committed somewhere within Drake (probably at the root?), and then when running in pip-building mode we do `cp workspace-pip.bzl WORKSPACE` before we begin.

[2021-07-12 17:40] calderpg-tri commented on #14747
I believe I was writing a new model - specifically, using the initial version of the mecanum-chassis model generator - with wheels attached via continuous joints.

[2021-07-12 18:11] #15359 closed

[2021-07-12 18:48] jwnimmer-tri commented on #15343
@rpoyner-tri are you still evaluating the bindings autogeneration tool?  This class might be a nice test case.

[2021-07-12 19:02] jwnimmer-tri commented on #10228
Per RobotLocomotion/styleguide#46, one resolution here would be to log into a scratch CacheEntry in the Context.  In that case all of the getters like `num_samples`, `data`, etc. would gain a `Context<T>` as an argument.

[2021-07-12 19:03] jwnimmer-tri commented on #13099
The documentation in RobotLocomotion/styleguide/46 begins this journey, but doesn't mention everything, and isn't in Doxygen.

\CC @rpoyner-tri

[2021-07-12 23:47] EricCousineau-TRI commented on #15024
Just to check, is this the expected rendering of the given configuration? (zero configuration or otherwise?)

This would be my ideal!

[2021-07-13 01:45] #15272 closed

[2021-07-13 04:20] marcoag commented on #15024
That seems to be the case:

![image](https://user-images.githubusercontent.com/3855564/125389974-a3772b00-e3d4-11eb-9d8c-18ed0d38cd09.png)

Roger that!

[2021-07-13 12:17] RussTedrake opened #15383 "solvers: DrealSolver options are not documented in doxygen"
I just discovered by reading the code that DrealSolver does parse a "precision" option for the `Solve` method.  Can we make that more visible?

In general, discoverability of solver options is a major challenge with mathematical program, but I'm happy to try to acutely fix this one first.  The only place they are documented for most solvers in doxygen is https://drake.mit.edu/doxygen_cxx/classdrak

[2021-07-13 14:02] #15383 closed

[2021-07-13 14:55] marcoag commented on #15024
The branch `focal` of: https://github.com/marcoag/repro is now working on ubuntu focal, you only need to do:

[code]

And you can execute the cells in the notebook to get the model rendered as per the picture above.

@EricCousineau-TRI let me know if you want me to PR somewhere and any next steps for this.

[2021-07-13 15:23] mitiguy commented on #14916
PR #15387 opened to address this issue.

[2021-07-14 05:04] hongkai-dai commented on #15342
It could be worse. If you mis-spell the option name, it silently ignored. If you mis-spell the option value, the program can abort without any warning. @TobiaMarcucci recently encountered the silent aborting due to passing a wrong value to Mosek solver option.

I will work on this for each solver, that if the option name is mis-spelled or value is incorrect, then we should throw a meaningful error

[2021-07-14 19:12] jwnimmer-tri commented on #15343
For the record, we do have [TrajectoryAffineSystem](https://drake.mit.edu/pydrake/pydrake.systems.primitives.html#pydrake.systems.primitives.TrajectoryAffineSystem) available in pydrake.  If I'm reading it correctly, it could be a possible work-around.

[2021-07-14 20:03] jwnimmer-tri opened #15395 "python3-psutil AMI update"
Per #15392 we have a new package `python3-psutil` in the Ubuntu CI images.  Please update the provisioned Ubuntu AMIs to match.

[2021-07-14 22:12] #15343 closed

[2021-07-15 13:55] BetsyMcPhail commented on #15395
Both focal and ubuntu images have been updated and Jenkins has been updated to use the new images.

[2021-07-15 13:55] #15395 closed

[2021-07-15 14:10] jwnimmer-tri opened #15401 "Eigen 3.4 vs drake::AutoDiffXd"
This is a sub-task of #14968, as mentioned at https://github.com/RobotLocomotion/drake/issues/14968#issuecomment-872518767.

When using the pre-release branch of Eigen 3.4, the cassie_benchmark is failing:

[code]

The PR #15142 is the WIP showing the integration prototype.

Perhaps our forked copy of common/autodiffxd.h might be incompatible with Eigen 3.4?

@rpoyner-tri Could you pull that branc

[2021-07-15 18:28] EricCousineau-TRI commented on #7793
This came up in Drake Slack: https://drakedevelopers.slack.com/archives/C3YB3EV5W/p1626366534036100 (\cc @rpoyner-tri)

FTR `cpp_const` was removed in #14270

[2021-07-15 22:47] jwnimmer-tri commented on #15263
Here's a proposal for a quick win that I suspect would help a lot of people, be quick to implement, and step _towards_ the goal, not sideways.

The `Convex` currently takes a filename -- the named file's contents can be whatever your particular reifier knows how to deal with.  Things like hydroelastic proximity just read the `*.obj` and ignore the material properties, don't support dae or vtp, etc

[2021-07-16 00:29] hongkai-dai opened #15405 "Binding_LinearConstraint cannot be cast as Binding_Constraint in pydrake"
Reported in #15272 , for example, I have to add the overload of `RemoveCost` for each derived cost type in https://github.com/RobotLocomotion/drake/blob/3d71fac70bad294f93c9e5adb5b5ac155219b536/bindings/pydrake/solvers/mathematicalprogram_py.cc#L1379-L1392, same for `RemoveConstraint`. If I don't have these overload, I receive the following error
[code]

[2021-07-16 00:31] EricCousineau-TRI commented on #15405
I think this'd be easy to fix in line with what Russ did in #15353. Filing PR now (as part of platform duties).

[2021-07-16 00:34] EricCousineau-TRI opened #15406 "py mp: Binding_{Evaluator} should really be Binding[Evaluator]"
Been meaning to fix this.

Currently, we have things like `Binding_LinearCost` which was a holdout before the following code got introduced (#7757).
Will be easy to swap it out.

\cc @hongkai-dai @RussTedrake

[2021-07-16 00:36] EricCousineau-TRI opened #15407 "py mp: Should register `Binding[]` before `MathematicalProgram`; otherwise, type sig. shows up as C++ typeid"
Presently, showing `Binding` and other related types show their C++ type in Python type signatures. For example:
https://github.com/RobotLocomotion/drake/pull/15353#pullrequestreview-704674292
[code]

\cc @hongkai-dai @RussTedrake

[2021-07-16 05:12] hongkai-dai commented on #13285
I would like to leave this issue open, to track SCS and CSDP. Also I will need to add a tutorial to explain dual variables.

[2021-07-17 10:19] RussTedrake commented on #15406
I'm just about to start using this often (I've chosen to accept only the Binding variant of AddCost in my GraphOfConvexSets, instead of the way MathematicalProgram basically replicates all of the Binding constructors in it's public API.

Since we haven't actually bound the constructor for Binding_foo in pybind yet, I think you could make this change now withtout deprecation(?), but I'm about to st

[2021-07-19 06:42] huihuishen opened #15424 "ERROR: Analysis of target '//tools/workspace:check_licenses' failed; build aborted: no such package '@vtk//': java.io.IOException: Error downloading"
when I start "bazel build //..." ,it shows out this error, Have annybody met this problem?
[https://drake-packages.csail.mit.edu/vtk/vtk-8.2.0-embree-3.5.1-ospray-1.8.2-python-2.7.15-python-3.6.7-qt-5.9.5-bionic-x86_64.tar.gz, https://s3.amazonaws.com/drake-packages/vtk/vtk-8.2.0-embree-3.5.1-ospray-1.8.2-python-2.7.15-python-3.6.7-qt-5.9.5-bionic-x86_64.tar.gz] to /home/hui/.cache/bazel/_bazel_hu

[2021-07-19 13:43] jwnimmer-tri commented on #15424
What revision of Drake are you using?  From the URLs in the error message, it looks like you might be trying to use an untagged revision of Drake prior to v0.10.0 from 2019, and our mirror for those dependencies have expired.

[2021-07-19 13:43] RussTedrake opened #15427 "python bindings for PiecewisePolynomial trajectory construction with matrices"
Our trajectory bindings did not yet support the workflow were trajectories had matrix coefficients.  This was raised in https://stackoverflow.com/questions/68316305/how-to-create-polynomial-trajectories-of-linear-affine-systems-in-python-i-e-ti/68340741?noredirect=1#comment120819751_68340741 .

The fundamental issue is that our trajectory creation routines uses types for disambiguation; the conver

[2021-07-19 14:47] huihuishen commented on #15424
Thanks Reply！！
I am trying to compile with the file from https://github.com/guzhaoyuan/drake,since there are some tutorials in https://drake.guzhaoyuan.com/to-get-started. According to your words,the right way for me is to use the new repository?

[2021-07-19 14:47] huihuishen commented on #15424
Thanks Reply！！
I am trying to compile with the file from https://github.com/guzhaoyuan/drake,since there are some tutorials in https://drake.guzhaoyuan.com/to-get-started. According to your words,the right way for me is to use the new repository?

[2021-07-19 15:52] jwnimmer-tri commented on #15424
It looks like that is forked from e043e812e4db13cd2c9237be7dadf4189b36bc01.

So, yes -- if you are able to merge or rebase your fork onto one of the official numbered https://github.com/RobotLocomotion/drake/releases tags, then the build should work.

[2021-07-19 17:08] #15405 closed

[2021-07-19 17:45] EricCousineau-TRI commented on #15406
I think I understand - make the change, then add the deprecation?

[2021-07-19 17:45] EricCousineau-TRI commented on #15406
But that being said, would it be too hard to account for the deprecations and use the spelling?

[2021-07-19 20:07] #15407 closed

[2021-07-19 23:02] jwnimmer-tri commented on #15427
My intuition says that the pydrake binding should accept a multi-dimensional `numpy` array directly, and within the binding it should unzip the multi-dimensional array into a `const std::vector<MatrixX<T>>& samples` to pass along to C++ function that takes that signature (for ZOH, that's the first overload listed in the header file).

Your option (2) starts along those lines, but:

(a) I don't see

[2021-07-19 23:31] jwnimmer-tri commented on #15427
Or maybe overloading on `const vector<vector<T>>&`  and `const vector<vector<vector<T>>>&`  is enough to infer a proper shape?  Those would match the C++ shapes directly, I think, with the bindings code just doing some extra copying.

[2021-07-19 23:57] RussTedrake commented on #15427
Thanks.  I'll give that a spin.

[2021-07-20 02:54] jwnimmer-tri commented on #10900
One FYI with destructive updates -- we should be be careful to consider the effect on `std::hash<Expression>`.  We should be sure that whatever const-ness and/or sole-ownership checks guard the destructive updates are sufficient to prevent set or map keys from changing out from underneath the user.

[2021-07-20 05:06] jwnimmer-tri commented on #10882
Perhaps with an even broader effect -- the four energy / power trackers are only narrowly useful, but subscribe to _all_ trackers -- including inputs (related to #9171) -- so even a simple PassThrough system is constantly sending invalidation notifications that its potential energy cache is out of date, ditto up through to the Diagram that contains it.  Narrowing the notification tree for stateles

[2021-07-20 05:53] jwnimmer-tri commented on #15424
Closing, since this is basically a bug report against https://github.com/guzhaoyuan/drake not https://github.com/RobotLocomotion/drake.

@huihuishen using Drake from https://github.com/RobotLocomotion/drake/releases/tag/v0.32.0 should work better.  Our website at https://drake.mit.edu/ has extra information.

[2021-07-20 05:53] #15424 closed

[2021-07-20 10:24] RussTedrake commented on #15427
`vector<vector<T>>&` worked well, and it turns out I can still use `vector<MatrixX<T>` alongside it.  I'll PR the ZeroOrder Hold binding now for review, and we can follow-up with the other methods.

[2021-07-20 18:34] RussTedrake opened #15434 "[framework] Cryptic error from AbstractValue"
In system_test.cc we have
[code]
when I wrote
[code]
I get the error message
[code]
which led me to look for possible ways the type could have been multiply defined.  It turns out the proper invocation was
[code]

I'd say that's not a great error message.

[2021-07-20 18:48] jwnimmer-tri commented on #15434
It looks like there might be a paste-o in your above.  The two examples appear to be identical?

[code]

I suspect the "what you wrote" was actually `get_value<TypedTestVector<double>>`?

I suppose `AbstractValue::ThrowCastError` should report the `static_type_info()` in addition to the the `type_info()`, at least if the two are not identical.  Because of the sugar we have in `(Input|Output)Port::

[2021-07-20 20:01] hongkai-dai opened #15435 "ProgramAttribute should differentiate between convex and nonconvex quadratic cost/constraints"
Currently ProgramAttribute has kQuadraticCost and kQuadraticConstraint. We should replace them with kConvexQuadraticCost, kNonconvexQuadraticCost, kConvexQuadraticConstraint and kNonconvexQuadraticConstraint.

[2021-07-21 02:52] RussTedrake commented on #15434
I've fixed the paste-o (you were correct).  Thanks.

[2021-07-21 05:45] jwnimmer-tri commented on #15401
Diffing the 3.4 branch vs Ubuntu 18's Eigen, this looks like the only non-style change:

[code]

Looks like we might need to either go swat down some more of the `const_cast`s with more specializations, or withdraw our 3.3-specific specializations.

[2021-07-21 06:01] jwnimmer-tri opened #15444 "Eigen 3.4 vs Investigate symbolic_ldlt.h"
The `//multibody/plant:multibody_plant_symbolic_test` is failing in our Eigen 3.4 canary branch at #15142, during `MultibodyPlantSymbolicTest.Pendulum`.

The exception is "[this empty] environment does not have an entry for the variable tau", with the LDLT code in the gdb backtrace.

We should dig in to see if our LDLT trick in `symbolic_ldlt.h` is perhaps not sufficient anymore.

[2021-07-21 06:03] jwnimmer-tri commented on #14968
At this point, I think this meta-issue isn't useful anymore, so I'll close it.

We'll leave #15142 open as our canary branch.  Once it's passing _all_ CI (even post-merge) with zero diffs vs master other than using Eigen 3.4 in the repository rule, then our job is done.

As we identify acute problems in the canary branch, we'll open specific issues for them.

[2021-07-21 06:03] #14968 closed

[2021-07-21 06:20] jwnimmer-tri commented on #15444
Looks like the problem is in `TriangularSolveVector.h:117`, which has gained a new guard as of Eigen 3.4 in [ec323b7](https://gitlab.com/libeigen/eigen/-/commit/ec323b7e6643d9da3d9cda86570cc7724e0a8d3c) for performance.

[code]

In turns out that we have `rhs[i]` as a `Variable` in the symbolic plant, at this point.

[2021-07-21 06:38] jwnimmer-tri commented on #15298
Our `fixed_fem` unit tests appear to be showing showing the packet operations (like `pandnot`, it seems) writing `0xff` bytes atop our `AutoDiffScalar` derivatives pointers as well, which `free()` is unhappy about.

[2021-07-21 06:38] jwnimmer-tri commented on #15401
Or possibly https://github.com/RobotLocomotion/drake/issues/15298#issuecomment-883932523 is part of it as well.

[2021-07-21 14:52] cantonios commented on #15298
This should be fixed by [this MR](https://gitlab.com/libeigen/eigen/-/merge_requests/562).  Unfortunately most of the other Eigen maintainers are currently away, delaying a merge.  I think we can include this in 3.4.

[2021-07-21 15:40] rpoyner-tri commented on #15401
FWIW, I think I did do some experiments with unspecialized Eigen autodiff around about 3.3.8 or 3.3.9. At that time the longstanding make_coherent bugs had been fixed. I don't recall doing any performance comparisons though.

[2021-07-21 16:14] amcastro-tri opened #15446 "API to set compliant joint limits parameters"
This new issue really is to track the resolution of #12775. Also related to #14841, #13245.

@AndyMarchese offered to help us with this and we'll use this issue to discuss some solutions.

## The Problem
The problem we are trying to solve is reported in #12775. It shows in at least two situations:
1. Since the compliance of the limits is very conservative to avoid instabilities, it often is too lo

[2021-07-21 22:47] jwnimmer-tri opened #15449 "Eigen 3.4 vs DecomposePSDmatrixIntoXtransposeTimesX"
Part of #15142.

In our Eigen 3.4 integration testing, we see this:

[code]

Output:

[code]

To reproduce:
[code]

[2021-07-21 22:48] jwnimmer-tri commented on #15449
+@hongkai-dai this isn't super urgent, but when you have time it would be helpful if you could take a look and offer advice here?  Maybe try to figure how where and how it's going wrong?

[2021-07-21 23:07] jwnimmer-tri commented on #15449
The `//systems/controllers:linear_quadratic_regulator_test` is also segfaulting during `R_cholesky.solve` and might be related.

[2021-07-22 00:57] jwnimmer-tri commented on #15298
Thank you for the pointer!  I cherry-picked it into our integration branch.  As best I can tell at the moment, it has solved _all_ of the packet-related compatibility issues that we were seeing.

[2021-07-22 01:02] jwnimmer-tri commented on #15401
As I've knocked down other bugs on the integration branch, I think the only problem here might be that the malloc counts have increased past the watermarks you'd previously set.

I guess I could see what the new watermark would be, and if it's a small change, then just bump our limit in the test?

[2021-07-22 12:17] huihuishen opened #15454 "How to show custom Multibody::Frame in Drake::Visulizer??"
Hello, Is it possible to display custom frame to see if the position of the frame  is correct?

[Getting Help](https://drake.mit.edu/getting_help.html)?

post reproduction steps and as much relevant output as possible. Consider
posting long snippets as a [Gist](https://gist.github.com/).

[2021-07-22 13:31] jwnimmer-tri commented on #15401
The only required change:

[code]

[2021-07-22 15:25] jwnimmer-tri commented on #15454
The https://drake.mit.edu/getting_help.html page linked from our issue template says "If you are seeking assistance ... please post a question on StackOverflow with the drake tag."  Therefore, this question belongs on StackOverflow please, not as a GitHub issue.  We like to reserve GitHub issues for bugs and feature requests only.

[2021-07-22 15:25] #15454 closed

[2021-07-22 15:27] huihuishen commented on #15454
ok,thank you very much!

[2021-07-22 16:44] rpoyner-tri commented on #15401
Given that we've essentially declared bankruptcy on further heap reductions in these cases, I think accepting a ~1% increase here is not a bit deal.

[2021-07-22 19:21] #15406 closed

[2021-07-22 22:59] KeranYe opened #15460 "Any tutorial or example for nonlinear model predictive control?"
Hi,

I am currently learning the usage of the Drake library and would like to formulate a nonlinear model predictive control problem. The pydrake examples in the `/tutorial` show the methods to add costs and constraints. However, I am not sure **_how to integrate nonlinear (and maybe even switching) system dynamics into the optimization problem_**. Any examples or hints regarding such usage would

[2021-07-23 10:13] edrumwri opened #15461 "GetActuationFromArray(.), GetPositions(ModelInstanceIndex), etc. should provide non-heap allocating versions"
We desire to access parts of vectors/state using already allocated Eigen vectors. It's presently very, very cumbersome to access subvectors of actuation vectors corresponding to model instances without allocating heap.

I suggest adding functions having the signature `GetActuationFromArray(ModelInstanceIndex, const Eigen::Ref<const VectorX<T>>&, EigenPtr<VectorX<T>>*)`, etc. to the API.

[2021-07-23 10:16] edrumwri opened #15462 "MBP input actuation should be providable as a single vector (sugar)"
When performing inverse dynamics calculations (involving B*u), the output is "u". That u must be demultiplexed in order to feed it into a MBP for which the plant has actuators grouped into model instances - this would be the case for multi-arm robots working in concert, for example. Not only is that demultiplexing expensive (see #15461), it's cumbersome as well and prevents, for example, Drake's i

[2021-07-23 12:22] RussTedrake opened #15463 "[colab] Drake is broken on google colab"
Probably related to #1183.  Blocking #13683.

Our [setup_drake_colab](https://github.com/RobotLocomotion/drake/blob/0a588a5b31a27dd556c78896a8ad755d6cefe2a5/tools/install/colab/setup_drake_colab.py) script is currently broken, and has been broken since Colab upgraded to python 3.7.

As noted here: https://github.com/RussTedrake/underactuated/issues/451, for my course notes, I've been living on a p

[2021-07-23 12:57] RussTedrake opened #15464 "standardize Systems support for control design methods."
Motivated by https://stackoverflow.com/questions/68470276/how-to-use-an-lqr-controller-with-collision-geometry and the discussions that led up to https://github.com/RobotLocomotion/drake/pull/15437, I think we need a full sweep through the various control design/analysis methods (trajectory optimization / region of attraction / dynamic programming / lqr, etc) to standardize their handling of input

[2021-07-23 13:43] RussTedrake commented on #12404
Planar was added by #13824 and it's precursors.  I've checked that box.  Looks like the screw joint should be checked off as well, @sherm1?

[2021-07-23 14:59] #15444 closed

[2021-07-23 17:18] SeanCurtis-TRI opened #15465 "[systems/framework] Event declaration sugar should always accept functions with implicit success"
# The problem

There are important contexts in which it is important for an analysis too to recognize that an event may experience a failure mode in its callback, but that failure mode not automatically terminate in an exception. To support this use case, we have `EventStatus` as a way to fill this need.

Most event handlers will only ever report successful event status (i.e., they can't fail, or

[2021-07-23 17:28] marcoag commented on #14306
I've been having a look at this and this doesn't seem possible right now due to the fact that `ParseCollisionFilterGroup()` uses `XMLElement` which is not currently available on the `sdf` parser side. I thought there's two approaches that can be taken here:

- Get the `XMLDocument` out of the actual file, find the models and look for the `drake:ignored_collision_filter_group` tag so the popper inf

[2021-07-23 18:11] #15147 closed

[2021-07-23 18:21] SeanCurtis-TRI commented on #14306
@marcoag, I may have misunderstood the gist of your comment. We can't *literally* share `ParseCollisionFilterGroup` between URDF and SDF, but we do have plenty of examples where we do have common code for parsing custom tags in both URDF and SDF (e.g., parsing `<drake:proximity_properties>` which can be seen [here](https://github.com/RobotLocomotion/drake/blob/master/multibody/parsing/detail_scene

[2021-07-23 23:18] sherm1 commented on #12404
Thanks, yes -- done.

[2021-07-24 02:47] jwnimmer-tri commented on #14409
The `--gcc-toolchain` could help us swap between some homedir GCC vs the Ubuntu GCC, but it can't disambiguate the Ubuntu versions.  When using a GCC from `/usr`, Clang will always take the newest one.

https://stackoverflow.com/a/41982109/13032709

https://lists.llvm.org/pipermail/cfe-dev/2016-March/047761.html

Setting up a fake prefix to control which GCC gets used by Clang sounds like a lot of

[2021-07-24 02:47] #14409 closed

[2021-07-24 02:50] #14206 closed

[2021-07-24 02:54] jwnimmer-tri commented on #14022
Retrieving a bit of history -- it looks like when this was filed in September 2020, we were using VTK 8.2 so the "upgrade to latest" would be referring to VTK 9 (#13253), which has not yet started.

[2021-07-24 02:57] jwnimmer-tri commented on #9782
Obsoleted via #14339.

[2021-07-24 02:57] #9782 closed

[2021-07-24 03:02] jwnimmer-tri commented on #7294
While a few the "big picture" ideas that motivate the above discussions _are_ still relevant, I think all of the _actual_ details from the discussions above have been overtaken by events.  We no longer link into matlab, and we have other plans for ROS integration.

[2021-07-24 03:02] #7294 closed

[2021-07-24 03:06] jwnimmer-tri commented on #7451
Update as of v0.33.0:

[code]

[2021-07-24 03:08] jwnimmer-tri commented on #11964
This might have been obsoleted via #14339?  Unless there is some desire to fold `render_engine_vtk_base.h` inside the VTK renderer directly?

[2021-07-24 15:22] jwnimmer-tri commented on #15464
To clarify -- as I understand it, SceneGraph is always stateless now.  It has an abstract parameter, abstract inputs, and abstract outputs, but no state of any kind.

[2021-07-24 15:28] jwnimmer-tri commented on #15463
Aside: Is segatrade a colab maintainer?  Given https://github.com/googlecolab/colabtools/issues/1422, my inference of status was a community member citing some relevant numpy/scipy dates, not an official word.

(Not that it changes anything about our inability to anticipate colab platform upgrades.)

[2021-07-24 15:33] jwnimmer-tri commented on #9599
In my experience, trying to resolve _all_ warnings from API documentation processors is an impractical task.  Sometimes, the complaints just don't matter enough to be worth circling back to fix.

I'll suggest that a more plausible approach would be to use allow- and deny- lists for warning categories.  Certain warnings may be important enough that they should always be promoted to errors.  Certain

[2021-07-24 16:09] jwnimmer-tri commented on #15462
Could you speak to what you'd expect to happen in case the user connects _both_ the stacked input vector port as well as some (or all) of the per-model input ports?  Should that be an error, or should the plant sum over both inputs?

[2021-07-25 15:21] RussTedrake commented on #12867
Here is my attempt at the list that @jwnimmer-tri proposed we make to move this forward.  TTBOMK, the following solvers represent the set that do not yet respect `CommonSolverOption`.  I've ordered them by my personal bias for priority.
- [ ] Snopt
- [ ] Gurobi
- [ ] dReal (fyi @soonho-tri)
- [ ] CSDP
- [ ] OSQP
- [ ] IpOpt
- [ ] nlopt

[2021-07-26 03:28] EricCousineau-TRI commented on #15024
Thanks! I cherry-picked https://github.com/marcoag/repro/commit/3a86ebcf1437b2f283df8a702729ff06e9ffd974, but have not taken in Focal changes just yet.

[2021-07-26 12:17] EricCousineau-TRI opened #15478 "systems: Unclear how to (quickly) check / assert caching is enabled by default?"
I briefly skimmed through:
- https://drake.mit.edu/doxygen_cxx/group__cache__design__notes.html
- Current `drake`, looking for usages of `EnableCaching()`
but did not see any clear indicator that caching was enabled by default.

I then looked through PRs, and found #10979, where the only evidence was that `DisableCaching()` was removed from `LeafSystem::DoAllocateContext()`.
From perusing implemen

[2021-07-26 13:29] SeanCurtis-TRI commented on #11964
Definitely going to close this. Separation is no longer required.

Merging *may* be required as their is now *some* "refactored" code, but it's so incredibly low priority, that I'm not going to worry about it.

[2021-07-26 13:29] #11964 closed

[2021-07-26 13:51] SeanCurtis-TRI commented on #15460
The guidance for [getting help](https://drake.mit.edu/getting_help.html) for Drake recommends:

As such, we'll be closing this issue in favor of the stackoverflow conversation.

[2021-07-26 13:51] #15460 closed

[2021-07-26 14:15] amcastro-tri commented on #15462
Also, is your use case @edrumwri with the inverse dynamics controller? IMO the API for that class is just broken. That class should provide an API to perform inverse dynamics on a specific model instance so that its output is already consistent with the simulation model. I am asking in case the solution really is on the `InverseDynamicsController` instead of MBP?

[2021-07-26 15:41] jwnimmer-tri commented on #15478
FWIW if someone asked me where to find the documentation for the default enabled/disabled setting, the place I would look is in the API comments for `SystemBase::DisableCaching` and/or `SystemBase::EnableCaching`.

[2021-07-26 16:27] #14198 closed

[2021-07-26 16:54] EricCousineau-TRI commented on #15478
Aye; but, yeah, I had briefly looked at `ContextBase::{EnableCaching,DisableCaching}`, and did not see mention of "By default, caching is {enabled|disabled}".

[2021-07-26 16:56] sherm1 commented on #15478
I'll add some clarifying comments.

[2021-07-26 16:58] EricCousineau-TRI commented on #15478
Thanks! Reflecting in assignment

[2021-07-26 17:14] jwnimmer-tri commented on #10048
FYI This is slightly more complicated that I suggested above.  I have a prototype at https://github.com/jwnimmer-tri/drake/commits/osqp-heap, for reference.  The main challenge is that the `SolverBase` is actually deleting the pre-allocated details, instead of reusing it.  That will require a separate, dedicated patch ahead of any OSQP work.

[2021-07-26 17:55] hongkai-dai commented on #15449
Sorry for the late reply. For the failure in `quadratic_form_test`, I changed the tolerance to 2E-15 and now it works
[code]
This function uses an Eigen value decomposition.

For the linear quadratic regulator, it uses a robust Choleskly decomposition LDLT. My experience was that Eigen's robust Cholesky decomposition is not numerically robust. Fixing this problem probably requires a separate PR to

[2021-07-26 17:58] jwnimmer-tri commented on #15449
Aha, for some reason I didn't consider changing the `zero_tol`.  I'll try that out and then PR it.

[2021-07-26 18:06] #15478 closed

[2021-07-26 19:05] hongkai-dai opened #15481 "TestLQR.TestException tests an uncontrollable system"
As @jwnimmer-tri mentioned in https://github.com/RobotLocomotion/drake/issues/15449#issuecomment-884554119, this test fails with Eigen 3.4.

I checked the test, but I am not sure if it's the problem of Eigen. Here we have `A = 0` and `B=0` in https://github.com/RobotLocomotion/drake/blob/66c9919c3809ee0ffd7be791486408112c119e98/systems/controllers/test/linear_quadratic_regulator_test.cc#L15-L23, h

[2021-07-26 21:28] weigao95 commented on #15184
I would like to document a discussion with Prof. Russ about the Hessian/Quadratic term in this new indexing scheme.

If we have a new constraint interface where variables are indexed by (string, knot) pairs, then when a user implementing his constraints, for instance

[code]
When actually implementing this constraint, the user might write
[code]
As shown in the code block above, the jacobian must

[2021-07-26 22:55] RussTedrake commented on #15481
I agree with you.  That's a bad test.  (I even confirmed that Matlab's LQR refuses to solve that case).  If you look at the history, I think it was a bad test that got more explicitly bad.  I'd recommend making A, B into the double integrator matrices.

[2021-07-26 23:32] #15481 closed

[2021-07-26 23:43] #15427 closed

[2021-07-27 17:32] hongkai-dai commented on #12867
I think CSDP already respects CommonSolverOption::kPrintToConsole as shown in https://github.com/RobotLocomotion/drake/blob/e895d85fbcaf976cb8e41f6e9395ceb5c0ee576b/solvers/csdp_solver.cc#L418-L420 and tested here https://github.com/RobotLocomotion/drake/blob/e895d85fbcaf976cb8e41f6e9395ceb5c0ee576b/solvers/test/csdp_solver_test.cc#L357-L363

[2021-07-27 19:44] #15449 closed

[2021-07-27 20:46] #15401 closed

[2021-07-28 01:36] EricCousineau-TRI opened #15496 "mbp: Indicate which bodies are influenced by DoFs / joints?"
In Anzu, I'd like to be able to produce a list of all bodies kinematically affected by a set of joints (or via a "DoF mask"). This is intended to be used for for collision avoidance.

At present, to workaround, I will effectively build my own map of "kinematic path to world" (hax!).

Ideally, it'd be nice to at least have `MultibodyTreeTopology::GetKinematicPathToWorld()` exposed (in some form).

[2021-07-28 01:37] EricCousineau-TRI commented on #15496
Assigning @sherm1 for disposition, if possible!

[2021-07-28 02:41] jwnimmer-tri opened #15498 "Eigen 3.4 vs VectorXd ValueProducer"
Sub-task of #15142.

When we test with Eigen 3.4 on macOS, the compiler yells at us.

I don't understand what's happening yet, but here's the breadcrumb:
[code]

-- https://drake-jenkins.csail.mit.edu/job/mac-catalina-clang-bazel-experimental-everything-debug/3/consoleText

The repro is just to pull #15142 locally _on macOS_ and try `bazel build //multibody/plant`.  I don't think Debug vs Release

[2021-07-28 03:09] jwnimmer-tri commented on #15498
Hmm, this indicates that:

[code]

is true?

How odd!

[2021-07-28 07:30] EricCousineau-TRI commented on #10247
This came up again as a pain point (in Anzu).

That being said, I don't believe I will be able to address it.
Unassigning myself, passing to @SeanCurtis-TRI for disposition (closing if you think it's still just a user workflow).

[2021-07-28 10:34] EricCousineau-TRI commented on #10247
(To clarify, I'd be happy to relax the philosophy of "requiring only frames and stripping out offsets".)

[2021-07-28 15:06] SeanCurtis-TRI commented on #12867
I'm tackling OSQP and I'm pretty sure I've fallen at the first post.

1. It appears OSQP doesn't provide settings for writing to a file. Looking [in the header](https://github.com/osqp/osqp/blob/master/include/types.h#L161-L167), we only have the `int` indicating verbosity (which I presume should be associated with `kPrintToConsole`). So, what protocol do we have when `kPrintFileName` is set but c

[2021-07-28 15:10] jwnimmer-tri commented on #12867
_"If the solver doesn't support the [common] option, the option is ignored."_

-- https://github.com/RobotLocomotion/drake/blob/v0.32.0/solvers/solver_options.h#L80-L85

[2021-07-28 15:12] SeanCurtis-TRI commented on #12867
Lastly, testing the functionality for writing to a file is straightforward. Do we have a desired practice for testing writing to console?

[2021-07-28 15:15] hongkai-dai commented on #12867
No we don't test what has been written to the console, but we test printing to the console doesn't cause a runtime error.

[2021-07-28 21:20] SeanCurtis-TRI opened #15505 "[pydrake] WrapDeprecated seems to strip out references"
# Problem

Consider the following code:

[code]

We define a simple system with two output ports (the functionality of the port is irrelevant). We bind the class and the port accessors in the very simple, direct way.

In the bindings, the two output ports were bound in the same way initially. However, the code above shows the effort to deprecate output port 2. The attempt uses `WrapDeprecated`. Th

[2021-07-28 22:28] RussTedrake opened #15508 "Provide DrakeGym API in pydrake to make the easy simulations more familiar"
From an office hours discussion.. many people have written small gym-like interfaces around Drake.  We should provide one in drake master and a tutorial showing how to use it.

[Here is the relevant documentation from gym](https://github.com/openai/gym/blob/103b7633f564a60062a25cc640ed1e189e99ddb7/docs/creating_environments.md).    I'm not worried about the repo name / file structure advice, but s

[2021-07-29 03:56] jwnimmer-tri commented on #15498
Actually, nope.  Even replacing `is_convertible_v` with `false` still produces the error.  It's like SFINAE isn't working like we expect, somehow?  Anyway, I've posted a work-around in #15517 now.

[2021-07-29 13:37] BetsyMcPhail opened #15519 "Update Mac images to use latest ipopt (3.14.2)"
Mac provisioned images are currently using 3.13.4_1. See [slack thread](https://drakedevelopers.slack.com/archives/C270MN28G/p1627503321108800) of issue with older version

[2021-07-29 13:54] jwnimmer-tri commented on #1183
On my very first skim, I don't see any code in pydrake that actually imports LCM.  I think we were just installing it as a courtesy to downstream users, so that they have a python `lcm` that reuses the same shared library as us.

Therefore, it's likely to be a non-issue, at least for the initial release(s).

[2021-07-29 15:04] #15505 closed

[2021-07-29 15:56] BetsyMcPhail commented on #15519
Mac images have been updated with a `brew update && brew upgrade`, all brew packages should be at the latest.

[2021-07-29 15:56] #15519 closed

[2021-07-29 18:19] #14295 closed

[2021-07-29 18:23] EricCousineau-TRI opened #15522 "sdformat: Should incorporate //pose[@rotation_type="rpy_degrees"]"
Steps:
- [ ] File PR with this in `sdformat@main`, test feature
- [ ] Update to released version, SDFormat 1.9

[2021-07-29 18:46] EricCousineau-TRI commented on #15026
Should also ensure that we have a way of porting over / handling things like collision filtering. (\cc @SeanCurtis-TRI)

[2021-07-29 19:32] SeanCurtis-TRI commented on #15026
Can you elaborate on what "porting over/handling" collision filter means?

And what other "things" did you have in mind? It might be worth having a face to face so we can hash out these topics and enumerate them here for bookkeeping.

[2021-07-29 19:34] EricCousineau-TRI opened #15524 "scene_graph_inspector: Possible to query `CollisionFiltered(FrameId, FrameId)`?"
Context: For #15026 (\cc @azeey @jennuine)
From Slack: https://drakedevelopers.slack.com/archives/C2WBPQDB7/p1627584416099400

`SceneGraphInspector` has `CollisionFiltered(GeometryId, GeometryId)`, but does not have `CollisionFiltered(FrameId, FrameId)`.
For workflows such as `multibody_plant_subgraph`, it'd be nice to copy over collision filtering with the same semantics from the source to the de

[2021-07-29 19:44] EricCousineau-TRI commented on #15026
Yup!
The simplest invariant is if I have `(plant, scene graph)`, and I copy in it's entirely to a new target set, everything (controllable by those two classes) should ideally be *identical* (e.g. the collision filtering semantics example in #15524).

Any and all elements that are tracked / added in via the `(plant, scene graph)` pairing to preserve the above invariant.
At the moment, the only con

[2021-07-29 19:50] SeanCurtis-TRI commented on #15524
1. I'm not sure what you mean by "transient" in this case. There's a current PR that uses the word "transient" w.r.t. collision filters to mean something very specific, and I don't believe that it's what you mean here. My best assumption is that this is referencing the fact that any frame-based declaration of collision filtering (e.g., via `collision_filter_group` in URDF/SDF files or declarations

[2021-07-29 19:55] SeanCurtis-TRI commented on #15524
I just realized that everything I wrote was to the larger question for which the `CollisionFiltered(FrameId, FrameId)` is supposed to serve.  Ignoring the application domain for a minute, let's talk purely about this function.

As stated above, all collision filters are stored *purely* on a *geometry*-pair basis. We have no way of knowing if two geometries are filtered because they were explicitly

[2021-07-29 20:19] EricCousineau-TRI commented on #15524
Yup, I had forgotten the "purely on a geometry-pair bases" in this part of your docs (as Jeremy pointed out on Slack):
https://github.com/RobotLocomotion/drake/blob/ef428c3616579fc3e3c62a9461ca3914e9ce4445/geometry/collision_filter_manager.h#L64-L76
(sorry for not putting the "Note" more prominently!)

Since I misunderstood; given this then yeah, this issue can be closed - there's definitely no ne

[2021-07-29 20:19] #15524 closed

[2021-07-30 02:14] xuchenhan-tri opened #15529 "Need an easier way to set initial conditions for deformable bodies"
Currently setting initial conditions for deformable bodies is extremely tedious. One would have to manually extract the discrete state index for the body of interest via `DeformableModel::discrete_state_indexes()`, and then manually parse the discrete state to get the positions and velocities respectively.

It would be desirable to have a signature similar to setting free body poses and spatial ve

[2021-07-30 14:28] RussTedrake commented on #15061
@hongkai-dai -- should this be closed?

[2021-07-30 14:47] SeanCurtis-TRI commented on #15026
Seems to me you get that already. Is this *known* to be an issue or is this merely an indicator saying, "We don't know it's an issue, but we need to confirm (and correct as necessary)"?

[2021-07-30 15:05] hongkai-dai commented on #15061
Yes, it has been resolved.

[2021-07-30 15:05] #15061 closed

[2021-07-30 16:52] SeanCurtis-TRI commented on #12214
This conversation never touched the case of *removing* a port. It was primarily about renaming ports.

I'm currently working on deprecating `PoseBundle` (and 95% of what's in `systems/rendering`). Generally, it's straightforward but for three output ports:

  - `SceneGraph::get_pose_bundle_output_port()`
  - `RgbdSensor::X_WB_output_port()` and `RgbdSensorDiscrete::X_WB_output_port()`
  - `Manipul

[2021-07-30 17:07] EricCousineau-TRI commented on #15026
Sorry, it is now speculation -- it had been an issue for things like preserving `JointIndex`, etc.

So yeah: We should confirm (and correct as necessary) this invariant.

[2021-07-30 17:19] SeanCurtis-TRI commented on #13580
In deprecating `PoseBundle` and its associated classes (including `PoseVector`), `RgbdSensor` now has the `body_pose_in_world` output port. It is `RigidTransformd` valued.

[2021-07-30 17:32] SeanCurtis-TRI commented on #10247
BTW It seems this whole thing would be happily resolved with a constructor overload -- i.e., specify the parent frame and have X_PB be identity by implication.

You'd still be responsible through some other means to make sure the frame you're affixing the camera to exists and is updated appropriately. But the camera doesn't have to know anything about it.

And, if you have a "dynamic frame" that i

[2021-07-30 23:03] edrumwri commented on #15462
I think it would be best if the per-model ports were deprecated long-term (I have never found them to be convenient) and, short-term, if an error were thrown if both the stacked and some/all per-model ports were connected/fixed. So my description of this as "sugar" was misleading.

[2021-07-30 23:06] edrumwri commented on #15462
No- we don't use the inverse dynamics controller.

[2021-07-30 23:10] jwnimmer-tri commented on #15462
In our TRI simulations, we frequently use per-model-instance controllers that rely on the per-model-instance actuation input.  I find it unlikely that we would deprecate those input ports.  (We'd need to write a model-instance mux; seems best to just let the plant keep doing it, especially if it is more efficient for cache invalidation in cases where the controllers are multi-rate.)

It still seem

[2021-07-31 11:01] edrumwri commented on #15462
It's no skin off of our nose either way. We have only found the per-model-instance actuation to only be a hindrance but of course, YMMV.

[2021-07-31 19:09] RussTedrake commented on #11817
@hongkai-dai Is this addressed with your PR #14569?

[2021-07-31 19:13] RussTedrake commented on #11346
@sherm1 -- this was marked as high priority (I think correctly), and I know at least `SetContinuousState` and `SetDiscreteState` methods exist.  Can you update this issue?  I'm considering some usability improvements along these lines, too.

[2021-07-31 19:45] hongkai-dai commented on #11817
Yes I think it has been resolved. I have been using DrakeVisualize<AutoDiffXd> alongside simulating an AutoDiffXd Diagram.

[2021-07-31 19:45] #11817 closed

[2021-08-01 11:12] RussTedrake commented on #6998
I find myself revisiting this question / idea, after seeing the hoops that we are jumping through in #15528 to make the continuous state data reveal it's true `BasicVector` self (in that case, for performance reasons).  I wish that the efforts made in `MultibodyTree` could be applied more broadly to address this issue.

[2021-08-01 11:22] RussTedrake commented on #12566
Note that the "State variables 2.0" doc in #9171, currently also includes the view concept:
[code]
Let's keep these two ideas in sync!

[2021-08-02 09:08] RussTedrake commented on #6998
Q: Why not have `BasicVector<T>` changed its member variable to an [Eigen::Map](https://eigen.tuxfamily.org/dox/classEigen_1_1Map.html), with the option to own, or not own, the underlying vector data.  Then we could have `SuperVector<T>` isa `BasicVector<T>`, thus allowing `DiagramContinuousState` (in additional to  `ContinuousState`) to use `BasicVector`?

[2021-08-02 09:47] RussTedrake commented on #6998
This [quick spike test](https://github.com/RobotLocomotion/drake/commit/067e02ade28828e4746e34f1ec306c0bc4ac0116) suggests that we might have to change some return types, unfortunately, but it still seems doable.

[2021-08-02 15:25] #15498 closed

[2021-08-02 19:35] jwnimmer-tri commented on #6998
Quick summary from the meeting this morning -- Eigen::Map is not a sufficiently general enough scatter-gather to allow for viewing a diagram's overall qvz vector as individul leaf qvz vectors, either with Diagram owning and Leaf as sub-views, or Leaf as owning and Diagram as a composite view.  The various qvz offsets cannot be expressed with Eigen strides.  (Think of a Map as a Matrix slice.)

My

[2021-08-02 19:42] jwnimmer-tri commented on #11913
It's possible that the resolution of #13942 will end up being a prerequisite for this work.  If we decide that the sdformat / urdf files should move as well, it probably makes sense to do them as part of the same file relocation as the meshes.

[2021-08-02 22:36] sherm1 commented on #11346
Update: a quick inventory as of 8/2/2021.

The following safe and convenient `context.Set...()` methods currently exist:
[code]
These take scalars and nice Eigen vectors, no BasicVectors or other fluff. These should be used instead of the dangerous and awkward `get_mutable_...()` methods.

Missing from that list:
[code]

The following dangerous cache-invalidating methods are improperly using snake

[2021-08-02 22:54] RussTedrake commented on #11346
Will you add the corresponding `Get...()` methods, too?  (pretty please?)

[2021-08-02 23:33] RussTedrake opened #15549 "binding for le, ge (and presumably others) fails to match expression if it's the second argument."
Discovered here: https://stackoverflow.com/questions/68615278/runtimeerror-you-should-not-call-bool-nonzero-on-formula

[code]
cc @EricCousineau-TRI

[2021-08-03 00:19] soonho-tri commented on #15549
@EricCousineau-TRI , those `le` and `ge`s, where do we define them?

[2021-08-03 00:21] soonho-tri commented on #15549
Never mind. I think they are from these lines:
https://github.com/RobotLocomotion/drake/blob/master/bindings/pydrake/_math_extra.py#L34-L46

[2021-08-03 00:28] sherm1 commented on #11346
Do you mean the non-mutable methods with copied-out Eigen return values?
[code]
what else to you have in mind? For discrete state, I don't understand why the existing `get_discrete_state_vector()` returns a `const BasicVector&` when it could have returned a `const VectorX&`. Should we make a somewhat-painful change to the return type? Or maybe add `get_discrete_state_value() -> const VectorX&` and

[2021-08-03 00:31] sherm1 commented on #11346
@rpoyner-tri any thoughts on what we should do to make state access more pleasant?

[2021-08-03 00:50] soonho-tri commented on #15549
FYI, It works when we have:

[code]

But it doesn't work when we have the following line:

[code]

and the error message is:
[code]

[2021-08-03 02:09] soonho-tri commented on #15549
@EricCousineau-TRI , my understanding is that we found corner cases where https://github.com/RobotLocomotion/drake/pull/11171 , the workaround for #8315, does not work well. Could you investigate from here?

[2021-08-03 02:19] soonho-tri commented on #15549
FYI, the runtime error comes from this line (on my mac which is using python3.9 + numpy-1.21),
https://github.com/numpy/numpy/blob/maintenance/1.21.x/numpy/lib/function_base.py#L2201.

In this case, `func = <built-in function le>` and `inputs = [2, pow(x, 2)]`. I don't understand why `func(*inputs)` throws this runtime error.

[2021-08-03 12:52] nolie-rolie commented on #15549
I wanted to add on some more information. I hope this is helpful.

[code]

Not sure why, but in my case, 'ge()' and 'le()' did not work regardless of the order of the arguments. Also, leading the inequality sign with a float rather than an expression caused a RuntimeError. Here is a link to my [colab notebook](https://colab.research.google.com/drive/1RxFtWnqgaZgMtGmAnRTiDRERossY2lL0#scrollTo=yl128

[2021-08-03 21:55] jwnimmer-tri commented on #15298
The upstream MR has landed, so I'm going to call this closed.

There are other new problems with our integration branch, and I haven't yet root-caused them, so I can't 100% prove that this is fully resolved, but since the cherry-picked fix proved our a couple weeks ago, I think we're on safe gound.

[2021-08-03 21:55] #15298 closed

[2021-08-03 22:51] SeanCurtis-TRI opened #15555 "Body names in contact data are insufficiently unique"
## Problem

A single sdf can be parsed into a single plant multiple times. Each time it is parsed, it is associated with a model instance name (possibly unique) and a *definitely* unique model instance index.

When contact is reported between *bodies* it is simply the body name that is referenced. So, if I have multiple instances of body `Base` and they each make contact with the `ground`, I'd get

[2021-08-04 00:19] sherm1 commented on #15555
I like the minimally-unique name idea. In the worst case, would the index actually be the ModelInstanceIndex or would it count from zero among the like-named model instances? If there are two models named "kuka", say, I'm thinking it might be less astonishing to see `kuka[0]/upper_arm` and `kuka[1]/upper_arm` than `kuka[4]` and `kuka[11]` or whatever the actual model indices are.

Random thought:

[2021-08-04 00:22] jwnimmer-tri commented on #15555
According to the docs, model instance names are always unique already:
[code]

[2021-08-04 00:27] jwnimmer-tri commented on #15555
I wasn't super clear from the write-up where these "reported" names are used.  Is it only for the lcm message?  I found a name there, but I didn't immediately see the name on any plant output ports.  I do see that `contact_results_to_lcm` is creating the names per its own algorithm -- is that what you're referring to?

(When posing a problem, hyperlinks to the broken code will always help!)

If it

[2021-08-04 03:58] jwnimmer-tri commented on #15549
The first step is writing more unit tests, so that we have a wide measurement of the current, undesired behavior.  I've start that under #15558 -- open for increments pushes / merges from others.

[2021-08-04 04:27] jwnimmer-tri commented on #15549
Here's a cleaned-up backtrace for the first test failure in that branch:
[code]

[2021-08-04 05:01] jwnimmer-tri commented on #15549
Here's the stack for the (simpler) test_15549 first failure:

[code]

[2021-08-04 05:14] jwnimmer-tri commented on #15549
It looks like rich compare of `int` vs `Expression` would work, but because of the `np.vectorize`, we're trying to rich compare `np.int64` and `Expression`, and since _both_ objects define rich comparison functions, the lhs (np.int64) wins, and we lose.

The same holds if we use "2.0" (float) in the test case, instead of "2" (int).

[2021-08-04 05:42] jwnimmer-tri commented on #15549
Proof of concept that a fix is within reach:

[code]

When we're comparing Expression vs FooType or FooType vs Expression, we must always call into the Expression implementation of rich comparison, never FooType.  Therefore, if one argument is Expression but the other is not, we need to manually promote to Expression and then dispatch.

Here, I've done it with an exception fallback.  There are pro

[2021-08-04 11:17] RussTedrake commented on #11346
You've captured the request correctly.  Something like `Context::GetContinuousState()` and `Context::get_discrete_state_value()` (with 0 and 1 argument) is the ask.  As you point out, the only subtlety is picking the names well.

After this, I would *suspect* that the vast majority of users would access the `Context` members via:
[code]

That is the immediate ask.  Please don't let the remainder d

[2021-08-04 14:13] soonho-tri commented on #15549
@jwnimmer-tri , thanks for the analysis! I'll take a stab tomorrow.

[2021-08-04 14:33] SeanCurtis-TRI commented on #15555
Thanks for the comments.

I'd foolishly gone looking at the parsing documentation. It is the main entry point through which most people actually end up adding model instances. And *that* documentation is decidedly lacking in any comment about the uniqueness of model instance names. In fact, the *only* documentation I *did* find re: parsing was this:

[code]

This documentation strongly implies the

[2021-08-04 15:26] RussTedrake opened #15560 "[symbolic] `Ref<VectorX<Expression>>` does not match `VectorX<Variable>`"
I went to resolve #13735, which is *almost* trivial; and ironically would have been last year.  But my iris code served as a canary revealing a subtlety about casting from `Variable` to `Expression` through `Eigen::Ref`.  My almost PR is [here](https://github.com/RobotLocomotion/drake/compare/master...RussTedrake:fix_13735?expand=1).

This works fine:
[code]
but
[code]
fails with
[code]

Of course

[2021-08-04 15:33] jwnimmer-tri commented on #15560
Are you sure that doesn't create a dangling reference to destroyed memory?  I know that in some cases, Ref will take over temporary ownership, but it's not clear to me why this use would be one of them.  (Maybe it is; I haven't looked carefully).

What is the referent of "throughout", and/or where is this idea coming from?  I don't seem to recall anyone on the team discussing such a convention any

[2021-08-04 16:05] jwnimmer-tri opened #15562 "LcmSubscriberSystem output port dependencies"
The output port on LcmSubscriberSystem does not declare any dependency tickets, which means that changes to context time invalidate it.  In some use cases, this leads to many more downstream re-computations than necessary.

We should fix the output dependency to be only on abstract state.

[2021-08-04 16:14] jwnimmer-tri commented on #15560
Ah, well at least for #13735, the situation is about input arguments to functions.  From the the examples in the snippets above, I misunderstood that we were talking about local variables.

[2021-08-04 16:36] #10751 closed

[2021-08-04 17:40] jwnimmer-tri opened #15565 "Add MultibodyPlantConfig structure and functions"
Similar to [SimulatorConfig](https://drake.mit.edu/doxygen_cxx/structdrake_1_1systems_1_1_simulator_config.html), TRI has a MultibodyPlantConfig to enable for plant configuration via YAML (or similar), instead of multiple direct API calls.

We intend to upstream this utility back into Drake.

[2021-08-04 17:41] jwnimmer-tri commented on #15565
\CC @sherm1 @ggould-tri @sammy-tri FYI

[2021-08-04 17:52] RussTedrake commented on #15560
Yes, I might have skewed things by trying to make the trivial example.  I was passing `VectorX<Variable>` successfully into `SetPositions(const Context<Expression>&, const VectorX<Expression>&)`, but changing it to `SetPositions(const Context<Expression>&, const Eigen::Ref<const VectorX<Expression>>&)` caused the same code to fail.

[2021-08-04 18:00] jwnimmer-tri commented on #15560
Previously, was making a copy (via a conversion constructor) during the call.  Now, that copy must be made explicit at the call site (via "cast") because turning it into Ref would requite two conversions in a row (Mat/Var => Mat/Exp => Ref/Mat/Exp), which is beyond what C++ does during function calls.

[2021-08-04 19:34] jwnimmer-tri commented on #14362
The bot_core_position_3d_t is a translation & quaternion.  It looks like drake has each of those individually, but not them as a pair in a single struct.

I don't immediately see any replacement.

All of Drake's types are at https://github.com/RobotLocomotion/drake/tree/master/lcmtypes, there is no other module where might might be hiding away.

FYI If the bot_core types are still suitable for you

[2021-08-04 21:51] SeanCurtis-TRI commented on #15555
A passing thought on the "minimally unique name".

Pros:
  - Labels become as short as possible. Mindlessly always including `model/body/geometry` make for very large labels.
Cons:
  - Introduction of these labels *cannot* be done on visualization side. To know if a name is globally unique requires knowledge of the whole. The contact visualizer only has the knowledge given to it in a single messag

[2021-08-05 10:07] RussTedrake commented on #15560
TIL.  Thanks!

[2021-08-05 10:07] #15560 closed

[2021-08-05 13:20] amcastro-tri commented on #15555
What if the LCM message included a GUID such as BodyIndex and then just the body name (or model name/body name if preferred)? would that be enough on the visualization side?
Another option is just to include everything: model id, body index, geometry id, and the corresponding strings for each and let the visualizer do what it pleases with them.

[2021-08-05 13:45] ggould-tri opened #15569 "Expose all-channel subscriptions, url access in DrakeLcmInterface"
See also #12523

In downstream code we are building holder structures of `DrakeLcm` objects rather than `DrakeLcmInterface*` in order to retain two DrakeLcm capabilities:
* Access to the underlying LCM object for its subscribe-to-a-regex functionality in order to subscribe to `.*` (for routing LCM traffic between multiple LCM buses)
* Access to the `get_lcm_url` function to access rather than hard

[2021-08-05 14:18] SeanCurtis-TRI commented on #15555
@amcastro-tri you've basically repeated what @jwnimmer-tri proposed. My last comment still stands: the visualizer *can't* use a "minimally unique name" without knowing the full contents of the world.

I'm currently sending all the information to the visualizer in the message and the visualizer is using *very long names* for each contact. People will have a chance to experience when the PR lands.

[2021-08-05 14:27] amcastro-tri commented on #15555
Simply stating my basic understanding, if only Jeremy's idea with my simpler words. Didn't mean to offend your beautifully spelled proposal. I agree with your statement above.

[2021-08-05 14:53] jwnimmer-tri commented on #15555
I can clarify where my thinking went wrong:

For name uniqueness, I was considering the problem as "when multiple contacts are shown in viz, we need to ensure that their labels disambiguate which one is which" -- the problem is ambiguity between active contacts.

Here, you're framing the problem as "even when there is only a single contact shown in the visualizer, we need its label to inform the u

[2021-08-05 16:54] EricCousineau-TRI opened #15570 "cpp_template_pybind: AddTemplateFunction should support overloads"
At present, it doesn't.

From @rpoyner-tri:
https://drakedevelopers.slack.com/archives/C3YB3EV5W/p1628173385005300?thread_ts=1628172481.004400&cid=C3YB3EV5W

\cc @jwnimmer-tri

[2021-08-05 16:56] EricCousineau-TRI commented on #15549
Nice on the exception fallback!

If it's a bit hard to figure out performant route for pydrake Expression, I'm totally up for reviewing non-performant case (#15558).

[2021-08-05 17:01] #15562 closed

[2021-08-05 17:25] jwnimmer-tri commented on #15549
I think the most difficult part here will actually be the unit testing.  The number of combinations of operand scalar types (float, AutoDiff, Expression, np.float64, np.int64), matrixness (single scalar vs vector of scalars), left/right operand order swaps, and which tranche of comparison operators we are calling (ScalarAlgebra vs VectorAlgebra) makes for a huge test set.  I briefly looked into en

[2021-08-05 18:22] soonho-tri opened #15573 "IBEX Solver"
I'm in the process of adding [IBEX](https://github.com/ibex-team/ibex-lib) Solver. See the first PR, #15552 for more details and some examples.

TODO list:
 - [x] Add Python bindings.
 - [ ] Add IBEX to https://drake.mit.edu/doxygen_cxx/group__solvers.html.
 - [ ] Add IBEX to `ChooseBestSolver` (or write a comment about why it can't be).
 - [x] Repair handling of solver options.
 - [x] Refine `Ibe

[2021-08-06 02:59] jwnimmer-tri opened #15578 "Deprecate eigen_stl_types.h"
The file eigen_stl_types.h is unused with Drake, and moreover is useless given our minimum requirements on Eigen version, C++ compiler, etc.  We should deprecate it (and then remove it).

[2021-08-06 03:11] jwnimmer-tri opened #15579 "Eigen 3.4 vs Matrix Expression operator=="
Sub-task of #15142.

An error message from that PR build:

[code]

What _should_ be happening is that this overload wins:

https://github.com/RobotLocomotion/drake/blob/dbb6f4edfefee96e20358a12055dd478820e5fe9/common/symbolic_formula.h#L944-L954

... but for some reason with Eigen 3.4, it is not.

[2021-08-06 03:15] jwnimmer-tri commented on #15579
So the overload selection is perhaps a problem, but also note that `DRAKE_ASSERT(e == e.transpose());` is a silly no-op in the first place, since `DRAKE_ASSERT` gets skipped when the predicate is a Formula.  I wonder if the author was trying to check for structural equality, instead of value equality?

[2021-08-06 15:56] SeanCurtis-TRI commented on #15555
You're heading in the right direction, but aren't quite there. For me, the visualization "name" should have a *single* meaning over the duration of a single simulation. The meaning of a name cannot change from one time step to the next. I don't *require* that the names include geometry identifiers in any way. I don't *require* them to include model instances in any way. If just body names is suffi

[2021-08-06 21:31] #15579 closed

[2021-08-06 22:05] EricCousineau-TRI commented on #15549
Aye; I don't think the combinatorics should be too hard to list out since it's just Python.

Do you want me to take a stab at it?

[2021-08-06 23:15] #10482 closed

[2021-08-06 23:15] #13580 closed

[2021-08-07 00:48] jwnimmer-tri opened #15583 "Deprecate schunk_buttons.py"
`drake/manipulation/schunk_wsg/schunk_buttons.py` is a helper script that isn't part of the build, isn't linted, isn't installed, and most probably totally unused.

Maybe we should deprecate and remove it?

Or if we keep it, it should probably move next to the other drake-visualizer scripts, and get linting & etc.

[2021-08-09 09:30] RussTedrake commented on #15583
Agreed.  I no longer need / use it.  Thanks!

[2021-08-09 13:18] amcastro-tri commented on #15555
I think that the names that Drake visualizer assigns to contacts today are compact and clear. IMO I would not change that.
If we are then happy with today's way of the viz to name and show things, then we'd only require to solve the problem of non-GUID passed to the viz?

[2021-08-09 14:49] SeanCurtis-TRI commented on #15555
They are sufficiently compact and clear today so long as the names are unique. However, if your names aren't unique (like you load the same urdf/sdf multiple times or if there are multiple contacts between a single pair of bodies), a *defect* in visualization is revealed. The defect is indisputable. The only real question is what we do about it.

On top of that technical defect, I've added the mor

[2021-08-09 15:30] amcastro-tri commented on #15555
As a user myself, I'd be satisfied with the fix to the "ambiguity for the visualizer". As a user, I would rarely get confused by the naming of the contact pairs since I do know my model and I can turn on/off pairs as I wish to gain even more understanding.

The second issue, "ambiguity to the user", IMO is not as much of a bug and therefore lower priority.

That sounds reasonable if you'd also lik

[2021-08-09 17:27] sammy-tri commented on #15583
Go ahead and kill it.  Based on when it was written, I'd guess I probably last used that with the iiwa pick and place demo and the RBT enabled version of director.  Trivial to recreate or resurrect if needed.

[2021-08-09 21:23] #7912 closed

[2021-08-10 02:22] jwnimmer-tri commented on #15549
Right, writing out the combinatoric looping with itertools or whatever shouldn't be too difficult.  What seemed like the biggest challenge, to me, would be annotating the expected results across all of the permutations.  _Shrug._  Maybe it is easy?

I'm not sure who the "you" was directed to here, but just to be clear, this issue isn't assigned to me, and I'm not actively working on it.  My intere

[2021-08-10 02:36] jwnimmer-tri commented on #15298
@cantonios thanks for your help here!  I can finally confirm now that our project's entire test suite is 100% passing in all 80+ of our different build configurations.  Eigen 3.4 seems solid now, in our testing.

[2021-08-10 02:49] soonho-tri commented on #15549
@EricCousineau-TRI , it'd be great if you can take this issue!

[2021-08-10 03:04] jwnimmer-tri commented on #11252
In #15489, I found that `MultibodyPlant::SetDefaultState` and `MultibodyPlant::SetRandomState` lack validation checks on the `State*` in/out pointer.  They call `CheckValidState`, but that function only does a basic "continuous xor discrete" sanity check, it doesn't inspect the SystemId tag.

[2021-08-10 15:17] jwnimmer-tri commented on #10022
As of #13282, the full YAML scene language ("model directives") is available in Drake.  The manipulation_station has not been ported to that yet, though.

[2021-08-10 20:59] vikr53 opened #15596 "New install of pydrake not working (possibly...fmt update)"
_Issue:_ Recently (~12 hrs ago), fmt v8.0.1 was made the default version installed through Homebrew ([https://github.com/Homebrew/homebrew-core/commits/master/Formula/fmt.rb](https://github.com/Homebrew/homebrew-core/commits/master/Formula/fmt.rb)).

So, when /opt/drake/share/drake/setup/install_prereqs is run, the latest versions, fmt@8.0.1 and spdlog@1.9.1 are being installed. However, it seems

[2021-08-10 21:06] jwnimmer-tri commented on #15596
I think you've correctly identified the problem.

Homebrew has changed their library ABI with the fmt update, so all existing binary programs that use fmt need to be recompiled from source to match the new ABI.

Since I see `/opt/drake` in your path, I assume you're using one of our https://drake.mit.edu/from_binary.html releases, instead of building from source.

Because homebrew updated early th

[2021-08-10 21:15] jwnimmer-tri commented on #15596
I realize now that for doing a "build from source" for pydrake users, the instructions linked below would more directly relevant than my other link above:

https://drake.mit.edu/python_bindings.html#building-the-python-bindings

[2021-08-11 12:28] RussTedrake commented on #13038
Related to https://github.com/RussTedrake/manipulation/issues/145

[2021-08-11 13:28] EricCousineau-TRI commented on #15024
For next steps, can you try loading these articulated models from Ignition Fuel?
(the process of downloading them isn't as important to me as just trying to import the assets into Drake)

1. https://app.ignitionrobotics.org/AndrejOrsula/fuel/models/shadow_hand
2. https://app.ignitionrobotics.org/AndrejOrsula/fuel/models/ur5_rg2
3. https://app.ignitionrobotics.org/OpenRobotics/fuel/models/Panda%20w

[2021-08-11 13:48] EricCousineau-TRI commented on #15018
I'll file a PR to put a deprecation-compatible date in the TODO listed in PR.

[2021-08-11 16:34] jwnimmer-tri commented on #15596
Our continuous integration shows that this problem has been resolved, as of today's binaries.

I've also tagged those binaries as an official release (https://drake.mit.edu/release_notes/v0.33.0.html).

Hopefully this is resolved now, but please let us know if there are still any problems.

[2021-08-11 16:34] #15596 closed

[2021-08-11 20:34] EricCousineau-TRI opened #15601 "ignition: Should remove all static storage duration (unless trivially destructible)"
@SeanCurtis-TRI ran into a nasty segfault in pydrake that is most likely due to static storage duration for objects w/ non-trivial destructors:
https://gist.github.com/SeanCurtis-TRI/8122cb2ad2b78f99f91ab35d19ff931c
Slack thread: https://drakedevelopers.slack.com/archives/C3YB3EV5W/p1628696745011100

To observe the phenomenon, the following branch will manifest the problem:
https://github.com/Sean

[2021-08-12 01:05] sherm1 opened #15604 "AutoDiff-related functions violate Drake styleguide"
It has bothered me forever that we've kept the original, pre-styleguide names of several commonly-used AutoDiff-manipulating functions. For one thing it sets a poor example of the importance of adhering to a styleguide!

I propose to deprecate the old names and replace them with new, styleguide-compatible names as follows:

old name | new name | notes
-------- | -------- | --------
autoDiffToGradi

[2021-08-12 12:20] RussTedrake commented on #15573
I'll add
- [ ] Resolve the TODO to support lorentz cone and rotated lorentz cone constraints
- [ ] Resolve the TODO to expose (at least) the tolerance and timeout parameters.

[2021-08-12 12:33] RussTedrake commented on #15573
FYI -- current default solver parameters (which I found by setting a breakpoint in the debugger):
- `rel_eps_f = 0.001`
- `abs_eps_f = 1e-7`
- `eps_h = 1e-8`
- `rigor = false`
- `timeout = 30`
- `eps_x = 0`.
And there is some relevant documentation (which was annoying to find!) here: http://www.ibex-lib.org/doc/optim.html?highlight=eps#objective-precision-criteria

[2021-08-12 13:59] jwnimmer-tri opened #15606 "Build Drake v0.33.0 for Colab Python 3.7"
We'd like create a binary release tarball for use with Google Colab, which uses python 3.7.

We should update https://github.com/RobotLocomotion/drake-python3.7 to reflect the v0.33.0 baseline and then create a new release tarball from it.

[2021-08-12 14:57] rpoyner-tri commented on #15604
Being late to the party, I had assumed those names had crept over from
Eigen somehow. I don't see a big downside to offering both names, and/or
deprecating the GSG violators. Any historians able to speak for the
existing names?

On Wed, Aug 11, 2021 at 9:05 PM Michael Sherman ***@***.***>
wrote:

--
Rick Poyner
Manager, Dynamics and Simulation
Robotics Program
Toyota Research Institute

--

Confid

[2021-08-12 15:05] jwnimmer-tri commented on #15606
FYI related https://github.com/RobotLocomotion/drake/pull/15516#issuecomment-896972776

[2021-08-12 15:28] jwnimmer-tri commented on #15601
I'd advocate for a slightly different approach.  For anything that is actively hurting us (with segfaults, or etc.), then we can have a Drake-local patch file that is upstreamed later.  But for all of the other global variable coding-style violations that are _not_ hurting us, I don't see why we'd make Drake-specific patches for those?  It seems like PRing those directly to upstream and waiting fo

[2021-08-12 15:33] jwnimmer-tri commented on #15604
Those functions predate our adoption of GSG, e.g., https://github.com/RobotLocomotion/drake/commit/6bdf3a3569de11bd72388d962afc58ccc430cc9b was made into a header-file function as of 2015.

[2021-08-12 15:37] sherm1 commented on #15604
@hongkai-dai, @RussTedrake I think you use these frequently -- any thoughts on the name changes?

[2021-08-12 15:51] EricCousineau-TRI commented on #15601
Sounds great! Updated to that effect.

[2021-08-12 16:16] soonho-tri commented on #15573
=> https://github.com/RobotLocomotion/drake/pull/15607

[2021-08-12 18:21] RussTedrake commented on #15604
As long as you change my call sites in drake, I think it's great to update to GSG.

[2021-08-12 20:37] azeey commented on #15601
When I ran the command, I actually get a stack trace that shows the issue is in `libyaml-cpp`, but I went ahead removed all non-trivially destructible objects from ignition-math anyway. However, that didn't solve the problem. I found that `libyaml-cpp` also [uses](https://github.com/jbeder/yaml-cpp/blob/998d7bf31e1bab4e45221c28fad8e00ddcf8855e/src/token.h#L16) a global `std::string` array, which c

[2021-08-12 20:39] jwnimmer-tri commented on #15601
Good find!  That sounds very plausible.

[2021-08-12 21:05] SeanCurtis-TRI commented on #15601
That's not just plausible, that's incredibly compelling. Thanks for the sleuthing, @azeey! It makes perfect sense. I'll have to consider the proper Drake-side resolution.

[2021-08-12 21:53] EricCousineau-TRI commented on #15601
Nice indeed! Per discussion, lowering priority.
That being said, it would still be nice to remove non-trivially destructible globals, at least from `ignition`.

At that point, the symptoms (via stack trace) might have been slightly less confusing.

[2021-08-13 03:08] DamrongGuoy commented on #14579
@amcastro-tri this issue has been opened for seven months now.
Is the implementation that we have right now satisfying your request?
If so, could you please close this issue?
If not, and you need the true polygonal contact patch, could you please re-assign this issue to @joemasterjohn and @SeanCurtis-TRI ?
Or could you please close this issue and create another issue specifically for visualizing t

[2021-08-13 17:10] EricCousineau-TRI opened #15613 "iiwa: Should add in actual vel + effort + est. accel limits; attempt sync. for variants"
At present, IIWA14 URDFs (at least) do not appear to have actual hardware velocity and torque limits; instead, they're derived from
https://github.com/IFL-CAMP/iiwa_stack/tree/2fa5bd5 (understandably)
Additionally, they do not have acceleration limits, which are useful for planning and control.

We have TODOs in Anzu to hoist these to Drake URDFs; this issue should be resolved by:
- [x] Incorporat

[2021-08-13 18:41] RussTedrake commented on #13038
fwiw -- i'm planning to spike-test a c++ implementation over the next few days.

[2021-08-13 21:07] BetsyMcPhail commented on #15606
https://github.com/RobotLocomotion/drake-python3.7/tree/0.33.0 has been rebased on Drake's v0.33.0 release. (Note the new branch, there were quite a few conflicts, so let's leave main as is just in case).

[2021-08-14 00:01] RussTedrake commented on #13038
I'll leave some notes here to document some of the relevant decisions.

**Websockets not ZMQ**.  meshcat-python uses a separate ZMQ server to relay between python and the browser:
 ```python Visualizer <=zmq=> zmqserver <=websockets=> browser```
I intend to go directly from c++ meshcat to the browser:
```c++ Visualizer <= websockets => browser```
Having discussed with @rdeits, the zmq server desig

[2021-08-14 01:17] DamrongGuoy opened #15616 "[geometry] Standardize the description of field variables related to hydroelastic contact surfaces."
<h1>Requirement Specification</h1>

<h2>Introduction</h2>

This is a request to standardize the description `string` of field variables returned by the function [geometry::MeshFieldLinear::name()](https://github.com/RobotLocomotion/drake/blob/b026886f559c2cba1b450d65f53d123adf106ef5/geometry/proximity/mesh_field_linear.h#L260). It's used in hydroelastic contact surfaces. It's used in the pressure

[2021-08-14 01:20] DamrongGuoy commented on #15616
CC: @EricCousineau-TRI , @amcastro-tri, @SeanCurtis-TRI , @rpoyner-tri , @joemasterjohn , @xuchenhan-tri for comments.

For now, assign to @rpoyner-tri to propose a solution.

[2021-08-14 10:23] RussTedrake commented on #13038
Basic C++ design is currently:
- Meshcat is a class that plays the role of meshcat.Visualizer in python.  It will launch the websocket listener thread and accept set_object, set_transform, etc, calls in the main thread.  This will in many way parallel DrakeLcm.  I'll put this in drake::geometry, although it could go anywhere (no deps on geometry) and I welcome suggestions.
- MeshcatVisualizer will

[2021-08-16 15:04] amcastro-tri commented on #15616
I personally like "Solution 2", where contact surfaces inherit the name from their source.
With regards to mesh_half_space_intersection, could those methods take an additional string with the name of the source? Withing compliant hydro code we can simply pass `kPressureFieldDescription`, while other callers like say "deformable" would pass their own specific string.

[2021-08-16 15:05] SeanCurtis-TRI commented on #14579
I'd suggest that the recent PR train was a stopgap measure. We knew at the onset it wasn't the proper solution, but merely a way to get a performance boost into people's hands sooner rather than later. The work implied by this issue is yet to be done. So, I don't feel closing it would be quite right. That said, re-assigning it makes sense.

[2021-08-16 15:08] SeanCurtis-TRI commented on #15616
Here's a wild and crazy alternative: delete the name entirely.

I think the field name was another example of speculative coding not living up to the promise. It really only makes sense if you have a vector of fields and you need to distinguish they by name. As it is, every field we have is given a clear name as a member of a struct/class or parameter. As far as I'm aware, we have no code that act

[2021-08-16 15:37] amcastro-tri commented on #15616
ah, I like that idea much better. +1 to @SeanCurtis-TRI's wild crazy idea.

[2021-08-16 16:57] DamrongGuoy commented on #15616
This is the code that depends on it.
[code]
When I make OKR presentation, I have a problem that Paraview will treat different fields with different names (pressure vs. pressure(Pa)) in different ways.

I have updated the Requirement Specification with more explanation and a picture to make this point clearer. PTAL.

In my opinion, names and units are very important. NASA once lost a spacecraft bec

[2021-08-16 17:16] SeanCurtis-TRI commented on #15616
So many thoughts:

1. The function is already asking for a rather arbitrary "title". Why not ask for a VTK-friendly field name? Why not use the title itself? The *caller* knows what kind of field they have and can provide any label necessary.
2. Names and units *are* important. Our fields are all named and documented as members of classes and function parameters. Sadly, string values will not stop

[2021-08-16 20:17] DamrongGuoy commented on #15616
@SeanCurtis-TRI, thank you.  You have a good point that we can fix the problem from Paraview side as well.  I'll update the requirement specification later.

[2021-08-16 21:20] BetsyMcPhail commented on #15606
tarball is available here: https://drake-packages.csail.mit.edu/drake/rt/drake-python3.7-0.33.0-1.tar.gz

[2021-08-16 21:21] BetsyMcPhail commented on #15606
@jwnimmer-tri I'm happy to do some testing if given some direction.

[2021-08-16 21:28] BetsyMcPhail commented on #15606
As a note to myself, the python3.7 instance on AWS (currently stopped) was used to produce the tarball

[2021-08-17 13:50] amcastro-tri commented on #15616
I agree writing VTK files is a different issue, separate from Drake internals.
FYI, something like this would satisfy most (all?) of our needs for debugging @DamrongGuoy?: https://mjmorse.com/blog/vtk-writer/  The API looks nice and it allows you to name fields separately and even write several ones into a single file.

[2021-08-17 15:06] jwnimmer-tri commented on #15606
I don't think I need to test anything, but maybe @RussTedrake wants to?

[2021-08-17 15:15] SeanCurtis-TRI opened #15619 "DRAKE_DEPRECATED bleeds extra quotes into Doxygen"
## Problem

To conform to style guide constrains (80 columns) it is common to spell a long deprecation message over several implicitly concatenated strings. For example, [`SceneGraph::get_pose_bundle_output_port()`](https://github.com/RobotLocomotion/drake/blob/5c7f033bdd492bcf239edfe2500fd5cbc342b666/geometry/scene_graph.h#L337-L344):

[code]

It appears doxygen doesn't handle this practice with

[2021-08-17 15:16] SeanCurtis-TRI commented on #15619
@jwnimmer-tri I've taken the liberty to assign this to you, at least in the hopes of it being dispositioned properly. My best effort at assigning labels may also require correction.

[2021-08-17 15:29] jwnimmer-tri commented on #15619
I noticed this as well, a couple months ago.  My disposition at the time was "not worth spending any time on".  I suspect we best we could do is either:

(1) Post-process Doxygen's HTML output with a regex, to strip out the extra quotes.

(2) Change our line wrapping custom for these to remove the hard linebreaks (and still somehow placate the linter).  The outermost quotes would remain, but the i

[2021-08-17 15:35] SeanCurtis-TRI commented on #15619
I'm content with "not worth spending time on" as a resolution today as well. It's a minor symptom at worst and it'll disappear and reappear erratically in the documentation (following the vagaries of deprecation). The actual deprecation message isn't rendered any less clear. I just felt bad that I hadn't noticed in the past and didn't have any expectations to see that odd formatting.

[2021-08-17 17:25] xuchenhan-tri opened #15620 "Deformable free motion and post-contact update needs to be compatible"
The deformable state update consists of two phases:
1. a "free motion" update where the effect of contact forces is temporarily ignored, followed by
2. a "post-contact" update where the result of the contact solver (in particular the post-contact velocity) is propagated to the rest of the state.

We need to ensure that the integration schemes used in these two phases are compatible. Currently, the

[2021-08-17 18:10] jwnimmer-tri commented on #15604
As with gradientMatrixToAutoDiff, this function is _also_ unused within Drake and Anzu.  Why not deprecate for removal (vs rename) likewise?

[2021-08-17 18:21] sherm1 commented on #15604
Great, will do.

Q: what is the best strategy for pain reduction in Anzu? Should I merge the new names first without deprecating the old ones so that we can convert Anzu first, then follow up with non-disruptive deprecations?

[2021-08-17 18:27] jwnimmer-tri commented on #15604
That's a fine plan, but it's really just up to you.  If you're making the Anzu PR(s) yourself, then you can choose the way that's easiest for you.  If you're going to try to recruit a buddy to do the Anzu PRs alongside you, then you can choose between the two of you what's easiest.

[2021-08-18 01:00] RussTedrake commented on #13038
For a more mature testing strategy, I'm currently trying:
- Loading `meshcat.Viewer()` directly in `node.js`, so that I can provide a test utility that connects to my C++ websocket server and checks for certain conditions to be met (e.g. that `set_property('/Background', 'visible', false)` has the desired result.  This seems the ideal in terms of verifying correctness.  It has some immediate chall

[2021-08-18 01:21] jwnimmer-tri opened #15623 "Deprecate and remove jsoncpp external"
We had `@jsoncpp` in our workspace for use by the OSPRay renderer, but as of #14339 it seems to be unused now.  We should deprecate it in the workspace, and remove it from the Ubuntu and macOS setup scripts.

[2021-08-18 03:06] DamrongGuoy commented on #15616
Thanks for telling me about vtk-writer. I'm not aware of it.  I'll let @rpoyner-tri the assignee of this issue check it out.

[2021-08-18 16:21] RussTedrake commented on #13038
Test strategy update:  I've got the following working well with a minimal nodejs setup:
[code]

[2021-08-19 15:12] edrumwri opened #15627 "MBP segfaults on computing reaction forces when all joints are welds"
Following code triggers it:

[code]

Backtrace:

[code]

[2021-08-19 16:22] #15569 closed

[2021-08-19 16:38] sherm1 commented on #15627
@amcastro-tri would you take a look at this please? It appears that the ArticulatedInertia calculation barfs when there is no articulation!

[2021-08-19 17:00] BetsyMcPhail opened #15628 "pip install: Investigate wheel size"
The current drake wheel is about 164M wheel. Based on initial reading of [docs](https://pypi.org/help/#file-size-limit), pypi requires < 100M (compressed size).

There are three avenues we could take to solve this:

1. Prune some examples/models from the wheel. Will need to ask appropriate developers what is required or could be removed.
2. Ask pypi for a quota increase
3. Create a separate wheel

[2021-08-19 17:01] BetsyMcPhail commented on #15628
Request from @jwnimmer-tri via Slack :

@mwoehlke-kitware  could put together a summary of what each portion of the whl approximately costs us as measured by the compressed size, e.g., libdrake.so, any other shared libraries, examples models, manipulation models, license texts, etc.

[2021-08-19 17:07] BetsyMcPhail commented on #15628
From meeting on 8/19

The first task is to audit the size of individual components  to create an inventory of compressed size of subdirectories within `examples/`.

We should also consider that some models are only used at runtime. It may be possible to include only those for the first release.

[2021-08-19 17:12] BetsyMcPhail opened #15629 "pip install: check if we can put both drake and pydrake modules in the same wheel."
Request from [slack](https://drakedevelopers.slack.com/archives/C028F9T6MSM/p1629383336064900)

Working towards #1183

[2021-08-19 17:13] BetsyMcPhail opened #15630 "pip install: Create wheel for Python 3.7"
Need to build a wheel on Ubuntu for a different version of Python (e.g. 3.7)

The goal, in theory, is to use Bionic (3.6) to build wheels that can target Focal (3.8) or Fedora (3.7)

Can use the https://github.com/RobotLocomotion/drake-python3.7 repo as a guide to what may need to be changed to specify the Python version.

Working towards #1183

[2021-08-19 17:26] BetsyMcPhail opened #15631 "pip install: Consider renaming wheel from pydrake to drake"
`pydrake` has already been taken on pypi.

[Slack Conversation](https://drakedevelopers.slack.com/archives/C028F9T6MSM/p1629301305056000)

[Another Slack Conversation](https://drakedevelopers.slack.com/archives/C3YB3EV5W/p1629315725025600)

Working towards #1183

[2021-08-19 17:38] BetsyMcPhail opened #15632 "pip install: License notices"
From @jwnimmer-tri on [slack](https://drakedevelopers.slack.com/archives/C028F9T6MSM/p1629220550048100):

Another (non-critical-path) task for this project is license notices.  For externals that were previously shared libraries from Ubuntu, which we are now linking statically, if their license requires a notice file (and most common licenses would do so), we need to collect those upstream notices

[2021-08-19 17:45] BetsyMcPhail opened #15633 "pip install: Workaround LCM error on import pydrake.all"
`import pydrake.all` is currently failing with error:

[code]

On [Slack ](https://drakedevelopers.slack.com/archives/C028F9T6MSM/p1628197575035800?thread_ts=1628196180.033800&cid=C028F9T6MSM), @jwnimmer-tri noted that:

Great!  The import drake is due to
... "These lcm messages remain a problem:    drake.lcmt... lcmtypes"_ ...
https://github.com/RobotLocomotion/drake/issues/1183#issuecomment-8587

[2021-08-19 17:48] BetsyMcPhail opened #15634 "pip install: Acceptance tests"
From [Slack](https://drakedevelopers.slack.com/archives/C028F9T6MSM/p1628777843040700):

References to some good pydrake acceptance tests that we should run on the whl.

As in, manually copy these py files into some test image that has the whl installed, and python3 my_test_prog.py.
No need to automate any testing yet.
https://github.com/RobotLocomotion/drake-external-examples

https://github.com/

[2021-08-19 17:49] BetsyMcPhail opened #15635 "pip install: Document pypi publication process"
Working towards #1183

[2021-08-19 17:51] BetsyMcPhail opened #15636 "pip install: Upstream drake.patch"
Link to current patch https://github.com/RobotLocomotion/pip-drake/blob/master/image/pip-drake.patch

[Slack conversation ](https://drakedevelopers.slack.com/archives/C028F9T6MSM/p1629215811045000)

Working towards #1183

[2021-08-19 17:55] BetsyMcPhail commented on #15631
As discussed at meeting on 8/19, the first step is for @mwoehlke-kitware to ensure we have `drake` name on pypi. Perhaps using a placeholder wheel with just a README.

[2021-08-19 18:10] jwnimmer-tri commented on #15628
Per slack, we found that dropping the `*.png` texture files from the YCB models and the Atlas model was sufficient to bring us under the 100 MiB limit for now.

I think it's fine to ship our initial release without those.  Not all of our users' code will work, but the files are so astoundingly big that there is no reasonable way we can include them in pip, even as a separate whl.  If we need them

[2021-08-19 18:16] jwnimmer-tri commented on #15628
Hmm, can't assign to @mwoehlke-kitware yet.  For now I'll assign @BetsyMcPhail to everything.  It's fine to re-assign later once we have @mwoehlke-kitware permissions set up properly.

[2021-08-19 18:43] mwoehlke-kitware commented on #15635
So... I'm not even sure if there's a task here. Here's the complete publication process:
[code]
I've been using the drake-robot account, the credentials for which are on AWS. Long term, however, whoever is going to "own" this should possibly have a personal account on PyPI.

[2021-08-19 18:53] jwnimmer-tri commented on #15635
(1) We need a log notebook of how all of the _initial_ setup for the Drake pypi project occurred, i.e., how we claimed the name, any settings we changed, which account(s) have permissions, etc.  Maybe it's small, but it's non-zero.

(2) Credentials should live in the LastPass vault.  Toffee can help facilitate that.

(3) Even if the instructions are a one-liner, we still need to write them down.

[2021-08-19 18:54] jwnimmer-tri commented on #15635
For (1) we have a "Drake Build & Release" google drive, which might be a good home.  I'll make sure you're invited to that, in case you're not already.

[2021-08-19 19:02] mwoehlke-kitware commented on #15628
Once we sort out how to better ship models/textures, we should possibly consider applying that to *all* such content. There's at least one .stl that's another ~8M compressed and I think we can gain another ~25M (down to ~65M) if we can trim "everything".

The best way to see what's "most offensive" is to use `unzip -lv the.whl`. To see individual files, pipe through `sort -n -k3`. To see how many

[2021-08-19 19:09] mwoehlke-kitware commented on #15628
Here are some insights (all sizes in *compressed* bytes):
[code]

`manipulation/models` is literally almost ***half*** the wheel. `examples` is another quarter.

[2021-08-19 19:32] mwoehlke-kitware commented on #15635
Upload something to it.

None, so far. The first uploader becomes the initial owner who, in our case, should probably add other owners. (OTOH, that's drake-robot, which is usable by multiple people. OTGH, someone probably ought to change the password to that — to anything with shared access, really — any time someone leaves the group.)

This is probably going to be fluid.

Should this start with "

[2021-08-19 19:36] jwnimmer-tri commented on #15635
I don't even know what `drake-robot` is, so explaining that in the document would be a start.  (Or linking to another document, in case the term is already defined elsewhere and I've missed it.)

[2021-08-19 19:38] mwoehlke-kitware commented on #15356
Okay, given that the current approach (n.b. #15636) seems to be hammering a different hard-coded location, is this still relevant?

[2021-08-19 19:42] mwoehlke-kitware commented on #15635
https://pypi.org/user/drake-robot/

[2021-08-19 20:27] jwnimmer-tri commented on #15356
Yes, in any case I think a pip-specific customization will end up as the answer here.  I'm OK if you want to close this issue.

[2021-08-19 21:51] calderpg-tri opened #15638 "Rename FixedOffsetFrame::SetPoseInBodyFrame() and add GetFixedPoseInParentFrame()"
From conversation with @joemasterjohn-TRI, `FixedOffsetFrame::SetPoseInBodyFrame()` actually sets the pose in the _parent_ frame, not the body frame, and should be named`SetPoseInParentFrame()` (and corresponding documentation update).

To effectively use `SetPoseInParentFrame()`, a method `GetFixedPoseInParentFrame()` should be added so that the pose in parent frame can be easily determined, rath

[2021-08-19 23:43] DamrongGuoy commented on #15555
Does #15610 fix this issue? Or we need more PRs next week to fix it?

[2021-08-19 23:56] soonho-tri commented on #15573
=> https://github.com/RobotLocomotion/drake/pull/15612

[2021-08-20 02:50] EricCousineau-TRI opened #15640 "pydrake: GetPropertyOrDefault() error, "Requested 'double', but found 'drake::pydrake::Object'""
Per Slack: https://drakedevelopers.slack.com/archives/C2WBPQDB7/p1629426512085800?thread_ts=1629402163.077600&cid=C2WBPQDB7

Found by @Brian-Acosta; reproduction code here:
https://github.com/DAIRLab/dairlib/tree/5c2ef7c3291e4c8cad00f11f9547e13153a2603a/examples/cubesim

Seems to be setting values with doubles, but instead getting cryptic errors like:
[code]

[2021-08-20 02:52] EricCousineau-TRI commented on #15640
Ported repro to Drake:
https://github.com/EricCousineau-TRI/drake/tree/issue-15640-wip/tmp (commit: ff73f75cab)

[2021-08-20 03:02] EricCousineau-TRI commented on #15640
K, if I register `Value[double]` (commit: 97744bc712), I see a better error message:
[code]

So it seems like that we namely need `Value[float]`.
Then that last error was just b/c minor typo in repro.

[2021-08-20 03:24] EricCousineau-TRI commented on #15549
Can address, but would prefer to defer until late September, if possible.

[2021-08-20 09:10] RussTedrake commented on #15549
I was really hoping to land it before September (I asked for it in the last release).  The psets that found the issue will happen in early September.  Might someone else take a crack at it?

[2021-08-20 12:44] #15578 closed

[2021-08-20 12:44] #15583 closed

[2021-08-20 12:44] #15623 closed

[2021-08-20 14:31] amcastro-tri commented on #15627
Thanks for reporting. This is an interesting use case, essentially you are trying to compute the reaction forces in the "static condition" imposed by these welds. Very nice.
Thank you for providing the unit test, I will definitely use it in the fix PR.

[2021-08-20 17:32] SeanCurtis-TRI opened #15643 "[pydrake] Unable to register hydroelastic geometry with SceneGraph directly"
This is related to the general sparsity of pydrake bindings.

The only way to get hydroelastic geometries in `SceneGraph` (in `pydrake`) is to parse and SDF/URDF with the appropriate tags defined. One cannot use the public `SceneGraph` api to do it directly. It *would* look like (e.g.,) this:

[code]

Or, doing it by hand:
[code]

The utility functions for defining hydroelastic properties (and gen

[2021-08-20 17:38] rpoyner-tri commented on #15616
First, +1 to Sean's idea of removing the names. Second, it seems there is certainly some way to fix names on the Paraview side, since it is python-scriptable. For example, there is [this somewhat related issue](https://public.kitware.com/pipermail/paraview/2015-October/035386.html). Third, the file format emitted by mesh_to_vtk.{h,cc} is ASCII, so in the short run, we could repair data files direc

[2021-08-20 19:46] #15089 closed

[2021-08-21 02:40] RussTedrake commented on #13038
Tentative plan for transitioning from [python](https://drake.mit.edu/pydrake/pydrake.systems.meshcat_visualizer.html#pydrake.systems.meshcat_visualizer.MeshcatVisualizer) to c++:
- bind `drake::geometry::Meshcat` to `pydrake.geometry.Meshcat`.  There is no conflict here.
- bind `drake::geometry::MeshcatVisualizer` to `pydrake.geometry.MeshcatVisualizerCpp` to avoid any naming conflict, even with t

[2021-08-22 11:54] RussTedrake commented on #15549
@ToffeeAlbina-TRI -- can you please find someone to take this?

[2021-08-22 21:38] sherm1 commented on #15604
After looking at the call sites in #15615, Jeremy wrote:

I am neutral about short-vs-long names here but would like comment from users. I picked the long, more-explicit names because I think AutoDiff is a source of confusion for Drake users (and code readers) so being explicit would outweigh the inconvenience. But I'm not sure.

Thoughts please @RussTedrake @hongkai-dai @edrumwri @rpoyner-tri or

[2021-08-22 22:06] RussTedrake commented on #15604
I favor the shorter names, too.
- `ExtractGradientMatrix` seems clear enough.
- `ExtractValueMatrix` would be fine, but keep in mind that we already have `ExtractDoubleOrThrow` which by the way tends to confuse me (#12650) and for AutoDiff the [docs](https://drake.mit.edu/doxygen_cxx/namespacedrake.html#aa9721f3a5897b05ef2168f7a6d886dc8) actually say "never throws".   So I think your proposed meth

[2021-08-22 22:24] hongkai-dai commented on #15604
I think `InitializeAutoDiffFromValueMatrix` and `InitializeAutoDiffFromValueAndGradientMatrix` is way too long. I agree with Russ that `InitializeAutoDiff` is clear enough, with a single argument and a 2-argument version.

If we want to make it even shorter, I think we can remove `Matrix` from the name `ExtractValueMatrix` and `ExtractGradientMatrix`.

[2021-08-23 16:42] edrumwri opened #15652 "Better diagnostics for broken libclang"
Commit bfe196, latest install_prereqs.sh has been run, this is on Ubuntu 20:

[code]

Looks like the error has something to do with Eigen, not python.

[2021-08-23 16:43] edrumwri commented on #15652
Feel free to retitle this generically titled issue.

[2021-08-23 16:53] DamrongGuoy commented on #15616
@rpoyner-tri .  Thank you for the ideas and the pointer to that [Kitware issue](https://public.kitware.com/pipermail/paraview/2015-October/035386.html).

I let you schedule the work freely after the mid-September paper deadline.

[2021-08-23 18:25] #13735 closed

[2021-08-23 23:12] jwnimmer-tri commented on #15652
If fact that `#include <new>` (a C++ standard library header) is failing indicates that something is seriously wrong with the compiler when extracting documentation comments.  It is not specific to Python nor Eigen; those are just the first thing it happens to hit.

I will see if I can reproduce the problem, but given that Drake CI is passing, this probably indicates a machine-local configuration

[2021-08-24 07:30] jcarpent commented on #12645
@RussTedrake We would also like to integrate Pinocchio within Colab/Binder with Meshcat viewer. Did you manage to integrate the solution into Drake framework?
@duburcqa Did you manage to also provide this portage within your framework?

[2021-08-24 11:46] marcoag commented on #15024
Current release of assimp fails to handle empty XML tags. Even though this was fixed already here: https://github.com/assimp/assimp/pull/2727, the latest release is older than the fix and it is not included. Some of the collada files from fuel have some empty information tags at the top, i.e.:

[code]
They mainly seem to be there due to unfilled extra information that is not very relevant to the f

[2021-08-24 15:09] BetsyMcPhail opened #15655 "pip install: Fix issues with auditwheel"
The following error happens after 'pip install drake'

[code]

[Slack Conversation](https://drakedevelopers.slack.com/archives/C028F9T6MSM/p1629390122069200)

Working towards #1183

[2021-08-24 15:24] edrumwri commented on #15652
Thanks for the help! Please find responses inline below:

No.

g++-7 and g++-9 are installed; latter is default.

clang++-10, -9, -8, and -6. 10 is default.

[code]

Yes- apriltag library & tools, Franka Panda library (libfranka) & tools, LCM, librealsense2, opencv4, openmp, google benchmarks library, glog.

[2021-08-24 16:05] jwnimmer-tri commented on #15652
I haven't been able to reproduce it yet, even after installing those packages.  (However, I wasn't able to install clang-6 -- that package is not available in Focal, as best I can tell.)

Here's a patch that will dump out the include paths in use while libclang is trying to extract documentation:

[code]

When I add that to my successful Focal build, here's the relevant subset of paths that appear

[2021-08-24 16:21] edrumwri commented on #15652
Ah, I think this points to the culprit:

[code]

gcc-10 was installed on this machine. My apologies for not seeing this when looking for g++ packages.

[2021-08-24 16:35] jwnimmer-tri commented on #15652
That's it.  It seems you have `gcc-10` installed, but not `g++-10`.  Clang always tries to use the most recent GCC when looking for library headers, so it sees 10 and chooses that.  It didn't realize that only the C headers were available in 10, but the C++ headers were missing.

I think if you either additionally install `g++10`, or else uninstall `gcc-10`, then you'll be fine.

I looked into thi

[2021-08-24 17:16] sherm1 commented on #15604
OK, here is an updated proposal with short names:

old name | new name | notes
-------- | -------- | --------
autoDiffToGradientMatrix | ExtractGradient
autoDiffToValueMatrix | ExtractValue
initializeAutoDiffGivenGradientMatrix | InitializeAutoDiff(value, gradient)| fix output parameter
initializeAutoDiff | InitializeAutoDiff(value[, num_derivatives]) | fix output parameter
initializeAutoDiffTuple

[2021-08-24 17:26] sherm1 commented on #12650
I think we should close this issue. There are good arguments made above for the current behavior of ExtractDoubleOrThrow() applied to an AutoDiffXd. An additional one is that it is very cheap, while scanning the gradient for zeroes is much more expensive. The method DiscardZeroGradient() is already available with the desired semantics -- we should use that when it is suitable. #15615 will clean up

[2021-08-24 17:38] jwnimmer-tri commented on #12650
Given the above discussions, it seems like the distinction between the two functions was confusing enough that we should at least  cross-reference the two functions in Doxygen (and explain their distinction) before we close this issue.

[2021-08-24 18:09] jwnimmer-tri commented on #15652
I think the action for Drake here is to try to produce a better error message.

[2021-08-24 18:10] mwoehlke-kitware commented on #15635
Here's an attempt. I'm not sure where this should "live" (new document?).

----

1. Build the wheels using the `build-wheels.sh` script from [pip-drake](https://github.com/RobotLocomotion/pip-drake). This will copy the built wheels to the current directory on the host machine.
2. Upload the wheels using `twine upload some.whl` on a machine with a reasonably recent twine (Bionic is too old) using a

[2021-08-24 18:14] sherm1 commented on #12650
Yes, good point. I'll do that in #15615 along with DiscardGradient() which is also a near-miss.

[2021-08-24 18:17] jwnimmer-tri commented on #12650
That PR is already a bajillion lines -- I'm nearly to the point of refusing the review and insisting your break it up (one PR with the deprecations of dead code, one PR to add the new functions and port one or two folders, one+ PRs to port the balance of the tree).  Adding even more novelty to what should be a boilerplate PR is not going to help anyone.

[2021-08-24 18:34] sherm1 commented on #12650
The vast majority of the code changes are the call sites. I could leave those for later but including them is what made it obvious the new names were too long. Happy to defer most of those if you think it will help you but I want to sort out the new signatures, documentation, and cross-references in one PR.

[2021-08-24 18:41] jwnimmer-tri commented on #12650
My proposal in my prior post was:

(1) One PR with the deprecation of dead code.
(2) One PR to add the new functions and port one or two folders.
(3) One+ PRs to port the balance of the tree.

The "the new signatures, documentation, and cross-references in one PR" would all be part of (2).  I only got though about 50% of the PR so far, and it was pretty clear after only a couple folders alone that

[2021-08-24 18:57] EricCousineau-TRI commented on #15549
Per convo w/ Toffee, I'll go ahead and do it (simplest that way).

[2021-08-24 20:04] #15640 closed

[2021-08-24 20:23] edrumwri commented on #15652
Agreed. Removing gcc-10 hasn't yet fixed it- the headers are sticking around using the patch you gave me- but I think I'm on my way to getting it corrected. Thanks for your help @jwnimmer-tri

[2021-08-24 20:29] edrumwri commented on #15627
Hey @amcastro-tri can you provide an ETA on fixing this? We're depending on this feature (computing reaction forces for static bodies) to test a calculation. I don't feel confident providing a fix for this.

[2021-08-24 20:32] jwnimmer-tri commented on #15652
Ah, okay.  If it helps, these was the "undo" command I used locally, to remove the effects of `g++10` being installed:

`sudo apt remove cpp-10 g++-10 gcc-10 libasan6 libgcc-10-dev libstdc++-10-dev`

[2021-08-24 22:33] EricCousineau-TRI opened #15660 "plant: Should provide more convenient access to scoped names"
Aiming to focus on this after September.

From convo w/ @calderpg-tri, usage of `drake::multibody::parsing::GetScopedFrameByName` is non-discoverable, and could possibly live in `MultibodyPlant` itself in some form.
Personally, I'm ambivalent, but it would make easier migration of use sites.

[2021-08-24 23:00] calderpg-tri commented on #15660
To expand on our conversation, if we intend scoped frame and body names to be first-class queries, they should be as discoverable as the current `Mbp::Get{Body,Frame}ByName` methods, rather than being shunted off somewhere else.

A related topic in this conversation is that scoped frames are perhaps most important in terms of interop with other tools, namely ROS, which use string frame names. For

[2021-08-25 11:21] RussTedrake commented on #15604
I just took on more look to decide if I like `ExtractDouble` instead of `ExtractValue`.  At very least I would hope that the relationship between `ExtractValue` and `ExtractDoubleOrThrow` is clearly documented (perhaps one should even call the other).  The choice "value" comes from Eigen::AutoDiffScalar, but it's not a perfect match with the Value concept in Drake.  Conversely, the choice "gradien

[2021-08-25 11:37] RussTedrake commented on #12645
@jcarpent -- see also #13038, which is now almost complete.  There are a lot of details and moving part that I could help you understand if you like.
Long story short:
- I've been using Meshcat successfully on Colab for a long time now; it can work quite well.  This remaining issue was only about embedded colab into the actual notebook as a iframe.  I have not gotten it working, mostly because mos

[2021-08-25 11:59] jcarpent commented on #12645
Dear @RussTedrake,

Thanks a lot for the clear and detailed answer.
Having your feedback on Colab will for sure help us to not stuck into the same local minima.
I did not know about Deepnote, I will have a look into it.

I'm also following #13038: this is a very interesting feature that may be useful to a lot of people.
Could we imagine transferring it into an independent package `meshcat-cpp`? I

[2021-08-25 12:49] RussTedrake commented on #12645
I definitely considered `meshcat-cpp`, but decided against in the first pass to streamline things.  It currently depends on Drake's geometry types and rigid transform type, (plus build system / CI / helpers for memory/exception management, etc), as I didn't want to have to reinvent them for a more general implementation.

[2021-08-25 12:55] amcastro-tri commented on #15627
I do not have an ETA since I don't really know what the underlying problem is. I might be able to say more today evening. For sure I will work on this on Thursday morning.

[2021-08-25 12:55] jcarpent commented on #12645
Perfect. I totally understand.
Do not hesitate to ping us if you need support.

[2021-08-25 15:27] soonho-tri opened #15662 "Invalid read error from IBEX"
@liangfok reported it. Related CI failures:
 - https://drake-cdash.csail.mit.edu/test/360401291
 - https://drake-cdash.csail.mit.edu/test/360448797

@soonho-tri will patch IBEX and ask @BetsyMcPhail  to upload a new `.deb`.

[2021-08-25 15:39] jwnimmer-tri commented on #12650
Jeremy writes:

Sherm writes:

As such, let's reassign to +@sherm1 -@jwnimmer-tri.

[2021-08-25 15:46] edrumwri commented on #15652
That did it. Thanks Jeremy!

[2021-08-26 13:04] RussTedrake opened #15669 "Builder::AddSystem should return System& (not System*)"
`DiagramBuilder::AddSystem` returns a `System*`, but `AddMultibodyPlantSceneGraph` and `DrakeVisualizer::AddToBuilder` and others return `System&`.

The consensus on slack is that all of these should return `System&`, and that the Builder::AddSystem is simply a difficult-to-deprecate hold-over.  We also agree that it causes friction for users.  (Speaking for myself, it's been a long time since I w

[2021-08-26 19:22] TheCynosure opened #15673 "Tagging Dependencies"
I would like to use Drake but I am only able to use tagged code. There are a handful of dependencies that are untagged and are forks, so I cannot file an issue on their repository. These are:

1. Optitrack_driver: https://github.com/RobotLocomotion/optitrack-driver.
2. Styleguide: https://github.com/RobotLocomotion/styleguide
3. Voxelized_geometry_tools: https://github.com/ToyotaResearchInstitute/

[2021-08-26 20:44] rpoyner-tri opened #15674 "tamsi usage not safe for thread-per-context parallel simulation"
Noticed while working on https://github.com/RobotLocomotion/drake/pull/15644: Integration of TamsiSolver into MultibodyPlant is not thread-per-context safe.

For a quickly hacked up failing test, see here: https://github.com/rpoyner-tri/drake/tree/tamsi-thread-hazard
Grab the branch and run it with:
[code]