[2016-05-04 18:41] jamiesnape commented on #2257
Build history is here: https://drake-jenkins.csail.mit.edu/job/experimental/compiler=clang,label=linux/

[2016-05-04 18:41] jamiesnape commented on #2257
Also at the end of the console log:
[code]

[2016-05-04 18:46] billhoffman commented on #2257
To get to the build history, you go to the experimental jobs here: https://drake-jenkins.csail.mit.edu/job/experimental/.   But do not use the history that you see at that level there are currently no cdash links.   You have to click on the platform you want in the matrix build from here: https://drake-jenkins.csail.mit.edu/job/experimental/, like this https://drake-jenkins.csail.mit.edu/job/exper

[2016-05-04 18:51] wxmerkt opened #2264 "drake.mit.edu 404s"
Hi @RobotLocomotion/kitware,
When opening ``drake.mit.edu`` a 404 is returned. ``dig drake.mit.edu`` shows that it's CNAMEd to ``http://robotlocomotion.github.io/``, which works.

Is it possible that the domain [hasn't been associated properly with GitHub Pages](https://help.github.com/articles/using-a-custom-domain-with-github-pages/)?

- Wolfgang

Related issue: https://github.com/RobotLocomotio

[2016-05-04 18:54] liangfok commented on #2257
Today I Learn (TIL). Thanks!

[2016-05-04 20:07] liangfok commented on #2255
So far, I've heard that `T` could potentially be:

- [ ] A scalar value like `double`
- [ ] A automatically differentiable object like `AutoDiffScalar<Eigen::Matrix<double,Eigen::Dynamic,1>>`.
- [ ] A polynomial like `Polynomial<complex<double>>`

Any others?

[2016-05-04 20:56] amcastro-tri commented on #2255
a `TrigPoly` and again I think there will be many others in the future. I would love to try to pass [chaotic polynomials](http://web.mit.edu/mobility/publications/VSD%20Kewlani.pdf) through my system myself (that link has application to V&V for vehicles!!)

[2016-05-04 21:04] liangfok opened #2265 "CI Should Verify PR Code Passes Clang-Format Unscathed"
CI should run `clang-format` on a copy of each file in a PR and issue an error if the copies end up being different from the original files since that implies a style violation.

This is important because is reduces the probability of a future PR including unrelated style changes due to a previous PR not passing the `clang-format` test.

[2016-05-04 21:10] david-german-tri commented on #2265
"CI should run clang-format on a copy of each file in a PR and issue an error if the copies end up being different from the original files since that implies a style violation."

This is not true.  `clang-format` often changes compliant code into other compliant code, and occasionally turns compliant code into an unreadable hash.  IMO, it's a useful tool but not ready for CI enforcement.

[2016-05-04 21:12] AndreasMegatranus commented on #2006
I am having a naming type of issue now.

The example code for runAtlasManip has a call

plan_settings =
QPLocomotionPlanSettings.fromQuasistaticQTraj(r,PPTrajectory(qtraj_pp),...
         struct('bodies_to_track',[pelvis, r_hand],...
                 'quat_task_to_world',repmat(uniformlyRandomQuat(),1,2),...
                 'translation_task_to_world',randn(3,2),...
                 'track_com_tr

[2016-05-04 21:13] liangfok commented on #2265
The problem is I, and I believe others, run `clang-format` without carefully studying everything it changes. Should we stipulate that any code that `clang-format` doesn't like be surrounded by

[code]
comments?

[2016-05-04 21:16] david-german-tri commented on #2265
I think that's a good idea for code that clang-format ruins (rare).  For code it transforms in trivial ways, I think `clang-format`-using authors such as yourself should feel free to make the change, but we don't need CI to force everyone else to do the same.

[2016-05-04 21:17] jwnimmer-tri commented on #2265
I am very happy to put the responsibility of verifying clang-format propriety on the person who runs it. I don't think that developers should be allowed to blindly trust it.  They need to own every commit they make.

I not infrequently clang-format, decide that only ~75% of its fixes are worth committing, and then back out the unwanted 25%.  This is really easy in emacs (ediff-buffer).

Other time

[2016-05-04 21:26] liangfok opened #2266 "Drake Wiki Needs More Details on How To Use Clang-Format"
Since `clang-format` is a recommended tool for enforcing code style compliance, we need to tune it to make ensure it satisfies Drake's style guide 100% of the time.

We then need to update Drake's wiki with documentation on `clang-format` best practices and how to integrate with our IDEs.

[2016-05-04 21:26] liangfok commented on #2265
OK I'll close this issue and open https://github.com/RobotLocomotion/drake/issues/2266.

[2016-05-04 21:26] #2265 closed

[2016-05-04 21:32] billhoffman commented on #2257
I think we learned as well.   The CDash links need to be more prominent on Jenkins, and I would like to get them back into the PR as well without adding too many bot comments.

[2016-05-04 21:33] david-german-tri commented on #2257
OK, @liangfok's legitimate build breakage is explained, but spurious errors of this kind continue to crop up, so the issue remains open.  Recent example:

https://drake-jenkins.csail.mit.edu/job/experimental/1228/

[2016-05-04 21:33] jamiesnape commented on #2264
Should be fixed now. We had to remove the CNAME file until MIT finished setting up the domain.

[2016-05-04 21:34] billhoffman opened #2268 "modify ctest -S scripts to return only values from the script and not non zero from other stuff"

[2016-05-04 22:26] #2264 closed

[2016-05-04 22:26] wxmerkt commented on #2264
Thanks @jamiesnape! 👍

[2016-05-04 22:49] patmarion commented on #2251
Looks like build dependencies (headers, libraries) that must be built before drake.  Things like spotless and iris are loadable in Matlab at runtime, but not build dependencies.  Others, like director and signalscope, are visualization tools, but drake does not need them at build time.

[2016-05-04 22:49] hongkai-dai commented on #2006
I do not see a good way to get around this. In `findLinkID` function, we can specify which robot we are using, but I believe when we write `QPLocomotionPlanSettings`, our mental model is that there is just one single robot. (This code is used in DRC, in which you have only one Atlas). @AndreasMegatranus you could modify the code in `QPLocomotionPlanSettings` to specify which robot you are using. @

[2016-05-04 22:56] patmarion commented on #2244
VTK has support for double precision coordinate representations.  Unfortunately many of it's readers, especially the OBJ reader, are old and not great implementations, and will use floats that lose precision of the files.  In past projects using UTM coordinates I have always pre-processed data to subtract an origin, and stored the origin as metadata.

[2016-05-04 23:15] jwnimmer-tri commented on #2251
Aha, that sounds plausible.  For matlab libraries (bertini, spotless, iris, etc) those could / would be used by tests though, yes?  So the list is of the build dependencies, but not the test dependencies?

I can work on a PR to clarify the code / commenting of the `CMakeLists.txt` to make this a bit clearer to new readers.

[2016-05-05 05:31] liangfok commented on #2256
This issue was resolved in commit https://github.com/liangfok/drake/commit/7dbd661dd17e3097f2cea453eea414f90a1297fd.

Here's a video:

[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/3nyq1Ew_hZE/0.jpg)](https://www.youtube.com/watch?v=3nyq1Ew_hZE)

I'll clean up the code and submit a PR soon. However, PR  https://github.com/RobotLocomotion/drake/pull/2253 should probably get merged first since

[2016-05-05 13:58] amcastro-tri commented on #2255
I just realize I like `T` better. My reason is pretty simple. Regarding the snippet I showed before:

[code]
If I had `S` and `Scalar` then my two vector types, `VectorXt` and `VectorXs` would have the same names!. And since our type can be quite complex (essentially a field with the operations `+` and `*`, or Abelian group I believe it's called), I think it is ok to use a generic `T`.

[2016-05-05 14:42] jwnimmer-tri opened #2269 "Fix or suppress cpplint warnings for build/include_order"
We should fix cpplint's `build/include_order` warnings throughout our code (and/or suppress them on a one-by-one-basis), and then stop suppressing the warning globally in `drake-distro/drake/CPPLINT.cfg`.  This is a break-out from #2064.

Depending on what fixing the errors looks like, we might also decide to permanently suppress this warning globally.  I will follow-up later with more specific re

[2016-05-05 14:42] jwnimmer-tri opened #2270 "Fix or suppress cpplint warnings for build/include_what_you_use"
We should fix cpplint's `build/include_what_you_use` warnings throughout our code (and/or suppress them on a one-by-one-basis), and then stop suppressing the warning globally in `drake-distro/drake/CPPLINT.cfg`.  This is a break-out from #2064.

Depending on what fixing the errors looks like, we might also decide to permanently suppress this warning globally.  I will follow-up later with more spec

[2016-05-05 14:42] jwnimmer-tri opened #2271 "Fix or suppress cpplint warnings for build/namespaces"
We should fix cpplint's `build/namespaces` warnings throughout our code (and/or suppress them on a one-by-one-basis), and then stop suppressing the warning globally in `drake-distro/drake/CPPLINT.cfg`.  This is a break-out from #2064.

Depending on what fixing the errors looks like, we might also decide to permanently suppress this warning globally.  I will follow-up later with more specific recom

[2016-05-05 14:42] jwnimmer-tri opened #2272 "Fix or suppress cpplint warnings for readability/casting"
We should fix cpplint's `readability/casting` warnings throughout our code (and/or suppress them on a one-by-one-basis), and then stop suppressing the warning globally in `drake-distro/drake/CPPLINT.cfg`.  This is a break-out from #2064.

Depending on what fixing the errors looks like, we might also decide to permanently suppress this warning globally.  I will follow-up later with more specific re

[2016-05-05 14:42] jwnimmer-tri opened #2273 "Fix or suppress cpplint warnings for readability/namespace"
We should fix cpplint's `readability/namespace` warnings throughout our code (and/or suppress them on a one-by-one-basis), and then stop suppressing the warning globally in `drake-distro/drake/CPPLINT.cfg`.  This is a break-out from #2064.

Depending on what fixing the errors looks like, we might also decide to permanently suppress this warning globally.  I will follow-up later with more specific

[2016-05-05 14:42] jwnimmer-tri opened #2274 "Fix or suppress cpplint warnings for runtime/references"
We should fix cpplint's `runtime/references` warnings throughout our code (and/or suppress them on a one-by-one-basis), and then stop suppressing the warning globally in `drake-distro/drake/CPPLINT.cfg`.  This is a break-out from #2064.

Depending on what fixing the errors looks like, we might also decide to permanently suppress this warning globally.  I will follow-up later with more specific rec

[2016-05-05 14:46] jwnimmer-tri commented on #2064
I've broken out the few remaining warnings into their own tickets, in order to share the work, and in order to better discuss resolutions to each kind of warning (because some have slightly less obvious answers).

[2016-05-05 14:46] #2064 closed

[2016-05-05 14:47] liangfok commented on #2255
+1 for `T`

[2016-05-05 14:49] david-german-tri commented on #2252
Yes, please do!

[2016-05-05 14:53] jwnimmer-tri commented on #2269
There was a discussion around clang-format and coding conventions that related to this, though I'm not immediately finding it in the logs.

I think the best approach for this issue is to teach clang-format how to properly sort our `#include` statements, and then apply it to solve this issue (probably only committing its changes to the include statements, not other random style fixes).

[2016-05-05 14:55] jwnimmer-tri commented on #2270
These should be pretty easy to fix, and uncontroversial.  Very straightforward.

[2016-05-05 14:58] jwnimmer-tri commented on #2271
These are super important and should be fixed with some priority, especially in header files.

[2016-05-05 14:59] jwnimmer-tri commented on #2272
This should be uncontroversial and should get done, but is not super important.

[2016-05-05 15:01] jwnimmer-tri commented on #2273
I am slightly sad about this warning.  I don't think it should apply to the final closing set of `}`s that end a file.  They don't aid understanding, and are just busy-work.

However, I'm not sure its worth forking cpplint in order to suppress it for that case.

One thought here is to write a python tool that applies the correct comments to close out a file, so that programmers don't have to worry

[2016-05-05 15:04] jwnimmer-tri commented on #2274
This is a tough one.  I know @sherm1 really wants to use non-const references as function parameters.  I don't think we should allow that (and neither does cpplint).

We should first decide whether we like the rule or not, and them update our cpplint integration to match that decision.

[2016-05-05 15:07] liangfok commented on #2269
Could this be it? https://github.com/RobotLocomotion/drake/pull/1977

[2016-05-05 15:10] jwnimmer-tri commented on #2269
Yup, that's the correct background discussion.  Thanks!

[2016-05-05 15:22] amcastro-tri opened #2276 "Eigen types and extensions used within Drake"
@sherm1 added:
This issue identifies several Eigen-support utilities we should have access to everywhere in Drake:
- [ ] standardized aliases for readable abbreviations of Eigen's heavily templatized objects
- [ ] enabling NaN initialization of otherwise-uninitialized objects in Debug builds
- [ ] providing convenient NaN initialization for objects that we want _always_ to initialize

@amcastro-tr

[2016-05-05 15:30] liangfok commented on #2276
I agree with this since it will prevent repetitive type definitions scattered throughout the code and standardize the name of the various vectors / matrices. I did this in a previous project [here](https://github.com/liangfok/controlit/blob/master/controlit_dependency_addons/include/controlit/addons/eigen/LinearAlgebra.hpp#L43).

[2016-05-05 16:10] sherm1 commented on #2255
I'm sold on T also.

[2016-05-05 16:15] sherm1 commented on #2274
No, I'm willing to change my ways on that. I just never knew it was a problem before!

[2016-05-05 16:21] amcastro-tri commented on #2276
Great! good to see other people are doing something similar.

[2016-05-05 16:54] jwnimmer-tri commented on #2274
Sounds promising!  (Though I don't have any immediate need to discuss; I'm happy to leave it to a PR-centric discussion or pre-discussion once it becomes relevant.)

[2016-05-05 17:07] david-german-tri commented on #2255
You've talked me out of `Scalar`, and I'm willing to accede to the majority on `T`, though I wish something more descriptive had carried the day.  (`AbelianType`?)

[2016-05-05 17:12] sherm1 commented on #2276
I like this idea. Comments:
- there is currently no drake/math but we just added drake/common. I think standard abbreviations should go there rather than split off another almost-empty directory. Drake does a *lot* of math so having a math directory doesn't really narrow things down much.
- what namespace should these abbreviations be defined in? Eigen supports inserting custom declarations into i

[2016-05-05 20:03] jwnimmer-tri opened #2279 "The 'make test' target should not upload user data to the web"
The `drake-distro/drake/Makefile`'s `make test` target should not upload user data to the web by default (https://drake-cdash.csail.mit.edu/index.php?project=Drake).  It is mean to take users' test result data and publish it for all to see without their consent.

[2016-05-05 20:05] jwnimmer-tri commented on #2224
I'm partway through fixing this in an upcoming PR.

[2016-05-05 20:10] #1811 closed

[2016-05-05 20:10] #1870 closed

[2016-05-05 20:14] david-german-tri commented on #2279
This looks pretty trivial to fix.  Testing a solution now.

[2016-05-05 20:22] liangfok opened #2280 "Needed Improvements to Drake's ROS Car Sim - Round 1"
High priority:
- [x]  Provide a sensor that publishes [nav_msgs/Odometry](http://docs.ros.org/indigo/api/nav_msgs/html/msg/Odometry.html) messages.
- [ ]  Publish a message when a collision occurs. Not sure what type yet. Maybe a custom message containing:
  1. a [geometry_msgs/Vector3](http://docs.ros.org/api/geometry_msgs/html/msg/Vector3.html) value specifying the location on the car where the

[2016-05-05 21:02] #2149 closed

[2016-05-05 21:04] liangfok opened #2283 "Build Instructions Should Be Updated to Specify Out-Of-Source Builds"
Out-of-source builds are desirable since it enables developers to maintain multiple configurations (e.g., `Debug`, `Release`, and `RelWithDebInfo`) based on the same code base. It also keeps build artifacts in a directory that's separate from the code that is version controlled, which is cleaner, requires fewer entries the `.gitignore` file, and allows us to reset our build environment by deleting

[2016-05-05 21:10] jwnimmer-tri commented on #2283
We need to be sure that CI covers this new configuration before (or concurrent with) suggesting it to developers.

And even better that updating the docs (which will certainly require some tweaks), we should just make Drake do the right thing by default, instead of telling people to toggle the options every time.

[2016-05-05 21:13] liangfok opened #2284 "Drake Documentation Should Specify Default Units and Coordinate Frames Used By Code"
It will prevent needing to include the units in variable names when they use the default units / frames.

Suggested defaults: http://www.ros.org/reps/rep-0103.html

This should go somewhere in the wiki.

[2016-05-05 22:34] #2279 closed

[2016-05-05 22:36] jwnimmer-tri commented on #2257
I suggest that someone try reverting #2239 and see if msvc-debug goes green (blue) again.  Is there a way to do that from a branch without actually reverting on master?

[2016-05-05 23:26] jamiesnape commented on #2257
Push a branch to this repo, log into Jenkins, go to one of these jobs:

[2016-05-06 13:45] amcastro-tri opened #2287 "Performance issues for c++ atlas simulation"
@sherm1 identified some possible performance bottlenecks in PR #2164 by @RussTedrake. Performance measurements where obtained with [Callgrind](http://valgrind.org/docs/manual/cl-manual.html) revealing that about 80% of the computational cost is spent within the SVD solver and in `BulletModel::closestPointsAllToAll`. In addition, the stability of the time stepping strategy forces the use of very sm

[2016-05-06 14:30] jwnimmer-tri commented on #2257
To be clear, I am hoping that @david-german-tri or @jamiesnape can try this; I wasn't actually volunteering to debug it myself, just suggesting one possibly-easy win.

[2016-05-06 14:34] david-german-tri commented on #2257
Yeah, we can also just hit the revert button on #2239 and see what happens.  I'll do that now.

[2016-05-06 14:57] patmarion commented on #2257
I'm all for testing the revert to see if that improves the situation.  But perhaps a build server expert can help explain what BAD_COMMAND means?  It seems to be a ctest error code.  I feel like no one understands the issue yet, so even if the revert fixes it, what would be the next step?

[2016-05-06 15:13] liangfok commented on #2257
If the revert fixes the problem at least we've narrowed down the number if changes that caused the problem. We can then incrementally add the changes back to see when the problem returns.

[2016-05-06 15:17] david-german-tri commented on #2257
@patmarion Yes, @jamiesnape is looking into it.  Jamie, any news?

[2016-05-06 15:20] jamiesnape commented on #2257
Still looking. Has anyone reproduced this locally?

[2016-05-06 15:24] billhoffman commented on #2257
I am back from travel, and plan to look into it today.   Seems that win64 is always getting this.  I think it happened between this commits:

 git diff  67702283ef949fc5b96ab2e33a7a0283a143ea30   c07fd6fec41e90a626abb7cc242679019865951a

I don't see anything that would cause this in the diff.  I am going to try and reproduce locally on my laptop now.

[2016-05-06 15:24] jwnimmer-tri commented on #2257
@jamiesnape Nope.  I presume that whatever `windows-msvc-64-continuous-debug` is doing is the best way to repro, since it's been consistently broken.  I don't think repro should try to use `-release`, because those don't consistently fail.

[2016-05-06 15:26] david-german-tri commented on #2257
@jamiesnape Not yet, I agree that is the next logical step

@patmarion I should add that I do not believe #2239 is the culprit.  For one thing, the failure was pre-existing on win64 at the time we merged #2239.  But we'll have CI results soon. :-)

[2016-05-06 15:44] jwnimmer-tri commented on #2257
@david-german-tri FWIW, I don't think CI passing on the PR revert will tell us anything.  (I guess CI PR _failing_ would mean that #2239 is unlikely to be at fault.)  PR's don't have `-debug` configuration, which is the only one that is reliably failing.  Only after merging #2288 to master and watching Continuous builds go green would we know that #2239 is a sufficient explanation for the regressi

[2016-05-06 17:42] RussTedrake commented on #2287
Excellent.  How much time is in the actual svd solve?

[2016-05-06 17:47] sherm1 commented on #2287
It was 40% of the total time.

[2016-05-06 17:47] amcastro-tri opened #2290 "Update "Tools for Code Style Compliance" on clang-format"
The documentation on [usage of clang-format](http://drake002.csail.mit.edu/drake/sphinx/code_style_tools.html) in the wiki needs to be updated on instructions on how to specify Google's style. Now it simply states to pass `-style=file` to clang-format.

[2016-05-06 17:56] liangfok commented on #2290
The current instructions are:

[code]

The `-style=file` tells `clang-format` to look for a [.clang-format](https://github.com/RobotLocomotion/drake/blob/master/.clang-format) file, which specifies the Google style. Doesn't this already specify the Google style?

[2016-05-06 17:58] liangfok commented on #2290
Are you suggesting that the instructions should be updated to use the following instead?

[code]

[2016-05-06 18:00] jwnimmer-tri commented on #2290
Ah, perhaps I misunderstood what was happening, in the code review that led to this ticket.  Perhaps the instructions are already correct.

[2016-05-06 18:03] RussTedrake commented on #2287
Eigen has a number of least squares solvers, it could definitely be worth looking into more of them.  Also - was it possible to calgrind in release mode?  Eigen performance will be very different in debug vs release.

[2016-05-06 18:29] sherm1 commented on #2290
I think the instructions are correct, but they depend on being in the right directory subtree -- my theory is that @amcastro-tri may have been running `clang-format` from a directory where no `.clang-format` file existed up the directory tree.

[2016-05-06 18:30] sherm1 commented on #2287
I did those measurements in a release build, specifically: `gcc 5.3.1 -O2`

[2016-05-06 19:03] david-german-tri commented on #2257
@jwnimmer-tri You are of course right.  (Unhelpfully, the CI passed.)  @jamiesnape's instructions don't work either, for the same reason, and there doesn't appear to be a way to "build with parameters" on https://drake-jenkins.csail.mit.edu/view/Windows/job/windows-msvc-32-continuous-debug/

[2016-05-06 19:12] david-german-tri commented on #2257
OK, I added a branch parameter to the continuous build and kicked off https://drake-jenkins.csail.mit.edu/view/Windows/job/windows-msvc-32-continuous-debug/129/

[2016-05-06 19:39] amcastro-tri commented on #2290
I was running from the `[drake distro]` directory. Is that the cause?

[2016-05-06 19:42] jwnimmer-tri commented on #2290
@amcastro-tri And what version of clang-format, and on what OS?

[2016-05-06 19:49] amcastro-tri commented on #2290
Ok. Either from [drake distro] or [drake distro]/drake I get the same result. This is Ubuntu 14.04 and clang-format 3.7.1.
I get the same result if using `style=Google`.

[2016-05-06 19:50] liangfok commented on #2290
So it works now? I'm tempted to change the instructions to use `-style=Google` if it is more robust against execution of `clang-format` from outside of the `[drake distro]` directory.

[2016-05-06 19:53] amcastro-tri commented on #2290
not yet. What I am saying is that I get the wrong format from either [drake distro] or [drake distro]/drake with either `style=file` or `style=Google`.

[2016-05-06 20:00] jwnimmer-tri commented on #2290
Interesting.  For me as well, `clang-format-3.6 -style=Google compareParsersmex.cpp` is putting the `*` in the wrong place on line 57 (after changing it from smart_ptr to raw pointer).  I think @sherm1's suggestion that @amcastro-tri was using the LLVM format by accident has perhaps misled us.

I think the actual problem is that `DerivePointerAlignment` is on in Google style, and the mex file we h

[2016-05-06 20:18] billhoffman commented on #2147
There is also a fPIC showing up on windows.   People should not add compiler specific flags into the cmake files without guarding them with checks on the compiler being used.  There are several places where -fPIC is being added without checking the system as well.

[2016-05-06 20:53] sherm1 commented on #2290
Sorry to add to the confusion! I just tried clang-format 3.7 and 3.8 on Ubuntu 14.04 & 16.04 on this program:
[code]
With style=LLVM it moves the `*` next to the p. With style=Google it leaves it alone. However, if I change to
[code]
Then *both* styles leave it alone. So it looks like the Google style says "leave it as found". However, if I added a few more pointers like this:
[code]
Then LLVM mov

[2016-05-06 20:57] jwnimmer-tri commented on #2290
@sherm1 Yup!  Indeed, that is what #2291 does.

[2016-05-06 21:08] #2290 closed

[2016-05-06 21:44] david-german-tri commented on #2257
and #2239 is officially exonerated: https://drake-jenkins.csail.mit.edu/view/Windows/job/windows-msvc-32-continuous-debug/129/

[2016-05-06 22:06] jwnimmer-tri commented on #2257
Indeed.  For the record, I believe the first instance of BAD_COMMAND breaking was [msvc-64-continuous build 1​82 on May 3, 2016 12:53 PM](https://drake-jenkins.csail.mit.edu/view/Continuous/job/windows-msvc-64-continuous-release/182/).

[2016-05-06 22:15] jwnimmer-tri commented on #2257
Build 182 (the first one to ever show this problem) combined both PR #2243 and PR #2238 into a single build.  I am not sure how either of those two PRs would explain the test results (since build 110 and 111 of windows-msvc-64-continuous-debug corresponded to those PRs, and were fine), but FYI to the crowd.

[2016-05-06 22:22] billhoffman commented on #2257
It is a tough one to track down.  I just did an experimental win 64 release build which had showed the issue twice for me.  But, this time I remote desktoped into the machine.  It of course passed!  Then I remoted into a running PR build and it failed, but also cleaned up the build after it was done so I could not   examine the files.  I have not been able to reproduce this locally even running th

[2016-05-06 22:22] jwnimmer-tri commented on #2257
Oh goodie.  Build system race conditions.

For debug builds, the common thread is that c4.4xlarge is passing and c4.8xlarge is failing.  Release builds apparently don't always hit the race, though c4.4xlarge never fails, and c4.8large sometimes fails.

I thought there were no CI configuration edits thought to be in play?

[2016-05-06 22:24] jwnimmer-tri commented on #2257
To put Jenkins back into good health, perhaps we can switch msvc back to c4.4xlarge for now, while the build system error is root caused?

[2016-05-06 22:34] jwnimmer-tri commented on #2257
Oh _shrug_ don't really need it done for the weekend, maybe we all just get a fresh set of eyes on it first thing next week.

[2016-05-07 12:00] #2224 closed

[2016-05-07 21:22] RussTedrake commented on #2194
this works fine on my mac.

[2016-05-07 21:29] RussTedrake commented on #2194
and it's running fine on the build servers:
linux: https://drake-cdash.csail.mit.edu/testDetails.php?test=605625&build=16785
mac: https://drake-cdash.csail.mit.edu/testDetails.php?test=604230&build=16821

@liangfok : i think you need to figure out why your machine is returning info~=1 for this line:
[code]

[2016-05-07 21:58] #1525 closed

[2016-05-07 21:58] #1761 closed

[2016-05-07 22:00] RussTedrake commented on #1855
we call manipulatorDynamics directly.  or use our QP controller to compute the inverse dynamics subject to actuator limits and contact constraints.

[2016-05-07 22:00] #1855 closed

[2016-05-07 22:01] RussTedrake commented on #1597
closing as duplicate of #1939

[2016-05-07 22:01] #1597 closed

[2016-05-07 22:01] RussTedrake commented on #1523
many of these are covered in #1939

[2016-05-07 22:01] RussTedrake commented on #1637
we've shut down drake005

[2016-05-07 22:01] #1637 closed

[2016-05-07 22:08] RussTedrake commented on #1680
this will be resolved during the complete move of the lcp solver logic into c++.  resolving as WONT_FIX

[2016-05-07 22:08] #1680 closed

[2016-05-07 22:12] RussTedrake commented on #1702
not sure why drake001 would be any different?

[2016-05-07 22:17] RussTedrake commented on #1732
@david-german-tri -- something to consider in the future evolution of the new System classes.

[2016-05-07 22:19] RussTedrake commented on #1713
@liangfok might have resolved this by now.

[2016-05-07 23:43] amcastro-tri commented on #1712
Very relevant to what I am working on right now. Thank you @RussTedrake for driving my attention to this. I'll take a look.

[2016-05-08 11:14] RussTedrake commented on #1735
we are doing a dramatic cleanup of the collision detection <-> optimization solver interface.  our current bullet interface can work with the optimization problems, but the gradients we return ignore the local curvature of the surface so probably won't work well for this.  adding @sherm1 and @amcastro-tri so that this is on their radar.

[2016-05-08 11:17] RussTedrake commented on #1763
tons of progress on this in #2267

[2016-05-08 11:20] RussTedrake commented on #1769
marked as high priority because it's super important, but i think it makes sense to wait until system 2.0 lands (and perhaps some other big changes, as well) before we move on this.

[2016-05-08 11:22] RussTedrake commented on #1781
related to #1751

[2016-05-08 11:31] #1799 closed

[2016-05-08 11:32] #1803 closed

[2016-05-08 18:50] amcastro-tri opened #2292 "Some possible constantness issues identified."
Some constantness issues were identified by @jwnimmer-tri in #2207. Resolving these issues in #2207 would make the PR even bigger of what it already is and therefore this new issue is opened.
- `RigidBodyFrame::body`: RigidBodyFrame should know what body it belongs to but most likely it should not modify it. Therefore this member should be a constant pointer to a constant RigidBody.
- `RigidBodyTr

[2016-05-08 19:05] jwnimmer-tri commented on #2292
To be clear, on things like findLink, the problem is a const method returning a non-const pointer into our representation.  If calling code wants to get non-const pointers out of us that's fine, but they shouldn't use an object-const method to do it.

[2016-05-08 19:13] liangfok commented on #2292
Regarding:

Instead of "return a constant pointer" do you mean "return a pointer to a const member variable"? Or, do you mean "return a const pointer to a const member variable"?

[2016-05-09 13:14] jamiesnape commented on #2257
@david-german-tri I said the experimental job. The continuous job would not have parameters as it necessarily always runs on master.

[2016-05-09 14:03] billhoffman commented on #2257
I am going to take a look at this today.  You are correct all the issues showed up with c4.8xlarge.  That should help track this down.  I am going to create a c4.8xlarge system and run from the command line and hopefully it reproduces.

[2016-05-09 14:17] jamiesnape commented on #2257
True. It should only be MATLAB builds running on c4.8xlarge. I will investigate.

[2016-05-09 14:18] jwnimmer-tri commented on #2257
@billhoffman Great, thanks!

My only other thought was if there is a timeout on tests, where launching 36 unit tests at once somehow saturates the network or otherwise causes them to be too slow to run.

That's a shot in the dark, but FYI in case it helps you during debugging.  Thanks for digging into this.

[2016-05-09 14:24] jamiesnape commented on #2257
It looks like `windows` and `windows_matlab` labels are erroneously both being added to the `c4.8xlarge` instances. The trouble is that we will need those instance types for MATLAB builds anyway, so fixing that and running on `c4.4xlarge`  would only be temporary fix.

[2016-05-09 14:45] david-german-tri commented on #2257
@jamiesnape

Yes, understood, but the error occurs more reliably on debug builds, which are not part of the experimental job.  So I parameterized the msvc-32-continuous-debug build by branch, ran it on the rollback PR for #2239, and it still failed.

[2016-05-09 14:52] jamiesnape commented on #2257
This build is parameterized: https://drake-jenkins.csail.mit.edu/job/windows-msvc-64-experimental/

[2016-05-09 14:53] jamiesnape commented on #2257
All the `-experimental` builds are.

[2016-05-09 14:55] jamiesnape commented on #2257
I see the issue. You cannot see the `config` parameter.

[2016-05-09 15:01] manuelli opened #2293 "port changeRootLink functionality to C++"
currently the changeRootLink functionality #417 is only in matlab. Now that we have Valkyrie we have pelvis and back mounts for testing. Since the pelvis is the root link we can only have a fixed pelvis model in Drake. For testing purposes it would be good to have a fixed back model as well.

Discussed this briefly with @RussTedrake @tkoolen. Assigning to myself for now but would like to hand this

[2016-05-09 15:21] liangfok commented on #2293
As a quicker workaround, couldn't we simply modify the SDF / URDF to make the torso the parent of the pelvis rather than the other way around?

[2016-05-09 15:29] manuelli commented on #2293
I'm not sure that is so easy because there are lots of offsets and rotations in the urdf specification that are specific to the ordering that is given.

[2016-05-09 21:39] jwnimmer-tri opened #2298 "C++ FeedbackSystem should enforce isDirectFeedthrough constraint"
The C++ implementation of `FeedbackSystem` should enforce the same `isDirectFeedthrough` constraint that matlab does -- namely, that both systems cannot claim `isDirectFeedthrough`.

Here's the relevant matlab code:
[code]

While we're at it, we should improve the if-else comments that assume that `!!sys1->isDirectFeedthrough` implies that `!sys2->DirectFeedthrough`, so its clearer why we're passi

[2016-05-09 21:46] RussTedrake commented on #2293
Plus we want to keep compatibility with the urdfs used by the other Val teams.

[2016-05-09 23:40] hongkai-dai opened #2300 "Why HybridTrajectory requires that state frame to be the same in different modes?"
In Line 28 of HybridTrajectory, it requires that the state frame to be the same in different modes. But this prevents us to construct a hybrid trajectory for SLIP, in which the flight phase has state frame `x,y,xdot,ydot`; while the stance phase has state frame `r,theta,rdot,thetadot,x_toe`

[2016-05-09 23:50] sherm1 commented on #2300
@david-german-tri, this is relevant for System 2.0 also. A discrete event (detected by a witnessed zero-crossing) invokes an event handler ("reset method") that changes "mode" (aka "phase"), and that can cause discrete changes not only to the values of the state variables but to their dimensions.

[2016-05-10 00:08] RussTedrake commented on #2300
Yes — this was an artificial constraint due to the frame implementation in matlab.  it would be great to avoid it in System 2.0.

[2016-05-10 02:54] hongkai-dai opened #2301 "AllBodiesClosestDistanceConstraintTest uses wrong active_collision_options"
@avalenzu It looks to me that at line 39 of AllBodiesClosestDistanceConstraintTest,

[code]

the 4th argument is not set correctly. It should be a struct representing `active_collision_options`, instead it passes `[0,1]`, that looks like the `tspan`. Could you take a look?

[2016-05-10 02:58] liangfok commented on #2194
OK I will look into it. Thanks!

[2016-05-10 03:43] hongkai-dai commented on #2301
Actually, the `active_collision_options` is not used at all in the `AllBodiesClosestDistanceConstraint`, is it OK if we just remove it?

[2016-05-10 15:04] david-german-tri commented on #2300
Thanks for the heads-up.  We can definitely accommodate this in System2.  (The more requirements like this we accrue, the less comfortable I am with the Context-is-a-monolith design, but that's a separate issue.)

[2016-05-10 15:05] david-german-tri commented on #2301
@amcastro-tri, you might be interested in this also.

[2016-05-10 15:17] #2157 closed

[2016-05-10 15:18] #1704 closed

[2016-05-10 15:19] #2185 closed

[2016-05-10 15:21] #2155 closed

[2016-05-10 15:23] jwnimmer-tri commented on #2155
@billhoffman I do not see mac_matlab in [experimental](https://drake-jenkins.csail.mit.edu/job/experimental/) yet?

[2016-05-10 15:27] david-german-tri commented on #2155
@jwnimmer-tri I suggested we only run mac_matlab and windows_matlab on continuous+nightly, and Russ OK'ed it.

[2016-05-10 15:28] jwnimmer-tri commented on #2155
Ah right, WONTFIX.  Got it, thanks!

[2016-05-10 15:50] jamiesnape opened #2305 "examples/Pendulum/runTrajectorySwingUpAndBalance is flaky"
[code]

[2016-05-10 16:29] jamiesnape commented on #2270
You can use the include-what-you-use job on Jenkins for this.

[2016-05-10 16:35] jwnimmer-tri commented on #2270
Yes, though note that cpplint is only tagging missing libstdcxx includes, not the full suite of libraries that llvm can find in that build.

[2016-05-10 17:25] billhoffman commented on #1998
This is working, but I am leaving the issue open because it still needs to be upstreamed in CMake.

[2016-05-10 18:32] liangfok opened #2306 "RigidBodyConstraint does not conform to style guide"
Mostly it's just the locations of the `&` and `*` symbols.

Run `clang-format` to see.

[2016-05-10 18:37] mwoehlke-kitware commented on #2147
Is the `-pthread` is even needed? I removed it, and things are still building...?

Also, (@david-german-tri) what is the purpose of all the `GTEST_FOUND` checks when gtest is `REQUIRED`?

[2016-05-10 18:41] david-german-tri commented on #2147
I vaguely recall that `-pthread` was a hack to fix the Mac build.  If I'm wrong and it's unnecessary, then please feel free to delete it!

I started adding `GTEST_FOUND` checks to hedge my bets, since there was some pushback on making gtest `REQUIRED`.  No one has complained about that in a while, so perhaps we can drop them.

[2016-05-10 18:49] bradking opened #2307 "Revise pods.cmake `pods_install_headers` to avoid unnecessary CMake re-runs"
The `pods_install_headers` helper in `pods.cmake` does:

[code]

to stage the header files.  This causes CMake to treat all header files as inputs to the CMake configuration process such that any change to any of them re-runs CMake on the whole tree just to update the copies.

In Drake our include path can find the header files right in their source tree location without staging them in a separate

[2016-05-10 18:52] mwoehlke-kitware commented on #2147
I'll remove it and check the CI once there is a PR. If it breaks, I'll add a proper (or at least platform-specific) fix.

I probably won't be so ambitious as to systematically remove them :smile:; just wanted to make sure I wasn't missing something.

Thanks.

[2016-05-10 20:50] #1376 closed

[2016-05-10 20:50] #1452 closed

[2016-05-11 01:56] liangfok opened #2315 "Remove Notion of World from RigidBody"
It should go in the `RigidBodyTree`. Higher-level abstractions like `RigidBodySystem` can know about the "world" abstraction, but not software abstractions at the `RigidBody` level or below.

Here is the review comment that triggered this issue: https://github.com/RobotLocomotion/drake/pull/2303#issuecomment-218277954

[2016-05-11 03:13] jwnimmer-tri commented on #2181
Once this is done, also remove the "_Use the `GTEST` prefix in unit test declarations_" rule from `code_style_guide.rst`, since it will be impossible to do otherwise.

[2016-05-11 03:16] liangfok opened #2316 "linkname Needs to be Updated to Conform To Style Guide"
`RigidBody::linkname` should become `RigidBody::link_name_` and ideally should be private with accessors returning a const reference.

Parameters and local variables named `linkname` throughout the code need to become `link_name`.

The Matlab code needs to be updated to match the C++ code.

Since this touches so much code in Drake, I would consider this a major operation.

Here is the review comme

[2016-05-11 03:19] jwnimmer-tri commented on #2316
You can change the C++ code, but leave the matlab API the same, via the `*.i` file wrapper specifications.

[2016-05-11 03:32] liangfok commented on #2316
True, but would it be bad that the C++ and Matlab code diverge in variable names?

[2016-05-11 03:35] jwnimmer-tri commented on #2316
It's a tradeoff.  To me, leaving matlab alone is probably worth the divergence.  It's essentially the public API of Drake right now.  We could provide both spellings to matlab if we wanted to, though perhaps that is even worse.

[2016-05-11 03:36] liangfok commented on #2306
Oops, I mistakenly assigned this to @amcastro-tri thinking he was working on this class. @amcastro-tri, if you are not working on this class, please re-assign it to someone who is.

[2016-05-11 13:45] amcastro-tri commented on #2315
@liangfok, I don't think the concept of "world" is anywhere else in `RigidBody` right now. You just introduced this "world-like" member in `RigidBody` in #2303. I'd say you fix it there since it was not introduced yet.

[2016-05-11 14:00] amcastro-tri opened #2318 "We need the concept of "world" in the multibody dynamics engine"
An interesting conversation started in https://github.com/RobotLocomotion/drake/pull/2303#issuecomment-218277954 and moved to issue #2315.

What we are discussing is that the multibody dynamics engine in Drake does not have the concept of world. Even a bigger problem, there is no a common container that owns (and manages) all the objects in the simulation.
For instance, the gravity vector now belo

[2016-05-11 14:01] amcastro-tri commented on #2318
I would also like the opinion of @sherm1 (I think we already talked about this) and @david-german-tri (see if System 2.0 supports this) here.

[2016-05-11 14:20] liangfok commented on #2315
OK I will retake ownership of this issue.

[2016-05-11 14:25] liangfok commented on #2318
May I suggest:

* `RigidBody` - a single link
* `Joint` - a single joint
* `RigidBodyTree` - a single robot, contains a set of `RigidBody` and `Joint` elements, and meta data on the kinematic tree and any kinematic loops that they form.
* `RigidBodyForest` - a collection of `RigidBodyTree` objects, a "world" software abstraction (which may be a `RigidBody`), and the floating DOFs that connect the

[2016-05-11 14:41] rpoyner-tri opened #2319 "examples/Cars: car_jump.urdf is no longer loadable."
Since the car_sim_lcm program can no longer load URDF format world models, car_jump.urdf is not usable. I propose either translating it to SDF or deleting it and updating the gallery documentation appropriately.

[2016-05-11 15:42] sammy-tri commented on #2306
I've been in here lately, I can take a swing at it.  @amcastro-tri, feel free to reassign to me if you like.

[2016-05-11 15:44] liangfok commented on #2306
Thanks @sammy-tri!

[2016-05-11 16:12] jamiesnape commented on #2251
I am seeing this on Windows / MATLAB builds:
[code]

[2016-05-11 16:13] jamiesnape commented on #2251
Aside from whether it should be considered a build dependency, something is not correct with spotless.

[2016-05-11 16:28] sherm1 commented on #2318
One thing to untangle here: this discussion shouldn't involve `System`, which is Drake's dynamic system abstraction, like Simulink's "block". Those are black boxes that can have state, take input from other blocks, perform computations, and generate outputs; they are agnostic about what goes on inside the block. Except for direct feed-through signals the blocks are not solved simultaneously; and t

[2016-05-11 16:45] liangfok commented on #2318
Right. I think we just want to ensure that `MultiBodyDynamicsWorld` and all software abstractions contained within it are usable by and useful to the `System` elements in all anticipated Drake applications.

[2016-05-11 16:51] sherm1 commented on #2318
What is in the shared environment? Things that pop to mind:
- contact geometry and surface properties
- visual geometry because some of the sensors depend on it
- gravitational, magnetic, electrostatic effect models
- environmental conditions like wind and rain
- what else?

The world contributes to the dynamic system since some of the above properties can evolve in time. (BTW don't be an Earthist

[2016-05-11 17:44] AndreasMegatranus commented on #2006
I had a separate follow-up question.  In the runAtlasManip example,
there is the following code:

     r_arm_idx = r.findPositionIndices('r_arm');
     plan_settings.untracked_joint_inds = r_arm_idx;

(this is part of the code that sets up manip_plan_data).  As you know
from my previous emails, I had
a lot of problems with stability;  the arm seemed to not follow the
planned trajectories at all.
S

[2016-05-11 17:44] jamiesnape opened #2320 "systems/plants/test/collidingPointsTest fails on MSVC 32 builds"
[code]

[2016-05-11 17:49] hongkai-dai commented on #2006
We can choose to track the end effector pose trajectory, or track the arm trajectory, or both. Previously it was just trying to track the end effector pose trajectory, with no tracking on the arm joints. Now by commenting out the untracked_joint_inds, it starts to track the right arm joints. Thanks for letting us know, that indicates some problem in the end effector tracking in our controller.

So

[2016-05-11 18:53] bradking commented on #1666
I realized that there is no one form for each input/output pair when multiple inputs are allowed.  Instead the form of an output is defined w.r.t. a specific (sub)set of the inputs.  For example, `y=x*u` is linear in `{u}`, linear in `{x}`, but polynomial in `{x,u}`.  This naturally handles mixed terms.  Many of the representations previously discussed here may be suitable as the *output* of a for

[2016-05-11 18:54] bradking commented on #1666
Implementers of the `Function` concept already provide the `eval<ScalarType>` method:

[code]

This expresses the function parameterized over the scalar type.  We can use an approach similar to Eigen's AutoDiffScalar to record the form of the `eval` function's operations on the scalar type.  I've implemented a `FunctionalForm` type for this.  For example, if we want to know the form of the above 2

[2016-05-11 18:54] liangfok opened #2323 "RigidBodySystem::spatialForceInFrameToJointTorque() Needs to be Moved to RigidBodyTree."
See the following review comment for context:

https://reviewable.io/reviews/robotlocomotion/drake/2303#-KHROOYoXMVoJcMHqdJA

[2016-05-11 18:58] liangfok commented on #2323
Also consider renaming the method to be `CoputeGeneralizedJointForcesFromWrenchOnRigidBodyFrame()`.

See: https://reviewable.io/reviews/robotlocomotion/drake/2303#-KHRMPUfS_OpOwvf4itk

[2016-05-11 19:02] bradking commented on #1666
In the `FunctionalForm` implementation the "differentiable" category is actually documented as meaning "differentiable almost everywhere".  In practice I think this may be all we need, and it reduces the number of categories.

[2016-05-11 19:32] liangfok commented on #2318
My first reaction is this sounds good. However, before I decide for sure, I just wanted to clarify: Does this assumption prevent changes to be made in the world over time? For example, how would we model the changes in gravity that occur when a rocket ship blasts off a launch pad on Earth and goes into Orbit? Would we have a dedicated `System` block that updates gravity each cycle of the simulatio

[2016-05-11 19:56] amcastro-tri commented on #2306
Thanks @sammy-tri!!

[2016-05-11 20:04] amcastro-tri commented on #2318
@sherm1: I agree that System 2.0 should merely be a user of the multibody dynamics engine. However I decided to mention it here since the current design (with RigidBodyTree being a single tree with multiple robots attached to a single Earthist world with a constant gravity vector) implies that there always be a single RigidBodySystem. This design I propose will allow to have multiple RigidBodySyst

[2016-05-11 20:19] david-german-tri opened #2324 "Buildcop: Windows builds failing 2015-06-11 afternoon due to agent/connection issues"
Example continuous failure: https://drake-jenkins.csail.mit.edu/view/Continuous/job/windows-msvc-32-continuous-release/216/console

Example experimental failure: https://drake-jenkins.csail.mit.edu/job/experimental/1361/compiler=msvc-64,label=windows/console

@amcastro-tri FYI

[2016-05-11 20:32] billhoffman commented on #2324
@jamiesnape and I have been talking about this.  Is there a good place to send out alerts for stuff like this?  Seems like the project needs a drake-developers email list to announce stuff like this and changes in workflow/etc.

[2016-05-11 20:45] david-german-tri commented on #2324
If there's an actual problem to be resolved, I think opening a GitHub issue serves that purpose.  For other types of announcements, I can't think of a good existing list.  As a short-term solution, you can email me and I'll at least disseminate the news within TRI; longer-term, perhaps we can get drake-developers@mit.edu.

In any case, what's up with this particular event?

[2016-05-11 20:57] billhoffman commented on #2324
Not actually sure yet.  Things started going bad after @jamiesnape patched the git plugin that was meant to fix the missing git hashes on matrix builds.  He just rolled it back, and restarted the PR builds that failed.  Watching it now, seems to be working, but nothing has completed yet.

[2016-05-11 21:01] jamiesnape commented on #2324
So far, not too much makes sense, but that is the other thing that changed. The Windows image changed slightly yesterday with the WinRM fix, but there were no problems overnight of note.

[2016-05-11 21:51] sherm1 commented on #2318
I still think this is mixing apples and oranges. We can have a World object that is accessible to multiple RigidBodyTrees (to use current terminology). Neither World nor the RBTrees are Systems. Together those can be used to produce any number of System blocks, depending on the amount of coupling involved. If the equations are coupled (meaning they must be solved simultaneously) then they have to

[2016-05-11 22:07] sherm1 commented on #2318
If World is entirely constant this is not an issue. But if World is a dynamic system (say it has puddles with fluid dynamics), then you have to ask how those equations are coupled to those of the RigidBodyTrees. Do World's equations and RBTree's need to be solved simultaneously? That is, do I have to calculate time derivatives and outputs of World and the RBTrees simultaneously? Or can I first cal

[2016-05-12 06:29] lavrinovu4 opened #2326 "correct arguments for generateGradients"
Hello all,

I am trying to generate gradients for model using command:

[code]
The problem is I waited a few hours, and it can't finish. Perhaps, I am using wrong arguments, or model was described not good.

There is output:
*Variable num_positions not symbolicisized
Variable num_velocities not symbolicisized
Variable num_position_constraints not symbolicisized
Variable num_velocity_constraints no

[2016-05-12 10:17] RussTedrake commented on #2326
generate gradients uses matlab's symbolic toolbox, and it's definitely possible to hand it a problem that is simply too big (disappears for hours).  the output suggests that it managed to compute the first order gradients, but got bogged down in the second order gradients.

almost all of the routines that require gradients can also use autodiff (we call it taylorvar in the matlab code) or numerica

[2016-05-12 12:30] amcastro-tri commented on #2318
Thanks, now I understand what you meant (I of course know the term one/two way coupling but I couldn't understand what you meant in this context).
I started off simple by assuming everything would be two way coupled and that the structure of the code would allow for future optimizations. For instance, two robots (two RBT's) in one world would be computed in a monolithic approach. This might seem a

[2016-05-12 12:33] amcastro-tri commented on #2323
Ok, I can take this one. So I assume your plan is then to leave `spatialForceInFrameToJointTorque` in `RigidBodySystem.h` as it was originally? will you revert that change in #2303?

[2016-05-12 13:37] jamiesnape commented on #2324
I rolled back the git patch and everything passed yesterday afternoon/evening. I reapplied the patch late evening and all the nightlies passed, so I honestly have no idea. Restarting the all the jobs yesterday after the outage was a pretty good stress test, so there is no obvious problem now.

[2016-05-12 13:44] liangfok opened #2327 "Drake wiki not being updated"
I am looking at http://drake.mit.edu/windows.html

The new instructions are not posted yet.

[2016-05-12 14:10] jamiesnape commented on #2327
Duplicates #2150.

[2016-05-12 14:10] #2327 closed

[2016-05-12 14:11] sammy-tri commented on #2306
PR #2325 fixes some of the style guide conformance issues.

[2016-05-12 14:20] liangfok commented on #2323
I moved the implementation of `spatialForceInFrameToJointTorque` from the `.h` file to the `.cpp` file. Since I believe this is an improvement, would it be OK to keep that refactor in https://github.com/RobotLocomotion/drake/pull/2303? If not, I would be happy to revert that change as well.

[2016-05-12 14:48] liangfok commented on #2318
Just to be clear, does one-way coupling imply that, during a single cycle of the simulation loop, every block in the system diagram has access to the same world and can make changes to the world, but changes one block makes to the world will not be seen by any other block until the next simulation cycle?

[2016-05-12 15:28] sherm1 commented on #2318
No block can make changes to anything; changes are made by solvers. Blocks produce outputs. Say there were two blocks: a WorldBlock (WB) and RigidBodyBlock (RBB). One-way coupling would mean you could connect WB's output directly to RBB's input, but you can't connect RBB's output to WB's input without an intervening sample & hold or delay block. Like this:
[code]
Without the S&H block everything w

[2016-05-12 15:33] sherm1 commented on #2318
Reminder: the underlying multibody system objects, which might include a World object and RBTree objects, are *not* blocks ("Systems" in Drake terminology). There are likely to be a lot of blocks that need access to the World object, for example.

[2016-05-12 16:03] liangfok commented on #2318
Are solvers hidden within blocks?

[2016-05-12 17:06] sherm1 commented on #2318
No, they are separate. For a current example, consider Drake's simulate() method.That's a solver. It acts on the state of a composite System (i.e. block diagram) but is not part of any block.

[2016-05-12 17:44] liangfok commented on #2318
I see, so "solvers" are consumers of "blocks" and the "world" and can modify both? And, "blocks" are consumers of the "world" but cannot modify the world?

[2016-05-12 18:36] billhoffman opened #2329 "Simplify cmake download-all target"
Use ExternalProject_Add_StepTargets to create the download-all target so that you do not have to break the External projects into a project and a project-download.  This will fix a race condition with ninja.

[2016-05-12 18:49] sherm1 commented on #2318
I'm confused by your question, Liang. There is a System (==block diagram) abstraction that is const during a simulation. There is a state that changes during a simulation; solvers are what updates the state. Underneath there is tons of complicated code (like RigidBodyTree or lidar models) but those things are not Systems themselves.

[2016-05-12 18:53] amcastro-tri commented on #2323
You mean because it would make the build faster? in that case I agree

[2016-05-12 18:57] jamiesnape opened #2330 "'lcmtypes/bot_core/planar_lidar_t.hpp' file not found"
Transient error on OS X builds:
[code]

[2016-05-12 19:13] RussTedrake commented on #2330
I have seen this before if the dependencies are not quite correct on parallel builds.  The auto-generated file doesn’t get built before the code that depends on it...

[2016-05-12 19:20] liangfok commented on #2330
I believe I know the fix for this and will issue a PR shortly.

[2016-05-12 19:40] bradking commented on #2329
The `ExternalProject_Add_StepTargets` feature has been around since CMake 2.8.3, but we need the `NO_DEPENDS` option which has only existed since CMake 3.2.

[2016-05-12 19:41] liangfok commented on #2323
Yes, to make the build faster and de-clutter the `.h` file. OK I will keep the refactor in https://github.com/RobotLocomotion/drake/pull/2303.

[2016-05-12 19:45] jamiesnape opened #2333 "MATLAB tests passing despite "error in addpath_drake""
Illustrative example. Why there was the error is not the subject of this ticket. The main point is that the test still passed.

[code]

FYI @RussTedrake

[2016-05-12 19:48] jamiesnape commented on #2150
* https://drake-jenkins.csail.mit.edu/job/linux-gcc-continuous-matlab/184/console
* https://github.com/RobotLocomotion/RobotLocomotion.github.io
* http://drake.mit.edu

[2016-05-12 19:48] #2150 closed

[2016-05-12 19:49] jwnimmer-tri commented on #2306
For whoever next picks up this issue, please start by breaking up RigidBodyConstraint.h/cpp into separate, smaller files (with appropriate snake_case_name.cc).  That will make it easier to iterate on the remaining style fixes.

[2016-05-12 19:51] liangfok commented on #2318
Let me rephrase, is it true that we are proposing to implement the following software abstractions?

1. `State` - Mutable and non-mutable variables. This includes the `RigidBodyTree` and the `World`.
2. `System` - A block diagram, i.e., `System Framework 2.0`, basically a component architecture that's more tightly coupled through shared `State`
2. `Solver` - software logic that uses `State` and `S

[2016-05-12 20:20] #2147 closed

[2016-05-12 20:29] amcastro-tri commented on #1712
Here is a close up that I just made. The plot below shows distance as a function of angle. I run the same case but with a much smaller yaw range (-0.1 to 0.1) and I used 201 points (an odd number so I could see the zero angle case). The case is actually repeatable with different number of yaw points so I can run it with 5 points instead for easy debug. What the 201 points case shows is that there

[2016-05-12 20:58] sherm1 commented on #2318
Now I'm really confused! In no sense are RigidBodyTree or World included in "State".

[2016-05-12 21:06] liangfok commented on #2318
How about the following?

Let me rephrase, is it true that we are proposing to implement the following software abstractions?

1. `State` - Basically a workspace for holding state that changes over time. This includes things like the current positions and velocities of all joints, the current wind velocity in the world, etc. It is used by the `System` and `Solver`.
2. `RigidBody` - A single rigid

[2016-05-12 21:31] amcastro-tri commented on #2323
sounds good.

[2016-05-12 21:33] sherm1 commented on #2318
I think this issue is just about World and got off topic. System 2.0 terminology -- we're using the term `Context` for the object that holds time, state, and other mutable things. So a solver (generic term; not proposing a class) acts on a const System to produce a series of Context values representing the trajectory.

[2016-05-12 21:41] liangfok commented on #2318
Hmm, I think the notions of "world" and "rigid body system" are lost somewhere in the statement:

If a solver can only act on a const System to produce a series of Context objects, there will not be sufficient expressiveness for a world or rigid body tree(s). Maybe this is why I was assuming earlier that the Context (a.k.a `State`) contains the world and rigid body tree(s).

[2016-05-12 22:00] sherm1 commented on #2323
Copied from reviewable for preservation:

@amcastro-tri:

"Given a wrench described in the given RigidBodyFrame frame, return the (scalar) generalized force at each joint required to achieve this wrench".
@sherm1. What do you think?, because if a joint is prismatic (and if I understand correctly) the value of tau will be that of the (scalar) force along the axis of action. Therefore, the name of t

[2016-05-12 22:05] sherm1 commented on #2318
As I said at the beginning we shouldn't be mixing the discussion of World with the orthogonal abstractions involved in the system block diagram. If the distinction isn't clear please ask @amcastro-tri or @david-german-tri for a quick whiteboard session -- it is too hard to convey from here.

[2016-05-12 22:13] liangfok commented on #2318
After talking with @david-german-tri, I believe the static information like link mass that is contained within a `RigidBodyTree` is encapsulated within a `System Block`, and the non-stack information like joint state is contained within a `Context`. Regarding the world, I don't see why it should be treated any differently (static information is contained within a `System Block` and dynamic informa

[2016-05-12 22:15] amcastro-tri commented on #2323
That's great! thank you @sherm1. It would've been difficult to find that again

[2016-05-12 22:24] sherm1 commented on #2318
Right, no reason to treat it differently at all w/r/t System 2.0 architecture. However it is clearly different than a RBTree which is the point of the discussion above.

[2016-05-12 22:28] liangfok commented on #2318
If the rigid body tree and the world both provide a set of differential equations to the system block, what would be the argument for enforcing a one-way relationship between the two sets of differential equations? Lower expressiveness in return for lower computational complexity?

[2016-05-12 22:29] jamiesnape opened #2336 "Undefined function or variable 'slinstallprefs' in contactImplicitBrick"
Started in revision cf5225afaf1596250b09b6790731bcdffe3a0db7.

[code]

[2016-05-12 22:58] sammy-tri commented on #2306
This shouldn't actually be closed yet.  #2325 wasn't nearly enough to fix all the style problems...

[2016-05-12 22:59] amcastro-tri commented on #1712
The ray test happens deep inside bullet in `btCollisionWorld.cpp:917` with the call to `btCollisionWorld::rayTestSingle` (in `btCollisionWorld.cpp:262`).
I simplified the problem to a single ray and I still get the wrong value. It looks like it is a bug within Bullet. I will write a very small bullet demo tomorrow outside drake with the same conditions to see if the problem persists.

[2016-05-12 23:20] amcastro-tri commented on #1712
Even deeper, Bullet is doing the final raycast with `btSubsimplexConvexCast::calcTimeOfImpact` at `btSubSimplexConvexCast.cpp:38`. There is some sort of iteration going on that I do not understand but clearly an overkill for ray-to-box test.

[2016-05-12 23:45] sherm1 commented on #1712
Alejandro, if you can get this down to a simple demonstration of a Bullet problem we can get Erwin to take a look at it and probably get a quick fix. Let me know when you get to a point where you want him involved and I will attempt to pull him in.

[2016-05-12 23:57] amcastro-tri commented on #1712
After 8 (maxIter=56, it starts counting from 64) iterations in `btSubsimplexConvexCast::calcTimeOfImpact` the method returns with `dist2=8.3221703372389529e-05` which is smaller than the required `epsilon=0.0001`.
As far as I know bullet has [3 implementations of ray/convex casting](http://www.continuousphysics.com/Bullet/BulletFull/classbtConvexCast.html). Maybe we could tray using another implem

[2016-05-12 23:58] amcastro-tri commented on #1712
@sherm1: that'd be really great! I work tomorrow in that little demo. From Drake I am working with only one box and one ray and I still have the problem. So I think it should be possible to write a simple Bullet test code that then Erwin can work with

[2016-05-13 00:03] sherm1 commented on #2318
The argument would be that the block used to model World's dynamics could then exist separately from blocks that use RBTree or other physical simulation code. Otherwise every block that can affect World has to be solved simultaneously with world. By transitive closure, that means all World-interacting blocks are coupled to each other, so they must be combined into a single block containing everyth

[2016-05-13 00:55] liangfok commented on #2318
I believe I understand; thanks! Based on my understanding, I don't think we will be giving up much expressiveness by mandating that the world maintains a one-way relationship with the other system blocks, especially if we can also support the world + all coupled stuff.

To keep thing concrete, what are the implications of the one-way mandate on the rocket ship example I mentioned above? I believe

[2016-05-13 01:22] liangfok opened #2337 "Binary File drake/examples/Atlas/test/results_testRunning.mat Is Being Version Controlled"
Should it be? It seems strange to version control a binary results file.

https://github.com/RobotLocomotion/drake/blob/master/drake/examples/Atlas/test/results_testRunning.mat

[2016-05-13 03:07] sherm1 commented on #2318
You'll need a different example, Liang! In the rocket case there is no change to the world. It is happily sitting there being gravitational. The model you are proposing for gravity (a uniform field) is an invalid approximation in that case and shouldn't be used. Here is Newton's law of gravitation:
 ![image](https://cloud.githubusercontent.com/assets/4088016/15236578/fdf92f36-187a-11e6-95ea-56ed62

[2016-05-13 03:30] liangfok commented on #2318
Doh! Maybe if we extend the rocket ship example to the moon or mars. In this case, the "G" parameter will need to vary as the rocket ship leaves Earth's gravitational field.

I think that tire-rubber-transfer-to-road surface example is good. I _think_ it would be OK to use the current road surface friction to calculate the vehicle dynamics, and then subsequently update the surface friction, each c

[2016-05-13 03:58] sherm1 commented on #2318
Good try, but no -- "G" is the [universal gravitational constant](https://en.wikipedia.org/wiki/Gravitational_constant). They don't call it "universal" for nothing! You are confusing it with "g", the strength of the gravitational field at the Earth's surface.

Good question. I think we would have to leave it as is forever but could add another "CoupledWorld" object that could be used instead, and

[2016-05-13 12:15] amcastro-tri commented on #2318
I was trying to keep the concept of world here, first, as an abstraction. The world is this global container of all objects in the simulation. Not only palpable ones like rigid (or soft) bodies but also things like force elements (a force element could be as simple as a spring or as complex as the gravitational field caused by the mass distribution of several planets or even a fluid field). In any

[2016-05-13 13:14] jamiesnape opened #2338 "LCM is sometimes unexpectedly absent"
[code]

[code]

https://drake-cdash.csail.mit.edu/viewBuildError.php?onlydeltap&buildid=19459

[2016-05-13 13:23] jamiesnape opened #2339 "systems/plants/constraint/test/testKinCnst hangs on Windows 32-bit builds"
[code]
(no other console output)

[2016-05-13 13:31] jamiesnape opened #2341 "lcm-java: 'c' flag requires manifest or input files to be specified"
Transcient issue with OS X builds.

**Command**: `"/Library/Java/JavaVirtualMachines/jdk1.8.0_92.jdk/Contents/Home/bin/jar" "-cf" "/Users/yosemite/workspace/mac-clang-continuous-matlab/pod-build/externals/lcm/lcm-prefix/src/lcm-build/lcm-java/lcm.jar" "@java_class_filelist"`

**Directory**: `/Users/yosemite/workspace/mac-clang-continuous-matlab/pod-build/externals/lcm/lcm-prefix/src/lcm-build/lcm-

[2016-05-13 13:39] jamiesnape opened #2342 "Coverage builds unstable due to error accumulating results"
CTest always returns non-zero on coverage builds.
[code]
True for both `gcc` / `gcov` and `clang` / `llvm-cov` jobs.

[2016-05-13 13:58] liangfok commented on #2318
Oh, my mistake. I didn't realize there was a difference between _G_ and _g_.

Regarding @amcastro-tri's comment of "monolithic" vs. "partitioned" approach, isn't "partitioned" a superset of "monolithic"? In other words, if we design and implement a software framework that supports the "partitioned" approach, don't we automatically get the "monolithic" approach?

[2016-05-13 14:10] amcastro-tri commented on #2318
No we wouldn't. They are two different animals. Usually a monolithic approach will force you to assemble a matrix of the whole system, something you wouldn't need to do for partitioned. However, I can think of ways of sharing as much code as possible between the two. For instance, an RBT "know" how to build it's dynamic matrices. A solver can query the RBT to do this task and simply place it withi

[2016-05-13 14:11] amcastro-tri commented on #2318
sorry, pressed the wrong button and closed the issue!

[2016-05-13 14:16] liangfok commented on #2318
Sorry to keep questioning, but, for the sake of understanding, don't we need to assemble a matrix of the whole sub-system within each partition? Isn't the monolithic approach simply the partitioned approach where the whole system is a single partition?

[2016-05-13 14:17] jamiesnape commented on #2324
Jenkins left nothing helpful in its logs and the console messages, if any, were pretty generic, so there is not much more we can do here. We had no further occurrences of the particular error yesterday and at one point in the afternoon had a record 46 builds across all platforms running simultaneously without issue. I am as puzzled as everyone else, but realistically, I suggest we close this issue

[2016-05-13 14:50] billhoffman commented on #2333
Here is a link to a dashboard build: https://drake-cdash.csail.mit.edu/testDetails.php?test=640036&build=18882

[2016-05-13 15:21] david-german-tri opened #2344 "How should developers build documentation?"
The successor to `make doc` should be documented on the wiki.

[2016-05-13 15:22] jwnimmer-tri commented on #2344
Also, throw in retroactive `CHANGELOG.md` for #2143 while we're at it?

[2016-05-13 15:25] jamiesnape commented on #2344
I disagree with the CHANGELOG issue. For development, the git history is the CHANGELOG. Someone should generate the changelogs (semi-)automatically at release time.

[2016-05-13 15:27] david-german-tri commented on #2344
@jamiesnape I think that's the long-term goal, but right now we have dependent projects and we do not have stable resources, so we need to communicate breaking API changes to them in some way.

That said, I don't think #2143 requires a CHANGELOG update because it's not reeeeally an API change.

[2016-05-13 15:28] jwnimmer-tri commented on #2344
Okay, I retract my suggestion.

[2016-05-13 15:28] jamiesnape commented on #2344
Aside: Do we have a release process yet?

[2016-05-13 17:57] #2324 closed

[2016-05-13 17:59] david-german-tri commented on #2344
Nope!  I think there's little point in having releases until we have a defined API, and that's a ways off.

[2016-05-13 18:00] jamiesnape commented on #2344
That is very true.

[2016-05-13 18:31] bradking commented on #2344
Git history is too busy to call out user-facing changes that would normally be maintained in a CHANGELOG or other form of release notes.  However, the structure of a CHANGELOG is not well-suited to being maintained in DVCS because appending notes to it will always conflict.  What I've done in other projects is have a release note staging directory in which release notes can be added with some arbi

[2016-05-13 19:12] amcastro-tri commented on #2318
You could see it that way. But many times this partition is not obvious (requiring some complex logic to identify non-interacting clusters of objects), sometimes it is (like two walking robots no interacting but only with the ground) and sometimes you may want to exploit this structure to speed things up.

In any case to me the monolithic approach is what you'll write in this case first (brute for

[2016-05-13 19:55] bradking opened #2346 "System: Design how to use `FunctionalForm` to extract a system form"
Discussion of how to do this (for #1666) started in #2322 ([here](https://github.com/RobotLocomotion/drake/pull/2322#issuecomment-219008200), [here](https://github.com/RobotLocomotion/drake/pull/2322#issuecomment-219057261), and [here](https://github.com/RobotLocomotion/drake/pull/2322#issuecomment-219120729)) but is tangential to that PR and so can move to this separate issue.

[2016-05-13 19:57] bradking commented on #2346
Cc: @david-german-tri @RussTedrake

[2016-05-13 19:59] jamiesnape opened #2347 ""Unrecognized file extension" in compareParsers test"
[code]

https://drake-cdash.csail.mit.edu/testDetails.php?test=656025&build=19702

[2016-05-13 20:03] bradking commented on #2346
Good.

Yes, for System or Function concept implementations that might change their state during a simulation or an optimization then custom form logic may be needed.  The default assumption is that everything changing during an optimization should be captured in one of the decision variables.  Maybe this is not true for simulations, but I'm not familiar enough with that infrastructure yet.

The ap

[2016-05-13 21:08] sherm1 opened #2348 "drake/common declarations should be in `drake::` namespace"
I think that code that goes into the `drake/common` directory should reside in the `drake::` namespace. That seems sufficient to indicate that it is common across Drake. Putting it in `drake::common::` (which I did by rote for [NiceTypeName](https://github.com/RobotLocomotion/drake/blob/master/drake/common/nice_type_name.h#L11)) just mean a lifetime of unnecessary extra typing.

Does anyone think

[2016-05-13 22:01] sherm1 commented on #2318
I don't think that is the right abstraction -- I didn't realize you were thinking of it that way. I don't see a reason to think of the World as *owning* everything in it. For example, a robot with an internal spring element certainly ought to own that spring. What I think we need is a World object that can provide the common global frame, terrain, fixed objects, weather, force fields, etc. that ev

[2016-05-13 23:11] david-german-tri commented on #2348
I agree.

[2016-05-14 00:02] jonathan-owens commented on #1392
Closed. See https://github.com/RobotLocomotion/drake/pull/2286

[2016-05-14 00:02] #1392 closed

[2016-05-14 00:02] david-german-tri opened #2351 "Enable NLOPT on Windows (and in Windows CI)"
There is a third-party CMake file that might be useful.

http://ab-initio.mit.edu/wiki/index.php/NLopt_on_Windows

[2016-05-14 00:03] jonathan-owens commented on #2156
@billhoffman Can this be closed? Seems to be working now, right?

[2016-05-14 00:04] david-german-tri opened #2352 "Enable SNOPT in Windows CI"
https://github.com/RobotLocomotion/drake-ci/blob/master/ctest_driver_script.cmake#L522

There's no corresponding condition in the Drake superbuild proper:

https://github.com/RobotLocomotion/drake/blob/master/CMakeLists.txt#L118

[2016-05-14 00:25] #2315 closed

[2016-05-14 00:51] jwnimmer-tri commented on #2074
Perhaps we should also see if this compiler flag can be removed, once this issue is fixed:

[2016-05-14 01:03] liangfok commented on #2348
I can think of equally strong arguments in either direction and will thus abstain.

[2016-05-14 01:48] jwnimmer-tri commented on #1964
I just hit this on `testIKtraj` as well.  The test should still be compiled even without `snopt_c` being around; it just shouldn't be run.

[2016-05-14 02:07] amcastro-tri commented on #1712
@sherm1: I was working on the simple demo for Erwin and I found  a solution to the problem (#2354). However I'll finish it up (I just have to clean it up now)because it'd be nice to have his input on this. Specially see if it'd be convenient to have the option to externally set this tolerance constant now buried deep inside Bullet.

[2016-05-14 02:11] jwnimmer-tri commented on #2068
I think with the two good options at hand now (the `add_matlab_test` mechanism where we can pass smaller `tspan` to simulate during testing per this issue; and #2078 to evict tests from the PR builders), this issue is ripe for some high-payoff improvements.  I bet with some fixes here, ninja, and 36-core AWS machines, we could hit the 15-minute mark on linux PR turnaround!

[2016-05-14 02:16] avalenzu commented on #2338
I'm seeing this on an OSX Yosemite machine as well.

[2016-05-14 17:40] liangfok commented on #2347
The failing unit test is declared in `[drake-distro]/drake/systems/plants/test/CMakeLists.txt`, and is implemented in `[drake distro]/drake/systems/plants/test/compareParsers.m`.

The failing unit test can be executed using the following commands:

[code]

I am currently unable to run the failing unit test because I'm encountering the following error, which is a known issue (https://github.com/Rob

[2016-05-14 17:51] liangfok commented on #2194
The method `allURDFs()` is defined in `[drake distro]/drake/util/allURDFs.m`. Here's the MATLAB code that appears to be failing on my machine:

[code]

Using print statements, I verified that `getDrakePath()` is returning `/Users/liang/dev/drake/drake`.

I also verified that `find -L /Users/liang/dev/drake/drake -iname "*.urdf"` returns the paths to all URDF files within my `[drake distro]` direct

[2016-05-14 19:38] liangfok commented on #2194
The problem is I cloned `[drake-distro]` into `~/dev/`, and this causes `grep -v "/dev/"` to reject every URF in my `[drake-distro]` directory.

[2016-05-14 19:43] liangfok opened #2355 "Update Drake Installation Instructions to Specify [drake-distro] Should not be installed into a path containing "/dev/""
Placing `[drake-distro]` into a directory whose path includes "`/dev/`" will break `findURDFs()` in [drake/util/allURDFs.m#L10](https://github.com/RobotLocomotion/drake/blob/9a67372fa00054aedf8a9f30684bdd5dc2ee9b0d/drake/util/allURDFs.m#L10).

[2016-05-14 20:07] liangfok commented on #2355
The current instructions do not provide a recommended place for putting `[drake distro]`. I'm tempted to leave it at that and simply add a note _not_ to put it in a directory whose full path includes "`/dev/`".

If we do suggest a place to put `[drake distro]`, I would recommend `~/src/`.

[2016-05-14 21:33] RussTedrake commented on #2194
That's correct.  dev was a keyword in the drake directory structure saying "things that live beneath me are not subject to unit tests". You could make allURDFs more robust by removing only strongs which have dev after the drake root.

[2016-05-14 21:42] jwnimmer-tri commented on #2194
It's straightforward to make the `find` correct, so that only dev subdirectories are ignored, not dev as a parent directory.  Use `find` with `-prune` for `-name dev` and the other blacklist item there; don't pipe the `find` through `grep` at all.

[2016-05-14 22:34] liangfok commented on #2355
Instead of updating Drake's installation instructions to restrict people from cloning Drake into a directory whose path includes "`/dev/`", I will make better use of the `find` instruction to only omit `/dev/` directories within `[drake-distro]`.

This update will be handled in https://github.com/RobotLocomotion/drake/issues/2194.

[2016-05-14 22:34] #2355 closed

[2016-05-15 03:14] liangfok commented on #2175
I'm going to close this issue because we've decided to use a blacklist strategy.

[2016-05-15 03:14] #2175 closed

[2016-05-15 17:37] avalenzu opened #2357 "WITH_LCM = OFF leads to build error"
When LCM support is disabled, `drakeRBSystem` is not built (see [this line](https://github.com/RobotLocomotion/drake/blob/master/drake/systems/plants/CMakeLists.txt#L144)), `drakeRBSystem_export.h` is not generated, and compilation of `RigidBodyTree.cpp` fails with

[code]

This error occurs because `drakeRBSystem` is not currently listed as a dependency for `drakeRBM`. I think we should keep it t

[2016-05-15 17:38] avalenzu commented on #2338
To follow up, on my machine this was caused by #2357

[2016-05-16 11:29] jwnimmer-tri commented on #2348
I can go along with this under two conditions, (1) no other directory populates `drake::` directly, and (2) given an identifier (`NiceTypeName` in this case) it is reasonably clear which `#include` statement it came from (true in this case).

[2016-05-16 13:20] jamiesnape commented on #2352
Because we cannot enable private repos on Windows due to a bug in Jenkins.

[2016-05-16 14:05] sammy-tri commented on #2306
Removing myself as assignee -- I don't have any more cleanups planned in the near future.

[2016-05-16 14:37] liangfok commented on #2357
I also just accidentally encountered this issue on my machine, except it's not because I set `WITH_LCM = OFF`. Instead, for some reason, LCM was not found on my machine when I tried to compile Drake this morning:

[code]
Later, as this issue states, there's a compiler error due to a missing `drakeRBSystem_export.h`.
[code]

[2016-05-16 14:44] amcastro-tri opened #2361 "Expose Bullet (or any other collision library) specific API to user"
## The problem

[In my fork](https://github.com/amcastro-tri/drake/blob/APIAccesstoBulletModel/drake/systems/plants/test/lidarTest.cpp#L52) I show how it would be useful to expose Bullet specific (Bullet in this example but it could be FCL or any other) API's to the user. In that example the user has the option to specify a Bullet specific algorithm for ray casting.

This would require the user to

[2016-05-16 15:14] #2348 closed

[2016-05-16 15:29] sherm1 commented on #2361
My first thought is that this is not a good idea because it exposes the fact that we are using Bullet, which we would like to replace with our own library later. If there is some option that a user needs to control, why not abstract that into Model and leave for the underlying code how to implement that option?

[2016-05-16 15:35] amcastro-tri commented on #2361
Because these options are specific to the particular implementation. For instance FCL won't have the option to choose the `GJK` cast algorithm (and maybe others). That is why the user guards the code with `#ifdef BULLET_COLLISION` and then `dynamic_cast`'s to `BulletModel`.

[2016-05-16 15:49] sherm1 commented on #2361
Why should a user even have that option? Shouldn't they just ask us to raycast and let us figure out the best way to accomplish it with the collision engine we're using? For example, in this case we certainly don't want the user picking Bullet's broken algorithm.

[2016-05-16 16:02] jamiesnape opened #2364 "cpplint failing due to [build/include] warnings"
`[build/include]` is disabled in `CPPLINT.cfg` pending the resolution of this issue.

[code]

[2016-05-16 16:21] liangfok opened #2366 "Matlab License Error"
I'm encountering the following problem:

[code]
@amcastro-tri also occasionally encounters this problem, which is sporadic and unpredictable.

[2016-05-16 16:45] david-german-tri commented on #2366
This is a TRI-internal IT issue, not a Drake issue.

[2016-05-16 16:45] #2366 closed

[2016-05-16 17:13] jwnimmer-tri opened #2367 "Fix or suppress cpplint warnings for runtime/string"
We should fix cpplint's `runtime/strong` warnings throughout our code (and/or suppress them on a one-by-one-basis), and then stop suppressing the warning globally in `drake-distro/drake/CPPLINT.cfg`.  This is a break-out from #2064.

[2016-05-16 17:19] liangfok commented on #2366
Should Drake's build system automatically switch to non-Matlab Drake when it encounters a problem with the local Matlab installation?

Perhaps print a warning prior to the switch?

I ask because I was just trying to build the documentation when this error popped up.

[2016-05-16 17:24] jwnimmer-tri commented on #2366
If you've asked to have a particular working copy be a matlab build, and then matlab stops working, I think its entirely reasonable for the build / build system to complain and fail.  Build systems that say "oh well" and ignore problems are _not_ good build systems.  The textual output doesn't matter (so the warning text doesn't help); the only relevant output of a build should be its exitcode.

[2016-05-16 17:56] liangfok commented on #2366
I don't mean to cause a ruckus but I don't think I "asked to have a particular working copy be a matlab build." Instead, the build system decided for itself to be a matlab build presumably because it found MATLAB in the path. Perhaps this brings about a bigger question of how much control we should have over the build settings.

[2016-05-16 17:58] jwnimmer-tri commented on #2366
Yup.  And if you don't want to have matlab on by default, you can run `make options` again either with matlab unfindable on your path, or with `DISABLE_MATLAB=True` set.

[2016-05-16 18:09] jamiesnape commented on #2330
Same problem in the latest continuous build:
https://drake-jenkins.csail.mit.edu/job/mac-clang-continuous-debug/168/consoleText
https://drake-cdash.csail.mit.edu/viewBuildError.php?onlydeltap&buildid=20700

[2016-05-16 18:10] liangfok commented on #2366
Yeah, I'll use that. I was just thinking that if the build system can decide by itself to use matlab, it should also be able to decide by itself not to use matlab if it encounters a problem.

[2016-05-16 18:27] david-german-tri commented on #1723
Problem still exists.  Updated cdash link: https://drake-cdash.csail.mit.edu/viewBuildError.php?type=1&buildid=20298

[2016-05-16 18:34] jwnimmer-tri commented on #1723
FWIW, for things like this, I recommend fixing the primary platforms first (gcc and clang) by turning on the analogous warnings there, and fixing the code -- and only then looking at Windows.  The closer we can keep the Ubuntu warnings and the Windows warnings, the better.

[2016-05-16 18:53] david-german-tri commented on #1723
Good idea for the subset of warnings from Drake, but most of them are from an external.

[2016-05-16 18:54] billhoffman commented on #1723
Seems like a good place to start would be adding -Wsign-conversion on clang.

[2016-05-16 19:21] liangfok commented on #2116
How can we get [ROS Indigo](http://wiki.ros.org/indigo) installed and configured on `gcc + linux` build server?

[2016-05-16 19:22] jamiesnape commented on #2116
Create a ticket.

[2016-05-16 19:24] jwnimmer-tri commented on #2116
@liangfok Start with the developer docs, saying how to install it on the platforms you intent to support it on.  Then a ticket can get CI to replicate that in the cloud.

[2016-05-16 19:27] liangfok commented on #2116
By "ticket" do you mean a Github.com issue? If so, do I create the ticket in this repository or another one like https://github.com/RobotLocomotion/drake-ci?

Thanks!

[2016-05-16 19:28] jamiesnape commented on #2116
Yes and create the ticket in this repo.

[2016-05-16 19:37] liangfok opened #2369 "ROS Indigo Needs to be Installed on CI Build Server gcc + Linux"
The official instructions for installing ROS Indigo are available [here](http://wiki.ros.org/indigo/Installation/Ubuntu). I've reproduced the commands that need to be executed below.

[code]
This issue must be resolved before we can resolve https://github.com/RobotLocomotion/drake/issues/2116.

[2016-05-16 19:50] 130s commented on #2116
Just FYI, for ROS specific CI configurations, I'm maintaining a package that provides configs (currently Travis CI only) that can be commonly used so that package maintainers don't need to be bothered for maintaining CI configs. It's called [industrial_ci](http://wiki.ros.org/industrial_ci).
Despite how the package name sounds, it can be and has been used in non industrial setting ROS packages. Pl

[2016-05-16 20:21] sherm1 commented on #1723
+1 for fixing this. I filed lcm-proj/lcm#63 on this topic. They enthusiastically requested a PR! I briefly attempted to build lcm standalone and failed miserably on glib as described in the issue.

[2016-05-16 21:26] david-german-tri commented on #1723
`-Wsign-conversion` on Clang produces 4,278 warnings that are neither a subset nor a superset of MSVC `C4267`.  Spot-checking a few, they appear technically-wrong-but-harmless.  I don't think it's worthwhile to fix them en masse.

Honestly, the same seems true about `C4267`, so I've downgraded the whole thing to `priority: backlog`.

[2016-05-16 21:50] david-german-tri commented on #2068
@jamiesnape has been doing a bunch of evictions.  The longest presubmit MATLAB test is now about 4 min, 30 sec: https://drake-cdash.csail.mit.edu/viewTest.php?buildid=20734

We're currently running about 35 minutes for the MATLAB presubmit build, about 20 minutes of which are test execution.  I took a look at ratcheting down execution times:

For the [slowest-remaining test](https://github.com/Rob

[2016-05-16 22:18] sherm1 commented on #1723
I don't agree about C4267. The ones I've checked always involve someone shoving 64 bit values (typically size_t) into 32 bit values (typically int). That is harmless if values are limited to 32 bits, which is typically the case. But disabling that warning means potentially missing legitimate 32-to-64 bit porting problems, which will be harmless just until bit 33 gets set in the field. Leaving the

[2016-05-17 00:41] #2194 closed

[2016-05-17 02:24] jwnimmer-tri opened #2372 "Ubuntu builds are violating several gcc and clang warnings"
Most warnings from gcc are correct and useful, but we have them turned off because Drake code violates them.  I will post a checklist here shortly, once I've collected the data.

[2016-05-17 02:25] jwnimmer-tri commented on #1722
The top-post's link is dead now.  Closing as duplicate of #2372, anyway.

[2016-05-17 02:25] #1722 closed

[2016-05-17 02:26] jwnimmer-tri commented on #2372
Here's the current subset of `-Wall` that I've had to suppress.
[code]

[2016-05-17 02:29] jwnimmer-tri commented on #2372
FTR, I started to fix each one of those four warnings a bit, and each one was finding true-positive defects in the source tree.  I also intent to find `-Wextra` and beyond warnings that evidence true-positive bugs, and add them into this ticket as well.

[2016-05-17 05:12] sherm1 opened #2374 "Allow `size_t` and `ptrdiff_t` to be used without explicit `std::` namespace"
`size_t` and `ptrdiff_t` are related standard types defined in C and C++ and are very useful. In Drake we frequently use `size_t` without the `std::` qualifier (which I think is a good idea). `ptrdiff_t` is used less often but should be written the same way as `size_t`. (That is, we are writing them as though they were in the global namespace.)

For a long discussion, see [stackoverflow](http://st

[2016-05-17 05:41] liangfok commented on #2374
+1 for using `size_t` and `ptrdiff_t` under one condition: we add a rule to the style guide disallowing `std::size_t` and `std::ptrdiff_t`. I always think it's best to be consistent. In this case, being concise _and_ consistent is a bonus.

[2016-05-17 12:40] liangfok commented on #1712
I'm going to close this issue since https://github.com/RobotLocomotion/drake/pull/2354 was merged. Please re-open if this issue is not 100% resolved.

[2016-05-17 12:40] #1712 closed

[2016-05-17 13:39] david-german-tri commented on #2374
Fine with me.

[2016-05-17 13:43] jwnimmer-tri commented on #2374
Even better than a hard and fast rule in `code_style_guide.rst`, I'd like to have `cpplint` enforce it.  (Style rules without tool enforcement are error-prone, and waste our brain power.)  It should be relatively trivial to add, and I'll volunteer do to it if we agree on this rule.

[2016-05-17 13:45] david-german-tri commented on #2374
That sounds great, but it also sounds like you're volunteering to fork cpplint?

[2016-05-17 13:51] jwnimmer-tri commented on #2374
Yes (sorta).  I've already said that we should have it as a superbuild external, not a platform library.  I hope / believe I will be able to integrate new out-of-source rules into it relatively easily, and manage the vendoring in a way that is easy for us to track upstream.

[2016-05-17 14:12] liangfok commented on #2204
Here are some more comments from @sherm1:

[2016-05-17 15:07] sherm1 commented on #2374
+1 for enforcement. However, I'll add it to the style guide now in anticipation of future Jeremy magic.

[2016-05-17 15:12] #2344 closed

[2016-05-17 16:19] billhoffman commented on #1786
The CI system seems to be stabilizing, so we should be able to focus on this in the next two weeks again.  The next step is to update the superbuild in director to use this Qt: https://github.com/Kitware/fletch/pull/24, and this VTK : https://github.com/billhoffman/VTK/tree/vtk5.10-visual-studio-2013-2015-patches.   @jonathan-owens is going to be looking at this next.

[2016-05-17 16:38] kuindersma opened #2383 "Dirtran bug using midpoint interpolation?"
I was just looking at the dirtran Matlab implementation and it seems that we should be constraining u(N)=0 when using midpoint interpolation since u(N) affects x(N) but is never executed.

[2016-05-17 18:22] jamiesnape opened #2384 "WITH_IRIS option should depend on WITH_MOSEK option"
[code]
https://drake-cdash.csail.mit.edu/viewBuildError.php?buildid=21741

[2016-05-17 18:42] jamiesnape commented on #2341
Also https://drake-cdash.csail.mit.edu/viewBuildError.php?buildid=21832.

[2016-05-17 18:50] jwnimmer-tri commented on #2078
I believe that the LONG_RUNNING_TESTS has solved this?

Though perhaps _how_ to run the tests via CMake on your workstation still needs to be documented in developers.rst or something?

[2016-05-17 18:56] liangfok commented on #2078
I believe the instructions on how to run unit tests are here and that they also apply to long running tests: http://drake.mit.edu/unit_testing_instructions.html

[2016-05-17 18:59] jwnimmer-tri commented on #2078
Possibly, but did you try it?  I didn't think CTest knows the long running test names that match its `-R` argument unless you have manually configured LONG_RUNNING_TESTS=ON in your CMakeCache.

[2016-05-17 19:01] jamiesnape commented on #2384
Iris will be disabled from the superbuild at 3:30pm ET if issue is still outstanding.

[2016-05-17 19:06] david-german-tri commented on #2384
Isn't it already disabled in the superbuild?

[2016-05-17 19:09] jamiesnape commented on #2384
It is enabled on MATLAB builds other than Windows.

[2016-05-17 19:13] liangfok commented on #2078
Oh yeah, you're right. Looks we need to run `cmake -DLONG_RUNNING_TESTS=ON ..` from within the build artifacts directory to get them to show up. I'm testing now and will issue a PR if this is correct.

[2016-05-17 19:13] #2374 closed

[2016-05-17 19:15] rdeits commented on #2384
iris requires mosek, so we shouldn't be enabling it on systems that don't have mosek enabled

[2016-05-17 19:25] jamiesnape commented on #2384
@rdeits You may wish to update the documentation of Iris. It does not say MOSEK is required.

[2016-05-17 19:26] jamiesnape commented on #2384
I will disable on CI. Someone will need to follow up in the main repo so that Iris cannot be enabled without MOSEK.

[2016-05-17 19:52] sammy-tri commented on #2078
I've only been able to figure out how to get the long running tests to show up by editing the CMakeCache (at @jwnimmer-tri 's suggestion).  A command line equivalent which could be invoked for a single ctest run would be interesting if it were doable.

[2016-05-17 20:07] liangfok commented on #2078
I'm updating the wiki right now with instructions.  Please hold...

[2016-05-17 20:09] jonathan-owens commented on #1786
Regarding @billhoffman's post above, we actually had to use this Qt in this PR: https://github.com/Kitware/fletch/pull/34. It is not merged yet.

I am building VTK on my local windows machine right now.

[2016-05-17 20:29] jonathan-owens opened #2385 "Malformed TOC Entry on mac build"
[code]

https://drake-cdash.csail.mit.edu/viewBuildError.php?buildid=21971

[2016-05-17 20:55] david-german-tri opened #2387 "Mac CI is flaky due to...system clock?"
https://drake-jenkins.csail.mit.edu/job/experimental/1531/compiler=clang,label=mac/consoleFull

From the `nlopt-build` step:

[code]

The ultimate failure on `Could NOT find GTest` is a red herring.  The superbuild terminated on the NLOPT build problem before it could get around to building GTest, but proceeded to try to build Drake anyway.

[2016-05-17 20:55] david-german-tri opened #2388 "CI shouldn't bother trying to build or test Drake if the superbuild fails"
See #2387 for an example.

[2016-05-17 20:57] jamiesnape commented on #2388
There is a fundamental problem with Drake, I think. Normally, the child build would not happen.

[2016-05-17 20:59] jamiesnape commented on #2387
Very strange.

[2016-05-17 21:24] david-german-tri commented on #2252
https://github.com/RobotLocomotion/drake-ci/commit/2ad32bd2ec2db9ffec66f08407b75011943b33c0

[2016-05-17 21:24] #2252 closed

[2016-05-17 21:42] liangfok commented on #2347
Now that https://github.com/RobotLocomotion/drake/pull/2356 was merged, I am able to re-test this again. Unfortunately, I wasn't able to replicate the error on my machine:

[code]

[2016-05-17 21:47] jamiesnape commented on #2351
Is this being handled by the optimization team (per the label)? What is the priority? It would probably be best to split the CI part into a different ticket and assign it to me.

[2016-05-17 21:48] liangfok commented on #2347
I believe the error is stemming from:

./systems/plants/@RigidBodyManipulator/RigidBodyManipulator.m:          error('Drake:RigidBodyManipulator:UnsupportedFileExtension','Unrecognized file extension: %s for file %s',ext,name);

[2016-05-17 21:54] jamiesnape commented on #2257
To clarify, I had omitted to add the parameter to that build, not that it was hidden per se.

[2016-05-17 22:08] jamiesnape opened #2390 "Use -nojvm option when starting MATLAB on Linux and OS X?"
-- http://www.mathworks.com/help/matlab/matlab_env/commonly-used-startup-options.html

We start MATLAB >400 times per build. Do we require any functionality that is restricted by disabling the JVM?

[2016-05-17 22:12] liangfok commented on #2347
As a point for comparision, [here](https://drake-cdash.csail.mit.edu/testDetails.php?test=656025&build=19702) is the failure log and [here](https://drake-cdash.csail.mit.edu/testDetails.php?test=659103&build=21165) is a successful log.

[2016-05-18 13:55] sammy-tri commented on #2351
It's not currently bring handled by the optimization team.  We've actually found some fairly major issues with NLopt, so it might be best to wait on this one until we've found the right strategy going forward.

[2016-05-18 13:57] jamiesnape commented on #2351
That is fine. Just checking that you were not waiting on us for any reason.

[2016-05-18 14:30] billhoffman commented on #2156
This is now working.

[2016-05-18 14:30] #2156 closed

[2016-05-18 14:41] billhoffman commented on #2199
Is this still an issue?

[2016-05-18 15:02] david-german-tri commented on #2341
Happened again here: https://drake-jenkins.csail.mit.edu/job/experimental/1534/compiler=clang,label=mac/consoleFull

[2016-05-18 15:42] jamiesnape commented on #2199
No. Bad instances are killed automatically.

[2016-05-18 15:42] #2199 closed

[2016-05-18 15:54] #2357 closed

[2016-05-18 15:57] david-german-tri commented on #2390
Examples often invoke figures, so it depends how hard the failure is with `-nojvm`.  As we just discussed f2f, I'll give it a try (once I dig out from my notes how to pass a flag to MATLAB).

[2016-05-18 15:57] david-german-tri commented on #2352
Proposed workaround from f2f discussion: bake SNOPT into the Windows AMI for now.

[2016-05-18 15:59] david-german-tri commented on #2388
As discussed f2f, this should be possible to short-circuit in the CI script.

[2016-05-18 16:12] #2078 closed

[2016-05-18 16:44] jonathan-owens commented on #2385
Still happening: https://drake-cdash.csail.mit.edu/viewBuildError.php?buildid=22412

[2016-05-18 16:46] david-german-tri commented on #2390
I'm going to stream notes to this issue for a little bit; no need for anyone to reply.

I got errors around here on my first attempt to use `-nojvm`.  Don't yet know if they're fatal or not, but the comment implies we need the JVM for at least some tests.

https://github.com/RobotLocomotion/drake/blob/59a62d2dbe484b713c6e25561bdc3d647a4d17a7/drake/addpath_drake.m#L94

[2016-05-18 18:35] liangfok opened #2393 "Drake Doxygen Website Does Not Include Examples"
It would be nice to generate the Doxygen webpages for the C++ files within `drake/examples`. At a minimum, this would enable us to verify that our Doxygen comments are rendered correctly.

[2016-05-18 19:14] david-german-tri commented on #2390
@RussTedrake says he put a fair amount of work into stripping out Java dependencies in the past, in the hopes that `-nojvm` would improve performance on Atlas.  However, he was never able to get completely Java-free.  So, I'm going to conclude the answer to the original question is "yes", and close this issue.  Too bad.  :-/

[2016-05-18 19:14] #2390 closed

[2016-05-18 19:19] jamiesnape commented on #2388
e.g., https://drake-jenkins.csail.mit.edu/job/mac-clang-continuous-debug/189/console

[2016-05-18 19:19] #2388 closed

[2016-05-18 19:23] jamiesnape commented on #2387
Fixed via vSphere configuration.

[2016-05-18 19:23] #2387 closed

[2016-05-18 19:27] david-german-tri commented on #2388
very nice!

[2016-05-18 19:28] jonathan-owens opened #2394 "Mac builds are having MATLAB licensing issues."
See, e.g., https://drake-cdash.csail.mit.edu/testDetails.php?test=696611&build=22322 or https://drake-cdash.csail.mit.edu/testDetails.php?test=697366&build=22531 for a couple examples.

This doesn't happen in every (or even most) MATLAB tests.

[2016-05-18 22:28] billhoffman commented on #1786
The PR is  now merged into fletch https://github.com/Kitware/fletch/pull/34

[2016-05-19 02:30] liangfok opened #2397 "Mysterious CI error: Agent went offline during the build"
Here's an example:

https://drake-jenkins.csail.mit.edu/job/experimental/1562/compiler=clang,label=mac/console

Any idea what's the cause?

[2016-05-19 12:12] jonathan-owens commented on #2394
Seemed to be a network error that worked itself out.

[2016-05-19 12:18] jonathan-owens opened #2398 "Windows builds failing functional_form_test"
See, e.g. https://drake-cdash.csail.mit.edu/testDetails.php?test=701236&build=22748.

@bradking: The below changes seem to have broken the Windows builds.

https://github.com/RobotLocomotion/drake/commit/ab8bf49c61cec1192b6b179f3de4a136cc7ccd1f

[2016-05-19 13:19] bradking commented on #2398
See PR #2400.

[2016-05-19 13:27] bradking commented on #2398
Strange that it worked locally and in all the pre-integration tests.  I suspect the difference is whether `PATH` in the environment contains `$top/drake/lib/$config` in addition to `$top/install/lib`.  With both entries then the install rule is not needed to run the test.

[2016-05-19 13:44] billhoffman commented on #2398
I don't think it is a PATH issue unless this test requires a different PATH than any of the other tests.

[2016-05-19 13:48] billhoffman commented on #2398
It is just failing on the nightly build: https://drake-cdash.csail.mit.edu/testSummary.php?project=1&name=functional_form_test&date=2016-05-19

[2016-05-19 13:49] david-german-tri commented on #2397
@jamiesnape FYI we're still seeing these occasionally post-XServe.

[2016-05-19 13:51] bradking commented on #2398
My PR fixes it, but I'm wondering how this was passing anywhere before the fix.

[2016-05-19 13:51] jamiesnape commented on #2397
Network issues, especially as we are over-capacity due to maintenance. Whatever type of Mac we use, it will always be located 900 miles away through a VPN connection.

[2016-05-19 13:53] jamiesnape commented on #2397
By all means file the issue, but I cannot fix the realities of cloud computing.

[2016-05-19 13:58] billhoffman commented on #2398
Seems like the ctest script has too much in the PATH... It has this:     "${DASHBOARD_WORKSPACE}/drake/pod-build/lib/Release"  That would explain why it failed on MS IDE Debug, and all Ninja builds, but passed on all release builds.

[2016-05-19 14:02] david-german-tri commented on #2397
That makes sense.  Thanks.

[2016-05-19 14:05] bradking commented on #2398
Yes, that should be removed so all the builds work consistently.

[2016-05-19 14:09] liangfok commented on #2397
@jamiesnape: Thanks for the explanation.
@david-german-tri Thanks for closing the issue now that we have an explanation.

[2016-05-19 14:12] billhoffman commented on #2398
Yup, we are removing it.

[2016-05-19 14:13] bradking commented on #2398
With PR 2400 merged this issue is resolved.

[2016-05-19 14:13] #2398 closed

[2016-05-19 20:13] jwnimmer-tri opened #2405 "Linux buildslaves appear to be not working"
Linux buildslaves appear to be not working well (at least, their throughput is way down)...

@jonathan-owens (buildcop) please take a look, for example: https://drake-jenkins.csail.mit.edu/job/experimental/1582/ ... a while ago none of the linux builds were started, and only just now did cpplint start up.

[2016-05-19 20:36] david-german-tri commented on #2055
Thanks, @maddog-tri!

[2016-05-19 20:36] #2055 closed

[2016-05-19 20:38] #2170 closed

[2016-05-19 20:40] #2095 closed

[2016-05-19 20:44] david-german-tri commented on #1896
Is this still open?

[2016-05-19 20:48] david-german-tri commented on #1889
We only test on Visual Studio 2015.  I can't promise that upgrading will fix your problem, but it sounds like the logical next step to me.

http://drake.mit.edu/developers.html

Closing this issue for now.  Please feel free to reopen if you have additional evidence of a build problem in Drake on a supported platform.

[2016-05-19 20:48] #1889 closed

[2016-05-19 20:49] david-german-tri commented on #2190
@ErikSobel-TRI is this still an open issue?

[2016-05-19 20:53] david-german-tri commented on #1880
I think that System2 will make a much cleaner LCM publisher possible.  In the meantime, I'm going to close this issue because I don't think it leads to a specific item of work; there's no percentage in fixing up the System1 publishers at this point.

[2016-05-19 20:53] #1880 closed

[2016-05-19 20:57] david-german-tri commented on #1881
I think C++ classes are the de-facto consensus.

[2016-05-19 20:57] #1881 closed

[2016-05-19 21:06] liangfok commented on #1896
Yes. I have not had time to revisit it. The Prius URDF and SDF models are definitely not symmetric around the sagittal plane right now. :frowning:

Will work on fixing this soon.

[2016-05-19 21:07] david-german-tri commented on #1935
OK, since this was vetoed by @RussTedrake and everyone else seems to have come to terms with that (no activity in a month) I'm closing it.

[2016-05-19 21:12] jamiesnape commented on #2369
Note that on the build server we would omit
[code]
Instead, `source /opt/ros/indigo/setup.bash` would be added to the driver script in drake-ci. Shell startup scripts are not called by Jenkins.

[2016-05-19 21:15] ErikSobel-TRI commented on #2190
Nope. I solve that.

But I'm not 100% sure I remember what the solution was.  One thing we fixed
was the PYTHON_VERSION MAJOR MINOR not being specified correctly possibly
in drake/bindings/swig/CMakeLists.txt (it just specified python2 and not
python2.7)

Then there was a separate issue where cmake was picking up the wrong VTK
because I have built VTK-7.0 from source on my Mac as well.  But I thin

[2016-05-19 21:32] liangfok commented on #1889
Also note the updated Windows install instructions:
http://drake.mit.edu/windows.html

[2016-05-19 21:40] #2190 closed

[2016-05-19 21:47] jamiesnape commented on #2405
Were any Linux slaves offline or dead?

[2016-05-19 21:51] david-german-tri commented on #2405
`i-edd77977` appeared offline in Jenkins, but appeared live in AWS.

[2016-05-19 22:07] jamiesnape opened #2408 "Warnings while building Sphinx documentation"
[code]

[2016-05-19 22:08] jwnimmer-tri commented on #1935
I literally cannot comprehend how reconcile these statements:
- developers should be writing `assert`s in their new drake code;
- developers should have `assert`s turned on in drake when developing new code, otherwise how do you know if they are even syntactically correct (nevermind functionally correct);
- superbuild libraries have `assert` statements that make code run 100x (unbearably) slower;

[2016-05-19 22:10] jamiesnape opened #2409 "Warnings while building Doxygen / MATLAB documentation"
Currently 1365 warnings. For example, see https://drake-cdash.csail.mit.edu/viewBuildError.php?type=1&buildid=23276.

[2016-05-19 22:11] jamiesnape commented on #2405
Not seeing anything obvious in the logs.

[2016-05-19 22:14] jwnimmer-tri commented on #1935
Top post has been edited now (hopefully clearly); re-opening the issue for discussion.

[2016-05-19 22:16] sherm1 commented on #1935
I believe the solution that was more-or-less a consensus (and didn't get vetoed) was
- don't touch NDEBUG or the standard assert() behavior
- add a pair of macros, say DRAKE_ASSERT_ALWAYS and DRAKE_ASSERT_DEBUG that have always-on and debug-only default behavior but can be overridden at our discretion
- start using those macros instead of standard assert()

[2016-05-19 22:19] jwnimmer-tri commented on #1935
For the record, I can easily accept sherm1's proposal as well, though I may rue the PR code review griping of "this assertion too expensive, it should be DEBUG not ALWAYS".  The thought with my new proposal in the top post is that in true release builds, asserts are off.  But we can opt-in to having them on when we want them, even in "release" builds, which Drake developers should always do.

[2016-05-19 22:23] jwnimmer-tri commented on #2405
Things seem to be healthy again now.  I am content to let kitware keep this open if they want to root cause it; otherwise it can be closed.

[2016-05-19 22:40] liangfok opened #2410 "Mysterious MATLAB Failures - Undefined function "num2cell" and "substruct""
# Problem Definition

See: https://drake-cdash.csail.mit.edu/viewTest.php?onlyfailed&buildid=23199

Which is part of: https://drake-jenkins.csail.mit.edu/job/experimental/1585/compiler=gcc,label=linux_matlab/

Which occurred in: https://github.com/RobotLocomotion/drake/pull/2171

# Prognosis

MATLAB licensing issue. Test program failed to get a toolbox license resulting in the function not being a

[2016-05-20 10:15] RussTedrake commented on #1935
i like the idea that true release builds have all assertions disabled.  (that is the entire point of an assert statement, in my mind).  So having a cmake option, or whatever, allowing developers to work with those assertions enabled but not incurring the cost of running eigen in debug mode seems reasonable to me.

[2016-05-20 10:21] RussTedrake commented on #2165
@rdeits -- thanks for looking into this.  agreed that this is very sketchy.  should we merge your fix or investigate further?

[2016-05-20 10:48] RussTedrake commented on #2165
possibly (probably?) related -- https://github.com/RobotLocomotion/drake/pull/2376 and https://drake-cdash.csail.mit.edu/viewTest.php?onlydelta&buildid=21003 , which was a seemingly unrelated change.  it seems very likely that we have a memory ghost in instantaneousQP .

[2016-05-20 10:48] RussTedrake commented on #2165
adding @ggould-tri @jamiesnape to the conversation

[2016-05-20 13:09] jwnimmer-tri opened #2413 "jenkins: Build and test under Bazel"
(Broken out of #2403 discussion.)

For documentation-only PRs, it would be nice to have the fastest possible pass / fail result from jenkins (whether the doc changes broke the build), but I believe currently the documentation build is configured as part of the matlab build, and waiting for matlab tests (or any tests) to run first seems like it will would slow things down somewhat.

I suppose runni

[2016-05-20 13:38] nate-tri commented on #1935
As a note, I would like to point out that for programs that accept input
from disk or the network, if assertions are to be turned off, it's
important that the input validation logic not rely on assertions.

I think it would be misleading to title something "DRAKE_ASSERT_ALWAYS" if
in fact it does not always perform the assertion check.

On Fri, May 20, 2016 at 6:15 AM, Russ Tedrake <notifications@

[2016-05-20 15:39] sherm1 commented on #1935
The idea with `DRAKE_ASSERT_ALWAYS` is that it represents some kind of cheap bugcatcher that is to be left on in Release builds (i.e. always!). It still should not be used for input validation checks though -- an assert is there to express invariants that are guaranteed to be true if the code is correct, regardless of user input. Typical use of assert_always is to check some precondition before en

[2016-05-20 16:55] jamiesnape commented on #2413
We really could do with cleaning up the Sphinx and Doxygen warnings so we can switch on the equivalent of `-Werror` for those. See #2408 and #2409.

[2016-05-20 17:02] jwnimmer-tri commented on #2413
Agree for sphinx.  Doxygen I've been burned before, so would need to ponder a bit more.

[2016-05-20 17:58] david-german-tri commented on #1952
This was fixed in #2370.

[2016-05-20 17:58] #1952 closed

[2016-05-20 18:06] sherm1 commented on #2413
I agree for both. I've had good luck with large projects with a warning-free Doxygen requirement. In my experience the warnings are almost always actual problems. However, currently we are very close for Sphinx and very far away for Doxygen. (I think this is because we haven't been requiring developers to test their Doxygen along with their code. Ahem.) We could fix Sphinx in one PR and stretch ou

[2016-05-20 18:10] jamiesnape opened #2416 "MATLAB tests fail when drake\pod-build\lib\Release is not in PATH on Windows"
See https://drake-cdash.csail.mit.edu/viewTest.php?onlyfailed&buildid=23667. A build directory should not need to be in the PATH. A library may not be getting installed correctly.

FYI @RussTedrake.

[2016-05-20 21:44] RussTedrake commented on #2416
Could to catch and flag these.  I know that we were not sufficiently careful about this in the past.

[2016-05-21 01:00] liangfok opened #2422 "Some C++ Methods Are Not Included in Doxygen Website"
For example, I'm not seeing `parseWorldJoint()` and other methods defined in `drake/systems/plants/RigidBodyTreeURDF.cpp`.

By not showing up, it's hard to test / debug the Doxygen comment.

[2016-05-21 01:08] sherm1 commented on #2422
Doxygen comments should be collected only from header files, not `.cpp` or `.cc` files. Any doxygen in the code should be moved from the definition to the header declaration if it is intended to be visible.

[2016-05-21 05:15] liangfok commented on #2422
I would argue that Drake developers would be interested in seeing _every_ method documented in Doxygen. We can later remove those that are not relevant to Drake users when we generate a Doxygen website for Drake users.

If no one objects, I will start adding method declarations to header files for methods that currently don't show up in the Doxygen-generated website.

[2016-05-21 12:16] liangfok commented on #1935
I think exceptions or `if` statements should be used to deal with invalid input from a disk or network since that would allow a meaningful message to be included with the thrown exception or printed to the console. Is the concern here that the logic within the `if` statements that is necessary to decide whether to throw an exception is too costly?

[2016-05-21 16:38] liangfok commented on #1935
As @jwnimmer-tri mentioned in the above-linked post, let's generalize this discussion to include a reusable `DRAKE_ASSERT()` macro for throwing exceptions. This macro will include details like the file name, method name, and line number, which will be useful for debugging. It will also allow us to modify all exceptions from a central location.

[2016-05-21 22:08] sherm1 commented on #2422
I'm not sure exactly what you mean, Liang. Doxygen documentation is for API users and should not confuse them with anything that is not part of the intended API. There are other modes you can run Doxygen in to produce output that is useful for developers -- you can even make it document private methods. But that is inappropriate for end users and should not be out normal use of Doxygen. You would

[2016-05-21 22:24] liangfok commented on #2422
We have not formally defined who are audience is. Based on informal conversations, I believe we are currently targeting domain experts who are also c++ experts. These people, in my mind, would all fall under the category of "Drake developers". It actually excludes "Drake users". Thus, I'm thinking our Doxygen output should target people who are working deeply within Drake's implementation.

Once D

[2016-05-21 22:31] sherm1 commented on #2422
I disagree. Doxygen should be for users. It takes a long time to develop good API documentation and we should be doing it and debugging it now. Most Drake users, including Russ's Underactuated Robotics students, access Drake through Matlab and use the Matlab-formatted doxygen that comes from the same source code as our C++ doxygen. Developers are very resourceful and can read the code or generate

[2016-05-21 22:33] liangfok commented on #2422
Oh, I didn't realize that changing the C++ Doxygen results in chaining the Matlab Doxygen. Is that true? If so, I would consider that a defect.

[2016-05-21 22:50] liangfok commented on #2422
Here is another consideration:

C++ Drake is still in a nascent form that will continue to undergo tremendous change in the near future. We are not entirely sure how people will be using C++ Drake in the future. Thus, wouldn't it be presumptuous of us to assume that certain methods within Drake will not be of use to any future C++ Drake user? Wouldn't it be better to expose every single method at

[2016-05-21 23:59] liangfok commented on #2330
Looking at the [mac-clang-continuous-debug](https://drake-jenkins.csail.mit.edu/job/mac-clang-continuous-debug/168/consoleText) log file, here are the places that mention "planar_lidar_t":

On line 12,955, Java code is generated:
[code]

On line 38,574, `lidarTest.cpp` fails to include `planar_lidar_t.hpp`:
[code]

On line 46,073, `lidarTest.cpp` again fails to include `planar_lidar_t.hpp`:
[code]

[2016-05-22 03:02] liangfok commented on #2330
Since this issue is a duplicate of https://github.com/RobotLocomotion/drake/issues/2341, I'm going to close this issue.

[2016-05-22 03:02] #2330 closed

[2016-05-22 12:51] liangfok commented on #2341
I believe the relevant code is in `[drake-distro]/externals/lcm/lcm/lcm-src/lcm-java/CMakeLists.txt` line 28.

[code]

Assuming the above is correct, I think we should modify the file to log the values of `${lcm_java_files}` and `${jchart2d_files}` so we know exactly what's being passed to `jar`.

[2016-05-22 17:57] sherm1 commented on #2422
APIs have to be carefully designed. Throwing everything in and then removing what doesn't stick is not a good approach!

[2016-05-22 18:43] liangfok commented on #2422
OK. I will close this issue for now.

[2016-05-22 18:43] #2422 closed

[2016-05-23 10:43] wxmerkt opened #2427 "Documentation SSL Certificate Error"
Given that the documentation is hosted on GitHub Pages and a custom subdomain is being used, SSL certificate errors are shown when accessing https://drake.mit.edu as the certificate is for *.github.io/github.com.

GitHub Pages [does not support HTTPS](https://github.com/isaacs/github/issues/156) just yet, but there are workarounds using a [reverse proxy](https://pascal.io/github-pages-https/) or [

[2016-05-23 14:35] jamiesnape commented on #2427
The URL is http://drake.mit.edu. Where are you seeing a reference to HTTPS?

[2016-05-23 14:42] jamiesnape opened #2428 "Make disabling -Werror a CMake option"
#2370 is breaking some of the more exotic CI builds, so we need an easy way to switch it off.

CC @david-german-tri @jwnimmer-tri.

[2016-05-23 14:45] jwnimmer-tri commented on #2428
@jamiesnape Please link to one or two breaks, for our reference.

[2016-05-23 14:47] jamiesnape commented on #2428
e.g.
[code]

[2016-05-23 14:48] jamiesnape commented on #2428
The MSan builds, in particular. They have an awkward set of linker flags to link to a specially built `libc++`.

[2016-05-23 14:49] jamiesnape commented on #2428
And it is sometimes useful when developing to have this option, anyway.

[2016-05-23 14:54] jwnimmer-tri commented on #2428
[Jenkins msan](https://drake-jenkins.csail.mit.edu/view/Dynamic%20Analysis/job/linux-clang-nightly-memcheck-msan/) link for the record.

Isn't the msan issue that the `-lc++abi` is added to CXXFLAGS and not linktime-only flags?  What is the nominal CMake spelling for CXXLDFLAGS or whatever?

In any case, I have a WIP patch in the wings that changes `-Wall -Werror` to `-Werror=all`, which would be

[2016-05-23 15:01] jamiesnape commented on #2428
It is a pods workaround for the superbuild. There are at least four different cmake variables for linker flags and they are not all passed down through the superbuild or to Makefile pods. Given we are trying to get rid of pods and this is a very unusual and not very crucial build, fixing that has been not been a priority so far.

[2016-05-23 15:18] david-german-tri commented on #2427
+1 for @jamiesnape's question - if there are references to HTTPS in Drake docs, we should convert them to HTTP, but I don't think it's worth maintaining a proxy workaround.

[2016-05-23 15:23] wxmerkt commented on #2427
When I've searched specific documentation for Drake on Google it defaulted to HTTPS

[2016-05-23 15:25] jamiesnape commented on #2427
Google will correct itself within a few pages.

[2016-05-23 15:56] jwnimmer-tri commented on #1764
#2183 is a step along the way for this, but does not encompass loading trajectories from a file.

[2016-05-23 16:19] #2427 closed

[2016-05-23 16:25] jwnimmer-tri commented on #2181
If we are going to defect this in inspections, we better darn well just tell the compiler to pre-enforce it.  I'll implement this now.

[2016-05-23 16:35] liangfok commented on #2181
Would resolving this issue involve defining a header file with this macro that is included by all Google-Test-based unit tests? In which case, maybe the same header file can also include `gtest/gtest.h`?

[2016-05-23 16:38] jwnimmer-tri commented on #2181
My current spike test sets it via CMake, which is more likely to succeed than relying on using-code to remember to set it.

[2016-05-23 16:45] liangfok commented on #2181
Interesting. I did not know CMake can inject macros into C++ source code. Looking forward to learning how that's done.

[2016-05-23 16:52] jwnimmer-tri commented on #2181
I've pushed the fixes to github, but it hasn't deigned to show them in the web UI yet.  Once it does, I'll PR this.

[2016-05-23 17:47] #2298 closed

[2016-05-23 17:53] rpoyner-tri commented on #2181
As of recently, here is the complete list of suspect names that GTEST lets you suppress. Consider forbidding some or all of these.
<pre>
$ grep DONT ~/checkout/drake/externals/googletest/googletest/include/gtest/gtest.h
#if !GTEST_DONT_DEFINE_FAIL
#if !GTEST_DONT_DEFINE_SUCCEED
// Define macro GTEST_DONT_DEFINE_ASSERT_XY to 1 to omit the definition of
#if !GTEST_DONT_DEFINE_ASSERT_EQ
#if !GTEST_DO

[2016-05-23 18:15] jonathan-owens opened #2433 "Error using copyfile in MATLAB"
[code]
See, e.g., https://drake-cdash.csail.mit.edu/testDetails.php?test=727176&build=24472. Right now this is just on Windows.

[2016-05-23 20:33] sammy-tri opened #2435 "Jenkins seems to be buliding origin/master instead of origin/pr/XXXX/merge"
Jenkins builds on new PRs are building from origin/master instead of the merged PR.  Seems to have started sometime on the morning of the 23rd.

Build 1623 seems OK: https://drake-jenkins.csail.mit.edu/job/experimental/1623/compiler=clang,label=linux/git/

Build 1630 seems to be from master: https://drake-jenkins.csail.mit.edu/job/experimental/compiler=clang,label=linux/1630/git/

[2016-05-23 20:35] jwnimmer-tri commented on #2435
/cc buildcop @jonathan-owens

[2016-05-23 20:37] sherm1 commented on #2181
Would be good to use only the `GTEST_` form of all of these but could be a different PR. (Would be even better if Google had had some respect for the sanctity of our namespaces in the first place!)

[2016-05-23 20:41] jwnimmer-tri commented on #2181
I asked rpoyner-tri to list all of the remaining ones here.  The PR will stay as-is, but I intend to keep the issue open to track the fixes to all of the pollution.

[2016-05-23 20:42] david-german-tri commented on #2435
And /cc @jamiesnape who has requested to be pinged on all things CI.

[2016-05-23 20:47] david-german-tri commented on #2435
`master` is the default value of the `sha1` parameter in the experimental build, but I think that's been true for a while...trying to confirm from the Jenkins config history, and to figure out how it's overridden on a per-build basis.

[2016-05-23 20:48] jamiesnape commented on #2435
The GitHub pull request builder plugin sets $sha1.

[2016-05-23 20:50] jamiesnape commented on #2435
It looked like someone manually triggered a job today too, for some reason, so $sha1 there would be whatever they entered.

[2016-05-23 20:51] jamiesnape commented on #2435
https://github.com/janinko/ghprb#parameterized-builds

[2016-05-23 20:53] david-german-tri commented on #2435
Another interesting difference between build 1623 and build 1630 is that 1623 has one instance of "Parameters" in its left menu, while 1630 has fourteen.

[2016-05-23 20:54] jamiesnape commented on #2435
GitHub hooks have been flaky today too, since GitHub has had API problems.

[2016-05-23 20:58] geronm opened #2436 "Unlisted dependency on Python 3 numpy"
Unfortunately it wasn't until after my attempted fix that I thought to copy/paste the error message, but drake wouldn't build until I had installed the python3 version of numpy, throwing an error message along the lines of "Python error: the package 'Numpy' is not installed.".

`sudo pip install numpy` resulted in a message saying it was already installed, as did starting python and running `impor

[2016-05-23 20:58] david-german-tri commented on #2435
GitHub is claiming their fires are out: https://status.github.com/.  I've kicked off a retest on #2431 to see if we're back to normal behavior.

[2016-05-23 21:10] jamiesnape commented on #2435
Something is very wrong. We have 221 builds in the queue.

[2016-05-23 21:12] jamiesnape commented on #2435
Up to 297. I am going to reboot Jenkins before it melts down.

[2016-05-23 21:13] sammy-tri commented on #2435
And based on https://drake-jenkins.csail.mit.edu/job/experimental/compiler=cpplint,label=linux/1656/console, they're still not building the desired targets...

[2016-05-23 21:14] jamiesnape commented on #2435
Some are and some aren't. Not sure why yet.

[2016-05-23 21:33] jamiesnape commented on #2435
Something is definitely wrong with how parameters are passed down to the matrix.

[2016-05-23 21:34] jamiesnape commented on #2435
The changelog is correct: https://drake-jenkins.csail.mit.edu/job/experimental/1713/

[2016-05-23 21:35] jamiesnape commented on #2435
But the SHA is not passed down to the matrix builds.

[2016-05-23 21:38] jamiesnape commented on #2435
https://issues.jenkins-ci.org/browse/JENKINS-34758

[2016-05-23 21:55] jamiesnape commented on #2435
Compiling a version of the plugin with the fix now.

[2016-05-23 22:33] jamiesnape commented on #2435
Looks like we are fixed now.

[2016-05-24 02:10] jwnimmer-tri commented on #2428
Per a local spike test with `clang++-3.7`, changing from `-Wall -Werror` to `-Werror=all` is enough to demote the `clang-3.7: error: -lc++abi: 'linker' input unused` from an error back to a warning.  I am working up a PR to use that phrasing for both gcc and clang.

[2016-05-24 02:20] jwnimmer-tri commented on #2372
I'm expanding this issue to include clang warnings as well, not just gcc.  To the extent possible, I would like to keep their pass / fail semantics identical.  We should add / suppress warnings for both compilers simultaneously.  This way, if it passes (fails) for developers using compiler A, it will pass (fail) for developers using compiler B, and everyone will be much happier.

Here's the curren

[2016-05-24 07:08] lavrinovu4 commented on #2326
Sorry for a delay.
As I understood, in drake I can use a taylorApprox for generating this gradients, is it correct?
Also I found out, that the biggest number of function uses a first order derivatives. At least I will use it)

[2016-05-24 07:17] lavrinovu4 commented on #1100
Hi Russ, It seems the problem is with an initialization of constraint in LQRTree.m:
[code]

The size of low and upper bound is 1 in this case, and we have constraint only for one state, while Pendulum has two.

So the modified line fix this error in my case:
[code]

[2016-05-24 09:43] RussTedrake commented on #2326
generateGradients will be the fastest solution for you.  there is also a taylorApprox method that will generate a polynomial system for you (probably not what you want) and TaylorVar which does autodifferentiation, but will be slower than running generate gradients once and writing them to a file.

[2016-05-24 10:18] #2168 closed

[2016-05-24 13:14] jamiesnape commented on #2435
I am thinking it may be better to not have a default value for `$sha1` for these builds. Not many people manually run them and a failure would be preferable to building the wrong branch.

[2016-05-24 13:38] david-german-tri commented on #2435
agreed

[2016-05-24 13:43] jamiesnape commented on #2435
Done.

[2016-05-24 15:11] #2408 closed

[2016-05-24 16:38] jwnimmer-tri commented on #1936
I think this issue is complete for linux and mac (gcc and clang).  I am content to let windows continue to spew ignored warnings (we can turn most of its good ones on for clang in the future, anyway), so I'm closing this issue.

[2016-05-24 16:38] #1936 closed

[2016-05-24 16:45] jwnimmer-tri commented on #2181
I propose that we keep the ASSERT_EQ and friends (to match EXPECT_EQ), but that we nuke FAIL and SUCCEED.

[2016-05-24 17:18] jwnimmer-tri commented on #2428
@jamiesnape Per [nightly msan 107](https://drake-jenkins.csail.mit.edu/view/Dynamic%20Analysis/job/linux-clang-nightly-memcheck-msan/107/) that I launched by hand, it looks like we're back to "normal" now as far as the msan build warnings.

I'd like to thus propose closing this issue.  The immediate problem is solved, and I am highly sceptical that a CMake option (a programmatic way to turn off er

[2016-05-24 17:26] david-german-tri opened #2444 "FunctionalForm(NaN) should be undefined"
As discussed on VC.

[2016-05-24 19:02] liangfok opened #2445 "Update from_source.rst to not mention "make test""
It should refer to http://drake.mit.edu/unit_testing_instructions.html instead.

[2016-05-24 22:48] sherm1 commented on #2276
Per discussion in #2418, when we invent a centralized place for Eigen goodies we should also include this there:
[code]
That will affect all Eigen objects that have been intentionally left undefined (hopefully for well-justified performance reasons). This shouldn't be used as an excuse not to initialize Eigen objects (to Zero or NaN) when performance permits.

[2016-05-24 23:39] david-german-tri commented on #2087
Losing `libGL.so` on Ubuntu seems to be a common phenomenon.  Google turns up issue threads similar to this one in a wide variety of open-source projects, with a variety of video drivers.  I don't think we can usefully capture any Drake-specific guidance.

[2016-05-24 23:39] #2087 closed

[2016-05-24 23:42] david-german-tri commented on #1925
Kudos to @amcastro-tri for some major progress on `shared_ptr` cleanup!  I don't think this issue is a useful way to track or motivate progress, so I'm going to close it, but feel free to keep citing it in PRs and so on.

[2016-05-24 23:42] #1925 closed

[2016-05-24 23:43] david-german-tri commented on #1856
@liangfok is this still open?  Any thoughts on how to prioritize it?

[2016-05-25 00:09] david-german-tri commented on #1939
Since the Google Docs margin note conversations have died inconclusively (after a lot of great data gathering), I'll try to restart this thread.

@jwnimmer-tri pointed out that the success criteria for changes to dependency management are unclear, and I agree.  @RussTedrake, maybe you can tell us more about the decisions you want this thread to yield?

[2016-05-25 00:24] liangfok commented on #1856
I believe it is still open. I would rank it as low priority since it is not blocking anything.

[2016-05-25 02:26] jwnimmer-tri commented on #2276
Wouldn't it be more robust to put that flag in `CMakeLists.txt`, where it will be in effect 100% of the time (similar to #2181 PRs), instead of a header that might accidentally get forgotten in certain translation units?

That would also have the effect of letting drake-as-library users make their own Eigen decisions, instead of forcing ours on them.  (Which may be a bug _or_ a feature, depending

[2016-05-25 03:54] sherm1 commented on #292
@mposa: by ForceTorqueSensor do you mean obtaining the reaction force at a joint as described [here](https://simtk.org/api_docs/simbody/latest/classSimTK_1_1SimbodyMatterSubsystem.html#adc629077769b8c767bd1bc160787d4af)?

[2016-05-25 04:39] sherm1 commented on #2114
@amcastro-tri, does this look like a bug in Bullet to you?

[2016-05-25 05:16] sherm1 commented on #2276
Per discussion in `simulation-archive@` (Re: Drake and quiet_NaN) on 20160524, we need a standard way to initialize non-performance critical Eigen objects to NaN, that doesn't require several lines of magic incantation. Something on the lines of `Vector3d myVec_{NaN};` would be lovely but likely not possible.

Here we are not referring to Debug-only initialization (that can be done with the macro

[2016-05-25 05:28] sherm1 commented on #2276
That won't work for a flag that is to be enabled only in Debug builds. For Visual Studio and XCode targets the Release/Debug configuration choice is not made during the CMake run. If we have a header that defines Eigen standard abbreviations & NaN initializers that we use everywhere, I think it will work fine to set this macro in that header. We should then consider it a defect to use Eigen withou

[2016-05-25 05:32] sherm1 commented on #2276
Bug! BTW, great discussion of why we should never use most of Eigen's collection of [behavior-mod macros](https://eigen.tuxfamily.org/dox/TopicPreprocessorDirectives.html) here in [Eigen bugzilla](http://eigen.tuxfamily.org/bz/show_bug.cgi?id=422). Luckily the one we're discussing isn't API-altering.

[2016-05-25 10:13] #2326 closed

[2016-05-25 10:15] RussTedrake commented on #1805
offline discussion is in progress.

[2016-05-25 10:16] #1523 closed

[2016-05-25 10:19] RussTedrake commented on #107
this is being addressed in the new c++ rigid body system design.

[2016-05-25 10:21] RussTedrake commented on #1653
@liangfok -- I believe that you've completed this?

[2016-05-25 10:23] RussTedrake commented on #1595
From @gizatt :

The InstQP needs as input two major things:
 - EST_ROBOT_STATE, with floating base and joint states populated.
 - FOOT_CONTACT_ESTIMATE, with binary sensed foot contact states.

drc/software/control/matlab/controllers/LCMBroadcastBlock.m broadcasts these things for the DRC full stack simulation for Atlas (or for Val on a currently-pull-requested branch), alongside some less importa

[2016-05-25 10:24] RussTedrake commented on #1731
@psiorx -- perhaps we can close this in favor of any specific new requests?

[2016-05-25 10:49] RussTedrake commented on #2433
that's super annoying. my best guess is that two parallel jobs (the two in https://github.com/RobotLocomotion/drake/blob/master/drake/examples/Wingeron/CMakeLists.txt ) happened to hit this line at exactly the same time to cause the failure.

@jonathan-owens -- is there a way to tell ctest "ok to run in parallel, but just don't run these two tests at the same time"?

[2016-05-25 10:55] RussTedrake commented on #2416
@jamiesnape -- totally agree this is a bug.  do you have someone that can investigate and resolve?

[2016-05-25 10:57] RussTedrake commented on #2416
when resolved, we should also be able to remove this line:
https://github.com/RobotLocomotion/drake/blob/master/drake/addpath_drake.m#L90
(in fact, I'm not sure how the matlab tests are failing, since this line should cover that case)

[2016-05-25 11:02] RussTedrake commented on #2383
maybe not =0 (in case 0 is not in the feasible u), but something similar.  @mposa, @hongkai-dai -- can you give @kuindersma a sanity check on this?

[2016-05-25 11:04] RussTedrake commented on #2433
actually, the better fix is to copy to a temp file name (not just a temp file directory).  took me a minute to even realize it wasn't that way.

[2016-05-25 11:17] RussTedrake commented on #2339
+ @sammy-tri

[2016-05-25 11:20] RussTedrake commented on #2333
related to #2416.  something fishy happening here.

[2016-05-25 11:24] RussTedrake commented on #2300
@hongkai-dai -- my instinct is that this will not get fixed in matlab (unless you need it), but will be fixed in c++.  if you agree, then maybe you can close this?

[2016-05-25 11:24] RussTedrake commented on #2301
ok with me!

[2016-05-25 11:26] RussTedrake commented on #2305
@anirudhamajumdar -- any idea what this is failing sometimes?

[2016-05-25 11:26] RussTedrake commented on #2305
(the test should be deterministic).  if failure is inevitable, can we make the code handle it more gracefully?

[2016-05-25 11:41] liangfok opened #2450 "Add more realistic collision models to Prius.sdf / urdf"
Currently, the collision models are only on the wheels. Ideally, the body of the vehicle so it won't be possible to drive through a concrete column as shown below:

[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/w9pJrrAPCNc/0.jpg)](https://www.youtube.com/watch?v=w9pJrrAPCNc)

[2016-05-25 11:42] liangfok commented on #1653
Yes, we can load the Prius SDF and URDF along with the Stata garage in Drake. I did not close the issue yet due to the poor collision modeling within the Prius. I created https://github.com/RobotLocomotion/drake/issues/2450 and will close this issue.

[2016-05-25 11:42] #1653 closed

[2016-05-25 13:34] psiorx commented on #1731
Agreed.  This will come back soon in the context of simulated RGBD sensors when we bring Pete's instantaneous depth map planner into Drake.

[2016-05-25 13:34] #1731 closed

[2016-05-25 13:53] hongkai-dai commented on #2300
I do not need this feature, but people in UCLA had this problem when they run trajectory optimization for SLIP model (it has different number of states in each hybrid modes). I can let them know that we are not going to fix this problem in MATLAB.

[2016-05-25 13:53] #2300 closed

[2016-05-25 13:55] hongkai-dai commented on #2339
I do not  have a Windows 32 bit machine to test this. Do we have a Windows machine in the lab?

[2016-05-25 14:02] #2181 closed

[2016-05-25 14:08] hongkai-dai commented on #2383
Maybe we should use the u in the steady state, if we want the trajectory to stay in equilibrium in the end?

I do not fully understand this, although u(N) is not executed in the controller, the interpolated control action between u(N-1) and u(N) will still be executed, and u(N) does affect those interpolated control actions, so the value of u(N) should matter for the controller?

[2016-05-25 14:50] hongkai-dai commented on #2017
Sorry I just saw this thread. Will work on the quaternion stuff.

[2016-05-25 15:05] liangfok commented on #1939
Suggested success criteria: Drake successfully compiles and runs 100% of the time assuming users follow the [system configuration requirements](http://drake.mit.edu/developers.html#supported-configurations) and [installation instructions](http://drake.mit.edu/installation.html) to a T.

[2016-05-25 15:07] liangfok commented on #1939
Suggested secondary success criteria: 100% of users can compile and run Drake without installing any proprietary or code with viral licenses.

[2016-05-25 15:32] david-german-tri commented on #2129
OK, so, everyone agrees this is documented correctly for the Makefile build.  Post-#1884, it also works for me in the quasi-out-of-source CMake build with `-DCMAKE_BUILD_TYPE=Debug`, but we aren't making that the default/recommended way to build Drake until it's fully out of source.  (In the current state, things get very broken if you try to switch between the quasi-out-of-source build and the Ma

[2016-05-25 15:32] #2129 closed

[2016-05-25 15:34] david-german-tri commented on #2013
Clearly, I dropped the ball on this.  Sorry about that!  I will mark it `priority: high` and try to take a look this week.

[2016-05-25 15:45] david-german-tri commented on #2338
#2357 resolves this opaque build failure, but does not address why LCM is sometimes absent.

[2016-05-25 15:56] amcastro-tri commented on #1925
It still bothers me that we are forced to used shared_ptr's when instantiating a BotVisualizer. Also `cascade` takes shared_ptrs!!! I guess this is something that will get cleaned up with System 2.0?

[2016-05-25 15:57] #2405 closed

[2016-05-25 15:58] amcastro-tri commented on #989
Thanks, on my radar now.

[2016-05-25 15:58] #2071 closed

[2016-05-25 16:01] liangfok commented on #2357
FTR, I now believe the lcm-not-found problem that I mentioned above is a manifestation of https://github.com/RobotLocomotion/drake/issues/2341.

[2016-05-25 16:03] liangfok commented on #2338
I believe this is a duplicate of https://github.com/RobotLocomotion/drake/issues/2341.

[2016-05-25 16:03] amcastro-tri commented on #749
#2299 implements the capability to add collision elements (or bodies with all their collision elements) to "cliques". The use of "clique" instead of "group" is chosen so that this concept does not collide with the concept of groups in the Matlab API. This notion adds more flexibility to specify how things collide (or not).

[2016-05-25 16:17] sherm1 commented on #313
Per discussion this may still be a problem in the C++ solvers.

[2016-05-25 16:21] amcastro-tri commented on #2114
I would need to investigate further. I'll talk to @david-german-tri since he was involved in this.

[2016-05-25 16:59] david-german-tri commented on #1925
Yes, that definitely goes away in System2.

[2016-05-25 17:00] ggould-tri commented on #2351
Dropping this to backlog due to more general nlopt issues.  If some future nlopt version is more promising, or if we can bound the bad behaviour classes of optimization problem, we can revisit it.

[2016-05-25 17:01] david-german-tri commented on #2338
Great, thanks!  Closing this one.

[2016-05-25 17:01] #2338 closed

[2016-05-25 17:02] ErikSobel-TRI commented on #2244
A valid workaround for this issue is to pre-process the data files, re-centering the scene coordinates so that they can be used with the appropriate data reader such as vtkOBJReader.

[2016-05-25 17:02] #2244 closed

[2016-05-25 17:03] ggould-tri commented on #2216
High priority as this directly impacts current work.  Assigning to myself because I may be the current expert on this code.

[2016-05-25 17:08] ggould-tri commented on #1666
The actionable parts of this issue have been extracted into other issues and PRs (notably #2322, #2346).  Because there does not seem to be a single consensus actionable issue beyond those, I am closing this issue.

[2016-05-25 17:08] #1666 closed

[2016-05-25 17:11] ggould-tri commented on #1665
It is likely that the dynamic allocation is minimal (or indeed optimized out) at compile time anyway, as the classes have no constructor/destructor logic or interesting members.  Absent evidence of a cost, I am moving this to backlog.

[2016-05-25 17:29] david-german-tri commented on #1175
Reassigned to RLG and @psiorx per discussion with @RussTedrake

[2016-05-25 17:33] david-german-tri commented on #313
Also note, this test is currently disabled in CI.  https://github.com/RobotLocomotion/drake/blob/1f211e5436833c5d48de2f53b5c25b60c82b7542/drake/examples/PlanarNLink/CMakeLists.txt

[2016-05-25 17:35] david-german-tri commented on #1524
@naveenoid, @RussTedrake suggested assigning this to you.  I'll do that once you've added yourself to the TRI group in RobotLocomotion.

[2016-05-25 17:41] #2435 closed

[2016-05-25 17:42] david-german-tri commented on #2410
Downgrading to backlog, consistent with the 2016-05-25 tracker scrub decision that all flaky MATLAB test failures are backlog-priority.

[2016-05-25 18:24] #2433 closed

[2016-05-25 19:21] #2445 closed

[2016-05-25 19:26] ggould-tri commented on #1490
Assigning to @naveenoid as he will be integrating the Gurobi solver into C++ which will enable us to migrate away from this bug.

[2016-05-25 19:36] ggould-tri commented on #1460
Following @sammy-tri 's question, I am declaring three weeks enough to age out this issue.

[2016-05-25 19:36] #1460 closed

[2016-05-25 19:38] ggould-tri commented on #1312
Per comment at https://github.com/RobotLocomotion/drake/issues/1312#issuecomment-216009861 I am incrementing the priority here.

[2016-05-25 19:40] ggould-tri commented on #316
Assigning to sammy as he is already working this problem.

[2016-05-25 19:43] amcastro-tri commented on #2004
This is an update on the implementation of this dispatcher. I actually started off from the work by @avalenzu, mostly making the necessary changes so that the new solver can appropriately be integrated into the system dynamics.

I tested this with the Cars example but I get a "shaky" car. Investigating the problem further it seems to be related on how Bullet reports manifolds.
I decided to isolate

[2016-05-25 19:50] amcastro-tri commented on #1312
This does't seem a trivial problem (at least to me). @ggould-tri, so you just get the flavor of it, try multiplying a matrix of `float` by a matrix of `double`. Eigen immediately complaints a about this from its very deep internals (there'll be a static check that ends on your screen with words in capital letters separated by underscores).

[2016-05-25 19:59] RussTedrake commented on #2004
looks like great progress.

can you do a simple test where you move the tire slowly through a prescribed motion starting in the ground and coming out (at various angles) and see how stable the collision points reported by Bullet are?

[2016-05-25 20:11] amcastro-tri commented on #2004
@RussTedrake, good idea. Is there a Drake-like way of prescribing motions? (I can do so by hand but I'd love to learn the Drake way).

[2016-05-25 20:24] kuindersma commented on #2383
So you're saying you always create a new utraj that does midpoint interpolation on the utraj that is output from DirtranTrajectoryOptimization before using it in a controller? If I understand that correctly, then maybe the solution is to override reconstructInputTrajectory in DirtranTrajectoryOptimization for use with MIDPOINT to keep the contract the same as the other interpolation schemes?

[2016-05-25 20:27] hongkai-dai commented on #2383
You are correct, the reconstruction of the control trajectory is not right. Actually there is an issue #509 opened a while ago, about reconstructing the control trajectory.

[2016-05-25 20:30] hongkai-dai commented on #2383
Sorry for being really sluggish to fix that issue #509. I will work on it tonight.

[2016-05-25 20:56] kuindersma commented on #2383
No rush from me as long as its a known issue. Closing as duplicate.

[2016-05-25 20:56] #2383 closed

[2016-05-25 21:09] sherm1 commented on #2004
Alejandro, that video looks great. I didn't see any obvious problem with Bullet's choice of contact manifold points for use with *rigid* contact (which is what Bullet thinks it's doing), but points that appear and disappear with non-zero penetration are a disaster for compliant contact since they violate conservation of energy. To model this way for compliance we will need to ensure that points ar

[2016-05-26 00:07] tkoolen commented on #1312
I addressed this problem in my first version of the DrakeJoint pull request, https://github.com/RobotLocomotion/drake/pull/2209

See `Promote` in drake/util/TypeConversions.h in that pull request.

[2016-05-26 01:14] RussTedrake commented on #2004
Regarding how you would do the prescribed motion, maybe i overstated it.  I was just thinking you would manually sweep through some angles (calling doKinematics manually) and then call your collision detection code directly.  No need for the dynamics engine!

[2016-05-26 02:36] amcastro-tri commented on #2004
Actually that is the first thing I did. However I would always get very deterministic collisions in contrast to what happens when I run dynamics. I did learn in the process that Bullet has "persistent manifolds" (btPersistentManifold) which seem to form a manifold with successive iterations through time. It seems to remember the last collisions and then it forms a manifold with a maximum of four p

[2016-05-26 12:57] bradking commented on #2082
With #2415 merged, this is now resolved.

[2016-05-26 12:57] #2082 closed

[2016-05-26 15:29] #2416 closed

[2016-05-26 15:49] liangfok opened #2456 "RigidBodyTree::findLinkId(), RigidBodyTree::findJoint(), and RigidBodyTree::findJointId() Need model_name parameter"
This is so they can support RigidBodyTrees that contain more than one robot of the same type.

[2016-05-26 15:50] #2428 closed

[2016-05-26 15:50] liangfok commented on #2456
I may include this change with https://github.com/RobotLocomotion/drake/pull/2426.

[2016-05-26 16:05] jwnimmer-tri commented on #2276
Per offline chat with sherm1:
- In Drake debug build(s), set the NAN flag via CMake, not in a header.  (CMake offers a way to add variant-specific CXXFLAGS.)  This will be less brittle.
- Promise that we never change Eigen defines in Drake's release builds, and therefore that Drake never depends on having non-default Eigen defines flags set.
- Consider writing up the NAN-under-debug in the Drake's

[2016-05-26 16:07] liangfok opened #2457 "Add Covariance Info to ROS Odometry Publisher."
The initial implementation of `ros_sensor_publisher_odometry.h` only contains the pose and twist of the robot. It does not include the 6x6 covariance matrices.

See also: http://docs.ros.org/indigo/api/nav_msgs/html/msg/Odometry.html

[2016-05-26 16:10] liangfok commented on #2276
OK under one condition: Let's upgrade "Consider writing" in the last bullet of the above comment to "We must write". :smile:

[2016-05-26 18:32] liangfok opened #2460 "RigidBodySensor Should Provide Accessor to Name of Robot To Which it is Attached"
This is for bookkeeping purposes when there is more than one robot in the `RigidBodyTree`.

Currently, every child class of `RigidBodySensor` maintains a `RigidBodyFrame` member variable, through which the name of the robot can be determined. I believe this `RigidBodyFrame` member variable should be moved up to be a member variable of `RigidBodySensor`, and an accessor like `RigidBodySensor::get_m

[2016-05-26 18:53] ggould-tri opened #2461 "No clear way to determine if a revision passed continuous"
Our process requires in some cases that particular commits pass continuous (see, eg, the case of a fixing patch in the revert process).  However it is very difficult to determine when this has happened without clicking through to every continuous builder's page in Jenkins (also it seems to be entirely impossible via cdash).

In buildbot, for instance, there are time- and revision-centric interface

[2016-05-26 21:49] jamiesnape commented on #1997
Taking this on as it will speed up CI builds (especially OS X)  if we do not have to startup MATLAB only to find we do not have the dependencies.

[2016-05-27 01:47] jwnimmer-tri opened #2465 "Document our code_style_guide rules for python"
We need to document our `code_style_guide.rst` rules for python code.  We have C++, Java, and MATLAB rules now, but not python.

For the record, in #1741 we choose googlestyle for C++ but didn't appear to discuss other languages.  I don't think there's anything else major we've missed, though.

[2016-05-27 01:48] jwnimmer-tri commented on #2465
For starters, I think its obvious to elect [PEP-8](https://www.python.org/dev/peps/pep-0008/) as the basic rules.  We can tack on more beyond that if we start to care.

Probably also worth documenting how to run the `pep8` style-checker tool.

[2016-05-27 02:21] erwincoumans commented on #2004
You are implementing a custom collision detection implementation, just reusing some low-level parts of Bullet (right?) so it is hard for me to tell or predict what is happening. I'll still give some feedback that may help:

By default, using btGjkPairDetector/btGjkEpa2 and btPersistentManifold, only one single point is added each collision call, and points get updated and/or removed using some heu

[2016-05-27 02:30] liangfok commented on #2465
+1 for PEP-8.

[2016-05-27 05:04] sherm1 commented on #2004
Thanks, Erwin! I'm still trying to staff development of the new collision library. It will be great to have you involved once we get going.

[2016-05-27 05:15] RussTedrake commented on #2293
for reference, the matlab implementation is here:
https://github.com/RobotLocomotion/drake/blob/master/drake/systems/plants/%40RigidBodyManipulator/changeRootLink.m

[2016-05-27 05:59] sherm1 commented on #2004
Hey, @david-german-tri and @RussTedrake: the relevance of this discussion to System 2.0 might not be immediately apparent. But consider the "persistent manifold" mentioned by @amcastro-tri and @erwincoumans above. That is an example of a state variable of general, non-numerical type (that we've lumped into the "mode" variables at the moment). The previous constraint manifold (set of points) is sav

[2016-05-27 10:20] liangfok commented on #2293
Sorry I'm still trying to understand. Isn't the "root link" of a robot defined by the link to which we attach the virtual floating joint? If so, couldn't we make the torso the root link by simply attach the floating joint to the torso rather than the pelvis?

[2016-05-27 11:53] liangfok commented on #2280
I finished the a first-cut implementation of an odometer sensor here: https://github.com/liangfok/drake/commit/aa29a185fa59cce4960b98a3b87b5ee9212c15a6

Below is a visualization of what the sensor senses. The red line is actually a sequence of arrows showing the odometer measurements over time.

![odometry](https://cloud.githubusercontent.com/assets/1388098/15607143/a1fa0880-23de-11e6-9e28-94d7717

[2016-05-27 12:09] liangfok opened #2466 "LCMSystem Needs To Be Modified To Play Nice With Other Input/Output Systems"
Currently, `LCMSystem` takes as input an existing System and then wraps it with an `LCMInputSystem` in front and an `LCMOutputSystem` in the back.

[Here is the relevant code](https://github.com/RobotLocomotion/drake/blob/e108e1a1ad20eab60210663455b5a4c6e1611df8/drake/systems/LCMSystem.h#L240)

The problem is this does not play nice with other inputs and outputs like ROS.

The selection of ROS vs.

[2016-05-27 13:10] david-german-tri opened #2467 "Does collision modeling require RigidBodySystem to have non-numerical state?"
And if so, is that a bad thing?  Discussion needed.  See #2004.

[2016-05-27 13:11] david-german-tri commented on #2004
@sherm1 Thanks very much for calling that out.  Your analysis makes sense to me, but non-numerical state in RigidBodySystem sounds like bad news.  I don't want to derail this thread, and the whole topic is probably easier to discuss f2f than on GitHub, but I've created #2467 as a bookmark.

[2016-05-27 13:19] jamiesnape commented on #2465
Would you like me to run `flake8` or `pylint` on PR's.

[2016-05-27 13:20] jamiesnape commented on #2465
The Google style guide for Python seems reasonable. As far as I can tell it is PEP8 plus a few other things.

[2016-05-27 13:57] liangfok commented on #2466
A possible source of inspiration is the hybrid system used to multiplex two controllers in the matlab pendulum implementation.

[2016-05-27 14:09] jamiesnape opened #2468 "Document code_style_guide rules for CMake"
It is all pretty random at present. I would suggest keeping it short, though. Maybe the following:

---
# CMake Style

We follow [KDE CMake Coding Style](https://community.kde.org/Policies/CMake_Coding_Style) and the additional rules noted below.
- Do not add a space between a function or macro call and the opening
  parenthesis. This includes the opening of blocks such as `foreach()`, `if()`, and

[2016-05-27 14:19] jwnimmer-tri commented on #2465
Possibly in the future, but for now I'd suggest that someone to test it locally and in integrate into drake-distro first, and then toss it into jenkins.   Also there's not _that_ much python code in Drake, so probably not a high priority.

[2016-05-27 14:46] amcastro-tri commented on #2004
Thank you @erwincoumans! I will definitely give that a shot. Would you recommend modeling cylinders as polyhedral convex hulls as well?

Right now I am calling `btCollisionWorld::performDiscreteCollisionDetection` and iterate through the points in each manifold and I just use the deepest penetration point in our dynamics. That works for simple geometries (tested with btConvexHullShape, btCylinderS

[2016-05-27 15:03] erwincoumans commented on #2004
For concave collision shapes, I recommend using convex decomposition (using HACD for example) and storing the convex parts in a btCompoundShape.

btBvhTriangleMeshShape is only suitable for static/non-moving geometries, such as buildings, ground etc and there is no algorithm for btBvhTriangleMeshShape versus btBvhTriangleMeshShape. So the question is: when you experience issues, what collision sha

[2016-05-27 15:10] sherm1 commented on #2467
Yes. But not as we are using the term *state* in Drake, where it is restricted to `x`, a vector of numerical continuous and discrete variables. But there is plenty of non-numerical "mode" data (which is state information in the generic sense of the word). The contact manifold in #2004 is one example, the active set of constraints is another. There are plenty more and it is only a terminology quest

[2016-05-27 17:55] jamiesnape commented on #2461
Best I can do is this:

https://drake-jenkins.csail.mit.edu/view/Continuous/job/linux-clang-continuous-debug/changes

Otherwise, it is out of our control for Jenkins.

[2016-05-27 18:08] jamiesnape commented on #2461
I am asking about possibilities for CDash.

[2016-05-27 19:18] tkoolen commented on #2293
Unfortunately it's not quite that trivial. The problem is that there are various objects associated with rigid bodies, like visuals, collision objects, etc. The pose of these objects (both in the URDF and in our RigidBodyTree) is defined *with respect to the frame after the parent joint*. If you change the root link, then some parent joints may flip direction and become child joints. So you have t

[2016-05-27 19:53] sherm1 commented on #2293
Also longer term: IMO it is a shame to get the links and joints mixed up with their (non-unique) representation as an internal coordinate tree. Links and joints and the meaning of joint coordinates are all very user-relevant, while the internal model ought not to be. The same user-facing behavior is achievable with maximal coordinates or a variety of minimal coordinate representations.

[2016-05-27 20:21] tkoolen commented on #2293
Yep, completely agree with that.

[2016-05-27 20:23] liangfok commented on #2293
Thanks for the explanation and longer term solution! It makes sense.

[2016-05-27 20:23] rdeits opened #2473 "Can't construct drake LCM types from Matlab"
On master, I'm no longer able to construct any of the Drake LCM types from Matlab (which uses the Java types internally):

[code]

I've verified that `lcmtypes_drake.jar` exists and is on matlab's javaclasspath. Is it possible that the `source-1.6` changes could have broken this somehow?

[2016-05-27 20:30] rdeits commented on #2473
I'm on OSX 11.4, matlab 2015b, and `javac -version` gives `1.8.0_74`

[2016-05-27 21:48] rdeits commented on #2473
My Ubuntu 14.04 machine appears to be working fine, though.

[2016-05-27 23:18] #2460 closed

[2016-05-28 13:14] liangfok opened #2476 "Prius.urdf's wheel joints should be made continuous"
They are currently "revolute", which causes an error in RViz since no corresponding limits are specified.

[2016-05-28 13:16] liangfok commented on #2473
Where can I find instructions on how to construct Drake LCM types from Matlab?

[2016-05-28 22:19] rdeits commented on #2473
I don't know of any instructions, but they are used in a variety of places, particularly within the BotVisualizer. You can see an example in https://github.com/RobotLocomotion/drake/blob/master/drake/systems/plants/BotVisualizer.m#L71

[2016-05-28 22:39] githwxi opened #2477 "depth_compose.cxx cannot be found"
I received the following errors when building director
on Ubuntu 14.04. Is this a known issue? Thanks!

[2016-05-28 23:40] githwxi commented on #2477
This seems to be caused by using libvtk6. After replacing it with libvtk5.8, the issue disappears.

[2016-05-28 23:40] #2477 closed

[2016-05-29 21:39] liangfok commented on #2280
I'm now working on decreasing the turning radius of the Prius so that it can drive inside the Stata garage model without colliding with the concrete columns. To do that, I first added a new system that publishes the joint states as [sensor_msgs/JointState](http://docs.ros.org/jade/api/sensor_msgs/html/msg/JointState.html) on ROS topics.

# Original Model
Using the original model, I then made the f

[2016-05-30 14:45] liangfok commented on #2280
## Decrease Turning Angle Attempt 2 - True Ackermann Angle

I modify the angle of the tie rod arms to achieve a true Ackermann Angle.

Using this new configuration, here is the steering angle when the steering command is full right (the desired steering angle is -0.7 radians, the actual steering angle is -0.351453836281 radians, and the actual angle of the right king pin is -0.420155961266 radians

[2016-05-30 14:54] liangfok commented on #2280
# Attempt 3 at Decreasing Steering Angle - True Ackermann Steering + Increased Range of Motion

I kept the true Ackermann Steering geometry but increase the angle of motion of the left and right king pins to be -0.7 to 0.7 radians. It was formerly -0.4 to 0.5 radians.

Here is the steering angle when the steering command is full right (the desired steering angle is -0.7 radians, the actual steerin

[2016-05-31 00:46] rdeits opened #2478 "Building with clang+ccache fails with -Wself-assign"
On master, with clang 703 (OSX):

[code]

This causes the build to fail because we have `-Werror` set. We can squash the warning with `-Wno-self-assign`, but there's probably a better way.

[2016-05-31 01:07] jwnimmer-tri commented on #2478
Interesting, `-Wself-assign` is part of `-Wall` so our `-Werror=all` must be tickling that.  I would be super-interested to learn why Jenkins isn't catching this, not even in the full Continuous builder.  I think that's way more troubling than this particular instance of this particular warning.

In general, fixing warnings in swig-generated code may be a losing battle, so using `-Werror=...` with

[2016-05-31 14:20] david-german-tri commented on #2478
I agree with @jwnimmer-tri on all counts.  I'll take a look into why Jenkins isn't catching the failure.

[2016-05-31 14:29] #2257 closed

[2016-05-31 15:25] amcastro-tri opened #2481 "Review logic for CollisionElement::isStatic"
Method `CollisionElement::isStatic` is only used once in `BulletModel::addElement`. It is a virtual method that never gets overriden and by default it returns false (even when a terrain clearly is static).

Could this be a cause of faulty collision detection? (see #2004) or a cause of performance issues?
In any case it is a piece of dead code that needs to be revisited.

[2016-05-31 15:27] david-german-tri commented on #2478
Also, I can reproduce the issue on my local Mac.

[2016-05-31 16:09] jamiesnape opened #2482 "Replace PODs with conventional CMake workflow"
Note: This is an epic on our [ZenHub](https://www.zenhub.io) board. Please do not remove or rename the [Epic](https://github.com/RobotLocomotion/drake/labels/Epic) label.

[2016-05-31 16:16] liangfok commented on #2280
# Visualizing Stata Garage in RViz

I modified the demo to visualize the Stata garage in RViz:

![screenshot from 2016-05-31 11 57 44](https://cloud.githubusercontent.com/assets/1388098/15681693/41fb8d6c-2728-11e6-8a39-f1938060c2ed.png)

![screenshot from 2016-05-31 12 06 11](https://cloud.githubusercontent.com/assets/1388098/15681697/4539809c-2728-11e6-8174-e5d649decce0.png)

[Here is the commit]

[2016-05-31 16:37] david-german-tri commented on #2478
Here's an example compilation step from `make` that fails locally for me:

[code]

Here's an analogous step that succeeds on Jenkins, and also succeeds locally (after fixing up the paths):

[code]

[2016-05-31 16:48] david-german-tri commented on #2478
@jamiesnape It looks like `ctest` might not be passing `-Werror=all` through to clang.  Any ideas?

[2016-05-31 16:49] jamiesnape opened #2483 "Remove requirement on pkg-config for Windows builds"
Removing the requirement for all platforms would be an improvement, but not essential.

[2016-05-31 16:56] jamiesnape opened #2484 "Remove all manually created makefiles"
All makefiles should be generated by CMake.

[2016-05-31 17:04] bradking commented on #2233
For reference, CMake 3.6 will add support for ExternalProject to do a shallow-clone.  See CMake commit [7db9f3f2](https://cmake.org/gitweb?p=cmake.git;a=commitdiff;h=7db9f3f294126e5e02d172e54c83a8ac90ed23a3).

[2016-05-31 17:04] bradking commented on #2233
Shallow clones will not work for Drake's use case.  A shallow clone is useful when one wants a tagged release or the head of a branch.  It does not work when using an arbitrary fixed commit named by SHA-1.  The reason is that Git's fetch protocols only support fetching by ref, not by commit (for security reasons).  Therefore one must fetch one of the branch heads or tags that contains a given comm

[2016-05-31 17:05] jamiesnape commented on #2478
@david-german-tri I am seeing it in all the output in the Jenkins build you linked. Try removing your local pod-build directories and recompile.

[2016-05-31 17:08] jamiesnape commented on #2478
@rdeits Build with verbose output and re-post the error. We need all the compiler flags that were used.

[2016-05-31 17:09] david-german-tri commented on #2478
Oh, I agree the flag is on the command line, it just doesn't seem to be having an effect!

[2016-05-31 17:14] jamiesnape commented on #2478
If you compile directly with `clang` instead of `ccache` does it fail?

[2016-05-31 17:17] jamiesnape commented on #2478
Also CI runs OS X 10.10, which is different to your build. There is not official vSphere support for 10.11 yet, so 10.10 is as recent as we can do.

[2016-05-31 17:20] david-german-tri commented on #2478
Huh, I am glad you asked.  When I replace `ccache` with `clang++`, the compile succeeds.  That's baffling.

[code]

[2016-05-31 17:32] jamiesnape commented on #2478
I do see one possible bug. The ID of the Apple compiler changed to `AppleClang` while back.

Output of CMake for this project is `Clang`.
[code]

Output of CMake for this project is `Not Clang`.
[code]

Output of CMake for this project is `Clang`.
[code]

[2016-05-31 17:53] mwoehlke-kitware opened #2486 "Move LCM consumers to CMake-ified LCM"
There is now a usable version of CMake-ified LCM (https://github.com/RobotLocomotion/lcm/tree/cmake). We should port all users of LCM to this, so that we can kill off the PODS lcm functions (i.e. `lcm.cmake` in https://github.com/RobotLocomotion/cmake/). This will bring us closer to not needing PODS or the aforementioned "cmake" repository.

[2016-05-31 17:55] mwoehlke-kitware commented on #2486
Done for bot_core_lcmtypes: openhumanoids/bot_core_lcmtypes#18

Since this is going to cause a ripple effect with downstream consumers needing to switch as their upstream dependencies switch, we likely won't touch drake itself until last, so we can update everyone at once and have a working build.

[2016-05-31 17:56] david-german-tri commented on #2478
Aha: http://petereisentraut.blogspot.com/2011/09/ccache-and-clang-part-2.html

@rdeits, are you also using `ccache`?

[2016-05-31 18:01] jamiesnape commented on #2478
You should definitely set `export CCACHE_CPP2=yes`.

[2016-05-31 19:19] david-german-tri commented on #2478
I'm going to go ahead and close this.  @rdeits, feel free to reopen if needed.

[2016-05-31 19:21] jwnimmer-tri commented on #2478
We document in sphinx how to turn on `ccache`; shouldn't we also document the mandatory environment variable for it when used with clang, too?

[2016-05-31 19:34] jamiesnape commented on #2478
Yes.

[2016-05-31 19:49] #2384 closed

[2016-05-31 21:20] amcastro-tri commented on #2004
@erwincoumans: I am only using the btBvhTriangleMeshShape for a static terrain. Right now btBvhTriangleMeshShape is the only concave shape and all the other shapes are convex.
I just found a bug introduced by myself but I am not sure this will solve all issues.
What I am doing right now is calling `btCollisionWorld::performDiscreteCollisionDetection` and then pick the point with the deepest penetr

[2016-05-31 22:58] #2476 closed

[2016-06-01 01:19] erwincoumans commented on #2004
The easiest way is to clear the entire contact manifold (remove all points), so the point you get is automatically the deepest/newest. No, there is currently no implementation of 1 contact point or other kind of manifold implementations. It was originally the intend to have various implementations, and I did experiment with various contact manifold ideas, but never merged those variations into mai

[2016-06-01 12:30] jonathan-owens commented on #2385
It seems that this is caused by a stale library existing somewhere. See [here](http://trac.wildfiregames.com/ticket/1147). I cannot reproduce this locally. My best guess would be that some changes introduced that triggered the build affected the libraries and those ``.a`` files were not properly updated.

I am trying to take a look at the code that triggered those builds, but can't seem to find a

[2016-06-01 14:28] david-german-tri commented on #1183
I think this is blocked on stable Drake releases, which in turn is blocked on #1769.

[2016-06-01 14:32] jamiesnape commented on #2482
@david-german-tri Can you add the "Epic" back? We need it for our ZenHub board.

[2016-06-01 14:40] david-german-tri commented on #2369
As discussed f2f: `linux_ros` should be another column in the experimental build.
@liangfok, after this is running, could you please document the install steps and update the supported platforms matrix?

[2016-06-01 14:42] liangfok commented on #2369
OK will do.

[2016-06-01 14:44] david-german-tri commented on #2341
Blocked by #2486.

[2016-06-01 14:51] david-german-tri commented on #2268
The current hack is to suppress the `ctest` returns and inspect the results of individual commands.  This issue proposes to replace that hack with a ctest native feature.

[2016-06-01 14:54] david-german-tri commented on #2116
Reassigned to @liangfok - the information above should be sufficient to create ROS tests (and #2369 will cover the ROS CI startup).

[2016-06-01 14:55] david-german-tri commented on #2369
Also as discussed f2f with Kitware: Try postsubmit first, before graduating this to presubmit.  There is already code that tries to use ROS, and we don't know whether it will explode.

[2016-06-01 14:59] david-german-tri commented on #1789
Closed as redundant with #1786.

[2016-06-01 14:59] #1789 closed

[2016-06-01 15:00] david-german-tri commented on #1766
Downgraded to medium because this is blocked on having code that's stable enough to release.

[2016-06-01 15:12] david-german-tri commented on #2482
Sorry about that.  Done.

[2016-06-01 15:25] david-german-tri commented on #2473
Taking a look now.  We run OS X Matlab tests on postsubmit, and it's green, so either this has no test coverage, CI is falsely reporting success, or the CI builder config doesn't match your machine.

[2016-06-01 15:28] jamiesnape commented on #2385
The OS X builds always happen on a completely fresh VM, so not sure why there would be a stale library. To get changes go to

https://drake-jenkins.csail.mit.edu/job/mac-clang-continuous-debug/184/changes

The changed code does not run on that build, though.

[2016-06-01 15:29] david-german-tri commented on #2473
@rdeits, or anyone else in front of a Mac, could you post the results of `jar tf install/share/java/lcmtypes_drake.jar`?

[2016-06-01 15:46] liangfok commented on #2473
Here's what I see on my OS X machine:

[code]

[2016-06-01 15:59] david-german-tri commented on #2465
Sounds reasonable to me.

[2016-06-01 16:03] david-german-tri commented on #1939
friendly ping to @RussTedrake re. https://github.com/RobotLocomotion/drake/issues/1939#issuecomment-221438529

[2016-06-01 16:07] jonathan-owens commented on #2385
That's interesting. I thought it started fresh, but all I can find anywhere online is to delete the offending archive file and try again. I'm not sure what else to do at this point. Perhaps we can close this for now and I will keep an eye on it, especially as I am build cop for the next couple of days, anyway. What do you think?

[2016-06-01 16:08] jamiesnape commented on #2385
Sounds fine.

[2016-06-01 16:19] jamiesnape commented on #2369
@liangfok Is `ros-indigo-ros-base` sufficient or do you need a full desktop install?

[2016-06-01 17:38] rdeits commented on #2478
Yes, setting CCACHE_CPP2 fixes it for me.

[2016-06-01 17:42] rdeits commented on #2473
I also see:

[code]

[2016-06-01 17:47] david-german-tri commented on #2473
Huh.  `lcmt_foot_flag` is there, which bolsters the `source-1.6` hypothesis.  I'll try to reproduce when I next have a Mac handy (probably tomorrow).

[2016-06-01 18:13] david-german-tri commented on #2416
Closing the loop on an offline conversation related to #2448: I don't think there's an analogy between this discussion and C++ linking.  It's normal and necessary for some build targets to link against libraries that aren't installed.

[2016-06-01 18:21] jamiesnape commented on #2416
Of course, but in the world of PODs apparently everything should be installed and have a pkg-config file.

[2016-06-01 18:24] RussTedrake commented on #2416
That’s not necessarily true of PODs.  Only libraries that are shared across pods should be installed.

[2016-06-01 18:24] david-german-tri commented on #2416
PODs: we will not miss them.

[2016-06-01 18:28] jamiesnape commented on #2416
That was not the case here either before or after #2455. Either way, it should be tidier if/when we follow the normal CMake patterns.

[2016-06-01 18:49] RussTedrake opened #2494 "install on fresh mac failed to find vtk5"
[code]

[2016-06-01 18:52] jamiesnape commented on #2494
The formula no longer exists, see https://github.com/Homebrew/homebrew-science/pull/3616. We will need to find an alternative or switch to a supported version of VTK.

FYI @billhoffman.

[2016-06-01 18:58] jamiesnape commented on #2494
[code]

[2016-06-01 19:21] rdeits commented on #2494
I was just in the process of looking into this myself.

Another option is that we could host our own Homebrew tap with the vtk5 formula. To do that, we would just need to create a new repo like `RobotLocomotion/homebrew` and then put the `vtk5.rb` file in that repo. Then users could install vtk5 with

`brew install RobotLocomotion/homebrew/vtk5`

[2016-06-01 19:22] rdeits commented on #2494
See: https://github.com/Homebrew/brew/blob/master/share/doc/homebrew/How-to-Create-and-Maintain-a-Tap.md

[2016-06-01 19:23] jamiesnape commented on #2494
We could, but I would vote strongly against it.

[2016-06-01 19:29] jamiesnape commented on #2494
@RussTedrake Could you remind we why we are using VTK 5? Is upgrading to VTK 7 something within our control?

[2016-06-01 19:33] rdeits commented on #2494
VTK5 is used within the Director, and since @patmarion is off all summer I think we're probably going to need it for the next few months at least.

I set up a tap on my own account for testing, so I believe it should be possible to install vtk5 with:

[code]

or

[code]

[2016-06-01 19:42] jamiesnape commented on #2494
Ok. We can do that for now. @RussTedrake Could you create `RobotLocomotion/homebrew-director` and give me push access?

[2016-06-01 20:22] jamiesnape commented on #2482
For the benefit of non-ZenHub users, the initial list of issues in the epic was #1747, #1751, #1781, #1859, #1909, #1963, #1989, #1994, #2046, #2094, #2118, #2251, #2307, #2329, #2341, #245, #2483, #2484, #2486, and #2487.

[2016-06-01 20:29] RussTedrake commented on #2494
done

[2016-06-02 00:33] #2242 closed

[2016-06-02 03:11] jwnimmer-tri opened #2498 "Promote msvc warning C4316 to an error"
The msvc warning C4316 is _"'MyClass': object allocated on the heap may not be aligned 16"_.

--

PR #2171 has been going through a pass-merge-fail-revert-pass-merge-fail dance.

In part, it's because Eigen spills its alignment restrictions all over the place (#1854), so it's extraordinarily difficult to write correct code.  I really can't express strongly enough how awful the alignment-bleeds-eve

[2016-06-02 03:11] jwnimmer-tri commented on #2498
/cc @sherm1 @david-german-tri @liangfok

[2016-06-02 04:08] sherm1 commented on #2498
Great idea to treat this as an error. The required compiler flag is `/we4316`.

[2016-06-02 14:02] david-german-tri opened #2501 "Tracking issue for Windows-specific development cost"
This issue is for gathering data on PRs that incur Windows-specific development cost.  It is not a forum for discussing the implications.  Examples of "cost" include:

* Developer effort spent resolving Windows-specific issues.
* Delayed merge due to discussing or resolving Windows-specific issues.
* Windows-specific flakes in pre-merge continuous integration.
* Rollbacks due to failures in Window

[2016-06-02 14:30] liangfok commented on #2501
https://github.com/RobotLocomotion/drake/pull/2171: 9 days of latency, 180 minutes of developer effort

[2016-06-02 15:16] liangfok opened #2503 "libnlopt.so.0.9.0 not found"
I just encountered the following problem trying to install Drake for the first time on a cleanly installed Ubuntu 14.04.4 LTS machine:

[code]
Unfortunately, the scroll back buffer on my terminal was not large enough to capture any additional information on what may have lead to the above error.

[2016-06-02 15:21] liangfok commented on #2503
I increased the scroll back buffer and see the following error that occurs earlier in the log:

[code]

[2016-06-02 15:54] liangfok commented on #2503
No luck yet even after doing a fresh checkout of Drake and trying again. Below is a build log.

[build_log.txt](https://github.com/RobotLocomotion/drake/files/296000/build_log.txt)

[2016-06-02 17:04] liangfok commented on #2503
Problem solved. It's because I failed to specify the correct compiler version in when running `make` for the second time. The correct sequence of commands is:

[code]

Since this issue is now resolved, I will close this issue. Thanks @jwnimmer-tri and @sammy-tri for helping.

[2016-06-02 17:04] #2503 closed

[2016-06-02 18:35] liangfok commented on #2369
@jamiesnape: Good question. There are a couple of additional packages required. Here is the  installation command:

[code]
Things may change as I continue to refine on the Drake / ROS integration but at least the above will allow us to compile and run what's currently implemented.

[2016-06-02 22:10] jamiesnape commented on #2385
Error is back again: https://drake-cdash.csail.mit.edu/viewBuildError.php?buildid=30608

[2016-06-03 12:33] liangfok commented on #2456
I'm going to close this issue because more recent discussions have indicated a need to allow multiple models to have the same `model_name` meaning adding the `model_name` to the above-mentioned methods will not uniquely identify the link or joint to find.

[2016-06-03 12:33] #2456 closed

[2016-06-03 13:43] jamiesnape commented on #2369
Thanks. I will roll out a new image with those packages installed in the next day or so. Just create a ticket and ping me if you need more packages installed in future.

[2016-06-03 14:21] liangfok commented on #2369
Thanks! Will do. I will be submitting PRs that contain ROS-based unit tests once the new image with ROS is available.

[2016-06-04 15:17] liangfok commented on #2256
I am waiting for https://github.com/RobotLocomotion/drake/issues/2369 to be closed before proceeding to issue PRs containing Drake systems that interact with ROS.

[2016-06-05 09:08] RussTedrake opened #2508 "removing java -source 6 broke drake.jar on matlab 2015b for OSX"
reverting https://github.com/RobotLocomotion/drake/pull/2404 resolves it for me.
(cc @david-german-tri)

The specific failure for me was that I could not communicate via lcm to the BotVisualizer.  The build servers do not have adequate coverage of this case.  We should consider removing the lines about visualizers from here:
https://github.com/RobotLocomotion/drake/blob/master/drake/CMakeLists.txt

[2016-06-06 03:17] rdeits commented on #2508
I think this is the same issue I reported in #2473 (also on OSX)

[2016-06-06 03:19] rdeits commented on #2508
Also, maybe we can finally close #1256 😉

[2016-06-06 03:22] rdeits commented on #2465
FYI: the `pep8` package has been renamed to the more-readable [pycodestyle](https://pypi.python.org/pypi/pycodestyle) package going forward.

[2016-06-06 14:15] david-german-tri commented on #2473
From @RussTedrake on #2508 (duplicate):

[2016-06-06 14:21] david-german-tri commented on #2508
I agree with @rdeits that this sounds like a duplicate of #2473.  Since we already have a bunch of notes on that issue, I'll close this one.

[2016-06-06 14:21] #2508 closed

[2016-06-06 14:25] jamiesnape commented on #2473
The issue is more likely that the version of Java used with MATLAB is different and incompatible with the one that is used to compile the other code. Adding `-source 1.6` is not really the solution. For example, `-source 1.7` would probably work for MATLAB 2015b. If I recall, there is something like a `MATLAB_JAVA` variable you can set to a different JDK.

[2016-06-06 14:25] david-german-tri commented on #2473
https://groups.google.com/d/topic/lcm-users/bjjie-0rxcc/discussion

@rdeits, @liangfok, and/or @RussTedrake - would you mind running `version -java` in MATLAB when you get a chance, and posting the results here?  On R2016a/Ubuntu, I get:

... which probably explains why it's happy.

[2016-06-06 14:35] liangfok commented on #2473
Here's what I see using OS X 10.11.5 and Matlab R2016a:

[code]

[2016-06-06 14:42] david-german-tri commented on #2473
@liangfok - thanks!   I guess MathWorks upgraded to Java 7 on OS X in R2016a.

Here are some options, none of which I like.  Anyone have better ideas?

1. Tell users to install a modern JDK, but use the `-source` flag to forcibly downgrade `javac` to emit bytecode that our supported version of MATLAB can accept.  This is brittle because we're compiling the JDK with a possibly-incompatible compiler

[2016-06-06 14:52] sherm1 commented on #2473
`version -java` in R2016a on Windows 10: `Java 1.7.0_60-b19 with Oracle Corporation Java HotSpot(TM) 64-Bit Server VM mixed mode`

[2016-06-06 14:54] jwnimmer-tri commented on #2473
Choice 3 seems like an appropriate level of "you break it you bought it".  If you prefer to use older-matlab, you have to install the corresponding older-jdk.

Also, now that we know that the matlab version substantially matters (recent releases are not interchangeable), we need to explicitly list which version(s) of matlab we support in the `developers.rst` matrix, get them under jenkins, and all

[2016-06-06 15:01] jamiesnape commented on #2473
For completeness, the fifth choice, which is probably the most unpalatable is installing two JDKs and setting both the `-source` and `-bootstrap` flags. Basically, no one does it, because you usually may as well just use the same compiler and libraries from a single JDK to compile everything.

Installing 1.7 on all CI configurations is going to be easiest. Installing 1.6 is not going to be possibl

[2016-06-06 15:15] jamiesnape commented on #2465
There is also [yapf](https://github.com/google/yapf) to autoformat Python files in the same spirit as `clang-format`.

[2016-06-06 16:50] david-german-tri commented on #2473
OK, here's a proposal.  Comments and passive votes (:+1:, :-1:) welcome!  If this plan gets buy-in, I'll farm it out into separate issues.

* Our supported versions of MATLAB and Java should always match.  This means upgrading to R2016a on CI, and documenting that in `developers.rst`.

* We should provide a CMake option (off by default) to set `-source` to an arbitrary value, and document how to u

[2016-06-06 16:57] jwnimmer-tri commented on #2473
Instead of adding more knobs that must be set to one specific thing or else _explosions_, wouldn't it be more robust to have our CMake script interrogate the matlab version, and then configure the (super)build java options to match that?

[2016-06-06 17:28] amcastro-tri commented on #2004
@erwincoumans. I am testing with clearing the contact manifold. So far What I am doing is something like this:
[code]
But I still l get results that seem to have some sort of coupling in "history". Is this the right way to clear manifolds?

I also tried using `btDispatcher::releaseManifold(btPersistentManifold* manifold)` but in that case I get a sef-fault some time after the call.

[2016-06-06 17:54] jamiesnape commented on #2473
We had to request physical DVDs from MathWorks before, so it will take it a while (possibly a very long while) for this to happen.

[2016-06-06 21:10] liangfok commented on #2259
@jamiesnape: I need to create some directories and files and modify some environment variables in Drake-Linux-ROS-CI. I'm writing to you because your comment in https://github.com/RobotLocomotion/drake/issues/2369#issuecomment-220453697 indicates you may know how to do this.

Basically, I need to either run the following script, or replicate what this is script is doing, to convert the existing [r

[2016-06-07 01:34] liangfok commented on #2393
I traced the problem to: https://github.com/RobotLocomotion/drake/blob/master/drake/doc/Doxyfile_CXX.in#L128

[2016-06-07 03:45] rdeits commented on #2473
With Matlab R2015b on OSX 10.11.4 I see:

[code]

[2016-06-07 03:51] sherm1 commented on #2393
I think this could be confusing, Liang. The examples are likely to have many repeated symbol names. Nice doxygen could be made for them but not the way we usually do it -- I think they would need to have their own topics and be documented consciously as examples.

[2016-06-07 08:04] liangfok commented on #2393
Yeah I was just thinking the same. Maybe each example can have its own Doxygen website that is built using:

[code]

[2016-06-07 13:07] jamiesnape commented on #2259
Are you using the `add_rostest` and/or `add_rostest_gtest` CMake functions?

[2016-06-07 13:37] liangfok commented on #2259
I am not because Drake is not a real Catkin package using the Catkin build system. I am instead faking a Catkin package and system in a temporary directory to get `rostest` to work with Drake's ROS-based unit test.

[2016-06-07 14:11] Lucy-tri commented on #1415
@ggould-tri should I prioritize this lower than the C++ trajectory optimization work (pendulum, DircolTrajectoryOptimization)?

[2016-06-07 14:15] ggould-tri commented on #1415
Yes.  Right now non-emergency issues are a lower priority than current
development.  That may change as we staff up, but not before you are likely
to be done with pendulum anyway.

On Tue, Jun 7, 2016 at 10:11 AM, Lucy <notifications@github.com> wrote:

--
Grant Gould
Toyota Research Institute

[2016-06-07 14:56] sherm1 commented on #2393
I think the example documentation should just get built along with Sphinx and the API documentation -- it's too much work to ask for manual builds of each example.

[2016-06-07 15:46] jhoare commented on #1859
For reference on this, some discussion about moving some of the PODS/submodules to build out of source is here: https://github.com/RobotLocomotion/drake/pull/1884#issuecomment-201449219

[2016-06-07 16:43] amcastro-tri commented on #1415
This is great! I just talked to Russ' students this morning just about this. And we even made a little test calling fastQP but of course it failed. It'd be super useful to have that working. Right now Matlab calls fastQP and only if it fails it calls the Gurobi solver.

[2016-06-07 17:43] jamiesnape commented on #2259
I think we need to write some CMake functions that approximate `add_rostest`. The environment would be setup within that function. I will give that some thought and get back to you.

[2016-06-07 17:53] #2478 closed

[2016-06-07 19:09] #2494 closed

[2016-06-07 19:36] liangfok commented on #2393
OK about generating both Drake's library API and its examples using the same build target and command. How about we enable example documentation when [INTERNAL_DOCS = YES](https://github.com/RobotLocomotion/drake/blob/master/drake/doc/Doxyfile_CXX.in#L75) (it will be by default set to `NO`)?

[2016-06-07 20:19] jwnimmer-tri opened #2514 "Clarify "Integer types" rule from cppguide"
https://google.github.io/styleguide/cppguide.html#Integer_Types

We should clarify the "Integer types" rule from cppguide.  It's not clear when (other than bitfields) unsigned types can be used.

The rule that david-german-tri and I seem to agree on is that unsigned integers may only be used:
- for bitfields
- when a (1) non-Drake API uses unsigned types, and (2) casting to a signed type during Dr

[2016-06-07 20:20] jwnimmer-tri commented on #2514
Possible additional item to fix at the same time: use int64_t, not ptrdiff_t, within Drake.  By having fewer choices of integer type (`int`, `int64_t`, and a few `size_t`), code will be easier to read and write.

[2016-06-07 21:46] sherm1 commented on #2514
`int64_t` seems too specific in many cases. It is rare that we require exactly 64 bits, but rather want the biggest integer available. I like `long long` for that purpose. It has several advantages:
- it is available on all conformant compilers (int64_t doesn't have to be there, although it probably will be)
- there is no issue about whether we have to specify `std::` first (we'll need a style exc

[2016-06-07 22:00] sammy-tri commented on #2514
Thoughts:

* I think if you're actually doing arithmetic on bare pointers (which is likely to be difficult to explain why this is a good idea during review anyway), ptrdiff_t is strictly correct and should be used in that case.  Using it as an arbitrary index variable type seems less obviously correct, and if a third party library is doing it than the spelling "Eigen::Index" seems to be the right

[2016-06-07 22:15] sherm1 commented on #2514
We already have an "additional rule" covering this for size_t and ptrdiff_t [here](http://drake.mit.edu/code_style_guide.html#additional-rules) (3rd bullet), we would need to add `int64_t`. The rule is there to *prevent* people from cluttering up the code with `std::`, not to *permit* leaving it off.

[2016-06-08 03:26] liangfok opened #2516 "Model Joint Position Limits Are Not Enforced"
I wrote a [simple dynamics simulation for the KUKA IIWA arm](https://github.com/liangfok/drake/blob/add_kuka2/drake/examples/kuka_iiwa_arm/run_kuka_iiwa_arm_dynamics.cc) and included a check to verify that the final joint positions after 5 seconds of simulation reside within the specified joint position limits. Unfortunately, the check reliably detects joint position limit violations.

To replicat

[2016-06-08 03:35] liangfok opened #2517 "Added enforcement for joint velocity limits?"
First update the SDF and URDF parsers to parse and save these limits in `DrakeJoint`. Then update the simulation to enforce these limits.

[2016-06-08 04:01] liangfok commented on #2516
The forces for enforcing the joint limits are defined in [RigidBodySystem::dynamics()](https://github.com/RobotLocomotion/drake/blob/b4d3a9cd9f9acba0f1e29adb52ff6177fb587acb/drake/systems/plants/RigidBodySystem.cpp#L118). These forces are generated by a PD controller where `k = RigidBodySystem::penetration_stiffness` and `d = RigidBodySystem::penetration_damping`. Thus, I wonder if the degree to w

[2016-06-08 04:13] liangfok commented on #2516
I hacked higher gains (`Kp = 5000` and `Kd = 100` versus the original `Kp = 3000` and `Kd = 0`) and the degree to which the joint position limits were violated was reduced:

[2016-06-08 04:55] palmieri opened #2518 "problem with the installation from the source code"
Hi all,

I am trying to install drake by compiling its source. I got the src from https://github.com/RobotLocomotion/drake.git.
I am running Ubuntu 14.04, with gcc/g++ 4.9.3 and cmake 3.5. The installation is carried on with the DISABLE_MATLAB option ON (because I would like to use only the cpp API).
After giving the command "make" from the main drake folder, I got this error:

Thanks for your hel

[2016-06-08 09:07] lavrinovu4 opened #2519 "LQRTree problem"
Hi all,

I am trying run LQRTree on pendulum.
But It crashes with error:

for now, I require that G matches V at the final conditions

I get exemples of values for tspan(end):
Vtraj(V)
[  (8.0211e-05)_x1+(9.5326)_x1^2+(1.7459e-05)_x2+(0.87599)_x2^2+(2.9633)_x2_x1  ]
Vparent(G)
[  (40.82)+(39.363)_x1+(9.5326)_x1^2+(6.8069)_x2+(0.87599)_x2^2+(2.9633)_x2_x1  ]

So what can be wrong?
Thank you in adva

[2016-06-08 12:24] liangfok commented on #2516
@amcastro-tri: Do you know of a good way to enforce joint limits? I was thinking about exponentially increasing the joint-limit forces before a joint hits its limit such that it becomes infinity when the limit is actually hit, but his seems extremely risky from a simulation stability point of view.

[2016-06-08 12:39] RussTedrake commented on #2473
installing new versions of matlab all the time is a pain.  i would like to not force it on myself (let alone the world) too often.  matlab ships the version of jdk that they need to run.  i don't understand the problem with setting a -source (and possibly -bootstrap) flag to make my newer jdk backwards compatible?  agreed that we could potentially check the matlab jdk version and only do that if n

[2016-06-08 13:07] jamiesnape commented on #2473
To use `-bootstrap` you need to install the JDK anyway so you may as well compile with the compiler that ships. The flag `-source` only adjusts the language settings. If you analyzed the byte code you would see fragments of packages that ship with JDK 1.8 and that is not a good thing at all.

[2016-06-08 13:09] jamiesnape commented on #2473
My suggestion would be to stick with MATLAB 2015b and specify that (only) JDK 1.7 should be installed. We could also say that if you use a different version of MATLAB, it is the responsibility of the developer to install a matching JDK.

[2016-06-08 13:19] amcastro-tri commented on #2516
Liang. As we saw yesterday in `RigidBodySystem::dynamics` joint limits are modeled as a spring/damper  system. The spring stiffness is `penetration_stiffness` and the damper's damping is `penetration_damping`. It looks similar to a PD controller but physically is more like a spring/damper system.
Therefore these limits are not enforced directly say, using a constraint together with an LCP solver,

[2016-06-08 13:39] david-german-tri commented on #2473
Based on @rdeits `version -java` output above, I'm no longer confident we've even root-caused the problem.  MATLAB is using Java 1.7, so why would building the Drake jarfiles with `-source 1.6` be useful?

Robin, just for completeness, could I trouble you to run `javac -version`?

[2016-06-08 13:40] jamiesnape commented on #2473
He is using 1.8. See the second comment.

[2016-06-08 13:58] david-german-tri commented on #2473
@jamiesnape Ah, thanks!  According to the [javac 1.8 docs](https://docs.oracle.com/javase/8/docs/technotes/tools/windows/javac.html), `-source 1.6` will still imply `-target 1.8`, but #2404 also set `-target 1.6`, which is the real culprit.  Root cause reestablished.

Kudos to @jwnimmer-tri for catching this.

[2016-06-08 14:03] sammy-tri commented on #2514
I somehow missed that (which is weird, since I searched for std::).  Is there a reason to enumerate the integer types one should not use std:: with?  As opposed to "don't prepend std:: to anything from stdint or stddef" or "don't put std:: before integer types?"  (an idea which had honestly never occurred to me to begin with)

[2016-06-08 14:14] david-german-tri commented on #2518
This is odd!  I was unable to reproduce just now in a clean clone of `master` at de9d89 on Ubuntu 14.04 with `g++ 4.9.3` and `cmake 3.5.2`.

[code]
One possible suspect: your `CMAKE_INSTALL_PREFIX` ends with `/install`, whereas mine ends with `/build`.  Any idea how that happened?

[2016-06-08 14:21] liangfok commented on #2516
@amcastro-tri, thanks for the explanation. I will for now do as you suggest and include a tolerance when checking joint tolerance. I look forward to comparing the spring-damper method against the constraint-based method.

[2016-06-08 14:25] david-german-tri commented on #2473
So, revised proposal.  Let's have the superbuild do something like this:

[code]

If there's a discrepancy with `javac -version` in the release digits, we can emit a warning and set `-source` and `-target` to match the MATLAB JRE.  @jamiesnape, does that sound reasonable to you?

[2016-06-08 14:26] jamiesnape commented on #2473
Sure. Sounds good.

[2016-06-08 14:38] billhoffman commented on #2473
Should be able to look at the code for the matlab tests for how to run matlab and capture output on all platforms from cmake execute_process.

[2016-06-08 14:38] david-german-tri commented on #2486
Upgrading this to `priority: high` because it blocks #2341.  Any news?

[2016-06-08 14:41] david-german-tri commented on #2333
At a high level, MATLAB is returning 0 in this case, and we'd need it to return 1.  Specifically, we need the following command to fail:

`https://github.com/RobotLocomotion/drake/blob/0294fdbee04d18ab8421c8de759d2860ca3f4f7a/drake/CMakeLists.txt#L189`

[2016-06-08 14:44] david-german-tri commented on #2131
This appears to have no remaining actions, so I'm going to close this and let the mystery lie.

[2016-06-08 14:44] #2131 closed

[2016-06-08 14:45] amcastro-tri commented on #2516
I do too!

[2016-06-08 14:50] mwoehlke-kitware commented on #2486
I have this locally working, but it's based on #2487; I'm hoping that will land first so I don't have to go back and redo the changes to externals (which would then conflict with #2487). However, see openhumanoids/bot_core_lcmtypes#18; upstream is rejecting the PR, so unless that can be resolved, we would have to use our own copy of bot_core_lcmtypes.

Also, I should note for the record that #2483