[2016-09-13 16:49] mwoehlke-kitware commented on #3397
The first one: `<drake-distro>/build/install/lib<lib-suffix>`. "Install prefix" is normally synonymous with `${CMAKE_INSTALL_PREFIX}`.

 (Note that drake currently neither respects nor propagates (to externals) `${LIB_SUFFIX}`. It *should* do both, but even then I'm probably the only one actually setting it. Just a word of warning though that at some point you may need to add e.g. `lib64` either i

[2016-09-13 16:57] jwnimmer-tri commented on #3433
My local builds also have buckets-o-fun going on with gflags linking now (linebreaks added for readability):
[code]

See how a different build variant crept in there?

[2016-09-13 16:59] liangfok opened #3435 "Drake Proper Should Not Use ROS Environment Variables"
# Problem Definition

Drake's `drake-distro/drake/systems/plants/xmlUtil.cpp` currently contains a method called [populatePackageMap()](https://github.com/RobotLocomotion/drake/blob/master/drake/systems/plants/xmlUtil.cpp#L307) that accesses the following two environment variables, which belong to ROS:
1. ROS_ROOT
2. ROS_PACKAGE_PATH

This causes problems when you have multiple development clones

[2016-09-13 17:06] jwnimmer-tri commented on #3397
All of my Drake programs apparently have a an `rpath` set already, so they don't need this setting (line breaks added for readability):
[code]

Having to set the LD_LIBRARY_PATH just to use some python imports seems like an undesirable burnden for our users.

Why was this changed?  Should we change it back?

[2016-09-13 17:48] liangfok commented on #3258
# Drake-Only Simulation

## Description
I ran the Drake-only version of the vehicle simulation to see if it behaves differently than the Drake + ROS version.

## Commands
The latest commands are officially given [here](https://github.com/liangfok/drake/blob/master/drake/examples/Cars/README.md). The exact commands I executed are given below.

[code]

## Video
The following video shows what happens

[2016-09-13 18:06] #3226 closed

[2016-09-13 18:09] mwoehlke-kitware commented on #3397
Only if you run them from the *build* directory. Try looking at the installed binaries...

That said, `_lcm.so` should be the same, i.e. if you point `PYTHONPATH` to `<build>/externals/lcm/lib/python2.7/site-packages/lcm/_lcm.so` instead of `<install>/lib/python2.7/site-packages/lcm/_lcm.so`, that will probably work also.

Probably because, by default, LCM doesn't build a PIC static library. Forci

[2016-09-13 18:17] mwoehlke-kitware commented on #3330
Okay, so just downloading the packages (#3392) is *not* going to work; we either have to unpack the entire GTK "distro" into drake's install root (and ensure nothing tries to use the broken `.pc` files), or else deal with the non-trivial logic to install only the required subset and/or fix up the `.pc` files.

Note that someone (drake? libbot?) is still insisting on searching for `lcm.pc` which in

[2016-09-13 18:32] jwnimmer-tri commented on #3397
Installed binaries still have an rpath:
[code]

I don't understand how that is relevant, or helps.  The python script always loads `_lcm.so` successfully; but post-#2582 that library requires `liblcm.so.1`, which is not found by the loader.

Here is what files I have:
[code]

I think, though, what you're saying is code that does `import lcm` from within a Drake build has to add an entry to `LD_LIB

[2016-09-13 19:22] #3355 closed

[2016-09-13 19:52] mwoehlke-kitware commented on #3397
Yike. It looks like drake, in a somewhat nasty way, is [monkeying with RPATH](https://github.com/RobotLocomotion/drake/blob/3b2f5a02fac45302e06d0276c8a0b133d555f795/cmake/pods.cmake#L677).

(There are some legitimate reasons to do this, but the way drake is doing it ­— at least, the *function* that is doing it — is a bit scary. Most projects, however, including LCM, don't touch any of the RPATH st

[2016-09-13 20:00] jwnimmer-tri commented on #3397
Oh, indeed it does.  Sorry!
I guess I will explore this option.

Nope, because we can fix `PYTHONPATH` automatically for them:
https://github.com/RobotLocomotion/drake/blob/4c18e9b926a35fb1540527ad8f4531e094f1ea61/drake/examples/Cars/steering_command_driver.py#L29

Fixing `LD_LIBRARY_PATH` is more difficult:
https://github.com/RobotLocomotion/drake/blob/4c18e9b926a35fb1540527ad8f4531e094f1ea61/dra

[2016-09-13 20:07] jamiesnape commented on #3330
Unpack GTK and delete all the pkg-config files maybe?

[2016-09-13 20:33] sherm1 commented on #3325
I totally agree and this is how the System 2 caching mechanism should behave. Surprisingly this is somewhat controversial at this point but I hope we'll resolve it soon.

[2016-09-13 20:40] mwoehlke-kitware commented on #3397
Why are shared libraries used, ever? For one, they reduce code duplication (i.e. space used on disk). IIRC, 'the old way' was also building some objects (sources) twice.

[2016-09-13 20:45] mwoehlke-kitware commented on #3330
That just means anyone trying to use them will fail in a more obvious manner; we'd still have to find and fix any place looking for them.

[2016-09-13 20:57] RussTedrake commented on #3419
this looks like an issue with the matlab headers.  not sure we’re the right ones to fix it for you..?

[2016-09-13 21:10] tkoolen commented on #3325
The controversial thing is sharing cache that is supposed to be **private to a subsystem** implicitly (i.e., not through output ports) with other subsystems in a diagram (e.g., https://github.com/RobotLocomotion/drake/issues/3325#issuecomment-245105482).

The proposal here is to associate cache **with the output of a subsystem**, not with the subsystem itself, so that it passes through an output p

[2016-09-13 21:13] david-german-tri commented on #3325
@tkoolen Your understanding is mine also.  I think @sherm1 is trying to connect this thread to the question of whether outputs themselves should be computed in push order or pull/lazy order.  I claim that's a totally separate, unrelated issue.

[2016-09-13 21:17] jwnimmer-tri commented on #3397
Anyway, it sounds like upstream LCM isn't broken, just different, so I can take it from here in terms of fixing up my demo scripts.

[2016-09-13 21:22] tkoolen commented on #3325
The point is that in a networked situation, the `RigidBodyPlantState` (or rather, a minimal representation of it as an LCM message) may be coming over the network, and there may not *be* any `RigidBodyPlant` on the receiver side whose cache consumers can access. The natural thing in this case is to associate the cache directly with the `RigidBodyPlantState` output, not with the `RigidBodyPlant`.

[2016-09-13 21:26] jwnimmer-tri commented on #3325
If it helps: another architecture for the networked plant state is to transmit the minimal representation, and then have an explicit System on the receiving side that takes minimal representation as input and provides the supplemental representation as (cached) output.  Then you get minimalism, caching, explicit documentation of the computations' structure, and it would (also) be reusable code pat

[2016-09-13 21:27] david-german-tri commented on #3325
@jwnimmer-tri beat me to it.  But this whole argument is 2a vs 2c and can wait.

[2016-09-13 21:28] tkoolen commented on #3325
Completely agree.

[2016-09-13 21:31] tkoolen commented on #3325
@jwnimmer-tri, yep, exactly what I meant in https://github.com/RobotLocomotion/drake/issues/3325#issuecomment-246704316 with

[2016-09-13 21:35] jwnimmer-tri commented on #3325
It sounds like I should abstain from this discussion for the time being :smile:.  I am happy to talk though the computation / caching for the future numbered items if and when we need them, if anyone wants.

[2016-09-13 21:38] #3406 closed

[2016-09-13 22:46] tkoolen commented on #3325
Sorry, didn't mean to scare you away, haha :-)

[2016-09-13 23:04] jwnimmer-tri commented on #3325
I'm good.  It's an interesting discussion, just not a problem I need to own.

[2016-09-14 02:19] #2201 closed

[2016-09-14 04:03] sherm1 commented on #3325
Caching is supposed to apply to output ports as well (and also other computations like derivatives, discrete updates, energy calculations, and anything a concrete System may want to add besides the general API). Cached output ports provide a disciplined way to allow caching to reach downstream from the System that owns that piece of cache real estate, without having to expose any of the internal w

[2016-09-14 07:09] wuyou33 commented on #3419
@RussTedrake It has been fixed,Thanks.

[2016-09-14 07:09] #3419 closed

[2016-09-14 09:38] tkoolen commented on #2165
On OSX in Release mode, I get a segfault with:
[code]

I haven't investigated that segfault further. Instead, I tried compiling in Debug mode, where I didn't get the segfault above, but instead got:
[code]

in the matlab dump and
[code]
on the command line.

This was due to a bug in zmpUtil.cpp (that may have crept in after the bug that this issue started with). We check that the degree of all of

[2016-09-14 09:50] tkoolen commented on #2165
matlab error: I just didn't have the curve fitting toolbox.

[2016-09-14 11:59] tkoolen commented on #2165
Regarding the segfault in release mode, it indeed appears that this happens when `param_sets` gets move-assigned (i.e. assigned from an rvalue), but not when it's being copy-assigned from an lvalue (as demonstrated by https://github.com/rdeits/drake/commit/6de25e992a321521af21cb75ac90314e248409e4). There are real differences between the implementation of a `std::map`'s move assignment operator and

[2016-09-14 12:09] tkoolen commented on #2165
I can reproduce the minimal example in https://stackoverflow.com/questions/38403189/move-assigning-a-stdmap-with-an-aligned-value-type-segfaults on my machine, and it only results in a segfault in release mode, not in debug, consistent with what we're seeing.

[2016-09-14 13:38] jhoare opened #3444 "examples/PR2/runPassive are failing on linux-matlab-open-source builds"
It appears that after https://github.com/RobotLocomotion/drake/pull/3262 was merged, the linux-matlab-open-source continuous CI builds have had a test fail for `examples/PR2/runPassive`

See:
https://drake-jenkins.csail.mit.edu/view/Continuous/job/linux-gcc-continuous-matlab-open-source/653/
https://drake-jenkins.csail.mit.edu/view/Continuous/job/linux-gcc-ninja-continuous-matlab-open-source/563/

[2016-09-14 15:40] mwoehlke-kitware commented on #3397
TBH, I wouldn't mind @ashuang's opinion on the matter :smile:.

@ashuang, the setuptools build of the LCM Python module recompiles the LCM C sources, which duplicates object code but results in a stand-alone `.so`. The CMake build instead links to `liblcm.so`, potentially requiring that `[DY]LD_LIBRARY_PATH` is set in addition to `PYTHONPATH`. Do you think that's okay, or should we (i.e. LCM's CMa

[2016-09-14 16:19] ashuang commented on #3397
Hi @mwoehlke-kitware . Yes, the setuptools build of LCM Python was intentional in that regard. I thought it was more desirable to have a standalone `_lcm.so` and to not have to worry about library paths and/or environment variables.  My recommendation would be to go back to duplicating the object code so that the python module can be a standalone `.so`. Disk space is cheap these days, and the dupl

[2016-09-14 17:54] jwnimmer-tri commented on #3231
This is really fairly annoying.  I'm going to work around it in my one shell script, but really we should get `bot-spy` working again.  @david-german-tri can you escalate to kitware?

[2016-09-14 18:14] tkoolen commented on #3444
I can't reproduce this locally, with GCC and Matlab 2016a (nor with clang on OSX with 2016a). The CI builds use 2015b, so that could be a difference. This one is a bit frustrating.

[2016-09-14 18:18] tkoolen commented on #3444
@hongkai-dai, do you have any insights? I don't know how to debug this.

[2016-09-14 18:23] tkoolen commented on #3444
Related, I suppose: https://github.com/RobotLocomotion/drake/issues/1702.

[2016-09-14 18:32] jhoare commented on #3444
Are you also building in the "open-source" configuration? The regular matlab builds are passing fine, is it possible the "open-source" configuration is using a different solver or something for this test?

[2016-09-14 18:38] jamiesnape commented on #2165
Can you reproduce the issue with `-O1` and `-O2` compiler flags (`Release` sets `-O3`)?

[2016-09-14 19:02] tkoolen commented on #2165
For the minimal example: fine with O0, bad with O1, O2 and O3.

I also created the following example involving Eigen:
[code]
Strangely enough, for this second example, things are fine for O0 *and* O1, but bad for O2 and O3, regardless of whether I use `std::map` or `eigen_aligned_map`. So following Eigen's standard rules for using fixed-size vectorizable types in STL containers (https://eigen.tuxf

[2016-09-14 19:04] rdeits commented on #2165
Wow, nice find! I'm astonished that my stupid hack actually did something relevant.

[2016-09-14 19:47] tkoolen commented on #3444
There might be differences, yes. How do I build exactly what's built in CI?

[2016-09-14 20:01] jhoare commented on #3444
Check out the drake-ci repository into a `ci` subfolder within `drake-distro`, edit the `run_local.bash` to have the right paths/environment variables, and run the shell script.

https://github.com/RobotLocomotion/drake-ci/blob/master/run_local.bash

[2016-09-14 20:04] hongkai-dai opened #3449 "quat2axis does not work properly for the degenerate case"
currently `quat2axis` in `drake/math/quaternion.h` does not work for the degenerate case, when the rotation angle is 0 degree. Specifically it returns the rotation axis to be a zero vector.
[code]
the output is
[code]
On the other hand, in the other code, we assumes that the axis is normalized, or at least is not a zero vector. For example, in `axis2rotmat`, we did
[code]

I would propose to treat

[2016-09-14 20:04] tkoolen commented on #3444
Thanks, didn't know that, I'll try again.

On Wed, Sep 14, 2016 at 4:01 PM, John Hoare <notifications@github.com>
wrote:

[2016-09-14 20:18] #3433 closed

[2016-09-14 20:39] jwnimmer-tri commented on #3231
I've added some hack-arounds.  Be sure to grep for this issue number and remove them, concurrently with fixing this issue.

[2016-09-14 22:53] hongkai-dai opened #3451 "rotmat2axis does not work for 180 degrees of rotation"
There are two degenerate cases for axis-angle representation, at 0 degree and 180 degrees. `rotmat2axis` in `drake/math/rotation_matrix.h`handles 0 degree as a special case, but does not handle 180 degree. So if I use the rotation matrix corresponding to 180 degree rotation about z axis, the return value from `rotmat2axis` is a rotation of 180 degree about **zero** vector.

We need to implement th

[2016-09-14 23:06] sherm1 commented on #3449
:+1: -- quat2axis() should promise always to return a unit vector and angle. Returning `[1 0 0], 0` in the singular case is as good as any other axis. One tricky issue is deciding at what tolerance to give up on calculating an axis; let's discuss.

[2016-09-14 23:17] sherm1 commented on #3449
Here is the Simbody implementation -- note that `acos()` should not be used!

[code]

[2016-09-15 01:30] sherm1 commented on #3451
Per f2f with @hongkai-dai, a very robust and efficient way to do this would be: fix `quat2axis()` as discussed in #3449, then use Drake's existing rotation matrix to quaternion method followed by `quat2axis()`.

[2016-09-15 01:46] hongkai-dai commented on #3451
FWIW, I also tested the implementation in http://www.euclideanspace.com/maths/geometry/rotations/conversions/matrixToAngle/, the numeric performance is not as good as `quat2axis(rotmat2quat(R))`, since it calls `acos` in that implementation. And as @sherm1 points out, `acos` is not numerically stable near 1.

[2016-09-15 07:42] hongkai-dai commented on #3451
@rdeits , this could be the reason why Atlas falls over in the DRC on the second day, that we did not handle this 180 degree rotation properly.

[2016-09-15 09:48] RussTedrake commented on #2165
super excited to see the progress on this!  thanks @tkoolen !!

[2016-09-15 17:23] hongkai-dai commented on #3413
Copy from email:
i wonder if it is possible to have a check in the add_mex() cmake script to make sure that boost does not get linked in (at least not directly) with anything that will share the memory space with matlab?  that might be a sufficient guard.

On Sep 14, 2016, at 10:08 AM, Jeremy Nimmer <jeremy.nimmer@tri.global> wrote:

Yes.

You can have Drake builds with Boost, or Matlab, but not b

[2016-09-15 17:24] hongkai-dai commented on #3413
Copy from email so that we can keep track of the conversation, and get more input:
On Sep 14, 2016, at 10:15 AM, Russ Tedrake <russ.tedrake@tri.global> wrote:

i wonder if it is possible to have a check in the add_mex() cmake script to make sure that boost does not get linked in (at least not directly) with anything that will share the memory space with matlab?  that might be a sufficient guard.

[2016-09-15 17:52] sammy-tri commented on #3351
This is also a blocking issue for me, as I'm also working on preparing a PR which wants to use bot_core LCM types which refer to other bot_core LCM types.  I stumbled on the same workaround which Twan did with adding an include_directories line, but I don't really want to include that in my PR.

I'm not sufficiently clear on the CMake changes suggested above to attempt to implement myself without

[2016-09-15 17:54] RussTedrake commented on #3413
@RobotLocomotion/kitware -- what do you think about handling the boost dependency?

[2016-09-15 18:20] tkoolen opened #3463 "CMake installation instructions export PATH in a bad way"
The instructions [here](http://drake.mit.edu/ubuntu_trusty.html) end with running a command that adds a line to .bashrc, which prepends the CMake bin directory to path, but in doing so, it evaluates the PATH variable. So instead of ending up with
[code]
as desired, you end up with
[code]
This causes future edits to PATH in .bashrc before this line to get clobbered.

[2016-09-15 18:28] jhoare commented on #3463
This took me a bit to understand until I actually looked at the documentation, and I agree.

The fix would be to change the document from reading:
[code]

to:
[code]

[2016-09-15 19:35] tkoolen commented on #3449
const auto& axis = (a.template head<3>()) / (a.template head<3>()).norm();
[code]

[2016-09-15 19:39] david-german-tri commented on #3449
I don't think it's a bug, due to const reference lifetime extension, but for sure it's unnecessarily confusing.

https://herbsutter.com/2008/01/01/gotw-88-a-candidate-for-the-most-important-const/

[2016-09-15 19:39] jwnimmer-tri commented on #3444
If we can't fix-forward this today, I propose that we either disable the test, or revert the PR.  Having a broken build in Continuous is undesirable.

[2016-09-15 20:22] tkoolen commented on #3444
I still can't reproduce this locally. I tried the `run_local.bash` thing with
[code]

and the test passes (if I run it by itself). Remaining differences between CI and my setup include Matlab R2015b vs my Matlab R2016a, and running all tests in succession instead of just `examples/PR2/runPassive.m`.

[2016-09-15 20:24] jwnimmer-tri commented on #3444
Is there any chance a `CMakeCache.txt` would have contained stale values, defeating the `run_local.bash` attempts to, e.g., turn off snopt.

[2016-09-15 20:24] tkoolen commented on #3444
Sounds good to me.

[2016-09-15 20:26] tkoolen commented on #3444
@jwnimmer-tri, nope, clean checkout and build. Also made sure that `checkDependency('gurobi')`, `checkDependency('fastQP')`, and `checkDependency('snopt')` fail.

[2016-09-15 20:39] mwoehlke-kitware opened #3466 "`message` may be used uninitialized"
I am getting several "errors" (due to use of some additional `-Werror` local to my build) similar to:

[code]

In fact, the "may" here is wrong; the class *is* being used (partially) uninitialized. Specifically, a new message is being created in these functions (i.e. the same issue exists in all of the translators), but the `timestamp` field is not being set.

It would be appreciated if someone fa

[2016-09-15 20:41] samkhal opened #3467 "Viewing control signals from simulation"
I'm running the Atlas demos and want to be able to analyze the control torques that are being sent. I looked at https://github.com/RobotLocomotion/drake/issues/1847, but that didn't fully answer my question.

In that issue, Russ mentions that the signals are output directly by `simulate`; however, the xtraj and ytraj outputs of simulate appear to be identical (`isequal(simout.get('xout').signals.v

[2016-09-15 20:42] mwoehlke-kitware commented on #3466
p.s.

[code]

...needs:

[code]

(This *should* be showing up on CI; not sure why it isn't...)

[2016-09-15 20:45] jwnimmer-tri commented on #3466
I believe setting the timestamp is fixed via #3460.

[2016-09-15 20:46] jwnimmer-tri commented on #3466
P.S., I am all for more error flags being turned on.  Someone just has to shave the yaks to make it happen.

[2016-09-15 20:59] mwoehlke-kitware commented on #3466
Okay, tomorrow I may look into making a PR to turn on `-Wmaybe-uninitialized`; this is hopefully the only spot tripping it. (It seems to be the only spot on my machine, but I don't have many externals turned on...)

[2016-09-15 21:28] jamiesnape commented on #3388
Unfortunately, nothing I can do to fix the network issues. The `ctest` return value issue is captured as #2817. Therefore, closing this as a duplicate of that issue.

[2016-09-15 21:28] #3388 closed

[2016-09-15 21:51] tkoolen commented on #3449
Aha, thanks, learned something.

[2016-09-16 00:42] amcastro-tri opened #3470 "Eigen quaternion elements do not lay out in memory in the same way Drake does."
We make an extensive use of Eigen in Drake. It makes sense that `Quaternion`'s are also used instead of just 4d vectors. Eigen already provides convenience conversion between Quaternions, AxisAngle, 3d matrices and Isommetries and we could leverage on them.

However Eigen layout in memory of entries is different from Drake's.
Eigen layout is: first three components are the vector part and the last

[2016-09-16 00:49] jwnimmer-tri commented on #3470
Relevant: [drake/math/quaternion.h#L189](https://github.com/RobotLocomotion/drake/blob/0be1d5bfd3a17797a4463fbbb0d24076c2af9e97/drake/math/quaternion.h#L189).

[2016-09-16 01:13] dengxianga commented on #3369
It looks like a lot of bugs have been fixed this week, after building from the most recent code, Altas no longer fails, the walking looks pretty cool! Thank you!

[2016-09-16 02:44] sherm1 commented on #3470
We already use Eigen's rotation matrix class (Isometry3) -- we should definitely be using Eigen's Quaternion class rather than a roll-you-own version!

[2016-09-16 02:57] jwnimmer-tri commented on #3470
If I'm reading everything correctly, I think the only real problem is this code from #3471:
[code]

This has `VectorOfPoses` storing poses in ((x y z w) (x y z)) order, which is wrong.  It should be ((w x y z) (x y z)) order, in which case everything is consistent and the issue can be closed.

[2016-09-16 03:23] sherm1 commented on #3470
Another reason to use Eigen's Quaternion class is issue #3449 where Drake's homebrew quaternion-to-angleaxis uses a numerically unstable method (apparently grabbed from the internet somewhere) while Eigen's implementation [here](https://bitbucket.org/eigen/eigen/src/e4ccd78402d5d21317540f2d5d17d878de1484e4/Eigen/src/Geometry/AngleAxis.h?at=default&fileviewer=file-view-default#AngleAxis.h-167) is c

[2016-09-16 03:54] hongkai-dai commented on #3470
I would say we should migrate to Eigen's Quaternion, AngleAxis and Isometry3d matrix. We should actually deprecate the method inside `math/rotation_matrix.h, math/axis_angle.h`and `math/quaternion.h`. The tricky part is the roll, pitch yaw representation. Drake uses z-y'-x'' rotation axes, but Eigen does not have this representation. Instead, Eigen uses the Euler angles, defined as z-x'-z'' rotati

[2016-09-16 04:55] sherm1 commented on #3470
Looks like Eigen has a general rotation matrix-to-arbitrary Euler sequence method [here](http://stackoverflow.com/questions/27508242/roll-pitch-and-yaw-from-rotation-matrix-with-eigen-library). Where does it specify the z-x'-z'' sequence? (BTW the term "Euler angles" can also mean any generic 3-angle sequence.)

[2016-09-16 05:10] hongkai-dai commented on #3470
@sherm1 , you are right, I misread the example in Eigen documentation [here](http://eigen.tuxfamily.org/dox/group__Geometry__Module.html#ga0db1cc067c51aaa6dedf5805ee0c53d7). The documentation does not say if it is using intrinsic or extrinsic order. But I assume we can test if
[code]
is the inversion of
[code]

[2016-09-16 08:18] RussTedrake commented on #3470
agreed that we should conform to eigen.
one pain point is that the matlab code uses the old representation (as @hongkai-dai points out), so we will have to be careful at every entry/exit point, or update the matlab.

[2016-09-16 08:27] RussTedrake commented on #3369
great news!  thanks to @tkoolen !

[2016-09-16 08:27] #3369 closed

[2016-09-16 08:31] RussTedrake commented on #3467
you can always add the torques to an output from the wiring diagram level by modifying the mimo feedback and mimo cascase jumble.  (this will be much cleaner in the new c++ systems)

[2016-09-16 10:33] RussTedrake commented on #2921
both of those commits have been merged.  assigning back.

[2016-09-16 12:24] RussTedrake opened #3476 "move drakeURDF.html to drake.mit.edu"
Related to #2881 .

It looks like drake002 is still used to host the urdf xml schema documentation (which may be out of date by now).  is that already being generated by the AWS host?  if not, what are the remaining steps?

[2016-09-16 12:26] RussTedrake commented on #2735
will close this until we hear more.

[2016-09-16 12:26] #2735 closed

[2016-09-16 12:28] RussTedrake commented on #306
won’t fix.  shifting all attention to c++ dev.

[2016-09-16 12:29] #306 closed

[2016-09-16 12:32] RussTedrake commented on #2598
fyi - @jadecastro and @edrumwri are discussing the c++ api for hybrid systems now.

[2016-09-16 12:32] #2598 closed

[2016-09-16 12:44] liangfok commented on #3476
I assume this issue is referring to http://drake002.csail.mit.edu/drake/urdf/drakeURDF.html, which is linked to from http://drake.mit.edu/?

[2016-09-16 12:54] RussTedrake commented on #3476
correct.

[2016-09-16 12:56] jamiesnape commented on #3476
No, it is not. Do you have a script to generate it?

[2016-09-16 14:47] samkhal commented on #2735
I haven't encountered this issue in a while; closing it was warranted.

[2016-09-16 16:57] samkhal commented on #3467
Thanks, that's what I've been doing; I thought there might be a built-in way to do this more cleanly.

As a side note, any ballpark estimate/roadmap on when the shift from matlab to c++ would be complete? I'm looking forward to it.

[2016-09-16 17:43] #3463 closed

[2016-09-16 18:41] hongkai-dai commented on #3470
I have spent two days trying to clean up `drakeGeometryUtil`, which contains many conversion between different rotation representations. I found several bugs in our code, as mentioned in #3449 , #3451 . Basically we did not test these conversions for the corner cases

1. `rotmat2axis` does not work for 180 degrees rotation.
2. `quat2axis` does not work for 0 degree rotation.
3. `rotmat2rpy` does n

[2016-09-16 18:47] tkoolen commented on #3147
It appears that changing `InstantaneousQPController::body_or_frame_name_to_id` from `unordered_map` to `map` and changing `computeBodyOrFrameNameToIdMap` to match fixes the segfault. I don't understand why. Since it's just with GCC and just in debug mode, it may be a compiler/std lib issue (note that the Mac/Release issues are resolved by https://github.com/RobotLocomotion/drake/pull/3462).

[2016-09-16 19:00] #3326 closed

[2016-09-16 19:42] RussTedrake opened #3481 "Recommend refactoring drake/systems/plants/rigidbody to drake/multibody"
It is a big piece of the codebase, and seems to belong alongside automotive

[2016-09-16 20:37] amcastro-tri commented on #3481
I was thinking to place all the RBT and the family, which in my mind are a "dynamics engine" module of Drake, to live somewhere like in `drake/MultibodyDynamics`.

[2016-09-16 21:38] RussTedrake commented on #3481
That is consistent with my recommendation except for multibodydynamics instead of rigidbody.

I agree it is the dynamics engine.  But it is not only dynamics (kinematics, visualization, etc, too) -- this is also a reason to pull it out from systems. That plus the inertia makes me prefer rigidbody.

[2016-09-16 21:40] RussTedrake commented on #3467
The c++ functionality is improving rapidly.  We expect to have the atlas / valkyrie walking pipeline moved to c++ completely probably in ballpark one month

[2016-09-16 21:40] #3467 closed

[2016-09-16 21:59] amcastro-tri commented on #3481
Ah, I see, I didn't realize that you meant to create a directory `rigidbody` in `drake`. I thought you just meant "all physics engine related".

[2016-09-16 23:21] amcastro-tri opened #3482 "Should EvalOutput return a reference instead of expecting an actual vector where to write?"
Consider a system with two output ports:
1. Output one is the state of the system.
2. Output two is a cached entry (assume we have cache, since we will) computation.

When evaluating output 1 we'd need to return a (const) reference to the state vector and avoid unnecessary copies.
When evaluating output 2 we'd check for the validity of the cache entry. If valid, we just return the stored value. If

[2016-09-17 00:17] sherm1 commented on #3482
A further improvement could be:
[code]
because that would permit dispatching directly to the evaluator for a particular output port without having to switch or index off the `port_number`.

[2016-09-17 00:40] liangfok opened #3483 "Consider Generalizing LCM Translator Method Names"
# Current Proposal
LCM Translators have the following two methods:

1. `LcmAndVectorBaseTranslator::TranslateLcmToVectorBase()`
2. `LcmAndVectorBaseTranslator::TranslateVectorBaseToLcm()`

I'm thinking about simplifying them to be:

1. `LcmAndVectorBaseTranslator::DeSerialize()`
2. `LcmAndVectorBaseTranslator::Serialize()`

There are several motivations:

1. The method names will be easier to read

[2016-09-17 01:12] liangfok commented on #3483
Actually, another idea is to generalize the translators to support more than just LCM. I'm going to update this issue to reflect this new idea.

[2016-09-17 04:43] maddog-tri opened #3487 "DRAKE_ABORT() should inhibit "control reaches end of non-void function" errors"
`DRAKE_ABORT()` should inform the compiler that no return is going to happen, so that it doesn't require a meaningless `return BOGUS_VALUE;` statement following the abort.  Providing the `noreturn` attribute does the trick in gcc; I'm not sure about other compilers.  I.e., in `common/drake_assert.h`:

[code]

[2016-09-17 11:39] liangfok commented on #3483
Done. @jwnimmer-tri, since you consulted on the original design, I am specifically seeking your opinion.

[2016-09-17 12:20] jwnimmer-tri commented on #3483
IMO, both new name proposals are superior to the existing names.
I think it's a toss-up for which new pair is better, so you get to choose.

Nit: `DeSerialize` should be just `Deserialize`.

[2016-09-17 12:41] liangfok commented on #3483
OK thanks. I'll probably go with `Serialize` / `Deserialize` since that's middware agnostic. The middleware will be implied by the name of the translator class.

[2016-09-17 14:18] RussTedrake commented on #2797
i am now seeing this repeatedly on my local mac clang.  @rdeits -- have you seen this before?

[2016-09-17 19:45] jwnimmer-tri commented on #2274
This is a good onramp candidate, once #3490 is merged.

[2016-09-17 19:56] jwnimmer-tri commented on #2271
This would be a good onramp issue for a new developer.

I suggest something like this PR order:
- Start with a PR like #3490 -- kick the suppression into subdirs.
- Fix the warning in a directory at a time, in this order:
 - drake/common ASAP
 - drake/math ASAP
 - drake/solvers ASAP
 - any remaining header files that trigger this ASAP

Then with lower priority:
 - drake/systems as time permits
 -

[2016-09-17 19:57] jwnimmer-tri commented on #2273
This one is pretty close to passing already, so we should just fix the balance and un-suppress the warning.  We can leave a cpplint fixup and/or automation improvement for a future issue.

[2016-09-17 20:00] jwnimmer-tri commented on #2272
For an onramp issue, let's at least push down the suppression to only the subdirs that need it (as in #3490), and then repair the code so that only `util`, `matlab`, `systems`, and `examples` subdirectories need suppressions anymore.  After that, we should probably wait for #3253 and friends to settle down before we do more cleanup.

[2016-09-17 20:05] jwnimmer-tri commented on #2269
In a new developer is familiar with clang-format configuration (or wants to learn), they could pick up this issue fairly easily.

[2016-09-17 20:08] jwnimmer-tri commented on #2364
This one is fairly small, and conceptually easy for a new developer to tackle.

[2016-09-18 00:35] #2270 closed

[2016-09-18 02:32] liangfok opened #3492 "RigidBodyPlant Unit Test Should Not Rely on Parsers"
# Problem Definition

The unit test for `RigidBodyPlant`is:

[drake-distro/drake/systems/plants/rigid_body_plant/test/rigid_body_plant_test.cc](https://github.com/RobotLocomotion/drake/blob/131f6f42d0041c910bacee5e7d186c498d137405/drake/systems/plants/rigid_body_plant/test/rigid_body_plant_test.cc)

It currently uses [Drake's URDF parser](https://github.com/RobotLocomotion/drake/blob/ad24abbd72138

[2016-09-18 02:56] liangfok opened #3493 "Extract URDF and SDF Parsers from RigidBodySystem"
# Problem Definition

[RigidBodySystem](https://github.com/RobotLocomotion/drake/blob/5fb0e2537e6bb074ecc0ecc2717364b847ca7782/drake/systems/plants/RigidBodySystem.h) contains URDF and SDF parsers that load modeling elements like sensors and force elements, which are external of the [RigidBodyTree](https://github.com/RobotLocomotion/drake/blob/2bce50fd01ced9497a2511f917cc6b7ceb18aa09/drake/systems

[2016-09-18 04:42] liangfok opened #3495 "Remove All Instances of "using namespace"."
# Motivation

It is against the style guide: https://google.github.io/styleguide/cppguide.html#Namespaces

# TODO

Update the following files:

[code]

[2016-09-18 05:14] liangfok commented on #3361
Yes. The existing [AddFloatingJoint()](https://github.com/RobotLocomotion/drake/blob/ad24abbd7213876169e978fbb383d0561f99e199/drake/systems/plants/parser_common.h) works by adding the same joint to every one of the disconnected trees in a model instance. The new method should be more expressive in terms of being able to specify different types of joints for each disconnected tree.

No. I believe s

[2016-09-18 09:58] RussTedrake opened #3496 "bad nlopt library reference"
i've been unable to actually run any exe's on my mac which touch drakeOptimization when nlopt is built.

The symptom is
[code]
where somehow it looks for nlopt in `build/lib` instead of `build/install/lib`, as confirmed by `otool`
[code]
(note that gurobi and mosek, etc are in the right place)

but the pkg-config looks fine:
[code]

and in fact, the build command actually looks aok to me:
[code]

[2016-09-18 10:02] RussTedrake commented on #3496
it starts back here
[code]

[2016-09-18 10:09] RussTedrake commented on #3492
I don’t see that as a problem?  perhaps we need coverage for the c++ api, but what you describe sounds to me like the test gives coverage to both the tree and the parser.

[2016-09-18 11:37] jwnimmer-tri commented on #3495
Duplicate of #2271.

[2016-09-18 11:37] #3495 closed

[2016-09-18 12:53] liangfok commented on #3492
My motivation for creating this issue is based on @jwnimmer-tri's comment here: https://github.com/RobotLocomotion/drake/pull/3228#issuecomment-243647053.

Specifically, the statement:

[2016-09-18 14:48] RussTedrake commented on #3496
Progress.  Just found this:

[code]

notice the line about running `libtool —finish` on `build/lib`

[2016-09-18 15:15] RussTedrake commented on #3496
and `drake/externals/nlopt/libnlopt.la` ends with
[code]

i have convinced myself that we are not passing an incorrect directory in from cmake.

passing in exec_prefix explicitly seems to resolve the issue.  PR coming.

[2016-09-18 23:55] liangfok opened #3499 "Mysterious CI Failure - Index File Smaller Than Expected, Unable to Recurse Into Submodule Path"
# Example Error

[code]
# Example Logs
- https://drake-jenkins.csail.mit.edu/job/experimental/4742/compiler=gcc,label=linux,type=release/

[2016-09-19 00:42] RussTedrake opened #3500 "QuadraticErrorCost does not include the constant term"
MathematicalProgram::AddQuadraticErrorCost creates a QuadraticConstraint, but ignores the constant term.  While this will not change the optimal solution, it violates the contract / documentation of the method and could lead to confusion if a user is trying to evaluate the objective (e.g. at the optimal solution)

http://drake.mit.edu/doxygen_cxx/classdrake_1_1solvers_1_1_mathematical_program.html

[2016-09-19 02:00] #3483 closed

[2016-09-19 06:02] rdeits commented on #2797
Very strange. That header should be included with cddlib, and it should get installed when IRIS builds cddlib. Perhaps this is a similar situation to #1308 in that I am assuming that the cddlib headers will be available after building the library?

@RussTedrake can you check if you have the file `setoper.h` and if cmake has installed it anywhere?

[2016-09-19 12:44] naveenoid commented on #3496
BTW Im experiencing identical problems as well. Not sure why CI didnt catch it.

[2016-09-19 13:53] mwoehlke-kitware commented on #2797
Possibly irrelevant, but if this header comes from an external library (i.e. not iris), it is suspicious that it is `""`-included rather than `<>`-included... it's also a bit suspicious that the header has such a generic name (i.e. doesn't start with `ccd/` or some such).

[2016-09-19 13:59] mwoehlke-kitware commented on #3466
Well, this is odd... `-Wmaybe-uninitialized` should be included in `-Wall`... seems for some reason only my computer is throwing the warning. I still believe it to be genuine, but looks like CI won't catch it :cry:. I'll check if it's working now that #3460 is merged...

[2016-09-19 14:04] liangfok commented on #3496
I just built Drake from a fresh clone on my OS X machine and was _unable_ to reproduce this error.

[code]
Maybe my machine could be used to determine why CI is not catching it?

[2016-09-19 14:06] jamiesnape commented on #3496
I am unable to reproduce either.

[2016-09-19 14:11] jamiesnape opened #3503 "Use nlopt CMake build instead of autotools"

[2016-09-19 14:26] david-german-tri opened #3504 "Call graph leaves are a semantically-depleted place to generate errors"
The current error-generation conventions in Drake do not encourage propagating errors up the tree.  Instead of catching exceptions (forbidden) or returning error codes (permitted but not widely done), we tend to abort, assert, or throw an uncaught exception at the call graph leaf where the error is detected.

As a result, the information we emit on error tends to be sparse.  A lot of the context t

[2016-09-19 14:28] tkoolen opened #3505 "Consider not building dReal by default (i.e., setting WITH_DREAL to false by default)"
This is just a suggestion, feel free to share your thoughts.

My main reason for suggesting this is that building dReal adds quite a bit to build time, while only a small (albeit hopefully growing) subset of users will use its functionality. Of course, there would still be CI builds that include dReal, to make sure there's no bit rot. Perhaps another option would be to get dReal from a precompiled

[2016-09-19 14:34] soonho-tri commented on #3505
I think it's reasonable to switch to `default=off` for now. I'm still working on the integration, so for now, it's not useful to turn it on anyway.

I've added PPA (for Ubuntu/Debian) and Homebrew support for dReal. One thing I can do is to list dReal as a dependent package of drake (i.e. `sudo apt-get install dreal` after adding PPA) and provide `FindDreal.cmake` so that drake super-build can pic

[2016-09-19 14:38] soonho-tri commented on #3505
@jwnimmer-tri and @tkoolen : I'll proceed and make a PR to turn it off by default. I'll also bump the hash of dReal git-submodule.

[2016-09-19 14:39] tkoolen commented on #3470
I'm in favor of moving to `Eigen::Quaternion`. I just wanted to add that I think the conversion should be done in one fell swoop (as a separate pull request), as opposed to the current strategy of  starting to use `Eigen::Quaternion` in new pull requests while old code still uses `Eigen::Vector4d`. This latter strategy will lead to lots of confusion and room for bugs.

[2016-09-19 14:42] jwnimmer-tri commented on #3505
As long as dReal goes back to `ON` by default once it starts to be called by the solvers stack, that's fine with me.

[2016-09-19 14:59] jwnimmer-tri commented on #3504
Note that the linked example to #3486 is specifically a throw (chosen, I believe, because it can be covered by unit testing), and not an assertion.

(1) We could make `drake::Abort` do a backtrace; that would help with `ASSERT` and `DEMAND` and is a good idea in general anyway.

(2) Getting `throw` to produce more context is a bit harder.  There are ways to "tag-forward" additional context (perhap

[2016-09-19 15:08] soonho-tri commented on #3505
I had the same issue. For me, having the following line in `~/.ccache/ccache.conf` solves the problem.
[code]

I agree.

[2016-09-19 15:09] tkoolen commented on #3505
Cool! I'll try that out, thanks.

[2016-09-19 15:47] jwnimmer-tri commented on #3482
I, for one, am happy to defer zero-copy optimizations until we have benchmarks up and running.  If people are really concerned about these performance questions, then prioritize writing the benchmarks.

[2016-09-19 16:04] liangfok commented on #3482
Should we institute the following rule?

[2016-09-19 16:05] jwnimmer-tri commented on #2754
The lack of this CI coverage can make Russ's computer break.  Now high priority.

[2016-09-19 16:09] jamiesnape commented on #2754
I guess maybe a `drake_find_package` that conditionally switches on `REQUIRED` for certain packages. Otherwise, you do want the downgrade behavior.

[2016-09-19 16:11] jwnimmer-tri commented on #2754
Right.  If the user didn't mention the option, we can leave it as "best effort".  But if the user (or CI) demands the option up-front, we should fail-fast in its absence.

[2016-09-19 16:17] tkoolen commented on #3325
Seeing as there is still no consensus on this issue (given #3471), I propose clearing things up with a meeting, this time with *everybody* involved in this issue.

[2016-09-19 16:25] hongkai-dai commented on #3470
If we are going to completely change to `Eigen::Quaternion`, then it also makes sense to use `Eigen::AngleAxis` and `Eigen::EulerAngles` (the latter is in `unsupported/Eigen/EulerAngles`).

In the PR #3502, the API still uses `Eigen::Vector4d` to represent a quaternion. It only calls `Eigen::Quaternion` inside the conversion function. For example, when converting quaternion to roll pitch yaw, the

[2016-09-19 16:30] sherm1 commented on #3482
I think the best way to resolve this is with uniform treatment of computations performed in the System framework rather than treating output port values as a special case -- that makes it unnecessarily difficult to reason about. An output port value should resolve to one of the five existing value sources in the Context: time, an input port, a state variable, a parameter, or a cache entry (I mean

[2016-09-19 16:39] hongkai-dai commented on #3130
I am going to add a field to `Constraint`
[code]
together with its getter and setter. The size of `name_` is the same as `Constraint::num_constraints`. The default value of constraint name is `generic_constraint`, the default name for linear constraint is `linear constraint`, etc. Then the `RigidBodyConstraint` will set the constraint name, and IK will return the names of the infeasible constraint

[2016-09-19 16:45] sherm1 commented on #3482
No. We often build on past work. For example, using a map or heap sort is an optimization based on decades of past research in CS; we don't need to rejustify those ourselves. Subfields like optimization, linear algebra, and multibody dynamics have their own rich histories and we should employ the appropriate techniques. For example, numerical linear algebra is mostly concerned with avoiding unnece

[2016-09-19 17:28] tkoolen commented on #3505
Related to the `ccache` thing (but not the original issue): https://github.com/RobotLocomotion/drake/pull/3509

[2016-09-19 17:57] liangfok commented on #3482
Just wondering: Will getting rid of the separately-maintained output value and using the `Context` to store this value will render ports to be just "for show"?

[2016-09-19 18:00] sherm1 commented on #3325
Please consider that accessing an output port triggers the associated computation (that is, the output port's value is guaranteed to be up to date when you see it). Consequently output ports need to be segregated appropriately; asking for body poses should not trigger acceleration computations. Also, a port that includes accelerations is necessarily a direct feedthough from the RBPlant's actuator

[2016-09-19 18:03] tkoolen opened #3511 "Can't build IRIS"
Building drake `WITH_ALL_SUPPORTED_EXTERNALS`, I'm getting the following error while building IRIS:
[code]

Could possibly be related to https://github.com/RobotLocomotion/drake/pull/3439.

[2016-09-19 18:20] david-german-tri commented on #3482
It's my own fault for broadening the scope, but this discussion no longer fits in a GitHub issue.  It should be discussed f2f eventually.  I'm in no hurry to do that, but if someone else feels this is important enough to drive forward now, I'd of course want to participate.

[2016-09-19 18:33] jamiesnape commented on #3511
Honestly, no idea. The output of the configure seems to be suppressed. Neither `FindEigen.cmake` or `pkg-config` is good, though.

[2016-09-19 18:42] tkoolen commented on #3511
It's strange. The eigen3.pc installed to drake-distro/build/install/share/pkgconfig looks good. The `-I` directory it refers to exists, and contains `Eigen/Core`. The only other eigen3.pc on my machine is the one in drake-distro/build/externals/eigen, which is identical.

[2016-09-19 18:58] tkoolen opened #3512 "Can't build dReal (link error related to log4cxx in CAPD4)"
Error occurs when building `WITH_ALL_SUPPORTED_EXTERNALS` on OSX.

CMake error:
[code]

Contents of `CAPD4-build-err.log`:
[code]

I have `log4cxx` 0.10.0 installed through homebrew. It isn't explicitly listed as a dependency of drake or dReal, but is brought in by autoconf/automake/libtool.

[2016-09-19 19:02] tkoolen commented on #3512
This appears to be resolved by running
[code]
Closing.

[2016-09-19 19:02] #3512 closed

[2016-09-19 19:14] tkoolen opened #3513 "Compile errors in ptToPolyBullet_mex"
Likely due to https://github.com/RobotLocomotion/drake/pull/3472.

[code]

So far I've spent most of my day fixing build issues. Is this really getting run in CI?

[2016-09-19 19:19] tkoolen commented on #3513
I suppose this is just missing a `target_include_directories` involving `BULLET_INCLUDE_DIRS`.

[2016-09-19 19:24] david-german-tri commented on #3513
Yes, this error has shown up in the Mac MATLAB nightly builds for Friday, Saturday, and Sunday.  We don't run Mac MATLAB builds on every PR because they're prohibitively resource-intensive.  So, there was really no opportunity before today to catch these problems.

https://drake-cdash.csail.mit.edu/viewBuildError.php?buildid=116516

[2016-09-19 19:26] tkoolen commented on #3513
OK, thanks. I'll submit a PR that fixes this.

[2016-09-19 19:31] liangfok commented on #3325
The above seems to be a strong argument for using "thin" ports.

I did not realize that the act of accessing a port triggers the associated computation, though it sounds like a really nice optimization. I'm now thinking about the implications of this fact on the implementation of the system that owns the output port. If a particular output port is accessed only 50% of the simulation cycles, is it

[2016-09-19 19:43] tkoolen commented on #3513
Fixed by #3510.

[2016-09-19 19:43] #3513 closed

[2016-09-19 19:44] jwnimmer-tri commented on #3513
Also FWIW, it wasn't really running in CI as much as it should, due to #2754.

[2016-09-19 20:43] RussTedrake commented on #2797
The file is there in the source, but not installed

[code]

[2016-09-19 21:36] sherm1 commented on #3482
Not at all. The output ports would still be there providing exactly the same useful abstractions; which piece of memory holds the value internally is an implementation issue.

[2016-09-19 21:50] jwnimmer-tri commented on #3504
I'll also note that #2890 has a good chance of making this error message clearer just by itself.

[2016-09-19 21:54] sherm1 commented on #3325
The dataflow model (a.k.a. lazy evaluation) that we're now using never computes anything unless someone asks for it. So an output port that gets accessed occasionally only gets evaluated occasionally. The same scheme works for all the rest of the computations also, like derivatives, discrete updates, energy calculations, initial conditions, and so on. We don't know how often those need to be compu

[2016-09-19 21:57] david-german-tri commented on #3325
Not on master yet - that's #3455.  (pending your review)

[2016-09-19 22:18] RussTedrake commented on #3512
@soonho-tri -- if these are needed, they should be added to the setup instructions..

[2016-09-19 22:41] soonho-tri commented on #3512
I will check.

[2016-09-20 13:12] jwnimmer-tri opened #3521 "Add ccache to drake documentation"
Previously removed in #2511.  Requested to return by Russ in #3509.

[2016-09-20 13:12] jwnimmer-tri commented on #3521
Consider asking for `ccache -o run_second_cpp=true` during one-time setup, instead of `CCACHE_CPP2` like we used to recommend.

Still recommend the magic path addition (not a CMake launcher).

#2640 would be an opportunity to add in ccache instructions directly into a "developer-only" workflow.

Alternatively, we could have the setup/ubuntu/16.04/install_prereqs.sh do the right thing (and add OS X

[2016-09-20 13:16] jwnimmer-tri commented on #3521
FWIW existing private docs:
[code]

The apt / brew should move into the project-wide list of apt / brew (along with all other deps).
The `ccache -o run_second_cpp=true` replaces `CCACHE_CPP2`.

The `PATH` edit will still have to happen somehow.  Consider combining with other PATH edits as already included in the setup docs.  Maybe it is time to have an `addpath_drake.sh` helper.

[2016-09-20 15:31] soonho-tri commented on #3512
@tkoolen, I'm removing `log4cxx` dependency from `CAPD4`. It should be an easy task by using `--without-log4cxx` configure option. But it doesn't work as I expected. Anyway I'll figure out a way. When I re-enable `WITH_DREAL` by default, I will make sure that this one is resolved.

[2016-09-20 15:54] tkoolen opened #3524 "Linker error in CAPD4 (dReal)"
CMake error:
[code]

Relevant part of `drake-distro/build/externals/dreal/external/src/CAPD4-stamp/CAPD4-build-err.log`:
[code]

Platform: OSX/Clang.

[2016-09-20 15:57] tkoolen commented on #3524
sha: 356bfb6916dccec51da6b900fc08dc5e228e33c8

[2016-09-20 16:03] soonho-tri commented on #3524
@tkoolen, this is the side-effect of #3512. It should work now.

[2016-09-20 16:03] #3524 closed

[2016-09-20 16:05] tkoolen commented on #3512
OK, that sounds good to me.

[2016-09-20 16:20] tkoolen commented on #3524
Confirmed that this is resolved.

[2016-09-20 16:20] tkoolen commented on #3524
Thanks for the quick response!

[2016-09-20 16:28] jamiesnape commented on #3370
Done.

[2016-09-20 16:28] #3370 closed

[2016-09-20 17:05] mwoehlke-kitware commented on #3426
On further thought, I'm less convinced that we should be hiding details like this. *Maybe* in whatever winds up being "the Drake LCM types repo", but even there, I'm not that big a fan of burying `add_library` and the like in a 'do lots of magic' function.

OTOH, having a well documented sample of how to create LCM binding libraries would certainly be helpful...

[2016-09-20 17:17] #3487 closed

[2016-09-20 18:51] david-german-tri commented on #2271
Heads-up for whomever works on this: at least some of the `using namespace std` in function scope are necessary to allow argument-dependent lookup of either an STL function or a custom function depending on template type.

https://github.com/RobotLocomotion/drake/blob/master/drake/math/autodiff.h#L11

[2016-09-20 18:56] jwnimmer-tri commented on #2271
Yes.  Don't just delete those, even if it appears to still compile.  Replace them with statements like `using std::sqrt` or whatever is referred to by the method.

[2016-09-20 19:36] david-german-tri commented on #2271
For reasons I don't understand, this doesn't work.  With https://github.com/david-german-tri/drake/commit/a03c8111d03607eff0c0643982ee1bee1b94219b, the compiler fails to find Drake's custom implementations of `floor` and `round`.

[2016-09-20 19:38] jwnimmer-tri commented on #2271
Ah well.  For now they stay with a `// NOLINTNEXTLINE` I guess.

[2016-09-20 20:02] tkoolen commented on #1702
Closing since drake001 is not a thing anymore. Please open a different issue if this happens on a different machine.

[2016-09-20 20:02] #1702 closed

[2016-09-20 21:38] tkoolen commented on #3511
Talked to @rdeits about this, and we decided to just remove the `pods_find_pkg_config` stuff (i.e., always use `find_package( Eigen3 )`). I'll submit a PR to iris soon.

[2016-09-20 21:59] hongkai-dai opened #3533 "Guarantee the second angle of Euler angles have the correct range"
The range of the second angle in Euler angles should cover PI, either [0,PI] or [-PI/2,PI/2], as explained in https://en.wikipedia.org/wiki/Euler_angles#Signs_and_ranges.

Eigen's implementation of eulerAngles does not guarantee the range of the second angle covers PI, instead, it covers 2*PI. Thus the conversion to Euler angles is not unique, and the differentiation is going to be worse. I alread

[2016-09-20 23:06] chang-liang opened #3535 "Drake installation_Ubuntu_"
I followed http://drake.mit.edu/from_source.html
and
 the Mandatory platform specific instructions(http://drake.mit.edu/ubuntu_trusty.html ).
but after i executed "cmake .." in the step of "Build with Make" and waited for about an hour, the ubuntu terminal complained as follows (matlab version: MATLAB R2016a)

![1](https://cloud.githubusercontent.com/assets/6902821/18691923/aa234260-7f64-11e6-8565

[2016-09-21 00:57] jwnimmer-tri commented on #3482
Issues should have owners.  Tagging david-german, but feel free to kick back to amcastro if you wish.

[2016-09-21 01:01] jwnimmer-tri commented on #3521
Nominating david-german to track this, though I think anyone should feel free to take over this improvement.

[2016-09-21 01:08] rpoyner-tri commented on #3422
Solving this PR will require some pretty deep semantic changes to the protocol, since it would no longer be adequate to share various resources by file name. I am unconvinced that anyone actually wants this.

[2016-09-21 02:09] jwnimmer-tri commented on #3407
Is there an existing example of this kind of macro in Drake that I could crib from?  The repetitiveness is making merging branches actively hard, so I guess I will write this myself.

[2016-09-21 02:14] jwnimmer-tri commented on #3397
I assume the next step here is an lcm-proj issue to request this feature, or else directly to a pull request that puts back the old behavior.  Does that sound correct @mwoehlke-kitware?

[2016-09-21 02:30] liangfok commented on #3422
Note that solving this PR does **not** require ensuring that Drake and Drake Visualizer can run on different machines. However, this PR can be thought of as a baby step towards that direction.

I think this PR can be solved by a Drake-level protocol involving the retransmission of the `lcmt_viewer_load_robot` message and optimizations to Director that enables it to process such a message without r

[2016-09-21 02:57] jwnimmer-tri commented on #2043
Compromise proposal:

(1) Document that our `T` (nee `ScalarType`) used throughout the codebase does not in general support single-precision floating point, though any function or class may choose to explicitly claim to (and be carefully tested in that configuration).

(2) Don't try to `static_assert` or otherwise fail-fast on `float` -- just let the docs be the answer.  (Leave it as "doctor, it h

[2016-09-21 03:37] tkoolen commented on #3535
Could you try running `mex -setup` in Matlab, and then do a clean build?

[2016-09-21 03:39] tkoolen commented on #3535
2016a works by the way, no need to downgrade Matlab.

[2016-09-21 03:43] tkoolen commented on #3535
Also, for the `mex -setup` step I described above, be sure to start Matlab from the command line so that your `.bashrc` gets run and the `CC`, `CXX`, and `FC` environment variables you should be exporting there will be visible to Matlab at the time you run `mex -setup`.

[2016-09-21 12:58] jamiesnape commented on #3407
Probably not. Create a ticket and assign it to me, then I will have a PR up by the end of the day.

[2016-09-21 13:26] david-german-tri opened #3537 "drake-jenkins-bot spams PRs from users who are not org members"
"Can one of the admins verify this patch?" ad infinitum.  Most recently #3536 (though apparently someone cleaned up the thread afterwards).

[2016-09-21 13:28] jamiesnape commented on #3537
Very, very difficult to fix. I will try again, but it is a fundamental problem with the design of the GitHub pull request plugin.

[2016-09-21 13:50] jwnimmer-tri commented on #3407
This ticket should suffice ;).  And thanks!

[2016-09-21 14:48] rpoyner-tri commented on #3422
Well, if we're not considering ttl>0, I don't think message loss is even worth discussing. Anything else this issue could address is already covered by #3421.

[2016-09-21 14:48] #3422 closed

[2016-09-21 14:49] rpoyner-tri commented on #3421
I consider any work on this issue blocked, pending resolution of #3344.

[2016-09-21 14:56] liangfok commented on #3258
@shensquared: I found the bug you mentioned that prevents the contact penetration and stiffness gains from being correctly set from launch files. See the following two commits:

* https://github.com/liangfok/drake/commit/d99ebdf8fed20beeb064fd218e83affc8af380f9 - single vehicle demo
* https://github.com/liangfok/drake/commit/e3b1c7afe4c8ec29a09227a6408067cc40ef1e1e - multi vehicle demo

The gains

[2016-09-21 15:02] amcastro-tri commented on #3258
@liangfok, as you very well observed the inertia properties for this model are completely wrong. I would start there first. Most likely that will also impact the contact stiffnesses and time step you will need.

[2016-09-21 15:04] liangfok commented on #3258
Yes! I believe @shensquared will be looking into fixing the inertia model for the vehicle. @shensquared is this correct?

[2016-09-21 15:06] shensquared commented on #3258
Thanks, @liangfok and @amcastro-tri . I have actually tested using the more realistic mass and inertia paired with fixed high penetration stiffness, and indeed flipping over no longer happens. See e66d9a057b87e13c2d67198dca6b1d42acc21bd6

[2016-09-21 15:08] sherm1 commented on #2043
I like that proposal. Is there an obvious place where that documentation would go?

[2016-09-21 15:09] amcastro-tri commented on #3258
What speeds are you targeting? and how do you select your time step? If the length of the car is `L0` and the target speed is `U0` a good rule would be to define a reference time scale `T0 = L0/U0` and define the time step as a fraction of that. For instance `time_step = T0/100`.

[2016-09-21 15:09] liangfok commented on #3258
@shensquared, I see in e66d9a057b87e13c2d67198dca6b1d42acc21bd6 that you've changed the contact gains. Where are the new inertia model values?

[2016-09-21 15:13] jwnimmer-tri commented on #2043
I think it's likely that doxygen for our `<T>` in every class where it means `ScalarType` should probably be citing to a master project-wide definition in Doxgen, which can then disavow single precision.

Or _shrug_ put it in Sphinx somewhere.  I don't think it'll matter much either way.

[2016-09-21 15:15] liangfok commented on #3258
Let's use realistic worst-case values:

* Top speed of vehicle (`U0`): 100 mph = 44.7 m/s
* Length of vehicle (`L0`): 179" = 4.5466 m
* `T0 = L0 / U0 = 4.5466 / 44.7 = 0.1017 s`
* Nominal time step (`time_step`) = `0.1017 / 100 = 0.001017136 s = 1 ms`

@amcastro-tri: Is there a prinicipled way to derive the necessary contact penetration gains based on the above numbers and the vehicle's model?

[2016-09-21 15:29] shensquared commented on #3258
@liangfok I was doing the testing on drake side, as we discussed I think it shouldn't matter if it's tested on drake or ROS. The new model I used is in [https://github.com/shensquared/drake/blob/ss-fix-car-sim/drake/automotive/models/prius/prius.urdf#L15](url) The mass is from your earlier comment, and the inertia was scaled up from the unrealistically light model.

[2016-09-21 15:37] shensquared commented on #3258
@amcastro-tri  I used the throttle scale up to 4, so the target speed is 4m/s. I didn't know the rule of selecting time steps, in my testing the time step was left as is, but I'll certainly try out the more rigorous steps. Thanks for the tip btw.

[2016-09-21 15:58] liangfok commented on #3258
@shensquared: Thanks. I see you're using a vehicle mass of 1360 kg [here](https://github.com/shensquared/drake/blob/ss-fix-car-sim/drake/automotive/models/prius/prius.urdf#L15). In https://github.com/RobotLocomotion/drake/commit/e66d9a057b87e13c2d67198dca6b1d42acc21bd6, the contact gains are being specified as command line parameters. What gains are you using?

[2016-09-21 15:59] #3511 closed

[2016-09-21 16:06] shensquared commented on #3258
@liangfok stiffness and damping are scaled up 100x corresponding to the order of mass scaling up (so 750,000 and 75,000, respectively), and the friction coefficient is still 10.

[2016-09-21 16:07] shensquared commented on #3258
There's still abnormal behavior though. For example, while pure throttle command drives the car straight without flipping over, if the throttle stops, the car slows down as one would expect but at the same time it also always steers slightly despite having no steering command issued, sometimes to the left and sometimes to the right but never straight. I suspect it's directly caused by torque steer

[2016-09-21 16:17] liangfok commented on #3258
Yes! Please post new findings as you discover them!

Regarding the steering-while-slowing-down issue, does the reference velocity drop from a high value down to zero at a single point in time, i.e., a step function? If so, it may be worth verifying that the undesirable steering goes away when the reference trajectory is a smooth curve like one derived using a cubic spline.

Perhaps increasing the

[2016-09-21 16:35] amcastro-tri commented on #3258
@shensquared: this is just a toy model and steering is probably the weakest model. Just out of curiosity, what happens if instead you are driving straight back and then you go to a sudden stop? do you still get this unexpected steering?

Regarding the constants. In steady state this means `weight = delta_z * stiffness`. Therefore multiplying the by the same factor mass and stiffness has the effect

[2016-09-21 16:56] liangfok opened #3543 "Drake's IIWA Model Cannot be Loaded into Gazebo"
# Problem Definition

[Drake's IIWA model](https://github.com/RobotLocomotion/drake/blob/a2cb01650579aa0e1ce4a4b19743fa641d7cdc10/drake/examples/kuka_iiwa_arm/urdf/iiwa14.urdf) currently references `.obj` (i.e., [Wavefront](https://en.wikipedia.org/wiki/Wavefront_.obj_file)) files because its visualizer [only supports this format](https://github.com/RobotLocomotion/drake/blob/5a7f663a2b9466c2b7225

[2016-09-21 17:10] david-german-tri opened #3544 "Introduce DrakeNumTraits?"
In the most straightforward (and likely most common) discrete system, the sampling rate is fixed.  Computing the next sample time in this case requires an integer rounding operation such as `ceil`.  Those operations will be available on many important scalar types, such as `double` and `AutoDiffScalar`, but not e.g. on `Polynomial`.

We would like to be able to support this simple case in `LeafSys

[2016-09-21 17:12] sherm1 commented on #3543
Modifying Gazebo to support `.obj` files for geometry seems like the cleanest solution, and I think it would get used a lot. What do you think @nkoenig ?

[2016-09-21 17:29] nkoenig commented on #3543
I agree with @sherm1. Gazebo should support `.obj` files. We'll get started on that asap.

[2016-09-21 17:48] sherm1 commented on #3544
`DrakeNumTraits` seems reasonable. My preference though would be to require all our Scalar types to be execution-compatible like AutoDiffScalar is. (We discussed that previously for FunctionalForm.) Without that numerical carry-along, the Scalar types can't follow the same execution path through the code as a plain double would do which limits their utility to straight-line code. Also, having them

[2016-09-21 17:55] chang-liang commented on #3535
After i finished the instructions in http://drake.mit.edu/ubuntu_trusty.html
I opened MATLAB from ubuntu terminal, and matlab was opened. then i typed "mex -setup", it showed

![matlab mex -setup first](https://cloud.githubusercontent.com/assets/6902821/18722362/8cbdf1d6-8002-11e6-8e22-4f7920140c0d.png)

then i chose " mex -setup C++ " in the matlab command window in the screen, it showed

![2](ht

[2016-09-21 17:56] liangfok opened #3545 "Excessive Function Overloading in URDF Parser"
From the [style guide](https://google.github.io/styleguide/cppguide.html#Function_Overloading):

Two methods in the URDF parser that violate this are:

1. [AddModelInstanceFromUrdfString()](https://github.com/RobotLocomotion/drake/blob/ad24abbd7213876169e978fbb383d0561f99e199/drake/systems/plants/parser_urdf.h#L68)
2. [AddModelInstanceFromUrdfFile()](https://github.com/RobotLocomotion/drake/blob/a

[2016-09-21 18:11] david-german-tri opened #3546 "We need mock LCM interfaces for unit testing"
Right now, there are two prevailing approaches for unit-testing code that sends or receives LCM:

1. Actually put the bytes on the network.  This is bad because it has side effects on any other program that happens to be listening.

2. Break encapsulation to inspect the data the code under test believes it put on the network, or received from the network.  This is bad because test-only API feature

[2016-09-21 18:13] chang-liang commented on #3535
- It  shows it is not a successful setup, isn't it?

- Does the problem caused probably by the installation order? i mean i installed matlab first and then did the platform-specific setup steps (http://drake.mit.edu/ubuntu_trusty.html)

- Should i go on to do a clean build?

[2016-09-21 18:14] chang-liang commented on #3535
- It  shows it is not a successful setup, is it?

- Does the problem caused probably by the installation order? i mean i installed matlab first and then did the platform-specific setup steps (http://drake.mit.edu/ubuntu_trusty.html)

- Should i go on to do a clean build?

[2016-09-21 18:17] #2165 closed

[2016-09-21 18:27] david-german-tri commented on #3546
Cleaning up #3494 would be a good first use case (but this feature should not block #3494).

[2016-09-21 18:50] jamiesnape commented on #3407
What do you all think of the signature of the function* in #3547? We could go further in terms of simplification and additional libraries to link in excess of `${GTEST_BOTH_LIBRARIES}`, or less far and allow arbitrary and multiple source file names rather than simply `<name>.cc`. I would suggest that we start with this, though.

(* which may or may not actually work, it is just up for feedback)

[2016-09-21 18:52] sherm1 opened #3548 "Simulator and Integrator classes should suppress copy construction, etc."
These classes should suppress copy/move construction & assignment until someone makes a convincing case for utility of these methods.

(Thanks to @jwnimmer-tri for pointing this out in #3202.)

[2016-09-21 19:02] liangfok opened #3549 "Rename RigidBodyTree::get_number_of_foo() to be RigidBodyTree:get_num_foo()"
Our style guide explicitly allows for the "num" abbreviation:

https://google.github.io/styleguide/cppguide.html#General_Naming_Rules

This rename should happen to be consistent with the usage of "num" in `RigidBodyPlant`.

[2016-09-21 19:04] jwnimmer-tri commented on #3407
I think this is a good start and would evict most of the boilerplate.

This appears to be rare.  Let's finish this pass and then see if we need it.

As in upthread, I think I would prefer this, but I'm more than happy to get this version landed and port us to use it, and then reconsider whether and how to compact it further in a second pass.

[2016-09-21 19:21] tkoolen commented on #3535
Yeah, that's not good. I think Matlab may be explicitly looking for the `g++` program, instead of at the environment variables. Can you post the output of running
[code]
in the terminal?

Also, can you post the output of running
[code]
in Matlab?

[2016-09-21 19:21] liangfok commented on #3546
I'm trying to understand how #3494 could be modified to address this issue. Here's my first guess:

1. Create a new abstract parent class called `DrakeLcmSubsystem` that contains the following methods:
    * `get_last_message_sent()`
    * `publish()`
    * `subscribe()`
2. Create two sub-classes of `DrakeLcmSubsystem`, one that contains a _real_ `lcm::LCM` object and another one that contains a _

[2016-09-21 19:25] jwnimmer-tri commented on #3544
I believe that this would make some kinds of analyses unsound.  Let's be sure to discuss before we choose that road.  (I don't think we need to pursue it immediately?)

[2016-09-21 19:27] jwnimmer-tri commented on #3546
Nope.

The basic premise of mocking is that (essentially) no Drake code ever says `lcm::LCM` as a type.  Instead, we program against `DrakeLcmInterface`, which offers comparable APIs to `lcm::LCM`.  In real simulations, `class DrakeLcm : public DrakeLcmInterface` has-a `lcm::LCM` and proxies the methods over to it; in unit tests, `class StubLcm : public DrakeLcmInterface` mocks up its behavior, fo

[2016-09-21 19:35] liangfok commented on #3546
@jwnimmer-tri: I'm having trouble figuring out what's the difference between your description and my proposal. Is the only difference the name `DrakeLcmSubsystem` vs. `DrakeLcmInterface`? I would be happy to use `DrakeLcmInterface`.

[2016-09-21 19:39] jwnimmer-tri commented on #3546
Ah yes.  The name confused me -- they are indeed similar.

Also typically the `get_last_message_sent` would not be on the interface, just the mock.  Also, the mock would have storage directly, not has-a some other mock class.

[2016-09-21 19:54] liangfok commented on #3546
Got it. Thanks. I'll go ahead and assign this to myself since I plan on implementing it after #3494 is merged.

[2016-09-21 20:01] chang-liang commented on #3535
`g++ -v`
in the terminal

![3 g -v](https://cloud.githubusercontent.com/assets/6902821/18726904/7b28530a-8014-11e6-9e3a-57fc973b11b7.png)

`g++ -v`
in the terminal agin

![4 g -v in terminal](https://cloud.githubusercontent.com/assets/6902821/18726939/a2890476-8014-11e6-9ef4-eacb2e2ff2e6.png)

`!which g++`
in Matalb

![5 after g installed](https://cloud.githubusercontent.com/assets/6902821/1872695

[2016-09-21 20:14] liangfok opened #3553 "car_sim_lcm is broken"
# The Error
The error is:

[code]

`gdb` reports a really messy backtrace due to templates:

[code]

# SHA
The above error was obtained using d26808c14c353a5f26d679ce110751dcb6f6ff5a.

[2016-09-21 20:36] tkoolen commented on #3535
OK, good, that's progress. But Matlab will still be using the wrong version of g++ (4.8 instead of 4.9). I think the instructions at http://drake.mit.edu/ubuntu_trusty.html may not be sufficient to properly set up a Matlab build then.

Please try running the following in your terminal:
[code]
and then select version 4.9 from the menu.

Verify that `g++` now points to `g++-4.9` by running `g++ -v`

[2016-09-21 20:41] rpoyner-tri commented on #3535
using update-alternatives for gcc will break your ubuntu installation. packages all over the place depend on the fact of 'gcc' being the distro default version.

[2016-09-21 20:45] rpoyner-tri commented on #3535
In particular, trying to put gcc under update-alternatives will break DKMS. This will prevent you from installing packages that incorporate kernel modules, or (if you are unlucky), create unsafe/incompatible kernel modules.

[2016-09-21 20:48] tkoolen commented on #3535
@rpoyner-tri, I'll hand it off to you. What exact steps would you recommend?

[2016-09-21 20:53] rpoyner-tri commented on #3535
I can neither use nor fix Matlab. I am just trying to avoid recommending practices that are sure to break Linux distros.

@jhoare: are you willing to step in?

[2016-09-21 21:44] tkoolen commented on #3535
We came up with a safer approach.

First, create a directory with symlinks to gcc-4.9 and g++-4.9:
[code]
Then, open your .bashrc:
[code]
and add the following line at the end:
[code]
Save and close, then run
[code]

Verify that `g++` now points to `g++-4.9` by running `g++ -v` again (inspect the last line of the output).

Finally, open a new instance of matlab (run from the command line) and reru

[2016-09-21 22:33] david-german-tri opened #3555 "Diagram inputs should have implicit fan-out"
Right now, to connect multiple systems to a Diagram input, one must first connect a pass-through, which is a little awkward.

[2016-09-21 23:05] david-german-tri opened #3556 "Require that all children of a Diagram have unique names."

[2016-09-21 23:46] #3407 closed

[2016-09-22 03:49] sherm1 commented on #3549
FYI, @SeanCurtis-TRI.

[2016-09-22 04:17] sherm1 commented on #3556
:+1: This would allow unique "pathnames" for each subsystem in a diagram. It could also be used to provide unique input and output port names and unique parameter names.

[2016-09-22 10:20] liangfok opened #3560 "Update RigidBodyPlant's Output to Provide Named Accessors"
# Problem Definition

The output of `RigidBodyPlant` is a `BasicVector` that contains the `RigidBodyTree`'s state vector. This is problematic since users of this state vector are forced to use meaningless indices to access values within the state vector. Without having a reference to a `RigidBodyTree`, downstream systems cannot interpret the meaning of the `RigidBodyPlant`'s output.
# Current Prop

[2016-09-22 10:42] liangfok commented on #3556
Just wondering: Does this apply to "immediate" children or all the way down to the youngest descendants? For example, if I create a `Diagram` called "wheel" that contains numerous systems like "Tire", "Rim", "Bearing", "Bushing", "HubCap", "ValveStem", can I add four instances of this `Diagram` to a "Vehicle" Diagram? Is the proposed rule "...to have unique full path names", which includes the nam

[2016-09-22 12:53] jamiesnape commented on #3535
None of this will be an issue when we switch over the the `matlab_add_mex` functions in `FindMatlab`, which will be coming soon.

[2016-09-22 14:03] amcastro-tri commented on #3560
What would the return of `get_velocity("right_wheel_joint")` be? would that be an `O(1)` operation? what are the use cases. And, wouldn't #3471 solve this issue?

[2016-09-22 14:19] david-german-tri commented on #3353
Closing this as will-not-fix.

[2016-09-22 14:19] #3353 closed

[2016-09-22 14:20] david-german-tri commented on #3225
Closing this as will-not-fix.

[2016-09-22 14:20] #3225 closed

[2016-09-22 14:20] david-german-tri commented on #3167
Closing this as infeasible.

[2016-09-22 14:20] #3167 closed

[2016-09-22 14:28] david-german-tri commented on #2624
I think this is resolved in the Ubuntu 16.04 install instructions.  (Still not officially supported, but we're getting there!)  If it still doesn't work for you, feel free to reopen.

http://drake.mit.edu/ubuntu_xenial.html

[2016-09-22 14:28] david-german-tri commented on #2394
No longer a problem, as far as I know.

[2016-09-22 14:28] #2394 closed

[2016-09-22 14:28] nkoenig commented on #3503
I experienced a problem that may be related to this issue. nlopt was not building because `configure` was not found. I had to enter `drake/externals/nlopt` and manually run `./autogen.sh`.

[2016-09-22 14:28] david-german-tri commented on #2227
This is done.

[2016-09-22 14:28] #2227 closed

[2016-09-22 14:35] jwnimmer-tri commented on #3503
@nkoenig FWIW, at one point we were missing `libtool` in the installation instructions that let to errors like that.  Might be worth checking.

[2016-09-22 16:02] sherm1 commented on #3556
Just immediate children -- it's exactly analogous to file names in a directory structure.

[2016-09-22 16:43] tkoolen commented on #3560
I think it would be nice to add something like `get_velocity(const DrakeJoint& joint)` to `KinematicsResults` (the output of `RigidBodyPlant` proposed in #3471). I like that better than using a `std::string` as the argument. It's currently a little awkward though, since `DrakeJoint`s only know about their number of positions and number of velocities, but not the starting index into the position an

[2016-09-22 16:46] amcastro-tri commented on #3560
I like the option you propose @tkoolen, with the joint as an argument. And I think it is completely ok for the joint to know its starting position in the tree for fast queries.

[2016-09-22 16:57] jwnimmer-tri commented on #3294
Any new consensus here?  I'm about to write more code that will be littered with either one or the other.

[2016-09-22 17:02] liangfok commented on #3560
How about let's add `KinematicsResults::get_velocity(const DrakeJoint& joint, int index)` where `index` is the index of the velocity DoF within the joint? I assume this will be an `O(1)` method since `KinematicsCache` has a `v` member variable that I presume can be accessed in `O(1)` time.

[2016-09-22 17:21] nkoenig commented on #3257
Gazebo experienced this problem, and moved all our models to a bitbucket repository (https://bitbucket.org/osrf/gazebo_models). We clone that repository on a webserver (http://models.gazebosim.org).

There are a few issues with approach:
1. Model visibility is limited. It is difficult to see and understand what models exist, their versions, and features.
2. Adding and modifying models is suitable

[2016-09-22 17:23] nkoenig commented on #3503
Thanks. I just had to clean out my build, and then it worked.

[2016-09-22 17:25] liangfok commented on #3560
# Example Use Case Scenario 1

We're about to develop simulations that involve dynamics-based vehicles (e.g., the ego car) and kinematics-based vehicles (the other cars). To do this, we're going to instantiate a `RigidBodyTreeLcmPublisher` that publishes LCM messages to Drake Visualizer. The input to this system will be a long `BasicVector` containing the state vector of its `RigidBodyTree`. A `Mu

[2016-09-22 17:33] jamiesnape commented on #3257
I guess, you could always use CMake external data functionality with Amazon S3 as a backend. The main repo then just contains placeholders with CMake pulling down the actual model when it is needed.

https://cmake.org/cmake/help/v3.5/module/ExternalData.html

[2016-09-22 18:05] nkoenig commented on #3492
I try to resolve this pull request.

[2016-09-22 18:13] liangfok commented on #3553
I'm starting to look into this issue now.

[2016-09-22 18:52] tkoolen commented on #3560
I would just have `get_velocity` return an [`Eigen::VectorBlock`](https://eigen.tuxfamily.org/dox/classEigen_1_1VectorBlock.html) instead of passing in an additional index. Then the user can just index into it like any other vector if they want.

What I did in my Julia rigid body dynamics module was just store a map from joint to range (i.e. an object containing start index and length) in the equi

[2016-09-22 19:03] scpeters commented on #3093
Do you have any policies about changing API/ABI? I'll go look in the docs...

[2016-09-22 19:08] scpeters commented on #3093
I didn't see any mention of changing API/ABI in the docs. If drake CI is clean, is that all you're concerned with? There aren't any downstream packages that use drake that we need to worry about changing API/ABI?

[2016-09-22 19:13] jwnimmer-tri commented on #3093
ABI is not a concern (downstream always build from source, at the moment).

We have Russ's blessing to change APIs (with a CHANGELOG.md entry), presuming we have a good reason.  (For example, randomly renaming things isn't super helpful, but hiding implementation details would be, or broadening the method to support more use cases, etc.)  In short, there are some downstream users, but they try to

[2016-09-22 19:14] jwnimmer-tri commented on #3093
Also, plans to edit the RidigBodyTree should be circulated to the Dynamics team for input, so /CC @sherm1 and @amcastro-tri who can rope anyone else in.

[2016-09-22 19:16] scpeters commented on #3093
Ok, it's marked as high priority, but I'll wait to see what is the consensus.

[2016-09-22 19:26] jwnimmer-tri commented on #3093
Heh, I didn't see that.  I think @liangfok was perhaps a bit generous with that label.  Let's have @sherm1 and @amcastro-tri definitely weigh in on what to do here.

[2016-09-22 19:27] jamiesnape commented on #3503
Looks like the latest nlopt only supports CMake now.

[2016-09-22 19:40] liangfok commented on #3093
Ha! Yeah, I don't know what I was thinking when I set the priority. Since it's not blocking anyone at the moment, I'll downgrade the priority.

[2016-09-22 20:01] liangfok commented on #3553
The problem occurs during the creation of a `drake::LCMInputSystem`.

[2016-09-22 20:16] liangfok commented on #3553
The problem is further narrowed down to the initializer list of `drake::LCMInputSystem`:

https://github.com/RobotLocomotion/drake/blob/2abef6973d416d84ccc2ef16fcf09ba62544b774/drake/systems/LCMSystem.h#L83

[2016-09-22 21:18] RussTedrake commented on #3543
Actually I believe director supports anything that vtk supports, include dae, etc.

[2016-09-22 21:36] RussTedrake commented on #3544
fwiw - I think implementing our own NumTraits sounds completely reasonable (in fact, I can’t think of any reasonable alternative).

[2016-09-22 21:39] RussTedrake commented on #3549
This seems likely to break a lot of external code.  Will you deprecate the previous method names?

[2016-09-22 21:40] david-german-tri commented on #3294
Not to my knowledge; team sentiment was quite divided.  Personally, I have no interest in this bikeshed, nor does the inconsistency particularly bother me.  If it doesn't bother you either, feel free to perpetuate it!

If it does bother you, maybe PR the fix you prefer?  I'll LGTM it, and anyone who objects can either get over it or escalate to Russ.  (That goes for anyone else as well!)

[2016-09-22 21:44] liangfok commented on #3549
Definitely! I don't plan on removing the methods until Release 1.0.

[2016-09-22 21:50] mwoehlke-kitware commented on #3397
For the moment, see https://groups.google.com/forum/#!topic/lcm-dev/XKu7u7jpuck. If there are no objections, I'll open an issue.

[2016-09-22 22:02] RussTedrake commented on #3544
Matlab uses isNumeric instead of isOnRealLine.  I like that a bit better

[2016-09-23 03:19] sherm1 commented on #3093
I believe this change (or at least *some* change to `weld_to_frame`) was suggested by @amcastro-tri so I will leave it to him to comment.

[2016-09-23 03:27] liangfok commented on #3556
Thanks. I just realized that `Diagram` is a subclass of `System`, which has `get_name()` and `set_name()`.

[2016-09-23 03:42] liangfok commented on #3560
Nice. I updated this issue's original description.

One slight concern I have is systems that want to set the value of the port that's consumed by `RigidBodyPlantLcmPublisher` needs to have a reference to the `RigidBodyPlantLcmPublisher`'s `RigidBodyTree` (or another tree that's either identical or compatible in terms of being a superset of it). This is more coupling than would be ideal. Allowing

[2016-09-23 04:28] tkoolen commented on #3560
But where are those strings going to come from (unless you hardcode them)? Just holding on to a const reference to a `RigidBodyTree` shared between subsystems or a new instance created from the same URDF seems like the easiest way to access that information anyway, and then you already have the `DrakeJoint`s set up, so why not use those?

[2016-09-23 09:29] liangfok commented on #3560
That's a good point; I think you're right.

I'm basically trying to avoid requiring that certain systems like [SimpleCar](https://github.com/RobotLocomotion/drake/blob/ca667d2f145358e7b4707e0bb94f7a1c1745ba07/drake/automotive/simple_car.h) and [TrajectoryCar](https://github.com/RobotLocomotion/drake/blob/e8a036f2c7a06509b1abfd14be02898a631025e5/drake/automotive/trajectory_car.h) maintain `const` r

[2016-09-23 12:35] liangfok commented on #3553
I instrumented `drake::getNumInputs()` (see: https://github.com/liangfok/drake/commit/2cd16f35d84c7cb03401c1754514a72cec054f39) and obtained the following output:

[code]
Clearly, the problem is one of the systems in the system's cascade has zero inputs.

[2016-09-23 13:18] amcastro-tri commented on #3093
Getting rid of `share_ptr`'s is a good improvement I think. This is something I started in my first huge PR #2207 when I started at TRI and I would be thrilled if @scpeters wants now to clean the `RigidBodyFrame` `shared_ptr`'s.

It will also be a big PR because, as you will see when you start doing it, the `shared_ptr`'s very easily propagate and contaminate entire code, hiding ownership and crea

[2016-09-23 13:19] jwnimmer-tri commented on #3553
Did you `git bisect` yet?

Perhaps the loss of `LCMMessageType` in this commit broke the System1 magic LCM detection?
https://github.com/RobotLocomotion/drake/pull/3519/commits/144905741842758bf0618738799a8cd245b2eb3d#diff-6d385112eddbb09037e198b79e10b976

[2016-09-23 13:25] tkoolen opened #3568 "`CompareMatrices` almost works for integer scalar types, but doesn't"
A call to `CompareMatrices` with integer matrix arguments compiles on all platforms except win32, and I believe that visual studio is right to complain.

See https://drake-cdash.csail.mit.edu/index.php?project=Drake&showfilters=1&filtercount=2&showfilters=1&filtercombine=and&field1=label&compare1=61&value1=jenkins-windows-msvc-ninja-32-experimental-3567-debug-4938&field2=buildstarttime&compare2=84

[2016-09-23 13:27] jwnimmer-tri commented on #3568
I've always wanted to rewrite that function using a proper googletest comparator (I forget their term for it).  Perhaps this a good opportunity.

[2016-09-23 13:40] amcastro-tri commented on #3560
what's wrong with rigid bodies or joints knowing their start indexes in the world? For a simulation engine that is the fastest way to get this information and IMO much preferred to having a map (slow access).

Is that true? look at the pendulum example. As long as it's output is in the format that the  `RigidBodyTreeLcmPublisher` needs no RBT is needed on the Pendulum side of things.

could be aid

[2016-09-23 14:28] tkoolen commented on #3426
I disagree. Having gone through the CMake tutorial, it really looks like creating LCM bindings libraries is a very straightforward process (as it should be), and should be done in one very specific way. If there's no function that does the setup for you, then the same boiler plate code will be copied all over the place, making it harder to maintain. Either that or people will get lazy and put all

[2016-09-23 14:37] liangfok commented on #3553
Thanks for the advice. I have not tried `git bisect` yet. Will do so soon.

[2016-09-23 14:45] tkoolen commented on #3560
First, if in the future there will be a 'maximum coordinates' mechanism class, then there may not even be a joint position/joint velocity vector to index into. This could also be the case for loop joints in a `RigidBodyTree`. Second, it doesn't make sense to me conceptually. If you just look at a single joint outside of the concept of a `RigidBodyTree`, then it doesn't really make sense to talk ab

[2016-09-23 14:56] sherm1 commented on #3093
Is RigidBodyPlant also contaminated with shared_ptr leakage?

[2016-09-23 15:06] liangfok commented on #3093
Luckily, @amcastro-tri did an excellent job preventing contamination of `RigidBodPlant`. It simply maintains a `unique_ptr` to a `RigidBodyTree`.

[2016-09-23 16:47] liangfok commented on #3553
@jwnimmer-tri, you guessed right. 144905741842758bf0618738799a8cd245b2eb3d has the bug but the previous version, 4bef78357bba9c16384b85e1f5eab690c3908062, does not.

[2016-09-23 16:58] tkoolen opened #3571 "CLion setup guide is GCC-specific"
The CLion setup guide at http://drake.mit.edu/clion.html contains:

A labmate who's just getting up to speed on Drake development and is using OSX/clang followed these instructions to the letter, resulting in cmake complaining about not being able to find a compiler.

[2016-09-23 17:15] #3503 closed

[2016-09-23 17:21] david-german-tri commented on #3568
Matcher: https://github.com/google/googletest/blob/master/googlemock/docs/CookBook.md#extending-google-mock

[2016-09-23 18:34] amcastro-tri commented on #3093
yes! I hate `shared_ptr`'s!
BTW, thank you for the nice comment @liangfok!

[2016-09-23 19:10] amcastro-tri commented on #3560
That is because those are "constraints" and what you call "joints" should probably be called "mobilizers" as @sherm1 advocated for so many years with a very mature piece of software like Simbody.

That's because the joint always belongs to the tree, the tree owns it.

I agree. However I always think that attention to details is what makes our work differentiate it from others. Besides, and again,

[2016-09-23 19:57] jwnimmer-tri commented on #3294
Alright.  I will work on a PR for `size` soon(ish).

[2016-09-23 20:32] #3351 closed

[2016-09-23 21:59] #3333 closed

[2016-09-24 14:05] david-german-tri opened #3578 "System2 test library"
The `drake/systems/framework` code is becoming mature enough that we should provide a library of test utilities for commonly-duplicated code.
- [ ] Verifying the input and output topology.
- [x] Creating input ports.
- [x] Packing and unpacking `AbstractValue`s.

[2016-09-24 14:08] #3294 closed

[2016-09-25 19:48] RussTedrake commented on #3568
Feels like another case of msvc detecting a real issue that g++ and clang did not?

[2016-09-25 23:30] david-german-tri commented on #3568
I don't share @tkoolen's read of the standard.  26.8-11 does specify an `isnan(Integral arg)`, as cppreference describes.  Relevant quote, emphasis added:

arithmetic arguments corresponding to double parameters are effectively cast to long double.

If MSVC doesn't provide those overloads, I think that's just another way in which it's not C++11 compliant.

[2016-09-26 02:08] pangtao22 commented on #3413
@jamiesnape Hi Jamie, I am a new graduate student in Russ's group, and I will be working with Hongkai and you on integrating OMPL into Drake.

I tried to install OMPL using MacPort, as stated in the website. But I am getting the error message below:

`dhcp-18-189-54-19:~ pangtao$ sudo port sync \; install ompl +app
Password:
--->  Updating the ports tree
--->  Computing dependencies for ompl
--->

[2016-09-26 02:37] RussTedrake opened #3580 "disabling an external does not remove it from the build"
I’m still having trouble building iris on my mac.  After a clean build with all supported externals, i tried to disable iris, but it is still being built.

[code]

note that it is still “preparing to build iris” despite my having turned it off.

[2016-09-26 09:02] chiaramg opened #3581 "OSX source build instructions need updating"
The build instructions provided in http://drake.mit.edu/homebrew.html still refer to "make options". This needs updating to instead use "cmake/ccmake".

[2016-09-26 13:07] jamiesnape commented on #3413
True, we will definitely not be using MacPorts. Try this for now:

1. Install [Homebrew](http://brew.sh).
2. `brew update`
3. `brew install cmake boost`
4. `git clone https://github.com/ompl/ompl.git`
5. `cd ompl`
6. `mkdir build`
7. `cd build`
8. `cmake ..`
9. `make`

[2016-09-26 14:07] #3553 closed

[2016-09-26 17:35] #3581 closed

[2016-09-26 19:28] jamiesnape commented on #3580
FYI @mwoehlke-kitware.

[2016-09-26 19:32] pangtao22 commented on #3413
@jamiesnape Thanks! I am able to build OMPL following your instructions. I have a few more questions to ask.

1. Is there a way to setup the OMPL project in an IDE such as Clion? Or is it better to work in command line, using Vim as editor and run make to compile and build?

2. When I ran this tutorial program (http://ompl.kavrakilab.org/geometricPlanningSE3.html), the output I am getting is in th

[2016-09-26 19:37] jamiesnape commented on #3413
`cmake -GXcode ..` would allow you to use Xcode or AppCode. Not sure about CLion. I usually just use BBEdit.

For visualization, you could probably try either. I have not used their GUI, but it would seem a sensible place to start.

[2016-09-26 19:39] mwoehlke-kitware commented on #3580
This could happen if either `WITH_ALL_PUBLIC_EXTERNALS` or `WITH_ALL_SUPPORTED_EXTERNALS` are `ON`. Did you check that both of those are `OFF`?

[2016-09-26 19:55] liangfok opened #3592 "Mysterious CI Failure: MATLAB Killed because the Java VM Could not be Terminated"
# The Error

[code]

# Example Logs

* https://drake-jenkins.csail.mit.edu/job/experimental/5033/compiler=gcc,label=linux_matlab,type=release/

[2016-09-26 20:09] david-german-tri commented on #3592
Well, that's a new one.  I'm going to guess it's a flake that will be rarely reproduced and never explained.  @BetsyMcPhail @jamiesnape assigned to you in case you think otherwise, but feel free to close unresolved rather than investigate.

[2016-09-26 20:12] jamiesnape commented on #3592
I would not know where to start to reproduce it. I doubt it is CI specific.

[2016-09-26 20:12] #3592 closed

[2016-09-26 20:16] pangtao22 commented on #3413
@jamiesnape Thanks! Do you happen to know how to build their GUI? This is what happens when I am trying to run the GUI script now:

dhcp-18-189-9-111:gui pangtao$ pwd
/Users/dideng/omplapp/gui

dhcp-18-189-9-111:gui pangtao$ ./ompl_app.py
Traceback (most recent call last):
  File "./ompl_app.py", line 36, in <module>
    import OpenGL
ImportError: No module named OpenGL

[2016-09-26 20:23] jamiesnape commented on #3413
`pip install PyOpenGL`

[2016-09-26 20:51] tkoolen commented on #3568
Yep, you're right, I missed that (as did Microsoft :-)).

[2016-09-26 20:59] pangtao22 commented on #3413
I am getting a new error after installing PyOpenGL:

dhcp-18-189-9-111:gui pangtao$ ./ompl_app.py
Traceback (most recent call last):
  File "./ompl_app.py", line 48, in <module>
    from ompl.util import OutputHandler, useOutputHandler, LogLevel, OMPL_DEBUG, OMPL_INFORM, OMPL_WARN, OMPL_ERROR
  File "/Users/dideng/omplapp/ompl/py-bindings/ompl/util/__init__.py", line 4, in <module>
    from ompl.u

[2016-09-26 21:17] rdeits opened #3594 ""with_all_supported_externals" build fails in CLP inside dreal"
On OSX, I'm getting the rather unhelpful error message:

[code]

The logfile mentioned is also not very helpful:

[code]

[2016-09-26 21:22] jwnimmer-tri commented on #3594
The Jenkins https://drake-jenkins.csail.mit.edu/view/Continuous/job/mac-clang-continuous-release/ seems to be purring along.  I wonder what is different between Jenkins and the local build.

/CC @soonho-tri

[2016-09-26 21:33] david-german-tri commented on #3568
In their defense (or something), they never claimed to be C++11 compliant.

[2016-09-26 21:37] rdeits commented on #3594
in `drake-distro/build/externals/dreal/external/src/CLP-stamp/CLP-build-err.log` I see the following:

[code]

[2016-09-26 22:06] soonho-tri commented on #3594
@rdeits, I'm on it.

[2016-09-27 10:43] RussTedrake opened #3596 "updated cmake externals fail to find mex when pdftex is installed (on mac homebrew)"
e.g.
[code]

the reason is
[code]

this was a case that I had handled specifically before... making sure that we call the mex that is in the same path as the matlab executable, even if the mex executable is pre-empted by pdftex in the path.  @jamiesnape -- i believe this happened with all of your cmake external updates?  PTAL?

[2016-09-27 12:24] RussTedrake commented on #3594
This is probably the same error i got on my work laptop 2 weeks ago.  (Still unresolved)

[2016-09-27 12:29] RussTedrake commented on #2594
this can probably be closed now?

[2016-09-27 12:30] RussTedrake commented on #3580
you caught me.  WITH_ALL_PUBLIC_EXTERNALS was still on.  That's a really nasty interface.

[2016-09-27 13:10] jamiesnape commented on #3596
If it is happening during configure for `iris`, then it would be using an unchanged version of `mex.cmake` bundled with `iris`, but I will, of course, double check and fix.

[2016-09-27 14:18] jamiesnape commented on #3596
(BTW this will not be an issue when we move to using the native CMake MEX support, which is high priority).

[2016-09-27 14:21] jamiesnape commented on #3596
We have `NO_DEFAULT_PATH` here and `MATLAB_ROOT/bin` is a HINT: https://github.com/RobotLocomotion/drake/blob/master/cmake/mex.cmake#L100

Are there issues with externals other than iris?

[2016-09-27 14:29] jwnimmer-tri commented on #3580
Perhaps reopen the ticket, with the fix being that CMake should fail-fast if the user selects conflicting options?

[2016-09-27 14:30] jwnimmer-tri commented on #2594
The `fedora.rst` still mentions it.

[2016-09-27 14:30] soonho-tri commented on #3594
@rdeits and @RussTedrake : I'm switching from building CLP from source to using a pre-built package of CLP. In Ubuntu, there is `coinor-libclp-dev` package (>=12.04) so it's an easy task. I'm working on checking [a homebrew formula for CLP](https://github.com/coin-or-tools/homebrew-coinor/blob/master/clp.rb).

[2016-09-27 14:32] jwnimmer-tri commented on #3594
Perhaps until dReal uses a repeatable build, we should elevate #3505 to high priority and fix it separate from other new features?

[2016-09-27 14:38] soonho-tri commented on #3594
AFAIK, https://github.com/RobotLocomotion/drake/pull/3522 is waiting for platform review.

[2016-09-27 14:40] liangfok opened #3598 "Create an LcmAndAbstractValueTranslator"
# Motivation

Sometimes an LCM message cannot be translated into a [drake::systems::VectorBase](http://drake.mit.edu/doxygen_cxx/classdrake_1_1systems_1_1_vector_base.html) and vice versa. Instead, it can only be meaningfully translated into a [drake::systems::AbstractValue](http://drake.mit.edu/doxygen_cxx/classdrake_1_1systems_1_1_abstract_value.html).

# Action Item

Create an `LcmAndAbstractVa

[2016-09-27 14:51] liangfok commented on #3546
I'm going to start work on this now.

[2016-09-27 15:04] naveenoid commented on #3594
BTW I get this error too..I dont build with DREAL at the moment.

[2016-09-27 16:58] jwnimmer-tri commented on #3598
I can help talk though the design, if anyone wants.  You don't technically need a common base class, though it's a perhaps still good choice.

[2016-09-27 17:32] #3549 closed

[2016-09-27 18:07] #3505 closed

[2016-09-27 20:53] liangfok commented on #3546
Must the mock LCM instance be so decoupled from LCM that it should be usable even if LCM is not present on the local machine? I ask because the API includes things like [lcm::ReceiveBuffer](http://lcm-proj.github.io/structlcm_1_1ReceiveBuffer.html) and [lcm::Subscription](http://lcm-proj.github.io/classlcm_1_1Subscription.html) that will be undefined if LCM is not present. Do I need to mock up all

[2016-09-27 20:56] jwnimmer-tri commented on #3546
I suspect any reasonable testing with an LCM mock will be still using non-mocked Encode and Decode methods, so LCM-as-a-build-dependency is likely fine (though perhaps nice to remove, if we can).

However, perhaps you can offline explain your mock design, because I am surprised that such types would still be needed in mock-land.

[2016-09-27 21:02] liangfok commented on #3546
From F2F meeting with @jwnimmer-tri, the mock `LCM::Subscription` API will look something like:

[code]

Note that `lcm::Subscription` and `lcm::ReceiveBuffer` will be pushed into a child class that uses the _real_ LCM instance.

[2016-09-27 23:40] shensquared commented on #3258
Yes, @amcastro-tri driving backwards and stopping leads to the same problem. Here’s what I’ve tried so far, none of them fixed the problem:
- smoothening out the sudden stopping;
- increasing the PD gains;
- decreasing the initial time step from 5ms to 1ms;
- verifying the speed unit (the unit actually looks correct, at least on Drake side, as inspected by plotting out the front wheel position ove

[2016-09-28 00:37] RussTedrake commented on #3596
Yes.  Snopt fails with the same message

[2016-09-28 02:52] chang-liang commented on #3535
Thank you all very much for your help, but i still got the same respond after running [mex -setup](url).

[2016-09-28 02:53] chang-liang commented on #3535
Thank you all very much for your help, but i still got the same respond after running `mex -setup`.

[2016-09-28 13:15] jamiesnape commented on #3596
Ok. I will look into it further now. Incidentally, RobotLocomotion/snopt#9 will fix the snopt failure regardless of the current cause.

[2016-09-28 14:11] mwoehlke-kitware commented on #3580
*Failing* seems like it would defeat the purpose of the option. Maybe we could spit out a `STATUS` message instead telling why we are building the external anyway.

Alternatively, do we even *need* `WITH_ALL_PUBLIC_EXTERNALS` or `WITH_ALL_SUPPORTED_EXTERNALS`?

[2016-09-28 14:49] liangfok opened #3608 "DrakeJoints Contains Macros that Violate Style Guide"
`drake-distro/drake/systems/plants/joints/DrakeJoint.h` contains a macro called `POSITION_AND_VELOCITY_DEPENDENT_METHODS` that violates our style guide.

From our [style guide](https://google.github.io/styleguide/cppguide.html#Preprocessor_Macros):

I encountered this issue when I tried to add Doxygen comment blocks to the methods that were defined via macro. It didn't work.

[2016-09-28 15:07] jamiesnape commented on #3596
You are using MacTeX 2015?

[2016-09-28 15:10] jamiesnape commented on #3596
Seems to be a problem with the original `mex.cmake` files because `cmake/mex.cmake:156` is a comment on the version with included with drake.

[2016-09-28 15:11] jamiesnape commented on #3596
Not sure why you are only seeing it now, though.

[2016-09-28 16:16] david-german-tri commented on #3580
Good question.  I've always found those options confusing, but they predate me and maybe someone has a workflow that depends on them.

[2016-09-28 16:31] mwoehlke-kitware commented on #3397
lcm-proj/lcm#110

[2016-09-28 18:27] david-german-tri commented on #3208
#3393 didn't get linked to this PR, and so I forgot I had done it.  This issue is actually complete!  🎉

[2016-09-28 18:27] #3208 closed

[2016-09-28 18:50] SeanCurtis-TRI opened #3610 ""test" project does not appear in CLion"
The expectation is that there is a CMake target that should appear as a target in build called "test", which should invoke running all tests.  In my particular build (and, anecdotally, others) it is missing.

The full list of targets which CLion _does_ recognize are included below as screen captures.

![targets01](https://cloud.githubusercontent.com/assets/22159799/18927522/2df1f5de-8571-11e6-81fa

[2016-09-28 20:44] sammy-tri commented on #3344
https://github.com/RobotLocomotion/lcmtypes now exists to collect lcm types, and is a clone of @mwoehlke-kitware's current drake branch.

[2016-09-29 00:01] sherm1 opened #3614 "Rename BasicVector to something less like VectorBase"
Per f2f with @david-german-tri and @edrumwri, and a suggestion by @jwnimmer-tri, we would like to have a better name for the ubiquitous and extremely useful contiguous vector type currently called `BasicVector`, which is very easy to confuse with its base class, `VectorBase`. We could name it `RawVector` in which case the hierarchy would be

[code]

If you don't like that name, feel free to propos

[2016-09-29 00:16] liangfok commented on #3614
Another idea is `ProtoVector`.

[2016-09-29 00:30] jwnimmer-tri commented on #3614
Consider renaming BasicVector, instead of VectorBase.

[2016-09-29 02:39] liangfok opened #3615 "Drake/ROS CI Needs xacro To Be Installed"
# Motivation

It is often useful to generate a URDF using [xacro](http://wiki.ros.org/xacro) since it enables small variations of a particular model to be kept in sync and reduces verbosity when a model consists of numerous similar parts (e.g., a left arm and a right arm, or all four wheels of a car).

PR #3609 includes a test that uses `xacro.py` (the main executable script in the `xacro` ROS pac

[2016-09-29 02:40] liangfok commented on #3615
@david-german-tri, I'm going to assign this to you. Can you please reassign it to the appropriate person? Thanks.

[2016-09-29 13:10] jamiesnape opened #3617 "MEX compilation without mex.cmake tracker"
General:
- [x] #3681
- [x] #3596
- [x] #3586
- [x] #3186

IRIS:
- [x] #3620
- [x] rdeits/iris-distro#49
- [x] rdeits/iris-distro#48
- [x] rdeits/iris-distro#47

SNOPT:
- [x] #3645
- [x] RobotLocomotion/snopt#9
- [x] RobotLocomotion/snopt#10

Swigmake:
- [x] #3654
- [x] #3637
- [x] #3632
- [x] rdeits/swigmake#4
- [x] rdeits/swigmake#3
- [x] rdeits/swigmake#2

[2016-09-29 13:13] jamiesnape opened #3618 "Build yaml-cpp as a shared library on macOS / OS X"
Tracking jbeder/yaml-cpp#418.

[2016-09-29 13:39] jamiesnape commented on #3580
I would vote to remove the options. There are several (mostly sensible) ways I can see that you could go when there are conflicting flags.

1. Fail.
2. Ignore `WITH_ALL_*`.
3. Ignore `WITH_*` (current behavior?).
4. Compute difference/union of `WITH_ALL_*` and `WITH_*`.
5. Remove `WITH_ALL_*` options.
6. Remove `WITH_*` options (just for completeness).

Which probably means someone will confused (

[2016-09-29 15:23] david-german-tri commented on #2989
#3587 is nearly here!

[2016-09-29 15:24] naveenoid commented on #2989
I can take a pass at this issue but I need some input from @david-german-tri

[2016-09-29 15:25] naveenoid opened #3619 "Implement Affine / Linear System in System 2.0"
There is a need to port over the existing Affine and Linear Systems to System2.0

[2016-09-29 17:00] tkoolen commented on #3535
`mex -setup` should indeed result in the same response, but running `!which g++` in matlab should now point to the g++ in `~/bin`, which is a symlink to `g++-4.9`. If this is indeed the case, you're ready to do a clean drake build at this time.

[2016-09-29 17:34] scpeters commented on #3240
I will take a look at this issue.

[2016-09-29 17:41] liangfok commented on #3240
@scpeters: Thanks!

[2016-09-29 18:24] jamiesnape opened #3622 "Use non-POD version of Gurobi"
Looks like I missed creating an issue for this. Hopefully, we can work out something to avoid using Perl too.

[2016-09-29 18:29] A-I-Ivanov commented on #3512
Same issue exists in Ubuntu 16.04. I know this is in beta support. Please post the fix if you find it, and I'll do the same (if I manage to figure it out).

[2016-09-29 18:39] soonho-tri commented on #3512
@A-I-Ivanov, it's fixed in the latest version of dReal. But drake is still pointing to an old version of dReal. For now, `WITH_DREAL` is `OFF` and you shouldn't have the problem unless you enable it manually.

I'll make a PR to bump dReal hash in drake soon anyway.

[2016-09-29 18:57] liangfok opened #3625 "Update Jenkins Interaction Documentation to Include Scheduling Via Github Comment"
This is the page that should be updated:

http://drake.mit.edu/jenkins.html#running-an-on-demand-build

The above-linked website only describes how CI tests can be scheduled through Jenkin's website.
In addition to this, we can also schedule tests via comments in Github that take the following form:

This issue tracks the addition of documentation about this capability.

[2016-09-29 18:58] liangfok commented on #2966
The instructions on how to schedule a CI test for Drake + ROS is available here: http://drake.mit.edu/from_source_ros.html#scheduling-a-drake-ros-continuous-integration-test

I created #3625 to track the documentation of _all_ the builds and will close this issue.

[2016-09-29 18:58] #2966 closed

[2016-09-29 19:23] jamiesnape opened #3628 "MATLAB dependency names, option names, package names, and submodule names, are inconsistent."
e.g.,

[code]

[2016-09-29 19:29] jamiesnape commented on #3628
See #3626, #3627.

[2016-09-29 19:30] liangfok commented on #3615
In https://github.com/RobotLocomotion/drake/issues/2369, `ros-indigo-desktop` and `ros-indigo-ros-base` are both mentioned as Debian packages to install.

Using `apt-cache showpkg [package-name]`, I see that:

(1) `ros-indigo-xacro` is included by `ros-indigo-robot`.

(2) `ros-indigo-robot` is included by `ros-indigo-desktop` and `ros-indigo-ros-base`.

Thus, I believe `xacro` should be installed

[2016-09-29 19:41] liangfok commented on #3615
In https://github.com/RobotLocomotion/drake/issues/2369#issuecomment-220453697, @jamiesnape notes that the ROS environment is configured via a driver-script in `drake-ci` since shell startup scripts are not called by Jenkins.

Here's where the ROS environment is configured: https://github.com/RobotLocomotion/drake-ci/blob/master/ctest_driver_script_catkin.cmake#L97. It looks right since it include

[2016-09-29 19:55] jamiesnape commented on #3625
Just above here: http://drake.mit.edu/from_source_ros.html#running-an-example-car-simulation

[2016-09-29 19:59] liangfok commented on #3625
Sorry, I posted the wrong link. I wanted to updated 'jenkins.rst`. PTAL.

[2016-09-29 20:25] liangfok opened #3630 "Identify and then Thoroughly Document Transform of Joint's Mobile Frame To Its Child Body"
Simbody includes the following image that describes a joint,  its frames, and their transforms.

https://github.com/simbody/simbody/blob/master/Simbody/doc/images/MobilizerTerminology.png

Using the variable names in the above-linked figure, I currently don't know what `X_BM` is in Drake. Is it identity? Or, is it inferred assuming bodies `P` and `B` are initially presented in a configure that mak

[2016-09-29 20:31] amcastro-tri commented on #2989
Ok, feel free to un-assign me and assign yourself to this @naveenoid. Please ping me in that PR since I'm interested to see how that works.

[2016-09-29 22:26] sherm1 commented on #2989
I have implemented these before if you want to discuss. Simbody's Delay documentation mentions some of the ugly issues [here](https://simtk.org/api_docs/simbody/latest/classSimTK_1_1Measure___1_1Delay.html#details). Simulink's discussion for its TransportDelay block is [here](https://www.mathworks.com/help/simulink/slref/transportdelay.html). These are quite tricky to implement correctly.

[2016-09-29 23:53] chang-liang commented on #3535
Thank you. That was progress!

![ubuntu 64bit4-2016-09-28-19-47-54](https://cloud.githubusercontent.com/assets/6902821/18976162/cf0fde10-867d-11e6-8513-83e7718778c0.png)

![ubuntu 64bit4-2016-09-28-19-47-59](https://cloud.githubusercontent.com/assets/6902821/18976163/d269028a-867d-11e6-9ddb-d43d9f7dfd26.png)

But when I tested the installation, I was faced with this,

![ubuntu 64bit4-2016-09-29-19

[2016-09-30 05:36] tkoolen commented on #3535
The spotless build seems to get stuck at the matlab command line for you, not sure why yet (I don't see any errors). Try entering `exit` when the build process gets to this point and see if the build continues?

You could also consider just disabling building spotless for now by `cd`ing to your build directory, then running `ccmake .` (notice the additional c), then setting `WITH_SPOTLESS` to `OFF

[2016-09-30 05:40] tkoolen commented on #3535
I see you're running Matlab 2016b. I personally haven't tested that version yet.

[2016-09-30 13:44] mwoehlke-kitware commented on #3466
Fixed by #3460

[2016-09-30 13:44] #3466 closed

[2016-09-30 18:58] amcastro-tri commented on #3630
Is this an issue for Drake's code base or just a reminder for yourself @liangfok?
I actually have the answer for this: there is no F like in SimBody, just a parent frame (P) a joint frame fixed with respect to the parent's frame (J for the lack of other notation) and a child body frame (C).
Also, the return of `jointTransform` is the transform from the child's frame to the joint's frame, or T_JC i

[2016-09-30 19:16] liangfok commented on #3630
I believe the "defect" that this issue falls under is the fact that `DrakeJoint` is not adequately documented.

Thanks for the note. I believe you're saying `X_BM` (using SimBody's terminology) is identiy, which is what I was leaning towards: https://github.com/robotlocomotion/drake/pull/3137#issuecomment-250239262.

@sherm1, assuming the above is true, is it OK for Drake to force `X_BM` to be ide

[2016-09-30 20:00] BetsyMcPhail opened #3641 "Build errors with Ubuntu 16.04 and clang 3.7 or 3.8"
The set-up script for Ubuntu 16.04 doesn't specify a version of clang. On my test system, clang 3.8 was installed. The build failed with the following error:

[code]

Next, I tried uninstalling clang 3.8 and installing clang 3.7. I received the same error.

Note: I did not get this error with gcc-5.0

[2016-09-30 20:04] rpoyner-tri commented on #3641
On 16.04, i needed to move to clang-3.9 to build drake. Once I did that, I've have no further problems.

[2016-09-30 20:06] BetsyMcPhail commented on #3641
Thanks for the suggestion, I will give it a try.

[2016-09-30 20:10] jwnimmer-tri opened #3642 "Context::SetInputPort should return an alias to its argument"
Per #3631 review.

It would be nice if `Context::SetInputPort` returned an alias to its argument, using the specific subtype that was passed (not just `InputPort*`), which would allow cleaner use in initializer lists.  Or possibly a differently-named method like `SetAndReturnInputPort`.

Task is to survey the codebase and see how widely this is used, and then if seems appropriate, add the new suga

[2016-09-30 20:13] amcastro-tri commented on #3544
I completely support this!

[2016-09-30 21:04] david-german-tri commented on #3544
It's in #3587!

[2016-09-30 23:19] hongkai-dai commented on #3413
Thank @jamiesnape for helping setting up OMPL.

How should we build it as an external of Drake? Do we want to push OMPL to get rid of Boost dependency? (Since FCL does not depend on Boost any more).

[2016-10-01 03:34] liangfok commented on #3546
WIP branch is here: https://github.com/liangfok/drake/tree/feature/lcm_mock. I have the basic framework completed and the _real_ LCM-encapsulating class implemented and unit tested. I still need to implement the _mock_ version and to integrate the framework with all of the System 2.0 systems that use LCM.

[2016-10-01 08:41] RussTedrake commented on #3580
Another possibility that we discussed last Dec w/ kitware's initial visit was to have the WITH_* options toggle between more states (ON | OFF | IF_ALL_EXTERNALS ) or something like that.

I'm ok with removing the WITH_ALL_* options (and updating the docs).  The problem they were originally trying to solve was that many people don't have permissions for all of the externals (and then get a mysterio

[2016-10-01 12:00] jwnimmer-tri commented on #3580
Or stop trying to push CMake past its limits, and admit we need a wrapper script around the initial configuration and superbuild step?  Many of us already have our own custom bash or python script to invoke a first-time build, since it's already impossible to do correctly by hand.  Putting that in-tree would be of benefit to everyone.

[2016-10-01 13:10] jamiesnape commented on #3413
It would be beneficial if OMPL could remove Boost, but at first glance it would be a lot of work. For now, we could make OMPL and MATLAB mutually exclusive.

First step is to make a list of the dependencies that we need to install as additional externals. There are a lot of optional ones that may or may not add functionality that we need.

[2016-10-02 00:53] sherm1 commented on #3630
It is not good practice because it prevents use of a natural body frame for the child body. Instead the child body frame B must be coincident with the inboard joint's "M" frame (in Simbody lingo). Since everything else on the body is expressed relative to B (visual & collision geometry, mass properties, locations of joints for which B is the parent), repositioning the inboard joint (for example du

[2016-10-02 10:38] RussTedrake commented on #3580
would be happy to have something like that in-tree.  can we write something useful for users that have different acks?  thinking about how we could do that makes me realize there is another possibility using CMAKE.  We could have the WITH_ALL_SUPPORTED_EXTERNALS and WITH_ALL_PUBLIC_EXTERNALS be effectively command line options only, instead of (redundant) options.  If those variables are defined,

[2016-10-02 11:15] RussTedrake commented on #3596
:facepalm:  this was due to http://drake.mit.edu/faq.html?highlight=mex#could-not-find-mex-cc-using-mex-v-on-mac-after-updating-xcode .  apologies.  i forgot i had just updated xcode on my home machine.

[2016-10-02 11:16] #3596 closed

[2016-10-03 07:45] RussTedrake opened #3646 "debugging visualizers for eigen matrices?"
The discussion about matlab vs c++ brought up this idea:  can we find a better way to visualize Eigen matrices in the c++ IDE debuggers?  The ability to quickly inspect the contents of a matrix-valued variable is one major advantage of working in the matlab debugger (changing those values with the interactive shell is another, and is possible but only to an extent in the c++ debuggers).

A quick s

[2016-10-03 07:53] RussTedrake opened #3647 "plotting tool for c++ development"
Another big feature of working in matlab is the ability to easily plot data.  I have a stub of code that I was working on that, I think, could provide basically the same functionality in c++.  Essentially it is an matlab lcm client which would work very much like bot-lcmgl… you would publish matlab plotting commands via lcm and have a matlab window open that was listening for them and running them

[2016-10-03 08:01] RussTedrake commented on #3646
ooh.  good news!

just found this for LLDB:
https://github.com/tehrengruber/LLDB-Eigen-Data-Formatter

and this for GDB:
http://dlgreenwald.weebly.com/blog/first-post
http://stackoverflow.com/questions/25085465/using-gdb-with-eigen-c-library

[2016-10-03 11:10] RussTedrake opened #3648 "win32 compilation fails on functional_form.h"
[code]
My CMakeCache is attached.
[CMakeCache.txt](https://github.com/RobotLocomotion/drake/files/506060/CMakeCache.txt)

[2016-10-03 11:17] RussTedrake commented on #3648
possibly related
[code]

[2016-10-03 11:49] tkoolen commented on #3646
Thanks for looking into this, I never figured this out and it will be very useful.

Related CLion issue: https://youtrack.jetbrains.com/issue/CPP-1798 (please vote for CLion issues if you want them to prioritize something). Probably not 100% necessary given the installation instructions above, but would still be very nice to have for other, non-Eigen types. I believe they did just add (predefined,

[2016-10-03 11:54] tkoolen opened #3649 "Mex debugging instructions don't work (and haven't for a while)"
The instructions at http://drake.mit.edu/clion.html#debugging-mex-functions-in-osx broke some time ago (combination of new matlab version and new xcode version I believe). I haven't been able to figure out how to get mex debugging to work again from CLion. I opened an issue with the mathworks, but they just never bothered to fix it:

Should we just get rid of those instructions?

Came up in https:

[2016-10-03 13:01] mwoehlke-kitware commented on #3580
We could probably do the opposite; add an option like 'WITH_PRIVATE_EXTERNALS', and hide non-public externals if that is OFF.

There was also talk of moving the CI option sets into the drake proper repo. Maybe we could do that and leverage the same machinery for users also, somewhat like the immediately preceding comment.

[2016-10-03 13:58] bradking commented on #3648
@RussTedrake what git sha1 do you have checked out?  Which build configuration (Debug, Release, etc.) are you building in VS?

[2016-10-03 13:59] liangfok commented on #3630
I agree with @sherm1's comment about how forcing `X_BM` to be identity is bad since it may prevent the child body from having a "natural" frame.

From a F2F discussion with @amcastro-tri, I also learned that revamping the `RigidBodyTree` to support non-identify `X_BM` may not be possible given more fundamental changes the Dynamics team is planning that will result in a new software abstraction cal

[2016-10-03 13:59] #3630 closed

[2016-10-03 15:55] billhoffman commented on #3413
The only other option would be to use BCP http://www.boost.org/doc/libs/1_62_0/tools/bcp/doc/html/index.html to namespace and limit the amount of boost that is built for OMPL.  Then you can mix it with matlab.

[2016-10-03 15:58] ggould-tri commented on #3647
For Schunk development I built a generic LCM logger+plotter in python using matplotlib.  It is primitive but it exists.  See `lcm_logger` and `lcm_plot` in https://github.com/RobotLocomotion/drake-schunk-driver/tree/master/tools .  Note that that's really code that I wrote for my own use and is not very polished.

[2016-10-03 17:43] RussTedrake commented on #3648
it happened with the master SHA.  Both Release and Debug modes.  Building from cmake —build at the command line (via VS).

[2016-10-03 17:57] bradking commented on #3648
I've built commit `139d6077` as both `Debug` and `Release` with VS 2015 (x86 arch) and cannot reproduce the ICE.

The next step is to try to compile your exact translation unit.  Please open the project in the VS IDE, expand the `functional_form_test` project, and find the `functional_form_test.cc` source.  Right-click and navigate `Properties -> C/C++ -> Preprocessor -> Preprocess to a File` and

[2016-10-03 20:27] siyuanfeng-tri commented on #3647
A step back, I really wanted something that "flattens" the lcm log. I gave it a list of "traces" that I want to flatten it gives a dense flat array of numbers. And then we can do whatever plotting thing we want later.
It should be generic to different lcm types, should be able to handle cascaded lcm messages, interpolates between msgs to fill gaps.
This will be tremendously helpful for working wit

[2016-10-03 20:33] naveenoid commented on #3571
I had the same problem after update of my Clion version. Have you got any updates on this issue?

[2016-10-03 20:38] tkoolen commented on #3571
Just don't define those variables.

[2016-10-03 20:45] tkoolen commented on #2165
Update on the move assignment bug report I submitted to Apple:

Please pass the following on to the developer.
There is undefined behavior (UB) in std::map that seems to hit in this case.  We are already tracking this issue.

[2016-10-03 20:47] jwnimmer-tri commented on #3571
We just made that edit for Ubuntu 16.04 users to this same document.  Sounds like adding an OSX caveat along the same lines would be an easy fix.

[2016-10-03 21:20] hongkai-dai opened #3658 "Wrap vector with the frame"
This subject is discussed for several times with @tkoolen , @siyuanfeng-tri , @mitiguy , @sherm1 . It is desirable to say in which frame the vector is expressed in, since the same physical vector can have different numerical values when the frames are different. Also when using a transformation, like `Eigen::Isometry3d`, we should add the information on from which frame the vector is transformed,

[2016-10-03 22:01] mitiguy commented on #3658
I really like HongKai's suggestion and think it would greatly help the team.
The accuracy and time to delivery (development time) of the multibody codes Interactive Physics, Working Model, visualNastran 4D, were significantly speeded up by a class called
**BVect3** (and related classes BVect2 for 2D analysis, BVect33 for dyadics/tensors, etc).
For example, BVect3 had 3 scalars and a reference to a

[2016-10-03 22:02] sherm1 commented on #3658
I think the first step is to add some unambiguous documentation for the existing methods, using unambiguous notation. I think that would avoid a lot of problems. I would like to see how far that gets us before embarking on a more complex set of classes (with unknown performance implications).

[2016-10-03 22:13] tkoolen commented on #3658
See my Julia package for what I would recommend:
* [`Transform3D`](https://github.com/tkoolen/RigidBodyDynamics.jl/blob/master/src/frames.jl#L72)
* [`Twist`](https://github.com/tkoolen/RigidBodyDynamics.jl/blob/master/src/spatial.jl#L130)
* [`GeometricJacobian`](https://github.com/tkoolen/RigidBodyDynamics.jl/blob/master/src/spatial.jl#L182)
* [`SpatialAcceleration`](https://github.com/tkoolen/Rig

[2016-10-03 22:15] david-german-tri opened #3662 "A few drake tests fail under valgrind"
See #3656.
- [x] 46 - valgrind_mathematical_program_test (Failed)
- [ ] 109 - valgrind_model_test (Failed)
- [ ] 138 - valgrind_load_model_test (Failed)
- [x] 150 - valgrind_rigid_body_tree_test (Failed)

46 appears to be a bug in nlopt, 109 appears to be a bug in Bullet (previously identified by @amcastro-tri, see https://github.com/RobotLocomotion/drake/blob/9828a841d04ae7bb60d719b78e6e116f7bfc8

[2016-10-03 22:19] tkoolen commented on #3658
One more: [`CartesianFrame3D`](https://github.com/tkoolen/RigidBodyDynamics.jl/blob/master/src/frames.jl#L1).

[2016-10-03 22:33] sherm1 commented on #3658
@tkoolen: those variable names like v̇ are awesome! I'm jealous.

[2016-10-03 22:52] jwnimmer-tri opened #3663 "Add "minimal" to pre-merge testing"
We should get "minimal" into the pre-merge tests.  It breaks a lot (relatively speaking), but is _super cheap_ to run.

[2016-10-03 22:53] jwnimmer-tri commented on #3663
We could consider minimal + cpplint as the front-of-pipeline build if that makes things easier, but highest priority is to get `minimal` covered somehow, lower priority to optimize build time and feedback cycle.

[2016-10-03 22:56] david-german-tri commented on #3663
Agreed.

[2016-10-04 00:00] #3026 closed

[2016-10-04 00:11] sherm1 commented on #3630
P.S. No capital "B" in "Simbody"

[2016-10-04 09:50] RussTedrake commented on #3648
@bradking — thank you.  but if it’s turning out to be this difficult then I think we should drop this, since we are dropping support for msvc anyhow.  It could be some quirk of my virtual machine (running out of memory handling the templates, etc).

[2016-10-04 11:11] RussTedrake opened #3665 "disable windows CI"
proposal from yesterday’s meeting was that we disable windows CI immediately, without blocking on bringing up the valgrind builds and linux 32-bit builds.  Expectation is that we can quickly fix any bugs introduced in the interim.

Given my pains in #3501 , I’d love to see that happen asap.

[2016-10-04 13:37] jwnimmer-tri commented on #3665
Yes please, ASAP.

[2016-10-04 13:41] liangfok commented on #3665
FTR, #3643 was delayed about 24 hours due to a mysterious Win32 linker error. Fixing it required adding something to the CMakeLists.txt: https://github.com/RobotLocomotion/drake/pull/3643/commits/6def3466e74da3bf617feb4a7ebefc2c31bcd37f#diff-7a7595a8eccbcad1fb24437727b22ebcR34.

[2016-10-04 13:44] liangfok commented on #2501
FTR, #3643 was delayed about 24 hours due to a mysterious Win32 linker error. Fixing it required adding something to the CMakeLists.txt: https://github.com/RobotLocomotion/drake/pull/3643/commits/6def3466e74da3bf617feb4a7ebefc2c31bcd37f#diff-7a7595a8eccbcad1fb24437727b22ebcR34 and https://github.com/RobotLocomotion/drake/pull/3643/commits/6def3466e74da3bf617feb4a7ebefc2c31bcd37f#diff-7a7595a8eccbc

[2016-10-04 13:45] amcastro-tri commented on #3630
That was me, sorry. @liangfok was typing it right until I decided to pollute this thread :-)

[2016-10-04 13:54] amcastro-tri commented on #3662
cc'ing @SeanCurtis-TRI here

[2016-10-04 14:00] #3544 closed

[2016-10-04 14:04] david-german-tri commented on #3665
SGTM, I'll go figure out what buttons to click in Jenkins.  I'm thinking - turn it off in presubmit and continuous for the moment, but leave the nightly running (not buildcop-enforced, just keeping track of what if anything breaks) until the valgrind and linux32 builds are up.

[2016-10-04 14:05] david-german-tri commented on #3665
@BetsyMcPhail @jamiesnape FYI - let's coordinate in Slack on #build

[2016-10-04 14:08] RussTedrake commented on #3665
but we would need to be clear that the policy is NOT to pull a build cop revert if windows breaks.

[2016-10-04 14:08] david-german-tri commented on #3665
Yep, exactly.

[2016-10-04 14:10] jwnimmer-tri commented on #3665
Actually, I'd _really_ like to remove the `drakeFoo_export.h` ceremony.  It's actively impeding my work.  So I'd appreciate having nightly disabled as well.

[2016-10-04 14:23] sammy-tri commented on #3665
I assume that would also involve disabling hidden symbols on ELF builds?  (I'm curious what hole you've fallen into, but this issue is not the place for that discussion)

[2016-10-04 14:24] mwoehlke-kitware commented on #3665
Export decoration is TRTTD, even on ELF platforms. That said, if necessary we ought to be able to pass the symbol definitions as target usage requirements, which would eliminate the need for a header, but I am opposed to dropping export decorations entirely.

[2016-10-04 14:25] jwnimmer-tri opened #3666 "Remove export decorations"
Once #3665 is in, I intend to remove the `EXPORT` decorations throughout the codebase (and thus undo hidden visibility; going back to to the defaults).

The extra ceremony has no valid other than pedantry, and makes it more difficult for non-CMake downstreams to use Drake.

[2016-10-04 14:30] david-german-tri commented on #3665
-> #3666 with the export decorations talk, please; I want to close this one as soon as I'm done throwing the switch.

[2016-10-04 15:22] david-german-tri commented on #3665
And it's done!

[2016-10-04 15:22] #3665 closed

[2016-10-04 15:29] jwnimmer-tri commented on #3666
The other option I'm considering is replacing it with a single, project-wide header that's in git, which would be a way to keep hidden-default for now, while we debate the future direction.

[2016-10-04 15:58] jwnimmer-tri commented on #3666
I'm trying one approach in #3668.

[2016-10-04 17:44] jwnimmer-tri commented on #3666
I am liking #3668 a lot, so will likely go that route, absent comments on that PR to the contrary.

[2016-10-04 20:25] chang-liang commented on #3535
I had all this Drake installation problems when I was using VMware (virtual machine) to run Ubuntu. Now I have set up a "real" Ubuntu in my PC hardware and I seems I have Drake installed successfully. Thank you very much to Twan, Rich and Jamie!

![drake_installation success](https://cloud.githubusercontent.com/assets/6902821/19091088/1fa7417c-8a4f-11e6-9442-52d50683a96f.png)

[2016-10-04 20:48] ggould-tri opened #3673 "SDF-based robots invisibly, unpredictably omit joint outputs"
During SDF parsing, some joints are converted to loop joints, which do not provide any outputs.  The information about which joints have been converted into loop joints is discarded in `parser_sdf.cc`.  Thus user code with an SDF-based model cannot know which joint coordinates are present or absent from the output vector of the RigidBodySystem, and so cannot interpret that output vector at all.

T

[2016-10-04 21:07] ggould-tri commented on #3673
Actually I think it's a bit worse than that:  AIUI, joints with no inertia leafward of them in the tree are also omitted from the state, so different sets of joints will be omitted from the state depending on where the loop cut lands.  This means that in some cases the output vector's length will depend on where the loop is cut, which of course is not documented, returned, or particularly predicta

[2016-10-04 21:20] chang-liang commented on #3535
I just skipped the part in "Using Gurobi as an external" in [http://drake.mit.edu/from_source.html](url). After the Drake installation, I found 'home/XXXX/drake-distro/externals/gurobi' is empty. Should I download Gurobi by myself?

Actually I did. I put the downloaded Gurobi in 'drake-distro/externals/gurobi/', and got the license key

`cd drake-distro
./externals/gurobi/gurobi604/linux64/bin/grb

[2016-10-04 21:39] sherm1 commented on #3673
See issue #1867 for more information about handling loop joints sensibly.

[2016-10-04 22:34] hongkai-dai opened #3675 "Add functions to return MathematicalProgram object inside inverseKin and inverseKinTraj"
Currently `inverseKin` and `inverseKinTraj` construct a `MathematicalProgram` object inside the functions, and then solve the nonlinear optimization within the function calls. It can be beneficiary to create a function `constructsInverseKinMathematicalProgram` in `RigidBodyIK.h`, so that the user can access and modify the underlying nonlinear optimization problem.

The reason why we want to expose

[2016-10-04 22:54] hongkai-dai opened #3676 "clean up SOCP"
The current implementation of SOCP is for Mosek only. It also comes with a file `mosek_wrapper.h`. The goal is to

 - [x] Add `LorentzConeConstraint` and `RotatedLorentzConeConstraint`. These two constraints would enforce
[code]
for a second order cone problem. If the problem has other nonlinear nonconvex constraints, these two conic constraint will be enforced as general nonlinear constraints.
 -

[2016-10-04 23:41] jwnimmer-tri commented on #3663
Breaks almost every day.  Bumping up priority.

[2016-10-05 01:05] jwnimmer-tri commented on #3397
It looks like perhaps LCM upstream is repaired now, and we could resolve this issue by bumping our hash, is that correct?

[2016-10-05 01:07] jwnimmer-tri commented on #2183
I think this is fair to close.  There's some code in-tree, and the next step is road networks, not additional bespoke trajectories.

[2016-10-05 01:07] #2183 closed

[2016-10-05 10:41] RussTedrake opened #3679 "bouncing ball example's use of the -inl.h pattern"
@jwnimmer-tri , @jadecastro
is it bad form to include ball-inl.h from bouncing_ball.h (not just bouncing_ball-inl.h)?

https://github.com/RobotLocomotion/drake/blob/73a65f6c7f59cb5f53f5466c6b072a6316107f72/drake/examples/bouncing_ball/bouncing_ball.h#L5

[2016-10-05 12:55] liangfok commented on #3512
I suspect this issue may have returned in `mac-clang-ninja-nightly-matlab-debug`:
https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/mac-clang-ninja-nightly-matlab-debug/58/console

[2016-10-05 13:25] liangfok commented on #1867
Reading [this page](https://simtk.org/api_docs/simbody/latest/classSimTK_1_1MultibodyGraphMaker.html#details), I found the following two quotes:

and:

I was just wondering whether there is any bias regarding _which_ body to split and weld back together again using constraints to form a loop. I believe certain links like those based on primitive shapes will be easier to split than others that are,

[2016-10-05 13:40] ggould-tri commented on #3673
#1867 is definitely yet another correct and sensible way to solve this problem!  As long as one of them happens, I don't care much which one.

(as a sidenote, #1867 doesn't do anything to address the general difficulty of correlating components of an sdf to the members of input/output vectors of the system; that will definitely need to be addressed sooner or later, but maybe that is already in the

[2016-10-05 15:19] liangfok opened #3683 "Race Condition Between Generated C Language LCM Message Dependencies"
# Problem Definition

There are often dependencies between Drake's LCM messages. For example, [lcmt_qp_controller_input](https://github.com/RobotLocomotion/drake/blob/master/drake/lcmtypes/lcmt_qp_controller_input.lcm) depends on [lcmt_zmp_data](https://github.com/RobotLocomotion/drake/blob/master/drake/lcmtypes/lcmt_zmp_data.lcm). If the dependencies are not correctly specified, race conditions c

[2016-10-05 15:19] liangfok commented on #3683
@mwoehlke-kitware I'm going to assign this to you since I believe you are most familiar with how this C library is built, based on this commit: 6fcf875cc91308fa3b26549571c6c0c2eef43fe2

[2016-10-05 15:23] mposa opened #3684 "addpath_drake fails, needs a folder added to path"
In MATLAB, addpath_drake fails with the error message:

From @tkoolen , it seems to require that **drake-distro/build/install/matlab** be added to the path first.

[2016-10-05 15:26] david-german-tri commented on #3684
That is supposed to happen automatically, and if it doesn't you're supposed to get an informative error:

https://github.com/RobotLocomotion/drake/blob/master/drake/addpath_drake.m#L10

So, I think something else has gone wrong that is not apparent from your post.

[2016-10-05 15:28] jamiesnape commented on #3663
Debug or Release, Clang or GCC?

[2016-10-05 15:32] david-german-tri commented on #3663
Maybe gcc/debug, since we already have clang/release, clang/debug, and gcc/release in other configs?

[2016-10-05 15:33] jamiesnape commented on #3663
My thoughts exactly.

[2016-10-05 15:37] mwoehlke-kitware commented on #3683
After talking to @bradking, this should only affect ninja (or at least, not make); dependency scanning is *supposed* to account for it...

[2016-10-05 15:43] mposa commented on #3684
I see. That line wasn't being called because a previous version of drake didn't clean up it's path. Thanks.

[2016-10-05 15:43] #3684 closed

[2016-10-05 15:51] bradking commented on #3648
Okay, closing for now then.  We can re-open if needed in the future.

[2016-10-05 15:51] #3648 closed

[2016-10-05 16:16] jwnimmer-tri commented on #3663
Whatever you all decide is fine by me.

[2016-10-05 16:24] jamiesnape commented on #3663
Now running concurrently with cpplint on pull requests.

https://drake-jenkins.csail.mit.edu/job/experimental/compiler=gcc,label=linux_minimal,type=debug/

[2016-10-05 16:24] #3663 closed

[2016-10-05 16:29] sherm1 commented on #1867
There is a bias (actually a necessity) to avoid creating massless or inertialess terminal (leaf) bodies in the tree. So a massless body won't get chosen for a split. Otherwise, all bodies are equally easy to split; the slave body doesn't have to inherit any of the geometry, just half the mass properties. So a slave is actually a naked frame with mass properties attached; then that frame is welded

[2016-10-05 16:40] liangfok commented on #1867
I see. So another bias is how difficult it is to split the spatial inertia of a single body into two bodies. Is this trivial to do without specialized CAD software?

[2016-10-05 16:43] liangfok commented on #3683
I see. Can we add dependency scanning to `ninja`? I suppose disabling `ninja` is a non-starter?

[2016-10-05 17:02] sherm1 commented on #3673
For correlating sdf joints with their coordinates we should be able to (1) obtain a joint object from its sdf name, then (2) ask the joint for its coordinates. #1867 can provide part of that by defining the mapping between the named sdf joints and the multibody tree joints chosen to represent them. Decorating the output ports conveniently with that info remains to be resolved; there was lots of re

[2016-10-05 17:07] david-german-tri commented on #3663
Having lived with it for the past hour, I'm not actually sure running this concurrent with cpplint was a good idea.  The forced serialization is a noticeable bump in pre-merge CI latency.

[2016-10-05 17:08] jamiesnape commented on #3663
I think I agree.

[2016-10-05 17:21] sherm1 commented on #1867
Splitting the mass properties couldn't be easier! If the original body's mass properties were mass,com,inertia=[m,c,I], the master and slave bodies each get mass properties [m/2,c,I/2]. No CAD software needed! In cases where n slaves are required, the denominator is (n+1).

BTW, the reason this isn't more obvious is that we treat the inertia strangely by convention. The mass properties are actuall

[2016-10-05 17:27] liangfok commented on #1867
Oh wow, it's wonderful that `I` can be simply divided by two. What about the center of mass (`com`)? Why doesn't it change when a body is split in two? Intuitively, I would think that the new center of masses of each half-body, would be somewhere inside of each of the two half bodies.

[2016-10-05 17:42] jwnimmer-tri commented on #3598
My two very very rough design ideas:

(1) Can we share the same translator interface or base class or something, and have it offer either/or vector and abstract translations.  (The abstract could by default try to downcast to a vector and delegate to a vector translator.)

(2) Or, could we have LCM publisher and subscriber classes offer overloaded constructor (and dictionary support for) either ki

[2016-10-05 17:55] tkoolen commented on #3598
Should we first decide whether to also tackle cases such as https://github.com/RobotLocomotion/drake/issues/3360#issue-175312645?

Maybe we shouldn't try to do too much. On the other hand, it may help us come up with a better design. For example, to support cases such as https://github.com/RobotLocomotion/drake/issues/3360#issue-175312645, I think getting rid of `LcmAndVectorBaseTranslator` and si

[2016-10-05 18:00] jwnimmer-tri commented on #3598
It's worth settling on whether LcmFooSystem should be a single-ported system always, or sometimes can be multi-ported.  If single-ported, I think updating the Translator concept(s) to be what we need will be better in the long run, because it separates the concerns well IMO.  If multi-ported, we'll need to revisit the Translator concept.

My gut feeling so far is that the base system code's contri

[2016-10-05 18:06] sherm1 commented on #1867
See my comment above. None of the geometric mass moments change, just the mass (same as if we reduced the density by changing materials). The com is purely geometric (it is the first mass moment). A unit inertia (or gyration matrix) is the purely-geometric second mass moment. Unfortunately by convention we mass-scale it rather than separating the geometry from the mass as is done for com.

[2016-10-05 18:37] liangfok commented on #1867
I see. I was interpreting "geometry" to mean "visual geometry". Got it, thanks!

[2016-10-05 18:53] tkoolen commented on #3598
What is SpecificValue above? I think I still understood what you were trying to say, but just to make sure.

Hey, how's this: we could have `LcmSubscriberSystem` not do any translation, instead giving it an abstract-valued output port that just spits out the untranslated but decoded LCM message (e.g. an object of type `lcmt_driving_command_t`). Then it's up to the user to connect that port to a Sy

[2016-10-05 20:29] jwnimmer-tri commented on #3666
#3671 was the compromise for now.  We still have hidden visibility, just with less reliance on CMake.  We can remove even the `DRAKE_EXPORT` later if we desire.

[2016-10-05 20:29] jwnimmer-tri commented on #3679
Yes, that line should be removed.

[2016-10-05 20:36] jwnimmer-tri commented on #3642
As it turns out, the case in #3631 was the only case!  I am surprised!

[2016-10-05 20:36] #3642 closed

[2016-10-05 21:27] jwnimmer-tri commented on #3598
Ah, perhaps `Value<Specific>` would be better.  I meant some concrete value, that isn't a vector.

That is neat, but I'm not sure how the Publisher and Subscriber learn how to do that.  I am trying to keep knowledge of `lcmt_foo_t` out of those systems, so they don't need to be recompiled over and over again.  What I think that means is to keep the Translator idea, but that it should convert betwe

[2016-10-05 21:44] jamiesnape commented on #3618
Fixed by #3644.

[2016-10-05 21:44] #3618 closed

[2016-10-05 21:44] jamiesnape commented on #3341
Fixed by #3645.

[2016-10-05 21:44] #3341 closed

[2016-10-05 21:45] jamiesnape commented on #3331
Fixed by #3526.

[2016-10-05 21:45] #3331 closed

[2016-10-05 21:50] jamiesnape commented on #3330
Closing since Windows is no longer supported.

[2016-10-05 21:50] #3330 closed

[2016-10-05 21:51] jamiesnape commented on #2921
Still a problem due to the binaries in the sedumi repo.

[2016-10-05 22:03] tkoolen commented on #3598
(all comments below have analogues for `LcmPublisherSystem`)

I would template `LcmSubscriberSystem` on the LCM message type, but I understand from your comment above and from comments I saw on a previous pull request that you don't like that. I personally think not needing to have a `std::vector<uint8_t>` at an interface outweighs the added compilation time (which I think will be small).

But if

[2016-10-05 22:10] jamiesnape commented on #3212
Fixed by #3527.

[2016-10-05 22:10] #3212 closed

[2016-10-05 22:10] jamiesnape commented on #2339
Closing since Windows is no longer supported.

[2016-10-05 22:10] #2339 closed

[2016-10-05 22:11] jamiesnape commented on #2320
Closing since Windows is no longer supported.

[2016-10-05 22:11] #2320 closed

[2016-10-05 22:12] jamiesnape commented on #2483
Closing since Windows is no longer supported.

[2016-10-05 22:12] #2483 closed

[2016-10-05 22:12] jamiesnape commented on #2554
Closing since Windows is no longer supported.

[2016-10-05 22:12] #2554 closed

[2016-10-05 22:13] jamiesnape commented on #2817
Fixed in upcoming CMake 3.7.

[2016-10-06 03:16] liangfok commented on #2624
I just installed Drake on a clean Ubuntu 16.04 followed by ROS Kinetic and ran into this issue. I will thus re-open it. I believe the problem is Drake Visualizer requires `libvtk5-dev` to be installed whereas ROS Kinetic requires `libvtk6-dev`.

[2016-10-06 03:31] liangfok commented on #2624
I suspect `libvtk6-dev` is installed by ROS because ROS Kinetic requires PCL 1.7.x, which is provided by package `libpcl-dev`, which depends on `libvtk6-dev`.

http://www.ros.org/reps/rep-0003.html#kinetic-kame-may-2016-may-2021

[2016-10-06 03:33] liangfok commented on #2628
It might be better to first migrate to VTK6: https://github.com/RobotLocomotion/drake/issues/2624#issuecomment-251859089

[2016-10-06 05:15] chang-liang commented on #3535
What is the step of  building Drake with Gurobi included?
Could you please take some time to answer? I will appreciate a lot. @tkoolen

[2016-10-06 09:53] RussTedrake commented on #2624
fyi @patmarion

[2016-10-06 11:04] RussTedrake opened #3699 "move PIDController from framework/primitives to controllers"
@david-german-tri please execute if you support the idea?

related to #3698

[2016-10-06 11:38] patmarion commented on #2624
I think that the best option for right now is to have users of ubuntu 16 and ros Kinetic (who are required to apt-get install vtk6) compile vtk5 from source.  The director superbuild already supports this mode. In the cmake configure, just switch USE_SYSTEM_VTK to OFF (it defaults to ON).  When USE_SYSTEM_VTK is OFF, the director superbuild will clone and compile vtk5.

[2016-10-06 11:43] patmarion commented on #2624
To make this work more smoothly for users, we could submit a PR to director to update its superbuild system: instead of defaulting to USE_SYSTEM_VTK=ON, first check that vtk5 is actually installed, and if it isn't then default USE_SYSTEM_VTK=OFF.

[2016-10-06 12:39] tkoolen commented on #3535
Sorry about the response time. The easiest way is to install Gurobi as a Drake external (instead of separately).

In the `build` directory, run `ccmake .`. This will give you a menu where you can select the externals you want to download. Here you can toggle `WITH_GUROBI` to on, then press `c` to configure, then `g` to generate and quit. Then `make` again (there should be no need for a clean build

[2016-10-06 13:24] jamiesnape opened #3700 "MOSEK license on CI has expired"
Experimental builds are currently open source while we investigate.

FYI @david-german-tri @RussTedrake.

[2016-10-06 13:30] liangfok commented on #3598
How about let's keep the `Translator` idea since it nicely encapsulates all of LCM and instead generalize it's inputs and outputs. Currently, the translator works with one `BasicVector<double>` on the `System 2.0` side, and one LCM message on the LCM side. How about let's generalize it to work with a set of named `BasicVector<double>` and `AbstractValue` types on the `System 2.0` side and a set of

[2016-10-06 13:47] jwnimmer-tri commented on #3598
I have what I think will be a good, unifying proposal.  I'll need some time today to prototype it though.

[2016-10-06 13:54] david-german-tri commented on #3699
@naveenoid is already on it in #3682

[2016-10-06 14:24] david-german-tri commented on #3286
Windows is unsupported now.

[2016-10-06 14:24] #3286 closed

[2016-10-06 14:25] david-german-tri commented on #3156
Windows is no longer supported.

[2016-10-06 14:25] #3156 closed

[2016-10-06 14:25] david-german-tri commented on #2869
Windows is no longer supported.

[2016-10-06 14:25] #2869 closed

[2016-10-06 14:25] david-german-tri commented on #2625
Windows is no longer supported.

[2016-10-06 14:25] #2625 closed

[2016-10-06 14:25] david-german-tri commented on #2569
Windows is no longer supported.

[2016-10-06 14:25] #2569 closed

[2016-10-06 14:25] david-german-tri commented on #2501
Windows is no longer supported. :tada:

[2016-10-06 14:25] #2501 closed

[2016-10-06 14:26] david-german-tri commented on #2535
Windows is no longer supported.

[2016-10-06 14:26] #2535 closed

[2016-10-06 14:26] david-german-tri commented on #1747
Windows is no longer supported.

[2016-10-06 14:26] david-german-tri commented on #1747
However, that actually doesn't resolve this issue!

[2016-10-06 14:26] david-german-tri commented on #1723
Windows is no longer supported.

[2016-10-06 14:26] #1723 closed

[2016-10-06 14:26] david-german-tri commented on #1458
Windows is no longer supported.

[2016-10-06 14:26] #1458 closed

[2016-10-06 14:27] david-german-tri commented on #1786
Windows is no longer supported.

[2016-10-06 14:27] #1786 closed

[2016-10-06 14:27] david-german-tri commented on #1963
Windows is no longer supported.

[2016-10-06 14:27] #1963 closed

[2016-10-06 14:27] david-german-tri commented on #1989
Windows is no longer supported.

[2016-10-06 14:27] #1989 closed

[2016-10-06 14:27] david-german-tri commented on #2046
Windows is no longer supported.

[2016-10-06 14:27] #2046 closed

[2016-10-06 14:27] david-german-tri commented on #2204
Windows is no longer supported.

[2016-10-06 14:27] #2204 closed

[2016-10-06 14:27] david-german-tri commented on #2352
Windows is no longer supported.

[2016-10-06 14:27] #2352 closed

[2016-10-06 14:27] nkoenig commented on #3543
Gazebo 7 now supports loading OBJ files. A debian release will be available today or tomorrow.

[2016-10-06 14:27] david-german-tri commented on #2498
Windows is no longer supported.

[2016-10-06 14:27] #2498 closed

[2016-10-06 14:28] david-german-tri commented on #3568
Closing, since Windows is no longer supported.

[2016-10-06 14:28] #3568 closed

[2016-10-06 14:43] jwnimmer-tri commented on #3598
Having worked it through a bit, I think having LcmSubscriberSystem offer an abstract-valued port with the decoded message object, and LcmPublisherSystem offer an abstract-valued port with the encoded message object, would meet all needs well.  The byte vector can stay internal to the LcmFooSystem.  Consumers who want the message mapped onto a single vector can start from the message object itself,

[2016-10-06 14:47] liangfok commented on #3598
Just one port? I guess the original description of this issue only requries a single port, but maybe we should generalize to support multi-ported systems given #3360?

[2016-10-06 14:48] tkoolen commented on #3598
Sounds great to me. @liangfok, this supports that scenario quite well, I'll make a sketch and post it in a second.

[2016-10-06 14:51] liangfok commented on #3598
Oops, I guess I used the word "port" too loosely. I meant should we generalize the LCM systems to support producing and consuming more than one LCM message on more than one channel?

[2016-10-06 14:53] tkoolen commented on #3598
I don't think that's necessary. If you want to listen to more than one channel, just create multiple `LcmSubscriberSystem`s, one for each channel. Same thing for publishing. Or is there some downside to that that I'm not seeing?

[2016-10-06 14:56] david-german-tri commented on #3537
Closing as will-not-fix; let's just make sure to add new contributors to the org.

[2016-10-06 15:00] david-german-tri commented on #2754
Remaining TODO here is to make sure that CI errors, instead of falling back to turning a package off, when finding the package fails.  (This would be good for developer builds too!)

May be facilitated by cleaning up package name inconsistencies.

[2016-10-06 15:00] david-german-tri commented on #2486
Might be done; @mwoehlke-kitware to confirm.

[2016-10-06 15:00] liangfok commented on #3598
I see, now that I read #3360 more closely, I see that you only need to combine data from multiple System 2.0 ports into a single LCM message. Let's table the idea of supporting multiple LCM messages within a single `LCM{Publisher, Subscriber}System` until a clear need arises.

[2016-10-06 15:01] jwnimmer-tri commented on #3598
https://github.com/jwnimmer-tri/drake/tree/lcm-abstract-message-port is very much not close to a design proposal yet, but it's as far as I could type before my meeting now.  The idea is to have the Systems remain non-templated, but a type-erased SerializerInterface special for the different message types.

[2016-10-06 15:01] jwnimmer-tri commented on #3598
... and I think I can easily add enough sugar for it to be brief and trivial to use correctly.

[2016-10-06 15:14] david-german-tri commented on #3059
With Windows gone, we're only going to back off hidden-visibility, not expand it.  Closing.

[2016-10-06 15:14] #3059 closed

[2016-10-06 15:15] david-german-tri commented on #2959
Closing since Windows is no longer supported.

[2016-10-06 15:15] #2959 closed

[2016-10-06 15:15] david-german-tri commented on #1991
Windows is no longer supported.

[2016-10-06 15:15] #1991 closed

[2016-10-06 15:16] david-german-tri commented on #3305
Closing, since we are only going to be removing export goop now that Windows is no longer supported.

[2016-10-06 15:16] #3305 closed

[2016-10-06 15:18] david-german-tri commented on #1859
This is in large part done, and the remaining work is covered in #2482.

[2016-10-06 15:18] #1859 closed

[2016-10-06 15:18] david-german-tri commented on #2482
See #1859 for some useful discussion and history.

[2016-10-06 15:24] nkoenig opened #3701 "Intent to replace internal OBJ loader"
Drake has a custom OBJ loader in `DrakeShapes::Mesh`. We can replace this loader with [tinyobjloader](https://github.com/syoyo/tinyobjloader).

The tinyobjloader was recently tested in Gazebo [here](https://bitbucket.org/osrf/gazebo/pull-requests/2454). The plan is to do something similar with Drake.

tinyobjloader would be placed in a subfolder under `externals`, and `DrakeShapes::Mesh` would mak

[2016-10-06 15:27] nkoenig commented on #2782
This is a duplicate of #3701

[2016-10-06 15:44] sherm1 commented on #3701
Thanks, Nate! Tinyobjloader looks awesome. I believe the right way to include this dependency in Drake would be as a new git submodule (those do end up under `externals`). I would much prefer this to a homebrew obj reader, but I don't actually know our current level of satisfaction with that. @liangfok, @SeanCurtis-TRI, any thoughts on this?

[2016-10-06 15:47] liangfok commented on #3701
:+1: for making `tinyobjloader` a git submodule of `Drake`.

[2016-10-06 15:51] billhoffman commented on #1998
This has now been done.  Drake will use the new one when a 3.7 cmake is used on drake.

[2016-10-06 15:51] #1998 closed

[2016-10-06 15:57] sherm1 commented on #3543
This is great news, Nate -- thanks!

[2016-10-06 16:25] billhoffman commented on #2817
Leaving this open, when we move to 3.7 for CI we can do the switch, it will mean changes to the ctest scripts.

[2016-10-06 16:26] billhoffman commented on #2268
This is a duplicate of #2817

[2016-10-06 16:26] #2268 closed

[2016-10-06 16:29] billhoffman commented on #1994
CMake automatically adds the test target into makefiles it generates.  So, this will just be a documentation thing.  Seems like we can close this now.

[2016-10-06 16:31] jamiesnape commented on #1994
This dates back to the hard coded Makefile, not a CMake generated one:
https://github.com/RobotLocomotion/drake/blob/master/drake/Makefile

[2016-10-06 16:50] liangfok opened #3703 "CMake Option -DUSE_SYTEM_VTK=OFF Causes Build to Fail"
Per https://github.com/RobotLocomotion/drake/issues/2624#issuecomment-251937730, I modified `drake-distro/CMakeLists.txt` to not use the system's VTK (I'm doing this for testing purposes -- no intent on getting it merged into master):

https://github.com/liangfok/drake/commit/d810ee4e780562ee4cdc155c744879e569558f48

Unfortunately, with this modification, Drake's build fails with the following err

[2016-10-06 16:56] chang-liang commented on #3535
Thank you, Twan! Since Drake is under construction, does a clean build of Drake will be affected for now and in the short future? @tkoolen

[2016-10-06 17:02] patmarion commented on #3703
Can you post the output of these two grep commands:

    grep USE_SYSTEM_VTK /home/liang/dev/drake-distro-1/build/externals/director/CMakeCache.txt

    grep VTK_DIR /home/liang/dev/drake-distro-1/build/externals/director/src/director-build/CMakeCache.txt

And can you confirm that vtk-5.10 was indeed compiled and that this directory exists:

    /home/liang/dev/drake-distro-1/build/install/lib/vtk

[2016-10-06 17:05] liangfok commented on #3703
Here are the requested outputs:

[code]

I think you just found the problem! vtk-5.10 isn't being downloaded and compiled.

[2016-10-06 17:10] patmarion commented on #3703
Can you please edit this file:

    /home/liang/dev/drake-distro-1/externals/director/src/vtk/DRCFilters/CMakeLists.txt

And add this cmake code after line 37:

    if(NOT EXISTS "${VTK_ENCODESTRING_EXE}")
      message(SEND_ERROR "The required vtkEncodeString executable was not found.\nThis may indicate an error in your VTK install or configuration.")
    endif()

Then run make in build/externals

[2016-10-06 17:12] patmarion commented on #3703
So why is USE_SYSTEM_VTK set to ON even after your modification?  I'll leave that one up to you to debug.  Let me know!

[2016-10-06 17:15] liangfok commented on #3703
Here's the output after modifying `drake-distro/externals/director/src/vtk/DRCFilters/CMakeLists.txt` line 37:

[code]

Looks like it does catch the error at configure time.

Good point about why `USE_SYSTEM_VTK` is still being set to `ON` even after my modification. I'll look into it. Thanks again.

[2016-10-06 17:20] patmarion commented on #3703
Great.  Thanks for testing this, by the way!  It's probably been quite some time since this mode was actually tested, since most users apt-get install vtk5 or homebrew install vtk5, but at one point in history this mode did work correct, so hopefully it's still good.

[2016-10-06 17:47] tkoolen commented on #3535
You're very welcome. I'm not sure what you mean, but if any additional issues arise in the future, feel free to open a new issue.

[2016-10-06 17:47] #3535 closed

[2016-10-06 17:55] chang-liang commented on #3535
You updated your web page [http://drake.mit.edu/index.html](url), adding "important note((October, 2016))" which says Drake is currently undergoing a major renovation. My question is whether there will be a problem if I do a clean build now.

[2016-10-06 18:37] tkoolen commented on #3535
Oh no, not at all. *You* decide when you want to pull in the latest changes from master. Unless you do a `git pull`, you'll be compiling the exact same code every time (including the externals, which point to fixed commit SHAs), also if you do a clean build. BTW, I was saying it should **not** be necessary to do a clean build.

Staying up to date by following http://drake.mit.edu/from_source.html#

[2016-10-06 19:20] mwoehlke-kitware commented on #2486
Heh... hadn't looked in a while, now that I'm reading the old comments...

...so I think it's "Executive Decision" time :smile:.

(Note: LCM types are now [RobotLocomotion/lcmtypes](https://github.com/RobotLocomotion/lcmtypes), so that's been sorted.)

[2016-10-06 19:20] #2486 closed

[2016-10-06 19:43] liangfok commented on #3703
No problem. It turns out my earlier modification had a typo, which I fixed in https://github.com/liangfok/drake/commit/0a0bd842ed9f666f31b4231aee619bf508d30611. With this fix, the `USE_SYSTEM_VTK` is now being correctly passed into Director's `CMakeCache.txt`:

[code]

Unfortunately, the build fails when compiling VTK:

[code]

Here is the version of VTK that it's trying to compile:

[code]

Here

[2016-10-06 20:02] SeanCurtis-TRI commented on #3701
I chatted with @sherm1.  While the principle of us not having our own obj reader, there are a couple of issues.  We *do* already have one.  It's tied into drake.  So, switching for the sake of switching is going to have to address that change in interface.  Is there a pain point this addresses beyond us not writing our own?  It may make sense to defer this until we know have a problem with our own

[2016-10-06 20:04] patmarion commented on #3703
Perhaps try this https://github.com/UV-CDAT/uvcdat/issues/983#issuecomment-71814770

Directory is grabbing someone's patched version of vtk 5.10 (which fixes the Windows build), so perhaps we'll need to also make a patch to fix the Ubuntu 16 build.  I can help debug more when I have an Ubuntu 16 machine handy, which I might have next week.

[2016-10-06 20:06] jwnimmer-tri commented on #3701
My expectation is that `class Mesh` APIs would remain identical, but would now be backed by a well-tested implementation, instead of the barely-good-enough-and-untested #2782 like we have now.

[2016-10-06 20:08] #2782 closed

[2016-10-06 20:10] SeanCurtis-TRI commented on #3701
Agreed -- that means integration with tinyobjreader would essentially be implementing a mapping between the library's representation and our own.

And, other than the principle, do we have a practical need to do so?  Or, more particularly, there's no better use of resources at this point?  Obviously, if the answer to either of those is yes, then it's a slam dunk.  But otherwise, it's not so clear

[2016-10-06 20:12] jamiesnape commented on #3700
Renewed and installed on CI images.

[2016-10-06 20:12] #3700 closed

[2016-10-06 20:14] liangfok commented on #3701
I'm currently not blocked on this and am not aware of anyone being blocked on it. I'll thus assign a low priority to this issue.

[2016-10-06 20:16] jwnimmer-tri commented on #3701
As the automotive side begins simulating additional perception sensors and larger, more interesting worlds, it's likely helpful if our foundations are solid.  Not worrying about `.obj` loading bugs seems helpful in that light.

Well, in point of fact, we are somewhat constrained in how we can apply OSRF staffing.  This one is a good fit.  They recently added `.obj` support to Gazebo for us, so are

[2016-10-06 20:17] jwnimmer-tri commented on #3701
(To be clear, it was at my instruction that @nkoenig is looking into this; I asked him to file this issue to raise awareness / facilitate discussion.)

[2016-10-06 20:18] SeanCurtis-TRI commented on #3701
Suits me.  Having expressed some thoughts, I happily acquiesce to whatever the need is.

[2016-10-06 20:21] jwnimmer-tri commented on #3701
Great.

Good that the "don't change the APIs (in the first PR)" got articulated for whoever grabs this issue.

[2016-10-06 20:44] liangfok commented on #3703
Thanks! That fixed work. I was able to build Director on Ubuntu 16.04 with ROS Kinetic installed. I will next try to build Drake.

[2016-10-06 20:48] patmarion commented on #3703
great.  Also you will need to test the python runtime.  Normally director tries to set the python path to guarantee that it imports the correct version of vtk with "import vtk", so hopefully it works, but it might only be tuned for homebrew vtk.  To test director's ability to import vtk correctly, run this command:

    build/install/bin/directorPython -m director.consoleapp

[2016-10-06 20:51] RussTedrake opened #3709 "octomapWrapper compile error on mac clang"
just hit this one for the first time (on master)

[code]

anybody seen that before?

[2016-10-06 20:54] jamiesnape opened #3710 "kuka_demo fails during open source builds on OS X"
[code]

[2016-10-06 21:01] jamiesnape opened #3711 "examples/Atlas/runAtlasDynamics fails during open source builds on OS X"
[code]

[2016-10-06 21:12] jamiesnape commented on #3709
Xcode on El Capitan? Debug or Release?

[2016-10-06 21:21] david-german-tri commented on #3710
Er...have we just been failing to buildcop the open-source build up to this point?  Looks like it's been yellow since September 14.

[2016-10-06 21:23] jamiesnape commented on #3710
No idea. I just noticed as I was looking for collateral damage from the MOSEK outage.

[2016-10-06 21:25] jwnimmer-tri commented on #3710
Oops.  I noticed this a day or two ago, and assumed it was some known regression that was being ignored by buildcop.  Sorry for not speaking up!

[2016-10-06 21:29] RussTedrake commented on #3711
Yikes.  The warning is clear enough; no idea why it would be related to an open-source build vs something else.

[2016-10-06 22:21] sherm1 commented on #3701
I like @jwnimmer-tri's arguments for plowing ahead!

[2016-10-06 23:54] tkoolen commented on #3658
FYI: all quantities in `KinematicsCache` have up to this point been expressed in / differentiated in world frame, i.e. the frame associated with the `RigidBodyTree::world()`, by convention. If we're going to use different frames, this issue should receive a higher priority. @SeanCurtis-TRI, until this issue has been resolved, make sure you document the frame in which the contact wrenches are expre

[2016-10-07 00:47] liangfok commented on #3703
I was able to build Drake but ran into the following problem while trying to start `drake-visualizer`:

[code]

The file exists, but the dynamic linker can't find it:

[code]

Here are the `libvtkPython*` libraries that the dynamic linker can find:

[code]

I manually add the directory that contains `libvtkPythonCore.so.5.10`:
[code]

Unfortunately, `drake-visualizer` now segfaults when it starts:

[2016-10-07 01:04] patmarion commented on #3703
It's importing the wrong vtk python module.  It's getting your system vtk python (version 7), which has conflicting library dependencies and crashes.  See line 8 in your gdb output.

It needs to get the vtk python module (version 5.10) that was compiled and locally installed during the superbuild.  It should just be a matter of setting the PYTHONPATH environment variable to resolve the issue.  Set

[2016-10-07 09:12] liangfok commented on #3598
@jwnimmer-tri I was looking again at your WIP branch here: https://github.com/jwnimmer-tri/drake/commit/62c8e5fcbaecdb793b002147e6e039d05c111d4f. Is it true that in your new design, `Lcm{Publisher, Subscriber}System` will only use a single `AbstractValue` port? Does this mean we're going to need Mux / DeMux systems that combine multiple ports (e.g., joint position, joint velocity, joint force/torq

[2016-10-07 09:41] liangfok opened #3713 "Mysterious CI Failure - Undefined Reference to llvm_gcda_*"
# The Error

[code]
# Example Build

https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-clang-nightly-coverage/251/
# Prognosis

Could [avl](https://github.com/RobotLocomotion/avl/tree/06bffc46a4df4094b6a3c98f3dd191a54795fb96) be linking against the wrong shared libraries?

[2016-10-07 09:42] tkoolen commented on #3128
Related: https://github.com/RobotLocomotion/drake/pull/3712.

[2016-10-07 10:23] liangfok commented on #3703
Oops! I didn't see your post about `directorPython` until now. Here are the possible locations of the VTK Python module 5.10 on my system:

[code]
I modified my `PYTHONPATH` environment variable to point to the version in `vtk-build`:

[code]

Now when I try to run `directorPython`, it's failing to find `vtkCommonPython`:

[code]
Searching for `vtkCommonPython`, I found a `.so` file but no directo

[2016-10-07 10:28] tkoolen commented on #3598
Keep in mind that the *LCM message type* will be the underlying value of the `AbstractValue` port. At some point, in any design, several signals *have to* be merged into this one type. The new design just obviates the need to create an additional intermediate non-LCM message type that the signals get merged into.

For #3360 (on the publisher side), there would be a `System`, say `RobotStateEncoder

[2016-10-07 10:39] liangfok commented on #3598
OK sounds good. Since `RobotStateEncoder` creates an LCM message, I'm now wondering whether once #3643 is merged whether `RobotStateEncoder` should simply publish the message directly using a `DrakeLcmInterface*` rather than encapsulate the LCM message within an `AbstractValue` that is then sent to an `LcmPublisherSystem`.

[2016-10-07 12:11] patmarion commented on #3703
Ok, so to run it you should do these paths:

    LD_LIBRARY_PATH=/home/liang/dev/drake-distro-1/build/install/lib/vtk-5.10:$LD_LIBRARY_PATH
    PYTHONPATH=/home/liang/dev/drake-distro-1/build/externals/director/src/vtk-build/Wrapping/Python:/home/liang/dev/drake-distro-1/build/externals/director/src/vtk-build/bin:$PYTHONPATH

So we're setting `LD_LIBRARY_PATH` so that the dynamic loader can find t

[2016-10-07 12:13] patmarion commented on #3703
By the way, it looks like the main issue regarding the python modules is that Director's superbuild installs vtk, but an extra install command is required to install vtk's python modules.  In my previous comment, the paths I gave you to include in `PYTHONPATH` point inside the vtk build dir, and not the vtk install dir.  But that should be ok for now.

[2016-10-07 12:24] liangfok commented on #3703
:tada: It worked! Thanks!! I'm now able to run Drake Visualizer with ROS Kinect on Ubuntu 16.04. Before closing this issue, I'd like to codify all of the manual tweaks described above.

[2016-10-07 13:35] jwnimmer-tri commented on #3598
@liangfok One good reason to have a `Value<robot_state_t>` output port is that it lets you use a transmission channel other than `LcmPublisherSystem`.  `LcmPublisherSystem` is only a good idea for realtime-locked "simulations" with hardware (or a visualizer) in the loop.  When you're actually in a closed-loop simulation (ignores wallclock), you might want to simulate the message transmission itsel

[2016-10-07 13:44] liangfok commented on #3598
OK I buy that argument. Thanks.

I remain a little apprehensive of using an LCM message as the underlying object stored in the `AbstractValue` that `RobotStateEncoder` outputs. I feel doing that will overly couple Drake to LCM. In other words, that design will prevent people who select not to include LCM (like the minimal build) from using `RobotStateEncoder`. Can we compromise by having `RobotSta

[2016-10-07 14:02] tkoolen commented on #3598
In my opinion, from a usability standpoint, it's just annoying to force people to write the `RobotState` object that looks exactly like the LCM message but without the LCM includes, when all they want to do is publish `robot_state_t`.

Nothing is stopping people from replacing both the `RobotStateEncoder` and `LcmPublisherSystem` blocks with something else for a test without LCM.

[2016-10-07 14:07] jamiesnape commented on #3344
Though we are not actually using it yet. Is there a follow up ticket or should this stay open until we do?

[2016-10-07 14:34] jamiesnape commented on #3713
AVL does not link to any shared libraries other than X11 normally.

[2016-10-07 14:59] mwoehlke-kitware commented on #3426
That's just the thing; that's *not* the case.

Take a simple example (sneak peak of some coming changes):

[code]

...but wait! Did you want to force the C library to be `STATIC`? `SHARED`? (`MODULE`?) What if you want to compile additional sources into the library? Do you want Python bindings always, if Python is available, or never? Where did you want to install the headers? Do you believe in `L

[2016-10-07 15:17] mwoehlke-kitware commented on #3426
Oops, no, I take that back... the include directory is also variable. (The directory to which the bindings are generated is variable.) The above is as simplified as is reasonably possible, at least for LCM. (As previously stated, a project like Drake might "enforce" conventions that would allow further abstraction, but LCM itself does not, and *should* not.)

[2016-10-07 15:17] tkoolen commented on #3426
Alright, good arguments. I thought there not that many things would be variable within the context of Drake. I think the example CMake code is actually quite nice like this. And I suppose if all you need is C++ it'll actually be pretty short. (I was wondering where `c_headers` and `cpp_headers` come from though.)

[2016-10-07 15:34] mwoehlke-kitware commented on #3426
*Within Drake*, there are not. That's why I proposed that possibly *Drake* (not LCM itself) could abstract some (more) of this away. (In particular, I'd like a `drake_install_libraries` that would have all the exports and library destinations. Ideally, all libraries, not just LCM libraries, would use this.)

Those are just the variable names that receive the lists of those files that `lcm_wrap_typ

[2016-10-07 15:42] tkoolen commented on #3426
Ah OK, I think you just meant to use `c_install_headers` and `cpp_install_headers` in the example above.

[2016-10-07 15:48] mwoehlke-kitware commented on #3426
Well... sort-of :smile:. In [lcm](https://github.com/lcm-proj/lcm)/[test/types/CMakeLists.txt](https://github.com/lcm-proj/lcm/blob/debbad5392e13ae4bda0475de40dc0efb1743656/test/types/CMakeLists.txt), which I copied for the above example, they actually *aren't* installed, so are "correct" (again, keeping in mind this is all just convention) in that context. But yes, I "should" have added `_install

[2016-10-07 17:09] jwnimmer-tri commented on #3598
@liangfok We should enable people who want LCM to use it as easily as possible, which this issue / PR should help with.  Generalizing code for different transports is a yak-shave, and best done with more specific goals in mind.

[2016-10-07 17:11] chang-liang opened #3717 "Matlab complains Snopt not found when running runAtlasWalking.m"
When I built Drake with `WITH_SNOPT` toggling to `ON`, I am faced  with this after running `make`

[code]

When I ran  runAtlasWalking.m in the Drake examples, Matlab complains like this:

`Snopt not found
...
`

Should I download a Snopt by myself? Thanks!

PS:
I use:
Ubuntu 14.04 LTS ;
Matlab R2016a;
gcc 4.9;
g++ 4.9;

[2016-10-07 17:16] liangfok commented on #3598
Yes, I agree. Note that in my previous post I didn't mention any alternative transports.

[2016-10-07 17:21] chang-liang commented on #3369
@dengxianga Hello, did you have Snopt built during Drake building or just download separately by yourself?

[2016-10-07 17:21] jwnimmer-tri commented on #3598
Good point.

I guess also I don't see the purpose of a general-purpose System that "encodes" robot state into an LCM-agnostic representation.  If there's reusable code worth carving out, we can do that with C++ techniques, and not System blocks.  System blocks are a very expensive abstraction, to be used only where systems concerns come into play.  For software reuse, C++ should be the first tool,

[2016-10-07 17:29] liangfok commented on #3598
OK. We'll use C++ approaches to reuse `RobotStateEncoder` when or if the need arises.

[2016-10-07 18:07] #3449 closed

[2016-10-07 18:14] david-german-tri commented on #3344
Oh, we aren't?  Oops.

[2016-10-07 18:25] sammy-tri opened #3720 "Inconsistent constraint assertions"
In solvers/constraint.h, some constraints (namely QuadraticConstraint and LinearConstraint) have different assertions/checks in their constructors and their update functions.  We should modify these to have only one check which is called from anywhere that needs to make sure the constraint is valid.

[2016-10-07 18:38] mwoehlke-kitware commented on #3344
Not yet. I am still working on changes on the LCM side (which will eventually become changes to RL/lcmtypes) with the desire/intent to fix all of #3397, #3683 and this at once, rather than needing 2-3 PR's for incremental updates. (Also, there are going to be non-trivial code changes to switch over, since the package name changed.)

[2016-10-07 20:15] #3710 closed

[2016-10-07 21:03] #3546 closed

[2016-10-07 23:49] david-german-tri commented on #3546
:tada: very nice!  thanks again!

[2016-10-08 00:04] liangfok commented on #3546
You're welcome!

[2016-10-08 11:30] RussTedrake commented on #3329
gloptipoly is matlab only and provides limited coverage.  i am planning to remove it.

[2016-10-08 11:30] #3329 closed

[2016-10-08 11:31] RussTedrake commented on #3328
bertini is only used for a small number of tests and is not needed immediately for the c++ development.  this one MAY be useful again soon, but for now I will remove it from the superbuild to simplify our life.

[2016-10-08 11:31] #3328 closed

[2016-10-08 16:30] RussTedrake opened #3729 "remove bertini and gloptipoly from drake_ci and prereq instructions"
following on #3727 .
in addition to removing the WITH_ args from ci, we should remove any requirements from the source installation instructions.  i believe mpich is only there due to bertini.  are there others?

[2016-10-09 00:28] liangfok commented on #2074
# Benchmarks 1

## System
* MacBookPro11,5 (mid 2015)
* Intel(R) Core(TM) i7-4980HQ CPU @ 2.80GHz
* 16 GB 1600 MHz DDR
* Ubuntu 14.04.1, clang-3.7.1, ninja

## Commands

[code]

### SHA

3af99f19790b2341cc4901fa871cacd6d14c7634

### Results

[code]

It took about 18.5 wall clock minutes, 1.63 CPU hours, and 3.2GB of RAM.

[2016-10-09 01:54] liangfok commented on #3703
# Summary of How to Build Drake on Ubuntu 16.04 with ROS Kinect

[Drake](http://drake.mit.edu) currently uses the following version of [Director](https://github.com/RobotLocomotion/director), which is from [April 21, 2016](https://github.com/RobotLocomotion/director/pull/256):

* https://github.com/RobotLocomotion/director/tree/cfc7702bf92

Since Ubuntu 16.04 uses VTK 6 and Director requires VTK 5

[2016-10-09 10:16] RussTedrake commented on #3703
Also relevant #3647:  After looking around I was thinking that I'd try using VTK as the graphing/plotting tool even inside Drake since we already have the vtk dependency.  Obviously, I would like to use the most up to date vtk possible.

[2016-10-09 12:16] patmarion commented on #3703
To answer 1., yes Drake should be updated to track director/master.  Normally, I manually bump drake's sha1 to director/master whenever needed.  Right now the divergence between the April 2016 version and master is pretty small.  I've tested recently and it's good to go now.

Yes, I agree with what you have described for 2, I think that would be a good move to resolve this quickly.  All pull reque

[2016-10-09 12:19] patmarion commented on #3703
Also you said "Ubuntu 16.04 uses VTK 6", but I think that vtk5 is still available to install.  I thought the problem was that the newer version of ROS required vtk6, which conflicted with the vtk5 system install?

[2016-10-09 12:47] patmarion commented on #2628
I compiled and ran drake-visualizer with vtk7 on mac.  It only required a few minor updates, but it's enough that director will not be able to support vtk vtk5 and vtk7, so I will not update director until all users are ready.

I'd like to minimize the number of users that have to compile vtk from source.  If there's a vtk6 package for ubuntu 14, then it might be best to go to vtk6 next.  Homebrew

[2016-10-09 13:06] liangfok commented on #3703
Good point. I updated my original post above to reflect this fact. Thanks!

[2016-10-09 13:09] liangfok commented on #3703
@patmarion says:

Yes you're right. I updated my post above to reflect this idea.

[2016-10-09 14:35] patmarion opened #3732 "Need API for getting contact points that belong to a collision group"
This feature request is for development of the pydrake ik interface.  It is needed to initialize the quasistatic constraint with the correct subset of foot contact points.

 In the former matlab system, we had this call to get the heel and toe contacts:

[code]

In c++ classes RigidBody and RigidBodyTree, it looks like a RigidBody can return all its contact points, but there isn't api to request a

[2016-10-09 16:00] RussTedrake opened #3733 "Is it (currently) possible to use the second argument of the Simulator constructor?"
Attempting
[code]
results in
[code]

I also don't see it covered by any of the tests in the analysis/test/ directory.

[2016-10-09 16:21] RussTedrake commented on #3178
+@ggould-tri and +@Lucy-tri — this is relevant to our discussion the other day.

[2016-10-09 16:34] RussTedrake opened #3734 "Get the state (or context) and output trajectories out of the Simulator"
I'm sure this is already on your radar..  but I'd love to discuss (and understand your estimated timeline).

In the matlab implementation, i found it very useful to define a [Trajectory class](http://drake.mit.edu/doxygen_matlab/class_trajectory.html) which could be evaluated at any valid time.  For continuous signals, the particular integration scheme used by the simulator could determine what ty

[2016-10-09 17:20] RussTedrake commented on #2628
I agree that using the system vtk is preferrable.  it looks like i have vtk7 (w/ qt4, but could have chosen qt5) on my mac via homebrew.

[2016-10-09 20:36] hongkai-dai opened #3736 "gurobi_solver does not parse multiple quadratic costs correctly"
`gurobi_solver` cannot parse multiple quadratic costs `sum_i 0.5*x'*Q_i*x+b_i'*x` on the same variable `x`.

@naveenoid , are you also working on this? Would you like me working on it?

[2016-10-09 21:09] samkhal opened #3737 "Question on alternatingMIQP vs humaniods2014"
I've been playing around with the footstep planner for Atlas, and read through the relevant paper (http://groups.csail.mit.edu/robotics-center/public_papers/Deits14a.pdf). Why do runAtlasWalking and runAtlasWalkingPlanning use alternatingMIQP, but runAtlasWalkingPlanning uses humanoids2014 for footstep planning?

From a cursory look it seems that alternatingMIQP uses a QP to solve for positions an

[2016-10-09 21:16] samkhal commented on #3717
The lab cannot distribute the full version of snopt. You can use the free restricted version of snopt using my instructions: https://github.com/RobotLocomotion/drake/issues/3369#issuecomment-245497973.

[2016-10-09 22:09] sherm1 commented on #3732
@SeanCurtis-TRI is working on this part of the code now -- this will be very helpful as a real use case.

[2016-10-09 22:11] sherm1 commented on #3733
@edrumwri, can you take a look at this? Sounds like it needs a bug fix and a test case.

[2016-10-09 22:49] rdeits commented on #3737
We found the alternatingMIQP to be faster when dealing with unconstrained (flat ground) walking, which was the case in most of the DRC. So we used that solver as the primary footstep planner when walking with the real Atlas, and therefore it's the default for the Atlas walking tests.

The major tradeoff is that the alternating optimizations sacrifice any notion of global optimality, especially whe

[2016-10-09 23:03] samkhal commented on #3737
Thanks! That does clear things up. One last thing, though; as I mentioned above alternatingMIQP seems to have difficulty with turning, at least for me; for instance, running runAtlasFootstepPlanning (with alternatingMIQP) with the same navgoal as runAtlasWalkingPlanning (with a pi/2 yaw goal) results in a plan of footsteps that don't turn as you would expect. Do you know why this would be?

[2016-10-09 23:29] avalenzu commented on #3732
@SeanCurtis-TRI, Note that this is the "other type of collision group"
mentioned in the discussion of collision cliques.

On Sun, Oct 9, 2016, 6:09 PM Michael Sherman <notifications@github.com>
wrote:

[2016-10-10 02:26] naveenoid commented on #3736
Lets discuss f2f and then decide if you want to fix it instead.

[2016-10-10 03:01] liangfok commented on #3647
For reference, here are the various plotting backends used by ROS's [rqt_plot](http://wiki.ros.org/rqt_plot):

![screenshot from 2016-10-09 22 59 50](https://cloud.githubusercontent.com/assets/1388098/19226068/2df163a6-8e74-11e6-9926-cf4191b5a716.png)

[2016-10-10 10:31] RussTedrake commented on #3647
following those links, i also found:
http://mathgl.sourceforge.net/doc_en/Main.html (GPL/LGPL)

but i'm leaning towards just using VTK directly.  http://www.vtk.org/Wiki/VTK/Examples/Cxx/Plotting/LinePlot

[2016-10-10 11:39] #3703 closed

[2016-10-10 13:57] SeanCurtis-TRI commented on #3732
@patmarion What's the time frame for you on this?

[2016-10-10 14:05] patmarion commented on #3732
Unless sometime else is interested, I am going to modify the c++ interface myself so I can get the contact points I need and continue making progress on the python side.  I don't mind if this is throwaway code, as long as there is eventually an equivalent api in place.

[2016-10-10 14:05] jamiesnape commented on #3729
https://github.com/RobotLocomotion/drake-ci/commit/eb35f2d6d195cab0618f359c077da59650e7c5c2 cleans up CI. I will look at the prereqs documentation now. Definitely `MPICH` can go.

[2016-10-10 14:09] SeanCurtis-TRI commented on #3732
I'd say go for it.  I'm currently working on that kind of functionality through the System abstraction.  You put yours in place and when I'm done on my side, I'll stitch them together.

[2016-10-10 14:14] liangfok commented on #3615
@jamiesnape, do you know if Debian package `ros-indigo-xacro` is installed on the Drake+ROS CI images?

[2016-10-10 14:15] jamiesnape commented on #3615
@liangfok I will check.

[2016-10-10 14:20] jamiesnape commented on #3615
My notes say that we ran the following per #2369:
[code]
I will shell into an EC2 instance and look for `xacro`.

[2016-10-10 14:31] liangfok opened #3739 "Broken CI - linux-clang-nightly-coverage - Undefined LLVM references When Running avl Unit Test"
# Problem Definition

[linux-clang-nightly-coverage](https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-clang-nightly-coverage/) has been broken since October 6, 2016. The error relates to LLVM undefined symbols when trying to run one of `avl`'s unit tests:

[code]

# Prognosis

Here's what a successful test looks like (it was taken from [linux-clang-ninja-nightly-release](htt

[2016-10-10 14:49] liangfok commented on #3615
Thanks. If it is not installed, can you install it using the following command?

[code]

[2016-10-10 15:15] rdeits commented on #3737
That's interesting. Can you show me exactly how you set the navgoal, and what the resulting plan was? The easiest way to draw the plan is to call `plan.draw_2d()`, as in line 33 of `runAtlasFootstepPlanning`.

For example, I set the navgoal to pi/2 yaw with:

[code]

And got this plan:

![screen shot 2016-10-10 at 11 11 51 am](https://cloud.githubusercontent.com/assets/591886/19240889/5d63cce4-8ed

[2016-10-10 15:20] SeanCurtis-TRI opened #3741 "Explicit template instantiation"
It's probably worth revisiting the Drake style guide for handling [explicit template instantiation](http://drake.mit.edu/cxx_inl.html#cxx-inl-files).  The current guidelines balance two issues:
- Efficient compilation
- General application

The two-file approach emphasizes efficient compilation by putting implementation and explicit instantiation in the .cc file.  It assumes the ability to exhaust

[2016-10-10 15:31] liangfok commented on #3741
The use of `extern` template instantiations sounds good to me. I believe the benefits are clear. Is the main drawback the fact that it uses a non-standard compiler feature? Are there any other drawbacks?

[2016-10-10 15:42] SeanCurtis-TRI commented on #3741
My understanding is that it is a standard compiler feature.

https://gcc.gnu.org/onlinedocs/gcc/Template-Instantiation.html

With particular emphasis on the line:

`This [using extern with template instantiation] syntax is defined in the C++ 2011 standard, but has been supported by G++ and other compilers since well before 2011.`

[2016-10-10 15:49] liangfok commented on #3741
Oh nice. The fact that it's a standard is great. Are there _any_ drawbacks then?

[2016-10-10 16:05] jamiesnape commented on #3615
It was not installed. I updated the image.

[2016-10-10 16:08] SeanCurtis-TRI commented on #3741
At first glance, it appears not.  So, I figured I'd throw it up to the brain trust to see if *someone* could poke a hole in it.  But in the absence of any counter-arguments, I'm sold (as is implied by my original advocacy.)

[2016-10-10 16:08] jwnimmer-tri commented on #3741
Both of these statements are incorrect.

[2016-10-10 16:14] SeanCurtis-TRI commented on #3741
@jwnimmer-tri Can you elaborate?  I've re-read the spec and agree that the statement about including both files to be incorrect (the -inl.h file includes the declaration header).  But I still don't see how the compiler can avoid compiling an explicit instantiation when it has no specific knowledge that an instantiation exists in another object file.

[2016-10-10 16:15] liangfok commented on #3615
Thanks!! I will close this issue.

[2016-10-10 16:15] #3615 closed

[2016-10-10 16:20] jamiesnape commented on #3739
I just disabled them on Clang coverage builds. Probably some strange issue because the Fortran code is compiled with GCC and everything else Clang. We still get coverage on GCC builds.

[2016-10-10 16:23] jwnimmer-tri commented on #3741
With the three-file approach, its code that uses standard values for `T` (such as `double` will do exactly what we want).  I think we all agree on that?

The possible hazard with the three-file approach is that code that needs to include the `-inl.h` file in order to use `T = MyWeirdThing` may redundantly compile specializations for standard values of `T`, such as if it wants both `T = double` and

[2016-10-10 16:47] liangfok opened #3743 "System 2.0 PID Controller Needs to Support a Vector of Gains"
System 2.0's PID controller currently assumes the same gain can be applied to every control signal. This will not work when the control signals are applied to very different systems like the steering angle and throttle speed of a car that require different gains.

Addressing this issue will require generalizing `gain.h`, and `pid_controller.h`, among others.

[2016-10-10 16:52] liangfok commented on #3741
Thanks. I agree leaving `T` open-ended is dangerous.

[2016-10-10 16:54] liangfok commented on #3739
Thanks! I'll close this issue now.

[2016-10-10 16:54] #3739 closed

[2016-10-10 16:55] samkhal commented on #3737
My navgoal should be fine; I'm running the same parameters, but one solver turns and the other doesn't. My current install is relatively outdated, so if these planners changed since last February that might have something to do with it (last common ancestor: https://github.com/RobotLocomotion/drake/commit/26a9a6e5531e2fb46fbfb249f2e6b730f0143bad).

My code:
[code]

With `method = @footstepPlanner.

[2016-10-10 17:08] SeanCurtis-TRI commented on #3741
Thanks for your comments.  Generally, I agree.  In retrospect the only real value over our current state of the use of extern is that the end user would only have to consider a single header file (rather than one of two depending on their intent.)  And the value of that scales with how much we would want to leave the door open for arbitrary instantiation.

[2016-10-10 17:23] sherm1 commented on #3741
I don't see why leaving T open ended is bad -- I think it allows for creative use of the Drake "glass box" property, which is a unique and valuable Drake feature. Why do you feel it should be closed, @jwnimmer-tri? In any case we aren't yet in a position where we can enumerate all the necessary T's, and I don't think it is 100% certain that we would want to pre-instantiate all of the more obscure

[2016-10-10 17:26] patmarion commented on #3675
Yes, this would be great and I would love to have this.

I think the approach outlines in 2. sounds good, but also what about an interface that is similar to 1., but in addition to the contraints the user passes a list of cost objectives?  Then some of the commonly used objectives could be provided by drake and not left up to the user code.  Just like we have a WorldPositionConstraint, there could

[2016-10-10 17:38] sherm1 commented on #3743
@liangfok, you can have as many PID controllers as you want in a Diagram and each has its own gains. Why isn't that a good enough solution?

[2016-10-10 17:38] hongkai-dai commented on #3675
That is a good idea. I like it! Thanks @patmarion

A side note, WorldPositionConstraint might not be a good example. The `Eval` function of WorldPositionConstraint just computes the position of the end effector, in the world frame. I think you want some constraint that returns the **deviation** from the desired pose, like WorldGazeDirConstraint, which computes the angle between the actual gaze dir

[2016-10-10 17:43] Lucy-tri commented on #3178
+@sammy-tri This discusses GraspIt!

[2016-10-10 17:46] liangfok commented on #3743
Having multiple PID systems will require that I have mux / demux systems to "break apart" and "re-combine" signals that would otherwise be a vector (I think). For example, suppose I have three actuators in a `RigidBodyTree`:

1. front left wheel
2. front right wheel
3. steering

The states of these are represented by a single vector in `RigidBodyPlant`. I will need to separate these signals into s

[2016-10-10 18:35] samkhal commented on #3737
It looks like SNOPT might be the issue; since I don't have access to the full version of snopt, I'm using the student version (7.5) as I describe here: https://github.com/RobotLocomotion/drake/issues/3369#issuecomment-245497973.

It doesn't raise any errors or warning, and doesn't fall back to fmincon with the code above. So perhaps it's to do with differences between the full and student versions

[2016-10-10 19:16] rdeits commented on #3737
Okay, interesting. Thank you for figuring that out! I don't think we'll have cycles to fix the student snopt issue, since the long-term plan is to move the footstep planner out of Matlab entirely and into the new Drake C++ optimization framework. But I'm glad to know that fmincon is able to at least give a reasonable answer with the derivative checks turned off. It sounds like turning off those de

[2016-10-10 20:08] Tilstandsrommet opened #3749 "Tried to install drake for the first time, addpath_drake fails"
`addpath_drake` produces the following:

I tried to add "matlab" to MATLAB search path, but it did not make a difference.
![skjermbilde 2016-10-10 kl 22 04 58](https://cloud.githubusercontent.com/assets/18221829/19249416/b91a9ecc-8f35-11e6-9035-009422f7dc17.png)

[2016-10-10 20:37] edrumwri opened #3750 "default DoCalcNextUpdateTime()"
@david-german-tri noted that the default method in System should not require re-implementation as is currently performed in "drake/systems/analysis/test/my_spring_mass_system.h". When the method is not implemented as is done specifically, the simulator test produces the following output:

Running main() from gtest_main.cc
[==========] Running 5 tests from 1 test case.
[----------] Global test envi

[2016-10-10 20:43] RussTedrake commented on #3749
the build outputs path it is referring to is

drake-distro/build/install/matlab

[2016-10-10 20:50] RussTedrake commented on #3476
it was in the makefile that got nuked in the doc directory.
[code]

[2016-10-10 21:00] david-german-tri opened #3751 "Improve syntactic sugar for continuous state allocation"
Requests from @RussTedrake on #3735:

- [ ] Provide a more concise way to access the continuous state variables as a vector

- [ ] Provide a default implementation of `LeafSystem<T>::AllocateContinuousState` that reserves a vector of `z` of a declared size.

- [ ] Rename `ContinuouousState<T>::get_state` to `get_vector`

[2016-10-10 21:02] RussTedrake commented on #3751
yes, exactly.  thanks!

[2016-10-10 21:10] liangfok opened #3752 "Mysterious CI Failure: RPC failed; curl 56 SSLRead() return error -36"
# The Error

[code]

# Example Build Log

* https://drake-jenkins.csail.mit.edu/view/Continuous/job/mac-clang-ninja-continuous-release/649/

# Prognosis

Network hiccup?

[2016-10-10 21:22] Tilstandsrommet commented on #3749
Thanks. It works!

[2016-10-10 21:22] #3749 closed

[2016-10-10 21:46] david-german-tri commented on #3733
I'm guessing that  `std::move(init)` in the call site will fix it.  (working-from-airport-during-nominal-vacation right now; otherwise, I'd try it myself.)  Certainly agree there should be test coverage.

[2016-10-10 22:08] jwnimmer-tri commented on #3741
Untested code is broken code.  Any combination of `MyClass<T>` crossed with `T = SomeT` has the possibility of exposing defects, even though both `MyClass` and `SomeT` are entirely correct on their own.  If we are going to allow it, we either need to (1) ask users to write tests for `MyClass<SomeT>` when they decide to use it, or (2) make all of our code fail-fast when a `SomeT` value behaves inco

[2016-10-10 22:10] #3729 closed

[2016-10-10 22:54] RussTedrake commented on #3751
also overload operator[] so that we can have, e.g.
[code]
or
[code]

[2016-10-11 00:06] sherm1 commented on #3741
@jwnimmer-tri, I don't agree that we have any obligation to test for every possible template parameter any more than Eigen does. By not locking down their scalar types we were able to make creative use of Eigen in ways they likely did not anticipate. However, you clearly feel much more strongly about this than I do -- I think we should do it your way!

But ... I'm not sure exactly what that means

[2016-10-11 00:20] jwnimmer-tri commented on #3741
I think Eigen has way more tests for interesting `ScalarType` values than we do.  If we achieve that level of testing for things that are not `double`, then perhaps we _should_ open the door for more numeric-like `T`s also.  It will take a lot of work to get there!

I am not proposing any additional kinds of defects.

I'm fine if someone wants to write up this rule.  (I personally don't care yet;

[2016-10-11 00:35] sherm1 commented on #3734
I like the TrajectorySystem concept but it wasn't on our radar. For Simulator-generated trajectories, how do you envision the trajectory getting loaded in? Does it just accumulate the trajectory in memory and then get reused immediately? Or should this require serialization so that the trajectory can be reloaded at a later date?

[2016-10-11 00:48] RussTedrake commented on #3734
serialization would be great for the future, but there will already be use cases if it is simply in memory.  the motivation for my request was so that I could make a plot of the simulation results.  For another immediate example, trajectory optimization might output a trajectory object, which would be used immediately in simulation.