[2016-10-11 03:24] edrumwri commented on #3734
Could you comment further, Russ? Which plotting/processing tools will be
used-  MATLAB, Octave, matplotlib, some novel C++ tool? What kind of
trajectory data- kinematics, state, controls?

On Mon, Oct 10, 2016 at 5:48 PM, Russ Tedrake <notifications@github.com>
wrote:

[2016-10-11 04:07] sherm1 commented on #3743
It would be great to see these parameters delivered on input or parameter ports like [Simulink's PID controller](https://www.mathworks.com/help/simulink/slref/pidcontroller.html). I'm not as excited about feeding these into the constructor.

[2016-10-11 10:44] RussTedrake commented on #3734
see #3647

[2016-10-11 10:52] liangfok commented on #3752
Since I'm fairly sure this is due to a transient network failure, I'm going to close this issue for now.

[2016-10-11 10:52] #3752 closed

[2016-10-11 11:08] liangfok commented on #3741
Yes, it all comes down to a matter of control. The more control we have over how our software is used, the more confident we can be that our software is "correct". A key challenge is how to maintain high levels of control without stifling creativity.

I wonder whether the fact that Drake is open source has any implications on our calculations for how much control we want to assert. Since anyone ca

[2016-10-11 11:22] jwnimmer-tri opened #3757 "Document code_style_guide for (non-)use of exceptions"
We should document in our `code_style_guide.rst` our policy on the (non-)use of exceptions.

I believe the current undocumented rule is that:
(1) any code can `throw`;
(2) unit tests can `EXPECT_THROW`, but only if the exception is documented in the API;
(3) non-test code cannot catch.

In any case, we should write some specific rule and its rationale for posterity.

See also #3504.

[2016-10-11 11:23] RussTedrake opened #3758 "use variable names instead of long text to access elements of the context"
Following the discussion with @david-german-tri and @sherm1 in #3735, and to go along with #3751, I'd like to discuss whether we should make the following substitutions.  @sherm1 's comment:

[code]
It seems awkward to invent long names for all of these when the math is so concise. But I'm OK with the long names 😢.

I was on the fence yesterday, but having slept on it, I'm now in favor of the chan

[2016-10-11 13:49] SeanCurtis-TRI commented on #3741
There are some interesting points here.  @jwnimmer-tri's points vis a vis the principle of correctness certainly appeals to me -- there's a certain "prevent the user from using my code to hurt themselves while blaming me" aspect that I generally subscribe to.  But it does represent the ideal.

And @liangfok makes an excellent point that this is open-source code.  We are essentially passing out rop

[2016-10-11 13:51] RussTedrake commented on #3758
a counter-argument (against myself) is that the most readable code for simple systems might prefer to make local variable references like this:
[code]
which is cleaner to read because it doesn’t have the `context.x(0)` sprinkled everywhere.

[2016-10-11 13:55] jwnimmer-tri commented on #3741
That is a great write-up, and it sounds like we are heading toward the same page.

However, I don't quite follow this part:

Would doing `[header files that contain code are] accompanied by extern template declarations for any pre-instantiated types` make it better?  Or even adding the extern statements for the types we support, instead of relying on doxygen for that?  Or did you mean something el

[2016-10-11 14:09] david-german-tri commented on #3743
Feeding them into the constructor seems like a fine interim solution to me.  Parameters are coming relatively soon, but I wouldn't want to block this on them.

[2016-10-11 14:20] SeanCurtis-TRI commented on #3741
Something like that.  The idea is that if I'm using code that exposes a templated class/function to me, I assume that as long as things compile with the template parameter of my choice, I'm good.  I believe, that is the very mindset you're trying to avoid.  But for me, it is implicit in the presence of the template.

It may well be that our final resort is documentation.  We tell the user that the

[2016-10-11 14:23] jwnimmer-tri commented on #3741
Hm, maybe not so much on the same page.  My opening bid would be to put all of the code in the `.cc` file (with perhaps still `extern template` in the header as documentation).

[2016-10-11 14:40] david-german-tri commented on #3758
It's already pretty common in our code to assign the `xc` pointer to a local variable, especially when the state vector has semantics.  Example: https://github.com/RobotLocomotion/drake/blob/master/drake/systems/plants/spring_mass_system/spring_mass_system.cc#L155

As a reader of code, even if `continuous_state` isn't a totally complete description, it gives me a lot more to go on than `xc` does.

[2016-10-11 14:57] liangfok opened #3761 "Flip PidControlledSystem's Equations"
As mentioned [here](https://reviewable.io/reviews/RobotLocomotion/drake/3742#-KTjSASk1OOTM-QXkHkW), `PidControlledSystem` currently implements:

[code]

For increased readability and to eliminate the need for negation systems, let's modify it to be:

[code]

`PidControlledSystem` inherited its equations from `KukaDemo` here: https://github.com/RobotLocomotion/drake/blob/96090268a98d317e2725b3894be

[2016-10-11 15:17] SeanCurtis-TRI commented on #3741
That would offer compiler enforcement of them not creating novel instantiations.  And that's the ultimate question; do we want to completely close the door.  If so, I think your bid is the best way to do so.  If we crack the door open, things get slippery.

[2016-10-11 15:23] #1994 closed

[2016-10-11 15:50] edrumwri commented on #3647
Any reason why no one is mentioning the obvious replacement for MATLAB plotting, matplotlib (Python)? It's callable from C++, in theory at least.

[2016-10-11 15:56] liangfok commented on #3647
Yeah, ROS's `rqt_plot` has "MatPlot" as one of its options, which is based on MatPlotLib. In the GUI snapshot above, it states that MatPlot "needs most CPU". Not sure why, but it's something to consider. Maybe for a quick fix we can use VTK's plotting capabilities to avoid needing to add another dependency, and then longer term create a framework for allowing a number of plotting back ends to be u

[2016-10-11 16:07] edrumwri commented on #3647
Ah, yes, I see!  My experience is also that it's a little CPU intensive, but that it presents the closest plotting interface to MATLAB's.

[2016-10-11 17:32] mwoehlke-kitware commented on #3752
Happened again, also OS X:
https://drake-jenkins.csail.mit.edu/job/mac-clang-ninja-continuous-release/657

[2016-10-11 17:39] RussTedrake commented on #3741
Sorry to be only casually following the conversation, but one use case which we were concerned about in RigidBodyTree was the fact that the dimension of the state vector was not known until runtime (e.g. you dynamically load a robot from urdf).  In that case, the AutoDiff type is not known until runtime.  Allowing a user to compile something with a maximum size that matched their robot could make

[2016-10-11 17:55] sherm1 commented on #3758
Despite my whining quoted above, I am OK with the long names and like the pattern of using them to populate mathematically-named local references. With the long names I think we should keep the initial `get_` also. And we definitely need to make it obvious when we ask for mutable access to any state because in our system that has the serious and potentially very expensive consequence of invalidati

[2016-10-11 18:15] sherm1 commented on #3741
As I understand @tkoolen's approach it is to "chunk" the derivatives into fixed-size pieces. There will presumably be a diminishing return on ever-larger AutoDiff sizes, so that perhaps a pair of `AutoDiff<64>`s might run almost as fast as a single `AutoDiff<128>`. If that's right then we could pre-instantiate an assortment of AutoDiff sizes up to the point where it doesn't matter any more, and wo

[2016-10-11 18:19] liangfok commented on #3741
I believe the idea of "chunking" is described in #2619.

[2016-10-11 18:21] Lucy-tri commented on #3734
I’ll be working on a Trajectory parent class in C++. Both Trajectory Optimization and Inverse Kinematics are going to use the new Trajectory class for their output.

[2016-10-11 18:49] david-german-tri opened #3765 "There should always be state objects, even if they're empty."
Right now, we have a bunch of nullptr checks on System2 state that aren't really necessary; if we were guaranteed an empty state vector, the behavior they check would gracefully no-op.  For one example, see discussion on #3695.

[2016-10-11 19:10] ggould-tri opened #3766 "Implement by-name accessors to rigid-body state members"
In #3702 @siyuanfeng-tri recently wrote the following code:
[code]
...
[code]
I recently wrote similar code in my Schunk simulator branch.

This seems like a common use case and should be part of the RBS/RBT/RBP APIs.

[2016-10-11 19:26] RussTedrake commented on #3758
I agree.  For my purposes, embracing the local naming solves the problem, and nullifies any requests to remove the `get_` .  I still like all of the suggestions in #3751.  Will close this one.

[2016-10-11 19:26] #3758 closed

[2016-10-11 19:26] liangfok commented on #3766
One problem with a simple string is there may be multiple instances of the same model in a `RigidBodyTree`. To resolve this, either the string needs to be a 2-tuple or the string needs to include the unique model instance ID.

[2016-10-11 19:46] sherm1 commented on #3734
Awesome! Can I please kibitz on the spec? I'd like to make sure it can work for simulator trajectories too.

[2016-10-11 19:57] ggould-tri commented on #3766
... or the method needs to return a list of matching elements, or it needs to return the one of that name if unique and null otherwise, or multiple instances need to have distinct name prefixes set at load-time.  There are any number of ways to solve that.

Given that the common case is a single load of a single SDF/URDF with internally unique names, we should have some accessor which makes that c

[2016-10-11 20:04] liangfok commented on #3766
How about adding the following?

[code]

[2016-10-11 20:28] ggould-tri commented on #3766
From a user point of view, the user just has a string that they entered in the sdf and probably wants to be able to index with that.  For a single-model SDF, here's how that looks in your proposal:
[code]
I think that's pretty good.  The `GetWithReallyLongName` methods should return constref so we don't construct/destruct for every single lookup.

Is there a reason not to further factor the defere

[2016-10-11 20:34] liangfok commented on #3766
I suppose it would be OK to modify `RigidBodyTree` to own the various index tables, which are then accessed via the following methods:

[code]

The reason I didn't consider this before is because the `ModelInstanceId` table is currently not stored in the `RigidBodyTree`. It's owned by the application that uses the tree.

I'd like get @sherm1's opinion on this since it involves adding methods to `R

[2016-10-11 20:58] tkoolen commented on #3741
One important detail: the chunking approach I used allows specification of a fixed **maximum** size of the derivative vector.

Example: if you want the Jacobian of a function `f` that takes a length-17 vector as an input and you use a chunk size of 10, then `f` will be called with `AutoDiffScalar<FixedMaximumSizeVectorUpTo<10>>` inputs twice; the first chunk argument will have a runtime length of

[2016-10-11 21:30] #3757 closed

[2016-10-11 22:50] RussTedrake opened #3772 "simplify build menu"
OK.  Here is my proposal.  To be discussed.

We should work to simplify the root CMakeLists.txt to have only 4 WITH_\* options:
DISABLE_MATLAB
WITH_SNOPT
WITH_GUROBI
WITH_MOSEK

These four require licenses, and there is not a simple pattern IMO among the core drake developers of who has which license.  So I think they are distinct options, unfortunately.

With one exception (SeDuMi), all other ext

[2016-10-11 23:05] soonho-tri commented on #3594
This should be fixed now. If not, please contact me.

[2016-10-11 23:05] #3594 closed

[2016-10-11 23:06] soonho-tri commented on #3772
Should be good now. I merged PR https://github.com/RobotLocomotion/drake/pull/3692 today.

[2016-10-11 23:38] sherm1 commented on #3766
@ggould-tri, @liangfok: I prefer that we not attempt to add this functionality to RBTree, but rather encapsulate it in a separate class that can be customized for the use case you have in mind. RBTree has to be very general and deal with multi-dof joints, joints whose coordinates don't make sense individually (because of quaternions, for example) and lots of other things that haven't been implemen

[2016-10-12 00:53] RussTedrake opened #3773 "support an open-source SDP solver in c++"
One candidate is https://github.com/cvxgrp/scs .

[2016-10-12 01:06] sherm1 commented on #3773
That looks great! MIT licensed too.

[2016-10-12 01:58] liangfok commented on #3766
@sherm1, thanks for the advice! I see your point about how things can get complicated with multi-DOF joints and quaternion representations.

@ggould-tri, I now think the application will have to maintain ownership of the various index tables. We can provide helper methods that create the tables. These helper methods can make use of `RigidBodyTree`'s existing API.

[2016-10-12 09:26] RussTedrake commented on #3772
let me be even more ruthless.  i think MESHCONVERTERS, AVL, XFOIL, and SIGNALSCOPE should be removed from the build.  They are all independent tools (all but signalscope do get called by drake matlab code when they are available).  Somebody who wants those features can still get the tools manually, and we will lose coverage on a few aerodynamics-related tests in CI, but in all cases we should be a

[2016-10-12 09:47] liangfok commented on #3647
Should the plotting tool be "loosely coupled" with the simulation in terms of only working with published LCM messages? The alternative would be to "tightly couple" the plotting tool by implementing it as a System 2.0 system that can be wired into a Diagram and directly fed the `Context` containing the information to be plotted.

[2016-10-12 10:23] RussTedrake commented on #3647
We already have the "loosely coupled" version that works on LCM types:  https://github.com/openhumanoids/signal-scope .  lcm-spy also has recently improved its plotting functionality.

[2016-10-12 10:52] liangfok commented on #3647
Aha! Now I better understand the need for https://github.com/RobotLocomotion/drake/issues/3734. I assume, then, that a `Trajectory` object will be provided to the plotting tool, which then displays the trajectory contained within that object?

[2016-10-12 12:34] patmarion commented on #3772
I'm fine with having extra tools like signal-scope removed.

I actually like all the WITH_* options, but I don't feel that strongly one way or the other.

oh-distro currently builds drake as an external dependency.  It does this by building drake/drake.  It does not invoke the drake superbuild.  Some of us in lab discussed yesterday whether oh-distro should take advantage of the drake superbuild (

[2016-10-12 13:02] liangfok commented on #3743
I plan to work on this issue after #3742 is merged.

[2016-10-12 13:09] jamiesnape commented on #3773
SCS sounds good. We would probably need to try to work with them on their build system.

[2016-10-12 13:13] liangfok opened #3775 "Mysterious CI Failure - Undefined function 'hold' for input arguments of type 'char'."
# The Problem

Example 1:

[code]

Example 2:

[code]

# Example Logs

* https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-gcc-ninja-nightly-matlab-debug/70/

# Prognosis

MATLAB toolbox license issue?

[2016-10-12 13:17] liangfok opened #3776 "Mysterious CI Failure - Undefined function or variable 'newplot'."
# The Problem

[code]

# Example Logs

* https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-gcc-ninja-nightly-matlab-debug/70/

# Prognosis

MATLAB toolbox license issue?

[2016-10-12 13:20] liangfok opened #3777 "Mysterious CI Failure - Undefined function 'parseparams' for input arguments of type 'cell'."
# The Problem

Example 1:

[code]

Example 2:

[code]

Example 3:

[code]

# Example Logs

* https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-gcc-ninja-nightly-matlab-debug/70/

# Prognosis

MATLAB toolbox license issue?

[2016-10-12 13:22] ggould-tri commented on #3766
I like @sherm1 's suggestion: if RBT can be a purely algorithmic entity devoid of frills, and can be interacted with from outside of the System via a wrapper class with things like naming and unique index semantics.  If we're building a separate helper class with the convenience accessors, that class can also own all of the lookup tables.

[2016-10-12 13:44] liangfok opened #3778 "Unable to Tell Which Optimizer Was Used → Difficult to Debug Problems"
# Problem Definition

I often encounter a problem where a particular unit test works in one configuration but fails in another. See, for example:
- Works: https://drake-cdash.csail.mit.edu/testDetails.php?test=3517551&build=145349
- Fails: https://drake-cdash.csail.mit.edu/testDetails.php?test=3516356&build=145327

From looking at the output, I can't tell _why_ the failure occurred. Given the conf

[2016-10-12 13:49] liangfok commented on #3711
This issue continues to result in nightly CI failures:

* https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/mac-clang-ninja-nightly-matlab-open-source/
* https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/mac-clang-nightly-matlab-open-source/

[2016-10-12 13:50] liangfok commented on #3778
FTR, I'm pretty sure the above failure is tracked by #3711.

[2016-10-12 13:51] liangfok commented on #3778
@ggould-tri I'm going to assign this issue to you because I believe you're familiar with the optimizer selection process.

[2016-10-12 13:54] liangfok commented on #3766
Suggested name of wrapper: `RigidBodyTreeWithModelsContainingOnlyOneDOFJoints`

[2016-10-12 13:55] #3699 closed

[2016-10-12 13:56] ggould-tri commented on #3766
...aaaand we're done here.

Closing this for now since I don't think this bug corresponds to concrete upcoming work.  At least until I start seeing rule-of-three violations in my PR reviews.

[2016-10-12 13:56] #3766 closed

[2016-10-12 14:12] sammy-tri commented on #3778
I believe MathematicalProgram::GetSolverResult() will return the name of the solver which was used.  This isn't going to percolate all of the way through MATLAB up to the CDash output, but it may be a start...

[2016-10-12 14:13] jamiesnape commented on #3772
I would __remove__ the following options at least:

Current Required Dependencies:
* WITH_EIGEN
* WITH_GOOGLETEST
* WITH_GFLAGS

Collision Detection and Dependencies:
* WITH_BULLET
* WITH_CCD
* WITH_FCL (upcoming)
* WITH_OCTOMAP

LCM:
* WITH_LCM
* WITH_BOT_CORE_LCMTYPES

Logging:
* WITH_SPDLOG

Solvers:
* WITH_DREAL
* WITH_IPOPT
* WITH_NLOPT

I would __merge__:

* DISABLE_MATLAB, WITH_SPOTLESS, an

[2016-10-12 14:17] jamiesnape commented on #3711
I will look into it.

[2016-10-12 14:18] jamiesnape commented on #3777
MATLAB license server problem.

[2016-10-12 14:18] #3777 closed

[2016-10-12 14:18] jamiesnape commented on #3776
MATLAB license server problem.

[2016-10-12 14:18] #3776 closed

[2016-10-12 14:18] jamiesnape commented on #3775
MATLAB license server problem.

[2016-10-12 14:18] #3775 closed

[2016-10-12 14:23] david-german-tri commented on #3777
@liangfok You're welcome to scribe these to an issue if you feel so moved, but you should also feel free not to, in the cases where you recognize an unresolvable root cause (e.g. license server flakiness).

[2016-10-12 14:23] patmarion commented on #3772
Does this mean the list of required dependencies will include almost everything that is currently optional?

Food for thought:

I worked on a project that had lots of options.  Then we simplified and got rid of many options.  Years later, we had reason to build a subset of our codebase for iOS and Android.  We added back the options.

Will someone ever want to compile core drake libraries on a sma

[2016-10-12 14:24] jamiesnape commented on #3772
I would not make collision detection, lcm, solvers, logging optional.

[2016-10-12 14:28] david-german-tri commented on #3364
Fixed in #3706.

[2016-10-12 14:28] #3364 closed

[2016-10-12 14:29] david-german-tri commented on #3324
Fixed in #3469.

[2016-10-12 14:29] #3324 closed

[2016-10-12 14:30] david-german-tri commented on #3038
This has been done in LeafSystem (over several PRs).

[2016-10-12 14:30] #3038 closed

[2016-10-12 14:30] #2626 closed

[2016-10-12 14:32] david-german-tri commented on #2068
We've continued to make gradual progress on this - longest presubmit test is now 3m 38s - so I'm going to close.  https://drake-cdash.csail.mit.edu/viewTest.php?buildid=145280

[2016-10-12 14:32] #2068 closed

[2016-10-12 14:33] liangfok commented on #3777
OK. I'm recording these errors as issues so we can maintain a history to get a sense of whether the problem is worth fixing.

[2016-10-12 14:37] jamiesnape commented on #3777
Maybe consolidate them into a single issue, but it is not that it is not worth fixing, more that it is basically impossible to fix. A license server is the only option for MATLAB. We tried every single other option, there, and some network disruption is inevitable in the cloud. MathWorks or FlexNet would have to solve the problem of dealing better with that.

[2016-10-12 14:43] liangfok commented on #3777
I see. OK. I'll consolidate these into a single issue. Is the same license server being used for all of the various licenses? In the errors linked to above, MATLAB starts, meaning it got a license, but some other license failed. I'm having difficulty discerning which license acquisition failed.

Also, is it possible to modify these unit tests to declare which licenses it requires so the unit tests

[2016-10-12 14:43] Lucy-tri commented on #3734
@sherm1 of course. All input welcome. Maybe I'll make a proposal for the API and then all can discuss.

[2016-10-12 15:14] chang-liang commented on #3717
Problem solved! Thank you! @samkhal

[2016-10-12 15:35] patmarion commented on #3772
Perhaps this could be a separate topic, but I'll toss in one more consideration...

Independent of `WITH_FOO` options, some projects make available `USE_SYSTEM_FOO`.  For example, I want to build with bullet features, but I want to provide my own compatible version of bullet.  It enables your library to integrate into a larger ecosystem.

I'm not suggesting that as a near-term priority, but perhap

[2016-10-12 15:48] jamiesnape commented on #3772
@patmarion see #3186.

[2016-10-12 16:54] mwoehlke-kitware commented on #3752
https://drake-jenkins.csail.mit.edu/job/mac-clang-ninja-continuous-debug/674
https://drake-jenkins.csail.mit.edu/job/mac-clang-ninja-continuous-release/666

...does seem to be an OS X (MacStadium?) issues...

[2016-10-12 16:58] edrumwri commented on #3765
This also would seem to fix the issue where I had to create a discrete state vector for simulator_test.cc (Lines 116-119) in order to do discrete updates for systems with zero-dimensional discrete states.

[2016-10-12 17:06] chang-liang opened #3782 "Errors compaint in MATLAB when running example runAtlasRunning.m"
Hello! when I run runAtlasRunning.m in Drake examples, from the Drake visualizer, I can see Atlas falls down after running for one step. Bellow are what MATLAB complained:

[code]

Until now Atlas completely falls down and falls "through" the ground and only shanks and feet can be seen. And then even shanks and feet disappeared with MATLAB complained again like this,

[code]

Could anyone tell me

[2016-10-12 17:12] edrumwri commented on #3646
Funny- we were independently looking for a solution in CLion for this problem this morning. I think the simplest answer is a CLion plugin for Eigen inspection. I could invest some time in this if folks have not already moved on.

[2016-10-12 17:14] edrumwri commented on #3733
Yes- will handle it.

[2016-10-12 17:26] liangfok commented on #3258
@sherm1, since I believe this is fundamentally a dynamics modelling issue, I'm going to add you as an assignee. Feel free to un-assign yourself or delegate.

[2016-10-12 17:28] tkoolen commented on #3646
That would be great if it's not too much work!

[2016-10-12 17:31] mwoehlke-kitware commented on #3772
I would be concerned about breakage if two different versions of some package are being built.

As noted, #3186 adds these.

I think we may want to revisit how we build Drake. There are at least three options:

- What we are doing now: the primary repository is *always* a superbuild. This is slightly more convenient for end users, but is the worst option for other projects trying to consume Drake.

[2016-10-12 17:41] liangfok commented on #3752
How about let's modify the submodule URLs for public repositories to use `http://` instead of `https://`? Wouldn't that eliminate the `SSLRead()` error?

[2016-10-12 17:47] jamiesnape commented on #3752
[code]

[2016-10-12 17:48] liangfok commented on #3752
Bummer.

[2016-10-12 17:49] liangfok commented on #3752
Would switching to SSH access make a difference?

[2016-10-12 17:52] jwnimmer-tri commented on #3752
The only reasonable solutions are (1) more automatic retries, or (2) find a hosting solution that sucks less.

[2016-10-12 17:54] liangfok commented on #3752
Maybe try `get-retry`?
https://commondatastorage.googleapis.com/chrome-infra-docs/flat/depot_tools/docs/html/git-retry.html

[2016-10-12 18:01] sherm1 commented on #3258
@edrumwri will have an error-controlled integrator up soon; we can try this simulation using that to see if this is just a stability problem. However, if it is more than that then this system is probably not the right place to start debugging.

[2016-10-12 18:06] liangfok commented on #3258
Thanks. I'll add @edrumwri to the list of assignees. I'm currently porting the Drake-only version of this demo (`car_sim_lcm`) to System 2.0, which will allow us to test the new integrator.

[2016-10-12 18:55] RussTedrake commented on #3772
Thanks for all the comments.  The fact that you are having problems with some externals is the reason to avoid them being optional.  We need to resolve any and all problems like that, and are skirting the issue by letting people simply disable them.

I like the merging of options choice.  Will keep collecting inputs, but we should aim to make some decisions soon!

[2016-10-12 18:58] #3451 closed

[2016-10-12 18:59] #3533 closed

[2016-10-12 19:30] Lucy-tri commented on #3734
Just talked this through with Sam.  I will create a new interface (abstract class) Trajectory, and start by making PiecewisePolynomial inherit from that.  This will be the first type of trajectory to be implemented as a subclass of Trajectory (more to come).  I’ll start with that, then perhaps modify the IK stuff to use the new Trajectory class. Trajectory will define at least the following for th

[2016-10-12 20:02] sammy-tri opened #3787 "DircolTrajectoryOptimization should implement a spline for state trajectory"
In MATLAB, DircolTrajectoryOptimization calculates a spline in reconstructStateTrajectory.  In the C++ implementation, this is just a TODO in dircol_trajectory_optimization.h.

[2016-10-12 20:02] sherm1 commented on #3734
@Lucy-tri, I'm not sure what you mean by having PiecewisePolynomial inherit from Trajectory. PiecewisePolynomial already exists independently (and is not a trajectory). Do you mean that you would make a PiecewisePolynomialTrajectory class that inherits from Trajectory?

[2016-10-12 20:05] sammy-tri commented on #3772
FWIW, WITH_IPOPT is an unusual case on Mac...  It defaults to "n" because it causes problems linking to mex files, but it's a perfectly reasonably option to have enabled in the DISABLE_MATLAB (or MATLAB not found) case.  I'm not sure this is interesting enough to bother dealing with...  (also this is based on old memories and could be wrong)

[2016-10-12 20:06] jamiesnape commented on #3772
@sammy-tri I think you are correct.

[2016-10-12 20:11] ggould-tri commented on #3778
Logging the optimizer for each solve is impractical, as there are use cases that will do solves at the kHz level.  I will think about how best to solve this.  It might be that I could log it at low priority if CI tests set the log verbosity, but I'm not sure if that is practical or wise.

[2016-10-12 20:17] sammy-tri commented on #3734
@sherm1 The thought was that PiecewisePolynomial is already being used as a trajectory directly in some C++ code (e.g. TimeVaryingPolynomialSource), and a subset of its API seems to already meet (or be very close to) some of the properties of a Trajectory API, such as returning it's state at a specific time (value()).  I'm not sure if the derivatives() interface is actually an analog for the MATLA

[2016-10-12 20:22] RussTedrake commented on #3647
you've got it.

[2016-10-12 20:25] ggould-tri commented on #3778
Scribing @jwnimmer-tri notes on how to turn on verbose logging for unit tests, which is probably on the right track to the best way to fix this issue:

[2016-10-12 20:25] RussTedrake commented on #3773
this is a longer term goal.  we will get the SDP tools working in c++ with gurobi/mosek first.

[2016-10-12 20:33] #3717 closed

[2016-10-12 20:35] sherm1 commented on #3734
@sammy-tri, thanks -- yes, I think it would be cleaner to have a PPTrajectory that `is-a` Trajectory and `has-a` PP internally. I'm also thinking that the Trajectory base API may fatten up with more functionality that isn't related to PP when we start loading it with simulator output. That's going to have to include discrete state variables (that have no derivatives), information needed to guide i

[2016-10-12 20:36] RussTedrake commented on #3782
unfortunately, that example is known to be broken. See #1047.  it will not be fixed until it's ported to c++.

[2016-10-12 20:36] #3782 closed

[2016-10-12 20:37] RussTedrake commented on #3646
i'm on mac, so was definitely going to try the LLDB viewer, but have not done it yet.  by all means, beat me to it.

[2016-10-12 20:39] david-german-tri commented on #2594
We deleted `fedora.rst` in #3744, so it's done now.

[2016-10-12 20:39] #2594 closed

[2016-10-12 20:40] david-german-tri commented on #2385
Maybe it's gone now?  Closing.

[2016-10-12 20:40] #2385 closed

[2016-10-12 20:44] Lucy-tri commented on #3734
@sherm1 I think that makes more sense. Trajectory will have only the value() function (for now), and PiecewisePolynomialTrajectory will be a subclass which has a PiecewisePolynomial as a member.

[2016-10-12 20:46] RussTedrake commented on #3778
to be clear, the solvers in those examples are in matlab (they do not touch mathematicalprogram in any way).  the failure is in the PATH solver, but path is probably not the problem... it just means that the robot fell down.  the difference in configuration looks like the first case had gurobi and snopt and the second did not... so probably the initial conditions solution was different in the two

[2016-10-12 20:51] rdeits commented on #3773
I've used SCS for some basic sums-of-squares programming, and it's worked well. I'm using it now to run the unit tests in https://github.com/rdeits/Mayday.jl

[2016-10-12 21:05] RussTedrake commented on #3772
i've already PR'd a conditional solution for WITH_IPOPT to handle that case.

[2016-10-12 22:28] #3733 closed

[2016-10-13 03:18] #3666 closed

[2016-10-13 13:40] ggould-tri commented on #3778
Ah, I assumed that since I was assigned that someone had determined it was a C++-side issue.  Since it is matlab, I am going to unassign myself and tag it to RLG.

(We probably ought to do the described C++ work sometime but, as @jwnimmer-tri says, it "
is several yaks deep," so _entia non sunt multiplicanda praeter necessitatem_.)

[2016-10-13 13:43] liangfok commented on #3778
Sorry I thought MATLAB was calling C++'s `MathematicalProgram`. Is that the eventual plan?

[2016-10-13 14:17] sammy-tri commented on #3778
I guess I should have taken a closer look at the backtrace here, I think I just assumed it was in some other place.  I don't think there's a plan to port TimeSteppingRigidBodyManipulator to MathematicalProgram...   At least not any time soon.

[2016-10-13 16:36] RussTedrake commented on #3778
That's not quite right -- we have lcp in mathematicalprogram.  But it's probably a longer answer than belongs on this issue.

[2016-10-13 16:43] edrumwri commented on #3646
Ok, will work on it this week.

[2016-10-13 17:29] jwnimmer-tri commented on #3741
So far it sounds to me like "put all of the code in the .cc file (with perhaps still extern template in the header as documentation)" meets our needs, in terms of code-style for scalartypes?  (We still have separate work to do on defining our `T` domain, and making sure we test it for all Systems code.)

[2016-10-13 17:31] jamiesnape opened #3795 "FindMatlab returns incorrect Matlab_ROOT_DIR when the matlab executable is symlinked"
Will need fixing in the local copy of FindMatlab and upstream.

FYI @david-german-tri.

[2016-10-13 17:39] jamiesnape commented on #3795
Although it is not immediate obvious why. The symlink should be resolved here:

https://github.com/RobotLocomotion/drake/blob/master/cmake/modules/3.7/FindMatlab.cmake#L1232

[2016-10-13 17:47] jamiesnape commented on #3795
Closing because the bug is actually in a PR only loosely related to FindMatlab.

[2016-10-13 17:47] #3795 closed

[2016-10-13 18:21] scpeters commented on #3240
It would be nice to have a validator program like `check_urdf` that is in [urdfdom](https://github.com/ros/urdfdom/blob/master/urdf_parser/src/check_urdf.cpp) and the `liburdfdom-tools` package on ubuntu.

[2016-10-13 18:42] scpeters commented on #3240
Actually the upstream `check_urdf` doesn't complain about 3-tuple `rgba` values either.

[2016-10-13 18:43] scpeters commented on #3240
It just doesn't parse any of them:

* https://github.com/ros/urdfdom_headers/blob/master/urdf_model/include/urdf_model/color.h#L87-L90

[2016-10-13 19:03] david-german-tri opened #3797 "ConstantVectorSource should support typed outputs"
Using `Clone()`.

[2016-10-13 20:28] RussTedrake commented on #3773
great list of solver accessible in julia is here:
http://www.juliaopt.org/#solvers

fwiw - @rdeits says this is the best eco-system of solvers that he has seen yet, and it is quite similar to what we’ve been building in MathematicalProgram.

[2016-10-13 20:30] tkoolen commented on #3598
@jwnimmer-tri and @liangfok, can I take this over from you?

[2016-10-13 20:32] liangfok commented on #3598
Yes of course. I am not working on this at the moment.

[2016-10-13 22:36] SeanCurtis-TRI commented on #1978
Somewhat related to this topic: reporting contact.

The mathematical definition requires x > 0.  This fundamentally excludes the magical case where two objects are osculating.  On one hand, that's the very physical definition of contact.  But in a proper model, it produces zero force.  So, when it comes to reporting contacts (see #3362), should this be excluded or classified as a zero-force contac

[2016-10-13 23:26] sherm1 commented on #1978
Per f2f: we plan to report contact for x<=0 for compliant contact models but insist that the force is zero when x==0. (The current soon-to-be-dead Kelvin Voigt model can meet that requirement.) Note that this doesn't apply to active set models where "in contact" is a known state enforced by a constraint.

[2016-10-14 00:33] jwnimmer-tri commented on #3598
I'm of two minds on this.  My WIP branch is pretty far along, but I was going to try to convert everything at once (all current users of these two systems) to prove the new design and code work well

However, it's possible I could PR some intermediate working code to unblock your work @tkoolen?  Do you need pub, sub, or both?  I could possibly get a smaller PR out very soon.

[2016-10-14 00:45] tkoolen commented on #3598
I'm even fine just working off of your branch as long as the basic functionality is there and won't change too much anymore. A quick PR would be ideal though.

Ideally, both pub an sub, but if you only have time for one, I would prefer sub; I know you're busy.

[2016-10-14 01:23] liangfok commented on #3619
@naveenoid, I'm going to need this to port `car_sim_lcm` to System 2.0. Have you started on this? If not, can I start working on it now?

[2016-10-14 01:31] liangfok commented on #3743
Note that once #3619 is resolved, the gains can be extracted out of `drake::systems::PidController` thus resolving this issue.

[2016-10-14 02:00] jwnimmer-tri commented on #3598
Sanity check...

`LcmPublisherSystem` and `LcmSubscriberSystem` currently operate on a vector-valued port.  Per this issue, we also want to support abstract-valued ports, where the message object comes in / out (as a `Value<lcmt_drake_foo>`), instead of a vector-mapping of the message object.

I think the easiest way to transition this, and possibly even the best long-term design, is to have the c

[2016-10-14 08:40] liangfok commented on #3743
Thinking about this some more, I think [System 2.0's PID controller](https://github.com/RobotLocomotion/drake/blob/16272e5953eaf4068747b5242d3eef9ee1fa7191/drake/systems/controllers/pid_controller.h) can be greatly simplified by keeping the gains (as vectors) within it and making it a `System` instead of a `Diagram`. The equations are simple enough that they can be directly implemented within a si

[2016-10-14 09:34] RussTedrake commented on #3743
sounds like a good idea to me.

[2016-10-14 10:30] liangfok commented on #3598
From a quick scan of your WIP, I believe it'll serve our purpose. I notice numerous `if (translator) foo else bar` code fragments. It makes me wonder whether there should be a common parent interface and two child classes one implementing each branch of the `if` statement.

[2016-10-14 11:42] jwnimmer-tri commented on #3598
That would be improved by the _"I think a second PR could [refactor] the LcmAndVectorBaseTranslator concept to use message objects instead of byte vectors, but I think I can skip that in the first PR."_.

[2016-10-14 12:36] liangfok commented on #3598
Great! Let's keep it two PRs.

[2016-10-14 13:01] SeanCurtis-TRI commented on #1978
Did you mean the "current soon-to-be-dead Kelvin Voigt model *can't* meet..."?

[2016-10-14 13:10] jwnimmer-tri commented on #3129
FYI, active development prototype is ongoing here https://github.com/jwnimmer-tri/drake/commits/bazelspike.  It is able to build the automotive slice of the code.

The current "off the top of my head" plan is something like "allow `BUILD` files to be PR'd in-tree without CI yet" as we bring this up.  This lets other `bazel` workspaces use Drake-as-a-library, without Drake-as-a-project needing to a

[2016-10-14 13:59] tkoolen commented on #3598
That was the way I was envisioning this. Also, or instead, having a Vector output based on constructor arguments seems a lot less elegant to me (witnessed by the `if (translator)` statements). But I'm happy to run with this for now. Thanks!

If you make further progress, could you stop squashing/amending for now?

[2016-10-14 14:05] jwnimmer-tri commented on #3598
Wilco.

[2016-10-14 16:49] sherm1 commented on #1978
No, I thought you said that the K-V model actually did produce zero force at x==0, despite producing maximum dissipation at x==-eps. So by luck it still meets the zero-at-zero requirement. Is that wrong?

[2016-10-14 18:05] Lucy-tri commented on #3734
Some details on my first move:
I’m moving ReconstructInputTrajectory() and ReconstructStateTrajectory() out of direct_trajectory_optimization.cc: I need to remove the mention of a PP function out of that file.  I’ll make GetTimeVector() (and it’s 2 pals) public.
I’ll move ReconstructInputTrajectory() (and state…) to PiecewisePolynomial.
PR coming soon for this.

[2016-10-15 00:16] sherm1 commented on #3741
I think so. But @SeanCurtis-TRI is chasing down a problem that came up with a mix of in-header and in-.cc definitions, in particular default constructors and assignment. Those can only be declared `= default` in the header.

[2016-10-15 19:45] aespielberg opened #3811 "Trajectory Optimization/Dynamics with contacts"
Hi all,

I have found the CompassGaitWalker runDircol cycle example helpful for how to construct a Hybrid Trajectory Optimization problem.  However, in this case, the contact dynamics are explicitly written out for the compass gait walker.

Let's say I want to work with a generic robot, loaded from urdf.  In this case, I can rewrite the manipulator equations including the contact constraint force

[2016-10-15 22:04] aespielberg opened #3812 "HybridTrajectoryOptimization with ContactImplicitTrajectoryOptimization"
Hello,

Have there been any tests using HybridTrajectoryOptimization with ContactImplicitTrajectoryOptimization as the direct optimizer?

[2016-10-15 22:51] mposa commented on #3811
Hi Andrew,
As far as I know, mainstream Drake has no such functionality. On one of my development branches, I do have some code that will run a hybrid trajectory optimization, which explicitly considers contact points as constraints (a mode is defined by a set of points which must remain stationary). The code is very much experimental, but I'd be happy to chat more about it. Here's a link to an ex

[2016-10-15 22:51] mposa commented on #3812
No, and I would be surprised if it works out of the box. I commented on your other, related issue as well.

[2016-10-15 22:53] mposa opened #3813 "Legacy support, drakeSnopt.zip"
I have an older branch, which I'm trying to install. Unless I've screwed something up, it's attempting to download SNOPT at the following location (and failing):

http://drake002.csail.mit.edu/drake/drakeSnopt.zip

Is it possible that this file was just pulled from the server? Thanks!

[2016-10-16 00:10] MoyinOtubela opened #3814 "Linker Error With octomapWrapper.cpp.o - Undefined Reference to createChild()"
I'm having an issue regarding using make as instructed in http://drake.mit.edu/from_source.html and http://drake.mit.edu/ubuntu_trusty.html

I've also set up my environment variables in my ~/.bashrc file as such:

export CC=gcc-4.9 CXX=g++-4.9 FC=gfortran-4.9 F77=gfortran-4.9

The problem is experienced when I try to compile in my build folder in the drake-distro directory, of which I got from "gi

[2016-10-16 01:56] liangfok commented on #3813
Yes, it does appear as though the file was removed from the `drake002.csail.mit.edu` server.

Check out this PR #3767, which removed official support of pre-compiled SNOPT from the Drake. It lists the following URL, which still works:

https://s3.amazonaws.com/drake-provisioning/drakeSnopt.zip

Maybe you can modify your older branch to point to the above URL?

[2016-10-16 02:24] liangfok commented on #3814
I don't know what the problem is yet but on my computer `OcTreeNode::createChild()` also does not exist:

[code]

[2016-10-16 02:25] liangfok commented on #3814
Is ROS being sourced (e.g., `source /opt/ros/indigo/setup.bash`)? I just heard that sourcing ROS may cause this problem.

[2016-10-16 02:32] liangfok commented on #3814
I'd like to know which `octomap` library you're linking against, please modify the following file:

https://github.com/RobotLocomotion/drake/blob/master/drake/systems/robotInterfaces/CMakeLists.txt#L25

Immediately after the line containing `find_package(octomap)`, can you add the following debug print statements?

[code]

Let me know what they output.

[2016-10-16 02:33] RussTedrake opened #3815 "convert textbook to use c++ examples"
I am working on converting the textbook / drake tutorial to use the new c++ classes.  To make it work well, I think I need to change the relationship between the textbook and the drake repo.

Proposal:
- textbook moves out of `drake/doc` and into `externals/textbook`
- textbook compiles after drake, and contains it's own `src/` directory for the examples which are still compiled/run as part of dra

[2016-10-16 02:55] mposa commented on #3813
Thanks. Problem solved!

[2016-10-16 02:55] #3813 closed

[2016-10-16 04:10] liangfok commented on #3814
With @hongkai-dai and @siyuanfeng-tri's help, I'm pretty sure the problem is due to a conflict between ROS Indigo's version of `octomap` (1.6.9) versus Drake's version (https://github.com/OctoMap/octomap/pull/140/commits/21d159f3c0bbdc3d2a3283ae4c0fd719f38bdc57). Somehow, it looks like `octomapWrapper.cpp` is being compiled using ROS's version but linked against Drake's version resulting in the un

[2016-10-16 04:17] liangfok commented on #3814
FTR, the temporary workaround is to disable ROS Indigo. This can be done as follows:

First ensure your `~/.bashrc` does not contain a line with `source /opt/ros/indigo/setup.bash` (or the line is commented out). Then close your `bash` terminal and open a new one.

[2016-10-16 06:09] liangfok commented on #3814
If the problem is indeed due to a conflict with ROS Indigo, perhaps `ros-indigo-octomap` needs to be installed on Drake's [linux-gcc-experimental-matlab-ros](https://drake-jenkins.csail.mit.edu/view/Experimental/job/linux-gcc-experimental-matlab-ros/) CI image so this problem can be detected.

[2016-10-16 06:18] liangfok commented on #3815
I'm not sure I understand the benefits of moving the textbook's examples out of `drake/examples`. Why not keep the examples in `drake/examples` while moving the textbook's text into a different repository? That would ensure the examples keep pace with the latest version of Drake. The textbook's text can still refer to the examples in `drake/examples` when it is in a separate repository.

[2016-10-16 11:26] RussTedrake commented on #3815
Good.  Thought a bit about this before i recommended this path.

  The main problem is versioning.  we don't want developers in drake to move/modify/remove some files that are changing lines in the textbook without knowing it and/or reading the surrounding text in the book.

There might also be times where i violate the style guide in small ways for the sake of clarity/readability.  For instance k

[2016-10-16 12:21] liangfok commented on #3815
I see, makes sense. I'm now wondering whether two copies of the textbook examples should be maintained, one in `drake-distro/drake/examples` and another in the textbook's repository. The textbook will be pegged to a particular version of Drake and only occasionally updated to the latest on master. When it is updated, the updating process will be easier because the examples in `drake-distro/drake/e

[2016-10-16 15:19] RussTedrake commented on #3815
The duplicated code in the textbook repo is what we have currently (in
matlab). I'm potentially ok with that, too. But i also have heard people
questioning whether any examples really belong in the main repo, and this
could be an opportunity to purge a few of the simplest ones.
On Sun, Oct 16, 2016 at 8:21 AM Chien-Liang Fok <notifications@github.com>
wrote:

[2016-10-16 15:30] naveenoid commented on #3761
I agree!

[2016-10-16 15:40] MoyinOtubela commented on #3814
Excellent. The compiling issue was resolved quickly following the advice. As suggested I edited my ~/.bashrc file where I commented out "source /opt/ros/indigo/setup.bash". I also took time to edit the CMakeLists.txt file to insert the debugging method as illustrated in the figure below. But since it's resolved I don't see the need for it at this point. It even installed successfully when installi

[2016-10-16 17:28] hongkai-dai opened #3817 "`SolutionResult` should also contain the optimal cost"
Currently to get the optimal cost (objective) of an optimization problem, I will need to loop through all costs, and evaluate each costs at the optimal solution. On the other hand, in most solvers (actually all solvers I know), we can get the optimal solution directly from the solver. I suggest to modify the `SolutionResult`, which is the return argument of `MathematicalProgram::Solve()` function,

[2016-10-16 19:00] liangfok commented on #3814
Great! Thanks for the results and output. I'm unsure why the `octomap_Foo` print statements indicate nothing is being found. Maybe I wasn't using the right variable names? One thing you can try doing is to replace the message statements with the following loop, which prints _every_ variable:

[code]
Search through the variables to see which ones relate to `octomap`.

Regarding an actual resolution

[2016-10-16 19:14] liangfok commented on #3619
@naveenoid and I chatted a few hours ago; he's nearing completion of System 2.0 `AffineSystem` and `LinearSystem`.

@naveenoid, here's my rough draft of `AffineSystem`. Maybe you can recycle parts of it, especially the unit test?
https://github.com/liangfok/drake/commit/09a76dbbf09e99dec799764a0c100c8353f7bc2b

[2016-10-16 19:29] liangfok commented on #3815
👍 for eventually removing all examples from the main repo. As the main repo's code gets increasingly covered by unit tests, the testing value of the examples diminishes meaning the need for them to be in the main repo also decreases.

As we increase the number of repositories related to Drake, it seems what we need is a coordination layer that can atomically merge multiple PRs submitted to mutiple

[2016-10-16 19:49] RussTedrake commented on #3817
i agree we definitely need to get that output.  the other option is to have a method which can get the most recent objective value (stored by the solver).

worth mentioning the signature from solve() in matlab was
`function [x,objval,exitflag,infeasible_constraint_name] = solve(obj,x0)`
https://github.com/RobotLocomotion/drake/blob/master/drake/matlab/solvers/NonlinearProgram.m#L908

in c++, we ge

[2016-10-16 22:07] naveenoid commented on #3619
Integrating now.

[2016-10-16 22:27] MoyinOtubela commented on #3814
I edited the file again as given in the advice.

![screenshot from 2016-10-16 23 23 01](https://cloud.githubusercontent.com/assets/14330718/19421382/881f0800-93f7-11e6-8547-41a724e83e9b.png)

 All variables relating to octomap are in the figure below ( I think ). If there's more that I did not capture, I copied and pasted the output for all variables that came out that may be of interest to you in

[2016-10-16 22:32] liangfok commented on #3619
Thanks! Might as well also port the Gain system.

https://github.com/RobotLocomotion/drake/blob/master/drake/systems/LinearSystem.h#L179

[2016-10-16 23:22] hongkai-dai commented on #3817
Thank @RussTedrake for the comment. I think `infeasible_constraint_name` is definitely useful, but we probably can only obtain that information for generic nonlinear solvers. The reason is that for many convex solvers, when the problem is infeasible, it does not return the solution `x` with the least constraint violation. While in SNOPT, it always returns the solution, so we can evaluate the const

[2016-10-16 23:39] hongkai-dai commented on #3383
FWIW, I received an email from Bryan Hsu, saying that he encountered the same problem.
[code]
I think `ts` is not the problem. I can run this test on my machine, using the most up-to-date drake. On my machine `ts` is `ts = [1.8500,         0,         0,    3.2338]` , it is not in increasing order either.

[2016-10-17 00:47] liangfok commented on #3814
@MoyinOtubela, thanks! Can you also re-run the build with ROS sourced? I'm particularly interested in the values of the following variables:

[code]

[2016-10-17 02:20] samkhal commented on #3383
Thanks for bringing this up again! I think I have it figured it out; it's the same issue I had earlier with footstep planning (https://github.com/RobotLocomotion/drake/issues/3737#issuecomment-252703438). It appears that the root of it is caused by my use of the student version of SNOPT 7.5 vs the full SNOPT 7.2. If SNOPT is used for alternatingMIQP for footstep planning, then the footstep plan di

[2016-10-17 07:42] siyuanfeng-tri opened #3818 "Gurobi QP solution is different from SNOPT QP solution by small value"
Here is a random problem I generated in matlab. I tested the current gurobi solver against the snopt solver, and the answers are different. The snopt answer matches matlab's qp.

unit test code:
[code]

And matlab code:
[code]

[2016-10-17 07:46] siyuanfeng-tri commented on #3817
Another related useful feature is to name individual rows of all constraints / costs
e.g. A*x = b, and I want to be able to give A and b names. I'd also like to name A(i) and b(i) in addition. This will be handy for debugging large optimization problems. I suppose if we don't name A(i) explicitly, we could just set name to A_index by default.

[2016-10-17 07:52] siyuanfeng-tri commented on #3736
I vaguely remember this is causing #3818, not quite sure.. I can also fix it if you guys are busy with other stuff.

[2016-10-17 09:23] MoyinOtubela commented on #3814
I did as you asked and the results are below. As expected, the compile error reappeared as seen before with ROS sourced.

![screenshot from 2016-10-17 10 04 16](https://cloud.githubusercontent.com/assets/14330718/19431686/5a945bc4-9451-11e6-916c-973676bf7619.png)
![screenshot from 2016-10-17 10 20 57](https://cloud.githubusercontent.com/assets/14330718/19432201/714a37a6-9453-11e6-9865-659124d943a4

[2016-10-17 09:24] RussTedrake commented on #3817
Agreed. Even if the solver doesn't always return the least infeasible.
On Mon, Oct 17, 2016 at 3:46 AM siyuanfeng-tri <notifications@github.com>
wrote:

[2016-10-17 09:53] liangfok commented on #3814
Thanks. It's so strange how the variables are identical in both the successful and failing case! There must be some other difference that we're not detecting yet.

[2016-10-17 09:54] MoyinOtubela commented on #3814
I was thinking the same thing.

[2016-10-17 10:03] liangfok commented on #3814
Another guess is there might be a difference between the `LD_LIBRARY_PATH` environment variable when ROS is sourced versus when it is not sourced. Perhaps compare the output of the following command with and without ROS:

[code]

[2016-10-17 10:08] MoyinOtubela commented on #3814
with ROS sourced:
moyin:build$ echo $LD_LIBRARY_PATH
/opt/ros/indigo/lib:/opt/ros/indigo/lib/x86_64-linux-gnu::/home/moyin/Downloads/gurobi652/linux64/lib

without ROS sourced:
moyin:~$ echo $LD_LIBRARY_PATH
:/home/moyin/Downloads/gurobi652/linux64/lib

[2016-10-17 10:19] liangfok commented on #3814
Thanks. Now I'm curious whether we can prioritize the version of `octomap` in Drake over the one in ROS. Try doing the following:

Source ROS.

Modify `LD_LIBRARY_PATH` to prioritize Drake's version of `octomap`:

[code]

Proceed to build Drake. See if the linker error continues to exist.

[2016-10-17 11:30] MoyinOtubela commented on #3814
Yes that worked! The output is below.

![before](https://cloud.githubusercontent.com/assets/14330718/19435881/086428f2-9465-11e6-833a-b486aabdfd04.png)
![step2](https://cloud.githubusercontent.com/assets/14330718/19435883/0c90b7ec-9465-11e6-98d0-350df19250c1.png)
![finish](https://cloud.githubusercontent.com/assets/14330718/19435884/0f3317ce-9465-11e6-835f-cb2e033c9781.png)
![screenshot from 2016-

[2016-10-17 11:31] MoyinOtubela commented on #3814
Those show before and after results by the way.

[2016-10-17 13:00] liangfok commented on #3814
Great! Thanks for running the tests. We now know of an alternative workaround that does not require disabling ROS Indigo.

[2016-10-17 13:22] Lucy-tri commented on #3787
The formulation of the direct collocation method can be found in
C. R. Hargraves and S. W. Paris. Direct trajectory optimization using nonlinear programming and collocation. J Guidance, 10(4):338-342, July-August 1987.  @hongkai-dai  has the paper. However, we were planning to use the Matlab DircolTrajectoryOptimization as a guide, unless it just calls some Matlab spline function.

[2016-10-17 14:14] david-german-tri commented on #3815
Repositories are good for controlling ACLs, merge policy, and the minimum unit of download.  If it's necessary to de-ACL drake developers from the textbook, then I think the original post is a reasonable way to go.  However, I also think it would be more convenient just to isolate the textbook and its examples in a clearly-labeled subdirectory.  Then we wouldn't have to juggle version numbers, or

[2016-10-17 14:23] liangfok commented on #3815
@david-german-tri, I think removing examples from Drake would fall in the "minimum unit of download" category. I agree, however, that we should not remove them if we don't have the tooling to keep them updated with the latest on master.

[2016-10-17 14:23] jwnimmer-tri commented on #3815
I don't think the goal is to de-ACL folks.  If we change the System APIs, we'll need to update the textbook to pass also (in coordination with Russ).  Similarly for merge policy -- if we're sharing CI, then the merge policy is the same (or at least very, very similar).  We can certainly put a `drake-distro/drake/textbook/CPPLINT.cfg` if we want to nerf certain warnings, for example, but still have

[2016-10-17 14:36] sammy-tri commented on #3817
Personally, I think I prefer the approach of adding an accessor/helper to the MathematicalProgram than turning the return type of Solve() into a struct.  Since @hongkai-dai's original post showed only a single scalar in the return value, I'm guessing that would be the sum of the values of all costs added to the MathematicalProgram?

IIRC, Eigen includes a number of ways to store references to port

[2016-10-17 15:09] aespielberg commented on #3812
Okay, this confirms my experience.  Thanks!

[2016-10-17 15:09] #3812 closed

[2016-10-17 15:19] hongkai-dai commented on #3818
I tested your program, actually I think the problem is that gurobi solution and snopt solution does not match so well. Their difference is in the order of 1E-5. If you inspect the gurobi solution, they also math the MATLAB solution, up to 4th decimal point.

[2016-10-17 15:32] hongkai-dai commented on #3818
The test is done on my branch https://github.com/hongkai-dai/drake/tree/gurobi_socp, in which I continued to fix problem in gurobi. The current master is still buggy. I will send the PR hopefully today.

[2016-10-17 15:40] hongkai-dai commented on #3818
The problem is that in the `gurobi_solver` on master branch, it does not allow to impose constraints on a subset of variables, like
[code]
This problem is going to fix in my next PR, on this branch https://github.com/hongkai-dai/drake/tree/gurobi_socp

Thanks for the testing program! I will also add this test to the PR.

[2016-10-17 15:41] hongkai-dai commented on #3736
#3818 is not caused by the cost, but the constraints. The current `gurobi_solver` does not allow to impose constraints on a subset of decision variables. The multiple-costs problem is already fixed in PR #3792. I am going to close this PR.

[2016-10-17 15:41] #3736 closed

[2016-10-17 16:48] wxmerkt commented on #2772
@mwoehlke-kitware This issue resurfaced after the LCM CMake upgrade with the current LCM master tip installed system-wide - is it possible to port [``drake_setup_java_for_matlab``](https://github.com/RobotLocomotion/drake/blob/137d3995fc30da0016ef4b2b6a0c80f1129cfe61/cmake/config.cmake#L59) over to LCM as well? A very common workflow which is now broken is to have LCM installed system-wide

[2016-10-17 17:09] mwoehlke-kitware commented on #2772
Probably, but that doesn't strike me as TRTTD. Wouldn't you need to do this for *any* distro-provided or built-outside-of-drake Java package that might be used by MATLAB? Why should upstream LCM (or any other project) care if you happen to have MATLAB installed on your system?

[2016-10-17 17:11] Lucy-tri commented on #3734
I think the “output” of a PiecewisePolynomialTrajectory on a pendulum would be the result of calling DircolTrajectoryOptimization’s ReconstructInputTrajectory() &  ReconstructStateTrajectory().  Is that right?  I’ll change the reconstruct calls to return a PiecewisePolynomialTrajectory, a subclass of Trajectory, which should fullfill the requirement of this issue. Do I understand correctly?

[2016-10-17 17:47] wxmerkt commented on #2772
I've opened an upstream PR to fix the issue by setting source and target to 1.6 in any case - this mimicks what autoconfigure used to do (but back then setting it to 1.5) and works just fine - cf. https://github.com/lcm-proj/lcm/pull/137

[2016-10-17 17:51] RussTedrake commented on #3815
As the subject says -- i'm trying to convert the textbook to c++.  it needs to have some example code in it.  I would like that code to be tested so that it compiles and runs with drake.  therefore the textbook either needs to reference directly into drake master (#include drake/examples/blah) or have its own src directory which runs the tests.

[2016-10-17 17:57] jwnimmer-tri commented on #3815
I think that David and I are both firmly in the camp of "the more repos we have, the less happy we are", and thus are implicitly proposing that as much code or docs live in-tree with Drake as possible.

[2016-10-17 18:02] david-german-tri commented on #3815
Specifically, I was suggesting that `drake/examples/textbook` or similar might be good enough to protect the textbook example code from accidental changes (the stated primary goal), without the overhead of keeping repos in sync.

As for style, I think bending the rules in an external that we cover with CI is equivalent to bending them in a special directory on master.  Either way, developers who b

[2016-10-17 18:04] jamiesnape commented on #3815
I guess it partly comes down to API stability. If the API is changing a lot and breaking examples, it would be more convenient to be able to update the API and fix the examples together in one PR. It also makes the change logs in Jenkins and CDash more readable.

There is a certain advantage to having the examples above the `drake` directory as you get to test things like `find_package(drake)` if

[2016-10-17 18:52] RussTedrake commented on #3815
it's worth noting that the current state is that we have the textbook in a separate repo, owning its own example code, which could break on an API change to drake.  that has not happened yet because it was only matlab example code.  the fact that it gets loaded into `drake/doc/textbook` avoids the need for `find_package(drake)`, but is otherwise almost irrelevant.

i do think that the textbook tex

[2016-10-17 18:59] jamiesnape commented on #3815
Seems reasonable to me. Having the submodule reference in `drake/examples/textbook` or the current location may be more convenient for now as we do not quite have everything that `find_package` needs yet.

[2016-10-17 19:01] jwnimmer-tri commented on #3815
The situation I want to avoid is having to frequently coordinate PRs between Drake's APIs and the textbook.  Once every ~2 months would be okay; more often would be a drag.  That is, if Drake devs can essentially pretend its not there, then it doesn't matter how the build is structured.  However, if we have to pay attention and fix it, then doing so should be low friction, e.g., either (1) the cod

[2016-10-17 19:02] hongkai-dai commented on #3817
@sammy-tri could you explain why you prefer adding an accessor to the MathematicalProgram than changing the return type of `Solve`? Is it to minimize the change to the current API? If that is the concern, then I think I can handle this API change. And that `objective_value` can be obtained directly from the solver, within `Solve` function (many solvers has a subroutine to fetch the objective funct

[2016-10-17 19:04] jamiesnape commented on #3815
This would necessitate a separate CI for textbook.

[2016-10-17 19:23] wxmerkt commented on #3231
@jwnimmer-tri Would you mind sharing your workaround (is it the bot_spy_that_actually_works?)? This is currently blocking for us as we move up

[2016-10-17 19:30] jwnimmer-tri commented on #3231
@wxmerkt Sure (and yes)!

Here is the bash version that we were using for a while:
[code]

Since then we've ported it to python instead:
https://github.com/RobotLocomotion/drake/blob/46cadd78d390f985bfcf5b0ec87ee0fdda54c4ae/drake/automotive/automotive_demo.py#L143

[2016-10-17 19:32] liangfok commented on #3608
@sherm1, I'm thinking about resolving this issue by making the entire `DrakeJoint` class templated on the Eigen scalar type and adopting the [-inl.h](http://drake.mit.edu/cxx_inl.html#three-file-inl-h-pattern-approach) pattern. What do you think?

[2016-10-17 19:37] jwnimmer-tri commented on #3253
@RussTedrake for these four files, may I move them into `drake-distro/drake/matlab/` as part of this upcoming PR, or would it be easier to keep them where they are now (`drake-distro/drake/`)?
 1. drake/addpath_drake.m
 1. drake/rmpath_drake.m
 1. drake/Contents.m
 1. drake/runAllTests.m

[2016-10-17 19:40] liangfok commented on #3493
I will work more on this after #3824 is merged.

[2016-10-17 19:49] sammy-tri commented on #3817
I don't believe this is the case.  The interface to the individual solvers is through `MathematicalProgramSolverInterface::Solve(MathematicalProgram& prog)`  The solvers, depending on their level of capability, populate information about the solution by calling functions on the `prog` argument such as SetDecisionVariableValues(), SetSolverResult(), etc.  Virtually nothing about what happens during

[2016-10-17 20:12] billhoffman commented on #1911
This is being done in upstream cmake now should be in 3.8.

[2016-10-17 20:12] #1911 closed

[2016-10-17 20:23] jwnimmer-tri commented on #3253
General FYI... work in progress will be here (N.B. will be rebased often):
https://github.com/jwnimmer-tri/drake/commits/the-great-matlab-relocation-of-aught-sixteen

[2016-10-17 20:43] sammy-tri commented on #3344
In https://github.com/RobotLocomotion/lcmtypes/issues/3 we effectively decided not to do this.  Any objections to closing this ticket?

[2016-10-17 20:52] sherm1 commented on #3608
@liangfok, please don't modify this yet. We are planning to make major modifications to this code so that we can use virtual methods in abstract joints. Let's discuss with @amcastro-tri who will be back soon.

[2016-10-17 21:06] hongkai-dai commented on #3817
@sammy-tri if I understand correctly, you are suggesting that in `MathematicalProgram`, there should be a data field like `objective_value_`, which stores the objective of the previous call. And then we add a getter to return that stored objective value.

If that is the case, then I do not like it. I think `MathematicalProgram` should only store information that is intrinsic to the optimization pr

[2016-10-17 22:22] RussTedrake commented on #3253
Fine to move but you'll need to update the docs in a bunch of places, too.

[2016-10-17 22:36] mwoehlke-kitware commented on #3397
yeeeees... and no. I think the upstream Python module is actually broken ATM pending lcm-proj/lcm#128. Since this issue has a work-around presently, I've been procrastinating until LCM and the lcmtypes stuff all settle in hopes of only having to bump everything once. At least, it's probably best to wait for lcm-proj/lcm#128.

[2016-10-17 23:00] sherm1 opened #3829 "AutoDiffing wrt integrator `accuracy` will always return zero"
In a previous discussion (possibly in @edrumwri's PR #3554 though I couldn't spot it) we discussed whether the integrator `target_accuracy` parameter should be `double` or `T`. I thought `T` because then we could differentiate outputs with respect to accuracy, a very nice thing to know (tells you if results have converged). Although there were skeptics (Evan included) no one could figure out why t

[2016-10-18 00:02] sammy-tri commented on #3817
I think we're converging on an agreement.

This is what is done now with `SetSolverResult()` and `GetSolverResult()`, which store information about the previous `Solve()` call in `solver_name_` and `solver_result_`.

I think you've convinced me of this, so we should just move `solver_name_` and `solver_result_` into the same struct with the hypothetical `objective_value_` from your (counter-) exam

[2016-10-18 00:29] liangfok commented on #3608
Great! I will wait.

[2016-10-18 02:41] siyuanfeng-tri commented on #3818
Great! I saw your other triplet pr went it, and thought that might have fixed this.

[2016-10-18 02:53] siyuanfeng-tri commented on #3817
Imagine this situation, we have a constraint of the form A*x = b, A is 5 by 3, and b is 5 by 1. The current description for is for A and b as a whole, e.g. "Siyuan's eq constraint". Hongkai and I want to name individual rows. We want to name A(1,:) and b(1) to "Siyuan's eq number 1". This is handy if we have a constraint term that have dozens of rows. You could argue that we should split the big c

[2016-10-18 03:38] hongkai-dai commented on #3817
@sammy-tri , I think we converged to the agreement. To make sure we are on the same page, I summarize the proposal as follows:

- We change `SolutionResult` to a struct
[code]
And the signature is still
[code]
We might add more fields to `SolutionResult`, like `computation_time`.

- We add a data field `std::vector<string> names_` to `Constraint` class. The length of this vector is `num_constraint

[2016-10-18 04:21] hongkai-dai commented on #3778
This solver issue is also discussed in #3817

[2016-10-18 07:23] hongkai-dai commented on #3052
This is fixed in #3792

[2016-10-18 07:23] #3052 closed

[2016-10-18 08:49] wxmerkt commented on #3397
https://github.com/lcm-proj/lcm/pull/128 is in so upstream LCM has Python fixed and this issue should be resolved by bumping LCM to the most recent master. Matlab bindings are still broken modulo https://github.com/lcm-proj/lcm/pull/137 and there isn't a fix for lcm-spy/bot-spy yet.

[2016-10-18 12:06] sammy-tri commented on #3817
:facepalm:  I forgot Constraint is multiple constraints (of size num_constraints).  I think we're on the same page.  My apologies for dragging it out so long.

[2016-10-18 13:43] patmarion commented on #3732
I've included code in https://github.com/RobotLocomotion/drake/pull/3830 that extends the RigidBodyTree::getTerrainContactPoints() method to take an optional group name.  When merged, this issue will be resolved.

[2016-10-18 15:56] MoyinOtubela commented on #3814
I just realized that I didn't run your tests correctly and the error is still present. I somehow forgot to source ROS in one of the steps. You can notice this by examining my earlier screenshot. There was no change to the LD_LIBRARY_PATH to ROS as printed earlier:

"
with ROS sourced:
moyin:build$ echo $LD_LIBRARY_PATH
/opt/ros/indigo/lib:/opt/ros/indigo/lib/x86_64-linux-gnu::/home/moyin/Downloads

[2016-10-18 16:17] jamiesnape commented on #3814
IIRC, the problem is the wrong header file rather than the wrong library. We will investigate.

[2016-10-18 17:28] samkhal opened #3837 "MEX debugging: gdb segfault on read from JNA deleted shared library"
I'm getting a mex error running my code, and I'm trying to debug it. However, gdb is crashing due to, as far as I understand, java JNA libraries that are created and deleted at runtime. Here's my debugging process; anybody know how I can resolve this?

I set the build type to "Debug" with `ccmake`.
[code]

The segfaults are irregular and unexpected, but come soon after the BFD message. I assume ru

[2016-10-18 19:50] hongkai-dai commented on #3734
@Lucy-tri , sorry for being late in the discussion. I agree with what you said, that in `DirectTrajectoryOptimization` class, there should be two methods `ReconstructInputTrajectory` and `ReconstructStateTrajectory`, each method returns a `PiecewisePolynomialTrajectory` object.

[2016-10-18 20:05] david-german-tri opened #3839 "System2 State<T> should return references to its components, not pointers"
Possible once #3765 is resolved.

[2016-10-19 11:29] RussTedrake commented on #3837
debugging mex files with gdb is a nightmare (not our fault).  we've made it work with gdb rules which ignore certain "segfaults" on some versions of matlab/java, but have considered it impossible with others.  life is better in our c++ only workflow.

[2016-10-19 11:29] #3837 closed

[2016-10-19 13:59] liangfok opened #3841 "Translator for bot_core.robot_state_t Needed"
We need a translator that converts the kinematics result outputted by `RigidBodyPlant` into a [bot_core::robot_state_t](https://github.com/mwoehlke-kitware/bot_core_lcmtypes/blob/master/lcmtypes/bot_core_robot_state_t.lcm) message. This will enable the robot's state to be published on an LCM channel, which would then allow for the creation of interactive apps.

[2016-10-19 14:00] liangfok commented on #3841
This issue depends on a resolution of #3598.

[2016-10-19 14:37] jamiesnape opened #3842 "Skip Python and MATLAB during Valgrind builds"
Get CI working, allow developers to reproduce using ctest, document.

[2016-10-19 14:41] jamiesnape commented on #3842
FYI @david-german-tri.

[2016-10-19 14:42] jamiesnape commented on #3842
Need `--trace-children=yes --trace-children-skip=${comma_separated_list}`.

[2016-10-19 16:07] dhruba-chowdhury opened #3843 "ROA of Three link under-actuated system"
Hi I am tying to maximize the ROA of a three link under-actuated system and i am also using the controller as a decision variable
I wrote the following code and the problem i am facing is that some  eigen values  are positive of the linearized system matrix using the controller found using SOS
Could anyone help me with where i am wrong

degV  = 2; % Set degree of Lyapunov function
degL1 = 2; % Set

[2016-10-19 19:12] #3765 closed

[2016-10-19 20:58] sammy-tri commented on #3841
Does it depend on #3598 for a minimal implementation?  I wrote a simple System1 example which I only ever tested on the iiwa (and which lacked velocities and efforts), but that was sufficient for the amount of director interoperability I needed for basic planning.

[2016-10-19 20:59] sammy-tri commented on #3841
Example referenced above:

https://github.com/sammy-tri/drake/blob/director_ik/drake/examples/kuka_iiwa_arm/robot_state_publisher.h

[2016-10-19 21:02] liangfok commented on #3841
It depends on whether we want to reuse the existing `LcmPublisherSystem` and `LcmSubscriberSystem` systems. If we do, we need to wait for #3598 since that supports `AbstractValue` types. If we do not, then you're right, we do not need to wait for #3598.

[2016-10-19 21:09] sammy-tri commented on #3841
The example above populates the message from the vector valued output of RigidBodySystem.  I believe the vector valued output on port 0 of RigidBodyPlant is basically the same, so we would still be able to use LcmPublisherSystem and LcmSubscriberSystem?

(ignoring the parts not populated in my example)

[2016-10-19 21:13] liangfok commented on #3841
Oh yes, you're right. If we decide to use the generalized state output from the `RigidBodyPlant`, we do not need to block on #3598. We only need to block on #3598 if we decide to use the kinematics results output of `RigidBodyPlant`.

[2016-10-19 21:15] liangfok commented on #3841
If we decide to use the generalized state output from `RigidBodyTree`, the translator will need to maintain a pointer to the `RigidBodyTree` so it can re-derive the body poses. Is this OK?

[2016-10-19 21:17] sammy-tri commented on #3841
It's consistent with RigidBodyTreeLcmPublisher, and I don't personally object...  (the latter being neither a necessary nor sufficient condition)

[2016-10-19 21:21] liangfok commented on #3841
Yes, it would be consistent with [ViewerDrawTranslator](https://github.com/RobotLocomotion/drake/blob/master/drake/systems/plants/rigid_body_plant/viewer_draw_translator.h#L33).

Looking more closely at [bot_core::robot_state_t](https://github.com/mwoehlke-kitware/bot_core_lcmtypes/blob/master/lcmtypes/bot_core_robot_state_t.lcm), I'm now wondering what the "pose" and "twist" values are for. Is th

[2016-10-19 21:33] edrumwri opened #3845 "Adding infinity norm to VectorBase"
I want to add an infinity norm to VectorBase:

[code]

The compiler chokes on this when building the basic_vector_test, complaining that '>' comparison can't be applied to FunctionalForm and 'abs' can't be applied to Polynomial (god forbid I try to use the max function).

[2016-10-19 21:40] david-german-tri commented on #3845
From Slack discussion: This can probably be resolved with SFINAE on the `drake::is_numeric` trait

[2016-10-19 21:42] #3617 closed

[2016-10-19 21:42] david-german-tri commented on #3617
:confetti_ball:

[2016-10-19 21:51] sherm1 commented on #3845
I don't think it's a good idea for us to use SFINAE in routine code. Code like Evan wrote above ought not to be controversial! We are writing mountains of numerical code that is going to be full of basic numeric operations -- shouldn't all legal types T allow us to write such code unimpeded? It would be fine if they want to throw a runtime error under some circumstances, but as it is the code won'

[2016-10-19 22:00] david-german-tri commented on #3845
This is a proposed part of the framework; it's not routine, and the work that goes into it can't reasonably be characterized as a "tax on Drake programmers".  If Drake users want to implement a `NormInf` on some specific vector outside of the framework, and they're comfortable assuming that type will never be instantiated on a Scalar that is not part of the real line, nothing is requiring them to

[2016-10-19 22:08] sherm1 commented on #3845
Evan could easily have decided to compute that function locally rather than add it as a VectorBase method (although NormInf does seem like a useful addition here). In that case it would have broken in his garden-variety numerical code. Won't these problems crop up repeatedly in even the most mundane numerical code, for example in some limited or one-sided force element where a `max` or `abs` funct

[2016-10-19 22:13] david-german-tri commented on #3845
Not if that code is only instantiated for real-valued scalars, as would be appropriate.

That hasn't been decided.  It's currently muddled and controversial.  I have been meaning to try to clarify it, and I guess this thread is another good reason to start.

Even if we do have strict pre-instantiation, I do not believe that every Drake library has to support every Drake scalar type.  However, deep

[2016-10-19 23:22] samkhal commented on #3837
Sigh. Looking forward to the port.

[2016-10-20 02:10] jwnimmer-tri commented on #3845
TL;DR: We should add `min` and `max` as required scalartype operations, assuming that Autodiff supports them.  Then you can write `NormInf` on `VectorBase` in a straightforward way.

(1) I concur with what David has written so far -- the `SystemsFramework` library is central to systems design and analysis, so must support the maximal variety of scalartypes that Drake is involved with.  That does n

[2016-10-20 13:54] david-german-tri commented on #3845
This is a great point, and makes the rest of the discussion moot IMO.

For a while, I struggled with whether the nondifferentiable points in `NormInf`/`max` are really measure zero for all vectors, but I'm pretty sure I believe it now.  Cool!

[2016-10-20 14:03] bradking commented on #3845
So FunctionalForm should gain `min` and `max` operations?

[2016-10-20 14:10] david-german-tri commented on #3845
For the record, the argument I've used to convince myself.  I'm not a mathematician and this is probably garbage.

As Jeremy pointed out above, if the `max` of `Differentiable` functions is `Differentiable`, then so is the `NormInf`, so let's just consider `max`.

Let `{f_1(x)...f_n(x)}` be a set of almost-everywhere-differentiable functions from `R^N` to `R^1`.  The max of these functions is only

[2016-10-20 14:12] david-german-tri commented on #3845
Yep, I think so.  @edrumwri, would you agree that solves the original problem?

[2016-10-20 14:15] SeanCurtis-TRI commented on #3845
Generally, I don't believe the max of a vector is generally differentiable.  Even if each of the individual components varies smoothly, when one value pops up higher than the previous maximum value, you get a discontinuity in the rate of change of the max; in other words, at that moment, the derivative coming from negative infinity has a different value than the derivative coming from positive inf

[2016-10-20 14:16] david-german-tri commented on #3845
Only that `Differentiable`, for `FunctionalForm` purposes, is defined as "almost-everywhere-differentiable".

[2016-10-20 17:12] SeanCurtis-TRI commented on #3845
Again, my point is not about the data type that goes *into* max, but the max function itself.  Even if the inputs were infinitely smooth, max itself is only C0 continuous.  As long as that fact is accounted for, we're good.  But if we expect it to be differentiable we'll be disappointed.

[2016-10-20 17:16] david-german-tri commented on #3845
It seems like we're talking past each other, but I'm not sure what the disconnect is.  I agree, max is not everywhere-differentiable on smooth inputs, but it is almost-everywhere-differentiable, which is what matters here.

[2016-10-20 17:23] SeanCurtis-TRI commented on #3845
I was only responding to the quote:

I interpreted "Differentiable" as differentiable and was pointing out that the max function is not going to be differentiable; so the dependent clause is false, rendering the conclusion moot.  If "Differentiable" means piecewise differentiable, then I'm good.

[2016-10-20 17:30] edrumwri commented on #3845
Aside from @SeanCurtis-TRI's point (mathematically, I don't expect the max operator to be differentiable either, but I don't feel that I'm yet sufficiently aware of the programming implications), what about comparison operators and the abs operation? I'm concerned that the infinity norm is just the tip of the iceberg for vector arithmetic operations (i.e., that we'll have to keep revisiting this d

[2016-10-20 17:38] david-german-tri commented on #3845
You don't need comparison for `NormInf` if you have `min` and `max`, right?

As for `Polynomial`, @jwnimmer-tri is suggesting that we can drop support for it in `drakeSystemsFramework`, which sounds reasonable to me.  Feel free to delete the one test case in drake/systems/framework/test/basic_vector_test.cc that exercises it.

[2016-10-20 17:56] edrumwri commented on #3845
I'd need abs. I could make do with comparison and negation. Still concerned that we'll be revisiting similar issues repeatedly.

[2016-10-20 17:58] jwnimmer-tri commented on #3845
We already have `abs` throughout (just not Polynomial, which is why we are dropping it).

[2016-10-20 18:11] edrumwri commented on #3845
I see. Yes, this current problem will be resolved if I have a max operator.

[2016-10-20 18:27] bradking commented on #3845
Please see PR #3851 for an implementation of `max` and `min` for `FunctionalForm`.

[2016-10-20 19:41] liangfok opened #3852 "Mysterious Unit Test Error - Polynomial<double>("!") Failed To Throw Exception"
# The Error

[code]

# Example CI Test Logs

* https://drake-jenkins.csail.mit.edu/job/linux-clang-ninja-continuous-debug/797/

# Prognosis

Maybe there's something stochastic in this test? @jwnimmer-tri might have experienced it months ago. Not sure.

[2016-10-20 19:43] liangfok commented on #3852
I'm going to remove the CI label since I don't think this is specific to CI. I'll also update the title.

[2016-10-20 19:51] jwnimmer-tri commented on #3852
The test case calls the `Polynomial` constructor with a string argument of `!`.  This calls `VariableNameToId`, which calls `strchr` to find the index of `!`, which is not found so returns `nullptr`, which we then compute the distance from `kNameChars ` to `nullptr`, which is random based on the linker.  The DUT should directly raise an exception on an invalid name, instead of relying on the math

[2016-10-20 19:57] jwnimmer-tri commented on #3852
This is a fun one too, because it's not UB, just a bug -- so valgrind won't find it.

[2016-10-20 20:00] liangfok commented on #3852
Awesome. Thanks for finding the bug! What does "UB" stand for?

[2016-10-20 20:37] jwnimmer-tri commented on #3129
Next-up proposal... for C++ libraries that `bazel` knows about, teach CMake to obtain the list of sources from the `BUILD` file, instead of repeating the list in two places.

WIP at https://github.com/jwnimmer-tri/drake/tree/bazel-reuse2

[2016-10-20 20:40] hongkai-dai opened #3855 "fastqp_solver_test is testing snopt"
@RussTedrake , when I run `fastqp_solver_test.cc`, it actually runs SNOPT solver, at line 59
[code]
Could  you elaborate why we do not have a `FastqpSolver` class as `SnoptSolver`, and explicitly call fastqp solver?

[2016-10-20 20:54] jamiesnape commented on #3129
Not sure that is going to work. I am trying to work out if you would get extra cmake re-configures when file lists have not changed or not enough re-configures when they do change.

This is all kind of reversed when the purpose of CMake is to generate the build files for other systems. There is no bazel support now, but there could be.

[2016-10-20 21:15] jwnimmer-tri commented on #3129
When we discussed Bazel vs CMake a few months ago during the visit, the Kitware consensus in the room at that time was that Bazel is higher-level than CMake, and the one-feeds-the-other direction should go as I've done here.

In any case, what is the best solution in CMake for a list of library sources to be dynamically computed?  I had done https://github.com/RobotLocomotion/drake/commit/6a1a0421

[2016-10-20 21:16] jwnimmer-tri commented on #3129
The other option I've considered is to _fully omit_ the listfiles for core Drake (common, math, systems, solvers, etc.) and just have CMake delegate to bazel to build the core.  That is probably better long term, but I was hoping to get there incrementally.

[2016-10-20 21:18] jamiesnape commented on #3129
That would certainly be cleanest.

[2016-10-20 21:29] jamiesnape commented on #3129
Then CMake would provide an external interface for CMake consumers, build CMake externals, and other legacy code. We have integrated with external tools like Ant and Gradle for Java before, so this may not be that different.

[2016-10-20 21:32] Lucy-tri commented on #3734
I've created a PR for a new C++ class Trajectory and a child PiecewisePolynomialTrajectory. You might want to wait for Sam' feature review before diving in, but here it is: https://reviewable.io/reviews/RobotLocomotion/drake/3856#-

[2016-10-20 22:27] hongkai-dai opened #3857 "DirectTrajectoryOptimization cannot add bounds on time intervals"
Based on the discussion with @Lucy-tri @sammy-tri on Slack channel.

Currently `DirectTrajectoryOptimization` can only impose the constraint on the **TOTAL** time of the trajectory, and also each time interval being non-negative. We need a function to add bounds on each individual time interval.

The simplest solution is to add the following function to `DirectTrajectoryOptimization`.
[code]

I be

[2016-10-20 23:34] RussTedrake commented on #3855
Because i want it to call gurobi when that is present!  :)

[2016-10-20 23:41] hongkai-dai commented on #3855
Excellent! I am turning on gurobi solver for this test.

But it does not run fastqp currently, instead it runs SNOPT, at least when I tested it on my local machine. Since there is not a branch to run fastqp in `MathematicalProgram::Solve`.

[2016-10-21 01:28] #3278 closed

[2016-10-21 02:15] #3545 closed

[2016-10-21 02:26] jwnimmer-tri commented on #3253
I think we can let `addpath_drake` remain where they are; it's not worth disrupting them, because they are not in the way like the library code was.  I also think that I am content to leave `examples` alone as well.  Thus, once #3861 merges, I think the issue can be closed, modulo a final sanity-check pass.

[2016-10-21 10:54] naveenoid opened #3863 "Generalize Affine/LinearSystem for the discrete time case"
Following PR #3828 which can process continuous time Systems, we need to modify Affine / Linear Systems to also permit discrete time system description.

[2016-10-21 13:32] amcastro-tri commented on #3608
We finally decided with @sherm1 and @RussTedrake to go ahead and template on `<T>` the whole RBT. The biggest motivations being to support auto-differentiation with respect to parameters and lumped parameters estimation. That is part of my planned work for this quarter. As a consequence, this will also solve this issue and the Doxygen issue. Therefore, I will assign this to myself now.

[2016-10-21 13:39] liangfok commented on #3608
Sounds good! Are you going to adopt the [-inl.h](http://drake.mit.edu/cxx_inl.html#three-file-inl-h-pattern-approach) pattern?

[2016-10-21 13:49] liangfok opened #3865 "Factor out a `KukaIiwaPlant` from `KukaIiwaArmDynamicsSim` and `kuka_demo.cc`"
This is to avoid code duplication.

For context, see: https://github.com/RobotLocomotion/drake/pull/3745#issuecomment-255381050

[2016-10-21 13:50] jamiesnape commented on #3129
(Might be an idea to create a ticket for that and assign it to Kitware since we have done similar many times before.)

[2016-10-21 13:52] sammy-tri commented on #3865
I've got a 3rd (at least?) version of the mostly-duplicated code in one of my branches too.  Not sure how close I am to a PR, but I'll avoid worrying about de-duplicating locally if you're working on a generic version already.

[2016-10-21 13:55] liangfok commented on #3865
Yes, please go ahead and proceed with your 3rd duplicate. We'll factor out a `KukaIiwaPlant` from all three once we get around to addressing this issue.

[2016-10-21 13:56] jwnimmer-tri commented on #3129
Yeah.  I have to give more thought and discussion to the optimal path forward.  For now perhaps I'll just keep the two spellings of the list-of-sources duplicated.

[2016-10-21 14:01] jamiesnape commented on #3129
Sure. My general opinion is that whatever the merits of Bazel or CMake, having two build systems duplicating each other or working in unusual ways to accommodate each other is going to cause a lot of extra maintenance at best, confusion or bugs at the worst. I also think there is some scope for upstreaming some useful Bazel support to CMake which might make things easier.

[2016-10-21 14:21] SeanCurtis-TRI commented on #3741
So, in trying to use this, I encountered an issue (that I've only been intermittently been able to reproduce.)  However, the error is related to known gcc bug:

https://gcc.gnu.org/bugzilla/show_bug.cgi?id=57728

In simple terms, the error is this: using the `extern template` declaration can interfere the creation of default methods (i.e., copy constructors and assignment operators).  Clang and gc

[2016-10-21 14:28] amcastro-tri commented on #3608
Not sure about that yet. @sherm1, didn't you have at the time an alternative solution to this? I remember some code from you in `simulator.h` [here](https://github.com/RobotLocomotion/drake/blob/348e8f73df8b5ed25539c41cc7f8a2993419fc83/drake/systems/analysis/simulator.h#L239) but removed by @jwnimmer-tri's PR #3802.

[2016-10-21 14:31] jwnimmer-tri commented on #3481
I would like to suggest that this is an important priority.  (At least, once #3253 is finished, which should be within a week.)  The code is hefty enough (in terms of number of files, build time, and maintenance) that we should give it a new home as this issue suggests, and it seems smart to do that before we ramp up even more effort on improving this piece of the toolkit.  Having it outside of `d

[2016-10-21 14:32] jwnimmer-tri commented on #3608
See #3741.

[2016-10-21 15:02] amcastro-tri commented on #3741
This was such an interesting discussion. Sad to hear gcc has this bug, I actually liked the `extern` approach, if it worked.
So it seems that for now we'd still be using the `-inl.h` pattern then?

[2016-10-21 15:03] amcastro-tri commented on #3608
Thank you @jwnimmer-tri! great read!. Still catching up after vacation.

[2016-10-21 15:07] amcastro-tri commented on #3743
I agree with you @liangfok. The reason I originally implemented the PID controller this way was during the sprint to test we could build complicated Diagram systems composed of Diagram's (the concept of Diagram being a tree of Diagram's). This PID controller was the simplest useful system example I came up with. That then led me to write the more complex controlled Kuka using @naveenoid's gravity

[2016-10-21 15:14] jwnimmer-tri commented on #3741
The style guide currently says prefer two-file if you can, or else fall back to three-file if you have some weird requirement.  That will be true until a PR changes the rules.

[2016-10-21 15:15] sherm1 commented on #3481
I like that idea. I would suggest `drake/multibody` as the directory name and nominate @amcastro-tri to do it, taking @jwnimmer-tri up on his offer to consult. What do you think, Alejandro?

[2016-10-21 15:24] naveenoid opened #3867 "Systems/Observers need porting over to Sys2.0 C++"
This is to start discussions on how to effectively port over the observers into Sys2.0 C++. I would like to take a crack at the LuenbergerObserver.m first especially given that Affine/LinearSystem has nearly landed. If any one else has ideas please note here.

[2016-10-21 15:50] #2754 closed

[2016-10-21 18:36] david-german-tri opened #3869 "kuka_demo test doesn't assert anything"
This makes it difficult to tell, after updating it for API changes, whether it still has the correct behavior.

[2016-10-21 19:42] #3751 closed

[2016-10-21 19:43] jwnimmer-tri commented on #3481
Per f2f with @amcastro-tri, I am going to list a few specific possible outcomes for where code would end up living, to help everyone agree on the end goal.  Stay tuned next week.

[2016-10-21 19:56] #3344 closed

[2016-10-21 19:57] david-german-tri opened #3873 "Provide valgrind pre-merge build, developer tooling, and documentation"
This checklist will evolve as I figure out what needs to be done.
- [x] Prevent valgrind from traversing MATLAB and Python.
  - [x] In CI. Done https://github.com/RobotLocomotion/drake-ci/commit/45a2d99e7b0c79088d75992d66e45839d8ec9de7 et. seq.
  - [x] In local builds
- [x] Fix the existing memcheck errors (see the [nightly build](https://drake-jenkins.csail.mit.edu/view/Nightly/job/linux-clang-ni

[2016-10-21 20:17] jamiesnape commented on #3873
Not possible as far as I am aware. CTest needs to be able to parse it.

[2016-10-21 20:28] david-german-tri commented on #3873
It looks like as long as `-q` is absent, `--log-file` is not a problem.  Updated the checklist accordingly.

[2016-10-21 21:09] jamiesnape commented on #3873
For developers, what do you want me to do about compiler flags? We basically run `-g -O1 -fno-omit-frame-pointer` on CI. I can add a CMake option that set the flags, simply document the flags, or allow developers to make their own decisions on flags and interpreting the output accordingly.

[2016-10-21 21:10] jamiesnape commented on #3873
`-O1` is not entirely necessary, of course, but it makes things more bearable.

[2016-10-21 21:19] david-german-tri commented on #3873
I think an option is the way to go, where the default matches CI.

[2016-10-21 23:05] edrumwri commented on #3845
Ok, am now getting a compile problem due to missing operator< (!!!) in Expression for symbolic::Expression.

In file included from /usr/include/c++/5/memory:62:0,
                 from /home/drum/drake/drake/../drake/systems/framework/primitives/gain.h:3,
                 from /home/drum/drake/drake/../drake/systems/framework/primitives/gain-inl.h:8,
                 from /home/drum/drake/drake/sy

[2016-10-21 23:15] jwnimmer-tri commented on #3845
The the new code calling `max` (using ADL, correct) or `std::max` (only defined for std types, so wrong)?  I believe the `NormInf` body should look like `using std::max; ...; foo = max(foo, bar);`.  Happy to help with gists / slack if I can.

[2016-10-21 23:32] edrumwri commented on #3845
Yes, I should have updated the fragment at the top to match my current code. Apologies!

[code]

[2016-10-22 00:03] jwnimmer-tri commented on #3845
Aha.  I think that code is correct, but we haven't added `max` to `SymbolicExpression` yet.  I lost that tidbit in the upthread discussion.  Sorry!

Here is a patch that gets you compiling:
[code]

@soonho-tri Would you like to prioritize a `max` / `min` feature patch to `SymbolicExpression`?  Otherwise I could get to it quickly too.

[2016-10-22 00:04] soonho-tri commented on #3845
There is `operator<(const symbolic::Expression& e1, const Symbolic::Expression& e2)`, but its return type is not `bool` but `symbolic::Formula`.

Both of `symbolic::Expression` and `FunctionalForm` represent functions whose values can be evaluated later. Let's say that you have `e1 = x + y` and `e2 = x - y`, without having assignments on `x` and `y`, it's meaningless to look for a Boolean value of

[2016-10-22 00:04] soonho-tri commented on #3845
Sure thing. I'll write one soon.

[2016-10-22 00:13] edrumwri commented on #3845
Thanks guys- you rock!

[2016-10-22 03:41] soonho-tri commented on #3845
@edrumwri, https://github.com/RobotLocomotion/drake/pull/3878 is merged. Please rebase your commits and compile again.

[2016-10-22 19:29] #3818 closed

[2016-10-22 19:32] hongkai-dai commented on #3867
LuenbergerObserver sounds a great start. What is the example you have in mind?

[2016-10-22 20:33] #3857 closed

[2016-10-22 22:43] #3852 closed

[2016-10-22 23:25] #3855 closed

[2016-10-22 23:49] hongkai-dai opened #3879 "BoundingBoxConstraint is parsed incorrectly in snopt_solver and and ipopt_solver"
This caused the problem in https://drake-jenkins.csail.mit.edu/job/linux-gcc-ninja-continuous-matlab-open-source/changes

Quick summary: if the bounding box constraint is imposed for a list of variables
[code]
In `snopt_solver.cc` and `ipopt_solver.cc`, what it actually imposes is
[code]
Namely, only `lb(0), ub(0)` are used, `lb(1), lb(2), ub(1), ub(2)` are not used.

[2016-10-23 18:55] RussTedrake commented on #3843
sorry... but we don't have the cycles to debug these for you.

[2016-10-23 18:55] #3843 closed

[2016-10-23 20:07] naveenoid commented on #3867
I did not have any clear example in mind except for sample problems in linear observer design. Any recommendations? I personally want to work towards KF/EKF..I figured this would be a perfect first step.

[2016-10-24 15:09] liangfok commented on #3647
Related project based on Qt5: http://discourse.ros.org/t/early-preview-plotjuggler-rqt-plot-and-rqt-bag-on-steroids/714/1

[2016-10-24 15:53] #3743 closed

[2016-10-24 16:18] liangfok opened #3884 "Consider Making BasicVector Overload `operator<<(string)`."
I currently need to do:

[code]

I would be nice if could do:

[code]

...by overloading [this method](http://www.cplusplus.com/reference/string/string/operator%3C%3C/).

[2016-10-24 16:20] david-german-tri commented on #3884
Feel free to do that.  I'm happy to review.

[2016-10-24 16:20] david-german-tri commented on #3884
However, note that this won't be useful with spdlog, which in general you should prefer to cout.

[2016-10-24 16:39] jwnimmer-tri opened #3885 "Add open-source builds in pre-merge CI"
We should add open-source builds to pre-merge CI.  As we get increasingly more work on the C++ solvers (optimizers) stack, it is increasingly risky that edits will break when run with a different configuration of solvers that the developer tested with.  Pre-merge currently only captures the "all" and "none" cases; the middle ground of "everything that's unrestricted" can show up in frequent post-m

[2016-10-24 16:41] jwnimmer-tri commented on #3885
(Even if we change the conventional unit-test-nerfing rules (e.g., only run a bunch of unit tests if gurobi and snopt are both installed, don't try to downgrade-to-nlopt/ipopt), we should still cover the open-source configuration in CI.)

[2016-10-24 16:43] jamiesnape commented on #3885
I am starting to think we should have builds with a single solver switched on in each case.

[2016-10-24 16:45] david-german-tri commented on #3885
#3883 was actually MATLAB-specific. I'd be in favor of turning on linux-gcc-experimental-matlab-open-source in pre-merge as an easy first step; then we can see what pain points remain.

[2016-10-24 17:21] sammy-tri commented on #3885
I think builds with individual solvers turned on might be excessive in terms of the amount of time to complete all of the builds.  In the tests which use the MathematicalProgram interface to directly test a solver, each solver is iterated explicitly (and skipped if not enabled in that build).  This is harder in cases like the current failure where the test that failed was a class which uses Mathem

[2016-10-24 17:29] jamiesnape commented on #3885
I should add, not on pull requests. Personally I think we have plenty on those already. It just depends how sensitive you are to build breakages.

[2016-10-24 18:46] jamiesnape commented on #3885
I have some non-MATLAB open source builds set up now. We should let them run through continuous/nightly for a cycle or two before promoting them maybe sometime Wednesday.

[2016-10-24 18:57] vtjeng opened #3887 "Test failures after installing Drake from source, urdf files seem to be missing"
I ran the full suite of drake tests (via ctest -VV) on an installation of Drake, and encountered a large number of test failures. I'm wondering whether anyone has context on these test failures.

I did not have an entirely clean installation of Drake - I had one that was last updated about a year ago. Would be happy to clean and re-do the whole installation process if that would be helpful.

From

[2016-10-24 19:02] liangfok commented on #3887
Yes, please start from a clean install following the [latest instructions](http://drake.mit.edu/from_source.html). Hopefully the above-mentioned errors will go away. If not, feel free to re-open this issue.

[2016-10-24 19:02] #3887 closed

[2016-10-24 19:11] vtjeng commented on #2739
For `drake/examples/pendulum`, I obtained the following policy and cost-to-go plots, which seem roughly correct as @samkhal indicates.

![policy, cost-to-go plot for pendulum](https://cloud.githubusercontent.com/assets/5932817/19659805/5023f460-99fb-11e6-9277-e471c26665bb.png)

However, rather than swinging all the way to the top as it used to, the pendulum appears to be stuck at approximately 30

[2016-10-24 19:28] hongkai-dai opened #3888 "Bringing SDP to Drake MathematicalProgram"
<H3> Challenge </H3>

For semi-definite programming problem, the problem setting can be quite different from other types of problems. The big difference is that
1. The decision variable is a symmetric matrix, not a vector.
2. The constraint "X is positive semi-definite" is not a constraint we can "evaluate", with smooth gradient.

<H3> Proposed Solution </H3>

1. Add a new type `SymmetricMatrix` t

[2016-10-24 21:33] #3884 closed

[2016-10-24 21:57] david-german-tri commented on #3873
I'm thinking we will need to exclude some tests from memcheck (notably, those that invoke optimizers) because they're just too slow.  Is there a recommended phrasing for that in CMake?

[2016-10-24 22:52] jwnimmer-tri commented on #3873
If you get the test `SIZE` set appropriately, it will automatically be run either pre-merge and/or continuous and/or nightly (and/or useful for developers who want to filter-by-size as well).

[2016-10-24 23:30] #3879 closed

[2016-10-25 01:21] liangfok opened #3899 "Generalize PidControlledSystem<T> To Support Plants With More Outputs Than Actuator Inputs"
The current implementation of `PidControlledSystem<T>` requires that the plant being controlled contain exactly twice as many output ports as input ports. This prevents `PidControlledSystem<T>` from working with `RigidBodyPlant` systems of models that have quaternion floating joints or are under-actuated. We need to somehow tell `PidControlledSystem<T>` which of the outputs should be used as part

[2016-10-25 01:27] jwnimmer-tri commented on #3899
While deeply unsatisfying, I think you could work around this with a Demultiplexer and Multiplexer block for now in the demo?

[2016-10-25 01:31] liangfok commented on #3899
Yeah, I could use a demultiplexer to split all 17 outputs into individual signals, and then use a multiplexer to combine some of them into the 6-vector feedback signal. For generality, I'm thinking about implementing a "selector" system that does this in one step. In this case, it'll take as a parameter a 27x6 selection matrix that selects which of the 27 input signals are outputted.

[2016-10-25 01:34] jwnimmer-tri commented on #3899
What is the simplest thing that could possibly work?

[2016-10-25 01:56] liangfok commented on #3899
I just realized that the "selector" system can be implemented using the `MimoGain` system, which is already part of #3886! I think wiring that into the existing `PidControlledSystem` will be the easiest way to resolve this issue.

[2016-10-25 12:16] #3598 closed

[2016-10-25 13:43] jwnimmer-tri opened #3901 "Move deprecated System 1.0 infrastructure to drake/system1"
We should physically separate deprecated System 1.0 infrastructure, both so that the new world is cleaner, and so that we can trivially identify in-tree code that's using deprecated APIs (e.g., `rgrep system1/`).

I have a branch ready at https://github.com/jwnimmer-tri/drake/tree/build-system1 with this change, and will PR once #3861 lands.

[2016-10-25 13:48] jamiesnape commented on #3873
@david-german-tri Assuming that there are in `enormous` range for sizing, for the moment, add `NO_MEMCHECK` to the end of the `drake_add_*_test` calls. It will be ignored for now, but I can add something as I am fixing up the compiler flags for developers.

[2016-10-25 14:22] david-german-tri commented on #3873
It looks like the memcheck build reports success in Jenkins once all the tests are passing, even if there are memory defects:

https://drake-cdash.csail.mit.edu/index.php?project=Drake&showfilters=1&filtercount=2&showfilters=1&filtercombine=and&field1=label&compare1=61&value1=jenkins-linux-clang-nightly-memcheck-valgrind-270&field2=buildstarttime&compare2=84&value2=now

vs

https://drake-jenkins.c

[2016-10-25 14:22] jamiesnape commented on #3873
Yes, that was deliberate.

[2016-10-25 14:25] david-german-tri commented on #3873
Why?  Seems like the opposite of what we want.

[2016-10-25 14:27] jamiesnape commented on #3873
It is now, but as there was no move to fix any of the defects it was just noise.

[2016-10-25 14:34] jamiesnape commented on #3873
Actually, I take that back, we are suppressing coverage errors, not memcheck. I will look into it.

[2016-10-25 14:42] jamiesnape commented on #3873
(don't fix that detect for now)

[2016-10-25 16:18] jamiesnape commented on #3873
Apparently `valgrind` passes down the return value of the program that it is simulating unless you pass it an option, and `ctest` is respecting that value. @BetsyMcPhail is looking at a fix.

[2016-10-25 18:23] edrumwri commented on #3481
I'm going to abstain from the discussion until I have a better idea of
drake's bigger picture. My head is still in the context of integrating
simple systems and my first opportunity to move up the stack won't be until
I get to guard function evaluation.

On Fri, Oct 21, 2016 at 8:15 AM, Michael Sherman <notifications@github.com>
wrote:

[2016-10-25 18:38] RussTedrake commented on #3855
Correct. That's still todo. And also depends on being able to extract the
active set information after the solve.

[2016-10-25 20:22] jwnimmer-tri commented on #3481
So I've done a quick look at this, though should do more after some other cleanup passes merge.

Option (A) will be something like:
 1. The new `rigidbody` is a higher dependency layer than `systems`.  (In other words, `rigidbody` will depend on `systems`.)
 1. The new `rigidbody` directory gathers together several related modules (libraries), detailed below.  I doesn't have to be a single monolit

[2016-10-25 20:26] jwnimmer-tri commented on #1965
Confirmed that post-#3278 the size of this problem is greatly reduced.  We should revisit it promptly after the legacy code is properly categorized.

[2016-10-25 21:18] sherm1 commented on #3481
The revised multibody code will have large non-System classes but those will have a dependency on Context since they will be employing the System 2 caching functionality. I would like to see that code under `drake/multibody`. This would include code descended from RBTree and its related classes -- let's call it MBTree for discussion.

Separately, there will be a System or Systems that make use of

[2016-10-25 21:24] david-german-tri commented on #3481
@sherm1's request seems consistent with @jwnimmer-tri's proposal to me (and also reasonable).

I do wonder if we can/should avoid that dependency with a proxy API.  But I'll wait for code on the table.

[2016-10-25 21:29] #3901 closed

[2016-10-25 21:32] sherm1 commented on #3614
Good idea. I revised the title and description of this issue accordingly, PTAL. I'm nominating `RawVector` as the replacement name for the guaranteed-contiguous vector formerly known as `BasicVector`. (This is the only VectorBase subclass from which you can obtain an underlying Eigen `VectorX<T>`.) Any objections or alternate proposals? I also considered `ContiguousVector` (seems too long?) and `E

[2016-10-25 21:36] david-german-tri commented on #3614
I'm OK with BasicVector -> RawVector.  I would prefer BasicVector -> ContiguousVector, or VectorBase -> AbstractVector, but it's your bikeshed to paint.

[2016-10-25 21:37] jwnimmer-tri commented on #3614
Naming is hard.  I think `RawVector` would be fine.  The only other possibly-better ideas I came up with are `DirectVector` or `SimpleVector` or just `Vector`.

[2016-10-25 21:43] david-german-tri commented on #3614
The more I think about it, the more merit I see in `ContiguousVector`.  `Raw` is kind of ambiguous.

[2016-10-25 21:55] RussTedrake commented on #3901
why not just zap it?  I think someone told me that “git remembers”.  anybody still using it?

[2016-10-25 21:56] david-german-tri commented on #3901
#3902 suggests there are a dozen or so usages remaining.

[2016-10-25 22:14] jwnimmer-tri commented on #3901
Right.  If I have permission to remove Atlas, Kuka, Pendulum, Automotive-MultiCar, Trajectory Optimization, and IK from the tree, I'm happy to nix System 1.0.  Otherwise, we now have a nice greppable burn-down list of items to port.

[2016-10-25 22:17] sherm1 commented on #3614
I would be happy with `ContiguousVector`. It is a bit long but certainly accurate and clear.

[2016-10-26 00:43] jwnimmer-tri commented on #2116
In #build we have talked about moving away from the Matrix plug-in, and instead just launching off ~6 required builds instead.  Assuming we're doing that (and I think we are), could we just add an Experimental ROS build to the required set and launch it pre-merge, without trying to get the ROS vs git vs Matrix yak shaved?

[2016-10-26 00:43] jwnimmer-tri commented on #2116
(I ask because lacking ROS coverage pre-merge is a huge pain for me, because I forget to keep enabling it on every single PR ever.)

[2016-10-26 01:37] hongkai-dai opened #3906 "Adding constraint/cost using symbolic expressions"
Based on a meeting with @soonho-tri , @ggould-tri and @sammy-tri , we decide to add initial support for constraint with symbolic expression. I summarize one tentative plan here:
1. Add two functions

[code]

   which takes symbolic expression/formula, the symbolic variables used in the expression/formula, and the corresponding decision variables matching for the symbolic variables.
2. Add a constr

[2016-10-26 02:17] hongkai-dai commented on #2169
won't fix

[2016-10-26 02:17] #2169 closed

[2016-10-26 02:18] #2768 closed

[2016-10-26 09:23] soonho-tri commented on #3906
Thanks @hongkai-dai for the nice summarization. This agrees with what I think.

Yes.

[2016-10-26 13:27] jamiesnape commented on #2116
Yes.

[2016-10-26 13:48] amcastro-tri opened #3908 "Work on RigidBodyTree"
A checklist to keep track of the planned work on RBT this quarter. I'll keep updating as I move along.
- [ ] Template `RBT` on `<T>`. PR first a templatization on a dummy scalar type `<T>` and replace occurrences of `RBT` with `RBT<T>`. Functionality is left intact. Methods are still templated on `<Scalar>`. Parameters are still `double`. See #3987 for details.
  - PR #3940 merged.
- [x] Clean up

[2016-10-26 15:48] liangfok commented on #3899
I have a working prototype solution to this issue using `MimoGain` in the following WIP branch:

https://github.com/liangfok/drake/blob/feature/sys2_car_sim/drake/systems/controllers/pid_controlled_system.cc#L81

[2016-10-26 15:59] liangfok opened #3910 "Create a "IIWA World" Grasping Demo"
# Problem Definition
The current IIWA simulation does not include objects or a demo including the manipulation of objects. Building in this functionality will also be a useful exercise to drive the state-of-the-art in all aspects of Drake's simulation ability.  This task will be organised in a set of spirals similar to PR https://github.com/RobotLocomotion/drake/issues/3919

# Spirals
- [x] Spiral

[2016-10-26 16:59] naveenoid commented on #3910
I can also take a pass at this if you guys are immediately occupied.

[2016-10-26 17:01] liangfok commented on #3910
Great! I'm working on something else at the moment and will add you to the assignees list.

[2016-10-26 17:11] sammy-tri commented on #3910
@naveenoid If you could take on getting the initial world put together with the iiwa, the gripper, and an object all in the demo (even if nothing moves on a commanded trajectory), that would be great!

[2016-10-26 17:33] naveenoid opened #3913 "Time Varying Affine/Linear Systems"
There is a need to build upon #3828 to support time varying Affine/Linear systems. I am not sure how we can enable this functionality with System2.0.

[2016-10-26 17:35] liangfok commented on #3913
Two ideas I've heard so far:

1. provide the time-varying matrices and vectors through input ports.
2. provide a function as an input parameter that supplies the time varying matrix and vector values.

[2016-10-26 18:31] sherm1 commented on #3910
Please let @SeanCurtis-TRI know if the current contact code isn't getting the job done!

[2016-10-26 18:34] liangfok commented on #3910
@naveenoid, once you get started, please point us to your WIP branch. Let's try to make this a "micro sprint" where multiple developers cooperate to speed up the creation of the initial PR.

[2016-10-26 18:48] liangfok commented on #3258
I have a WIP feature branch where I've converted `car_sim_lcm` to System 2.0:

https://github.com/liangfok/drake/tree/feature/sys2_car_sim

Using System 2.0 and Simulator 2.0, I'm able to drive the vehicle defined by `prius_with_lidar.sdf` at 2m/s without it flipping over:

[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/dWO67W8RSZ0/0.jpg)](https://www.youtube.com/watch?v=dWO67W8RSZ0)

There's

[2016-10-26 19:43] sherm1 commented on #3258
@edrumwri's PR #3876 will add a variable step integrator to Simulator 2 that should prevent stability problems (by taking small steps if necessary).

[2016-10-26 20:11] amcastro-tri commented on #3493
I would add to this that probably a good idea would be to have separate files/classes/methods for parsing `RigidBodyTree`'s and for parsing `RigidBodyPlant`'s.

[2016-10-26 20:31] liangfok commented on #3493
From a F2F meeting with @amcastro-tri, I understand the desire is an option where the parser only returns _one_ of the simulation objects (i.e., `RigidBodyPlant`, `RigidBodySensor`, and `RigidBodyForceElement`, etc.) as opposed to _all_ of the objects. This should be trivial to achieve through parameter flags.

[2016-10-26 20:57] amcastro-tri opened #3916 "Templating RBT requires templating parsing methods."
Working on the first item of the checklist in #3908 (dummy templatization of `RBT` on `<T>`) I found the following problem:

URDF parsing is done with a collection of methods in `parser_urdf.h`/`parser_urdf.cc`. All these methods take as an argument a `RBT`. If I template `RBT` on `<T>` this implies the methods defined in `parser_urdf.h` become now template methods. Therefore the implementations i

[2016-10-26 21:07] david-german-tri commented on #3916
This seems pretty reasonable to me, given that URDF only expresses doubles.

[2016-10-26 21:25] sherm1 commented on #3493
Better IMO to parse once from file into memory, then provide accessors that RBPlant etc. can use to construct themselves. The parsers should not have to know how we split up the various objects among our classes since that can and will change.

[2016-10-26 21:38] liangfok commented on #3493
Agreed. This gets back to the "intermediate representation" discussion where the intermediate representation decouples the information contained within the modeling files and the simulation objects that are instantiated based on this information. As a first cut, we'll probably end up with the intermediate representation _being_ the simulation objects. However, over time, we may end up deciding to

[2016-10-26 21:40] sherm1 commented on #3916
I don't think the parser should be templated at all. This is another of the many reasons we need to decouple the parser from its clients. The parsers should convert the external files into an in-memory data structure from which we can build RBPlant, RBTree, Sensors, and whatever else. We don't need to differentiate or analyze the parsers so they shouldn't be dragging our template baggage along!

[2016-10-26 21:55] david-german-tri commented on #3916
@sherm1, I think your post conflates two issues:

I think this is the main issue, and we completely agree.  @amcastro-tri's first suggestion meets that requirement.  The parser can emit and operate on `RigidBodyTree<double>` without itself being templated on anything.

This seems like an orthogonal proposal.  It might or might not be useful to develop a brand-new IR, instead of parsing directly to

[2016-10-26 22:12] sherm1 commented on #3493
A plausible parser target would be the in-memory tinyXml2 form of SDF! That may already have all the ingredients we need. If we can parse both urdf and sdf into that form, we could use it as an in-memory intermediate right now. Maybe someday we would want something fancier but it wouldn't have to be more than that to decouple parsing from construction. We could wrap a thin parser API over it to hi

[2016-10-26 22:15] sherm1 commented on #3916
Thanks, @david-german-tri -- I agree I had those unnecessarily entangled.

[2016-10-26 22:17] liangfok commented on #3493
Yes, I think it's possible and makes sense, but perhaps as a second spiral. This is because simply consolidating the parsers that are currently in `RigidBodySystem` and `parser_xxx` into `parser_xxx` will be a good first spiral since that'll at least physically decouple the parsing code from the simulation object code. We can then work on modifying the parsers to emit a TinyXML2 representation of

[2016-10-26 22:18] amcastro-tri commented on #3916
Thank you for your feedback on this. Right now in order to be able to move forward what I did is to `typedef RigidBodyTree<double> RigidBodyTreed` and find/replace `RigidBodyTree` by `RigidBodyTreed` in the parsing files. That works so far and I'm starting to lean towards adopting that solution.

[2016-10-26 22:18] liangfok commented on #3916
For the first spiral, I recommend modifying the URDF and SDF parsers to only work with `RigidBodyTree<double>`. We can then think about whether we want to fully decouple the parsers from the simulation objects through an intermediate representation like XML in a future spiral. Note related conversation in #3493.

[2016-10-26 22:19] jwnimmer-tri commented on #3493
I think tinyXml2 would be an awful IR.  Have you looked at its APIs?  Yuck!  Half of the crappiness of the current parsing code comes from using tinyXml in the first place.  If XML is your one true god, then something like http://www.codesynthesis.com/products/xsd/ would be vastly superior to tinyXml.

[2016-10-26 22:20] liangfok commented on #3493
Agreed. In addition to API issues, another problem is it does not provide line numbers, which makes it difficult to provide useful error messages when problems occur while parsing the XML.

[2016-10-26 22:36] sherm1 commented on #3493
I know it has an awful API. But there is so much benefit to having an IR I'd take anything over nothing! A bespoke thin accessor API in the parser for the few objects of interest could hide the IR details.

XSD looks slick, but I've had bad luck with heavyweight XML libraries before (Xerces in particular). OTOH, I've been very happy using a nice API hiding an ugly TinyXML implementation.

[2016-10-26 22:50] jwnimmer-tri commented on #3493
I guess I misunderstood the proposal.  I thought it was to use the tinyXml APIs.

[2016-10-27 00:02] sherm1 commented on #3493
No, my bad. I was getting desperate so did say

I'm sorry! I take it back!

[2016-10-27 01:24] tkoolen commented on #3916
Just my two cents: I actually would templatize the function that parses the URDF on the scalar type, i.e. what I did here: https://github.com/tkoolen/RigidBodyDynamics.jl/blob/d018d2649ace6f77274a364dc75a7c14e1bb729f/src/parse_urdf.jl#L90

Just conceptually, double shouldn't get special treatment in my opinion. It's also slightly less convenient for the user to create a non-double version if it is

[2016-10-27 01:26] tkoolen commented on #3908
I mentioned this before, but I would really recommend moving these to `KinematicsCache`, so that the cache elements inside of it no longer need to be exposed, and so that it can be merged back with `KinematicsResults` again.

[2016-10-27 01:28] tkoolen commented on #3908
See also https://github.com/RobotLocomotion/drake/issues/1476.

[2016-10-27 02:14] liangfok commented on #3916
I would be OK templating the parsers on a scalar type as long as the implementation is in `.cc` or `-inl.h` files and we explicitly instantiate and document the types we support.

[2016-10-27 04:20] liangfok opened #3919 "Generalize AutomotiveSimulator To Support Multi-Body Vehicles"
# Problem Definition

[AutomotiveSimulator](https://github.com/RobotLocomotion/drake/blob/96090268a98d317e2725b3894be6a7cd0e530a43/drake/automotive/automotive_simulator.h) only supports "box" vehicles, i.e., vehicles that consist of a single rigid body. For simulation and visualization purposes, we want to be able to load and visualize complex multi-body vehicles that look like actual vehicles.
#

[2016-10-27 10:29] naveenoid commented on #3910
Awesome..Will do!

[2016-10-27 13:29] amcastro-tri commented on #3493
I really like the idea of using some xml representation as our IR. I do agree with @sherm1 on that heavy lifting xml parsing libraries end up being a headache (I also used xerces in the past, bad decision).
What I did you in the past that offered all the capabilities that these heavy lifting libraries promise is `expat`. Expat is most likely even installed in your system already, it's super standa

[2016-10-27 13:37] amcastro-tri commented on #3908
Thank you for that list @tkoolen!
Regarding your proposal, I was actually thinking more like the `KinematicsCache` would be this object the user needs to drag around representing the state of the world but the user actually doesn't really know what it is or how to interact with. The user would rather interact with it performing queries on it through `RigidBodyTree`. For instance, something like `c

[2016-10-27 13:42] amcastro-tri commented on #3916
I see your point @tkoolen. However I have to say that I agree with the points stated by @sherm1 and @david-german-tri. I dont think it is necessary for our parsers to drag along with templated implementations since they never make use of it. That would unnecessarily complicate their coding not to mention their explicit instantiations.
I agree now that it is good enough for parsers to just emit a `

[2016-10-27 13:42] liangfok commented on #3493
Bad XML formatting can probably be handled via the parser's fail-fast semantics, e.g,. the parser aborts immediately upon encountering it.

The rest of the failure modes require more finesse. Some can be detected while parsing an individual file. Others can only be detected after the parsing of all files and programmatic tweaks are complete, like during a "build simulation world" phase.

[2016-10-27 14:35] liangfok opened #3922 "Replace Gain with MimoGain"
`MimoGain` is a generalization of `Gain` and thus should replace `Gain` under one condition:

_`MimoGain` must provide a constructor that makes it look and behave like `Gain`._

This is a follow up of #3917.

[2016-10-27 14:37] jwnimmer-tri commented on #2116
Could we add this new Required build now through a simple tickbox or something, without having to dematrixify the PR builds yet?

[2016-10-27 14:40] david-german-tri opened #3923 "Alert/fail if the number of tests drops precipitously."

[2016-10-27 14:41] david-german-tri opened #3924 "Enable CMake strict mode"
If a variable is undefined, we would like CMake to fail.

[2016-10-27 14:56] david-german-tri commented on #2116
:+1: - build/CI subteam just agreed to do this in weekly meeting.

[2016-10-27 15:32] naveenoid commented on #3922
As stated on slack..I would also rename MimoGain to Gain after building it suitably. Followup PR perhaps?

[2016-10-27 15:38] liangfok commented on #3922
Yes, I think MimoGain should go in first, then we combine the two in a future PR.

[2016-10-27 16:40] sherm1 commented on #3908
And I would like us to get to the point soon where we are literally using the System 2 Context in the RBTree API (in place of KinematicsCache), so that we don't have two separate caching schemes and a bunch of unnecessary pack/unpack/copy operations.

[2016-10-27 16:48] sherm1 commented on #3493
Producing nice error messages from parsing is likely to be an ongoing effort -- a first cut could be just to drop dead on anything bad. Subsequent refinement could be independent of the parse-to-a-simple-IR step.

[2016-10-27 16:57] #3676 closed

[2016-10-27 17:16] naveenoid commented on #3619
Fixed in #3828

[2016-10-27 17:16] #3619 closed

[2016-10-27 17:17] david-german-tri opened #3931 "Replace the matrix experimental build with a bunch of individual required builds"
This will make it easier to follow the history of each build, and to identify what failed in GitHub.

[2016-10-27 17:17] naveenoid commented on #2530
Definitely fixed by now.

[2016-10-27 17:17] #2530 closed

[2016-10-27 17:17] david-german-tri commented on #2116
This appears to be done.  Opened #3931 for dematrixification.  Closing this issue.

[2016-10-27 17:17] #2116 closed

[2016-10-27 17:18] david-german-tri commented on #2116
https://drake-jenkins.csail.mit.edu/view/Experimental/job/linux-gcc-experimental-ros/

[2016-10-27 17:19] naveenoid commented on #1490
Recent work from @hongkai-dai have superseded my work on Gurobi. Im closing this issue for now.

[2016-10-27 17:19] #1490 closed

[2016-10-27 17:20] tkoolen commented on #3908
That's the current status quo, and the bad thing about it is that the internals of the cache need to be exposed in this case (this being the main reason for the creation of `KinematicsResults`).

[2016-10-27 19:12] jamiesnape commented on #3931
In progress. Migration will be a stages.

[2016-10-27 22:35] shensquared commented on #3258
@liangfok  that sounds great. I'm also wrapping up my fix of `car_sim_lcm`, in which I think the issues we noted before are more or less fixed, and the car is able to ramp up to 60mph under 20s stably.

They currently live in https://github.com/shensquared/drake/tree/ss-fix-car-sim/drake/automotive, and the README file documents the commands needed to run the demo. Here’s the list of the issues an

[2016-10-27 23:20] maddog-tri commented on #3919
I suggest augmenting the "Spiral N" goals to give them visible feature goals, too --- e.g., "Prius with static wheels" for Spiral 1, "Prius with steerable wheels" for Spiral 2.  (Maybe 3 becomes RPY+multi-DOF joints, with "Semi-trailer truck with steerable wheels and articulated trailer"?)

[2016-10-28 11:02] liangfok commented on #3922
I'll close this issue because it was pointed out to me that it may be useful to keep the two systems (`Gain` and `MatrixGain`) separate.

http://www-rohan.sdsu.edu/doc/matlab/toolbox/simulink/slref/gain.html

[2016-10-28 11:02] #3922 closed

[2016-10-28 13:13] amcastro-tri commented on #3258
This is so great! I am glad you are working on setting up this case with the right physical quantities corresponding to reality. Probably car and tires masses and sizes can be obtained from their corresponding manufacturer's specs?
It is reasonable to expect a change in time step when changing the physical properties. As a measure of what is needed to run a case like this? how many time steps does

[2016-10-28 13:43] amcastro-tri commented on #3916
We decided on parsers to only work on `RigidBodyTree<double>`. I will therefore mark this as resolved and close it. Thank you all for the helpful discussion.

[2016-10-28 13:43] #3916 closed

[2016-10-28 14:27] jwnimmer-tri commented on #3481
So my assignment here was to come up with the pros/cons of a few options and present them for the dynamics team to decide.  As it turns out though, I think option (A) is the only good option; are you folks happy with it?

Next step is for the dynamics team and Russ to decide if the directory is called `rigidbody` or `multibody`.  Maybe do that soon so we can move on?

The only other open discussio

[2016-10-28 14:49] RussTedrake commented on #3481
I'm fine with multibody.  But the bike shed must be blue.  :)

[2016-10-28 15:14] sherm1 commented on #3481
We wanted `multibody` so the bike shed can be soft!

[2016-10-28 18:06] rdeits opened #3945 "Indicator constraints in mixed-integer optimizations"
In mixed-integer programming, an indicator variable is a binary variable which is used to determine if a particular constraint should be active. The most common form is something like:

[code]

where `z` is a binary decision variable and `x` is another (continuous, binary, or integer) decision variable. We'll call that an "indicator constraint" since it uses `z` as an indicator variable.

We have

[2016-10-28 18:12] rdeits commented on #3945
As a first experiment, I tried creating a simple region-assignment problem (essentially a very basic footstep planner). The optimization tries to find x, y, and z near some goal, with the restriction that x, y, and z lie within one of a fixed number of convex planar regions. I then constructed that model in both the big-M formulation and the indicator variable formulation, and got the following ru

[2016-10-28 20:57] jamiesnape commented on #3931
Done.

[2016-10-29 01:25] RussTedrake commented on #3913
i was going to take a pass at this (to implement tvlqr) probably this weekend.

[2016-10-29 01:37] RussTedrake commented on #3945
could it be using the other trick :  x = sum_i x_if_boolean_i, yada?

[2016-10-29 02:36] rdeits commented on #3945
It's possible. Unsurprisingly, the gurobi manual doesn't go into much detail on exactly how they formulate these models.

[2016-10-29 05:23] hongkai-dai commented on #3906
@soonho-tri , I am thinking about the API of the symbolic expression. I feel the API I posted above is not very user-friendly. The disadvantage is that when adding constraint, it asks the user to give both the symbolic variables, and also the decision variables; so the user has to book-keeping the pair between these two variables. May I propose the following change?

1. Add a new type

[code]
2. A

[2016-10-29 15:01] sylviadai opened #3951 "Error when installing Gurobi"
Hi! I am installing drake from source and I followed the guide in issue #184 when installing Gurobi. After I finished the steps git clone and run make in gurobi, and then when I cd into drake and try to run make configure, I met the following error:

CMake Error at /usr/share/cmake-3.5/Modules/FindPackageHandleStandardArgs.cmake:148 (message):
  Could NOT find GTest (missing: GTEST_LIBRARY GTEST_I

[2016-10-29 15:43] naveenoid commented on #3951
@sylviadai ..the method for installing gurobi is described here : http://drake.mit.edu/from_source.html#using-gurobi-as-an-external
The method described in #184 is no longer valid.

[2016-10-29 15:58] liangfok commented on #184
Note that this method of installing Gurobi is no longer valid. For the new method, see: http://drake.mit.edu/from_source.html#using-gurobi-as-an-external.

[2016-10-30 03:01] RussTedrake opened #3952 "simulator needs a real-time mode"
I’ve heard it discussed, but wanted to make a ticket out of it.  We need support for having the integrator synchronize it’s clock with the system clock.

it should be easy.  the system 1.0 implementation is here:
https://github.com/RobotLocomotion/drake/blob/7b8abb4d670a1173336d73e9112e3e257dcffb17/drake/system1/Simulation.h#L44

[2016-10-30 03:15] liangfok opened #3953 "Mysterious warning: could not create compact unwind ..."
Here is the warning on my OS X 10.11.6 system:

[code]

I started to see this today, though I'm not sure if I simply didn't notice prior to today.

[2016-10-30 03:24] liangfok commented on #3952
FTR, here are two previous discussions on adding real-time factor support to Simulator 2.0:

https://reviewable.io/reviews/robotlocomotion/drake/3202#-KQ5QuavVi_hLXuHjKrv

https://reviewable.io/reviews/robotlocomotion/drake/3202#-KQ5StG9UV2NsbVT6yA6

[2016-10-30 03:33] liangfok commented on #3951
I'm going to close this issue assuming the link to the latest instructions solved the problem. Please feel free to re-open if the new instructions still don't work.

[2016-10-30 03:33] #3951 closed

[2016-10-30 03:42] liangfok commented on #3919
@maddog-tri, great idea. I updated the original post with visible feature goals. PTAL.

[2016-10-30 13:59] RussTedrake commented on #3952
thanks @liangfok .  @sherm1 -- given your feedback in those posts, let me clarify.  my ask is for slowing down the sim to real time speeds (not about emphasizing performance).  debugging even simple systems, like the pendulum, is very difficult when the playback in the visualizer is completely divorced from physical reality.  i personally get a lot of intuition from the physical real-time playback

[2016-10-30 15:14] soonho-tri commented on #3906
@hongkai-dai, I think it makes sense.

[2016-10-30 15:15] soonho-tri commented on #3906
`const SymbolicVariableVector MathematicalProgram::AddContinuousSymbolicVariables(size_t num_new_vars, std::string name = "x")`

One minor issue: we don't need `const` in the return type here unless you meant `const SymbolicVariableVector&` (`&` is added).

[2016-10-30 16:25] edrumwri commented on #3952
Russ, if you're intending this for visual inspection/debugging, why
would this slowdown functionality not belong in the visualizer? I
think this is the only place where it will be used. I anticipate that
the visualizer would listen for messages at the appropriate time and
then visualize them when they arrive, even if the simulator is now
working on simulating far into the future.

In the past, I'v

[2016-10-30 16:44] RussTedrake commented on #3952
I think it's more general than just for visualization.  For example, we may have controllers with dynamics that must integrate in real time to be compatible with real hardware.  Some other tools that we might want to interface with only know how to run at real-time rates.

[2016-10-30 20:41] sherm1 commented on #3952
@edrumwri and I had been tossing around the idea of creating a "SlowDownSystem" that could be added to a system Diagram. Its Publish() method would get called frequently and would delay until sim time matches real time. That would require no support from the Simulator.

At the moment I'm inclined just to add a slowdown option to Simulator, but I thought the slowdown System idea was kind of cool. A

[2016-10-30 20:51] RussTedrake commented on #3952
The slowdown system is actually exactly how i did it in matlab.  (But we called it a realtime block).  Either way works for me.

The logic in the system1 code is worth looking at.  Little details like warning (not erroring out) if we get behind realtime, and warning only once, took a few iterations to get right.

[2016-10-30 21:32] liangfok commented on #3952
Here is the system1 code: https://github.com/RobotLocomotion/drake/blob/528991b15b5486c5b0f4e1d1697a3ed29997bb50/drake/system1/Simulation.h#L100

[2016-10-31 00:24] RussTedrake opened #3956 "AffineSystem should implement LeafSystem<T> for multiple scalar types"
I took a look at replacing
`
template <typename T>
class AffineSystem : public LeafSystem<T> {
`
with
`
class AffineSystem : public LeafSystem<double>, public LeafSystem<AutoDiffXd> {
`
and got most of the way through doing it.  But there are a few small pain points\* that I worry are symptomatic of a larger resistance to this approach, so I wanted to make sure we discuss before I hammer them out.

[2016-10-31 01:09] sherm1 commented on #3956
@RussTedrake, I favor the approach I prototyped in #2840 which I think is much cleaner than multiple inheritance (which I can't make work all the way down through RBTree). The idea is to construct the entire System identically once per instantiated scalar type. All that we are missing for this to work now is automated conversion from `Context<double>` to `Context<T>` for other scalar types T. As I

[2016-10-31 01:22] RussTedrake commented on #3956
Great.  I remembered that proposal, but didn't know how specific it was to MBTree.  Is your thinking that it would be implemented (repeatedly) for every system of interest... like AffineSystem?  or that we would somehow be able to capture this at the System or LeafSystem level?

[2016-10-31 02:47] sherm1 commented on #3956
My intention is that support would be provided at the System/Context level. For the "manual" version, user code has to invoke the identical Diagram constructor once for each instantiation and keep the resulting Diagrams available. That doesn't require any System support, but we still need to support initialization of a `Context<T>` from a `Context<double>`. For the automated version we have to be

[2016-10-31 08:36] RussTedrake commented on #3956
this might actually be the right/shortest path for me to get lqr working with system2.  Would like to discuss it f2f today if possible

[2016-10-31 11:29] jwnimmer-tri commented on #3956
Ah, the transmogrify discussion has started up, before I got a chance to finish my draft on sparsity.  If I happen to be around for the discussion, I would be happy to participate.  I think the concept in #2840 (ask a system to transmogrify itself) is broadly correct.  The next details are (1) System member fields (of both non-Scalar, Scalar, and Scalar-dependent types) are the biggest challenge,

[2016-10-31 12:20] jwnimmer-tri commented on #3481
@amcastro-tri What do you think?  Ready to start on this relocation ASAP?

[2016-10-31 12:50] david-german-tri commented on #3956
At a high level, :+1: for the #2840 approach and :-1: for multiple inheritance.  Here are a couple of additional thoughts:

I think we can simplify further by dropping the goal of "alternates" and System transmogrification.  Specifically, I don't think this automation is useful as a framework feature:

 From a framework perspective, a `System` is const after construction.  There are literally no c

[2016-10-31 12:54] david-german-tri commented on #3956
Well, let me walk that back partially.  We might want to transmogrify a Diagram automatically by transmogrifying all of its constituent Systems, which perhaps was @sherm1's original point?  I have some implementation-detail questions about that which I will take to #2840, but in any case I agree with Sherm that it's not blocking for Russ's request.

[2016-10-31 13:02] amcastro-tri commented on #3481
I am happy with this plan @jwnimmer-tri, thank you for writing down the options. I would like however to wait until my PR #3940 lands. Otherwise it'd be a lot of work for me to merge with these changes. It should hopefully be ready for today.
Thank you all for your feedback.

[2016-10-31 13:09] amcastro-tri commented on #3952
I like the idea of a system as you suggest @sherm1, I also think it's a cool one. I vote up for `RealTimeBlock` or `RealTimeSystem` as @RussTedrake suggested.

[2016-10-31 13:18] david-german-tri commented on #2840
This is very slick!  I added a question about the copy constructor to the gist.  With that tweak, I agree this achieves two benefits that no other approach does:

- Auto-transmogrification of Diagrams.
- No requirement to carry around the various instantiations.

My question is: do those benefits justify the complexity, in particular the CRTP?  You could get the exact same transmogrifying behavior

[2016-10-31 13:51] jwnimmer-tri commented on #3952
If the resolution is to offer a `SlowDownSystem`, be sure that the simulator promises that `SlowDownSystem::Publish` will be invoked even when the system has no inputs and no outputs.  (In other words, it is an anti-requirement that the `SlowDownSystem` have inputs.)

It's also worth considering what happens when someone adds more than one `SlowDownSystem` to a `Diagram`.  I guess "don't do that",

[2016-10-31 13:53] jwnimmer-tri commented on #3481
Sure.  But note that this issue will be resolved by writing a shell script that performs the change, which is equally applicable to any version of master, so you could start prototyping and testing this fix now, even with other PRs in flight (yours and/or others').

[2016-10-31 13:54] david-german-tri commented on #2840
Also, we can add framework-level transmogrification on a closed set of types sans CRTP, which might be a compromise worth considering.

[2016-10-31 13:58] #2274 closed

[2016-10-31 14:00] david-german-tri commented on #3956
@jwnimmer-tri points out that framework-level System transmogrification is useful at least to FunctionalForm/SymbolicExpression for the default implementation of sparsity.

I'm increasingly in favor of framework-level transmogrification on a closed set of types, and system-level transmogrification on any custom types.

[2016-10-31 14:29] SeanCurtis-TRI commented on #3908
@sherm1 I'm a bit wary of this.  We'd talked about the need to be able to run RBT independent of the system 2 architecture. Would passing a System 2 Context instance be consistent with that?

[2016-10-31 14:37] david-german-tri commented on #3908
I haven't thought deeply about this, but I have the same knee-jerk reaction as @SeanCurtis-TRI.  Surely we can expose just some (set of) mutable pointer(s) to `AwesomeFutureKinematicsData`, which may or may not point into a System2 cache entry?

[2016-10-31 15:12] jwnimmer-tri opened #3960 "[META] Purge all System 1.0 code"
Tracking issue for all of the subtasks.  Edit this OP with the checklist:
 - [x] `examples/Acrobot` filed as part of #3975.
 - [x] `examples/Pendulum` filed as part of #3975.
 - [x] `examples/Quadrotor` filed as part of #3975.
 - [x] `examples/Atlas` filed as #3976.
 - [x] `examples/kuka_iiwa_arm` filed as #3977.
 - [x] `automotive` demos filed as #3978.
 - [x] `ros` demos filed as #3979.
 - [ ] `

[2016-10-31 15:18] sherm1 commented on #3952
Not that I would recommend it, but I don't think having multiple SlowDownSystems would be a problem. The first one's Publish() method would suck up all the extra time. The second one's would find the time even with real time so would return immediately. (Give or take a few microseconds.)

Calls to Publish() are uncorrelated with input/output ports. A SlowDownSystem wouldn't need either.

[2016-10-31 15:20] jwnimmer-tri commented on #3952
If `SlowDownSystem` has a configurable time scale factor (as System 1.0 did, and which will be a commonly-requested feature), then having multiple instances with different factors wouldn't be as trivial.

[2016-10-31 15:31] sherm1 commented on #3908
Most of the real value of the Context's caching utility won't be apparent until we are using it in RBTree, where really expensive things get calculated and reused frequently. Also, when an RBTree is used as a component in a System, most of the state variables and computational cost will come from the RBTree. I think it will prove much easier to do this directly in the RBTree API than to implement

[2016-10-31 15:54] edrumwri commented on #3952
A few more questions: do we actually want a "real time factor" (a la
Gazebo) or simply a mode where the simulation throttles itself to running
in real-time? And what are the accuracy requirements for the throttling?
I've had enough experience with timing on multi-user, multi-core,
non-realtime systems to know that different accuracy requirements entail
different solution approaches.

On Mon, Oct 3

[2016-10-31 16:08] sherm1 commented on #3952
Not *as* trivial, but pretty close -- the slowest one would always win.

[2016-10-31 16:56] sherm1 commented on #2840
Since gist comments don't send any notifications, I'll quote David here:

Yeah, that sounds like a better idea (except maybe for the word "Transmogrify"!). `CloneFrom(System<double>)` seems a little less terrifying.

I'm also not sure whether we need the `get_alternate()` layer but it's nice to know it can be done if we want to.

[2016-10-31 17:06] david-german-tri commented on #2840
OK, cool.  I'm working on a proof-of-concept PR for a closed set of types - specifically, `AutoDiffXd`.  It is much less code than this, but I don't think it closes the door on the more general approach if we need it.

[2016-10-31 17:08] david-german-tri commented on #3956
Regardless of all of the above, here's a thing that currently has me stumped: when upconverting a Context from `double` to `AutoDiffScalar`, how do we initialize the partials?

[2016-10-31 17:17] mwoehlke-kitware commented on #2861
This is fixed since @c716c67be346.

[2016-10-31 17:17] #2861 closed

[2016-10-31 17:29] jwnimmer-tri commented on #3899
I think this already has a PR, but I don't see it linked here?

[2016-10-31 17:30] jwnimmer-tri commented on #3429
Maybe close this, as unreproducible?

[2016-10-31 17:32] liangfok commented on #3899
Sorry. Linking now.

[2016-10-31 17:32] jwnimmer-tri commented on #3162
I think this will be ripe to fix as soon as the #3481 fix lands, and the Bazel support is a bit more mature.  The fix will either be "no change needed" or a simple rule relating directories to libraries.

[2016-10-31 17:34] jwnimmer-tri commented on #3919
I am hesitant to do some of the later spirals until we have GeometryWorld up and running.  The bespoke glue code to work around it is not worth too much investment.  We can accept glue code for demos we _need_, such as multi-car automotive demos, but we shouldn't add quadcopters and such until we have GeometryWorld.

[2016-10-31 17:37] jwnimmer-tri commented on #2631
Perhaps hand the library rename over to @amcastro-tri as part of the #3481 work?

[2016-10-31 18:11] liangfok commented on #3919
OK SGTM. Is there a PR #, issue #, or some other documentation I can reference to learn more about the aforementioned `GeometryWorld`?

[2016-10-31 18:20] liangfok opened #3966 "Update PidControlledSpringMassSystem To Use New Feedback Selector API"
This should be done once #3947 is merged.

Update this file: drake-distro/drake/systems/analysis/test/controlled_spring_mass_system/controlled_spring_mass_system.cc

It currently wires up a PID controller using primitive systems. Replace with this with `PidControlledSystem`.

[2016-10-31 19:07] jwnimmer-tri commented on #3919
I refer to you @david-german-tri who can help coordinate locally and/or refer you to the dynamics team.

[2016-10-31 19:44] sherm1 commented on #3956
Per f2f: Zeroes. Then caller uses `system_ad.usual_methods(context_ad, args_ad)` to set the autodiff weightings on the inputs of interest in `context_ad`, then calls `system_ad.eval_whatever(context_ad)`, then looks at the derivative part of the outputs.

[2016-10-31 19:52] sherm1 commented on #3919
Pinging @SeanCurtis-TRI for `GeometryWorld` commentary. My 2 cents: I would rather call this `SharedEnvironment` since it will ultimately include much more than geometry.

[2016-10-31 19:52] david-german-tri commented on #3956
Specifically, a partials vector of size zero; the caller/user-code needs to set the number of partials as well as their weighting, in accordance with whatever semantics the caller needs.

[2016-10-31 20:29] amcastro-tri commented on #2631
I can either do it in #3481 or separately. Either way I like the rename to `drakeRigidBodyTree`.

[2016-10-31 20:59] sammy-tri commented on #3906
I also think it makes sense.  Presumably an error would be thrown if the same symbolic variable was added twice, or if we added a formula with an unknown symbolic variable?  (or a formula with other issues which couldn't be expressed to the constructor of the appropriate constraint?)

[2016-10-31 21:04] hongkai-dai commented on #3906
@sammy-tri FWIW, I just implemented the feature in `MathematicalProgram` to handle linear constraint with duplicate variables. It combines the coefficients of the same variables and form a new variable list and the constraint. I will send that PR soon.

[2016-10-31 21:07] naveenoid commented on #3910
Updated the issue in anticipation of my first PR (coming soon). Comments welcome!

[2016-10-31 21:21] sammy-tri commented on #3910
Current edited version looks pretty much right to me.  We'll need to figure out if/how we want to split up the work once we get to spiral 2.  Looking forward to the PR!

[2016-11-01 00:37] jwnimmer-tri opened #3973 "Remove drake_export.h"
Per #3965, we need to bake some perl pie and remove the include file itself, as well as the `DRAKE_EXPORT` annotations.

[2016-11-01 00:52] #2272 closed

[2016-11-01 02:09] jwnimmer-tri commented on #1501
I can't tell if this is a matlab-only defect.  If so, we should label it as such and kick it back to RLG.

[2016-11-01 02:12] jwnimmer-tri commented on #2733
It seems like a website with this information would go out-of-date immediately.

Are the `CMakeListst.txt` annotations good enough for this now (to close the issue)?
https://github.com/RobotLocomotion/drake/blob/282d0576437ffae167aa8f37dcfa7ef1e7be5a48/drake/examples/Atlas/CMakeLists.txt#L32

[2016-11-01 02:21] jwnimmer-tri opened #3975 "Purge System 1.0 from Acrobot, Pendulum, Quadrotor"
Subtask of #3960.  Purge System 1.0 code from examples/Acrobot, examples/Pendulum, examples/Quadrotor.

If the resolution is to port to System 2.0 instead of deleting them, note that this includes creating a System 2.0-based LQR controller.

[2016-11-01 02:23] jwnimmer-tri opened #3976 "Purge System 1.0 from Atlas"
Subtask of #3960. Purge System 1.0 code from examples/Atlas.

[2016-11-01 02:25] jwnimmer-tri opened #3977 "Purge System 1.0 from kuka_iiwa_arm"
Subtask of #3960. Purge System 1.0 code from examples/kuka_iiwa_arm.

[2016-11-01 02:25] jwnimmer-tri commented on #3977
This involves several subtasks related to System 2.0 support of gravity compensation, etc, etc, but I believe that nothing else in #3960 porting will conflict or duplicate with that work, so I think this issue is an independent task from the others.

[2016-11-01 11:40] jwnimmer-tri opened #3978 "Purge System 1.0 from automotive"
Subtask of #3960. Purge System 1.0 code from drake/automotive.

This is just car_sim_lcm and multi_car_sim_lcm, and their shared helper car_simulation.

The one existing ROS use of a trivial method from car_simulation.h can just be inlined or forked or whatever; this should be independent of #3979.

To be clear: deleting code that depends on System 1.0 is a valid solution.

[2016-11-01 11:41] jwnimmer-tri opened #3979 "Purge System 1.0 from ROS integration"
Subtask of #3960. Purge System 1.0 code from drake-distro/ros.

This is mostly independent of #3978, since this code really only depends on RBS.

To be clear: deleting code that depends on System 1.0 is a valid solution.

[2016-11-01 11:44] #2273 closed

[2016-11-01 13:28] #3683 closed

[2016-11-01 13:43] jwnimmer-tri commented on #3253
Wrap-up checklist:
- [x] `find drake -name examples -prune -o -name thirdParty -prune -o -name matlab -prune -o -name doc -prune -o -name \*.m -print` is clean.
- [ ] Test with rm-rf matlab and make sure all C++ tests pass.
- [ ] Do we want to rework examples also?

[2016-11-01 14:10] jwnimmer-tri opened #3982 "Move matlab jar build logic into drake/matlab subdirectory"
There is some logic in `drake-distro/drake/CMakeLists.txt` that is matlab-specific, and thus should be moved into `drake-distro/drake/matlab/CMakeLists.txt`.

Roughly these bits...
[code]

The test case is to checkout drake, `rm -rf drake-distro/drake/matlab`, and then run the superbuild and ensure it passes (along with its tests).

[2016-11-01 14:18] jwnimmer-tri commented on #3253
One nitpick issue filed as #3982, otherwise this is done.  Closing the meta-ticket.  :100:.

[2016-11-01 14:18] #3253 closed

[2016-11-01 14:36] liangfok opened #3984 "Need drake_add_ros_package() CMake Function"
# Current Description

In `drake-distro/cmake/examples.cmake`, there is a function called `drake_add_example()`. I'd like a similar method called `drake_add_ros_package()` that differs in terms of adding a submodule to `drake-distro/ros/` instead of `drake-distro/drake/examples/`.

# Deprecated Descriptions

## Version 1
In `drake-distro/cmake/examples.cmake`, I would like to generalize function `

[2016-11-01 14:37] liangfok commented on #3984
@mwoehlke-kitware I assigned this issue to you since I believe you were the original author of `drake_add_example()`. Please feel free to reassign.

[2016-11-01 14:41] jwnimmer-tri commented on #3984
@liangfok What are you _actually_ trying to do?

[2016-11-01 14:49] liangfok commented on #3984
There is a private repository containing a ROS package that I need to add to Drake. I'd like Drake's build system to pull it in when the user executes something like the the following:

[code]

Since the repository is private, it needs to be by default `OFF`.

[2016-11-01 15:03] #3899 closed

[2016-11-01 15:09] liangfok commented on #3984
Thinking about this some more, I think I'd like to have a `drake_add_ros_package()` function that adds a submodule to `drake-distro/ros/`. It's less general than allowing the user to specify an arbitrary location, but I don't need the extra flexibility at this moment.

[2016-11-01 15:20] jwnimmer-tri commented on #1965
As part of the #3481 shuffle, we should fix the filenames when we move the files.  After that, only about a dozen other renames remain.

[2016-11-01 18:42] mwoehlke-kitware commented on #3984
I am trying to understand... why is this "like an example" (or even, "neither like an example *nor* like other externals") as opposed to "like other externals"? I could offer a more meaningful opinion if I knew...

[2016-11-01 19:19] RussTedrake commented on #1501
i believe that it was a matlab defect (but could happen in c++, too).  from memory: the failure is doing a "find first child with tag blah" with the xml parser could find a child of a child, which in this case meant something different.  we should be careful not to do that.

the matlab urdf parser is effectively deprecated at this point.  safe to close as "will not fix".

[2016-11-01 19:19] #1501 closed

[2016-11-01 19:26] #2364 closed

[2016-11-01 19:29] amcastro-tri opened #3987 "Template RigidBodyTree on <T>"
First check-box in #3908.
This work will be performed in several stages:

- [x] Dummy parametrization of `RBT` on `<T>`. PR #3940 merged.
- [x] Template `RigidBody` on `<T>`. PR #4124 merged.
- [x] Template `RigidBodyFrame` on `<T>`. PR #4406 merged.
- [x] Template `RigidBodyLoop` on `<T>`. PR #4418 merged.
- [x] Explicit instantiation on other types than `<double>`. PR #4419 merged for instantiat

[2016-11-01 19:52] liangfok commented on #3984
Sorry for being confusing. Let me think about this some more. I'll assign this issue to myself for now.

[2016-11-01 21:23] rdeits commented on #3906
Is it really necessary to have `FromSymbolicFormula` in the function name? Doesn't the type of the argument (`drake::symbolic::Formula`) imply that? I'm generally in favor of descriptive names, but this just seems redundant.

[2016-11-02 06:41] soonho-tri commented on #3906
@rdeits, I agree. The following should be enough:

[code]

[2016-11-02 10:11] naveenoid opened #3994 "Quadrotors need porting to System2.0"
# Problem Definition
The current Quadrotor example needs porting over to System2.0. Building in this functionality will also be a useful exercise to drive the state-of-the-art in several aspects of Drake's simulation ability as well as TrajectoryOptimization.  This task will be organised in a set of spirals similar to PR https://github.com/RobotLocomotion/drake/issues/3919

# Spirals
- [x] Spiral

[2016-11-02 10:24] RussTedrake commented on #3994
duplicate of #3975.  and not a high priority for the manipulation team.

[2016-11-02 10:29] naveenoid commented on #3994
@RussTedrake This issue was just a placeholder for a student of mine at ETH. I self-assigned since he is not yet a contributor. I guess we can follow the progress from #3975.

[2016-11-02 10:33] RussTedrake commented on #3994
sorry — i realized as I hit the button that my text sounded short.  :)  you can reopen and the duplicate is noted.

[2016-11-02 14:34] david-german-tri commented on #3924
@jamiesnape will take a look today

[2016-11-02 17:22] RussTedrake opened #3998 "rename SystemPortDescriptor.get_size() to size()?"
most other objects have the size() method

[2016-11-02 17:47] david-german-tri commented on #3998
I think there is a distinction here - the objects with `.size()` have storage, so the name is analogous to `std::vector::size`.  `SystemPortDescriptor`, in contrast, describes a thing with storage.

I don't feel strongly about it though, and am happy to make the change.

[2016-11-02 19:13] jamiesnape opened #4000 "valkyrie_balancing_system_test does not compile and valkyrie_balancing_test exceeds timeout"
Two bugs in play here. One is fixed by #3996 (`snopt_c_FOUND` was not defined), but it exposes a second:
[code]

https://drake-cdash.csail.mit.edu/viewBuildError.php?onlydeltap&buildid=171160

Also, `valkyrie_balancing_test` exceeds the timeout in debug mode.

[2016-11-02 20:20] david-german-tri commented on #4000
Why doesn't this show up in CI?

[2016-11-02 20:21] RussTedrake commented on #3998
agreed that there is a distinction, but get_size() doesn't convey any more information (but requires me or my editor to remember the difference)?  if nobody objects, my vote would be to change it?

[2016-11-02 20:24] jamiesnape commented on #4000
#3996

[2016-11-02 20:24] jamiesnape commented on #4000
snopt_c_FOUND was not defined. That test has never run.

[2016-11-02 21:29] david-german-tri commented on #4000
@jamiesnape is disabling both `valkyrie_balancing_test` and `valkyrie_balancing_system_test` in #3996 for now.

[2016-11-02 22:59] edrumwri opened #4005 "AutoDiffScalar needs isnan() and isinf() overloads"
This is necessary for adjusting step sizes in the context of variable step integration.

[2016-11-02 23:13] david-german-tri commented on #4005
Seems reasonable.  It should be pretty trivial to add this in https://github.com/RobotLocomotion/drake/blob/master/drake/math/autodiff_overloads.h mimicking the existing code.  Any particular reason for assigning it to me?

[2016-11-02 23:21] edrumwri commented on #4005
I was told that you had written the other code in autodiff_overloads.h, so I figured you "owned" the file. I'm happy enough to write it myself if you prefer.

[2016-11-02 23:29] david-german-tri commented on #4005
Some of it came from RLG, some from me.  If you need it on a particular timetable, probably best that you write it yourself.

[2016-11-03 03:04] jwnimmer-tri commented on #1987
I suggest WONTFIXing this, in lieu of #3129.

[2016-11-03 03:44] tkoolen commented on #3994
Would it make sense to just use a URDF + RigidBodyPlant instead of reimplementing the dynamics for this special case?

[2016-11-03 08:00] naveenoid commented on #3994
Thats exactly the plan. Will greatly simplify future work on this example.

On Thu, Nov 3, 2016 at 4:44 AM, Twan Koolen <notifications@github.com>
wrote:

--
Naveen Kuppuswamy, PhD
Researcher, Simulation and Control,
Toyota Research Institute, Cambridge, MA, USA.
Visiting Researcher, Robotics & Perception Group,
Department of Informatics,
University of Zurich, Switzerland.

[2016-11-03 09:55] RussTedrake commented on #3994
I consider the special case dynamics to be a useful unit test to ensure the dynamics (including force/torque input) are as expected.  Perhaps they can continue to exist in that capacity (in the same spirit as the pendulum test which checks the urdf dynamics vs the analytical dynamics)

[2016-11-03 10:06] Triton-11 commented on #3814
Hey guys, any update on this issue?
I had the exact same problem. I had drake working fine (MATLAB enabled). Then I installed ROS, tried do redo a clean drake superbuild and it failed because of the "Undefined Reference to createChild()" issue.
As suggested, I "unsourced" ROS in the bashrc file and the build was running fine again.
(Ubuntu 14.04.5 LTS, MATLAB R2015b 8.6.0.267246, ROS indigo, build

[2016-11-03 13:21] jamiesnape commented on #1987
I would suggest it anyway. This is not a CMake issue per se.

[2016-11-03 13:45] jamiesnape commented on #3814
Not yet, I am afraid.

[2016-11-03 14:01] liangfok commented on #3258
@shensquared, thank you for the analysis. I've updated the System 2.0 version of `car_sim_lcm` to use the correct conversion from user command space to actuator command space. This fix was part of the following PR:

https://github.com/RobotLocomotion/drake/pull/3886

Here are two videos showing the updated behavior using c35e036f14d02ce514dcff34ac15c8626b0ba93c.

The following video shows the vehi

[2016-11-03 14:02] jwnimmer-tri commented on #1987
Right, its not a CMake-specific issue.

However, my premise is that #3129 does not let us even write code that violates dependency layering, so creating a separate tool to enforce it would only be useful if #3129 was too long to wait for, and I don't think it is.

[2016-11-03 14:05] jamiesnape commented on #1987
I think you are confusing dealing with legacy code with the build system.

[2016-11-03 14:14] amcastro-tri commented on #3258
Actually I have another thought on how to choose the time step. The fastest dynamics in this case is the rotation of the wheels. You should make sure that your time step properly discretizes one revolution of a wheel at the cruise speed (or the maximum expected speed).
For instance, you should compute the angular velocity of the wheels at say, 60 mph, and then make sure that with that angular velo

[2016-11-03 14:23] david-german-tri opened #4013 "Remove TaylorVarXd"
It's redundant with AutoDiffXd.  Per @RussTedrake on #3967.

[2016-11-03 14:28] jwnimmer-tri commented on #4013
@RussTedrake Should _all_ of the  `TaylorVar...` names change to `AutoDiff...` names?  Is there any mnemonic difference between TaylorVar and AutoDiff?

[2016-11-03 14:35] david-german-tri commented on #3924
The flags are `--warn-uninitialized` and one other, which I can't remember.  @jamiesnape @billhoffman

[2016-11-03 14:35] david-german-tri commented on #3924
Also, we need to upgrade the warnings to errors.

[2016-11-03 14:38] edrumwri commented on #3845
Pull request #4006 shows that this has been addressed. Thanks!

[2016-11-03 14:38] #3845 closed

[2016-11-03 14:39] edrumwri commented on #4005
Addressed by pull request #4008

[2016-11-03 14:39] #4005 closed

[2016-11-03 15:13] sherm1 commented on #3258
@amcastro-tri, that's not the right way to think about wheel rotations. They aren't actually cyclic. In internal coordinates they have a more-or-less constant generalized speed v, that integrates into a more-or-less linear growth in q. They are numerically indistinguishable from a steady translation along a sliding axis. So the step size does not need to account for wheel rotation.

[2016-11-03 15:56] amcastro-tri commented on #3258
@sherm1, that is very true. I confused this much simpler problem with the problem of solving the fluid dynamics of an entire ship with rotating propellers. In that case the time step is chosen based on the rotational speed of the propeller since you need to resolve the smaller time scale features.

In this case it is true the time step won't affect things much for the wheels. That is actually good

[2016-11-03 16:38] #3258 closed

[2016-11-03 16:46] sherm1 commented on #3258
Yeah, definitely makes sense for propellers!

Angular momentum conservation is just an accuracy consideration here -- if the ODEs are integrated accurately it will be conserved. Best handled by @edrumwri's flashy new error-controlled integrator! But it won't choose small steps due to wheel rotation because those state variables will appear so harmless: vdot=0, v=constant, q=linear (roughly).

[2016-11-03 16:59] RussTedrake commented on #4013
all names can change.  there is no difference.  The two names exist simply because @tkoolen and I wrote things in parallel.  (TaylorVar was my choice to match matlab, which is obviously much relevant now).  This concession means that @tkoolen has won. :)

[2016-11-03 18:32] david-german-tri opened #4017 "Option to abort simulator if any state is inf or nan"
Forwarding from @jwnimmer-tri in automotive weekly meeting: it would be nice if the simulator had an option that caused it to inspect the state on every iteration, and abort if `inf` or `nan` appears anywhere.

[2016-11-03 18:37] sherm1 opened #4018 "Clarify distinction between spatial forces and wrenches"
A terminology finer point:
- a *spatial force* consists of two 3-vectors, a torque and a translational force
- a *wrench* is a specific kind of spatial force in which the torque component is an `r X f` moment of the force component

Every spatial force requires a contextually-specified frame in which the two 3-vectors are understood to be expressed, and at whose origin the translational force is c

[2016-11-03 19:01] sherm1 commented on #4017
I agree this would be a good option to have. Not a good default though, at least for continuous systems.

In continuous systems the state gets NaN'ed because the state derivative went bad. In a variable-step context the default response is to assume that the trial step was too big and pushed the underlying computation out of its defined domain. (This is one of the many ways an arbitrary derivative

[2016-11-03 19:07] sherm1 commented on #4017
Here's an example: I decide to use roll-pitch-yaw angles to parameterize a system that I know will never get anywhere near the singularity caused by pitch=pi/2. The integrator decides to take an overly-ambitious trial step that results in a trial state in which pitch is very close to pi/2. The derivative can't be computed correctly there, and the author had already determined that the trajectory w

[2016-11-03 19:14] jwnimmer-tri commented on #4017
I think only rejecting "committed" state updates that are Inf / NaN would be good enough.  It's really just meant to catch simple PEBKACs in developing new code, where something in EvalTimeDerivatives or EvalOutput divides by zero accidentally or whatever, and instead of failing-fast right now the simulation runs on and you're like "WTF why is my car doing that" only to see your math typo and NaN

[2016-11-03 20:03] jamiesnape opened #4019 "Remove dependency on MATLAB Image Processing Toolbox"
Per @RussTedrake in https://github.com/RobotLocomotion/drake/pull/4014#pullrequestreview-7089976:

[2016-11-03 20:05] jamiesnape opened #4020 "Remove dependency on MATLAB Statistics and Machine Learning Toolbox"
Per @RussTedrake in https://github.com/RobotLocomotion/drake/pull/4014#pullrequestreview-7089976:

[2016-11-03 20:17] jamiesnape commented on #3924
`--warn-unused-vars`, but, at first glance, it looks like that is introducing some unhelpful noise.

[2016-11-03 20:44] david-german-tri opened #4021 "System2 syntactic sugar from #4012"
- [x] `Context<T>::FixInputPort(Eigen)`
- [x] `Context<T>::FixInputPort(BasicVector)`
- [ ] `autoDiffToGradientMatrix(VectorBase)`
- [ ] `autoDiffToValueMatrix(VectorBase)`
- [x] `Context<T>::CopyContinuousStateVector()`

[2016-11-04 05:42] siyuanfeng-tri commented on #4000
I believe they are fixed in https://github.com/RobotLocomotion/drake/pull/3907, waiting for review to finish..
I apologize for the delay.

[2016-11-04 11:19] jwnimmer-tri opened #4025 "RigidBodyPlant needs named (vs numbered) output port getters"
See https://github.com/RobotLocomotion/drake/pull/3995#issuecomment-258405893

Users should never have to write `rigid_body_plant->get_output_port(0)`; the `0` is a magic number.  There should instead be an accessor like `rigid_body_plant->get_state_vector_port()` or similar.

Perhaps even the `get_output_port(int)` visibility should be narrowed in the plant, to encourage users to call the named a

[2016-11-04 14:56] sherm1 commented on #4025
I agree! There are several entities in System 2 that are crying out for names IMO:
- input and output ports
- subsystems
- parameters

I would like to see these with unique pathnames so that everything in a Diagram can be easily named.

[2016-11-04 14:57] jwnimmer-tri commented on #4025
String names are fine, too.  We also need (and this PR is about) compile-time-checked names.

[2016-11-04 15:05] liangfok opened #4026 "Need a Way to Visualize Diagram"
It would be nice to have a visual representation of a `Diagram`. Perhaps we can add a `Diagram::DrawDiagram()` method that returns a Graphviz `.dot` ~file~ string for visualizing it. This'll be similar to `RigidBodyTree::drawKinematicTree()`.

[2016-11-04 15:06] sherm1 commented on #4025
Oh. Sorry, I got excited and lost my mind. You just mean some handy enumszzzzz...

[2016-11-04 15:14] patmarion commented on #4026
It would nice if classes could export their input and output port documentation.  Most of this information has been carefully documented within code comments, but it could be formalized, so that you could extract this information either programmatically or via a doxygen mechanism would be awesome.  Programmers could give each input and output port a:

  - short descriptive name
  - longer document

[2016-11-04 15:16] david-german-tri commented on #4026
Both @liangfok and @patmarion's requests make sense to me, and I'd be happy to review, and/or get to it myself eventually.  (In the case of @patmarion's request,  a few more sentences of design might be a good idea before code.)

[2016-11-04 15:18] jwnimmer-tri commented on #4025
Well, enums are better that nothing, but still suffer from death-by-integer.  I think that `rigid_body_plant->get_state_vector_port()` is superior to `rigid_body_plan->get_output_port(RigidBodyPlantPorts::state_vector)`.

[2016-11-04 15:51] patmarion commented on #4026
I'll leave it to you to design, but I'll offer an example:

Current code found in kuka_simulation.cc:

<pre>
// This system has two input ports.  Input port zero is for the
// current state of the plant and input port one for the most recently
// received command.
class IiwaStatusSender : public systems::LeafSystem<double> {
 public:
  IiwaStatusSender() {
    this->DeclareInputPort(systems::kVect

[2016-11-04 15:56] patmarion commented on #4026
Just to clarify the motivation for having a formalized method to document input/output ports:  it would be so that when you draw the diagram you could have human readable labels attached to the ports.  Also, doxygen documentation could have a custom section that details the ports.

[2016-11-04 17:48] #3931 closed

[2016-11-04 17:48] david-german-tri commented on #3885
They've been promoted.

[2016-11-04 17:48] #3885 closed

[2016-11-04 17:53] david-german-tri commented on #2732
Since this is mysterious and unreproducible, I'm going to close it.

[2016-11-04 17:53] #2732 closed

[2016-11-04 17:59] david-german-tri commented on #2461
FYI, filtering CDash by revision always comes up empty for me.  Low priority, though.

[2016-11-04 18:01] david-german-tri commented on #2436
I don't know when it was fixed, but `numpy` now appears in the OS X and Trusty docs as well as the Xenial script.

[2016-11-04 18:01] #2436 closed

[2016-11-04 18:05] david-german-tri commented on #1958
I think we have gotten as close to this as it's possible to get with CMake.  Any further improvement will come from #3129.

[2016-11-04 18:05] #1958 closed

[2016-11-04 18:06] david-german-tri commented on #1747
Done in #3801.

[2016-11-04 18:06] #1747 closed

[2016-11-04 18:07] david-german-tri commented on #1586
I vaguely recall hearing that someone did this.  @patmarion maybe?

[2016-11-04 18:13] jamiesnape commented on #2436
https://github.com/RobotLocomotion/drake/commit/dafe7bc6cbc834de7e0a1f49d3cd3fc15b6c041 and https://github.com/RobotLocomotion/drake/commit/f42d6f2c9e6d77b15ae31ba2efc422d0102debac (March 23 / April 14).

[2016-11-04 18:15] jamiesnape commented on #2461
Seems fine. The nightly revision was 48de280b26b451458bbd2127a4d14cb435b315f4. Hence,
https://drake-cdash.csail.mit.edu/index.php?project=Drake&filtercount=1&showfilters=1&field1=revision&compare1=63&value1=48de280b26b451458bbd2127a4d14cb435b315f4

[2016-11-04 18:26] sherm1 commented on #4026
Could the necessary label & description just be stored in the C++ Diagram object and then retrieved by introspection?

[2016-11-04 18:26] liangfok commented on #4026
I prefer providing the port documentation through `System::DeclareInputPort()` and `System::DeclareOutputPort()` since it explicitly relates the documentation with the port and seems less brittle against changes in port numbers when ports are added and removed.

[2016-11-04 18:28] david-german-tri commented on #2461
Huh, OK, that link works.

[2016-11-04 18:28] #2461 closed

[2016-11-04 18:30] patmarion commented on #1586
drake-visualizer has code to support bot_core.planar_lidar_t and bot_core.pointcloud_t lcm messages.  I'm not aware of any demos in drake that publish these messages, however.

[2016-11-04 19:10] amcastro-tri commented on #4025
For the usage case in #3995 I think you are asking for methods in `RigidBodyPlant` that look more like `const SystemPortDescriptor<T>& get_generalized_forces_port() const` and `const SystemPortDescriptor<T>& get_state_vector_port() const`? essentially something I can pass to `DiagramBuilder::Connect(src_port, dst_port)?

[2016-11-04 19:12] jwnimmer-tri commented on #4025
@amcastro-tri Yes, exactly.  And then make the `get_output_port(int)` hidden on the RBP class, if possible.  (Users would have to upcast to System in order to call if, they really needed to.)

[2016-11-04 23:37] liangfok opened #4034 "Mysterious CI Error - could not lock config file"
# The Error

[code]

# Example Console Logs

* https://drake-jenkins.csail.mit.edu/view/Continuous/job/linux-gcc-ninja-continuous-matlab-debug/379/consoleFull

[2016-11-05 00:00] jwnimmer-tri commented on #4034
A prior example:
https://drake-cdash.csail.mit.edu/viewBuildError.php?buildid=169296
[code]

[2016-11-05 12:58] jwnimmer-tri commented on #3973
Ongoing use is causing compiler warnings (marking a symbol public when it already is).  I'm going to at least remove the use of the macro.  Then we can delete the file in a second step (to allow for easier downstream transitions).

[2016-11-05 20:17] liangfok commented on #3429
This issue just occurred in #4040. I will leave it closed for now unless it becomes more problematic.

[2016-11-05 23:32] liangfok commented on #3429
Since this issue just occurred in #4012 (https://drake-jenkins.csail.mit.edu/job/linux-gcc-experimental-ros/531/), I shall re-open this.

[2016-11-06 09:26] #4000 closed

[2016-11-06 21:07] RussTedrake commented on #3734
FYI - implementing the time-varying LQR solutions (it needs the integrator to compute the solution to the differential riccati equation, which then get’s looked up at control time) is currently blocked on this.

[2016-11-06 22:49] amcastro-tri commented on #2840
This is so great! I might start using the pattern proposed in #3967 very soon with RBT since when templating it on `<T>` I need to be able to get an `RBT<AutoDiffScalar>` for the auto-diff unit tests.

Also I think it is worth taking a look at the Matlab code to see what solutions were proposed there already. Those solutions go very well along what you guys are proposing! (though I think the propo

[2016-11-06 22:58] RussTedrake commented on #2840
@amcastro-tri -- the ToAutoDiffXd() (and ToSymbolicExpression) have been ordained as the way to go.  We've been writing code against them.  In fact, I was going to ask you about implementing ToAutoDiffXd() for RBT/RBP.  As soon as those exist, we'll be able to start using them for LQR and trajectory optimization.  :)

[2016-11-07 13:49] amcastro-tri opened #4044 "Implement RBT::ToAutoDiffXd"
The implementation of `ToAutoDiffXd()` (and similarly `ToSymbolicExpression()`, etc) has been ordained as the way to go per [discussion here](https://github.com/RobotLocomotion/drake/issues/2840#issuecomment-258718048) originated in issue #2840.

This is required for the completion of #3987 and in particular to allow porting auto-diff code such as the one in `rigid_body_tree_inverse_dynamics_test.

[2016-11-07 13:52] amcastro-tri commented on #2840
Thank you for the update @RussTedrake. I created #4044 and updated #3987 to include it. I think this will be needed very soon in order to complete the checklist in #3987.

[2016-11-07 14:55] jamiesnape opened #4045 "WORKSPACE license tracker"
This is a tracked issue and is kept open to permit cross-references and ensure that we actively monitor licenses.

---

Toward #1766.

^^ - GPL
^ - LGPL
! - Restricted
$ - System
???? - Unclear / Unknown [See Notes]

C / C++
--------
$ `blas` (for `dreal`, `scs`): BSD-3-Clause
$ `boost` (for `sdformat`, `yaml_cpp`): BSL-1.0
^ `bullet`: Zlib AND (BSD-3-Clause OR LGPL-2.1+ OR Zlib)
$ `bz2` (for `fre

[2016-11-07 16:06] jwnimmer-tri commented on #4045
BTW, this is a really helpful list, and I'm very glad to see it captured.

[2016-11-07 16:14] jamiesnape commented on #4045
@liangfok Could you confirm that `drake_cars_examples` is supposed to be MIT licensed?

https://github.com/RobotLocomotion/drake/blob/master/ros/drake_cars_examples/package.xml#L15

[2016-11-07 21:17] mitiguy commented on #4018
There are many qualiﬁers for forces which have meaning in a particular context, e.g., contact and distance forces, internal and external forces, workless and contributing/non-contributing forces, applied and constraint forces, normal and tangential forces, spring/damper/gravity force, etc.

I always use the qualifier "spatial" with "spatial force".

My preferred vocabulary:

"Real force" -- has tw

[2016-11-07 21:29] amcastro-tri commented on #3481
I am still unsure whether `rigid_body_plant` should be moved into `drake/multibody`. I feel more inclined to leaving it in `drake/systems/plants` as it is right now. That makes sense to me. Pros/cons?

[2016-11-07 21:30] jwnimmer-tri commented on #3481
It is more tightly coupled with the multibody classes than the framework classes.  It should go into multibody.

[2016-11-07 21:41] amcastro-tri opened #4062 "Remove dummy header files for Director post #4058"
To avoid breaking Director #4058 introduces a set of dummy files as described in RobotLocomotion/director#363. These files should be removed once RobotLocomotion/director#363 is resolved.

[2016-11-07 21:41] sherm1 commented on #3481
I agree with Jeremy -- let's put it under `multibody`.

[2016-11-08 00:52] jwnimmer-tri commented on #3397
I think we've bumped the hash recently.  Can this be fixed now?

[2016-11-08 00:58] jwnimmer-tri commented on #3426
I just happened upon this ticket, and thought I'd drop a little FYI that our beta Drake-Bazel build system supports this: https://github.com/RobotLocomotion/drake/blob/6c591ea1bbad36518900570a90d0f29f00027a43/drake/lcmtypes/BUILD#L15

Once I've removed / replaced CMake support for those LCM messages, then those `*.lcm` files can move around within the tree (i.e., not all have to be dumped into `dr

[2016-11-08 03:06] jwnimmer-tri opened #4065 "Put Eigen in MPL2 mode"
Eigen obeys an `EIGEN_MPL2_ONLY` define, which I suggest we set when using the superbuild, because it would be nice to have Drake-the-library offer a non-viral mode, and Eigen is a required dependency.  In other words, Drake code should only depend on the MPL'd bits of Eigen.

Note that Drake-the-library should not set `EIGEN_MPL2_ONLY` directly (e.g., don't put it in a header file), to allow for

[2016-11-08 03:19] jwnimmer-tri commented on #1766
So here's a good question.  Should the releases be the C++ and Python code only, or also include the MATLAB support?  It seems like a big delta on effort to add MATLAB.

[2016-11-08 04:32] sherm1 commented on #4065
This seems like a good idea -- Eigen says all we lose is "SimplicialCholesky, AMD ordering and constrained_cg". Does anyone care about those?

[2016-11-08 10:29] RussTedrake commented on #1766
I’ve been leaning to not including the matlab, just to get these up.  We’ll still need to supply some files from the source directory (urdf + meshes), but the list should be pretty reasonable.  Will also have to address path relocation issues.

[2016-11-08 14:06] liangfok opened #4067 "Allow weld_to_frame to Specify both name and body if both are World"
Currently, in `parser_common.cc`, method `AddFloatingJoint()` will throw an exception if the user specifies both body name "world" and a pointer to the rigid body that represents the world. Update the logic to account for this situation and not throw an exception.

[2016-11-08 14:18] liangfok opened #4068 "Add Unit Tests of URDF and SDF Parsers AddFoo() Methods with non-nullptr weld_to_frame parameter"

[2016-11-08 14:19] liangfok opened #4069 "Generalize URDF parser to Allow Dual Offset (world link and weld_to_frame)"
The SDF parser was already generalized to support dual offset (actual world to model world + additional offset specified in parameter `weld_to_frame`):

Issue: https://github.com/RobotLocomotion/drake/issues/2003
PR: https://github.com/RobotLocomotion/drake/pull/2053

We should do the same with the URDF parser.

[2016-11-08 14:20] jamiesnape commented on #1766
I will start with C++ and take it from there. Dealing with the pure CMake projects should be relatively easy, since the functionality for creating packages is built-in. It is mostly a case of ensuring that everything that needs to be in the installer has an `install` command in front of it.  If projects (especially Drake) are not using CMake life gets more difficult.

[2016-11-08 14:22] jamiesnape commented on #1766
The other question is which externals would you like to include. Given the variety of licenses, that impacts packaging and distribution.

[2016-11-08 14:29] liangfok commented on #4068
I'm going to close this issue because the solution to #4069 should add support for dual-offsets in the URDF parser and there are some unit tests that use non-`nullptr` `weld_to_frame` in `drake-distro/drake/systems/plants/test/load_model_test.cc`.

[2016-11-08 14:29] #4068 closed

[2016-11-08 14:47] david-german-tri commented on #4065
Makes sense to me.

[2016-11-08 14:56] liangfok opened #4074 "Remove duplicated Prius model files"
In [drake/automotive/models/prius](https://github.com/RobotLocomotion/drake/tree/master/drake/automotive/models/prius) there are multiple Prius SDF files that contain duplicate information. Let's remove the duplication using embedded ruby as described here:

See: http://answers.gazebosim.org/question/7213/parameterizing-elements-of-an-sdf-model/

[2016-11-08 15:28] foehnph opened #4076 "Rigid-Body Force Element needs port to System2.0"
This issue is to discuss the design of a RigidBodyForceElement. One possibility is a Leafsystem which has as input the state of the RigidBodyPlant `q` and the control input `u` and it should generate an output `B(q)*u`.

This leaf system can then be combined in the Diagram with the source RBS.

This leaf system should be generated from parsing the URDF/SDF with the logic sitting inside parser_urdf

[2016-11-08 15:31] naveenoid commented on #4076
Tagging : @liangfok and @david-german-tri

The first implementation can be tested with the Quadrotor examples. I can work with @foehnph in resolving this once you guys have design feedback.

[2016-11-08 15:34] naveenoid opened #4077 "Test coverage for parsing URDFs while specifying weld_to_frame"
This is needed for test cases such as in https://github.com/RobotLocomotion/drake/issues/4069

Every test case so far only uses a nullptr for weld_to_frame.

[2016-11-08 15:40] naveenoid commented on #4069
marked as high priority : This is essential in working with the KUKA IIWA urdf towards building simulations fixing it in arbitrary poses..

[2016-11-08 15:47] jwnimmer-tri commented on #4034
This happens up to a few times per week or more.  Let get it onto Kitware's radar.

[2016-11-08 15:49] naveenoid commented on #4077
Duh! Duplicate of https://github.com/RobotLocomotion/drake/issues/4068

[2016-11-08 15:49] #4077 closed

[2016-11-08 15:51] naveenoid commented on #3994
Progress on Spiral 2 and 3 are hinged on resolving https://github.com/RobotLocomotion/drake/issues/4076

[2016-11-08 15:56] liangfok commented on #4076
Instead of "RigidBodySytsem" I believe you mean "RigidBodyPlant".

In the above statement, what are variables `B` and `u`?

[2016-11-08 16:10] foehnph commented on #4076
Thanks for the correction.
`u` is the input to the system and `B(q)` maps this input back into full general coordinates for the plant.
Therefore `u`,`q` could be the inputs to a LeafSystem which generate `B(q)*u` as an output.
This output can then be connected to the input of a RigidBodyPlant.

[2016-11-08 16:34] david-german-tri commented on #4034
I have yet to be inconvenienced myself, but @jamiesnape @BetsyMcPhail, PTAL?

[2016-11-08 16:57] liangfok commented on #4076
Just to be clear, is the input, `u`, a vector of force/torque values that specify the force/torque the `RigidBodyForceElement` is asserting on bodies within the `RigidBodyPlant`?

[2016-11-08 17:03] sherm1 commented on #4076
@amcastro-tri, do you any thoughts about how this should be done?

[2016-11-08 17:04] liangfok opened #4080 "Generalize Name of lcmt_iiwa_status and lcmt_iiwa_command"
The following two files define LCM messages that apply to any force/torque controlled robot:

* [drake/lcmtypes/lcmt_iiwa_command.lcm](https://github.com/RobotLocomotion/drake/blob/master/drake/lcmtypes/lcmt_iiwa_command.lcm)
* [drake/lcmtypes/lcmt_iiwa_status.lcm](https://github.com/RobotLocomotion/drake/blob/master/drake/lcmtypes/lcmt_iiwa_status.lcm)

Thus, we should re-name them to not be KUKA

[2016-11-08 17:04] liangfok commented on #4080
@sammy-tri, just wondering what you think about this.

[2016-11-08 17:15] david-german-tri commented on #4065
@mwoehlke-kitware Would you mind figuring out how to spell #4078 in CMake?

[2016-11-08 17:39] jamiesnape commented on #4065
`add_definitions(-DEIGEN_MPL2_ONLY)`

[2016-11-08 18:13] amcastro-tri opened #4082 "Refactor `drake/multibody` files to follow style guide"
Refactor files from CamelCase to snake_case, cpp to cc.

[2016-11-08 18:15] jwnimmer-tri commented on #4082
FTR, this is a large fraction of #1965.

[2016-11-08 18:29] sammy-tri commented on #4080
Huh...   I agree it's fairly generic, but the current messages have a (nearly) 1:1 correspondence with the KUKA API.  I suppose the question is if that's actually valuable.

I feel like the generic version already exists to an extent (and I don't think I knew about it when I created these messages) in https://github.com/mwoehlke-kitware/bot_core_lcmtypes/blob/master/lcmtypes/bot_core_robot_state_t

[2016-11-08 18:30] jwnimmer-tri commented on #4080
FWIW, I suggest waiting to generalize until there are three identified users for the generic message.  (In software, you should have three points to form a line, because points are noisy.)

[2016-11-08 18:39] liangfok commented on #4080
Looking at [bot_core_robot_state_t.lcm](https://github.com/mwoehlke-kitware/bot_core_lcmtypes/blob/master/lcmtypes/bot_core_robot_state_t.lcm), I think it's general except for the [force_torque](https://github.com/mwoehlke-kitware/bot_core_lcmtypes/blob/master/lcmtypes/bot_core_force_torque_t.lcm) field, which assumes the robot has two feet and two hands :smile: .

I suppose since each robot may h

[2016-11-08 19:21] david-german-tri commented on #2681
Actually, we still have a bunch of these.

[code]

[2016-11-08 19:42] jwnimmer-tri commented on #4065
Thanks, that has unblocked me.

[2016-11-08 21:22] amcastro-tri commented on #4076
I was talking about this over to lunch with @RussTedrake today. For the case of the quadrotor we would a `DragForceSystem` (probably inheriting from a `ForceSystem`?) that applies the appropriate external force on a given rigid body given its velocity (state) and orientation. Also I guess for the quadrotor you would need something like an `ConstantForceSystem`? for the propellers.

For something l

[2016-11-08 21:32] liangfok commented on #3429
@hongkai-dai just encountered this issue here:

https://drake-jenkins.csail.mit.edu/job/linux-gcc-experimental-ros/653/consoleFull

[2016-11-08 21:38] sherm1 commented on #4076
I like that idea, @amcastro-tri. The complete force interface to RBPlant should be (1) generalized forces applied to particular dofs (mobilities) and (2) a collection of spatial forces (torque, force) applied at specified points on specified rigid bodies. That way RBTree can do all the messy calculations, and can correctly calculate reaction forces that result from those spatial forces, which it c

[2016-11-09 11:20] naveenoid commented on #4076
I mostly agree with your plan @amcastro-tri but what about stuff like actuator dynamics etc? I guess we need to then build a custom "source" system which needs to obtain its parameters from urdf / sdf and converts actuation input (currents / voltages / direct positions?) into spatial forces mapping into the corresponding actuator ports.

Any idea when you might work on this? Or can a part of this

[2016-11-09 14:25] #4065 closed

[2016-11-09 14:57] amcastro-tri commented on #4076
Not a plan yet, I was just openly brainstorming to get the feedback from everybody interested on this.
I think we should start simple and what the things we need first. Correct me if I am wrong but it seems like the immediate need for the quadrotor example are force systems to model drag and thrust forces.

When you say actuator dynamics you mean for instance modelling a DC motor? in any case, I t

[2016-11-09 15:00] liangfok opened #4090 "Mysterious CI Error: FAILED: external/src/CAPD4-stamp/CAPD4-build"
# The Error

[code]

# Example Logs
* https://drake-jenkins.csail.mit.edu/job/mac-clang-ninja-continuous-debug/838/console

[2016-11-09 16:21] david-german-tri commented on #2152
@liangfok Since this is about System1, I would like to close it as obsolete.  If some of the same concerns apply to RigidBodyPlant, perhaps open a new issue?

[2016-11-09 16:21] #2152 closed

[2016-11-09 16:39] amcastro-tri opened #4091 "Move RBT parsing files into `drake/multibody/parsers`"
Once #4058 is merged, move parsing files into their own directory.
What do you think @liangfok?

[2016-11-09 16:41] jwnimmer-tri commented on #4091
Yes in general the pile of files in `multibody` need further reorganization.  But given the inappropriate class designs (circular dependencies) this is not as simple as just mv'ing some files.

[2016-11-09 16:42] amcastro-tri commented on #4091
I agree but, would this be a step further towards this reorganization? I think there are no circular dependencies here that would not allow me to do this refactoring.

[2016-11-09 16:48] jwnimmer-tri commented on #4091
There is a circle now, yes.  The RBT includes the parsers which include the RBT.

[2016-11-09 16:51] #3481 closed

[2016-11-09 16:53] liangfok commented on #4091
One concern I have is the parsers may emit more information than what's stored in `RigidBodyTree`. For example, SDF contains light information, which doesn't seem to belong in a `RigidBodyTree`:

http://sdformat.org/spec?ver=1.6&elem=light

How about let's put the parsers in `drake-distro/drake/parsers`?

[2016-11-09 16:59] jwnimmer-tri commented on #4091
@liangfok The mandate of `multibody` will be wide and deep.  Not only the kinematic tree, but also the visual scene (including lights), actuators, sensors, etc.  I think more or less we should keep everything that's already in there still in there, until we have a positively-identified need to elevate it.

[2016-11-09 16:59] amcastro-tri commented on #4091
Humm.... isn't all the parsing code now in `drake/multibody` specific to RBT? in which case moving to `multibody/parsers` would be fine?

[2016-11-09 17:00] liangfok commented on #4091
Yes. I was just thinking in the future where we will have parsers for things like RNDF, XODR, etc. Will those be in different `parsers/` directories?

[2016-11-09 17:02] jwnimmer-tri commented on #4091
Umm... yes?

[2016-11-09 17:02] liangfok commented on #4091
Cool. SGTM...until a single format spans multiple `parsers/` directories.

[2016-11-09 17:05] jwnimmer-tri commented on #4091
If there exists an input format that merges both SDF and RNDF, I will burn it with fire, rather than write a parser for it.

[2016-11-09 18:08] liangfok opened #4094 "RigidBodyPlant Needs To Provide More Info About the Semantics Of Its Input and Output Ports"
# Problem Definition

Currently, there is no way to determine the semantics of either the input or output ports of `RigidBodyPlant` since it only provides methods that return the numbers of states, actuators, inputs, and outputs. The lack of semantics is addressed by an implicit  assumption that the ordering within the vectors produced or consumed by the `RigidBodyPlant`'s ports matches the orderi

[2016-11-09 18:08] liangfok commented on #2152
Done: #4094

[2016-11-10 01:31] RussTedrake commented on #4045
@jamiesnape -- can you mark up where the BSD-2 and Zlib are coming from in drake?
The PATH solver is only being used in the matlab examples, so can be avoided in a non-matlab distribution.

[2016-11-10 01:35] RussTedrake commented on #1766
Looks like it might be worth cleaning up a little more on #4045, like setting the eigen flag and resolving the thirdParty issues in drake.  (plus resolving, or explaining, the remaining ???s)

It looks like we can get pretty far using drake + the BSD-3 and Zlib (bullet is worth including) licensed externals.  How restrictive is Zlib?

[2016-11-10 01:43] jwnimmer-tri commented on #1766
IMO Zlib is comparable with BSD-3 -- you have to be careful about labeling and notices, but it's permissive use otherwise.

[2016-11-10 01:45] jwnimmer-tri commented on #4045
I think the `drake` line in the OP also includes the licenses of https://github.com/RobotLocomotion/drake/tree/master/drake/thirdParty which explains the BSD-2 and ZLib.  Or are you saying you'd like that directory manifest itemized in the OP for clarity?

[2016-11-10 01:55] liangfok commented on #4045
@jamiesnape I think `drake_cars_examples` should share the same license as Drake itself, meaning BSD. I'll submit a PR with the fix.

[2016-11-10 02:01] jwnimmer-tri commented on #1766
Also FYI, the Eigen MPL-only flag is done (per #4065).

[2016-11-10 02:03] RussTedrake commented on #1766
Great.  Can we update #4045 with both of these comments?  (sorry I asked on this thread instead)

[2016-11-10 02:03] jamiesnape commented on #4045
The alternative licensed code is mostly in thirdParty, yes. There is also BSD-3-Clause code in the cmake that comes from CMake itself.

[2016-11-10 02:05] jamiesnape commented on #4045
@liangfok specify BSD-3-Clause (use the SPDX identifier). BSD is ambiguous, with anything from 0 to 4 clauses.

[2016-11-10 02:40] jamiesnape commented on #1766
I added a few notes. Bullet should be fine, I just need to double check we do not use the small amount of code under different licenses.

[2016-11-10 02:50] RussTedrake commented on #4045
@jwnimmer-tri -- the specific links into thirdParty on the OP are super useful.  that's what I was hoping for.  :)

[2016-11-10 02:54] jwnimmer-tri commented on #4045
Ah, which reminds me -- don't forget that Drake also has Apache-2.0 at https://github.com/RobotLocomotion/drake/blob/master/drake/common/nice_type_name.cc.

[2016-11-10 03:12] jamiesnape commented on #1766
If we need a solver, including part of ipopt is not out of the question. It just depends on the minimum functionality that is needed.

[2016-11-10 03:49] jamiesnape commented on #4045
Somehow three different heuristic license checkers (and myself) missed that one. I guess the missing second paragraph threw them off.

[2016-11-10 09:22] RussTedrake commented on #1766
sorry, i forgot.  We have permission fromthe author to redistribute code linked (statically) against snopt, but not to distribute the snopt libraries themselves.  We should definitely handle that case here (snopt is the solver of choice)

[2016-11-10 14:47] jamiesnape commented on #1766
Cool. That makes life easier.

[2016-11-10 14:51] jamiesnape commented on #1766
(I am assuming no SNOPT headers may be distributed, which is not an issue at present.)

[2016-11-10 15:02] jamiesnape commented on #1766
@RussTedrake Would you like to distribute binaries of the examples, or just libraries?

[2016-11-10 16:00] #4062 closed

[2016-11-10 16:18] RussTedrake commented on #1766
definitely examples, too.  thanks!

[2016-11-10 16:36] #4082 closed

[2016-11-10 16:52] david-german-tri opened #4105 "Support finer-grained direct feedthrough"
This is starting to cause pain in some diagrams related to the IIWA arm.

cc @sammy-tri

[2016-11-10 19:27] liangfok opened #4110 "Create a version of car_sim_lcm that uses rough terrain"
It currently uses a flat terrain.

[2016-11-10 19:49] liangfok opened #4111 "Update DrakeVisualizer to Throttle Message Publishing Rate"
System 2.0 now allows a system to tell the integrator how frequently it wants to be published. DrakeVisualizer is currently publishing update message _every_ cycle of the simulation loop, which may be too fast.

[2016-11-10 19:50] liangfok opened #4112 "Stop-gap DrakeVisualizer system implementation w/o RigidBodyTree"
In preparation for the existence of `GeometryWorld`, it makes sense to remove `DrakeVisualizer`'s dependence on `RigidBodyTree`.

[2016-11-10 19:56] jwnimmer-tri commented on #4112
To be clear: we should retain a publisher System that uses the RBT, like we have now.  But we _also_ want to have a System that publishes to drake-vis that _doesn't_ need the Tree.  So two separate classes (that likely share a lot of code).  This is a stop-gap until GeometryWorld comes online and supplants (refactors) this new System.

[2016-11-10 20:42] SeanCurtis-TRI commented on #4112
Rather than me digging through the code, can someone summarize what the current dependency is?

[2016-11-10 20:45] jwnimmer-tri commented on #4112
We want a System very much like this one:
https://github.com/RobotLocomotion/drake/blob/ddbde0448fa38e271a08706e2457bb2e61fff351/drake/multibody/rigid_body_plant/drake_visualizer.h#L58

But without mentioning `RigidBodyTree` (and thus, with a different input port type).

[2016-11-10 20:46] liangfok commented on #4112
`DrakeVisualizer` publishes two types of messages:

1. `lcmt_viewer_load_robot` - upon init
2. `lcmt_viewer_draw` - each update

The `lcmt_viewer_load_robot` contains visual geometry information, which it currently obtains from the `RigidBodyTree`. We want it to be able to get this geometry info from other things, like `GeomtryWorld`.

The `lcmt_viewer_draw` message does not require `RigidBodyTree