[2018-04-23 16:42] amcastro-tri commented on #8049
Yes. Thanks @avalenzu

[2018-04-23 16:42] #8049 closed

[2018-04-23 17:45] sherm1 commented on #8648
FWIW:

:+1: Personally I've found it useful to make those derivatives total functions with some reasonable derivative at the junction (i.e., one side or the other).

In general for partial functions would it be reasonable always to define a hidden `else` case that aborts if encountered at run time? That turns it into a sort-of-total function.

[2018-04-23 22:40] jwnimmer-tri commented on #7832
@EricCousineau-TRI can we close this now?

[2018-04-24 01:49] EricCousineau-TRI commented on #7832
Closing. Missed the comment to close it earlier (sorry about that!) and confirmed that the following test did pass as of `master` (`034ce7e`):
[code]

[2018-04-24 01:49] #7832 closed

[2018-04-24 22:25] #8634 closed

[2018-04-25 15:22] RussTedrake opened #8672 "bad mercurial dependency in install_prereqs.sh"
This morning I saw this:
[code]

mercurial was already installed, but `brew upgrade mercurial` resolved it.  Not sure if that's our issue or homebrew's, but wanted to report it.

[2018-04-25 15:24] RussTedrake commented on #8672
nope.  a macbook pro that I hadn't used in a few weeks.

[2018-04-25 15:34] jamiesnape commented on #8672
It is certainly a Homebrew problem since we do not require `mercurial`, I just have not isolated the particular commit. They had a similar problem once before, https://github.com/Homebrew/brew/issues/1372, so may be related somehow to how bottles are installed.

[2018-04-25 15:57] RussTedrake commented on #8672
ok.  I'm happy to have the record here, but consider it "not our problem".

[2018-04-25 15:57] #8672 closed

[2018-04-25 16:22] hongkai-dai opened #8674 "Set parameters for Mosek in MathematicalProgram"
Currently we cannot set parameters for Mosek. Unlike other solvers, whose parameters can be set through `MathematicalProgram::SetSolverOption(SolverId solver_id, const std::string& parameter, double value)`, Mosek's parameter is defined as enum in `Mosek.h`, not as a string.

One non-ideal solution to this problem is to add a function `MathematicalProgram::SetSolverOption(SolverId solver_id, int p

[2018-04-25 18:53] CatchMeFastFat opened #8677 "How to get context from simulator?"
I am porting code from python:
[code]

here is c++ code:

[code]

when I do that I get

[2018-04-25 19:25] airfield20 opened #8678 "MOBIL Car doesn't stay in lane"
Hello again,
The MOBIL car behaves unexpectedly on this simple road geometry I constructed. It leaves the lane and starts to drive randomly off the road geometry. The car functions correctly on the dragway.

[MOBILcarmerge.txt](https://github.com/RobotLocomotion/drake/files/1948536/MOBILcarmerge.txt)

[2018-04-25 20:04] sherm1 commented on #8677
In C++ you want:
[code]

[2018-04-25 20:04] #8677 closed

[2018-04-25 22:17] jwnimmer-tri commented on #8674
Would it be confusing to users to have a string key whose name is identical to the enum item?

[code]

I don't think finding string typos at compile-time is a big enough hazard to worry about, but if you wanted compile-time checking, then we could also offer
[code]
backed by a dictionary that we'd need anyway to map from names to the integral values to pass to `MSK_putdouparam`.

[2018-04-25 23:31] sherm1 commented on #8674
Since the string argument is just as ugly as the enum, is there any advantage to using the string at all?

[2018-04-26 00:07] jwnimmer-tri commented on #8674
@sherm1 The string key keeps the "set option _string_ to value _double_ on solver _id_" as a uniform API no matter which back-end is in use (http://drake.mit.edu/doxygen_cxx/classdrake_1_1solvers_1_1_mathematical_program.html#a77b58f1d09a3aec5918813ba163c1098).

@hongkai-dai Even listing out all 69 options manually into a `map<string, int>` would not be very hard, and then both `mosek_solver.cc` a

[2018-04-26 01:23] RussTedrake opened #8681 "Update QuadrotorPlant with new rotation matrix tools."
The rotation/frame-related operations in the current quadrotor example could use a serious cleanup:
https://github.com/RobotLocomotion/drake/blob/master/examples/quadrotor/quadrotor_plant.cc#L95

Would be great to see them use the new rotation library.

[2018-04-26 02:00] #8266 closed

[2018-04-26 14:24] EricCousineau-TRI opened #8684 "Consider removing CROSSTOOL, pass required flags via `bazel.rc` if possible?"
(Per conversations with @jamiesnape - just transcribing what I remember, but will definitely accept corrections to my understanding!)

Jamie has mentioned that our usage of `CROSSTOOL` could possibly be replaced by updating our `bazel.rc` flags. This could possibly help to better address issues like #7835, cache invalidation, etc. Additionally, the `CROSSTOOL` format seems like a moving target, fr

[2018-04-26 14:29] jamiesnape commented on #8684
They are in process of completely changing the process, so they is actually no documentation at all currently. I spent a fun few weeks reading source code and have a pretty good understanding, but it is a lot of code to maintain and verify against each Bazel release (the current Ubuntu CROSSTOOL that we use is legacy, so will stop working eventually).

Basically, yes.

[2018-04-26 15:56] sherm1 commented on #8640
A few thoughts:
- This seems reasonable and gets less painful as we move more functionality up into the type-agnostic SystemBase and ContextBase classes.
- In numerical code, supporting `float` correctly requires a lot more than just changing the scalar type. In practice, it is also very difficult to get `float` code to run faster than `double`. IIRC, we agreed long ago that we only support double

[2018-04-26 20:11] ggould-tri commented on #8638
I don't recall why I recommended rebase, but it was probably in order to minimize divergence from the Drake workflow (on the assumption that not every style guide maintainer will be a git expert).

I agree that merge is a superior choice for this repo, and if we are confident that having different repos using different strategies is a reasonable plan then it seems conceptually correct.

[2018-04-26 22:50] hongkai-dai commented on #8674
@jwnimmer-tri thanks for pointing out the solution! Do we have an example in drake, that writes a BUILD rule to auto generate a map?

[2018-04-26 23:29] hongkai-dai opened #8696 "Update gurobi lincense to Gurobi 8 on CI"
According to http://www.gurobi.com/products/whats-new/whats-new-in-the-latest-version, we need to re-run grbgetkey command on CI

[2018-04-26 23:51] avalenzu opened #8697 "DrakeVisualizer::PlaybackTrajectory() broken for state trajectory input"
#8683 exposed a hole in our test coverage for `DrakeVisualizer`. I'll submit a fix for this shortly.

[2018-04-27 02:53] EricCousineau-TRI opened #8700 "`common/proto/BUILD.bazel` install rules are sensitive to whether they use `//tools:drake.bzl` vs. `//tools/skylark:drake_cc.bzl`"
In #8699, for the `drake_cc_*` macros, I had changed `//tools:drake.bzl` (which is just a forwarding thing from #6996?) to `//tools/skylark:drake_cc.bzl`; however, CI and my `bazel test //...` both fail with the following error:

[code]

'tis quite mysterious.

@jwnimmer-tri @jamiesnape Have y'all seen this already?
(And can I ask who should own this one?)

[2018-04-27 02:56] EricCousineau-TRI commented on #8638
Sounds good!

[2018-04-27 13:44] #8697 closed

[2018-04-27 22:16] jamiesnape commented on #8696
Done.

[2018-04-27 22:16] #8696 closed

[2018-04-28 10:11] RussTedrake opened #8711 "sphinx docs need a more visible pointer to drake-external-examples"
I think it's time to incorporate ~shambhala~ drake-external-examples more fully into the drake documentation.   Probably also a visible pointer to http://underactuated.mit.edu as a source of many more examples in the same location?

Perhaps right on the installation and distribution page?

Motivated by answering a lot of questions like this:
https://stackoverflow.com/questions/50060927/how-to-use-

[2018-04-28 19:40] jwnimmer-tri commented on #8711
SGTM.

Possibly in concert with a Shambhala top-level README.md addition that says something like:

_This repository shows you how to use Drake from your own project.  Choose one of the three subdirectories named `drake_*` as your guide, depending on which mechanism is most suitable for you._

as a first-paragraph introduction, relegating the metaphysics to a "Where does the name Shamhala  come fr

[2018-04-28 23:32] jwnimmer-tri opened #8712 "DRAKE_SPDLOG_TRACE macros lack do..while guards"
See https://github.com/RobotLocomotion/drake/pull/8087#issuecomment-385210772.  Our macros have a bare `if`, which is a no-no in macro implementation.

[2018-04-29 01:13] sherm1 commented on #8712
Yikes! Rookie mistake on my part -- will fix asap.

[2018-04-29 02:49] #8712 closed

[2018-04-29 05:20] stonier opened #8714 "AddSystem template overloading ambiguity"
Wondering if

[code]
should be redefined as:
[code]
to avoid ambiguity with
[code]
when called with template arguments for which `Scalar` is the same as `T`. e.g.
[code]

[2018-04-30 13:36] jamiesnape commented on #8711
I would be more controversial and say that we should give the repo a more descriptive (and less exciting name) than "drake-shambhala". Same for the ROS examples repo beginning with "k" (whose full name that I cannot remember offhand) should it ever graduate to RobotLocomotion.

[2018-04-30 13:53] jamiesnape opened #8717 "Block network connections for unit tests by default?"
Obviously we would need to open up connections to license servers, but feels like we should make use of the Bazel functionality and declare when we need a network connection, which would also help identify possible sources of flakiness.

[2018-04-30 14:11] jamiesnape commented on #7882
Logistics-wise, how do we want to do this? Do we mind have mentions of "bionic" in this repo before it is supported or would working on a branch/fork work better (being able to have an `install_prereqs` for 18.04 would make configuring CI somewhat easier, for instance).

[2018-04-30 17:19] amcastro-tri opened #8718 "Support <include> in the MBP parser"
We'd like to support the workflow of adding multiple robots and models to the world coming from different files. That is, robot1 in sdf1, robot2 in urdf1, table in urdf2, etc.

With the MBP parser built on top of `sdformat` it'd seem this capability is supported with the `<include>` tag. Other options are viable but this one would seem to be the most useful to users.

We'd like working examples of

[2018-04-30 17:49] avalenzu commented on #8718
We should test that the parameters of the `MBP` that results from parsing an SDF that includes a single URDF match those of a `RigidBodyTree` built from the same URDF. That will be an important guarantee to have as we replace programatic assembly of URDFs with SDFs that describe the entire scene.

[2018-04-30 19:13] hongkai-dai opened #8719 "Investigate a failure on mac machine with rotation constraint"
In https://github.com/robotlocomotion/drake/blob/cc8ca9df00e49dd79616e4d7d1be052863732a18/solvers/rotation_constraint.cc#L459 I tried to add a "polishing" step on the Mosek optimization result, as
[code]
But then using this polished result, Gurobi 7.5 fails to find a solution on Mac machine. I should have investigated why Gurobi fails.

[2018-04-30 21:31] jwnimmer-tri commented on #8557
Even week or two, somebody stumbles on this.  Bumping to "priotity: high".  What's stopping us from just nuking the lying aliases for now?

[2018-04-30 22:09] nkoenig commented on #8718
Parsing the <include> tag should only require telling libsdformat how to find your included SDF files. This can be accomplished through the use of [sdf::setFindCallback](https://bitbucket.org/osrf/sdformat/src/278eefccef6bb42ad7e4c7eb708ef2edc8f3c925/include/sdf/SDFImpl.hh#SDFImpl.hh-73).

I can add other alternatives, such as environment variable based paths.

[2018-04-30 22:34] EricCousineau-TRI commented on #8557
Making the PR now; however, autocomplete will still report the incorrect alias. If anything, I believe that we'll still get questions about why both `bazel test` and `bazel run` don't work.

I don't like it, but if you think it'll improve the situation and since I don't have a better suggestion, I'm up for trying it out.

[2018-04-30 23:03] jwnimmer-tri commented on #8718
For what its worth -- ideally, any configuration that affects parsing (such as the find-path resolution) could be done with a parse-specific context (e.g., an extra argument to the routine that begins a parse), instead of a global variable.  Drake won't necessarily be the only user of sdformat, so we don't want to lay claim to any particular value of its global settings.

[2018-05-01 14:20] EricCousineau-TRI opened #8729 "pydrake symbolic: Cannot use `print` / `str` on `np.array`s of `Variable`, `Expression`"
For NumPy < 1.13.0, if you try to print an `np.array` of `Variable` or `Expression`, you would get the following stack trace:
[code]

This is because NumPy constructed its formatters before knowing which one it was ultimately going to use, and during construction, the `IntegerFormat` and `FloatFormat` types would try and find the extrema of the dataset, and use that as a basis for cellsize.

This

[2018-05-01 16:42] jadecastro commented on #8678
I was able to reproduce this with your code and am looking into it now.

It looks to be an instability in `PurePursuit` caused by incorrect assignment of the z-component of the quaternion components of `PoseVector` as a yaw angle (heading).

I will follow up with a PR and tag this issue.

\cc @soonho-tri

[2018-05-01 17:27] #8557 closed

[2018-05-01 17:44] jwnimmer-tri opened #8732 "Use `load("@drake//tools/skylark:...` consistently"
We should use `load("@drake//tools/skylark:...` consistently instead of sometimes doing `load("//tools/skylark:...`.

[2018-05-01 18:25] jwnimmer-tri commented on #8674
If you can write a small python program that takes on the command-line an input and output filename argument, where `mosek.h` would normally be passed in as input, and this program emits a C++ header as output (you can test this yourself standalone), then I can quickly help you integrate it into the build.

If you look in `tools/workspace/godotengine` for example the `update_version` (or similar)

[2018-05-01 18:27] jwnimmer-tri commented on #8556
@hongkai-dai At some point could you investigate and see if this is a defect in Drake?

[2018-05-01 19:06] jwnimmer-tri commented on #2074
Hopefully with #8442 and #8543 merged, this is now "good enough".

[2018-05-01 22:02] jadecastro opened #8735 "Unsmooth lane transitions due to PurePursuit myopia"
This is a known issue that arises because PurePursuit's look-ahead point is constrained to the current lane only. Now that interesting multi-segment roads are coming to life, we need to revisit this issue.

[2018-05-01 23:01] EricCousineau-TRI commented on #8576
Sorry for the delayed response! That's awesome that you got it working!

I'm not sure we're to the point where we want to support this ourselves, but will consider mentioning it on the documentation if we have more requests for it.

Given that the current issue's title is geared towards `drake_visualizer`, would you mind if I closed the current issue?
Or would you like to rename the title to somet

[2018-05-02 13:19] #8729 closed, assigned to EricCousineau-TRI

[2018-05-02 16:23] amcastro-tri opened #8739 "MBP Supports scalar conversion for systems that inherit from it"
MBP is not marked final. However, in order to support scalar conversion, it should provide a `protected: ` constructor as [documented here](http://drake.mit.edu/doxygen_cxx/group__system__scalar__conversion.html)

[2018-05-02 17:28] ryanelandt opened #8742 "Wording of Integration Selection Criteria in integrator_base"
It is mentioned that multistep integrators perform poorly when certain events are common. If by multistep integrators it means methods like BDF or Adams-Bashforth, I think this advice should be deleted as it is confusing/not pragmatic due to a lack of multistep integrators in Drake. If by multistep integrators it means a multistage integrator like RK3, I think the wording should be changed to avoi

[2018-05-02 17:53] RussTedrake commented on #8559
I'm not very clear on what you need, but perhaps you want to look at our uses of [PlanEval](http://drake.mit.edu/doxygen_cxx/classdrake_1_1systems_1_1controllers_1_1plan__eval_1_1_plan_eval_base_system.html#details)?

[2018-05-02 18:01] RussTedrake commented on #8559
Will close this for now.  For general questions, please consider our newly advertised tag on StackOverFlow (http://drake.mit.edu/getting_help.html)

[2018-05-02 18:01] #8559 closed

[2018-05-02 18:02] sherm1 commented on #8742
Maybe @ryanelandt could submit a PR to clarify this?

[2018-05-03 13:30] #7703 closed

[2018-05-03 14:13] EricCousineau-TRI commented on #7260
@jamiesnape Would you mind if I assigned this to you?

For CMake project consumption within Drake's CI, should we make a simple non-cached test which is simply a *very* small subset of `drake-shambhala/drake_cmake_installed`, consuming from `bazel run //:install`, setting the appropriate compilers per Bazel's setup?

Or do we want want this to run entirely through the CMake install process? (in wh

[2018-05-03 14:19] jamiesnape commented on #7260
Sure. Not decided on how we do it, but I don't think it will be deferring to shambhala.

[2018-05-03 15:27] EricCousineau-TRI commented on #8714
Seems like an odd case of ambiguity, as `MobilPlanner<double>` is a class (which should bind to the former) while `MobilePlanner` is a `template <typename Scalar> class` (which should bind to the latter).

Which compiler are you using? Does this happen for both `gcc` and `clang`? (if it's for one, not the other, seems like a compiler bug?)

[2018-05-03 15:37] EricCousineau-TRI opened #8750 "Support type-erased pixel type in `Image<>`"
It'd be convenient for writing API's if there were a type-erased version of `Image<>` (akin to `cv::Mat` and what not), which could simply support a closed set (or open set, if we're feeling up to it) of image types, perhaps defining a flag type `PixelType { ... kDynamic }`, use either virtual dispatch or some C++14 variant of `std::any`, and do some API trickery to make it appear similar.

\cc @s

[2018-05-03 16:20] liangfok opened #8751 "Compiler warning regarding literal operator suffixes not preceded by '_' being reserved"
Post 864bcd125e6b5374d9170d687c5be59c243072dd, I'm seeing the following compiler warning:

[code]
Can this warning be addressed or suppressed?

[2018-05-03 16:31] sherm1 commented on #8751
Oh, that's absurd -- that operator is from the C++ standard and provided in the library! I guess they expect us to include the whole namespace `std::string_literals` (not permitted by our standards guide) and never tried mentioning one of the built-in operators by name :(. I'll fix it.

[2018-05-03 16:49] EricCousineau-TRI opened #8752 "`//bindings/pydrake:py/math_test` fails as a timeout frequently CI"
@hongkai-dai noted that `:math_test` has been failing frequently in CI (for the past week or so).
Looking at the timing for the test, the trend seems rather sporadic: https://drake-cdash.csail.mit.edu/testDetails.php?test=20303158&build=999659
From https://drake-jenkins.csail.mit.edu/job/linux-xenial-clang-bazel-experimental-cache/773/

Since it's been failing more frequently, there may be another

[2018-05-03 18:41] #8751 closed

[2018-05-03 20:53] ggould-tri opened #8759 "misleading error message in piecewise_polynomial.cc"
(scribing this instead of just fixing it because I don't have a drake developer setup here)

If you have points that are too close together in time, piecewise polynomial emits a message that points must be increasing; this is aggravating because you can get this error even when points are increasing.

The epsilon comparison at piecewise_polynomial.cc:367 should be reflected in the error message be

[2018-05-03 22:15] EricCousineau-TRI commented on #7751
Ended up needing this for some PyTorch stuff, and posted a quick hack here: https://github.com/bazelbuild/rules_python/issues/63

[2018-05-04 11:10] avalenzu opened #8761 "SDFormat Errors when running executable directly"
[code]
runs just fine. However, if I then run
[code]
I get
[code]
Perhaps it's an issue with finding `root.sdf` in the runfiles? cc. @nkoenig, @jwnimmer-tri

[2018-05-04 12:16] avalenzu commented on #8761
I've compared the behavior in the two cases by adding printouts to `sdf::findFile()` in `SDF.cc`. It looks like `root.sdf` is found in the "Now check the install path" portion of that function when run under Bazel, but not when run directly.

Digging a bit further, this appears to be because `SDF_SHARE_PATH` is set to `external/sdformat/sdf/1.6/` when `sdf_config.h` is generated from `sdf_config.h

[2018-05-04 13:00] amcastro-tri commented on #8761
I believe this is the same as issue #7874?
cc'ing @nkoenig, @jamiesnape.

[2018-05-04 14:38] avalenzu commented on #7874
Now that #8687 has landed, this is becoming more pressing because it prevents parsing of SDF files in downstream projects that use Drake.

[2018-05-04 19:01] avalenzu commented on #7874
Pinging @nkoenig and @clalancette

[2018-05-04 19:55] rdeits commented on #7635
I just wanted to bump this again; @rahulyesantharao is trying out mixed-integer NLP for his footstep planning work, and having `.nl` support would be the easiest way to get Couenne working from Drake.

[2018-05-05 00:25] hongkai-dai commented on #7635
Writing a nonlinear constraints requires our `Constraint::Eval` function to support symbolic input. Unfortunately we currently only support input of type double and Eigen::AutoDiffScalar (https://github.com/RobotLocomotion/drake/blob/master/solvers/evaluator_base.h#L42~L62). This will be a major change to add support for symbolic variables in constraint/cost.

I think it would be easier if we add

[2018-05-05 00:50] rdeits commented on #7635
Ah, I see. Yeah, as far as I know Couenne should be a good choice for the problem.

I'm not sure how helpful special-casing Couenne support would be, though. It would obviously be great to have fully symbolic nonlinear constraints in MathematicalProgram, but if that's not possible then the next easiest thing is probably to use JuMP from python to call Couenne.

Hongkai, when you mean a wrapper for

[2018-05-05 00:53] hongkai-dai commented on #7635
Sorry, I mean a derived class of `MathematicalProgramSolverInterface` for Couenne, like [`GurobiSolver`](https://github.com/RobotLocomotion/drake/blob/master/solvers/gurobi_solver.cc) for Gurobi. This wrapper converts constraint/cost in drake MathematicalProgram to solver format, by calling the right API of the solver.

[2018-05-05 01:13] rdeits commented on #7635
I see. But would that support nonlinear expressions, or just scalar/autodiff?

[2018-05-05 01:30] RussTedrake commented on #7635
Fwiw, I’m definitely in favor of having couenne available as a supported solver. (If it makes sense)

[2018-05-05 05:31] hongkai-dai commented on #7635
@rdeits `MathematicalProgram` can accept nonlinear symbolic expressions as cost/constraint. And then we will need to call Couenne in our solver wrapper.

@RussTedrake I agree it makes sense to add Couenne as a supported solver, if the license works.

[2018-05-06 02:37] liangfok opened #8764 "Unit tests rgbd_renderer_vtk_test and rgbd_camera_test Fail on Ubuntu 16.04"
I'm encountering the following problems on Ubuntu 16.04 even after running `sudo ./setup/ubuntu/16.04/install_prereqs.sh`:

[code]

I tried both suggestions mentioned in the FAQ (i.e., setting "local = 1" in the BUILD file and using "--spawn_strategy=standalone") to no avail.

[2018-05-06 02:37] liangfok commented on #8764
/cc: @stonier and @rpoyner-tri because I think we discussed this earlier this week.

[2018-05-06 18:23] RussTedrake opened #8765 "drake visualizer "smooth follow" is hard to use because the objects are respawned at each simulation"
As asked here: https://stackoverflow.com/questions/50195068/drake-let-the-drake-visualizer-camera-track-a-fast-moving-object

@gizatt, @rdeits -- I think the remote-tree viewer API would improve this, correct?
  And I *think* I remember that the published that you have is in python (not c++) because of some json dependency, or something?  (sorry if I'm mixing this with MeshCat)? Can you remind me

[2018-05-06 19:29] rdeits commented on #8765
No, I don't think it would make any difference. Both APIs still distinguish loading a model from setting the transform of an existing model in the same way, so you'd get the same problem in both cases. Loading a new model causes Director to generate a new object, so any tracking behavior attached to that object would still be lost. I think the only way to solve this would be for drake not to alway

[2018-05-06 22:01] RussTedrake commented on #8765
Another solution would be to have director support setting the camera controls via LCM.  I think having the simulator set up the camera programmatically on each run is probably the ideal solution.

[2018-05-07 14:29] jwnimmer-tri commented on #8752
Also note that #8659 changed test-timeout configurations ~13 days ago, so could be related.

[2018-05-07 14:45] jwnimmer-tri commented on #8759
@RussTedrake any opinions on the correct fix to the hard-coded epsilon (1e-10) question?

[2018-05-07 14:52] jwnimmer-tri commented on #7874
The `embed-sdf` branch seems stalled.  In the meantime then, it seems like a Drake developer will have to itself implement one of the `addURIPath` or `setFindCallback` work-arounds.

[2018-05-07 15:02] jwnimmer-tri commented on #7635
@hongkai-dai EPL should be fine for solver back-ends.  (We already use CoinUtils and Clp under EPL terms as part of dReal.)  You can grep for `EPL-1` in `tools/workspace/**` to see such uses, as well as the manifest posted at #4045.

[2018-05-07 15:07] jwnimmer-tri commented on #8764
I think this is a duplicate of #7908.  It is a known issue that, with certain NVidia configurations, the tests fail.  Does turning on show_window = true cause the test to pass for you?

[2018-05-07 16:06] clalancette commented on #7874
The work in upstream `sdformat` is progressing, but may take some time to finish.  In the meantime, I think the fallback `addURIPath` or `setFindCallback` seems like a reasonable way to go, with a TODO comment to remove once the upstream embedded sdformat stuff lands.

[2018-05-07 18:35] patmarion commented on #8765
Sounds like a good idea.  As an alternative or in addition, you could teach the "camera control panel" in director to remember the tracked object by name, in the case the object is deleted and reinserted.

[2018-05-07 19:52] patmarion commented on #8765
It would be a python code change to this file, which is part of a separate project:

https://github.com/RobotLocomotion/director/blob/master/src/python/director/cameracontrolpanel.py

This file defines a class named `CameraControlPanel`. It has a function `setTarget()` where the target is assigned, and a function `onObjectRemoved()` where it un-sets the target when the object is removed.  This cla

[2018-05-07 20:05] jamiesnape opened #8767 "Install prerequisites scripts should use apt-get instead of apt on Ubuntu"
We have basically been ignoring the message:
[code]

But really we should not, as it is there for a purpose and not something that is necessarily going to disappear in future versions. From `apt.8`:

[2018-05-08 22:04] #8752 closed

[2018-05-09 17:25] nkoenig commented on #7874
I'm taking over this task from @clalancette.

[2018-05-09 19:23] m-chaturvedi opened #8783 "`symbolic_simplification_test` fails when run with Valgrind"
`bazel test -c dbg --config=memcheck   //common:symbolic_simplification_test`

[2018-05-10 16:15] #8326 closed

[2018-05-10 16:15] #8767 closed

[2018-05-10 18:11] jamiesnape commented on #7882
@soonho-tri Could you create some dReal and IBEX debs for Bionic when you have a spare moment? Not urgent.

[2018-05-10 20:16] avalenzu opened #8791 "WorldSimTreeBuilder::AddModelInstanceToFrame fails unhelpfully when incorrect model name is given"
[Line 99]( https://github.com/RobotLocomotion/drake/blob/485879c9a334ca43509b40e84f305887a19fa01b/manipulation/util/world_sim_tree_builder.cc#L99) reads

[code]
If `model_name` is not present in the map, this silently adds the pair (`model_name`, `""`) to the map, leading to a failure when the extension of the filename is checked. We should check if `model_name` is in the map and give a useful err

[2018-05-11 00:53] EricCousineau-TRI commented on #7972
Closed via #8240

[2018-05-11 00:53] #7972 closed

[2018-05-11 00:56] EricCousineau-TRI commented on #8764
If you are running `bazel test //...`, you can change it system-wide via the flag added here:
https://github.com/RobotLocomotion/drake/pull/8006

[2018-05-11 16:12] #6464 closed

[2018-05-11 17:06] #8640 closed

[2018-05-11 17:46] wsmoses opened #8795 "LCM Java Errors on build"
I'm getting the following LCM java-related errors when I try to build from source on ubuntu.

Analyzing: 6083 targets (0 packages loaded)
INFO: Analysed 6083 targets (0 packages loaded).
INFO: Found 6083 targets...
[4 / 35] [-----] Expanding template bindings/pydrake/systems/py/drawing_py_drakelint
ERROR: /home/wmoses/.cache/bazel/_bazel_wmoses/93a6e4db8fc6f38a669104ff64569d2a/external/optitrack_d

[2018-05-11 18:44] sammy-tri commented on #4862
I think this has been done since #7822 merged.

[2018-05-11 18:44] #4862 closed

[2018-05-11 18:58] SeanCurtis-TRI opened #8798 "Conflict between default_scalars and system_scalar_converter"
In a recent PR (#8778) a confusing compiler error arose.

Problem Statement
==============
The `QuadrotorPlant` uses the `SystemScalarConverter` to get its transmogrification for free. In `quadrotor_plant.cc` it uses `default_scalars` to instantiate on *nonsymbolic* scalars. Prior to the PR in question, both of those features were fine.

In the PR, some functionality was changed such that some of

[2018-05-11 19:04] jwnimmer-tri commented on #8798
But it does.  The `DRAKE_DEFINE_CLASS_TEMPLATE_INSTANTIATIONS_ON_DEFAULT_SCALARS` just makes _at least_ those types exist (to ensure that they compile in their entirety).  But since the class in question is templated, other instantiations will come into being as-needed, when something refers to them (and has the method definitions etc. available) -- just like you can use `std::vector<MyThing>` wit

[2018-05-11 19:11] jwnimmer-tri commented on #8638
Note that thanks to @EricCousineau-TRI in RobotLocomotion/styleguide#8 we have a new history for `styleguide` master that uses the merge workflow now.

[2018-05-11 19:27] SeanCurtis-TRI commented on #8798
And on the subject of:

The `QuadrotorPlant` class is one of those with the meat of its implementation in the .cc file. Meaning that if it isn't part of the default scalar declaration, it *can't* exist.  Given that one of those happens in the .cc file and the other happens in the header file, I don't see any way to coordinate those.

But I have full faith in your ingenuity and experience to find u

[2018-05-11 19:32] jwnimmer-tri commented on #8798
I think the best we'll be able to do is to improve the documentation in `system_scalar_conversion_doxygen.h` to insist that when using SystemTypeTag the traits specialization (or lack of) and the `DRAKE_DEFINE_...` are congruent, and then make sure the platform reviewers know to check that during code review.

[2018-05-11 19:36] jwnimmer-tri commented on #8798
I guess the other options is to add sugar for `DRAKE_DEFINE_CLASS_TEMPLATE_INSTANTIATIONS_ON_DEFAULT_NONSYMBOLIC_SCALARS` that _also_ sets the traits, and have System subclasses use the sugar instead.  But that would only help when enough code is in the cc file, which is a bit more rare.  I think starting with documentation is best.

We could also audit the current master against that proposed con

[2018-05-11 19:36] SeanCurtis-TRI commented on #8798
Well, if that's the best we can do, that's better than now. Thanks

[2018-05-11 20:12] m-chaturvedi commented on #8197
1. Bazel transitively adds `-isystem` for header files which have been [included with `includes`.](https://docs.bazel.build/versions/master/be/c-cpp.html#cc_library.includes)

2. It transitively adds `-iquotes` for header files which have been [included with `hdrs`.](https://docs.bazel.build/versions/master/be/c-cpp.html#cc_library.hdrs)

3. We get `-isystem external/bullet/src` because we have [`

[2018-05-11 21:02] m-chaturvedi commented on #8197
[Relevant discussion](https://groups.google.com/forum/#!topic/bazel-discuss/HyyuuqTxKok)

[2018-05-11 21:04] jwnimmer-tri commented on #8197
@EricCousineau-TRI I don't understand what problem we are trying to solve here?  What is the resulting undesirable outcome that these kinds of spellings incur?

[2018-05-11 21:09] #1647 closed

[2018-05-11 21:28] SeanCurtis-TRI commented on #8798
quadrotor_plant will be corrected in the referenced PR.

[2018-05-11 21:53] jwnimmer-tri opened #8801 "Defer snopt download (or unpacking) errors to build-time, instead of load-time"
The `library_lint.bzl` implementation uses `genquery()` rules, but when those rules touch upon `@snopt` they can fail to run, even though we don't need to clone snopt, since its not actually going to be compiled.  Ideally, we would defer errors in locating the snopt code to build time, instead of load time, so that we could enable that linter even when non in `-everything` mode.  We already do som

[2018-05-11 21:54] jwnimmer-tri commented on #7240
@jamiesnape I am fine to replace targz support with zip support instead.  I don't need either one in-house, as it turns out.  Can I kick it over to you to work on that replacement, and then adding zip testing to CI (while also keeping git testing intact)?

Note #8801 where I also plan to edit the `repository.bzl`.

[2018-05-14 13:56] EricCousineau-TRI commented on #8795
Just to check, can I ask which version of Ubuntu you're using, and if you were able to run `install_prereqs` without any errors?

\cc @jamiesnape Can I ask if you've seen this before?

[2018-05-14 14:02] jamiesnape commented on #8795
No, I have not. Which version of Bazel and which SHA of Drake?

[2018-05-14 17:18] EricCousineau-TRI opened #8810 "Downstream `pydrake` consumption: Error "type "RandomDistribution" is already registered!""
Since we now have a type registered in `_common_py` (as of #8806), there is a collision with downstream projects when leveraging #8240, where the `typeid` for `RandomDistribution` has already been seen globally.

The quickest solution would be to move this registration to another module; a better long-term solution would be to make #8240 work without importing an additional copy of `pydrake`, perh

[2018-05-14 17:36] EricCousineau-TRI commented on #8810
Yup. The reproduction recipe is simply a binary such that `pydrake` is consumed as an external; anything that imports `external.drake.bindings.pydrake` will encounter this (e.g. `bazel test @drake//bindings/pydrake:common_test`, if you disable the `assert`ion in our main `unittest` module for Drake).

Yup. I had initially considered addressing this by resolving #7912, but I believe there is a simp

[2018-05-14 17:47] jamiesnape opened #8812 "Create an issue template?"
At the very least bug reports should have the SHA of Drake to which the bug relates and the platform on which the bug occurred, maybe also Bazel and CMake versions. Potentially there could be checkboxes that reporters can use to affirm that they have done things like pull master and/or run the latest install_prereqs, or other such troubleshooting actions, though not sure how useful such things tur

[2018-05-15 14:44] #8810 closed

[2018-05-15 15:45] jwnimmer-tri commented on #8197
Assuming we always spell non-toolchain (i.e., non-libc, non-libstdc) includes with quotes, can you give an example where things don't work?  Is the problem with installed Drake, perhaps?

[2018-05-15 15:50] jamiesnape commented on #8197
Installed Drake should be fine. CMake uses `-I` unless you explicitly specify `SYSTEM`, in which case it uses `-isystem`.

[2018-05-15 15:52] EricCousineau-TRI commented on #8197
Aside from the issues we've already ran into and worked around, I do not yet have a concrete example; however, I fear that if we, or a user, have incorporate a third-party library `B` which depends on another library `A` that we include, but it relies on bracket includes, then it may leak in the wrong transitive dependency from the system.

I have not confirmed this yet, though, so I can see if I

[2018-05-15 16:11] jwnimmer-tri commented on #8197
I thought that's why we did `includes = ["."]` in many of our externals?

In any case, the possible problem is much clearer now, thanks.  I guess I'll await a demonstration before I measure whether this issue is still valuable to pursue.

[2018-05-15 16:50] m-chaturvedi commented on #8197
[Correct link for angular brackets being used internally](https://github.com/eigenteam/eigen-git-mirror/blob/master/unsupported/Eigen/MatrixFunctions#L17)

[2018-05-15 19:11] EricCousineau-TRI commented on #8576
Thanks!

Perhaps, but unfortunately I'm not aware of anything to improve the speed. There may be things you can tweak in `cling`, but that'd be something that you'd need to ask the authors of that tool.

I'd suggest using `pydrake`, as `DrakeVisualizer` is already available. An example (via a unittest): (sorry that I hadn't pointed this example out earlier!)
https://github.com/RobotLocomotion/drak

[2018-05-16 13:52] liangfok opened #8820 "Automotive: Need method that provides fractional length of maliput::api::Lane"
Currently, `maliput::api::Lane::length()` returns the entire length of the lane from `s = 0` to `s = s_max`. I need a fractional length of the lane in the range `(0, s_max)`. The situation is as follows:

I obtained a `LaneSRoute` and want to do a sanity check to verify that its length is approximately equal to the expected length and not some crazy high value. Doing this requires obtaining the le

[2018-05-16 13:53] liangfok commented on #8820
/cc: @maddog-tri thoughts?

[2018-05-16 14:02] soonho-tri commented on #7882
@jamiesnape , will send you one this week.

[2018-05-16 14:36] liangfok commented on #8820
Upon further inspection, I now believe the fractional arc-length is simply equal to |s1 - s0|. I shall thus close this ticket.

[2018-05-16 14:36] #8820 closed

[2018-05-16 14:47] #7908 closed

[2018-05-16 14:47] #8322 closed

[2018-05-16 15:06] jamiesnape opened #8821 "Python unittests should write an XML_OUTPUT_FILE"
We are currently getting very rudimentary output into `test.xml` from the default test runner provided by Bazel. Instead, it would be nice to do something like

[code]

(or use a different test runner, there are lots of choices, Bazel for its own testing uses a shell script for whatever reason) to get a similar level of detail to the C++ GTests. This would be helpful for the next generation of Jen

[2018-05-16 17:40] EricCousineau-TRI commented on #8821
I think the solution is simply changing this line of code to what you have:
https://github.com/RobotLocomotion/drake/blob/398a59e7603cea532d7d9ad863d7fb0d1492f776/common/test_utilities/drake_py_unittest_main.py#L102-L103

Given that you have the solution and the best bearing for debugging this, could I reassign this issue back to you?
I can still do it, but there may be additional turnaround time.

[2018-05-16 17:41] jamiesnape commented on #8821
Sure, I can do it.

[2018-05-16 17:56] jamiesnape commented on #8821
(BTW for anyone interested, this is why you get better output for tests that use GTest, https://github.com/google/googletest/blob/045e7f9ee4f969ac1a3fe428f79c4b880f0aff43/googletest/src/gtest-port.cc#L1247-L1262)

[2018-05-16 21:34] jamiesnape commented on #8821
For some reason this is causing `math_overloads_test` to fail catastrophically by trying to open the same file five times over. Anything unusual about that test?

[2018-05-16 21:39] jwnimmer-tri commented on #8821
Yes -- it re-execs itself, it seems: https://github.com/RobotLocomotion/drake/blob/fdac5ba7a64ee773197b29f6462a1391b3230e56/bindings/pydrake/test/math_overloads_test.py#L195-L208

[2018-05-16 21:46] jamiesnape commented on #8821
Wow. Not sure the authors of the test runner (or myself) considered that possibility.

[2018-05-17 03:37] maddog-tri commented on #8820
Bingo.

(Corollary:  `s_max` is exactly `maliput::api::Lane::length()`.)

[2018-05-17 13:52] SeanCurtis-TRI commented on #8798
Quick concern about documentation:  in [`scalar_conversion_traits.h`](https://github.com/RobotLocomotion/drake/blob/master/systems/framework/scalar_conversion_traits.h#L25) we have the following documentation:

[code]

This statement is strictly true. However, it can be misleading without careful reading. The key word is "supported". It's implicitly defined earlier in the docs as:

However, the co

[2018-05-17 15:50] RussTedrake commented on #8060
aok by me.  I've set up the branch protection (only admins can push).

[2018-05-17 17:18] m-chaturvedi commented on #8197
After meeting with Eric, I realized I was not clear with my observations.  I try again:

`includes = ["."]` seems to be needed because [at least one library, Eigen, uses angular brackets](https://github.com/eigenteam/eigen-git-mirror/blob/master/unsupported/Eigen/MatrixFunctions#L17) in their code and [`-iquote` only applies to quoted headers](https://gcc.gnu.org/onlinedocs/gcc/Directory-Options.h

[2018-05-17 17:30] jwnimmer-tri commented on #8197
Hah, well since I guess I added it #7407, I should be the one to answer that.  I guess I would say that if `Wold-style-cast` is somehow causing problems we can turn it off again, because of cpplint.  But since we have it on right now, I guess I'm still unclear on what problem this issue is trying to resolve.

Or perhaps more succinctly: @EricCousineau-TRI this issue needs a priority assigned.  My

[2018-05-18 00:38] junhyeokahn opened #8831 "Error in running prereqs.sh"
Hello, I am using Mac OS and having some trouble installing drake from source.
When I run the prereqs.sh I got below error.

[code]
Seems to be related to existing brew tab.
I would appreciate if someone could help me.

[2018-05-18 01:04] CatchMeFastFat commented on #8831
see if that helps [Another active Homebrew process is already in progress](https://stackoverflow.com/questions/39797078/another-active-homebrew-process-is-already-in-progress?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa)

[2018-05-18 01:20] CatchMeFastFat opened #8832 "Pydrake support auto-completion"
I want to use editor linter and auto-complete `pylint/jedi `features with python. It was working well for C++ with rtags.
[code]
When I use `import pydrake` then try to use any class, autocompletion "as well as linter" doesn't detect classes only their headers.

example: `pydrake.multibody.rigid_body_plant.` doesn't suggest any completion.

Noticed from pybind11 repo.

Is there any way to make it

[2018-05-18 18:01] nkoenig commented on #7874
Here is a PR that embeds the SDF specification files in libsdformat. https://bitbucket.org/osrf/sdformat/pull-requests/434

The problem is the above PR generates a special header via CMake and a Ruby script, but Drake doesn't know how to build this. Any Bazel experts out there who can offer advice?

[2018-05-18 18:48] jwnimmer-tri commented on #7874
If nobody else volunteers, you can assign to me to take a look.  I suspect I'd just re-implement the ruby script's logic python and/or skylark, rather than add a build-dependency on Ruby.

[2018-05-18 18:50] jwnimmer-tri commented on #8821
FWIW I think it would also be easy to have the `BUILD.bazel` rules run the test multiple times, each under different label?  Basically, manually sharding it.  (Or possibly even Bazel's built-in sharding would be good enough?)

[2018-05-18 19:09] jamiesnape commented on #8821
Personally I think that would be preferable.

[2018-05-18 21:43] junhyeokahn opened #8836 "Support using precompiled libsnopt.so"
Hi, thank you for your effort maintaining the repository.

I would like to use snopt.
I have a license of it and a lib (.so files).
However, the way drake explicitly set the path for snopt is
[code]
What is the best way to use snopt in the case of having .so files?
Or could I obtain access to the private RobotLocomotion/snopt GitHub repository?

[2018-05-18 21:43] junhyeokahn commented on #8831
Thanks, it helps :)

[2018-05-19 01:02] #8831 closed

[2018-05-19 01:04] EricCousineau-TRI commented on #8832
This would be heavily dependent on the linter, and I think is an issue more for the autocompletion tool and not for Drake. `jedi` does seem to support parsing `c_builtin` modules, which is effectively what `pydrake` is by means of `pybind11`:
https://jedi.readthedocs.io/en/latest/docs/features.html#caveats

One thing is that `pybind11` tends to generate classes with a specific metaclass, so that m

[2018-05-21 00:38] CatchMeFastFat commented on #8832
In jupyter I excuted `%config IPCompleter.greedy=True` ,'import pydrake.all' and 'import os'.

`os.` works well, but `pydrake.` only gives `pydrake.install` as a completion in `/home/drake/build/install/drake/lib/python2.7/site-packages/pydrake/util/deprecation.pyc in install(cls, name, handler)`

I want to use this method "similar to C++":

[code]
to

[code]

BTW: in `lib/python2.7/site-packages/

[2018-05-21 00:45] #8832 closed

[2018-05-21 15:22] EricCousineau-TRI opened #8840 "python: `@python` C libraries may bring in system-installed `numpy` headers; exclude these"
We found in Anzu that if a user does not have system-installed NumPy, but a `pip` installed NumPy, then our builds fail. This was simply because we did not specify `@numpy` dependencies.

However, @jwnimmer-tri found that `@python` may include system-installed NumPy headers due to its globbing. We should exclude these.

[2018-05-21 19:43] #8798 closed

[2018-05-21 21:50] nkoenig commented on #7874
Thanks Jeremy. I'll update this issue when the SDF pull request has been merged.

[2018-05-22 01:32] jwnimmer-tri commented on #8836
I can't speak to the RobotLocomotion repository permission question, but I can speak to using binary snopt.

To be honest, this is the first I've heard of `snopt` being available in binary form.  Previously, I was aware only of two kinds of source releases -- one (source) release for licensed users which has no size limits, and then one (source) release for students that has some problem-size limi

[2018-05-22 01:34] #8840 closed

[2018-05-22 14:32] EricCousineau-TRI opened #8850 "RgbdRenderer, RgbdCamera: Expose setting intrinsics matrix; ensure that rendering is accurate to arbitrary intrinsics"
Per f2f

Steps:
- [x] Expose setting image width and height in `RgbdCamera` (C++ and Python)
- [x] Resolve #8123
- [ ] Set camera intrinsics

\cc @naveenoid @siyuanfeng-tri @kunimatsu-tri

[2018-05-22 16:38] junhyeokahn commented on #8836
Thank you for your kind reply.

I have ```so``` with https://github.com/snopt/snopt-interface/tree/master/include headers.

Do you guys have any plan to handle this case by editing build.bazel? Or I could start looking at it in my local computer.

[2018-05-22 17:06] jwnimmer-tri commented on #8836
Issue #7984 tracks porting Drake to use those signatures, instead of the legacy Fortran signatures that we are currently using.  That would be a prerequisite of adding support for a precompiled `so`.  (Once 7984 is solved, the `package.BUILD.bazel` changes to use it would be relatively easy -- change `srcs = []` to be the `*.so` file, instead of the C sources.)

I don't think anyone is actively wo

[2018-05-23 13:52] EricCousineau-TRI opened #8858 "`dynamic_programming_test` frequently times out on CI"
Capturing prior discussions about CI failures for this test:

\cc @avalenzu @BetsyMcPhail

[2018-05-23 14:49] kunimatsu-tri commented on #8850
The current `RgbdCamera` and/or `RgbdRenderer` APIs are coming from those of VTK where what we can set is `fov_y`, `width` and `height`. There is no way to set `fov_x` and that means we don't have full control for setting both `fx` and `fy` intrinsic parameters independently.

Here is the code where `fov_y` is set:
https://github.com/RobotLocomotion/drake/blob/master/systems/sensors/rgbd_renderer_

[2018-05-23 15:09] SeanCurtis-TRI commented on #8850
We might consider constructing our own projection matrix and setting the matrix rather than using the syntactic sugar that VTK provides.

[2018-05-23 15:12] jamiesnape commented on #8850
You beat me to it. I think the method is something like `SetExplicitProjectionTransformMatrix(vtkMatrix4x4)`

[2018-05-23 15:32] kunimatsu-tri commented on #8850
Great! Then, can we just ignore `SetViewAngle` or do we need some tricks to make it work?

[2018-05-23 15:36] jamiesnape commented on #8850
You can ignore it, `ComputeProjectionTransform()` is short-circuited before it uses it:

https://github.com/Kitware/VTK/blob/4656844ec61ff83c1438f03c7941126ddc53d8c3/Rendering/Core/vtkCamera.cxx#L1046-L1052

[2018-05-23 15:41] kunimatsu-tri commented on #8850
Cool. Thanks for the pointer!

[2018-05-23 15:41] EricCousineau-TRI opened #8861 "rigid_body_tree: Eigen matrix size mismatches via public API are not reported in C++ in release mode, affects `pydrake`"
At some point a while back, @thduynguyen had run into an issue where he was constructing a `RigidBodyTree` of an IIWA in `pydrake`, setting the joint angles, but the tool frame was not changing when setting the angles.

Eventually, we found that it was because he had constructed the tree with the default floating base type, and he was actually setting the floating base coordinates (size 7), not th

[2018-05-23 19:42] #8858 closed

[2018-05-23 22:03] EricCousineau-TRI commented on #8850
Sorry, I'm a little slow on the uptake; just want to confirm some deets / ask some slightly redundant questions about the  coordinates / units:

The documentation for [`GetProjectionTransformMatrix`](https://www.vtk.org/doc/nightly/html/classvtkCamera.html#a4d9a509bf60f1555a70ecdee758c2753) states:

(1)(a) Let's call the camera coordinates `[x, y, z]` and the viewport coordinates `[U, V, W]`, and

[2018-05-24 01:33] jwnimmer-tri commented on #8503
So it turns out that, yes, part of the slowness was generating documentation for lots of classes at once, and that narrowing the input helps a bit.

However, the bulk of the performance problem was that, in Doxygen if you set an `IMAGE_PATH`, on startup it immediately _recursively scans that path for all files, including following symlinks_, and because our image path has the `bazel-foo` symlinks

[2018-05-24 02:42] jwnimmer-tri commented on #8463
If someone wants to do (4) by PR'ing an IJWB fix (per the linked issue above), that's great.  I don't think (2) is worthwhile just for this issue.  That leaves (1) as the workaround for now, and I don't think we need to keep this issue open for just that reason.

[2018-05-24 02:42] #8463 closed

[2018-05-24 02:43] jwnimmer-tri commented on #7799
We can do this if / when we need.  Doesn't seem to be actively causing pain right now.

[2018-05-24 02:43] #7799 closed

[2018-05-24 03:14] sherm1 commented on #8503
OMG no wonder it's been so slow!

[2018-05-24 14:51] #8060 closed

[2018-05-24 15:03] jwnimmer-tri opened #8869 "Set SNOPT_PATH environment for CI"
I would like to have `drake-ci` test SNOPT use akin to what users would do.  This relates to #7240, #8031, #8801, #8825.  Initial testing can happen via #8825, I think.

My proposal would be the following:
1. bazel and cmake oss builds:
    - environment variable `SNOPT_PATH` is unset (as currently)
    - cmake configs at their defaults (as currently)
2. bazel and cmake `-snopt` builds:
    - envi

[2018-05-24 15:05] jwnimmer-tri commented on #8869
For clarification, my plan was to use this issue to agree on the end result, and then for #8825 to merge at least to have the non-zip changes pushed to CI sooner rather than later.  (I'm okay either way if the zip changes come along for the ride, or wait.)  If we're skipping the zip support for now, the configurations that would use zip could just use the robotlocomotion git settings for now.

[2018-05-24 15:56] EricCousineau-TRI commented on #7874
Just got to seeing this; from my perspective, it'd be best to intercept the current `sdformat` PR since it is still open, and just rewrite the script there, as there seem to be other Python scripts used within `sdformat` (there are 4 Python scripts, and only 1 other Ruby script). I am willing to try and rewrite this script briefly, see if I can test it with `sdformat`, and post on the current PR w

[2018-05-24 16:29] EricCousineau-TRI commented on #7874
Rewrote it to Python: https://github.com/EricCousineau-TRI/sdformat/commit/4bad9c20555a7350e46f629e7a0fb5222a4260f1
Will post this as a follow-up in the PR.

[2018-05-24 16:56] #8123 closed

[2018-05-24 17:09] EricCousineau-TRI opened #8874 "issue_template: Create script(s) to automatically generate version information"
As follow-up from #8851, it'd be nice to have a script (or set of scripts) which can generate a majority of the information that is being requested.

\cc @jwnimmer-tri

[2018-05-24 20:47] #8503 closed

[2018-05-25 18:36] avalenzu opened #8882 "Add "--config everything" to the list of things to check during bazel/CLion updates."

[2018-05-29 13:55] jamiesnape commented on #8882
Do you have more context/detail?

[2018-05-29 14:17] jwnimmer-tri commented on #8882
Before I bump Drake's documented/supported version of Bazel, CLion, and the IJWB plug-in on Ubuntu, I have a manual test procedure to confirm that all of the GUI pieces function correctly.  We realized last week that I wasn't testing `--config everything` as part of that, but I should be.

[2018-05-29 18:12] m-chaturvedi commented on #8783
Closing via #8883

[2018-05-29 18:12] #8783 closed

[2018-05-29 20:39] basicNew commented on #8090
Finally returning to this issue. A couple of extra requirements came up and, as @jwnimmer-tri suggested, the best thing was to implement the clock handling on the interactive backend itself.

@edrumwri thanks a lot for the code you drafted, that's what I ended up implementing :).

@EricCousineau-TRI @sherm1 thank you too for your comments in the discussion.

I'm closing this issue now as I don't t

[2018-05-29 20:39] #8090 closed

[2018-05-29 21:18] agalbachicar opened #8895 "Multilane Technical debt - World function"
The following list summarizes technical debt / nice to haves / TODOs  in multilane related to the World function:

- [ ] [cubic_polynomial.h:67](https://github.com/RobotLocomotion/drake/blob/master/automotive/maliput/multilane/cubic_polynomial.h#L67). --> it should be trivial to solve it.
- [ ] [cubic_polynomial.h:79](https://github.com/RobotLocomotion/drake/blob/master/automotive/maliput/multilan

[2018-05-30 12:59] agalbachicar opened #8897 "Multilane Technical debt - RoadCurve validity"
The following list summarizes technical debt / nice to haves / TODOs in multilane related to the RoadCurve validity.

- [ ] [arc_road_curve.cc:82](https://github.com/RobotLocomotion/drake/blob/master/automotive/maliput/multilane/arc_road_curve.cc#L82) --> it is complex to solve.
- [ ] [arc_road_curve.cc:126](https://github.com/RobotLocomotion/drake/blob/master/automotive/maliput/multilane/arc_road

[2018-05-30 13:04] agalbachicar opened #8898 "Multilane Technical debt - Documentation / renaming"
The following TODOs in multilane are related to documentation and renaming:

- [x] [loader.h:39](https://github.com/RobotLocomotion/drake/blob/master/automotive/maliput/multilane/loader.h#L39) --> Almost done in GDoc.
- [x] [road_curve.h:168](https://github.com/RobotLocomotion/drake/blob/master/automotive/maliput/multilane/road_curve.h#L168) --> Trivial.

[2018-05-30 13:39] agalbachicar opened #8899 "Multilane Technical debt - Missing tests"
The following TODOs in code are there to remember addressing tests / modifying tests:

- [ ] [multilane_builder_test.cc:23](https://github.com/RobotLocomotion/drake/blob/master/automotive/maliput/multilane/test/multilane_builder_test.cc#L23) --> Trivial.
- [x] [multilane_loader_test.cc:42](https://github.com/RobotLocomotion/drake/blob/master/automotive/maliput/multilane/test/multilane_loader_test.

[2018-05-30 14:03] agalbachicar opened #8900 "Multilane Technical debt - Rotation"
The following TODOs are related to rotation computations in multilane:

- [ ] [multilane_lanes_test.cc:296](https://github.com/RobotLocomotion/drake/blob/master/automotive/maliput/multilane/test/multilane_lanes_test.cc#L296), [multilane_lanes_test.cc:312](https://github.com/RobotLocomotion/drake/blob/master/automotive/maliput/multilane/test/multilane_lanes_test.cc#L312) and [multilane_lanes_test.c

[2018-05-30 14:06] agalbachicar opened #8901 "Multilane Technical debt - Miscellaneous"
The following list has miscellaneous TODOs in multilane:

- [ ] [builder.cc:176](https://github.com/RobotLocomotion/drake/blob/master/automotive/maliput/multilane/builder.cc#L121)
- [ ] Verify when `explicit_end` is used that not only `EnpointZ` but also `(x, y, theta)` match between the input point and the end `Endpoint` from the new `Connection`.

[2018-05-30 14:08] #8570 closed

[2018-05-30 20:09] EricCousineau-TRI opened #8902 "pydrake: Allow downstream Bazel projects to bind custom C++ code"
Per [requests on Slack](https://drakedevelopers.slack.com/archives/C2CK4CWE7/p1527703761000648):

There should be a means to bind custom Drake-consuming C++ code in Bazel.

The long-term solution is to complete #5752 + #7294, the short-term solution would be to expose `drake_shared_library` for the intermediate code to consume, and try to generalize `pybind.bzl` to allow for non-Drake bindings to

[2018-05-30 22:00] jwnimmer-tri opened #8904 "For APIs that set values, disprefer unique_ptr and prefer const-ref"
From discussion in #8862, we want a meta-issue listing all of the places that need similar treatment within the framework.  I surveyed current master for public methods that take unique_ptr arguments, and excluded APIs that are for internal use only.  This issue captures APIs that should probably switch to use const-ref.

The APIs still to be considered for rework are:
- [x] ContextBase::FixInputP

[2018-05-31 04:48] sherm1 commented on #8904
This still leaves other ways users can err with cached values. Any method that returns a mutable reference to a raw quantity, for example `ContinuousState::operator[]` or `ContinuousState::get_mutable_vector()` currently permit unchecked modification. More subtly, even methods returning _const_ references introduce the possibility that a held reference becomes invalid. Even more subtly, that can b

[2018-05-31 14:21] EricCousineau-TRI commented on #6862
Tentatively closing; more or less resolved via #7491. Can re-open if we need more explicit listing.

[2018-05-31 14:21] #6862 closed

[2018-05-31 14:36] EricCousineau-TRI commented on #7763
Per f2f with @jamiesnape, relates #8851: Seems like `$(CC)` may be an untruth of sorts?

[2018-05-31 15:01] EricCousineau-TRI opened #8907 "Be consistent with third-party include styles: Use either quote includes, or bracket (system) includes"
Relates #8197

Low-hanging fruit

[2018-05-31 18:11] jamiesnape commented on #7763
Indeed `export CC=/usr/bin/clang-4.0` => `$(CC) == clang`.

[2018-05-31 19:29] EricCousineau-TRI opened #8908 "`//examples/kuka_iiwa_arm:kuka_simulation` violates ODR due to `:iiwa_common` and `:iiwa_lcm`"
At present, `iiwa_common` and `iiwa_lcm` depend on static libraries within Drake (e.g. `//multibody:rigid_body_tree`), but `kuka_simulation` also links against `libdrake.so` via `drake_example_cc_binary`.

In drafting #8906, I realized this when digging into an issue captured by the following comments:
https://github.com/EricCousineau-TRI/drake/blob/59d9d37d8d6a5fb427b5872a8d85ed03698e756e/tools/s

[2018-05-31 19:36] jamiesnape commented on #8908
Is this the case with both Clang and GCC? The behaviors are usually slightly different with respect to linking duplicate or unnecessary dependencies.

[2018-05-31 19:38] jwnimmer-tri commented on #8908
I don't know what Bazel is doing for the magic you cite.

Maybe we should revisit the choice to use `libdrake.so` dlopen path to anchor the find_resource calls for installed Drake.  Having a stub shared library was another idea that we discussed at the time (see #7439 for `libdrake_marker.so`), and I still like that proposal better anyway.  Then `drake_example_cc_binary` dies and everything works

[2018-05-31 19:47] EricCousineau-TRI commented on #8908
Yup, that would solve the problem, and I assume should be relatively simple to implement. Will briefly tinker with that.

Testing that now; will edit this post once I'm done.

[2018-05-31 21:54] EricCousineau-TRI opened #8911 "``//bindings/pydrake/examples`` violate ODR"
As @jwnimmer-tri pointed out on Slack, targets underneath `//bindings/pydrake/examples` presently violate ODR, similar to #8908.

At present, we are getting lucky that we do not encounter the same segfault as #8908, but it may happen shortly. This should be fixed, most ideally by having all examples link to `drake_shared_library`, or even better, using granular shared libraries (#7294).

In attemp

[2018-05-31 21:58] thduynguyen opened #8912 "Create Python bindings for LcmPublisherSystem and LcmSubscriberSystem"

[2018-05-31 22:20] EricCousineau-TRI commented on #8912
Solution should (fingers crossed) be relatively simple; just wrap `SerializerInterface` and then implement a Python version of it, which shouldn't be too hard.

[2018-05-31 23:08] jwnimmer-tri commented on #8912
I would not be surprised if the better answer was to implement a pure python version of these two systems, based on pydrake's LeafSystem.  I believe the ergonomics of that for pydrake users would be vastly improved, and the work required is approximately the same as binding all of the C++ code that these two systems require.

[2018-06-01 00:15] CatchMeFastFat opened #8913 "VIEW URDF with joint sliders."
I wanted the feature here: [Making a simple URDF in Drake](https://www.youtube.com/watch?v=gugV8IMyHnY).

But when I tried to use VTK I got

Here is the code I used"it segfault even when I only include VTK headers, so if I removed VTK includes it works":

[code]
I tried the VTK part in an isolated program and it worked.

cmake file:
[code]

I think adding a tab in drake-visualizer for urdf-view wi

[2018-06-01 01:38] jwnimmer-tri commented on #8913
Hi @CatchMeFastFat.  Please take a look at http://drake.mit.edu/getting_help.html -- we now have a StackOverflow forum for questions like this (so I will close this out -- you can repost there if you are still having trouble).

To guess at the answer, though: your error shows VTK 6 being loaded, but the Drake binary release also provides (and depends on) VTK 8.  Be sure that you are not mixing and

[2018-06-01 01:38] #8913 closed

[2018-06-01 01:59] EricCousineau-TRI commented on #8912
I think that the binding the publisher for simple cases (`AbstractValue`'s) will definitely be an equivalent effort (~5-10 lines of meaningful bindings code vs. ~5-10 of ); however, the subscriber will involve the odd synchronization mechanism.
Additionally, my view is that bindings C++ code means that I can rely on the existing test code, and just flex the API. If I write Python code anew, I am t

[2018-06-01 02:07] jwnimmer-tri commented on #8912
I was more imagining a python system where the user choose their own input port type (which would not be `Value<Message>`, but rather whatever plant output or thing they want to publish) as well as a python functor to convert the input to an lcm message, which the base code then serialized and transmitted.  Same thing for the subscriber.  I don't see any reason for `Value<Message>` to be involved,

[2018-06-01 02:11] jwnimmer-tri commented on #7874
@nkoenig What's up with the sdformat PR?  This issue is biting us hard and I would like to either know the upstream PR is making forward progress, or else I will fire drill the Drake work-around.

[2018-06-01 13:17] clalancette commented on #7874
@jwnimmer-tri FYI Nate is on vacation this week; he should be back next week.

[2018-06-01 19:34] RussTedrake commented on #3815
this has been working great (and I've survived the term)

[2018-06-01 19:34] #3815 closed

[2018-06-01 20:02] thduynguyen commented on #8912
Btw, these are needed to build a simulator for our perception dev workflow. The pipeline needs an lcm subscriber to receive `lcmt_iiwa_command` messages, and an lcm publisher to publish `robotlocomotion::image_array_t`.

On the publisher side, we also need a Python binding for `ImageToLcmImageArrayT` system to convert output images from `RgdbCamera` to lcm messages.

[2018-06-01 21:52] gizatt opened #8918 "Binary install_prereqs missing python-tk"
Encountered by a user on Wednesday at the Cornell tutorial, and also encountered by myself when setting up a test image. Needs to be pulled from apt, I think?

[2018-06-01 22:07] EricCousineau-TRI opened #8919 "pydrake sensors: `Image.data` does not keep instance alive, images can give junk data"
In tinkering with some `RgbdCamera` stuff, I was getting junk data from label images (e.g. `set(label_image.data)`). Realized that the `py_reference_internal` in the binding code does not seem to be taking effect.

My guess is that `def_property_readonly` is not actually propagating the `py_reference_internal`, so I should instead define a custom setter like @jadecastro did in his automotive PR.

[2018-06-02 15:07] justinej commented on #5927
I ran into a similar problem with missing VTK files because I had installed VTK 8.1 using brew. I followed the instructions on this thread and did:
`brew uninstall vtk && brew tap robotlocomotion/director && brew install vtk@8.1`

[2018-06-02 20:19] jadecastro opened #8921 "Subsystems that poll named vector inputs fail when T = AutoDiffXd."
There seems to be a failure happening when a Diagram is set up in such a way that one subsystem polls an input which is a subclass of BasicVector, and when `T = AutoDiffXd`.  Under such circumstances, a `std::logic_error` like the following is thrown:
[code]
but no such error is thrown when `T = double`.

This error can be reproduced via `bazel run //automotive:automotive_simulator_test` after mak

[2018-06-04 13:19] sammy-tri opened #8922 "car_sim_lcm has inverted steering and throttle control"
When running `car_sim_lcm` according to the instructions from https://github.com/RobotLocomotion/drake/blob/master/automotive/README.md#running-the-dynamics the steering angle control seems to control the vehicle's velocity, and the throttle/brake controls seem to affect the wheel angle.

[2018-06-04 13:22] sammy-tri commented on #8922
Assigning to @liangfok based on git history.  Apologies if you're not the right person for this.

[2018-06-04 15:49] #8812 closed

[2018-06-04 17:46] EricCousineau-TRI opened #8927 "autodiff: Difficult to track semantics of variables, difficult to mix gradients"
## Description

@TobiaMarcucci ran into an issue when working with `RigidBodyTree` where he had some expressions that depend on just `q` (e.g. `massMatrix`), and others that depend on `q` and `v` (e.g. `dynamicsBiasTerm`). In doing so, using the current forward-diff implementation in `AutoDiffXd`, he had to either (a) explicitly ensure that all autodiff variables were specified w.r.t. `[q, v]` or

[2018-06-04 19:09] #8908 closed

[2018-06-04 19:40] TobiaMarcucci commented on #8927
Yes, my goal as said is to linearize the dynamics of a `RigidBodyTree` around a point that is not an equilibrium, and I'm working in python.

At the moment I'm doing a huge workaround to get the linearization, since from python I'm not able to get the inverse of the mass matrix in auto diff form. So, first I linearize the equations in the "manipulator form" then I put the system in state-space for

[2018-06-04 19:55] sherm1 commented on #8921
I'm looking at this @jadecastro. Looks like the multiplexer didn't preserve the concrete BasicVector type when transmogrified. Might be fallout from recent input port changes. Great error message though! :)

[2018-06-04 20:00] jwnimmer-tri commented on #8921
This is a bug in Multiplexer's transmogrification support, due to @jadecastro's e55007a1, not a bug in the framework.

[2018-06-04 20:02] jwnimmer-tri commented on #8921
Specifically, in this code ...
[code]
... the hard-coded `BasicVector` fails to preserve the model vector's subtype.

[2018-06-04 20:03] jwnimmer-tri commented on #8921
My suggested fix would that Multiplexer should not try to offer subtyping, but rather just do the multiplexing.  We could / should have a `VectorCast` system (or similar -- possibly with a gain term, or even just enhance the Gain block) that turns untyped input into typed output.

[2018-06-04 20:17] sherm1 commented on #8921
Yeah, I just found that too. Should be easy to fix if we can transmogrify a BasicVector.

[2018-06-04 20:52] jwnimmer-tri commented on #8921
I'm not sure that values should ever intrinsically transmogrify; see #5454 for discussion.  Here, we don't need to transmogrify the value, we just need to remember the model _type_.  I have a prototype of this in my https://github.com/jwnimmer-tri/drake/tree/framework-vectorsystem-symbolic work.

[2018-06-04 20:53] sherm1 commented on #8921
OK, I see that's easier said than done! Wouldn't be hard to add a limited set of `VectorBase::ToAutoDiffXd()`-like virtuals (with an update to the BasicVector generator) but general doubly-templatized transmogrification seems out of reach. @jwnimmer-tri do you think that's worth doing?

[2018-06-04 21:05] #8902 closed

[2018-06-04 21:14] jwnimmer-tri commented on #8921
I don't think we should transmogrify values on a whim.  As #5454 discusses, the difference between SetFromDouble and ToOtherScalar is important.

I think that for now, I'd say if one wants a system to output a custom vector subclass, then one should write a System that does so.  That would solve the current use case and a bunch of related ones.  It's not like the Multiplexer primitive is buying us

[2018-06-04 21:30] sherm1 commented on #8921
In that case I think the bug here is that the Multiplexer's documentation doesn't mention that it doesn't preserve the BasicVector subtype when ToAutoDiffXd() is called. @jadecastro do you want to fix the documentation?

[2018-06-04 21:37] jwnimmer-tri commented on #8921
In particular, the `Multiplexer(const systems::BasicVector<T>& model_vector);` constructor should disable scalar conversion entirely.  See my recent changes to `primitives/constant_vector_source.h` (#8794) for an example.

[2018-06-05 01:18] jwnimmer-tri commented on #8918
@gizatt What program or use case evidences the missing dependency -- `drake-visualizer` maybe?

[2018-06-05 02:45] jwnimmer-tri opened #8930 "Add and promise `@fmt` as a permanent LWYU deps of `//common:essential`"
See #8929 for a little background.

When we include `fmt/format.h` from some cc_library in Drake, we generall don't have to add `@fmt` to deps because it is (almost always) transitively added via `//common:essential` -- our essential library uses spdlog and spdlog uses fmt.  Thus, our CI doesn't enforce LWYU in the BUILD file for code we write that uses fmt.  However, if some Bazel-using downstrea

[2018-06-05 14:46] jwnimmer-tri opened #8935 "Re-enable `//common:print_host_settings_test`"
In #8931 we disabled this test because it broke macOS.  The test should be re-enabled and/or reworked.

[2018-06-05 17:32] gizatt commented on #8918
I think for both of us, it wound up being a matplotlib dependency -- which shows up in the python bindings, maybe a little in VTK, and yeah, in director.

[2018-06-06 01:20] EricCousineau-TRI opened #8940 "Upgrade to VTK 8 / 8.1 breaks some features in director / drake visualizer"
## Description

Per discussions in Drake Developer Meeting and on Slack, @manuelli and @peteflorence have been impacted by the upgrade to VTK 8 / 8.1. Per Lucas's comment:

## Reproduction

@manuelli Can I ask if you can elaborate on how to reproduce these crashes?

## Debug Information

Given that this is a known repository + workflow, `spartan` used by RobotLocomotion group, skipping debug infor

[2018-06-06 13:55] manuelli commented on #8940
**Issue 1**: click + f which is used to zoom and change the focus of the camera rotation no longer works.

**How to reproduce**: This can be reproduced in `spartan/master`. Note that this has an older version of directory fron Jan 26, so maybe this has been fixed in director/master when built with vtk8. We haven't had time to get around to updating, but the same procedure should work to test if th

[2018-06-06 15:27] jamiesnape commented on #8684
Bazel 0.14.0 has a set of constraints for compiler family, which will solve any issues with warning flags if they were actually implemented (correctly).

[2018-06-06 20:39] amcastro-tri opened #8942 "Perfomance profiling of the Implicit Stribeck in MbP"
## Description
I performed profiling of the [simple_gripper](https://github.com/amcastro-tri/drake/tree/implicit_stribeck_in_mbp/examples/simple_gripper) example using the implicit Stribeck time-stepping method in MBP (Implicit Stribeck PR #8925 under review, you can reproduce this profiling off my dev branch with everything integrated into MBP [here](https://github.com/amcastro-tri/drake/tree/imp

[2018-06-06 20:40] amcastro-tri commented on #8942
cc'ing @SeanCurtis-TRI. Hopefully this helps you reproduce it.

[2018-06-06 20:45] SeanCurtis-TRI opened #8943 "Reconcile "anchored" geometry between MBP and SceneGraph"
## Description

SceneGraph distinguishes between two types of geometry: anchored and dynamic. The distinction is one of efficiency; for geometry that is "anchored" to the world:
  - poses do not need to be reported at each update
  - we can automatically exclude collisions between anchored geometry
  - we can support more complex geometries (i.e., anchored geometries can use expensive pre-computat

[2018-06-07 17:22] SeanCurtis-TRI opened #8948 "QueryObject<AutoDiffXd> and MBP<AutoDiffXd> support"
## Description

`MultibodyPlant<T>::CalcAndAddContactFOrcesByPenaltyMethod` throws an exception by default. It has a specialization for `T = double`. The reason for this is that the result of the `QueryObject<T>::ComputePointPairPenetration()` always returns a vector of `PenetrationAsPointPair<double>` (due to incomplete autodiff support through FCL.)

## Analysis

It may be that the specializatio

[2018-06-07 19:34] amcastro-tri commented on #8948
I actually have I PR were I attempt to clean this up and I believe I do what you suggest. I'll see to push it next for you to review @SeanCurtis-TRI, I wonder if I got it right.

[2018-06-08 13:53] amcastro-tri commented on #8942
A little update. When completely removing the visuals (commented out in the SDF's for both the gripper and the mug) for this example the costs get split as:
- MultibodyPlant::DoCalcDiscreteVariableUpdates(): 94.5%
- ProximityEngine::ComputePointPairPenetration(): 38.8%
- MultibodyPlant::CalcTangentVelocitiesJacobian(): 29.2%
- MultibodyTree::CalcMassMatrixViaInverseDynamics(): 14.8%
- ImplicitStri

[2018-06-08 13:58] SeanCurtis-TRI commented on #8942
FTR Would it be correct to say that in the list of functions you've shown above, that `MultibodyPlant::DoCalcDiscreteVariableUpdates()` invokes all of the other functions listed? Also, further elaboration on the percentages would be good -- as they don't total to 100%, one must infer that they reflect the percentage of the level of the call tree in which they are invoked. So, understanding that so

[2018-06-08 14:20] jwnimmer-tri commented on #8942
The percentages mean "what fraction of total execution time was spent with this function on the call stack somewhere".  So `main()` (if shown) would be nearly 100%, for example.  I think the important line item above is that the `ComputePointPairPenetration` workload is ~40% of total runtime, so if we can perhaps decimate its workload, we could gain a ~50% improvement in throughput.

[2018-06-08 14:31] jwnimmer-tri commented on #8942
Ah, sure; I assumed they were global percentages -- though yes absolutely if they are not global then that should be clarified.

[2018-06-08 15:10] amcastro-tri commented on #8942
@jwnimmer-tri is correct. I updated the description.

[2018-06-08 18:11] fbudin69500 commented on #8940
@manuelli I was trying to reproduce your bug. I recompiled `spartan` on my computer but I couldn't reproduce your problem. I tried to use `left click +f` but it seems that both those events are separate: `left click`=" rotate the camera around its focal point" and `f` = "fly to the picked point". Is something different suppose to happen when both events happen at the same time?

[2018-06-08 18:13] manuelli commented on #8940
Sorry, the I didn't explain well. It's not simultaneous.

Step 1: Click on the point where you want to center camera rotation.
Step 2: hit `f` on keyboard

This gets me into the weird state. Use `r` to reset the camera.

[2018-06-08 22:06] EricCousineau-TRI opened #8958 "pydrake: Make unittest tolerance semantics for `np.array`s related to `CompareMatrices`"
Per comment here:
https://github.com/robotlocomotion/drake/pull/8956#issuecomment-395849867

`np.allclose` has two tolerances with default values, `rtol=1e-05` and `atol=1e-08`, which are combined in the [following fashion](https://docs.scipy.org/doc/numpy-1.11.0/reference/generated/numpy.allclose.html):

Test case authors should be wary of these semantics.

My ideal realization of this is to make

[2018-06-08 22:07] SeanCurtis-TRI opened #8959 "SceneGraph `GS_THROW_IF_CONTEXT_ALLOCATED` should have terminal parentheses"
SceneGraph.cc has a malformed macro leading to callsites that look like:

`GS_THROW_IF_CONTEXT_ALLOCATED`

it needs to become

`GS_THROW_IF_CONTEXT_ALLOCATED()`

[2018-06-08 22:10] EricCousineau-TRI opened #8960 "pydrake eigen: Remove check semantics to more accurately reflect C++"
Per comment:
https://github.com/robotlocomotion/drake/pull/8956#issuecomment-395849867

@SeanCurtis-TRI : To answer your question: I had started it out this way in wanting to have the Python functionality be a little more robust, but it does create awkward asymmetries, in that you can pass a non-unit / orthonormal `Eigen/Geometry` element from C++ to Python, and it won't know any better.

Ideally,

[2018-06-08 22:19] jwnimmer-tri commented on #8959
To be precise, we want `GS_THROW_IF_CONTEXT_ALLOCATED();` (with the semicolon placed at each call site).

[2018-06-08 22:38] SeanCurtis-TRI commented on #8958
It doesn't seem the link to the comment is as target as you'd like -- when I click on it, it takes me to the block of comments, but not the comment specifically.

[This link](https://reviewable.io/reviews/robotlocomotion/drake/8956#-LEVdQLI8Uvrw3zTJIXx:-LEVdOEa9vIqgf9peMKD:bh1wnhh) might be better.

[2018-06-08 23:45] jwnimmer-tri commented on #8801
Partially fixed by #8872 when using SNOPT_PATH archives; the full fix happens once #8825 changes the default to use archives instead of git.

[2018-06-09 01:32] jwnimmer-tri commented on #5798
This issue appears to be resolve on master; if you agree, please close it.

[2018-06-09 01:53] jwnimmer-tri commented on #6698
Possibly worth revisiting the second and third points again now (relates #8851).

[2018-06-09 01:54] jwnimmer-tri commented on #6686
@soonho-tri Is this any better now?  Is there anything left to do, or could we close it?

[2018-06-09 01:55] jwnimmer-tri commented on #6436
We seem to be surviving without this, so I am inclined to close this, but I'm curious if others wish to keep it alive.

[2018-06-09 01:57] jwnimmer-tri commented on #7024
Relates #7321.  Relates #6229.

[2018-06-09 01:57] jwnimmer-tri commented on #6229
Moving owners to match #7024.

[2018-06-09 01:58] jwnimmer-tri commented on #6149
@RussTedrake okay to close now?

[2018-06-09 02:01] #6149 closed

[2018-06-09 02:01] jwnimmer-tri commented on #6321
Since the hard-coded numbers lack comment reminders, I think I screwed this up in my monthly bump for externals version in the path few months.  I'll take this on to repair or at least mitigate for now next time I do the monthly update, and then close out this issue.

[2018-06-09 02:07] jwnimmer-tri commented on #1769
I think issue is probably finished, and "the things installed by Drake's binary release" is the short answer we've settled on, but I will reconsider in the next couple weeks if there is more still to be done.

[2018-06-09 02:13] jwnimmer-tri commented on #1654
https://github.com/RobotLocomotion/drake/blob/master/automotive/models/prius/prius_with_lidar.sdf

[2018-06-09 02:13] #1654 closed

[2018-06-09 02:16] #1759 closed

[2018-06-09 02:16] #2256 closed

[2018-06-09 02:18] jwnimmer-tri commented on #1908
https://github.com/RobotLocomotion/drake/blob/master/multibody/rigid_body_plant/visualization/contact_viz.py

[2018-06-09 02:18] #1908 closed

[2018-06-09 02:19] #2457 closed

[2018-06-09 02:20] #2606 closed

[2018-06-09 02:21] jwnimmer-tri commented on #3053
Moving over to @sammy-tri per recent work like #8928's second incarnation.  I suspect you can close this either now or once the second incarnation lands, perhaps?

[2018-06-09 02:34] jwnimmer-tri commented on #5698
Seems fine without.

[2018-06-09 02:34] #5698 closed

[2018-06-09 02:35] jwnimmer-tri commented on #5267
@sammy-tri Is this issue resolved to our satisfaction?

[2018-06-09 02:41] jwnimmer-tri commented on #4343
This issue was a speculative suggestion to change the implementation based on a few different hypothetical future problems.  If we have real problems, we can open new issues.  For now, this seems like a dead end.

[2018-06-09 02:41] #4343 closed

[2018-06-09 02:56] jwnimmer-tri commented on #3649
Fixed in #7293.

[2018-06-09 02:56] #3649 closed

[2018-06-09 02:59] jwnimmer-tri commented on #5036
We can revisit if / when we next refresh this document.

[2018-06-09 02:59] #5036 closed

[2018-06-09 03:10] soonho-tri commented on #6686
I think we're good now. @jamiesnape , please re-open this if you think not.

[2018-06-09 03:10] #6686 closed

[2018-06-09 03:14] jwnimmer-tri commented on #3537
I read through the plug-in's code.  In the Jenkins `/configure` screen, in the "GitHub Pull Request Builder" section, after opening the "Advanced" fold (near the "Admin List" textbox), there is a config setting named "Request for testing phrase".  I believe if we set that to empty, the bot will no longer spam us.

https://github.com/jenkinsci/ghprb-plugin/blob/b49fbc7/src/main/java/org/jenkinsci/p

[2018-06-09 06:01] junhyeokahn opened #8961 "child class of leafsystem generating sinusoidal signal"
Hello,
I am trying to make a child class of ```LeafSystem``` whose output is sinusoidal and its derivative.
I wrote the code and try to plot it but signal logger doesn't log correctly.
I am not sure if I can ask to debug my code here, but I would appreciate if someone could advise me.

[code]

The output of the code is
[code]
Whatever number I used in ```StepTo``` function, signal logger only cate

[2018-06-09 18:10] kunimatsu-tri commented on #8368
It turned out that the bug was coming from wrong SDF modes which don't have `inertia` property.

![image](https://user-images.githubusercontent.com/21087695/41194443-574a2cb6-6be9-11e8-884a-01f7719e5e5a.png)

[2018-06-09 21:32] EricCousineau-TRI commented on #6436
I don't think I've heard anyone complain about inspecting PR sizes, so I'd be fine with closing it down as manual nagging seems sufficient :P

[2018-06-09 22:09] jwdinius commented on #8961
This isn't an issue with the code base.  Check out this page for advice on getting help with using the repo http://drake.mit.edu/getting_help.html.  Have you checked Stack Overflow yet?

[2018-06-10 03:10] RobotXiaoFeng opened #8964 "drake_visualizer import error: no module named vtkRenderingOSPRayPython"
## Description

Hi, I am new to drake and am trying to run the kuka_iiwa example here: https://github.com/RobotLocomotion/drake/tree/master/examples/kuka_iiwa_arm.
I build drake using bazel then follow the instructions in the example. However, when I try to launch drake_visualizer, there is an

  File "\<string>\", line 1, in \<module>\
  File "/home/shawn/.cache/bazel/_bazel_shawn/d9ec32c4c589847

[2018-06-10 03:54] #6436 closed

[2018-06-10 04:06] jwnimmer-tri commented on #8964
Possibly related to #8789.

However,
[code]
works just fine for me on Ubuntu 16.04, using latest master.

Please fill out the full bug report template that was provided when you opened the issue.  If we can't reproduce the problem (what commands did you run? what OS? what revision of Drake? what is your PYTHONPATH?), we can't help fix it.

[2018-06-10 09:19] RobotXiaoFeng commented on #8964
I've fill the bug report template.

[2018-06-10 13:45] junhyeokahn commented on #8961
Thanks, I will move this to overflow.

[2018-06-10 13:45] #8961 closed

[2018-06-11 02:09] #8368 closed

[2018-06-11 11:34] amcastro-tri commented on #4875
This actually is the main mechanism by which you fix bodies to the world in MBP. If no fixed joint connects your robot to the world, it'll start falling due to gravity, as in Gazebo.

[2018-06-11 11:34] #4875 closed

[2018-06-11 11:36] amcastro-tri commented on #4067
MBP allows to programmatically add a weld joint between two arbitrary bodies in the model,  one of which can also be world.

[2018-06-11 11:36] #4067 closed

[2018-06-11 11:39] amcastro-tri commented on #2588
More specifically to our new infrastructure with MBP/SG/sdformat, we'd like to update our sdformat based parser to read textures and other visual information.

[2018-06-11 11:45] amcastro-tri commented on #4442
This is one of the motivations for the migration to use `sdformat` for parsing, it does provide this parser class as here described. It still is in the works, but @nkoenig is working on it.
I will close this since @nkoenig already addressed exactly what this PR describes by introducing more semantically meaningful objects to `sdf::`.

[2018-06-11 11:45] #4442 closed

[2018-06-11 12:28] RussTedrake commented on #8961
fwiw, answered there: https://stackoverflow.com/questions/50784466/child-class-of-leafsystem-generating-sinusoidal-signal/50795952#50795952

[2018-06-11 13:14] jamiesnape commented on #3537
We can, but unfortunately I have to go through every single job and update the setting, so it may take a while.

[2018-06-11 13:21] jwnimmer-tri commented on #3537
I guess I was thinking about doing a quick test to confirm my reading of the code was correct, though yeah -- just changing one build's setting would be difficult to tell whether the spam went down by one.

[2018-06-11 16:05] EricCousineau-TRI commented on #8964
Thanks for using the template!
Just out of curiosity, can I ask if you can post the full stack trace to that import error? I'm curious which module in VTK Python is requesting OSPRay at this point.

Also, I see that you may be mixing up the Python bindings build; at present, you won't be able to import `pydrake` from the Bazel-ran version of `drake_visualizer`; since you are using the binary packa

[2018-06-11 16:10] edrumwri commented on #5798
Issue has been resolved.

[2018-06-11 16:10] #5798 closed

[2018-06-11 17:09] #8921 closed

[2018-06-11 17:13] #5267 closed

[2018-06-12 04:12] RobotXiaoFeng commented on #8964
Hi Eric,
I've post the full stack trace~

`bazel run //tools:drake_visualizer` in a fresh terminal without any extra set also fails.

And

$ bash-isolate
bash-4.3$ cd drake
bash-4.3$ bazel run //tools:drake_visualizer
gives the same error as well.

I moved from windows to ubuntu only recently, maybe this problem is due to some inappropriate settings?

Also, the binary is downloaded and try after I

[2018-06-12 15:03] mws262 commented on #8964
Another coworker and I are having this issue too. I found a stupid hack to get around it. I imagine altering things in the bazel-bin folder is evil, but maybe this will help you diagnose the true root of the issue.

The error happens .../drake/bazel-bin/tools/drake_visualizer.runfiles/drake/external/vtk/lib/python2.7/site-packages/vtk/vtkRenderingOSPRay.py:

[code]

Replace with something like:

[

[2018-06-12 15:08] RobotXiaoFeng commented on #8964
@mws262 LOL

[2018-06-12 15:29] amcastro-tri commented on #8942
Update on the profiling incorporating geometry filtering (PR #8954). Even slightly better than removing all visuals in the last profile. (runs at 3.5X in my HP Z640).

- MultibodyPlant::DoCalcDiscreteVariableUpdates(): 93.6%
- ProximityEngine::ComputePointPairPenetration(): 34.17%
- MultibodyPlant::CalcTangentVelocitiesJacobian(): 31.7%
- MultibodyTree::CalcMassMatrixViaInverseDynamics(): 15.86%
-

[2018-06-12 17:21] sherm1 commented on #8942
Can't tell from these percentages how much the overall runtime is improving -- can you give a total time or rate vs. real time?

[2018-06-12 17:28] amcastro-tri commented on #8942
The first test listed at the top, run at about 2X. With filtering we go up to 3.5X (in my (slow) local workstation). Time step is 1ms.

[2018-06-12 20:53] amcastro-tri commented on #8761
A fix was merged into sdformat, [#434](https://bitbucket.org/osrf/sdformat/pull-requests/434/embed-sdf/diff).
I believe for this to work for us we need some python magic? @EricCousineau-TRI?

[2018-06-12 21:14] EricCousineau-TRI commented on #8761
Yup, this is the Python version script, at least at the revision that I had seen:
https://github.com/EricCousineau-TRI/sdformat/commit/4bad9c20555a7350e46f629e7a0fb5222a4260f1#diff-358fe4d439e264bddb6b1a37d6ca8d54

I'm off in OSPRay land trying to debug stuff 'n such, so I may not be able to get to it super quick.
What time you need it by? Might Friday be OK?

[2018-06-12 21:22] amcastro-tri commented on #8761
That'd work. Thanks!

[2018-06-12 21:29] jwnimmer-tri commented on #8761
Can we close this as a dup of #7874 so that we only have one place to trace progress updates and assignments?

[2018-06-12 21:32] EricCousineau-TRI commented on #8761
Duplicate of #7874

[2018-06-12 21:32] #8761 closed

[2018-06-12 21:33] EricCousineau-TRI commented on #7874
Per convo here: https://github.com/RobotLocomotion/drake/issues/8761#issuecomment-396730159

Will address this on Friday.

[2018-06-12 21:35] jwnimmer-tri commented on #7874
If the macOS support for ruby works our of the box, my current thinking is that we add the build-dep on ruby and call the upstream script.  I will give that a spin in the next day or two.

[2018-06-13 05:16] dmsj commented on #7882
What is the status on 18.04 support? I ran into a few issues on quick cursory build attempt.
[code]
The obvious super simple fixes didn't work.

[2018-06-13 10:29] jwnimmer-tri opened #8974 "Consider incorporating log4cpp or log4cxx logging back-end"
Back in #1895 we discussed and chose `spdlog` and Drake's text logging framework.

In #8955 and related discussions elsewhere, there is interest in having additional features available for Drake developers, most notably multiple named log channels and easier control over log sinks.  The best way to do this might be to upgrade to thicker logging library.  I think the two most reasonable choices are

[2018-06-13 10:51] jwnimmer-tri commented on #8974
Alternatively, we could stick with the `spdlog` APIs within Drake, but offer sample code and/or tutorials for how to back-end Drake text logs into the user's pre-existing text logging framework (be it log4cpp, log4cpp, or something else entirely).

[2018-06-13 13:35] jamiesnape commented on #7882
Still unsupported, no ETA for support at present.

[2018-06-13 14:06] jwnimmer-tri commented on #7882
Maybe I should PR the `os.bzl` change that enables 18.04 identification, but still leaves any workspace entries that are sensitive to the 16.04 vs 18.04 distinction as failures.  That would at least enable off-label bazel builds on 18.04 for the subset of Drake that doesn't depend on the Drake-specific precompiled dependencies.

[2018-06-13 14:09] jamiesnape commented on #7882
Sure, I have no problem with that.

[2018-06-13 15:00] frankpermenter opened #8977 "New constructor for Monomial class"
Take VectorX\<Variable\> and Eigen::VectorXi as input and construct a Monomial object.

Ex:
[code]
The reverse operation (converting a Monomial to Eigen::VectorXi) would also be useful
[code]
as would the reverse operation that converts a Polynomial to a MatrixXi:
[code]

[2018-06-13 15:03] jwnimmer-tri commented on #8977
Since `Variables` is unsorted, I think we instead need `VectorX<Variable>` and `VectorXi` as the two arguments.

[2018-06-13 15:08] mws262 commented on #8964
This issue and several others resolved for me when I downgraded CLion from a 2018 version to 2017.3.
The Bazel plugin for CLion has not yet been updated for 2018.

[2018-06-13 15:11] soonho-tri commented on #8977
@jwnimmer-tri, I agree. The only caveat is that `Variables` is actually ordered by `Variable::Id`. But I agree that this ordering is highly likely not the one that users expect.

@frankpermenter , could you update the issue? Also, please add the reverse operation on the `symbolic::Polynomial` to the first comment.

[2018-06-13 15:11] frankpermenter commented on #8977
The "reverse" operation that takes a Monomial (or Polynomial) to a VectorXi (or MatrixXi) of exponents would also be useful.

[1,2,3
 0,0,2]

[2018-06-13 15:20] soonho-tri commented on #8977
@frankpermenter , can you either post your working branch here or send the link to me?

[2018-06-13 15:34] frankpermenter commented on #8977
@soonho-tri
See https://github.com/frankpermenter/drake/blob/monomialbasis/solvers/sos_utils.cc

The function "ExponentsToMonomials" implements the requested Monomial constructor and the function "GetPolynomialExponents" implements the reverse operation.

[2018-06-13 15:57] EricCousineau-TRI opened #8978 "vtk ospray: Synchronization issues cause segfaults ~10% of the time"
## Description

Relates #8939

With the current setup of VTK's OSPRay integration, it seems that there are synchronization issues (still unsure if it's VTK, ospray, embree, or something else) that cause @kunimatsu-tri's unittests using `RgbdRendererOSPray` to segfault maybe ~10% of the time.

\cc @jamiesnape @kunimatsu-tri

## Reproduction

Code:
* [C++ Code, consolidated](https://github.com/EricC

[2018-06-13 16:00] jwnimmer-tri commented on #8978
I'd also suggest trying valgrind and/or asan, to get better diagnostics.

[2018-06-13 16:01] jamiesnape commented on #8978
`Dockerfile` for building VTK: https://gist.github.com/jamiesnape/78e86517130738eb60123fae2a57e2a8

[2018-06-13 16:01] kunimatsu-tri commented on #8978
This is great. Thanks @EricCousineau-TRI for your digging and consolidating!

[2018-06-13 16:04] EricCousineau-TRI commented on #8978
I had briefly tried using `valgrind` under GCC and was able to get some output for it; however, I had difficulty interpreting the results and distinguishing what may be SIMD efficiency-related stuff vs. what actually pointed to synchronization issues or what not.
Definitely worth digging into more deeply, though.

For ASan / TSan type stuff, I had not yet tried compiling VTK + deps with these flag

[2018-06-13 16:11] EricCousineau-TRI opened #8979 "vtk ospray: Upstream libraries (embree, ospray, tbb?) may be sensitive to which compiler is used"
Relates #8978 - most reproduction items are the same as this issue.

## Description

This namely comes to bear when building the libraries in debug mode, and then attempting to debug the application.

If VTK's OSPRay dependencies (embree, ospray, possibly tbb) are built with `gcc-5`, and if you attempt to build and debug with `clang-4.9` or what not, then you may run into segfaults or breaks in GD

[2018-06-13 16:11] #8979 closed

[2018-06-13 16:23] EricCousineau-TRI commented on #8979
Closed, as it does not seem fixable; given that we do not distribute debug binaries, may not be relevant.

Main takeaway: When debugging, build with the same compiler.

[2018-06-13 16:43] jwnimmer-tri opened #8981 "Update Ubuntu CI AMIs to incorporate ruby"
Please update our Ubuntu CI AMIs to incorporate #8976.

This is a prerequisite for #8975.

[2018-06-13 18:42] dmsj commented on #7882
I think we can make it work with the updated `os.bzl` - much appreciated!

[2018-06-13 19:05] BetsyMcPhail commented on #8981
The Xenial AMI has been updated. As always, it will take Jenkins awhile to cycle through its current images and start using the new image.

[2018-06-13 19:05] #8981 closed

[2018-06-14 00:27] jwnimmer-tri commented on #8463
New idea:
(5) In our `text_logging_gflags.h`, we add a dummy `--gtest_color` flag that is documented to the user to be a no-op.  This is a gross hack, but surgically solves the problem and so is easy to undo later.

[2018-06-14 01:42] jwnimmer-tri commented on #3966
Fixed in b63975cb6f3f3dc2d0296668a592903af36949e9 a long time ago.

[2018-06-14 01:42] #3966 closed

[2018-06-14 02:03] jwnimmer-tri commented on #6321
In #8975, I've added some reminder comments, which is good enough for me.  Bumping back over to kitware again now.

[2018-06-14 09:11] RussTedrake opened #8991 "stateless system with a fixed step integrator does not generate publish events."
Related to #8990.

Adding the following lines to `signal_logger_test.cc` (#8990 contains the missing #include and namespace update) reveals what I consider incorrect behavior (which surfaced in https://stackoverflow.com/questions/50784466/child-class-of-leafsystem-generating-sinusoidal-signal/50795952?noredirect=1#comment88634316_50795952).

[code]

The above test fails.  It only publishes at time

[2018-06-14 13:44] jwnimmer-tri commented on #7003
@jamiesnape I think you have the best understanding of what (if anything) we should still improve, suggestions for next steps, and to help inform what the priority should be.

[2018-06-14 13:47] jwnimmer-tri commented on #1769
I don't there is more to do right now, but @RussTedrake please re-open if you disagree.

[2018-06-14 13:47] #1769 closed

[2018-06-14 14:02] jwnimmer-tri opened #8994 "Update Ubuntu CI AMIs to incorporate Bazel 0.14.1"
Please update our Ubuntu CI AMIs to incorporate #8988.  (Apologies that I didn't batch this up with #8981 -- I didn't foresee that both would be ready concurrently.)

This is a prerequisite for #8881.

[2018-06-14 15:04] fbudin69500 opened #8996 "`rgbd_renderer_vtk_test` fails on some configurations if `show_window=true` and multi-sampling is enabled"
## Description

`rgbd_renderer_vtk_test` fails on some configurations if `show_window=true` and multi-sampling is enabled because of a bug in the NVidia drivers. This bug has been reported to NVidia but their bug tracker is private, so I cannot link the bug report in this issue.

The background color bleeds through opaque foreground with OPENGL multisampling ON. This happens only for the center pi

[2018-06-14 15:04] #7368 closed

[2018-06-14 15:34] soonho-tri commented on #7387
@jwnimmer-tri , I think we can close this (thanks to https://github.com/RobotLocomotion/drake/pull/8218). What do you think?

[2018-06-14 15:36] soonho-tri commented on #7015
Close by #7199

[2018-06-14 15:36] #7015 closed

[2018-06-14 15:40] jwnimmer-tri commented on #7387
I agree -- its solved for Ubuntu and I think leaving homebrew as-is seems to be working alright.

The one discussion upthread that might still be relevant is that we should be sure that Drake maintainers besides @soonho-tri can create and distribute new binary releases.  If there's not already an issue tracking that, perhaps there should be.

[2018-06-14 15:40] #7387 closed

[2018-06-14 15:43] jwnimmer-tri commented on #7387
I guess https://github.com/dreal/dreal4#build-debian-package is a fair start, but some kind of CI-related automation would be super.

[2018-06-14 15:47] soonho-tri commented on #7387
FYI,

1. Correct, the `#build-debian-package` page includes the instruction (one-liner).
2. The latest and the previous versions of `.deb` files are also available at https://bintray.com/dreal/dreal/dreal#files.

[2018-06-14 16:39] jamiesnape opened #8997 "Enable Bazel remote caching on more/most continuous/experimental builds by default"
A tracking issue for the above. More relevant when bionic support causes the number of jobs to increase more than our CI budget can handle.

FYI @EricCousineau-TRI.

[2018-06-14 17:09] #3548 closed

[2018-06-15 11:31] #8930 closed

[2018-06-15 14:47] #8977 closed

[2018-06-15 15:04] #8560 closed

[2018-06-15 19:12] EricCousineau-TRI opened #9009 "pydrake: Permit consuming consuming `*_pybind.h` headers in downstream projects"
Per @mposa's request, to enabling binding code such as:
https://github.com/DAIRLab/dairlib-public/tree/4e8464a/systems/trajectory_optimization

[2018-06-15 20:43] junhyeokahn opened #9011 "Question about the file name atlas_command_t.hpp"
Hello,
I am looking at the codes for humanoid controller(valkyrie) and I saw several files includes ```#include "lcmtypes/bot_core/atlas_command_t.hpp"```.
But I cannot find any file called ```atlas_command_t.hpp```.
I guess I am asking this because of the lack of knowledge about lcm but could you briefly explain where it is and what does it do?

[2018-06-16 16:59] joycezyu opened #9013 "Migrate time-varying LQR from matlab sha"
## Description

[2018-06-16 22:45] junhyeokahn opened #9015 "Question on API : CalcArticulatedBodyInertiaCache"
Hello, I have a question on ```CalcArticulatedBodyInertiaCache```.
The argument of the function is ```context```, ```PositionKinematicsCache``` and ```ArticulatedBodyInertiaCache```.
If ```PositionKinematicsCache``` has to be synced with ```context```, why the API requires ```PositionKinematicsCache``` as an argument?
I think inertia matrix could be computed only with ```State``` in the ```context

[2018-06-16 23:53] sherm1 commented on #9015
Hi, @junhyeokahn. The cache object isn't yet stored in the Context and automatically synced. It will be there once PR #7668 is fully merged into master.

One way to get the generalized inertia (we usually call it the "mass matrix") is with the method [MultibodyTree::CalcMassMatrixViaInverseDynamics()](http://drake.mit.edu/doxygen_cxx/classdrake_1_1multibody_1_1_multibody_tree.html#a33fc1c4cfefa9f3

[2018-06-16 23:53] #9015 closed

[2018-06-18 09:48] RussTedrake commented on #9013
n.b. original version is here:
https://github.com/RobotLocomotion/drake/blob/last_sha_with_original_matlab/drake/matlab/systems/%40DrakeSystem/tvlqr.m

i can try to do this sometime in the next few days.

[2018-06-18 14:30] sammy-tri commented on #9011
That file is autogenerated from the bot_core_lcmtypes repository (see here for the original input: https://github.com/openhumanoids/bot_core_lcmtypes/blob/master/lcmtypes/bot_core_atlas_command_t.lcm ).  For general questions about drake (as opposed to bugs or feature requests), it's usually preferred to [post a question on stack overflow with the drake tag](https://stackoverflow.com/questions/ask

[2018-06-18 14:48] junhyeokahn commented on #9011
Thanks for the information :)

[2018-06-18 14:48] #9011 closed

[2018-06-18 15:51] hazelnusse opened #9017 "Broken link to simple_continuous_time_system.cc in doc/index.rst"
Text "Easily add your own models/components" links to:

https://github.com/RobotLocomotion/drake/blob/master/drake/examples/simple_continuous_time_system.cc

but it should be:
https://github.com/RobotLocomotion/drake/blob/master/examples/simple_continuous_time_system.cc

Patch coming.

[2018-06-18 15:54] hazelnusse commented on #9017
https://github.com/RobotLocomotion/drake/pull/9018

[2018-06-18 15:56] hazelnusse commented on #9017
Hmmm, I guess I didn't need to create an issue then open a pull request.

[2018-06-18 16:01] hazelnusse opened #9019 "drake-jenkins-bot comments 36 times with "Can one of the admins verify this patch?""
Perhaps I did something outside the correct workflow, but it seems like this shouldn't happen.

Example here:
https://github.com/RobotLocomotion/drake/pull/9018

[2018-06-18 16:10] sherm1 commented on #9019
Sorry, Luke. Known bug, see  #3537. I believe I have whitelisted you now.

[2018-06-18 16:10] #9019 closed

[2018-06-18 16:18] sherm1 commented on #9017
Not necessary when the PR is imminent, but nice to have. Then in the initial PR comment you should use a GitHub magic phrase like "Fixes #9017" ("Resolves" or "Closes" works too) so that the associated issue is automatically closed when the PR is merged.

Thanks!

[2018-06-18 16:18] #9017 closed

[2018-06-18 17:34] hazelnusse commented on #9019
No problem, I'll verify that whitelisting solves the problem on my next pull request.

[2018-06-18 17:35] hazelnusse commented on #9017
Got it, thanks.

[2018-06-18 18:17] EricCousineau-TRI opened #9020 "pydrake: Disable pickling for bound classes by default"
Just got bit by pickling an `Isometry3` in some data for machine learning; when I loaded the object, the matrix values were corrupt.

My solution was to convert the `Isometry3` to a list (`obj.matrix().tolist()`), but it would have been nice to have had this error out when pickling the data.

[2018-06-19 09:36] RobotXiaoFeng commented on #8964
This issue resolved for me after I reinstalled lightdm, however I have not figured out why.

[2018-06-20 14:53] jamiesnape commented on #8918
Can you be more specific about the exact piece of code that fails?

[2018-06-20 16:33] EricCousineau-TRI opened #9032 "RgbdCamera: `RegisterVisual` does not record when a visual is not registered; fails when capsules are added"
Ran into a case where `RgbdCamera` was trying to render an URDF with a `capsule` geometry.

Since it is not yet registered, it caused `shape_matched` to be `false`, and return `nullopt` from `RgbdRendererVtk::RegisterVisual`.
However, `RgbdCamera` does not check the return value:
https://github.com/RobotLocomotion/drake/blob/55f68a6/systems/sensors/rgbd_camera.cc#L129
and just assumes that the bod

[2018-06-20 18:03] #9032 closed

[2018-06-20 18:53] kunimatsu-tri commented on #9032
Oops, sorry about that and thanks for the fix!

[2018-06-20 19:37] gizatt commented on #8918
On another inspection, I can't find a place in the Drake binaries that specifically fails because of this without appropriate documentation. I have [downstream uses that fail without matplotlib](https://travis-ci.org/gizatt/drake_periscope_tutorial/jobs/394708619) because they depend on matplotlib for visualization, but I get the sense Drake doesn't distribute anything (other than [isolated](https

[2018-06-20 19:44] jamiesnape commented on #8918
We do include `matplotlib` in the installation scripts. Do we need `python-tk` for those examples to work? I do see that we are missing `pydot` from the installation scripts, however.

[2018-06-20 19:50] jamiesnape commented on #8918
OK, so the issue is that that `python-matplotlib` and `python-tk` need to move from the source distribution installation script to the binary one. I will PR a fix momentarily.

[2018-06-20 22:49] #8918 closed

[2018-06-21 03:51] EricCousineau-TRI commented on #8964
If y'all are able to, can y'all post the output of the following commands?
[code]
An example from my system:
https://gist.github.com/EricCousineau-TRI/a9517021eba7f51a30d0fa8c1d3c9f11#file-drake_8964_output-txt

@jamiesnape Can I ask if you know what may be happening here?

As an aside, you can automate the @mws262's hack if you apply the following patch:
https://gist.github.com/EricCousineau-TRI/

[2018-06-21 11:48] RobotXiaoFeng commented on #8964
Mine here:
https://gist.github.com/RobotXiaoFeng/cbcd499ebe5d233e69dc49d1e9c15710#file-drake_8964_output-txt

[2018-06-21 14:25] EricCousineau-TRI opened #9038 "jenkins: Automate creation of builds to simplify handling new platforms"
At present, each build (e.g. `linux-xenial-gcc-bazel-nightly-everything-release`, `mac-highsierra-clang-bazel-nightly-debug`) is created manually in Jenkins.

Kitware is working on refactoring some of our deployed Jenkins code to enable creating builds programmatically, which would help speed up supporting new platforms or build types.

[2018-06-21 14:36] ggould-tri opened #9039 "`monolithic_pick_and_place_system_test` times out in nightly"
## Description

`monolithic_pick_and_place:monolithic_pick_and_place_system_test` sometimes times out in nightly CI.

Examples at:
 * https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-xenial-gcc-bazel-nightly-everything-release/501
 * https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-xenial-clang-bazel-nightly-everything-release/500/

It is likely that t

[2018-06-21 14:49] ggould-tri opened #9040 "Mac build steps sometimes timeout / take unreasonable time"
## Description

The following examples show cases where build steps that normally take less than a second time out at 350 seconds:

 * https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/mac-highsierra-clang-bazel-nightly-debug/230/console : primitives_test and rendering_test each normally take 1 second; they timed out at 366s.
 * https://drake-jenkins.csail.mit.edu/view/Nightly%20Pr

[2018-06-21 16:58] kuindersma commented on #8964
https://gist.github.com/kuindersma/e04fa74fbe26ddbcf70816b6389a2747#file-drake-viz-output-txt

[2018-06-21 17:59] jamiesnape commented on #8964
@kuindersma `sudo apt install libtbb2`

[2018-06-21 18:02] kuindersma commented on #8964
@jamiesnape that fixed it. Thx!

[2018-06-22 13:37] ggould-tri commented on #9040
Again: https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/mac-highsierra-unprovisioned-clang-bazel-nightly-release/245/console

[2018-06-22 19:46] ggould-tri commented on #9039
Again: https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-xenial-gcc-bazel-continuous-everything-release/2396/console

[2018-06-22 20:15] ggould-tri commented on #9039
Again: https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-xenial-gcc-bazel-continuous-everything-release/2397/console

[2018-06-22 22:39] #8964 closed

[2018-06-22 23:00] manuelli commented on #8940
I just finished updating `spartan` to `drake/master` and `director/master` and can confirm that the issue is still present.

[2018-06-22 23:05] mitiguy opened #9049 "Feature request: Sugar function to evaluate a matrix of symbolic expressions with an Environment"
In the symbolic::Expression class, It would be helpful to have a "sugar function (static method) -- possibly called Evaluate -- whose first argument is a matrix of symbolic expressions and whose second argument is a symbolic::Environment (maps symbolic variables to values).

Ideally, this "sugar" function would evaluate each of its elements and return an appropriately sized matrix of type double.

[2018-06-22 23:22] #9009 closed

[2018-06-22 23:31] junhyeokahn commented on #9013
It would be also nice to see ```runTrajectorySwingUpAndBalance.m``` in the previous tag in the c++ version of drake.

[2018-06-23 18:13] #8861 closed

[2018-06-25 12:34] ggould-tri commented on #9039
Here is a link to a relevant discussion of the test and its failure modes, from slack:

https://drakedevelopers.slack.com/archives/C270MN28G/p1529698496000309

[2018-06-25 12:42] ggould-tri commented on #9039
Three more failures over the weekend:

 * https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-xenial-gcc-bazel-continuous-everything-release/2398/console
 * https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-xenial-gcc-bazel-continuous-everything-release/2399/console
 * https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-xenial-

[2018-06-25 14:03] jwnimmer-tri commented on #9039
This test is in a `dev` folder.  It's time to disable it and assign an issue to the author.  I will open a PR.

[2018-06-25 14:09] jwnimmer-tri commented on #9039
For the record, it seems to be mostly (or always?) shard 31 that times out -- the highest-number shard.  I don't know if that is a reporting inaccuracy or if shard 31 is really the slowest one.

[2018-06-25 15:29] ggould-tri commented on #9040
Another: https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/mac-highsierra-clang-bazel-continuous-release/840/console

[2018-06-25 18:12] jamiesnape commented on #9040
An early hypothesis was that this was a Mac analog of #8651, though Mac builds are much less parallel, so in reality that is probably less likely.

[2018-06-25 19:42] sammy-tri commented on #3053
Closing because (1) done on `MultibodyTree` and (2) WONTFIX on `RigidBodyTree`.

[2018-06-25 19:42] #3053 closed

[2018-06-26 13:00] ggould-tri opened #9060 "`hermitian_continuous_extension` tests fail on mac"
Tests introduced in #8950 failed on mac CI.  A representative failure example is:

https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/mac-highsierra-clang-bazel-continuous-everything-release/795/

[2018-06-26 13:06] hidmic commented on #9060
I think this might be related to a similar issue I faced some time ago (https://github.com/RobotLocomotion/drake/issues/8316). Let me open a PR with the relevant lines shortened.

[2018-06-26 13:12] jwnimmer-tri commented on #9060
Ah, indeed!  We submitted a fix to cpplint (google/styleguide#342) for this, and its been accepted.  However, RobotLocomotion/styleguide#10 is stalled, which means that we haven't merged the newer cpplint into Drake yet, so we are still prone to this bug.

[2018-06-26 13:25] jwnimmer-tri opened #9061 "Teach find_resource about bazel's tools/cpp/runfiles helper"
As of Bazel 0.15.0, there is a C++ library that we can call to help locate runfiles -- https://github.com/bazelbuild/bazel/tree/master/tools/cpp/runfiles.  We should decide whether it offers any features that we want, and then work to incorporate it into Drake if so.

[2018-06-26 15:29] jamiesnape commented on #9060
Do we know what is delaying that? It has been more than two months now.

[2018-06-26 15:34] jwnimmer-tri commented on #9060
That seems like a discussion for RobotLocomotion/styleguide#10's thread.

[2018-06-26 15:34] jamiesnape commented on #9060
True, my apologies.

[2018-06-26 18:22] SeanCurtis-TRI opened #9063 "SceneGraph collision queries should report pairs in consistent order"
## Description
The `SceneGraph` class (via the `QueryObject` class) reports pairs of geometries that are in collision. Currently, for a pair of penetrating geometries g₁ and g₂ that it can be reported either as (g₁, g₂) or (g₂, g₁). The numerical values are re-expressed to account for this ordering.

This causes obnoxious visualization artifacts; forces seem to keep reversing if the ordering keeps

[2018-06-26 18:37] #9060 closed

[2018-06-26 18:47] joycezyu opened #9064 "Taylor expansion for a given expression"
Can we have the taylor expansion module built for some given expressions of nonlinear equations? Up to 3rd order would be great. Thanks!

[2018-06-26 18:49] soonho-tri commented on #9049
FYI, the sugar function should look like the following:

[code]

[2018-06-26 18:55] hongkai-dai commented on #9064
To be more specific, the expression to be expanded should be a **symbolic** expression, this is going to be used in funnel/region-of-attraction computation, where we need to approximate the system dynamics with polynomials.

[2018-06-26 19:00] soonho-tri commented on #9064
I think its signature should be something like the following. Can any of you confirm? (or suggest a better one)

[code]

[2018-06-26 19:24] joycezyu commented on #9064
That looks pretty fine by me.

[2018-06-26 19:44] hongkai-dai commented on #9064
Thanks Soonho! That function signature looks great.

Do you think it makes sense to have `Taylor expansion` appear somewhere in either the function name or the documentation? `Series` is not very specific to me.

Also it would be good if we can have a function that we can pass in an Eigen::Vector of expressions, and also return the Eigen::Vector of expressions. This could be easily done by using `

[2018-06-26 19:45] m-chaturvedi opened #9065 "Bazel 0.15.0 breaks Mac HighSierra unprovisioned build"
Bazel 0.15.0 seems to be breaking Mac High Sierra unprovisioned build:
https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/mac-highsierra-unprovisioned-clang-bazel-continuous-snopt-packaging-release/658/consoleText

[2018-06-26 19:46] soonho-tri commented on #9064
@hongkai-dai , just updated the signature above.

I agree. After finishing the scalar version, I'll add the vector version.

[2018-06-26 22:11] joycezyu commented on #9064
There is a function named `DoFirstOrderTaylorApproximation` in `systems/primitives/linear_system` that construct a pointer of type `AffineSystem`. It does quite different things than the `Taylor expansion` intended here - might be something worth considering when deciding on the function name.

[2018-06-26 22:30] #8638 closed

[2018-06-26 22:35] jwnimmer-tri commented on #8316
If wanted to merge up to the latest tip of upstream `google/styleguide` in order to obtain this fix, that would mean we'd intake a many new `cppguide.html` changes, which would take the platform review team a few weeks to chew through.

Would everyone be okay if instead we only merge the google/styleguide#337 commit into `RobotLocomotion/styleguide` in a first PR, and then follow-up with the full

[2018-06-26 23:13] jamiesnape commented on #8316
Sounds good to me.

[2018-06-27 14:21] #9065 closed

[2018-06-27 15:49] m-chaturvedi commented on #8316
Sure!

[2018-06-27 16:44] soonho-tri opened #9068 "Implement DoEvalGeneric for constraints and costs to factor out duplicates"
From https://github.com/RobotLocomotion/drake/pull/9056#issuecomment-400732835

[2018-06-27 17:39] soonho-tri opened #9069 "Fix reference-argument violations in DoEval methods in constraint/cost classes"
From https://github.com/robotlocomotion/drake/pull/9056#issuecomment-400768578

[2018-06-27 21:57] #9063 closed

[2018-06-27 23:30] mitiguy opened #9072 "More specific "Transform" class name."
This issue relates to the name "Transform" and whether
it should be modified/changed to make it more unique and
disambiguate from Eigen::Transform.

Although I created the class/name "Transform",
I have my doubts that this was the best name.

Currently, there are many uses of the word "Transform" in our code base.
1.  There are many (more than 50) uses of "Eigen::Transform".
2.  There is also "usi

[2018-06-27 23:39] naveenoid commented on #9072
@thduynguyen : A topic for you!

[2018-06-28 14:02] SeanCurtis-TRI commented on #9072
It seems to me that this is a B&W vs color TV issue. When TVs were first introduced they were just TVs. Then color was introduced and you had to distinguish the two. Now, only the B&W label persists to indicate the anachronisms and everyone takes for granted that "TV" means a color TV.

In this case, it seems you're worried about ambiguity between the `drake::Transform` and the `Eigen::Transform`.

[2018-06-28 14:44] avalenzu commented on #9072
I vote for `RigidTransform`. I think this would be good, *not* because it distinguishes it from `Eigen::Transform`, but because if fully specifies what it is. Just in the realm of geometry in SE(3), affine transforms, shear transforms, and scaling transforms have just as much right to be called "transforms". Given that this class lives in the top level `drake` namespace, other concepts like Laplac

[2018-06-28 15:22] SeanCurtis-TRI commented on #9072
@avalenzu I find that a compelling argument.

[2018-06-28 15:47] SeanCurtis-TRI commented on #9072
A follow up on @avalenzu's excellent point.

1. How many of those transform types will actually appear in Drake? I would argue that we can rely on context to do some culling. So, consideration should only include those transforms that Drake would deal with (for example, we're not going to include [glide transforms](http://mathworld.wolfram.com/Glide.html).
2. How many of the *remaining* transforms

[2018-06-28 15:55] rcory commented on #9072
Agreed with @avalenzu. The most compelling reason for me is that the name tells you exactly what it is. I contrast that to names like "Isometry", where even now I see folks pulling up the definition to understand exactly what it means! And even Eigen isn't consistent about enforcing its properties.

[2018-06-28 16:59] soonho-tri commented on #9068
@hongkai-dai , could you handle this one?

[2018-06-28 17:03] hongkai-dai commented on #9068
Will handle this issue on top of your PR #9074

[2018-06-28 17:07] soonho-tri commented on #9068
Thank you, Hongkai!

[2018-06-28 18:44] joycezyu commented on #9064
@soonho-tri To follow up an earlier discussion, it would be highly desirable to go to the 3rd order. The reason is that we have to guarantee an odd order of the dynamics (`f(x)`) in order to multiply an odd order of `Vdot`. As a result, the product is of even order and it satisfies the definition of Sum-of-Squares.

[2018-06-28 19:13] #9069 closed

[2018-06-28 19:49] junhyeokahn opened #9075 "Eigen version static assertion fail in binary version"
Hi, I installed drake binary in my ubuntu 16.04 xenial by
[code]
And I ```find_package(drake)``` in my cmake and try to do optimization.
But I got the following error
[code]
I think I am including right ```Eigen``` which is located in ```/opt/drake/include/eigen3```

How could I fix it?
By the way in the Mac, it works well with the same code.

[2018-06-28 21:38] mitiguy commented on #9072
From the discussions here and f2f with Rick, HongKai, Sean, ..., it seems thus far that RigidTransform is preferable.  I will e-mail to our group so others can provide input.  The current plan is to make the change next week.

[2018-06-29 00:36] sherm1 opened #9077 "Vector input port type-mismatch error message needs improving"
@mposa defined a BasicVector input port, plugged it into a MySpecialVector output port (where MySpecialVector derives from BasicVector) and got the following error message when evaluating the input:
[code]
That was not very helpful in diagnosing the actual problem which was that
`EvalInputValue<BasicVector>()` treats the port as abstract-valued and wants an exact type match. A vector port's value

[2018-06-29 01:51] thduynguyen commented on #9072
My personal preference is `SE3`. That might make people cry, I know, but that is what it is. `Pose3` is another choice, adopted in gtsam. No confusion.

[2018-06-29 13:46] amcastro-tri commented on #9072
My two cents. I personally hate "RigidTransfrom", nothing personal, it just sounds awful to me. I actually agree with @SeanCurtis-TRI's comments about B&W vs color TV's.
I think `Transform` conveys the right meaning of course, within the right context and right documentation (I have no doubt we won't confuse it with a `LaplaceTransform`).

However, somehow it'd seem people now hate the term "Trans

[2018-06-29 13:57] edrumwri commented on #9072
I might be biased too, since I called my rigid transform class Pose3 (in Ravelin). I'd vote for Pose (if it applies to 2D and 3D poses) or Pose3 (if it only applies to 3D poses).

* I think Andres makes excellent points in that Drake is more general mathematical software than a kinematics/dynamics library, so Transform is too generic
* I'd be ok with RigidTransform, but it's much more cumbersome t

[2018-06-29 14:35] edrumwri opened #9080 "Constraint solver needs to use monogram notation"
The constraint solver needs to use monogram notation where possible to be more consistent with the rest of Drake's multibody dynamics documentation.

[2018-06-29 15:44] avalenzu commented on #9072
@amcastro-tri, I don't "hate" the term "Transform," I just think it's a broader term than what we want here. I agree that `LaplaceTransform` is a stretch, but people coming from a graphics or vision background would be likely to expect a class called `Transform` to at least include shear and scaling.

`Pose` sounds good to me. The only downside is that we always talk about the "pose `X_WB` of body

[2018-06-29 16:21] #9049 closed

[2018-06-29 16:33] SeanCurtis-TRI commented on #9072
On behalf of people coming from graphics, *I* wouldn't expect shear transforms.  :)

It's worth noting that the whole concept of this class is muddied by the fact that it's both a noun and a verb. It's the pose of something, but serves as an operator that take a position vector measured and expressed one way and re-measures and re-expresss it another way (and yes, that contorted vagueness was inte

[2018-06-29 17:03] jwnimmer-tri commented on #9075
Please see http://drake.mit.edu/getting_help.html; this is likely to be a user assistance help question, not a bug in Drake.

[2018-06-29 17:03] #9075 closed

[2018-06-29 18:41] soonho-tri commented on #9064
@joycezyu , I've implemented it in my branch, https://github.com/soonho-tri/drake/tree/taylor-expand. Can you pick it up and test it with your application?

[2018-06-29 20:43] hongkai-dai opened #9081 "AddLinearConstraint being slow"
MathematicalProgram::AddLinearConstraint takes a lot longer time with symbolic form than the matrix form.

[2018-06-29 20:44] hongkai-dai commented on #9081
cc @mpetersen94

[2018-06-29 21:40] sherm1 commented on #9072
We already use "Pose" in use in various places -- in practice poses (the noun) are represented compactly with either a quaternion or roll-pitch-yaw angles for orientation. The "Transform" class that we're trying to name will inherently use a drake::math::RotationMatrix object (a 3x3 matrix) for orientation, so is somewhat slanted towards the verb (operator) form. Does that change anything?

[2018-06-29 22:47] SeanCurtis-TRI commented on #9072
I would hope that the fact that it contains a `RotationMatrix` is an implementation detail. Knowing its contents is only relevant to the user if they need to store a bunch and are worried about memory, or they'll do a whole bunch of independent transforms and don't want to keep doing a qq* operation. But whether orientation is implemented as a quarternion, euler angles, or rotation matrix doesn't

[2018-06-30 00:03] sherm1 commented on #9072
Well, in a perfect world a Transform would be a purely abstract concept. In fact, I think that's what Eigen was trying to achieve with its rather contorted collection of transform sub-objects. But in practice rotations and transforms occur in the tightest of inner loops so often have to be dealt with concretely. Also, a rotation matrix contains frame axes in its 3x3 representation while a quaterni

[2018-06-30 00:08] soonho-tri commented on #9081
@hongkai-dai and @mpetersen94 , do you have some examples indicating the problem? (should be good test cases as well after a fix)

[2018-06-30 17:58] hongkai-dai commented on #9081
I remember after the commit https://github.com/RobotLocomotion/drake/commit/e4ad4ebdf72f89db9589c2e3819e6998d9237457, AddLinearConstraint gets about twice slower.

One case is in `GlobalInverseKinematics`, where it parses a lot of linear constraint. You may try https://github.com/RobotLocomotion/drake/blob/master/multibody/dev/test/global_inverse_kinematics_reachable_test.cc.

[2018-07-02 13:17] jwnimmer-tri commented on #8911
If we have chosen to install pydrake libraries with these (and more) example plants, then it follows that we should also be installing the C++ flavor of the libraries as well.  The correct solution here is to expand `libdrake.so` to include these plants, and then we can remove the incorrect `cc_deps` from the pydrake build rules for them.

The next step to make that happen is to make the library_l

[2018-07-02 17:09] sammy-tri commented on #5013
Marking the model instance bits done based on #8986 and #9041

[2018-07-02 17:30] jwnimmer-tri opened #9087 "Stop creating $HOME/.sdformat/sdformat.log"
Drake's use of libsdformat means that when we load models, there is a fair chance that `$HOME/.sdformat/sdformat.log` is going to be created (including the directory) and that log file (over-)written.  This is at best a race condition between multiple processes parsing at once, and really logs due to Drake methods should be going through `drake::log()` infrastructure, not blatting out to files.  W

[2018-07-02 20:10] amcastro-tri commented on #9087
cc'ing @nkoenig

[2018-07-02 23:48] #9068 closed

[2018-07-03 04:49] #7630 closed

[2018-07-03 17:09] agalbachicar commented on #6754
Closing this issue as all the code is already merged in master.

[2018-07-03 17:09] #6754 closed

[2018-07-03 17:40] #9064 closed

[2018-07-03 18:30] hongkai-dai opened #9092 "Upgrade SNOPT binding"
to remove the quoted sections that do not need a response.

[Getting Help](http://drake.mit.edu/getting_help.html)?

Yes

Yes

Yes

## Description

happens. If this is an enhancement request, please provide a concrete use case.

The goal is to be able to run multiple SNOPT calls in parallel. There are several steps we need/can to do.
1. Upgrade SNOPT to newer versions.
   I believe we are using SN

[2018-07-03 19:43] hongkai-dai commented on #9092
@RussTedrake , yes. As it turns out we are already on SNOPT 7.6.1 (not the master branch of RobotLocomotion/snopt repo where I looked, but on a separate branch). So we only need to do 2 here.

[2018-07-04 13:50] amcastro-tri opened #9095 "MapQDotToVelocity() and MapVelocityToQDot() segfaults for systems with state type (continuous/discrete) set at runtime"
Our `systems::` simulator seems to be calling `DoMapQDotToVelocity()` (and the reverse) on discrete systems when they are part of a larger `Diagram` composed of both continuous and discrete systems. This causes problems down the line for systems that have the option of being continuous and discrete (like RBT and MBP). The quick solution is that those systems implement a no-ops for the correspondin

[2018-07-04 18:37] sherm1 commented on #9095
Many systems have a mix of continuous and discrete variables, so the Simulator will generally have to invoke these methods at the top Diagram level. But in the subsequent recursion it would be good if the calls were suppressed for any subsystem (or sub-diagram) that has no variables of the right type.

[2018-07-04 18:43] hongkai-dai commented on #9092
I tried to change all the snopt calls in `snopt_solver.cc` with the API in `snopt-interface`, but I couldn't get the build system to work. As @jwnimmer-tri and I discussed over the email, we will need to modify the build file in order to use snopt-interface. We will do this in two steps:

1. Jeremy or Jamie will use gfortran compiler to compile snopt.
2. I will port `snopt_solver` on top of the st

[2018-07-06 13:58] jwnimmer-tri commented on #1667
I suspect that to the extent this issue is still relevant, it should be assigned to @hongkai-dai.

[2018-07-06 13:59] jwnimmer-tri commented on #9092
What part of this issue it not just a duplicate of #7984?

[2018-07-06 14:00] jwnimmer-tri commented on #4611
I suspect that since we support SNOPT 7.6 now, that this issue is no longer relevant.  Please re-open with updated details in case not.

[2018-07-06 14:00] #4611 closed

[2018-07-06 15:26] jwnimmer-tri opened #9099 "Compile the Fortran version of SNOPT"
As it turns out, to make progress on #7984, we first need to know how to teach Bazel to compile the Fortran version of SNOPT.  In the SNOPT archive, see `src/Submakefile` target named `src_snopt`.  That is doing `libtool --mode=compile --tag=FC  gfortran` on approx 40 fortran source files, and then `interfaces/Submakefile` has a `snopt_c` target that adds in one more fortran file and the cwrap C f

[2018-07-06 15:36] jwnimmer-tri commented on #9099
\CC @jamiesnape FYI.  I am not going to work on this immediately.  (Still TBD on prioritization within the Drake project plan.)

A quick google search doesn't show much in the way of fortran support.  I doesn't like like `.f` files can appear in `cc_library` sources, either.

One solution might be to genrule-copy `somecode.f` to `somecode_f.c` and then use `copts = ["--lang", "f90"]` or however it

[2018-07-06 15:42] hongkai-dai commented on #9092
Close the issue as it is a duplicate of #7984.

[2018-07-06 15:42] #9092 closed

[2018-07-06 15:46] jamiesnape commented on #9099
I looked at Fortran compiling sometime ago when we used to compile IPOPT. Using the same ideas as `rules_go` seemed to most viable the last time I looked, but it was going to be a fair amount of work.

[2018-07-06 15:50] edrumwri commented on #9095
It's unclear from the description how I can reproduce this problem, and a trace through the system framework code appears to show all the right things being done (i.e., the mapping operations are indeed no-ops for systems that have zero-length continuous state and even include a check that the input v/qdot is zero length). Without further evidence, this problem appears to be one at the derived-fro

[2018-07-06 15:51] jamiesnape commented on #9099
It works as really one or two files Fortran files in `snopt-interface`, really, though, I thought. We can use SNOPT provided binaries for the core library. Not sure compiling from source gains a great deal, but if it is needed, we should definitely precompile.

[2018-07-06 15:56] jwnimmer-tri commented on #9099
I didn't think the SNOPT releases contained any binaries, though (where are they in the archive)?  Only the student version has binaries IIRC.

My read was that yes we need to compile the 1 Fortran files in `snopt-interface`, but that we also need to compile most of `snopt/src/*.f` from the SNOPT sources.

[2018-07-06 16:00] edrumwri commented on #9095
Per @amcastro-tri, it's not simple/straightforward to reproduce the problem, and I'm not convinced that there is anything happening in the system level that shouldn't be. Will re-open if the issue re-emerges.

[2018-07-06 16:00] #9095 closed

[2018-07-06 16:03] jamiesnape commented on #9099
Unless something has changed, they were a separate download from the same page as the source archive, `http://ccom.ucsd.edu/~optimizers/downloads/software/licensed?id=<id>`

[2018-07-06 16:10] jamiesnape commented on #9099
Regardless, I am sure all they do is run their own build scripts, so it seems like just uploading and using a precompiled version is exponentially easier. Their binaries are probably shared libraries, so we may even have to do that anyway since we need a static library for the redistributable packages.

[2018-07-06 21:46] jwnimmer-tri commented on #9099
@hongkai-dai I have a very questionable first draft of this work pushed to https://github.com/jwnimmer-tri/drake/commits/snopt_cwrap now.  The toyA example from SNOPT folks compiles and runs okay for me, tested on Ubuntu with both Clang and GCC.  This might be enough to unblock your own experimentation for the API porting.

I am going to see if that branch's approach is workable enough to push to

[2018-07-06 23:52] jwnimmer-tri commented on #9099
It turns out that the `-x f95` trick will not work on macOS.  On Ubuntu, both /usr/bin/gcc and /usr/bin/clang-4.0 understand it and do the right thing (with clang just delegating to gcc under the hood).  On macOS, clang knows that f95 is a real language (the error message for misspelled -x foo is different), but doesn't know that handling f95 means calling homebrew gcc or gfortran or f951.

[2018-07-07 02:15] jwnimmer-tri commented on #9099
In #9101, I have a proposal where we just shell out to `gfortran` in `genrule`, which is [apparently what google does itself](https://groups.google.com/forum/#!topic/bazel-discuss/x81efJSmBMk) anyway?  That link has the info about what if we needed to use the same CFLAGS for gfortran as the rest of the C++ code in Drake, but I actually think we _don't_ want to do that?  Anyway, I hope this would b

[2018-07-09 13:23] jamiesnape commented on #9099
Yes, I think #9101 should be sufficient for our needs.

[2018-07-10 13:59] jwnimmer-tri commented on #8316
@m-chaturvedi if you'd like to propose this PR to `RobotLocotion/styleguide`, I could review it.  Personally, I would be fine either with pulling only the 337 change, or else pulling _all_ of the commits that touched `cpplint.py`.

[2018-07-10 15:34] avalenzu opened #9107 "Bindings shouldn't get added to build_components.bzl"
Currently running `build_components_refresh.py` adds new lines for `//bindings/pydrake/*`. It shouldn't (or so I'm told).

[2018-07-10 15:42] EricCousineau-TRI commented on #9107
Shortly after we discussed this, I realized that maybe it should be there, since these headers are available to downstream users in Bazel-land; however, perhaps this shouldn't be merged until https://github.com/RobotLocomotion/drake-shambhala/pull/98 is resolved and merged in.

Either way, I don't think it's harmful either way.

[2018-07-11 14:39] sammy-tri commented on #8718
Does this count as a duplicate of #5317 ?  (or should that be closed and new work tracked here?)

[2018-07-11 14:48] sammy-tri commented on #2631
There is no longer a library with this name (or a relevant analogue).

[2018-07-11 14:48] #2631 closed

[2018-07-11 15:54] m-chaturvedi commented on #8651
[Bazel discussion](https://groups.google.com/forum/#!topic/bazel-discuss/rX36q1tOxEg)

[2018-07-11 16:04] mpetersen94 commented on #8563
Additionally, every time the GurobiSolver is used to solve a mathematical program, a message is printed if using a Gurobi academic license.  If the GRBenv (or whatever is causing the re-printing) could be saved to limit the number of messages to 1 that would be very helpful (something similar to `MosekSolver::AcquireLicense`).

[2018-07-11 16:04] amcastro-tri commented on #5317
Closing this to track progress in this regard in the newer issue #8718 for MBP/sdformat.

[2018-07-11 16:04] #5317 closed

[2018-07-11 16:55] #8316 closed

[2018-07-12 01:19] mitiguy opened #9117 "Consistency among ==, <=, >=, <, >, != operators for symbolic expressions/formulas ...."
Suggested improvements for symbolics.

1.  The following operators should have consistent behavior:
     ==,    <=,   >=,   <,   >,  !=

2.   When expressions/formulas involving these operators are evaluated to a C++ bool (true or false), whether with an empty map or partial map or full map,  it would be helpful to:
 (a)  return "true"  if the current algorithms in Drake surely know they are _math

[2018-07-12 01:50] edrumwri opened #9118 "MultibodyPlant::CreateDefaultContext()->Clone() throws an exception."
A context created through MultibodyPlant::CreateDefaultContext() throws an exception when its Clone() method is called.

## Reproduction

[code]

A stack trace indicates:

[code]

[2018-07-12 02:38] amcastro-tri commented on #9118
What is the priority of this @edrumwri? do we need to fix this for the ID controller? if so, why?

[2018-07-12 02:41] edrumwri commented on #9118
I could work around it- it's not blocking me- but I would think Clone()'ing
is some critical functionality. Still, I think it's best for you to decide
since I suspect you're buried...

--------------------------------
Evan Drumwright
Senior Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Wed, Jul 11, 2018 at 7:38 PM Alejandro Castro <notifications@git

[2018-07-12 02:44] amcastro-tri commented on #9118
ok, good. I can always pump its priority up if you need it. I'll always be buried, I just need to prioritize the pile of dirt over my head :-)

[2018-07-12 14:20] soonho-tri commented on #9117
/cc @SeanCurtis-TRI, @sherm1, @jwnimmer-tri as you were included in the email thread.

I see your points. I'll change the following implementation of `FormulaEq::Evaluate` (and also `FormulaNeq::Evaluate`)

https://github.com/RobotLocomotion/drake/blob/749e93a6f81e08c77b6a0504348430ed44374059/common/symbolic_formula_cell.cc#L265-L268

to be:

[code]

This should give you consistent behaviors acros

[2018-07-12 14:23] soonho-tri opened #9119 "Provide implicit conversion to bool from Bool<T> when Bool<T>::value is bool"
Suggested by @jwnimmer-tri in [Slack](https://drakedevelopers.slack.com/archives/C2ETTRXT7/p1531264473000078).

/cc @mitiguy and @SeanCurtis-TRI

[2018-07-12 15:02] mws262 opened #9120 "Add "periodic" option for cubic spline interpolation."
#### For cubic spline interpolation in Drake, you can currently:
1. Specify knots and breaks. 1st and 2nd derivatives are continuous for the interior points. 3rd derivatives are continuous for first two and last two segments. This is the "not-a-knot" end condition.
2. Specify knots, breaks, and first derivatives for first and last knots

#### Proposed addition -- Periodic end point condition.
Add

[2018-07-12 15:17] sherm1 commented on #9117
Thanks, Soonho! Presumably you could relax that requirement at some point since the truth of some formulas can be determined without knowing values, like `a == a` or `sin(x) <= 1`.

[2018-07-12 15:21] SeanCurtis-TRI opened #9122 "Support fine-grain (geometry level) programmatic collision filtering"
## Description

(Described w.r.t. MBP and SG, but true for *any* geometry source).

We have an MBP with multiple bodies. One body (B1) has *multiple* collision geometries (denoted as c₁₁, c₁₂, ..., c₁ₙ). Another body (B2) has collision geometries c₂₁, c₂₂, ..., c₂ₘ. Currently the APIs are well-suited to creating collision filtering between bodies B1 and B2 (i.e., so pairs (c₁₁, c₂₁), (c₁₁, c₂₂), .

[2018-07-12 15:36] soonho-tri commented on #9117
FYI, `a == a` works as we simplify it to `True` at construction. If we remove this simplification, a user has to call this simplifier explicitly before evaluating it. Otherwise, it will throw.

`sin(x) <= 1` is another interesting case as we need a simplifier at the formula level (e.g. `sin(x) <=1 ↦ True`).

[2018-07-12 15:39] rcory commented on #9122
This is great! Minor typo, I think, second paragraph under **Proposed API**, "but there are two specific geometries we don't want to collide with any of the geometries on "some_body" ". I believe "some body" should be "other body"?

[2018-07-12 16:12] sherm1 commented on #9117
Gotcha, sounds good -- and just to be clear, I'm _not_ requesting `sin(x) <= 1 ↦ True`! That was just a made-up example.

[2018-07-12 16:20] sherm1 commented on #9122
Nice! Should this be a more specific kind of query object, like `ModelQueryObject` or `IntrospectionQueryObject` to distinguish it from the Context-dependent runtime queries?

[2018-07-12 16:33] SeanCurtis-TRI commented on #9122
Maybe, maybe not. I want the `IntrospectionQueryObject` to be fully functionally equivalent to the `QueryObject`. Superficially, they shouldn't be any different. A `QueryObject` gives you the ability to query geometry state. The fact that *which* state you're querying is different is immaterial -- after all, I could have two different contexts and derive a different QueryObject from each one. The

[2018-07-12 18:20] amcastro-tri opened #9123 "MBP input port for applied forces"
## Description

Users have been requesting ways to apply external forces to bodies of an MBP model.
With our `systems::` framework, that means we need an input port.
This issue is to open the discussion on what exactly that input port should be/look like.

Users have expressed their need to:
- Apply (spatial) forces on arbitrary bodies.
- Ability to specify the point of application.
- Ability to s

[2018-07-12 19:54] rcory opened #9125 "Support fine grain (geometry level) contact force reporting"
## Description
We have an MBP with multiple bodies. One body has *multiple* collision geometries associated with it. For instance, say we have a body named "my_body" with two associated collision geometries named "my_body_collision_1" and "my_body_collision_2" and a second body named "other_body" with a single collision geometry named "other_body_collision". Now assume that both "my_body_collision

[2018-07-12 20:13] SeanCurtis-TRI commented on #9125
## Further description

This happens because the lcm contacta results associates quantities with (body name1, body name 2) pairs. For bodies with multiple collision geometries, each geometry will *still* be registered with the same body-name-pair. The python script that handles the visualization performs aggregation -- so all contact forces associated with the same name pair are put into a single

[2018-07-12 20:18] sherm1 commented on #9123
I think the case of applying a force to a point will be the most common need, and doing the shift to body origin might be awkward from outside MBPlant since it is Context dependent. I would like to see the interface support that common case conveniently, allowing the user to provide a force vector in W and apply it to a point of a body with the point given in B.

One way to handle that would be to

[2018-07-12 20:40] rcory commented on #9123
I agree with @sherm1. Providing the user a way to specify a force vector and a point of application would be much nicer. Having to worry about computing the shift on the user side doesn't really provide much utility, and seems like it could be more prone to errors.

[2018-07-12 22:04] SeanCurtis-TRI opened #9128 "geometry: More SceneGraph introspection - get shapes and poses for geometries"
## Description

Given a frame id, it would be good to get the geometries  (shape and pose) of the geometries affixed to that pose.

@cc @calderpg-tri

[2018-07-13 01:45] joycezyu opened #9129 "Move Check Equilibrium point from `Linearize` to `tilqr`"
Per discussion with @hongkai-dai, it probably makes more sense to check if it's an equilibrium point in `tilqr` (`LinearQuadraticRegulator.cc`) instead of in `linear_system.cc`. We've manually disabled locally in order to keep using `Linearize`. Please considering moving equilibrium point check to `tilqr`.

[2018-07-13 08:36] amcastro-tri commented on #9123
so the API you propose would look something more like:
[code]
to register an entry in the input port of applied forces (of type `std::vector<Vector3<T>>`, with one entry per call to `RegisterAppliedForce()`), where each entry only contains a force (3D vector) `f_Q_W`.

Is that right?

[2018-07-13 11:36] RussTedrake commented on #9123
I think that there are (at least) two important use cases.

1. Apply a spatial force to a particular body.  This could be used to, e.g., simulate a push disturbance or add some new type of force element (like an unconventional spring, or actuator).  Another good example from before is adding aerodynamic forces to a lifting surface.

Your proposed API almost suits for that, but I would think to twe

[2018-07-13 15:22] thduynguyen commented on #9072
Class name should be a noun. The action `transform` should be an operator/method of the class. `SE3` is a group, which has an operator `*`. Regarding the implementation details, algorithms should not concern about the underlying implementation of the class, be it a `RotationMatrix` or a `Quaternion`. We do need two different classes of rotation, however, `Pose3` (as a semi-product of `SO3` and `R3

[2018-07-13 16:30] #9117 closed

[2018-07-13 16:38] BetsyMcPhail opened #9133 "Remove 'manual' from 'joint_limits_test'"
This test was set to 'manual' in #9132 because it was timing out in the mac tsan nightly builds.

This issue is to re-enable the test, which will likely involve breaking it up either in code, or with build system shards.

[2018-07-13 16:47] sherm1 commented on #9123
Russ, can you clarify why you want a frame rather than a point? Are you thinking you would want the applied SpatialForce F expressed in that frame? I haven't seen that use case much -- usually it is much easier to express F in W and apply it at a point on the body. Since the bodies are rigid the torque component of F has the same effect for any frame fixed to the body.

A fully-general external fo

[2018-07-13 17:10] amcastro-tri commented on #9123
I’m also confused by the `frame_on_body` part.

But let me also throw in there another option we talked with @RussTedrake just recently. The case where the input port also supplies the body on which the force is applied. That is, the body is not provided at a “registration time” but it could change dynamically trough the output of some other system (I think this is the “contact” application @RussT

[2018-07-13 17:12] soonho-tri commented on #8648
While working on adding symbolic support to constraints in trajectory optimization (e.g. `DirectCollocationConstraint`), I found that we need the proposed extension to support systems whose dynamics involve conditionals or other non-differentiable functions (such as `min`, `max`). `SimpleCar` class is one example.

I think one thing we can do is to keep the current `Expression::Differentiate` as i

[2018-07-13 19:03] amcastro-tri commented on #9123
Thanks you @sherm1 and @RussTedrake. So lets see, this would look like:
[code]
creating a new port with a data type to represent this "triplet" type `(bodyB_index, p_BQ_B, F_Q_W)`. did I get that right?

[2018-07-13 20:15] sherm1 commented on #9123
:+1: and thanks for fixing my notation!

[2018-07-13 23:47] mitiguy opened #9135 "Add Symbolic::Expression tests for RigidTransform class"
Add Symbolic::Expression tests for RigidTransform class

[2018-07-16 16:31] RussTedrake commented on #9129
[FirstOrderTaylorApproximation](http://drake.mit.edu/doxygen_cxx/group__primitive__systems.html#gaa2d7be4940987b73bf532098b2abcb82) is intended for the use case it sounds like you are using?  It is immediately next to `Linearize` in that header file.

I think the check belongs where it is?

cc @hongkai-dai

[2018-07-16 16:44] hongkai-dai commented on #9129
@RussTedrake Yes you are right. I will close this issue.

[2018-07-16 16:44] #9129 closed

[2018-07-16 17:30] jamiesnape commented on #8610
One possibility would be to slightly abuse the `large` test size. The number of `large` tests that may run in parallel is limited by Bazel.

[2018-07-16 18:00] RussTedrake opened #9138 "Support point cloud geometry in SceneGraph"
Example use case:
Robot arm moving in an environment containing some known/identified geometry, but also some unmodelled geometry.  A standard approach would be to e.g. add all of the point cloud points (typically after subtracting out those corresponding to known geometry) to e.g. an octomap and then allowing collision-queries against this map when performing collision-free motion planning.

Stra

[2018-07-16 18:24] jamiesnape opened #9139 "Upload detached signature files for binary releases and add links to documentation"
e.g., `drake-latest-xenial.tar.gz.sha256` and `drake-latest-xenial.tar.gz.sig` for SHA-256 checksum and detached GPG signature of file.

[2018-07-17 01:01] mitiguy commented on #9072
Our preferences are not uniform.
The highest preference is RigidTransform.
RigidTransform is consistent with general use, e.g.,
https://en.wikipedia.org/wiki/Rigid_transformation

For consolation to those who dislike RigidTransform,
I did a google search on "RigidTransform".
There are other folks who use that same name
(as it turns out - including Mathworks).

Link to soon-to-be submitted PR:
http

[2018-07-17 20:56] SeanCurtis-TRI opened #9144 "Support sentinel identifiers"
## Description

[`geometry::Identifier`](https://github.com/RobotLocomotion/drake/blob/master/geometry/identifier.h) provide a type-safe int-like type for using as universal identifiers. As an int-like type, they have a *very* small set of operations possible. To guarantee global uniqueness, they can only be generated via a factory method that guarantees a unique id with every invocation.

However

[2018-07-17 21:49] SeanCurtis-TRI opened #9145 "GeometryState::get_pose_in_world() fails for anchored geometry"
## Description

If [`SceneGraph::get_pose_in_world()`](https://github.com/RobotLocomotion/drake/blob/master/geometry/geometry_state.cc#L137) is passed the id for an anchored geometry, that Id will be considered invalid an an exception will be thrown.

## Reproduction

~Can't be reproduced yet because no public API supports the query.  For now, a unit test is missing showing the failure.~ (updated

[2018-07-17 21:56] jwnimmer-tri commented on #9144
Except for the requirement of "fixed for all executions no matter what", function-local statics would be great here:
[code]
For my money, this is simple and effective, and doesn't require baking some set of tiny integers into the typeid or as a hard-coded constant somewhere.

[2018-07-17 23:08] jwnimmer-tri commented on #9144
@SeanCurtis-TRI yes, exactly.  My point is that I don't think having fixed-for-all-executions is a worthwhile goal.

[2018-07-17 23:20] jwnimmer-tri commented on #9144
The IDs are always a nonce (nonsense).  Serializing the non-world IDs without a translation layer is already doomed.  Labels are not IDs.  Most things like Ground Truth rendering will always need a translation to the consumer's label-int space anyway.

[2018-07-17 23:20] jwnimmer-tri commented on #9144
The debugging use case is valid, but for any single program being debugged, the world nonce will be deterministically chosen.

[2018-07-18 17:18] m-chaturvedi opened #9149 "Add retry logic to license acquisition in MosekSolver"
Similar to https://github.com/RobotLocomotion/drake/issues/8563

[2018-07-18 19:56] mpetersen94 commented on #9013
Any updates on this?

[2018-07-18 20:00] joycezyu commented on #9013
We have a hacky-ish version of `tvlqr` implemented locally. Hope to PR in the near future!

[2018-07-19 16:40] #9120 closed

[2018-07-19 17:46] #8935 closed

[2018-07-19 22:09] calderpg-tri opened #9158 "Forward kinematics are not thread safe"
## Description

Expected: Forward kinematics using a thread-local `Context` can be safely parallelized.

[code]

What happens: Forward kinematics are not thread-safe.

## Reproduction

If an operation like this is performed

[code]

the forward kinematics will be incorrect.

## Root cause

Stand-in caching used to implement forward kinematics is not thread safe.

[2018-07-19 22:49] #8563 closed

[2018-07-19 23:46] sherm1 commented on #9158
A good solution would be to use real caching (inside the thread-local Context) as soon as #9113 lands.

[2018-07-19 23:52] jwnimmer-tri commented on #9158
Even in the meantime, it should be trivial to move the `pc_` and `vc_` storage into the `MultibodyTreeContext`.

[2018-07-20 00:12] calderpg commented on #9138
Pointcloud geometry in Anzu is being handled by raycasting pointclounds into a dense voxel grid, which is converted to a signed distance field for collision and gradient queries. [Base class](https://github.awsinternal.tri.global/robotics/enabling-anzu/blob/master/planning/empty_space_tracker.h), [OpenMP implementation](https://github.awsinternal.tri.global/robotics/enabling-anzu/blob/master/plann

[2018-07-20 14:29] amcastro-tri opened #9164 "Bug in RigidTransform::GetAsIsometry3()"
in [rigid_transform.h](https://github.com/RobotLocomotion/drake/blob/master/math/rigid_transform.h#L168) a call to pose.makeAffine(); is missing. Otherwise the fourth row of the isometry has garbage.

[2018-07-20 15:10] amcastro-tri commented on #9158
I'm buried with a pile of things to do and I really don't know when I'll be able to tackle this. Anybody would like to attempt @jwnimmer-tri's approach?, I believe that's the right temporary solution.

[2018-07-20 18:53] sherm1 opened #9166 "RigidTransformd alias is missing"
We have "official" Eigen-style `double` aliases `RotationMatrixd` and ``RollPitchYawd but `RigidTransformd` is missing. Should add the alias and then consider retrofitting existing code where readability would be improved.

[2018-07-21 17:19] edrumwri commented on #9158
I'll work on this.

[2018-07-21 18:54] sherm1 commented on #9158
@edrumwri see PR #9167

[2018-07-22 03:47] EricCousineau-TRI commented on #8352
An additional use case library-wise: `multiprocessing`s forks and `cv2`s threads don't play well together:
https://github.com/opencv/opencv/issues/5150#issuecomment-199318160

One of the workarounds is to use the `spawn` method for `multiprocessing`, which is not available in Python2. Also, from looking at some related issues, it seems like Python3 fixes a few other issues in this library.

[2018-07-22 22:59] mpetersen94 commented on #8912
Has this issue been resolved? Looking to use LcmSubscriber and LcmPublisher in python as well.

[2018-07-23 03:43] mpetersen94 commented on #6760
I've been writing code that uses drake as an external and I have been creating pybindings alongside the C++ code.  I keep running into weird bugs when building the project due to linking with `@drake//:shared_library` (i.e. a cc_test fails because the library it is testing depends on a library that depends on `@drake//:shared_library`). While example code on drake-shambhala suggests I need to link

[2018-07-23 03:52] sherm1 opened #9171 "State variable abstraction needs an upgrade"
This issue is extracted from the discussion in #6998.

Currently we have the concepts of "configuration" and "velocity" variables mixed up with "continuous" and "discrete". The generalized configuration variables q (and generalized velocities v) are still configuration (velocity) whether updated continuously or discretely. Configuration variables contribute to poses and potential energy, velocity

[2018-07-24 00:07] mitiguy commented on #9164
Will be fixed with PR 9160.

[2018-07-24 00:19] #9072 closed

[2018-07-24 00:35] EricCousineau-TRI commented on #8912
Hup, sorry for the stall! Will update it.

[2018-07-24 15:52] pchorak commented on #6892
Looks like this is fixed as of PR #7892, right?

[2018-07-24 15:53] jwnimmer-tri commented on #6892
@hongkai-dai Can you check?

[2018-07-24 17:00] #9099 closed

[2018-07-24 18:07] calderpg-tri commented on #9158
PR [#9167](https://github.com/RobotLocomotion/drake/pull/9167) has landed, so position and velocity kinematics caching is now per-context, not per-MBT/MBP model.

[2018-07-24 23:10] 5yler opened #9175 "Downstream CMake project linker errors with source installation, binary works"
## Description

I'm trying to build a downstream CMake project that links against drake. I've had success on Mac with both a binary installation of drake and a source installation of drake. On Ubuntu 16.04, linking against a binary installation of drake works, whereas using a source installation fails similarly as described in https://github.com/RobotLocomotion/drake/issues/7467 with a linker erro

[2018-07-25 00:55] jwnimmer-tri commented on #9175
[code]

Indeed, you noticed a symptom of the root cause.

The `--compiler=gcc-5` flag is not sticky.  If you want to use that flag, you need to pass it to every invocation of `bazel`, including `bazel run //:install` as well as the `print_host_settings`.

This sequence of commands ...
[code]
... actually (1) compiles Drake using GCC, then (2) _re_-compiles Drake using Clang then installs it.

Try

[2018-07-25 13:45] amcastro-tri commented on #9158
nice! can we close this @calderpg-tri? or is it still an issue?

[2018-07-25 13:55] calderpg-tri commented on #9158
I would consider it solved for now. Documentation on how to properly handle multiple parallel queries in their code would probably be helpful to other people in the future.

[2018-07-25 13:59] #9133 closed

[2018-07-25 15:13] 5yler commented on #9175
Cool, doing
[code]
worked fine. Thanks!

[2018-07-25 15:13] #9175 closed

[2018-07-25 15:15] amcastro-tri commented on #9158
I agree on the docs. If you write them (you are right now the most experienced) I'd volunteer to review :-)
Closing this now.

[2018-07-25 15:15] #9158 closed

[2018-07-25 15:20] jwnimmer-tri commented on #9175
I'll also note for the record that https://github.com/RobotLocomotion/drake-shambhala/tree/master/drake_cmake_external is our supported way to use Drake from source from a CMake project.  (Using that mechanism have already used the system GCC as the default compiler.)  That is, you should use Drake's top-level `CMakeLists.txt` to install Drake from source, not run `bazel` directly.  It is not our

[2018-07-25 15:31] m-chaturvedi opened #9179 "Fix sweeping suppressions with `rgbd_renderer_ospray_test`"
This is with regards to @sammy-tri's [ comment](https://github.com/RobotLocomotion/drake/pull/9174#pullrequestreview-140104904).

`bazel test --runs_per_test=10 --config=tsan -c dbg --test_output=all //systems/sensors:rgbd_renderer_ospray_test`

[2018-07-25 16:12] EricCousineau-TRI opened #9181 "`//tools/external_data/test:external_data_pkg_test` times out frequently"
This test times out frequently on CI, as @m-chaturvedi has found.

Currently, we're using an off-`master` version for our current work elsewhere:
https://github.com/RobotLocomotion/bazel-external-data/tree/feature/drake_sync
So we can disable the test for now on CI.

[2018-07-25 17:14] #9181 closed

[2018-07-26 00:00] #8912 closed

[2018-07-27 18:16] #5792 closed

[2018-07-27 21:12] agalbachicar opened #9193 "IDM cars break in multilane"
## Description

In PR #9173, where `multilane` is added to `automotive_demo`, adding IDM cars to `multilane_onramp_merge` scenario makes the simulation end with:

[code]

A similar issue was reported in #8045 .

## Reproduction

To reproduce, IDM cars should be added to `automotive_demo` with `multilane_onramp_merge` scenario.

To run it:

[code]

## Debug Information

* What operating system are

[2018-07-28 01:11] sherm1 commented on #9193
Some extra info, not sure if it's helpful:
That error message comes from this sequence in Simulator::StepTo():
[code]
This indicates that CalcNextUpdateTime() returned a value _earlier_ than the time that was passed in via the context. Or, possibly, one of the values here is NaN likely due to an earlier problem.

@edrumwri may have some further thoughts on how to debug this.

[2018-07-30 20:55] #8530 closed

[2018-07-30 21:03] agalbachicar opened #9196 "Deprecate `monolane` in favor of `multilane`"
## Description

As `multilane` has already reached enough maturity to fully replace `monolane`, it is desired to replace one for the other so as to avoid maintaining two libraries. In addition, review locks should also be removed as it will no longer be necessary.

`automotive` will need to be scanned finding `monolane`'s usage. PR #9173 introduced a replacement for the `monolane_onramp_merge` whi

[2018-07-31 12:42] jamiesnape opened #9198 "Arguments passed to CI and documentation on choosing compiler should match"
Per https://github.com/RobotLocomotion/drake/pull/8881#pullrequestreview-141683001.

[2018-07-31 12:50] jamiesnape opened #9199 "Replace Drake Skylark functions with ones from Skylib where possible"
Path manipulation functions are one example.

See https://github.com/bazelbuild/bazel-skylib.

[2018-07-31 17:18] jamiesnape opened #9201 "Add codespell to workspace"
e.g., [codespell](https://github.com/codespell-project/codespell). Seems we have around 150 files with easily identifiable spelling mistakes at present, per #9200 and upcoming PRs.

[2018-07-31 20:44] #9149 closed

[2018-07-31 22:36] EricCousineau-TRI commented on #7914
`pybind` does have a utility for creating C++ `#define` statements with the docstrings:
https://github.com/pybind/pybind11/blob/master/tools/mkdoc.py

Haven't looked much deeper into it, though.

[2018-08-01 12:29] #8684 closed

[2018-08-01 14:07] SeanCurtis-TRI commented on #9179
As part of my platform review duties, I'm assigning this to the author. If you feel there's a better assignee, feel free to change it.

[2018-08-01 19:03] sherm1 opened #9205 "[WIP] Caching and related framework loose ends"
This issue is intended to gather up known loose ends in Drake caching and other related System Framework issues. TODOs in the code should reference this issue where relevant.

This list is currently being accumulated -- remove the `[WIP]` tag when it stabilizes:
- [ ] Need a Context method that sets time and first-order continuous variables (v,z) to support semi-implicit integration without recomp

[2018-08-02 14:43] EricCousineau-TRI opened #9210 "Create test workspace inside of `drake` tree to immediately test external workspaces"
Per f2f with @jamiesnape during meeting.

Modalities to test:
- [ ] Bazel - perhaps just touch analysis phase, `bazel analyze-profile`, or lint `libdrake.so`
- [ ] CMake - just run off of install

Relates https://github.com/RobotLocomotion/drake/pull/9207

[2018-08-02 15:03] Jerryxiaoyu opened #9211 "Cmake build errors in ubuntu 16.04, matlab 2017b"
Hi,
When building with MATLAB R2017b, I got some errors. Coud any one figure it out ?  Thank you.
Error log as the following:
[code]

The file _CMakeError.log_ as the following:
[code]

[2018-08-02 17:28] joycezyu commented on #9013
@junhyeokahn The local version of `tvlqr` lives in TRI for now due to the legal issues... I will post here if things change

[2018-08-02 18:02] jamiesnape commented on #5183
Just noticed:
[code]
Hence, targets that use `protobuf` have the following:
[code]

Since I missed that for weeks, I would advocate having the `DEBUG` message from `pkg-config.bzl`having the text `WARNING` in it so that CDash highlights and having a way to declare flags (such as `-Qthread`) that we know we should ignore so that the warning can be suppressed.

Also, having a platform dependent way

[2018-08-03 01:11] jwnimmer-tri opened #9222 "Multibody plant SDF parsing / sdformat "preserve unknown elements" is broken"
When I upgrade Drake's commit of SDFormat to the latest upstream `default` (aka master), the "preserve unknown elements" feature causes things to go haywire.  In particular, the new unit test in #9220 fails.

Reverting #9221 will demonstrate this -- 9221 rolls back the SDFormat commit from one that has "preserve unknown", to a month-prior version that doesn't.  If we push forward to a new commit,

[2018-08-03 14:06] jwnimmer-tri commented on #6944
@soonho-tri Could you pose the upstream bug report link here, please?

[2018-08-03 14:48] soonho-tri commented on #6944
@jwnimmer-tri , I realized that I didn't file the report. I'll do it this time for sure. I've contacted the Eigen team to have an account for their Bugzilla system. Also checked that the bug still exists in the latest version (`3.3.5`).

[2018-08-03 16:09] pvarin commented on #4447
I'm about to start some reinforcement learning work that I'd like to use the drake simulator for. I need to be able to terminate the simulation when a goal is met or a failure occurs (e.g. @sherm1 's earlier comment about falling down). I also don't need super accurate resolution on the time of the event. A witness function that can terminate the simulation seems like it would work perfectly.

[2018-08-03 17:10] amcastro-tri commented on #9222
From conversation with @jwnimmer-tri, an example failure is:

[code]

[2018-08-03 17:14] jwnimmer-tri commented on #9222
The links posted in #9220 show all of the failures (that the unit tests exposes).

[2018-08-03 18:03] amcastro-tri commented on #9222
@SeanCurtis-TRI was asking me why the "high priority" @jwnimmer-tri. Could you elaborate?

[2018-08-03 19:38] agalbachicar opened #9226 "Automotive demo car inclusion refactor"
## Description

In PR #9173, per reviewer and author agreement, it was pushed a refactor on how to improve the way cars were added to the simulation. Right now, `multilane_onram_merge` only allows to add `MaliputRailCars` (see #9193). After that issue is solved, it will be good to have IDM cars into it as well as trying other car controllers. For that, some things might me reviewed:

- Scenario se

[2018-08-03 19:54] jwnimmer-tri commented on #9222
Yes, good question.  When we pin an external to an older revision because their master is broken with respect to us, it means that we can _never_ upgrade to any newer version, for any bugfix, new feature, security hole, or any other cause where we'd want to be able to pull in new code from upstream.  In short, we are "frozen" at an old revision of sdformat, and can't unfreeze until this issue is r

[2018-08-03 20:10] sherm1 commented on #9222
FYI @nkoenig (we're not sure what's wrong yet)

[2018-08-03 20:50] sherm1 commented on #9211
Not sure where to start with this -- assigned to @jamiesnape for a first look but please reassign if necessary.

[2018-08-03 21:05] sherm1 commented on #8592
Closing this since there were no followup questions.

[2018-08-03 21:05] #8592 closed

[2018-08-03 23:52] soonho-tri commented on #6944
Here is the bug report: http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1582

[2018-08-05 02:48] Jerryxiaoyu commented on #9211
@jamiesnape @sherm1, thanks for your reply. I'm not sure whether this problem is related with Eigen3. I tried to reinstall eigen3, but it still didn't work...

[2018-08-06 14:44] jamiesnape commented on #9211
This is the tag `last_sha_with_original_matlab`?

[2018-08-06 18:32] fbudin69500 opened #9233 "Missing initialization in FlaggedValue in FrameKinematicsVector class"
## Description

happens. If this is an enhancement request, please provide a concrete use case.

When compiling drake on Ubuntu Bionic with gcc 7.3 (default compiler), one gets the following warning message:

error: '((void)& +376)' may be used uninitialized in this function [-Werror=maybe-uninitialized]
m_value = other.value();

This happens because in `geometry/frame_kinematics_vector.h`,  the s

[2018-08-06 19:53] jamiesnape commented on #3537
I think this may finally be fixed. I just need a volunteer with a non-whitelisted GitHub account that does not mind the risk of getting spammed 84 times.

[2018-08-07 01:39] Jerryxiaoyu commented on #9211
@jamiesnape Yes, that is the tag `last_sha_with_original_matlab`. Some examples I wanted to run have been removed from the master so that I tied to use the previous tag.

[2018-08-07 12:39] jamiesnape commented on #3537
I guess I had volunteers in #9234 and #9236.

[2018-08-07 12:39] #3537 closed

[2018-08-07 14:05] hidmic commented on #8899
Taking this one.

[2018-08-07 16:25] gstavrinos opened #9238 "Bazel (and cmake) compilation fails"
Ubuntu 18.04, after installing all the prerequisites using the script provided, I get both with bazel and cmake the following error:

`ERROR: /home/gstavrinos/drake/geometry/BUILD.bazel:55:1: C++ compilation of rule '//geometry:frame_kinematics' failed (Exit 1)
In file included from bazel-out/k8-opt/bin/common/_virtual_includes/autodiff/drake/common/autodiff.h:31:0,
                 from geometry/

[2018-08-07 16:32] soonho-tri commented on #9238
FYI, this problem was reported in https://github.com/RobotLocomotion/drake/pull/9216. AFAIK, @SeanCurtis-TRI is working on a fix.

[2018-08-07 16:40] gstavrinos commented on #9238
Thanks for the prompt reply. I search for something similar, but github search was not helpful. I will keep an eye on that issue!

[2018-08-07 16:41] jwnimmer-tri commented on #9238
Duplicate of #9233.

[2018-08-07 16:41] #9238 closed

[2018-08-07 22:06] sherm1 opened #9241 "Implicit Stribeck Solver convergence problem"
@rcory has a model "simple gripper with 'thin box'". He applied a 15N force to the gripper and observed non-physical oscillations in the contact-normal direction. Here are several experiments he did, any of which makes the oscillations go away:
- apply 20N instead
- cut the step size from 1e-3 to 1e-4
- doubled the penetration allowance from 1e-6 to 2e-6

(That's why we're confident these are non-

[2018-08-08 13:34] amcastro-tri commented on #9241
confirmed on this end. If I force the minimum number of iterations to 10 (way too high for most cases) the problem goes away. Clearly the NR iteration is terminating earlier than it should. I'll explore using an additional convergence criteria.

[2018-08-08 13:44] pvarin opened #9243 "Python bindings with multiple inheritance can cause segfaults"
Follow up from a Slack conversation with @EricCousineau-TRI

## Description

Adding bindings for classes with multiple inheritance can cause segfaults.

## Reproduction

This issue came up while I was adding python bindings for the InverseDynamicsController: https://github.com/RobotLocomotion/drake/commit/88c3dd03154af479b4d641749943a187fb558666.

Changing the order of inheritance in the InverseDy

[2018-08-08 13:47] amcastro-tri commented on #9241
FYI. Monitoring convergence of the normal separation velocities (in addition to the monitoring of tangential velocities) does fix the problem nicely.
I'd just need to come up with a nice self contained unit test for a PR, ideas?

[2018-08-08 15:01] sherm1 commented on #9241
I wonder if this could be reproduced with just a stiff frictionless ball with gravity, resting on the ground or bouncing a little? Should converge prematurely if the normal velocities aren't included in convergence.

[2018-08-08 17:54] amcastro-tri commented on #9241
I'll reopen until we push a more stringent unit test (one that fails before #9244 and does run after the fix).

[2018-08-08 21:50] SeanCurtis-TRI commented on #9164
FTR In my opinion, this was never a bug and shouldn't be done in the translation from `RigidTransfsorm` to `Isometry3`. Because we've used the `Isometry` encoding on the `Eigen::Transform`, `Eigen` makes that last row garbage (or, technically, leaves it as garbage). So, as long as we're going to our aliased `Isometry3` type, the caller has no guarantees that the last row is meaningful, and if they

[2018-08-08 23:34] sherm1 commented on #9164
I think you're right _technically_ but it feels ugly to me to have the elegant RigidTransform class deliver a row of garbage. I'm glad to have it return the matrix in affine form and let the user make their own garbage later.

[2018-08-09 00:32] EricCousineau-TRI commented on #9243
Relates inheritance re-ordering in #9236.

[2018-08-09 14:49] nkoenig commented on #9222
I'll take a look at this problem.

[2018-08-09 22:29] sherm1 opened #9251 "Need to verify that cache implementation matches cache documentation"
PR #9113 alleges to complete the cache implementation, but leaves caching disabled by default. Per [discussion there](https://github.com/robotlocomotion/drake/pull/9113#pullrequestreview-145001635), the code that manages dependencies within Diagrams is tricky enough that the intended behavior needs to be spelled out in precise detail in the design document (PR #9136), then used to verify that the

[2018-08-09 23:15] hongkai-dai opened #9252 "Add `get_num_total_states()` to system.h"
In `system.h`, we have function `get_num_total_inputs()` and `get_num_total_outputs()`, one might ask why we cannot have a function `get_num_total_states()` (or `get_num_total_continuous_states`, `get_num_total_discrete_states()`). Currently I have to call `AllocateContext()`, and then get the number of states through the context.

@sherm1

[2018-08-10 13:45] amcastro-tri opened #9253 "MBP's API to retrieve force element."
Implement `MultibodyPlant::gravity_element()` so that users have access to the plant's gravity. Also useful since it'll allow access to `UniformGravityFieldElement::CalcGravityGeneralizedForces()` which allow us to compute `tau_g(q)`.

Related #9131 for gravity compensation.

[2018-08-10 20:14] #4364 closed

[2018-08-13 13:51] jamiesnape commented on #8869
For now `SNOPT_PATH` is always set to `git` (https://github.com/RobotLocomotion/drake-ci/commit/00389a3a91cba5e28729068690a4a3c9d7de6daf). I am in the process of refactoring our jobs, so the variation in download type will follow as that happens.

[2018-08-13 22:13] sherm1 opened #9261 "Need performance study/tweaking for cache invalidation"
PR #9113 enabled cache invalidation (a cost) but left actual reuse of computations (the benefit) disabled. The result was an expected slowdown of Systems Framework-using tests in Release builds but a substantial slowdown of some tests in Debug/memcheck/asan builds (see PR #9258).

We should do an in-depth performance study of cache invalidation (independent of actual cache re-use) to make sure it

[2018-08-13 22:48] sherm1 commented on #4633
@amcastro-tri do you think we can close this now?

[2018-08-13 22:54] sherm1 commented on #3614
The last comment in this thread was over a year ago (and made the point that we should do this asap if we're going to do it at all). I'm going to close this as "nice idea but we aren't going to do it".

[2018-08-13 22:55] sherm1 commented on #2044
Closing this -- it refers to deprecated code that we aren't going to modify now.

[2018-08-13 22:55] #2044 closed

[2018-08-13 22:56] #3614 closed

[2018-08-13 23:30] sherm1 commented on #5725
@edrumwri I believe this issue was fixed in #8486 -- can we close it now?

[2018-08-13 23:43] #5725 closed

[2018-08-13 23:46] sherm1 commented on #5225
This appears to have been fixed somewhere along the way. Closing.

[2018-08-13 23:46] #5225 closed

[2018-08-13 23:55] sherm1 commented on #4127
Closing as done now. See #9205 for remaining issues.

[2018-08-13 23:55] #4127 closed

[2018-08-14 00:02] sherm1 commented on #3482
This issue got addressed along the way so is obsolete now. Output ports have an Eval() method that returns a reference to an object that resides in the Context, generally a cache entry value.

[2018-08-14 00:02] #3482 closed

[2018-08-14 00:04] sherm1 commented on #3839
This got fixed long ago. Closing.

[2018-08-14 00:04] #3839 closed

[2018-08-14 00:09] sherm1 commented on #2738
Done now. Closing.

[2018-08-14 00:09] #2738 closed

[2018-08-14 00:10] sherm1 commented on #2840
This is obsolete now.

[2018-08-14 00:10] #2840 closed

[2018-08-14 00:25] sherm1 commented on #2041
I think we can declare this one done. (See Drake's [Multibody Concepts](http://drake.mit.edu/doxygen_cxx/group__multibody__concepts.html) documentation.)

Thanks everyone for adopting these conventions!

[2018-08-14 00:25] #2041 closed

[2018-08-14 00:26] sherm1 commented on #2306
I think it is safe to say we won't be going any further with this cleanup.

[2018-08-14 00:26] #2306 closed

[2018-08-14 00:29] sherm1 commented on #1978
This was addressed in #5197.

[2018-08-14 00:29] #1978 closed

[2018-08-14 00:31] sherm1 commented on #1306
I'll assume the variable-step RK3 we have had in Drake for ages addresses this issue. Other requests should get their own issues.

[2018-08-14 00:31] #1306 closed

[2018-08-14 00:43] sherm1 commented on #667
This will be dealt with in MBPlant but not likely to change in RBPlant. Closing.

[2018-08-14 00:43] #667 closed

[2018-08-14 00:54] sherm1 commented on #4646
@edrumwri should this be revised or closed now?

[2018-08-14 01:05] jwnimmer-tri commented on #1805
No, we still need to add some TBD boilerplate atop every file.  It's still on my TODO list.  At this point, it is more difficult because will probably need to `git blame` our way through the list of copyright holders for each file.

[2018-08-14 03:56] sherm1 commented on #5274
I believe `rotmat2quat()` has been completely removed in favor of `RotationMatrix::ToQuaternion()` so the issue as stated here is moot. But ... `RotationMatrix::ToQuaternion()` is still not usable with symbolic expressions.

@mitiguy and @soonho-tri can we fix that? Should we?

[2018-08-14 13:28] amcastro-tri commented on #3140
This clearly went out of date and is resolved now.

[2018-08-14 13:28] #3140 closed

[2018-08-14 13:37] amcastro-tri commented on #2662
Closing this -- it refers to deprecated code that we aren't going to modify now.

[2018-08-14 13:37] amcastro-tri commented on #2709
Closing this -- it refers to deprecated code that we aren't going to modify now.

[2018-08-14 13:39] amcastro-tri commented on #4232
This got resolved long ago when we figured out there were a lot of collisions between adjacent bodies. Filtering fixed it as far as I can remember. Old and deprecated.

[2018-08-14 13:39] #4232 closed

[2018-08-14 13:43] amcastro-tri commented on #4633
Only FD and torsional friction (low priority IMO) are not supported yet from this list. So yes, I believe we can close this now and probably open an updated one with current needs.
Thanks

[2018-08-14 13:43] #4633 closed

[2018-08-14 13:47] jamiesnape commented on #9199
Turns out your current method of factoring out calls that would normally be in the WORKSPACE into `//tools/workspace:default.bzl` means that Skylib cannot be used in other repository rules, so that needs to be worked out first.

[2018-08-14 14:09] pvonmoradi opened #9263 "Error in building drake from source via Bazel in Ubuntu 18.04 Bionic Beaver"
## Description
I have installed all packages by running the `.sh` file for my distro. I `cd`ed into root of drake and executed `bazel build //...`. It took a very very long time (~5h) for my machine (AMD E1 CPU) to do the build and compile operations. The procedure was interrupted by an error. Here is the dump:
[code]
# Reproduction
`~/drake$ bazel build //...`
* What operating system are you runn

[2018-08-14 14:11] pvonmoradi commented on #9263
**1-** I guess my issue is realated to this https://github.com/RobotLocomotion/drake/issues/9238
**2-** What are those DEBUG and INFO tags? Are there any other errors in my build process?
**3-** I couldn't find somewhere else to ask this, but I've also installed a docker based drake on my other machine (Win7, Core i7-720 a rather old cpu). Now when I ran `double_pendulum` simulation, it rendered v

[2018-08-14 14:38] edrumwri commented on #4646
The current status related to this issue is:

1) We now have an integrator API for dense output sampling.
2) We have some specialized dense output sampling methods (a default dense sampling mechanism exists for integrators that do not provide specializations).
3) Simulator does not currently leverage the dense output.

[2018-08-14 14:43] soonho-tri commented on #5274
I can open a PR adding a specialized `RotationMatrix<symbolic::Expression>::ToQuaternion()`. Please let me know if this is what you want.

[2018-08-14 15:05] #2662 closed

[2018-08-14 15:06] #2709 closed

[2018-08-14 15:13] sherm1 commented on #5274
Thanks, Soonho. I don't think there is a pressing use case so we should probably wait until @mitiguy gets back from vacation to discuss -- I'm not sure this is the only method with conditionals in that family of classes. This could also be a good intro project for our new employee (Damrong Guoy, starting next week) to get him some exposure to symbolics in Drake.

[2018-08-14 15:40] SeanCurtis-TRI commented on #5274
Now *that* sounds like a baptism by fire.

[2018-08-14 15:43] sherm1 commented on #5274
Yeah, maybe not the _first_ project!

[2018-08-14 16:51] agalbachicar commented on #8899
Taking the third bullet.

[2018-08-14 17:47] SeanCurtis-TRI commented on #8631
Signed distance queries were added in #8896. These are the O(N²) queries.

Title of issue updated to reflect the range-limited variation of the query.

[2018-08-14 18:39] EricCousineau-TRI opened #9264 "`//:py/install` has either become slow or IO on CI is flaky with `-c dbg`"
Several PRs and Continuous build have been failing on this test:
- https://drake-cdash.csail.mit.edu/testSummary.php?project=1&name=//:py/install_test&date=2018-08-14
- https://github.com/RobotLocomotion/drake/pull/9254
     - https://drake-jenkins.csail.mit.edu/job/linux-xenial-clang-bazel-experimental-debug/10332/
- https://github.com/RobotLocomotion/drake/pull/9260
     - https://drake-jenkins.

[2018-08-14 18:45] sherm1 commented on #9264
I restarted the Debug build in #9260 and py_install did not time out that time.

[2018-08-14 18:48] EricCousineau-TRI commented on #9264
Yeah, I had restarted one of the Continuous builds and it worked; trying that out for Andres's PR.
An alternative is to mark this test as `flaky` if it continues, but that has a slightly funny smell

[2018-08-14 19:25] #9233 closed

[2018-08-15 12:56] jamiesnape commented on #9264
No reason CI should be particularly flaky. The test will probably run quicker when the EBS volume is warm, but otherwise it should be reasonably consistent. You can check if the EBS volume is warm or cold by looking for a console message near the start of the output. Flaky is most likely just going to cause the same result to occur three times since each run would write to a new part of the disk.

[2018-08-15 13:08] #9264 closed

[2018-08-15 15:44] ash22194 opened #9267 "Protobuf version issue"
to remove the quoted sections that do not need a response.

[Getting Help](https://drake.mit.edu/getting_help.html)?
Yes

Yes

Yes

## Description

happens. If this is an enhancement request, please provide a concrete use case.

Library versions should be specified in binary_distribution/Brewfile. Drake compiles well with protobuf version 3.1 but fails to compile with version 3.6. Such issues may

[2018-08-15 18:41] mpetersen94 commented on #7025
Torsional springs and distance constraints between two points.

[2018-08-15 22:27] SeanCurtis-TRI opened #9269 "Error in RgbdCamera constructor -- renderer viewpoint not getting set"
When invoking [the constructor](https://github.com/RobotLocomotion/drake/blob/master/systems/sensors/rgbd_camera.cc#L119) which takes a renderer for a *fixed* camera, the renderer's viewpoint does not get set.

There should be an invocation on the renderer's `UpdateVIewpoint` method. There is only one, in [`ResetRenderer()`](https://github.com/RobotLocomotion/drake/blob/master/systems/sensors/rgbd

[2018-08-15 22:36] kunimatsu-tri commented on #9269
I reassigned this to @thduynguyen since this constructor is introduced by him at this PR: https://github.com/RobotLocomotion/drake/pull/9102

[2018-08-16 03:32] SeanCurtis-TRI commented on #9269
Sounds good.

[2018-08-16 15:18] jwnimmer-tri commented on #8869
Sounds good, thanks.

[2018-08-16 18:18] #8801 closed

[2018-08-16 20:03] fbudin69500 commented on #7914
@EricCousineau-TRI As a follow up of our conversation this morning, ITK does basically what @jwnimmer-tri suggested to add its doxygen documentation to its Python bindings:
* https://github.com/InsightSoftwareConsortium/ITK/blob/master/Wrapping/Generators/Doc/CMakeLists.txt
* The generated XML files are converted to *.i files that SWIG, which is used by ITK to create its Python wrapping, understan

[2018-08-16 22:05] SeanCurtis-TRI opened #9274 "RgbdRendererOspray::ImplRegisterVisual() -- only allows for a single geometry"
## Description

If multiple geometries are assigned to an `RgbdRendererOspray` only the *last* geometry will appear.

## Solution

`RgbdRendererOspray::Impl` has [two members](https://github.com/RobotLocomotion/drake/blob/master/systems/sensors/rgbd_renderer_ospray.cc#L154):
  - `std::array<vtkNew<vtkActor>, kNumOutputImage> actors_;`
  - `std::array<vtkNew<vtkPolyDataMapper>, kNumOutputImage> map

[2018-08-17 13:34] jwnimmer-tri opened #9275 "Refresh Ubuntu AMIs for Ubuntu 16.04 / Bazel 0.16.1"
In #9212 we changed the setup script to update the Bazel version to 0.16.1.  Please update the AMIs to reflect this change.

[2018-08-17 13:49] jwnimmer-tri opened #9277 "Docs for using Drake linters from downstream Bazel projects"
We should improve the documentation and/or examples for how to reuse Drake's linters from downstream Bazel projects.

[2018-08-17 13:50] jwnimmer-tri commented on #9277
See #9273 for some discussion.

[2018-08-17 14:29] BetsyMcPhail commented on #9275
CI and Jenkins have been updated. As always with Linux AMIs, it's going to take Jenkins awhile to switch over to the new images.

[2018-08-17 14:29] #9275 closed

[2018-08-17 14:55] #9122 closed

[2018-08-17 18:40] hongkai-dai opened #9279 "Cannot make a system symbolic inspector for a system that is instantiated with symbolic::Expression"
If we declare a templated system
[code]
then we can construct its `SystemSymbolicInspector`. But if the system is is instantiated with `symbolic::Expression` as
[code]
Then when I call `MakeSystemSymbolicInspector()`, I got a nullptr.

The problem is in https://github.com/RobotLocomotion/drake/blob/master/systems/framework/system.h#L1347 to convert this system to scalar type `symbolic::Expression`

[2018-08-17 18:43] jwnimmer-tri commented on #9279
I guess I never considered that a System would support _only_ the symbolic scalar type, and not support `double`.  Is that a thing we want to allow for?

[2018-08-17 18:49] hongkai-dai commented on #9279
When we do system analysis, we may only consider system with symbolic scalar type.

[2018-08-17 18:52] jwnimmer-tri commented on #9279
I can look at this in a few weeks later or so.  In the meantime if you need a fix, you could have someone else take a look.

It is possible that this even would work right now, if you follow the http://drake.mit.edu/doxygen_cxx/group__system__scalar__conversion.html instructions and pass a `SystemTypeTag` to the `LeafSystem` constructor, and specialize the `scalar_conversion::Traits` to only allow

[2018-08-17 18:53] jwnimmer-tri commented on #9279
Actually, the easy work-around for now, is to support both `double` and `Expression` and have the `ToySystem` be templated on `T`.  We have plenty of example of that, which work fine.

[2018-08-17 18:53] hongkai-dai commented on #9279
This is not urgent. I do not need this working right now, and as you mentioned, I can have easy work around to templatize the system with type `T`.

[2018-08-17 21:48] sherm1 commented on #9267
@jamiesnape please reassign if you are the wrong person for this.

[2018-08-17 21:52] sherm1 commented on #9263
I believe this is a duplicate of #9233 and was fixed by #9259 which has merged. Please update to the latest Drake master and re-file if you are still having a problem.

[2018-08-17 21:52] #9263 closed

[2018-08-20 12:30] jamiesnape commented on #9267
No, from the documentation of `homebrew-bundle`:

No, we test on CI with Protobuf 3.6.0 multiple times per day on multiple Mac platforms in multiple configurations of Drake, so I am confident there is no inherent issue with Drake and Protobuf 3.6. If you have specific error, please detail and feel free to reopen.

[2018-08-20 12:30] #9267 closed

[2018-08-20 14:56] sherm1 opened #9282 "CLion 2018.1.6 requires drake/tools/clion/bazel_wrapper (re-titled)"
Although our [CLion instructions](http://drake.mit.edu/clion.html) as of PR #9212 claim that CLion 2018.1.6 can be used with Drake, some installations using the recommended combination of ingredients fail to find many Drake symbols, leaving them red and preventing navigation. I saw this problem on a brand-new Puget running Ubuntu 16.04, and it has also been reported on an intern's new laptop insta

[2018-08-20 17:00] jamiesnape commented on #9274
If I recall correctly, there are non-deterministic segfaults if the members in `RgbdRendererOspray::Impl` are changed to locals.

[2018-08-20 17:52] EricCousineau-TRI commented on #9274
Yes, that is correct.

If you look at the diff between `r11` and `r12` on this file:
https://reviewable.io/reviews/robotlocomotion/drake/8939/systems/sensors/rgbd_renderer_ospray.cc
you'll note the shift from using locals to using member values.

[2018-08-20 17:57] SeanCurtis-TRI commented on #9274
I'm running it with locals and haven't had a single geometry-based segfault. In talking to @kunimatsu-tri the current working hypothesis is that it may be an artifact of its interaction with the test harness.

[2018-08-20 19:11] kunimatsu-tri commented on #9274
When I run VTK-OSPRay program, regardless it's one in drake or stand alone cmake program, I get tons of `valgrind` errors.

Most of them are:
- `Conditional jump or move depends on uninitialised value(s)`
- `Use of uninitialised value of size 8`
 from libospray_module_ispc.so.1.5.0.

And some of them are:
-  Invalid read of size 4
 at destruction time and related to `embree.so.2.17.4` and `ospray:

[2018-08-20 20:03] kunimatsu-tri commented on #9274
I reverted what @EricCousineau-TRI pointed out and try running gtest.

One observation I think related so far is that if I leave only `MeshTest` in `rgbd_renderer_ospray_test.cc` and remove all the other tests, it runs no problem. I repeatedly ran 100 times for that test, and get zero unexpected termination which I had before by running all the test.

If I add one more test, say `CylinderTest`, ba

[2018-08-21 11:30] RussTedrake opened #9285 "drake::multibody::parsing::AddModelFromUrdfFile"
I would like to request that we provide the API AddModelFromUrdfFile for MultiBodyPlant/SceneGraph.  I *believe* that now given #8718, the most natural implementation would be passing a trivial sdf file with a single line to include the urdf filename string.

This will help me port the existing examples over to MBP/SG

[2018-08-21 18:10] RussTedrake opened #9286 "multibodyplant documentation should mention parsing"
The documentation here: https://drake.mit.edu/doxygen_cxx/classdrake_1_1multibody_1_1multibody__plant_1_1_multibody_plant.html#details
is great, but is not the way 99.5% of users will interact with the code.  Please add the use case of loading from a urdf/sdf here?

[2018-08-21 18:30] sherm1 commented on #9285
@amcastro-tri -- @RussTedrake says this would unblock him if it is possible for a quick fix.

[2018-08-21 18:33] amcastro-tri commented on #9285
@avalenzu, I believe you tried this before? Did you have some level of success with this approach?

[2018-08-21 18:43] SeanCurtis-TRI opened #9287 "Revisit the "Geometric Models in Drake" documentation"
The [main site](http://drake.mit.edu/models.html) (and its corresponding [source file](https://github.com/RobotLocomotion/drake/blob/master/doc/models.rst)) have most likely become stale due to changes from `RigidBodyPlant` to `MultibodyPlant` and `SceneGraph`. Revisit the guidance there and determine what is relevant and what is harmful.

Ideally, during the deprecation window (and while `SceneGr

[2018-08-21 18:43] avalenzu commented on #9285
I had success in that I ended up with a model, but some of the joint axes were wrong.

[2018-08-21 18:45] RussTedrake commented on #9285
sitting next to @avalenzu now.  i think we both agree that we should add the capability, but then send bug reports to sdformat when we find errors (as opposed to waiting passively for sdformat to get better).  Perhaps we need to put a warning on the method documentation, too?

[2018-08-21 19:04] RussTedrake opened #9288 "rename directory examples/geometry_world => examples/scene_graph"
related to #6578.

[2018-08-21 20:09] sammy-tri commented on #9285
Pinging @jwnimmer-tri (who is currently on vacation) and who I've talked to about this a number of times.  I can't remember his position clearly so I won't do him the disservice of stating it incorrectly here.

If we go the sdformat route, we need to prepare for the eventuality that we will need to devote developer resources to improving sdformat's URDF (and `<include>`) handling.  It's tough for

[2018-08-21 20:33] sammy-tri commented on #8718
I think now that #9159 has landed we can go ahead and close this issue.  We can open more specific issues for new behavior we want to add/change/remove in the future.  (e.g. I vote for testing/supporting URDF related behavior in another issue)

[2018-08-21 20:33] #8718 closed

[2018-08-21 21:09] DamrongGuoy opened #9290 "Git clone instruction for drake is not correct"
On drake [web page for source installation](http://drake.mit.edu/from_source.html) the command
`git clone git@github.com:RobotLocomotion/drake.git`
should have been
`git clone https://github.com/RobotLocomotion/drake`
using URL to the repo.

I'll fix it as an exercise for my first pull request.

[2018-08-21 21:17] SeanCurtis-TRI commented on #9290
There's not an error in the documentation -- all of my clones are via the `git` protocol. It may be there is a *different* error. But moving to `https` isn't necessarily the solution.

[2018-08-21 21:46] soonho-tri commented on #9290
FYI, in the doc, we have this precondition:

I guess it was not the case and caused the error. Could you check?

[2018-08-21 21:54] DamrongGuoy commented on #9290
Thank you, @soonho-tri .  Indeed I did not upload my public SSH key.  This is the error I got.
[code]
I will upload my public SSH key and confirm again.  On the other hand, moving to `https` yesterday let me clone and build drake successfully.

[2018-08-21 22:52] SeanCurtis-TRI commented on #9290
Your life will be much easier once you get the SSH keys uploaded. Pushing and pulling are *greatly* streamlined.  :)

[2018-08-21 22:57] DamrongGuoy commented on #9290
Thank you, @SeanCurtis-TRI.  I agree and close the issue now.

[2018-08-21 22:57] #9290 closed

[2018-08-22 13:17] amcastro-tri commented on #9286
I wonder if we'd like something more in the form of a tutorial for this. In that case, would it be part of the Doxygen or should we somehow reference a pdf? ideas or preferences?

[2018-08-22 17:11] RussTedrake commented on #9286
I think a lot of projects write their tutorials in sphinx, too.  It’s worth considering.

Even a short note in the doxygen could go a long way, too.

[2018-08-22 23:35] DamrongGuoy commented on #9288
I will fix it tomorrow morning (Thursday).  It would be a very good git exercise for me.  Thank you.

Right now I am going through interactive tutorials on git branching `https://learngitbranching.js.org`

[2018-08-22 23:39] scpeters commented on #9285
I'll share my thoughts until @nkoenig gets back. Currently sdformat converts URDF files to an SDF version 1.4 and then converts forward to 1.6 (see [issue 187](https://bitbucket.org/osrf/sdformat/issues/187) and [issue 189](https://bitbucket.org/osrf/sdformat/issues/189/convert-urdf-files-to-sdf-with)). This is fine for the purposes of loading a model for simulation, but it loses the tree structur

[2018-08-23 15:14] soonho-tri commented on #9282
All issues must have owners. @sherm1 could you suggest one for this one? (@jwnimmer-tri or @amcastro-tri ?)

[2018-08-23 15:43] sherm1 commented on #9282
Assigned to @jwnimmer-tri for now.

[2018-08-23 18:16] hongkai-dai opened #9301 "TaylorExpand requires all variables to be in the symbolic::Environment"
In `symbolic::Expression::TaylorExpand(const symbolic::Expression& e, const symbolic::Environment& env, int order)`, it requires all the variables in `e` to also appear in `env`. But sometimes I want to do taylor expansion only on a partial subset of the variables, for example, for symbolic expression `e = a*sin(x)`, I want to do taylor expansion around `x = 1`, but not about `a`.

[2018-08-23 19:03] soonho-tri commented on #9301
Please feel free to pick up this and use it in your branch: https://github.com/soonho-tri/drake/commits/taylor-expand-partial-env

I'll write more test cases and open a PR.

[2018-08-23 23:25] DamrongGuoy opened #9305 "rename namespace geometry_world to scene_graph"
Related to #9288 that rename directory, rename namespace `namespace geometry_world` to `namespace scene_graph` too.

[2018-08-23 23:48] #9288 closed

[2018-08-24 21:58] SeanCurtis-TRI opened #9308 "Brittle geometry paths in iiwa urdf specifications"
## Description

There are various urdfs for the Iiwa arm specified in *one* location that reference meshes in a radically different location. The following files (with linked examples) illustrate this:
  - [dual_iiwa14_primitive_sphere_visual_collision.urdf](https://github.com/RobotLocomotion/drake/blob/master/examples/kuka_iiwa_arm/dev/box_rotation/models/dual_iiwa14_primitive_sphere_visual_colli

[2018-08-24 22:50] #9305 closed

[2018-08-27 12:43] jwnimmer-tri commented on #9285
IIRC (per @sammy-tri chat a while ago -- correct me if I'm wrong), you don't even need to do this -- if you ask sdformat to open the URDF, it just does it for you (using the transformations mentioned above) and gives you the parse tree that we already consume.  The method requested here could just delegate to "AddModelFromSdfFile" under the hood for now, and it does something (to the extent that s