[2017-01-12 21:01] liangfok commented on #4769
This is probably another issue we should add to the FAQ: http://drake.mit.edu/faq.html.

[2017-01-12 21:01] jamiesnape commented on #4767
Maybe, though I would not expect it to affect many more users given that `ipopt` began to be built out-of-source just over two months ago.

[2017-01-12 21:21] hongkai-dai commented on #4771
Does swing work with typedef instead of using? I can change it to
[code]
How did swig works with `eigen_autodiff_types.h`? It uses the same `using` directives.

[2017-01-12 22:03] rdeits commented on #4771
Making that change produces 35,841 lines of error messages, the first of which is:

[code]

I think you can't typedef inside a teplate, at least not in that way :wink:

We haven't seen this with `eigen_autodiff_types.h` only because we've never swig-wrapped that file.

[2017-01-12 22:13] #4738 closed

[2017-01-12 22:15] rdeits commented on #4771
I've pulled in the `3.0.11` changes from upstream here: https://github.com/rdeits/swig/tree/rd-merge-upstream and nothing exploded. That might actually be a good solution, and doesn't require any changes to your code.

[2017-01-12 22:52] rdeits commented on #4771
The more fundamental issue remains, however: should I even bother? This will be a substantial effort, which might just get tossed out when we move away from SWIG.

[2017-01-12 23:34] david-german-tri opened #4774 "Install clang-3.9 on AMIs used for Bazel builds"
Apparently it isn't already there?  I was surprised.

https://drake-jenkins.csail.mit.edu/job/linux-gcc-bazel-experimental/462/console

[2017-01-12 23:49] jwnimmer-tri commented on #4486
@mwoehlke-kitware -- #4771 has a question about the roadmap here.  I believe there is additional information and decisions made but not yet scribed to the issue.  Could you post a write-up?

[2017-01-13 00:09] david-german-tri commented on #2233
Closing this in favor of moving to Bazel.

[2017-01-13 00:09] #2233 closed

[2017-01-13 00:11] david-german-tri commented on #2148
I believe this was done in https://github.com/RobotLocomotion/drake-ci/pull/27.

[2017-01-13 00:11] #2148 closed

[2017-01-13 00:11] david-german-tri commented on #1766
This is actively being worked, bumping the priority.

[2017-01-13 00:12] david-german-tri commented on #3342
This has been done, right?

[2017-01-13 00:13] david-german-tri commented on #3338
This appears to be done.

[2017-01-13 00:13] #3338 closed

[2017-01-13 00:14] david-german-tri commented on #3337
This appears to be done.

[2017-01-13 00:14] #3337 closed

[2017-01-13 00:15] david-german-tri commented on #3476
Done in https://github.com/RobotLocomotion/drake-ci/pull/72

[2017-01-13 00:15] #3476 closed

[2017-01-13 00:16] david-german-tri commented on #3334
This appears to be done.

[2017-01-13 00:16] #3334 closed

[2017-01-13 00:16] david-german-tri commented on #3327
We're off of PODS.  I think upstreaming the patches is a non-goal.

[2017-01-13 00:16] #3327 closed

[2017-01-13 00:17] david-german-tri commented on #3070
Closing due to inactivity, and because lots of people are using 16.04 without complaint.  Please reopen if this is still a problem.

[2017-01-13 00:18] david-german-tri commented on #2346
The notes here are largely superseded by System2, where we plan to so something analogous to `ToAutoDiffXd` for symbolic/FunctionalForm.

[2017-01-13 00:18] #2346 closed

[2017-01-13 00:19] jwnimmer-tri commented on #3327
FWIW the patches are already reimplemented on the Bazel side, so we could switch to upstream once we only pull in Bullet via Bazel.

[2017-01-13 00:19] david-german-tri commented on #1781
Subsumed in #1766

[2017-01-13 00:19] #1781 closed

[2017-01-13 00:19] david-german-tri commented on #1751
Subsumed in #1766

[2017-01-13 00:19] #1751 closed

[2017-01-13 00:20] david-german-tri commented on #3625
This was done at some point: http://drake.mit.edu/jenkins.html?highlight=jenkins

[2017-01-13 00:20] #3625 closed

[2017-01-13 00:22] david-german-tri commented on #394
I'm going to close this due to low importance and years of inactivity.

[2017-01-13 00:22] #394 closed

[2017-01-13 00:23] david-german-tri commented on #245
Evicting from the Kitware queue and handing over to @sammy-tri, based on @RussTedrake's last comment.

[2017-01-13 03:14] liangfok commented on #4767
I just encountered this on OSX and worked around it by doing a comprehensive nuke (#4551). Deleting `externals/ipopt` did not work for me. I neglected to try `make distclean`.

[2017-01-13 14:52] jamiesnape commented on #3342
Still a POD as far as I can tell.

[2017-01-13 14:54] jamiesnape commented on #4771
@mwoehlke-kitware should start working on the Boost::Python port next week.

[2017-01-13 14:54] jamiesnape commented on #4774
It is there, but it is at `/usr/local/bin` because the APT packages are broken.

[2017-01-13 14:56] jamiesnape commented on #4486
We are going to use Boost::Python and the port will begin as soon as Director tests are up and running on CI, probably next week.

[2017-01-13 14:57] jamiesnape commented on #4774
(also that is not an unusual location to which Clang would be installed)

[2017-01-13 16:07] liangfok opened #4779 "qp_controller.h Appears To Have Methods Labeled Setters That Are Actually Getters"
# Examples

https://github.com/RobotLocomotion/drake/blob/2dcd0f5837f1a845f064e8c4be5b1970c9a39a81/drake/examples/QPInverseDynamicsForHumanoids/qp_controller.h#L151

https://github.com/RobotLocomotion/drake/blob/2dcd0f5837f1a845f064e8c4be5b1970c9a39a81/drake/examples/QPInverseDynamicsForHumanoids/qp_controller.h#L448

https://github.com/RobotLocomotion/drake/blob/2dcd0f5837f1a845f064e8c4be5b1970c9

[2017-01-13 17:44] david-german-tri commented on #3129
Here's a checklist of things that the Bazel build accesses non-hermetically, which should be made hermetic.

Libraries

- [ ] glib
- [ ] gurobi

Binaries
- [ ] gcc-4.9 (Linux)
- [ ] gcc-5.x (Linux)
- [ ] clang-3.9 (Linux)
- [ ] clang (OS X)
- [ ] other toolchain components

[2017-01-13 19:10] jwnimmer-tri commented on #1759
@liangfok Does this meta-issue still add value?  I'm not sure its really up to date, and I'm not sure that fixing the gaps is on the roadmap.  So at least demote to `priority: backlog`?

[2017-01-13 19:11] jwnimmer-tri commented on #1764
I'm not sure this issue has any useful information still.

[2017-01-13 19:11] #1764 closed

[2017-01-13 19:11] jwnimmer-tri commented on #2256
@liangfok I am guessing this should be "backlog" and not "high"?

[2017-01-13 19:13] jwnimmer-tri commented on #2450
@rpoyner-tri I think perhaps a collision-box model here could be helpful?  I don't think the full body mesh would be. Any advice based on your other work?

[2017-01-13 19:14] liangfok commented on #2256
I'll set it to "medium" since folks are asking for it. It was working in System 1.0 and is now waiting on being ported to System 2.0.

[2017-01-13 19:18] jwnimmer-tri commented on #4660
@soonho-tri Is this done?

[2017-01-13 19:18] #4660 closed

[2017-01-13 19:22] jwnimmer-tri commented on #4595
@liangfok This is a quick fix either way, yes?  Can you choose one and PR it?  Issues with 2-minute fixes shouldn't linger.

[2017-01-13 19:24] liangfok commented on #4595
Yes, it's a quick fix. I'm on it.

[2017-01-13 19:26] liangfok commented on #1759
This is another issue awaiting porting to System 2.0. I'll keep it at medium priority since people are asking for it.

[2017-01-13 19:39] SeanCurtis-TRI commented on #2450
Would we want something in the middle?  Some convex shape that is a tighter fit than a box, but still an order of magnitude simpler than the visualization mesh?

[2017-01-13 19:42] liangfok commented on #2450
That would be ideal. What app would you recommend using to create such a convex shape? Blender?

[2017-01-13 19:43] SeanCurtis-TRI opened #4781 "Standalone GeometryWorld - Feature description and implementation plan"
This issue serves as the focal point for all things GeometryWorld.

Summary
=======
GeometryWorld is the current name for the proposed Drake entity that will be responsible for geometry in Drake.  It will serve as the bridge between disparate systems and support queries on that geometry (e.g., collision, ray-tracing, etc.)  The initial design document can be found [here](https://docs.google.com/do

[2017-01-13 19:43] SeanCurtis-TRI commented on #4729
Dynamics team status - what it will take to close this:

- PR #4773 addresses bringing collision filter group parsing into C++.  They are parsed and used in collision computations, but that is all.  There is no support for programmatic manipulation (in fact, in some ways it is reduced from the matlab functionality).

- Programmatic manipulation will be deferred to GeometryWorld (#4781).

[2017-01-13 19:47] SeanCurtis-TRI commented on #2450
Blender is one option; it's what I did for the iiwa.   I'm more proficient in Maya (attribute that to night on to twenty years of experience) and Thor has a license that may be briefly moochable.  Either way, it's maybe a 30 minute task.

[2017-01-13 19:48] jwnimmer-tri commented on #2450
I'm not entirely sure what purpose that would serve.  We don't need to simulate body collisions, just acknowledge when first contact occurs.  A conservative box is likely fine for that.

[2017-01-13 19:49] david-german-tri commented on #4485
Yes, I'm trying to get https://github.com/bazelbuild/intellij/issues/26 working locally.  No luck yet.

[2017-01-13 19:50] liangfok commented on #2450
Yes, a conservative box will likely be OK for most situations, and could be a first-spiral solution.

[2017-01-13 22:02] SeanCurtis-TRI commented on #4555
Dynamics team status - what it will take to close this:

This will require some extensive experimentation with Bullet.  We would need to understand the impact of these design issues.  This work is unlikely to happen soon because:

1) Generally, things work.  It is possible that we're paying a performance (box to convex hull) or precision issue (sphere's with minimum radius).  But beyond those subt

[2017-01-13 22:20] SeanCurtis-TRI commented on #4548
Dynamics team status - what it will take to close this:

There is no quick fix on this.  We'll close it until this presents a known problem.

[2017-01-13 22:20] #4548 closed

[2017-01-13 22:36] SeanCurtis-TRI commented on #4452
What's the easy methodology for repeating your results (assuming I don't have bazel to "thus sayeth" to me?

[2017-01-13 22:47] jwnimmer-tri commented on #4452
As a one-off it would be something like `valgrind build/somethingsomething/model_test`.  The full CMake instructions are http://drake.mit.edu/dynamic_analysis_tools.html#memcheck.

[2017-01-13 22:50] SeanCurtis-TRI commented on #4397
@liangfok The "fail hard" approach led to a *mountain* of test failures.  Hence the fall back to the convex hull.  So, if we were to go with the fail hard, we'd have to go through all of the current meshes and triangulate them.

Alternatively, the difference between the mesh in memory and on disk is slight.  Vertex position doesn't move, we only subdivide faces that are too large.  If we put out a

[2017-01-13 23:05] david-german-tri commented on #3129
Here is a migration plan from CMake to Bazel, extracted from f2f conversation with myself, @jwnimmer-tri, and @jamiesnape.  It preserves the current CMake interface downstream.

1. 100% of C++ Drake is supported in the Bazel build, parallel to the CMake build.
2. We provide sufficient tools that all Drake developers can function without CMake.
3. We define a `drake.so` Bazel target that includes a

[2017-01-13 23:22] david-german-tri commented on #3150
I think we could bolt Drake-specific linters into [cpplint.bzl](https://github.com/RobotLocomotion/drake/blob/master/tools/cpplint.bzl) easily enough, which would be sufficient to close this issue in my book.  Let me give it a try.

[2017-01-14 03:52] liangfok commented on #4711
I tried adding a `unset(ENV{CPATH})` to the top of Drake superbuild's `CMakeLists.txt` to no avail. As @jamiesnape mentioned, this probably did not work because the error is build-time, not configure-time.

[2017-01-14 12:46] liangfok commented on #3129
I'd like to add some notes to the above migration plan on how Drake+ROS will evolve as Drake transitions to being built by Bazel. For example, will we have a Catkin package whose CmakeLists.txt  use [execute_process()](https://cmake.org/cmake/help/v3.5/command/execute_process.html) to run Bazel to build Drake and produce a `lib_drake` and a CMake config file? Wil `lib_drake` and it's CMake config

[2017-01-14 16:37] #4595 closed

[2017-01-14 20:05] liangfok commented on #3429
https://drake-jenkins.csail.mit.edu/job/linux-clang-continuous-ros-release/985/

[2017-01-14 22:33] rdeits commented on #4771
I guess I won't bother, then.

[2017-01-15 19:22] jwnimmer-tri commented on #3537
@david-german-tri Recent evidence suggests that this failure mode is really no way to run an open-source project.  Can we put this back on the radar, even if it doesn't happen right away?

If nothing else, it seems like forking the plug-in and commenting out the "verify this patch" emission should be a work-around.  I think having the bot post 0 this message times is way better than dozens of time

[2017-01-16 04:56] liangfok opened #4789 "Bad UX When LeafSystem's Output Port Declarations and AllocateOutput() Do Not Match"
# Problem Definition

When a user implements a defective `LeafSystem` whose set of output ports does not match what's allocated in the system's `AllocateOutput()`, the following abort occurs while attempting to start the simulation:

[code]

From this error message, it's difficult to determine that the root-cause is a faulty `AllocateOutput()` method. When working with nested `Diagram` objects, it

[2017-01-16 05:09] liangfok commented on #3429
https://drake-jenkins.csail.mit.edu/job/linux-gcc-experimental-ros/2662/

[2017-01-16 05:58] liangfok opened #4790 "Bad UX When User Fails To Connect An Input Port."
# Problem Definition

If a user fails to connect a `BasicVector` input port, the following error might occur when trying to start a simulation:

[code]

From the error message, it's difficult to root-cause the problem.

# Suggested Course of Action

Is there a way for a `System` to declare that an input port is "required" in the sense that it must be connected? With this information, maybe we coul

[2017-01-16 14:18] jamiesnape commented on #3129
Yes, use by Catkin is going to be tricky. Bazel and Catkin are polar opposites with how they use the environment of the system on which they are being built.

[2017-01-16 14:30] jamiesnape commented on #3129
We still also need to reconfigure CI to checkout to somewhere other than the root of the Jenkins workspace.

[2017-01-16 17:50] mwoehlke-kitware commented on #4486
TBH, I wish Shiboken wasn't so in flux at the moment; it's the only binding generator I can find that doesn't require duplicating the entire API you want to expose.

On further investigation, between Boost::Python and pybind11, I'd actually rather use pybind11. The API is more modern and much less macro-heavy, the documentation seems easier to understand, how to integrate it into the build is much

[2017-01-16 17:54] jamiesnape commented on #4486
We have to introduce Boost for #3413, so Boost::Python would be preferable than added the additional dependency unless we really have to.

[2017-01-16 18:05] jwnimmer-tri commented on #4486
TRI has Bazel build support for `boost::python` that we can probably furnish to be open-sourced, if that's helpful.  The code has a ` WORKSPACE` entry for the Boost targz source release, then a small `BUILD` file that compiles a `cc_library` for `Boost::Python`, and then you just write your own cc file with the `BOOST_PYTHON_MODULE` call for the module you're going to export.

[2017-01-16 18:50] soonho-tri commented on #4755
@hongkai-dai , FYI : A variable in `Polynomial` is `unsigned int` while a variable in `Expression` has both of `id_` (`size_t`) and `name_` (`std::string`). I'll make sure that after translation from an `Expression` to a `Polynomial`, a variable in `Polynomial` still keeps the same `ID`. However, the name part will be gone.

Do you see any problem caused by this loss of information in your applica

[2017-01-16 18:57] soonho-tri commented on #4755
FYI2, `name_ : std::string` in a `symbolic::Variable` is treated as extra information in that `operator==`, `operator<`, and `get_hash` only use `id_` and ignore `name_`.

[2017-01-16 18:58] jwnimmer-tri commented on #4755
I was imagining that [`VariableNameToId`](https://github.com/RobotLocomotion/drake/blob/master/drake/common/polynomial.cc#L534) and [`IdToVariableName`](https://github.com/RobotLocomotion/drake/blob/master/drake/common/polynomial.cc#L558) would still be relevant.

For example, that only `symbolic::Variable` with a name in the magic spotless msspoly varname set (<= 4 characters from supported set)

[2017-01-16 19:09] hongkai-dai commented on #4755
The name is typically used for debugging purpose. So if we do not have a name in polynomial, I am OK with it now. We can add this debugging capability back later.

I think @jwnimmer-tri 's suggestion to use `VariableNameToId` and `IdToVariableName` is a good solution. But if this takes a while to implement polynomial variable with a string name, then I think we can put it into a feature PR.

[2017-01-16 22:33] RussTedrake opened #4793 "xcode build fails with fcl enabled"
[code]

[2017-01-16 23:11] liangfok commented on #3429
https://drake-jenkins.csail.mit.edu/job/linux-gcc-experimental-ros/2666/

[2017-01-16 23:59] jwnimmer-tri commented on #2978
I suspect that such documentation is not important; the Bazel `WORKSPACE` is fairly well documented already.  We can supplement (or fix) those upstream docs when we find a specifically confusing point.

[2017-01-16 23:59] #2978 closed

[2017-01-17 00:01] jwnimmer-tri commented on #2413
Possible that #3129 offers an opportunity to offer a warning- or error-sensitive label to run the doc builders, and that we could have a doc-only build on PRs that posts results for browsing.

[2017-01-17 00:02] jwnimmer-tri commented on #3521
The CCACHE_CPP2 flea has bitten us a few times recently; though in newest ccache it is finally the default.

Though with #3129 we shouldn't really use ccache anyway, other than #4464.

[2017-01-17 00:05] jwnimmer-tri commented on #3024
I think this is done now?

[2017-01-17 00:07] jwnimmer-tri commented on #4305
Note that #4074 will fix _"Remove duplicated Prius model files"_, so that's one less thing for the System 1.0 regression tests to care about.

[2017-01-17 00:10] soonho-tri commented on #3024
The current documentation is good.

[2017-01-17 00:10] jwnimmer-tri commented on #4025
I think @siyuanfeng-tri has already fixed this?

[2017-01-17 00:19] liangfok commented on #4305
Perhaps the best solution to replacing / removing `compareRigidBodySystems.cpp` is to implement comparison logic that allows us to execute `rigid_body_tree_1.IsApproximatelyEqualTo(rigid_body_tree_2)`.

[2017-01-17 00:21] liangfok commented on #4025
I also have a further refined version in #4766.

[2017-01-17 01:16] liangfok opened #4794 "Mysterious Bazel CI Error: soft_failure.bzl: @drake_visualizer//:drake-visualizer does not work because drake-visualizer was missing."
# The Error

The following is a transient error. Re-running the CI may not reproduce the problem.

[code]

# Example Logs

* https://drake-jenkins.csail.mit.edu/job/linux-xenial-gcc-bazel-experimental/536/

[2017-01-17 04:11] jwnimmer-tri commented on #4794
I am not sure why that build was marked as failed.  With #4749 fixed, that warning message should not be upgraded to an error.  So either #4749 isn't really fixed, or something else went wrong with that build.

[2017-01-17 11:19] liangfok opened #4796 "Consider Amending the Style Guide to Require Acronyms in Constants Be Treated As Single Words"
The style guide currently has the following sentence for function names:

https://google.github.io/styleguide/cppguide.html#Function_Names

I've just encountered a constant, `kRPYValkyrieDoF`, in #4754 that does not abide by this rule. Should we amend the style guide to require constants to also abide by this rule, meaning this variable should be called `kRpyValkyrieDof`?

[2017-01-17 11:20] liangfok commented on #4796
@david-german-tri I assigned this to you since you're today's on-call platform reviewer. I'll seek wider comment on Slack, however.

[2017-01-17 11:23] RussTedrake commented on #4796
I think the current language in the style guide is sufficient to have recommended that change.  I don't think it warrants an explicit exception.  The more exceptions we have, the less likely people are to read and grok them.   I also don't find the use you cite to be problematic nor offensive.

[2017-01-17 11:33] liangfok commented on #4796
OK, I wanted to confirm that it's OK to apply a sentence that appears in the "Function Names" section to constants. The type name section is consistent in the treatment of acronyms as single words:

https://google.github.io/styleguide/cppguide.html#Type_Names

[2017-01-17 14:06] liangfok opened #4799 "Consider Making Gravity Settable"
# Problem Definition

Gravity currently is [hard-coded](https://github.com/RobotLocomotion/drake/blob/6cae3e4c08a0b078d52a6cf31d0fe6fd06b0d277/drake/multibody/rigid_body_tree.cc#L106) in `RigidBodyTree`'s constructor as follows:

[code]

This presumes we're controlling and/or simulating something where the acceleration due to gravity is (1) along the world frame's +Z axis and (2) has a value of -9

[2017-01-17 14:17] siyuanfeng-tri commented on #4025
i think we have state_output_port(), kinematics_results_output_port() and contact_results_output_port().

[2017-01-17 14:28] #4025 closed

[2017-01-17 14:33] david-german-tri commented on #4789
Agreed, we should improve this.

[2017-01-17 14:38] david-german-tri commented on #3129
@liangfok The exact same Drake CMake library targets that have always existed, will continue to exist.  Does this suffice for the ROS/Catkin build?  At a glance, it seems like it should.

[2017-01-17 14:43] jonathan-owens commented on #3429
https://drake-jenkins.csail.mit.edu/job/linux-clang-nightly-ros-release/174/

[2017-01-17 15:04] #4111 closed

[2017-01-17 15:36] liangfok commented on #4789
@david-german-tri, do you think the NVI approach mentioned in the OP is viable? Once I get your feedback, I'll reassign this issue to myself for resolution.

[2017-01-17 15:44] liangfok commented on #3129
Oh, maybe I misunderstand the migration plan, specifically step 6b:

Does this mean that ROS / Cakin no longer build's Drake, but rather treats Drake as a preexisting library that's already installed in the system?

[2017-01-17 15:45] jamiesnape commented on #3129
Seems so, unfortunately. Not sure Catkin will be happy.

[2017-01-17 16:35] #4686 closed

[2017-01-17 17:23] jamiesnape commented on #4793
Not sure what to do about Xcode builds. We could fix CMake so that Xcode builds can handle `-isystem`, but Xcode support for Bazel is limited (and I have never managed to get it to work) and very different to CMake.

[2017-01-17 17:24] jamiesnape commented on #4793
(FCL is disabled for the Xcode CI builds)

[2017-01-17 17:29] sherm1 commented on #4799
We will be more flexible in MultibodyTree. I don't think we should fix this in RBTree unless there is an immediate need.

/cc @amcastro-tri

[2017-01-17 17:38] sherm1 commented on #4789
@liangfok, I'm reworking output port allocation to address #2890 and caching. If this isn't urgent you may want to wait until that lands.

[2017-01-17 17:42] liangfok commented on #4789
@sherm1: Thanks for the note. I will stand by.

[2017-01-17 17:49] sherm1 commented on #4793
@jamiesnape, do you think you could fix this upstream?

[2017-01-17 17:52] #4452 closed

[2017-01-17 17:53] jamiesnape commented on #4793
Yes, I have started to do so.

[2017-01-17 17:59] jwnimmer-tri commented on #4799
This request seems of low value to curate in the issues database.

[2017-01-17 18:03] liangfok commented on #4799
@amcastro-tri do you have a design doc for `MultiBodyTree`? If so, maybe these kinds of requests could be aggregated in such a document?

[2017-01-17 18:38] liangfok commented on #4034
https://drake-jenkins.csail.mit.edu/job/linux-gcc-ninja-experimental-open-source-debug/2463

[2017-01-17 18:38] amcastro-tri commented on #4799
No document. I'm working on a prototype that will be curated on a first iteration with the dynamics team before opening it up for discussion.
Setting gravity (arbitrary direction, value) will just be a natural consequence of the MBT design. I actually see it as an advantage to test the "isotropy of space" (Landau loves that terminology) through unit testing.

[2017-01-17 18:40] liangfok commented on #4799
Excellent. I trust you will eventually address this issue in MBT and will close this issue now.

[2017-01-17 18:40] #4799 closed

[2017-01-17 19:06] clalancette commented on #4337
Has anyone started work on this yet?  If not, I'll take a crack at it.  From the comments above, I see that we are thinking about switching to an IR, but I think I'd like to start more simply (not least of which because I am just learning Drake).  My plan would be to do something roughly like:

1.  Import sdformat as an external.
2.  Use sdformat to replace the very low-level details of sdf_parser

[2017-01-17 19:08] liangfok commented on #4337
@clalancette, your plan sounds excellent. I haven't started work on it yet; thanks for picking this up!

[2017-01-17 19:22] amcastro-tri commented on #4337
Thank you for offering @clalancette! we'd love to have this functionality in!

I think that approach would require a lot of throwaway code since we will be soon migrating to a different implementation of our multibody engine (see #4633). I think a much better approach would be to start with an IR. Just a simple one (bodies, links, masses, inertias). Probably the SDF parser already provides this IR

[2017-01-17 19:34] liangfok commented on #4337
:+1: for using OSRF's `libsdformat` to create an IR. This IR can initially be used to instantiate sensors, which Drake's `sdf_parser.h` currently does not do. Then, once `MultibodyTree` exists, the IR can be used to instantiate it. I agree with @amcastro-tri's comment that we should try to avoid updating Drake's current `sdf_parser`. One thing I'm unsure about is whether (1) `libsdformat` should p

[2017-01-17 19:37] sherm1 commented on #4796
I agree with @RussTedrake that (a) the styleguide already likes acronyms like `Url` rather than `URL` in all names, and (b) `RPY` or `Rpy` both seem inoffensive.

[2017-01-17 19:41] david-german-tri commented on #4796
Since this is assigned to me, and I agree with @RussTedrake and @sherm1, I'm closing it.

[2017-01-17 19:41] #4796 closed

[2017-01-17 19:45] sherm1 commented on #4337
Thanks, @clalancette! I want to emphasize @amcastro-tri's point that an "IR" is just our way of saying we want to separate parsing from making use of the parsed results. So assuming sdf provides that capability through the `sdf::SDF` API, that is good enough for us. We don't need to actually expose the in-memory data structure as long as we can extract what we need from it *after* the file has bee

[2017-01-17 19:45] clalancette commented on #4337
My main reason to do the intermediate steps was to ensure that I have something that works all along the way.  But if we want to go straight for an IR, I can attempt that.  What are some good test cases/examples of where the IR would be helpful in the current code?

[2017-01-17 20:19] liangfok commented on #4337
As an example, in `sdf_parser`, there is a variable called `pose_map` that contains transforms between world-frames and body-frames. This results in the frame transformation code and XML parsing code being intertwined. An IR would help in this case by separating the parsing code from the frame computation code. I believe this will simplify the code and reduce the likelihood of the bugs documented

[2017-01-17 20:33] jwnimmer-tri commented on #4337
My advice is that the goal should be to bring in `sdformat` concurrently with the multibody development, and that porting `drake/multibody/parsers` such that `RigidBodyTree` is involved should not be a goal on its own -- only if it somehow makes the future work more effective.  Recall that the bones of `RigidBodyTree` will be picked-over, but most of its code is destined for removal.

I think the

[2017-01-17 22:47] clalancette commented on #4337
All right, so I think I'll start by bringing sdformat in as  a Bazel unit test.  From there, I may try to instantiate a DepthSensor from SDF like @liangfok mentioned.  Then I'll report back :).  Just to confirm, it looks like the long term future of Drake is to use bazel, correct?  But it seems like at the moment, I also need to integrate things into cmake as well.  Is that a fair assessment of th

[2017-01-17 22:51] liangfok commented on #4337
Sounds about right to me. Here is the plan: https://github.com/RobotLocomotion/drake/issues/3129#issuecomment-272572091

[2017-01-17 22:53] amcastro-tri commented on #4337
That seems pretty difficult since in it's current state a `DepthSesor` makes reference to a full `RBT`. What about instantiating a simpler object like a `RigidBody`? that requires parsing a `<link>` element, the frames that define it, its `<inertial>` properties.

[2017-01-17 22:58] liangfok commented on #4337
I was thinking the existing `sdf_parser.h` could be used to instantiate the `RigidBodyTree`, and then the new `libsdformat`-based parser could be used to instantiate the `DepthSensor` using the previously-instantiated `RigidBodyTree`. I agree, however, that it instantiating a `RigidBody` would be easier and would mirror existing capability within `sdf_parser.h`.

[2017-01-17 23:09] amcastro-tri commented on #4337
that is what I was thinking. Also I was trying to avoid any coupling with `RBT` code if possible. Instantiating a "fake" `RigidBody` could work also (that would be a small IR class independent of anything else within Drake right now). In that way we'd progressively move towards having a parser independent of specific Drake code that spits out an IR that anywhere in Drake can be used to instantiate

[2017-01-18 01:08] #4760 closed

[2017-01-18 01:13] jwnimmer-tri commented on #4337
Yes for the forward-looking C++ parts.  (The on-the-gallows MATLAB code will probably remain in CMake-only land, until we remove it.)

If the CMake integration is easy (~1 hour) we should just do it also, so save temporary headaches.  If it becomes more difficult than a couple hours, I think it would be fair to explore doing it Bazel-only.  I see no reason why the ongoing System 2.0 / Multibody 2.

[2017-01-18 01:16] jwnimmer-tri commented on #4337
... and as far as the first integration point, while local spike-testing against RBT could be a learning experience, I feel strongly that we shouldn't do weird hacks like `RigidBodyRep` or frakenbolt it onto RBT in PRs to master.  We should discuss (in a more useful forum that github issue comments!) what the `sdformat` roadmap looks like in terms of the Multibody rewrite.  Which is to say, we sho

[2017-01-18 02:07] liangfok commented on #3429
https://drake-jenkins.csail.mit.edu/job/linux-gcc-experimental-ros/2700/

[2017-01-18 03:58] liangfok opened #4806 "Build Problem on OS X - 'GL/glut.h' file not found"
# The Error

I encountered the following error on OSX 10.11.6 using the latest on master (SHA e4c29605462fff36b5ba24ba1639f7299076ae65):

[code]

This was after updating my system based on [these instruction](http://drake.mit.edu/homebrew.html) and doing a clean build.

[2017-01-18 04:30] liangfok opened #4807 "Unable to Run CMake on Drake on Ubuntu 16.04 with VTK 6.2 and ROS Kinetic"
# Problem Definition

The following error occurs when running `cmake ..` on an machine with Ubuntu 16.04, ROS Kinetic, and VTK6:

[code]

I suspect this started to happen after #4527 and the removal of the `-DUSE_SYSTEM_VTK=OFF` option.

Relevant comment here: https://github.com/RobotLocomotion/drake/pull/4527#issuecomment-269520481

[2017-01-18 11:37] liangfok commented on #4806
I'm upgrading this issue to **emergency** because it's also showing up on CI.

https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/

[2017-01-18 11:51] liangfok opened #4808 "Mysterious VTK5 Error: ERROR: In vtkLookupTable.cxx: vtkLookupTable (0x2585670): Bad table range: [1e+299, -1e+299]"
# The Error

[code]

# Examples

* https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-clang-nightly-open-source-debug/86/
* https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-clang-nightly-open-source-release/87/
* https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-clang-ninja-nightly-debug/241/

[2017-01-18 11:59] liangfok opened #4809 "Mysterious CI Network Error: Failed to connect to github.com port 443: Connection timed out"
I anticipate this is simply due to network flakiness. The purpose of this issue to track how frequently it occurs over time.

# The Error

[code]

# Examples

* https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-clang-nightly-ros-debug/173/

[2017-01-18 11:59] liangfok commented on #4809
I'm closing this issue until the problem documented by this issue become more frequent.

[2017-01-18 11:59] #4809 closed

[2017-01-18 14:10] jamiesnape commented on #4806
This is in Director itself: https://github.com/RobotLocomotion/director/commit/5de7e3e1e08f6cef278f36cf93608eeef1736b94

[2017-01-18 14:12] jamiesnape commented on #4806
GLUT is at `<GLUT/glut.h>` on macOS / OS X, though it is deprecated.

[2017-01-18 15:42] #4806 closed

[2017-01-18 16:43] clalancette commented on #4337
OK.  Unfortunately, I'm not familiar with the Multibody rewrite.  What's the idea behind it, and when is it expected to land?

In the meantime, I have gotten libsdformat integrated in with the cmake side of the build system, with a unit test (that was easier for me, since I'm more familiar with cmake than bazel).  I'm working on getting it integrated with bazel.  Once I have that, I'll open a pull

[2017-01-18 16:46] liangfok commented on #4337
Here is the issue tracking it: #4633. The development of `MultibodyTree` is currently in @amcastro-tri's court.

[2017-01-18 17:04] mwoehlke-kitware commented on #4808
Why is this "emergency"? In my experience, VTK squawks, but the test passes anyway; is this not the case? (I don't see any failing CI builds?)

I would advise asking @patmarion to take a look, and drop the priority to medium, at most. (I might even go so far as to close the drake issue and re-file this against director...)

[2017-01-18 17:12] SeanCurtis-TRI opened #4812 "Document Drake collision filtering mechanism"
Drake uses two mechanisms for "collision filtering": cliques and filter groups.  This is by design.  Although, in principle, the representations are redundant (at the logical limit, there is nothing you can do with one representation that you can't do with the other), in practice they have unique pros and cons.

This needs to be documented in the collision library in an appropriate doxygen module

[2017-01-18 17:14] liangfok commented on #4808
I labeled it emergency b/c I thought it was causing nightly CI to fail. Not sure if this is correct.

[2017-01-18 17:19] liangfok commented on #4808
The three links in the OP are two nightly-CI tests that "fail" in the sense that they are yellow. I'm now looking to see if there was some other culprit for them being yellow.

[2017-01-18 17:20] patmarion commented on #4808
That's the expected output for the test.  Here is Director's CI output for this test:

http://kobol.csail.mit.edu/cd/testDetails.php?test=3705673&build=26192

Some tests are supposed to print error messages 👍

[2017-01-18 17:29] liangfok commented on #4808
I'm still looking through [this console log](https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-clang-nightly-open-source-debug/86/) to identify why it turned yellow, but I found the following two things that might be worth mentioning:

[code]

and:

[code]

and:

[code]

[2017-01-18 17:35] patmarion commented on #4808
It's here in the full log: https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-clang-nightly-open-source-debug/86/consoleFull

[code]

[2017-01-18 17:35] patmarion commented on #4808
btw, @mwoehlke-kitware is it possible to do the FindPackage for VTK 5.10 quietly to resolve the configuration warning?

[2017-01-18 17:36] liangfok commented on #4808
Thanks! In this case, this issue is a duplicate of #4809.

[2017-01-18 17:36] #4808 closed

[2017-01-18 17:58] liangfok opened #4813 "Consider Renaming VisualizedPlant to be PlantAndVisualizerDiagram"
This issue was inspired by @SeanCurtis-TRI's comment here: https://reviewable.io/reviews/robotlocomotion/drake/4766#-Kah0nNXSdBGVBzH92UR

Basically, the name "VisualizedPlant" implies that the object instantiation _is a_ plant whereas in actuality it _has a_ plant.

[2017-01-18 18:38] sammy-tri commented on #245
The link above for student SNOPT is dead, and I can't seem to find any live links poking around on google.  Is this still something we're interested in?  Also our SNOPT build got a bit more custom during the process of adding IPOPT (fortran symbol collisions in versions of BLAS packaged with both libraries, IIRC), so if the student version is binary-only, that could also present some issues.

Of c

[2017-01-18 19:39] #3150 closed

[2017-01-18 19:39] SeanCurtis-TRI commented on #4204
#4773 finishes out the collision filter logic.

[2017-01-18 19:39] #4204 closed

[2017-01-18 22:09] soonho-tri commented on #4415
@hongkai-dai , the proposed solution part is done. How about closing this one?

I believe that there is a separate issue https://github.com/RobotLocomotion/drake/issues/4421 for the first item of the extension part above. But I'm not sure that we have an open issue for the second item of the extension part.

[2017-01-18 22:14] #4415 closed

[2017-01-19 06:57] hongkai-dai opened #4824 ""Term" is ambiguous in Polynomial class"
In `Polynomial` class, we defined `Term` as "An individual variable raised to an integer power; e.g. x**2.". This is not a commonly accepted definition for `Term`. For example, in [Wikipedia](https://en.wikipedia.org/wiki/Polynomial#Definition), `Term` is defined as
"Each term consists of the product of a number—called the coefficient of the term[2]—and a finite number of indeterminates, raised to

[2017-01-19 12:20] RussTedrake opened #4825 "Consider (possibly tighter) cross product constraint on SO(3) McCormick envelope"
https://reviewable.io/reviews/RobotLocomotion/drake/4778#-KaiC2p_4l6CcKdMjPW1

[2017-01-19 13:00] RussTedrake commented on #4824
As you've written it, I guess it's a univariate monomial?  (but perhaps you might not want to use that term since its intended use is probably as a component of a multivariate monomial?)

@frankpermenter -- any better suggestions on names?

[2017-01-19 15:03] david-german-tri commented on #4485
Fixed in #4814.

[2017-01-19 15:03] #4485 closed

[2017-01-19 15:04] david-german-tri commented on #4566
Also cc @siyuanfeng-tri - you are likely to be the first person to need this.

[2017-01-19 15:37] david-german-tri opened #4828 "Enable Director tests on Mac"

[2017-01-19 16:03] jamiesnape commented on #4793
I will have a PR into FCL shortly that will fix this. Their master is currently broken, which I also need to fix. Both of those will then unblock getting the FCL collision model populated.

[2017-01-19 17:31] hongkai-dai commented on #4824
Exactly as you said, we use this univariate monomial as the building block for multivariate monomial. Besides, we define the monomial as `2 * x^2*y^3`, namely with a coefficient constant. This "Term" does not have a constant coefficient, it is in the form of `x^2`, so I do not quite want to call it univariate monomial, as that should mean `2 * x^2` according to our definition of monomial.

[2017-01-19 18:15] clalancette commented on #4337
OK, I've opened a pull request for getting sdformat into drake: #4831 .  There are some open questions there, but at least it is a start.  Please let me know what you think.

[2017-01-19 20:05] jwnimmer-tri opened #4833 "Delete compareParsers test"
Can we delete the `compareParsers` test at https://github.com/RobotLocomotion/drake/blob/master/drake/matlab/systems/plants/test/compareParsers.m?  It causes many headaches, the newest of which is wanting to use Boost in the new Multibody parser in #4831.

/CC @RussTedrake @sherm1 @SeanCurtis-TRI @edrumwri @amcastro-tri @liangfok.

[2017-01-19 20:06] patmarion commented on #4807
You have to compile VTK5.10 from source, then set the VTK_DIR cmake variable in Drake's superbuild to the build or install location of VTK5.10.  The existing documentation in Drake regarding USE_SYSTEM_VTK is now out of date.

[2017-01-19 20:07] jwnimmer-tri commented on #4807
/CC @david-german-tri FYI on the above; we could obey `VTK_DIR` for the Bazel VTK support as well.

[2017-01-19 20:10] #3217 closed

[2017-01-19 20:14] SeanCurtis-TRI commented on #4833
Can we enumerate any parsing functionality we know exists in matlab that does *not* yet exist in C++?  Although, in retrospect, that list is orthogonal to the test.  Clearly, whatever the test compares between the parsed results must not include differences, otherwise they wouldn't pass. :)

Generally, I'm find with seeing this go away.

[2017-01-19 21:22] mwoehlke-kitware commented on #4807
Note: my plan is to make VTK available as an external, but default to using the system version. When this happens, I'll also update the documentation accordingly. Given #4834, I think we're going to need that anyway (getting it via director would no longer have worked anyway due to a circular dependency).

[2017-01-19 22:20] liangfok commented on #4833
The following comment affirms removal since the c++ parsers will be moving forward and thus diverge away from the MATLAB parsers: https://github.com/RobotLocomotion/drake/issues/2034#issuecomment-269628599

I support the removal of `compareParsers.m`.

[2017-01-20 00:30] wjwwood commented on #4748
Should this be closed now?

[2017-01-20 00:33] jwnimmer-tri commented on #4748
Probably.  Tagging Betsy to be sure.

[2017-01-20 14:26] jonathan-owens commented on #4318
This is continuing to happen: https://drake-cdash.csail.mit.edu/viewBuildError.php?buildid=322732

[2017-01-20 14:38] amcastro-tri commented on #4833
The test only compares C++ vs. Matlab implementations. I think with the new effort started in #4831 we will have the chance to write actual unit tests that verify the correctness of the loaded models from a given file.
I am also comfortable removing this test if that allows us to move forward.

[2017-01-20 14:48] liangfok opened #4838 "Need to Add a Check To Verify Quaternion Floating Joint Configuration Is Valid"
# Problem Definition

In #4837, I mistakenly initialized the quaternion floating joint's configuration to be all zeros. This is incorrect since the "W" term of the quaternion floating joint must be 1, not 0, in its zero configuration. Such a bug should be programmatically detectable; ~`RigidBodyTree`~ `MultibodyTree` should detect the error and squawk. This ticket tracks the addition of such a che

[2017-01-20 14:49] BetsyMcPhail commented on #4748
Yes, thank you, fixed via #4800.

[2017-01-20 14:49] #4748 closed

[2017-01-20 15:00] david-german-tri commented on #4730
# Overview
Protocol Buffers are a structured data serialization format from Google.  They shine as a binary format for bytes on the wire, a binary format for bytes on disk, and a text format for human-editable configuration files.  The protocol buffer libraries and tools are BSD-licensed.

Protocol Buffers have a number of competitors with similar feature sets, as summarized in this blog post.  Th

[2017-01-20 15:54] rdeits commented on #4730
:+1:

Lack of backward compatibility in LCM types has been a pain point for a long time. If drake provides the protobuf tools, then I might also be able to use them as part of Director's communication interface later on, which would be very nice.

@david-german-tri where do you foresee the `.proto` files living? Will they be in Drake, or in some other repo akin to robotlocomotion_lcmtypes?

[2017-01-20 16:09] rdeits opened #4840 "Drake's version of `lcm-logger` fails with missing shared library"
On OSX and Ubuntu 14.04, when attempting to run the version of `lcm-logger` that Drake installs, I get errors with missing `liblcm` shared libraries:

(Ubuntu 14.04):

[code]

(OSX):

[code]

Both of these are on Drake master (from today).

[2017-01-20 16:12] david-german-tri commented on #4730
Good question.  I think all the same arguments that apply to `.lcm` files apply to `.proto` files, so I'd argue we should follow the same logic as https://github.com/RobotLocomotion/lcmtypes/issues/3.  Messages shared across projects go in a shared upstream repository; messages local to a project go in that project.  Seem reasonable?

[2017-01-20 16:16] rdeits opened #4841 "Valkyrie simulation has sliding feet (and then falls over)"
Running the C++ valkyrie simulator with `valkyrie_simulation` and the controller with `valkyrie_pd_ff_controller` results in the feet slowly sliding together (while in contact with the ground), and then the robot falling over. Am I doing something wrong? Is this not the right way to run the simulator and controller?

[2017-01-20 16:17] rdeits commented on #4730
Agreed. It might be nice someday to communicate with Drake without depending on Drake.

[2017-01-20 16:21] rdeits commented on #4840
If I build `lcm` master outside of Drake's build system, then I don't see this error, so I would suspect that this is a problem with the way Drake is configuring the LCM build.

[2017-01-20 16:40] jwnimmer-tri commented on #4840
@mwoehlke-kitware Could you offer any advice?

[2017-01-20 16:56] rdeits commented on #4840
We just checked on @manuelli 's computer, and his `lcm-logger` works. However, `ldd` shows that it's picking up his systemwide version of `liblcm` from `/usr/local/lib`, which I don't have.

[2017-01-20 17:06] mwoehlke-kitware commented on #4840
Hmm... same here on macOS. On my Linux, though, it looks like the installed binary is still RPATH'd.

How is this *supposed* to work? Normally, if you run an installed binary, it either needs to be RPATH'd or its libraries need to be in the library search path. Which of those is expected to be true for drake?

[2017-01-20 17:10] jwnimmer-tri commented on #4840
@mwoehlke-kitware Did the de-PODS perhaps drop the rpath?  It used to work -- bisect the regressing commit and debug from there?

[2017-01-20 17:39] jamiesnape commented on #4840
RPATH is only part of PODs that has not been removed.

[2017-01-20 18:47] david-german-tri commented on #4840
FYI I can reproduce this on Ubuntu 14.04 also.

[2017-01-20 18:48] david-german-tri commented on #4840
I believe the answer to this question is: RPATH.

[2017-01-20 18:51] david-german-tri commented on #4840
As a workaround until the CMake gets fixed, you can use Bazel to build lcm-logger.  From `drake-distro`:

[code]

[2017-01-20 19:16] liangfok opened #4842 "Bazel Error: Linking of rule '@yaml_cpp//:lib' failed - clang: error: unsupported option '-pass-exit-codes'"
# The Error
When building Drake using the following commands:

[code]

The build aborts with the following error:

[code]

[2017-01-20 19:26] jwnimmer-tri commented on #4448
I think the number of times that API changes to master have broken my WIP branch for this feature (lots!) is a good indication that this work is sorely needed.  I will prioritize and push some PRs next week.

[2017-01-20 19:28] david-german-tri commented on #4842
Conclusion from Slack:

We believe that the first time @liangfok ran a Bazel command in this workspace, the `CC` or `CXX` environment variable was set to Clang.  As a result, Bazel autodetection selected the Clang compiler, and cached that choice.  However, the default `bazel.rc` was still setting GCC-specific flags, leading to the following error.  The fix is to `bazel clean`, sanity check your e

[2017-01-20 19:28] #4842 closed

[2017-01-20 19:29] jwnimmer-tri opened #4843 "Halfway use of clang-format is unsustainable"
Right now Drake recommends using clang-format sometimes, but we don't enforce that all code in tree is clang-format idempotent.

This is bad, because:

(1) Now when anyone runs clang-format on a file in order to fix some cpplint in their PR, it reformats things not even touched by the PR, thus destroying the original author's artisinally-crafted whitespace.  The only argument against clang-format-

[2017-01-20 19:36] liangfok commented on #4843
This is a key reason why I have been running `clang-format` increasingly less often over time -- Drake's code is increasingly becoming not idempotent to `clang-format` meaning running `clang-format` is increasingly making changes that are not relevant to the current PR. It's a snowball effect since I'm sure my new code is not idempotent to `clang-format`.

[2017-01-20 19:36] sherm1 commented on #4838
I'd love to see good state validation in MBTree; not so sure about RBTree repair. @amcastro-tri ?

[2017-01-20 19:38] liangfok commented on #4838
Yes, I agree. I'll update the OP to say MBTree instead of `RigidBodyTree`.

[2017-01-20 19:41] david-german-tri commented on #4843
@liangfok, `clang-format-diff` may be useful; it only changes modified lines.  Example usage to clang-format the previous commit:

[code]

[2017-01-20 23:43] soonho-tri commented on #4755
Closed by #4821.

[2017-01-20 23:43] #4755 closed

[2017-01-21 00:12] david-german-tri commented on #1927
This is moot now that System1 is gone.

[2017-01-21 00:12] #1927 closed

[2017-01-21 13:11] liangfok commented on #4843
@david-german-tri: Thanks! I will check it out.

[2017-01-21 13:29] RussTedrake commented on #4771
Have been thinking a bit more, and it's becoming clear to me just how enabling it would be if we could get python bindings working for MathematicalProgram.  In addition to @rdeits , I could see @patmarion and others using these for working with point cloud perception right in director.  MathematicalProgram is at a point where having more (expert) users could make it get a lot better fast.  @hongka

[2017-01-21 13:31] RussTedrake commented on #4771
FWIW - there would be a ton of value for getting the bindings to matlab, too.  @mposa and others might start using it.  That might be a strong argument for swig.

[2017-01-21 15:24] jwnimmer-tri commented on #4771
Maybe the Boost::Python spike should be redirected to creating new python bindings for MathematicalProgram, instead of backend-swapping the current pydrake APIs?  We could choose to wrap only the APIs that we feel are more stabilized, for now.

[2017-01-21 16:58] soonho-tri opened #4848 "Split symbolic expression test"
Suggested from https://github.com/RobotLocomotion/drake/pull/4821.

[2017-01-21 16:59] soonho-tri opened #4849 "Use symbolic::Variable as a variable type in drake::Polynomial class"
Suggested from https://github.com/RobotLocomotion/drake/pull/4821.

[2017-01-21 17:03] soonho-tri opened #4850 "Disallow dummy symbolic::Variable in Evaluate/ToPolynomial methods and symbolic::Environment class"
Suggested from https://github.com/RobotLocomotion/drake/issues/4755.

[2017-01-21 18:45] hongkai-dai commented on #4848
@soonho-tri I was actually working on this for the last two days, to refactor `mathematical_program_test`. Currently it contains the tests for adding variables/constraints, and also testing different solvers, with or without the symbolic form.

I am refactoring this file to different files, that `mathematical_program_test` only contains the tests on adding variables/constraints (namely it does not

[2017-01-21 19:18] hongkai-dai commented on #4848
Ah I see, we are talking about different files. You are splitting the symbolic tests in `symbolic_expression_test.cc`, I am splitting the symbolic tests in `mathematical_program_test.cc`

[2017-01-21 20:10] soonho-tri commented on #4848
:-) great to know that we don't work on the same thing! Mine is almost done as well. I'll make a PR soon.

Great!

[2017-01-21 20:12] soonho-tri commented on #4421
@hongkai-dai , I've marked item 1 and 3 in the "proposed solution". BTW, are they up-to-date? I can work on item 2 and 4 if you still need them.

[2017-01-21 20:42] hongkai-dai commented on #4421
I think probably can work on item 4? I feel we are not very ready for item 2 yet. The pre-requisite for sum-of-squares optimization is to get semi-definite programming working, I still have not finished the symbolic form for semi-definite programming yet.

For item 4, I am imagining that we need a function `Jacobian`, to return the Jacobian of a symbolic expression, if that expression is a polynom

[2017-01-22 03:28] hongkai-dai opened #4852 "Add `QuadraticConstraint` to MathematicalProgram"
So that some solver (Mosek) can solve convex quadratically constrained quadratic program (QCQP).
http://docs.mosek.com/8.0/capi/tutorial-qo-shared.html

[2017-01-22 06:48] rdeits commented on #4730
Also, I think replacing the yaml configuration with protobuf is reasonable. I picked yaml because it was easy for me to read and write (and I was the only one interacting with those files at the time), and because it just required a small library as a dependency. But it makes sense that we'd want a more structured, parseable format in the future.

[2017-01-22 17:06] soonho-tri commented on #4421
Sounds good to me. To implement this, we need symbolic (partial) derivation, right? I'll work on that next week.

[2017-01-22 19:42] hongkai-dai opened #4856 "MathematicalProgram should not return the shared pointer when adding constraint"
Currently `MathematicalProgram` stores a vector of shared pointers, pointing to the added constraints. When adding a new constraint to `MathematicalProgram`, the newly created constraint is returned to the user as a shard pointer. The code is like this
[code]
I think the reason why we choose to store a shared pointer, is to allow the user to update the constraint, in the following way
[code]

Gene

[2017-01-22 20:17] liangfok commented on #4856
The need to update a constraint could be satisfied if `AddLinearConstraint()` returns a mutable pointer to the added constraint right?

[code]

[2017-01-22 21:31] liangfok opened #4857 "CI Failure Due to kuka_cartesian_way_point_demo Timing Out"
# The Error

[code]

# Example Logs

* https://drake-jenkins.csail.mit.edu/job/linux-clang-continuous-ros-debug/1020/

[2017-01-23 00:24] patmarion commented on #4840
The autoconf build of lcm set the rpath of the installed lcm-logger binary to the install bin dir.

The lcm-logger in the cmake build dir has rpath set, so you can run that, or set LD_LIBRARY_PATH.

`./build/externals/lcm/lcm-logger/lcm-logger`

[2017-01-23 00:27] patmarion commented on #4840
originally reported: https://github.com/lcm-proj/lcm/issues/119

[2017-01-23 14:20] jwnimmer-tri opened #4861 "Use common/drake_copyable pervasively"
In #4780 and #4826, I introduced `common/drake_copyable.h` and used it in two subdirs.  We should likely use it even more pervasively.

My plan is to (slowly) convert most code to use it, and then once we have an empirical sense of how and where to use it, possibly turn it into a `code_style_guide` rule.

PRs from subsystem owners to convert their own code to use it are of course entirely welcome.

[2017-01-23 14:51] amcastro-tri commented on #4838
State validation for MBT would definitely be a nice feature to have. In the near future however I think we can avoid this kind of problems in MBT by providing the user a clean API to set default states. The problem @liangfok had is because in the RBT world users have direct access to the state vector as a raw array of numbers. When there are things like quaternions in this soup of numbers it is ve

[2017-01-23 15:33] liangfok opened #4862 "Modify the KUKA iiwa simulation to publish joint torques in iiwa status messages"
Currently, the KUKA iiwa simulation does not output torques due to the direct-feedthrough issue (#4105 and #2890). This issue tracks the implementation of a workaround, which would enable a single message to contain all three values (joint position, velocity, and torque). It will likely include modifying the PID Controller to publish its commanded torque values over a local loop-back LCM channel o

[2017-01-23 15:35] jwnimmer-tri commented on #4833
Sounds like consensus.  If anyone wants to steal this, please feel free.  Otherwise I will get to it ASAP.

[2017-01-23 15:38] sammy-tri commented on #4862
Updated title to reflect the fact that the iiwa hardware does not publish velocities.

[2017-01-23 16:02] liangfok commented on #4105
Is this a duplicate of #2890?

[2017-01-23 16:16] sherm1 commented on #4105
They are certainly related since #2890 is a prerequisite, but I think this is worth tracking separately.

[2017-01-23 16:40] sherm1 commented on #4838
Since the Context allows direct state modification we may still have to deal with this. At simulation `Initialize()` we can watch for this and consider allowing an all-zero state (xc) at initialization to mean identity orientation for quaternions. We could just replace (0,0,0,0) with (1,0,0,0) during initialization processing where we may have to do other state modifications anyway to satisfy othe

[2017-01-23 18:05] david-german-tri commented on #4566
#4858 fixes this

[2017-01-23 18:10] #4848 closed

[2017-01-23 18:16] #4850 closed

[2017-01-23 18:21] #4807 closed

[2017-01-23 21:45] david-german-tri commented on #4771
Summary of conversation elsewhere:

The swig MATLAB bindings have no users and @RussTedrake has decided we don't need to continue support for them.  @rdeits will spike-test Python bindings for MathematicalProgram using SWIG 3.0.11, and will also nuke the MATLAB swig outputs.  If the spike test works well, we have the option to replace swig-matlab with modern upstream SWIG (most likely as a binary

[2017-01-23 21:57] jamiesnape commented on #4771
SWIG 3.0.2 is in trusty-backports, SWIG 3.0.8 is in xenial, which makes life easier.

[2017-01-23 22:07] rdeits commented on #4771
Annoyingly, only SWIG 3.0.11 supports the `using` alias syntax, which is used in MathematicalProgram.

[2017-01-23 22:10] jamiesnape commented on #4771
That is very unfortunate. I retract my "makes life easier" comment.

[2017-01-23 22:14] hongkai-dai opened #4870 "Prefer sparse matrix to dense matrix in MathematicalProgram"
Currently many derived class from `Constraint` class default to use dense matrix, such as in `LinearConstraint`, `QuadraticConstraint`. This dense matrix representation is rarely the case in the real optimization problem. Instead, in real optimization problem, most of the time the matrix is sparse.

We should instead consider to construct these constraints using sparse matrices, and store these ma

[2017-01-23 22:45] hongkai-dai opened #4873 "Check if the variables in the symbolic expression are variables in the MathematicalProgram"
Currently when we add a symbolic expression as a constraint/cost into `MathematicalProgram`, we do not check if the variables in that symbolic expression are decision variables in the `MathematicalProgram`.

BTW, what is our strategy when doing unit test on the failure cases? I can add a unit test that adding a symbolic expression with some variables NOT included in the mathematical program, and e

[2017-01-23 22:58] sammy-tri commented on #4862
The naive (to me) way to fix this issue would be to make the PidControlledSystem which is generating the input torques to RigidBodyPlant have an extra output port for the internally calculated commanded torques.  This doesn't work because it creates a loop in the diagram (SimulatedKuka in this case) which contains the PidControlledSystem (because the gravity compensator is connected in a feedback

[2017-01-23 23:06] soonho-tri commented on #4873
I agree that this is the way to go.

I've used `EXPECT_THROW` in the symbolic unit tests. Is there our policy about it?

[2017-01-23 23:08] hongkai-dai commented on #4873
Great, I will try `EXPECT_THROW` approach. Should I identify the type of error being thrown?

[2017-01-23 23:09] soonho-tri commented on #4873
Yes. Most of the time, I do that. For example,

[code]

[2017-01-23 23:10] soonho-tri commented on #4873
Here is GTEST documentation for that : https://github.com/google/googletest/blob/master/googletest/docs/AdvancedGuide.md#exception-assertions

[2017-01-23 23:36] naveenoid commented on #4862
Why not compute the torques in some kind of JointTorqueSensor System coupled with the RigidBodyPlant? This kind of a system would simply use its own RigidBodyTree (like GravityCompensator) and compute the inverseDynamics method. This would be the "correct" way to generate torque signals. I could implement such a system.

[2017-01-24 01:44] manuelli commented on #4862
Why would you need to compute the torques again? Aren't they being fed into the rigid body plant at one of it's input ports?

[2017-01-24 03:52] #4833 closed

[2017-01-24 14:56] ggould-tri commented on #4857
Recurred at https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-clang-continuous-ros-debug/1027/

[2017-01-24 16:08] liangfok opened #4875 "Drake Unable to Load SDF With Explicit Pin-To-World Joint"
# Problem Definition

A model in an SDF can have a special joint that effectively pins the model to the world. An example of this is located here:

https://github.com/liangfok/drake/tree/feature/sdf_pinned_to_world/drake/multibody/models/box_pinned_to_world

It contains the following "pin-to-world" joint:

[code]

When this model is loaded into Gazebo, it does not fall due to the effects of gravit

[2017-01-24 16:16] soonho-tri commented on #4849
Currently, `Polynomial::VarType`  is `unsigned int`. I'd like to know if we can use `symbolic::Variable` for `Polynomial::VarType` instead.

Issues of the current design
----------------------------

First of all, it starts with the following work-flow in the `MathematicalProgram` framework where we can get a `Polynomial` from a `symbolic::Expression`.
[code]

Note that when `Expression::ToPolynom

[2017-01-24 16:17] liangfok commented on #4862
_(The following was transcribed from a Slack conversation)_

* Having each torque sensor instantiate its own `RigidBodyTree` is too expensive and slow.
* There are cheaper ways to model non-oracular sensors like by adding noise and bias.
* What we really want is to modify `PidControlledSystem` to output `plant_input_adder`'s output, which contains the torque commands. See [this line](https://githu

[2017-01-24 16:19] soonho-tri commented on #4849
@RussTedrake, @ggould-tri, @sammy-tri : It'd be great if you read the above comment before today's meeting. I'm sorry for the last-minute writing.

/cc @jwnimmer-tri , in case you are interested in this thread.

[2017-01-24 16:21] david-german-tri commented on #4774
Ping on this

[2017-01-24 16:24] ggould-tri commented on #4849
The variable interning approach in Polynomial is awful and should go away; I believe the only real requirements on VarType is that it can key sets and maps and can be tested for equality, so anything reasonably small should be able to act as VarType without difficulty just be changing the typedef.

My only question is whether it would make more sense to eliminate the Polynomial class entirely and

[2017-01-24 16:36] jwnimmer-tri commented on #4849
A lookup method from ID to DVS would be trivial, in case that helps.

[2017-01-24 17:09] hongkai-dai opened #4877 "Support partial evaluation in symbolic::Expression"
Currently symbolic::Expression supports evaluation when the values of all variables are specified. Expect a function

[code]
if `env` does not specify all variable values.

[2017-01-24 17:13] hongkai-dai opened #4878 "Zap Polynomial class"
We decided to represent polynomial using symbolic::Expression object. Currently `Polynomial` is used in both optimization (system identification), and `PiecewisePolynomial`. It is relatively easy to replace the usage of `Polynomial` inside optimization, harder to replace it in `PiecewisePolynomial`. We should at least confine the usage of `Polynomial` inside `PiecewisePolynomial` as a temporary so

[2017-01-24 17:17] hongkai-dai opened #4879 "Support taking (partial) derivative of a polynomial symbolic::Expression"
As discussed in https://github.com/RobotLocomotion/drake/issues/4421, we want to support taking (partial) derivative of a polynomial symbolic::Expression. The API could look like
[code]

[2017-01-24 17:31] soonho-tri commented on #4849
@jwnimmer-tri , one of the decisions came out from the meeting is to replace the current Polynomial class with one based on `symbolic::Expression`. I'll work on that.

[2017-01-24 17:45] liangfok opened #4881 "Need to Add Ground Truth Object ID to Depth Sensor"
For every depth measurement, it'll be nice to include "ground truth" in terms of identifying what object was measured. This ground truth should ideally take the form of an integer ID, which could then be translated into something meaningful like "car", "bicycle", and "pedestrian".

[2017-01-24 17:49] soonho-tri commented on #4849
Close this issue because of https://github.com/RobotLocomotion/drake/issues/4878.

[2017-01-24 17:49] #4849 closed

[2017-01-24 17:55] hongkai-dai opened #4882 "Create monomial and monomial basis as symbolic expressions"
The API can look like
[code]

[2017-01-24 18:14] hongkai-dai commented on #4882
As @soonho-tri and I discussed, when calling `MonomialBasis` function, the order of the expressions inside the returned vector, depends on the order of the variables. For the first round of implementation, we will use the order defined by `Variable`. We can implement other orders later.

[2017-01-24 18:25] soonho-tri commented on #4882
Just to check, do you expect `[x^2, xy, y^2, x, y]` for the return value of `MonomialBasis({x, y}, 2)`?

[2017-01-24 18:37] hongkai-dai commented on #4882
Almost, I expect [x^2, xy, y^2, x, y, 1] as the return value of `MonomialBasis({x, y}, 2)`.

[2017-01-24 18:38] soonho-tri commented on #4882
OK. Thanks for the check.

[2017-01-24 19:05] soonho-tri opened #4884 "make drake::symbolic::Variable just drake::Variable"
The goal is to have a single notion of "variable" in drake code base, to avoid code duplication and possible name collisions.

[2017-01-24 19:06] soonho-tri opened #4885 "Add type to symbolic::Variable"
For now, all the `symbolic::Variable`s implicitly have the type `continuous`. We will have explicit `type_` member in a `symbolic::Variable`, namely `continuous`, `int`, `binary`.

[2017-01-24 19:06] soonho-tri commented on #4885
/cc @hongkai-dai

[2017-01-24 19:07] soonho-tri commented on #4884
/cc @hongkai-dai

[2017-01-24 19:09] hongkai-dai commented on #4885
Currently in `MathematicalProgram`, we defined
[code]
I will clean that up after this issue is fixed.

[2017-01-24 19:10] jwnimmer-tri commented on #4885
Is this characteristic really intrinsic to a symbolic variable?  Non-real variables are not a valid ScalarType for systems, so we'd have to be careful if we decide to admit more types for the purposes of the mathematic program API, that we don't mess up its use for the systems framework.

[2017-01-24 19:11] hongkai-dai commented on #4885
The primary consumer for `symbolic::Variable` is mathematical optimization and formal verification. In both two cases there is the notion of variable type. Do we have other usage for `symbolic::Variable`?

[2017-01-24 19:15] soonho-tri commented on #4885
@jwnimmer-tri , How difficult is it to lift the restriction?

@hongkai-dai , I believe that we want to instantiate systems with `<symbolic::Expression>` and , for example, extract internal dynamics of a system as `symbolic::Expression` for analysis.

[2017-01-24 19:16] soonho-tri commented on #4885
@hongkai-dai , another use case of `symbolic::Expression` is @jadecastro 's Hybrid system design.

[2017-01-24 19:16] jwnimmer-tri commented on #4885
All of the `drake/systems/framework` and various specific leaf systems are templated on `T`, and for many of them, the `T` is expected to admit `symbolic::Variable`.  One requirement on `T` is that it has real-valued semantics.  If we feed a `symbolic::Variable` tagged as `int` or `binary` into an `System::EvalOutput`, it's not clear how the code will realize that something is wrong, or even compi

[2017-01-24 19:19] jwnimmer-tri commented on #4885
I wouldn't even know what it means for a non-real scalar to be used as an e.g. continuous output or state.  Of course, _Abstract_ state can be modal or integer-valued or boolean, but `T` on its own is assumed to be real-valued.

[2017-01-24 19:19] hongkai-dai commented on #4885
Will it help if we have three classes `RealVariable`, `IntegerVariable` and `BinaryVariable`? If this feels too much of a hassle, then I think we can just keep whatever we have now, without adding type information to `Variable`.

[2017-01-24 19:20] soonho-tri commented on #4885
It seems that we just need to keep the current solution where we keep `Variable` type-free and a user of this class keeps a mapping from a Variable to its type internally.

[2017-01-24 19:22] jwnimmer-tri commented on #4885
To be clear `T` in the case of Systems is `= symbolic::Expression`, not just `Variable`.  We could possibly admit a tag on the Variables that is always "REAL" when used on a System; we just need to think about how to make sure Systems code is correct, fail-fast, and easily understood.

[2017-01-24 22:20] rdeits commented on #4771
Brief update on this:

Basically, I'm stuck on how to handle the Eigen Vectors of decision variables (which, ironically, I was a strong proponent of in the first place). Nothing I've tried has gotten SWIG to even *try* to generate proper bindings for `VectorXDecisionVariable`. The best I can get is a bare pointer that just leaks memory.

I decided to also give pybind11 a try, just to see how it wa

[2017-01-24 22:40] #4840 closed

[2017-01-24 22:50] #4885 closed

[2017-01-24 22:53] #4397 closed

[2017-01-24 22:53] rdeits commented on #4771
Follow-up: from discussion with one of the pybind11 devs, automagic wrapping of something like `Eigen::Matrix<symbolic::Variable, -1, -1>` is unlikely to work on its own. We can still return and use instances of that type in python, but they'll act as opaque objects rather than magically transforming into numpy arrays. Fortunately, we *can* implement our own methods for that opaque type and essent

[2017-01-24 22:56] rdeits commented on #4771
The conclusion is probably similar in SWIG: magic wrapping of Matrix<Variable> to and from Numpy arrays is unlikely to work, but we can create a wrapper and implement the API ourselves. This is, in fact, exactly what the `swigmake` autodiff helpers already do for Eigen autodiff types: https://github.com/rdeits/swigmake/blob/master/swig/common/autodiff.i

[2017-01-24 23:10] jefesaurus opened #4893 "Use different SnoptSolver instances in multiple threads"
Has anyone been able to use `SnoptSolver` on different optimization problems from multiple threads? I'm linking the F2C version of snopt which I added `f2c -a` so it would use regular local stack allocation instead of static, but I still get segfaults all over the place.

After adding some mutexes into `snopt_solver.cc` where it allocates the workspaces and sets problem parameters, I can lower the

[2017-01-24 23:30] rdeits commented on #4771
Does anyone have input/suggestions on wrapping Eigen types like this? Going down the route that `autodiff.i` uses is possible, but is a pain to maintain and adds a lot of indirection.

[2017-01-25 00:22] RussTedrake commented on #4893
I'm not surprised to hear that our current snopt_solver is not thread safe.  Unfortunately, I can't think of a recent example of running snopt in multiple threads.  @patmarion did you ever have multiple snopt threads running from director?

[2017-01-25 00:23] hongkai-dai commented on #4893
I never tried that. But SNOPT manual says it can potentially run on multiple thread.http://web.stanford.edu/group/SOL/guides/sndoc7.pdf

[2017-01-25 00:51] hongkai-dai commented on #4771
That is unfortunate, we are using other types as the scalar in Eigen::Matrix, such as `Eigen::Matrix<symbolic::Expression, 2, 3>`.

[2017-01-25 01:47] rdeits commented on #4771
Yeah, and I still think that's the right thing to do in C++. It just makes this step more challenging 😉

[2017-01-25 01:57] liangfok opened #4897 "Need to Implement And Use RigidBodyPlant<T>::DoToAutoDiffXd()"
`RigidBodyPlant<T>::DoToAutoDiffXd()` is needed by certain advanced optimization-based planners like `DircolTrajectoryOptimization`. This issue tracks the implementation and application of this feature.

- [x] Spiral 1 - Implement a deep copy of `RigidBodyTree<double>`. For now, abort if the `RigidBodyTree` contains any collision elements.
- [ ] Spiral 2 - Implement `RigidBodyPlant<double>::DoAuto

[2017-01-25 02:01] rdeits commented on #4771
Just to be clear, in a perfect world I would be able to take a C++ method that returns a `Matrix<Variable...>` and call it from python to get, ideally, a Numpy array. And then I would be able to multiply that Numpy array by a constant to get a Numpy array of Expressions, which I could pass to a C++ function expecting `Matrix<Expression>`. I'm not sure how close to that we can realistically get, bu

[2017-01-25 02:03] jwnimmer-tri commented on #4897
I'm not sure why Spiral 1 is important (i.e., why Spiral 2 needs a deep copy).

I'm also not sure why this is "Priority: High" and "Assignee: Liangfok"?

[2017-01-25 02:12] liangfok commented on #4897
@jwnimmer-tri sorry for the confusion. This is a feature that is needed by some immediate users. I assigned it to myself to allow @amcastro-tri to focus on MBT/MBW. The OP above is based on my rough recollection of what @RussTedrake, @amcastro-tri, and @siyuanfeng-tri told me needed to be done. It likely contains errors. I am currently seeking corrections from them.

[2017-01-25 02:16] liangfok commented on #4897
I believe a deep copy is needed because two `RigidBodyPlant` objects cannot own the same tree since it's stored in a `unique_ptr`.

[2017-01-25 02:31] RussTedrake commented on #4897
In a water-cooler conversation, @siyuanfeng-tri and I lamented the fact that we cannot do trajectory optimization, linearization, etc, on rigid body plant yet... despite @amcastro-tri getting it very close.  Immediate use would be for trajectory optimization on iiwa, and to replace all of the matlab trajectory optimization examples.  We were clear that it might not be top priority, but I'm glad th

[2017-01-25 02:33] liangfok commented on #4897
I updated the OP to omit spiral 3. Thanks for the feedback.

[2017-01-25 03:41] liangfok opened #4899 "Problem Building Drake on Ubuntu 16.04 with VTK6 installed: ‘GLintptr’ has not been declared"
# Setup

Here are the versions of VTK that I have installed on my Ubuntu 16.04 machine:

[code]

VTK6 is installed because it's required by ROS Kinetic.

From a clean checkout, I executed the following commands, which I believe disable the system's VTK6 while enabling Drake's preferred VTK5:

[code]

# The Error

[code]

[2017-01-25 04:03] liangfok commented on #4899
Looks like I may have encountered this problem in the past: https://github.com/RobotLocomotion/drake/issues/3703#issuecomment-252067790

The solution appears to be to use a patched version of VTK5.

[2017-01-25 11:55] liangfok commented on #4897
I tried to explicitly instantiate `RigidBodyPlant<AutoDiffX>` and ran into the following build-time error:

[code]
Looks like `RigidBodyPlant` needs to be updated to support `AutoDiffX`.

[2017-01-25 12:48] RussTedrake commented on #4897
try replace that line with two lines:
[code]

[2017-01-25 14:01] liangfok commented on #4897
Thanks. Using the two lines above fixed the error. The next error I'm encountering seems to be more serious:

[code]

@amcastro-tri, any idea how hard updating `RigidBodyPlant::DoCalcTimeDerivatives()` to support `AutoDiffX` will be? (I assume you implemented the above `static_assert`.)

[2017-01-25 14:12] jwnimmer-tri commented on #4897
Per the comment in the code, prerequisites of making that work are #4267 and #4187.  In fact, this issue is a duplicate of, and rehashes learnings already captured in #4187.

[2017-01-25 14:16] liangfok commented on #4897
Wow. Great find!

[2017-01-25 14:19] liangfok commented on #4897
It looks like this issue's spiral 2 may be a duplicate of #4044 as well.

[2017-01-25 14:36] amcastro-tri commented on #4897
@liangfok ,

First off, what breaks if you remove that static assert? though for sure something will break.
An option I think would be to use this SFINAE trick @david-german-tri has been using in System Framework for the transmogrification methods. That allows you to have two versions of a same method (say in this case `double` and `AutoDiff`) in the same class, super cool.
Then in this case the `

[2017-01-25 14:58] liangfok commented on #4897
Here is the first error I encounter after commenting out the `static_assert`:

[code]

[2017-01-25 16:10] #2482 closed

[2017-01-25 16:27] hongkai-dai commented on #4897
#4267 is not the only reason why RBT is not templated on autodiffscalar. I think when we compute the dynamics using the manipulator equation
[code]
to compute `xdot = [qdot;vdot]` we have to invert the matrix `H(q)` in the manipulator equation above, to compute `vdot`. I believe Eigen autodiffscalar does not support the gradient of inverting a matrix.

[2017-01-25 17:07] amcastro-tri commented on #4897
The idea is that, assuming no collisions or loop joints, in the `AutoDiffScalar` version you'd replace `drake::solvers::MathematicalProgram` with `Eigen::LLT` which can be templated on `T`.

[2017-01-25 17:09] hongkai-dai commented on #4897
Good to know this. I was not aware that Eigen::LLT works with autodiffscalar.

[2017-01-25 17:10] amcastro-tri commented on #4897
Well, I don't think anybody tried :-). But in principle it should.

[2017-01-25 17:11] david-german-tri commented on #4719
Grappling with adding IPOPT to Bazel (#4896 with dynamic libraries, #4905 with static libraries).  Both approaches work with Linux, and both approaches have their own unique OS X gremlins.  Dynamic libraries trigger some kind of deeply confusing loader path problem, which might be a bazel bug and might just be my fault: https://github.com/bazelbuild/bazel/issues/507#issuecomment-275128269

Static

[2017-01-25 19:19] amcastro-tri commented on #4897
@liangfok, What do you think if I take care of the solution of the system in `RigidBodyPlant::DoCalcTimeDerivatives()` once you provide an `RBT::Clone()`? I think that'd be an efficient way to split this work.

[2017-01-25 19:26] sammy-tri commented on #4893
I believe our implementation of SnoptSolver is intended to be thread safe, and I don't see any really obvious gotchas in the implementation there (but manual inspection of a single file is hardly a proof of thread-safe code).

You could mutex all of Solve(), but of course this might defeat the point of using threads.

Any chance you've got a backtrace of where the segfault is happening?  It might

[2017-01-25 19:36] patmarion commented on #4893
No I have not used snopt (or the drake IK interface) in a multi-threaded scenario.  I have used it in a multi-processing scenario however.  I looked at the PDF and indeed it says that the snopt routines may be used by multi-threaded applications.

[2017-01-25 20:09] liangfok commented on #4897
@amcastro-tri: Awesome! SGTM.

[2017-01-25 20:38] #4899 closed

[2017-01-25 21:05] liangfok opened #4908 "Mysterious CI Bazel Error - No Discernible Error"
# The Problem

A Bazel-based CI run turns red, but the console log contains no discernable error.

# Example Logs

* https://drake-jenkins.csail.mit.edu/job/linux-xenial-gcc-bazel-experimental/808/

[2017-01-25 21:07] jamiesnape commented on #4908
CTest said pass, but Jenkins said fail. My guess would be some sort of flake that caused the file `SUCCESS` to not be touched.

[2017-01-25 21:32] hongkai-dai opened #4909 "zap functional_form"
Will switch to `symbolic::Expression` instead.

[2017-01-25 22:01] BetsyMcPhail commented on #4774
Both Xenial and Trusty images have now been updated so clang-3.9 is in /usr/bin.

Note that it's going to take a little while for Jenkins to completely switch over to the new Trusty AMI.

[2017-01-25 22:29] hongkai-dai opened #4910 "Remove functions that add cost/constraints in MathematicalProgram for all variables."
Currently `MathematicalProgram` has functions like
[code]
which means imposing the constraint `lb <= A*x<=ub` for ALL variables inside `MathematicalProgram`. Personally I find this function unnecessary. This function also assumes that the user knows the order of the variables stored inside `MathematicalProgram`, as by reversing the order inside `x`, the meaning of this constraint is totally change

[2017-01-25 22:44] jefesaurus commented on #4893
I'll try to get a stack trace/valgrind in a bit, but it's not stable, and clearly something is smashing something else's data, so it's not super useful.

It really seems like it's close to working, which is why I'm suspicious of the f2c conversion... Once I turn `iPrint=-1`; and iSumm=-1` so the threads aren't trying to write to the same file, it resolves most of the initialization segfaults, and

[2017-01-25 22:50] RussTedrake commented on #4910
I completely agree.  Let's zap them

[2017-01-25 23:00] david-german-tri commented on #4730
The protocol buffer support for Python requires a [library](https://pypi.python.org/pypi/protobuf), most easily obtained through `pip`.  (The versions in `apt` are ancient, on both Xenial and Trusty.)  I know there's some anti-`pip` sentiment, but I don't fully understand the reasons.  Anyone want to chime in?

[2017-01-25 23:17] jwnimmer-tri commented on #4893
For data races, the helgrind tool that Sam mentioned is great for making problem reports more deterministic, and for reporting the first indication of a problem, rather than some segfault down the road.

[2017-01-25 23:22] hongkai-dai opened #4911 "Using Eigen::Array<Polynomial, Dynamic, Dynamic> for PolynomialMatrix in PiecewisePolynomial"
Currently we use `Eigen::Matrix<Polynomial, Eigen::Dynamic, Eigen::Dynamic>` as the type of `PolynomialMatrix` inside `PiecewisePolynomial` class. But this can cause confusion since we are doing element-wise product, when multiplying two piecewise polynomials, as we have seen in #4854

I think the solution is to use `Eigen::Array` instead of `Eigen::Matrix`, as
[code]
`Eigen::Array` supports eleme

[2017-01-25 23:23] rdeits commented on #4910
I also totally agree.

[2017-01-25 23:25] hongkai-dai commented on #4911
Also @jefesaurus

[2017-01-25 23:29] rdeits commented on #4771
@patmarion had some useful advice. I had been trying to get the conversion from Matrix<Variable> to numpy array to happen magically in the binding layer, but it's really not that hard to make that magic happen by just writing some python code. The idea would be:

* wrap C++ functions that expect and return `Eigen::Matrix<Variable>` types
* make `Eigen::Matrix<Variable>` an opaque type in the wrapp

[2017-01-25 23:31] rdeits commented on #4771
I'm going to try to make a quick prototype of this idea in SWIG and pybind, outside of Drake.

[2017-01-26 01:10] jwnimmer-tri opened #4913 "Drake's build of Ipopt should not use Metis"
Drake's build and use of Ipopt should not use Metis, due to licensing.  See #4045 for the citation to the non-EPL parts of Ipopt.

I recommend re-doing https://github.com/RobotLocomotion/ipopt-mirror/blob/master/get_ipopt_source.sh to disable even putting Metis into our repository, which then I think the configure code within Ipopt will see its absence and invoke the work-around.

Alternatively, i

[2017-01-26 02:04] siyuanfeng-tri commented on #4911
@hongkai-dai, that should be the correct representation. I will fix it at some point.
cc @tkoolen @rdeits @RussTedrake, just to make sure nothing is relying on the current "matrix multiplication" behavior.

[2017-01-26 02:04] jwnimmer-tri commented on #2074
So here's a good way to profile the build:
[code]

For me with default Bazel config (GCC, release), it blames:
[code]

[2017-01-26 02:07] RussTedrake commented on #4911
no dependencies from anything I've written.

[2017-01-26 03:03] rdeits commented on #4911
I don't think I've relied on that behavior anywhere.

[2017-01-26 03:26] rdeits commented on #4730
I'm pro-pip, personally.

[2017-01-26 04:01] rdeits commented on #4771
Prototype is here: https://github.com/rdeits/mathprog-wrapper-exploration

## Pybind11

The summary is that implementing @patmarion's suggestion was really easy in pybind11. A surprising number of things just work. For example, if I overload `+` for Variables in C++, then I can do (in python):

[code]

and get an `Expression` out, because numpy will internally call the appropriate c++ addition fun

[2017-01-26 10:58] RussTedrake commented on #4771
hoorah!

[2017-01-26 14:27] david-german-tri commented on #4730
In the Bazel build, it looks like I can get the `protobuf` library hermetically, so that's what I've done in #4912.  I'll continue thinking about how to support CMake; `pip` may well be the answer.

[2017-01-26 14:32] jwnimmer-tri commented on #4730
For the recored: my months-ago objection was in particular to `sudo pip install` during the "must always do this" setup instructions, because it puts content onto the host system that is less strictly managed and cross-integrated than what `deb`s from the OS vendor directly get us.

Since then, we have added option setup instructions of `pip install --user -U pylint` which places files in the user

[2017-01-26 14:40] david-german-tri commented on #4771
This is super exciting, kudos @rdeits!  @mwoehlke-kitware, you should read recent developments on this thread if you haven't already.

Are you planning to continue exploring the SWIG avenue, or is not-SWIG the approach of choice at this point?

It looks like others have already worked out how to do it in Bazel as well: https://github.com/bazelbuild/bazel/issues/1475

@mwoehlke-kitware From my note

[2017-01-26 14:42] jamiesnape commented on #4771
Personally, I like `pybind11` best. I would surprised if there were issues interoperating.

[2017-01-26 15:01] ggould-tri opened #4914 "Mac builds with Matlab failing in compile of Iris"
Starting two nights ago, but masked by other build failures yesterday, all mac builds with matlab began failing during the compilation of the `iris` external.

Example failures: https://drake-cdash.csail.mit.edu/viewBuildError.php?buildid=331321
Relevant commits listed here: https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/mac-clang-nightly-matlab-debug/172/

Typical errors are:
.

[2017-01-26 15:19] amcastro-tri commented on #4897
Excellent, yes, I know you are super busy working on other issues so I thought the famous divide and conquer strategy would work best in this case.

[2017-01-26 15:37] sammy-tri commented on #4910
Fine by me.

[2017-01-26 15:48] rdeits commented on #4914
This is a result of our patched version of `pycontainer.swg`, which is used by SWIG to wrap `std::vector` and the like. The version in SWIG has a bug when used with types like Eigen's, so we ship a patched version in `swigmake`. Unfortunately, that makes us very sensitive to the SWIG version. Specifically, I know that SWIG 3.0.11 is incompatible with that patch, hence https://github.com/rdeits/swi

[2017-01-26 15:55] david-german-tri commented on #1766
Note from f2f: We will need to make sure that build tree RPATHs do not leak into the installed package.

[2017-01-26 15:56] david-german-tri commented on #2681
Downgrading priority because, once we stop dropping Drake stuff in the install directory, there is less danger of viral `isystem` suppressing Drake warnings.

[2017-01-26 15:57] liangfok opened #4916 "Build Warning Indicating Use of Deprecated Header"
# The Warning

[code]

# Example Log

* https://drake-cdash.csail.mit.edu/viewBuildError.php?type=1&buildid=334384, which is part of https://drake-jenkins.csail.mit.edu/job/linux-gcc-ninja-experimental/2824/.

[2017-01-26 15:58] liangfok commented on #4916
Maybe this is because we're using an old version of VTK? Of so, feel free to close this issue without resolution.

[2017-01-26 15:58] david-german-tri opened #4917 "Build products should not go in the Drake install tree except during packaging"
We don't know what, if anything, still depends on this, so some research is required.

[2017-01-26 16:00] liangfok commented on #4034
https://drake-jenkins.csail.mit.edu/job/linux-gcc-ninja-experimental/2824/

[2017-01-26 17:12] mwoehlke-kitware commented on #4771
From what I can tell, pybind11 is a fork of Boost::Python that has been extracted from the rest of Boost and is updated to use modern C++... with one important difference: it has some Eigen wrapping bits built in. We'd apparently need an extra external to get that with Boost::Python.

Due to requiring a C++11 compiler (and C++14 awareness), it does some things much more "cleanly" than Boost::Pytho

[2017-01-26 17:30] jwnimmer-tri commented on #4771
FTR all of the above sounds great with me.  (I had raised the concern with David about making sure we inter-operate with Boost::Python; I think the above plan is solid and I'm not worried anymore.)

[2017-01-26 17:43] kunimatsu-tri commented on #4916
For the record, the warning is coming from vtkIOStream.h where deprecated std::strstream is included.

If we update VTK to newer version than 6.0, this problem will be gone.

[2017-01-26 17:43] #4916 closed

[2017-01-26 17:59] rdeits commented on #4771
I am currently rewriting the IRIS python bindings in pybind11, both in order to fix the build issues like #4914 and to make sure I'm happy with the tool. So far, it's great.

[2017-01-26 18:01] rdeits commented on #4730
In addition, users who are concerned about their global python environment can also just use a virtualenv and pip-install into that environment (which is standard practice in python as far as I know).

[2017-01-26 18:19] david-german-tri opened #4920 "Add both GCC and Clang configurations for Bazel"
This should be done soon after #4772 lands.  CI will still work after #4772, but the builds will be using Clang by default even though they're named "gcc".  See the updates to `drake/doc/bazel.rst` in that PR for the necessary flags.

[2017-01-26 18:21] tkoolen commented on #4911
I can't think of anything either.

[2017-01-26 19:16] ggould-tri commented on #4857
Recurred at https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-gcc-continuous-ros-debug/998/

[2017-01-26 19:24] ggould-tri commented on #4857
Based on this occurring every couple of days in CI, I am assigning it a high priority.

[2017-01-26 19:37] david-german-tri commented on #4920
#4772 is in.

[2017-01-26 19:48] #4882 closed

[2017-01-26 21:30] #4857 closed

[2017-01-26 22:54] david-german-tri commented on #3429
https://drake-jenkins.csail.mit.edu/job/linux-gcc-experimental-ros/2981/

[2017-01-26 22:54] rdeits commented on #4914
This will be fixed when https://github.com/rdeits/iris-distro/pull/52 comes in (since it removes the entire SWIG layer from IRIS)

[2017-01-26 22:55] rdeits commented on #2797
I believe this will be fixed by https://github.com/rdeits/iris-distro/pull/52

[2017-01-27 01:04] jefesaurus commented on #4913
http://glaros.dtc.umn.edu/gkhome/metis/metis/faq

"METIS as of 5.0.3 is being distributed under the Apache License Version 2.0."

I had to compile everything separately(metis 5, mumps, scotch if you want) instead of using ipopt's script by default, but it eventually worked without any patches.

[2017-01-27 01:09] jwnimmer-tri commented on #4913
Hey, that's neat.  Perhaps @sammy-tri can decide what do to next here?

[2017-01-27 04:51] liangfok opened #4929 "Mysterious Bazel CI Error: No toolchain found"
# The Error

[code]

# Example Logs

* https://drake-jenkins.csail.mit.edu/job/linux-gcc-bazel-experimental/839/

[2017-01-27 04:59] rdeits opened #4931 "Python link issues with pybind11 inside Drake"
I was running a quick test to see if I could swap the RigidBodyTree and IK bindings from SWIG to pybind11, but I'm running into some linking issues:

[code]

(and so on).

The issue appears to be that the library generated by pybind11 isn't linked against the Python library at all. Digging around inside the pybind11 code shows that that's exactly the case: https://github.com/pybind/pybind11/blob/7

[2017-01-27 04:59] rdeits commented on #4931
For reference, my code is here: https://github.com/rdeits/drake/tree/pybind-rbtree

[2017-01-27 05:28] rdeits commented on #4931
It seems to be caused by this: https://github.com/RobotLocomotion/drake/blob/master/drake/CMakeLists.txt#L63

[2017-01-27 05:52] rdeits commented on #4931
Another issue (I'll make a new super-issue with all of this later):

pybind11 ships its own `FindPythonNew.cmake`, which seems to work much better than the one shipped with cmake (for example, it actually works on OSX). Unfortunately, if python has already been found with a call to `find_package(Python)`, it looks like `FindPythonNew` isn't called (because cmake). This means that some variables th

[2017-01-27 12:34] liangfok commented on #3752
https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/mac-clang-ninja-continuous-release/1285/

[2017-01-27 14:20] david-german-tri commented on #4929
Note the first line of the console log:

Here's my guess: The PR being tested had merge conflicts with the HEAD of master.  Therefore, Jenkins tested the branch without merging, and the branch had not yet pulled in #4772.  As a result, the new explicit Bazel toolchains that the CI script attempts to use were not present, which would produce that error.

I'm going to close this.  Feel free to reope

[2017-01-27 14:20] #4929 closed

[2017-01-27 14:30] david-german-tri commented on #4931
Definitely - no one wants to debug runtime link failures.

Seems reasonable to me.

[2017-01-27 14:41] liangfok commented on #4929
Perhaps abort the build if there is a merge conflict?

[2017-01-27 14:46] david-german-tri commented on #4929
No, I don't really think that's what most people would or should want.

[2017-01-27 14:46] jwnimmer-tri commented on #4929
(Sometimes people want to run their branch on CI prior to working through the merge.  The hazard of CI and unmerged master being incompatible is low.)

[2017-01-27 14:46] david-german-tri commented on #4929
Especially since there is a separate interlock on merge conflicts.

[2017-01-27 15:24] jwnimmer-tri opened #4934 "Monolane Improvement - Multilane"
Improve monolane to support segments with multiple lanes of constant lateral offset from a reference.  The only thing we care about is representing a highway on & off ramp single lane merging onto (off of) a trivial multi-lane highway (without any lane drops, etc.).

[2017-01-27 18:44] soonho-tri opened #4940 "Refactor AddLinearEqualityConstraint to use symbolic::Formula"
We will have
[code]
and also the vector version.

So that we can write `AddLinearEqualityConstraint(x(0) + x(1) + x(2) == 3)` instead of `AddLinearEqualityConstraint(x(0) + x(1) + x(2), 3)`.

/cc @hongkai-dai

[2017-01-27 18:49] hongkai-dai commented on #4940
I am thinking we can probably combine `AddLinearEqualityConstraint` and `AddLinearConstraint`. The difference between these two are the return type. Is it possible to find out whether the formula is an equality or inequality in the compile time? So that we can call
[code]

[2017-01-27 18:52] soonho-tri commented on #4940
1. Isn't it the case that `AddLinearConstraint` takes both of lower-bound and upper-bound?
2. Do we have `LinearInequalityConstraint`?

[2017-01-27 18:58] hongkai-dai commented on #4940
Yes, I think it is easier for the user if he can write
[code]
rather than
[code]
Namely if the linear inequality constraint is only enforce on the one side, then in the symbolic formula, we can ignore the other side.

Does `symbolic::Formula` allows us to write the linear inequality on both sides, like
[code]
?

No we do not have one, `LinearConstraint` is used for inequality constraint.

[2017-01-27 19:09] soonho-tri commented on #4940
First of all, C++ doesn't support `1 <= 2 * x(1) + 3 * x(2) <= 4` syntax. We need to write:

[code]

In this particular method, we can assume and make sure that the input formula is always in the form of `lb <= e && e <= ub` so that we don't need to run "decompose" method twice over `e`.

[2017-01-27 19:09] soonho-tri commented on #4940
In general, I agree with you in that we should have a single method handling both of ineqs and eqs. I believe that this is the right direction which makes things more easier to use.

[2017-01-27 19:11] soonho-tri commented on #4940
I think the question is "do we want both of the following or just choose one?"

1. `AddLinearConstraint(e, lb, ub)`
2. `AddLinearConstraint(lb <= e && e <= ub)`

[2017-01-27 19:15] hongkai-dai commented on #4940
How about we supporting

1. `AddLinearConstraint(e, lb, ub)` for inequality constraint on both sides.
2. `AddLinearConstraint(e >= lb)` for greater than
3. `AddLinearConstraint(e <= ub)` for less than.

[2017-01-27 19:15] soonho-tri commented on #4940
BTW, @jwnimmer-tri just taught me http://en.cppreference.com/w/cpp/algorithm/clamp

[2017-01-27 19:16] soonho-tri commented on #4940
It's C++17 feature but we can take this idea and I can implement
[code]
and we can use it for `AddLinearConstraint(const symbolic::Formula)`.

[2017-01-27 19:19] hongkai-dai commented on #4940
So when the user uses it, it will be
[code]
? This looks more complicated to the user, than `AddLinearConstraint(e, lb, ub)`;

[2017-01-27 19:19] soonho-tri commented on #4940
I was writing the same sentence...

[2017-01-27 19:20] soonho-tri commented on #4940
@jwnimmer-tri , probably `clamp` doesn't save us much in this context?

[2017-01-27 19:21] jwnimmer-tri commented on #4940
Up to you guys, you are the users.  I guess I was imagining that it was a way to reuse some existing base-case `AddConstraint` overload that take a bare Expression.

[2017-01-27 19:21] jwnimmer-tri commented on #4940
But I see now you return this weird Binding stuff, so I guess nevermind.

[2017-01-27 19:23] soonho-tri commented on #4940
OK.

@hongkai-dai , let's support the followings (basically what you said above + equality)

[code]

[2017-01-27 19:24] soonho-tri commented on #4940
Wait.. but then what'd be the return type of `AddLinearConstraint`?

[2017-01-27 19:24] hongkai-dai commented on #4940
Totally agree.

nitpick: the last one is `AddLinearConstraint(e == c)`, with two `=`?

[2017-01-27 19:25] hongkai-dai commented on #4940
Yes that is my question before, can we differentiate `e >= lb` and `e == c` in the compile time? Then we can  do SFINAE to return different types.

[2017-01-27 19:30] soonho-tri commented on #4940
No. Both of them return `Formula` type.

I think one solution is to have `LinearConstraintInequality` and `LinearConstraintEquality` as derived classes of `LinearConstraint`, and `AddLinearConstraint` returns `LinearConstraint`. But this is not so desirable solution since we need to check a return value at runtime and do a proper casting.

[2017-01-27 19:31] soonho-tri commented on #4940
Or we merge `LinearConstraintInequality` and `LinearConstraintEquality` classes into a single class `LinearConstraint` but have a flag for its relational operator (`<=`, `==`) and use it in evaluation.

[2017-01-27 19:36] hongkai-dai commented on #4940
OK, so how about we return `Binding<LinearConstraint>` for adding linear equality constraint? `LinearEqualityConstraint` is a derived class from `LinearConstraint`. So the API is
[code]
which supports adding all `<=`, `>=` and `==` linear constraint, but does not support the linear inequality constraint on both sides, and we still keep
[code]

Inside `Binding<LinearConstraint> AddLinearConstraint(

[2017-01-27 19:39] soonho-tri commented on #4940
Sounds like it's best we can do in the current design.

Here is a question. For now, any method taking `Binding<LinearConstraint>` has to check whether the argument is `Binding<LinearConstraint>` or `Binding<LinearEqualityConstraint>`. Is it correct?

[2017-01-27 19:40] soonho-tri commented on #4940
or it doesn't matter since `LinearEqualityConstraint` sets both of `lb` and `ub` with the same value?

[2017-01-27 19:40] hongkai-dai commented on #4940
I think inside the solver, the program needs to differentiate whether the linear constraint is inequality or not, since it can incur different type of optimization problems. For example, convex quadratic objective functions with linear equality constraints have an analytical solution, while there is no analytical solution for the same objective function with linear inequality constraint.

But from

[2017-01-27 19:40] soonho-tri commented on #4940
[code]
Never mind. I just checked the source code.

[2017-01-27 19:41] soonho-tri commented on #4940
I see. It's clear for me now.

[2017-01-27 20:05] edrumwri opened #4942 "quaternion.h quat2rotmat() normalizes the quaternion (when it shouldn't)"
quat2rotmat() normalizes quaternions on entry; the function specification indicates that the quaternion input should be normalized on entry, but then goes ahead and normalizes the quaternion anyway.

This subtle issue results in derivatives of functions that use quaternions to be computed incorrectly. For example, the time derivative of X*q is different than the time derivative of X*q/norm(q).

We

[2017-01-27 20:08] amcastro-tri commented on #4942
Thank you for noticing this issue @edrumwri. I also hope that when we start adding well documented implementations plus unit tests we will get rid of this kind of problems.
I am not working on the new quaternion implementation yet but I will for sure ping you on this when I start that work.

[2017-01-27 20:22] edrumwri commented on #4942
Noticing = several hours of work to find out why an existing test wasn't passing with new PR!

[2017-01-27 22:14] soonho-tri commented on #4884
@jwnimmer-tri , I'm working on moving `Variable`, `Variables`, and `Environment` classes from `common::symbolic` namespace to `common` namespace. Which one of the followings is the best way to shape them in `BUILD` file?

 1. Keep them under `symbolic` library
 2. Have each in its own library (i.e. `variable.cc` => `variable`)
 3. Have the three in one library (i.e. `variable.cc`, `variables.cc`,

[2017-01-27 22:32] edrumwri opened #4946 "Bitten by git submodules again"
I've been bitten yet again by git submodules for external dependencies. I'd already adjusted my workflow to carefully step around this issue, but it seems that merging the master branch into my PRs has the nasty tendency to activate this problem. For those unaware of the problem, please take a look at the latest status of my branch #4604 or consider a time where you may have accidentally committed

[2017-01-27 22:38] jwnimmer-tri commented on #4946
Yes, the sha's change not-infrequently, though in particular this week they have been changing more than usual.

Once we are all-Bazel and CMake-only-as-a-wrapper we are not going to use git submodules anymore.  So I guess for now I would advocate better-documenting the fixups and workarounds, rather than improving the core technology related to submodules.  (But of course if there are easy non-do

[2017-01-27 22:46] jwnimmer-tri opened #4947 "Advising users to install libgl1-mesa-dri is a bad idea"
Unconfirmed but trustworthy reports state that:

[2017-01-27 22:47] jwnimmer-tri commented on #4884
For Bazel, the right answer is the smallest libraries that make sense as standalone components.

[2017-01-27 22:59] sherm1 commented on #4946
So Bazel will fix our submodule problems! Ummm ... any chance it can grow hair on my head too?

[2017-01-27 23:03] edrumwri commented on #4946
Halleleujah!

[2017-01-27 23:29] rdeits commented on #4771
https://github.com/rdeits/drake/tree/pybind-rbtree now has all python tests passing using pybind11 bindings instead of SWIG. There's some more work to be done to expose some IK constraints that aren't being tested but that Director probably needs, and to clean up the build, but overall this is really nice.

[2017-01-28 04:06] liangfok commented on #4947
I just tried to install `libgl1-mesa-dri` on a "dirty" Ubuntu 14.04.5 machine ran into the following error:

[code]
It's a relief the installation attempt did not corrupt my display server. I'll have to test again using a clean  Ubuntu Trusty before resolving this issue.

[2017-01-28 06:36] rdeits opened #4950 "Python API cleanup"
In porting the python bindings to pybind11, it became pretty clear that the API could use some cleanup. A few issues that I'd like to address:

- [ ] replace "inverseKinSimple" and the like with lambdas inside the pybind files
  * these functions exist only to make SWIG happy. We don't need them cluttering up the source files
- [ ] move kRollPitchYaw etc. inside their enum class instead of being a

[2017-01-28 20:01] #4873 closed

[2017-01-29 22:54] liangfok opened #4955 "Compiler Warning: "using integer absolute value function 'abs' when argument is of floating point type""
# The Warning

The following warning occurred while building Drake using OSX 10.11.6, clang Apple LLVM version 7.3.0, and `cmake` / `ninja`:

[code]

[2017-01-29 23:13] sherm1 commented on #4955
Liang, see PR #4956 -- I don't know how to verify that it is fixed on the platform you described above. That doesn't seem to be run during CI.

[2017-01-29 23:21] liangfok commented on #4955
I just noticed that this warning shows up in CI here:

https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/mac-clang-ninja-continuous-debug/1303/consoleFull

[2017-01-30 01:14] liangfok commented on #4719
I'm estimating #4956 incurred 1 hour of developer time mostly due to context switching overhead.

To my knowledge, the Linux compilers chose the correct `abs()` and only the OSX compiler chose the wrong one.

[2017-01-30 01:20] #4955 closed

[2017-01-30 07:44] maddog-tri commented on #4934
Here are my notes on what should be done to achieve this goal.
 * Implementation (`monolane::RoadGeometry` and its children):
   * The `Lane` base class and its descendents (`LineLane`, `ArcLane`) should be promoted to the `Segment` level (pretty much replacing the current mostly content-free `Segment` class).  The concept of "planar reference curve" will thus apply to the segment, and the segment

[2017-01-30 16:39] david-german-tri commented on #4719
In #4905, I added a new test rule that only works on Linux, leading to build breakage on OS X.   I've spent two hours so far this morning trying to figure out how to disable a test on OS X only.

[2017-01-30 16:46] david-german-tri commented on #4946
Submodules were added in #2487, replacing a glob of CMake code that managed the externals.  That code was an even bigger landmine.

Given that a CMake core developer recommended that we use submodules instead of CMake, I agree with @jwnimmer-tri that there's probably no low-hanging fruit here, and we should focus on the switch to Bazel.

[2017-01-30 16:53] patmarion commented on #4950
+1

[2017-01-30 16:56] patmarion commented on #4950
Note: Director uses this API via director.pydrakeik, and it works for both drake/master and openhumanoids's aging drake fork.  There is a compatibility layer to fix api differences between those two versions of drake.  I think the compatibility layer was recently broken for the oh fork of drake, and I've yet to update it.  If the api continues to change further, I may just drop support for pydrake

[2017-01-30 18:10] soonho-tri commented on #4877
From the discussion with @hongkai-dai,

- [ ] Introduce a new type `Substitution` a mapping from an `Variable` to an `Expression` (`std::unordered_map<Variable, Expression>`).
- [ ] Add a substitution function
[code]
 - [x] We'll keep the current evaluation function
[code]

[2017-01-30 18:20] #2797 closed

[2017-01-30 18:20] #4914 closed

[2017-01-30 18:36] chang-liang opened #4964 "errors in running LinearInvertedPendulum.m"
Hi, my name is Bryan from University of Waterloo, Canada. I am learning LinearInvertedPendulum.m in directory `drake-distro/drake/examples/ZMP`. But I got some complains when I run like bellow,

When I tried to run `LinearInvertedPendulum.runPassive`, Matlab command showed,

[code]

When I tried to run ` LinearInvertedPendulum.ZMPtrackingDemo`, Matlab command showed,

[code]

When I tried to run `

[2017-01-30 19:25] rdeits commented on #4950
Of these, I see the most pressing change being the one about autodiff methods accepting and returning a numpy array of autodiff instead of a special wrapper type. That change will also give us consistency in the way python passes and receives `drake::Variable`s, `double`s, and `AutoDiffScalars`.

Fortunately, I think that's also the least disruptive change. As far as I know, no one is using pydrak

[2017-01-30 22:37] rdeits commented on #4771
https://github.com/rdeits/drake/tree/pybind-mathprog can now run a very basic mathematicalprogram example from python: https://github.com/rdeits/drake/blob/7bffb37628e62e59ea4181963e70a6bd2bdc5a2b/drake/bindings/python/pydrake/test/testMathematicalProgram.py#L15

[code]

[2017-01-30 22:50] jwnimmer-tri commented on #4841
/CC @siyuanfeng-tri Any thoughts?

[2017-01-30 22:51] jwnimmer-tri commented on #4909
/CC @soonho-tri Are you nominally working on this (so assign it?)  Or is @hongkai-dai doing it?

[2017-01-30 22:55] RussTedrake commented on #4771
hoorah!

[2017-01-30 23:11] soonho-tri commented on #4909
I am not working on it now. @hongkai-dai , did you start working on this?

[2017-01-30 23:11] hongkai-dai commented on #4909
Not yet, but I can take it.

[2017-01-30 23:27] sherm1 commented on #4841
@SeanCurtis-TRI is working on an improved stiction model (already running but not PRed yet). That's a good thing but there is no certainty that it is the actual cause of the problem! Investigation ongoing ...

[2017-01-30 23:30] david-german-tri commented on #4719
#4970 - there went another day of my life, and it's still a kludge.  Thanks, Homebrew.

[2017-01-30 23:37] sherm1 commented on #4824
@hongkai-dai says this class is going to be history soon so I'm closing this.

[2017-01-30 23:37] #4824 closed

[2017-01-30 23:37] siyuanfeng-tri commented on #4841
@rdeits depends on which sim you run? I'd guess you run the pid controlled version in examples/Val? That one is doing PD + some constant nominal torque, once q deviates (feet slide away) from whereever that feedforward is generated, it falls over. If you run the qp controlled version, it should be fine, ./examples/QPInverseDynamicsForHumanoids/system/valkyrie_balancing_controller_system

[2017-01-30 23:41] jwnimmer-tri commented on #4946
So the recovery procedure is something like https://github.com/RobotLocomotion/drake/pull/4805#issuecomment-274662451:
 1. Level 3 nuke from #4551.
 1.    Re-run cmake.
 1.    Re-run download-all.
 1.    git checkout the sha we want (as found on https://github.com/RobotLocomotion/drake)
 1.    git commit

Closing this as a duplicate of #4551.

Ask on Slack if you have more problems, and David or I

[2017-01-30 23:41] #4946 closed

[2017-01-31 00:04] sherm1 opened #4971 "We need a Drake document describing what AutoDiffScalar does & how to use it properly"
Eigen's AutoDiffScalar has such an opaque interface that even those of us who have used it successfully can't remember how it works the next time we go to do something with it. It would be very helpful to have a Drake tutorial somewhere (Doxygen?) on this topic, perhaps illustrated with some unit tests.

From discussion in #4959 [here](https://reviewable.io/reviews/robotlocomotion/drake/4959#-KblF

[2017-01-31 00:15] RussTedrake commented on #4950
reminder that we have one more anticipated change in the autodiff types coming (soonish):  doing the fixed-size chunking instead of variable size.  not sure if that impacts your decisions.

[2017-01-31 02:17] rdeits commented on #4950
Good point, and I'm not sure exactly how that will affect things. Do we have a plan for how to provide an easy way to use the chunked AD types?

For example, right now, if I want the jacobian of a point w.r.t. q, I can call `doKinematics` with q as a vector of AutoDiffMax73 and then pull out the derivatives. With the fixed-size chunking, I have to call `doKinematics` N times with chunks of size M

[2017-01-31 02:22] RussTedrake commented on #4950
Yes -- plan is to have helper functions which setup and pull out the chunked gradients.

[2017-01-31 02:34] rdeits commented on #4950
Ok. I *think* that shouldn't affect the python bindings. There are two ways python can deal with AD:

1. Have the python API actually pass wrapped AD arrays down to Drake and back. Write a `jacobian()` function in python that does the chunking and extracts the result
2. Have python call a Drake `GetJacobian()` method of some kind

I'd actually prefer option (1), even though it means more python co

[2017-01-31 09:53] davetcoleman commented on #459
+1 to moving forward with this :)

[2017-01-31 13:21] jwnimmer-tri opened #4976 "OpenDrive (XODR) back-end for maliput APIs"
We would like to have available an OpenDrive (XODR) back-end for the maliput APIs, so that we can load XODR files and then simulate agents atop it.

[2017-01-31 13:21] jwnimmer-tri opened #4977 "RNDF back-end for maliput APIs"
We would like to have available an RNDF back-end for the maliput APIs, so that we can load RNDF files and then simulate agents atop it.

[2017-01-31 13:21] jamiesnape commented on #4947
Also, the average user does not need it anyway, since it is only installed for the benefit of xvfb.

[2017-01-31 14:20] jwnimmer-tri commented on #4305
@amcastro-tri @SeanCurtis-tri re-ping.  Any new thoughts on fixing this up?

[2017-01-31 14:26] SeanCurtis-TRI commented on #4305
I'm working on a PR that changes the contact model in `RigidBodyPlant`.  As such, this test is rendered meaningless because System 1 and the system formerly known as System 2 no longer agree.  It'll be killed in that PR.

[2017-01-31 15:51] edrumwri commented on #4121
Addressed by PR #4965.

[2017-01-31 15:51] #4121 closed

[2017-01-31 16:27] mwoehlke-kitware commented on #4931
Python bindings that use Python functions? Scandalous :wink:.

I remember noticing this playing with your "experiment" a wondering *why* pybind11's helper function doesn't just link to the Python library. Is there a problem just doing that?

Drake has its own `FindPython.cmake`, possibly we should use the pybind11 one and/or incorporate its improvements?

[2017-01-31 16:38] #4964 closed

[2017-01-31 16:48] rdeits commented on #4931
@mwoehlke-kitware I wondered that as well. The rationale is explained here: https://github.com/pybind/pybind11/blob/master/tools/pybind11Tools.cmake#L95

Basically, linking to a specific python library would make it impossible to load that library from a different python interpreter running the same python version.

[2017-01-31 17:38] liangfok opened #4985 "Rename libdrakeLCMSystem2 to be libdrakeLcmSystem."
"System 2" is no longer correct.

[2017-01-31 18:43] #4884 closed

[2017-01-31 18:49] #4910 closed

[2017-01-31 18:49] rdeits commented on #4950
I've implemented option 1 as a demo on the `pybind-rbtree` branch as a demo. Here's an example of usage: https://github.com/RobotLocomotion/drake/pull/4949/files#diff-fb5025ee83d9b7dd582bd89aa251bd2fR35

With this interface, it's possible to move to chunked-mode AD in the background without any user-facing changes.

[2017-01-31 19:05] liangfok opened #4989 "Implement A Hard-Coded Multi-Lane Dragway Using maliput/api"
- Straight path
- 2 lanes

[2017-01-31 19:07] liangfok opened #4990 "Implement a Multi-Lane Demo Using Hard-Coded Dragway"
This will build upon #4989 . Perhaps using the "MOBIL" lane-change decision model.

This will also need a lane change planner. The planner could be as simple as specifying the time by which the car must be in the new lane.

[2017-01-31 19:56] #4985 closed

[2017-01-31 20:53] liangfok commented on #4989
From my initial study of `automotive/maliput/api`, I think a multi-lane dragway can be implemented using:

1. A single `RoadGeometry` object containing...
2. A single `Junction` object containing...
3. A single `Segment` object containing...
4. Two `Lane` objects that span the entire length of the dragway.

[2017-01-31 21:43] jwnimmer-tri opened #4998 "Add RequirementsMonitorSystem"
Add RequirementsMonitorSystem.

(@soonho-tri please edit the overview here to explain what you want.)

[2017-01-31 21:44] jwnimmer-tri opened #4999 "Consider supporting MTL (Metric Temporal Logic) in Symbolic library"
Consider supporting MTL (Metric Temporal Logic) in Symbolic library.

[2017-01-31 21:45] jwnimmer-tri opened #5000 "Port automotive demos to use PoseAggregator"
Port automotive demos to use PoseAggregator.

[2017-01-31 21:48] jwnimmer-tri commented on #4990
Possibly the MOBIL lane-change model is a good candidate, to complement the IDM car model.

[2017-01-31 21:53] jwnimmer-tri opened #5001 "Maliput village demos"
The famous "Maliput village demos" are on a feature branch on their way to master.  This issue is to track their completion.

- First PR with prep work: #5032
- Second PR with actual demos: TBD

[2017-01-31 21:55] jwnimmer-tri opened #5002 "More capable maliput backend"
In the medium term, we want a more capable maliput backend, likely to be waypoint-informed and have multiple lanes, interesting junctions, etc.  This can serve as a point to collect design notes and track completion.

[2017-02-01 09:02] soonho-tri commented on #4940
https://github.com/RobotLocomotion/drake/pull/4972 closed this.

[2017-02-01 09:02] #4940 closed

[2017-02-01 09:47] soonho-tri commented on #4998
@RussTedrake, I'll start implementing it based on [framework/primitives/requirements_monitor.h](https://github.com/RussTedrake/drake/blob/requirements/drake/systems/framework/primitives/requirements_monitor.h) file in your [requirements branch](https://github.com/RussTedrake/drake/tree/requirements). Here is a plan:

 - [ ] As a first step, assume that every requirement is in the form of `G φ` and

[2017-02-01 14:15] jwnimmer-tri commented on #4448
@RussTedrake I think we can make this work with only a single Siso base class.  I am currently working through some testing and porting using the following APIs offered by SisoVectorSystem for use by the concrete subclasses:
[code]

Subclasses can declare `xc` or `xd` in their constructor, with no need to feed that information through to the `SisoVectorSystem` constructor.  They must override (or

[2017-02-01 15:32] jadecastro commented on #4998
As discussed with @soonho-tri, I could help work on bullet 2 to implement it as a Drake System.

Fundamentally, once we have `G \phi` covered, our next step might be to extend this to safety MTL subformulas of the form `G_[a_i,b_i] \phi` are satisfied or not.  We could do this by implementing a system that creates a continuous resettable timer for each subformula of this form. Specifically, the `i

[2017-02-01 16:13] rdeits commented on #4931
@jwnimmer-tri 's suggestion of string substitution to apply the appropriate flags to the pybind11 targets seems to have worked, thanks!

[2017-02-01 16:26] jwnimmer-tri commented on #4990
... and for an earlier spiral of this, even multi-lane bonehead cars + SimpleCar ego car under key/joy control driving on the #4989 would be a big help.  (In other words, we don't need agent planners in the first spiral.)

[2017-02-01 16:49] jadecastro commented on #4998
To document the f2f discussion with @soonho-tri and @RussTedrake (let me know if this differs from your viewpoint), the initial (Spiral-0) work will be detecting any type of constraint violation supported by MathematicalProgram during a simulation. When such a violation occurs, we will need a mechanism to stop the terminate the simulation early, for instance, by setting an AbstractValue flag that

[2017-02-01 17:52] jwnimmer-tri opened #5012 "Deprecation timeline for Ubuntu Trusty 14.04"
We should consider and publish Drake's timeline for supporting Ubuntu Trusty 14.04.

We shouldn't (and don't want to) drop support immediately, but we should come to consensus on a reasonable estimated timeline for doing so, to help inform our engineering planning.

[2017-02-01 17:56] jwnimmer-tri commented on #5012
My starting proposal would be something like this:
- Ubuntu 14.04 non-ROS builds are supported through June 2017, and thereafter unsupported.
- Ubuntu 14.04 ROS builds (using Catkin & GCC 4.9) are supported through the end of 2017, and thereafter unsupported.

[2017-02-01 18:15] amcastro-tri opened #5013 "MultibodyTree features requests."
This issue is opened to track a number of issues, feature requests, ideas for RBT that need to be taken into consideration in the design of `MultibodyTree`. This issue will therefore help close those old `RBT` issues without loosing track of them.
The need for `MultibodyTree` was identified in #4633.

These items are listed in the order I think they will get resolved:

- [x] Small lightweight spat

[2017-02-01 18:15] #4621 closed

[2017-02-01 18:17] #4407 closed

[2017-02-01 18:24] #4328 closed

[2017-02-01 18:24] #4291 closed

[2017-02-01 18:24] #3987 closed

[2017-02-01 18:25] #3325 closed

[2017-02-01 18:25] #3908 closed

[2017-02-01 18:30] amcastro-tri commented on #3143
@sherm1, are you happy with the current solution? can we close this? or open/reference a new one that mentions caching and other details?

[2017-02-01 19:54] #2986 closed

[2017-02-01 19:56] amcastro-tri commented on #2783
I think this will be very well handled by `GeometryWorld`.
@SeanCurtis-TRI, keep it in your radar though.

[2017-02-01 19:56] #2783 closed

[2017-02-01 19:59] amcastro-tri commented on #2751
This will be resolved as a sub-product of having a `Frame` concept in MBT, see #5013.

[2017-02-01 19:59] #2751 closed

[2017-02-01 20:05] sherm1 commented on #3143
This is already accounted for in #4364.

[2017-02-01 20:05] #3143 closed

[2017-02-01 20:08] amcastro-tri commented on #4942
We have Eigen's `Quaternion<T>::toRotationMatrix()`. I wonder if it has the same issue.

[2017-02-01 20:19] #4838 closed

[2017-02-01 20:23] amcastro-tri commented on #4643
cc'ing @clalancette. This had to do with a consistent unambiguous definition of frames.

[2017-02-01 20:26] #4153 closed

[2017-02-01 20:28] amcastro-tri commented on #4147
Delighted to review this @SeanCurtis-TRI. I just un-assigned myself as part of my triage.

[2017-02-01 20:31] amcastro-tri commented on #2662
I wonder how much of this will translate to `MultibodyWorld` and what the solution will be. Again. un-assigning myself in my triage.

[2017-02-01 20:32] amcastro-tri commented on #2644
@SeanCurtis-TRI, this has to do with having `O(N^2)` checks in `DrakeCollision::Model`. I just reassigned to you. Feel free to close or reference in a newer issue.

[2017-02-01 20:33] #2361 closed

[2017-02-01 20:33] #2292 closed

[2017-02-01 20:34] #2213 closed

[2017-02-01 20:35] liangfok commented on #2662
I've recently encountered one scenario where having indices is better than pointers: cloning. Cloning indices is much easier since they can be directly copied.

[2017-02-01 20:37] jwnimmer-tri commented on #2662
... and if you're lucky, they even still have the same meaning after the clone.

[2017-02-01 20:37] #2001 closed

[2017-02-01 20:41] sherm1 commented on #4942
No, Eigen's method doesn't normalize so it is OK.

[2017-02-01 23:17] hongkai-dai opened #5019 "Add GetSolution(Expression) in MathematicalProgram"
Currently `MathematicalProgram` has `GetSolution()` function for a variable. We should also support `GetSolution(Expression)`, as what spotless provides.

[2017-02-02 00:17] RussTedrake commented on #4448
I like it.  I don't think you should provide that default output -- as you say, it's trivial to implement and we should ask the user to do it.
n.b. update the doc from e.g. `EvalOutput` -> `CalcOutput`

[2017-02-02 00:54] sherm1 commented on #3614
I lost enthusiasm for `ContiguousVector` as a rename for `BasicVector` after I realized that `SubVectors` are often contiguous also. And now I've been staring at VectorBase/BasicVector for so long I'm not adequately confused by the name similarity any more. So I'm tempted to close this. Would someone with a fresher point of view please say whether we should still change one of the names? `RawVecto

[2017-02-02 03:00] jwnimmer-tri commented on #2752
So I'm all for rolling our own of what we need, so that its tailored to purpose and easy to use, but are there existing libraries that would meet the need?

For example, in Driving we use https://github.com/strasdat/Sophus and it seems at least vaguely related to what you're trying to solve here.  (I admit to not knowing the domain well, so maybe its something else entirely.)

[2017-02-02 03:18] jwnimmer-tri commented on #4448
Awesome.  /CC @david-german-tri or @sherm1 if you want to offer any API concerns.

On my branch I have this implemented, and all relevant `primitives` and some `sensors` ported.  I'll shoot for a first PR by late next week.

Reading the API paste again, I wonder if we should offer a typedef for `const Eigen::VectorBlock<const VectorX<T>>` and `Eigen::VectorBlock<VectorX<T>>`.  The signatures are a

[2017-02-02 05:03] sherm1 commented on #2752
I can't find documentation for Sophus, and the test cases are indecipherable and undocumented. At first glance it looks like a long-winded way of representing Rotations (SO(3)) and Transforms (SE(3)). I know some people are fond of thinking of those simple objects in Lie algebra terms, but I've never understood why that's a good thing.

Also there are a lot more spatial quantities than just those

[2017-02-02 05:10] jwnimmer-tri commented on #2752
Sorry, I don't have any other specific information.  I know that others also have found that code difficult.

[2017-02-02 05:29] sherm1 commented on #2752
I suspect that using this in driving is a Really Bad Idea. It will have the effect of making what could have been straightforward code understandable by any graphics or mechanics-savvy engineer into something only a mathematician could love.

[2017-02-02 14:10] rpoyner-tri commented on #2752
@sherm1 +1. Empirically, both Grant and I fell down the Sophus rathole when we first started to work with driving. It's not a terribly deep pit, but it is certainly unfamiliar language for otherwise familiar concepts.

[2017-02-02 14:34] SeanCurtis-TRI commented on #2662
Exactly; it really comes down to the nature of the clone.  Is it a shallow or deep copy?  That aspect of the clone is orthogonal of whether you have pointers or indices stashed inside.

[2017-02-02 14:34] SeanCurtis-TRI commented on #2662
FTR this will be going away with GeometryWorld; bodies will only have indirect access to geometry via "handles" of some sort.

[2017-02-02 14:43] amcastro-tri commented on #2752
FWIW. I already have a minimum implementation of this in my own branch for MBT. Probably the most developed component in MBT so far so I'll start pushing soon. However so far I focused on capabilities we do not have in libraries like Eigen (I don't know about Sophus). Those are: spatial vectors, shift operators, rotational inertias, spatial inertias and a set of the most common operations between

[2017-02-02 15:15] edrumwri commented on #3614
For those of us who have been working with BasicVector / VectorBase long
enough, we're no longer confused, but the current naming sucks- a user
shouldn't need to use both types over and over to recall the distinction.

To provide a problem without a solution: I don't like RawVector. It's not a
piece of meat! If you're going down that road, how about AtomicVector?

--------------------------------

[2017-02-02 15:18] david-german-tri commented on #3614
I think we should avoid `Atomic` because of the specific meaning in computing.  `ContiguousVector` remains the best suggestion on this thread, IMO; it doesn't bother me that subvectors are often contiguous.

[2017-02-02 15:24] edrumwri commented on #3614
Same here- doesn't bother me that subvectors are often contiguous.

--------------------------------
Evan Drumwright
Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Thu, Feb 2, 2017 at 7:18 AM, David German <notifications@github.com>
wrote:

[2017-02-02 15:41] #4774 closed

[2017-02-02 15:42] david-german-tri commented on #4497
It's up!

[2017-02-02 15:42] #4497 closed

[2017-02-02 16:53] soonho-tri commented on #5019
Does it evaluate a given `Expression` under the current solution assignment?

[2017-02-02 17:21] hongkai-dai commented on #5019
Yes, that is the plan.

[2017-02-02 17:48] david-german-tri opened #5022 "Update Bazel CI matrix"
From f2f discussion, as the Bazel build gets more comprehensive, we need more CI:

In **nightly production**, we should have the full product of all of the following binary variables on Xenial and Trusty:

* clang/gcc
* debug/release
* open-source/everything

We should also have four builds on OS X spanning debug/release and open-source/everything.

In **continuous production**, we should have the

[2017-02-02 17:52] david-german-tri commented on #5022
The proprietary build (SNOPT in particular) will also require upgrading to Bazel 0.4.3 per #5020.

[2017-02-02 22:28] BetsyMcPhail commented on #5022
## Nightly Production
### Already Exist
linux-xenial-clang-bazel-nightly-debug
linux-xenial-clang-bazel-nightly-release
linux-clang-bazel-nightly-debug
linux-clang-bazel-nightly-release
linux-xenial-gcc-bazel-nightly-debug
linux-xenial-gcc-bazel-nightly-release
linux-gcc-bazel-nightly-debug
linux-gcc-bazel-nightly-release
mac-clang-bazel-nightly-release
### Need to Add
linux-xenial-clang-bazel-nig

[2017-02-03 00:10] soonho-tri opened #5033 "Move Variable/Variables/Environment back to symbolic namespace"
/cc @hongkai-dai @sherm1 @RussTedrake

[2017-02-03 00:11] soonho-tri opened #5034 "Refactor symbolic::Expression"
- Use `expr` instead of `exp` for `Expression`s.
 - Use `expnt` instead of `exp` for exponents.
/cc @hongkai-dai

[2017-02-03 00:13] sherm1 commented on #5033
Thanks, @soonho-tri!

[2017-02-03 00:26] liangfok opened #5036 "Add screenshot visualization of collision model in model.rst"
https://reviewable.io/reviews/RobotLocomotion/drake/4997#-KbrOMmRW5JigjlYIVPl

[2017-02-03 01:23] hongkai-dai opened #5037 "adding cddlib to externals"
This library is available in https://www.inf.ethz.ch/personal/fukudak/cdd_home/. It is used to compute the two representations of a polyhedron, either using vertices (V representation) or halfspaces (H representation).

@rdeits uses it for IRIS, and I will use it for computing the Newton polytope in sum-of-squares optimization.

[2017-02-03 01:24] sherm1 commented on #4448
Looks good. A few comments:
- Could the arguments be `Eigen::Ref` rather than `Eigen::VectorBlock`s? I believe that would still be happy with VectorBlocks but would allow more general arguments also. Could be good for testing at least.
- I think a `VectorBlockX<T>` would be a nice addition to our alias collection and wouldn't obscure anything.

[2017-02-03 13:19] RussTedrake commented on #5036
the matlab drake visualizer had a flag that flipped from sending the visual geometry for collision geometry.  would be trivial to do that in the c++ drake visualizer, too.

[2017-02-03 13:22] RussTedrake commented on #5037
it looks like cddlib is GPL.  is this license going to get in the way?  @jwnimmer-tri ?

[2017-02-03 14:07] amcastro-tri commented on #3614
+1 for `ContiguousVector`. I remember my confusion at the beginning when they were just introduced. The fact that "Basic" and "Base" sound so similar would make me think twice about which was which.
If we rename `BasicVector` to `ContiguousVector`, would it be a good idea to rename `Supervector` to something like `CompoundVector` or something that reflects the fact that it is not contiguous but a

[2017-02-03 15:11] liangfok commented on #5037
@sherm1's statement here is relevant: https://github.com/RobotLocomotion/drake/issues/3178#issuecomment-241087827

[2017-02-03 15:30] rdeits commented on #5037
That's highly unfortunate. I may need to modify iris to comply or to remove cddlib.

[2017-02-03 15:46] liangfok commented on #5037
Or perhaps contact the `cddlib` authors  to see if they're willing to issue a different license like MIT or BSD.

[2017-02-03 17:24] liangfok opened #5044 "Should not require manual creation of VTM and VTP textures."
Currently, one must manually convert a texture to VTM / VTP format for it to show up in Drake Visualizer. We should update Drake / Drake Visualizer to not require manual conversion!

Please review models.rst after making any changes for this issue. [--Lucy]

[2017-02-03 17:27] liangfok commented on #5044
In the past for HSRb, I used the following modified converter:

https://github.com/liangfok/oh-distro/commit/b94870367180791431ebb152f9d2ff83439b5962

[2017-02-03 18:10] hongkai-dai commented on #5037
qhull (http://www.qhull.org/) is under MIT license https://github.com/bjnortier/qhull/blob/master/LICENSE, we can potentially use it instead of cddlib.

[2017-02-03 19:00] RussTedrake commented on #4260
i consider this discussion resolved.  will continue to reference it as we fill out the implementation.

[2017-02-03 19:01] #4260 closed

[2017-02-03 19:02] RussTedrake commented on #3711
won’t fix.  aim is to replace this with a c++ version.

[2017-02-03 19:02] #3711 closed

[2017-02-03 19:04] #5034 closed

[2017-02-03 19:26] RussTedrake commented on #3313
won’t fix.   will be replaced by c++ versions.

[2017-02-03 19:26] #3313 closed

[2017-02-03 19:28] RussTedrake commented on #3149
i believe these have been disabled and will not be fixed (in the matlab versions)

[2017-02-03 19:28] #3149 closed

[2017-02-03 19:31] RussTedrake commented on #3088
Despite having it mostly resolved in a branch, I think this is probably best left to MBTree.  I will close this.  But fyi @amcastro-tri.

[2017-02-03 19:32] #3088 closed

[2017-02-03 19:33] RussTedrake commented on #2612
There is new discussion, since you sent this… including an feature update that landing in director from @rdeits , and a more generic rendering interface for drake coming from @david-german-tri.

Assigning to david to make the connection.

[2017-02-03 19:38] david-german-tri commented on #4448
:lgtm: cool!

[2017-02-03 19:44] soonho-tri opened #5045 "Add drake::hash_value<symbolic::Monomial>"
So that @hongkai-dai can use `std::unordered_map<Monomial, double>` to represent `Polynomial`.

[2017-02-03 19:44] soonho-tri opened #5046 "Add Monomial::Evaluate"
/cc @hongkai-dai

[2017-02-03 19:44] soonho-tri opened #5047 "Add Monomial::Substitute"
/cc @hongkai-dai

[2017-02-03 19:47] #4877 closed

[2017-02-03 19:49] hongkai-dai opened #5048 "Add Symbolic::Polynomial class"
This class should store a map `unordered_map<Monomial::ID, double>` monomial_to_coeff_map_. It should support following functions

1. Return the degree of the polynomial.
2. Return the degree of the polynomial for a subset of variables.
3. Return the Newton polytope.
4. Return the set of variables in the polynomial.

[2017-02-03 20:06] hongkai-dai commented on #5037
qhull is not under MIT license, sorry.

[2017-02-03 21:09] #5033 closed

[2017-02-03 21:15] sherm1 commented on #3614
That would give us:
[code]
which does seem like an improvement. Does Subvector need a new name also?

[2017-02-03 21:17] david-german-tri commented on #3614
I'm not sure I like the `Supervector` -> `CompoundVector` change.  We want to rename `BasicVector` because it's too easily confused with `VectorBase`.  What's the motivation for renaming `Supervector`, or `Subvector` for that matter?

[2017-02-03 21:26] sherm1 commented on #3614
Feature creep!

[2017-02-03 21:28] sherm1 commented on #3614
Good point, David. Back to:
[code]
Is that the winner?

[2017-02-03 21:33] amcastro-tri commented on #3088
Thank you Russ. Added to the feature list in #5013

[2017-02-03 22:52] #5037 closed

[2017-02-03 22:54] hongkai-dai opened #5052 "add qhull to externals"
It is available from https://github.com/qhull/qhull, and we can use it as long as we do not modify it

[2017-02-04 00:09] hongkai-dai commented on #5048
The current design on `Monomial` is that we have an internal class to represent a monomial, and a function exposed to the user, that can construct a monomial, and the constructed monomial is a `symbolic::Expression` object, the code is like the following
[code]
The problem with this design is that `Monomial` class is not exposed to the user. The user only gets a `symbolic::Expression` object. If w

[2017-02-04 12:41] RussTedrake commented on #3614
I am not sure I'd understand "Supervector" without further context.  Subvector is clear (although Eigen calls it VectorBlock).  I admit that I dislike the fact that the V in vector is caps sometimes.. it means I'll almost certainly type it incorrectly for a while.

[2017-02-05 03:30] RussTedrake opened #5058 "(legitimate) compilation error on libbot2"
not sure how we never hit this before
[code]

bot2-frames is clearly depending on these messages:
https://github.com/RobotLocomotion/libbot2/blob/master/bot2-frames/src/bot_frames.c#L25

but they are defined in bot_core_lcmtypes (which depends on libbot, and therefore is built after libbot).  Seems like a clear circular dependency to me.  Am I missing something?

The relevant repos haven't changed

[2017-02-05 03:37] patmarion commented on #5058
not sure about your error, but I can tell you that libbot does not depend on bot_core_lcmtypes, and bot_core_lcmtypes does not depend on libbot.

[2017-02-05 03:40] RussTedrake commented on #5058
not according to https://github.com/RobotLocomotion/drake/blob/master/CMakeLists.txt#L230 and the link in my post (in which libbot clearly depends on the type which is defined in bot_core_lcmtypes?)

[2017-02-05 03:45] patmarion commented on #5058
Libbot has all the lcmtypes it needs to compile by itself.  bot_core_lcmtypes is a standalone repo of lcmtypes and duplicates some lcmtypes from libbot.

[2017-02-05 03:52] RussTedrake commented on #5058
ok.  confirmed that libbot2 has a copy of those messages, too.  will do some more digging.

[2017-02-05 04:01] RussTedrake commented on #5058
ok.  i  think the problem is simply what is pointed out in the warnings: there is an extra `Debug` that is being appended to the library path.  `/Users/russt/drake-distro/build/externals/libbot/bot2-frames/lib/Debug/Debug` does not exist, but `'-L/Users/russt/drake-distro/build/externals/libbot/bot2-frames/lib/Debug` does exist (and contains the missing library).

Sigh.  Probably xcode-specific.

[2017-02-05 04:02] RussTedrake commented on #5058
Thanks @patmarion

[2017-02-06 01:51] liangfok commented on #4034
https://drake-jenkins.csail.mit.edu/job/linux-xenial-clang-ninja-experimental-open-source/308/

[2017-02-06 07:32] hongkai-dai commented on #5048
@RussTedrake and @soonho-tri, what do you think?

[2017-02-06 13:46] RussTedrake commented on #5048
I'm a little confused.  My understanding is the polynomial class in drake/common/polynomial.h was originally intended to serve as a first-class citizen scalar type in drake (along with double, autodiff, ...).  But that we have now decided that there are only to be three first-class scalar types in drake (double, autodiffxd, and symbolic expression).  The system classes only need to support these t

[2017-02-06 14:50] david-german-tri commented on #2612
@wxmerkt

The interface I'm developing will transmit just the scene graph.  It's perfectly reasonable to control the renderer camera from Drake, but it's not part of my goals.

If I'm understanding RobotLocomotion/director#280 correctly, you plan to send control messages on a separate `DRAKE_VIEWER_COMMAND` channel, with their own LCM type(s).  I think that's great, and our work will neither confl

[2017-02-06 15:32] edrumwri commented on #3614
Russ makes good points with regard to immediately understanding the
semantics of supervector and with respect to consistency of capitalization.
I think these are second order issues compared to renaming BasicVector.

--------------------------------
Evan Drumwright
Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Sat, Feb 4, 2017 at 4:41 AM, Russ Tedra

[2017-02-06 15:46] david-german-tri commented on #3614
I agree with Evan.  Just to reiterate, I expect that only users who are aggressively rummaging under the sofa cushions will ever need to type `Supervector` or `Subvector`.  For that matter, most Drake core devs won't encounter them.

[2017-02-06 16:06] mwoehlke-kitware commented on #5058
It ["does"](https://github.com/RobotLocomotion/drake/blob/master/CMakeLists.txt#L231 ); per the comment, that is just for ordering so that they don't both try to concurrently create an LCM types library with the same name. You might even say it's an "anti-dependency" :slightly_smiling_face:.

Given this appears related to multi-config generators, that's probably the case... (Well, specific to mult

[2017-02-06 16:11] patmarion commented on #5058
Yup, which I have documented here (on the old repo url): https://github.com/RobotLocomotion/libbot/issues/20

Would love to see that issue resolved in some way, it's an ugly one.

[2017-02-06 16:20] edrumwri commented on #3614
Right! I have used VectorBase and BasicVector extensively, even adding some
functionality to them, and have yet to touch Supervector or Subvector.

--------------------------------
Evan Drumwright
Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Mon, Feb 6, 2017 at 7:46 AM, David German <notifications@github.com>
wrote:

[2017-02-06 17:34] hongkai-dai commented on #5048
@RussTedrake

That is also my understanding.

That is where I am not so sure, whether we want to create a special Polynomial class. I think this is related to how we represent the polynomial class internally, if we were to create a Polynomial class. I can think of two internal representations

1. A map `map<Monomial, double> monomial_to_coeff`. If we want to use this representation, then what we h

[2017-02-06 19:21] jwnimmer-tri commented on #4448
Interesting.  So we have two options.  (Assume for each that we could add typedefs for shorter syntax.)

Option 1:
[code]

Option 2:
[code]

I will work on a pro / con list for the two choices.

[2017-02-06 20:51] rdeits opened #5069 "Getting active set from a mathematicalprogram solution"
@hongkai-dai is it possible to retrieve the active set of linear inequalities from a QP in MathematicalProgram? I believe gurobi exposes that information, but I couldn't figure out if it was possible to access from the MathematicalProgram interface.

[2017-02-06 20:58] hongkai-dai commented on #5069
No we do not have that capability yet.

[2017-02-06 21:20] jwnimmer-tri commented on #4448
1. Both types disallow resizing across `operator=` and direct `resize` calls (for both, it fails at runtime in Debug mode only).
2. Both types have the weird double-const pattern that will have to bleed into any typedefs we offer (because both options use wrapped-reference semantics).
3. Both types are (I think) cheap to copy.
4. In the two options above, I've had `output` sometimes a pointer or s

[2017-02-06 21:40] rdeits commented on #5069
covered in #4508

[2017-02-06 21:40] #5069 closed

[2017-02-06 21:57] RussTedrake commented on #5048
The problem with having a separate class is that we have two sets of methods to maintain for symbolic operations.  Things like simplification are in symbolic::Expression, but not yet in Polynomial, etc.

All of those methods seem reasonable to add to a class that derives from symbolic::Expression.  But @soonho-tri knows best.

[2017-02-06 21:57] hongkai-dai opened #5071 "add open-source QP solvers"
per discussion with @edrumwri , we should consider moby, quadprog++, etc.

[2017-02-06 21:59] hongkai-dai commented on #5048
I get the first version of computing degrees of polynomial from symbolic::Expression class. I think I do not need to create a separate special purpose Polynomial class.

[2017-02-06 22:27] david-german-tri opened #5072 "Promote Parameters from LeafContext to Context"
Contrary to my original belief, there are a few reasons we might want to reason about Parameters independent of a particular LeafSystem's semantics.  One of these is to measure symbolic sparsity.

I vaguely recall that @jadecastro had some other reasons.

[2017-02-06 22:53] sherm1 commented on #4448
I don't think Ref is suitable as a function return when a segment() or block() of a larger object is being returned since there would be no object available for it to reference. So I *think* we would want Blocks as returns and Refs and parameters. But I lack certainty!

[2017-02-06 22:56] jwnimmer-tri commented on #4448
Both `Ref` and `Block` are aliases into pre-existing storage and are identical with respect to that concern.

[2017-02-06 23:55] sherm1 commented on #4448
Block has members `m_startRow`, `m_startCol`, and `m_outerStride` as well as the reference (`m_xpr`) to the underlying object.  Ref has `m_data`, `m_rows/cols`, and stride info. For a block, m_data has to point somewhere into the middle of the referenced object rather than to the object itself. In that case I *think* a subsequent attempt to make a sub-block would fail because the column spacing wo

[2017-02-07 00:04] jwnimmer-tri commented on #4448
... that seems to not apply for `VectorXd` though, which is all we use in the framework?

[2017-02-07 00:35] sherm1 commented on #4448
I think that's right. But ... I suppose the same argument applies to alignment. Block maintains the alignment since it refers to the original object. Ref's data starts at an arbitrary offset. But then maybe Ref is more efficient if alignment is not helping: Block's accessors presumably modify indices and then invoke the original object's accessors. Ref goes directly to the raw data. Hard to say wh

[2017-02-07 02:13] siyuanfeng-tri commented on #5071
i have used an eigenfied version of quadprog++ in the past.

[2017-02-07 02:47] jefesaurus opened #5078 "Questions about linearApproxHJB.m"
@RussTedrake Looks like you added this a few years ago: https://github.com/RobotLocomotion/drake/blob/master/drake/matlab/systems/dev/linearApproxHJB.m -- Did you ever get it working? I don't  understand most of the math, but from the comments it seems like it is setting up a equations between mesh points, sample points and interpolation weights in the first loop and then the lower loop is some gr

[2017-02-07 11:42] wxmerkt commented on #2612
@david-german-tri Thanks for the update! Yes, I added some extra enums to the message and corresponding control commands (e.g. https://github.com/RobotLocomotion/director/compare/master...openhumanoids:wxm-extend-drake-visualizer-remote-addressing-280). I'll likely switch to the new viewer and happy to wait and follow how it develops. Happy to close this issue - please keep me posted when the new

[2017-02-07 12:37] RussTedrake commented on #5078
Yes - I believe i got this in and working (probably the night before a lecture), but it's likely that something else has broken it since it wasn't covered by CI.

This is the natural implementation of "fitted value iteration" (motivated by td learning with function approximators) for continuous systems as described in the header.

Moving the dynamics programming examples like this to C++ is on my

[2017-02-07 13:59] jadecastro commented on #5072
Yeah, it fits well in the realm of parameter-varying systems, where the parameters for a given system are allowed to evolve according to some external process. A simple example of this is linearization of some nonlinear system (where the equilibria can vary with time and are not described by the linearized dynamics).

[2017-02-07 14:23] soonho-tri commented on #5048
I agree.

Here are my thoughts:

 - Please note that we added `Polynomial ToPolynomial(const Expression&)` because `Expression` doesn't have `Expand` method while `Polynomial` supports it at construction. We wanted to take a shortcut by using `Polynomial`. I'll implement `Expression::Expand` method.

 - Q: Do we want to expand `p1 * p2` at construction where `p1` and `p2` are `symbolic::Expression

[2017-02-07 14:30] liangfok opened #5081 "Unable to start drake-visualizer on OSX"
I'm not sure when this started, but I just noticed this morning that I'm unable to start `drake-visualizer` on my OSX machine.

# The Error

[code]

The missing library exists:

[code]
Thus, I wonder if it's an `rpath` issue.

[2017-02-07 14:42] liangfok commented on #5081
@david-german-tri I assigned this to you in the hopes that you would know who to best reassign it to.

[2017-02-07 15:28] david-german-tri commented on #4448
To the best of my recollection, this was my original thinking as well.  I'm not deeply committed to it, but would also rather not churn a bunch of code without a compelling reason.

[2017-02-07 15:32] RussTedrake commented on #5048
If I understand “expand”, then whether to expand on construction or not seems like an implementation detail (albeit an important one).  But presumably we do need to be able to get correct answers to all of the polynomial questions, either by recursing through the symbolic::Expressions or by having the expanded polynomial available locally?

[2017-02-07 15:37] david-german-tri commented on #5081
Please start by root-causing it yourself using `otool -L`, print statements in the CMake, and so on.

[2017-02-07 15:50] RussTedrake commented on #5072
Parameter estimation seems like another clear example.  There are generic tools for this (e.g. take the gradient of the dynamics with respect to the parameters, and update in that direction) that need not understand LeafSystem semantics to be used.

[2017-02-07 17:14] soonho-tri commented on #5048
Correct.

That is correct as well.

[2017-02-07 17:19] soonho-tri commented on #5048
@hongkai-dai and I just had a video-chat. Here are outcomes from the discussion:

 - We agreed that it's better to use `symbolic::Expression` to represent a polynomial. We won't have a separate class for a polynomial.
 - I'll implement `Expression::Expand` method but this will not be called by the time an expression is constructed. For example, `e1 * e2` won't be expanded, neither `pow(e1, e2)`.

[2017-02-07 17:43] jwnimmer-tri commented on #5034
`expnt` is not an allowed abbreviation per cppguide (can't omit letters in the middle of a word).

[2017-02-07 17:48] liangfok opened #5085 "Unable to View Body Frames in Drake Visualizer"
# Problem Definition

We are currently unable to view body frames using Drake Visualizer, as shown below:

![unable_to_view_body_frame](https://cloud.githubusercontent.com/assets/1388098/22703905/c0453fac-ed33-11e6-9431-a04e8f4fe0e3.png)

In the [past](https://github.com/RobotLocomotion/drake/issues/1714#issuecomment-193809869), we were able to view them, as shown below (the screenshot was taken i

[2017-02-07 17:49] liangfok commented on #5085
@patmarion I assigned this to you in the hopes that you would know what happened. Please free to re-assign if you don't have time to restore this functionality.

[2017-02-07 17:53] patmarion commented on #5085
frame visualization was removed with this PR:  https://github.com/RobotLocomotion/director/pull/362

it was removed because there was a slowdown associated with drawing 1000s of frames at high rate.  the feature could be added back and implemented in a way to avoid the slowdown.  I'd be happy to advise if you want to work on it.

[2017-02-07 17:56] rdeits opened #5086 "Incorrect detection of non-linear constraint"
I'm trying to add a constraint to a MathematicalProgram, but I'm getting an error when checking the expression for linearity:

[code]

gives:

[code]

even though the expression is actually linear.

[2017-02-07 17:57] liangfok commented on #5085
@patmarion Thanks for the quick response! This feature is not urgently needed right now. I'll close this issue and re-open it once it's urgently needed, at which time we'll probably come looking for your advice.

[2017-02-07 17:57] #5085 closed

[2017-02-07 17:58] hongkai-dai commented on #5086
Thanks, I will work on this.

[2017-02-07 17:59] rdeits commented on #5086
thanks! :smile:

[2017-02-07 18:01] hongkai-dai commented on #5086
@soonho-tri is working on `Expand()` that expands a symbolic expression. I will try to provide a quick solution, to recursively extract the linear coefficients and constant from a symbolic expression. I think eventually we will just migrate to using `Expand()`.

[2017-02-07 18:02] hongkai-dai commented on #5086
A quick fix is not to use parenthesis in your expression. I think
[code]
should work

[2017-02-07 18:05] soonho-tri opened #5087 "Add Expression::Expand"
Related issue: #5086, #5048.

[2017-02-07 18:05] soonho-tri commented on #5087
/cc @hongkai-dai

[2017-02-07 18:05] rdeits commented on #5086
Ok, thanks. Removing the parentheses does work.

[2017-02-07 19:58] siyuanfeng-tri opened #5091 "Visualize contact related information"
Both the dynamics and robot people want to visualize what's going on with contacts, in particular, we want to see the contact positions + normal to start. We also want to be able to see the actual force being applied.
It would be extra nice to have the interface general enough to support similar information from different sources (sensors, controller output, etc) other than RBP.

@patmarion @liang

[2017-02-07 20:01] patmarion commented on #5091
cc @rdeits

[2017-02-07 20:02] liangfok commented on #5091
This is related to https://github.com/RobotLocomotion/drake/issues/1908

[2017-02-07 20:03] liangfok commented on #5091
I wonder if GeometryWorld would play a role in terms of aggregating the contact state among everything in the simulation and providing this information to an LCM publisher that sends it to Drake Visualizer.

[2017-02-07 20:09] jwnimmer-tri commented on #5091
My general advice would be to publish the detail outputs you want directly as a specific message for that port (e.g., the `contact_results_output_port` port of RBP), and then add code in Director to render that message in the way you want to see it.  I advise against trying to generalize a solution beyond that simple pattern.  To my estimation, there isn't that much code that would be shared throu

[2017-02-07 20:17] siyuanfeng-tri commented on #5091
fair enough.

[2017-02-07 20:21] patmarion commented on #5091
note, director also has general purpose lcm messages for drawing.  So there are two strategies, and it sounds like @jwnimmer-tri is recommending the first one if I'm not mistaken.

1. in drake c++, publish custom data messages.  in drake-visualizer, add custom lcm subscribers to to receive and implement drawing logic

2. in drake c++, interpret data and publish drawing messages.  nothing to be add

[2017-02-07 20:29] jwnimmer-tri commented on #5091
I have also done option 2 in the past for basic geometry (e.g., "draw the planned trajectory's projection onto the xy plane as a blue polyline") -- but for rich information that will be durable (which seems like contact and sensors fits into) I highly recommend making the visual representation choices in a high-level language like Python in Director via option 1.  It will offer a rich vocabulary o

[2017-02-07 20:32] siyuanfeng-tri commented on #5091
just a random concern.
if i publish contact related stuff fin a separate lcm channel, presumable, it can get out of sync with the state that's being rendered?
if i want to keep them synced, what's the best way to do it? have them in one message? the contact message also contans q, qd, and overwrites the other?

[2017-02-07 20:34] liangfok commented on #5091
Since the underlying transport is UDP, I believe they can can out of sync or the packet could get lost, but the probability is low.

What about including a time stamp in the message? Would that allow Director to keep the visualization
 in sync?

[2017-02-07 20:43] jwnimmer-tri commented on #5091
@liangfok UDP loss is a non-issue.

@siyuanfeng-tri Well, honestly I think the long-term answer is to use protobufs and then Magic Happens (I can explain more but not in this thread, at least not right now.)

For now though, is it truly a problem to have the poses and contact visualizations unsynced at the timescale that can actually occur in practice?  If not, then you're done.  If yes, then on t

[2017-02-07 20:45] siyuanfeng-tri commented on #5091
@jwnimmer-tri most likely now, but when you pause at the wrong moment and zoom in so much, and the contact ball is hanging off some surface, you start wondering what's really going.

[2017-02-07 20:45] jwnimmer-tri commented on #5091
In that case, pause could be made in-band timestamp aware pretty easily, I think?

[2017-02-07 20:47] david-german-tri commented on #5091
Since no one else has explicitly said it: please don't duplicate information across messages.  Duplication is even more painful in protocols than it is in logic.  :+1: for all suggestions that amount to "use the timestamps as much as you need to".

[2017-02-07 22:05] Lucy-tri opened #5092 "controlled_iiwa_world_demo does not knock down all targets"
The controlled_iiwa_world_demo has comments indicating that it knocks down all 3 cylinders on it's table, however, when I built, it only knocked down the center cylinder.

Consider creating a test that each cylinder is in fact knocked over (perhaps check their final resting place at the end of the simulation run).
Sam duplicated this with cmake, I built using Bazel.

[2017-02-07 22:23] #5048 closed

[2017-02-07 23:35] david-german-tri opened #5094 "Find a neater way to read text-format protobufs"
#5014 uses `fnctl.h` to obtain a raw file descriptor, and passes the file descriptor into `google::protobuf::io::FileInputStream`.  I strongly suspect there's a better answer within `google::protobuf` somewhere.  If so, we should find and use it.  If not, we should wrap the file-descriptor approach in a helper class.

[2017-02-08 00:27] liangfok opened #5096 "Move All CompareToClone() Methods Into Test-Only Code"
See: https://reviewable.io/reviews/robotlocomotion/drake/4958#-KcPp5CPEjY7xHrKgKPL

**TODO:**
- [x] rigid_body.h/.cc
- [x] rigid_body_frame.h/.cc

[2017-02-08 00:35] jwnimmer-tri commented on #5091
To be clear, my posts above are my opinions from experience.  There are plenty of good ways to get the job done, and I don't mean to object to a motivated developer solving it one way or another; my goal is only to offer help and advice.

[2017-02-08 00:46] jwnimmer-tri opened #5097 "Document SimpleCarConfig parameter meanings and units"
The `doc` elements in [simple_car_config.named_vector](https://github.com/RobotLocomotion/drake/blob/master/drake/automotive/simple_car_config.named_vector) should become meaningful.

[2017-02-08 00:47] jwnimmer-tri commented on #5097
@rpoyner-tri Do you want to take a pass at this?

[2017-02-08 00:48] jwnimmer-tri commented on #4908
Maybe close this until it happens so much as to be worth root causing?

[2017-02-08 00:50] jwnimmer-tri commented on #4556
With #2482 closed, I wonder if this issue has an updated disposition?

[2017-02-08 00:54] jwnimmer-tri opened #5098 "Improve CDash reporting of Bazel-run unit tests"
When CI runs Bazel tests, it posts the results to the dashboard in such a way that the usual mechanism for clicking through directly to test failure outputs is not specific (it usually just gives the entire log, if I recall correctly).  It would be nice to have only the specific failing tests' output.

[2017-02-08 01:02] jwnimmer-tri commented on #5098
Possibly there is a good integration seam using https://github.com/bazelbuild/dash, where the Bazel dash APIs could be terminated into something that emits CDash input files or even a direct http-to-http translation (if I understand the tools correctly).

[2017-02-08 01:38] liangfok commented on #4556
I will retest tomorrow using my workstation in CAM2, which was used to replicate the test described above.

[2017-02-08 01:39] liangfok commented on #4908
Agreed.

[2017-02-08 01:39] #4908 closed

[2017-02-08 02:16] jefesaurus commented on #5078
Okay, I just built the repo from 2014, and found the same results as I do currently. I think I'll try the MDP approximation to continuous-state value iteration update you suggest in 9.4.2 of http://underactuated.csail.mit.edu/underactuated.html?chapter=9

Seems a little bit simpler to try out in C++

[2017-02-08 14:53] amcastro-tri commented on #5096
Is it really worth spending your energy on this @liangfok? remember this is just part of a sprint to get some partial support for RigidBodyPlant templated on AutoDiffScalar.

[2017-02-08 14:56] liangfok commented on #5096
@david-german-tri asked that it be done. His explanation is given in the link in this issue's description. I've copy/pasted it below:

That being said, I will set the priority of this issue to be backlog since `RigidBodyPlant` will soon be supplanted by `MultiBodyWorld` (or was it called `MultiBodyPlant`?) in the near future.

[2017-02-08 15:00] jwnimmer-tri commented on #5096
If we are going to invest in Clone on RBT in order to support actual current work, then we need to do it correctly so as to sustain the work.  We can't ignore or indefinitely delay fixing defects.  I remain unconvinced that RBT Clone is a worth project, but others think it is, so let's do it right!

[2017-02-08 15:03] liangfok commented on #5096
Alright. I'll upgrade the priority a bit.

[2017-02-08 16:50] david-german-tri opened #5103 "Cull the Trusty CMake pre-merge builds"
At this point, we only really need the following four CMake pre-merge builds on Trusty:

* cpplint
* ROS
* matlab
* clang-debug

cc @jamiesnape

[2017-02-08 16:53] liangfok commented on #5081
I did a clean build of Drake using SHA aab61e89c25d95171d9c14cca7a2745e32f70a94 and observed slightly different behavior. I'm able to start Drake Visualizer using the following commands:

[code]

However, I'm unable to start Drake Visualizer using the following commands:

[code]

[2017-02-08 17:12] david-german-tri commented on #5098
@jamiesnape and I also discussed this f2f today.  It isn't top priority but would definitely make everyone's life a little easier.

[2017-02-08 17:51] jwnimmer-tri commented on #5098
Agreed on both points.

I also like it because it would also be a nice give-back to the open-source community, assuming we can upstream it somehow (and I would support doing so).

[2017-02-08 17:55] david-german-tri opened #5104 "Bazel "linkstatic" should be de-boilerplated"
We should zap `linkstatic = 1` throughout Drake, then add back the ones that are actually necessary, with explanatory comments.

[2017-02-08 18:06] david-german-tri commented on #5104
From f2f with @jwnimmer-tri: On `cc_library` rules, `linkstatic = 1` spares us the cost of compiling twice.  That's useful, so we should just move it inside the `drake_cc_library` macro, now that we have one.

Longer-term, we might consider generating PIC, at which point Bazel could produce a `.so` and a `.a` without compiling twice, and we might then want to turn `linkstatic` off again.

This ent

[2017-02-08 19:07] Lucy-tri opened #5105 "Bazel errors do not appear in CDash"
This build has errors:
https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-gcc-bazel-continuous-debug/381/
The problem is that if you click on "View in CDash" then click on the build errors, 4 errors are shown, but none of them are actually errors (they are warnings) and none of them point to the true error which you can see in the Console Output:
`//drake/examples/schunk_ws

[2017-02-08 19:10] jamiesnape commented on #5105
They are test failures. CDash previously only displayed build errors.

[2017-02-08 19:11] jamiesnape commented on #5105
See https://github.com/RobotLocomotion/drake-ci/commit/05698bcc2225f5a2baaf958a39b8c66f183ee638.

[2017-02-08 19:13] #4879 closed

[2017-02-08 21:59] jamiesnape commented on #5105
https://drake-cdash.csail.mit.edu/viewBuildError.php?buildid=376028

[2017-02-08 22:18] david-german-tri commented on #5105
Nice!

[2017-02-08 22:18] #5105 closed

[2017-02-09 14:31] jwnimmer-tri commented on #5000
This is gradually increasing in priority; bumping up the label accordingly.

[2017-02-09 14:37] jwnimmer-tri commented on #4998
See #3346 for discussion on stopping a simulation.  If the Monitor system has state (into output) that represents "When did this fail", guarded by the events system, then we don't need to teach the Simulator about anything else.  You just clock it with `Step` calls in your main loop, and your main loop can ask the Monitor if anything tripped yet.

[2017-02-09 14:43] jwnimmer-tri commented on #1759
@liangfok I think that priority should represent the priority that we will treat it with, not the priority that it is being requested with.  As such, I think "backlog" more accurately expresses that we are not going to work on it soon.

[2017-02-09 14:49] jwnimmer-tri commented on #2256
Ditto per #1759 comment -- I still advocate for "backlog" here.

[2017-02-09 15:06] Lucy-tri opened #5112 "Jenkins' build links assume RobotLocomotion/drake when it's drake-ci."
If a build fails, Jenkins has a page describing the changes that triggered that build, with links to the Github commit. For example:
https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-gcc-bazel-continuous-debug/388/

If the commit was in drake-ci, then the link won't work because the link was constructed assuming the commit was to  RobotLocomotion/drake. The above link show

[2017-02-09 15:21] jwnimmer-tri opened #5113 "Implement MOBIL lane-change model"
Implement the MOBIL lane-change model, likely by integrating it into one of the multi-lane simulations that are on the way soon.

[2017-02-09 15:23] jwnimmer-tri commented on #4990
Let's keep this issue about just the first spiral -- having a demo up and running, with either bonehead or IDM cars.  The SimpleCar can drive around and lane-change, but the agents don't have to.

I've filed #5113 about MOBIL as a possible second step.

[2017-02-09 15:31] jadecastro commented on #4998
Good call. I think what you mean by a "when did this fail" state is some function over state that's locally smooth about zero and can be subsumed by the event handler (which we now support)? If so, I'm onboard.

[2017-02-09 15:36] jwnimmer-tri commented on #4998
Yes I agree and that's true, but not precisely what I meant.

To me it sounded like people thought we needed to stop the simulation exactly when the failure happened, so that we know what time we failed.  My point is that if simulated time overshoots the failure by 100ms we don't care, because we've noted the exact time at which it failed.

[2017-02-09 15:43] jwnimmer-tri opened #5115 "Add demo of an on-ramp merge"
Add demo of a simple on-ramp merge, based on monolane.

[2017-02-09 15:44] jwnimmer-tri opened #5116 "Maliput design doc"
Update and publish the Maliput design document into the Drake source tree.

[2017-02-09 16:12] jadecastro commented on #4998
If I'm understanding correctly, you're making a distinction between "major time steps" where the events happen, like terminating the sim, and "minor steps" where we can log the "constraint-satisfaction" output of the Monitor.  So your point is, we can take advantage of the granularity of these minor steps, to hone in on when the "constraint-satisfaction" output actually said there had been a viola

[2017-02-09 17:19] #5097 closed

[2017-02-09 18:14] hongkai-dai opened #5118 "Refactor convex_optimization_test"
Separate the tests on Gurobi and Mosek, such that there is one test for Gurobi, and another test file for Mosek.

[2017-02-09 18:15] hongkai-dai commented on #5118
cc @david-german-tri

[2017-02-09 18:26] BetsyMcPhail commented on #5103
Trusty pre-merge:
linux-clang-experimental-debug
linux-cpplint-experimental
linux-gcc-experimental-matlab
linux-gcc-experimental-ros

Xenial pre-merge:
linux-xenial-clang-experimental
linux-xenial-clang-experimental-debug
linux-xenial-cpplint-experimental
linux-xenial-gcc-bazel-experimental

[2017-02-10 00:34] #5091 closed

[2017-02-10 12:14] RussTedrake commented on #4998
my two cents -- I hope #3346 is only a short-term solution.  per the description in that issue, i believe sherm is onboard with event-handling in the simulator allowing an abort.

one hope is that everyone eventually writes requirements for nearly every use of the simulator (so that examples have test value).  so #3346 would effectively void the StepTo( > dt) interface and have everyone writing th

[2017-02-10 15:34] sherm1 commented on #4998
Yes, see #4447.

[2017-02-10 18:58] liangfok opened #5128 "Add a Dragway Factory To Simplify the Public API and Hide Details"
Quotes from #5038:

From @maddog-tri:

From @jwnimmer-tri:

[2017-02-10 19:34] david-german-tri commented on #4464
After a really epic onramp failure today, I'm reopening this.

[2017-02-10 20:15] #4920 closed

[2017-02-10 20:15] david-german-tri commented on #4464
https://github.com/bazelbuild/bazel/issues/1143 is an obstacle.

[2017-02-10 20:15] BetsyMcPhail commented on #5103
Jenkins has been updated as described above.

[2017-02-10 20:15] #5103 closed

[2017-02-10 20:42] BetsyMcPhail commented on #5022
The following nightly jobs have been added to Jenkins:

linux-xenial-clang-bazel-nightly-everything-debug
linux-xenial-clang-bazel-nightly-everything-release
linux-clang-bazel-nightly-everything-debug
linux-clang-bazel-nightly-everything-release
linux-xenial-gcc-bazel-nightly-everything-debug
linux-xenial-gcc-bazel-nightly-everything-release
linux-gcc-bazel-nightly-everything-debug
linux-gcc-bazel

[2017-02-10 22:01] liangfok opened #5132 "Create a "Dynamics Team Style Guide" For Simulation Parameters"
The motivation for this issue is based on @amcastro-tri's comment here:

https://reviewable.io/reviews/RobotLocomotion/drake/4958#-KcTF7cRY_Rc5LezcAMX

Key quote:

I think formally documenting rules that capture hard-earned wisdom like the above will be of great benefit to anyone who wants to use Drake.

[2017-02-10 22:41] jwnimmer-tri commented on #5132
For the record, I don't see in that code how "not following the style guide" comes into play.

[2017-02-11 00:07] #4464 closed

[2017-02-11 00:11] liangfok commented on #5132
I believe @amcastro-tri was just trying to make an analogy to the style guide. Basically, the style guide captures some "best practices" that reduce bugs. In a similar vein, we could have a "dynamics style guide" that reduces bugs in dynamics-based simulations.

[2017-02-11 00:25] jwnimmer-tri commented on #5132
I see -- I misread the sentence phrasing in the review discussion.

I think "document for readers why you chose a certain literal value" (and therefore have a reason!) is good advice, but I don't see how it's dynamics-specific, nor do I think we are doing badly enough at accomplishing it that we need to spend our precious styleguide words explaining it?

[2017-02-11 00:35] sherm1 commented on #5132
I don't think we are ready for this -- for example, I'm not sure I agree with @amcastro-tri's prescription in the comment. (Using a variable step integrator that picks its own step size seems better to me.)

[2017-02-11 02:11] liangfok commented on #5132
Alright, I will close this issue for now, but let's keep it in mind. I suppose any wisdom captured in such a document could be construed to be defects in the dynamics API.

[2017-02-11 02:11] #5132 closed

[2017-02-11 16:26] liangfok opened #5142 "RigidBodyTree::centerOfMass() Does Not Ignore Links that are Welded To World"
# Problem Definition
[RigidBodyTree::centerOfMass()]() incorrectly computes the Center Of Mass of a model instance if the model instance has bodies with non-zero mass that are welded to the world.

File [drake/examples/Pendulum/Pendulum.urdf](https://github.com/RobotLocomotion/drake/blob/daf51977c9f977a44ec703aed5dcd970625eb899/drake/examples/Pendulum/Pendulum.urdf) contains bodies "[world](https:

[2017-02-11 16:27] liangfok commented on #5142
@sherm1 and @amcastro-tri, feel free to close this if we're certain such a bug will not be carried over to `MultiBodyTree`.

[2017-02-12 12:26] RussTedrake commented on #2612
+ @seancurtis-tri .  fyi - it would be great/natural to add recording as an option to the drake visualizer realtime playback method.

[2017-02-12 13:33] RussTedrake opened #5145 "bazel warnings on mac"
fyi — building master w/ bazel on mac, I get spammed with e.g.
[code]

[2017-02-12 23:40] sherm1 commented on #3614
Per discussion in #5138 and elsewhere, deriving from cloneable, concrete `BasicVector` (`ContiguousVector`) is problematic since there is no way to enforce proper reimplementation of `DoClone()` in the derived classes. Per a Slack discussion I've lost track of, this could be fixed by introducing an abstract class containing (and properly cloning) a contiguous Eigen vector but leaving `DoClone()` u

[2017-02-13 02:20] amcastro-tri commented on #5132
Having a "style guide" for simulation is an interesting suggestion @liangfok. In my experience what works very well in that regard is having a nice set of cases people can refer to. But we are doing that already with the cases we have in "drake/examples". Probably a good thing to keep in mind is to have a nice set of cases for multibody dynamics in the examples directory.
Of course we can , as @sh

[2017-02-13 02:25] amcastro-tri commented on #5142
@liangfok, it looks like the code is doing exactly what you are asking. The problem seems to be how to ask for say, the center of mass, for a specific set of your model.
We have model instances, however these are on a per file basis correct?
how do you think the API to make this kind of request would look like? In this case it seems like the urdf does not provide enough information to tell what is

[2017-02-13 02:59] liangfok commented on #5142
For URDF, yes since URDFs can only have one model per file. For SDF, no because a single SDF file can have multiple models.

I think the API should look like `MultiBodyTree::CalcCenterOfMass(int model_instance_id)` where it returns the center of mass of the bodies that belong to the provided `model_instance_id` that are _not_ welded, either directly or transitively, to the world.

Actually, the UR

[2017-02-13 14:02] RussTedrake opened #5148 "Set camera options from DrakeVisualizer c++ interface"
@david-german-tri -- while you're thinking about the interactions between drake and drakevisualizer, let me add another feature request.  We should be able to set the default camera angle at the start of a simulation (at least).  This seems necessary for testing our ego car driving amongst a complex traffic scenario; otherwise we'll be finding/clicking the chase cam on every sim.

cc @patmarion

[2017-02-13 14:57] patmarion commented on #5148
btw, I'm not sure how interested you are in viewer-side scripts, maybe not that interested, but I thought I'd just post an example in case it's convenient for anybody.  You can save this code to a script and launch `drake-visualzer --script my_script.py`, and it will initialize the camera tracker anytime an object named 'foo' is added to the scene:

[code]

caveat- if the object you wish to follow

[2017-02-13 14:58] jwnimmer-tri commented on #5148
That's great.  I was also going to push back on embedding this into the simulation rendering APIs, versus the setup code that configures and starts a simulation (which is in python already).  I think both are valid choices, but the "handle it in the launcher" is likely a cheaper first pass.

[2017-02-13 15:13] SeanCurtis-TRI commented on #2612
@RussTedrake "recording" in what sense?  Additional message to the visualizer or a persisted file?

[2017-02-13 15:32] david-german-tri commented on #5145
Yeah, I've noticed this too, on all our header-only targets.  Thanks for opening an issue.  There's probably a linker flag we can specify in CROSSTOOL to silence it.

[2017-02-13 16:04] RussTedrake commented on #2612
Recording as in making a video of the resulting sim.  Director has the ability to screen grab to a series of image files (which can then be a aviconv'd into a movie).

[2017-02-13 16:15] BetsyMcPhail commented on #5022
The new nightly builds look good. Moving on to the Continuous builds.

The following builds have been added:
linux-xenial-clang-bazel-continuous-everything-debug
linux-xenial-clang-bazel-continuous-everything-release
linux-xenial-gcc-bazel-continuous-everything-debug
linux-xenial-gcc-bazel-continuous-everything-release

[2017-02-13 16:20] jwnimmer-tri opened #5151 "Buildifier and CLion plugin disagree on deps order"
Given some recent PRs, I suspect that in-tree `tools/buildifier.sh` script and the CLion plugin disagree on `deps=[]` order (for `@otherlibrary//:target` at least, in particular).  They are supposed to agree, so we'll need to find the config or version skew that makes them disagree.

[2017-02-13 16:35] SeanCurtis-TRI commented on #2612
I see.  The idea being, the same time you start a playback, you also send a message indicating that this playback should be captured by the Director.  From the c++ api side, it's simply a flag.  That kind of thing.

[2017-02-13 16:42] #4243 closed

[2017-02-13 16:42] #4454 closed

[2017-02-13 16:42] #4486 closed

[2017-02-13 18:57] #4989 closed

[2017-02-13 19:06] liangfok commented on #4990
Now that #5038 is merged, I plan on starting to work on this. My plan is to either use or mimic an [EndlessRoadCar](https://github.com/maddog-tri/drake/blob/c8679ca8ac2b60cc25b779c3b48eb0eda1ef6add/drake/automotive/endless_road_car.h).

[2017-02-13 19:42] liangfok commented on #3429
https://drake-jenkins.csail.mit.edu/job/linux-gcc-experimental-ros/3600

[2017-02-13 19:55] agalbachicar opened #5154 "Model with zero DOFs welded with kFixed breaks"
I'm trying to load a simple box model through an SDF and visualize it. This simulation has zero degrees of freedom because I just want to load the model with a visualization purpose.

In case I load the SDF file with `multibody::joints::kFixed` the program ends up with a segmentation fault. This problem is solved by calling `drake::parsers::sdf::AddModelInstancesFromSdfFile` with `multibody::joint

[2017-02-13 20:41] liangfok commented on #4990
Since #5032, which contains [EndlessRoadCar](https://github.com/maddog-tri/drake/blob/c8679ca8ac2b60cc25b779c3b48eb0eda1ef6add/drake/automotive/endless_road_car.h), has not been merged and I'm unable to compile the branch, I'm now looking to see whether I can simply plop a `SimpleCar` on top of a Dragway.

Here is the compile-time error I'm seeing when comiling @maddog-tri's "maliput-demo-carbits"

[2017-02-13 21:21] #5104 closed

[2017-02-13 21:29] jwnimmer-tri commented on #4990
@liangfok Are you able to make progress?

I think EndlessRoadCoar gloms together too many concerns at once.  I bet you could steal just the bonehead variant of it and get really far (+ SimpleCar) on a dragway.  Or also the TrajectoryCar should be able to drive the dragway okay also (just create a single-segment path to feed it, that is manually lined up with the dragway lanes).

[2017-02-13 21:38] liangfok commented on #4990
I'm still studying the code; not sure yet whether I'm blocked. One concern I have is there's nothing in `master` that demonstrates how a `maliput::api::RoadGeometry` is transformed into a "world" in which any vehicle model runs. Maybe I just missed it?

I looked through #5032 and wasn't able to identify where the bonehead variant of it is defined. Can you provide a pointer?

Do you mean take `mali

[2017-02-13 21:45] jwnimmer-tri commented on #4990
For viz you can add a flat plane manually if you want.  But otherwise, none of the Systems we're talking about needs RBT or a world at all.

The kNone control type.

Nope.  It's a dragway.  The bonehead cars can drive straight.  It should be very easy to make a Curve2 with a single segment that aligns with the lane center (presumably we can just ask Maliput for the lane start and end in Geo (carte

[2017-02-13 21:58] liangfok commented on #4990
Alright, my plan is to create an executable that:

1. Instantiates a `drake::maliput::dragway::RoadGeometry`.
2. Automatically converts the `RoadGeometry` into a `Curve2` that spans the entire driveable area of the dragway.
3. Instantiates a `TrajectoryCar` using `Curve2` for each lane that simply drives down the length of the dragway.
4. Loads the `TrajectoryCar` instances into an `AutomotiveSimu

[2017-02-13 22:00] jwnimmer-tri commented on #4990
That's okay to start.  We'll also want a SimpleCar (keyboard control) in there as well at some point.

Can it just be another mode of `automotive_demo`, instead of a separate program?

[2017-02-13 22:03] liangfok commented on #4990
Sure. I will try to make it so.

[2017-02-13 23:08] rdeits commented on #4950
Autodiff cleanup is done. I've also created the `pydrake.forwarddiff` package which uses Eigen Autodiff and provides high-level wrappers to take derivatives, gradients, and jacobians of drake functions and basic python functions.

[2017-02-13 23:45] sherm1 commented on #5154
Thanks for reporting this, @agalbachicar and providing such good information. It looks like a problem dealing with the resulting 0-length state vector. We are reworking our multibody code at the moment so probably won't fix this in the old code but will make sure it works in the new code. We would also be very glad to accept a pull request that fixes the current code!

@amcastro-tri, assigning to

[2017-02-13 23:56] jwnimmer-tri commented on #5154
It will be some common, when using PoseAggregator in automotive, for the fixed scene (world geometry) to come in via SDF (RBT) and all of the moving joints to come in as Systems that don't use RigidBodyPlant.  If and when that happens, I will bump the priority of this accordingly.

[2017-02-14 00:30] jwnimmer-tri commented on #4990
(Jumping back a bit.)  For the record, CI agrees with you that the PR doesn't compile.

[2017-02-14 07:06] hongkai-dai opened #5162 "(x * (y + z)).EqualTo(x*y + x*z) returns false."
In the current symbolic expression, it does not handle the parenthesis well. The comparison
[code]
returns false, when comparing the hash values in https://github.com/RobotLocomotion/drake/blob/master/drake/common/symbolic_expression.cc#L120. But even if I commented out the hash value comparison, it still returns false.

[2017-02-14 07:45] maddog-tri commented on #4990
W.r.t. the PR not compiling, meh, works fine on xenial.  (And, it is fixed for you and CI now, too.  FWIW, it *did* compile in CI until, in response to review comments, I added `{}` default initializers to the fields of `TimeBox` which apparently caused it to become non-aggregate in the eyes of the older gcc, etc, etc, and I did not notice the subsequent CI failure, because why would I... I'm busy

[2017-02-14 10:24] soonho-tri commented on #5162
This is a duplicate of https://github.com/RobotLocomotion/drake/issues/5087. `Expression::EqualTo` checks structural equality. If you do not expand the two terms, they are structurally different.

[2017-02-14 12:26] #3913 closed

[2017-02-14 15:02] BetsyMcPhail commented on #5022
bazel / everything / debug builds in both continuous and nightly are failing with a timeout.

For example: https://drake-cdash.csail.mit.edu/viewBuildError.php?buildid=388278

[2017-02-14 15:07] david-german-tri commented on #5022
Thanks - we should either disable `valkyrie_balancing_test` in Debug or bump its timeout.  @siyuanfeng-tri, any thoughts about which is better?

[2017-02-14 15:09] liangfok commented on #4990
@maddog-tri, thanks for fixing the bug. I will look into `maliput-demo-autobits`. Regarding the CI failure, are you saying it didn't show up in Reviewable.io's donut-shaped icon at the top (see screenshot below)?

![screenshot from 2017-02-14 10 08 49](https://cloud.githubusercontent.com/assets/1388098/22934628/9b086164-f29d-11e6-85b8-be409ba8db85.png)

[2017-02-14 15:09] siyuanfeng-tri commented on #5022
probably bump up the time? I did medium in cmake land, what's the equivalent here?

[2017-02-14 15:19] david-german-tri commented on #5022
`small` is the default, so `medium` sounds like a good plan.

https://bazel.build/versions/master/docs/test-encyclopedia.html#role-of-the-test-runner

[2017-02-14 15:39] jamiesnape commented on #5022
The test sizing should be the same for both. The CMake support was modeled on Google's test sizes also.

[2017-02-14 16:00] maddog-tri opened #5165 ""LANE-space" is obscure phrasing."
From PR #5032 comment:

drake/automotive/endless_road_car.h, line 25 at r4 (raw file):

    namespace automotive {

    /// A non-physical car that operates in LANE-space on an InfiniteCircuitRoad,

[2017-02-14 16:01] liangfok commented on #3752
https://drake-jenkins.csail.mit.edu/job/mac-clang-ninja-continuous-release/1394/console

[2017-02-14 19:29] liangfok commented on #3070
FTR, a workaround that was known to work is to open the defective `.obj` file in MeshLab and save-as another `.obj` file.

[2017-02-14 20:06] wjwwood commented on #3129
Catkin is basically just CMake, so if a simple, pure-CMake example can be provided that "utilizes" drake (regardless of how drake was built, with either cmake or bazel) then you can make it work with other catkin packages. If you're talking about building drake along with many other things at the same time with something like `catkin_tools`, then we'd have to look at how bazel is exposed to other

[2017-02-14 20:43] liangfok commented on #4556
I retested this on my Ubuntu 14.04 workstation using cf497e8e29c5a4eaa96c80c2f83616a098e4e543 and was able to replicate the issue. This issue shall thus remain open. :sob:

[2017-02-14 22:05] Lucy-tri opened #5172 "Add derivatives to PiecewisePolynomialTrajectory"
We would like to have the facility to create PiecewisePolynomialTrajectory’s with their associated derivatives, up to a specified derivative order.  Siyuan implemented something similar, a PiecewisePolynomialSource which is a System, in https://reviewable.io/reviews/RobotLocomotion/drake/4992#.  Instead of that design, we would like PiecewisePolynomialTrajectory to be associated with it’s derivati

[2017-02-14 22:07] Lucy-tri commented on #5172
@sammy-tri @siyuanfeng-tri @RussTedrake : you may be interested.

[2017-02-14 23:34] soonho-tri commented on #5162
As we discussed in f2f: I'll add extra documentation clarifying `Expression::EqualTo` method.

[2017-02-15 00:52] RussTedrake commented on #5172
I'm a little confused.  Taking the derivatives of a piecewise polynomial is trivial (you can simply read out from the existing coefficient matrix slightly differently).  I don't think there is any need to specify a derivative order in the constructor.

I think that the two most natural interfaces would be:
1) add a method similar to `value(double t)` that is something like `derivative(double t, in

[2017-02-15 01:18] soonho-tri commented on #4998
Thanks to @jadecastro, I found https://reviewable.io/reviews/robotlocomotion/drake/5028 which includes the following function into the `System` class:
[code]

@edrumwri and @sherm1, do you plan to handle a disjunction of constraints in the future (or even further a boolean combination of them)?

[2017-02-15 01:36] siyuanfeng-tri commented on #5172
The longer version of the story is that I wanted a vector of q, qd, qdd as input, and in the current System primitives, we only had a TrajectorySource that spits out q. TrajectorySource is constructed from a Trajectory, and because of the abstract interface of Trajectory, which doesn't have derivatives, I can't compute the derivatives. So I made primitive similar to TrajectorySource, but construct

[2017-02-15 04:53] edrumwri commented on #4998
Disjunction meaning one subset of the constraints? Specifically speaking,
these are algebraic constraints (meaning that they are free of derivatives)
coupled to a system of ordinary differential equations, just to make sure
that we're speaking the same language.

--------------------------------
Evan Drumwright
Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto,

[2017-02-15 11:26] soonho-tri commented on #4998
This is correct. To be clearer, I meant logical OR (`||`). An example is `x >= 5 || x <= 0`. I realize that DAE(Differential Algebraic Equations) doesn't have disjunctions in its formulation, and `N` constraints are considered as a conjunction implicitly.

I wanted to point out that there is a similarity between this issue (adding `RequirementMonitor`) and #5028 (introducing DAE) in that both of t

[2017-02-15 11:36] RussTedrake commented on #4998
Love the discussion!  :)  It will be great to use the same tools.  cc @david-german-tri , @sherm1 , @hongkai-dai

In the matlab system hierarchy, every system had the ability to list state constraints.  I've copied the documentation for that concept (from http://underactuated.csail.mit.edu/underactuated.html?chapter=26) here:

State constraints are additional information that you are providing to

[2017-02-15 12:00] #5045 closed

[2017-02-15 12:13] jadecastro commented on #4998
BTW, on the subject of constraints-within-a-System, here is a discussion @amcastro-tri and I had for equality constraints https://github.com/RobotLocomotion/drake/issues/4151.

[2017-02-15 13:18] RussTedrake commented on #4998
Good to see that I'm consistent.  :)

[2017-02-15 14:32] sammy-tri commented on #5172
So if we add a derivative() call to Trajectory, does TrajectorySource gain a derivative_output_port() (one for each derivative order)?

GetDerivativeTrajectory() might make more sense because then you can just make more TrajectorySource systems.

I'm still not opposed to just making the output of value() wider (with the resulting change on the size of the TrajectorySource output port) either.

[2017-02-15 14:35] siyuanfeng-tri commented on #5172
the most intuitive thing for me is to have a derivative call in Trajectory, and have TrajectorySource output a single vector output that outputs the derivatives as well.

[2017-02-15 14:40] jwnimmer-tri commented on #5172
You could also imagine that `TrajectorySource` offers (via constructor or factory method) a way to choose the nature of the output port -- whether its just the trajectory, or also stacks up some derivatives into the same output port.

[2017-02-15 15:20] david-german-tri opened #5177 "If NumPy is missing, the Drake build should fail hard when generating py bindings"
Right now, both pre and post #5158, the bindings are silently disabled in the CMake build.

[2017-02-15 15:29] sammy-tri commented on #5172
I guess we can cross the bridge of a Trajectory subclass which is unable to implement derivative() when we come to it (allow derivative() to throw or something).

[2017-02-15 16:25] sherm1 commented on #4998
Constraints intended for physical simulation have to be enforceable through forces acting on the system. I think that limits them to a subset of the set of all possible constraints that might make sense in a constrained optimization setting.

[2017-02-15 16:50] liangfok commented on #4897
@amcastro-tri, now that #4958 is merged, can you to update update `RigidBodyPlant::DoCalcTimeDerivatives()` so it can be templated on `AutoDiffScalar`? I will assign this issue to you for now. Thanks!

[2017-02-15 18:39] SeanCurtis-TRI opened #5179 "Generalized LCM message playback (with focus on visualization)"
# Problem

PR #5152 gives `DrakeVisualizer` the ability to cache the relevant time-stamped `RigidBodyPlant` state and then play it back at real time.  It is a convenient utility but has limited scope.  For example, this approach would be unable to play back simulation artifacts which are published in different systems (e.g., contact forces which are handled by a different `System`.)  We can make a

[2017-02-15 18:51] jwnimmer-tri commented on #5179
Your ideas are intriguing to me and I would like to subscribe to your newsletter!

(In other words, :+1:.)

[2017-02-15 19:09] soonho-tri opened #5180 "Bazel error with `*`"
Repro step: `bazel build //drake/common:*`

Errors:
[code]

/cc @david-german-tri , @jwnimmer-tri

[2017-02-15 19:09] soonho-tri commented on #5180
@david-german-tri suspects that it comes from https://github.com/RobotLocomotion/drake/blob/master/tools/cpplint.bzl#L55

Reference: https://bazel.build/versions/master/docs/bazel-user-manual.html

[2017-02-15 19:12] liangfok commented on #5179
The proposed design sounds good and is certainly more general than the current solution.
The inability to interpolate may become a concern if the we want to do _ultra slow motion replay_.

BTW, there is an extra "be" in "would be use".

[2017-02-15 19:15] liangfok commented on #5179
Another design idea is to add support for listeners to `lcm::DrakeLcmInterface`. Something like `lcm::DrakeLcmInterface::AddListener()`. One listener would be to log and replay message bytes.

[2017-02-15 19:16] david-german-tri commented on #5180
That's now confirmed.

[2017-02-15 19:19] SeanCurtis-TRI commented on #5179
1) Typo fixed (thanks @liangfok)
2) Interpolation is a bit problematic; you'd have to have an interpolator that a) knows the structure of the message and b) knows the nature of the integration such that meaningful numerical interpolation can be performed.

[2017-02-15 19:27] liangfok commented on #5179
Yes, I agree interpolation will be a challenge. I can't think of a good design at the moment that would enable interpolation. Maybe we'll just drop support for that until it really becomes a problem.

[2017-02-15 20:36] #4771 closed

[2017-02-15 21:08] #5177 closed

[2017-02-15 22:25] amcastro-tri commented on #4897
Yes. It's in my TODO list. Though on a time off until Monday so I don't think I'll have an early start with this.

[2017-02-15 23:22] liangfok opened #5183 "Numerous Warnings Printed to Console When Building Drake on OSX Using Bazel"
# Sample Output

[code]

[2017-02-15 23:23] liangfok commented on #5183
@david-german-tri please feel free to close if we're not planning on supporting Bazel + OSX.

[2017-02-15 23:25] jwnimmer-tri commented on #5183
Yes, we are supporting Bazel + OSX.  Fixing warnings is not super high on the list though; making it support all Drake features comes first.

[2017-02-15 23:26] liangfok commented on #5183
OK. There are a couple other types of warnings that flood my terminal when I build using Bazel on OSX. Here are samples:

[code]

And:

[code]

[2017-02-15 23:29] jwnimmer-tri commented on #5183
The final item is a dup of #5145.

[2017-02-15 23:31] liangfok commented on #5183
Is there a plan for adding OSX + Bazel to either [Continuous Production](https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/) or [Nightly Production](https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/)?

Or is it already there and I simply missed it? (I was trying to verify that the same warnings show up in CI).

[2017-02-15 23:36] jwnimmer-tri commented on #5183
Other than PRs it's only in https://drake-jenkins.csail.mit.edu/view/Bazel/job/mac-clang-bazel-nightly-release/ per https://drake-jenkins.csail.mit.edu/view/Bazel/.  Yes, we are working on making it be production-supported in Continuous.

[2017-02-15 23:38] liangfok commented on #5183
Thanks. I just confirmed that all aforementioned warnings show up in CI, which is good.

[2017-02-15 23:50] liangfok commented on #5044
I'm thinking about elevating the priority of this issue because it is preventing me from properly visualizing a multi-lane road in `drake-visualizer`. The screenshot below is supposed to show a 10-lane dragway:

<img width="1126" alt="screen shot 2017-02-15 at 6 50 12 pm" src="https://cloud.githubusercontent.com/assets/1388098/23000704/a4829a94-f3af-11e6-8c9b-d615a9a01df1.png">

[2017-02-16 01:39] #5180 closed

[2017-02-16 04:06] liangfok opened #5186 "Mysterious CI Failure: "Workspace has a .git repository, but it appears to be corrupt""
# The Error

[code]

# Example Logs
* https://drake-jenkins.csail.mit.edu/job/linux-gcc-experimental-ros/3717/

[2017-02-16 04:34] hammerheadCorvette opened #5187 "CMake error related to Director regarding Qt4"
New user here, forgive me if I'm missing something obvious. I am encountering a CMake error related to Director while attempting to build drake from source on Ubuntu 14.04. It seems as though I don't have Qt4 installed/configured properly:

[code]

As specified by the 14.04 specific instructions, I attempted to install the following dependencies; however, there was a libcheese and libcheese-gtk23

[2017-02-16 14:09] jamiesnape commented on #5187
Try omitting `libgl1-mesa-dri` and `xvfb` and let me know if you get a different result, e.g.,
[code]

[2017-02-16 14:17] jonathan-owens commented on #4318
https://drake-cdash.csail.mit.edu/viewBuildError.php?buildid=394069

[2017-02-16 14:18] jamiesnape commented on #4318
Yes, we have lots. They are on the backlog to fix.

[2017-02-16 14:19] jonathan-owens commented on #4931
Looks like this is happening again: https://drake-cdash.csail.mit.edu/viewBuildError.php?buildid=394063

[2017-02-16 14:19] jwnimmer-tri commented on #5187
Related to #4947?

[2017-02-16 14:26] jamiesnape commented on #5187
Quite probably.

[2017-02-16 14:50] david-german-tri commented on #5145
Closing as duplicate of #5183, which has some additional detail.

[2017-02-16 14:50] #5145 closed

[2017-02-16 14:55] david-german-tri commented on #5186
Network is known to be a little flaky, and git is maybe a little flaky also.  I'm prioritizing this as `backlog` for now.

[2017-02-16 15:02] jamiesnape commented on #4931
Looks like an IRIS issue. I will look into it. FYI @rdeits.

[2017-02-16 16:11] liangfok opened #5190 "Need a Way To Extract From the Whole-World Model a Model-Instance Model"
# Problem Definition

The worlds we simulate will become increasingly complex in terms of the number of model instances present. Yet many controllers will still operate on individual model instances. To account for this discrepancy, there is an increasing need to support the ability to easily get a model of a portion of a world model. These "smaller" models can then be used by, for example, model-

[2017-02-16 16:14] soonho-tri opened #5191 "Have tests checking commutativity/associativity of symbolic expression over addition/multiplication"
Suggested by @ggould-tri in the review of https://github.com/robotlocomotion/drake/pull/5182.

[2017-02-16 17:06] jwnimmer-tri commented on #4875
@clalancette How much of an impediment is this to your work?  If there is a simple just-as-good fix to the models, great.  But if having a code fix here would be a meaningful improvement, I will prioritize this fix.