[2019-03-20 21:33] sherm1 commented on #10909
(Note: @edrumwri, if we implement this I think we should not generate multiple forced events for the same handler.)

[2019-03-20 22:02] EricCousineau-TRI opened #10976 "SceneGraph: Remove `X_PG` (feature to spec. geometries w.r.t. other geometries)"
Per f2f with @calderpg-tri:
It's a bit confusing to see `X_PG` in `SceneGraph`-related, when the docs and code sometimes criss-cross between `X_PG` and `X_FG`.

To me, it seems like a generally redundant quantity, and I think we should remove it. User should attach geometries to frames only, always. If you want some more relative pose stuff, then you add another frame.

(I say this b/c I've been w

[2019-03-20 22:10] amcastro-tri commented on #10973
There is [this](https://github.com/RobotLocomotion/drake/blob/9a902a6be1a6a0edafb305f92615d16cd523bed3/multibody/plant/multibody_plant.h#L2364) but I guess you want to say more? in particular, how do you retrieve `X_FG` from scene graph these days? maybe we can link that API in MBP?

[2019-03-20 22:16] edrumwri commented on #10909
A few points of clarification, per f2f discussion with @sherm1:

1. When Sherm says "we should not generate multiple forced events for the same handler", that is referring to the scenario like:

    MySystem() {
      this->DeclarePerStepPublishEvent(&MySystem::HandlePublish);
      this->DeclarePeriodicPublishEvent(period, offset, &MySystem::HandlePublish);
    }

In this case, we do not want MyS

[2019-03-20 22:41] sherm1 opened #10978 "port.FixValue() should accept an initializer list as a value"
Per discussion in #10964, it would be nice to be able to write
[code]
with identical results (for a vector-valued port) to:
[code]

This would require updates to the VectorPolicy (to accept and convert an `initializer_list<T>`) and the AbstractPolicy (to reject such a list). These policies are enforced by
`internal::ValueToVectorValue` and `internal::ValueToAbstractValue` classes.

Eager SFINAE wi

[2019-03-21 03:29] SeanCurtis-TRI commented on #10976
FTR I only partially agree with what you've written. The part I *don't* agree with is:

All frames registered to SG are assumed to move. So, going this route for what should be a fixed frame artificially and meaninglessly inflates the data that has to be reported to SG and the computation that SG does in preparation for the various black boxes that service queries.

That said, I don't know that I

[2019-03-21 03:47] SeanCurtis-TRI commented on #10973
I basically want to document something very specific: for every SG frame that is registered, it is coincident and aligned to the corresponding body frame. So, `X_BᵢFᵢ = I`.

[2019-03-21 11:35] eacousineau commented on #8116
(Personal acct) Was looking at https://github.com/pybind/pybind11/issues/1731, and stumbled across this:
https://github.com/boostorg/python/blob/b9c0e58/include/boost/python/numpy/ufunc.hpp - will take a deeper peek!

(At a glance, though, it doesn't seem to interface with NumPy UFunc objects; instead, it just writes its own???)

[2019-03-21 12:26] EricCousineau-TRI commented on #10976
Dern! Almost conscripted you to my side :P

Absolutely agreed! Hence `priority: low` + `cleanup`.

Shall do! Will see if I can find those bits, maybe ping @calderpg-tri for providing what he's seen as well.

IMO: Disagreed! Excising code admits simpler APIs; at present, the APIs still require a level of expert knowledge (e.g. Calder and I had to read through b/c we wanted to learn more about colli

[2019-03-21 12:33] avalenzu commented on #10909
Would we then continue calling `CalcDiscreteVariableUpdates()` to advance the system? Or would there be an additional `EvalDiscreteVariableUpdates()` method?

[2019-03-21 13:13] EricCousineau-TRI opened #10982 "py mbp: Change bindings to use `RigidTransform`"
Per this conversation:
https://github.com/robotlocomotion/drake/pull/10959#issuecomment-474850174

~May depend on viability of turning of implicit casts.~ It'll be easy.

Steps:
- [x] #11061 Fix implicit conversions
- [ ] Switching bindings to use `RigidTransform`
- [ ] Deprecate implicit conversions (following C++)

\cc @amcastro-tri

[2019-03-21 13:49] SeanCurtis-TRI commented on #10976
I humbly retract the

That was definitely a bridge too far. It is definitely unused functionality and, as such, runs the risk of becoming zombie code. It does increase complexity and I'm sorry for it serving as a speedbump in the road to understanding. However, there's a cost to remove it. And if it turns out it *is* a useful API, the cost to put it back is not a simple revert, it'll have to be re

[2019-03-21 14:35] EricCousineau-TRI commented on #8711
This can be done in or after #10963.

[2019-03-21 14:37] #7138 closed

[2019-03-21 14:37] EricCousineau-TRI commented on #7138
After thinking about this more, people should just refer to Docker instructions; we shouldn't duplicate here.
Closing.

[2019-03-21 14:41] EricCousineau-TRI commented on #10551
Can I ask if this is still an issue?
And have you been able to run things like the diagnostic in the related Homebrew issue, like `brew bundle check --verbose`?

[2019-03-21 14:43] EricCousineau-TRI commented on #9500
Late update: I'm testing out ROS2 on Anzu; will change the scope of this.

[2019-03-21 14:50] #10869 closed

[2019-03-21 14:52] EricCousineau-TRI commented on #10154
Per f2f, `mkdoc.py` seems to be the only thing.

[2019-03-21 15:24] sherm1 commented on #10909
`CalcDiscreteVariableUpdates()` would work as before. We can also add `EvalDiscreteVariableUpdates()` (which would return a reference to a cached version of the usual output from `CalcDiscreteVariableUpdates()`), although that's a separate issue. It's not immediately clear to me what the advantage would be of caching that computation though -- typically you want that computation performed due to a

[2019-03-21 15:36] #8711 closed

[2019-03-21 16:43] jwnimmer-tri commented on #9865
I'll propose an additional related task: Update the RigidTransform class overview API with the "justify your existence" / "contrast with Isometry3d" rationale provided in this issue's overview post.

[2019-03-21 17:07] jamiesnape commented on #8940
Closed by #10941.

[2019-03-21 17:07] #8940 closed

[2019-03-21 18:13] avalenzu commented on #10909
I was mostly thinking of the lack of parallelism that Russ mentioned in the original post.

[2019-03-21 18:21] hongkai-dai commented on #10932
Just had more discussion with @SeanCurtis-TRI . I think what we want is differentiable collision query (namely for all the results returned in signed distance query, penetration query, etc, also return the gradient of these results). Currently in the geometry::query_results folder, all of the result (like `SignedDistancePair`, `CollisionPair`, `SignedDistanceToPoint`) are templated, and only insta

[2019-03-21 18:39] EricCousineau-TRI commented on #8940
@manuelli If you still encounter the issues you had before (key bindings, etc.), please post here and we can re-open the issue.

Thanks!

[2019-03-21 18:55] SeanCurtis-TRI commented on #10932
Slight modification:

[code]

because `ProximityEngine` is, itself, templated on T. And that *might* require some SFINAE to avoid ambiguity...although, I can envision that it might not. That'd be nice. The fact that parameters are typed on the template parameter suggests you should be good.

[2019-03-21 20:18] SeanCurtis-TRI opened #10984 "[geometry] QueryObject::ComputeSignedDistanceToPoint() bad for multiple points"
## Problem Statement

Due to legacy reasons that have yet to be corrected, every time *any* `QueryObject` method is invoked, it does a full pose update on *all* of SceneGraph. That means if multiple points need to be queried, the results will be needlessly slowed down.

## Proposal

Actually making the update properly conditioned on the cache entries which track whether the work has already been d

[2019-03-21 20:26] sherm1 commented on #10909
@avalenzu, I'm not sure I see the parallelism yet (except for the names). Possibly I'm not understanding the intended use. Let me see if I can formulate my confusion:
- Say we have a context containing the state at step n, xₙ. Call that contextₙ
- The Calc method is essentially `xₙ₊₁ ← Calc(contextₙ)`, that is, unconditionally compute xₙ₊₁ from xₙ. Presumably the application then does something wi

[2019-03-21 20:36] sherm1 commented on #10932
Having the method itself templated would mean that all of its implementation would have to be in headers. That seems extreme. Maybe just have an API that returns the gradients?

[2019-03-21 20:46] DamrongGuoy commented on #10984
Thank you @SeanCurtis-TRI .  That's very insightful.  I agree taking in a set of query points instead of one single query point is an improvement.  We will have to discuss the API.

[2019-03-21 20:48] calderpg-tri commented on #10984
Can this be linked with #10442 so that in the case of a "frozen" context the pose update is not performed? The usage I have in mind would be:

1. Update `q`

2. Perform dummy `ComputeSignedDistanceToPoint` query to update SceneGraph

3. Freeze context

4. Do a bunch of queries

5. Unfreeze context

A batch API, while definitely nice to have, doesn't fit the needs of our collision checkers well.

[2019-03-21 20:51] SeanCurtis-TRI commented on #10984
I'd propose a simple extension of the existing API.

Current API:
[code]

Multi-query API:
[code]

As to @calderpg-tri's question, this is related but somewhat orthogonal to freezing. This is a manifestation of `SceneGraph` cheating and going around the system. Even with context freezing, `SceneGraph` will not work naturally with the frozen context (doing some cache entry hacks, would work). There

[2019-03-21 20:54] EricCousineau-TRI opened #10986 "math: Support `RigidTransform<T> * Matrix3X<T>`"
Per note in #10959 - should avoid allocation, so it should either write an output in-place or use `MatrixBase<Derived>`.

[2019-03-21 20:55] calderpg-tri commented on #10984
I'm all for a batch API, and it's probably easy enough to implement that we should do it now even if no one uses it.

My thinking on frozen contexts is that in lieu of proper caching, we just assume/enforce that a frozen context "must be true" and never do any updates if the frozen bit is set. It's hacky and unpleasant, but probably gives us the short-term performance boost.

[2019-03-21 21:05] sherm1 commented on #10984
Caching is so dangerous that I don't think anything hacky should be involved. SG should use the cache, and the cache can have a safe "frozen" feature that will barf if an update is needed. Only the cache has the infrastructure needed to do that flawlessly.

[2019-03-21 21:14] calderpg-tri commented on #10984
I agree that this *should* be done right. But we don't want the perfect to be the enemy of the "good enough for a specific carefully-documented use-case" when this is (the?) most expensive operation during collision checking and collision checking speed is a bottleneck for pretty much every planning algorithm ever written.

[2019-03-21 21:31] SeanCurtis-TRI opened #10988 "[geometry] Add coarse "pose-update" cache entry to SceneGraph"
The full tear-down of `SceneGraph` to make it cache friendly and reduce its foot print in the abstract state of a diagram is a large undertaking. However, we can improve performance and make `SceneGraph` compatible with the upcoming "frozen" context by doing something small.

The solution will be a coarse approximation of what `SceneGraph` will look like down the road when we make it cache-complia

[2019-03-21 21:31] SeanCurtis-TRI commented on #10984
In consultation we've come up with a solution that should satisfy all parties.  But first, some background.

`SceneGraph` is weird because it has a bunch of state-ful black boxes and predated the cache system by a fair margin. One artifact is what is listed above in the main description of this issue. Another important artifact is that `SceneGraph` will *not* play nicely with a frozen context. At

[2019-03-21 21:33] calderpg-tri commented on #10984
That solution sounds good to me.

[2019-03-21 21:41] SeanCurtis-TRI opened #10990 "[geometry] Provide domain of signed distance to point queries"
## Problem Statement

The various queries in `QueryObject` currently span the world. All geometries/geometry pairs which have not been explicitly excluded via collision filters are considered. These methods were intended to be the first-pass, generic interface from which all other, more limited, queries can be derived. However, there is a very real computational cost in stripping out unneeded resu

[2019-03-21 22:35] sherm1 opened #10991 "An idea for speeding up AutoDiffXd"
Per f2f with @amcastro-tri today:

We believe the primary performance problem with AutoDiffXd is the absurd amount of heap malloc/free it requires during computation. Why is that expensive?
- locking for thread safety
- searching for a suitably-sized block on malloc(); combining blocks on free()

Idea: write a fixed-block-size memory manager (a.k.a. memory pool), with optional thread safety. Modif

[2019-03-21 22:40] jwnimmer-tri commented on #10991
Alejandro asked me about this on slack earlier.  I think you both underestimate how well current off-the-shelf allocators perform.  How about a benchmark to show how bad the current one is?  Or if glibc malloc really is bad, the first thing to do is not write your own allocator!  It's to try jemalloc or tcmalloc or whatever other off-the-shelf one already exists.

[2019-03-21 22:48] hongkai-dai commented on #10932
Had another f2f discussion with @sherm1 @SeanCurtis-TRI and @DamrongGuoy , we think the right approach is not to templatize proximity_engine. Instead we will define a new query result type, that contains the gradient w.r.t the relative pose between the two geometries.
[code]
There are two arguments not to templatize proximity_engine

1. It is too much work to templatize this file, with more than 1

[2019-03-21 23:58] edrumwri opened #10992 "Integrator statistics need to be adjusted when caching is enabled"
Integrators use a special derivative evaluation function to compute statistics over ODE calls. This function needs to be modified so that it understands when the derivative evaluation is cached and the ODE is not newly re-evaluated.

[2019-03-21 23:59] sherm1 commented on #10991
The underlying assumption here is that `AutoDiffXd(100)` is much slower than `AutoDiff100d`. I have not measured that myself, so it has the status of rumor at the moment! But assuming it's true, heap allocation must be a _lot_ slower than stack memory allocation.

Replacing heap allocation for all of Drake is a much more drastic step than just making AutoDiffXd work better by using a fixed-size po

[2019-03-22 01:32] RussTedrake opened #10993 "num_xx_state accessors are all over the place"
we have
`System::get_num_continuous_states()`
`System::get_num_total_inputs()`
`System::get_num_total_outputs()`

but then
`Context::get_num_abstract_states()`
`Context::get_num_discrete_state_groups()`
`Context::get_num_total_states()`

any many don't have python bindings.

[2019-03-22 10:42] RussTedrake opened #10996 ".pyc files in source directories"
Running `bazel run //doc:serve_sphinx` results in `doc/sphinx_base.pyc` being left in the source dir (for git to complain about).

Running tests in manipulation station now results in `examples/manipulation_station/differential_ik.pyc` being left in the source dir.

Although I'm tempted to add the `*.pyc` to `.gitignore`, there is probably a better solution?

[2019-03-22 11:45] jwnimmer-tri commented on #10996
I started seeing this too, and was annoyed.  I only now just realized that my `realpath` call in #10969 is likely at fault.

[2019-03-22 12:35] jwnimmer-tri commented on #5268
Status on current master:
- DRAKE_THROW_UNLESS raises an exception (in both C++ and Python).
- DRAKE_DEMAND (and DRAKE_ASSERT when armed) abort in C++ and raise SystemExit in Python.
- DRAKE_ABORT and DRAKE_ABORT_MSG are gone (well, deprecated and unused by Drake; soon to be withdrawn from our headers).
- DRAKE_UNREACHABLE aborts in both C++ and Python.  However, absent extreme action by the user

[2019-03-22 12:35] #5268 closed

[2019-03-22 12:35] jwnimmer-tri commented on #7827
I'll take this over now that #5268 part is done, if that's okay?

[2019-03-22 13:00] jwnimmer-tri commented on #10996
Actually, maybe it was tickled by my test runner change, but it was a bug in #10632 as it turns out.

[2019-03-22 13:02] jwnimmer-tri commented on #10996
The sphinx pyc file thing has been a bug for a while, I think it was @EricCousineau-TRI 8502b6167910e9cad74fd059f4fe04288d27b654 which did it.  I'll let him decide how to mitigate / ignore it.

[2019-03-22 14:00] amcastro-tri commented on #10991
I will add heap/stack-allocated AutoDiff tests to the benchmark I'm writing. I think @jwnimmer-tri has a good point on that we should just measure it.

[2019-03-22 14:04] jwnimmer-tri commented on #10991
Actually the first thing I would do is teach AutoDiffXd about value categories.  At the moment, every operation makes a copy (sometimes more than one!) of the derivatives vector.  If it were move-enabled, we would be hitting the heap much less often, no matter the allocator.

[2019-03-22 15:23] EricCousineau-TRI commented on #7827
SGTM!

[2019-03-22 15:30] sherm1 commented on #10991
I agree. That's actually one of my biggest complaints about Eigen. It uses horribly complicated expression templates to achieve what could mostly have been done with move semantics. I believe that is due to it predating `&&`. We are overdue for a modern-C++ matrix library.

[2019-03-22 15:31] EricCousineau-TRI commented on #10996
In the FWIW category, I always add `*.pyc` files to my global `gitignore` file.

But yeah, we shouldn't be spewing these out in the first place!

[2019-03-22 15:34] jwnimmer-tri commented on #10991
It has move on the Matrix classes, just not on the ADS class.

[2019-03-22 16:49] RussTedrake commented on #10551
it has continued, but perhaps something has changed now?  I've updated two macs this morning, and both succeeded on the first try.  happy to close this and can reopen if it happens again?

[2019-03-22 16:54] EricCousineau-TRI commented on #10551
Huh... Well, that works for me!

Will close for now, but we can definitely re-open if it's an issue. Thanks!

[2019-03-22 17:54] EricCousineau-TRI commented on #10996
Confirmed that this also happens with `--config=python3`; in this case, it pukes `__pycache__` all over the workspace.

Seems to be related to https://bugs.python.org/issue6386 (though probably not due to this bug, as the author wants to do weird things with relative imports?)

Made a repro as well, here: https://github.com/EricCousineau-TRI/repro/commit/c9135157f589d757ab9861cb53301f1932f70521

[

[2019-03-22 17:56] EricCousineau-TRI commented on #10996
Er, looking at #10997, will first try absolute importing (using the behavior that I hate... implicit `__init__.py` files...)

[2019-03-22 18:11] tri-ltyyu commented on #292
Use case is likely outdated. Closing for now. File new issue if needed.

[2019-03-22 18:13] tri-ltyyu commented on #718
Use case is likely outdated. Closing for now. File new issue if needed.

[2019-03-22 18:13] #718 closed

[2019-03-22 18:14] tri-ltyyu commented on #749
This is likely specific to RBP. If this is applicable to MBP/SG, please file new issue. Closing for now.

[2019-03-22 18:14] #749 closed

[2019-03-22 18:15] tri-ltyyu commented on #989
This is likely specific to RigidBodyPlant. If this is applicable to MultBodyPlant/SceneGraph, please file new issue. Closing for now.

[2019-03-22 18:15] #989 closed

[2019-03-22 18:16] tri-ltyyu commented on #1524
@RussTedrake, is this still a concern? if not, please close

[2019-03-22 18:17] tri-ltyyu commented on #1713
@RussTedrake, please close if this is not important anymore

[2019-03-22 18:17] tri-ltyyu commented on #1735
This is specific to RigidBodyPlant. If this is applicable to MultBodyPlant/SceneGraph, please file new issue. Closing for now.

[2019-03-22 18:17] #1735 closed

[2019-03-22 18:18] tri-ltyyu commented on #1793
This is likely specific to RigidBodyPlant. If this is applicable to MultBodyPlant/SceneGraph, please file new issue. Closing for now.

[2019-03-22 18:18] #1793 closed

[2019-03-22 18:19] tri-ltyyu commented on #1867
Still relevant for when loops is supported in MBP (targeting Q2/Q3 2019).

[2019-03-22 18:21] tri-ltyyu commented on #2030
@EricCousineau-TRI, please see if this is still relevant and should be considered in current SDF work

[2019-03-22 18:22] tri-ltyyu commented on #2033
Developer with desired constant can PR. Closing

[2019-03-22 18:22] #2033 closed

[2019-03-22 18:22] tri-ltyyu commented on #2287
This is likely specific to RigidBodyPlant. If this is applicable to MultBodyPlant/SceneGraph, please file new issue. Closing for now.

[2019-03-22 18:22] #2287 closed

[2019-03-22 18:23] tri-ltyyu commented on #2293
This is likely specific to RigidBodyPlant. If this is applicable to MultBodyPlant/SceneGraph, please file new issue. Closing for now.

[2019-03-22 18:23] #2293 closed

[2019-03-22 18:26] tri-ltyyu commented on #1784
Use case may be outdated. Please re-open/open new issue if needed

[2019-03-22 18:26] #1784 closed

[2019-03-22 18:27] tri-ltyyu commented on #2588
Need more specifics. Please open new issue if still a problem

[2019-03-22 18:27] #2588 closed

[2019-03-22 18:29] tri-ltyyu commented on #2612
This is likely specific to RigidBodyPlant. If this is applicable to MultBodyPlant/SceneGraph, please file new issue. Closing for now.

[2019-03-22 18:29] #2612 closed

[2019-03-22 18:30] tri-ltyyu commented on #2940
This is likely specific to RigidBodyPlant. If this is applicable to MultBodyPlant/SceneGraph, please file new issue. Closing for now.

[2019-03-22 18:30] #2940 closed

[2019-03-22 18:31] tri-ltyyu commented on #2941
Still relevant. Leaving in backlog.

[2019-03-22 18:32] tri-ltyyu commented on #2987
Use case likely outdated. Closing for now; please re-open if needed.
Discrete derivative is currently available.

[2019-03-22 18:32] #2987 closed

[2019-03-22 18:33] tri-ltyyu commented on #2989
Discrete derivative now avail. Please re-open if still needed

[2019-03-22 18:33] #2989 closed

[2019-03-22 18:34] EricCousineau-TRI commented on #2030
Just to try summarizing my understand with `master` @ 767ec8868:
This is geared towards storing and parsing symbolic relationships among URDF / SDF entities with those files (e.g. getting `Parameters<Expression>`, `SystemConstraint<>`), and less so on embedding `xacro`-esque functionality within Drake's parsing.

This sounds like a great feature, but may not come any time soon yet, as it seems pre

[2019-03-22 18:34] tri-ltyyu commented on #3006
@RussTedrake, is it still needed? If not, please close

[2019-03-22 18:35] tri-ltyyu commented on #3081
Assigning to @jwnimmer-tri to see if still relevant

[2019-03-22 18:35] tri-ltyyu commented on #3109
Still relevant. Keeping open

[2019-03-22 18:36] tri-ltyyu commented on #3155
Still relevant

[2019-03-22 18:36] tri-ltyyu commented on #3361
This is likely specific to RigidBodyPlant. If this is applicable to MultBodyPlant/SceneGraph, please file new issue. Closing for now.

[2019-03-22 18:36] #3361 closed

[2019-03-22 18:40] SeanCurtis-TRI commented on #9912
Note: PR #10999 resolves this for `scene_graph.h`; the rest of geometry still needs to be cleaned up.

[2019-03-22 18:40] tri-ltyyu commented on #10322
Any status update on this?

[2019-03-22 19:13] #3006 closed

[2019-03-22 19:28] RussTedrake commented on #1713
i guess it's still relevant as long as the `examples/simple_fourbar` directory is sticking around.  might be relevant as @amcastro-tri implements loop joints?   otherwise perhaps we should zap the examples?

[2019-03-22 19:33] sammy-tri commented on #7045
I think I'm gonna go with RobotLocomotion/lcmtypes for robots whose lcmtypes currently live in drake but have external drivers depend on drake solely for their lcmtypes (and these drivers often are repositories under RobotLocomotion anyway) (so probably iiwa, schunk, jaco)  unless there's strenuous objection.  I may not bother with optitrack.

[2019-03-22 21:02] jwnimmer-tri commented on #3081
From a quick scan of the code, I think our MultibodyPlant parser still treats "world" specially (it has checks against kWorldName which is `"world"`).  Whether the complaint in this issue description is a relevant defect or not, I'm not sure.  Maybe @sammy-tri can weigh in?

[2019-03-22 21:33] calderpg-tri commented on #10990
If possible, we'd like an equivalent function
[code]
since it can be easier to know which geometries you *don't* want than the geometries you do want (especially if you're adding/removing new geometries).

[2019-03-23 03:15] SeanCurtis-TRI commented on #10990
I don't see that that should be a problem -- and the "exclusion" variant is the higher priority?

[2019-03-23 16:11] #10154 closed

[2019-03-23 16:15] #10996 closed

[2019-03-23 16:15] #10872 closed

[2019-03-23 17:22] EricCousineau-TRI commented on #10288
Posted a brief benchmark script to run from source, specific to these artifacts. Haven't used McBloatface, yet.

Briefly tried using `namespace pydrake __attribute__((visibility("hidden")))`, but that wasn't the easy fix  - size is almost exactly the same :(
[code]

[2019-03-23 18:59] #10993 closed

[2019-03-23 19:13] sherm1 commented on #10993
@RussTedrake these are better now as of #10995. System and Context both have:
- num_continuous_states(), num_discrete_state_groups(), num_abstract_states()
- num_numeric_parameter_groups(), num_abstract_parameters()
- num_input_ports(), num_output_ports()

Context also has:
- num_total_states()

System also has:
- num_constraints(), num_constraint_equations()

Note the lack of an initial `get_` on

[2019-03-23 19:17] ddliugit opened #11005 "Installation issue about drake"
While I followed the installation procedure of drake on the website, I met an error.

This is the link I followed:
http://underactuated.csail.mit.edu/underactuated.html?chapter=drake

This is the error I met when I went to the step A.2.3 Test for success:

[code]

I followed the installation procedure with Mac. Can you help me out?

[2019-03-25 01:02] RussTedrake opened #11007 "`the Exponent -1 should be a positive integer but it is not the case.`"
following up on the conversation from drake developers:
https://drakedevelopers.slack.com/archives/C0JNB2E3S/p1551753164015700

here is the first reproduction (from @TobiaMarcucci):
[code]
we currently believe that calling `Expand` on the `symbolic::Expression` can partially resolve the issue, but the current API would require us to loop through each element of the expression.  This is very cumber

[2019-03-25 02:08] andrewbest-tri opened #11008 "Furniture API needs to be implemented in Maliput."
Maliput Design doc specifies queries for fetching "furniture" of the road. This includes objects on the road as well as road-markings, traffic lights, signs, etc. So far, the API has implemented traffic lights as part of phasing, but the rest of the furniture API should be implemented.

We propose initially to implement Furniture as a new member of the road network.

Furniture encompasses the foll

[2019-03-25 10:11] RussTedrake commented on #10863
note to self: made progress in `van der pol ROA` notebook, but i need a few of the dependencies to land before i can push much farther.
also waiting on (or need to work around) #11007

[2019-03-25 10:36] RussTedrake commented on #6915
I think this has officially stalled.  With `LeafSystem` getting easier to use, and the existence now of `SymbolicVectorSystem` which can create simple systems in two lines.  Will close for now.

[2019-03-25 10:36] #6915 closed

[2019-03-25 12:44] EricCousineau-TRI opened #11009 "models: De-duplicate and clean up"
Relates #10531

We have some redundant models. I want to remove redundancy, and make things clearer (and possibly rely on upstream models when possible).

For example, @robert-verkuil ran into an issue where there are two Acrobot model files in the Drake source tree *that he can't use* from CMake (in `underactuated`):
`FindResourceOrThrow("drake/multibody/benchmarks/acrobot/acrobot.sdf") ` indicat

[2019-03-25 13:01] jwnimmer-tri commented on #11009
See also #5408 about the acrobot model file vs its URDF counterpart.
See also #10294 for same disease in acrobot, but about the code not the model files.

[2019-03-25 13:01] EricCousineau-TRI opened #11010 "install_data: Make explicit, remove unused cruft"
(Warning: Rant-y)

At present, `install_data` implicitly names its target `models`. I've always been confused by this, and I want that to change.

Additionally, there are *zero* usages of any customization of `prod_models_prefix` or `test_models_prefix`. Those should be explicitly defined too, rather than arbitrary prefixes. The `extra_prod_models` story also makes me sad.

This should be broken i

[2019-03-25 13:08] hongkai-dai commented on #5594
For solvers like Mosek and Gurobi which report the solver time, we can retrieve the time information form MosekSolverDetails or GurobiSolverDetails.

[2019-03-25 13:08] #5594 closed

[2019-03-25 13:09] hongkai-dai commented on #5019
We have `MathematicalProgramResult::GetSolution(const symbolic::Expression& e) const` now.

[2019-03-25 13:09] #5019 closed

[2019-03-25 13:11] hongkai-dai commented on #466
I believe this is a feature request to `MultibodyPlant`. I will close this issue and re-open a new one for tracking.

[2019-03-25 13:12] hongkai-dai commented on #466
Reopen this issue with updated name, also I changed the assignee.

[2019-03-25 13:21] EricCousineau-TRI commented on #10294
I recommend we remove `examples/.../acrobot_plant.h`, and replace it with either
(a) something parsing `benchmarks/.../acrobot.sdf` or
(b) `benchmarks/.../acrobot/make_acrobot_plant.h`. (`benchmarks/.../acorobt/acrobot.h` is not a `LeafSystem`, which is totes fine by for benchmarking).

I would prefer we prefer exporting useful benchmarks (potentially with a disclaimer of an unstable API) over exa

[2019-03-25 13:25] EricCousineau-TRI commented on #11009
Additionally: We have `//manipulation/models` and `//multibody/models`. One of these should disappear.

(Also, potentially we just move any generic models into `//models`? ...)

[2019-03-25 13:31] jwnimmer-tri commented on #11009
On principle, I think it's _completely fine_ to have a distinct models folder in each of those packages.  The two packages have different purposes and audiences, so could plausibly have different model sets.

However, in particular if you want to argue that box and box_small are stupid things to have in multibody/models, then that's a-ok by me to fix that acute problem.

This seems worse on all co

[2019-03-25 13:36] EricCousineau-TRI commented on #5408
Per #11009 / #11011, I want to delete `examples/Acrobot.{urdf,sdf}` and only use the benchmark versions.

Once the `examples` models are deleted / fully slated for deprecation (and not used at all), we can close this issue.

[2019-03-25 13:37] EricCousineau-TRI commented on #9572
I think this was resolved by @jwnimmer-tri's cleanup efforts (both `attic/` and `parsing/` consolidate).

@jwnimmer-tri Do you think we can close this?

[2019-03-25 13:38] jwnimmer-tri commented on #5408
@RussTedrake cares a lot about what the examples look like.  I suggest getting his explicit approval on any plan that touches exapmles/acrobot, before merging any PRs.

[2019-03-25 13:39] EricCousineau-TRI opened #11012 "Support resource deprecation"
Motivated by #11009: It'd be nice to actively warn users if a model is deprecated, because I want to delete confusingly redundant files.

*NEW Resource-general*: See Jeremy's first comment.

*OLD Parsing-specific*: For now, we could add a text-file scanning heuristic that will scan for a `DEPRECATED` comment and provide the message. Later, we can consider adding a `<drake:deprecated/>` tag for SDF

[2019-03-25 13:40] jwnimmer-tri commented on #9572
I'll double-check and then either fix with another PR or close if it's already done.

[2019-03-25 13:43] jwnimmer-tri commented on #11012
I'd say make it work for any resource, not just models.

We could install them to `share/drake/deprecated` instead (or whatever) once they become deprecated, and FindResourceOrThrow can be taught to look there and warn (but succeed).  No need to pollute the parsers or otherwise with an installation-related concern.

[2019-03-25 13:45] EricCousineau-TRI commented on #11012
SGTM. Updated title; would be nice to ensure it works in concert with `package://` discovery (#10531), at least for Drake's package path file resolution.

[2019-03-25 13:48] amcastro-tri commented on #3155
@sherm1, I believe this is resolved now! re-open if I'm wrong.

[2019-03-25 13:50] amcastro-tri commented on #10322
yes. I will start pushing my dev code this week. It includes cache entries to accelerate mass matrix computations plus other goodies.

[2019-03-25 13:51] jwnimmer-tri commented on #3155
No, it is not resolved.  Sherm and I (and Lesley) specifically discussed this on Friday.

[2019-03-25 14:09] EricCousineau-TRI commented on #11012
Hm... If we do it purely in a resource-based fashion, how might we add a message for deprecation timeline and what to use instead? I guess we could do something like:
[code]

That way it spews a message on access to that resource?

[2019-03-25 14:16] amcastro-tri commented on #10294
Option a) already exists: `drake/multibody/acrobot`.
The value of `examples/acrobot` is that it shows how to make a system with hand-written dynamics?
Probably we could make `examples::acrobot::AcrobotPlant` to use the math provided by `multibody::benchmarks::Acrobot`?. That way the benchmark remains non-system code and the examples becomes a thing wrapper around that code.

[2019-03-25 14:19] amcastro-tri commented on #466
@hongkai-dai, could we close this one and open a new specific issue (with reference to this if it helps). Lots of old discussions and notation use. Also, there are the `MBP::CalcBiasFor[Your Jacobian type]()` methods. Maybe we just need a new variant of those? would you specify in the new issue?

[2019-03-25 14:24] hongkai-dai opened #11013 "MultibodyPlant<double> computes Jdot * v"
The term Jdot * v is often needed when computing the time derivative of J * v. Currently to compute Jdot * v, we have to use MultibodyPlant<ADS> to compute `J`, with its gradient `dJdq` as the gradient of `J`, and then compute dJdq * qdot to get Jdot, and then compute Jdot * v. This computation is complicated and not efficient. It is better to compute Jdot * v directly from MBP<double>.

This issu

[2019-03-25 14:25] hongkai-dai commented on #466
Close this issue as we have #11013

[2019-03-25 14:25] #466 closed

[2019-03-25 14:27] avalenzu commented on #10932
Will it be an issue that we don't have a method to compute `dquat_AB_dq` in MbP?

[2019-03-25 14:30] hongkai-dai commented on #3128
Close this issue as we don't have testIK matlab code any more.

[2019-03-25 14:30] #3128 closed

[2019-03-25 14:33] hongkai-dai commented on #10932
Good call. I think we have dangular_velocity_AB_dq in MBP, and we can compute dqdot_dangular_velocity, so we can compute dquat_AB_dq, but it would be better if MBP provides a function to do that.

[2019-03-25 14:33] avalenzu commented on #10909
Sorry for the confusion. I think (correct me if I'm wrong, @RussTedrake) that the original complaint of missing parallelism was *entirely* about the names.

Personally, I don't have any objection to only having `CalcDiscreteVariableUpdates()`.

[2019-03-25 14:35] hongkai-dai commented on #3178
I don't think we will add graspit or any grasp planner into Drake, as we don't have any immediate usage of these planners. I will close this issue.

[2019-03-25 14:35] #3178 closed

[2019-03-25 14:36] avalenzu commented on #10932
Do you mean dquatdot_dangular_velocity?

[2019-03-25 14:36] hongkai-dai commented on #3869
@sammy-tri is this issue still active?

[2019-03-25 14:38] hongkai-dai commented on #10932
Yes, good catch.

[2019-03-25 15:04] EricCousineau-TRI commented on #10294
Aye, a form of that would be fine by me.

@jwnimmer-tri When you have a chance, can you scribe down what you mentioned your preference was per the f2f among the three of us (you, Alejandro, and myself)?

[2019-03-25 15:05] sherm1 commented on #3155
@amcastro-tri this refers to being able to declare an output port that doesn't have its own cache entry but rather just exposes some other Context object like state variables or someone else's cache entry. We don't have that option yet.

[2019-03-25 15:08] EricCousineau-TRI opened #11014 "examples: Merge `//examples/multibody/*` into `//examples`"
At present, a *lot* of examples use `RigidBodyTree`. We should delete them or move them to `attic` (I prefer deletion!).

We should then merge `//examples/multibody/*` into `//examples` (as it's no longer a useful distinction?).

\cc @jwnimmer-tri @amcastro-tri

Relates #5408

[2019-03-25 15:14] hongkai-dai commented on #4841
From Siyuan's comment, the solution is to use the qp controller, not the pid controller. I will close this issue.

[2019-03-25 15:14] #4841 closed

[2019-03-25 15:15] EricCousineau-TRI commented on #11005
Can you print the results of `which python` to ensure that you're using the Homebrew version?
https://drake.mit.edu/python_bindings.html#check-installation

[2019-03-25 15:15] hongkai-dai commented on #5052
@SeanCurtis-TRI I remember we had some discussion on adding qhull. Do you think we still need it?

[2019-03-25 15:17] hongkai-dai commented on #5632
I don't think we need this, we currently don't have a solver specifically for polynomial optimization. Close this for now.

[2019-03-25 15:17] #5632 closed

[2019-03-25 15:18] amcastro-tri commented on #11013
@hongkai-dai, is [this](https://github.com/RobotLocomotion/drake/blob/master/multibody/plant/multibody_plant.h#L1742)? or maybe another variant?
In MBP we call "bias" to the product `Jdot * v`, maybe that caused confusion? see #10664.

[2019-03-25 15:19] EricCousineau-TRI commented on #11005
Also, as a BTW, there are instructions to install via Docker if you're looking to just peruse the examples / do the assignments:
http://underactuated.csail.mit.edu/Spring2019/install_drake_docker.html

[2019-03-25 15:21] hongkai-dai commented on #5648
I don't think this is a good idea any more. For example, the constraint `x0 >= sqrt(x1^2 + x2^2)` could be interpreted as a Lorentz cone constraint, if other constraints are all conic constraints, or should be cast as a nonlinear constraint `x0^2 >= x1^2 + x2^2, x0 >= 0` if other constraint in the optimization is not conic constraint, (as `x0 >= sqrt(x1^2 + x2^2)` is not differentiable at (x1, x2)

[2019-03-25 15:21] #5648 closed

[2019-03-25 15:22] hongkai-dai commented on #5651
@RussTedrake Is this feature still needed?

[2019-03-25 15:24] EricCousineau-TRI commented on #5651
(I'd like to echo the "scary" bit - we shouldn't be duplicating Eigen / numpy / etc. unless we gain some meaningful features - peeps should just use the types from the linear algebra / array libraries!)

[2019-03-25 15:26] hongkai-dai commented on #5718
@EricCousineau-TRI , is this issue still active? Feel free to close or reassign it.

[2019-03-25 15:27] hongkai-dai commented on #5936
@siyuanfeng-tri could you update the status of this issue?

[2019-03-25 15:30] hongkai-dai commented on #6427
direct_collocation_test now checks the total cost.

[2019-03-25 15:30] #6427 closed

[2019-03-25 15:31] jwnimmer-tri commented on #11012
Sure, or even a single YAML/JSON file or whatever, where we can list files + messages (sharing a message with multiple files is probably common).  Doing that might even mean that we can keep the files in their original path, but still have FindResource warn?  Less shuffling is probably better.

[2019-03-25 15:31] hongkai-dai commented on #6667
in `multibody/inverse_kinematics` folder, all the constraints have nice documentation.

[2019-03-25 15:31] #6667 closed

[2019-03-25 15:32] hongkai-dai commented on #6655
@EricCousineau-TRI could you update the status of this issue?

[2019-03-25 15:34] hongkai-dai commented on #6654
@EricCousineau-TRI could you update the status of this issue? Thanks!

[2019-03-25 15:34] EricCousineau-TRI commented on #6655
No longer relevant, as there was no concrete use case for this.
There is some related work going on in Anzu; if/when it's appropriate to upstream, a separate issue should be used to track that work.

\cc @naveenoid @thduynguyen

[2019-03-25 15:34] #6655 closed

[2019-03-25 15:35] EricCousineau-TRI commented on #6654
Similar to #6655; this is stale w.r.t. usage in Drake.

Copying from there:

[2019-03-25 15:35] #6654 closed

[2019-03-25 15:36] SeanCurtis-TRI commented on #5052
It's probably worth closing until we have a concrete need.

[2019-03-25 15:38] hongkai-dai commented on #11013
Ah, I didn't realize it is called "bias". Yes, that is what we need. I will close this issue.

[2019-03-25 15:38] #11013 closed

[2019-03-25 15:40] hongkai-dai commented on #6893
We don't support iktraj any more. I will close this issue.

[2019-03-25 15:40] #6893 closed

[2019-03-25 15:43] hongkai-dai commented on #6924
I think Andres is working on this? Reassign the issue to Andres.

[2019-03-25 15:43] hongkai-dai commented on #7035
@EricCousineau-TRI , could you update the status of this issue? Thanks!

[2019-03-25 15:46] hongkai-dai commented on #7117
@EricCousineau-TRI could you update the status of this issue? Thanks!

[2019-03-25 15:46] #5052 closed

[2019-03-25 15:48] hongkai-dai commented on #7734
@fbudin69500 could you update the status on this issue? Thanks a lot!

[2019-03-25 15:49] hongkai-dai commented on #7821
@EricCousineau-TRI could you update the status on this issue? Thanks!

[2019-03-25 16:01] #8402 closed

[2019-03-25 16:03] hongkai-dai commented on #8515
@soonho-tri , could you update the status of this issue? Thanks a lot!

[2019-03-25 16:04] hongkai-dai commented on #8750
@EricCousineau-TRI is this feature still needed?

[2019-03-25 16:06] EricCousineau-TRI commented on #7821
Updated - thanks!

[2019-03-25 16:06] hongkai-dai commented on #8791
@avalenzu could you update the status of this issue? Feel free to close or reassign it.

[2019-03-25 16:06] hongkai-dai commented on #8850
@SeanCurtis-TRI could you update the status of this issue? Can we close it?

[2019-03-25 16:07] EricCousineau-TRI commented on #8750
I would like to keep it open, yes.

[2019-03-25 16:07] hongkai-dai commented on #9379
close this issue due to the license issue

[2019-03-25 16:07] #9379 closed

[2019-03-25 16:08] EricCousineau-TRI commented on #7117
I think this one is more-or-less resolved (in that it hasn't been identified as a major pain point).

Can either re-open or open a new issue if it does become an issue.

[2019-03-25 16:08] #7117 closed

[2019-03-25 16:08] EricCousineau-TRI commented on #8850
I'd like to keep it open!

[2019-03-25 16:08] SeanCurtis-TRI commented on #8850
Still an open feature request.

[2019-03-25 16:09] hongkai-dai commented on #9859
@sammy-tri could you update the status on this issue? Thanks

[2019-03-25 16:10] hongkai-dai commented on #10188
@avalenzue, do you think we will add B-spline approach to Drake?

[2019-03-25 16:14] jwnimmer-tri commented on #5651
I would propose a different solution here -- things like `final_state` or `get_continuous_state` should just return an Eigen (ref or block) directly, not a BasicVector.  Then we never need get_value, no matter what operations are about to happen.

[2019-03-25 16:16] jwnimmer-tri commented on #10188
\CC @avalenzu

[2019-03-25 16:18] sammy-tri commented on #3869
Yes, in the sense that `examples/kuka_iiwa_arm/controlled_kuka/controlled_kuka_multibody_demo.cc`  still doesn't assert anything beyond the fact that the simulation executes at all.  I'm probably not going to change that anytime soon, we could close the issue if we decide it's not a problem.

[2019-03-25 16:21] EricCousineau-TRI commented on #7734
Running locally on machine @ 4c6246197 seems to indicate that this is no longer an issue (due to relevant `find_resource` fixes). Closing.

[2019-03-25 16:21] #7734 closed

[2019-03-25 16:22] EricCousineau-TRI commented on #7035
This has the double-whammy of being both `attic/` *and* `dev/`. Not worth investigating.

[2019-03-25 16:22] #7035 closed

[2019-03-25 16:23] sammy-tri commented on #9859
The issue is still present.

[2019-03-25 16:24] jwnimmer-tri commented on #10294
My premise was thus:
1. `//examples/acrobot` should continue to provide the code + models that are relevant / interesting to users:
   - the analytical plant leaf system
   - how to parse the acrobot.sdf (or urdf) into MbP
   - the SDF and the URDF
2. The benchmark tests should draw from (reuse) that code to the extent doing so is practical.
  - The benchmark tests should reuse the examples SDF/UR

[2019-03-25 16:30] sammy-tri commented on #3081
Yes, we still treat `"world"` in this fashion.  From reading the link to gazebo above, I think it might do the same thing? I'm OK with closing this issue.

[2019-03-25 16:30] sherm1 commented on #5651
Unfortunately neither `Context::get_continuous_state()` nor `Context::get_continuous_state_vector()` can return even a BasicVector, let alone a nice Eigen object. That's because our state is not contiguous in general.

[2019-03-25 16:30] EricCousineau-TRI commented on #10294
SGTM. (Still sad that we'd have public library code that depends on `//examples`, but meh for now.)

@amcastro-tri @mitiguy @sherm1 What say ye?

[2019-03-25 16:36] jwnimmer-tri commented on #3081
Alright.  I'll chalk this up as "When someone who cares about this and knows their business enough to (re-)articulate what the problem is speaks up, then we can re-open and fix it at that point."

[2019-03-25 16:36] #3081 closed

[2019-03-25 16:37] jwnimmer-tri commented on #10294
Oh, right, that was the other part -- possibly the benchmarks should become internal-only visibility (and not installed).

[2019-03-25 16:45] ddliugit opened #11017 "Password about Jupyter notebook with Docker"
I found that  password for Jupiter notebook with Docker is needed. Is this only for MIT student?

[2019-03-25 16:55] calderpg-tri commented on #10990
I think both inclusive and exclusive variants have equal priority.

An alternative would be to provide a wider range of set-like operations on top of `GeometrySet` so that inclusion/exclusion could be expressed there instead.

[2019-03-25 16:57] calderpg-tri commented on #10988
Since this is the performance bottleneck for our demo right now, this should be high priority.

[2019-03-25 17:02] SeanCurtis-TRI commented on #10990
Can you elaborate on your last point?

[2019-03-25 17:10] sherm1 commented on #10294
We've been working with the reverse assumption. `benchmarks` are a permanent part of the Drake used to make sure we're getting the right answers. `examples` come and go so can depend on things in `benchmarks` but not vice versa.

[2019-03-25 17:20] jwnimmer-tri commented on #10294
Hm, I think perhaps some of the axioms of the hallway conversation were not true.  There was a claim that there was a LeafSystem analytical implementation of Acrobot in benchmarks, but I don't see that.  I only see some Calc functions and then the MbP sugar.  I would be OK if there was a LeafSystem in examples, which called the Calc functions from benchmarks.  I just don't want the _LeafSystem_ co

[2019-03-25 17:21] calderpg-tri commented on #10990
My thinking there is that `GeometrySet` could behave more like a proper set (it already isn't intended to be iterable), and allow expressions like this
[code]
where the exclusion could be accomplished by the `NotIn` rather than a separate function on SceneGraph. The natural extension of this would be other set operators:
[code]
[code]
Something like this could be accomplished in a variety of ways

[2019-03-25 17:33] sherm1 opened #11020 "Update RigidTransform doc to explain why it is better than Isometry3"
Per [this comment](https://github.com/RobotLocomotion/drake/issues/9865#issuecomment-475309475) in #9865, @mitiguy wrote a nice intro there that should be captured in the docs:

Isometry stores the frames' relative orientation in a 3x3 rotation matrix
and the frames' relative position  in a 3x1 vector.
Isometry has the following defects:
1.  The name of the class is unfamiliar and unrecognizable t

[2019-03-25 18:28] #9572 closed

[2019-03-25 19:48] liangfok opened #11022 "Update Maliput Design Doc - No G1 Continuity Between Laterally Adjacent Segments"
To model curbs and raised sidewalks, we will need to violate G1 continuity between the road and the curb and elevated sidewalk. Our plan is to place the curb / widewalk in a different but laterally adjacent segment as the road. To do this, the G1 continuity of the road geometry will need to be violated along the lateral direction. We should thus update Maliput's design doc to explicitly say this i

[2019-03-25 20:03] RussTedrake commented on #10319
@sherm1 @mitiguy ping on this.  just saw that it's still open and no movement?  i would think it's an important and relatively quick fix?

[2019-03-25 20:08] RussTedrake opened #11023 "unordered map in symbolic::Polynomial causes indeterministic solution in sum-of-squares problem"
I noticed that I obtain random results when running SCS and/or Mosek on a simple SOS optimization.  @hongkai-dai found the source here:
https://github.com/RobotLocomotion/drake/blob/580f7007136672b566a975a38de46c0fb1007ce5/solvers/sos_basis_generator.cc#L133-L147

This means that I cannot get repeatable results if I want to e.g. use this inside a system during simulation.  (it is also hard to debu

[2019-03-25 20:31] sherm1 commented on #10319
I'm guessing the hardest part of this would be coming up with a unit test that fails with the current implementation but succeeds with the correct one. Any ideas on how to do that?

[2019-03-25 20:46] SeanCurtis-TRI commented on #4555
There is no longer any plan to use bullet. So, this is being closed. If bullet comes back into the mix, this can be re-opened.

[2019-03-25 20:46] #4555 closed

[2019-03-25 20:49] SeanCurtis-TRI commented on #4302
Closed as being uniquely RBT. If this proves to be useful, this can be re-opened.

[2019-03-25 20:49] #4302 closed

[2019-03-25 21:16] tri-ltyyu commented on #4270
Please use MBP instead. If it's still an issue, please open new issue.

[2019-03-25 21:16] #4270 closed

[2019-03-25 21:17] tri-ltyyu commented on #4333
Please use MBP instead. If it's still an issue, please open new issue.

[2019-03-25 21:17] #4333 closed

[2019-03-25 21:19] tri-ltyyu commented on #6644
Please use MBP instead. If it's still an issue, please open new issue.

[2019-03-25 21:19] #6644 closed

[2019-03-25 22:39] #10898 closed

[2019-03-25 23:21] DamrongGuoy commented on #10753
Fixed by #10813.

[2019-03-25 23:21] #10753 closed

[2019-03-25 23:37] #10988 closed

[2019-03-25 23:37] #8959 closed

[2019-03-26 00:19] jwnimmer-tri opened #11027 "Use --build_tests_only option in slow pre-merge CI builds"
There is a flag https://docs.bazel.build/versions/master/command-line-reference.html#flag--build_tests_only where only tested code gets compiled.  This is likely to speed up the pre-merge CI builds for large-footprint builds with symbols, such as lsan.  We should see if turning this on makes things better, and if we agree that it's okay to lose the "prove this untested code can compile in lsan mod

[2019-03-26 00:20] jwnimmer-tri commented on #11027
(Might also make sense for coverage, valgrind, etc.)

[2019-03-26 00:35] RussTedrake commented on #10319
i think it should be relatively easy to test if it's uniform or not?  e.g. like i did for the random sources?
https://github.com/RobotLocomotion/drake/blob/master/systems/primitives/test/random_source_test.cc#L53

[2019-03-26 00:35] mitiguy commented on #9865
PR #11026 is in process to address issue #11020
(Update RigidTransform doc to explain why it is better than Isometry3).

[2019-03-26 01:03] RussTedrake commented on #5651
Calling `get_value` or worse `CopyToVector` still happens all over the place -- not just trajectory optimization -- and continues to detract from usability.  I will happily support proposed solutions.

[2019-03-26 01:14] RussTedrake commented on #10294
I agreed with @jwnimmer-tri 's statement above that `//examples/acrobot` currently provides code + models that are relevant / interesting to users:
- the analytical plant leaf system
- how to parse the acrobot.sdf (or urdf) into MbP
- the SDF and the URDF

I would also add that the underactuated repo builds on those classes for further examples (in python).  I think the underactuated example would

[2019-03-26 01:17] RussTedrake commented on #5408
Just answered in #10294 .  There is downstream code that depends on these (in underactuated).

[2019-03-26 01:39] mitiguy commented on #10319
I'll look at creating a test that:
1.  Makes the current test fail.
2.  Checks that the better algorithm succeeds.
I'll reference the books you mentioned -- stats is not my strength.

[2019-03-26 01:48] RussTedrake commented on #10319
The algorithm is trivial, and we agree that it should be right.  I can PR it myself if it’s too much trouble...

[2019-03-26 04:34] sherm1 commented on #10319
We acquired the reference "Simulation and the Monte Carlo Method by Rubinstein and Kroese, 2017 page 108". Without Hongkai, we are short on stats chops around here -- determinism is our collective strength!

[2019-03-26 04:41] sherm1 commented on #11020
Resolved by #11026.

[2019-03-26 04:41] #11020 closed

[2019-03-26 05:04] sherm1 commented on #10992
FYI @edrumwri I determined experimentally that at least for the existing rk3 and implicit_euler test cases the Simulator never tries to evaluate the derivative twice with identical contexts.

[2019-03-26 11:04] RussTedrake opened #11029 "python tests shouldn't have to argparse just to avoid showing windows"
Writing this:
https://github.com/RobotLocomotion/drake/blob/master/bindings/pydrake/systems/drawing_graphviz_example.py#L48
actually requires a lot of lines
https://github.com/RobotLocomotion/drake/blob/master/bindings/pydrake/systems/drawing_graphviz_example.py#L14-L20
and detracts from the simplicity of our "simple" examples.

can't we just add the line to the bazel test rule for python binaries

[2019-03-26 12:08] jwnimmer-tri commented on #11017
I am not aware of any Drake software or instructions that require a password, but I also don't really understand the question.  Can you post a link to instructions you were following that ended up asking for a password?

As background, please take a look at https://www.chiark.greenend.org.uk/~sgtatham/bugs.html for some advice about how to inform bug reports in a way that enables useful replies.

[2019-03-26 12:08] #11017 closed

[2019-03-26 12:13] jwnimmer-tri commented on #11029
We could do set the environment `MPLBACKEND=Template` in test_env, similar to https://github.com/RobotLocomotion/drake/blob/a7ad789c2827e85fd4d4bee8b6db57ce263e339f/tools/bazel.rc#L37-L42.  That seems like a fine change to me.

[2019-03-26 12:18] jwnimmer-tri commented on #8116
@EricCousineau-TRI a could months ago you changed this from team "kitware" to "manipulation".  It seems like a pydrake / bindings question, so should be "kitware"?  Or did I misunderstand?

[2019-03-26 13:33] EricCousineau-TRI commented on #8116
Er... I don't remember... Happy to switch it back.

[2019-03-26 13:37] #10971 closed

[2019-03-26 13:53] edrumwri commented on #10992
Simulator never tries or the caching system never tries?

[2019-03-26 14:03] EricCousineau-TRI opened #11031 "doc: Remove hyperlink from front-page image"
Every time I go to https://drake.mit.edu, I always click on the page to get focus. Every time that I do, I get redirected to a page with just the image because I accidentally click on the image :(

Would be nice to remove the hyperlink (and possibly add `max-width`).

Relates: https://github.com/sphinx-doc/sphinx/issues/4229

[2019-03-26 14:22] EricCousineau-TRI opened #11033 "math: Add sugar for `Class(std::initializer_list<T>)` for `RigidTransform` + `RollPitchYaw`"
From: https://reviewable.io/reviews/robotlocomotion/drake/10959#-LaX1_PJ4UjFsxlYfPq8:-LapnPdt7Mziuu88TpmA:bu87cfd

Same thing for `RollPitchYaw` as well.

[2019-03-26 14:24] jwnimmer-tri commented on #11033
I am not sure that `RigidTransform({a, b, c})` would obviously imply to a reader that the thing being created is an xyz translation, so I'm not sure that such a sugar is a good tradeoff.

[2019-03-26 14:28] EricCousineau-TRI commented on #11033
At present, we have the same ambiguity, but more verbose:
https://github.com/RobotLocomotion/drake/blob/4c6246197ac615a335cf7302d2d95f921303af47/math/rigid_transform.h#L112

I'd like to throw my hat in the ring of "strict improvement", but am up for being convinced otherwise.
(I don't think this is ambiguous, as RPY can only be specified explicitly, which makes sense for now.)

[2019-03-26 14:31] jwnimmer-tri commented on #11033
To me, Vector3 more clearly implies a translation, vs a pile of 3 doubles.  As always though, looking at calling code would inform the best answer.

[2019-03-26 14:33] EricCousineau-TRI commented on #11033
Disagreed. `Vector3` implies a 3-tuple to me, in any space.
The only disambiguation is `Eigen::Translation3d`, but meh, b/c it can be implicitly constructed.

[2019-03-26 14:37] jwnimmer-tri commented on #11033
This is why I hate backlog feature-request issues like this.  If you need the constructor, open a PR to implement it and demonstrate how it's useful.  If you don't need it, then there is no need to clutter up the issue database with hypothetical requests.

[2019-03-26 15:13] sherm1 commented on #10992
Every call to `IntegratorBase::EvalTimeDerivatives()` done by the integrators caused an actual computation indicating either that (a) something in the context had changed since the last call, or (b) caching was not enabled. Looking at the tests it appeared that caching was manually enabled for almost all of them but I might have missed something. When #10979 lands (caching by default) we can retry

[2019-03-26 15:30] sherm1 commented on #11033
My fault for encouraging this issue when it came up in a review discussion where an `Isometry3({1,2,3})` turned into a `RigidTransform(Vector3{1,2,3})`. Maybe that Vector3 isn't such a bad thing, @EricCousineau-TRI and we should close this?

[2019-03-26 15:33] edrumwri commented on #10992
I'm missing something then because we're relying upon the caching system to keep from repeating the first-same-as-last computation: how could "every call ... [cause] an actual computation" and the "integrators [not] do repeated derivative calculations"?

[2019-03-26 15:36] jwnimmer-tri commented on #459
This is a useful background discussion, but we're not going to pursue this feature for a while.

[2019-03-26 15:36] #459 closed

[2019-03-26 15:38] jwnimmer-tri commented on #1639
This is available in rough form now with the "attributes" on a program.  The request here is for sugar to convert attributes into QP/LP/etc.

[2019-03-26 15:40] jwnimmer-tri commented on #3089
The same work-around applies for MultibodyPlant -- we'll close this until someone wants to advocate that the work-around is unsatisfactory.

[2019-03-26 15:40] #3089 closed

[2019-03-26 15:40] jwnimmer-tri commented on #2969
@hongkai-dai says this is still relevant & he will work on this.

[2019-03-26 15:41] hongkai-dai commented on #3413
Close it for now. Will open it when needed.

[2019-03-26 15:41] #3413 closed

[2019-03-26 15:42] tri-ltyyu commented on #3773
We currently have SAS which is low precision. We'd still like a high precision solver, so leaving this in the backlog.

[2019-03-26 15:42] sherm1 commented on #9171
Per discussion with @RussTedrake, for System analysis it is important to know the _complete_ state so currently our analysis tools refuse to work with any System that has abstract state. However, Systems often use abstract state for non-physical things (results intended only for output or debugging, the current collection of geometries in SceneGraph). Problem: we want people to use abstract state

[2019-03-26 15:43] hongkai-dai commented on #3869
Close this issue for now, as we will rewrite kuka examples.

[2019-03-26 15:43] #3869 closed

[2019-03-26 15:44] sherm1 commented on #10992
Which integrators actually compute derivatives after computing the final state value?

[2019-03-26 15:44] hongkai-dai commented on #3945
Close it for now. Will reopen it if needed.

[2019-03-26 15:44] #3945 closed

[2019-03-26 15:45] hongkai-dai commented on #4267
This is useful for bi-level optimization, Benoit is likely to work on this over the summer intern.

[2019-03-26 15:47] hongkai-dai commented on #4519
Close it for now, will reopen it if needed.

[2019-03-26 15:47] #4519 closed

[2019-03-26 15:48] hongkai-dai commented on #4642
We need to create a benchmark.

[2019-03-26 15:49] hongkai-dai commented on #4870
I will work on this

[2019-03-26 15:50] liangfok commented on #10917
@andrewbest-tri can this ticket be closed now that #10951 is merged?

[2019-03-26 15:51] jwnimmer-tri commented on #4999
This is still a useful placeholder issue, but we are not actively pursuing it.

[2019-03-26 15:51] jwnimmer-tri commented on #5191
@soonho-tri Please either fix this or close the issue as WONTFIX.  "Missing tests" issues open for years on end have no useful value.

[2019-03-26 15:53] edrumwri commented on #10992
It depends how many steps you're taking. But regardless, there appears to still be a logical conflict in your statement above: either calls cause repeated computation or they don't (unless you're referring to a specific case, like existing tests, and not the general behavior).

[2019-03-26 15:54] hongkai-dai commented on #5681
We have `kInfeasibleCost` and `kUnboundedCost` in MathematicalProgram to synchronize the cost

[2019-03-26 15:54] #5681 closed

[2019-03-26 15:55] jwnimmer-tri commented on #5683
Duplicate of #4519.

[2019-03-26 15:55] #5683 closed

[2019-03-26 15:56] jwnimmer-tri commented on #5827
@EricCousineau-TRI has this been a pain point recently?  If not, maybe we should close this?

[2019-03-26 15:57] EricCousineau-TRI commented on #5827
Nope. And this def. requires more API churn than worth at the moment. I'm up for re-opening if someone else encounters this pain point.

[2019-03-26 15:57] #5827 closed

[2019-03-26 15:57] jwnimmer-tri commented on #5851
@soonho-tri or @RussTedrake Is this issue still relevant to any ongoing work correctly?  If not, maybe close it?

[2019-03-26 15:59] jwnimmer-tri commented on #5936
I will dispose of this issue forthwith.

[2019-03-26 16:00] jwnimmer-tri commented on #6108
This has not been refactored yet, but the need does not seem to be acute.  @EricCousineau-TRI please either fix it now, or turn this issue into a TODO in the code so that we can close it and stop cluttering the issues database.

[2019-03-26 16:01] hongkai-dai commented on #6134
Close it for now as we don't have a use case

[2019-03-26 16:01] #6134 closed

[2019-03-26 16:03] jwnimmer-tri commented on #6619
I will figure out how to deduplicate this issue with the other related linked issues upthread.

[2019-03-26 16:15] jwnimmer-tri commented on #10322
I maintain my thesis that no performance fix PR should be opened until the "Program that I ran which indicates an improvement" is PR'd concurrently or first.

[2019-03-26 16:21] jwnimmer-tri commented on #9171
Possibly more useful would be to tag such tainted state, but then guard based on which _operations_ it taints (i.e., cache entries).  So if it only taints a debugging output port, and that port is not connected, then it can be ignored for analysis.  Basically, a sparsity concern, rather than trying to define what "non-physical" means.  In fact, I think already right now, it should be practical to

[2019-03-26 16:36] SeanCurtis-TRI opened #11035 "Allow post-declaration modification of cache entry prerequisites"
While some systems' components are compile-time defined, some systems are defined dynamically (changing number of ports, state, etc.). If these dynamic systems have output ports, cache entries, whatever, that depend on those dynamically-created structures, there is not currently many good options for doing so, including 1) introduce a "finalize" invocation, 2) declaring broad pre-requisites that m

[2019-03-26 16:47] edrumwri commented on #10992
Update per f2f: RK3 is not actually a FSAL integrator (contrary to its documentation).

[2019-03-26 16:47] jwnimmer-tri commented on #11035
For any solution here, I'd like to encourage authors to have meaningful names and control flow.  So for example, declare a ticket "All input ports that give us poses", have the downstream computations depend on that ticket (which can happen early), and then later as we add new input ports we should have them feed into the "Input ports with poses" ticket.  We should **not** have the "add input port

[2019-03-26 17:21] #11031 closed

[2019-03-26 17:29] RussTedrake commented on #4267
for bonus points: It would be really awesome if a system that setup and solved a mathematical program  inside e.g. a derivatives/update/output method could easily use this to support autodiff.  I don't think implementing `Solve<T>(prog, ...)` is quite enough... and think we should open another issue if/when we want to do this.  I just wanted to add the idea here in case it impacts any design decis

[2019-03-26 18:16] soonho-tri commented on #11007
1) Using `Vdot = V.Jacobian(x).dot(f).Expand()` instead of `Vdot = V.Jacobian(x).dot(f)` gives us the right answer:

[code]

[code]

I'll check the `Differentiate` function to use `/ X` instead of `* pow(X, -1)`. I think it should help for common cases.

[2019-03-26 18:33] andrewbest-tri commented on #10917
I would like to leave it open until the YAML loader supports DirectionUsageRules.

[2019-03-26 18:38] soonho-tri opened #11037 "Build errors from Apple LLVM version 10.0.1 (clang-1001.0.46.3)"
Some examples:

[code]

[code]

[2019-03-26 18:39] SeanCurtis-TRI commented on #11035
I love that. It maintains maximum clarity at the point of declaration.

[2019-03-26 19:34] soonho-tri commented on #11037
I have https://github.com/soonho-tri/drake/commit/58f8ca5c8c45869ff1899f01bab85d92eed668d7 which fixes the problem for the new Apple clang. But it generates warnings when I tried it with an old version of clang (i.e. `clang-6.0`):

[code]

[2019-03-26 19:39] #9145 closed

[2019-03-26 20:17] sherm1 commented on #11035
I believe this is already possible! The outline is:
- in System constructor, create a new DependencyTracker and get the ticket
- give the ticket a friendly name as Jeremy suggests above
- declare the cache entry and make it depend on that ticket
- as you create new input ports, subscribe the new tracker to those ports' tickets

I think all the necessary methods are public. We'll try this and upgra

[2019-03-26 21:47] edrumwri commented on #10888
@sherm1 and I just had a very productive discussion about this (in the context of PR #10916). @amcastro-tri you do _not_ want to add abstract state to MBP, if you can help it, and this is one of the cases where you can avoid it. Why? Adding abstract state will keep MBP from being used in the analysis tools (as discussed by @RussTedrake in yesterday's meeting).

The solution to your problem appears

[2019-03-26 22:36] EricCousineau-TRI opened #11046 "pybind: Figure out why `py::cast(obj, reference_internal, parent)` does not work with `AddMultibodyPlant*()` workflows"
Per investigation around here: https://github.com/RobotLocomotion/drake/pull/19655#pullrequestreview-1494030522

It seems like this may be an issue with doing `py::cast()` on an object that may not yet be exposed to Python.

<details>
<summary>Old Text</summary>

# Generic Problem

See below about "I thought that [...]"

# OLD Acute Issue (Resolved via Workaround)

@gizatt ran into an edge case fo

[2019-03-26 23:11] sherm1 commented on #10888
Say we have a Diagram D with two subsystems, A and B, and both subsystems have some state variables A.x and B.x (may including continuous, discrete, abstract states; i.e., `x={xc,xd,xa}`). Modifying A.xd, for example, will invalidate any computations in A that depend on A.xd. That will _not_ cause invalidation of computations in B that depend on B.xd.

However, modifying D.xd (the composite discre

[2019-03-26 23:42] sherm1 commented on #11035
I spoke to soon. Only the dependency tickets are present in the System -- the trackers exist only in the Context so can't be created in a System constructor. It wouldn't be too hard to support custom dependency trackers, but it would be a project.

What would be possible now is to use the cache entry itself this way (it actually _does_ hold a "custom dependency tracker" of sorts). Give it a friend

[2019-03-27 00:30] EricCousineau-TRI commented on #6108
Ehhhh, looking back on it now, I don't think this addresses any major pain points. I don't think it's even worth a TODO for now.

Football!

(... because punting?)

[2019-03-27 00:30] #6108 closed

[2019-03-27 00:48] sherm1 commented on #9865
#10959 merge is substantial progress on this issue though much more to go.

Please everyone start using RigidTransform instead of Isometry3!

[2019-03-27 00:50] sherm1 commented on #9251
Status: PR #10979 in review to address this issue.

[2019-03-27 00:55] sherm1 commented on #9905
Status: held design review for ContactSurface query API & data structure using WIP PR #11034.

[2019-03-27 00:56] sherm1 commented on #10747
status: #10823 merged to unblock @hongkai-dai

[2019-03-27 00:57] sherm1 commented on #10851
status: much pain, _almost_ refactored

[2019-03-27 01:00] sherm1 commented on #10888
Status: investigated. Looks like a zero-order-hold of the _input_ ports makes more sense and wouldn't require use of the dangerous RawUpdate method.

[2019-03-27 01:07] sherm1 commented on #10842
Status: sherm will add AdvanceTo(), fix the documentation, and convert Drake code to use it. StepTo() will still be available and not officially deprecated since Russ time to adapt.

Per f2f with @edrumwri I will also add `HandlePendingEvents()` as shorthand for `AdvanceTo(context.get_time())` which does the same thing, provided the context is the one in use by the simulator. That is mostly useful

[2019-03-27 12:15] RussTedrake opened #11051 "suspicious behavior in python CalcGravityGeneralizedForces"
https://stackoverflow.com/questions/55373650/how-to-properly-use-multibodyplantcalcgravitygeneralizedforces-in-pydrake

[2019-03-27 13:11] jamiesnape opened #11052 "Migrate Homebrew formulae to homebrew-core where appropriate."
To save on the ever-increasing maintenance costs, avoid conflicts with `homebrew-core` packages, and benefit a potential wider audience for those formulae.

* [x] `embree` Homebrew/homebrew-core#37655
* [x] `kcov` Homebrew/homebrew-core#37659
* [x] `ospray` Homebrew/homebrew-core#38637

[2019-03-27 13:31] jamiesnape commented on #11037
We can add Apple specific flags. The `COMPILER_ID` use can use in https://github.com/RobotLocomotion/drake/blob/f3a152c11b8a4f607093bc83009262cca373d392/tools/skylark/drake_cc.bzl#L56-L62 should be `AppleClang`.

[2019-03-27 13:34] jamiesnape commented on #11037
Something like
[code]

[2019-03-27 13:37] jwnimmer-tri commented on #11037
It's probably worth adding that structure into the file, even if the APPLECLANG_FLAGS soon goes to empty after we tidy up Drake's code nits.

[2019-03-27 13:41] jamiesnape commented on #11037
Agreed.

[2019-03-27 13:43] soonho-tri commented on #11037
I've updated my WIP branch: https://github.com/soonho-tri/drake/commits/fix-11037

 - Updated the code so that we don't need to suppress `return-std-move`.
 - Fixed a couple of locations not to generate `self-assign-overloaded`
 - The only place where we get `self-assign-overloaded` is in `symbolic_py.cc` which uses pybind11 idiom `def(py::self /= py::self)`.

BTW, `self-assign-overloaded` is also

[2019-03-27 13:46] jamiesnape commented on #11037
I think we can also do version-specific flags, but that is a load of extra code that we should probably defer or workaround.

[2019-03-27 13:53] amcastro-tri commented on #10888
I think the comment [here](https://github.com/RobotLocomotion/drake/blob/master/multibody/plant/multibody_plant.cc#L1774) is wrong. It should say `S⁺ = S(tₛ, x⁻(tₛ), u⁻(tₛ))` (using the notation in `simulator.h`). That is, the Stribeck results `S` should not be looked at as a continuous function of `(t, x, u)` but rather as a discrete update.
This line of reasoning makes me think the solution [her

[2019-03-27 14:05] edrumwri commented on #10888
It does indeed require additional (discrete) state.

[2019-03-27 14:07] edrumwri commented on #10851
Correction: it's almost refactored in my branch. Getting it through the PR process may be painful!

[2019-03-27 14:07] EricCousineau-TRI commented on #10851
Is there a WIP branch that the aforementioned peanut gallery can peek at?

[2019-03-27 14:09] edrumwri commented on #10851
I'll post it to this issue when ready. I'm now rejiggering python bindings
for the refactor.

--------------------------------
Evan Drumwright
Senior Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Wed, Mar 27, 2019 at 7:07 AM Eric Cousineau <notifications@github.com>
wrote:

--

Confidential or protected information may be contained in this email
and

[2019-03-27 14:10] #11029 closed

[2019-03-27 14:29] #11022 closed

[2019-03-27 15:10] #10992 closed

[2019-03-27 15:16] jamiesnape commented on #11037
I would say PR https://github.com/soonho-tri/drake/commit/809598265f613ae7aa26d788037a03844af0ed2a and the addition `-Wno-self-assign-overloaded` for Mac only for now, but others may disagree.

[2019-03-27 15:18] sherm1 commented on #11051
One thought that pops to mind @amcastro-tri is that the PyDrake result is consistent with gravity=0. That makes me wonder whether the fancy numpy binding for UniformGravity might be ignoring the given vector.

[2019-03-27 15:46] gizatt commented on #11051
Maybe this is the same as what you mean, but it looks like MBT has two methods for registering ForceElements -- one for generic force elements, and one for UniformGravityFieldElements. Maybe the Python call is not going into the specialized (latter) method and not getting registered to the MBT's `gravity_field_`, which is what gets checked in the `CalcGravityGeneralizedForces` method?

[2019-03-27 16:14] soonho-tri commented on #11037
Yes, I'm fixing it up..

[2019-03-27 17:19] siyuanfeng-tri commented on #4911
I am tempted to just close it due to lack of strong desire and relative low value added to drake. Moving to backlog for now.

[2019-03-27 18:37] edrumwri opened #11057 "Speed continuous MultibodyPlant with contact and friction"
MultibodyPlant requires the ability to rapidly simulate contact with Coulomb friction as a continuous system (i.e., simulation through our initial value problem solvers, aka "integrators"). Whether the contact model is hydroelastic (in development) or the present point-based contact model, we require this capability.

We know this problem to be computationally stiff when the compliance is low and

[2019-03-27 20:12] edrumwri opened #11059 "Discrete updates in Simulator invalidates all subsystems in a Diagram at the rate of the fastest updating discrete system"
The Simulator performs a discrete update on a Diagram at the fastest update rate of any subsystem. *All* discrete values in *all* subsystems get updated at this rate, which means that all computations cached on the discrete variables become invalidated (even if they don't really change). This is liable to be a significant performance problem. Marking the priority as "medium" but I could see it qui

[2019-03-27 21:12] jwnimmer-tri commented on #11059
I remain 100% convinced that we should solve this (and #10149) by making Diagram do smarter things (not Cloning too much, not Invalidating too much) when only some subsystems have update events happening.  It really, really, isn't that hard.  Can I convince you to try that first, before unsafe raw events and before CoW affordances bleed everywhere?

[2019-03-27 21:41] sherm1 commented on #11059
I'm happy to give that a try before we go whole-COW!

[2019-03-27 21:48] jwnimmer-tri commented on #11059
(I am happy to do a quick VTC when relevant to explain my reasoning, if that helps.)

[2019-03-27 23:17] EricCousineau-TRI commented on #10982
Hm... I updated the checkboxes for what would maximize backwards compatibility. However, given that we've already broken it (as some Anzu code is broken by the current Drake `master`), should we just keep it as-is? I can forward-fix the Anzu code.

@jwnimmer-tri @amcastro-tri Can I ask y'all's opinion?

[2019-03-27 23:23] jwnimmer-tri commented on #10982
If doing the same thing in pydrake as we did in C++ is easy enough (and it looks like that's what your checkbox list implies), then that seems worthwhile.

[2019-03-28 01:53] sherm1 commented on #11059
One CoW-free approach that could partially address the problem:
- teach Diagram dispatchers to copy only the _structure_ of Diagram DiscreteValues (DVs) and State until reaching LeafSystem. Then copy DVs or States only for LeafSystems that have pending Events, just prior to dispatching those. The result would be partially-filled-in DiagramDiscreteValues or DiagramState objects.
- provide context.S

[2019-03-28 13:01] #11037 closed

[2019-03-28 13:52] avalenzu commented on #10188
Yes, my current plan is to work on this at the beginning of April.

[2019-03-28 13:53] avalenzu commented on #8791
This is `attic` code. Closing.

[2019-03-28 13:53] #8791 closed

[2019-03-28 14:26] jwnimmer-tri commented on #11059
I think you're right that partitioning by System is good enough for now.  I am not worried about a System that has multiple groups of state and we're copying all of it when we only needed to copy some of it -- our problems occur either when high-rate small-state systems cause low-rate large-state systems to copy unnecessarily, or when we get the O(N^2) problem of N systems each with an update so w

[2019-03-28 14:26] EricCousineau-TRI commented on #10000
FTR This is effectively captured by this issue (and its duplicates):
https://github.com/nlohmann/json/issues/96

[2019-03-28 14:37] amcastro-tri commented on #11051
yes, that's what's happening. Let me see how to fix.

[2019-03-28 14:38] amcastro-tri commented on #11051
In C++ we also have `UniformGravityFieldElement::CalcGravityGeneralizedForces()`. We could add the python binding for that so you can call that computation directly on the element. Would that work @gizatt?

[2019-03-28 14:39] EricCousineau-TRI commented on #10729
Updated title to only be Drake Visualizer, since VTK build recipe is covered by #10941.

[2019-03-28 14:43] jwnimmer-tri commented on #11051
Adding Gravity should work the same in both C++ and broken.  To the extent C++ uses a specialization to achieve this, pydrake must deal with that as well.  Even if `UniformGravityFieldElement::CalcGravityGeneralizedForces` also gets bound, `AddForceElement` is still broken.

[2019-03-28 14:53] EricCousineau-TRI commented on #10542
### Part A
Per f2f, the first checkboxes on #10422 (fix failing tests) seems like a prerequisite to have passing CI. Should that be resolved first before we invest effort into releasing packages? Or do we need special tags?

I've added a checkbox above to have CI for Snopt fortran.

### Part B
Also, providing a multiple release types requires #10948, which would require 20 PEHs of Jamie's time; at

[2019-03-28 14:55] EricCousineau-TRI commented on #8978
Remaining item is to move some code in Drake, then this issue can be resolved.

[2019-03-28 14:56] amcastro-tri opened #11064 "Update call sites to use RigidTransform"
These are the MBP's APIs that were upgraded to use RigidTransform in #10959, showing the number of times they get called within Drake code:

- [x] #11074 SetFreeBodyPose: 42 - @EricCousineau-TRI
- [x] #11180 AddJoint: 98 - @EricCousineau-TRI
- [x] WeldFrames: 46 - @mitiguy
- [x] SetFreeBodyPoseInWorldFrame: 3 - @mitiguy
- [x] SetFreeBodyPoseInAnchoredFrame: 7 - @mitiguy
- [X] #11091 RegisterVisual

[2019-03-28 14:58] amcastro-tri commented on #9865
Now that #10959 was merged, issue #11064 was created to track the progress on migrating call sites within Drake.

[2019-03-28 14:59] EricCousineau-TRI commented on #11052
Will save a significant amount of time.
(Every update requires a ~half day of fixing + rebuilding packages.)

[2019-03-28 15:09] RussTedrake commented on #10551
happened again just now.

[2019-03-28 15:30] EricCousineau-TRI commented on #10551
Uh oh!
Can you post of a GitHub Gist of the output, and the output of the diagnostics?

[2019-03-28 15:42] EricCousineau-TRI commented on #11051
Solving the API parity can be done by adding a overlay (before the first `AddForceElement`) that catches `UniformGravityFieldElement` and dispatches to that specialization.

I can submit this PR if you'd like.

TBH, though, it'd be *way* nicer if the public API didn't require internal compile-time specialization...
The better solution is to not constrain `AddForceElement` to only permit one additi

[2019-03-28 15:50] EricCousineau-TRI commented on #11064
What's the suggested process for easily catching these conversions?
Do you have a patch to disable the implicit bits, so then things fail when `Isometry3` is used locally in Drake (or Anzu)?

[2019-03-28 15:50] amcastro-tri commented on #10878
Sorry, but I got lost in the conversation. Why is it we decided to tackle #10149 first instead of this issue? If I remember correctly this is the cause of slow down in Anzu sims right now.

[2019-03-28 15:51] EricCousineau-TRI commented on #11046
As #11047 has been resolved, I'm demoting the priority to `low` to continue digging into this and find the root cause, given that we have a workaround (and a [crappy] policy for that workaround).

[2019-03-28 15:51] jwnimmer-tri commented on #10542
Those tests are marked expected-fail / ignored as necessary.  They are not blocking this issue, or the transition.

[2019-03-28 15:56] amcastro-tri commented on #11064
Good question.

1. MBP methods soon to be deprecated are [within this](https://github.com/RobotLocomotion/drake/blob/a57d3198a17e12bff803b3421d0c99eb7a1a0b93/multibody/plant/multibody_plant.h#L2938) "non documented Doxygen" section.
2. Take [`SetFreeBodyPoseInWorld()`](https://github.com/RobotLocomotion/drake/blob/a57d3198a17e12bff803b3421d0c99eb7a1a0b93/multibody/plant/multibody_plant.h#L2995) as

[2019-03-28 15:58] jwnimmer-tri commented on #11059
Hmm, is this issue a duplicate of #10878?

[2019-03-28 15:59] amcastro-tri commented on #11064
Sorry, I just realized what you asked @EricCousineau-TRI. The easy (cave man like me) approach is to simple comment out the implicit "conversions" [here](https://github.com/RobotLocomotion/drake/blob/a57d3198a17e12bff803b3421d0c99eb7a1a0b93/math/rigid_transform.h#L291), also within a "non documented Doxygen" section.

[2019-03-28 16:01] sherm1 commented on #10878
Closing as duplicate of #11059 which has a better discussion thread.

[2019-03-28 16:01] #10878 closed

[2019-03-28 16:02] jwnimmer-tri commented on #10542
I have removed that checkbox from the top post; I would prefer to track it with the checkbox in #10878, since it's relevant to both Bazel and CMake builds, but most relevant to the Bazel builds (which actually run the tests).

[2019-03-28 16:02] amcastro-tri commented on #11051
I agree, that'll get resolved with future better contact models.

[2019-03-28 16:06] jwnimmer-tri commented on #10542
Since (2) proposes that it can be deferred until we start the transition period ("a fair compromise is to wait until we switch our default to gfortran"), and that period is not yet upon us, I'll lower the priority here for now.  But if indeed it is such a chore to refactor the CI, it might still be worth getting underway, so that it's ready when we need it (in 3? 6? weeks from now).

[2019-03-28 16:06] amcastro-tri commented on #11059
To bring what was lost in #10878 (and possibly Slack conversations). This **is** the cause for the current slow donw from 1.6X to 1.15X of an Anzu sim (most likely similar slow downs in similar ones).

[2019-03-28 16:11] EricCousineau-TRI commented on #10542
Er, is #10878 the right issue? Or did you mean #10422?

[2019-03-28 16:12] jamiesnape commented on #10542
BTW We are talking single digits (excluding `drake-external-examples`). It is plausible we may get ~0 downloads during a transition period. Hence why the issue asks whether the refactoring is necessary.

[2019-03-28 16:13] jwnimmer-tri commented on #10542
There is every chance that the transition period is unboundedly long (like, months, or a year, or ...).

[2019-03-28 16:14] amcastro-tri commented on #11059
My 2 cents given I really have no experience with the COW approach:
I think I agree with @jwnimmer-tri, at least for a shorter term solution. Most of my readings about COW pointers online show it as a curiosity with not really many (any?) success stories. Mostly, I only found warnings from people who tried it saying it over-complicates things with way too many levels of indirection (we have lots o

[2019-03-28 16:18] amcastro-tri commented on #11051
@EricCousineau-TRI gave my a lil snippet of the solution for me to try. I'll try to PR soon. Thanks!

[2019-03-28 16:19] jamiesnape commented on #10542
(An unboundedly long transition period opens up a whole host of awkward questions that probably move to a different issue.)

[2019-03-28 16:30] jamiesnape commented on #10542
My argument is that the transition should be complete before you start offering binary packages. That there is a (long) transition period in the first place suggests a less than 100% confidence in the new configuration. But all means have a transition for source builds, but the binary packages should be the definitive version of Drake.

[2019-03-28 16:48] RussTedrake opened #11065 "symbolic_py broken on mac (after update?)"
[code]

[code]

[2019-03-28 16:50] soonho-tri commented on #11065
I think it's resolved by https://github.com/RobotLocomotion/drake/pull/11060. Could you check if you can reproduce it with the latest `master`?

[2019-03-28 16:50] sherm1 commented on #10878
Seemed easier at the time, but now that we've played with it a bit it doesn't seem to be the panacea we hoped for. Let's attempt the approach outlined in #11059 instead.

[2019-03-28 16:50] soonho-tri commented on #11065
Possible duplicate of #11037

[2019-03-28 17:06] sherm1 commented on #11059
Notes from f2f w/Jeremy regarding the CoW-free subsystem decoupling described above:
- copying State tree structure only provides a place to hang updated leaf States and easy traversal, but could be expensive
- would be nice just to collect the updated leaf States and then apply them
- one possibility is to add something like `EventCollection::Update(&diagram)` after the States are collected; the

[2019-03-28 17:18] #11035 closed

[2019-03-28 18:39] edrumwri commented on #10809
Work commencement is pending stabilization of the contact surface data structure (WIP PR #11034, cc @DamrongGuoy).

[2019-03-28 18:47] #10842 closed

[2019-03-28 19:39] amcastro-tri commented on #11051
Fix in PR #11069.

[2019-03-28 19:45] RussTedrake commented on #10551
[code]

[2019-03-28 19:53] RussTedrake commented on #11065
i suspect you're right.  i had rebased this morning, but probably missed this commit.  the laptop is taking forever to recompile, and i have to run... so I will assume it is good.  apologies!

[2019-03-28 19:53] #11065 closed

[2019-03-28 20:01] soonho-tri commented on #11065
Not a problem, please let me know if the problem doesn't go away.

[2019-03-28 20:08] EricCousineau-TRI opened #11070 "`bazel test //examples/...` causes a PyGame window to pop up"
Should be easy enough to fix.

\cc @RussTedrake @jwnimmer-tri

[2019-03-28 20:12] SeanCurtis-TRI opened #11072 "[geometry] Re-examine `GeometrySet` API"
## Background

The `GeometrySet` was originally used to communicate geometries to the "collision filtering" mechanism. It was intended to be a accumulator to express collision filters concisely. So, it's functionality is centered around its *construction* in an effort to make it as easy as possible to create a set (as exhibited by):
  - Multiple overloads to allow for specifying geometries via:

[2019-03-28 20:12] SeanCurtis-TRI commented on #11072
/cc @calderpg-tri as a major stakeholder in this conversation.

[2019-03-28 20:25] EricCousineau-TRI commented on #11064
I will take `SetFreeBodyPose` and see what's necessary for Python bindings; if it's not huge overhead, I may close #10982 in lieu of tracking that here, as they're most likely coupled.

[2019-03-28 20:33] EricCousineau-TRI commented on #11064
Also, rather than check a box, should they instead put their name next to it?
I think that box should only be checked once the relevant PRs are merged.

[2019-03-28 21:06] EricCousineau-TRI commented on #11064
Er... It's not good to conflate implicit conversions with this issue. Trying to delineate errors between implicit conversions and old signatures is hard when doing `bazel test //...`. That should be handled in the upstream issue.

[2019-03-28 21:19] EricCousineau-TRI commented on #11064
FTR: Here is my procedure-as-commits for `SetFreeBodyPose`:
https://github.com/EricCousineau-TRI/drake/commits/issue/11064_SetFreeBodyPose-wip

[2019-03-28 22:08] edrumwri commented on #11057
Update: I modified the manipulation station to use MBP in continuous time mode with the implicit Euler integrator (accuracy=1e-1, max h=1e-2). I then teleoperated the manipulator. As I teleoperated the manipulator in free-space, integration was very fast (on the order of 10 NR iterations and 10 ODE evaluations), performance comparable to the discrete-time stepper. I then maneuvered the manipulator

[2019-03-28 22:17] RussTedrake commented on #10551
on my home machine, too.
[code]

[2019-03-29 00:10] sherm1 opened #11075 "Power and energy cache entries aren't connected to their tickets"
There are 5 predefined cache entries in every system:
- xcdot (time derivatives)
- pe, ke (potential/kinetic energy)
- pc, pnc (conservative/non-conservative power)

There are pre-defined dependency tickets for each of those, which are necessarily specified long before the associated cache entries are created. The cache entries should specify the pre-allocated tickets when they are created.

Per d

[2019-03-29 14:24] amcastro-tri opened #11080 "Remove AddForceElement specialization from MBP/MBT"
MBP/MBT have `AddForceElement()` specializations for adding `UniformGravityField` force elements. [MBP specialization here](https://github.com/RobotLocomotion/drake/blob/56dab59ff6d80566f2f8de917112cece56ccdd9e/multibody/plant/multibody_plant.h#L903) and [MBT specialization here](https://github.com/RobotLocomotion/drake/blob/56dab59ff6d80566f2f8de917112cece56ccdd9e/multibody/tree/multibody_tree.h#

[2019-03-29 16:08] #10921 closed

[2019-03-29 16:57] jwnimmer-tri commented on #2030
I'd argue that having Drake load an SDF with placeholder names (and expressions) for real quantities, which the user binds to values later, is sufficiently far off our roadmap that we should just close this issue for now?  What possible value is this quiescent issue adding?

[2019-03-29 16:59] EricCousineau-TRI commented on #2030
SGTM, esp. along the lines of "quiescent". We can re-open if there is an acute relevant use case.

[2019-03-29 16:59] #2030 closed

[2019-03-29 17:02] jwnimmer-tri commented on #3365
I don't know where those tests ended up the past three years.

We now have `./multibody/plant/test/spring_mass_system_test.cc` which seems like it should live on, and `./systems/plants/spring_mass_system/test/spring_mass_system_test.cc` also is okay?  Assuming it's OK to close this for now.

[2019-03-29 17:02] #3365 closed

[2019-03-29 17:04] jwnimmer-tri commented on #3732
Closed via #3830.

[2019-03-29 17:04] #3732 closed

[2019-03-29 17:33] amcastro-tri commented on #11033
I personally hate typing `RigidTransform(Vector3{1,2,3})` when we could type `RigidTransform({1,2,3})` with no ambiguity. I we meant rpy, then we'd just write `RigidTransform(RollPitchYaw(1,2,3))`.
So yes, I agree with @EricCousineau-TRI on this one.

[2019-03-29 17:37] EricCousineau-TRI commented on #11033
Thanks @amcastro-tri! Will open the PR and test it out - and no worries, @sherm1!

Agreed on the policy that Jeremy mentioned too. I do get a bit trigger happy on speculative issues sometimes... Will work on that.

[2019-03-29 17:46] sherm1 commented on #11033
I am worried that `RigidTransform({.1, .2, .3})` could be mistaken for roll-pitch-yaw by people who use that form frequently, _especially_ since we always take rotations first. Also, the initializer list could be any length, and 3, 6, and 7 all make some sense for RigidTransform. I guess we would have to insist on it being exactly 3 long for the constructor.

I don't think the minor annoyance of t

[2019-03-29 18:02] EricCousineau-TRI commented on #11033
I've typed up a prototype PR; will add ya for review!

[2019-03-29 18:04] EricCousineau-TRI commented on #11033
If that's a problem, it's not relevant here (at least for me)? As I mentioned above, `Vector3` means any space to me, so if that's the case, then that's a defect with the class itself. `Vector3(1, 2, 3)` vs. `{1, 2, 3}` mean the same thing.
`Translation3(1, 2, 3)` has more meaningful semantics (but aren't enforceable with Eigen's permitted implicit conversions).

[2019-03-29 18:08] tri-ltyyu commented on #10155
Will re-visit this after block example is completed.

[2019-03-29 18:12] tri-ltyyu commented on #4447
There're other higher priority work than this. Re-visiting in Q2.

[2019-03-29 18:18] tri-ltyyu commented on #10144
We're doing an issue update and not sure what it entails, @mitiguy, can you elaborate what this issue is about pls? Thanks

[2019-03-29 18:19] tri-ltyyu commented on #10322
Will be PR'ing the tests used for this.

[2019-03-29 18:19] SeanCurtis-TRI commented on #11033
I don't see that it's a defect in the underlying API. The underlying API uses distinct types to make it unambiguous (RPY vs V3). Introducing a type that is a least-common denominator for both of those is what introduces the ambiguity.

[2019-03-29 18:20] jwnimmer-tri commented on #4446
@sherm1 or @edrumwri Rename this ticket to AdvanceTo instead of StepTo, now?

Or just resolve this as a duplicate of #4447 (as a checklist item within that work)?  It seems to me like only the "requested termination" status is relevant for now.

[2019-03-29 18:22] tri-ltyyu commented on #10387
All pieces to support faster simulation in clutter are available. Letting manipulation team who needs performance to update. Letting @calderpg-tri and @avalenzu verify when ready

[2019-03-29 18:23] #9251 closed

[2019-03-29 18:26] EricCousineau-TRI opened #11085 "multibody: Remove usages of `MultibodyTree` outside of `plant/` and `tree/`"
At 767ec8868:
[code]

EDIT: Assigned per issue scrub mtg.

[2019-03-29 18:27] EricCousineau-TRI commented on #9754
Could be done via filter groups; filter groups can be mutated pre-finalize (as they are only SceneGraph). Should create checkbox or another issue for sdf parsing.

[2019-03-29 18:29] jwnimmer-tri commented on #4651
This is a RigidBodyTree cleanup, so we will not pursue it.

[2019-03-29 18:29] #4651 closed

[2019-03-29 18:59] SeanCurtis-TRI opened #11087 "Parse collision filter from SDF files"
PR #8232 had allowed collision filter groups to be defined in an sdf file. This functionality was supported by the RBT implementation. As we've moved to MPB/SG, this feature has not yet made the transition.

Rather than blindly aping that specification, we should examine it and determine if it needs tweaking before we implement. This issue will serve as the basis to clearly define the feature we w

[2019-03-29 18:59] SeanCurtis-TRI commented on #11087
cc @calderpg-tri @EricCousineau-TRI

[2019-03-29 19:04] EricCousineau-TRI commented on #11087
Marginally relates (but may not require) #9754

[2019-03-29 19:14] sherm1 commented on #4446
Renamed -- they are independent enough that I'd like to keep both issues.

[2019-03-29 19:16] jwnimmer-tri commented on #11033
My reading of the above is that myself, Sherm, and Sean all share the belief that `RigidTransform(Vector3(#,#,#))` implies a translation -- that we do not share Eric's belief that Vector3 has no semantics beyond a 3-tuple of doubles.  An Eigen::Vector is not an Eigen::Array, for good reason!

[2019-03-29 19:19] EricCousineau-TRI commented on #11033
Er, but we have the constructor `RollPitchYaw(Vector3)` - what does that mean?

[2019-03-29 19:31] sherm1 commented on #11033
That's a good question. There we are misusing the Vector3 as a container -- (roll,pitch,yaw) angles do not form a vector (in _any_ space!). I _think_ this is conventional but it should really be an Array3 -- I suspect that would not make it easier to use for most users but I could be convinced otherwise.

[2019-03-29 19:33] sherm1 commented on #11033
I would actually be fine with `RollPitchYaw({.1, .2, .3})` - that's not ambiguous at all. But `RigidTransform({.1, .2, .3})` is problematic.

[2019-03-29 19:37] jwnimmer-tri commented on #11033
We hate `RigidTransform({.1, .2, .3})` but do we hate `RigidTransform(RollPitchYaw(.1, .2, .3), {.1, .2, .3})` also?  That is, do we care if the _two-argument_ constructors gain the de-Vector sugar?  The PR has some examples of that.

[2019-03-29 19:38] jwnimmer-tri commented on #11033
I believe Array3 and Vector3 are implicitly convertible, so it would be more of a documentation affordance than a static-type-checking thing.

[2019-03-29 19:39] SeanCurtis-TRI commented on #11033
I agree with @jwnimmer-tri summation and with @sherm1's point. It is conventional to use `Vector3` as both a vector and an array of size three. Arguably, if we were to restrict `Vector3` to be *strictly* a vector, then one might argue that it should always have a space associated with it.

As for the two-argument constructors....I'm mixed. I like the compactness but I feel that the call-site loses

[2019-03-29 19:40] jwnimmer-tri commented on #11033
Possibly we've exhausted our "post opening bids to the issue" and should move on to "defect specific sample code in the PR".

[2019-03-29 20:01] amcastro-tri commented on #11033
I posted my 2 cents in #11083. Summary, I like `RigidTransform({1,2,3})`. I am not sure (mostly not) about `RigidTransform(RollPitchYaw(.1, .2, .3), {.1, .2, .3})`

[2019-03-29 20:04] amcastro-tri commented on #11033
leh me add that I love how python code looks with things like `RigidTransform([1., 2., 3.])`. It reads very neat, why would we hate it in C++, just cause it's C++ and it's supposed to be overly verbose?

[2019-03-29 20:06] jwnimmer-tri commented on #11033
In experimental locally, I'm pretty convinced that writing `RigidTransformd(Vector3d(1,2,3))` should just be `Translation3d(1,2,3)`.  Isn't that better in every regard?  Better than `RigidTransformd({1,2,3})` even?  I'll submit a sample PR soon.

[2019-03-29 20:09] EricCousineau-TRI commented on #11033
Another option is that we get rid of all single-argument constructors for `RigidTransform`, and figure out an unambiguous placeholder for identity-like values, e.g.
[code]

This would be my preference, where we could stick to `(rotation, translation)` ordering always, and then `Vector3` has less ambiguity.

I also disprefer excessive verbosity when I want to hack. It'd be nice if `RigidTransform`

[2019-03-29 20:11] EricCousineau-TRI commented on #11033
I'm not sure how you'll be able to enforce explicit conversions of `Eigen::Translation<>` in an API friendly way that also permits constants and such. (I haven't tried it, but I'm guessing that may complicate things...)

[2019-03-29 20:33] jwnimmer-tri commented on #11033
My counter-proposal solution is in #11090.

[2019-03-29 22:02] EricCousineau-TRI commented on #11033
To follow-up: As I understand it, this is disqualifying `Vector3` in `RollPitchYaw` because it's not a "physically meaningful" vector space; however, we use `VectorX` for things like generalized positions... which may not be a "physically meaningful" vector space?

In argument of consistency, I still favor `VectorN` to always be considered a "tuple of things for use with linear algebra" rather tha

[2019-03-29 22:21] jwnimmer-tri commented on #11033
I almost didn't write the _"An Eigen::Vector is not an Eigen::Array, for good reason!"_ above, because I knew the RPY constructor used it and so it might derail the discussion of RigidTransform.  I wanted to add some flourish to a boring discussion, but I should have trusted my hesitation because that whole subthread is a distraction.  Sorry!

The relevant debate is about RigidTransform, and it go

[2019-03-29 22:29] sherm1 commented on #11033
Where were you when I needed you on Internet comment threads? :)

[2019-03-29 22:43] sherm1 commented on #11033
As Jeremy pointed out, this is an aside from the RigidTransform topic, but as an FYI ...
Generalized positions and generalized velocities actually are a vector space, which is why we can write
`M v̇ = f` for Newton's 2nd law (i.e., that really is a matrix-vector multiply, not just a convenient fiction). It is a high-dimensional space, but legit. (Generalized coordinates are a bit weirder to talk a

[2019-03-30 01:02] jwnimmer-tri commented on #2786
(1) Paul Mitiguy rewrote most of the math primitives since this issue was filed.
(2) An assignment from AutoDiffScalar to double will fail to compile.  You need to call `.value()` for it to work, so there wasn't really any lingering hazard in the first place.

[2019-03-30 01:02] #2786 closed

[2019-03-30 13:34] RussTedrake opened #11093 "Idea: modeling long-running asynchronous computation in the system's framework"
Related to #10383 -- but that proposal is about doing more efficient computation within one timestep (e.g. we want to run ICP refinement in parallel from many different initial guesses).

Another concept that we need is the idea that some computation might want to run for a potentially variable duration in terms of simulation time.  For example, if we dispatch a high-level planner while continuing

[2019-03-30 20:06] #11051 closed

[2019-03-30 20:17] RussTedrake opened #11094 "SpatialInertia::IsPhysicallyValid() fails for reasonable point-mass models"
I believe that the urdf at

https://github.com/RussTedrake/underactuated/blob/master/src/double_pendulum/double_pendulum.urdf

is a reasonable model, I think.  The spatial inertia for a link with a point mass, about the center of mass, is zero, and that should be ok.  Do you agree?

[2019-03-30 20:40] sherm1 commented on #11094
Yes, I do agree. Even completely _massless_ (and inertialess) should be acceptable -- might cause trouble at runtime but might be fine as long as some outboard bodies have mass.

@amcastro-tri is there something wrong with the IsPhysicallyValid() test?

[2019-03-30 20:43] RussTedrake commented on #11094
ironically, it means that i cannot port my very first example (Example 1.1) from underactuated to mbp.
http://underactuated.csail.mit.edu/underactuated.html?chapter=intro

[2019-03-30 20:43] RussTedrake commented on #11094
it's not a mystery, IsPhysicallyValid() asks for the spatial inertia to be strictly positive definite.

[2019-03-30 21:17] RussTedrake commented on #6732
it's in.  hoorah!

[2019-03-30 21:17] #6732 closed

[2019-03-30 21:22] RussTedrake commented on #8034
this also falls into the infinite loop when `A=B=Q=R=eye(2)`

[2019-03-30 21:34] weiqiao commented on #8034
You were not using the fixed version.

[2019-03-30 21:40] RussTedrake commented on #11007
n.b. -- i'm blocked again by this.  hitting it in basically everything that I try.

[2019-03-30 22:15] RussTedrake commented on #8034
Where is the fixed version? I’m running on master...

[2019-03-31 03:22] edrumwri commented on #11093
I like this. Do you have a specific reason for wanting it to be a System rather than DrakeVisualizer like utilities?

[2019-03-31 10:26] tklinterg opened #11096 "Receiving AttributeError 'NoneType' object has no '_Bound'"
Hi,

I'm trying to run the test file for pydrake related to scalar conversion but get an AttributeError stating that 'NoneType' object has no attribute '_Bound'.

I've tried the Xenial distribution of pydrake for Unix.

Does someone happen to know where the issue might be ?

Thanks in advance.

[2019-03-31 11:34] RussTedrake commented on #11093
The goal is to rigorously analyze a diagram with subsystems that have this property/specification (esp planners).

[2019-03-31 13:37] RussTedrake commented on #8116
Checking in on this one.  I'm writing lots of trajectory optimization code for underactuated right now that looks like e.g.:
[code]
I *believe* that this is the issue that would support adding constraints with the array-type `==` ?  Can you just update me (remind me) of the status here?

[2019-03-31 14:40] RussTedrake opened #11097 "pydrake MathematicalProgram::SetInitialGuess permits wrong sizes"
Not sure what's happening with the memory here, but the following program should assert but does not:
[code]

[2019-03-31 14:44] RussTedrake opened #11098 "snopt/f2c solves are non-deterministic"
The results (which are a failure in this snapshot) appear consistent if I run the program multiple times, *until* I uncomment the `SetInitialGuess`.  Then running multiple times can give different answers.  Possibly related to #11097 .

[code]

[2019-03-31 16:52] hongkai-dai commented on #11097
`MathematicalProgram::SetInitialGuess` calls `DRAKE_ASSERT` instead of `DRAKE_DEMAND`. I can change it to `DRAKE_DEMAND`
https://github.com/RobotLocomotion/drake/blob/bd00a8c9889019f779fe993d31817c9b708b8c4e/solvers/mathematical_program.h#L2203-L2207

[2019-03-31 16:56] acxz opened #11100 "Benchmark Testing"
I would like to preface this by saying this is not an issue regarding a bug or anything based on the code. If this is not the appropriate place to post the following message, please point me to the right location.

There are many physics engines out there for the simulation/robotics community. As such, there is a need for benchmarking various engines for accurate and objective comparisons. Benchma

[2019-03-31 18:12] weiqiao commented on #8034
The fixed version is here
https://github.com/RobotLocomotion/drake/pull/8469

[2019-03-31 19:12] hongkai-dai opened #11101 "support exponential cone in MathematicalProgram"
The exponential cone has this form
[code]

Some of the convex solvers support this cone (SCS, Mosek). Many of our optimization problem can be formulated using exponential cone. For example, if we want to minimize the volume of an ellipsoid `{x | x'Ax <= 1}`, we will impose this cost
[code]
This cost can be reformulated to the conic optimization form
[code]
where `Z` is a lower triangular matrix. T

[2019-03-31 19:23] RussTedrake commented on #11097
I think that would be good.  Thanks

[2019-03-31 21:53] #11007 closed

[2019-03-31 21:53] #11097 closed

[2019-03-31 22:36] RussTedrake commented on #11100
I think simulator benchmarks are great, but admit that I am always a bit suspicious of benchmarks hosted by authors of one of the packages being benchmarked -- somehow the host's package invariably comes out ahead! Drake is open source and anyone is welcome to benchmark it and hopefully improve it also.

Note that we have made a commitment to accuracy here, with comparatively extensive investment

[2019-03-31 22:36] #11100 closed

[2019-03-31 22:48] RussTedrake commented on #11098
This appears to be resolved along with #11097 (it was, indeed, a user error -- i was passing a column vector instead of a row vector, and presumably getting garbage in the initial guess).

[2019-03-31 22:48] #11098 closed

[2019-04-01 01:01] RussTedrake commented on #3130
fyi -- i've got this mostly implemented.  will PR it shortly.

[2019-04-01 03:02] RussTedrake opened #11104 "port planar_multibody_visualizer from underactuated"
https://github.com/RussTedrake/underactuated/blob/master/src/underactuated/planar_multibody_visualizer.py
which is a scrappy version of the more tested rigidbody version:
https://github.com/RussTedrake/underactuated/blob/master/src/underactuated/planar_rigid_body_visualizer.py
which is itself a fairly recent re-implementation of the very well-used and well-loved matlab version of old:
https://gith

[2019-04-01 10:35] RussTedrake commented on #3130
I initially posited that #11103 would close this, but there might be a follow-on activity to have it called automatically from `Solve` for compatible solvers, and printing (via sdplog)?

[2019-04-01 11:36] RussTedrake commented on #10863
Basic examples working well in python now.

[2019-04-01 12:24] RussTedrake opened #11105 "Substitute(MatrixBase<Expression>, ...)"
Just like [Evaluate](https://drake.mit.edu/doxygen_cxx/namespacedrake_1_1symbolic.html#a189f3085c95a362da3dafdc788be3302) and [Jacobian](https://drake.mit.edu/doxygen_cxx/namespacedrake_1_1symbolic.html#a2d2676aafe3ce897d4a66bbad500c67c), I find myself missing the matrix form of `Substitute` (writing the loop myself in python).

[2019-04-01 14:37] amcastro-tri commented on #11094
`SpatialInertia` does allow point masses (zero rotational inertia and non-zero mass) and even zero masses.
The problem in that file are not the point masses but the inertia for `<link>` "base". The inertia for that link does not satisfy the triangle inequality since you have `Ixx=0.01`, `Iyy=Izz=0`. Therefore the inequality `Iyy + Izz >= Ixx` does not hold (0 + 0 < 0.01). If the base is a "thin-ro

[2019-04-01 14:42] amcastro-tri opened #11109 "Better error messages when spatial inertias from file are not physical"
In #11094 @RussTedrake was getting a "non-physically valid" spatial inertia error message when loading a model from a URDF file. His initial thought was that the problem was with point masses since this model happened to have two point masses. However, further inspection revealed the problem was the "base" of the model had an inertia not satisfying the triangle inequality.

The error message howev

[2019-04-01 14:49] EricCousineau-TRI commented on #8116
No blockers, just haven't upped it in the priority queue. Want me to schedule this for Q2?

[2019-04-01 15:41] sherm1 commented on #11094
Thanks, Alejandro! @RussTedrake, can we close this issue since #11109 is open?

[2019-04-01 16:35] RussTedrake commented on #11094
I see.  I think that the reason that this urdf is valid for RigidBodyPlant but invalid for MultibodyPlant is because of the deferred welding of the joints?  In RigidBodyPlant land, the base inertia's meant nothing... because i immediately specified the floating joint = weld.  In MultibodyPlant i do not have that option?

[2019-04-01 16:44] RussTedrake commented on #11094
Perhaps I'm wrong... if all zeros for the base works, then I think I should have no complaint.   Will close.

[2019-04-01 16:44] #11094 closed

[2019-04-01 16:46] #9651 closed

[2019-04-01 17:01] sherm1 opened #11110 "Standardize naming for "count" methods to start with num_ rather than get_num_"
Drake APIs have been inconsistent in naming simple "count" methods like `num_input_ports()` vs. `get_num_input_ports()`. PR #11078 make the System Framework consistently use `num_` for all such methods. Per discussion in that PR, we should consider adopting that standard Drake-wide, deprecating the old `get_` methods, and updating the style guide to reflect that convention.

[2019-04-01 17:06] jwnimmer-tri commented on #11110
I am happy for the framework to be consistent, since the System and Context deal so frequently in terms of "how many foo's do I have".  I am not sure it's worth bothering with the rest of the tree.  I'd like to suggest closing this until it's a problem.

[2019-04-01 17:09] EricCousineau-TRI commented on #11110
Er, just to follow-up: I'd be OK to close this as long as this rule is encoded somewhere for the Systems Framework (in a header file or something).

I guess I'd be OK if we chalk up to general consistency without an explicit policy, but it seems like explicit would be nice here?

[2019-04-01 17:11] jwnimmer-tri commented on #11110
I'm content with either of those options.

[2019-04-01 18:04] EricCousineau-TRI commented on #7821
In addressing / creating #11111, some add'l complaints:
Some paths have to have `drake/` in them. Others do not. This should be normalized, for both internal and external API.

We should also just ditch an user mutation of search paths. They should always work, period, and should never change. Any user delegation should happen as part of ROS package path-like URIs (#10531).

[2019-04-01 19:31] acxz commented on #11100
I very much agree with that sentiment. That is why when I found out about an open-sourced benchmark tool, I was very happy. I have not seen any other packages open-source their benchmark software, which is why I believe this is a great tool to the community. I personally am not interested in closed source engines at all, so I could care less about RaiSim or Mujuco, but the tool that RaiSim develop

[2019-04-01 20:04] EricCousineau-TRI commented on #10714
@mposa You may want to take a look at Jeremy's WIP branch here:
https://github.com/RobotLocomotion/drake/pull/10981

This feature has the potential to simplify things *greatly*, and remove the need for complicated threading / dispatch / synchronization logic. This is a much better solution than relying on the old `LcmDrivenLoop` interface.
(But for the time being, I believe you can still use your

[2019-04-01 20:06] jwnimmer-tri commented on #10714
I am OK with anything you guys want to do about this issue.  Before #10981 is done, I intend to have it show the thread-less way of using LcmDriverLoop.

[2019-04-01 20:19] sammy-tri commented on #7045
Hmmm, I forgot that the bazel builds for the iiwa/schunk drivers also use drake to provide their workspace in addition to the lcmtypes.  I'll think about how I feel about either pulling in all of drake just for that, or duplicating the workspace stuff (which would not be ideal, I used to keep it in sync manually and it was tedious).

[2019-04-01 21:07] EricCousineau-TRI opened #11117 "scene_graph: De-hack (world, world) collision filtering"
See discussion in #11116.

[2019-04-02 00:17] #3130 closed

[2019-04-02 00:32] RussTedrake opened #11120 "CalcPointPairPenetrations should support AutoDiffXd (even if SceneGraph does not)"
Per the discussion started here: https://stackoverflow.com/questions/55449337/this-method-only-supports-t-double-when-creating-lqr-for-multibodyplantdoub/55453269#55453269

We, of course, need CalcPointPairPenetrations to support AutoDiffXd, but per @avalenzu -- the full version is waiting on the gradients of the normals from SceneGraph.  (#10747 is the most relevant I can see right now).

But eve

[2019-04-02 00:47] sherm1 commented on #11120
@SeanCurtis-TRI and/or @DamrongGuoy this sounds reasonable and easy to me?

[2019-04-02 01:12] RussTedrake commented on #8116
yes, please, if it fits.  i think it would add a lot of value.

[2019-04-02 04:17] sherm1 commented on #10149
Update: #11113 addresses the post-update "copy back" part of this issue by copying only State for subsystems that actually handled events. Next I will PR code to do the same for the initial State copy. That should be sufficient to solve this problem for now -- it still copies more than necessary but only within a subsystem that actually handled an event. State for non-event-handling subsystems (li

[2019-04-02 04:20] DamrongGuoy commented on #11120
I'll check details again later.  For now, I confirm the function to change is:
[code]
https://drake.mit.edu/doxygen_cxx/classdrake_1_1geometry_1_1_query_object.html#a9ae8651607d21a9fb37348c83e6d65c4

Right now it returns `std::vector< PenetrationAsPointPair< double > >`, we want to change to `std::vector< PenetrationAsPointPair< T > >`  where `T` is the template parameter of QueryObject.

Do we wa

[2019-04-02 04:46] sherm1 commented on #11120
If possible, yes.

[2019-04-02 05:34] hongkai-dai commented on #11120
BTW, I am working on returning the gradient of SceneGraph signed distance query w.r.t the relative pose of the two geometries. This issue is described in https://github.com/RobotLocomotion/drake/issues/10932. It computes the gradient of any quantities (distance, witness point, contact normal) w.r.t the relative pose. This is not as general as computing the gradient using AutoDiffXd, as AutoDiffXd

[2019-04-02 09:58] RussTedrake commented on #11120
@hongkai-dai -- great.  I would be awesome to slowly add support for the contacts in these functions of MBP (throw for less and less cases) as the support becomes available!

[2019-04-02 16:06] #11105 closed

[2019-04-02 16:11] #11059 closed

[2019-04-02 16:20] hongkai-dai opened #11128 "List of SceneGraph queries needed for contact rich planning/simulation"
The discussion started from #11120 and #10932. In contact rich planning/simulation, we need the SceneGraph to return some queries for specific type of geometries, and these query results will be used by MultibodyPlant. This issue is meant to collect all the queries needed in SceneGraph to support contact rich planning/simulation. We will discuss the implementation to support each of these queries

[2019-04-02 16:25] hongkai-dai commented on #11128
The discussion is captured in #11120

[2019-04-02 16:25] #11128 closed

[2019-04-02 16:51] hongkai-dai commented on #6102
LinearCost has a function `UpdateCoefficients` which can update both the linear coefficients and the constant term.

[2019-04-02 16:51] #6102 closed

[2019-04-02 16:52] RussTedrake commented on #11120
I think that the only acceptable answer is to return accurate gradients or THROW.

I think that without taking any steps towards full geometry query support for AutoDiffXd, we can support a bunch of cases - namely those where the model has collision geometry but the current context has no collisions.  In this case, we call the double version of the geometry queries, see that there are no penetrati

[2019-04-02 16:56] SeanCurtis-TRI commented on #11120
Thanks @RussTedrake. That does a great job of defining the shape of the immediate PR.

The guiding principle being: only throw if there is an answer that gets derivatives that can't be guaranteed. (It might also be a reasonable justification for introducing a `bool HasCollisions()` query.)

[2019-04-02 16:59] EricCousineau-TRI opened #11130 "doxygen: Do not emit for `*.cc` files, also ignore `internal` namespace when appropriate"
At present, doxygen shows cruft for things like `GTEST_TEST` and `PYBIND11_MODULE`. Ideally, those shouldn't be there.

[2019-04-02 17:43] SeanCurtis-TRI commented on #11117
Additional use case:

A number of bodies are all fixed together into one *meta* body. We would like MBP to be able to report that to SG such that:
   - Only one pose needs to be reported for that rigid system and
   - collisions between the geometries associated with those bodies are automatically filtered.

Open question:
  - will we still want to be able to map from collision geometry to *origin

[2019-04-02 17:56] EricCousineau-TRI commented on #11117
Er, haven't fully parsed, but initial knee-jerk reaction:

I'm not sure if I'm totes on board with this one. If there is a good and consistent story on mapping between `Frame<double>` and SG's `FrameId`, then maybe, but I'd almost prefer that there be complete parity between the two, and prefer `FrameId` over `(FrameId, X_FG)` pairs (#10247).

[2019-04-02 18:07] siyuanfeng-tri commented on #11117
I don't like that idea either, keeping the geom <-> body association intact helps humans to understand the model better.

The other argument is that suppose body 1 and 2 are joined by a revolute joint, and body 3 is welded to 2. We want to do collision checking between 1 and 3. If we collapse everything welded to 2 into 2, we can't do that anymore.

[2019-04-02 18:37] mposa commented on #10714
Seems good to me--though I wasn't able to look at #10981 or the recently merged PRs and understand how things were changing.

[2019-04-02 18:51] SeanCurtis-TRI commented on #11117
I know what you mean, I was uneasy when I wrote it. That particular point is *purely* optimization. It reduces the amount of data needing to be prepared and sent over ports (and processing of same). But, clearly, it's not worth it.

In the same vein, the responsibility for automatic collision filtering between geometries in that fixed system will belong to MBP. (For the same reason that filtering

[2019-04-02 20:51] EricCousineau-TRI commented on #11117
So summary is, no action to take regarding welding + geometry associations, as we've stated that certain applications care about distinctions of bodies?
(Current functionality is sufficient; if applications want to lump the bodies, they must do so themselves?)

[2019-04-02 20:55] EricCousineau-TRI commented on #10714
I think this comment would explain the most relevant portion:
https://github.com/RobotLocomotion/drake/pull/10981#issuecomment-475099450

Effectively, it will make getting the next time step much more explicit (and clearer) without the need for magic / needless thread synchronization.
`LcmDrivenLoop` may disappear, and in its place will be a simple recipe in documentation in how to replicate that

[2019-04-02 21:01] jwnimmer-tri commented on #10714
I've been looking inside Drake to find a current use of LcmDrivenLoop that is not broken.  There are only three total right now -- one valkyrie, one iiwa, and one jaco.  The valkyrie one requires Guruobi so I can't run it easily.  The jaco one is missing pieces (what sends the plan message?).  The iiwa one maybe looks salvageable, but I have to figure out the move_iiwa_ee tool first.

If anyone ca

[2019-04-02 21:02] siyuanfeng-tri commented on #11117
aye

[2019-04-02 21:04] #2969 closed

[2019-04-02 21:11] mposa commented on #10714
It's far from a lightweight example, but we have a simulation that uses a dispatcher to emulate our communication with the actual Cassie robot. The simulation can be run via the procman script here: https://github.com/DAIRLab/dairlib/blob/master/examples/Cassie/cassie_test.pmd with the commands given by the script `run-drake-pd-control`.

One specific file that uses LcmDrivenLoop is here: https://

[2019-04-02 21:13] jwnimmer-tri commented on #10714
Thanks, I'll take a look!  I still have to add one or two more APIs to Drake before it would be plausibly ready out as a prototype, but hopefully next week I'll have some progress.

[2019-04-02 21:35] edrumwri opened #11132 "Implementing 3rd order Radau integrator [Tracking issue]"
In service of #11057, I'm currently implementing a 3rd order Radau (Runge-Kutta type) implicit integrator. The focus at this time is collecting statistics on derivative counts (so that we can compare against implicit Euler), not minimizing overall computation.

[2019-04-02 22:25] #10387 closed

[2019-04-02 22:28] tri-ltyyu commented on #9905
@edrumwri, what other pieces are ongoing/next as part of this epic? if there're other issues created, could you link them to this please? Thanks!

[2019-04-02 23:01] edrumwri commented on #9905
This epic has begat other epics (leaf-level issues should emerge as one dives through the hyperlinks):

#11034 (PR for the contact surface API, perhaps @DamrongGuoy wants to create the necessary epic issue for tracking progress on the entire process of the computing the contact surface for the hydroelastic model?)
#10809 for visualizing the contact surface
#11057 for solving the resulting stiff OD

[2019-04-02 23:15] DamrongGuoy commented on #9905
Any tips in creating epic?  I’d like to create one for the entire process
of computing the contact surface in Q2.

On Tue, Apr 2, 2019 at 4:01 PM Evan Drumwright <notifications@github.com>
wrote:

--
Damrong Guoy, Ph.D. (damrong.guoy@tri.global) (650)673-2605
Toyota Research Institute/ Robotics/ Dynamics, 4440 El Camino Real, Los
Altos, CA 94022, USA

--

Confidential or protected information may

[2019-04-02 23:21] edrumwri commented on #9905
I'd suggest breaking down that large (epic) task into the clear subtasks, of which building the API is one. Perhaps just look through the "hydrostatic implementation document" that Sherm and I wrote and record the tasks listed under geometry?

[2019-04-03 00:03] SeanCurtis-TRI commented on #11117
Not literally so, right? The change in #11116 is not going to be reverted, and we should still do it in a more legitimate way (although, this conversation has led me to wonder what "legitimate" means).

[2019-04-03 00:15] #10149 closed

[2019-04-03 01:52] tri-ltyyu commented on #9905
I agree with breaking down the entire hydrostatic epic into smaller pieces - either phases or the subcomponents (e.g. physics, geometry, etc.). Happy to build the epic and link the issues if you. Regarding #11809, I believe the discussion we had is to leverage RViz - is that your understanding as well?

[2019-04-03 13:21] RussTedrake opened #11138 "pydrake systems that derive from LeafSystem spew deprecation warnings from _NAME"
Pretty sure I've purged all bad usages from my code.  But the tests (including the homework we will post today) still spew deprecation warnings.

The simplest example I have is
https://github.com/RussTedrake/underactuated/blob/master/src/van_der_pol/particles.py
(which also uses) https://github.com/RussTedrake/underactuated/blob/master/src/underactuated/pyplot_visualizer.py

but results in
[code]

[2019-04-03 13:56] EricCousineau-TRI commented on #11138
For now, can this be worked around by adding a warning filter?
At which point, this priority could be lowered to `medium`, at least until May, at which time the warning should be removed, and this should be fixed?

[2019-04-03 14:19] edrumwri commented on #9905
That was the last recommendation from Calder and Eric, but I've not become
comfortable developing on top of an experimental codebase likely to be in
flux. No decision need be taken quite yet- the contact surface API needs to
land first, at minimum.

--------------------------------
Evan Drumwright
Senior Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On

[2019-04-03 16:42] rcory commented on #11120
Fyi, see PR #11143 for the no collision case.

[2019-04-03 16:46] soonho-tri commented on #11023
FYI, @frankpermenter, a related Slack discussion: https://drakedevelopers.slack.com/archives/C3L92BM2Q/p1553473456007900

[2019-04-03 17:43] frankpermenter commented on #11023
The basis selection algorithm, as designed,  is deterministic, i.e., it should always produce the same output given the same input. (This is despite the call to RandomSupportingHyperplanes().) So, I'll need more information to debug this.  Can you post a complete example that exhibits randomness?

[2019-04-03 22:20] tri-ltyyu opened #11146 "10809"

[2019-04-03 22:21] tri-ltyyu commented on #11146
Created in error

[2019-04-03 22:21] #11146 closed

[2019-04-03 22:23] EricCousineau-TRI commented on #11096
Howdy @tklinterg!
Can I ask if you have self-contained example that can reproduce this error?

If you haven't seen it already, and if it helps any, here's an example scalar-converting system:
https://github.com/RobotLocomotion/drake/blob/9a63cc75ed6d338b8d10396f3ae7a6ef52637ff3/bindings/pydrake/systems/test/scalar_conversion_test.py#L12-L27

I'm guessing it's something to do with this bit, but unf

[2019-04-03 22:25] EricCousineau-TRI commented on #11096
Er, rereading your question, I'm guessing it may be that file specifically?

Can you post a [Gist](https://gist.github.com/) of the full stack trace of your exception?
And can you post the SHA of the version of Drake you're using? ([example info](https://drake.mit.edu/getting_help.html#helpful-information))

[2019-04-03 22:39] sherm1 opened #11148 "System should provide a way to make all cache entries up to date"
When using the "freeze context" feature requested in #10442 and implemented in PR #11145, any accessed cache entries must already be up to date. A user who knows which cache entries are required while the context is frozen can invoke `Eval()` methods on those entries to bring them up to date before freezing. However, in cases where performance prior to freezing isn't critical, it would be easier j

[2019-04-03 23:51] EricCousineau-TRI commented on #11138
Investigating with drake@54d2c41 and `underactuated@5fedce4`. Will post updates in this comment...

[2019-04-04 00:19] EricCousineau-TRI commented on #9644
I believe that #11131 may have slowed down `mkdoc` generation from ~50s to ~80s (on my beastly Puget); not a huge pain point, but given that all modules currently depend on this, it's a bit of a bottleneck that could be better alleviated by addressing this issue in the near-term.

Assigned `medium` priority for now.

[2019-04-04 01:11] EricCousineau-TRI commented on #11117
Ah, sorry, you're right! I meant no further action to take on neighboring link + welding associations.

Definitely still work to de-hack collision filtering for `(world, world)`.

[2019-04-04 03:36] #10442 closed

[2019-04-04 12:03] tri-ltyyu opened #11152 "[hydroelastic] Add tetrahedral data structure"
This is a placeholder issue for adding tetrahedral data structure which is needed as Spiral I of Hydroelastic force model implementation

[2019-04-04 12:05] tri-ltyyu opened #11153 "[hydroelastic] Contact surface data structure"
This is a placeholder issue for adding contact surface data structure which is needed as Spiral I of Hydroelastic force model implementation

[2019-04-04 12:05] tri-ltyyu opened #11154 "[hydroelastic] Compute contact surface from pressure equilibrium isosurface"
This is a placeholder issue for computing contact surface which is needed as Spiral I of Hydroelastic force model implementation

[2019-04-04 12:09] tri-ltyyu opened #11155 "Function to evaluate traction at any point"
This is a placeholder issue for evaluating traction which is needed as Spiral I of Hydroelastic force model implementation

[2019-04-04 12:10] tri-ltyyu opened #11156 "Integrate traction using quadrature"
This is a placeholder issue for integrating traction which is needed as Spiral I of Hydroelastic force model implementation

[2019-04-04 12:11] tri-ltyyu opened #11157 "Output visualization data for hydrostatic force model"
This is a placeholder issue for outputting contact surface, traction, slip velocity, and pressure visualization date, which is needed as Spiral I of Hydroelastic force model implementation

[2019-04-04 13:34] jwnimmer-tri opened #11159 "manipulation_station teleop --hardware snaps to zero configuration"
The manipulation_station teleop controllers (slider, mouse, joystick, etc.) assume that if they Eval the `iiwa_position` output port prior to the simulation, they will be told the current q, which they then use to initialize their starting q for control.  Under `--hardware`, this is wrong!  LCM messages should not appear on an output port until the Diagram's events are processed!

This oversight w

[2019-04-04 14:17] jwnimmer-tri commented on #10149
I repeated the benchmark from the first post.

Condition (1):
  - `examples/manipulation_station/mock_station_simulation --target_realtime_rate 0 &`

Condition (2):
  - `examples/manipulation_station/mock_station_simulation --target_realtime_rate 0 &`
  - `examples/manipulation_station/joint_teleop --hardware &`

As of cf72b348e8a9bb9709286672904fc9512cf1036d on master, I see rates:
(1) 1.45x
(2)

[2019-04-04 14:24] #11138 closed

[2019-04-04 14:42] EricCousineau-TRI commented on #11052
Most likely won't do `ipopt` due to `mumps` odd build system and non-transparent upstreaming process.

[2019-04-04 14:45] EricCousineau-TRI commented on #10422
Jamie has added Weekly builds here: https://drake-jenkins.csail.mit.edu/view/SNOPT%20Fortran/

[2019-04-04 14:50] jwnimmer-tri commented on #11070
`//examples/manipulation_station:end_effector_teleop_mouse_test` is one offender.

[2019-04-04 14:50] EricCousineau-TRI commented on #10422
@jwnimmer-tri Questions for ya per f2f with @jamiesnape:
* What job types do you want to spin up? Is Nightly or Continuous sufficient to tick the box?
   * Ideally, we don't add too many jobs before doing our flag day.
* Is there a reason to delay if all tests are passing on CI?
   * Jamie can't see where failing tests are disabled in the above checkbox. Is there something else to see?

[2019-04-04 14:57] EricCousineau-TRI commented on #11005
Howdy @ddliugit! Can I ask if you've had a chance to look at this?

[2019-04-04 15:04] EricCousineau-TRI commented on #11027
Talking to Jamie, he can try this out briefly on `drake-ci`.
Would you be up for this being assigned to Jamie?

[2019-04-04 15:04] siyuanfeng-tri commented on #10149
here is the next question: why do we have the 1.45 -> 1.15?

[2019-04-04 15:23] sherm1 commented on #10149
Yay! Thanks for running & reporting these tests, Jeremy.

[2019-04-04 15:27] EricCousineau-TRI opened #11164 "py math: Support matrix inverse for `dtype=AutoDiffXd` and `Expression`"
Pending some form of resolution for #8116 for proper `ufunc`s, we should add a shim for matrix inverse in `pydrake.math`.

Slack convo: https://drakedevelopers.slack.com/archives/C3YB3EV5W/p1554344618003700

\cc @RussTedrake

[2019-04-04 16:45] SeanCurtis-TRI opened #11167 "Operational transpose and inverse for RotationMatrix and RigidTransform"
Currently, calling [`RotationMatrix::transpose()`](https://github.com/RobotLocomotion/drake/blob/master/math/rotation_matrix.h#L322), [`RotationMatrix::inverse()`](https://github.com/RobotLocomotion/drake/blob/master/math/rotation_matrix.h#L315) or [`RigidTransform::inverse()`](https://github.com/RobotLocomotion/drake/blob/master/math/rigid_transform.h#L287-L288) create copies of the original data

[2019-04-04 16:51] jwnimmer-tri commented on #11167
Eigen _also_ has the `eval()` / `auto` fiasco: https://eigen.tuxfamily.org/dox/TopicPitfalls.html.  I'm not sure I want Drake to share that prize.

Do you have a benchmark that shows copying at fault for slowness?

[2019-04-04 16:58] sherm1 commented on #11167
Agree we should know we're gaining something useful before doing this. But limited use of an inverse type doesn't have to introduce eval() ugliness (Simbody has exactly this, used extensively with no trouble.)

However, for max performance the methods transpose() and inverse() should return references -- they should be just casts:
[code]

[2019-04-04 17:02] sherm1 commented on #11167
BTW there is a fuzzier reason for doing this too -- conscientious scientific programmers get upset seeing unnecessary copying going on in their inner loops. That might incline people to be reluctant to convert from Eigen's Isometry to our RigidTransform, even if it doesn't actually matter much. I'd like to be able to say we don't do any copying either, and in fact returning references would make o

[2019-04-04 20:04] jamiesnape commented on #11027
https://github.com/RobotLocomotion/drake-ci/commit/7dfa5869a49c2b15028cc8256a888f56c11e5dfb

[2019-04-04 20:08] jwnimmer-tri commented on #11027
Shouldn't this be a `dynamic_analysis/bazel.rc` flag, not CI magic?  I don't think users should have to compile the useless tests, either?

[2019-04-04 20:08] jwnimmer-tri commented on #11027
(Or is this just a timing test to see if it's worth it, at which point we roll back into Drake?)

[2019-04-04 20:08] jamiesnape commented on #11027
Indeed.

[2019-04-04 20:15] jamiesnape commented on #11027
We just had the quickest ASan job (out of the last 300 jobs) by 4 minutes, so looks promising.

[2019-04-04 22:57] jamiesnape commented on #11027
I will check the data again tomorrow morning (in particular I want to check the nightlies), but looks like it is going to be worth enabling for developers too, so I will PR that tomorrow and revert the CI change.

[2019-04-04 23:35] tri-ltyyu opened #11170 "Hydroelastic model Spiral II"
This is to track the second phase of hydroelastic pressure field modeling.

The expected outcome fo this phase is the ability to simulate two geometrically simple contacting objects (e.g., boxes, cylinders, spheres) with automatic meshing and such that the existing simple gripper test runs within 5% of the speed of our existing sphere-based approach using some integrator.

[2019-04-04 23:59] EricCousineau-TRI commented on #8315
Per Slack convo with @hongkai-dai, this is one workaround that can be used with NumPy 1.13.3, used on Bionic, which predates upstream patches which are NumPy ~1.15:
33508e156

Output:
[code]

Will write up a PR thing.

[2019-04-05 01:04] mitiguy commented on #10144
This no longer seems relevant.

[2019-04-05 01:04] #10144 closed

[2019-04-05 13:17] tri-ltyyu commented on #9865
What is the remaining work for this epic? I see #11064 and #10742  referenced that are opened still. Are these the remaining work for the scope of this issue?

[2019-04-05 15:58] rcory opened #11179 "Algebraic loop errors can be misleading"
For example, I have a system that declares an (abstract) input port that is left unconnected and unprocessed. When building the diagram containing this system, I get a detailed error indicating an algebraic loop, e.g.
[code]
However, if that "dummy" port is removed, no errors are reported.

There are a few problems with this error message (from a user perspective). For one, I know that my system d

[2019-04-05 16:29] sherm1 commented on #9865
Yes. #10742 refers to RotationMatrix rather than RigidTransform but they are related because a RigidTransform contains a RotationMatrix (plus a Vector3).

[2019-04-05 16:58] jwnimmer-tri commented on #11179
Could you post your example code that creates the Diagram?  I suspect part of the port index confusion comes from how, e.g., PidcontrollerSystem works, and not the systems framework or diagram itself.  Part of the fix might be repairing PID control error messages, not just the framework.

[2019-04-05 17:04] #11164 closed

[2019-04-05 19:06] rcory commented on #11179
You can take a look at [this](https://github.com/rcory/drake/blob/98a12cb8f3566569a27a65052565b1637224151f/examples/pendulum/trajectory_optimization_common.h#L68-L125) chunk of code which runs a simulation. If I remove [this](https://github.com/rcory/drake/blob/98a12cb8f3566569a27a65052565b1637224151f/examples/pendulum/pendulum_plant.h#L72) override for `HasDirectFeedThrough()` I get the algebraic

[2019-04-05 20:46] EricCousineau-TRI commented on #11064
I'll take `AddJoint`.

Can someone aside from Alejandro, Sean, or myself take some of the remaining ones?
\cc @siyuanfeng-tri @sherm1 @mitiguy

[2019-04-05 21:30] mitiguy commented on #11064
I'll take the rest.

[2019-04-05 22:15] EricCousineau-TRI commented on #11064
Sweet, thanks!

[2019-04-05 22:18] EricCousineau-TRI commented on #11064
FYI, it looks like we may have "untracked" bits for derived `Frame` and `Joint` class constructors (at least in Python).
Will add that on the checklist, and assign myself.

[2019-04-05 22:54] EricCousineau-TRI commented on #11064
@amcastro-tri Just as a heads up, the `AddJoint(Args...)` stuff is making me sad... Coupling the constructors causes ambiguities between overloads with `optional<RigidTransformd>` and `optional<Isometry3d>`. Dunno why, don't really wanna find out, but I'm guessing it's due to perfect forward screwing with affinity.
I may raise this complain a bit more in the future if I touch the code again, as I'

[2019-04-06 19:50] RussTedrake commented on #4447
Not complaining, simply noting that I have yet another case where I was wishing for this (plotting the return map for the Spring Loaded Inverted Pendulum by running many simulations from apex to apex -- apex defined by a witness function).

[2019-04-06 20:12] sherm1 commented on #4447
Good -- thanks for the encouragement! A good candidate for Q2 OKRs.

[2019-04-06 20:34] RussTedrake commented on #4447
fwiw -- might it be cleaner now to think of this as a termination "event" that could be triggered?  Not sure if that's really better or worse that some method that could be called in an unrestricted update, but it seems clean.

[2019-04-06 23:26] sherm1 commented on #4447
Better I think to allow any event handler to request termination. For example, in your rimless wheel, the termination condition is detected by the same reset/handler functions that are used during execution. The trigger is the usual witness, but the response differs due to conditions observed in the handler.

[2019-04-06 23:27] RussTedrake commented on #4447
that's fine for me.

[2019-04-07 15:42] RussTedrake opened #11184 "LeafSystem::DeclareWitnessFunction => LeafSystem::MakeWitnessFunction"
Just lost a bunch of time because I forgot that "DeclareWitnessFunction" does not actually declare anything.  It makes a witness function, but that witness function is irrelevant unless it is later returned by `DoGetWitnessFunctions`.  I recommend we change the name.

I've almost got python bindings working (took way too long).  They are [here](https://github.com/RobotLocomotion/drake/compare/mast

[2019-04-07 21:36] RussTedrake opened #11185 "Extra periodic event is triggered after a (separate) WitnessFunction triggers"
The reproduction is in the `custom_test.py` `test_leaf_system_overrides` method in the PR that I will link momentarily.

Before adding a witness function (w/ an unrestricted update event), the periodic update triggered exactly once -- as expected -- it's period is 1 second and we are simulating until 0.99.  But after introducing a witness function which trips at 0.5 seconds, I get a new periodic u

[2019-04-07 23:20] RussTedrake opened #11187 "DoGetWitnessFunctions(context, witnesses) => witnesses = DoGetWitnessFunctions(context)"
Write now `Systems` have
[code]
I've always found this signature strange (especially the comment guaranteeing that it will be empty).  It also doesn't appear to be avoiding any memory allocations in the simulator.  And in #11186, I found out the hard way that this is a particularly nasty -- at least for those with my level of experience with pybind -- signature for python.

I propose we change it

[2019-04-08 00:04] sherm1 commented on #11187
@edrumwri, please take a look.

[2019-04-08 04:44] edrumwri commented on #11187
While memory allocations are not missing from Simulator, they're not baked into the interfaces. Unless the implementer happens to be knowledgable about return value optimization (rare IMO), they might not know what they need to do to avoid this memory allocation. The interface I provided was built with that logic.

I am sympathetic to the unusual warning (FYI, that's there to prevent that vector f

[2019-04-08 04:45] edrumwri commented on #11185
@RussTedrake which PR is that?

[2019-04-08 04:57] edrumwri commented on #11185
Ugh, debugging through the python bindings :)  Thanks for making it easy for me to reproduce.

Will check this out tomorrow.

[2019-04-08 10:11] RussTedrake commented on #11187
I'm not actually sure that the nominal c++ user does any better with the current interface?  Even if I have a pre-allocated list of witness pointers that I want to always return, don't I need to copy them into the passed `witnesses` vector pointer, (e.g with `witnesses.insert(witnesses.end(), myvector.begin(), myvector.end())`?

[2019-04-08 10:16] RussTedrake commented on #11185
i agree.  debugging the core (header-only) libraries through the python bindings is no fun.  even adding a print statement requires recompiling all of `libdrake.so` to run a simple test.  I _believe_ a minimal c++ reproduction would be an equivalent LeafSystem with just the periodic update and the guard/reset witness.

[2019-04-08 10:21] RussTedrake commented on #8315
Just to leave a clear update (even for my own memory), the current status is that

[code]
results in
[code]

[2019-04-08 10:24] RussTedrake commented on #8315
btw @EricCousineau-TRI -- the "DeprecationWarning" above actually terminates my program.

[2019-04-08 10:48] RussTedrake opened #11188 "sketch for AutonomousHybridSystem"
In last_sha_with_original_matlab, we had [HybridDrakeSystem](https://github.com/RobotLocomotion/drake/blob/last_sha_with_original_matlab/drake/matlab/systems/%40HybridDrakeSystem/HybridDrakeSystem.m) that was a workhorse for models like the ones we get reasoning about walking robots in their minimal-state hybrid systems.  We can certainly implement this type of system in the new drake, but that cl

[2019-04-08 13:28] jwnimmer-tri commented on #11179
The indices that the error message refers to are correct.  When `RegisterGeometry` has not been called yet, then `PendulumPlant` supports symbolic form, so `EXPECT_FALSE(plant.HasAnyDirectFeedthrough());` passes (as per the unit test).  Once you call `RegisterGeometry` then the plant no longer supports symbolic form, so `u0` feeds through to `y0` and we have a (conservatively declared, but spuriou

[2019-04-08 14:33] RussTedrake commented on #11187
But witnesses almost cannot be reused, given the contract that you always pass in an empty vector?  Can you show me a pattern that actually accomplishes this?

[2019-04-08 14:37] RussTedrake commented on #11187
Ah, you’re saying the vector has reserved memory, even though the size is zero?

[2019-04-08 14:37] edrumwri commented on #11187
You got it.

--------------------------------
Evan Drumwright
Senior Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Mon, Apr 8, 2019 at 7:37 AM Russ Tedrake <notifications@github.com>
wrote:

--

Confidential or protected information may be contained in this email
and/or attachment. Unless otherwise marked, all TRI email communications
are considered

[2019-04-08 14:49] edrumwri commented on #11179
Aside from messages about the topology, one message that would have been helpful to us as we were trying to sort through the logic was that the system was not ToSymbolic-able. The HasDirectFeedthrough() method describes the logic of the algebraic loop detector fairly well, but that logic is dependent upon whether the system is convertible to SymbolicExpression. I personally find that getting the r

[2019-04-08 14:53] edrumwri commented on #11188
Looks pretty good. One thought:

For multi-point rigid contact, it can be easier to write the logic for
transitioning than to build the transition diagram as you're describing
above. For example, I can say that "if there is an impact at any point then
call the impact resolution method". Also, I'm not sure how you would build
the transition diagram (since the system is presumably `const`) if the
nu

[2019-04-08 14:58] amcastro-tri commented on #11064
Yes, I noticed, sorry about that. But that also has to do with the fact that we have the old (soon to be deprecated) `Isometry3` APIs. I believe not a huge problem once *only* the RigidTransform API is supported?

[2019-04-08 15:38] EricCousineau-TRI commented on #11184
I'd say yes. This breaks consistency with the other `Declare*` methods, and we should definitely fix that soon.

Actually, reading more into this, will post in the Python PR with another alternative.

[2019-04-08 15:42] EricCousineau-TRI commented on #11184
Really, what'd prefer, if we had `LeafSystem::MakeFunction((&MySystem::calc*)(...))`, then code like this:
[code]
becomes:
[code]

I think in lieu of sugar to save ~10 characters, we could have modularized the API.

[2019-04-08 15:46] EricCousineau-TRI commented on #11167
+1

If people are concerned for `RotationMatrix`, they can do `rot.matrix().transpose()` at present if they really want to pay the expression template cost.
And yeah, for `RigidTransform`, would definitely love to have this motivated by a concrete benchmark.

All that being said, agreed on the priority tag.

[2019-04-08 15:47] jwnimmer-tri commented on #11184
Maybe we should band-aid some names / docs / bindings for now, but isn't the best long-term answer to have DeclareWitnessFunction actually (fully) declare the thing?  Having to override DoGet... is not cohesive.  Maybe the function should-self express whether it should be active, or maybe a separate function passed into Declare should do that.  But having _two_ methods in play is difficult API.

[2019-04-08 16:34] EricCousineau-TRI commented on #10775
Sorry for the late response here; we have discussed on intermediate formats, but I do fear that usability may suffer as @jwnimmer-tri mentioned.

But yeah, my pref. is that we do some more whiteboarding before pulling the trigger.

[2019-04-08 16:49] edrumwri commented on #11179
Not disagreeing with you but I still think just outputting "hey, this
system is not symbolic convertible" would be nice.

--------------------------------
Evan Drumwright
Senior Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Mon, Apr 8, 2019 at 8:00 AM Jeremy Nimmer <notifications@github.com>
wrote:

--

Confidential or protected information may be c

[2019-04-08 16:55] edrumwri commented on #11184
@jwnimmer-tri on the surface that would seem to be correct, but it's actually not a good idea because one wants the set of active witness functions to be able to be dependent upon the current state.

[2019-04-08 16:59] RussTedrake opened #11191 "Support and recommend "named vector views" in python."
Formerly #11172, which resulted in a discussion on `namedtuple` that ended in
"Turns out namedtuples are immutable. So they don't handle my intended use cases. There are some alternatives, but they are not in the core libraries
https://bitbucket.org/ericvsmith/namedlist (and my quick impression is that namedlist will do a copy of the data, not a view)."

Eric agreed to look at the link above or wr

[2019-04-08 16:59] jwnimmer-tri commented on #11184
My expectation was that the "is active" predicate should be given `const Context&` just like `DoGetWitnessFunctions` is already given.  (Though, the State seems like it should be enough.)

[2019-04-08 17:02] sherm1 commented on #11167
@SeanCurtis-TRI suggested a much less-painful compromise: just add a few more methods to RigidTransform and RotationMatrix to support common inverse operations, e.g.
`p_BQ = X_AB.ApplyInverseToPoint(p_AQ);` or whatever is a good name. There aren't many of those.

[2019-04-08 17:03] edrumwri commented on #11184
`MakeWitnessFunction(.)` would be good.

[2019-04-08 17:05] jwnimmer-tri commented on #11185
From platform review pr PR #11186: it adds a comment `TODO(edrumwri): Uncomment this pending resolution of #11185`.  The PR that fixes this issue should be sure to go and clean up that comment.

[2019-04-08 17:11] edrumwri commented on #11184
Sorry, which "is active" predicate?

[2019-04-08 17:17] jwnimmer-tri commented on #11184
I mean either (or both) of:

A new method
[code]

A new (required) option at declare-time (possibly with kAlways as a default?):
[code]

[2019-04-08 17:19] jwnimmer-tri commented on #11167
Until we have a benchmark that shows that we care, I don't think that we should add redundant and confusing method sugar.

[2019-04-08 17:37] edrumwri commented on #11184
This API was designed to avoid querying a quadratic number of witness functions every AdvanceTo(.) call, as you might have with a simulation with n interacting geometries. A broad phase method in that case could drastically pare down the number of narrow phase calls (the witness functions).

`is_active(.)` would suffer in this case.

[2019-04-08 17:42] jwnimmer-tri commented on #11184
I don't mind a "compute the active set in a single shot" API available.  That should not prevent us from having a Declare method that keeps the simple cases simple.  Having the feature broken into two methods (one of which is a constructor, and the other is an override) is _so difficult to use as to be impossible_.  We are being mean to users on purpose.  There a ways to solve the single-shot prob

[2019-04-08 17:43] jwnimmer-tri commented on #11184
FYI Russ planning on doing this, in the meantime.

[2019-04-08 17:53] edrumwri commented on #11184
Agreed- usability is wanting at present. Interfaces that throw Russ for a loop should be improved.

[2019-04-08 18:01] EricCousineau-TRI commented on #11191
Some comments on `namedlist`:
* It's written by another Eric - too many Eric's! :P
* This generates a type based on `tuple`; our immediate usage is for `np.array`; I may tinker with a shorter version that focuses on this.
* The implementation is very complex for what I think could be simple, if we directly subclass `list` / `np.ndarray` / whatever. (Mayhaps it's done this way for efficiency, but I

[2019-04-08 18:17] jwnimmer-tri commented on #11184
Maybe for now `Declare...` could stay around (not renamed nor deprecated), but default to always enabling the function for all states.  Users who want to have it disabled in certain states could override DoGet, but nobody else would have to.

[2019-04-08 18:21] BetsyMcPhail opened #11192 "CDash: Investigate SQS FIFO Queues"
**Background:**
CDash asynchronously parses its submissions. When a build client (typically jenkins) submits results to CDash, they go on an Amazon SQS queue. We use a third party message queue (MQ) abstraction library called bernard to interact with SQS.

**Description:**
On the afternoon of 2019/04/04, we noticed that CDash had fallen about 90 minutes behind in parsing its submissions. We tracke

[2019-04-08 18:23] BetsyMcPhail commented on #11192
https://aws.amazon.com/blogs/developer/how-the-amazon-sqs-fifo-api-works/

The `VisibilityTimeout` is set to 10 minutes

[2019-04-08 18:25] BetsyMcPhail commented on #11192
Bernard does support SQS FIFO Queues: https://github.com/bernardphp/bernard/pull/318

However, the `MessageGroupId` is always the same: https://github.com/bernardphp/bernard/blob/3ff88921bea87186d1baffc93708dd7aee4e963e/src/Driver/Sqs/Driver.php#L173

[2019-04-08 18:39] EricCousineau-TRI commented on #11191
@RussTedrake Here's the generalized `namedview` prototype:
https://github.com/EricCousineau-TRI/repro/commit/9d6c349092b563d24cea255602814e9071f9e942#diff-6a3353602f69e14a6b57ed718bfb394cR78

How does this look to you?

[2019-04-08 19:03] EricCousineau-TRI commented on #11064
Yup, that'd be correct. Really, I'm pointing this out as a way to discourage this type of super-coupled sugar in the future, if possible, due to the maintenance overhead it incurs.

[2019-04-08 19:05] EricCousineau-TRI commented on #8315
Yup, that is intentional. If it didn't, then you'd just have a crappier error later on:
https://github.com/RobotLocomotion/drake/blob/1f26da1a6f46abab582868f77086178bf30e7945/bindings/pydrake/common/deprecation.py#L177-L179

[2019-04-08 20:19] #11159 closed

[2019-04-08 20:36] sherm1 commented on #11167
While that is generally a good philosophy, it is not the only one applicable to low-level tools. Eigen, for example, did many optimizations "on spec" and I would argue that that is partially responsible for its wide adoption. Personally I'm glad to know Eigen isn't making unnecessary copies of my vectors and matrices, even if I can't prove it actually matters in my current applications. I don't wa

[2019-04-08 20:44] jwnimmer-tri commented on #11167
Okay, let me try it another way:  I'll retract:

... and instead just say:

**I don't think that we should add redundant and confusing method sugar.**

A serious yoda readability problem `p_BQ = X_AB.ApplyInverseToPoint(p_AQ);` has.  Adding such a monster should require an exhaustion argument in support of it -- that the performance is bad, and there is literally no other way to solve the problem.

[2019-04-08 20:54] amcastro-tri commented on #11064
We checked all the boxes! thanks everyone who helped with this!

[2019-04-08 20:57] jwnimmer-tri commented on #11064
I think we're not actually done, because `make_unique` is hiding deprecation warnings.  I'll check tomorrow, and report back.

[2019-04-08 21:15] amcastro-tri opened #11193 "Update multibody call sites to use RigidTransform (part 3)."
Overarching issue: https://github.com/RobotLocomotion/drake/issues/9865

Continuation of the work started in #10959 and #11064.

As with #11064, feel free to assign your name and address as many of these you'd like.

A brute force search of `Isometry3` within `drake/multibody` and `pydrake/multibody` revels the following 109 occurrences of `Isometry3` across 25 files (number counts how many times

[2019-04-08 21:15] amcastro-tri commented on #11064
I created a more specific #11193. Would that address the ones you were thinking of @jwnimmer-tri?

[2019-04-08 21:27] edrumwri commented on #11184
That could work though that would also mean that `DeclareWitness` would need to store the witness functions in the class (which I didn't do as it has its own potential O(n^2) problems).  Just brainstormed with @sherm1 for a bit about this. It would seem that we could solve some of these O(n^2) problems by returning a VectorX rather than a scalar from the witness functions. I had considered that or

[2019-04-08 21:33] jwnimmer-tri commented on #11064
I checked quickly by changing
[code]
to be `#if 0` instead.  The portion of the tree that I compiled still worked, so I think the RT / Isometry3 implicit converion is saving us for now, so I'm okay tracking that in another issue instead.

[2019-04-08 21:33] #11064 closed

[2019-04-08 21:43] RussTedrake commented on #11191
Looks great to my eyes.  Can take it for a spin tonight

[2019-04-08 21:56] amcastro-tri commented on #11064
ah, thanks. That's a great test.

[2019-04-08 22:58] jwnimmer-tri opened #11194 "Default input-output feedthrough should use prerequisites_of_calc"
When a LeafSystem declares that an OutputPort `calc` function does not use some inputs, the author should not _also_ have to override `DoHasDirectFeedthrough` to tell the framework that same thing again.  The LeafSystem should know the answer already and reply accordingly.

[2019-04-08 22:59] jwnimmer-tri commented on #11179
WIP so far in #11189:
[code]

See also #11194 for a related enhancement.

[2019-04-08 23:57] RussTedrake commented on #11184
#11195 is sufficient to resolve the original intent of this PR.  @jwnimmer-tri , @edrumwri -- please rename if you want this thread to stay active, or close (pending #11195)

[2019-04-09 00:52] sherm1 commented on #11194
Ideally yes! The default for the prerequisites is very conservative though (as are those for HasDirectFeedthrough) so it's not clear this will be less misleading. Lots of false positives at the moment.

[2019-04-09 00:55] jwnimmer-tri commented on #11194
Indeed, the immediate effect would be small.  However, it seems _much better_ instruct users to add a prereqs argument to their Declare when they have feedthrough problems, than to override DoGetHasVerbNounThingForAllPortsIntMap or whatever it's called.  Doing it at declare-time is more cohesive, and it will also make caching (much?) more effective.

[2019-04-09 05:25] hongkai-dai opened #11200 "Supporting MIOSQP (in python)"
The authors of OSQP solver recently extend their solver to mixed integer quadratic programming. This MIQP solver is open-sourced in https://github.com/OxfordControl/miosqp. According to their [paper](https://stellato.io/assets/downloads/publications/2018/miosqp_ecc.pdf), they claim a comparable performance to Gurobi, and sometimes up to 7x speedup over Gurobi. It would be great to support this sol

[2019-04-09 11:57] jwnimmer-tri commented on #11200
\CC @EricCousineau-TRI FYI

Nope.

The SolverInterface is bound, but doesn't appear to offer an override mechanism for (Do)Solve yet.

Also, not all MP methods needed by a Solver are bound yet (like `quadratic_costs` is bound but `generic_costs` is not).

---

My suggestion is to make a prototype to see if the solver is useful for our problems (or whatever experiment can tell us if its useful).  I

[2019-04-09 14:19] amcastro-tri commented on #11179
nice! I was able to draw the block schematic of this diagram just from this message!

[2019-04-09 15:34] hongkai-dai commented on #11200
I agree the better solution is to write MIOSQP in C++.

Rewriting the code is not a trivial task, especially adding all the unit test on each piece of code. I probably won't have time for it in the very near future. I will change this issue to "backlog".

[2019-04-09 15:37] EricCousineau-TRI commented on #11200
To clarify, if you end up starting to prototype and need help hacking, I can certainly help in this regard. If you have some good benchmark problems that don't need the abstraction of `MathematicalProgram`, that'd be awesome.
However, if we wanna test stuff out against Anzu and hack around and MIOSQP answers some major pain points, I can help there. I just don't ever want an embedded interpreter t

[2019-04-09 15:42] hongkai-dai commented on #11200
Thanks @EricCousineau-TRI . I probably won't work on writing C++ MIOSQP in the near future. If I do start working on it, I will definitely discuss with you.

[2019-04-09 16:14] sherm1 commented on #11188
I like this idea. Per f2f yesterday regarding composition of hybrid systems to make a hybrid diagram, it occurs to me that we wouldn't have to generalize Diagram for that -- we could derive HybridDiagram from Diagram, and have a HybridDiagramBuilder that could assemble AutonomousHybridSystems and other Systems into a Diagram that also supports the proposed hybrid model and API.

[2019-04-09 21:07] DamrongGuoy opened #11214 "[hydroelastic] New API in SceneGraph to support Hydroelastic contact model."
This is a placeholder issue for defining new API in SceneGraph to construct ContactSurface, which is needed as Spiral I of Hydroelastic contact model.

[2019-04-09 21:19] DamrongGuoy commented on #11214
Both this issue #11214 and issue #11153 will be solved by PR #11034.

[2019-04-09 21:24] DamrongGuoy commented on #11153
Both this issue #11153 and issue #11214 will be solved by PR #11034.

[2019-04-10 09:48] RussTedrake commented on #11191
It's great.  But I do have a few feature requests/issues.  Given that I have
- [ ] `view.wrong_field = 2` fails silently.  please throw an error.  (lost some time to this!)
- [ ] `print(view)` is just a list of numbers.  would be nice to print the same as `namedtuple`
- [ ] would love to do `SetFromVector(view)`. currently I have to do `SetFromVector(view[:])`

[2019-04-10 09:48] RussTedrake commented on #11191
in case it's helpful, here is a sample usage:

[code]

[2019-04-10 12:13] RussTedrake commented on #11188
@sherm1 -- that's brilliant.  I actually might be able to implement everything I want by deriving from Diagram.  It could then have the subsystem Context's clean and separate, and simply override that the derivatives are zero for inactive modes.  And could provide just a little API for e.g. `GetSubsystem(mode)`, `GetSubsystemContext(mode)`, ...

[2019-04-10 13:31] #11027 closed

[2019-04-10 18:58] SeanCurtis-TRI opened #11219 "Create unsigned-16 label image"
Currently, the only label image type that is defined uses signed, 16-bit integers to represent the labels. However, label values are limited to just the positive range. (Reducing the possible unique labels by half). This came up in a [recent PR](https://reviewable.io/reviews/robotlocomotion/drake/11042#-Lbjge8L9xwDftvkRYQI:-LbyKIXTD7cN5t8xUrZe:b-3tbiln).

So, we can simply *add* the image type. Ho

[2019-04-10 19:46] jwnimmer-tri commented on #11219
I would actually advocate for a signed 32-bit label image type as higher priority.  If someone needs the last bit of label palette, chances are they need more than just one bit anyway.  And 32 bits is more likely to support per-instance labels instead of per-kind labels for many use cases.

[2019-04-11 14:44] jwnimmer-tri commented on #5274
@siyuanfeng-tri Has found a use case (as part of our domain randomization work) where we'd like the symbolic form of `RotationMatrix::ToQuaternion`, and where we still want numerical stability when we substitute and evaluate.  So, I am going to PR option (2) above.

[2019-04-11 14:44] tri-ltyyu commented on #8978
This should be lower priority now because of upstream fixes. Putting this back to backlog for now.

[2019-04-11 14:46] tri-ltyyu commented on #10611
This can be backlogged because the impact isn't felt right now. Please comment if you're affected.

[2019-04-11 14:48] tri-ltyyu commented on #11192
This has been fixed by Zack. Closing

[2019-04-11 14:48] #11192 closed

[2019-04-11 14:50] tri-ltyyu commented on #10778
This was a change in behaviour in Jenkins. There's been a fix in Drake CI.

[2019-04-11 14:50] #10778 closed

[2019-04-11 14:57] tri-ltyyu commented on #10843
This hasn't been breaking CI frequently in the recent weeks. Downgrading priority.

[2019-04-11 14:58] jwnimmer-tri commented on #10422
It's still on my TODO list.  I need to go back and update the plan, and discuss with the users of MathematicalProgram.  I am not convinced that a flag day is going to be practical, but will update here once I have useful information.

[2019-04-11 15:00] EricCousineau-TRI opened #11225 "doc: Update buildcop playback about what to restart and when"
Question's been asked a few times.
https://drakedevelopers.slack.com/archives/C270MN28G/p1554825011060900

[2019-04-11 15:03] tri-ltyyu commented on #10686
This failure isn't happening often enough that re-trying should suffice. Closing for now

[2019-04-11 15:03] #10686 closed

[2019-04-11 15:04] tri-ltyyu commented on #10556
Have script running locally to do this. Should be quick issue.

[2019-04-11 17:38] DamrongGuoy opened #11227 "[geometry] ComputeSignedDistanceToPoint uses outward normals to support AutoDiff"
@hongkai-dai, @SeanCurtis-TRI , and @DamrongGuoy want to change the algorithm for the signed distance to query point Q from geometric primitive G to support AutoDiff with a generic pattern like this:

1. Identify the nearest feature F (face, edge, or vertex) of G to Q.
2. Project Q to N the nearest point on the feature F.
3. Compute u an outward unit normal vector of G at N.
4. Calculate signed di

[2019-04-11 18:21] hongkai-dai commented on #11227
In step a, the condition is not if F is a face, but whether that feature F defines a unique outward normal. For example, on the barrel of the cylinder, it is not a face, but the outward normal is uniquely defined. For a convex shape, as long as the feature is smooth, it always has a unique outward normal.

[2019-04-11 18:37] sherm1 opened #11229 "Some MultibodyTree documentation should come out of internal::"
Per @EricCousineau-TRI's Slack comment:

https://drake.mit.edu/doxygen_cxx/classdrake_1_1multibody_1_1internal_1_1_mobilizer.html

My suggestion would be to extract the useful documentation into a Doxygen Module and place it in the [Multibody Kinematics and Dynamics group](https://drake.mit.edu/doxygen_cxx/group__multibody.html) on Drake's doxygen front page.

cc @amcastro-tri @EricCousineau-TRI

[2019-04-11 19:41] EricCousineau-TRI commented on #11229
FTR This was discussed in the context of hiding Doxygen symbols that are in the `internal` namespace:
https://drakedevelopers.slack.com/archives/C2NN588UA/p1554929438013000

[2019-04-11 19:47] #11052 closed

[2019-04-11 20:48] SeanCurtis-TRI opened #11231 "drake lint handles a missing terminating newline badly"
When invoking the drakelint test on a file that is missing a terminating newline, drake lint gets *really* angry.  Cpplint handles it quite gracefully.

Example output:

[code]

[2019-04-11 21:01] hongkai-dai commented on #11101
The exponential cone constraint is supported when the user calls SCS solver through `MathematicalProgram`. For Mosek, currently Drake uses Mosek 8, whose API for exponential cone constraint is not well supported. I will wait until Mosek 9 has a stable release (currently still beta release), and then upgrade Drake's Mosek to Mosek 9, and add the exponential cone constraint through Mosek 9's API.

[2019-04-11 21:20] mitiguy opened #11234 "Policy for better consistency for C++ and Python argument names"
## Background

In submitting PR#11198, there were various opinions on the names of arguments to a constructor and two overloads of operator* (multiply).  This name issue may be bigger than this PR.  Up to now, the choice of an argument name seems to have competing influences from:
* A desire to adhere to standard notation  https://drake.mit.edu/doxygen_cxx/group__multibody__notation.html
    - Thi

[2019-04-11 21:21] mitiguy commented on #11234
cc @EricCousineau-TRI @jwnimmer-tri

[2019-04-11 21:33] jwnimmer-tri commented on #11234
I am not sure there is any overarching policy which is unclear here.  You (as shown above) understand that C++ and Python argument names must match for documentation reasons, and that the argument name in Python is part of the signature.

Is the only confusion that in some cases overloads should prefer to use identical names, when there is no distinction?  That's not a Drake policy thing, that's a

[2019-04-11 21:34] jwnimmer-tri commented on #11234
I suspect that dealing with the debate in the _context of actual code on the table_ is best, and we should discuss in the PR, and not this issue.

[2019-04-11 21:55] mitiguy commented on #11234
The intent of PR# 11198 is to allow easy use of Eigen's Translation3 with RigidTransform in C++ (not Python).  It was my defect to indicate an intention to facilitate the use of Translation3 with Python.

The use of Translation3 in conjunction with RigidTransform in Python can either be done in a later PR or skipped.  As far as I know, there is no current use of Translation3 in conjunction with Ri

[2019-04-11 22:07] jwnimmer-tri commented on #11234
That's all good.

I'm not sure how to resolve this issue, though?  I don't see that any policy is lacking, or that there is any additional work to be done.

[2019-04-11 22:53] EricCousineau-TRI opened #11236 "pose_vector: Deprecate public API usage of `Translation3`; remove translator from `eigen_geometry_pybind.h`"
Follow-up from this comment:
https://github.com/RobotLocomotion/drake/pull/11090#pullrequestreview-222957142

Was a blocking comment there, but I did not follow-up in a timely fashion, and thus this was lost in the PR closure. Making explicit.

[2019-04-11 22:57] EricCousineau-TRI commented on #11234
I think that (1) is actionable by explicitly calling this out in the Python docs. Will draft up a PR for that.
It's present reading is a bit too implicit. At it's present incantation, I think the only things the docs do for args is state docstring naming rules, and kinda introduce (yet not require) `py::arg(...)`:
https://github.com/RobotLocomotion/drake/blob/984b03e751b220824881a043b97f2c2ea36eec

[2019-04-12 00:14] EricCousineau-TRI opened #11239 "py ik: Bind and expose constraint classes"
See Slack convo: https://drakedevelopers.slack.com/archives/C2CK4CWE7/p1555024805009600

I'm not sure if I'll get this into `master` anytime soon, but can slap something together as far as hacky WIPs go.

\cc @hongkai-dai @TobiaMarcucci

UPDATE: Target date is ~2019/08/19~ 2019/08/29.

[2019-04-12 11:57] tri-ltyyu commented on #10905
@SeanCurtis-TRI, can i create an issue in FCL (sounds like there's where the halfspace support needs to be) or at least rename this issue and move it back to ready to work so it's clearer what the next step is?

[2019-04-12 13:08] SeanCurtis-TRI commented on #10905
That's a fine idea.

[2019-04-12 13:32] jamiesnape commented on #11234
Ideally, the documentation generation or some other linter would just scream when someone chose the wrong parameter name. I don't think that is beyond the realms of possibility going forward and we should try not to over-document.

[2019-04-12 13:42] tri-ltyyu commented on #10905
Issue created in FCL https://github.com/flexible-collision-library/fcl/issues/392
This is just a placeholder to link to that. Please feel free to close if it's better to track through FCL only.

[2019-04-12 14:28] #11231 closed

[2019-04-12 14:42] EricCousineau-TRI commented on #11234
Agreed, but #11238 (to address the simpler parts of documentation) is dirt-simple, and provides good value.

[2019-04-12 14:50] amcastro-tri commented on #11229
I like the idea of a separate Doxygen module. I think we'll be able to do this cleanup more effectively once we sort out the split between a "physical representation" and a "modeling representation". Lots of progress in #10068.

[2019-04-12 15:57] amcastro-tri commented on #9754
Even to be **more** specific. We want to get rid of **DRAKE_MBP_THROW_IF_NOT_FINALIZED**:
https://github.com/RobotLocomotion/drake/blob/1b09de88b89a40300ccf047a6af29091c0bd7836/multibody/plant/multibody_plant.cc#L405

[2019-04-12 16:21] EricCousineau-TRI opened #11240 "py mbp: Expose autodiff and symbolic scalar types"
Relevant Slack discussion:
https://drakedevelopers.slack.com/archives/C2CK4CWE7/p1555082817001300?thread_ts=1555024805.009600&cid=C2CK4CWE7

Check list:
- [x] #11384 Remove the, uh, bad legacy dependencies that I left; currently we have: (`-->` representing depends-on)
  * `.autodiff, .symbolic --> .math --> .common.eigen_geometry`, but really we want
  * `.math --> .common.eigen_geometry --> .aut

[2019-04-12 18:14] EricCousineau-TRI commented on #9644
Hm... On my laptop (8 cores), this is taking >5min to complete...

[2019-04-12 18:14] tri-ltyyu commented on #11120
See PR #11208.

[2019-04-12 18:18] tri-ltyyu commented on #9865
Putting a note that there's a need to port SG to RigidTransform. Not time critical right now, but needs to be tracked.

[2019-04-12 18:23] jamiesnape commented on #9644
It only uses one, if I am not mistaken.

[2019-04-12 18:24] EricCousineau-TRI commented on #9644
That is correct; sorry, had posted number of cores to indicate possible resource starvation (not just intrinsic timing issues).

[2019-04-12 18:29] tri-ltyyu commented on #10322
Next step is to push cache entry and use gripper example to benchmark

[2019-04-12 18:33] tri-ltyyu commented on #10851
@edrumwri, any update PR to this issue.

[2019-04-12 18:33] SeanCurtis-TRI opened #11242 "[geometry] Signed distance: point-to-cylinder gives wrong gradient"
PR #11208 extended the `ComputeSignedDistanceToPoint()` for use with AutoDiff scalar. However, the code that provides correct answers when the scalar is double produces garbage derivatives of those same values. It needs to be re-expressed so that correct derivatives come out.

[2019-04-12 19:08] jwnimmer-tri commented on #9644
My laptop is did not show that kind of slowdown.  I knew in #11131 I did some O(N) things that should be O(1) dicts; if it's a pain point I could amend that PR a little bit, before we fracture the header?

[2019-04-12 20:27] jamiesnape commented on #9644
I'm not seeing it either, but it would be quicker to try rather than to split the file at this stage, I think.

[2019-04-12 20:36] edrumwri commented on #10851
No PR yet, sorting out a final technical wrinkle before I have a running
version locally.

--------------------------------
Evan Drumwright
Senior Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Fri, Apr 12, 2019 at 11:33 AM tri-ltyyu <notifications@github.com> wrote:

--

Confidential or protected information may be contained in this email
and/or att

[2019-04-12 23:09] EricCousineau-TRI commented on #11191
Fixed 3/4 of the checkboxes:
https://github.com/EricCousineau-TRI/repro/commit/fdb67a80f7d4fcafa3c1a96adae5c160d8fb9184

Not sure what's causing the last one about being able to pass vectors in. Will see if I can check that briefly now.

[2019-04-12 23:30] EricCousineau-TRI commented on #11191
This should fix the NumPy conversion, and check the last (3rd) box:
https://github.com/EricCousineau-TRI/repro/commit/a60daf899e9726daf2ca1259bb80ad2c7c9b3e3f
Ultimately, this interacts with this bit of `pybind11`, which is effectively reflected by `np.asarray`:
https://github.com/pybind/pybind11/blob/9bb3313162c0b856125e481ceece9d8faa567716/include/pybind11/numpy.h#L797-L798

[2019-04-13 14:16] #5274 closed

[2019-04-14 02:04] RussTedrake commented on #11239
fwiw -- spent time on a work-around for this today (cleaning up the costs/constraints via std::function), which should provide something workable in python -- hopefully by tomorrow.

[2019-04-14 02:41] RussTedrake commented on #11239
Just opened #11245 for discussion.

[2019-04-15 02:19] RussTedrake opened #11246 "looking for libprotobuf.9 , but 10 was installed?"
From a student trying to run pydrake from binary on Ubuntu 18.04

[code]

"This is the error I am running into and have tried many different things to resolve itincluding installing from rpm and deb and also attempting apt-get (which couldn't find it). I have libprotobuf.so.10 I think (from checking with locate), but am not sure how to get 9."

[2019-04-15 11:09] RussTedrake commented on #11191
worked with the newest version this morning.  all great.  can we land it?

[2019-04-15 13:43] jwnimmer-tri commented on #11246
From last night's https://drake-packages.csail.mit.edu/drake/nightly/drake-latest-bionic.tar.gz, I see:
[code]
That is, it does indeed want `so.10`.  Not sure why the user is getting `so.9` required.  Maybe the user downloaded the wrong URL?  Which URL did the user use, and on what date?

[2019-04-15 13:44] jamiesnape commented on #11246
(The xenial packages are linked against .9)

[2019-04-15 14:07] SeanCurtis-TRI opened #11247 "[geometry] Make semantics for geometry support in proximity queries consistent"
## Background

During the process of adding extended autodiff support for the proximity queries, a [core principle](https://github.com/RobotLocomotion/drake/issues/11120#issuecomment-479091723) was defined.  In short: `SceneGraph` should only provide an answer if it's meaningful. In the context of `AutoDiff`, it means it shouldn't strip out derivatives.

The question is, what should it do *instead

[2019-04-15 14:09] RussTedrake commented on #11246
Thanks guys.  I’ve asked on piazza to followup here.

[2019-04-15 15:12] sherm1 commented on #11247
Would be nice if we could issue warnings! Maybe in lieu we could have the limited queries report the number of geometries they ignored or something like that?

[2019-04-15 15:45] tri-ltyyu commented on #10851
Is it possible to post the WIP branch to make sure the concerns about modularity raised earlier are addressed?

[2019-04-15 20:56] kbrandes45 commented on #11246
Using the URL above, I was successfully. I must have grabbed the wrong URL. Thank you for the help!

[2019-04-15 20:58] #11246 closed

[2019-04-15 20:59] #10917 closed

[2019-04-15 21:13] #11191 closed

[2019-04-15 21:35] edrumwri commented on #10851
Yes, but please wait until I've converged on something that runs!

--------------------------------
Evan Drumwright
Senior Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Mon, Apr 15, 2019 at 8:45 AM tri-ltyyu <notifications@github.com> wrote:

--

Confidential or protected information may be contained in this email
and/or attachment. Unless otherwise

[2019-04-16 14:48] avalenzu opened #11252 "MultibodyPlant should check Context validity"
Passing a diagram context into `Frame::CalcPose()` results in the following assertion:
[code]
I spent a fair few minutes wondering what had gone wrong in my diagram before I realized that the issue was a context mismatch. If the assertion had come from a `MultibodyPlant` method this would have been more apparent. We could add
[code]
in user-facing non-systems-framework methods of `MultibodyPlant`.

[2019-04-16 15:37] amcastro-tri commented on #11252
would you prefer ASSERT (only debug) or DEMAND?

[2019-04-16 15:46] sherm1 commented on #11252
Context-validating is potentially very expensive.

[2019-04-16 17:51] avalenzu commented on #11252
I think ASSERT, definitely.

[2019-04-16 22:09] hongkai-dai opened #11260 "SceneGraph reports distance result for a specific pair of geometries"
Currently SceneGraph reports the distance results for every pair of geometries. If I just need the result between a specific pair (with given geometry ID), then SceneGraph does a lot of redundant computation.

[2019-04-16 22:12] #11185 closed

[2019-04-17 00:03] SeanCurtis-TRI commented on #11260
Related to #10990.

[2019-04-17 14:12] #11070 closed

[2019-04-17 17:57] sherm1 opened #11266 "Use link/joint terminology consistently in MultibodyPlant"
Our most common input formats, .sdf and .urdf use the terms "link" and "joint" to describe the topology of a multibody system. That can include topological loops, rigid groupings of welded-together links, static links, free objects, etc. The _input_ to Drake's MultibodyPlant is intended to represent that in a straightforward way. However, although MBP uses "joint" consistently with sdf it uses the

[2019-04-17 18:15] sherm1 commented on #11266
BTW the CAD world uses "part" which is a nicer word than "link". Andy Ruina says we should use "object" (I don't think he knows about OOP :)

[2019-04-17 18:54] hongkai-dai opened #11267 "Compute numerical gradient"
## Problem
We spend a lot of time making sure that the gradient in `Eval(AutoDiffXd& x, AutoDiffXd* y)` is correct. It would be better if can check the gradient automatically.

## Proposal
Add a method
[code]
we can choose to compute the gradient numerically through finite difference, and then compare that gradient against autodiff gradient.

cc @RussTedrake @avalenzu @EricCousineau-TRI

[2019-04-17 19:41] EricCousineau-TRI commented on #11267
FTR I believe `geval` and `gradTest` were mentioned in our meeting:
https://github.com/RobotLocomotion/drake/blob/last_sha_with_original_matlab/drake/matlab/util/gradTest.m
https://github.com/RobotLocomotion/drake/blob/last_sha_with_original_matlab/drake/matlab/util/geval.m

[2019-04-17 20:20] EricCousineau-TRI commented on #11266
I love this proposal in terms of consistency and delineating the physical modeling objects from the mathematical modeling objects.

However, I can't say that I love the current suggested solution:

I think this would also mean renaming `(Body, RigidBody)` to `(Link, Rigidlink)`?

My issue with reflecting this in `MultibodyPlant` is that this assumes that we have successfully decoupled the plant fr

[2019-04-17 21:58] edrumwri commented on #10851
Finally got the refactor running today (whew!) I'm going to clean up my code a little and then point interested folks to my branch for comment.

[2019-04-18 00:50] edrumwri commented on #10851
@EricCousineau-TRI @rcory (cc @tri-ltyyu) PTAL at:

https://github.com/edrumwri/drake/tree/manipulation_station_refactor

Unit tests have yet to be modified. Only the end_effector_teleop_mouse is runnable. So this is _not_ ready for PR but will give you the idea of the proposed refactor.

[2019-04-18 01:29] jwnimmer-tri commented on #9171
I think there's an important "be conservative in what the framework assumes" gotcha lurking in this feature.  I think it's a current bug right now (but maybe hasn't bitten anyone), but one that may get worse with the improvements envisioned in this issue.

Right now, the `configuration_ticket` and `kinematics_ticket` do not depend on `z` (the "misc" continuous state).  Within the continuous state,

[2019-04-18 02:25] sherm1 commented on #9171
I'm working on the spec for this which I'll share as soon as it is somewhat
coherent.

On Wed, Apr 17, 2019, 6:29 PM Jeremy Nimmer <notifications@github.com>
wrote:

--

Confidential or protected information may be contained in this email
and/or attachment. Unless otherwise marked, all TRI email communications
are considered "PROTECTED" and should not be shared or distributed. Thank
you.

[2019-04-18 14:17] jwnimmer-tri commented on #11010
FYI In an intermediate revision of #11089, the author mistakenly added a new redundant filegroup to examples/pendulum, presumably because the existing install_data filegroup was so obscured as to be unknown.

So +1 on resolving this pain point.

[2019-04-18 15:07] ggould-tri opened #11275 "Misleading exception on GetJointByName with wrong type"
If you call `GetJointByName<T>(name, instance)` for a joint that is not `T` but appears in multiple instances, you will get the error "Joint ... appears in multiple model instances" (even though you specified an instance) which will send you down a long garden path of misplaced debugging.

The issue is that the generation of the *correct* error message ("Joint ... in model instance... is not of ty

[2019-04-18 15:15] jwnimmer-tri commented on #11179
Progress:
- #11212 has merged, so that error messages are somewhat better.
- #11244 has merged, so that the pendulum doesn't have feedthrough bugs in the first place.

Plans:
- #11201 in review to make sparsity declarations more ergonomic.
- Write a new Doxygen section explaining how to manage feedthrough:
   - Prefer to express dependencies at DeclareOutputPort-time.
   - Explain how and when sym

[2019-04-18 15:32] sherm1 commented on #11275
Thanks, @ggould-tri! Assigned to @amcastro-tri to take a look.

[2019-04-18 17:49] tri-ltyyu opened #11277 "Port SG to use RigidTransform"
Per discussion in #9865, upon completion of replacing Isometry with RigidBodyTransform class, there's there's a need to port SG to RigidTransform. Creating this for prioritization and tracking.

[2019-04-18 19:40] amcastro-tri commented on #11266
Per discussion today with @sherm1, @mitiguy and @EricCousineau-TRI today:
- We'll keep `Body` as the user public API for physical queries (that is, no refactoring needed, yaiii!).
- We'll introduce (initially internally) a `MobilizedBody` in the `ModelTree` in #10068.

That is, per today's discussion we settled on `Body` (instead of `Link`) for the physical API and `MobilizedBody` (instead of `Bod

[2019-04-18 19:57] amcastro-tri commented on #11275
I'll push a fix soon. The analysis is correct @ggould-tri, thanks!. I'll extract the bit to ask for joint type in #11257 and use that (I also imagine this will merge faster).

[2019-04-18 21:09] jwnimmer-tri commented on #10895
I'll guess this is fixed well enough now, due to two major changes:
- As of #11166, `StartReceiveThread` is deprecated.
  - As of #11281, the LcmDrivenLoop will also be deprecated.
- As of #10935, when using LCM in a Diagram the new advice is to do:
[code]
There is no more thread that needs to be started, and by virtue of LcmInterfaceSystem being the only DrakeLcmInterface ever mentioned typically

[2019-04-18 21:09] #10895 closed

[2019-04-19 00:45] jwnimmer-tri commented on #5936
Closed as of #11281.

[2019-04-19 00:45] #5936 closed

[2019-04-19 01:09] sherm1 commented on #6731
Recently rediscovered. Relevant [Slack discussion](https://drakedevelopers.slack.com/archives/C2ETTRXT7/p1555512929000900).

[2019-04-19 03:41] gizatt opened #11285 "Python Simulator(Diagram&) doesn't keep the Diagram alive"
I ran into an issue (in Python) where a Simulator object that outlives the Diagram it was constructed from leads to a segfault when it's used (for simulation) down the road. I'm pretty sure this is because of the Diagram being freed once it goes out of scope -- global-scoping the Diagram resolves the segfault.

This originally arose using the Simulator-factory architecture used in the MonteCarlo p

[2019-04-19 04:31] sherm1 commented on #11266
BTW in case you need an abbreviation for `MobilizedBody` internally (and you very likely will), Simbody uses `mobod` as its approved abbr.

[2019-04-19 10:17] rcywongaa opened #11286 ""Undefined control sequence \Sum" in LMPC documentation"
As seen [here](https://drake.mit.edu/doxygen_cxx/classdrake_1_1systems_1_1controllers_1_1_linear_model_predictive_controller.html#details), there seems to be an error in parsing the equation

[2019-04-19 14:37] RussTedrake opened #11287 "PortSwitch primitive system"
As discussed with a few of you, I've got the "PortSwitch" system mostly coded up now, and will PR it this weekend.  It's a simple system that offers many ports on the input, but passes-through only one of them to the output (with one additional input for the port_selector).  I imagine this being useful for combining many low-level controller primitives (e.g. DifferentialIK, PlanEval, hybrid contro

[2019-04-19 15:12] #9993 closed

[2019-04-19 15:57] amcastro-tri commented on #6731
12 uses of `SpatialForce<double>` in the attic. We could replace with `Vector6<double>` and remove `drake::SpatialForce` from `eigen_types.h`?

[2019-04-19 16:22] #11194 closed

[2019-04-19 16:35] avalenzu commented on #11287
This is the [Multiport Switch](https://www.mathworks.com/help/simulink/slref/multiportswitch.html) block in Simulink, in case you're interested in naming precedents (not that we need to be though).

[2019-04-19 18:23] #11275 closed

[2019-04-19 19:04] pangtao22 commented on #11287
Thanks! Are the inputs to the PortSwitch system vector or abstract-valued?

[2019-04-19 20:39] RussTedrake commented on #11287
It supports either.  Will PR soon.

[2019-04-20 15:45] RussTedrake opened #11291 "Can't scalar convert between BasicVector types?"
In #11290 (and in https://github.com/RobotLocomotion/drake/blob/master/systems/primitives/pass_through.h before it), I believe that we cannot setup the ports with a model_vector that will survive scalar conversion.  This is because I think we are missing a way to do scalar conversion between `BasicVector` types.  (e.g. if I have a `BasicVector<double>&` which is actually a `MyBasicVector<double>`,

[2019-04-21 10:38] RussTedrake opened #11294 "urdf parser does not parse dynamics damping tag"
Using http://underactuated.mit.edu/src/double_pendulum/double_pendulum.urdf from MBP results in different dynamics than RBP, because the MBP parser is not reading the `<dynamics damping="0.1" />` tags.

It seems like we certainly could:
https://drake.mit.edu/doxygen_cxx/classdrake_1_1multibody_1_1_revolute_joint.html#aad91b55e6b714db4ba96190e6fab07ac

[2019-04-21 13:00] RussTedrake commented on #11294
Update: The sdf parser seems to ignore the tag as well.

[2019-04-21 13:17] RussTedrake opened #11295 "sdf parsing should support the `<gravity>` tag in `<world>`"
We don't support this yet -- as documented here:
https://github.com/RobotLocomotion/drake/blob/master/multibody/parsing/detail_sdf_parser.h#L17-L18

But this means we have to add the ugly `AddForceElement` line (+ explicitly importing `UniformGravityFieldElement`) for every single example -- even the ones that should be trivially short.

E.g.
[code]

adding this support would make all of the simpl

[2019-04-22 06:01] #11267 closed

[2019-04-22 12:26] jwnimmer-tri opened #11296 "Promote find_runfiles to non-internal"
The utility [drake/common/find_runfiles.h](https://github.com/RobotLocomotion/drake/blob/master/common/find_runfiles.h) is broadly useful (e.g., in Anzu and other similar project that use the [drake_bazel_external](https://github.com/RobotLocomotion/drake-external-examples/tree/master/drake_bazel_external) pattern).  I've placed it in an "internal" namespace for now as a kind of "experimental" sta

[2019-04-22 12:58] jwnimmer-tri opened #11297 "DoHasDirectFeedthrough considered harmful"
The framework provides `LeafSystem::DoHasDirectFeedthrough` in order for systems to express their sparsity.  Because this decouples the feedthrough = true / false results from the Declare and Calc implementations, it is difficult for authors to be correct when writing it, or while adding new input/output ports to the System.

Now that #11201 is in place, it should be the preferred mechanism, since

[2019-04-22 14:06] jwnimmer-tri commented on #11179
Progress:
- #11201 has merged (makes sparsity declarations more ergonomic).

Plans:
 - Use #11297 to deprecate DoHasDirectFeedthrough, and as part of write the new Doxygen section as enumerated upthread.

[2019-04-22 14:38] sammy-tri commented on #11294
I'm not sure this is a parser problem.  Both the URDF and SDF parsers are tested to properly parse the damping in the acrobot model at https://github.com/RobotLocomotion/drake/blob/master/multibody/parsing/test/acrobot_parser_test.cc#L119  (I'd added an additional test to `detail_urdf_parser_test.cc` based on the double pendulum to verify before I noticed the existing test, so I'm pretty confident

[2019-04-22 14:58] jwnimmer-tri commented on #11297
Scheduled for deprecation by #11298, though there are a few earlier PRs in flight to stop using it internally, first.

[2019-04-22 15:26] EricCousineau-TRI commented on #10851
I like the manipulator + gripper consolidation, a lot!

My only minor recommendation is that `CombindIiwaWsg` not have any `Iiwa` or `Wsg`-specific methods that are redundant w.r.t. the base interface, unless they're for backwards compatibility and are slated for deprecation.

[2019-04-22 15:38] sherm1 commented on #11294
Any thoughts on this, @amcastro-tri ?

[2019-04-22 17:36] EricCousineau-TRI opened #11301 "pydrake doc: Clarify consistent order of binding (namely for large interfaces)"
General follow-up to: #11293

See linked PR for an acute pain point on inconsistent binding order.

[2019-04-22 17:43] jwnimmer-tri commented on #11301
For typical classes that only have ~10 methods, the current status quo is okay by me.  It's monsters like MBP with 100+ definitions where we need to use a pattern that authors and reviewers can follow easily.

[2019-04-22 18:51] EricCousineau-TRI opened #11303 "install: Do not install Bazel-generated python scripts"
Installing these scripts is worse than useless, it's harmful.

Lost time to this here: https://github.com/robotlocomotion/drake/pull/11261#issuecomment-485510181

[2019-04-22 20:15] EricCousineau-TRI commented on #11096
@tklinterg Can I ask if you can provide the above details?

If not, I may close this within the next day or so, as I am unaware how to reproduce issue.

In general, the error in `_Bound` should not be reachable as any added instantiation is checked to be non-`None`, so it leads me to believe that it may be something like Python version mismatching or a memory leak:
https://github.com/RobotLocomoti

[2019-04-22 20:41] EricCousineau-TRI commented on #7889
\cc @m-chaturvedi

[2019-04-22 21:53] RussTedrake commented on #11294
i've managed to resolve it.  apologies.
(my urdf had a drake_ignore tag earlier that was cancelling the effect, and my sdf had the dynamics tag outside of the axis tag -- a perfect storm!).

[2019-04-22 21:53] #11294 closed

[2019-04-22 22:08] #10714 closed

[2019-04-22 22:45] RussTedrake commented on #11294
*and* rigid body tree includes the damping forces in the "bias term", but MBP does not (it comes as a separate external force).  sigh...

[2019-04-23 00:07] amcastro-tri opened #11307 "MbP: Decouple "physical" from "modeling" topology representation"
There have been a number of requests from users for introspecting a multibody model. Some of them are purely "physical". For instance, what joints attach to a body, or what bodies form an island of welded bodies, #9754.
Others have more to do with the modeling choices the MBP took for the particular system. Typically, when thinking of minimal coordinates, users would like to know what portion of t

[2019-04-23 01:42] mitiguy commented on #10816
This is being addressed in PR #11308

[2019-04-23 12:50] jwnimmer-tri commented on #11286
Over to @EricCousineau-TRI for triage.

[2019-04-23 13:00] jwnimmer-tri commented on #11291
For PassThrough, I agree it would be awkward right now to try to offer a BasicVector-subclass constructor.  (It doesn't currently offer this, so at least it is merely impoverished, not broken.)  We _could_ do it by capturing the template type in the constructor overload and remembering the three constructor functors that we need.  In the case of PassThrough though, neither that nor new transmogrif

[2019-04-23 15:06] sammy-tri commented on #11295
http://sdformat.org/spec?ver=1.6&elem=world#world_gravity implies to me that any model loaded from an SDF has a default gravity, which currently we're not adding.  It would be simple enough to do this (and I think for consistency this implies all models loaded from URDF also get default gravity).

MBP expects that a plant will have 0 or 1 gravity fields present and uses an overloaded implementatio

[2019-04-23 15:09] jwnimmer-tri commented on #11295
It's long been on my wishlist (and already blessed by dynamics team) to have MBP start out with a default gravity field enabled, that the user would have to either replace with a new one, or else opt-out of by setting to nullptr or something.  That's probably the right place for this fix, instead of the parser.  And the "use weird template specialization junk" would disappear at the same time, mak

[2019-04-23 15:32] sammy-tri commented on #11295
From an earlier slack conversation, it is also desirable to remove the automatically added `UniformGravityFieldElement` (or at least zero its magnitude)

[2019-04-23 15:52] jwnimmer-tri commented on #11297
Progress:
- All PRs are submitted and in review.

[2019-04-23 15:55] jwnimmer-tri commented on #10294
Due to #6619, I should probably own this issue as well.

[2019-04-23 15:56] jwnimmer-tri commented on #5408
Due to #6619 and #10294, I should probably own this issue as well.

[2019-04-23 16:16] RussTedrake commented on #11295
Having a default gravity field is sufficient to resolve my current request/pain point.

[2019-04-23 16:45] EricCousineau-TRI commented on #11286
Thanks! Filed a PR since it was simple enough to fix: #11314

[2019-04-23 17:26] #11286 closed

[2019-04-23 23:19] amcastro-tri opened #11315 "Rename/deprecate MBP::get_continuous_state_output_port()"
## Problem

Currently the name of this method is a lie. This port outputs the state of the plant whether it is continuous or discrete.

## Proposal
- Refactor `MBP::get_continuous_state_output_port()` to `MBP::get_state_output_port()`.
- Deprecate `MBP::get_continuous_state_output_port()`.

cc'ing @avalenzu, @jwnimmer-tri

[2019-04-24 01:02] #11297 closed

[2019-04-24 04:58] sherm1 commented on #11315
Please hold off deprecating this until we decide on what names to use for the repaired state abstractions in #9171. One thing I've been considering is to redefine "continuous" to mean "differentiable" in which case the current output port name would be OK. (Whether these variables get updated by an integrator or a discrete event handler would not change their name.)

[2019-04-24 12:55] avalenzu commented on #11315
That'll have interesting repercussions for large swaths of mathematics . . .

[2019-04-24 15:03] sherm1 commented on #11315
Yeah, could be a very bad idea! I'm looking for a way to fix our variable abstractions that doesn't do too much violence to our existing API, which leans heavily on DeclareContinuousState() to create q and v. Whether those get updated by an integrator or event handler or both is a separate matter. This is likely a good topic for an interested-parties discussion at the onsite.

[2019-04-24 16:56] amcastro-tri commented on #11315
Whatever the system's abstractions churn looks like, IMO we should aim for having just `MBP::get_state_output_port().`, it conveys what everyone has in mind when talking about state, no?