[2022-03-13 06:00] hongkai-dai commented on #16442
What I planned is like this
1. Create a new solver like AugmentedLagrangianSolver, which takes in a solver ID (like SNOPT/IPOPT/NLOPT).
2. Inside this solver, when calling Solve() with a MathematicalProgram with constraints, it will first construct a new MathematicalProgram corresponding to the augmented Lagrangian for some given Lagrangian multiplier and penalty terms. Then the solver (with the I

[2022-03-13 22:06] jwnimmer-tri commented on #10639
Given the lack of any follow-up, I think we can close this now?  If we write more benchmarks that show hot spots, we can open new issues for those new problems?

[2022-03-14 00:21] #10639 closed

[2022-03-14 03:17] jwnimmer-tri commented on #10605
FYI on a nice trick worth putting into our playbook:

When deprecating a helper struct:

(1) Change the struct name from `MyFoo` to `DeprecatedMyFoo`.

(2) Alias `using MyFoo DRAKE_DEPRECATED(...) = DeprecatedMyFoo;` so that users will get a notice.

(3) Internal to drake, spell the struct as `DeprecatedMyFoo` directly, to avoid first-party warnings.  Directly deprecate any public functions that m

[2022-03-14 03:28] jwnimmer-tri commented on #10605
Another tip:

When replacing a large API surface (and deprecating the old API surface), the easiest way to preserve the old-API tests while also duplicating and modifying them for the new-API is copy each unit test into a duplicate file:

https://github.com/RobotLocomotion/drake/pull/16739#pullrequestreview-908233511

[2022-03-14 10:18] richardrl opened #16775 "AddConstraint bugging out on exact equality"
[code]

I don't think this should be the behavior... There are good reasons why sometimes the two expressions you pass into "ge" or "le" are exactly equal at initialization, and you should not disallow this constraint to be created.

[2022-03-14 10:25] richardrl commented on #16775
My mistake, the self.force_cost_slack was not an expression

[2022-03-14 10:25] #16775 closed

[2022-03-14 11:40] RussTedrake commented on #13874
Thanks @shensquared !  I'm not so concerned about how "polished" the collapse/expand looks; as long as you can connect multiple ports in one diagram and get somewhat reasonable layouts, then this looks great!

[2022-03-14 13:01] shensquared commented on #13874
Sounds good. My to-do plan then, in order:
- [ ] One-to-many and many-to-one connection
- [ ] Easier/auto layout (my demo involved setting positions manually)
- [ ] A `Generating` function (i.e. takes a `.yaml` or a python dictionary and pops out the `.html` automatically)
- [ ] Beautify and polish (e.g. maybe also match the Drake color scheme)

Will let you know if/when the first two (the essenti

[2022-03-14 15:54] BetsyMcPhail commented on #16604
There are several steps that need to be coordinated to upgrade Gurobi:

- [x] Update required version in Drake itself #16716
- [ ] Update [Gurobi cask](https://github.com/RobotLocomotion/homebrew-director/blob/46439b995f89270951b3f6db84c67bb39823a2f5/Casks/gurobi.rb#L34)
- [ ] Update [CI pre-provisioning scripts](https://github.com/RobotLocomotion/drake-ci/blob/52e19788fe3e5d93ec48914d51b0896218e9

[2022-03-14 16:01] jwnimmer-tri commented on #16500
Closed by #16587.

[2022-03-14 16:01] #16500 closed

[2022-03-14 16:36] RussTedrake opened #16779 "AdoptOpenJdk is deprecated on homebrew"
https://github.com/AdoptOpenJDK/homebrew-openjdk

Likely we'll need to update to `temurin` soon.

[2022-03-14 16:46] RussTedrake commented on #16779
Currently, `homebrew` gives this scary message:
[code]

[2022-03-14 16:59] jwnimmer-tri commented on #16779
Duplicate of #16404?  Although possibly this ticket has more content.

[2022-03-14 17:16] jwnimmer-tri opened #16780 "Narrower release artifacts"
I'll need to do a more detailed write-up later on, but just to get a placeholder issue number for now...

There is general interest in offering separate release binaries, for different needs:
- C++ library only (headers and shared libraries)
- Python library only (the drake & pydrake modules, including the native code libraries required for those modules)
- Examples and tutorials
- All-in-one (i.e

[2022-03-14 17:24] jwnimmer-tri commented on #8433
Refer to #16756 for a nice trick.  We can set hidden visibility on an entire Drake namespace, instead of fighting with `-fvisibility=hidden` vs the linker.

With the attribute, symbols used within the file but not in the pydrake namespace can still be hidden (or not) per their original declarations.  With the `-fvisibility` build flag all symbols are hidden, which leads to mismatched visibility vs

[2022-03-14 17:25] jwnimmer-tri commented on #14029
Most likely fixed by #16185.

[2022-03-14 17:25] #14029 closed

[2022-03-14 19:15] RussTedrake commented on #16779
i did actually search... how I did not find that I do not know...

[2022-03-14 19:22] rpoyner-tri commented on #16229
This issue needs splitting. SDF and URDF are being worked as separate tasks, and diagnostic plumbing can be separated from semantic upgrades (more warnings).

- [ ] URDF parser: support first-class feedback channel
- [ ] URDF parser: warn about unsupported URDF tags
- [ ] SDF parser: support first-class feedback channel
- [ ] SDF parser: warn about unsupported SDF tags

TODO(me): file issues for e

[2022-03-14 19:28] rpoyner-tri opened #16782 "URDF parser: support first-class feedback channel"
Split from #16229. Proposal is to plumb the full URDF parser via common/diagnostic_policy, so that handling of errors and warnings can be configured.

Victory condition: all instances of `throw`, `drake::log->warn(`, and `log_once` reachable from `AddModelFromUrdf()` are replaced by diagnostic policy usage. There may be specific exceptions for difficult cases.

[2022-03-14 19:34] rpoyner-tri opened #16783 "URDF parser: warn about unsupported URDF tags"
Split from #16229. The URDF parser should issue an explicit warning for documented URDF tags that it ignores. Best implemented after #16782 is complete.

Victory condition: given some defensible list of URDF tags (note: the spec is documented, but not versioned, here: http://wiki.ros.org/urdf/XML), demonstrate that the URDF parser either implements the tag by constructing relevant plant features,

[2022-03-14 19:38] rpoyner-tri opened #16784 "SDFormat parser: support first-class feedback channel"
Split from https://github.com/RobotLocomotion/drake/issues/16229. Proposal is to plumb the full SDF parser via common/diagnostic_policy, so that handling of errors and warnings can be configured.

Victory condition: all instances of `throw`, `drake::log->warn()`, and `log_once` reachable from `AddModelsFromSdf()` are replaced by diagnostic policy usage. There may be specific exceptions for difficu

[2022-03-14 19:42] rpoyner-tri opened #16785 "SDFormat parser: warn about unsupported tags"
Split from #16229. The SDFormat parser should issue an explicit warning for documented SDFormat tags that it ignores. Best implemented after #16784 is complete.

Victory condition: given a list of SDFormat tags for whatever version we claim to support, demonstrate that the SDFormat parser either implements the tag by constructing relevant plant features, or warns that the tag is being ignored.

[2022-03-14 19:50] rpoyner-tri commented on #12610
How shall we subdivide this issue? We could certainly split by file type. Beyond that, are there distinct subtasks, other than just grinding through the implementation, piece by piece?

[2022-03-14 20:04] jwnimmer-tri commented on #12610
It depends a little bit on the implementation approach.

For SDFormat, it probably makes sense to split on "Known and not supported" vs "Unknown" since with the intermediate DOM those are going to be quite different.

For URDF, I'm not sure there's any difference.

[2022-03-14 21:30] BetsyMcPhail commented on #16500
I may have moved this into the "Done" column prematurely. This was completed for Ubuntu, I don't remember if we also wanted to try on Mac?

[2022-03-14 21:34] jwnimmer-tri commented on #16500
Good point.  Could you open a new ticket for doing this on macOS?  I think it'll be easier to track that way.

The reason to do this on macOS would be to reduce disk space used by CI.  To that end, the first task in the new ticket would be to measure the disk footprint of a full debug build with an without fission.  If it's a useful saving, then we can pursue trying to roll it out.

[2022-03-14 22:02] DamrongGuoy commented on #16627
@richardrl could you provide the python example to reproduce the problem, please?

[2022-03-15 15:00] #16604 closed

[2022-03-15 16:38] #16640 closed

[2022-03-15 16:48] BetsyMcPhail opened #16796 "Investigate Fission builds on Mac"
Follow up to #16500.

On Mac, the goal is to enable fission to reduce disk space on debug CI builds. The first task here is to determine if this option will be helpful.

Also see #16788

[2022-03-16 00:02] jwnimmer-tri commented on #16706
Step 1 is to un-nest the Options struct.  I'll do that without deprecation yet just so that the final APIs make it to a stable release before I start deprecating things.

[2022-03-16 02:26] shensquared commented on #13874
@RussTedrake Updated the [demo](https://shensquared.github.io/diagram-proto/demo.html) towards the first 2 items on my list.

[2022-03-16 17:47] Brian-Acosta opened #16809 "Feature Request: Heightmaps as collision geometry for point contact"
Per discussion (on slack)[https://drakedevelopers.slack.com/archives/C2WBPQDB7/p1647448357773929], it would be useful to have a height map, interpolated as a triangular mesh, available as a collision geometry for point contact. We currently have an implementation where the robot has hydroelastic compliant feet, but it would be nice to be able to use a faster contact model. cc @sherm1 @amcastro-tri

[2022-03-16 18:40] rpoyner-tri commented on #16809
\cc @DamrongGuoy

[2022-03-16 19:05] jwnimmer-tri commented on #12376
The separate starlark rules_cc is far from complete, and is generally a regression from the native ones.  We'll wait to switch until Bazel deprecates the native ones.

For rules_java, we use it so little that there's no real need to switch anything unless Bazel deprecates the built-in ones.

[2022-03-16 19:05] #12376 closed

[2022-03-16 19:06] jwnimmer-tri commented on #16779
Possibly also worth noting -- the `drake-lcm-spy` program is the only thing we need Java for.  If we re-implemented that as a Python GUI, we could drop Java from our build system (and the JDK dependency) entirely.

[2022-03-16 22:32] mposa opened #16811 "Feature request: reuse optimization workspace and problem setup"
In some optimization settings, MPC for example, similar programs are solved sequentially. Particularly for control, throughput can have a substantial effect on closed-loop outcomes. In Drake's currently implementations of solvers for `MathematicalProgram`, upon calling `Solve`, the code currently creates the solver-specific workspace and problem definition, solves the program, and then destroys th

[2022-03-16 22:41] DamrongGuoy commented on #16809
There seem to be two features requested here:

**Feature 1.** How to specify height maps in Drake (programmatically, SDF, URDF).

**Feature 2.** Once we have the class `geometry::HeightMap final : public Shape {...}`, which queries for point contacts to support first?

### Feature 1

Feature 1 is infrastructure and software engineering and asset management.  For now, it can disguise indirectly as

[2022-03-16 23:14] svenevs commented on #16502
FYI related discussion on the [VTK discourse here](https://discourse.vtk.org/t/wrapping-vtk-in-an-inline-namespace/8072).

[2022-03-16 23:22] jwnimmer-tri commented on #16811
A while back, I started a small prototype of this at https://github.com/jwnimmer-tri/drake/commits/osqp-heap.

We cannot store the workspace in the Solver object itself, because those objects must remain thread-safe.  Probably the design we want to aim for is to store the reusable workspace inside the `MathematicalProgramResult`, as is done on that branch.

[2022-03-17 01:39] RussTedrake commented on #13874
Looks great!

On Tue, Mar 15, 2022 at 10:26 PM, Shen Shen ***@***.***>
wrote:

[2022-03-17 13:23] svenevs opened #16814 "RenderRpc: promote image test utilities to Drake master"
Go through the Drake platform review to merge `geometry/render/dev/test` for dummy `test_png` and `test_tiff` library code to master.

Relates: #16802.

Relates: #16868.

`RenderClient` and `RenderEngineGltfClient` tests use these utilities so it seems natural to move the test image libraries out before moving those codes out.

[2022-03-17 13:31] svenevs commented on #16750
Note: #16748 and #16749 are related here, the documentation needs to be converted to doxygen and link to where those files are going to live.  Current docs are here: https://github.com/RobotLocomotion/drake/blob/85135d0be06ef4bb45265fc0138b347cedd1191d/geometry/render/dev/render_server/README.md

[2022-03-17 13:37] svenevs opened #16815 "RenderRpc: Reogranize dev Folder Names"
Ref: https://drakedevelopers.slack.com/archives/C2WBPQDB7/p1646937427862689

Make final decision on destination directory and namespace, then reorganize the `dev/` folder to match this before promoting code.

[2022-03-17 13:43] amcastro-tri commented on #16809
Yes, I'd say today the relevant query for point contact is [ComputePointPairPenetration()](https://drake.mit.edu/doxygen_cxx/classdrake_1_1geometry_1_1_query_object.html#af3b16adde799eb804619dc86f3703f4f).

For Feature 2, I believe FCL does support what we need, though we might need to unit test properly since I recall Sean complaining about the accuracy of mesh queries.
Assuming the functionality

[2022-03-17 18:23] jwnimmer-tri commented on #13683
Rico and I did a little experiment today.

I made a test project:
- with two notebooks
- using "local Dockerfile" with a FROM drake yyyymmdd line and nginx pre-install
- granting "comment only" access to Rico

I ran the project to populate the cell outputs, then shut down my machine.

Rico was able to open the project and see the outputs.  He could not run it, but Deepnote provided a pretty clear

[2022-03-17 18:52] #16278 closed

[2022-03-17 21:14] sherm1 commented on #16809
Alejandro pointed out that the simple pressure field I outlined above would only work for heightfields with gentle height variations, like Brian's picture here. That's because the simplification I proposed would yield only vertical pressure gradients like a halfspace has. If there were steep slopes in the heightfield, any interactions with the sloped parts ought to encounter gradients perpendicula

[2022-03-17 21:18] jwnimmer-tri commented on #16809
@sherm1 I got lost why you're talking about hydroelastic contact.  The initial report stays they are using hydro and it's too slow.  The request was to add *point contact* height fields.  Are you trying to say that using different shapes with hydro would be sufficiently fast, on par with point contact?

[2022-03-17 21:41] sherm1 commented on #16809
No, sorry -- I was thinking about adding the new geometry type for general use. A rigid height map is sufficient to address the request here. I thought we'd get the compliant version almost for free, but now I don't think so. Let's just start with a rigid height map that works with point contact (and as the rigid side of a rigid/compliant contact).

[2022-03-18 04:25] SeanCurtis-TRI commented on #16809
I'd stay away from using FCL's contact with a mesh.

1. The mesh has no volume, no inside/outside. If the foot contacting geometry is small enough, and velocities are high enough, you can easily have the the foot penetrate so deeply that you either miss the contact, or, more likely, the foot gets sucked in. Heightfields implicitly have volume and if you treat it as such, you'll never miss contact.

[2022-03-18 11:42] RussTedrake commented on #13683
FYI -- I discussed this workflow with the Deepnote developers quickly, and currently understand that we need to manually "build" the docker image in the Deepnote console whenever we update the Dockerfile.  I have a discussion started with those developers to make sure I understand the implications ("once per project? once per user?").  This will have to be part of the manual steps in the playbook.

[2022-03-18 14:20] amcastro-tri commented on #16809
Thank you for the input @SeanCurtis-TRI! love to see you are still around!

[2022-03-18 14:29] jcarpent commented on #16809
Hi Drake team,

Here is an implementation of HField with volume within hpp-fcl (a fork of FCL): https://github.com/humanoid-path-planner/hpp-fcl/blob/devel/include/hpp/fcl/hfield.h.
Feel free to integrate it within the original FCL.

[2022-03-18 17:51] rpoyner-tri commented on #15018
Given ongoing Adoption work, @jwnimmer-tri is likely to get to this first.

[2022-03-18 18:03] rpoyner-tri commented on #16178
I will claim this need was largely satisfied by #16444. Of course there is more work to do, but not enough to justify keeping this issue.

[2022-03-18 18:03] #16178 closed

[2022-03-18 18:06] rpoyner-tri commented on #12754
Is there a reason this issue is still open? the String APIs have been available for quite some time.

[2022-03-18 18:06] #12754 closed

[2022-03-18 18:08] rpoyner-tri commented on #13586
Given where our thinking about autodiff is going, I'm handing this back to @hongkai-dai for further consideration.

[2022-03-18 18:14] rpoyner-tri commented on #13902
I don't foresee doing much further work here. Handing back to @sherm1 for re-triage.

[2022-03-21 17:11] svenevs commented on #14691
I was looking into the PR that would remove things, we have another snag: `drake-visualizer`.  [RobotLocomotion/director search results for scipy](https://github.com/RobotLocomotion/director/search?q=scipy) and my own personal lack of understanding of what code is or is not actually executed makes me hesitant to want to remove the dependency from drake.

After #16765 is finished I believe we can s

[2022-03-21 17:37] jwnimmer-tri commented on #14691
Almost all the Python source code in director's repository (and Docker-built image) is dead code when used within Drake.  If we can't tickle it by running the visualizer with all of our plug-ins turned on, then I think it's fine to leave it alone.  I can help verify that assumption, when it comes time.

[2022-03-21 21:34] svenevs commented on #16448
Inlining https://github.com/RobotLocomotion/drake/issues/12783#issuecomment-672266985 as a checklist for revision:

- [ ] Ensure vtk explicitly links to all its dependencies.
    - VTK 9 is good to go.
    - [ ] VTK 8 is going to use the current rpath patching, to be removed when drake-visualizer is dropped.
- [ ] Fix file permissions for non-executables.
- [ ] Install models licenses into share/d

[2022-03-21 21:40] jwnimmer-tri commented on #16448
Most of the post-processing is wrong anyway.  We should keep things as-if the user did something like `cd /opt && sudo tar xfz drake-yyyymmdd.tar.gz`.  In other words, don't change the install paths at all, just because of the different release channel.

This will change the file layout in the apt package, compared to what users were used to.  That's fine, we'll announce it as a breaking change.

[2022-03-21 22:45] jwnimmer-tri commented on #16448
For (7), we are shipping IBEX and VTK as public shared libraries, so we should continue to install their headers so that users can build & link against those libraries while also linking to Drake.

[2022-03-21 23:06] jwnimmer-tri commented on #16796
I just realized that Debug builds on macOS run only Weekly in the CI schedule:
https://drake-jenkins.csail.mit.edu/view/Mac%20Monterey/job/mac-monterey-clang-bazel-weekly-debug/

Because they aren't running that often (I'd assumed they were nightly), if it ends up being too much work to experiment with Fission for them, we can probably just WONTFIX here and give up.

[2022-03-22 00:19] DamrongGuoy commented on #16627
I close this issue now since I haven't heard back from @richardrl for a week.

[2022-03-22 00:19] #16627 closed

[2022-03-22 17:19] svenevs opened #16832 "GitHub Issue Template Outdated"
Visit in browser for a warning from GitHub: https://github.com/RobotLocomotion/drake/blob/master/.github/issue_template.md

They link to [the new format](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/about-issue-and-pull-request-templates).  Some reference examples:

- https://docs.github.com/en/communities/using-templates-to-encourage-useful-i

[2022-03-22 19:44] svenevs commented on #14691
We've hit a roadblock with sparse matrices getting bound from Eigen.  [pybind11 maps `Eigen::SparseMatrix` to scipy](https://pybind11.readthedocs.io/en/stable/advanced/cast/eigen.html), so a decision needs to be made about how to bind things on the python side.  Some examples:

https://github.com/RobotLocomotion/drake/blob/11388ee6352d22acf62665d522a3963fb4e4123d/solvers/constraint.h#L327

https:/

[2022-03-22 21:22] rcory opened #16841 "DrakeVisualizer: Cannot Toggle Hydroelastic Contact Visualizer"
When toggling off hydroelastic contact visualization in Drake Visualizer through the tools menu (`Tools->Hydroelastic Contact Visualizer`), there is no way to toggle it back on. That is, once the hydro visualization is toggled off, it remains off until Drake Visualizer is re-started again.

[2022-03-22 21:23] jwnimmer-tri commented on #14691
Here's my proposal.  We'll commit to never meaningfully using `scipy.sparse` in any of our tests or examples.  We still bind things that mention it, but we always unit test them using stubs that just convert to dense to help with testing.

The plan:
- [ ] Change our bindings unit tests to use a scipy.sparse stub (#16840).
- [ ] Announce in the next release notes that Drake's binary releases' depen

[2022-03-22 22:29] svenevs commented on #14691
Second checklist item should also update https://drake.mit.edu/python_bindings.html to explain what happens with sparse matrices (namely, they still get bound and are usable just need to install `scipy`).

------------

To satisfy my curiosity (in spare time), the way to produce a better error message seems to be

[code]

It doesn't seem possible to actually `try { return self.A() } catch (... any

[2022-03-22 22:48] jwnimmer-tri opened #16842 "Dropping Ubuntu 18.04 (Bionic) CI"
The first task in #13391 is to turn off CI jobs for Bionic.

- [x] Ensure that Drake v1.1.0 has been released.
- [x] Switch all pre-merge PR build choices to use `focal` flavors
- [x] Drop Bionic from https://drake-jenkins.csail.mit.edu/
- [x] Drop Bionic from https://github.com/RobotLocomotion/drake-external-examples/tree/main/.github [PR#222](https://github.com/RobotLocomotion/drake-external-exa

[2022-03-22 23:19] DamrongGuoy commented on #16841
I can reproduce the problem as shown in these pictures.

![image](https://user-images.githubusercontent.com/42557859/159591298-c2b178a4-dea9-4d70-91a5-5574ce42d1dc.png)
![image](https://user-images.githubusercontent.com/42557859/159591358-7cdf9bd2-b95c-49c5-8f1c-c9829dc6fcec.png)
![image](https://user-images.githubusercontent.com/42557859/159591489-827f1b1f-0c58-4a5b-81ff-21ec77746868.png)
![image

[2022-03-22 23:20] DamrongGuoy commented on #16841
I see this error message:
[code]

[2022-03-23 00:39] DamrongGuoy commented on #16841
CC: @rpoyner-tri do you see something obviously wrong?

The ability to toggle hydroelastic visualizer on and off would be very handy.  I hope we can fix it easily.

[2022-03-23 12:52] rpoyner-tri commented on #16841
It's probably worth a look, but don't forget that drake-visualizer is reaching end-of-life soon. So it's only worth effort until the replacement meshcat solution becomes available.

[2022-03-23 12:55] DamrongGuoy commented on #16841
I agree.  We should fix it only if it's easy.

I ask for high priority for the Onsite demo next week.

[2022-03-23 13:41] jwnimmer-tri commented on #16439
@BetsyMcPhail -- Russ is working on the "permission" facet above, and will probably be finished soon.  I've added this to "On Deck" in anticipation.

After that's ready, it's over to us to work on the implementation here to make it happen.  The plan will be to turn on MOSEK during our Packaging builds (in addition to SNOPT).

I imagine it will be something like this:
- [ ] Ensure that when MOSEK i

[2022-03-23 13:50] ggould-tri opened #16848 "Use of SceneGraphInspector requires use of drake::geometry::internal"
Related to #16615 (and possibly fixed by any fix to that issue?)

The public API of `SceneGraphInspector` provides `GetProximityProperties`, which gives a string-based map of properties.  However both the keys and the values in that map are located in `drake::geometry::internal`, forcing downstream users to write code like:
[code]
Every use of the word "internal" in that snippet is a bug, since do

[2022-03-23 14:34] jwnimmer-tri commented on #16811
One interesting design question here, though -- should we expect that the solvers _notice_ that the problem shape is the same when restarting, or are we thinking about some API where the user tells / promises to us something about the program?

[2022-03-23 15:33] mwoehlke-kitware commented on #16796
As a checkpoint, I ran `bazel test --config=apple_debug //common/...`. The resulting `bazel-out/` was 4.5G. (No change with or without `--fission`.)

[2022-03-23 15:39] rpoyner-tri commented on #16848
I'll keep it for now. F2f with @ggould-tri indicated this is not an on-fire request, but I agree it should be phased out in some way.
One possible path forward is outlined in #13688.

[2022-03-23 17:19] rpoyner-tri commented on #16841
Had a f2f with @joemasterjohn . I think he will be able to offer some useful advice before too long. I will bow out for  now. :)

[2022-03-23 18:37] joemasterjohn commented on #16841
One question I had before digging deep into a solution for this is: do you just want to hide all of the hydroelastic contact visualizations, or is there a need to disable the plugin itself? Because if all you need to do is hide the visuals, you can just toggle the eye icon for "Hydroelastic Contact" in the Scene Browser:

![bubble_off](https://user-images.githubusercontent.com/5809905/159771976-c1

[2022-03-23 19:17] DamrongGuoy commented on #16841
That's a very good question, @joemasterjohn.  I let @rcory answer that.

I add that the `eye` works for one snapshot of LCM message.  In the next publish step, the next hydroelastic contact result will show up again.  In other words, the `eye` opens itself for the next message.

[2022-03-23 21:28] joemasterjohn commented on #16841
Yeah the fact that the `eye` button re-enables for each new LCM message is frustrating.

Regardless, I have a fix for the original problem in #16852. @rcory @DamrongGuoy could you please verify that this fixes the problem for you? Thanks.

[2022-03-23 22:44] rcory commented on #16841
Verified that the associated PR fixes the issue for me. Thanks!

[2022-03-24 13:04] RussTedrake opened #16856 "profiling recommendations on website cleanup"
We have profiling locations on two different pages on the website.  Both were difficult to find.

I would consider the main documentation to be here:
https://drake.mit.edu/profiling.html

We also have some instructions for mac buried in here: https://drake.mit.edu/bazel.html

Searching `site:drake.mit.edu profiling` on google pointed me to yet another (unhelpful) stub at: https://drake.mit.edu/dev

[2022-03-24 14:48] jwnimmer-tri commented on #16856
My vote is that we should in case move the macOS profiling information from bazel.html to profiling.html (or else purge it entirely, if we don't think anyone is using or validating it anymore anyway).

[2022-03-24 17:00] #16841 closed

[2022-03-24 18:08] hongkai-dai commented on #16292
I created a benchmark test branch https://github.com/hongkai-dai/drake/tree/benchmark_polynomial_sum. Here is the benchmark result

1. Drake master takes 30 ms
2. By using the patch
[code]
    takes 25ms
3. By using the patch
[code]
    it takes 12ms.

[2022-03-24 18:19] hongkai-dai commented on #16735
Resolved through #16854

[2022-03-24 18:19] #16735 closed

[2022-03-24 19:07] jwnimmer-tri opened #16865 "Upgrade to Bazel 5.1 in Provisioned"
https://github.com/bazelbuild/bazel/releases/tag/5.1.0

Prior issue: #16447.
Prior PR: #16523.

No hurry on this, it's OK for this to wait until the 2022-04-01 externals upgrade / bionic drop time period.  I'll be running it locally in the meantime and will chime in about any local problems I see.

[2022-03-24 20:17] jwnimmer-tri opened #16866 "rendering_multibody_plant tutorial crashing"
Related to #13683.

In the `rendering_multibody_plant` tutorial on Deepnote, the cell "## Render color and label images using matplotlib" crashes the deepnote interpreter with a corefile.

[2022-03-24 20:23] jwnimmer-tri commented on #16866
[code]

[2022-03-24 21:12] jwnimmer-tri commented on #16866
If I do `Xvfb :0 &` in a deppnote terminal and then  `os.environ["DISPLAY"] = ":0"` in notebook, the tutorial passes a-ok.  We can probably do something in the Dockerfile to automate that.

[2022-03-24 22:21] svenevs commented on #16750
FYI when things move out this documentation should link to the final destination

https://github.com/RobotLocomotion/drake/blob/06dd087b402438853f3227aaa8e73889ee7d09ac/geometry/render/render_doxygen.h#L19-L24

[2022-03-24 23:23] jwnimmer-tri commented on #15740
We're seeing a notable uptick in JDK download errors:

[code]

[2022-03-24 23:23] jwnimmer-tri commented on #15740
Setting [--experimental_repository_downloader_retries](https://bazel.build/reference/command-line-reference#flag--experimental_repository_downloader_retries) to a non-zero value may help.

[2022-03-25 14:24] EricCousineau-TRI commented on #16832
No direct interest in completing :sweat_smile:
Per [Platform Reviewer Checklist](https://drake.mit.edu/platform_reviewer_checklist.html), assigning to @BetsyMcPhail for disposition.

[2022-03-25 20:19] xuchenhan-tri opened #16875 "Support deformable geometries in SceneGraph"
As we close in on supporting simulating deformable bodies with FEM, we should start thinking how to represent the geometries of these deformable bodies.

At the moment, our geometry nexus, SceneGraph, doesn’t have a notion of deformable geometries. All geometries are represented as posed shapes, which would be insufficient for deformable geometries considering the additional degrees of freedom. Fo

[2022-03-25 21:26] sherm1 commented on #16875
Thanks for this, Xuchen! One concern: representing all deformable geometry in the world frame seems awkward in a multibody context, such as a deformable end effector on a robot arm, or any articulated multibody system in which some of the bodies are deformable. We normally expect that moving a body will also move everything outboard of that body.

Assuming that every mesh is defined (at least init

[2022-03-25 22:02] xuchenhan-tri commented on #16875
That's an good point. I had considered it, but haven't convinced myself the benefits of keeping the deformable geometry's frame. Unlike a multibody system where we benefit from a chain of local frames in a pose update, there isn't much to be gained in the FEM calculation; the amount of work we need to do is the same whether the computation is done in world frame or the local frame. So on the FEM s

[2022-03-25 22:29] sherm1 commented on #16875
As a multibody dynamicist I will confess to a certain reflexive horror of representing anything in the global frame. (For graphics that might seem more reasonable.) One of the worst things for computation is the variable precision produced by a world frame representation. Even for FEM the calculations are always local -- neighboring elements affect one another. Consider what happens as a mobile ro

[2022-03-25 22:58] xuchenhan-tri commented on #16875
I can get behind that concern. The solution to that doesn't necessarily have to be a frame that is fixed to the parent frame though. A shifted world frame as the local frame (so we don't need to do extra rotations) seems to be enough?

[2022-03-26 00:18] DamrongGuoy commented on #16875
We should talk more face-to-face. What would we like to happen if:
1. My mobile robot very slowly moves a rigid plate on which there is a deformed pancake (deformation from pancake flipping by my wife's sous-chef robot) that sits still relative to the plate.
2. My mobile robot moves straight slowly one meter from the kitchen and turns 60-degree left and moves one more meter.
3. Then, the robot goe

[2022-03-27 16:27] RussTedrake opened #16877 "Improve MultibodyPlant<AutoDiffXd> performance: kinematics"
I've established a benchmark in `multibody/inverse_kinematics/position_constraint_benchmark` that demonstrates the difference between using AutoDiffXd vs using CalcJacobian for kinematic gradients.  I will use this issue to track some experiments / performance improvements.

[2022-03-27 16:37] RussTedrake commented on #16877
I had originally hoped that I could do something as simply as shortcutting the `CalcPositionKinematicsCache<AutoDiffXd>` method to call `CallJacobian...`.  But the APIs are not similar enough to make that work out.

In some initial profiling experiments `RigidTransform<AutoDiffXd>::operator*` repeatedly showed up as a hot spot.  In reading the code, my first observation is that the AutoDiff pipeli

[2022-03-27 22:33] sherm1 commented on #16877
Wow!

[2022-03-28 16:31] BetsyMcPhail opened #16879 "Upgrade externals to latest - April 2022"
Follow [Semi-automated monthly upgrades](https://github.com/RobotLocomotion/drake/blob/master/tools/workspace/README.md#semi-automated-monthly-upgrades) documentation.

Prior issue: #16675

[2022-03-28 16:48] BetsyMcPhail commented on #16865
Note that Homebrew is still at 5.0.0

[2022-03-28 17:17] hongkai-dai commented on #9853
This is resolved with `is_convex` flag in QuadraticCost.

[2022-03-28 17:17] #9853 closed

[2022-03-28 17:51] amcastro-tri commented on #16875
Thank you for putting this together @xuchenhan-tri. I think it would help if you had a companion design document (gdoc ok) where for each or some of those TODO items you show an example of what that API would look like. I think that'd help future discussions and also to define clear interfaces for the geometry team so that they don't need to get deep into FEM details.

**Re moving frames for defor

[2022-03-28 18:11] BetsyMcPhail commented on #16865
- [ ] Upgrade recommended Bazel version to 5.1.0 for Linux - #16878
- [ ] Update Linux provisioned images - Coordinate with update with #16864
- [ ] Upgrade recommended Bazel version to 5.1.0 for Mac - waiting for Homebrew
- [ ] Update Mac provisioned images

[2022-03-29 01:01] aminya opened #16882 "Install libdrake.a C++ static library via CMake"
It seems that Bazel doesn't allow building a library as a static library by default, which is unfortunate as it means the users should either use the shared library or use Bazel as their build system all the way down.

There are multiple issues that report this in Bazel.
https://github.com/bazelbuild/bazel/issues/1920
https://github.com/bazelbuild/bazel/issues/492

There is one solution offered in

[2022-03-29 01:13] jwnimmer-tri commented on #16882
This sounds like a feature request on Drake, but I'm not sure exactly what feature you're requesting, or what problem you're trying to solve.  Could you try to explain your desired result?

Would it solve the problem if when doing `cmake && make install` for Drake, that there was an option `-DDRAKE_BUILD_STATIC=ON` (off by default) that would install `libdrake.a` instead of `libdrake.so`?

If that

[2022-03-30 00:20] xuchenhan-tri commented on #16875
@amcastro-tri I am preparing a design document right now. I'll share it when it's ready.
Re moving frames - I think it would be quite straightforward to support local mesh frames that are not fixed to the world frame. The only FEM component that we need to touch is a change of frame operation on the state. On the other hand, I don't think we want to support a "moving" frame, and that's not necessa

[2022-03-30 11:19] jediofgever commented on #4421
Hi,
I came here from Underactuated course notes. It seems from the example code above that I can obtain a valid `Vdot`, but the ultimate goal for me is to use the acquired `Vdot` for deriving a controller, I will appreciate it if you can point me to any example/docu related to this. Thank you!

[2022-03-30 15:43] hongkai-dai commented on #4421
@jediofgever You can refer to the paper "[Control Design along Trajectories with Sums of Squares Programming](https://arxiv.org/pdf/1210.0888.pdf)" on designing a controller and a Lyapunov function simultaneously.

[2022-03-30 18:52] mitiguy commented on #16875
In a f2f conversation with @xuchenhan-tri, we discussed what local frame might be helpful, not just in terms of accuracy but also in terms of utility.  For a highly deformable body (or a set of free-flying points), one can define a RigidTransform that characterizes the system in various ways -- e.g., with least squares, principal inertia axes, etc.  I think it helpful to understand what inherent v

[2022-03-30 19:37] amcastro-tri opened #16887 "Assess the accuracy of Gurobi in cone projection tests"
I modified `sap_friction_cone_constraint_test.cc` to use Gurobi in order to assess its accuracy for these simple (3 variables) projection tests. The unit test is there to verify the analytical solution to these projections using a numerical computation. In master we use SCS since, even if slow when compared to Gurobi for large problems, SCS does great in these very small test cases. It also does w

[2022-03-31 00:13] RussTedrake commented on #16877
fwiw -- I ran the same experiment on the cassie bench.

Before:
[code]
After:
[code]
cc @rpoyner-tri

[2022-03-31 00:33] sherm1 commented on #16877
Per f2f at onsite -- this looks promising. PTAL @rpoyner-tri when you have a chance.

[2022-03-31 00:54] aminya opened #16890 "CMake undefined reference build errors"
I am trying to use the library built with CMake, however, my build fails with missing reference errors. I have tried several things, but it seems that `schema` references are missing from libdrake.so. This issue doesn't happen if I use Bazel to build my test file.

I used something similar to this:
https://github.com/RobotLocomotion/drake-external-examples/blob/c4b7e210c35a6342d7ad979f5cc166e7edd6

[2022-03-31 02:27] jwnimmer-tri commented on #16882
Ok, this makes sense.  The feature request is for our CMake build to obey `BUILD_SHARED_LIBS` to the extent possible.

We'll need to do #16780 first (so that we have a C++ standalone build, with no Python), and then we can return to this issue.

[2022-03-31 02:30] jwnimmer-tri commented on #16890
We can't really help with this until we have a reproducible example -- both the source code you're trying to run, and any configuration or build steps required to invoke the error.

The template instantiations in these lines of code _should_ be providing those symbols.

https://github.com/RobotLocomotion/drake/blob/7982ce45c184a7ab215fcb6ba393f0be908d22b8/common/schema/stochastic.cc#L437-L465

[2022-03-31 15:04] amcastro-tri commented on #16875
That sounds like a can of worms to me @mitiguy (I've done it). Especially for a first pass at this. @xuchenhan-tri's design would not prevent us from adding special cased reference frames in the future if we have the need for it.

[2022-03-31 16:04] mwoehlke-kitware commented on #16865
...wheels? (macOS wheel will follow homebrew / CI provisioning, but the Linux wheels need to be updated.)

FYI, I'm running a local wheel build with 5.1.0 now... probably going to take a few hours since this invalidated all of the caching. (Would there be any value in moving Bazel provisioning to after dependencies but before Python provisioning?)

[2022-03-31 16:23] xuchenhan-tri commented on #16875
@amcastro-tri  -- To clarify, the f2f discussion with @mitiguy is more like food for thought instead of actual request.

[2022-03-31 17:12] hongkai-dai commented on #16887
I wrote a gurobi native code (without using Drake) and the problem pertains. The accuracy is low (error >1E-4) in the default setting. The problem is that the solution should lie exactly on the boundary of the friction cone, but the gurobi solution has a small margin to the boundary (margin ~ 1E-6). I tightened `BarQCPConvTol` to 1E-9 and then the solution becomes quite accurate.

Unfortunately ti

[2022-03-31 17:19] BetsyMcPhail commented on #16865
@mwoehlke-kitware [tools/wheel/image/provision-base.sh](https://github.com/RobotLocomotion/drake/pull/16878/files#diff-1d9ab263d143c0d3b9bbb66f3f1017a6c45b3100cb893ac386f3775945cfd8fe) was updated as part of the Linux PR. Where else do I need to update? I probably missed it last time as well so we may be 2 versions out of date.

[2022-03-31 17:31] mwoehlke-kitware commented on #16865
Ah, apparently my local checkout is that far out of date 😢 .

[2022-03-31 18:32] amcastro-tri commented on #16875
Yes, I know. Thanks

[2022-03-31 18:45] amcastro-tri commented on #16887
Thanks @hongkai-dai! great to hear you are making progress.

I remember seeing accuracy problems with `SapFrictionConeConstraint_RegionI`, where the input vectors are well within the friction cone. Is that consistent with your observations?

[2022-03-31 19:08] hongkai-dai commented on #16887
It's the similar behavior in RegionI. In my gurobi native code, the default setting is very inaccurate. If I decrease `BarQCPConvTol` then the solution gets much more accurate. With the Drake code, reducing `BarQCPConvTol` doesn't improve the solution accuracy, in fact it increases the solution error. I think there is some discrepancy in how Drake handles LorentzConeConstraint versus how gurobi pa

[2022-03-31 20:01] amcastro-tri commented on #16887
well, that's actually great news! you got the two codes to behave differently. It'd seem you are on the right track

[2022-04-01 05:11] hongkai-dai opened #16895 "ExtractAndAppendVariablesFromExpression is slow"
This function uses `conservativeResize` which involves a lot of heap memory allocation https://github.com/RobotLocomotion/drake/blob/e6c31419faf9a3f6b429a6194d594cdb72eb43ca/common/symbolic_decompose.cc#L112

I propose that we change the signature of this function, the input type of `VectorX<Variable>* vars` should be changed to `std::vector<Variable>* vars`, so that we use `std::vector::push_back

[2022-04-01 17:22] mwoehlke-kitware commented on #15958
FYI, I'm not sure how to build 3.8 wheels on Big Sur. We would need to modify the build environment somehow so that 3.8 is the detected Python. Right now, CI is using 3.9. Also, we'll probably need separate CI jobs for each wheel.

#16872 is a first pass at implementing this. As of writing (including some not-yet-pushed-but-will-be-soon changes), the resulting wheel still depends on:
- /usr/local/

[2022-04-01 17:27] jwnimmer-tri commented on #15958
It's fine to defer 3.8.  We should focus on 3.9 and get that shipped in a stable release, documented on the website, fully debugged, etc.  After that, we can circle back to 3.8 (or return this to the backlog and switch to a new issue).

[2022-04-01 17:30] jwnimmer-tri commented on #16895
For all of these performance improvements, it would be helpful to write application-level benchmarks (e.g., constructing and populating a MathematicalProgram) so that we can demonstrate the improvement, and check for regressions over time.

[2022-04-01 17:33] mwoehlke-kitware commented on #15958
Yup. Mostly I wanted to post the list of "stuff we currently need from homebrew" somewhere, and noticed that while I was here.

BTW, I just switched the macOS wheel builds to always building fmt/spdlog from source, using bazel, like manylinux already does. Tested locally; going to ask for CI jobs shortly.

[2022-04-01 18:25] jwnimmer-tri opened #16898 "Parsing conjunctions in Matrix<Formula> constraints"
Some Formula parsing code in MathematicalProgram does not deal with conjunctions well.  Refer to https://github.com/RobotLocomotion/drake/pull/16761#pullrequestreview-920736252.

These two functions handle it fine:
* `ParseConstraint(const Formula& f)`
* `ParseLinearEqualityConstraint(const Formula& f)`

These two functions will throw if any of the formulas is a conjunction, because they don't hav

[2022-04-01 21:05] jwnimmer-tri commented on #16890
Closing for now, for lack of information to reproduce the problem.

Our issue template points to https://drake.mit.edu/getting_help.html, which says that for debugging help we'd prefer to field questions in StackOverflow.  Only feature requests or reproducible bug reports should be filed as issues.

[2022-04-01 21:05] #16890 closed

[2022-04-03 11:55] RussTedrake commented on #16877
FWIW - I took a quick look at lifting this to a template specialization of Eigen's `PlainObjectBase`, but that was not an enjoyable exercise.  The storage in that class is protected, not private, and it is quite hard to change because the derived classes depend on the details of its implementation.

[2022-04-04 15:09] rpoyner-tri commented on #16877
Just coming back around to this. The numbers look promising. The link to dev code above is a bit of a land mine (points to "make a new PR" page). I'll see about fixing that bit.

[2022-04-05 04:36] hongkai-dai commented on #16887
FTR, I wrote the problem in gurobi native C code, and saw some interesting behaviors. Unfortunately there is ambiguity in how gurobi handles the Lorentz cone constraint. I asked this question on gurobi website https://support.gurobi.com/hc/en-us/community/posts/360068031552/comments/5244198105233

[2022-04-05 15:04] mwoehlke-kitware commented on #14652
It looks like we will also need to bottle our own clang-format for macOS? (It seems we already do this for clang-9...)

[2022-04-05 19:58] zren96 commented on #14387
I also recently encountered this issue; my setup is very similar to @dhoule36's. I was collecting rollouts and I had to re-build before every rollout to import new geometries. Memory grew 300mb every time. I had to revert #14356.

If we don't have to re-build every time, that also partially solves the issue...

[2022-04-05 20:01] ggould-tri opened #16908 "MbP actuation/state (non-)ordering makes correct code unlikely"
This is a long-simmering gripe of mine that @rpoyner-tri asked me to scribe here.  Apologies if this duplicates an existing issue.  It clearly relates to #15462, #13509, and #10546, but is not the same as any of them.

It is my firm belief that MBP callers that do not have a list of joint names or a `MatrixGain` system -- that is, nearly all of them -- are defective, probably without ever realizin

[2022-04-05 20:11] rpoyner-tri commented on #16908
\cc @amcastro-tri @sherm1 for any thoughts you may have.

\cc @jwnimmer-tri shall we add this to the Adoption backlog?

[2022-04-05 22:28] rpoyner-tri commented on #1713
I foresee no forward path for URDF `loop_joint` in Drake, and would happily just delete the FourBar*.urdf files. However, they are in the set of files installed in binary releases. Is there some mechanism/ritual for deprecation, or do we just delete them and move on?

[2022-04-06 02:01] CWEzio opened #16909 "TrajectorySource with PiecewiseQuaternion does not give expected result"
My original Stackoverflow question is over [here](https://stackoverflow.com/questions/71747834/trajectorysource-with-piecewisepose-does-not-give-expected-rotation-result).

I am playing with PiecewisePose and TrajectorySource. I want to create a linear interpolation trajectory from an inital pose to the goal pose. After creating the trajectory, I add it to the TrajectorySource and use LogVectorOut

[2022-04-06 02:49] rpoyner-tri commented on #16909
Assigning to @xuchenhan-tri for triage and maybe further delegation.

[2022-04-06 10:05] RussTedrake commented on #16439
FYI.  We now have a fully-executed agreement with Mosek allowing us to redistribute the Mosek binaries with the Drake binaries.  Hoorah!  @BetsyMcPhail -- Let us please move forward on this.

[2022-04-06 10:24] RussTedrake opened #16911 "Meshcat is not working on deepnote [Nginx bad gateway]"
I hadn't actually updated my course notes to use the latest drake binaries since https://github.com/RobotLocomotion/drake/pull/16805 landed.  After updating, launching meshcat on deepnote and opening the printed URL results in
[code]

To reproduce, follow the link to the deepnote tutorials on the drake website, open `rendering_multibody_plant.ipynb`, run the first 3 cells and try to open the meshc

[2022-04-06 10:45] RussTedrake commented on #16911
reverting to `FROM robotlocomotion/drake:focal-20220315` did not resolve the issue.  Maybe the problem is on deepnote's end?

[2022-04-06 12:57] sammy-tri commented on #16911
I *think* this is a deepnote issue.  In the example notebook, opening a deepnote terminal shows no activity in the logs in `/var/log/nginx`.  I tried creating a fresh deepnote project, enabling incoming connections, and listening on port 8080, and I didn't see any incoming connection attempts when trying to navigate to the URL deepnote provided for my project.

[2022-04-06 13:00] RussTedrake commented on #16911
thank you Sam!

[2022-04-06 13:02] RussTedrake commented on #16911
@sammy-tri -- can you confirm that you set the "Allow incoming connections" flag to true in the environments setting?

[2022-04-06 14:28] rpoyner-tri commented on #16422
Also related: #11117.

[2022-04-06 18:29] rpoyner-tri commented on #12563
Given that this issue has been silent for 6 months with Jeremy's question, I'm going to just close it.

[2022-04-06 18:29] #12563 closed

[2022-04-06 20:22] rpoyner-tri commented on #16422
I have some work-in-progress that (plausibly) does the right thing, but needs both some unit tests, and possibly more serious testing. @hongkai-dai , do you have any example code hanging around to help inspire some tests?

[2022-04-06 21:43] sammy-tri commented on #16911
The test configuration shown in my last screenshot worked briefly, as did a meshcat server from a drake tutorial.  Then it went back to 502.

[2022-04-07 10:10] RussTedrake commented on #16911
Deepnote has resolved the issue.  All is well again.
https://community.deepnote.com/c/ask-anything/allow-incoming-connections-is-not-working

[2022-04-07 10:10] #16911 closed

[2022-04-07 15:48] mwoehlke-kitware commented on #16796
I'm not entirely sure how much I trust CI disk usage reports. Nevertheless, I used #16907 to run a build. Here are the results:

### Without `--fission`
[code]

### With `--fission`
[code]

Note that "without `--fission`" was an old build, so this isn't exactly an apples-to-apples comparison. Nevertheless, as I understand it, we would expect to see a non-trivial decrease in disk usage if this chan

[2022-04-07 20:38] BetsyMcPhail commented on #16842
Note, the current pre-merge builds are:

`linux-bionic-clang-bazel-experimental-everything-release`
`linux-bionic-clang-bazel-experimental-release`
`linux-bionic-clang-cmake-experimental-release`
`linux-bionic-gcc-bazel-experimental-debug`
`linux-bionic-gcc-bazel-experimental-everything-release`
`linux-bionic-gcc-bazel-experimental-release`
`linux-bionic-gcc-cmake-experimental-release`
`linux-foca

[2022-04-07 22:36] #16909 closed

[2022-04-08 04:24] hongkai-dai opened #16918 "Add quadratic constraint as rotated Lorentz cone constraint"
The convex quadratic constraint x' * A *x + b'*x + c<= 0 is better formulated as a rotated Lorentz cone constraint for conic solvers (Mosek/Gurobi/SCS). We should provide API in `MathematicalProgram` like
[code]

cc @lujieyang

[2022-04-08 16:33] rpoyner-tri commented on #16422
Nevermind. I have a test case going. The sad discovery is that the existing behavior (filter world-weld subgraph only) is completely untested. Still working on what to do about that.

[2022-04-08 17:29] BetsyMcPhail commented on #16842
I confirmed that the Bionic CI jobs, in general and production, are a subset of the Focal jobs.

[2022-04-10 16:36] Maverobot opened #16922 "Licence for my own C++ version of the tutorials"
Firstly, thank you for providing and maintaining this cool project!

For my own learning purposes, I have created a repo which basically replicate the [drake tutorirals](https://deepnote.com/project/Tutorials-K0_FCa7yQX2kDWBx3-2RmQ/%2Findex.ipynb) but with code snippets in C++ instead of in Python. There a [local compiler-explorer](https://github.com/Maverobot/docker-compiler-explorer-drake) is us

[2022-04-11 12:18] BetsyMcPhail commented on #16842
@jwnimmer-tri last time we changed pre-merge jobs it required some intervention from you on Github (https://drakedevelopers.slack.com/archives/C270MN28G/p1644614660867079). I have the Jenkins changes ready to go, let me know when would be a good time for you to do the switch.

[2022-04-11 12:28] RussTedrake opened #16923 "proposal: `ConcatenateStdVector : public LeafSystem`"
Pain point:  If I have multiple systems that produces one or more `ExternallyAppliedSpatialForce`, then (I believe) there is no ergonomic way to combine them into a single `std::vector<ExternallyAppliedSpatialForce>` to be passed to the appropriate input port of `MultibodyPlant`.  We have other `std::vector<Type>` input ports in the framework that could similarly benefit from some form of accumula

[2022-04-11 14:15] ggould-tri commented on #16922
Thanks for your interest!  A better place for asking questions is on our Stack Overflow tag:  https://stackoverflow.com/questions/tagged/drake ; we generally use issues like this for things that may require code changes is Drake.

The "BSD 3-clause license" requires that all of the elements of the original license text be retained, but otherwise makes no restrictions.  So you need not alter the li

[2022-04-11 14:15] #16922 closed

[2022-04-11 15:20] jwnimmer-tri commented on #16842
GitHub's project settings have the new builds as required on pull requests now:

![image](https://user-images.githubusercontent.com/17596505/162772265-f59e46dd-a078-4604-ac7c-ef737c2418cb.png)

[2022-04-11 15:51] jwnimmer-tri commented on #16439
I'll sort this into the work queue in the appropriate place.  We need to switch to Focal (and related CI work) before we start this.

[2022-04-11 15:58] #16865 closed

[2022-04-11 16:33] BetsyMcPhail commented on #16380
Initial provisioned and unprovisioned images have been created in Orka.

Jenkins experimental jobs have also been created [here](https://drake-jenkins.csail.mit.edu/view/Mac%20M1/).

Jenkins is unable to SSH into the Orka VMs. The MacStadium networking team modified the site-to-site VPN with AWS to include Orka. We have an open ticket with them to help solve the SSH issue.

[2022-04-11 16:44] BetsyMcPhail commented on #16842
Bionic jobs have been removed from Jenkins and CI no longer supports Bionic ([PR #146](https://github.com/RobotLocomotion/drake-ci/pull/146))

[2022-04-11 16:56] BetsyMcPhail commented on #16796
I found a newer build (https://drake-jenkins.csail.mit.edu/view/Mac%20Monterey/job/mac-monterey-clang-bazel-weekly-debug/14) reports:

[code]

[2022-04-11 16:58] jwnimmer-tri commented on #16796
OK, seems like no real gain here.  Let's give up for now.

[2022-04-11 16:58] #16796 closed

[2022-04-11 17:05] BetsyMcPhail commented on #16439
While I was making changes to Jenkins, I added the following experimental jobs:

- https://drake-jenkins.csail.mit.edu/view/Packaging/job/linux-focal-unprovisioned-gcc-bazel-experimental-snopt-mosek-packaging/
- https://drake-jenkins.csail.mit.edu/view/Packaging/job/mac-big-sur-unprovisioned-clang-bazel-experimental-snopt-mosek-packaging/
- https://drake-jenkins.csail.mit.edu/view/Packaging/job/ma

[2022-04-11 17:06] jwnimmer-tri commented on #1713
See https://drake.mit.edu/stable.html#model-files:

Thus, you can remove them immediately if you like.

Or, the process for deprecating them (if you want to) is as follows:

(1) Open a pull request that adds a README to their folder explaining the deprecation, with 2022-MM-01 in the README text.  Label it as "release notes: newly deprecated" so that the deprecation notice makes it into the next re

[2022-04-11 20:18] #16879 closed

[2022-04-11 20:44] #16422 closed

[2022-04-11 20:49] svenevs commented on #14652
Mac side is ready, we bottled `12.0.0` since that's what is in focal right now (rather than `12.0.1`).  The dependencies in the brew formula are build only, so the only reason we may need to update those in the future is if `focal-updates` provides `clang-format-12` as `12.0.1` at some point.

[code]

is ready to go for the PR that does the update.

[2022-04-11 21:46] jwnimmer-tri opened #16932 "Remove LD_LIBRARY_PATH from apt instructions"
In the https://drake.mit.edu/apt.html instructions, we currently advise:

[code]

That's really dangerous!  It adds a bunch of dynamic libraries to the front of the loader path.

We should confirm that the line is unnecessary, and then remove it.

[2022-04-11 23:44] BetsyMcPhail commented on #16439
From the new [linux-focal-unprovisioned-gcc-bazel-experimental-snopt-mosek-packaging](https://drake-jenkins.csail.mit.edu/view/Packaging/job/linux-focal-unprovisioned-gcc-bazel-experimental-snopt-mosek-packaging/2/console) job:

`Bazel Command: CC=gcc CXX=g++ bazel  run --compilation_mode=opt --config=mosek --config=snopt --test_tag_filters=-gurobi //:install -- /opt/drake`

So no changes needed t

[2022-04-12 00:00] BetsyMcPhail commented on #16439
A PR to change all "snopt-packaging" jobs to "snopt-mosek-packaging" has been created. It is waiting and ready to coordinate with the other pieces of this issue.

[2022-04-12 00:39] jwnimmer-tri commented on #16439
Filed as => #16934.  Once that merges, we should be clear to land the PRs that turn on Mosek in our binaries.

[2022-04-12 01:40] mitiguy opened #16935 "Update SDF <inertial> sub-tags <pose> and <inertia>"
We propose clarification to the \<inertial\> tag in the SDF format specification.
http://sdformat.org/spec?ver=1.9&elem=link

The \<pose\> tag seems ambiguous, e.g., pose of what?
The center of mass is not mentioned in the \<inertial\> tag or its sub-tags.
It is unclear whether the moments/products of inertia in the \<inertia\> tag are about the link's origin or the link's center of mass.
It is un

[2022-04-12 02:02] jwnimmer-tri commented on #16923
This might be duplicate of #13139?

In terms of a mux system, my thoughts were https://github.com/RobotLocomotion/drake/issues/12401#issuecomment-617168844.  I still think we should do it type-erased, not with `typename ValueType` statically.

However, stepping back, I don't like the mux system idea much in the first place.

Instead of adding more awkward boilerplate systems that people need to ma

[2022-04-12 10:27] RussTedrake commented on #16923
Excellent.  Thank you for finding the old discussion!

I agree that having native support in the system framework would be much better.  But that's a bigger mountain for me to climb this week.  I think that offering the mux does no harm, and it would unblock these workflows right now.  I can write in this idea of the system framework native support into that file.  Sound ok?

[2022-04-12 12:45] ggould-tri commented on #16908
I agree that that would work, although I still think that sugar for accessing substates via a list of names would probably be better:  Making code and sdf agree on orders is likely to become ever more difficult for users over time as larger and more varied scenes become less and less hand-editable and thus harder to keep in sync with code -- remember that we're still pretending that xml is a human

[2022-04-12 14:10] jwnimmer-tri commented on #16923
I think a specific ExternalAppliedSpatialForceMultiplexer (in the plant folder) makes a lot of sense as an expedient stopgap.  I think a generic (templated) mux has the problems noted in #13139 and should be avoided.

[2022-04-12 14:20] RussTedrake commented on #16923
Based on the discussion in #13139, I was planning to do the generic, but type-erased version as my stopgap.

[2022-04-12 14:35] BetsyMcPhail commented on #16439
[Wheel job names in Jenkins ](https://drake-jenkins.csail.mit.edu/view/Wheel/) have also been updated in the same [drake-jenkins-jobs PR](https://github.com/RobotLocomotion/drake-jenkins-jobs/pull/3).

[2022-04-12 15:04] #16918 closed

[2022-04-12 16:30] rpoyner-tri commented on #11117
I will claim that whatever objections of hackery existed three years ago have been superseded, by use and lack of complaints.

[2022-04-12 16:30] #11117 closed

[2022-04-12 16:52] jwnimmer-tri opened #16942 "pydrake logging level should automatically change C++ filtering level"
Our pydrake docs currently contain this warning on `pydrake.common.set_log_level`:

This is an annoying hurdle.

The nominal way to turn on verbosity should be `logging.getLogger("drake").setLevel(logging.DEBUG)`.  The C++ level filtering should not come into play at all.

In short -- when the user is using Python, then `logging.getLogger("drake").getEffectiveLevel()` should automatically propagat

[2022-04-12 17:19] #16895 closed

[2022-04-12 18:15] jwnimmer-tri opened #16944 "Remove drake-visualizer on macOS"
Per #16215, now that 2022-04-01 has passed we should remove drake-visualizer on macOS.

[2022-04-12 18:18] BetsyMcPhail commented on #13391
In addition to the outstanding changes in #16931 and #16938, Bionic or 18.04 is still mentioned / used in the following places:

- Stable Release instructions in `doc/_pages/from_binary.md` and `doc/_pages/docker.md` (to be removed after next release)

Various packages in tools/workspace:

- `tools/workspace/doxygen`
- `tools/workspace/drake_visualizer`
- `tools/workspace/vtk`
- `tools/workspace/i

[2022-04-12 18:50] jwnimmer-tri commented on #13391
The required changes to the stable release documentation have been added to #16939 now.

[2022-04-12 18:53] BetsyMcPhail commented on #13391
@svenevs is going to take a look at tools/workspace/...

[2022-04-12 23:56] jwnimmer-tri commented on #16866
#16948 is part of the answer.  We'll also need this in the Dockerfile:
[code]

Then we need somewhere (probably `init.ipynb`) to launch the Xvfb server.

[2022-04-13 00:25] jwnimmer-tri commented on #16217
For the "for drake maintainers only" developer tools (doxygen, sphinx, release notes, dependency upgrades, etc.), we should _not_ endeavor to add Jammy support.  This scope of this issue is only the user-facing stuff (library code, tests, demos, tutorials, etc.).

[2022-04-13 00:27] jwnimmer-tri commented on #16217
For the same reason, we can also defer the memory checker builds (sanitizer, valgrind, etc) for the moment.  The priority would be the packaging builds and their nearby support, e.g., Release, Debug, and Everything.

[2022-04-13 16:27] svenevs commented on #16217
Related bionic deprecations as we prepare for this: https://github.com/RobotLocomotion/drake/issues/13391#issuecomment-1097043824

- **No** `drake_visualizer` support for Jammy will be added.  #16215
- [ ] `tools/workspace/vtk` binaries will be added.
- [ ] `tools/workspace/intel_realsense_ros`: re-pin to the matching noetic baseline
- [ ] `tools/workspace/pygame_py`: switch to ubuntu `python3-pyg

[2022-04-13 18:36] RussTedrake opened #16952 "Rendering MultibodyPlant Tutorial errors out on deepnote"
Running `rendering_multibody_plant.ipynb` on Deepnote currently causes a kernel failure.

We have to set up a virtual display for rendering to work on deepnote.  E.g. this at the top of the file can resolve the problem:
[code]
(but I assume we will want to add it in a more elegant way)

Moreoever, I think this suggests that our instructions for deploying to deepnote did not involve running this no

[2022-04-13 18:38] jwnimmer-tri commented on #16952
Duplicate of #16866.

[2022-04-13 18:38] #16952 closed

[2022-04-13 18:40] jwnimmer-tri commented on #16866
FYI see also https://github.com/RobotLocomotion/drake/issues/16952#issue-1203650506 for `pyvirtualdisplay` as an option.

[2022-04-13 19:14] rpoyner-tri opened #16954 "parser: control API for unified diagnostics"
Related to #16229. Expose some public API on multibody::Parser to control the processing of parser diagnostics (errors and warnings).

More detail to follow.

[2022-04-13 19:16] amcastro-tri opened #16955 "Cleanup DiscreteUpdateManager interface"
As we use the `DiscreteUpdateManager` to place all of our discrete contact dynamics in one place, we realize that the interface provided by managers and how they get used by `MultibodyPlant` is a bit clunky. Currently, in order to talk to an MBP a manager must implement:
1. DoCalcContactSolverResults(),
2. DoCalcAccelerationKinematicsCache() and,
3. DoCalcDiscreteValues().

`DoCalcDiscreteValues()

[2022-04-13 19:39] xuchenhan-tri commented on #16955
Thanks for the write up. I like the simplification. Two questions:
1. Will the contact results from continuous simulation continue to be prepared by MbP?
2. Can we extend the `EvalMultibodyContactResults()` function to include deformable contacts as well? The contact results will be similar to those from hydro.

[2022-04-13 19:55] jwnimmer-tri commented on #16643
The probable best workflow here is to finish editing and collaborating on the tutorial using the online Colab notebook, and then once it's in almost-final shape, to copy it into a Drake PR for review and submission into Drake's `drake/tutorials/...` folder, at which point we'd also add it to the `index.ipynb` there.

[2022-04-13 19:58] amcastro-tri commented on #16955
1. No. `DiscreteUpdateManager` only takes care of the discrete model. The continuous model will, at least for now, continue to exist in the MultibodyPlant.
2. I imagine that'd require to extend ContactResults to report contact for deformables. Do you think that's possible? Even if it I wonder if maintainable. That is, every time we need to include a new model (say particles or some other contact m

[2022-04-13 20:02] jwnimmer-tri commented on #16955
Having the sole ContactResults output port be essentially a `variant<...>` of all the different contact format we ever support will not scale.  My advice is to have one output port per category of contact, where a manager just populate the one port is knows about (and owns).

For all of the visualization code that I wrote, dealing with `point | hydro` disjunction on that output port was a huge pai

[2022-04-13 20:15] jwnimmer-tri commented on #16785
As background: Non-schema XML elements are already reported to the user, e.g., if they type `<jiont>` instead of `<joint>` they already receive a message today.

The main focus here is known-but-unsupported modeling elements, e.g., `<light>` or `<placement_frame>` etc.

---

The brute force way to implement what we need would be to take the SDFormat C++ DOM that is produced by the libsdformat pars

[2022-04-13 20:32] rpoyner-tri commented on #16782
The merger of #16915 closes this issue out.

[2022-04-13 20:32] #16782 closed

[2022-04-13 20:46] jwnimmer-tri commented on #16932
We should run the apt install instructions, but not the LD_LIBRARY_PATH part, and then check:
- [ ] Run `import pydrake.all` to check pydrake.
- [ ] Check a few useful programs in `bin`:
  - [ ] drake-visualizer
  - [ ] drake-lcm-spy
  - [ ] lcm-logplayer
  - [ ] lcm-logplayer-gui

[2022-04-13 22:02] xuchenhan-tri commented on #16955
Having one output port per type of contact results is fine if that makes downstream use cases easier. However, I don't think we should have multiple managers floating around (e.g. one for multibodies only and one for deformable). Eventually, we should have a single manager that handles discrete updates for everything we can simulate.

[2022-04-13 22:19] #16944 closed

[2022-04-13 23:13] jwnimmer-tri commented on #16215
In #16944, we dropped macOS support.  Remaining porting work of demos to Meshcat is tracked under #16216.

[2022-04-13 23:13] #16215 closed

[2022-04-14 01:50] hongkai-dai commented on #16292
@jwnimmer-tri since our last meeting, we discussed two ideas to improve the speed
1. When we call `ParseConstraint` with a symbolic expression, at the start of this function, we expand expression, and then just use the expanded expression afterwards.
2. In symbolic::Expression, store its expanded version after calling `Expand()` function.

I tried idea 1 in the dev [branch](https://github.com/hong

[2022-04-14 14:00] #16842 closed

[2022-04-14 14:33] #16439 closed

[2022-04-14 16:16] rpoyner-tri commented on #15796
There is not much value left in keeping this open. I will peel off the remaining items of interest to separate issues, and close this one.

[2022-04-14 16:26] jwnimmer-tri commented on #16448
FYI from meeting today -- the goal would be to run this in CI as part of a Packaging build, where the build first creates the release tarball (as it does now) and then also re-packs that into a `*.deb` file.

[2022-04-14 16:35] sherm1 commented on #16955
In general, contact forces need to be calculated simultaneously regardless of the model so it likely isn't possible to fully partition them internally. They could be partitioned on output though if that's worthwhile.

[2022-04-14 16:38] jwnimmer-tri commented on #16217
I think the work plan here would be something like:
- [ ] Add definitions of Unprovisioned Experimental CI builds for Jammy (Release, Debug, Everything).
  - No sanitizers, no wheels, no documentation, no packaging, etc.
- [ ] Develop a pull request that adds Jammy support to Bazel Release builds (workspace, os.bzl, etc).
- [ ] Add Ubuntu 22 AMIs.
- [ ] Add definitions of Provisioned Experimental

[2022-04-14 16:57] amcastro-tri commented on #16955
Jeremy suggested different output ports, not multiple managers. I agree with you @xuchenhan-tri that we do want a single manager, but possibly it could provide multiply output ports if needed?

Here is a compromise, instead of `EvalMultibodyContactResults()`, lets have it be `EvalContactResults()` for now. If when deformable lands we do realize their contact results can be reported with exactly th

[2022-04-14 18:27] jwnimmer-tri commented on #16866
As of last night's build (20220414), adding this cell to the bottom of the Deepnote project's `init.ipynb` is sufficient to get the tutorial working.

[code]

I'll work on deploying that shortly.

[2022-04-14 18:40] jwnimmer-tri commented on #16866
I manually deployed those changes and re-ran the rendering notebook to populate its output cells.  Everything looks good now.

I did not re-run all of the other notebooks vs the new Drake pin.  We'll do that as part of deploying v1.2.0, likely next week.

[2022-04-14 18:40] #16866 closed

[2022-04-14 19:00] jwnimmer-tri opened #16969 "Remove support for Binder"
Split out from https://github.com/RobotLocomotion/drake/issues/13683#issuecomment-999807942.

Tasks (in order, one by one):
- [x] Remove the Binder-specific ("PUSHING NIGHTLY RELEASE BINDER BRANCH") code from [step-push-nightly-release-branch.cmake](https://github.com/RobotLocomotion/drake-ci/blob/7ab0fedc16645832eb00967a75d001b2bc89a347/driver/configurations/bazel/step-push-nightly-release-branch

[2022-04-14 19:03] jwnimmer-tri opened #16970 "Playbook (and automation) for deployment updated Deepnote tutorials"
Split out from https://github.com/RobotLocomotion/drake/issues/13683#issuecomment-1067164841.

To the extent possible, we should make it easy & foolproof to deploy updated tutorials as part of the [stable release playbook](https://drake.mit.edu/release_playbook.html).

As part of this work, we should version control the Deepnote configuration (Environment settings, `Dockerfile`, `init.ipynb`), eve

[2022-04-14 19:05] jwnimmer-tri commented on #13683
Most of the work here is done.  The tutorials are up and running well.

There are a couple of less critical maintenance tests now filed as follow-up issues (#16969, #16970).

[2022-04-14 19:05] #13683 closed

[2022-04-14 19:09] jwnimmer-tri commented on #16970
For reference, the current Deepnote update procedure after a Drake stable release goes approximately like this:

(1) Edit the Dockerfile to pin the new YYYYMMDD of the stable release.
(2) Click the button that builds the image.
(3) Update the ipynb files to match the release (they are in `/opt` from the release; copy into `~/work`).
(4) Run each notebook in turn one by one (to populate the outputs

[2022-04-14 19:21] dvogureckiy99 opened #16971 "LCM self test failed, Check your routing tables and firewall settings"
I have ubuntu 20.04, I install drake and try run example.
When I try run `bazel-bin/tools/drake_visualizer & bazel-bin/examples/multibody/inclined_plane_with_body/inclined_plane_with_body` I have got error:
[code]

[2022-04-14 19:25] jwnimmer-tri commented on #16971
As best I can tell, this isn't really a bug in Drake.  Something with LCM's networking configuration isn't working.  For example, if there is no `lo` (loopback) device, or it's disabled, or configured oddlf.

See https://lcm-proj.github.io/multicast_setup.html for some tips.  If it's still not working, please use StackOverflow for Q&A.

[2022-04-14 19:25] #16971 closed

[2022-04-14 21:32] jwnimmer-tri commented on #16292
I can confirm on my computer that only ~20% of time is spent in `AddConstraint`, and that ~80% is spent preparing the `Expression` that's passed into `AddConstraint`.  I'm working on improving my understanding now, and will ping back here with any observations and advice.

[2022-04-15 01:59] jwnimmer-tri commented on #16292
WIP branch is at https://github.com/jwnimmer-tri/drake/commits/sym-sos-fast.  I've solve the costly `Expand()` problem, runtime is down from ~10s to ~3.4s now.  There's still more work that could be done to make coefficient accumulation faster, but I think we should work on merging the Expand fixups to master first.

[2022-04-15 02:25] jwnimmer-tri commented on #12912
See also #16643, which intends to implement a portion of the topics listed above.

[2022-04-15 02:33] jwnimmer-tri opened #16978 "Deprecation of pure-python MeshcatVisualizer"
As it stands, we have two meshcat-based APIs in pydrake, which is a bit confusing for users.

Check the module https://drake.mit.edu/pydrake/pydrake.systems.meshcat_visualizer.html.  There are several classes there, namely `MeshcatVisualizer`, `MeshcatContactVisualizer`, etc.  That's older API, which I think we'd like to deprecate.

The https://drake.mit.edu/pydrake/pydrake.geometry.html#pydrake.g

[2022-04-15 05:59] dvogureckiy99 opened #16979 "Drake Visualize a KUKA arm ERROR: Error reading 'v' at line 3"
I Build drake from source on ubuntu 20.04.
Source version: vtk version 9.1.0

When I try run this example [Visualize a KUKA arm](https://drake.guzhaoyuan.com/to-get-started)
I have trouble with this command: `./bazel-bin/tools/drake_visualizer`
[code]

[2022-04-15 06:38] dvogureckiy99 commented on #16979
I resolved this error on my Ubuntu 20.04 system by changing the locale settings.

    1. Run in terminal:
    sudo update-locale LC_NUMERIC=C
    2. Log out and then log in.

[2022-04-16 06:35] hongkai-dai opened #16982 "Support symbolic::Polynomial::Evaluate for a batch of data"
Currently symbolic::Polynomial::Evaluate only evaluates a single symbolic::Environment. We should be able to evaluate the polynomial for a batch of data.

To do so, we will add two new functions
[code]
where we evaluate the polynomial/monomial if variable `x_vars` takes the value `x_vals.col(i)`

[2022-04-16 08:23] RussTedrake commented on #16643
fwiw -- i've just updated the deepnote tutorial to use Drake's JointSliders instead of the manipulation joint sliders, and removed the dependency on the manipulation repo.

[2022-04-16 18:39] #1713 closed

[2022-04-18 09:34] RussTedrake commented on #16978
Yes.  That's consistent with my original plan: https://github.com/RobotLocomotion/drake/issues/13038#issuecomment-903041628 .  Adding a pre-deprecation note now sounds great.  Or we can move straight to deprecation; I'm not aware of any workflows that would benefit from any further delay.

I would add that my intention was also to rename `MeshcatVisualizerCpp` => `MeshcatVisualizer` at the end of

[2022-04-18 18:27] xuchenhan-tri commented on #14330
The new FEM design has landed in master (no heap allocations or virtual function calls in inner loops).

[2022-04-18 18:27] #14330 closed

[2022-04-18 18:53] jwnimmer-tri opened #16987 "Install Python auto-complete helper files (`*.pyi`)"
See https://github.com/pybind/pybind11/issues/2350#issuecomment-668879301.

As I understand it, some IDEs will not help the user auto-complete their function-call arguments unless we also install `*.pyi` files for our native modules.

As part of our build process, we should import `mypy` (maybe `python3-mypy` if it's new enough, otherwise the wheel) and then invoke it to create pyi files, and then

[2022-04-18 18:55] svenevs commented on #16987
Correct.  Where VSCode / pylance are concerned, they want the `.pyi` files installed: https://github.com/microsoft/pylance-release/issues/242#issuecomment-1067210983

[2022-04-18 22:06] #16979 closed

[2022-04-18 22:08] jwnimmer-tri commented on #16979
Yes, unfortunately `drake-visualizer` does not correctly ignore the user's locale when parsing `*.obj` files.  Per #16215 though, we don't intent to try to fix that.  The work-around posted above is the correct one.  (Setting the locale just for the visualizer binary is also fine.)

[2022-04-18 23:18] jwnimmer-tri commented on #5211
FYI whatever happens for #14785 should also be reflected in the docs.

[2022-04-19 03:32] jwnimmer-tri commented on #14785
More than likely, this is referring to what `ComputePointPairPenetration` or `ComputeSignedDistancePairwiseClosestPoints` is returning.  A non-empty result for penetrations, or less-than-threshold result for signed distance, indicates a self-collision.  The goal is to declare some of those to be filtered out.

I'll be looking into this ticket a bit this week.  I think having a single SDFormat file

[2022-04-19 14:44] jwnimmer-tri opened #16990 "MOSEK loader paths test within Drake"
In #16985, we fixed a bug in Drake's installer that was only ever caught in drake-external-examples CI.  We'd much rather catch this during Drake's normal (Continuous) CI.

We should try to add an `install_test` for this case.

I hope that we could look at the `otool` output for the installed library, and alert on any paths that are incorrectly formulated.

Relatedly, we also have a lot of otool-s

[2022-04-19 15:57] jwnimmer-tri opened #16992 "Improve error message for missing inertia"
When a user forgets to add inertia to their links, Drake crashes with an obscure error message about a `Delta > 0` failure. This can happen quite frequently for new users.

We should give a better diagnostic in this case (possibly at parsing-time).  See https://github.com/RobotLocomotion/drake/issues/16181#issuecomment-1036424058 for details.

[2022-04-19 15:59] jwnimmer-tri commented on #16181
I just now filed the "missing intertia" diagnostic (unrelated to the mimic tag) as #16992.  The "ignored mimic tag" issue is a duplicate of #16783, or more broadly #16229.  Therefore, I'll close this issue out in lieu of the two more-specific issues.

[2022-04-19 15:59] #16181 closed

[2022-04-19 16:05] jwnimmer-tri commented on #16229
It's a bit difficult to find within github's commit message timeline spam, but there is a checklist [immediately above](#issuecomment-1067198978) where this issue has been split into five separate, more specific topics.

I'll claim that those five sub-issues are collectively exhaustive, so that there is no need to keep this meta-issue open anymore.  Please correct me if I've missed anything.

[2022-04-19 16:09] amcastro-tri commented on #16992
@rpoyner-tri, I know you've been working on better diagnostic at parsing. Would that be the right place where to emit a message?

[2022-04-19 16:16] jwnimmer-tri commented on #16992
Possibly this needs to wait until `Finalize` time anyway?  If I recall correctly, it's valid to have zero inertia when welded to the world, and we won't know that until the very end.

[2022-04-19 16:31] amcastro-tri commented on #16992
I see, then it is not that the user "forgot" to add the inertia, but more like the user defined a "zero" inertia.
For SDF mass and rotational inertias are documented to be "1.0" by default. `<inertial>` is not required, IMO a defect if the user really intends to add a body (instead of just define a frame). This one is difficult to spot, since the user might have just forgotten or abused the usage

[2022-04-19 16:33] jwnimmer-tri opened #16993 "Add uniform style for Doxygen and Pydrake API reference"
Split out from https://github.com/RobotLocomotion/drake/issues/14757#issue-826830314 for tracking purposes.

The main drake.mit.edu website has a nice style (the red color, logo, etc.).  We should apply the same to the Doxygen and Pydrake API references.

Specific suggestions:
- Add backlinks to top page, tweak header style for color.
- Make it as nice as possible, within the budget.

[2022-04-19 16:35] sherm1 commented on #16992
Drake has no problem with internal massless/inertialess links that are used only to provide frames for motion, actuation, or connections. For example, a 3-dof planar joint can be usefully replaced by this sequence: real-prismatic-massless-prismatic-massless-revolute-real allowing separate actuators for each dof. This can also be used to create multi-dof joints that we don't yet support. In these c

[2022-04-19 16:38] jwnimmer-tri commented on #16992
@amcastro-tri I think the issue focus should be "Here's a common mistake that users often make.  We should provide good feedback in this case."  Possibly there are two or three kinds of common mistakes, not just one kind (e.g. calling MbP directly, versus writing a URDF, vs writing a SDFormat).  I don't think the architectural layering matters at all to the issue scope.  This is a _user experience

[2022-04-19 16:54] ggould-tri opened #16994 "LeafSystem::DeclareCacheEntry doxygen missing args."
See https://drake.mit.edu/doxygen_cxx/classdrake_1_1systems_1_1_system.html#a7da4e8aa9a414faa5b40fc64e8ca40e3
![image](https://user-images.githubusercontent.com/17596413/164055539-3ee2a393-8554-4e31-8d13-d5dfa7263e59.png)
The version of `LeafSystem::DeclareCacheEntry` that takes a `value_producer` appears as having no arguments, even though it has three arguments.

[2022-04-19 17:21] xuchenhan-tri commented on #16994
Seems like a systematic issue with `using` base class functions. For example, it also happens here: https://drake.mit.edu/doxygen_cxx/classdrake_1_1systems_1_1_context.html#a415588e5494582fba4c5504ccc2ae795

[2022-04-19 18:07] sherm1 commented on #16994
Looks like a Doxygen issue -- file [here](https://github.com/doxygen/doxygen/issues)?

[2022-04-19 18:14] jwnimmer-tri commented on #16994
Our Doxygen binary is purposefully pinned to less-that-latest, because the latest releases of Doxygen have _even more_ bugs.  Before reporting this upstream, be sure to reproduce it using the latest release of upstream Doxygen.

That being said, as far as the Drake issue goes we could also try to find a work-around.  For example, the [SystemBase](https://drake.mit.edu/doxygen_cxx/classdrake_1_1sys

[2022-04-19 18:46] jwnimmer-tri commented on #12610
Hmm, @rpoyner-tri is this just a duplicate of #16229 (and the 5 sub-issues it was split into)?  If yes, please close it.  If no, please clarify what we're missing beyond those 5 sub-issues.

[2022-04-19 18:58] xuchenhan-tri commented on #16994
I like the proposed solution by @jwnimmer-tri. The `using` statement is there for qol/convennience. The additional doxygen entry doesn't add much value.

[2022-04-19 19:05] ggould-tri commented on #16994
The cure sounds worse than the disease here.  Having to traverse down through `LeafSystem` / `System` / `SystemBase` to find methods -- or answer "is there a method for this" -- is definitely not an improvement!

[2022-04-19 19:14] jwnimmer-tri commented on #16994
Just to be clear, the original issue post was inaccurate.  It claimed that "LeafSystem" was missing the named arguments; in fact, the hyperlink was to the `class System` documentation.

The `class LeafSystem` documentation _does_ show `DeclareCacheEntry()` correctly.  You need to unfold the triangle image "Protected member functions inherited from SystemBase" in order to see it.  The same is actua

[2022-04-19 19:37] rpoyner-tri commented on #12610
For URDF, this is the only ticket that claims to care about emitting diagnostics for straight-up typos/bungling, (e.g. <transQQQmission>). Given where we are, it may make sense to table that goal, since it will require a pretty comprehensive restructuring, and tinyxml2 maybe doesn't help as much as we might like.

[2022-04-19 19:39] ggould-tri commented on #16994
Huh, I guess copy-pasted the wrong class name from my innumerable doxygen tabs.
Anyway I'm going to close this issue and flee the field before things get any worse.

[2022-04-19 19:39] #16994 closed

[2022-04-19 19:40] jwnimmer-tri commented on #12610
In that case, could I ask you to write up that detail into a (new, 6th) sub-issue, and then we close this issue as a duplicate of those 6 more detailed ones?  As it stands, this issue scope is unclear and not actionable.

We can put that new issue onto our 80% backlog for now, and see if there's room for it.

[2022-04-19 19:42] jwnimmer-tri commented on #16994
It still seems like an acute issue (missing args) with a trivial fix (adding a cross-reference hyperlink), but in any case since I'm not the one volunteering to fix it I'll let @sherm1 or @xuchenhan-tri decide if they want to re-open it.

[2022-04-19 19:50] jwnimmer-tri commented on #15950
I see that the ignitionrobotics pull request has been merged.  What is the next step to resolve this issue?

Model composition is an important feature in Drake.  I'd like to advocate that we prioritize OpenRobotics to _finish_ the model-includes feature that has been an ongoing project for several years,  before we start working on _new_ projects.

[2022-04-19 20:10] sherm1 commented on #16994
I filed Doxygen issue [#9282](https://github.com/doxygen/doxygen/issues/9282).  Don't hold your breath, though -- there are 1900 open issues there!

[2022-04-19 20:12] jwnimmer-tri commented on #16994
For the record, as of today we're using Doxygen 1.8.15

https://github.com/RobotLocomotion/drake/blob/e58be44e3fa042ee796c49de61c1d9dbf9bbf441/tools/workspace/doxygen/Dockerfile#L25

[2022-04-19 20:16] sherm1 commented on #16994
Thanks -- I added that to the Doxygen issue.

[2022-04-19 20:20] EricCousineau-TRI commented on #15950
There is still pending work for this as tracked on SDFormat project board:
https://github.com/orgs/ignitionrobotics/projects/6

Outstanding work:
- Ensure that our usage of Interface API accommodates all of Drake's parseable model types. See https://github.com/RobotLocomotion/drake/pull/16727
- Ensure we have conversion scripts for model directives to SDFormat composition. Will require redux of ht

[2022-04-19 20:52] rpoyner-tri opened #16997 "URDF parser: emit diagnostics for typos, malformed documents, etc."
This is a reduced-scope version of #12610. For URDF, we do not yet have a mechanism that can reasonably complain about completely unknown wrong input data. The current implementation relies on tinyxml2 to build a "DOM" tree, which the "parser" then effectively performs bespoke queries against. Since tinyxml2 does not even guarantee well-formedness, it is possible to have files full of stray garbag

[2022-04-19 20:53] rpoyner-tri commented on #12610
Closing this in favor of #16229 and #16997.

[2022-04-19 20:53] #12610 closed

[2022-04-19 20:53] rpoyner-tri commented on #16997
See #16229 for an overview of parser improvements.

[2022-04-19 20:54] amcastro-tri commented on #16992
Yes, I understand @jwnimmer-tri. I am trying to trim the scope of the issue since the original `Delta > 0` problem can be caused by a multitude of things.
That being said, I like the final narrow list that @sherm1 put together.

[2022-04-19 21:04] jwnimmer-tri commented on #16997
See also https://github.com/RobotLocomotion/drake/issues/16785#issuecomment-1098445866 for an implementation idea:

For URDF, separate from any other parsing, we could walk the entire tinyxml2 tree from the root on down and check every element name and attribute name against a position-agnostic allow-list (i.e., irrespective of its position within the tree), producing an error for any completely-u

[2022-04-19 21:06] jwnimmer-tri commented on #16992
Right.  My proposal is that **all** common user mistakes whose only error message is `Delta > 0` are the scope.  If there are more then one, we should fix them all!

[2022-04-19 22:50] rpoyner-tri commented on #16954
Somewhere I have a patch that just exposes SetStrictParsing() (roughly) to just convert warnings to hard errors (whatever they were doing). Without any other knobs, that just means you can have warnings as console messages or as `throw`s. I never wrote any tests, because no warnings were plumbed at the time.

[2022-04-20 14:46] sherm1 commented on #16994
Per a Doxygen developer, the missing-parameters problem is already fixed in current Doxygen 1.9.3. Proof [here](https://github.com/doxygen/doxygen/issues/9282#issuecomment-1103619349).

[2022-04-20 15:30] jwnimmer-tri commented on #12645
For reference / archival or if anyone is interested --

Here's some code that I've used in Deepnote.  It automatically opens up a Meshcat display in a new browser tab.

[code]

This allows for opening the window without needing an https server for the HTML code.  It also allows code in notebook cells to inject Javascript code into the meshcat tab.

It does *not* resolve any problems related to the

[2022-04-20 15:35] jwnimmer-tri opened #16999 "Drake v1.2.0 docker and apt packages"
Please manually tag docker images and upload the releases to S3.

Release notes PR: #16939
Binary date: `20220420`
Commit SHA: 4e1146e7251aaff1e263b3b10a41f915827d9acb
Release tag: https://github.com/RobotLocomotion/drake/releases/tag/v1.2.0

[2022-04-20 15:36] svenevs opened #17000 "update and/or document macOS Xcode versions"
Related [slack discussion](https://drakedevelopers.slack.com/archives/C01CSPX85N3/p1650400866886749).

- Currently, we have:
    - Big Sur: Xcode 12.5.
    - Monterey (x86_64): Xcode 13.1, likely to be upgraded.
    - In development: Monterey (arm64): Xcode 13.4
- Docs need to update: https://drake.mit.edu/from_source.html

Ideally we would have all platforms running the same version of Xcode (13.

[2022-04-20 16:56] svenevs commented on #16990
See also: https://github.com/RobotLocomotion/drake/pull/16991#pullrequestreview-947476675

When implementing the tests, reverting #16991 and #16985 will be a pathway for "testing the tests."

[2022-04-20 17:43] hongkai-dai opened #17002 "DoEval computes incorrect gradient in SamePointConstraint"
I just realized that the gradient computation in SamePointConstraint (used in Iris) is incorrect
https://github.com/RobotLocomotion/drake/blob/9dd93ce043f011b6b2ba4a3f593f4e40d9623f86/geometry/optimization/iris.cc#L280-L285

This assumes that the first nq element of y.derivatives() should store the gradient w.r.t q. Namely we assume that the derivatives stored in y is w.r.t q, p_AA and p_BB. While

[2022-04-20 19:34] jwnimmer-tri commented on #16643
@zachfang as this tutorial gets closer to completion, please tag @aykut-tri to help review it for clarity and a fresh set of eyes.  Others of us reviewing it (myself, Xuchen, etc.) are already deeply familiar with MbP; having a mixed-experience audience for review will be super valuable.

[2022-04-21 00:32] jwnimmer-tri commented on #14757
Meh.  This is nice, but anyway is not going to be a priority for me.

Other than that, all other bugs have either been fixed, or filed as separate issue numbers.

[2022-04-21 00:32] #14757 closed

[2022-04-21 13:35] #16856 closed

[2022-04-21 16:33] jwnimmer-tri opened #17009 "CI passing for M1 builds on Apple silicon (ARM64)"
CI support for ARM64 builds on M1 machines will be ready soon (#16380).  Once it's ready, we should work to get CI passing in that Nightly Unprovisioned Release configuration.

We can use this issue to track the overall goal, and an inventory of known problems:
- [ ] #16432
- [ ] IBEX has x86 assembly code (perhaps just disable IBEX and dReal by default on M1).
- [ ] quadmath something something

[2022-04-21 16:33] jwnimmer-tri commented on #17009
\CC @mwoehlke-kitware @svenevs FYI

[2022-04-21 18:01] #16783 closed

[2022-04-21 21:34] mitiguy commented on #13625
Issue #13625 was resolved with PR #[16893](https://github.com/RobotLocomotion/drake/pull/16893)

[2022-04-21 21:34] #13625 closed

[2022-04-21 23:01] #16993 closed

[2022-04-22 00:08] jwnimmer-tri commented on #10461
Note that our minimum required version of `numpy` is now `>= 1.17.4`.  That might be of help in this issue?

[2022-04-22 00:08] jwnimmer-tri commented on #8116
Note that our minimum required version of `numpy` is now `>= 1.17.4`.  That might be of help in this issue?

[2022-04-22 00:08] jwnimmer-tri commented on #8315
Note that our minimum required version of `numpy` is now `>= 1.17.4`.  That might be of help in this issue?

[2022-04-22 00:21] svenevs commented on #17009
For parties interested in working on this, at this time the jobs are listed [under the Mac M1 Jenkins Tab](https://drake-jenkins.csail.mit.edu/view/Mac%20M1/).  At this time, due to technical complications, only `unprovisioned` is available.  Install time takes around 10 minutes, your PR can add `@drake-jenkins-bot mac-m1-monterey-unprovisioned-clang-bazel-experimental-release please.` to test the

[2022-04-22 15:45] svenevs commented on #17009
Went through the remaining output, for this one I think the fix will just be increasing the tolerance a bit but it may be related to the solvers that cannot be built so possibly best to wait?

[code]

[2022-04-22 15:49] jwnimmer-tri commented on #17009
Yes, generally we should defer work on unit test failures until the end, especially numerical-tolerance ones.

For any tolerancing failures, we will not try to fix them within the build system team in any case.  We will open a ticket against the feature test's maintainer to resolve it (after the build fixups are complete).

[2022-04-23 09:51] RussTedrake opened #17022 "`This method doesn't support T = drake::symbolic::Expression.` without callstack in Deepnote"
We have a number of contact-related methods in `MultibodyPlant` that throw either a `std::logic_error` or `std::domain_error` with a message of the form `This method doesn't support T = drake::symbolic::Expression.`

Problem: In python (or at very least Deepnote), the throwing call stack is not shown, so the user **only** sees the message
[code]
This is very confusing, because they believe that th

[2022-04-23 10:04] RussTedrake opened #17023 "Solver options `kPrintToConsole` does not cause any output to be visible on Deepnote"
To reproduce: run the `debug_mathematical_program` notebook on Deepnote (as linked from the Drake page).
Expected result: I expect to see solver output after the second cell of the `Enable solver verbosity` section.  Currently I see nothing.

My understanding, based on student questions, is that this is a problem for other solvers as well.

I expect that using `kPrintToFile` is a reasonable work-a

[2022-04-23 14:01] TobiaMarcucci opened #17024 "Preprocessing for GraphOfConvexSets"
As discussed with @RussTedrake, the following preprocessing stage can be useful before looking for a shortest path in a `GraphOfConvexSets`.

Currently we are enforcing the following constraints separately:
[code]
It is probably better to enforce them directly as
[code]
and preprocess the set `X_e cap (X_u times X_v)` to identify potential implied equality constraints (similar to a facial reductio

[2022-04-23 14:08] jwnimmer-tri commented on #17022
For our C++ library / programs generally, we do not print a call stack for exceptions.  The user would need to fire up `gdb` to inspect the call stack of an exception.  The error message friction here probably applies equally well to C++ and Python.

[2022-04-23 14:20] jwnimmer-tri commented on #17023
See also the #15342 discussion more broadly and the https://github.com/RobotLocomotion/drake/issues/15342#issuecomment-876490253 specifically.

The easy improvement here is to update the text of the tutorial to document that "console" is typically useless in notebooks, and suggested work-around (print to a file, and then read it back).

[2022-04-24 18:28] hongkai-dai opened #17026 "Upgrade Mosek to Mosek 10"
As mentioned in https://drakedevelopers.slack.com/archives/C3L92BM2Q/p1650594410258979

We need to complete following tasks

- [x] Upgrade TRI's Mosek license to Mosek 10.
- [x] Upgrade Drake CI's Mosek license to Mosek 10 (see #17514).
- [x] Change Drake's build system to use Mosek 10
- [ ] Change solvers::MosekSolver class to use the affine cone constraints.
- [X] Re-enable macOS arm64 Mosek sup

[2022-04-24 22:05] RussTedrake commented on #16992
FWIW -- I just had a student run into this error message again (it happens often).  I agree it's important to fix.

[2022-04-25 08:13] CWEzio opened #17028 "`MultibodyPlant.GetRigidBodyByName` is not binded to python"
Hi I have been using pydrake. I want to get the rigid body in my plant by name so I use
[code]
But I get
[code]
Then I check the [`plant_py.cc`](https://github.com/RobotLocomotion/drake/blob/master/bindings/pydrake/multibody/plant_py.cc) and I find that there is no python binding for `GetRigidBodyByName` method.

[2022-04-25 14:20] jwnimmer-tri commented on #17009
One amendment to this... if we like, there's a slightly different plan that we (the build system team) could use:

For each test-tolerance failure (i.e., each test program whose only failures are epsilon-scale comparison differences), we could open a Pull Request that increases the comparison tolerance, and assign is to the feature's maintainer.  If they are satisfied with the change, they can app

[2022-04-25 14:22] jwnimmer-tri commented on #16432
The [comment at the top of the file](https://github.com/RobotLocomotion/drake/blob/50984eeb4b019e0c6f3b246733b49b01884938ad/tools/workspace/petsc/stubs/petscconf.h#L3-L4) explains:

_This file is a lightly-edited version of what comes out of upstream's configure script..._

[2022-04-25 15:25] jwnimmer-tri commented on #10742
Given the lack of response, I'll presume that all of the important locations have already been fixed.  Closing now.

[2022-04-25 15:25] #10742 closed

[2022-04-25 16:05] #17002 closed

[2022-04-25 16:22] jwnimmer-tri commented on #17023
I'll work on fixing the tutorial to perform correctly online.  I have a branch started at https://github.com/jwnimmer-tri/drake/tree/tutorials-print-to-file.  The current problem is that `IpoptSolver` does not support `kPrintFileName`, so I'll need to add that feature before I can demonstrate it in the tutorial.

[2022-04-25 18:03] mitiguy commented on #10742
@jwnimmer-tri    Yes -- thank you for closing this.

[2022-04-25 20:30] rpoyner-tri commented on #17022
For extra fun, none the methods that throw "This method doesn't" exceptions are public, so the immediate function names aren't much use.

[2022-04-25 21:30] #16954 closed

[2022-04-25 21:53] shensquared commented on #13874
Sorry it's been a while.

Below is a mimic of Russ's [manip_station](http://people.csail.mit.edu/russt/uploads/manip_station.html) diagram:
The [demo](https://codesandbox.io/s/loving-lamarr-4suis9?file=/index.html); it's based on Cytoscape.js, and line 24-34 toggles different edge styles and layouts.

Some shortcomings when compared with gojs:
- Edge routing is not as smart; e.g., I haven't been a

[2022-04-25 21:57] #16970 closed

[2022-04-25 22:52] xuchenhan-tri commented on #16992
@amcastro-tri Are you actively working on this one right now? Or is this now in drake adoption territory?

[2022-04-25 22:59] rpoyner-tri commented on #17022
Tracing the causes and effects by hand, it looks to me like all of the "This method doesn't" culprits are pieces of hydroelastic contact query, and only throw when the scalar type is symbolic::Expression. Since the actual methods are (a) private, and (b) often invoked via the cache system, their identities as functions are fairly useless clues for debugging.

Instead, I'm thinking of something lik

[2022-04-25 23:07] jwnimmer-tri commented on #17022
For options 1-3, in case a user wants to use `MbP<Expression>` but is not going to call any functions related to contact (nor its associated dynamics, etc), we must not throw an exception.  For example, the user can still do kinematics, in this case.  We also should not _warn_ in this case, since it will just be console spam.  Since hydroelastic is the _default_ now, I think there would be a lot o

[2022-04-25 23:08] xuchenhan-tri commented on #16908
@rpoyner-tri Do you have plans to work on this for the adoption project?
@sherm1 @amcastro-tri @joemasterjohn Any insights to share on this one?

[2022-04-25 23:24] RussTedrake opened #17037 "`ldlt().solve()` in TAMSI gives bad results for AutoDiffXd on mac (Eigen 3.4)"
I observed that I was getting surprisingly different LQR gains for a `MultibodyPlant` with time_step=0 vs time_step=small and spent some time investigating.  I eventually winnowed it down to a minimal c++ example on the cart-pole system, for which the Linearize method was giving a bad linearization for the discrete-time variant:
https://github.com/RussTedrake/drake/commit/3c424d000e63989690c993a9f

[2022-04-25 23:31] jwnimmer-tri commented on #17037
Possibly `drake/math/linear_solve.h` (or #15874) is also relevant.

\CC @hongkai-dai FYI

[2022-04-25 23:33] RussTedrake commented on #17037
Yes.  I'm planning to use #15874 in my short term fix.

[2022-04-25 23:39] sherm1 commented on #16908
Could this be addressed by just good examples & tutorials? Or is the current feature set just too awful?

[2022-04-25 23:54] xuchenhan-tri commented on #16179
@joemasterjohn Do you have plans to work on this? If not, I can take a look this week.

[2022-04-26 00:09] xuchenhan-tri commented on #17037
Seems like @amcastro-tri is quite involved on this issue. Do you already have some Eigen-only repro? If not, do you have plans to work on this more?

[2022-04-26 00:12] sherm1 commented on #17037
Russ, it looks like the mass matrix in SolveWithGuess() is 10x10, but I think the cart/pole is only 2 dofs. Did you use a different system to produce the final output above?

[2022-04-26 00:36] xuchenhan-tri commented on #15496
@joemasterjohn would this be easy to achieve?

[2022-04-26 00:41] xuchenhan-tri commented on #15620
#16800 and #16917 separated the abstraction of spatial and temporal discretizations and are steps towards solving this issue.

[2022-04-26 00:51] xuchenhan-tri commented on #15782
I ran this example on master bdd2b7d and had no issue even with time step of 5e-3s. (The default now is 5e-4s). Is this issue fixed? @RussTedrake @amcastro-tri

[2022-04-26 00:55] xuchenhan-tri commented on #15765
@amcastro-tri I'd imagine SAP would help with the "explosion issue" even if some constraints are initially violated. Thoughts?

[2022-04-26 00:58] xuchenhan-tri commented on #16992
cc @mitiguy for awareness.

[2022-04-26 01:03] RussTedrake commented on #17037
@sherm1 -- not sure where you are getting 10x10?  The cart pole was the system under test for all of these.  There are 5 derivatives (4 states and 1 control input).

[2022-04-26 01:03] RussTedrake commented on #17037
@xuchenhan-tri -- would love if you want to take it!

[2022-04-26 01:05] xuchenhan-tri commented on #17037
If @amcastro-tri doesn't already have some work in progress or doesn't have the bandwidth to follow through with this, I can investigate more later this week and report back.

[2022-04-26 01:11] jwnimmer-tri commented on #15782
A while ago (#15814), I already fixed the crash:

The remaining work on this issue is whatever @amcastro-tri wanted to do to understand more thoroughly:

The intended follow-up was hinted at during #15814 discussions, but I'm not exactly sure what we're looking for here?  What is the "victory condition" for this ticket?

As it stands, this seems like a "personal TODO list being stored in the proje

[2022-04-26 01:23] jwnimmer-tri commented on #16969
Within Drake, the only mention of "binder" is either in documentation that mentions a long list of potential online notebooks (_"Note that some commercial solvers are not included in the pre-compiled Drake binaries, and therefore not on Deepnote/Colab/Binder."_), or the top-level `.binder` folder.  In drake-ci, we have some [special code](https://github.com/RobotLocomotion/drake-ci/blob/7ab0fedc16

[2022-04-26 01:26] jwnimmer-tri commented on #16969
\CC @RussTedrake I'm going to schedule this for Kitware soon.  Let us know if you have any concerns.

[2022-04-26 02:14] RussTedrake commented on #16969
SGTM

[2022-04-26 02:22] RussTedrake commented on #17022
Just to be clear... there are a few call sites that are not related to hydroelastic.  The students that ran into this were not enabling hydro when they hit this error.  I see `CallContactSolver`, `CalcDiscreteContactPairs` which, I believe, are not exclusively hydro.

[2022-04-26 02:52] jwnimmer-tri commented on #17022
The `CallContactSolver` would not be involved; that is a vestigial internal API that does not appear to be used anywhere.

The `CalcDiscreteContactPairs` (as used forward dynamics, I believe) seems more likely.  Perhaps rico has a handle on that.

[2022-04-26 02:55] #16744 closed

[2022-04-26 02:55] #16815 closed

[2022-04-26 04:58] jwnimmer-tri commented on #15018
@EricCousineau-TRI the subject line says this:

By "strict", I think you mean that when a user loads deprecated SDFormat syntax using Drake's `multibody::Parser`, then Drake should throw an exception, rather than only printing a console warning?

Assuming that's the case, then in the discussion threads here I could not find any discussion about _why_ the deprecation policy should be strict?

For b

[2022-04-26 12:30] rpoyner-tri commented on #17022
I agree that my first proposal was probably too extreme and disables some useful calculations. I think a confounding factor is that the default `contact_model` changed to hydroelastic-with-contact recently. So, likely we have a lot of unsuspecting users waltzing into the hole created by "no symbolic hydro" without having made any obvious/explicit choices.

I'll do some more study and see. I fear t

[2022-04-26 13:58] amcastro-tri commented on #17037
I definitely won't have time to work on this issue this week @xuchenhan-tri. If you think you can make progress this week, please feel free to re-assign. If anything, I can help with reviews.

[2022-04-26 14:11] amcastro-tri commented on #16992
I am not working on it. This was actually my question we didn't get to in yesterday's meeting :-(.
I'd be happy to work on it if no one else is. I'll place it in our [TechDebt project](https://github.com/RobotLocomotion/drake/projects/10). From now on, whatev I'm working on will be placed there. Everything else we can place in backlog as we make issues go up the priority queue.
Please let me know

[2022-04-26 14:49] jwnimmer-tri commented on #15342
To help make the issues database more intelligible, I think we should keep this issue focused on the immediately usability (the spelling and discoverability for how to use our common solver options to turn on printing).  That problem is somewhat mitigated by having a tutorial about it (debug_mathematical_program), but we can still consider API improvements, e.g., adding a sugar function onto Mathe

[2022-04-26 14:54] jwnimmer-tri commented on #12867
Here's the full list of implementation tasks.  (To be updated as we go.)

- [ ] ClpSolver to console
- [ ] ClpSolver to file
- [ ] CsdpSolver to console
- [ ] CsdpSolver to file
- [ ] DrealSolver to console
- [ ] DrealSolver to file
- [ ] EqualityConstrainedQPSolver to console
- [ ] EqualityConstrainedQPSolver to file
- [ ] GurobiSolver to console
- [ ] GurobiSolver to file
- [ ] IbexSolver to con

[2022-04-26 15:03] rpoyner-tri commented on #17022
It would help me, as a non-expert Drake user, to have some plausible scenarios in hand to reproduce the problem actually seen. Is there a notebook or python program around that provokes the symptom?

[2022-04-26 15:25] RussTedrake commented on #17022
This is the report that I had:

I'm playing with the code to extract the lumped parameters for the cartpole system (Ch. 18 notebook), except by applying it to my system with an iiwa and an object attached with a pin joint. I'm trying to run the function
[code]
but see this error (that does not happen when I run the notebook):
[code]
The notebook would lead me to believe that it does support this t

[2022-04-26 16:00] jwnimmer-tri commented on #17022
@rpoyner-tri:

That's my read as well.  The forward dynamics involves contact forces, and when in "hydro with fallback" mode we throw an exception when trying to add in those forces from any symbolic contact surfaces (even though there would be no such forces in this example).

That's means another work-around for users (instead of deleting their collision geometries) would be to switch the plant'

[2022-04-26 16:02] xuchenhan-tri commented on #15782
Like I mentioned above, the example now runs without going unstable with dt=5e-3s. That's 10x the default value set in #15814 and 5x the time step that was originally troublesome. So there must have been some more than superficial fix in the meantime.

[2022-04-26 16:06] rpoyner-tri commented on #17022
@ggould-tri floated the idea of having symbolic contact return symbolic nan, or perhaps function-wrapped assert or throw. This might have the nice property that we could just remove all the specializations from mbp, and have the excuses live in the geometry layers.

[2022-04-26 16:06] jwnimmer-tri commented on #15782
Ah, it did not click for me that you were saying you changed the timestep.  I see now.

So we have:
- Original problem report: 1e-3 at old revision => crash
- My fix: 5e-4 and middle revision => no crash
- Today: 5e-3 at tip => no crash

[2022-04-26 16:12] jwnimmer-tri commented on #17022
I am not sure what nan values would buy us?  My intuition is that immediately throwing iff any surface contact is possible should suffice.  Deferring the failure until the values are being process with a "NaN detected" error message is likely unhelpful.

(I do support moving the "I can't handle T=Expression" logic into geometry, instead of the plant.)

[2022-04-26 16:53] sherm1 commented on #17037
Sorry, misread the output! When you say "5 derivatives" do you mean partials of p_star[0] and p_star[1] with respect to 5 variables? So `dp=[∂p₀/∂q₀   ∂p₀/∂q₁  ∂p₀/∂v₀ ... ∂p₁/∂u]` (in some order)?

[2022-04-26 16:57] xuchenhan-tri commented on #15782
To my surprise, `git bisect` shows that the PR that improved the stability was introduced in #16035 (i.e. prior to this PR, dt=5e-3 fails). @amcastro-tri Do you understand why this is the case? Does this indicate some lower level issues that we should be concerned about?

[2022-04-26 18:02] #17028 closed

[2022-04-26 18:47] jwnimmer-tri commented on #16784
Given the implementation tactic uncertainty in #16785, I'm going to change the victory condition here.  Re-spelling the plumbing to use "diagnostic.Error" vs "throw" is not terribly useful.  We are not certain that the existing call paths are were we're going to detect new kinds of errors.  If we find it necessary, we can add new plumbing as-needed.

The new victory conditions are:
- [ ] All warni

[2022-04-26 19:23] amcastro-tri commented on #15782
The only think I can think of is exactly what @sherm1 mentions on roundoff. TAMSI is not guaranteed to converge, so it could happen that small changes in the numerics lead to a state that TAMSI could not recover from.

In any case, IMO I think what we should do is to at least update to dt=1e-3 as in the old revision and close this issue.

[2022-04-26 20:23] jwnimmer-tri commented on #14747
@EricCousineau-TRI any chance to get this onto the OpenRobotics dashboard?  It's a simple Drake parsing fix (+ test case).

Otherwise maybe ping @xuchenhan-tri for MbP hitlist board.

[2022-04-26 22:04] mitiguy commented on #16992
I'll start this now.

[2022-04-26 22:28] jwnimmer-tri commented on #10874
I'm resolving this as a duplicate of #11448.

[2022-04-26 22:28] #10874 closed

[2022-04-26 22:29] jwnimmer-tri commented on #11448
See also https://github.com/RobotLocomotion/drake/issues/10874#issue-419049303 and https://github.com/RobotLocomotion/drake/issues/10874#issuecomment-471225736.  As part of this resolution, we should also consider updating our examples to use the sugar that always creates an MbP and SG as a single unit.

[2022-04-26 22:39] xuchenhan-tri commented on #17037
I was able to reproduce @RussTedrake's failure in Mac x86.

I tried reproducing this within Eigen 3.4 but failed. The way I tried to reproduce is by capturing the value of M and v and their derivatives and set up the same solve with Eigen's AutoDiffScalar.

Then I tried to reproduce the same thing in AutoDiffXd as a Drake unit test [here](https://github.com/xuchenhan-tri/drake/commit/bd454943f2e1f

[2022-04-26 22:55] jwnimmer-tri commented on #17037
You can reproduce this on Ubuntu, like so:

I took the code currently in #17038, merged it up to the tip of master, reverted the tamsi implementation fix but kept the new unit test case, [switched to Eigen 3.4](https://github.com/RobotLocomotion/drake/pull/15142/files#diff-24067c798f6b73a34bb7713d7cdcd2904823f62df8f36f1461a3a9eab6349240), and tested with Clang 12 on Ubuntu 20 (`env CC=clang-12 CXX

[2022-04-26 23:01] jwnimmer-tri commented on #17037
FYI same result with the default GCC (9.4), instead of Clang 12.  That probably means it's a bug in the code, rather that the compiler.

[2022-04-26 23:05] sherm1 commented on #13242
Would be great to have an example like this but I'm going to close the issue now since it's been a couple of years.

[2022-04-26 23:05] #13242 closed

[2022-04-26 23:08] sherm1 commented on #13718
We probably still need something like this for mobile manipulators but I'll close it now since it has been a few years. I expect it will come up again with a new application.

[2022-04-26 23:08] #13718 closed

[2022-04-26 23:13] sherm1 commented on #13517
This has been partially addressed by parameterization. Ongoing improvements to remodeling will eventually solve tool changing as a side effect. Closing.

[2022-04-26 23:13] #13517 closed

[2022-04-26 23:58] mitiguy commented on #16935
As of April 26, 2022, URDF has been updated.
http://wiki.ros.org/urdf/XML/link

Waiting for ignition robotics to complete their PR:
https://github.com/ignitionrobotics/sdformat/pull/990#pullrequestreview-945885785
to update:
http://sdformat.org/spec?ver=1.9&elem=link

[2022-04-27 00:30] xuchenhan-tri commented on #17037
Ok, I was able to reproduce in stand-alone Eigen example. Long story short,

`Vector<AutoDiffScalar<VectorXd>, 2> x =  A.ldlt().solve(b);` doesn't trigger the error, but
`Vector<AutoDiffScalar<VectorXd>, Dynamic> x =  A.ldlt().solve(b);`  does.

I'll clean up and file an issue upstream.

[2022-04-27 00:38] xuchenhan-tri commented on #15782
I'm a little iffy about just dismissing this as round-off. But if @amcastro-tri @sherm1 think there's nothing to worry about here, I'll open a PR to revert the default dt and close the issue.

[2022-04-27 00:43] xuchenhan-tri commented on #14949
My understanding is that @joemasterjohn will add a free joint soon. Will that be represented as rpy and solve this isse?

[2022-04-27 01:09] xuchenhan-tri commented on #17037
Issue filed upstream at https://gitlab.com/libeigen/eigen/-/issues/2481.

With that, would you consider this issue as resolved? @RussTedrake

[2022-04-27 03:09] jwnimmer-tri commented on #17037
There is perhaps one more bit of follow up:

I think the victory condition for that is that we never call Eigen LDLT on AutoDiff from anywhere in Drake, but rather use the drake/math helper function as in #17038 instead.

From my quick skim, most calls to LDLT were on `VectorXd` so are safe, but there might be a few still that use autodiff.

[2022-04-27 03:19] RussTedrake commented on #17037
Maybe I'm missing something, but I see a large number of LDLT calls in `multibody/` alone, and most of them look like they are templated on `T`.  So I would think we have a lot of possible landmines whenever using `AutoDiffXd`?

I would definitely not close this issue until we resolve the ldlt implementation or replace all occurrences.  (Even then it seems likely that someone could add a new ldlt

[2022-04-27 03:26] jwnimmer-tri commented on #17037
I see only the one in `sap_model` but maybe I'm not looking hard enough.  In any case, I agree we shouldn't close this until someone finishes an audit.

[2022-04-27 12:41] RussTedrake commented on #17037
I guess I am assuming the `Eigen::LDLT<...>` will have the same issues as `Matrix.ldlt()`.  It's true, we need to verify that.

[2022-04-27 13:56] jwnimmer-tri commented on #17037
We have a lot of `math::LinearSolver<Eigen::LDLT, MatrixUpTo6<T>>` but those are fine, right?  If you could link to a few of the ones that you're suspicious of, that might help.

Here's the only suspicious two I've noticed:

https://github.com/RobotLocomotion/drake/blob/39d10b48169ebd697fcfff08761153da9c467486/multibody/contact_solvers/sap/sap_model.cc#L387

https://github.com/RobotLocomotion/drak

[2022-04-27 15:44] rpoyner-tri commented on #17022
Leaving this for now, to prioritize #adoption work.

[2022-04-27 15:45] rpoyner-tri commented on #17022
@joemasterjohn would you be interested in taking a look at this? It is (in part) a consequence of making hydro the default model.

[2022-04-27 16:09] xuchenhan-tri commented on #15782
I can't think of anything off the top of my head. Comparing more carefully in the atlas example across the two commits may reveal something. I can take a closer look when I get more time.

[2022-04-27 18:17] xuchenhan-tri commented on #17037
Thanks for the reference. It could be argued that one would never want to instantiate Eigen::LDLT with a autodiff matrix because it's almost certain that using the linear solver variant is more performant (when it comes to producing derivatives).

For now, I'll PR to clean up the existing landmines, monitor the upstream issue, and revisit this ticket in a few weeks.

[2022-04-27 19:13] xuchenhan-tri commented on #15461
Following up on this issue -- @edrumwriare there still acute needs for more sugars for more getters?

[2022-04-27 19:50] jwnimmer-tri commented on #17022
To be clear, I think there are two distinct problems here:

(1) When we report "This method doesn't support T = drake::symbolic::Expression", there is a usability issue to help the user understand what they did wrong and how to resolve the problem.  The current message doesn't do much to assist.

(2) It seems probable that #16569 introduced a significant regression in MbP, where users with geometr

[2022-04-27 20:22] EricCousineau-TRI commented on #14747
I could put it on the board - is it OK if it gets done w/in next ~3 weeks?

[2022-04-27 20:26] sherm1 commented on #15461
cc @edrumwri

[2022-04-27 20:26] jwnimmer-tri commented on #14747
Yes, thanks!  I'd be satisfied with any non-zero velocity towards resolving the issue.

[2022-04-27 20:27] EricCousineau-TRI commented on #15018
My original intent was to only permit valid SDFormat files to be used in Drake, but given the newer diagnostic work introduced, I think it makes sense to relax this.

So yeah, the objective here should now be to ensure both Drake + Anzu have warning-free SDFormat files.
Have y'all already made CI canary builds available for Drake -- or make parsing strict for Drake CI itself? If so, would love to

[2022-04-27 20:30] EricCousineau-TRI opened #17052 "parsing, diagnostics: Can XPath be emitted?"
Relates #16784

When dealing with xacros / other forms of XML generation, sometimes it's nice to see the XPath

Is it possible to emit XPath (or add it as an option in Parser diagnostics) for URDF + SDFormat, eventually MJCF?
Example of getting XPath from SDFormat: https://github.com/ignitionrobotics/sdformat/pull/533
(glancing at tinyxml2 docs, I don't see explicit XPath, but I think it wouldn't

[2022-04-27 20:39] jwnimmer-tri commented on #17052
For localizing an error condition, I think that a filename and line number mostly serves the need.  Possibly a column number would also help, and/or echoing back the faulty line with a carot (as compilers sometimes do)?

We already report some of that data some of the time, but to the extent that Drake doesn't yet succeed at reporting those details for all parsing errors, I would **definitely** ap

[2022-04-27 20:43] EricCousineau-TRI commented on #16784
Per Slack DM, in Anzu PR 8769, r1, I could see super useful filenames + lineno. for URDF files, but not for SDFormat files.
Any chance that could be part of this work? (and might you want me to work w/ OSRC on this?)

Most notably, this error message appeared w/o direct trace back to files (which were SDFormat):
https://github.com/RobotLocomotion/drake/blob/da38019a96d7015628be1f620c0fb00aa97307c0

[2022-04-27 20:49] jwnimmer-tri commented on #16784
Our original intention for the scope of this issue was to have the parsing code use a `diagnostic` object at all to report messages, instead of bespoke `throw` or `drake::log()` or etc. -- as kind of a baseline of infrastructure.  (And I've even down-scoped it since that point.)

We didn't intend to try to update all of the `diagnostic` calls to also add in the filename or line number.  Doing so w

[2022-04-27 20:56] EricCousineau-TRI opened #17053 "sdformat: Should ensure filename / lineno is included in diagnostic mechanism"
Context: https://github.com/RobotLocomotion/drake/issues/16784#issuecomment-1111470081

FYI @azeey - you think this is something we can do in next ~month? (hopefully low-hanging fruit)

[2022-04-27 20:56] EricCousineau-TRI commented on #16784
Sounds good! --> #17053

[2022-04-27 20:58] jwnimmer-tri commented on #17053
FYI in Drake's URDF parser, we have a sugar class to assist with reporting line numbers: [detail_tinyxml2_diagnostic.h](https://github.com/RobotLocomotion/drake/blob/4a8999ef2ccef7b2996d7bd1ed787834fb1dac00/multibody/parsing/detail_tinyxml2_diagnostic.h).

\CC @rpoyner-tri for any other thoughts

[2022-04-27 21:13] #17023 closed

[2022-04-28 00:26] svenevs commented on #16448
I have some stuff up in #17058, I need to come back tomorrow and undo those changes to get the original list of warnings -- some of them seem possible to fix in drake itself.  For example, it looks like generated header files in `gen/` folders were getting their executable bits set?  Right now that approach is a bit brute-force...

[2022-04-28 00:45] sherm1 commented on #17022
Leaving this assigned to Rico for now until we find a home for it.

[2022-04-28 00:47] xuchenhan-tri commented on #15462
I'll take a look at this in case this issue is still of interest.

[2022-04-28 02:26] jwnimmer-tri commented on #15018
Yes, for the purposes of Drake CI, my plan is to have a separate linter so that warnings do not get in the way of any other tasks.  Having warnings unconditionally promoted would be a problem in cases where we have unit test tests over deprecated syntax.

For downstream projects that want a canary build (as they would do with, e.g., `-Werror=deprecated-declarations`) we might want to offer an envi

[2022-04-28 02:32] jwnimmer-tri commented on #15018
FYI In any case, I intend to open a separate issue to track the goal of keeping warnings (and errors!) out of Drake's model files.

I have one more PR on the way before that, which should close out this issue.

[2022-04-28 02:41] jwnimmer-tri commented on #12404
For the record, as of today the parsers don't support screw joint yet.  I added a TODO for that in #17054 on the SDFormat side.  For the URDF side, it seems like we'll need to `<drake:joint>` since "screw" is not a URDF-standard joint type.

[2022-04-28 02:48] jwnimmer-tri opened #17061 "Lint model files"
As discussed in #15018 and especially https://github.com/RobotLocomotion/drake/issues/15018#issuecomment-1111449656.

We should have a linter for our model files (SDFormat, URDF, etc.) that will report test failures in case any of the model file(s) emit warnings or errors when loaded into MultibodyPlant + SceneGraph.

Broadly, we'd want to lint all of the installed model files plus any other examp

[2022-04-28 04:24] EricCousineau-TRI commented on #17061
If it's helpful, see also Anzu PR 8773 (mayhaps redundant w.r.t tools in Drake)

[2022-04-28 12:04] rpoyner-tri commented on #17061
multibody/parser/test/parser_manual_test is what you are looking for. It currently doesn't have a great workflow for working with models that need to be bazel-built;  the result is a lot of hard errors from ResolveUri.

There is a model-tester test among the pydrake tests that might be easier to grow into what you want.

[2022-04-28 12:09] rpoyner-tri commented on #17053
Having not actually re-read all of the sdformat parser code, I suspect we can do something very similar, or even extend/rework some of the existing urdf solution.

[2022-04-28 13:39] amcastro-tri commented on #15765
I think having a warning for joint limits being violated would be a great addition, specially because we don't have a good way to visualize this problem. A contact configuration can very well be diagnosed using our visualization tools and as @ggould-tri mentions above, it is very common to start a sim from a static equilibrium configuration.

So as a first step I propose we do warn about joint lim

[2022-04-28 13:42] amcastro-tri commented on #15496
question @EricCousineau-TRI with "Given a Joint / JointIndex, list all bodies kinematically affected by this joint.", do yo mean the two bodies connected to this joint?

To be more precise, what API/APIs would you like to have?

[2022-04-28 13:51] EricCousineau-TRI commented on #15496
The use case is for collision avoidance - ideally, we only compute distances / gradients for bodies that actually can be affected by given robot arm(s) / DoFs.

Something like this (or perhaps more intelligent / efficient)?
This is what we have in Anzu, under `robot_bridge_common.{h,cc}`:
(I think this overfit to tree topology, but that's prolly fine for now?)
[code]

[2022-04-28 14:45] amcastro-tri commented on #17022
Per f2f with @rpoyner-tri:

1. I believe any `SceneGraph::CalcContactQuery<symbolic::Expression>` throws, or should throw.
2. The fact that previous default "point" worked, most likely was caused by a "shortcut". With "shortcut" I mean most likely an `if` statement that is not properly converted to `cond`.
3. Even if (2) is itself a bug, the proper solution could be so overly complex to implement

[2022-04-28 16:22] jwnimmer-tri commented on #16643
I didn't say this as clearly as I could -- my suggestion is to do the entire Feature Review phase using Deepnote, and only copy it into a Drake PR once that's finished, and we're on to Platform Review.

[2022-04-28 16:57] DamrongGuoy commented on #17022
I like _"create a reproduction recipe (or unit test) that probes this behavior, and running under the two contact modes (point, fallback)."_  If we can make it into unit tests, we can use them for code maintenance.

[2022-04-28 16:59] DamrongGuoy commented on #17022
Are these details relevant?

On the `geometry` side, QueryObject's doxygen has tables like this one:
![image](https://user-images.githubusercontent.com/42557859/165802711-c89add8c-e4e5-4333-9810-e2c64708669c.png)
for [ComputePointPairPenetration](https://drake.mit.edu/doxygen_cxx/classdrake_1_1geometry_1_1_query_object.html#af3b16adde799eb804619dc86f3703f4f) (), [ComputeSignedDistancePairwiseClose

[2022-04-28 17:33] rpoyner-tri commented on #17022
I have a repro branch, which gets to the original error message, but maybe isn't quite right yet: https://github.com/rpoyner-tri/drake/tree/this-method

Repro in hydro-with-fallback:

[code]
Unfortunately point contact seems to hit some maybe irrelevant failure. I suspect I've set up the systems wrong somehow.

[code]

[2022-04-28 17:37] jwnimmer-tri commented on #12831
We have https://drake.mit.edu/doxygen_cxx/classdrake_1_1solvers_1_1_dreal_solver.html written already.  Any additional victory conditions here are not clear, so I'll close this.

[2022-04-28 17:37] #12831 closed

[2022-04-28 17:40] jwnimmer-tri commented on #12344
@hongkai-dai Could you help us clarify the topic of this issue?  What are the victory conditions necessary to close it?  Is this a feature request?  If so, what is the feature?  Is there any chance we will work on it?  I'm curious whether we should close this issue.

[2022-04-28 18:04] hongkai-dai commented on #12344
I consider this issue closed. We have [CentroidalMomentumConstraint](https://github.com/RobotLocomotion/drake/blob/master/multibody/optimization/centroidal_momentum_constraint.h) inside Drake, and Russ also has an example of little dog doing centroidal dynamics planning in underactuated repo https://github.com/RussTedrake/underactuated/blob/master/examples/littledog.ipynb

[2022-04-28 18:04] #12344 closed

[2022-04-28 18:06] hongkai-dai commented on #14914
I think we can close this issue, as we already have CentroidalMomentumConstraint, ComInPolyhedronConstraint, and in underactuated repo we have an example of using centroidal dynamics planner on little dog https://github.com/RussTedrake/underactuated/blob/master/examples/littledog.ipynb

[2022-04-28 18:06] #14914 closed

[2022-04-28 18:07] xuchenhan-tri commented on #15765
I think the goal here is to provide some hint to help diagnose the issue if the user accidentally set *unintended* initial condition. And the criterion to emit a warning message should be:
1. The initialization is likely unintended, and
2. there's no good way to reveal the unintended setup.

Geometries in contact are not necessarily unintended as explained above. Also, unintended contact can be ea

[2022-04-28 18:08] hongkai-dai commented on #16580
Close this in lieu of #16894

[2022-04-28 18:08] #16580 closed

[2022-04-28 18:17] jwnimmer-tri commented on #15765
My own 2c -- I have a strong personal loathing for console spam.  The warning falsely triggering in cases where I _intend_ to exceed the limit (maybe only by a little bit?) would drive me mad.  Or, if it's _always_ a problem to exceed the limit, even by epsilon, than that is a _hard error_ (exception), not a warning.

I wonder if adding visualization for joint-limit-exceeded would be a better reso

[2022-04-28 18:20] ggould-tri commented on #15765
I'm not sure how to make this any clearer -- it is reasonable and often necessary to initialize joints in static equilibrium!

Consider e.g. a dishwasher door which opens downward, with joint limits at 0 (vertical) and pi/2 (horizontal) corresponding to the metal tab stops on the physical hinge.  In its open equilibrium it is is violating the pi/2 joint limit -- it has to be, since only the limit

[2022-04-28 18:27] jwnimmer-tri commented on #15765
For my part at least, that longer explanation helps a lot, thanks!  (And so, my hypothetical _"always a problem to exceed the limit"_ is clearly not valid.)

It does seem like we must not warn unless some kind of initial-penetration or initial-energy threshold is exceeded.

[2022-04-28 18:41] xuchenhan-tri commented on #15496
I'd imagine the numerical alternative is insufficient because it gives the wrong information in an unlucky configuration. I think exposing topology information is a reasonable and long-standing request. This is related to #11307 and #9747.

Looks like there had been a valiant effort in #10068 but somehow it was stalled? Skimming over that PR it seems like the goal there is not only to query the to

[2022-04-28 18:51] sammy-tri commented on #17053
I've started something like this while working on #16785 https://github.com/sammy-tri/drake/blob/sdformat_warn_unsupported/multibody/parsing/detail_sdf_diagnostic.cc

[2022-04-28 18:55] xuchenhan-tri commented on #15765
@ggould-tri that explanation helped me too. Thanks. Clearly I don't have enough experience working with joint limits in actual simulations.

I believe with SAP landing this will be enforced as a (soft) constraint.

I like the concept of somehow visualizing a constraint in general (not just the contact constraint where we can simply look at the geometries), but I don't have a clear idea what that w

[2022-04-28 19:41] jwnimmer-tri commented on #15765
I was imagining that the soft constraint would end up influencing the velocities somehow, and thus we could display a force vector (somewhere inbetween the two bodies that the joint connects?) that represents something roughly equivalent in world frame.  That's well into realm of what others would be better at specifying, though.

[2022-04-28 19:42] #15018 closed

[2022-04-28 20:11] azeey commented on #17053
@EricCousineau-TRI , yes, we can queue this up, unless @sammy-tri's work resolves this.

[2022-04-28 20:18] xuchenhan-tri commented on #15765
I like that idea. And it could also be useful beyond just at initialization. @amcastro-tri WDYT?

[2022-04-28 20:28] sherm1 commented on #15496
The MultibodyGraphModeler etc code in #10068 is in pretty good shape. What we lacked is a plan for putting it to use in Drake.

[2022-04-28 21:12] sammy-tri commented on #17053
I certainly don't mind working on it while I'm in there adding the other diagnostic stuff.  Feel free to reassign to me.

[2022-04-28 22:20] amcastro-tri commented on #15496
FTR, we do have `MultibodyGraph` in Drake master, which encodes Body/Joint graph topology. I think for this particular request the `MultibodyGraph` would be the ideal place where to implement it.
We might even consider exposing the `MultibodyGraph` in public APIs for this kind of topological only queries?

[2022-04-29 18:02] svenevs commented on #17009
Been working on the OpenGL context issues, there seem to be some odd failures in `RenderEngineVTK`:

[code]
and
[code]
and one that seems like it could be ignored
[code]
AFAIU `bazel test //geometry/render:render_engine_vtk_test` does not get hit by any of the other compilation related issues, so it seems likely the tests will need to be adapted.

[2022-04-29 18:22] richardrl opened #17068 "Make default dummy variable more obvious"
I was perplexed by this error for a while:
`(Pdb) Evaluate(cost_fnx.Jacobian(x_var), dic)
*** RuntimeError: The following environment does not have an entry for the variable x(0)
x_var(1) -> 2
x_var(0) -> 2
`

The reason is, in my code, my "x_var" variable was named "x":
`    x_var = prog.NewContinuousVariables(x_init.shape[0], "x")
`

But the reason the error was happening was because there was a

[2022-04-29 18:36] jwnimmer-tri commented on #17068
This doesn't align with my understanding of symbolic variables and mathematical program. I don't think there's any concept of an "unnamed" variable.  Could you please provide a reproducible example that can illustrate the problem?

[2022-04-29 18:53] rpoyner-tri commented on #14785
I'm working on this with @calderpg-tri . We've had some preliminary discussions. I'm starting to draft those ideas into a development branch for further discussion. That branch is here: https://github.com/rpoyner-tri/drake/tree/multi-cfg-dev

Most of the work is on parsing, rather than anything deeper, so far. FYI @calderpg-tri @jwnimmer-tri @sammy-tri

[2022-04-29 19:03] hongkai-dai commented on #17068
I think @richardrl means this
https://github.com/RobotLocomotion/drake/blob/e440c8f88f5b8496865339090e2178eead5b5e5f/solvers/mathematical_program.h#L210-L211
that the variables by default have name "x".

He suggests to change that default name to "unnamed".

[2022-04-29 19:08] jwnimmer-tri commented on #17068
No doubt the error message was insufficient to help diagnose the problem.  I would still like to see a fully-worked example, so that we can explore the entire space of mitigations.  My intuition says that playing games with variable names is not going to be the best improvement that helps users understand their situation.

[2022-04-29 20:30] #16784 closed

[2022-04-29 20:34] aabuaish opened #17072 "SOS optimization; how to determine which constraints are empty?"
Hi there,

I am using SOS optimization to solve an adaptive control problem using the inverse Lyapunov method. I have been successful in obtaining the Lyapunov function and region of attraction level-set for some simple problems. Now, I am trying to determine the Lyapunov for a new system. I am getting the error "Constraint ### is empty.", where ### is a number that changes randomly. How do I debu

[2022-04-29 21:03] jwnimmer-tri commented on #17072
Thanks for your interest!

We use Drake's issue database for acute bugs and feature requests.

For questions from users, we use the `#drake` tag on Stack Overflow instead: https://stackoverflow.com/questions/tagged/drake.  Please re-post your question into that forum.

(If you like, you can reply here with the Stack Overflow link, in case anyone who finds this issue wants to see the follow-up.)

I

[2022-04-29 21:03] #17072 closed

[2022-04-29 21:09] BetsyMcPhail commented on #16999
Docker images are done

[2022-04-29 21:18] jwnimmer-tri opened #17073 "Remove linux-focal-(unprovisioned-)clang-cmake(...) builds"
The review of RobotLocomotion/drake-ci#150 is too difficult to reason about with these builds in play.

Since they serve almost no purpose, we should just simplify our life and remove them from Jenkins.

[2022-04-29 21:33] jwnimmer-tri commented on #17073
\CC @mwoehlke-kitware FYI

[2022-04-29 21:44] aabuaish commented on #17072
Wops. Thanks for the prompt response. I posted the question on Stack Overflow.

[2022-04-29 22:16] mwoehlke-kitware commented on #17073
Isn't this no longer an issue?

It's a little odd that we ask Bazel how to set CC and then pass that back to Bazel, but AFAICT it's working fine. These builds verify that the compiler passed to CMake gets used by Bazel.

[2022-04-29 22:29] jwnimmer-tri commented on #17073
It's quite possible that the updated CI scripting is correct.  However, covering this in CI has almost no value, and only serves to waste developer time and AWS coal.  Best to YAGNI on it.

[2022-04-30 14:37] jwnimmer-tri commented on #17009
For work on this issue, I'd like to prioritize getting the compilation issues resolved first (so that people stop bothering Russ about that), and thus defer test failures as a lower priority.   Of course that will be subject to available staffing/skills so it's not a hard and fast rule, but I thought I'd at least make the priority clear, and we can match it within the limits of the practical.

[2022-04-30 15:36] jwnimmer-tri commented on #16732
@hongkai-dai it seems like the two problems seen in this particular report have been resolved: exit vs exception in #16736, and always-false constraint in #16735.

Is there anything remaining to do here, or shall we close it?

From a recent [StackOverflow](https://stackoverflow.com/questions/72063958/sos-optimization-how-to-determine-which-constraints-are-empty) post, it seems like we still might

[2022-04-30 15:49] hongkai-dai commented on #16732
I agree the problem is resolved here.

Still curious why the stackoverflow post mentions about empty constraint, but we should resolve it in a different issue.

[2022-04-30 20:01] svenevs commented on #17009
Works for me :+1: The OpenGL one has a ticket out, that's not something anyone else can solve. For now that's on hold.

For the remaining ones, we really just want to disable them by default using drake's bazel configs right (e.g., disable petsc)?

[2022-04-30 20:07] jwnimmer-tri commented on #17009
We can't easily disable Petsc -- it's not a wrapped SolverInterface (like dReal or IBEX is wrapped), it's called directly by our library code.  In #16432, I explained the next step for getting Petsc working.  I think there's a >50% chance that it's a simple, one-hour fix.

For dReal and IBEX, it's fine to disable them for now.  If we go that route, it needs to happen _automatically_ on M1, even fo

[2022-05-01 01:52] Tangsun commented on #16732
As suggested by Prof. Tedrake, I am posting an issue with CSDP solver on a deepnote notebook encountered when implementing a SOS matrix search problem. CSDP solver gives error message "the CSDP library exited via a fatal exception" when certain entries in the matrix is implemented as a free polynomial. The issue does not appear when all entries of the matrix are defined as SOS polynomials.

A mini

[2022-05-01 02:28] RussTedrake commented on #16732
Here is the slightly simplified version of the example:
[code]

[2022-05-01 02:31] Tangsun commented on #16732
Follow-up: Using Mosek in a separate notebook can resolve this issue.

[2022-05-01 05:40] hongkai-dai commented on #16732
Thanks for reporting this with the reproducible code. I believe the problem is in drake's code in sdpa_free_format.cc file. With the default argument of drake::solvers::CsdpSolver it generates the wrong SDPA file. I will look more closely tomorrow.

In the mean time, it is better to use Mosek for this problem.

[2022-05-01 17:12] jwnimmer-tri commented on #16404
Duplicate of #16779.

[2022-05-01 17:18] jwnimmer-tri commented on #9661
The two-word is used approx 900 times, the one-word approx 300 times.  The 900-times is mostly dynamics code (multibody, simulator), the 300-times is mostly Russ code (traj opt).

Shall we settle on the two-word version for new code?

Is it worth fixing the one-word version in old code (possibly only non-API-changing locations, to avoid churn)?

[2022-05-01 17:24] jwnimmer-tri commented on #10040
Done.

[2022-05-01 17:24] #10040 closed

[2022-05-01 17:27] RussTedrake commented on #9661
I'm happy to go with the two-word version, and even with changing the API at some point if we decide that's best.  I agree that there is significant value in consistency.

[2022-05-01 17:30] jwnimmer-tri commented on #11326
@hongkai-dai I wonder if our recent changes have sufficiently fixed this problem?

[2022-05-01 17:35] hongkai-dai commented on #11326
I will test it on a larger sum-of-squares program on my dev branch and see how much speed up we obtain. I will report my findings later.

[2022-05-01 17:37] jwnimmer-tri commented on #8589
@sherm1 or @RussTedrake is this issue still important?  (It being dormant for 4 years suggests maybe not.)  I wonder if we can add a TODO comment (or similar) to the example code to capture the thoughts here, and then close this out without any implementation changes?

[2022-05-01 19:06] RussTedrake commented on #16992
FWIW, I've had a number of students run into this error message, too:
https://github.com/RobotLocomotion/drake/blob/077b353deed5a64f735d924e1d5afeb9a92d6bcc/multibody/tree/body_node.h#L1072-L1075

They tend to find this post: https://stackoverflow.com/questions/65093710/extra-body-with-nans-in-context-of-a-multibodyplant-causing-error-while-simulati , but don't always find a way out from there.  P

[2022-05-01 19:20] RussTedrake commented on #14949
I think backburner is ok.  I will note that we `SpaceXYZFloatingMobilizer` in the code (great!) but it's completely untouchable with no joint nor any other public API nor parsing logic for actually adding one to a `MultibodyPlant`.  So we're leaving this in a bit of a funny state.

(I actually got to this issue after a bit of searching because I remembered having to touch `SpaceXYZFloatingMobilize

[2022-05-01 19:22] RussTedrake commented on #14949
For anyone that feels like they need this, there is a less elegant solution already: you can just add all of the joints individually:
https://github.com/RussTedrake/manipulation/blob/5e5981147079e69f03d1b42707b8db0386dc8824/manipulation/scenarios.py#L107

[2022-05-02 02:49] RussTedrake opened #17079 "Exceptions raised in a pyconstraint cause SnoptSolver to run forever"
Adding `raise TypeError('error!')` to the beginning of the com_constraint in my [littledog notebook ](https://github.com/RussTedrake/underactuated/blob/96048316c6ec60a0b8fa917f06f98b8789131b2d/examples/littledog.ipynb) causes Snopt to run forever.

Expected behavior: The exception is reported to the console on the first call to the function.

I have tried capturing this in a more minimal example,

[2022-05-02 03:01] jwnimmer-tri commented on #17079
The problem might be because SNOPT uses a C ABI, which cannot deal with C++ exceptions.  (I would have expected an `abort()` in that case, though.)

Possibly this patch would help surface the fault:
[code]

In any case, we should probably not pass `snopt_userfun` directly to SNOPT, but instead pass a function that wraps a `try ... catch ...` around it, instead.

[2022-05-02 09:36] RussTedrake commented on #17079
Thanks @jwnimmer-tri.  Will try.
Note: I've confirmed that this issue does not happen for me on Ubuntu focal.

[2022-05-02 09:42] RussTedrake commented on #17079
Unfortunately, adding `extern "C"` to snopt_solver.cc did not resolve the issue on mac.

[2022-05-02 10:14] RussTedrake opened #17080 "Improve error message when quaternion state is set to all zeros"
The following code
[code]
fails because the state is set to zero, despite it having a quaternion floating base.

But the error message is
[code]
which leads people to debug in all of the wrong places.

Note: I had mentioned this in https://github.com/RobotLocomotion/drake/issues/16992#issuecomment-1114311140, but have now found this to be the root cause and a minimal reproduction.

[2022-05-02 11:09] RussTedrake commented on #17080
It turns out that this error can crop up in a much more insidious way, too.  If someone constructs a `MultibodyPlant` that has a floating base and passes it directly to our trajectory optimization codes (without explicitly adding unit quaternion constraints), then the optimizer can easily drive the solution into these singular states.  That is *much* harder to debug, and explains some of the issue

[2022-05-02 13:39] jwnimmer-tri commented on #17080
FYI tangentially related to #14800.

[2022-05-02 14:25] mwoehlke-kitware commented on #17009
The issue there is going to be that the `petscconf.h` is different on M1 vs. x86. *That* I'm not sure how to implement. Otherwise, yes, it shouldn't be too bad. IIRC, though, I had a successful build at one point after a bunch of bludgeoning away at `petscconf.h`, so (relatively) "simple" should at least be true. I'll post more in #16432.

[2022-05-02 14:32] mwoehlke-kitware commented on #16432
Here's the (mostly¹) complete diff of the generated-on-M1 `petscconf.h` vs. what's in Drake:
[code]

The most critical bits are likely the same as in the original issue description. However, it might not be a bad idea to redo this exercise on all major platforms and create a different `petscconf.h` for each.

(¹ I removed some irrelevant stuff, such as whitespace-only diffs and build identifier st

[2022-05-02 14:34] mwoehlke-kitware commented on #17073
...You trust the ability to use clang with the CMake build to not bit-rot, then?

[2022-05-02 14:38] jwnimmer-tri commented on #16432
Some of the changes might come from a newer PETSc version today, versus when I originally ran it.  Running it again on Ubuntu 20 x86_64 to compare would be helpful.

Some other of the changes are probably not interesting and we can discard them (e.g., PETSC_USE_LOG).

Some other of the changes are unwanted (e.g., PETSC_USE_SHARED_LIBRARIES).

The similarities of the two confs outweigh the differen

[2022-05-02 15:13] RussTedrake commented on #17079
Yes.  I aim to make that smaller reproduction.

[2022-05-02 15:18] mwoehlke-kitware commented on #16432
Could be. I was using `v3.16.5` which AFAICT is what's currently in Drake.

I was wondering in particular about changes such as `PETSC_USING_F2003`, `PETSC_MEMALIGN`, `PETSC_LEVEL1_DCACHE_LINESIZE`, `PETSC_MAX_PATH_LEN` and so forth. Some of those might affect performance. Some like `PETSC_HAVE_REAL___FLOAT128` and `PETSC_HAVE_THREADSAFETY` are concerning.

Another point is that I didn't make any

[2022-05-02 16:01] jwnimmer-tri commented on #10218
In #10531, we repaired Drake to use only URIs (not relative paths) in our provided models.

What remains here is to at least issue warnings when using relative filenames (a non-standard behavior).

Possibly we could also deprecate and remove that feature, but simply issuing a warning seems like it would be good enough, for my taste.

\CC @rpoyner-tri

[2022-05-02 16:12] jwnimmer-tri commented on #12341
If someone would like `RefFromPtrOrThrow` as a public API in `drake/common`, then they can open a pull request for that feature.  There is no need for an issue to track that.

[2022-05-02 16:12] sherm1 commented on #14949
FYI -- If you want to emulate the future FloatingRpyJoint exactly, put the BallRpyJoint first, followed by three PrismaticJoints (with two massless links in between). Caveat: the BallRpyJoint doesn't allow actuation of individual axes -- if you need that you would have to start with three RevoluteJoints instead of the BallRpy.

[2022-05-02 16:15] sherm1 commented on #9661
Grammarhow favors "time step": https://grammarhow.com/timestep-time-step-or-time-step/

[2022-05-02 16:35] jwnimmer-tri commented on #15660
I believe @rpoyner-tri has been poking at scoped names recently, in terms of collision filtering (#14785).  For my part, I think the most important facet of anything related to scoped names is a clear and bulletproof specification for what they denote.

[2022-05-02 16:37] jwnimmer-tri commented on #13903
@mitiguy please share your thoughts.

[2022-05-02 16:39] jwnimmer-tri commented on #13692
@EricCousineau-TRI the issue overview is somewhat terse.  Could you expand upon the feature request to summarize, please?  What specifically is being requested, and why it is relevant/important to make this change?

[2022-05-02 16:43] jwnimmer-tri commented on #13103
I believe that @rpoyner-tri has already accomplished this in documentation:

https://drake.mit.edu/doxygen_cxx/group__multibody__parsing.html

@EricCousineau-TRI can you take a look and let us know what else is missing?

It doesn't have a roadmap, but _shrug_ that doesn't seem terribly important.  We can use the issues database for tracking any requests that are acute enough to merit action.

[2022-05-02 16:45] jwnimmer-tri commented on #12772
Given the discussion above, I'll claim that joint locking (#14200) has sufficiently resolved this issue.

If we have a use case that _actually_ needs joint swapping post-parsing, we can open a new issue to explain it.

[2022-05-02 16:45] #12772 closed

[2022-05-02 16:51] jwnimmer-tri commented on #10598
For the record, using SDFormat's recently-added `<include>` feature might be a work-around.

[2022-05-02 17:01] jwnimmer-tri commented on #9573
I believe the solution here would go as follows:

Change `owned_plant_` and `owned_scene_graph_` to be double-only (not `T`), for use during setup.  Then during `ManipulationStation::Finalize()`, scalar-convert them to AutoDiffXd (if T=AutoDiffXd) while building-into the Diagram.

In cases where such approaches are not tenable, I believe instead we should focus on something like #15026 to copy a p

[2022-05-02 17:11] mitiguy commented on #13903
I agree with Rico.  I have be looking at the URDF/SDF parser code and associated tests and think that the testing for the mass/inertia conditions centralized, so each format can leverage the general code.

I think the tests should be as exhaustive as possible and the error messages as instructive as possible.

 In addition, I am working with Open Robotics to update the <inertial> tag and sub-tags

[2022-05-02 17:16] jwnimmer-tri commented on #2931
Fixed in #15350.

[2022-05-02 17:16] #2931 closed

[2022-05-02 17:50] amcastro-tri commented on #16992
Before I close this issue. The problem Russ mentions above is caused again by a free floating body with zero mass properties.
This issue keeps converging to the same root issue. We must warn (or abort really) about zero inetia links that were not welded to some other non-zero mass link.

[2022-05-02 18:06] amcastro-tri opened #17081 "Error message for zero inertia bodies (not welded to another body with non-zero inertia)"
We had a long discussion in #16992. It turns out that pretty much every error discussed in that issue stems from the same source: someone added a zero inertia (mass and/or rotational inertia) body to the model and, it is not welded to another non-zero mass body. Of course this is bad.

## Proposed Solution

Wait till `Finalize()`, when we do know for sure the user is done creating the model, to an

[2022-05-02 18:07] amcastro-tri commented on #16992
We'll close this long discussion in exchange for the more curated issue #17081.

[2022-05-02 18:07] #16992 closed

[2022-05-02 18:30] #16942 closed

[2022-05-02 19:23] BetsyMcPhail commented on #16999
Apt packages are also complete.

[2022-05-02 19:23] #16999 closed

[2022-05-02 20:08] #16982 closed

[2022-05-02 20:13] jwnimmer-tri commented on #14422
As best I understand, this is no bug here.  Closing for now.

[2022-05-02 20:13] #14422 closed

[2022-05-02 20:22] sherm1 commented on #17080
@mitiguy do you want to add this to your list of make-Drake-error-messages-mean-something tasks?

[2022-05-02 20:35] mitiguy commented on #17080
Yes -- please assign me.

[2022-05-02 20:36] jwnimmer-tri opened #17085 "Meshcat browser auto-reconnect"
Currently, if a user has a browser window open and connected to a live `geoemtry::Meshcat` service, but then re-starts their simulation program (or similarly, destroys the `Meshcat` object and recreates it within the same program), the browser window will no longer see any updates -- it is stuck on the old socket connection, which is no longer in service.

When the websocket goes down, the browser

[2022-05-03 00:19] #8589 closed

[2022-05-03 01:02] xuchenhan-tri commented on #16636
Hmm, I thought the non-contact force calculation in MbP got the same treatment as that in the contact manager. Apparently not...
I'll take a look at this when I get some time.

[2022-05-03 01:05] xuchenhan-tri commented on #16877
@RussTedrake are you still working on this or has the adoption team taken over?

[2022-05-03 01:11] mitiguy commented on #16992
@amcastro-tri  Thank you for opening this issue.
@rpoyner-tri   FYI: From what I can see, the file detail_sdf_parser_test.cc tests the following SDF parsing:
1.  Link with no tag <inertial> (not INERTIA) yields the expected result:
     mass = 1, ixx = iyy = izz = 1, ixy = ixz = iyz = 0.
2.  Link with no tag <inertia> (not INERTIAL) yields the expected result
     mass = user_specified, ixx = iyy

[2022-05-03 01:11] xuchenhan-tri commented on #15720
From the discussion above, it seems like people are ok with emitting an error message when a NaN shows up in a MbP input port? FWIW, personally, I think that's the right fix for this issue.

[2022-05-03 01:12] mitiguy commented on #17081
@amcastro-tri  Thank you for opening this issue.
@rpoyner-tri   FYI: From what I can see, the file detail_sdf_parser_test.cc tests the following SDF parsing:
1.  Link with no tag <inertial> (not INERTIA) yields the expected result:
     mass = 1, ixx = iyy = izz = 1, ixy = ixz = iyz = 0.
2.  Link with no tag <inertia> (not INERTIAL) yields the expected result
     mass = user_specified, ixx = iyy

[2022-05-03 01:29] EricCousineau-TRI commented on #13692
Upon rereading the references issues / PR, I think this issue is redundant in terms of #13691 - more or less, this is saying "to properly support an initial pose, we should use `SetDefaultFreeBodyPose()` when parsing via URDF, to ensure reposturing when including w/ SDFormat works correctly"

Closing - thanks for the ping!

[2022-05-03 01:29] #13692 closed

[2022-05-03 01:38] mitiguy commented on #17081
@amcastro-tri  Thank you for opening this issue.
@rpoyner-tri  I collected some notes about parsing below:

The file  detail_sdf_parser_test.cc  tests the following **SDF** mass/inertia parsing:
1.  Link with no tag <inertial> (not INERTIA) yields:
     mass = 1, ixx = iyy = izz = 1, ixy = ixz = iyz = 0.
2.  Link with no tag <inertia> (not INERTIAL) yields:
     mass = user_specified, ixx = iyy =

[2022-05-03 02:03] EricCousineau-TRI commented on #13103
Looks good to me! In the future, perhaps we can say which portion of SDFormat we do(n't) parse (e.g. we don't parse `//actor`, `//link/enabled_wind`), but if no one's asking atm, we can defer until acute need arises.

Thanks!

[2022-05-03 02:03] #13103 closed

[2022-05-03 02:40] jwnimmer-tri commented on #16877
Adoption hasn't taken over, but @aykut-tri (with @hongkai-dai guidance) might start working on this IIRC.

[2022-05-03 13:37] jwnimmer-tri commented on #17081
Full agree.  However, it's plausible that the parsing defaults should _additionally_ be improved (in cases where that's allowed by specification), or if nothing else they might influence the wording of the MbP::Finalize error message.

[2022-05-03 14:04] jwnimmer-tri commented on #16300
@RussTedrake I wonder if we should close this issue now?  We don't use ngrok for our tutorials anymore.  It's an interesting topic, but possibly not a Drake issue?

[2022-05-03 14:51] amcastro-tri opened #17087 "[SAP] Parameterization of contact dissipation"
Unlike [TAMSI](https://arxiv.org/abs/1909.05700), which uses a Hunt & Crossley (H&C) model of dissipation, [SAP](https://arxiv.org/abs/2110.10107) uses a linear model of dissipation.
For point contact of stiffness `k` the compliant normal force fₙ is modeled as:

where (x)₊=max(0,x), ϕ is the signed distance, vₙ the normal velocity and we define the "dissipation time scale" τ, in seconds, the topi

[2022-05-03 16:21] amcastro-tri opened #17088 "[SAP] Make internal:: pieces of code discoverable"
In particular, per review comment in #17051 from @rpoyner-tri, we'd like documentation like the one for `SapLimitConstraint` to somehow make it to the public.

One idea is to publish a follow up paper where SAP's implementation in Drake is properly documented and our treatment of general constraints is described. We'd reference this paper in the SAP section to be added to our C++ modules in Doxyge

[2022-05-03 16:32] xuchenhan-tri commented on #13888
This issue deserves an update now that we had long since started supporting discrete hydroelastics. It seems like the reaction force is now bugged for both continuous and discrete mode, and the quick (but probably not the best) fix is to add the contribution of hydro in `CalcAndAddContactForcesByPenaltyMethod()`? @sherm1 @amcastro-tri could you comment?

[2022-05-03 17:19] jwnimmer-tri commented on #17087
In general, for parser diagnostics we've been using the following rules:

(1) When the input file is **not** consistent with the allowed syntax (e.g., misspelled element names, mismatched tags, etc.), then that is an Error condition.

(2) When the input file **is** consistent with the allowed syntax, but Drake is not going to obey a command in the input file  -- either because it refers to an unim

[2022-05-03 17:22] sherm1 commented on #17081
It's not clear to me how this can be addressed better during parsing -- we don't have sufficient information until parsing is done and in some cases not until we've given the user a chance to finish with API calls, which can include welds that can turn scary massless things into legitimate components.

So I agree the checks should be done in MbP::Finalize() where we have everything we need. Likely

[2022-05-03 17:28] sherm1 commented on #13888
This suggests we're missing reaction force unit tests that would squawk when we get this wrong!

[2022-05-03 17:29] jwnimmer-tri commented on #17081
I think we all agree that the "zero inertia" checking needs to happen during Finalize, for the reasons you say.

I think it's fair to begin by confirming that the parser defaults match the specification for [SDFormat](http://sdformat.org/spec?ver=1.9&elem=link#link_inertial) and [URDF](http://wiki.ros.org/urdf/XML/link).  It seems like they already do, so there's nothing to fix.  If the parsers we

[2022-05-03 17:31] sherm1 commented on #13888
@amcastro-tri I think we need to get SAP reaction forces right as part of saying we have released SAP in Drake. WDYT?

[2022-05-03 17:45] jwnimmer-tri commented on #10982
@EricCousineau-TRI I think this work might already be finished?  If not, could you clarify what remains?

[2022-05-03 17:54] jwnimmer-tri commented on #12612
@amcastro-tri what work remains w.r.t. this bug report, and to what component should it be assigned?

Is this a usability defect in that some of the above was too difficult to discover?  Or is there an error message missing?

[2022-05-03 18:15] jwnimmer-tri commented on #9727
The examples code and such has evolved a bit since this issue was originally posted.  It would help if someone could re-assess the current state of the code, and explain here what the new victory condition would be.

[2022-05-03 18:35] jwnimmer-tri commented on #10775
For reference, the existing code is here:

https://github.com/RobotLocomotion/drake/blob/0f7965c851470c7d277548e495e277b7aa52859e/examples/quadrotor/quadrotor_geometry.cc#L41-L53

[2022-05-03 19:42] BetsyMcPhail opened #17093 "Upgrade externals to latest - May 2022"
Follow [Semi-automated monthly upgrades](https://github.com/RobotLocomotion/drake/blob/master/tools/workspace/README.md#semi-automated-monthly-upgrades) documentation.

Prior issue: #16879

[2022-05-03 19:57] #15835 closed

[2022-05-03 20:03] #16706 closed

[2022-05-03 20:35] hongkai-dai commented on #13285
Just realized that in MosekSolver, the dual solution for the positive semidefinite constraint is not retrieved. Need to add that in the list.

[2022-05-03 21:14] BetsyMcPhail commented on #17093
Note to myself, still outstanding:

petsc needs upgrade from v3.16.5 to v3.17.1

[2022-05-03 21:41] jwnimmer-tri commented on #16877
Oops, my mistake.  @aykut-tri is not working on this issue; I got confused versus #16635, which is a separate work.

[2022-05-03 22:03] EricCousineau-TRI commented on #10982
Ah, nope - it seems to be all done!

[2022-05-03 22:03] #10982 closed

[2022-05-03 22:26] EricCousineau-TRI commented on #14785
In VC w/ @rpoyner-tri and @calderpg-tri,  we discussed how scoped names for collision groups may affect SDFormat composition-based parsing. Rico mentioned that his current branch will look something like this (I think):
[code]

For SDFormat composition, there are four "modes":
(1.a) Pure SDFormat files - thus `libsdformat` handles composition, and Drake consumption of libsdformat info behaves nomi

[2022-05-03 22:32] amcastro-tri commented on #12612
The problems we found here are:
 1. State intialized beyond joint limits. Tracked by #15765 currently in "About to Start" in [MBP Tech Debt](https://github.com/RobotLocomotion/drake/projects/12).
 2. Rotational inertias off by three orders of magnitude. This could be mitigated by #13033. There is some work in #16466, but as far as I know only for MuJoCo parsing.

 I believe this could be closed si

[2022-05-03 22:32] #12612 closed

[2022-05-03 22:40] amcastro-tri commented on #15720
I agree on the solution.

[2022-05-03 22:42] xuchenhan-tri commented on #15720
Thanks for the input. I'll work on this one in the coming weeks.

[2022-05-03 22:43] amcastro-tri commented on #13903
The actual issue Andres had here was resolved in #13908.
Error reporting of zero mass links is better tracked now by #17081.

[2022-05-03 22:43] #13903 closed

[2022-05-03 22:44] xuchenhan-tri commented on #17037
Now that the Drake fix has landed (#17057), demoting this issue to low priority just so to remind us to keep track of the progress of the Eigen upstream fix.

[2022-05-03 22:44] amcastro-tri commented on #10598
@rcory, could you confirm that the SDF `<include>` feature solves your problem?
If so we can close this issue.

[2022-05-03 23:24] #16300 closed

[2022-05-03 23:55] rpoyner-tri commented on #14785
Progress: rebased the dev branch (link above) so that multi-robot filtering in a simple SDFormat nested model case is working. Still TODO:
 * test all the composition cases listed by @EricCousineau-TRI  above.
 * implement/test various error cases (names that violate nesting/encapsulation, typos, etc.)
 * documentation
 * back-fill unit tests for newly factored-out module
 * extend to model direct

[2022-05-04 00:02] jwnimmer-tri commented on #14785
Could you hyperlink to the specification for the syntax of scoped names, and the corresponding semantics of how they shall be resolved?  With a quick skim, I wasn't able to find it in the WIP branch.

[2022-05-04 00:36] rpoyner-tri commented on #14785
There's nothing I've yet written that tries to nail down scoped names. I'd say I'm working by analogy to the [SDFormat composition proposal](http://sdformat.org/tutorials?tut=composition_proposal) so far.
* scoping delimiter is '::', same as that chosen by SDFormat, and already supported by `scoped_names.{cc,h}`.
* 'local" names should still just work as before
* it is legal to use scoped names to

[2022-05-04 00:42] rpoyner-tri commented on #14785
Pertinent example is the branch version of multibody/parsing/test/sdf_parser_test/collision_filter_group_parsing_test.sdf. It has two identical nested models with some existing/internal filter groups, and the composition layer defines some additional multi-model filter groups.

[2022-05-04 02:43] mitiguy commented on #17081
It seems we all agree.  I am collecting information as I go through the code.
The current plan is to make the test in Multibody::Finalize().
It seems that the tests/checks will need to be made without a Context.
There is more to think about and perhaps other changes to code, e.g., the current Body class does not have a way to get the default_rotational_inertia that is stored in RigidBody without a

[2022-05-04 15:04] jwnimmer-tri commented on #15765
As I understand Grant's premise, something like 95% of simulations would print that warning, even though maybe only 1% of those have incorrectly posed their initial conditions.  That seems like too high of a false positive warning rate to be plausible.

[2022-05-04 17:01] hongkai-dai opened #17103 "Tiny coefficients in constraint matrix causes the solver to fail."
I have some optimization problem containing constraints with tiny coefficients
[code]
The solvers (Mosek, CSDP) fails to solve the problem. If I remove these problematic linear constraints, the solvers are happy.

So I think we should provide the capability to "prune" our constraints. For example, in a linear constraint, if the coefficient/bounds contain tiny values, then we should set that entry

[2022-05-04 17:55] hongkai-dai commented on #17068
@jwnimmer-tri I think if we set the default variable name to "unnamed", then we can run into this issue
[code]
then both `x` and `y` have the name "unnamed", they are still indistinguishable from each other.

How about we do this
1. If the user doesn't not provide a name, then we name the variable as `unnamed + variable_index`.
2. If the use does provide a name then we just use that name + count o

[2022-05-04 18:15] jwnimmer-tri commented on #17068
I think might I understand the bug report better now.  I think the original description is a bit misleading, but I think what you're getting at now is this kind of error message:

[code]

We _do_ have `x(0)` provided in the environment, but the problem is that there are two distinct variables that each have the same name (but different IDs).  In MathematicalProgram we reject duplicate variable IDs

[2022-05-04 19:41] hongkai-dai commented on #17068
I agree that compactness is important.

On the other hand, a lot of times people call `NewContinuousVariables(num_vars, "x")`, that the user wants to name the variable as `x`. Then in the following example, the two variables `x_unnamed` and `x_named` will be indistinguishable
[code]

I like the idea of adding a different token for the default. So how about using token "$"? Then the default name of

[2022-05-04 19:57] jwnimmer-tri commented on #17068
Is `$x(0)` vs `x(0)` any less confusing?  Maybe epsilon, but I'd argue not very much.

It still seems to me like the second line should just throw an error, i.e., when the user adds duplicated variable names into the program.  That, combined with my `nullopt` proposal allows for either of these two workflows:

Use `NewContinuousVariables(N)` with no names, ever.  All variables are created using de

[2022-05-04 20:21] hongkai-dai commented on #17068
I see, I like this proposal.

I think there is probably one caveat. We also have the function `prog.AddDecisionVariables(vars)`, where vars is created somewhere else. If we do not allow duplicate names, then `AddDecisionVariables(vars)` will also throw an error when `vars` has variables already contained in prog. This could be a problem since that `vars` might be created somewhere else by a differ

[2022-05-04 22:51] xuchenhan-tri commented on #16551
Looks like `RotationMatrix::IsIdentityToInternalTolerance()` is already deprecated. Are we ready to close this issue?

[2022-05-04 23:02] #16785 closed

[2022-05-05 02:57] xuchenhan-tri opened #17109 "Upgrade typename hasher to support nested class in cache entries."
Right now, if we put a nested class like `Foo<T>::Bar` in a cache entry, we'd get the following warning message.
[code]
It would be nice to improve the typename hasher so that we don't have this restriction on what can be put into cache entries.

[2022-05-05 14:09] jwnimmer-tri commented on #16380
Seems to be up and running, without any CI hitches!  Fixing the build is under #17009.

[2022-05-05 14:29] EricCousineau-TRI commented on #15948
@marcoag will be picking up on Aaron's conversion script prototype in https://github.com/aaronchongth/drake/pull/1

[2022-05-05 14:50] EricCousineau-TRI commented on #14785
Ah, derp :facepalm: Forgot - the issue here is bookkeeping for the filter groups, not just the resolved filtering.

[2022-05-05 15:51] amcastro-tri commented on #15782
This will only get better as we merge better solvers. Not sure if worth the time to fix it @xuchenhan-tri

[2022-05-05 18:11] jwnimmer-tri commented on #15916
Here was our thinking:

(1) Sending large files (multi-megabyte scenes) over an RPC in-band is generally frowned upon.  Not many RPC middlewares perform well with such large payloads.

(2) We presume there is just 1 client implementation (Drake), but >>1 server implementations (Blender, Godot, Unity, Unreal, Ospray, etc.).  We want to choose a protocol that will be very easy to adopt in _all_ of t

[2022-05-05 19:29] jwnimmer-tri opened #17112 "Add hardware_station_simulation capability"
Details to follow.

(Cross-reference for Anzu issue 8760.)

[2022-05-05 20:13] jwnimmer-tri opened #17113 "Eigen UB with zero-sized blocks"
See upstream issue: https://gitlab.com/libeigen/eigen/-/issues/2482 or https://reviews.llvm.org/D67122 for details.

In short, we are not allowed (for example) to form zero-sized blocks into zero-sized matrices.  Here is the relevant Eigen upstream code, same as what we have today on Ubuntu (3.3.7):

https://gitlab.com/libeigen/eigen/-/blob/c2f15edc43367c3a11aacbb51c7431ccb5a31bb5/Eigen/src/Core/B

[2022-05-05 21:51] amcastro-tri opened #17116 "MultibodyPlant option to choose contact solver"
With SAP coming online, we need a mechanism for the user to choose their solver for discrete MultibodyPlant's.
Right now we'll offer two options: TAMSI(default, for backwards compatibility) and SAP.

The first idea is of course having an additional field in MultibodyPlantConfig, say `MultibodyPlantConfig::contact_solver`.

More specific questions include:
1. When should the user be able to choose

[2022-05-05 22:06] jwnimmer-tri commented on #17116
The `MultibodyPlantConfig` should only ever be sugar atop an existing API.  (Same goes for any of the other Config structs.)  The MbPConfig component depends on the MbP component, not the other way around.

That means adding `enum ChooseSomeSolver { ... }` nearby the plant, and then taking that enum either in the constructor, or via a `Set...` function.

Another valid alternative would be somethin

[2022-05-05 22:20] amcastro-tri commented on #17116
We have an "experimental" API to do this already. So advanced users who would like to do this can (I've done it for the last two years).

Now, I would not promote that API to a stable API yet, that's a separate (and large) project on its own. With SAP with learned that our `ContactSolver` abstraction is not the best when it comes to writing a production ready solver. Yes it's great however for tes

[2022-05-05 22:34] jwnimmer-tri commented on #17116
If you want to relocate `GetContactModelFromString` and `GetStringFromContactModel` to be part of the `enum ContactModel` layer, it's acceptable to do that.  Ditto for any other enums and their to/from string parsers.

I did not anticipate that anyone except config parsing would like to use those functions, so I chose not to bloat the MbP header file with those declarations.  A bajillion places in

[2022-05-05 22:42] amcastro-tri commented on #17116
Thanks for the explanation Jeremy.

I completely agree.

Maybe. Withe the "MbPConfig passed at construction" idea I was trying to make it so that the solver was set on stone while parsing, which in my mind led to simpler code. But this does not seem to be a problem in your mind.

So to be clear, you think the best API to choose a solver would be something like: `MbP::set_contact_solver(SomeContact

[2022-05-05 22:48] jwnimmer-tri commented on #17116
I don't have a strong opinion on constructor vs setter, I think it's fine for #dynamics to decide that.  We require time_step in the constructor, and the contact solver maybe isn't _that_ different.

My point is that you could require both the time_step and the `enum SomeContactSolverTypeEnum` for the constructor if you prefer (as two arguments); you don't need use the Config struct for that.

[2022-05-05 23:13] JoseBarreiros-TRI opened #17118 "show_model does not work for worlds with multiple models"
Show_model is currently not supporting composed models (e.g. those that use the `<include>` tag to include models defined in a separate file or have two models nested in the world). This is a powerful feature of the [SDFormat](http://sdformat.org/tutorials?tut=composition).

When testing it with a composed model, the following error is trow: `RuntimeError: File must have a single <model> element.`

[2022-05-06 00:04] sherm1 commented on #17116
A non-zero time step in the MbP constructor is specifically for use with a discrete solver. So it makes sense to me that the constructor could also specify _which_ solver at the same time (with a suitable default that we can change to SAP later).

[2022-05-06 00:08] sherm1 commented on #17118
Assigned to Eric for disposition.

[2022-05-06 15:34] amcastro-tri commented on #17116
I like this idea of being able to specify the solver as an additional argument with a default in the constructor.
I like it in that in a first pass the solver is set in stone and known at parsing time. I think this would ease the process of error/warnings when a given model feature is not supported by the given solver.

Related to #17087 on the parameterization of dissipation for SAP. @rpoyner-tri

[2022-05-06 16:11] jwnimmer-tri commented on #13116
The basics of collision display probably do deserve a mention in the rendering tutorial.

We've also talked about adding a dedicated tutorial for collisions / proximity, which should incorporate a comprehensive look at all kinds of collision visualization.

[2022-05-06 16:16] jwnimmer-tri commented on #16643
I am cleaning up the issues database now.  I'm going to close out #12912 as a duplicate of this issue.  Thus, I'll consolidate some of its suggestions into this issue.

We don't need to act on these immediately.  Once the first pass at this tutorial lands on master, we should revisit all of the ideas above and below, and come up with the goals for a second pass.

From https://github.com/RobotLocom

[2022-05-06 16:16] jwnimmer-tri commented on #12912
Closing as a duplicate of #16643.  I've copied all of the ideas above into that issue.

[2022-05-06 16:16] #12912 closed

[2022-05-06 16:36] jwnimmer-tri commented on #9500
Just to get in on record -- there is an _unsupported_, work-in-progress "develop" branch for Drake-ROS integration here:

https://github.com/RobotLocomotion/drake-ros/tree/develop

[2022-05-06 16:42] jwnimmer-tri commented on #14675
For private dependencies, in general we're working on building them from source as hidden and linking them statically.  As such, I'm going to mark this as "won't fix".

If there is a particularly troublesome case (e.g., something LGPL linked dynamically such as `libdrake_lcm.so`) where we need to offer more CMake flags, we can open specific issues for those cases.

[2022-05-06 16:42] #14675 closed

[2022-05-06 16:44] jwnimmer-tri commented on #9201
Closing as "won't fix" -- not a sufficiently valuable use of our time and attention.

[2022-05-06 16:44] #9201 closed

[2022-05-06 16:45] jwnimmer-tri commented on #14034
Given that in the past few years we've only had this _one_ instance of this problem, I think fixing this wart is not worth our time.  Closing as "won't fix".  The TODO can stay in the code as a reminder of the wart.  If we grow more warts, we can re-open.

[2022-05-06 16:45] #14034 closed

[2022-05-06 16:47] jwnimmer-tri commented on #15872
The latest tag to dReal is 4.21.06.2.  I think we'll need a new version number tag, before we can upgrade.

[2022-05-06 16:55] jwnimmer-tri commented on #14691
The next action due here is on 2022-07-01, where we can drop scipy from our setup files.

[2022-05-06 17:01] jwnimmer-tri commented on #16780
See #13526 which has some details about installing only the C++ library (and skipping pydrake).

[2022-05-06 17:01] jwnimmer-tri commented on #13526
Resolving as a duplicate of #13526, which will attack the full problem.

[2022-05-06 17:01] #13526 closed

[2022-05-06 17:03] jwnimmer-tri commented on #13320
The PR https://github.com/RobotLocomotion/drake-external-examples/pull/175 died on the vine.  Closing this as "won't fix".  Any anyone is interested, they can work on resurrecting that PR.

[2022-05-06 17:03] #13320 closed

[2022-05-06 17:07] jwnimmer-tri commented on #16780
Note specifically that my intention is that `drake-visualizer` is _only_ available in the "all in one" package (see #14692 for discussion), and even then only on Ubuntu 20.04 (per #16215).

[2022-05-06 17:07] jwnimmer-tri commented on #14692
Resolving as a duplicate of #16780.

[2022-05-06 17:07] #14692 closed

[2022-05-06 17:08] jwnimmer-tri commented on #7331
As much as I still don't enjoy the status quo of `installer.py` code, I think refactoring for testability and maintainability is best done _in situ_ as we fix bugs our add new features, not as a standalone task.

[2022-05-06 17:08] #7331 closed

[2022-05-06 17:13] jwnimmer-tri commented on #10624
@EricCousineau-TRI what do you imagine is the solution path we need to document here?  As best I understand, you're proposing to teach something like this:

(1) Find the version of the precompiled binary they were already using.

(2) Check out drake.git from that tag (or sha).

(3) Build & install pydrake from source, with debugging and/or symbols enabled.

(4) Use the source-installed copy, inste

[2022-05-06 17:41] #16404 closed

[2022-05-06 17:45] jwnimmer-tri commented on #16432
I've filed #17121 as an attempt to correctly resolve the compilation errors.  We can leave this issue to resolve all of the other (possibly runtime-breaking) discrepancies in the petscconf.

[2022-05-06 18:13] jwnimmer-tri commented on #16969
I've just deleted the `nightly-release-binder` branch (and changed the branch protection rule pattern from `*release*` to just `nightly-release` directly).

[2022-05-06 21:58] #10248 closed

[2022-05-07 07:40] shensquared commented on #13874
The [demo](https://qoufsr.csb.app/) looks/works a lot better to me now.

The rendering is via [Cytoscape](https://github.com/cytoscape/cytoscape); the collapse/expand is via [cytoscape.js-expand-collapse](https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse); the layout is done by [elk](https://github.com/kieler/elkjs) and then wrapped/parsed via  [cytoscape.js-elk](https://github.com/c

[2022-05-07 10:51] RussTedrake commented on #13874
That demo does look great.  Thanks for doing it!  Is there any chance that the input ports / output ports for a single system (e.g. the plant in this demo diagram) can be left/right justified?

[2022-05-07 14:32] jwnimmer-tri opened #17124 "Changes to CI schedule frequency"
To remove:

- [x] `linux-focal-unprovisioned-clang-bazel-continuous-(debug|release|everything-debug|everything-release)` remove.
  - We already have it in Nightly, and we don't need fast feedback here.
-  [x] `linux-focal-unprovisioned-gcc-bazel-continuous-(debug|everything-debug|everything-release)` remove.
  - We already have it in Nightly, and we don't need fast feedback here.
  - Note that `li

[2022-05-07 15:44] jwnimmer-tri commented on #17124
If my math is correct, that will leave only these jobs in Continuous:
- `linux-focal-clang-bazel-continuous-debug`
- `linux-focal-clang-bazel-continuous-everything-address-sanitizer`
- `linux-focal-clang-bazel-continuous-everything-leak-sanitizer`
- `linux-focal-clang-bazel-continuous-release`
- `linux-focal-gcc-bazel-continuous-debug`
- `linux-focal-gcc-bazel-continuous-everything-release`
- `lin

[2022-05-08 03:57] shensquared commented on #13874
seems possible in elk though the wrapper has some lost-in-translation; I'll look more into it.

[2022-05-08 22:23] EricCousineau-TRI commented on #10624
Yup! Perhaps with the added Step 0 to address Evan's point:

(0) Show running the script under `gdb` / `lldb` using (non-symbol) binary installed Drake, and get a rough stacktrace. (alternatively, using `coredumpctl gdb` to get the trace post-portem)

[2022-05-09 00:50] EricCousineau-TRI commented on #17118
I've submitted #17129 - most importantly, it does support composite **models**.
What it does not support is *worlds* with composite models.

@JoseBarreiros-TRI My PR permits it to use worlds; however, I think it is *vital* that your composition for your model to be done *as a model*, not as a world. In that way, you can instantiate your model in different contexts.
(In SDFormat meetings, we've dis

[2022-05-09 01:07] EricCousineau-TRI commented on #14075
Encountered again in #17129. Additional action is "use `bazel test`, and/or ensure tests use `Rlocation`"

[2022-05-09 01:48] hongkai-dai opened #17130 "Add Polynomial::Expand() function"
We have `Expression::Expand()`. I think it is natural to add `symbolic::Polynomial::Expand()`
[code]
which expands all the coefficients for every monomial, and returns the expanded polynomial.

One question I have is about monomial with 0 coefficient. From the user's perspective, is it more natural to keep or remove the monomial with 0 coefficient after expansion? I am leaning towards removing the

[2022-05-09 02:24] jwnimmer-tri commented on #10624
So just `gdb --args python3 myprogram.py`?

[2022-05-09 13:23] sadraddini opened #17131 "Toppra with time-varying limits"
The current implementations of [AddFrameAccelerationLimit](https://drake.mit.edu/doxygen_cxx/classdrake_1_1multibody_1_1_toppra.html#a4439ae2c06e737634078434d897cceaf) and [AddFrameTranslationalSpeedLimit](https://drake.mit.edu/doxygen_cxx/classdrake_1_1multibody_1_1_toppra.html#a5cee3da4435b14492b675df2a473f611) add Cartesian acceleration/velocity limits on a specific frame of the robot throughou

[2022-05-09 13:54] jwnimmer-tri commented on #17131
\CC @mpetersen94 and @hongkai-dai please let us know if you have any comments on the proposed API, above.  We plan to implement this soon.

---

Right, I'd say that the first part of the note is an important reminder for users of the API, so we should put it into the Doxygen directly:

[code]

More interesting is the comment about the time boundaries:

[code]

In general, I don't think code should

[2022-05-09 13:58] jwnimmer-tri commented on #17131
It seems to me like the proposed `AddFrameTranslationalSpeedLimit` should offer both `lower_limit` and `upper_limit`, to remain consistent with all of the other API on Toppra.  The user can pass `-inf` if they want it to be unlimited.

[2022-05-09 14:40] jwnimmer-tri commented on #17130
My impression is that `symbolic::Polynomial` maintains an invariant that no coefficient can ever be zero.  There is a lot of code to already enforce that (though there are a few glaring errors where we fail to preserve it, e.g., `Polynomial::EqualToAfterExpansion`).  I think we should strip out zero coefficients.

[2022-05-09 14:46] jwnimmer-tri commented on #17068
How much would this be a problem in practice?

Perhaps we can draft up a "fail on duplicate names" patch and then see what Drake CI (and Anzu CI) has to say about the prevalence of duplicates?

We could offer a deprecation period for this new error-checking, to allow time for downstream code to adjust.  Possibly we could also have a `prog.set_duplicate_names_allowed(true)` opt-out for users who wa

[2022-05-09 14:50] jwnimmer-tri commented on #14785
@rpoyner-tri Thanks, that's clear so far.

I think my only remaining question is clarity about what the levels of scoping would be.  Could you enumerate the list (hierarchy) of levels, and give one concrete example of a fully-qualified name?  Is it only `model_instance_name::filter_group_name` or are there other layers I'm missing?

[2022-05-09 15:02] rpoyner-tri commented on #14785
In sdformat (but, I think, not in model directives?) it is possible to nest models recursively. So , you could end up with model instances/names like 2<=>"a", 3<=>"a::b", 4<=>"a::b::c". The model instance *index* space is still flat, but model naming can indicate nesting. So, collision filter groups could have relative naming for members and other-groups that are like "b::c::link1" or "b::c::group

[2022-05-09 15:22] jwnimmer-tri opened #17132 "Tutorial on collisions / proximity"
The very basics of collision handling are explained in our MbP tutorials, but there is a lot more to learn beyond the basics.  We should probably create a tutorial specifically on collisions and proximity topics.

- Collision filtering concepts, APIs, parsing, etc.
- How to make signed distance queries
- Geometry ID vs Body ID etc.
- Non-MbP geometries
- Displaying collision geometries
- Displayin

[2022-05-09 15:23] jwnimmer-tri commented on #16643
Note that I've filed #17132 for a related, collision-specific tutorial.

[2022-05-09 16:41] jwnimmer-tri commented on #17116
Assuming that this is the current proposal:

[code]

What will happen when `time_step == 0.0` (i.e., continuous time)?

It seems to me like `discrete_solver_type()` should not be valid on a continuous-time plant, and allowing the user to pass a custom `solver` enum to the constructor along with 0.0 indicates a bug in the user's understanding of how things work.

How about this instead?
[code]

[2022-05-09 16:50] jwnimmer-tri commented on #10991
Would it be fair to say that this is not "priority: high" anymore?

[2022-05-09 16:53] hongkai-dai commented on #17130
Yeah I also notice that EqualToAfterExpansion doesn't strip zero. I will fix it.

[2022-05-09 17:37] JoseBarreiros-TRI commented on #17118
Thanks @EricCousineau-TRI. This should address my request and noted on your recommendation about model composition. I agree that the composition should be done as a model, not as a world.

[2022-05-09 17:50] sherm1 commented on #10991
Sigh. It's going to be a much longer slog than we hoped. Still highly desirable and we should keep at it. Lowering to Medium.

[2022-05-09 17:52] hongkai-dai commented on #17131
For the velocity part it says "Adds a limit on the magnitude of the translational velocity of the given
   * frame, measured and expressed  in the world frame, as a function of path
   * parameter." I am not sure what "magnitude" here means, is it the the l2-norm of the ℝ³ vector of translational velocity, namely this magnitude is a non-negative scalar? Or is it the absolute value of each x/y/z en

[2022-05-09 18:00] sadraddini commented on #17131
Yes, it means the norm. The idea is to constrain the speed (norm of velocity vector)

[2022-05-09 20:27] #17118 closed

[2022-05-09 20:48] amcastro-tri opened #17137 "Better testing of limit constraints"
As thoroughly discussed in #17083, the unit testing of the `CompliantContactManager::AddLimitConstraints()` can be further improved.
In particular @xuchenhan-tri pointed out that:
 1. Changing the value of `kPositiveDeltaQ` can break the unit test. How this value is selected should at least be documented or better yet, make the unit test not sensitive to arbitrary values of this testing parameter.

[2022-05-09 22:32] jwnimmer-tri opened #17139 "UB in picosat"
During the Clang 12 upgrade (#16937) we found that picosat contains undefined behavior in it's C code.

Refer to https://github.com/dreal-deps/picosat/pull/1 for a proposed fix.

For the moment, we've worked around it (by [disabling the sanitizer](https://github.com/RobotLocomotion/drake/blob/dcc3b163658a58be54cd4fecc1804b59f5941f97/tools/dynamic_analysis/bazel.rc#L218-L220)).  This issue is to tr

[2022-05-10 03:23] CWEzio commented on #17132
This is what I am looking for! There seem to be not much examples or tutorials regarding the usage of geometry. The document for [geometric representation](https://drake.mit.edu/doxygen_cxx/group__geometry.html) is incomplete and seems haven't been updated for a while.

[2022-05-10 04:39] jwnimmer-tri commented on #14652
#16937 has merged, which was most of the work here.  I think all that remains is to update the Provisioned images to reflect the setup changes in that PR (removing some packages).

[2022-05-10 15:22] rpoyner-tri opened #17147 "finish purging "soft hydroelastic" language from Drake"
For some time, the dynamics team has been preferring "compliant" to "soft" when talking about non-rigid hydroelastic geometries. Much of the usage has been purged, during work on #16218 and #16224. The public api usage should be gone, but vestiges remain in unit tests, and in custom model parser warnings.

The victory condition for this issue is to remove all the soft hydro language that remains.

[2022-05-10 16:11] hongkai-dai commented on #17131
Thanks Sadra, I think the API looks good. Would be great if @mpetersen94 could take a look as well.

[2022-05-10 16:31] jwnimmer-tri commented on #17093
The only work remaining here is the PETSc upgrade.  I will own that now (with help from @xuchenhan-tri).

[2022-05-10 16:42] BetsyMcPhail commented on #17073
The following jobs have been removed:

**Provisioned Continuous:**

INFO:jenkins_jobs.builder:Removing obsolete jenkins job linux-focal-clang-cmake-continuous-debug
INFO:jenkins_jobs.builder:Removing obsolete jenkins job linux-focal-clang-cmake-continuous-everything-debug
INFO:jenkins_jobs.builder:Removing obsolete jenkins job linux-focal-clang-cmake-continuous-everything-release
INFO:jenkins_jobs

[2022-05-10 16:42] #17073 closed

[2022-05-10 17:05] jwnimmer-tri commented on #17073
FYI I've just now removed this from the branch protection rule for `master`, so it's no longer pre-merge.

[2022-05-10 17:07] BetsyMcPhail commented on #17073
Thank you!

[2022-05-10 17:18] BetsyMcPhail commented on #17124
Note that linux-focal-clang-cmake jobs were all removed in #17073

[2022-05-10 17:25] mpetersen94 commented on #17131
Overall I think the API looks good with the reformatting of documentation Jeremy suggested.  I also agree with Jeremy that
//       A warning is displayed if upper_limit.start_time() <
//       path.start_time() or upper_limit.end_time() > path.end_time().
should either be ignored or produce a hard error. I lean towards ignored but that might make debugging hard if the limit trajectory doesn't ove

[2022-05-10 17:43] RussTedrake commented on #17009
FWIW -- Re: `quadmath`.  My patch has been building fine by simply removing the dependency.  And if you're able to resolve this one for me, I can (finally) stop carrying the patch.

[2022-05-10 17:52] JoseBarreiros-TRI opened #17149 "Meshcat does not support capsule geometry"
Meshcat trows a warning and fails to render when visualizing a simple capsule defined in a sdf file.
E.g. `bazel run //manipulation/util:show_model ~/anzu/models/ruxid/cylinders.sdf -- --meshcat default`
warning:
`home/josebarreiros/.cache/bazel/_bazel_josebarreiros/90f3e8e4e37bf5312f47e87299f7a9c9/execroot/drake/bazel-out/k8-opt/bin/manipulation/util/show_model.runfiles/drake/bindings/pydrake/sys

[2022-05-10 18:09] jwnimmer-tri commented on #17149
That's a message from the old, deprecated visualizer (see #16978).  Unless you have an example from the current code, we should close this as "won't fix".

[2022-05-10 18:17] BetsyMcPhail commented on #17124
The Continuous list in Jenkins now matches with what is listed above, with the exception of `mac-monterey-clang-bazel-continuous-release`  which has _not_ been removed yet, see my previous comment.

[2022-05-10 18:21] jwnimmer-tri commented on #17124
I'm not sure what I was thinking, but yes this sounds better.  I think my goal was for only one mac cmake build to run in Continuous.  Seems like big-sur is the right choice for that.

[2022-05-10 18:46] BetsyMcPhail commented on #17124
Changes to drake-jenkins-job are at [f779025](https://github.com/RobotLocomotion/drake-jenkins-jobs/commit/f77902524b94ab44a7aa7bb515a0da9a8fe70c38)

[2022-05-10 19:16] #17124 closed

[2022-05-10 22:00] jwnimmer-tri commented on #17149
Okay, as best I can tell, this is a duplicate of #16978 -- we need to port show_model to use the new MeshcatVisualizer bindings.

Please comment or re-open in case there is a different problem I've overlooked.

[2022-05-10 22:09] JoseBarreiros-TRI opened #17152 "Feature request to add geometries with elliptical cross section"
There is currently no way to create or compose non-symmetrical rounded geometries (e.g. with ellipsoidal cross section). It would be a nice feature to have. Some examples:

Ellipsoid
![image](https://user-images.githubusercontent.com/103549637/167729632-c0504243-95c6-4d2d-97ec-66bc87847738.png)

Elliptic Cylinder
![image](https://user-images.githubusercontent.com/103549637/167729700-576f4f93-a4bc-

[2022-05-10 22:15] jwnimmer-tri commented on #17152
Could you elaborate a bit more about what you're trying to do?

Drake supports arbitrary convex meshes (and non-convex meshes, under certain conditions), and it seems to me like convex meshes would be able to represent these shapes, as least insofar as I can understand them from the images above.

[2022-05-10 22:55] JoseBarreiros-TRI commented on #17152
This request is the context of hydroelastics. My understanding is that if using a convex mesh, the resolution cannot be changed from drake. This results in a trial and error test of various resolution meshes created externally. On the other hand, if using primitive shapes (e.g. cylinder), we can change the resolution directly in the SDF. This advantage makes the primitive geometries preferred for

[2022-05-10 23:12] jwnimmer-tri commented on #17152
How about we fix _that_, instead?

Carefully hand-tuning primitive shapes to use as collision geometries is outdated; we shouldn't double-down on that broken workflow.  We should be able to simulate from a CAD-output mesh (or volume), with the ability to tesellate (or decimate) that volume, perhaps subject to the same kind of resolution hint that primitive shapes already offer.

[2022-05-10 23:14] sherm1 commented on #17152
I have a better idea -- use the Elllipsoid primitive!

[2022-05-10 23:14] #17152 closed

[2022-05-10 23:16] jwnimmer-tri commented on #17152
That covers Ellipsoid, but the OP also requested Elliptic Cylinder and Elliptic Capsule.

(I'm still happy with "wontfix" on that front, though. I don't think we should add so many more primitives.)

[2022-05-10 23:20] rpoyner-tri commented on #14785
About that victory condition: "across two URDFs" will not happen without some enclosing object; either an SDFormat file (via `<include>`) or model directives. Since URDF is inherently single-model, only some kind of forward/external reference could work. The SDFormat team spent plenty of time thinking about these issues and decided against supporting forward/external references.

[2022-05-10 23:24] JoseBarreiros-TRI commented on #17152
I agree with this, having the ability to remesh the volume would be really useful.

[2022-05-10 23:51] jwnimmer-tri commented on #14785
Absolutely -- I didn't mean to imply that only those two files exist.  The filters between "arm" and "torso" should neither live in the arm definition nor the torso definition; they should live in the file that assembles the arm and torso as a union, so either sdformat and/or model directives.

[2022-05-11 01:11] svenevs commented on #17009
@RussTedrake I apologize for my ignorance ... would you be willing to link the patch?  I'm having a hard time finding what we're doing or what the problem even is with `quadmath`.  I went through the build logs again but if there's something there I missed it / it gets drowned out by the petsc stuff.  The only other thing described here is in the checklist `quadmath something something` :no_mouth:

[2022-05-11 01:15] svenevs commented on #14652
Focal provisioned AMIs are updated, [linux-focal-clang-bazel-experimental-release #579](https://drake-jenkins.csail.mit.edu/view/Clang/job/linux-focal-clang-bazel-experimental-release/579/console) successfully used clang-12 on `Running on [EC2 (us-east-1) - drake-linux-focal-2022-05-10 (i-057d1ea0519d1477b)`.

[2022-05-11 01:16] RussTedrake commented on #17009
My patch is here: https://github.com/RussTedrake/drake/commit/38b013a3a0ceb21a16d43c89a6458efdc03f0b1c
(Sorry I didn't link it before)
The ibex part of this patch is moot for now, since it's disabled on arm64.

To be clear, this patch has been enough for me to run an install, but not enough to pass all the tests (nor even build all of drake; petsc for instance was not included in any install artif

[2022-05-11 01:19] RussTedrake commented on #17009
And to be clear, the reason it doesn't look "m1 specific" is because I carry this patch around every time I develop on M1, but do not try to use it on any platforms.  Adding a conditional in the bazel to remove `quadmath iff arm64` might be enough that I don't need the patch anymore.

[2022-05-11 01:35] jwnimmer-tri commented on #17009
I just peeked at https://packages.ubuntu.com/focal/libgfortran5 and can confirm that quadmath is ` [amd64, i386]` only.  When we're building on ARM64, we should neither try to find `-lquadmath`, nor link to it.

[2022-05-11 15:18] jwnimmer-tri commented on #17009
Please always use the https://github.com/RobotLocomotion/drake/projects/2 prioritization to guide your work.  This ticket is in "To Do" -- Kitware should not start working on it until the other, higher-priority cards are finished first (all of "In Progress", and anything higher up in the To Do list).