[2020-05-14 13:06] jwnimmer-tri commented on #13047
Relates #7654 (mostly a duplicate).  The bottom line is that we need to zap the confusing, stale, unsupported, and untested text, one way or another.  We should probably even do that ASAP, even if we don't have replacement text ready yet.

[2020-05-14 13:08] jwnimmer-tri commented on #13244
I think it was both, but any case is on Eric's plate to develop the linter if he want to change the style.

[2020-05-14 13:09] jwnimmer-tri commented on #12382
We are using clang-format 9 on master now, both on Ubuntu and macOS.  It seems to me like that should suit us for a while.

[2020-05-14 13:09] #12382 closed

[2020-05-14 13:11] jwnimmer-tri commented on #11952
I am not sure that this is meaningfully distinct from #11951?  If we decide support those configs, then we need to fix any linter problems that block it.  If we decide not to support those configs, then this is "wontfix".  I would like close this now, if that works for you?

[2020-05-14 13:19] jamiesnape commented on #7654
I would certainly hope we could. `robotlocomotion/drake:latest` should be good for all but a small handful of people who might actually want to contribute to Drake yet develop on Docker (and those people should be able to work out what do themselves).

[2020-05-14 13:20] jwnimmer-tri commented on #8610
In CI, is it the case that we have unlimited license concurrency?  So only developer's own builds might have a concurrency limit given that local setup?

We could add a CI opt-out on the limit, by changing the `gurobi_test_tags()` macro.

Another way to limit concurrency is `tags = ["cpu:999"]` which will run at most two gurobi tests concurrently.  That would at least step away from "exclusive".

[2020-05-14 13:22] jwnimmer-tri commented on #8584
In general we should try to turn on more warnings, but probably worth doing that in bulk instead of one by one.

[2020-05-14 13:22] #8584 closed

[2020-05-14 13:26] jamiesnape commented on #12483
The problem is matching the host configuration with the guest, so the Docker Hub image would not be easy to fix.

Any visualizer that is actually running outside of the Docker container and working with data sent from inside the Docker container is going to be the solution here. So to an extent you could make a host drake-visualizer work, but there are easier solutions that would have a more light

[2020-05-14 13:28] jamiesnape commented on #11952
Works for me.

[2020-05-14 13:28] #11952 closed

[2020-05-14 13:41] ggould-tri opened #13308 "Port collision removal"
TRI has a deterministic, heuristic-based mechanism to adjust a multibody plant context until an attached scenegraph no longer reports collisions.  This is an important companion to stochastic scenarios (#13251 #13295 ... ), since for many interesting plants there is no easy way to write a schema for stochasticity that doesn't include some colliding configurations (either because the valid configur

[2020-05-14 13:41] BetsyMcPhail commented on #12645
#13182 has been updated with a new notebook (_tutorials/3dvisualization_tests_) that has working examples from itkwidgets, open3d and pyntcloud.

`.binder/Dockerfile` has been updated to install and setup any necessary modules.

Use the [docker image for Binder](https://github.com/RobotLocomotion/drake/tree/1ffb58bd1fa5e0c91e38c4bc7ec0de4cbcbfa56e/.binder#docker-image-for-binder) to try locally.

[2020-05-14 14:01] jamiesnape opened #13309 "workspace: hard code paths instead of using pkg-config"
`pkg-config` files are frequently broken since they are (unfortunately) rarely tested by upstream projects and are frequently patched by distribution packagers. On Focal, `libjpeg.pc` and `yaml-cpp.pc` are broken at release, while on Mac, numerous files are broken on an ongoing basis. We only support three configurations, so hard coding paths is not a huge deal at this time.

[2020-05-14 14:03] jamiesnape opened #13310 "clang-format: create, host, and use clang-format@9 formula"
Would save > 3 GB on the Mac images.

[2020-05-14 14:05] jwnimmer-tri commented on #13310
Partial mitigation towards #13284.

[2020-05-14 14:34] EricCousineau-TRI commented on #11012
Yeah, I'd be fine with that!

[2020-05-14 14:36] jwnimmer-tri commented on #10605
Per #11012, document should explain what to do about installed data resources (e.g., urdfs).  Current idea is to just mention in release notes and then yank them 3mos later.

[2020-05-14 14:36] jwnimmer-tri commented on #11012
=> #10605 for process note, but nothing left to do here.

[2020-05-14 14:36] #11012 closed

[2020-05-14 14:36] EricCousineau-TRI commented on #9498
FTR I agree with Jeremy. We can be creative on how we fetch from Git / Bazel (e.g. a simplified version of `bazel_external_data`). Runtime resource downloads sounds scary in terms of simple reproducibility.

[2020-05-14 14:41] EricCousineau-TRI commented on #7654
I'm OK with that.

Along the lines of what @jamiesnape said, it would be nice to still have those commands on record; they're in Git, so yeah, we can remove 'em from `master`.

[2020-05-14 14:46] EricCousineau-TRI commented on #12775
Another user ran into this: https://stackoverflow.com/a/61789069/7829525

[2020-05-14 14:52] EricCousineau-TRI commented on #9859
Per Slack convo w/ Sammy, realized that this had tripped me up too ;)
I was fixing an input port with a "fake" Schunk WSG command, and didn't think `utime` would be important. After some debugging (and finding out first that `q0_wsg == [0., 0.]` requires collision filtering), found that this was the reason.

[2020-05-14 14:58] jamiesnape commented on #8610
We have 4096 licenses, which would allow for ~256 concurrent builds, which is more than our AWS instance quota, so essentially unlimited. We can also enforce the maximum number of builds that use Gurobi on Jenkins, if necessary.

So to answer the question, it is probably only commercial developer builds that run into issues.

[2020-05-14 14:58] ToffeeAlbina-TRI commented on #12645
@EricCousineau-TRI do you want to evaluate this as is and decide whether/what other visualizer options Betsy should explore?

[2020-05-14 16:06] huihuaTRI commented on #13242
The original plan is to use an IK to compute a position. The code I pushed is what I currently have for the HSR simulation. The IK is not ready yet.

[2020-05-14 16:18] SeanCurtis-TRI commented on #11170
@amcastro-tri @sherm1

We might want to consider closing this PR. We've achieved almost all of it -- we know we can simulate contact between plenty of different primitive types that are automatically meshed. The [rolling sphere example](https://github.com/RobotLocomotion/drake/tree/master/examples/multibody/rolling_sphere) is concrete evidence of sphere-half space and sphere-box contact (with all

[2020-05-14 16:22] sherm1 commented on #13308
Wishlist item: When we allow users to add or activate new free-floating bodies in a running simulation they will also need a way to make sure the new bodies are equilibrated before resuming simulation. Ideally no existing bodies should move during that process since the simulation is supposed to be continuing. It would be handy if this collision removal feature could be limited to particular bodie

[2020-05-14 16:30] sherm1 commented on #12775
See discussion in #13245. IMO it will be better to avoid heuristics altogether, just pick a documented default for stiffness and dissipation. The heuristics can still be supplied as a helper function that a user could call to obtain some reasonable starting values. That would take the mystery out of these parameters and empower users to solve these problems themselves.

[2020-05-14 16:54] SeanCurtis-TRI commented on #10082
As of today, `QueryObject` is sane and consistent. There is one apparent contradiction with the `GetRenderEngineByName` -- because there are already three queries `Render*Image` it seemed incongruous to have the word `Render` lead the function as both a verb and a noun.

SceneGraphInspector has the following methods that would benefit from changing:
 - [ ] `all_frame_ids()` This returns a *range*

[2020-05-14 17:05] SeanCurtis-TRI commented on #9308
This is a proper subset of the more general issue outlined in #10531 -- all of these files should be referenced via packages. Closing this issue in favor of that.

[2020-05-14 17:05] #9308 closed

[2020-05-14 17:05] ggould-tri commented on #13308
Indeed!  So useful it already does it!

It turns out that decolliding all the joints/bodies at once is computationally prohibitive anyway so you always want to decollide a complex scene a few joints/bodies at a time.  So the API lets you say "decollide this list of bodies by moving this list of joints/freebodies only"

[2020-05-14 17:09] jwnimmer-tri commented on #13308
Just to help calibrate here, in #13291 (one of the motivating examples, I think) it says "... Such switching should be very fast and not involve rebuilding large structures from scratch ...".  The collision remover is great, but it is far from fast, cheap, or heapless.  The use case so far is setting the stage a t=0 of a simultion.  I would not expect it to be performant as part of a control syste

[2020-05-14 17:09] SeanCurtis-TRI commented on #9125
@rcory Tagged as high priority from almost two years ago. We've got one of three options:

1. Close
2. Reduce priority
3. Actually treat it like high priority

Thoughts?

[2020-05-14 17:09] #13181 closed

[2020-05-14 17:12] EricCousineau-TRI opened #13312 "mp: Should add mechanism to identify errors in custom costs and constraints?"
See discussion: https://github.com/RobotLocomotion/drake/issues/13181#issuecomment-626646662

[2020-05-14 17:13] ggould-tri commented on #13308
Good point.  It is possible that the bisect heuristic could be made comparatively cheap, though I doubt fully heapless.

[2020-05-14 17:13] EricCousineau-TRI commented on #13312
@hongkai-dai I've assigned this to you for now. Please feel free to reassign as you see fit!

\cc @jwnimmer-tri

[2020-05-14 17:13] jwnimmer-tri opened #13313 "Add system scalar conversion with new type as a template argument"
In #13131 we discussed a missing feature from `System<U>` -- the ability to scalar convert it into a `System<T>` where `<T>` is a template argument, instead of being part of the method name as currently such as `ToAutoDiffXd`.

This is an issue to request the new API.

See https://github.com/RobotLocomotion/drake/issues/13131#issuecomment-628578100 for a little more background.

[2020-05-14 17:13] EricCousineau-TRI commented on #13181
Split check-eval discussion into #13312

[2020-05-14 17:16] SeanCurtis-TRI commented on #8850
Missed the question. I agree with closing this.

[2020-05-14 17:16] #8850 closed

[2020-05-14 17:20] SeanCurtis-TRI commented on #7559
@jwnimmer-tri Given the team and component, shall we reassign this?

[2020-05-14 17:22] SeanCurtis-TRI commented on #7197
Closing this as a conversation that hasn't moved in 2.5 years.

[2020-05-14 17:22] #7197 closed

[2020-05-14 17:28] SeanCurtis-TRI commented on #6966
I'm closing this. Nothing has been done in almost three years. CLion users are somewhat fracturing to other IDEs (e.g., VS Code). So, the impact of such a change would be less than at the time the issue was written.

[2020-05-14 17:28] #6966 closed

[2020-05-14 17:28] jwnimmer-tri commented on #7559
If you're no longer interested in working on it, then I'm content for you to assign it to me.

[2020-05-14 17:29] rcory commented on #9125
It was higher priority at the time on a different project, but I'd be happy with bumping this to low priority given that it's currently a non-issue (it would still be nice to have this resolved at some point in the future).

[2020-05-14 17:33] SeanCurtis-TRI commented on #6518
A year later, I'm coming back to this.

1. I think #11589 was the wrong link.
2. Between deleting the lie and keeping the lie, deleting is definitely preferred.
3. Between deleting the lie and stoppping the lie, stopping is definitely preferred.

[2020-05-14 17:35] SeanCurtis-TRI commented on #5896
Closing this in lieu of #11888

[2020-05-14 17:35] #5896 closed

[2020-05-14 17:40] RussTedrake commented on #9498
In my mind, I would like to reduce the overhead of pulling assets from e.g.:
https://bitbucket.org/osrf/gazebo_models
Or shapenet, or ai habitat, etc.

Having gone through the steps of putting a single model in RobotLocomotion/models, I can say that there is significant friction in that approach.

I appreciate the complexity... examples in drake might have to worry about licenses (especially if we

[2020-05-14 17:43] SeanCurtis-TRI commented on #4348
Closing this as being rather out-dated.

[2020-05-14 17:43] #4348 closed

[2020-05-14 17:43] jwnimmer-tri commented on #9498
My sense is that the typical way to handle those things is in the build system and package paths, not through runtime fetching from simulation code.  Perhaps we should ship (or document existing) CMake or Bazel or ROS-ish macros that pull external models into the workspace.

[2020-05-14 17:49] SeanCurtis-TRI commented on #3220
Refresh; we're still missing this. Even though we have partial support for `Convex` (e.g., interaction) we don't have support for signed distance to point.

One could *hack* it by registering a zero-radius sphere for the query point. and then calling `QueryObject::ComputeSignedDistancePairClosestPoints()`.  But actual support for the primitive would be better.

[2020-05-14 18:46] SeanCurtis-TRI opened #13314 "[geometry] Documentation to inform user-facing decisions discoverable"
## Problem

There are, ultimately, design issues in the API that affect end users decisions. Many of these have been documented in the code. In some case, they've been included in the documentation for private or internal APIs. As such, the information is not discoverable through doxygen. This is part of a larger trend.

Examples:
 - [x] #13179 Why isn't my obj textured in camera?
 - [x] #14107 Ho

[2020-05-14 18:47] SeanCurtis-TRI commented on #13179
To finish resolving this PR, there are two keynotes.

 1. We need to respect the mtl file. There is already an issue for that #11949.
 2. Until that happens, the explanation in this issue needs to be discoverable in the documentation (#13314).

With those two topics covered by other issues, I'm closing this one.

[2020-05-14 18:56] sherm1 commented on #11170
Agreed. Would be good to replace this with an Epic issue capturing this performance goal. Then we can point to individual issues for (a) taking bigger steps (e.g. Alejandro's super-solvers), and (b) making the steps faster (e.g. Damrong's mesh speedups).

[2020-05-14 19:05] rcory commented on #10546
There are a couple things that I think should be addressed before closing this issue.

Inverse Dynamics documentation:

Additionally, InverseDynamicsController states that its output is "torque", while `MultibodyPlant::get_generalized_force_input_port()` talks about "tau". I think for consistency the notation on both should be the same (maybe reference [System Dynamics](https://drake.mit.edu/doxyg

[2020-05-14 20:10] sammy-tri commented on #10546
Did you mean `MultibodyPlant::get_applied_generalized_force_input_port`?

I started to write something longer a number of times and then (I hope) realized why I was getting confused...   which is that the uses of `InverseDynamicsController` I typically always use `MultibodyPlant::get_actuation_input_port`, since typically the controller is only generating torques for one model instance in a differ

[2020-05-14 20:19] jamiesnape commented on #13310
https://github.com/RobotLocomotion/homebrew-director/commit/8b01ad18235794448d51bd9fc7cd037ac63743f0, though I need to hook it up to Drake before closing this.

[2020-05-14 20:31] sherm1 commented on #12775
@amcastro-tri here is another report of a joint limit problem with the discrete solver. OP fixed it by reducing the step size. Not clear what was happening:
https://stackoverflow.com/questions/61788760/prismaticjoint-limits-not-enforced

[2020-05-14 21:02] RussTedrake commented on #9498
Yes, that sounds very reasonable to me.  I think the "runtime" thinking that found it's way in the title was perhaps inspired by the machine learning workflows (e.g. https://pytorch.org/tutorials/beginner/blitz/cifar10_tutorial.html#loading-and-normalizing-cifar10 ).  I do think making it easy to bring in diverse resources can be a game changer.

[2020-05-14 21:47] jwnimmer-tri opened #13316 "Port examples/rod2d to SceneGraph"
Currently, `examples/rod2d` uses the attic-based drake visualizer glue.  We should port it to use `SceneGraph` instead.

Relates #12158.

https://github.com/RobotLocomotion/drake/blob/4ca6218ebff1aed9bf096ea01589899e9804015c/examples/rod2d/rod2d_sim.cc#L88-L91

[2020-05-14 21:49] jwnimmer-tri commented on #13316
@SeanCurtis-TRI To confirm my understanding, is the best thing to do here to write a new `RodGeometry` utility class, akin to [PendulumGeometry](https://github.com/RobotLocomotion/drake/blob/master/examples/pendulum/pendulum_geometry.h)?

(I'm hoping we can find an interested new developer to work on this as an onramp issue, not you or I.)

[2020-05-14 21:59] EricCousineau-TRI commented on #7871
@pvarin just got bit by this: https://stackoverflow.com/q/61802860/7829525

Re-opening it, and re-scoping towards somehow removing the init files.

Regarding:

This statement is actually false. It can be solved using `Rlocation`.

[2020-05-14 22:01] EricCousineau-TRI commented on #7871
Hm... I guess the shift from "repositories on path" to "no autogen __init__.py files" may have been a bad rescoping. Meh for now.

[2020-05-14 22:04] jwnimmer-tri commented on #7871
Please open a new issue with steps to reproduce, expected result, actual result, etc.  I'm unable to follow the above, even after clicking through to SO.

[2020-05-14 22:06] EricCousineau-TRI commented on #13313
Peanut gallery comment:
Here's a (more constrained) analog in Python:
https://github.com/RobotLocomotion/drake/blob/4ca6218ebff1aed9bf096ea01589899e9804015c/bindings/pydrake/multibody/test/plant_test.py#L112-L124

I'm guessing C++ would work the same way - just query the virtual override using `typeid(T)` at runtime?

[2020-05-14 22:08] jwnimmer-tri commented on #13313
In C++ I would expect `if constexpr (std::is_same<T, AutoDiffXd>)` to be the trick, not `typeid`.

[2020-05-14 22:09] EricCousineau-TRI opened #13317 "mac: NumPy version causes error message check to fail"
This is not fully confirmed, but it's a pretty strong hunch; from Slack:

[2020-05-14 22:11] rcory commented on #10546
@sammy-tri Yes, I did mean `MultibodyPlant::get_applied_generalized_force_input_port` (I've updated my above comment too).

Let me attempt to clarify what I understand to be the problem, and perhaps we can converge on what changes in documentation would be warranted. The system dynamics are given as:
`M(q)v̇ + C(q, v)v = τ = Bu`, where `τ` represents the generalized forces vector, `B` the actuator

[2020-05-14 22:16] EricCousineau-TRI commented on #13317
Error triggered by this file, changed by this (poorly curated) commit:
https://github.com/RobotLocomotion/drake/pull/13234/files#diff-a062185236d11b4b0b539a565cd006fe

[2020-05-14 22:19] EricCousineau-TRI commented on #13317
Hack repro for Ubuntu 18.04:
https://github.com/RobotLocomotion/drake/compare/master...EricCousineau-TRI:issue-13317-wip

[2020-05-14 22:30] SeanCurtis-TRI commented on #13316
Yes and yes. We happen to be "on boarding" someone at the beginning of June.  :)  @sherm1 are you thinking what I'm thinking?

[2020-05-14 22:32] jwnimmer-tri commented on #13316
I was going to ask @IanTheEngineer if he wants to look next week.  Might be a good onramp for RViz work.

[2020-05-14 22:33] SeanCurtis-TRI commented on #13316
I wouldn't say no to that.

[2020-05-14 22:38] EricCousineau-TRI opened #13320 "bazel_external: Issue from `drake` dir being on the Python path, and `drake/common/__init__.py` being auto-created"
This is the more specific version of this comment: https://github.com/RobotLocomotion/drake/issues/7871#issuecomment-628910452

From @pvarin's StackOverflow post:
https://stackoverflow.com/q/61802860/7829525

To reproduce, see my updated example:
[`drake_bazel_external/apps/bar.py`](https://github.com/EricCousineau-TRI/drake-external-examples/blob/1165e06b243aa095996c3d019d84d036d6515812/drake_baz

[2020-05-14 22:38] EricCousineau-TRI commented on #7871
Done: https://github.com/RobotLocomotion/drake/issues/13320

[2020-05-14 22:38] #7871 closed

[2020-05-14 22:44] EricCousineau-TRI commented on #6518
I mean, MOSEK relates to everything, no? :P (sorry about that!)

And yeah, ideal is stopping the lie. However, I'm up for deleting the lie for short term!

[2020-05-14 22:54] SeanCurtis-TRI commented on #6518
1-2-3 NOT IT!  :finger_on_nose:

[2020-05-14 22:59] jwnimmer-tri commented on #13320
With the "Issue 1, 2" callouts above, I can understand what's happening any why it causes friction.

I think `legacy_create_init` mentions before were confusing me.  I don't see how that's relevant here.  For example, it would be easy to depend on something in drake that brought in even a real `__init__.py` that we wrote for ourselves.  In general `from drake.stuff import other_stuff` should work.

[2020-05-14 23:02] EricCousineau-TRI commented on #13320
SGTM. Will submit strawman example.

[2020-05-14 23:05] #13317 closed

[2020-05-14 23:06] EricCousineau-TRI commented on #13320
Also, for the record, I have one, but it's reeks of "unofficialness":
https://github.com/EricCousineau-TRI/repro/blob/39f79009a2e89b987f072276d1921a282f63e6a1/python/bazel_py_example/mid/py3_bin.py#L3

[2020-05-14 23:33] EricCousineau-TRI commented on #6518
As far as the "split off on separate issue", I think that is now covered by https://github.com/RobotLocomotion/drake/issues/13103 - it's already on me, so I'm good there.

Would you be able to take on deleting the file? (I know this is against the rules... but I play dirty!)

[2020-05-14 23:46] SeanCurtis-TRI commented on #6518
Yeah. I think I'm just about up to the task.

[2020-05-15 00:18] sherm1 commented on #13316
Sounds like a good mini-project. I'm not sure whether Rod2d is actually a great intro to modern Drake, but just making it talk to SG would provide some useful Drake know-how.

[2020-05-15 00:21] SeanCurtis-TRI commented on #13316
The nice thing is that there are numerous examples of the `PendulumGeometry` pattern in Drake. So, without delving into the details of the system implementation too deeply, you can visualize.

[2020-05-15 02:57] jwnimmer-tri commented on #12747
That's basically what #13168 is proposing for other reasons, so I'll resolve this as a duplicate of that.

[2020-05-15 02:57] #12747 closed

[2020-05-15 02:58] jwnimmer-tri commented on #13168
In particular, if we can get `boto3` out of the critical compilation path it would have helped with #12747.

[2020-05-15 03:01] jwnimmer-tri commented on #10804
FYI #13279 has implemented this now.

[2020-05-15 03:08] jwnimmer-tri commented on #10688
@sherm1 Maybe you can post this on StackOverflow as a kind of knowledge base?  It doesn't seem to happen often enough to warrant being part of the mainline documentation.  (Or, just close it.)

[2020-05-15 04:11] sherm1 opened #13321 "Add oriented bounding box trees for hydroelastic meshes"
(Per discussions with @DamrongGuoy and @SeanCurtis-TRI; please comment/edit)

### Background
We currently use axis aligned bounding box (AABB) trees as our acceleration data structure for the tri/tet mesh intersection operation necessary for producing the hydroelastic contact patch. This produces a lot of false-positive intersections (measured at 77% in one test), likely because the AABBs are not

[2020-05-15 05:00] sherm1 commented on #13321
BTW @hongkai-dai probably knows how to compute the _optimal_ bounding box containing a set of points.

[2020-05-15 05:28] hongkai-dai commented on #13321
It doesn't seem that the problem is convex to me. Here is a formulation of the problem
[code]
where pᵢ is the location of the i'th point. The decision variables are `R, d, b`. The problem here is that SO(3) constraint is non-convex.

We could either solve this problem through nonlinear nonconvex optimization (hence find a localy optimal box), or I can use a convex relaxation of SO(3), and hence gi

[2020-05-15 15:28] avalenzu commented on #13321
@hongkai-dai's completely correct. Once you utter the phrase "orientation as decision variables," all hope of convexity goes out the window.

[2020-05-15 15:40] hongkai-dai commented on #13321
We could find the smallest oriented ellipsoid that covers all the points (this is a convex optimization problem), and then use the orientation of the ellipsoid as the initial guess of the oriented bounding box.

[2020-05-15 15:47] jwnimmer-tri commented on #13321
I may be misunderstanding the plan here, but please think twice before adding a dependency from SceneGraph or MultibodyPlant onto MathematicalProgram.

[2020-05-15 15:48] avalenzu commented on #13321
Re. @hongkai-dai: Or even just use the box defined by that ellipsoid's half-axes. There's *a lot* to be said for not introducing NLP's into your pipeline. They're very sensitive (as @hongkai-dai is well aware :smile:).

Re. @jwnimmer-tri: Good point.

[2020-05-15 16:40] sherm1 commented on #13321
The code we have lying around is self contained with an amateur optimizer hack, and in practice that may be fine. But if it turned out we needed a better solution to a problem for which MathematicalProgram was well suited, why wouldn't that be the obvious choice rather than attempting to reinvent that wheel?

[2020-05-15 16:47] jwnimmer-tri commented on #13321
For all the same reasons that extra very heavy dependencies and dependency cycles should cause one to pause and reflect on the tradeoffs.

[2020-05-15 16:47] sherm1 commented on #13321
Thanks @hongkai-dai and @avalenzu! The minimum containing ellipsoid is an interesting alternative to principal moments for finding an initial orientation, and the ellipsoid would be insensitive to point clusters. Do you have a sense of how expensive that optimization would be? Principal moments is O(n), but to do it nicely for clumped points (might not be necessary for us here) it would require a

[2020-05-15 16:51] hongkai-dai commented on #13321
Finding the smallest ellipsoid would require more than O(n). We will solve a semidefinite programming problem, which is much harder than doing one PCA. What's the magnitude of the number of points are we talking about? If it is around 10 points then I would imagine solving the optimization problem takes a few miliseconds.

[2020-05-15 17:34] EricCousineau-TRI opened #13324 "scene_graph: Should have ability to check if any contexts are alive?"
Related to Anzu PR review with @calderpg-tri.

Per the docs (as of time of writing): https://drake.mit.edu/doxygen_cxx/classdrake_1_1geometry_1_1_scene_graph.html

Given that you can modify a model value, but it ~may~ *will* not affect previously affected contexts, it would be nice to know if code modifying a model value may not percolate to *all* contexts (example application: you're adding new c

[2020-05-15 17:44] jwnimmer-tri commented on #13324
That's not even the right question to ask.  If there have been contexts allocated already but then discarded, the model changes would still be in effect for all usable contexts.

The relevant fact to know is if there are any live contexts, which is exactly the kind of thing you should solve in your application code, not rely on SceneGraph or LeafSystem to try to track for you.

The Anzu planning c

[2020-05-15 17:45] SeanCurtis-TRI commented on #13324
I'm a bit confused. I thought/hoped `SceneGraph` was clear that *any* modification to the model has *no* effect on pre-existing contexts.

[2020-05-15 17:48] jwnimmer-tri commented on #13324
Right.  And because of that, Eric wants to fail-fast in our application code if we _did_ have a Context hanging around that would not be updated, because they we'd be using incorrect data for future computations. He wants the application-layer invariant that "all of my SG contexts reflect the model modifications made as of point X in my code".

[2020-05-15 17:49] EricCousineau-TRI commented on #13324
@SeanCurtis-TRI Sorry, yeah, your edit clarified. Yes, it won't affect prior contexts.

@jwnimmer-tri I don't feel like encapsulation / abstraction barriers is really the right requirement on users? Specifically, I *don't* want it to be shoveled into "application-layer" invariant.
e.g. I don't want to use Anzu planning abstractions. I want to use as few layers as possible, and I want to call model

[2020-05-15 17:50] EricCousineau-TRI commented on #13324
However, high-frequency GitHub replies usually indicates that it's best to have a meeting.

Y'all have time on Monday?

[2020-05-15 17:58] jwnimmer-tri commented on #13324
Drake is for solved problems.  Anzu is for working out the right solutions.  In the limit, Drake should provide solutions for all relevant problems, but as we're still figuring out what the right solutions look like, there should be no shame in prototyping the ideas in Anzu until we're happy with them.  As such, never using a shim in Anzu is too high of a standard.  Every shim does indicate a prob

[2020-05-15 18:02] EricCousineau-TRI commented on #13324
I don't see how that counters my point?
And I also don't see how "not using certain Anzu solutions" is too high of a standard. At present, my *prototype* is ensuring I know that absolute minimum for what I want to do, and have a clear and concise way to eliminate hacks.
Whether or not there's time for that is up to me, no one else. Whether or not people are happy with my time allocations are anoth

[2020-05-15 18:07] jwnimmer-tri commented on #13324
Not that I can think of, no. I don't think this is useful at all as a _Drake_ ticket. Any discussion of a solution relates to the particulars of Anzu's current code and use cases. There is an incredible amount of Anzu code and cross-cutting concerns in play, and the solution relates more to the acute choices in our planning stack than anything fundamental about Drake.

[2020-05-15 18:27] sherm1 commented on #13321
Per f2f the largest box at the OBB tree root has to surround the whole mesh, which can easily have 10⁵ or 10⁶ points. A pre-convex hull might reduce that substantially for O(n log n), but there would still be a lot of points. OTOH down at the leaves the boxes only need to cover a few tris or tets, so those would have ~10 points.

[2020-05-15 18:42] sherm1 commented on #13324
I would not like to see Drake Systems keeping track of Contexts in any way. I don't have any architectural objection to mutable counters, serial numbers or whatever in a System if someone wants to know how many times some method has been invoked, though I don't see yet what problem that would solve.

[2020-05-15 18:52] sherm1 commented on #10688
I wouldn't know how to characterize the problem in a way that a user would be likely to find the solution via stackoverflow search. If the problem occurs again we will hopefully get a user stackoverflow question describing what they encountered. I think that would make a better entry in the knowledge base. Closing.

[2020-05-15 18:52] #10688 closed

[2020-05-15 19:27] #13284 closed

[2020-05-15 21:29] edrumwri commented on #13291
To follow up on these thoughts a little.

Welding a grasped object is (was?) the Gazebo model, and I don't think it's good or necessary.

We'd be very happy if this were just done automatically by MBP: free bodies that come to rest are welded until some conditions are met (e.g., a new contact is made, a force is applied). Then we, and everyone else, would get the benefit of faster simulations of m

[2020-05-15 21:56] #13310 closed

[2020-05-15 22:32] jwnimmer-tri commented on #12903
I need this now; I'll work on it.

[2020-05-16 17:43] EricCousineau-TRI commented on #13308
Possibly distracting, but would love to have this in Drake too when possible.
See StackOverflow question: https://stackoverflow.com/q/61841013/7829525

[2020-05-16 17:52] EricCousineau-TRI opened #13330 "doxygen: Should use markup that shows heading anchors links?"
### Question

Is it possible for us to *show* when there's an anchor in Doxygen?

### Possible Solutions

- See if Doxygen has this option?
- On an as-needed basis, add this in manually

### Background

I've found it annoying to post links to Doxygen, but then have to write out prose to refer to a section.

For example, [this StackOverflow post](https://stackoverflow.com/questions/61841013/how-to-

[2020-05-16 18:38] EricCousineau-TRI commented on #13330
Reworded to "show" the anchor.
In fact, there *was* an anchor, but I didn't realize it until I was searching the source (b/c I forgot where the section was):

[2020-05-16 21:27] EricCousineau-TRI opened #13332 "Should post example clutter gen example, with tutorial?"
Per request from @kunimatsu-tri - and also something I've been putting off for a long time, but would like to do, as I think these workflows will help me make a more concise setup for other stuff.

See StackOverflow post:
https://stackoverflow.com/questions/61841013/how-to-dampen-multibodyplants-compliant-contact-model-in-a-simulation

Plan is to implement prototype in Anzu Python, then figure out

[2020-05-16 21:28] EricCousineau-TRI commented on #13074
I am working on a prototype of this in Python, as part of #13133

Similar to what Robert ran into, I'm seeing parsing taking up at least 50% of my team for clutter gen. I want to see if I can cut that down by some sort of subgraph decomposition and assembly and stuff.

[2020-05-16 21:29] EricCousineau-TRI commented on #13177
As mentioned here: https://github.com/RobotLocomotion/drake/issues/13074#issuecomment-629708106

I think my prototype will be handle composition and decomposition in a scoped fashion. When it comes to transferring state, or whatever, it will be done explicitly (e.g. returning associations between plant's bodies, joints, geometries, etc.).

[2020-05-17 13:17] pyknife opened #13333 "Some questions about CompassGait in pydrake"
Hi,,I am using pydrake to learn the underactuated robotics. I am confused that how could I change the CompassGaitParams? For example, I want to change the leg length to 1.5,what should I do?
I changed the example, but it failed
this is the code:
[code]
And the result is just like this:
![1](https://user-images.githubusercontent.com/29747210/82147958-de8ad680-9883-11ea-8bd9-b67eaa144f14.png)

[2020-05-17 23:41] sherm1 commented on #13324
I don't see a Drake issue here? Systems and Contexts are intentionally separate objects in Drake. If you modify a System but then continue to use stale Contexts, that's an application problem. If there is a Drake System feature that would be useful to the application for solving this problem (like a counter or serial number), please file an issue. I'll assign this to `team: manipulation` for now f

[2020-05-17 23:45] sherm1 commented on #13333
Questions like this should be posed on Stackoverflow rather than as Drake issues. And I see you already did that [here](https://stackoverflow.com/questions/61852721/some-questions-about-compassgait-in-pydrake) -- thanks!

BTW the picture you included above did not show in the Stackoverflow question.

[2020-05-17 23:45] #13333 closed

[2020-05-18 13:45] jwnimmer-tri commented on #13330
I'm going to un-assign this from Jamie and Kitware.  I don't think this is a build system ticket.

Eric, if you'd like the class comments to choose different markup (i.e., not `@anchor`) in order to improve the generated output, then open (or reopen & re-title) an issue against those class(es).  (In the cited case, it would be a documentation issue against the Dynamics team.)

If you'd like the Do

[2020-05-18 14:14] amcastro-tri commented on #13122
Resolved in #13294.

[2020-05-18 14:15] #13122 closed

[2020-05-18 15:52] EricCousineau-TRI commented on #13330
SGTM. I've updated the title.

[2020-05-18 16:38] jwnimmer-tri commented on #13330
\CC @sherm1 @amcastro-tri

[2020-05-18 17:16] sherm1 commented on #13330
I'm not seeing a Dynamics-area request here. I had interpreted this originally as a request for a general devops improvement. If it is asking for specific code changes, please replace this issue with something narrower. I'm disconnecting this from mbp and dynamics; @EricCousineau-TRI please close or relabel.

[2020-05-18 17:30] jwnimmer-tri commented on #13091
If you need the full report class, so be it.  But if there is a conventional trick to debugging, maybe the current helper (strings) could incorporate that information as well.  Report is a lot of work. If there is one best answer (the variables, their gradients, etc.) then maybe just print that into the strings instead?  We don't want to have users have to copy-pasta a whole debugging interactions

[2020-05-18 17:34] jwnimmer-tri commented on #13330
I think the acute request was that `mbp_penalty_method`, `mbp_equations_of_motion`, `model_instances` in MultibodyPlant all use better anchors, which was a dynamics issue.

[2020-05-18 17:36] EricCousineau-TRI commented on #13324
Per VC with Sean and Jeremy, the need for this feature is a symptom of not having the collisions / collision filters specified in SDFormat (which Calder also alluded to). Closing, and will update relevant Anzu issue.

This acutely may not be a Drake issue (now that we've discussed the actual workflow), but it's still a side effect of the fact that we don't really have a great solution to #9691, on

[2020-05-18 17:36] #13324 closed

[2020-05-18 17:44] hongkai-dai commented on #13091
Thanks Jeremy, I think I want to propose this API
[code]
So I return a pair of Bindings, together with the values of the Binding at the solution. We could extract the string description from each Binding object.

[2020-05-18 17:49] jwnimmer-tri commented on #13091
To avoid API explosion, would it be simpler to only return the infeasible bindings?  The user can still evaluate them if they want details on the values.  (If the x_val is not set, I don't think we should be returning evaluated bindings anyway.)

[2020-05-18 18:05] hongkai-dai commented on #13091
We get the infeasible bindings by evaluating each binding with `x_val`, and then check if the value of the binding is within the bounds. So if `x_val` is not set, we should throw an error when calling `GetInfeasibleConstraints`.

The reason why I propose to return the value of the Binding is that computing some of the binding can be time consuming (if the evaluator uses some very complicated funct

[2020-05-18 18:09] sherm1 commented on #13330
Those would be great topics for an issue!

[2020-05-18 18:09] jwnimmer-tri commented on #13091
Why does the computational expense matter?  We are producing output for user eyeballs.  The constraints were already evaluated hundreds to thousands of times.  One more can't possibly matter?

[2020-05-18 18:20] hongkai-dai commented on #13091
Makes sense. I can then call `result.EvalBinding(binding)` to return the value of the binding very easily.

I realize this `GetInfeasibleConstraint` function cannot belong to `MathematicalProgramResult`. This function will need to access all constraints inside `MathematicalProgram`, but `MPResult` doesn't link to `MP` (otherwise it would cause circular dependence). So I still need to put this func

[2020-05-18 18:26] #6518 closed

[2020-05-18 18:35] jwnimmer-tri commented on #13091
The only functions that should be in `solve.h` are those that require a dependency on all possible solvers, e.g. `ChooseBestSolver`, `Solve`, then maybe `GetSolverIdFromName` in the future, etc.

Characterizing a solution does not meet that bar.  The current `GetInfeasibleConstraints` is already misplaced.  So any change here should also fix the file.

The new function name could be `GetInfeasible

[2020-05-18 18:38] #11888 closed

[2020-05-18 18:51] amcastro-tri commented on #11170
I agree. I think this issue is outdated now.

[2020-05-18 18:53] amcastro-tri commented on #12775
As I work on the new solve I keep this in mind. The new solver **must** be robust to joint limits (whether discrete or continuous).

[2020-05-18 23:17] sherm1 opened #13337 "Improve hydroelastic performance"
Should be able to simulate the simple gripper test
- using simple hydroelastic fingers (e.g., spheres or capsules) against a rigid cylinder
- no more than 20% slower than our best existing point-based approach (currently TAMSI)
- using some Drake integration method or a modified TAMSI.

This is an Epic issue covering several projects, divided between
- speed up hydroelastic computations: #13114 #1

[2020-05-18 23:18] sherm1 commented on #11170
Extracted and refined the performance requirement into #13337.

[2020-05-18 23:18] #11170 closed

[2020-05-19 02:49] jwnimmer-tri commented on #13242
Maybe #13325 has some reusable IK help.

[2020-05-19 04:07] huihuaTRI commented on #13242
Thanks, Jeremy. I actually want to get your confirmation on whether what I currently have aligns with the preferred way of adding a tutorial to Drake.

[2020-05-19 13:33] amcastro-tri commented on #13337
@SeanCurtis-TRI, do you want me to update the simple gripper to use a hydro model? I could try our newest integration alternatives and evaluate if a new one is needed.

[2020-05-19 13:49] SeanCurtis-TRI commented on #13337
Is there a specific reason we've called out the gripper test? If we go that way, we should be careful about specifying the parameters we're talking about -- it can dynamically alter the number of spheres it uses to approximate the toroidal contact surface. If we convert this to hydroelastic, should we be using a toroidal volume mesh to model the same soft contact surface?  I can go on.

The point

[2020-05-19 14:49] amcastro-tri commented on #13337
That's a good point. One reason not to use the sphere is that it's *too easy*, in that any solver usually does good with it. The gripper is way harder in this regard. I can always modify the gripper example to make the comparison fair (same geometry, etc.)

Notice I am not planning to push this into master (not yet at least), but I'd just play in a dev branch to enable measuring performance in a r

[2020-05-19 15:00] SeanCurtis-TRI commented on #13337
"Too easy" is an interesting statement. When I run this on master (on my laptop), Point contact runs the simulation in 0.25 s. Hydroelastic runs in 3.25 s. Given the goal:

hydroelastic should run in no more than 0.3 seconds, and not 3.25 seconds. More than an order of magnitude. So, it doesn't seem to be "too easy" yet.

[2020-05-19 15:07] amcastro-tri commented on #13337
Ah! that's interesting. Are you using continuous integration for both?

[2020-05-19 15:36] SeanCurtis-TRI commented on #13337
Yeah. I just went with the defaults. All I did was change models (and turn off the realtime rate).

If the solution is to simply pick a different integrator based on hydroelastic model and it then runs fast enough, then I would certainly consider the first hurdle cleared and we can move on to the simple gripper. (Of course, we'd want to document which integrator we should pick...or other settings

[2020-05-19 16:11] sherm1 commented on #13337
I transferred this from #11170 without rethinking it. But it does seem like an appropriate metric for us for a number of reasons:
- It models a small but realistic manipulation problem, which is our target application.
- It has problematic slip/stick transitions which TAMSI is particularly good at. That makes finding a viable off-the-shelf solver for hydroelastics difficult and might require a mod

[2020-05-19 16:16] EricCousineau-TRI commented on #13074
I think I have a prototype in Anzu that covers the workflows I want. See here for a copy-pasta version:
[`MultibodyPlantSubgraph`](https://github.com/EricCousineau-TRI/repro/tree/master/drake_stuff/multibody_hacks) ([permalink](https://github.com/EricCousineau-TRI/repro/tree/d22602d781b569d7996850878222a56197cfc762/drake_stuff/multibody_hacks))

This can handle composition via sub-plants.
Currentl

[2020-05-19 16:17] EricCousineau-TRI commented on #13177
Per comment here: https://github.com/RobotLocomotion/drake/issues/13074#issuecomment-630926022

I believe my prototype handles this workflow.

[2020-05-19 16:18] EricCousineau-TRI commented on #12203
Per comment here: https://github.com/RobotLocomotion/drake/issues/13074#issuecomment-630926022

I believe my prototype can help workaround some of these pain points - e.g. rather than trying to craft apart a whole bunch of model instances / coordinates, just reconstruct the plant (cheaply).

[2020-05-19 16:26] SeanCurtis-TRI commented on #13337
Agreed. I'd propose that the rolling sphere be targeted first. The simple gripper second. Based purely on my cynical belief that failure to hit the target for the rolling sphere implies failure to hit the target on simple gripper.

[2020-05-19 16:36] sherm1 commented on #13337
BTW I think it is _conceivable_ that it might be harder to hit the 20% goal with the rolling sphere than with the gripper -- the rolling sphere might be so small that it does nothing of substance other than computing contact so is disproportionately dominated by the relative cost of finding a point contact vs. creating a contact surface mesh.

[2020-05-19 16:40] SeanCurtis-TRI commented on #13337
Sure. Conceivable. But I still wouldn't bet on it.

[2020-05-19 17:50] hongkai-dai commented on #13285
I am adding the dual solution for each solver

- [ ] OSQP
- [ ] EqualityConstrainedQPSolver
- [ ] Snopt
- [ ] Ipopt
- [ ] Gurobi
- [ ] Mosek
- [ ] SCS
- [ ] CSDP

Some of the solvers don't provide a dual solution (like MobyLCP).

[2020-05-19 19:39] amcastro-tri opened #13350 "Update ForceElement APIs"
This work started in #13258.

Currently `ForceElement` APIs have a number of problems:
1. virtual `CalcFoo()` methods explicitly take cache entries. They should only take a context.
2. Scalar conversion should stop taking a MultibodyTree (now an `internal::`). This at the same time will disable the use of `MBT::get_variant()` which has the side effect of forcing authors to save indexes instead of

[2020-05-19 20:59] mitiguy opened #13354 "Tests needed for MultibodyPlant::CalcBiasSpatialAcceleration() and MultibodyPlant::CalcBiasTranslationalAcceleration()."
The tests for MultibodyTree::CalcBiasSpatialAcceleration() and MultibodyTree::CalcBiasTranslationalAcceleration() should be moved from multibody_tree_tests.cc to multibody_plant_jacobians_test.cc

This was labeled a TODO(Mitiguy) during PR #13063.
The goal of  PR#13063 was to make progress on issue #12140 and issue #12592.

[2020-05-20 00:54] TobiaMarcucci commented on #13285
Probably these are trivial observations... Just thought I could share my experience here.

I've been playing for a while with the dual solutions from Gurobi, and I remember I needed a lot of reverse engineering to understand the convention they use (e.g. sign of the multipliers). Nowhere in the docs they say how, e.g., the Lagrangian is defined. Moreover other solvers have other conventions. So th

[2020-05-20 00:59] hongkai-dai commented on #13285
Thanks Tobia!

I also observe that interpreting dual solution is hard, especially that for the same constraint, the dual variable can have different meanings in different solvers. I think maybe the easiest way to explain how to interpret the dual solution is through a jupyter notebook tutorial, where we can both explain it in text, and also the user can play with code blocks. What do you think?

[2020-05-20 01:10] sherm1 commented on #13291
Changing the sizes of states and ports without a model rebuild will be a substantial project touching several areas of Drake. @amcastro-tri proposed a smaller project that we could do more quickly and we want to see if this provides enough functionality that it would be worth doing first. This is my attempt to flesh out Alejandro's proposal; blame me for messing up the details. Please let us know

[2020-05-20 01:17] TobiaMarcucci commented on #13285
Yes, I think a Jupyter notebook would be great! Probably that's more appropriate than the Drake docs for explaining that?

I think that a Jupyter notebook with a mathematical program with many different constraints (e.g. inequalities in all directions etc.) to show what are the signs of the resulting multipliers would be super useful, especially for the ones that need to do some algebra with the d

[2020-05-20 02:49] mntan3 commented on #11648
Made a PR: https://github.com/RobotLocomotion/drake/pull/13359

[2020-05-20 04:47] #11648 closed

[2020-05-20 12:10] RussTedrake commented on #13291
I see the appeal, and it's very clever.  But I don't *think* that it addresses the primary request.  My impression of the request is mainly that people want to be able to add new (floating-base) bodies into the world.  For many cases, I think it would be relatively ok, albeit inelegant, to add them all at creation time and have them welded under the table and not contributing to any computational

[2020-05-20 16:09] jwnimmer-tri opened #13362 "Support Eigen vectors during if_then_else"
It's not uncommon to need to perform a symbolic `if_then_else` with a single `Formula` guarding two `Eigen::Vector<Expression>` operands.  We should add sugar for this case, and then clean up existing call sites to use it.

Current examples (hyperlinks to follow soon):
- math/rotation_matrix.h
- math/quaternion.h
- systems/primitive/discrete_derivative.cc

A simple grep for `if_then_else` does not

[2020-05-20 18:52] BetsyMcPhail commented on #12536
There is an [nbconvert issue](https://github.com/jupyter/nbconvert/issues/1066) that *may* have fixed this problem. It suggests to upgrade to:

**jupyter_client  5.3.4
ipykernel 5.1.2**

Currently, on Bionic:
**jupyter_client  5.2.2
ipykernel 4.8.2**

On Focal:
**jupyter_client  6.1.2
ipykernel 5.2.0**

On Mac, both Catalina and Mojave:
**jupyter_client  6.1.3
ipykernel 5.2.1**

[2020-05-20 19:45] avalenzu commented on #12257
Should we output an empty string for an empty vector? I could see that being easy to miss in console output.

[2020-05-20 19:47] avalenzu commented on #12257
An alternative would be to keep the empty vector output unchanged ("[]"), while removing the punctuation from non-empty vectors.

[2020-05-20 20:23] jwnimmer-tri commented on #13330
Well, this lacks a team label now so it crossed my radar in the daily check of the labels.

@EricCousineau-TRI it sounds to me like Sherm objects to re-purposing the issue to be the MbP docs improvements that it got scoped down to.  So I'll close it now, and ask you to re-file it as a dynamics issue with a differently-phrased top post for better clarity.

[2020-05-20 20:23] #13330 closed

[2020-05-20 20:33] EricCousineau-TRI commented on #13330
Sounds good, thanks!

[2020-05-20 21:01] sherm1 commented on #12257
The problem I wanted to resolve was the inconsistency between Eigen vectors and VectorBase vectors. If they behave the same way we can mix and match them in output. I _think_ Eigen vectors never output punctuation. So a user can write `std::cout << "[" << v << "]\n";` and get the same output without knowing whether v is and Eigen or VectorBase vector. And if both simply print nothing for a 0-lengt

[2020-05-20 21:04] avalenzu commented on #12257
Got it. I'll update the PR.

[2020-05-20 21:19] jamiesnape commented on #13102
Possibly hitting https://gcc.gnu.org/bugzilla/show_bug.cgi?id=80635.

[2020-05-20 22:34] EricCousineau-TRI opened #13368 "py math: Should bind UniformlyRandomQuaternion"
Currently not bound:
https://drake.mit.edu/doxygen_cxx/namespacedrake_1_1math.html#a6c92561b046b32c1ebe172bd32dc8276

Relates #12632

[2020-05-20 22:38] jamiesnape commented on #13102
GCC 9 really does not like `IsMemcpyMovable`.

[2020-05-21 02:23] jwnimmer-tri commented on #12867
We have initial work ready with [CommonSolverOption](https://drake.mit.edu/doxygen_cxx/namespacedrake_1_1solvers.html#ae07229124cd16e9d8b62fe359c7d0b40) defined.  Is the next step to make a checklist of all solvers and implement this feature on each one by one?  Once we have one example of an implementation (e.g., for snopt), it should be easy for the community to contribute more implementations f

[2020-05-21 02:28] hongkai-dai commented on #12867
Thanks for the reminder, I forgot I had the PR open.

I can resume working on this later. My understanding is that this feature is less urgent than getting the dual solution. I would like to finish the dual solution PRs first (to get dual solutions for Gurobi, Ipopt, Snopt and SCS). Please let me know if I need to change my workflow.

[2020-05-21 02:29] jwnimmer-tri commented on #12867
Fine by me.  I just stumbled into here through a keyword hit on a different issue.

[2020-05-21 14:26] amcastro-tri commented on #13131
I fell into this patter myself today. Concretely, I have a FooSystem that ideally would have access to all of MBP's APIs. Say I go around it by making my FooSystem to own a (cloned) plant, what about the context for that plant when I need to compute something? the system then would need to own its own plant context? what about caching? in this case there is an "original" MBP in the same diagram an

[2020-05-21 14:30] jwnimmer-tri commented on #13131
See #13307.

[2020-05-21 16:13] EricCousineau-TRI commented on #12536
Thanks! So for this route, we the options then are to:

1. Wait until we drop support for Bionic, since Focal and Homebrew
2. Vendor in `jupyter notebook` on Ubuntu (eww)
3. Try some other alt.

I think Option 1 makes the most sense. I will briefly tinker with 3.

FTR, I can generally reproduce these failures on my laptop (8 cores) by simulating "Jupyter overload" (in some runs, 1 / 200 fail, in o

[2020-05-21 16:17] mitiguy commented on #12140
PR# 13063 was merged and seems to address all the remaining items in this issue except for the method CalcBiasAngularAcceleration().  Thus far, that method has not been needed.  If it is needed, this issue can be re-opened or a new issue can be opened.

[2020-05-21 16:17] #12140 closed

[2020-05-21 16:20] sherm1 commented on #13131
Although this is somewhat dangerous, I think it addresses many practical cases where access to a peer subsystem's API is needed. (The "clean" way is to add a large assortment of very-narrow customizable output ports to the peer; that is a major yak shave for making a simple API call.) Peer access could be made fully transmogrifiable in the usual way by storing a SubsystemIndex rather than a pointe

[2020-05-21 16:33] mitiguy commented on #10664
This issue is closed as issue #12140 has been addressed with PR# 13036.
That issue and PR have to do with rename, notation, documentation, and code for CalcBiasSpatialAcceleration and CalcBiasTranslationAcceleration().

[2020-05-21 16:33] #10664 closed

[2020-05-21 16:43] EricCousineau-TRI commented on #12536
Tried tinkering with jupyter config, but still can't navigate that complex labyrinth to have it use the config and print out more debug info (to see if the config is correct, and it's truly the race condition):

https://github.com/RobotLocomotion/drake/compare/master...EricCousineau-TRI:issue-12536-repro (3189bc164a)

[2020-05-21 16:58] EricCousineau-TRI commented on #12645
Thanks! I've just ran through the examples and provided some feedback in the PR.

[2020-05-21 17:06] sammy-tri opened #13374 "Need better documentation for torque values on LCM systems"
Some systems which send/receive LCM messages (e.g. IiwaStatusSender, JacoStatusSender) have input/outputs for "torque" which have little to no documentation, and varying conventions based on the model of robot in use.

For example, consider a situation where an arm is reaching well outside it's center of gravity, such that joint[1] has a significant positive position value.  A force is applied to

[2020-05-21 20:43] EricCousineau-TRI commented on #13332
FTR Here's a piecemeal prototype; came from Anzu-reviewed code, but scrubbing Anzu bits and adding (code-breaking) TODOs:
https://github.com/EricCousineau-TRI/repro/blob/6e63acdedf16d1a3ac8ac31198468e6adeac1a5f/drake_stuff/multibody_plant_prototypes/generate_poses_sink_clutter.py

[2020-05-21 21:00] EricCousineau-TRI commented on #12645
@jamiesnape When you have a chance, per your prior comment:

Would you or Betsy have time to add a permalink link to the JupyterHub code which indicates that this is not possible?

[2020-05-21 21:05] jamiesnape commented on #12645
There isn't public code. It would be a server firewall configuration.

[2020-05-22 00:11] EricCousineau-TRI commented on #12645
Sorry; what I meant was if there's anything in JupyterHub's deployment configuration that might preclude additional ports. I understand that won't eliminate the possibility that Binder's hosts may place additional restrictions.

[2020-05-22 00:13] EricCousineau-TRI commented on #12645
And also, it would be nice to confirm beyond assumption.
Can you see if a similar question has been asked / answered in the [Binder forum](https://discourse.jupyter.org/c/binder), or in the [Binder docs](https://mybinder.readthedocs.io/en/latest/)?

[2020-05-22 00:14] EricCousineau-TRI commented on #12645
For example, it looks like you can run a Bokeh server through a proxy?
https://mybinder.readthedocs.io/en/latest/sample_repos.html?highlight=port#running-a-bokeh-server-with-binder

[2020-05-22 01:01] #13249 closed

[2020-05-22 03:28] jwnimmer-tri opened #13379 "Add dependency on pygame"
We landed `end_effector_teleop_sliders` (#10632) when Drake still supported python2 and python3, so we had CI coverage of the code in the python2 builds.  Since that point, we've dropped python2 support.  And so, this comment becomes relevant:

-- https://github.com/RobotLocomotion/drake/pull/10632#issuecomment-463290730

As far as I can tell from a quick look, we still have no pygame in Drake, an

[2020-05-22 03:43] peteflorence commented on #13379
Hey Jeremy, pygame is available in python3 from pip now!

On Thu, May 21, 2020 at 8:29 PM Jeremy Nimmer <notifications@github.com>
wrote:

[2020-05-22 04:05] jwnimmer-tri commented on #13379
Ah, yes; I see it at https://pypi.org/project/pygame/#files now.  We can see if the whl there works on Ubuntu 18.04.  I also see now that https://packages.ubuntu.com/focal/python3-pygame exists on Focal.  We'll have Focal CI up in a month or two; that could be another solution.

[2020-05-22 08:47] duythaomta commented on #2087
I ran the command: make -j2 and got this errror. Could you help me solve this errror. Thanks

make[2]: *** No rule to make target '/usr/lib/x86_64-linux-gnu/libGL.so', needed by 'lib/libopencv_viz.so.3.4.4'.  Stop.
CMakeFiles/Makefile2:6204: recipe for target 'modules/viz/CMakeFiles/opencv_viz.dir/all' failed
make[1]: *** [modules/viz/CMakeFiles/opencv_viz.dir/all] Error 2
make[1]: *** Waiting for

[2020-05-22 12:35] jamiesnape commented on #12645
The proxy looks interesting, though it would still need some moderate patching on the meshcat side if you can indeed proxy the server through tcp/8888 and forward that to tcp/443.

[2020-05-22 13:23] duanyutong opened #13382 "`PiecewisePolynomial` vectorisation and speed issues"
[Getting Help](https://drake.mit.edu/getting_help.html)?

When using `PiecewisePolynomial` in `pydrake`, the evaluation of the function via `.value(x)` does not take vector input. This is likely the reason why `drake` is roughly a factor of 200 slower than the same functionality in `scipy`. It would be useful to support numpy ndarray as `x`.

All piecewise cubic splines have degree 3 and order 4 b

[2020-05-22 13:29] amcastro-tri commented on #12203
The last time I wrote here was "thoughts?". Wondering if the solution I described above would not only suffice but be appropriate and, its probably simpler?
That is, if I build an InverseDynamicsController with a **full model of the world** when I just want to control an arm in it, how can I expect to get the right output/inputs? that is why my suggestion.

[2020-05-22 13:45] EricCousineau-TRI commented on #12203
In my mind, I think the solution you described above is more complex; why write yet another overload in MBP / the controller to do the same computation, but only on a subset, add complexity to your testing code, deprecations, etc., when all you really need to do is just copy over a subset?

Is it just ordering? There can be ways to guarantee that through MBP's construction, or just adding a basic

[2020-05-22 13:50] EricCousineau-TRI commented on #11648
FTR In convos with @jwnimmer-tri, and in writing a response in #13364, it would have been better to just bind it by value, rather than using an opaque class.

That being said, this current solution works, and thank y'all for identifying the root cause!

[2020-05-22 13:51] SeanCurtis-TRI commented on #13382
re: continuity

Generally, piecwise polynomials don't make any guarantees about continuity *between* the pieces. Thus, while a general cubic piecwise polynomial has C2 continuity *inside* each interval, it won't necessarily be continuous at the transition. `CubicWithContinuousSecondDerivatives` makes the strong promise that it [*will* be continuous over the breaks](https://github.com/RobotLocomoti

[2020-05-22 13:56] EricCousineau-TRI commented on #12645
Sweet! Moderate patching sounds wayyy better than re-architecting, esp. if the proxying gets us what we want!

Is it possible to queue that up to attempt with a Meshcat branch, say over the next month?

---

FTR, @rdeits was able to take some time to comment on this issue:
https://github.com/rdeits/meshcat/issues/67

@BetsyMcPhail On a separate thread, would it be possible to try Robin's suggestio

[2020-05-22 14:06] EricCousineau-TRI commented on #12257
@sherm1 I don't really understand your workflow. Why are comments an antithesis to your workflow? Or rather, why are you *losing* structure for being able to paste things to MATLAB?

FTR, I don't love the new string formatting in Python in #13365; it's `__repr__` is no longer code that can be copy+pasted.

If you want a text script that can help you process it, it's like ~3 lines of regex in Pytho

[2020-05-22 14:10] jwnimmer-tri commented on #12257
I'm ambivalent on what the C++ ostr format should be, but for pydrake we definitely want the repr-like string format to remain (with brackets and commas).

[2020-05-22 14:11] EricCousineau-TRI commented on #12257
Specifically:
https://docs.python.org/3.4/library/functions.html#repr

[2020-05-22 14:18] EricCousineau-TRI commented on #12257
Just to check, is there an open issue on this feature, or is it still in the works! Sounds great!

And for this workflow (printouts that are MATLAB-friendly), I believe there should be more site-specific customizations for this, rather than de-structuring the output in all of Drake.

[2020-05-22 14:23] duanyutong commented on #13382
A spline of order M on interval [a, b] by definition has (M-2) continuous derivatives on the entire interval [a, b], including at the knots. There are various texts/lecture notes that state this. Maybe in practice there are some bad spline solvers that aren't implemented properly and lack the continuity constraints? I understand that you'd like to emphasise the continuity which is fine.

To solve

[2020-05-22 14:25] SeanCurtis-TRI commented on #13382
True. But `PiecewisePolynomail` ≠ spline.

[2020-05-22 14:27] jwnimmer-tri commented on #12257
The monitor is [Simulator::set_monitor](https://drake.mit.edu/doxygen_cxx/classdrake_1_1systems_1_1_simulator.html#aa92bce4d4205f51b3b17bcaae09566f7).

[2020-05-22 14:27] EricCousineau-TRI commented on #8586
See some relevant discussion in:
https://github.com/RobotLocomotion/drake/pull/13384#issuecomment-632719916

[2020-05-22 14:28] EricCousineau-TRI commented on #12257
TIL, thanks!

[2020-05-22 14:30] amcastro-tri commented on #12203
That's exactly right. IMO is not that simple (yes, I can hack the code myself), but clearly not simple for most users who have expressed this being the biggest pain point. Designing a general solution to extract a sub-plant and the remap, for a final product in Drake, will require some thought (totally worth it!).

But again, I just think we are asking too much from the `InverseDynamicsController`

[2020-05-22 14:42] duanyutong commented on #13382
Understood. It leaves the average user wondering if `CubicWithContinuousSecondDerivatives == CubicSpline` or not. If so, maybe `PiecewisePolynomail.CubicSpline` would be a better name for the function to be consistent with the conventional name in literature, and the docstring can emphasise the continuity constraint.

[2020-05-22 14:48] EricCousineau-TRI commented on #12203
Can you expand on "asking too much"?

If you mean, "adding overload(s) for dealing with only a subset of the plant", then I am 100% on board with that statement!

[2020-05-22 14:53] SeanCurtis-TRI commented on #13382
I can certainly see that. Understanding the implications of the one function does depend on understanding the whole of `PiecewisePolynomial`.

However, it's not clear to me what the best way forward would be. Just calling it `CubicSpline` is ambiguous. Is it a Bezier spline? A bspline? Something else? Those two examples have significantly different semantics (and the latter can be given knots with

[2020-05-22 16:26] EricCousineau-TRI opened #13387 "py common: Binding `std::vector<T>` opaquely for `Value<std::vector<T>>` hurts bindings, should find alternative"
Hoisting this from:
https://github.com/RobotLocomotion/drake/issues/11648#issuecomment-632700236

Basically, there's a crap tonne of weird `pybind11` magic that can't be encapsulated in a function call; e.g. `PYBIND11_MAKE_OPAQUE`, as shown in @mntan3's awesome PR:
https://github.com/RobotLocomotion/drake/pull/13359/files

Rather than requiring that `Value<std::vector<T>>` be bound opaquely for *e

[2020-05-22 16:30] EricCousineau-TRI opened #13388 "py common: `Value<Eigen::Matrix<...>>` hurts bindings, should find alternative"
This is an issue split off from https://github.com/RobotLocomotion/drake/issues/13162

Will be addressed once I get back to (some form of) this PR:
https://github.com/RobotLocomotion/drake/pull/13166

Requires:
- [ ] https://github.com/RobotLocomotion/drake/issues/13396

\cc @SeanCurtis-TRI @jwnimmer-tri

[2020-05-22 16:43] jwnimmer-tri commented on #12257
If nothing else, the current pydrake unit test was not clear enough to Drake maintainers that the exact string output under test was important as a golden answer, and should not be changed (at least not without consulting the SMEs).  We will need to improve the clarity of the test.

[2020-05-22 16:45] EricCousineau-TRI commented on #12257
Duly noted. The intricacies of adhering to `__repr__` should also somehow be made common knowledge.

[2020-05-22 16:52] EricCousineau-TRI commented on #8586
Also, important when unittesting:
https://github.com/RobotLocomotion/drake/issues/12257#issuecomment-632794480

[2020-05-22 16:54] sherm1 commented on #8586
It's not clear to me that we want the same formatting for these objects in pydrake and C++ drake. So would a `to_string()` method solve the problem? Do we need a `to_python_string()`? I expect we want Eigen-like formatting in C++ and Numpy-like formatting in Python.

[2020-05-22 17:19] sherm1 commented on #13382
Assigning this to you for now @ToffeeAlbina-TRI for disposition.

[2020-05-22 18:08] BetsyMcPhail commented on #12536
I agree that 1. seems reasonable.

[2020-05-22 18:12] BetsyMcPhail commented on #12645
Sounds like a good plan - within the next 2 weeks should be doable.

[2020-05-22 22:02] EricCousineau-TRI opened #13391 "Dropping Ubuntu 18.04 (Bionic) support"
From Slack: https://drakedevelopers.slack.com/archives/C2NN588UA/p1590171002083800

Tentative date is ~October 2021~ _early 2022_. May change.

Marginally relates #13102

[2020-05-22 22:03] EricCousineau-TRI commented on #12536
Filed #13391, which is a prereq for this.

[2020-05-23 19:05] EricCousineau-TRI commented on #12749
@mposa From looking at y'all's code in [dairlib](https://github.com/DAIRLab/dairlib/tree/5520e9f5c6345d161eed0c81ce4707e1d459ca9b), would y'all be a potential consumer of this, were it to happen?

(It would hurt target granularity, esp. if you have your own Drake version; however, it would kinda simplify stuff like ODR stuff with Python bindings.)

[2020-05-23 19:12] mposa commented on #12749
If I understand, then yes we would be happy consumers. To get pybind working with our code, we had to throw out Drake dependency granularity (everything now depends on all of Drake), so if we could avoid having to compile Drake I'm guessing it would massively improve our compile times (except in the rare cases where someone's tinkering with Drake).

[2020-05-23 21:35] cjds opened #13393 "Why is the default clang version 9 and how do you install it?"
@jamiesnape since you made the change you probably have an opinion
Using drake externally on master in a bazel project

This change https://github.com/RobotLocomotion/drake/commit/808d61a49999737523aaeb87a753f3bd5ee16d52 broke our build in this way because we do not have clang format 9 installed. Why is it defaulted to clang format 9 and are there instructions on how to install it?

[code]

My `cl

[2020-05-24 03:19] jwnimmer-tri commented on #13393
In the latest release notes at https://drake.mit.edu/release_notes/v0.18.0.html#build-system-and-dependencies we have:

... which has links to the PRs in question.  In particular #13260 shows the changes to the setup scripts for Ubuntu.

For any builds of Drake from source, as noted in https://drake.mit.edu/from_source.html#mandatory-platform-specific-instructions we expect that users run https://

[2020-05-24 06:45] cjds commented on #13393
Gotcha. I didn't know I had to run the `prereq_install.sh` script regularly if I want to keep on master. Thanks for the info

[2020-05-24 06:45] #13393 closed

[2020-05-24 10:33] #12253 closed

[2020-05-25 18:46] sherm1 opened #13395 "Should decouple Pydrake vector formatting from C++ formatting"
#### Background
C++ Drake uses Eigen vectors while Pydrake uses Numpy vectors. Eigen and Numpy have different output formatting conventions. Drake also defines composite vector type VectorBase (and BasicVector) which are visible both in Drake and Pydrake. In C++ we would like output formatting for those (using `operator<<()`) to follow Eigen conventions while in Pydrake we'd like them to follow Nu

[2020-05-25 19:47] EricCousineau-TRI commented on #13395
Marginally relates #8586

[2020-05-25 20:35] EricCousineau-TRI opened #13396 "common: Should teach `Value<>` to only physically store certain types of `Eigen::Matrix<>`"
Acute C++ issue that feeds into #13388
Splitting off issue from:
https://github.com/RobotLocomotion/drake/issues/13162#issue-608546634
https://github.com/RobotLocomotion/drake/pull/13166#issuecomment-633704111

I am currently struggling between these two solution paths:

1. Teach `Value<T, enable_if_t<is_eigen_type_v<T>>>` to redirect to `Value<SimplifiedEigenType<T>>`. However, `get_value`, `get_

[2020-05-26 00:40] sherm1 commented on #13296
Any fix for this problem needs to address these needs:
- During `Initialize()`, but not `AdvanceTo()`, scheduled events whose schedule includes _current_time_ should trigger.
- Under all circumstances, unscheduled events that must occur _right now_ should trigger (that's what the Lcm system overrides do when a message arrives).
- The _right now_ events should not preclude scheduled events at the s

[2020-05-26 12:04] jwnimmer-tri commented on #13396
Certainly (1) is a non-starter.  Value has to be **fast**.

[2020-05-26 12:34] jamiesnape commented on #13102
First yellow build: https://drake-jenkins.csail.mit.edu/job/linux-focal-unprovisioned-gcc-bazel-experimental-release/55/ (https://github.com/RobotLocomotion/drake/pull/13385)

[2020-05-26 14:58] EricCousineau-TRI commented on #13387
Working on this now, should have solution shortly.

[2020-05-26 15:21] jamiesnape commented on #13102
Looks like the clang part of the python documentation extraction/transformation is failing (though not causing a build error, slightly worryingly).

[2020-05-26 20:12] EricCousineau-TRI commented on #13387
Solution posted: #13407

[2020-05-26 20:27] EricCousineau-TRI commented on #7889
Just as an FYI:
Had a chat with @rwgk a few days ago; he mentioned that he may pick up work again on PyCLIF to have it use pybind11, possibly switch over to [tree-sitter](https://github.com/tree-sitter/tree-sitter) if it's faster for AST parsing / C++ introspection, and is consider using [pytype](https://github.com/google/pytype) as a Pythonic way of specifying a C++ interface (rather than `*.pyi`

[2020-05-26 20:47] jamiesnape commented on #7889
What features in particular do you like in CLIF? Obviously, I am biased, but writing out all detail in the `.clif` files (or their replacement) is a little more work for the developer than I would like, though obviously more control.

[2020-05-26 21:14] mitiguy commented on #13354
Part of issue #13354 was addressed by PR #13390 (thanks to Alejandro).
Another part of that issue is being addressed by PR #13411.
A possible easy-to-use test to enable a relatively simple closed-form check for upcoming issue #12592 will be evaluated for its utility as PR #13406.

[2020-05-26 21:19] sherm1 commented on #13021
@joemasterjohn should this issue be closed now?

[2020-05-26 21:45] #13379 closed

[2020-05-26 22:17] EricCousineau-TRI commented on #7889
It's not that I particularly like CLIF in it's current incantation (for the same reason as you mentioned - indirection via interface files). But wanted to record the convo and some related technologies.

[2020-05-27 00:51] joemasterjohn commented on #13021
Yes, this issue is resolved by #13255.

[2020-05-27 00:51] #13021 closed

[2020-05-27 01:28] jwnimmer-tri opened #13416 "MultibodyPlant set_penetration_allowance pre-finalize"
It's cumbersome to have to wait to call `MultibodyPlant::set_penetration_allowance` until `Finalize` is done.  If I want to tweak plant defaults, I should be able to do that just after I create it, not somewhere far away in the code just before I start to create my simulator.

https://github.com/RobotLocomotion/drake/blob/2b70de6f5114f74dde94f387f3e6591d1f687cb2/multibody/plant/multibody_plant.cc#

[2020-05-27 05:23] sherm1 commented on #13416
Sounds like a good idea, but FYI this is currently being reworked per #13064 #13289 #13371 to allow per-geometry parameters.

[2020-05-27 14:24] SeanCurtis-TRI commented on #13396
I agree with @jwnimmer-tri .

Certainly (2) is viable. And as for sites like `GeometryProperties` that want to opt into faking the storage of fixed size vectors, can we wrap all of that functionality into some utility class that they can simply reuse? (With the caveat that, today, that may be `GeometryProperties` itself with the possibility of hoisting it out of `geometry` if other classes in the

[2020-05-27 14:26] jwnimmer-tri commented on #13396
=> PR #13398 already has some discussion for the solution path.

[2020-05-27 15:33] SeanCurtis-TRI commented on #13387
BTW This issue seems to serve for you as a work-tracking ticket. However, it provides very little insight for future developers. Could you extend the original comment to describe the "hurt" as that may better enable other developers to better contribute in this regard. Otherwise, it's all trapped inside your mind.

[2020-05-27 16:51] sherm1 commented on #13387
To second Sean's comment, I am worried by this and #13398 that the straightforward abstraction represented by AbstractValue is being compromised unnecessarily. I understand that we may need to restrict our use of that abstraction in some cases to avoid trouble with pybinding, but that should not affect a user who is working only in C++ and might want to make ports or cache entries containing types

[2020-05-27 16:55] jwnimmer-tri commented on #13387
As shown by the above-linked PR #13407, there is a solution that still permits type-erasing `std::vector<>` by adjusting how the pybind adaptation is formulated.  The plan is **not** to exclude `std::vector<>` as a port or cache entry type.

[2020-05-27 17:43] EricCousineau-TRI commented on #13387
Reworded to focus on bindings, not `Value<>`.

[2020-05-27 19:23] #11706 closed

[2020-05-27 20:46] EricCousineau-TRI commented on #13309
If possible, I would like to request that hard-coded paths be hoisted to top-level constants, easy to discover if possible, and easy to hack with (with standard disclaimer of at-your-own-risk).

Example workflow:
https://github.com/RobotLocomotion/drake/pull/13027#issuecomment-611809521

[2020-05-27 21:04] jwnimmer-tri commented on #13309
Would a `local_repository_override` parameter meet the need?  That would allow for a certain uniformity across different rule types.

Example for github archives:
https://github.com/RobotLocomotion/drake/blob/6a068e39a6e4893b53058caf0a812403dd6c3831/tools/workspace/github.bzl#L40-L43

[2020-05-27 21:29] EricCousineau-TRI commented on #13309
I think so, as long as it can affect all occurrences of the Python interpreter; I'm guessing you could do that by generating a Skylark file with that macro, and then pull it back out?

[2020-05-27 22:10] jamiesnape opened #13426 "Switch to libclang-9-dev on Linux"
There are various bugs related to using older clang versions with newer libstdc++ versions, e.g., https://bugs.llvm.org/show_bug.cgi?id=31852, https://bugs.llvm.org/show_bug.cgi?id=33222, which impact Focal. In particular, we see issues with `std::optional` when using `libclang-6.0.so` to extract the C++ Doxygen comments in order to create the Python documentation. `libclang-9.so` is the most rece

[2020-05-28 01:01] jwnimmer-tri commented on #13309
Ah, I see now.  I think you are talking about python interpreter paths, not pkg-config paths.  This issue is just about pkg-config.

However, I think you're right in any case that if more info about the python interpreter ends up being hard-coded, we should be sure there's a mechanism to adjust it for experimentation.  But I think as long as we follow DRY like we usually do, the places to adjust f

[2020-05-28 04:11] EricCousineau-TRI commented on #13309
Sounds good. Sorry to clutter the scope, just hopped through the philosophical link from #13400.
Thanks!

[2020-05-28 13:27] jwnimmer-tri commented on #13047
Calling this a duplicate of #7654, we'll remove the instructions.

[2020-05-28 13:27] #13047 closed

[2020-05-28 13:29] jwnimmer-tri commented on #12483
My reading of the above thread is that this issue is "WONTFIX".  Per #7654 we will remove the build-your-own Docker, and making Docker Hub work is not-trivial.  We should focus on other visualizers in this context, I believe.

[2020-05-28 13:29] #12483 closed

[2020-05-28 13:30] jwnimmer-tri commented on #13320
Eric is working on the PR for this, so changed assignment.

[2020-05-28 13:59] jwnimmer-tri commented on #7654
I've kicked this to @jamiesnape to work on soon, before apt package work starts.  We can open a feature request later to add more hub images for different use cases, etc.

[2020-05-28 14:07] jwnimmer-tri commented on #12878
@EricCousineau-TRI Can do speak to whether 1.17.4 on Focal is sufficiently new to give us the `matmul` support that we need?

If yes, I'm tempted to say the answer here is just "Use Focal or macOS", and leave Bionic undisturbed.

[2020-05-28 14:27] jwnimmer-tri commented on #13416
Hopefully those are also configurable pre-Finalize!

But for the record, in the meantime @amcastro-tri has said in slack that he can do this change sooner than that rework.

[2020-05-28 14:36] ToffeeAlbina-TRI commented on #12536
@EricCousineau-TRI should we just close this as won't fix?

[2020-05-28 14:51] jwnimmer-tri commented on #12783
Per f2f -- first steps will be along the lines of #13168, trimming and clarifying our list of dependencies.

[2020-05-28 15:09] EricCousineau-TRI commented on #12878
From looking at the tags including this NumPy commit, yes, it looks like NumPy>=1.17.0 will have `matmul`:
https://github.com/numpy/numpy/commit/8bf8d28fefba9743f7c2c9a7b2fda827c17fefbc

So yes, I'm more than happy with that resolution!

[2020-05-28 15:10] EricCousineau-TRI commented on #12878
Would you like me to close this now, or wait til we have CI support for Focal? #13102
https://drake-jenkins.csail.mit.edu/view/Linux%20Focal/

[2020-05-28 15:12] jwnimmer-tri commented on #12878
I think my vote is to resolve this as duplicate of #10461 (and possibly pasting some of this consensus there).  That issue is the outcome we objectively care about.

It's probably worth prototyping the matmul solution once Focal is slightly more blue; within the next two weeks or so, I expect it to get added to Production CI.

[2020-05-28 15:25] jamiesnape opened #13434 "Use clang 9 as the supported clang compiler on bionic and focal"
Clang is 9 is the most recent clang available in both distributions and is the most similar clang to the currently supported compiler on macOS.

Relates #13102, #13236, and #13426.

[2020-05-28 15:42] EricCousineau-TRI commented on #12878
SGTM. Resolution is this comment and the one below: https://github.com/RobotLocomotion/drake/issues/12878#issuecomment-635372227

Closing as duplicate of #10461, will post there.

[2020-05-28 15:42] #12878 closed

[2020-05-28 15:56] EricCousineau-TRI commented on #12536
Sure.

[2020-05-28 15:56] #12536 closed

[2020-05-28 17:02] EricCousineau-TRI commented on #12645
Per convo with @ToffeeAlbina-TRI, I've updated the overview, enumerating some of the potential solutions discussed here.

At present, if we can do port-forwarding on Binder, then `meshcat` may be the lowest-energy solution.
Alternatively, we can static HTML rendering, recording the animation (like `PyPlotVisualizer`).
Failing that, then making tooling around `itkwidgets.js` / `vtk.js` / `three.js`

[2020-05-28 17:18] jwnimmer-tri commented on #6124
@EricCousineau-TRI I'm not sure what additional action we should anticipate under the umbrella of this issue?  Is there more we should do, or should we close this issue?  We have a few other issues open about handling model assets via `RobotLocomotion/models`, so I'm not sure what else we anticipate here.

[2020-05-28 17:19] jwnimmer-tri commented on #6971
@EricCousineau-TRI could I convince you to close this as "not a current pain point"?  It doesn't seem likely to be actively worked anytime soon.

[2020-05-28 17:53] EricCousineau-TRI commented on #6124
I'd like to move for keeping this open for 2 months. I'd like to come back to this and prototype using `external_data` from Drake, mainly to see if it does anything for pain points.
(My issue about the "install story" seems moot now; for now, we just shrug and install prod models normally.)
I don't care if we end up using `external_data`, but it's just a means to test.

I've set a calendar item fo

[2020-05-28 18:02] jwnimmer-tri commented on #6124
If the only further action is you doing some personal testing, then it seems more suitable to keep that in your personal TODO list instead of the team's collaboratively-maintained TODO list.  On the other hand, we've kept this open for several years without any change, so I can't really object to another two months, either.

[2020-05-28 21:08] EricCousineau-TRI commented on #13396
Sorry for not posting integration WIP PR here; the final result could look like:
https://github.com/RobotLocomotion/drake/pull/13160

Specifically, `Value[VectorX[T]]`:
https://github.com/RobotLocomotion/drake/blob/1c6fbbe8969ea3772218b2e45602dab1b4561191/bindings/pydrake/common/test/value_test.py#L100-L120

[2020-05-28 23:18] hzyjerry commented on #13251
I am very interested in this for my research. Would love to see progress on it :)
Also happy to chat more and potentially contribute.

[2020-05-28 23:49] EricCousineau-TRI commented on #6971
Yup!

[2020-05-28 23:49] #6971 closed

[2020-05-28 23:49] EricCousineau-TRI commented on #6971
(well, it is still kind of a pain point, but not a huge pain point)

[2020-05-29 00:13] sherm1 opened #13439 "Periodic events don't work at negative times"
Soliciting thoughts on this:

In PR #13061 @RussTedrake enabled our integrators to work even with time t < 0 (though still moving forward only). However, periodic events are defined to issue only for times `tₙ = offset + n * period` with offset, period, and n all ≥ 0. This has the effect that periodic events are disabled until t ≥ offset. Russ says he was expecting that periodic events would still

[2020-05-29 00:44] jwnimmer-tri commented on #13439
Surveying the uses of periodic events in Anzu, I see these use cases for periodic events in evidence:

Type | Offset | Dual-sided | Purpose
-----|--------|------------|-------
publish | 0 | yes | telemetry / logging
discrete update | 0 | yes | dynamics / control
unrestricted update | positive constant | no | a kind of requirements monitor that is disabled during a warm-up period

In the "dual-side

[2020-05-29 02:06] EricCousineau-TRI commented on #13396
Per discussion in #13398 and #13440, will close this.

Summary is:
Since we can provide a (meaningful) token to represent each vector / matrix type, we shouldn't necessarily prevent; see comment here for what associations are possibly between C++ and Python (without needing concrete `typeid` registration, as is done with `std::vector<T>` and `List[T]`):
https://github.com/robotlocomotion/drake/pul

[2020-05-29 02:06] #13396 closed

[2020-05-29 02:07] EricCousineau-TRI commented on #13388
Closing this per resolution here:
https://github.com/RobotLocomotion/drake/issues/13396#issuecomment-635714293

[2020-05-29 02:07] #13388 closed

[2020-05-29 02:08] EricCousineau-TRI opened #13442 "geometry: GeometryProperties should use Rgba(Color), not Vector4d"
Stemming off of these issues:
https://github.com/RobotLocomotion/drake/issues/13396#issuecomment-635714293
#13388

Basically, `Vector4d` isn't very expressive, doesn't say much about the structure, etc.
Also, it did provide some pain points in bindings.

I'll take this on for hacking together initial class / usage, and then @SeanCurtis-TRI I may pass it on to you for the rest?
(Or happy for anothe

[2020-05-29 02:09] EricCousineau-TRI commented on #13442
Also stemming off of root issue, #13162

[2020-05-29 04:54] EricCousineau-TRI opened #13445 "mbp + geometry: Geometries registered with SceneGraph and not MBP w/ role==kProximity don't get picked up for simulation collision in MBP?"
## Reproduction
Ran into this into some subgraph protoype code here:
https://github.com/EricCousineau-TRI/repro/blob/b2d7f668ed1b5a757b984c54845b78a56e991d5b/drake_stuff/multibody_plant_prototypes/multibody_plant_subgraph.py#L473-L491

Basically, if I register a collision with `MultibodyPlant.RegisterCollisionGeometry`, I'm golden.
However, if I instead register the collision with `SceneGraph.Regi

[2020-05-29 04:54] EricCousineau-TRI commented on #13445
Tentative assignment for now!
\cc @SeanCurtis-TRI

[2020-05-29 05:09] EricCousineau-TRI opened #13446 "visualization: Director's depth buffer resolution suffers when object is falling towards -inf"
## Problem / Repro

See Slack convo for more details:
https://drakedevelopers.slack.com/archives/C43KX47A9/p1590702219060700

Andy's report:

Repro code:
https://github.com/EricCousineau-TRI/repro/commit/b2d7f668ed1b5a757b984c54845b78a56e991d5b

## Root Cause

@patmarion's answer:

https://www.khronos.org/opengl/wiki/Depth_Buffer_Precision
A fix would be to insert some python code to set fixed nea

[2020-05-29 13:25] amcastro-tri commented on #13445
I believe #13371 could actually solve your problem. Could you verify @EricCousineau-TRI ? essentially that PR gets rid of MBP's internal bookkeeping `collision_index_`.
Towards #13064, which'd allow specifying all contact properties trough ProximityProperties, which I believe is exactly what you want.

[2020-05-29 14:08] jamiesnape commented on #12483
Should I remove `drake-visualizer` from the prebuilt Docker images to avoid future disappointment and support requests.

[2020-05-29 14:19] EricCousineau-TRI commented on #13446
Copying from PR review: https://github.com/RobotLocomotion/drake/pull/13447#pullrequestreview-420998914

[2020-05-29 14:28] EricCousineau-TRI commented on #12483
I don't really support the idea of actively removing components from a simple deployment process, so my opinion is no. But that's just me.

[2020-05-29 14:30] jamiesnape commented on #12483
If it is broken, why keep it? If we distribute it, we need to support it.

[2020-05-29 14:31] jwnimmer-tri commented on #12483
Instead of removing files, I think failing faster or providing a diagnostic would be superior.  Removing a file leads to potential user confusion about why it is missing.

The awkward version of that would be to rename `drake-visualizer` to `drake-visualizer.image` and add `drake-visualizer` as a stub that just prints a cautionary note with a citation to the renamed file in case the user is feelin

[2020-05-29 14:59] SeanCurtis-TRI commented on #13446
For the record, "falling away to -inf" is merely one special case. More generally, as the bounding box of the scene elements increases in volume, that leads to "eroding" clipping planes.

[2020-05-29 16:17] sherm1 commented on #10991
TIL with some relief that thread local storage is (allegedly) [as fast as local storage](https://stackoverflow.com/questions/2459692/linuxs-thread-local-storage-implementation). That bodes well for a possible AutoDiffScalarX implementation that maintains its own pool of temporaries.

FYI @rpoyner-tri please see the above discussion.

[2020-05-29 17:22] amcastro-tri commented on #13416
Resolved in #13435.

[2020-05-29 17:22] #13416 closed

[2020-05-30 03:59] #13387 closed

[2020-05-30 17:18] #13446 closed

[2020-05-30 20:57] #13069 closed

[2020-05-31 04:39] mposa opened #13457 "Accelerometer and Gyroscope sensors"
Since attic/ is being deprecated, we will need MBP-friendly implementations of IMU sensors. It's on our todo list, unless someone wants to tackle it first.

[2020-05-31 19:52] EricCousineau-TRI opened #13459 "mbp: Can MultibodyPlant::CalcAppliedForces be public?"
Per @mposa's request on Slack:
https://drakedevelopers.slack.com/archives/C2WBPQDB7/p1590954111154700

Looking at the interface, seems pretty reasonable?
Will make a quick PR. May punt to another person if it becomes nontrivial ;)

[2020-05-31 21:52] sherm1 commented on #13457
Do you want just ground truth spatial acceleration results, or a real device simulation?

[2020-06-01 11:59] amcastro-tri commented on #13459
Thanks @EricCousineau-TRI and @mposa.
The discussion on Slack doesn't say (at least to me) why the already available `MBP::CalcForceElementsContribution()` doesn't solve the particular problem. @mposa, could you expand on this? or @EricCousineau-TRI if you happen to have had that conversation.

[2020-06-01 18:10] jwnimmer-tri opened #13465 "Design of input (not parameter) for no-op IIWA command"
From #13340:

@siyuanfeng-tri writes:

[2020-06-01 18:11] jwnimmer-tri commented on #13465
I'll admit I don't follow the concern; @sammy-tri do you understand?

[2020-06-01 18:14] #13426 closed

[2020-06-01 18:59] EricCousineau-TRI commented on #7718
I'm going to close this for now and say that binding automation is the correct way to go (#7889)

[2020-06-01 18:59] #7718 closed

[2020-06-01 20:57] #13395 closed

[2020-06-01 22:36] calderpg-tri opened #13471 "Parsing drake:collision_filter_group does not work for multiple model instances"
When building a plant with multiple copies of a robot model (each in its own model instance) containing `drake:collision_filter_group` in the URDF (such as the [Panda arm](https://github.com/RobotLocomotion/drake/blob/master/manipulation/models/franka_description/urdf/panda_arm.urdf#L599)), the parser will throw with error
[code]

[2020-06-01 22:41] sherm1 commented on #13131
@RussTedrake is using the cache to hold a mutable "other" context good enough that we can close this issue with that as a best practice? Or do we need to provide something else?

[2020-06-01 23:47] sherm1 commented on #12652
@rcory in view of @jwnimmer-tri's comment above do you think these are still needed?

[2020-06-02 00:27] sherm1 commented on #12674
Related: #11351

[2020-06-02 00:42] sherm1 commented on #12674
Q: A connected (not fixed) input port whose value is currently up to date could also become a fixed input port in the destination without requiring System help (that is, with just the source Context). Should it be?

[2020-06-02 00:58] sherm1 commented on #9669
@jwnimmer-tri should this issue still be open? If so maybe replace with a narrower one?

[2020-06-02 00:58] RussTedrake commented on #13382
Just saw this.

We already have the vectorized method:  https://drake.mit.edu/doxygen_cxx/classdrake_1_1trajectories_1_1_trajectory.html#a7607cc5c56514557ed9441479ae70e71

`PiecewisePolynomial` is absolutely a more general class than trajectories with continuous derivatives.  The names we have chosen, though verbose, were chosen precisely to prevent the confusion you expressed.  Indeed, there are

[2020-06-02 00:58] #13382 closed

[2020-06-02 01:04] RussTedrake commented on #13131
I think the pattern used in the updated Luenberger observer is the right pattern, but it still has a major limitation.  We cannot (in practice) perform scalar conversion on a system implemented using this pattern, until we resolve #13313.

I am ok if we close this given this breadcrumb, but #13313 is important.

[2020-06-02 01:04] #13131 closed

[2020-06-02 01:11] jwnimmer-tri commented on #9669
The additional checking mentioned above is not yet implemented; the WIP branch is https://github.com/jwnimmer-tri/drake/tree/fix-error (and some of those PRs linked about).  I am content to keep using this issue as the discussion point and keep it open.

I have lowered the priority to `low` though -- the size mismatch was probably a bigger headache than the subtype checking.

[2020-06-02 01:11] #13471 closed

[2020-06-02 03:17] EricCousineau-TRI opened #13473 "py mbp: Should bind `pydrake.multibody.optimization`"
See:
https://github.com/RobotLocomotion/drake/tree/master/multibody/optimization

@rpoyner-tri Is this something that you might be interested in taking turns at?

Suggested order:
- [ ] (Eric) `StaticEquilibriumConstraint`
- [ ] (Rico) `ManipulatorEquationConstraint`
- [ ] (Eric) `ContactWrenchEvaluator` + `ContactWrench`
- [ ] (Rico) `StaticFrictionConeConstraint`
- [ ] (Eric) `AddSlidingFriction

[2020-06-02 04:23] sherm1 commented on #12257
Fixed by #13365 (reverted, then resurrected as #13464).
Thanks Andrés and Eric!

[2020-06-02 04:23] #12257 closed

[2020-06-02 13:16] SeanCurtis-TRI commented on #12674
This presumes copying a sub-context of a larger diagram? It seems to me that it should be parameter-controlled. It's easy to lose track of what context you have and what context it exists. So, someone cloning a sub-context by accident (mistakenly believing that they've done the right thing), but "succeeding"  in some sense seems unfortunate. But a user who knows they are cloning a sub-system and s

[2020-06-02 13:20] sammy-tri commented on #13465
Maybe...  I believe the concern is what the `InverseDynamicsController` will do if an external force acts on the arm before the first command is received?

[2020-06-02 13:22] jamiesnape opened #13475 "Fetching drake-apt repository fails due to expired root certificate issue"
[code]

Due to https://support.sectigo.com/articles/Knowledge/Sectigo-AddTrust-External-CA-Root-Expiring-May-30-2020.

The root cause also impacts the following:

* https://drake-cdash.csail.mit.edu
* https://drake-girder.csail.mit.edu
* https://drake-homebrew.csail.mit.edu (relates https://github.com/RobotLocomotion/homebrew-director/commit/81d36f6a99d1d3367513e6cac333a096d5cf18bb and https://git

[2020-06-02 13:44] jamiesnape commented on #13102
GCC debug builds are broken with at least one `-Werror=sign-compare`.

[2020-06-02 13:45] siyuanfeng-tri commented on #13465
let me try again after the meetings... but can you check this really quick? just let a iiwa sim (start from q = 0s) running for a while without giving it a lcm command message. i think the arm will eventually collapse into a weird configuration, and if you open up iiwa status, the commanded q is chasing the measured q.

[2020-06-02 14:39] mposa opened #13476 "Force element contributions"
There is currently no easy way to calculate the contributions of all force elements as a generalized force (net force in generalized velocity coordinates).

`plant.CalcForceElementsContribution` seems closest to this use case, but it separates out what I think of as generalized forces into two terms:

- generalized forces (for a some forces)
- body forces (for others, including gravity)

Per a con

[2020-06-02 15:48] #13296 closed

[2020-06-02 16:45] amcastro-tri commented on #13476
Let me add that the confusion stems from the fact that `CalcForceElementsContribution()` stores the result in a `MultibodyForces`. Unfortunately it wasn't clear for @mposa that the raw result as obtained with `MultibodyForces::generalized_forces()` is not what he wanted. This is clearly a defect to be addressed.

IMO the problems are:
- Users should not call `MultibodyForces::generalized_forces()`

[2020-06-02 16:57] duanyutong commented on #13382
Thanks for pointing to the `vector_values` function.

It is still over 10 times slower than scipy. Also note how my samples below are of shape `m x n` but I had to take its transpose. This is in contradiction to the doc which states that breaks are `m x 1` and samples are `m x n`. Here samples have to be `1 x m`.

![image](https://user-images.githubusercontent.com/865317/83546779-343fbf80-a4cf-11e

[2020-06-02 17:17] sammy-tri commented on #13465
The robot definitely moves when started in a non-zero configuration and left with no command being sent...   but not much.  After 10 minutes of sim time the highest joint velocity I've seen is somewhere around 3e-5, and the joint which has moved the most is about 0.015 radians from it's starting position.  I suspect if an external force were applied this would be more significant.

So I tried drop

[2020-06-02 17:25] jwnimmer-tri commented on #13465
I guess whether the movement is small or large, it's still different than what the `kuka_driver` + control cabinet does, then?  Where does the state live in real life live -- in the `kuka_driver` check of `utime == -1`?  It sounds like we should model that in sim as well.  Luckily we don't need an API change -- we can have the receiver latch the initial position until a transmitted command comes i

[2020-06-02 17:28] sammy-tri commented on #13465
That's effectively what the driver does in real life.  When FRI enters the "command" phase (which is really the driver's first chance to do anything) it latches the current position and continues commanding that until the `utime == -1` check is no longer true.

[2020-06-02 17:29] sherm1 commented on #12674
The most common use I've seen (my visibility is low on this though) is to copy a whole Context after transmogrification. (The method copies a `Context<U>` into a `Context<T>`.)

[2020-06-02 17:46] amcastro-tri opened #13480 "Update Coulomb friction plot label"
A (late) follow up to #13463.

I just realized we must update the label of the x axis [here](https://github.com/RobotLocomotion/drake/blob/a58cf34fbcad1c6f7fc43a42289a0b6775bdcaf4/multibody/plant/images/ideal_stiction.py#L22).

Where it says "Pushing Force (N)", it should say "Sliding velocity (m/s)".

Nit, I'd also advocate for square brackets to place units.

[2020-06-02 18:03] jamiesnape commented on #13102
Apparently GCC 9 dislikes the comparison operators in `TypeSafeIndex`.

[2020-06-02 18:16] EricCousineau-TRI commented on #13480
Simple issues should really have one owner, otherwise accountability is super unclear.
Taking myself off for now ;)

Also, I think in the time it took you to write this issue, you could have written the PR + motivation yourself ;)

[2020-06-02 18:26] jamiesnape opened #13482 "Comparison operators in TypeSafeIndex trigger GCC 9 sign-compare warning"
For example, from https://drake-jenkins.csail.mit.edu/job/linux-focal-unprovisioned-gcc-bazel-experimental-debug/1/:
[code]

Relates #13102. FYI @jwnimmer-tri @SeanCurtis-TRI.

[2020-06-02 19:02] jwnimmer-tri commented on #13482
Most look like `size_t` coming from std collection `.size()`.  I suggest that the unsigned => int conversion be abstracted into a helper, that all of `==`, `!=`, `<` etc. invoke to convert the U-typed unsigned value into something to compare with `this`.

[2020-06-02 19:24] EricCousineau-TRI commented on #13442
@SeanCurtis-TRI I've added you for the new part (4b) - that cool?
![image](https://user-images.githubusercontent.com/26719449/83561011-1bda9f80-a4e5-11ea-825f-f33fd659c580.png)

[2020-06-02 19:31] SeanCurtis-TRI commented on #13480
And given where the code lives, this really feels like you should be the owner.

[2020-06-02 19:47] EricCousineau-TRI commented on #13480
Went ahead and did it anywho. It took me 30sec.
@amcastro-tri Would really love it if in the future you made the smaller changes yourself ;)

[2020-06-02 20:30] SeanCurtis-TRI commented on #13482
I don't think the solution is casting `U` to "this", but to convert the maximum value of `this` to `U`. For example:

[code]

If `sizeof(U)` is bigger than `sizeof(int)`, then things get nicely promoted there and we can detect `size_t` values that would otherwise truncate into a *lie* if we cast the other way.

If `sizeof(U)` is smaller, then we end up truncating `01111.1111` to the maximum unsign

[2020-06-02 20:34] #13480 closed

[2020-06-02 22:31] jamiesnape opened #13488 "Create a provisioned Focal AMI"
Relates #13102, #13487.

[2020-06-03 01:47] EricCousineau-TRI commented on #8586
Late to the game, but yeah, we definitely want Pythonic strings when possible, specifically for `repr`:
https://docs.python.org/3.6/reference/datamodel.html#object.__repr__

[2020-06-03 08:33] siyuanfeng-tri commented on #13465
I like this much better. I think this is equivalent as as automatic `set_initial_postiion()` call with the measured q at the first tick. The old sim behavior as well as kuka_driver has been maintain the first measured position until a real command is given. The new behavior is effectively maintain zero acceleration. So it's kinda like kuka's low impedance mode demo that you can push the arm around

[2020-06-03 10:41] amcastro-tri commented on #13480
sry, I was absolute swamped and when I considered it I realized I had no idea what the process to update those png's is, while you guys do. So no, it would've taken me more than 30 secs.

[2020-06-03 12:57] amcastro-tri commented on #13480
In retrospect, I realized I should've assigned this to self and use it as a reminder to work on it later. Sorry if this caused you a distraction @EricCousineau-TRI, @SeanCurtis-TRI

[2020-06-03 15:34] EricCousineau-TRI commented on #13476
Awesome!

However, I would vote against having sugar API in `MBP`, and instead vote for having something directly on `MultibodyForces` that more clearly shows what is wanted, e.g. `MultibodyForces::CalcTotalGeneralizedForces`.

Perhaps `::generalized_forces()` should be deprecated in lieu of a better name, like `::purely_computed_generalized_forces()` or something that shows that it doesn't incorp

[2020-06-03 15:34] EricCousineau-TRI commented on #13476
That being said, is #13459 (and it's PR) moot now?
Should I close it and the PR if all the math is available, but just needs some polishing?
That, or I am happy to still port over part of the unittest or whatever.

[2020-06-03 15:41] EricCousineau-TRI opened #13493 "scene_graph: Can haz way to get all geometries from a FrameId (or GeometrySet)?"
Hoisting Anzu discussion to Drake issue; from subgraph PR in Anzu:

PR code is based on this bit:
https://github.com/EricCousineau-TRI/repro/blob/54494a5c5154f19e693e4862fbaa79cddcd78d6f/drake_stuff/multibody_plant_prototypes/multibody_extras.py#L91-L100

@SeanCurtis-TRI's comment:

EDIT: My follow-up in the Anzu PR:

[2020-06-03 15:54] SeanCurtis-TRI commented on #13493
The issue summary doesn't match the code snippets in the issue description. There is no mention of `GeometrySet` in the discussion.  (And thanks for creating the issue. Feel free to assign it to me unless you *really* intend to do it any time soon.)

[2020-06-03 16:07] amcastro-tri commented on #13476
I believe that `CalcAppliedForces` _could_ be useful. It just didn't directly address Michael's need (all generalized forces).
I believe what he needs is more like a `MBP::CalcForceElementsGeneralizedForces()`, `f` in his issue post.

Actually, something like `CalcAppliedForces()` would only add confusion as far as I could tell, given we don't really explain well what `MultibodyForces::generalized

[2020-06-03 16:16] EricCousineau-TRI commented on #13493
Sounds good on all accounts! Updated title, added the mention of `GeometrySet` in discussion transcript, and reassigned!

[2020-06-03 20:02] ggould-tri opened #13494 "pydrake schema support does not allow stochastic"
This is a placeholder issue tracking a problem in dev code.  It is marked backlog to indicate that it is not an issue in current drake.

The scenario definition schema code currently in drake's `common/schema/dev` directory is accessible only through C++ yaml parsing and not through python yaml parsing.  This prevents stochastic schemas from being usable in pydrake.

[2020-06-03 20:11] sherm1 commented on #13457
MBP can already provide SpatialAcceleration for each body via an output port (we could do it by API also but I'm not sure that's wired up yet). If there is a body representing the IMU that would give a ground truth reading. Is that usable?

[2020-06-03 20:17] mposa commented on #13457
That's definitely the data that's needed (spatial acceleration and angular velocity), though we'll need to wrap it into objects "IMU/Accelerometer/Gryo" that only provides the actual measurements. I think the basic question is whether or not these sensor systems exist in Drake or only in our dairlib ecosystem.

[2020-06-03 20:34] EricCousineau-TRI commented on #13476
SGTM! Going to close issue and PR for now; can reopen later!

[2020-06-03 20:34] EricCousineau-TRI commented on #13459
Closed per discussion here:
https://github.com/RobotLocomotion/drake/issues/13476#issuecomment-638446799

[2020-06-03 20:34] #13459 closed

[2020-06-03 21:21] sherm1 commented on #13457
Ah, yes it would be nice to have pre-built IMU sensors living in `drake/systems/sensors` along with rotary encoders, rgbd, etc.

[2020-06-04 00:51] #13482 closed

[2020-06-04 01:29] EricCousineau-TRI commented on #13442
@SeanCurtis-TRI Temporarily reassigning to ya for (4a). Kick it back to me once ya have a chance to do it!

[2020-06-04 01:50] EricCousineau-TRI commented on #13445
Just to follow-up - I would *love* to try out #13371, but if possible, would wanna try it out after it's been merged to `master`. That cool? Or will my trying it out somehow inform the PR itself?

[2020-06-04 03:22] jwnimmer-tri commented on #13465
@siyuanfeng-tri Do you have a WIP PR underway for this?  I could take it over, or start my own afresh if you don't have one yet.

[2020-06-04 03:50] SeanCurtis-TRI commented on #13445
FTR #13371 does *not* address this issue. There was discussion on possibly pushing it that way, but it proved to be a big enough issue that it was deserving of its own issue. See the "discussion  (no related file)" in #13371 (search for geometry_id_to_collision_index_, reviewable apparently doesn't like providing links to those discussions without related files.)

[2020-06-04 03:51] joemasterjohn commented on #13445
Hi @EricCousineau-TRI, actually I don't think #13371 will solve your problem. MBP is doing some bookkeeping of collision geometries as @amcastro-tri said, and keeping a mapping of collision geometry IDs around. It uses the size of that map (`geometry_id_to_collision_index_`) in `num_collision_geometries()` to back out of contact computations when MBP has 0 registered geometries. Working on removin

[2020-06-04 03:54] EricCousineau-TRI commented on #13445
Thank y'all for the near simultaneous response! And sounds good!

FTR, @SeanCurtis-TRI, I see the discussion you're talking about - basically the one upstream of here:
https://github.com/RobotLocomotion/drake/pull/13371#pullrequestreview-421225818
(but yeah, the link itself doesn't go anywhere useful).

[2020-06-04 09:24] siyuanfeng-tri commented on #13465
yeah i do. i don't like it though.

[2020-06-04 15:12] EricCousineau-TRI opened #13499 "mkdoc: Should split out Doxygen -> Sphinx (Napoleon) and test separately"
Currently, we have our mega-function:
https://github.com/RobotLocomotion/drake/blob/76956e194f197f9ce69236d88aab4e996b24c90a/third_party/com_github_pybind_pybind11/mkdoc.py#L227-L654

That is tested Christmas-tree style:
https://github.com/RobotLocomotion/drake/blob/76956e194f197f9ce69236d88aab4e996b24c90a/tools/workspace/pybind11/test/sample_header_documentation.expected.h

Tasks:

- [ ] We shoul

[2020-06-04 15:14] EricCousineau-TRI commented on #13499
@BetsyMcPhail Might this be feasible w/in the next 4 weeks? (June 25)

[2020-06-04 15:19] EricCousineau-TRI commented on #12645
Just added some checkboxes at top-level. Can sequence it out if need be!

[2020-06-04 15:23] EricCousineau-TRI opened #13500 "doc: python_bindings.rst should have installation instructions moved to installation doc pages"
Currently, we have install docs here:
https://github.com/RobotLocomotion/drake/blob/76956e194f197f9ce69236d88aab4e996b24c90a/doc/python_bindings.rst#installation

Ideally, these should be filtered into:
https://github.com/RobotLocomotion/drake/blob/76956e194f197f9ce69236d88aab4e996b24c90a/doc/installation.rst

\cc @jwnimmer-tri

[2020-06-04 15:25] jwnimmer-tri commented on #13500
My plan is to rewrite all of the installation docs in July with help from a new technical contact at Kitware.  How about we wait for that?

[2020-06-04 15:46] EricCousineau-TRI commented on #13215
I think `pybind11` has an awesome mechanism for this that we could use:
https://pybind11.readthedocs.io/en/stable/advanced/pycpp/utilities.html#capturing-standard-output-from-ostream

For both `stdout` and `stderr`

[2020-06-04 15:46] EricCousineau-TRI commented on #13215
I think this is also effectively a `pydrake` issue, just b/c streams should be synchronized. Adding both tags for now.

[2020-06-04 15:47] EricCousineau-TRI commented on #13215
Solution also should not be Jupyter-specific, it should just be on for `pydrake`; edge cases may crop up later (e.g. running Python stuff from C++ console); we can address them then.

[2020-06-04 15:49] EricCousineau-TRI commented on #13215
@BetsyMcPhail I think this may only take about ~5 Perfect Engineering hours to tackle.
Is it possible for you to try this out, ahead of the `mkdoc` docstring formatting issue, within the next 2 weeks?

[2020-06-04 15:58] jwnimmer-tri commented on #13215
@EricCousineau-TRI can you clarify how you'd like to see the tools on that page (#capturing-standard-output-from-ostream) used?  I don't think per-function nor context-manager use cases meet the need.  Are you suggesting that we invoke the same underlying feature, but in a way that happens upon pydrake import and never turns off?

I'm not sure that we should redirect all of cout & cerr either?  Th

[2020-06-04 17:09] #13488 closed

[2020-06-05 07:40] EricCousineau-TRI opened #13506 "mbp: non-repeatability for mbp + contact"
EDIT (2020/07/17): Re-scoped to handle both MBP and SceneGraph
https://github.com/RobotLocomotion/drake/pull/13505

Sub-issue:
- [x] #13507

\cc @antequ @sherm1

[2020-06-05 07:41] EricCousineau-TRI opened #13507 "geometry: SceneGraph may cause non-deterministic simulation?"
EDIT (2020/07/17): Sub-issue of #13506

See:
https://github.com/RobotLocomotion/drake/pull/13505#pullrequestreview-425063885

@SeanCurtis-TRI Passing the buck to you on this one ;) Feel free to reassign!

\cc @DamrongGuoy @sherm1

[2020-06-05 13:01] akshitj1 commented on #13139
Since anyone will need to add another plant eg. atleast some aerodynamic lifting sufrace with propller. Here is quick hack for non generic `ExternalSpatialForceMultiplexer` till generic `ValueMultiplexer` arrives: [gist](https://gist.github.com/akshitj1/01091bbc1599f0b3b0832efd74243fcc). Not raising a PR as I am not familiar enough with the framework to write tests.

[2020-06-05 17:49] amcastro-tri opened #13509 "ModelInstance might be making a wrong assumption on state ordering."
Thanks to @sammy-tri's comment [here](https://drakedevelopers.slack.com/archives/C2WBPQDB7/p1591374332199500?thread_ts=1591232230.163600&cid=C2WBPQDB7) (in a conversation that started off from an unrelated issue to parsing joints), we found out that we might have introduced a bug when mapping dofs on a per model instance basis.

What we do know about MBP's conract:
- Joints do not dictate the inte

[2020-06-06 11:19] andrewdavidmackenzie commented on #8466
Still trying to understand the root cause of this error on macos:

[code]

[2020-06-06 17:14] EricCousineau-TRI commented on #8466
Howdy @andrewdavidmackenzie!
Can you post more info about your env?

Suggestions on what info to provide:
https://drake.mit.edu/getting_help.html#helpful-information

Here are some example steps to provide "reproducbile" information, based off of:
https://drake.mit.edu/bazel.html#kcov

[code]

If you think environment variables are to blame, please try isolating your environment. On `bash` (Ubuntu

[2020-06-06 18:40] jwnimmer-tri commented on #8466
At the moment, Drake does not support kcov on macOS.  Only [these variants](https://drake-jenkins.csail.mit.edu/view/Coverage/) are supported.

[2020-06-08 13:41] jwnimmer-tri opened #13514 "ARM64 support"
We should consider supporting ARM64 / AArch64 for a subset of Drake, and what timeline might make sense to offer such support.

See #10435 for one such request, though I've also received a couple of offline requests subsequent to that issue.

Given that the core Drake developer team does not currently use this architecture, I'd expect such support to be facilitated by the core team (e.g., code rev

[2020-06-08 13:42] jwnimmer-tri commented on #13514
Related to https://github.com/bazelbuild/bazel/issues/8833.

[2020-06-08 13:42] jwnimmer-tri commented on #10435
=> https://github.com/RobotLocomotion/drake/issues/13514 for additional discussions

[2020-06-08 14:00] jwnimmer-tri commented on #13500
I'll write it up later this week and post back here with the cross-link.

[2020-06-08 15:09] BetsyMcPhail commented on #13499
Sounds good to me.

[2020-06-08 15:10] BetsyMcPhail commented on #13215
Sounds good

[2020-06-08 17:54] jwnimmer-tri commented on #8466
I'll resolve this by updating our documentation to exclude macOS support at https://drake.mit.edu/bazel.html#kcov-on-macos and surrounding text.

[2020-06-08 18:44] jwnimmer-tri commented on #13102
@jamiesnape Modulo the open issues and PRs already shown upthread in this issue, could you clarify for me what (if any) planned work remains here?

It seems to me like the only remaining item is to move some of the focal gcc builds into the https://drake-jenkins.csail.mit.edu/view/Production/ label to be buildcop'd.

[2020-06-08 18:52] jamiesnape commented on #13102
Adding at least one build to the list of pre-merge checks would probably be the only other thing once we have run the continuous in production for a week or so.

[2020-06-08 18:56] jwnimmer-tri commented on #13102
SGTM.

[2020-06-08 19:01] EricCousineau-TRI commented on #13473
Per VC with @rpoyner-tri, did an initial work split.

[2020-06-08 19:13] sammy-tri opened #13515 "URDF parser should support ball and universal joints."
At one point in time, this functionality was a part of #13427 but due to some complications it was removed in favor of getting the SDF parser component merged in a more timely fashion.

I volunteered to open a new PR reviving the URDF portion.

[2020-06-08 20:59] sammy-tri commented on #13509
Upon further review, the implementation isn't as bad as I thought, and I think we can close this out.

The order of the state for an individual model instance depends on the order in which the mobilizers are added to the model instance which happens after the topology is finalized), not the order in which there added to the plant.  And, fortunately, this happens in body node order, which is the sa

[2020-06-08 20:59] #13509 closed

[2020-06-08 23:09] huihuaTRI opened #13517 "A possible workflow for tool changing in simulation"
### Problem statement
This issue tries to explain an approach for tool switching in simulation. This approach is not yet feasible with the current state of Drake, but probably only requires a small amount of functionalities for this particular tool change use case.

The main idea contains three steps.
Step 1: Define a robot model (via urdf/sdf) that contains all the necessary joints needed for bot

[2020-06-09 00:22] sherm1 commented on #13517
Also @joemasterjohn -- more parameterization!

[2020-06-09 00:26] RussTedrake opened #13518 "Need a tutorial showing the use of AbstractValue in Input/OutputPorts"
Per the developers meeting today.  Could be added easily to the existing `dynamical_systems.ipynb`.

cc @mposa

[2020-06-09 00:34] jwnimmer-tri commented on #13518
Looking at #13501, an example of tricky syntax is:
[code]
or
[code]

In particular:
- It is a scalar-dependent abstract port, so needs `template` a keyword.
- It is a `std::vector` of values not just a single value.

These are going to have fairly different spellings in Python vs C++.  Probably both examples are necessary.

[2020-06-09 08:54] RussTedrake opened #13519 "Better error reporting for `apt-get update` failures"
I cannot run `install_prereqs` on bionic this morning and cannot build `master` without it.
[code]

[2020-06-09 10:20] soonho-tri commented on #13519
I think https://github.com/bazelbuild/bazel/issues/5274#issuecomment-458931341 can solve the bazel-apt problem?

[2020-06-09 10:21] soonho-tri commented on #13519
For ROS, please check if https://github.com/ros2/ros2/issues/742#issuecomment-509685308 helps.

[2020-06-09 11:20] jwnimmer-tri commented on #13519
The lines
[code]
are due to #13475.  Pinning the issue atop the issues list was not enough; I'll reopen it to ask that the install script self-repair the `ca-certificates` if its is too old.

For the others, perhaps with the apparently increasing prevalence of broken PPAs, we should adjust install_prereqs to print a specific error for this case: "Your computer is broken, Drake needs `apt-get updat

[2020-06-09 11:21] jwnimmer-tri commented on #13475
To smooth the upgrade path, we need to special-case the upgrade script to check the version of `ca-certificates` and automatically implement the above work-around.

[2020-06-09 12:30] ggould-tri opened #13520 "WeldJoint::set_X_PC after finalize"
TRI Project Anzu would find it helpful if WeldJoint had (1) a setter for X_PC, which (2) could be called after finalize.  This would greatly simplify our model error system by allowing all error/noise to be applied at runtime.

/cc @joemasterjohn @amcastro-tri @jwnimmer-tri

Discussion on internal TRI mailing lists leading to this:

[2020-06-09 13:09] jamiesnape commented on #13475
The correct solution is to get the certificate reissued. I will work on it.

[2020-06-09 13:11] jwnimmer-tri commented on #13475
SGTM.

[2020-06-09 13:20] amcastro-tri commented on #13517
Thank for the very clear problem statement @huihuaTRI!

@joemasterjohn is working currently towards (2) for mass and inertia properties.
Regarding (4), I don't think you need it! that's what's great about your proposed approach.
We might need however the "freeze" dofs capability @sherm1 mentioned in the past to make sure "unused dofs" do not go out of control. The "free dofs" capability would defi

[2020-06-09 13:20] jamiesnape commented on #13475
Temporary workaround in the script would be something like
[code]
You don't really need to check versions.

[2020-06-09 13:48] amcastro-tri commented on #13520
Thanks @ggould-tri. I believe we'd need something very similar to what @joemasterjohn did in #13105 for joints' default positions.
In this case `WeldJoint` does store the default parameter value for `X_PC`. We'd then need to introduce a method `WeldJoint::set_default_X_PC(const RigidTransfrom<double>& X_PC)`  and make sure this method updates the underlying mobilizer model when called.
Would that

[2020-06-09 15:57] jwnimmer-tri commented on #8466
The docs PR is open now.  After that is approved, I'll PR a change to macOS setup to remove kcov as a prerequisite.

For a community discussion for any tips to get macOS kcov working, that seems like a good question to post on StackOverflow (maybe with the "drake" tag).

[2020-06-09 17:26] #13515 closed

[2020-06-09 18:20] jamiesnape opened #13523 "Pushing to Docker Hub failing on Focal"
[code]

Relates #13102.

[2020-06-09 18:35] carismoses opened #13524 "Building and Using pydrake from source"
I am simply trying to build and use pydrake from source. I have seen the Jupyter notebooks on how to use pydrake and they are helpful, but I would like to do this from source on my machine. My long term goal is to use pybind11 to wrap some existing code I have that interfaces with drake, so that I can use it in python. To this end I am first trying to understand how pydrake acts as a wrapper, and

[2020-06-09 18:43] jamiesnape commented on #13475
New certificate installed.

[2020-06-09 18:43] #13475 closed

[2020-06-09 19:16] sherm1 commented on #13524
Hi, @carismoses. Thanks for your interest in Drake! Would you mind reposting this in Stackoverflow instead (with a "drake" tag)? That way your question and the answer will become part of the searchable Drake knowledge base. The [Getting Help](https://drake.mit.edu/getting_help.html) page has a link.

[2020-06-09 19:16] #13524 closed

[2020-06-09 19:24] carismoses commented on #13524
No problem @sherm1, just posted.

[2020-06-09 20:16] sherm1 commented on #13524
Thanks, Caris!

[2020-06-09 21:17] sherm1 commented on #13506
@rpoyner-tri has bravely volunteered to serve as point person on this investigation (and #13506). That's jumping into the deep end! Rico will no doubt be calling on many of us for consultation -- please do what you can to help.

[2020-06-09 21:19] sherm1 commented on #13507
Adding @rpoyner-tri to this. Possibly a different problem than #13506 which has fewer moving parts.

[2020-06-09 21:40] EricCousineau-TRI opened #13526 "cmake: Add option to disable building and installing pydrake"
Per Slack request from @samzapo:
https://drakedevelopers.slack.com/archives/C0KDGF4V9/p1591737731088300

Plan of attack:
- [x] Try quick source-tree hack that does not install bindings
  - See Sam's comment here: https://github.com/RobotLocomotion/drake/issues/13526#issuecomment-641601123
- [ ] See if we can formalize this

[2020-06-09 21:40] EricCousineau-TRI commented on #13526
Plan of attack:
- Try quick source-tree hack that does not install bindings
- See if we can formalize this

[2020-06-09 21:43] EricCousineau-TRI commented on #13526
@samzapo Here's the one-liner hack:
https://github.com/EricCousineau-TRI/drake/commit/053a435e4a3d414090848727a55039eaab28d118

I'm briefly checking on my side.

Can you see if this works for you?

[2020-06-09 21:43] calderpg-tri opened #13527 "Panda model has incorrect collision geometry"
The Panda models in drake have incorrect collision geometry on nearly all links. A fixed version is now in anzu, and these changes need to be brought back to drake.

I've nominally assigned myself, but I may not have time to get to this quickly.

cc @sammy-tri

[2020-06-09 21:51] samzapo commented on #13526
Yes, that fix worked for me.

[2020-06-09 21:56] EricCousineau-TRI commented on #13526
Just to check, how are you consuming Drake from CMake?

The two options (from https://github.com/RobotLocomotion/drake-external-examples/tree/master/drake_cmake_external)
- `drake_cmake_installed` - Installing via Bazel to somewhere like `/opt/drake`
- `drake_cmake_external` - Using CMake `ExternalProject_Add` to consume Drake from source tree

[2020-06-09 21:57] jamiesnape commented on #13526
Should be easy to formalize, I think. You can assign to me, if you like.

[2020-06-09 22:00] EricCousineau-TRI commented on #13526
Done - thanks!

Only question in my mind is testing - I know we have an in-tree install test for the `drake_cmake_installed` worfklow, but nothing for the `drake_cmake_external` workflow (which makes total sense, come to think of it :P)

[2020-06-09 22:33] sherm1 commented on #12055
:+1: for reorganizing the pybindings! It is difficult for us amateurs to find our way around there.

From [discussion](https://github.com/RobotLocomotion/drake/pull/13505#issuecomment-641553091) in #13505:

[2020-06-09 22:40] samzapo commented on #13526
I'm using the `drake_cmake_installed` pattern.

[2020-06-09 22:54] EricCousineau-TRI commented on #12055
Thanks! My attempt to identify some possible solutions to some of the issues you encountered:

- Provide better guidance on how to find where a C++ symbol is bound
  - Initial step is just suggestions on how to Ctrl+F - e.g. search for `"ClassName"`, which usually is a quick find for me.
  - Better step is traceability back to Doxygen symbol (but that may be sketchy), and somehow link that back to

[2020-06-09 23:04] #8466 closed

[2020-06-09 23:11] jwnimmer-tri commented on #12055
Some of the inheritance-oriented programming within `systems/framework` might be hairy to add into pydrake, given the pure virtual stubs and etc. that would be necessary.  If the only complaint is developer clarity, then improving up the comment here (and maybe also the docstring) might be all that's necessary:
https://github.com/RobotLocomotion/drake/blob/f9cb91582bb188094515d8af927644a25c6d86e6/

[2020-06-09 23:15] sherm1 commented on #12055
Would it make sense to match the file names and class names as we do in C++ Drake? `context_base_py.cc` would be really easy to find! Maybe that could even live next to context_base.cc?

[2020-06-09 23:16] huihuaTRI commented on #13517
I don't fully understand which part is not needed. Are you saying that I could update the geometries without `UnFinalize()` the plant?  Or you are saying that this is the case after everything is parameterized. Thanks.

[2020-06-09 23:17] EricCousineau-TRI commented on #12055
I wouldn't recommend that...
@jwnimmer-tri I'm happy to explain, or defer to you. Will wait for ~10min.

[2020-06-09 23:24] jwnimmer-tri commented on #12055
Using grep with literal double quotes, i.e., `rgrep '"LeafSystem"' .` has exactly one hit (and the correct one) in about 90% of the cases, and only 1-2 hits in 95% of cases.  That is really easy and does not require reworking our entire physical source file layout.  Fixing the ContextBase comment (and others) to match that pattern would cover almost everything.

[2020-06-09 23:39] sherm1 commented on #12055
Oh, that might be the magic incantation I'm looking for! I tried it on a few classes and it worked perfectly. `"ContextBase"` is an exception -- just my bad luck to need that one.

[2020-06-10 00:42] sherm1 commented on #13289
From f2f with @amcastro-tri:

There are four "levels" of parameterization to consider for MultibodyPlant:
1. Default values stored in the MBPlant object (always),
2. copies of those defaults in the MBTree object (post-finalize),
3. default-constructed Contexts, and
4. Contexts containing Parameter values.

Ideally every default value in an MBPlant has a corresponding Parameter resource in the Cont

[2020-06-10 00:50] sherm1 commented on #13520
FYI See [this comment](https://github.com/RobotLocomotion/drake/issues/13289#issuecomment-641653390) in #13289. (Permitting a change to X_PC would leave all existing Contexts in an invalid state.)

[2020-06-10 01:49] jwnimmer-tri commented on #13289
Another instance of the rule: be suspicious if your System has non-const member fields, especially if they are referred to by Calc methods.

[2020-06-10 13:09] jamiesnape opened #13529 "//bindings/pydrake/doc:gen_sphinx_test fails under Sphinx 3.1"
[code]

[2020-06-10 14:19] joemasterjohn opened #13530 "MBP has inconsistent port indexing"
Per [drake slack discussion](https://drakedevelopers.slack.com/archives/C2CHRT98E/p1591631681058500)

This [gist](https://gist.github.com/joemasterjohn/86e14c545bac3a50e74f54805a681033) shows two scenarios where MBP ports are declared in different orders. Specifically:
- `RegisterSceneGraphPostFinalize` calls `Finalize()` (which creates most MBP ports) prior to `RegisterAsSourceForSceneGraph()`(wh

[2020-06-10 14:38] joemasterjohn opened #13531 "Diagram<T>::ConvertScalarType should type-check port connections as a fail-safe"
See discussion in #13530.

The situation arose where a transmogrified system in a diagram declared its port indices in a different order than the system from which it was converted. `Diagram<T>::ConvertScalarType` should at the very least type check the copied port connections and fail-fast. Also, maybe it should be checking the name, size, etc. for further verfication? (@sherm1 @jwnimmer-tri for

[2020-06-10 17:36] amcastro-tri opened #13534 "IiwaCommandReceiver not using measured positions port."
This is what I observer. In an Anzu sim we connect the output of a `IiwaCommandReceiver` into the desired state of an `InverseDynamicsController`.

Now, usually our robot is at a state different from zero (this case). If `IiwaCommandReceiver` did not receive a message yet, then the desired state will be zero and will create an enormous difference in the controller leading to unreasonably high comm

[2020-06-10 17:51] #13534 closed, assigned to siyuanfeng-tri

[2020-06-10 23:23] sherm1 commented on #11457
I see now that neither the original `diagram.AllocateContext()` (`CreateDefaultContext()`)nor `diagram_context.Clone()` made any use of DiagramDiscreteValues -- both go through the same DiagramState code. Only `diagram.AllocateDiscreteVariables()` is doing this correctly.

[2020-06-11 00:25] sherm1 commented on #11351
This was fixed in #12391.

[2020-06-11 00:25] #11351 closed

[2020-06-11 00:33] jwnimmer-tri opened #13539 "Re-org and rewrite of distribution, installation, and build docs"
There are numerous known issue and usability hurdles with Drake's documentation for how users consume Drake releases, nightlies, source builds, pydrake, etc.

It will be most efficient to take a big swing at all of these at once in a single editing pass, because some of the problems relate to how the information is organized, rather than the specific facts being presented.

I will link all of the

[2020-06-11 00:34] jwnimmer-tri commented on #13500
Now filed at #13539.

[2020-06-11 00:52] jwnimmer-tri commented on #13102
@jamiesnape I think we're ready to move focal into Continuous Production and add one pre-merge now, if you agree?

Since we plan to have clang-9 parity already on bionic and focal, I'll suggest to add one of the faster gcc variants, maybe `linux-focal-gcc-bazel-experimental-release`?  We can keep the clang pre-merge on bionic for easier local repro for current developers.

[2020-06-11 01:19] jwnimmer-tri commented on #13531
If port names must remain invariant across scalar conversion, then a System's scalar conversion methods should enforce the invariant locally during their own conversions, and the Diagram conversion code would not have to change.  We would have to document this as a new requirement on Systems.

However, while it's probably a best practice for port names to remain unchanged across scalar conversion,

[2020-06-11 01:48] jwnimmer-tri commented on #13434
On focal CI we use clang 9 now.  Pending work is to switch bionic CI to use it as well.

[2020-06-11 03:31] siyuanfeng-tri commented on #13465
https://github.com/jwnimmer-tri/drake/blob/cmd_recv_latch/systems/framework/leaf_system.h#L79
why isn't this just return owned_model; ?

[2020-06-11 11:43] jwnimmer-tri commented on #13465
Yup, it should have.  I've opened #13540 now to make the WIP branch more visible.

[2020-06-11 12:08] ggould-tri opened #13541 "mac/focal yaml serialization differs from bionic's"
For whatever reason, yaml serialization on mac and focal produces vertically formatted lists, while serialization on bionic produces horizontally formatted ones.  This produces errors like

[code]

The relevant test was nerfed in #13538 but should be rewritten to compare the parsed (or post-parse serialized) rather than a raw reference serialized form in its roundtrip tests (ie, to insist on seman

[2020-06-11 12:18] jwnimmer-tri commented on #13541
Ideally, the I/O code could be set to use the flow style during serialization, because it's nicer to read.  We do that for C++ already:
https://github.com/RobotLocomotion/drake/blob/e55b6dd0bdd0bbb8a45a5ba9390407aaa90f2b8e/common/yaml/yaml_write_archive.cc#L29-L37

[2020-06-11 12:38] ggould-tri commented on #13541
Amen on the nicer-to-read.
I believe we may have ended up on opposite sides of https://github.com/yaml/pyyaml/pull/256 and so must always set `default_flow_style` when we call the dumper.

[2020-06-11 12:43] jwnimmer-tri commented on #13541
Ooh, a tribool found in the wild.  Get out the documentary cameras.

[2020-06-11 13:37] jwnimmer-tri commented on #13529
Per f2f: easiest path might be to just use (or fork) the homebrew formula.

[2020-06-11 17:00] joemasterjohn commented on #13445
I believe #13545 will solve the problem you're experience here. Trying to get it merged ASAP.

[2020-06-11 17:17] EricCousineau-TRI commented on #13445
Thanks!

And Is there a way this can be guaranteed in an unittest, either in that PR or in a follow-up?
I'm happy to write out a reduced MWE/repro in C++ to provide a basis for the unittest.

[2020-06-11 17:19] EricCousineau-TRI commented on #13445
Basically, add a half-plane via MBP API, then an MBP body w/ no geometry, then add the geometry (a ball / sphere) through SG. Forward simulate, and show that the ball did not fall through the ground.

[2020-06-11 17:24] SeanCurtis-TRI commented on #13445
Rather than forward simulating

[2020-06-11 17:35] EricCousineau-TRI commented on #13445
:thinking:
:stuck_out_tongue_winking_eye:

[2020-06-11 20:04] EricCousineau-TRI opened #13548 "py manipulation: Should move `differential_ik` system from `drake/examples` to `pydrake.manipulation`"
See Slack / StackOverflow:
https://drakedevelopers.slack.com/archives/C3YB3EV5W/p1591904734050100
https://stackoverflow.com/questions/62332244/access-differentialik-outside-of-drake

Basically, it only exists here:
https://github.com/RobotLocomotion/drake/blob/4ea3c4b434025361f7431171511483754724b9e7/examples/manipulation_station/differential_ik.py

But should exist in `pydrake.manipulation` in so

[2020-06-11 20:05] EricCousineau-TRI commented on #13548
@mpetersen94 I won't have time in the next few days to do this. Is it something you're OK with waiting for, or might you have time to try moving this?

[2020-06-11 20:35] jamiesnape commented on #13102
Done.

[2020-06-11 20:35] #13102 closed

[2020-06-11 21:00] huihuaTRI opened #13549 "Add sugar functions in MBP to remove geometries"
This should wait until [PR-13545](https://reviewable.io/reviews/robotlocomotion/drake/13545#-) gets merged. Some APIs can be defined as
- Remove the geometry with `id` associated with the `body`
`RemoveBodyGeometry(const RigidBody& body, const GeometryId& id)`
- Remove all the `role` geometries associated with the given `body`
`RemoveBodyGeometries(const RigidBody& body, const geometry::Role& role

[2020-06-11 21:49] jamiesnape commented on #13529
https://github.com/RobotLocomotion/homebrew-director/commit/7e09f48b93ea4505a51455fd68e8f0ff6834031c is part of the solution.

[2020-06-11 21:52] huihuaTRI commented on #13527
I will take care of this one. Could you point (email/slack) me the fixed version?

[2020-06-11 21:56] hongkai-dai commented on #7635
BTW, we currently support writing to SDPA format, which is commonly used for SDP.

[2020-06-11 21:57] calderpg-tri commented on #13527
Link to fixed model sent on slack, you'll need to change both [panda_arm.urdf](https://github.com/RobotLocomotion/drake/blob/master/manipulation/models/franka_description/urdf/panda_arm.urdf) and [panda_arm_hand.urdf](https://github.com/RobotLocomotion/drake/blob/master/manipulation/models/franka_description/urdf/panda_arm_hand.urdf).

[2020-06-11 23:12] SeanCurtis-TRI commented on #13549
This isn't relevant. Once #13545 merges, MBP won't really know anything about geometries. And, after finalization, won't be able to serve as a sugar interface to SG. So, this sugar is neither necessary nor possible.

[2020-06-11 23:12] #13549 closed

[2020-06-11 23:21] huihuaTRI commented on #13549
How about the `RigesterVisualGeometry()` sugars in MBP already,  are you going to remove those?

[2020-06-12 02:12] #11457 closed

[2020-06-12 03:19] SeanCurtis-TRI commented on #13549
None of the `Register*Geometry` sugar is going away. The difference is that *right* in master, they're required. After the PR they will purely be sugar. Because of that change of state, the use of them is ubiquitous and the convenience is non-trivial. I don't see that sugar going away any time soon.

[2020-06-12 04:37] huihuaTRI commented on #13527
[PR13550](https://github.com/RobotLocomotion/drake/pull/13550) landed.

[2020-06-12 04:37] #13527 closed

[2020-06-12 12:27] jwnimmer-tri commented on #13548
The code was added in #9870 by \CC @RussTedrake with a `TODO(russt): Clean this up and move it to C++.`  I am not sure that only changing its module is the correct path forward, especially with Russ' recent mention of porting the manipulation station code to C++.  Maybe a better path forward is moving it to C++ while cleaning it up, testing it, and binding it for pydrake?

[2020-06-12 13:29] EricCousineau-TRI commented on #13548
That's one way to do it, and that's the more ideal. However, if I were to do it, I'd definitely only want to do the minimum amt if possible, esp. given that the request is for the Python interface.

Will mull it over some more, though. Thanks!

[2020-06-12 13:36] jwnimmer-tri commented on #13548
If the need is just to call the code, then _forking_ it the minimum effort possible; it takes like 10 seconds.  To move it into a public library, the PR is anyway going to have to do the "cleanup" (fix the mutable-member-context problem, write tests, decide which methods are public, add API docs).

[2020-06-12 13:40] EricCousineau-TRI commented on #13548
SGTM. @mpetersen94 You cool with forking for now?

[2020-06-12 14:19] mpetersen94 commented on #13548
Yes, I can just copy-pasta for now.

[2020-06-12 15:29] rpoyner-tri commented on #12055
Interesting solution. Does it merit any sort of enforcement to maintain the property?

[2020-06-12 15:33] jamiesnape opened #13552 "Prevent false remote cache hits between builds on different operating systems"
Relates #13102.

Per https://github.com/bazelbuild/bazel/issues/4558 and https://github.com/bazelbuild/bazel/issues/3320 seems creating separate caches is the only truly safe solution.

[2020-06-12 15:47] jamiesnape commented on #13552
A minimal set of tools for a cache key would be:

* `CC` (`clang` or `gcc`)
* `gfortran`
* `java`
* `python3`

Something like

[code]

will get the version in a non-tool-specific way on Ubuntu (modulo some double quotes).

[2020-06-12 16:47] huihuaTRI commented on #13549
The closure: talked with Sean f2f offline (actually "online" via VTC). I missed the fact that MBP detaches the scene_graph pointer during the `Finalize` process, therefore, remove geometries after finalizing won't be possible. Thanks!

[2020-06-12 16:57] #13465 closed

[2020-06-12 18:43] sherm1 commented on #13517
Regarding implementation of MBP::UnFinalize(): Finalize() does the following:
1. create a MultibodyTree model
2. allocates System resources (ports, cache entries, etc.)
3. does some internal precalculations
4. creates collision exclusion groups (in SG)
5. deletes the pointer to SG.

Items 1-3 would be easy enough to undo. The primary impediment is the interaction with SG. Of course deleting the po

[2020-06-12 19:02] EricCousineau-TRI commented on #12055
Not sure how automatic enforcement could happen, but yeah, ensuring that a symbol that is indirectly bound should be mentioned in this form would help.

To Jeremy's point, I do think that `ContextBase` itself should be bound; it's non-templated, and can help reduce symbol bloat. In terms of `SystemBase`, this relationship was actually useful for public-facing API, and I could forsee the same thing

[2020-06-12 19:53] SeanCurtis-TRI commented on #13517
The magnitude of the difficulty depends on what's happening with the unfinalized plant.

- A body gets removed. The corresponding frame and geometries get removed from SG (*somehow* in order to keep the systems compatible). So, not taking any explicit act for worrying about collision filters is largely harmless. Filtering contact with an existing geometry has the same effect as filtering contact w

[2020-06-12 20:31] huihuaTRI commented on #13517
After multiple offline conversations, here is my understanding

Requests of this issue can be summarized into two items.
- R1) modify mass/inertia properties of a certain link/body. This request includes both the values of these two properties and the transformation from the CoM to the link.
- R2) remove existing collision/visual geometries and add new collision/visual geometries.

Solutions to th

[2020-06-12 20:31] sherm1 commented on #13517
@SeanCurtis-TRI: yeah, that matches how I see the problem. I don't think anything like that is feasible. A robust UnFinalize() method would have to put MBP and SG precisely back into the state they had prior to Finalize(). That would need to be done by something like a stack that could be popped.

[2020-06-12 20:48] SeanCurtis-TRI commented on #13517
Not quite true. In the text above I confronted the question of collision filtering. Currently, collisions between adjacent bodies is not allowed. That gets *enforced* at finalization. If you delete geometries (that had their filter settings set by the original call to `Finalize()`) and add new geometries, those new geometries will not respect the "do-not-collide-with-adjacent-geometry" rule.

In o

[2020-06-12 21:39] huihuaTRI commented on #13517
The existence of Q2 basically contradicts the statement "no string attached" of R2. Thanks for answering Q2.

I will investigate whether "identify adjacent bodies" is available. If not, it won't be an issue for this use-case since pretty much everything is already pre-defined.

[2020-06-12 21:43] SeanCurtis-TRI commented on #13517
The point that I was trying to make is identifying adjacent bodies *is* an issue. Without doing so, you risk having the tool fly off when it experiences artificial collision with the arm end.

[2020-06-12 22:11] SeanCurtis-TRI commented on #11880
Ok, I'm ready to start submitting PRs against this. The effort to do this is going to come in multiple phases. The overall result can be found here: https://github.com/SeanCurtis-TRI/drake/tree/PR_camera_intrinsics

Here's the plan:

- [ ] Submit changes to `CameraInfo`, `RgbdSensor` and introduce `RenderCameraProperties`
    - This provides the core data structures for specifying the intrinsics a

[2020-06-12 23:04] huihuaTRI commented on #12631
What would happen if I mix a discrete system with a continuous system?  For this issue, the FirstOrderLowPassFilter has defined continuous states, which I assume renders this system for continuous system only. Is this true?

[2020-06-12 23:34] sherm1 commented on #12631
Drake assumes all systems are "hybrid systems", meaning they mix continuous and discrete state. If you want to understand what that means precisely, read [How the simulation is stepped](https://drake.mit.edu/doxygen_cxx/classdrake_1_1systems_1_1_simulator.html).

[2020-06-14 23:02] sherm1 commented on #11450
This was fixed in #13536.

[2020-06-14 23:02] #11450 closed

[2020-06-14 23:40] sherm1 commented on #7039
Closing this in favor of #10991 with a back reference to the discussion here.

[2020-06-14 23:40] #7039 closed

[2020-06-15 12:18] #13541 closed

[2020-06-15 16:26] sherm1 commented on #11448
Relates to #10874

[2020-06-15 22:51] sherm1 commented on #9598
@amcastro-tri @mitiguy can this be closed now?

[2020-06-15 22:53] sherm1 commented on #8943
@SeanCurtis-TRI is this still an issue?

[2020-06-15 23:12] mitiguy opened #13560 "Add caching for MultibodyTree::CalcAllBodyBiasSpatialAccelerationsInWorld()"
While improving efficiency on PR #13453, we thought caching may be useful if an end-user is doing a significant number of bias accelerations calculations -- no reason to call MultibodyTree::CalcAllBodyBiasSpatialAccelerationsInWorld() so many times if many different user-defined bias acceleration calculations are needed.

[2020-06-15 23:24] mitiguy opened #13561 "Add 3D test fixture to fortify existing tests for CalcBiasSpatialAcceleration()"
During PR #13453, it was decided that it would be helpful to also include a 3D test, e.g., such as a 2 DOF SatelliteTracker that has reasonably difficult (but still analytically tractable) 3D kinematics.

[2020-06-15 23:39] SeanCurtis-TRI commented on #8943
The issue still exists. Perhaps I should ask, do we care? Right now, any body that gets welded is still considered "dynamic" from SG's perspective. MBP must provide poses for them and SG is still keeping them in the BVH for dynamic objects and will try to bang them against geoemetries that have been *officially* affixed to the world body. So, do we care?

[2020-06-15 23:42] mitiguy opened #13562 "Create a test to check AutoDiff and vector differentiation in a non-world frame."
Create a test to see how Drake handles vector differentiation.
For example, consider a pendulum B of length L that has a simple rotation in world W.
The position vector from Wo (world origin) to Bp (the distal end of B) can be written in monogram notation as either
p_WoBp_B = [L, 0, 0]
p_WoBp_W = [L*cos(theta), L*sin(theta), 0].

p_WoBp is a vector function of theta in world W.
p_WoBp is not a vec

[2020-06-16 00:24] mitiguy commented on #9598
@sherm1 and @amcastro-tri  I think this issue is now closed.
I think this was issue was addressed in connection with issue #12600
Remove deprecated method CalcFrameGeometricJacobianExpressedInWorld()
and instead use CalcJacobianSpatialVelocity().

From a comment in issue #12600:  It seems GeometricJacobian and AnalyticalJacobian now only occupy a poor spot in the old deprecated RigidBodyTree attic

[2020-06-16 00:24] #9598 closed

[2020-06-16 00:43] sherm1 commented on #8943
Probably the first thing to do would be to measure whether there is something to be gained by proper classification of anchored geometry. Seems plausible -- let's leave it at backlog priority.

[2020-06-16 12:35] amcastro-tri commented on #13561
@mitiguy, I sent you an email with a method I believe allows doing this with AutoDiff. I'll post here if we believe it's good.

[2020-06-16 12:36] amcastro-tri commented on #13562
I guess worth posting my email here:

I think you are right, we could use AutoDiff to compute an arbitrary acceleration. As you mentioned, you'd need to understand what AutoDiff does for you. Well, AutoDiff does not know of course about frames. You give it a function of time, and it computes the regular derivative with respect to that parameter.

Then, I went back to your book and looked up the de

[2020-06-16 12:37] amcastro-tri commented on #13560
could you specify what quantity exactly you'd cache?

[2020-06-16 16:16] sherm1 commented on #13562
AutoDiff only does partial derivatives, so we probably ought to analyze it that way. I think the full definition of the acceleration quantity should mention that the time derivative is taken in frame M:
[code]
Then AutoDiff will take partials one scalar at a time so can’t change frames
[code]

where x = {q,v}.

[2020-06-16 18:20] mitiguy commented on #13560
Current plan is to cache each body's spatial **bias** acceleration measured in world and expressed in world, with respect to speeds v.

Per conversation with @sherm1 and @rpoyner-tri, caching issue #13560 has been changed to high priority - after PR #13453 merges.  Per Sherm, there was an associated heap allocation performance issue raised by Evan Drumwright.

[2020-06-16 18:53] sherm1 commented on #13562
Forwarding email exchange w/@amcastro-tri:

[2020-06-16 19:20] mitiguy commented on #13562
Yes, I agree.  A few thoughts about tests and notation.
1.   Test the hypothesis that AutoDiff can carry out the definition of vector differentiation.
2.   Perhaps provide a check to that test with the "Golden rule for vector differentiation".
3.   Perhaps encode that "check" as a new method used in conjunction with AutoDiff (I imagine it would be significantly more efficient to compute vector der

[2020-06-16 19:37] mitiguy commented on #13186
Issue #13186 was filed on MBP doing "undesirable heap allocation" by @edrumwri who was also the requester of issue #12592 for the new moving-frame bias acceleration feature (related issue #13453).   Heap allocation in CalcBiasSpatialAcceleration() caused concern -- is the new method useful for Evan's  application without caching?  From email correspondence with Evan (June 16, 2020): "I can wait fo

[2020-06-16 22:48] sherm1 commented on #13562
Oh, rats -- @amcastro-tri, Paul pointed out that the time differentiation doesn't work because q and v look like constants in our code rather than q(t) and v(t). So when we AutoDiff(f(qₜ,vₜ), t) we get
∂f/∂t evaluated at q=qₜ, v=vₜ -- that is, we catch only explicit time dependencies in f. (By qₜ,vₜ I mean the current values for q and v as found in the Context.)

[2020-06-16 22:52] sherm1 commented on #13186
Not sure I agree with that -- the changes in #13453 _double_ the number of heap allocations in MBP.

[2020-06-16 23:56] huihuaTRI opened #13565 "Drake uses int for Eigen::Index at multiple places."
In `math/rigid_transform.h`, two places ([place 1](https://github.com/RobotLocomotion/drake/blob/a05c9f898cbcd41c72319b3a89b1c741dc554726/math/rigid_transform.h#L226) and [place 2](https://github.com/RobotLocomotion/drake/blob/a05c9f898cbcd41c72319b3a89b1c741dc554726/math/rigid_transform.h#L600)) use `int` for type `Eigen::Index`, which is a type of [`std::ptrdiff_t`](https://en.cppreference.com/w

[2020-06-17 00:20] jwnimmer-tri commented on #13565
Can you give an example of the warning, and how to reproduce it?  We've been doing this forever, and I don't recall any current warnings in CI.

[2020-06-17 00:46] huihuaTRI commented on #13565
I have sent you a private slack message about the example since it involves some proprietary information.

[2020-06-17 00:56] jwnimmer-tri commented on #13565
The TL;DR of the thread is that this is GCC 7, with `-Werror=conversion` enabled.  That is a noisy warning that does more harm than good.  In our current support matrix, is it not enabled in Drake CI, and so downstreams enable it at their own risk.  Setting it to be a hard error in Drake code when Drake is used only an external is very aggressive and unlikely to work.

[2020-06-17 03:19] mitiguy commented on #13560
Per suggestion by @sherm1 in PR #13453, reverted this to high priority.

[2020-06-17 05:57] joemasterjohn commented on #13530
Resolved by #13558.

[2020-06-17 05:57] #13530 closed

[2020-06-17 06:04] joemasterjohn commented on #11448
#13558 adds a less vague error message:

Does that suffice?

[2020-06-17 14:34] amcastro-tri commented on #13562
I don't understand this last comment @sherm1. We've done differentiation with respect to time over a trajectory q(t), v(t). For this case we need to specify the time derivatives as:

  1. For v, (arbitrary) derivatives vdot for each v.
  2. For q, derivatives must be qdot = MapVToQdot(v).

If you do that, then you get the total derivative of f(qₜ,vₜ) above.

[2020-06-17 15:37] sherm1 commented on #13562
That's true if you AutoDiff a function that includes the time dependence of q and v. But kinematic functions like `f(q,v) ≜ frame.CalcSpatialVelocity()` just take q and v as inputs. The partial w.r.t. time of that function is zero.

[2020-06-17 19:02] RussTedrake opened #13567 "Clarify stribeck friction models used in multibodyplant"
Our [documentation](https://drake.mit.edu/doxygen_cxx/group__stribeck__approximation.html) suggests we use a piecewise polynomial approximation, with zero derivative at the origin (that seems odd, and @sherm1 confirms it was a hold-over from simbody).  `MultibodyPlant<T>::StribeckModel::ComputeFrictionCoefficient` does have this model.

The TAMSI paper suggests that TAMSI is just using the the pie

[2020-06-17 21:13] jwnimmer-tri commented on #13565
I believe the conclusion from private discussions was to not enable `-Wconversion` when building Drake.  So we can close this issue?

[2020-06-17 21:18] jwnimmer-tri commented on #13552
Is this a blocker for #13434?

[2020-06-17 21:34] huihuaTRI commented on #13565
Is there a verdict about whether we should submit a PR to change the `int` to `Eigen::Index`? I think this issue is more about that.

[2020-06-17 22:08] jamiesnape commented on #13552
Pretty much. It is not a difficult task, though.

[2020-06-17 22:34] sherm1 commented on #13565
There are hundreds of changes in Drake that would be required to get rid of all the warnings, with no real-world benefit. If changing just the two cases you encountered would significantly improve your life it would be fine to do so (although I'd just add a `static_cast<int>` rather than propagate the `Eigen::Index` any further). But likely you'll encounter the same problem when some other header

[2020-06-17 22:38] huihuaTRI commented on #13565
I agree. The solution of my problem is not just changing these two places.

Since we have a consensus that it is not necessary to make these changes for Drake's sake as Drake is not -Wconversion safe anyway, I will close this issue.

[2020-06-17 22:38] #13565 closed

[2020-06-18 05:45] EricCousineau-TRI opened #13571 "style: Should add basic linter for Python import statements"
Should formalize import statements

Some items:
* From PEP008, should delineate builtin, third, and first-part sources
* Should handle ensuring `pydrake` is imported before `torch` (for Anzu)

My preferred styles:
[code]

Relates #13461 (PR)

[2020-06-18 05:52] EricCousineau-TRI commented on #1524
This still useful? TBH, prolly ain't that hard to write regex or whatever to fix this.

(ofc, this would be queued w/in next few months)

[2020-06-18 05:54] EricCousineau-TRI opened #13572 "style: Should make C++ Doxygen docstrings consistent"
This is an issue tracking #13461 and #13491

Tasks:
- [ ] Submit styleguide PR, get it approved
- [ ] #13461 Write some code, make lint rules work
- [ ] #13491 Apply lint rules to codebase

[2020-06-18 11:05] jwnimmer-tri commented on #13571
Using a community tool would be best, if there is a suitable one.  First search shows https://github.com/timothycrosley/isort as a contender.

[2020-06-18 15:01] EricCousineau-TRI commented on #10755
Given that I did some stuff on `function_system.py` a ways back, will re-own this:
https://github.com/EricCousineau-TRI/repro/tree/54494a5c5154f19e693e4862fbaa79cddcd78d6f/drake_stuff/drake_py_meta

Not planning on tackling this any time soon, tho.

[2020-06-18 15:28] EricCousineau-TRI commented on #13209
Jeremy, any chance you can look into this in the next month?

Jamie and I are talking about doing this in that timeline, and is it seems relatively simple, pending some agreement on procedure and docs.

[2020-06-18 15:32] EricCousineau-TRI commented on #12645
Re-assigning to Jamie to investigate the port proxy on Binder.

[2020-06-18 16:41] EricCousineau-TRI commented on #13494
Some candidate solutions (following up from Anzu discussion w/ @jwnimmer-tri, going off of some of his ideas)
- Bind schema and schema-related functions (this is what I did in Anzu)
- Write an `Archive` implementation that can "serialize" objects actively into `pybind` bindings (e.g. `PybindArchive("MyClass").Accept(MyClass()).AddToScope(m)`)
- Write an `Archive` implementation that can "serialize

[2020-06-18 17:15] ggould-tri commented on #13282
FYI, a design discussion within Anzu yielded this design result there, which I scribe here for reference and fair warning that this design is likely coming for drake.

[2020-06-18 20:24] jwnimmer-tri commented on #13209
The https://drake-jenkins.csail.mit.edu/view/Packaging/job/linux-bionic-unprovisioned-gcc-bazel-nightly-snopt-packaging build has a final step "PUSHING NIGHTLY RELEASE BRANCH" where it updates the refs for `nightly-release`.  As I understand the binder integration, that refs determines what Binder is doing.

What if we added another step just after that one, call it "PUSHING NIGHTLY RELEASE BINDER

[2020-06-18 20:26] EricCousineau-TRI commented on #13209
SGTM!

Just thinking through, the only caveat is that we lose some semblance of Git commit parity, but really, the `.binder/*` files are all that matter; all the other Git info is in the existing built docker images.

@jamiesnape ?

[2020-06-18 21:45] jamiesnape commented on #13209
How are we going to handle the history of `nightly-release-binder`? Sounds like we are saying replace it with `master` each night?

[2020-06-18 22:32] jwnimmer-tri commented on #13209
Correct.

[2020-06-19 13:32] #13529 closed

[2020-06-19 15:40] amcastro-tri commented on #13562
per f2f. When computing time derivatives, the **known vdot** is stored in `v.derivatives()`. Therefore the proposal above works and provides a simple way to implement these tests.

[2020-06-19 17:56] sherm1 commented on #13562
Thanks for that explanation, Alejandro. To elaborate:

We have a templated function `f<T>(t,q,v)`. We want to use Autodiff to obtain the total time derivative df/dt. Note that `q=q(t)` and `v=v(t)` but f does not contain those dependencies. Instantiate `f<AD1>` where `AD1=AutoDiffScalar<1>`, i.e. just a value and one derivative. Ignoring the value part, we have
[code]
where t.d, q.d, and v.d are t

[2020-06-19 19:39] jamiesnape commented on #13523
Fixed by https://github.com/RobotLocomotion/drake-ci/commit/3a10d1a25d1d07cabec7a085a259db9e7c349b13.

[2020-06-19 19:39] #13523 closed

[2020-06-19 21:56] jwnimmer-tri opened #13574 "Broken sphinx on Ubuntu 18.04"
#13551 broke any Ubuntu 18.04 users that have `python-sphinx` installed in addition to `python3-sphinx`.  The file `/usr/bin/sphinx` points to the python2 version when both are installed.

The file `/usr/share/sphinx/scripts/python3/sphinx-build` is the python3 version, which is what we should be using.

[2020-06-19 22:17] jamiesnape commented on #13574
Technically #13551 exposed a pre-existing bug, but anyway, #13575.

[2020-06-20 23:59] edrumwri opened #13576 "Passing InputPortIndex(0) into PortSwitch's input port selector selects the port selector input"
PortSwitch system needs some documentation on proper use: it doesn't describe the type to its abstract input port (i.e., `get_port_selector_input_port()`).

Once one has discerned the type, the semantics of the value passed to this input port are counterintuitive: PortSwitch allows selecting the port selector input port! Put another way: if I pass in InputPortIndex(0) into the port selector input

[2020-06-21 14:44] Joaoloula opened #13578 "Unexpected behavior in SNOPT feasibility check"
I've encountered a situation where 1) calling SNOPT on a problem that is feasible by construction yields kInfeasibleConstraints, 2) the problem goes away if a random initialization is used. It's an inverse kinematics problem, and the code is here:

[code]

and here's the simple 3-dof model for reproduction:

[code]

Is this behavior correct? I assume this has something to do with the problem not b

[2020-06-21 17:29] EricCousineau-TRI commented on #7889
Also listed via recent commit to `pybind11` documentation:
https://github.com/StatisKit/AutoWIG/blob/master/src/py/autowig/pybind11_generator.py

Not a lot of documentation, but will see how LLVM stuff gets interfaced (e.g. IR like XML as gccxml does, or directly via something else).

[2020-06-21 18:03] EricCousineau-TRI commented on #7889
Yet another binding project:
https://github.com/robotpy/robotpy-build

Came across in this `pybind11` Gitter discussion:
https://gitter.im/pybind/Lobby?at=5ed1bc733ffa6106f1e28201

[2020-06-21 23:54] RussTedrake commented on #1524
i'm ok closing it.

[2020-06-21 23:54] #1524 closed

[2020-06-22 02:10] EricCousineau-TRI opened #13580 "sensors: RgbdSensor.X_WB_output_port() is `PoseVector`, not `Value<RigidTransform>` :("
Docs:
https://github.com/RobotLocomotion/drake/blob/5f4d84b44b69c63a90e88b26d0d07a152b518343/systems/sensors/rgbd_sensor.h#L187-L190

Implementation:
https://github.com/RobotLocomotion/drake/blob/5f4d84b44b69c63a90e88b26d0d07a152b518343/systems/sensors/rgbd_sensor.cc#L73-L74

Came across this while playing with visuomotor stuff and plugging in perception stuff. Basically, I tried to do this, and r

[2020-06-22 02:12] EricCousineau-TRI commented on #13580
Retrospective: https://github.com/RobotLocomotion/drake/pull/11704#issuecomment-647227616
Dern...

[2020-06-22 02:34] EricCousineau-TRI opened #13581 "framework: Add (and bind) InputPort.Allocate()?"
See Drake Slack thread:
https://drakedevelopers.slack.com/archives/C2CHRT98E/p1590265311047200?thread_ts=1590184382.046300&cid=C2CHRT98E

@sherm1 Assigning you for now; feel free to delegate!

---

[2020-06-22 02:54] EricCousineau-TRI commented on #13580
I *though* the workaround would be to change above Python code to:
[code]
... but it looks like the value being output is `Value[BasicVector_[float]]`, *not* `Value[PoseVector]`?

Anywho, the workaround will just be:
[code]

[2020-06-22 02:57] EricCousineau-TRI commented on #13580
*WRONG*, `PoseVector(ndarray[7])` does not exist. Instead, I have to do:
[code]

:(

[2020-06-22 12:32] jwnimmer-tri commented on #13578
Good morning, @Joaoloula.  For questions like this, we'd ask for you please to post the question to StackOverflow, instead of the issue database.  (Use the [#drake](https://stackoverflow.com/questions/tagged/drake) tag to get our attention there.)

---

I'll also add that from a very quick skim of the example above, it looks like the problematic situation has all revolute joints initialized to a z

[2020-06-22 12:33] #13578 closed

[2020-06-22 14:35] #13574 closed

[2020-06-22 15:39] antequ commented on #13567
Also tagging @amcastro-tri

We use two different models depending on whether the MBP is initialized in discrete vs continuous mode. Quadratic in discrete, fifth-order Stribeck in continuous.

- In discrete mode, we use the TAMSI solver, which uses the quadratic approximation with mu_s = mu_k. (so f(v) = v(2-v) for v < 1, 1 otherwise. See [TamsiSolver::RegularizedFriction()](https://github.com/Robo

[2020-06-22 19:28] mitiguy commented on #12592
@edrumwri  A meaningful part of issue #12592 has been addressed since PR #13453 merged and CalcBiasSpatialAcceleration() should now work with whatever "measured-in" frame you like.  I am now working on CalcBiasTranslationalAcceleration() so that should work similarly.  I am also sending this via email to edrumwri@gmail.com.

[2020-06-22 20:30] BetsyMcPhail opened #13585 "//common:py/cpplint_wrapper_test times out on Focal"
For example: https://drake-cdash.csail.mit.edu/viewTest.php?onlyfailed&buildid=1306590

[2020-06-22 21:17] hongkai-dai opened #13586 "Compute Hessian of MBP dynamics function"
If I have a function f(q, v, v̇, λ) = M * v̇ + C(q, v) - Bu - J'λ, I wish to compute the Hessian of this function `f` w.r.t `q, v, v̇, λ`. Some of the Hessian terms are easy to compute, but to compute ∂² f / ∂ q², it requires computing the Hessian of ∂² M / ∂ q² and ∂² C / ∂ q², which I don't know how to do yet.

I guess the easiest solution might be to instantiate MBP with nested AutoDiffScalar.

[2020-06-22 21:57] sherm1 commented on #13586
Since f is a vector function, ∂f / ∂q is a matrix. That makes ∂²f / ∂q² a hypermatrix. Is that what you're looking for?

[2020-06-22 22:41] hongkai-dai commented on #13586
I should have been more clear, I mean ∂²f(i) / ∂q², namely the second order derivative of the i'th entry of `f` w.r.t `q`.

[2020-06-22 23:11] sherm1 commented on #13586
We don't have a way to calculate just a single generalized force f(i) so the nested AutoDiff calculation would give { ∂²f(i)/∂q² | i ∈ 0..n-1 }. (That's a way to represent the 3D hypermatrix.) I'm not seeing an easier way to get that though.

You don't have u in the functional dependence of f. Should it be there?

[2020-06-22 23:18] hongkai-dai commented on #13586
Yes `u` should be there also.

Makes sense. I think if we use nested autodiff, we can still return `f` as an Eigen::Vector<NestedAutoDiff>, where the i'th entry of this `f` contains the value of `f`, the gradient and the Hessian.

[2020-06-23 00:16] sherm1 commented on #13586
Yes, each entry would contain its value, gradient, and Hessian.
Added u in the issue description.

BTW @edrumwri wrote [a document](https://drive.google.com/file/d/1pTG_eY0-GqwGYL1IAfKNzf9bGmXpuKfM) on AutoDiffing that has a Hessian section.

Assigning to @rpoyner-tri for now as vaguely related to #10991 -- this is an application that would _really_ stretch AutoDiff performance!

[2020-06-23 03:23] DamrongGuoy commented on #13507
I remember something that I saw in FCL long time ago.  It mention here in case it is relevant.

I saw these lines in FCL:
[code]
https://github.com/flexible-collision-library/fcl/blob/master/include/fcl/broadphase/detail/hierarchy_tree-inl.h#L769

It compares two pointers `p` and `n`. It's inside a function named `sort` (but it does not look like sorting to me) :
[code]
https://github.com/flexible

[2020-06-23 03:45] sherm1 commented on #13507
Interesting -- would definitely cause different behavior with randomized addresses.

[2020-06-23 03:54] mitiguy commented on #13354
PR #13587 should address the remainder of this issue #13354.

[2020-06-23 03:54] #13354 closed

[2020-06-23 04:46] sherm1 opened #13591 "Provide copy_on_write_ptr for use in Drake"
We have had many discussions about using copy-on-write as an optimization for dealing with large shared objects that are rarely written on (e.g. #9501). Currently we can't experiment with that approach due to lack of a suitable thread-safe smart pointer.

We have copyable_unique_ptr and should add a compatible copy_on_write_ptr. Design thoughts:
- should be thread safe by default (an atomic_int re

[2020-06-23 13:59] jamiesnape commented on #13514
FTR https://www.apple.com/newsroom/2020/06/apple-announces-mac-transition-to-apple-silicon/.

The Apple developer documentation also has various information on the differences between the `arm64` and `x86_64` architectures that are applicable to Linux too, e.g., float-to-int conversions.

[2020-06-23 15:39] rpoyner-tri commented on #13585
Adding team label as part of platform-review rounds.

[2020-06-23 17:47] RussTedrake commented on #11448
Thanks @joemasterjohn .  It definitely helps them with a resolution, but might there be a little preamble that helps them understand why the sudden requirement?  something as simple as "you've requested an MBP call that requires a geometry query... " then your text?

[2020-06-23 17:56] jamiesnape commented on #12645
I have looked deeply into why yet, but it is not looking promising with the proxy. Certainly the HTTP is being correctly proxied from 7000 to 8888, but the upgrading to a websocket is running into problems. I will keep working on it, but I am not hopeful.

[2020-06-23 22:26] hongkai-dai commented on #13313
If this feature works, then we can easily get both AutoDiff with constant size, or the Hessian using nested autodiff.

[2020-06-23 22:32] jwnimmer-tri commented on #13313
This would still be a closed set of support scalar types.  This is just allowing a method call syntax where the one (of three) choices is a template argument, instead of part of the method name (i.e., the ToAutoDiffXd, ToSymbolic, etc. family).

As always, if we want a new scalar in Drake, then we add it to `default_scalars.h` and throughout the code.

[2020-06-23 23:02] rpoyner-tri commented on #13506
well well well. Finally got the pure-c++ version of Eric's counterexample running under ubsan:

[code]

That's UB error, something to chase further.

[2020-06-23 23:08] rpoyner-tri commented on #13506
Some stack traces:
[code]

[2020-06-23 23:16] rpoyner-tri commented on #13506
Bah. The above errors appear to be deliberate UB on the part of eigen. I'll see if I can make them defined temporarily, to allow analysis to go further.

[2020-06-23 23:44] sherm1 commented on #13506
Oh rats. I was hoping it was something we did in ArticulatedBodyInertiaCache which appeared in the middle of that stack.

[2020-06-24 00:26] rpoyner-tri commented on #13506
Nope. I patched the eigen UB, and can't find any more problems with UBSAN, at least in its current configuration.

[2020-06-24 03:32] mitiguy commented on #13562
Created PR#13593 to check AutoDiff and vector differentiation in a non-world frame (for issue #13562).

[2020-06-24 14:24] RussTedrake commented on #12645
I've been thinking about this again.  A few observations:
- I believe we consider the actual Binder service to be flakey (probably too flakey for use with student problem sets, for instance).  I think the work we are doing here is really paving the way to us having 3d visualization in a JupyterHub / BinderHub if we have our own instances.  Correct?
- Colab was a reliable resource for class.  I was

[2020-06-24 14:35] jamiesnape commented on #12645
We would have more flexibility with our own JupyterHub, so the solution could be different/easier.

Yes, it is the network connection. In principle, most of the JavaScript visualizers should work fine with any of the managed platforms so long as we can get the necessary data to them.

[2020-06-24 15:21] jwnimmer-tri commented on #11913
\CC @IanTheEngineer

[2020-06-24 19:08] amcastro-tri commented on #13567
late to the party. I agree with your intuition @RussTedrake. The reason I designed TAMSI with a non-zero derivative functional form of the regularized friction is because I also thought it was odd. The reality is that in the stiction region we want regularized friction to behave as a very thick viscous fluid. That only happens if the derivative is non-zero at the origin. Mathematically, TAMSI will

[2020-06-24 20:55] rpoyner-tri commented on #13506
Hm. Here's a curious property. The c++ repro implementation (Reuse style, discrete) I have differs at time 0.001, while the python implementation differs at time 0.002. The nominal simulation run-time was 1 second. When I reduce the run-time to 0.009 *in both implementations* the divergence goes away. At run-time 0.010 *in both implementations* the divergence reaapears. In all cases, the time step

[2020-06-24 21:09] EricCousineau-TRI commented on #13506
Just to check, "divergence goes away" implies that both have non-unique results, but at the same time?

[2020-06-24 21:21] sherm1 commented on #13506
Easier to think of this in terms of steps rather than time. Step 0 is Simulator::Initialize(). Then if the steps are discrete, we can talk about step 1, step 2, etc. The actual times should be irrelevant.

[2020-06-24 21:23] sherm1 commented on #13506
Trickier with variable-step integration (the default for continuous simulation). However those can be single stepped with some advanced methods (or in the debugger).

[2020-06-24 21:25] rpoyner-tri commented on #13506
@EricCousineau-TRI  -- yes, if I only run to end_time 0.009, the two trials match in both rigs. I'm only doing 2 trials and 1 meta-trial, but the divergences have been quite stable over various other changes. Hardware is my local laptop.

[2020-06-24 23:15] RussTedrake commented on #12645
Poking around a little more, it looks like `meshcat-server` is not actually needed.  I'm new to this, but based on some code browsing, I *think* we could probably hand the meshcat viewer js directly to the jupyter notebook (instead of the iframe through the meshcat-server), and connect to it via a websocket from our pydrake visualizer.  And a little googling suggests that websockets do (must?) wor

[2020-06-24 23:31] rpoyner-tri commented on #13506
So here's a bit more information. If instead of tweaking end_time values, I just comment out two lines in systems/analysis/integrator_base.cc, I can use any value of end_time and have Reuse, Discrete, NoGeometry work.

[code]

I'm pretty sure that breaks other stuff, but it is concrete information. Want to know how I found it? Answer beneath the fold:

[2020-06-24 23:34] rpoyner-tri commented on #13506
============ fold ==================
Having found the behavior difference between end_time=0.009 and end_time=0.010, I ran each of those with --config=kcov, saved the output bazel-kcov/ trees separately, and (somewhat tediously) compared them to find the differences. The only differing branch executions were the one indicated, and some consequences in simulator.cc.

[2020-06-24 23:41] jwnimmer-tri commented on #9865
I landed here because we've again had three months pass with little to no progress, and so the deprecation date is going to bump forward again another three months.

I don't think that's a helpful summary.  It might be factually accurate, but is is not the relevant metric to survey.  Most of the pydrake uses are just mirroring whatever C++ uses exist.  There are several _novel_ uses of `Isometry3`

[2020-06-25 00:37] sherm1 commented on #13506
Because of roundoff error, setting an end (boundary) time to .009 does not guarantee that 9 discrete updates of .001 each will occur. In fact in floating point world 9*.001 > .009 by a _teeny_ bit. So without Rico's change to the code that ensures we don't go past the boundary time, the 9th update doesn't occur. Commenting that code out allows time to reach 9*.001 instead so the final update does

[2020-06-25 02:16] RussTedrake commented on #12645
[Here is a link ](https://colab.research.google.com/drive/1O-WgLtqKGuHKEeD4CFT69870dPEJRsQJ?usp=sharing) to my experiments with meshcat on colab.

[2020-06-25 10:44] RussTedrake commented on #12645
ok, I've got it basically working in the notebook above.  `ngrok` for the win.
(specifically, I can launch an meshcat-server on the colab notebook, connect to it on colab with meshcat-python, and open up a new window on my local machine and see the results).  the last step is to get the jupyter_cell rendering working right in the colab notebook, which is close.

[2020-06-25 13:09] SeanCurtis-TRI commented on #13506
Agreed. It's easy to believe that the running to 0.009 with the code commented/uncommented would produce different answers (because the last step would be slightly smaller than all previous steps). But why that would affect restarting? Weird.

[2020-06-25 13:14] jwnimmer-tri commented on #13539
We'll kick this off on week of Monday 7/13.

[2020-06-25 13:35] amcastro-tri commented on #13506
That's.... just.... genius!

[2020-06-25 18:40] rpoyner-tri commented on #13506
https://github.com/rpoyner-tri/drake/tree/pr13505%2Bfixes is a branch that fixes all the style=Reuse cases by adding a (missing, but who would have known?) simulator.Initialize() call. h/t Sherm for the patch idea.

There are still other discrete cases that diverge. As things go on, I may have to reorganize the GH issues to better represent what's happening.

[2020-06-25 18:43] jwnimmer-tri commented on #13506
Calling Initialize is not incumbent upon users -- AdvanceTo shall call it implicitly anytime it's needed.

[2020-06-25 19:53] sherm1 commented on #13506
In this case the same Simulator was being used to run a second simulation. There was no way for the Simulator to know that this wasn't just a continuation of the previous simulation. We could attempt to infer that from seeing time go substantially backwards in a Context. However it doesn't seem unreasonable to me to require simulator.Initialize() explicitly when intentionally re-starting a simulat

[2020-06-25 19:57] sherm1 commented on #13506
One plausible heuristic would be to say that if AdvanceTo() sees _any_ external time change in its internal Context, it should call Initialize() before proceeding. Maybe safer would be to throw a message saying that an Initialize() is required.

[2020-06-25 20:08] SeanCurtis-TRI opened #13597 "[geometry] ConnectDrakeVisualizer ignores geometry state in context"
Calling `ConnectDrakeVisualizer` adds some systems to the diagram which are responsible for dispatching LCM message to initialize and update the illustrated SceneGraph geometries in `drake_visualizer`. Unfortunately, when the initialization event is processed to generate the "load" message, the system queries [the model inspector for the `SceneGraph` whose pointer has been stored](https://github.c

[2020-06-26 13:30] RussTedrake commented on #7559
I’d like to upvote the priority for this.  The search is really a limitation, and gives the impression to new users that we don’t have good documentation (even though we do!).

Before rediscovering this thread, I was looking at Doxygen’s search offerings: https://www.doxygen.nl/manual/searching.html
I don’t know that we’ve tried the trivial experiments.  But we definitely don’t have any of them en

[2020-06-26 14:00] jamiesnape commented on #7559
If you don't mind me using one of our bot's Google Accounts, I can set up Custom Search easily enough.

[2020-06-26 17:18] hongkai-dai opened #13599 "Generate SDPA format for any SDP problem"
[SDPA](http://plato.asu.edu/ftp/sdpa_format.txt) is a standard input format for many SDP solvers. If Drake can convert a MathematicalProgram object to this SDPA format, then we get two benefits:

1. We call many SDP solvers that are not supported in drake yet (for example, SeDuMi, SDPT3 in Matlab)
2. We can easily debug if there is any problem in drake's XXXSolver class. We can solve the problem d

[2020-06-26 17:31] rpoyner-tri commented on #13506
@jwnimmer-tri as usual you have a strong opinion. How do I go about gathering requirements? Who are the relevant stakeholders?

[2020-06-26 18:54] EricCousineau-TRI commented on #13506
TBH I think Sherm's heuristic would totes work?
e.g. your time should progress a certain way, and if it goes opposite your desired direction, require re-initialize to be called (explicitly via an error, or implicitly)?

Not sure if this would hurt any other workflows, though (or cause high overhead).

*Even better* is to just trigger a specific flag when calling the uber mega method `Context.SetTi

[2020-06-26 19:51] jwnimmer-tri commented on #13506
I will reply once the email hiatus concludes (on Monday).

[2020-06-27 00:49] RussTedrake commented on #7559
I can't think of any reason that would be a problem.

[2020-06-27 12:04] TobiaMarcucci opened #13601 "Support for even polynomials in MathematicalProgram"
As discussed with @hongkai-dai.

## Proposal:

I would propose to add the support for even polynomials in `MathematicalProgram`, i.e., (multivariate) polynomials `p` for which `p(x) = p(-x)`. These can be useful, e.g., when looking for a Lyapunov function `V(x)` for a system with odd polynomial dynamics `x_dot = f(x) = -f(-x)`: by symmetry, if stable, this system must admit an even Lyapunov functi

[2020-06-27 17:53] hongkai-dai opened #13602 "Support richer set of bases in polynomials"
This comes from a discussion with @TobiaMarcucci

Currently our `Polynomial` class is written as a linear combination of monomials `∏xᵢᵈⁱ`. As mentioned in the previous literature, monomials are "bad" bases for polynomials. Instead, we can consider other orthogonal basis such as Chebyshev, Lagrange, Gegenbauer polynomials (section 3.1.5 of https://sites.math.washington.edu/~thomas/frg/frgbook/SIAM

[2020-06-27 18:10] RussTedrake opened #13603 "document the fact that gurobi and mosek are not available in the binary builds"
In responding to this question:
https://stackoverflow.com/questions/62587294/nightly-build-doesnt-acquire-mosek-license/62613736#62613736
I went to look for the place in the documentation, or an open issue, that I could cite.  I didn't find one.

https://drake.mit.edu/doxygen_cxx/group__solvers.html says SNOPT is provided in the binary release, but I didn't see anywhere we say that Gurobi and Mose

[2020-06-27 18:15] hongkai-dai commented on #13603
No I don't think it is written anywhere. We should probably add it in https://drake.mit.edu/from_binary.html

[2020-06-28 17:34] iperper opened #13606 "Additional Focal Dependencies for Binary Install"
Recently upgraded from 18.04 to 20.04 via clean install.

Today installed Drake via binary [https://drake-packages.csail.mit.edu/drake/nightly/drake-latest-mac.tar.gz](https://drake-packages.csail.mit.edu/drake/nightly/drake-latest-mac.tar.gz).

Added drake to python path.

`import pydrake` => `ImportError: libClp.so.1`.

This was because I forgot to run `sudo .\install_prereqs`.  After running sc

[2020-06-28 19:06] RussTedrake commented on #12645
@jamiesnape -- i've got a concrete ask.  I've cleaned up my [colab example](https://colab.research.google.com/drive/1O-WgLtqKGuHKEeD4CFT69870dPEJRsQJ#scrollTo=wgdiSo0NTwQJ), which describes the last hurdle: I need `wss` to work through `ngrok` in order to connect to meshcat in a colab cell.  Any help is appreciated.

[2020-06-28 23:00] huihuaTRI commented on #11965
The naming of the internal variable `unordered_map<GeometryId, RigidTransformd> X_WV_;` has a conflict with Drake's monogram style. While it's arguable whether this is ok, I figure it worth marking it here for future discussion.

[2020-06-29 12:11] jwnimmer-tri commented on #13606
Hi @iperper, thanks for your report!

It seems like you're using Ubuntu 20.04.  However ...

... this link doesn't seem correct, for that case.  Could you share which link you were using?

I'll investigate the dependencies, in any case.

[2020-06-29 12:20] jwnimmer-tri commented on #13603
I've added this to the #13539 Epic.

[2020-06-29 13:52] jamiesnape commented on #13603
As far as the Stack Overflow question goes, I guess `pydrake.solvers.mosek.MosekSolver.AcquireLicense().is_valid()` returning `False` is technically correct, but maybe it is not the most user friendly outcome?

[2020-06-29 14:43] SeanCurtis-TRI commented on #11965
To refine that previous comment. See review discussion here: https://reviewable.io/reviews/robotlocomotion/drake/13583#-MAc9xbU4G_qAUYPbo6v

@huihuaTRI Can you describe the conceived conflict? It's not obvious to me, even with the reference to the conversation in the review.

[2020-06-29 15:05] iperper commented on #13606
Oops.  Sorry copied the wrong link.  It was [https://drake-packages.csail.mit.edu/drake/nightly/drake-latest-focal.tar.gz](https://drake-packages.csail.mit.edu/drake/nightly/drake-latest-focal.tar.gz)

[2020-06-29 15:19] mfry90 opened #13609 "VPN issues with Bazel and CMake"
When following installation instructions for python bindings (https://drake.mit.edu/python_bindings.html), cmake is used as a wrapper around bazel:
[code]
I have some problems with building from Bazel due to my VPN (apparently this is a known issue to Bazel, https://github.com/bazelbuild/bazel/issues/3602), but when calling Bazel directly, the following works fine:
[code]

When relying on the CMak

[2020-06-29 15:25] jwnimmer-tri commented on #13609
Does it work if you create a `$HOME/.bazelrc` file with this line as its content?
[code]

My local testing suggests that this might be sufficient.

Since this is presumably a machine-wide problem, fixing it in a homedir dotfile (or even in `/etc/bazel.rc`, if you prefer) seems more suitable that a CMake option.

See https://docs.bazel.build/versions/master/guide.html#bazelrc for details on rcfiles

[2020-06-29 15:49] mfry90 commented on #13609
Yes, that does it, thanks!

[2020-06-29 15:51] jwnimmer-tri commented on #13609
Awesome!

[2020-06-29 15:51] #13609 closed

[2020-06-29 16:35] rpoyner-tri commented on #13506
@jwnimmer-tri as usual you have a strong opinion. How do I go about gathering requirements? Who are the relevant stakeholders?

[2020-06-29 20:07] ggould-tri commented on #13282
FYI @sammy-tri has requested that this migration to drake not proceed until he has finished some related work on the upstream feature (reference anzu #4963 ).  Talk to Sammy or me for details if this is blocking you.

[2020-06-29 22:02] huihuaTRI commented on #11965
Initially, when I read the member `X_WV_`, the first thought popped in my mind is that this represents some transformation. Then I realized that it has more information than just a transformation. Since you mentioned that you plan to refactor the code in the future, I figure it would be nice to add a comment here to remind this discussion for future reference, independent of whether we want to cha

[2020-06-30 12:27] RussTedrake opened #13614 "relocate content from lingering .tex files in doc/ directory"
We have a few .tex files in the drake/doc directory that I suspect aren't in the best place.  @hongkai-dai -- I believe both are yours.  Consider moving that information and zapping the files?

[2020-06-30 13:57] jwnimmer-tri commented on #13506
As I understand the experiment, almost every single value stored in the Context
changed between the final AdvanceTo of the prior simulation, and first
AdvanceTo of the next simulation.  I cannot fathom the claim that the Simulator
cannot deduce that its class-member data is no longer accurate after such a
huge Context mutation.

A wise man once said:

If an expert user was unable to get accurate r

[2020-06-30 13:59] jamiesnape commented on #12645
I will look into it.

[2020-06-30 14:44] jamiesnape commented on #12645
A small amount of progress. This gets me a connection, but not necessarily a working connection:
[code]
Among other things seems `wss://localhost:7000` does not work the same way as `https://localhost:7000` in relation to a server running on Colab. Also `location.host` is missing the port number (so is hard-coded for the moment).

[2020-06-30 15:07] SeanCurtis-TRI commented on #12594
I'm going to open a separate issue for missing features, leaving *this* PR to be strictly about porting from Anzu (which will be accomplished by #13616).

[2020-06-30 15:10] SeanCurtis-TRI opened #13617 "[render] RenderEngineGl has incomplete implementation of RenderEngine interface"
We've ported `RenderEngineGl` from Anzu back to Drake (#13584). However, the ported code is incomplete:

- [x] The ability to display the rendering is missing. (resolved by #13626)
- [x] Unable to render label images. (resolved by #13659)
- [x] Unable to render color images. (resolved by #14226 and #14260)
- [x] Needs to support full intrinsic specification (see, #11880 for details)
- [ ] Add Rend

[2020-06-30 15:13] SeanCurtis-TRI commented on #11965
Sorry, I wasn't clear. I have no issue with you documenting an issue that came up during review that is relevant to this issue. I fully support that.

The problem is that I'm not clear on what is being documented. I see neither a clear statement of a problem, nor a clear statement of a resolution (this latter is not required, but always appreciated.  :D))  All I see is "conflict with Drake's monog

[2020-06-30 15:22] SeanCurtis-TRI commented on #13506
The thing that jumped out at me most in what @jwnimmer-tri wrote is something implied about the semantics of `Initialize`. It seems that `Initialize` does both internal (things private to `Simulator`) and external (events declared by systems in the `Diagram`). We should always initialize the diagram when a simulation on that diagram "starts". The user should be aware of this fact and should have t

[2020-06-30 15:57] jwnimmer-tri commented on #13506
Along those lines, I also believe Initialization-triggered System events are broken and evil.  I see no purpose for them other than to confuse and introduce problems akin to those noted upthread.  Things like "tell the visualizer about the geometries" are fundamentally wrong and broken when formulated as initialization events.  If the visualization publisher needs to sync its framework's model of

[2020-06-30 16:19] sherm1 commented on #13506
Honestly I don't understand the fuss over this. Of course the Simulator has internal state, like any other interruptable computation. That's what allows us to make repeated AdvanceTo() calls to step through a simulation. I would argue that the real source of the problem is the hidden call to Initialize() that we make on first call to AdvanceTo(). If we hadn't done that we could have a simple rule

[2020-06-30 16:32] sherm1 commented on #13506
This may be true; I'm not sure. To be clear though, misuse of Initialization-triggered events is an application issue. No one is obligated to (mis)use them! The Simulator provides that feature and its exact effects are well documented. Personally I think they are necessary and useful. Is there a missing Simulator feature that would make life better for users?

[2020-06-30 16:35] jwnimmer-tri commented on #13506
We're now definitely past that point where written communication is effective; your replies indicate you've entirely missed the point.  Please schedule a call if this issue is still relevant / being actively worked on.  If Rico takes notes, then we can ensure the communication is captured in writing here for the record.

[2020-06-30 16:59] sherm1 commented on #13506
This issue is about nondeterministic results and is still under active investigation (in Rico's capable hands). Adding a call to Initialize() addressed only a small subset of the reported problems. Larger topics raised above should be discussed elsewhere.

[2020-06-30 17:04] jwnimmer-tri commented on #13506
I am content to pause the discussion while further investigation continues, as long as we agree that "Call Initialize" is a _mitigation_ in order to continue exploring other causes -- in other words that Initialize is _not a resolution_ to any kind of non-determinism.  Above, when Rico wrote "fixes all the style=Reuse cases" and "missing Initialize call", I interpreted that to mean it was viewed a

[2020-06-30 17:14] sherm1 commented on #13506
Sorry, I don't yet agree with your statement above. However, I do agree this isn't the right place to discuss it. The work to uncover the sources of nondeterminism has barely begun; I'd like to understand all the causes before arguing about cures.

[2020-06-30 19:16] mitiguy opened #13618 "Enable cast() method to cast RotationMatrix and RigidTransform from AutoDiff to double."
The RigidTransform::cast() method in rigid_transform.h does not allow casting from Autodiff to double.
The RotationMatrix::cast() method in rotation_matrix.h does not allow casting from Autodiff to double.
There is a TODO in the code in rotation_matrix.h that highlights that defect.

Below is a helper function in  drake/geometry/utilities.h that shows how Sean Curtis nicely programmed around what

[2020-06-30 19:30] jwnimmer-tri commented on #13618
Demoting from AutoDiff to double is potentially information-losing; see #12650 for some discussions on appropriate function names for such lossy kinds of functions semantics.

I think we should _not_ overload "cast" to mean both kinds of conversion -- we should use a more careful (+ consistent with the rest of Drake) method name for the information-losing direction.

[2020-06-30 20:13] sherm1 commented on #13618
Good point. Likely the semantics we want here is what we already have with `ExtractDoubleOrThrow()`, but acting on the whole RotationMatrix or RigidTransform object.

[2020-06-30 20:21] jwnimmer-tri commented on #13618
My thought once #12650 settles on semantics was to make the new term an customization point; for example we could have `rotation_double = ExtractDoubleOrThrow(rotation_autodiff)`.

[2020-06-30 20:42] huihuaTRI commented on #11965
Sure. The problem is that the naming of the definition `unordered_map<GeometryId, RigidTransformd>` has a similar pattern as what's been used by the drake transform monogram. It caused confusion initially. The reader (mainly me) thought it is a transform, but it actually contains more information. The proposition is that we could potentially use different naming for it during the refactor.

[2020-06-30 20:44] sherm1 commented on #13618
Yep, nice. That could instead be a member `rotation_double = rotation_autodiff.ExtractDoubleOrThrow()` but the uniform syntax of an overloaded global function has advantages. (In any case the member function could serve as the implementation of the global function in the manner of, e.g., `swap()`.)

It may still be good to have `rotation_double.cast<U>()` where U is double, AutoDiff, or Symbolic w

[2020-06-30 20:56] SeanCurtis-TRI commented on #13618
I'm wondering if the `.cast<>` method has any real value in its current state. While the name is suggestive of semantics similar to to C++'s casting features (which do allow for casts that lose information), its implementation is woefully incomplete. I know the `cast()` method in `RotationMatrix` and `RigidTransform` matches that of Eigen; I can't do `Eigen::Vector3<AutoDiffXd>().cast<double>()` e

[2020-06-30 21:02] SeanCurtis-TRI commented on #11965
While I'm still not 100% sure of what your concern is, I think I have the idea. X_WV suggests a single transform, and the map contains a set of transforms. I feel your concern would be 100% resolved by changing the name `X_WV_` to `X_WVs_`. (Assuming frames W and V have some meaning).

Certainly, this wouldn't cause concern:

`std::vector<RigidTransformd> X_WVs;`

So, similarly, this shouldn't eit

[2020-06-30 21:12] RussTedrake opened #13619 "remove drake-urdf-schema-documentation from drake.mit.edu"
I've been using google to search drake documentation, as recommended in #7559 and it works well.  But it also reveals that we've got some cruft on the web server.

For instance, googling [`urdf site:drake.mit.edu`](https://www.google.com/search?q=urdf+site%3Adrake.mit.edu) finds lots of his in the out-of-date schema documentation.

[2020-06-30 21:14] huihuaTRI commented on #11965
Thanks, this is what I mean when I originally commented in the review process. Then you mentioned that the code will under refactor and this may be something you will consider in the refactor. I figure it might be worth adding a note here.

I was not strong about this change in the beginning since I realized that there are multiple similar cases in the code already. That being said, I am totally o

[2020-06-30 22:22] rpoyner-tri commented on #13506
I did use the word "fix" above, but only intended the sense of "makes trials match numerically". I have been agnostic on the question of whether an explicit Initialize() call should be an approved or complete solution.

[2020-06-30 22:24] rpoyner-tri commented on #13506
Also, FWIW, the phenomena I have seen have been quite stable. i wonder if "divergence" is a better term than "non-determinism". There is no evidence from dynamic analysis of any memory violations or other UB.

[2020-07-01 00:21] sherm1 commented on #13562
FYI here is Evan's [Intro to AutoDiff](https://drive.google.com/file/d/1pTG_eY0-GqwGYL1IAfKNzf9bGmXpuKfM).

[2020-07-01 04:35] EricCousineau-TRI commented on #13506
FTR I've incorporated Rico's fix in 75b1ebf8, which you can see here (and you can see the change from r5 to r6):
https://github.com/RobotLocomotion/drake/pull/13505#pullrequestreview-440539223

[2020-07-01 13:08] ggould-tri opened #13624 "jaco_description lacks package.xml"
Most of the manipulation models subdirectories have package.xml files to allow ROS-style access via the package:// URI scheme.

Note that the `jaco_description` (and `ycb`) subdirs are not on that list.

This required a fairly ugly workaround in a downstream project.

FYI @sammy-tri @EricCousineau-TRI

[2020-07-01 13:11] jwnimmer-tri commented on #13624
For the record, we have discussed removing _all_ of those `package.xml` files in lieu of a single `package.xml` at the root of Drake.  But until we make that change elsewhere, we should be consistent for the jaco.

[2020-07-01 13:15] jamiesnape commented on #13619
Done, though it will take a while for Google to remove it from their index.

[2020-07-01 13:15] #13619 closed

[2020-07-01 13:16] ggould-tri commented on #13282
FYI the code in question contains a workaround for #13624, which I am mentioning here so that github puts appropriate notifying badges on the issues.

[2020-07-01 13:32] ggould-tri commented on #13282
Recording an items from downstream:
 * #10531 would augment and simplify this feature.
   * Currently model directives contains a mechanism ("`add_package_path`") to import packages.
   * In fact this mechanism is a design defect, as only the caller can know how to resolve a given package (because this involves figuring out how the relevant workspace, installation, or bazel external should handle

[2020-07-01 13:40] jwnimmer-tri commented on #10531
The counter-argument is that Drake is _providing an implementation_ of those model packages (by vendoring them + fixing bugs), so _should_ use the stock naming for interoperability with consumers that expect the standard name.

I don't know which direction ends up best, but I think it's important to discuss and confirm the above assertion, instead of taking it as an axiom.

[2020-07-01 14:08] calderpg-tri commented on #10531
The counter to this is that Drake is providing a deliberately ROS-incompatible variant of these packages, so interoperability with customers used to the "standard" version of the package is quite poor.

[2020-07-01 15:08] jamiesnape commented on #7559
You can test the search from here: https://cse.google.com/cse?cx=000573978146867327766:lutxsxsejrg. I will need to embed some HTML into the various pages next.

[2020-07-01 16:48] #12594 closed

[2020-07-01 16:53] sherm1 commented on #12591
Reassigning to Toffee for disposition.

[2020-07-01 17:30] EricCousineau-TRI commented on #12591
(Late response triggered by Drake Dev mtg :P)

Do we *really* do that for C++ code? I've seen bugs in the C++ docstring examples -- yes, they got fixed, but it indicates that we may not have rigorous testing / review at creation time.
I don't think it's fair to have expectations be higher for Python code than C++ code?
Also, perhaps a slightly wrong example (that can be corrected) is higher value

[2020-07-01 18:19] sherm1 commented on #12591
I feel confident that all the C++ developers in Dynamics can write C++ examples, likely cribbing from their C++ unit tests. I'm skeptical that non-users of our Python interface can write reasonable examples. But maybe that can be cleaned up in review.

[2020-07-01 18:43] mitiguy opened #13625 "Consider/discuss adding method such as Frame::CalcAngularVelocity(context, frame_A, frame_E)."
Consider adding method such as Frame::CalcAngularVelocity(context, frame_A, frame_E).

Possible advantage:
1. Ease of use.  Angular velocity is one of the most basic kinematic quantities.
    It should be easy to find within the Drake public API.
    Currently, one must use a call such as frame_B.CalcSpatialVelocity(context, frame_A, frame_E).rotational().
    When reading code, I think it easier