[2020-11-09 22:30] SeanCurtis-TRI commented on #14306
I can definitively confirm this behavior. It is expected, even if regrettable. The "fix", such as it is, won't be a small one. I don't think it should hold up the basic access to collision filter groups in the sdf file. An interim band-aid would be to clearly document this behavior in a discoverable context.

That goes on my TODO list -- as part of my Q4 OKRs (as in, I am already addressing geomet

[2020-11-09 22:47] IanTheEngineer commented on #10531
Per f2f chat with @jwnimmer-tri , we discussed how to tackle the rest of this issue. Add a Drake `package.xml` so that mesh resources can be referenced using the uri syntax of `package://drake/`. We enumerated the following steps:

1) Create a top-level drake package.xml
    - [ ] Add a new `drake/package.xml`
    - [ ] Pre-populate the PackageMap with `package://drake` uri
    - [ ] Create a new

[2020-11-10 03:16] EricCousineau-TRI commented on #14306
If it helps, I've added a quick breadcrumb in Anzu PR 5833.

Basically, the filters are ephemeral in our current code:
https://github.com/RobotLocomotion/drake/blob/96e0cc0b94926f0725ba69f544fda6e9200b216c/multibody/plant/multibody_plant.cc#L880-L895

[2020-11-10 03:18] EricCousineau-TRI commented on #14306
If it's OK, I can uber-briefly split that aspect out in a separate issue.

[2020-11-10 14:12] jamiesnape opened #14310 "Remove documentation only prerequisites from provisioned images"
i.e., anything that is only installed when the `--with-doc-only` flag is passed to the prerequisite scripts.

Relates #13832. Depends on #14168.

[2020-11-10 17:08] sherm1 opened #14312 "Three fem/dev tests failing valgrind"
For reference  (thanks, Jeremy): https://drake-jenkins.csail.mit.edu/view/Production/job/linux-bionic-clang-bazel-nightly-valgrind-memcheck/725/

[code]
These tests were temporarily switched to manual in #14311.

These should be fixed right away and re-enabled, please -- typically valgrind catches real problems like references to uninitialized memory.
cc @xuchenhan-tri @amcastro-tri

[2020-11-10 18:35] jwnimmer-tri commented on #13832
From #14168 review: it seems like `bazel build //doc:serve_sphinx //bindings/pydrake/doc:serve_sphinx` might be missing from the CI recipe for Documentation builds.  We need to ensure that those program still compile, since the docs instruct developers to run them.

[2020-11-10 19:49] amcastro-tri opened #14315 "Capability to compute the Coriolis matrix."
We can write the Coriolis bias term as `c(q, v) = C(q,v)⋅v`. MultibdodyPlant offers `MBP::CalcBiasTerm()` to compute the (lower case) `c(q,v)`.
We want the capability to compute the (upper case) matrix `C(q,v)`.

Brian Acosta provided [this nice reference](https://arxiv.org/pdf/2010.01033.pdf) on a recursive algorithm to compute this matrix.
cc'in @mposa.

### Observations
 - Even though  `c(q,v)`

[2020-11-10 19:57] sherm1 commented on #14315
cc @Brian-Acosta

[2020-11-10 19:58] sherm1 commented on #14315
cc @mitiguy

[2020-11-10 22:05] mitiguy commented on #14315
From the documentation for MultibodyPlant::CalcBiasTerm( ... ), the equations are written as:
  M(q) v̇ + C(q, v) v = tau_app + ∑ (Jv_V_WBᵀ(q) ⋅ Fapp_Bo_W)

I may be missing something that was said earlier.
What is the underlying motivation for the need (or importance) in calculating capital C(q,v) ?

[2020-11-10 23:58] sherm1 commented on #14306
Assigning to @SeanCurtis-TRI for disposition.

[2020-11-11 00:40] mitiguy commented on #13646
When it merges, I anticipate PR# 14316 resolves this issue.

[2020-11-11 00:42] xuchenhan-tri commented on #14312
The issue is resolved by PR #14313.

[2020-11-11 00:42] #14312 closed

[2020-11-11 13:17] EricCousineau-TRI opened #14321 "py deprecation: Why did meshcat error escape Drake CI?"
See #14320

Should reinvestigate #14292 to see what might have shielded that error from being caught.

Guesses:
- Too expansive of an error filter (e.g. `assertRaises(RuntimeError)`, with no check for text) - maybe like 40% chance
- Somehow, the codepath wasn't tickled by untittests? - maybe like 10% chance?
- Some weird global mode switching - maybe like a 50% chance?

\cc @RussTedrake

[2020-11-11 14:10] jamiesnape commented on #13832
https://github.com/RobotLocomotion/drake-ci/blob/425c8239e235a46498e682f6facbac43b03b0334/driver/configurations/bazel/step-build.cmake#L58 is the place to look.

[2020-11-11 14:51] ggould-tri opened #14322 "Yaml serialization of templated variant types fails (emits invalid yaml)"
`YamlWriteArchive` serialization of `std::optional<DistributionVectorVariantX>`'s `DeterministicVector` arm emits invalid yaml consisting only of the type tag and without the value.

See the following additional test case: [demonstrate_stochastic_optional_fail](https://github.com/RobotLocomotion/drake/compare/master...ggould-tri:demonstrate_stochastic_optional_fail#diff-b2d63c15aa78ba9735ccd7bc494

[2020-11-11 14:54] jwnimmer-tri commented on #13832
LGTM

[2020-11-11 14:56] ggould-tri commented on #14322
From local experimentation, I am finding that if I add another element after the variant it is not serialized at all, leading me to suspect that the writer is taking an early return between emitting the tag and its content rather than simply mis-serializing this structure.

[2020-11-11 19:22] jamiesnape commented on #14243
Current list of failures:

* //:py/install_test
* //bindings/pydrake:py/all_each_import_test
* //bindings/pydrake:py/parse_models_test
* //bindings/pydrake/systems:py/monte_carlo_test
* //bindings/pydrake/systems:py/rendering_test
* //bindings/pydrake/systems:py/sensors_test
* //bindings/pydrake/visualization:py/plotting_test
* //examples/van_der_pol:plot_limit_cycle_test
* //tools/workspace/drake

[2020-11-11 20:24] joemasterjohn commented on #12335
@yangwill @mposa @edrumwri Just wanted to let you know that #14167 merged this morning, and with that the reflected inertia feature is added. Please take it out for a test drive whenever you get the chance, the documentation can all be found in `JointActuator` class. I also have a PR in flight #14323 to add parsing for the added parameters to the SDF and URDF parsers.

[2020-11-11 20:31] ggould-tri commented on #14322
Jeremy:  Assigning this to you as the SME; feel free to assign it back to me if you get overloaded.  I'm not blocked on this, although the behaviour is somewhat worrisome.

[2020-11-11 20:35] yangwill commented on #12335
@joemasterjohn , thank you for implementing this! We've been using this PR in our Cassie simulation and the motions seems qualitatively much more similar to what we're seeing in hardware.

[2020-11-11 20:43] Brian-Acosta commented on #14315
Thanks for opening this! This came up because I'm implementing a passivity based controller (http://www.roboticsproceedings.org/rss16/p077.pdf) and C(q, v) is needed to find the desired task space acceleration.

[2020-11-12 17:32] SeanCurtis-TRI commented on #9138
From a recent conversation in slack about *visualizing* point clouds in `drake_visualizer` -- it seemed relevant to this topic:

https://drakedevelopers.slack.com/archives/C43KX47A9/p1605201589030200

[2020-11-12 18:06] mitiguy commented on #14268
@amcastro-tri, @sherm1 @joemasterjohn
It would be helpful to get your input on the API design for CalcCenterOfMassTranslationalVelocity...
The choice for this API will also affect the API for upcoming method CalcCenterOfMassTranslationalAcceleration...

Some possible options for the API:

Vector3\<T\> CalcCenterOfMassTranslationalVelocityInWorld(const systems::Context\<T\>& context) const;

Vector

[2020-11-12 18:15] sherm1 commented on #14268
My favorite API set:
[code]
I don't think we need to provide results in any other frame since (a) hard to imagine why anyone would want that, and (b) if they do we can just point them to the existing shift and re-express methods. Also, the "InWorld" suffix leaves open the possibility of adding more-general methods if needed.

It might also be necessary for performance reasons to provide combined m

[2020-11-12 18:30] jwnimmer-tri commented on #13832
Update on checklist, as I understand it now:

- [x] demote the website out of bazel build //...; update the documentation instructions to make this clear;
- [x] switch the default sense of install_prereqs.sh --with-doc to be opt-in instead of opt-out; update the documentation instructions to make this clear;
- [ ] Remove `--with-doc-only` option from macOS setup scripts.  Document in https://drake

[2020-11-12 18:31] SeanCurtis-TRI opened #14325 "[mkdoc] Deprecating nested classes infects parent class documentation"
When a parent class (e.g., [`RgbdSensor`](https://github.com/RobotLocomotion/drake/blob/f2cdfd2f9855c7f6cfc6ab880c8e7d09df0c0cd4/systems/sensors/rgbd_sensor.h#L96)) has a public nested class (e.g., [`CameraPoses`](https://github.com/RobotLocomotion/drake/blob/f2cdfd2f9855c7f6cfc6ab880c8e7d09df0c0cd4/systems/sensors/rgbd_sensor.h#L101)), the act of deprecating the nested class bleeds into the paren

[2020-11-12 18:32] jwnimmer-tri opened #14326 "Disable RenderEngineOspray on macOS"
Per discussion in #13253, it's going to get increasingly more difficult to maintain Ospray on macOS -- especially with the switch to ARM hardware.  We will make it Ubuntu-only to reduce our build-support engineering cost.

\CC @SeanCurtis-TRI

[2020-11-12 18:32] jwnimmer-tri commented on #13253
... now filed as #14326, to be worked prior to the VTK 9 transition.

[2020-11-12 18:35] SeanCurtis-TRI commented on #14326
We might consider yanking it completely. It's not used. It produced a single shiny video. But it doesn't have full implementaiton of `RenderEngine` and doesn't have any mechanism for fully specifying meaningful materials. Maybe retiring it right out and resurrecting it if/when it has concrete value again. The purpose it was intended to serve has largely been supplanted with external techniques.

[2020-11-12 18:38] jwnimmer-tri commented on #14326
I'll defer to you on that front.  If you want to pull it, I have no objection.

[2020-11-12 18:51] SeanCurtis-TRI commented on #14326
Can we defer the question to the next drake developers meeting? Or should we try a slack poll?

[2020-11-12 18:56] jwnimmer-tri commented on #14326
If we can purge Ospray prior to the VTK 9 upgrade, that would save us some work.  So, the earlier we can get an answer and stark the deprecation clock, the better.

[2020-11-12 19:09] SeanCurtis-TRI commented on #14326
What is that time frame?

[2020-11-12 19:14] jwnimmer-tri commented on #14326
It depends on how fast other work happens.  But maybe in a month or less.

[2020-11-12 19:15] jwnimmer-tri commented on #14326
But the bottom line is really that if you think Ospray is not something we're going to maintain, we should just drop it without even a survey.  The code is there for anyone to fork and keep alive on their own dime.

[2020-11-12 19:42] jwnimmer-tri commented on #14325
Presumably, my macro-matching heuristics have failed somehow, near this point:

https://github.com/RobotLocomotion/drake/blob/f2cdfd2f9855c7f6cfc6ab880c8e7d09df0c0cd4/tools/workspace/pybind11/mkdoc.py#L220-L221

[2020-11-12 20:03] SeanCurtis-TRI commented on #14326
Then, in that case, I'll do a quick slack poll and make sure I'm not misreading the currents.  If things are as I believe, I'll submit a PR at the beginning of next week to jettison it.

[2020-11-12 20:04] SeanCurtis-TRI commented on #14326
(FTR Ultimately, I'd like to have that functionality -- an ability to create high fidelity images from our simulation -- but I think we're exploring enough other options that we don't have to persist the current partial effort in the name of that goal. If nothing else pans out, then we bring it back and flesh it out.)

[2020-11-12 20:06] SeanCurtis-TRI commented on #14325
The alluded to 5 lines seem to suggest the particular pitfall. Do those lines include whitespace? I might try injecting some useless whitespace just to find out. Or moving the definition down deeper into the parent class declarations.

[2020-11-12 20:08] jwnimmer-tri commented on #14325
The `.line` in the code there is literally the source file line number, so yes -- I think whitespace would work around it.

[2020-11-12 20:14] jwnimmer-tri commented on #14322
The bug relates to having `DeterministicVector<-1>` as the tag.  When reading YAML, we discard the template argument while comparing types.  While writing, we fail to strip the template argument from the tag.  And, for some reason, writing a `<` in a tag name makes yaml lose its mind.  I'll work up a patch.

[2020-11-12 21:07] EricCousineau-TRI commented on #14325
FWIW You may want to look at these two files and play with them in a more constrained context:
https://github.com/RobotLocomotion/drake/blob/f2cdfd2f9855c7f6cfc6ab880c8e7d09df0c0cd4/tools/workspace/pybind11/test/sample_header.h
https://github.com/RobotLocomotion/drake/blob/f2cdfd2f9855c7f6cfc6ab880c8e7d09df0c0cd4/tools/workspace/pybind11/test/sample_header_documentation.expected.h

[2020-11-12 21:36] jwnimmer-tri opened #14328 "Withdrawing macOS Mojave (10.14) support"
We are planning on dropping support for macOS Mojave (10.14) support in future releases.

Our usual policy is to keep N, N-1 versions alive for macOS -- so the most recent Apple release, and the one immediately prior.

With Big Sur on the way (#13648) it's time to drop Mojave to make room for it.

[2020-11-12 21:47] SeanCurtis-TRI commented on #14325
Yep. One line of whitespace makes everything happy. But to keep the linter happy, spreading the doxygen comment over *two* lines is sufficient. So, my immediate pain is good, the general issue still stands.

[2020-11-12 21:49] SeanCurtis-TRI commented on #14326
The poll question has been [posted](https://drakedevelopers.slack.com/archives/C0JNB2E3S/p1605214671040200) (and cross posted to sensors and visualization). I'll revisit it at the beginning of next week and take action accordingly.

[2020-11-12 23:19] huihuaTRI opened #14329 "Lack of a good way to use InverseDynamicsController for floating base robot under certain conditions"
The `InverseDynamicsController(IDC)` in Drake requires the passed-in multibody plant is fully actuated. See issue [13718](https://github.com/RobotLocomotion/drake/issues/13718) for details. When working with floating base robots (such as mobile robots), the general workaround is to create a plant with the base welded to the ground to get a fully actuated plant (assuming the upper body is fully act

[2020-11-13 00:48] sherm1 commented on #14329
Thank you @huihuaTRI for an awesome issue description!

[2020-11-13 00:59] jwnimmer-tri commented on #14329
If I'm understanding this correctly, I think you don't have to wait for joint locking.  You could still weld, but then update the `FixedOffsetFrame` parameter in the Context (#14137) during `InverseDynamics<T>::SetMultibodyContext`, where you're already copying the positions over.  You still have the submodel / plumbing problems from #12203 of knowing what pose to update (in the ID context) from t

[2020-11-13 01:13] huihuaTRI commented on #14329
That's new to me. In that case, I need a custom wrapper around the IDC so that I can control every iteration. By "control" I mean updating the IDC's context using `FixedOffsetFrame`. Is my understanding correct?

[2020-11-13 01:17] jwnimmer-tri commented on #14329
https://github.com/RobotLocomotion/drake/blob/bfed6278b5d3fdbb44abf464a4a7eef77b1fe9af/systems/controllers/inverse_dynamics.cc#L80-L91

This is where the positions are copied from the controller's input port to the inner plant's context, anytime the value on `get_input_port_estimated_state()` changes.  You have full mutable access to the inner context (named `multibody_plant_context` above) here,

[2020-11-13 01:31] huihuaTRI commented on #14329
As long as we have a separate control plant that is welded, the state of the base will not be seen in the `get_input_port_estimated_state()`, i.e., the port only communicates the state of the pendulum. That's why you need a wrapper to explicitly update the inner plant's context. The wrapper will take in the state of the base, which will be used to update the fixed frame.

[2020-11-13 01:40] jwnimmer-tri commented on #14329
The IDC input is used both for the PID control and for the ID input.  For this case, within the IDC, you need to demux the IDC input so that floating joint state only goes into the ID input, and not the PID part.  That's what I meant by _"You still have the submodel / plumbing problems from #12203._"  The point holds that MbP has everything you need (I think).

[2020-11-13 02:00] xuchenhan-tri opened #14330 "Heap allocations and virtual function calls in inner loops of FemModel"
Currently FemModel owns a std::vector of pointers to FemElement, and the global quantities (residual, tangent matrix, etc.) are assembled by building the corresponding quantities in FemElement through these pointers. Since the assembly is an inner loop operation, it may make sense to cut down heap allocations and virtual function calls as much as possible. One way to remove the virtual layer, as @

[2020-11-13 14:00] jamiesnape commented on #14326
VTK 9 will get you an NVIDIA OptiX renderer for free with the OSPRay one (still no good for Mac, though), but pulling it and resurrecting it may not be such a bad idea if it is incomplete and not really being used.

[2020-11-13 14:29] RussTedrake commented on #14077
i think we can change system_doxygen.py to whatever it needs to conform.  there was no intent to assume any extra locale support here.

[2020-11-13 14:31] RussTedrake commented on #12590
@EricCousineau-TRI ping.  can i ask you to knock this one out soon?

[2020-11-13 15:24] jwnimmer-tri commented on #10617
With #14294 merged now, all six flavors of nightly CI coverage builds ran for 1-3 hours each last night, and passed, and produced sensible results.

[2020-11-13 15:28] RussTedrake commented on #14197
I'm going to upgrade this to high priority, as I've had about 5 more questions / comments about it from very different user groups since the issue was opening.  It is proving to be a major pain point for users.

[2020-11-13 20:59] rpoyner-tri commented on #10617
Tick box items are done. Closing.

[2020-11-13 20:59] #10617 closed

[2020-11-13 23:43] DamrongGuoy opened #14332 "Refactor code to geometry/proximity:meshing_utilities"
I'd like to create a new library `geometry/proximity:meshing_utilities` in the `internal` namespace. It will contain functions that are called by mesh generators in the Make\*Mesh\*() family and their corresponding unit tests. An incomplete list of functions that will be moved into `meshing_utilities` is:

- CountEdges()
- CountFaces()
- ComputeEulerCharacteristic()
- IsTetrahedronRespectingMa()
-

[2020-11-15 01:14] rpoyner-tri commented on #14215
Starting to roll a PR train, based on the full dev branch available at #14318. The speedup is in the ballpark of 10-15% better than current master on cassie_bench AutoDiff cases. The memory usage is about 15% worse than master on the benchmarks.

There is a further tweak to this branch that could squeeze out another maybe 5% performance improvement, but the style guide forbids it. This would be to

[2020-11-15 21:11] RussTedrake commented on #14133
I'm going to close this and rely on #13038 to track the migration to c++.

[2020-11-15 21:11] #14133 closed

[2020-11-15 21:12] RussTedrake commented on #13038
Planned resolution is to move to c++.

[2020-11-16 00:43] jwnimmer-tri commented on #14215
Before the PR train invests in code review and polishing -- the first question to speak to for all of your reviewers should be whether a 15% speedup is worth the complexity cost of the implementation, both in terms of ongoing maintenance and upkeep, and also in terms of everyday users being able to debug heap-related problems.  When I was prototyping the dense storage override to try SBO out for s

[2020-11-16 13:52] SeanCurtis-TRI commented on #14332
If all of these are related to volume meshes, it might be worth about thinking of a more targeted name. We have a number of mesh-related activities (parsing objs for proximity `Convex` shapes and rendering, generating surface meshes for rendering, etc.) I fear that "meshing" may be too generic.

[2020-11-16 14:50] EricCousineau-TRI commented on #12590
Sure.

[2020-11-16 15:10] amcastro-tri commented on #14330
Something that occurred to me last week, is that we can as a first step, limit `FemModel` to only have a single type of element. For several reasons:
1. We'll use the FEM code as a library. An external layer (`MultibodyPlant` or some other system) will use it to build the necessary matrices to assemble the contact problem. If we happen to have, say, two models like a gripper and a pancake with dif

[2020-11-16 15:14] amcastro-tri commented on #14268
I like @sherm1's proposal. It is very true that most likely no one will want those quantities in any other frame than the world frame.
The world signatures look concise and clean.

[2020-11-16 15:53] rpoyner-tri commented on #14215
Of course it's not worth it. But I need to offer a plausible attempt in order to falsify the hypothesis, lingering here for months, that removing heap thrash would clear the way to substantial speedups.

It's possible that some sequence of optimizations, including this one, will yield a roughly 2x speedup of cassie_bench from the original baseline. Beyond that, i think we hit the wall. If we reall

[2020-11-16 16:17] joemasterjohn commented on #14268
I defer to @sherm1 and @amcastro-tri on the API design. Since the current PR (#14297) is already using:
[code]
an option would be to make that method private (with the option to make it a public API later) and have the public method use it.
Not sure of the usefulness at this point.

[2020-11-16 16:34] joemasterjohn commented on #14268
Actually sorry my bad, you don't have to make any private member functions on `MultibodyPlant`. Since the plant method is just calling the underlying implementation in `MultibodyTree`, you can just change the public plant API and leave the tree API as is.

[2020-11-16 16:45] sherm1 commented on #14268
Although ... we would then have unused (and potentially untested) extra complexity in MBTree which would then lead either to similar unused complexity for CoMTranslationalAcceleration or an incompatibility between Velocity and Acceleration MBTree APIs. I don't think "sunk cost" is a good reason to keep the extra code around if we don't have any other reason to do so.

[2020-11-16 16:56] sherm1 commented on #14215
I'm confused about the purpose of the PR train then. The return value/move optimizations you put in master seemed well worth it. But if this much more complicated revision is only a 15% further speedup that doesn't seem worth the review effort since I presume we wouldn't want that in master. Can you clarify, or should we discuss f2f?

[2020-11-16 17:01] rpoyner-tri commented on #14215
I thought it was obvious to all that this path wasn't going to get another 2x. Even abandoning all thread safety would only get you to about 25% better at the outside. I guess the part I'm confused about is where your cutoff is. If the next change has to achieve 2x beyond current master, we should just stop now - no such improvement is forthcoming in the current forward autodiff scheme.

[2020-11-16 18:09] SeanCurtis-TRI commented on #13617
Opening this back up to make sure we add `RenderEngineGl` to the render benchmarks.

[2020-11-16 18:19] sherm1 commented on #14215
Per f2f -- more of a cost/benefit determination, and a fuzzy one at that. A small change that gave 15% speedup would be a clear win, but that same speedup from a substantial change like this one is likely not a good tradeoff. Also an architectural change that didn't pay off immediately but laid groundwork for substantial speedups in follow-on work could be worth doing (doesn't apply here as I unde

[2020-11-16 21:13] rpoyner-tri commented on #14215
I've posted a few final tweaks to the full-branch PR. At this point I'm ready to tap out and move on to something else.

Some final numbers:
![dense-pool-vs-master](https://user-images.githubusercontent.com/17582368/99308907-a4949000-2826-11eb-8a40-2f27ff6c84ba.png)

[2020-11-16 21:13] #14215 closed

[2020-11-16 21:24] sherm1 commented on #14215
Are those final numbers just 15% better than master's?

[2020-11-16 21:26] rpoyner-tri commented on #14215
Let's say 18-20%, but yes, that is compared to fairly recent master.

[2020-11-16 23:10] xuchenhan-tri commented on #14330
@amcastro-tri, am I correct in understanding that this the same general idea as the one described in the OP of this issue, but with the order of implementing FemModel and FemGroup reversed? In F2F, we said we would continue to flesh out the components of FemModel as structured now, and revisit this issue when we have a more complete picture (e.g. when linear elasticity is functional).

[2020-11-17 00:10] mitiguy commented on #14268
I think the conversation has converged to the following public API.
Let me know if this is incorrect.

Vector3\<T\> CalcCenterOfMassPositionInWorld(const systems::Context& context) const;
Vector3 \<T\> CalcCenterOfMassVelocityInWorld(const systems::Context& context) const;
Vector3\<T\>  CalcCenterOfMassAccelerationInWorld(const systems::Context& context) const;

Vector3\<T\> CalcCenterOfMassPositi

[2020-11-17 00:30] RussTedrake opened #14341 "pydrake: InputPort<Expression>.FixValue() expects np.ndarrays of float, but should expect object"
Per discussion with @hongkai-dai, this is related to https://stackoverflow.com/questions/64617377/typeerror-set-value-incompatible-function-arguments ... where apparently the OP was actually trying to use `AutoDiffXd` (which explains why the repro in `float` didn't help us).

Here is my simple repro:
[code]
which results in
[code]

I think 3 should read `value: numpy.ndarray[object[m, 1]]`, not `f

[2020-11-17 00:42] jwnimmer-tri commented on #14341
The `Xd` here is the source of the problem:

https://github.com/RobotLocomotion/drake/blob/041f6973ed1384c64282892f3754629fc0156607/bindings/pydrake/systems/framework_py_values.cc#L135-L137

I suspect that `X<T>` would work fine.

[2020-11-17 00:44] RussTedrake commented on #14341
awesome.  testing that now...

[2020-11-17 01:04] sherm1 commented on #14268
Looks great. I would suggest deprecating CalcCenterOfMassPosition() in the same PR in favor of CalcCenterOfMassPositionInWorld() to avoid ever having two names for the same thing.

[2020-11-17 01:59] EricCousineau-TRI commented on #14341
Woot! Will reassign since the PR looks like it's going to merge. Feel free to reassign me if any more work is needed.

[2020-11-17 02:02] #14341 closed

[2020-11-17 02:31] RussTedrake opened #14344 "multibody: Joint default values don't survive scalar conversion (e.g. `ToAutoDIffXd`)"
[code]

results in
[code]

I would expect the autodiff version to have preserved the non-zero default states.

Related to #13065

[2020-11-17 04:22] EricCousineau-TRI opened #14346 "multibody: GetBodiesWeldedTo doesn't survive scalar conversion"
In writing #14345, found that `plant_ad.GetBodiesWeldedTo()` fails with something like this:
[code]

Prolly just some topology stuff that needs copying?

Assigning @sherm1 for disposition

\cc @amcastro-tri

[2020-11-17 04:30] EricCousineau-TRI commented on #14346
For now, captured it in a test:
https://github.com/RobotLocomotion/drake/blob/3bcaaf5d733abdfe9329baa2e5c10954626ac4ca/multibody/plant/test/multibody_plant_test.cc#L1387-L1393

[2020-11-17 14:03] jamiesnape commented on #14328
No complaints so far here and I just checked that all our system dependencies are happy with Big Sur (`bazel` and `scipy` protested somewhat, but are good now), so I would propose we start disabling the CI jobs for Mojave this afternoon.

[2020-11-17 14:43] amcastro-tri commented on #14330
All that is correct @xuchenhan-tri . Don't worry, I am not pumping the priority up, but only dumping my thoughts while fresh, which is part of the reason we have issues for.

[2020-11-17 14:59] jwnimmer-tri commented on #14328
SGTM.  We should also do a doc/developers.rst update to go along with that.

[2020-11-17 16:50] sherm1 commented on #14344
@joemasterjohn can you take a look at this?

[2020-11-17 16:54] sherm1 commented on #14346
Yikes -- that's scary. @joemasterjohn, can you look at this one also -- more stuff not surviving ToAutoDiff()?

[2020-11-17 16:56] jwnimmer-tri commented on #14344
There is already a PR open.

[2020-11-17 17:03] joemasterjohn commented on #14344
Sorry I should have left a comment here. #14347 has the fix for this bug.

[2020-11-17 19:14] #14322 closed

[2020-11-17 19:20] mattcorsaro1 commented on #12612
My robotiq_3f example is available in [my fork here](https://github.com/mattcorsaro1/drake/tree/robotiq_3f/examples/robotiq_3f). The underactuation is modeled as a hybrid system as described in [Technical Report: Use of Hybrid Systems to model the
RobotiQ Adaptive Gripper](https://www.researchgate.net/profile/Giulia_Franchi2/publication/278158284_Use_of_Hybrid_Systems_to_model_the_RobotiQ_Adaptive

[2020-11-17 19:25] #14326 closed

[2020-11-17 20:46] #14328 closed

[2020-11-17 21:00] mitiguy commented on #13646
Closing this as PR# 14316 resolves this issue #13646.
https://reviewable.io/reviews/RobotLocomotion/drake/14316

[2020-11-17 21:00] #13646 closed

[2020-11-17 21:49] huihuaTRI commented on #14329
Had a f2f conversation with Jeremy to clear the discussion. What Jeremy suggests is that the current MBP has the capability to achieve the goal via the [`SetPoseInBodyFrame()`](https://drake.mit.edu/doxygen_cxx/classdrake_1_1multibody_1_1_fixed_offset_frame.html#a0f75d54009c77d9ac842af3ebf742e49). We don't need to wait for the "fix joint" functionality. However, it's the IDC that lacks the flexibi

[2020-11-18 02:47] mitiguy opened #14354 "API for Body::CalcCenterOfMassTranslationalVelocity()"
This issue stems from work associated with PR #14297 and issue #14268, i.e., while working to create MultibodyPlant::CalcCenterOfMassTranslationalVelocityInWorld().

The proposed API in body.h which is overridden in rigid_body.h is shown below.
Per f2f with Sherm, input about this API is requested (@sherm1, @joemasterjohn, @amcastro-tri, ...).

[code]

Note: The following code in frame.h shows the

[2020-11-18 14:23] EricCousineau-TRI commented on #13058
Came up again:
https://drakedevelopers.slack.com/archives/C3YB3EV5W/p1605703451063400

[2020-11-18 14:38] EricCousineau-TRI opened #14355 "py systems: `DiagramBuilder.AddSystem()` may not propagate existing keep-alive "edges""
See Slack convo:
https://drakedevelopers.slack.com/archives/C3YB3EV5W/p1605703451063400

Currently, we have this for `DiagramBuilder.AddSystem` (which is *locally* correct):
https://github.com/RobotLocomotion/drake/blob/6d56ea0bf744be43c8453650e149c3772318b88d/bindings/pydrake/systems/framework_py_semantics.cc#L454-L461

But @RussTedrake ran into an edge case where the following code would segfaul

[2020-11-18 14:44] EricCousineau-TRI commented on #14355
Also, Russ pointed out that this is probably an issue with LCM systems in Python too.

And now that I look, it appears that I worked around this in Anzu code too :facepalm:
#13075 was insufficient

[code]

[2020-11-18 14:45] RussTedrake commented on #14355
Thanks @EricCousineau-TRI .  I'm not sure it's that much of an edge case.  It seems that any time I'm hoping for ownership for a system that is pushed through `AddSystem`, the `keep_alive` semantics will be lost.  That might happen often?

[2020-11-18 14:46] EricCousineau-TRI commented on #14355
It might happen often, yup!

And to modify your statement: `keep_alive` semantics will be lost if you don't keep a reference to the original system hanging around in Python.

[2020-11-18 14:56] EricCousineau-TRI commented on #14355
This is one of the "ownership trees" that Jeremy mentioned should be documented: #13058

[2020-11-18 15:11] jwnimmer-tri commented on #12560
\CC @rpoyner-tri FYI this is one of the more important usability defects in Drake.  If there's a triage on the way to try to get usability improvements, anyone is welcome to steal this / co-work this with me.

[2020-11-18 15:16] amcastro-tri commented on #14354
I don't understand, what is new in this issue that is not discussed in #14268?
Also, wasn't the conclusion in #14268 to implement the simpler signature `Body::CalcCenterOfMassTranslationalVelocityInWorld()`?

[2020-11-18 17:46] sherm1 commented on #14354
#14268 is about _MultibodyPlant_ :: CalcCenterOfMass.... Here Paul is proposing additional methods for _Body_. My thought is that we have a clear use case for the _system_ center of mass calculations (both for whole system and model instances), measured and expressed in World, but we don't yet have any use case for the proposed single-body calculations (except in Paul's implementation for the MBPl

[2020-11-18 20:15] jamiesnape commented on #14243
I think we may need to take a different tack and try to keep Python 3.8 support alive. I am still getting random crashes, and it seems director's dependencies do not like Python 3.9 either. The pip `numpy` appears to have issues related to bugs `Accelerate` that cause `matplotlib`, `pandas`, and `scipy` to fail, so we would need to build our own `numpy`, probably via Homebrew.

[2020-11-18 20:31] jwnimmer-tri commented on #10605
We should capture a known problematic case: perfect forwarding defeats the compiler annotations, as in `builder.AddSystem<FooSystem>(deprecated_args)`.

[2020-11-18 20:41] jwnimmer-tri commented on #14243
For director, I think that its runtime does not need to be the same as the rest of our programs -- it doesn't use any binary modules from Drake, so it can stay back on the 3.8 runtime for a while, I think?  Or if that's too difficult, we can just immediately remove it from the macOS support matrix for the time being.  Or, maybe shipping it as a bottle is sufficient, and we can drop it from the wor

[2020-11-18 20:45] jamiesnape commented on #14243
We do, I was noting that the most obvious way of getting `numpy` for python 3.8 would not work. The crashes are not `numpy`-related as far as I can tell.

[2020-11-18 20:49] jwnimmer-tri commented on #14243
I should clarify the thought process here, rather than chasing through my specific suggestions.  I would like to scope fixing director on macOS as minimally as possible, so that we can get a release out with a working pydrake on current macOS.  If there is no quick fix, then we drop it now and try to resurrect it later.  If there is an easy fix like making a 3.8 bottle, we can do that too.

Bottom

[2020-11-18 20:51] jamiesnape commented on #14243
Yes, director is not my main concern, it just complicates life. If we can disable it on Mac for now, it would be good.

[2020-11-18 23:33] jwnimmer-tri commented on #9801
It took me a while to figure out what this was referring to.  I think the referent is https://github.com/RobotLocomotion/realsense2-lcm-driver/blob/master/lcmtypes/camera_description_t.lcm.

I'm not sure why we need to copy the file in order to refer to it from Drake?  We could add it as an external.

[2020-11-19 00:08] jwnimmer-tri opened #14362 "lcmtypes house cleaning"
There are several accumulated problems with Drake's lcmtypes that we've let linger:

(1) Timestamps are not uniformly denoted.  Some are in units of milliseconds, some are in units of microseconds, and even when the units match, the field names are not uniform.

(2) Dead code.  Many of the types are not used anywhere, making it more difficult to browse for which types _should_ be used in new code.

[2020-11-19 00:46] #11454 closed

[2020-11-19 01:55] jwnimmer-tri commented on #14362
My current rough draft of a plan is something like this:
- Stop using bot_core inside Drake, and deprecate for removal its compiled (installed) libraries.
- Deprecate for removal all of the unused lcmtypes inside Drake itself.
- Copy the few external RobotLocomotion/lcmtypes that we actually use within Drake to live in drake/lcmtypes directly instead, and deprecate for removal its compiled (instal

[2020-11-19 02:56] jwnimmer-tri commented on #14344
The PR has merged.  Is the remaining work here maybe to hunt down what _other_ tree member data has gotten overlooked during scalar conversion, and/or to refactor the implementations to make it easier to avoid this problem for future changes?

[2020-11-19 14:22] RussTedrake commented on #14243
Disabling director on mac for now seems very reasonable to me.  We have higher priority issues to address.

[2020-11-19 14:31] RussTedrake commented on #14344
Using this to track down other offenders is great, of course.  But I do consider my OP resolved, and would be find if this issue was closed.

[2020-11-19 14:45] joemasterjohn commented on #14344
Since there is another open issue about tree member data not surviving scalar conversion (#14346), I'd advocate for closing this issue and dealing with it there.

[2020-11-19 14:50] #14344 closed

[2020-11-19 15:06] ggould-tri commented on #13213
Should this also apply to the other MultipleShooting methods that add constraints (eg `AddTimeIntervalBounds`, `AddDurationBounds`)?

[2020-11-19 19:20] RussTedrake commented on #14250
FWIW -- I think this issue is still real.  When I properly add matplotlib > 3.1.3 to bazel via `rules_python` and `pip_install`, it has the same problem.  Effectively `rules_python` is exposing only the `matplotlib` package to the source, but not the `mpl_toolkits` package (which is not, in and of itself, a `pip` package).  So python goes and finds the system version instead.  As of 3.2, that seem

[2020-11-19 19:24] jamiesnape commented on #14250
At least on my machine, I have `matplotlib-3.3.3-py3.9-nspkg.pth` that adds the appropriate `mpl_toolkits` package to the `PYTHONPATH`. Bazel almost certainly ignores that.

[2020-11-19 19:40] sloretz opened #14369 "Pydrake ManipulationStation().get_controller_plant() Unable to convert return value to a Python type"
Calling `ManipulationStation.get_controller_plant()` throws a Python exception

[code]

[code]

It can be worked around by importing `MultibodyPlant` before calling `get_controller_plant()`.

[code]

@EricCousineau-TRI FYI

[2020-11-19 19:47] RussTedrake commented on #14250
yes.  it has that file, too.  I agree that bazel ignoring that is the fundamental problem.

[2020-11-19 20:03] EricCousineau-TRI commented on #14369
Thanks!

[2020-11-19 21:01] EricCousineau-TRI commented on #14329
The other option is to wire in information to IDC that enables it to wire in "thrusters" for floating bases.

I believe @amcastro-tri had talked about something like this before; also, didn't you talked with @siyuanfeng-tri about this in another issue?

Not great, but not that hard? Then you can either hack in PD control around the quaternions, rpy (but suffer gimbal lock / a non-vector space stuf

[2020-11-19 21:04] EricCousineau-TRI opened #14373 "pybind11 fork: Weird issues with rvalue corruption?"
See here:
https://github.com/robotlocomotion/drake/pull/14358#issuecomment-730627960

\cc @SeanCurtis-TRI

[2020-11-19 21:41] #14369 closed

[2020-11-19 21:50] #14355 closed

[2020-11-19 21:50] huihuaTRI commented on #14329
Thanks for the info. We did discuss a similar option by providing an extra input port of the IDC to tell the base position. If the IDC detects if this input port has value, it should update the welding base frame pose (a new constructor may be needed to tell which frame to update).  Similar idea, but for fully-actuated systems.

[2020-11-19 22:14] huihuaTRI commented on #14329
Yep, more accuracy would also require the velocity. But I figure for a controller plant with a welded inertial frame, it is something we have to sacrifice. A more favorable approach would be just passing the sim plant (and the corresponding state) to the IDC. The users may provide a list of joints or model instance to control. The IDC should handle everything (via joint locking or model decomposin

[2020-11-19 23:51] EricCousineau-TRI commented on #11880
Woot for the PR :bullettrain_front:!

[2020-11-20 01:51] amcastro-tri commented on #14329
I don't recall that.

I feel like we are getting distracted by `system::` wiring. What about the math? what exactly would you like to accomplish?
Are the dynamics introduced by an accelerating base need to be considered? or can we assume a quasi-static base?

In any case, the math I would lay out would be quite simple. I'd just describe the fully actuated arm in the non-inertial frame of the base.

[2020-11-20 01:58] amcastro-tri commented on #14329
Also, I believe the proposal from @jwnimmer-tri, is what I describe as a "quasi-static base" approximation. Two assumptions:
1) the base is so massive that arm motions do not affect the motions of the base, 2) the motions of the base are so slow that accelerations of the base do not affect the arm's dynamics.

I like the idea of changing the fixed offset frame of the base (this would be equivalent

[2020-11-20 15:35] hidmic commented on #14220
@jamiesnape @jeremyma-tri to recap,

Our current workaround is somewhat different. ROS 2 builds strip RPATHs by default, so we basically inject an `librcl_logging_spdlog.so` substitute that uses `drake::log()` under the hood.

This is already the case for ROS 2 Foxy packages running on Ubuntu Focal 20.04 (and MacOS Mojave 10.14). You can see [here](https://github.com/ros2/spdlog_vendor/blob/master

[2020-11-20 16:20] jwnimmer-tri commented on #14220
(Aside: @jwnimmer-tri not `@jeremyma-tri`)

Thanks for the info.

Exactly.  The precise version doesn't matter that much to us, it's more about just getting as many new features and bugfixes into 22.04 as possible, for the best chance of that version being something we can live with for four years.  If we develop the relationships and workflow where we can regularly shepherd new versions of these

[2020-11-20 16:44] huihuaTRI commented on #14329
Thanks for the discussion @amcastro-tri. You are absolutely right. For my problem (also when I submitted this issue), I was thinking about a "quasi-static base", which is much simpler than a non-inertial frame.

If we want to consider all the dynamics of the non-inertial base, I would assume that given the actual simulation plant and the full state, it would be enough? That being said, from the `s

[2020-11-20 18:51] jwnimmer-tri commented on #14220
My refreshed look is the same as it was a few years ago -- spdlog and fmt are intertwined enough that we must re-use whatever fmt sources that spdlog was compiled against.

If we use the focal spdlog 1.5.0, that implies using its bundled fmt 6.1.2.

[2020-11-20 20:54] jamiesnape commented on #14220
Homebrew is up-to-date with regard both `spdlog` and `fmt`, so versions 1.8.1 and 7.1.2 respectively. Hopefully that Is not too wide a gap to bridge to the versions in Focal.

[2020-11-20 22:52] #14197 closed

[2020-11-20 22:55] jwnimmer-tri commented on #14250
I agree that this should be an issue, but it seems like it should be a https://github.com/RussTedrake/manipulation issue, not a Drake issue?  Drake does not use `pip_install` from `rules_python`.

[2020-11-20 23:08] jwnimmer-tri commented on #14220
My proposal for the next change to attempt here is as follows:

On 20.04 Focal, no longer compile fmt nor spdlog from source, nor install our builds of them.  Instead, switch to using the host spdlog and its vendored fmt.  This will effectively downgrade the version of both.

On 18.04 Bionic, continue compiling fmt and spdlog from source, and continue to install our builds of them.  (The host vers

[2020-11-21 00:12] EricCousineau-TRI opened #14381 "pydrake bazel: How to get a stacktrace in debug mode?"
@sloretz is trying to debug some stuff here:
https://github.com/sloretz/drake_ros2_demos/pull/3

I thought #14356 would've fixed it, but possibly not.

He's trying to debug, but can't easily find the point in Drake C++ / pybind11 code where things go awry.

For now, he's trying out the `@traced` macro from here:
https://drake.mit.edu/python_bindings.html#debugging-with-the-python-bindings

I am as

[2020-11-21 00:14] EricCousineau-TRI commented on #14381
See example trying to get a stack trace in #14380

Commit: b99ff10d6b
Command:
[code]

Triggers a segfault. `coredumpctl gdb` doesn't seem to turn up anything useful (says there's no stacktrace).

Running it under GDB also doesn't seem to yield useful symbols:
[code]

[2020-11-21 00:16] EricCousineau-TRI commented on #14381
Using `python3-dbg` doesn't seem to turn up anything more fruitful in terms of Drake.
(Python, however, shows it all)

[2020-11-21 00:18] EricCousineau-TRI commented on #14381
Naively trying out CMake per our docs:
[code]

[2020-11-21 00:30] EricCousineau-TRI commented on #14381
From my comment in Slack:

[2020-11-21 00:30] EricCousineau-TRI commented on #14381
I (or someone else ;) should PR that to Drake docs.

[2020-11-21 00:33] EricCousineau-TRI commented on #14381
Efff... I was the one who sprinkled that sauce in :facepalm:
https://github.com/RobotLocomotion/drake/commit/ea1b198a7cf52e737dde20b43ae95bf7d9ed4844 (#10103)

[2020-11-21 00:33] #11880 closed

[2020-11-21 19:31] EricCousineau-TRI commented on #7856
@sloretz might've hit this here:
https://github.com/sloretz/mre_crash_drake_addsystem/pull/1/commits/8017550145ebe70445dc2dd60fe8d67753883abe

From Slack:

Dunno the best solution in the case of ROS (where ideally we don't have to rebuild too much...), but at a minimum, Drake's fork should perturb the internal `pybind11` numbers to force a (hopefully) less mysterious issue about incompatibility.

[2020-11-21 22:04] RussTedrake commented on #13213
Absolutely.  I would think all of the `Add` methods should return their bindings.

[2020-11-22 14:14] EricCousineau-TRI opened #14385 "mkdoc: Should figure out why var-output flavor of DecomposeAffineExpressions doesn't appear"
See repro and minor discussion here:
https://github.com/robotlocomotion/drake/pull/14353#pullrequestreview-536066395

\cc @hongkai-dai

[2020-11-23 17:29] hongkai-dai opened #14386 "Upgrade Mosek to 9.2"
Drake currently supports Mosek 9.0. Unfortunately there is a bug in the Mosek 9.0 upstream code, that we exposed in the PR #14383. We should upgrade our supported version to Mosek 9.2 (and also upgrade the TRI mosek license server).

[2020-11-29 01:09] dhoule36 opened #14387 "pydrake: Memory Leak While Generating Training Images (leaking Diagrams w/ MultibodyPlant, SceneGraph, etc)"
I am a student at MIT in Russ Tedrake's Robotic Manipulation course. I have been able to successfully run one of his scripts (http://manipulation.csail.mit.edu/manipulation/clutter_maskrcnn_data.py) to generate training images within the Google Colab environment, until yesterday. Google Colab now crashes after generating about 90 images saying that it has used all of the RAM, where Colab Pro has 2

[2020-11-29 19:24] #13213 closed

[2020-11-30 15:03] RussTedrake commented on #14387
I am working with the OP to produce a better repro.  I will reassign when we have it.

[2020-11-30 18:02] dhoule36 commented on #14387
I was able to create the simplest case of the issue that I was running into in Colab. I found that changing the drake version from 'latest' to '20201119' was the last nightly build that successfully does not run out of RAM ('20201120' does). Additionally, it seems that there is a deprecation warning that I receive in the same versions as the error:

[code]

[2020-11-30 18:19] sherm1 commented on #14387
This is likely related to PR #14375 or #14376 which merged on 11/20.
cc @SeanCurtis-TRI @rpoyner-tri

[2020-11-30 18:39] SeanCurtis-TRI commented on #14387
For clarity, you're saying the deprecation warning is correlated with the leak?

Assuming that's the case, I have two thoughts:

1. Update your code to *not* use `DepthCameraProperties` but `ColorRenderCamera` and `DepthRenderCamera`. The Drake examples have been updated.
2. @EricCousineau-TRI could this be related to the nature of our conservative exercise of the python binding's keep alive proto

[2020-11-30 23:13] EricCousineau-TRI commented on #14387
Most likely... Since we have that reference cycle, the diagram will be staying alive, including the `SceneGraph` and all related assets.

My money is that my PR, #14356 (b1d0617), is the main offender here.

@dhoule36 is there any chance that you have time to see if code before this commit (a) doesn't crash and (b) doesn't leak memory as you run stuff w/in a loop?

Suggested commit:
[code]

So I'd

[2020-11-30 23:25] EricCousineau-TRI commented on #14387
Trying on my end:
https://colab.research.google.com/github/EricCousineau-TRI/repro/blob/6e9fb10448530c18cfde31faca83d1534429e459/drake_stuff/issues/issue_14387/repro.ipynb

[2020-11-30 23:41] EricCousineau-TRI commented on #14387
Confirmed; I'm like 99.99% sure that #14356 is the offender.
In @dhoule36's notebook, I see memory increase on `20201120`, but not on `20201119` (before that commit).

Which means, we're stuck between a rock and hard place.
If we revert, then it means segfaults.
If we keep it, then it means memory leaks, which is really bad for data gen.

I don't have a good idea on how to easily proceed :(
Ideas?

[2020-12-01 19:30] dhoule36 commented on #14387
@SeanCurtis-TRI

I don't think they're correlated. I followed your suggestion to not use DepthCameraProperties but ColorRenderCamera and DepthRenderCamera, and while there is no longer a warning, I am still seeing the memory increase.

@EricCousineau-TRI I'm just seeing this now. Did you still want me to try out the code? It looks like you may have already done so.

[2020-12-01 21:18] EricCousineau-TRI commented on #14387
Nah, we should be good now, thank you for checking!

[2020-12-01 21:20] EricCousineau-TRI commented on #14387
Possible solutions:

1. Revert #14356 and say beware
2. Just keep the leak?
3. Get overly creative with `pybind11` and see if we can somehow transmit keep alive in the specific instance of `DiagramBuilder -> Diagram`.

(3) is probably feasible, but will be ridden with `std::function<>`, type erasure, and nastiness all around... or `shared_ptr` (#13058).

[2020-12-01 23:14] joemasterjohn opened #14399 "World body stores NaN parameters in context."
Because each body declares inertial parameters based off of their default parameters, the world body declares a default `SpatialInertia` in the context as its inertial parameters:

[code]

This has come up a few times as a red herring when trying to track down the reason for MBP throwing an error ([stack overflow question](https://stackoverflow.com/questions/65093710/extra-body-with-nans-in-contex

[2020-12-01 23:56] sherm1 commented on #14399
It does seem bad that World's mass properties are parameters though -- doesn't that mean someone could change them? That doesn't seem like a good idea! My inclination would be to special-case World as a body whose mass properties are fixed and cannot be changed via parameters.

[2020-12-02 15:04] #3555 closed

[2020-12-02 15:50] amcastro-tri commented on #14399
I agree with @sherm1, we should not be able to specify parameters for the world. Of course there are different ways to accomplish this in software.

An option:
- We do not even declare parameters for the world body.
- Maybe there is a WorldBody class whose overwrites of get_mass() etc simply throw?

[2020-12-02 19:27] #11455 closed

[2020-12-02 19:39] joemasterjohn opened #14405 "Request to parameterize damping for RevoluteJoint"
There's a request on a [stackoverflow question](https://stackoverflow.com/questions/65113347/how-to-change-the-damping-coefficient-of-a-revolutejoint-in-drake) to be able to change a revolute joint's damping. I'm using this issue to track the implementation of getters/setters for default damping and context parameters for damping.

[2020-12-02 22:57] EricCousineau-TRI commented on #13165
Returning here: FWIW I'd argue that Python shouldn't be the only culprit for this issue. Having fewer C++ methods is always nice too ;)

[2020-12-03 00:00] jamiesnape commented on #13648
Only real error I am seeing is (and this is literally a cut-and-paste without even considering the cause):
[code]
FYI @EricCousineau-TRI.

[2020-12-03 13:07] #5895 closed

[2020-12-03 15:34] EricCousineau-TRI opened #14407 "render_engine_gl: Should clean up PerceptionProperties munging"
See: https://github.com/RobotLocomotion/drake/pull/14400#pullrequestreview-543012159

[2020-12-03 15:38] EricCousineau-TRI commented on #13648
Huh... That smells like `pybind11/stl.h` isn't included in `maniptulation_station_py.cc`... but that should show up in more than a specific flavor of macOS.

Also, at least in that module, it's included:
https://github.com/RobotLocomotion/drake/blob/aa4de29980976229c9d1897d0399d5c484e2ebdf/bindings/pydrake/examples/manipulation_station_py.cc#L3

Can you see about debugging this to trace which spec

[2020-12-03 17:42] jamiesnape commented on #13648
Just for fun, I added `#include "pybind11/stl.h"` to every bindings file, with no luck. Will revisit some other time. I feel like looking at the libc++ source code is going to be in order.

(I selfishly wish we had libc++ Linux builds so someone else gets burned...)

[2020-12-03 18:24] EricCousineau-TRI commented on #13648
ahhh, nuts! I sent you down the wrong rabbit hole, sorry!

The error actually comes from here:
https://github.com/RobotLocomotion/drake/blob/688a07c23fcb6b839ea8248f274f5b461a07311e/bindings/pydrake/common/cpp_param_pybind.cc#L104-L108

Probably just some RTTI mismatch? (private / public shindig, like what motivated #8706?)

[2020-12-03 21:59] EricCousineau-TRI commented on #9500
Updating to bring ROS 2 explicitly into scope.
Will be updating design doc to decide on path forward for polishing and publishing @sloretz's awesome work for library consumption.

[2020-12-04 00:01] EricCousineau-TRI opened #14409 "clang-9 produces linker errors w/ libstdc++-8, but will aggressively choose newer versions of libgcc-8-dev / libstdc++-8-dev"
@azeey has gcc-8 installed on Ubuntu Bionic (for development on OSRC's Ignition ecosystem).

He was trying to build Drake with `clang-9` on his machine, but found linker errors like the following:
[code]

We looked through `bazel build --subcommand` output, found the linker parameters, and then reran those commands through `clang-9` using verbose commands:
[code]

He found that clang-9 was using `

[2020-12-04 00:03] EricCousineau-TRI commented on #14409
Aside from `g++-8`, we both had the same versions of `clang-9`, `bazel`, `libstdc++-7-dev`, `ld.gold`, etc.

[2020-12-04 00:09] EricCousineau-TRI commented on #14409
Also, just for the record, output of `ldd` and the linker params on working system:
https://gist.github.com/EricCousineau-TRI/f94bedcb9d5fadbb63802c5aa92cc3b9

[2020-12-04 01:26] soonho-tri commented on #14409
I guess https://drakedevelopers.slack.com/archives/C0KDGF4V9/p1575504727031800 might explain the filesystem part of this issue.

[2020-12-04 22:46] EricCousineau-TRI commented on #14409
Lol, full circle one year later :sweat_smile:

[2020-12-06 17:11] RussTedrake commented on #14387
I’m honestly not sure what’s best.  All three options seem very
undesirable.  Would appreciate thoughts from the other developers.

On Tue, Dec 1, 2020 at 4:20 PM Eric Cousineau <notifications@github.com>
wrote:

[2020-12-07 13:23] EricCousineau-TRI commented on #2941
While the above checklist seems only catered towards DAE, I'd like to expand this to STL. Jeremy's comment above leads me to believe that his request is that "DAE meshes can be loaded at runtime too", meaning STL meshes can also be loaded at runtime.

The solution in #14219 is build-time only (e.g. `genrule`s that convert).

Context: https://stackoverflow.com/questions/65101327/how-to-use-ros-urdf

[2020-12-07 15:55] jwnimmer-tri commented on #2941
That should be a separate issue; please revert the edits.

[2020-12-07 16:47] EricCousineau-TRI commented on #2941
Reverted in terms of "I did step on Sean's toes b/c he owns the issue".

However, with Sean's above checklist, I disagree that this should be separate, and would like to await Sean's response on how he wants carving:
Suggested title: "Support DAE/STL meshes in Drake's Perception and Illustration consumers (VTK, etc.)"

[2020-12-07 16:52] jwnimmer-tri commented on #2941
My request did _not_ imply runtime support for different file types across all of geometry.  My request is only about VTK support for DAE loading, so that we can do build-time conversion.  If you want to advocate for on-the-fly mesh conversion, you can do that elsewhere.

[2020-12-07 16:56] EricCousineau-TRI commented on #2941
Ah. I misread your comment, then. I assumed your request meant, "I want to load DAE meshes in Drake via VTK", not meaning on-the-fly conversion, but side-stepping it entirely.

However, Sean's follow-up does not indicate to me that the requirements are tailored for build-system conversion only. Pending that clarification from Sean, sure, I'll open up a separate issue.

[2020-12-07 16:58] jwnimmer-tri commented on #14409
I wonder if specifying `--gcc-toolchain` is enough to select the intended revision.  If so, we should ensure (or at least document) that it must be specified.

[2020-12-07 17:02] jamiesnape commented on #2941
I am reading this completely as a VTK feature request that that we are considering. Scheduling the Drake update as the last checkbox here is the rebuild of the binaries, a minor part of the administrative and technical work. Actually using the new VTK will probably spawn a different issue. Looks like we are already using the VTK STL reader. If that needs any improvement, create yet another issue.

[2020-12-07 17:31] jamiesnape commented on #14386
I suspect the license that we use on Drake CI is going to be fine for 9.2, but I have not explicitly checked.

[2020-12-07 17:34] hongkai-dai commented on #14386
Yes Drake CI license is different from TRI Mosek license. I think if we upgrade Drake Mosek now, then none of the TRI user can continue to use Mosek through Drake.

The IE team at TRI is working on upgrading the Mosek license.

[2020-12-07 17:36] jamiesnape commented on #14409
I think we are aiming to upgrade to `clang-10` once we support Big Sur, but I imagine the some issue will appear that is vaguely similar. I think Jeremy is correct. There is certainly a flag for the compiler/linker (or an environment variable for Bazel).

[2020-12-07 17:43] jwnimmer-tri commented on #14409
I think a fair statement of the problem is that our build (or at least, build instructions) are not reproducible.  All versions of clang default to using the latest GCC from the host, so no matter what other clang upgrades we foresee, we should ensure that we're also locking down the GCC toolchain that Clang will pull in.

So, less about `<filesystem>` acutely, and more about the "choose newer".

[2020-12-07 17:45] jamiesnape commented on #14409
Exactly.

[2020-12-07 18:31] jamiesnape opened #14419 "Issues with ipopt 3.13 from Homebrew on macOS"
[code]

Temporary workaround was #14288.

[2020-12-08 14:29] EricCousineau-TRI opened #14422 "models: franka_description isn't part of `show_model` runfiles?"
I would've expected that `franka_description` to be part of `@drake//bindindgs/pydrake`'s runfiles, b/c I tried the following from Anzu:
[code]

However, it reported this file was missing.
Using drake @ 78faa37365, when looking at the `{runfiles}` directory, I only see:
[code]

I should do a `bazel query` to see what the path is from `pydrake` to any of the `iiwa` data, and then ensure that some e

[2020-12-08 14:37] EricCousineau-TRI opened #14423 "franka: Mesh textures don't show up in meshcat?"
Confirmed per Slack comment here:
https://drakedevelopers.slack.com/archives/CMV686ZD4/p1607385364024400

Results on drake @ d258ef193:
*Note*: Due to #14422, I quickly hacked it to include franka:
[code]
Running:
[code]

Meshcat (bad):
![image](https://user-images.githubusercontent.com/26719449/101497042-83f8bb00-3938-11eb-9586-02261ef82cfa.png)

Director (good):
![image](https://user-images.gith

[2020-12-08 15:00] jwnimmer-tri commented on #14422
In general, is is _not_ true that all robot models should be a data dependency of pydrake nor libdrake.  They must be a part of `//:install` but unless any code in pydrake or libdrake refers to the model, it's not actually a proper use of `data` to declare it as such.

If we want show_model to depend on all of the models, then we add the models to _its_ data, not libdrake's data.

[2020-12-08 15:06] ggould-tri opened #14424 "Spurious focal kcov failure on //math:gray_code_test"
https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-focal-gcc-bazel-nightly-coverage/188/ shows a kcov failure in `//math:gray_code_test`:
[code]
Local bisection points the finger at #14413, which is obviously unrelated and innocuous.  Combined with its similarity to https://drake-jenkins.csail.mit.edu/view/Production/job/linux-focal-gcc-bazel-nightly-coverage/153/ , it is like

[2020-12-08 16:45] sherm1 commented on #14423
cc @rpoyner-tri in case you want to look prior to return of the Geometry King

[2020-12-08 16:59] SeanCurtis-TRI commented on #14423
I believe @joemasterjohn has agreed to take oversight of meshcat. (Joe, correct me if my memory is failing me.)

[2020-12-08 17:32] #14424 closed

[2020-12-08 17:47] joemasterjohn commented on #14423
I did make a mention of that, but if @rpoyner-tri wants to take a crack at this I don't mind.

[2020-12-08 19:13] #14346 closed

[2020-12-08 20:40] ggould-tri opened #14426 "Multibody and System "there is no" exceptions should list valid values"
All of the MBP by-name accessors have exceptions that say "there is no [thingy] named [mumble] in the model."

That's great and all but the only way for a user faced with this error to find out what you might have gotten wrong is to run a debug build, get a stack trace, find the enclosing call, and log the contents of the model right before the call.

The exception should list the available names

[2020-12-08 21:01] #12756 closed

[2020-12-08 22:39] rpoyner-tri commented on #8482
Some updates, now 2+ years later.
* the basic complaint still stands -- MBP-based acrobot is still slower than bespoke AcrobotPlant.
* the original program used MBP's CalcMassMatrixViaInverseDynamics(), which seems a bit unfair.
* RBTree is gone, so I did not try to measure it.
* AutoDiffUpTo73d is effectively gone (sea of template errors), so I gave up trying to revive it.
* I've made a somewhat

[2020-12-08 22:53] calderpg-tri opened #14431 "Make TRI motion planning tools available in drake"
TRI uses a number of motion planning tools, both external (public) and internal that we would like to make available in drake. These tools include:

- Sampling-based motion planners (constrained and unconstrained RRT/BiRRT variants, PRM variants)
- Path and trajectory processing (shortcut and b-spline smoothing, TOTP [Time-optimal trajectory parametrization])
- Voxel-based geometry (dense voxelize

[2020-12-08 23:35] amcastro-tri commented on #8482
Wow, those numbers actually look very good @rpoyner-tri, great work!
The old RBT comparisons with fixed size autodiff seem to indicate that it'd still be worth at least to measure its performance in a dev branch where we'd brute force replace AutoDiffXd with AutoDiffUpTo73 everywhere. but I believe you did this already?

[2020-12-08 23:46] rpoyner-tri commented on #8482
@amcastro-tri I did something similar to the UpTo73 case in earlier work, perhaps this: https://github.com/RobotLocomotion/drake/issues/13902#issuecomment-707272274

The fixed vs. heap tradeoff may be very different for these very small problems; hence my renewed interest in SBO similar to Nimmer's https://github.com/RobotLocomotion/drake/pull/12583 .

[2020-12-08 23:58] sherm1 commented on #8482
My thought is that it is not worth putting a lot of effort into optimizing for small problems -- typically they run fast enough for whatever toy or pedagogical purpose they serve. I would like to focus our efforts on the more-difficult problems encountered by our target users. OTOH if this little benchmark can teach us something about performance on big systems that could be useful.

[2020-12-09 02:10] jwnimmer-tri commented on #8482
FTR my original purpose for SBO was not for toy problems, but to use it for chunking (#2619) without increasing the number of scalar types we compile to.  If we changed AutoDiffXd to use SBO, users who wanted to stripe their compute in chunks (maybe even with openmp) could do so without touching the heap, and without having more compile-time types.  (It's convenient to assume that there's only eve

[2020-12-09 03:50] jwnimmer-tri commented on #14387
For my part, I'm missing part of the backstory here.

Python _has_ reference cycle garbage collection.  Cycles are not, in general, a disaster.  Reference cycles might increase the delay until the memory is reclaimed, but they should not cause unbounded growth.

I assume that `keep_alive` is implemented in a way that does not allow python to detect the cycles.  What are the details of how keep_ali

[2020-12-09 04:18] jwnimmer-tri commented on #6490
I don't see anything remaining in `zero_order_hold.{h,cc}` that would be appropriate for extraction into a reusable base class.  Maybe #13898 / #13883 already resolved this?

[2020-12-09 04:24] jwnimmer-tri commented on #9626
We have a framework unit test that connecting mismatched port sizes throws:

https://github.com/RobotLocomotion/drake/blob/c7f246998a4eeafc48feab4bc108d955bfd04b91/systems/framework/test/diagram_builder_test.cc#L294-L318

It was merged in #9875, a few weeks after this bug report.  I think we can safely close this.

[2020-12-09 04:24] #9626 closed

[2020-12-09 04:28] hongkai-dai commented on #7946
I will close this issue. I think the problem is that we need to pass another variable when doing `derivative.Integral` to specify which indeterminate is integrated. This problem shows up not only for a constant polynomial, but for polynomial with multiple indeterminates, like `x^2 * y^3`. When we integrate over `x`, the result is different from integrating over `y`.

[2020-12-09 04:29] jwnimmer-tri commented on #9930
If the passed-in plant is required to be standalone (i.e., no inputs are connected), then I think the scalar-converting copy constructor for `InverseDynamicsController` could simply scalar-convert the given `plant` reference directly, now keeping the owned copy internally.

[2020-12-09 04:31] jwnimmer-tri commented on #10843
At this point, things seem stable enough that we don't need to automate the monitoring?  In the rare cases where the queue gets sick, people notice and ping slack, and don't seem to suffer too badly from having to wait the extra time we might have saved by diagnostic the fault earlier in the day.

Please re-open if anyone disagrees.

[2020-12-09 04:31] #10843 closed

[2020-12-09 04:35] jwnimmer-tri commented on #9612
I'm happy to report that the new hotness `DrakeVisualizer::AddToBuilder` has plenty of unit tests, e.g.:

https://github.com/RobotLocomotion/drake/blob/c7f246998a4eeafc48feab4bc108d955bfd04b91/geometry/test/drake_visualizer_test.cc#L681-L700

... and that `ConnectDrakeVisualizer` is deprecated for removal:

https://github.com/RobotLocomotion/drake/blob/c7f246998a4eeafc48feab4bc108d955bfd04b91/geom

[2020-12-09 04:35] #9612 closed

[2020-12-09 05:09] #9118 closed

[2020-12-09 05:16] sherm1 commented on #14426
Is the proposal just to append a list of all possible [thingys] that would not have generated an error message?

[2020-12-09 12:32] amcastro-tri commented on #8482
Excellent point @jwnimmer-tri, chunking + SBO could still perform better.

[2020-12-09 13:42] ggould-tri commented on #14426
That seems to me the most obvious ("you asked for 'ikea_dinera_plate_8in' but the valid models were 'ikea_dinera_plate_8in_0', 'world', 'default', ...").  But I'd be delighted with other alternatives too, so long as they don't require rebuilding in debug mode to find the failure point and add printfs.

[2020-12-09 16:26] rpoyner-tri commented on #8482
Good discussion; thanks! Rounding back to "what is this ticket about?"

* It showed a limited benchmark and a set of numbers that are mostly obsolete.
* It complained that autodiff is slow; this is not particularly novel among issues at this point.
* There is not much more in the way of answerable/resolvable questions.

In the follow-on discussion a lot of work is proposed. I think that is beyond

[2020-12-09 16:57] jwnimmer-tri commented on #10806
The section https://drake.mit.edu/doxygen_cxx/classdrake_1_1_identifier.html#TypeSafeIndexVsIndentifier is working just fine for me.  The TypeSpecificIdentifier has been deleted.  I don't think there's anything remaining to do here.

[2020-12-09 16:57] #10806 closed

[2020-12-09 17:01] EricCousineau-TRI commented on #6490
Not sure if those resolved it, but I think this issue lost steam / value (saving code via inheritance ain't always the best choice).
Closing!

[2020-12-09 17:01] #6490 closed

[2020-12-09 17:16] jwnimmer-tri opened #14434 "Updated CI images for libspdlog-dev"
Per ##14429, we have a new library in the base image. Please update the Ubuntu 20.04 AMIs to match.  (There are no changes to macOS nor Ubuntu 18.04.)

[2020-12-09 17:21] jwnimmer-tri commented on #10724
@hongkai-dai I think that #13921 resolved this?

[2020-12-09 17:22] jwnimmer-tri commented on #11700
I believe that #10495 already resolved this.

[2020-12-09 17:22] #11700 closed

[2020-12-09 17:32] EricCousineau-TRI commented on #2941
OK Yeah, gotcha. In that case, I'd love it if the "build system" aspect of this could be encoded in the title.

I'll make a low-priority follow-up issue about possibly supporting other meshes at run-time (e.g. for downstream consumers); at a minimum, part of that (or this?) issue could be docs to clearly state the workflows for using OBJ meshes.

[2020-12-09 17:39] EricCousineau-TRI opened #14436 "geometry: Should support other mesh formats at run-time (and document existing run-time support)?"
This is a follow-up issue from here:
https://github.com/RobotLocomotion/drake/issues/2941#issuecomment-739915733

Possible formats:
- STL
- DAE

See downstream question:
https://stackoverflow.com/questions/65101327/how-to-use-ros-urdf-package-in-drake/65182577?noredirect=1#comment115257216_65182577

in briefly perusing our docs (as of 2020-12-09), I checked a few different places quickly and didn'

[2020-12-09 17:39] EricCousineau-TRI commented on #14436
FYI @SeanCurtis-TRI I've assigned you for now. Feel free to reassign, or close if you think it's a complete "wontfix" (though it'd still be nice to see the docs be more explicit per #13314).

[2020-12-09 17:41] hongkai-dai commented on #10724
Yes, this is resolved.

[2020-12-09 17:41] #10724 closed

[2020-12-09 19:01] hongkai-dai commented on #7946
I read it wrong. This is not for a symbolic polynomial, but for a `Polynomial` class with single variable `t`.

[2020-12-09 19:06] hidmic commented on #14220
FYI `spdlog` 1.8.1 got into Debian Sid today: https://tracker.debian.org/news/1200036/accepted-spdlog-1181ds-1-source-into-unstable/ (thanks for the hint @j-rivero!).

[2020-12-09 20:52] jamiesnape commented on #14431
If our AWS instances do not do support OpenCL, is that going to be a blocker?

[2020-12-09 21:00] calderpg-tri commented on #14431
No. For now, we only need build support in CI - at runtime the relevant parts of `voxelized_geometry_tools` and `anzu/planning` detect if no GPU acceleration is available and fall back to a CPU-only implementation.

[2020-12-09 21:04] jamiesnape commented on #14431
Cool. If anything changes and you do think you will need GPU instances in the next TRI financial year, we probably would need to revise our AWS budget, so let us know if that is likely. FYI @ToffeeAlbina-TRI.

[2020-12-09 22:18] jwnimmer-tri commented on #6969
Given the two years lack of response to fundamental objections to this proposal, I'll say we should close this.

[2020-12-09 22:18] #6969 closed

[2020-12-09 22:20] jwnimmer-tri commented on #10967
Is there still any action here, given the pending website redesign rollout?  If yes, we should clarify and assign someone other than Lesley.

[2020-12-09 23:02] jwnimmer-tri commented on #11014
All of the RBT stuff is gone now (either ported, or deleted).

\CC @rpoyner-tri @joemasterjohn FYI we should not be adding _new_ subfolders to `//examples/multibody/...`.

[2020-12-09 23:09] jwnimmer-tri commented on #10188
Relates to #14431.

[2020-12-09 23:16] jwnimmer-tri commented on #11252
I think that #14389 resolved this.

[2020-12-09 23:22] jwnimmer-tri commented on #10611
Given that there doesn't seem to be anything still missing (kcov works well), I'll close this sufficiently done.

[2020-12-09 23:22] #10611 closed

[2020-12-09 23:25] jwnimmer-tri commented on #12652
Closing for lack of response.

[2020-12-09 23:25] #12652 closed

[2020-12-09 23:29] rpoyner-tri commented on #11014
The only folder names that conflict between //examples and //examples/multibody are acrobot and pendulum. If those cases could be resolved somehow, we could just hoist everything and delete the directory.

Does such an operation require some sort of deprecation cycle?

[2020-12-09 23:38] jwnimmer-tri commented on #11014
Almost nothing is available for public consumption:

[code]

I don't immediately see anything that would be risky to rename without deprecation, but it's worth a second look.

[2020-12-09 23:46] jwnimmer-tri commented on #13776
For the record, the only remaining offenders seem to be:
[code]

[2020-12-09 23:53] #4224 closed

[2020-12-10 01:20] #10967 closed

[2020-12-10 01:31] jwnimmer-tri opened #14440 "incompatible_restrict_string_escapes failures"
When Drake is build with the `incompatible_restrict_string_escapes` errors enabled (on by default, as of bazel 4.0), we get errors.  We should chase down the reports and fix them.

For now, I'll nerf the error.

Known errors:
- [x] https://github.com/dreal/dreal4/issues/231
- [x] https://github.com/RobotLocomotion/optitrack-driver/pull/11

[2020-12-10 03:40] jwnimmer-tri commented on #8978
Resolved in #14339 by removing RenderEngineOspray entirely.

[2020-12-10 03:40] #8978 closed

[2020-12-10 03:42] jwnimmer-tri commented on #11974
The proposal in #13683 is to move the tutorials into a separate repository.  What does that imply for this issue?

[2020-12-10 03:47] jwnimmer-tri commented on #14118
Yes, I added a debug print and I see `-- Installing: lcmtypes/__init__.py to /home/jwnimmer/tmp/bung/lib/python3.6/site-packages/__init__.py`.

[2020-12-10 04:07] jwnimmer-tri commented on #9469
I wonder if https://github.com/apps/stale would be able to implement this?  It's been on my wishlist to push forward setting up to automatically _close_ out stale pull requests (those without activity for >6 months).  Maybe two birds with one stone.

[2020-12-10 04:09] jwnimmer-tri commented on #8821
Per #11003, the `math_overloads_test` blocker is gone now.

[2020-12-10 13:39] amcastro-tri commented on #11014
I personally like having an `/examples/multibody` directory since that way all the MBP related examples can be found in a single place. Is it only me? otherwise I find a monolithic `examples/` directory to be a soup without much of an ordering.

[2020-12-10 14:27] ggould-tri opened #14445 "No generic way to set random joint states"
The setting of joint random distributions currently requires downstream projects to violate GSG guidance "virtual methods are the preferred way of executing different code paths depending on a specific subclass type".

One of the more heavily used convenience methods in our downstream project is called `MaybeSetJointPosition` and consists largely of:
[code]
...
[code]
This abomination works only f

[2020-12-10 15:04] jwnimmer-tri commented on #11014
Maybe it helps you, but the extra level of nesting confuses everyone else.  We can add an index table to the documentation to help categorize the examples (across several axes), but the current unprincipled folder split is not a good way to do it.

[2020-12-10 15:20] amcastro-tri commented on #11014
Definitely it helps me, surprised that it doesn't help anyone else? probably a good survey for Drake devs?
The option of some soft of index would be great also. Would that be in the form of a README file?

[2020-12-10 15:23] jwnimmer-tri commented on #11014
Yes, we'd probably benefit from either a README.md, or more likely an `examples_doxygen.h`, that highlighted what was available, what features of Drake it tickled, what programming languages it used, maybe some videos, etc.

[2020-12-10 15:34] jwnimmer-tri commented on #14445
\CC @joemasterjohn relates to making the Joint API use consistent nouns and verbs #14291, and how we end up spelling parameters (Expression random, double default, Context actual) across the MbT.

[2020-12-10 16:17] EricCousineau-TRI commented on #11974
That would imply this issue could be closed.

However, coming back a year later and seeing the success of deployment on Google Colab, I think we could close this, regardless of moving to a separate issue.

[2020-12-10 16:17] #11974 closed

[2020-12-10 17:17] jamiesnape commented on #14419
This was after a jump from 3.12.13 to 3.13.3 since Homebrew missed a few revisions.

[2020-12-10 18:11] sherm1 commented on #14445
Assigning to Rico for disposition.

[2020-12-10 19:56] jamiesnape commented on #14419
Seems like somehow (maybe not intentionally) the default linear solver switched from MUMPS (when available) to MA27 and since the dynamic linear solver loader is enabled, it tries to `dlopen` `libhsl.dylib`. Not sure which commit or where the issue arises, yet.

[2020-12-10 20:12] jamiesnape commented on #14419
https://github.com/coin-or/Ipopt/blob/c2bc98afdd97261849d246522eabc33a81a55101/doc/options.dox#L774

says the default is indeed MA27. We need to explicitly set option `linear_solver` to `mumps` since MA27 is not available due to an incompatible license.

https://github.com/coin-or/Ipopt/blob/c2bc98afdd97261849d246522eabc33a81a55101/doc/options.dox#L784

I do not see a change in the default accordi

[2020-12-10 20:14] jamiesnape commented on #14419
Looks like MUMPS is the only guaranteed linear solver to be available on both Ubuntu and macOS.

[2020-12-10 20:18] jamiesnape commented on #14419
FYI @hongkai-dai. You probably know the IPOPT solver better than me.

[2020-12-10 20:21] jamiesnape commented on #14419
Getting Homebrew to disable the dynamic linear solver is probably a different option, but perhaps it is safer for Drake to be explicit about which linear solver to use. No reason to believe that Linux won't have the same problem in future.

[2020-12-10 20:26] #14118 closed

[2020-12-11 00:22] #14419 closed

[2020-12-11 22:36] rpoyner-tri opened #14449 "More flexible autodiff benchmark"
So far we have a pretty fully developed autodiff benchmark for cassie in examples/.../cassie_benchmark. There is now a less elaborate one at examples/acrobot/benchmark_autodiff.

This issue expresses the wish for a more flexible benchmark that can cover more territory -- robots/problems of arbitrary size, more interesting calculations (Laplacian, fast Jacobians? Hessians??), to give a better idea

[2020-12-11 22:37] rpoyner-tri commented on #8482
Merged my benchmark code, linked some tickets, and filed a new one: #14449. Closing this one.

[2020-12-11 22:37] #8482 closed

[2020-12-14 05:19] xuchenhan-tri commented on #10736
Working on this issue as a side project now, and I want to clarify the request a little bit. For the fourth item:

What information of the state is expected? I'm thinking the name of joint/free body and whether it's a position or velocity dof. Is this reasonable? Anything else?
@hongkai-dai, I saw you recently posted a thread in slack that's related. Do you want to share what would be helpful to y

[2020-12-14 16:23] sherm1 commented on #10736
I'm think "print" here is metaphorical -- we don't want methods that literally print anything. That brings up awkward issues of formatting and where to write the output. Whatever we decide is the right information it should come back as an `std::vector<string>` or something like that so we can let the caller figure out the tricky stuff. The value here is in the information returned.

[2020-12-14 17:33] xuchenhan-tri commented on #10736
Yes, I agree that we don't want to actually "print", and I was planning on returning a `std::vector<string>`. I'm not sure, however, what exactly is the information of interest. Same goes for the fifth item: anything else other the joint and actuator name?

[2020-12-14 17:59] jwnimmer-tri commented on #14434
@jamiesnape ping?

[2020-12-14 18:01] BetsyMcPhail commented on #14434
Sorry for the delay, I will do the update this afternoon.

[2020-12-14 18:18] joemasterjohn commented on #10736
I think the relevant information for each coordinate would be:

For joints:

`<joint_name>_<local_joint_coordinate_name>` and `<joint_name>_<local_joint_coordinate_name_dot>`

Something like:

`UniversalJoint12_theta1` `UJoint12_theta1_dot`

And for a free body:

`freebody1_q_FM_{w,x,y,z}` `freebody1_p_FM_{x,y,z}` `freebody1_w_FM_{x,y,z}` `freebody1_v_FM_{x,y,z}`

Having `_FM` would follow the mul

[2020-12-14 19:45] sherm1 commented on #10736
Would be good to get some end-user input as to what would be most useful. Fishing: @ggould-tri @hongkai-dai @avalenzu @EricCousineau-TRI ...

[2020-12-14 19:54] jwnimmer-tri commented on #10736
See also #5857 for the framework angle -- dumping the context may be another way to debug, instead of MbP methods.

Or, if we're going to provide human-usable-name getters for vector indices, it might also make sense to define those accessors on the system framework (ports, state, etc.) so they are usable generically for more than just the MbP (e.g., the inverse dynamics controller vector index na

[2020-12-14 20:36] BetsyMcPhail commented on #14434
Focal AMI and Jenkins have been updated

[2020-12-14 20:36] #14434 closed

[2020-12-14 22:39] xuchenhan-tri commented on #9747
Reviving this as part of the effort towards #10736. The proposed solution is to provide `GetUniqueBaseBodyOrThrow(ModelInstanceIndex)`, but not `SetFreeBodyPose(Context*, ModelInstanceIndex, const RigidTransform&)`, which can be achieved by `SetFreeBodyPose(context, GetUniqueBaseBodyOrThrow(model_instance), X_WB)`. Thoughts?

[2020-12-14 22:52] jwnimmer-tri commented on #9747
Just as a general process note -- when evaluating API trade-offs, I always find it useful to look at specific, fully-worked calling code examples.  "If we do A, then the calling code would like [fully worked example 1]; if we do B, then the calling code would look like [fully worked example 2]."  I often find it's too easy for people to mis-estimate what they really want when only speaking in the

[2020-12-14 23:04] sherm1 commented on #9747
Actually even that doesn't seem right. I looked through MBPlant and we have this already:
`GetFloatingBaseBodies()` but we don't have `GetFloatingBaseBodies(ModelInstance)`. What's not captured above is that only _floating_ (or _free_) base bodies permit setting an arbitrary pose. So even if a ModelInstance has a unique base body, but that body is (say) welded to World, SetFreeBodyPose() won't wor

[2020-12-14 23:10] sherm1 commented on #9747
One other design loose end we should tie down is what it means for a ModelInstance to have a base body. That is inherently a property of a tree (it is the "root" body). Maybe we don't care about that and the question is just whether any of the bodies with a given ModelInstance tag are themselves free bodies? That is a simpler question and avoids having to decide what to do with model instances tha

[2020-12-15 00:15] xuchenhan-tri commented on #9747
From the [documentation for GetFloatingBaseBodies()](https://drake.mit.edu/doxygen_cxx/classdrake_1_1multibody_1_1_multibody_plant.html#a6a2813d5472e88bc58bbb9c3129811f5), it looks like we don't care whether the bodies are "base bodies" or not, rather, we only care whether they are "free/floating". Following that, it seems reasonable to me to provide `const Body<T>& GetUniqueFreeBodyOrThrow(ModelI

[2020-12-15 00:51] sherm1 commented on #9747
As long as ~GetFreeBaseBodies()~ GetFloatingBaseBodies() returns only bodies whose parent body is World, those are by definition base bodies (root of a tree connected to World). Currently we don't permit explicit specification of Free (or Floating) joints, so all the ones present were added under the covers by us and we always connect them to World. Later, if we allow FreeJoint connections between

[2020-12-15 01:06] xuchenhan-tri commented on #9747
I see, thanks for the explanation @sherm1! I was assuming that a body being "base" is a necessary but not sufficient condition for a body being "floating/free" base on the implementation of `GetFloatingBaseBodies()` which looks to me like is not checking whether the parent body is World.

[2020-12-15 01:18] sherm1 commented on #9747
Right, but since all Free joints currently are connected to World, and since this method doesn't imply that there aren't also other base bodies (via "unique"), the implementation is likely correct for now. Its documentation should note that there might be other, non-free, base bodies in existence and there ought to be a TODO saying it should be checking for inboard body=World if free joints are ad

[2020-12-15 01:27] xuchenhan-tri commented on #9747
Summarizing the discussion here and in the review #14450, it looks like we should at least provide `GetUniqueFreeBaseBodyOrThrow(ModelInstance)` that throws unless 1) there exists a unique base body in the ModelInstance and 2) that base body is free. That would at least help with @rcory 's point (although that was already 2 years ago, not sure if it's still relevant).

[2020-12-15 01:58] mitiguy commented on #13738
Related to this issue, change comments in multibody_tree.h from /// to //.

[2020-12-15 02:01] sherm1 commented on #9747
Can we get confirmation from @rcory and @RussTedrake ?

(And we also need some way for a programmer to check whether a throw would occur if that method were called since catches are prohibited. `HasUniqueFreeBaseBody()` or  ?)

[2020-12-15 06:43] jc211 opened #14455 "Trajectory as a signal"
I want to use the trajectory class with a circular buffer implementation. Basically I imagine using it so that I can update it constantly and only keep the last x entries. Would you advise I generalize the trajectory class so that it doesn't always store the breaks as a vector. Maybe I could add a template to specify the underlying storage type. Or perhaps I should just copy the whole implementati

[2020-12-15 15:52] calderpg-tri commented on #14431
OpenCL support is likely going to require vendoring the `cl.hpp` C++ bindings (found on Ubuntu bionic at `/usr/include/CL/cl.hpp`) [on macOS](https://ham.id.au/getting-started-with-opencl-and-cpp-on-macos-catalina/). Thoughts on where that should live are welcome - to avoid any include path weirdness it might be easiest to put it in `voxelized_geometry_tools` directly.

[2020-12-15 20:25] rpoyner-tri commented on #14455
Assigning to @EricCousineau-TRI for initial assessment and advice.

[2020-12-15 21:09] EricCousineau-TRI commented on #14455
Thanks Rico!

@jc211 Can I ask why you want to do a circular buffer?
I assume it's for performance optimization, but for your use case, have you identified the growth / reassignment of vectors as your primary bottleneck?

Also, which concrete trajectory implementation are you using? Perhaps `PiecewisePolynomial`?
My suggest is to first try storing your polynomial coefficients in a matrix, and just

[2020-12-15 21:12] EricCousineau-TRI commented on #14455
Ah, this use case seems pretty simple?
e.g. I personally would just implement my own simple zero order hold structure. I did that here (when tinkering with `libfranka`):
https://github.com/EricCousineau-TRI/libfranka/commit/273a21d

How is your trajectory getting consumed downstream? Are you just sampling from it, or are you feeding it to other components that require the trajectory interface?

[2020-12-15 23:57] jc211 commented on #14455
Thanks for your input Eric.

With regards to how the trajectory is consumed:
I have a system that is producing accelerometer data and gyro data at different rates. To synchronize them and feed them to my rotation estimation system, I wanted to make trajectories out of both streams and then resample them down the line to get synced values that would then be fed to my sensor fusion setup. I was hopi

[2020-12-16 17:04] rpoyner-tri opened #14457 "a better pattern for retrieving subsystem and context together"
(h/t @ggould-tri )

Seen in anzu code, a somewhat common repeated pattern goes like this (more verbose in actual code):

[code]

This issue asks whether there should be a more ergonomic API for this in Drake itself.

[2020-12-16 17:10] ggould-tri commented on #14457
One alternative to this would be for subsystems to silently accept any enclosing context, so there would be no need to retrieve a subsystem context anyway.

[2020-12-16 18:12] sherm1 commented on #14457
Allowing subsystems to take the Diagram context would be convenient, but in some cases could come with a significant performance penalty due to the need to search for the right subcontext. (I'm thinking of trivial grab-it-out-of-the-cache operations like getting a body's location in space.) In that case we would need also to maintain a lower-level API that accepts only the subcontext for use in pe

[2020-12-16 18:29] jwnimmer-tri commented on #14457
I'm going to wait to offer my thoughts until we have links to three extant code blocks, in situ, that are suffering.  Absent that, we are likely to go off on a tangent.

[2020-12-16 18:55] rpoyner-tri commented on #14457
A little data from anzu:
[code]

[2020-12-16 19:12] ggould-tri commented on #14457
Goes up to 16 when you include GetMutableSubsystemContext

[2020-12-16 19:56] sherm1 commented on #14457
Related: GetMyContextFromRoot() and GetMyMutableContextFromRoot()

[2020-12-16 22:09] #14440 closed

[2020-12-16 23:48] rpoyner-tri opened #14464 "reusable infrastructure for benchmark measurements"
Development of the `cassie_bench` benchmark involved adding a fair amount of infrastructure to control experiment conditions, manage result data, etc. Most of this would be useful for benchmarks and performance-improvement campaigns elsewhere in Drake.

This issue proposes to repackage that infrastructure for reuse. A prerequisite might be to show 3 or so examples where it would be useful. Follow-

[2020-12-16 23:49] rpoyner-tri commented on #14464
Related tickets: #8482, #14449. There are a few other google_benchmark programs lurking around as well.

[2020-12-16 23:53] rpoyner-tri commented on #14464
https://github.com/rpoyner-tri/drake/tree/performance-tools has some work in progress.

[2020-12-17 00:19] jwnimmer-tri commented on #12747
Also, as of https://github.com/boto/botocore/issues/900 (botocore 1.18), the docutils dependency is gone.

[2020-12-17 00:23] jamiesnape commented on #12747
Not this precise issue, but they still have their bad habit of pinning dependencies fairly tightly. Still on my troublesome list of modules.

[2020-12-17 19:51] #13257 closed

[2020-12-19 14:18] aiyer-commits commented on #13514
This would enable running drake on android as well I imagine? Would be interested in contributing, but not sure where to start

[2020-12-19 20:54] xuchenhan-tri opened #14475 "FEM notations"
To help audiences who are not domain experts, we should have a table of notations for FEM and continuum mechanics quantities similar to that for multibody quantities [here](https://drake.mit.edu/doxygen_cxx/group__multibody__quantities.html).

[2020-12-21 15:41] jamiesnape commented on #13514
It is necessary, but not necessarly sufficient. Difficult to say what else would be needed at this stage.

Looking at some of the prerequisites that Drake builds would be a start. I know FCL has issues: https://github.com/flexible-collision-library/fcl/issues/474

[2020-12-21 17:57] mitiguy commented on #13738
I think PR #14459, PR #14461, PR #14468, and PR #14474 resolve most (or all) of this issue within the headers files in the multibody and math subdirectories.

[2020-12-21 17:57] #13738 closed

[2020-12-21 18:56] aiyer-commits commented on #13514
Cool, thanks for pointing me in the right direction!

Arjun

[2020-12-21 21:09] ggould-tri opened #14477 "drake_py_test rules + pydrake creates a confusing failure"
A unit test which imports pydrake transitively inherits an import of unittest via pydrake's import of numpy (`numpy/testing/__init__.py`:10).  It therefore fails the `allow_import_unittest` check.

Of course the caller can work around this by setting the `allow_import_unittest` override, but that defeats the purpose of the check.

The correct resolution of this problen is to switch to `drake_py_un

[2020-12-21 21:34] ggould-tri commented on #14477
(This issue is to allow me to TODO some otherwise defective code for #13904)

[2020-12-22 22:10] ggould-tri commented on #8648
This issue seems to have stalled out with the proposal to solve it via new method.

I find myself wanting this feature, but I wonder if anyone still cares strongly about the current semantics -- I'm not sure how many people are currently using Differentiate at all, much less relying on it to throw on incomplete derivatives..

[2020-12-29 13:17] RussTedrake opened #14481 "`brew 'glib'` (in `/setup/mac/binary_distribution/Brewfile` is forcing python@3.9"
Which then fails, because we try to use 3.8 everywhere else.
(this has been causing github actions to fail on my manip repo CI: https://github.com/RussTedrake/manipulation/runs/1621729167 )

[code]

I believe we need to pin the `glib` version in drake until we finish the migration to 3.9?

[2020-12-30 20:58] EricCousineau-TRI commented on #13298
I believe this came up in some of @rwgk's investigation here:
https://github.com/pybind/pybind11/pull/2672
More specifically, he noted that this setup in Boost.Python may allow for exposing "skips" in exposed inheritance:
https://github.com/boostorg/python/blob/5e4f6278e01f018c32cebc4ffc3b75a743fb1042/src/object/inheritance.cpp#L390

[2020-12-30 21:02] EricCousineau-TRI commented on #5842
Given the recent uptick in interest in pybind11's holder setup (specifically for `unique_ptr` and some of the edge cases I've kludged through), this may become feasible over the next year or so:
https://github.com/pybind/pybind11/issues/2646

[2020-12-30 21:31] EricCousineau-TRI commented on #14477
Yeah, that's related to how `drake_py_unittest_main.py` is written - it allows users to not need `if __name__ == "__main__"`, but it does weird implicit things. The `import uniitest` shindig is another factoring of that which I believe is excessively conservative.

I have minor stake in this issue (aligning unittests in Drake to be more explicit, like Anzu, but with linting), but i have no bandwid

[2020-12-30 21:40] EricCousineau-TRI commented on #14387
Will be investigating this (in a slow-burn fashion). See: https://github.com/pybind/pybind11/issues/2761

[2020-12-30 21:50] EricCousineau-TRI opened #14485 "pybind11 fork: Should benchmark against master and include results in README_DRAKE"
- [ ] Use baseline compile time + compile size benchmarking that's in upstream master
- [ ] Do performance benchmark contingent upon https://github.com/pybind/pybind11/issues/2760

[2020-12-31 04:44] EricCousineau-TRI commented on #7889
FYI @rwgk Per recent convo, I've added a mention of FFIG here: https://gitlab.kitware.com/autopybind11/autopybind11/-/merge_requests/116

[2020-12-31 17:48] BetsyMcPhail commented on #13832
Known issues after testing #14479 (note these are not organized for importance or difficulty).

- Table of Contents missing on: **code_style_tools**, **development_on_mac**, **vim**, **sublime_text**, **reviewable**, **code_style_guide**
- Anchors on all pages missing
- Contents of note and warning boxes aren't formatted correctly (**clion**, **python_bindngs**, Release notes 17 - 20)
-  **clion**

[2021-01-03 14:17] RussTedrake commented on #14481
After some hammering, this fixed it for me on github mac CI:
https://github.com/RussTedrake/htmlbook/commit/a9396db4718102bca8203956fd2225b1e03d6223#diff-855180916c5c4636ec4c690e32742ecbbc6022156eae18c81e802a7ca85949b7

[2021-01-03 15:16] soonho-tri commented on #14481
FYI, https://github.com/actions/virtual-environments/issues/2322 might be the culprit here.

[2021-01-04 04:27] jc211 commented on #14455
I'm closing this for now so it doesn't pollute the issue pool.

[2021-01-04 04:27] #14455 closed

[2021-01-04 13:25] ggould-tri commented on #14477
Yeah, the context here is porting code from anzu.

Since I just TODO'ed to this issue in #14478 I have an interest in not closing it -- IMO we shouldn't close issues that back TODOs.  I'm definitely okay with backlogging it if I'm the only person who cares, though.

[2021-01-04 14:47] jamiesnape commented on #14481
@soonho-tri is correct, the conflict is not ours. My preferred fix is https://github.com/snape/RVO2/blob/9ce1894eb754e3844a60ff048783769e28ff73c8/.github/workflows/ci.yml#L22 before any `brew` operations.

[2021-01-04 14:59] avalenzu commented on #8648
I'm definitely in favor of dropping the current "throw on incomplete derivatives" semantics.

[2021-01-04 15:21] jamiesnape commented on #13832
[code]
permalink: whatever
[code]

[2021-01-04 15:32] jamiesnape commented on #13832
https://kramdown.gettalong.org/syntax.html is also useful.

[2021-01-04 15:44] ggould-tri commented on #8648
One option would be to paint the shed optional-argument colored -- add an `allow_incomplete=false` defaulted arg to the method.  I am hesitant to add optional args everywhere -- we don't want to end up like scipy, after all -- but if anyone relies on the current behaviour it would let us provide best-effort derivatives as an opt-in feature.

[2021-01-04 16:28] jamiesnape commented on #14481
(`python@3.8` and `python@3.9` do not conflict, a regular install by a developer would not see an error.)

[2021-01-04 17:33] RussTedrake commented on #14481
That works for me.  I've updated my use cases, too.  Feel free to close this now (I'm happy that it's documented) if you think that's best.

[2021-01-04 17:40] jamiesnape commented on #14481
I think we can close. Conflicts with our use of Python 3.8 should be minimal as Homebrew have pretty much already moved everything to 3.9 and we install almost no Python code outside of `lib/python3.8/site-packages`.

GitHub Actions, on the other hand, don't seem to care too much what goes on their images (like Travis CI unfortunately), so other conflicts (Python and non-Python) may happen in futu

[2021-01-04 17:43] #14481 closed

[2021-01-04 18:28] samzapo opened #14487 "Help users prevent bad clipping range assignment in `drake::geometry::render::ClippingRange`"
The constructor for `ClippingRange` checks that `0 < near < far` and does not provide advice on how to select a good range.

A naive user, myself, might try to set this range with `near = std::numeric_limits<double>::epsilon()`; that valid value result in bad z-buffer rendering. E.g.,
![image](https://user-images.githubusercontent.com/3719657/103566291-62331b00-4e87-11eb-9a4d-af8e06f12d14.png)
ins

[2021-01-04 18:43] ggould-tri commented on #8648
An interesting thing to note here is that we already handle the other two tricky cases without creation-time exceptions:  Points where neither the x nor dx/dy is defined (e.g. negative sqrt) and points where x is undefined but dx/dy is defined (e.g. the singularities of tan).

This might be an argument that @sherm1's proposal, or a NaN (ugh!) equivalent of it would be the consistent semantics and

[2021-01-04 18:52] jwnimmer-tri commented on #8648
I think that symbolic's treatment of NaN is already on point here, and exactly what you want.  The differentiated expression would be an if-else chain like:
- if left of discontinuity, return lhs derivative;
- else if right of discontinuity, return rhs derivative;
- else return NaN

When _evaluating_ that expression, if we reach the NaN case (e.g., when x == 0), then we would throw an exception (N

[2021-01-04 19:09] ggould-tri commented on #8648
While I'd stop short of saying that symbolic's treatment of NaN is ever what I want, it's definitely the consistent API surface.  I'll PR those semantics and see what people think.

[2021-01-04 19:15] ggould-tri commented on #8648
(In particular I dislike symbolic's treatment of NaN in that it creates a situation where an Evaluate() call can throw but the caller cannot determine ahead of time if it will do so; combined with the no-catch rule, this amounts to requiring callers to take a leap of faith on each evaluation.  That was defective in the MBP GetFooByName methods and it's likewise defective here, but it's blessed by

[2021-01-04 19:23] jwnimmer-tri commented on #8648
For background: Because our symbolic simplifications are unsound under NaN, we can't ever really handle them well -- we'll always need some concept of a partial function.  It would be a fair feature request to be able to _interrogate_ the expression for whether it will throw under some environment (or whether _there exists_ some environment where it _might_ throw).

For my own taste, I'd still vot

[2021-01-04 19:28] ggould-tri commented on #8648
Yup.  Unfortunately the much-needed interrogation method (eg, `Expression::is_nan(Environment)`) is difficult to implement without exceptions in the current design (see eg the handling of domain errors), so I don't expect to be able to fix it soon.

[2021-01-04 20:51] jwnimmer-tri commented on #14477
As I commented in the PR, unit tests should almost never use `drake_py_test`.  Almost all of them should use `drake_py_unittest`, which does not suffer from this problem.  My vote is that this caveat is so rare as to not even merit a backlog issue.  Steady state, we will only have 1 or 2 uses of `drake_py_test` in the tree at any time.

[2021-01-04 21:40] jwnimmer-tri opened #14489 "Add Drake's stardoc to website"
Using https://github.com/bazelbuild/stardoc we can turn our starlark macro documentation into something (hopefully) more easily browsed.  That would be a nice-to-have for the core team to browse, e.g., to cite during code reviews.

Marking as very low priority for now.

[2021-01-04 21:42] jamiesnape commented on #14489
Tried to make that work with one of Russ's repos. Broken then, but maybe they have fixed it now, six months or so later.

[2021-01-05 16:24] jwnimmer-tri commented on #14477
Maybe we should pivot this ticket to be "improve the error message for the 'import unittest' diagnostic", to have it provide a link back to the documentation of `drake_py_test` along with better stardoc on that macro explaining that it's only to be used in the 1% rare cases.

[2021-01-05 16:53] ggould-tri commented on #14477
This is also the view I have come to.  Updating the headline.

[2021-01-05 20:03] stonier opened #14493 "Highlight existence of versioned binaries in the documentation"
Recently went looking for a versioned binary of drake, but had to do some digging to get there. The documentation at https://drake.mit.edu/from_binary.html only points to the existence of nightly binaries.

The versioned binaries do exist, but under a versioned tag's Asset list.

*Victory Conditions*

* Documentation points users to both the nightly and versioned binaries.

[2021-01-05 20:23] jwnimmer-tri commented on #13391
The post above lost some of the nuance from the slack thread.  My sentiment there was a "no earlier than" date, rather than a target date.

In Drake, my general principle is to support the two most recent stable releases for a given platform (Ubuntu, macOS).  For Ubuntu, that means the LTS flavors; e.g., as of today we have 18.04 and 20.04 supported.

Around the time that Ubuntu 22.04 is released

[2021-01-05 20:53] jamiesnape commented on #13391
Previous tradition, I think, has been that we mostly just keep release builds going after the six month point before 22.04 lands, and I imagine we will keep producing binaries and Docker images right until the cut-off date. Depends on budget and whether we switch Mac to AWS, of course.

[2021-01-05 20:59] jamiesnape commented on #13391
The one difference is that we have "weekly" builds now, so we can keep more tooling or configurations going for longer if we want, or at least for as long as it does not cost too much in developer time (since that dwarfs CI cost).

[2021-01-05 21:36] rpoyner-tri commented on #14493
I'll give this a first look, since I did the last release and still have a few release-process-related action items.

[2021-01-06 00:29] EricCousineau-TRI commented on #13074
See user pain point that could be partially addressed by this: https://stackoverflow.com/questions/65583969/visualizing-an-autodiff-multibodyplant-in-pydrake#comment115962920_65584221

[2021-01-06 20:33] EricCousineau-TRI commented on #12590
In review, confirmed that you did most of the work in #13642, saw that it just needs the Sphinx directive.

I'm doing that now, with a minor change - I will change the behavior to spit out:
[code]
rather than the more raw form:
[code]

Should then ensure that same code paths are used for both C++-translated docs and pure Python-authored docs.

[2021-01-06 22:28] EricCousineau-TRI opened #14498 "plant: Weird mix of documentation messes up mkdoc parsing"
In doing #12590, I'm hitting a point where the weird mix of doc-styles messes up `mkdoc`:
https://github.com/RobotLocomotion/drake/blob/935f56aaf4d58dfd2275b046dce9d677419fe3f5/multibody/plant/multibody_plant.h#L338-L341

This stuff:
https://github.com/EricCousineau-TRI/drake/blob/6f95c761df4003ac873a6fd912b6edc823df2ca4/tools/workspace/pybind11/test/sample_header.h#L365-L379

Generates weird stuf

[2021-01-06 23:08] DamrongGuoy commented on #14464
This would be very useful for hydroelastics too. Thank you!

[2021-01-06 23:20] #13973 closed

[2021-01-06 23:43] #14498 closed

[2021-01-07 14:26] jamiesnape opened #14501 "Rename git master (default) branch to main"
`master` is considered offensive to some people and ultimately there is no reason for our default branch to have any name in particular. Just as [Jenkins changing from `slave` to `agent`](https://cd.foundation/blog/2020/08/25/jenkins-terminology-changes/) had implications on CI (Jenkins `master` is moving to `controller` and settings `whitelist/blacklist` changing to `allowlist/denylist` may do to

[2021-01-07 15:45] rpoyner-tri commented on #14493
Passing this along to @jamiesnape to investigate or reassign.

[2021-01-07 20:49] jamiesnape commented on #14493
True. We only publicize the versions published on GitHub. Relates to #14482 somewhat. I would fix up the docs now, but I should  wait until #13832 progresses another bullet point or two, which will be early next week.

FTR

* https://drake-packages.csail.mit.edu/drake/release/drake-0.25.0-bionic.tar.gz
* https://drake-packages.csail.mit.edu/drake/release/drake-0.25.0-bionic.tar.gz.sha256
* https:/

[2021-01-07 20:54] jamiesnape commented on #14493
As far as release process goes, I need to document what I do to upload the files (as well as tagging Docker images, building and publishing soon to be apt packages). All the manual tasks that need to be done after the party has started.

[2021-01-07 20:58] jamiesnape commented on #14493
Probably could be mentioned on each release notes page, but I would need to be in the loop earlier until we have everything automated so there are not dead links for a short period.

[2021-01-07 21:54] xuchenhan-tri commented on #9747
I want to give this issue an update before the change in #14450 gets too out of sync with master.

#14450 will provide two new public methods for MbP:

`HasUniqueFreeBaseBody(ModelInstance)` and `GetUniqueFreeBaseBodyOrThrow(ModelInstance)`.

These methods will enable the following work flow to set the free body pose of the unique free base body given a model instance tag:
[code]

This should at l

[2021-01-07 23:10] rpoyner-tri commented on #14493
FWIW @jwnimmer-tri and I had a  brief talk after the 0.25.0 cycle about automating a good chunk of the later steps of the process. No actual plans yet, but some partially baked ideas. Given my understanding of how much work might be in that, could be useful to improve incrementally for a bit longer. Not entirely helpful notes [here.](https://docs.google.com/document/d/1pn6ZC7v0fJdDjKNux1iDUXMzrtr-

[2021-01-08 00:04] sherm1 commented on #77
Sorry, please ignore this notification test.

[2021-01-08 05:22] EricCousineau-TRI commented on #9747
Er, it looks like there are currently two possible parts to this issue:
(1) The `*UniqueBaseBody*()` functions - which I think Xuchen has well under way
(2) More general `Get{Element}s(ModelInstanceIndex)`, per the title and the last line of Russ's original post.

It kewl if we downscope this issue to just (1)? (i.e. rename the issue to "Need methods to identify the free-body for a model instance"

[2021-01-08 17:20] sherm1 commented on #9747
Yes, I think we should declare that Xuchen's fix closes this issue and open another one if necessary.

[2021-01-08 18:06] #9747 closed

[2021-01-08 20:04] EricCousineau-TRI commented on #9747
Sweet! I went ahead and modded the title too.

[2021-01-09 16:59] stonier opened #14509 "Drake versioned releases do not self-identify"
Or at least, I haven't found anything in a grep of a versioned release (e.g. [drake-0.25.0-bionic.tar.gz](https://drake-packages.csail.mit.edu/drake/release/drake-0.25.0-bionic.tar.gz). The drake `VERSION.txt` file provides only the date / commit hash.

What would be useful:

* Drake's `VERSION.txt` can communicate version possibly with the ability to distinguish between snapshot (nightly) and rel

[2021-01-11 15:22] jamiesnape commented on #14509
Yes, this is an issue for me too. The version number is effectively decided after the event (the release notes are missing from the commit that forms the release). It will need fixing up by tooling or manually, though changing the VERSION.txt changes the SHA, so really we need to fix this before the packages go to GitHub, rather than before they go to S3.

I have to fix this for apt packaging too.

[2021-01-11 15:23] jamiesnape commented on #14509
Probably having Jenkins have a job that takes a SHA parameter and a release number would be a start. We are also missing `drake-config-version.cmake` for CMake.

[2021-01-11 15:24] jamiesnape commented on #14509
Also Bazel has the ability to embed release information, which we do not use at present.

[2021-01-11 15:27] jamiesnape commented on #14509
(To me this is high priority, that is, not necessarily that it should be labeled high priority, but it would make my life disproportionately easier if we achieved this, especially if the release notes were in the release.)

[2021-01-11 21:39] hidmic commented on #14220
FYI `fmt` 7.1.3 made into Debian Sid shortly after New Year's Eve: https://tracker.debian.org/news/1209212/accepted-fmtlib-713ds1-5-source-into-unstable/ :smiley:

[2021-01-11 21:56] ggould-tri commented on #8648
Per the above PR #14514, the location of the discontinuities in if-then-else is a bit wonky.  That PR tosses a `Differentiate`-time exception for non-relational predicate `Formula`s and puts the discontinuity at the equality point of a relational `Formula`.  This is both over-conservative and architecturally incorrect.  A better solution would be to put a `Discontinuities` method into `Formula` it

[2021-01-12 05:55] quanvuong opened #14518 "Un-intuitive behavior of AddModelFromFile and WeldFrames when <static> tag is included in sdf"
I added a gist to demo the behavior in the link below.

https://gist.github.com/quanvuong/c11c96dd51e3a62195073cdf2beb4442

`visualize.py` fails with:
[code]

I guess this is because a static tag is included in the sdf file, and a WeldJoint is added when the sdf is added into the plant. However, there's no error or warning and it was hard to trace the error back to this. If you remove the <static>

[2021-01-12 14:30] stonier commented on #14509
Just went looking for that this morning (needed it). Added it to the list in the issue description.

With regards to priorities, +1 from me. Justifying it's priority really ought to be derived from the priority allocated to user support - this one is a fundamental release mechanism for users. It's rarely used internally by developers (@jamiesnape I imagine you're the exception), so justifying it's

[2021-01-12 14:46] jamiesnape commented on #14509
I am always an exception

But seriously, I need version numbers and release notes (or just release notes that have a clear regex for version number) so that they make to the users in the multiple places they need embedding and I am a proto-user who is supposed to show people how to use the version numbers in the examples. I actually need the tagged commit to contain at least the code to generate t

[2021-01-12 14:50] jamiesnape commented on #14509
This could be achieved via some Bazel and  C++ code and the flag `--embed_label` IIRC.

[2021-01-12 15:19] rpoyner-tri commented on #14518
Taking an initial look.

[2021-01-12 16:27] jwnimmer-tri opened #14519 "Update macOS provisioned images in CI"
PR #14517 added some new brew dependencies.  Please upgrade our provisioned images to match.

[2021-01-12 16:33] jamiesnape commented on #14519
I was slightly ahead of you. We are already updated.

[2021-01-12 16:33] #14519 closed

[2021-01-12 17:28] #12128 closed

[2021-01-12 18:59] huihuaTRI commented on #14431
This could be really useful for drake users since that's what Drake is currently lacking. I would like to help if you @calderpg-tri  need some manpower.

[2021-01-12 19:45] #14220 closed

[2021-01-12 20:01] jwnimmer-tri commented on #14220
Resolution from #14427:

[2021-01-12 21:05] rpoyner-tri commented on #14518
https://github.com/rpoyner-tri/drake/tree/debug14518 reproduces the original complaint, as a throwaway branch for further investigation.

[2021-01-12 22:23] mitiguy commented on #14268
Resolved as PR# 14354 merged with methods and test for MultibodyPlant::CalcCenterOfMassTranslationalVelocityInWorld().
Will open a new issue to deal with Sherm's suggestion to deprecate CalcCenterOfMassPosition() in favor of CalcCenterOfMassPositionInWorld() (avoid having two names for the same thing).

[2021-01-12 23:13] rpoyner-tri commented on #14518
Possibly related: closed drake issue #12227.

[2021-01-12 23:21] rpoyner-tri commented on #14518
Paging @EricCousineau-TRI for expertise on whether the current implementation of //model/static makes sense.

[2021-01-13 16:19] ggould-tri opened #14524 "spong_controller_w_lcm does not receive LCM"
At some point, possibly #10476, `//examples/acrobot:spong_controller_w_lcm` (in concert with its friend `//examples/acrobot:run_plant_w_lcm`) stopped working.  We didn't notice because they lack a test :upside_down_face: .

The symptom is that the controller always commands zero torque, leaving the visualized plant swaying morosely forever.

Per [this slack thread[(https://app.slack.com/client/T0J

[2021-01-13 16:20] rpoyner-tri commented on #14518
/cc @joemasterjohn since it could be that a solution to this may intersect with remodeling efforts.

[2021-01-13 16:46] joemasterjohn commented on #14518
Drake's parsing behavior as it stands is to weld all links to the world for any model marked static. The problem in the example is that each link is being procedurally welded to the world after parsing. The fix would be to remove those lines in the for loop.

I believe Drake's behavior to be correct, but maybe the error message is un-intuitive. `MBP::WeldFrames` is just a wrapper for `AddJoint<Wel

[2021-01-13 16:51] rpoyner-tri commented on #14518
@joemasterjohn that is a possible fix, but conflicts with @EricCousineau-TRI 's original design, per [this comment](https://github.com/RobotLocomotion/drake/issues/12227#issuecomment-544675794) .

Another possibility is to issue some warning from the parser when `static` is used, since the current "fail-fast" implementation seems to defy user intuition.

[2021-01-13 21:11] BetsyMcPhail opened #14527 "Mirror to s3 job fails without Sphinx"
Failing job: https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-bionic-gcc-bazel-continuous-mirror-to-s3/1844/

Sphinx was removed from the provisioned images, see [Slack conversation](https://drakedevelopers.slack.com/archives/C270MN28G/p1610478253294000)

To fix the error immediately, this job needs to move to the unprovisioned images but it should not need the documentat

[2021-01-13 21:12] BetsyMcPhail commented on #14527
pinging @jwnimmer-tri

[2021-01-13 21:34] jamiesnape commented on #14527
Moved to unprovisioned. I guess there is an edge case where we might want to cache something needed to build documentation, so passing the `--with-doc-only` flag is not necessarily bad, but we should not really need Sphinx, so something is not quite right.

[2021-01-14 14:42] #14527 closed

[2021-01-14 16:47] rpoyner-tri commented on #14518
Summary of f2f with @joemasterjohn:
 * the existing sdf parser implementation of static produces hidden/un-intuitive topology
   * this differs from other systems' implementation, which is more like a "get out of physics free" card than weld joints to the world
 * however, apparently, Drake reserves the right to select topology details for various practical reasons (more detail here, @joemasterjoh

[2021-01-14 17:19] quanvuong commented on #14518
I just wanted to say that drake is great and has helped me a lot in my own work. The attention and care you put into my issue really demonstrates why drake is so great :+1:

[2021-01-14 18:17] EricCousineau-TRI commented on #14518
@quanvuong Rico and Joe's assessments are correct, and I think what you mentioned here is the best course for correction:

I think the best solution would be to (a) make it more obvious that the weld joint comes from `//model/static` tag. If we wanna go overboard, we can check this situation in `MultibodyPlant::AddWeld` or even `AddJoint` and warn about this specifically, and perhaps refer to the

[2021-01-14 18:31] rpoyner-tri commented on #14518
I like the elaborate weld joint name as a resolution for now. It gives a decent clue, and is neither noisy nor weirdly out of band. I can try to roll a PR for that.

Longer term, probably the SDF Parser could be taught to use the forthcoming joint locking feature. This would minimize the amount of made-up topology and perhaps be a bit more comprehensible.

re: "system" from above -- ambiguous on p

[2021-01-14 21:25] SeanCurtis-TRI opened #14532 "DrakeVisualizer depends on order of received LCM messages"
## Problem

The `DrakeVisualizer` class talks to the `drake_visualizer` application by means of two types of lcm messages: "load" message and a "draw" message. The load message contains the contents of the scene and the draw message contains the poses for all of the frames specified in the load message. For a draw message to be meaningful, a compatible load message must have previously been proces

[2021-01-14 23:36] DamrongGuoy commented on #13665
On my Puget, this example

 `bazel run //geometry/profiling:contact_surface_rigid_bowl_soft_ball`

was captured in these three movies to show how contact visualization performs right now.  In the first movie with both contact pressure and contact mesh, I saw only one frame for the entire 10s sim.  In the second movie with only contact mesh no pressure, the movie has more frames to show.  The third

[2021-01-14 23:36] DamrongGuoy commented on #13665
Thanks to @xuchenhan-tri for planning to work on it.

[2021-01-15 00:55] rpoyner-tri commented on #14518
Still need to write a proper test to have a complete PR, but the error message in the https://github.com/rpoyner-tri/drake/tree/debug14518 branch i starting to look like this:
[code]

@quanvuong seem like an adequate error message?

[2021-01-15 02:30] RussTedrake commented on #4267
FWIW -- this came up again in https://stackoverflow.com/questions/65724598/pydrake-extracting-autodiff-gradients-from-a-robot-controlled-via-differential/

[2021-01-15 18:04] EricCousineau-TRI commented on #14518
Also, at the present incantation of the #14534 (`r1` in Reviewable), this will throw immediately when the joint is added.

Thus, if you use adjust the logging verbosity, you should be able to see the immediate SDFormat file that has the redundant joint via a weld.

[2021-01-15 19:59] quanvuong commented on #14518
@rpoyner-tri Thanks! That looks good to me. It's a lot more intuitive to trace the error back to the static tag with the new error message. Please feel free to close the issue when you think it's apt.

[2021-01-15 20:38] rpoyner-tri commented on #14518
@quanvuong thanks for taking a look. The issue will auto-close when the PR lands. Looks like a bit of implementation discussion there still to settle.

[2021-01-15 23:47] mitiguy opened #14537 "Deprecate CalcCenterOfMassPosition() in favor of CalcCenterOfMassPositionInWorld()."
While working on #14268, we decided that for a consistent API for center of mass methods, it would be beneficial to deprecate CalcCenterOfMassPosition() in favor of CalcCenterOfMassPositionInWorld().

As decided in issue #14268, the public API for center of mass methods names are (or will be):
Vector3<T> CalcCenterOfMassPositionInWorld(const systems::Context& context) const;
Vector3 <T> CalcCenter

[2021-01-15 23:50] mitiguy commented on #14537
Created PR #14538

[2021-01-16 02:13] mitiguy commented on #14268
Specifically, created issue #14537 and PR# 14538 to deprecate CalcCenterOfMassPosition() in favor of CalcCenterOfMassPositionInWorld().

[2021-01-16 02:13] #14268 closed

[2021-01-16 15:41] jwnimmer-tri commented on #14362
To adjust drake-visualizer to use Drake's lcm python messages (instead of bot_core or robotlocomotion message), I think it'll be easiest to do this re-pathing step first.  I'm going to work on it next.

I realized that by moving away from the "entirely distinct cmake package" concept, we'll be able to declare and use lcm messages within individual folders, instead of having them centrally located.

[2021-01-19 14:59] jwnimmer-tri commented on #12783
I apologize, but I did not read this posting carefully enough upthread when it occurred.  The `drake-doc` package is not part of the minimum viable first release for the apt packages.  I did not intent it to be scoped into this ticket, and I failed to notice when it became so.

I don't want us to invest in supporting it on an ongoing basis.  We don't publish compiled docs as part of the current re

[2021-01-19 15:13] jamiesnape commented on #12783
Well, it was mentioned multiple times, is a common convention, there is a strong argument that all our packages should have docs, and indeed it is the only part of the realize process that is automated (for the website). Perhaps you might like to poll people whether offline documentation would be useful, especially as we moved it out of the main build, as it is barely extra maintenance cost over t

[2021-01-19 16:29] SeanCurtis-TRI commented on #13627
As of #14540, the render benchmark has been updated to include `RenderEngineGl`. As relates to this issue:

`RenderEngineVtk`:
  - For a single geometry: color 2560x1920 time is 11.9 ms.
  - For 1200 geometries: color 2560x1920 time is 750 ms.
  - For 1200 geometries, color even 320x240 time is 654 ms.
`RenderEngineGl`:
  - For a single geometry: color 2560x1920 time is 11.4 ms.
  - For 1200 geome

[2021-01-19 16:41] sherm1 commented on #13627
Awesome! Thanks, @SeanCurtis-TRI.

[2021-01-19 16:41] sherm1 commented on #13627
/cc @huihuaTRI

[2021-01-19 17:36] huihuaTRI commented on #13627
Thank you for the update!  I will let the FL team know about it. They will need to update their Drake version though.

[2021-01-19 19:51] edrumwri opened #14543 "Eliminate heap allocations in event dispatching"
With some care, heap allocations can generally be avoided (excepting a "warm up" phase) as a Systems' State is updated over time- i.e., through integration, discrete updates, and unrestricted updates- at least with regard to the Systems framework code.

Given the following code:
[code]

in which any necessary heap allocations can be performed in `Initialize(.)`, and assuming that `my_system` perfo

[2021-01-19 21:12] mpatalberta opened #14544 "drake/manipulation/kinova_jaco does not build"
I would expect a complete build to also do the complete code that is under the manipulation directory.
Thanks for your help

[2021-01-19 21:17] jwnimmer-tri commented on #14544
Can you provide information on exactly what steps you performed, and what seemed to be missing afterwards or go wrong?

A quick skim of the source code, as well as the https://github.com/RobotLocomotion/drake/releases/tag/v0.25.0 precompiled images, shows me that the kinova_jaco libraries should be compiled under normal circumstances.

[2021-01-20 00:51] sherm1 commented on #14543
Thanks, @edrumwri !

[2021-01-20 02:39] #14518 closed

[2021-01-20 20:29] EricCousineau-TRI opened #14551 "Can mujoco_py and pydrake be imported and used in the same process?"
Using this to record any steps / errors that come about when trying to import these two.
Just for tinkering atm.

Relates #11100

[2021-01-20 20:42] EricCousineau-TRI commented on #14551
*Answer*:
Yeah, seems alright for now: https://gist.github.com/EricCousineau-TRI/d276cbca4b2a8c6cb94bc10033786ca3

FYI @siyuanfeng-tri @amcastro-tri

[2021-01-20 20:42] #14551 closed

[2021-01-21 13:00] edrumwri opened #14552 "Periodic update events with small offsets are lost as Context times become large"
The periodic event offset is subtracted from the current time here:

https://github.com/RobotLocomotion/drake/blob/5b3377b92387cd149d5aa7b88f8ce5866347bbc1/systems/framework/leaf_system.cc#L34

in order to determine the next update time for periodic updates. When the Context time is large (> 16 orders of magnitude greater than the offset), this subtraction effectively results in a no-op.

[2021-01-21 14:50] SeanCurtis-TRI commented on #14552
How real a problem is this?

Let's say we have a high frequency period (say 1 ms). We'd cross the threshold you describe when we have 1e13 seconds clocked in the context. 1e13 s / 60 / 60 / 24 / 356 = 325,000 years. And even if we wanted to reduce the period to microseconds, that's still 325 years. Kind of hard to imagine the utility of such a simulation. Would we be simulating a robot that can su

[2021-01-21 15:14] edrumwri commented on #14552
It doesn't matter how likely you think it is that this will happen. It will fail silently and it's fixable.

[2021-01-21 15:41] SeanCurtis-TRI commented on #14552
I absolutely agree with the stated facts at hand. And while I can easily imagine how someone would encounter the bug, I'm just hard-pressed someone taking that action. But that's neither here nor there.

I'm curious about your "fixable" idea. In my mind, the best we can hope for is detect it and not continue. Better to stop than to lie, after all. Did you have something else in mind?

[2021-01-21 16:31] sherm1 commented on #14552
I'd be tempted to include this under a general "Drake uses finite precision to approximate real numbers" warning -- there are lots of potential failures due to limited precision. For example, our measurements of small penetrations between objects A and B become less precise as A and B move further from the origin, eventually becoming nonsense. Do you think this particular case is worse than other

[2021-01-21 16:35] SeanCurtis-TRI commented on #14552
Or if you allow the bodies/geometries to move far away from the origin.

[2021-01-21 16:37] SeanCurtis-TRI commented on #14552
Certainly, testing `t + Δt != t` in appropriate locations would at least allow us to announce, "Hey! We've got incompatible time values!" instead of just moving on with the illusion of meaningful computations. We do have a reasonable expectation of well-behaved time.

[2021-01-21 16:50] sherm1 commented on #14552
We should verify that optimizers are forbidden from cleverly converting the expression `t + Δt != t` to the mathematically (but not numerically) equivalent test `Δt != 0`. I _think_ that's forbidden under normal IEEE rules.

[2021-01-21 17:10] jwnimmer-tri commented on #14544
I'm going to close this out as "needs more information".  Here's our stock information for how to get help -- https://drake.mit.edu/getting_help.html.

In this case, my best guess is that the software and build system are working as intended, but our documentation or tutorials are lacking or misleading, leading to some unexpected failure to build in your circumstances.  In that case, our preferenc

[2021-01-21 17:10] #14544 closed

[2021-01-21 17:39] #13617 closed

[2021-01-21 17:55] jwnimmer-tri commented on #14310
Given some slack discussions last week, I wonder if this already got completed, perhaps?

[2021-01-21 17:58] jamiesnape commented on #14310
Ideally we would have scratch and re-provisioned without any doc flags, but a band-aid was applied instead and it looks like we got everything meaningful off the image. So while not perfect, it is probably good enough to close this issue.

[2021-01-21 17:58] #14310 closed

[2021-01-21 18:35] jwnimmer-tri opened #14555 "Test on new Apple arm hardware"
New Apple laptops ship with arm (not x86) processors.  There is an emulation layer (Rosetta 2) for x86 binaries to continue to run.

We should experiment and test how Drake behaves on this new hardware, at minimum so we can inform users what to expect, but ideally to inform a work plan to patch up any problems, so that at least _some_ installation method can work for users who want to run Drake on

[2021-01-21 18:40] jwnimmer-tri commented on #12783
On the docs, I hesitate to commit to doc packages because I intend for us to completely rework the software tooling for documentation generation, by consolidating our wrapping tools and moving logic from drake-ci cmake into python within the drake tree directly, so keeping the only use cases as "developer instructions" and "jenkins" will make that easier.

For a victory condition for _this_ ticket

[2021-01-21 19:07] jwnimmer-tri commented on #13779
Lowering priority -- we have a manual solution for now.  As part of a bigger swing a reworking the release process we will work on automating this, but for the moment it's passable.

[2021-01-21 19:13] mpatalberta opened #14556 "kinova arm with j2s6s300 and drake - uploaded j2s6s300_sphere_collision"
How do you build the urdf files from the kinova arm j2s6s300_standalone.xacro file.
I tried running ros xacro to urdf but that did not work.
I get an error:
[2021-01-21 14:04:19.196] [console] [warning] Currently MultibodyPlant does not handle joint limits for continuous models. However some joints do specify limits. Consider setting a non-zero time step in the MultibodyPlant constructor; this wil

[2021-01-21 19:22] jwnimmer-tri commented on #14493
The discussion here wandered a bit from the goal.  The problem is simple and stated in the top post -- https://drake.mit.edu/from_binary.html only mentions nightlies.  We should just add a "Versioned releases" header prior to it, with links to how & where to find them.

[2021-01-21 19:31] jwnimmer-tri commented on #14509
The list of places to note a version badge in the top post is sound, and a great idea.

On the topic of priority, this is one of the most important issues in its subject area, but we just have a lot of projects already in flight (apt packages, catching up on macOS support, website refresh) that we need to carry over the finish line before revisiting the versioned-release machinery.

[2021-01-21 19:47] rpoyner-tri commented on #14556
Hi Patrick -- can you give us more detail on the file you are using and the steps you took to try to load it in Drake? A quick internet search did not locate the model file.

Bouncing to @sherm1 for proper delegation.

[2021-01-21 19:47] edrumwri commented on #14552
**It was worse for me** because I want to trigger a system right after another system, periodically. That makes it tricky without consideration of how large the time can get.

That seems a lot worse than times get absurdly large (1e+13s would be needed for a common step size of 1e-3), causing time to no longer advance.

[2021-01-21 20:01] sherm1 commented on #14552
One way to fix this would be to have the Simulator refuse to let time go past some arbitrary-but-safe number like 1e10. Do you think that would be acceptable?

[2021-01-21 20:03] jwnimmer-tri commented on #14556
A likely source of `j2s6s300_standalone.xacro` would be https://github.com/Kinovarobotics/kinova-ros/tree/master/kinova_description/urdf.

[2021-01-21 20:06] SeanCurtis-TRI commented on #14552
In talking to @edrumwri, the sense I got is that he wanted to get two systems to evaluate in a fixed order. So, they both had a periodic event, but one had a *very* small offset so that the state it operated was essentially the state after the previous system concluded. The smaller the offset, the more true this is. But the more likely he is to run into the problem.

For example, if offset is 1e-6

[2021-01-21 20:17] edrumwri commented on #14552
That's correct @SeanCurtis-TRI

The problem with this is that the construction of this particular system is far removed from the construction of the Simulator, i.e., it would be quite brittle.

Given the engineering effort required to address this problem correctly, I'd be happy with just a DRAKE_DEMAND that `offset_time` has actually changed when `offset != 0` in the permalink.

[2021-01-21 20:52] mpatalberta commented on #14556
Hello,
I have a kinova j2s6s300 robot arm and hand. Also referred to JACO2 .
I see in the manupilation/models/jaco_description/urdf
  You deal with urdf file.
  The files from Kinova come in xacro format.
  Drake does not appear to support xacro files.
  You can however convert a xacro fileto a urdf file by using ROS xacro.
  It is not clear to me how you would go about building the hand,arm and c

[2021-01-21 20:56] mpatalberta commented on #14556
Hello,
I had already added and converted the files

j2s6s300_standalone.xacro  and j2s6s300.xacro

I converted them both to a single urdf file using ROS xarco to urdf.
This produces 1 file.
j2s6s300.urdf
problem how did someone generate

  1.  Collision file
  2.  Hand
  3.  Arm
Thanks pat,
Pat,
From: Jeremy Nimmer <notifications@github.com>
Sent: Thursday, January 21, 2021 3:04 PM
To: RobotLocomo

[2021-01-21 21:03] mpatalberta commented on #14544
Jeremy,
My problem was not understanding what is going on.
The problem was not understanding the use of these files.
Pat.

From: Jeremy Nimmer <notifications@github.com>
Sent: Thursday, January 21, 2021 12:11 PM
To: RobotLocomotion/drake <drake@noreply.github.com>
Cc: Brown, Patrick <Patrick.Brown@zebra.com>; Author <author@noreply.github.com>
Subject: Re: [RobotLocomotion/drake] drake/manipulatio

[2021-01-21 21:08] rpoyner-tri commented on #14556
It appears that Drake has a batch of converted urdf models for the 7DOF variant. All appear to have been hand-edited.

Files are here: https://github.com/RobotLocomotion/drake/tree/master/manipulation/models/jaco_description

cc: @sammy-tri who seems to have converted the 7DOF models, for advice.

[2021-01-21 21:53] sammy-tri commented on #14556
This is correct, particularly with regard to the  `*_arm.urdf`,  `*_hand.urdf`, and  `*_sphere_collision.urdf` models of the 7-dof Jaco.  I created them by hand in #13007.  Splitting out the arm-only and hand-only models was a fairly straightforward copy/paste from the combined model in `j2s7s300.urdf`.  Creating the sphere collision models was rather more time consuming.  To the extent that the 6

[2021-01-21 22:03] jwnimmer-tri commented on #14544
Sure thing, no problem.  We are eager to help support new users who have questions, but we'd like to host those discussions on the StackOverflow site, rather than the issues database here.

https://stackoverflow.com/questions/tagged/drake

[2021-01-21 22:11] mpatalberta commented on #14556
Rick.
My name Patrick Brown.
I have j2s6s300 ( 6dof sphereical with 3 fingers)
Kinova supplied the xacro files.
   J2s6s300_standalone.xacro and j2s6s300.xacro [ standalone includes j2s6s300.xacro.
The drake system does not appear to support xacro.

Ros has a package called xacro.
I rand the program xacro from ros.

My problem here is what was done is not really documented.
Running the suggested m

[2021-01-21 22:14] sammy-tri commented on #14556
oh, also, to confirm, `j2s7s300.urdf` was created using xacro from ROS and then added to drake.

[2021-01-21 22:22] mpatalberta commented on #14556
My Creasey,
My response is below.

From: Sam Creasey <notifications@github.com>
Sent: Thursday, January 21, 2021 4:54 PM
To: RobotLocomotion/drake <drake@noreply.github.com>
Cc: Brown, Patrick <Patrick.Brown@zebra.com>; Author <author@noreply.github.com>
Subject: Re: [RobotLocomotion/drake] kinova arm with j2s6s300 and drake (#14556)

[External Email]

It appears that Drake has a batch of converte

[2021-01-21 22:27] mpatalberta commented on #14556
Mr. Creasy,
I kind guessed that.
Thanks,
Patrick,

From: Sam Creasey <notifications@github.com>
Sent: Thursday, January 21, 2021 5:14 PM
To: RobotLocomotion/drake <drake@noreply.github.com>
Cc: Brown, Patrick <Patrick.Brown@zebra.com>; Author <author@noreply.github.com>
Subject: Re: [RobotLocomotion/drake] kinova arm with j2s6s300 and drake (#14556)

[External Email]

oh, also, to confirm, j2s7s30

[2021-01-21 22:59] sammy-tri commented on #14556
I'm not very familiar with the SRDF format or MoveIt!, but I don't think it would be useful to build a collision model for use in drake.   Collision/contact in drake generally works best with a collision model made from geometric primitives instead of meshes, which is why I hand-made the sphere collision model for the 7DOF robot.

The `j2s6s300.urdf` generated from xacro should be sufficient for k

[2021-01-21 23:07] mpatalberta commented on #14556
Mr. Creasey,

I wish I was not familiar moveit also.

I have put all my files the fork and branch that I have created.

drake/manipulation/models/jaco_discription/urdf
   the input xacro and output urdf are included.

Patrick,
From: Sam Creasey <notifications@github.com>
Sent: Thursday, January 21, 2021 6:00 PM
To: RobotLocomotion/drake <drake@noreply.github.com>
Cc: Brown, Patrick <Patrick.Brown@

[2021-01-21 23:27] sammy-tri commented on #14556
Looking at the newly generated URDF, it looks like it has a joint which connects the base to the world inside the URDF: https://github.com/mpatalberta/drake/blob/kinova_j2s6s300_arm/manipulation/models/jaco_description/urdf/j2s6s300.urdf#L47

Our arm models in drake don't usually have a joint like this in the URDF file, so I'm guessing that the joint is being added twice, first when the URDF is pa

[2021-01-21 23:31] mpatalberta commented on #14556
Mr. Creasey,
Thanks for your help I will try the change.
Patrick

From: Sam Creasey <notifications@github.com>
Sent: Thursday, January 21, 2021 6:28 PM
To: RobotLocomotion/drake <drake@noreply.github.com>
Cc: Brown, Patrick <Patrick.Brown@zebra.com>; Author <author@noreply.github.com>
Subject: Re: [RobotLocomotion/drake] kinova arm with j2s6s300 and drake (#14556)

[External Email]

Looking at the

[2021-01-22 17:23] mpatalberta opened #14559 "I have ch"
I have checked in my code changes and changes to the urdf files that are used
The jaco_controller gives the incorrect number of joints should be 6 and not 7

nl@tnl:~/drakeother/drake$ bazel-bin/examples/kinova_jaco_arm/jaco_controller
[2021-01-22 12:21:11.444] [console] [warning] Currently MultibodyPlant does not handle joint limits for continuous models. However some joints do specify limits. Co

[2021-01-22 17:26] EricCousineau-TRI commented on #13945
Merp :(
https://github.com/conda/conda/issues/10470

[2021-01-22 23:04] EricCousineau-TRI commented on #13945
Note that the installation docs for Conda are part of the reason why it may not readily play well with stuff like Drake (non-platform supplied packages, invasive use of user environment, etc.):
https://github.com/conda/conda/issues/10470

We could also actively advise people to use "silent mode" (per the conda docs) as means to avoid intermixing.

[2021-01-23 02:00] mpatalberta commented on #14556
Mr Creasey,
I am having bulid a urdf file from scratch as the Drake system is very weak on this.
They had file for a j2s7s300 wiith collision.
The joint sizes are mm:
275.2
205
205
207.3
103.8
103.8
160

E2 = (a little offset) 0.0098meter
Centerline offset to middle of palm 13.3mm

The j2s6s300 has 1 less joint and is the same as the j2s7s300
The 205 + 205 = 410mm

My plan is to combine these join

[2021-01-24 07:39] rcywongaa opened #14561 "Numerical instability of PiecewiseQuaternionSlerp"
Consider the following program
[code]
Output:
[code]

While I'm aware that `[0.5, 0.5, -0.5, -0.5]` and `[-0.5, -0.5, 0.5, 0.5]` represent the same rotation, it seems unintuitive that the slerp will return quaternions with a large jump in element values.

This was tested with the latest v0.26.0 release

### Edit

Here's another manifestation I stumbled upon:

[code]
Output:
[code]

[2021-01-24 19:20] mpatalberta commented on #14556
Mr. Creasey,

My plan is to use the supplied js2s7300_spherical_colllsion.urdf and remove joint 4 /link 4 and then double the length of joint 3/link 3.

Then rename link/joint 5 ,link/joint 6 , link/joint  7 to 4 , 5 and 6 respectably.
Page 44
https://www.kinovarobotics.com/sites/default/files/UG-009_KINOVA_Gen2_Ultra_lightweight_robot_User_guide_EN_R02.pdf
The area above describes the 2 arms and

[2021-01-25 14:45] SeanCurtis-TRI commented on #14561
@RussTedrake As the primary author of this code (at least as far as the existing history knows), I'm assigning this to you. Feel free to pass it along as appropriate.

[2021-01-25 14:54] SeanCurtis-TRI commented on #14559
@mpatalberta   Several things:

1. We need you to clean up the issue title. As is, the complaint isn't clear.
2. This feels a bit like a stack-overflow question more than a Drake issue (although that sense may change based on clarification of the issue text).
3. "I have checked in my code changes and changes to the urdf files that are used".  It's not clear what this means. Do you have a unique lo

[2021-01-25 14:54] SeanCurtis-TRI commented on #14559
Assigning to @sherm1 for subsequent disposition.

[2021-01-25 15:04] SeanCurtis-TRI commented on #14559
Ah...this appears to be spill over from #14556. I'm closing this as duplicate of that. Any information here that is relevant there, should be placed there.

I'd take a quick opportunity to emphasize (particularly given #14556) that this really is more of a stackoverflow kind of topic more than a drake *issue*.

[2021-01-25 15:04] #14559 closed

[2021-01-25 15:24] SeanCurtis-TRI opened #14562 "Make RenderEngineGl available for mac"
## Problem

Currently, `RenderEngineGl` is an Ubuntu-only piece of code. As such, this leads to some gymnastics when working with it (vis a vis CI: see #14540 and #14558). However, [a recent slack conversation](https://drakedevelopers.slack.com/archives/C270MN28G/p1611327200004300?thread_ts=1611268097.000800&cid=C270MN28G) suggests that this is an unnecessary distinction. We can add sufficient mac

[2021-01-25 16:03] rpoyner-tri commented on #14559
@SeanCurtis-TRI FWIW, my https://github.com/RobotLocomotion/drake/pull/14534 will likely give better error messages in cases like this. I suspect the branch that @mpatalberta is using is a bit older than when that merged.

[2021-01-25 16:34] RussTedrake commented on #14561
Actually, I only touched the API... @siyuanfeng-tri is the real author.  @siyuanfeng-tri , want to take a look?

[2021-01-25 16:38] rpoyner-tri commented on #14449
Punting this. From discussion with @sherm1 "benchmarks are not what we lack". Might come up again later, but probably best framed by concerns at that point.

[2021-01-25 16:38] #14449 closed

[2021-01-25 18:31] jwnimmer-tri commented on #10619
Now that S3 guarantees strong consistency, using S3 directly for our remote cache is probably going to be more performant than our current EC2 solution.

We should investigate that as a solution.  We could even roll it out for Ubuntu builds only, in case its untenable to immediately switch the macOS build farm to using it.

[2021-01-25 18:41] mpatalberta opened #14565 "Added j2s6s300_sphere_collision.urdf"
Though the arm look correct the simulator does not output the correct result.
I had found that jaco_controller,jaco_simulator move had to be changed to read the j2s6s300_sphere_collision.urdf where changed as default
The jaco_constants.h needed to be changed to 6 joint from 7.

Still the output from the simulator looked in correct.
Could some one please look or suggest what is  going wrong here.

[2021-01-25 18:55] mpatalberta commented on #14556
Mr. Creasley,
I have uploaded my l2s6s300_sphere_collision.urdf file.
Using the drake visualizer it looks correct.
I change the example code to run this arm but the results are still not correct.
Could you please examine change and suggest what othr changes are required,
Thanks,
Patrick Brown
Zebra technology
631 880 1188

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

[2021-01-25 21:23] SeanCurtis-TRI commented on #14565
@mpatalberta It seems that you're creating new issues instead of continuing the discussion in #14556. Is that intentional? This seems to be a continuation of that conversation.

I'm closing this for now and would suggest you put your response into that PR. If I'm mistaken, you can clarify this issue and re-open it.

[2021-01-25 21:23] #14565 closed

[2021-01-25 21:26] #8821 closed

[2021-01-25 21:33] mpatalberta commented on #14556
Ok so I have been able to create and a new j2s6s300_sphere_collison.urdf,
The drake visualization look correct.
The jaco simulator does not appear to work for the simulation mode.

Can some one suggest what need be changed in jaco_controller ,jaco_simulator and jaco_move.
I have checked all my code into my pull

[2021-01-25 21:39] mpatalberta commented on #14556
Ok so I have been able to create and a new j2s6s300_sphere_collison.urdf,
The drake visualization look correct.
The jaco simulator does not appear to work for the simulation mode.

Can some one suggest what need be changed in jaco_controller ,jaco_simulator and jaco_move.
I have checked all my code into my pull
I also noticed in jaco_simulator the that 7 links are written to instead of the 6 for m

[2021-01-25 21:52] rpoyner-tri commented on #10605
A possibly interesting example for the future playbook is #14538 .

[2021-01-25 21:52] mpatalberta commented on #14556
I had found that jaco_controller,jaco_simulator move had to be changed to read the j2s6s300_sphere_collision.urdf where changed as default.

The jaco_constants.h needed to be changed to 6 joint from 7. This  code need to get the joint number programmatically and not use a hardcoded value

[2021-01-25 21:56] EricCousineau-TRI commented on #10605
See also: https://github.com/RobotLocomotion/drake/pull/14546

[2021-01-26 00:50] EricCousineau-TRI opened #14566 "Improve TypeHash's nested types diagnostic advice"
For more context, see @hongkai-dai's question here:
https://drakedevelopers.slack.com/archives/C3YB3EV5W/p1611620611000900?thread_ts=1611620465.000800&cid=C3YB3EV5W

Basically, `Value<TemplatedType<S>::Inner>` doesn't play well with `TypeHash<T>`.

Min-repro: ebea59f4d3
https://github.com/RobotLocomotion/drake/compare/master...EricCousineau-TRI:issue-value-inner-templated-boo?expand=1

@jwnimmer-t

[2021-01-26 00:57] jwnimmer-tri commented on #14566
I'm happy to have it assigned to me, but I'm unclear on what the call to action is?
- Have Drake CI fail-fast if first-party Drake code contains such a defect?
- Improve the error message so that a developer can more quickly understand and repair the defect?
- Improve TypeHash so that it can handle this case without complaint?

[2021-01-26 01:05] EricCousineau-TRI commented on #14566
Ah, sorry! The call to action is ideally "Improve TypeHash so that it can handle this case without complaint"
Barring that, ideally we have this failure case denoted in a unittest, with advice on how to mitigate this (e.g. don't use the nested type of a template class, etc.)

Does that work?

[2021-01-26 01:12] jwnimmer-tri commented on #14566
Fixing it for real (option 3) requires writing some approximation of an actual typename parser that supports nesting, which used to be somewhat awkward in the `constexpr` language subset in '14.  Maybe with '17 or '20 now it's easier, but I'd argue it's still low bang for the buck.  In 80%+ of the time this error message appears, the user's code code is already defective (nesting a scalar-agnostic

[2021-01-26 06:30] siyuanfeng-tri commented on #14561
sure.

[2021-01-26 16:49] jamiesnape commented on #12783
0.26.0 drake-dev packages are now available (documentation is not, per the above). I guess we are pretty close to victory, given our current manual release process. Not quite the sleek Ferrari garage of packages that I was hoping for, more a single Fiat Multipla that needs a kick to get started each month.

[2021-01-26 17:01] jamiesnape commented on #9139
Note, the monthly S3 packages do get signed since I manually upload those (add `.asc` to a given filename and verify with the key at https://drake-packages.csail.mit.edu/drake/release/drake.asc, which is the same key as the apt packages). Basically, to me, this ticket is an appendix to an automated release process. Once that happens, it is additional infrastructure and security.

[2021-01-26 17:17] siyuanfeng-tri commented on #14561
Thanks for reporting this.
The issue is coming from you getting the interpolated Quaternion as a matrix (through `slerp2.value(t)`) then converting it to quaternion with Eigen's constructor. Because we didn't expose the full c++ API to python for getters like this https://github.com/RobotLocomotion/drake/blob/master/common/trajectories/piecewise_quaternion.h#L91, which doesn't have this issue.. I

[2021-01-26 17:26] mpatalberta opened #14568 "drake visualizer shows no activity when you run the defaultg j2s7s300_sphere_collision.urdf"
Of the current branch when i run the examples/kinova_jaco_arm  and follow the example in the readme no movement of the
arm is shown to visualizer

[2021-01-26 17:30] jwnimmer-tri commented on #14568
When I run these commands, I do see motion:
[code]

Can you confirm those are exactly what you're trying?

[2021-01-26 18:37] mpatalberta commented on #14568
Mr. Nimmer,
That is the order.
The robot arm  appears in the drake visualizer but never moves when the move_jaco_ee is done.
Thanks,
Patrick

From: Jeremy Nimmer <notifications@github.com>
Sent: Tuesday, January 26, 2021 12:31 PM
To: RobotLocomotion/drake <drake@noreply.github.com>
Cc: Brown, Patrick <Patrick.Brown@zebra.com>; Author <author@noreply.github.com>
Subject: Re: [RobotLocomotion/drake]

[2021-01-26 19:25] EricCousineau-TRI commented on #9599
For Item (9) - @henryii (on a separate channel) pointed out some filtering that MyPy does for interpreting pybind11 stubs:
https://github.com/python/mypy/pull/9903
Ideally, this could be applied to Sphinx to make things a bit better.

(I'm currently browsing through stuff like `RenderCameraCore` etc., and haven't a whole bunch of cruft text doesn't help :sweat_smile:)

[2021-01-26 19:55] EricCousineau-TRI opened #14570 "pydrake sphinx: Bad word wrapping with Doxygen -> Sphinx bulleted lists"
As of `nightly-release` @ 2f41e7f8b:
https://drake.mit.edu/pydrake/pydrake.systems.sensors.html#pydrake.systems.sensors.CameraInfo

https://drake.mit.edu/pydrake/pydrake.geometry.render.html#pydrake.geometry.render.ClippingRange

[2021-01-26 19:59] jamiesnape commented on #14570
This has always been the case, unfortunately. Sphinx expects one exception per line, and we never got around to unwrapping lines.

[2021-01-26 20:04] EricCousineau-TRI commented on #14570
Yup, didn't mean to imply this is a novel failure. May add weight to considering other solutions for web deployment, like Breathe.

[2021-01-26 20:10] SeanCurtis-TRI commented on #12478
Related to #14136

Obviously, solving #14136 will remove this. But until that is completely done, this still represents a bug in the current state (i.e., double-valued `ConactSurface` from a `AutoDiffXd`-valued `SceneGraph`.) While that's a suboptimal outcome, not being able to do that today is simply a bug.

[2021-01-26 20:15] mpatalberta commented on #14568
Mr. Nimmer,
I found my problem.
I was getting closer to the and I can see the rotation and movement.

Pat,

From: Jeremy Nimmer <notifications@github.com>
Sent: Tuesday, January 26, 2021 12:31 PM
To: RobotLocomotion/drake <drake@noreply.github.com>
Cc: Brown, Patrick <Patrick.Brown@zebra.com>; Author <author@noreply.github.com>
Subject: Re: [RobotLocomotion/drake] drake visualizer shows no activit

[2021-01-26 20:16] mpatalberta commented on #14568
Found the problem. Expand the view (get closer) to the arm and you wil see the movement.

[2021-01-26 20:16] #14568 closed

[2021-01-26 20:21] SeanCurtis-TRI opened #14571 "Support derivatives in point contact"
## Problem

The point pair contact has *limited* support for getting derivatives through contact. The explicit (shape, shape) contacts that are supported are enumerated. All other contacts produce runtime errors. Ideally, we want *all* shapes supported by `double` to be equally supported by `AutoDiffXd` with valid derivatives.

## Solution

First, it's worth emphasizing that we're still not talkin

[2021-01-26 20:43] jwnimmer-tri commented on #12783
I realized a bit more victory conditions I'd like to add.  I'm fine with either checklisting them here or opening distinct issues:

(1) Document the existence of debs somewhere, perhaps https://drake.mit.edu/from_binary.html, including the recipe for installing.

(2) Port one of our online notebooks (colab, is it?) to use the apt stanza instead of the download-tgz stanza, as a final proof-of-life

[2021-01-26 20:50] jwnimmer-tri commented on #13832
As I understand it, now that #14531 + https://github.com/RobotLocomotion/drake-ci/pull/119 have merged, we have a live pipeline where `*.md` files at https://github.com/RobotLocomotion/drake/tree/master/doc/ are published into https://drake.mit.edu/jekyll/ automatically (with the typical ~30 minutes or so delay, i.e., the same as the currently-live website).  So for example:

- https://github.com/

[2021-01-26 20:53] jamiesnape commented on #13832
Update is nightly, but otherwise yes.

[2021-01-26 22:01] EricCousineau-TRI opened #14575 "doc: Should incorporate Jekyll styling for reworked Drake website, handle licensing"
As part of #13832, should rework Jekyll styling into a source-controlled form that has no license ambiguity and enables due-diligence agency of modifying the website (e.g. will assume devs know how to look at W3C for HTML + CSS stuff, Jekyll docs).

Artifacts to reconcile:

- Preview website: https://drake.sky.a2hosted.com/
- Zip archive on [Drake Slack, `#website` channel](https://drakedevelopers

[2021-01-26 22:02] EricCousineau-TRI commented on #14575
@BetsyMcPhail Can you advise on which PR we should use for sample content to target styling against?

[2021-01-26 22:04] EricCousineau-TRI commented on #13832
Updated above bullet-points to add in point (5.2), with more info in #14575

[2021-01-26 22:17] EricCousineau-TRI commented on #14575
Internet's going slow; going to timebox to 30min, trying out re-styling with #14488

[2021-01-26 22:38] jwnimmer-tri commented on #14575
To obtain some sample markdown files (i.e., some lorem ipsum) so as to have actual text to display, in #14488 you only have ~one file, `getting_help.md`.

If you want _many_ markdown files at once, the draft in #14479 has a whole bunch, and is probably a better starting place to snag a few.  (You probably don't need them all.)

[2021-01-26 23:06] jwnimmer-tri opened #14577 "Transmogrify rst documentation files to md"
Our transition plan for #13832 is to commit a draft of the new Drake website to our master branch (using pull requests, as usual), alongside the current site.  The rst files will remain for the old site, and the md files will be added for the new site.  The CI pipeline already deploys both at once, with the new site under a `/jekyll` subdirectory.  We can use that to integration-test the new site.

[2021-01-26 23:15] amcastro-tri opened #14578 "Bug with hydroelastic visualization"
For details refer to the internal TRI [Slack conversation here](https://tri-internal.slack.com/archives/C2BMF3K28/p1611676244032300).

We observed that in hydroelastic simulations leading to multiple contact patches, one of the patches seems to include all other patches, therefore repeating the information. More precisely, in all tests it seems it is the last patch in the `Hydroelastic Contact` pa

[2021-01-26 23:26] amcastro-tri opened #14579 "Implement option to non-continuous hydroelastic query"
The discrete approximation introduced in #14574 is not bound by continuity requirements. This allow us to sacrifice continuity in exchange to simplifications to the query in order to reduce the triangle count (smaller contact problem).
One of the simplest simplifications we explored consists in not splitting a three sided polygon (aka triangle) into a fan of triangles around the centroid. This sho

[2021-01-26 23:26] SeanCurtis-TRI commented on #14578
TODO: Create scenario to reproduce the issue (e.g., create a unit test. :D)

[2021-01-27 03:43] mitiguy opened #14584 "Improve efficiency of calculations involving inverses of rotation matrix and rigid transform"
RotationMatrix and RigidTransform are core Drake classes and can be expected to be found in inner loops of calculations.  To  speed calculations by eliminating a transpose (and possibly a copy), implement efficient Rotational Matrix (and RigidTransform) methods.

Implementation details are important.  The method could have a name, an operator, or we could introduce an intermediate type (e.g., Rota

[2021-01-27 06:31] sherm1 commented on #14584
FYI I posted an attempt at a fast RotationMatrix composition (3x3 matrix multiply) method using AVX instructions in a Slack thread [here](https://tri-internal.slack.com/archives/C2BMF3K28/p1611728450054200?thread_ts=1611619991.017900&cid=C2BMF3K28). Seems to run about twice as fast as fully-optimized straight C++.

[2021-01-27 13:40] ggould-tri commented on #14577
This sounds right to me; our objective is to make an initial PR that consists only of formatting changes and which appears as much as possible perfectly mechanical.

FYI @SeanCurtis-TRI

[2021-01-27 13:42] ggould-tri commented on #14577
(Also just to be clear, the resulting diff might be sane in reviewable as a copy revision and a diff revision, or it might require offline review with semantic diff tools; in the (more likely) latter case we will select reviewers who are comfortable with such tools)

[2021-01-27 13:48] jamiesnape commented on #14575
@BetsyMcPhail has the licenses are separated out, and everything fixed, but that may only exist locally now. You can reach out to her and she can push the latest version somewhere that is laid on a platter for you all to review,

[2021-01-27 13:50] EricCousineau-TRI commented on #14575
Ooh, yes, that would be awesome!
Betsy, would be able to push what you have in terms of licensing?

[2021-01-27 13:54] jamiesnape commented on #14575
She has literally everything, so all you are going to need to do is cherry-pick and review. The markdown she has should be an up-to-date sync with the rst modulo maybe a week. Should appear shortly.

[2021-01-27 14:02] jamiesnape commented on #14577
We have the markdown converted to rst already, but if you want to reinvent the wheel that is fine.

[2021-01-27 14:05] ggould-tri commented on #14577
I don't expect to reinvent the wheel; I hope that this issue in practice is just a matter of structuring what you already have in easily reviewable form.

[2021-01-27 14:08] jamiesnape commented on #14577
I think Betsy even minimized the diff so each page, so I will ping you when she is able to push the latest complete branch, which may have disappeared in the back and forth of the various PR's.

[2021-01-27 14:14] jamiesnape commented on #14577
Probably the release notes for v26.0 onwards is all you really need to do yourself.

[2021-01-27 17:36] DamrongGuoy commented on #14584
Thank you for giving attention to this issue.  An example that shows up in my profiling task is at the last line (`X_GA.inverse() * X_GH * X_HB`) of this code snippet:

drake/geometry/proximity/obb.cc
[code]
https://github.com/RobotLocomotion/drake/blob/54f23a2e2a7f5e840683c5341b562712ae21127b/geometry/proximity/obb.cc#L25

This function was called 140,994,468 times in a 20-second simulated time.

[2021-01-27 18:13] #14537 closed

[2021-01-27 21:18] BetsyMcPhail commented on #14577
The branch with all of my changes is available [here](https://github.com/BetsyMcPhail/drake/tree/jekyll-website) .

The branch was created around January 12th, so there will be some updates that need to be made.

For most files, a diff between the md and rst should be straightforward.

Of note:
* In the source provided by the original website contractors, the ``developers`` page was split into mul

[2021-01-27 21:20] BetsyMcPhail commented on #14575
The branch with all of my changes is available [here ](https://github.com/BetsyMcPhail/drake/tree/jekyll-website).

[2021-01-27 21:46] #13904 closed

[2021-01-28 00:20] mpatalberta commented on #14568
Mr. Nimmer
Found my problem.
Thanks,
Patrick

From: Jeremy Nimmer <notifications@github.com>
Sent: Tuesday, January 26, 2021 12:31 PM
To: RobotLocomotion/drake <drake@noreply.github.com>
Cc: Brown, Patrick <Patrick.Brown@zebra.com>; Author <author@noreply.github.com>
Subject: Re: [RobotLocomotion/drake] drake visualizer shows no activity when you run the defaultg j2s7s300_sphere_collision.urdf (#1

[2021-01-28 04:37] siyuanfeng-tri commented on #14561
should be patched.

[2021-01-28 04:37] #14561 closed

[2021-01-28 13:54] EricCousineau-TRI opened #14590 "py mbp: Getting hard exit from "Failure at external/drake/multibody/plant/tamsi_solver.cc:217 in SolveQuadraticForTheSmallestPositiveRoot(): condition 'Delta > 0' failed."?"
In some Python code in Anzu, I'm running MBP with some crazy neural network whatever visuomotor stuff, and at some point I get the following *hard* error, using 6ee5e9325821277a62bd5cd5456ccf02ca25dab7
[code]

This should at least be an `Exception` in Python-land? (e.g. #5268).
I'm not sure if I can make a min-repro, but I'll at least see if I can convert this to a softer exception.

May re-assign

[2021-01-28 13:55] EricCousineau-TRI commented on #14590
I should double-check that it's not just a `SystemExit` condition as well.

[2021-01-28 14:13] EricCousineau-TRI opened #14591 "pydrake: Tolerance type shouldn't use special aliases"
@josephsnyder, in #14265 and related upstream discussions, he noted that `ToleranceType` bindings use `absolute`, `relative`, whereas the C++ symbols are `kAbsolute`, `kRelative`, and are nested.

I want them to reflect C++.

[2021-01-28 14:24] amcastro-tri commented on #14590
Those are rare. But usually are related to the solver already in the process of diverging. It does happen if the condition you are trying to solver for takes the solver to unstable land. Might also be a new bug, but that's the usual case.

[2021-01-28 16:15] mpatalberta opened #14593 "when running a real kinova arm the jaco_controller sends random data"
externall driver for real kinova arm from https://github.com/mpatalberta/drake-jaco-driver
/example/kinova_jaco/jaco_controller.cc

The jaco_controller.cc initially received correctly the current angles of the actuators in the and broadcasts that information
Then the jaco_controller.cc starts outputing some very small number for about 10 - 20 second.
The sudden;y a series of non-zero numbers are s

[2021-01-28 16:52] sherm1 commented on #14590
Is there a way to catch that condition @amcastro-tri to produce a better error message?

[2021-01-28 17:02] sammy-tri commented on #14593
Reproduced locally using a 7DOF Jaco arm.  The issue does not appear to occur when running `jaco_controller` against a simulation.

Also, the controller was sending joint velocities over the LCM command channel without a corresponding change in positions, which is a bit odd.  Will investigate further.

[2021-01-28 17:20] mpetersen94 commented on #14590
Also experiencing this bug but I'm using a peg from September so it isn't newly introduced.  Would not be surprised if it is the result of unstable sim.

[2021-01-28 17:40] EricCousineau-TRI commented on #14590
Yeah, I think integrator explosions / instability probably wouldn't be surprising (this is testing a policy that comes from training on top of randomly initialized weights); the main crux of this issue is namely the user-unfriendly mode of killing the interpreter.

[2021-01-28 18:00] mpatalberta commented on #14593
Mr. Creasey,

I have a real j26s300 kinova arm.

A couple of ques Reproduced locally using a 7DOF Jaco arm. The issue does not appear to occur when running jaco_controller against a simulation.

I do not see the problem in mine either using jac_simulator

Also, the controller was sending joint velocities over the LCM command channel without a corresponding change in positions, which is a bit odd.

[2021-01-28 18:34] sammy-tri commented on #14593
I think I'm pretty close to having a patch which will fix the issues with `jaco_controller`.  The gains on the PD controller were too high (I don't think we want a D term at all, that was causing the unexpected velocity commands due to (I think)) noise in the reported velocities form the Jaco), and that instability was being fueled by the controller publishing an excessive number of command messag

[2021-01-29 16:46] mpatalberta commented on #14593
Mr. Creasey,

Maybe you can help  what are the different plan and trajectory planners are supported.

I am more familiar with ROS where you can explicitly see CHOMP ,STOMP and so on.

On drake I do not see these type path planners that are supported. What path planners are supported.

Patrick Brown
Zebra technologies

From: Sam Creasey <notifications@github.com>
Sent: Thursday, January 28, 2021 1:

[2021-01-29 17:36] mpatalberta commented on #14593
Mr. Creasey,
Looking at the Kinova-ros code a file exists kinova-ros<https://github.com/Kinovarobotics/kinova-ros>/kinova_control<https://github.com/Kinovarobotics/kinova-ros/tree/master/kinova_control>/config<https://github.com/Kinovarobotics/kinova-ros/tree/master/kinova_control/config>/j2s6s300_control.yaml
Make sure you look at the master
https://github.com/Kinovarobotics/kinova-ros

Maybe you

[2021-01-29 21:21] sammy-tri commented on #14590
I've been hitting these occasionally too, usually when making model changes.  It would be helpful if there were a debugging strategy (and/or a more helpful message).  My current strategy is to give up and say "well, I guess I don't get to try that."

[2021-01-30 12:23] edrumwri opened #14601 "MySystem::get_input_port(.).HasValue(context) segfault"
`MySystem::get_input_port(.).HasValue(const Context& context)` segfaults when MySystem has been built into a Diagram but `context` was created via `MySystem::AllocateContext(.)`.

The use case is virtually cloning the Context from within a System. Note that Context::Clone(.) works only when it is the root context, and I need to be able to "clone" the Context when it is part of a diagram context.

[2021-02-01 02:22] hongkai-dai opened #14602 "Osqp in Drake requires a quadratic cost"
OSQP in the upstream code claim to solve LP also (without a quadratic cost). Previously I disabled solving LP with OSQP as I didn't get good answer, but with the newer version of OSQP things might have changed.

We should either
1. Allow OSQP to solve LP in drake if it could.
2. Throw a more meaningful error message and update the doc page.

[2021-02-01 04:49] sherm1 opened #14603 "Allow use of SIMD instructions in Drake"
Per discussion in draft PR #14594, we would like to be able to use SIMD instructions for better performance in Drake simulations. This issue is for discussing how best to do that.

We have measured substantial speedups in hand-crafted (via Intel intrinsics) AVX2 and FMA-using methods for common operations and would like to use those by default on machines that have those instructions available. (A

[2021-02-01 14:38] jamiesnape commented on #14603
FYI Some recent AMD Zen processors have issues with FMA, but I do not think that should really inform any discussions. WRT Eigen, I think they support various other processor architecture intrinsics, so there are certain gains to be had (with different flags) even if the world moves away from Intel and Drake supports ARM.

To the issue at had, just as I would with OpenMP, with SIMD, I would create

[2021-02-01 14:44] amcastro-tri commented on #14590
What I could do is to make `TamsiSolver::SolveWithGuess()` detect this condition and return something like `TamsiSolverResult::kDivergence`. This would then lead to printing the much nicer [message here](https://github.com/RobotLocomotion/drake/blob/ce36a0fba54442d425c8a800638e71355f2e68e4/multibody/plant/multibody_plant.cc#L2042) explaining not only what happened but also providing possible solut

[2021-02-01 14:52] EricCousineau-TRI commented on #14590
That would be awesome!!!

[2021-02-01 15:24] EricCousineau-TRI commented on #14601
(As part of platform reviewer's checklist) Assigning @sherm1 for prioritization / work assignment

[2021-02-01 15:24] EricCousineau-TRI commented on #14602
As part of Platform Reviewer's checklist, assigned `team: manipulation`

[2021-02-01 16:24] sherm1 commented on #14603
I'm afraid that if the default Drake is slow and we leave it to users to build a performant version then most users initial experience will be negative. That could affect Drake's reputation and reduce uptake. I'd like to have the default be the faster build, with users able to opt-in to a more generic version if they have old machines. Is that feasible?

[2021-02-01 16:26] jwnimmer-tri commented on #14603
I wrote down a plan in the other PR.  I'm working on it.  More speculation here isn't useful.  Let me get requirements on deck first, and then we can plan for the tactics.  I will revisit this on Thursday.

[2021-02-01 16:27] jamiesnape commented on #14603
(It does not need to be opt in forever, that would just be the starting point.)

[2021-02-01 16:47] jamiesnape commented on #13648
Getting the useful error message `macOS 11 or later required !` when running on macOS 11 from five or so Python-related tests. Need to track down where that is coming from.

[2021-02-01 16:48] SeanCurtis-TRI opened #14606 "DrakeVisualizer unit tests should not use DrakeMockLcm"
`DrakeMockLcm`'s last commit indicated that we want to remove usage of this implementation. As it is simply an alias for `DrakeLcm("memq://")`, it would be better to have that be explicit. Furthermore, in a bazel testing context, that is the default URL for simply creating `DrakeLcm lcm;`.

So, we simply need to swap the usages of the soon-to-be deprecated `DrakeMockLcm` in favor of `DrakeLcm` spe

[2021-02-01 17:13] jamiesnape commented on #13648
Probably in `tkinter`.

[2021-02-01 17:15] EricCousineau-TRI commented on #14575
Thanks! Just to check, can you tell me how you generated the base support files in f7866d7cdd?

The commit message states that some of them come from the web devs that made the redux, but it's unclear. Also, for licensing, it's unclear if this came from a template setup from Jekyll; is it possible to clarify that?

[2021-02-01 17:27] jamiesnape commented on #14575
Unlikely, but given the license of a tool, it does not imply anything about the license of the output, regardless.

[2021-02-01 17:32] jamiesnape commented on #14575
BTW whether the web developers dropped a new file into a directory or edited such file or whether Betsy did, they are both work for hire for the same client, so the copyright and license of new files would be identical.

[2021-02-01 17:33] jamiesnape commented on #14575
(unless the contract with the web developers specified otherwise, which would be very unusual)

[2021-02-01 17:35] jwnimmer-tri commented on #14575
Yes, it was all work for hire, so you're gist is correct -- TRI owns the copyright.  The only question is whether anyone copied files from _elsewhere_ and dropped them into the folder.  Anything created out of thin air is fine, anything downloaded from the internet needs a confirmation of our rights.

[2021-02-01 17:37] jamiesnape commented on #14575
I think that is documented in any case that it could be reasonably inferred. Betsy will confirm.

[2021-02-01 17:54] BetsyMcPhail commented on #14575
Anything in the developers' work that was clearly third party code has either been removed or is part of its own commit with appropriate license and documented source.

In commit `f7866d7`:
* BUILD.bzl --> modified existing drake file
* _config.yml, css/style.css --> drake-specific changes + developers' code
* _layouts/default.html --> removed unsupported content (e.g. fonts, facebook  & twitter)

[2021-02-01 17:54] jamiesnape commented on #13648
Ok, that is fixed in Python 3.9, but then other things are broken (basically the same as on Catalina), so I need to do the Python 3.9 upgrade either first or concurrently.

[2021-02-01 19:35] EricCousineau-TRI commented on #14575
True, but I would like to confirm (e.g. if the template generation produces a derivative of licensed template files, would be nice to know?)

[2021-02-01 19:36] jamiesnape commented on #14575
You will need to ask the web developers, then. It is a lot of work for no consequence.

[2021-02-01 20:13] EricCousineau-TRI commented on #14575
Trust but verify is the motto that I will go by. Verify will take place in a PR that I start, but leveraging Betsy's work, where we will go through line-by-line to identify any possible licensing issues.
The PRs will most likely break up f7866d7 into slightly smaller chunks.

I will ask web devs if they remember, but it won't be on critical path.

[2021-02-02 01:11] EricCousineau-TRI commented on #14575
Identified base template from `jekyll new` for v3.1.6: https://github.com/jekyll/jekyll/tree/v3.1.6/lib/site_template

This does not look anything like the base that is used for our newer website.

[2021-02-02 01:45] sherm1 commented on #14603
(@jwnimmer-tri comments copied here from Anzu #6274)

Ah, I found one problem, at least.  The libpcl binaries from Ubuntu are compiled with one Eigen alignment choice, but our use of AVX2 was triggering different alignment annotations, leading to ABI incompatibility with Eigen's allocator expectations.  I'll work on finding the right knob to guarantee that the Eigen ABI still matches.

Trying `baz

[2021-02-02 01:47] sherm1 commented on #14603
Further forwarded discussion:

However, Eigen is right that with AVX enabled 32 byte alignment is required for best performance. How bad of a problem is that for Anzu?

[2021-02-02 01:48] sherm1 commented on #14603
cc @rpoyner-tri please see the above discussion. Any rabbits in your hat?

[2021-02-02 01:54] jwnimmer-tri commented on #14603
I don't know your performance targets, but `-msse4.2` would be safe (no AVX, just SSE).  We use it in other TRI projects, and it does not change Eigen's ABI as best I can tell.

[2021-02-02 04:17] sherm1 commented on #14603
I don't think I can get a significant speedup with SSE double-wide instructions on the operations we're interested in. For example, because of all the non-fp malarkey it takes to get to the good stuff, I have so far only been able to get 3X speedup (on RigidTransform composition) making use of the _8-wide_ FMA instructions. So I don't think it's worth the trouble to make any handcoded SSE methods

[2021-02-02 04:19] sherm1 commented on #14603
BTW I think SSE is more interesting in single-precision float computations. But we are committed to using double.

[2021-02-02 14:14] jamiesnape commented on #14603
That is basically how I read things, or at least how Intel sold AVX for doubles when it was released. Obviously, the dimensionality of the data may give you special cases where everything works out, but that is not usual. Many years ago we worked with Intel engineers to get speed up with SSE and gave up and switched attention to TBB on a different part of the problem (we had to use something by In

[2021-02-02 17:42] mpatalberta commented on #14593
I have gone and modify the pid values in the kinova_controller. The arm appears initially stable  until you send a move_jaco.
When this is done nothing happens initially but suddenly it moves.

I have changed the move_jaco location to be where the robot would be for home.
The x,y,z ordinates are correct however the euler angles are wrong.

[2021-02-02 17:50] jwnimmer-tri commented on #14603
@sherm1 @rpoyner-tri Do you actually need `-mfma` or `-march=broadwell`, across the whole project?  Are you trying to auto-vectorize our existing Eigen code across the board, or are you only trying to surgically replace a single RigidTransform method or two with intrinsics?

If only the latter, a quick spike test indicates that GCC options inline in the source code might be good enough:
https://go

[2021-02-02 19:28] sherm1 commented on #14603
I was thinking about that this morning. It would allow us to implement localized speedups without solving all the other problems. And we haven't seen any great benefit yet to compiling all of Drake with `-march=broadwell` (or even `-march=native`). It would also save me from having to fix a half dozen mysterious unrelated CI failures (though that might be good for code health it is an unwanted yak

[2021-02-02 19:38] sammy-tri commented on #14593
Sorry I haven't been able to devote enough time to this to open a PR.  My WIP branch is here: https://github.com/sammy-tri/drake/tree/jaco_example_fixes_20210202

There's still an issue with finger positions in the plan sent to the controller not being handled properly, but my arm was moving fairly smoothly with those changes.

[2021-02-02 19:56] mpatalberta commented on #14593
Mr. Creasey,

// (feed forward term).
Eigen::VectorXd jaco_kp = Eigen::VectorXd::Zero(num_joints + num_fingers);
Eigen::VectorXd jaco_ki = Eigen::VectorXd::Zero(num_joints + num_fingers);
Eigen::VectorXd jaco_kd = Eigen::VectorXd::Zero(num_joints + num_fingers);
// The Jaco shows some tracking error if we're just sending open-loop
// velocities, so use a small P term to correct for that.
jaco_kp.f

[2021-02-02 19:56] jamiesnape commented on #13648
https://github.com/Homebrew/homebrew-core/pull/67378 is why Python 3.9 is working.

[2021-02-02 21:16] jamiesnape commented on #13648
https://github.com/Homebrew/homebrew-core/pull/70249 might make my life a little easier.

[2021-02-02 21:43] #14591 closed

[2021-02-02 22:39] mpatalberta opened #14616 "sudden movement in an incorrect direction then kinova arm moves to the desired location"
A problem in arm movement for j2s7s300_sphere_collision.urdf.
You tell the arm to move to location the system goes somewhere else quickly then starts to move towards the desired direction.

[2021-02-02 22:44] mpatalberta opened #14617 "kinova arm - the default value for number of joints and number of finger is hardcoded"
drake/manipulation/kinova_jaco
  jaco_constants.h

/// proper arguments to the system constructors.
constexpr int kJacoDefaultArmNumJoints = 7;
constexpr int kJacoDefaultArmNumFingers = 3;

This is problem for the case of arm that may only have 6 joints and 2 fingers,
Some of the memory allocations use this number directly..
The urdf files needs to be used and read in early and off of that informa

[2021-02-03 00:29] #14524 closed

[2021-02-03 02:08] sherm1 commented on #14617
Assigning to @sammy-tri for disposition.

[2021-02-03 02:08] sherm1 commented on #14616
Assigning to @sammy-tri for disposition.

[2021-02-03 15:33] mpatalberta commented on #14593
Mr. Creasey,
Have you set the
KINOVAAPIUSBCOMMANDLAYER_API<http://docs.ros.org/en/indigo/api/jaco_sdk/html/Kinova_8API_8UsbCommandLayerUbuntu_8h.html#abe06f11f1aa8abc575ebd4474e559d25> int SetFrameType<http://docs.ros.org/en/indigo/api/jaco_sdk/html/Kinova_8API_8UsbCommandLayerUbuntu_8h.html#af3bd0e6780c8c6238d2de8d3da69f200>
(
int
frameType
)
Frametype can be fixed_frame
Or
Rotating Frame

This m

[2021-02-03 17:50] EricCousineau-TRI commented on #14575
(As noted in integration PR)
Per Slack conversation: https://drakedevelopers.slack.com/archives/C01879RNKQW/p1612374479018500?thread_ts=1612374025.015800&cid=C01879RNKQW
The website template came from: https://jekyllthemes.io/theme/made-portfolio-jekyll-theme

We will now take steps in doing a best-effort purge of this template from our Git history.

[2021-02-03 18:47] jwnimmer-tri commented on #14603
@sherm1 Please keep me posted on the scope you think you'll need, as your thinking evolves.  Over the next couple weeks, I'll be working on a requirements roadmap for how our CI, build, & release will aim to support a bunch of new features (AVX, OpenMP, OpenCL, C++20, AArch64, etc.) over the coming year or two.  In my initial drafts of a decision matrix, it will make a big difference whether the e

[2021-02-04 00:46] sherm1 commented on #14603
Will do. We'll test the "handful of methods" approach and go with that if we can still get the speedups we want.

[2021-02-04 15:15] mpatalberta commented on #14616
The jerk of the endeffector from move_jaco only happens if you terminate move_jaco then move to the same point. My belief is the kinova_simulator is  not returning the proper current position.

[2021-02-04 17:11] jwnimmer-tri commented on #14617
I am closing this for the same reasons as #14586 -- this is a feature request we'll have to decline.  The example serves to illustrate one sample application.  Making it more configurable would only serve to obscure its tutorial value.  The example is not intended to be a generic building block for application developers to invoke directly.

[2021-02-04 17:11] #14617 closed

[2021-02-04 17:11] jwnimmer-tri commented on #14616
I am closing this issue for two reasons.

First, for similar reasons as #14586 -- this jaco example serves to illustrate the tools.  The example is not intended to be a generic building block for application developers to invoke directly.  It is possible that the problem you are experiencing lies beyond what the example is intended to encompass.

Second, the bug report is so incomplete as to be un

[2021-02-04 17:11] #14616 closed

[2021-02-04 17:18] jwnimmer-tri commented on #14556
As far as I can understand the above discussions, this is neither a bug report nor feature request for Drake -- it is rather a discussion about how the get various tools (Drake & otherwise) to work, and how they should be used.  As such, it should be a StackOverflow post, not a GitHub issue.  I'm closing it for that reason.

[2021-02-04 17:18] #14556 closed

[2021-02-04 18:11] jwnimmer-tri commented on #12783
For (3) per f2f -- we should have CI for the apt packages, so adding drake-external-examples using apt sounds like a great way to kill two birds with one stone.  We'll scope that in here.

[2021-02-04 19:24] mpatalberta commented on #14593
I have tracked down that the random data problem comes in 2 forms.
Not the correct pid valies. Putting them all to 1 resulted both real arm and the simulator neither give a large value as random data.
So this first source is fixed.

The second source of ramdom is when you use mova_jaco.
If you use the move_jaco the first time things are great.
When you use it a second time (no coordinate change) t

[2021-02-08 14:07] amcastro-tri commented on #14579
I just realize that there yet a better way to do this. While not splitting a three sided polygons only applies to triangles that are fully immersed inside a tetrahedron, we can reduce polygon counts by "directly" reporting polygons instead.
Discrete hydro does not need much, just a point and the area of the polygon. Therefore I propose that the discrete query actually reports the centroid of each

[2021-02-08 14:29] SeanCurtis-TRI commented on #14579
This alternate formulation is *far* more complex to implement. Currently the mesh for a `ContactSurface` is represented exclusively as a *triangle* mesh. To report a mesh with polygons would require changes in types. The best you can hope for *in the short-term* is a minimum triangulation of n-gons.

[2021-02-08 16:22] amcastro-tri commented on #14579
We can talk f2f. I wasn't suggesting to report a mesh with polygons. What I was suggesting is to report (probably in a different query with different return data) new data as point+area+pressure+gradient. Probably we could augment the hydro query to report this instead. That'd have the advantage of still being able to visualize it as a triangle mesh.

[2021-02-08 17:18] jamiesnape commented on #13648
Looks like the CI images got hit by the 11.0.1 instead of 11.1 upgrade bug, which I need to fix (not difficult, but annoying) otherwise we forever be stuck on 11.0.1 (which affects Xcode versions and other things).

[2021-02-08 17:58] SeanCurtis-TRI commented on #14579
I wasn't suggesting you were suggesting *mutating* the current API. You and I agree, to accomplish what you want requires a new API. Hence my comment, "this alternate formulation is *far* more complex to implement". I didn't spell out the complexity comes from a new API, I thought that was implied by the fact that the *current* API is incompatible.

[2021-02-08 23:32] sherm1 commented on #14603
Just to make this unnecessarily hard, gcc pragma has a bug in which it appears to ignore targets like "arch=broadwell" or "tune=haswell" although individual flags do work (but don't generate the right instructions since "tune=" is required). Here's a [related stackoverflow](https://stackoverflow.com/questions/51003218/gcc-target-for-avx2-disabling-sse-instruction-set). The analogous clang pragma O

[2021-02-08 23:35] rpoyner-tri commented on #14603
If we isolate the magic methods in specific .cc files, we can add compiler options to individual bazel rules to build them. Still not great, but possible.

[2021-02-08 23:46] jwnimmer-tri commented on #14603
You can add `copts = ...` to a `drake_cc_library` to change the compiler flags just for that one cc file.
See https://docs.bazel.build/versions/4.0.0/be/c-cpp.html#cc_library.copts for background.

Note for any cc file where you say `-march=haswell` or similar in copts, you must **not** transitively include anything from Eigen (or any other library that changes its ABI based on CPU).  So primitive

[2021-02-08 23:57] DamrongGuoy commented on #14603
Thank you!  I'll test that.

[2021-02-09 00:47] mitiguy commented on #10605
Although the goal of PR #14538 was a simple name change, the deprecation process was not obvious to me.  I created [notes ](https://docs.google.com/document/d/1n5CK3c8TLn6aqHgT4XnI_oZBu2AwRxTRWgJjOAKhYXE/edit?usp=sharing ) that may help others and/or be modified to be part of a deprecation playbook.

@jwnimmer-tri  Please let me know if you think it helpful to create a PR to add this document to p

[2021-02-09 01:05] jwnimmer-tri commented on #10605
In general, I do think that having a clearer playbook would benefit us (as I noted above in https://github.com/RobotLocomotion/drake/issues/10605#issuecomment-662456506).

However, I'm having trouble parsing out exactly what you're proposing based on the message above.  If the implication is that @mitiguy would create such a PR -- then, no, I don't think that would be useful.

[2021-02-09 01:22] jwnimmer-tri commented on #14603
For the record, I just tested `-mtune=broadwell` in Anzu as global rcfile setting, and all tests passes.  So if we ever want to adjust the tuning globally for some performance benefit, that's probably a fine option.

[2021-02-09 14:22] jamiesnape commented on #13778
Queuing this up for @BetsyMcPhail. If it starts getting complicated, we will probably put it on hold again, but I feel like it should be an easy win and a strict improvement for the binary packages.

[2021-02-09 17:07] sherm1 commented on #14603
Today's proposal to permit use of SIMD methods with C++ fallback and make sure both get unit tested:
- no change to global build flags anywhere
- provide low-level, C-like methods for fast computations and isolate to their own cc files, say `mult3x3.cc`
- within `mult3x3.cc` provide unconditionally compiled C++ version, say `mult3x3_cpp()`; this can always be unit tested.
- within `mult3x3.cc` use

[2021-02-09 17:13] jamiesnape commented on #14603
Probably @ToffeeAlbina-TRI and/or @jwnimmer-tri and I need to speak to MacStadium or we move some or all Mac builds to AWS (though Jenkins has not caught up with that yet) rather than jump through hoops to not make something work on Mac. The Mac Pro machines are not exactly doing amazingly well for us now anyway. Literally our CI machines are the only supported Macs for which all the instructions

[2021-02-09 17:23] jwnimmer-tri commented on #14603
There is no need to couple this issue with any CI changes.  It's not just macOS CI that has older hardware -- TRI's `macsim` machine also lacks AVX2 and FMA (but does have AVX).  As Sherm notes, we need to keep the vanilla methods around as a general principle.  Even if we upgrade CI, the code changes and effort required here are the same.

[2021-02-09 17:28] jamiesnape commented on #14603
Fair enough, but I would not jump through hoops too much.

[2021-02-09 19:06] calderpg-tri opened #14633 "GL Renderer should support meshes without normals"
The GL renderer currently requires that all meshes in the model have normals. Depending on source, not all of our meshes have normals and we would like avoid manually adding normals to all of them.

From meeting with @SeanCurtis-TRI, a reasonable approach would be to add a flag when creating a GL renderer to enable normal computation. Only one method for computing normals would need to be supporte

[2021-02-09 21:52] ToffeeAlbina-TRI commented on #14603
FWIW
I agree with Jamie that upgrading to not-ancient machines for both CI and TRI's macsim is something we should do and that we should do that regardless of what happens with the SIMD instructions stuff.

And, I agree with Sherm that we need to keep the vanilla methods around as a general principle.

[2021-02-09 22:58] jwnimmer-tri commented on #13832
As part of the website transition, for a period of time (once #14577 lands tomorrow) we’re going to have two copies of the website on master (in rst format, and md format).  PRs that change the text of the docs will have to keep both in sync.

[2021-02-10 23:26] jamiesnape opened #14634 "//examples/manipulation_station:end_effector_teleop_sliders_test fails on macOS Big Sur"
As seen in https://github.com/RobotLocomotion/drake/pull/14632:

[code]

Release builds only.

[2021-02-11 13:48] avalenzu opened #14635 "Doxygen package has been moved from S3 to Glacier"
This is causing failures in CI (e.g. https://drake-jenkins.csail.mit.edu/view/Production/job/linux-bionic-unprovisioned-gcc-bazel-continuous-documentation/199/console). Creating this issue to track the resolution efforts already underway.

[2021-02-11 14:39] SeanCurtis-TRI commented on #13665
Resolved by #14622

[2021-02-11 14:39] #13665 closed

[2021-02-11 14:39] SeanCurtis-TRI commented on #13664
Resolved by #14622

[2021-02-11 14:39] #13664 closed

[2021-02-11 23:08] mitiguy commented on #10605
OK -- No PR from me.  I 'll leave a link to the updated [CppPythonDeprecateAPI document here](https://docs.google.com/document/d/1n5CK3c8TLn6aqHgT4XnI_oZBu2AwRxTRWgJjOAKhYXE/edit?pli=1).  Hopefully, it informs  this issue of text that would have been benefited me in performing a simple API name change.  In hindsight, this simple name change took longer than I expected because I did not have the pr

[2021-02-12 01:25] mitiguy commented on #14537
Note: I created the file [CppPythonDeprecateAP](https://docs.google.com/document/d/1n5CK3c8TLn6aqHgT4XnI_oZBu2AwRxTRWgJjOAKhYXE/edit) as an example of how to deprecate a C++ method which has a corresponding Python API.  That example draws on this PR #14538.  It relates to issue #10605. Although  the goal of this PR #14538 was a simple name change, the deprecation process required many (non-obvious

[2021-02-12 17:41] EricCousineau-TRI opened #14638 "mbp: Should ensure "world" is an implicitly named body/frame"
Per https://github.com/RobotLocomotion/drake/pull/10055#issuecomment-777847377, it can be painful to realize that `"world"` may not explicitly exist in MBP, as it's used as an explicit interface element in specs like URDF and SDFormat (e.g. the parent body of a joint). (See parsing code, where it says stuff like `if name == "world": return plant.world_body()`).

At present, the world body/frame ar

[2021-02-12 20:30] ggould-tri opened #14641 "Strange errors when a weld is applied backward"
The parent/child direction of a weld matters (which is itself odd, since its arguments are "A" and "B" rather than "parent" and "child").  Worse, if you apply a weld backward (welding world to object instead of object to world) then the error message you get
is the cryptic and decidedly non-weldlike
[code]
(Python code that demonstrates this in the comment below, along with a stack trace)

See als

[2021-02-12 20:31] ggould-tri commented on #14641
The python code that brought about this error was:
[code]

[2021-02-12 20:32] ggould-tri commented on #14641
The python error stack was:
[code]

The C++ stack trace of the error was:
[code]

[2021-02-12 21:10] sherm1 commented on #14641
Renaming the parameters "parent" and "child" like any other joint would have a high value/effort ratio! As currently implemented a Weld is just a 0-dof joint, and it maps to a 0-dof mobilizer in the multibody tree. While there are certainly other ways it could be implemented, this implementation makes all the other Joint methods work, preserves the body numbering, allows for reaction forces at the

[2021-02-12 21:53] ggould-tri commented on #14641
Maybe but I am not sure:  The effort must include deprecation as these names are exposed as part of the python API.

[2021-02-12 22:42] rpoyner-tri commented on #14641
In my view, I see two defects here (so possibly two issues?). The first is that WeldFrames() is apparently error-prone. It seems to me that the parameter names came from monogram notation, and perhaps that is failing us here.

The second is that the mobilizer error message is terrible; every instance I am aware of where people hit it, we end up at least filing an issue. Also, even if we fix (1), t

[2021-02-12 23:02] sherm1 commented on #14641
cc original author @amcastro-tri in case you have any thoughts

[2021-02-12 23:07] rpoyner-tri commented on #14641
FWIW, when I worked on https://github.com/RobotLocomotion/drake/pull/14534, I relied on the existing message as a semantic backstop, and source of truth about how the system wants to work. My brief look at improving the existing message convinced me that the layer where it live now lacks a lot of useful context information to make a more informative message. The condition enforced is fine, but we

[2021-02-13 01:14] #14230 closed

[2021-02-13 02:56] dmcconachie-tri opened #14644 "LCM Publish Dropout when there are active LCM subscribers"
When publishing LCM data via a periodic update in a simulator, publishing can get skipped if `LcmInterfaceSystem` has data to handle.

The problem appears to be the following sequence:
- The Lcm time triggered publisher adds a publish event to the upcoming event list at some future point
- The `LcmInterfaceSystem` happens to have data to handle
  - Inside `LcmInterfaceSystem::DoCalcNextUpdateTime`

[2021-02-13 02:58] dmcconachie-tri commented on #14644
A triage of this problem appears to be to added a dummy event to the event list in `LcmInterfaceSystem::DoCalcNextUpdateTime` as is commented out here:
https://github.com/dmcconachie-tri/drake/blob/db4e5408a2c1144a7a0662f4424924aed72b1e95/systems/lcm/lcm_interface_system.cc#L71-L72

[2021-02-13 03:00] dmcconachie-tri commented on #14644
/cc @jwnimmer-tri

[2021-02-13 04:50] jwnimmer-tri commented on #14644
The primary question is whether `LcmInterfaceSystem` is violating the contract of `Simulator` or `System`.

If yes, then we should fix `LcmInterfaceSystem` to comply with whatever contract its breaking, and then also change one or both of `Simulator` or `System` to fail-fast when confronted with this case.

If no, then we should fix the `Simulator` to obey the event contracts.

[2021-02-14 21:05] rpoyner-tri commented on #14464
The main reuse PR has merged. I'll keep this open to track at least one new client.

Optionally, it would be nice to figure out a convenient way to better manage the compare.py script from googlebenchmark. Right now, I'm using it from bazel-drake/externals, but since that is bazel-managed cache, the file disappears at random times. Running any rule that depends on googlebenchmark will bring it bac

[2021-02-15 13:23] ggould-tri commented on #14641
Thanks, Rico!  I think you're exactly right.

Since parameter names are only deprecation-sensitive at the bindings layer, it might be possible to implement the deprecation at that layer.  If not, there's probably no good way to do deprecation, since the old and new method have identical signatures for C++ purposes.  And unfortunately there's a decent chance that the current signature is relied on

[2021-02-15 13:51] jamiesnape commented on #14635
It has been moved back.

[2021-02-15 13:51] #14635 closed

[2021-02-15 14:44] amcastro-tri commented on #14638
This problem could keep happening if we ever decide to support other file formats with other naming conventions.
IMO, it'd be best if the name for the "world" (as for any other body) matches whatever name that file format specifies.
Therefore a third option would be:
3. Allow users to specify a "default world name", so that it matches whatever parsing utility or code convention they are using.

An

[2021-02-15 16:10] rpoyner-tri commented on #14641
I like the idea of making the inboard/outboard correction automatic; definitely saves deprecation effort/risk and gives a friendlier API experience. Does there need to be a run-time warning when direction corrections happen, or will updated documentation suffice?

[2021-02-15 16:28] sherm1 commented on #14641
Weld joints are not fully symmetric when you consider results reporting. If you ask for reaction forces at the weld (which act equally and opposite on the two bodies) there is a convention (same as for all joints) as to which of those two forces is reported and in which frame (parent or child) they are expressed.