[2017-02-16 17:48] liangfok commented on #5081
I tested this again using a clean build of 8ce03b9ba016891672d232893142b4df38bba407 and the status is the same. On OSX, `drake-visualizer` can be started using:

[code]

but **cannot** be started using:

[code]

due to the same error mentioned above. However, since the installed version works, I believe it is sufficient to close this issue.

[2017-02-16 17:48] #5081 closed

[2017-02-16 18:36] amcastro-tri commented on #5190
Thank you @liangfok. I added the reference to #5013. I will make sure we discuss this issue with the dynamics team next week in PA.
Would you point me to one of the latest application of this idea or capability? I know that for the Kuka arm the manipulation team was working with up to three RBT models loaded from three different urdf files. Is that in  master yet? probably by looking at the partic

[2017-02-16 18:48] siyuanfeng-tri commented on #5190
this is a good to have feature, but not critical.
@amcastro-tri it is in master. and i am making rbt from subtrees by using the stored model path in addition to the rbt. there is nothing wrong with it, just extra information to carry around, and extra parsing.

[2017-02-16 19:18] amcastro-tri commented on #5190
Right, I am just trying to think about how this capability will be provided with MBT. Would you point me to the particular example you are thinking about? Pointing to a line number would be super helpful also :-)

[2017-02-16 19:21] liangfok commented on #3984
I'm going to close this issue because I believe `drake_add_external()` is sufficient for my needs. See, for example, this:

https://github.com/RobotLocomotion/drake/blob/09bf14b6fd82167f19e6c0845957e8664e064633/CMakeLists.txt#L365

[2017-02-16 19:21] #3984 closed

[2017-02-16 19:23] siyuanfeng-tri commented on #5190
https://github.com/RobotLocomotion/drake/blob/master/drake/examples/kuka_iiwa_arm/iiwa_world/controlled_iiwa_world_demo.cc#L133

it's not super obvious. Basically, some controller needs a RBT that only has the robot it's controller. So we can't pass the world tree (we should just call this RBforest or something like that), and have to make a new one from the model path, it' be cool to just clone o

[2017-02-16 19:51] amcastro-tri commented on #5190
Thanks for the link! by the way, is that a typo in `CreateTreedFromFixedModelAtPose()`?, there is a `d` at the end of `Tree`.

[2017-02-16 19:52] siyuanfeng-tri commented on #5190
its a double tree

[2017-02-16 20:30] clalancette commented on #4875
I don't think this should affect me too much, at least in the short term.  So don't bother prioritizing this for now.

[2017-02-16 21:52] #5096 closed

[2017-02-17 03:04] hammerheadCorvette commented on #5187
Thanks for the fix. This worked great - everything compiles successfully now.

[2017-02-17 14:15] jamiesnape commented on #4947
@BetsyMcPhail Can you pre-install `libgl1-mesa-dri` and `xvfb` on the unprovisioned Xenial images and then remove the two packages from `install_prereqs.sh` and the Trusty install instructions?

That would fix this issue and #5187.

[2017-02-17 15:04] liangfok opened #5204 "Feature Request: Modify automotive_demo.py to Optionally Print the Commands It is Executing"
# Motivation

This would allow us to debug problems related to starting a demo using `automotive_demo.py`. We should be able to copy/paste the commands to execute them manually.

I recently encountered a problem where starting a demo using `automotive_demo.py` would basically cause my CPU to melt. The system would freeze for tens of seconds before displaying the various GUIs and by that time, the

[2017-02-17 15:18] mwoehlke-kitware commented on #4947
What provides GL on newer trusty / xenial?

[2017-02-17 15:28] Lucy-tri commented on #5172
I'm working on this issue.

[2017-02-17 17:35] ljarin commented on #245
I have a full version of SNOPT - but I want to build with ROS. I see people posted a makefile for using student snopt, but is there a way I could get the CMakeLists.txt from externals/snopt?

[2017-02-17 18:02] liangfok opened #5209 "OSX Freezes When Launching Automotive Demos using automotive_demo.py"
This issue was first mentioned in #5204. I've copy/pasted the original problem description below. I'm extracting it to be its own issue since I verified that it's an OSX-only issue. I wasn't able to replicate the freezing issue on Ubuntu 14.04. The fact that it works on Ubuntu implies to me that the simulation itself is not the problem.

# Problem Description

I recently encountered a problem wher

[2017-02-17 18:05] jwnimmer-tri commented on #5209
What command-line arguments?  The figure-eight demo usually burns CPU for sometimes tens of seconds before starting, especially in debug mode.

[2017-02-17 18:12] liangfok commented on #5209
Both of the following commands exhibit the freezing behavior on my OSX machine (note that these targets are only in #5185 and are subject to change based on reviewer comments):

[code]

I'm using the default build mode (I simply ran `bazel build ...`). I'm not sure if that's Debug or Release. How do I tell?

[2017-02-17 18:14] jwnimmer-tri commented on #5209
It's release by default, per `tools/bazel.rc`.  I guess I don't have an explanation for why the dragway is slow.

[2017-02-17 18:28] liangfok opened #5210 "Certain Director Unit Tests Timeout Resulting in CI Failure"
This is an issue for tracking the occurrence of these errors.

# Example Error

[code]

# Example Logs
* https://drake-jenkins.csail.mit.edu/job/linux-clang-experimental-debug/3547/

[2017-02-17 18:37] patmarion commented on #5210
My first guess is to question whether the test is hanging because of an issue with xvfb-run.  I would like to see CI start an Xvfb server and set the DISPLAY environment variable, then run tests without the xvfb-run wrapper.  Please re-assign this issue to someone who could perform that experiment on CI.

[2017-02-17 18:39] patmarion commented on #5210
The first google hit for "xvfb-run hang" is here, notice that they report it hangs with run with the "-a" flag as is used on drake CI:

http://stackoverflow.com/questions/32630250/xvfb-run-hanging-on-server

I do not recommend xvfb-run -a for CI.

[2017-02-17 18:40] liangfok commented on #5210
@david-german-tri you have access to the CI servers right? Feel free to re-delegate...

[2017-02-17 18:43] patmarion commented on #5210
You can launch Xvfb server like this:

`Xvfb :99 -ac -screen 0 1280x1024x16 &`

or

[code]

Then set environment variable `export DISPLAY=:99.0` before running tests.

[2017-02-17 18:52] david-german-tri commented on #5210
@BetsyMcPhail Do you know why we're using `xvfb-run -a` on CI?  Any thoughts on @patmarion's recommendation above?

[2017-02-17 19:00] liangfok commented on #5209
Using @rpoyner-tri's #5208 `--dry-run` option, I narrowed down the freezing issue to be due to the execution of `lcm-spy`:

[code]

@soonho-tri, can you check whether executing the following commands on your Macintosh or `macsim` results in the same freezing behavior? I'd like to know if this is only on my machine. Thanks!

[code]

[2017-02-17 19:05] soonho-tri commented on #5209
I'm on it...

[2017-02-17 19:06] soonho-tri commented on #5209
I have

<img width="800" alt="screen shot 2017-02-17 at 2 06 15 pm" src="https://cloud.githubusercontent.com/assets/20779767/23079282/42c2e388-f51a-11e6-98ab-7b32f5247785.png">

[code]

[2017-02-17 19:12] rpoyner-tri commented on #5204
Closed by #5208 .

[2017-02-17 19:12] #5204 closed

[2017-02-17 19:13] liangfok commented on #5209
Thanks @soonho-tri. It's good to know this problem is only occurring on my machine.

[2017-02-17 19:21] SeanCurtis-TRI opened #5211 "Document sdf/urdf collision semantics in Drake's contact filtering documentation"
PR #4890 provides documentation of how Drake handles collision filtering.  There are sections that are incomplete.  Specifically, the discussion of the collision state of SDF and URDF files.  For example, by default is self-collision disabled for whole models?  What tags exist in each of the specifications which are *not* accounted for in this discussion.  How are nested collision statements resol

[2017-02-17 22:04] jwnimmer-tri opened #5216 "Re-enable visualizer_startup_test.py"
The `drake/regtests/visualizer_startup_test.py` sayeth:
[code]

So, should we re-enable this test, or remove it?

[2017-02-17 22:10] david-german-tri commented on #5216
I believe we should remove it.  Will PR and send to @patmarion for review.

[2017-02-17 22:11] patmarion commented on #5216
yep, can remove.  lots of visualizer tests are now run via Director tests.

[2017-02-17 22:25] BetsyMcPhail commented on #4947
Unprovisioned image has been updated and the packages have been removed from the Xenial script and Trusty instructions.

[2017-02-17 22:25] #4947 closed

[2017-02-18 00:08] #5216 closed

[2017-02-18 01:12] jwnimmer-tri commented on #4448
Update: I've test-ported enough code that I'm fairly confident in the APIs.  I've started work on steeling a first PR into shape at https://github.com/jwnimmer-tri/drake/tree/systems-single-base-pr1.

[2017-02-18 12:25] RussTedrake commented on #245
Hi @ljarin.  You're actually a special case (being at MIT), so I will send you an email on how to proceed.

[2017-02-18 15:47] patmarion commented on #5179
Just to state the obvious... LCM already has logging and playback tools.  I know you guys are discussing a custom implementation inside Drake, but have you already ruled out using LCM's provided tools?  They work quite well and have many useful features.  If they don't solve your use case exactly, perhaps consider improving the LCM tools?

[2017-02-18 15:54] jwnimmer-tri commented on #5179
Agreed.  I continue to believe that `lcm-logger` to capture plus inline-timestamp-awareness in `lcm-logplayer` (or a python log-conversion tool that has the same effect) would be the best answer.

Heck, even Director (or an associated python tool in the same family) could offer to open an LCM logfile and scrub through the visualizer-related messages for playback in realtime or locked sub/super-rea

[2017-02-18 19:00] patmarion commented on #5179
If Director tools are a consideration, I have some lcm log utilities that are relevant.  I just made this video to demonstrate:

https://www.youtube.com/watch?v=oK5hHMIp_Ec

I used existing code in Director and wrapped a simple gui around it for demonstration.  It's a programmatic log playback interface that I developed a while ago to automate movie production.  The tool can playback any lcm log,

[2017-02-19 00:12] RussTedrake opened #5225 "rename System::SetDefaults to System::SetDefaultContext"
@sherm1 -- i'd like to propose this name change.  SetDefaults is far too generic, and SetDefaultContext follows the style of the related methods.

[2017-02-19 02:44] sherm1 commented on #5225
:+1: I agree.

[2017-02-19 03:55] liangfok commented on #5209
I updated and rebooted my OSX machine and the problem went away by itself. While I still don't know the underlying cause, the fact that it now works on my machine merits closing this issue.

[2017-02-19 03:55] #5209 closed

[2017-02-19 05:42] kunimatsu-tri opened #5227 "RgbdCamera Unit Test Fails in CI"
In the PR for [RgbdCamera](https://github.com/RobotLocomotion/drake/pull/5201), the unit test failed in CI. There is no failure in my local machine.

It seems this is due to the lack of `DISPLAY` environment variable. The actual error message is:
[code]

`vtkXOpenGLRenderWindow.cxx` is calling `XOpenDisplay` [here](https://github.com/Kitware/VTK/blob/v5.10.0/Rendering/vtkXOpenGLRenderWindow.cxx#L3

[2017-02-19 14:19] #5087 closed

[2017-02-19 23:05] #2627 closed

[2017-02-19 23:06] RussTedrake commented on #2537
this is matlab-only, and is no longer relevant (the new models in c++ are correct).

[2017-02-19 23:06] #2537 closed

[2017-02-20 14:12] jamiesnape commented on #5187
Closed via #5207.

[2017-02-20 14:12] #5187 closed

[2017-02-20 14:29] jwnimmer-tri opened #5230 "Programmatically enforce WORKSPACE restrictions"
In pre-merge CI, we should programmatically enforce `WORKSPACE` restrictions:
1. That the `WORKSPACE` entries are consistent with the `git submodule` entries.
2. That the referenced commit or tag is on a relatively permanent branch that will not disappear (e.g., _master_).
3. That the hosting server is on a whitelist of known-good hosts.

Note that these checks need _not_ apply to personal develop

[2017-02-20 14:41] jwnimmer-tri commented on #5230
WIP at https://github.com/jwnimmer-tri/drake/tree/bazel-workspace-checker, but needs rework since we switches to tarballs instead of git clones.

[2017-02-21 01:57] RussTedrake opened #5238 "support adding drake_cc_binary as a drake_cc_test with some command line flags"
For a specific example in cmake, see
https://github.com/RobotLocomotion/drake/blob/master/drake/examples/Pendulum/CMakeLists.txt#L56

I'd like to do the equivalent in bazel.  I've added a drake_cc_binary for pendulum_run_swing_up, but now want to add a test that uses the command line arguments to run faster than realtime (without having to write a one-off python wrapper).

when asked quickly, @jwn

[2017-02-21 02:01] jwnimmer-tri commented on #5238
I suspect that a small macro around https://bazel.build/versions/master/docs/be/shell.html#sh_test with appropriate `args` based on the `$(location some_cc_binary)` would do the trick.

[2017-02-21 02:29] jwnimmer-tri commented on #5238
Oops, https://bazel.build/versions/master/docs/be/c-cpp.html#cc_test does support `args`; I wonder how I missed that the first time?  I just tested that with a kuka simulation demo and it worked.

So the only request here is to add a `drake_cc_test` wrapper, similarly to `drake_cc_googletest`.

[2017-02-21 02:39] jwnimmer-tri commented on #5012
Actually, the GCC PPA that we already use on Trusty appears to offer even newer versions of GCC.  Possibly it would be enabling to use GCC 5.4 for the July..December runway of ROS-only support, if it was practical to switch the Catkin builds to using it.  I don't know off the top of my head if other Trusty-based ROS or HSR C++ libraries have any C++ABI incompatibilities with the newer `libstdc++`

[2017-02-21 03:24] jwnimmer-tri commented on #5044
In prior discussions, we've considered using http://www.assimp.org/ for this kind of purpose.  If nothing else, maliput's obj generator could automatically produce the new asset format by calling the conversion tool.

See also #1784 where assimp was discussed.

[2017-02-21 15:06] SeanCurtis-TRI commented on #5179
@patmarion Can you clarify what you mean by "clocked by"?  There are two orthogonal timings involved here: the timestamp of the data and the playback rate.  In this case, it seems we have two timestamps on the data: the computer time when a message was received and the simulation time stamp that was stashed in the data (recognizing that we have no guarantees that the former is an affine transforma

[2017-02-21 15:31] patmarion commented on #5179
That's what my video is showing.  The tool works very well and I use it for making movies.  The code looks like this:

[code]

Logs may also contain messages without usable time information.  For example, the message to load geoemetry, which is critical for log playback, does not have a timestamp!

https://github.com/RobotLocomotion/drake/blob/master/drake/lcmtypes/lcmt_viewer_load_robot.lcm

[2017-02-21 18:32] hongkai-dai commented on #4421
An updated TODO list:

1. [x]

[2017-02-21 18:36] #5162 closed

[2017-02-21 18:38] soonho-tri commented on #4421
@RussTedrake , FYI, @hongkai-dai and I just had a meeting and updated our TODO list.

[2017-02-21 19:23] #4990 closed

[2017-02-21 22:27] #4878 closed

[2017-02-21 22:28] hongkai-dai commented on #4649
We have added `mathematical_program_test.cc`.

[2017-02-21 22:28] #4649 closed

[2017-02-22 15:40] kunimatsu-tri commented on #5210
Any updates on this? I'm asking because this seems very related to #5227 which will be blocking a PR to be merged.

[2017-02-22 15:46] patmarion commented on #5210
I don't think your tests in #5227 are being run with xvfb-run.  Only director tests use xvfb-run as far as I know.

[2017-02-22 16:24] kunimatsu-tri commented on #5210
Oh, I thought this would affect all the CI environment.

If no, I need the same change to my test's CI environment.

[2017-02-22 16:25] patmarion commented on #5210
My recommendation to use Xvfb would allow all tests in the CI environment to run.  Using xvfb-run must be specified per-test.

[2017-02-22 16:30] kunimatsu-tri commented on #5210
Just to be clear, my tests seems to be run with xvfb-run: https://drake-jenkins.csail.mit.edu/job/linux-xenial-clang-experimental/1725/consoleText

And, your recommendation sounds good to me.

[2017-02-22 16:34] patmarion commented on #5210
in that log, i only see director tests using with xvfb-run.

[2017-02-22 16:46] patmarion commented on #5044
do you have a screenshot from another program to show how it's supposed to look?  The colors depend both on the object material properties and on the scene's lighting model.  Here is the result I get from drake-visualizer using `assimp2vtk`.

![dragway](https://cloud.githubusercontent.com/assets/90784/23221962/6f3709de-f8f4-11e6-9a40-17338d204223.png)

[2017-02-22 16:58] kunimatsu-tri commented on #5210
Ah, right. I was seeing director tests part.

So, my test doesn't have neither xvfb-run nor Xvfb for now.

[2017-02-22 17:00] liangfok opened #5263 "Mysterious CI Failure: Numerous Unit Tests Timing Out For No Apparent Reason"
# Example Problem

[code]

# Example Logs

* https://drake-jenkins.csail.mit.edu/job/linux-clang-continuous-ros-debug/1232/

[2017-02-22 17:12] david-german-tri commented on #5263
Well, that is weird.  `ctest` is reporting a timeout, but in fact, the logs show that those tests ran and passed.  For instance:

[code]

This smells like a `ctest` bug to me.  @jamiesnape @BetsyMcPhail any thoughts?

[2017-02-22 17:13] liangfok commented on #5044
Here is what I see when using MeshLab:

![screen shot 2017-02-22 at 12 07 53 pm](https://cloud.githubusercontent.com/assets/1388098/23223053/e4ff2c66-f8f7-11e6-8a44-1c09de1500db.png)

I actually think the yellowish version you see is OK because that's what @jadecastro's screenshot shows here:

https://github.com/RobotLocomotion/drake/pull/5169#issue-207623565

@maddog-tri, as the author of the of

[2017-02-22 17:19] patmarion commented on #5044
Note also that the mtl file sets the opacity to 0.5 for all materials, meaning the objects are translucent, so the gray background influences the color, too.

[2017-02-22 17:20] SeanCurtis-TRI commented on #5044
Sounds like an error in the mtl file.

[2017-02-22 17:24] patmarion commented on #5044
correction, the 2 overlay pieces have opacity=0.5, the lower layer is not translucent.

[code]

[2017-02-22 17:58] SeanCurtis-TRI opened #5265 "Changing integrator for simulator has unwieldy interface"
Currently, to change the integrator a simulator is using, you use something like the following:

[code]

The "unwieldy" part is that we "leak" the `context` out of the simulator to push into an integrator that the simulator owns anyways.  Similarly, the reference to the `diagram` is also shared with the simulator.  So, there are two pieces of data that is, in some sense, owned by the simulator but

[2017-02-22 18:04] jwnimmer-tri commented on #4861
Most code is ported; some of the stuff in `drake/multibody` is not but doesn't seem me worth digging into -- I've done enough to convince myself this is a good path.

My next step will be a PR with coding standard rule clarification to: either use one of these macros xor declare the special functions by hand iff a custom variant is needed.

[2017-02-22 18:17] sherm1 commented on #5265
I agree this can be improved! But note that the integrators are designed also to be used standalone (without a Simulator driving them) and that use should be preserved also. We do make use of that capability, especially for low level testing where we need precise control over integration activity. Likely there is some Simulator sugar needed.

[2017-02-22 18:47] sammy-tri opened #5267 "Need multi-arm iiwa model for bimanual manipulation planning"
To start doing tests with bimanual manipulation, we'll need to have a single model (well, single RigidBodyTree however we get there) with both arms for model-based planning.

[2017-02-22 18:53] liangfok commented on #5267
My first spike test is to simply load the existing URDF of the IIWA robot into the same `RigidBodyTree` twice. I will then instantiate two separate PID controllers, one for each IIWA model instance.

[2017-02-22 19:05] BetsyMcPhail commented on #5022
The nightly and continuous everything builds have been promoted to the 'Production' lists in Jenkins.

[2017-02-22 19:32] rdeits opened #5268 "Segfaults and std::abort make the Python interface difficult to use"
This isn't a bug, strictly, but it's a design choice that's been making my life difficult, so I figured I should at least mention it. The policy inside drake seems to be to use `DRAKE_DEMAND` to do things like check if function inputs are sane. Since `DRAKE_DEMAND` is a no-op in Release mode, doing something mildly stupid, even from Python, will segfault and crash the entire Python interpreter. In

[2017-02-22 19:37] jwnimmer-tri commented on #5268
FYI/ nit: `DRAKE_ASSERT`s are turned off in release, but `DRAKE_DEMAND` will always be armed.

[2017-02-22 19:38] rdeits commented on #5268
Interesting. Then I'm not sure what was going on in my first example, since calling `GetSolution(x)` on a missing variable `x` causes a segfault in Release mode and an abort in Debug mode, even though it's using `DRAKE_DEMAND` internally.

[2017-02-22 19:56] rdeits commented on #5268
An example of my first case is:

[code]

which crashes with `SIGSEGV` in Release mode.

[2017-02-22 20:03] jwnimmer-tri commented on #5268
So #1935 is the long-ago discussion on turning off correctness checks to get better runtime performance.  I believe that the Drake's mantra is "turn on assertions when developing new code", so that speaks to the ASSERT vs DEMAND coverage challenges expressed above.  As part of resolving that discussion, I added a way to arm the ASSERTs independently from CMake's Debug mode / `NDEBUG` / Eigen asser

[2017-02-22 20:05] hongkai-dai commented on #5268
I think I can change many of the `DRAKE_DEMAND` in `MathematicalProgram` to throw `std::runtime_error`. Will that solve this problem?

[2017-02-22 20:14] rdeits commented on #5268
@jwnimmer-tri thanks for the pointer to #1935; that was helpful to read. As @hongkai-dai suggested, throwing `std::runtime_error` would make the exceptions easier to understand from Python (and would stop the interpreter itself from crashing), but I realize that might be incompatible with the eventual goal of using MathematicalProgram inside a controller's inner loop. The simplest change that woul

[2017-02-22 20:32] jwnimmer-tri commented on #5268
I don't think we would get buy-in to permanently change DRAKE_ASSERT / DRAKE_DEMAND action from `abort()` to `throw ...`; it's a well-understood mnemonic that the program will halt when using those tools.  I think the furthest that we could find consensus on is to have an optional hook where users could replace the `Abort` fail-action (e.g., with a function that throws) -- but I'm honestly not sur

[2017-02-22 20:55] liangfok opened #5269 "Need to Implement drake::maliput::dragway::RoadGeometry::DoToRoadPosition()."
This will be needed by certain systems within an autonomous vehicle simulation.

[2017-02-22 21:13] jwnimmer-tri opened #5270 "Add Maliput-based SimpleCar variant"
We should make an agent car (System) that drives on Maliput.

I don't have a good name for this new System yet.  We will have to figure one out.

Like SimpleCar, the System's sole input will be DrivingCommand (understood to be normalized accelerations like SimpleCar, not a velocity setpoint like car_sim_lcm).

The state will be the same as EndlessRoadCarState -- lane S/R position, S-relative headi

[2017-02-22 22:25] naveenoid commented on #5267
I suspect this is the only way to go, and by creating a wrapping over the resulting diagram..the practical system still requires independent implementation in anycase...

[2017-02-22 22:27] naveenoid commented on #5092
I will sort this out as soon as my bazel build issues settle (hopefully in next couple of days). Your suggestion for a test on cylinder state is worth implementing.

[2017-02-22 23:17] #4147 closed

[2017-02-22 23:32] liangfok commented on #4305
I'm going to re-open this issue because `drake/multibody/rigid_body_system_1/` still exists in master.

[2017-02-23 00:26] david-german-tri opened #5274 "RotationMatrix::ToQuaternion isn't compatible with symbolic::Expression"
[rotmat2quat](https://github.com/RobotLocomotion/drake/blob/5f9d6b5e51e43ef6ca4e627fe8b5f4913b9d8470/drake/math/rotation_matrix.h#L23) contains comparisons, and thus isn't friendly to `symbolic::Expression`.  I think this limitation was introduced in #3604, which of course fixed some other problems.

The same problem exists in Eigen's built-in conversion, see https://eigen.tuxfamily.org/dox-devel/

[2017-02-23 00:46] jwnimmer-tri commented on #5274
Ooh, another bit of code ripe for `cond`; I am excited!

[2017-02-23 02:41] soonho-tri commented on #5274
@jwnimmer-tri , how's this?

https://github.com/soonho-tri/drake/commit/388140786a8278f787a93b98cf53a29280b3d3ad

[2017-02-23 02:56] liangfok commented on #5263
@soonho-tri reports:

There are unstable builds due to timeout at
https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-clang-continuous-ros-debug

Build 1232

[code]

Build 1235

[code]

Build 1237

```18:29:07     199 - car_sim_lcm (Timeout)```

[2017-02-23 03:14] jwnimmer-tri commented on #5274
I think the "identify the largest trace or diagonal" selection conditions should probably not be repeated.

There should be a way to write it case-wise by using `Vector4<Scalar>` as the resulting type of the cond and assigning it directly onto q, so roughly:
[code]

[2017-02-23 03:19] soonho-tri commented on #5274
Great, that looks better!

[2017-02-23 03:25] jwnimmer-tri commented on #5274
For fun we can also just `return q.normalized();` I think, instead of writing it out with `operator/=`.

[2017-02-23 03:29] soonho-tri commented on #5274
I'll open a PR tomorrow morning.

BTW, wow about the issues inside Eigen? Do you have a suggestion?

[2017-02-23 03:37] jwnimmer-tri commented on #5274
You mean the `quaternionbase_assign_impl<Other,3,3>`?  I see no way for assigning Matrix3<Expression> into Quaternion<Expression> to work using that function body.  If we want to try to make that work, we would have to find a way to overload or specialize it somehow.

[2017-02-23 03:51] sherm1 commented on #5274
@soonho-tri, please don't make `rotmat2quat<double>` any slower than it is currently; it is expensive enough already. Are you proposing to specialize it for `symbolic::Expression` or to rewrite it for all scalar types?

[2017-02-23 04:31] jwnimmer-tri commented on #5274
The solution I outlined would be a rewrite for all scalars, but should end up identical when compiled; `cond` is just sugar for if-else chains.

[2017-02-23 07:14] SwapZap commented on #3749
I am not able to find drake-distro/build/install/matlab.
Please help me, I am unfamiliar with installing software using make.

[2017-02-23 08:03] hongkai-dai commented on #3749
@SwapZap we have dropped support for Windows, drake works on Ubuntu and OSX

[2017-02-23 12:25] maidenone opened #5280 "drake-visualize segfaults on ubuntu 16.10 and 17.04"
I have seen a QT linking issue in both 16.10 built with ninja and 17.04 built with make,
In both cases the system had vtk6 installed and vtk5 was checked out and built during the drake build process.

gdb crash output
[code]

output from ldd drake-visualizer | grep libQt
[code]

I have checked that "/usr/lib/x86_64-linux-gnu/libQtCore.so.4" actually exists so it should not link against libQt5Core

[2017-02-23 12:35] maidenone commented on #5280
Added a valgrind trace:
[valgrindDrake.txt](https://github.com/RobotLocomotion/drake/files/796436/valgrindDrake.txt)

[2017-02-23 14:24] jamiesnape commented on #5263
I would be surprised. All `ctest` is doing is waiting for the process to return. If the process does not return in 60 seconds, it kills it, and reports a timeout.

[2017-02-23 14:42] david-german-tri commented on #5274
Do we really want to bake a conditional into the symbolic representation of every rotation-matrix-to-quaternion conversion?  As far as I can tell, the `if-then-else` is a numerical improvement for floating-point applications, but it's not physically meaningful: there are symbolic formulations of `rotmat2quat` that don't have it, such as the pre-#3604 one.  I'm no expert, though.

I agree.  Using a

[2017-02-23 14:54] SeanCurtis-TRI commented on #4305
Excellent point; in my mind, this issue became conflated with the dreaded `rigid_body_plant_system1_test.cc`.  I hadn't paid enough attention.  How much is it worth to us to finally kill this?  As has been pointed out, we need to account for *all* the dependencies.  We just have one less now.

[2017-02-23 14:59] jwnimmer-tri commented on #5274
Pre-3604, it looks like it was just a single basic block, so it already would have supported symbolic form.

I also don't understand where this issue is coming from in the first place, so its difficult to speak to the larger picture.

[2017-02-23 15:00] liangfok commented on #4305
Completely removing `drake/multibody/rigid_body_system_1/` is highly desirable but in my opinion low priority since it's not blocking higher priority work. For example, I'm slowly porting all of the sensors over to the new systems framework but only when higher priority tasks are blocked. I shall thus apply the "priority: low" label.

[2017-02-23 15:01] jwnimmer-tri commented on #4305
It would probably be worth at least another look soon, to enumerate the remaining work for clarity.

I would love to finally see this code disappear, but I would much rather see RBT disappear.  The latter causes huge problems; the former is just a small bother.

[2017-02-23 15:04] liangfok commented on #4305
I updated the OP to include a list of items to port. It is likely incomplete -- I just put the things I'm aware of.

[2017-02-23 15:17] david-german-tri commented on #5274
Yeah, exactly.  And if we assume uses of `symbolic::Expression` are infinite-precision [1], the pre-#3604 implementation is just as correct, and doesn't introduce an if-then-else.

[1] This may be a bad assumption.  I have no idea what SMT solvers actually do.

I'm just trying to implement a `PoseVector`, as discussed on Slack, that uses `{R, p}` as its internal representation but can produce an `

[2017-02-23 15:21] david-german-tri commented on #2628
Here is an updated plan from conversation with @mwoehlke-kitware, @patmarion, @jamiesnape, @kunimatsu-tri.

----------------

Aside and apart from Drake, the Director superbuild needs to support vtk 6.3.  It's typical for projects to link against both Director and other libraries that were precompiled against system vtk.  One common example is PCL.  Those projects must be able to continue doing so

[2017-02-23 15:30] soonho-tri commented on #5274
There are some SMT solvers handling up to decidable-theories such as LRA(Linear Real Arithmetic) and they are using GMP to have required precision.

There are other SMT solvers whose goal is to handle undecidable theories such as (Non-linear Real Arithmetic) using approximation techniques. They are using numerical methods with finite precision (usually `double`). FYI, dReal is in this category.

[2017-02-23 15:54] patmarion commented on #2628
Note, the vtk 6.3 binary packages should link against system Qt and Python libraries (apt-get, homebrew).  A task that is at least as significant as upgrading the vtk version, is to upgrade to Qt5 and support the various Qt 5.x versions that are system/brew installed.

[2017-02-23 16:05] patmarion commented on #5280
Hi, it looks like the linkage for drake-visualizer is using Qt4, as it should.  The issue probably occurs in a dlopen, probably when drake-visualizer imports a python module.  My best guess is that vtk5 is not in your python path, so when `drake-visualizer` does a `import vtk` it gets the system installed vtk6, which is wrong, and it may be linked with qt5.

There are some instructions here which

[2017-02-23 16:18] patmarion commented on #1766
btw, regarding RPATH and redistributable packages, Director has packaging for linux and mac that fix up RPATH and I am quite happy with how it works!

https://github.com/RobotLocomotion/director/tree/master/distro/package

[2017-02-23 16:19] jamiesnape commented on #1766
Cool. Looks useful.

[2017-02-23 16:23] sherm1 commented on #5274
Pre #3604 this was implemented with a switch instead of if-then-else but otherwise the algorithm looked structurally similar -- does the switch make it better for symbolic?

The currently-implemented algorithm is the end result of an extended argument in the Aerospace literature following many incorrect algorithms. The conversion is extremely sensitive to noise in the rotation matrix so you would

[2017-02-23 16:31] jwnimmer-tri commented on #5274
We definitely will leave the current arithmetic and case-analysis intact in the `double` case.  The only question is if the new formulation performs extra throwaway computation of temporaries.  David and Soonho will post more details.

[2017-02-23 16:34] liangfok commented on #5263
I'm running the unit tests using Drake + ROS on my workstation using 0c7a92b7a1d484991a489e304e1cd9bda2ad3163.

# Attempt 1 - One unit test timed out

[code]

[2017-02-23 16:46] liangfok commented on #5268
Possibly related historical discussion: https://github.com/RobotLocomotion/drake/pull/4728/files

[2017-02-23 16:59] rdeits commented on #5268
Thanks @liangfok . I agree that throwing an abort makes sense when trying to catch bugs internal to drake, but throwing them from user-facing methods does not.

[2017-02-23 17:00] david-german-tri commented on #5274
You are correct; I misread the pre-#3604 version as the [naive symbolic answer from Wikipedia](https://en.wikipedia.org/wiki/Rotation_formalisms_in_three_dimensions#Rotation_matrix_.E2.86.94_quaternion).

I think the various threads on the topic can be condensed into a few candidate strategies, which I'll summarize below with pro/con analysis.

1. Don't convert symbolic rotation matrices to symbol

[2017-02-23 17:56] liangfok commented on #5263
Based on the results above, it's pretty clear to me that running `car_sim_lcm` in debug mode is problematic. It's probably caused by the new contact modeling in #5197. We should either increase the timeout or disable this unit test in debug mode.

[2017-02-23 18:01] soonho-tri commented on #5263
@liangfok , thank you for doing this! I still don't understand if this is ROS-specific or not. Do you have an idea?

[2017-02-23 18:01] soonho-tri commented on #5263
Paging @SeanCurtis-TRI , the author of #5197.

[2017-02-23 18:07] liangfok commented on #5263
It's possible that running the unit tests through a ROS environment somehow slows down the unit test. I'm trying to figure out exactly what commands are being executed by the CI driver. For example, one thing I'm looking into is whether the unit tests are being run directly through `ctest` or indirectly through `rostest`.

[2017-02-23 18:15] liangfok commented on #5263
Based on the link below, I believe `ctest` is being run directly. Thus, I'm not sure why these timeouts would be ROS specific.

https://github.com/RobotLocomotion/drake-ci/blob/e4e8fd71a7bcdcdf83ec70a649e13353d6de9541/driver/configurations/catkin/step-drake-tests.cmake#L11

[2017-02-23 19:30] liangfok opened #5286 "Need to Add RgbdCamera to Prius Model Then Integrate with SimpleCar"
# Problem Definition

We want to provide a multi-vehicle simulation that provides RGBD sensor data to a planner that's being developed. All of the pieces are either in place or soon to be in-place (especially once #5201 is merged); we just need to integrate them. This issue tracks the development of this simulation.

# The Automotive Simulation

Drake currently has an [automotive_demo](https://git

[2017-02-23 19:51] SeanCurtis-TRI commented on #5263
I can make two definitive statements relating to `car_sim_lcm`.

1) Due to the new model, we swapped from the default RK2 integrator (with a timestep of 1e-3) to the Semi-explicit Euler with a timestep of 1e-4.  So, best case scenario, it should run at 1/10th the speed.
2) I avoided running it in debug mode like the plague.

It's conceivable that it's generally close to failing everywhere, but ROS

[2017-02-23 19:58] liangfok commented on #5263
Good question. It's possible. I will do more testing to see exactly how long it takes to run to see how close we are to the 60s limit.

[2017-02-23 20:00] maidenone commented on #5280
Booo! i already had that export, but found typos in my path. me be bad code monkey..
Thanks! now it works fine. we can close this ticket. We should maybe add something in the wiki about my experience. Works fine  now on 16.10 and 17.04!

[2017-02-23 20:48] liangfok opened #5288 "Add an IDM-Controlled SimpleCar and TrajectoryCar on Dragway Demo"
We want to demonstrate how an IDM-controlled `SimpleCar` can travel down a one-lane Dragway and avoid colliding with a `TrajectoryCar`. Here is the system diagram:

<pre>
               -------------    -------------------
               |           |    |                 |
    ---------->| SimpleCar |    |  TrajectoryCar  |
    |          |           |    |                 |
    |          ------

[2017-02-23 21:08] maddog-tri commented on #5044
The "drake-visualizer using `assimp2vtk`" screenshot from @patmarion looks about right; the lane swaths, stripes, and arrows are intended to be translucent overlays (on top of opaque blacktop).  I don't know why meshlab doesn't show yellow stripes/arrows --- but I stopped using meshlab to view OBJ files a while ago.  Here is a screenshot from `view3dscene`:
![five-lanes](https://cloud.githubuserco

[2017-02-23 21:20] maddog-tri commented on #5044
And, to add my two cents:  if `drake-visualizer` is going to make any pretense of loading OBJ files, then it should deal with the MTL files, too.  If that mean that it calls `assimp2vtk` under its hood to accomplish that, great, but the user shouldn't have to know about it.

[2017-02-23 21:20] liangfok commented on #5044
@patmarion, what's your recommendation on how to resolve this issue? We currently have software in Drake that's able to write an `.obj` and `.mtl`. We'd like to automate the conversion of these files into a format that `drake-visualizer` can  use. Should we call your `assimp2vtk` program to do this?

[2017-02-23 21:34] liangfok opened #5291 "Need to Update automotive_demo.py with --no-steering-command-driver Option"
When launching a simulation with more than one `SimpleCar`, the automatically-launched `steering_command driver.py` does not work because the LCM channel topic on which the `SimpleCar` vehicles are listening is not what the `steering_command_driver.py` expects. Instead of executing multiple `steering_command_driver.py` instances, once for each `SimpleCar`, I think it would make more sense to allow

[2017-02-23 21:47] soonho-tri commented on #5263
/cc @kunimatsu-tri

[2017-02-23 21:48] liangfok commented on #5263
Here's one initial result that indicates the `car_sim_lcm` unit test takes one minute and 44.61 seconds to run in debug mode:
[code]

[2017-02-23 21:49] soonho-tri commented on #5263
@liangfok , good to know. I think a solution for this issue is to increase test timeout for `car_sim_lcm` to 120sec (2min)?

[2017-02-23 21:50] kunimatsu-tri commented on #5263
I created a PR as a temporal solution just in case, but it's OK for me to close it if @liangfok found the final solution.

[2017-02-23 21:53] soonho-tri commented on #5263
@kunimatsu-tri , sounds good to me. Let's see how CI works with that PR.

BTW, could you mention the PR in this issue so that Github links the two?

[2017-02-23 21:55] kunimatsu-tri commented on #5263
Sure. #5294

[2017-02-23 21:56] soonho-tri commented on #5263
Ooops. It was already displayed up above. I missed that. Thank you @kunimatsu-tri !

[2017-02-23 22:13] kunimatsu-tri commented on #5227
Now this issue is actually blocking #5201 to be merged.

@david-german-tri: Is it possible to set Xvfb in CI as patmarion is suggesting in #5210?

[2017-02-23 22:29] jwnimmer-tri commented on #5291
Users who want this can fix it themselves.  I volunteer to review the PR, but we won't need it within the team.  (They can also just run the automotive_demo binary directly, and whatever drivers they want after that.)

[2017-02-23 22:29] #5291 closed

[2017-02-23 22:32] jwnimmer-tri commented on #5263
How about change `simulation_sec` from `0.1` to `0.001`?  Hopefully that being the test to a tolerable time when run automatically.

[2017-02-23 22:36] kunimatsu-tri commented on #5263
Yeah, that's another possible solution.

@liangfok: Is this OK for you?

[2017-02-23 22:47] liangfok commented on #5263
Yes I believe that will work. I will verify then submit a PR.

[2017-02-23 22:52] jwnimmer-tri commented on #5263
Now that #5266 has merged, the test is in Bazel, so the BUILD file also needs the shorter duration.

[2017-02-23 22:53] kunimatsu-tri commented on #5263
Great.
If that won't take much time, just ignore my feature review request in #5294.

[2017-02-23 23:32] jwnimmer-tri commented on #5288
https://github.com/RobotLocomotion/drake/blob/master/drake/automotive/idm_planner.h doesn't take a PoseBundle, it takes a one-dimensional x and xdot, for each of the two vehicles.

[2017-02-23 23:57] david-german-tri commented on #5274
@soonho-tri and I have run some benchmarks on option 2.  It seems to be about 10% faster than the status quo on clang, where it gets inlined, and 30% slower on gcc, where it doesn't.  In my opinion, that's close enough that we should move forward with it, while keeping option 3 in our back pocket.

[2017-02-24 01:08] sherm1 opened #5297 "Constraint methods in System need revision"
Per discussion with @edrumwri, the constraint methods that slipped into System before I saw them need revision. A few issues:
- These should be Calc methods, not Eval; Eval is for caching only.
- Position, velocity, and acceleration errors should be distinguishable. For example, an Assembly analysis or IK needs to drive the position constraints to zero but has no interested in v or a.
- Documentat

[2017-02-24 01:11] liangfok commented on #5288
I suppose we have two options:

1. Modify `IdmPlanner` to take as input a `PoseBundle`.

2. Develop a new system that takes as input a `PoseBundle` and outputs an `x` and `xdot` for the vehicle under its control.

I thought option 1 was what we decided to do today, but option 2 is probably a better design from a software design perspective since it achieves better separation of concerns. Thoughts?

[2017-02-24 01:30] jwnimmer-tri commented on #5288
Like I said in the meeting, I will write down the list of models and we will take it from there.  I should have it done by midnight, just be patient please.

[2017-02-24 01:34] liangfok opened #5298 "Injection of GLX_GLXEXT_LEGACY Preprocessor Flag Results in Redefinition Conflict on Ubuntu 16.04"
# Problem Definition

In #4930 we added the injection of the `GLX_GLXEXT_LEGACY` preprocessor flag to overcome the problem described in #4899. Unfortunately, I just discovered that the injection of this flag results in the following compile-time error indicating the flag was defined in other parts of VTK5:

[code]

To overcome this problem, I had to revert the injection of the `GLX_GLXEXT_LEGACY`

[2017-02-24 01:59] liangfok commented on #5263
Sorry for the delay. I had to switch computers and ran into #5298.

The unit test takes 1:16 on my home desktop PC:

[code]

Decreasing the simulation duration by 10X gives:

[code]
Since I believe the unit test's efficacy is not decreased by this change, I created #5299.

[2017-02-24 02:55] #5263 closed

[2017-02-24 05:56] jwnimmer-tri commented on #5288
If we want to do this demo quickly, we can extract the IDM equation from `idm_planner.h` into a function (taking as arguments ego velocity, closing velocity, and longitudinal separation), and then wire up a custom System that takes 2x SimpleCarState as inputs and publishes DrivingCommand as output, using the IDM equation.  Then we just hook that up in the obvious way to SimpleCar and TrajectoryCar

[2017-02-24 12:48] RussTedrake commented on #5297
fwiw -- http://drake.mit.edu/doxygen_matlab/class_manipulator.html#ae9a5cd0ce75ce832f0070c87c894d6fe
there are a number of constraint implementations (e.g. constant-length cable drive) in matlab that we can move over when this is ready.

[2017-02-24 12:50] RussTedrake commented on #5297
another important distinction is whether constraints are equality constraints or inequality constraints.  of course, with our constraint classes you can simply ask the constraint about it's bounds; in matlab we kept separate lists of constraints for the two distinct types because they are treated very differently in the dynamics code.

[2017-02-24 15:26] patmarion commented on #5280
Awesome, glad it's working now.  Sorry the import failure doesn't print a more helpful error message, that could be improved.

[2017-02-24 15:26] #5280 closed

[2017-02-24 15:27] patmarion commented on #5280
/cc @liangfok in case you want to put a link to this in the drake install instructions.

[2017-02-24 15:32] kunimatsu-tri commented on #5286
Things not implemented but necessary from RgbdCamera side are:

- Camera pose update functionality
- Label image output functionality

@StephenMcGill-TRI agreed that these functionalities will not necessarily be merged to master by the time he needs (the week of Feb 27).

[2017-02-24 15:36] patmarion commented on #5044
fyi, https://github.com/RobotLocomotion/director/pull/475

I backported the vtkOBJImporter so that it's available in director.  If you want to use it, you can add it to `drakevisualizer.py`.  I think the vtkOBJImporter implementation has room for improvement, but it seems to work ok on the files I tested.

[2017-02-24 15:37] soonho-tri opened #5305 "Add symbolic simplification for polynomial division"
So that we can enable the tests in https://github.com/RobotLocomotion/drake/blob/master/drake/common/test/decompose_polynomial_test.cc#L337-L376

/cc @hongkai-dai

[2017-02-24 15:38] liangfok commented on #5298
@maidenone, in
https://github.com/RobotLocomotion/drake/pull/4901#issuecomment-281494405, you mentioned that the injection of `GLX_GLXEXT_LEGACY` did not work. In what way did it not work? For example, did it result in the above "GLX_GLXEXT_LEGACY  redefined" error or did the processor simply think this macro wasn't defined?

[2017-02-24 15:40] patmarion commented on #5267
why not a single urdf with the full two armed two grippered robot in it?

[2017-02-24 17:01] liangfok commented on #5267
I'm hesitant to cause an explosion in the number of URDFs that then need to be kept in sync. I supposed one option is to use `xacro`.

[2017-02-24 17:02] liangfok commented on #5267
We may need to address #4326.

[2017-02-24 17:06] patmarion commented on #5267
what's wrong with having urdf files?  they would be generated from templates, clearly identified as generated, and checked into the repo.  otherwise you will continue to have hard coded values in the kuka sim c++ files, which i'd argue is currently unusable by external programs like controllers and visualizers.

[2017-02-24 17:39] liangfok commented on #5267
I just want to ensure all URDFs that include an IIWA model are kept in sync. I agree auto-generating the URDFs from templates is a good solution and will look into whether `xacro` can serve this purpose. One option might be to provide users with instructions on which version of `xacro` to use.

[2017-02-24 17:44] patmarion commented on #5267
i think the two arm version ought to be different, so that link names can be like `left_arm_link_1` etc

[2017-02-24 17:47] liangfok commented on #5267
Oh yeah, you just reminded me that URDF does not support more than one model instance! I would argue that this is one reason not to save more than one instance of the IIIWA in a single URDF. Perhaps we should go with SDF, which does support including multiple models in a single file.

[2017-02-24 18:14] liangfok opened #5307 "Need Ability to Partially Load an SDF"
# Problem Definition

Drake's SDF parser currently loads _every_ model defined in an SDF into the `RigidBodyTree` (soon to be `MultiBodyTree`). This is problematic when the SDF contains many models and certain systems within the simulation like controllers are only operating on one of the many models.

# Proposed Solution

Update the SDF parser API to allow the user to specify which models within

[2017-02-24 19:31] amcastro-tri commented on #4187
This got duplicated by #4897 and therefore I will close this issue since #4897 is more recent.

[2017-02-24 19:31] #4187 closed

[2017-02-24 19:32] amcastro-tri commented on #4044
I will close this issue since it's being tracked by the more recent #4897.

[2017-02-24 19:32] #4044 closed

[2017-02-24 19:40] edrumwri commented on #5297
@sherm1, if we introduce position, velocity, and acceleration errors, then
we're back at the assumption that a system is mechanical.

--------------------------------
Evan Drumwright
Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Fri, Feb 24, 2017 at 7:50 AM, Russ Tedrake <notifications@github.com>
wrote:

[2017-02-24 19:45] edrumwri commented on #5297
Russ, there has been no mechanism planned for integrating systems with
constraints specified by inequalities. The upcoming piecewise DAE approach
will model inequality constraints in a Lagrange Multiplier type way (i.e.,
constraints can be active or inactive), which will admit this capability.

--------------------------------
Evan Drumwright
Research Scientist
http://positronicslab.github.io
Toyo

[2017-02-24 19:49] liangfok opened #5309 "Need Ability to Export Serialized Version of The World"
# Problem Definition

We currently assemble the world by repeatedly adding model instances to a `RigidBodyTree` (soon to be `MultiBodyTree`), and instantiating things like sensors and actuators. While this works for simulations and controllers _within_ Drake, it does not bode well with _external_ applications and tools. These include tools in [OpenHumanoids](https://github.com/OpenHumanoids) and [

[2017-02-24 19:52] liangfok commented on #5309
This issue stemmed from a discussion in #5267, which carried over to Slack: https://drakedevelopers.slack.com/archives/drake-kuka-iiwa/p1487958347000651

[2017-02-24 20:37] david-german-tri commented on #5210
Bumping priority since this is related to, and perhaps blocking, #5227.  @jamiesnape @BetsyMcPhail, what do you think about running Xvfb as a daemon on the CI instances, as @patmarion suggests above?

https://github.com/RobotLocomotion/drake/issues/5210#issuecomment-280732532

[2017-02-24 20:40] david-german-tri commented on #5210
If I'm understanding correctly, the Director tests will automagically stop using `xvfb-run` if `DISPLAY` is set: https://github.com/RobotLocomotion/director/blob/master/src/python/tests/CMakeLists.txt#L102

[2017-02-24 20:41] david-german-tri commented on #5227
from f2f conversation: I agree, we should try @patmarion's approach, and have sent a ping to Kitware.  In the meantime, consider running your test under xvfb using logic similar to https://github.com/RobotLocomotion/director/blob/master/src/python/tests/CMakeLists.txt#L102

[2017-02-24 20:55] patmarion commented on #5210
Yes.  Note that the check for DISPLAY happens at configure time.  I would eventually remove all the xvfb-run code if drake-ci decides to switch to Xvfb server daemon, or at least add an explicit option rather than checking for the DISPLAY environment variable.

[2017-02-24 22:11] patmarion commented on #5309
I'm not sure I understand the proposed pseudocode.  Are you suggesting that kuka_iiwa_wsg.cc writes out urdf files after it constructs the tree in memory?

[2017-02-24 22:12] liangfok commented on #5309
Yup! Thoughs?

[2017-02-24 22:16] patmarion commented on #5309
would you put those files into version control so that people can use the files without having to run the kuka sim program?

[2017-02-24 22:26] kunimatsu-tri commented on #5227
When I was trying to the director's approach, I noticed that Xvfb doesn't work for my case.
It gives me the following error:
[code]

This is because Xvfb doesn't fully support GLX extensions.  To cope with this problem, [Xdummy](https://xpra.org/trac/wiki/Xdummy) is widely used.

So, I'm wondering now if we could use Xdummy instead of Xvfb, although a part of the unit tests for RgbdCamera fails ev

[2017-02-24 22:28] patmarion commented on #5227
Director tests use Xvfb (via xvfb-run) on the drake ci servers, it works.  You might need to apt-get install a package (that might have been removed from drakes wiki instructions)

[2017-02-24 22:32] kunimatsu-tri commented on #5227
Can I see the output of `glxinfo` in CI environment somehow?

[2017-02-24 22:40] kunimatsu-tri commented on #5227
Never mind. Maybe I can open a dummy PR just to see "glxinfo" in CI.

[2017-02-24 22:59] RussTedrake commented on #5297
@edrumwri - That's consistent with my understanding.  The first consumers of the inequality constraints will be the planning/optimization tools.

[2017-02-24 23:41] sherm1 commented on #5307
I'm assuming it would be fine if `libsdformat` reads the whole sdf file as long as we can pull just the desired model(s) out of it. In that case from `libsdformat` we only need the ability to extract particular models from the in-memory representation. Is that feasible already, @clalancette?

[2017-02-25 01:06] sherm1 commented on #5297
we're back at the assumption that a system is mechanical.

Good point. We had the same issue with continuous state variables but phrased them neutrally as second order state variables q, their related first order variables v, and other first order variables z. Is there analogous terminology we can use here for
- constraints on q, with t given: g₂(t;q)=0
    - holonomic, with time derivatives ġ₂(t

[2017-02-25 02:08] RussTedrake commented on #5297
my two cents:
- constraints on z should definitely be supported, too.  in matlab we had stateConstraints (phi(x)=0) for all Systems, and added additional notions of positionConstraints, velocityConstraints for Manipulators only.  [Adding a position constraint would also register a stateConstraint](https://github.com/RobotLocomotion/drake/blob/master/drake/matlab/systems/plants/%40Manipulator/Manip

[2017-02-25 02:52] liangfok commented on #5309
Per [slack discussion](https://drakedevelopers.slack.com/archives/drake-kuka-iiwa/p1487989452000733), we decided world-serialization should be done pre-`RigidBodyTree` creation. I shall thus close this issue.

[2017-02-25 02:54] RussTedrake commented on #5297
in my mind, this is such an important thing to get right (to fulfill the promise of having a truly beautiful architecture for optimization over dynamical systems), that we should probably schedule a design meeting about it.  cc @hongkai-dai @soonho-tri

[2017-02-25 03:03] liangfok opened #5317 "Update SDF Parser To Allow Inclusion Of Other SDFs and URDFs."
# Problem Definition

We currently assemble the world by repeatedly adding model instances to a `RigidBodyTree` (soon to be `MultiBodyTree`), and instantiating things like sensors and actuators. While this works for simulations and controllers _within_ Drake, it does not work well with _external_ applications and tools like those in [OpenHumanoids](https://github.com/OpenHumanoids) and [Director](

[2017-02-25 03:06] liangfok commented on #5307
Yes, it would be OK for `libsdformat` to load the entire SDF into memory, but then to selectively transfer only a portion of the models defined within the SDF into the `RigidBodyTree`.

[2017-02-25 03:06] jwnimmer-tri commented on #5317
I think there are valid use cases for defining multibody geometry on the fly, and just simulating / visualizing it.  We should not disallow that.

[2017-02-25 03:08] liangfok commented on #5317
Would requiring all of those uses cases go through a serialization phase be too arduous? In other words, phase 1 is to generate the SDF + URDF files, then phase 2 is to simulate & visualize them.

[2017-02-25 03:11] jwnimmer-tri commented on #5317
Yes, unacceptable.

[2017-02-25 03:14] liangfok commented on #5317
Alright, I've updated the OP to not prevent users from initialziing a RigidBodyTree by repeatedly calling the parsers.

[2017-02-25 04:16] liangfok opened #5318 "Update Bicycle Model To Support v = 0"
See: https://reviewable.io/reviews/robotlocomotion/drake/5272#-KdfOr6F8WsSu0Q1Wv5A

[2017-02-25 05:53] sherm1 commented on #5317
In what ways is URDF more expressive than SDF?

[2017-02-25 06:20] sherm1 commented on #5297
Good idea! @edrumwri and I may be out of action Monday due to HQ chaos on move-in day but should be functional again by Tuesday (I hope). We could also devote the Wed 10:30PT/1:30ET dynamics team meeting to this topic.

[2017-02-25 10:35] RussTedrake commented on #5317
We added some drake-specific tags to urdf that we have not ported to sdf yet.  (springs, dampers, airfoils, cable-drives, etc).

[2017-02-25 12:53] soonho-tri commented on #5297
I'll read the discussions carefully.
/cc @jadecastro who is working on the design of `RequirementMonitor` with me.

Tuesday is better for me and @jadecastro. On Wednesday, we have MIT project meetings (Ken and Larry visit us).

[2017-02-25 13:25] liangfok commented on #5317
I updated the OP with a link to Drake's URDF schema: http://drake.mit.edu/urdf/drakeURDF.html, which can be contrasted with ROS's URDF specification: http://wiki.ros.org/urdf/XML.

[2017-02-25 19:50] hongkai-dai commented on #5297
I should be available on both Tuesday and Wednesday.

[2017-02-26 01:01] liangfok commented on #5309
Sure we can do that. Basically, Drake could provide a tool that serializes a programmatically created `RigidBodyTree` into one or more files, which could then be used by both Drake and other applications.

[2017-02-26 01:07] liangfok commented on #5309
As mentioned above, this issue was originally closed because we decided to do world-serialization pre-`RigidBodyTree` creation, which I assumed would imply that we would disallow programmatic-creation of a `RigidBodyTree`. However, in #5317,  we decided to continue supporting this capability. Thus, there may still be a need to serialize a `RigidBodyTree` into one or more files.

[2017-02-26 04:02] liangfok commented on #1616
Is height map a type of [Digital Elevation Model (DEM)](http://gazebosim.org/tutorials/?tut=dem)?

[2017-02-26 14:09] jadecastro opened #5323 "Expose translational second-order structure in BicycleCar and (as appropriate) other Automotive models"
Using the BicycleCar model as an example, we should reformulate to reveal the second-order structure of `sx` and `sy`.
- Label `sx` and `sy` as `q` (generalized position), and label `vel` as `v` (generalized velocity).
- Implement a `v`-to-`qdot` mapping method to expose this relationship.

We should apply this pattern across all cars having acceleration input.

Based on the discussion here:
https

[2017-02-26 18:46] liangfok commented on #3543
@nkoenig, does Gazebo 8 not support `.obj`? I just tried loading Drake's IIWA model into Gazebo 8 and the visualizations did not work.

[2017-02-26 20:34] hongkai-dai opened #5325 "use `AddConstraint(symbolic::Formula)` to handle all types of constraints"
<h2> Goal </h2>

Currently we support
[code]
We want to use `AddCost(symbolic::Expression)` and `AddConstraint(symbolic::Formula)` to handle all of these different forms, namely all costs and constraints in the supported convex optimization.

<h2> Approach </h2>

We will handle constraints and costs separately.

1. For cost, add a method
[code]
   To handle both linear and quadratic cost, throw a

[2017-02-26 20:34] hongkai-dai commented on #5325
@soonho-tri and @RussTedrake for discussion.

[2017-02-26 20:37] liangfok commented on #5317
I was able to use SDF's `<include>...</include` tags to assemble a model containing two iiwa14s, two extra heavy duty tables, and one desk. The model is loadable in Gazebo, giving me some confidence that my SDF's syntax is correct:

![screenshot from 2017-02-26 15-34-10](https://cloud.githubusercontent.com/assets/1388098/23343423/3ed62b42-fc39-11e6-90bc-5d58c8db9873.png)

One problem with my curre

[2017-02-26 21:01] liangfok opened #5327 "Mysterious Build Error on OS X: default initialization of an object of const type Foo without a user-provided default constructor"
I am using 839b6e017bba05f92aaf6dc95f308c374f99d333 on OSX and building using `bazel`.

# The Error

[code]

[2017-02-26 21:21] jwnimmer-tri commented on #5327
The Continuous Production builds seem fine.  What is different between those builds and your OSX configuration?

[2017-02-26 22:10] RussTedrake commented on #5325
I agree with all of the above.  My sense is that this is very similar to what is happening in `AddLinearConstraint` right now.  I agree that we will be throwing away return type information, but if the caller is being non-specific with the call, then presumably it will be ok being non-specific with the return type, too.

[2017-02-26 23:05] liangfok commented on #5327
Is there a `mac-bazel` in continuous production? I'm guessing #5303 is the difference. I just scheduled https://drake-jenkins.csail.mit.edu/view/Bazel/job/mac-clang-bazel-nightly-release/67 to see if it can replicate this issue.

[2017-02-26 23:16] jwnimmer-tri commented on #5327
Perhaps OSX's clang is defective.  I guess the `= default;` for that constructor will need to change to `{}` to work around it.

[2017-02-27 00:28] liangfok commented on #5327
The error was replicated on CI:

https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/mac-clang-bazel-nightly-release/67/

I shall thus elevate this PR's priority.

[2017-02-27 00:28] amcastro-tri commented on #1616
Not, at the time is was an obj file.

[2017-02-27 01:01] liangfok commented on #1616
Thanks. Perhaps a DEM could be used to create a height map?

[2017-02-27 02:47] RussTedrake commented on #5309
@liangfok -- the ability to create trees programmatically is a convenience (for testing, simple apps, etc).  That does not imply that we have to serialize them to disk.  For the reasons we've already discussed, I don't think that serialization is easy or necessary.  I want to close this and take it off the table.

[2017-02-27 02:47] #5309 closed

[2017-02-27 03:27] hongkai-dai commented on #5325
Agree, I will first work on `AddCost(symbolic::Expression)` to handle both linear and quadratic costs.

[2017-02-27 03:52] #5327 closed

[2017-02-27 07:10] maidenone commented on #5298
I built with "cmake .. -DUSE_SYSTEM_VTK=OFF -DWITH_VTK=ON"

And i got something simular to this

In file included from /usr/include/GL/glx.h:333:0,
             from
/home/mildred/Work/3DKF/VTK/Rendering/vtkXOpenGLRenderWindow.cxx:31:
/usr/include/GL/glxext.h:480:143: error: ‘GLintptr’ has not been declared

I found the solution on this page:

http://stackoverflow.com/questions/28761702/getting-er

[2017-02-27 09:40] naveenoid commented on #3910
Final spiral addressed by #5321

[2017-02-27 12:36] soonho-tri opened #5330 "Build failure"
https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/mac-clang-bazel-nightly-release/67

[code]

This change was introduced by https://github.com/RobotLocomotion/drake/commit/f3476252560b1c9b3577ac15c674e6dc7db13d7a

/cc @kunimatsu-tri

[2017-02-27 13:11] liangfok commented on #5330
I suspect this was already addressed by #5328.

[2017-02-27 13:14] liangfok commented on #5330
I reopened this issue just in case.

[2017-02-27 14:16] jamiesnape commented on #5210
The daemon is probably going to be fine. I need to check a couple of things before we go that route. Certainly, we would want to start/restart it for each CI run rather than when the instance starts in case something causes it to crash and burn on a previous CI run.

[2017-02-27 14:34] soonho-tri commented on #5330
@liangfok , thank you. I can confirm on my local mac that the problem is addressed by #5328. It's just the case that mac build takes hours in CI, and I got confused.

[2017-02-27 14:34] #5330 closed

[2017-02-27 14:49] liangfok commented on #5317
I figured out a working SDF syntax for including and instantiating separate SDF models. The example is in #5332. Now that I know what the `<include>...</include>` syntax looks like, we can begin modifying the SDF parser to support it.

One major question is whether we should wait for the new `libsdformat` library to be integrated (#4337) or modify Drake's current custom SDF parser.

[2017-02-27 14:59] liangfok commented on #5267
I now know a working SDF syntax for including multiple URDF model instances into a world: #5332. I suspect, however, that updating Drake's parsers to support this feature will take a significant amount of time since it will require a resolution to #5317. To more quickly resolve this issue, my plan is to programmatically create the `RigidBodyTree` with two iiwa manipulators. Once #5317 is resolved,

[2017-02-27 15:13] liangfok commented on #5317
Upon further reflection, I think it would be best to prioritize the switch to `libsdformat` prior to adding support for SDF files to include other SDF and URDF files. @sherm1 and @clalancette, please let me know if I should think otherwise. Thanks!

[2017-02-27 15:57] kunimatsu-tri commented on #5227
I wrote a bash script that runs both Xvfb and a text executable:
[code]
and tried this script in CI.

The test passed on Trusty, but failed on Xenial. The error is:
[code]

Also, the test with Xvfb didn't pass in my local Trusty machine neither as I reported above.
I guess this is because I'm using nvidia's libGL.so instead of mesa's.
The test passed in my local Trusty if I don't use Xvfb.

[2017-02-27 19:29] sherm1 commented on #5317
Sounds right to me, @liangfok. Any update @clalancette?

[2017-02-27 20:34] liangfok commented on #5309
BTW, I just read the following description of how auto-generated SDF files should be managed:

http://gazebosim.org/tutorials?tut=model_structure&cat=build_robot.%3C/p%3E#ModelSDF.ERB

This implies to me that SDF officially encourages generated `.sdf` files to be committed into version control.

[2017-02-27 21:05] jwnimmer-tri commented on #5309
That's insane, because it would overwhelm `git` given the kinds of models and permutations we are talking about.  Just have the build system create the generated file, and include the generated file as part of the source & binary releases.

[2017-02-27 21:13] liangfok commented on #5309
Good point. We'll try to avoid committing generated files if possible. @patmarion, I assume you'll be OK running `xacro` or `erb` to get the generated model files?

[2017-02-27 21:20] jwnimmer-tri commented on #5309
What about "have the build system create the generated file" was not a good idea?  It minimizes the possibility for user error, and should make it easy for downstream code to use the permutation forest of world files without much effort.

[2017-02-27 21:21] liangfok commented on #5309
I assumed @patmarion didn't want to build Drake (I could be wrong), and we don't have any releases yet.

[2017-02-27 21:25] patmarion commented on #5309
I'd vote for checking in the generated files where it's reasonable.  One reason is to avoid a dependency on xacro (or some other template engine, but xacro is what we've used in the past) in the build system, but I can think of other reasons.  We already have generated urdf files in the repo, so there is precedent.

I do build drake, so if the decision is made to do the generation as build time th

[2017-02-27 21:37] jwnimmer-tri commented on #5309
Files that are generated-but-committed still need to have tool support for regenerating the files, so that any developer can fix a bug and regenerate them.  So you can't really escape a dependency on whatever generator tool you choose.  Putting it in the build just means that it's guaranteed to work, as opposed to a README with "wget xacro" that will bitrot.

[2017-02-27 21:54] kunimatsu-tri commented on #5227
Calling `vtkWindowToFilter::ReadFrontBufferOff()` solved the error on Xenial.
Also, avoiding using Xvfb solved the error in my local machine when nvidia libGL.so is used.

So, there is no concern using Xvfb now.

[2017-02-27 23:09] jwnimmer-tri commented on #2269
Updated proposal: we make a tool that calls `clang-format -lines 1..N somefile` with an `N` that covers the `#include` statements atop somefile.  (Let's call it `clang-format-includes` for now.) Users can run this tool (or teach their editor to run this tool) to format the include statements.  Then, we can either rely on cpplint to enforce it, or at test-time we could have the build enforce that r

[2017-02-28 00:19] liangfok commented on #4305
I crossed out the porting of the parsers in the OP due to https://github.com/RobotLocomotion/drake/issues/4337.

[2017-02-28 00:25] liangfok commented on #5307
This issue is blocked on https://github.com/RobotLocomotion/drake/issues/4337.

[2017-02-28 00:48] jwnimmer-tri commented on #5307
On first read, within `parser_sdf.cc`, it would be trivial to add a guard to the call from `ParseSdf` to `ParseModel`, and a similar guard to `ParseWorld` if necessary.  Thus, I'm not sure why #4337 is a blocker.

[2017-02-28 01:17] jwnimmer-tri opened #5341 "Automotive demo cars rendering has wrong origin for rotation"
(This is just from watching the demo, but I'm pretty sure I'm right.  Someone who does a code / model dive can confirm.)

The automotive demo's cars rendering uses the wrong yaw-rotation origin.  We are using the prius SDF model and mapping x,y,yaw to a floating joint.  A turning car should curve around the center of the rear axle, but to my eye we are pivoting around the rear bumper (approximatel

[2017-02-28 01:22] liangfok commented on #5307
Basically, I'm unsure whether it's worth touching `sdf_parser.cc` or `urdf_parser.cc` if they are going to be replaced by `libsdformat` in the near future.

[2017-02-28 01:30] jwnimmer-tri commented on #5307
That depends on how much payoff vs work there is, but in any case is not "blocked" by 4337, since a fix is plausible even without #4337.

[2017-02-28 03:01] liangfok commented on #3429
https://drake-jenkins.csail.mit.edu/job/linux-gcc-experimental-ros/4203/

[2017-02-28 08:59] RussTedrake opened #5343 "Provide System-level mechanism for Allocating inputs"
For motivation, see:
https://github.com/RobotLocomotion/drake/blob/master/drake/systems/trajectory_optimization/direct_collocation.cc#L28

This toolchain needs to be able to create inputs to supply to the provided System*, and currently simply creates BasicVector's because it doesn't know any better.  This is insufficient for systems that expect typed input, e.g.,
https://github.com/RobotLocomotio

[2017-02-28 09:22] RussTedrake opened #5344 "LeafSystem::AllocateOutput should be final"
Digging around to decide on the implementation details for #5343, I was troubled to see the existence of both `AllocateOutput` and `AllocateOutputVector` for `LeafSystem`.  Based on my quick inspection, it seems that if a derived system overloads only `AllocateOutput` because it has a special type, then calls to `AllocateOutputVector` could do the wrong thing, and I don't see any guarantee that `A

[2017-02-28 09:52] RussTedrake commented on #5343
I would like this to live at the `System` level.  I feel that there are two natural choices:
1) define
[code]
and  answer the question about whether we re-use the `SystemOutput` type or actually create a new `SystemInput` type (that is essentially identical).  Possibly `typedef SystemOutput SystemInput` could make the code more palatable.

2) provide
[code]
at the `System` level.  The only thing t

[2017-02-28 10:37] RussTedrake commented on #5343
WIP for consideration:
https://github.com/RobotLocomotion/drake/compare/master...RussTedrake:allocate_input?expand=1
If people approve of this design, then we can add the unit tests.

[2017-02-28 12:05] jwnimmer-tri commented on #5344
Since both `AllocateOutputAbstract` and `AllocateOutputVector` exist, subclasses should be able to do all they need by overriding one of both of those, so yes I agree that we should make `AllocateOutput` final.

[2017-02-28 12:17] liangfok commented on #5307
Perhaps I'll let @sherm1 and @siyuanfeng-tri collectively decide on the relative priority. It should be easy, but will require API changes since a new input parameter will need to be added to the parsers.

[2017-02-28 12:17] jwnimmer-tri commented on #5343
Approach (2) seems like the right System API to me.

The only other big question to me is whether `CreateDefaultContext` should end up with freestanding correctly-typed input ports by default, or nullptr inputs like it does now.  I am hard-pressed to come up with reasons why anyone who asks a System to make a Context would want null inputs in general; it seems much more reasonable to provide defau

[2017-02-28 12:33] RussTedrake commented on #5343
I think the reason to have nullptr inputs is because of the (most common) input case where we are wiring the output of another system into the input of the current system.  Why incur the cost of allocating an input vector if it's about to be thrown away?

[2017-02-28 12:38] jwnimmer-tri commented on #5343
Perhaps.  But `CreateDefaultContext` should be a rare call -- `Context::Clone` is what simulation or control loops should be using.

[2017-02-28 12:45] jwnimmer-tri commented on #5343
Maybe the compromise is to have `System::CreateDefaultContext` leave the inputs null, but offer a `System::AllocateInput(Context*)` that allocates them into a passed-on context, using the `System`'s allocators with freestanding input ports.

[2017-02-28 12:57] liangfok commented on #5341
I vaguely recall @maddog-tri saying something to this effect a while ago.

[2017-02-28 15:09] soonho-tri opened #5345 "Add operator== and operator!= between symbolic expression matrices"
Feature requested by @RussTedrake.

/cc @hongkai-dai

[2017-02-28 16:28] sherm1 commented on #5307
I'm not a consumer so have no opinion about the urgency of this feature. My preference would be to wait until we have switched to libsdformat if there is a reasonable workaround for now. Would splitting up the multi-model sdf into several smaller ones be a reasonable workaround?

[2017-02-28 16:34] jwnimmer-tri commented on #5307
I would like to identify a first user who wants this feature, before we waste any more time discussing it.  So far, nobody on the thread fits that bill.

[2017-02-28 17:32] david-german-tri commented on #5344
Yeah, I agree; this is an artifact from before `AllocateOutput{Vector,Abstract}` existed.

[2017-02-28 17:38] david-german-tri commented on #5341
I don't understand why this would relate to PoseAggregator at all.

[2017-02-28 17:40] jwnimmer-tri commented on #5341
The problem is not in the simulation, its only with what we send to DrakeVisualizer.  I assume that the refactoring of visualizer commands should happen first.

[2017-02-28 18:04] soonho-tri commented on #5345
FYI, we already have `operator{==,!=}`  between `Eigen::Matrix<symbolic::Expression>`s. They are provided by `Eigen::MatrixBase<T>::operator{==,!=}`. Note that these operators return `bool` and check *structural* equality/inequality by relying on `Expression::EqualTo`.

Russ's following example failed because we don't have `AddLinearConstraint(bool)`.

[code]

I think we need one (or both) of the

[2017-02-28 18:07] siyuanfeng-tri commented on #5307
apologies for being late to the discussion.
there is a desire from the manip group, but not a critical one.
since this is mostly for facilitating working across sim and real hardware, and we have to setup an experimental repo for the hardware anyway, we can put xacro / giant sdf / duplicate models whatever there first.
my vote is we don't spend time on this now.

[2017-02-28 18:11] soonho-tri commented on #5345
@hongkai-dai , we can add similar functions for `operator<=`. FYI, Eigen does not provide operator overloading for other relational operators (`<`, `<=`, `>`, `>=`).

[2017-02-28 20:36] kunimatsu-tri commented on #5227
By the face to face discussion with @sammy-tri and @jwnimmer-tri, we decided to wait for CI to have Xvfb.  In the meantime, having manual test is going to be the temporal solution.

[2017-02-28 21:14] Lucy-tri commented on #5172
Part 2 will be to update TrajectorySource with a constructor that can specify a derivative order (the number of derivatives to output).

[2017-02-28 21:27] StephenMcGill-TRI commented on #5286
pip install pygame

[2017-02-28 22:13] hongkai-dai commented on #5345
@soonho, I prefer `eq2`. If we use `eq1`, then `AddLinearConstraint(Formula)` can also accept formula like `(x == 1) || (y == 2)`, and we can only throw a runtime error  for this case, but we cannot detect this at compile time. Using `eq2`, we know that we only accept that ALL comparisons are `==`, `<=` or `>=`.

[2017-02-28 22:35] #2752 closed

[2017-02-28 22:42] RussTedrake commented on #5345
I'm not sure that i've thought through all of the consequences, but i agree ... eq2 is what i had imagined would be the right approach

[2017-02-28 22:53] david-german-tri commented on #5343
I like this, because I don't want to give up on optional input ports, because it separates shape from content, and because System authors that don't have a need to implement it experience no additional overhead.

[2017-02-28 23:14] david-german-tri commented on #5343
Also, in the motivating dircol example, why not just specify that appropriate inputs are already hooked up to the Context, and use `system_->EvalVectorInput`?

[2017-02-28 23:39] hongkai-dai opened #5350 "remove ipopt_solver hard coded options"
In https://github.com/RobotLocomotion/drake/blob/master/drake/solvers/ipopt_solver.cc#L493~#L498, ipopt hard coded options for optimality tolerance, constraint violation tolerance, etc. It should listen to `MathematicalProgram::SetSolverOption` instead.

[2017-03-01 02:23] #5269 closed

[2017-03-01 05:25] liangfok opened #5356 "Mysterious CI Error: Failed to Generate Java Binding for an LCM Message - Bad source File"
# Example Error

[code]

# Initial Analysis

The error occurred at time 23:28:07. The missing file was generated one second earlier at time 23:28:06:

[code]

Oddly, in a [working build](https://drake-jenkins.csail.mit.edu/job/linux-xenial-gcc-experimental-open-source/1205), the generation of `lcmt_viewer_geometry_data.java` appears twice.

# Example logs

- https://drake-jenkins.csail.mit.edu/job

[2017-03-01 13:48] sammy-tri commented on #5350
SetSolverOption can still override these values (see the code immediately after starting at line 500).  IIRC, I found that as defaults these tended to deliver better results on our tests than the IPOPT defaults.

[2017-03-01 14:43] liangfok commented on #5210
I just encountered this again in this build:
https://drake-jenkins.csail.mit.edu/job/linux-clang-experimental-debug/4027

Oddly, this time around, I see the "Unknown file extension in readPolyData" exception being thrown and yet the unit test continues to run until it times out. This exception was historically observed here: https://github.com/RobotLocomotion/drake/issues/1789#issuecomment-1928807

[2017-03-01 15:08] patmarion commented on #5210
The printing of `Exception: Unknown file extension in readPolyData:` in some tests is harmless.  It began last month and I intend to fix it soon.  The exception is handled and printed for informational display.  The historical case you link to https://github.com/RobotLocomotion/drake/issues/1789#issuecomment-192880790 had a different cause.

I still believe the timeout is due to xvfb-run hanging.

[2017-03-01 15:18] liangfok commented on #5210
Thanks for the analysis! I believe you're correct.

[2017-03-01 15:28] patmarion commented on #5210
I see in that log that the timeout is on the very first test launched with xvfb-run.  Then the second test takes 70 seconds to run (it should only take 1s).  After that, things are ok.  So perhaps xvfb-run takes a long time to initialize the first time it is launched?

As a side note: there is a test that runs ik solve 128 times.  On a build with snopt enabled, this test runs in <2 seconds.  But I

[2017-03-01 15:34] sammy-tri opened #5359 "Bazel creates lcm python bindings in the wrong scope"
LCM Python code expects to say things like
```import drake.lcmt_polynomial```
and get a class, not a module.  Without generating the appropriate ```__init__.py``` as the CMake builds do, that import gets the module, and the class winds up as drake.lcmt_polynomial.lcmt_polynomial

Will attach a patch to reproduce.  Note that this breaks the generated encode() message too (among other things).
[brok

[2017-03-01 18:09] SeanCurtis-TRI commented on #2269
There are instructions for CLion integration that gives you a *coarse* approximation of this.  You can simply select the lines with includes and do the "Clang Format Selection" external tool.  Not as nice as something automatic, but it does afford CLion users with the ability to order their includes without mangling the rest of the file.

[2017-03-01 18:13] jwnimmer-tri commented on #2269
Awesome.  My main concern is that we have CI enforce it, and offer at least one tool (or docs) that automate it for all users.  We can cite that URL as part of this solution, too.

[2017-03-01 18:48] clalancette commented on #5317
Hi @sherm1 ,
    Sorry I haven't had any updates for a while on this.  I've been stuck in sdformat land, trying to get rid of boost stuff.  I've made a lot of progress there, but haven't yet completed it.  Once that is done, I can get back to my PR to get sdformat integrated into drake.  I'll keep you informed.

[2017-03-01 19:17] liangfok commented on #3429
https://drake-jenkins.csail.mit.edu/job/linux-gcc-continuous-ros-debug/1215/

[2017-03-01 21:22] sherm1 commented on #5343
Sorry I'm late to this party. Thoughts:
- David's pending question makes sense to me -- EvalVectorInput() already returns a reference to a value of the right type assuming all the wiring is complete. Is that enough?
- Otherwise I don't think it is unreasonable to ask an InputPort to create a value it would find acceptable. But that seems somewhat unsatisfying since there could be many different ac

[2017-03-01 21:27] jwnimmer-tri commented on #5343
In other words, the counter-proposal for the motivating example is that the Context that is passed must be wired up to inputs somehow, and then internally we Eval and then Clone those input values to become freestanding ports in our internal Context?

[2017-03-01 21:42] liangfok commented on #3429
https://drake-jenkins.csail.mit.edu/job/linux-gcc-experimental-ros/4296

[2017-03-01 22:23] sherm1 commented on #5343
Right, just as the motivating example is doing for time, state, and parameters:
[code]
could be
[code]

[2017-03-02 00:10] #5325 closed

[2017-03-02 11:37] naveenoid opened #5371 "Build Consolidated Pick and Place demo"
Towards testing pick and place intensively on CI, a consolidated pick and place demo is needed for the kuka iiwa arm.

Currently this demo is executed by running three executables in parallel :
$ ./bazel-bin/drake/examples/kuka_iiwa_arm/iiwa_wsg_simulation
$ ./bazel-bin/drake/examples/kuka_iiwa_arm/kuka_plan_runner
$ ./bazel-bin/drake/examples/kuka_iiwa_arm/dev/pick_and_place/pick_and_place_state_

[2017-03-02 13:59] jwnimmer-tri opened #5373 "Update Mac CI for new instructions"
PR #5372 added a new homebrew dependency (`clang-format`).  Please update Drake's Mac CI builders to include it.

/CC @jamiesnape

[2017-03-02 14:53] david-german-tri commented on #4719
I spent at least 20 hours developing enough background knowledge to write #5334.

[2017-03-02 14:54] david-german-tri commented on #4719
#5362 broke the build and wasted several people's time because we didn't
(and maybe still don't) fully understand the subtleties of a Mach-O specific linker optimization relating to exception unwinds.  Perhaps 2 or 3 engineer hours so far.

[2017-03-02 15:28] naveenoid commented on #5371
Based on a quick chat with @siyuanfeng-tri I updated the issue with the 3 spirals that we think are needed to achieve this task.

[2017-03-02 15:36] naveenoid opened #5376 "Kuka_plan_runner needs encapsulation in a LeafSystem"
While a stop-gap measure, it will accomplish Spiral 1 of #5371

[2017-03-02 15:39] naveenoid commented on #4231
This test is now irrelevant in light of #5339

[2017-03-02 15:39] #4231 closed

[2017-03-02 15:53] #5373 closed

[2017-03-02 16:20] #5344 closed

[2017-03-02 16:37] david-german-tri opened #5378 "SAN builds in production"
From f2f and Slack discussion, we should:

- Promote the existing lsan build to pre-merge
- Promote the existing asan build to Continuous Production
- Create Bazel lsan and asan builds, and trial them in nightly

All of this is clang-only, I think.

[2017-03-02 16:54] patmarion commented on #5376
We use plan runner on the kuka hardware, so please let me know if you plan to modify plan runner in a way that might impact its usage.

[2017-03-02 17:06] naveenoid commented on #5376
Actually looks like #5380 will take care of my needs. Wouldnt have affected the hardware work in anycase but thanks for noting!

[2017-03-02 17:06] #5376 closed

[2017-03-02 17:08] naveenoid commented on #5092
Ok since Siyuans controller update #5339 it does seem to be the case that all targets are knocked over. I can add a test anyhow.

[2017-03-02 17:17] jwnimmer-tri commented on #4934
Upon further discussion, we may not need this right away.  Lowered priority.

[2017-03-02 18:02] soonho-tri commented on #4569
It seems `HIDE_SCOPE_NAMES` is a related doxygen-config option:

From http://www.stack.nl/~dimitri/doxygen/manual/config.html

[2017-03-02 19:23] BetsyMcPhail commented on #5378
linux-clang-experimental-memcheck-lsan has been promoted to pre-merge

[2017-03-02 19:39] BetsyMcPhail commented on #5378
linux-clang-continuous-memcheck-asan has been added to Continuous Production

[2017-03-02 20:31] #4812 closed

[2017-03-02 21:31] patmarion commented on #1766
fyi, I just tested Director's packaging script on the drake superbuild.  It successfully makes redistributable packages for director that also include all of drake.  If you want nightly packages/releases, I'd recommend turning this on as a starting point.

[2017-03-03 00:44] liangfok opened #5390 "Need a maliput::api::Lane API That Provides Motion Derivative in Geo-Space"
# Problem Definition

Maliput lanes currently provide a way to get motion derivatives via [maliput::api::Lane:::EvalMotionDerivatives()](http://drake.mit.edu/doxygen_cxx/classdrake_1_1maliput_1_1api_1_1_lane.html#ab82fa390b6bc325473c13dc85dd02401). This method, however, returns the motion derivatives in lane-space `(s, r, h)`. To integrate with car models that operate in geo-space `(x, y, z)`, we

[2017-03-03 04:35] liangfok opened #5393 "Director build error: unknown target 'install'"
# Example Error

[code]

# Example logs

* https://drake-jenkins.csail.mit.edu/job/linux-xenial-gcc-ninja-experimental-open-source-debug/1338/

[2017-03-03 04:36] liangfok commented on #5393
I'm closing this until it becomes so frequent that it's a problem.

[2017-03-03 04:36] #5393 closed

[2017-03-03 08:04] raj-pandey commented on #2087
I had the same problem. linker was taking /usr/lib/x86_64-linux-gnu/libGL.so was did had the definition for the "_glapi_tls_Dispatch". When I followed @liangfok suggestion and pointed to the correct file, compilation went ahead. Thumbs up for the solution.

[2017-03-03 12:41] jonathan-owens commented on #2410
Looks like this (and a slight variation?) are still happening:

https://drake-cdash.csail.mit.edu/testDetails.php?test=9097912&build=434644
and
https://drake-cdash.csail.mit.edu/testDetails.php?test=9070385&build=433326

[2017-03-03 14:01] GuiyangXin opened #5394 "How to add moment disturbance"
Hi all,

I know we use three_dof_force.urdf to add external force to Atlas or Valkyrie. And I have implement it on LittleDog successfully according to pushing recovery example of Atlas. Now I want to add moment disturbance to LittleDog. How can I do? How to modify this file three_dof_force.urdf? Thanks. @hongkai-dai

[2017-03-03 14:24] #4813 closed

[2017-03-03 21:31] jwnimmer-tri commented on #5359
I've pushed the test case to https://github.com/jwnimmer-tri/drake/tree/bazel-lcmtypes-module and confirmed I can repro it.  I will investigate.

[2017-03-03 21:37] #4371 closed

[2017-03-03 22:50] rdeits commented on #5012
One additional thought: basically everything I do uses Travis for CI, so when I create an external project which uses Drake, I will also run that project on Travis. Since Travis still doesn't support 16.04 yet, using Drake post-Trusty will mean not using Travis, which probably means not having CI at all. That would be unfortunate.

[2017-03-03 23:12] david-german-tri commented on #5238
I am confused - #5266 contradicts the last comment.

[2017-03-03 23:13] jwnimmer-tri commented on #5238
My bad.  Let's burn the sh_tests with fire.  Sorry!

[2017-03-03 23:15] SeanCurtis-TRI commented on #5238
@liangfok had recommended this approach as a way to make sure examples get run regularly to make sure they don't become detached from Drake.  If this is trashed, what is the alternative?  Or are we simply not doing this?

[2017-03-03 23:20] jwnimmer-tri commented on #5359
So the situation is that, if you have say these LCM messages defined:
- package drake; struct lcmt_foo ...
- package drake; struct lcmt_bar ...
- package drake; struct lcmt_baz ...

Then the import statements that LCM expects / provides to use them is ...
- import drake.lcmt_foo
- import drake.lcmt_bar
- import drake.lcmt_baz

Then the filesystem situation is ...
- drake/\_\_init__.py
- drake/lcmt

[2017-03-03 23:25] SeanCurtis-TRI commented on #5238
So, I *cannot* just execute another binary in a text context?

This one requires that the file be located in a `test` sub-directory.  However, if I move it I can replace the `drake_cc_binary` with `drake_cc_test`; the executable will get built once, and in one of those contexts it'll be included in the tests.  Is that about right?

[2017-03-03 23:31] jwnimmer-tri commented on #5238
Stay tuned; we think just publishing an example (fixing this issue) will clarify things immensely.

[2017-03-04 00:09] #5343 closed

[2017-03-04 01:27] #5238 closed

[2017-03-04 01:30] jwnimmer-tri commented on #5359
So actually this is not so bad.

Problem (1) was that `lcm-gen` was producing the `__init__.py`, but I didn't _tell_ Bazel that was doing so as part of the action, so Bazel effectively deleted it because it's a pedant (yay!).  Oops.

Onces (1) is fixed, problem (2) is that now all of the _multiple_ `lcm_py_library` calls we have all want to own the creation `drake/__init__.py` and try to stop on e

[2017-03-04 15:26] jwnimmer-tri opened #5406 "Remove libdreal build system integration"
Drake's current dReal integration uses CMake to bring in https://github.com/dreal/dreal3 and run a single unit test; `libdreal` is not yet bridged into the MathematicProgram APIs (it just throws an exception).  Our roadmap has us using Bazel to bring in dReal (instead of CMake) and https://github.com/dreal/dreal3-apache2 (instead of dreal3 GPL).

I propose that the current dReal integration in Dra

[2017-03-04 16:14] soonho-tri commented on #5406
SGTM. I'll take care of the items above.

[2017-03-04 16:22] #5046 closed

[2017-03-04 16:22] #5047 closed

[2017-03-04 18:04] jwnimmer-tri commented on #4305
The recent top-post description editing missed the point.  We don't need to itemize System 1.0 features that haven't been ported yet.  We need to itemize the impediments to removing System 1.0 from master, which is really just the System 1.0 _tests_ that are not ported yet but are still relevant to System 2.0.  I will endeavor to update with that new list.

[2017-03-04 18:28] jwnimmer-tri commented on #4305
The only possible test with remaining value is `compareRigidBodySystems Acrobot.urdf Acrobot.sdf`, which confirms that the two model files are in sync.  I think tracking that with an issue will be low enough risk to delete the code now, and then reimplement the test once we think we need it.

[2017-03-04 18:32] jwnimmer-tri opened #5408 "Keep Acrobot model files in sync"
In https://github.com/RobotLocomotion/drake/tree/master/drake/examples/Acrobot, we have `Acrobot.sdf` and `Acrobot.urdf`.  The files should be interchangeable, so we should ensure that the two files remain sync'd, in terms of the resulting MultibodyTree and their dynamics.

We had a program that performed this check at https://github.com/RobotLocomotion/drake/blob/e8ecbe96a6608b0ab61390b3dce06b6dc

[2017-03-05 19:32] junhyeokahn opened #5412 "dependency install for under actuated robotics class in Edx"
Hi,
First of all thank you for your efforts to maintain this awesome hands on codes.

I am using  ```91d5a18``` version for underactuated  robotics class in edx.
And I already installed mosek and gurobi and placed license files on ```/$HOME/gurobi.lic``` and ```/$HOME/mosek/mosek.lic```
Also in CmakeLists.txt, I add 'ON' to the option(with_gurobi, and with_mosek)

[code]
But when I try to run comm

[2017-03-05 19:39] hongkai-dai commented on #5412
`mosek` and `gurobi` are proprietary softwares. They can be obtained in https://mosek.com/ and https://www.gurobi.com/ respectively.

[2017-03-05 19:41] junhyeokahn commented on #5412
Thanks for reply!

Yes I installed them both from those site.
How do I change CMakeLists.txt after that to use those?

[2017-03-05 19:51] hongkai-dai commented on #5412
You will need to make sure that the mosek file `mosekopt.m` and `gurobi.m` are in your MATLAB path, you may want to check `checkDependency.m`, line 214 and line 239 for the detail.

[2017-03-05 20:01] junhyeokahn commented on #5412
I guess I wrongly download mosek and gurobi.
```mosekopt.m``` and ```gurobi.m``` is comming when I download from the website?
I actually couldn't see those files

[2017-03-05 20:04] hongkai-dai commented on #5412
For mosek, when I download it, I can find mosek.m in `mosek/7/toolbox/r2014a`. The last `r2014a` is the MATLAB version I choose.

For gurobi, I can see it in `gurobi/gurobi605/linux64/matlab/gurobi.m`.

[2017-03-05 20:34] junhyeokahn commented on #5412
Thank you so much,
I got it :)

[2017-03-05 20:44] #5412 closed

[2017-03-05 23:19] jwnimmer-tri commented on #4711
I think this is low priority, because it is catkin-only, doesn't affect our supported configurations, and is likely moot once BazelDrake is a superbuild project, and octomap & fcl are not.

[2017-03-05 23:20] jwnimmer-tri commented on #4034
Demoting high -> medium, because the git retry logic is helping, and because in BazelDrake land we won't be shelling out to git commands for submodules anymore.

[2017-03-05 23:31] jwnimmer-tri commented on #3133
This should probably happen in the Bazel workspace, not the CMake superbuild.  Thus, we can do it ourselves anytime we want.

[2017-03-06 04:10] #5086 closed

[2017-03-06 07:08] jwnimmer-tri commented on #2269
On https://github.com/jwnimmer-tri/drake/tree/clang-format-includes, I wrote a `tools/clang-format-includes` program that formats `#include` statements for us, to be precisely what `cppguide` and `code_style_guide` ask for.  Even after running it, `cpplint` still has some complaints, because it doesn't understand which headers come from where.

Thus, the solution will be to leave this warning supp

[2017-03-06 15:03] amcastro-tri commented on #5408
The [acrobot benchmark](https://github.com/RobotLocomotion/drake/tree/master/drake/multibody/benchmarks/acrobot) will probably prove useful in verifying the two different models.

[2017-03-06 15:08] amcastro-tri commented on #5408
cc'ing @clalancette

[2017-03-06 15:28] jwnimmer-tri opened #5415 "Add isnan support to symbolic"
Because `symbolic::Expression` will admit `NaN`s in an expression tree, but will throw at runtime if you try to compute with them, we shouldn't use `op==` to implement `isnan(symbolic::Expression)` like #5391 does (nor should we similarly use a `double`-typed `NaN` with `op==` to test for `NaN`s in non-symbolic C++ code). Instead, `isnan` should turn into a first-class unary predicate in `symbolic

[2017-03-06 15:37] david-german-tri commented on #5406
SGTM as well.

[2017-03-06 17:14] liangfok commented on #4034
https://drake-jenkins.csail.mit.edu/job/linux-xenial-cpplint-experimental/1038/

[2017-03-06 18:09] #5359 closed

[2017-03-06 18:18] liangfok opened #5420 "Build Error on OS X - error: default initialization of PlanData Without Default Constructor"
# The Error

[code]

# Initial Analysis

The code in question was added in #5380.

[2017-03-06 18:20] sammy-tri commented on #5420
See #5417

[2017-03-06 18:20] liangfok commented on #5420
Thanks! I will close this issue since #5417 will hopefully resolve it.

[2017-03-06 18:20] #5420 closed

[2017-03-06 19:33] gizatt opened #5422 "Address object slicing enabled by Geometry copy constructor and clone() method"
The copy constructor in Geometry makes it possible to unintentionally slice Geometry subclasses into generic Geometry instances, losing shape-specific information. (For a near-case, see comments in `rigid_body_tree_face_extraction_test.cc` in #5248.) It's currently in-use in the clone() method, and by users of Geometry.

Pointed out by @david-german-tri

[2017-03-06 20:09] #4305 closed

[2017-03-06 21:25] zamzami opened #5426 "Unavailable function oldrrt"
I wanted to test the kinodynamic version of RRT which is supposedly implemented as `oldrrt` and employed in[ `pendulum_rrt`](https://github.com/RobotLocomotion/drake/blob/master/drake/examples/Pendulum/dev/runRRT.m). However, it appears that it doesn't exist anymore. I can only find the geometrical RRT version in [`MotionPlanningTree`](https://github.com/RobotLocomotion/drake/blob/master/drake/mat

[2017-03-06 23:00] rdeits opened #5430 "Build python bindings in Bazel"
Opening this as an issue to track development of the pydrake python bindings in the Bazel build.

[2017-03-06 23:01] rdeits commented on #5430
The most recent update is that @jamiesnape has a prototype in the works.

I'm personally most excited to be able to use this in the https://github.com/rdeits/drake-mpc repo which uses the Drake optimization tools and python bindings, but does not require things like rigidbodytree.

[2017-03-07 03:01] jwnimmer-tri opened #5431 "LeafSystem should support model-value based input/output port allocation"
LeafSystem should support model-value based input/output port allocation; it already supports this for the continuous and discrete state.

See also https://en.wikipedia.org/wiki/Prototype_pattern.

[2017-03-07 03:02] jwnimmer-tri commented on #5431
PR train WIP at https://github.com/jwnimmer-tri/drake/tree/framework-model-io-ports

[2017-03-07 06:37] hongkai-dai commented on #5426
I am afraid that code is gone. And we are not maintaining the MATLAB code at the moment.

[2017-03-07 06:37] #5426 closed

[2017-03-07 16:14] kunimatsu-tri commented on #5286
One important note: `RgbdCamera` is only supported by `CMake`, not `Bazel`.

[2017-03-07 19:40] david-german-tri commented on #5012
from f2f: @patmarion says he's had success using 16.04 on Travis with Docker, using Docker files that @rdeits wrote.

[2017-03-07 19:45] rdeits commented on #5012
Yup, also an option for sure. Setting up docker for Director was moderately annoying (at least a day of fiddling around with build systems), but it's probably better than not having CI.

[2017-03-07 21:41] #5415 closed

[2017-03-07 22:30] sherm1 commented on #5431
@jwnimmer-tri, I am enthusiastic about model-based specification for port values. Looking at #5432 (and possibly misunderstanding it) it appears that you are preparing to provide an array of model values rather than associating a single model value with each port. Is that right?

[2017-03-07 22:34] jwnimmer-tri commented on #5431
Nope; each port will have a single model value, to be provided at declaration-time if at all.  You can browse the commits in the WIP link; it's spike-tested all the way through to SimpleCar as an example.

[2017-03-08 00:01] jwnimmer-tri commented on #5431
I think this is all correct, and the second part is what's going on here.  In particular, we need to customize [System::AllocateInputVector](http://drake.mit.edu/doxygen_cxx/classdrake_1_1systems_1_1_system.html#af2afe75cbb120c69321970a26c62c4c8)'s result when `LeafSystems` need subclasses of `BasicVector` to appear at their inputs.  Right now, that's a gross override; I think its much better as a

[2017-03-08 03:36] liangfok commented on #5341
I suspect this may have to do with an incorrect assumption of the model wheelbase. The default wheelbase is `106.3 * 0.0254 = 2.70002 m`:

https://github.com/RobotLocomotion/drake/blob/b2b3fe8f469ab61840fe929035ef5348660f5ebd/drake/automotive/simple_car.cc#L293

Yet, the wheelbase of prius.sdf is only `0.17246968 + 1.40948 = 1.58194968 m`.

https://github.com/RobotLocomotion/drake/blob/0259ade9e28

[2017-03-08 05:34] soonho-tri commented on #5345
@RussTedrake , could you take a look at the PR #5445?
In summary, we have:
 - `eq₁` becomes  `operator==` between `Eigen::Matrix<symbolic::Expression>`.
 - `eq₂ ` becomes `operator==` between `Eigen::Array<symbolic::Expression>`.

[2017-03-08 14:46] david-german-tri opened #5447 "Binary package of LCM and LCM Types for Windows (py)"
From @RussTedrake: It would be nice to have a small downloadable artifact that allows you to write Python programs that send and receive Drake's LCM messages on Windows.

[2017-03-08 15:31] liangfok commented on #4424
This issue is block on #4337. It does not make sense to implement this in the current parsers, which will soon be replaced by `libsdformat`. (Maybe the new parser has built-in support for this? Not sure.)

[2017-03-08 16:21] amcastro-tri commented on #3470
What do you guys think if we instead start using `unsupported/Eigen/EulerAngles`? We could introduce them into Drake with our own unit tests to verify correctness and support for Autodiff.
`AutoDiff`  is also an unsupported module and we still use it.

[2017-03-08 16:35] hongkai-dai commented on #3470
I talked with them about our unit test, and our desire to use Autodiff. They prefer the randomized test, and they do not think they should support autodiff, since autodiff is in the unsupported module also.

[2017-03-08 17:07] amcastro-tri commented on #3470
So that code doesn't even compile with AutoDiffScalar?

[2017-03-08 17:17] hongkai-dai commented on #3470
We do not know yet, the `Eigen/EulerAngles` is never tested against AutoDiffScalar, it is only tested with double and float.

[2017-03-08 18:34] Lucy-tri commented on #5044
Does this issue really belong in the Director repo?

[2017-03-08 18:48] patmarion commented on #5044
No, I don't think so.  Director has plenty of ways to draw obj and mtl files and I've commented a lot about it already.  It's up to TRI to decide which method(s) you prefer to push forward with in drake/drake-visualizer.

[2017-03-08 18:52] patmarion commented on #5044
note for anyone new to this topic- please search the drake-developers slack as there has been long discussions there previously.

[2017-03-08 22:19] gizatt commented on #2941
Any hope of this happening in the near future? This functionality is implied to already exist by Drake documentation (see `drake/docs/models.rst`), which is awkward.

[2017-03-08 22:41] Lucy-tri commented on #2941
Please be sure to update models.html (doc/models.rst) with any changes (models is actually incorrect right now).

[2017-03-08 23:19] hongkai-dai commented on #2941
I am not working on it, I will unassign myself.

[2017-03-09 02:58] liangfok commented on #4034
https://drake-jenkins.csail.mit.edu/job/linux-xenial-clang-ninja-experimental-open-source/1609/

[2017-03-09 14:17] SeanCurtis-TRI commented on #2941
This looks like something that belongs in my wheelhouse.  I'll put it on my plate.

[2017-03-09 15:11] david-german-tri opened #5454 "Transmogrification of scalar-type dependent AbstractValues"
It's sometimes useful to store `MyClass<T>` in an `AbstractValue` input, output, or state variable, when `MyClass` has scalartype-dependent elements but no vector structure.  One example is `PoseBundle`, or the future `GeometryQuery`.

On master right now in the System framework, there are various features that transmogrify vector-valued Context quantities from `<double>` to `<T>`, where `T` is e.

[2017-03-09 15:16] soonho-tri commented on #5345
Closed by #5445.

[2017-03-09 15:16] #5345 closed

[2017-03-09 16:15] jwnimmer-tri commented on #5454
I like this a lot.  I also have a `Value<MyBaseClass>` update to the `Value` erasure design that I still need to write up as an issue.  We should probably coordinate the design of two fixes, at least insofar as to deconflict them.

[2017-03-09 19:22] liangfok commented on #5341
Looking into this more, I believe the problem is the root of the Prius model is in the center of the model, as shown by the following video:

https://youtu.be/iVKZXIhxBgQ

We need to change the root of the model to be in the middle of the rear axle. This would require resolving #2293. Alternatively, a quicker fix is to change the SDF model.

[2017-03-09 19:24] liangfok commented on #2293
I recommend that this feature be implemented in `MultiBodyTree` rather than `RigidBodyTree`.

\CC: @amcastro-tri

[2017-03-09 19:27] jwnimmer-tri commented on #5341
A quicker fix is to do a frame shift between EFJS output and the D-V input.

[2017-03-09 19:32] manuelli opened #5456 "find_package(drake) doesn't work on ubuntu 16.04"
The spartan repo is using drake as a Cmake external project. Some of our code requires drake. Here is a very simple CMakeLists.txt file from the project
[code]

the source code is [here](https://github.com/RobotLocomotion/spartan/blob/master/src/ContactParticleFilter/src/CMakeLists.txt). This works fine on my machine running ubuntu 14.04 but doesn't work on the robot-lab computer running the kuka

[2017-03-09 19:45] liangfok commented on #5341
I modified the Prius model to effectively position its root to be the middle of the rear axle:

https://youtu.be/RlaHXj1TeiE

I'll submit a PR with the fix to see if its something we want.

[2017-03-09 20:55] patmarion commented on #5456
I'm not positive the issue is strictly affecting ubuntu 16, but that's the only difference I can think of between the machines where it works and where it doesn't.  We really want to start using find_package(drake) for our projects, but this is blocking us right now when we develop on ubuntu 16.

The find_package(drage) is also broken on mac, because it fails to find vtk (installed in homebrew) wh

[2017-03-10 15:03] jwnimmer-tri opened #5465 "LeafSystem should support model-value based parameter allocation"
Just like #5431, but for parameters.

[2017-03-10 15:05] jwnimmer-tri opened #5466 "LeafSystem model-based continuous state declaration should use cref, not unique_ptr"
In #5431, `DeclareVectorOutputPort` takes a `const BasicVector<T>&` as the model.  But in the pre-existing `DeclareContinuousState` that takes a model, the input is a `unique_ptr`.  I think its easier for callers to provide a value instead of a unique, so we should change continuous state to use that phrasing.

We should also probably add a simple overload where all state is assumed to be `z`.

[2017-03-10 15:07] david-german-tri commented on #5465
I have a bunch of in-progress code for #5072.  Can this wait until that lands?  (Next few days)

[2017-03-10 15:12] jwnimmer-tri commented on #5465
Definitely.

[2017-03-10 23:17] jwnimmer-tri opened #5469 "Value<T> should support T's that implement Clone"
Right now, `Value<T>` only supports `T`'s that are copyable (using C++ copy constructor / copy-assignment operator).  It would be very nice for users if `T`'s that quack like a `std::unique_ptr<T> Clone() const` member method could be used as well, and especially that the `AbstractValue` methods like `template <class T> const T& AbstractValue::GetValue()` also worked seamlessly (with exposing some

[2017-03-11 00:21] jwnimmer-tri commented on #5390
@liangfok Is this issue still accurate?

[2017-03-11 00:32] jwnimmer-tri commented on #5001
This got merged a while ago.

[2017-03-11 00:32] #5001 closed

[2017-03-11 00:34] jwnimmer-tri commented on #4977
@nkoenig Does it make sense to reassign this away from you?

[2017-03-11 00:35] jwnimmer-tri commented on #4542
I would be curious to see where the _APIs_ should use Eigen but aren't vs the _implementation_.  The former is important to do earlier; the latter can come in due time.  Do we have a write-up or survey of API primitives that duplicate Eigen?

[2017-03-11 00:38] jwnimmer-tri commented on #3919
@liangfok I'm not sure that this issue as currently phrased is helping much.  Is there any work here remaining that's worth capturing before we close this?

[2017-03-11 00:41] jwnimmer-tri commented on #4950
In order to assign every issue and owner, I'm putting @rdeits on this one, but of course others are still invited to contribute.

[2017-03-11 00:44] jwnimmer-tri commented on #5186
We can track here, and then repoen when we see too many.

[2017-03-11 00:44] #5186 closed

[2017-03-11 00:45] jwnimmer-tri commented on #5274
Not sure exactly who was working on this, but I think its @soonho-tri.

[2017-03-11 00:46] jwnimmer-tri commented on #5422
@sherm1 can you manage the assignee of this issue?

[2017-03-11 00:49] soonho-tri commented on #5274
@sherm1 , could you check this comment and let us know if you like the option 2?

[2017-03-11 00:51] jwnimmer-tri commented on #5454
From my tour while fixing #5431, `T`-dependent abstract ports or state are more common that you might think; we might have to fix this soon, depending on how much use transmogrification ends up getting.

[2017-03-11 00:56] jwnimmer-tri commented on #5268
When we last talked about this offline, there was general willingness to turn user-caused errors into thrown exceptions.  So if we find instances of that which are troublesome, I think PRs to adjust them will be okay.

There was also openness to adding a hook in the `DRAKE_ABORT` macro that would let _downstream projects that compile Drake_ choose a different action than `drake::Abort`.  We would

[2017-03-11 00:59] jwnimmer-tri commented on #2284
This doesn't seem worth keeping open for so long.  Can we add a Doxygen or code_style_guide entry that says "use MKS" and then close this?

[2017-03-11 01:01] jwnimmer-tri commented on #2568
@liangfok Is this still relevant now that only Bazel is documented?

[2017-03-11 01:06] jwnimmer-tri commented on #2811
@liangfok I think this file is gone now?

[2017-03-11 01:07] jwnimmer-tri commented on #2051
Are we doing with without this?  Can we close the issue?

[2017-03-11 01:08] jwnimmer-tri commented on #3089
@liangfok Should this be reassigned to @amcastro-tri?

[2017-03-11 01:19] hongkai-dai commented on #5394
Sorry for my belated reply. I think if you have two force element at two different positions, with opposite direction and the same magnitude of the force, you will then get a torque.

So maybe you can modify the three_dof_force.urdf as
[code]
This will create a torque in the `y` direction, if the forces have the same magnitude, but opposite direction.

[2017-03-11 01:21] hongkai-dai commented on #5268
I think I have changed some of the user-caused error to throw exceptions. @Robin if you think there are more cases that should be changed to exceptions, please let me know, I will send a PR then.

[2017-03-11 02:11] liangfok commented on #3089
Yes, I think that's a good idea. @amcastro-tri, feel free to escalate to @sherm1 if you're the the right person for this.

[2017-03-11 03:08] liangfok commented on #2051
Yeah, looks like we've settled on "author's discretion" + "be consistent with the convention employed in the same file".

[2017-03-11 03:08] #2051 closed

[2017-03-11 06:09] sherm1 commented on #4971
@edrumwri, I'm reassigning this to you in case you are back in the mood. If not, I think you might as well close this issue.

[2017-03-11 09:54] GuiyangXin commented on #5394
Yes, a smart way. I will have a try. Thank you very much, Hongkai.

[2017-03-11 15:04] patmarion commented on #5456
btw, this is the error printed on mac, see below.

I think it would be helpful to also print some status messages in the drake-config.cmake file so that it's obvious in the output that these dependency look ups are happening as a result of `find_package(drake)`.

this is blocking us on two platform now.  let me know if there's anything i can do to help debug.  i hope it's easy to replicate this is

[2017-03-11 15:21] edrumwri commented on #4971
I'm no longer aggravated by this. I still think the issue is important, but
since the expected use of AutoDiff in drake does not seem to be set in
stone, I don't think it can be addressed right now.

--------------------------------
Evan Drumwright
Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Fri, Mar 10, 2017 at 10:09 PM, Michael Sherman <notifica

[2017-03-11 18:35] #4971 closed

[2017-03-11 18:39] sherm1 commented on #3089
Definitely something for the new MultibodyTree, not a retrofit for RBTree. However, this joint is easily emulated now in RBTree using a sequence of two prismatic and one revolute joint, using two dummy massless bodies to serve as intermediate frames.

[2017-03-11 19:00] #5394 closed

[2017-03-11 19:23] liangfok commented on #5390
For `MaliputRailcar`, we decided to keep the vehicle model's state in lane-space (i.e., using `s` and `s_dot`) and thus can make do with the existing [maliput::api::Lane:::EvalMotionDerivatives()](http://drake.mit.edu/doxygen_cxx/classdrake_1_1maliput_1_1api_1_1_lane.html#ab82fa390b6bc325473c13dc85dd02401). I shall thus close this issue.

[2017-03-11 19:23] #5390 closed

[2017-03-11 20:35] liangfok commented on #3919
I would like to wait for the switch to `PoseAggregator` before continuing work on this issue. I do think it's desirable to eventually support visualization of the wheels spinning, front wheels steering, suspension movements, etc., though not in the near term. I shall thus decrease the priority of this issue for now.

[2017-03-11 20:38] liangfok commented on #2568
I think think the Bazel-based documentation is sufficient and shall thus close this issue.

[2017-03-11 20:38] #2568 closed

[2017-03-12 01:12] sherm1 commented on #5274
My main worry about `cond()` is that (as I understand it) it is semantically different than `if/else` or `?:` in that it evaluates both expressions regardless of the condition. That makes it a poor substitute in general since the expressions may have side effects or one of them may be un-evaluatable (divide by zero, violate precondition, etc.). Is it possible to engineer this so that it preserves

[2017-03-13 14:24] #2284 closed

[2017-03-13 14:57] SeanCurtis-TRI commented on #5422
It makes the most sense to roll this into GeometryWorld.

[2017-03-13 18:28] #5270 closed

[2017-03-13 18:45] #2006 closed

[2017-03-13 18:47] hongkai-dai commented on #2906
@aespielberg is it OK if we close this issue?

[2017-03-13 18:55] aespielberg commented on #2906
Yes, sorry for forgetting to close it myself.  I do recommend adding
explicit documentation of the mathematics and representation (or references
to them) to future Drake releases though.

-Andy S.

On Mon, Mar 13, 2017 at 2:47 PM, Hongkai Dai <notifications@github.com>
wrote:

[2017-03-13 19:04] hongkai-dai commented on #2906
I totally agree on the documentation. We are rewriting the code in C++, and the documentation is much cleaner there.

[2017-03-13 19:04] #2906 closed

[2017-03-13 22:12] liangfok commented on #4034
https://drake-jenkins.csail.mit.edu/job/linux-xenial-gcc-ninja-experimental-open-source-debug/1711/

[2017-03-14 00:23] #5431 closed

[2017-03-14 12:57] RussTedrake commented on #4793
disabling xcode in favor of bazel.

[2017-03-14 12:57] #4793 closed

[2017-03-14 15:06] jwnimmer-tri commented on #4861
Filling in some rationale before adding to code_style_guide:
- Why use a macro?  Using macros to do `= default` or `= delete` is better than longhand, because the spellings are error-prone (without a fail-fast), and doxygen is better with the macros.
- Why is a copyable directive mandatory?  It makes the author's intent clear, and prevents base class changes from implicitly affecting subclass copy

[2017-03-14 15:13] jwnimmer-tri opened #5487 "nonlinear_program_test failure under Ubuntu 16.04 with g++-4.9"
When I run `bazel test -c dbg --compiler=gcc-4.9 --config memcheck //drake/solvers:nonlinear_program_test` on Ubuntu 16.04 Xenial, I get:
[code]
... followed later by a segfault.

A few other tests also fail with solver segfaults.

Note that this is not a supported configuration.  Before testing, we must `apt install g++-4.9`.

[2017-03-14 21:35] david-german-tri opened #5490 "Rename AbstractState and DiscreteState"
Since these are used for both Parameters and State, we should call them something more generic.  @sherm1 suggests `AbstractValues` and `DiscreteValues`, which I like.

[2017-03-14 21:41] david-german-tri opened #5491 "Rename xm to xa"
The stuff we used to call "modal" state is now "abstract" state, but the legacy of "modal" lives on in a bunch of variable names.

[2017-03-14 21:45] #4861 closed

[2017-03-14 23:32] #5072 closed

[2017-03-14 23:52] jwnimmer-tri commented on #5465
@david-german-tri While this is fresh in your head, do you want to take over this fixup?

[2017-03-15 00:06] david-german-tri commented on #5465
Sure, but no promises about when I get to it.

[2017-03-15 13:54] soonho-tri commented on #5274
@sherm1 , thanks for the answer. We will keep the existing version for `double` and `AutoDiffScalar`. I'll add a specialized implementation for `symbolic::Expression`.

[2017-03-15 13:57] david-german-tri commented on #5274
To clarify, that's option (3) above.

[2017-03-15 14:22] jwnimmer-tri commented on #5274
Sherm is correct that all sub-expressions are evaluated in a `cond`.  But we've proved that doing so is no slower, and none of them throw exceptions, so what's the actual problem?

[2017-03-15 15:20] #5466 closed

[2017-03-15 15:41] sherm1 commented on #5274
In one of two experiments the run time was 30% slower - I'm not sure that's a proof of anything good!

My main worry though is that replacing `if/else` with cond() here will lead to the impression that this is the right solution to making conditional code symbolic-friendly, leading to copy/paste repetition elsewhere. It would be if it were a semantic match but it is not. Short-circuit evaluation i

[2017-03-15 17:18] soonho-tri commented on #5297
Can anyone summarize the action items (if any) that we agreed on in the last meeting?

[2017-03-15 17:21] soonho-tri commented on #5274
I wish I know a nice answer for this. I was thinking about a solution using macros to form closures which will be evaluated later on demand. But I didn't spend time on implementing this idea.

[2017-03-15 20:05] Lucy-tri commented on #2941
Note that currently there is Drake code to set any mesh filename extension to "obj" and try to open that file (in geometry.cc https://github.com/RobotLocomotion/drake/blob/203a9a83dcd69a2a964230a4e6e071ac3f9e6224/drake/multibody/shapes/geometry.cc#L277).

[2017-03-15 20:57] sherm1 commented on #5297
I agreed to work on the specification of the equations that are represented by our System abstraction. I have a work-in-progress document [here](https://docs.google.com/a/trinst.com/document/d/1awnccf_3CVCIuiWBQNXs-ZlHPpmxkFSzaXstnRsGoLw/edit?usp=sharing) but it isn't ready yet. Feel free to add comments if you think of something.

The issue of how to handle input bounds constraints still remains.

[2017-03-16 01:04] jwnimmer-tri opened #5511 "Wrong namespace in drake/multibody code"
Approximately 49 files need a repair to their namespace.  I feel like doing this sooner rather than later will make everyone's life easier:

[code]

[2017-03-16 02:55] sherm1 commented on #5511
This doesn't seem urgent to me given that this old code has been sitting there that way for ages with no noticeable symptoms. But ... if anyone is looking for some occupational therapy and would like the pleasure of an easy-to-land PR, please fix!

[2017-03-16 13:09] naveenoid opened #5516 "Iiwa examples to used model based ports"
In light of #5515 Iiwa examples need updating. Might help cleaning up code/examples that use abstract ports.

[2017-03-16 13:10] naveenoid commented on #5490
Why not "AbstractParameters" and "AbstractState" ? I realise this comment is a bit late though..

[2017-03-16 13:18] david-german-tri commented on #5490
There's a single object, now called `AbstractValues`, which is a bag of `AbstractValue` that may or may not be owned.  We use this object to implement both abstract parameters and abstract state, in both diagrams and leaf systems.

[2017-03-16 13:39] jwnimmer-tri commented on #5511
The major pain point is that `RigidBodyPlant` (and its helper classes for abstract output port data) are in the wrong namespace.  RBP is a central element of Drake's API; by having it in a namespace that is doomed to change, as more and more using-code gets written the impact of doing the rename later goes up.  Right now we have a few major in-tree users (each with multiple touchpoints to RBP) und

[2017-03-16 13:51] naveenoid commented on #5490
Ah issue text parsing fail..Got it!

[2017-03-16 15:12] sherm1 commented on #5511
OK. @amcastro-tri, would you please fix the namespace when you have a chance?

[2017-03-16 16:23] rdeits opened #5520 "Cannot construct Atlas model using pydrake bindings"
[code]

gives:

[code]

It looks like that constructor needs to be updated to use the package path. I'll look into it.

[2017-03-16 17:04] liangfok commented on #5520
See `drake/multibody/parsers/package_map.h`, specifically methods `PopulateFromFolder()`,  `PopulateFromEnvironment()`, and `PopulateUpstreamToDrake()`, which might be helpful towards the resolution of this issue.

[2017-03-16 17:09] liangfok commented on #3752
https://drake-jenkins.csail.mit.edu/job/mac-clang-ninja-continuous-release/1585

[2017-03-16 17:40] rdeits commented on #5520
Yup, thanks @liangfok . That's all working; I just have to figure out how to deal with the way non-copyable types play with pybind11.

[2017-03-16 20:12] SeanCurtis-TRI opened #5526 "Introduce `optional<T>.` functionality"
The C++17 specification includes the `std::optional<T>` class.  It allows functions return values that sometimes have values and sometimes don't.  This is of definite use.  We can't wait on having a compliant compiler so we need to introduce this ourselves.

The simplest way is to draw from this repo: https://github.com/akrzemi1/Optional

It should be added to `drake/thirdParty/boost` (as it uses

[2017-03-16 20:26] #5520 closed

[2017-03-17 15:03] soonho-tri opened #5536 "Extend AddLinearConstraint(const symbolic::Formula& f) in mathematical program"
1) [x] To take `Eigen::Array<Formula>`
2) [x] To take a conjunctive formula `f_1 && ... f_n`

/cc @hongkai-dai
/cc @gizatt

[2017-03-17 15:04] soonho-tri opened #5537 "Add UninterpretedFunction kind in symbolic expression"
WIP branch at https://github.com/soonho-tri/drake/tree/pr-add-symbolic-uninterpreted-function

/cc @jwnimmer-tri

[2017-03-17 15:19] jadecastro opened #5538 "Incorporate ability to express velocities within PoseAggregator."
This is needed for #5113 and #5288.

[2017-03-17 17:14] jwnimmer-tri commented on #5116
@maddog-tri A couple times per week someone asks me for this.  Would it be sensible to get a current draft into master, even if there are further refinements to do?

[2017-03-17 17:22] jwnimmer-tri commented on #4471
Now that we almost have a suite of demos working, we should revisit this in a few weeks.

[2017-03-17 17:28] jwnimmer-tri commented on #3919
Ah, okay.  From the original post, I didn't realize that the goal was to map SimpleCar-like dynamics into improved visualizations by adjusting more of the links during the visualization step.

[2017-03-17 18:31] liangfok opened #5541 "AutomotiveSimulator Design That Includes PoseAggregator"
This issue tracks the redesign of `AutomotiveSimulator` to support the `PoseAggregator`. It's also a solicitation for feedback comments.

# Current Design
The current design is shown in the image below. Multiple levels of multiplexers are used to stitch together `x_c`, which is then fed into `DrakeVisualizer`.

![current](https://cloud.githubusercontent.com/assets/1388098/24057273/3665b9f8-0b1d-11

[2017-03-17 18:57] david-german-tri commented on #5541
First pass, two thoughts:

1. Did you consider producing and sending the `lcmt_viewer_load_robot` message outside of the System diagram?  It only needs to be sent once, and everything you need to know to send it is (I think) available before the simulation begins.  Then you can drop the N `LcmPublisherSystem`s.  For an example of this approach, see https://gist.github.com/david-german-tri/0021ef9f

[2017-03-17 19:02] SeanCurtis-TRI commented on #5541
@sherm1 and I are operating under the assumption that the system will eventually support an "initialize" phase.  I would hope the `lcmt_viewer_load_robot` messages would be resolved there, explicitly.

[2017-03-17 19:24] jwnimmer-tri commented on #5541
First, this seems like a duplicate of #4112.
Second, David is writing a big reply and I'll wait for that before posting more.

[2017-03-17 19:25] david-german-tri commented on #5541
I think this would be a misfeature and we should not do it.  (@sherm1 has heard me say so many times before, but @SeanCurtis-TRI may not have.)  The System framework's mission is to express and compose hybrid models.  The dataflow architecture is geared towards answering the question "given this state, what is the next state?" in a form that's safe, transparent, and consistent with the controls li

[2017-03-17 19:35] SeanCurtis-TRI commented on #5541
So, it seems to my that `System ⊂ Simulator`.  While I can see the point you make about the purpose of the `System`, simulators benefit from initialization.  And, in fact, it seems that it could rear its head when we actually move from one continuous interval to another (separated by discrete events which modify, or even rebuild the system.)

Furthermore, the mission of the `System` has obviously

[2017-03-17 20:03] jwnimmer-tri commented on #5541
It's possible that `CarVisualization` be a bus-to-bus system (for all cars) rather that just one car would scale better in code complexity and runtime complexity.  Especially when we add world geometry into the mix, such as the maliput meshes or flat planes.  Liang, we can chat live on this when you have time.

[2017-03-17 20:15] liangfok commented on #5541
Thanks for all of the feedback! Let me ponder this some more over the weekend. Perhaps we can discuss F2F early next week.

[2017-03-17 20:43] kunimatsu-tri commented on #5013
I have a request for MultibodyTree, which is related to #3088.

I'm working on "label image" output feature of RGBD camera simulator.
The "label image" contains an unique ids associated to an object in each pixel .

From rendering point of view, both the terrain and the sky should have unique ids, but the current RBT doesn't handle them. The temporal solution is assigning arbitrary ids to the sky

[2017-03-17 21:59] sherm1 commented on #5013
#3088 is referring to physical bodies (in particular world), which are not geometry. RBTree currently knows about collision geometry, but not visual geometry. We are splitting out all geometry handling (both physical and collision) to GeometryWorld so your request might be for that? MultibodyTree will not have any geometry at all.

@SeanCurtis-TRI may have a useful comment since he is working on G

[2017-03-17 22:08] kunimatsu-tri commented on #5013
Thanks. Resolved by discussion on Slack. I withdraw the request.

For the record, we've got a consensus that we should **NOT** define terrain to have an unique id since terrain could have more specific semantics than just terrain, and that it's OK for the sky (space, world, empty or whatever) to have ID zero in GeometryWorld.

[2017-03-19 18:25] rdeits opened #5562 "Missing library errors when trying to launch drake-visualizer on OSX"
I'm getting an error similar to #5081, but the workaround of running `install/bin/drake-visualizer` doesn't make a difference in my case:

[code]

(`find` shows that `liblcmtypes_bot2-core` is present in `install/lib/`)

If I build Director standalone, I do not get this issue, and I can launch `drake-visualizer` without any problems. This only seems to happen when Director is built through the Dra

[2017-03-19 18:44] patmarion commented on #5562
https://github.com/RobotLocomotion/drake/pull/4830#issuecomment-282929147

[2017-03-19 19:29] rdeits commented on #5562
Ah, yes, thanks. Sorry, I somehow failed to find that issue in my searching.

[2017-03-19 21:28] jwnimmer-tri opened #5564 "Create and host VTK binary packages for Drake's supported platforms"
Sub-task broken out of #2628:

I would like to get the at least one version of the packages (6.3?  7.1?) up earlier rather than later, because that will be the long pole for Drake-as-a-library to be 100% compile-able under Bazel -- because our `drake/systems/sensors/rgbd_camera` component needs VTK to compile.

[2017-03-20 02:28] jwnimmer-tri commented on #5564
At https://github.com/jwnimmer-tri/drake/tree/bazel-vtk, I've posted work-in-progress to adding VTK7 to the Bazel workspace.  It's only on Xenial right now, using the pre-compiled https://launchpad.net/~elvstone/+archive/ubuntu/vtk7 release.  Hopefully this can serve as a starting point to help evaluate suitability of Kitware's hosted VTK7 binaries for Xenial, Trusty, OS X, etc.

The `drake/system

[2017-03-20 08:16] hughhugh opened #5566 "Windows- error : bot2-lcmgl.jar cannot be found by drake"
Hi,
I use the release binary version of drake for windows 64. I have run several examples, it works. The checkdependcy about lcmgl didnot succeecd when it came  to the simulation https://github.com/andybarry/simflight . I have searched and found that it is the issue of drake.  So is it possible to get this issue solved? Thank you.

[2017-03-20 11:37] RussTedrake commented on #5566
I'm afraid that we're not supporting windows anymore.  lcmgl is only a debug plotting tool, i think the best solution for you is to comment out the relevant calls (starting with the "checkdependency")

[2017-03-20 11:37] #5566 closed

[2017-03-20 12:04] jwnimmer-tri commented on #3521
I think this is no longer relevant given #3129's progress.

[2017-03-20 12:04] #3521 closed

[2017-03-20 12:05] jwnimmer-tri commented on #3067
Is `RigidBodyConstraint` going to live on, or be rewritten?  If the latter, perhaps this issue should be closed.

[2017-03-20 12:05] jwnimmer-tri commented on #3093
I'm not sure this is relevant anymore, given the planned deprecation of RBT?

[2017-03-20 12:26] liangfok commented on #3093
@amcastro-tri, what do you think? Should this be merged into #5013?

[2017-03-20 12:57] liangfok commented on #5538
Will there be a "FrameVelocityBundle" that's analogous to `PoseVector`'s `PoseBundle`?

(I'm thinking about this in #5541.)

[2017-03-20 13:25] amcastro-tri commented on #3093
We know we should not be using shared pointers in the way they are being used for RigidBodyFrame objects. This was already taken into account in the design of MultibodyTree's API.
MultibodyTree also will introduce (as early as this week) the concept of frames with a slight difference in semantics and API to allow the modeling of soft bodies.
Therefore I think this is not relevant anymore unless it

[2017-03-20 13:27] liangfok commented on #3093
Thanks @amcastro-tri. I'll go ahead and close this issue since I don't think it's blocking anyone and MBT will have a totally different API.

[2017-03-20 13:27] #3093 closed

[2017-03-20 13:44] hughhugh commented on #5566
Hi，thank you. I will have a try to comment the checkdependency to see if it works.

[2017-03-20 14:06] SeanCurtis-TRI commented on #5538
FWIW `GeometryWorld` bundles up frame kinematics: pose, velocity, and acceleration. (And the clock is ticking.... :clock11:

[2017-03-20 15:55] rdeits opened #5568 "Overhead when calling Mosek through MathematicalProgram"
@TobiaMarcucci and I noticed that solving a trivial LP with Mosek through MathematicalProgram is surprisingly slow. The LP is:

[code]

In python, this looks like:

[code]

Solving that program takes 10-15 milliseconds on my laptop (OSX 10.11). In comparison, using Gurobi (via the `GurobiSolver`) takes 0.5-1 ms.

This result is not specific to this particular LP; it's just that the overhead is muc

[2017-03-20 15:56] hongkai-dai commented on #5568
In `mosek_solver.cc`, I am not parsing the problem efficiently. I will run calgrind to profile the problem. Thanks for doing the comparison.

[2017-03-20 16:04] hongkai-dai commented on #5568
And I am glad that `MathematicalProgram` and Julia takes about the same time for the gurobi solver.

[2017-03-20 18:45] rdeits opened #5572 "cmake option WITH_ALL_SUPPORTED_EXTERNALS gives vtk target error"
In a clean build directory, setting `WITH_ALL_SUPPORTED_EXTERNALS=ON` gives the following configuration error:

[code]

This is with cmake 3.5.2 on Ubuntu 14.04.

[2017-03-20 19:19] david-german-tri commented on #4719
About 5 hours understanding how `launchd` interacts with environment  variables, leading to #5570.

[2017-03-20 20:42] kunimatsu-tri commented on #5286
FYI, now above two features related to `RgbdCamera` merged to Drake master! You don't need to use my branch anymore.

[2017-03-20 20:57] david-german-tri commented on #5564
@mwoehlke-kitware is working on this for Linux, and @jamiesnape for Mac.

[2017-03-20 21:36] rdeits commented on #5572
(this isn't blocking me: I can just toggle the individual externals on as needed)

[2017-03-21 12:31] david-german-tri commented on #4719
In #5155, we chose to link Bazel builds statically by default, in part because dynamic linking on OS X is different, and a little complicated, and I hadn't figured out how to make it work.  I didn't expect anyone to be disk-constrained in 2017, but it turns out some VM users are.  Not sure how to put an estimate on this.

[2017-03-21 14:04] orsoromeo opened #5579 "Installation issue with ros_common_test: undefined reference to testing::internal::EqFailure(..)"
I am currently trying to install drake on my PC following the instructions on [http://drake.mit.edu/from_source.html](url) trying to build it as a ROS catkin Package. My PC runs Ubuntu 14.04 and has ROS Indigo installed.

"catkin build" gives me the following error:

CMakeFiles/parameter_server_test.dir/test/parameter_server_test.cc.o: In function CmpHelperEQFailure<bool, bool>':
/home/user/drake_

[2017-03-21 16:46] hongkai-dai commented on #3749
@orsoromeo , could you try using bazel to build your drake? You may follow the instruction on http://drake.mit.edu/bazel.html

[2017-03-21 17:17] Lucy-tri commented on #5172
Done (both part 1 and part2).

[2017-03-21 17:17] #5172 closed

[2017-03-21 18:29] jwnimmer-tri opened #5580 "Remove dReal dependency (for now)"
We should remove Drake's dReal dependency (for now).  It isn't integrated or useful yet, and isn't ready to make the Bazel cut-over yet either.  We can add it back in Bazel-only land.

[2017-03-21 18:32] jwnimmer-tri commented on #5580
Oops.  Duplicate of #5406.

[2017-03-21 18:32] #5580 closed

[2017-03-21 18:36] hongkai-dai commented on #3749
@orsoromeo , sorry bazel does not install MATLAB version of drake. I think you can use cmake to build drake, by following the instruction in http://drake.mit.edu/from_source.html#build-with-make

[2017-03-21 18:44] mitiguy opened #5581 "Count number of times integrator calculated derivatives."
To be able to test integrator performance, it is helpful to know how many times
(integer count) the time-derivatives of the states are calculated.

This is also helpful for testing - where these numbers should be relatively
constant for each benchmark test as he entire code base evolves.
If the number changes significantly, it should be a well-understood
phenomenon that caused it (e.g., a model of

[2017-03-21 18:56] sherm1 commented on #5581
:+1: In general the integrators (& Simulator) should be instrumented to count everything they do that is remotely interesting.

[2017-03-21 20:04] maddog-tri commented on #5116
Aye.  Where should it go?

The end result is a PDF.  The source is a `.org` (text in org-mode) and `.svg` (figures in inkscape), which go through intermediate LaTeX and PDF pupation respectively, and finally emerge as the PDF.  The raw source files should definitely get bundled together in a directory; the end PDF should probably just sit in that directory as well (since that is where it gets buil

[2017-03-21 20:29] jwnimmer-tri commented on #5116
Maybe `drake/automotive/maliput/doc/*`?

For now, I would be satisfied with just the `org` and `svg` bits going into git ASAP, so that we can collaboratively iterate on any ongoing improvements, and at least give people something to read for now, even if the pretty PDF isn't rendered yet.

Also, I think it's unlikely to survive in `org` format for very long, and someone on our team should soon tak

[2017-03-21 21:28] kunimatsu-tri opened #5584 "PackageMap doesn't handle package:// identifier in URDF correctly"
**Problem:**
When I tried loading an URDF file that contains `package://` for mesh filenames and visualizing it with `drake-visualizer`,  `drake-visualizer` failed loading these mesh files.

**Detail:**
The code that loads the URDF:
[code]
The URDF:
[code]

Then, I created `RigidBodyPlant` and `DrakeVisualizer` systems and connected those two.

When I ran the program and `drake-visualizer`, `drake

[2017-03-21 21:39] maddog-tri commented on #5116
Sounds good.

The pretty PDF is already rendered (it's the svg bits that are sorely lacking); org-mode makes that trivial if you are running emacs.

I expected the org-format to change --- it's just my go-to format for dashing stuff out in emacs (because it has nice on-screen editing structure, and it handles LaTeX math transparently enough to be both quick and useful).  However, I doubt Lua or Al

[2017-03-21 22:11] jwnimmer-tri commented on #5116
Right, but we shouldn't commit that into `git`.

Yes.

[2017-03-22 00:44] patmarion commented on #5584
drake c++ programs do not communicate package map information to the `drake-visualizer` process.  The `drake-visualizer` program only knows about packages in the drake source dir and in paths specified by the `ROS_PACKAGE_PATH` environment variable.

[2017-03-22 02:31] liangfok commented on #4525
https://drake-jenkins.csail.mit.edu/job/linux-xenial-gcc-experimental-open-source/2022/

[2017-03-22 03:48] kunimatsu-tri commented on #5584
If I understand correctly, C++ programs don't need to send package map information to `drake-visualizer`, but the URDF parser needs to resolve the actual path of a mesh file using the package map information and then the resolved file path should be sent to `drake-visualizer`.

This is the function that should resolve the file path:
https://github.com/RobotLocomotion/drake/blob/master/drake/multib

[2017-03-22 11:09] liangfok opened #5588 "sim_diagram_builder_test timed out"
# The Problem

[code]

# Example Logs

* https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/linux-gcc-nightly-ros-debug/238/

[2017-03-22 11:36] liangfok commented on #4034
https://drake-jenkins.csail.mit.edu/job/linux-xenial-gcc-ninja-experimental/1982/

[2017-03-22 13:36] patmarion commented on #5584
The `package://` url is sent to `drake-visualizer` rather than the resolved filename.  Here:

https://github.com/RobotLocomotion/drake/blob/master/drake/systems/rendering/drake_visualizer_client.cc#L50

I can't remember why this behavior is used.  I think it might be so that lcm logs are playable on other computers, since the logs contain `package://` urls instead of resolved filepaths which are s

[2017-03-22 13:43] jwnimmer-tri commented on #5584
As I understand it, the use of `package://` in a resource is explicitly a choice to use mapped resources, where all interacting processes agree to use `package://` when talking about resources, and to have a pre-established map from package names to filesystem paths.  Given that, when running e.g. a Drake simulation that loads resources with `package://` and feeds geometry to `drake-visualizer`, t

[2017-03-22 14:06] orsoromeo commented on #3749
@hongkai-dai It works by building with cmake, thanks a lot!
Does this mean that the MATLAB version of drake cannot be built as a ros catkin package?

[2017-03-22 14:16] kunimatsu-tri commented on #5584
Thanks both. Setting either `ROS_PACKAGE_PATH` or `DRAKE_PACKAGE_PATH` in a terminal that runs `drake-visualizer` resolved this issue.

TIL: The resolved file path is for Drake's internal use, but not for external uses like `drake-visualizer`.

will close this issue.

[2017-03-22 14:16] #5584 closed

[2017-03-22 14:59] #5406 closed

[2017-03-22 15:58] liangfok commented on #5588
Closed by #5589.

[2017-03-22 15:58] #5588 closed

[2017-03-22 20:04] rdeits opened #5594 "Retrieve solver time from MathematicalProgram"
It would be nice to be able to retrieve the time spent in the solver (excluding the time spent setting up the problem in Drake), for benchmarking and comparing different solvers.

cc @TobiaMarcucci

[2017-03-22 21:39] #5526 closed

[2017-03-23 03:53] hongkai-dai commented on #3749
@orsoromeo I think nobody ever tested it to build as a ros catkin package.

If you are using MATLAB version of drake, while ROS is not written in MATLAB, do you need to build the MATLAB version of drake as a ros catkin package?

[2017-03-23 14:57] jwnimmer-tri commented on #5564
FYI I've updated my https://github.com/jwnimmer-tri/drake/tree/bazel-vtk branch to use the new tarballs.

[2017-03-24 07:48] guddulrk opened #5610 "Matlab 2016b mex file issues"
------------------------------------------------------------------------
          Access violation detected at Fri Mar 24 18:42:44 2017
------------------------------------------------------------------------

Configuration:
  Crash Decoding      : Disabled - No sandbox or build area path
  Crash Mode          : continue (default)
  Current Graphics Driver: Unknown hardware
  Default Encoding

[2017-03-24 13:43] patmarion commented on #5456
ping @jamiesnape any suggestions?

[2017-03-24 13:55] david-german-tri commented on #5610
We don't support Windows anymore, and we've never supported MATLAB 2016b.  For more information on supported configurations, see http://drake.mit.edu/developers.html#supported-configurations.

[2017-03-24 13:55] #5610 closed

[2017-03-24 14:04] patmarion commented on #4224
I would still like to see this happen in the CMake build.  But if there's no plans to do so, please close this issue.

[2017-03-24 14:19] jwnimmer-tri commented on #4224
I think the issue is still valid even some CMake listfiles are going away -- the Bazel binary release could / should include those artifacts.

[2017-03-24 16:30] liangfok commented on #3429
https://drake-jenkins.csail.mit.edu/job/linux-gcc-experimental-ros/5220

[2017-03-24 16:51] jamiesnape commented on #5456
@mwoehlke-kitware will take a look.

[2017-03-24 17:11] orsoromeo commented on #3749
@hongkai-dai I believe that no, if I use the Matlab version of Drake then I don't need to build with ROS catkin package.
I attempted to do it because I would like to use the Matlab version of Drake and then send through ROS messages the results to other subscribers written in other languages. Is it possible to do it if I build with make?

[2017-03-24 18:07] david-german-tri commented on #5456
I'm tagging this as high priority, since we want a baseline-working `find_package(drake)` before the #3129 cutover.

[2017-03-24 18:11] david-german-tri commented on #4224
I am going to bump the priority down to medium, though.

[2017-03-24 18:14] david-german-tri commented on #3287
`drake-config.cmake` is on master, though there are trouble reports like #5456.  I'm going to close this issue as partially fixed, and partially obsolete due to #3129.

[2017-03-24 18:14] #3287 closed

[2017-03-24 18:21] jamiesnape commented on #5456
The before and after will not be comparable in any way, though. The only common variable will be `drake_FOUND=TRUE`.

[2017-03-24 18:59] mwoehlke-kitware commented on #5456
I'm having trouble reproducing... there is a problem on my system with `find_dependency` and `/usr/share/cmake/Modules/FindEigen3.cmake` (from `eigen3-devel-3.2.10-1.fc25.noarch`), but I had no problem finding VTK.

How are most of the dependencies found? I take it `CMAKE_PREFIX_PATH` points to Drake's install prefix? Does `<CMAKE_PREFIX_PATH>/lib/vtk-5.10/VTKConfig.cmake` exist?

[2017-03-24 19:34] patmarion commented on #5456
The find vtk issue is only on mac, where vtk is installed in homebrew so cmake doesn't know how to locate it without a hint.

The other issue is still under investigated, we can reproduce it on some machines but not all machines.  It does not seem correlated with whether or not eigen3-dev is system installed.  I haven't searched for the root cause.  But I think the general issue is that the drake-

[2017-03-24 20:05] mwoehlke-kitware commented on #5456
Ah... in that case, "set `CMAKE_INSTALL_PREFIX` appropriately"? (Sigh; [CPS](https://mwoehlke.github.io/cps/) specifically addresses this...)

What is `Eigen3_DIR` and/or `EIGEN3_INCLUDE_DIR`? Is there any pattern there across "working" and "non-working" systems?

[2017-03-24 20:08] patmarion commented on #5456
Perhaps you could setup a test based on the example code provided in the original post, so we can see whether that test passes on drake's ci machines.  If it passes there, then I could try running that on the machines where it's currently failing and that could help diagnose the problem.  This seems like it would be very productive, to develop a CI test for drake-config.cmake.

[2017-03-25 00:27] liangfok commented on #3429
https://drake-jenkins.csail.mit.edu/job/linux-gcc-experimental-ros/5252

[2017-03-25 01:08] liangfok opened #5617 "rigid_gripper Demo Cannot Run For Less than 0.1 Simulation Seconds Resulting in CI Timeout"
The `rigid_gripper` demo timed out in the following CI run:

https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-gcc-continuous-ros-debug/1368/

Here is the error:

[code]

Skimming through `drake-distro/drake/examples/contact_model/rigid_gripper.cc`, I believe the simulation cannot be executed for less than `kPrintPeriod`, which is 0.1 simulation seconds. This executable is

[2017-03-25 14:43] jwnimmer-tri opened #5619 "Organize "automotive systems" Doxygen overview"
We should organize the "automotive systems" Doxygen overview, including the block-level descriptions and and figures for our library of systems.

[2017-03-25 17:51] jwnimmer-tri commented on #5564
Once we're using the prebuilts, we should remove any unnecessary VTK-related instructions and packages from the `from_source` docs and `setup/16.04/...` script.

[2017-03-26 03:29] liangfok commented on #3429
https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-clang-continuous-ros-debug/1447/

[2017-03-26 03:36] liangfok commented on #4034
https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-xenial-gcc-ninja-continuous-release/393/

[2017-03-26 16:00] jwnimmer-tri opened #5621 "Offer pre-built drake-visualizer in Drake's Bazel WORKSPACE"
As part of #3129, I am on my way to putting a `drake-visualizer` binary into Drake's Bazel `WORKSPACE` using pre-compiled releases (https://github.com/jwnimmer-tri/drake/tree/bazel-drake-visualizer-prebuilt).  This is likely to be both easier and more robust than trying to recompile `drake-visualizer` from within Bazel, at least for a while.

For now, I'm prototyping using Pat's binaries (http://p

[2017-03-26 18:26] rdeits commented on #1311
this happened

[2017-03-26 18:26] #1311 closed

[2017-03-26 18:34] RussTedrake opened #5623 "MathematicalProgram does not error if constraints are added with Bindings to non-decision variables"
I was hoping that if I called `AddCost(Expression)`, where my Expression contains variables that had nothing to do with the MathematicalProgram, the AddCost would throw an error.  It does not.

Is this a reasonable error to catch?  I know we have a lot of entry points for costs/constraints.  Where is the right place to do this check?

[2017-03-26 18:43] hongkai-dai commented on #5623
I will work on this. We probably need to do this check in each `AddConstraint(Binding<T>)`, where the `Binding` contains the variables bound to this constraint.

[2017-03-27 13:07] jamiesnape commented on #5621
Certainly Jenkins could push binaries to S3 on continuous/nightly builds now. We could also proxy uploads and downloads from S3 through [a separate server](https://girder.readthedocs.io/en/latest/) using GitHub auth. I am very much against granting direct write access to buckets to anyone other than service accounts and administrators unless there is no other choice.

[2017-03-27 15:33] #5617 closed

[2017-03-27 16:17] siyuanfeng-tri opened #5629 "Rework default publishing triggers Simulator (e.g. remove `set_publish_every_time_step`)"
I think the current mechanism for handling publishing events in the simulator needs to be improved. Here are a couple complaints.
1. There is a global publish on every major time step flag in the simulator API, I think that should needs to be changed somehow. Imagine some system is declared to publish at 200hz, and simulator's major time step is 1ms, the message rate can be 1200hz depending on whe

[2017-03-27 17:01] liangfok commented on #3752
https://drake-jenkins.csail.mit.edu/job/linux-xenial-clang-experimental-debug/2140

[2017-03-27 17:08] liangfok commented on #5629
Regarding (3), perhaps we should modify `DrakeVisualizer` to provide a `get_load_message()` method, which returns an `lcmt_viewer_load_robot` object. The user of this system, which is typically the application, would then be responsible for sending the load message outside of the system framework's context. This would match what `CarVisApplicator` does: https://github.com/RobotLocomotion/drake/blo

[2017-03-27 17:22] siyuanfeng-tri commented on #5629
@liangfok i think this better.

[2017-03-27 17:27] sammy-tri commented on #5621
I'm hesitant to claim that Drake should lean on director's CI effort quite so much.  I think at the least if we're going to consider going down that road we should think about how Drake's vastly better staffed CI effort could help instead of asking for more director features in support of our interests in refactoring the Drake build.  (apologies if I misunderstood your proposal, just thinking abou

[2017-03-27 17:29] sherm1 commented on #5629
I agree that "when to publish" should be determined by the System and individual sub-systems; I think that has always been the plan and at least part of that functionality is in place. Publishing events are supposed to provide the same control as other events like discrete update events -- every step, periodic, triggered, etc. @siyuanfeng-tri it would be great if you want to take a look at that.

[2017-03-27 17:30] sherm1 commented on #5629
First step would be to assess what's there now and propose what needs changing.

[2017-03-27 17:39] siyuanfeng-tri commented on #5629
I think the current Publish() api call in System is more like a "force publish". Ideally, I would like to have finer control in each subsys to cover: periodic publish, publish on every major step, force publish, silent (never publish). I am debating whether it should publish on minor time steps inside the integrator.

The obvious way to do this would to have a some flag and check for context.get_t

[2017-03-27 17:46] siyuanfeng-tri commented on #5629
forgot to cc @david-german-tri

[2017-03-27 17:54] hongkai-dai opened #5632 "AddCost / AddConstraint in MathematicalProgram to support arbitrary symbolic polynomial"
Currently we only support linear or quadratic polynomial.

[2017-03-27 18:31] sherm1 commented on #5629
I don't think so -- that would only be for internal debugging and I would rather not do that through a normal API method.

[2017-03-27 18:35] sherm1 commented on #5629
@siyuanfeng-tri, see the [`DiscreteEvent`](https://github.com/RobotLocomotion/drake/blob/master/drake/systems/framework/system.h#L36) struct used by System -- it already has publish events defined and likely has most of what you want at least conceived and I think mostly functional. It is possible to provide your own publish callback.

[2017-03-27 18:38] siyuanfeng-tri commented on #5629
@sherm1 does the context / system know about major time step size?
I basically want to add that to DoCalcNextUpdateTimeImpl() in leaf_system.h

[2017-03-27 19:25] Lucy-tri commented on #5044
I'd like to clearly state for the record that the companion texture file format for OBJ files is the MTL texture format, but MTL is not supported by drake-visualizer. This is confusing for anyone who is trying to use an OBJ file in Drake/drake-visualizer. https://en.wikipedia.org/wiki/Wavefront_.obj_file

[2017-03-27 20:15] sherm1 commented on #5629
No, and it isn't possible to add it to DoCalcNextUpdateTime() because it can't be predicted. In general the major time step is discovered by the integration method after error analysis of a step determines if it is acceptable.

So a System just needs to say whether it wants a call at the next major time step and if so the Simulator will take care of making sure that happens.

[2017-03-27 20:24] siyuanfeng-tri commented on #5629
@sherm1 maybe if you have time, we could have a 10mins quick hangout?

[2017-03-27 20:54] edrumwri commented on #5629
I'm happy to do this too- brain has been slow to boot today so I need to
check it before we would speak.

--------------------------------
Evan Drumwright
Senior Research Scientist
http://positronicslab.github.io
Toyota Research Institute
Palo Alto, CA

On Mon, Mar 27, 2017 at 1:24 PM, siyuanfeng-tri <notifications@github.com>
wrote:

[2017-03-28 00:06] mitiguy opened #5640 "For bazel, increase size to medium for cylinder_torque_free_analytical_solution"
For bazel, increase size to medium for cylinder_torque_free_analytical_solution.

Note: Thanks to Liang for detecting this problem in #5611 and fixing it in #5612
Liang has already fixed the corresponding CMakeLists.txt.

[2017-03-28 00:47] #5640 closed

[2017-03-28 01:06] jwnimmer-tri commented on #5621
I like the idea of having the Drake CI produce binary releases of `drake-visualizer` semi-automatically.  If it makes sense to proxy them (because of S3 fees?) with Girder, then that's okay too.  Or should we try to push the "most recent recommended" drake-visualizer (or a few of them) to https://github.com/RobotLocomotion/drake/releases?

I guess I'm a little hesitant to upload every nightly thou

[2017-03-28 14:42] sammy-tri commented on #5621
Starting with hand-rolled releases on github might be the shortest reasonable path forward.  Tentative +1.

[2017-03-28 19:50] hongkai-dai opened #5645 "Add a special formula for positive semidefinite"
This formula takes an Eigen::Matrix<symbolic::Expression>. We should be able to write
[code]
This should also work for static-sized matrix. We should possibly check if the matrix is square in the release mode, and if it is symmetric in the debug mode, if the checking is expensive.

[2017-03-28 19:52] hongkai-dai commented on #5645
/cc @RussTedrake
/cc @EricCousineau-TRI

[2017-03-28 19:54] hongkai-dai opened #5646 "Return Binding<T> for each AddXXXConstraint and AddXXXCost"
Currently we do not have a consistent return type, sometimes we return void, sometimes a shared pointer to a constraint, and sometimes a Binding object. We should change all the return types in AddXXXCost and AddXXXConstraint in `MathematicalProgram` to `Binding<T>`, where `T` is the type of the `Constraint`.

[2017-03-28 19:55] hongkai-dai commented on #5646
/cc @soonho-tri
/cc @RussTedrake

[2017-03-28 20:00] hongkai-dai opened #5647 "Return the aggregated cost from the solver"
Most solvers (if not all) compute the objective function when the problem is solved, we should return this information in the `MathematicalProgram` and `MathematicalProgramSolverInterface`. There is a related discussion in #3817. But we do not have to include the optimal cost in `SolutionResult`.

[2017-03-28 20:00] hongkai-dai commented on #5647
/cc @soonho-tri
/cc @RussTedrake

[2017-03-28 20:03] hongkai-dai opened #5648 "AddCost and AddConstraint should handle all types of constraints in the symbolic form"
We did something similar in `AddLinearConstraint`, to handle linear inequality, linear equality and bounding box constraint. We should instead use `AddConstraint` to handle linear / bounding box / lorentz cone / positive semidefinite / quadratic / polynomial constraints, and `AddCost` to handle linear / quadratic / polynomial costs in the symbolic form.

[2017-03-28 20:04] hongkai-dai commented on #5648
/cc @EricCousineau-TRI
/cc @RussTedrake

[2017-03-28 20:06] hongkai-dai opened #5650 "Make sure each type of constraint can be added in the symbolic form"
I believe currently the only left-over is the `AddBoundingBoxConstraint`.

[2017-03-28 20:07] hongkai-dai commented on #5650
\cc @RussTedrake
\cc @EricCousineau-TRI

[2017-03-28 20:09] hongkai-dai opened #5651 "Operator overloading between basic vectors / between basic vector and scalar"
\cc @RussTedrake
\cc @EricCousineau-TRI

[2017-03-28 20:17] jwnimmer-tri commented on #5651
This sounds scary.  Please elaborate?

[2017-03-28 20:20] hongkai-dai commented on #5651
This is for adding constraints/costs in trajectory optimization, where we use basic vectors. Currently we have to convert basic vector to an Eigen vector, and then call `AddConstraint` with the Eigen vector. It would be more convenient if we can handle basic vector directly.

[2017-03-28 20:25] jwnimmer-tri commented on #5651
Operator overloading can be difficult for readers to scrutinize what's happening.  Sometimes, the extra clarity of doing it longhand is worth the extra syntax.

Maybe link to some example code where you think the syntax baggage is too much?

[2017-03-28 20:29] hongkai-dai commented on #5651
@RussTedrake , could you point the use case for converting BasicVector to Eigen vector in the trajectory optimization code?

[2017-03-28 20:49] sherm1 commented on #5651
True, but if there is a case for operator overloading at all I think matrix-vector arithmetic is the place!

[2017-03-28 20:57] rdeits opened #5654 "Allow access to the optimal active set from solvers like Gurobi"
While we're adding to the MathematicalProgram wishlist, it would be nice to be able to read the active set of inequality constraints at optimality. This may be difficult to do in a generic way, since not all solvers will support this feature.

This is useful for, e.g. the QP inside the Atlas controller, which relies on the active set changing relatively infrequently.

[2017-03-28 21:38] jwnimmer-tri commented on #5651
Yup, I could definitely see it going either way here.  And we already have `op+=` and `op-=` overloaded, so maybe just need `op*=` or something.  But I think the burden of proof should be high, so we'll just have to see what the specific proposal is.

[2017-03-28 23:50] RussTedrake commented on #5651
For example, I'm writing lots of trajectory optimization examples that look like this:
[code]
We have a plan for getting rid of the `.array()`.  This step will get rid of the `.get_value()` -- which appear often!

[2017-03-28 23:59] RussTedrake commented on #5651
n.b., in the example above, x0 and xf come from e.g.
[code]

[2017-03-29 01:11] hongkai-dai commented on #5654
@EricCousineau-TRI , we also talked about this during the meeting today. @rdeits we will add this feature in the second quarter.

[2017-03-29 07:46] liangfok commented on #5341
I am reopening this because the newly added `PriusVis` does not.contain the offset fix.

[2017-03-30 01:10] jwnimmer-tri commented on #3537
@jamiesnape @BetsyMcPhail How feasible is it to get _any_ kind of work-around in place for this?  Is it in fact possible to just turn off that one message entirely (or maybe all post-backs entirely)?

[2017-03-30 02:06] RussTedrake opened #5665 "common/test/cpplint_wrapper.py assumes cmake"
by virtue of looking for `drake-distro/externals/google_styleguide/cpplint`...

my bazel-only (so far) install doesn't have it.

cc @jwnimmer-tri

[2017-03-30 02:09] liangfok commented on #5665
Here's a relevant discussion on Slack: https://drakedevelopers.slack.com/archives/C2PMBJVAN/p1486752341001077

Basically, `cpplint` is run when running `bazel test ...`.

[2017-03-30 02:14] jwnimmer-tri commented on #5665
http://drake.mit.edu/code_style_tools.html#cpplint has the details.  Maybe the error message could be improved, though.

[2017-03-30 02:18] RussTedrake commented on #5665
great.  i knew it was run from bazel test.  i'm happy with the documentation.

[2017-03-30 02:18] #5665 closed

[2017-03-30 13:18] jamiesnape commented on #3537
Someone would need to wade through the spaghetti of code in the plugin, but I think we are currently all backed up with working on the CMake-Bazel changeover, so not sure we have any free cycles to work on it immediately unless you would wish to reprioritize.

[2017-03-30 13:44] jwnimmer-tri commented on #3537
Can you link to the plugin source code?  I bet @stonier could do it quickly.

[2017-03-30 14:08] jamiesnape commented on #3537
Here, https://github.com/jenkinsci/ghprb-plugin, but I have to test it before it is deployed on production, and that takes time. That plugin is fundamental to our workflow, so unless this is suddenly a critical issue, this should wait.

[2017-03-30 14:18] jwnimmer-tri commented on #3537
Alright, maybe we can prepare a candidate change but wait on testing / deploying.

[2017-03-30 14:20] jamiesnape commented on #3537
Sure.

[2017-03-30 16:39] #5536 closed

[2017-03-30 16:50] liangfok commented on #4034
https://drake-jenkins.csail.mit.edu/job/linux-xenial-gcc-ninja-experimental-open-source-debug/2314/

[2017-03-30 17:06] #5541 closed

[2017-03-30 17:39] #5341 closed

[2017-03-30 20:30] Lucy-tri commented on #5036
Upon reflection, I think that adding this picture goes beyond the scope of this doc a bit.  I'm sorry I have not got to it.  The document has changed, also.  I'm handing off my models work to Allison, so I'm assigning this to her. @liangfok , do you want it?  We could also just close this issue.
Being able to display collisions in drake-visualizer would be nice, but that's a different issue.

[2017-03-30 20:58] EricCousineau-TRI opened #5673 "`TestQPonUnitBallExample` inadvertently permits different solver to be dispatched via `MathematicalProgram::Solve`"
Ran into an issue where `//drake/solvers:ipopt_solver_test` was failing on `QPtest.TestUnitBallExample` (with `kUnknownError`). Hongkai and Sammy tried it out on their machine, and it worked, and Hongkai pointed to a CI machine that also had not had any issues.

Issue ended up being that I set `--config everything` in my `~/.bazelrc` on just this machine, but had not yet installed a Mosek license,

[2017-03-30 21:04] hongkai-dai commented on #5673
Thanks for looking into it!

[2017-03-31 11:46] jwnimmer-tri commented on #5465
WIP at https://github.com/jwnimmer-tri/drake/tree/framework-model-params

[2017-03-31 13:18] stonier commented on #3701
Added in PR #5631.

[2017-03-31 13:18] #3701 closed

[2017-03-31 13:44] liangfok commented on #3673
This issue is currently blocked on #4337 (switch SDF parsers) and #4633 (MBT).

@amcastro-tri, what do you think about closing this issue and adding it as a wish-list item to #5013?

[2017-03-31 16:15] jwnimmer-tri commented on #2074
FYI my WIP branch on fixing this is https://github.com/jwnimmer-tri/drake/tree/rbt-build-time.  I haven't had a chance to correctly reprofile and tune up the results, but it's a solution framework.

[2017-03-31 17:08] amcastro-tri commented on #3673
Added item to #5013. Thanks

[2017-03-31 17:08] #3673 closed

[2017-03-31 17:10] liangfok commented on #2410
https://drake-jenkins.csail.mit.edu/job/linux-gcc-ninja-continuous-matlab-open-source-debug/939/

[2017-03-31 18:13] soonho-tri commented on #5650
@hongkai-dai : I'll do this today (just unassinged you).

[2017-03-31 18:21] hongkai-dai commented on #5650
Thanks a lot! You may hold off the part on the polynomial constraint. I will send out a PR later to handle it. We currently do not have a `std::vector<Binding<PolynomialConstraint>>` stored inside `MathematicalProgram`. I think we should add that, with the proper test. But the change would be easier to review if it is in a separate PR. What do you think?

[2017-03-31 18:50] soonho-tri commented on #5650
SGTM.

I'll add the following functions:
[code]
so that we can write `AddLinearEqualityConstraint(A*x == b)` and `AddBoundingBoxConstraint(A*x <= b)`.

For the latter, I first need to add `operator<=` between `Eigen::Matrix` of symbolic expressions.

[2017-03-31 20:23] #5673 closed

[2017-03-31 20:29] soonho-tri commented on #5645
I had a discussion with @jwnimmer-tri on this topic. We agreed that it's better to have a function:

[code]

than to provide operator overloading for `>=` / `<=`. Here, our proposal is to write:

 - `positive_semidefinite(M)` instead of `M >= 0`.
 - `positive_semidefinite(M1 - M2)` instead of `M1 >= M2`.

If `positive_semidefinite` is too long, I think we can add a shorter one, i.e. `psd(M)` or `P

[2017-03-31 20:39] hongkai-dai commented on #5645
Hmm, if we are going to create `Formula positive_semidefinite`, then I guess we already have something similar in `MathematicalProgram`, as
[code]
as in https://github.com/RobotLocomotion/drake/blob/master/drake/solvers/mathematical_program.h#L1924~L1960. So we do not really need `Formula positive_semidefinite`.

I think the reason why we want the operator overload, is for readability. `AddConstra

[2017-03-31 20:41] EricCousineau-TRI opened #5681 "Synchronize decision variables and optimal cost in `MathematicalProgram` with unsuccessful solve attempts"
When an unsuccessful solve attempt is encountered, it would be preferable to synchronize the decision variables and the optimal cost with the `SolutionResult`.

The rationale is not to use these as indicators of overall failure, as the user should be using the `SolutionResult`, but rather provide more diagnostic information if necessary.

Example situations from Hongkai's email:

* Solved: Optimal

[2017-03-31 20:41] soonho-tri commented on #5645
FYI, the new proposal allows us to write `AddConstraint(psd(M))` so that we can still use a generic `AddConstraint` function.

[2017-03-31 20:44] soonho-tri commented on #5645
For now, we need to write `AddLinearConstraint((A*x).array() >= b.array())`. With this proposal, we can eliminate `.array()` and write `AddLinearConstraint(A*x >= b)`.

[2017-03-31 20:45] soonho-tri commented on #5645
BTW, as I mentioned in Slack, I personally think that it's good to use `>>=` and `<<=` operators here to denote PSD constraints. But @jwnimmer-tri disagreed with me on this.

[2017-03-31 20:46] hongkai-dai commented on #5681
Thanks!

For Convex Optimizations, I would propose

-  Infeasible: Optimal cost is set to the cost of the dual problem if it is available, otherwise set to +Inf.  The decision variables are set to NaN.
- Unbounded: Optimal cost is set to -Inf (since we are minimizing the objective). Decision variables set to NaN.

[2017-03-31 20:48] hongkai-dai commented on #5645
I like that, and the `psd(M)` looks good to me also.

@RussTedrake , if you do not object, then I think we will do what Soonho mentions above, to add `Formula psd`, and `M1 >= M2` means elementwise inequality, for Eigen::Matrix of `M1`, `M2`.

[2017-03-31 20:49] jwnimmer-tri commented on #5645
With Soonho's discussion to me, I didn't understand that `>=` means _only_ PSD xor runtime_error.  I thought it meant PSD xor _some other math_.  If it has only 0..1 meaning, then my concerns are greatly reduced.

[2017-03-31 20:53] soonho-tri commented on #5645
@jwnimmer-tri , we had multiple options in multiple dimensions (`Eigen::Array` vs `Eigen::Matrix` / PSD vs element-wise comparison). So Hongkai and I had different pictures, I think.

Thank you, @hongkai-dai !

[2017-03-31 21:04] jadecastro commented on #5538
Addressed by #5609.

[2017-03-31 21:05] #5538 closed

[2017-03-31 21:16] EricCousineau-TRI opened #5683 "Provide support for warm-starting with the `MathematicalProgram` as constraints and costs change"
Users of the `MathematicalProgram` should be able to warm-start a partially altered problem across different time steps.

Presently, users may set the initial guess manually, such as in [`inverseKinBackend`](https://github.com/RobotLocomotion/drake/blob/d5df8ec/drake/multibody/inverse_kinematics_backend.cc#L292); however, as evident in [line 218](https://github.com/RobotLocomotion/drake/blob/maste

[2017-03-31 21:38] hongkai-dai commented on #5683
The goal is to allow model predictive control, where only a small set of constraints are changed, and the constraints being active in the previous time step, are likely to be active in the current time step.

The current problems in `MathematicalProgram` include
1. For most of the `Constraint` object, we do not have an `UpdateConstraint` function.
2. `MathematicalProgram` stores the constraints an

[2017-04-01 01:00] #5537 closed

[2017-04-01 01:58] #5465 closed

[2017-04-01 03:33] liangfok commented on #5183
#5662 resulted in the following warning appearing:
[code]

[2017-04-01 17:39] hongkai-dai opened #5693 "snopt_solver.cc should not have dense gradient for the cost"
Now for a cost function that does not depend on ALL decision variables, we set the gradient cost to be dense (possibly non-zero gradient for ALL decision variables in the problem). We should only allow non-zero gradient for the decision variables inside the cost function.

[2017-04-01 18:27] liangfok opened #5694 "AutomotiveSimulator Terrain Visualization is Broken"
# Problem

When `automotive_simulator` is configured to load a terrain like a dragway, the terrain does not show up in `drake-visualizer`. The vehicles, however, do appear.

# Primary Suspects

1. No lcmt_viewer_draw message is being transmitted for the terrain.

2. The `robot_num` of the links that constitute the terrain conflicts with the `robot_num` of a vehicle instance.

# Initial Analysis
I

[2017-04-01 19:53] liangfok commented on #5694
I've narrowed down the problem to the fact that the pose of the world link must be transmitted with every `lcmt_viewer_draw` message. A fix is WIP.

Related info about a recently available alternative protocol: https://github.com/RobotLocomotion/director/issues/420.

[2017-04-02 02:25] liangfok commented on #5694
I have a fix for this in a local branch. The root cause is the `lcmt_viewer_load_robot` message must contain all visual elements. Sending a second one overwrites the first one.

[2017-04-02 03:43] liangfok opened #5698 "Replace Integer Vehicle ID With a type-safe Identifier."
`AutomotiveSimulator` assigns each vehicle instance an integer ID. For increased robustness, these should be replaced with a type-safe identifier:

http://drake.mit.edu/doxygen_cxx/classdrake_1_1geometry_1_1_identifier.html#details

Original comment: https://reviewable.io/reviews/RobotLocomotion/drake/5679#-Kgg2tCUt01rpMEc0NiR

[2017-04-02 04:20] liangfok commented on #4034
https://drake-jenkins.csail.mit.edu/job/linux-xenial-gcc-ninja-experimental/2351/

[2017-04-02 12:39] #5694 closed

[2017-04-02 16:51] RussTedrake commented on #5645
no objections.  i think the `psd()` notation is concise, and I agree that it is the most clear.

[2017-04-03 03:06] liangfok opened #5702 "No Default Branches Specified in On-Ramp RoadGeometry"
I first noticed this when trying to run a `MaliputRailcar` on an on-ramp `RoadGeometry` created by `MonolaneOnrampMerge` in #5699. It wouldn't proceed across lane boundaries because no default branch was specified. I had to modify the `MaliputRailcar` to instead select the first "ongoing" branch.

I'm not sure if the above is actually a defect. Maybe it can simply be documented? (Or is it already

[2017-04-03 12:26] RussTedrake opened #5704 "village-demo broken on master?"
after a clean build/install on xenial, running `bazel run drake/automotive:village-demo` resulted in

[code]

apologies in advance if it's user error!

[2017-04-03 12:29] RussTedrake commented on #5704
not surprising, but the merging demo has the same problem.

[2017-04-03 12:45] liangfok commented on #5704
I know what the problem is. `AutomotiveSimulator<T>::AddPriusEndlessRoadCar()` is not connecting the `EndlessRoadCar` to the `PoseAggregator`. I shall self-assign and fix this with high priority.

[2017-04-03 12:47] liangfok commented on #5704
Maybe a better fix for this is to replace the `EndlessRoadCar` with `MaliputRailcar`? There are still some kinks to work out regarding `MaliputRailcar`'s lane transitions. They are being worked out in #5699. I'll see which one gets into master first.

[2017-04-03 12:50] jwnimmer-tri commented on #5704
I am going to `git rm` the village / endless code now.  If we want to make a video of it, we should use a commit from when it went in.

[2017-04-03 14:34] david-german-tri commented on #5629
Do we really want this feature?  Integrator timesteps are by nature arbitrary; it's hard for me to understand what a System that publishes on integrator timesteps would be modeling.  (The default `Publish`-on-every-timestep behavior is for legacy compatibility.  New code shouldn't use it, and sooner or later we'll delete it, I hope.)

That said, if we do want this feature, I agree it should be exp

[2017-04-03 14:58] jadecastro commented on #5702
I noticed this too when using `MonolaneOnrampMerge` to build a piecewise polynomial using `RoadPath`. I couldn't seem to obtain an ongoing lane from both the `onramp1` and `pre5` lanes.  I had tried combinations of using `MakeGroup` and adding a new branch point with some difficulty.  At some point I was getting errors to the effect of the fact that the lanes I was attempting to specify were not c

[2017-04-03 15:11] jadecastro commented on #5702
FTR, this is the code in question: https://github.com/RobotLocomotion/drake/blob/master/drake/automotive/monolane_onramp_merge.cc

[2017-04-03 15:22] #5704 closed

[2017-04-03 15:25] EricCousineau-TRI commented on #5646
@soonho-tri and I were speaking about what the best return type would be for the `AddXXX{Cost,Constraint}` functions would be. It appears that `Binding<T>` is itself an immutable view, which contains a `VectorXDecisionVariable` that would incur a list copy on each copy of itself. We already copy this once when pushing the registering the bindings in the corresponding `constraint_` or `cost_` lists

[2017-04-03 15:37] siyuanfeng-tri commented on #5629
@david-german-tri it's definitely useful for debugging purposes. especially some logging tools seem to rely on Publish for logging. There are also fixed step integrator.

I really want to publish on every major time step, but the current thing is incorrect, and it really confuses people.

[2017-04-03 15:42] soonho-tri commented on #5646
This is a nice observation. I think it's safe to return `const Binding<T>&`.

[2017-04-03 16:01] hongkai-dai commented on #5646
Great observation. I think returning `const Binding<T>&` is a good choice.

To make sure we returned a shared pointer to a constraint that is mutable, and we can update the constraint returned from `AddXXXConstraint`, can we test the following code?
[code]

Returning `const Binding<T>` does mean that we cannot modify the bound variables stored in `binding.variables()`. For the moment I think it is

[2017-04-03 16:05] EricCousineau-TRI commented on #5646
Can do! From looking at the implementation, it appears that this should be possible given that `constaint()` is a `shared_ptr<C>`, but I will definitely double-check this.

Just in case, I will first implement `Binding<T>`, and then try to make an atomic commit switching to `const Binding<T>` to make it (a little) less painful if we need to revert.

[2017-04-03 16:09] EricCousineau-TRI commented on #5646
The only caveat I can think of at this point is if there needs to be implicit down-casting flexibility, e.g., `Binding<LinearConstraint>` to `Binding<Constraint>`, or something of that sort. I will see if I run into that issue when I try making the switch.

[2017-04-03 16:13] sherm1 commented on #5629
They aren't actually arbitrary because the step size of a variable step integrator is chosen based (roughly) on the frequency content of the function being integrated, which is highly variable. So the major time steps are spaced evenly in "frequency space" and are the right times to do discrete updates that should have content-dependent update rates. Two simple examples: (1) tracking of min/max va

[2017-04-03 16:39] jadecastro commented on #5702
Update: Looking back on the code and the default output produced above, I think the answer to the original question is that yes- we should include the default branch in that code.

I see now that the reason for this might have been a silly mistake on relying on the graphic in #5169 that isn't in sync with the code. I will update that graphic and fix the branch point problem in a separate PR.

[2017-04-03 17:07] liangfok opened #5707 "MonolaneOnrampMerge Needs to be Generalized"
# Problem Definition

[MonolaneOnrampMerge](https://github.com/RobotLocomotion/drake/blob/e7f5ddcd0f51b43cdf46daae10c6f7c80b77aa34/drake/automotive/monolane_onramp_merge.h#L51) is a [RoadGeometry](https://github.com/RobotLocomotion/drake/blob/6e211f0b03331e6d73a32127927067e2de4f12be/drake/automotive/maliput/dragway/road_geometry.h#L23) generator for on-ramp merge scenarios. Example screenshots are

[2017-04-03 17:41] david-german-tri commented on #5629
Yes, sorry, "arbitrary" was a poor choice of words.  What I meant was that the integrator step size depends on factors outside any given System's control or knowledge, such as the frequency content of other Systems that happen to appear in the same Diagram.

[2017-04-03 18:56] liangfok opened #5708 "Need to Add RoadGeometry::FindLane(const std::string& name)."
And remove it from `AutomotiveSimulator`.

See: https://reviewable.io/reviews/robotlocomotion/drake/5699#-Kgok7MShFFHKbN4xISv

[2017-04-03 19:51] stonier commented on #5012
@jwnimmer-tri who were the groups that were still using Trusty? I'll connect with them and start investigating the status/roadmap.

[2017-04-03 19:56] sherm1 commented on #5629
That's right but from an accuracy perspective the step size still provides a "safe" sampling rate so that all the interesting information in the simulation gets captured by the samples. There may be too many samples taken but that is better than too few and the best you can do if you don't have a priori knowledge about when samples should be taken. So the "major step size" trigger is very useful i

[2017-04-03 20:00] david-german-tri commented on #5629
That certainly makes sense for state changes (as in both your examples).  I guess the argument extends to publish events if you simply put a network interface in the middle of your System architecture, so I buy it.  Thanks for the explanation!

[2017-04-03 20:08] EricCousineau-TRI commented on #5646
It appears that the down-casting caveat becomes a blocking issue, if we wish to have consistency in returning the specific constraint type. I have pushed my attempt here: [issue/5646_return_binding_downcast](https://github.com/EricCousineau-TRI/drake/commit/9412d3767fa39b1208e82f0e33e264f6ab0af061)

We can return `const` references if we decide to either:
a. Always return `const Binding<Constraint

[2017-04-03 21:20] #4719 closed

[2017-04-03 21:20] #4566 closed

[2017-04-03 21:21] david-german-tri commented on #4504
#3129 makes this moot, so closing.

[2017-04-03 21:21] #4504 closed

[2017-04-03 21:21] david-german-tri commented on #4216
#5467 fixed this.

[2017-04-03 21:21] #4216 closed

[2017-04-03 21:22] david-german-tri commented on #4026
#5545 fixed this.

[2017-04-03 21:22] #4026 closed

[2017-04-03 21:24] david-german-tri commented on #3063
This is superseded by the https://github.com/RobotLocomotion/drake/pull/4945 approach.

[2017-04-03 21:24] #3063 closed

[2017-04-03 21:26] david-german-tri commented on #4534
I believe this has been superseded by the CLion support from https://github.com/bazelbuild/intellij, as documented at http://drake.mit.edu/clion.html

[2017-04-03 21:26] #4534 closed

[2017-04-03 21:29] david-german-tri commented on #4730
We have C++ and Python protobufs in the Bazel build.  I don't think we'll ever need to add them to the CMake build, so I'm going to close this as completed.

[2017-04-03 21:29] #4730 closed

[2017-04-03 21:31] david-german-tri commented on #4105
API support was added in #5199, but it won't do anything useful until #2890.

[2017-04-03 21:31] #4105 closed

[2017-04-03 21:33] david-german-tri commented on #4112
This was fixed in https://github.com/RobotLocomotion/drake/pull/5476

[2017-04-03 21:33] #4112 closed

[2017-04-03 21:34] david-german-tri commented on #3662
The exact list of failures in this issue is probably obsolete, but we do still have some failures under memcheck.

[2017-04-03 21:36] david-german-tri commented on #3504
I'm not sure there's any real action here.

[2017-04-03 21:36] #3504 closed

[2017-04-03 21:37] david-german-tri commented on #3998
This was fixed in #4602.

[2017-04-03 21:37] #3998 closed

[2017-04-03 21:50] david-german-tri commented on #5000
Thanks to @liangfok's recent efforts, I believe the only remaining use of `DrakeVisualizer` in `drake/automotive` is in `car_sim_lcm_common.cc`.

[2017-04-03 21:53] david-german-tri commented on #5000
And since `car_sim_lcm` is a dynamics-based simulation, which actually uses a `RigidBodyPlant`, I'm not sure it makes sense to port.  @jwnimmer-tri, are you OK with closing this?

[2017-04-03 22:03] jwnimmer-tri commented on #5000
I am okay with excluding `car_sim_lcm` from the porting, so if everything else is merged, then yes we're done.

[2017-04-03 22:04] #5000 closed

[2017-04-03 22:17] jwnimmer-tri commented on #5012
Great! I will respond offline.

[2017-04-04 08:52] naveenoid commented on #3910
This issue is reopened to track the PR train for the monolithic version of the grasping demo.

[2017-04-04 14:42] david-german-tri commented on #5621
From conversation with @jwnimmer-tri: Jeremy has tried hand-rolling a `drake-visualizer` release, and has only succeeded using system VTK, which of course bakes a brittle load-time dependency into the binary.  We could release those as a stopgap, but a more durable solution would be:

1. Complete #5564 (VTK packages)
2. Add support for the VTK packages in the Director build.
3. Cut `drake-visualiz

[2017-04-04 15:00] jwnimmer-tri commented on #5621
(One clarification from David's note: for "hand-rolling" what I actually did was run director's `Dockerfile` locally.)

I tried this (in Docker), but the resulting package on Xenial did not load correctly for some reason.  It had a Qt-related segfault that I couldn't figure out before I ran out of time.  Given that we want to move away from VTK5 with high priority, I figured it was worth waiting f

[2017-04-04 15:10] patmarion commented on #5621
Yup, that make sense.

I think the packaging part will look similar, whether it's using vtk5 currently or vtk7 down the road.

Thanks for noting the segfault.  Setting `USE_SYSTEM_VTK=OFF` is not quite working, unfortunately.  There is an extra install step that is required to make this method work.  Some folks have been using a workaround by setting `PYTHONPATH`.  I think the extra python install

[2017-04-04 15:16] jwnimmer-tri commented on #5621
Ah interesting.  If you have a link to some work-around recipe, I can try it locally -- I already have in place a launcher wrapper to glue the `director` release tarball into the Bazel build, so I can make the paths be whatever I want in there.  I did try some `PYTHONPATH` solutions but didn't find a working one.

[2017-04-04 15:26] patmarion commented on #5621
The issue is that the vtk install step does not actually install the vtk python libs.  The workaround has been to set the `LD_LIBRARY_PATH` and `PYTHONPATH` as described in Step 6 here:

http://drake.mit.edu/from_source_ros_kinetic.html#drake-ros-kinetic-build-workspace

But, the correct fix is to run the install step for vtk's python modules.  This will copy the vtk python libraries into the corr

[2017-04-04 16:36] SeanCurtis-TRI commented on #5469
This seems to solve the following problem:

Given the class:

[code]

I'd like to be able to have a `Value<Foo>`, but I can't (as presented).  It has no assignment operator or copy constructor. There are three possible solutions.

1) Simply implement `Foo(const Foo& f) const` and `Foo& operator=(const Foo& f)` explicitly.
2) Implement a `unique_ptr<Foo> Clone() const` method on `Foo`, and make `Va

[2017-04-04 16:39] SeanCurtis-TRI commented on #5469
/cc @sherm1 FYI

[2017-04-04 16:51] jwnimmer-tri commented on #5469
The purpose of this issue is that sometimes you have a `T` that is `Clone`-able but should not be copyable, and we want to have `Value<T>` be convenient without users having to manually wrap `T` to be copyable -- the framework should perform that adaptation internally.

That is a different problem than imbuing actual copy and copy-assign semantics onto types that have `unique_ptr<Something>` as a

[2017-04-04 19:58] #5702 closed

[2017-04-04 20:09] sherm1 commented on #5469
FTR, I like the idea of making `Value<T>` smarter as proposed here but would prefer not to mix that discussion with `copyable_unique_ptr<T>` which should live or die on its own merits.

[2017-04-04 21:24] EricCousineau-TRI opened #5718 "Ensure that MathematicalProgram unittest problems inherit from test::OptimizationProblem when able"
Presently, there are some `MathematicalProgram` unittest problems which do not leverage `drake::solvers::test::OptimizationProblem`.
One example is the `LinearSystemExample1` problem: [source](https://github.com/RobotLocomotion/drake/blob/4c8f868/drake/solvers/test/optimization_examples.h#L53).

It would be useful to consolidate these test problems to leverage the existing `OptimizationProblem` in

[2017-04-04 22:25] RoboEvangelist commented on #4840
how exactly do you add, for instance, liblcm.so to the BUILD file on Bazel? I read the comments above, but it's still not clear to me

[2017-04-04 22:39] jwnimmer-tri commented on #4840
Running these commands should run `lcm-logger` successfully:
[code]
If that fails somehow, then please open a new issue showing what you tried and how it failed.

Of if there's some other problem not relating to `lcm-logger`, then perhaps open a new issue for that?

[2017-04-04 23:36] #5647 closed

[2017-04-05 03:10] liangfok commented on #5267
With the landing of #5636, we can easily generate URDFs containing any number of iiwa arms, as exemplified by the dual-arm model introduced by #5660. The next logical step is to add support for the inclusion of end effectors and furniture like the extra heavy duty table. These models, however, are in SDF format, meaning they cannot be added to a URDF via xacro.

@patmarion, you're using a manually

[2017-04-05 05:30] siyuanfeng-tri opened #5725 ""now" event systems::DiscreteEvent::ActionType"
There are a number of instances in the code base (https://github.com/RobotLocomotion/drake/blob/d0a195880b7933d2ef9743279a788bcb25144fe3/drake/automotive/maliput_railcar.h#L70-L83, https://github.com/RobotLocomotion/drake/pull/5712, https://github.com/RobotLocomotion/drake/pull/5724) that want to schedule an event to be handled now now. However returning time = 0 in CalcNextUpdateTime causes some

[2017-04-05 11:14] liangfok commented on #5725
Here is the exception that is thrown when the next update time equals the current time:

https://github.com/RobotLocomotion/drake/blob/1c4dfede2abfc82611fdd04bf991cc29cc1659c3/drake/systems/analysis/integrator_base.h#L1284

[2017-04-05 11:31] jwnimmer-tri commented on #5725
Here was one rough sketch of a solution from a couple days ago: https://github.com/jwnimmer-tri/drake/tree/simulator-zerotime-update

[2017-04-05 12:59] patmarion commented on #5267
The urdf files I used are in the `spartan` repo.  I used a wsg50 urdf and meshes that I got from @gizatt from his earlier work with that gripper and the gelsight sensor.  I believe the got the urdf from the original upstream source here:

http://wiki.ros.org/wsg50
https://github.com/nalt/wsg50-ros-pkg/tree/master/wsg_50_simulation

[2017-04-05 13:18] liangfok commented on #5267
Thanks! I will look into using that URDF. Thankfully it's [released under a BSD license](https://github.com/nalt/wsg50-ros-pkg/blob/a3ab07374a6cff13a90af3c23778622a71d1db14/wsg_50_driver/package.xml#L16).

[2017-04-05 15:18] m-chaturvedi commented on #3662
Here's the current state :

For the Xenial valgrind build the remaining error [ moby_lcp_solver ] seems like a problem with eigen3.  I filed the following bug:
http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1413

For Ubuntu 14.04, the problem seems to be with tests with EXPECT_DEATH.  I've suppressed the errors except the moby_lcp_solver, which is common between Xenial and Trusty.   Relevant link:

[2017-04-05 15:26] jamiesnape commented on #3662
We also have some test sizes and/or timeouts that will need tweaking, and a subset of the suppressions will need to be applied to the Bazel builds.

[2017-04-05 16:31] liangfok commented on #3752
Similar error here: https://drake-jenkins.csail.mit.edu/job/linux-clang-experimental-memcheck-lsan/1209/

[code]

[2017-04-05 16:36] sherm1 commented on #5725
@edrumwri and I are considering the implications of allowing a zero-length continuous step (which is what happens with a "now" update time, because CalcNextUpdateTime() is necessarily called after discrete variables have been updated at step start). My past experience with these has been unpleasant because they easily lead to simulations that hang at seemingly-arbitrary times.

An alternative woul

[2017-04-05 17:26] sherm1 opened #5730 "Should event handling callbacks have a System argument?"
`drake::systems::DiscreteEvent` typically invokes one of the generic handler APIs for Publish, DiscreteUpdate, or UnrestrictedUpdate. However it also allows any subsystem to provide custom callbacks. The generic methods resolve to virtual member functions like DoPublish() and consequently have access to the System as implicit first argument. The signatures of the custom ones don't include a System

[2017-04-05 17:29] jwnimmer-tri commented on #5730
If we instead suggest and provide examples using lambdas for the callbacks, perhaps that is easier on all fronts?

[2017-04-05 20:16] SeanCurtis-TRI commented on #5469
@jwnimmer-tri Out of curiosity, if you have a class that is both (copy constructor and clone), would you favor the copy-constructor over the clone?

[2017-04-05 20:25] #4658 closed

[2017-04-05 20:39] jwnimmer-tri commented on #5469
I think copy, yes.  The main distinction would be whether the `Value<>` has `T` or `unique_ptr<T>` as the member field, and I guess the direct member seems like the better choice.

[2017-04-05 20:57] naveenoid opened #5736 "IiwaPlanSource feedthrough fix needed"
The current IiwaPlanSource performs a read of the input ports at the DoCalcOutput method which leads to it becoming a direct feedthrough system. This can perhaps be avoided in a manner similar to the experimental IiwaStateFeedbackPlanSource by moving the input port value to the AbstractState and updated at DoCalUnrestrictedUpdate.

[2017-04-05 21:03] sherm1 commented on #5730
A lambda would make a nicer example. But in the test case I grabbed the update function is a member of the TestSystem class, which expects its first argument to be a `this` pointer. If that is a common case (which I think is likely since this methods can be complicated) it might be more helpful to show the complicated `std::bind` stuff for copy/paste purposes since users are likely to struggle wit

[2017-04-05 21:03] #5730 closed

[2017-04-05 21:09] david-german-tri commented on #5151
From inspection of the Bazel CLion plugin's source code, it is running a buildifier binary (ELF) that is simply checked into the source tree as a blob:

https://github.com/bazelbuild/intellij/blob/879aa9f77493ceb35b72e962d3b7d218afbf087c/base/src/com/google/idea/blaze/base/buildmodifier/FileSaveHandler.java

https://github.com/bazelbuild/intellij/blob/master/base/src/com/google/idea/blaze/base/bui

[2017-04-05 21:20] david-german-tri commented on #5151
-> https://github.com/bazelbuild/intellij/issues/73

[2017-04-05 21:28] david-german-tri commented on #5151
I just tried manually inserting an up-to-date `buildifier` binary into `clwb_bazel.jar`, specifically as `/base/resources/binaries/bazel-buildifer`.  It appears to work perfectly.  I don't think we can recommend that approach to Drake developers at large, though.

It's interesting to note that the plugin definitely isn't able to autoformat BUILD files on OS X, and convenient that it at least fails

[2017-04-05 21:30] david-german-tri commented on #5151
I'm going to close this issue since there's nothing for us to do until https://github.com/bazelbuild/intellij updates their released plugin.  (I'd PR it to them, but they aren't accepting pull requests.)

[2017-04-05 21:30] #5151 closed

[2017-04-05 22:07] SeanCurtis-TRI commented on #5469
Good.  That's what I was thinking as well.

[2017-04-06 01:04] jwnimmer-tri commented on #5621
I'd like to do a first PR that integrates Pat's already-built binaries into Bazel, to get this solution bootstrapped.  Speak up if anyone objects.

The hazard that if the release ever needed an update for some reason, we might not have an immediate solution, so we'd have to fall back to running CMake director builds by hand.  I think that seems better than _always_ having to run CMake builds, like

[2017-04-06 06:49] naveenoid opened #5742 "Something seems odd with LCM-based kuka simulations"
Onwards from #5719  (cubic interpolation plan runner), the dev/pick_and_place_state_machine (LCM based pick and place demo) works a *lot* slower - specifically IIWA motions only. I have not investigated further but the commit clearly does not affect standalone type demos.

[2017-04-06 07:10] siyuanfeng-tri commented on #5742
confirmed.
the arm definitely moves much slower, but the lcm publish rate from the simulator seems to be normal. suggesting the simulation is running at normal speed.
weird though. i will look into it tomororw.

[2017-04-06 07:17] siyuanfeng-tri commented on #5742
naveen, if you have some spare cpu time, can you figure out where it broke exactly between my merge and sammys? thanks

[2017-04-06 07:20] naveenoid commented on #5742
Actually Im diggin in now and I am not sure if its your PR or sammys..Either case the puzzling thing is that only the IIWA is significantly slower.

[2017-04-06 07:21] naveenoid commented on #5742
I will investigate further and report by the time you are up again ;)

[2017-04-06 11:41] RussTedrake opened #5744 "can't build master on mac (w/ bazel)"
just tried verifying something quickly on mac, but it seems like the snopt bindings have broken?
[code]

[2017-04-06 11:50] jwnimmer-tri commented on #5744
The `strip_include_prefix` is a feature added to Bazel as of 0.4.3 (which is our required version).  Could you check what version of Bazel you are using?

[2017-04-06 12:32] basicNew opened #5745 "Request to remove lane length restriction in DrawLaneArrow"
There is a restriction in [DrawLaneArrow](https://github.com/RobotLocomotion/drake/blob/master/drake/automotive/maliput/utility/generate_obj.cc#L413) on generate_obj.cc, which requires the lane to have a minimum length (from what I've seen this is to make sure you can fit the two triangles used to depict the lane direction). This restriction becomes quite difficult to meet when dealing with arbitr

[2017-04-06 13:03] liangfok commented on #5745
I agree also because the arrows might confuse the viewer into thinking they imply a direction of vehicle travel. Perhaps they can be a feature that is by default disabled but optionally enabled.

[2017-04-06 13:06] basicNew commented on #5745
Glad that you mentioned it @liangfok, I actually though that the arrows depict the lane direction (in the sense that cars should traverse them in that way).

[2017-04-06 13:32] liangfok commented on #5745
Another idea is to place a single arrow in the middle of the segment with no restriction on its minimum length (meaning it could appear like a line when the segment is very short), but include some other markers to denote segment boundaries.

[2017-04-06 14:41] #2271 closed

[2017-04-06 14:45] siyuanfeng-tri opened #5746 "show time in drake_visualizer?"
@patmarion how hard is to render sim time in the visualizer? would be super useful.

[2017-04-06 15:05] siyuanfeng-tri commented on #5742
ok. i understand what's wrong now. it's a combination of the following artifacts:
1. kuka_plan_runner is sending command messages over lcm as soon as it receives a new status message from the simulation.
2. simulation is configured to publish on every step, which sends a status message.
3. with the new lcm subscriber (https://github.com/RobotLocomotion/drake/pull/5712#event-1031007910), every time

[2017-04-06 15:12] david-german-tri commented on #5742
Is [DrakeMockLcm](https://github.com/RobotLocomotion/drake/blob/master/drake/lcm/drake_mock_lcm.h) helpful?  (example usage)[https://github.com/RobotLocomotion/drake/blob/4532d9460627535e5feb7d0f19ce951b35b19f95/drake/multibody/rigid_body_plant/test/rigid_body_plant_that_publishes_xdot_test.cc#L40]

[2017-04-06 15:14] patmarion commented on #5746
There are several examples of how to do this, would be happy to show you.  If you work on this, it would be great if you could do a complete implementation (show sim time and real time factor, possibly other sim stats), but you can also make a quick n dirty implementation just by pasting a few lines of Python.

[2017-04-06 15:17] siyuanfeng-tri commented on #5746
sure i can do it. maybe next week when i am back to cam?

[2017-04-06 15:21] siyuanfeng-tri commented on #5742
@david-german-tri i don't think so, the premise here is things are in different processes., last time i looked at the mock lcm thing, it's in memory loopback right?