[2017-04-06 15:22] naveenoid commented on #5746
Oh sooooo want this!

[2017-04-06 15:26] patmarion commented on #5746
This is the minimal example that you can just copy and paste this into the `drake-visualizer` Python console:

[code]

A more complete implementation might define a class that manages the subscriber and provides an API to query for information like current sim time, sim real time factor, etc, and a separate UI class that displays the information in a panel or in the status bar with a menu option t

[2017-04-06 15:30] siyuanfeng-tri commented on #5746
this is all i want, is there a way to avoid typing this every time in the viz?

[2017-04-06 15:30] siyuanfeng-tri commented on #5746
that probably requires compiling some c code on your end?

[2017-04-06 15:33] david-german-tri commented on #5742
Yes, so it might be useful for unit tests of the code that publishes messages, for instance to lock in that you are publishing at a fixed rate.

[2017-04-06 15:33] patmarion commented on #5746
`drake-visualizer --script myscript.py`

But please consider investing the time to contribute this feature to `drake-visualizer` in a way that everyone can benefit from it.  My previous comment described what I would consider to be a welcome contribution.

[2017-04-06 15:34] siyuanfeng-tri commented on #5742
ah, i see. makes sense.

[2017-04-06 15:34] siyuanfeng-tri commented on #5746
would be next week then.

[2017-04-06 15:35] patmarion commented on #5746
While we're on the topic of sim time, I use this script to replay sim lcm logs at a realtime rate:

https://github.com/RobotLocomotion/spartan/blob/master/scripts/sim_playback.py

`drake-visualizer --script sim_playback.py simlog.lcmlog`

[2017-04-06 15:45] patmarion commented on #5456
Any updates @mwoehlke-kitware?  Having a working `drake-config.cmake` would benefit so many users.

[2017-04-06 15:51] jamiesnape commented on #5744
Is there a way to do a version check at the start of the Bazel build?

[2017-04-06 15:55] jamiesnape commented on #5456
We are currently finishing up the `drake-config.cmake` that utilizes the Bazel build.

[2017-04-06 15:57] patmarion commented on #5456
This issue is tracking the `drake-config.cmake` produced by the drake cmake build.  Is this issue going to be resolved or wont-fix?

[2017-04-06 16:00] #5646 closed

[2017-04-06 16:04] soonho-tri commented on #5744
This commit is related: https://github.com/bazelbuild/bazel/commit/6c2aaacb5b9b01fa5614b6a2b147859fc70c9125

[2017-04-06 16:06] jwnimmer-tri commented on #5744
Sounds like a great idea.

[2017-04-06 16:31] david-german-tri commented on #5744
Nice - another reason to bump to 0.4.5.

[2017-04-06 17:39] liangfok opened #5750 "Move Modeling Files Created by AutomotiveSimulator Into Bazel Sandbox"
See: https://reviewable.io/reviews/RobotLocomotion/drake/5741#-Kh3DAHYsSPCGMDxzaMg

[2017-04-06 17:48] liangfok opened #5751 "Update maliput::api::Lane to Provide Rotational Spatial Velocity Information."
Vehicle models that track Maliput road networks need to be able to output their `FrameVelocity`, which includes a rotational component. This issue tracks the modification of Maliput's Lane API to enable this information to be obtained.

[2017-04-06 17:58] liangfok commented on #5750
Since the modeling files were created using `maliput::utility::GenerateUrdfFile()`, I think it may be best to provide a sister `maliput::utility::RemoveGeneratedUrdfFile()` that undoes the filesystem artifacts.

[2017-04-06 18:22] EricCousineau-TRI opened #5752 "Consider defaulting to `linkshared` for libraries when bazel-building on Linux to improve debug build performance"
If building a set of tests or binaries in debug mode using bazel, you may notice slow read warnings such as this when linking or executing binaries:
[code]

This could possibly be mitigated by defaulting to shared libraries on Linux.
Spoke to @david-german-tri, and the rationale for using static libraries was to make things simpler on Mac OSX and avoid issues such as #4952 and bazelbuild/bazel#507

[2017-04-06 20:18] jwnimmer-tri commented on #5752
I've also had this on my mind for a while; glad to have it in issue for now.

I've wondered if we might be able to nibble away at this, by e.g. making RigidBodyTree and/or RigidBodyPlant (and maybe the parsers) into shared libraries, but leaving other things alone.  Their object code is exceedingly huge, so once we shove it out of the way, everything else might be okay for a while.

I'm not sure i

[2017-04-06 20:19] jwnimmer-tri commented on #5750
A better answer is to create them somewhere that is automatically cleaned up, such as the Bazel sandbox, a system location that has a janitor daemon, and/or a transient filesystem.

Having programmers match create / destroy function calls manually will never work.

[2017-04-06 20:21] liangfok commented on #5750
Thanks. I've updated the title accordingly.

[2017-04-06 20:22] RussTedrake commented on #5744
doh.  was on 0.4.2 .  too many machines.  thanks all!

now I get:
[code]

[2017-04-06 20:30] jwnimmer-tri commented on #5744
I don't have the issue number atop my head, but sadly Bazel caches (or at least used to cache) download failure messages.  So if you fail once, it will remember the failure and not retry (unless you change something about the URL or etc).  The work-around is to change the URL and retry (and then put it back), or else `bazel clean`.

[2017-04-06 20:39] soonho-tri commented on #5744
@jwnimmer-tri , I think we do have a wrong `sha256` at https://github.com/RobotLocomotion/drake/blob/master/WORKSPACE#L209.

[2017-04-06 20:39] soonho-tri commented on #5744
I can reproduce the problem by running:
[code]

[2017-04-06 20:42] jwnimmer-tri commented on #5744
OH!  They renamed their repository an hour ago.  Ugh!

[2017-04-06 20:44] jwnimmer-tri commented on #5744
That's a more satisfying answer (because I thought download-fail caching was already fixed), but annoying that bisect is broken forever in the past now.

Yet another reason to get Drake-specific mirroring of tarballs up into our CI.

[2017-04-06 20:44] soonho-tri commented on #5744
lol, that solves the mystery. I was thinking that we're under a man-in-the-middle attack..

[2017-04-06 21:32] #5744 closed

[2017-04-06 22:38] RussTedrake commented on #5693
This didn't read the way I expected.  #5666 already makes the fix to pass in autodiff matrices with derivatives allocated for only the relevant variables.  I thought you comment in reviewing #5666 was about using sparse matrices instead of dense matrices?

[2017-04-07 07:29] hongkai-dai commented on #5693
I mean that in the cost function, `snopt_solver.cc` sets `iGfun` to be 1, and `jGvar` to be ALL variables in the entire optimization program, as in https://github.com/RobotLocomotion/drake/blob/master/drake/solvers/snopt_solver.cc#L421-#L424
So if we have an optimization problem with variables `x` and `y`, and our cost function is `f(x) = 2 * x`. Although the cost function only takes `x` as the in

[2017-04-07 08:04] maddog-tri commented on #5745
@basicNew, could you please attach a test case that exercises this failure?  (E.g., a small monolane YAML file that triggers it.)

[2017-04-07 12:29] basicNew commented on #5745
Sure. This monolane:

[code]
gives me this error:

[code]

If I comment out that line, I get this segment generated:

![segment](https://cloud.githubusercontent.com/assets/4070228/24799987/8bc792d8-1b74-11e7-83ee-4a3e82003717.png)

[2017-04-07 14:55] #5645 closed

[2017-04-07 15:04] patmarion commented on #5621
Sounds good.  I will offer Dockerfiles to automate the packaging of `drake-visualizer` with vtk, for ubuntu14 and ubuntu16.  I will leave it to you guys to determine where to run the packaging and where to upload the packages, if you find this useful at all.

[2017-04-07 15:05] patmarion commented on #5562
Fixed by #4830

[2017-04-07 15:05] #5562 closed

[2017-04-07 15:18] patmarion commented on #4828
fixed by #4830

[2017-04-07 15:18] #4828 closed

[2017-04-07 15:21] EricCousineau-TRI commented on #5456
This may have been resolved in `spartan` by updating `drake`. Will see I can test with a simple `CMake` external as well.

[2017-04-07 15:30] patmarion commented on #2628
I'd like to make a goal to complete this migration next week.  I'm happy to take on testing and development of the remaining tasks.  @mwoehlke-kitware any work in progress I should start from?

[2017-04-07 16:13] mwoehlke-kitware commented on #2628
I'm out of the office ATM and don't have physical access to my development machine, and the VTK OpenGL2 backend doesn't seem to play nice with Xvfb, so I can't get anything to run. However, before I ran into that, I ran into some Qt5 porting issues in the _Python_ side, which suggests I'm getting fairly deep into the pile of things that could go wrong. (Previously, I had immediate SEGV's due to mi

[2017-04-07 16:17] patmarion commented on #2628
Looks great, thanks!

[2017-04-07 17:40] jamiesnape commented on #2628
I have someone else coming on board next week to finish the migration.

[2017-04-07 17:44] jwnimmer-tri commented on #5621
Yes, I think it will very useful, thanks!  I expect I'll run it on my workstation for now (and have a buddy check to make sure a second workstation can do it), and medium-term try to get Drake's cloud to do it somehow, one some time there frees up.

[2017-04-07 18:44] amcastro-tri opened #5765 "Provide a mathematically rigorous definition for the inertia tensor"
During the review of PR #5524 the Dynamics team discovered that the documentation for `RotationalInertia` is not accurate enough.
The best way to eliminate the problem is providing a rigorous mathematical definition of the inertia tensor as an (contravariant/covariant?) variant of second order. The definition should be independent of the any basis (and therefore the physical concept still is valid

[2017-04-07 21:29] maddog-tri commented on #5745
Thanks for the test case!  It has been incorporated into a unit-test in the pending PR.

FYI, the arrows can already be disabled --- see `maliput::utility::ObjFeatures.draw_arrows`.  (The default is `true`.  I have found them really handy for debugging/understanding the road geometry.)

[2017-04-07 22:24] manuelli commented on #5019
Any update on this? Would be super useful feature for a planning project we are working on with Robin and Twan.

[2017-04-07 23:33] #5745 closed

[2017-04-08 00:16] hongkai-dai commented on #5019
We have `EvalBindingAtSolution`, does this solve your problem? Or you need to evaluate an expression that is not a constraint or a cost?

[2017-04-08 00:50] manuelli commented on #5019
I took a look at `EvalBindingAtSolution` and I don't think it quite solves my problem since I need to evaluate something that isn't a constraint or cost. Essentially the use case is as follows. There are some variables `x y`. I make an expression `z = x + y` which appears often in constraints, costs etc. For example `AddLinearConstraint(z <= 1)`. I would like to get the value of `z` at the optimal

[2017-04-08 01:04] basicNew commented on #5745
@maddog-tri thanks for the quick fix and hint on disabling arrows!

[2017-04-08 02:48] jadecastro opened #5772 "Implement {Arc, Line}Lane::DoToLanePosition and RoadGeometry::DoToRoadPosition in Monolane"
Required for applying IdmController to an onramp merge scenario.  Also required for applying PurePursuit in Monolane.

[2017-04-08 05:06] hongkai-dai commented on #5019
Currently the simplest solution is to use `Evaluate` function in `symbolic_expression.h`. You will need to construct a `symbolic::Environment`, to store the mapping between the symbolic variables, and their values at the solution. The easiest way is to do
[code]

I will wrap up this code block into `GetSolution(const Expression& e)` later in a PR. For the moment, could you try this code snippet fi

[2017-04-08 13:55] manuelli commented on #5019
Ok I am on working through the Python API currently but will make a c++ example and try it out. It turns out the expression is linear, so maybe I could make just make it into a linear cost or constraint and then evaluate it.

[2017-04-09 15:13] GuiyangXin opened #5777 "How to detect contact force?"
Hello guys,
I want to detect the contact forces on feet for LittleDog. I found a example named as contactSensorTest.m. The method is to use "ContactForceTorqueSensor" class and the "addSensor". My question is the same as in this Issue #102. I don't know how to understand the result because I don't know the relationship between the sensor's frame and the world frame. I want to get the result for co

[2017-04-09 20:52] CatchMeFastFat opened #5778 "How does drake differ from Gazebo?"
First of all I don't mean to spam here, I just want to know which one I should learn as I can see that drake is going to depend on C++ only, so I want to know its pros. and cons.
I am new to both(ros/gazebo and drake).

I don't know anyother place where I can ask that question.

Thanks in advance.

[2017-04-09 21:21] patmarion commented on #5621
if you want to try, here are some ubuntu 16 binaries:

[experimental- director with vtk7 (depends on system qt5)](http://people.csail.mit.edu/patmarion/software/director/releases/director-0.1.0-88-g1da067a-ubuntu-16.04.tar.gz)
[
director with vtk5 (depends on system qt4)](http://people.csail.mit.edu/patmarion/software/director/releases/director-0.1.0-73-gd931e35-ubuntu-16.04.tar.gz)

[2017-04-09 21:45] patmarion commented on #2628
I made some more progress on top of @mwoehlke-kitware's work.  Thanks!

I got things to compile and pass all tests on mac and ubuntu 16.04.  I built with vtk 7.1.1 from source.  On mac I used the latest homebrew qt 5.8 and on ubuntu 16.04 I used system qt 5.5.  My work in progress is here (not cleaned up, subject to change and rebases):

    https://github.com/patmarion/director/tree/port-vtk7-qt5

[2017-04-10 13:24] jamiesnape commented on #2628
@patmarion Are you going to keep working on it or can the VTK developer that is coming on board finish it up this week?

[2017-04-10 13:34] patmarion commented on #2628
Let's coordinate on slack, would very much like to talk about the remaining details.

[2017-04-10 15:20] david-german-tri opened #5781 "Upgrade to Bazel 0.4.5"
[Bazel 0.4.5](https://github.com/bazelbuild/bazel/releases/tag/0.4.5) provides some useful stuff, especially the `environ` parameter to `repository_rule`, which resolves [this TODO in gurobi.bzl](https://github.com/RobotLocomotion/drake/blob/c4980b854aa751692c4b46740fd052e655056fd9/tools/gurobi.bzl#L8-L9).

I believe #5762 fixed our last 0.4.5 backwards-compatibility issue - I've been beta-testing

[2017-04-10 15:31] EricCousineau-TRI opened #5782 "Consider setting `LCM_DEFAULT_URL` to a non-default URL for bazel tests (such as `memq://`)"
When running unittests, `bazel` scrubs the environment variables, and therefore will use the default URL when executing `bazel test ...` ([example](https://github.com/EricCousineau-TRI/repro/blob/f78d33a/env_behavior/output.txt). This is generally not an issue, unless you are running `drake-visualizer` using the default `LCM_DEFAULT_URL`, where you will see the test artifacts appear.

It may be us

[2017-04-10 15:37] david-german-tri commented on #5782
Do you have a working prototype for this?  I haven't tried to coerce particular environment variables into `bazel test` before, but https://bazel.build/versions/master/docs/test-encyclopedia.html seems to suggest it isn't possible.

[2017-04-10 15:40] #5490 closed

[2017-04-10 15:49] EricCousineau-TRI commented on #5782
[`--action_env`](https://bazel.build/designs/2016/06/21/environment.html) seems like it can provide this, but it may only be updated upon a `bazel clean`, and does not seem to provide any warnings when it isn't provided by the current workspace:
https://github.com/EricCousineau-TRI/repro/blob/7a938c7/env_behavior/exec.sh

Here is the example output:
https://github.com/EricCousineau-TRI/repro/blob/

[2017-04-10 17:01] jwnimmer-tri commented on #5782
Most unit tests should be using mock LCM, not real LCM, anyway.  Maybe the (~3?) unit tests that need to send real LCM could call some programmatic API to change the URL, instead?

[2017-04-10 17:15] sammy-tri commented on #5782
FWIW, there are some examples/ where someone may want to run it manually and watch the output.

[2017-04-10 17:17] jwnimmer-tri commented on #5782
Sure, of course.  I thought those were out of scope with respect to the original posting.

[2017-04-10 18:33] jwnimmer-tri opened #5785 "Establish Eigen 3.3.3 as the newest version we're allowed to require"
Drake should switch to using Eigen 3.3.3 (the latest release) as its preferred version of Eigen, and document that changing it to be otherwise would be expensive -- because bleeding-edge Eigen becomes difficult to integrate into other projects that link in Drake.  We should no longer fork Eigen for ourselves, and bugs should be worked-around (and reported / fixed upstream) but not immediately bump

[2017-04-10 19:41] manuelli commented on #5456
I just wanted to follow up on @patmarion comment on whether the drake-config.cmake produced by the drake cmake build is planning to be fixed? This is a blocking issue for using the kuka arms with drake.

[2017-04-10 20:24] david-german-tri commented on #5456
@manuelli, thanks for the ping.  If you're blocked, you are certainly welcome to fix this yourself, but after further discussion I don't see a reason for TRI/Kitware to prioritize it.  TRI is committed to the Bazel transition.  At this point, we're only investing in CMake development to the extent that it helps that transition.

My thought two weeks ago was that a CMake-based `drake-config.cmake`,

[2017-04-11 00:37] RussTedrake commented on #4730
fwiw -- #5786 adds it to the cmake build.

[2017-04-11 05:12] hongkai-dai commented on #5777
The line
[code]
says how the frame is attached  to the body `front_left_lower_leg`. The first `zeros(3,1)` is the position of the `FT_frame` in the body frame, and the second `zeros(3,1)` is the orientation of the `FT_frame` in the body frame (using Euler angles in space-fixed x-y-z order). In this case, the force torque sensor frame `FT_frame` aligns with the body frame `front_left_lower_leg`, si

[2017-04-11 10:43] RussTedrake commented on #5778
drake and gazebo both have simulation capabilities.

gazebo wraps a number of open-source multi-body dynamics engines, where as drake implements it's own.  we are putting a considerable effort in drake to verify the accuracy of this multi-body engine... perhaps to a degree that has not been done before.  but it is still a work in progress.

drake offers considerably more tools than simply simulati

[2017-04-11 10:43] #5778 closed

[2017-04-11 13:14] jamiesnape commented on #5785
@m-chaturvedi has a pull request into Eigen that may be of interest before fixing a version: https://bitbucket.org/eigen/eigen/pull-requests/308/auto-diff-scalar-bug/diff

[2017-04-11 13:53] david-german-tri commented on #4688
@SeanCurtis-TRI, I've removed this from Kitware's queue, and will leave it to you to prioritize.

[2017-04-11 14:01] david-german-tri commented on #4318
Since no one is actually using xcode anymore TTBOMK, I'm going to close this as wontfix.  Signed/unsigned comparison in test assertions seems like too unimportant a defect to spend time boilerplating.  (It's hard to imagine anyone writing a test that accidentally passes because of integer underflow.)

[2017-04-11 14:01] #4318 closed

[2017-04-11 14:05] SeanCurtis-TRI commented on #4688
Do we have any sense of timeline for the OSRF sdf parser landing?

[2017-04-11 14:06] david-german-tri commented on #4354
We haven't had anyone report an actual problem related to this, so I'll close as wontfix.  After #3129, the submodules will be removed anyhow.

[2017-04-11 14:06] #4354 closed

[2017-04-11 14:14] liangfok commented on #4688
/cc: @clalancette ^^

[2017-04-11 14:51] david-german-tri commented on #3187
This is trivial in the Bazel WORKSPACE file, so I'm going to close as wontfix for CMake.

[2017-04-11 14:51] #3187 closed

[2017-04-11 14:54] david-german-tri commented on #4917
This will be a moot point after #3129, since Bazel allows only declared dependencies.  Moreover, the existence of a Bazel build covering almost our entire tree proves that our actual C++ deps are already sane. Closing as wontfix.

[2017-04-11 14:54] #4917 closed

[2017-04-11 14:55] david-german-tri commented on #4606
Closing as wontfix since no one is using xcode anymore TTBOMK.

[2017-04-11 14:55] #4606 closed

[2017-04-11 14:57] david-german-tri commented on #3133
I agree, but we can't actually start using it until the CMake build is turned down, so I'm going to leave this issue open to track it.

[2017-04-11 15:00] david-german-tri commented on #3418
This appears to still be broken, but since no one has complained about it in 6+ months, I'm going to tag it as backlog.

[2017-04-11 15:01] david-german-tri commented on #3096
It looks like this fix has been rolled out on drake-cdash.  @BetsyMcPhail, please close if you agree.

[2017-04-11 15:09] #5742 closed

[2017-04-11 15:19] david-german-tri commented on #4146
We were originally interested in standing up a Xenial 32-bit build to replace the Windows 32-bit coverage that we turned down in October 2016.  As of November, I believe this error was the only known blocking issue.

I think it would still be nice to get this coverage, but I'm tagging it as low-priority, since we haven't had any particular demand for 32-bit Drake.

[2017-04-11 15:22] david-german-tri commented on #4635
I agree, and since no one has shown up to disagree further in the past three months, I'm going to close this as wontfix.  (Of course, it can be reopened if it is or becomes a pain point.)

[2017-04-11 15:22] #4635 closed

[2017-04-11 15:27] david-german-tri commented on #2835
I think #4143 fixed this.

[2017-04-11 15:27] #2835 closed

[2017-04-11 15:28] david-german-tri commented on #2740
This was fixed in #4092 as part of a broader redesign of how Gurobi gets into the build.

[2017-04-11 15:28] #2740 closed

[2017-04-11 15:30] david-german-tri commented on #3126
I think this is wontfix due to imminent #3129.

[2017-04-11 15:30] #3126 closed

[2017-04-11 15:33] david-german-tri commented on #3578
Creating input ports: `FixInputPort`

Packing `AbstractValue`: `pack_value.h`

Verifying the input and output topology: I don't believe there's a notation that would be usefully more concise than the current norm on master.

[2017-04-11 15:33] #3578 closed

[2017-04-11 15:51] david-german-tri opened #5792 "Fail fast on unsupported Bazel versions"

[2017-04-11 16:02] jamiesnape commented on #3418
Also, how we do ROS builds is more than likely going to change significantly after the Bazel switch, so we should ideally postpone until then.

[2017-04-11 16:03] jamiesnape commented on #5792
Partially related to https://github.com/RobotLocomotion/drake/issues/5744.

[2017-04-11 16:23] hongkai-dai opened #5793 "FindMatlab.cmake does not work for MATLAB R2017a"
When building with MATLAB R2017a, @RussTedrake and I receive the following error
[code]
I do not see this error with MATLAB R2016a, or any previous versions.

[2017-04-11 16:43] jwnimmer-tri commented on #5785
I don't fully understand that issue yet maybe, but my initial reaction is that its the kind of thing that Drake should work around, and not need to bump the Eigen commit to fix.

[2017-04-11 16:47] jamiesnape commented on #5785
It is bona fide memory issue, so I would disagree, but it is up to you.

[2017-04-11 16:52] jamiesnape commented on #3662
@david-german-tri Given #5785, what do you want to do about the Eigen bug and its potential fix (https://bitbucket.org/eigen/eigen/pull-requests/308/).

[2017-04-11 16:55] jwnimmer-tri commented on #5785
Drake could work around it by specializing `numeric_limits` for `AutoDiffScalar`, I think?

[2017-04-11 16:56] jamiesnape commented on #5785
Yes, that works for me.

[2017-04-11 17:04] david-german-tri commented on #5785
@stonier, this is relevant to our f2f conversation this morning.

[2017-04-11 17:04] EricCousineau-TRI commented on #5782
@sammy-tri (Just wanted to echo our conversation form yesterday) For the unittests that you wish to run and inspect the output, you can use `bazel run` to directly execute the binary without an isolated environment; checked this by running `bazel run :main` on the above example.

@jwnimmer-tri That makes sense. Is there an easy way to figure out which tests are not using the mock LCM?

[2017-04-11 17:15] jwnimmer-tri commented on #5782
@EricCousineau-TRI `drake/lcm/drake_mock_lcm.h` is the mock object; `drake/lcm/drake_lcm.h` is the real (transmitting / receiving) object.  You can find programs using one or the other using grep (and doing in the transitive-use reasoning yourself) or via `bazel query`.

[2017-04-11 18:51] manuelli commented on #5456
Ok thanks @david-german-tri. I haven't been following all the Bazel related discussion super closely so maybe some of my questions have been answered elsewhere but here goes.

1. Is supporting downstream projects like `spartan` that use drake as a CMake external project something that is a priority and will be maintained after the transition to Bazel? Is someone at TRI going to own this (there see

[2017-04-11 19:06] mwoehlke-kitware commented on #5456
Yes. Sort-of. The set of available targets is going to change radically, and may change again. (Right now, there is just `libdrake.so`, which includes at least some bits of third-party libraries e.g. lcm, bullet, fcl... This may change in the future.) So there will be some porting effort required, but in general, we do intend to support CMake consumers of Drake.

See also #5763.

*In theory*, as o

[2017-04-11 19:21] #3096 closed

[2017-04-11 19:37] edrumwri opened #5798 "Integer statistics in IntegratorBase should be of type int64_t"
Two billion evaluations (MAX_INT) is unlikely but possible for long-running simulations.

[2017-04-11 20:31] david-german-tri commented on #5456
@mwoehlke-kitware is correct.  To clarify one thing, though - #5763 provides a `drake-config.cmake`, but the actual headers and object code in the package are currently limited to a [few particular Bazel targets](https://github.com/RobotLocomotion/drake/blob/master/drake/BUILD#L14).  Now that all the infrastructure is up and running, we should be able to add more targets into that list quickly, in

[2017-04-11 20:38] manuelli commented on #5456
Ok thanks, a quick list of needed targets for `spartan` would include at least

- `drakeCommon`
- `drakeLCMUtil`
- `lcm`
- `yaml-cpp`

[2017-04-11 20:45] jamiesnape commented on #5456
`bot-spy` yes
`signal-scope` no
`procman` I am not sure, what repo is it in?

[2017-04-11 20:51] manuelli commented on #5456
I believe it is part of `libbot` in `drake/externals`

[2017-04-11 20:54] jwnimmer-tri commented on #5456
When I last spoke with @sammy-tri on this a month or so ago, we agreed it was reasonable for things like `bot-spy` or especially `bot-procman` to be built via Spartan's CMake (super)build directly; there's no reason to indirect them through Drake's Bazel build, since they are just programs.

[2017-04-11 20:59] manuelli commented on #5456
Ok so `drake` is never going to provide these tools when it is used standalone, or are they just not going to be available targets in the `drake-config.cmake`? I mention this because I consider `bot-spy` an essential tool when doing anything with `lcm`?

[2017-04-11 21:04] mwoehlke-kitware commented on #5456
FWIW, CMake and CPS *do* support exporting/importing of executable targets as well as libraries... although in this case, I'd imagine having them available for end users is more interesting.

I'm inclined to agree; if drake-bazel takes over building LCM and libbot for Drake's use, it seems like it ought to be building and packaging their tools as well; otherwise anyone that wants to use them (not

[2017-04-11 21:39] patmarion commented on #5456
So maybe a first proof of concept might look like:

  - drake bazel build provides drake libs, headers, and python bindings, and eigen headers (via drake-config.cmake)
  - spartan superbuild provides lcm (libs, tools, cmake scripts), libbot (procman), rl/lcmtypes, and signalscope, and of course director and its dependencies

Director (along with pydrake) currently requires:

[code]

We also use sn

[2017-04-11 21:55] jwnimmer-tri commented on #5456
@patmarion That's very helpful!

I think the next step is first for Drake developers to improve `package_drake.sh` so it provides those items (and provide them in useful ways), and then second to iterate on what it looks like to switch the build technology over (under the hood) for Spartan, Director, etc.

I'm not 100% sure who owns pushing that forward from the Drake developers side (there are a

[2017-04-11 21:57] #1586 closed

[2017-04-11 22:23] rdeits opened #5799 "Valkyrie balancing controller example aborts"
Running the Val balancing controller aborts with

[code]

Looks like maybe that should have been removed as part of #5672 ?

[2017-04-11 22:24] rdeits commented on #5799
Oh, maybe I just misunderstood the message, as in, it will be fixed at some point after #5672 not necessarily as a part of #5672

[2017-04-11 22:31] liangfok commented on #5799
I believe the fix is part of #5787.

[2017-04-11 22:39] rdeits commented on #5799
Got it, thanks.

[2017-04-11 22:39] #5799 closed

[2017-04-12 00:12] liangfok commented on #5288
I am unassigning myself since the MaliputRailcar version is in #5756 and @jadecastro will PR the `SimpleCar` version.

[2017-04-12 03:23] liangfok commented on #5750
I'm going to close this issue because the files are currently created in `/tmp`, which is automatically cleared on our target platforms.

I briefly looked into using Bazel's `genrule()` to generate the road network files but figured I can't without explicitly enumerating and thus limiting the types of `maliput::api::RoadGeometry` objects supported. Currently, _any_ `RoadGeometry` can be passed to

[2017-04-12 03:23] #5750 closed

[2017-04-12 03:30] liangfok commented on #5128
After integrating `dragway` with `AutomotiveSimulator`, I don't think the current API is cumbersome enough to require factory support. In addition, the exposure of dragway-specific `Junction`, `Segment`, and `Lane` APIs have not been problematic. I shall thus close this issue.

[2017-04-12 03:30] #5128 closed

[2017-04-12 03:57] liangfok commented on #4641
This is blocked on #4337.

[2017-04-12 03:58] liangfok commented on #4355
I'm going to close this because we're most likely going to switch to the URDF model based on this comment: https://github.com/RobotLocomotion/drake/issues/5267#issuecomment-291853312

[2017-04-12 03:58] #4355 closed

[2017-04-12 04:00] liangfok commented on #3361
@amcastro-tri, should this be added to the wish list in #5013?

[2017-04-12 04:03] liangfok commented on #3240
OK. Since upstream doesn't complain, I'll close this issue. Maybe once #4337 is resolved we can revisit to ensure consistent behavior between Drake vs. Gazebo.

[2017-04-12 04:03] #3240 closed

[2017-04-12 04:05] liangfok commented on #3257
I'm going to close this issue because it's describing an anticipated future problem, not a current pressing problem. We can reopen it when it becomes a current problem.

[2017-04-12 04:05] #3257 closed

[2017-04-12 04:08] liangfok commented on #3075
With Drake's impending switch to being built by `Bazel`, the way in which Drake + ROS is integrated will have to change. I'm thus going to close this issue while that more drastic change occurs.

[2017-04-12 04:08] #3075 closed

[2017-04-12 04:10] liangfok commented on #3493
With #4337 and the removal of `RigidBodySystem` from `master`, I think it's safe to close this issue. Any remaining sensor-specific parsing can be added as needed.

[2017-04-12 04:10] #3493 closed

[2017-04-12 04:13] liangfok commented on #2990
I'm closing this issue because `RigidBodySystem` is no longer in `master`.

[2017-04-12 04:13] #2990 closed

[2017-04-12 04:14] liangfok commented on #1856
I'm going to close this issue for now but tag #4337 as something to unit test after the SDF parser is swapped.

[2017-04-12 04:14] #1856 closed

[2017-04-12 04:16] liangfok commented on #2589
This might be something to add to #5013. /cc: @amcastro-tri.

[2017-04-12 04:16] #2589 closed

[2017-04-12 04:21] liangfok commented on #2347
The `compareParsers` unit test was removed in #4867.

[2017-04-12 04:21] #2347 closed

[2017-04-12 04:25] liangfok commented on #4687
I'm going to close this issue for now since it's not blocking anyone. I can imagine this topic being so deep that it cannot be easily tracked as a github issue.

[2017-04-12 04:25] #4687 closed

[2017-04-12 04:30] liangfok commented on #3020
I'm going to close this issue because the physics-based Drake + ROS car simulation was removed in #4391. In addition, our current and future vehicle models will be outputting `FrameVelocity` values, which will contain their own unit tests.

[2017-04-12 04:30] #3020 closed

[2017-04-12 04:32] liangfok commented on #4445
I'm going to close this issue since the way Drake + ROS is integrated will need to be revamped once #3129 is resolved.

[2017-04-12 04:32] #4445 closed

[2017-04-12 04:35] liangfok commented on #2979
@amcastro-tri, I'm going to close this issue since I assume it'll be superseded by the switch to `MultibodyWorld`. Please re-open if I'm wrong.

[2017-04-12 04:35] #2979 closed

[2017-04-12 04:40] liangfok commented on #2973
I'm going to close this issue because (1) we ended up [not using](https://github.com/RobotLocomotion/drake/pull/3008#issuecomment-237023846) `ModelElementID` and (2) we're about to switch to `MutlibodyTree`.

[2017-04-12 04:40] #2973 closed

[2017-04-12 04:42] liangfok commented on #2975
I'm going to close this issue since we're about to switch to `MultibodyWorld` and specific simulators like `AutomotiveSimulator` has their own model instance id abstraction.

[2017-04-12 04:42] #2975 closed

[2017-04-12 04:43] liangfok commented on #2964
\cc: @EricCousineau-TRI since you might have expressed interest. I'm closing for now since it's not blocking anyone right now.

[2017-04-12 04:43] #2964 closed

[2017-04-12 04:46] liangfok commented on #2590
I'm closing this as "won't fix" since the way Drake + ROS is integrated will need to redesigned post #3129.

[2017-04-12 04:46] #2590 closed

[2017-04-12 04:54] liangfok commented on #1471
I believe this was resolved by #4363, notably the various `PopulateFoo()` methods added to `drake/multibody/package_map.h`.

[2017-04-12 04:54] #1471 closed

[2017-04-12 11:36] liangfok commented on #5298
I'm going to close this issue due to Director's imminent switch to VTK 6/7.

[2017-04-12 11:36] #5298 closed

[2017-04-12 11:40] liangfok commented on #2811
Yes, I believe the "test" package is gone now. The following was obtained using fb409c870e6bd7d76f27b6cb7a7c7e5f4ae64798.

[code]

[2017-04-12 11:40] #2811 closed

[2017-04-12 13:06] stonier commented on #5456
If I read this correctly, this is the concern I raised with David the other day. This particular package is nice if you build exclusively on top of Drake, but this looks like it is going to fail hard if user's applications include/link against both drake *and* other libraries of their own that require system dependencies (which have a different version) of drake's dependencies. e.g. Eigen.

i.e. I

[2017-04-12 13:44] jwnimmer-tri commented on #5456
@soonho-tri That is both off-topic for this issue, and a misinformed understanding both first of the problems at hand and second what the build system roadmap looks like.

[2017-04-12 13:55] soonho-tri commented on #5456
@jwnimmer-tri , you meant @stonier , right?

[2017-04-12 13:58] amcastro-tri commented on #5798
Originated from [this comment](https://reviewable.io/reviews/robotlocomotion/drake/5575#-Kh8onqxZqZN7q4L-hMP) in a PR review.

[2017-04-12 14:03] jamiesnape commented on #5456
In our rough initial prototype (https://gist.github.com/jamiesnape/3f16b586692c639be286a0faff45afde), we had CMake targets for some of the externals that would be perfectly usable by CMake, but first we are just going to get a build working with a single target that includes all libraries, whether statically linked or otherwise.

[2017-04-12 14:19] liangfok commented on #4045
Since `hsrb_description` is no longer in master, I'm removing it from the OP.

[2017-04-12 14:20] david-german-tri commented on #5456
As far as I can tell, everyone agrees that

* We will be able to build `spartan` and other downstream users against a monolithic `libdrake.so`, so that's a reasonable way to get started.
* It will be possible to split `libdrake.so` into smaller libraries - both freestanding externals, and smaller pieces of Drake - in the future, as there's a need and as we figure out what exactly those pieces shou

[2017-04-12 14:20] liangfok commented on #4045
I'm unassigning myself from this issue since the drake/ros license is updated in #5803.

[2017-04-12 14:31] sammy-tri commented on #5456
slightly off topic, but since `bot-spy` came up, it seems worth noting another class of artifacts which are relevant to `bot-spy`...  the java lcmtypes.
[code]

I can't find any equivalent of those files in bazel-*.  There are some jar files in `bazel-bin/drake/lcmtypes`, but it hardly looks like enough for bot-spy to work (for a drake end user or downstream project)

[2017-04-12 14:31] david-german-tri commented on #5564
@sankhesh et. al. - I've heard periodically over the past couple weeks that the packages are done.  Could you PR documentation updates about where to find them, and then close this issue?  Thanks!

[2017-04-12 14:40] jwnimmer-tri commented on #5456
Drake's Bazel build has `lcmtypes_bot2-core.jar (though Bazel names it `lcmtypes_bot2-core-java.jar`; we should probably rename it to match upstream).  Drake could add more jars if that's truly your request -- they should be trivial.

As I said above though, I think Spartan will have an easier time if it builds `libbot` directly.  If you are already in CMake land, you'll probably want the "rooting

[2017-04-12 14:43] mwoehlke-kitware commented on #5456
I'd sort of like to at least provide LCM as a separate library. *Ideally* bazel would do this in a way that is compatible with LCM build by CMake, such that users can use either one with no changes on their end. Probably others also, but LCM is especially interesting as far as doing so in a compatible way, since that includes shipping `lcmUtilities.cmake` as `LCM_USE_FILE` for anyone that has done

[2017-04-12 14:44] jamiesnape commented on #5564
@mwoehlke-kitware @sankhesh:

Linux:

https://d2mbb5ninhlpdu.cloudfront.net/vtk/vtk-6.3.0-trusty-x86_64.tar.xz
https://d2mbb5ninhlpdu.cloudfront.net/vtk/vtk-6.3.0-xenial-x86_64.tar.xz
https://d2mbb5ninhlpdu.cloudfront.net/vtk/vtk-7.1.0-trusty-x86_64.tar.xz
https://d2mbb5ninhlpdu.cloudfront.net/vtk/vtk-7.1.0-xenial-x86_64.tar.xz

Mac:
[code]

[2017-04-12 14:48] basicNew opened #5804 "yaml_to_obj: error when different lanes have overlapping points"
Even though it is not a common case, when dealing with arbitrary road geometries, two different roads may have an overlapping control point, which causes `yaml_to_obj` to fail. To depict the situation, the following three monolane files are valid:

[code]
![screenshot from 2017-04-12 11 32 58](https://cloud.githubusercontent.com/assets/4070228/24963428/efb65a14-1f74-11e7-8b0c-2266c713bf51.png)

[c

[2017-04-12 14:50] basicNew commented on #5804
FYI @agalbachicar

[2017-04-12 14:52] jamiesnape commented on #5564
S3 buckets are `s3://drake-packages` and `s3://drake-homebrew`.

[2017-04-12 14:55] sammy-tri commented on #5456
Where?

[code]

I'm a bit more concerned about lcmtypes_drake.jar which I can't seem to find either (well, maybe a subset of it in multiple jar files?)

There's also `bot_core_lcmtypes`, `robotlocomotion_lcmtypes`.  Downstream projects can track a list of lcmtypes dependencies and build them again, but it is a list, not a single package.

[2017-04-12 14:59] sankhesh commented on #5564
@jamiesnape @mwoehlke-kitware  Is this the page that needs to be updated: http://drake.mit.edu/from_binary.html (https://github.com/RobotLocomotion/RobotLocomotion.github.io/blob/master/from_binary.html)?

[2017-04-12 15:02] jamiesnape commented on #5564
Good question. For now, I think I would create a separate vtk page since we are not fully integrated with the build. Does that sound good @david-german-tri?

[2017-04-12 15:06] david-german-tri commented on #5564
Agree

[2017-04-12 15:10] siyuanfeng-tri opened #5805 "adding named accessors in AbstractValues / DiscreteValues?"
the application people are adding more states now, it would be a nice feature to have a named mapping from string to state or something like that inside these.

are there any objections from the architects? @david-german-tri @sherm1 @jwnimmer-tri
cc @sammy-tri @naveenoid

[2017-04-12 15:13] david-german-tri commented on #5805
Why not just express this on the System, as we do for ports?  `get_foo_parameter(const Context&)`

[2017-04-12 15:16] jwnimmer-tri commented on #5456
[code]

Anyway, sure, things might be missing now.  The _whole point of this issue_ is to move forward, test out an integration prototype, and fix / add what's missing.

Also, I am thoroughly uninterested in libraries (of any language) auto-generated from `*.lcm` files.  It is trivial to solve in many ways, and rebuilding them anew takes mere seconds.  We will fix it once we have an integration pr

[2017-04-12 15:19] jwnimmer-tri commented on #5805
`std::string` use would fail at runtime, instead of compile-time.  Using functions, methods, enumerated constants, or other C++ sugar would be way better than `std::string`.

[2017-04-12 15:20] jwnimmer-tri commented on #5805
I saw there was discussion on a PR about clumsiness around this.  Maybe just cite the code in question, so we have something specific to iterate on fixing?

[2017-04-12 15:26] liangfok commented on #2981
I'm going to close this because `ModelElementId` was removed in favor of `model_instance_id`. We can always create a new issue if the requirement that link and joint names be unique becomes a problem.

[2017-04-12 15:26] #2981 closed

[2017-04-12 15:49] siyuanfeng-tri commented on #5805
Why not just express this on the System, as we do for ports? get_foo_state_variable(const Context&)
would be ok. but at the bottom accessor, it still rely on some hard coded index number. i think is fine as long as all the indices are kept in the same place.Now suppose we have some derived system that needs to have more abstract states that the base system doesn't have, we start to have indices sp

[2017-04-12 16:16] amcastro-tri commented on #3361
Model instances (or some other representation) is in the wishlist in #5013.

[2017-04-12 16:19] amcastro-tri commented on #2589
This seems to me should belong to the parser infrastructure, not the MBT. Hopefully OSRF's SDF parser will provide an IR that can provide this feature. In the past, RBT was the IR and the MBT.

[2017-04-12 16:20] amcastro-tri commented on #2979
Thank you @liangfok. Yes, MBT will provide `ForceElement` objects.

[2017-04-12 17:45] #4675 closed

[2017-04-12 18:07] liangfok commented on #4326
Based on #5660 and #5636, I think relying on the ROS-installed version of `xacro` to generate the URDF files, and then committing the resulting URDF files into `master` is adequate. To avoid confusing users into thinking the version of `xacro` in Drake is usable (it's too old and does not support features needed by some `.xacro` files in `master`), we should probably remove it from master.

[2017-04-12 18:17] jwnimmer-tri commented on #5805
I will put this on my plate, and look into some proposals ~next week.

[2017-04-12 18:36] siyuanfeng-tri commented on #5805
i am also happy to implement whatever we come up with.
another option is to replicate the io port setup, have a declare that returns the actual index. i think @jwnimmer-tri mentioned that last friday meeting.

[2017-04-12 18:46] BetsyMcPhail commented on #5781
CI images (Trusty, Xenial and OS X) have been updated.

Documentation and Unprovisioned script updates coming shortly.

[2017-04-12 18:56] jwnimmer-tri commented on #5805
That would be a great place to start.  I thought we'd already done that.

[2017-04-12 19:04] siyuanfeng-tri commented on #5805
not for abstract mumble?
it also would change the semantics of DeclareDiscreteState to be more like "AddDiscreteState".

[2017-04-12 19:33] siyuanfeng-tri commented on #5805
will include a draft here at some point.
the basic idea is to replicate the declare input / ouput use case.

[2017-04-12 22:39] david-german-tri commented on #5781
Fixed in #5808 - thanks!

[2017-04-12 22:39] #5781 closed

[2017-04-13 00:42] liangfok commented on #4326
Based on feedback from #5807, the new plan is to:

1. Update Drake's version of `xacro` to [a more recent version](https://github.com/ros/xacro/blob/kinetic-devel/src/xacro/__init__.py).
2. Use Bazel's [genrule()](https://bazel.build/versions/master/docs/be/general.html#genrule) to generate the URDFs.

[2017-04-13 00:50] jwnimmer-tri commented on #4326
I'd encourage the approach for (1) to be to pull `xacro` into the `WORKSPACE`, rather than updating the vendored copy in-tree.

[2017-04-13 01:24] jwnimmer-tri commented on #5785
For more context on the rationale...

Eigen is a widely-used library in robotics and beyond (including for many internal projects within TRI).  Other projects will want to link Drake along with their choice of Eigen.  If Drake demands a bleeding-edge version of Eigen, then everyone else will have to eat that bleeding version also.  If Drake's minimum version of Eigen is more generous, then the oth

[2017-04-13 12:03] RussTedrake commented on #5793
Note that this only fails when WITH_GUROBI=ON.  drake and the other externals (that I have tried) do not have the same issue.

[2017-04-13 12:55] liangfok opened #5812 "DepthSensor Roadmap For Supporting Both Kinematic and Dynamic Simulations"
# Problem Definition

`DepthSensor` currently only works with `RigidBodyPlant` + `RigidBodyTree`. This is insufficient because (1) we also want to use it with kinematics-only simulations, and (2) `RigidBodyPlant` + `RigidBodyTree` is about to be deprecated in favor of `MultibodyTree`.

# Current Architecture

The current architecture is shown below in Figure 1. The generalized joint configuration

[2017-04-13 12:56] liangfok commented on #5812
/cc: @SeanCurtis-TRI since this involves `GeometryWorld`. Also, thanks for generating the figures!

[2017-04-13 13:04] amcastro-tri opened #5813 "Context::FixInputPort() or System::FixInputPort()?"
I find it strange (and this is a personal opinion) having to do `context->FixInputPort()` to wire up a constant source into a system. I think it'd lead to a more homogeneous API if we had something more like a `System::FixInputPort()` (not necessarily with this syntax but mainly avoiding to ask the question to Context) that would return a properly wired up `Diagram`.
The reason why I am bringing t

[2017-04-13 13:14] jamiesnape commented on #5793
Try https://github.com/RobotLocomotion/gurobi/pull/18.

[2017-04-13 13:40] SeanCurtis-TRI commented on #5812
Looks good.

[2017-04-13 13:50] david-german-tri commented on #5813
The thread you linked from #5575 looks like a non-problem to me.  The author's code was correct before you commented on it.  Using existing sugar, it converts a System from `double` to `AutoDiffXd`, generates a new `Context`, and copies the `double` values from the old `Context` to the new `Context` `.value()` parts.  Local linearization about a point, in four lines of code!

If you have an idea t

[2017-04-13 13:55] jwnimmer-tri opened #5814 "Add build_doxygen convenience for Bazel-only developers"
It would be nice to be able to generate Doxygen locally for testing, without having to spin up a CMake build.

[2017-04-13 13:55] jwnimmer-tri commented on #5814
Small WIP at https://github.com/jwnimmer-tri/drake/commits/bazel-doxygen

[2017-04-13 14:02] amcastro-tri commented on #5813
Yes, I am not marking a defect, that code just triggered a questions I had for a while now, that's it. I just decided to see what others think. The answer might be that this is exactly what we want and I'd be ok.

I'll quote @edrumwri here from the same thread:

I just wonder how much mental effort it took @edrumwri to arrive to the conclusion that he should call `FixInputPortsFrom()` from that ex

[2017-04-13 15:21] sherm1 commented on #5813
From slack discussion on #system_framework: I think this is OK but would be perfect if the input port value transmogrification could be done in the same Context method call as time, parameters, and state rather than in a separate System method.

[2017-04-13 15:27] amcastro-tri commented on #5813
That'd be super nice I think but it seems to fall in the category of "syntactic sugar". Maybe we could add that feature if we need it somewhere else.

[2017-04-13 15:27] #5813 closed

[2017-04-13 15:39] sherm1 commented on #5813
Almost, but not quite because it implies that the input port transmogrification can be done entirely by the context without the System's help. I *think* that is possible, but it is not just a syntactic change.

[2017-04-13 15:57] jamiesnape opened #5815 "Specialize std::numeric_limits for Eigen::AutoDiffScalar"
See https://github.com/RobotLocomotion/drake/issues/3662#issuecomment-291895294, https://github.com/RobotLocomotion/drake/issues/5785#issuecomment-293326991, and http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1413.

[2017-04-13 17:10] siyuanfeng-tri commented on #5805
@jwnimmer-tri https://github.com/siyuanfeng-tri/drake/commit/416fda45407cc6e9f54767a54d80c4e8aa4e1a0f
something like this?

[2017-04-13 17:10] amcastro-tri commented on #5813
I am copying here the conversation we had in Slack this morning about this. Thank you everybody for your input.

jwnimmer-tri [9:10 AM]
I find it a strange and confusing request.  If you want to facilitate testing, write better test sugar or fixtures.  I don't yet see a reason why System itself must be the receiver of this sugar.
 3 replies Last reply today at 9:51 AM View thread

jwnimmer-tri [9:

[2017-04-13 17:22] #5785 closed

[2017-04-13 17:28] jwnimmer-tri commented on #5805
API looks fine.  I would have thought the implementation should use `detail::ModelValues` though, instead of a `vector<unique_ptr<>>`.

[2017-04-13 17:35] siyuanfeng-tri commented on #5805
oh... i don't even know about this thing.. sure i will take a look

[2017-04-13 17:54] siyuanfeng-tri commented on #5805
ok. fine. it looks just like a wrapper over the vector of uni ptrs.

[2017-04-13 18:05] liangfok commented on #5044
I'm going to reopen this issue until after I bump Director's git submodule SHA and update Drake's documentation.

[2017-04-13 18:52] siyuanfeng-tri commented on #5805
https://github.com/RobotLocomotion/drake/pull/5819

[2017-04-13 19:07] EricCousineau-TRI commented on #5646
As a follow-up to above point, if we ever find that copying `Binding<C>` is too expensive, we can consider doing the following to maintain returning const rvalue references:

Introduce a base, `BindingBase`, which explicitly stores a `shared_ptr<Constraint> constraint_`.
In the sub-classed type, overload `constraint()` to return `shared_ptr<C>`, such that you can do a dynamic cast to maintain synt

[2017-04-13 20:19] david-german-tri commented on #3797
The `SingleOutputVectorSource` design from #4928 works against this, since it operates on Eigen vector types.  But that can be overcome.  Cranking out a PR now.

[2017-04-13 20:30] BetsyMcPhail commented on #5022
With the addition of 'mac-clang-bazel-nightly-everything-release' to Nightly Production, the **nightly production** and **continuous production** lists are complete as described above.

@david-german-tri, the current **pre-merge** test list is below. Let me know if you would like to see any adjustments.

**Trusty pre-merge:**
linux-clang-experimental-debug
linux-clang-experimental-memcheck-lsan
li

[2017-04-13 20:59] david-german-tri commented on #5022
cc @stonier

Great.  My only request for the pre-merge list is to add `linux-xenial-clang-bazel-experimental-debug`.

Around the time of the cutover, of course, we'll want to replace the CMake builds with equivalent Bazel ones.  I know we're missing the `*san` family, ROS, and MATLAB.  Anything else?

[2017-04-13 21:01] siyuanfeng-tri opened #5825 "adding per step actions to system (Publish / State updates)"
here is a draft. https://github.com/siyuanfeng-tri/drake/commit/cd9504f9d55f85b68e9f3e82cdac9a1d4d0d3d5c

it has lots of duplicate code and stuff, but the idea should be clear.
if @sherm1 @david-german-tri @jwnimmer-tri @edrumwri don't have major objections, i am gonna work on a pr.

[2017-04-13 21:03] jamiesnape commented on #5022
Do you still want to a separate lint, i.e. should we exclude lint-related labels from all builds except that one? I have no preference, personally.

[2017-04-13 21:03] david-german-tri commented on #5022
I have no preference either.

[2017-04-13 22:21] liangfok commented on #5812
I just updated the OP to relax the requirements of the `RigidBodyTree` within the `DepthSensor`. I no longer think it's necessary to weld all of the bodies belonging to a model instance, nor do I think it's necessary to restrict the floating joint to be of type quaternion.

[2017-04-13 22:40] EricCousineau-TRI opened #5827 "Allow naming of Bindings and Constraint Rows for ease of use"
This is meant to address Hongkai's [comment](https://github.com/RobotLocomotion/drake/issues/3130#issuecomment-248046817) in #3130, that constraints should have names to provide human-friendly context.

## Quick Overview:

User can specify and retrieve (a) a binding name, and (b) a binding's row name (by specifying a constraint row name).

Examples:

*   `linear_constraint208/row15`
*   `torque_bo

[2017-04-13 23:01] david-german-tri commented on #4525
@stonier This is a tracking issue for a CI flake.  In my view, no action is required, and it will likely be moot after CMake is turned down.

[2017-04-13 23:02] david-german-tri commented on #4468
@stonier This is a tracking issue for a CI flake.  In my view, no action is required, and it will likely be moot after CMake is turned down.

[2017-04-13 23:02] david-german-tri commented on #4451
@stonier This is a tracking issue for a CI flake.  In my view, no action is required, and it will likely be moot after CMake is turned down.

[2017-04-13 23:04] david-german-tri commented on #3414
@hongkai-dai, I'm unassigning myself.

[2017-04-13 23:07] david-german-tri commented on #1769
@stonier I think this issue is finally starting to come into focus.  The short-term plan for `package_drake.sh` is to include everything and the kitchen sink, but at some point someone needs to curate the APIs that we package into an actual product.

[2017-04-13 23:08] david-german-tri commented on #1939
I believe we should close this issue, yes.  The relationship to external dependencies will be more explicit and clear in Bazel, and we've already agreed that the supported, CI-tested modes will be fewer: "open source" and "everything".

[2017-04-13 23:08] #1939 closed

[2017-04-13 23:11] david-german-tri commented on #1957
We've fixed most of the namespaces, but there are still some conspicuous violations - most notably `RigidBodyTree`. Today, unlike March 2016, I think there's consensus that the style guide is the standard, and developers will therefore fix this over time without a tracking issue.  Closing.

[2017-04-13 23:11] #1957 closed

[2017-04-13 23:13] david-german-tri commented on #2333
Closing as wontfix.  This would be challenging to fix; since the legacy MATLAB code is no longer a priority, let's not bother.

[2017-04-13 23:13] #2333 closed

[2017-04-13 23:14] david-german-tri commented on #2786
Reassigning to @hongkai-dai, who appears to be the de facto owner of `drake/math`.

[2017-04-13 23:15] david-german-tri commented on #2017
Closing as wontfix.

[2017-04-13 23:15] #2017 closed

[2017-04-13 23:16] david-german-tri commented on #4794
Jenkins has aged out the build logs, so I'm going to close this as wontfix.  Please reopen (and reassign to @stonier) if it recurs.

[2017-04-13 23:16] #4794 closed

[2017-04-13 23:18] david-german-tri commented on #4556
@jamiesnape, I've reassigned this to you, and downgraded the priority to "low" since it's CMake-specific.

[2017-04-13 23:18] david-german-tri commented on #3499
@stonier This is a tracking issue for a CI flake. In my view, no action is required, and it will likely be moot after CMake is turned down.

[2017-04-13 23:20] david-german-tri commented on #4377
Closing as fixed, as the result of many PRs.   As @sherm1 mentioned above, #4382 was especially significant.

[2017-04-13 23:20] #4377 closed

[2017-04-13 23:21] david-german-tri commented on #4715
@rdeits, I've reassigned this to you, since you have the most context on the subject.  cc @soonho-tri

[2017-04-13 23:23] david-german-tri commented on #3109
@sherm1, I've reassigned this to you.  There has been much less demand for this feature than we anticipated last summer; if I were you I'd consider closing it as wontfix.

[2017-04-13 23:25] david-german-tri commented on #5356
@stonier This is a tracking issue for a CI flake. In my view, no action is required, and it will likely be moot after CMake is turned down.

[2017-04-13 23:26] david-german-tri commented on #2410
MATLAB license failures are well understood and not fixable.  We don't need a tracking issue for this.  Closing.

[2017-04-13 23:26] #2410 closed

[2017-04-13 23:27] rdeits commented on #4715
Ok. Am I correct in assuming that Valgrind isn't required to build Drake?

[2017-04-13 23:27] david-german-tri commented on #4715
Yes!

[2017-04-13 23:52] #3797 closed

[2017-04-14 13:38] #4715 closed

[2017-04-14 14:37] david-german-tri commented on #5183
Reassigning to @soonho-tri.

[2017-04-14 14:54] #4013 closed

[2017-04-14 15:06] david-german-tri commented on #5227
@jamiesnape @BetsyMcPhail I think this issue (and the related #5210) is the highest-priority item in the Kitware queue that isn't already getting active development.

cc @stonier

[2017-04-14 15:08] david-german-tri commented on #3556
There are several existing Diagrams that violate this rule.  I'm sizing up a cleanup pass now.

[2017-04-14 17:05] david-german-tri commented on #3555
Reassigning to @sherm1.

[2017-04-14 17:07] #5491 closed

[2017-04-14 17:08] david-german-tri commented on #3133
Assigning to @jamiesnape for delegation as needed.  Not urgent.

[2017-04-14 17:09] david-german-tri commented on #2578
I'm going to tentatively close this as wontfix.  @sammy-tri, if it's still a pain point for you, please reopen.

[2017-04-14 17:09] #2578 closed

[2017-04-14 17:12] david-german-tri commented on #4790
System authors are responsible for asserting that input ports the system requires are not nullptr.

[2017-04-14 17:12] #4790 closed

[2017-04-14 17:16] david-german-tri commented on #5454
Reassigning to @sherm1.

[2017-04-14 18:00] jamiesnape commented on #3133
Separate library to gtest, or like this: https://github.com/google/protobuf/blob/master/gmock.BUILD.

[2017-04-14 18:05] jamiesnape commented on #3133
Ignore that. I guess they basically need to be together.

[2017-04-14 20:19] david-german-tri opened #5842 "Close out the pybind11 fork"
It remains a goal to get off https://github.com/RobotLocomotion/pybind11 and back onto upstream.  Not top priority, but we shouldn't forget to do it - and it may be easier to do the fresher our fork is.

cc @stonier @jamiesnape

[2017-04-14 20:44] jamiesnape commented on #5112
This is probably not fixable since it would involve modifying the behavior of several different plugins to support the deprecated multiple SCMs plugin.

[2017-04-14 21:13] david-german-tri opened #5843 "Provide a package for downstream users of Python bindings"
The #5700 Bazel build is only friendly to Bazel consumers.  The `package_drake.sh` tarball should include python binding sources that are easy for downstream projects to use regardless of build system.

cc @rdeits FYI

[2017-04-14 21:29] EricCousineau-TRI commented on #4733
## Quick Overview

Check if constraint is satisfied / violated (and possibly expose the degree of violation).

Example Usage:

    auto constraint = make_shared<BoundingBoxConstraint>(...);
    return constraint->CheckSatisfied(x);

## Schedule

Next. Should precede #3130.

## Functionality

* Provide ability to check if constraint is satisfied / violated
    * Violation value
        * `< 0` - Sa

[2017-04-14 22:22] edrumwri opened #5844 "Integrator tests need to use"
A PR is in the works (#5575) that has added closed form solutions to the mass-spring system (and adds another one for a mass-spring-damper system). Code that duplicates the closed-form solution for the mass-spring system needs to be removed from integrators and use this code instead, once this PR is merged.

[2017-04-15 01:45] liangfok commented on #4034
https://drake-jenkins.csail.mit.edu/job/linux-xenial-clang-ninja-experimental-minimal/2836/

[2017-04-15 11:35] GuiyangXin commented on #5777
Thank you Hongkai for your reply. However, I encountered other problems. First,  according to my code, particularly `frame = RigidBodyFrame(body,zeros(3,1),zeros(3,1),'FT_frame');`, I have put the force sensor on the origin of the body frame. Should I put it on the surface of foot in order to detect contact force? I don't know the position of the end point of `front_left_lower_leg`. But I know the

[2017-04-15 18:05] hongkai-dai commented on #5777
No you do not have to. As long as the force torque sensor is rigidly attached to the foot body frame, then you should be able to transform the force/torque reading in the sensor frame, to the foot frame.

That is weired to me as well. How do you get the force torque sensor reading in Drake? Could you paste your code here?

Yes you can use Matlab functions such as `eul2rotm` and `quat2rotm`. The re

[2017-04-15 20:48] GuiyangXin commented on #5777
Thank you very much. My code is as follows. You need to run this program twice. First time please use `frame = RigidBodyFrame(body,zeros(3,1),zeros(3,1),'FT_frame');`. Second time please use `frame = RigidBodyFrame(body,[-0.0265 0 -0.0985]',zeros(3,1),'FT_frame');`. Please check it.
`r = LittleDog;
sys = TimeSteppingRigidBodyManipulator(r,0.001);
sys = addSensor(sys,FullStateFeedbackSensor());
bod

[2017-04-15 20:59] GuiyangXin commented on #5777
If I use `quat2rotm` in my program, it will be prompted an error `Undefined function 'quat2rotm' for input arguments of type 'double'.`

[2017-04-16 01:04] RussTedrake opened #5850 "bazel builds ipopt too often"
In my current workflow, I build bazel BOTH from clion and from the command line.  Every time I switch between the two, I see
[code]
which takes about 130s on my virtual machine.  To be clear, I believe this is triggered only when I switch, e.g.

build from clion  - ipopt builds
build from clion
build from clion
build from shell - ipopt builds
build from shell
build from clion - ipopt builds
...

[2017-04-16 05:21] liangfok commented on #5044
This issue was resolved by #5832.

[2017-04-16 05:21] #5044 closed

[2017-04-16 15:07] soonho-tri opened #5851 "Support disjunctive constraints"
Feature requested by @RussTedrake.

1. For now, `MathematicalProgram` has a conjunction of constraints (internally represented as vectors of different types of `Binding<Constraint>`s.

    `c1 ∧ ... ∧ cn`

2. We can extend it to have constraints in a mathematical program in CNF (conjunctive normal form).
[code]
3. To implement this extension, we need to the followings:

    - A. Add a private memb

[2017-04-17 12:21] RussTedrake opened #5856 "Serialize Context (using protobuf)"
Potential use case:  we find a falsification scenario (e.g. from running many simulations) that causes our controller to fail.  We'd like to write that "scenario" to disk and add (once the issue is resolved) add it to the test suite as a regression test.

We've architected this carefully already -- everything we need to know (assuming we have the identical system in memory) should be in the Contex

[2017-04-17 12:25] RussTedrake opened #5857 "Dump Context to structured debugging string"
Writing optimizations over big complicated diagrams is currently very difficult, because I don't have a good way to understand the resulting composite input, state, and parameter vectors.  A simple routine that serializes a textual version of this information to the display could work wonders.  It might be a blocker for me to get much farther on my automotive optimization work.

When systems and o

[2017-04-17 14:26] amcastro-tri opened #5860 "Rename StepExactlyFixed() to StepExactlyOneFixedStep()"
Per discussion with @edrumwri [here](https://reviewable.io/reviews/robotlocomotion/drake/5575#-KhhtRkDM0pC-qrsDJDe),the method `StepExactlyFixed()` is confusing with the alternative `StepExactlyVariable`. While `StepExactlyVariable(t_final)` integrates the solution all the way to `t_final` taking as many (variable) steps as needed, `StepExactlyFixed(t_final)` only takes exactly the one time step p

[2017-04-17 14:33] david-german-tri commented on #5850
Speculation: some flag or environment variable is different, and Bazel isn't sure whether that affects the `ipopt` build, so it rebuilds to be safe.  I'll try to reproduce.

As a workaround if you don't actually need IPOPT, you can squelch it with `--define=NO_IPOPT=ON` in your `~/.bazelrc`.

[2017-04-17 15:28] #5430 closed

[2017-04-17 15:31] #3133 closed

[2017-04-17 15:34] RussTedrake commented on #5850
Thanks.  That's my guess as well.  This is a pretty fresh ubuntu machine with clion 2016.3 (number is from memory, but it's before the 2017 rev)

[2017-04-17 16:48] #5805 closed

[2017-04-17 17:10] david-german-tri opened #5862 "Gurobi license has expired in CI"
Until the license is restored, I'm going to disable all tests that require Gurobi.

[2017-04-17 18:19] david-german-tri commented on #5862
#5863 revealed the need for #5864.

[2017-04-17 18:24] david-german-tri commented on #5862
#5863 appears likely to resolve the emergency - CI is returning green so far.

Follow-up actions:

- [ ] Lift the current moratorium on merges.  @david-german-tri
- [ ] Install a new Gurobi license in CI.  @RussTedrake to obtain, @BetsyMcPhail to install.
- [ ] Revert #5863.  @BetsyMcPhail after installing.
- [ ] Create a reproducing test case for the probable Bazel bug in #5864, and file it.  @da

[2017-04-17 20:42] david-german-tri commented on #5862
Done with my tasks on this issue - remaining items are for @BetsyMcPhail, following up with @RussTedrake as needed.

[2017-04-17 21:48] EricCousineau-TRI opened #5867 "testIK.iiwaIK should use a fixed-base (and ideally should have a simple negative test)"
Was trying to generate an infeasible case for `testIK.iiwaIK`, but noticed that it was always feasible, and realized it was due to a floating-base joint being added.

Will submit a quick fix to switch it to `kFixed`, and add a negative test.

[2017-04-17 22:14] EricCousineau-TRI opened #5869 "Reimplement inverseKin interfaces"
Re-purposing this to track the re-implementation of inverse kinematics to use MathematicalProgram interface and MBP

Legacy:

Per Hongkai's and Sammy's prior discussions, the present implementations of `inverseKin` / `inverseKinTraj` do not meet coding standards, and the `RigidBodyConstraint` setup should be deprecated and the `solvers::Constraint` setup should be used instead.

Additional items:

[2017-04-18 12:16] RussTedrake commented on #5869
In particular, we've discussed implementing inverseKinTraj as a trajectory optimization (using dircol, etc) on a kinematic-only version of rigid body plant.  @avalenzu did a version of this in matlab, and we liked it a lot.  See, e.g. http://drake.mit.edu/doxygen_matlab/class_kinematic_dirtran.html

[2017-04-18 12:29] RussTedrake opened #5872 "Should FixedInputPorts survive transmogrification?"
Currently they do not.  The current workflow is (in pseudo-code):
[code]
as seen in, e.g., https://github.com/RobotLocomotion/drake/blob/master/drake/systems/primitives/linear_system.cc#L48

I'm starting to see non-trivial systems which naturally have FixedInput ports assigned deep in their bowels.  For example, an automotive simulator with many vehicles driving around, some of which are wired up

[2017-04-18 13:51] EricCousineau-TRI commented on #4578
Failure on linux-xenial-gcc-bazel-continuous-debug (job [#586](https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-xenial-gcc-bazel-continuous-debug/lastFailedBuild/)) due to timeout in `drake/solvers/system_identification_test`, triggered by #5858.
This happened once before on April 3.

For now, will assume these are sporadic occurrences.

[2017-04-18 13:53] david-german-tri commented on #5872
I tentatively prefer this, the principle being: `FixInputPort` is a convenience for top-level Systems, and shouldn't be baked into a Diagram.  We could enforce that at runtime: if there is no graph edge terminating at a given subsystem's input port, and yet that input port is not nullptr, `diagram.h` throws.

Also, this makes `ConstantVectorSource` seem like an extremely special case, which makes

[2017-04-18 14:07] RussTedrake commented on #5872
I hadn't seen `FixInputPortsFrom`.  That's very relevant.  Thanks.

`ConstantVectorSource` and `ConstantValueSource` are special cases, for sure.  I initially thought the same tools would be useful for any system using `DeclareVectorInputPort`, `DeclareVectorOutputPort`, etc.... but now I'm convinced that I was incorrect.  I guess it would only happen when the type of the output, etc, are only kno

[2017-04-18 14:12] david-german-tri commented on #5872
Yeah, I agree, the question is how many of those are there.  I have yet to think of an example besides `ConstantFooSource` - which is why I tentatively favor solving it on the System side, instead of adding boilerplate to every vector that goes into a `ConstantVectorSource`.

[2017-04-18 14:31] liangfok commented on #5857
To make the printout pretty, I'm thinking about using JSON for modern C++: https://nlohmann.github.io/json/. It is MIT-licensed.

[2017-04-18 14:53] david-german-tri commented on #2612
@SeanCurtis-TRI I've reassigned this to you.

[2017-04-18 15:11] SeanCurtis-TRI commented on #2612
@david-german-tri receipt acknowledged.

[2017-04-18 15:25] EricCousineau-TRI opened #5873 "Ipopt returns different result between mac-clang-bazel and linux-clang-bazel"
Ipopt returns a different result when running on Mac vs Linux for a purposely infeasible IK optimization problem (`//drake/multibody:test_ik`)

`mac-clang-bazel-*` - see [full log](https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/mac-clang-bazel-nightly-release/119/consoleFull) at `08:44:40`
`linux-clang-bazel-*` - see [full log](https://drake-jenkins.csail.mit.edu/view/Nightly%20

[2017-04-18 15:28] rdeits commented on #4343
By the way, the new drake-visualizer tree viewer interface already supports adding and removing individual links, models, or groups: https://openhumanoids.github.io/director/user_guide/tree_viewer_interface.html

[2017-04-18 15:28] EricCousineau-TRI commented on #5873
Realized that the returned code (3) from `GetIKSolverInfo` is not Ipopt's flag (`Search_Direction_Becomes_Too_Small=3`), but rather `SolutionResult::kIterationLimit`. Will update test to check for either of these flags.

This still doesn't answer the question why Ipopt returns different results between two platforms, but will at least squelch the test error.

[2017-04-18 15:31] david-german-tri commented on #4789
Reassigning to @sherm1, then.

[2017-04-18 15:59] BetsyMcPhail commented on #5022
linux-xenial-clang-bazel-experimental-debug has been created and added to the pre-merge list.

[2017-04-18 15:59] BetsyMcPhail commented on #5022
As all of the immediate work is complete, I am going to close this issue.

[2017-04-18 15:59] #5022 closed

[2017-04-18 16:04] liangfok commented on #4343
@rdeits: Thanks! I updated this issue's title and description to reflect the need to switch to the tree viewer interface.

[2017-04-18 16:07] liangfok commented on #5857
I have a WIP branch here: https://github.com/liangfok/drake/tree/feature/context_to_string

[2017-04-18 16:14] RussTedrake commented on #5857
Great!  I think if we're going to serialize to protobuf, then using protobuf here instead of json might make sense, too?

[2017-04-18 16:21] sherm1 commented on #5872
@RussTedrake, there was a [recent review thread](https://reviewable.io/reviews/robotlocomotion/drake/5575#-KhN_74eVDwW_ZWEI-vJ) on this topic triggered by @edrumwri's use of `FixInputPortsFrom()` in creating autodiff Jacobians for the implicit integrator, prompting a Slack discussion and issue #5813, PTAL.

I think that fixed input ports *should* be transmogrified along with everything else, ideal

[2017-04-18 16:34] liangfok commented on #5857
Good point. I briefly considered using Protocol Buffers but then realized that I would likely need to define a `.proto` message for each class being serialized. This could get complicated when attempting to serialize abstract values.  After talking F2F with @david-german-tri, I decided to move away from JSON since the immediate goal is not serialization but rather debugging output.

[2017-04-18 16:44] david-german-tri commented on #5872
That was not exactly the same topic - #5575 needed to fix input ports only for the top-level System under simulation,  so `FixInputPortsFrom` sufficed.  Alejandro found it offensive for some reason I didn't understand, and proposed an improvement that I also didn't understand, but no one disagreed that `FixInputPortsFrom` does the job.

This issue contemplates transmogrifying fixed input ports tha

[2017-04-18 17:23] david-german-tri commented on #5148
I think the right assignee for this going forward is @SeanCurtis-TRI.

[2017-04-18 17:24] david-german-tri commented on #3421
I'm mildly skeptical there's actual work to do here, but I've reassigned it to @SeanCurtis-TRI for assessment.

[2017-04-18 17:27] SeanCurtis-TRI commented on #5148
@david-german-tri Acknowledged.

[2017-04-18 17:50] sherm1 commented on #5872
Oh, thanks @david-german-tri I missed that twist. Then I do think the best solution is to extend the Context transmogrifier to include the fixed input values as well.

Re use of Parameters for fixed input port values: I see your point. It seems a shame we need a separate mechanism though just to accommodate last-minute values. Parameters provide a great mechanism for supplying arbitrary values in

[2017-04-18 18:47] #3556 closed

[2017-04-18 18:48] david-german-tri commented on #3839
Reassigning to @sherm1, who is the biggest enthusiast for this idea.

[2017-04-18 18:59] sherm1 commented on #3839
@david-german-tri, thanks!

[2017-04-18 18:59] EricCousineau-TRI commented on #5873
This error appears to be successfully squelched.

[CI full log](https://drake-jenkins.csail.mit.edu/view/Nightly%20Production/job/mac-clang-bazel-nightly-release/120/console):
`14:22:12 PASS: //drake/multibody:test_ik`

Keeping issue open due to discrepancy.

[2017-04-18 19:37] EricCousineau-TRI commented on #3741
Can I ask if we should go ahead and incorporate this into the [C++ *-inl.h files](http://drake.mit.edu/cxx_inl.html#my-class-h) documentation?
`grep`'ing through our source base reveals that we tend to not be using this (only in `externals`).

I can see that this is relatively low-priority, but an easy start would be adding this as a suggestion in the above page.

[2017-04-18 20:33] david-german-tri opened #5878 "OutputPort uses different casing than state classes"
From @RussTedrake on #4184: OutputPort GetMutableData / GetMutableVectorData is inconsistent w/ get_mutable_data, etc from the state classes.

This was intended to convey that write operations on the output port invalidate cache.  Of course, so do write operations on state, so I agree there's an inconsistency.  I assume it will be resolved as part of the larger #4127 maelstrom.

[2017-04-18 20:34] david-german-tri commented on #4184
Items (1) and (2) have previously been resolved.  I've separated item (6) into #5878, and will be PRing a fix for items (3), (4), and (5) shortly.

[2017-04-18 20:35] sherm1 commented on #3741
Hi @EricCousineau-TRI. Might be a good idea to submit a PR adding some of these extern template declarations to existing classes before making this a documented requirement. Assuming it doesn't cause problems, then upgrade to a requirement in the doc?

[2017-04-18 21:04] RussTedrake commented on #5872
maybe we're on the same page now about the problem (transmogrification of fixed input ports buried deep in a diagram).  but so far it seems we have different opinions about the solution.  we have two proposals:
1) extend context transmogrification (actually Construct then SetFrom...) to support internal fixed input ports or [ @sherm1 favors ]
2) require users to do ConstantVectorSource inside a di

[2017-04-18 21:29] david-german-tri commented on #4263
Closing as wontfix since xcode is not supported and Russ isn't using it anymore.

[2017-04-18 21:29] #4263 closed

[2017-04-18 21:30] david-german-tri commented on #5058
Closing as wontfix since Russ isn't using xcode anymore.

[2017-04-18 21:30] #5058 closed

[2017-04-18 21:33] EricCousineau-TRI commented on #3741
@sherm1 Sounds good! Will do so in the next few days.
I may also have a PR coming in leveraging `extern template`, but within the scope of explicitly instantiated methods, rather than classes.

[2017-04-18 21:35] david-german-tri commented on #3309
This doesn't appear to be happening anymore - I checked both MATLAB and non-MATLAB CMAke builds - so I'll close it as resolved.

[2017-04-18 21:35] #3309 closed

[2017-04-18 21:36] david-german-tri commented on #3171
I'm dropping the priority to "backlog" - this could be nice, but there's little demand for it.

[2017-04-18 21:39] liangfok commented on #3421
I recommend closing this in favor of #4343.

[2017-04-18 21:39] #3421 closed

[2017-04-18 21:52] david-german-tri opened #5880 "Autodiff-to-matrix syntactic sugar for System Framework types"
On #4012, @RussTedrake requested the following (carried over from #4021):

* `autodiffToGradientMatrix(VectorBase)`
* `autoDiffToValueMatrix(VectorBase)`

[2017-04-18 21:53] david-german-tri commented on #4021
I've moved the remaining tasks here to #5880, so closing as complete.

[2017-04-18 21:53] #4021 closed

[2017-04-18 22:29] EricCousineau-TRI commented on #3741
Added in a draft PR to my personal repo (to avoid CI for the time being).

Benefits:
* Explicit header-file visibility of explicit instantiations.

Drawbacks:
* Not necessary (I think). An implicit instantiation of a `*-inl.h` class should not really have any meat, since everything is already defined external.
     * @jwnimmer-tri Your comment was from a few months ago, and may have been made befo

[2017-04-19 01:17] sherm1 commented on #5872
I have to confess that I don't feel strongly about option 1. If it isn't an unreasonable user burden to satisfy all the internal inputs with option 2's ConstantXXXSources, then I am fine with requiring that. We could relax the requirement later if necessary. Option 2 requires upgrading ConstantVectorSource to preserve the vector type and be autodiffable, but that seems like a good thing to do anyw

[2017-04-19 14:21] #5867 closed

[2017-04-19 14:50] EricCousineau-TRI opened #5885 "Consider consolidating existing constraint creation and binding registration functionality in MathematicalProgram with generic programming"
## Quick Overview

Consolidate repetitive code (and redistribute documentation) to facilitate quicker refactoring.

\cc @soonho-tri @hongkai-dai @sammy-tri @RussTedrake

## Motivation

* Separates the implicit construction of `Constraint` objects and the construction of `Binding` objects
    * This permits generalization to allow (a) adding to the interface (relatively) quickly and (b) explicitly

[2017-04-19 14:57] EricCousineau-TRI commented on #5827
Will review solvers to see if it may be convenient to up this priority if association by name can be leveraged in mapping.

[Incomplete] Solver List, and name association abilities when adding constraints:

* Gurobi - Can specify via `GRBaddconstr(..., const char* name)`

Will review the remaining solvers to see what the most convenient naming convention is.

Additional design case:

* Specific so

[2017-04-19 15:50] GuiyangXin commented on #5777
Hello @hongkai-dai , I think the measurement result is right because 4 times the contact force element of z axis is equal to the gravity force of LittleDog.  But I have another question about the fiction coefficient between the feet and terrain. Can I set this coefficient? And how to do it? Thank you.

[2017-04-19 16:03] #5094 closed

[2017-04-19 16:15] #4387 closed

[2017-04-19 17:05] basicNew commented on #5804
Probably related to https://bitbucket.org/ekumen/terminus-simulation/issues/119

[2017-04-19 17:07] basicNew commented on #5804
@maddog-tri do you have any insights on this?

[2017-04-19 17:32] #4184 closed

[2017-04-19 17:44] EricCousineau-TRI commented on #5885
Spoke to @ggould-tri, and I agree with his opinion that this current implementation may get very dirty, and the heart of the issue (minimal interface for `MathematicalProgram`) could be better solved by refactoring.

I will close this issue, and open up another issue pertaining to more general refactoring.

[2017-04-19 17:44] #5885 closed

[2017-04-19 17:54] BetsyMcPhail opened #5889 "CI Error: Matlab documentation Unstable due to publishing documentation failures"
See: https://drake-jenkins.csail.mit.edu/view/Continuous%20Production/job/linux-gcc-continuous-matlab-documentation/

Example output:
`13:10:29   ------------------------------------------------------------------------------
13:10:29   *** CTest Status: PUBLISHING DOCUMENTATION
13:10:29   ------------------------------------------------------------------------------
13:10:29
13:26:01 + workspace=/

[2017-04-19 19:36] EricCousineau-TRI opened #5890 "Refactor constraint- and cost-related methods in MathematicalProgram to decouple Constraint and Binding constructors from MathematicalProgram interface"
**EDITS**:

1. Updated to incorporated decisions from earlier conversations.
2. Incorporating steps to execute Action Items [here](#issuecomment-298205639).
3. Updated per [next comment](#issuecomment-298207796).
4. Updated per [f2f summary](#issuecomment-298381163) and [additional discussion](#issuecomment-298426034).
5. Updated per f2f discussion on 2017-05-10.

## Overview

Refactor constraint-

[2017-04-19 19:56] hongkai-dai commented on #5890
What is the return type of
[code]
? It seems to me now we can only return `Binding<Constraint>` type, instead of a `Binding<LinearConstraint>` object? I hope we can still get the specific type of the constraint back, since later we may need to update the constraint.

Currently one use case is
[code]
Can we still achieve the same "update and resolve problem" using this new interface?

[2017-04-19 20:00] EricCousineau-TRI commented on #5890
The return-type would be the same as the current API. It could return `constraint_binding<C>`, where:
* `constraint_binding<C> = Binding<C>` in the general case
* `constraint_binding<PolynomialConstraint> = Binding<Constraint>`, to permit the constraint to simplified if need be.
    * NOTE: This will require run-time check when `C = Constraint`, but I believe this would be useful (especially in th

[2017-04-19 20:27] hongkai-dai commented on #5890
If I understand correctly, we will not be able add the symbolic constraint in the following way any more
[code]
But instead we need to do
[code]
is this the case?

[2017-04-19 20:30] ggould-tri commented on #5890
Presumably it would be straightforward to write a CreateSymbolicConstraint(...) factory that dispatched to the appropriate subclass based on the expression provided?

[2017-04-19 20:45] hongkai-dai commented on #5890
It shouldn't be hard to write the factory. Sorry I did not realize the factory is the plan. If it is not too much of work, could you put the skeleton of this  API for this factory here?

[2017-04-19 20:46] m-chaturvedi opened #5892 "Bazel memcheck failing with shell scripts"
Bazel memecheck fails when shell tests are run with it.
In particular when these tests are run with memcheck:
lcm_vector_gen_test
clang_format_includes_test

[2017-04-19 20:51] EricCousineau-TRI commented on #5890
Yup! The factory would be something to the effect of:

    // Numeric overload(s)
    shared_ptr<LinearConstraint> CreateLinearConstraint(const Matrix& A, const Vector& b) {
        return make_shared(new LinearConstraint(A, b));
    }
    // Symbolic overload(s)
    Binding<LinearConstraint> CreateLinearConstraint(Formula f) {
        tuple<Matrix, Vector, VarList> info = magic_symbolic_extract<L

[2017-04-19 21:00] hongkai-dai commented on #5890
I think I still have the question here, is that the symbolic case of the proposal, we cannot do
[code]
to add a linear constraint, but the user has to tell the program that the constraint is linear, by using
[code]
 On the other hand, in the current implementation, if we call
[code]
It knows the newly created constraint is linear. see https://github.com/RobotLocomotion/drake/blob/master/drake/solv

[2017-04-19 21:20] EricCousineau-TRI commented on #5890
Ah, missed that, sorry!

Yes, this system could certainly handle that case using this bottom-up approach.
That could be covered by a generic factor, `CreateConstraint`, and then use a run-time check to place the constraint in the appropriate container. My thought was to have the layout as such:

* Specific invocations of `Add<C>(...)` place the constraint directly in the type-specified container,

[2017-04-19 22:27] hongkai-dai commented on #5890
I feel we should separate `AddCost` and `AddConstraint`, instead of combining them into `Add()` function. It is pretty clear what
[code]
means. But I think the meaning of
[code]
is not clear enough, to say it means "add 2*x to the cost". So I would propose we still keep two function signatures `AddCost` and `AddConstraint`.

[2017-04-19 22:30] EricCousineau-TRI commented on #5890
Would you be OK with have the API as follows?

    Add(CreateConstraint(...)...)   -> AddConstraint(...)
    Add(CreateCost(...)...)  -> AddCost(...)
    AddCost(symbolic)
    AddConstraint(symbolic)

Alternatively, we would have some repetition (which would be fine, just want to make sure we give that the go ahead):

     AddConstraint(CreateLinearConstraint(...)...)
     AddCost(CreateQuadraticC

[2017-04-19 22:33] hongkai-dai commented on #5890
I like your first API better
[code]

[2017-04-19 23:10] EricCousineau-TRI commented on #5890
Sorry for the verbosity, but just to recap, I've listed out our three alternatives. (I needed this to have my own internal debate :P ) I will update the main post once I flesh it out a tad more.

* **Alternative 1 (Current Winner)** - Yields some redundant and closely related options, but provides clarity when context may not be easily seen
* Alternative 2 - Minimal redundancy, grammatically and s

[2017-04-19 23:37] EricCousineau-TRI opened #5893 "Alternatives to GetDrakePath for externals, or alternatives to deprecation?"
Per this comment in [drake/common/BUILD](https://github.com/RobotLocomotion/drake/blob/3b9f6fc4ae4b6f1bd68dcaf72d21fbf71f893b24/drake/common/BUILD#L180), it looks like `GetDrakePath()` may soon meet its demise.
Additionally, given how `bazel` / `package_drake.sh` function, this method effectively has no meaning outside of a `bazel` sandbox build environment since it is no longer an absolute path,

[2017-04-20 00:10] patmarion commented on #5893
Previous discussion on the topic:

https://github.com/RobotLocomotion/drake/issues/2174

https://github.com/RobotLocomotion/drake/issues/1295#issuecomment-136156776

[2017-04-20 00:33] hongkai-dai commented on #5777
Sorry I forgot to reply previously. For the friction coefficient. You can check contactConstraints.m, line 65. The friction coefficient is hard coded there.

[2017-04-20 11:33] GuiyangXin commented on #5777
@hongkai-dai what I am trying to do is to push LIttleDog. As a result, when the terrain is very slippy, i.e. the friction coefficient is very little, the robot will slip on the ground rather than fall over. According to your comment, I have had a try to change the variable `mu = ones(nC,1);` in line 65 of contactConstraints.m as `mu = 0.1*ones(nC,1);.` But it doesn't work. When I define the class

[2017-04-20 13:15] liangfok opened #5895 "Should Modify DiagramBuilder::AddSystem() to take the name of the system as a parameter."
This is API sugar to avoid the common idiom of creating a system and then immediately naming it. For example, instead of:

[code]
One would type:

[code]

Alternatively:

[code]

Maybe `AddSystem()` can fail-fast if the provided name is not unique within the to-be-created `Diagram`.

[2017-04-20 13:16] liangfok commented on #5895
@david-german-tri, I assigned this to you just to get your :+1: or :-1: . Please delegate to the appropriate person if this is something we should do.

[2017-04-20 13:21] jwnimmer-tri commented on #5893
@EricCousineau-TRI Please give one or two very specific examples of what you would like to accomplish.  I assume its something like obtaining the complete path to some URDF(s) and related resource(s) that are checked into Drake, after having run the Drake superbuild?  And you're worried that this will stop working after the superbuild switches to using Bazel?

[2017-04-20 13:39] david-german-tri commented on #5892
Can reproduce.  It looks like memcheck is instrumenting all the subprocesses and finding no errors, but is exiting 1 for some reason.  Definitely worth fixing, good catch.

[2017-04-20 13:51] liangfok opened #5896 "Need to Update PoseBundle to use PoseVector"
It is currently using `Eigen::Isometry3`. Making `PoseBundle` use `PoseVector` has the following benefits:

1. Simplify debug `ToString()` methods.
2. Potentially unblock `PoseAggregator<symbolic::Expression>`.

Note that `PoseVector` provides `get_isometry()`, which returns an `Eigen::Isometry3`, meaning there should be no loss in capability by this switch.

For more background, see: https://drak

[2017-04-20 13:55] david-german-tri commented on #5895
:+1: for `AddNamedSystem`.  :-1: for changing the signature of `AddSystem`, since (a) some systems are self-naming and (b) it would touch a lot of code sites.  :-1: for fail-fast, since that would unnecessarily ban code that sets names after the fact.

Tagged as feature request, priority low, and reassigned to you.

[2017-04-20 14:38] liangfok commented on #5895
Thanks @david-german-tri. I agree with your assessment.

[2017-04-20 14:40] david-german-tri commented on #5564
Also, the tools/scripts for building these packages should be checked in somewhere.

[2017-04-20 14:58] jwnimmer-tri commented on #5857
You can very well use `proto` in a general way, without a message for each class being serialized.  In fact, #5856 (correctly) presumes that we'll be able to do this.  Doing a single thing to solve both that issue and this one seems like the best approach?

[2017-04-20 15:00] liangfok commented on #5857
Alright, I think this will require an initial design review. I'll start working on one ASAP.

[2017-04-20 15:02] david-german-tri commented on #5892
From f2f: @m-chaturvedi says that `mv` and `cp` aren't working under valgrind, leading to the test failure.

[2017-04-20 15:04] david-german-tri commented on #5892
From f2f: Are we really gaining anything by running a `sh_test` under memcheck anyway?  Probably not.

[2017-04-20 15:33] mwoehlke-kitware commented on #5564
On 2017-04-20 10:41, David German wrote:

The build script is at
https://console.aws.amazon.com/s3/buckets/drake-provisioning/vtk/vtk-build.sh/details.
Does this seem like a reasonable place to keep it (right next to the
binaries themselves)?

--
Matthew

[2017-04-20 15:41] EricCousineau-TRI commented on #5893
@jwnimmer-tri Yes, the worry is that either access to existing resources would stop working, or that there may be just a few more hoops to jump through.
A concrete example:

    apps/pr2/bhpnTranslator.py:103:    filename = os.path.join(pydrake.getDrakePath(), 'examples/PR2/pr2.urdf')

However:
1. This usage is relatively infrequent. (I only see 6 at present, one in `spartan/apps`, three in `direc

[2017-04-20 15:50] sherm1 commented on #5825
Resolved by #5861.

[2017-04-20 15:50] #5825 closed

[2017-04-20 16:13] jwnimmer-tri commented on #5892
Oops, yeah.  When `tools/valgrind.sh` is run on a `sh_test`, it should bail out and just `exec "$@"`.

Optionally in the future, it could also `export MAYBE_VALGRIND="$0"` first, so that `sh_test`s that cared could `$MAYBE_VALGRIND ./my_cxx_program` to re-enable valgrind on an wrapped program under test.  But probably we'll not care about that anytime soon.

[2017-04-20 16:13] liangfok opened #5898 "Add IDM-controller Unique Name Regression Test To automotive_simulator_test"
See: https://github.com/RobotLocomotion/drake/pull/5886#issuecomment-295788761

[2017-04-20 16:16] jwnimmer-tri commented on #5564
(1) That URL is broken for me (404).

(2) It seems like source control would serve us better (the bucket could have a pointer to the source repository).  I think putting it into Drake's git would be great.

[2017-04-20 16:21] jwnimmer-tri commented on #5893
To forestall too much of a sidetrack: whatever other resource-hosting solutions may arise, if (1) there are resource files committed to Drake's source tree, and (2) we want to make them part of our supported contract (e.g., stuff from `drake/examples` yes, but `drake/multibody/geometry/test/my_unit_test_cube.urdf` no), then Drake should provide a way to directly access those resources after a supe

[2017-04-20 16:57] maddog-tri commented on #5804
I do!  Connections are made between endpoints, and endpoints are matched by `(x,y,z)` position.  The name strings in a yaml file don't have any significance beyond looking up an endpoint's actual position/etc parameters.

In the "broken" example above, points `s1_1_2` and `s2_1_2` have the same `(x,y,z)` coordinates, so all the Lanes which terminate at those endpoints are linked together at a sing

[2017-04-20 17:15] basicNew commented on #5804
Thanks for the reply @maddog-tri Just to make sure I understand, is this correct?

- In monolane, the only way to describe a road geometry is to do so by points connected between line segments or arcs.
- From what you are saying there is no logical concept of a lane as a composition of points+connections; each connection in the yaml file is treated like a lane, and both start and end points are tr

[2017-04-20 17:26] jwnimmer-tri opened #5900 "Full Bazel builds in -c dbg can get slow"
Full Bazel builds in `-c dbg` can get relatively slow.  It would be nice to do a quick profiling pass and see if we do something quick to tune it up.

My guess is that our I/O ops with static libraries + debug symbols are eating our lunch, and a carefully-crafted shared library choice or two might help.

[2017-04-20 17:35] jamiesnape commented on #5564
It should be. Not sure why it was posted here.

Agreed.

[2017-04-20 17:45] mwoehlke-kitware commented on #5564
...because I don't know the magic incantation to turn it into a link that lets anyone download the file?

[2017-04-20 18:50] david-german-tri commented on #5850
I've root-caused this.  Bazel 0.4.5 introduced the (really useful) command-line flag [--action_env](https://bazel.build/designs/2016/06/21/environment.html).  If you pass `--action_env FOO`, Bazel will rebuild targets that are sensitive to the external shell environment (such as the IPOPT genrule) whenever `FOO` changes.  By default in the systemwide `/etc/bazel.bazelrc`, you have the following se

[2017-04-20 19:25] jwnimmer-tri commented on #5872
I don't think how "deep" the fixed inputs are buried is a relevant concern.  Even at the outermost layer this can still bite us, and automotive's current fixed input are at the outermost diagram already (there's only one diagram, no nesting).

I think either of the OP's two proposals are reasonable.

My rough impression is that `SetTimeStateandParametersFrom` is _supposed_ to be a "make this Conte

[2017-04-20 20:42] edrumwri opened #5906 "title capitalization in lcm_vector_gen is off for Rod2D"
lcm_vector_gen wants to capitalize "rod2d" to "Rod2d", while my class is named "Rod2D". Would it be too dumb to require the caller of lcm_vector_gen to specify the state vector name that they want?

[2017-04-20 20:43] jwnimmer-tri commented on #5906
The name in which situation?  Classnames (type names) should be capitalized per google styleguide.  But maybe some other use of the name could be lowercased.

[2017-04-20 20:48] edrumwri commented on #5906
The context is indeed a classname. The google style guide states, "Type names start with a capital letter and have a capital letter for each new word, with no underscores: MyExcitingClass, MyExcitingEnum." This doesn't indicate what should be done for "2D" or "3D", as examples.

[2017-04-20 20:53] hongkai-dai commented on #5777
We do not use Bullet as a physics engine. Instead, we write the LCP solver to compute the state in the next control tick, as you can see in function solveLCP in TimeSteppingRigidBodyManipulator.m. Bullet is used for collision detection.

Could you add a break point in line 270 and line 420 of TimeSteppingRigidBodyManipulator, run the simulation, and let me know which breakpoint is hit? You can ins

[2017-04-20 21:06] jwnimmer-tri commented on #5906
Oops, I thought the question was about the "R".  I see now its about the "D".

I think it'd be fine to allow the user to omit `--title` and instead specify `--camel` and `--snake` directly.  (I think `screaming_snake` is probably just `snake.upper()`, so should not be separately configurable.)

[2017-04-20 21:08] edrumwri commented on #5906
Ok, I'll submit a PR on that.

[2017-04-20 21:50] maddog-tri commented on #5804
Correct.  The geometry of a `monolane::Lane` is either single line segment or single arc segment.

Correct.  There is no composition of line-segments/arcs within a single `monolane::Lane`, and each yaml connection becomes a single Lane.

Technically speaking:  `monolane::Builder` is assembling four Lanes.

Technically speaking:  there are four Connections with four overlapping Endpoints, which are

[2017-04-20 22:15] GuiyangXin commented on #5777
I have a try. When running the simulation, it stopped at line 270 and didn't stop at line 420 of TimeSteppingRigidBodyManipulator. And I found that `mu` of the results `[phiC,normal,d,xA,xB,idxA,idxB,mu,n,D] = obj.manip.contactConstraints(kinsol, obj.multiple_contacts);` in this function `solveMexLCP(obj, t, x, u)` has changed if I change `mu = ones(nC,1)` in line 65 of contactConstraints.m.

[2017-04-20 22:18] basicNew commented on #5804
Completely agree that for this case there is no need to have that point, just wanted to depict the issue (we actually have a step where we merge two contiguous line segments if they are collinear). I think the key here is that points are used to describe both geometry and logical connections; in some cases you just get overlapping points because they are describing a road geometry, even though the

[2017-04-20 22:32] hongkai-dai commented on #5777
I am curious about your controller, you use a PD controller on the robot, with gains to be a diagonal matrix. But for a floating base robot as Little dog, its floating base is un-actuated, what's the meaning of using PD controller on the joints corresponding to the floating base? I think you are treating the robot as fully actuated, then I am not surprised that the little dog does not slide on the

[2017-04-20 23:06] EricCousineau-TRI commented on #5890
Updated description. Going to actually do it now.

[2017-04-20 23:09] EricCousineau-TRI commented on #5885
Purely for C++ curiosity satisfaction, there is a way to combat greedy parameter packs, by using your own greedy templates (unfortunately, with `std::enable_if`) using `std::is_convertible` SFINAE stuff:

http://stackoverflow.com/questions/21391184/specialization-of-variadic-constructor-template-of-class-template/43510740#43510740

[2017-04-21 01:58] jwnimmer-tri commented on #3741
Since I posted my comment, more people have used the three-file pattern without just cause, which is now confusing the issue because that pattern seems predominant.  We should stop doing that!  I could write up a whole paragraph here with gripes but suffice to say I don't think we're doing a very good job as platform reviewers pushing back on the three-file pattern.  It's supposed to be for except

[2017-04-21 02:35] jwnimmer-tri commented on #5893
My rough proposal goes like:

(1) Add a C++ API something like `drake::FindResource(const std::string& relpath)` documented as MagicHappensHere™.  Given a string like `drake/examples/Acrobot/Acrobot.urdf` it would return the fully-qualified filesystem path to that file as provided by Drake.

If the resource is not found, it would provide a useful fail-fast diagnostic (probably should not be an exc

[2017-04-21 09:30] GuiyangXin commented on #5777
The DOFs of LittleDog are composed of 6 floating base DOFs and 12 actuated joint DOFs. My PD controller is `Kp = 5*eye(12); Kd = diag([0.5; 0.6; 0.16; 0.5; 0.6; 0.16; 0.5; 0.5; 0.16; 0.5; 0.5; 0.16]); sys = pdcontrol(sys,Kp,Kd);`. It just controls the 12 joint DOFs except the 6 floating base DOFs.

[2017-04-21 13:34] siyuanfeng-tri opened #5913 "Question about event handling callback that mutates state."
@EricCousineau-TRI and I had a conversation yesterday about event handling in System / Simulator. We think per tick / step, the state should be only mutated at most once, so that invoking callbacks in different orders would not have an effect for the resulting state.
However, we have CalcUnrestrictedUpdate (changes abstract, discrete, and continuous state) and CalcDiscreteVariableUpdates(discrete)

[2017-04-21 13:40] david-german-tri commented on #5913
I've always thought so too.  @sherm1 pushed for the current, oddly asymmetric setup, so perhaps he can explain why.

[2017-04-21 13:47] siyuanfeng-tri commented on #5913
another related question is shouldn't there be guards on the number of mutable callbacks of the same type per tick? (you shouldn't schedule 2 unrestricted updates per tick). At least we should prevent this in CalcNextUpdateTime. Resolving a collision from CalcNextUpdateTime and GetPerStepEvents seems harder.

[2017-04-21 14:24] jwnimmer-tri commented on #5913
I'm all for simplicity, but I think its important to point out that we can have deterministic order of evaluation and operations even if multiple events of different types are declared; we'd just need a total order on how a Simulator uses the System's contract (as expressed by preconditions on the System base classes APIs).

[2017-04-21 14:52] #5898 closed

[2017-04-21 14:57] liangfok commented on #5857
From F2F conversations yesterday, I now believe there are two approaches to addressing this issue:

1. Within the context of Drake's `AutomotiveSimulator`.
2. Within Drake's system framework as a generally-supported feature.

Option 1 can be done quickly and is the approach taken by #5910. Option 2 is very tricky since it has less control over both diagram topology and leaf system types. It will l

[2017-04-21 15:33] sherm1 commented on #5913
In general an arbitrary and unpredictable number of events can occur simultaneously, and they are detected and handled by a variety of uncoordinated subsystems. Handling events can entail arbitrary state changes. I had originally proposed that all event handlers would be like unrestricted update -- basically a free-for-all modification of the Context. David had the idea of creating limited handler

[2017-04-21 16:55] siyuanfeng-tri commented on #5913
That's what made us wondering. I am perfectly happy with either approach. I am cautious about the combined one. This is my complaint number 1.

I agree. Sorry I wasn't clear, let me try again. Here is my complaint number 2.
I think there are three types of events, time based, state based, and per step. Time based are scheduled with `CalcNextUpdateTime`, per step are through `GetPerStepEvents`, the

[2017-04-21 17:05] david-german-tri commented on #5850
I've determined this is not a plugin behavior: the mangled LD_LIBRARY_PATH shows up in CLion CMake projects too.  I can't find a knob anywhere in the CLion UI to make it stop, so I've opened https://youtrack.jetbrains.com/issue/CPP-9585 - please upvote!   Nothing else we can do, so closing as infeasible.

[2017-04-21 17:05] #5850 closed

[2017-04-21 17:09] jwnimmer-tri commented on #5850
Could we work around this by adding `build --action_env=LD_LIBRARY_PATH=` to our `tools/bazel.rc`?  In other words, always null out the library path, no matter how Bazel was invoked?

[2017-04-21 17:13] sherm1 commented on #5913
@siyuanfeng-tri, each subsystem in a diagram only gets to modify its own subcontext. It is not like they can all stomp on every abstract state variable in the diagram multiple times. Is that what you're worried about?

[2017-04-21 17:15] siyuanfeng-tri commented on #5913
i am worried about some user accidentally decided to modify it's context multiple times.

[2017-04-21 17:21] david-german-tri commented on #5850
Good idea - that works!  I'm leery of checking it in, but it's a nice answer for `~/.bazelrc` at a minimum.

[2017-04-21 18:19] sherm1 commented on #5913
Per f2f (with @siyuanfeng-tri @edrumwri @EricCousineau-TRI @sherm1):
We propose to modify the leaf system event handler interfaces (unrestricted update, discrete update, publish) to pass in the list of simultaneous event triggers that caused the invocation, in case the leaf system wants to impose an ordering or otherwise provide special handling for simultaneous triggers.

Likely implementation: t

[2017-04-21 18:29] siyuanfeng-tri commented on #5913
thanks @sherm1 for the summary.

how about just unrestricted-publish ? to make it evener cleaner.

[2017-04-21 18:32] sherm1 commented on #5913
A further consequence of this is that all leaf subsystem events *must* go through one of the three designated handler methods (unrestricted/discrete/publish). There is a provision for individual callbacks in the event action infrastructure, but it currently is used only by Diagram to dispatch to leaf subsystem's handlers (which is fine!). We'll need to institutionalize that policy.

[2017-04-21 18:36] sherm1 commented on #5913
We want the discrete update for handling difference equations because it is the exact discrete analog of the continuous update; this makes the math beautiful. Unrestricted update muddies the waters. However, you are totally free not to use the discrete update method at all since unrestricted update is ... unrestricted!

[2017-04-21 18:40] siyuanfeng-tri commented on #5913
usage clarified. thanks

[2017-04-21 20:50] edrumwri commented on #5913
@siyuanfeng-tri would you mind doing the PR on this, since you have recently worked on similar aspects for Diagram? Alternatively, we could do them together, with me doing the Leaf system and you doing the Diagram.

@sherm1 and I just discussed- we would like to use the approach the four of us discussed this morning to remove the function pointers from UpdateActions (so Diagram's DoUnrestrictedUpd

[2017-04-21 20:52] siyuanfeng-tri commented on #5913
@edrumwri i am happy to do it :)

[2017-04-21 20:53] edrumwri commented on #5913
Great! I've been looking at this stuff quite a bit lately, so I think I can be a good resource as you work through it.

Thanks!

[2017-04-21 21:16] EricCousineau-TRI opened #5918 "Consider moving Simulator execution semantics to explicitly facilitate stepper systems with no continuous state"
This issue's high-level goal is to consider splitting off some of the execution semantics in `Simulator`, such that a user has the choice of placing a non-continuous system (`get_continuous_state()->size() == 0`) in either `Simulator` or a stepper compatible with soft real-time execution.

This is purely for aesthetic reasons (for now), since there are ways to use `Simulator` for (soft) real-time

[2017-04-21 22:59] EricCousineau-TRI commented on #5752
Related: #5900

[2017-04-22 09:34] RussTedrake commented on #5857
Let's leave this open until we address #2 -- that is the ask.  #1 might be sufficient for now (will see how far I get this weekend).

[2017-04-22 12:41] liangfok commented on #5857
Alright. I just updated #5910 to include `MaliputRailcar` information since I believe you're using them.

[2017-04-22 14:06] sqhuang opened #5923 "runMixIntegerEnvironment error"
hello, i got a problem when i use the runMixIntergerSImpleForest example after read your paper.
I make my own example and it seem does't work not matter what all this parameters will be.
so i want you offer some help?
and what ub lb mean in the runMixedIntegerEnvironment?
Thank you.
here is my runMixedIntegerBeach.m

function runMixedIntegerBeach()
%RUNMIXEDINTEGERBEACH Summary of this function go

[2017-04-22 15:38] liangfok opened #5924 "Unable to Install Drake on OS X due to vtk5.rb.1 syntax error"
# The Error

[code]

[2017-04-22 15:39] soonho-tri commented on #5924
Please try:

[code]

It worked for me.

[2017-04-22 15:43] liangfok commented on #5924
Odd. I get the following error:

[code]

[2017-04-22 15:44] soonho-tri commented on #5924
Oouch, my bad. Try the following:

[code]

[2017-04-22 15:45] liangfok commented on #5924
That worked. Thanks!!!

[2017-04-22 15:45] #5924 closed

[2017-04-22 15:49] soonho-tri commented on #5924
@liangfok and @patmarion : Just for your information, as far as I know, it is important to make non-destructive updates in `robotlocomotion/home-brew director` repository. If we do destructive updates on the repository, end users ' `homebrew` (sometimes) doesn't follow the updates in `robotlocomotion/director` tap.

[2017-04-23 02:08] liangfok opened #5927 "Unable to run drake-visualizer on OS X Sierra - QtWebKit Missing"
# The Error

[code]

Potentially related discussion: https://drakedevelopers.slack.com/archives/C0KDGF4V9/p1491533862131556

This is on OS X Sierra 10.12.4 with the following version of xcode:

[code]

[2017-04-23 02:18] liangfok commented on #5927
Maybe `drake-visualizer` should be updated to use QtWebEngine?

[2017-04-23 03:02] liangfok commented on #5927
I just discovered a message about WebKit being removed for security reasons but can be manually added back:

[code]

Installing `qt-webkit@2.3` displays more disclaimers:

[code]

Unfortunately, `drake-visualizer` still doesn't work:

[code]
It looks like vtk5 is searching for `QtWebKit` in `/usr/local/opt/qt/lib/QtWebKit.framework/Versions/4/QtWebKit` when it is actually located in `/usr/local/op

[2017-04-23 17:41] rdeits commented on #5923
`lb` and `ub` should be the lower bound and upper bound of the environment (in 3 dimensions).

When you say it doesn't work, what exactly is happening?

[2017-04-24 02:12] sqhuang commented on #5923
thank you, then i may not misunderstand the meaning of lb and ub.
it doesn't work like it just line two points(start and end) together.
![image](https://cloud.githubusercontent.com/assets/12937079/25320084/73ee0632-28d6-11e7-82ca-eb195072e25d.png)

[2017-04-24 15:13] EricCousineau-TRI commented on #5890
Will update PRs 1 and 2 by pulling some from this prototype branch:
https://github.com/RobotLocomotion/drake/compare/master...5ca783c#files_bucket

[2017-04-24 17:59] hongkai-dai commented on #5777
Have you tried to set the friction coefficient to 0 in contactConstraints, and then command the robot to move forward? Then I would expect the robot not to move, because there cannot be any horizontal force.

[2017-04-24 20:48] sherm1 commented on #5918
Before adding another layer of abstraction to this already-complicated class, I'd like to see whether we can use the existing Simulator effectively to solve the current problems. It is already very comfortable with discrete or continuous systems, and we expect that the same System class may use either formulation, depending for example on constructor arguments (e.g. RigidBodyPlant can use continuo

[2017-04-24 21:51] #3910 closed

[2017-04-24 21:51] #5371 closed

[2017-04-24 22:20] sammy-tri commented on #5736
Closed in #5916

[2017-04-24 22:20] #5736 closed

[2017-04-24 22:35] jwnimmer-tri opened #5934 "Systems within Diagrams should be assigned default names"
The restriction in #5866 is too easy for users of Diagram to violate, because the `System` constructor does not demand a name, so it's impossible to fail-fast, and you only find out at runtime that you forgot to bless you System with a name.

We should assign default names if the user left it blank, e.g., `NiceTypeName(*system) + "@" + pointer_to_string(system)`.

[2017-04-25 00:39] sherm1 commented on #5934
:+1: for a default name. I'd prefer a default that was more stable than a pointer, which can change from run to run (and is ugly!). Maybe just NiceTypeName + the subsystem number?

[2017-04-25 00:44] jwnimmer-tri commented on #5934
My thought was to make it unstable _on purpose_ because it shouldn't be used for anything programmatic, or change any execution properties, etc.

[2017-04-25 01:16] RussTedrake opened #5935 "gurobi on mac requires gfortran"
but installation instructions don't instruct users to install it.
[code]
We should either add `brew install gcc` to http://drake.mit.edu/mac.html -- but that's expensive prereq to add -- or (preferrably) add a more helpful error message if gfortran is not found.

[2017-04-25 01:19] jwnimmer-tri commented on #5935
It's actually `ipopt` that needs `gfortran`, not `gurobi`.

[2017-04-25 01:24] RussTedrake commented on #5935
oops.  you're right.  so definitely need to add it to the sphinx installation instructions.

[2017-04-25 01:32] jwnimmer-tri commented on #5935
The `drake/doc/mac.rst` has `brew install ... gcc ...` already (buried in the big line).  Perhaps something else is going wrong -- e.g. `gfortran` is not on your `$PATH` for some reason, though why CI would differ is a mystery.

[2017-04-25 01:40] soonho-tri commented on #5935
Possibly related item: http://drake.mit.edu/clion.html#a-note-about-environment-variables

Please check the text under "OS X users" item:

[2017-04-25 01:51] RussTedrake commented on #5935
thanks all.  most likely i just missed an installation step.  have been installing way too many machines/VMs lately, and have lost track of what ran what when.

[2017-04-25 01:51] #5935 closed

[2017-04-25 01:55] jwnimmer-tri commented on #5935
I think it would be fair to reopen and improve the error message from `gfortran.bzl`.  We are calling `repository_ctx.which` which can return `None`, but we assume the result is non-`None`.

[2017-04-25 03:42] liangfok opened #5936 "lcm_driven_loop_test Failure - Matrix size mismatch: (1 x 6 vs. 1 x 5)"
# The Error

[code]

Example log: https://drake-jenkins.csail.mit.edu/job/linux-xenial-clang-experimental/3902/

# Initial Suspicion

The unit test is using a _real_ LCM instance. Maybe it accidentally received a message that was not intended for it? Can the unit test be modified to use `DrakeMockLcm`?

[2017-04-25 04:31] siyuanfeng-tri commented on #5936
hmm. probably a lcm flakyness.
I can probably make it work with fake lcm, but i need to change stuff there.

[2017-04-25 04:36] liangfok commented on #5936
BTW, it timed out in https://drake-jenkins.csail.mit.edu/job/linux-xenial-clang-experimental/3905/:

[code]

[2017-04-25 05:44] sherm1 commented on #5934
I thought David's motivation was to have names for diagram drawings, for which some stability would be good. My experience with default node names in the past has been that they end up getting used a lot, either out of laziness or just because it is hard to think up better names than say, `gain_1` `gain_2` and `gain_3`. Is there a downside to making the defaults somewhat palatable?

[2017-04-25 08:11] RussTedrake commented on #3647
say a nice talk about a tool for simple interactive visualization of static data: https://vega.github.io/vega-lite/

[2017-04-25 12:05] jwnimmer-tri commented on #5934
My starting position is that if you want a specific name on a drawing, debug text, etc., then you should set the name yourself.  My purpose for adding a default is for cases where nobody asks for the name ever, but the Diagram is still throwing at runtime right now from the empty names.

If we decided we wanted _stable_ default names, then I think they should just be `subsystem[0]`, `subsystem[1]`

[2017-04-25 14:22] jamiesnape commented on #5793
#5795 is ready for testing and review.

[2017-04-25 18:43] samzapo opened #5940 "Sparse documentation in SignalLogger"
It's not clear what the signal logger does or how to use it:
https://github.com/RobotLocomotion/drake/blob/master/drake/systems/primitives/signal_logger.h

Additionally, the signal logger test code documentation does not demonstrate how to use the logger.  This would be a great place to add a brief tutorial of how to use the signal logger---even if it doesn't dive very deep.
https://github.com/Rob

[2017-04-26 03:00] jwnimmer-tri commented on #5934
WIP at https://github.com/jwnimmer-tri/drake/tree/framework-default-system-names

[2017-04-26 10:36] liangfok commented on #2588
I believe this should wait until #4337 is resolved.

[2017-04-26 10:59] GuiyangXin commented on #5777
Thank you Hongkai. I haven't let LittleDog walk or run. I am just working on the body motion control when the robot is standing on the ground using four legs. At this case, the simulation system doesn't show any slippy phenomenon even I set the friction coefficient to 0. I will try to make the robot walk and run next step. By the way, why is there a gap between LittleDog's feet and the ground view

[2017-04-26 14:58] rdeits opened #5948 "Future of Matlab bindings post-Cmake"
My understanding is that the Bazel build won't have Matlab mex file support, and that the Cmake build will eventually be switched off. Does that imply that the existing Matlab interface will eventually stop working and/or be removed?

I'm not using any of those files, but this question has come up several times in the lab, and it would be nice to have a clear answer that I can refer people to.

[2017-04-26 21:37] EricCousineau-TRI commented on #5890
Added draft of Step 3 of PR Plan: https://github.com/EricCousineau-TRI/drake/pull/3/files

\cc @soonho-tri @hongkai-dai

[2017-04-26 23:48] jwnimmer-tri commented on #4881
Kicking to @stonier as a backlog tracking item.

[2017-04-27 02:24] EricCousineau-TRI commented on #5890
Added draft of Step 4 of PR Plan: https://github.com/EricCousineau-TRI/drake/pull/4/commits

[2017-04-27 02:24] EricCousineau-TRI commented on #5890
Added draft of Step 4 of PR Plan: https://github.com/EricCousineau-TRI/drake/pull/4/commits

\cc @soonho-tri @hongkai-dai

[2017-04-27 09:43] RussTedrake commented on #5948
The goal is to zap any places in the drake/ tree where we are building things with BOTH bazel and cmake.  bazel builds will export their targets in reasonable ways, including a FindDrake.cmake yada.  That way external projects can link against drake w/ cmake.

The current plan for mex files is to leave cmake in the drake tree for add_mex functionality, but have it link against the bazel targets in

[2017-04-27 12:07] stonier commented on #5843
Users are Russ' lab and the CAM manipulation group (for writing scripts that run in director).

[2017-04-27 16:38] m-chaturvedi opened #5956 "Valgrind version for a ignition_rndf_test"
ignition_rndf_test ( formerly ignition_math_test )  seems to fail with the current version ( 3.11.0 ) of valgrind,  but if we use 3.12.0 it passes.

To reproduce :
`bazel test  --config=memcheck --verbose_failures //drake/automotive/maliput/rndf:ignition_rndf_test `

with the appropriate version of valgrind in valgrind.sh.
This is a reported issue:
https://github.com/google/protobuf/issues/3006

[2017-04-27 18:31] rdeits commented on #5948
Ok, good to know, thanks.

[2017-04-27 19:31] #5934 closed

[2017-04-27 20:05] #5948 closed

[2017-04-27 21:12] stonier commented on #5956
What is the root cause of it failing in 3.11.0? I can't see anything in the report issue that makes it obvious that it is valgrind's fault in the reported issue - just that the problem magically disappeared in 3.12.

[2017-04-27 21:17] jamiesnape commented on #5956
@m-chaturvedi Can you post the output of the test here?

[2017-04-27 21:17] jwnimmer-tri commented on #5956
Machine code emulation was broken in 3.11.0.  It advertised as a CPU with RDRAND but didn't actually implement RDRAND.  https://bugs.launchpad.net/ubuntu/+source/valgrind/+bug/1501545

[2017-04-27 22:43] m-chaturvedi commented on #5956
The output is practically the same as in the link I'd posted, here's it:
https://gist.github.com/m-chaturvedi/75c14e294e0e0e5116683bd4dd0f956a

[2017-04-28 01:46] jwnimmer-tri commented on #5956
Besides the valgrind error, this points out that `ignition-math` has C++ global constructors (non-POD globals) e.g. https://bitbucket.org/ignitionrobotics/ign-math/src/5d674fbadeaf04fca7f588b1b2d9cd46a9785324/src/Rand.cc?at=default&fileviewer=file-view-default#Rand.cc-33.

Global initializers are a no-no in C++ due to the static initialization fiasco -- see https://google.github.io/styleguide/cppg

[2017-04-28 13:56] SeanCurtis-TRI opened #5962 "ContactInfo should make use of copyable_unique_ptr"
`ContactInfo` has a non-default copy constructor because it has polymorphic members (`ContactDetails`). These non-default constructors are simply duplicating the underlying functionality that `copyable_unique_ptr` provides. Change from `unique_ptr` to `copyable_unique_ptr` and switch to default copy/move semantics.

[2017-04-28 18:42] EricCousineau-TRI opened #5968 "Ensure that //drake/bindings do not cause cpplint issues after clang-format"
At present, `//drake/bindings/pybind11` do not appear to conform to the formatting produced by `clang-format` (all `*.cc` files are modified); however, when `clang-format` changes them, they are then invalid by `cpplint`.

I believe the short-term solution would be to `clang-format` the files, manually fix the errors, and ensure that further applying `clang-format` does not change them.

Will do a

[2017-04-28 18:51] EricCousineau-TRI commented on #5890
Instead of adding a separate issue for cleaning up stopgap crap, I've added it as Step 7 in the above PR Plan.

[2017-04-28 19:06] EricCousineau-TRI commented on #5890
Two questions for y'all, @soonho-tri @hongkai-dai:

Do y'all have a preference on the `Create.*(Cost|Constraint)` names and signatures? Once concern I have is the potential for ambiguity / inconsistency:

#### Return Types
`Create.*(Cost|Constraint)` will return a `shared_ptr<C>` if there is no binding information, otherwise will return `Binding<C>`.

* **PRO**: This permits forms (a) `prog.Add(Cr

[2017-04-28 19:55] soonho-tri commented on #5890
For the return types, I don't like (1) but I'm afraid that (1) is the only option we can choose.

For the name, I think (1) is good.

[2017-04-28 20:07] hongkai-dai commented on #5890
I think (1) is good. As long as `MathematicalProgram::Add(xxx)` always return a `Binding<C>` then I think we are good.

[2017-04-29 02:20] EricCousineau-TRI opened #5974 "Ensure that Scalar's used within Eigen::Matrix<> do not cause undefined behavior when the matrix is resized"
@jwnimmer-tri, @soonho-tri, and I did some digging, and realized that `Eigen::Matrix<>` will not play well with `std::string` (or any non-trivially copyable type) due to how Eigen's reallocation mechanisms work (by moving bytes, without calling a move constructor).
For `std::string`, the issue arise due to it's [Short String Optimization](http://stackoverflow.com/questions/10315041/meaning-of-acro

[2017-04-29 07:17] hongkai-dai commented on #5777
That is probably a mismatch between the collision geometry and the meshes. You can try the following code
[code]
I can see that the collision geometry has longer legs than the mesh geometry. There is probably some incorrect number in the URDF file. Actually when I searched for "collision" in the LittleDog.urdf, the documentation for the origin of the collision geometry says "it is approximate". I

[2017-04-29 07:54] RussTedrake commented on #5890
Sorry to be late to the party.  Just saw the proposed PR.

My initial reactions:
- the name MathematicalProgram::Add() , and the need for a "suggested best practices" feels clunky to me.  can you summarize for me why we don't just have `AddCost(Create.*Cost())` and `AddConstraint(Create.*Constraint())`.  It's a little more typing, but if it removes the redundancy in the interface and the need for

[2017-04-29 12:15] liangfok opened #5975 "Need to Remove LCM Dependency from AutomotiveSimulator"
To allow `AutomotiveSimulator` to be used in environments that do not have LCM, we should remove `AutomotiveSimulator`'s dependency on LCM.

One idea is to split the current `AutomotiveSimulator` class into a base class (e.g., `AutomotiveSimulatorBase`) that does not depend on LCM and a child class (e.g., `AutomotiveSimulatorLcm`) that does.

Another idea is to extract the objects within `Automoti

[2017-04-29 12:25] jwnimmer-tri commented on #5975
Again, once you remove LCM from the picture, what remaining value is there in the class?  It's just making a Diagram and adding a few systems, which when you don't have the visualization baggage is just a simple few lines of code that can be rewritten from scratch for the new use case.  Not everyone who wants to experiment with automotive systems should have to do it via `AutomotiveSimulator` -- i

[2017-04-29 12:26] liangfok commented on #5975
I'm not sure if all that's left after removing LCM is indeed just a few lines of code, but will investigate.

[2017-04-29 13:57] GuiyangXin commented on #5777
Yes, I see the collision part contacts with terrain after adding your proposed code. So the simulation results is right even the robot looks like suspended in the air. All right, but I still need to figure out why my LittleDog cannot show any slipping feature when impacted by external force. Thanks again.

[2017-04-29 14:09] RussTedrake commented on #5890
Another deficit in the current best practices proposal (at the top) is that AddCost can only return a Binding with the general constraint type.  So your suggested best practices could not use any derived class methods if the constraints were added with a symbolic type, e.g.
[code]

This might simply be an exception to your best practices, but it's worth considering.

Also, as implemented, I don't

[2017-04-29 14:19] RussTedrake commented on #3500
I just realized that this is especially bad now, because `AddCost(symbolic::Expression&)` keeps the constant term if the order is >2, but *drops* the constant term if the cost is linear or quadratic!  yuck!

@EricCousineau-TRI -- now that you've separated costs from constraints, perhaps you can address this one properly at last?

[2017-04-29 16:41] GuiyangXin opened #5979 "What is 'MIMOCascade_2856590/system1/DrakeSys'"
Hello guys,
I cannot run 'runAtlasWalking.m' or 'runAtlasBalancingPerturb.m'. The same error prompted as follows
[code]
But I can run 'runAtlasJumping.m' and 'runDRCPracticeTerrain.m'. And there are several files like 'MIMOCascade_1723838.slx.autosave' in the example folders after I run these programs for several times.

[2017-04-29 17:25] hongkai-dai commented on #5979
`MIMOCascade_1723838.slx.autosave` is the simulink block creeated automatically by drake simulation. Your problem is that the initial state cannot be computed successfully. Could you add a break point in `getInitialState` function inside `RigidBodyManipulator.m`, step into this function, and check which line throws the error? Also, do you have snopt on your machine?

[2017-04-29 23:28] RussTedrake commented on #5268
I've got a WIP branch making python bindings for system classes.  (I'm trying to prototype optimizations on systems in python before pushing them to c++... i think that's a very important workflow).  This issue is going to come up again in spades.

Is there a tangible plan for putting in a hook for python bindings to change the behavoir of DRAKE_DEMAND to throw instead of abort?  Changing DRAKE_DE

[2017-04-30 00:32] EricCousineau-TRI commented on #3500
Sounds good!

[2017-04-30 00:58] RussTedrake commented on #5975
i actually think it is a very useful middleware, even without LCM.  it's a common place for instantiating the different type of vehicle models, binding them to road geometries, etc.
i had to do exactly this in my WIP branch to get trajectory optimization working.

[2017-04-30 01:04] jwnimmer-tri commented on #5975
That's fine, but none of those things help Liang on the TRI-internal project he's proposed this for.

From your prior comments, what you did was turn off LCM instantiation, but left it as a build-time dependency.  This PR proposes removing it as a build-time dependency, at which point only about 10 lines of code are left in the class.

[2017-04-30 01:18] EricCousineau-TRI opened #5981 "Check if pybind11 can be used as an intermediate binding between MATLAB and Drake C++"
UPDATE: The scope of this has been expanded to check if we can MATLAB bindings "for free" using `pybind11` and MATLAB's Python support, with some extra shims on top.

ORIGINAL: This is issue is to figure out if there is a way to relax `pybind11`s constraints on passed types, such as a custom marshaling mechanism on integral types, to accept floating-point values when bound to C-type integral types

[2017-04-30 01:50] EricCousineau-TRI commented on #5890
Glad to have your feedback!

BLOT, my takeaway action items:

1. Update the suggested interface, remove `Add()`
2. Simplify / remove best practices
3. Add examples of explicit type propagation
4. Add `cast<>` or `downcast<>` or `dynamic_cast<>` method to `Binding` directly.
5. Reduce syntactic-sugar overloads for `VectorXDecisionVariable`
6. Continue with PR plan things.

Verbose discussion stuff:

[2017-04-30 02:59] EricCousineau-TRI commented on #5890
On the Consistency on returning `Binding` objects, I believe I may change my opinion on this. I am still generally uncomfortable with the increased coupling between `Binding` and `Create.*(Cost|Constraint)`, and I feel that requiring these functions to return `Binding`s may artificially require more information than needed, especially if a `Binding` may mean more than just constraint and variables

[2017-04-30 03:51] EricCousineau-TRI commented on #5974
One additional note: I started investigating this because I was encountering hard crashes when using `conservativeResize(int, int)` on my machine.

[2017-04-30 11:42] GuiyangXin commented on #5979
Thank you for your reply. First, I think I have installed SNOPT. I followed this guidance [https://github.com/openhumanoids/oh-distro-private](url) to install the software. Sometimes I can see ' Calling addpath_snopt' that is prompted in Matlab's command window.
Secondly, I put some break points in `getInitialState` inside `RigidBodyManipulator.m`, but the error still generated without stopping at

[2017-04-30 13:03] RussTedrake commented on #5890
**RE:  Add vs Add[Cost|Constraint].**  I'm happy with using just `Add[Cost|Constraint]`, and removing `Add`.  I think all calls would be unambiguous without the extra characters, but feel that this just adds clarity.  Do @soonho-tri or @hongkai-dai agree?

**Re: 1x1 MatrixBase values.**  Thanks.  I think that's an obvious and helpful addition.  Again, ideally I would like it to work for the python

[2017-04-30 17:19] EricCousineau-TRI commented on #5890
**Re^2: Derived constraint classes and returning Bindings**

I had only only spoken with @soonho-tri a bit about this, at the level that he had intended to separate out the symbolic parsing functionality (Soonho, please correct me if I am wrong). From this, I wanted to see if I can subsume at least a portion of that into this refactor. My assumption was the `System` framework may consume `Binding`

[2017-04-30 23:40] RussTedrake commented on #4825
@hongkai-dai -- I think this is done.  please reopen if I'm wrong.

[2017-04-30 23:40] #4825 closed

[2017-04-30 23:54] RussTedrake commented on #5297
Besides the [document](https://docs.google.com/a/trinst.com/document/d/1awnccf_3CVCIuiWBQNXs-ZlHPpmxkFSzaXstnRsGoLw/edit?usp=sharing) @sherm1 referenced, #4998 and #4151 are also relevant.  I'm going to collect my thoughts in that document for now.

[2017-05-01 07:18] #5165 closed

[2017-05-01 08:02] sqhuang commented on #5923
How can I do if console prints this:

[2017-05-01 16:04] rdeits commented on #5923
It looks like the initial mixed-integer program is infeasible, which is probably why the solution is incorrect. I would suggest adjusting your seed points and/or adding more of them.

[2017-05-01 16:10] rdeits commented on #5981
It might be possible to do this with the custom type conversions in pybind11: http://pybind11.readthedocs.io/en/master/advanced/cast/custom.html although I haven't used that mechanism myself.

[2017-05-01 16:37] #5962 closed

[2017-05-01 17:30] EricCousineau-TRI commented on #5890
Per our discussion at the meeting, these are my takeaways:
(please let me know if there was anything that I did not capture accurately.)

* At present, there will be no other consumers of `Binding` aside from `MathematicalProgram`
    * It is fine to keep this type, and the factory methods, custom-tailored for or contained in `MathematicalProgram`.
* If a user knows what functional form of a symbo

[2017-05-01 18:18] RussTedrake commented on #5981
i've merged my example:
https://github.com/RobotLocomotion/drake/blob/master/drake/matlab/solvers/test/testMathematicalProgram.m

I view the mismatch between numpy arrays and matlab matrices to be much more of a burden than the occasional int32 cast.  The most relevant discussion I found about it on a quick search yesterday is here:
 https://www.mathworks.com/matlabcentral/answers/157347-convert-p

[2017-05-01 19:05] stonier commented on #5956
As far as I can see, to move forward we need to either:

1. Disable this test OR
2.  Require everyone to have an updated valgrind

The second I'd hazard is impractical. @jwnimmer-tri with your software core hat on - confirmed?

Sent an issue upstream wrt to the static initialisation topic.

[2017-05-01 19:08] jwnimmer-tri commented on #5956
Since most _users_ will not run valgrind, but rather only Drake Developers will run it, it's at least somewhat plausible that we could require a newest valgrind.  Certainly within TRI this would be easy.

However, there is another solution you didn't mention: (3) fix `ignition-math` so that it doesn't seed randomness unless someone asks it to, and so that it doesn't use non-POD global variables.

[2017-05-01 19:15] stonier commented on #5956
I already issued a ticket on ignition-math [#69](https://bitbucket.org/ignitionrobotics/ign-math/issues/69/redirect-static-initialisation-of) but wasn't sure if that would resolve valgrind's issues with it or not. If this does work, then should be simple enough to fix there without breaking api as they already have a `Seed()` function within which they can nest the initialisation.

[2017-05-01 19:20] jwnimmer-tri commented on #5956
No matter the ign-math APIs, it would always fixable without API changes.  I cannot see any reason why valgrind would still complain after that fix is made.

[2017-05-01 19:20] EricCousineau-TRI opened #5993 "Permit adding variables created outside of MathematicalProgram"
Presently, there is no publicly exposed method to add an existing decision variable (scalar, vector, or matrix) to a `MathematicalProgram`. The current methods are of the form:

[code]

We can introduce a new method, `Add.*Variables(...)`, which would be of the form:

[code]

\cc @hongkai-dai @soonho-tri @RussTedrake

[2017-05-01 19:25] stonier commented on #5956
If they'd made that variable public and used it elsewhere then it would have disrupted other people's code.

I'll bump them this week to address the issue. @m-chaturvedi would you like to disable it for now so you can move on and I'll update here when it's fixed upstream?

[2017-05-01 19:28] jwnimmer-tri commented on #5956
Oh, you're right.  Mutable public global variables didn't even cross my mind, because _who does that!_.

[2017-05-01 19:37] m-chaturvedi commented on #5956
@stonier Sure.

[2017-05-01 19:46] soonho-tri commented on #5993
Closing after further f2f with @EricCousineau-TRI .

[2017-05-01 19:46] #5993 closed

[2017-05-01 19:49] EricCousineau-TRI commented on #5974
Per f2f with Soonho and Jeremy, the main thing to distill is that an object's representation must be invariant of its location in memory, hence the above edit from "Trivially Copyable" to "`memcpy` Movable".

[2017-05-01 19:55] #5078 closed

[2017-05-01 20:25] EricCousineau-TRI commented on #5890
Per a f2f with @soonho-tri, I plan to implement specialized types (e.g., `L2Norm`, `QuadraticError`) as types derived the base type, to enable a syntax such as:
[code]

[2017-05-01 20:26] hongkai-dai commented on #5890
Is `L2NormCost` a derived class of `QuadraticCost`?

[2017-05-01 20:27] EricCousineau-TRI commented on #5890
Yup, such that it would be placed in the correct container.

[2017-05-01 20:30] #5772 closed

[2017-05-01 20:31] hongkai-dai commented on #5890
My concern is that we can have an explosion of derived class, if we go this way, as we can further have other derived class of QuadraticCost, for example, WeightedL2NormCost. L2NormCost is just a special form form of quadratic cost 0.5 * x' * Q * x + b' * x + c, where Q = Identity, b = 0, c = 0. Does this concern make sense?

[2017-05-01 20:35] EricCousineau-TRI commented on #5890
Yes, that is most certainly a valid concern. In that case, may be a static method could be used, such as:
[code]

Alternatively, this could be made into external functions, such as `MakeQuadraticErrorCost(...)` and `MakeL2NormCost(...)`, but this would circle things back to the original design, and have a little bit if incongruence in that only special types have the `Make...Cost(...)` functional

[2017-05-01 20:38] hongkai-dai commented on #5890
I think both these two designs (static method and external functions) are good, that they are just some functions to construct a `QuadraticCost` in a special form.

[2017-05-01 20:40] EricCousineau-TRI commented on #5890
OK. To keep things somewhat decoupled (and keep the class definition less noisy), I will create separate `Make...Cost()` methods, possibly near the original classes. This would foster the ability to keep the syntax consistent if a user wanted to introduce an additional method or overload.

[2017-05-01 21:22] EricCousineau-TRI commented on #5890
I've justed updated the description. Please let me know if you have any comments / concerns.

[2017-05-01 21:51] EricCousineau-TRI commented on #5981
@rdeits Thanks! Will check into that.

@RussTedrake Given that, I've set the priority to medium. Please let me know if you'd like me to up the priority.

In terms of timeline, do you have an idea of when would decide on how we should implement our MATLAB bindings?

[2017-05-01 22:17] RussTedrake commented on #5981
Based on today's slack poll, it looks like making the systems classes available in Python should be the first priority.  If we can make those same bindings provide the solution for matlab, that would be ideal; otherwise we need to at least lay out an alternative plan for our matlab bindings.

So -- I would say that spike testing syntactic solutions to support the numpy array <--> matlab array conv

[2017-05-01 22:49] EricCousineau-TRI commented on #5890
Did a quick test, template specialized overloads (e.g. `AddCost(symbolic...)`, `AddCost<C>(symbolic...)` work as expected:

* [tpl_method_overload.cc](https://github.com/EricCousineau-TRI/repro/blob/1356eca7f5dcd483a6aeed55d1dc56a0a80cf84f/cpp_quick/tpl_method_overload.cc#L138)
    * [example output](https://github.com/EricCousineau-TRI/repro/blob/1356eca7f5dcd483a6aeed55d1dc56a0a80cf84f/cpp_quick

[2017-05-02 06:44] hongkai-dai commented on #5979
@rdeits , I am not very familiar with these LCM erros, have you seen them before?

[2017-05-02 06:52] rdeits commented on #5979
It could be https://github.com/lcm-proj/lcm/issues/46 which would indicate an out-of-date version of LCM.

[2017-05-02 08:17] sqhuang commented on #5923
Thank you, I think I just find the solution.
It was the size of the drone that cause the problem.
Nice work!

[2017-05-02 08:17] #5923 closed

[2017-05-02 08:17] sqhuang commented on #5923
...

[2017-05-02 13:03] liangfok commented on #5975
Upon further investigation, simply removing the LCM dependency is not sufficient for my purposes. I shall thus proceed as @jwnimmer-tri recommended and not use `AutomotiveSimulator`. Since there is otherwise no immediate need for this feature, I will close this issue.

[2017-05-02 13:03] #5975 closed

[2017-05-02 16:53] jwnimmer-tri commented on #1854
Another relevant question is how to test that code is correct.  I realized today that we might be able to replace memory allocation to always return unaligned base pointers, so that if Eigen ever fails to do the alignment masking the code would definitely trap, rather than only failing on MSVC 32-bit or whatever.

[2017-05-02 17:36] jwnimmer-tri commented on #5974
FYI the issue title "Leak memory" is a bit misleading.  "Crash and burn with extreme UB prejudice" is more like it.

[2017-05-03 00:34] stonier commented on #5956
@m-chaturvedi Can you test with the branch they have in [ign-math/pull-request/165](https://bitbucket.org/ignitionrobotics/ign-math/pull-requests/165/construct-on-first-use-in-rand-class/diff)?

[2017-05-03 02:54] jwnimmer-tri commented on #1854
It looks like `P0035R4` has landed in Clang 4 and GCC 7, which as I understand it means that heap allocation for over-aligned types works easily and inductively.  Eigen has a ticket tracking the feature request at http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1409.

[2017-05-03 13:38] jamiesnape opened #6013 "MATLAB testMathematicalProgram fails during coverage builds"
https://drake-cdash.csail.mit.edu/testDetails.php?test=12242407&build=573070
https://drake-cdash.csail.mit.edu/testDetails.php?test=12176080&build=572899
[code]
FYI @RussTedrake.

[2017-05-03 14:15] EricCousineau-TRI commented on #5974
Tentatively closing this issue per @soonho-tri's PR #5983.

We can reopen or reference this issue if we encounter any other scalar types in the future.

[2017-05-03 14:15] #5974 closed

[2017-05-03 14:31] BetsyMcPhail commented on #5889
Since the changes in PR #5954 and @jamiesnape cleaning up the documentation repo, we haven't had any publishing documentation failures.

[2017-05-03 14:31] #5889 closed

[2017-05-03 14:36] EricCousineau-TRI commented on #5981
#### Simple Problem (accept `py.float` in lieu of `int`)
I've added a hack-and-slash proof-of-concept of replacing things like `int` with a "relaxed" type that will permit floating point values:
* [example source](https://github.com/EricCousineau-TRI/repro/blob/2dfa497a60cc5f6f373fb562e37ad7724cbb3a7f/bindings/pybind11/pydrake_type_binding.cc#L161) - This leverages the `type_caster<>` approach. `p

[2017-05-03 14:46] RussTedrake commented on #6013
hrmm.  don't know why that build would be different.  i've manually added the PYTHONPATH to the cmake output in build/install/lib/python2.7/...
@EricCousineau-TRI -- any ideas?

[2017-05-03 15:49] soonho-tri commented on #5927
I'm not sure if it's related but I manage to make the OSX build working again thanks to @jamiesnape 's update on `vtk5` formula.

@liangfok , could you try it again? You might need to uninstall/untap qt/vtk formulas and then retap/install them back before testing it.

[2017-05-03 16:08] jamiesnape commented on #6013
I see why:
[code]

https://github.com/RobotLocomotion/drake-ci/blob/master/driver/configurations/coverage.cmake#L70-L71

We do not use SWIG now so I will try removing that line. That test also needs guarding with something. I will PR a fix.

[2017-05-03 16:09] EricCousineau-TRI commented on #6013
*NOTE*: Was writing this out before Jamie solved it (whoop!), but will still post as relevant item for Slack convo.

Writing it out (namely for myself) to see why it is build-dependent:

Failures:
* site `drake-linux-trusty-i-2017-04-26-c4.8xlarge`:
   * build `linux-gcc-nightly-coverage-matlab` - [Job 418](https://drake-jenkins.csail.mit.edu/view/Coverage/job/linux-gcc-nightly-coverage-matlab/418

[2017-05-03 16:57] GuiyangXin commented on #5979
Thank you all. But how can I fix it? How can I update the version of LCM? Is the following code enough to fix it?
[code]
Do I need to build Drake again? Forgive me for some naive question. I am a beginner for computer science. Thanks.

[2017-05-03 17:06] liangfok commented on #5927
I uninstalled and reinstalled qt and vtk but ran into the following error:

[code]

The missing library is in `/usr/local/Cellar/vtk5/5.10.1/lib/vtk-5.10/libvtkViews.5.10.dylib`. Any idea what's wrong?

[2017-05-03 17:09] jamiesnape commented on #5927
Did you `brew update`?

[2017-05-03 17:11] liangfok commented on #5927
Yeah, here's what I see:

[code]

[2017-05-03 17:11] m-chaturvedi commented on #5956
I checked using the branch issue_69_math3 locally on my machine.  The test //drake/automotive/maliput/rndf:ignition_rndf_test seems to pass.  When they merge it to `default` we shouldn't have this problem.

[2017-05-03 17:12] jamiesnape commented on #5927
Can you recompile `drake-visualizer`?

[2017-05-03 17:16] jamiesnape commented on #5927
Ok, looks like a problem with the packages:
[code]
I will have to fix that and rebuild.

[2017-05-03 17:18] soonho-tri commented on #5927
Actually, I have the same problem when I run `./build/install/bin/drake-visualizer`. Sorry that I only tested building and running drake test binaries.

[2017-05-03 17:25] EricCousineau-TRI commented on #4486
Linking to #1267.

[2017-05-03 17:50] rdeits commented on #5979
Actually, I'm not sure what it could be. From your previous comment, I thought you were trying to build the `oh-distro` project, but now I see that you're just using Drake. Drake should already be building the correct version of LCM, so downloading it should not have been necessary (sorry for the confusion).

Are you running Drake master?

[2017-05-03 18:40] GuiyangXin commented on #5979
Yes, I followed the guidance in `oh-distro-private`. I guess I am running the Drake master branch. But how can I recognise it? I think it should be based on which branch I cloned from github.

[2017-05-03 18:49] rdeits commented on #5979
You can check with `git status` which should show `on branch master`. How recently did you clone drake?

[2017-05-03 21:51] stonier commented on #5956
:+1:

[2017-05-04 04:01] #6013 closed

[2017-05-04 13:01] stonier commented on #5892
Closed with the PR submission linked above.

[2017-05-04 13:01] #5892 closed

[2017-05-04 13:06] stonier commented on #2628
Qt5 problems due to them changing an api for opengl widgets mid-stream that breaks VTK6/7. Kitware is now trying to move it to VTK8.

[2017-05-04 13:39] #5793 closed

[2017-05-04 13:45] jamiesnape opened #6026 "iiwa_ik_test fails on LLVM coverage builds"
[code]

https://drake-cdash.csail.mit.edu/testDetails.php?test=12298860&build=574569
https://drake-cdash.csail.mit.edu/testDetails.php?test=12296003&build=574593
https://drake-cdash.csail.mit.edu/testDetails.php?test=12301779&build=574796

[2017-05-04 14:17] jwnimmer-tri commented on #5621
My (somewhat stale) WIP branch is at https://github.com/jwnimmer-tri/drake/tree/bazel-drake-visualizer-prebuilt.

[2017-05-04 15:21] m-chaturvedi opened #6027 "Thread Sanitizer issue with LCM"
There are two data races complained about by TSan when testing `lcm_driven_loop_test `.
The following gives how to reproduce the error with a 'simpler' example and an attempt at fixing the problem in the LCM library.
https://github.com/lcm-proj/lcm/pull/179

[2017-05-04 16:04] jamiesnape commented on #5621
@mwoehlke-kitware and/or @sankhesh will create a drake-visualizer binary using the binary VTK 8 pre-release packages that we are building.

[2017-05-04 16:29] patmarion commented on #5621
very interested to here progress updates if you have a chance, this sounds great!  for me in the near future, i hope to use director with vtk 7.1 (and hopefully move to 8 when a stable release is available), qt 4 (not 5 quite yet) and python 3.

[2017-05-04 16:46] jamiesnape commented on #1997
This was fixed quite some time ago.

[2017-05-04 16:46] #1997 closed

[2017-05-04 17:20] jamiesnape commented on #5927
Try again now:
`brew remove vtk5 && brew untap robotlocomotion/director && brew tap robotlocomotion/director && brew install vtk5`

If you are unlucky, you may need:
`rm ~/Library/Caches/Homebrew/vtk5-5.10.1.{sierra|el_capitan|yosemite}.bottle.tar.gz `

[2017-05-04 17:38] GuiyangXin commented on #5979
I am working on LittleDog. So I have just made commit in the directory of LittleDog. When I check using` git status` under the directory of /oh-distro-private/software/drake/drake, it responses `HEAD detached at ce26d71`. I cloned Drake in November 2016. And I have never update it because I don't know how to make it up-to-date. Do I need to clone the entire package again? And compile it? Or is the

[2017-05-04 18:02] #4733 closed

[2017-05-04 19:48] rdeits commented on #5979
Ah, yes, that's a pretty old version. I didn't realize you were using the version of Drake inside of `oh-distro-private`. Unfortunately, I don't think that a more recent version of Drake will work with `oh-distro`. Perhaps you could just build Drake by itself http://drake.mit.edu/from_source.html instead?

As for keeping up to date with git, the general answer is that you need to use `git pull` to

[2017-05-04 20:02] GuiyangXin commented on #5979
OK, thank you so much Robin. I am going to have a try. I think this issue can be closed. Thank you all.

[2017-05-04 20:20] EricCousineau-TRI commented on #3500
Working on WIP. Will add tests into PR #6021 per Hongkai's request, and use that to test the constant offset.

[2017-05-05 04:09] EricCousineau-TRI commented on #5974
Posted on the Eigen forum to see what other solutions may be available (since there seems to be something like `smart_copy` that either does `memcpy` or `std::copy`):
[Correct Method to use Non-Memcpy-Movable Types as Scalars?](https://forum.kde.org/viewtopic.php?f=74&t=140169)

[2017-05-05 10:30] #5979 closed

[2017-05-05 10:52] RussTedrake opened #6039 "monolithic pick and place bazel dependencies"
i saw that the new Readme recommends running from the root directory, so I tried
[code]
I believe that the inability to launch via bazel run (from any directory) indicates missing dependencies (here the sdf files) in the bazel BUILD rules.

[2017-05-05 12:07] jwnimmer-tri commented on #5621
@jamiesnape @mwoehlke-kitware @sankhesh I suspect you know this, but to be clear: while creating and hosting the binary is a meaningful chunk of the work, we already could have pointed at existing Director pre-built releases that are mostly fine.  The remaining challenge in resolving this issue is preparing the repeatable build and release process (code and doc, e.g., Docker and then docs or autom

[2017-05-05 13:53] sankhesh commented on #5621
@patmarion I am working on adding support for VTK 8 with Qt5 with the `QVTKOpenGLWidget`.

[2017-05-05 16:43] mwoehlke-kitware opened #6040 "Bazel installs private headers"
The current mechanism for installing headers is picking up private headers that should not be installed. For example, in LCM:

    $ ls drake-bazel/install/include/external/lcm/lcm
    dbg.h       ioutils.h        lcm-cpp.hpp       lcm.h           lcmtypes       ringbuffer.h
    eventlog.h  lcm_coretypes.h  lcm-cpp-impl.hpp  lcm_internal.h  lcm_version.h  udpm_util.h

Compare to the headers instal

[2017-05-05 16:43] jamiesnape commented on #5815
Fixed by #5930.

[2017-05-05 16:43] #5815 closed

[2017-05-05 16:44] mwoehlke-kitware commented on #6040
[This](https://groups.google.com/d/msg/bazel-discuss/6oFetZAoOQE/61ncIz6CCAAJ) implies that private headers should be listed as `srcs` rather than `hdrs`. However, when I tried that, it did not seem to have any effect (private headers were still installed).

[2017-05-05 16:54] FischerGundlach opened #6042 "kLinearSystem does not check feasibility of solution."
I was toying with simple problems using the mathematical_program in c++ drake. I constructed the infeasible problem:

`  drake::solvers::MathematicalProgram prog_;
  drake::solvers::VectorDecisionVariable<1> x_;

  x_ = prog_.NewContinuousVariables(1);
  prog_.AddLinearEqualityConstraint(x_(0)==0);
  prog_.AddLinearEqualityConstraint(x_(0)==10);

  prog_.Solve();
  std::cout << prog_.GetSolution(x

[2017-05-05 17:02] jwnimmer-tri commented on #5940
All issues must have owners; feel free to reassign elsewhere as needed (or close), etc.

[2017-05-05 17:03] jwnimmer-tri commented on #2013
All issues must have owners; feel free to reassign elsewhere as needed (or close), etc.

[2017-05-05 17:04] jwnimmer-tri commented on #5579
All issues must have owners; feel free to reassign elsewhere as needed (or close), etc.

[2017-05-05 17:04] jwnimmer-tri commented on #5594
All issues must have owners; feel free to reassign elsewhere as needed (or close), etc.

[2017-05-05 17:05] jwnimmer-tri commented on #5693
All issues must have owners; feel free to reassign elsewhere as needed (or close), etc.

[2017-05-05 17:05] jwnimmer-tri commented on #5718
All issues must have owners; feel free to reassign elsewhere as needed (or close), etc.

[2017-05-05 17:06] jwnimmer-tri commented on #5752
All issues must have owners; feel free to reassign elsewhere as needed (or close), etc.

[2017-05-05 17:07] jwnimmer-tri commented on #5782
All issues must have owners; feel free to reassign elsewhere as needed (or close), etc.

[2017-05-05 17:08] jwnimmer-tri commented on #5792
All issues must have owners; feel free to reassign elsewhere as needed (or close), etc.

[2017-05-05 17:08] jwnimmer-tri commented on #5804
All issues must have owners; feel free to reassign elsewhere as needed (or close), etc.

[2017-05-05 17:08] jwnimmer-tri commented on #5844
All issues must have owners; feel free to reassign elsewhere as needed (or close), etc.

[2017-05-05 17:09] jwnimmer-tri commented on #5869
All issues must have owners; feel free to reassign elsewhere as needed (or close), etc.

[2017-05-05 17:09] jwnimmer-tri commented on #5873
All issues must have owners; feel free to reassign elsewhere as needed (or close), etc.

[2017-05-05 17:10] jwnimmer-tri commented on #5906
All issues must have owners; feel free to reassign elsewhere as needed (or close), etc.

[2017-05-05 17:10] jwnimmer-tri commented on #5918
All issues must have owners; feel free to reassign elsewhere as needed (or close), etc.

[2017-05-05 17:13] jwnimmer-tri commented on #6042
All issues must have owners; feel free to reassign elsewhere as needed (or close), etc.

[2017-05-05 17:44] siyuanfeng-tri commented on #5940
https://github.com/RobotLocomotion/drake/pull/6044
@samzapo see if you are happy with this. there is really nothing to it, so we had the doc pretty minimal, sorry for that.

[2017-05-06 03:37] liangfok commented on #5927
Here's the error I'm seeing after executing the commands above:

[code]

[2017-05-07 10:23] RussTedrake commented on #6039
Also please mention the need to open a drake-visualizer (manually) in the README.md

(see the readme in drake/automotive for an alternative approach — which launches the viewer when the demo gets run).

[2017-05-07 15:10] yaohuig opened #6052 "Missing symbol '_ZdlPvm'"
When I run the example Quadrotor2D after installation, MATLAB shows following error:

------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
Invalid MEX-file
'/home/gyh/Drake/drake-distro/drake/matlab/systems/trajectories/PPT

[2017-05-07 16:48] hongkai-dai commented on #6052
Can you make sure you libstdc++.so.6 is pointing to the right location? You can do so by opening a terminal, and do
[code]
`MATLAB_PATH` is where you installed MATLAB. If it points to the libstdc++.so.6 coming with MATLAB, then you need to change the symbolic link, to point to the system libstdc++.so.6. You can do so by
[code]

[2017-05-08 02:34] yaohuig commented on #6052
I followed the given command and it works! Thank you!

[2017-05-08 04:19] #6052 closed

[2017-05-08 13:38] jamiesnape commented on #5927
That would be a mismatch between Python library and Python interpreter. Another fix is needed.

[2017-05-08 22:03] jamiesnape commented on #5927
New packages are available.

[2017-05-09 14:33] clalancette opened #6058 "Need to add boost and tinyxml to the prebuilt CI images"
Based on this review: #6028 , we need to add the libtinyxml-dev dependency to the prebuilt CI images.  Assigning to @BetsyMcPhail

[2017-05-09 14:35] jamiesnape commented on #5927
@liangfok @soonho-tri please test when you have a spare moment.

[2017-05-09 14:40] jamiesnape commented on #6058
Also:
* `sudo apt-get install libboost-dev`
* `brew install boost tinyxml`

[2017-05-09 14:44] liangfok commented on #5927
Alright, I should be able to test this afternoon. Should I just re-run the same commands as above?

[2017-05-09 14:55] jamiesnape commented on #5927
Yes.

[2017-05-09 14:55] soonho-tri commented on #5927
FYI, I'm testing it on my macs now.

[2017-05-09 14:55] soonho-tri commented on #5927
It would be the best if we get a confirmation from @liangfok.

[2017-05-09 15:55] soonho-tri commented on #5927
I have the following messages:
[code]

[2017-05-09 16:05] jamiesnape commented on #5927
Ok. I will glad when we switch to VTK 7/8.

[2017-05-09 16:16] jamiesnape commented on #5927
I don't even have a `/usr/local/opt/python/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/vtk` folder. Is it a symlink somewhere?

[2017-05-09 16:24] soonho-tri commented on #5927
I think it's a symlink of `/usr/local/lib/python2.7/site-packages/vtk/`. Do you have this?

[2017-05-09 16:26] soonho-tri commented on #5927
Is it possibly a residue of `vtk` (not `vtk5`)? I installed `vtk` accidentally but removed it later.

[2017-05-09 16:54] soonho-tri commented on #5927
I removed the folder, `/usr/local/lib/python2.7/site-packages/vtk/`. But I have
[code]

Is it possible the `vtk5` bottle is created without Python support (i.e. using `--without-python`)? I'm build `vtk5` from source just to check if it makes things working.

[2017-05-09 17:52] soonho-tri commented on #5927
I installed `vtk` using `--build-from-source`. It dropped files under `/usr/local/lib/python2.7/site-packages/vtk` directory. But the shared libraries in the dir have wrong pointers. For example:

[code]

As a result, I have the following error when I run `drake-visualizer`:

[code]

[2017-05-09 18:06] jamiesnape commented on #5927
Uninstall that `vtk5`, manually remove `/usr/local/opt/python/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/vtk` if it still exists, and then try the bottle again.

[2017-05-09 18:11] soonho-tri commented on #5927
It works! Thank you!!
<img width="879" alt="screen shot 2017-05-09 at 2 10 35 pm" src="https://cloud.githubusercontent.com/assets/20779767/25865574/51c8b876-34c1-11e7-9e6c-376e5d147a5a.png">

[2017-05-09 18:36] liangfok commented on #5927
It works for me too! Thanks!!

[2017-05-09 18:36] #5927 closed

[2017-05-09 18:49] BetsyMcPhail commented on #6058
The Trusty, Xenial and Mac images have been updated.

[2017-05-09 18:49] #6058 closed

[2017-05-10 13:41] basicNew commented on #5804
@maddog-tri I understand that this a core part on how monolane is defined and specifying logical lanes connections independently of the geometry seem to be out of its scope. We are currently moving the waypoints by a small delta in case of overlapping when generating monolane files, so if you agree I'll close this one.

[2017-05-10 15:51] amcastro-tri opened #6067 "Fix some brittleness issues identified with RotationalInertia"
1.  Add static asserts to ensure we are using the lower portion of the underlying dense matrix. Per comment [here](https://reviewable.io/reviews/robotlocomotion/drake/5945#-Kjk5x7d8BPlefOZzSIo), a good idea is to have an enum with the triangular portion in use (as in original design).
2. Consider returning `Map` (or any other Eigen expression that allows a fixed-size stride of 4) to implement `get

[2017-05-10 16:28] sherm1 commented on #6067
My 2 cents:
1. I do not understand how that helps anything. The class is defined to use the lower triangle -- all the methods should be implemented that way. How is that brittle?
2. Although it is a cool idea, I don't think it is a good idea to return a map with non-unit stride. That is asking for difficult compiler error messages downstream and doesn't seem justified in this non-performance criti

[2017-05-10 20:19] EricCousineau-TRI opened #6069 "Python bindings of MathematicalProgram broken due to introduction of EvaluatorBase, missing overloads for `EvalBindingAtSolution`"
Since the Gurobi and Mosek tests have been disabled (Issue #5862 + PR #5863), some Python bindings were broken by some of my prior commits and I did not catch these on my machine nor in CI.

For now, `EvaluatorBase` has `lower_bound()` and `upper_bound()` defined in it, and some overloads were missing from the binding of `EvalBindingAtSolution`, which causes pybind11 to fail the following tests (w

[2017-05-10 20:44] EricCousineau-TRI commented on #3500
Completed on EricCousineau-TRI/drake#5, but #6021 is a prerequisite. Will rebase once that is merged in.

[2017-05-11 12:54] jonathan-owens commented on #5210
Do we think [this](https://drake-cdash.csail.mit.edu/viewBuildError.php?buildid=586249) is related?

[2017-05-11 13:45] jamiesnape commented on #5210
No, we do not yet run anything Director-related during the Bazel builds.

[2017-05-11 13:48] FischerGundlach commented on #4421
Hey all,

the (intermediate) goal is to write a function which matches coefficients of monomials, such that we can add polynomial constraints to the system. This is also an intermediate step in SOS decomposition.

While I am busy with working into the code, some parts made me wonder. I hope you can help me out with the interpretation.

1. ```symbolic::Indeterminate``` does not exist, but it's func

[2017-05-11 14:16] hongkai-dai commented on #4421
1. > symbolic::Indeterminate does not exist, but it's function is exactly what symbolic::Varaible does, correct?

   That is right. We plan to use `symbolic::Variable` to represent indeterminates as well. The plan is to add a function
[code]
   to add indeterminate to the program. The indeterminate is represented as `symbolic::Variable`. Inside the `MathematicalProgram` class, we will store the in

[2017-05-11 14:25] FischerGundlach commented on #4421
Oh true, there is no ```symbolic::Polynomial```. ```Polynomial``` is not in the ```symbolic``` namespace.

[2017-05-11 17:11] clalancette commented on #6058
Thank you!

[2017-05-11 22:59] naveenoid commented on #6039
Fixed through #6056

[2017-05-11 22:59] #6039 closed

[2017-05-11 23:02] naveenoid commented on #3865
Closing this issue in light of the creation of drake/manipulation.

[2017-05-11 23:02] #3865 closed

[2017-05-11 23:14] naveenoid opened #6082 "Need to move the monolithic pick-and-place demo out of dev"
Multiple teams are using the KUKA IIWA Arm monolithic pick and place demo as a benchmark. It needs to move out of dev and into mainstream master. This issue tracks the PRs that need to land in order to achieve this.
- [x] Move Iiwa_ik_planner -> add a suitable unit test.
- [ ] Move IiwaWsgPlantGeneratorsEstimatorsAndVisualizer
- [x] Move ActionPrimitives (two or more PRs may be needed here).
- [ ]

[2017-05-11 23:16] naveenoid commented on #6082
Tagging @sammy-tri @kunimatsu-tri @SeanCurtis-TRI @siyuanfeng-tri @RussTedrake
(People who might care about this move)

[2017-05-12 00:00] EricCousineau-TRI commented on #5890
Updated description per f2f conversation yesterday.

[2017-05-12 08:49] naveenoid opened #6086 "Feature - optitrack driven pick and place demo (real robot)"
This issue tracks the various PRs needed to land an optitrack data driven pick and place demo in the real KUKA IIWA robot.

- [ ] Moving Average Filter (#6065)
- [ ] Optitrack LCM to pose translator (#6081)
- [ ] Substep 1 for the decoupled pick and place demo : WorldState needs to have an optitrack LCM as an option against the OracularStateEstimator
- [ ] Substep 2 : Pick and place demo to take i

[2017-05-12 09:07] naveenoid commented on #4076
@amcastro-tri What is the status of the proposal discussed here? Is it possible to apply a generalized force + torque to a select frame on a select model instance on a RBtree within a RBPlant? If not, could we have a quick f2f soon on what needs to land for that?
A student here in Zurich is very interested in that.

[2017-05-12 09:19] naveenoid commented on #6086
Tagging @sammy-tri

[2017-05-12 13:29] amcastro-tri commented on #4076
As we discussed f2f with you here in CAM during your visit, there has not been an immediate need for this to get resolved. My goal was to get all of this functionality ASAP in MBT. However, if there is an immediate need we can talk about how this should look like.

[2017-05-12 15:37] jamiesnape commented on #6026
Also times out on various memcheck builds.

[2017-05-12 16:22] Jaeyoung-Lim opened #6089 "Eigen3 not found in drake-distro"
I am trying to build a package called eigen_catkin using `catkin build` but the systems is trying to find eigen3 in a directory in `drake-distro/indlcude` which does not exist.

The error is as show below.
[code]

Does anybody have an idea how to fix this?

Thank you

For reference, the link for eigen_catkin package is [here](https://github.com/ethz-asl/eigen_catkin)

[2017-05-12 16:24] jamiesnape commented on #3129
**Jenkins TODO**

Mac:
- [ ] coverage
- [ ] debug
- [ ] release

Linux Trusty:
- [ ] coverage
- [ ] debug
- [ ] release

Linux Xenial:
- [ ] asan
- [ ] coverage
- [ ] debug
- [ ] lsan
- [ ] msan
- [ ] release
- [ ] tsan
- [ ] ubsan
- [ ] valgrind

[2017-05-12 17:59] naveenoid commented on #6089
@liangfok : Would you perhaps know if we have a drake - eigen class when using catkin build?
Also tagging @stonier

[2017-05-12 18:40] siyuanfeng-tri commented on #6026
i volunteered @naveenoid to take a look.

[2017-05-12 18:43] liangfok commented on #6089
Drake downloads Eigen 3.3.3 during it's build process:

https://github.com/RobotLocomotion/drake/blob/2883a4b0b65b3a1cc494fa9708b64e14c1ff6c72/CMakeLists.txt#L34

I'm unsure why `eigen_catkin` is looking in Drake's subdirectory for `eigen3`. @Jaeyoung-Lim, can you post detailed replication steps?

[2017-05-12 19:56] Jaeyoung-Lim commented on #6089
@liangfok The replication steps are as below
Thanks
[code]

[2017-05-12 19:59] Jaeyoung-Lim commented on #6089
I have tried changing the CMakeLists.txt in the eigen_catkin package
[code]
to
[code]
to maybe guide it to find eigen in the drake directory as `drake-dsitro/include` doesn't exitst.  However, the same error looking for 'drake-distro/include/eigen3' appears

[2017-05-12 22:20] #6026 closed

[2017-05-13 12:20] liangfok commented on #6089
Using a fresh ROS workspace, I failed to replicate the problem described above, but ran into a different problem:

[code]
Which version of Ubuntu and ROS are you using?

[2017-05-13 12:28] liangfok commented on #6089
Oh, never mind, maybe the error I see is the same as the error you're observing. `find_package(Eigen3 QUIET)` is apparently finding it in a different workspace that contains Drake.

[2017-05-13 12:37] liangfok commented on #6089
Running `catkin clean` on my drake-containing workspace fixed the problem. I believe this confirms that having a built workspace containing drake results in `eigen_catkin` finding the wrong eigen3 even when it's in a different workspace.

[2017-05-13 13:47] stonier commented on #6089
@liangfok definitely and @Jaeyoung-Lim probably - sounds like you've built and sourced a drake containing catkin devel workspace and then tried to catkin build the eigen_catkin workspace afterwards. This means the drake containing workspace has become an underlay and as such, sets Eigen3 before eigen_catkin can get a look in.

1. Make sure you don't source any devel or install spaces in `.bashrc`

[2017-05-13 23:02] #5619 closed

[2017-05-14 23:01] stonier commented on #5956
@m-chaturvedi that ign-math pull request is now in. You'll have to update the ign-math version/hash drake is pulling in (Bazel and CMake) to get it and then re-enable it in the memcheck test.

I asked them over in [ign-math/pull-requests/165](https://bitbucket.org/ignitionrobotics/ign-math/pull-requests/165/construct-on-first-use-in-rand-class/diff) whether they'll make a new tagged release. You m

[2017-05-15 06:27] GPrathap opened #6095 "Error while executing addpath_drake"
I followed drake installing using [make](http://drake.mit.edu/from_source.html#build-with-make). The build was successful. But then I tried to test drake installation in Matlab using [this](http://drake.mit.edu/from_source.html#test-your-installation).

But I am getting this error.

[code]

I have checked `drake-distro/build/install/matlab` directory and I can see only these m files. `addpath_sedu

[2017-05-15 06:50] hongkai-dai commented on #6095
Could you make sure that drake is built with MATLAB? You can do the following to check if MATLAB was detected when compiling drake
[code]
When I do this on my machine, it shows the variables DISABLE_MATLAB, MATLAB_EXECUTABLE, Matlab_ROOT_DIR, etc, are set to some values, as in the following screenshot. Can you make sure that cmake detects your MATLAB?
![screenshot from 2017-05-14 23-43-27](https:/

[2017-05-15 07:09] GPrathap commented on #6095
Yes, This is my configuration.
![screenshot_2017-05-15_12-24-45](https://cloud.githubusercontent.com/assets/7587302/26046167/3a623c80-396b-11e7-8818-63d8427f65bc.png)

Anyway thanks for the prompt response. If you have a build can you give me the what files should be in the `drake-distro/build/install/matlab`.

[2017-05-15 14:07] jwnimmer-tri commented on #5487
FYI @m-chaturvedi @jamiesnape in case you have already come across or fixed this, you could update the ticket here.  If you don't have any info, that's fine and you can ignore this ticket.

[2017-05-15 14:09] jwnimmer-tri commented on #4913
@sammy-tri If you can offer any guidance on the path forward, I could help either implement this or help @stonier delegate it.  (Or redirect us to someone else who can make the decision?)  As we move into a more mature release process, I would really like to remove software from our build that we don't have a license grant to use.

[2017-05-15 15:09] soonho-tri opened #6099 "doxygen doesn't render HTML char entities properly"
Example: http://drake.mit.edu/doxygen_cxx/group__solvers.html

It ignores (`&diams;`, :diamonds:) and (`&dagger;`, †) in https://github.com/RobotLocomotion/drake/blob/master/drake/solvers/mathematical_program.h#L76-L80.

<img width="932" alt="screen shot 2017-05-15 at 11 06 27 am" src="https://cloud.githubusercontent.com/assets/20779767/26064309/90e1c0e2-395e-11e7-9a3d-2a7b59503139.png">

It says

[2017-05-15 15:11] sammy-tri commented on #4913
I don't have an opinion between figuring out how to integrate Metis 5 or disabling Metis.  I've tried neither and don't know what the result would be.

I suppose I've been ignoring the priority:high tag (I hadn't actually noticed it until now).  I can put this closer to the top of my todo list it it's urgently needed.  Beyond the fact that I was the original author of `get_ipopt_source.sh` I don't

[2017-05-15 15:20] jwnimmer-tri commented on #4913
@sammy-tri Mostly I just wanted your input.  It sounds like we should next seek a domain expert to decide if we need Metis or not.

I just pinged Russ about it.  He suggests just to try turning it off and see if we notice.  I will either do that myself or let @stonier steal it from me.

[2017-05-15 15:35] jamiesnape commented on #6099
@BetsyMcPhail Switch the documentation builds to Xenial. You will need to install the oXygen XML Editor onto the Xenial image and remove it from the Trusty image.

[2017-05-15 15:48] m-chaturvedi commented on #5487
David had pointed out that COW is happening on gcc 4.9 on Slack.  Perhaps the issue has something to do with it.  Here's a gist which maybe interesting:
https://gist.github.com/m-chaturvedi/1262b200d26129512ecf92fa6e2fc4e3

[2017-05-15 16:18] hongkai-dai commented on #6095
The files in my `drake-distro/build/install/matlab` are
![screenshot from 2017-05-15 09 16 18](https://cloud.githubusercontent.com/assets/6314000/26067520/65a29302-394f-11e7-8da4-5a31501f1523.png)

[2017-05-15 16:19] hongkai-dai commented on #6095
BTW, the files in `drake-distro/drake/matlab` are
![screenshot from 2017-05-15 09 19 36](https://cloud.githubusercontent.com/assets/6314000/26067615/a22586a4-394f-11e7-9ea5-ab854d7cca4a.png)

[2017-05-15 18:11] hongkai-dai opened #6102 "LinearCost does not support UpdateLinearTerm"
Should support this function, as `QuadraticCost` supports `UpdateQuadraticAndLinearTerms`.

[2017-05-15 18:54] sammy-tri commented on #3720
The code I originally opened this about is unrecognizable at this point.  Closing.

[2017-05-15 18:54] #3720 closed

[2017-05-16 00:35] EricCousineau-TRI opened #6108 "Simplify MosekSolver::Solve error semantics"
(Incurring technical debt to simplify PR #6085.)

Some of the logic within `MosekSolver::Solve` could be reduced by:
* Using some sort of `ScopeExit` mechanism to (a) free the task, and (b) set the solver type.
* Throwing exceptions when there are infrastructure issues (such as when `MSK_appendvars` fails).

An attempt was made in this commit (but needs further revision, per [Jeremy's comments](ht

[2017-05-16 03:07] GPrathap commented on #6095
Files in the `drake-distro/drake/matlab` are very similar to what you have. But most of them did not copy to `drake-distro/build/install/matlab`. I will try to install Matlab16b or Matlab17a then will rebuild the drake. Will let you know the result.  Thanks for your time on this.

[2017-05-16 04:55] sherm1 opened #6109 "UnitInertia can be modified to violate its invariants"
Currently UnitInertia derives from RotationalInertia, but the latter provides mutators that can't be permitted on a UnitInertia.

Thanks to @jwnimmer-tri for pointing this out in [this comment](https://github.com/RobotLocomotion/drake/pull/5300#issuecomment-301647269).

Likely the class hierarchy should have been something like:
[code]
with the scary mutators moved to GeneralInertia.

Possibly thi

[2017-05-16 12:20] Jaeyoung-Lim commented on #6089
@liangfok @stonier Thank you for the response. However, I could not resolve the issue.

@liangfok I have built drake using make and NOT as a catkin package. Thus, I cannot run `catkin clean ` in the drake catkin workspace. I am running ROS Indigo on Ubuntu 14.04

@stonier I have tried building only `eigen_catkin` in a fresh catkin workspace but the error is still not resolved

I will really apprec

[2017-05-16 13:21] liangfok commented on #6089
It's very strange how `eigen_catkin` can find `drake` even when `drake` is not built using `catkin`. Have you tried running `make clean` in your `drake` directory?

``
cd /home/cosmonaut/drake-distro/build
make clean
[code]

[2017-05-16 13:34] stonier commented on #6089
Resolved over a quick hangout. It was as suspected, an old catkin workspace build with drake penetrating his new via catkin's overlay mechanism.

[2017-05-16 13:34] #6089 closed

[2017-05-16 13:39] stonier commented on #4977
@caguero can we consider this closed now?

[2017-05-16 13:45] jwnimmer-tri commented on #4913
Step 1 will be to get `get_ipopt_source.sh` repeatable, by using a tagged release instead of the stable branch, along with some usability fixes so it works for PRs.  Step 2 will be to blacklist METIS.

[2017-05-16 14:04] amcastro-tri commented on #6109
`GeneralInertia`? yuck! Hopefully we can find a better solution but if not maybe:

    RotationalInertiaBase (abstract)
      UnitInertia
      RotationalInertia

Also, given that getting a functional MBT is the highest priority for us now (i.e. to provide a full simulation of a Kuka arm with it), and given this would not change the visible (and most used) API for `RotationalInertia` I decided to

[2017-05-16 14:35] jwnimmer-tri commented on #6109
@amcastro-tri I think you're saying that `UnitInertia` is not widely used, so the fact that its broken is low priority?  I could go along with that.  Right now, only the `SpatialInertia` constructor meaningfully uses it, and I think that constructor could gain a fail-fast check that the argument is properly constrained.

[2017-05-16 15:32] sherm1 commented on #6109
The base class would not need to be abstract in this case, @amcastro-tri. It would be exactly the RotationalInertia class we have now, less the mutator methods. The other two classes would be data-free and final. That way there is no performance cost. I'm not sure that's a good idea though -- another possibility would be to eliminate the bad mutator methods altogether -- do we actually need them f

[2017-05-16 15:35] jwnimmer-tri commented on #6109
The mutator method that is both the most hazardous and yet the most important to keep intact is the default copy-assignment operator, `RotationalInertia::operator=(const RotationalInertia&)`.

[2017-05-16 15:57] sherm1 commented on #6109
The base class would have to suppress copy assignment, but could provide `RotationalInertia::operator=(const UnitInertia&)`. The looser derived class would have `GeneralInertia::operator=(const RotationalInertia&)` and copy assignment. Not pretty. Likely a UnitInertia that has-A RotationalInertia would be nicer.

[2017-05-16 16:21] sherm1 commented on #6109
I think this would work, enforce invariants, and be backwards compatible:
[code]

In this case RotationalInertiaBase is not intended to appear anywhere, it is just there to collect the large amount of shared code. RotationalInertia serves as the generic inertia class, since it will accept either RotationalInertia objects or implicitly-converted UnitInertia objects.

[2017-05-16 17:49] sherm1 opened #6113 "Improve output port error messages"
PR #6038 changed the output port API to allow separate per-port computation. Many good ideas came up in review that should be considered for follow-on improvements. This issue collects them:

- [ ] Output port error messages include the System name and type but only the port index. Add the port type to the message. (@SeanCurtis-TRI [comment](https://reviewable.io/reviews/robotlocomotion/drake/6038

[2017-05-16 19:11] jwnimmer-tri commented on #6113
Re: naming.  I agree that "Allocate" is not ideal; really, it's just wrapping a constructor, so just "Construct"?

[2017-05-16 19:19] EricCousineau-TRI opened #6116 "Make Gurobi license checkout errors more obvious"
(Related to #6108)
Presently, if Gurobi cannot check out a license, the solver returns NaNs and an unsuccessful status (`kInvalidInput`).
Instead, we can either `DRAKE_DEMAND` or `throw` a Gurobi-related exception, and include the output from `GRBgeterrormsg(env)`.

This will address the present TODO in `GurobiSolver::Solve(...)`.

I came across this when fixing #6110, where `//drake/multibody/dev

[2017-05-16 19:44] mwoehlke-kitware opened #6117 "Add unit tests for installation helpers"
#6072 adds some internal helper functions that probably should have some unit tests (`strip_prefix` in particular). For that matter, it would be nice to unit test `install` itself if the framework lets us do that. (Inspecting the returned actions for sanity should be sufficient, and can be done against a test project.)

[2017-05-16 21:08] #6040 closed

[2017-05-16 21:14] naveenoid commented on #6116
Is there no API for probing the license server? Solver returning NaNs could also indicate bad problem setup...

[2017-05-16 21:36] hongkai-dai commented on #6116
I think that can mean the problem is infeasible, but not necessary a bad problem.

[2017-05-16 21:43] naveenoid commented on #6116
Sorry I meant returning NaNs + kInvalidInput - is that sufficient?

[2017-05-16 21:51] hongkai-dai commented on #6116
Yes, exactly as @naveenoid  says, NaNs + kInvalidInput could mean the input is bad, but the license is there. For example, the program
min x
s.t 1 <= x <= 0
Will cause kInvalidInput + NaNs in Mosek.

How about adding a new type to the enum `SolutionType`, as `kInvalidLicense`?

[2017-05-16 22:26] EricCousineau-TRI commented on #6116
Yup, I can see if there is a mechanism for probing the license server, or just check the error return code, and ensure that either (a) `SolutionType` to be accurate or (b) we provide the appropriate information about the exception.

TBH, I would prefer an exception w.r.t. license checking, as that should not be happening at all.
If we return `kInvalidLicense`, to inspect the failure of a GTest, wo

[2017-05-16 22:38] EricCousineau-TRI commented on #5893
Sorry for the late reply, and sorry for the naive question(s), but what would the advantage be for supplying `FindResource(resource)` vs. `GetDrakePath()` (or something like `GetResourceRoot()`) to merit the downstream changes?

*Same question, different forms*:
What use cases would `FindResource(resource)` (which right now, seems like `GetDrakePath() + "/" + resource) cover that `GetDrakePath()`

[2017-05-16 22:46] jwnimmer-tri commented on #5893
Using a method means that (1) we can return an error when the resource does not exist and (2) we can change the resource-finding implementation while keeping the API intact, such as having more than one way to locate the resource.

[2017-05-16 23:45] hongkai-dai commented on #6116
Yes, throwing an exception sounds good.

[2017-05-17 12:58] jwnimmer-tri commented on #4934
I'm not foreseeably going to work on this.  Kicking to @stonier for backlog.

[2017-05-17 14:23] EricCousineau-TRI commented on #5893
Makes sense - thanks!

[2017-05-17 14:25] chang-liang opened #6122 "Drake visualizer window can't be seen."
For instance, when I run runAtlasWalking.m, Matlab would be working well, showing 'busy' in the left bottom corner of Matlab window, and 'attempt to launch drake director' in the command window.

The Drake visualizer icon shows in the left bar, but I can't see the Drake visualizer window.
![image](https://cloud.githubusercontent.com/assets/6902821/26158856/0322a54e-3aeb-11e7-8b06-f663d733dc2e.png)

[2017-05-17 14:37] liangfok commented on #6122
Maybe this will help?
http://blog.vogella.com/2013/06/02/ubuntu-how-to-move-an-application-which-is-displayed-offscreen/

[2017-05-17 15:13] GuiyangXin opened #6123 "SNOPT problem"
Hello all, I reinstalled Drake following the guidance of http://drake.mit.edu/from_source.html instead of following oh-distro-private. So I have to install SNOPT separately. And I found this issue #3369. Following the advice from @samkhal , I applied a snopt7.lic file and the snoptmex file. Cloned his wrapper for snopt https://github.com/samkhal/snopt-matlab
But when I run runAtlasWalking.m, error

[2017-05-17 15:35] stonier opened #6124 "Large Data Storage in Drake"
EDIT (eric), as of 2019-01-29: I've generalized this title to not necessarily be Girder-specific, but just handle large data storage in general.
The text below is relevant to stuff being Girder-specific.

---

This issue is to land some information on the table and permit discussion for interested parties. The problem being solved here is how to store, retrieve and consume large data (meshes, ...)

[2017-05-17 15:41] jamiesnape commented on #6124
Sounds good to me.

[2017-05-17 15:45] jwnimmer-tri commented on #6124
Its important that the Bazel integration offer a way to prefetch the data files without compiling nor running all of the tests, to support road warrior builds.  Even better if `bazel fetch ...` is that way, which would then also allow for prefetching a relevant subset based on the usual label and dependency rules.

[2017-05-17 15:49] jamiesnape commented on #6124
`bazel fetch ...` should work out of the box, yes.

[2017-05-17 16:01] m-chaturvedi commented on #5956
The issue was addressed in :
https://github.com/RobotLocomotion/drake/pull/6112

[2017-05-17 16:11] #5956 closed

[2017-05-17 17:22] m-chaturvedi commented on #6027
LCM updated in:
https://github.com/RobotLocomotion/drake/commit/e914922f7c0cb5ca995c594eb8c669f9c3329cec

[2017-05-17 17:24] chang-liang commented on #6122
Your answer is perfect and it works. Thank you!

[2017-05-17 17:34] liangfok commented on #6122
You're welcome!

[2017-05-17 17:34] #6122 closed

[2017-05-17 17:48] jwnimmer-tri commented on #5469
WIP at https://github.com/jwnimmer-tri/drake/tree/framework-value-natively-cloneable

I think it is correct, but could perhaps be a bit more optimized to reduce the amount of cloning, and I don't have anywhere near enough tests yet.

/CC @siyuanfeng-tri

[2017-05-17 17:56] jefesaurus commented on #4913
FWIW I just profiled some trajectory optimization using PORD the public domain default for MUMPS, and the linear solver was less than 6.5% of the CPU time. Presumably, PORD vs Metis is some relatively small fraction of that.

"initializeAutodiff" was 10x that (I'm may be doing something goofy there, too)

I didn't do much of a comparison between metis and pord, but I couldn't tell the difference.

[2017-05-17 21:19] m-chaturvedi opened #6129 ""Slow read"s when building with Bazel"
For example:
https://drake-jenkins.csail.mit.edu/job/linux-xenial-clang-bazel-experimental-memcheck-valgrind-everything/7/console

at time `17:15:27` in the log above.

[2017-05-17 21:22] jwnimmer-tri commented on #6129
Probably just due to things like #5900, exacerbated by CI being slower than local workstations.  We might be able to disable the warning, but I'm not sure what else useful we'd expect to do in this issue.

[2017-05-18 03:04] jwnimmer-tri commented on #5469
I think this is done on the WIP branch now, just need to push it through PRs.  It isn't optimized, and doesn't have sugar for extra downcasting, but should be a solid starting point.  Once we have some more use cases ready, we can look at sugar for polymorphic clone-only types.

[2017-05-18 03:29] EricCousineau-TRI opened #6134 "Consider more efficient / non-redundant storage and computation for AutoDiff orders > 1"
(This may have been discussed before, but just putting it in issue form.)
Eigen's AutoDiff formulation will consume redundant memory / calculations, as mentioned in the [Wikipedia article](https://en.wikipedia.org/wiki/Automatic_differentiation#High_order_and_many_variables).

Presently, it uses the algebra mentioned in the article which yields nth-order representations like this:
[code]
which ult

[2017-05-18 06:23] hongkai-dai commented on #6123
@samkhal have you seen this error before?

Could you add a break point at line 250 of snopt.m, read the input arguments, and check if these arguments match the API of snoptmex?

[2017-05-18 10:54] RussTedrake commented on #6134
Not the same, but this is related: #2619

[2017-05-18 12:25] amcastro-tri commented on #6134
Thanks for putting this in writing.
@edrumwri actually wrote a beautiful pdf with very similar thoughts now I remember

[2017-05-18 13:25] amcastro-tri opened #6135 "Parse a simple double pendulum with sdformat"
Recently merged PR #6028 introduces the `sdformat` parser into Drake (yai!).
As a proof of life, this PR introduces a [demo test](https://github.com/RobotLocomotion/drake/blob/master/drake/multibody/parsers/test/sdformat_test.cc) for a simple world containing a single link. How would we go about parsing a file with more than one link? take for instance this very simple example of a [double pendulu

[2017-05-18 13:26] amcastro-tri commented on #6135
cc'ing @clalancette, @stonier, @sherm1

[2017-05-18 13:39] GuiyangXin commented on #6123
Thanks guys, I think it is because I didn't install SNOPT correctly because I cannot run `>> runNPexamples  % to test the NLP solver (SNOPT)` successfully. I have switched to use SNOPT 7.2. So Atlas can walk very well. However, my previous problem about changing friction coefficient between feet and terrain still cannot be solved. I change line 65 as  `mu = 0*ones(nC,1);` in contactConstraints.m f

[2017-05-18 13:50] jwnimmer-tri commented on #5893
WIP will be at https://github.com/jwnimmer-tri/drake/tree/build-drakepath.  (There's not very much there yet; just an API sketch.)

[2017-05-18 14:10] stonier commented on #5564
Just for the record, these will be:

* Qt4/VTK8 on Trusty, Qt5/VTK8 on Xenial/Mac

[2017-05-18 15:26] jamiesnape commented on #5564
Bazel integration is in progress. I almost have the VTK parts of drake sensors building, Director will be a little longer.

[2017-05-18 15:29] sherm1 commented on #6135
Maybe the next step should be to improve sdformat's documentation?

[2017-05-18 15:54] sankhesh commented on #2628
I have a PR (robotlocomotion/director#508) that allows director superbuild to compile against VTK 8 and Qt4 / Qt5.

When compiling director, one can specify the version of Qt to use by:

[code]

[2017-05-18 15:56] sankhesh commented on #5621
https://github.com/RobotLocomotion/drake/issues/5564#issuecomment-302439609

[2017-05-18 16:09] stonier commented on #6135
Already bumped OSRC to watch this space and support it with documentation where you guys have questions.

[2017-05-18 16:20] amcastro-tri opened #6138 "Robust enforcement to use the lower triangle in RotationalInertia"
As discussed in this [Reviewable comment](https://reviewable.io/reviews/robotlocomotion/drake/5945#-Kjk5x7d8BPlefOZzSIo), the eforcement to use the lower triangular part of the Eigen member in `RotationalInertia` is brittle and there an oportunity for improvement.

@jwnimmer-tri proposed that we could enforce this all throughout the class in a robust way by placing the Eigen matrix member within a

[2017-05-18 16:39] sherm1 commented on #6138
I like that - definitely an improvement! Does make me wonder if this storage mechanism is worth the trouble though, given Eigen's clunky support for symmetry. An easy alternative would be two Vector3's: (1) the moments (diagonal), and (2) the products (off diagonals). Could slap together a 3x3 Matrix3 when needed.

[2017-05-18 16:43] mitiguy opened #6139 "Use "Make" terminology for static factories consistently in UnitInertia"
For static factories in UnitInertia, RotationalInertia, etc.,
use "Make" consistently, e.g.,
MakeTriaxiallySymmetric ...
MakeSolidSphere ...
MakeSolidBox ...

[2017-05-18 17:03] sherm1 commented on #6139
"Make" seems OK to me but elsewhere we use it for returning heap-allocated objects. Here they are stack allocated. "Construct" would be a reasonable alternative to Make (per Jeremy's suggestion which I adopted in #6038).

[2017-05-18 17:29] amcastro-tri commented on #6139
Actually my suggestion was the opposite, not to use any prefix. So instead of `MakeTriaxiallySymmetric()` just have `TriaxiallySymmetric()`.

[2017-05-18 18:06] jwnimmer-tri commented on #5268
I am going to put this relative high up on my TODO list.

[2017-05-18 23:29] jwnimmer-tri commented on #6139
For the record, I also think that "Make" is not only okay, but the best choice for factory methods.

If I've found the correct piece of the 6038 thread, that discussion was about a return-by-value method named "Allocate", which I agree erroneously implies a heap operation.

When using "Make" for factory construction, whether its an automatic or heap object is clear by whether or the method returns

[2017-05-18 23:42] sherm1 commented on #6139
I'm happy with "Make" also.

[2017-05-19 12:52] jwnimmer-tri commented on #5268
WIP is at https://github.com/jwnimmer-tri/drake/tree/assertion-exception.  Should be about 3 PRs deep by the time its ready.

[2017-05-19 17:13] hongkai-dai commented on #6123
Drake uses a time stepping approach to simulate the robot. It calls `SolveLCP` function  in `TimeSteppingRigidBodyManipulator.m` in every step of simulation. It seems to me that the default option is to call the mex version of this function in https://github.com/RobotLocomotion/drake/blob/master/drake/matlab/systems/plants/TimeSteppingRigidBodyManipulator.m#L288~L291. Unfortunately in this mex ver

[2017-05-19 17:34] #6069 closed

[2017-05-19 18:51] mitiguy opened #6145 "Create additional unit tests for RotationalInertia operator+() and operator/()"
Create unit test in rotational_inertia_tests.cc for:
 - `RotationalInertia<T> operator+(const RotationalInertia<T>& I_BP_E) const` (It seems only [RotationalInertia::MultiplicationWithScalarFromTheLeft](https://github.com/RobotLocomotion/drake/blob/master/drake/multibody/multibody_tree/test/rotational_inertia_tests.cc#L220) covers this).
 - `RotationalInertia<T> operator/(const T& positive_scalar)

[2017-05-19 19:47] sherm1 commented on #6145
Per f2f: just delete it in #5945 and be done with it?

[2017-05-19 20:51] EricCousineau-TRI commented on #5981
As a quick test, I fleshed out a variant of the options listed above, proxying Python objects via MATLAB `dynamicprops`.

Since MATLAB R2016b does not support converting 2D arrays to Python arrays, I've added in the `mat2py` conversion routines, and made a quick `PyProxy` class.
Additionally, I've added a `pybind11` relaxation for `MatrixXd` (which can be extended to more general types, if need be

[2017-05-19 21:58] edrumwri opened #6146 "Spring-mass-damper and Discontinuous spring-mass-damper test systems in systems/analysis/test are incomplete."
(Relevant once PR #5938 lands)

These systems do not implement many of the virtual functions present in the base class. The long term strategy will be to augment the spring-mass-system class with these capabilities (damping with closed form solutions).

[2017-05-19 22:21] mitiguy opened #6147 "Consistent policy for throwing debug-build exceptions for invalid inertias to class UnitInertia"
Continue work that has been completed in class RotationalInertia to ensure consistent policy for throwing debug-build exception std::logic_error for invalid inertias.
"Bubble" this up to class UnitInertia (and perhaps SpatialInertia).

The following stack of calls shows this problem (May 20, 2017):
1.  In spatial_inertia_tests.cc
GTEST_TEST(SpatialInertia, IsPhysicallyValidWithCOMTooFarOut)
calls

[2017-05-20 10:10] RussTedrake opened #6149 "Minimal example of a project using drake as an external library on travis"
bonus points: a second example ising just part of drake (eg just drakeOptimization.lib)

Current pain point is that building drake from source takes >1 hr on travis, so would not be free.  Likely best resolution is to finally provide binary releases.

+ @rdeits, @tkoolen

[2017-05-20 16:35] GuiyangXin commented on #6123
Yes, your suggestion is right. Both methods are correct. After changing `solveLCP`, Atlas cannot walk any more because of slipping with mu=0.1. But my vision of making LittleDog slip on the ground when it is applied external force failed. I think it is due to my algorithm rather than Drake. So thank you all for your help. This issue has been solved and can be closed. Thanks again.

[2017-05-20 18:56] #6123 closed

[2017-05-20 18:57] hongkai-dai commented on #5777
Solved in #6123

[2017-05-20 18:57] #5777 closed

[2017-05-21 20:02] rdeits commented on #5981
Just as a note: Scipy specifically recommends not using `numpy.matrix`, and I agree with them: https://docs.scipy.org/doc/numpy-dev/user/numpy-for-matlab-users.html#array-or-matrix-which-should-i-use

Since matrices *mostly* behave like `numpy.ndarray`, it's easy to accidentally use one when you mean the other, which causes all kinds of chaos. Better to just use `ndarray` everywhere and use `.dot(

[2017-05-21 20:32] EricCousineau-TRI commented on #5981
Awesome, thanks for sharing! I've updated the above post.

[2017-05-22 13:14] #6027 closed

[2017-05-22 14:14] RussTedrake commented on #5981
@rdeits -- to be clear, do you think we should bind the existing C++ interfaces taking Eigen matrices twice, once with numpy arrays and once with C++ double arrays.  Is that something that we could do relatively cleanly with pybind11, and without cluttering the python drake namespace?

[2017-05-22 16:38] rdeits commented on #5981
Er, no. We should just bind them to take and return numpy arrays. I don't think there's any reason to have C++ double arrays around on the Python side.

[2017-05-22 16:46] jamiesnape commented on #6149
Not Jenkins?

[2017-05-22 16:52] amcastro-tri commented on #6147
cc'ing @amcastro-tri

[2017-05-22 17:02] stonier commented on #6149
This is for users outside our periphery who are using drake with their own projects and using travis to avoid having to set up their own CI. We just need to provide an appropriate pipeline for distributing versioned binaries for these people.

[2017-05-22 17:18] jamiesnape commented on #6149
Fair enough, though we could do with something like this running on Jenkins at some point.

[2017-05-22 17:26] stonier commented on #6149
Aye, I'm thinking of having a separate repository (repositories) demonstrating in a very simple way a few different use cases. Spinning them up on jenkins would be a good way to test them to make sure it works properly.

[2017-05-22 17:52] RussTedrake commented on #5981
I'm sorry... I didn't read carefully enough.  What I meant is that we bind both numpy.matrix and numpy.ndarray?  Or is ndarray an acceptable replacement for a python-only workflow?

[2017-05-22 18:03] rdeits commented on #5981
No, the scipy docs suggest that we don't use `numpy.matrix` at all. `numpy.ndarray` is already the default everywhere else and it's what new users learn first (for example, `numpy.ones()` returns an `ndarray`).

[2017-05-22 20:20] jadecastro opened #6157 "Add lane_distance as an additional optional output of api::Lane::ToLanePosition()."
## Some Background
Currently, the `distance` argument for `lane->ToLanePosition()` provides a distance to the driveable bounds of a given lane in a particular segment.  The Maliput API states that a lane's driveable bounds are "the lateral bounds for a position that is considered to be "on pavement", reflecting the physical extent of the paved surface of the lane's segment."

In `dragway`, (where

[2017-05-22 20:54] liangfok commented on #6157
I'm going to assign this to @maddog-tri to get his blessing. Once received, I'll assign it to myself and will update `dragway` with the requested feature.