[2020-02-06 19:05] ggould-tri commented on #12697
(I will attach code here once it's stable -- although this is from a TRI repo, it is written in pure Drake with no TRI dependencies)

[2020-02-08 14:21] edrumwri opened #12703 "Ability to modify MbP and SceneGraph at any time"
We anticipate wanting to benefit from the ability to do real-time system identification for model-based control: we would take observations from controlling our robot and use those observations to update the MBP+SG that models our robot and our world, in order to better control our robot and its interactions with the environment.

I don't think this is currently possible with MBP (it looks at leas

[2020-02-08 19:50] sherm1 commented on #12703
One relatively easy thing to do would be to allow parameterization of existing MBP bodies -- then the SysID updates would just be Context variable changes. That's obviously limited to objects that already exist in the model, although a "pool" could probably be maintained to allow some flexibility. Would that work in your application?

Another thought is that rebuilding MBP+SG _might_ actually be a

[2020-02-08 23:42] RussTedrake commented on #12703
The "Finalize workflow" in MBP has a major pain point forever.  It's not only about runtime efficiency, but also has huge consequences for the way people can write code.  ManipulationStation is four times as long as it should be (it should really be in python).  To add an object to the plant (must be pre-finalize) and then set its initial conditions (must be post-finalize), we end up doing things

[2020-02-09 00:33] RussTedrake commented on #12604
Yes, `__init__` at the top was my primary ask (beyond the missing class documentation which was already resolved).

[2020-02-09 13:12] edrumwri commented on #12703
It wouldn't be elegant, but that might work.

We're just starting to measure performance on this. Overall performance has not been good, but it would be premature to blame the construction process. I'll report back with actual data within the next few weeks.

[2020-02-09 13:47] siyuanfeng-tri commented on #12703
This is a really essential feature for robot in the wild applications... I definitely prefer mutating MBP / SG over maintaining a pool of models. It is painful to do book keeping, especially because you need to also maintain the associated contexts. This will be extra painful when you start doing computations in parallel.
I can image adding / removing bodies or geometries is hard post Finalize. Bu

[2020-02-10 14:16] jwnimmer-tri commented on #6691
Here's an update on my current posture: we should drop framework for user-supplied scalars, and only support what's built into Drake (currently double, AutoDiffXd, and Expression).  So yes, we should move method bodies to the cc file when we don't need them to be available for inlining.

[2020-02-10 15:51] EricCousineau-TRI opened #12706 "linear_system: Segfault when using `LinearSystem` as double integrator?"
Migrating @TobiaMarcucci's [Slack post](https://drakedevelopers.slack.com/archives/C2CK4CWE7/p1581210432039300) to GitHub:

---

EDIT: C++ code repro, pure output computation, from 6fc1729c5
[code]

---

Python Code:
[code]

[2020-02-10 16:05] EricCousineau-TRI commented on #12706
Trying to debug it here, but can't make sense of it in pure Python land: 5e93cae4e
Will re-implement in C++.

[2020-02-10 16:21] EricCousineau-TRI commented on #12706
Same behavior in pure C++: a38242ae6

Did a quick gut-checking on sizes, everything seemed fine... Guessing it's a segfault.

[2020-02-10 16:40] EricCousineau-TRI commented on #12706
Doing `coredumpctl gdb` after the segfault points to potential aliasing here:
https://github.com/RobotLocomotion/drake/blob/82e1b2c0aaaf544e0dfb880929eaf40e6ca75032/systems/primitives/affine_system.cc#L298

Most relevant bits of stack trace:
[code]

My initial naive guess is that the `LinearSystem` being used as a double-integrator creates an undetected algebraic loop - I'm guess this uses the sym

[2020-02-10 16:50] EricCousineau-TRI commented on #12706
I've hit my time limit on this, but it seems like an problem specific to the systems framework. Reassigning to @sherm1, will letcha reassign as desired.

[2020-02-10 16:54] jwnimmer-tri commented on #12706
Yes, because `MatrixXd D = MatrixXd::Zero(2, 1);` the system is reporting that it is not direct feedthrough, but at runtime the output calculation is pulling the input (so that it can multiply it by zero).

[2020-02-10 17:03] EricCousineau-TRI commented on #12706
Gotcha, so disparity between the symbolic math and the actual implementation.

What would be the proper way Tobia should proceed in this regard? For simple double-integration, keep his workaround using the sparse math implementation (extending `VectorSystem`, rather than using `LinearSystem`)?

Is there anything to think about for the long-term? (seems like a difficult problem to detect...)

[2020-02-10 17:12] jwnimmer-tri commented on #12706
Yes, this comes up every once in a while.  I thought we had an issue (or already implemented) to fail-fast if we hit a computational cycle during diagram evaluation, but I couldn't immediately find it.

We should repair LinearSystem (really, AffineSystem).  It should more conservative when evaluating its input.  If the D matrix is zero, then it should not compute the `D * u` term during output.

[2020-02-10 19:20] sherm1 commented on #12706
Per discussion in #12253, IMO the punt-to-symbolic dependency analysis is more trouble than it's worth and we should not do it. Instead we should just believe the output port declared dependencies, which I'm sure in this case would have said "pass through", giving an annoying but helpful error message. AffineSystem should then be modified to declare its true dependencies (i.e., depends on only tho

[2020-02-10 19:28] jwnimmer-tri commented on #12706
It sounds like we agree that AffineSystem's Calc implementation should be repaired.

We can leave #12253 to be discussed in its own issue.  However, even if port feedthrough annotations are changed per that issue, a user could still make a mistake and introduce a computational loop that was not declared in the sparsity.  So, we should still consider failing-fast when we encounter an evaluation loo

[2020-02-10 20:21] sherm1 opened #12709 "Add runtime enforcement of cache dependencies & remove symbolic inspection"
Per discussion with @SeanCurtis-TRI today and earlier discussions with @jwnimmer-tri:

### Background
Loop detection in a Drake Diagram depends on accurate determination of the dependencies of output ports on particular input ports. Currently, that determination depends partially on under-the-covers transmogrification to symbolic form (as detailed in #12253). This causes much trouble (e.g. #12697)

[2020-02-10 20:31] jwnimmer-tri commented on #12709
I don't understand why our disposition for Diagram-build-time checking needs to relate to this issue (the item (4) above)?  This ticket proposes a strategy for runtime checking.  Why would the runtime design differ depending on the details of how Diagram-build-time checking occurs?  We have a nice thread going in #12253 about that topic.  Let's not pollute this topic with those details?

[2020-02-10 21:11] sherm1 commented on #12709
In my mind they are related because adding bulletproof runtime checking reduces the need for extreme measures at build time.

[2020-02-10 21:13] jwnimmer-tri commented on #12709
But will the design of this feature change depending on that answer?  If not, we can just implement this issue, and then come back to #12253 (or do them in parallel).  There is a ton more to discuss about #12253, and I'd rather not spread that discussion between a half dozen tickets.

[2020-02-10 22:38] hongkai-dai commented on #6691
I would like to support nested autodiff scalar `AutoDiffX<AutoDiffXd>` so that we can compute the Hessian. We have github issue #12019 and #4267 that explain the usage of Hessian in optimization. With the Hessian of the constraint/cost, we can compute how a change on the constraint/cost parameter would affect the optimal solution.

[2020-02-10 23:02] jwnimmer-tri commented on #6691
Mostly that would just be adding it to the list at https://github.com/RobotLocomotion/drake/blob/master/common/default_scalars.h.

[2020-02-10 23:03] sherm1 commented on #12709
OK, I agree (mostly). The troubles with symbolic are part of the motivation for doing this sooner rather than later, so they aren't entirely uncoupled (in my mind). That said, no further need to discuss symbolics here.

[2020-02-11 00:13] sherm1 opened #12713 "AffineSystem should be more precise about input port dependencies"
AffineSystem's output declares dependence on its input ports. However, some or all the columns of the D matrix in `D u` may be zero in which case there is no actual dependency and the input port should not be pulled (evaluated) at all.

Pulling on an input just to multiply it by zero can create a spurious computational loop as apparently caused the problem reported in #12706. We can't currently de

[2020-02-11 01:44] sherm1 commented on #12713
I'm closing this in favor of #12712 which eliminates the input port pull only if D==0. I didn't realize that AffineSystem has only a single input port -- although it has multiple "inputs" those are actually the individual elements of the single vector-valued input. Cache granularity is on a port-by-port, not element-by-element, basis. Therefore looking at columns of D in `D u` doesn't make sense a

[2020-02-11 01:44] #12713 closed

[2020-02-11 05:12] m-chaturvedi commented on #12604
I'd asked it on the group: https://groups.google.com/forum/m/#!msg/sphinx-users/bSAWjiiDWik/BlRNSMQoFgAJ

[2020-02-11 12:34] RussTedrake opened #12714 "pyplot_animation_multibody_plant tutorial fails on binder"
https://notebooks.gesis.org/binder/jupyter/user/robotlocomotion-drake-t607tgop/notebooks/tutorials/pyplot_animation_multibody_plant.ipynb

To reproduce: execute down to the cell "Run without playback".  You will see:

[code]

I suspect this means that binder is using a stale version of drake (as we added the show argument fairly recently, but > 1 week ago now).

[2020-02-11 15:38] #12118 closed

[2020-02-11 16:16] EricCousineau-TRI commented on #12604
In the Group post, I think it'd be important to mention the lines you alluded to - where we provide an explicit exception for `__init__` capsules:
https://github.com/RobotLocomotion/drake/pull/12452/files

If we hadn't needed that exception, I'd assume everything would be fine.

[2020-02-11 16:59] EricCousineau-TRI commented on #12714
I was able to run this tutorial without a hitch...
Can you try a fresh user session? (possibly using a Private Browsing session to assure there's no connection via cookies or what not?)

[2020-02-11 17:03] jamiesnape commented on #12714
The reason here is that `underactuated` did not change after the `drake` image was updated, so Binder did not rebuild its image. Not using `latest` and bumping the `drake` docker tag when a particular feature is needed by `underactuated` is the solution here.

[2020-02-11 17:05] jamiesnape commented on #12714
(Or you ensure a commit in `underactuated` happens after a new feature in `drake` is required. But if you are going to do that, then you may as well make the commit in question update the docker tag.)

[2020-02-11 17:11] jwnimmer-tri commented on #12650
Maybe `TrajectoryAffineSystem` methods for `A(t)`, `B(t)`, etc. should be DiscardZeroGradient?

[2020-02-11 21:05] amcastro-tri commented on #12640
**Update:**

I found out a similar error recently with an Atlas simulation. The same invariant check is triggered, _only in Debug builds._

Further investigation reveals that:
1. As suspected, the propagation of round off errors leads to slightly negative eigenvalues in g*U.
2. Making the product g*U symmetric does not help much, with corrections towards positive much smaller than machine epsilon

[2020-02-11 21:28] #12706 closed

[2020-02-11 21:49] mattcorsaro1 opened #12722 "Allegro example broken with new default discrete_update_period"
## Problem
In the allegro example `allegro_single_object_simulation`, [max_time_step](https://github.com/RobotLocomotion/drake/commit/cb63eb8bb8aeb7dbc7b623144423201b2b1d2efe#diff-4d8d1fbade285ceab0028add90f04599L48) was 1.5e-4 by default. [cb63eb8](https://github.com/RobotLocomotion/drake/commit/cb63eb8bb8aeb7dbc7b623144423201b2b1d2efe) replaced it with [mbp_discrete_update_period](https://github

[2020-02-11 22:11] jwnimmer-tri commented on #9811
I'm going to remove the example for now -- git remembers, so we can always resurrect a rewrite later.  I'll let you decide whether to close the issue or not.

[2020-02-12 12:16] m-chaturvedi commented on #12604
Sorry for the late response.

No, I am not sure about this.

I am not sure about this either.

I think the two problems are disparate, at least at the outset.  I can demonstrate my claim with the following (tested using `tox -e py36 tests/test_autodoc.py`):
https://github.com/sphinx-doc/sphinx/compare/master...m-chaturvedi:test_member_order?expand=1

I maintain that the cause is: `assert sorted(["

[2020-02-12 13:18] amcastro-tri commented on #12722
oh, good catch @mattcorsaro1. Your fix is correct. You ok with pushing it to master? I can do it also if you want.

[2020-02-12 14:02] mattcorsaro1 commented on #12722
If you could do it, that'd be great. Thanks!

[2020-02-12 14:38] mattcorsaro1 commented on #12612
The gravity issue isn't blocking at the moment.

I think there's a problem with [`is_finger_stuck_`](https://github.com/RobotLocomotion/drake/blob/master/examples/allegro_hand/allegro_common.cc#L84) used in the allegro_hand example that I copied. A finger is [considered stuck](https://github.com/RobotLocomotion/drake/blob/master/examples/allegro_hand/allegro_common.cc#L91) if any of its [torque co

[2020-02-12 15:21] jwnimmer-tri commented on #12722
Remember that the PR will also need a test (perhaps just an `add_test_rule = True`).

[2020-02-12 15:42] amcastro-tri commented on #12612
AFAIK that solution was engineered for the Allegro example and I doubt it is general enough you can apply it to your case. It is also a toy controller only for the example so I also doubt you'd learn any good control strategy from that example. That is, I'd only take that example as a good learning snippet to play with APIs. For your particular problem, you'd need to engineer a proper controller.

[2020-02-12 16:18] mattcorsaro1 commented on #12612
Sounds good. Are there any more robust examples you recommend taking a look at?

I'm trying to simulate grasps. Given an object on a table, move the gripper to a user-given pose, close the fingers, and attempt to move upwards. Determine if the grasp was successful based on whether the object is still on the table.

[2020-02-12 16:35] amcastro-tri commented on #12612
I'd imagine many solutions to the same problem. Are you position controlling your gripper? possibly with a torque limit? If so I'd imagine something like:
1. Track when joint velocities are below a threshold (attempting to detect steady state). This has two outcomes: a) nothing gripped, b) something gripped.
2. Cases (a) and (b) could be distinguished by either: i) if the gripper reached the final

[2020-02-12 18:59] EricCousineau-TRI commented on #7889
As part of this, we should make sure we spend some time visiting each of the solutions listed above, and make sure we include SWIG in that evaluation.

[2020-02-12 22:19] RussTedrake commented on #12714
I don't think this has anything to do with underactuated?  I launched it directly from the drake.mit.edu start page?  And it is still happening now on a different machine, etc.

[2020-02-12 23:12] EricCousineau-TRI commented on #12604
Yup, that looks like pretty solid proof that it's just sorting. Thanks for posting it!

[2020-02-13 14:56] jwnimmer-tri commented on #12560
Aside (probably for another issue in the future) -- I just made the mistake of passing the diagram context (not plant context) into `MultibodyPlant::SetFreeBodyPoseInWorldFrame`.  Plant methods like that should also add the context-check.

[2020-02-13 15:34] EricCousineau-TRI commented on #11588
Mmanu has split up his PRs into simpler pieces, still reviewing but should land soon.

[2020-02-13 15:37] EricCousineau-TRI commented on #11962
Target is EOW (Fri).

[2020-02-13 15:40] EricCousineau-TRI commented on #12604
As Mmanu showed, `bysource` does the correct thing for Python code, but it's unclear if this will work for Python C extensions.

[2020-02-13 17:13] jwnimmer-tri commented on #12697
Another complaint... The entire `ForceElement` API towards its subclasses mentions `multibody::internal` namespace frequently -- for the `MultibodyTree`, `PositionKinematicsCache`, etc.

Since users shall not touch things in `internal` namespace, it's not possible to legally implement a new `ForceElement`.

[2020-02-13 18:00] tehbelinda commented on #11949
Some notes/things to consider:
- Our Mesh/Convex classes just take a filename for the .obj file, but we'd also need some way to specify a .mtl file and a path for all the textures. We could just assume the same name but change the file extension for the .mtl (like what the [current texture impl](https://github.com/RobotLocomotion/drake/blob/77eb2f17fb55620fabb3dc1279a6abacc9da5aa8/geometry/render/

[2020-02-13 18:38] jamiesnape commented on #12325
Merged into VTK `master`: https://gitlab.kitware.com/vtk/vtk/commit/e464aa29a09c68aa17891861e309a4df2a7969cb

[2020-02-13 22:01] EricCousineau-TRI commented on #12714
Can I ask which browser / OS you've tried, and if you've tried a private browsing session? (to ensure Binder gives you a new session?)

[2020-02-13 22:24] jwnimmer-tri commented on #12158
Given the above PRs and a few more PRs currently in flight, as of this week all code inside Drake that uses the `//attic` is either deprecated (for removal by 2020-06-01), or has already been removed.

The only remaining question on timing for removal of `RigidBodyTree` is coordinating with downstream users, especially with respect to any missing features of `MultibodyPlant`.

[2020-02-13 22:48] jwnimmer-tri commented on #12722
I'll do this one; it turns out that the regression test will be a bit novel.

[2020-02-14 05:48] mywnajsldkf commented on #2087
Hi! I have a same issue like that. I tried your solution but I couldn't solve it..!
Here's my error.
[code]

[2020-02-14 07:21] mywnajsldkf commented on #2087
Oops ! i solved it I had a wrong path..

[2020-02-14 13:51] RussTedrake commented on #1183
Can we revisit this now (we're python3 only).  Why don't we support `pip install drake` (or pydrake) is the single most common question I've been getting lately.  (fwiw -- it's `pip install torch` to get pytorch)

[2020-02-14 14:23] jamiesnape commented on #1183
The reason is not to do with Python versions, but rather the heavy dependence on dynamically linking system dependencies. We can do it, but it changes/disrupts the C++ core significantly.

[2020-02-14 14:38] jamiesnape commented on #1183
(I can give you `brew cask install drake` straight away, however, and `apt-get install drake` is do-able if you install to `/opt` rather than `/usr`)

[2020-02-14 15:01] jamiesnape commented on #12714
Ok, wrong issue. We had the same problem in underactuated, however.

[2020-02-14 16:30] jamiesnape commented on #1183
Note, there is https://github.com/pypa/auditwheel, but only handles a subset of the issues.

[2020-02-14 16:39] EricCousineau-TRI commented on #9311
AFAIK, with contributions from @gizatt, @mpetersen94, and other Drake authors, we've generally covered this list. Closing for now.

[2020-02-14 16:39] #9311 closed

[2020-02-14 16:41] EricCousineau-TRI commented on #1183
I think we could potentially revisit, but I would still like to defer this until after we have the bindings automation (#7889) underway, given that this would require a hefty bit of dependency rewiring.
Would that be OK?

FTR, I'd be down for slotting `apt-get` and `brew` for the near-term, given Jamie's eval on it being less overhead.

[2020-02-14 17:02] RussTedrake commented on #1183
i think apt-get and brew would be a huge improvement!

[2020-02-14 18:23] jamiesnape commented on #1183
You are welcome to try out:

[code]

Needs more testing and some work to make it maintainable.

[2020-02-14 21:14] #12722 closed

[2020-02-14 22:35] SeanCurtis-TRI opened #12738 "[geometry] Interface with FCL has created explosion of const_cast"
FCL's broadphase interface requires *non* const pointers to other broadphase collision managers. However, we're calling it in a context where things should ostensibly be const. Therefore, we've needed to `const_cast` to satisfy the `fcl` API. This leads to an explosion of copy-and-paste of `const_cast` instances. This makes it difficult for reviewers to recognize if there is a reasonable applicati

[2020-02-14 22:38] SeanCurtis-TRI commented on #11949
It's worth noting, that the `OBJ` specification includes the `usemtl some_file.mtl` as contents of the OBJ. That is the canonical way for an OBJ to be associated with an mtl file.

[2020-02-14 22:39] SeanCurtis-TRI commented on #12325
What's the plan/time frame for the binaries Drake depends on to get updated?

[2020-02-15 00:59] mitiguy opened #12739 "Possibly move various tests (e.g., force element and joint tests) from MbT to MbP"
While reviewing PR# 11946, Alejandro Castro commented that linear_bushing_roll_ptich_yaw_test.cc should make calls through MBP=MultibodyPlant (which is the preferred API) rather than MBT=MultibodyTree (which is really for developers).  Since the code for the LinearBushingRollPitchYaw test started with linear_spring_damper_test.cc, it initiated a discussion about which tests belong where.

TBD:  Wh

[2020-02-15 01:10] sherm1 commented on #12739
(Assigned to @amcastro-tri first for discussion.)

[2020-02-17 13:58] jamiesnape commented on #12325
It's high on my TODO list, so this week.

[2020-02-17 14:09] jamiesnape commented on #11503
CC @EricCousineau-TRI since you asked me a few weeks ago for the issue number regarding `std::array`.

[2020-02-17 18:06] m-chaturvedi commented on #12604
IIRC, the code analyzer which doesn't seem to work for us:
https://github.com/sphinx-doc/sphinx/blob/af62fa61e6cbd88d0798963211e73e5ba0d55e6d/sphinx/ext/autodoc/__init__.py#L674

`self.analyzer` is `None` when `bysource` is used for our code.

There have been other complaints regarding `bysource` not working properly:
https://github.com/sphinx-doc/sphinx/issues/3673

[2020-02-18 17:42] mposa opened #12747 "MacOS docutils version mismatch"
A few students here at Penn have run into this issue on MacOS Catalina. During the prereq installation, pip3 installation of `botocore` fails because it requires `docutils < .16`, whereas these students have all had version .16 installed. Manually downgrading docutils resolved the issue.

[2020-02-18 18:08] jamiesnape commented on #12747
Our scripts will install whatever `botocore` needs (we don't have a dependency on `docutils`). We cannot cover every potential pre-existing configuration, unfortunately.

[2020-02-18 18:11] jamiesnape commented on #12747
Relates https://github.com/boto/botocore/issues/900 https://github.com/boto/botocore/issues/1789, https://github.com/boto/botocore/issues/1796, and maybe a few others.

[2020-02-18 18:28] mposa commented on #12747
From my experience this week, this extends beyond "every potential pre-existing configuration," as 4 of 4 Mac users this week have this issue.

[2020-02-18 18:29] jamiesnape commented on #12747
On a given day it will be different. We cannot legislate for `botocore`. You can complain about the pin to them. If we pin artificially, then we shift the problem too.

[2020-02-18 18:37] jamiesnape commented on #12747
Also I need to know the common package (if any) that is installing docutils that they all have to even have a chance of lessening the impact. Try `pipdeptree` or similar.

[2020-02-18 18:47] EricCousineau-TRI opened #12749 "install: Should support `//:drake_shared_library` for from-binary Bazel workflow for C++ development"
During the Drake Developers meeting, @mposa mentioned that compilation time is a pain point for using Drake in a Bazel-centric workflow.

Given that we now have `@drake//bindings/pydrake` exposed ([example here](https://github.com/RobotLocomotion/drake-external-examples/tree/0dbb55513454fa4011f14907608433d03e4796b9/drake_bazel_installed)), we should also expose `@drake//:drake_shared_library` to a

[2020-02-18 18:51] jamiesnape commented on #12749
Indeed. There is a lot we do not expose. Probably not going to happen before Bazel switches to `@rules_cc` (though that should be soon).

[2020-02-18 22:00] blandry commented on #12747
For what it's worth I also ran into this. Like Michael got around it easily but suspect this will unfortunately come up a few time among your users.

[2020-02-19 01:08] tehbelinda commented on #9500
@EricCousineau-TRI Potentially we'll also have HSR users for this, we've been talking to Akiyoshi about a collaboration - do you have any new updates/thoughts on how we could do this?

[2020-02-19 16:28] #12738 closed

[2020-02-19 19:22] RussTedrake commented on #9500
+1 from me.  A number of underactuated students have been asking about drake vs(?) ros -- and why not... since there is essentially no mention of it on our website.  I recommend we provide at least a minimal mention / recommendation asap, even if more extensive documentation will take some time.

[2020-02-20 00:10] sherm1 opened #12752 "System framework needs to accommodate non-analytical potential energy"
### Background
One of the few definitive validations we can perform of complicated models is to verify that energy is conserved. This is particularly important within MultibodyPlant where a wide variety of joints, force elements, and constraints must be perfectly implemented.

The conserved quantity of interest is `E = U(t) + KE(t) − Wɴᴄ(t)` where
- `U(q)` is the potential energy (PE) from conserv

[2020-02-20 16:33] ggould-tri opened #12754 "Should be possible to provide sdf/urdf models as strings"
Currently the only way to add SDF/URDF models to a MultibodyPlant is via `AddModelFromFile`.  However there are cases where a model is more easily provided in the form of a string or a stream.  For example @avalenzu notes that a DRC team had the robot provide its model over the wire, and I am currently working with a robot (WLKATA Mirobot) that emits the link data used in its internal IK via its s

[2020-02-20 20:07] DamrongGuoy opened #12755 "Fix centroid of contact polygon."
Currently we calculate the centroid of a contact polygon (geometry/proximity/mesh_intersection.h, geometry::internal::AddPolygonToMeshData()) by averaging coordinates of vertices of the polygon:
[code]
where Vᵢ = (xᵢ,yᵢ,zᵢ) coordinate of vertex i.
https://github.com/RobotLocomotion/drake/blob/19b32f553e700226ec13d6d51a4d9d82514e90ae/geometry/proximity/mesh_intersection.h#L450

Instead, we should c

[2020-02-20 21:27] DamrongGuoy opened #12756 "Cleanup geometry::VolumeMesh,SurfaceMesh, use kVertexPerElement instead of kDim."
In `geometry/volume_mesh.h` and `geometry/surface_mesh.h`, remove the member variable `kDim` and replace its usage like `(kDim + 1)` by the variable `kVertexPerElement` in `mesh_to_vtk`, `mesh_field_linear`, and  `bounding_volume_hierarchy`.

[2020-02-20 22:04] mitiguy commented on #12752
This looks really good -- very clear.
Nit-picking:  Perhaps we can find a better than w in Pᴄᴡ:
Pᴄᴡ = CalcConservativePowerNumerical(context);
I think w is too close to "work", "angular velocity" and "world".
It is unclear how "w" associates with "conservative" or "numerical".
Perhaps
Pᴄʙ = CalcConservativePowerNumerical(context);
Pᴄɪ = CalcConservativePowerIntegrate(context);

[2020-02-20 22:20] sherm1 commented on #12752
Thanks -- switched to Pᴄɪ and Uɪ per your suggestion, PTAL. I'm thinking the method names should still be Analytical vs. Numerical, which is the important distinction.

[2020-02-21 04:29] prometheanfire commented on #12747
this is not a mac issue, it's a they should only cap when future versions are KNOWN to break only.  Having this happen every few weeks (to this and other libs) is getting old.

pkg_resources.ContextualVersionConflict: (docutils 0.16 (/home/zuul/src/opendev.org/openstack/requirements/.tox/py36-check-uc/lib/python3.6/site-packages), Requirement.parse('docutils<0.16,>=0.10'), {'botocore'})

[2020-02-21 04:32] prometheanfire commented on #12747
See https://github.com/boto/botocore/issues/1872#issuecomment-550500977 as well, I think this is fairly universally looked down upon as a practice.

[2020-02-21 04:37] prometheanfire commented on #12747
if you need to cap docs, use a requirements file for docs jobs that's separate from a normal install.  See https://github.com/openstack/nova/blob/master/doc/requirements.txt for example

[2020-02-21 13:54] amcastro-tri opened #12757 "Velocities start index for floating bodies should index velocities, not state"
Currently `Body::floating_velocities_start()` returns an index into the full multibody state vector.
Contrast this API to `Joint::velocity_start()` which does return an index into the vector of generalized velocities. This only confuses users.

@samzapo proposes that  `Body::floating_velocities_start()` behaves exactly as `Joint::velocity_start()`, returning an index into the vector of generalized

[2020-02-21 16:02] edrumwri commented on #12757
I'm in favor of this proposal.

[2020-02-21 18:43] amcastro-tri commented on #12752
Probably asking for potential energies (whether analytical or not) is too much. Why not to just get away with "conservative power" and "non-conservative power"? then our integrators can just integrate those for energy budgets. If a particular system "knows" an analytical form, it would be reported at that system's level API for comparisons, but probably too much asking all systems to be able to pr

[2020-02-21 21:25] huihuaTRI commented on #10022
Just curious about the update on this issue. Another use case of this feature popped up in Drake while trying to simulate HSR. See [slack](https://tri-internal.slack.com/archives/C0U7NABLZ/p1582313399126800) for a brief discussion with Calder.

[2020-02-21 21:46] huihuaTRI opened #12759 "Port the DoorHinge functionality from Anzu to Drake"
@ggould-tri has recently implemented a force element `dish::DoorHinge` in Anzu to simulate the hinged door of a dishwasher. This is a very useful feature and could be used for other assets with doors. It has already been used in a different simulation since then.

We would like to add this feature to Drake. Additionally, a stop joint could potentially be added to the DoorHinge by adding another cu

[2020-02-22 00:52] sherm1 commented on #12752
Well, no one _has_ to provide the analytical PE since they can just provide the non-analytical conservative power. But there is little verification value in that since it is derived directly from the forces. Also the analytical PE can be correct to all decimal places while the integrated power will generally have large errors. When working on complicated elements like some constraints it is easy t

[2020-02-24 14:18] jamiesnape commented on #1183
I took a quick look at the apt packaging and pending on how important this is, it is looking like 3-5 days work for manual packaging of the latest numbered release (subsequent releases would be a few hours). You would get `apt-get install python3-drake libdrake1 libdrake-dev libdrake-java` at a minimum. Full automation would take longer. Most of the task is actually administrative, rather than tec

[2020-02-24 14:21] ggould-tri commented on #12759
Thanks for creating this issue!  For reference a recent version of the code is at https://gist.github.com/ggould-tri/b686cf978754bc2bffe55ee99daff8a5 .

I've been thinking a bit about how to generalize this functionality and I think that a generalized mechanism for ForceElement(Joint, Symbolic expression of conservative energy, Symbolic expression of nonconservative power) would be a clear and con

[2020-02-24 15:25] jwnimmer-tri commented on #12747
I agree with @jamiesnape that the right answer is to complain to botocore maintainers, and there is not much (if anything) we can do to work around the problem.

The only worthwhile change might be to split drake's dependencies from only "binary" vs "source" to "binary" vs "user source" vs "developer source" where any dependencies not used by tests in the default configuration are deferred to "dev

[2020-02-24 19:02] sherm1 commented on #12759
Agreed we should discuss. I think `tanh()` is the better choice.

[2020-02-24 19:03] ggould-tri commented on #12759
(fyi @RussTedrake for reference ^^^ )

[2020-02-25 01:35] sherm1 commented on #12640
@amcastro-tri is this on your radar? It only blows up in Debug but I'm thinking that someone in Debug already has enough troubles! (Or could be a warm-up project for a new contributor.)

[2020-02-25 01:38] sherm1 commented on #12203
@rcory do you think this is still an issue? Or should we close it?

[2020-02-25 01:41] sherm1 commented on #11931
Damrong, I'm not sure if this is still an issue (it was assigned to Evan). Please close if not. Note low priority - not urgent.

[2020-02-25 01:49] sherm1 commented on #10915
See #9171 and [this proposal](https://docs.google.com/document/d/1cTgWeuSqSRg5XyFujzx8ZGdmF9W_3wpp58bQ1xq2zaE) which would fix this issue too.

[2020-02-25 01:51] sherm1 commented on #10888
@amcastro-tri is this issue resolved already? Please close if so.

[2020-02-25 01:56] sherm1 commented on #10914
See also discussion in #12253 and #12709.

[2020-02-25 01:58] sherm1 commented on #9080
This one died of old age.

[2020-02-25 01:58] #9080 closed

[2020-02-25 01:59] sherm1 commented on #4163
I believe this is well tested now. Closing.

[2020-02-25 01:59] #4163 closed

[2020-02-25 02:00] sherm1 commented on #5844
Integrator tests have been re-engineered since this was filed. Closing.

[2020-02-25 02:00] #5844 closed

[2020-02-25 02:01] sherm1 commented on #5906
Died for lack of interest.

[2020-02-25 02:01] #5906 closed

[2020-02-25 02:02] sherm1 commented on #6146
Not an issue any more.

[2020-02-25 02:02] #6146 closed

[2020-02-25 02:08] sherm1 commented on #10680
(Was assigned to Evan.)

[2020-02-25 02:10] sherm1 commented on #10851
This looks dead to me. @EricCousineau-TRI @rcory should this be closed now? (Was assigned to Evan.)

[2020-02-25 04:56] #12616 closed

[2020-02-25 16:01] rcory commented on #10851
Fine with me to close this out.

[2020-02-25 16:09] rcory commented on #12203
I think this is still a valid issue. For an example, see [this](https://github.com/RobotLocomotion/drake/blob/fce5d27b169e6ac16bc485b6459ac14a7eca4e04/examples/planar_gripper/planar_gripper_simulation.cc#L166) method in `planar_gripper_simulation` which defines a local system which demultiplexes the inverse dynamics outputs to MBP actuator inputs. This seems like a common enough use case that perh

[2020-02-25 16:43] sherm1 commented on #10851
OK. @EricCousineau-TRI please close this if you think we should or reassign.

[2020-02-25 17:14] DamrongGuoy commented on #11931
Right now the public API of `ContactSurface` uses `e_MN` including `EvaluateE_MN(face, barycentric)`, `EvaluateE_MN(vertex)`, and `e_MN()`.

We should change to `EvaluateP0()`, `p0()`.

[2020-02-25 17:20] DamrongGuoy commented on #12044
Done by PR #12311 a few months ago.

[2020-02-25 17:20] #12044 closed

[2020-02-25 17:22] DamrongGuoy commented on #11822
No need anymore. `ContactSurface` does not provide ∇h anymore.

[2020-02-25 17:22] #11822 closed

[2020-02-25 17:26] DamrongGuoy commented on #11260
@hongkai-dai , @SeanCurtis-TRI  I think we can close this issue now, right?

[2020-02-25 17:34] DamrongGuoy commented on #10850
@SeanCurtis-TRI I think we can close this issue now?

[2020-02-25 18:28] SeanCurtis-TRI commented on #11260
Correct. This was closed by #12379.

[2020-02-25 18:28] #11260 closed

[2020-02-25 19:30] EricCousineau-TRI commented on #10851
Will close for now. @edrumwri, please let us know if you might need this in the future!

[2020-02-25 19:30] #10851 closed

[2020-02-25 19:33] SeanCurtis-TRI opened #12767 "[geometry] QueryObject introduces Eval...() methods (cache query results)"
# Problem Statement

`QueryObject` is the main interface through which other entities can make geometric queries. Invoking a query method on that object always leads to calculations. Therefore, if downstream entities have multiple code paths that would depend on the same query, and *care* about performance, they are obliged to cache the results of the query. This is unfortunate. It doesn't scale w

[2020-02-25 19:34] SeanCurtis-TRI commented on #12767
@amcastro-tri FYI

[2020-02-25 19:58] EricCousineau-TRI commented on #9500
If it's for ROS1, the approach would be the same as listed in the above doc; just would need a meaningful priority assigned, with a responsible internal interested party for pushing it forward - this wouldn't be me at the moment, as I'm more interested in testing out ROS2 for Anzu's usages. (Not a fan of ROS1's runtime and buildtime overhead.)

If it's for ROS2, we have started talking some about

[2020-02-25 20:29] jamiesnape commented on #12645
The first part of this is going to be whether we can actually expose a port when running on Binder. If it happens to run the equivalent of `docker run -P` (it uses kubernetes, I think, however) then that part is easy. Locally, you would want to add something like `-p 7000:7000` to the `docker run` command.

[2020-02-25 20:57] SeanCurtis-TRI commented on #10850
Not yet. While the `proximity_engine.h` is reasonably clean, the unit tests still aren't there. Right now `proximity_engine_tests.cc` still bears a huge burden for testing callbacks. That still needs to move out.

[2020-02-25 21:10] jamiesnape commented on #12645
And as you would imagine, it does not allow you to expose 7000, so no websocket connection, so no meshcat visualization.

[2020-02-25 21:19] sherm1 commented on #12767
Seems like a great idea!

[2020-02-25 21:29] #12755 closed

[2020-02-25 22:26] sherm1 opened #12769 "MultibodyPlant's CalcReactionForces() method should be public"
Currently the only way to get joint reaction forces from MBP is to evaluate the reaction force output port. That port's cache entry uses `MBP::CalcReactionForces()`.

That API (or something like it) should be available for users to call. @ggould-tri has a use case for getting reaction forces in an event handler (for sample-and-hold). Currently the only way to do that is to evaluate the reaction_fo

[2020-02-26 02:51] huihuaTRI opened #12772 "Capability to update joint types after loading a model from URDF"
Under certain circumstances, the users may need to change a joint type (for revolute to fixed for example) after loading a model from URDF files. The following are two use cases.
1. In the URDF files, the users may define multiple unactuated joints that could be used to adjust the position of certain parts. When actually running the simulation, these joints will be fixed to speed up the simulation

[2020-02-26 04:19] sherm1 commented on #12772
Another option would be to have a "lock this joint" feature. That allows positioning via joints and kinematic analysis first, then locking allow treating those joints as prescribed (making for a very fast mixed forward/inverse dynamics calculation, and providing for free the joint forces needed to hold the joints locked).

Simbody has a generalized version of joint locking that is awesome (if I do

[2020-02-26 09:02] JeffR1992 opened #12773 "Getting Drake to work with ROS using find_package()"
I've had a look at the official Drake website and on this Github too, but unfortunately haven't been able to find a direct answer to the following question (although there have been a few questions regarding `find_package()`).

I downloaded the `drake` binaries from `https://drake.mit.edu/from_binary.html` and am trying to use some of `drake`'s functionality in a ROS project (in particular, `drake

[2020-02-26 14:08] jamiesnape commented on #12645
(so the short answer would be that using a different visualizer would be a million times easier)

[2020-02-26 15:48] jamiesnape commented on #1183
Can we split this into either two issues (`apt` and `brew cask` one issue) or three? `pip` is so much more complicated that this issue is going to be two thirds complete for a very long time.

[2020-02-26 15:58] EricCousineau-TRI commented on #12645
Aye, makes sense...

[2020-02-26 15:59] jamiesnape commented on #12773
Note that we have not supported 16.04 since 105877e57b253343d5591e6878ed135ad4a3330a (October 24, 2019). Assume you are using a version from before then, you are going to need to do exactly what the error message says (set `CMAKE_PREFIX_PATH` to `/path/to/drake` or set `drake_DIR` to `/path/to/drake/lib/cmake/drake`). Even then, you may run into issues since #9500 is unresolved.

[2020-02-26 16:02] jamiesnape commented on #12645
Are going to therefore close this as not possible or re-scope it as use a different visualizer or rewrite much of meshcat?

[2020-02-26 16:20] jamiesnape commented on #9500
This issue (to me) seems to have conflicting comments about whether ROS 1 is going to ever be supported, and the issue name is not (even) mentioning ROS 2. Also mentions to Anzu are not going to offer a huge amount of help to someone wondering about possibilities of ROS 2 support (or wanting to contribute such).

[2020-02-26 17:39] #11962 closed

[2020-02-26 17:46] amcastro-tri commented on #12769
IMO the API is there @sherm1, it's the output port you mention. Maybe a doc improvement to make it easier to discover? Maybe @ggould-tri can provide more details on how that'd help his problem.

[2020-02-26 18:01] sherm1 commented on #9500
cc @huihuaTRI

[2020-02-26 18:08] EricCousineau-TRI opened #12775 "mbp, sdformat: Weird behavior with dishwasher model and prismatic joints?"
Don't have a clear picture on the full issue, but there's some odd things going on.

Slack convo:
https://drakedevelopers.slack.com/archives/C2WBPQDB7/p1582738032009900

\cc @ggould-tri

[2020-02-26 18:09] amcastro-tri commented on #10888
My recollection of this problem is summarized in [this note in Drake master](https://github.com/RobotLocomotion/drake/blob/b201621860d8ccbb709ca7fc7dc9534f0b376516/multibody/plant/multibody_plant.cc#L2404). However, per f2f with you @sherm1, you found out that this "hack" relies on caching being enabled, which then led us to believe the correct solution is having a "discrete" input port for everyt

[2020-02-26 18:14] sherm1 commented on #10888
@amcastro-tri do you think #12643 covers this adequately?

[2020-02-26 18:15] ggould-tri commented on #12769
My situation is that I am attempting to discern which of three awful hacks to get a joint's normal force is least awful: (1) Add a force gauge spring (#12775); (2) Wait for bushing support in drake-sdf (#11946 plus whatever future PR gives it SDF support); (3) Copy reaction forces out of the prior timestep's context (this issue).  So this issue would be stated as:

"There should be a clear and doc

[2020-02-26 18:18] huihuaTRI commented on #9500
Thanks, Sherm!

The current HSR stack uses ROS1. For a proof of concept demo, it's ok to use the ways listed in the documentation. On the other hand, the HSR users are thinking to move to ROS2 also. It's likely that they will make the decision by the end of March 2020. Supporting ROS2 in the future does seem like a more appealing approach for me.

The question I originally had is whether Drake wil

[2020-02-26 18:33] amcastro-tri commented on #12203
I believe the problem you have @rcory could be solved with some improvements to the `InverseDynamicsController`. What I propose is:
1. New constructor's signature taking the **full** model of the plant and a model instance of the particular model to control.
2. We add an output port to the ID controller with exactly the right format MBP needs to consume. This might not be needed if we use the outp

[2020-02-26 18:46] ggould-tri commented on #12775
Looks to me like a fixed joint and a prismatic joint with near-zero limits behave very differently.  This joint:
[code]
Gives this behavior:
![working](https://user-images.githubusercontent.com/17596413/75376545-3aa21800-589e-11ea-97d5-40df67ae5d89.png)
While in the same place this joint -- prismatic with 2mm limits:
[code]
Gives this:
![broken](https://user-images.githubusercontent.com/17596413/7

[2020-02-26 19:15] JeffR1992 commented on #12773
Thanks @jamiesnape, I'm using the `drake` binaries from `drake-latest-xenial.tar.gz` (for some reason permission is denied when trying to download `drake-20191026-xenial.tar.gz`). I tried adding the explicit path to `drake` using `set(CMAKE_PREFIX_PATH "/home/jeff/dev/drake")` above the call to `find_package()` in `CMakeLists.txt`, but that still doesn't seem to work when calling `catkin build`.

[2020-02-26 19:38] jamiesnape commented on #12773
You would need literally `find_package(drake REQUIRED)` and then use `target_link_libraries(.... drake::drake)`, etc. If that is not sufficient, let me know.

[2020-02-26 19:56] sherm1 commented on #12775
Are the joint limits being enforced? The state for a joint with limits can still be anything until some computation enforces those limits. Seems odd that the initial state wouldn't be just 0 though, which does seem like it would be within those limits!

[2020-02-26 20:06] ggould-tri commented on #12775
The visualized pose there is steady-state (you can see the contact forces in the long green arrows -- the racks are resting on one another).  So the simulation would have to somehow entirely lack joint limit enforcement.

[2020-02-26 20:21] EricCousineau-TRI commented on #12775
Here is my repro: https://github.com/RobotLocomotion/drake/compare/master...EricCousineau-TRI:issue-12775-wip

It has 2 x 2 options: joint_type = ("prismatic", "fixed"), and display_mode = ("kinematic", "sim")

As of 7ff797dab:
(a) prismatic, kinematic: Looks good.
(b) prismatic, sim: Looks wrong. The drawers drop??? (similar to what Grant sees)
(c) fixed, kinematic: Looks good
(d) fixed, sim: Loo

[2020-02-26 20:36] EricCousineau-TRI commented on #12775
As of eff0b51f0, it seems like setting the MBP's time step to 1e-3 makes (b) prismatic, sim, look better.

[2020-02-26 20:52] ggould-tri commented on #12775
Empirically my problem goes away when I make my fake nonphysical intermediate link have mass 1kg instead of 1g.  So some relationship between low-mass links and joint limits in relation to timesteps seems to be implicated.

[2020-02-26 20:52] EricCousineau-TRI commented on #12775
@sherm1 @amcastro-tri Grant is going to play with masses in the Anzu dishwasher sim to see if that might be.

From looking through some of the MBP code, it looks like the stuff that `CalcPrismaticJointPenaltyParameters` chooses the least-stiff penalty stuff between the joint's parent and child bodies based on the MBP time step (not the penalty method time scale) and the body masses.
Since Grant ch

[2020-02-26 21:06] JeffR1992 commented on #12773
Hmm, `catkin build` complains about being unable to find `roscpp` with the above changes, which makes we think I did it incorrectly. This is my current `CMakeLists.txt` in its entirety:

[code]

[2020-02-26 21:13] sherm1 commented on #12775
There are mysterious @amcastro-tri heuristics in there, I believe -- are they sensitive to articulated mass properties, Alejandro? If not, that might explain what Grant saw with his 1g little part.

[2020-02-26 22:09] EricCousineau-TRI commented on #9500
Just to check, does this doc help serve as a starting point?
https://docs.google.com/document/d/1OyGQb7mxHenGgVTZQcrBnpp1a4igECbuxI7dc1squSY/edit

If so, do you think you could add in some mentions for the HSR user-workflows for ROS1? (It is still useful, even if we go the ROS2 route.)

Sort of, but it ties in via ditching ROS1 in lieu of ROS2 wholesale.

I don't agree. To support either ROS1 or R

[2020-02-26 22:42] EricCousineau-TRI commented on #1183
Yes, please!

[2020-02-26 22:43] EricCousineau-TRI commented on #12645
Re-scoping to achieve some level of 3D visualization on Binder.

[2020-02-26 22:56] EricCousineau-TRI commented on #12645
Also filed: https://github.com/rdeits/meshcat/issues/67

[2020-02-26 23:53] huihuaTRI commented on #9500
The [link](https://docs.google.com/document/d/1OyGQb7mxHenGgVTZQcrBnpp1a4igECbuxI7dc1squSY/edit) you posted would work, which is also the plan for now.

I was trying to gather the correct narrative about the status of ROS1 or ROS2 support. I have enough information for now. After the HSR users make the decision about which ROS version to use, we may come back to this topic and decide the route.

[2020-02-27 00:02] EricCousineau-TRI commented on #9500
Aye, sounds good! It would still be good to know their present workflow for ROS1 (e.g. adding an entry in the "Known Users" section), if you have a chance to add that in.

[2020-02-27 00:34] huihuaTRI commented on #9500
I am the "HSR users" for now actually, surprise! I will send you documentation about what I am working on.

[2020-02-27 00:52] huihuaTRI opened #12778 "Missing an API to get JointActuatorIndex with a given joint name"
Say a user has a vector of PID gains for an under-actuated robot. The user may want to set different gains for different actuators. Given the actuator name, it would be convenient to have an API to be able to return the absolute index of that actuator. Something like
`JointActuatorIndex actuator_index = GetJointActuatorByName(actuator_name).index()`.

Currently, the `JointActuator` class does not

[2020-02-27 01:20] huihuaTRI opened #12779 "Insufficient unit test of function MakeActuatorSelectorMatrix()"
Function `MakeActuatorSelectorMatrix` is overloaded on both `JointIndex` and `JointActuatorIndex`. The unit test of this function covers the case of `JointIndex`. However, the `JointActuatorIndex` case is only tested for empty input, which could be insufficient.

On the other hand, it would be nice to have some examples to show how to get a `JointActuatorIndex` from some API. I am having problems

[2020-02-27 04:45] RussTedrake commented on #12759
Just to be clear... I haven't looked closely enough at this to have an opinion on it which form.  But I do think that we should offer joint static friction -- in some form -- for any MBP.

[2020-02-27 13:05] jamiesnape commented on #9500
The issue is titles "Provide preliminary ROS1 support". The opposite of ditch.

Only mentions of Anzu, I should have said. I am sure you need buy in at TRI, but a summary here would be helpful for the rest of the world.

[2020-02-27 13:13] jamiesnape commented on #9500
Regardless, it would be nice to have an example of compiling/using drake (the library) with Catkin (it is just a simple wrapper project), say in `drake-external-examples`, to help answer #12773.

[2020-02-27 13:35] jamiesnape opened #12782 "brew (cask) install drake"
Relates #1183.

Work in progress:
[code]

[2020-02-27 13:37] jamiesnape opened #12783 "apt-get install drake-dev"
Relates #1183.

[2020-02-27 13:42] jamiesnape commented on #1183
Done. Let's keep this as `pip install drake` since I think there is some useful information here.

[2020-02-27 15:38] EricCousineau-TRI commented on #12645
Next step is to try another `three.js`-based solution, but one that doesn't require WebSockets (may be slower... but works?)

[2020-02-27 16:42] EricCousineau-TRI commented on #9500
Per f2f, created: https://github.com/RobotLocomotion/drake-external-examples/issues/163

[2020-02-27 16:44] jamiesnape commented on #12645
We also have something like `itkwidgets` based on vtk.js:

https://pypi.org/project/itkwidgets/

with Binder examples here:

https://mybinder.org/v2/gh/InsightSoftwareConsortium/itkwidgets/master?urlpath=lab/tree/examples

[2020-02-27 16:58] jwnimmer-tri opened #12785 "New CI base images"
Please roll out new Ubuntu and macOS images based on #12784.

[2020-02-27 17:10] amcastro-tri commented on #12775
Ok, thank you for this great work @ggould-tri and @EricCousineau-TRI, I understand the problem now.
Your reasoning is entirely correct. `CalcPrismaticJointPenaltyParameters` chooses the most conservative case. Since it doesn't really know anything about your system, it assumes the worst case, which would be that of the two bodies being aligned. Therefore, in order to guarantee the time scale intro

[2020-02-27 17:20] sherm1 commented on #292
Fixed by #12123 -- reaction forces at joints can serve as force/torque sensors. Insert a fixed (weld) joint where the sensor should be, then use the MBP reaction forces output port to read out the forces and torques the weld is applying to hold things together.

[2020-02-27 17:20] #292 closed

[2020-02-27 17:29] amcastro-tri commented on #12772
Well, that comment I made is a bit out of context. Consider what I said before: "I think we'd definitely like to have the capability to change the plant's topology. In your case however, it doesn't seem changing the topology of a complex plant is what we want."

But I also understood your comment "2) faster simulation" as, for instance, being able combine chains of weld joints into a single one (I

[2020-02-27 17:31] amcastro-tri commented on #12772
The "lock this joint" method could work I believe. Would that solve your problem @huihuaTRI?

[2020-02-27 17:44] amcastro-tri opened #12786 "Discrete input ports for discrete MultibodyPlant"
The conclusion in #12643 is that when using a discrete MultibodyPlant model of the world, input ports must behave as being "discrete".
That is, the dynamics of a discrete system is described as `y[n+1] = y(t[n], x[n], u[n])`, notice the "discrete" input `u[n]` evaluated at discrete intervals.

Contrast this to what we have today in MBP: `y[n+1] = y(t, x[n], u(t))`, which really is a "hybrid" syste

[2020-02-27 17:44] amcastro-tri commented on #10888
Thanks @sherm1. I attempted to summarize in updated #12786, PTAL.

[2020-02-27 17:44] #10888 closed

[2020-02-27 18:33] huihuaTRI commented on #12772
In the link (https://github.com/RobotLocomotion/drake/compare/master...EricCousineau-TRI:issue-12775-wip) you sent, I don't see where he switches weld by prismatic joints. Maybe it's still in progress?

"lock the joint" would solve my problem. The current solution I took is the brutal force way: modify the urdf to fix those joints. All in all, what we discussed here would be a good feature to have

[2020-02-28 01:39] sherm1 commented on #12335
After some experimentation and discussion with @rcory and @hongkai-dai, here are some details about the implementation of a Drake gear-reducing revolute joint.

One question was whether this should be a separate kind of joint. We propose instead just to add a reduction factor r to the revolute joint constructor. We could do the same for prismatic joints. Note that the reduction factor can be signe

[2020-02-28 02:03] sherm1 commented on #12335
In a revolute joint, the input and output shafts are aligned. Per discussion with @mitiguy, it is also possible to define a one-dof, constraint-free geared transmission in which the input and output shafts are not aligned. In this case the output axis a_M won't be fixed in the F frame, so we have H=H(q) and can write:
[code]
Not clear if we have an application for this at the moment, but it's a ve

[2020-02-28 15:03] jwnimmer-tri commented on #7982
Per #11758 / #12780, we're going to use homebrew Eigen.  If homebrew offers fmt and spdlog then I'd be happy for use to use the homebrew version.

[2020-02-28 15:07] jamiesnape commented on #7982
[code]

[2020-02-28 15:41] amcastro-tri opened #12789 "Use terms inboard/outboard instead of parent/child in internal MBT code"
Per [review comment here](https://reviewable.io/reviews/robotlocomotion/drake/12764#-M11n_4AAPWLGXJvhUIh), the parent/child terminology might be somewhat fuzzy inside a context that already uses that terminology (for instance MBT parent of a body, or parent/child bodies in an SDF joint).
Therefore it'd be a good idea to refactor this internal MBT code to use the inboard/outboard terminology, which

[2020-02-28 20:37] RussTedrake commented on #292
nice!  might it be worth adding that idea to the documentation somehwere?  so it would come up on a search?  (wouldn't it be nice if doxygen provided that search...)

[2020-02-28 21:32] sherm1 opened #12790 "Document how to model a force/torque sensor in Drake"
We have successfully modeled force/torque sensors by placing a Weld joint where the sensor is and using MBPlant's reaction force output port to obtain the force and torque at the Weld, which is what a force/torque sensor there would read.

Unfortunately that's a bit obscure. In #292 @RussTedrake wrote

In the absence of a more straightforward way to model these sensors, we should figure out some "

[2020-02-28 21:32] sherm1 commented on #292
Thanks, Russ -> issue #12790

[2020-02-28 21:54] RussTedrake commented on #12790
Perhaps adding to the doxygen here?
https://drake.mit.edu/doxygen_cxx/group__sensor__systems.html

[2020-02-28 21:55] RussTedrake commented on #12790
and/or somewhere in here: https://drake.mit.edu/doxygen_cxx/group__multibody.html

[2020-02-29 09:45] RussTedrake opened #12793 "libClp.so (coin-or) missing from `/opt/drake/share/drake/setup/packages-bionic.txt`"
I tried using only `/opt/drake/share/drake/setup/packages-bionic.txt` to provision colab in order to `import pydrake`, but it currently fails.

Running the following on colab.google.com:
[code]
results in
[code]

The change in this branch is visible here:
https://github.com/RussTedrake/underactuated/pull/316

[2020-02-29 17:03] amcastro-tri commented on #12778
@huihuaTRI, I mislead you. We do have `MBP::GetJointActuatorByName()`.

[2020-02-29 17:03] #12778 closed

[2020-02-29 17:06] amcastro-tri commented on #12779
In #12778 I pointed you to `MBP::GetJointActuatorByName()`. I imagine you'll make immediate use of it since you needed it. I'd be thrilled if you push any of your examples/work as a unit test for this API. It'd definitely be a nice addition as you mention.

[2020-03-02 04:40] SeanCurtis-TRI opened #12798 "[geometry] Any useful doxygen needs to be available outside internal namespace"
A recent exploration (#12796) is looking at making sure huge swathes of code are correctly not cluttering up the final doxygen. Currently, there are instances of documentation applied at the lowest level (e.g., [info about parsing](https://github.com/RobotLocomotion/drake/blob/master/multibody/parsing/detail_scene_graph.h#L38-L83)), which need to be accessible through the public API (as appropriat

[2020-03-02 13:28] jamiesnape commented on #12793
Should be there https://github.com/RobotLocomotion/drake/blob/c587248be03d450a9a5361e69bccb77ae6c6d3fd/setup/ubuntu/binary_distribution/packages-bionic.txt#L1

[2020-03-02 14:10] jwnimmer-tri commented on #11130
After #12796 merges, we should see if any cruft encompassed by the above complaints still remains.

[2020-03-02 16:20] huihuaTRI commented on #12778
I may not explain it clearly. We do have `MBP::GetJointActuatorByName()`, but we don't have anything to get the `JointActuatorIndex`.

[2020-03-02 16:23] jwnimmer-tri commented on #12778
What about `GetJointActuatorByName(name).index()`?

[2020-03-02 16:24] huihuaTRI commented on #12778
That returns a `JointIndex`, not a `JointActuatorIndex`. For an underactuated robot, these two will be different

[2020-03-02 16:26] jwnimmer-tri commented on #12778
Really?  On paper at least it seems like `ElementIndexType = JointActuatorIndex`?  What am I missing?

[code]

[2020-03-02 16:43] huihuaTRI commented on #12778
I missed that one, Thanks for pointing it out. I will confirm whether it works and report it back here.

[2020-03-02 16:47] #11130 closed

[2020-03-02 18:47] huihuaTRI commented on #12778
Come back to confirm that `GetJointActuatorByName(name).index()` gives what I need. Thanks!

[2020-03-02 18:52] jwnimmer-tri commented on #12778
So exactly as you request in the top post, at it happens!

Inheritance-oriented-programming strikes again.  It would be great if the https://drake.mit.edu/doxygen_cxx/classdrake_1_1multibody_1_1_joint_actuator.html showed the base class methods.  We can probably add `using` statements in joint_actuator.h to force it to do so.

[2020-03-02 19:06] BetsyMcPhail commented on #12785
Ubuntu and Mac images have been updated. As always, it may take Jenkins awhile to cycle through to using the new Ubuntu image.

[2020-03-02 19:06] #12785 closed

[2020-03-02 20:57] #12790 closed

[2020-03-02 21:07] huihuaTRI commented on #12778
I had this problem multiple times. @sherm1 pointed out that this information is already in Doxygen, but hidden in a drop-down link, for example, search for `Public Member Functions Inherited From ...`. If we can let it show by default, that would solve the problem mostly.

The issue that you won't be able to search for such an API still persists though.

[2020-03-02 21:10] jwnimmer-tri commented on #12778
You can try the fix locally -- add a `using` to the join actuator header then regenerate doxygen (`bazel-bin/doc/doxygen --quick multibody`).  See https://github.com/RobotLocomotion/drake/blob/d243bba621cb97d87bf351b9d0137e108ef84640/systems/framework/input_port.h#L166-L175 for an example of the using-statement.

[2020-03-02 21:24] huihuaTRI commented on #12778
That works. The inherited member functions will still be hidden there, which is a duplicate if you click that drop-down menu.

Would it still be nicer if just let Doxygen show these functions by default? Then we don't need to worry about adding `using` and missing new functions added in the parent class.

As for member function searching, the method you suggested also only shows the base class. .

[2020-03-02 21:33] jwnimmer-tri commented on #12778
We tried flipping this default, but it makes things like the primitive systems unusable.  The docs for, e.g., https://drake.mit.edu/doxygen_cxx/classdrake_1_1systems_1_1_gain.html would show the bajillion LeafSystem methods so basically all of https://drake.mit.edu/doxygen_cxx/classdrake_1_1systems_1_1_leaf_system.html is pasted into _every_ system's Doxygen.

So the bottom line is that as best I

[2020-03-03 01:17] huihuaTRI commented on #12778
Thanks for the info. FYI @sherm1

[2020-03-03 02:19] RussTedrake commented on #12793
Resolved.  Jamie realized that I had not called apt-get update before installing the prereqs.  My apologies!

[2020-03-03 02:19] #12793 closed

[2020-03-03 03:34] mitiguy commented on #12592
@edrumwri   I just started PR #12804 that fixes a related Jacobian problem and then will proceed with this issue #12592.  The good news is that it seems as if CalcJacobianSpatialVelocity() is working now with whatever frame A you want to use.. However, as you found, CalcBiasForJacobianSpatialVelocity() is  not working for an arbitrary frame A.

[2020-03-03 14:06] RussTedrake opened #12805 "`NewIndeterminates(rows, name)` should return an element that passes `IsVectorAtCompileTime`."
It's a minor thing, but currently the lines
[code]
fail with
[code]

I don't see any reason why this call should not be able to return a matrix with the number of columns set statically to 1.

[2020-03-03 14:16] RussTedrake commented on #12805
nevermind.  i had an ugly mistake copying my code from python -- passing 'x' instead of "x" ended up calling `NewIndeterminates(1, 120)`.  Yikes!

[2020-03-03 14:16] #12805 closed

[2020-03-03 19:47] #11758 closed

[2020-03-03 20:02] jwnimmer-tri commented on #4729
For the record, today in TRI we found need of having `drake:collision_filter_group` also exist in the SDF parser (not just URDF).  The attic SDF parser had this feature.

[2020-03-03 20:04] SeanCurtis-TRI commented on #4729
How much is this mucking up your productivity? (I.e., how much of a priority is it?)

[2020-03-03 20:46] jwnimmer-tri commented on #4729
It's @ggould-tri working on it.  Last I heard, it was possible to work around this by adding C++ code after parsing to set up additional filtering.

[2020-03-03 20:55] SeanCurtis-TRI commented on #4729
Indeed; I noted the slack where he'd declared he'd found the "get collision geometries for body" functionality.

[2020-03-03 20:58] ggould-tri commented on #4729
Yes, we were able to do it post-parsing via:
[code]
IMO this is annoying but not serious.  I might disagree if I weren't a regular MBP user, though.  Any call that puts SG, MBP, and the words "Collect" and "Register" within a line of each other is fairly unfriendly.

[2020-03-03 21:05] SeanCurtis-TRI commented on #4729
Your life would presumably have been simpler if it had been specified in the SDF?

[2020-03-03 21:12] ggould-tri opened #12807 "Q size for floating bodies is unclear from docs"
It is not clear from the documentation of `Body` how many positions the body has.  This makes it difficult to correctly use `Body::floating_positions_start()`.

I ran into this trying to pretty-print a positions vector; to annotate any qs related to floating bodies I had to write:
[code]
The 6-or-7 hardcoded constants there really should be accessed through a method on `Body` rather than through e

[2020-03-03 21:31] sherm1 commented on #12807
Is there a better way to do this @amcastro-tri ?

[2020-03-03 22:59] edrumwri commented on #12592
Got it- thanks for the status update Paul!

[2020-03-04 15:52] #12648 closed

[2020-03-04 18:19] DamrongGuoy opened #12810 "Rename files for computing contact surfaces between [surface,volume][mesh, plane, half space]."
Rename files for computing contact surfaces in `geometry/proximity/` like this:
[code]
`intersection_surface_volume.h` is for a rigid surface mesh contacts a soft volume mesh with pressure field.

`intersection_volume_plane.h` is for a soft volume mesh with pressure field contacts a rigid plane.

`intersection_surface_half_space.h` is for a rigid surface mesh contacts a soft half space.

CC: @sher

[2020-03-04 18:54] amcastro-tri commented on #12810
Is the distinction between half space and plane that a plane is the boundary of a half space?

[2020-03-04 20:48] mfeng9 opened #12811 "Segfault due to pydrake Simulator.reset_context"
I am having trouble resetting the context of my simulator object to a different one (potentially from another time step)

Following the documentation of pydrake, it seems the right way is the following
[code]
When I continue to run this, I will receive a segmentation fault error with no exception.

My platform:
latest pydrake binary on Mac (downloaded from drake.mit.edu, not local builds)
MacOS Mo

[2020-03-04 21:02] SeanCurtis-TRI commented on #12810
@amcastro-tri. That *is* the origin of the plane. It's for contact with a rigid half space.

[2020-03-04 22:56] DamrongGuoy commented on #12810
Yes, @amcastro-tri the plane is the boundary of a half space.  The plane has infinite area but no volume: {(x,y,z): Ax + By + Cz = D}.  The half space has infinite volume: {(x,y,z): Ax +By + Cz <= D}.

[2020-03-05 05:34] EricCousineau-TRI commented on #11588
Since #12040 has merged, going to close this. If we need a public report (e.g. via Jenkins / CDash), then we can file a separate issue.

[2020-03-05 05:34] #11588 closed

[2020-03-05 13:37] jwnimmer-tri opened #12814 "Remove support for externally-provided scalar types"
This issue proposes to remove support for downstream-defined scalar types.

Many classes in Drake are templated on the type of numerical Scalar used for computation (e.g., `double`, `AutoDiffXd`, `symbolic::Expression`), usually denoted by template argument `<T>`.

We have https://github.com/RobotLocomotion/drake/blob/master/common/default_scalars.h which defines the typical scalars used within Dr

[2020-03-05 13:45] RussTedrake opened #12815 "dot product with symbolic::Variables does not understand to convert to Expression"
The code:
[code]
fails with
[code]

It's not a blocker, as I can use `(x.transpose()*x)[0]` -- but it's less clean and the error above might confuse a novice.

Can we teach `Vector<Variable>.dot(Vector<Variable>)` to return an `Expression`?

[2020-03-05 13:48] edrumwri commented on #12814
+1 on this- I would definitely trade a little bit of inflexibility in adding new scalar types for much faster compilation times.

[2020-03-05 14:17] RussTedrake opened #12817 "Need some sugar to test if two polynomial symbolic::Expressions have coefficients that are approximately equal."
Right now I'm using:
[code]
It's not horrible, but took me a while to figure out a version I liked -- partly because I kept forgetting that `Expression::ToPolynomial()` returns a `Polynomiald` and NOT a `symbolic::Polynomial`.

[2020-03-05 16:28] soonho-tri commented on #12815
https://github.com/RobotLocomotion/drake/blob/6952d8a4cf9381695ec0bc50c1df99f370437d3f/common/symbolic_expression.h#L1149-L1155

We teach Eigen the fact that any binary operation, `Variable bop Variable` should return an Expression. However this is not respected.

`v.dot(v)` is going to execute the following code. The return type `ResScalar` of `run` method is `Expression` (which is what we want).

[2020-03-05 18:48] amcastro-tri commented on #12807
I'd like as much as possible a homogeneous API. That is, I honestly don't like what we have right now.
Bodies do have something in common, and that is that they all have mobilities assigned to them.

[2020-03-05 18:51] ggould-tri commented on #12807
I think that would make a lot of sense.

(FYI, the example code above is in files I am trying to migrate to Drake eventually; you can now see it in all its horror at https://github.com/RobotLocomotion/drake/pull/12824 )

[2020-03-05 19:52] jwnimmer-tri commented on #6890
Relates to #12814 so I might end up doing a little work towards something here.

[2020-03-07 21:49] soonho-tri opened #12831 "Improve dRealSolver doc"
cc @RussTedrake

[2020-03-07 22:02] RussTedrake commented on #12747
fwiw -- today i saw this error scroll by during a fresh install on a clean mac machine, but it did not prevent `install_prereqs` from completing.   I was able to `bazel test //...` and also `install`, and saw no problems.

[2020-03-08 00:42] RussTedrake opened #12832 "wishlist for operator overloads on symbolic::Polynomial"
these would clean up my #12827 significantly.

[code]

[2020-03-08 00:47] hongkai-dai commented on #12832
I see, that is why you use symbolic::Expression instead of symbolic::Polynomial.

[2020-03-08 00:54] RussTedrake opened #12833 "cannot set/maintain decision_vars vs indeterminates when manipulating symbolic::Polynomial"
As a result, in #12827, I have to go from Polynomial back to Expression and back again, so that mathematical program knows which is which.

[code]
yields
[code]
even though `rho` is a decision variable.  As a result I have to write:
[code]
which is both ugly and inefficient.

[2020-03-08 01:09] hongkai-dai commented on #12833
I think the problem is when we write `Polynomial(rho)`, it defaults to treat all variables as indeterminates. You will have to provide the list of indeterminates when constructing the polynomial in this case. Here is the code that works for me
[code]

[2020-03-08 02:16] RussTedrake commented on #12833
I would have to pollute every line with things like this.  It think it's a sign of something more broken about the relationship between `MathematicalProgram` and `symbolic::Polynomial`.  I know you and @soonho-tri debated about this when you were first bringing things online... but from today's experience, I would think that:

- `Expression`s do not keep a list of decision variables / indeterminat

[2020-03-08 06:23] hongkai-dai commented on #12833
If Polynomial doesn't know which variable is indeterminate, and which variable is polynomial, then it is hard to know whether an expression is a polynomial or not. For example, the expression sin(a) * x^2 is not a polynomial if both a and x are indeterminates; it is a polynomial if only x is indeterminates.

[2020-03-08 15:31] RussTedrake commented on #12814
The two highest potential scalar types not currently in the default scalars, in my mind, are probably:
- higher derivatives in autodiff.
- chunking autodiff (#2619, much discussed, but never PR'd).
I understand your proposal is that we would add them to default scalars if/when we need them.  But higher derivatives, in particular, feel like a case where I would only want to add them (to a particula

[2020-03-09 00:23] jwnimmer-tri commented on #12811
Apologies for the delay in responding.  The on-call issue triage last week fell through.

It is definitely a bug when pydrake segfaults, even if the APIs were used incorrectly.

However, I am unable to reproduce your problem.  I tried using https://github.com/RobotLocomotion/drake/releases/tag/v0.15.0 on Ubuntu 18.04 with the following cobbled-together code:

[code]

[code]

Are you able to post s

[2020-03-09 01:20] jwnimmer-tri commented on #12814
The challenge is that its difficult to incrementaly add a new scalar for just one specific use case to only the places its needed.  Even `leaf_system` uses 149 source files in Drake (of course not all of them are templated on scalars), or //systems/primitives needs 261 files in total.  Trying to add the new scalar one by one to all of the dependencies of some smaller example will end up death by a

[2020-03-09 04:38] soonho-tri commented on #12832
#12835 is supposed to provide the requested features.

Note that this one is already available at https://github.com/RobotLocomotion/drake/blob/master/common/symbolic_polynomial.h#L256-L257.

[2020-03-09 10:37] RussTedrake commented on #12833
Does `symbolic::Polynomial` really support `sin(a) * x^2`?  Is there a case where it is meaningful to call that a `Polynomial`?

Even if yes, I would say that it could be ok for a user to have to deal with labeling indeterminates when creating Polynomials for cases like that.  But I would think that, almost independent of what the Polynomial class lists as an indeterminate, the `AddSosConstraint(P

[2020-03-09 13:40] ggould-tri commented on #4729
I think so, yes -- I could have xacro-constructed it fairly easily.  Although possibly the "Collect"/"GetBodiesWelded" there is an indication that we would want to filter whole subtrees of the scenario rather than individual bodies when there is complex geometric modeling going on.

[2020-03-09 13:56] soonho-tri commented on #12833
@RussTedrake , FYI, we already have the following method:

[code]

I'd like to emphasize the note here:

[2020-03-09 14:04] soonho-tri commented on #12833
Some thoughts:

 1. We can add a sugar, `symbolic::Polynomial MP::MakePolynomial(Expression)` which creates a polynomial using the MP's indeterminates.
 2. Then we can provide overload for the methods which currently only take a `symbolic::Polynomial` to take a `symbolic::Expression`. Internally, they create a polynomial using `MakePolynomial` in 1) then call the existing methods. `AddSosConstrain

[2020-03-09 15:44] hongkai-dai commented on #12833
@soonho-tri Russ brought up this issue because we want to avoid calling `MP::AddSosConstraint(Expression e)`. The reason is that we have two polynomials `p1, p2`, `p1` is already a symbolic::Polynomial object, `p2` is a simple expression. and we want to enforce that `p1 + p2` is a SOS polynomial. Currently we have two possible workflows
1. Create a symbolic::Expressions e=p1 + p2, and then call `A

[2020-03-09 15:58] soonho-tri commented on #12833
@hongkai-dai , thanks for the clarification. Here are some options that I can think of:

1. Add `operator+(Polynomial p, Expression e)` and internally we construct a polynomial for `e` using `p.indeterminates`. Previously, I wanted to avoid this one since a user might not understand what's happening under the hood.

2. Another option is to write `AddSosConstraint(p + MP::MakePolynomial(e))`. This

[2020-03-09 16:09] hongkai-dai commented on #12833
@soonho-tri Thanks! I like option 2 better. It doesn't involve too much change on symbolic::Polynomial class. So symbolic::Polynomial still knows the difference between indeterminates and decision variables.

@RussTedrake what do you think about option 2? Currently we do support sin(a) * x^2 to be a polynomial. We don't have a good use case yet. I agree it is tempting to make Polynomial class not

[2020-03-09 16:11] RussTedrake commented on #12833
Regarding @soonho-tri 's post:
[code]
I think that may not be true?  Perhaps it's a bug?  But I definitely got different results when I called `AddSosConstraint(Polynomial)` vs `AddSosConstraint(Polynomial(Expression))` which were resolved when I changed it to `AddSosConstraint(Polynomial(Expression, prog.indeterminates()))`.

[2020-03-09 16:14] soonho-tri commented on #12833
@RussTedrake , FYI, the following should give us the same result:
 1. `mp.AddSosConstraint(e)`
 2. `mp.AddSosConstraint(Polynomial(e, mp.indeterminates()))`

However, the following is different:
 3. `mp.AddSosConstraint(Polynomial(e))`

[2020-03-09 16:14] hongkai-dai commented on #12833
Another option is to add a new type to symbolic::Variable as `Indeterminates` in https://github.com/RobotLocomotion/drake/blob/7875b8b44cf0bd373ccad8b761956c57055cd3f4/common/symbolic_variable.h#L39-L50

Then we we call `NewIndeterminates`, the returned variables will have type `Indeterminate`. When we construct Polynomials, the constructor automatically knows whether a variable is an indeterminat

[2020-03-09 16:47] hongkai-dai commented on #12833
Following our discussion on why using symbolic::Polynomial can be faster than using symbolic::Expression (and then convert the expression to polynomial in AddSosConstraint):

Suppose that we want to verify the following two conditions:
[code]
note that `p1` appears in both conditions.
Suppose we are given
[code]
If we call `mp.AddSosConstraint(e1 - e2)` and `mp.AddSosConstraint(e1 - e3)`, we need

[2020-03-09 17:41] soonho-tri commented on #12833
@hongkai-dai , I see. I agree that in this case creating polynomials for subexpressions works best.

With the mentioned sugar `MP::MakePolynomial`, we can re-write the example as follows.

[code]

Let me prepare a PR for that. Of course, we can keep discussing and find a better solution.

[2020-03-09 18:36] jwnimmer-tri commented on #6890
A first pass has been merged.  Remaining work is to improve the macro with experience, and to finish adding uses of the macro to any code that we missed or skipped in the first pass.  In the `//geometry/...` folder particularly, I skipped over many items.

[2020-03-09 18:48] hongkai-dai commented on #12833
Thanks Soonho.

I think adding `mp.MakePolynomial` should work. It requires the user to call this function. On the other hand, I think adding `Indeterminate` type makes the code easier to use symbolic::Polynomial p1(e1)` directly. Do you concern that adding Indeterminate type will cause ramification in the codebase?

[2020-03-10 00:04] RussTedrake commented on #12814
In this case, it sounds like we effectively do not currently support externally-provided scalar types and having nothing to lose.  SGTM.

[2020-03-10 12:03] RussTedrake commented on #12833
I agree that `mp.MakePolynomial` could work, but still wish the user didn't have to think about it.  And, in terms of performance as discussed above, would we also offer `mp.MakePolynomial(Polynomial)`... perhaps differently named, that takes a polynomial and rejiggers which variables are the indeterminates?

[2020-03-10 13:13] RussTedrake opened #12841 "`MathematicalProgram::AddConstraint(Vector<Formula>)` please?"
We have the vector version for [`Expression`](https://drake.mit.edu/doxygen_cxx/classdrake_1_1solvers_1_1_mathematical_program.html#a412ef43fcfe9a34e19b1054d8750836b), but not for `Formula`.  Would be very nice to have!

[2020-03-10 13:45] soonho-tri commented on #12841
I'll take care of it.

[2020-03-10 13:55] RussTedrake opened #12842 "make `PiecewisePolynomial::breaks` public?"
Is there a reason that it is not?  I was looking to plot the results of a trajectory optimization and was surprised that this information was not available to me.  My example is much less elegant without it.

Aside  -- we've never liked the name "breaks".  Might be a chance to change it before pushing to the public API.

[2020-03-10 14:09] RussTedrake commented on #12842
Specifically, my code for getting the data out for plotting currently looks like this
[code]
yuck!  Would generally like to make that better.

[2020-03-10 14:17] ggould-tri commented on #12842
The method `get_segment_times` on the superclass returns exactly `breaks_`, I think.  That might address both of your concerns.

[2020-03-10 14:24] SeanCurtis-TRI opened #12843 "[geometry] Clean up internal documentation"
As per [GSG](https://drake.mit.edu/styleguide/cppguide.html#Doxygen), anything in an internal space should use either `//` or `/* */` so as to not suggest that it would appear in rendered doxygen.

Update all of the internal code to reflect that.

[2020-03-10 15:07] soonho-tri commented on #12832
Close by #12835

[2020-03-10 15:07] #12832 closed

[2020-03-10 19:20] jwnimmer-tri opened #12846 "New CI base images"
Please roll out new Ubuntu images so that we receive the GCC 7.5 upgrade from canonical that just landed today.

The macOS image does not need to change.

[2020-03-10 19:53] BetsyMcPhail commented on #12846
Ubunut images and Jenkins have been updated.

[2020-03-10 19:53] #12846 closed

[2020-03-10 21:01] soonho-tri commented on #12833
1) The `type` field of a `symbolic::Variable` determines the range of values that it can hold. For example, `CONTINUOUS` indicates that it can take a `double` value, `INTEGER` indicates it can take an `int` value, etc. The distinction between a decision variable and an intermediate is orthogonal to this range information. So, I think we cannot extend the existing `type` field. We need to introduce

[2020-03-11 02:20] mfeng9 commented on #12811
Thanks for the timely reply! Sorry for the confusion.
The segmentation error will only appear when the arm is commanded to move. Simply calling simulator.AdvanceTo will not show the error.
I have created a repo for you to replicate the problem:
https://github.com/mfeng9/drake-manip-station.git

As seen in the iiwa_drake.py, you should see that AdvanceTo will run OK, but moving the arm will cause s

[2020-03-11 02:27] mfeng9 commented on #12811
The code is extended based on the examples from MIT 6.881 Intelligent Robotic Manipulation class.  The core piece is to use IK to plan for motion and move the arm. I wrote a few wrappers to make the code a little cleaner, but that is about the only change I have added.

[2020-03-11 11:54] jwnimmer-tri commented on #12811
Thanks!

The `from deepPHA.drakesim.manip_station_sim.robot_plans import *` line fails for me.  If I comment it out, then I get `NameError: name 'JointSpacePlanRelative' is not defined` instead.  Looks like I need a bit more code, still?

[2020-03-11 12:45] soonho-tri opened #12848 "Add MP::Reparse(Polynomial)"
cc @hongkai-dai
cc @RussTedrake

[2020-03-11 13:20] hongkai-dai commented on #12833
That is a compelling argument. I am convinced that we should not add indeterminate field to symbolic::Variable. Thanks for the explanation.

[2020-03-11 14:24] jwnimmer-tri commented on #5651
Now that `port.Eval(context)` returns an Eigen block by default, what still remains as the next biggest pain point?

[2020-03-11 14:56] BetsyMcPhail commented on #12289
The Catalina AMIs use brew installed CMake 3.16.4. Which uses [system curl](https://github.com/Homebrew/homebrew-core/blob/12a076eaf6f0f397283e43a5221d981cf21654c4/Formula/cmake.rb#L36). On Catalina, the system curl is [7.64.1](https://opensource.apple.com/source/curl/curl-118/).

To control the curl output, CMake sets  [CURLOPT_VERBOSE](https://gitlab.kitware.com/cmake/cmake/blob/master/Source/CT

[2020-03-11 17:59] mfeng9 commented on #12811
Sorry for the error, I have pushed the fix. Or you can simply remove
[code]
before the robot_plans, because it is just the relative path from the root of the package.

[2020-03-11 19:08] ggould-tri opened #12849 "one-model-at-a-time IK is common, very easy to get wrong"
In TRI's Anzu project, I have found a very large number of reimplementations of multibody plant IK of one model at a time; more interestingly, each implementation has had one or more bugs, so I think putting it in one canonical, correct form in Drake would have a big payoff.

The pattern is: From a MBP, perform IK on a single model while treating all other models as fixed (not adustable, but also

[2020-03-11 20:14] ggould-tri commented on #12849
In fact in the case of inactive joints Drake IK will bounding-box them to their joint limits regardless of whether their current position lies outside the joint limits (which since joint limits are quite soft they often will), leading to infeasibility (the caller sets q_inactive to q0_inactive; IK constrains q_inactive to its joint limits; the two constraints are contradictory)

[2020-03-11 20:25] sherm1 commented on #12849
@ggould-tri does "model" in your description above correspond to "ModelInstance" in MBP parlance or is that a different concept?

[2020-03-11 20:26] ggould-tri commented on #12849
Yes, ModelInstance is what I mean.

[2020-03-11 20:26] ggould-tri commented on #12849
Here is a typical example of an incorrect pydrake IK usage (and its correction) that should be taken care of on the Drake side instead
![image](https://user-images.githubusercontent.com/17596413/76460613-b2029c00-63b4-11ea-8fc1-a65d8e3ef9f8.png)
And here is an example of a unit test that has overconfidently assumed that pydrake IK will leave inactive DoFs unchanged
![image](https://user-images.git

[2020-03-11 20:26] ggould-tri commented on #12849
(This is not to say that pydrake IK was wrong to do what it did, merely that it should provide an API that does what such common cases expect.)

[2020-03-11 21:38] sherm1 commented on #12207
I believe this is fixed now by #12764 and #12809. It's not returning a sparse matrix but `CalcMassMatrix()` should be _much_ faster than `CalcMassMatrixByInverseDynamics()`.

@mposa please let us know whether you are satisfied with this and open a new issue if not.

[2020-03-11 21:38] #12207 closed

[2020-03-11 22:14] hongkai-dai commented on #12817
@soonho-tri , have you worked on this already? I can take this one.

[2020-03-11 22:32] huihuaTRI opened #12851 "Using jupypter notebook for small quick interactive tools"
**Background:** We are developing a door hinge force element in Drake to provide the capability to model a door hinge joint, which generally exhibits complicate torque features. The solution is to consider five different torques and use different curves to approximate their characteristics. See [PR12812](https://reviewable.io/reviews/RobotLocomotion/drake/12812#-).

**Problem statement:** Since th

[2020-03-11 23:11] soonho-tri commented on #12817
@hongkai-dai , I couldn't start working on this yet. It would be great if you can take this. Thank you.

[2020-03-11 23:16] hongkai-dai commented on #12817
I plan to add a new function to `symbolic_polynomial.h`
[code]
which returns true if the coefficients between two polynomials are all equal up to the tolerance.

[2020-03-11 23:32] RussTedrake commented on #12817
Thanks!  I think something like `CoefficientsAlmostEqual` is more clear?

[2020-03-11 23:58] jwnimmer-tri commented on #12851
What is the error message when you try it?

[2020-03-12 00:45] huihuaTRI commented on #12851
It builds fine and I could run it with `bazel`.

[2020-03-12 00:47] jwnimmer-tri commented on #12851
I guess in that case I'm not yet clear on what the bug report is about?  Are you asking in terms of what a policy should be?

[2020-03-12 00:51] jwnimmer-tri commented on #12811
Ok, with some fiddling I was able to obtain an error message:
[code]

That's with the 0.15.0 release.

With 0.16.0 release, I do see a segfault:
[code]

I'll see what I can learn about the problem.

[2020-03-12 00:53] huihuaTRI commented on #12851
This is my understanding of the problem. Maybe @sherm1 has a different view.

Since it runs fine, it solves my concern. The discussion would be where to put this notebook. So, yes, it's about the policy.

[2020-03-12 00:56] jwnimmer-tri commented on #12851
For my money, that is best discussed in the PR in that case.  It sounds like everyone was OK with it being adjacent to the new joint, but hearsay led someone to believe that the build system would fail in that case.

[2020-03-12 01:29] jwnimmer-tri commented on #12811
Using https://drake.mit.edu/python_bindings.html#debugging-with-the-python-bindings instructions and adding in trace, we get:
[code]

That points us in a good direction, I think.

I suspect that part of the problem is that in `init_simulator` we dig out objects from the simulator's context and save references to them in member fields:
[code]

However, later when we `reset_context()` to change whic

[2020-03-12 01:36] jwnimmer-tri commented on #12811
Oh, of course.  A call to `reset_context` will delete the prior Context in C++ immediately, without respecting python's garbage collector.  So even though the prior Context still has live uses in python, the C++ object they refer to has been deleted.

We even have a scary unit test about this:
https://github.com/RobotLocomotion/drake/blob/b2293bc15d192473dbe76e48e9861c860c739549/bindings/pydrake/s

[2020-03-12 02:24] jwnimmer-tri commented on #12811
Oh, we added `reset_context` on purpose, recently in #12368?  The motivation cited in slack was:

Sounds familiar!

At minimum, if we keep this method around, we need to amend its pydrake doc to explain why it is scary and explain how to use it safely.

But if `SetTimeAndStateAndParametersFrom(other)` succeeds, then it seems like we should just advocate for that, instead, and remove this one from

[2020-03-12 03:24] sherm1 commented on #12851
We need to hear from @hongkai-dai who was the source of the advice. I believe it had to do with installation rather than build.

[2020-03-12 10:06] RussTedrake commented on #12842
Indeed.  My apologies.

[2020-03-12 10:06] #12842 closed

[2020-03-12 13:51] #12817 closed

[2020-03-12 13:53] ggould-tri commented on #12849
Temporarily assigning this issue to Dynamics/Sherm per platform review checklist.

[2020-03-12 13:56] ggould-tri commented on #12851
Temporarily assigning @sherm1 (per platform review checklist) who can close or reassign as this clarifies.

[2020-03-12 16:28] RussTedrake opened #12857 "consolidate drake::trajectories and drake::systems::DenseOutput"
Per a [conversation on slack](https://drakedevelopers.slack.com/archives/C2WBPQDB7/p1579047142005600), we would like `DenseOutput` to be a `Trajectory`, and to potentially migrate some of the nice features from `DenseOutput` up the class hierachy.  In that discussion, @hidmic wrote:

[2020-03-12 16:39] RussTedrake commented on #5651
A quick search on `CopyToVector` still finds 100+ matches on master.  A quick scan gives me the impression that many of these involve directly accessing the state vector from the `Context`.

[2020-03-12 16:44] jwnimmer-tri commented on #5651
I do see a few that are doing the copy in order to then use operator overloading, but most seem like the Copy is because the user actually wants the Eigen in order pass into an API that requires an Eigen, or because they want `.head(...)` or other APIs that only exist on Eigen.  I'd support offering Context to return a State view using Eigen::Block, but that is not this bug.

In other words, rathe

[2020-03-12 17:47] ggould-tri commented on #12849
Whoops, caught another one today
![image](https://user-images.githubusercontent.com/17596413/76549923-9efcd400-6467-11ea-894f-8aa933703ba2.png)

A caller assuming that IK is not already imposing constraints on these joints, and so constraining them in a way that will prove contradictory.
The effect of this, btw, was to teleport mugs all around the kitchen because the dishwasher had contradictory c

[2020-03-12 17:56] ggould-tri commented on #12849
A temporary solution to this would be to make Drake IK's BoundingBox constraints optional and/or warn before solver dispatch when a variable has contradictory BoundingBoxes.
A better intermediate solution would be to not overload joint limits in this way (a thing that can be violated in plant state but cannot be violated in IK).
Or to make DoF adjustability and limits opt-in rather than opt-out-bu

[2020-03-12 19:07] sammy-tri opened #12859 "URDF parser doesn't load joint effort limit"
The Multibody SDF parser loads joint effort limits, but the URDF parser lacks this feature.  It may be slightly more complicated in the URDF case because the effort is specified in the `joint` tag but the joint actuator is created when parsing the `transmission` tag.

[2020-03-12 19:07] sammy-tri commented on #12859
Self-assigning for now.  If someone wants to work on this more urgently feel free to reassign.

[2020-03-12 21:21] sherm1 commented on #12859
Do we have a way to enforce the effort limit in MBP? It comes in with the joint but I guess it has to be applied to the MBP actuator input port?

[2020-03-12 21:29] sherm1 commented on #5651
Not clear to me how that would work for Diagrams since their states are composites of LeafSystem states (and Eigen doesn't have a type comparable to VectorBase). Any Context might actually be a DiagramContext. But I don't think there is a practical distinction between BasicVector and an Eigen vector so we should be able to improve things once we get down to basics.

[2020-03-12 21:41] sherm1 commented on #12849
@ggould-tri: I'm trying to understand this problem in terms of code changes to Drake that would fix it. There is a class `drake::multibody::InverseKinematics`. Would this issue be resolved if that object could be instantiated with a single ModelInstance and would then operate only on the dofs that belong to that instance? Do you have a concrete proposal in mind that would resolve the problems you

[2020-03-12 21:53] sammy-tri commented on #12859
We don't have a way to enforce the limit in MBP.   I opened this issue in response to a discussion with @yangwill on Slack, he confirmed for me that his interest right now is only in being able to query the value (which I believe would be basically equivalent to the parser support for joint velocity, which I don't think is enforced anywhere either).

[2020-03-12 22:10] sherm1 commented on #12859
I see. Getting it read in does seem like a good first step!

[2020-03-13 12:48] RussTedrake opened #12867 "MathematicalProgram: Provide a common api for setting verbose solver output"
If I want to debug my solver, I need to dig in and
1) figure out what solver is being called,
2) instantiate it myself,
3) figure out the particulars of this solvers options which sets the output.

Can we just have `prog.set_solver_output_level()' or something that provides a common interface for all of the solvers?  Possibly taking a filename as an argument, if that's desirable.  I know they are

[2020-03-13 12:55] jwnimmer-tri commented on #12867
Though I can't find a citation now, in the past I recall talking about enhancing SolverOptions to allow for setting common options that would apply across all (or at least most) solvers, using a Drake-defined vocabulary, instead of the solvers' individual vocabularies.  That seems like the right path for this one.  The verbosity is a property of the Solve, not of the Program.

[2020-03-13 14:08] ggould-tri commented on #12849
The most common immediate problem I've encountered is that `drake::multibody::InverseKinematics` automatically sets BoundingBox constraints on its joint limits; because most real contexts have joint limit violations (eg a context of any system with gravity will always lie outside any vertical joint limits), callers who constrain "inactive" joints to their current positions will get failures and cr

[2020-03-13 15:49] hongkai-dai commented on #12849
Sorry I am late in the discussion. We also had the joint limit problem back to the DRC days, that IK thinks the joint limits are hard constraints, but in reality they are soft (the robot actual joint can violate the joint limit a bit).

I think adding an option to IK to ignore the joint limit is reasonable. I can add that option if both @ggould-tri and @avalenzu agree.

[2020-03-13 15:57] sherm1 commented on #12849
Thanks, @hongkai-dai. Reassigning to you for now.

[2020-03-13 18:06] hongkai-dai commented on #12849
@ggould-tri , @avalenzu @calderpg-tri and I had a discussion, here are the action items needed to address this issue

- [ ] InverseKinematics has an option to ignore the joint limit. The joint limits are active by default, but in the constructor of InverseKinematics we can turn it on.
- [ ] When converting `MathematicalProgram` to snopt problem in `snopt_solver.cc`, we check if the constraint lowe

[2020-03-13 18:59] hongkai-dai commented on #12851
I think the current solution in the PR is fine? Previously we talked about whether you want to host the jupyter notebook online through binder. If we have to put it online then we need to teach the build system how to do it. I am happy to host it locally.

[2020-03-13 19:08] jwnimmer-tri commented on #12851
In my opinion, I have a strong objection to the current PR which places one single class's specific documentation inside the tutorials folder.  If every class did that, we would drown with hundreds of tutorial files.  Tutorials should be reserved for information that is useful to wide swaths of our users, and which composes multiple classes and function together into unifying whole-program example

[2020-03-13 19:12] jwnimmer-tri opened #12868 "Improved CI support for programs using X"
In PR #12788, we have some rendering code that is unable to run using xvfb in CI.  I don't have the exact errors handy but hopefully @tehbelinda and @SeanCurtis-TRI can help point us to examples.

They are going to try to rework the code to pass with xvfb, but failing that would like to request that Ubuntu CI offer a more comprehensive graphics stack.

In TRI's repository, I have code to launch xo

[2020-03-13 19:33] hongkai-dai commented on #12851
Agreed. This jupyter notebook is not for general tutorial, but more as an supplementary material for the door hinge class.

On a separate note, I am thinking should we bring some directory hierarchy to `tutorials` folder? For example, a `tutorials/solvers` folder for `MathematicalProgram`, a `tutorials/multibody` folder for MBP, etc.

[2020-03-13 19:42] jwnimmer-tri commented on #12851
I don't mind extra structure there, but only 9 so far isn't _too_ big.  If I needed folders, I'd match Drake's homepage https://drake.mit.edu/ so "systems, solvers, multibody".

But even just some file renames without more folders might be good enough?  Having it all in one place makes it trivial to skim the list of tutorials without knowing ahead of time which section you should be browsing.

Or

[2020-03-13 20:04] huihuaTRI commented on #12851
Since we have a consensus that the notebook should stay with the source code, I will change the PR and add some comments to instruct the user how to use it.

[2020-03-13 20:12] RussTedrake opened #12869 "System's provide access to dynamics in implicit form"
Based on the discussion in #12828.

@sherm1 says

The System-level API that corresponds to this is CalcTimeDerivatives(context, &xcdot) where time t, parameter values p, input port values u, and the current state x (=[xc xd xa]) are taken from the context. (At the Diagram level the inputs u come from setting fixed values for the inputs.)

CalcImplicitEquations(context, xcdot_estimate, &residual).

[2020-03-13 20:49] sherm1 commented on #12759
@ggould-tri out of curiosity, what led you to choose ForceElement for the DoorHinge rather than making a separate Drake LeafSystem? I'm happy with the ForceElement approach but wonder what are the tradeoffs between those approaches.

[2020-03-13 21:18] ggould-tri commented on #12759
I looked at the existing APIs for applying a force to an MBP, I saw ForceElement, and I concluded that was the API to apply a force, so I used it.  Figuring out how to wire up a raw LeafSystem to a particular joint didn't even occur to me.

[2020-03-13 22:06] hongkai-dai commented on #12867
Sorry I don't quite get it, `Solve` is a function, not a class, it cannot store a property? I think the print level should be in `SolverOptions`?

I think we can add a function
[code]
Inside this function, it sets the print level for all supported solvers. Since `MathematicalProgram` also stores a SolverOptions object, we can also add the function
[code]
@jwnimmer-tri what do you think?

[2020-03-13 23:15] jwnimmer-tri commented on #12867
Your general idea is consistent with mine, I just didn't express carefully.  I meant that the desire to print verbosely is related to the execution of a Solve, and not intrinsic to a program's algebraic formulation, so yes we should use SolverOptions to convey the desire to debug.

Whatever API we add to SolverOptions, I do not want to duplicate into MathematicalProgram.  (In fact, I want to remov

[2020-03-13 23:50] SeanCurtis-TRI opened #12870 "[parsing] Package map manipulation is untested"
In `multibody::Parser()` we have two lines that do the following:

[code]

Once in [`Parser::AddAllModelsFromFile`]() and once in [`Parser::AddModelFromFile`](). Deleting those two lines has no impact on the unit tests.

In the unit tests there is [a test that *feels* like it should relate to those removed lines](https://github.com/RobotLocomotion/drake/blob/master/multibody/parsing/test/parser_te

[2020-03-13 23:52] SeanCurtis-TRI commented on #12870
I've linked a PR against this issue that deletes the two lines to see if they have an effect beyond the unit tests.

[2020-03-13 23:54] SeanCurtis-TRI commented on #12870
The code in question was added in #10156.

[2020-03-14 15:10] jwnimmer-tri opened #12873 "pydrake lost reset_integrator"
### First problem

PR #12520 deprecated the ability to change integrators from pydrake, while printing a misleading message in the meantime:

[code]

It asks me to use a method that does not exist within pydrake.  The only bound one is taking a `unique_ptr` (i.e., the one the test is already calling but receiving a warning about).

\CC @edrumwri @SeanCurtis-TRI @EricCousineau-TRI as author / revie

[2020-03-14 16:01] jwnimmer-tri commented on #12873
(2) The reason we lost the warning -> error promotion is because python3 unittest added the following new semantics:
[code]

Because we apply our warning filters prior to calling `unittest.main()`, the unittest filter for any and all `Warning` instances trumps our more custom filters.  Fix pending.

[2020-03-14 16:15] jwnimmer-tri commented on #12873
(1) I think the best answer is to re-implement `reset_integrator` inside pydrake, instead of binding it, as in:
[code]

So we pass the class (not instance!) and optionally `max_step_size`.  In the pydrake method body we dynamically construct a correctly-initialized IntegratorBase and then move it into the simulator using an drake-internal API taking unique_ptr.

[2020-03-14 16:19] jwnimmer-tri commented on #12870
If there's any uncertainty with respect to how the PackageMap and Parser should inter-operate, I'm happy to try to explain (and/or improve the design documentation).

[2020-03-14 16:43] SeanCurtis-TRI commented on #12870
In this case, there's some behavior in the parser that isn't tested in its unit test. But the ManipulationStation definitely depends on it. So, I think the real fix is to make sure a unit test gets added to `parser_test.cc` that actually is sensitive to the code in `parser.cc`.  :)

This came up because I was adding a "parse from string" API to the parser and I hit the lines in question and found

[2020-03-14 16:55] hongkai-dai commented on #12867
Agreed

Makes sense. I also like to make `mathematical_program.h` smaller.

Many solvers (Mosek, Snopt, etc) provide the API to print either to the console or print to a file. I think as a first pass I would like to emulate these solvers, to either print to console (if `file_name=nullopt`) or print to a file.

Makes sense, how about this
[code]
We can only turn on or off the print flag.

[2020-03-14 17:17] edrumwri commented on #12703
Update after analyzing MBP+SG construction performance as I promised.

First, the setup:

I timed 100 calls to a function (built in release mode, of course) that constructed an MBP+SG consisting of:
* 3 unconstrained ("floating") boxes, added to the MBP+SG programmatically, i.e., without parsing.
* 1 constrained (i.e., welded to the ground) box, also added programmatically.
* A 10 DoF robot consis

[2020-03-15 00:01] SeanCurtis-TRI commented on #12703
Thanks for the measurements. I hadn't realized the sdf parser was so heavy weight.

Quick question: with what frequency would this reconstruction be happening? I.e., 132 ms every other time step would be catastrophic, but every 10 minutes it would meaningless. Or, put another way, how does 132 ms of CPU time compare with the amount of work done between constructions?

[2020-03-15 03:20] siyuanfeng-tri commented on #12703
I am guessing Evan can survive eating up any kind of performance hits when just simulating, but if he's controlling a real robot and has to remake his control models on the fly, that's likely a non starter.

[2020-03-15 13:00] RussTedrake opened #12876 "SDP solver numerical issues lead to false confidence in RegionOfAttraction estimates"
In adding the following example to [underactuated](https://github.com/RussTedrake/underactuated/blob/master/examples/lyapunov.ipynb):

[code]
I was disappointed to see the solver happily report that it has discovered the RoA, but that is signficantly outside the known RoA.  (Black line is known, blue ellipse is estimated).

![image](https://user-images.githubusercontent.com/6442292/76701684-a6a3bf

[2020-03-15 13:07] SeanCurtis-TRI commented on #12703
Excellent point.

[2020-03-15 16:06] hongkai-dai commented on #12876
@RussTedrake do you still have the matlab code with this example? I am wondering if using spotless would give us the right result. I suspect it could be an issue when I convert `MathematicalProgram` to mosek format in `mosek_solver.cc`.

[2020-03-15 16:33] RussTedrake commented on #12876
No, I don't have a matlab version... though I suppose it wouldn't be too hard to make.  I made this one up fresh.  The recipe is the same one that Mark T used for his example that I wanted to recreate, but when I checked a few years back, Mark said that he couldn't find the code.  But the particular form -- and therefore the numerics -- are new.

[2020-03-15 16:56] #12841 closed

[2020-03-15 20:41] hongkai-dai commented on #12876
I solved the problem with CSDP instead of Mosek, and here is the plot
![roa](https://user-images.githubusercontent.com/6314000/76710163-6c9ae300-66c2-11ea-8902-7bf764c2ed65.png)

So the problem is in either our `mosek_solver.cc` or in the mosek itself. I will try to create a matlab version with spotless, when I figure out how to run mosek solver on my VPN (it complains "Could not acquire a mosek l

[2020-03-15 23:12] hongkai-dai opened #12877 "Add SolveWithId on top of Solve function"
Currently to solve a mathematical program with a specified solver, we have to instantiate that solver, and the call `solver.Solve(prog)`. This works find when the users have access to `prog`. On the other hand, when the user doesn't have access to `prog`, this workflow breaks. Consider the following example

[code]
Now the user cannot specify which solver to be used inside `foo` function. `Solve`

[2020-03-15 23:50] shensquared commented on #12876
@hongkai-dai I have spotless and Mosek all setup on my local machine; I'll take care of checking matlab/spotless result.

[2020-03-16 01:19] shensquared commented on #12876
For this example, on matlab, when all parameters are set the same way as the C++ version, including all degrees (pre-multiplier d degree is 7, L degree is 8), and how the multiplier is setup (declared Free and then add SOS constraint, instead of NewSos directly), Mosek verbose prints Unknown error.

When keeping the L degree fixed at 8, and reduce degree d=6, solver reports primal and dual feasibl

[2020-03-16 01:25] RussTedrake commented on #12876
Thanks Shen!  Ironically, I just ported the balancing code this weekend (see #12875), and realized the oversight in my old code when I re-derived the equations.  My PR is careful to NOT do balancing in the indefinite case.

[2020-03-16 12:12] jwnimmer-tri commented on #12877
I would counter-propose two things:

(1) New function
[code]
We could return _all_ compatible solvers in preferential order.  Then users who desire extra logic in refining what "best" means could post-process the list, in order to choose the one they like.  The selection heuristic could be arbitrarily complicated, because we've left it to the user.  (The user could also do something like fire off

[2020-03-16 12:37] jwnimmer-tri commented on #12811
WIP of supporting `shared_ptr` at https://github.com/jwnimmer-tri/drake/commits/simulator-context-shared_ptr, but shared pointers are apparently more finicky than I realized.  I'll have to revisit a little bit later.

[2020-03-16 12:47] EricCousineau-TRI commented on #12811
Just to check, how are the `shared_ptr`s finicky? Does it come from the fact that they're greedy (i.e. you can convert `unique_ptr -> shared_ptr`, but not the other way around)?

[2020-03-16 12:52] EricCousineau-TRI commented on #12873
The best / simplest answer by far (assuming minimal performance impact) is to use `shared_ptr` as you have in your WIP branch.

I think after that, perhaps trying to fix the `pybind` bug itself that I introduced would be best, rather than trying to implement `reset_integrator<IntegratorClass>(integrator_args...)` in Python. I can look into that later today.

[2020-03-16 12:52] jwnimmer-tri commented on #12811
If I run the pydrake unit tests in my branch, I see errors that I'm guessing are because I haven't articulated https://pybind11.readthedocs.io/en/stable/advanced/smart_ptrs.html#std-shared-ptr quite correctly, or possibly missing `py::reference` here or there on other APIs.  I haven't dug in yet.

[2020-03-16 12:55] jwnimmer-tri commented on #12873
I don't understand.  (Did you post in the wrong issue?)  The Simulator <-> IntegratorBase is a cyclic relationship that requires careful construction.  It seems like we need to keep the construction process sealed to ensure it happens correctly, which means passing the classname to a helper, instead of an already-constructed IntegratorBase.

[2020-03-16 13:01] EricCousineau-TRI commented on #12873
Oh... yup, I misunderstood. I was thinking of the old implementation of `reset_integrator`, and didn't pay attention to the updated semantics. D'oh! So yeah, your suggestion in (1) makes the most sense for parity btw Python and C++. Sorry about that!

[2020-03-16 13:04] EricCousineau-TRI commented on #12811
Ah, yeah, if those are runtime errors, then yes, it is most likely b/c you need to change the py cls declaration to `DefineTemplateClassWithDefault<Context<T>, shared_ptr<Context<T>>>(...)` here:
https://github.com/jwnimmer-tri/drake/blob/75d7e8423cd7e71c65e7742e375f5ad2608154f6/bindings/pydrake/systems/framework_py_semantics.cc#L145
... which will introduce issues later on for any method that tak

[2020-03-16 13:06] EricCousineau-TRI commented on #12811
Basically, if any class wants to be used via `shared_ptr<>` in the API, it should be used everywhere in the API where possible (e.g. like the `MathematicalProgram` bindings); `unique_ptr<>` could only be used in raw factory functions that only ever live in C++.

[2020-03-16 13:34] EricCousineau-TRI commented on #10461
Relates https://github.com/RussTedrake/underactuated/pull/333

[2020-03-16 13:34] jamiesnape commented on #12868
One question is are we are going to need instances with discrete GPUs as well? If so, that would mean cutting some jobs to stay within budget.

[2020-03-16 13:42] EricCousineau-TRI opened #12878 "numpy: Should use later version of NumPy"
We're feeling some pain from being stuck to Ubuntu 18.04's old version of NumPy (currently [1.13.3](https://github.com/numpy/numpy/releases/tag/v1.13.3), released ~2.5 years ago).

One main issue is supporting #10461, which is useful for things like this:
https://github.com/RussTedrake/underactuated/pull/333

Some potential complications:
* Dependencies. We may not be able to use as many NumPy-dep

[2020-03-16 13:47] jamiesnape commented on #12878
Focal is going to be 1.17.4 as it stands. If we want to change, ideally it would be to that (on Bionic).

[2020-03-16 13:48] jwnimmer-tri commented on #8475
If I'm recalling correctly, #8476 fixed tools (genrules, actions, etc.) that use python, but did not isomtae things like unit tests, which still use user site-packages.

Now that we have platform-specific bazel rcfiles, I believe we _could_ disable `$HOME` on Ubuntu only.  Seems like we _should_?  WDYT?

[2020-03-16 13:57] jamiesnape commented on #12878
My opinion would be "some pain" is probably not enough to warrant moving, though. If there is a feature you need that cannot be worked around in a reasonable way, then that would be a reason to change, but you are likely to find that the moving away from apt is going to be very painful, so that needs to be balanced.

[2020-03-16 14:03] jwnimmer-tri commented on #12878
Yes.  To the extent we need pip versions instead of apt versions on Ubuntu as runtime dependencies, I think we need `pip install drake` (#1183) first, along with `WORKSPACE` support for ingesting pip.  Trying to use pip prerequisites in a non-pip-managed pydrake install sounds like a nightmare.  (To be clear, cherry picking _build-time_ prereqs from pip can be fine -- because we don't need to inst

[2020-03-16 14:25] EricCousineau-TRI commented on #8475
Hm... What if we did something like adding `test --test_env=PYTHONNOUSERSITE=1` to `ubuntu-bionic.bazelrc`?

[2020-03-16 14:38] jwnimmer-tri commented on #8475
Yes, that's essentially what I was proposing.  Though we'd need to check if `--test_env` causes too much flux when alternating `bazel build //...` vs `bazel test //...`.  (I see to recall it re-runs the analysis phase if you use `test --test_env`, should use `build --test_env` instead possibly.)  We may need to use `--action_env` as well / alternatively.

[2020-03-16 15:11] jwnimmer-tri commented on #12877
(3) Another new proposal: the user dictates their preferred order, and we help filter:

[code]

Filtering based on available() and AreProgramAttributesSatisfied().

[2020-03-16 15:34] SeanCurtis-TRI commented on #12870
So, having looked through the code and the test, I infer the following behavior:

With a new `Parser` (where no packages have been explicitly added via `PopulateFromFolder()`) I have two different behaviors upon loading an arbitrary urdf/sdf:

1. If the model is located in Drake's tree, then all valid `package.xml` that can be found in directories between Drake root and model directory get added t

[2020-03-16 16:09] #12851 closed

[2020-03-16 16:21] hongkai-dai commented on #12867
@jwnimmer-tri and I had a discussion on this, and here is our proposal

- Add a new file `drake_solver_options.h`, in this file we define three enum classes `DrakeSolverOptionsStr`, `DrakeSolverOptionsInt`, `DrakeSolverOptionsDouble`. And these enum classes have fields like
[code]
   These enums will be used as keys in `SolverOptions` class, to store the mapping from drake options to the value of

[2020-03-16 16:35] jwnimmer-tri commented on #12867
Yes, mostly.

The sugar functions allow for the first line here, as a replacement for the second:
[code]

Given that the need for either formulation of this statement is rather rare, I'd prefer to err on side of less API duplication and not add the sugar function.

If anything, I would work to reduce the second line's boilerplate, maybe:
[code]

Or if we wanted to move the enum-matches-type check

[2020-03-16 16:42] jwnimmer-tri commented on #12870
Correct.

Well, _any_ of the Add or Poplate methods on PackageMap could be used, not just that one.

Also of note: per #10531 and #9308, _all_ of the SDF and URDF files in Drake should be using package URIs for subresources (obj, mtl, etc), never using relative paths.  Most are actually wrong right now (which is why so few unit tests failed when you nixed the two lines).  One we make that change,

[2020-03-16 16:57] joshuagruenstein opened #12880 "No Python bindings for MBP generalized acceleration ports"
It looks like while #12354 added `get_generalized_acceleration_output_port()`, this has not yet been exposed in the Python bindings.  This would be useful to have, thanks!

[2020-03-16 17:19] hongkai-dai commented on #12867
Agreed, so we will have an enum class `DrakeSolverOption`, but three different unordered map as
std::unordered_map<DrakeSolverOption, std::string>, std::unordered_map<DrakeSolverOption, int>, std::unordered_map<DrakeSolverOption, double> inside `SolverOptions` class. I agree for the users it is easier to use one function `SolverOptions.SetOption()`.

[2020-03-16 17:22] jwnimmer-tri commented on #12867
Yes.  Internally we can have a table with allowed type(s) for each option, and still fail-fast if the user specifies something incorrectly.

[2020-03-16 17:57] jwnimmer-tri commented on #12868
My mental model of the project says that dGPU will not be required.  All of the current unit tests pass in Anzu when run on laptops with integrated graphics.  But @SeanCurtis-TRI would be authoritative.

[2020-03-16 18:01] jwnimmer-tri commented on #12868
FYI I posted my Anzu current CI snippet at https://gist.github.com/jwnimmer-tri/8e28f3ea117e8ee543d52e94a9948237.  The "Device" section is clearly for a dGPU host (EC2 G3 series), but hopefully could be tweaked for C4 or whatever Drake CI is using.

[2020-03-16 18:14] SeanCurtis-TRI commented on #12868
At this point, we're using vanilla OpenGl -- we should be fine for a long time.

[2020-03-16 18:49] tehbelinda commented on #12868
Here's an example of a CI error:
[code]

[2020-03-16 18:55] jwnimmer-tri commented on #12868
Is there any incremental progress to report yet?  Or updated forecast whether or not it is likely to succeed?

[2020-03-16 19:30] SeanCurtis-TRI commented on #12868
None from me. @tehbelinda?

[2020-03-16 20:27] hongkai-dai commented on #12877
@RussTedrake If we want to specify a solver, we could do
[code]
Could you talk more about the use case when passing a list of solver IDs? Do you want to exclude some solvers? Do you want to try the first of these solvers, and then try the second solver if the first one fails?

[2020-03-16 20:27] SeanCurtis-TRI commented on #12870
Closed by #12871

[2020-03-16 20:27] #12870 closed

[2020-03-16 22:43] tehbelinda commented on #12868
Looking at VTK, I think it works in CI because it uses GLEW instead? I'm looking into whether we can use that instead

[2020-03-16 22:56] shensquared commented on #12876
Just tried Russ’s script, using python binding with the new C++ ROA code. The MOSEK problem size looks off, (too small, and no sdp variable?), see below.
![Screen Shot 2020-03-16 at 6 45 57 PM](https://user-images.githubusercontent.com/8396493/76805883-65550180-67b6-11ea-8ea0-a4ac0ad2ffb1.png)

Moreover, if put in van-der-pol dynamics with linearized/quadratic V instead, MOSEK reports the same pro

[2020-03-17 13:48] jamiesnape commented on #12868
GLEW would make the code more robust, certainly.

From a cursory reading of the code, looks like you need OpenGL 3.0-3.2 with the particular code you are using, but I do not necessarily see any functionality that needs OpenGL 3.  As I said, though, it was a cursory glance, so I may be wrong.

Regardless, the higher the version of OpenGL you need, the greater chance you have of making users unhappy

[2020-03-17 14:29] RussTedrake commented on #12867
catching up on this.  I like the (final?) proposal.

[2020-03-17 14:42] RussTedrake commented on #12877
Unfortunately, I think there are two use cases.

1. Most **users** will feel like they know what solver that they have installed, and want to be using right now.  This is the case that we should make easy for people (including non-experts), and should throw if the solver is not capable of supporting that problem.
2. Developers who want to commit code to drake need to think more about the matrix of

[2020-03-17 14:50] jwnimmer-tri commented on #12877
I think Russ's (1) is fully supported and already has appropriate sugar.  (In fact I don't understand the top post's complaint at all.)  For example, here's how a caller can specify a solver to a hidden program:

[code]

Or if we want to just hard-code a solver:
[code]

---

I think the discussion in the issue mostly gets at how to suport Russ's (2) with some nice new routines.

[2020-03-17 14:59] #12859 closed

[2020-03-17 15:27] RussTedrake commented on #12877
I did not realize we already had `MakeSolver(id)`.  That does help (1).

[2020-03-17 15:29] hongkai-dai commented on #12877
I will add `MakeSolver(id)` to the mathematical program tutorial.

[2020-03-17 18:05] #12880 closed

[2020-03-17 18:12] hongkai-dai commented on #12877
Just added `MakeSovler(id)` to the tutorial in #12885

[2020-03-17 18:53] huihuaTRI opened #12886 "Some energy and power related calculation functions are missing in MBP"
Functions that are missing in MBP include
1. CalcKineticEnergy()
2. CalcNonConservativePower()

[2020-03-17 19:38] #12640 closed

[2020-03-17 19:50] mitiguy opened #12887 "Test whether or not linear_bushing_roll_pitch_yaw is quasi-symmetric"
Per comments in PR# 11946, there is a need for a "reversibility" test.

@amcastro-tri commented about whether the quasi-symmetric LinearBushingRollPitchYaw class is symmetric in a specific way.

@sherm1 responded with all the following:
Before we say any more about this, I would like to test the reversibility of the bushing. Although the parameterization is asymmetric, I think relabeling A and C a

[2020-03-17 20:07] mitiguy opened #12888 "Document that the shorthand vector notation [3 5 7]ʙ is 3 Bx + 5 By + 7 Bz"
Per conversations with @amcastro-tri  and @sherm1 while doing PR #11946,
document the shorthand vector notation  [3  5  7]ʙ.
Herein ʙ denotes a frame whose right-handed orthogonal unit vectors are Bx, By, Bz.
So, [3  5  7]ʙ  =  3 Bx + 5 By + 7 Bz.

Consider a short one-liner at:
https://drake.mit.edu/doxygen_cxx/group__multibody__quantities.html

[2020-03-17 21:28] sherm1 opened #12890 "Document Drake-standard meanings for "accuracy" and "tolerance""
(From discussion in PR #12875)

We've been inconsistent in use of terms like "precision", "accuracy", and "tolerance" in Drake. We should document how we define these terms and standardize on usage. From the PR discussion:

tol=accuracy*max(unit_value, |quantity_under_test|). In practice the unit_value is almost always set to 1 or 0.1 due to our nice choice of units.

I like Eric's idea of a gener

[2020-03-17 21:31] EricCousineau-TRI commented on #12890
:100: with you on this one!

[2020-03-17 23:06] EricCousineau-TRI commented on #12772
FTR It effectively happens here, which is what you mentioned as the brute force way:
https://github.com/EricCousineau-TRI/drake/blob/7f375bb60540d3a51b2619bba474748fd186e52c/tmp/model_check.py#L144

But yeah, at some point it would be nice to be able to mutate (un-finalize / delete+add / re-finalize?) the plant which we've spoken about.

[2020-03-18 01:09] RussTedrake opened #12892 "Support `IntegratorBase<Expression>`"
I am starting to try to write algorithms/systems that take an `IntegratorBase` as an argument.  For example, in `DirectTranscription`, I would like users to be able to choose the integration for continuous systems from the suite of integrators that we have.  But `DirectTranscription` also tries to add symbolic constraints when possible -- for instance so that `MathematicalProgram` can realize when

[2020-03-18 01:13] RussTedrake opened #12893 "Support `IntegratorBase<double>::ToAutoDiffXd()` or a work-around"
I need this in order to pass in an integrator as an argument to e.g. `DirectTranscription` using the current idiom, where users pass in a `System<double>`, `Context<double>`, etc and all conversions to autodiff/symbolic happen inside the algorithm).

A possible work-around would be to have something similar to the `MakeSolver(SolverId)` pattern in `MathematicalProgram`.  But this would not allow u

[2020-03-18 01:14] jwnimmer-tri commented on #12892
These days the code changes should be even more minimal than years past.  We have `Formula` now contextually convertible to `bool` and `if constexpr (scalar_predicate<T>::is_bool) { ...` available as of C++17.

[2020-03-18 14:13] amcastro-tri commented on #12887
Further thought on this made me realize that @sherm1's idea to reverse the bushing should work.
What I realized also, I believe, is that the mechanical system represented still is not symmetric. What happens when you "reverse" it is that you recover the original non-symmetric model.

In other words, someone has to say `bushing_element.Reverse()` right? Again, not a defect but  trying to understand

[2020-03-18 14:15] jwnimmer-tri commented on #8475
FYI I'm prototyping the rcfile changes in Anzu.  If we bake that for a while and like it, I'll pull the changes into Drake (Ubuntu only) next.

[2020-03-18 15:33] sherm1 commented on #12887
I don't understand your comment above, Alejandro. Are you saying you think the current bushing doesn't produce identical forces and torques at A and C? That is what we're claiming it does but it is easy to test.

[2020-03-18 16:47] amcastro-tri commented on #12887
In a nutshell, someone has to say `bushing_element.Reverse()` by hand. What does that tell you about the physics being modeled?

[2020-03-18 17:23] sherm1 commented on #12887
Nothing -- I still don't understand your point. I think we're all in agreement that "quasi symmetric" refers to whether the forces and torques are the same on both bodies. That is all we're asking for in a "symmetric" bushing -- we know the parameterization is not symmetric. I can't tell from your comment whether you are saying that we aren't even achieving that limited kind of symmetry?

[2020-03-18 19:47] frankpermenter commented on #12876
Hey, Russ,

@RussTedrake A standard error measure for SDPs are the DIMACS errors:
 http://plato.asu.edu/dimacs/node3.html

They are actually computed in spotless (https://github.com/spot-toolbox/spotless/blob/master/spotopt/util/spot_sdp_dimacs.m).

[2020-03-19 00:59] jwnimmer-tri commented on #12811
Yup, trying to get shared_ptr working for Context in pydrake is too difficult.

My new opinion is that we should keep the `unique_ptr` in the Simulator API for use by C++, but we should also overload on raw pointer and bind only that overload (not unique_ptr) for pydrake -- with appropriate keep_alive, of course.  That matches how we pass the `System` to the simulator.  In C++ where typical lifeti

[2020-03-19 01:32] sherm1 opened #12903 "Split simulator_gflags methods up to enable downstream use"
@amcastro-tri created some very useful methods for dealing with common flags in Drake simulation examples. Per discussion in PR #12900 those can be used only in Drake because they are entangled with gflags which is a nightmare for installation and distribution (per @jwnimmer-tri). Jeremy had a nice proposal there for how these could be made more generally useful, which I've captured below:

-----

[2020-03-19 01:33] sherm1 commented on #12903
Assigning to @amcastro-tri initially for lack of an obvious assignee. Very low priority since no current demand; could be a warmup project for a new Drake developer?

[2020-03-19 13:04] EricCousineau-TRI commented on #12811
Do we want to take time to revisit whether `shared_ptr` can be used in the Drake API without too much runtime penalty? Otherwise, we will continue run into these sorts of issues.

(Granted, the overhaul to change the API is probably super high cost at the moment, and less then episodically doing the raw-pointer setup.)

[2020-03-19 13:10] jwnimmer-tri commented on #12811
I don't see how runtime penalty plays any part in these trade-offs.  The rationale for the current C++ APIs is not that.

I think the way to stomp out these issues globally is to disallow binding `unique_ptr` C++ parameters as pydrake functions.  There's not many of them right now, and you're right that every one of them is wrong.

[2020-03-19 13:18] EricCousineau-TRI commented on #12811
I don't think every one is wrong. It's only wrong when you're able to delete the object in C++ explicitly (e.g. via `Simulator.reset_context` or `Value.set_value`). Things like `DiagramBuilder.AddSytem` is currently correct, if we cannot delete the system.
If we do want to permit adding / removing things, perhaps we may want to consider `shared_ptr` / `weak_ptr` vs. `unique_ptr`/ `T*`, for simplic

[2020-03-19 13:48] EricCousineau-TRI commented on #12204
Sorry for not posting earlier, but I had tried this out on our hardware setup on 2020-02-28. Worked fine!

@jamiesnape Can we move forward on getting these packages up?

[2020-03-19 13:50] EricCousineau-TRI commented on #12868
@tehbelinda Curious, is this on `master`? We have code that runs find with Xvfb in Anzu, and does things like this. I will send you and Sean a Slack message to point out where.

[2020-03-19 13:53] jwnimmer-tri commented on #12868
The code is all in PRs: https://github.com/RobotLocomotion/drake/pulls/tehbelinda

[2020-03-19 13:56] EricCousineau-TRI commented on #12714
Since we're unable to repro this, will close this for now. Russ, if you're able to recreate, please let us know, along with browser / OS + trying a fresh session.

[2020-03-19 13:56] #12714 closed

[2020-03-19 13:58] EricCousineau-TRI commented on #12868
Aye, so encountering it here effectively:
https://github.com/RobotLocomotion/drake/blob/3f7c6520a985e28282cf5498a3b897cefdbea1b9/geometry/render/gl_renderer/opengl_context.cc#L40

[2020-03-19 14:39] EricCousineau-TRI commented on #12325
Just waiting to update Drake. May wait for VTK 9.

[2020-03-19 15:36] sherm1 commented on #12811
I do recall the runtime cost of shared_ptr as being one of the factors in our banning them from common use in Drake. But I think the free-for-all ownership was a bigger factor.

[2020-03-19 22:54] sammy-tri commented on #12857
(from old Slack convo):

Basically agree with the above.  I don't think `Clone` would necessarily be so bad, every path I can currently find through the derived classes of `DenseOutput` looks like it finally reaches a `HermitianDenseOutput` which looks like it could get `Clone` in a straightforward way.  Since `HermitianDenseOutput` uses `PiecewisePolynomial` under the hood, the implementation of

[2020-03-19 23:42] EricCousineau-TRI commented on #12604
Re-opening; see #12910 for details.

[2020-03-20 15:42] ggould-tri opened #12911 "Lack of force introspection makes model debugging hard"
This is a feature request, not a bug -- I have no reason to believe that Drake was doing anything odd, just that I could not figure out why my code using drake was buggy.

Trying to debug why a joint in my simulation reached equilibrium at an unexpected position, I found myself wanting to know all of the forces acting on it.  But this turns out to be very difficult, as there is no complete list of

[2020-03-20 15:54] amcastro-tri commented on #12911
Thank you @ggould-tri, this is a great list! I'd love to hear if you have any thoughts on a preferred API to request these.

[2020-03-20 17:17] ggould-tri commented on #12911
The two problems are (1) what are all the things exerting a force on this joint or body, and (2) what force is each of those things exerting.

So for example right now I have a joint that I believe has a gravity force, a joint limit force and a LinearSpringDamper force, and which is in equilibrium in a position that seems wrong to me.  I wish to debug this situation.  So I would want roughly:
 * A

[2020-03-20 19:01] EricCousineau-TRI opened #12912 "tutorials: Need to add tutorial for MultibodyPlant"
At present, we have tutorials for formulating IK / MP problems and doing rendering with MBP.
However, we don't have any succinct tutorials covering how MBP works.

Some things to do (which could be done in stages):
- Intro (kinematics, dynamics, topology, etc). Mostly, this should point to Doxygen / Underactuated textbook, and not repeat too much?
- Parsing models. Should also cover parsing multip

[2020-03-20 19:34] tehbelinda commented on #12868
I tried the GLEW/GLUT combo, but then ran into the same problem because it turns out GLUT still uses X under the hood to get a window context, oops.

So then I tried using GLEW/OSMesa instead for pure off-screen rendering, based off VTK's [vtkOSOpenGLRenderWindow](https://github.com/Kitware/VTK/blob/master/Rendering/OpenGL2/vtkOSOpenGLRenderWindow.cxx), but am unable to use the context it returns.

[2020-03-20 19:40] jamiesnape commented on #12868
No reason GLUT could not work. You do have X already, you just have fewer OpenGL features and extensions.

[2020-03-20 20:05] tehbelinda commented on #12868
Hmm but in CI I still saw the same X error? https://drake-cdash.csail.mit.edu/testDetails.php?test=37519443&build=1275560

[2020-03-20 20:42] tehbelinda commented on #12868
Oh I see what you mean, if I reduce the OpenGL version to 3.3...ok let me try further with this

[2020-03-21 00:15] sherm1 commented on #12911
Forces (including torques) along the joint axes come in two flavors:
- Forces directly applied to the axes, like actuators and torsional springs, and
- Body forces that are transmitted through the joint. (That includes gravity, centrifugal and coriolis force, contact forces, etc.)

Similarly, joints apply forces to bodies (both along actuated axes and as reaction forces in the non-moving direction

[2020-03-21 01:25] antequ commented on #12561
We should also add a setting that enables integrators to run without error estimation (maybe this deserves a separate issue). Currently setting fixed step mode to true simply runs the integrators without error control; they still compute the error estimation. For some integrators this would be easy to add, while for others this might be harder.

[2020-03-21 16:22] RussTedrake commented on #12912
I've had this on my list for a long time, too.  Here was my chicken-scratch thinking about what to include:
- Creating your multibody system from urdf/sdf.  Simple geometry inspector interface with jupyter joint sliders and an embedded meshcat visualizer
- Core design: MBP + SceneGraph
- Simulation.
  - Visualizers.  Playback.
  - Simulator as a ROS node
- Kinematics and dynamics.  Show symbolic.

[2020-03-22 02:29] hongkai-dai commented on #12912
I am modifying IK API as mentioned in https://github.com/RobotLocomotion/drake/issues/12849#issuecomment-598848762, I will add the IK tutorial after the API is stabilized.

[2020-03-22 15:51] RussTedrake commented on #12857
Basically, I think we should have one set of trajectory classes... if there are new trajectory types in the denseoutput hierarchy, I would like to be able to use them in all of the use cases of trajectory.

But looking again now in order to answer your question, I think now that the entire premise of the `HermiteDenseOutput` class might be redundant?  Why is it not just a `PiecewisePolynomial`, an

[2020-03-23 01:51] RussTedrake commented on #12857
Just looked a little more closely.  I think the right solution is to have `InitialValueProblem<T>::DenseSolve` return a `Trajectory`.  I think that instances of `HermitianDenseOutput` should be replaced with `PiecewisePolynomial`, and instances of `DenseOutput` should be replaced by `Trajectory`.  The entire `DenseOutput` hierarchy should be removed.

There are definitely some features in `Hermiti

[2020-03-23 12:31] RussTedrake opened #12923 "Clarify documentation of symbolic::isnan"
_Original title:  `isnan(Expression::NaN())` should return `Formula::True()`_

---

Sorry if I’ve made a mistake, but I’m pretty sure that currently
[code]
Throws an exception, because it has NaN in the environment.
I’d like it to return True.
(Once done, I can add `Expression` support for `RungeKutta3Integrator`)

[2020-03-23 12:41] jwnimmer-tri commented on #12923
Note:
[code]

It is not allowed to place NaN into a scalar when `T = Expression`.  Because symbolic algebra with NaN (and symbolic formulae over NaN) have complicated rules and defeat any straightforward attempts at using implication to simplify trees as they are constructed, we have ruled it out entirely.

My take is that the integrators' use of NaN to indicate an unset value is the real problem

[2020-03-23 12:44] jwnimmer-tri commented on #12923
Oops, the first part of what I said was wrong:
[code]

We promote NaN to its own cell type, so the constructor I posted was not relevant.

So yes, I think its valid to look into whether `isnan(Expression(NaN))` could behave better.

However, for the integrators, I still think we should remove the footgun sooner or later, even if we happen to resolve this issue's feature request first.

[2020-03-23 12:57] jwnimmer-tri commented on #12923
It turns out we have unit tests spelling out exactly what happens here:
https://github.com/RobotLocomotion/drake/blob/d78538c3cd6a3a172f641b0ef4b03ce7ae34f2ed/common/test/symbolic_formula_test.cc#L275-L289

[2020-03-23 13:01] RussTedrake commented on #12923
@soonho-tri is awesome.  :-)
But I am surprised at that throwing being considered the desired behavior.

I agree that the pattern with NaNs in `IntegratorBase` is not ideal.   @jwnimmer-tri -- can you open an issue for it?  (I think you will state the problem with more conviction than me).

[2020-03-23 13:19] jwnimmer-tri commented on #12923
I believe the NaN handling behaviors came from lots of f2f discussions between @soonho-tri and myself(?).

I think the reasoning was like so:
1. NaN values are extremely rare during typical computations.  Because they are difficult to handle symbolically, we'll round that up to "must never occur".  We allow the user to form `ExpressionNaN` cells in a symbolic tree, but evaluating a tree that has t

[2020-03-23 13:26] jwnimmer-tri commented on #12923
Or perhaps more to the point: I suspect that neither @soonho-tri nor myself foresaw using NAN across and API boundary to indicate presence vs absence.

I'll open the integrator issue later today.

[2020-03-23 13:35] soonho-tri commented on #12923
+1 for this. I'll check things and open a PR.

[2020-03-23 13:39] jwnimmer-tri commented on #12923
I think test case L279 proves that we already have that?

[2020-03-23 14:02] soonho-tri commented on #12923
@jwnimmer-tri , right. We already have it:

[code]

If `static_cast<bool>(isnan(Expression::NaN()))` is a real blocker. How about changing `FormulaIsnan::Evaluate` to check the existence of `NaN` in its subtrees and return `true` if found?
Note: because of possible existence of `if-then-else` in its sub-expressions, the `NaN` check should involve evaluation of conditional expressions in ITE, which

[2020-03-23 14:07] jwnimmer-tri commented on #12923
For the reasons outlined above and in #12904, I think we should stop using NaN as a gambler's `optional<double>`, instead of trying to add complexity to Expression / Formula that allow the programmer to win the bet sometimes.

[2020-03-23 14:33] jamiesnape commented on #12868
VTK uses OpenGL 2.x, for instance. If you stick to that, you will certainly be ok. The laptop I am currently using, quite new, but using Intel UHD graphics, only supports OpenGL 2.1. That is not an uncommon situation for the average laptop.

[2020-03-23 14:35] ggould-tri commented on #12911
From a debugging perspective, what I ideally want is a free body diagram like kids draw in high school physics :-)  "What are the forces" and "where is this particular force coming from" are the questions and the rest is detail.

It sounds to me from your description like the forces in the first category are forces on the joint (either from actuation, constraint, or topology), and the forces in th

[2020-03-23 14:48] #12604 closed

[2020-03-23 17:31] sherm1 commented on #12923
`optional` seems like a much better idea than NaN for the integrators!

[2020-03-23 20:19] tarquasso commented on #11827
👍

[2020-03-23 20:20] gavincangan commented on #11827
:+1:

[2020-03-23 22:27] EricCousineau-TRI opened #12926 "pydrake: Bad behavior when passing `[None]` to C++ site accepting `VectorXd`"
Per this Slack convo: https://drakedevelopers.slack.com/archives/C2CK4CWE7/p1584994164030500

@mpetersen94 found that this simulation would hang, even with `AdvanceTo(0.)`:
https://gist.github.com/mpetersen94/28b5f1a67347333afa3ce98e81e73054
@jwnimmer-tri pointed out that `set_tau` returns `None`, but was somehow the constructor for `ConstantVectorSource` was eating the error.

Here's a min repro

[2020-03-23 22:33] EricCousineau-TRI commented on #12926
More minimal:
[branch](https://github.com/EricCousineau-TRI/drake/tree/feature-2020-03-23-py-ub) | [commit](https://github.com/EricCousineau-TRI/drake/commit/c20ae9d3005964fc02ca4a29e43e218dad7b34c2)

[2020-03-23 22:36] EricCousineau-TRI commented on #12926
Also a problem in upstream, checked in Drake via 3ad30bdd4

[2020-03-23 22:48] tehbelinda commented on #12868
Ok [CI](https://drake-jenkins.csail.mit.edu/job/linux-bionic-unprovisioned-gcc-bazel-experimental-release/54/) seems happy with 3.3 - is it possible to get a new provisioned build with glut? @jamiesnape

[2020-03-23 22:50] jwnimmer-tri commented on #12926
I'm not displeased with the None => NaN conversion.  To me, the more important question is why the simulator is allowing the NaN to cause it to infinite loop.

[2020-03-23 23:01] EricCousineau-TRI commented on #12926
Aye. Well, the None => NaN is actually part of NumPy, so: d'oh!
https://github.com/pybind/pybind11/issues/2141#issuecomment-602903192

Will file separate issue about NaN-ness.

[2020-03-23 23:01] #12926 closed

[2020-03-23 23:06] sherm1 commented on #12926
See #12647.

[2020-03-23 23:10] EricCousineau-TRI commented on #12647
As @sherm1 cross-referenced, ran into this in #12926. Here's a min repro in Python of what @mpetersen94 encountered:

[code]

How hard is it to have this print out a dumb error for now? e.g. "Hey, you got a NaN. Figure it out."

[2020-03-23 23:11] EricCousineau-TRI commented on #12926
Thanks! Cross-posted there.

[2020-03-23 23:20] edrumwri commented on #12923
Since you guys (mainly Nimmer) are repeatedly maligning my use of NaN's to signal a different mode of operation, allow me to point out that we didn't have access to optional when I wrote the integrators!

[2020-03-24 00:44] jwnimmer-tri commented on #12892
@RussTedrake was #12922 sufficient or is there more to do here?

[2020-03-24 00:55] jwnimmer-tri opened #12927 "Integrators should not use NaN to mean "unset""
(Inspired by #12923.)

Currently, `IntegratorBase` and its derived classes use NaN to indicate "unset" or "not present" for some scalar-valued quantities, e.g., `max_step_size`.  This makes the code more difficult to read and reason about because then things like `h < max_step` and `h >= max_step` are not complementary -- they are both `false`.  For example, `if (max_step_size_ < req_min_step_size

[2020-03-24 00:55] jwnimmer-tri commented on #12923
=> #12927

[2020-03-24 01:02] jwnimmer-tri commented on #12923
Perhaps the remaining action to resolve this issue is to improve Expression's documentation?

I've been wanting for a while to have a "symbolic expression" group page in Doxygen to tie it all together.  We could explain the design for NaNs there, perhaps.

[2020-03-24 02:27] RussTedrake commented on #12923
that's great.  at very least, the docstring for `symbolic::isnan` could explain the reasoning.  It is correct as it is, but was not enough for me to understand.

[2020-03-24 02:34] RussTedrake opened #12928 "IsAffine(MatrixX<Expression>, variables)"
There are a number of places in the code where we are trying to check if a vector of Expressions is affine in some set of variables.
https://github.com/RobotLocomotion/drake/blob/master/systems/framework/system_symbolic_inspector.cc#L244
https://github.com/RobotLocomotion/drake/blob/master/solvers/create_constraint.cc#L45
https://github.com/RobotLocomotion/drake/blob/master/solvers/create_constrai

[2020-03-24 12:25] RussTedrake commented on #12892
#12922 was sufficient for now.  We can add support for more integrators on demand.  Thanks!

[2020-03-24 12:25] #12892 closed

[2020-03-24 12:30] RussTedrake commented on #12893
I've been toying with a work-around that passes the integrators in via templates, but it's not ideal because:
- it leads to a rat's nest of templated constructors (i could live with this)
- different integratorbase derived classes have different constructor arguments
- binding in python would have to hard code the class types and loop

I feel the right long-term answer is to do this with runtime v

[2020-03-24 14:36] jamiesnape commented on #12868
I need at least one LGTM on a PR that adds GLUT to the provisioning script(s) (#12788 or separate PR are both fine) and an issue asking for the provisioning that is assigned to myself and `@BetsyMcPhail`.

[2020-03-24 16:36] ggould-tri opened #12934 "Difficult for callers to satisfy prereqs of `MultibodyPlant::GetXByName`"
https://app.slack.com/client/T0JNB2DS4/C2WBPQDB7/thread/C2WBPQDB7-1585062720.104100
(mentioning @jwnimmer-tri here since he's on that thread)

 * GetJointByName is templated on joint type and is documented to throw on the wrong type.
 * It can be called with Joint and the result dynamic cast to the desired type, but using dynamic cast for control flow is GSG-discouraged.
 * HasJointNamed is not te

[2020-03-24 17:13] sherm1 commented on #12934
@ggould-tri I couldn't follow all of that -- how could type_name() be static? Can you sketch what you think would be an ideal version of the code you wrote above?

cc @amcastro-tri

[2020-03-24 17:18] ggould-tri commented on #12934
The ideal version wouid be something like
[code]
However that imaginary `GetJointByNameOrNull` is currently impossible to write correctly under GSG.

If there were a static type name available then I could write `GetJointByNameOrNull<J>()` by comparing `J::type_name()` to `GetJointByName<Joint>().type_name()`.  But as it is to get `type_name` from a template parameter I have to be able to construc

[2020-03-24 17:22] jwnimmer-tri commented on #12934
FWIW I think all joints have `template Joint::kTypeName` constant.  (Not that we should use it.)

[2020-03-24 20:57] tehbelinda opened #12936 "Add GLUT to provisioning scripts"
PR #12862 adds glut/glew for getting an opengl context and needs new provisioning

Related to #12868

[2020-03-24 22:01] SeanCurtis-TRI opened #12937 "[geometry] Profiling instrumentation"
Understanding the performance of the entities in `geometry/` requires more than simply profiling an execution and measuring percentage of time spent in a function. We need to have more insight into its behavior (for example, what is the culling efficiency of the bounding volume hierarchies?) We actually need meaningful counters.

This has precedent: the cache system maintains some bookkeeping.

Th

[2020-03-24 22:42] RussTedrake commented on #12857
I do think the name `Hermitian__` is probably better than `PChip` for the `PiecewisePolynomial` method.  I hope we can take the best from both hierarchies.

[2020-03-24 22:55] #12928 closed

[2020-03-25 01:30] RussTedrake commented on #12857
I've been thinking about this enough now that I will take a first cleanup pass.

[2020-03-25 01:45] jwnimmer-tri commented on #9040
Another idea: we could easily mark the lint tests as `flaky = True` iff on macOS.  (Possibly only in CI, too.)

[2020-03-25 11:02] RussTedrake opened #12941 "Clean up cubic piecewise polynomials construction method names"
Related to #12939 .  (ideally i'd like to fix this at the same time, to perform the deprecation gymnastics only once).

Currently we have [4 entry points](https://drake.mit.edu/doxygen_cxx/classdrake_1_1trajectories_1_1_piecewise_polynomial.html#a20607cb0f07faf355b2749c9b60d4758) for constructing cubic piecewisepolynomials (aka cubic splines):
1. `Cubic(breaks, samples, bool periodic)`
2. `Cubic(b

[2020-03-25 13:54] amcastro-tri commented on #12934
And `Joint::kTypeName` is public, so that'd allow us to write the GSG compliant `GetJointByNameOrNull()`?

[2020-03-25 14:53] jwnimmer-tri commented on #12877
FYI As we fix this, there is a helper function in Anzu that might be worth bringing over at the same time:
[code]

But even better than that function, I think the good API would be a simple function that returned a list of all `SolverId` that are built into Drake.  Then the user could write any predicates they wanted over that list -- e.g., searching by name, or adding / removing choices, filterin

[2020-03-25 14:59] EricCousineau-TRI commented on #9040
SGTM. Should we also consider shortening the timeout in that case?

[2020-03-25 15:01] jwnimmer-tri commented on #9040
They are all `size = "small"` already AFAICT.

[2020-03-25 15:12] ggould-tri commented on #12934
https://drake.mit.edu/doxygen_cxx/classdrake_1_1multibody_1_1_joint.html does not show `kTypeName`.  `kTypeName` does not appear in `joint.h` or its superclass header.  If a static type name constant is meant to be part of the joint concept, I think we need to say so somewhere?

[2020-03-25 19:01] #12941 closed

[2020-03-26 00:19] sherm1 opened #12942 "Unify treatment of forces in MultibodyPlant"
### Background

In PR #12895 I wanted to do some simple bookkeeping of energy and power in MultibodyPlant. My thought was to sum over the ForceElement's energy and power methods. However, it turns out that ForceElements are by no means the only way forces get applied to a MBPlant. There are in fact a bunch of essentially unrelated ways forces get applied, and there is no uniform way to accumulate

[2020-03-26 12:38] edrumwri opened #12944 "Unclear how to get the floating base positions and velocities using multibody::Body class"
I think it's safe at present to assume that floating bases have 7 positional and 6 velocity variables?

But for consistency with multibody::Joint, it would be good to have `num_floating_positions()` and `num_floating_velocities()` in multibody::Body methods so that one could obtain the positions and velocities for a floating base from a state array in a safe manner (especially since Body is so car

[2020-03-26 12:41] edrumwri commented on #12944
(Was going to treat this as a separate issue from #12807, but I'll just comment there instead).

[2020-03-26 12:41] #12944 closed

[2020-03-26 12:43] edrumwri commented on #12807
@amcastro-tri I think you want position_start() for consistency with multibody::Joint.

[2020-03-26 13:36] edrumwri commented on #12757
Can I upvote work on this? Just got bitten by this, even though I knew about it!

[2020-03-26 15:51] amcastro-tri commented on #12942
Thank you for the detailed summary @sherm1.
Interesting, do you think that input port applied forces should also be `ForceElement`s?

[2020-03-26 15:53] amcastro-tri commented on #12807
do you mean `Body::position_start()` @edrumwri? do you agree with my the proposal above?

[2020-03-26 15:53] mpetersen94 commented on #10770
During discussion of #12925, we realized that both the new `SystemSliders` and the `JointSliders` it is based off of are abusing the `Publish` method to update the GUI because the unrestricted update function that would be best for this purpose is not bound.  While these systems are just used for simple user interfacing, it sets a bad example for users that look into the source code.

[2020-03-26 15:57] amcastro-tri commented on #12757
Relates to #12807

[2020-03-26 16:05] amcastro-tri commented on #12942
Transcribing from comment in the review of #12895.

For power I believe that MBP could have another method like `MBP::CalcExternallyAppliedWork()`? which would only consider the work applied by input ports. It'd be a clean concept.

[2020-03-26 16:13] amcastro-tri opened #12947 "API to retrieve different spatial inertias"
It'd be nice having an API to retrieve different `SpatialInertia`s in their own Doxygen group. It'd include:
- `EvalBodySpatialInertiaInWorld()`, `M_BBo_W`
- `EvalCompositeBodySpatialInertiaInWorld()`, `R_BBo_W`
- `EvalArticulatedBodySpatialInertiaInWorld()`, `P_BBo_W` (actually an `ArticulatedBodyInertia`).

[2020-03-26 16:20] amcastro-tri commented on #12890
A very similar view in review comment of #12895:

[2020-03-26 16:34] #12936 closed

[2020-03-26 16:34] tehbelinda commented on #12936
No longer needed as we are sticking with X11

[2020-03-26 16:35] tehbelinda commented on #12868
Solved by reducing the openGL context version down from 4.5 to 3.3

[2020-03-26 16:35] #12868 closed

[2020-03-26 16:36] amcastro-tri commented on #12947
Notice we do have `MultibodyTreeSystem::EvalSpatialInertiaInWorldCache()` but this, and others, do not show up in MBP's Doxygen.

[2020-03-26 17:33] sherm1 commented on #12947
These would be good to have. The ones that return cache entries shouldn't be included though because those are `internal::`.

Not clear what "ArticulatedBodySpatialInertia" means above? A spatial inertia (10 numbers) is too restrictive to hold an articulated body inertia (21 numbers).

[2020-03-26 18:03] amcastro-tri commented on #12947
good catch, the result of copy/paste. Thanks.

[2020-03-26 18:46] edrumwri commented on #12807
Yes, @amcastro-tri, except Body::position_start()- I otherwise agree with your proposal. Note that by deprecating Body::floating_positions_start(), you could address #12757 simultaneously.

[2020-03-26 20:52] RussTedrake opened #12949 "define and declare drake::Polynomial<T> for default scalars"
This primarily involves breaking the dependency loop: symbolic::Expression depends on Polynomial.
As [discussed on Slack](https://drakedevelopers.slack.com/archives/C2PMBJVAN/p1585185144002300).

In case it helps, I also had to do one ugly `remove_const` in `EvaluateUnivariate`:  https://github.com/RobotLocomotion/drake/compare/master...RussTedrake:dense_output?expand=1#diff-4963957a9f06606f7b4059

[2020-03-26 23:18] sherm1 commented on #12942
Yes, my current proposal is that _all_ forces that affect an MBP should run through ForceElement so that we can localize all the energy and power computations there. It would be easy to make an "applied generalized forces" force element -- essentially it would just read the corresponding input port, add the result to the generalized forces, dot with the generalized velocities to generate non-conse

[2020-03-27 02:12] RussTedrake commented on #6901
@avalenzu -- hopefully #12939 resolved this.  will close.

[2020-03-27 02:12] #6901 closed

[2020-03-27 17:21] #12886 closed

[2020-03-27 17:28] amcastro-tri commented on #12942
ok.

also ok.

However, I don't think a good idea to place sources of energy in `CalcNonConservativePower()`  just because we don't have a better place. That's why I suggested `MBP::CalcExternallyAppliedPower()`.

Then your energy budget would be split as:
- Actually stored energy:
  - CalcKineticEnergy()
  - CalcPotentialEnergy()
- Internal power:
  - CalcConservativePower()
  - CalcNonConservati

[2020-03-27 18:03] sherm1 commented on #12942
Makes sense to me to split out external power in MBP. We would probably have to change some or all of the MBP method names to avoid confusion with the System virtuals. There is no equivalent of externally-applied power at the top-level Diagram since all forces are internal at that level. That is, the System framework method `CalcNonConservativePower()` _must_ include what MBP thinks is its externa

[2020-03-28 13:31] jwnimmer-tri opened #12962 "opengl_context_test error reports under valgrind"
`//geometry/render/gl_renderer:opengl_context_test` has lots of memcheck (valgrind) complaints.

We've disabled valgrind checking for now, as of #12963.  We need to mitigate the problem(s) and re-enable it.

Example error https://gist.github.com/jwnimmer-tri/fb63b425b61a33c27dbabb89d662a195 from https://drake-jenkins.csail.mit.edu/view/Valgrind%20Memcheck/job/linux-bionic-clang-bazel-nightly-valgr

[2020-03-28 13:48] jwnimmer-tri commented on #12289
Three more occurrences:
- https://drake-jenkins.csail.mit.edu/view/Production/job/mac-catalina-clang-bazel-nightly-debug/163/console
- https://drake-jenkins.csail.mit.edu/view/Production/job/mac-catalina-clang-bazel-nightly-everything-debug/164/console
- https://drake-jenkins.csail.mit.edu/view/Production/job/mac-catalina-clang-bazel-nightly-release/165/console

[2020-03-28 13:49] jwnimmer-tri commented on #12289
Homebrew curl https://formulae.brew.sh/formula/curl reports 7.69 as current.  Not sure why this is still happening.

[2020-03-28 22:18] edrumwri opened #12965 "Real-time state advancer"
We've been developing control and state estimation systems using the systems framework (i.e., by deriving systems from LeafSystem).

Though I'm sure we have yet to encounter all possible challenges to producing deterministic computation times, the framework has been working well in this regard thus far. Heap allocations can generally be avoided without much effort.

One of the mechanisms that was

[2020-03-28 23:38] sherm1 commented on #12965
I don't have a clear picture yet of how this would differ from the regular Simulator using a fixed-step integrator and real time throttling. Can you say more about the differences?

[2020-03-29 19:24] RussTedrake commented on #9501
Bringing this up again, as it continues to be a pain point for me.  Here is another use case that I feel blocked on:  I've got a simple plant with continuous state + scenegraph for visualization.  I've run a simulation, logging the data (or via DenseOutput), and now I want to effectively rewind the simulation to inspect an output at a previous time.  This should be easy to do, as the only real sta

[2020-03-29 21:57] sherm1 commented on #9501
If GeometryState isn't changing during the simulation, then just resetting the states that changed would be fine. We could make that rigorously testable by adding a serial number that gets bumped every time GeometryState (or more generally any abstract state) has its value changed. (We already have serial numbers for fixed input port values and cache entries.)

It doesn't make logical sense to sto

[2020-03-29 22:30] RussTedrake commented on #9501
I am working towards logging the whole Context at each trajectory (with the momentum I've got from cleaning up DenseOutput).  But this sentence offends my basic principles: "If GeometryState isn't changing during the simulation, then just resetting the states that changed would be fine."  Of course that's true, but methods I write at the System level can't know that.  If GeometryState isn't changi

[2020-03-29 23:25] sherm1 commented on #9501
I agree that if Geometry "State" really can't change, then an immutable member variable is the perfect place for it. However if it makes sense to have it changeable, it is still possible to keep track of whether it _has_ changed, and if not take advantage of that case (or write code that insists that no change has occurred).

There is some precedent for that: Discrete states (including abstract on

[2020-03-29 23:52] RussTedrake commented on #9501
I agree.  Of course adding things that do not change into the state vector is inefficient (and many algorithms scale in performance with the number of state variables).  But more importantly, we have many algorithms that are very clearly defined when there is vector-valued state, but don't know what to do about abstract state.  Although I admit that we could write a check that every algorithm writ

[2020-03-30 00:44] sherm1 commented on #9501
Maybe that could be justified for a particular application but I agree the right way to do this is to have a way to log the complete Context at every step. I think the only practical way to do that is to have a way to share the parts of the Context that don't change. CoW is my favorite way to do that because it preserves the semantics of copying while secretly optimizing invisibly.

In this partic

[2020-03-30 00:47] RussTedrake commented on #9501
I would be fine to have SceneGraph use state if/when it is dynamic over a simulation.  But would like that it does not have state when everything is static.

[2020-03-30 03:02] SeanCurtis-TRI commented on #9501
Seems reasonable that the big blob of data that is currently abstract state could be optionally configured as state or parameter. And, down the road, I can even imagine *aspects* of the blob being optionally state vs parameter. I'm going to ruminate (and probably tinker) on this.

[2020-03-30 03:06] SeanCurtis-TRI commented on #9501
@RussTedrake  on the subject of:

Presumably, geometry would ignore this for you, properly and automatically. As `SceneGraph` has no continuous state. Certainly, when you accumulate a diagram's continuous state, that state vector is unchanged whether I add a `SceneGraph` to the diagram or not. Or am I missing something?

[2020-03-30 03:16] RussTedrake commented on #9501
My point is that if I have a context with both continuous state and abstract state, then I cannot set only the continuous state and be assured of proper behavior.  It would be analogous to me setting only half of the continuous state and hoping that the other half was not important.

And I currently have no way of setting the abstract geometry state (since I don’t have a way to record it) to what

[2020-03-30 03:52] sherm1 commented on #9501
That part is clear -- you want to be sure that the full state x=[xc xd xa] has been restored to the value it had before, yet you have recorded only xc and are worried that the other parts have changed. For dealing with GeometryState in particular (currently in xa) there are three options discussed above:
- GeometryState ∈ xa (current situation; might change with time)
- GeometryState ∈ pa (abstrac

[2020-03-30 11:35] RussTedrake commented on #9501
I think my purpose is quite general, but the rules/philosophy of `Context` as I interpret them already provide the rules that I need.  `GeometryState` is the only(?) current implementation in our mainstream framework which we effectively force on people which violates my principles.

I know that where we disagree is around the notion of state.  `Context` is `time`, `state`, and `parameters`.  I kn

[2020-03-30 13:10] jamiesnape commented on #12289
Because Homebrew CMake uses the system curl. It is unlikely to use its own curl formula for both policy reasons and technical ones relating to circular build dependencies.

[2020-03-30 13:54] jwnimmer-tri commented on #12962
Now that I've updated my write-up, over to @SeanCurtis-TRI for triage.

[2020-03-30 15:19] sherm1 commented on #9501
Gotcha -- thanks for that clarification, Russ. Ideally you'd like to analyze systems that don't have abstract state, and GeometryState is the only thing gumming up the works at the moment. Moving that seems like a workable short term fix. I think we should also invent a rigorous way to ensure that a System that has abstract state has not changed any of those values over a trajectory of interest.

[2020-03-30 18:11] edrumwri commented on #12965
Sure, though I won't claim clarity on the entire picture yet because we're very early in the design process.

Here are the differences that I see (also incorporating the two that @sherm1 mentioned)) of the real-time state advancer compared to Simulator:
* Time would advance in lockstep with wall-time (i.e., no need for, e.g., get_actual_real_time_rate() and the like)
* Only integrators with predic

[2020-03-30 18:45] tehbelinda commented on #12962
Just adding some notes:
I see the same issue with CI when using Mesa. I also have errors, but less errors, when using Nvidia
[code]

[2020-03-30 19:19] omerfy commented on #2087
How the path must be? I have the same problem and I changed the path as

- /usr/lib/aarch64-linux-gnu/libGL.so

- /usr/lib/libGL.so.1

but it didn't work.

[2020-03-30 19:20] jwnimmer-tri commented on #12965
To me, those sound more like tweaks to the current Simulator than something that justifies a new implementation.

The "don't choose the wrong integrator (2)" and "don't declare expensive publish events (4)" and "don't set the realtime rate to other than 1.0 (1)" are only preventing user mistakes.  The possibility to use a Simulator under those conditions already exists today.

I think we could mee

[2020-03-30 20:08] edrumwri commented on #12965
Your proposal would suit my needs and would permit ignoring the problem of how to reuse code between the two mechanisms (Simulator and RTSA). So thumbs up from me.

But how could you address the problem that a Simulator is not the obvious name of a tool for accomplishing this task? A Simulator simulates a virtual version of a system while users would be looking for some way to advance the state fo

[2020-03-30 22:37] sherm1 commented on #12965
If the name is the only problem I think that just requires documentation. The Drake Simulator is the solver that advances a Drake System through time -- that's still happening here I assume? It's just that the Drake System diagram might not include a simulated robot?

[2020-03-30 23:09] tehbelinda commented on #12962
Potentially related? https://github.com/RobotLocomotion/drake/issues/7520
The vtk_test_tags which we use for the render engines already have the no_memcheck tag and link to #7520

[2020-03-31 03:24] SeanCurtis-TRI commented on #12962
Certainly the fact that the stack trace in #7520 includes `libX11.so.6.3.0` is interesting.  And the `swrast_dri.so` which appears there and in the mesa-version is also telling. (One would presume that `swrast_dri` is some form of software rasterizer.

[2020-03-31 12:38] edrumwri commented on #12965
Yes, the Simulator would still advance the system through time, but I disagree with the characterization that "it's just that the [diagram] might not include a simulated robot".  It's really that the Simulator would be co-opted to a new purpose, namely advancing the state in concert with wall-time. Some of the Simulator concepts, like "throttling the simulation" would no longer be a natural fit, a

[2020-03-31 12:42] jwnimmer-tri commented on #12965
When we think of a good name, we can use that name for the factory method that creates and returns a Simulator instance configured for this purpose.  (As well as create appropriate documentation sections or groups, or a new source folder, examples, or etc. that point people to it.)

[2020-03-31 13:34] ggould-tri commented on #12965
A version of this question came up in Drake "system 2" design four years ago.  The objections I had then do not bite so hard today (particularly as we have dropped Windows and MEX support) but I figured I should scribe them here for posterity.

* Realtime control is tightly coupled to system safety.  To say that Drake is suitable for realtime control requires either a strong disclaimer about safet

[2020-03-31 13:41] edrumwri commented on #12965
Excellent points, Grant. Thank you for dredging these up.

[2020-03-31 15:38] sherm1 commented on #12965
I don't understand how this is a difference in practice. Suppose I decide to advance the system by 1ms of "wall clock time" from t to t+1ms. If that step takes half a ms of compute time, the Simulator arrives at the end of its step at t+0.5ms (wall clock). Then it has to do nothing for 0.5ms to allow wall clock to catch up. That's exactly what happens now with real time factor=1. Can you explain h

[2020-03-31 16:28] edrumwri commented on #12965
Since you broached it, here's a difference where a real-time state advancer should probably do things differently than Simulator: Simulator uses sleep_until(x) in PauseIfTooFast(.), where x is the desired real-time target.  Some slop there is probably fine for non-real-time applications. For real-time applications, oversleeping the allocated interval is not acceptable, which would seem to indicate

[2020-03-31 16:52] sherm1 commented on #12965
A more-precise PauseIfTooFast() option could be added to the existing Simulator but nothing will make it a hard real-time system along the lines Grant presented above. For that we'd need a real time OS with guaranteed response times -- I don't think Ubuntu can provide that. OTOH, if you don't need the full hard RT treatment, then I think the issues are empirical -- how much slop can you tolerate,

[2020-03-31 17:11] EricCousineau-TRI commented on #12270
@sherm1 I'm gonna semi-hijack this issue to discuss usability issues with `ModelInstanceIndex` in `MultibodyPlant`, per this discussion:
https://github.com/robotlocomotion/drake/pull/12839#issuecomment-606752290

Basically, model instances are, in my mind, unduly coupled to construction. e.g. What if I have a controller that wants to an arm *and* a gripper as a unit, but I parse them from separate

[2020-03-31 17:14] edrumwri commented on #12965
You're right- it's infeasible to make Ubuntu hard real time, and that's okay. We'd like to be able to minimize/eliminate sources of running time nondeterminism when we advance our diagram's state, so if it's to be Simulator that's advancing State, a few things will likely have to be modified to better support real-time operation. It's not clear to me that any of the Simulator modifications to this

[2020-03-31 18:05] jwnimmer-tri commented on #12965
TBH if I were the application engineer, I'd never rely on AdvanceTo's self-interlocking anyway.  I'd set its realtime rate to 0.0 (no sleeping) and manually tick it with the exact step size I wanted, while using realtime software watchdogs in my calling code to fail fast (as Grant so well notes) when we exceed our budget, as well as monitoring how close to it we're coming.  I don't think building

[2020-03-31 18:27] edrumwri commented on #12965
That is indeed one of options we've considered. If this feature weren't built into Drake, it wouldn't be the end of the world for us, though it's not obvious to me that some provisions couldn't be made in Drake to facilitate this operation. I realize that the breadth of Drake's mission has meant that its use for control of real-time systems has not been baked-in from the beginning. Still, it seems

[2020-03-31 18:57] mitiguy commented on #12140
This issue was raised again in PR# 12839.  For consistency and parallel to the currently-implemented Jacobian names and with what is proposed in PR# 12839,  let's consider:

* CalcBiasAngularAcceleration()
* CalcBiasTranslationalAcceleration()
* CalcBiasSpatialAcceleration()
* CalcBiasCenterOfMassTranslationalAcceleration() -- done in PR #12839

This parallels the currently-implemented Jacobian na

[2020-03-31 21:40] sherm1 commented on #12140
I like these names. We should be sure to cross-reference in Doxygen though since it won't be obvious which methods are related.

[2020-03-31 21:49] sherm1 commented on #12965
A more nuts-and-bolts question: how much better is jitter with a thread::yield() busy-wait vs. sleep_until()? yield() still seems like it could be highly variable if anything else is going on. Maybe just making the Simulator process higher priority than anything else would make sleep_until() respond quickly?

[2020-03-31 22:06] sherm1 commented on #12270
@EricCousineau-TRI I don't think extending "model instance" is the right approach. I'm fine with that limited, construction-associated feature as is. A more-general mechanism is needed for constructing arbitrary, overlapping sets of MultibodyElements. For example, if we were able to associate an arbitrary set of tags with any element, it would be easy to construct sets of elements "with tag1 and t

[2020-04-01 00:38] jwnimmer-tri commented on #12965
There are many nuances of scheduling and wake-ups (see [sched(7)](http://man7.org/linux/man-pages/man7/sched.7.html) for starters), some of which is touched on in our [kuka_driver](https://github.com/RobotLocomotion/drake-iiwa-driver/blob/master/kuka-driver/kuka_driver.cc).  I don't think the simulator should wade too deeply into those waters at this point.  I'd rather us just focus on the heap al

[2020-04-01 00:41] DamrongGuoy commented on #12441
Now we have an intermediate solution in master.  It checks the angle between the rigid geometry's surface normal and the soft geometry's pressure gradient vector.

I have an example in my branch https://github.com/DamrongGuoy/drake/tree/contact_thin_objects `bazel run //examples/scene_graph:contact_surface_thin_object`. It has a moving soft ball between a rigid thin plate and a rigid bowl.  It sho

[2020-04-01 00:41] #12441 closed

[2020-04-01 01:13] edrumwri commented on #12965
SGTM!

[2020-04-01 13:10] edrumwri commented on #12270
A related problem to that which @EricCousineau-TRI broached is computing kinematics and dynamics quantities for a subset of MBP. The prevalent pattern for dealing with this in Drake has been to construct a MBP(+SG) for each combination of bodies that one is interested in (e.g., a MBP+SG containing a robot and manipulands for simulation plus a MBP containing only the robot for inverse dynamics cont

[2020-04-01 16:00] sherm1 commented on #12270
That would be good. I'd be interested to know the specific list of quantities that would be useful for arbitrary sets of bodies, or more generally arbitrary sets of MultibodyElements. Some things wouldn't make sense for unconnected subsets.

[2020-04-01 16:57] rcory commented on #12175
Even updating the existing documentation would help, perhaps with a note that it will be improved later. I just got bit by this issue and was totally puzzled until I finally came accross this issue. A small note in the documentation would have helped.

[2020-04-01 20:34] edrumwri opened #12980 "Computing kinematics and dynamics for a subset of MultibodyPlant"
We need a way to compute kinematics and dynamics quantities for a subset of bodies/coordinates in MultibodyPlant. Reproducing initial discussion from #12270:

A non-exhaustive list of quantities / operations we'd like to be able to compute a subset for / apply to a subset include:
* Generalized inertia + Coriolis terms (alternatively, inverse dynamics computation for a subset of coordinates)
* Spa

[2020-04-02 01:49] mitiguy opened #12982 "Implement power and potential energy methods in LinearBushingRollPitchYaw class."
Implement virtual methods (or replace) CalcPotentialEnergy(),  CalcConservativePower(), CalcNonConservativePower() that are current throwing exceptions in the class LinearBushingRollPitchYaw via PR #11946.  In doing this, leverage work for issue #12752.

[2020-04-02 03:28] sherm1 commented on #12980
Thanks for this helpful list, Evan! Many of the items can't be computed for _arbitrary_ sets of bodies, but require that the bodies form a subtree in the full multibody tree. It's also not clear to me what it would mean to do inverse dynamics on a subset of bodies -- is there some restriction in your mind that the subset would be a full subtree (like a robot arm) that is not connected to anything

[2020-04-02 12:50] amcastro-tri commented on #12980
ditto @sherm1's comment, we might want to prune that list a bit based on that comment.

Re:

Are you using something like the `InverseDynamicsController`? (that's what we usually do). In that case I propose the solution is to enhance the API for `InverseDynamicsController` so that it know about the "robot" within a model of "the entire world" and gives you an actuation that you can plug straight i

[2020-04-02 12:53] siyuanfeng-tri commented on #12980
i am guessing evan has a giant mbp model with a robot with tens or hundreds boxes, and he doesn't want to do inverse dynamics on everything, only a subset (e.g. his robot), and the subset is likely determined at runtime based on q and qdot of the full system.

[2020-04-02 12:56] amcastro-tri commented on #12980
yeap, that's the application I have in mind. The solution I propose would address that.

you mean the world changes (more/less boxes) but the robot stays the same right?

[2020-04-02 13:12] siyuanfeng-tri commented on #12980
not if evan wants to compensate for the different weighted boxes in his controller?

yes, but different boxes would come near and interact with the robot at run time.

[2020-04-02 13:51] edrumwri commented on #12980
Right! I have yet to think much about API changes to effect the necessary modifications. It seems like a number of people are struggling with getting the current API to do what they want, like @ggould-tri in #12849, @EricCousineau-TRI in #12270, and @rcory in #12203. So perhaps it's time to think about the MBP API v2.0? I'd be happy to contribute to that discussion as just one of many interested p

[2020-04-02 13:59] edrumwri commented on #12980
Not perfectly the same to what I've described in this issue, but #12203 touches on this too. In #12203's case, it's mainly a usability issue. But to answer your question, I don't know whether a number of separate issues should be created since many of them seem interrelated. I'll happily comment in a new issue if you decide to create one.

[2020-04-02 14:25] amcastro-tri commented on #12980
@siyuanfeng-tri, I still don't understand the problem to be solved. If the approach is "use some sort of inverse dynamics controller", it doesn't matter how the world around the robot changes, the controller will try to compensate for the errors regardless of how external disturbances are generated (either by new boxes of changes in current boxes), no?

As I said before with similar issues to this

[2020-04-02 14:34] EricCousineau-TRI commented on #12660
Just to check, is this still an issue?

[2020-04-02 14:36] ToffeeAlbina-TRI commented on #11531
@EricCousineau-TRI  to read documentation, determine if this issue can be closed.

[2020-04-02 15:04] siyuanfeng-tri commented on #12980
Depends on implementation details. For example, if it needs to cancel some external forces, it needs to deal with a J^T * F part somewhere. And depending on how you write the system, that J term potentially depends on other part of the mbp.

I think your list is a good starting point.

[2020-04-02 15:51] RussTedrake commented on #12660
I was able to run it on that same machine today, and everything worked.  Will close it now, and reopen if it ever rears it's head again.

[2020-04-02 15:51] #12660 closed

[2020-04-02 16:21] hongkai-dai opened #12987 "upgrade to gurobi 9"
Currently we support gurobi 8.0.1.

Can we support both gurobi 8 and gurobi 9? Their C++ API are compatible, and it is possible that some of our users have gurobi 8, but hasn't purchased gurobi 9 yet.

[2020-04-02 17:11] sherm1 commented on #12759
Done in PR #12812 -- thanks, @huihuaTRI !

[2020-04-02 17:11] #12759 closed

[2020-04-02 17:20] sherm1 commented on #12600
@mitiguy should this be closed now?

[2020-04-02 17:26] sherm1 commented on #12473
@amcastro-tri is this still an issue?

[2020-04-02 18:22] jwnimmer-tri commented on #7355
@EricCousineau-TRI now that we use the pre-existing Eigen (not installing our own), I think this issue can be closed?

[2020-04-02 18:31] jwnimmer-tri opened #12989 "Homebrew cellar paths can change out from under us"
I have a macOS build that I visit from time to time to debug macOS-specific problems.  On my latest visit there, I got this error during a build:
[code]

The problem seems to be that the include path for clp changed during a homebrew upgrade since the last time I'd built, but nothing in bazel knew to re-run pkg-config to obtain the new path.

In #12988, I've added support for `configure = True` so

[2020-04-02 18:35] amcastro-tri commented on #12473
The assert was removed in #12469. We were asking for a residual close to machine epsilon while the analysis above reveals the error is O(h) (with h time step). Still a good estimation of reaction forces with order of accuracy consistent with the method's accuracy.

Therefore I will close for now unless we believe we want to drop the residual to machine epsilon for some other reason.

[2020-04-02 18:48] jwnimmer-tri commented on #12632
After writing the above, I did a lot more reading about properly seeding monte-carlo simulations.  There is a whole body of work on the topic.  I think the notes above are "good enough" and avoid the terrible problems you were worried about, but we could probably still do better in terms of using more of the generator's potential state space during initialization (the seed bits are much smaller th

[2020-04-02 18:56] mitiguy commented on #12600
@sherm1 This issue is now closed.
I searched the code base and it seems that GeometricJacobian and AnalyticalJacobian now only occupy a poor spot in the old deprecated RigidBodyTree attic.

[2020-04-02 18:56] #12600 closed

[2020-04-02 19:00] EricCousineau-TRI commented on #7355
Yup!

(Also, this was written for `catkin` / ROS1-based workflows; given that ROS2 / `ament_cmake` no longer seem to generate / interface with `pkg-config`, yeah, it's way less important.)

[2020-04-02 19:00] #7355 closed

[2020-04-02 19:01] soonho-tri commented on #12989
I liked this option. @jamiesnape , is there any harm in running `bazel sync`?

[2020-04-02 19:01] EricCousineau-TRI commented on #12989
(Keeping Jamie only on assignee list)

[2020-04-02 21:43] jamiesnape commented on #12989
Philosophically, it seems a little beyond the scope of the file, but it would not hurt so long as you checked the script was actually run from within a workspace (I often download just the raw scripts when provisioning, for example). Not sure if there is a clean way to detect if anything was actually upgraded and display a warning, but that would be my preference if it were possible.

[2020-04-03 01:26] jwnimmer-tri commented on #12989
I agree with that sentiment.

For now the better first step sounds like rewriting homebrew paths in particular.

[2020-04-03 01:57] RussTedrake commented on #12949
Closed by #12973

[2020-04-03 01:57] #12949 closed

[2020-04-03 13:55] jamiesnape commented on #12325
FYI VTK 9.0 RC1 is out.

[2020-04-03 20:17] TobiaMarcucci opened #12997 "Binder and Colab are compiled without any MIP solver"
As discussed with @hongkai-dai. cc @EricCousineau-TRI.

Currently it is not possible to solve mixed integer programs (linear or quadratic) in pydrake using Binder or Colab, since Drake is not compiled with Gurobi or Mosek there. Would it be possible to support MILP and MIQP in some way in Binder and Colab? Thanks.

[2020-04-03 23:00] EricCousineau-TRI commented on #12997
If you're talking about completely public, unrestricted access to the solvers, my initial guess would be no, it wouldn't be possible due to licensing restrictions.

@jwnimmer-tri and @jamiesnape: Can I ask if this sounds accurate?

Can you describe your specific use-case? e.g.
* Why do you want it in Binder / Colab?
* Who are the intended users? (who do you want to have access to it?
* Are there p

[2020-04-03 23:11] TobiaMarcucci commented on #12997
I understand and agree. But I think it might be worth finding a MIP solver that can be used on Drake's Binder tutorials or in Colab for Underactuated? Even if it is not super performant.

My use case: I'm writing problem sets for the Underactuated class (which is now Colab only) and I'd like the students to solve some MILPs/MIQPs. I don't know about license-free solvers, but @hongkai-dai wrote a s

[2020-04-03 23:26] EricCousineau-TRI commented on #12997
I believe that we have an explicit agreement with Snopt that we are permitted to redistribute it compiled into Drake, but only if we prevent the public symbols from being accessible (i.e., people can only use Snopt through Drake's interface, not anything else).

I do not believe we have an agreement like that in place with Gurobi or Mosek.
@hongkai-dai Can I ask if you know anything about that?

T

[2020-04-03 23:39] hongkai-dai commented on #12997
Yes, I can add a python binding for the branch-and-bound C++ implementation in Drake. Will try it over the weekend.

A better solution is probably to add the third party MILP solvers. We have the following options

1. [Cbc](https://projects.coin-or.org/Cbc) from COIN-OR. It uses EPL 1.0 license
2. [GLPK](http://www.gnu.org/software/glpk/glpk.html) I am not sure what license it uses, seems GPL?
3.

[2020-04-03 23:41] jwnimmer-tri commented on #12997
Issue #11200 is slightly related.

Yes, we have special permission to distribute SNOPT in binary-only form to the public when called via the MathematicalProgram interface.

We do not have any such agreement for Gurobi or Mosek.  For an MIT class, you may be able to offer it to students using MIT's licenses.  Something akin to #8836 could offer a "bring your own Gurobi".  Or, within the class you c

[2020-04-03 23:42] jwnimmer-tri commented on #12987
Duplicate of #12419.

[2020-04-03 23:46] jwnimmer-tri commented on #12997
We already use a bunch of COIN-OR libraries in Drake (EPL); that is fine.  The `coinor-cbc/bionic 2.9.9+repack1-1 amd64` is already in Ubuntu 18.04.

GLPK is GPL-3 so we cannot use it.

SCIP's license excludes commercial use so we cannot use it.

[2020-04-03 23:46] hongkai-dai commented on #12997
@TobiaMarcucci Also to make sure that we are on the same page, in the slack discussion you said the pset will solve MILP. In the github comment above you mentioned both MILP and MIQP. Do you want to support both MILP and MIQP? CBC and GLPK doesn't work for MIQP.

[2020-04-03 23:53] #12987 closed

[2020-04-04 01:17] TobiaMarcucci commented on #12997
In the particular pset I have in mind (footstep planning) MILP would work fine, but I think in general we would end up solving MIQPs more often? I think the typical use of MIP in the class would be for some simple hybrid MPC with quadratic cost. So I think a solver that could do both would be better.

[2020-04-04 02:12] 54WC opened #13000 "[2020-04-04 08:06:00.825] [console] [warning] TypeHash<T> cannot operate on T=drake::multibody::MultibodyPlant<double>::HydroelasticFallbackCacheData; Value<T> may suffer from slightly impaired performance."
This warning appeared on bash console since last Drake/Underactuated python update. ( Follow Course Textbook for 2020 Underactuated Robotics: A3.1 Install Drake and A3.2 Download the textbook supplement)
The warning message show on the console can't help me to remove warning.
Could you advice me how to fix it ? Is it related to my code , console setup or Drake source code?
Thank you.

[2020-04-04

[2020-04-04 03:55] SeanCurtis-TRI commented on #13000
The most important thing I can tell you is that you can freely ignore the warning. There's nothing you did to cause and basically nothing you can do to remove it.

The second most important thing is that you're only getting this message because the build of Drake you're currently using is mildly out of date. This issue (and a related issue) were resolved in #12953 and #12932, seven and eleven days

[2020-04-04 03:56] SeanCurtis-TRI commented on #13000
I'm going to close this because of the explanation given (solved in master, nothing to do or worry about if you're older than master). Feel free to re-open if this is still causing you problems.

[2020-04-04 03:56] #13000 closed

[2020-04-04 10:41] RussTedrake commented on #12997
#11200 seems very relevant here, indeed.  We could potentially use MIOSQP for the class even if it's not a good candidate for shipping with drake.  But I do think we'd want to trampoline the `SolverInterface` methods to python so that we could write the wrapper and have everything run through the `MathematicalProgram` interface.  @TobiaMarcucci -- do you think MIOSQP is a viable option?

[2020-04-04 13:20] TobiaMarcucci commented on #12997
Yes, MIOSQP could be an option. From what Bartolomeo told me, the branch and bound part is not optimized, but it should work fine for small problems. Also should be able to solve MILPs, I guess, since OSQP can solve LPs. So it can definitely be an option for class. But I can come back to you with more details on that.

I think for class it'd be very important for it to be accessible via the `Mathe

[2020-04-04 13:58] jwnimmer-tri commented on #12997
#11200 alludes to this but I'll restate it more directly:

For a solver (or solver adapter) written in Python, the most important thing is that the solver can call all of the methods on MathematicalProgram required to retrieve the problem specification, and all of the methods on MathematicalProgramResult required to populate the result.

It is not strictly required that the solver extend SolverInt

[2020-04-04 14:23] RussTedrake commented on #12997
Excellent point @jwnimmer-tri.  Thanks.  That’s obviously the correct path forward (even if we did eventually want to somehow make it available via the generic `Solve`).

[2020-04-04 14:25] RussTedrake commented on #12997
@TobiaMarcucci — i guess if both @hongkai-dai’s existing branch and bound and MIOSQP both profess to being unoptimized B&B, then perhaps it’s better to go with @hongkai-dai’s after all?

[2020-04-04 14:32] TobiaMarcucci commented on #12997
I think it makes sense to go for Hongkai's.

Fwiw: Just spoke with Bartolomeo who told me that, for MILPs, MIOSQP might suffer a bit since, for non-strictly convex QPs, OSQP does not have linear convergence rate. He suggests to add some quadratic regularization in case.

[2020-04-04 18:36] antequ commented on #12927
I agree with the sentiments expressed here; it causes a lot of developer burden and our current code is pretty brittle.

At the same time, we might also want to consider adding some tests just to ensure our behavior around NaNs and other special floating point values are expected and don't change as we modify integrator code in the future. I'm not sure specifically how we would add these, as there

[2020-04-04 20:00] sherm1 commented on #12927
Also see #12647 on the topic of integrators and NaNs.

[2020-04-06 14:53] SeanCurtis-TRI commented on #11628
An alternative resolution:

It isn't clear that the `MeshField` *family* is particularly providing value.

1. We currently have no plan on actually using any implementation except the linear field. Even if we opt for a non-linear pressure field, it will still be represented with a piecewise linear field.
2. We've introduced methods to the linear implementation that doesn't exist for the base class

[2020-04-06 16:26] SeanCurtis-TRI commented on #12128
Why is the cylinder mesh a problem?

[2020-04-06 19:08] jwnimmer-tri commented on #12927
Some methods are currently called `get/set_maximum_step_size` but everywhere else in the code calls it `max_step_size` (not `maximum_step_size` spelled out).  I suggest deprecating the old longer method names concurrently with changing their nan-semantics.

[2020-04-06 20:04] amcastro-tri commented on #12128
Good question, I don't see a problem with the tetrahedra being highlighted above.
I wonder though if there are tetrahedra on the top/bottom rims that, as with the box, have all their nodes on the rim and thus a penetration extend field that is zero in the entirety of each tetrahedra. That'd definitely be a big problem.

[2020-04-06 20:56] SeanCurtis-TRI commented on #12128
@amcastro-tri I agree with you -- I likewise assumed that the cylinder corners would/could suffer from the same problem as box corners. Corners being the nuisance.

[2020-04-07 01:54] RussTedrake commented on #12857
#13008 represents the final PR in the first phase of this cleanup -- the integrators no longer depend on `DenseOutput` (they use `PiecewisePolynomial` instead).   The only remaining consumer that I am aware of is the `InitialValueProblem` pipeline.  I think the `DenseOutput` hierarchy should now be deprecated.  The only question is whether we port the `InitialValueProblem` classes to use `Trajecto

[2020-04-07 03:37] sherm1 commented on #12857
Thoughts on this, @edrumwri ?

[2020-04-07 04:12] psigen opened #13010 "`install_prereqs` check in `repo_template.bzl` fails on nightly docker builds."
In `drake/repo_template.bzl`, there is a check to ensure than an existing install path includes `share/drake/setup/install_prereqs`:
https://github.com/RobotLocomotion/drake/blob/master/tools/install/bazel/repo_template.bzl#L57

However, the nightly docker images do not include this file:
[code]

This makes it impossible to use the Drake docker image's installation as an install path in Bazel, as

[2020-04-07 14:59] jwnimmer-tri commented on #12857
My only comment is that once we have a plan in place, I would like to announce it in the release notes -- even if the deprecation markers have not yet been inserted.  I'd link back to this issue so users can become aware ahead of seeing the warnings.

[2020-04-07 15:45] #12997 closed

[2020-04-08 00:26] mitiguy commented on #12140
It would be helpful to have acceleration bias notation that parallels the currently-implemented Jacobian notation.  Herein 𝑠 = q̇ or 𝑠 = v.

J𝑠_w_AB_E  = CalcJacobianAngularVelocity( ... )
Frame B's angular velocity Jacobian in frame A with respect to speeds 𝑠, expressed in frame E.

Example: Jq̇_v_AB_E  or  Jv_v_AB_E
J𝑠_v_ABi_E = CalcJacobianTranslationalVelocity( ... )
J𝑠_v_ACcm_E  = CalcJacobia

[2020-04-08 13:36] jwnimmer-tri commented on #4326
@sammy-tri Could you post a note about recent need for xacro, please?

[2020-04-08 13:48] jwnimmer-tri commented on #12158
We have surveyed most known users, and the following timeline seems suitable.  Please let us know of any difficulties:

Proposed dates (approximate):
2020-04-15 release 0.17; mention the upcoming deprecation in relnotes
2020-05-15 release 0.18; mention the upcoming deprecation in relnotes
2020-05-25 add deprecation markers
2020-06-15 release 0.19 will be the first with compiler warnings
2020-07-15

[2020-04-08 14:39] jwnimmer-tri commented on #12158
Brainwave -- I think we could early on (~today) add a once-per-process runtime warning for anyone who imports (pydrake) or constructs (C++) any attic code.  That's relative unobtrusive compared to a `[[deprecated]]` compiler warning on every symbol, and might help give more warning to any users we don't know about.

[2020-04-08 15:24] sammy-tri commented on #4326
In #13007, I managed to get the collision models for the Jaco arm-only and arm + hand models out of sync when manually merging changes between the two.  Building arm only and arm + hand models from the same source is a typical use for xacro, Franka does so for their model of the panda, for example in https://github.com/frankaemika/franka_ros/tree/kinetic-devel/franka_description/robots  Additional

[2020-04-08 15:51] jwnimmer-tri commented on #4326
https://github.com/jwnimmer-tri/drake/commits/ros_xacro appears to work with `--help` and one of Anzu's xacro files as a sanity check.  Probably just needs a regression test added and we can PR to Drake.

\CC @EricCousineau-TRI @IanTheEngineer FYI

[2020-04-08 19:08] RussTedrake commented on #11831
@sherm1 , @mitiguy -- safe to close this one now, right?

[2020-04-08 20:34] #13010 closed

[2020-04-08 20:40] sherm1 commented on #11831
Closed via PR #11946, with energy and power methods TBD covered in issue #12982.

[2020-04-08 20:40] #11831 closed

[2020-04-08 20:46] jwnimmer-tri commented on #11831
I would like to see parser support for this (`<drake:linear_bushing_roll_pitch_yaw>`) before calling the story complete.  I don't see an issue for that yet?  Even in Anzu we're substantially less likely to use it without parser support.

[2020-04-08 21:08] RussTedrake commented on #11831
I was thinking that it would not be a new tag, but that it would be added automatically if the sdf contained a closed kinematic chain.  Had a conversation with @joemasterjohn along those lines.

[2020-04-08 21:10] jwnimmer-tri commented on #11831
Fine by me, whatever mechanism makes sense.

[2020-04-08 22:43] sherm1 commented on #11831
Having an explicit tag makes sense even if we do add them automatically also. I'll open an issue for that.

[2020-04-08 23:08] sherm1 opened #13021 "Need parsing support for the bushing force element"
The LinearBushingRollPitchYaw element currently can only be defined through the C++ API. Should be possible to add it explicitly from sdf or udf via a custom `drake:` tag.

In addition we may want to consider creating a bushing automatically when we detect a topological loop. That's a much bigger project and NOT the topic of this issue! I've captured Russ's comment about it below for future refere

[2020-04-08 23:12] sherm1 commented on #11831
-> #13021 (for the parsing tag, not automatic bushing generation)

[2020-04-09 12:06] edrumwri opened #13024 "Mock LCM does not unsubscribe on delete"
Per this line, https://github.com/RobotLocomotion/drake/blob/8f449959b0bd4acf8495d1a0a1dd4013da0d7be1/lcm/drake_mock_lcm.cc#L33, the Mock LCM does not unsubscribe on delete. This caused a segfault in our code when a subscription that should have been deleted from the interface was instead handled.

[2020-04-09 12:41] jwnimmer-tri commented on #13021
I realized later -- we'll need a new tag for sure, because we have plans to use the bushing other than for kinematic chains.  (Is that correct, @ggould-tri?)

[2020-04-09 13:00] ggould-tri commented on #13021
My plan to use it for eg our rack joints in anzu is predicated on it ending up in sdf, yes.

That is not necessarily a high priority item for your design -- anzu isn't going to block on this in any near future scenario -- but I would argue that if sdf is meant to be the primary way that scenario data gets into Drake then all Drake mechanical features should be accessible via sdf.  The alternative

[2020-04-09 13:16] ggould-tri commented on #13024
It's not obvious to me which team should own this issue; I'm assigning it to dynamics but feel free to reassign it if you have a better idea.

[2020-04-09 14:09] SeanCurtis-TRI commented on #13024
For my own clarification -- how did a method on the deleted LCM interface get invoked? The mock interface uniquely owns its subscriptions (and the handlers). Those handlers are only exercised in `DrakeMockLcm::HandleSubscriptions()`, so to invoke one of those subscription handlers `HandleSubscriptions()` must have been invoked on a deleted mock interface?  What am I missing?

[2020-04-09 14:12] EricCousineau-TRI opened #13025 "libsdformat: Should stop installing unneeded `*.sdf` files"
From this Slack convo:
https://drakedevelopers.slack.com/archives/C0KDGF4V9/p1582640775001400

jamiesnape  1 month ago
Is there a reason we (still) ship various .sdf files in share/sdformat/sdf/1.6 of our packages? Looks like we actually embed all that data into the sdformat binary.

eric.cousineau  1 month ago
Probably just forgot to remove them.

jwnimmer-tri  1 month ago
Would be nice to drop t

[2020-04-09 14:16] EricCousineau-TRI commented on #11531
I still don't think that `<0, 1>` implies that the module is the nurse. The module is simply the containing scope. TTBOMK, `<0, 1>` normally implies `self` for *methods of classes*, but does not imply the scope owner in other cases.

Will see if I can confirm that.